Repository microsoft/fluentui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @microsoft/fluentui-react-build, @justSlone, @jurokapsiar, @kolaps33, @assuncaocharles, @layershifter, @miroslavstastny, @pompomon, @ling1726, @chrisdholt, @EisenbergEffect, @nicholasrice, @ecraig12345, @Raghurk, @lorejoh12, @evlevy, @KatherineThayerMicrosoft, @jahnp, @bigbadcapers, @microsoft/cxe-red, @khmakoto, @dzearing, @phkuo, @teams-prg, @hyoshis, @Jacqueline-ms, @wsmd, @bsunderhus, @behowell, @cxe-prg, @sopranopillow, @ThomasMichon, @leddie24, @yiminwu, @markionium, @mtennoe, @Jahnp, @Vitalius1

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, @global-owner1 and @global-owner2
# will be requested for review when someone opens a pull request.
# *   @global-owner1 @global-owner2

# Order is important; the last matching pattern takes the most precedence.
# When someone opens a pull request that only modifies JS files, only @js-owner
# and not the global owner(s) will be requested for a review.
# *.js@js-owner

# You can also use email addresses if you prefer. They'll be used to look up
# users just like we do for commit author emails.
# docs/  docs@example.com

###### Build Section ######
#### Repo-wide build files - Note these will only be applied if another rule below does not apply
*.sh @microsoft/fluentui-react-build
*.yml @microsoft/fluentui-react-build

#### Build folders
/.codesandbox/ @microsoft/fluentui-react-build
/.devops/ @microsoft/fluentui-react-build
/.github/ @microsoft/fluentui-react-build
/.githooks/ @microsoft/fluentui-react-build
/.storybook/ @microsoft/fluentui-react-build
/.vscode/ @microsoft/fluentui-react-build
/scripts/ @microsoft/fluentui-react-build
/tools @microsoft/fluentui-react-build

#### Root Build files
/.eslintrc.* @microsoft/fluentui-react-build
/.gitattributes @microsoft/fluentui-react-build
/.gitignore @microsoft/fluentui-react-build
/.npmrc @microsoft/fluentui-react-build
/.npmignore @microsoft/fluentui-react-build
/jest.preset.js @microsoft/fluentui-react-build
/lerna.json @microsoft/fluentui-react-build
/package.json @microsoft/fluentui-react-build
/sizeauditor.json @microsoft/fluentui-react-build
/tsconfig.json @microsoft/fluentui-react-build
/tsconfig.base.json @microsoft/fluentui-react-build
/yarn.lock @microsoft/fluentui-react-build
/*.config.js @microsoft/fluentui-react-build

#### NX related files
/nx.json @microsoft/fluentui-react-build
/workspace.json @microsoft/fluentui-react-build
/migrations.json @microsoft/fluentui-react-build

#### Meta and License stuff
/LICENSE @microsoft/fluentui-react-build @justSlone @jurokapsiar
/packages/react/LICENSE @microsoft/fluentui-react-build @justSlone @jurokapsiar
/.github/CODEOWNERS @microsoft/fluentui-react-build @justSlone @jurokapsiar

#### Fluent UI N*
packages/a11y-rules/ @kolaps33 @assuncaocharles @layershifter @miroslavstastny @pompomon @jurokapsiar @ling1726
packages/a11y-testing/ @kolaps33 @assuncaocharles @layershifter @miroslavstastny @pompomon @jurokapsiar @ling1726
packages/fluentui/ @assuncaocharles @layershifter @miroslavstastny @pompomon @jurokapsiar @ling1726

#### Web Components
packages/web-components @chrisdholt @EisenbergEffect @nicholasrice

#### Apps
# component-demo/
public-docsite/ @ecraig12345
public-docsite-resources/ @ecraig12345 @justSlone
perf-test/ @microsoft/fluentui-react-build
# ssr-tests/
# todo-app/

#### Packages
packages/react-charting/ @Raghurk
packages/react-date-time @lorejoh12 @evlevy
packages/date-time-utilities @lorejoh12 @evlevy
packages/eslint-plugin/ @microsoft/fluentui-react-build
packages/react-docsite-components/ @ecraig12345
packages/react-file-type-icons/ @KatherineThayerMicrosoft @jahnp @bigbadcapers
packages/foundation-legacy/ @microsoft/cxe-red @khmakoto
# packages/font-icons-mdl2/
# packages/jest-serializer-merge-styles/
packages/merge-styles/ @dzearing
packages/monaco-editor/ @ecraig12345
packages/public-docsite-setup/ @ecraig12345
packages/react-hooks/ @microsoft/cxe-red @ecraig12345
packages/style-utilities/ @dzearing
packages/style-utilities/src/interfaces/ @phkuo @dzearing
packages/style-utilities/src/styles/ @phkuo @dzearing
packages/theme/ @dzearing
packages/react-provider/ @teams-prg
packages/react-monaco-editor/ @ecraig12345
# packages/utilities/
packages/utilities/positioning/ @microsoft/cxe-red
packages/azure-themes/ @hyoshis @Jacqueline-ms @wsmd
packages/make-styles/ @teams-prg
packages/react-make-styles/ @teams-prg
packages/react-aria/ @bsunderhus
packages/babel-make-styles/ @teams-prg
packages/jest-serializer-make-styles/ @teams-prg

### Fabric
# common/
packages/common-styles/src/ @microsoft/cxe-red @phkuo
common/_semanticSlots.scss @microsoft/cxe-red @phkuo
common/_themeOverrides.scss @microsoft/cxe-red @phkuo
common/_common.scss @microsoft/cxe-red @phkuo

## Component packages
packages/react-avatar/ @microsoft/cxe-red @behowell
packages/react-menu/ @teams-prg
packages/react-badge/ @ling1726 @layershifter @assuncaocharles @behowell
packages/react-button/ @microsoft/cxe-red @dzearing @khmakoto
packages/react-card/ @microsoft/cxe-red @khmakoto
packages/react-checkbox/ @microsoft/cxe-red @khmakoto
packages/react-components/ @layershifter @miroslavstastny
packages/react-focus/ @microsoft/cxe-red @khmakoto
packages/react-image/ @cxe-prg
packages/react-input/ @microsoft/cxe-red @ecraig12345
packages/react-storybook/ @cxe-prg @ling1726 @layershifter
packages/storybook/ @cxe-prg @ling1726 @layershifter
packages/react-link/ @microsoft/cxe-red @khmakoto
packages/react-slider/ @microsoft/cxe-red
packages/react-tabs/ @microsoft/cxe-red @behowell
packages/react-toggle/ @microsoft/cxe-red @behowell
packages/react-tooltip/ @microsoft/cxe-red @behowell
packages/react-label/ @microsoft/cxe-red @sopranopillow

## Components
packages/react @microsoft/cxe-red
packages/react/src/components/ActivityItem/ @microsoft/cxe-red @khmakoto
packages/react/src/components/Announced/ @microsoft/cxe-red @khmakoto
packages/react/src/components/Breadcrumb/ @microsoft/cxe-red @khmakoto
packages/react/src/components/Button/ @microsoft/cxe-red @khmakoto
packages/react/src/components/Calendar/ @lorejoh12
packages/react/src/components/CalendarDayGrid/ @lorejoh12
packages/react/src/components/Check/ @microsoft/cxe-red @ThomasMichon @khmakoto
packages/react/src/components/Checkbox/ @microsoft/cxe-red @khmakoto
packages/react/src/components/ChoiceGroup/ @microsoft/cxe-red @ecraig12345
packages/react/src/components/Coachmark/ @microsoft/cxe-red @leddie24
packages/react/src/components/ColorPicker/ @microsoft/cxe-red @ecraig12345
packages/react/src/components/DatePicker/ @lorejoh12
packages/react/src/components/DetailsList/ @microsoft/cxe-red @ThomasMichon
packages/react/src/components/DocumentCard/ @microsoft/cxe-red @yiminwu
packages/react/src/components/Fabric/ @microsoft/cxe-red @dzearing
packages/react/src/components/Facepile/ @microsoft/cxe-red @markionium @mtennoe
packages/react/src/components/FolderCover/ @microsoft/cxe-red @ThomasMichon @bigbadcapers
packages/react/src/components/FocusTrapZone/ @microsoft/cxe-red @khmakoto
packages/react/src/components/GroupedList/ @microsoft/cxe-red @ThomasMichon
packages/react/src/components/HoverCard/ @microsoft/cxe-red @Jahnp @Vitalius1
packages/react/src/components/Icon/ @microsoft/cxe-red @dzearing @ecraig12345
packages/react/src/components/Image/ @microsoft/cxe-red @dzearing
packages/react/src/components/Label/ @microsoft/cxe-red @khmakoto
packages/react/src/components/Layer/ @microsoft/cxe-red @ThomasMichon
packages/react/src/components/Link/ @microsoft/cxe-red @khmakoto
packages/react/src/components/List/ @microsoft/cxe-red @ThomasMichon
packages/react/src/components/MarqueeSelection/ @microsoft/cxe-red @ThomasMichon
packages/react/src/components/MessageBar/ @microsoft/cxe-red @ecraig12345
packages/react/src/components/Nav/ @microsoft/cxe-red @ecraig12345
packages/react/src/components/Overlay/ @microsoft/cxe-red @khmakoto
packages/react/src/components/Panel/ @microsoft/cxe-red @khmakoto
packages/react/src/components/Persona/ @microsoft/cxe-red @markionium @mtennoe
packages/react/src/components/PersonaCoin/ @microsoft/cxe-red @mtennoe @markionium
packages/react/src/components/Pivot/ @microsoft/cxe-red @behowell
packages/react/src/components/SearchBox/ @microsoft/cxe-red @ecraig12345
packages/react/src/components/Shimmer/ @microsoft/cxe-red @Vitalius1
packages/react/src/components/SpinButton/ @microsoft/cxe-red @ecraig12345
packages/react/src/components/Stack/ @microsoft/cxe-red @khmakoto
packages/react/src/components/SwatchColorPicker/ @microsoft/cxe-red @ecraig12345
packages/react/src/components/Text/ @microsoft/cxe-red @khmakoto
packages/react/src/components/TextField/ @microsoft/cxe-red @ecraig12345
packages/react/src/components/Toggle/ @microsoft/cxe-red @khmakoto
packages/react/src/components/Tooltip/ @microsoft/cxe-red @behowell
packages/react/src/components/WeeklyDayPicker/ @lorejoh12

## Theming and styling
packages/react/src/utilities/ThemeProvider @microsoft/cxe-red @dzearing

## Experiments
packages/react-experiments/src/components/Signals/ @ThomasMichon
packages/react-experiments/src/components/Tile/ @ThomasMichon
packages/react-experiments/src/components/TileList/ @ThomasMichon

chore(vr-tests): cleanup deps that are already in root
  apps/vr-tests/package.json
Owners: none

Fixed when chart data is empty for Stacked Bar and Multi Stacked Bar chart. (#18811)
  change/@fluentui-react-charting-33f77694-92d5-460d-b4e5-d9cec93f81e2.json
  packages/react-charting/src/components/StackedBarChart/MultiStackedBarChart.base.tsx
  packages/react-charting/src/components/StackedBarChart/StackedBarChart.base.tsx
Owners: @Raghurk

Set ChatMessage timestamp to inline-block (#18837)
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/themes/teams/components/Chat/chatMessageStyles.ts
Owners: @assuncaocharles, @layershifter, @miroslavstastny, @pompomon, @jurokapsiar, @ling1726

Fix compact hover background in dark themes (#18842)
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/themes/teams-dark-v2/components/Chat/chatMessageVariables.ts
  packages/fluentui/react-northstar/src/themes/teams-dark/components/Chat/chatMessageVariables.ts
Owners: @assuncaocharles, @layershifter, @miroslavstastny, @pompomon, @jurokapsiar, @ling1726

Align ChatMessageDetails color with header
  packages/fluentui/react-northstar/src/themes/teams-dark-v2/componentVariables.ts
  packages/fluentui/react-northstar/src/themes/teams-dark-v2/components/Chat/chatMessageDetailsVariables.ts
  packages/fluentui/react-northstar/src/themes/teams-v2/componentVariables.ts
  packages/fluentui/react-northstar/src/themes/teams-v2/components/Chat/chatMessageDetailsVariables.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Chat/chatMessageDetailsStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Chat/chatMessageDetailsVariables.ts
Owners: @assuncaocharles, @layershifter, @miroslavstastny, @pompomon, @jurokapsiar, @ling1726

Add changelog entry
  packages/fluentui/CHANGELOG.md
Owners: @assuncaocharles, @layershifter, @miroslavstastny, @pompomon, @jurokapsiar, @ling1726

feat(Colors): Add new color scheme tokens & color palette values (#18827)
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/themes/teams-dark/colors.ts
  packages/fluentui/react-northstar/src/themes/teams-high-contrast/colors.ts
  packages/fluentui/react-northstar/src/themes/teams/colors.ts
Owners: @assuncaocharles, @layershifter, @miroslavstastny, @pompomon, @jurokapsiar, @ling1726

Remove title tooltip from close button on TeachingBubble (#18771)
  change/@fluentui-react-0d58d8e0-bfd5-4792-ae7c-ed484c764279.json
  change/@fluentui-react-examples-dba766e8-3fa8-46e3-b932-0f2160dc3539.json
  packages/react-examples/src/react/__snapshots__/CommandBar.CommandBarButtonAs.Example.tsx.shot
  packages/react/src/components/TeachingBubble/TeachingBubbleContent.base.tsx
Owners: @microsoft/cxe-red

fix(Datepicker): aria-popup on the wrong element (#18838)
  change/@fluentui-react-8bd054ef-8fac-4642-a332-1a58f592952a.json
  packages/react/src/components/DatePicker/DatePicker.base.tsx
  packages/react/src/components/DatePicker/__snapshots__/DatePicker.test.tsx.snap
Owners: @lorejoh12

Button: Remove pointer-events: 'none' from disabled styles.
  packages/office-ui-fabric-react/src/components/Button/BaseButton.styles.ts
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/Button.Split.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/CommandBar.SplitDisabled.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/Icon.SvgFactory.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/Nav.Basic.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/SpinButton.BasicDisabled.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/SpinButton.BasicWithIconDisabled.Example.tsx.shot
Owners: none

split out menu-list stories, hide internal
  packages/react-examples/.storybook/manager-head.html
  packages/react-menu/.storybook/main.js
  packages/react-menu/.storybook/preview.js
  packages/react-menu/src/stories/Default.stories.tsx
  packages/react-menu/src/stories/Menu/AligningWIthSelectableItems.stories.tsx
  packages/react-menu/src/stories/Menu/AligningWithIcons.stories.tsx
  packages/react-menu/src/stories/Menu/ControlledPopup.stories.tsx
  packages/react-menu/src/stories/Menu/CustomMenuTrigger.stories.tsx
  packages/react-menu/src/stories/Menu/CustomTarget.stories.tsx
  packages/react-menu/src/stories/Menu/Default.stories.tsx
  packages/react-menu/src/stories/Menu/NestedSubmenus.stories.tsx
  packages/react-menu/src/stories/Menu/SelectionGroup.stories.tsx
  packages/react-menu/src/stories/Menu/TabOrder.internal.stories.tsx
  packages/react-menu/src/stories/Menu/WithGroups.stories.tsx
  packages/react-menu/src/stories/MenuList.stories.tsx
  packages/react-menu/src/stories/MenuList/AligningWIthIcons.stories.tsx
  packages/react-menu/src/stories/MenuList/AligningWithSelectableItems.stories.tsx
  packages/react-menu/src/stories/MenuList/CheckboxItems.stories.tsx
  packages/react-menu/src/stories/MenuList/CheckboxItemsControlled.stories.tsx
  packages/react-menu/src/stories/MenuList/Container.tsx
  packages/react-menu/src/stories/MenuList/Default.stories.tsx
  packages/react-menu/src/stories/MenuList/DefaultCheckedValues.stories.tsx
  packages/react-menu/src/stories/MenuList/MemoCheckboxItems.stories.tsx
  packages/react-menu/src/stories/MenuList/MemoRadio.stories.tsx
  packages/react-menu/src/stories/MenuList/NestedSubmenus.stories.tsx
  packages/react-menu/src/stories/MenuList/RadioItems.stories.tsx
  packages/react-menu/src/stories/MenuList/RadioItemsControlled.stories.tsx
  packages/react-menu/src/stories/MenuList/SelectionGroups.stories.tsx
  packages/react-menu/src/stories/MenuList/ShortcutText.tsx
  packages/react-menu/src/stories/MenuList/WithDivider.stories.tsx
  packages/react-menu/src/stories/MenuList/WithGroups.stories.tsx
  packages/react-menu/src/stories/MenuList/WithIcons.stories.tsx
Owners: @teams-prg

revert web-components change
  packages/web-components/.eslintrc.js
Owners: @chrisdholt, @EisenbergEffect, @nicholasrice

Change files
  change/@fluentui-react-examples-0568762a-a50b-4fea-98c7-b94aa8d7858e.json
  change/office-ui-fabric-react-c701200e-2e82-42d3-92af-e2d5ab6e9b34.json
Owners: none

revert nx.json change
  nx.json
Owners: @microsoft/fluentui-react-build

revert preview.js change
  packages/react-examples/.storybook/preview.js
Owners: none

revert main.js change
  packages/react-menu/.storybook/main.js
Owners: @teams-prg

revert preview.js change
  packages/react-menu/.storybook/preview.js
Owners: @teams-prg

improve comment
  packages/react-examples/.storybook/manager-head.html
Owners: none

Updating snapshots.
  packages/experiments/src/components/Pagination/__snapshots__/Pagination.test.tsx.snap
Owners: none

Change files
  change/@uifabric-experiments-8af4b78d-42fd-4144-b2e7-41e7f07a0c4b.json
Owners: none

Set id correctly on header item when title is an IContextualMenuItem
  apps/vr-tests/src/stories/Button.stories.tsx
  packages/office-ui-fabric-react/src/components/ContextualMenu/ContextualMenu.base.tsx
Owners: none

Change files
  change/office-ui-fabric-react-6cb0fb86-3b85-434a-b698-8d193a7375dd.json
Owners: none

fix command
  packages/react-popover/package.json
Owners: none

remove stories change
  apps/vr-tests/src/stories/Button.stories.tsx
Owners: none

Set id correctly on header item when title is an IContextualMenuItem
  packages/react/src/components/ContextualMenu/ContextualMenu.base.tsx
Owners: @microsoft/cxe-red

Change files
  change/@fluentui-react-c026b72f-794c-4564-a877-dd2019858d78.json
Owners: none

Initial changes.
  packages/react/src/components/Callout/CalloutContent.base.tsx
  packages/react/src/utilities/positioning/positioning.ts
Owners: @microsoft/cxe-red

Button pointer events (#18851)
  change/@fluentui-react-examples-0568762a-a50b-4fea-98c7-b94aa8d7858e.json
  change/@uifabric-experiments-8af4b78d-42fd-4144-b2e7-41e7f07a0c4b.json
  change/office-ui-fabric-react-c701200e-2e82-42d3-92af-e2d5ab6e9b34.json
  packages/experiments/src/components/Pagination/__snapshots__/Pagination.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Button/BaseButton.styles.ts
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/Button.Split.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/CommandBar.SplitDisabled.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/Icon.SvgFactory.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/Nav.Basic.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/SpinButton.BasicDisabled.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/SpinButton.BasicWithIconDisabled.Example.tsx.shot
Owners: none

Cleaning up some code.
  packages/react/src/components/Callout/CalloutContent.base.tsx
Owners: @microsoft/cxe-red

Removing async from useEffect
  packages/react/src/components/Callout/CalloutContent.base.tsx
Owners: @microsoft/cxe-red

Addressing PR feedback.
  packages/react-button/src/components/Button/Button.types.ts
  packages/react-button/src/components/Button/useButtonState.ts
  packages/react-button/src/components/Button/useButtonStyles.ts
  packages/react-button/src/components/CompoundButton/useCompoundButtonStyles.ts
  packages/react-button/src/components/ToggleButton/useToggleButtonStyles.ts
Owners: @microsoft/cxe-red, @dzearing, @khmakoto

Align ChatMessageDetails color with header (#18840)
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/themes/teams-dark-v2/componentVariables.ts
  packages/fluentui/react-northstar/src/themes/teams-dark-v2/components/Chat/chatMessageDetailsVariables.ts
  packages/fluentui/react-northstar/src/themes/teams-v2/componentVariables.ts
  packages/fluentui/react-northstar/src/themes/teams-v2/components/Chat/chatMessageDetailsVariables.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Chat/chatMessageDetailsStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Chat/chatMessageDetailsVariables.ts
Owners: @assuncaocharles, @layershifter, @miroslavstastny, @pompomon, @jurokapsiar, @ling1726
