Repository microsoft/fluentui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @microsoft/fluentui-react-build, @justSlone, @jurokapsiar, @microsoft/fluentui-northstar, @Hirse, @chrisdholt, @EisenbergEffect, @nicholasrice, @microsoft/fluentui-v8-website, @microsoft/fluentui-react, @microsoft/cxe-red, @microsoft/cxe-coastal, @hyoshis, @Jacqueline-ms, @microsoft/teams-prg, @microsoft/fluent-date-time, @khmakoto, @dzearing, @microsoft/charting-team, @jahnp, @bigbadcapers, @microsoft/cxe-prg, @phkuo, @behowell, @smhigley, @spmonahan, @sopranopillow, @micahgodbolt, @tomi-msft, @geoffcoxmsft, @chpalac, @ling1726, @ThomasMichon, @leddie24, @yiminwu, @Jahnp

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, @global-owner1 and @global-owner2
# will be requested for review when someone opens a pull request.
# *   @global-owner1 @global-owner2

# Order is important; the last matching pattern takes the most precedence.
# When someone opens a pull request that only modifies JS files, only @js-owner
# and not the global owner(s) will be requested for a review.
# *.js@js-owner

# You can also use email addresses if you prefer. They'll be used to look up
# users just like we do for commit author emails.
# docs/  docs@example.com

###### Build Section ######
#### Repo-wide build files - Note these will only be applied if another rule below does not apply
*.sh @microsoft/fluentui-react-build
*.yml @microsoft/fluentui-react-build

#### Build folders
/.codesandbox @microsoft/fluentui-react-build
/.devcontainer @microsoft/fluentui-react-build
/.devops @microsoft/fluentui-react-build
/.github/workflows @microsoft/fluentui-react-build
/.githooks @microsoft/fluentui-react-build
/.storybook @microsoft/fluentui-react-build
/.vscode @microsoft/fluentui-react-build
/scripts @microsoft/fluentui-react-build
/tools @microsoft/fluentui-react-build

#### Root Build files
/.eslintrc.* @microsoft/fluentui-react-build
/.gitattributes @microsoft/fluentui-react-build
/.gitignore @microsoft/fluentui-react-build
/.npmrc @microsoft/fluentui-react-build
/.npmignore @microsoft/fluentui-react-build
/jest.preset.js @microsoft/fluentui-react-build
/lerna.json @microsoft/fluentui-react-build
/package.json @microsoft/fluentui-react-build
/sizeauditor.json @microsoft/fluentui-react-build
/tsconfig.json @microsoft/fluentui-react-build
/tsconfig.base.json @microsoft/fluentui-react-build
/yarn.lock @microsoft/fluentui-react-build
/*.config.js @microsoft/fluentui-react-build
/typings @microsoft/fluentui-react-build

#### NX related files
/nx.json @microsoft/fluentui-react-build
/workspace.json @microsoft/fluentui-react-build
/migrations.json @microsoft/fluentui-react-build

#### Meta and License stuff
/LICENSE @microsoft/fluentui-react-build @justSlone @jurokapsiar
/packages/react/LICENSE @microsoft/fluentui-react-build @justSlone @jurokapsiar
/.github/CODEOWNERS @microsoft/fluentui-react-build @justSlone @jurokapsiar
/.github/ISSUE_TEMPLATE* @justSlone @jurokapsiar

#### Fluent UI N*
packages/a11y-rules @microsoft/fluentui-northstar
packages/a11y-testing @microsoft/fluentui-northstar
packages/fluentui @microsoft/fluentui-northstar
packages/fluentui/react-northstar/src/components/Chat @microsoft/fluentui-northstar @Hirse
packages/fluentui/react-northstar/src/themes/teams/components/Chat @microsoft/fluentui-northstar @Hirse

#### Web Components
packages/web-components @chrisdholt @EisenbergEffect @nicholasrice

#### Apps
apps/public-docsite @microsoft/fluentui-v8-website
apps/public-docsite-resources @microsoft/fluentui-v8-website
apps/perf-test @microsoft/fluentui-react-build
apps/perf-test-react-components @microsoft/fluentui-react-build
apps/ts-minbar-test-react @microsoft/fluentui-react-build
apps/ts-minbar-test-react-components @microsoft/fluentui-react-build
apps/vr-tests @microsoft/fluentui-react
apps/vr-tests-react-components @microsoft/fluentui-react
apps/ssr-tests @microsoft/fluentui-react
apps/pr-deploy-site @microsoft/fluentui-react-build
apps/test-bundles @microsoft/fluentui-react
apps/public-docsite-v9 @microsoft/cxe-red @microsoft/cxe-coastal @microsoft/fluentui-react-build
apps/theming-designer @microsoft/fluentui-react

#### Packages
packages/azure-themes @hyoshis @Jacqueline-ms
packages/bundle-size @microsoft/teams-prg
packages/date-time-utilities @microsoft/fluent-date-time
packages/eslint-plugin @microsoft/fluentui-react-build
packages/foundation-legacy @microsoft/cxe-red @khmakoto
# packages/font-icons-mdl2
# packages/jest-serializer-merge-styles

packages/merge-styles @dzearing
packages/monaco-editor @microsoft/fluentui-v8-website
packages/public-docsite-setup @microsoft/fluentui-v8-website
packages/react-components/priority-overflow @microsoft/teams-prg
packages/react-components/react-aria @microsoft/teams-prg
packages/react-cards @microsoft/cxe-red @khmakoto
packages/react-charting @microsoft/charting-team
packages/react-components/react-conformance-griffel @microsoft/teams-prg
packages/react-components/react-context-selector @microsoft/teams-prg
packages/react-date-time @microsoft/fluent-date-time
packages/react-docsite-components @microsoft/fluentui-v8-website
packages/react-file-type-icons @jahnp @bigbadcapers
packages/react-hooks @microsoft/cxe-red
packages/react-monaco-editor @microsoft/fluentui-v8-website
packages/react-components/react-positioning @microsoft/teams-prg
packages/react-components/react-overflow @microsoft/teams-prg
packages/react-components/react-shared-contexts @microsoft/teams-prg
packages/react-components/react-storybook @microsoft/cxe-prg @microsoft/teams-prg
packages/react-components/react-storybook-addon @microsoft/cxe-prg
packages/react-components/react-tabster @microsoft/teams-prg
packages/react-components/react-theme @microsoft/teams-prg
packages/react-components/react-utilities @microsoft/teams-prg
packages/storybook @microsoft/cxe-prg @microsoft/teams-prg
packages/style-utilities @dzearing
packages/style-utilities/src/interfaces @phkuo @dzearing
packages/style-utilities/src/styles @phkuo @dzearing
packages/theme @dzearing
packages/utilities @microsoft/cxe-red

### Fabric
# common/
packages/common-styles/src @microsoft/cxe-red @phkuo
common/_semanticSlots.scss @microsoft/cxe-red @phkuo
common/_themeOverrides.scss @microsoft/cxe-red @phkuo
common/_common.scss @microsoft/cxe-red @phkuo

## vNext packages
packages/react-components/keyboard-keys @microsoft/teams-prg
packages/react-components/react-accordion @microsoft/teams-prg @microsoft/cxe-coastal
packages/react-components/react-avatar @microsoft/cxe-red @behowell @khmakoto
packages/react-components/react-badge @microsoft/teams-prg @microsoft/cxe-red @behowell
packages/react-components/react-button @microsoft/cxe-red @khmakoto
packages/react-components/react-card @microsoft/cxe-prg
packages/react-components/react-checkbox @microsoft/cxe-red @khmakoto
packages/react-components/react-combobox @microsoft/cxe-coastal @smhigley
packages/react-components/react-components @microsoft/fluentui-react
packages/react-components/react-dialog @microsoft/teams-prg
packages/react-components/react-divider @microsoft/cxe-coastal
packages/react-focus @microsoft/cxe-red @khmakoto
packages/react-components/react-image @microsoft/cxe-prg
packages/react-components/react-input @microsoft/cxe-red @spmonahan
packages/react-components/react-label @microsoft/cxe-red @sopranopillow @micahgodbolt
packages/react-components/react-link @microsoft/cxe-red @khmakoto @microsoft/cxe-coastal
packages/react-components/react-menu @microsoft/teams-prg
packages/react-components/react-popover @microsoft/teams-prg
packages/react-components/react-portal @microsoft/teams-prg
packages/react-components/react-provider @microsoft/teams-prg
packages/react-components/react-radio @microsoft/cxe-red @behowell @spmonahan
packages/react-components/react-select @microsoft/cxe-coastal @smhigley
packages/react-components/react-slider @microsoft/cxe-coastal @micahgodbolt
packages/react-components/react-spinbutton @microsoft/cxe-red @spmonahan
packages/react-components/react-spinner @microsoft/cxe-red @tomi-msft
packages/react-components/react-switch @microsoft/cxe-red @behowell @khmakoto
packages/react-components/react-tabs @microsoft/cxe-coastal @geoffcoxmsft
packages/react-components/react-text @microsoft/cxe-prg
packages/react-components/react-textarea @microsoft/cxe-red @sopranopillow
packages/react-components/react-tooltip @microsoft/cxe-red @behowell @khmakoto
packages/react-components/react-list @microsoft/teams-prg
packages/react-components/react-toolbar @microsoft/teams-prg @chpalac @ling1726
packages/react-components/react-portal-compat @microsoft/teams-prg
packages/react-components/react-alert @microsoft/teams-prg
packages/react-components/react-portal-compat-context @microsoft/teams-prg
#packages/react-components/theme-designer @microsoft/cxe-coastal
## <%= NX-CODEOWNER-PLACEHOLDER %>



## Components
packages/react @microsoft/cxe-red
packages/react/src/components/ActivityItem @microsoft/cxe-red @khmakoto
packages/react/src/components/Announced @microsoft/cxe-red @khmakoto
packages/react/src/components/Breadcrumb @microsoft/cxe-red @khmakoto
packages/react/src/components/Button @microsoft/cxe-red @khmakoto
packages/react/src/components/Calendar @microsoft/fluent-date-time
packages/react/src/components/CalendarDayGrid @microsoft/fluent-date-time
packages/react/src/components/Check @microsoft/cxe-red @ThomasMichon @khmakoto
packages/react/src/components/Checkbox @microsoft/cxe-red @khmakoto
packages/react/src/components/ChoiceGroup @microsoft/cxe-red
packages/react/src/components/Coachmark @microsoft/cxe-red @leddie24
packages/react/src/components/ColorPicker @microsoft/cxe-red
packages/react/src/components/DatePicker @microsoft/fluent-date-time
packages/react/src/components/DetailsList @microsoft/cxe-red @ThomasMichon
packages/react/src/components/DocumentCard @microsoft/cxe-red @yiminwu
packages/react/src/components/Fabric @microsoft/cxe-red @dzearing
packages/react/src/components/Facepile @microsoft/cxe-red
packages/react/src/components/FolderCover @microsoft/cxe-red @ThomasMichon @bigbadcapers
packages/react/src/components/FocusTrapZone @microsoft/cxe-red @khmakoto
packages/react/src/components/GroupedList @microsoft/cxe-red @ThomasMichon
packages/react/src/components/HoverCard @microsoft/cxe-red @Jahnp
packages/react/src/components/Icon @microsoft/cxe-red @dzearing
packages/react/src/components/Image @microsoft/cxe-red @dzearing
packages/react/src/components/Label @microsoft/cxe-red @khmakoto
packages/react/src/components/Layer @microsoft/cxe-red @ThomasMichon
packages/react/src/components/Link @microsoft/cxe-red @khmakoto
packages/react/src/components/List @microsoft/cxe-red @ThomasMichon
packages/react/src/components/MarqueeSelection @microsoft/cxe-red @ThomasMichon
packages/react/src/components/MessageBar @microsoft/cxe-red
packages/react/src/components/Nav @microsoft/cxe-red
packages/react/src/components/Overlay @microsoft/cxe-red @khmakoto
packages/react/src/components/Panel @microsoft/cxe-red @khmakoto
packages/react/src/components/Persona @microsoft/cxe-red
packages/react/src/components/PersonaCoin @microsoft/cxe-red
packages/react/src/components/Pivot @microsoft/cxe-red @behowell
packages/react/src/components/SearchBox @microsoft/cxe-red
packages/react/src/components/Shimmer @microsoft/cxe-red
packages/react/src/components/SpinButton @microsoft/cxe-red
packages/react/src/components/Stack @microsoft/cxe-red @khmakoto
packages/react/src/components/SwatchColorPicker @microsoft/cxe-red
packages/react/src/components/Text @microsoft/cxe-red @khmakoto
packages/react/src/components/TextField @microsoft/cxe-red
packages/react/src/components/Toggle @microsoft/cxe-red @khmakoto
packages/react/src/components/Tooltip @microsoft/cxe-red @behowell
packages/react/src/components/WeeklyDayPicker @microsoft/fluent-date-time

## Theming and styling
packages/react/src/utilities/ThemeProvider @microsoft/cxe-red @dzearing

## Experiments
packages/react-experiments/src/components/Signals @ThomasMichon
packages/react-experiments/src/components/Tile @ThomasMichon
packages/react-experiments/src/components/TileList @ThomasMichon

fix merged in high contrast styles
  packages/react-components/react-slider/src/components/Slider/useSliderStyles.ts
Owners: @microsoft/cxe-coastal, @micahgodbolt

[BREAKING] Slider v9: remove origin (#23257)
  apps/vr-tests-react-components/src/stories/Slider.stories.tsx
  change/@fluentui-react-components-dde117b7-f708-4cda-8c8c-772d508b1c73.json
  change/@fluentui-react-slider-c4736b56-a378-4a8b-9ce3-b22d0ad252a8.json
  packages/react-components/react-components/etc/react-components.api.md
  packages/react-components/react-components/src/index.ts
  packages/react-components/react-slider/MIGRATION.md
  packages/react-components/react-slider/Spec.md
  packages/react-components/react-slider/etc/react-slider.api.md
  packages/react-components/react-slider/src/components/Slider/Slider.stories.tsx
  packages/react-components/react-slider/src/components/Slider/Slider.test.tsx
  packages/react-components/react-slider/src/components/Slider/Slider.types.ts
  packages/react-components/react-slider/src/components/Slider/__snapshots__/Slider.test.tsx.snap
  packages/react-components/react-slider/src/components/Slider/index.ts
  packages/react-components/react-slider/src/components/Slider/stories/SliderOrigin.stories.tsx
  packages/react-components/react-slider/src/components/Slider/useSliderState.tsx
  packages/react-components/react-slider/src/components/Slider/useSliderStyles.ts
  packages/react-components/react-slider/src/index.ts
Owners: @microsoft/fluentui-react, @microsoft/cxe-coastal, @micahgodbolt

[BREAKING] Remove `status` prop in Spinner (#23204)
  change/@fluentui-react-spinner-28531f36-212d-4200-8910-88a19de43989.json
  packages/react-components/react-spinner/README.md
  packages/react-components/react-spinner/Spec.md
  packages/react-components/react-spinner/etc/react-spinner.api.md
  packages/react-components/react-spinner/src/components/Spinner/Spinner.test.tsx
  packages/react-components/react-spinner/src/components/Spinner/Spinner.types.ts
  packages/react-components/react-spinner/src/components/Spinner/renderSpinner.tsx
  packages/react-components/react-spinner/src/components/Spinner/useSpinner.tsx
Owners: @microsoft/cxe-red, @tomi-msft

BREAKING: Hide Popover arrow by default, change `noArrow` to `withArrow` (#23205)
  apps/vr-tests-react-components/src/stories/Popover.stories.tsx
  change/@fluentui-react-popover-f853616d-192d-4541-a32c-50e1cf1f0348.json
  packages/react-components/react-components/src/Concepts/Positioning/PositioningAnchorToTarget.stories.tsx
  packages/react-components/react-components/src/Concepts/Positioning/PositioningCoverTarget.stories.tsx
  packages/react-components/react-components/src/Concepts/Positioning/PositioningDefault.stories.tsx
  packages/react-components/react-components/src/Concepts/Positioning/PositioningImperativePositionUpdate.stories.tsx
  packages/react-components/react-components/src/Concepts/Positioning/PositioningOffsetFunction.stories.tsx
  packages/react-components/react-components/src/Concepts/Positioning/PositioningOffsetValue.stories.tsx
  packages/react-components/react-components/src/Concepts/Positioning/PositioningShorthandPositions.stories.tsx
  packages/react-components/react-popover/etc/react-popover.api.md
  packages/react-components/react-popover/src/components/Popover/Popover.test.tsx
  packages/react-components/react-popover/src/components/Popover/Popover.types.ts
  packages/react-components/react-popover/src/components/Popover/renderPopover.tsx
  packages/react-components/react-popover/src/components/Popover/usePopover.ts
  packages/react-components/react-popover/src/components/PopoverSurface/PopoverSurface.types.ts
  packages/react-components/react-popover/src/components/PopoverSurface/__snapshots__/PopoverSurface.test.tsx.snap
  packages/react-components/react-popover/src/components/PopoverSurface/renderPopoverSurface.tsx
  packages/react-components/react-popover/src/components/PopoverSurface/usePopoverSurface.ts
  packages/react-components/react-popover/src/popoverContext.ts
  packages/react-components/react-popover/src/stories/Popover.stories.tsx
  packages/react-components/react-popover/src/stories/PopoverWithArrow.stories.tsx
Owners: @microsoft/fluentui-react, @microsoft/teams-prg

[BREAKING] react-label: Rename strong prop to weight to align with Text (#23250)
  apps/vr-tests-react-components/src/stories/Label.stories.tsx
  change/@fluentui-react-label-202fb7e6-5017-4358-bb13-905f5150f2a3.json
  packages/react-components/react-label/etc/react-label.api.md
  packages/react-components/react-label/src/components/Label/Label.types.ts
  packages/react-components/react-label/src/components/Label/useLabel.tsx
  packages/react-components/react-label/src/components/Label/useLabelStyles.ts
  packages/react-components/react-label/src/stories/Label.stories.tsx
  packages/react-components/react-label/src/stories/LabelWeight.stories.tsx
Owners: @microsoft/fluentui-react, @microsoft/cxe-red, @sopranopillow, @micahgodbolt

change
  change/@fluentui-web-components-1c90986d-72da-42a2-925b-847be0ec5016.json
Owners: none

update md
  packages/react-components/react-components/etc/react-components.unstable.api.md
Owners: @microsoft/fluentui-react

exclude react-overflow from storybook
  apps/public-docsite-v9/.storybook/main.utils.js
  packages/react-components/react-components/.storybook/main.utils.js
Owners: @microsoft/cxe-red, @microsoft/cxe-coastal, @microsoft/fluentui-react-build, @microsoft/fluentui-react

Change files
  change/@fluentui-react-charting-0caef860-4f50-4dd7-931f-65eefe8d5139.json
  change/@fluentui-react-charting-5b45ec84-abc6-4c15-9c84-87011d733638.json
  change/@fluentui-react-charting-6612157f-b40c-447b-80fa-57671369d12c.json
  change/@fluentui-react-charting-79f85d93-5a87-4bfd-bdaf-7f3474a9c6ff.json
  change/@fluentui-react-charting-93ba5b08-f672-4745-8d41-ca6e26b9db7c.json
  change/@uifabric-charting-b3fcd650-b364-4b24-b3d7-16d0a5a8e4e3.json
Owners: none

applying package updates
  change/@fluentui-eslint-plugin-bae0af9c-456e-420c-9560-08c80175e2de.json
  packages/eslint-plugin/CHANGELOG.json
Owners: @microsoft/fluentui-react-build

fixup! fixup! refactor(eslint-plugin): improve type inference and encapsulate some logic in ban-context
  packages/eslint-plugin/src/rules/ban-context-export/index.js
Owners: @microsoft/fluentui-react-build

fixup! fixup! fix(scripts): fix create-package to use workspace.json as generic source of truth for package metadata
  scripts/create-package/plopfile.ts
Owners: @microsoft/fluentui-react-build

moves story to react-tabster package
  change/@fluentui-react-tabster-1cf49a3e-7aaa-4a4f-a0e7-42bacc9d2774.json
  packages/react-components/react-tabster/src/hooks/useKeyboardNavAttribute.ts
  packages/react-components/react-tabster/src/stories/FocusIndicator.stories.mdx
Owners: @microsoft/teams-prg

fix(scripts): fix create-package to use workspace.json as generic sou… (#23249)
  scripts/create-package/plopfile.ts
Owners: @microsoft/fluentui-react-build

Removes snapshot-tools from vscode recommended extensions
  .vscode/extensions.json
Owners: @microsoft/fluentui-react-build

Adds recommended extensions on devcontainer
  .devcontainer/devcontainer.json
Owners: @microsoft/fluentui-react-build

fix(eslint-plugin): move ban-context to react config from base (#23240)
  change/@fluentui-eslint-plugin-2c3414b0-7f2f-4207-ab2c-4f64f742f5f1.json
  packages/eslint-plugin/src/configs/base.js
  packages/eslint-plugin/src/configs/react.js
  packages/eslint-plugin/src/rules/ban-context-export/index.js
  packages/eslint-plugin/src/rules/ban-context-export/index.test.js
  packages/eslint-plugin/src/utils/type-services.js
Owners: @microsoft/fluentui-react-build

ci: add node.js engines restrictions/source of truth (#23032)
  .codesandbox/ci.json
  .devops/templates/tools.yml
  package.json
Owners: @microsoft/fluentui-react-build

chore: Removes opinionated vscode extension recommendation (#23274)
  .devcontainer/devcontainer.json
  .vscode/extensions.json
Owners: @microsoft/fluentui-react-build

fix: apply all Body1 styles by default in the provider
  packages/react-components/react-provider/src/components/FluentProvider/useFluentProviderStyles.ts
Owners: @microsoft/teams-prg

chore(scripts): create separate configs for release groups for beachball
  .github/workflows/check-packages.yml
  azure-pipelines.release-vnext-nightly.yml
  azure-pipelines.release-vnext.yml
  azure-pipelines.release.yml
  beachball.config.js
  package.json
  scripts/beachball/base.config.json
  scripts/beachball/getVNextChangelogGroups.ts
  scripts/beachball/index.ts
  scripts/beachball/release-v8.config.js
  scripts/beachball/release-vNext.config.js
  scripts/beachball/shared.config.ts
  scripts/beachball/utils.ts
Owners: @microsoft/fluentui-react-build

test(scripts): add beachball config creation coverage
  scripts/beachball/config.test.ts
  scripts/jest.config.js
Owners: @microsoft/fluentui-react-build

chore(scripts): remove getSharedPackagePaths as its not needed anymore
  scripts/beachball/config.test.ts
  scripts/beachball/utils.ts
Owners: @microsoft/fluentui-react-build

Apply suggestions from code review
  azure-pipelines.release-vnext.yml
  scripts/beachball/config.test.ts
  scripts/beachball/utils.ts
Owners: @microsoft/fluentui-react-build

chore: add change file for react-provider
  change/@fluentui-react-provider-5ac22ee1-c357-44a7-8ad8-0b81a1ce6e10.json
Owners: none

test: update tests after rebase
  scripts/beachball/config.test.ts
Owners: @microsoft/fluentui-react-build

feat: Export react-overflow utilities as unstable (#23226)
  apps/public-docsite-v9/.storybook/main.utils.js
  change/@fluentui-react-components-8ecebe2c-3d74-499f-8aca-ca4ed8c45f1b.json
  packages/react-components/react-components/.storybook/main.utils.js
  packages/react-components/react-components/etc/react-components.unstable.api.md
  packages/react-components/react-components/package.json
  packages/react-components/react-components/src/unstable/index.ts
Owners: @microsoft/cxe-red, @microsoft/cxe-coastal, @microsoft/fluentui-react-build, @microsoft/fluentui-react

docs(react-switch): cleanup stories & docs (#23217)
  change/@fluentui-react-switch-5dd373cc-cffa-4102-a6c4-31ec1c8ccdbc.json
  packages/react-components/react-switch/etc/react-switch.api.md
  packages/react-components/react-switch/src/components/Switch/Switch.types.ts
  packages/react-components/react-switch/src/stories/Switch.stories.tsx
  packages/react-components/react-switch/src/stories/SwitchBestPractices.md
  packages/react-components/react-switch/src/stories/SwitchDescription.md
  packages/react-components/react-switch/src/stories/SwitchThemed.stories.tsx
Owners: @microsoft/cxe-red, @behowell, @khmakoto

docs(react-spinner): updates to docs (#23218)
  change/@fluentui-react-spinner-9e0e00db-9db9-49c1-ac38-5f33fa434bba.json
  packages/react-components/react-spinner/src/stories/SpinnerBestPractices.md
  packages/react-components/react-spinner/src/stories/SpinnerDescription.md
Owners: @microsoft/cxe-red, @tomi-msft

docs(react-divider): use colors instead of direct colors in the story (#23230)
  packages/react-components/react-divider/src/stories/DividerCustomStyles.stories.tsx
Owners: @microsoft/cxe-coastal

fix: use image from public folder output (#23251)
  apps/public-docsite-v9/.storybook/manager-head.html
Owners: @microsoft/cxe-red, @microsoft/cxe-coastal, @microsoft/fluentui-react-build

docs(react-badge): remove .args usage in CounterBadge stories (#23231)
  packages/react-components/react-badge/src/stories/CounterBadgeAppearance.stories.tsx
  packages/react-components/react-badge/src/stories/CounterBadgeColor.stories.tsx
  packages/react-components/react-badge/src/stories/CounterBadgeDefault.stories.tsx
  packages/react-components/react-badge/src/stories/CounterBadgeDot.stories.tsx
  packages/react-components/react-badge/src/stories/CounterBadgeShapes.stories.tsx
  packages/react-components/react-badge/src/stories/CounterBadgeSizes.stories.tsx
Owners: @microsoft/teams-prg, @microsoft/cxe-red, @behowell

docs(Tablist): improve formatting (#23177)
  change/@fluentui-react-tabs-12a35f48-3969-4f7d-8685-a4e2cc22d91a.json
  packages/react-components/react-tabs/src/stories/TabListBestPractices.md
  packages/react-components/react-tabs/src/stories/TabListWithOverflow.stories.tsx
Owners: @microsoft/cxe-coastal, @geoffcoxmsft

chore: add `none` explanation in JSDoc
  packages/react-components/react-text/src/components/Text/Text.types.ts
Owners: @microsoft/cxe-prg

add mdx2 dep
  package.json
  yarn.lock
Owners: @microsoft/fluentui-react-build

ignore mdx2-csf in satisfied
  package.json
  yarn.lock
Owners: @microsoft/fluentui-react-build

chore: apply same checks for nightly releases
  azure-pipelines.release-vnext-nightly.yml
Owners: @microsoft/fluentui-react-build

remove duplicate object keys
  .storybook/main.js
Owners: @microsoft/fluentui-react-build

chore: remove unused MenuContext
  change/@fluentui-react-shared-contexts-6ed7c690-b49a-42e9-beb8-bfc93e98d548.json
  packages/react-components/react-shared-contexts/etc/react-shared-contexts.api.md
  packages/react-components/react-shared-contexts/src/MenuContext.ts
  packages/react-components/react-shared-contexts/src/MenuContext/MenuContext.ts
  packages/react-components/react-shared-contexts/src/MenuContext/index.ts
  packages/react-components/react-shared-contexts/src/MenuContext/types.ts
  packages/react-components/react-shared-contexts/src/index.ts
Owners: @microsoft/teams-prg

Update Demo.tsx
  packages/react-components/theme-designer/src/components/Demo/Demo.tsx
Owners: none
