Repository microsoft/fluentui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @microsoft/fluentui-react-build, @justSlone, @jurokapsiar, @microsoft/fluentui-northstar, @Hirse, @chrisdholt, @EisenbergEffect, @nicholasrice, @microsoft/fluentui-v8-website, @microsoft/fluentui-react, @microsoft/cxe-red, @microsoft/cxe-coastal, @hyoshis, @Jacqueline-ms, @microsoft/teams-prg, @microsoft/fluent-date-time, @khmakoto, @dzearing, @microsoft/charting-team, @jahnp, @bigbadcapers, @microsoft/cxe-prg, @phkuo, @behowell, @smhigley, @spmonahan, @sopranopillow, @micahgodbolt, @tomi-msft, @geoffcoxmsft, @chpalac, @ling1726, @ThomasMichon, @leddie24, @yiminwu, @Jahnp

react-tabster: Remove usage of :focus-visible to conform to browser matrix (#23255)
  change/@fluentui-react-tabster-a9d2f52c-1973-4333-8f19-c4566036b6d4.json
  packages/react-components/react-tabster/src/focus/createCustomFocusIndicatorStyle.ts
Owners: @microsoft/teams-prg

Revert "changing groupp to group"
  packages/react-components/react-card/src/components/Card/useCard.ts
  packages/react-components/react-menu/src/stories/Menu.stories.tsx
  packages/react-components/react-menu/src/stories/MenuGrouppingItems.stories.tsx
  packages/react-components/react-menu/src/stories/MenuVisualDividerOnly.stories.tsx
  packages/react-components/react-tabster/src/hooks/useFocusableGroup.ts
  rfcs/react-components/components/moving-from-focus-zone-to-tabster.md
Owners: @microsoft/cxe-prg, @microsoft/teams-prg

change groupp to group in our code only
  packages/react-components/react-menu/src/stories/Menu.stories.tsx
  packages/react-components/react-menu/src/stories/MenuGroupingItems.stories.tsx
Owners: @microsoft/teams-prg

no hoist fluentui/docs as they use an older version of react-router-dom types
  package.json
  packages/fluentui/docs/package.json
  yarn.lock
Owners: @microsoft/fluentui-react-build, @microsoft/fluentui-northstar

chore(scripts): create separate configs for beachball releases (#22091)
  .github/workflows/check-packages.yml
  azure-pipelines.release-vnext-nightly.yml
  azure-pipelines.release-vnext.yml
  azure-pipelines.release.yml
  beachball.config.js
  package.json
  scripts/beachball/base.config.json
  scripts/beachball/config.test.ts
  scripts/beachball/getScopes.ts
  scripts/beachball/getVNextChangelogGroups.ts
  scripts/beachball/index.ts
  scripts/beachball/release-v8.config.js
  scripts/beachball/release-vNext.config.js
  scripts/beachball/shared.config.ts
  scripts/beachball/utils.ts
  scripts/jest.config.js
Owners: @microsoft/fluentui-react-build

Add new V9 Theme Designer to the deploy site (#23268)
  apps/pr-deploy-site/just.config.ts
  apps/pr-deploy-site/pr-deploy-site.js
Owners: @microsoft/fluentui-react-build

add fluentui/e2e to nohoist as well
  package.json
Owners: @microsoft/fluentui-react-build

Update Demo.tsx
  packages/react-components/theme-designer/src/components/Demo/Demo.tsx
Owners: none

update examples
  packages/react-components/theme-designer/src/components/Demo/Demo.tsx
Owners: none

explicit react-router
  packages/fluentui/e2e/package.json
Owners: @microsoft/fluentui-northstar

Theme designer: FluentUI v9 scaffold content examples (#23267)
  packages/react-components/theme-designer/package.json
  packages/react-components/theme-designer/src/components/Content/Content.tsx
  packages/react-components/theme-designer/src/components/Demo/Demo.stories.tsx
  packages/react-components/theme-designer/src/components/Demo/Demo.tsx
Owners: none

FluentProvider now adds `line-height` by default
  change/@fluentui-react-provider-019d961f-452a-4d9d-8dfe-549f00fa1897.json
  packages/react-components/react-provider/src/components/FluentProvider/useFluentProviderStyles.ts
Owners: @microsoft/teams-prg

Adding .beta to AvatarGroup stories so it's not shown in the docsite.
  packages/react-components/react-avatar/.storybook/main.js
  packages/react-components/react-avatar/src/stories/AvatarGroup.stories.beta.tsx
Owners: @microsoft/cxe-red, @behowell, @khmakoto

change files
  change/@fluentui-react-avatar-ea74de8b-867c-4cf4-b560-1b8144e54af5.json
Owners: none

Adding comment refering to this PR for .storybook
  packages/react-components/react-avatar/.storybook/main.js
Owners: @microsoft/cxe-red, @behowell, @khmakoto

Fixing typo
  packages/react-components/react-avatar/.storybook/main.js
Owners: @microsoft/cxe-red, @behowell, @khmakoto

replace :focus-visible with :focus
  packages/react-components/react-select/src/components/Select/useSelectStyles.ts
Owners: @microsoft/cxe-coastal, @smhigley

dedup babel
  yarn.lock
Owners: @microsoft/fluentui-react-build

Change File
  change/@fluentui-react-select-be50ca5c-0809-4f2d-80fd-b40c5fbf7116.json
Owners: none

docs: move AvatarGroup to preview components (#23216)
  change/@fluentui-react-avatar-ea74de8b-867c-4cf4-b560-1b8144e54af5.json
  packages/react-components/react-avatar/.storybook/main.js
  packages/react-components/react-avatar/src/stories/AvatarGroup.stories.beta.tsx
Owners: @microsoft/cxe-red, @behowell, @khmakoto

Manual updates from syncpack release
  apps/public-docsite-v9/package.json
  packages/react-components/theme-designer/package.json
Owners: @microsoft/cxe-red, @microsoft/cxe-coastal, @microsoft/fluentui-react-build

deduping storybook
  yarn.lock
Owners: @microsoft/fluentui-react-build

updated lock file
  yarn.lock
Owners: @microsoft/fluentui-react-build

Use Title1 instead of h1 Card vr tests
  apps/vr-tests-react-components/src/stories/Card.stories.tsx
Owners: @microsoft/fluentui-react

remove unnecessary hoisting of fluentui and storybook
  package.json
  packages/fluentui/docs/package.json
  packages/fluentui/e2e/package.json
  yarn.lock
Owners: @microsoft/fluentui-react-build, @microsoft/fluentui-northstar

Remove redundant card VR tests
  apps/vr-tests-react-components/src/stories/Card.stories.tsx
Owners: @microsoft/fluentui-react

update package version to 9.x to auto bump after releases
  packages/react-components/theme-designer/package.json
Owners: none

update react-components used in v9 website
  apps/public-docsite-v9/package.json
Owners: @microsoft/cxe-red, @microsoft/cxe-coastal, @microsoft/fluentui-react-build

bump theme designer
  packages/react-components/theme-designer/package.json
Owners: none

Creating AvatarGroupItem component.
  packages/react-components/react-avatar/.storybook/main.js
  packages/react-components/react-avatar/config/api-extractor.local.json
  packages/react-components/react-avatar/etc/react-avatar.api.md
  packages/react-components/react-avatar/package.json
  packages/react-components/react-avatar/src/AvatarGroupItem.ts
  packages/react-components/react-avatar/src/components/AvatarGroupItem/AvatarGroupItem.test.tsx
  packages/react-components/react-avatar/src/components/AvatarGroupItem/AvatarGroupItem.tsx
  packages/react-components/react-avatar/src/components/AvatarGroupItem/AvatarGroupItem.types.ts
  packages/react-components/react-avatar/src/components/AvatarGroupItem/__snapshots__/AvatarGroupItem.test.tsx.snap
  packages/react-components/react-avatar/src/components/AvatarGroupItem/index.ts
  packages/react-components/react-avatar/src/components/AvatarGroupItem/renderAvatarGroupItem.tsx
  packages/react-components/react-avatar/src/components/AvatarGroupItem/useAvatarGroupItem.ts
  packages/react-components/react-avatar/src/components/AvatarGroupItem/useAvatarGroupItemStyles.ts
  packages/react-components/react-avatar/src/index.ts
  packages/react-components/react-avatar/src/stories/AvatarGroupItem.stories.beta.tsx
  packages/react-components/react-avatar/src/stories/AvatarGroupItemBestPractices.md
  packages/react-components/react-avatar/src/stories/AvatarGroupItemDefault.stories.tsx
  packages/react-components/react-avatar/src/stories/AvatarGroupItemDescription.md
Owners: @microsoft/cxe-red, @behowell, @khmakoto

Change file
  change/@fluentui-react-avatar-e8465a99-82a6-47aa-a896-aed41ea0000f.json
Owners: none

Manual updates from syncpack release (#23283)
  apps/public-docsite-v9/package.json
  packages/react-components/theme-designer/package.json
Owners: @microsoft/cxe-red, @microsoft/cxe-coastal, @microsoft/fluentui-react-build

fixing dependency mismatch
  apps/public-docsite-v9/package.json
Owners: @microsoft/cxe-red, @microsoft/cxe-coastal, @microsoft/fluentui-react-build

adding overwritten comment
  packages/react-components/react-avatar/.storybook/main.js
Owners: @microsoft/cxe-red, @behowell, @khmakoto

added color palette
  packages/react-components/theme-designer/src/ThemeDesigner.tsx
  packages/react-components/theme-designer/src/components/Content/Content.tsx
  packages/react-components/theme-designer/src/components/Demo/Demo.tsx
  packages/react-components/theme-designer/src/components/Palette/Palette.stories.tsx
  packages/react-components/theme-designer/src/components/Palette/Palette.tsx
Owners: none

removing long comment
  packages/react-components/react-avatar/src/components/AvatarGroupItem/AvatarGroupItem.types.ts
Owners: @microsoft/cxe-red, @behowell, @khmakoto

change file
  change/@fluentui-react-popover-b1425011-cda1-4e1f-98e2-94acf6ed61c5.json
Owners: none

update tests, docs
  packages/react-components/react-popover/Spec.md
  packages/react-components/react-popover/e2e/Popover.e2e.tsx
  packages/react-components/react-popover/src/components/PopoverTrigger/PopoverTrigger.test.tsx
  packages/react-components/react-popover/src/components/PopoverTrigger/PopoverTrigger.types.ts
  packages/react-components/react-popover/src/components/PopoverTrigger/__snapshots__/PopoverTrigger.test.tsx.snap
  packages/react-components/react-popover/src/stories/PopoverCustomTrigger.stories.tsx
Owners: @microsoft/teams-prg

update popover trigger to use aria-expanded instead of aria-haspopup
  packages/react-components/react-popover/src/components/Popover/renderPopover.tsx
  packages/react-components/react-popover/src/components/PopoverTrigger/usePopoverTrigger.ts
  packages/react-components/react-popover/src/popoverContext.ts
Owners: @microsoft/teams-prg

update api
  packages/react-components/react-popover/etc/react-popover.api.md
Owners: @microsoft/teams-prg

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, @global-owner1 and @global-owner2
# will be requested for review when someone opens a pull request.
# *   @global-owner1 @global-owner2

# Order is important; the last matching pattern takes the most precedence.
# When someone opens a pull request that only modifies JS files, only @js-owner
# and not the global owner(s) will be requested for a review.
# *.js@js-owner

# You can also use email addresses if you prefer. They'll be used to look up
# users just like we do for commit author emails.
# docs/  docs@example.com

###### Build Section ######
#### Repo-wide build files - Note these will only be applied if another rule below does not apply
*.sh @microsoft/fluentui-react-build
*.yml @microsoft/fluentui-react-build

#### Build folders
/.codesandbox @microsoft/fluentui-react-build
/.devcontainer @microsoft/fluentui-react-build
/.devops @microsoft/fluentui-react-build
/.github/workflows @microsoft/fluentui-react-build
/.githooks @microsoft/fluentui-react-build
/.storybook @microsoft/fluentui-react-build
/.vscode @microsoft/fluentui-react-build
/scripts @microsoft/fluentui-react-build
/tools @microsoft/fluentui-react-build

#### Root Build files
/.eslintrc.* @microsoft/fluentui-react-build
/.gitattributes @microsoft/fluentui-react-build
/.gitignore @microsoft/fluentui-react-build
/.npmrc @microsoft/fluentui-react-build
/.npmignore @microsoft/fluentui-react-build
/jest.preset.js @microsoft/fluentui-react-build
/lerna.json @microsoft/fluentui-react-build
/package.json @microsoft/fluentui-react-build
/sizeauditor.json @microsoft/fluentui-react-build
/tsconfig.json @microsoft/fluentui-react-build
/tsconfig.base.json @microsoft/fluentui-react-build
/yarn.lock @microsoft/fluentui-react-build
/*.config.js @microsoft/fluentui-react-build
/typings @microsoft/fluentui-react-build

#### NX related files
/nx.json @microsoft/fluentui-react-build
/workspace.json @microsoft/fluentui-react-build
/migrations.json @microsoft/fluentui-react-build

#### Meta and License stuff
/LICENSE @microsoft/fluentui-react-build @justSlone @jurokapsiar
/packages/react/LICENSE @microsoft/fluentui-react-build @justSlone @jurokapsiar
/.github/CODEOWNERS @microsoft/fluentui-react-build @justSlone @jurokapsiar
/.github/ISSUE_TEMPLATE* @justSlone @jurokapsiar

#### Fluent UI N*
packages/a11y-rules @microsoft/fluentui-northstar
packages/a11y-testing @microsoft/fluentui-northstar
packages/fluentui @microsoft/fluentui-northstar
packages/fluentui/react-northstar/src/components/Chat @microsoft/fluentui-northstar @Hirse
packages/fluentui/react-northstar/src/themes/teams/components/Chat @microsoft/fluentui-northstar @Hirse

#### Web Components
packages/web-components @chrisdholt @EisenbergEffect @nicholasrice

#### Apps
apps/public-docsite @microsoft/fluentui-v8-website
apps/public-docsite-resources @microsoft/fluentui-v8-website
apps/perf-test @microsoft/fluentui-react-build
apps/perf-test-react-components @microsoft/fluentui-react-build
apps/ts-minbar-test-react @microsoft/fluentui-react-build
apps/ts-minbar-test-react-components @microsoft/fluentui-react-build
apps/vr-tests @microsoft/fluentui-react
apps/vr-tests-react-components @microsoft/fluentui-react
apps/ssr-tests @microsoft/fluentui-react
apps/pr-deploy-site @microsoft/fluentui-react-build
apps/test-bundles @microsoft/fluentui-react
apps/public-docsite-v9 @microsoft/cxe-red @microsoft/cxe-coastal @microsoft/fluentui-react-build
apps/theming-designer @microsoft/fluentui-react

#### Packages
packages/azure-themes @hyoshis @Jacqueline-ms
packages/bundle-size @microsoft/teams-prg
packages/date-time-utilities @microsoft/fluent-date-time
packages/eslint-plugin @microsoft/fluentui-react-build
packages/foundation-legacy @microsoft/cxe-red @khmakoto
# packages/font-icons-mdl2
# packages/jest-serializer-merge-styles

packages/merge-styles @dzearing
packages/monaco-editor @microsoft/fluentui-v8-website
packages/public-docsite-setup @microsoft/fluentui-v8-website
packages/react-components/priority-overflow @microsoft/teams-prg
packages/react-components/react-aria @microsoft/teams-prg
packages/react-cards @microsoft/cxe-red @khmakoto
packages/react-charting @microsoft/charting-team
packages/react-components/react-conformance-griffel @microsoft/teams-prg
packages/react-components/react-context-selector @microsoft/teams-prg
packages/react-date-time @microsoft/fluent-date-time
packages/react-docsite-components @microsoft/fluentui-v8-website
packages/react-file-type-icons @jahnp @bigbadcapers
packages/react-hooks @microsoft/cxe-red
packages/react-monaco-editor @microsoft/fluentui-v8-website
packages/react-components/react-positioning @microsoft/teams-prg
packages/react-components/react-overflow @microsoft/teams-prg
packages/react-components/react-shared-contexts @microsoft/teams-prg
packages/react-components/react-storybook @microsoft/cxe-prg @microsoft/teams-prg
packages/react-components/react-storybook-addon @microsoft/cxe-prg
packages/react-components/react-tabster @microsoft/teams-prg
packages/react-components/react-theme @microsoft/teams-prg
packages/react-components/react-utilities @microsoft/teams-prg
packages/storybook @microsoft/cxe-prg @microsoft/teams-prg
packages/style-utilities @dzearing
packages/style-utilities/src/interfaces @phkuo @dzearing
packages/style-utilities/src/styles @phkuo @dzearing
packages/theme @dzearing
packages/utilities @microsoft/cxe-red

### Fabric
# common/
packages/common-styles/src @microsoft/cxe-red @phkuo
common/_semanticSlots.scss @microsoft/cxe-red @phkuo
common/_themeOverrides.scss @microsoft/cxe-red @phkuo
common/_common.scss @microsoft/cxe-red @phkuo

## vNext packages
packages/react-components/keyboard-keys @microsoft/teams-prg
packages/react-components/react-accordion @microsoft/teams-prg @microsoft/cxe-coastal
packages/react-components/react-avatar @microsoft/cxe-red @behowell @khmakoto
packages/react-components/react-badge @microsoft/teams-prg @microsoft/cxe-red @behowell
packages/react-components/react-button @microsoft/cxe-red @khmakoto
packages/react-components/react-card @microsoft/cxe-prg
packages/react-components/react-checkbox @microsoft/cxe-red @khmakoto
packages/react-components/react-combobox @microsoft/cxe-coastal @smhigley
packages/react-components/react-components @microsoft/fluentui-react
packages/react-components/react-dialog @microsoft/teams-prg
packages/react-components/react-divider @microsoft/cxe-coastal
packages/react-focus @microsoft/cxe-red @khmakoto
packages/react-components/react-image @microsoft/cxe-prg
packages/react-components/react-input @microsoft/cxe-red @spmonahan
packages/react-components/react-label @microsoft/cxe-red @sopranopillow @micahgodbolt
packages/react-components/react-link @microsoft/cxe-red @khmakoto @microsoft/cxe-coastal
packages/react-components/react-menu @microsoft/teams-prg
packages/react-components/react-popover @microsoft/teams-prg
packages/react-components/react-portal @microsoft/teams-prg
packages/react-components/react-provider @microsoft/teams-prg
packages/react-components/react-radio @microsoft/cxe-red @behowell @spmonahan
packages/react-components/react-select @microsoft/cxe-coastal @smhigley
packages/react-components/react-slider @microsoft/cxe-coastal @micahgodbolt
packages/react-components/react-spinbutton @microsoft/cxe-red @spmonahan
packages/react-components/react-spinner @microsoft/cxe-red @tomi-msft
packages/react-components/react-switch @microsoft/cxe-red @behowell @khmakoto
packages/react-components/react-tabs @microsoft/cxe-coastal @geoffcoxmsft
packages/react-components/react-text @microsoft/cxe-prg
packages/react-components/react-textarea @microsoft/cxe-red @sopranopillow
packages/react-components/react-tooltip @microsoft/cxe-red @behowell @khmakoto
packages/react-components/react-list @microsoft/teams-prg
packages/react-components/react-toolbar @microsoft/teams-prg @chpalac @ling1726
packages/react-components/react-portal-compat @microsoft/teams-prg
packages/react-components/react-alert @microsoft/teams-prg
packages/react-components/react-portal-compat-context @microsoft/teams-prg
#packages/react-components/theme-designer @microsoft/cxe-coastal
## <%= NX-CODEOWNER-PLACEHOLDER %>



## Components
packages/react @microsoft/cxe-red
packages/react/src/components/ActivityItem @microsoft/cxe-red @khmakoto
packages/react/src/components/Announced @microsoft/cxe-red @khmakoto
packages/react/src/components/Breadcrumb @microsoft/cxe-red @khmakoto
packages/react/src/components/Button @microsoft/cxe-red @khmakoto
packages/react/src/components/Calendar @microsoft/fluent-date-time
packages/react/src/components/CalendarDayGrid @microsoft/fluent-date-time
packages/react/src/components/Check @microsoft/cxe-red @ThomasMichon @khmakoto
packages/react/src/components/Checkbox @microsoft/cxe-red @khmakoto
packages/react/src/components/ChoiceGroup @microsoft/cxe-red
packages/react/src/components/Coachmark @microsoft/cxe-red @leddie24
packages/react/src/components/ColorPicker @microsoft/cxe-red
packages/react/src/components/DatePicker @microsoft/fluent-date-time
packages/react/src/components/DetailsList @microsoft/cxe-red @ThomasMichon
packages/react/src/components/DocumentCard @microsoft/cxe-red @yiminwu
packages/react/src/components/Fabric @microsoft/cxe-red @dzearing
packages/react/src/components/Facepile @microsoft/cxe-red
packages/react/src/components/FolderCover @microsoft/cxe-red @ThomasMichon @bigbadcapers
packages/react/src/components/FocusTrapZone @microsoft/cxe-red @khmakoto
packages/react/src/components/GroupedList @microsoft/cxe-red @ThomasMichon
packages/react/src/components/HoverCard @microsoft/cxe-red @Jahnp
packages/react/src/components/Icon @microsoft/cxe-red @dzearing
packages/react/src/components/Image @microsoft/cxe-red @dzearing
packages/react/src/components/Label @microsoft/cxe-red @khmakoto
packages/react/src/components/Layer @microsoft/cxe-red @ThomasMichon
packages/react/src/components/Link @microsoft/cxe-red @khmakoto
packages/react/src/components/List @microsoft/cxe-red @ThomasMichon
packages/react/src/components/MarqueeSelection @microsoft/cxe-red @ThomasMichon
packages/react/src/components/MessageBar @microsoft/cxe-red
packages/react/src/components/Nav @microsoft/cxe-red
packages/react/src/components/Overlay @microsoft/cxe-red @khmakoto
packages/react/src/components/Panel @microsoft/cxe-red @khmakoto
packages/react/src/components/Persona @microsoft/cxe-red
packages/react/src/components/PersonaCoin @microsoft/cxe-red
packages/react/src/components/Pivot @microsoft/cxe-red @behowell
packages/react/src/components/SearchBox @microsoft/cxe-red
packages/react/src/components/Shimmer @microsoft/cxe-red
packages/react/src/components/SpinButton @microsoft/cxe-red
packages/react/src/components/Stack @microsoft/cxe-red @khmakoto
packages/react/src/components/SwatchColorPicker @microsoft/cxe-red
packages/react/src/components/Text @microsoft/cxe-red @khmakoto
packages/react/src/components/TextField @microsoft/cxe-red
packages/react/src/components/Toggle @microsoft/cxe-red @khmakoto
packages/react/src/components/Tooltip @microsoft/cxe-red @behowell
packages/react/src/components/WeeklyDayPicker @microsoft/fluent-date-time

## Theming and styling
packages/react/src/utilities/ThemeProvider @microsoft/cxe-red @dzearing

## Experiments
packages/react-experiments/src/components/Signals @ThomasMichon
packages/react-experiments/src/components/Tile @ThomasMichon
packages/react-experiments/src/components/TileList @ThomasMichon
