Repository microsoft/fluentui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @microsoft/fluentui-react-build, @justSlone, @jurokapsiar, @microsoft/fluentui-northstar, @Hirse, @chrisdholt, @EisenbergEffect, @nicholasrice, @microsoft/fluentui-v8-website, @microsoft/fluentui-react, @microsoft/cxe-red, @microsoft/cxe-coastal, @hyoshis, @Jacqueline-ms, @microsoft/teams-prg, @microsoft/fluent-date-time, @khmakoto, @dzearing, @microsoft/charting-team, @jahnp, @bigbadcapers, @microsoft/cxe-prg, @phkuo, @behowell, @smhigley, @spmonahan, @sopranopillow, @micahgodbolt, @tomi-msft, @geoffcoxmsft, @chpalac, @ling1726, @ThomasMichon, @leddie24, @yiminwu, @Jahnp

remove aria-haspopup test
  packages/react-components/react-popover/src/components/PopoverTrigger/PopoverTrigger.test.tsx
Owners: @microsoft/teams-prg

fix test context
  packages/react-components/react-popover/src/common/mockUsePopoverContext.ts
  packages/react-components/react-popover/src/components/PopoverTrigger/PopoverTrigger.test.tsx
Owners: @microsoft/teams-prg

fix(SplitButton): update flex styles so the inner splitbutton stretches to fill the root (#23051)
  change/@fluentui-react-0c3014eb-a6a2-4164-9b1c-2415ab57a8dd.json
  packages/react/src/components/Button/BaseButton.tsx
  packages/react/src/components/Button/SplitButton/SplitButton.styles.ts
Owners: @microsoft/cxe-red, @khmakoto

disabling tests
  packages/react-components/react-avatar/src/components/AvatarGroupItem/AvatarGroupItem.test.tsx
Owners: @microsoft/cxe-red, @behowell, @khmakoto

fix(Popover): sort out aria-expanded vs. aria-haspopup (#23127)
  change/@fluentui-react-popover-b1425011-cda1-4e1f-98e2-94acf6ed61c5.json
  packages/react-components/react-popover/Spec.md
  packages/react-components/react-popover/e2e/Popover.e2e.tsx
  packages/react-components/react-popover/etc/react-popover.api.md
  packages/react-components/react-popover/src/common/mockUsePopoverContext.ts
  packages/react-components/react-popover/src/components/Popover/renderPopover.tsx
  packages/react-components/react-popover/src/components/PopoverTrigger/PopoverTrigger.test.tsx
  packages/react-components/react-popover/src/components/PopoverTrigger/PopoverTrigger.types.ts
  packages/react-components/react-popover/src/components/PopoverTrigger/__snapshots__/PopoverTrigger.test.tsx.snap
  packages/react-components/react-popover/src/components/PopoverTrigger/usePopoverTrigger.ts
  packages/react-components/react-popover/src/popoverContext.ts
  packages/react-components/react-popover/src/stories/PopoverCustomTrigger.stories.tsx
Owners: @microsoft/teams-prg

cleaning up code
  packages/react-components/theme-designer/src/components/Palette/Palette.tsx
Owners: none

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, @global-owner1 and @global-owner2
# will be requested for review when someone opens a pull request.
# *   @global-owner1 @global-owner2

# Order is important; the last matching pattern takes the most precedence.
# When someone opens a pull request that only modifies JS files, only @js-owner
# and not the global owner(s) will be requested for a review.
# *.js@js-owner

# You can also use email addresses if you prefer. They'll be used to look up
# users just like we do for commit author emails.
# docs/  docs@example.com

###### Build Section ######
#### Repo-wide build files - Note these will only be applied if another rule below does not apply
*.sh @microsoft/fluentui-react-build
*.yml @microsoft/fluentui-react-build

#### Build folders
/.codesandbox @microsoft/fluentui-react-build
/.devcontainer @microsoft/fluentui-react-build
/.devops @microsoft/fluentui-react-build
/.github/workflows @microsoft/fluentui-react-build
/.githooks @microsoft/fluentui-react-build
/.storybook @microsoft/fluentui-react-build
/.vscode @microsoft/fluentui-react-build
/scripts @microsoft/fluentui-react-build
/tools @microsoft/fluentui-react-build

#### Root Build files
/.eslintrc.* @microsoft/fluentui-react-build
/.gitattributes @microsoft/fluentui-react-build
/.gitignore @microsoft/fluentui-react-build
/.npmrc @microsoft/fluentui-react-build
/.npmignore @microsoft/fluentui-react-build
/jest.preset.js @microsoft/fluentui-react-build
/lerna.json @microsoft/fluentui-react-build
/package.json @microsoft/fluentui-react-build
/sizeauditor.json @microsoft/fluentui-react-build
/tsconfig.json @microsoft/fluentui-react-build
/tsconfig.base.json @microsoft/fluentui-react-build
/yarn.lock @microsoft/fluentui-react-build
/*.config.js @microsoft/fluentui-react-build
/typings @microsoft/fluentui-react-build

#### NX related files
/nx.json @microsoft/fluentui-react-build
/workspace.json @microsoft/fluentui-react-build
/migrations.json @microsoft/fluentui-react-build

#### Meta and License stuff
/LICENSE @microsoft/fluentui-react-build @justSlone @jurokapsiar
/packages/react/LICENSE @microsoft/fluentui-react-build @justSlone @jurokapsiar
/.github/CODEOWNERS @microsoft/fluentui-react-build @justSlone @jurokapsiar
/.github/ISSUE_TEMPLATE* @justSlone @jurokapsiar

#### Fluent UI N*
packages/a11y-rules @microsoft/fluentui-northstar
packages/a11y-testing @microsoft/fluentui-northstar
packages/fluentui @microsoft/fluentui-northstar
packages/fluentui/react-northstar/src/components/Chat @microsoft/fluentui-northstar @Hirse
packages/fluentui/react-northstar/src/themes/teams/components/Chat @microsoft/fluentui-northstar @Hirse

#### Web Components
packages/web-components @chrisdholt @EisenbergEffect @nicholasrice

#### Apps
apps/public-docsite @microsoft/fluentui-v8-website
apps/public-docsite-resources @microsoft/fluentui-v8-website
apps/perf-test @microsoft/fluentui-react-build
apps/perf-test-react-components @microsoft/fluentui-react-build
apps/ts-minbar-test-react @microsoft/fluentui-react-build
apps/ts-minbar-test-react-components @microsoft/fluentui-react-build
apps/vr-tests @microsoft/fluentui-react
apps/vr-tests-react-components @microsoft/fluentui-react
apps/ssr-tests @microsoft/fluentui-react
apps/pr-deploy-site @microsoft/fluentui-react-build
apps/test-bundles @microsoft/fluentui-react
apps/public-docsite-v9 @microsoft/cxe-red @microsoft/cxe-coastal @microsoft/fluentui-react-build
apps/theming-designer @microsoft/fluentui-react

#### Packages
packages/azure-themes @hyoshis @Jacqueline-ms
packages/bundle-size @microsoft/teams-prg
packages/date-time-utilities @microsoft/fluent-date-time
packages/eslint-plugin @microsoft/fluentui-react-build
packages/foundation-legacy @microsoft/cxe-red @khmakoto
# packages/font-icons-mdl2
# packages/jest-serializer-merge-styles

packages/merge-styles @dzearing
packages/monaco-editor @microsoft/fluentui-v8-website
packages/public-docsite-setup @microsoft/fluentui-v8-website
packages/react-components/priority-overflow @microsoft/teams-prg
packages/react-components/react-aria @microsoft/teams-prg
packages/react-cards @microsoft/cxe-red @khmakoto
packages/react-charting @microsoft/charting-team
packages/react-components/react-conformance-griffel @microsoft/teams-prg
packages/react-components/react-context-selector @microsoft/teams-prg
packages/react-date-time @microsoft/fluent-date-time
packages/react-docsite-components @microsoft/fluentui-v8-website
packages/react-file-type-icons @jahnp @bigbadcapers
packages/react-hooks @microsoft/cxe-red
packages/react-monaco-editor @microsoft/fluentui-v8-website
packages/react-components/react-positioning @microsoft/teams-prg
packages/react-components/react-overflow @microsoft/teams-prg
packages/react-components/react-shared-contexts @microsoft/teams-prg
packages/react-components/react-storybook @microsoft/cxe-prg @microsoft/teams-prg
packages/react-components/react-storybook-addon @microsoft/cxe-prg
packages/react-components/react-tabster @microsoft/teams-prg
packages/react-components/react-theme @microsoft/teams-prg
packages/react-components/react-utilities @microsoft/teams-prg
packages/storybook @microsoft/cxe-prg @microsoft/teams-prg
packages/style-utilities @dzearing
packages/style-utilities/src/interfaces @phkuo @dzearing
packages/style-utilities/src/styles @phkuo @dzearing
packages/theme @dzearing
packages/utilities @microsoft/cxe-red

### Fabric
# common/
packages/common-styles/src @microsoft/cxe-red @phkuo
common/_semanticSlots.scss @microsoft/cxe-red @phkuo
common/_themeOverrides.scss @microsoft/cxe-red @phkuo
common/_common.scss @microsoft/cxe-red @phkuo

## vNext packages
packages/react-components/keyboard-keys @microsoft/teams-prg
packages/react-components/react-accordion @microsoft/teams-prg @microsoft/cxe-coastal
packages/react-components/react-avatar @microsoft/cxe-red @behowell @khmakoto
packages/react-components/react-badge @microsoft/teams-prg @microsoft/cxe-red @behowell
packages/react-components/react-button @microsoft/cxe-red @khmakoto
packages/react-components/react-card @microsoft/cxe-prg
packages/react-components/react-checkbox @microsoft/cxe-red @khmakoto
packages/react-components/react-combobox @microsoft/cxe-coastal @smhigley
packages/react-components/react-components @microsoft/fluentui-react
packages/react-components/react-dialog @microsoft/teams-prg
packages/react-components/react-divider @microsoft/cxe-coastal
packages/react-focus @microsoft/cxe-red @khmakoto
packages/react-components/react-image @microsoft/cxe-prg
packages/react-components/react-input @microsoft/cxe-red @spmonahan
packages/react-components/react-label @microsoft/cxe-red @sopranopillow @micahgodbolt
packages/react-components/react-link @microsoft/cxe-red @khmakoto @microsoft/cxe-coastal
packages/react-components/react-menu @microsoft/teams-prg
packages/react-components/react-popover @microsoft/teams-prg
packages/react-components/react-portal @microsoft/teams-prg
packages/react-components/react-provider @microsoft/teams-prg
packages/react-components/react-radio @microsoft/cxe-red @behowell @spmonahan
packages/react-components/react-select @microsoft/cxe-coastal @smhigley
packages/react-components/react-slider @microsoft/cxe-coastal @micahgodbolt
packages/react-components/react-spinbutton @microsoft/cxe-red @spmonahan
packages/react-components/react-spinner @microsoft/cxe-red @tomi-msft
packages/react-components/react-switch @microsoft/cxe-red @behowell @khmakoto
packages/react-components/react-tabs @microsoft/cxe-coastal @geoffcoxmsft
packages/react-components/react-text @microsoft/cxe-prg
packages/react-components/react-textarea @microsoft/cxe-red @sopranopillow
packages/react-components/react-tooltip @microsoft/cxe-red @behowell @khmakoto
packages/react-components/react-list @microsoft/teams-prg
packages/react-components/react-toolbar @microsoft/teams-prg @chpalac @ling1726
packages/react-components/react-portal-compat @microsoft/teams-prg
packages/react-components/react-alert @microsoft/teams-prg
packages/react-components/react-portal-compat-context @microsoft/teams-prg
#packages/react-components/theme-designer @microsoft/cxe-coastal
## <%= NX-CODEOWNER-PLACEHOLDER %>



## Components
packages/react @microsoft/cxe-red
packages/react/src/components/ActivityItem @microsoft/cxe-red @khmakoto
packages/react/src/components/Announced @microsoft/cxe-red @khmakoto
packages/react/src/components/Breadcrumb @microsoft/cxe-red @khmakoto
packages/react/src/components/Button @microsoft/cxe-red @khmakoto
packages/react/src/components/Calendar @microsoft/fluent-date-time
packages/react/src/components/CalendarDayGrid @microsoft/fluent-date-time
packages/react/src/components/Check @microsoft/cxe-red @ThomasMichon @khmakoto
packages/react/src/components/Checkbox @microsoft/cxe-red @khmakoto
packages/react/src/components/ChoiceGroup @microsoft/cxe-red
packages/react/src/components/Coachmark @microsoft/cxe-red @leddie24
packages/react/src/components/ColorPicker @microsoft/cxe-red
packages/react/src/components/DatePicker @microsoft/fluent-date-time
packages/react/src/components/DetailsList @microsoft/cxe-red @ThomasMichon
packages/react/src/components/DocumentCard @microsoft/cxe-red @yiminwu
packages/react/src/components/Fabric @microsoft/cxe-red @dzearing
packages/react/src/components/Facepile @microsoft/cxe-red
packages/react/src/components/FolderCover @microsoft/cxe-red @ThomasMichon @bigbadcapers
packages/react/src/components/FocusTrapZone @microsoft/cxe-red @khmakoto
packages/react/src/components/GroupedList @microsoft/cxe-red @ThomasMichon
packages/react/src/components/HoverCard @microsoft/cxe-red @Jahnp
packages/react/src/components/Icon @microsoft/cxe-red @dzearing
packages/react/src/components/Image @microsoft/cxe-red @dzearing
packages/react/src/components/Label @microsoft/cxe-red @khmakoto
packages/react/src/components/Layer @microsoft/cxe-red @ThomasMichon
packages/react/src/components/Link @microsoft/cxe-red @khmakoto
packages/react/src/components/List @microsoft/cxe-red @ThomasMichon
packages/react/src/components/MarqueeSelection @microsoft/cxe-red @ThomasMichon
packages/react/src/components/MessageBar @microsoft/cxe-red
packages/react/src/components/Nav @microsoft/cxe-red
packages/react/src/components/Overlay @microsoft/cxe-red @khmakoto
packages/react/src/components/Panel @microsoft/cxe-red @khmakoto
packages/react/src/components/Persona @microsoft/cxe-red
packages/react/src/components/PersonaCoin @microsoft/cxe-red
packages/react/src/components/Pivot @microsoft/cxe-red @behowell
packages/react/src/components/SearchBox @microsoft/cxe-red
packages/react/src/components/Shimmer @microsoft/cxe-red
packages/react/src/components/SpinButton @microsoft/cxe-red
packages/react/src/components/Stack @microsoft/cxe-red @khmakoto
packages/react/src/components/SwatchColorPicker @microsoft/cxe-red
packages/react/src/components/Text @microsoft/cxe-red @khmakoto
packages/react/src/components/TextField @microsoft/cxe-red
packages/react/src/components/Toggle @microsoft/cxe-red @khmakoto
packages/react/src/components/Tooltip @microsoft/cxe-red @behowell
packages/react/src/components/WeeklyDayPicker @microsoft/fluent-date-time

## Theming and styling
packages/react/src/utilities/ThemeProvider @microsoft/cxe-red @dzearing

## Experiments
packages/react-experiments/src/components/Signals @ThomasMichon
packages/react-experiments/src/components/Tile @ThomasMichon
packages/react-experiments/src/components/TileList @ThomasMichon
