Repository microsoft/fluentui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @microsoft/fluentui-react-build, @justSlone, @jurokapsiar, @kolaps33, @assuncaocharles, @layershifter, @miroslavstastny, @pompomon, @ling1726, @chrisdholt, @EisenbergEffect, @nicholasrice, @ecraig12345, @Raghurk, @lorejoh12, @evlevy, @KatherineThayerMicrosoft, @jahnp, @bigbadcapers, @microsoft/cxe-red, @khmakoto, @dzearing, @phkuo, @teams-prg, @hyoshis, @Jacqueline-ms, @wsmd, @bsunderhus, @behowell, @cxe-prg, @sopranopillow, @ThomasMichon, @leddie24, @yiminwu, @markionium, @mtennoe, @Jahnp, @Vitalius1

Fix scroll to view handling for picker suggestions (#18825)
  change/@fluentui-react-0a0866a7-027c-4bcc-9bf0-c250338f2592.json
  change/@fluentui-react-examples-f266c949-1ec9-4b12-aee8-d437ba6330f8.json
  packages/react-examples/src/react/Pickers/TagPicker.Inline.Example.tsx
  packages/react-examples/src/react/__snapshots__/TagPicker.Inline.Example.tsx.shot
  packages/react/etc/react.api.md
  packages/react/src/components/pickers/Suggestions/Suggestions.tsx
Owners: @microsoft/cxe-red

removes duplicate styles for expand-collapse-glyph on tree item causing specificity and ordering issues (#18828)
  change/@fluentui-web-components-6f977179-43de-4a13-82d5-d68f7fee4453.json
  packages/web-components/src/tree-item/tree-item.styles.ts
Owners: @chrisdholt, @EisenbergEffect, @nicholasrice

fix datepicker aria-haspopup location
  packages/react/src/components/DatePicker/DatePicker.base.tsx
Owners: @lorejoh12

Set ChatMessage timestamp to inline-block
  packages/fluentui/react-northstar/src/themes/teams/components/Chat/chatMessageStyles.ts
Owners: @assuncaocharles, @layershifter, @miroslavstastny, @pompomon, @jurokapsiar, @ling1726

Add changelog entry
  packages/fluentui/CHANGELOG.md
Owners: @assuncaocharles, @layershifter, @miroslavstastny, @pompomon, @jurokapsiar, @ling1726

changed to runAxeOnAllElements
  packages/fluentui/react-builder/src/accessibility/runAxeOnElement.ts
  packages/fluentui/react-builder/src/components/Designer.tsx
  packages/fluentui/react-builder/src/hooks/index.ts
  packages/fluentui/react-builder/src/hooks/useAxeOnElement.ts
  packages/fluentui/react-builder/src/state/state.ts
Owners: @assuncaocharles, @layershifter, @miroslavstastny, @pompomon, @jurokapsiar, @ling1726

update snapshots
  packages/react/src/components/DatePicker/__snapshots__/DatePicker.test.tsx.snap
Owners: @lorejoh12

Change files
  change/@fluentui-react-8bd054ef-8fac-4642-a332-1a58f592952a.json
Owners: none

Fix compact hover background in dark themes
  packages/fluentui/react-northstar/src/themes/teams-dark-v2/components/Chat/chatMessageVariables.ts
  packages/fluentui/react-northstar/src/themes/teams-dark/components/Chat/chatMessageVariables.ts
Owners: @assuncaocharles, @layershifter, @miroslavstastny, @pompomon, @jurokapsiar, @ling1726

feat(keyboard-keys): Init new package (not published) (#18815)
  jest.config.js
  nx.json
  packages/keyboard-keys/.eslintrc.json
  packages/keyboard-keys/.npmignore
  packages/keyboard-keys/LICENSE
  packages/keyboard-keys/README.md
  packages/keyboard-keys/config/api-extractor.json
  packages/keyboard-keys/config/api-extractor.local.json
  packages/keyboard-keys/etc/keyboard-keys.api.md
  packages/keyboard-keys/just.config.ts
  packages/keyboard-keys/package.json
  packages/keyboard-keys/src/index.ts
  packages/keyboard-keys/tsconfig.json
  tsconfig.base.json
  workspace.json
Owners: @microsoft/fluentui-react-build

chore: new bundle size tool, build & upload results (#18322)
  azure-pipelines.bundlesize.yml
  jest.config.js
  nx.json
  package.json
  packages/bundle-size/.eslintrc.json
  packages/bundle-size/README.md
  packages/bundle-size/config/tests.js
  packages/bundle-size/jest.config.js
  packages/bundle-size/just.config.ts
  packages/bundle-size/package.json
  packages/bundle-size/src/commands/uploadReport.js
  packages/bundle-size/src/index.js
  packages/bundle-size/src/utils/buildFixture.js
  packages/bundle-size/src/utils/buildFixture.test.js
  packages/bundle-size/src/utils/collectLocalReport.js
  packages/bundle-size/src/utils/collectLocalReport.test.js
  packages/bundle-size/src/utils/prepareFixture.js
  packages/bundle-size/src/utils/prepareFixture.test.js
  packages/bundle-size/tsconfig.json
  packages/fluentui/react-bindings/src/hooks/usePrevious.ts
  scripts/package.json
  workspace.json
  yarn.lock
Owners: @microsoft/fluentui-react-build, @assuncaocharles, @layershifter, @miroslavstastny, @pompomon, @jurokapsiar, @ling1726

fix(E2E): Revert popover e2e
  packages/react-popover/package.json
Owners: none

Change files
  change/@fluentui-react-popover-365da331-2682-4cbe-b411-5156b6b14e79.json
Owners: none

fix(E2E): Revert popover e2e (#18845)
  change/@fluentui-react-popover-365da331-2682-4cbe-b411-5156b6b14e79.json
  packages/react-popover/package.json
Owners: none

Change files
  change/@fluentui-react-button-e037381a-725f-40d0-a5c1-58668038e011.json
Owners: none

Refactor react-button to use react-aria
  packages/react-button/package.json
  packages/react-button/src/components/Button/useButtonState.ts
Owners: @microsoft/cxe-red, @dzearing, @khmakoto

Updates snapshot
  packages/react-button/src/components/Button/__snapshots__/Button.test.tsx.snap
Owners: @microsoft/cxe-red, @dzearing, @khmakoto

Updates react-aria to handle keydown for spacebar
  packages/react-aria/src/hooks/useARIAButton.test.tsx
  packages/react-aria/src/hooks/useARIAButton.ts
Owners: @bsunderhus

Change files
  change/@fluentui-react-aria-9c769981-618a-4dc0-b986-6c5556b3f2fa.json
Owners: none

experiment(RTL): Fix button dynamic RTL loading
  apps/vr-tests/src/stories/Button.stories.tsx
  packages/react/src/components/Button/DefaultButton/DefaultButton.tsx
Owners: @microsoft/cxe-red, @khmakoto

chore: fix "variables.isPR" usages in pipeline files
  azure-pipelines.bundlesize.yml
  azure-pipelines.perf-test.yml
  azure-pipelines.yml
Owners: @microsoft/fluentui-react-build

fix(E2E): Do not run e2e tests in parallel
  package.json
  packages/react-popover/package.json
Owners: @microsoft/fluentui-react-build

Change files
  change/@fluentui-react-popover-b10e3379-f5a5-4aef-b1e2-feab91432803.json
Owners: none

chore: fix "variables.isPR" usages in pipeline files (#18847)
  azure-pipelines.bundlesize.yml
  azure-pipelines.perf-test.yml
  azure-pipelines.yml
Owners: @microsoft/fluentui-react-build

Test v1
  .github/workflows/publish-dep-graph.yml
Owners: @microsoft/fluentui-react-build

Add main branch checking out
  .github/workflows/publish-dep-graph.yml
Owners: @microsoft/fluentui-react-build

chore: integrate new bundle size tool
  azure-pipelines.bundlesize.yml
  lage.config.js
  package.json
  packages/bundle-size/README.md
  packages/bundle-size/src/commands/compareReports.js
  packages/bundle-size/src/commands/measure.js
  packages/bundle-size/src/index.js
  packages/bundle-size/src/reporters/__snapshots__/markdownReporter.test.js.snap
  packages/bundle-size/src/reporters/cliReporter.js
  packages/bundle-size/src/reporters/cliReporter.test.js
  packages/bundle-size/src/reporters/markdownReporter.js
  packages/bundle-size/src/reporters/markdownReporter.test.js
  packages/bundle-size/src/reporters/sampleReport.js
  packages/bundle-size/src/utils/calculateDiffByMetric.js
  packages/bundle-size/src/utils/calculateDiffByMetric.test.js
  packages/bundle-size/src/utils/compareResultsInReports.js
  packages/bundle-size/src/utils/compareResultsInReports.test.js
  packages/bundle-size/src/utils/helpers.js
  packages/bundle-size/src/utils/sortComparedReport.js
  packages/bundle-size/src/utils/sortComparedReport.test.js
  packages/fluentui/perf-test/package.json
  scripts/package.json
  yarn.lock
Owners: @microsoft/fluentui-react-build

Add changelog entry
  packages/fluentui/CHANGELOG.md
Owners: @assuncaocharles, @layershifter, @miroslavstastny, @pompomon, @jurokapsiar, @ling1726

Fetch all history
  .github/workflows/publish-dep-graph.yml
Owners: @microsoft/fluentui-react-build

Add main, again
  .github/workflows/publish-dep-graph.yml
Owners: @microsoft/fluentui-react-build

Disable clean
  .github/workflows/publish-dep-graph.yml
Owners: @microsoft/fluentui-react-build

Change files
  change/@fluentui-eslint-plugin-7d38ea83-cf37-4da9-8c1e-fb7a222935ad.json
  change/@fluentui-web-components-04f2b07b-0d06-48f6-963a-7dbb0222804b.json
Owners: none

fix(eslint-plugin): turn off explicitly react/require-default-props after vers bump
  packages/eslint-plugin/src/configs/react.js
Owners: @microsoft/fluentui-react-build

Change files
  change/@fluentui-api-docs-c7d179fb-4e07-4020-89d5-aee45cc965cf.json
  change/@fluentui-codemods-6343f633-b062-4817-8e1c-a4c50a14ea51.json
Owners: none

chore: migrate packages(express,fsextra) to single version policy
  apps/server-rendered-app/package.json
  apps/test-bundles/package.json
  package.json
  packages/api-docs/package.json
  packages/codemods/package.json
  packages/fluentui/local-sandbox/package.json
  packages/fluentui/projects-test/package.json
  scripts/package.json
  yarn.lock
Owners: @microsoft/fluentui-react-build, @assuncaocharles, @layershifter, @miroslavstastny, @pompomon, @jurokapsiar, @ling1726

chore: migrate packages(mostly eslint related) to single version policy
  package.json
  packages/eslint-plugin/package.json
  packages/fluentui/local-sandbox/package.json
  packages/web-components/package.json
  scripts/package.json
  yarn.lock
Owners: @microsoft/fluentui-react-build, @assuncaocharles, @layershifter, @miroslavstastny, @pompomon, @jurokapsiar, @ling1726, @chrisdholt, @EisenbergEffect, @nicholasrice

Test
  .github/workflows/publish-dep-graph.yml
Owners: @microsoft/fluentui-react-build

Test
  .github/workflows/publish-dep-graph.yml
Owners: @microsoft/fluentui-react-build

chore: fix postcss-modules incomatiblity that surfaced when autoprefixer was moved to Single Version policy
  package.json
  yarn.lock
Owners: @microsoft/fluentui-react-build

Revert to checkout action
  .github/workflows/publish-dep-graph.yml
Owners: @microsoft/fluentui-react-build

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, @global-owner1 and @global-owner2
# will be requested for review when someone opens a pull request.
# *   @global-owner1 @global-owner2

# Order is important; the last matching pattern takes the most precedence.
# When someone opens a pull request that only modifies JS files, only @js-owner
# and not the global owner(s) will be requested for a review.
# *.js@js-owner

# You can also use email addresses if you prefer. They'll be used to look up
# users just like we do for commit author emails.
# docs/  docs@example.com

###### Build Section ######
#### Repo-wide build files - Note these will only be applied if another rule below does not apply
*.sh @microsoft/fluentui-react-build
*.yml @microsoft/fluentui-react-build

#### Build folders
/.codesandbox/ @microsoft/fluentui-react-build
/.devops/ @microsoft/fluentui-react-build
/.github/ @microsoft/fluentui-react-build
/.githooks/ @microsoft/fluentui-react-build
/.storybook/ @microsoft/fluentui-react-build
/.vscode/ @microsoft/fluentui-react-build
/scripts/ @microsoft/fluentui-react-build
/tools @microsoft/fluentui-react-build

#### Root Build files
/.eslintrc.* @microsoft/fluentui-react-build
/.gitattributes @microsoft/fluentui-react-build
/.gitignore @microsoft/fluentui-react-build
/.npmrc @microsoft/fluentui-react-build
/.npmignore @microsoft/fluentui-react-build
/jest.preset.js @microsoft/fluentui-react-build
/lerna.json @microsoft/fluentui-react-build
/package.json @microsoft/fluentui-react-build
/sizeauditor.json @microsoft/fluentui-react-build
/tsconfig.json @microsoft/fluentui-react-build
/tsconfig.base.json @microsoft/fluentui-react-build
/yarn.lock @microsoft/fluentui-react-build
/*.config.js @microsoft/fluentui-react-build

#### NX related files
/nx.json @microsoft/fluentui-react-build
/workspace.json @microsoft/fluentui-react-build
/migrations.json @microsoft/fluentui-react-build

#### Meta and License stuff
/LICENSE @microsoft/fluentui-react-build @justSlone @jurokapsiar
/packages/react/LICENSE @microsoft/fluentui-react-build @justSlone @jurokapsiar
/.github/CODEOWNERS @microsoft/fluentui-react-build @justSlone @jurokapsiar

#### Fluent UI N*
packages/a11y-rules/ @kolaps33 @assuncaocharles @layershifter @miroslavstastny @pompomon @jurokapsiar @ling1726
packages/a11y-testing/ @kolaps33 @assuncaocharles @layershifter @miroslavstastny @pompomon @jurokapsiar @ling1726
packages/fluentui/ @assuncaocharles @layershifter @miroslavstastny @pompomon @jurokapsiar @ling1726

#### Web Components
packages/web-components @chrisdholt @EisenbergEffect @nicholasrice

#### Apps
# component-demo/
public-docsite/ @ecraig12345
public-docsite-resources/ @ecraig12345 @justSlone
perf-test/ @microsoft/fluentui-react-build
# ssr-tests/
# todo-app/

#### Packages
packages/react-charting/ @Raghurk
packages/react-date-time @lorejoh12 @evlevy
packages/date-time-utilities @lorejoh12 @evlevy
packages/eslint-plugin/ @microsoft/fluentui-react-build
packages/react-docsite-components/ @ecraig12345
packages/react-file-type-icons/ @KatherineThayerMicrosoft @jahnp @bigbadcapers
packages/foundation-legacy/ @microsoft/cxe-red @khmakoto
# packages/font-icons-mdl2/
# packages/jest-serializer-merge-styles/
packages/merge-styles/ @dzearing
packages/monaco-editor/ @ecraig12345
packages/public-docsite-setup/ @ecraig12345
packages/react-hooks/ @microsoft/cxe-red @ecraig12345
packages/style-utilities/ @dzearing
packages/style-utilities/src/interfaces/ @phkuo @dzearing
packages/style-utilities/src/styles/ @phkuo @dzearing
packages/theme/ @dzearing
packages/react-provider/ @teams-prg
packages/react-monaco-editor/ @ecraig12345
# packages/utilities/
packages/utilities/positioning/ @microsoft/cxe-red
packages/azure-themes/ @hyoshis @Jacqueline-ms @wsmd
packages/make-styles/ @teams-prg
packages/react-make-styles/ @teams-prg
packages/react-aria/ @bsunderhus
packages/babel-make-styles/ @teams-prg
packages/jest-serializer-make-styles/ @teams-prg

### Fabric
# common/
packages/common-styles/src/ @microsoft/cxe-red @phkuo
common/_semanticSlots.scss @microsoft/cxe-red @phkuo
common/_themeOverrides.scss @microsoft/cxe-red @phkuo
common/_common.scss @microsoft/cxe-red @phkuo

## Component packages
packages/react-avatar/ @microsoft/cxe-red @behowell
packages/react-menu/ @teams-prg
packages/react-badge/ @ling1726 @layershifter @assuncaocharles @behowell
packages/react-button/ @microsoft/cxe-red @dzearing @khmakoto
packages/react-card/ @microsoft/cxe-red @khmakoto
packages/react-checkbox/ @microsoft/cxe-red @khmakoto
packages/react-components/ @layershifter @miroslavstastny
packages/react-focus/ @microsoft/cxe-red @khmakoto
packages/react-image/ @cxe-prg
packages/react-input/ @microsoft/cxe-red @ecraig12345
packages/react-storybook/ @cxe-prg @ling1726 @layershifter
packages/storybook/ @cxe-prg @ling1726 @layershifter
packages/react-link/ @microsoft/cxe-red @khmakoto
packages/react-slider/ @microsoft/cxe-red
packages/react-tabs/ @microsoft/cxe-red @behowell
packages/react-toggle/ @microsoft/cxe-red @behowell
packages/react-tooltip/ @microsoft/cxe-red @behowell
packages/react-label/ @microsoft/cxe-red @sopranopillow

## Components
packages/react @microsoft/cxe-red
packages/react/src/components/ActivityItem/ @microsoft/cxe-red @khmakoto
packages/react/src/components/Announced/ @microsoft/cxe-red @khmakoto
packages/react/src/components/Breadcrumb/ @microsoft/cxe-red @khmakoto
packages/react/src/components/Button/ @microsoft/cxe-red @khmakoto
packages/react/src/components/Calendar/ @lorejoh12
packages/react/src/components/CalendarDayGrid/ @lorejoh12
packages/react/src/components/Check/ @microsoft/cxe-red @ThomasMichon @khmakoto
packages/react/src/components/Checkbox/ @microsoft/cxe-red @khmakoto
packages/react/src/components/ChoiceGroup/ @microsoft/cxe-red @ecraig12345
packages/react/src/components/Coachmark/ @microsoft/cxe-red @leddie24
packages/react/src/components/ColorPicker/ @microsoft/cxe-red @ecraig12345
packages/react/src/components/DatePicker/ @lorejoh12
packages/react/src/components/DetailsList/ @microsoft/cxe-red @ThomasMichon
packages/react/src/components/DocumentCard/ @microsoft/cxe-red @yiminwu
packages/react/src/components/Fabric/ @microsoft/cxe-red @dzearing
packages/react/src/components/Facepile/ @microsoft/cxe-red @markionium @mtennoe
packages/react/src/components/FolderCover/ @microsoft/cxe-red @ThomasMichon @bigbadcapers
packages/react/src/components/FocusTrapZone/ @microsoft/cxe-red @khmakoto
packages/react/src/components/GroupedList/ @microsoft/cxe-red @ThomasMichon
packages/react/src/components/HoverCard/ @microsoft/cxe-red @Jahnp @Vitalius1
packages/react/src/components/Icon/ @microsoft/cxe-red @dzearing @ecraig12345
packages/react/src/components/Image/ @microsoft/cxe-red @dzearing
packages/react/src/components/Label/ @microsoft/cxe-red @khmakoto
packages/react/src/components/Layer/ @microsoft/cxe-red @ThomasMichon
packages/react/src/components/Link/ @microsoft/cxe-red @khmakoto
packages/react/src/components/List/ @microsoft/cxe-red @ThomasMichon
packages/react/src/components/MarqueeSelection/ @microsoft/cxe-red @ThomasMichon
packages/react/src/components/MessageBar/ @microsoft/cxe-red @ecraig12345
packages/react/src/components/Nav/ @microsoft/cxe-red @ecraig12345
packages/react/src/components/Overlay/ @microsoft/cxe-red @khmakoto
packages/react/src/components/Panel/ @microsoft/cxe-red @khmakoto
packages/react/src/components/Persona/ @microsoft/cxe-red @markionium @mtennoe
packages/react/src/components/PersonaCoin/ @microsoft/cxe-red @mtennoe @markionium
packages/react/src/components/Pivot/ @microsoft/cxe-red @behowell
packages/react/src/components/SearchBox/ @microsoft/cxe-red @ecraig12345
packages/react/src/components/Shimmer/ @microsoft/cxe-red @Vitalius1
packages/react/src/components/SpinButton/ @microsoft/cxe-red @ecraig12345
packages/react/src/components/Stack/ @microsoft/cxe-red @khmakoto
packages/react/src/components/SwatchColorPicker/ @microsoft/cxe-red @ecraig12345
packages/react/src/components/Text/ @microsoft/cxe-red @khmakoto
packages/react/src/components/TextField/ @microsoft/cxe-red @ecraig12345
packages/react/src/components/Toggle/ @microsoft/cxe-red @khmakoto
packages/react/src/components/Tooltip/ @microsoft/cxe-red @behowell
packages/react/src/components/WeeklyDayPicker/ @lorejoh12

## Theming and styling
packages/react/src/utilities/ThemeProvider @microsoft/cxe-red @dzearing

## Experiments
packages/react-experiments/src/components/Signals/ @ThomasMichon
packages/react-experiments/src/components/Tile/ @ThomasMichon
packages/react-experiments/src/components/TileList/ @ThomasMichon
