Repository microsoft/fluentui, pull requests merged in 2018-02, with the labels that each got.

#3849 Add name attribute to button in pivot
  common/changes/office-ui-fabric-react/pivot-button-name_2018-01-31-19-51.json
  packages/office-ui-fabric-react/src/components/Pivot/Pivot.tsx
  packages/office-ui-fabric-react/src/components/Pivot/__snapshots__/Pivot.test.tsx.snap
Labels: accessibility

#3880 Convert Check to mergeStyles
  common/changes/office-ui-fabric-react/mergeStyles-Check_2018-02-03-01-48.json
  packages/office-ui-fabric-react/src/components/Check/Check.base.tsx
  packages/office-ui-fabric-react/src/components/Check/Check.styles.ts
  packages/office-ui-fabric-react/src/components/Check/Check.tsx
  packages/office-ui-fabric-react/src/components/Check/Check.types.ts
  packages/office-ui-fabric-react/src/components/Check/index.ts
Labels: merge-styles

#4099 [ColorRectangle, Sticky] Fixed null root refs
  common/changes/office-ui-fabric-react/magellan-fixNullRootRef_2018-02-26-22-26.json
  packages/office-ui-fabric-react/src/components/ColorPicker/ColorRectangle.tsx
Labels: bug
