Repository microsoft/fluentui, pull requests merged in 2018-05, with the labels that each got.

#4586 If HoverCard has firstFocus set then setInitialFocus in ExpandingCard's Callout component
  common/changes/office-ui-fabric-react/keco-firstfocus-hovercard_2018-04-17-17-42.json
  packages/office-ui-fabric-react/src/components/HoverCard/HoverCard.tsx
Labels: Area: accessibility

#4713 Refactor String.prototype.includes in favor of String.prototype.indexOf for IE compatibility
  common/changes/@uifabric/example-app-base/keco-ie-string-includes_2018-04-30-21-50.json
  packages/example-app-base/src/components/ComponentPage/ComponentPage.tsx
Labels: Type: bug

#4740 Prevent TooltipHost from mutating calloutProps property.
  common/changes/office-ui-fabric-react/jagore-fix-tooltip-mutation_2018-05-02-18-04.json
  packages/office-ui-fabric-react/src/components/Tooltip/TooltipHost.test.tsx
  packages/office-ui-fabric-react/src/components/Tooltip/TooltipHost.tsx
Labels: :bug: Type: bug

#4840 Revert react portals change
  common/changes/@uifabric/example-app-base/revert-react-portals_2018-05-11-02-13.json
  common/changes/office-ui-fabric-react/revert-react-portals_2018-05-10-22-27.json
  common/config/rush/npm-shrinkwrap.json
  packages/office-ui-fabric-react/package.json
  packages/office-ui-fabric-react/src/components/Callout/CalloutContent.base.tsx
  packages/office-ui-fabric-react/src/components/ContextualMenu/ContextualMenu.test.tsx
  packages/office-ui-fabric-react/src/components/Layer/Layer.base.tsx
  packages/office-ui-fabric-react/src/components/Layer/Layer.notification.ts
  packages/office-ui-fabric-react/src/components/Layer/Layer.test.tsx
  packages/office-ui-fabric-react/src/components/Layer/Layer.tsx
  packages/office-ui-fabric-react/src/components/Layer/LayerHost.tsx
  packages/office-ui-fabric-react/src/components/Layer/PortalLayer.base.tsx
  packages/office-ui-fabric-react/src/components/Layer/__snapshots__/Layer.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Layer/examples/Layer.Basic.Example.tsx
  packages/office-ui-fabric-react/src/components/TeachingBubble/TeachingBubble.test.tsx
  packages/office-ui-fabric-react/src/components/TeachingBubble/__snapshots__/TeachingBubble.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Tooltip/Tooltip.test.tsx
  packages/office-ui-fabric-react/src/components/Tooltip/__snapshots__/Tooltip.test.tsx.snap
Labels: 6.0-follow-up-required

#4714 Reducing the build time
  scripts/build.js
  scripts/exec.js
  scripts/tasks/jest.js
  scripts/tasks/sass.js
  scripts/tasks/ts.js
  scripts/tasks/tslint.js
  scripts/tasks/webpack.js
Labels: Area: build-system, Area: devexp

#4899 Revert "Reducing the build time (#4714)"
  apps/fabric-website/src/components/App/App.scss
  scripts/build.js
  scripts/exec.js
  scripts/tasks/jest.js
  scripts/tasks/sass.js
  scripts/tasks/ts.js
  scripts/tasks/tslint.js
  scripts/tasks/webpack.js
Labels: Area: build-system

#4796 Slider: Convert to mergeStyles (Part #1)
  common/changes/office-ui-fabric-react/keco-ms-slider-pt1_2018-05-07-19-11.json
  packages/office-ui-fabric-react/src/components/Slider/Slider.base.tsx
  packages/office-ui-fabric-react/src/components/Slider/Slider.styles.ts
  packages/office-ui-fabric-react/src/components/Slider/Slider.test.tsx
  packages/office-ui-fabric-react/src/components/Slider/Slider.tsx
  packages/office-ui-fabric-react/src/components/Slider/Slider.types.ts
  packages/office-ui-fabric-react/src/components/Slider/__snapshots__/Slider.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Slider/index.ts
Labels: Project: mergeStyles

#4743 Restart stalebot: Wait until triage meetings are complete to merge.
  .github/stale.yml
Labels: waiting-to-merge

#4950 Mergestyles facepile
  common/changes/office-ui-fabric-react/mergestyles-facepile_2018-05-22-18-30.json
  packages/office-ui-fabric-react/src/components/Facepile/Facepile.base.tsx
  packages/office-ui-fabric-react/src/components/Facepile/Facepile.styles.ts
  packages/office-ui-fabric-react/src/components/Facepile/Facepile.test.tsx
  packages/office-ui-fabric-react/src/components/Facepile/Facepile.tsx
  packages/office-ui-fabric-react/src/components/Facepile/Facepile.types.ts
  packages/office-ui-fabric-react/src/components/Facepile/index.ts
Labels: 6.0-follow-up-required

#4976 Remove build artifacts
  .node-version
  .npm-version
Labels: Area: build-system
