Repository microsoft/fluentui, pull requests merged in 2018-08, with the labels that each got.

#5768 Cleanup button deprecated
  common/changes/office-ui-fabric-react/cleanupButtonDeprecated_2018-08-01-22-02.json
  packages/office-ui-fabric-react/src/components/Button/Button.deprecated.test.tsx
  packages/office-ui-fabric-react/src/components/Button/__snapshots__/Button.deprecated.test.tsx.snap
Labels: Area: Cleanup, Component: Button

#5754 Make Toggle component actually follow accessibility standards
  common/changes/office-ui-fabric-react/phloh-make-Toggle-follow-ARIA-standards_2018-07-31-23-06.json
  packages/office-ui-fabric-react/src/components/Toggle/Toggle.base.tsx
  packages/office-ui-fabric-react/src/components/Toggle/Toggle.deprecated.test.tsx
  packages/office-ui-fabric-react/src/components/Toggle/Toggle.doc.tsx
  packages/office-ui-fabric-react/src/components/Toggle/Toggle.test.tsx
  packages/office-ui-fabric-react/src/components/Toggle/Toggle.types.ts
  packages/office-ui-fabric-react/src/components/Toggle/__snapshots__/Toggle.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Toggle/docs/ToggleDos.md
  packages/office-ui-fabric-react/src/components/Toggle/examples/Toggle.AriaLabel.Example.tsx
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Documents.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.DragDrop.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/ExtendedPeoplePicker.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/FocusTrapZone.Box.Click.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/FocusTrapZone.Box.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/FocusTrapZone.Box.FocusOnCustomElement.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/FocusTrapZone.Nested.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Keytips.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Keytips.Button.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Layer.Hosted.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/PeoplePicker.Types.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Shimmer.Application.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Shimmer.LoadData.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Toggle.Basic.Example.tsx.shot
Labels: Component: Toggle

#5773 Add auto-fontsize to recommendation card
  common/changes/@uifabric/dashboard/autofontsize_2018-08-01-23-09.json
  packages/dashboard/src/components/Recommendation/Recommendation.tsx
  packages/dashboard/src/components/Recommendation/__snapshots__/Recommendation.test.tsx.snap
  packages/dashboard/src/components/Recommendation/examples/Recommendation.Basic.Example.tsx
Labels: @uifabric/dashboard

#5774 Dashboard: fix package json to use react and react-dom in peer dependencies
  common/changes/@uifabric/dashboard/fixpackagejson_2018-08-02-02-56.json
  packages/dashboard/package.json
Labels: @uifabric/dashboard

#5565 Coachmark: Add onDismiss for coachmark
  common/changes/office-ui-fabric-react/coachmarkOnDismiss_2018-07-14-00-01.json
  packages/office-ui-fabric-react/src/components/Coachmark/Coachmark.styles.ts
  packages/office-ui-fabric-react/src/components/Coachmark/Coachmark.tsx
  packages/office-ui-fabric-react/src/components/Coachmark/Coachmark.types.ts
  packages/office-ui-fabric-react/src/components/Coachmark/examples/Coachmark.Basic.Example.tsx
Labels: PR: Waiting for Author

#5886 5.x Adds Shimmer component to
  apps/fabric-website/src/components/App/AppState.tsx
  apps/fabric-website/src/pages/Components/ShimmerComponentPage.tsx
  apps/vr-tests/src/stories/Shimmer.stories.tsx
  common/changes/@uifabric/fabric-website/v-vibr-OUFR_Shimmer_2018-08-09-23-14.json
  common/changes/office-ui-fabric-react/v-vibr-OUFR_Shimmer_2018-08-09-23-12.json
  packages/office-ui-fabric-react/src/Shimmer.ts
  packages/office-ui-fabric-react/src/components/Shimmer/Shimmer.base.tsx
  packages/office-ui-fabric-react/src/components/Shimmer/Shimmer.checklist.ts
  packages/office-ui-fabric-react/src/components/Shimmer/Shimmer.styles.ts
  packages/office-ui-fabric-react/src/components/Shimmer/Shimmer.test.tsx
  packages/office-ui-fabric-react/src/components/Shimmer/Shimmer.ts
  packages/office-ui-fabric-react/src/components/Shimmer/Shimmer.types.ts
  packages/office-ui-fabric-react/src/components/Shimmer/ShimmerCircle/ShimmerCircle.base.tsx
  packages/office-ui-fabric-react/src/components/Shimmer/ShimmerCircle/ShimmerCircle.styles.ts
  packages/office-ui-fabric-react/src/components/Shimmer/ShimmerCircle/ShimmerCircle.ts
  packages/office-ui-fabric-react/src/components/Shimmer/ShimmerCircle/ShimmerCircle.types.ts
  packages/office-ui-fabric-react/src/components/Shimmer/ShimmerElementsGroup/ShimmerElementsGroup.base.tsx
  packages/office-ui-fabric-react/src/components/Shimmer/ShimmerElementsGroup/ShimmerElementsGroup.styles.ts
  packages/office-ui-fabric-react/src/components/Shimmer/ShimmerElementsGroup/ShimmerElementsGroup.ts
  packages/office-ui-fabric-react/src/components/Shimmer/ShimmerElementsGroup/ShimmerElementsGroup.types.ts
  packages/office-ui-fabric-react/src/components/Shimmer/ShimmerGap/ShimmerGap.base.tsx
  packages/office-ui-fabric-react/src/components/Shimmer/ShimmerGap/ShimmerGap.styles.ts
  packages/office-ui-fabric-react/src/components/Shimmer/ShimmerGap/ShimmerGap.ts
  packages/office-ui-fabric-react/src/components/Shimmer/ShimmerGap/ShimmerGap.types.ts
  packages/office-ui-fabric-react/src/components/Shimmer/ShimmerLine/ShimmerLine.base.tsx
  packages/office-ui-fabric-react/src/components/Shimmer/ShimmerLine/ShimmerLine.styles.ts
  packages/office-ui-fabric-react/src/components/Shimmer/ShimmerLine/ShimmerLine.ts
  packages/office-ui-fabric-react/src/components/Shimmer/ShimmerLine/ShimmerLine.types.ts
  packages/office-ui-fabric-react/src/components/Shimmer/ShimmerPage.tsx
  packages/office-ui-fabric-react/src/components/Shimmer/__snapshots__/Shimmer.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Shimmer/docs/ShimmerDonts.md
  packages/office-ui-fabric-react/src/components/Shimmer/docs/ShimmerDos.md
  packages/office-ui-fabric-react/src/components/Shimmer/docs/ShimmerOverview.md
  packages/office-ui-fabric-react/src/components/Shimmer/examples/ExampleHelper.tsx
  packages/office-ui-fabric-react/src/components/Shimmer/examples/Shimmer.Application.Example.tsx
  packages/office-ui-fabric-react/src/components/Shimmer/examples/Shimmer.Basic.Example.tsx
  packages/office-ui-fabric-react/src/components/Shimmer/examples/Shimmer.CustomElements.Example.tsx
  packages/office-ui-fabric-react/src/components/Shimmer/examples/Shimmer.Example.scss
  packages/office-ui-fabric-react/src/components/Shimmer/examples/Shimmer.LoadData.Example.tsx
  packages/office-ui-fabric-react/src/components/Shimmer/examples/Shimmer.Styling.Example.tsx
  packages/office-ui-fabric-react/src/components/Shimmer/index.ts
  packages/office-ui-fabric-react/src/demo/AppDefinition.tsx
  packages/office-ui-fabric-react/src/demo/ComponentStatus/AllComponents.checklist.ts
  packages/office-ui-fabric-react/src/index.ts
Labels: Branch: 5.0

#5923 Website: fixes for DetailsList examples and nav/searchbox persisting
  apps/fabric-website/src/components/App/AppState.tsx
  apps/fabric-website/src/components/Nav/Nav.tsx
  apps/fabric-website/src/styles/_variables.scss
  common/changes/@uifabric/fabric-website/sopranopillow-bugfix_2018-08-09-19-16.json
  common/changes/@uifabric/utilities/sopranopillow-bugfix_2018-08-13-21-51.json
  packages/utilities/src/Customizer.tsx
Labels: Area: Website

#5932 Local WDS instance codepen!
  common/changes/office-ui-fabric-react/codepen_2018-08-14-23-14.json
  common/config/rush/npm-shrinkwrap.json
  package.json
  packages/office-ui-fabric-react/package.json
  packages/office-ui-fabric-react/webpack.codepen.config.js
  scripts/local-codepen.js
  scripts/package.json
Labels: Area: DevExp

#5939 faster npm install build
  common/config/rush/command-line.json
  package.json
  scripts/build.js
Labels: Area: DevExp

#5523 Calendar: Clicking on today should not change selection
  common/changes/office-ui-fabric-react/elliberm-gototoday_2018-07-11-19-51.json
  packages/office-ui-fabric-react/src/components/Calendar/Calendar.tsx
  packages/office-ui-fabric-react/src/components/Calendar/Calendar.types.ts
Labels: Component: Calendar, PR: Waiting for Author

#5900 5.x Adds the ShimmeredDetailsList from 6.0
  common/changes/office-ui-fabric-react/v-vibr-OUFR_ShimmeredDetailsList_2018-08-10-19-05.json
  packages/office-ui-fabric-react/src/ShimmeredDetailsList.ts
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsList.scss
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsList.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/ShimmeredDetailsList.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/index.ts
  packages/office-ui-fabric-react/src/components/Shimmer/examples/Shimmer.Application.Example.tsx
Labels: Branch: 5.0

#6000 cherry picked updates from PR 5993
  common/changes/@uifabric/styling/finalSemanticColorsForNews_2018-08-20-17-52.json
  common/changes/@uifabric/variants/finalSemanticColorsForNews_2018-08-20-17-52.json
  common/changes/office-ui-fabric-react/finalSemanticColorsForNews_2018-08-20-17-52.json
  packages/office-ui-fabric-react/src/common/_semanticSlots.scss
  packages/styling/src/interfaces/ISemanticColors.ts
  packages/styling/src/styles/theme.ts
  packages/variants/src/variants.ts
Labels: Branch: 5.0

#5804 Ios overlay scroll
  common/changes/@uifabric/utilities/ios-overlay-scroll_2018-08-04-00-06.json
  common/changes/@uifabric/utilities/ios-overlay-scroll_2018-08-14-20-18.json
  common/changes/office-ui-fabric-react/ios-overlay-scroll_2018-08-14-20-18.json
  packages/office-ui-fabric-react/src/components/Modal/Modal.base.tsx
  packages/office-ui-fabric-react/src/components/Modal/__snapshots__/Modal.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Panel/Panel.scss
  packages/office-ui-fabric-react/src/components/Panel/Panel.test.tsx
  packages/office-ui-fabric-react/src/components/Panel/Panel.tsx
  packages/office-ui-fabric-react/src/components/Panel/__snapshots__/Panel.test.tsx.snap
  packages/utilities/src/scroll.ts
Labels: ios

#5899 Initial check in for dashboard with sections
  common/changes/@uifabric/dashboard/sections_2018-08-13-22-13.json
  packages/dashboard/src/components/Card/Card.types.ts
  packages/dashboard/src/components/DashboardGridLayout/DashboardGridLayout.tsx
  packages/dashboard/src/components/DashboardGridLayout/DashboardGridLayout.types.ts
  packages/dashboard/src/components/DashboardGridLayout/DashboardGridLayoutPage.tsx
  packages/dashboard/src/components/DashboardGridLayout/DashboardGridSectionLayout.tsx
  packages/dashboard/src/components/DashboardGridLayout/examples/DashboardGridLayout.Card.Example.tsx
  packages/dashboard/src/components/DashboardGridLayout/examples/DashboardGridLayout.DragApi.Example.tsx
  packages/dashboard/src/components/DashboardGridLayout/examples/DashboardGridLayout.Example.tsx
  packages/dashboard/src/components/DashboardGridLayout/examples/DashboardGridLayout.Sections.Example.tsx
  packages/dashboard/src/components/DashboardGridLayout/examples/DashboardGridLayout.SectionsNonCollapse.Example.tsx
  packages/dashboard/src/components/DashboardGridLayout/index.ts
  packages/dashboard/src/components/Section/Section.styles.ts
  packages/dashboard/src/components/Section/Section.tsx
  packages/dashboard/src/components/Section/Section.types.ts
  packages/dashboard/src/components/Section/SectionPage.tsx
  packages/dashboard/src/components/Section/examples/Section.Basic.Example.tsx
  packages/dashboard/src/components/Section/index.ts
  packages/dashboard/src/demo/AppDefinition.tsx
  packages/dashboard/src/index.ts
Labels: PR: Waiting for Author

#5823 Panel MergeStyles Conversion
  common/changes/@uifabric/styling/panel-ms-all_2018-08-13-23-22.json
  common/changes/office-ui-fabric-react/panel-ms-all_2018-08-13-23-22.json
  packages/office-ui-fabric-react/src/components/Panel/Panel.base.tsx
  packages/office-ui-fabric-react/src/components/Panel/Panel.scss
  packages/office-ui-fabric-react/src/components/Panel/Panel.styles.ts
  packages/office-ui-fabric-react/src/components/Panel/Panel.test.tsx
  packages/office-ui-fabric-react/src/components/Panel/Panel.ts
  packages/office-ui-fabric-react/src/components/Panel/Panel.types.ts
  packages/office-ui-fabric-react/src/components/Panel/__snapshots__/Panel.test.tsx.snap
  packages/styling/src/styles/CommonStyles.ts
Labels: Area: merge-styles, Component: Panel

#6090 Variant theme function fix5.0
  common/changes/@uifabric/variants/variantThemeFunctionFix5.0_2018-08-27-16-17.json
  common/changes/@uifabric/variants/variantThemeFunctionFix_2018-08-23-16-57.json
  packages/variants/src/variants.ts
Labels: Branch: 5.0

#6122 Buttons: Remove borders for buttons that should not have borders
  common/changes/office-ui-fabric-react/phkuo-5.0buttonBorders_2018-08-29-00-35.json
  packages/office-ui-fabric-react/src/components/Breadcrumb/__snapshots__/Breadcrumb.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Button/ActionButton/ActionButton.styles.ts
  packages/office-ui-fabric-react/src/components/Button/IconButton/IconButton.styles.ts
  packages/office-ui-fabric-react/src/components/Button/__snapshots__/Button.deprecated.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Button/__snapshots__/Button.test.tsx.snap
  packages/office-ui-fabric-react/src/components/ComboBox/__snapshots__/ComboBox.deprecated.test.tsx.snap
  packages/office-ui-fabric-react/src/components/ComboBox/__snapshots__/ComboBox.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Nav/__snapshots__/Nav.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Pivot/__snapshots__/Pivot.test.tsx.snap
  packages/office-ui-fabric-react/src/components/SpinButton/__snapshots__/SpinButton.test.tsx.snap
  packages/office-ui-fabric-react/src/components/pickers/Suggestions/__snapshots__/Suggestions.test.tsx.snap
Labels: Branch: 5.0

#6137 Na vfix
  common/changes/@uifabric/dashboard/NAVfix_2018-08-21-02-30.json
  common/changes/@uifabric/dashboard/NAVfix_2018-08-23-00-29.json
  packages/dashboard/src/components/Nav/Nav.tsx
  packages/dashboard/src/components/Nav/Nav.types.ts
  packages/dashboard/src/components/Nav/NavToggler.tsx
Labels: @uifabric/dashboard

#6064 Horizontal bar chart modify according to figma design
  common/changes/@uifabric/charting/horizontalBarChart_2018-08-24-17-30.json
  common/changes/@uifabric/dashboard/horizontalBarChart_2018-08-29-13-35.json
  packages/charting/src/components/HorizontalBarChart/HorizontalBarChart.base.tsx
  packages/charting/src/components/HorizontalBarChart/HorizontalBarChart.styles.ts
  packages/charting/src/components/HorizontalBarChart/HorizontalBarChart.tsx
  packages/charting/src/components/HorizontalBarChart/HorizontalBarChart.types.ts
  packages/charting/src/components/HorizontalBarChart/HorizontalBarChartPage.tsx
  packages/charting/src/components/HorizontalBarChart/examples/HorizontalBarChart.Basic.Example.tsx
  packages/charting/src/components/HorizontalBarChart/examples/HorizontalBarChart.Dynamic.Example.tsx
  packages/charting/src/components/HorizontalBarChart/examples/HorizontalBarChart.Styled.Example.tsx
  packages/charting/src/components/HorizontalBarChart/index.ts
  packages/charting/src/types/IDataPoint.ts
  packages/dashboard/src/components/Card/Chart/Chart.tsx
  packages/dashboard/src/components/Card/examples/Card.Large.Basic.Example.tsx
Labels: PR: Waiting for Author
