Repository microsoft/fluentui, pull requests merged in 2018-10, with the labels that each got.

#6517 Pivot: fix invalid HTML
  common/changes/office-ui-fabric-react/v-vibr-Pivot_Invalid_HTML_2018-09-29-00-40.json
  packages/office-ui-fabric-react/src/components/Pivot/Pivot.base.tsx
  packages/office-ui-fabric-react/src/components/Pivot/__snapshots__/Pivot.test.tsx.snap
  packages/office-ui-fabric-react/src/components/__snapshots__/Keytips.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Pivot.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Pivot.Fabric.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Pivot.IconCount.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Pivot.Large.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Pivot.OnChange.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Pivot.Override.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Pivot.Remove.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Pivot.Separate.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Pivot.Tabs.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Pivot.TabsLarge.Example.tsx.shot
Labels: Component: Pivot

#6531 [Dashboard] Add setup banner component
  common/changes/@uifabric/dashboard/setupBanner_2018-10-01-20-48.json
  packages/dashboard/src/components/SetupBanner/SetupBanner.styles.ts
  packages/dashboard/src/components/SetupBanner/SetupBanner.tsx
  packages/dashboard/src/components/SetupBanner/SetupBanner.types.ts
  packages/dashboard/src/components/SetupBanner/SetupBannerPage.tsx
  packages/dashboard/src/components/SetupBanner/examples/SetupBanner.Basic.Example.tsx
  packages/dashboard/src/components/SetupBanner/index.ts
  packages/dashboard/src/demo/AppDefinition.tsx
  packages/dashboard/src/index.ts
Labels: @uifabric/dashboard

#6534 Adding callbacks for instrumentation
  common/changes/@uifabric/dashboard/addingCallbacksForInstrumentation_2018-10-01-23-54.json
  packages/dashboard/src/components/Card/Card.tsx
  packages/dashboard/src/components/Card/Card.types.ts
  packages/dashboard/src/components/Card/CardFrame/CardFrame.tsx
  packages/dashboard/src/components/Card/CardFrame/CardFrame.types.ts
  packages/dashboard/src/components/Card/examples/Card.Chart.LineAndVerticalBar.Example.tsx
Labels: @uifabric/dashboard

#6493 Modal: add optional topOffsetFixed prop
  common/changes/office-ui-fabric-react/dialogPositioning_2018-09-27-18-33.json
  packages/office-ui-fabric-react/src/components/Dialog/Dialog.base.tsx
  packages/office-ui-fabric-react/src/components/Modal/Modal.base.tsx
  packages/office-ui-fabric-react/src/components/Modal/Modal.styles.ts
  packages/office-ui-fabric-react/src/components/Modal/Modal.types.ts
Labels: Component: Dialog, Component: Modal

#6536 Removing legend component
  common/changes/@uifabric/charting/removingLegendComponent_2018-10-02-00-01.json
  packages/charting/src/components/Legend/Legend.styles.ts
  packages/charting/src/components/Legend/Legend.tsx
  packages/charting/src/components/Legend/Legend.types.ts
Labels: @uifabric/charting

#6553 Href for multicount
  common/changes/@uifabric/dashboard/hrefForMulticount_2018-10-03-18-51.json
  packages/dashboard/src/components/MultiCount/MultiCount.tsx
  packages/dashboard/src/components/MultiCount/MultiCount.types.ts
  packages/dashboard/src/components/MultiCount/MultiCountStyles.ts
Labels: @uifabric/dashboard

#6554 Redirect links for data viz
  common/changes/@uifabric/charting/redirectLinksForDataViz_2018-10-03-20-40.json
  packages/charting/src/components/DonutChart/Arc/Arc.styles.ts
  packages/charting/src/components/DonutChart/Arc/Arc.tsx
  packages/charting/src/components/DonutChart/Arc/Arc.types.ts
  packages/charting/src/components/DonutChart/DonutChart.base.tsx
  packages/charting/src/components/DonutChart/DonutChart.types.ts
  packages/charting/src/components/DonutChart/Pie/Pie.tsx
  packages/charting/src/components/DonutChart/Pie/Pie.types.ts
  packages/charting/src/components/DonutChart/examples/DonutChart.Basic.Example.tsx
  packages/charting/src/components/StackedBarChart/MultiStackedBarChart.base.tsx
  packages/charting/src/components/StackedBarChart/MultiStackedBarChart.styles.ts
  packages/charting/src/components/StackedBarChart/MultiStackedBarChart.types.ts
  packages/charting/src/components/StackedBarChart/StackedBarChart.base.tsx
  packages/charting/src/components/StackedBarChart/StackedBarChart.styles.ts
  packages/charting/src/components/StackedBarChart/StackedBarChart.types.ts
  packages/charting/src/components/StackedBarChart/examples/MultiStackedBarChart.Example.tsx
  packages/charting/src/components/StackedBarChart/examples/StackedBarChart.BaseBar.Example.tsx
  packages/charting/src/components/StackedBarChart/examples/StackedBarChart.Basic.Example.tsx
Labels: @uifabric/charting

#6555 Dropdown arialabelledby
  common/changes/office-ui-fabric-react/dropdown-arialabelledby_2018-10-03-21-30.json
  packages/office-ui-fabric-react/src/components/Dropdown/Dropdown.base.tsx
  packages/office-ui-fabric-react/src/components/Dropdown/Dropdown.test.tsx
  packages/office-ui-fabric-react/src/components/Dropdown/__snapshots__/Dropdown.test.tsx.snap
  packages/office-ui-fabric-react/src/components/__snapshots__/ChoiceGroup.Custom.Example.tsx.shot
Labels: Component: Dropdown

#6541 Dialog: Add topOffsetFixed example to demo page and small logic fix
  common/changes/office-ui-fabric-react/dialogPositioning_2018-10-02-21-22.json
  packages/office-ui-fabric-react/src/components/Dialog/Dialog.doc.tsx
  packages/office-ui-fabric-react/src/components/Dialog/examples/Dialog.TopOffsetFixed.Example.tsx
  packages/office-ui-fabric-react/src/components/Modal/Modal.base.tsx
  packages/office-ui-fabric-react/src/components/Modal/Modal.styles.ts
  packages/office-ui-fabric-react/src/components/__snapshots__/Dialog.TopOffsetFixed.Example.tsx.shot
Labels: Component: Dialog, Component: Modal

#6556 Add animationDelay prop to Coachmark
  common/changes/@uifabric/styling/edwl-2018-10-fixCoachmarkDelay_2018-10-03-21-59.json
  common/changes/office-ui-fabric-react/edwl-2018-10-fixCoachmarkDelay_2018-10-03-21-59.json
  packages/office-ui-fabric-react/src/components/Coachmark/Coachmark.styles.ts
  packages/office-ui-fabric-react/src/components/Coachmark/Coachmark.tsx
  packages/office-ui-fabric-react/src/components/Coachmark/Coachmark.types.ts
  packages/office-ui-fabric-react/src/components/Coachmark/docs/CoachmarkDos.md
  packages/office-ui-fabric-react/src/components/__snapshots__/CommandBar.CommandBarButtonAs.Example.tsx.shot
  packages/styling/src/styles/PulsingBeaconAnimationStyles.ts
Labels: Component: Coachmark

#6336 drag drop screener tests
  apps/vr-tests/dndSim.js
  apps/vr-tests/screener.config.js
  apps/vr-tests/src/stories/DetailsHeader.stories.tsx
Labels: Do Not Merge 🚫

#6524 Grid list hide line
  common/changes/@uifabric/dashboard/gridListHideLine_2018-10-01-09-43.json
  packages/dashboard/src/components/Card/GridList/GridList.tsx
Labels: @uifabric/dashboard

#6425 Column drag drop changes for 2 extra callbacks and safari bug fix
  common/changes/@uifabric/styling/laxmika-ColumnDragDropChanges_2018-09-20-06-52.json
  common/changes/@uifabric/variants/laxmika-ColumnDragDropChanges_2018-09-20-06-52.json
  common/changes/office-ui-fabric-react/laxmika-ColumnDragDropChanges_2018-09-20-06-52.json
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsColumn.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsHeader.test.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsHeader.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsList.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsList.types.ts
Labels: Branch: 5.0

#6589 PR: fix zero slider value
  common/changes/office-ui-fabric-react/reli-fix-slider-zero-value_2018-10-06-13-27.json
  packages/office-ui-fabric-react/src/components/Slider/Slider.base.tsx
  packages/office-ui-fabric-react/src/components/Slider/Slider.test.tsx
Labels: Component: Slider

#6557 Link focus
  apps/vr-tests/src/stories/Link.stories.tsx
  common/changes/office-ui-fabric-react/link_focus_2018-10-03-22-01.json
  packages/office-ui-fabric-react/src/components/Link/Link.styles.ts
  packages/office-ui-fabric-react/src/components/Link/__snapshots__/Link.test.tsx.snap
  packages/office-ui-fabric-react/src/components/__snapshots__/ActivityItem.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/ActivityItem.Persona.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Breadcrumb.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Breadcrumb.Static.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DocumentCard.Compact.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DocumentCard.Complete.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/FocusTrapZone.Box.Click.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/FocusTrapZone.Box.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/FocusTrapZone.Box.FocusOnCustomElement.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/FocusZone.List.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Keytips.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Link.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/OverflowSet.Basic.Example.tsx.shot
Labels: Component: Link

#6518 DocumentCardTitle: fixing an infinite loop condition calling setState.
  common/changes/office-ui-fabric-react/v-vibr-DocumentCardMaxSize_2018-09-29-03-08.json
  packages/office-ui-fabric-react/src/components/DocumentCard/DocumentCardTitle.tsx
Labels: Component: DocumentCard

#6579 Figma changes in charts
  common/changes/@uifabric/charting/figmaChangesInCharts_2018-10-05-07-32.json
  packages/charting/src/components/HorizontalBarChart/HorizontalBarChart.styles.ts
  packages/charting/src/components/StackedBarChart/MultiStackedBarChart.base.tsx
  packages/charting/src/components/StackedBarChart/MultiStackedBarChart.styles.ts
  packages/charting/src/components/StackedBarChart/MultiStackedBarChart.types.ts
  packages/charting/src/components/StackedBarChart/StackedBarChart.styles.ts
Labels: @uifabric/charting

#6599 Resolve Console Errors for horizontal bar chart
  common/changes/@uifabric/charting/resolveConsoleErrors_2018-10-08-12-49.json
  packages/charting/src/components/HorizontalBarChart/HorizontalBarChart.base.tsx
Labels: @uifabric/charting

#6644 Api extractor merge styles
  common/changes/@uifabric/merge-styles/api-extractor-merge-styles_2018-10-10-18-38.json
  packages/merge-styles/etc/merge-styles.api.ts
  packages/merge-styles/package.json
  packages/merge-styles/src/IRawStyleBase.ts
  packages/merge-styles/src/Stylesheet.ts
  packages/merge-styles/src/concatStyleSets.ts
  packages/merge-styles/src/mergeStyleSets.ts
Labels: Area: merge-styles

#6511 IconButton: add color to IconButton so it can be themed.
  common/changes/office-ui-fabric-react/v-vibr-IconButton_Color_2018-09-28-19-52.json
  packages/office-ui-fabric-react/src/components/Breadcrumb/__snapshots__/Breadcrumb.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Button/IconButton/IconButton.styles.ts
  packages/office-ui-fabric-react/src/components/Button/__snapshots__/Button.test.tsx.snap
  packages/office-ui-fabric-react/src/components/TeachingBubble/__snapshots__/TeachingBubble.test.tsx.snap
  packages/office-ui-fabric-react/src/components/__snapshots__/Breadcrumb.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Breadcrumb.Static.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Button.Icon.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Button.Split.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/CommandBar.CommandBarButtonAs.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DocumentCard.Complete.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/MessageBar.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/OverflowSet.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/TextField.CustomRender.Example.tsx.shot
Labels: Component: IconButton

#6670 Fix ContextualMenuItemButton's secondary text never read by screen-reader
  common/changes/office-ui-fabric-react/keco-ctx-menu-secondary-txt-aria_2018-10-11-23-57.json
  packages/office-ui-fabric-react/src/components/ContextualMenu/ContextualMenu.test.tsx
  packages/office-ui-fabric-react/src/components/ContextualMenu/ContextualMenuItemWrapper/ContextualMenuButton.tsx
  packages/office-ui-fabric-react/src/components/ContextualMenu/ContextualMenuItemWrapper/__snapshots__/ContextualMenuButton.deprecated.test.tsx.snap
  packages/office-ui-fabric-react/src/components/ContextualMenu/ContextualMenuItemWrapper/__snapshots__/ContextualMenuButton.test.tsx.snap
Labels: Component: ContextualMenu

#6680 Panel: Fixed double scroll bar and reenabled isFooterSticky style prop that adds divider when content is scrolling
  common/changes/office-ui-fabric-react/panel-flex-fixes_2018-10-12-19-21.json
  packages/office-ui-fabric-react/src/components/Panel/Panel.base.tsx
  packages/office-ui-fabric-react/src/components/Panel/Panel.styles.ts
  packages/office-ui-fabric-react/src/components/Panel/__snapshots__/Panel.test.tsx.snap
  packages/office-ui-fabric-react/src/components/__snapshots__/Panel.HiddenOnDismiss.Example.tsx.shot
Labels: Component: Panel

#6678 Add missing CSS Grid properties
  common/changes/@uifabric/merge-styles/joeday-cssGridFixes_2018-10-12-20-25.json
  packages/merge-styles/src/IRawStyleBase.ts
Labels: Area: merge-styles

#6540 Fix Travis not checking change files in 5.0 branch
  .travis.yml
  package.json
  rush.json
Labels: Branch: 5.0

#6682 DetailsList: select all button should not have aria-describedby if no label is present
  common/changes/office-ui-fabric-react/detailsListSelectAll_2018-10-12-18-03.json
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsHeader.base.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsHeader.test.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/__snapshots__/DetailsHeader.test.tsx.snap
  packages/office-ui-fabric-react/src/components/DetailsList/__snapshots__/DetailsList.test.tsx.snap
  packages/office-ui-fabric-react/src/components/DetailsList/__snapshots__/DetailsRow.test.tsx.snap
  packages/office-ui-fabric-react/src/components/DetailsList/__snapshots__/ShimmeredDetailsList.test.tsx.snap
  packages/office-ui-fabric-react/src/components/DetailsList/examples/DetailsList.Compact.Example.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/examples/DetailsList.CustomColumns.Example.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/examples/DetailsList.CustomGroupHeaders.Example.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/examples/DetailsList.Documents.Example.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/examples/DetailsList.DragDrop.Example.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/examples/DetailsList.NavigatingFocus.Example.tsx
Labels: Component: DetailsList

#6649 IStyleSet: Now uses a form that works better in TS 2.8 and does not require TS 3.0 to work.
  common/changes/@uifabric/merge-styles/issue6615_2018-10-10-22-15.json
  packages/merge-styles/src/IStyleSet.ts
  packages/merge-styles/src/mergeStyleSets.test.ts
  packages/merge-styles/src/mergeStyleSets.ts
Labels: Area: merge-styles

#6698 ScrollablePane: added test
  common/changes/office-ui-fabric-react/scrollablepane-test_2018-10-15-18-37.json
  packages/office-ui-fabric-react/src/components/ScrollablePane/ScrollablePane.base.tsx
  packages/office-ui-fabric-react/src/components/ScrollablePane/ScrollablePane.test.tsx
  packages/office-ui-fabric-react/src/components/ScrollablePane/__snapshots__/ScrollablePane.test.tsx.snap
Labels: Component: ScrollablePane

#6648 Documentation - tslint-rules project setup
  packages/tslint-rules/README.md
Labels: @uifabric/tslint-rules

#6715 Fluent experiment: Move Customizer inside each ExampleCard
  common/changes/@uifabric/experiments/miwhea-fluent-theme-customizers_2018-10-16-19-56.json
  packages/experiments/src/components/fluent/styles/FluentStylesPage.tsx
Labels: Area: Fluent

#6702 Experiments: Breadcrumb fluent styles updates
  common/changes/@uifabric/experiments/v-vibr-BreadCrumbFluent_2018-10-15-22-30.json
  common/changes/office-ui-fabric-react/v-vibr-BreadCrumbFluent_2018-10-15-23-01.json
  packages/experiments/src/components/fluent/FluentStyles.ts
  packages/office-ui-fabric-react/src/components/Breadcrumb/Breadcrumb.base.tsx
  packages/office-ui-fabric-react/src/components/Breadcrumb/Breadcrumb.styles.ts
  packages/office-ui-fabric-react/src/components/Breadcrumb/Breadcrumb.tsx
  packages/office-ui-fabric-react/src/components/Breadcrumb/Breadcrumb.types.ts
  packages/office-ui-fabric-react/src/components/Dropdown/Dropdown.base.tsx
Labels: Area: Fluent, Component: Breadcrumb

#6703 DetailsList: 2 new style regions.
  common/changes/office-ui-fabric-react/v-vibr-DetailsHeader_2018-10-16-00-33.json
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsList.base.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsList.styles.ts
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsList.types.ts
  packages/office-ui-fabric-react/src/components/DetailsList/__snapshots__/DetailsList.test.tsx.snap
  packages/office-ui-fabric-react/src/components/DetailsList/__snapshots__/DetailsRow.test.tsx.snap
  packages/office-ui-fabric-react/src/components/DetailsList/__snapshots__/ShimmeredDetailsList.test.tsx.snap
Labels: Component: DetailsList

#6724 Spinner no longer vibrates in place in Edge browser (Oct 2018 update).
  common/changes/office-ui-fabric-react/issue6697_2018-10-17-01-40.json
  packages/office-ui-fabric-react/src/components/Spinner/Spinner.styles.tsx
  packages/office-ui-fabric-react/src/components/__snapshots__/Spinner.Basic.Example.tsx.shot
Labels: Component: Spinner

#6731 Nidurak/fix command bar button as
  common/changes/@uifabric/experiments/nidurak-fixCommandBarButtonAs_2018-10-17-18-30.json
  common/changes/office-ui-fabric-react/nidurak-fixCommandBarButtonAs_2018-10-18-16-39.json
  packages/experiments/src/components/CommandBar/CommandBar.base.tsx
  packages/experiments/src/components/CommandBar/CommandBar.types.ts
  packages/office-ui-fabric-react/src/components/CommandBar/CommandBar.types.ts
Labels: Branch: 5.0, Component: CommandBar

#6739 Experiments: Fluent styles for ChoiceGroup and more updates
  common/changes/@uifabric/experiments/v-vibr-FluentChoiceGroup_2018-10-18-00-21.json
  packages/experiments/src/components/fluent/FluentStyles.ts
  packages/experiments/src/components/fluent/styles/examples/FluentStyles.ChoiceGroup.Example.tsx
Labels: Area: Fluent, Component: ChoiceGroup

#6721 List/add on render complete
  common/changes/office-ui-fabric-react/list-add-onPagesUpdated_2018-10-16-23-45.json
  packages/office-ui-fabric-react/src/components/List/List.test.tsx
  packages/office-ui-fabric-react/src/components/List/List.tsx
  packages/office-ui-fabric-react/src/components/List/List.types.ts
Labels: Component: List

#6738 Fix ContextualMenu getItemClassNames memoization bug due to API change
  common/changes/office-ui-fabric-react/keco-fix-getItemClassNames-api_2018-10-17-23-46.json
  packages/office-ui-fabric-react/src/components/ContextualMenu/ContextualMenu.base.tsx
  packages/office-ui-fabric-react/src/components/ContextualMenu/ContextualMenu.classNames.ts
  packages/office-ui-fabric-react/src/components/ContextualMenu/ContextualMenu.deprecated.test.tsx
  packages/office-ui-fabric-react/src/components/ContextualMenu/ContextualMenuItem.test.tsx
  packages/office-ui-fabric-react/src/components/ContextualMenu/ContextualMenuItem.ts
Labels: Component: ContextualMenu

#6750 backport onPagesUpdated
  common/changes/office-ui-fabric-react/list-onPagesUpdated-port_2018-10-18-20-23.json
  packages/office-ui-fabric-react/src/components/List/List.test.tsx
  packages/office-ui-fabric-react/src/components/List/List.tsx
  packages/office-ui-fabric-react/src/components/List/List.types.ts
Labels: Branch: 5.0, Component: List, PR: Needs Changefile

#6411 HoverCard: Adds a new card type plus some refactor
  common/changes/office-ui-fabric-react/v-vibr-BasicHoverCard_2018-09-19-02-00.json
  packages/office-ui-fabric-react/src/components/ComponentConformance.test.tsx
  packages/office-ui-fabric-react/src/components/HoverCard/BaseCard.types.ts
  packages/office-ui-fabric-react/src/components/HoverCard/CardCallout/CardCallout.tsx
  packages/office-ui-fabric-react/src/components/HoverCard/ExpandingCard.base.tsx
  packages/office-ui-fabric-react/src/components/HoverCard/ExpandingCard.styles.ts
  packages/office-ui-fabric-react/src/components/HoverCard/ExpandingCard.ts
  packages/office-ui-fabric-react/src/components/HoverCard/ExpandingCard.tsx
  packages/office-ui-fabric-react/src/components/HoverCard/ExpandingCard.types.ts
  packages/office-ui-fabric-react/src/components/HoverCard/HoverCard.base.tsx
  packages/office-ui-fabric-react/src/components/HoverCard/HoverCard.doc.tsx
  packages/office-ui-fabric-react/src/components/HoverCard/HoverCard.styles.ts
  packages/office-ui-fabric-react/src/components/HoverCard/HoverCard.test.tsx
  packages/office-ui-fabric-react/src/components/HoverCard/HoverCard.ts
  packages/office-ui-fabric-react/src/components/HoverCard/HoverCard.types.ts
  packages/office-ui-fabric-react/src/components/HoverCard/HoverCardPage.global.scss
  packages/office-ui-fabric-react/src/components/HoverCard/PlainCard/PlainCard.base.tsx
  packages/office-ui-fabric-react/src/components/HoverCard/PlainCard/PlainCard.styles.ts
  packages/office-ui-fabric-react/src/components/HoverCard/PlainCard/PlainCard.ts
  packages/office-ui-fabric-react/src/components/HoverCard/PlainCard/PlainCard.types.ts
  packages/office-ui-fabric-react/src/components/HoverCard/__snapshots__/HoverCard.test.tsx.snap
  packages/office-ui-fabric-react/src/components/HoverCard/docs/HoverCardDonts.md
  packages/office-ui-fabric-react/src/components/HoverCard/docs/HoverCardDos.md
  packages/office-ui-fabric-react/src/components/HoverCard/examples/HoverCard.PlainCard.Example.tsx
  packages/office-ui-fabric-react/src/components/HoverCard/index.ts
  packages/office-ui-fabric-react/src/components/__snapshots__/HoverCard.PlainCard.Example.tsx.shot
Labels: Component: HoverCard

#6751 Add semver policy
  README.md
Labels: Area: Documentation

#6741 FocusTrapZone: Add/remove focus and click handlers when props change …
  apps/vr-tests/src/stories/Panel.stories.tsx
  common/changes/office-ui-fabric-react/focusTrapZone5_2018-10-16-01-14.json
  packages/office-ui-fabric-react/src/components/FocusTrapZone/FocusTrapZone.tsx
  packages/office-ui-fabric-react/src/components/Panel/Panel.tsx
  packages/office-ui-fabric-react/src/components/Panel/Panel.types.ts
Labels: Branch: 5.0

#6768 5.0 - Fix spinner vibration
  common/changes/office-ui-fabric-react/spinner_5.0_2018-10-19-02-25.json
  packages/office-ui-fabric-react/src/components/Spinner/Spinner.styles.tsx
Labels: Branch: 5.0, Component: Spinner

#6763 Added break in PeoplePicker switch
  common/changes/office-ui-fabric-react/master_2018-10-19-00-05.json
  packages/office-ui-fabric-react/src/components/pickers/PeoplePicker/examples/PeoplePicker.Types.Example.tsx
Labels: Component: Pickers

#6736 5.x - Fix Coachmark focus when tabbing
  common/changes/office-ui-fabric-react/edwl-09-2018-CoachmarkFocusTab_2018-09-05-19-35.json
  common/changes/office-ui-fabric-react/v5-coachmark-focus-fix_2018-10-17-21-25.json
  packages/office-ui-fabric-react/src/components/Coachmark/Coachmark.styles.ts
  packages/office-ui-fabric-react/src/components/Coachmark/Coachmark.tsx
Labels: Branch: 5.0, Component: Coachmark

#6673 Momahesh/ie col resize col total sync issue
  common/changes/office-ui-fabric-react/momahesh-ie-col-resize-col-total-sync-issue_2018-10-17-06-49.json
  packages/office-ui-fabric-react/src/components/ScrollablePane/examples/ScrollablePane.DetailsList.Example.tsx
Labels: Component: ScrollablePane

#6659 5.x- Group sibling count 5.0
  common/changes/office-ui-fabric-react/group-sibling-count-5.0_2018-10-11-06-51.json
  packages/office-ui-fabric-react/src/components/GroupedList/GroupedList.tsx
  packages/office-ui-fabric-react/src/components/GroupedList/GroupedList.types.ts
  packages/office-ui-fabric-react/src/components/GroupedList/GroupedListSection.tsx
Labels: Branch: 5.0

#6775 Added 'stretch' as valid value for justifyContent in IRawStyleBase.
  common/changes/@uifabric/merge-styles/master_2018-10-19-18-48.json
  packages/merge-styles/src/IRawStyleBase.ts
Labels: Area: merge-styles

#6781 Fluent Theme: Update Toggle styles
  common/changes/@uifabric/fluent-theme/fluent-toggle_2018-10-19-21-34.json
  packages/fluent-theme/src/fluent/styles/Toggle.styles.ts
Labels: @uifabric/fluent-theme, Area: Fluent, Component: Toggle

#6779 Fluent Theme: Add TextField fluent styles plus some fixes
  common/changes/@uifabric/fluent-theme/v-vibr-FluentFixes_2018-10-19-21-24.json
  packages/fluent-theme/src/fluent/styles/Breadcrumb.styles.ts
  packages/fluent-theme/src/fluent/styles/Checkbox.styles.ts
  packages/fluent-theme/src/fluent/styles/ChoiceGroupOption.styles.ts
  packages/fluent-theme/src/fluent/styles/Dropdown.styles.ts
  packages/fluent-theme/src/fluent/styles/TextField.styles.ts
Labels: @uifabric/fluent-theme, Area: Fluent, Component: TextField

#6783 Fluent Theme: updating Link styles
  common/changes/@uifabric/fluent-theme/v-vibr-LinkFluent_2018-10-20-00-40.json
  packages/fluent-theme/src/fluent/FluentStyles.ts
  packages/fluent-theme/src/fluent/styles/Link.styles.ts
Labels: @uifabric/fluent-theme, Area: Fluent, Component: Link

#6799 Fix demo site not being able to load.
  apps/fabric-website-resources/index.html
  common/changes/@uifabric/charting/cliffkoh-fixDemoSite_2018-10-23-03-28.json
  common/changes/@uifabric/dashboard/cliffkoh-fixDemoSite_2018-10-23-03-28.json
  common/changes/@uifabric/experiments/cliffkoh-fixDemoSite_2018-10-23-03-28.json
  common/changes/@uifabric/fabric-website-resources/cliffkoh-fixDemoSite_2018-10-23-03-28.json
  common/changes/@uifabric/styling/cliffkoh-fixDemoSite_2018-10-23-03-28.json
  packages/charting/index.html
  packages/dashboard/index.html
  packages/experiments/index.html
  packages/styling/index.html
Labels: Priority 0: Blocking

#6787 Fluent theme: Update color of disabled Label
  common/changes/@uifabric/fluent-theme/fluent-label_2018-10-22-15-58.json
  packages/fluent-theme/src/fluent/styles/Label.styles.ts
Labels: @uifabric/fluent-theme, Area: Fluent, Component: Label

#6788 Resize group: move relative style to inner div wrapper
  common/changes/office-ui-fabric-react/resizeGroup-move-relative_2018-10-22-16-17.json
  packages/office-ui-fabric-react/src/components/Breadcrumb/__snapshots__/Breadcrumb.test.tsx.snap
  packages/office-ui-fabric-react/src/components/CommandBar/__snapshots__/CommandBar.deprecated.test.tsx.snap
  packages/office-ui-fabric-react/src/components/CommandBar/__snapshots__/CommandBar.test.tsx.snap
  packages/office-ui-fabric-react/src/components/ResizeGroup/ResizeGroup.base.tsx
  packages/office-ui-fabric-react/src/components/ResizeGroup/__snapshots__/ResizeGroup.test.tsx.snap
  packages/office-ui-fabric-react/src/components/__snapshots__/Breadcrumb.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Breadcrumb.Static.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/CommandBar.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/CommandBar.ButtonAs.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/CommandBar.CommandBarButtonAs.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Advanced.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Keytips.CommandBar.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/ResizeGroup.FlexBox.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/ResizeGroup.OverflowSet.Example.tsx.shot
Labels: Component: ResizeGroup

#6756 Port in accessibility fixes from master
  common/changes/office-ui-fabric-react/picker-accessibilityfixes_2018-08-17-22-09.json
  packages/office-ui-fabric-react/src/components/__snapshots__/PeoplePicker.Types.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/TagPicker.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/pickers/BasePicker.test.tsx
  packages/office-ui-fabric-react/src/components/pickers/BasePicker.tsx
  packages/office-ui-fabric-react/src/components/pickers/BasePicker.types.ts
  packages/office-ui-fabric-react/src/components/pickers/Suggestions/Suggestions.scss
  packages/office-ui-fabric-react/src/components/pickers/Suggestions/Suggestions.tsx
  packages/office-ui-fabric-react/src/components/pickers/Suggestions/Suggestions.types.ts
  packages/office-ui-fabric-react/src/components/pickers/Suggestions/SuggestionsController.ts
  packages/office-ui-fabric-react/src/components/pickers/Suggestions/__snapshots__/Suggestions.test.tsx.snap
  packages/office-ui-fabric-react/src/components/pickers/__snapshots__/BasePicker.test.tsx.snap
Labels: Branch: 5.0

#6798 Fluent Theme: Rating fluent style updates
  common/changes/@uifabric/fluent-theme/v-vib-RatingFluent_2018-10-23-01-31.json
  packages/fluent-theme/src/fluent/FluentStyles.ts
  packages/fluent-theme/src/fluent/styles/Rating.styles.ts
Labels: @uifabric/fluent-theme, Area: Fluent, Component: Rating

#6456 TooltipHost: Add example on changing display prop
  apps/fabric-website/src/components/Nav/Nav.tsx
  common/changes/@uifabric/fabric-website/v-vibr-Tooltip_coverFix_2018-09-25-22-40.json
  common/changes/@uifabric/merge-styles/v-vibr-Tooltip_coverFix_2018-09-25-21-58.json
  common/changes/@uifabric/styling/v-vibr-Tooltip_coverFix_2018-09-25-21-58.json
  common/changes/office-ui-fabric-react/v-vibr-Tooltip_coverFix_2018-09-24-20-47.json
  packages/merge-styles/src/IRawStyleBase.ts
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsHeader.styles.ts
  packages/office-ui-fabric-react/src/components/Tooltip/Tooltip.doc.tsx
  packages/office-ui-fabric-react/src/components/Tooltip/TooltipHost.types.ts
  packages/office-ui-fabric-react/src/components/Tooltip/TooltipPage.global.scss
  packages/office-ui-fabric-react/src/components/Tooltip/examples/Tooltip.Display.Example.tsx
  packages/office-ui-fabric-react/src/components/__snapshots__/Tooltip.Display.Example.tsx.shot
  packages/styling/src/utilities/getIconClassName.ts
Labels: Component: Tooltip, Needs: Attention :wave:

#6819 Fluent theme: Update Toggle styles
  common/changes/@uifabric/fluent-theme/fluent-toggle-updates_2018-10-22-19-07.json
  packages/fluent-theme/src/fluent/styles/Toggle.styles.ts
Labels: Area: Fluent, Component: Toggle

#6789 Dropdown: allow onChanged to be called when an item has been reselected
  common/changes/office-ui-fabric-react/janormanms-dropdown-reselect_2018-10-22-17-24.json
  packages/office-ui-fabric-react/src/components/Dropdown/Dropdown.base.tsx
  packages/office-ui-fabric-react/src/components/Dropdown/Dropdown.test.tsx
  packages/office-ui-fabric-react/src/components/Dropdown/Dropdown.types.ts
Labels: Component: Dropdown

#6812 Fluent theme: Update Slider colors
  common/changes/@uifabric/fluent-theme/fluent-slider-color-change_2018-10-23-20-30.json
  packages/fluent-theme/src/fluent/FluentStyles.ts
  packages/fluent-theme/src/fluent/styles/Slider.styles.ts
Labels: Area: Fluent, Component: Slider

#6822 Line chart edge cases
  common/changes/@uifabric/charting/lineChartEdgeCases_2018-10-23-22-36.json
  common/changes/@uifabric/dashboard/lineChartEdgeCases_2018-10-23-22-36.json
  packages/charting/src/components/LineChart/LineChart.base.tsx
  packages/charting/src/components/LineChart/LineChart.types.ts
  packages/charting/src/components/LineChart/examples/LineChart.Basic.Example.tsx
  packages/charting/src/components/LineChart/examples/LineChart.Multiple.Example.tsx
  packages/charting/src/components/LineChart/examples/LineChart.Styled.Example.tsx
  packages/dashboard/src/components/Card/Chart/Chart.tsx
Labels: @uifabric/charting, @uifabric/dashboard

#6829 CommandBar: Fix className prop duplication
  common/changes/office-ui-fabric-react/jg-6828-commandbar-classname-dupe_2018-10-24-00-51.json
  packages/office-ui-fabric-react/src/components/CommandBar/CommandBar.base.tsx
  packages/office-ui-fabric-react/src/components/CommandBar/__snapshots__/CommandBar.deprecated.test.tsx.snap
  packages/office-ui-fabric-react/src/components/CommandBar/__snapshots__/CommandBar.test.tsx.snap
Labels: Component: CommandBar

#6845 Add unit test coverage for DetailsList optional onRenderMissingItem prop
  common/changes/office-ui-fabric-react/keco-add-dl-render-missing-item-tests_2018-10-24-20-48.json
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsList.test.tsx
Labels: Component: DetailsList

#6847 Add onFocus on dropdown
  common/changes/office-ui-fabric-react/master_2018-10-25-04-20.json
  packages/office-ui-fabric-react/src/components/Dropdown/Dropdown.base.tsx
Labels: Component: Dropdown

#6836 Correct typo in document card activity
  common/changes/office-ui-fabric-react/correct-typo-in-DocumentCardActivity_2018-10-24-19-37.json
  packages/office-ui-fabric-react/src/components/DocumentCard/DocumentCardActivity.tsx
  packages/office-ui-fabric-react/src/components/DocumentCard/__snapshots__/DocumentCard.test.tsx.snap
  packages/office-ui-fabric-react/src/components/__snapshots__/DocumentCard.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DocumentCard.Compact.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DocumentCard.Complete.Example.tsx.shot
Labels: PR: Waiting for Review

#6850 Callout: Add layer props
  common/changes/office-ui-fabric-react/callout-layerProps_2018-10-25-16-55.json
  packages/office-ui-fabric-react/src/components/Callout/Callout.tsx
  packages/office-ui-fabric-react/src/components/Callout/Callout.types.ts
Labels: Component: Callout

#6841 Rating: fix focus outline clipping plus updates to line-height and padding
  common/changes/office-ui-fabric-react/v-vibr-RatingRedLinesChange_2018-10-24-20-37.json
  packages/office-ui-fabric-react/src/components/Rating/Rating.styles.ts
  packages/office-ui-fabric-react/src/components/Rating/__snapshots__/Rating.test.tsx.snap
  packages/office-ui-fabric-react/src/components/__snapshots__/Rating.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Rating.ButtonControlled.Example.tsx.shot
Labels: Component: Rating

#6777 Add optional onColumnResize callback to IColumn
  common/changes/office-ui-fabric-react/keco-on-column-resize-cb_2018-10-19-19-53.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.ts
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsList.base.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsList.test.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsList.types.ts
Labels: Component: DetailsList

#6851 All collapsed group list
  common/changes/office-ui-fabric-react/ahackett-groupcollapse1022_2018-10-25-17-54.json
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsHeader.base.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsList.base.tsx
Labels: Component: DetailsList

#6861 Laxmika/column drag drop changes
  common/changes/office-ui-fabric-react/laxmika-ColumnDragDropChanges_2018-09-20-06-52.json
  common/changes/office-ui-fabric-react/laxmika-ColumnDragDropChanges_2018-10-26-10-00.json
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsHeader.tsx
Labels: Branch: 5.0, Component: DetailsList

#6824 Fluent Theme: updates to Breadcrumb, Rating, and TextField styles
  common/changes/@uifabric/fluent-theme/master_2018-10-23-22-33.json
  packages/fluent-theme/src/fluent/styles/Breadcrumb.styles.ts
  packages/fluent-theme/src/fluent/styles/Rating.styles.ts
  packages/fluent-theme/src/fluent/styles/TextField.styles.ts
Labels: @uifabric/fluent-theme, Area: Fluent, Component: Breadcrumb, Component: TextField, Do Not Merge 🚫

#6876 ContextualMenu: Fix Narrator Separator Announcement
  common/changes/office-ui-fabric-react/jg-6848-hide-separator_2018-10-26-22-48.json
  packages/office-ui-fabric-react/src/components/ContextualMenu/ContextualMenu.base.tsx
Labels: Component: ContextualMenu

#6874 Add placeholder mode to MultiStackBardChart data point in order to render the bar chart with a progress gray color(default) area
  common/changes/@uifabric/charting/timto-empty_2018-10-26-21-36.json
  packages/charting/src/components/StackedBarChart/MultiStackedBarChart.base.tsx
  packages/charting/src/components/StackedBarChart/MultiStackedBarChart.styles.ts
  packages/charting/src/components/StackedBarChart/MultiStackedBarChart.types.ts
  packages/charting/src/components/StackedBarChart/StackedBarChartPage.tsx
  packages/charting/src/components/StackedBarChart/examples/MultiStackedBarChartWithPlaceHolder.Example.tsx
  packages/charting/src/types/IDataPoint.ts
Labels: @uifabric/charting

#6853 ContextualMenu: add a classname for the callout holding the list with all items
  common/changes/@uifabric/experiments/v-vibr-ContextualMenuCalloutStyleHook_2018-10-26-22-47.json
  common/changes/office-ui-fabric-react/v-vibr-CMTest_2018-10-25-20-36.json
  packages/experiments/src/components/Announced/Announced.ts
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.ts
  packages/office-ui-fabric-react/src/components/ContextualMenu/ContextualMenu.base.tsx
  packages/office-ui-fabric-react/src/components/ContextualMenu/ContextualMenu.classNames.ts
  packages/office-ui-fabric-react/src/components/ContextualMenu/ContextualMenu.cnstyles.ts
  packages/office-ui-fabric-react/src/components/ContextualMenu/ContextualMenu.deprecated.test.tsx
  packages/office-ui-fabric-react/src/components/ContextualMenu/ContextualMenu.styles.ts
  packages/office-ui-fabric-react/src/components/ContextualMenu/ContextualMenu.test.tsx
  packages/office-ui-fabric-react/src/components/ContextualMenu/ContextualMenu.types.ts
Labels: Area: JS Styling, Component: ContextualMenu

#6881 Carry over website pipeline improvements to homepage.htm
  apps/fabric-website/homepage.htm
  common/changes/@uifabric/fabric-website/jahnp-fabric-homepage-updates_2018-10-29-20-36.json
Labels: Area: Website, Type: Enhancement

#6885 Breadcrumb examples aria labels
  common/changes/office-ui-fabric-react/breadcrumbA11y_2018-10-29-22-40.json
  packages/office-ui-fabric-react/src/components/Breadcrumb/examples/Breadcrumb.Basic.Example.tsx
  packages/office-ui-fabric-react/src/components/Breadcrumb/examples/Breadcrumb.Static.Example.tsx
  packages/office-ui-fabric-react/src/components/__snapshots__/Breadcrumb.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Breadcrumb.Static.Example.tsx.shot
Labels: Component: Breadcrumb

#6889 Calendar: update example descriptions
  common/changes/office-ui-fabric-react/calendarExampleDescriptions_2018-10-30-00-16.json
  packages/office-ui-fabric-react/src/components/Calendar/Calendar.doc.tsx
Labels: Component: Calendar

#6883 Timto/chart2
  common/changes/@uifabric/charting/timto-chart2_2018-10-29-22-14.json
  common/changes/@uifabric/charting/timto-chart2_2018-10-29-22-15.json
  packages/charting/src/components/StackedBarChart/StackedBarChart.base.tsx
  packages/charting/src/components/StackedBarChart/StackedBarChart.types.ts
  packages/charting/src/components/StackedBarChart/examples/StackedBarChart.Basic.Example.tsx
Labels: @uifabric/charting

#6909 Adding warning about the fact that Pivot children must be of type PivotItem to be rendered
  common/changes/office-ui-fabric-react/master_2018-10-22-23-24.json
  packages/office-ui-fabric-react/src/components/Pivot/Pivot.base.tsx
  packages/office-ui-fabric-react/src/components/Pivot/docs/PivotDonts.md
  packages/office-ui-fabric-react/src/components/Pivot/docs/PivotDos.md
  packages/office-ui-fabric-react/src/components/Pivot/examples/Pivot.OnChange.Example.tsx
  packages/office-ui-fabric-react/src/components/Pivot/examples/Pivot.TabsLarge.Example.tsx
Labels: Component: Pivot

#6917 Add opitional switch for Dashboard Chart -- stack bar chart to not apply default style while data points count is less two
  common/changes/@uifabric/dashboard/timto-dashboard_2018-10-31-17-34.json
  packages/dashboard/src/components/Card/Chart/Chart.tsx
  packages/dashboard/src/components/Card/Chart/Chart.types.ts
  packages/dashboard/src/components/Card/Layout/Layout.tsx
Labels: @uifabric/dashboard

#6890 Fluent Theme: SpinButton fluent styles
  common/changes/@uifabric/fluent-theme/v-vibr-SpinButtonConversion_2018-10-30-01-58.json
  packages/fluent-theme/src/fluent/FluentStyles.ts
  packages/fluent-theme/src/fluent/styles/SpinButton.styles.ts
Labels: Area: Fluent, Component: SpinButton, Package: fluent-theme
