Repository microsoft/fluentui, pull requests merged in 2018-09, with the labels that each got.

#6127 add onBlur prop on Slider (#6108)
  common/changes/office-ui-fabric-react/slider-onBlur_2018-08-29-14-33.json
  packages/office-ui-fabric-react/src/components/Slider/Slider.base.tsx
  packages/office-ui-fabric-react/src/components/Slider/Slider.types.ts
Labels: PR: Changes Requested

#6146 Improve a DX issue with IProcessedStyleSet typings. (issue #6124)
  common/changes/@uifabric/merge-styles/issue6124_2018-08-30-00-55.json
  packages/merge-styles/src/IStyleSet.ts
  packages/merge-styles/src/mergeStyleSets.test.ts
Labels: Area: merge-styles

#6216 Fix run build fail after 'npm run generate'
  apps/fabric-website-resources/package.json
  common/changes/@uifabric/charting/vupate_2018-09-04-20-21.json
  common/changes/@uifabric/fabric-website-resources/vupate_2018-09-04-20-21.json
  common/changes/@uifabric/utilities/vupate_2018-09-04-20-21.json
  common/changes/office-ui-fabric-react/vupate_2018-09-04-20-21.json
  common/config/rush/npm-shrinkwrap.json
  packages/charting/package.json
  packages/office-ui-fabric-react/package.json
  packages/office-ui-fabric-react/src/components/ContextualMenu/__snapshots__/ContextualMenuItem.deprecated.test.tsx.snap
  packages/office-ui-fabric-react/src/components/ContextualMenu/__snapshots__/ContextualMenuItem.test.tsx.snap
  packages/utilities/package.json
  scripts/package.json
  scripts/tasks/build-codepen-examples.js
Labels: Area: DevExp

#6220 Update Recommendation header text auto-fontsize setting
  common/changes/@uifabric/dashboard/recomm_2018-09-04-22-23.json
  common/config/rush/npm-shrinkwrap.json
  packages/dashboard/package.json
  packages/dashboard/src/components/Recommendation/Recommendation.styles.ts
  packages/dashboard/src/components/Recommendation/Recommendation.tsx
Labels: @uifabric/dashboard

#6171 Introducing hover behaviour and onclick for multicount component
  common/changes/@uifabric/dashboard/hoverBehaviourMultiCount_2018-09-04-16-48.json
  packages/dashboard/src/components/MultiCount/MultiCount.tsx
  packages/dashboard/src/components/MultiCount/MultiCount.types.ts
  packages/dashboard/src/components/MultiCount/MultiCountStyles.ts
Labels: @uifabric/dashboard

#6214 Body divider slot5.0
  common/changes/@uifabric/styling/bodyDividerSlot5.0_2018-09-04-18-34.json
  common/changes/office-ui-fabric-react/bodyDividerSlot5.0_2018-09-04-18-34.json
  packages/office-ui-fabric-react/src/common/_semanticSlots.scss
  packages/styling/src/styles/theme.ts
Labels: Branch: 5.0

#6236 cherry pick from button background disabled slot 6173 PR
  common/changes/@uifabric/styling/buttonBackgroundDisabledSlot_2018-08-31-00-03.json
  common/changes/@uifabric/variants/buttonBackgroundDisabledSlot_2018-08-31-00-03.json
  common/changes/office-ui-fabric-react/buttonBackgroundDisabledSlot_2018-08-31-00-03.json
  packages/office-ui-fabric-react/src/common/_semanticSlots.scss
  packages/styling/src/interfaces/ISemanticColors.ts
  packages/styling/src/styles/theme.ts
  packages/variants/src/variants.ts
Labels: Branch: 5.0

#6267 Btn pre fluent5.0
  common/changes/@uifabric/styling/btnPreFluent5.0_2018-09-06-23-26.json
  common/changes/@uifabric/variants/btnPreFluent5.0_2018-09-06-23-26.json
  common/changes/office-ui-fabric-react/btnPreFluent5.0_2018-09-06-23-26.json
  packages/office-ui-fabric-react/src/common/_semanticSlots.scss
  packages/office-ui-fabric-react/src/components/Button/__snapshots__/Button.deprecated.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Button/__snapshots__/Button.test.tsx.snap
  packages/office-ui-fabric-react/src/components/SpinButton/__snapshots__/SpinButton.test.tsx.snap
  packages/styling/src/styles/theme.ts
  packages/variants/src/variants.ts
Labels: Branch: 5.0

#6271 StackBarChart show background if all data point is 0
  common/changes/@uifabric/charting/timto-stacked_2018-09-07-05-50.json
  packages/charting/src/components/StackedBarChart/StackedBarChart.base.tsx
  packages/charting/src/components/StackedBarChart/StackedBarChart.types.ts
  packages/charting/src/components/StackedBarChart/StackedBarChartPage.tsx
  packages/charting/src/components/StackedBarChart/examples/StackedBarChart.BaseBar.Example.tsx
Labels: @uifabric/charting

#6231 5.x - Details footer props
  common/changes/@uifabric/variants/detailsFooterProps_2018-09-05-14-07.json
  common/changes/office-ui-fabric-react/detailsFooterProps_2018-09-05-14-07.json
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsFooter.types.ts
Labels: Branch: 5.0

#6335 Enable auto adjust dashboard card header text
  common/changes/@uifabric/dashboard/timto-cardheader_2018-09-12-05-58.json
  common/config/rush/npm-shrinkwrap.json
  packages/dashboard/package.json
  packages/dashboard/src/components/Card/CardHeader/CardHeader.styles.ts
  packages/dashboard/src/components/Card/CardHeader/CardHeader.tsx
  packages/dashboard/src/components/Card/CardPage.tsx
  packages/dashboard/src/components/Card/examples/Card.Small.LongHeader.Example.tsx
Labels: @uifabric/dashboard

#6333 Fix TeachingBubble focus outline
  common/changes/office-ui-fabric-react/jahnp-coachmark-focus-style_2018-09-12-01-59.json
  packages/office-ui-fabric-react/src/components/TeachingBubble/TeachingBubble.styles.ts
  packages/office-ui-fabric-react/src/components/TeachingBubble/__snapshots__/TeachingBubble.test.tsx.snap
Labels: Component: Coachmark, Component: TeachingBubble, Priority 2: Normal

#6361 Fluent: Fix background color of Primary Buttons
  common/changes/@uifabric/experiments/jahnp-fluent-fixes_2018-09-13-21-30.json
  packages/experiments/src/components/fluent/FluentStyles.ts
Labels: Area: Fluent, Component: Button, Type: Bug :bug:

#6366 Dashboard card component css
  common/changes/@uifabric/dashboard/dashboardCardComponentCSS_2018-09-14-00-57.json
  packages/dashboard/src/components/Card/CardHeader/CardHeader.styles.ts
  packages/dashboard/src/components/Card/CardHeader/CardHeader.tsx
  packages/dashboard/src/components/MultiCount/MultiCount.tsx
  packages/dashboard/src/components/MultiCount/MultiCountStyles.ts
Labels: @uifabric/dashboard

#6365 Add Data visualization center align option to recommendation
  common/changes/@uifabric/dashboard/timto-baseline_2018-09-13-23-34.json
  common/changes/office-ui-fabric-react/timto-baseline_2018-09-14-03-19.json
  common/config/rush/npm-shrinkwrap.json
  packages/dashboard/package.json
  packages/dashboard/src/components/Recommendation/Recommendation.styles.ts
  packages/dashboard/src/components/Recommendation/Recommendation.tsx
  packages/dashboard/src/components/Recommendation/Recommendation.types.ts
  packages/dashboard/src/components/Recommendation/examples/Recommendation.Dlp.Example.tsx
  packages/dashboard/src/components/Recommendation/examples/Recommendation.MultiStackedBarChart.Example.tsx
  packages/office-ui-fabric-react/src/components/Calendar/Calendar.tsx
  packages/office-ui-fabric-react/src/components/Calendar/CalendarDay.tsx
Labels: @uifabric/dashboard

#6370 Update Recommendation centerDataVisualization flex layout css
  common/changes/@uifabric/dashboard/timto-fixre_2018-09-14-17-58.json
  common/changes/@uifabric/dashboard/timto-fixre_2018-09-14-18-19.json
  packages/dashboard/src/components/Recommendation/Recommendation.styles.ts
  packages/dashboard/src/components/Recommendation/Recommendation.tsx
  packages/dashboard/src/components/Recommendation/Recommendation.types.ts
  packages/dashboard/src/components/Section/Section.styles.ts
Labels: @uifabric/dashboard

#6346 Semantic colors: menu slots and filling in gaps in variant logic 5.0
  common/changes/@uifabric/styling/semanticColorDefinitions_2018-09-11-19-34.json
  common/changes/@uifabric/variants/semanticColorDefinitions_2018-09-11-19-34.json
  common/changes/office-ui-fabric-react/semanticColorDefinitions_2018-09-11-19-34.json
  packages/office-ui-fabric-react/src/common/_semanticSlots.scss
  packages/styling/src/interfaces/ISemanticColors.ts
  packages/styling/src/styles/theme.ts
  packages/variants/src/variants.ts
Labels: Branch: 5.0

#6426 Porting changes needed in fabric V5 (which are already in master branch)
  common/changes/office-ui-fabric-react/fabric_v5_2018-09-20-08-15.json
  packages/office-ui-fabric-react/src/components/ActivityItem/__snapshots__/ActivityItem.test.tsx.snap
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsHeader.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsList.test.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsList.types.ts
  packages/office-ui-fabric-react/src/components/DetailsList/__snapshots__/DetailsList.test.tsx.snap
  packages/office-ui-fabric-react/src/components/DetailsList/examples/DetailsList.Advanced.Example.scss
  packages/office-ui-fabric-react/src/components/DetailsList/examples/DetailsList.Advanced.Example.tsx
  packages/office-ui-fabric-react/src/components/DocumentCard/__snapshots__/DocumentCard.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Facepile/__snapshots__/Facepile.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Persona/Persona.base.tsx
  packages/office-ui-fabric-react/src/components/Persona/Persona.test.tsx
  packages/office-ui-fabric-react/src/components/Persona/PersonaCoin/PersonaCoin.base.tsx
  packages/office-ui-fabric-react/src/components/Persona/PersonaCoin/__snapshots__/PersonaCoin.deprecated.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Persona/PersonaCoin/__snapshots__/PersonaCoin.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Persona/__snapshots__/Persona.deprecated.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Persona/__snapshots__/Persona.test.tsx.snap
Labels: Branch: 5.0

#6436 Variants: export variants
  common/changes/@uifabric/variants/phkuo-5.0-exportVariants_2018-09-21-01-23.json
  packages/variants/src/index.ts
Labels: Branch: 5.0

#6442 change barHeight for lessthan 2 data points and apply css for ratio txt
  common/changes/@uifabric/charting/stackedBarChartBugs_2018-09-21-12-35.json
  packages/charting/src/components/StackedBarChart/StackedBarChart.base.tsx
  packages/charting/src/components/StackedBarChart/StackedBarChart.styles.ts
  packages/charting/src/components/StackedBarChart/StackedBarChart.types.ts
Labels: @uifabric/charting

#6462 Dropdown: fix keyboard events when disabled.
  common/changes/office-ui-fabric-react/v-vibr-DisabledDropown_2018-09-25-00-59.json
  packages/office-ui-fabric-react/src/components/Dropdown/Dropdown.base.tsx
Labels: Component: Dropdown

#6473 Responsive line chart
  common/changes/@uifabric/charting/responsiveLineChart_2018-09-25-23-17.json
  packages/charting/src/components/LineChart/LineChart.base.tsx
  packages/charting/src/components/LineChart/LineChart.styles.ts
  packages/charting/src/components/LineChart/LineChart.types.ts
  packages/charting/src/components/LineChart/examples/LineChart.Basic.Example.tsx
  packages/charting/src/components/LineChart/examples/LineChart.Multiple.Example.tsx
  packages/charting/src/components/LineChart/examples/LineChart.Styled.Example.tsx
Labels: @uifabric/charting

#6475 ComboBox: when clicking on scrollbar do not call onBlur
  common/changes/office-ui-fabric-react/v-vibr-ComboBox_onBlurBUG_2018-09-26-00-57.json
  packages/office-ui-fabric-react/src/components/ComboBox/ComboBox.tsx
Labels: Component: ComboBox

#6499 DetailsList: replace neutralSecondaryAlt color as it was deprecated
  common/changes/office-ui-fabric-react/v-vibr-colorDeprecation_2018-09-27-23-30.json
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsRow.styles.ts
  packages/office-ui-fabric-react/src/components/DetailsList/__snapshots__/DetailsList.test.tsx.snap
  packages/office-ui-fabric-react/src/components/DetailsList/__snapshots__/DetailsRow.test.tsx.snap
  packages/office-ui-fabric-react/src/components/__snapshots__/FocusZone.List.Example.tsx.shot
Labels: Component: DetailsList, Needs: Design 🎨

#6502 DetailsList: remove the deprecated neutralSecondaryAlt color
  common/changes/office-ui-fabric-react/v-vibr-ColorChange_5_2018-09-28-02-43.json
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsRow.scss
Labels: Branch: 5.0

#6507 Thumbnail list spacing issue
  common/changes/@uifabric/dashboard/thumbnailListSpacingIssue_2018-09-28-06-46.json
  packages/dashboard/src/components/Card/ThumbnailList/ThumbnailList.styles.ts
Labels: @uifabric/dashboard

#6512 Semantic slot value changes - cherry pick merge
  common/changes/@uifabric/styling/semanticSlotValueChanges_2018-09-27-22-04.json
  common/changes/@uifabric/variants/semanticSlotValueChanges_2018-09-27-22-04.json
  common/changes/office-ui-fabric-react/semanticSlotValueChanges_2018-09-27-22-04.json
  packages/office-ui-fabric-react/src/common/_semanticSlots.scss
  packages/styling/src/styles/theme.ts
  packages/variants/src/variants.ts
Labels: Branch: 5.0
