Repository microsoft/fluentui, pull requests merged in 2019-12, with the labels that each got.

#11317 Pickers forcecomplete
  change/office-ui-fabric-react-2019-11-26-16-44-32-pickers-forcecomplete.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/pickers/BasePicker.test.tsx
  packages/office-ui-fabric-react/src/components/pickers/BasePicker.tsx
  packages/office-ui-fabric-react/src/components/pickers/BasePicker.types.ts
  packages/office-ui-fabric-react/src/components/pickers/Suggestions/Suggestions.tsx
Labels: Component: Pickers

#11328 Facepile cursor styles
  change/@uifabric-example-data-2019-11-27-11-53-32-facepile-cursor-styles.json
  change/office-ui-fabric-react-2019-11-27-11-53-32-facepile-cursor-styles.json
  packages/example-data/src/facepile.ts
  packages/office-ui-fabric-react/src/components/Facepile/Facepile.styles.ts
  packages/office-ui-fabric-react/src/components/Facepile/__snapshots__/Facepile.test.tsx.snap
  packages/office-ui-fabric-react/src/components/__snapshots__/Facepile.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Facepile.Overflow.Example.tsx.shot
Labels: AutoMerge

#11327 ComboBox: Fixing icon position when disabled
  change/office-ui-fabric-react-2019-11-27-11-31-09-comboBoxDisabledIcon.json
  packages/office-ui-fabric-react/src/components/ComboBox/ComboBox.styles.ts
  packages/office-ui-fabric-react/src/components/__snapshots__/ComboBox.Basic.Example.tsx.shot
Labels: AutoMerge, Component: ComboBox

#11350 Date picker styles
  change/@uifabric-date-time-2019-12-02-14-29-37-datePickerStyles.json
  change/office-ui-fabric-react-2019-12-02-14-29-37-datePickerStyles.json
  packages/date-time/etc/date-time.api.md
  packages/date-time/src/components/DatePicker/DatePicker.types.ts
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/DatePicker/DatePicker.types.ts
Labels: AutoMerge, Component: DatePicker, PR: API Modified

#11296 Add Data Prop to INavLinkGroup
  change/office-ui-fabric-react-2019-11-24-22-43-58-master.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/Nav/Nav.types.ts
Labels: Component: Nav

#11310 Add calloutProps to HoverCard
  change/office-ui-fabric-react-2019-11-25-17-23-39-hoverCard-calloutOptions.json
  packages/office-ui-fabric-react/src/components/HoverCard/BaseCard.types.ts
  packages/office-ui-fabric-react/src/components/HoverCard/CardCallout/CardCallout.tsx
  packages/office-ui-fabric-react/src/components/HoverCard/examples/HoverCard.Target.Example.tsx
Labels: Component: HoverCard

#11353 ComboBox: empty errorMessage shouldn't create white space.
  change/@uifabric-experiments-2019-12-04-13-57-40-combobox.json
  change/office-ui-fabric-react-2019-12-02-16-17-35-combobox.json
  packages/experiments/src/components/Pagination/__snapshots__/Pagination.test.tsx.snap
  packages/office-ui-fabric-react/src/components/ComboBox/ComboBox.tsx
  packages/office-ui-fabric-react/src/components/ComboBox/__snapshots__/ComboBox.test.tsx.snap
  packages/office-ui-fabric-react/src/components/__snapshots__/ComboBox.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/ComboBox.Controlled.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/ComboBox.CustomStyled.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/ComboBox.Toggles.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/ComboBox.Virtualized.Example.tsx.shot
Labels: Component: ComboBox

#11362 VirtualizedComboBox: implement focus(shouldOpenOnFocus, asyncFocus).
  change/office-ui-fabric-react-2019-12-03-15-10-20-virtualized_combobox.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/ComboBox/VirtualizedComboBox.tsx
Labels: Component: ComboBox, PR: API Modified

#11351 Updating RTL documentation
  apps/fabric-website/src/pages/Styles/LocalizationPage/LocalizationPage.tsx
  apps/fabric-website/src/pages/Styles/LocalizationPage/docs/web/LocalizationRTL.md
  change/@uifabric-fabric-website-2019-12-02-15-06-04-rtlDocumentation.json
Labels: Area: Documentation, Area: Website, AutoMerge, Type: Documentation

#11375 added stream to file type icons
  change/@uifabric-file-type-icons-2019-12-04-16-34-43-azbanduk-add-stream-icon.json
  packages/file-type-icons/src/FileIconType.ts
Labels: package: file-type-icons

#11377 added stream icon to 6.0
  change/@uifabric-file-type-icons-2019-12-04-16-17-47-azbanduk-6.0-stream-icon.json
  packages/file-type-icons/src/FileIconType.ts
Labels: Fabric 6, package: file-type-icons

#11258 Fix dropdown misalignment
  change/office-ui-fabric-react-2019-11-20-08-16-32-Fix_Dropdown_misalignment.json
  change/office-ui-fabric-react-2019-11-20-09-20-04-Fix_Dropdown_misalignment.json
  packages/office-ui-fabric-react/src/components/Dropdown/Dropdown.styles.ts
  packages/office-ui-fabric-react/src/components/Dropdown/__snapshots__/Dropdown.test.tsx.snap
  packages/office-ui-fabric-react/src/components/__snapshots__/Callout.Cover.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Callout.Directional.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/ChoiceGroup.Custom.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Coachmark.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/ContextualMenu.Directional.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DatePicker.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DatePicker.WeekNumbers.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Dropdown.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Dropdown.Controlled.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Dropdown.ControlledMulti.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Dropdown.Custom.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Dropdown.Error.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Dropdown.Required.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Facepile.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Facepile.Overflow.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/PeoplePicker.Types.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/ResizeGroup.OverflowSet.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Stack.Horizontal.Configure.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Stack.Horizontal.WrapAdvanced.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Stack.Vertical.Configure.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Stack.Vertical.WrapAdvanced.Example.tsx.shot
Labels: Component: Dropdown

#11326 Slider: getAriaValueText should return value if ariaValueText isn't supplied
  change/office-ui-fabric-react-2019-11-27-11-27-47-slider-ariaValue.json
  packages/office-ui-fabric-react/src/components/Slider/Slider.base.tsx
  packages/office-ui-fabric-react/src/components/Slider/Slider.test.tsx
  packages/office-ui-fabric-react/src/components/Slider/__snapshots__/Slider.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Slider/examples/Slider.Basic.Example.tsx
  packages/office-ui-fabric-react/src/components/__snapshots__/Callout.Directional.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Facepile.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Facepile.Overflow.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Slider.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Slider.Vertical.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Stack.Horizontal.Configure.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Stack.Horizontal.Shrink.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Stack.Horizontal.Wrap.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Stack.Horizontal.WrapAdvanced.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Stack.Horizontal.WrapNested.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Stack.Vertical.Configure.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Stack.Vertical.Shrink.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Stack.Vertical.Wrap.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Stack.Vertical.WrapAdvanced.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Stack.Vertical.WrapNested.Example.tsx.shot
Labels: AutoMerge, Component: Slider

#11306 DocumentCard: Adding explicit focus styles
  change/office-ui-fabric-react-2019-11-25-15-59-41-doc-card-focus.json
  packages/office-ui-fabric-react/src/components/DocumentCard/DocumentCard.styles.ts
  packages/office-ui-fabric-react/src/components/DocumentCard/__snapshots__/DocumentCard.test.tsx.snap
  packages/office-ui-fabric-react/src/components/__snapshots__/DocumentCard.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DocumentCard.Compact.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DocumentCard.Complete.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DocumentCard.Conversation.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DocumentCard.Image.Example.tsx.shot
Labels: AutoMerge, Component: DocumentCard

#11380 SpinButton: Correct SpinButton default max value in documentation
  change/office-ui-fabric-react-2019-12-04-20-55-08-master.json
  packages/office-ui-fabric-react/src/components/SpinButton/SpinButton.tsx
  packages/office-ui-fabric-react/src/components/SpinButton/SpinButton.types.ts
Labels: AutoMerge, Component: SpinButton

#11390 OverflowSet: Vertical layout now uses menu instead of menubar
  change/office-ui-fabric-react-2019-12-05-15-27-02-overflow-vertical-menu.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/OverflowSet/OverflowSet.base.tsx
  packages/office-ui-fabric-react/src/components/OverflowSet/OverflowSet.types.ts
  packages/office-ui-fabric-react/src/components/OverflowSet/__snapshots__/OverflowSet.test.tsx.snap
  packages/office-ui-fabric-react/src/components/__snapshots__/OverflowSet.Vertical.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/ResizeGroup.VerticalOverflowSet.Example.tsx.shot
Labels: Component: OverflowSet

#11329 Theme Designer: use Customizations.applySettings instead of loadTheme
  apps/theming-designer/src/components/Header.tsx
  change/@uifabric-fabric-website-resources-2019-11-27-12-27-41-td_loadtheme.json
  change/office-ui-fabric-react-2019-11-27-12-27-41-td_loadtheme.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/ThemeGenerator/ThemeGenerator.ts
Labels: PR: API Modified, Theme Designer

#11299 Use closeButtonAriaLabel as dialog component close button tool tip
  change/office-ui-fabric-react-2019-11-25-18-02-32-user-v-satgar-ExposePropForDialog.json
  packages/office-ui-fabric-react/src/components/Dialog/DialogContent.base.tsx
  packages/office-ui-fabric-react/src/components/Dialog/examples/Dialog.Basic.Example.tsx
Labels: Component: Dialog

#11365 DetailList: Screen Reader is reading wrong column header with associated cell value for single-select list
  change/office-ui-fabric-react-2019-12-02-18-41-57-master.json
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsHeader.styles.ts
  packages/office-ui-fabric-react/src/components/DetailsList/__snapshots__/DetailsHeader.test.tsx.snap
Labels: Component: DetailsList

#11366 Button: fix size mismatch between primary and default buttons
  change/office-ui-fabric-react-2019-12-03-18-38-53-xgao-button-style-fix.json
  packages/office-ui-fabric-react/src/components/Button/ButtonThemes.ts
  packages/office-ui-fabric-react/src/components/TeachingBubble/__snapshots__/TeachingBubble.deprecated.test.tsx.snap
  packages/office-ui-fabric-react/src/components/TeachingBubble/__snapshots__/TeachingBubble.test.tsx.snap
  packages/office-ui-fabric-react/src/components/__snapshots__/Button.Compound.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Button.Default.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Button.ScreenReader.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Button.Split.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/ComboBox.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Dropdown.Required.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/ExtendedPeoplePicker.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/ExtendedPeoplePicker.Controlled.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/PeoplePicker.Types.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Rating.ButtonControlled.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/SelectedPeopleList.Controlled.Example.tsx.shot
Labels: Component: Button

#11404 DetailsList: Pass column styles to DetailsColumn
  change/office-ui-fabric-react-2019-12-09-16-03-27-details-list-header-styles.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsColumn.base.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsHeader.base.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsList.types.ts
Labels: AutoMerge, Component: DetailsList, PR: API Modified

#11408 ContexualMenu: Fix SplitButton text is not being read by screen reader
  change/office-ui-fabric-react-2019-12-09-15-55-40-xgao-a11y-bug-fix-2.json
  packages/office-ui-fabric-react/src/components/ContextualMenu/ContextualMenuItemWrapper/ContextualMenuSplitButton.tsx
  packages/office-ui-fabric-react/src/components/ContextualMenu/ContextualMenuItemWrapper/__snapshots__/ContextualMenuSplitButton.deprecated.test.tsx.snap
  packages/office-ui-fabric-react/src/components/ContextualMenu/ContextualMenuItemWrapper/__snapshots__/ContextualMenuSplitButton.test.tsx.snap
Labels: Component: ContextualMenu

#11387 Cherrypicking BasePickerListBelow a11y fix (#10867) to Fabric 6
  change/office-ui-fabric-react-2019-10-16-08-58-09-BasePickerListBelowRole.json
  packages/office-ui-fabric-react/src/components/pickers/BasePicker.tsx
Labels: AutoMerge, Component: Pickers, Fabric 6, PR: API Modified

#11397 Combobox: multi-select does not clear index on selection. Selected and checked properly supported
  change/office-ui-fabric-react-2019-12-06-13-32-38-combobox-multiselect-fixes.json
  packages/office-ui-fabric-react/src/components/ComboBox/ComboBox.test.tsx
  packages/office-ui-fabric-react/src/components/ComboBox/ComboBox.tsx
  packages/office-ui-fabric-react/src/components/__snapshots__/ComboBox.Basic.Example.tsx.shot
Labels: AutoMerge, Component: ComboBox

#11278 Allow focus on calendar month header button
  change/@uifabric-date-time-2019-11-22-15-36-07-allowFocusOnCalendarMonthHeaderButton.json
  packages/date-time/src/components/Calendar/CalendarMonth/CalendarMonth.base.tsx
Labels: Component: Calendar

#11374 Dropdown: Items associated with headers
  change/office-ui-fabric-react-2019-12-04-11-28-20-dropdown-itemgroups.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/Dropdown/Dropdown.base.tsx
  packages/office-ui-fabric-react/src/components/Dropdown/Dropdown.test.tsx
  packages/office-ui-fabric-react/src/utilities/selectableOption/SelectableOption.types.ts
Labels: AutoMerge, Component: Dropdown

#11409 Autocomplete: Allow value to be overriden
  change/office-ui-fabric-react-2019-12-09-17-38-21-autocomplete-override.json
  packages/office-ui-fabric-react/src/components/Autofill/Autofill.tsx
  packages/office-ui-fabric-react/src/components/ExtendedPicker/BaseExtendedPicker.tsx
  packages/office-ui-fabric-react/src/components/ExtendedPicker/__snapshots__/BaseExtendedPicker.test.tsx.snap
  packages/office-ui-fabric-react/src/components/SelectedItemsList/SelectedPeopleList/Items/EditingItem.tsx
  packages/office-ui-fabric-react/src/components/__snapshots__/ExtendedPeoplePicker.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/ExtendedPeoplePicker.Controlled.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/pickers/BasePicker.tsx
Labels: AutoMerge

#11303 Only update ExtendedPicker state on input events that are not mid-composition
  change/office-ui-fabric-react-2019-11-25-12-34-56-u-mahuangh-extendedpicker-trigger-composition.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/Autofill/Autofill.test.tsx
  packages/office-ui-fabric-react/src/components/Autofill/Autofill.tsx
  packages/office-ui-fabric-react/src/components/Autofill/Autofill.types.ts
  packages/office-ui-fabric-react/src/components/ExtendedPicker/BaseExtendedPicker.tsx
Labels: Component: ExtendedPicker

#11423 Stack: Adding documentation about Stack Items in the Stack overview
  change/office-ui-fabric-react-2019-12-10-15-12-35-stackItemDocs.json
  packages/office-ui-fabric-react/src/components/Stack/docs/StackOverview.md
Labels: AutoMerge, Component: Stack

#11125 Refining typography and signal icon on top of Folder Icon, filetype mapping updates
  .github/CODEOWNERS
  change/@uifabric-experiments-2019-11-07-17-48-23-nov_filemap_f6.json
  change/@uifabric-file-type-icons-2019-11-07-17-48-23-nov_filemap_f6.json
  packages/experiments/src/components/FolderCover/FolderCover.scss
  packages/experiments/src/components/signals/Signal.scss
  packages/file-type-icons/src/FileTypeIconMap.ts
  packages/file-type-icons/src/initializeFileTypeIcons.tsx
Labels: Fabric 6, package: file-type-icons

#11418 Card: Adding keyboard navigation and interaction on clickable Cards and fixing example styling
  change/@uifabric-react-cards-2019-12-10-10-38-30-cardNavigation.json
  packages/react-cards/etc/react-cards.api.md
  packages/react-cards/src/components/Card/Card.types.ts
  packages/react-cards/src/components/Card/Card.view.tsx
  packages/react-cards/src/components/Card/CardItem/__snapshots__/CardItem.test.tsx.snap
  packages/react-cards/src/components/Card/CardSection/__snapshots__/CardSection.test.tsx.snap
  packages/react-cards/src/components/Card/__snapshots__/Card.view.test.tsx.snap
  packages/react-cards/src/components/Card/examples/Card.Configure.Example.tsx
  packages/react-cards/src/components/Card/examples/Card.Horizontal.Example.tsx
  packages/react-cards/src/components/Card/examples/Card.Vertical.Example.tsx
Labels: AutoMerge, Component: Card

#11332 Preserve modal selection state when navigating between selected items
  change/office-ui-fabric-react-2019-11-27-21-47-59-modal-select.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/utilities/selection/SelectionZone.test.tsx
  packages/office-ui-fabric-react/src/utilities/selection/SelectionZone.tsx
Labels: Component: Selection

#11402 Pickers forcecomplete (#11317)
  change/office-ui-fabric-react-2019-11-26-16-44-32-pickers-forcecomplete.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/pickers/BasePicker.test.tsx
  packages/office-ui-fabric-react/src/components/pickers/BasePicker.tsx
  packages/office-ui-fabric-react/src/components/pickers/BasePicker.types.ts
  packages/office-ui-fabric-react/src/components/pickers/Suggestions/Suggestions.tsx
Labels: Component: Pickers, Fabric 6, PR: API Modified

#11435 Nav: Allow falsy values of title to be passed into items
  change/office-ui-fabric-react-2019-12-11-14-34-16-nav-null-title.json
  packages/office-ui-fabric-react/src/components/Nav/Nav.base.tsx
Labels: AutoMerge, Component: Nav

#11443 Panel: onLightDismissClick now properly prevents light dismiss
  change/office-ui-fabric-react-2019-12-12-09-06-23-panel-lightdismiss-fix.json
  packages/office-ui-fabric-react/src/components/Panel/Panel.base.tsx
  packages/office-ui-fabric-react/src/components/Panel/examples/Panel.LightDismissCustom.Example.tsx
Labels: Component: Panel

#11433 FocusZone: Escape readOnly input on arrow clicks
  change/office-ui-fabric-react-2019-12-11-13-32-59-focuszone-readonly-inputs.json
  packages/office-ui-fabric-react/src/components/FocusZone/FocusZone.test.tsx
  packages/office-ui-fabric-react/src/components/FocusZone/FocusZone.tsx
  packages/office-ui-fabric-react/src/components/FocusZone/examples/FocusZone.List.Example.tsx
  packages/office-ui-fabric-react/src/components/__snapshots__/FocusZone.List.Example.tsx.shot
Labels: Component: FocusZone

#11445 Toggle: Change div inside button to be a span
  change/office-ui-fabric-react-2019-12-12-10-18-09-toggle-div-in-button.json
  packages/office-ui-fabric-react/src/components/Toggle/Toggle.base.tsx
  packages/office-ui-fabric-react/src/components/Toggle/Toggle.styles.ts
  packages/office-ui-fabric-react/src/components/Toggle/__snapshots__/Toggle.test.tsx.snap
  packages/office-ui-fabric-react/src/components/__snapshots__/ColorPicker.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/ComboBox.Toggles.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Documents.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.DragDrop.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Grouped.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Dropdown.Error.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/FocusTrapZone.Box.Click.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/FocusTrapZone.Box.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/FocusTrapZone.Box.FocusOnCustomElement.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/FocusTrapZone.FocusZone.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/FocusTrapZone.Nested.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Keytips.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Keytips.Button.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Layer.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Layer.Customized.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Layer.Hosted.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/PeoplePicker.Types.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Shimmer.Application.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Shimmer.LoadData.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/TextField.ErrorMessage.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Toggle.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Toggle.CustomLabel.Example.tsx.shot
Labels: AutoMerge, Component: Toggle

#11424 Autofill autocomplete
  change/office-ui-fabric-react-2019-12-10-15-41-08-6.0.json
  packages/office-ui-fabric-react/src/components/Autofill/Autofill.tsx
  packages/office-ui-fabric-react/src/components/ExtendedPicker/BaseExtendedPicker.tsx
  packages/office-ui-fabric-react/src/components/SelectedItemsList/SelectedPeopleList/Items/EditingItem.tsx
  packages/office-ui-fabric-react/src/components/__snapshots__/ExtendedPeoplePicker.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/ExtendedPeoplePicker.Controlled.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/pickers/BasePicker.tsx
Labels: AutoMerge, Fabric 6

#11452 Fix snapshot conflict
  change/office-ui-fabric-react-2019-12-12-20-04-49-snapshots.json
  packages/office-ui-fabric-react/src/components/__snapshots__/Tooltip.Overflow.Example.tsx.shot
Labels: AutoMerge

#11449 ContextualMenu: Fix accessibility issue in example
  change/office-ui-fabric-react-2019-12-12-14-59-46-contextMenu-example.json
  packages/office-ui-fabric-react/src/components/ContextualMenu/examples/ContextualMenu.CustomizationWithNoWrap.Example.tsx
  packages/office-ui-fabric-react/src/components/ContextualMenu/examples/ContextualMenuExample.scss
Labels: AutoMerge, Component: ContextualMenu

#11453 Fix iteration of Sticky items in ScrollablePane
  change/office-ui-fabric-react-2019-12-12-22-28-03-scrollable-pane.json
  packages/office-ui-fabric-react/src/components/ScrollablePane/ScrollablePane.base.tsx
Labels: Component: ScrollablePane

#11447 DetailsList: Adding aria-readonly attribute so screen readers don't announce the cells as editable
  change/office-ui-fabric-react-2019-12-12-11-32-14-detailsListReadOnlyFields.json
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsRowFields.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/__snapshots__/DetailsList.test.tsx.snap
  packages/office-ui-fabric-react/src/components/DetailsList/__snapshots__/DetailsRow.test.tsx.snap
  packages/office-ui-fabric-react/src/components/__snapshots__/Announced.BulkOperations.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Announced.QuickActions.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Advanced.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Animation.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Compact.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.CustomColumns.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.CustomFooter.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.CustomGroupHeaders.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.CustomRows.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Documents.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.DragDrop.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Grouped.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Grouped.Large.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.NavigatingFocus.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/FocusZone.List.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/HoverCard.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/HoverCard.PlainCard.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/HoverCard.Target.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Text.Ramp.Example.tsx.shot
Labels: Area: Accessibility, AutoMerge, Component: DetailsList

#11460 Minor TextField and picker doc fixes
  change/@uifabric-experiments-2019-12-13-10-36-12-doc-fixes.json
  change/office-ui-fabric-react-2019-12-13-10-36-12-doc-fixes.json
  packages/experiments/src/components/FloatingSuggestions/FloatingSuggestions.types.ts
  packages/office-ui-fabric-react/src/components/FloatingPicker/BaseFloatingPicker.types.ts
  packages/office-ui-fabric-react/src/components/TextField/examples/TextField.Basic.Example.tsx
  packages/office-ui-fabric-react/src/components/TextField/examples/TextField.CustomRender.Example.tsx
  packages/office-ui-fabric-react/src/components/__snapshots__/TextField.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/TextField.CustomRender.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/pickers/BasePicker.types.ts
Labels: AutoMerge, Component: Pickers, Component: TextField

#11470 getRTL uses RTL flag on theme if present.
  change/@uifabric-utilities-2019-12-12-12-10-04-rtl-update.json
  change/office-ui-fabric-react-2019-12-12-12-10-04-rtl-update.json
  packages/office-ui-fabric-react/.vscode/settings.json
  packages/office-ui-fabric-react/src/components/Breadcrumb/Breadcrumb.base.tsx
  packages/office-ui-fabric-react/src/components/Check/Check.styles.ts
  packages/office-ui-fabric-react/src/components/Coachmark/Coachmark.base.tsx
  packages/office-ui-fabric-react/src/components/Coachmark/Coachmark.styles.ts
  packages/office-ui-fabric-react/src/components/ContextualMenu/ContextualMenu.base.tsx
  packages/office-ui-fabric-react/src/components/ContextualMenu/ContextualMenuItem.base.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsHeader.base.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsList.base.tsx
  packages/office-ui-fabric-react/src/components/GroupedList/GroupHeader.base.tsx
  packages/office-ui-fabric-react/src/components/MarqueeSelection/MarqueeSelection.base.tsx
  packages/office-ui-fabric-react/src/components/Panel/Panel.base.tsx
  packages/office-ui-fabric-react/src/components/Persona/PersonaCoin/PersonaCoin.base.tsx
  packages/office-ui-fabric-react/src/components/ProgressIndicator/ProgressIndicator.styles.ts
  packages/office-ui-fabric-react/src/components/ScrollablePane/ScrollablePane.base.tsx
  packages/office-ui-fabric-react/src/components/SearchBox/SearchBox.styles.tsx
  packages/office-ui-fabric-react/src/components/Shimmer/Shimmer.styles.ts
  packages/office-ui-fabric-react/src/components/Slider/Slider.base.tsx
  packages/office-ui-fabric-react/src/components/Slider/Slider.styles.ts
  packages/office-ui-fabric-react/src/components/pickers/TagPicker/TagItem.styles.ts
  packages/utilities/etc/utilities.api.md
  packages/utilities/src/rtl.test.ts
  packages/utilities/src/rtl.ts
Labels: PR: API Modified

#11472 Persona: adding alt text to examples.
  change/office-ui-fabric-react-2019-12-13-17-02-35-persona.json
  packages/office-ui-fabric-react/src/components/Persona/examples/Persona.Alternate.Example.tsx
  packages/office-ui-fabric-react/src/components/Persona/examples/Persona.Basic.Example.tsx
  packages/office-ui-fabric-react/src/components/Persona/examples/Persona.Colors.Example.tsx
  packages/office-ui-fabric-react/src/components/Persona/examples/Persona.CustomCoinRender.Example.tsx
  packages/office-ui-fabric-react/src/components/Persona/examples/Persona.CustomRender.Example.tsx
  packages/office-ui-fabric-react/src/components/Persona/examples/Persona.Presence.Example.tsx
  packages/office-ui-fabric-react/src/components/Persona/examples/Persona.UnknownPersona.Example.tsx
  packages/office-ui-fabric-react/src/components/__snapshots__/Persona.Alternate.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Persona.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Persona.CustomCoinRender.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Persona.CustomRender.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Persona.Presence.Example.tsx.shot
Labels: Component: Persona

#11471 ContextualMenu: Associate group with header to improve narrator
  change/office-ui-fabric-react-2019-12-13-16-31-16-contextualmenu-group-label.json
  packages/office-ui-fabric-react/src/components/ContextualMenu/ContextualMenu.base.tsx
  packages/office-ui-fabric-react/src/components/ContextualMenu/__snapshots__/ContextualMenu.test.tsx.snap
  packages/office-ui-fabric-react/src/components/__snapshots__/ContextualMenu.Basic.Example.tsx.shot
Labels: Component: ContextualMenu

#11465 Pivot: Move ARIA role to align with props assignment
  change/office-ui-fabric-react-2019-12-13-13-35-32-11072-fix-pivot.json
  packages/office-ui-fabric-react/src/components/Pivot/Pivot.base.tsx
  packages/office-ui-fabric-react/src/components/Pivot/__snapshots__/Pivot.deprecated.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Pivot/__snapshots__/Pivot.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Pivot/examples/Pivot.Basic.Example.tsx
  packages/office-ui-fabric-react/src/components/Pivot/examples/Pivot.IconCount.Example.tsx
  packages/office-ui-fabric-react/src/components/Pivot/examples/Pivot.Large.Example.tsx
  packages/office-ui-fabric-react/src/components/Pivot/examples/Pivot.OnChange.Example.tsx
  packages/office-ui-fabric-react/src/components/Pivot/examples/Pivot.Override.Example.tsx
  packages/office-ui-fabric-react/src/components/Pivot/examples/Pivot.Remove.Example.tsx
  packages/office-ui-fabric-react/src/components/Pivot/examples/Pivot.Separate.Example.tsx
  packages/office-ui-fabric-react/src/components/Pivot/examples/Pivot.SeparateNoSelectedKey.Example.tsx
  packages/office-ui-fabric-react/src/components/Pivot/examples/Pivot.Tabs.Example.tsx
  packages/office-ui-fabric-react/src/components/Pivot/examples/Pivot.TabsLarge.Example.tsx
  packages/office-ui-fabric-react/src/components/__snapshots__/Keytips.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Pivot.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Pivot.IconCount.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Pivot.Large.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Pivot.OnChange.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Pivot.Override.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Pivot.Remove.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Pivot.Separate.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Pivot.SeparateNoSelectedKey.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Pivot.Tabs.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Pivot.TabsLarge.Example.tsx.shot
Labels: Area: Accessibility, Component: Pivot

#11451 ProgressIndicator: improve high contrast colors for progress bar
  change/office-ui-fabric-react-2019-12-12-19-13-27-progress-highcontrast.json
  packages/office-ui-fabric-react/src/components/ProgressIndicator/ProgressIndicator.styles.ts
  packages/office-ui-fabric-react/src/components/ProgressIndicator/__snapshots__/ProgressIndicator.test.tsx.snap
  packages/office-ui-fabric-react/src/components/__snapshots__/Announced.LazyLoading.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/ProgressIndicator.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/ProgressIndicator.Indeterminate.Example.tsx.shot
Labels: AutoMerge

#11482 Focus: add select to be a focusable target
  change/@uifabric-utilities-2019-12-16-09-21-31-focustrapzone-select.json
  packages/utilities/src/focus.test.tsx
  packages/utilities/src/focus.ts
Labels: PR: Possible Perf Regression :snail:, Package: utilities

#11434 Folder And Filetype Updates (brought to Fabric7)
  .github/CODEOWNERS
  change/@uifabric-experiments-2019-12-10-11-25-59-caperez-folder_and_filemap_updates_f7.json
  change/@uifabric-file-type-icons-2019-12-10-11-25-59-caperez-folder_and_filemap_updates_f7.json
  packages/experiments/src/components/FolderCover/FolderCover.scss
  packages/experiments/src/components/signals/Signal.scss
  packages/file-type-icons/src/FileTypeIconMap.ts
  packages/file-type-icons/src/initializeFileTypeIcons.tsx
Labels: Package: experiments, package: file-type-icons

#11469 FocusZone: Adding tab handle for DomOrder direction
  change/office-ui-fabric-react-2019-12-13-14-37-26-focusZoneDomOrderTabHandling.json
  packages/office-ui-fabric-react/src/components/FocusZone/FocusZone.test.tsx
  packages/office-ui-fabric-react/src/components/FocusZone/FocusZone.tsx
Labels: AutoMerge, Component: FocusZone

#11430 ColorPicker: added aria labels for hue and alpha sliders. Added strings to example
  change/office-ui-fabric-react-2019-12-10-16-41-01-colorpicker-aria.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/ColorPicker/ColorPicker.base.tsx
  packages/office-ui-fabric-react/src/components/ColorPicker/ColorPicker.types.ts
  packages/office-ui-fabric-react/src/components/ColorPicker/examples/ColorPicker.Basic.Example.tsx
  packages/office-ui-fabric-react/src/components/__snapshots__/ColorPicker.Basic.Example.tsx.shot
Labels: AutoMerge, Component: ColorPicker, PR: API Modified

#11500 Removed redundant htmlFor attribute as input already use aria-labelledby
  change/office-ui-fabric-react-2019-12-17-14-27-30-combobox-redundant-for-label.json
  packages/office-ui-fabric-react/src/components/ComboBox/ComboBox.tsx
  packages/office-ui-fabric-react/src/components/__snapshots__/ComboBox.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/ComboBox.Controlled.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/ComboBox.CustomStyled.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/ComboBox.Toggles.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/ComboBox.Virtualized.Example.tsx.shot
Labels: AutoMerge, Component: ComboBox

#11498 TagPicker: Add aria-label to examples
  change/office-ui-fabric-react-2019-12-17-13-31-42-picker-button-label.json
  packages/office-ui-fabric-react/src/components/pickers/examples/Picker.CustomResult.Example.tsx
  packages/office-ui-fabric-react/src/components/pickers/examples/TagPicker.Basic.Example.tsx
Labels: AutoMerge, Component: Pickers

#11483 Sticky: Always render narrator readable content in place
  change/office-ui-fabric-react-2019-12-16-12-37-45-sticky-narrator-fix.json
  packages/office-ui-fabric-react/src/components/ScrollablePane/ScrollablePane.base.tsx
  packages/office-ui-fabric-react/src/components/ScrollablePane/__snapshots__/ScrollablePane.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Sticky/Sticky.tsx
Labels: AutoMerge

#11436 Combobox: Fixes multiselect selected values not being read
  change/office-ui-fabric-react-2019-12-11-14-23-30-combobox-access.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/ComboBox/ComboBox.classNames.ts
  packages/office-ui-fabric-react/src/components/ComboBox/ComboBox.styles.ts
  packages/office-ui-fabric-react/src/components/ComboBox/ComboBox.test.tsx
  packages/office-ui-fabric-react/src/components/ComboBox/ComboBox.tsx
  packages/office-ui-fabric-react/src/components/ComboBox/ComboBox.types.ts
  packages/office-ui-fabric-react/src/components/__snapshots__/ComboBox.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/ComboBox.Controlled.Example.tsx.shot
Labels: Component: ComboBox

#11509 SearchBox: Don't duplicate placeholder text in aria-label
  change/office-ui-fabric-react-2019-12-18-12-54-29-searchbox-placeholder-dup.json
  packages/office-ui-fabric-react/src/components/SearchBox/SearchBox.base.tsx
  packages/office-ui-fabric-react/src/components/SearchBox/SearchBox.types.ts
  packages/office-ui-fabric-react/src/components/__snapshots__/FloatingPeoplePicker.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/SearchBox.CustomIcon.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/SearchBox.Disabled.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/SearchBox.FullSize.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/SearchBox.Small.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/SearchBox.Underlined.Example.tsx.shot
Labels: Component: SearchBox

#11487 DocumentCard: Fixing focus styling on Links in DocumentCardPreview
  change/office-ui-fabric-react-2019-12-16-15-50-53-documentCardLinkFocus.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/DocumentCard/DocumentCardPreview.base.tsx
  packages/office-ui-fabric-react/src/components/DocumentCard/DocumentCardPreview.styles.ts
  packages/office-ui-fabric-react/src/components/DocumentCard/DocumentCardPreview.types.ts
  packages/office-ui-fabric-react/src/components/__snapshots__/DocumentCard.Compact.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DocumentCard.Complete.Example.tsx.shot
Labels: Component: DocumentCard, PR: API Modified

#11512 DetailsList: Adding Announced section for # of filtered items in examples
  change/office-ui-fabric-react-2019-12-18-14-39-37-detailsListFilterByName.json
  packages/office-ui-fabric-react/src/components/DetailsList/examples/DetailsList.Basic.Example.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/examples/DetailsList.Compact.Example.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/examples/DetailsList.Documents.Example.tsx
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Compact.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Documents.Example.tsx.shot
Labels: AutoMerge, Component: DetailsList

#11513 DetailsList: Adding Announced section for examples that have '# of items selected' message in display
  change/office-ui-fabric-react-2019-12-18-15-14-21-detailsListSelectedCount.json
  packages/office-ui-fabric-react/src/components/DetailsList/examples/DetailsList.Advanced.Example.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/examples/DetailsList.Basic.Example.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/examples/DetailsList.Compact.Example.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/examples/DetailsList.Documents.Example.tsx
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Advanced.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Compact.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Documents.Example.tsx.shot
Labels: AutoMerge, Component: DetailsList

#11339 Panel, Modal, Overlay: Optional prop that disables bodyscroll block on touch devices
  change/@uifabric-utilities-2019-11-28-22-34-32-master.json
  change/office-ui-fabric-react-2019-11-28-22-34-32-master.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/Modal/Modal.base.tsx
  packages/office-ui-fabric-react/src/components/Modal/Modal.types.ts
  packages/office-ui-fabric-react/src/components/Overlay/Overlay.base.tsx
  packages/office-ui-fabric-react/src/components/Overlay/Overlay.types.ts
  packages/office-ui-fabric-react/src/components/Panel/Panel.base.tsx
  packages/office-ui-fabric-react/src/components/Panel/Panel.types.ts
  packages/utilities/etc/utilities.api.md
  packages/utilities/src/scroll.ts
Labels: Component: Modal, Component: Overlay, Component: Panel, PR: API Modified

#11510 ScrollablePane: Fixing tabbing navigation with Sticky headers
  change/office-ui-fabric-react-2019-12-18-14-03-38-stickyTop.json
  packages/office-ui-fabric-react/src/components/ScrollablePane/ScrollablePane.base.tsx
  packages/office-ui-fabric-react/src/components/ScrollablePane/ScrollablePane.styles.ts
  packages/office-ui-fabric-react/src/components/ScrollablePane/__snapshots__/ScrollablePane.test.tsx.snap
Labels: AutoMerge, Component: ScrollablePane

#11257 align color system
  change/office-ui-fabric-react-2019-11-20-15-57-32-master.json
  packages/office-ui-fabric-react/src/components/Tooltip/Tooltip.styles.ts
Labels: Component: Tooltip

#11525 Fix Link colors inside MessageBar
  change/@uifabric-example-app-base-2019-12-19-17-16-23-messagebar-website.json
  packages/example-app-base/src/components/Page/Page.module.scss
Labels: Area: Accessibility, Area: Website, Component: Link, Component: MessageBar

#11562 Calendar Example Focus Fix
  change/office-ui-fabric-react-2019-12-26-16-19-00-calendar-edge-focus-example.json
  packages/office-ui-fabric-react/src/components/Calendar/examples/Calendar.Button.Example.tsx
Labels: Component: Calendar

#11530 added stream in getFileTypeIconProps
  change/@uifabric-file-type-icons-2019-12-20-17-13-33-azbanduk-stream-icon-patch.json
  packages/file-type-icons/src/getFileTypeIconProps.ts
Labels: package: file-type-icons

#11563 DetailsList: Update examples to work in strictFunctionTypes
  change/office-ui-fabric-react-2019-12-26-17-00-28-details-list-exmaples.json
  packages/office-ui-fabric-react/src/components/DetailsList/examples/DetailsList.CustomFooter.Example.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/examples/DetailsList.CustomGroupHeaders.Example.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/examples/DetailsList.CustomRows.Example.tsx
Labels: Component: DetailsList

#11570 Combobox: Focus returns to input after item click
  change/office-ui-fabric-react-2019-12-27-13-19-48-combobox-click-close.json
  packages/office-ui-fabric-react/src/components/ComboBox/ComboBox.tsx
Labels: AutoMerge, Component: ComboBox

#11571 Layer: add touch events to filtering to stop those that are bubbling up.
  change/office-ui-fabric-react-2019-12-27-13-39-03-reactdnd.json
  packages/office-ui-fabric-react/src/components/ContextualMenu/__snapshots__/ContextualMenu.test.tsx.snap
  packages/office-ui-fabric-react/src/components/HoverCard/__snapshots__/HoverCard.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Layer/Layer.base.tsx
  packages/office-ui-fabric-react/src/components/Layer/__snapshots__/Layer.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Modal/__snapshots__/Modal.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Panel/__snapshots__/Panel.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Tooltip/__snapshots__/Tooltip.test.tsx.snap
  packages/office-ui-fabric-react/src/components/__snapshots__/ComboBox.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/CommandBar.CommandBarButtonAs.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/ContextualMenu.Basic.Example.tsx.shot
Labels: Component: Layer

#11526 SwatchColorPicker: properly apply ID; naming and doc updates
  change/office-ui-fabric-react-2019-12-19-18-19-03-swatch-id.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/SwatchColorPicker/ColorPickerGridCell.base.tsx
  packages/office-ui-fabric-react/src/components/SwatchColorPicker/ColorPickerGridCell.types.ts
  packages/office-ui-fabric-react/src/components/SwatchColorPicker/SwatchColorPicker.base.tsx
  packages/office-ui-fabric-react/src/components/SwatchColorPicker/SwatchColorPicker.test.tsx
  packages/office-ui-fabric-react/src/components/SwatchColorPicker/SwatchColorPicker.types.ts
  packages/office-ui-fabric-react/src/components/SwatchColorPicker/__snapshots__/SwatchColorPicker.test.tsx.snap
  packages/office-ui-fabric-react/src/components/__snapshots__/SwatchColorPicker.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/utilities/grid/Grid.base.tsx
  packages/office-ui-fabric-react/src/utilities/grid/Grid.types.ts
Labels: AutoMerge, Component: SwatchColorPicker, PR: API Modified

#11527 Removed circular import (cherry-pick to 5.0)
  common/changes/office-ui-fabric-react/2019-12-31-02-43.json
  packages/office-ui-fabric-react/src/utilities/positioning/positioning.types.ts
Labels: Area: Build System, Fabric 5

#11581 ChoiceGroupOption: pass original renderer to on render label
  change/office-ui-fabric-react-2019-12-31-00-15-36-dagoltz-11575-ChoiseGroupOption-pass-original-renderer-to-onRenderLabel.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/ChoiceGroup/ChoiceGroup.types.ts
  packages/office-ui-fabric-react/src/components/ChoiceGroup/ChoiceGroupOption/ChoiceGroupOption.base.tsx
  packages/office-ui-fabric-react/src/components/ChoiceGroup/ChoiceGroupOption/ChoiceGroupOption.test.tsx
  packages/office-ui-fabric-react/src/components/ChoiceGroup/ChoiceGroupOption/__snapshots__/ChoiceGroupOption.test.tsx.snap
Labels: AutoMerge, Component: ChoiceGroup, PR: API Modified
