Repository microsoft/fluentui, pull requests merged in 2019-06, with the labels that each got.

#9270 DatePicker and Calendar accessibility updates, both OUFR and date-time
  common/changes/@uifabric/date-time/lorejoh12-datePickerAccessibilityUpdates_2019-05-29-20-19.json
  common/changes/office-ui-fabric-react/lorejoh12-datePickerAccessibilityUpdates_2019-05-29-20-19.json
  packages/date-time/config/api-extractor.json
  packages/date-time/etc/date-time.api.md
  packages/date-time/src/components/Calendar/Calendar.base.tsx
  packages/date-time/src/components/Calendar/Calendar.types.ts
  packages/date-time/src/components/Calendar/CalendarDay/CalendarDay.base.tsx
  packages/date-time/src/components/Calendar/CalendarDay/CalendarDay.styles.ts
  packages/date-time/src/components/Calendar/CalendarMonth/CalendarMonth.base.tsx
  packages/date-time/src/components/Calendar/CalendarYear/CalendarYear.base.tsx
  packages/date-time/src/components/Calendar/examples/Calendar.Button.Example.tsx
  packages/date-time/src/components/Calendar/examples/Calendar.Inline.Example.tsx
  packages/date-time/src/components/DatePicker/DatePicker.base.tsx
  packages/date-time/src/components/DatePicker/DatePicker.test.tsx
  packages/date-time/src/components/DatePicker/DatePicker.types.ts
  packages/date-time/src/components/DatePicker/examples/DatePicker.Basic.Example.tsx
  packages/date-time/src/components/DatePicker/examples/DatePicker.Bounded.Example.tsx
  packages/date-time/src/components/DatePicker/examples/DatePicker.Disabled.Example.tsx
  packages/date-time/src/components/DatePicker/examples/DatePicker.Format.Example.tsx
  packages/date-time/src/components/DatePicker/examples/DatePicker.Input.Example.tsx
  packages/date-time/src/components/DatePicker/examples/DatePicker.Required.Example.tsx
  packages/date-time/src/components/DatePicker/examples/DatePicker.WeekNumbers.Example.tsx
  packages/date-time/src/components/pages/CalendarPage.tsx
  packages/date-time/src/index.ts
  packages/date-time/src/utilities/dateMath/DateMath.test.ts
  packages/date-time/src/utilities/dateMath/DateMath.ts
  packages/date-time/src/utilities/dateValues/DateValues.ts
  packages/date-time/src/utilities/dateValues/TimeConstants.ts
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/Calendar/Calendar.types.ts
  packages/office-ui-fabric-react/src/components/Calendar/CalendarMonth.tsx
  packages/office-ui-fabric-react/src/components/Calendar/CalendarYear.tsx
  packages/office-ui-fabric-react/src/components/Calendar/__snapshots__/Calendar.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Calendar/examples/Calendar.Button.Example.tsx
  packages/office-ui-fabric-react/src/components/Calendar/examples/Calendar.Inline.Example.tsx
  packages/office-ui-fabric-react/src/components/DatePicker/DatePicker.base.tsx
  packages/office-ui-fabric-react/src/components/DatePicker/DatePicker.types.ts
Labels: PR: API Modified

#9177 Add benchmark triangle in HorizontalBarChart
  common/changes/@uifabric/charting/master_2019-05-22-14-43.json
  packages/charting/src/components/HorizontalBarChart/HorizontalBarChart.base.tsx
  packages/charting/src/components/HorizontalBarChart/HorizontalBarChart.styles.ts
  packages/charting/src/components/HorizontalBarChart/HorizontalBarChart.types.ts
  packages/charting/src/components/HorizontalBarChart/HorizontalBarChartPage.tsx
  packages/charting/src/components/HorizontalBarChart/examples/HorizontalBarChart.Benchmark.Example.tsx
Labels: Package: charting

#9315 Dropdown: fix on change
  common/changes/office-ui-fabric-react/fix-dropdown_2019-06-03-16-25.json
  packages/office-ui-fabric-react/src/components/Dropdown/Dropdown.base.tsx
Labels: Component: Dropdown

#9276 Button: Conditionally rendering KeytipData
  common/changes/@uifabric/experiments/buttonKeytip_2019-05-29-23-51.json
  common/changes/office-ui-fabric-react/buttonKeytip_2019-05-29-23-51.json
  packages/experiments/src/components/Button/Button.view.tsx
  packages/office-ui-fabric-react/src/components/Button/BaseButton.tsx
Labels: AutoMerge, Component: Button, Fabric 7, Package: experiments

#9319 Searchbox: fix it so that searchbox only calls prevent default when we handle an event
  common/changes/office-ui-fabric-react/searchbox-preventdefault_2019-06-03-18-30.json
  packages/office-ui-fabric-react/src/components/SearchBox/SearchBox.base.tsx
Labels: Component: SearchBox

#9130 Remove circular imports in ContextualMenu.tsx
  common/changes/office-ui-fabric-react/master_2019-05-17-07-56.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/ContextualMenu/ContextualMenu.base.tsx
  packages/office-ui-fabric-react/src/components/ContextualMenu/ContextualMenu.tsx
Labels: Component: ContextualMenu, PR: API Modified

#9317 Fix bundle size script f7
  scripts/tasks/bundle-size-collect.js
Labels: Area: Build System

#9271 added a signal for use of pages need republishing
  common/changes/@uifabric/experiments/fishibru-AddPublishSignal_2019-06-03-17-19.json
  packages/experiments/src/components/signals/Signals.scss
  packages/experiments/src/components/signals/Signals.tsx
  packages/experiments/src/components/signals/examples/Signals.Basic.Example.tsx
Labels: AutoMerge, Package: experiments

#9326 MessageBar: add back lineHeight
  packages/office-ui-fabric-react/src/components/MessageBar/MessageBar.styles.ts
  packages/office-ui-fabric-react/src/components/MessageBar/__snapshots__/MessageBar.test.tsx.snap
  packages/office-ui-fabric-react/src/components/__snapshots__/MessageBar.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/MessageBar.Styled.Example.tsx.shot
Labels: Component: MessageBar, Fabric 7

#9327 Coachmark: fix defaulting of the color to pull from theme
  common/changes/office-ui-fabric-react/Coachmark_2019-06-03-23-26.json
  packages/office-ui-fabric-react/src/components/Coachmark/Coachmark.base.tsx
  packages/office-ui-fabric-react/src/components/Coachmark/examples/Coachmark.Basic.Example.tsx
Labels: Component: Coachmark

#9332 Move Router to example-app-base
  apps/dom-tests/package.json
  apps/dom-tests/src/index.tsx
  apps/fabric-website/src/utilities/createSite.tsx
  common/changes/@uifabric/example-app-base/router_2019-06-04-01-26.json
  common/changes/@uifabric/fabric-website/router_2019-06-04-01-25.json
  common/changes/office-ui-fabric-react/router_2019-06-04-01-25.json
  packages/example-app-base/src/components/Nav/Nav.types.ts
  packages/example-app-base/src/utilities/createApp.tsx
  packages/example-app-base/src/utilities/createDemoApp.tsx
  packages/example-app-base/src/utilities/index.ts
  packages/example-app-base/src/utilities/router/Route.tsx
  packages/example-app-base/src/utilities/router/Router.tsx
  packages/example-app-base/src/utilities/router/index.ts
  packages/office-ui-fabric-react/src/utilities/router/index.ts
Labels: Fabric 7

#9330 Update BaseButton to render placeholder icon if string is empty
  common/changes/office-ui-fabric-react/edwl-2019-06-fixPlaceholderIconRender_2019-06-04-00-50.json
  packages/office-ui-fabric-react/src/components/Button/BaseButton.tsx
Labels: Component: Button

#9248 TextField: added aria-labelledby to text field
  apps/a11y-tests/src/tests/__snapshots__/ComponentExamples.test.tsx.snap
  common/changes/@uifabric/date-time/textFieldFix_2019-05-29-17-01.json
  common/changes/office-ui-fabric-react/textFieldFix_2019-05-28-22-15.json
  packages/office-ui-fabric-react/src/components/ColorPicker/__snapshots__/ColorPicker.test.tsx.snap
  packages/office-ui-fabric-react/src/components/TextField/MaskedTextField/__snapshots__/MaskedTextField.test.tsx.snap
  packages/office-ui-fabric-react/src/components/TextField/TextField.base.tsx
  packages/office-ui-fabric-react/src/components/TextField/TextField.test.tsx
  packages/office-ui-fabric-react/src/components/TextField/__snapshots__/TextField.test.tsx.snap
  packages/office-ui-fabric-react/src/components/__snapshots__/ColorPicker.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/ContextualMenu.Submenu.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DatePicker.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DatePicker.Disabled.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DatePicker.Format.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DatePicker.Input.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DatePicker.Required.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DatePicker.WeekNumbers.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Compact.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Documents.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.DragDrop.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/FocusTrapZone.Box.Click.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/FocusTrapZone.Box.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/FocusTrapZone.Box.FocusOnCustomElement.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/FocusZone.Disabled.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/FocusZone.Tabbable.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Stack.Horizontal.Configure.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Stack.Vertical.Configure.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/TextField.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/TextField.Borderless.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/TextField.Controlled.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/TextField.CustomRender.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/TextField.Masked.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/TextField.Multiline.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/TextField.PrefixAndSuffix.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/TextField.Styled.Example.tsx.shot
Labels: Component: TextField

#9336 Fix TypeScript 3.5 Issues
  common/changes/@uifabric/merge-styles/jg-fix-ts35-issues_2019-06-04-15-55.json
  common/changes/office-ui-fabric-react/jg-fix-ts35-issues_2019-06-04-15-55.json
  packages/merge-styles/etc/merge-styles.api.md
  packages/merge-styles/src/IStyleSet.ts
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/DetailsList/ShimmeredDetailsList.types.ts
Labels: AutoMerge, PR: API Modified

#9124 [ContextualMenu] Render persistent contextual menus with correct scrollbar in Edge.
  apps/a11y-tests/src/tests/__snapshots__/ComponentExamples.test.tsx.snap
  common/changes/office-ui-fabric-react/fix-contextual-menu-scrollbar_2019-05-16-21-22.json
  packages/office-ui-fabric-react/src/components/Button/BaseButton.tsx
  packages/office-ui-fabric-react/src/components/ContextualMenu/ContextualMenu.test.tsx
  packages/office-ui-fabric-react/src/components/ContextualMenu/__snapshots__/ContextualMenu.test.tsx.snap
  packages/office-ui-fabric-react/src/components/__snapshots__/Button.ContextualMenu.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/ContextualMenu.Persisted.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Advanced.Example.tsx.shot
Labels: Component: ContextualMenu

#9329 Fonts: Add additional font steps
  common/changes/@uifabric/styling/phkuo-addFontSteps_2019-06-04-00-23.json
  packages/styling/etc/styling.api.md
  packages/styling/src/interfaces/IFontStyles.ts
  packages/styling/src/styles/__snapshots__/fonts.test.ts.snap
  packages/styling/src/styles/fonts.ts
Labels: Area: Fonts, Area: Theming, AutoMerge

#9349 UHF style overrides: Fix class typo
  apps/fabric-website/src/styles/_base.scss
  common/changes/@uifabric/fabric-website/fix-style-typo_2019-06-05-19-40.json
Labels: Area: Website, AutoMerge

#9352 Fix ./index import from Selection
  common/changes/@uifabric/utilities/selection-import_2019-06-05-22-12.json
  packages/utilities/src/index.ts
Labels: AutoMerge, Package: utilities

#9353 Fix create-page script
  scripts/templates/create-page/EmptyDoc.mustache
  scripts/templates/create-page/EmptyPageBase.mustache
Labels: Area: Build System, AutoMerge

#9294 Fixing a few Persisted ContextualMenu bugs
  common/changes/office-ui-fabric-react/preventFocusPrevious_2019-05-31-00-15.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/ContextualMenu/ContextualMenu.base.tsx
Labels: Component: ContextualMenu, PR: API Modified

#9195 Calendar A11Y Improvements
  common/changes/office-ui-fabric-react/cjsheets-calendar-a11y-improvements_2019-05-23-17-03.json
  packages/office-ui-fabric-react/src/components/Calendar/Calendar.tsx
Labels: Component: Calendar

#9351 Android panel footer
  common/changes/office-ui-fabric-react/android-panel-footer_2019-06-05-21-44.json
  packages/office-ui-fabric-react/src/components/Panel/Panel.styles.ts
  packages/office-ui-fabric-react/src/components/Panel/__snapshots__/Panel.test.tsx.snap
  packages/office-ui-fabric-react/src/components/__snapshots__/Panel.HiddenOnDismiss.Example.tsx.shot
Labels: AutoMerge, Component: Panel

#9281 Fix Data Viz 'Legends' is not accessible using keyboard tab navigation
  common/changes/@uifabric/charting/LegendsAccesability_2019-05-30-07-22.json
  packages/charting/src/components/Legends/Legends.base.tsx
Labels: AutoMerge, Package: charting

#9355 Fabric 7: font size remap
  packages/date-time/src/components/DatePicker/__snapshots__/DatePicker.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Breadcrumb/__snapshots__/Breadcrumb.test.tsx.snap
  packages/office-ui-fabric-react/src/components/DocumentCard/__snapshots__/DocumentCard.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Pivot/__snapshots__/Pivot.test.tsx.snap
  packages/office-ui-fabric-react/src/components/ProgressIndicator/__snapshots__/ProgressIndicator.test.tsx.snap
  packages/office-ui-fabric-react/src/components/__snapshots__/Breadcrumb.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Breadcrumb.Static.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DocumentCard.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DocumentCard.Compact.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DocumentCard.Complete.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DocumentCard.Conversation.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DocumentCard.Image.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Pivot.Large.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Pivot.OnChange.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Pivot.Remove.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Pivot.TabsLarge.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/ProgressIndicator.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/ProgressIndicator.Indeterminate.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Text.Wrap.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/TextField.CustomRender.Example.tsx.shot
  packages/react-cards/src/components/Card/CardItem/__snapshots__/CardItem.test.tsx.snap
  packages/react-cards/src/components/Card/CardSection/__snapshots__/CardSection.test.tsx.snap
  packages/react-cards/src/components/Card/__snapshots__/Card.view.test.tsx.snap
  packages/styling/src/styles/__snapshots__/fonts.test.ts.snap
  packages/styling/src/styles/fonts.ts
Labels: Fabric 7

#9368 Revert example-app-base font changes
  common/changes/@uifabric/example-app-base/example-fonts_2019-06-07-00-27.json
  packages/example-app-base/src/components/ComponentPage/ComponentPage.styles.ts
  packages/example-app-base/src/components/ExampleCard/ExampleCard.styles.ts
  packages/example-app-base/src/components/FeedbackList/FeedbackList.styles.ts
  packages/example-app-base/src/components/Header/Header.styles.ts
  packages/example-app-base/src/components/Markdown/MarkdownParagraph.tsx
  packages/example-app-base/src/components/PropertiesTable/PropertiesTableSet.styles.ts
  packages/example-app-base/src/components/SideRail/SideRail.styles.ts
Labels: AutoMerge, Fabric 7

#9290 Fix datepicker not displaying out of bounds error on initial render
  common/changes/office-ui-fabric-react/edwl-2019-05-fixDatePickerErrorMsg_2019-05-30-20-15.json
  packages/office-ui-fabric-react/src/components/DatePicker/DatePicker.base.tsx
Labels: Component: DatePicker

#9370 SplitButton menu icon fix
  apps/vr-tests/src/stories/Button.stories.tsx
  common/changes/office-ui-fabric-react/v-mare-SplitButton-fix-9344_2019-06-07-05-17.json
  packages/office-ui-fabric-react/src/components/Button/BaseButton.classNames.ts
  packages/office-ui-fabric-react/src/components/Button/SplitButton/SplitButton.classNames.ts
Labels: Component: Button

#9378 Migration: bump version of riceburn
  common/changes/@uifabric/migration/fabric-7_2019-06-07-20-00.json
  common/config/rush/shrinkwrap.yaml
  packages/migration/package.json
Labels: Fabric 7

#9389 Fix Line chart Firefox issue
  common/changes/@uifabric/charting/lineChartFirefoxIssue_2019-06-10-10-36.json
  packages/charting/src/components/LineChart/examples/LineChart.Multiple.Example.tsx
  packages/charting/src/components/LineChart/examples/LineChart.Styled.Example.tsx
Labels: Package: charting

#9383 Update a11y tests
  apps/a11y-tests/src/tests/__snapshots__/ComponentExamples.test.tsx.snap
Labels: Fabric 7

#9356 ColorPicker: intermediate value handling fixes, deprecated props removal
  common/changes/@uifabric/migration/color-picker-textfield_2019-06-06-06-07.json
  common/changes/office-ui-fabric-react/color-picker-textfield_2019-06-06-06-07.json
  packages/migration/src/mods/7.0.0/colorPickerWarnRemovedProps.ts
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/ColorPicker/ColorPicker.base.tsx
  packages/office-ui-fabric-react/src/components/ColorPicker/ColorPicker.deprecated.test.tsx
  packages/office-ui-fabric-react/src/components/ColorPicker/ColorPicker.test.tsx
  packages/office-ui-fabric-react/src/components/ColorPicker/ColorPicker.types.ts
  packages/office-ui-fabric-react/src/components/ColorPicker/ColorRectangle/ColorRectangle.base.tsx
  packages/office-ui-fabric-react/src/components/ColorPicker/ColorRectangle/ColorRectangle.types.ts
  packages/office-ui-fabric-react/src/components/ColorPicker/ColorSlider/ColorSlider.base.tsx
  packages/office-ui-fabric-react/src/components/ColorPicker/ColorSlider/ColorSlider.types.ts
  packages/office-ui-fabric-react/src/components/ColorPicker/__snapshots__/ColorPicker.test.tsx.snap
  packages/office-ui-fabric-react/src/components/__snapshots__/ColorPicker.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/utilities/color/colors.test.ts
  packages/office-ui-fabric-react/src/utilities/color/colors.ts
  packages/office-ui-fabric-react/src/utilities/color/consts.ts
  packages/office-ui-fabric-react/src/utilities/color/correctHex.ts
Labels: AutoMerge, Component: ColorPicker, Fabric 7, PR: API Modified

#9401 Fabric 7: Add some change files for breaking changes
  common/changes/@uifabric/experiments/removeShimmer_2019-05-03-00-01.json
  common/changes/@uifabric/styling/fontRemap_2019-06-06-00-04.json
  common/changes/office-ui-fabric-react/personaInitialColorsRemapAndNew_2019-05-02-00-05.json
  common/changes/office-ui-fabric-react/removeShimmerFomDetailsList_2019-05-07-00-03.json
  common/changes/office-ui-fabric-react/shimmerDetailsListPropsRemoval_2019-04-14-00-02.json
Labels: Fabric 7

#9402 Card: Extending HTMLElement attributes in ICardProps
  common/changes/@uifabric/react-cards/cardDivAttr_2019-06-10-22-03.json
  packages/react-cards/src/components/Card/Card.types.ts
  packages/react-cards/src/components/Card/Card.view.tsx
Labels: AutoMerge, Component: Card

#9395 Improving perf. of customized components
  common/changes/@uifabric/utilities/customizablePerf_2019-06-10-19-37.json
  packages/utilities/src/customizations/customizable.tsx
Labels: Package: utilities, Status: Do Not Merge 🚫

#9396 Dropdown className should be applied to root
  common/changes/office-ui-fabric-react/dropdown-class_2019-06-10-20-11.json
  packages/office-ui-fabric-react/src/components/ComponentConformance.test.tsx
  packages/office-ui-fabric-react/src/components/Dropdown/Dropdown.styles.ts
Labels: AutoMerge, Component: Dropdown, Fabric 7

#8887 improve perf of DocumentCardTitle
  common/changes/office-ui-fabric-react/qihuang-improvePerfOfDocTitle_2019-04-30-08-01.json
  packages/office-ui-fabric-react/src/components/DocumentCard/DocumentCardTitle.base.tsx
  packages/office-ui-fabric-react/src/components/DocumentCard/DocumentCardTitle.test.tsx
  packages/office-ui-fabric-react/src/components/__snapshots__/DocumentCard.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DocumentCard.Compact.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DocumentCard.Conversation.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DocumentCard.Image.Example.tsx.shot
Labels: Component: DocumentCard

#9403 Improve Stack sample code for performance
  common/changes/office-ui-fabric-react/issue9385_2019-06-10-22-19.json
  packages/office-ui-fabric-react/src/components/Stack/examples/Stack.Horizontal.HorizontalAlign.Example.tsx
  packages/office-ui-fabric-react/src/components/Stack/examples/Stack.Horizontal.Spacing.Example.tsx
  packages/office-ui-fabric-react/src/components/Stack/examples/Stack.Horizontal.VerticalAlign.Example.tsx
  packages/office-ui-fabric-react/src/components/Stack/examples/Stack.Horizontal.Wrap.Example.tsx
  packages/office-ui-fabric-react/src/components/Stack/examples/Stack.Horizontal.WrapAdvanced.Example.tsx
  packages/office-ui-fabric-react/src/components/Stack/examples/Stack.Horizontal.WrapNested.Example.tsx
  packages/office-ui-fabric-react/src/components/Stack/examples/Stack.Vertical.HorizontalAlign.Example.tsx
  packages/office-ui-fabric-react/src/components/Stack/examples/Stack.Vertical.VerticalAlign.Example.tsx
  packages/office-ui-fabric-react/src/components/Stack/examples/Stack.Vertical.Wrap.Example.tsx
  packages/office-ui-fabric-react/src/components/Stack/examples/Stack.Vertical.WrapAdvanced.Example.tsx
  packages/office-ui-fabric-react/src/components/Stack/examples/Stack.Vertical.WrapNested.Example.tsx
  packages/office-ui-fabric-react/src/components/__snapshots__/Stack.Horizontal.HorizontalAlign.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Stack.Horizontal.Spacing.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Stack.Horizontal.VerticalAlign.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Stack.Horizontal.Wrap.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Stack.Horizontal.WrapAdvanced.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Stack.Horizontal.WrapNested.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Stack.Vertical.HorizontalAlign.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Stack.Vertical.VerticalAlign.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Stack.Vertical.Wrap.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Stack.Vertical.WrapAdvanced.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Stack.Vertical.WrapNested.Example.tsx.shot
Labels: AutoMerge, Component: Stack

#9377 Rating: Added getNativeProps for events
  common/changes/office-ui-fabric-react/marygans-ratings-component_2019-06-07-18-27.json
  packages/office-ui-fabric-react/src/components/Rating/Rating.base.tsx
  packages/office-ui-fabric-react/src/components/__snapshots__/Rating.Basic.Example.tsx.shot
Labels: Component: Rating

#9399 ColorPicker: remove decimals from alpha value
  common/changes/office-ui-fabric-react/color-decimal_2019-06-10-21-14.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/ColorPicker/ColorPicker.base.tsx
  packages/office-ui-fabric-react/src/components/ColorPicker/ColorPicker.test.tsx
  packages/office-ui-fabric-react/src/components/ColorPicker/__snapshots__/ColorPicker.test.tsx.snap
  packages/office-ui-fabric-react/src/components/__snapshots__/ColorPicker.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/utilities/color/consts.ts
Labels: AutoMerge, Component: ColorPicker, Fabric 7

#8723 TextField: proper controlled/uncontrolled behavior + deprecated prop removal
  .vscode/launch.json
  apps/vr-tests/src/stories/TextField.stories.tsx
  common/changes/@uifabric/migration/textfield7_2019-06-05-00-51.json
  common/changes/@uifabric/utilities/textfield7_2019-06-05-00-51.json
  common/changes/office-ui-fabric-react/textfield7_2019-06-05-00-51.json
  packages/migration/src/mods/7.0.0/textFieldRenameProps.ts
  packages/migration/src/mods/7.0.0/textFieldWarnRemovedProps.ts
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/Announced/examples/Announced.QuickActions.Example.tsx
  packages/office-ui-fabric-react/src/components/ColorPicker/ColorPicker.base.tsx
  packages/office-ui-fabric-react/src/components/FocusZone/examples/FocusZone.Disabled.Example.tsx
  packages/office-ui-fabric-react/src/components/FocusZone/examples/FocusZone.Tabbable.Example.tsx
  packages/office-ui-fabric-react/src/components/TextField/MaskedTextField/MaskedTextField.test.tsx
  packages/office-ui-fabric-react/src/components/TextField/MaskedTextField/MaskedTextField.tsx
  packages/office-ui-fabric-react/src/components/TextField/MaskedTextField/__snapshots__/MaskedTextField.test.tsx.snap
  packages/office-ui-fabric-react/src/components/TextField/TextField.base.tsx
  packages/office-ui-fabric-react/src/components/TextField/TextField.deprecated.test.tsx
  packages/office-ui-fabric-react/src/components/TextField/TextField.doc.tsx
  packages/office-ui-fabric-react/src/components/TextField/TextField.styles.tsx
  packages/office-ui-fabric-react/src/components/TextField/TextField.test.tsx
  packages/office-ui-fabric-react/src/components/TextField/TextField.types.ts
  packages/office-ui-fabric-react/src/components/TextField/__snapshots__/TextField.deprecated.test.tsx.snap
  packages/office-ui-fabric-react/src/components/TextField/__snapshots__/TextField.test.tsx.snap
  packages/office-ui-fabric-react/src/components/__snapshots__/DatePicker.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DatePicker.Disabled.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DatePicker.Format.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DatePicker.Input.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DatePicker.Required.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DatePicker.WeekNumbers.Example.tsx.shot
  packages/tslint-rules/tslint.json
  packages/utilities/etc/utilities.api.md
  packages/utilities/src/asAsync.test.tsx
  packages/utilities/src/classNamesFunction.ts
  packages/utilities/src/controlled.test.ts
  packages/utilities/src/controlled.ts
  packages/utilities/src/customizations/Customizer.test.tsx
  packages/utilities/src/focus.test.tsx
  packages/utilities/src/index.ts
  packages/utilities/src/safeRequestAnimationFrame.test.tsx
  packages/utilities/src/safeSetTimeout.test.tsx
  packages/utilities/src/warn.ts
  packages/utilities/src/warn/warn.test.ts
  packages/utilities/src/warn/warnControlledUsage.test.ts
  packages/utilities/src/warn/warnControlledUsage.ts
  packages/utilities/tsconfig.json
Labels: Component: TextField, Fabric 7, PR: API Modified

#9388 Fix Vertical bar chart x-axis descriptor cut off issue
  common/changes/@uifabric/charting/virticalBarChartCutOffIssue_2019-06-10-10-33.json
  packages/charting/src/components/VerticalBarChart/VerticalBarChart.base.tsx
  packages/charting/src/components/VerticalBarChart/VerticalBarChart.styles.ts
  packages/charting/src/components/VerticalBarChart/__snapshots__/VerticalBarChart.test.tsx.snap
Labels: Package: charting

#9381 Clean up Site life-cycle
  apps/fabric-website/src/components/Site/Site.tsx
  common/changes/@uifabric/fabric-website/clean-up-site-lifecycle_2019-06-07-23-31.json
Labels: Area: Website

#9343 withViewport: Remove conditional render to fix React cascading update
  common/changes/office-ui-fabric-react/keco-withviewport-no-cond-render_2019-06-04-22-53.json
  common/changes/office-ui-fabric-react/keco-withviewport-no-cond-render_2019-06-12-07-10.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/Announced/examples/Announced.BulkOperations.Example.tsx
  packages/office-ui-fabric-react/src/components/Announced/examples/Announced.QuickActions.Example.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsList.base.tsx
  packages/office-ui-fabric-react/src/components/HoverCard/HoverCard.base.tsx
  packages/office-ui-fabric-react/src/components/HoverCard/HoverCard.types.ts
  packages/office-ui-fabric-react/src/components/HoverCard/examples/HoverCard.Target.Example.tsx
  packages/office-ui-fabric-react/src/components/List/List.tsx
  packages/office-ui-fabric-react/src/components/__snapshots__/Announced.BulkOperations.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Announced.QuickActions.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Advanced.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Compact.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.CustomColumns.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.CustomFooter.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.CustomGroupHeaders.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.CustomRows.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Documents.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.DragDrop.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Grouped.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Grouped.Large.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.NavigatingFocus.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/HoverCard.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/HoverCard.PlainCard.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/HoverCard.Target.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Shimmer.Application.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Text.Ramp.Example.tsx.shot
  packages/office-ui-fabric-react/src/utilities/decorators/withViewport.tsx
  packages/office-ui-fabric-react/src/utilities/dragdrop/DragDropHelper.tsx
Labels: Component: DetailsList, Component: List, PR: API Modified

#9428 Update DetailsList example to make selection work correctly when sorting / filtering
  common/changes/office-ui-fabric-react/issue9408_2019-06-12-18-00.json
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsList.types.ts
  packages/office-ui-fabric-react/src/components/DetailsList/examples/DetailsList.Documents.Example.tsx
Labels: Component: DetailsList

#9371 Resolved the issue of the legends repeating even with same color and legend
  common/changes/@uifabric/charting/multipleStackedBarLegendDup_2019-06-07-07-29.json
  packages/charting/src/components/StackedBarChart/MultiStackedBarChart.base.tsx
  packages/charting/src/components/StackedBarChart/examples/MultiStackedBarChart.Example.tsx
Labels: Package: charting

#9445 Downgrade rush because it is causing commandline args not to appear in npm run scripts
  rush.json
Labels: Area: Build System

#9448 Coachmark: Fix bottom position examples that are being cut off.
  common/changes/office-ui-fabric-react/coachmark_2019-06-13-17-46.json
  packages/office-ui-fabric-react/src/components/Coachmark/examples/Coachmark.Basic.Example.tsx
Labels: Component: Coachmark

#9406 Fixed issue #9384: Fix context menu width with split button and overflow text
  common/changes/office-ui-fabric-react/1906-fixDropdownSplitTextIssue_2019-06-12-19-15.json
  packages/office-ui-fabric-react/src/components/ContextualMenu/ContextualMenu.classNames.ts
Labels: Component: ContextualMenu

#9450 Fix export to codepen for fabric 7
  common/changes/@uifabric/example-app-base/codepen7_2019-06-13-18-50.json
  packages/example-app-base/src/components/CodepenComponent/CodepenComponent.tsx
Labels: Area: Website, AutoMerge

#9453 6.0: Fix Rush change check.
  package.json
Labels: Area: Build System

#9457 [6.x] withViewport: Remove conditional render to fix React cascading update
  common/changes/office-ui-fabric-react/keco-with-viewport-render-list_2019-06-13-22-43.json
  common/changes/office-ui-fabric-react/keco-with-viewport-render-list_2019-06-13-22-44.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/Announced/examples/Announced.BulkOperations.Example.tsx
  packages/office-ui-fabric-react/src/components/Announced/examples/Announced.QuickActions.Example.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsList.base.tsx
  packages/office-ui-fabric-react/src/components/HoverCard/HoverCard.base.tsx
  packages/office-ui-fabric-react/src/components/HoverCard/HoverCard.types.ts
  packages/office-ui-fabric-react/src/components/HoverCard/examples/HoverCard.Target.Example.tsx
  packages/office-ui-fabric-react/src/components/List/List.tsx
  packages/office-ui-fabric-react/src/components/__snapshots__/Announced.BulkOperations.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Announced.QuickActions.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Advanced.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Compact.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.CustomColumns.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.CustomFooter.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.CustomGroupHeaders.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.CustomRows.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Documents.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.DragDrop.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Grouped.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Grouped.Large.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.NavigatingFocus.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/HoverCard.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/HoverCard.PlainCard.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/HoverCard.Target.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Shimmer.Application.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Text.Ramp.Example.tsx.shot
  packages/office-ui-fabric-react/src/utilities/decorators/withViewport.tsx
  packages/office-ui-fabric-react/src/utilities/dragdrop/DragDropHelper.tsx
Labels: PR: API Modified

#9459 Fixing file that caused tslint issue in pre-commit hook validation
  common/changes/@uifabric/migration/tslintErrors_2019-06-13-22-56.json
  packages/migration/fixtures/7.0.0/searchbox.tsx
Labels: AutoMerge

#9417 date-time: Add WeeklyDayPicker component
  common/changes/@uifabric/date-time/lorejoh12-WeekNavigationComponent_2019-06-12-00-01.json
  common/changes/office-ui-fabric-react/lorejoh12-WeekNavigationComponent_2019-06-12-00-01.json
  packages/date-time/etc/date-time.api.md
  packages/date-time/src/WeeklyDayPicker.ts
  packages/date-time/src/components/Calendar/CalendarDay/CalendarDay.base.tsx
  packages/date-time/src/components/Calendar/CalendarDay/CalendarDay.styles.ts
  packages/date-time/src/components/Calendar/CalendarDay/CalendarDay.types.ts
  packages/date-time/src/components/CalendarDayGrid/CalendarDayGrid.base.tsx
  packages/date-time/src/components/CalendarDayGrid/CalendarDayGrid.styles.ts
  packages/date-time/src/components/CalendarDayGrid/CalendarDayGrid.tsx
  packages/date-time/src/components/CalendarDayGrid/CalendarDayGrid.types.ts
  packages/date-time/src/components/WeeklyDayPicker/WeeklyDayPicker.base.tsx
  packages/date-time/src/components/WeeklyDayPicker/WeeklyDayPicker.styles.ts
  packages/date-time/src/components/WeeklyDayPicker/WeeklyDayPicker.tsx
  packages/date-time/src/components/WeeklyDayPicker/WeeklyDayPicker.types.ts
  packages/date-time/src/components/WeeklyDayPicker/examples/WeeklyDayPicker.Example.scss
  packages/date-time/src/components/WeeklyDayPicker/examples/WeeklyDayPicker.Inline.Example.tsx
  packages/date-time/src/components/WeeklyDayPicker/index.ts
  packages/date-time/src/components/pages/WeeklyDayPickerPage.tsx
  packages/date-time/src/demo/AppDefinition.tsx
  packages/date-time/src/index.ts
  packages/office-ui-fabric-react/src/components/Fabric/Fabric.base.tsx
  packages/office-ui-fabric-react/src/utilities/dateMath/DateMath.ts
Labels: PR: API Modified, Package: date-time

#9434 Stack: Improving examples so that they have better performance and removing anti-patterns from them
  common/changes/office-ui-fabric-react/stackExamples_2019-06-12-21-50.json
  packages/office-ui-fabric-react/src/components/Stack/Stack.tsx
  packages/office-ui-fabric-react/src/components/Stack/examples/Stack.Horizontal.Basic.Example.tsx
  packages/office-ui-fabric-react/src/components/Stack/examples/Stack.Horizontal.Configure.Example.tsx
  packages/office-ui-fabric-react/src/components/Stack/examples/Stack.Horizontal.Grow.Example.tsx
  packages/office-ui-fabric-react/src/components/Stack/examples/Stack.Horizontal.HorizontalAlign.Example.tsx
  packages/office-ui-fabric-react/src/components/Stack/examples/Stack.Horizontal.Reversed.Example.tsx
  packages/office-ui-fabric-react/src/components/Stack/examples/Stack.Horizontal.Shrink.Example.tsx
  packages/office-ui-fabric-react/src/components/Stack/examples/Stack.Horizontal.Spacing.Example.tsx
  packages/office-ui-fabric-react/src/components/Stack/examples/Stack.Horizontal.VerticalAlign.Example.tsx
  packages/office-ui-fabric-react/src/components/Stack/examples/Stack.Horizontal.Wrap.Example.tsx
  packages/office-ui-fabric-react/src/components/Stack/examples/Stack.Horizontal.WrapAdvanced.Example.tsx
  packages/office-ui-fabric-react/src/components/Stack/examples/Stack.Horizontal.WrapNested.Example.tsx
  packages/office-ui-fabric-react/src/components/Stack/examples/Stack.Vertical.Basic.Example.tsx
  packages/office-ui-fabric-react/src/components/Stack/examples/Stack.Vertical.Configure.Example.tsx
  packages/office-ui-fabric-react/src/components/Stack/examples/Stack.Vertical.Grow.Example.tsx
  packages/office-ui-fabric-react/src/components/Stack/examples/Stack.Vertical.HorizontalAlign.Example.tsx
  packages/office-ui-fabric-react/src/components/Stack/examples/Stack.Vertical.Reversed.Example.tsx
  packages/office-ui-fabric-react/src/components/Stack/examples/Stack.Vertical.Shrink.Example.tsx
  packages/office-ui-fabric-react/src/components/Stack/examples/Stack.Vertical.Spacing.Example.tsx
  packages/office-ui-fabric-react/src/components/Stack/examples/Stack.Vertical.VerticalAlign.Example.tsx
  packages/office-ui-fabric-react/src/components/Stack/examples/Stack.Vertical.Wrap.Example.tsx
  packages/office-ui-fabric-react/src/components/Stack/examples/Stack.Vertical.WrapAdvanced.Example.tsx
  packages/office-ui-fabric-react/src/components/Stack/examples/Stack.Vertical.WrapNested.Example.tsx
  packages/office-ui-fabric-react/src/components/__snapshots__/Stack.Horizontal.Configure.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Stack.Horizontal.HorizontalAlign.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Stack.Horizontal.Spacing.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Stack.Horizontal.VerticalAlign.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Stack.Horizontal.Wrap.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Stack.Horizontal.WrapAdvanced.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Stack.Horizontal.WrapNested.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Stack.Vertical.HorizontalAlign.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Stack.Vertical.VerticalAlign.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Stack.Vertical.Wrap.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Stack.Vertical.WrapAdvanced.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Stack.Vertical.WrapNested.Example.tsx.shot
Labels: AutoMerge, Component: Stack

#9341 Tooltip: improve perf by preventing all render until after delay's done.
  apps/vr-tests/src/stories/Tooltip.stories.tsx
  common/changes/office-ui-fabric-react/tooltip_2019-06-04-21-14.json
  packages/office-ui-fabric-react/src/components/ComponentConformance.test.tsx
  packages/office-ui-fabric-react/src/components/Tooltip/Tooltip.base.tsx
  packages/office-ui-fabric-react/src/components/Tooltip/Tooltip.styles.ts
  packages/office-ui-fabric-react/src/components/Tooltip/Tooltip.test.tsx
Labels: Component: Tooltip

#9471 fixed master screener config to match vso settings rather than travis
  apps/vr-tests/screener.config.js
Labels: Area: Build System

#9400 Allowing for memoization when generating SwatchColorPicker cell's classNames
  common/changes/office-ui-fabric-react/colorPickerPerf2_2019-06-11-23-53.json
  packages/office-ui-fabric-react/src/components/SwatchColorPicker/ColorPickerGridCell.base.tsx
Labels: Area: Performance, AutoMerge, Component: SwatchColorPicker

#9441 Documentation link updates
  common/changes/office-ui-fabric-react/vibraga-markdown-links-fix_2019-06-13-07-20.json
  packages/office-ui-fabric-react/src/components/FocusTrapZone/docs/FocusTrapZoneOverview.md
  packages/office-ui-fabric-react/src/components/pickers/PeoplePicker/docs/PeoplePickerOverview.md
  packages/office-ui-fabric-react/src/components/pickers/docs/PickersOverview.md
Labels: Area: Documentation, AutoMerge

#9462 ShimmeredDetailsList: fix not disappearing fading overlay
  common/changes/office-ui-fabric-react/vibraga-ShimmerDetaislList-overlay-fix_2019-06-14-05-54.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/DetailsList/ShimmeredDetailsList.base.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/ShimmeredDetailsList.styles.ts
  packages/office-ui-fabric-react/src/components/DetailsList/ShimmeredDetailsList.types.ts
  packages/office-ui-fabric-react/src/components/DetailsList/__snapshots__/ShimmeredDetailsList.test.tsx.snap
  packages/office-ui-fabric-react/src/components/__snapshots__/Shimmer.Application.Example.tsx.shot
Labels: Component: DetailsList, PR: API Modified

#9482 Add data viz separator for HorizontalBarChart
  common/changes/@uifabric/charting/horizentalBarChartSeparater_2019-06-17-12-16.json
  packages/charting/src/components/HorizontalBarChart/HorizontalBarChart.base.tsx
  packages/charting/src/components/HorizontalBarChart/HorizontalBarChart.styles.ts
  packages/charting/src/components/HorizontalBarChart/HorizontalBarChart.types.ts
Labels: Package: charting

#9415 Prevent Callout from being dismissed after mouse pressed inside but released outside
  common/changes/office-ui-fabric-react/jiangwan-calloutdismiss_2019-06-11-22-02.json
  packages/office-ui-fabric-react/src/components/Callout/CalloutContent.base.tsx
  packages/office-ui-fabric-react/src/components/Callout/__snapshots__/Callout.test.tsx.snap
  packages/office-ui-fabric-react/src/components/ContextualMenu/__snapshots__/ContextualMenu.test.tsx.snap
  packages/office-ui-fabric-react/src/components/HoverCard/__snapshots__/HoverCard.test.tsx.snap
  packages/office-ui-fabric-react/src/components/TeachingBubble/__snapshots__/TeachingBubble.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Tooltip/__snapshots__/Tooltip.test.tsx.snap
  packages/office-ui-fabric-react/src/components/__snapshots__/Callout.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/ComboBox.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Pivot.Fabric.Example.tsx.shot
Labels: Component: Callout

#9369 Theme colors page
  apps/fabric-website/src/SiteDefinition/SiteDefinition.pages/Styles/web.tsx
  apps/fabric-website/src/SiteDefinition/SiteDefinition.tsx
  apps/fabric-website/src/data/colors-theme-accents.json
  apps/fabric-website/src/data/colors-theme-neutrals.json
  apps/fabric-website/src/data/colors-theme-slots.json
  apps/fabric-website/src/pages/Styles/ThemeSlotsPage/ThemeSlotsPage.base.tsx
  apps/fabric-website/src/pages/Styles/ThemeSlotsPage/ThemeSlotsPage.doc.ts
  apps/fabric-website/src/pages/Styles/ThemeSlotsPage/ThemeSlotsPage.styles.ts
  apps/fabric-website/src/pages/Styles/ThemeSlotsPage/ThemeSlotsPage.ts
  apps/fabric-website/src/pages/Styles/ThemeSlotsPage/ThemeSlotsPage.types.ts
  apps/fabric-website/src/pages/Styles/ThemeSlotsPage/docs/ThemeSlotsRelated.md
  apps/fabric-website/src/pages/Styles/ThemeSlotsPage/docs/web/ThemeSlotsImplementation.md
  apps/fabric-website/src/pages/Styles/ThemeSlotsPage/docs/web/ThemeSlotsOverview.md
  common/changes/@uifabric/example-app-base/theme-colors-page_2019-06-07-19-24.json
  common/changes/@uifabric/fabric-website/theme-colors-page_2019-06-07-02-22.json
  packages/example-app-base/src/components/ColorPalette/ColorPalette.tsx
Labels: Area: Website

#9414 Only run KeytipManager update when relevant keytip props have changed
  common/changes/office-ui-fabric-react/KeytipDataPerf_2019-06-11-18-53.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/Button/BaseButton.tsx
  packages/office-ui-fabric-react/src/components/ContextualMenu/ContextualMenuItemWrapper/ContextualMenuAnchor.tsx
  packages/office-ui-fabric-react/src/components/ContextualMenu/ContextualMenuItemWrapper/ContextualMenuButton.tsx
  packages/office-ui-fabric-react/src/components/ContextualMenu/ContextualMenuItemWrapper/ContextualMenuSplitButton.tsx
  packages/office-ui-fabric-react/src/components/KeytipData/KeytipData.tsx
Labels: Component: Keytip, Component: KeytipData

#9483 Website: Add overview and control request sections to mobile pages.
  apps/fabric-website/src/pages/Overviews/ControlsPage/ControlsPage.doc.ts
  apps/fabric-website/src/pages/Overviews/ControlsPage/ControlsPage.tsx
  apps/fabric-website/src/pages/Overviews/ControlsPage/docs/android/ControlsOverview.md
  apps/fabric-website/src/pages/Overviews/ControlsPage/docs/android/ControlsRequest.md
  apps/fabric-website/src/pages/Overviews/ControlsPage/docs/ios/ControlsOverview.md
  apps/fabric-website/src/pages/Overviews/ControlsPage/docs/ios/ControlsRequest.md
  common/changes/@uifabric/fabric-website/overview-pages_2019-06-17-16-17.json
Labels: Area: Website, AutoMerge

#9477 Fabric website: add documentation entry points.
  apps/fabric-website/src/pages/Overviews/ResourcesPage/docs/default/ResourcesDeveloperResources.md
  common/changes/@uifabric/fabric-website/vibraga-entrypoint_2019-06-15-06-17.json
Labels: Area: Website

#9456 Button: Getting anchor native props if href prop is specified
  common/changes/@uifabric/experiments/buttonNativeProps_2019-06-13-22-28.json
  packages/experiments/src/components/Button/Button.test.tsx
  packages/experiments/src/components/Button/Button.view.tsx
  packages/experiments/src/components/Button/__snapshots__/Button.test.tsx.snap
  packages/experiments/src/components/Button/examples/Button.Example.tsx
Labels: Component: Button, Package: experiments

#9476 Update README.md
  README.md
Labels: Fabric 6

#9480 Facepile - Adding OnRenderPersona and OnRenderPersonaCoin as optional…
  common/changes/office-ui-fabric-react/makathur-facepile_onrenders_2019-06-18-07-56.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/Facepile/Facepile.base.tsx
  packages/office-ui-fabric-react/src/components/Facepile/Facepile.types.ts
Labels: AutoMerge, Component: Facepile

#9487 Website (mobile): Add source code links, remove generic library link
  apps/fabric-website/src/pages/Controls/AvatarPage/docs/android/AvatarImplementation.md
  apps/fabric-website/src/pages/Controls/AvatarPage/docs/ios/AvatarImplementation.md
  apps/fabric-website/src/pages/Controls/ButtonPage/docs/android/ButtonImplementation.md
  apps/fabric-website/src/pages/Controls/ButtonPage/docs/ios/ButtonImplementation.md
  apps/fabric-website/src/pages/Controls/CalendarPage/docs/android/CalendarImplementation.md
  apps/fabric-website/src/pages/Controls/ChipPage/docs/android/ChipImplementation.md
  apps/fabric-website/src/pages/Controls/ChipPage/docs/ios/ChipImplementation.md
  apps/fabric-website/src/pages/Controls/DatePickerPage/docs/android/DateTimePickerImplementation.md
  apps/fabric-website/src/pages/Controls/DatePickerPage/docs/ios/DateTimePickerImplementation.md
  apps/fabric-website/src/pages/Controls/DrawerPage/docs/android/DrawerImplementation.md
  apps/fabric-website/src/pages/Controls/DrawerPage/docs/ios/DrawerImplementation.md
  apps/fabric-website/src/pages/Controls/ListCellsPage/docs/android/ListCellsImplementation.md
  apps/fabric-website/src/pages/Controls/ListCellsPage/docs/ios/ListCellsImplementation.md
  apps/fabric-website/src/pages/Controls/PeoplePickerPage/docs/android/PeoplePickerImplementation.md
  apps/fabric-website/src/pages/Controls/PersonaPage/docs/android/PersonaImplementation.md
  apps/fabric-website/src/pages/Controls/PersonaPage/docs/ios/PersonaImplementation.md
  apps/fabric-website/src/pages/Controls/PivotPage/docs/ios/PivotImplementation.md
  apps/fabric-website/src/pages/Controls/PopupMenuPage/docs/ios/PopupMenuImplementation.md
  apps/fabric-website/src/pages/Controls/SeparatorPage/docs/SeparatorRelated.md
  apps/fabric-website/src/pages/Controls/SeparatorPage/docs/android/SeparatorImplementation.md
  apps/fabric-website/src/pages/Controls/SeparatorPage/docs/ios/SeparatorImplementation.md
  apps/fabric-website/src/pages/Controls/SnackbarPage/docs/android/SnackbarImplementation.md
  apps/fabric-website/src/pages/Controls/SpinnerPage/docs/android/SpinnerImplementation.md
  apps/fabric-website/src/pages/Controls/SpinnerPage/docs/ios/SpinnerImplementation.md
  apps/fabric-website/src/pages/Controls/TextPage/docs/android/TextImplementation.md
  apps/fabric-website/src/pages/Controls/TextPage/docs/ios/TextImplementation.md
  apps/fabric-website/src/pages/Controls/TooltipPage/docs/android/TooltipImplementation.md
  apps/fabric-website/src/pages/Controls/TooltipPage/docs/ios/TooltipImplementation.md
  common/changes/@uifabric/fabric-website/mobile-source-links_2019-06-17-20-31.json
Labels: Area: Website

#9495 Revert "Tooltip: improve perf by preventing all render until after de…
  apps/vr-tests/src/stories/Tooltip.stories.tsx
  common/changes/office-ui-fabric-react/revertTooltipPerf_2019-06-18-16-58.json
  packages/office-ui-fabric-react/src/components/ComponentConformance.test.tsx
  packages/office-ui-fabric-react/src/components/Tooltip/Tooltip.base.tsx
  packages/office-ui-fabric-react/src/components/Tooltip/Tooltip.styles.ts
  packages/office-ui-fabric-react/src/components/Tooltip/Tooltip.test.tsx
Labels: AutoMerge

#9472 Card: Making elevation themable by using the effects from theme instead of directly referencing Depths
  common/changes/@uifabric/react-cards/cardElevation_2019-06-14-21-56.json
  packages/react-cards/package.json
  packages/react-cards/src/components/Card/Card.styles.ts
  packages/react-cards/src/demo/customizations.ts
Labels: AutoMerge, Component: Card

#9491 Fix create-package script
  package.json
  scripts/create-package.js
  scripts/templates/create-package/EmptyJustConfig.mustache
  scripts/templates/create-package/EmptyPackageJson.mustache
Labels: Area: Build System, AutoMerge

#9438 Enable conditional rendering of page sections depending on query present in the url to enable iframe rendering of examples on docs.microsoft OUFR portal
  apps/fabric-website-resources/src/AppDefinition.tsx
  common/changes/@uifabric/example-app-base/vibraga-doc-smicrosoft_2019-06-12-07-35.json
  common/changes/@uifabric/fabric-website-resources/vibraga-doc-smicrosoft_2019-06-12-07-35.json
  packages/example-app-base/src/components/ApiReferencesTable/ApiReferencesTable.tsx
  packages/example-app-base/src/components/App/App.styles.ts
  packages/example-app-base/src/components/App/App.tsx
  packages/example-app-base/src/components/App/App.types.ts
  packages/example-app-base/src/components/ComponentPage/ComponentPage.tsx
  packages/example-app-base/src/utilities/getCurrentUrl.ts
  packages/example-app-base/src/utilities/showOnlyExamples.ts
Labels: Area: Website, AutoMerge

#9496 Temporary name update
  apps/fabric-website/src/SiteDefinition/SiteDefinition.tsx
  apps/fabric-website/src/pages/HomePage/HomePage.base.tsx
  common/changes/@uifabric/example-app-base/jahnp-update-naming_2019-06-18-17-24.json
  common/changes/@uifabric/fabric-website/jahnp-update-naming_2019-06-18-17-24.json
  packages/example-app-base/src/utilities/baseDefinition.tsx
Labels: Area: Website

#9506 Facepile - Adding OnRenderPersona and OnRenderPersonaCoin as optional Props
  common/changes/office-ui-fabric-react/makathur-facepile_onrenders_2019-06-18-07-56.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/Facepile/Facepile.base.tsx
  packages/office-ui-fabric-react/src/components/Facepile/Facepile.types.ts
Labels: AutoMerge, Component: Facepile, Fabric 6, PR: API Modified

#9489 Semantic Slots: adding successText and changing errorText, warningText.
  common/changes/@uifabric/styling/6.0_2019-06-17-23-55.json
  common/changes/@uifabric/variants/6.0_2019-06-17-23-55.json
  packages/styling/etc/styling.api.md
  packages/styling/src/interfaces/ISemanticTextColors.ts
  packages/styling/src/styles/theme.ts
  packages/variants/src/variants.ts
Labels: Fabric 6

#9504 DetailsList: Add aria-hidden to checkbox header label
  common/changes/office-ui-fabric-react/detailsListCheckboxLabel_2019-06-18-21-00.json
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsHeader.base.tsx
  packages/office-ui-fabric-react/src/components/__snapshots__/Announced.BulkOperations.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Announced.QuickActions.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Advanced.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Compact.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.CustomColumns.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.CustomFooter.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.CustomGroupHeaders.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.DragDrop.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Grouped.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Grouped.Large.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.NavigatingFocus.Example.tsx.shot
Labels: AutoMerge, Component: DetailsList

#9511 Charting: Fix React styling dependency range.
  common/changes/@uifabric/charting/fix-styling-deps_2019-06-19-20-18.json
  packages/charting/package.json
Labels: Package: charting

#9509 Adds ISelectableDroppableTextProps to API References
  common/changes/office-ui-fabric-react/addSelectableDroppableText_2019-06-19-17-41.json
  packages/office-ui-fabric-react/src/utilities/selectableOption/SelectableDroppableText.types.ts
Labels: AutoMerge

#9513 Fabric 6: Removing charting from experiments
  common/changes/@uifabric/experiments/remove-charting-6_2019-06-19-20-59.json
  packages/experiments/package.json
Labels: Fabric 6, Package: experiments

#9512 Remove charting package dependency from experiments
  common/changes/@uifabric/experiments/remove-charting_2019-06-19-20-57.json
  packages/experiments/package.json
Labels: Package: experiments

#9451 Add dual presence to PersonaPresence
  apps/a11y-tests/src/tests/__snapshots__/ComponentExamples.test.tsx.snap
  common/changes/office-ui-fabric-react/mapol-persona-dual-presence_2019-06-13-19-39.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/Persona/Persona.base.tsx
  packages/office-ui-fabric-react/src/components/Persona/Persona.doc.tsx
  packages/office-ui-fabric-react/src/components/Persona/Persona.types.ts
  packages/office-ui-fabric-react/src/components/Persona/PersonaCoin/PersonaCoin.base.tsx
  packages/office-ui-fabric-react/src/components/Persona/PersonaCoin/__snapshots__/PersonaCoin.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Persona/PersonaConsts.tsx
  packages/office-ui-fabric-react/src/components/Persona/PersonaPresence/PersonaPresence.base.tsx
  packages/office-ui-fabric-react/src/components/Persona/PersonaPresence/PersonaPresence.styles.ts
  packages/office-ui-fabric-react/src/components/Persona/PersonaPresence/PersonaPresence.test.tsx
  packages/office-ui-fabric-react/src/components/Persona/PersonaPresence/__snapshots__/PersonaPresence.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Persona/__snapshots__/Persona.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Persona/examples/Persona.Presence.Example.tsx
  packages/office-ui-fabric-react/src/components/__snapshots__/Persona.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Persona.CustomRender.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Persona.Presence.Example.tsx.shot
  scripts/tasks/lint-imports.js
Labels: Component: Persona

#9515 Combobox: Fix styling
  common/changes/office-ui-fabric-react/fix-combobox-styling_2019-06-19-23-00.json
  packages/office-ui-fabric-react/src/components/ComboBox/ComboBox.styles.ts
  packages/office-ui-fabric-react/src/components/__snapshots__/ComboBox.Basic.Example.tsx.shot
Labels: AutoMerge, Component: ComboBox

#9524 Don't expand ComboBox flyout on touch when disabled.
  common/changes/office-ui-fabric-react/phtucker-combobox_disabled_pointer_fix_2019-06-20-14-44.json
  packages/office-ui-fabric-react/src/components/ComboBox/ComboBox.tsx
Labels: Component: ComboBox

#9470 Tooltip: make keyboard dismissable
  common/changes/@uifabric/experiments/closeTooltipOnEscape_2019-06-14-23-04.json
  common/changes/office-ui-fabric-react/closeTooltipOnEscape_2019-06-14-19-44.json
  packages/experiments/src/components/Pagination/__snapshots__/Pagination.test.tsx.snap
  packages/experiments/src/components/SelectedItemsList/SelectedPeopleList/__snapshots__/SelectedPeopleList.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Breadcrumb/__snapshots__/Breadcrumb.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Persona/PersonaCoin/__snapshots__/PersonaCoin.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Persona/__snapshots__/Persona.deprecated.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Persona/__snapshots__/Persona.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Tooltip/TooltipHost.base.tsx
  packages/office-ui-fabric-react/src/components/Tooltip/__snapshots__/TooltipHost.test.tsx.snap
  packages/office-ui-fabric-react/src/components/__snapshots__/Breadcrumb.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Breadcrumb.Static.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/CommandBar.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/CommandBar.ButtonAs.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/CommandBar.CommandBarButtonAs.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/CommandBar.SplitDisabled.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/OverflowSet.Vertical.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Persona.Alternate.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Persona.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Persona.Colors.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Persona.CustomCoinRender.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Persona.CustomRender.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Persona.Initials.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Persona.UnknownPersona.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/SelectedPeopleList.Controlled.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Toggle.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Tooltip.Absolute.Position.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Tooltip.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Tooltip.Custom.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Tooltip.Display.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Tooltip.Interactive.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Tooltip.NoScroll.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Tooltip.Overflow.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/pickers/PeoplePicker/__snapshots__/PeoplePicker.test.tsx.snap
Labels: AutoMerge, Component: Tooltip

#9519 Tooltip: fix closeDelay bug
  common/changes/office-ui-fabric-react/tooltipCloseDelayBug_2019-06-19-23-10.json
  packages/office-ui-fabric-react/src/components/Tooltip/TooltipHost.base.tsx
Labels: AutoMerge, Component: Tooltip

#9528 Theme colors page for 6.0 branch
  apps/fabric-website/src/SiteDefinition/SiteDefinition.pages/Styles/web.tsx
  apps/fabric-website/src/SiteDefinition/SiteDefinition.tsx
  apps/fabric-website/src/data/colors-theme-accents.json
  apps/fabric-website/src/data/colors-theme-neutrals.json
  apps/fabric-website/src/data/colors-theme-slots.json
  apps/fabric-website/src/pages/Styles/ThemeSlotsPage/ThemeSlotsPage.base.tsx
  apps/fabric-website/src/pages/Styles/ThemeSlotsPage/ThemeSlotsPage.doc.ts
  apps/fabric-website/src/pages/Styles/ThemeSlotsPage/ThemeSlotsPage.styles.ts
  apps/fabric-website/src/pages/Styles/ThemeSlotsPage/ThemeSlotsPage.ts
  apps/fabric-website/src/pages/Styles/ThemeSlotsPage/ThemeSlotsPage.types.ts
  apps/fabric-website/src/pages/Styles/ThemeSlotsPage/docs/ThemeSlotsRelated.md
  apps/fabric-website/src/pages/Styles/ThemeSlotsPage/docs/web/ThemeSlotsImplementation.md
  apps/fabric-website/src/pages/Styles/ThemeSlotsPage/docs/web/ThemeSlotsOverview.md
  common/changes/@uifabric/example-app-base/theme-colors-page_2019-06-07-19-24.json
  common/changes/@uifabric/fabric-website/theme-colors-page_2019-06-07-02-22.json
  packages/example-app-base/src/components/ColorPalette/ColorPalette.tsx
Labels: AutoMerge, Fabric 6

#9539 Adding a null check to the caching to deal with missing stylesheet objects
  common/changes/@uifabric/utilities/hotfix-merge-styles_2019-06-21-01-54.json
  packages/utilities/src/classNamesFunction.ts
Labels: Fabric 6, Package: utilities

#9530 Slider: fire onChanged after delay following keydown or keyup
  common/changes/office-ui-fabric-react/sliderOnChanged_2019-06-20-18-36.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/Slider/Slider.base.tsx
  packages/office-ui-fabric-react/src/components/Slider/Slider.test.tsx
  packages/office-ui-fabric-react/src/components/Slider/Slider.types.ts
Labels: AutoMerge, Component: Slider, PR: API Modified

#9473 ChoiceGroup fluent update
  common/changes/@uifabric/fluent-theme/v-mare-ChoiceGroup-fluent-update_2019-06-14-22-33.json
  packages/fluent-theme/src/fluent/styles/ChoiceGroupOption.styles.ts
Labels: AutoMerge, Fabric 6, Package: fluent-theme

#9538 Bring back breakpoint for small screen sizes
  common/changes/office-ui-fabric-react/mobile-size-dropdown_2019-06-21-01-44.json
  packages/office-ui-fabric-react/src/components/Dropdown/Dropdown.styles.ts
Labels: AutoMerge, Component: Dropdown

#9490 Button: Adding focus tests for Button, MenuButton and SplitButton.
  common/changes/@uifabric/experiments/buttonFocusTest_2019-06-17-23-47.json
  packages/experiments/src/components/Button/Button.test.tsx
  packages/experiments/src/components/Button/MenuButton/MenuButton.styles.ts
  packages/experiments/src/components/Button/MenuButton/MenuButton.test.tsx
  packages/experiments/src/components/Button/SplitButton/SplitButton.styles.ts
  packages/experiments/src/components/Button/SplitButton/SplitButton.test.tsx
Labels: Component: Button, Package: experiments

#9542 Check for no wrap fix
  common/changes/office-ui-fabric-react/checkForNoWrapFix_2019-06-21-05-14.json
  packages/office-ui-fabric-react/src/components/FocusZone/FocusZone.tsx
Labels: Component: FocusZone

#9505 Coachmark: FIX color beacon prop not passed to styles
  common/changes/office-ui-fabric-react/vibraga-coachmark-color-beacon_2019-06-19-02-14.json
  packages/office-ui-fabric-react/src/components/Coachmark/Coachmark.base.tsx
Labels: AutoMerge, Component: Coachmark

#9520 Fabric 6: Updating comments of text color semantic slots.
  common/changes/@uifabric/styling/6.0_2019-06-19-23-32.json
  packages/styling/src/interfaces/ISemanticTextColors.ts
Labels: AutoMerge, Fabric 6

#9558 create-component: add @docCategory tag to mustache templates
  scripts/templates/create-component/EmptyComponent.mustache
  scripts/templates/create-component/EmptyComponentStateless.mustache
  scripts/templates/create-component/EmptyState.mustache
  scripts/templates/create-component/EmptyStyles.mustache
  scripts/templates/create-component/EmptyTypes.mustache
  scripts/templates/create-component/EmptyTypesStateless.mustache
  scripts/templates/create-component/EmptyView.mustache
Labels: Area: Build System, AutoMerge

#9474 Fabric 5 website and build updates
  .gitignore
  .travis.yml
  README.md
  apps/fabric-website/package.json
  apps/fabric-website/scripts/createFlightConfig.js
  apps/fabric-website/src/pages/HomePage/HomePage.tsx
  apps/vr-tests/screener.config.js
  azure-pipelines.release.yml
  azure-pipelines.yml
  common/changes/@uifabric/example-app-base/phkuo-variantsBackgrounds_2018-07-14-00-44.json
  common/changes/@uifabric/fabric-website/2019-06-13-21-51.json
  common/changes/@uifabric/file-type-icons/phkuo-variantsBackgrounds_2018-07-14-00-44.json
  common/changes/@uifabric/icons/nidurak-cherryPickSpread_2018-07-17-01-26.json
  common/changes/@uifabric/utilities/5.0SelectionFix_2018-12-13-23-03.json
  common/changes/office-ui-fabric-react/2019-06-18-02-21.json
  packages/office-ui-fabric-react/README.md
  prettier.config.js
  rush.json
Labels: Fabric 5

#9439 Updates to tileslist, list and marquee selection
  common/changes/@uifabric/experiments/wiolsen-pr-changes_2019-06-18-22-39.json
  common/changes/office-ui-fabric-react/wiolsen-pr-changes_2019-06-18-22-39.json
  packages/experiments/src/components/TilesList/TilesList.tsx
  packages/experiments/src/components/TilesList/TilesList.types.ts
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/List/List.tsx
  packages/office-ui-fabric-react/src/components/List/List.types.ts
  packages/office-ui-fabric-react/src/components/MarqueeSelection/MarqueeSelection.base.tsx
  packages/office-ui-fabric-react/src/components/MarqueeSelection/MarqueeSelection.test.tsx
Labels: AutoMerge

#9566 Perf Test: Fix on 6.0
  scripts/tasks/perf-test.js
Labels: Area: Build System, AutoMerge, Fabric 6

#9533 Cherry pick dual presence
  common/changes/office-ui-fabric-react/mapol-persona-dual-presence_2019-06-13-19-39.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/Persona/Persona.base.tsx
  packages/office-ui-fabric-react/src/components/Persona/Persona.doc.tsx
  packages/office-ui-fabric-react/src/components/Persona/Persona.types.ts
  packages/office-ui-fabric-react/src/components/Persona/PersonaCoin/PersonaCoin.base.tsx
  packages/office-ui-fabric-react/src/components/Persona/PersonaCoin/__snapshots__/PersonaCoin.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Persona/PersonaConsts.tsx
  packages/office-ui-fabric-react/src/components/Persona/PersonaPresence/PersonaPresence.base.tsx
  packages/office-ui-fabric-react/src/components/Persona/PersonaPresence/PersonaPresence.styles.ts
  packages/office-ui-fabric-react/src/components/Persona/PersonaPresence/PersonaPresence.test.tsx
  packages/office-ui-fabric-react/src/components/Persona/PersonaPresence/__snapshots__/PersonaPresence.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Persona/__snapshots__/Persona.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Persona/examples/Persona.Presence.Example.tsx
  packages/office-ui-fabric-react/src/components/__snapshots__/Persona.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Persona.CustomRender.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Persona.Presence.Example.tsx.shot
  scripts/tasks/lint-imports.js
Labels: AutoMerge, Fabric 6, PR: API Modified

#9559 Spinner: fluent updates
  common/changes/@uifabric/fluent-theme/v-mare-Spinner-fluent-updates_2019-06-24-17-30.json
  packages/fluent-theme/src/fluent/FluentStyles.ts
  packages/fluent-theme/src/fluent/styles/Spinner.styles.ts
Labels: AutoMerge, Component: Spinner, Fabric 6, Package: fluent-theme

#9580 Panel className performance and isFooterAtBottom prop
  common/changes/office-ui-fabric-react/panel-classnames-recalc_2019-06-26-00-10.json
  packages/office-ui-fabric-react/src/components/Panel/Panel.base.tsx
  packages/office-ui-fabric-react/src/components/Panel/Panel.doc.tsx
  packages/office-ui-fabric-react/src/components/Panel/Panel.styles.ts
  packages/office-ui-fabric-react/src/components/Panel/__snapshots__/Panel.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Panel/examples/Panel.Scroll.Example.tsx
  packages/office-ui-fabric-react/src/components/__snapshots__/Panel.HiddenOnDismiss.Example.tsx.shot
Labels: AutoMerge, Component: Panel

#9564 ColorPicker: fluent update
  common/changes/@uifabric/fluent-theme/v-mare-ColorPicker-fluent-update_2019-06-24-23-47.json
  packages/fluent-theme/src/fluent/styles/ColorPicker.styles.ts
Labels: AutoMerge, Component: ColorPicker, Fabric 6, Package: fluent-theme

#9572 Tooltip: fluent update
  common/changes/@uifabric/fluent-theme/v-mare-Tooltip-fluent-update_2019-06-25-18-12.json
  packages/fluent-theme/src/fluent/styles/Callout.styles.ts
Labels: AutoMerge, Component: Tooltip, Fabric 6, Package: fluent-theme

#9547 BasePicker click to open suggestions even when focus is already on input box
  common/changes/office-ui-fabric-react/user-v-joslam-basepicker-click-open-suggestions_2019-06-21-16-21.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/pickers/BasePicker.tsx
  packages/office-ui-fabric-react/src/components/pickers/BasePicker.types.ts
Labels: Component: Pickers, PR: API Modified

#9553 Contextual menu fluent update
  common/changes/@uifabric/fluent-theme/v-mare-ContextualMenu-fluent-update_2019-06-22-00-48.json
  packages/fluent-theme/src/fluent/styles/ContextualMenu.styles.ts
Labels: AutoMerge, Component: ContextualMenu, Fabric 6, Package: fluent-theme

#9549 Semantic slots: added successText.
  common/changes/@uifabric/styling/semantic_slots1_2019-06-21-22-05.json
  packages/styling/etc/styling.api.md
  packages/styling/src/interfaces/ISemanticTextColors.ts
  packages/styling/src/styles/theme.ts
Labels: AutoMerge, PR: API Modified

#9541 Avoid marking DetailsRow as non-draggable unless backed by DragDropEvents
  apps/a11y-tests/src/tests/__snapshots__/ComponentExamples.test.tsx.snap
  common/changes/office-ui-fabric-react/details-row-draggable_2019-06-21-04-43.json
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsRow.base.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/__snapshots__/DetailsList.test.tsx.snap
  packages/office-ui-fabric-react/src/components/DetailsList/__snapshots__/DetailsRow.test.tsx.snap
  packages/office-ui-fabric-react/src/components/__snapshots__/Announced.QuickActions.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Advanced.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Compact.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.CustomColumns.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.CustomFooter.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.CustomGroupHeaders.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.CustomRows.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Documents.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Grouped.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Grouped.Large.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.NavigatingFocus.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/FocusZone.List.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/HoverCard.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/HoverCard.PlainCard.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/HoverCard.Target.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Text.Ramp.Example.tsx.shot
Labels: AutoMerge, Component: DetailsList

#9585 Updates to tileslist, list and marquee selection (#9439) (cherry pick…
  common/changes/@uifabric/experiments/wiolsen-pr-changes_2019-06-18-22-39.json
  common/changes/office-ui-fabric-react/wiolsen-pr-changes_2019-06-18-22-39.json
  packages/experiments/src/components/TilesList/TilesList.tsx
  packages/experiments/src/components/TilesList/TilesList.types.ts
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/List/List.tsx
  packages/office-ui-fabric-react/src/components/List/List.types.ts
  packages/office-ui-fabric-react/src/components/MarqueeSelection/MarqueeSelection.base.tsx
  packages/office-ui-fabric-react/src/components/MarqueeSelection/MarqueeSelection.test.tsx
Labels: Fabric 6, PR: API Modified

#9584 Add `font-display: swap` when registering font face
  common/changes/@uifabric/merge-styles/unindented-font-display-swap_2019-06-26-19-07.json
  common/changes/@uifabric/styling/unindented-font-display-swap_2019-06-26-19-07.json
  packages/merge-styles/etc/merge-styles.api.md
  packages/merge-styles/src/IRawStyleBase.ts
  packages/styling/src/styles/DefaultFontStyles.ts
Labels: PR: API Modified

#9589 Panel: Overflowing header text should word break and word wrap by default
  common/changes/office-ui-fabric-react/keco-panel-headerText-word-wrap_2019-06-26-20-35.json
  packages/office-ui-fabric-react/src/components/Panel/Panel.styles.ts
  packages/office-ui-fabric-react/src/components/Panel/__snapshots__/Panel.test.tsx.snap
  packages/office-ui-fabric-react/src/components/__snapshots__/Panel.HiddenOnDismiss.Example.tsx.shot
Labels: AutoMerge, Component: Panel

#9404 Chiclet: adds Xsmall chiclet
  common/changes/@uifabric/experiments/XsmallChiclet_2019-06-10-22-46.json
  packages/experiments/src/components/Chiclet/Chiclet.base.tsx
  packages/experiments/src/components/Chiclet/Chiclet.types.ts
  packages/experiments/src/components/Chiclet/ChicletCard.base.tsx
  packages/experiments/src/components/Chiclet/ChicletCard.styles.ts
  packages/experiments/src/components/Chiclet/ChicletCard.types.ts
  packages/experiments/src/components/Chiclet/ChicletHelper.test.tsx
  packages/experiments/src/components/Chiclet/ChicletPage.tsx
  packages/experiments/src/components/Chiclet/ChicletXsmall.base.tsx
  packages/experiments/src/components/Chiclet/ChicletXsmall.styles.tsx
  packages/experiments/src/components/Chiclet/ChicletXsmall.test.tsx
  packages/experiments/src/components/Chiclet/ChicletXsmall.tsx
  packages/experiments/src/components/Chiclet/OpenGraph.ts
  packages/experiments/src/components/Chiclet/__snapshots__/ChicletCard.test.tsx.snap
  packages/experiments/src/components/Chiclet/__snapshots__/ChicletXsmall.test.tsx.snap
  packages/experiments/src/components/Chiclet/examples/Chiclet.Basic.Example.scss
  packages/experiments/src/components/Chiclet/examples/Chiclet.Basic.Example.tsx
  packages/experiments/src/components/Chiclet/examples/Chiclet.Breadcrumb.Example.tsx
  packages/experiments/src/components/Chiclet/examples/Chiclet.Footer.Example.tsx
  packages/experiments/src/components/Chiclet/examples/Chiclet.Xsmall.Example.tsx
  packages/experiments/src/components/Chiclet/examples/Chiclet.Xsmall.Footer.Example.tsx
  packages/experiments/src/components/Chiclet/index.ts
  packages/experiments/src/utilities/chicletHelper.tsx
Labels: Component: Chiclet, Package: experiments

#9587 Update implementation for raising a click event to support IE
  common/changes/@uifabric/utilities/keypress-ie_2019-06-26-20-12.json
  packages/utilities/src/dom/raiseClick.ts
Labels: Package: utilities

#9607 Add Fabric 7 to website version selector
  apps/fabric-website/src/pages/HomePage/HomePage.base.tsx
  common/changes/@uifabric/fabric-website/website7again_2019-06-27-18-57.json
Labels: Area: Website

#9569 Donutchart legends issue
  common/changes/@uifabric/charting/DonutchartLegendsIssue_2019-06-25-13-12.json
  packages/charting/src/components/DonutChart/DonutChart.base.tsx
Labels: Package: charting

#9610 GroupedList: Fix "Show All" not rendering all items in a section
  common/changes/office-ui-fabric-react/keco-fix-groupshowall_2019-06-27-19-58.json
  packages/office-ui-fabric-react/src/components/GroupedList/GroupedList.test.tsx
  packages/office-ui-fabric-react/src/components/GroupedList/GroupedListSection.tsx
Labels: AutoMerge, Component: GroupedList

#9604 6075-List Ghosting Example Type Checking
  common/changes/office-ui-fabric-react/6075-ListGhostingTypeChecking_2019-06-27-14-28.json
  packages/office-ui-fabric-react/src/components/List/examples/List.Ghosting.Example.tsx
Labels: AutoMerge, Component: List

#9619 List grid Example SCSS Removal
  common/changes/office-ui-fabric-react/ListGridExampleUpdates_2019-06-27-23-12.json
  packages/office-ui-fabric-react/src/components/List/examples/List.Grid.Example.scss
  packages/office-ui-fabric-react/src/components/List/examples/List.Grid.Example.tsx
Labels: Component: List

#9552 Temporary name update - 6
  apps/fabric-website/src/SiteDefinition/SiteDefinition.tsx
  apps/fabric-website/src/pages/HomePage/HomePage.base.tsx
  common/changes/@uifabric/example-app-base/jahnp-update-v6-naming_2019-06-27-20-27.json
  common/changes/@uifabric/fabric-website/jahnp-update-v6-naming_2019-06-21-23-32.json
  packages/example-app-base/src/utilities/baseDefinition.tsx
Labels: Area: Website, Fabric 6

#9609 Add placeholder as a TextArea property - ported to 6.x.x
  common/changes/@uifabric/utilities/rcasto-fix-placeholder-multiline-textfield_2019-06-27-02-07.json
  common/changes/office-ui-fabric-react/rcasto-fix-placeholder-multiline-textfield_2019-06-27-02-07.json
  packages/office-ui-fabric-react/src/components/TextField/TextField.test.tsx
  packages/office-ui-fabric-react/src/components/TextField/__snapshots__/TextField.test.tsx.snap
  packages/office-ui-fabric-react/src/components/__snapshots__/TextField.Borderless.Example.tsx.shot
  packages/utilities/src/properties.ts
Labels: Fabric 6

#9608 GroupedList Fluent updates
  common/changes/office-ui-fabric-react/marygans-fluentGroupedList_2019-06-27-17-10.json
  packages/office-ui-fabric-react/src/components/DetailsList/__snapshots__/DetailsList.test.tsx.snap
  packages/office-ui-fabric-react/src/components/GroupedList/GroupHeader.styles.ts
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Grouped.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Grouped.Large.Example.tsx.shot
Labels: AutoMerge

#9603 6075-List Basic Example. Replace SCSS with CSS-in-JS
  common/changes/office-ui-fabric-react/6075-ListBasicInlineCSS_2019-06-27-14-04.json
  packages/office-ui-fabric-react/src/components/List/examples/List.Basic.Example.scss
  packages/office-ui-fabric-react/src/components/List/examples/List.Basic.Example.tsx
Labels: Component: List

#9625 [6.0] GroupedList: Fix "Show All" not rendering all items in a section
  common/changes/office-ui-fabric-react/keco-fix-groupshowall_2019-06-27-19-58.json
  packages/office-ui-fabric-react/src/components/GroupedList/GroupedList.test.tsx
  packages/office-ui-fabric-react/src/components/GroupedList/GroupedListSection.tsx
Labels: AutoMerge, Component: GroupedList, Fabric 6

#9621 Remove Unused SCSS File from Rating Example
  common/changes/office-ui-fabric-react/RatingRemoveSCSS_2019-06-27-23-30.json
  packages/office-ui-fabric-react/src/components/Rating/examples/Rating.Basic.Example.scss
  packages/office-ui-fabric-react/src/components/Rating/examples/Rating.Basic.Example.tsx
Labels: AutoMerge, Component: Rating, Type: Cleanup

#9500 BaseFloatingItem: fix tests + remove redundant state
  common/changes/office-ui-fabric-react/u-mahuangh-basepicker-state-and-tests_2019-06-18-21-04.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/ExtendedPicker/BaseExtendedPicker.test.tsx
  packages/office-ui-fabric-react/src/components/ExtendedPicker/BaseExtendedPicker.tsx
  packages/office-ui-fabric-react/src/components/ExtendedPicker/__snapshots__/BaseExtendedPicker.test.tsx.snap
  packages/office-ui-fabric-react/src/components/FloatingPicker/BaseFloatingPicker.tsx
  packages/office-ui-fabric-react/src/components/SelectedItemsList/BaseSelectedItemsList.tsx
Labels: AutoMerge

#9436 Button: Renaming BaseButton to Actionable, extending Button from Actionable and removing content and icon from Actionable types
  apps/perf-test/src/app/Scenarios.tsx
  apps/perf-test/src/scenarios/BaseButtonNew.tsx
  apps/vr-tests/src/stories/NewButton.stories.tsx
  common/changes/@uifabric/experiments/baseButton_2019-06-10-18-41.json
  common/changes/office-ui-fabric-react/baseButton_2019-06-28-18-05.json
  packages/experiments/src/components/Button/Actionable/Actionable.styles.ts
  packages/experiments/src/components/Button/Actionable/Actionable.ts
  packages/experiments/src/components/Button/Actionable/Actionable.types.ts
  packages/experiments/src/components/Button/BaseButton.tsx
  packages/experiments/src/components/Button/Button.styles.ts
  packages/experiments/src/components/Button/Button.types.tsx
  packages/experiments/src/components/Button/Button.view.tsx
  packages/experiments/src/components/Button/examples/Button.Variants.Example.tsx
  packages/experiments/src/components/Button/index.ts
  packages/office-ui-fabric-react/src/components/pickers/BasePicker.tsx
Labels: Component: Button, Package: experiments

#9630 Fix incorrect changelog entries for OUFR
  packages/office-ui-fabric-react/CHANGELOG.json
Labels: AutoMerge

#9618 Reuse <style> nodes in IE11
  common/changes/@uifabric/merge-styles/reuse-style-node-in-ie11_2019-06-27-22-57.json
  packages/merge-styles/src/Stylesheet.ts
Labels: Area: merge-styles, AutoMerge

#9629 makes perftest skip the prepend of polyfill in entry point
  scripts/webpack/webpack-resources.js
Labels: Area: Build System
