Repository microsoft/fluentui, pull requests merged in 2019-04, with the labels that each got.

#8538 Dropdown: onChange ev.target now always consistent
  common/changes/office-ui-fabric-react/dropdown-onchange_2019-03-29-18-15.json
  packages/office-ui-fabric-react/src/components/Dropdown/Dropdown.base.tsx
  packages/office-ui-fabric-react/src/components/Dropdown/Dropdown.test.tsx
Labels: AutoMerge, Component: Dropdown

#8508 List and other example updates
  common/changes/office-ui-fabric-react/list-examples_2019-03-27-23-59.json
  packages/office-ui-fabric-react/src/components/Button/docs/ButtonOverview.md
  packages/office-ui-fabric-react/src/components/Link/examples/Link.Basic.Example.tsx
  packages/office-ui-fabric-react/src/components/Link/examples/Link.Example.scss
  packages/office-ui-fabric-react/src/components/List/docs/ListOverview.md
  packages/office-ui-fabric-react/src/components/List/examples/List.Basic.Example.scss
  packages/office-ui-fabric-react/src/components/List/examples/List.Basic.Example.tsx
  packages/office-ui-fabric-react/src/components/List/examples/List.Scrolling.Example.scss
  packages/office-ui-fabric-react/src/components/List/examples/List.Scrolling.Example.tsx
  packages/office-ui-fabric-react/src/components/MarqueeSelection/examples/MarqueeSelection.Basic.Example.scss
  packages/office-ui-fabric-react/src/components/MarqueeSelection/examples/MarqueeSelection.Basic.Example.tsx
  packages/office-ui-fabric-react/src/components/SearchBox/SearchBox.doc.tsx
  packages/office-ui-fabric-react/src/components/SearchBox/examples/SearchBox.Small.Example.scss
  packages/office-ui-fabric-react/src/components/SearchBox/examples/SearchBox.Small.Example.tsx
  packages/office-ui-fabric-react/src/components/__snapshots__/Link.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/MarqueeSelection.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/SearchBox.Small.Example.tsx.shot
Labels: AutoMerge, Component: DetailsList, Component: Link, Component: MarqueeSelection, Component: SearchBox

#8527 GroupedList: Fix initial groups collapse state if isAllGroupsCollapsed is set as true
  common/changes/office-ui-fabric-react/keco-isAllCollapsed-grouped-list_2019-03-28-23-40.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/GroupedList/GroupedList.base.tsx
Labels: AutoMerge, Component: GroupedList

#8554 Write test failure messages to stderr
  scripts/jest/jest-reporter.js
Labels: Area: Build System, AutoMerge

#8549 Fix issue show less on the left nav shows up all items selected in customize navigation
  common/changes/@uifabric/dashboard/bugFix_319105_2019-04-01-14-30.json
  packages/dashboard/src/components/Nav/Nav.tsx
Labels: Package: dashboard

#8505 FocusZone and FocusTrapZone example improvements
  common/changes/office-ui-fabric-react/focus-examples_2019-03-27-23-27.json
  packages/office-ui-fabric-react/src/components/FocusTrapZone/FocusTrapZone.doc.tsx
  packages/office-ui-fabric-react/src/components/FocusTrapZone/FocusTrapZone.types.ts
  packages/office-ui-fabric-react/src/components/FocusTrapZone/examples/FocusTrapZone.Box.Click.Example.tsx
  packages/office-ui-fabric-react/src/components/FocusTrapZone/examples/FocusTrapZone.Box.Example.scss
  packages/office-ui-fabric-react/src/components/FocusTrapZone/examples/FocusTrapZone.Box.Example.tsx
  packages/office-ui-fabric-react/src/components/FocusTrapZone/examples/FocusTrapZone.Box.FocusOnCustomElement.Example.tsx
  packages/office-ui-fabric-react/src/components/FocusTrapZone/examples/FocusTrapZone.DialogInPanel.Example.tsx
  packages/office-ui-fabric-react/src/components/FocusTrapZone/examples/FocusTrapZone.FocusZone.Example.tsx
  packages/office-ui-fabric-react/src/components/FocusTrapZone/examples/FocusTrapZone.Nested.Example.tsx
  packages/office-ui-fabric-react/src/components/FocusTrapZone/examples/FocusTrapZone.NoTabbable.Example.tsx
  packages/office-ui-fabric-react/src/components/FocusZone/FocusZone.doc.tsx
  packages/office-ui-fabric-react/src/components/FocusZone/examples/FocusZone.Disabled.Example.scss
  packages/office-ui-fabric-react/src/components/FocusZone/examples/FocusZone.Disabled.Example.tsx
  packages/office-ui-fabric-react/src/components/FocusZone/examples/FocusZone.List.Example.scss
  packages/office-ui-fabric-react/src/components/FocusZone/examples/FocusZone.List.Example.tsx
  packages/office-ui-fabric-react/src/components/FocusZone/examples/FocusZone.Photos.Example.scss
  packages/office-ui-fabric-react/src/components/FocusZone/examples/FocusZone.Photos.Example.tsx
  packages/office-ui-fabric-react/src/components/FocusZone/examples/FocusZone.Tabbable.Example.scss
  packages/office-ui-fabric-react/src/components/FocusZone/examples/FocusZone.Tabbable.Example.tsx
  packages/office-ui-fabric-react/src/components/__snapshots__/FocusTrapZone.Box.Click.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/FocusTrapZone.Box.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/FocusTrapZone.Box.FocusOnCustomElement.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/FocusTrapZone.FocusZone.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/FocusTrapZone.Nested.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/FocusTrapZone.NoTabbable.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/FocusZone.Disabled.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/FocusZone.List.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/FocusZone.Photos.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/FocusZone.Tabbable.Example.tsx.shot
Labels: Component: FocusTrapZone, Component: FocusZone

#8501 Fixed Pivot to show the correct PivotItem
  common/changes/office-ui-fabric-react/Fix-PivotItems_2019-03-27-19-38.json
  packages/office-ui-fabric-react/src/components/Pivot/Pivot.base.tsx
  packages/office-ui-fabric-react/src/components/Pivot/Pivot.test.tsx
  packages/office-ui-fabric-react/src/components/Pivot/__snapshots__/Pivot.test.tsx.snap
Labels: Component: Pivot

#8510 Initial integration of puppeteer.
  apps/fabric-website-resources/jest.dom.config.js
  apps/fabric-website-resources/package.json
  apps/fabric-website-resources/test/FocusTrapZone.test.dom.ts
  apps/fabric-website-resources/test/FocusZone.test.dom.ts
  apps/fabric-website-resources/tsconfig.json
  common/config/rush/shrinkwrap.yaml
  packages/office-ui-fabric-react/jest.dom.config.js
  scripts/create-package.js
  scripts/just-task.js
  scripts/tasks/jest.js
  scripts/tasks/webpack.js
Labels: 7.0

#8545 Use ^ ranges instead of >=
  apps/fabric-website-resources/package.json
  apps/fabric-website/package.json
  apps/pr-deploy-site/package.json
  apps/server-rendered-app/package.json
  apps/ssr-tests/package.json
  apps/test-bundles/package.json
  apps/todo-app/package.json
  apps/vr-tests/package.json
  common/changes/@uifabric/azure-themes/versions_2019-03-29-23-10.json
  common/changes/@uifabric/charting/versions_2019-03-29-23-10.json
  common/changes/@uifabric/dashboard/versions_2019-03-29-23-10.json
  common/changes/@uifabric/date-time/versions_2019-03-29-23-10.json
  common/changes/@uifabric/example-app-base/versions_2019-03-29-23-10.json
  common/changes/@uifabric/experiments/versions_2019-03-29-23-10.json
  common/changes/@uifabric/fabric-website-resources/versions_2019-03-29-23-10.json
  common/changes/@uifabric/fabric-website/versions_2019-03-29-23-10.json
  common/changes/@uifabric/file-type-icons/versions_2019-03-29-23-10.json
  common/changes/@uifabric/fluent-theme/versions_2019-03-29-23-10.json
  common/changes/@uifabric/foundation/versions_2019-03-29-23-10.json
  common/changes/@uifabric/icons/versions_2019-03-29-23-10.json
  common/changes/@uifabric/jest-serializer-merge-styles/versions_2019-03-29-23-10.json
  common/changes/@uifabric/merge-styles/versions_2019-03-29-23-10.json
  common/changes/@uifabric/migration/versions_2019-03-29-23-10.json
  common/changes/@uifabric/react-cards/versions_2019-03-29-23-10.json
  common/changes/@uifabric/styling/versions_2019-03-29-23-10.json
  common/changes/@uifabric/test-utilities/versions_2019-03-29-23-10.json
  common/changes/@uifabric/theme-samples/versions_2019-03-29-23-10.json
  common/changes/@uifabric/utilities/versions_2019-03-29-23-10.json
  common/changes/@uifabric/variants/versions_2019-03-29-23-10.json
  common/changes/@uifabric/webpack-utils/versions_2019-03-29-23-10.json
  common/changes/office-ui-fabric-react/versions_2019-03-29-23-10.json
  common/config/rush/common-versions.json
  common/config/rush/shrinkwrap.yaml
  package.json
  packages/azure-themes/package.json
  packages/charting/package.json
  packages/codepen-loader/package.json
  packages/dashboard/package.json
  packages/date-time/package.json
  packages/example-app-base/package.json
  packages/experiments/package.json
  packages/file-type-icons/package.json
  packages/fluent-theme/package.json
  packages/foundation-scenarios/package.json
  packages/foundation/package.json
  packages/icons/package.json
  packages/jest-serializer-merge-styles/package.json
  packages/merge-styles/package.json
  packages/migration/package.json
  packages/office-ui-fabric-react/package.json
  packages/react-cards/package.json
  packages/set-version/package.json
  packages/styling/package.json
  packages/test-utilities/package.json
  packages/theme-samples/package.json
  packages/utilities/package.json
  packages/variants/package.json
  packages/webpack-utils/package.json
  scripts/package.json
Labels: AutoMerge

#8558 Re-add 'dev' task
  scripts/just-task.js
Labels: 7.0, Area: Build System

#8557 zhiliu/seperator
  common/changes/@uifabric/experiments/zhiliu-seperator_2019-04-01-22-41.json
  packages/experiments/src/Separator.ts
Labels: AutoMerge, Package: experiments

#8546 Image: fix image shift on fade-in animation
  common/changes/office-ui-fabric-react/shield-Facepile_2019-03-30-02-20.json
  packages/office-ui-fabric-react/src/components/Image/Image.styles.ts
Labels: Component: Image

#8560 FocusZone: track innerzones correctly.
  common/changes/office-ui-fabric-react/focuszone_2019-04-02-01-01.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/FocusZone/FocusZone.test.tsx
  packages/office-ui-fabric-react/src/components/FocusZone/FocusZone.tsx
Labels: Component: FocusZone, PR: API Modified

#8553 Handle TSDoc default value tag
  common/changes/@uifabric/example-app-base/handleAllDefaultTags_2019-04-01-18-34.json
  packages/example-app-base/src/utilities/parser/InterfaceParserHelper.ts
  packages/example-app-base/src/utilities/parser/Parse.ts
Labels: AutoMerge

#8561 Button: Fixing SplitButton styling issues and correctly placing divider
  common/changes/@uifabric/experiments/splitButtonDivider_2019-04-02-00-56.json
  packages/experiments/src/components/Button/Button.styles.ts
  packages/experiments/src/components/Button/SplitMenuButton/SplitMenuButton.styles.ts
  packages/experiments/src/components/Button/SplitMenuButton/SplitMenuButton.view.tsx
Labels: AutoMerge, Component: Button, Package: experiments

#8566 CommandBar: Meeting color contrast accessibility standards in examples
  common/changes/office-ui-fabric-react/commandBarContrast_2019-04-02-16-47.json
  packages/office-ui-fabric-react/src/components/CommandBar/examples/CommandBar.ButtonAs.Example.tsx
  packages/office-ui-fabric-react/src/components/__snapshots__/CommandBar.ButtonAs.Example.tsx.shot
Labels: Component: CommandBar

#8399 Do not update unmounted BaseFloatingPicker
  common/changes/office-ui-fabric-react/u-mahuangh-no-update-unmounted-BaseFloatingpicker_2019-03-19-21-51.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/FloatingPicker/BaseFloatingPicker.tsx
Labels: AutoMerge, Component: FloatingPicker

#8378 Shimmer performance
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.ts
  packages/office-ui-fabric-react/src/components/DetailsList/__snapshots__/ShimmeredDetailsList.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Shimmer/Shimmer.base.tsx
  packages/office-ui-fabric-react/src/components/Shimmer/Shimmer.styles.ts
  packages/office-ui-fabric-react/src/components/Shimmer/Shimmer.types.ts
  packages/office-ui-fabric-react/src/components/Shimmer/ShimmerElementsGroup/ShimmerElementsGroup.styles.ts
  packages/office-ui-fabric-react/src/components/Shimmer/__snapshots__/Shimmer.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Shimmer/examples/Shimmer.Styling.Example.tsx
  packages/office-ui-fabric-react/src/components/__snapshots__/Shimmer.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Shimmer.CustomElements.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Shimmer.LoadData.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Shimmer.Styling.Example.tsx.shot
Labels: 7.0, Area: Performance, Component: Shimmer

#8555 Button: Allowing menu navigation with keyboard when shouldFocusOnMount is set to false
  common/changes/office-ui-fabric-react/commandButtonKeyboard_2019-04-01-21-51.json
  packages/office-ui-fabric-react/src/components/Button/BaseButton.tsx
  packages/office-ui-fabric-react/src/components/Button/Button.doc.tsx
  packages/office-ui-fabric-react/src/components/Button/examples/Button.Command.Example.tsx
  packages/office-ui-fabric-react/src/components/__snapshots__/Button.Command.Example.tsx.shot
Labels: AutoMerge, Component: Button

#8567 Remove outdated *.api.ts files
  common/changes/@uifabric/utilities/keco-cleanup-api-ts_2019-04-02-17-51.json
  common/changes/office-ui-fabric-react/keco-cleanup-api-ts_2019-04-02-17-51.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.ts
  packages/utilities/etc/utilities.api.ts
Labels: 7.0

#8525 Keytip bug fixes
  common/changes/office-ui-fabric-react/keytip-bug-fixes_2019-03-28-20-43.json
  packages/office-ui-fabric-react/src/components/KeytipLayer/KeytipLayer.base.tsx
  packages/office-ui-fabric-react/src/components/KeytipLayer/KeytipTree.test.tsx
  packages/office-ui-fabric-react/src/components/KeytipLayer/KeytipTree.ts
Labels: AutoMerge, Component: KeytipLayer

#8563 Fabric 7.0: update the redDark color in the default palette.
  packages/office-ui-fabric-react/src/common/_semanticSlots.scss
  packages/office-ui-fabric-react/src/common/_themeOverrides.scss
  packages/office-ui-fabric-react/src/components/ChoiceGroup/__snapshots__/ChoiceGroup.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Dropdown/__snapshots__/Dropdown.test.tsx.snap
  packages/office-ui-fabric-react/src/components/TextField/__snapshots__/TextField.test.tsx.snap
  packages/office-ui-fabric-react/src/components/__snapshots__/Callout.Cover.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Callout.Directional.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/ChoiceGroup.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/ChoiceGroup.Custom.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/ChoiceGroup.Label.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Coachmark.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/ComboBox.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/ContextualMenu.Directional.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DatePicker.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DatePicker.Required.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DatePicker.WeekNumbers.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Dropdown.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Dropdown.Controlled.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Dropdown.ControlledMulti.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Dropdown.Custom.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Dropdown.Error.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Dropdown.Required.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Facepile.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Facepile.Overflow.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Label.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/MessageBar.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/PeoplePicker.Types.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/ResizeGroup.OverflowSet.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Stack.Horizontal.Configure.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Stack.Horizontal.WrapAdvanced.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Stack.Vertical.Configure.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Stack.Vertical.WrapAdvanced.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/TextField.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/TextField.Borderless.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/TextField.Styled.Example.tsx.shot
  packages/styling/src/styles/DefaultPalette.ts
Labels: 7.0, Package: styling

#8539 PeoplePicker: Fix picker personas overflowing bounds
  apps/vr-tests/src/stories/PeoplePicker.stories.tsx
  common/changes/office-ui-fabric-react/fix-picker-overflow_2019-03-29-18-23.json
  packages/office-ui-fabric-react/src/components/pickers/BasePicker.styles.ts
  packages/office-ui-fabric-react/src/components/pickers/PeoplePicker/PeoplePickerItems/PeoplePickerItem.styles.ts
  packages/office-ui-fabric-react/src/components/pickers/PeoplePicker/__snapshots__/PeoplePicker.test.tsx.snap
Labels: Component: Pickers

#8575 Update fabric-7 publish to use @next instead of @beta
  scripts/publish-beta.js
Labels: 7.0, Area: Build System

#8583 Button: Adding missing parenthesis in ev.stopPropagation function call
  common/changes/office-ui-fabric-react/buttonTypo_2019-04-03-00-05.json
  packages/office-ui-fabric-react/src/components/Button/BaseButton.tsx
Labels: AutoMerge, Component: Button, Package: experiments

#8578 HomePage: Version check for sessionStorage for fabricVer value
  apps/fabric-website/src/pages/HomePage/HomePage.tsx
  common/changes/@uifabric/fabric-website/edwl-2019-04-fixHomePageVersionCheck_2019-04-02-22-32.json
Labels: Area: Website

#8590 Card: Updating examples
  common/changes/@uifabric/react-cards/cardExamples_2019-04-03-16-47.json
  packages/react-cards/src/components/Card/examples/Card.Basic.Example.tsx
  packages/react-cards/src/components/Card/examples/Card.Compact.Example.tsx
Labels: AutoMerge, Component: Card

#8581 Fabric website: Add session storage check to HomePage
  apps/fabric-website/src/pages/HomePage/HomePage.module.scss
  apps/fabric-website/src/pages/HomePage/HomePage.tsx
  common/changes/@uifabric/fabric-website/edwl-2019-03-fabricHomePageSessionCheck5.0_2019-04-02-23-31.json
Labels: Area: Website, Branch: 5.0

#8585 Tooltip: fix for specificity wars with UHF
  common/changes/office-ui-fabric-react/v-vibr-Tooltip_2019-04-03-02-28.json
  packages/office-ui-fabric-react/src/components/Tooltip/Tooltip.styles.ts
Labels: Area: JS Styling, Component: Tooltip

#8611 fixing tsjest warnings
  common/config/rush/shrinkwrap.yaml
  packages/codepen-loader/package.json
  scripts/jest/jest-resources.js
  scripts/package.json
Labels: 7.0

#8596 Warning for slider ValuePosition removal, make Slider component controllable.
  packages/migration/src/migration.ts
  packages/migration/src/mods/7.0.0/warnSliderValuePositionRemoved.ts
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/Slider/Slider.base.tsx
Labels: 7.0

#8568 Modal scrolling
  common/changes/office-ui-fabric-react/modal-scrolling_2019-04-02-18-43.json
  packages/office-ui-fabric-react/src/components/Modal/Modal.styles.ts
  packages/office-ui-fabric-react/src/components/Modal/__snapshots__/Modal.test.tsx.snap
Labels: Component: Modal

#8597 Toggle onoff click
  common/changes/office-ui-fabric-react/toggle-onoff-click_2019-04-03-23-24.json
  packages/office-ui-fabric-react/src/components/Toggle/Toggle.base.tsx
  packages/office-ui-fabric-react/src/components/Toggle/Toggle.deprecated.test.tsx
  packages/office-ui-fabric-react/src/components/Toggle/Toggle.test.tsx
  packages/office-ui-fabric-react/src/components/Toggle/__snapshots__/Toggle.test.tsx.snap
  packages/office-ui-fabric-react/src/components/__snapshots__/Announced.LazyLoading.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/ColorPicker.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/ComboBox.Toggles.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Documents.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.DragDrop.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Grouped.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Dropdown.Error.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/ExtendedPeoplePicker.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/FocusTrapZone.Box.Click.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/FocusTrapZone.Box.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/FocusTrapZone.Box.FocusOnCustomElement.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/FocusTrapZone.FocusZone.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/FocusTrapZone.Nested.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/FocusTrapZone.NoTabbable.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Keytips.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Keytips.Button.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Layer.Hosted.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/PeoplePicker.Types.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Shimmer.Application.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Shimmer.LoadData.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/TextField.ErrorMessage.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Toggle.Basic.Example.tsx.shot
Labels: AutoMerge, Component: Toggle

#8600 Convert OverflowSet examples and one Panel example to css-in-js
  common/changes/office-ui-fabric-react/overflow-examples_2019-04-04-01-08.json
  packages/office-ui-fabric-react/src/components/OverflowSet/OverflowSet.doc.tsx
  packages/office-ui-fabric-react/src/components/OverflowSet/examples/OverflowSet.Basic.Example.tsx
  packages/office-ui-fabric-react/src/components/OverflowSet/examples/OverflowSet.Custom.Example.tsx
  packages/office-ui-fabric-react/src/components/OverflowSet/examples/OverflowSet.Example.scss
  packages/office-ui-fabric-react/src/components/OverflowSet/examples/OverflowSet.Vertical.Example.tsx
  packages/office-ui-fabric-react/src/components/Panel/Panel.doc.tsx
  packages/office-ui-fabric-react/src/components/Panel/examples/Panel.LightDismissCustom.Example.tsx
  packages/office-ui-fabric-react/src/components/__snapshots__/OverflowSet.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/OverflowSet.Custom.Example.tsx.shot
Labels: AutoMerge, Component: OverflowSet, Component: Panel

#8591 Card: Supporting High Contrast mode
  common/changes/@uifabric/react-cards/cardHighContrast_2019-04-03-17-36.json
  packages/react-cards/src/components/Card/Card.styles.ts
  packages/react-cards/src/components/Card/Card.types.ts
  packages/react-cards/src/components/Card/CardItem/__snapshots__/CardItem.test.tsx.snap
Labels: Component: Card

#8615 Fix master build
  common/changes/office-ui-fabric-react/jg-master-fix_2019-04-05-02-09.json
  packages/office-ui-fabric-react/src/components/__snapshots__/Layer.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Layer.Customized.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Layer.Hosted.Example.tsx.shot
Labels: AutoMerge

#8579 Fabric 7.0: Dropdown and ComboBox
  apps/vr-tests/src/stories/ComboBox.stories.tsx
  apps/vr-tests/src/stories/Dropdown.stories.tsx
  packages/experiments/src/components/Pagination/__snapshots__/Pagination.test.tsx.snap
  packages/office-ui-fabric-react/src/components/ComboBox/ComboBox.styles.ts
  packages/office-ui-fabric-react/src/components/ComboBox/__snapshots__/ComboBox.deprecated.test.tsx.snap
  packages/office-ui-fabric-react/src/components/ComboBox/__snapshots__/ComboBox.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Dropdown/Dropdown.styles.ts
  packages/office-ui-fabric-react/src/components/Dropdown/__snapshots__/Dropdown.test.tsx.snap
  packages/office-ui-fabric-react/src/components/__snapshots__/Callout.Cover.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Callout.Directional.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/ChoiceGroup.Custom.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Coachmark.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/ComboBox.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/ComboBox.Controlled.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/ComboBox.CustomStyled.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/ComboBox.Toggles.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/ComboBox.Virtualized.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/ContextualMenu.Directional.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DatePicker.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DatePicker.WeekNumbers.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Advanced.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Dropdown.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Dropdown.Controlled.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Dropdown.ControlledMulti.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Dropdown.Custom.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Dropdown.Error.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Dropdown.Required.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Facepile.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Facepile.Overflow.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/PeoplePicker.Types.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/ResizeGroup.OverflowSet.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Stack.Horizontal.Configure.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Stack.Horizontal.WrapAdvanced.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Stack.Vertical.Configure.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Stack.Vertical.WrapAdvanced.Example.tsx.shot
Labels: Area: Fluent, Fabric 7

#8602 Fabric 7.0: Pivot, DetailsList, GroupedList fluent styles moved
  packages/office-ui-fabric-react/src/components/Check/Check.styles.ts
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsColumn.styles.ts
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsHeader.styles.ts
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsList.base.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsRow.styles.ts
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsRowCheck.styles.ts
  packages/office-ui-fabric-react/src/components/DetailsList/__snapshots__/DetailsHeader.test.tsx.snap
  packages/office-ui-fabric-react/src/components/DetailsList/__snapshots__/DetailsList.test.tsx.snap
  packages/office-ui-fabric-react/src/components/DetailsList/__snapshots__/DetailsRow.test.tsx.snap
  packages/office-ui-fabric-react/src/components/DetailsList/__snapshots__/ShimmeredDetailsList.test.tsx.snap
  packages/office-ui-fabric-react/src/components/GroupedList/GroupHeader.styles.ts
  packages/office-ui-fabric-react/src/components/GroupedList/GroupSpacer.tsx
  packages/office-ui-fabric-react/src/components/Pivot/Pivot.styles.ts
  packages/office-ui-fabric-react/src/components/Pivot/__snapshots__/Pivot.deprecated.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Pivot/__snapshots__/Pivot.test.tsx.snap
  packages/office-ui-fabric-react/src/components/__snapshots__/FocusZone.List.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Keytips.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Pivot.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Pivot.Fabric.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Pivot.IconCount.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Pivot.Large.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Pivot.OnChange.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Pivot.Override.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Pivot.Remove.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Pivot.Separate.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Pivot.Tabs.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Pivot.TabsLarge.Example.tsx.shot
Labels: Area: Fluent, Fabric 7, PR: API Modified

#8613 Button: Adding ariaLabel prop and updating examples to fix accessibility issues
  common/changes/@uifabric/experiments/buttonAccessibility_2019-04-04-23-19.json
  packages/experiments/src/components/Button/Button.types.tsx
  packages/experiments/src/components/Button/Button.view.tsx
  packages/experiments/src/components/Button/MenuButton/MenuButton.types.tsx
  packages/experiments/src/components/Button/MenuButton/MenuButton.view.tsx
  packages/experiments/src/components/Button/SplitButton/SplitButton.types.tsx
  packages/experiments/src/components/Button/SplitButton/SplitButton.view.tsx
  packages/experiments/src/components/Button/examples/Button.Styles.Example.tsx
  packages/experiments/src/components/Button/examples/Button.Tokens.Example.tsx
Labels: AutoMerge, Component: Button, Package: experiments

#8609 Panel high contrast border
  common/changes/office-ui-fabric-react/panel-highcontrast-border_2019-04-04-18-32.json
  packages/office-ui-fabric-react/src/components/Panel/Panel.styles.ts
  packages/office-ui-fabric-react/src/components/Panel/__snapshots__/Panel.test.tsx.snap
  packages/office-ui-fabric-react/src/components/__snapshots__/Panel.HiddenOnDismiss.Example.tsx.shot
Labels: Component: Panel

#8628 Fix layer and modal codepen links
  common/changes/office-ui-fabric-react/example-fixes_2019-04-05-20-33.json
  packages/office-ui-fabric-react/src/components/Layer/Layer.doc.tsx
  packages/office-ui-fabric-react/src/components/Modal/Modal.doc.tsx
Labels: AutoMerge

#8614 Fixing sub-menu dismissal when parent menu has a hidden prop
  common/changes/office-ui-fabric-react/HiddenMenuSubMenuDismissal2_2019-04-04-23-12.json
  packages/office-ui-fabric-react/src/components/ContextualMenu/ContextualMenu.base.tsx
  packages/office-ui-fabric-react/src/components/ContextualMenu/ContextualMenu.test.tsx
  packages/office-ui-fabric-react/src/components/ContextualMenu/examples/ContextualMenu.Persisted.Example.tsx
  packages/office-ui-fabric-react/src/components/__snapshots__/ContextualMenu.Persisted.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Advanced.Example.tsx.shot
Labels: Component: ContextualMenu

#8630 DO FOR REVIEW: Perfapp
  apps/perf-test/config/pre-copy.json
  apps/perf-test/index.html
  apps/perf-test/package.json
  apps/perf-test/prettier.config.js
  apps/perf-test/src/App.tsx
  apps/perf-test/src/Measurer.tsx
  apps/perf-test/src/Scenarios.tsx
  apps/perf-test/src/index.tsx
  apps/perf-test/src/useTimer.ts
  apps/perf-test/tsconfig.json
  apps/perf-test/tslint.json
  apps/perf-test/webpack.config.js
  apps/perf-test/webpack.serve.config.js
  common/config/rush/common-versions.json
  common/config/rush/shrinkwrap.yaml
  rush.json
Labels: Area: Performance

#8632 DetailPanel: Update typo property name: onDetailPanelDimiss -> onDetailPanelDismiss
  common/changes/@uifabric/dashboard/lightdismiss_2019-04-05-22-50.json
  packages/dashboard/src/components/DetailPanel/DetailPanel.Base.tsx
  packages/dashboard/src/components/DetailPanel/DetailPanel.types.ts
  packages/dashboard/src/components/DetailPanel/Examples/DetailPanel.Basic.Example.tsx
  packages/dashboard/src/components/DetailPanel/Examples/DetailPanel.L2Content.Example.tsx
  packages/dashboard/src/components/DetailPanel/Examples/DetailPanel.Pivot.Example.tsx
Labels: Package: dashboard

#8604 TextField: clarify onBeforeChange docs
  apps/todo-app/src/components/TodoForm.tsx
  common/changes/office-ui-fabric-react/beforechange_2019-04-04-02-35.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/List/examples/List.Basic.Example.tsx
  packages/office-ui-fabric-react/src/components/TextField/TextField.types.ts
Labels: AutoMerge, Component: TextField

#8624 Button: Supporting high contrast in Button, MenuButton and SplitButton
  common/changes/@uifabric/experiments/buttonHighContrast_2019-04-05-19-00.json
  packages/experiments/src/components/Button/Button.styles.ts
  packages/experiments/src/components/Button/Button.types.tsx
  packages/experiments/src/components/Button/MenuButton/MenuButton.styles.ts
  packages/experiments/src/components/Button/SplitButton/SplitButton.styles.ts
  packages/experiments/src/components/Button/__snapshots__/Button.view.test.tsx.snap
Labels: AutoMerge, Component: Button, Package: experiments

#8476 Reduce bundle size: remove BaseComponent from more components
  common/changes/@uifabric/utilities/basec-removal1_2019-03-26-21-05.json
  common/changes/office-ui-fabric-react/basec-removal1_2019-03-26-21-05.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/package.json
  packages/office-ui-fabric-react/src/components/ActivityItem/ActivityItem.tsx
  packages/office-ui-fabric-react/src/components/ActivityItem/ActivityItem.types.ts
  packages/office-ui-fabric-react/src/components/Announced/Announced.types.ts
  packages/office-ui-fabric-react/src/components/Callout/Callout.test.tsx
  packages/office-ui-fabric-react/src/components/Callout/Callout.tsx
  packages/office-ui-fabric-react/src/components/Callout/Callout.types.ts
  packages/office-ui-fabric-react/src/components/Callout/CalloutContent.base.tsx
  packages/office-ui-fabric-react/src/components/Check/Check.base.tsx
  packages/office-ui-fabric-react/src/components/Checkbox/Checkbox.base.tsx
  packages/office-ui-fabric-react/src/components/ChoiceGroup/ChoiceGroup.base.tsx
  packages/office-ui-fabric-react/src/components/ChoiceGroup/ChoiceGroupOption/ChoiceGroupOption.base.tsx
  packages/office-ui-fabric-react/src/components/Dialog/Dialog.base.tsx
  packages/office-ui-fabric-react/src/components/Dropdown/Dropdown.base.tsx
  packages/office-ui-fabric-react/src/components/Fabric/Fabric.base.tsx
  packages/office-ui-fabric-react/src/components/FocusTrapZone/FocusTrapZone.test.tsx
  packages/office-ui-fabric-react/src/components/FocusTrapZone/FocusTrapZone.tsx
  packages/office-ui-fabric-react/src/components/Keytip/Keytip.tsx
  packages/office-ui-fabric-react/src/components/Keytip/Keytip.types.ts
  packages/office-ui-fabric-react/src/components/Keytip/KeytipContent.base.tsx
  packages/office-ui-fabric-react/src/components/KeytipData/KeytipData.tsx
  packages/office-ui-fabric-react/src/components/Label/Label.base.tsx
  packages/office-ui-fabric-react/src/components/Layer/Layer.base.tsx
  packages/office-ui-fabric-react/src/components/Layer/LayerHost.tsx
  packages/office-ui-fabric-react/src/components/Nav/Nav.base.tsx
  packages/office-ui-fabric-react/src/components/Popup/Popup.tsx
  packages/office-ui-fabric-react/src/components/Popup/Popup.types.ts
  packages/office-ui-fabric-react/src/components/SwatchColorPicker/SwatchColorPicker.base.tsx
  packages/office-ui-fabric-react/src/components/SwatchColorPicker/SwatchColorPicker.types.ts
  packages/office-ui-fabric-react/src/components/TextField/MaskedTextField/MaskedTextField.tsx
  packages/office-ui-fabric-react/src/components/TextField/TextField.base.tsx
  packages/office-ui-fabric-react/src/components/Tooltip/Tooltip.base.tsx
  packages/utilities/etc/utilities.api.md
  packages/utilities/src/customizations/Customizer.tsx
  packages/utilities/src/index.ts
  packages/utilities/src/safeRequestAnimationFrame.test.tsx
  packages/utilities/src/safeRequestAnimationFrame.ts
  packages/utilities/src/safeSetTimeout.test.tsx
  packages/utilities/src/safeSetTimeout.ts
Labels: Area: Performance

#8629 Spinner: aria-live message should not be injected just because a label exists.
  common/changes/office-ui-fabric-react/spinner-aria_2019-04-05-20-36.json
  packages/office-ui-fabric-react/src/components/Spinner/Spinner.base.tsx
  packages/office-ui-fabric-react/src/components/Spinner/__snapshots__/Spinner.test.tsx.snap
  packages/office-ui-fabric-react/src/components/__snapshots__/Spinner.Labeled.Example.tsx.shot
Labels: AutoMerge, Component: Spinner

#8641 Button: Adding DefaultButton and PrimaryButton variants
  common/changes/@uifabric/experiments/buttonVariants_2019-04-08-18-18.json
  packages/experiments/src/components/Button/Button.styles.ts
  packages/experiments/src/components/Button/ButtonVariants.types.ts
  packages/experiments/src/components/Button/DefaultButton.tsx
  packages/experiments/src/components/Button/MenuButton/MenuButton.styles.ts
  packages/experiments/src/components/Button/PrimaryButton.tsx
  packages/experiments/src/components/Button/SplitButton/SplitButton.styles.ts
  packages/experiments/src/components/Button/__snapshots__/Button.view.test.tsx.snap
  packages/experiments/src/components/Button/index.ts
Labels: AutoMerge, Component: Button, Package: experiments

#8643 Panel nonblocking forceFocusInsideTrap
  common/changes/office-ui-fabric-react/panel-nonblocking_2019-04-08-20-25.json
  packages/office-ui-fabric-react/src/components/Panel/Panel.base.tsx
Labels: Component: Panel

#8642 Deploy perf app
  apps/pr-deploy-site/config/pre-copy.json
  apps/pr-deploy-site/index.html
  apps/pr-deploy-site/package.json
Labels: AutoMerge

#8639 Webpack listens on all hosts
  scripts/tasks/webpack.js
Labels: Area: Build System, AutoMerge

#8652 Screen reader support for icons
  common/changes/@uifabric/dashboard/ScreenReaderSupportForIcons_2019-04-09-10-58.json
  packages/dashboard/src/components/DetailPanel/BaseContainer.tsx
Labels: AutoMerge, Package: dashboard

#8657 Add deprecation message to dashboard readme
  common/changes/@uifabric/dashboard/dashboard_2019-04-09-18-20.json
  packages/dashboard/README.md
Labels: Package: dashboard

#8647 Do the Azure Blob upload and Github PR status update with custom tasks
  azure-pipelines.yml
Labels: Area: Build System, AutoMerge

#8623 Panel onOpen and onOpened
  common/changes/office-ui-fabric-react/panel-onopen_2019-04-05-18-59.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/Panel/Panel.base.tsx
  packages/office-ui-fabric-react/src/components/Panel/Panel.test.tsx
  packages/office-ui-fabric-react/src/components/Panel/Panel.types.ts
Labels: AutoMerge, Component: Panel, PR: API Modified

#8646 Combobox onPendingValueChanged with empty string
  common/changes/office-ui-fabric-react/combobox-pendingvalue_2019-04-08-21-56.json
  packages/office-ui-fabric-react/src/components/ComboBox/ComboBox.test.tsx
  packages/office-ui-fabric-react/src/components/ComboBox/ComboBox.tsx
Labels: AutoMerge, Component: ComboBox

#8645 Button: Creating ActionButton variant and cleaning styling
  common/changes/@uifabric/experiments/actionButton_2019-04-08-21-50.json
  packages/experiments/src/components/Button/ActionButton.tsx
  packages/experiments/src/components/Button/Button.styles.ts
  packages/experiments/src/components/Button/Button.types.tsx
  packages/experiments/src/components/Button/ButtonPage.tsx
  packages/experiments/src/components/Button/ButtonVariants.types.ts
  packages/experiments/src/components/Button/DefaultButton.tsx
  packages/experiments/src/components/Button/PrimaryButton.tsx
  packages/experiments/src/components/Button/SplitButton/SplitButton.styles.ts
  packages/experiments/src/components/Button/__snapshots__/Button.view.test.tsx.snap
  packages/experiments/src/components/Button/examples/Button.Variants.Example.tsx
  packages/experiments/src/components/Button/index.ts
Labels: AutoMerge, Component: Button, Package: experiments

#8664 Add classNames to perf-app components
  apps/perf-test/src/App.tsx
  apps/perf-test/src/Measurer.tsx
Labels: AutoMerge

#8671 Add perf-script and task
  package.json
  scripts/just-task.js
  scripts/package.json
  scripts/tasks/perf-test.js
Labels: Area: Build System, AutoMerge

#8685 Create full comment and echo file path and status to be consumed by t…
  scripts/tasks/perf-test.js
Labels: Area: Build System, AutoMerge

#8684 Revert "Webpack listens on all hosts (#8639)"
  scripts/tasks/webpack.js
Labels: Area: Build System

#8689 removed flickering split button tests
  apps/vr-tests/src/stories/Button.stories.tsx
Labels: AutoMerge

#8683 a11y-tests: Switch to official axe-sarif-converter
  apps/a11y-tests/package.json
  apps/a11y-tests/src/axe-sarif-converter/axe-extension.ts
  apps/a11y-tests/src/axe-sarif-converter/axe-utils.ts
  apps/a11y-tests/src/axe-sarif-converter/check-message-transformer.ts
  apps/a11y-tests/src/axe-sarif-converter/cues.ts
  apps/a11y-tests/src/axe-sarif-converter/custom-rule-configurations.ts
  apps/a11y-tests/src/axe-sarif-converter/custom-rule-configurations/color-rule.ts
  apps/a11y-tests/src/axe-sarif-converter/custom-rule-configurations/cues-rule.ts
  apps/a11y-tests/src/axe-sarif-converter/custom-rule-configurations/custom-widget-configuration.ts
  apps/a11y-tests/src/axe-sarif-converter/custom-rule-configurations/frame-title.ts
  apps/a11y-tests/src/axe-sarif-converter/custom-rule-configurations/heading-rule.ts
  apps/a11y-tests/src/axe-sarif-converter/custom-rule-configurations/image-rule.ts
  apps/a11y-tests/src/axe-sarif-converter/custom-rule-configurations/landmark-rule.ts
  apps/a11y-tests/src/axe-sarif-converter/custom-rule-configurations/link-function.ts
  apps/a11y-tests/src/axe-sarif-converter/custom-rule-configurations/link-purpose.ts
  apps/a11y-tests/src/axe-sarif-converter/custom-rule-configurations/native-widgets-default.ts
  apps/a11y-tests/src/axe-sarif-converter/custom-rule-configurations/page-title.ts
  apps/a11y-tests/src/axe-sarif-converter/custom-rule-configurations/text-alternative.ts
  apps/a11y-tests/src/axe-sarif-converter/custom-rule-configurations/text-contrast.ts
  apps/a11y-tests/src/axe-sarif-converter/custom-rule-configurations/widget-function.ts
  apps/a11y-tests/src/axe-sarif-converter/dictionary-types.ts
  apps/a11y-tests/src/axe-sarif-converter/document-utils.ts
  apps/a11y-tests/src/axe-sarif-converter/exposed-apis.ts
  apps/a11y-tests/src/axe-sarif-converter/help-url-getter.ts
  apps/a11y-tests/src/axe-sarif-converter/index.ts
  apps/a11y-tests/src/axe-sarif-converter/message-decorator.ts
  apps/a11y-tests/src/axe-sarif-converter/processor.ts
  apps/a11y-tests/src/axe-sarif-converter/result-decorator.ts
  apps/a11y-tests/src/axe-sarif-converter/role-utils.ts
  apps/a11y-tests/src/axe-sarif-converter/ruleresults.ts
  apps/a11y-tests/src/axe-sarif-converter/sarif-converter.ts
  apps/a11y-tests/src/axe-sarif-converter/sarif/custom-sarif-types.ts
  apps/a11y-tests/src/axe-sarif-converter/sarif/sarifLog.ts
  apps/a11y-tests/src/axe-sarif-converter/sarif/sarifv2.d.ts
  apps/a11y-tests/src/axe-sarif-converter/string-utils.ts
  apps/a11y-tests/src/axe-sarif-converter/wcag-mappings.ts
  apps/a11y-tests/src/axe-sarif-converter/wcag.ts
  apps/a11y-tests/src/getSarifReport.ts
  apps/a11y-tests/src/tests/__snapshots__/Button.test.ts.snap
  apps/a11y-tests/src/tests/__snapshots__/TextField.test.ts.snap
  apps/a11y-tests/src/tests/testComponent.ts
  common/config/rush/shrinkwrap.yaml
Labels: AutoMerge

#8660 Allow a controlled Pivot to have no selected Pivot Item
  common/changes/office-ui-fabric-react/no-selected-item-on-pivot_2019-04-09-19-03.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/Pivot/Pivot.base.tsx
  packages/office-ui-fabric-react/src/components/Pivot/Pivot.doc.tsx
  packages/office-ui-fabric-react/src/components/Pivot/Pivot.types.ts
  packages/office-ui-fabric-react/src/components/Pivot/examples/Pivot.SeparateNoSelectedKey.Example.tsx
  packages/office-ui-fabric-react/src/components/__snapshots__/Pivot.SeparateNoSelectedKey.Example.tsx.shot
Labels: AutoMerge, Component: Pivot

#8692 Fabric 7: Remove deprecated DetailsRowCheck.isSelected and add mod to replace it with DetailsRowCheck.selected
  common/changes/@uifabric/migration/keco-rm-DetailsRowCheck-isSelected_2019-04-11-06-01.json
  common/changes/office-ui-fabric-react/keco-rm-DetailsRowCheck-isSelected_2019-04-11-06-01.json
  packages/migration/src/mods/7.0.0/warnDetailsRowCheckIsSelectedRemoved.ts
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsRowCheck.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsRowCheck.types.ts
Labels: AutoMerge, Fabric 7, PR: API Modified

#8688 CalloutContentBase should shallow compare before updating
  common/changes/office-ui-fabric-react/kushaly-CalloutShallowCompareBeforeUpdating_2019-04-10-23-57.json
  packages/office-ui-fabric-react/src/components/Callout/CalloutContent.base.tsx
  packages/office-ui-fabric-react/src/components/Callout/CalloutContent.test.tsx
Labels: Component: Callout

#8679 Button: Creating CompoundButton and BaseButton variants
  common/changes/@uifabric/experiments/compoundButton_2019-04-10-17-24.json
  packages/experiments/src/components/Button/BaseButton.tsx
  packages/experiments/src/components/Button/Button.styles.ts
  packages/experiments/src/components/Button/Button.view.tsx
  packages/experiments/src/components/Button/CompoundButton.tsx
  packages/experiments/src/components/Button/__snapshots__/Button.view.test.tsx.snap
  packages/experiments/src/components/Button/examples/Button.Variants.Example.tsx
  packages/experiments/src/components/Button/index.ts
Labels: AutoMerge, Component: Button, Package: experiments

#8690 Fabric 7.0: Persona size changes and fluent styles
  apps/vr-tests/src/stories/DetailsHeader.stories.tsx
  apps/vr-tests/src/stories/DetailsList.stories.tsx
  apps/vr-tests/src/stories/FocusTrapZone.stories.tsx
  apps/vr-tests/src/stories/Fonts.stories.tsx
  apps/vr-tests/src/stories/GroupedList.stories.tsx
  apps/vr-tests/src/stories/Keytip.stories.tsx
  apps/vr-tests/src/stories/OverflowSet.stories.tsx
  apps/vr-tests/src/stories/Persona.stories.tsx
  apps/vr-tests/src/stories/Pivot.stories.tsx
  apps/vr-tests/src/stories/ResizeGroup.stories.tsx
  apps/vr-tests/src/stories/ScrollablePane.DetailsList.stories.tsx
  apps/vr-tests/src/stories/ScrollablePane.GroupedDetailsList.stories.tsx
  apps/vr-tests/src/stories/ScrollablePane.stories.tsx
  apps/vr-tests/src/stories/Sticky.Breadcrumb.stories.tsx
  apps/vr-tests/src/stories/SwatchColorPicker.stories.tsx
  apps/vr-tests/src/stories/Tooltip.stories.tsx
  packages/experiments/src/components/PersonaCoin/__snapshots__/PersonaCoin.test.tsx.snap
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/ActivityItem/__snapshots__/ActivityItem.test.tsx.snap
  packages/office-ui-fabric-react/src/components/DocumentCard/__snapshots__/DocumentCard.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Facepile/__snapshots__/Facepile.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Persona/Persona.base.tsx
  packages/office-ui-fabric-react/src/components/Persona/Persona.styles.ts
  packages/office-ui-fabric-react/src/components/Persona/Persona.types.ts
  packages/office-ui-fabric-react/src/components/Persona/PersonaCoin/PersonaCoin.base.tsx
  packages/office-ui-fabric-react/src/components/Persona/PersonaCoin/PersonaCoin.styles.ts
  packages/office-ui-fabric-react/src/components/Persona/PersonaCoin/__snapshots__/PersonaCoin.deprecated.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Persona/PersonaCoin/__snapshots__/PersonaCoin.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Persona/PersonaConsts.tsx
  packages/office-ui-fabric-react/src/components/Persona/PersonaPresence/PersonaPresence.base.tsx
  packages/office-ui-fabric-react/src/components/Persona/PersonaPresence/PersonaPresence.styles.ts
  packages/office-ui-fabric-react/src/components/Persona/__snapshots__/Persona.deprecated.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Persona/__snapshots__/Persona.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Persona/examples/Persona.Basic.Example.tsx
  packages/office-ui-fabric-react/src/components/Persona/examples/Persona.Initials.Example.tsx
  packages/office-ui-fabric-react/src/components/__snapshots__/ActivityItem.Compact.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/ActivityItem.Persona.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DocumentCard.Compact.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DocumentCard.Conversation.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DocumentCard.Image.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Facepile.AddFace.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Facepile.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Facepile.Overflow.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Persona.Alternate.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Persona.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Persona.CustomCoinRender.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Persona.CustomRender.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Persona.Initials.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Persona.UnknownPersona.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/SelectedPeopleList.Controlled.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Shimmer.LoadData.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/pickers/PeoplePicker/__snapshots__/PeoplePicker.test.tsx.snap
Labels: Area: Fluent, Fabric 7, PR: API Modified

#8705 Deploy demo-app.js for demo site
  apps/fabric-website-resources/webpack.config.js
  common/changes/@uifabric/fabric-website-resources/deploy_2019-04-11-23-45.json
Labels: Area: Build System, AutoMerge

#8708 Button: Styling fixes to issues found while working on Multiline Ribbon buttons
  common/changes/@uifabric/experiments/buttonFixes_2019-04-12-03-46.json
  packages/experiments/src/components/Button/SplitButton/SplitButton.styles.ts
  packages/experiments/src/components/Button/SplitButton/SplitButton.view.tsx
Labels: AutoMerge, Component: Button, Package: experiments

#8700 Date time release
  apps/pr-deploy-site/package.json
  apps/vr-tests/package.json
  common/changes/@uifabric/date-time/date-time-release_2019-04-11-16-35.json
  common/config/rush/shrinkwrap.yaml
  packages/date-time/package.json
  rush.json
Labels: AutoMerge

#8714 DetailsList: Fix focus high contrast color
  common/changes/office-ui-fabric-react/fix-detailslist-highcontrast_2019-04-12-17-55.json
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsRow.styles.ts
Labels: Component: DetailsList

#8687 Add "GithubPRComment" task to azure pipeline
  azure-pipelines.yml
  scripts/tasks/perf-test.js
Labels: Status: Do Not Merge 🚫

#8713 Panel visibility controllable.
  common/changes/office-ui-fabric-react/jdh-controlled-panel_2019-04-11-23-59.json
  packages/office-ui-fabric-react/src/components/Panel/Panel.base.tsx
  packages/office-ui-fabric-react/src/components/Panel/Panel.doc.tsx
  packages/office-ui-fabric-react/src/components/Panel/Panel.test.tsx
  packages/office-ui-fabric-react/src/components/Panel/Panel.types.ts
  packages/office-ui-fabric-react/src/components/Panel/examples/Panel.Controlled.Example.tsx
  packages/office-ui-fabric-react/src/components/Panel/examples/Panel.HandleDismissTarget.Example.tsx
  packages/office-ui-fabric-react/src/components/__snapshots__/Panel.Controlled.Example.tsx.shot
Labels: AutoMerge, Component: Panel, Fabric 7

#8719 Inject nonce to style tag if specified in CSP settings in FabricConfig.
  common/changes/@uifabric/merge-styles/cspnonce_2019-04-12-22-26.json
  common/changes/@uifabric/styling/cspnonce_2019-04-12-22-26.json
  packages/merge-styles/etc/merge-styles.api.md
  packages/merge-styles/src/Stylesheet.ts
  packages/merge-styles/src/index.ts
  packages/styling/etc/styling.api.md
  packages/styling/src/MergeStyles.ts
Labels: AutoMerge, Needs: Author Feedback, PR: API Modified

#8717 MessageBar: fixing transparency background issue
  common/changes/office-ui-fabric-react/v-vibr-MessagebarBackground_2019-04-12-19-32.json
  packages/office-ui-fabric-react/src/components/ComponentConformance.test.tsx
  packages/office-ui-fabric-react/src/components/MessageBar/MessageBar.base.tsx
  packages/office-ui-fabric-react/src/components/MessageBar/MessageBar.styles.ts
  packages/office-ui-fabric-react/src/components/MessageBar/__snapshots__/MessageBar.test.tsx.snap
  packages/office-ui-fabric-react/src/components/__snapshots__/MessageBar.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/MessageBar.Styled.Example.tsx.shot
Labels: AutoMerge, Component: MessageBar

#8718 Adding data parameter to combo box
  common/changes/office-ui-fabric-react/zababbit-AddingDataParameterToComboBox_2019-04-11-21-55.json
  packages/office-ui-fabric-react/src/components/ComboBox/ComboBox.tsx
Labels: AutoMerge, Component: ComboBox

#8663 Move Nav to @uifabric/legacy.
  apps/fabric-website-resources/src/ComponentStatus/AllComponents.checklist.ts
  apps/fabric-website-resources/src/components/pages/NavPage.tsx
  apps/fabric-website-resources/webpack.config.js
  apps/fabric-website/package.json
  apps/fabric-website/webpack.config.js
  apps/ssr-tests/package.json
  apps/ssr-tests/webpack.config.js
  apps/vr-tests/package.json
  apps/vr-tests/src/stories/Nav.stories.tsx
  azure-pipelines.yml
  common/config/rush/shrinkwrap.yaml
  packages/azure-themes/package.json
  packages/azure-themes/src/azure/styles/Nav.styles.ts
  packages/dashboard/package.json
  packages/example-app-base/package.json
  packages/example-app-base/src/components/App/App.tsx
  packages/example-app-base/src/components/App/App.types.ts
  packages/example-app-base/src/components/FeedbackList/FeedbackList.styles.ts
  packages/legacy/config/api-extractor.json
  packages/legacy/config/pre-copy.json
  packages/legacy/config/tests.js
  packages/legacy/etc/legacy.api.md
  packages/legacy/jest.config.js
  packages/legacy/jest.dom.config.js
  packages/legacy/package.json
  packages/legacy/src/Nav.ts
  packages/legacy/src/components/Nav/Nav.base.tsx
  packages/legacy/src/components/Nav/Nav.checklist.ts
  packages/legacy/src/components/Nav/Nav.doc.tsx
  packages/legacy/src/components/Nav/Nav.styles.ts
  packages/legacy/src/components/Nav/Nav.test.tsx
  packages/legacy/src/components/Nav/Nav.tsx
  packages/legacy/src/components/Nav/Nav.types.ts
  packages/legacy/src/components/Nav/__snapshots__/Nav.test.tsx.snap
  packages/legacy/src/components/Nav/docs/NavDonts.md
  packages/legacy/src/components/Nav/docs/NavDos.md
  packages/legacy/src/components/Nav/docs/NavOverview.md
  packages/legacy/src/components/Nav/examples/Nav.Basic.Example.tsx
  packages/legacy/src/components/Nav/examples/Nav.CustomGroupHeaders.Example.tsx
  packages/legacy/src/components/Nav/examples/Nav.FabricDemoApp.Example.tsx
  packages/legacy/src/components/Nav/examples/Nav.Nested.Example.tsx
  packages/legacy/src/components/Nav/index.ts
  packages/legacy/src/index.ts
  packages/legacy/src/version.ts
  packages/legacy/tsconfig.json
  packages/legacy/tslint.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/Nav/Nav.doc.tsx
  packages/office-ui-fabric-react/src/index.ts
  rush.json
  scripts/tasks/webpack.js
Labels: Fabric 7, PR: API Modified

#8721 Button: Creating CommandBarButton, IconButton and MessageBarButton variants
  common/changes/@uifabric/experiments/iconButton_2019-04-12-23-57.json
  packages/experiments/src/components/Button/Button.styles.ts
  packages/experiments/src/components/Button/CommandBarButton.tsx
  packages/experiments/src/components/Button/CommandButton.ts
  packages/experiments/src/components/Button/CompoundButton.tsx
  packages/experiments/src/components/Button/IconButton.tsx
  packages/experiments/src/components/Button/MessageBarButton.tsx
  packages/experiments/src/components/Button/__snapshots__/Button.view.test.tsx.snap
  packages/experiments/src/components/Button/examples/Button.Variants.Example.tsx
  packages/experiments/src/components/Button/index.ts
Labels: AutoMerge, Component: Button, Package: experiments

#8662 Bring datepicker props inline with their description
  common/changes/office-ui-fabric-react/bring-datepicker-props-inline_2019-04-09-21-50.json
  packages/office-ui-fabric-react/src/components/DatePicker/DatePicker.base.tsx
Labels: Component: DatePicker

#8640 Styling: Extend getFocusStyle signature to include named parameters.
  common/changes/@uifabric/azure-themes/refactor-getFocusStyle_2019-04-08-22-36.json
  common/changes/@uifabric/charting/refactor-getFocusStyle_2019-04-08-22-36.json
  common/changes/@uifabric/date-time/refactor-getFocusStyle_2019-04-08-22-36.json
  common/changes/@uifabric/example-app-base/refactor-getFocusStyle_2019-04-08-22-36.json
  common/changes/@uifabric/experiments/refactor-getFocusStyle_2019-04-08-22-36.json
  common/changes/@uifabric/fabric-website-resources/refactor-getFocusStyle_2019-04-08-22-36.json
  common/changes/@uifabric/fabric-website/refactor-getFocusStyle_2019-04-08-22-36.json
  common/changes/@uifabric/file-type-icons/refactor-getFocusStyle_2019-04-08-22-36.json
  common/changes/@uifabric/fluent-theme/refactor-getFocusStyle_2019-04-08-22-36.json
  common/changes/@uifabric/foundation/refactor-getFocusStyle_2019-04-08-22-36.json
  common/changes/@uifabric/icons/refactor-getFocusStyle_2019-04-08-22-36.json
  common/changes/@uifabric/jest-serializer-merge-styles/refactor-getFocusStyle_2019-04-08-22-36.json
  common/changes/@uifabric/merge-styles/refactor-getFocusStyle_2019-04-08-22-36.json
  common/changes/@uifabric/migration/refactor-getFocusStyle_2019-04-08-22-36.json
  common/changes/@uifabric/prettier-rules/refactor-getFocusStyle_2019-04-08-22-36.json
  common/changes/@uifabric/react-cards/refactor-getFocusStyle_2019-04-08-22-36.json
  common/changes/@uifabric/styling/refactor-getFocusStyle_2019-04-08-22-36.json
  common/changes/@uifabric/test-utilities/refactor-getFocusStyle_2019-04-08-22-36.json
  common/changes/@uifabric/theme-samples/refactor-getFocusStyle_2019-04-08-22-36.json
  common/changes/@uifabric/tslint-rules/refactor-getFocusStyle_2019-04-08-22-36.json
  common/changes/@uifabric/variants/refactor-getFocusStyle_2019-04-08-22-36.json
  common/changes/@uifabric/webpack-utils/refactor-getFocusStyle_2019-04-08-22-36.json
  common/changes/office-ui-fabric-react/refactor-getFocusStyle_2019-04-08-22-36.json
  packages/azure-themes/src/azure/styles/CommandBarButton.styles.ts
  packages/date-time/src/components/Calendar/Calendar.styles.ts
  packages/date-time/src/components/Calendar/CalendarDay/CalendarDay.styles.ts
  packages/date-time/src/components/Calendar/CalendarPicker/CalendarPicker.styles.ts
  packages/experiments/src/components/Toggle/Toggle.styles.ts
  packages/fluent-theme/src/fluent/styles/CommandBarButton.styles.ts
  packages/fluent-theme/src/fluent/styles/CompoundButton.styles.ts
  packages/fluent-theme/src/fluent/styles/DefaultButton.styles.ts
  packages/office-ui-fabric-react/src/components/Button/BaseButton.styles.ts
  packages/office-ui-fabric-react/src/components/Button/CommandBarButton/CommandBarButton.styles.ts
  packages/office-ui-fabric-react/src/components/Button/SplitButton/SplitButton.styles.ts
  packages/office-ui-fabric-react/src/components/ComboBox/ComboBox.styles.ts
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsRow.styles.ts
  packages/office-ui-fabric-react/src/components/Facepile/Facepile.styles.ts
  packages/office-ui-fabric-react/src/components/MessageBar/MessageBar.styles.ts
  packages/office-ui-fabric-react/src/components/Rating/Rating.styles.ts
  packages/office-ui-fabric-react/src/components/Toggle/Toggle.styles.ts
  packages/office-ui-fabric-react/src/components/pickers/PeoplePicker/PeoplePickerItems/PeoplePickerItem.styles.ts
  packages/styling/etc/styling.api.md
  packages/styling/src/interfaces/IGetFocusStyles.ts
  packages/styling/src/interfaces/index.ts
  packages/styling/src/styles/getFocusStyle.ts
Labels: Fabric 7, PR: API Modified

#8469 DetailsList: Expose optional onRenderCheckbox callback option
  common/changes/office-ui-fabric-react/dev-zhicwan-details_list_custom_checkbox_2019-03-26-05-50.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsHeader.base.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsHeader.test.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsHeader.types.ts
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsList.base.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsList.test.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsList.types.ts
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsRow.base.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsRow.test.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsRow.types.ts
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsRowCheck.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsRowCheck.types.ts
  packages/office-ui-fabric-react/src/components/GroupedList/GroupHeader.base.tsx
Labels: AutoMerge, Component: DetailsList

#8707 Fabric 7.0: Fixing placeholder styles in Dropdown and ComboBox
  packages/experiments/src/components/Pagination/__snapshots__/Pagination.test.tsx.snap
  packages/office-ui-fabric-react/src/components/ComboBox/ComboBox.styles.ts
  packages/office-ui-fabric-react/src/components/ComboBox/__snapshots__/ComboBox.deprecated.test.tsx.snap
  packages/office-ui-fabric-react/src/components/ComboBox/__snapshots__/ComboBox.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Dropdown/Dropdown.styles.ts
  packages/office-ui-fabric-react/src/components/__snapshots__/ChoiceGroup.Custom.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/ComboBox.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/ComboBox.Controlled.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/ComboBox.CustomStyled.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/ComboBox.Toggles.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/ComboBox.Virtualized.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Dropdown.Basic.Example.tsx.shot
Labels: Area: Fluent, Area: JS Styling, Fabric 7

#8724 Date-time: Update top level export to include calendar
  common/changes/@uifabric/date-time/date-time_2019-04-15-16-51.json
  packages/date-time/etc/date-time.api.md
  packages/date-time/src/Calendar.ts
  packages/date-time/src/components/Calendar/Calendar.types.ts
  packages/date-time/src/components/Calendar/examples/Calendar.Button.Example.tsx
  packages/date-time/src/components/Calendar/examples/Calendar.Inline.Example.tsx
  packages/date-time/src/index.ts
  packages/date-time/webpack.serve.config.js
Labels: PR: API Modified

#8710 Fix panel twodismiss
  common/changes/office-ui-fabric-react/fix-panel-twodismiss_2019-04-12-05-48.json
  packages/office-ui-fabric-react/src/components/Panel/Panel.base.tsx
  packages/office-ui-fabric-react/src/components/Panel/Panel.test.tsx
  packages/office-ui-fabric-react/src/components/Panel/__snapshots__/Panel.test.tsx.snap
Labels: Component: Panel

#8731 Pin to specific api extractor version
  common/config/rush/shrinkwrap.yaml
  scripts/package.json
Labels: Area: Build System, AutoMerge

#8732 Button: Examples' and tests' improvements
  common/changes/@uifabric/experiments/buttonImprovements_2019-04-15-23-31.json
  packages/experiments/src/components/Button/Button.test.tsx
  packages/experiments/src/components/Button/Button.types.tsx
  packages/experiments/src/components/Button/MenuButton/MenuButton.test.tsx
  packages/experiments/src/components/Button/MenuButton/examples/MenuButton.Example.tsx
  packages/experiments/src/components/Button/SplitButton/SplitButton.test.tsx
  packages/experiments/src/components/Button/SplitButton/examples/SplitButton.Example.tsx
  packages/experiments/src/components/Button/__snapshots__/Button.test.tsx.snap
  packages/experiments/src/components/Button/examples/Button.Styles.Example.tsx
  packages/experiments/src/components/Button/examples/Button.Tokens.Example.tsx
Labels: AutoMerge, Component: Button, Package: experiments

#8729 Button and Card: Updating docs (overview, dos and don'ts).
  common/changes/@uifabric/experiments/docs_2019-04-15-22-39.json
  common/changes/@uifabric/react-cards/docs_2019-04-15-22-39.json
  packages/experiments/src/components/Button/ButtonPage.tsx
  packages/experiments/src/components/Button/docs/ButtonDonts.md
  packages/experiments/src/components/Button/docs/ButtonDos.md
  packages/experiments/src/components/Button/docs/ButtonOverview.md
  packages/react-cards/src/components/Card/docs/CardOverview.md
Labels: AutoMerge, Component: Button, Component: Card, Package: experiments

#8727 Button: Add focus call in IButton interface.
  common/changes/@uifabric/experiments/buttonFocus_2019-04-15-21-16.json
  packages/experiments/src/components/Button/Button.state.ts
  packages/experiments/src/components/Button/Button.tsx
  packages/experiments/src/components/Button/Button.types.tsx
  packages/experiments/src/components/Button/Button.view.tsx
  packages/experiments/src/components/Button/MenuButton/MenuButton.state.ts
  packages/experiments/src/components/Button/MenuButton/MenuButton.tsx
  packages/experiments/src/components/Button/MenuButton/MenuButton.types.tsx
  packages/experiments/src/components/Button/MenuButton/MenuButton.view.tsx
  packages/experiments/src/components/Button/SplitButton/SplitButton.tsx
  packages/experiments/src/components/Button/SplitButton/SplitButton.types.tsx
  packages/experiments/src/components/Button/SplitButton/SplitButton.view.tsx
Labels: AutoMerge, Component: Button, Package: experiments

#8273 Ensure dialog class is applied only once
  common/changes/office-ui-fabric-react/fix-dialog-class-twice_2019-03-12-05-13.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/Modal/Modal.base.tsx
  packages/office-ui-fabric-react/src/components/Modal/Modal.styles.ts
  packages/office-ui-fabric-react/src/components/Modal/Modal.types.ts
Labels: Component: Modal

#8728 fabric-7 - re-enable a11y tests
  azure-pipelines.yml
Labels: Fabric 7

#8735 a11y-tests: Scan PR deploy site in CI environment
  apps/a11y-tests/package.json
  apps/a11y-tests/scripts/start-test.js
  apps/a11y-tests/scripts/test.js
  apps/a11y-tests/scripts/update-snapshots.js
  apps/a11y-tests/src/getSarifReport.ts
  apps/a11y-tests/src/tests/__snapshots__/Button.test.ts.snap
  apps/a11y-tests/src/tests/__snapshots__/TextField.test.ts.snap
  apps/a11y-tests/src/tests/testComponent.ts
  azure-pipelines.yml
  package.json
Labels: AutoMerge

#8739 Ensure all tsconfigs have lib setting
  apps/fabric-website/tsconfig.json
  apps/server-rendered-app/tsconfig.json
  apps/test-bundles/tsconfig.json
  apps/vr-tests/tsconfig.json
  common/changes/@uifabric/fabric-website/tsconfig_2019-04-16-21-22.json
Labels: AutoMerge

#8756 Fix website: this fixes up the sideeffect bug in webpack
  common/changes/@uifabric/example-app-base/fixsite_2019-04-18-02-42.json
  packages/example-app-base/src/index.ts
Labels: Area: Website, AutoMerge, Type: Bug :bug:

#8751 Button and Card: cursor token improvements
  common/changes/@uifabric/experiments/improvements_2019-04-18-00-06.json
  common/changes/@uifabric/react-cards/improvements_2019-04-18-00-06.json
  packages/experiments/src/components/Button/Button.types.tsx
  packages/react-cards/src/components/Card/Card.styles.ts
  packages/react-cards/src/components/Card/Card.types.ts
  packages/react-cards/src/components/Card/CardItem/__snapshots__/CardItem.test.tsx.snap
Labels: AutoMerge, Component: Button, Component: Card, Package: experiments

#8741 Button: Fix issue where button would eat keydowns
  common/changes/office-ui-fabric-react/fix-button-eatingkeydowns_2019-04-16-21-50.json
  packages/office-ui-fabric-react/src/components/Button/BaseButton.tsx
Labels: AutoMerge, Component: Button

#8742 Fixing Persisted Split Buttons that show expanded state always
  common/changes/office-ui-fabric-react/persistFlyoutAndSplitButtons_2019-04-16-22-13.json
  packages/office-ui-fabric-react/src/components/Button/BaseButton.tsx
Labels: AutoMerge, Component: Button

#8712 Dropdown: selectedIndices[0] Should not less than 0
  common/changes/office-ui-fabric-react/patch-1_2019-04-18-04-22.json
  packages/office-ui-fabric-react/src/components/Dropdown/Dropdown.base.tsx
  packages/office-ui-fabric-react/src/components/Dropdown/Dropdown.test.tsx
Labels: AutoMerge, Component: Dropdown

#8767 Temporarily disable a11y-tests
  azure-pipelines.yml
Labels: AutoMerge

#8752 [Toggle] remove use of deprecated react lifecycle method.
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/Toggle/Toggle.base.tsx
Labels: Component: Toggle, Fabric 7

#8765 Fix fabric-website loading of legacy package
  apps/fabric-website/webpack.serve.config.js
Labels: Fabric 7

#8766 [Checkbox] Remove deprecated react lifecycle method.
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/Checkbox/Checkbox.base.tsx
Labels: AutoMerge, Component: Checkbox, Fabric 7, PR: API Modified

#8753 Pickers: Fix issue where described by had invalid id
  common/changes/office-ui-fabric-react/pickers-fix-aria-describedby_2019-04-18-00-58.json
  packages/office-ui-fabric-react/src/components/__snapshots__/Announced.SearchResults.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/PeoplePicker.Types.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/TagPicker.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/pickers/BasePicker.tsx
  packages/office-ui-fabric-react/src/components/pickers/PeoplePicker/__snapshots__/PeoplePicker.test.tsx.snap
  packages/office-ui-fabric-react/src/components/pickers/TagPicker/__snapshots__/TagPicker.test.tsx.snap
  packages/office-ui-fabric-react/src/components/pickers/__snapshots__/BasePicker.test.tsx.snap
Labels: AutoMerge, Component: Pickers

#8730 TilesList: replacing the Shimmer imports
  common/changes/@uifabric/experiments/v-vibr-ReplaceShimmerImports_2019-04-15-22-42.json
  packages/experiments/src/components/Tile/ShimmerTile/ShimmerTile.base.tsx
  packages/experiments/src/components/TilesList/TilesList.tsx
  packages/experiments/src/components/TilesList/examples/TilesList.Document.Example.tsx
Labels: Package: experiments

#8759 Remove unused and not exported ListPage prototype component
  common/changes/@uifabric/file-type-icons/master_2019-02-28-21-55.json
  common/changes/@uifabric/file-type-icons/master_2019-03-01-17-06.json
  common/changes/office-ui-fabric-react/keco-remove-unused-listpage_2019-04-18-04-35.json
  packages/file-type-icons/fileTypeIconMap.json
  packages/office-ui-fabric-react/src/components/List/ListPage.tsx
Labels: AutoMerge, Component: List, Fabric 7

#8775 Removing closure created in the styled render function to improve performance
  common/changes/@uifabric/utilities/remove-closure_2019-04-18-23-02.json
  packages/utilities/src/styled.tsx
Labels: Package: utilities

#8762 Remove usage of assign helper across Lists code
  common/changes/office-ui-fabric-react/keco-rm-assign-helper-usage_2019-04-18-05-53.json
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsColumn.test.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsList.base.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsRow.base.tsx
  packages/office-ui-fabric-react/src/components/GroupedList/GroupedList.base.tsx
  packages/office-ui-fabric-react/src/components/GroupedList/GroupedListSection.tsx
Labels: AutoMerge, Component: DetailsList, Component: GroupedList, Component: List, Type: Cleanup

#8774 Adding documentation for token docs in Button, Card and Stack
  common/changes/@uifabric/experiments/tokensDocs_2019-04-18-22-56.json
  common/changes/@uifabric/react-cards/tokensDocs_2019-04-18-22-56.json
  common/changes/office-ui-fabric-react/tokensDocs_2019-04-18-22-56.json
  packages/experiments/src/components/Button/Button.types.tsx
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/Stack/Stack.types.ts
  packages/react-cards/src/components/Card/Card.types.ts
Labels: AutoMerge, Component: Button, Component: Card, Component: Stack, Fabric 7, PR: API Modified

#8779 Fabric 7.0: adding fluent style changes to MessageBar
  packages/office-ui-fabric-react/src/common/_semanticSlots.scss
  packages/office-ui-fabric-react/src/components/Button/MessageBarButton/MessageBarButton.styles.ts
  packages/office-ui-fabric-react/src/components/MessageBar/MessageBar.styles.ts
  packages/office-ui-fabric-react/src/components/MessageBar/__snapshots__/MessageBar.test.tsx.snap
  packages/office-ui-fabric-react/src/components/__snapshots__/MessageBar.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/MessageBar.Styled.Example.tsx.shot
  packages/styling/src/styles/theme.ts
Labels: Area: Fluent, Component: MessageBar, Fabric 7

#8784 Card: Changing import of Stack to import from office-ui-fabric-react/lib/Stack given partner requests
  common/changes/@uifabric/react-cards/stackImports_2019-04-19-17-58.json
  packages/react-cards/src/components/Card/Card.view.tsx
  packages/react-cards/src/components/Card/CardItem/CardItem.tsx
Labels: AutoMerge, Component: Card

#8771 CommandBar/Button: Update Fluent styles
  common/changes/@uifabric/fluent-theme/edwl-2019-04-addFluentCommandBar_2019-04-18-22-22.json
  common/changes/office-ui-fabric-react/edwl-2019-04-addFluentCommandBar_2019-04-19-17-56.json
  packages/fluent-theme/src/fluent/styles/CommandBar.styles.ts
  packages/fluent-theme/src/fluent/styles/CommandBarButton.styles.ts
  packages/office-ui-fabric-react/src/components/CommandBar/CommandBar.doc.tsx
  packages/office-ui-fabric-react/src/components/CommandBar/examples/CommandBar.SplitDisabled.Example.tsx
  packages/office-ui-fabric-react/src/components/__snapshots__/CommandBar.SplitDisabled.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Advanced.Example.tsx.shot
Labels: Package: fluent-theme, Status: Do Not Merge 🚫

#8781 Fabric 7.0: Persona fluent colors updates
  apps/vr-tests/src/stories/ActivityItem.stories.tsx
  apps/vr-tests/src/stories/MessageBar.stories.tsx
  apps/vr-tests/src/stories/Nav.stories.tsx
  apps/vr-tests/src/stories/SearchBox.stories.tsx
  apps/vr-tests/src/stories/Tile.stories.tsx
  apps/vr-tests/src/utilities/FluentDecorator.tsx
  packages/experiments/src/components/Persona/Vertical/__snapshots__/VerticalPersona.test.tsx.snap
  packages/experiments/src/components/PersonaCoin/__snapshots__/PersonaCoin.test.tsx.snap
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/ActivityItem/__snapshots__/ActivityItem.test.tsx.snap
  packages/office-ui-fabric-react/src/components/DocumentCard/__snapshots__/DocumentCard.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Facepile/__snapshots__/Facepile.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Persona/Persona.doc.tsx
  packages/office-ui-fabric-react/src/components/Persona/Persona.types.ts
  packages/office-ui-fabric-react/src/components/Persona/PersonaCoin/__snapshots__/PersonaCoin.deprecated.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Persona/PersonaCoin/__snapshots__/PersonaCoin.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Persona/PersonaInitialsColor.test.ts
  packages/office-ui-fabric-react/src/components/Persona/PersonaInitialsColor.ts
  packages/office-ui-fabric-react/src/components/Persona/__snapshots__/Persona.deprecated.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Persona/__snapshots__/Persona.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Persona/examples/Persona.Colors.Example.tsx
  packages/office-ui-fabric-react/src/components/__snapshots__/ActivityItem.Compact.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/ActivityItem.Persona.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DocumentCard.Compact.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DocumentCard.Conversation.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DocumentCard.Image.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Facepile.AddFace.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Facepile.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Facepile.Overflow.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Persona.Colors.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Persona.Initials.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/SelectedPeopleList.Controlled.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Shimmer.LoadData.Example.tsx.shot
Labels: Area: Fluent, Component: Persona, Fabric 7

#8793 TextField documentation updates
  common/changes/office-ui-fabric-react/textfield-validate_2019-04-19-23-55.json
  packages/office-ui-fabric-react/src/components/TextField/TextField.base.tsx
  packages/office-ui-fabric-react/src/components/TextField/TextField.types.ts
Labels: AutoMerge, Component: TextField

#8788 Selection: initialize count
  common/changes/office-ui-fabric-react/selection_2019-04-19-22-12.json
  packages/office-ui-fabric-react/src/utilities/selection/Selection.test.ts
  packages/office-ui-fabric-react/src/utilities/selection/Selection.ts
Labels: AutoMerge

#8791 SplitButton: Improving screenreader narration for secondary action and fixing styling in fabric 7 branch
  common/changes/@uifabric/experiments/splitButtonAriaLabel_2019-04-19-22-43.json
  packages/experiments/src/components/Button/SplitButton/SplitButton.styles.ts
  packages/experiments/src/components/Button/SplitButton/SplitButton.types.tsx
  packages/experiments/src/components/Button/SplitButton/SplitButton.view.tsx
Labels: AutoMerge, Component: Button, Fabric 7, Package: experiments

#8787 Remove use of legacy context
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/ScrollablePane/ScrollablePane.base.tsx
  packages/office-ui-fabric-react/src/components/ScrollablePane/ScrollablePane.tsx
  packages/office-ui-fabric-react/src/components/ScrollablePane/ScrollablePane.types.ts
  packages/office-ui-fabric-react/src/components/ScrollablePane/examples/ScrollablePane.Default.Example.tsx
  packages/office-ui-fabric-react/src/components/Sticky/Sticky.tsx
Labels: Fabric 7, PR: API Modified

#8772 [Breadcrumb] Remove deprecated lifecycle method
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/Breadcrumb/Breadcrumb.base.tsx
Labels: AutoMerge, Component: Breadcrumb, Fabric 7

#8796 Removing max node.js requirement restriction.
  rush.json
Labels: Area: Build System, AutoMerge

#8794 Adding a prop to SwatchColorPicker to allow it to be fully controlled
  common/changes/office-ui-fabric-react/fullyControlledColorPicker_2019-04-19-23-54.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/SwatchColorPicker/SwatchColorPicker.base.tsx
  packages/office-ui-fabric-react/src/components/SwatchColorPicker/SwatchColorPicker.types.ts
Labels: AutoMerge, Component: SwatchColorPicker, PR: API Modified

#8789 Add direction prop for ResizeGroup which allows for both vertical and horizontal
  common/changes/office-ui-fabric-react/keyou-vertical-resize-group-2_2019-04-19-22-07.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/ResizeGroup/ResizeGroup.base.tsx
  packages/office-ui-fabric-react/src/components/ResizeGroup/ResizeGroup.doc.tsx
  packages/office-ui-fabric-react/src/components/ResizeGroup/ResizeGroup.types.ts
  packages/office-ui-fabric-react/src/components/ResizeGroup/examples/ResizeGroup.VerticalOverflowSet.Example.tsx
  packages/office-ui-fabric-react/src/components/__snapshots__/ResizeGroup.VerticalOverflowSet.Example.tsx.shot
Labels: AutoMerge, Component: ResizeGroup, PR: API Modified

#8795 Remove very old things from the website
  apps/fabric-website/src/components/App/AppState.tsx
  apps/fabric-website/src/components/DOIcon/DOIcon.scss
  apps/fabric-website/src/components/DOIcon/DOIcon.tsx
  apps/fabric-website/src/components/DONavigation/DONavigation.scss
  apps/fabric-website/src/components/DONavigation/DONavigation.tsx
  apps/fabric-website/src/components/DONavigation/DONavigationLink.scss
  apps/fabric-website/src/components/DONavigation/DONavigationLink.tsx
  apps/fabric-website/src/components/DONavigation/_DONavigationVariables.scss
  apps/fabric-website/src/components/DOSearchBox/DOSearchBox.scss
  apps/fabric-website/src/components/DOSearchBox/DOSearchBox.tsx
  apps/fabric-website/src/data/DONavigationLinkData.json
  apps/fabric-website/src/data/blog-posts.json
  apps/fabric-website/src/pages/BlogPage/BlogItem.scss
  apps/fabric-website/src/pages/BlogPage/BlogItem.tsx
  apps/fabric-website/src/pages/BlogPage/BlogPage.module.scss
  apps/fabric-website/src/pages/BlogPage/BlogPage.tsx
  apps/fabric-website/src/pages/BlogPage/BlogPost.scss
  apps/fabric-website/src/pages/BlogPage/BlogPost.tsx
  apps/fabric-website/src/pages/GetStarted/GetStartedPage.diagram.module.scss
  apps/fabric-website/src/pages/GetStarted/GetStartedPage.tsx
  apps/fabric-website/src/pages/HomePage/HomePage.module.scss
  apps/fabric-website/src/pages/HomePage/HomePage.tsx
  apps/fabric-website/src/pages/Interstitials/AngularJSPage.tsx
  apps/fabric-website/src/pages/Interstitials/FabricIOSPage.tsx
  apps/fabric-website/src/pages/Overviews/ComponentsPage.tsx
  common/changes/@uifabric/fabric-website/websitewebsite_2019-04-22-17-28.json
Labels: Area: Website, AutoMerge

#8797 Performance: removing another closure from the styled helper.
  common/changes/@uifabric/utilities/remove-closure_2019-04-18-23-02.json
  packages/utilities/src/styled.test.tsx
  packages/utilities/src/styled.tsx
Labels: AutoMerge, Package: utilities

#8800 CommandBarButton: Fix selector for ms-Button-icon
  common/changes/@uifabric/fluent-theme/edwl-2019-04-fixFluentCommandBarButton_2019-04-22-20-03.json
  packages/fluent-theme/src/fluent/styles/CommandBarButton.styles.ts
Labels: Package: fluent-theme

#8803 Lists: Remove unnecessary css concat helper usage
  common/changes/office-ui-fabric-react/keco-rm-unnecessary-css-merge_2019-04-22-20-41.json
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsHeader.base.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsRow.base.tsx
  packages/office-ui-fabric-react/src/components/List/List.tsx
Labels: AutoMerge

#8806 Allow for discrepancies between master and pr scenario content
  scripts/tasks/perf-test.js
Labels: Area: Build System

#8802 Fabric 7 layer context
  common/changes/office-ui-fabric-react/fabric-7-layer-context_2019-04-22-20-20.json
  packages/office-ui-fabric-react/src/components/Layer/Layer.test.tsx
  packages/office-ui-fabric-react/src/components/Layer/examples/Layer.Basic.Example.tsx
  packages/office-ui-fabric-react/src/components/__snapshots__/Layer.Basic.Example.tsx.shot
Labels: Component: Layer, Fabric 7

#8777 Fixing FocusZone setting elements outside its DOM as its active element
  common/changes/office-ui-fabric-react/focuszone_2019-04-19-00-31.json
  packages/office-ui-fabric-react/src/components/FocusZone/FocusZone.test.tsx
  packages/office-ui-fabric-react/src/components/FocusZone/FocusZone.tsx
Labels: Component: FocusZone

#8811 Publish codepen-loader
  rush.json
Labels: Area: Build System

#8810 Fluent: CommandBarButton fix expanded background color and expanded hover bg color
  common/changes/@uifabric/fluent-theme/edwl-2019-04-fixCommanBarButtonFluent_2019-04-22-23-45.json
  packages/fluent-theme/src/fluent/styles/CommandBarButton.styles.ts
Labels: AutoMerge, Package: fluent-theme

#8804 CommandBar / CommandBarButton style updates
  common/changes/office-ui-fabric-react/edwl-2019-04-commandBarButtonStylesFabric7_2019-04-22-21-26.json
  packages/office-ui-fabric-react/src/components/Button/CommandBarButton/CommandBarButton.styles.ts
  packages/office-ui-fabric-react/src/components/Button/__snapshots__/Button.test.tsx.snap
  packages/office-ui-fabric-react/src/components/CommandBar/CommandBar.styles.ts
  packages/office-ui-fabric-react/src/components/CommandBar/__snapshots__/CommandBar.deprecated.test.tsx.snap
  packages/office-ui-fabric-react/src/components/CommandBar/__snapshots__/CommandBar.test.tsx.snap
  packages/office-ui-fabric-react/src/components/__snapshots__/Button.CommandBar.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/CommandBar.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/CommandBar.ButtonAs.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/CommandBar.CommandBarButtonAs.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/CommandBar.SplitDisabled.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Advanced.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Keytips.CommandBar.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Keytips.Overflow.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/OverflowSet.Custom.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/OverflowSet.Vertical.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/ResizeGroup.OverflowSet.Example.tsx.shot
Labels: AutoMerge, Fabric 7

#8785 VerticalDivider: Convert into a styled component
  common/changes/office-ui-fabric-react/style-verticaldivider_2019-04-19-18-53.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/Divider/VerticalDivider.base.tsx
  packages/office-ui-fabric-react/src/components/Divider/VerticalDivider.classNames.ts
  packages/office-ui-fabric-react/src/components/Divider/VerticalDivider.styles.ts
  packages/office-ui-fabric-react/src/components/Divider/VerticalDivider.tsx
  packages/office-ui-fabric-react/src/components/Divider/VerticalDivider.types.ts
  packages/office-ui-fabric-react/src/components/Divider/examples/VerticalDivider.Custom.Example.tsx
  packages/office-ui-fabric-react/src/components/__snapshots__/VerticalDivider.Custom.Example.tsx.shot
Labels: Component: Divider

#8809 FocusTrapZone: Add new disabled prop and use in FocusTrapCallout
  common/changes/office-ui-fabric-react/jg-ftz-disabled-prop_2019-04-22-23-09.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/Callout/FocusTrapCallout.tsx
  packages/office-ui-fabric-react/src/components/FocusTrapZone/FocusTrapZone.doc.tsx
  packages/office-ui-fabric-react/src/components/FocusTrapZone/FocusTrapZone.test.tsx
  packages/office-ui-fabric-react/src/components/FocusTrapZone/FocusTrapZone.tsx
  packages/office-ui-fabric-react/src/components/FocusTrapZone/FocusTrapZone.types.ts
  packages/office-ui-fabric-react/src/components/FocusTrapZone/examples/FocusTrapZone.Box.Click.Example.tsx
  packages/office-ui-fabric-react/src/components/FocusTrapZone/examples/FocusTrapZone.Box.Example.tsx
  packages/office-ui-fabric-react/src/components/FocusTrapZone/examples/FocusTrapZone.Box.FocusOnCustomElement.Example.tsx
  packages/office-ui-fabric-react/src/components/FocusTrapZone/examples/FocusTrapZone.FocusZone.Example.tsx
  packages/office-ui-fabric-react/src/components/FocusTrapZone/examples/FocusTrapZone.Nested.Example.tsx
  packages/office-ui-fabric-react/src/components/FocusTrapZone/examples/FocusTrapZone.NoTabbable.Example.tsx
  packages/office-ui-fabric-react/src/components/__snapshots__/FocusTrapZone.Box.Click.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/FocusTrapZone.Box.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/FocusTrapZone.Box.FocusOnCustomElement.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/FocusTrapZone.FocusZone.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/FocusTrapZone.Nested.Example.tsx.shot
Labels: PR: API Modified

#8754 Slots: Refactor and add options structure for more rendering options.
  apps/fabric-website/src/components/Nav/Nav.tsx
  common/changes/@uifabric/experiments/jg-refactor-slots_2019-04-22-17-22.json
  common/changes/@uifabric/fabric-website/jg-refactor-slots_2019-04-22-17-22.json
  common/changes/@uifabric/foundation/jg-refactor-slots_2019-04-22-17-22.json
  common/changes/office-ui-fabric-react/jg-refactor-slots_2019-04-22-17-22.json
  packages/experiments/src/components/Button/ActionButton.tsx
  packages/experiments/src/components/Button/BaseButton.tsx
  packages/experiments/src/components/Button/Button.types.tsx
  packages/experiments/src/components/Button/Button.view.tsx
  packages/experiments/src/components/Button/ButtonPage.tsx
  packages/experiments/src/components/Button/CommandBarButton.tsx
  packages/experiments/src/components/Button/CompoundButton.tsx
  packages/experiments/src/components/Button/DefaultButton.tsx
  packages/experiments/src/components/Button/IconButton.tsx
  packages/experiments/src/components/Button/MenuButton/MenuButton.test.tsx
  packages/experiments/src/components/Button/MenuButton/MenuButton.types.tsx
  packages/experiments/src/components/Button/MenuButton/examples/MenuButton.Example.tsx
  packages/experiments/src/components/Button/MessageBarButton.tsx
  packages/experiments/src/components/Button/PrimaryButton.tsx
  packages/experiments/src/components/Button/SplitButton/SplitButton.test.tsx
  packages/experiments/src/components/Button/SplitButton/examples/SplitButton.Example.tsx
  packages/experiments/src/components/Button/examples/Button.Example.tsx
  packages/experiments/src/components/Button/examples/Button.Slots.Example.tsx
  packages/experiments/src/components/Button/examples/Button.Styles.Example.tsx
  packages/experiments/src/components/Button/examples/Button.Tokens.Example.tsx
  packages/experiments/src/components/CollapsibleSection/CollapsibleSectionPage.tsx
  packages/experiments/src/components/CollapsibleSection/CollapsibleSectionTitle.ts
  packages/experiments/src/components/CollapsibleSection/examples/CollapsibleSection.Controlled.Example.tsx
  packages/experiments/src/components/CollapsibleSection/examples/CollapsibleSection.Slots.Example.tsx
  packages/experiments/src/components/CollapsibleSection/examples/CollapsibleSection.Styled.Example.tsx
  packages/experiments/src/components/Persona/Vertical/VerticalPersona.test.tsx
  packages/experiments/src/components/Persona/examples/VerticalPersona.Example.tsx
  packages/experiments/src/components/Toggle/examples/Toggle.Example.tsx
  packages/experiments/src/slots/examples/Slots.Async.Example.tsx
  packages/experiments/src/slots/examples/Slots.Content.Example.tsx
  packages/experiments/src/slots/examples/Slots.Example.tsx
  packages/experiments/src/slots/examples/Slots.Icon.Example.tsx
  packages/experiments/src/slots/examples/Slots.Root.Example.tsx
  packages/experiments/src/slots/examples/Slots.Stack.Example.tsx
  packages/experiments/src/slots/examples/Slots.Styled.Example.tsx
  packages/experiments/src/utilities/factoryComponents.tsx
  packages/experiments/src/utilities/factoryComponents.types.tsx
  packages/foundation/src/IComponent.ts
  packages/foundation/src/IHTMLSlots.ts
  packages/foundation/src/ISlots.ts
  packages/foundation/src/__snapshots__/slots.test.tsx.snap
  packages/foundation/src/createComponent.tsx
  packages/foundation/src/slots.test.tsx
  packages/foundation/src/slots.tsx
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/Announced/examples/Announced.LazyLoading.Example.tsx
  packages/office-ui-fabric-react/src/components/Text/Text.types.tsx
Labels: Area: Foundation, Fabric 7

#8828 Checkbox: Move onhover event to label only where it is actionable.
  common/changes/office-ui-fabric-react/checkbox-fixhover_2019-04-24-00-09.json
  packages/office-ui-fabric-react/src/components/Checkbox/Checkbox.styles.ts
  packages/office-ui-fabric-react/src/components/Checkbox/__snapshots__/Checkbox.test.tsx.snap
  packages/office-ui-fabric-react/src/components/__snapshots__/Callout.Directional.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Checkbox.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Checkbox.Other.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/ContextualMenu.Directional.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Advanced.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Facepile.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/MarqueeSelection.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/PeoplePicker.Types.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Persona.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/ResizeGroup.OverflowSet.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Stack.Horizontal.Configure.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Stack.Vertical.Configure.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/TagPicker.Basic.Example.tsx.shot
Labels: AutoMerge, Component: Checkbox

#8815 Fix Image.types.ts typo at componentRef
  common/changes/office-ui-fabric-react/fix-image-types-typo_2019-04-23-05-06.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/Image/Image.types.ts
Labels: Component: Image, PR: API Modified

#8827 fixing the keyboard callback for the OUFR calendar
  common/changes/office-ui-fabric-react/lorejoh12-headerMonthViewCalendarKeyboardFix_2019-04-23-23-57.json
  packages/office-ui-fabric-react/src/components/Calendar/CalendarMonth.tsx
Labels: Component: Calendar

#8838 Create Component Script: Fix errors due to Text promotion.
  scripts/templates/create-component/EmptyTypes.mustache
  scripts/templates/create-component/EmptyTypesStateless.mustache
  scripts/templates/create-component/EmptyView.mustache
Labels: Area: Build System, AutoMerge

#8799 DetailsList: Fix high contrast row styles & reduce unnecessary cell rerender
  common/changes/office-ui-fabric-react/keco-details-row-fields-rerender_2019-04-22-18-38.json
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsRow.base.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsRow.styles.ts
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsRowFields.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsRowFields.types.ts
Labels: AutoMerge, Component: DetailsList

#8834 Picker and Suggestions: Move the styled call out of render call.
  common/changes/office-ui-fabric-react/picker-fix-flashing_2019-04-24-10-15.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/pickers/BasePicker.tsx
  packages/office-ui-fabric-react/src/components/pickers/Suggestions/Suggestions.tsx
Labels: Component: Pickers

#8836 Make isFocusVisible toggleable by user
  common/changes/@uifabric/utilities/isfocusvisible_2019-04-24-18-25.json
  packages/utilities/etc/utilities.api.md
  packages/utilities/src/index.ts
  packages/utilities/src/setFocusVisibility.test.ts
  packages/utilities/src/setFocusVisibility.ts
Labels: AutoMerge, PR: API Modified

#8819 Callout/TeachingBubble: Make "Target" type and use that for teaching bubble
  common/changes/office-ui-fabric-react/teachingbubble-target_2019-04-23-18-51.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/Callout/Callout.types.ts
  packages/office-ui-fabric-react/src/components/ContextualMenu/ContextualMenu.types.ts
  packages/office-ui-fabric-react/src/components/TeachingBubble/TeachingBubble.base.tsx
  packages/office-ui-fabric-react/src/components/TeachingBubble/TeachingBubble.types.ts
  packages/office-ui-fabric-react/src/components/TeachingBubble/examples/TeachingBubble.Basic.Example.tsx
  packages/office-ui-fabric-react/src/components/TeachingBubble/examples/TeachingBubble.Condensed.Example.tsx
  packages/office-ui-fabric-react/src/components/TeachingBubble/examples/TeachingBubble.Illustration.Example.tsx
  packages/office-ui-fabric-react/src/components/TeachingBubble/examples/TeachingBubble.SmallHeadline.Example.tsx
  packages/office-ui-fabric-react/src/components/TeachingBubble/examples/TeachingBubble.WideIllustration.Example.tsx
  packages/office-ui-fabric-react/src/components/__snapshots__/TeachingBubble.Condensed.Example.tsx.shot
Labels: AutoMerge

#8744 ShimmeredDetailsList: fixing multiple issues with styles and props. Preparing for a 7.0 API scrub.
  common/changes/office-ui-fabric-react/v-vibr-ShimmeredDetailsListOverlaySafari_2018-12-22-02-55.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/ShimmeredDetailsList.ts
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsList.types.ts
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsRow.types.ts
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsRowFields.types.ts
  packages/office-ui-fabric-react/src/components/DetailsList/ShimmeredDetailsList.base.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/ShimmeredDetailsList.styles.ts
  packages/office-ui-fabric-react/src/components/DetailsList/ShimmeredDetailsList.types.ts
  packages/office-ui-fabric-react/src/components/DetailsList/__snapshots__/ShimmeredDetailsList.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Shimmer/examples/Shimmer.Application.Example.tsx
Labels: AutoMerge, Component: DetailsList, PR: API Modified

#8812 Breadcrumb: add focuszoneprops
  common/changes/office-ui-fabric-react/focuszoneprops-add-tobreadcrumb_2019-04-23-01-05.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/Breadcrumb/Breadcrumb.base.tsx
  packages/office-ui-fabric-react/src/components/Breadcrumb/Breadcrumb.types.ts
Labels: AutoMerge, Component: Breadcrumb

#8847 upgrade just to pick up changes to silence the node makecallback deprecation warning
  common/config/rush/shrinkwrap.yaml
  scripts/package.json
Labels: Area: Build System, AutoMerge

#8851 Separator: fix empty example
  common/changes/office-ui-fabric-react/fixSeparatorExample_2019-04-25-23-37.json
  packages/office-ui-fabric-react/src/components/Separator/examples/Separator.Basic.Example.tsx
  packages/office-ui-fabric-react/src/components/__snapshots__/Separator.Basic.Example.tsx.shot
Labels: AutoMerge, Component: Separator

#8542 Sticky perf
  apps/vr-tests/src/stories/ScrollablePane.DetailsList.stories.tsx
  apps/vr-tests/src/stories/ScrollablePane.GroupedDetailsList.stories.tsx
  apps/vr-tests/src/stories/Sticky.Breadcrumb.stories.tsx
  common/changes/office-ui-fabric-react/stickyPerf_2019-03-29-20-30.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/ScrollablePane/ScrollablePane.base.tsx
  packages/office-ui-fabric-react/src/components/Sticky/Sticky.tsx
Labels: AutoMerge, PR: API Modified

#8852 Fabric 7.0: remove gray40 from automatic assignment in PersonaInitialColors
  packages/experiments/src/components/Persona/Vertical/__snapshots__/VerticalPersona.test.tsx.snap
  packages/experiments/src/components/PersonaCoin/__snapshots__/PersonaCoin.test.tsx.snap
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/ActivityItem/__snapshots__/ActivityItem.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Facepile/__snapshots__/Facepile.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Persona/Persona.types.ts
  packages/office-ui-fabric-react/src/components/Persona/PersonaCoin/__snapshots__/PersonaCoin.deprecated.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Persona/PersonaCoin/__snapshots__/PersonaCoin.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Persona/PersonaInitialsColor.test.ts
  packages/office-ui-fabric-react/src/components/Persona/PersonaInitialsColor.ts
  packages/office-ui-fabric-react/src/components/Persona/__snapshots__/Persona.deprecated.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Persona/__snapshots__/Persona.test.tsx.snap
  packages/office-ui-fabric-react/src/components/__snapshots__/ActivityItem.Compact.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/ActivityItem.Persona.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Advanced.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DocumentCard.Compact.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DocumentCard.Conversation.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DocumentCard.Image.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Facepile.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Facepile.Overflow.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Persona.Initials.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/SelectedPeopleList.Controlled.Example.tsx.shot
Labels: Component: Persona, Fabric 7

#8846 Foundation: API Restructuring
  common/changes/@uifabric/foundation/jg-foundation-api_2019-04-25-22-31.json
  common/changes/office-ui-fabric-react/jg-foundation-api_2019-04-25-22-31.json
  packages/foundation/etc/foundation.api.md
  packages/foundation/package.json
  packages/foundation/src/IHTMLSlots.ts
  packages/foundation/src/index.ts
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/index.ts
Labels: Fabric 7, PR: API Modified

#8854 removing dupe entries in FileTypeIconMap.ts
  common/changes/@uifabric/file-type-icons/master_2019-04-26-05-21.json
  packages/file-type-icons/src/FileTypeIconMap.ts
Labels: AutoMerge
