Repository microsoft/fluentui, pull requests merged in 2019-07, with the labels that each got.

#9583 Tsx-editor package - Adding transpiling code for the editor.
  packages/tsx-editor/package.json
  packages/tsx-editor/src/components/Editor.tsx
  packages/tsx-editor/src/components/Editor.types.ts
  packages/tsx-editor/src/demo/App.tsx
  packages/tsx-editor/src/transpiler/monacoTypescriptWorker.d.ts
  packages/tsx-editor/src/transpiler/transpile.tsx
Labels: Area: Website, AutoMerge

#9565 withViewport: Fix stale viewport calculation when toggling skipViewportMeasure
  common/changes/office-ui-fabric-react/keco-withViewport-recalc_2019-06-25-00-02.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsHeader.base.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsList.base.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsList.test.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsRow.base.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsRow.types.ts
  packages/office-ui-fabric-react/src/components/DetailsList/__snapshots__/DetailsList.test.tsx.snap
  packages/office-ui-fabric-react/src/components/DetailsList/__snapshots__/DetailsRow.test.tsx.snap
  packages/office-ui-fabric-react/src/components/DetailsList/examples/DetailsList.Basic.Example.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/examples/DetailsList.Compact.Example.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/examples/DetailsList.CustomFooter.Example.tsx
  packages/office-ui-fabric-react/src/components/__snapshots__/Announced.BulkOperations.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Announced.QuickActions.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Advanced.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Compact.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.CustomColumns.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.CustomFooter.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.CustomGroupHeaders.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.CustomRows.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Documents.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.DragDrop.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Grouped.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Grouped.Large.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.NavigatingFocus.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/HoverCard.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/HoverCard.PlainCard.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/HoverCard.Target.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Shimmer.Application.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Text.Ramp.Example.tsx.shot
  packages/office-ui-fabric-react/src/utilities/decorators/withViewport.tsx
Labels: AutoMerge, Fabric 6

#9647 [Cherry-pick] Avoid marking DetailsRow as non-draggable unless backed by DragDropEv…
  common/changes/office-ui-fabric-react/details-row-draggable_2019-06-21-04-43.json
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsRow.base.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/__snapshots__/DetailsList.test.tsx.snap
  packages/office-ui-fabric-react/src/components/DetailsList/__snapshots__/DetailsRow.test.tsx.snap
  packages/office-ui-fabric-react/src/components/__snapshots__/Announced.QuickActions.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Advanced.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Compact.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.CustomColumns.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.CustomFooter.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.CustomGroupHeaders.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.CustomRows.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Documents.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Grouped.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Grouped.Large.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.NavigatingFocus.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/FocusZone.List.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/HoverCard.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/HoverCard.PlainCard.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/HoverCard.Target.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Text.Ramp.Example.tsx.shot
Labels: AutoMerge, Component: DetailsList, Fabric 6

#9646 [Cherry-pick] withViewport: Fix stale viewport calculation when toggling skipViewportMeasure
  common/changes/office-ui-fabric-react/keco-withViewport-recalc_2019-06-25-00-02.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsHeader.base.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsList.base.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsList.test.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsRow.base.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsRow.types.ts
  packages/office-ui-fabric-react/src/components/DetailsList/__snapshots__/DetailsList.test.tsx.snap
  packages/office-ui-fabric-react/src/components/DetailsList/__snapshots__/DetailsRow.test.tsx.snap
  packages/office-ui-fabric-react/src/components/DetailsList/examples/DetailsList.Basic.Example.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/examples/DetailsList.Compact.Example.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/examples/DetailsList.CustomFooter.Example.tsx
  packages/office-ui-fabric-react/src/components/__snapshots__/Announced.BulkOperations.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Announced.QuickActions.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Advanced.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Compact.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.CustomColumns.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.CustomFooter.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.CustomGroupHeaders.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.CustomRows.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Documents.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.DragDrop.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Grouped.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Grouped.Large.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.NavigatingFocus.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/HoverCard.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/HoverCard.PlainCard.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/HoverCard.Target.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Shimmer.Application.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Text.Ramp.Example.tsx.shot
  packages/office-ui-fabric-react/src/utilities/decorators/withViewport.tsx
Labels: AutoMerge, Component: DetailsList, PR: API Modified

#9648 add in split menu props
  common/changes/office-ui-fabric-react/splitmenubutton-props_2019-07-01-23-32.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/Button/BaseButton.tsx
  packages/office-ui-fabric-react/src/components/Button/Button.types.ts
Labels: Component: Button

#9650 Filter disallowed props from Tile root element
  common/changes/@uifabric/experiments/tile-props_2019-07-01-23-47.json
  packages/experiments/src/components/Tile/Tile.tsx
Labels: AutoMerge, Package: experiments

#9652 Card: Importing from office-ui-fabric-react directly instead of from office-ui-fabric-react/lib/...
  common/changes/@uifabric/react-cards/cardImports_2019-07-02-00-22.json
  packages/react-cards/src/components/Card/Card.view.tsx
  packages/react-cards/src/components/Card/CardItem/CardItem.types.ts
  packages/react-cards/src/components/Card/CardSection/CardSection.types.ts
Labels: AutoMerge, Component: Card

#9654 Panel: remove window.innerHeight
  common/changes/office-ui-fabric-react/panel-remove-windowheight_2019-07-02-01-32.json
  packages/office-ui-fabric-react/src/components/Panel/Panel.base.tsx
  packages/office-ui-fabric-react/src/components/Panel/Panel.styles.ts
  packages/office-ui-fabric-react/src/components/Panel/__snapshots__/Panel.test.tsx.snap
  packages/office-ui-fabric-react/src/components/__snapshots__/Panel.HiddenOnDismiss.Example.tsx.shot
Labels: AutoMerge, Component: Panel

#9663 Revert "BaseFloatingItem: fix tests + remove redundant state (#9500)"
  change/office-ui-fabric-react-2019-07-02-11-09-28-revert-9500.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/ExtendedPicker/BaseExtendedPicker.tests.tsx
  packages/office-ui-fabric-react/src/components/ExtendedPicker/BaseExtendedPicker.tsx
  packages/office-ui-fabric-react/src/components/ExtendedPicker/__snapshots__/BaseExtendedPicker.test.tsx.snap
  packages/office-ui-fabric-react/src/components/FloatingPicker/BaseFloatingPicker.tsx
  packages/office-ui-fabric-react/src/components/SelectedItemsList/BaseSelectedItemsList.tsx
Labels: PR: API Modified

#9649 Button: Updating semantic slots
  common/changes/@uifabric/experiments/buttonSemanticSlots_2019-07-01-23-45.json
  common/changes/@uifabric/styling/buttonSemanticSlots_2019-07-01-23-45.json
  common/changes/office-ui-fabric-react/buttonSemanticSlots_2019-07-01-23-45.json
  packages/experiments/src/components/Button/Button.styles.ts
  packages/experiments/src/components/Button/SplitButton/SplitButton.styles.ts
  packages/office-ui-fabric-react/src/components/Button/ButtonThemes.ts
  packages/styling/src/styles/theme.ts
Labels: Area: Theming, AutoMerge, Component: Button, Package: experiments

#9664 [Cherry-pick] Filter disallowed props from Tile root element (#9650)
  common/changes/@uifabric/experiments/tile-props_2019-07-01-23-47.json
  packages/experiments/src/components/Tile/Tile.tsx
Labels: AutoMerge, Fabric 6, Package: experiments

#9665 Announced: fix quick actions example
  change/office-ui-fabric-react-2019-07-02-11-37-47-fixAnnouncedExample.json
  packages/office-ui-fabric-react/src/components/Announced/examples/Announced.QuickActions.Example.tsx
Labels: AutoMerge, Component: Announced

#9674 ExtendedPicker: Fix tests
  change/office-ui-fabric-react-2019-07-02-16-29-11-fix-extendedpicker-tests.json
  packages/office-ui-fabric-react/src/components/ExtendedPicker/BaseExtendedPicker.test.tsx
  packages/office-ui-fabric-react/src/components/ExtendedPicker/__snapshots__/BaseExtendedPicker.test.tsx.snap
Labels: AutoMerge

#9677 SearchBox: Accept id for input from props
  change/office-ui-fabric-react-2019-07-02-11-52-50-searchbox.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/SearchBox/SearchBox.base.tsx
  packages/office-ui-fabric-react/src/components/SearchBox/SearchBox.test.tsx
Labels: AutoMerge, Component: SearchBox, PR: API Modified

#9599 @uifabric/lists: Add Viewport and FixedList component
  packages/lists/README.md
  packages/lists/package.json
  packages/lists/src/components/FixedList/FixedList.tsx
  packages/lists/src/components/FixedList/FixedList.types.ts
  packages/lists/src/components/Viewport/Viewport.tsx
  packages/lists/src/components/Viewport/Viewport.types.ts
  packages/lists/src/components/Viewport/useDebouncedTimeout.ts
  packages/lists/src/components/Viewport/usePreviousValue.ts
Labels: AutoMerge

#9676 Breadcrumb: Setting overflowAriaLabel to examples
  change/office-ui-fabric-react-2019-07-02-16-58-34-breadcrumbExampleScreenReader.json
  packages/office-ui-fabric-react/src/components/Breadcrumb/examples/Breadcrumb.Basic.Example.tsx
  packages/office-ui-fabric-react/src/components/__snapshots__/Breadcrumb.Basic.Example.tsx.shot
Labels: AutoMerge, Component: Breadcrumb

#9699 Cherry-pick Panel beneath header (#9612) into 6.0
  common/changes/office-ui-fabric-react/panel-height_2019-06-27-20-36.json
  packages/office-ui-fabric-react/src/components/Layer/Layer.styles.ts
Labels: AutoMerge, Component: Layer, Fabric 6

#9697 Button: Updating example to make it less confusing to screen readers
  change/office-ui-fabric-react-2019-07-03-12-34-04-buttonExampleUpdate.json
  packages/office-ui-fabric-react/src/components/Button/examples/Button.Default.Example.tsx
  packages/office-ui-fabric-react/src/components/__snapshots__/Button.Default.Example.tsx.shot
Labels: Area: Accessibility, Area: Narrator, AutoMerge, Component: Button

#9721 Properly mock Date class in snapshot tests
  apps/a11y-tests/src/tests/ComponentExamples.test.tsx
  apps/a11y-tests/src/tests/__snapshots__/ComponentExamples.test.tsx.snap
  change/office-ui-fabric-react-2019-07-05-14-14-29-a11y-date-mock.json
  packages/office-ui-fabric-react/src/components/ComponentExamples.test.tsx
  packages/office-ui-fabric-react/src/components/__snapshots__/DatePicker.Bounded.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Documents.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Layer.Basic.Example.tsx.shot
Labels: AutoMerge

#9596 Rating: Fluent Updates
  common/changes/office-ui-fabric-react/marygans-fluentRating_2019-06-26-22-31.json
  packages/office-ui-fabric-react/src/components/Rating/Rating.styles.ts
  packages/office-ui-fabric-react/src/components/Rating/__snapshots__/Rating.test.tsx.snap
  packages/office-ui-fabric-react/src/components/__snapshots__/Rating.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Rating.ButtonControlled.Example.tsx.shot
Labels: AutoMerge, Component: Rating

#9701 Adding calloutProps as a prop to the Breadcrumb component.
  change/office-ui-fabric-react-2019-07-03-17-47-46-breadcrumb-callout-props.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/Breadcrumb/Breadcrumb.base.tsx
  packages/office-ui-fabric-react/src/components/Breadcrumb/Breadcrumb.types.ts
Labels: Component: Breadcrumb, PR: API Modified

#9678 Fix website version selection
  apps/fabric-website/src/pages/HomePage/HomePage.base.tsx
  apps/fabric-website/src/utilities/animation/Animate.ts
  change/@uifabric-fabric-website-2019-07-02-17-50-27-websiteversion.json
Labels: Area: Website, AutoMerge

#9727 Port PR 9519 to V6.0 - Tooltip: fix closeDelay bug
  common/changes/office-ui-fabric-react/cicciodm-6.0-backport-9519_2019-07-08-16-09.json
  packages/office-ui-fabric-react/src/components/Tooltip/TooltipHost.base.tsx
Labels: AutoMerge, Component: Tooltip, Fabric 6

#9534 fix the vertical alignment problem
  change/office-ui-fabric-react-2019-07-04-13-34-32-nasabek-fixAligmentProblem.json
  common/changes/office-ui-fabric-react/nasabek-fixAligmentProblem_2019-06-25-23-13.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/FocusZone/FocusZone.tsx
  packages/office-ui-fabric-react/src/components/FocusZone/FocusZone.types.ts
Labels: Component: FocusZone

#9680 Fix website version selection (v6 edition)
  apps/fabric-website/src/pages/HomePage/HomePage.base.tsx
  common/changes/@uifabric/fabric-website/6.0_2019-07-03-00-57.json
Labels: Area: Website, AutoMerge, Fabric 6

#9668 Panel: Adding Overlay props.
  change/office-ui-fabric-react-2019-07-02-13-25-32-panelOverlayProps.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/Panel/Panel.base.tsx
  packages/office-ui-fabric-react/src/components/Panel/Panel.types.ts
Labels: AutoMerge, Component: Panel, PR: API Modified

#9725 PersonaCoin fix override
  change/office-ui-fabric-react-2019-07-07-23-57-56-personaFix.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/Persona/Persona.base.tsx
  packages/office-ui-fabric-react/src/components/Persona/Persona.test.tsx
  packages/office-ui-fabric-react/src/components/Persona/Persona.types.ts
  packages/office-ui-fabric-react/src/components/Persona/PersonaCoin/__snapshots__/PersonaCoin.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Persona/__snapshots__/Persona.test.tsx.snap
Labels: AutoMerge, Component: Persona, PR: API Modified

#9595 Pivot: Fluent Updates
  common/changes/office-ui-fabric-react/marygans-fluentPivot_2019-06-26-21-50.json
  packages/office-ui-fabric-react/src/components/Pivot/Pivot.styles.ts
  packages/office-ui-fabric-react/src/components/Pivot/__snapshots__/Pivot.deprecated.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Pivot/__snapshots__/Pivot.test.tsx.snap
  packages/office-ui-fabric-react/src/components/__snapshots__/Keytips.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Pivot.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Pivot.Fabric.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Pivot.IconCount.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Pivot.Large.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Pivot.OnChange.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Pivot.Override.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Pivot.Remove.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Pivot.Separate.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Pivot.SeparateNoSelectedKey.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Pivot.Tabs.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Pivot.TabsLarge.Example.tsx.shot
Labels: AutoMerge, Component: Pivot

#9696 Modal: Adding overlayProps as a prop
  change/office-ui-fabric-react-2019-07-03-12-24-12-modalOverlayProps.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/Modal/Modal.base.tsx
  packages/office-ui-fabric-react/src/components/Modal/Modal.types.ts
Labels: AutoMerge, Component: Modal, PR: API Modified

#9611 SearchBox fluent update
  common/changes/@uifabric/fluent-theme/v-mare-SearchBox-fluent-update-cherry-pick_2019-06-27-20-05.json
  packages/fluent-theme/src/fluent/styles/SearchBox.styles.ts
Labels: AutoMerge, Component: SearchBox, Fabric 6, Package: fluent-theme

#9651 Fonts: Adding Segoe Web UI fonts for Georgian and Armenian languages
  apps/vr-tests/src/stories/Fonts.stories.tsx
  common/changes/@uifabric/styling/marygans-fabric-italic-fonts_2019-07-02-03-16.json
  packages/styling/src/styles/DefaultFontStyles.ts
  packages/styling/src/styles/fonts.ts
Labels: AutoMerge

#9729 Adding toopltipHostProps as a prop to the Breadcrumb component. (#9701)
  change/office-ui-fabric-react-2019-07-03-17-47-46-breadcrumb-callout-props.json
  common/changes/office-ui-fabric-react/port-breadcrumb-update_2019-07-08-18-34.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/Breadcrumb/Breadcrumb.base.tsx
  packages/office-ui-fabric-react/src/components/Breadcrumb/Breadcrumb.types.ts
Labels: Component: Breadcrumb, Fabric 6, PR: API Modified

#9733 Updating Snapshots: fixing master branch broken state due to stale PR
  change/office-ui-fabric-react-2019-07-08-14-24-41-marygans-fixPR.json
  packages/office-ui-fabric-react/src/components/Pivot/__snapshots__/Pivot.deprecated.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Pivot/__snapshots__/Pivot.test.tsx.snap
  packages/office-ui-fabric-react/src/components/__snapshots__/Keytips.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Pivot.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Pivot.Fabric.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Pivot.IconCount.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Pivot.Large.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Pivot.OnChange.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Pivot.Override.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Pivot.Remove.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Pivot.Separate.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Pivot.SeparateNoSelectedKey.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Pivot.Tabs.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Pivot.TabsLarge.Example.tsx.shot
Labels: Component: Pivot

#9739 Pickers: fixes suggestions ref react warning.
  change/office-ui-fabric-react-2019-07-08-18-27-16-shield-pickersSuggestionRef.json
  packages/office-ui-fabric-react/src/components/pickers/Suggestions/Suggestions.tsx
Labels: Component: Pickers

#9738 Nav: focus border in HC mode.Nav
  change/office-ui-fabric-react-2019-07-08-17-41-20-master.json
  packages/office-ui-fabric-react/src/components/Nav/Nav.styles.ts
  packages/office-ui-fabric-react/src/components/Nav/__snapshots__/Nav.test.tsx.snap
  packages/office-ui-fabric-react/src/components/__snapshots__/Nav.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Nav.CustomGroupHeaders.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Nav.Nested.Example.tsx.shot
Labels: AutoMerge, Component: Nav

#9667 a11y-tests: Update axe-sarif-converter for SARIF v2.1.0
  apps/a11y-tests/package.json
  apps/a11y-tests/src/tests/ComponentExamples.test.tsx
  apps/a11y-tests/src/tests/__snapshots__/ComponentExamples.test.tsx.snap
  common/config/rush/shrinkwrap.yaml
Labels: AutoMerge

#9732 FocusTrapZone: Updating overview description to indicate restriction of website interaction
  change/office-ui-fabric-react-2019-07-08-14-00-46-focusTrapZoneOverview.json
  packages/office-ui-fabric-react/src/components/FocusTrapZone/docs/FocusTrapZoneOverview.md
Labels: AutoMerge, Component: FocusTrapZone

#9728 Dropdown: add aria hidden attribute to icon
  change/office-ui-fabric-react-2019-07-03-16-12-51-dropdownChevronAriaHidden.json
  packages/office-ui-fabric-react/src/components/Dropdown/Dropdown.base.tsx
Labels: AutoMerge, Component: Dropdown

#9722 Button: Fixing CompoundButton and SplitButton high contrast mode styling
  change/@uifabric-fluent-theme-2019-07-05-18-25-13-buttonHighContrast.json
  change/office-ui-fabric-react-2019-07-05-18-25-13-buttonHighContrast.json
  packages/fluent-theme/src/fluent/styles/CompoundButton.styles.ts
  packages/fluent-theme/src/fluent/styles/DefaultButton.styles.ts
  packages/office-ui-fabric-react/src/components/Button/ButtonThemes.ts
  packages/office-ui-fabric-react/src/components/Button/CompoundButton/CompoundButton.styles.ts
  packages/office-ui-fabric-react/src/components/Button/SplitButton/SplitButton.classNames.ts
  packages/office-ui-fabric-react/src/components/Button/SplitButton/SplitButton.styles.ts
  packages/office-ui-fabric-react/src/components/__snapshots__/Button.CommandBar.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Button.Compound.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Button.CustomSplit.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Button.Split.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/CommandBar.SplitDisabled.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Advanced.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/FocusZone.Tabbable.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Keytips.Button.Example.tsx.shot
Labels: Area: Accessibility, Component: Button

#9675 Update names in floatingSuggestons + expose dependencies for UnifiedPicker
  change/@uifabric-experiments-2019-07-02-16-43-14-u-mahuangh-floatingpicker-prep-unified-pickers.json
  packages/experiments/src/components/FloatingSuggestions/FloatingPeopleSuggestions/defaults/DefaultPeopleSuggestionsItem.tsx
  packages/experiments/src/components/FloatingSuggestions/FloatingSuggestions.tsx
  packages/experiments/src/components/FloatingSuggestions/FloatingSuggestions.types.ts
  packages/experiments/src/components/FloatingSuggestions/Suggestions/SuggestionsControl.tsx
  packages/experiments/src/components/SelectedItemsList/Items/subcomponents/DefaultEditingItem.tsx
Labels: AutoMerge, Component: Pickers

#9747 [cherry-pick 6.0] Dropdown: add aria hidden attribute to icon (#9728)
  common/changes/office-ui-fabric-react/dropdownChevronAriaHidden6.0_2019-07-09-22-27.json
  packages/office-ui-fabric-react/src/components/Dropdown/Dropdown.base.tsx
Labels: AutoMerge, Component: Dropdown, Fabric 6

#9748 Semantic Slots: update buttonBackground and buttonBackgroundHovered slots
  apps/theming-designer/src/components/SemanticSlots.tsx
Labels: AutoMerge

#9752 Disable unreliable TextField tests
  change/office-ui-fabric-react-2019-07-09-18-22-25-textfield-test.json
  packages/office-ui-fabric-react/src/components/TextField/TextField.test.tsx
Labels: AutoMerge, Component: TextField

#9705 Fix linechart issue when consumer didn't sent height and width for the chart
  change/@uifabric-charting-2019-07-04-15-10-57-LineChartBroken.json
  packages/charting/src/components/LineChart/LineChart.base.tsx
Labels: AutoMerge, Package: charting

#9745 Pivot: Update hover background color
  change/office-ui-fabric-react-2019-07-09-11-41-53-marygans-pivotColors.json
  packages/office-ui-fabric-react/src/components/Pivot/Pivot.styles.ts
  packages/office-ui-fabric-react/src/components/Pivot/__snapshots__/Pivot.deprecated.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Pivot/__snapshots__/Pivot.test.tsx.snap
  packages/office-ui-fabric-react/src/components/__snapshots__/Keytips.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Pivot.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Pivot.Fabric.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Pivot.IconCount.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Pivot.Large.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Pivot.OnChange.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Pivot.Override.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Pivot.Remove.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Pivot.Separate.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Pivot.SeparateNoSelectedKey.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Pivot.Tabs.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Pivot.TabsLarge.Example.tsx.shot
Labels: AutoMerge, Component: Pivot

#9764 Remove me as codeowner
  .github/CODEOWNERS
Labels: AutoMerge

#9766 [Cherry-pick] Fix Marquee selection clobbering Selection events
  common/changes/office-ui-fabric-react/hotfix-marquee-selection_2019-07-10-21-57.json
  packages/office-ui-fabric-react/src/components/MarqueeSelection/MarqueeSelection.base.tsx
Labels: AutoMerge, Component: MarqueeSelection, Fabric 6

#9749 Tooltip: Fixing 'persist on scroll' issues
  change/office-ui-fabric-react-2019-07-09-16-44-29-tooltipHover.json
  packages/office-ui-fabric-react/src/components/Callout/CalloutContent.base.tsx
  packages/office-ui-fabric-react/src/components/Tooltip/TooltipHost.base.tsx
Labels: Component: Tooltip

#9746 Pass the disabled state to label in ChoiceGroup, Dropdown, Slider and SpinButton
  apps/a11y-tests/src/tests/__snapshots__/ComponentExamples.test.tsx.snap
  change/office-ui-fabric-react-2019-07-09-14-08-02-shield-ChoiceGroupDisabled.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/ChoiceGroup/ChoiceGroup.base.tsx
  packages/office-ui-fabric-react/src/components/Dropdown/Dropdown.base.tsx
  packages/office-ui-fabric-react/src/components/Slider/Slider.base.tsx
  packages/office-ui-fabric-react/src/components/SpinButton/SpinButton.classNames.ts
  packages/office-ui-fabric-react/src/components/SpinButton/SpinButton.styles.ts
  packages/office-ui-fabric-react/src/components/SpinButton/SpinButton.tsx
  packages/office-ui-fabric-react/src/components/SpinButton/SpinButton.types.ts
  packages/office-ui-fabric-react/src/components/__snapshots__/Dropdown.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Slider.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Slider.Vertical.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/SpinButton.BasicDisabled.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/SpinButton.BasicWithIconDisabled.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Stack.Vertical.Configure.Example.tsx.shot
Labels: AutoMerge, Component: ChoiceGroup

#9771 Quick fix to editor for multiple instance management and JSX tags
  packages/tsx-editor/src/components/Editor.tsx
  packages/tsx-editor/src/components/Editor.types.ts
Labels: AutoMerge

#9751 DetailsRow: pass aria-label to row's checkbox
  change/office-ui-fabric-react-2019-07-09-17-52-01-shield-DetailsRowCheckAriaLabel.json
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsRow.base.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/examples/DetailsList.Advanced.Example.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/examples/DetailsList.Animation.Example.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/examples/DetailsList.Basic.Example.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/examples/DetailsList.Compact.Example.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/examples/DetailsList.CustomColumns.Example.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/examples/DetailsList.CustomFooter.Example.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/examples/DetailsList.CustomGroupHeaders.Example.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/examples/DetailsList.CustomRows.Example.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/examples/DetailsList.Documents.Example.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/examples/DetailsList.DragDrop.Example.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/examples/DetailsList.Grouped.Example.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/examples/DetailsList.Grouped.Large.Example.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/examples/DetailsList.NavigatingFocus.Example.tsx
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Advanced.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Animation.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Compact.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.CustomColumns.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.CustomFooter.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.CustomGroupHeaders.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.CustomRows.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.DragDrop.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Grouped.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Grouped.Large.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.NavigatingFocus.Example.tsx.shot
Labels: AutoMerge, Component: DetailsList

#9770 Cherry Pick PR 9587 to 6.0 branch - IE keypress fixes
  common/changes/@uifabric/utilities/keypress-ie_2019-07-10-18-00.json
  packages/utilities/src/dom/raiseClick.ts
Labels: AutoMerge, Fabric 6, Package: utilities

#9772 Dropdown: adding onRenderLabel custom renderer prop
  change/office-ui-fabric-react-2019-07-10-18-58-24-shield-DropdownLabelRenderer.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/Dropdown/Dropdown.base.tsx
  packages/office-ui-fabric-react/src/components/Dropdown/Dropdown.types.ts
  packages/office-ui-fabric-react/src/components/Dropdown/examples/Dropdown.Custom.Example.tsx
  packages/office-ui-fabric-react/src/components/__snapshots__/Dropdown.Custom.Example.tsx.shot
Labels: AutoMerge, Component: Dropdown, PR: API Modified

#9774 ProgressIndicator: Update description label font size
  change/office-ui-fabric-react-2019-07-11-08-52-10-marygans-progessIndicator.json
  packages/office-ui-fabric-react/src/components/ProgressIndicator/ProgressIndicator.styles.ts
  packages/office-ui-fabric-react/src/components/ProgressIndicator/__snapshots__/ProgressIndicator.test.tsx.snap
  packages/office-ui-fabric-react/src/components/__snapshots__/ProgressIndicator.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/ProgressIndicator.Indeterminate.Example.tsx.shot
Labels: AutoMerge, Component: ProgressIndicator

#9765 GroupedList: Refactor out BaseComponent in favor of React.Component and functional components for child components
  change/office-ui-fabric-react-2019-07-10-15-28-54.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/GroupedList/GroupFooter.base.tsx
  packages/office-ui-fabric-react/src/components/GroupedList/GroupShowAll.base.tsx
  packages/office-ui-fabric-react/src/components/GroupedList/GroupSpacer.tsx
  packages/office-ui-fabric-react/src/components/GroupedList/GroupedList.base.tsx
Labels: AutoMerge, Component: GroupedList, PR: API Modified

#9763 [@uifabric/experiments] Chiclet: small changes to examples
  change/@uifabric-experiments-2019-07-10-13-57-10-chicletFixes.json
  packages/experiments/src/components/Chiclet/ChicletPage.tsx
  packages/experiments/src/components/Chiclet/ChicletXsmall.styles.tsx
  packages/experiments/src/components/Chiclet/__snapshots__/ChicletXsmall.test.tsx.snap
  packages/experiments/src/components/Chiclet/examples/Chiclet.Basic.Example.tsx
  packages/experiments/src/components/Chiclet/examples/Chiclet.Breadcrumb.Example.tsx
  packages/experiments/src/components/Chiclet/examples/Chiclet.Footer.Example.tsx
  packages/experiments/src/components/Chiclet/examples/Chiclet.Xsmall.Example.tsx
  packages/experiments/src/components/Chiclet/examples/Chiclet.Xsmall.Footer.Example.tsx
Labels: AutoMerge, Package: experiments

#9517 Change media tile to show metadata only on hover
  apps/vr-tests/src/stories/Tile.stories.tsx
  change/@uifabric-experiments-2019-07-10-15-32-26-jocobb-tile-meta-hover.json
  common/changes/@uifabric/experiments/jocobb-tile-meta-hover_2019-06-19-23-23.json
  packages/experiments/src/components/Tile/Tile.scss
  packages/experiments/src/components/Tile/Tile.tsx
  packages/experiments/src/components/Tile/Tile.types.ts
  packages/experiments/src/components/Tile/examples/Tile.Example.scss
  packages/experiments/src/components/Tile/examples/Tile.Media.Example.tsx
  packages/experiments/src/components/TilesList/examples/TilesList.Media.Example.tsx
Labels: AutoMerge, Package: experiments

#9760 FocusZone: Cherry pick Fix the vertical alignment problem
  change/office-ui-fabric-react-2019-07-04-13-34-32-nasabek-fixAligmentProblem.json
  common/changes/office-ui-fabric-react/nasabek-fixAligmentProblem_2019-06-25-23-13.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/FocusZone/FocusZone.tsx
  packages/office-ui-fabric-react/src/components/FocusZone/FocusZone.types.ts
Labels: Component: FocusZone, Fabric 6, PR: API Modified

#9730 Dialog: Deprecating componentRef prop
  change/office-ui-fabric-react-2019-07-08-11-10-48-dialogComponentRef.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/Dialog/Dialog.types.ts
Labels: AutoMerge, Component: Dialog, PR: API Modified

#9778 Perf Test: Flamegraph Improvements
  apps/perf-test/src/scenarioNames.js
  apps/perf-test/tasks/flamegraph/flamebearer.js
  apps/perf-test/tasks/flamegraph/helpers.js
  apps/perf-test/tasks/flamegraph/index.html
  apps/perf-test/tasks/flamegraph/viz.js
  apps/perf-test/tasks/perf-test.js
Labels: Area: Build System

#9775 Tooltip: Rendering hidden hoverable area to allow for interaction with Tooltips
  change/office-ui-fabric-react-2019-07-11-12-14-25-tooltipHover.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/Tooltip/Tooltip.base.tsx
  packages/office-ui-fabric-react/src/components/Tooltip/Tooltip.styles.ts
  packages/office-ui-fabric-react/src/components/Tooltip/Tooltip.types.ts
Labels: AutoMerge, Component: Tooltip, PR: API Modified

#9781 Shimmer: Update palette references to semantic colors
  change/office-ui-fabric-react-2019-07-11-17-36-35-marygans-shimmerUpdates.json
  packages/office-ui-fabric-react/src/components/Shimmer/Shimmer.styles.ts
  packages/office-ui-fabric-react/src/components/Shimmer/ShimmerCircle/ShimmerCircle.styles.ts
  packages/office-ui-fabric-react/src/components/Shimmer/ShimmerGap/ShimmerGap.styles.ts
  packages/office-ui-fabric-react/src/components/Shimmer/ShimmerLine/ShimmerLine.styles.ts
Labels: AutoMerge, Component: Shimmer

#9804 Speeding up a11y-tests by reusing a single headless browser and doing new pages
  apps/a11y-tests/src/getSarifReport.ts
  apps/a11y-tests/src/tests/ComponentExamples.test.tsx
Labels: AutoMerge

#9798 Adding @types/react and @types/react-dom to package.json that have peer dependencies on react and react-dom
  apps/fabric-website-resources/package.json
  change/@uifabric-api-docs-2019-07-12-16-01-42-rushTypings.json
  change/@uifabric-azure-themes-2019-07-12-16-01-42-rushTypings.json
  change/@uifabric-charting-2019-07-12-16-01-42-rushTypings.json
  change/@uifabric-codepen-loader-2019-07-12-16-01-42-rushTypings.json
  change/@uifabric-date-time-2019-07-12-16-01-42-rushTypings.json
  change/@uifabric-example-app-base-2019-07-12-16-01-42-rushTypings.json
  change/@uifabric-experiments-2019-07-12-16-01-42-rushTypings.json
  change/@uifabric-fabric-website-2019-07-12-16-01-42-rushTypings.json
  change/@uifabric-fabric-website-resources-2019-07-12-16-01-42-rushTypings.json
  change/@uifabric-file-type-icons-2019-07-12-16-01-42-rushTypings.json
  change/@uifabric-fluent-theme-2019-07-12-16-01-42-rushTypings.json
  change/@uifabric-foundation-2019-07-12-16-01-42-rushTypings.json
  change/@uifabric-foundation-scenarios-2019-07-12-16-01-42-rushTypings.json
  change/@uifabric-icons-2019-07-12-16-01-42-rushTypings.json
  change/@uifabric-jest-serializer-merge-styles-2019-07-12-16-01-42-rushTypings.json
  change/@uifabric-mdl2-theme-2019-07-12-16-01-42-rushTypings.json
  change/@uifabric-merge-styles-2019-07-12-16-01-42-rushTypings.json
  change/@uifabric-migration-2019-07-12-16-01-42-rushTypings.json
  change/@uifabric-pr-deploy-site-2019-07-12-16-01-42-rushTypings.json
  change/@uifabric-prettier-rules-2019-07-12-16-01-42-rushTypings.json
  change/@uifabric-react-cards-2019-07-12-16-01-42-rushTypings.json
  change/@uifabric-set-version-2019-07-12-16-01-42-rushTypings.json
  change/@uifabric-styling-2019-07-12-16-01-42-rushTypings.json
  change/@uifabric-test-utilities-2019-07-12-16-01-42-rushTypings.json
  change/@uifabric-theme-samples-2019-07-12-16-01-42-rushTypings.json
  change/@uifabric-tslint-rules-2019-07-12-16-01-42-rushTypings.json
  change/@uifabric-utilities-2019-07-12-16-01-42-rushTypings.json
  change/@uifabric-variants-2019-07-12-16-01-42-rushTypings.json
  change/@uifabric-webpack-utils-2019-07-12-16-01-42-rushTypings.json
  change/office-ui-fabric-react-2019-07-12-16-01-42-rushTypings.json
  packages/charting/package.json
  packages/date-time/package.json
  packages/example-app-base/package.json
  packages/experiments/package.json
  packages/file-type-icons/package.json
  packages/foundation-scenarios/package.json
  packages/foundation/package.json
  packages/lists/package.json
  packages/office-ui-fabric-react/package.json
  packages/react-cards/package.json
  packages/test-utilities/package.json
  packages/tsx-editor/package.json
  packages/utilities/package.json
Labels: Area: Build System

#9796 Allowing example title to show completely even when it goes past one line
  change/@uifabric-example-app-base-2019-07-12-14-39-55-exampleCardName.json
  packages/example-app-base/src/components/ExampleCard/ExampleCard.styles.ts
Labels: AutoMerge

#9780 Prevent the footer and header in panel from shrinking and getting pushed off page in IE
  change/office-ui-fabric-react-2019-07-11-16-49-29-nidurak-footerFlexStyle.json
  packages/office-ui-fabric-react/src/components/Panel/Panel.styles.ts
Labels: Component: Panel

#9805 Rating: fix controlled behavior
  apps/vr-tests/src/stories/Rating.stories.tsx
  change/office-ui-fabric-react-2019-07-12-19-42-35-master.json
  packages/office-ui-fabric-react/src/components/Rating/Rating.base.tsx
  packages/office-ui-fabric-react/src/components/Rating/Rating.test.tsx
  packages/office-ui-fabric-react/src/components/Rating/__snapshots__/Rating.test.tsx.snap
Labels: AutoMerge, Component: Rating

#9818 tslint fixed for windows
  scripts/lint-staged/tslint.js
Labels: Area: Build System

#9813 [6.0] Backport chiclet updates to fabric 6
  common/changes/@uifabric/experiments/XsmallChiclet_2019-06-10-22-46.json
  packages/experiments/src/components/Chiclet/Chiclet.base.tsx
  packages/experiments/src/components/Chiclet/Chiclet.types.ts
  packages/experiments/src/components/Chiclet/ChicletCard.base.tsx
  packages/experiments/src/components/Chiclet/ChicletCard.styles.ts
  packages/experiments/src/components/Chiclet/ChicletCard.types.ts
  packages/experiments/src/components/Chiclet/ChicletHelper.test.tsx
  packages/experiments/src/components/Chiclet/ChicletPage.tsx
  packages/experiments/src/components/Chiclet/ChicletXsmall.base.tsx
  packages/experiments/src/components/Chiclet/ChicletXsmall.styles.tsx
  packages/experiments/src/components/Chiclet/ChicletXsmall.test.tsx
  packages/experiments/src/components/Chiclet/ChicletXsmall.tsx
  packages/experiments/src/components/Chiclet/OpenGraph.ts
  packages/experiments/src/components/Chiclet/__snapshots__/ChicletCard.test.tsx.snap
  packages/experiments/src/components/Chiclet/__snapshots__/ChicletXsmall.test.tsx.snap
  packages/experiments/src/components/Chiclet/examples/Chiclet.Basic.Example.scss
  packages/experiments/src/components/Chiclet/examples/Chiclet.Basic.Example.tsx
  packages/experiments/src/components/Chiclet/examples/Chiclet.Breadcrumb.Example.tsx
  packages/experiments/src/components/Chiclet/examples/Chiclet.Footer.Example.tsx
  packages/experiments/src/components/Chiclet/examples/Chiclet.Xsmall.Example.tsx
  packages/experiments/src/components/Chiclet/examples/Chiclet.Xsmall.Footer.Example.tsx
  packages/experiments/src/components/Chiclet/index.ts
  packages/experiments/src/utilities/chicletHelper.tsx
Labels: AutoMerge, Fabric 6, Package: experiments

#9812 DropDown: Adding null check in onPositioned call
  change/office-ui-fabric-react-2019-07-15-16-56-39-dropDownFocusZoneNullCheck.json
  packages/office-ui-fabric-react/src/components/Dropdown/Dropdown.base.tsx
Labels: AutoMerge, Component: Dropdown

#9802 ChoiceGroup: remove inline styles to allow override
  change/office-ui-fabric-react-2019-07-12-18-10-18-shield-choiceGroupMaxWidth.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/ChoiceGroup/ChoiceGroupOption/ChoiceGroupOption.base.tsx
  packages/office-ui-fabric-react/src/components/ChoiceGroup/ChoiceGroupOption/ChoiceGroupOption.styles.ts
  packages/office-ui-fabric-react/src/components/ChoiceGroup/ChoiceGroupOption/ChoiceGroupOption.types.ts
  packages/office-ui-fabric-react/src/components/ChoiceGroup/ChoiceGroupOption/__snapshots__/ChoiceGroupOption.test.tsx.snap
  packages/office-ui-fabric-react/src/components/__snapshots__/ChoiceGroup.Icon.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/ChoiceGroup.Image.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Advanced.Example.tsx.shot
Labels: AutoMerge, Component: ChoiceGroup, PR: API Modified

#9811 GroupedList: Using level to determine nestingDepth when it is given
  change/office-ui-fabric-react-2019-07-15-16-24-08-groupedListDepth.json
  packages/office-ui-fabric-react/src/components/GroupedList/GroupedListSection.tsx
Labels: AutoMerge, Component: GroupedList

#9824 Mark all API reference tables as non-virtualized to avoid flash of content
  change/@uifabric-example-app-base-2019-07-16-10-42-23-keco-property-tables-foc.json
  packages/example-app-base/src/components/ApiReferencesTable/ApiReferencesTable.tsx
  packages/example-app-base/src/components/PropertiesTable/PropertiesTable.tsx
Labels: AutoMerge

#9816 merge-styles: insert style tag at placeholder or as first element of head
  change/@uifabric-merge-styles-2019-07-15-20-42-14-shield-StyleSheet.json
  packages/merge-styles/README.md
  packages/merge-styles/src/Stylesheet.ts
Labels: Area: merge-styles

#9671 Add new ways for callers to control the behavior of the combo box
  change/office-ui-fabric-react-2019-07-02-15-24-59-reedpa-morecomboboxoptions.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/Callout/Callout.types.ts
  packages/office-ui-fabric-react/src/components/Callout/CalloutContent.base.tsx
  packages/office-ui-fabric-react/src/components/ComboBox/ComboBox.tsx
  packages/office-ui-fabric-react/src/components/ComboBox/ComboBox.types.ts
Labels: Component: ComboBox, PR: API Modified

#9836 temporary workaround and disables the generate-version step
  apps/fabric-website-resources/package.json
  apps/fabric-website/package.json
  azure-pipelines.release.yml
  change/@uifabric-api-docs-2019-07-17-10-48-33-fixpub.json
  change/@uifabric-azure-themes-2019-07-17-10-48-33-fixpub.json
  change/@uifabric-charting-2019-07-17-10-48-33-fixpub.json
  change/@uifabric-codepen-loader-2019-07-17-10-48-33-fixpub.json
  change/@uifabric-date-time-2019-07-17-10-48-33-fixpub.json
  change/@uifabric-example-app-base-2019-07-17-10-48-33-fixpub.json
  change/@uifabric-experiments-2019-07-17-10-48-33-fixpub.json
  change/@uifabric-fabric-website-2019-07-17-10-48-33-fixpub.json
  change/@uifabric-fabric-website-resources-2019-07-17-10-48-33-fixpub.json
  packages/api-docs/package.json
  packages/azure-themes/package.json
  packages/charting/package.json
  packages/codepen-loader/package.json
  packages/date-time/package.json
  packages/example-app-base/package.json
  packages/experiments/package.json
Labels: AutoMerge

#9825 Panel: Making padding not change with screen width to match toolkit
  change/office-ui-fabric-react-2019-07-16-14-51-10-panelPadding.json
  packages/office-ui-fabric-react/src/components/Panel/Panel.styles.ts
  packages/office-ui-fabric-react/src/components/Panel/__snapshots__/Panel.test.tsx.snap
  packages/office-ui-fabric-react/src/components/__snapshots__/Panel.HiddenOnDismiss.Example.tsx.shot
Labels: AutoMerge, Component: Panel

#9783 updateReleaseNotes updates and other build things
  apps/fabric-website/homepage.htm
  change/@uifabric-codepen-loader-2019-07-11-18-19-16-releasenotes.json
  change/@uifabric-fabric-website-2019-07-11-18-19-16-releasenotes.json
  common/config/rush/shrinkwrap.yaml
  packages/codepen-loader/just.config.js
  scripts/find-config.js
  scripts/just.config.js
  scripts/package.json
  scripts/updateReleaseNotes.js
Labels: AutoMerge

#9828 Chiclet: Removes imageHeight and imageWidth props
  change/@uifabric-experiments-2019-07-16-16-04-11-chicletPreviewSizingFix.json
  packages/experiments/src/components/Chiclet/Chiclet.types.ts
  packages/experiments/src/components/Chiclet/ChicletCard.base.tsx
  packages/experiments/src/components/Chiclet/ChicletCard.styles.ts
  packages/experiments/src/components/Chiclet/ChicletXsmall.base.tsx
  packages/experiments/src/components/Chiclet/__snapshots__/ChicletCard.test.tsx.snap
  packages/experiments/src/components/Chiclet/__snapshots__/ChicletXsmall.test.tsx.snap
  packages/experiments/src/utilities/chicletHelper.tsx
Labels: AutoMerge, Package: experiments

#9782 Cherry-pick #9517 to 6.0
  apps/vr-tests/src/stories/Tile.stories.tsx
  common/changes/@uifabric/experiments/jocobb-tile-meta-hover_2019-06-19-23-23.json
  packages/experiments/src/components/Tile/Tile.scss
  packages/experiments/src/components/Tile/Tile.tsx
  packages/experiments/src/components/Tile/Tile.types.ts
  packages/experiments/src/components/Tile/examples/Tile.Example.scss
  packages/experiments/src/components/Tile/examples/Tile.Media.Example.tsx
  packages/experiments/src/components/TilesList/examples/TilesList.Media.Example.tsx
Labels: Fabric 6, Package: experiments

#9845 Tooltip: remove BaseComponent and fix 2 issues
  change/office-ui-fabric-react-2019-07-17-15-51-10-shield-TooltipCloseDelay.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/Tooltip/Tooltip.base.tsx
  packages/office-ui-fabric-react/src/components/Tooltip/Tooltip.styles.ts
  packages/office-ui-fabric-react/src/components/Tooltip/Tooltip.test.tsx
  packages/office-ui-fabric-react/src/components/Tooltip/Tooltip.types.ts
  packages/office-ui-fabric-react/src/components/Tooltip/TooltipHost.base.tsx
  packages/office-ui-fabric-react/src/components/Tooltip/TooltipHost.test.tsx
Labels: AutoMerge, Component: Tooltip, PR: API Modified

#9860 Bumping screener packages (cherrypick of #9853 into Fabric 6)
  apps/vr-tests/package.json
  common/config/rush/shrinkwrap.yaml
Labels: Fabric 6

#9855 Backport of #9798 into Fabric 6
  apps/fabric-website-resources/package.json
  common/changes/@uifabric/api-docs/reactPeerDependencies_2019-07-18-17-42.json
  common/changes/@uifabric/azure-themes/reactPeerDependencies_2019-07-18-17-42.json
  common/changes/@uifabric/charting/reactPeerDependencies_2019-07-18-17-42.json
  common/changes/@uifabric/date-time/reactPeerDependencies_2019-07-18-17-42.json
  common/changes/@uifabric/example-app-base/reactPeerDependencies_2019-07-18-17-42.json
  common/changes/@uifabric/experiments/reactPeerDependencies_2019-07-18-17-42.json
  common/changes/@uifabric/fabric-website-resources/reactPeerDependencies_2019-07-18-17-42.json
  common/changes/@uifabric/fabric-website/reactPeerDependencies_2019-07-18-17-42.json
  common/changes/@uifabric/file-type-icons/reactPeerDependencies_2019-07-18-17-42.json
  common/changes/@uifabric/fluent-theme/reactPeerDependencies_2019-07-18-17-42.json
  common/changes/@uifabric/foundation/reactPeerDependencies_2019-07-18-17-42.json
  common/changes/@uifabric/icons/reactPeerDependencies_2019-07-18-17-42.json
  common/changes/@uifabric/jest-serializer-merge-styles/reactPeerDependencies_2019-07-18-17-42.json
  common/changes/@uifabric/merge-styles/reactPeerDependencies_2019-07-18-17-42.json
  common/changes/@uifabric/migration/reactPeerDependencies_2019-07-18-17-42.json
  common/changes/@uifabric/react-cards/reactPeerDependencies_2019-07-18-17-42.json
  common/changes/@uifabric/styling/reactPeerDependencies_2019-07-18-17-42.json
  common/changes/@uifabric/test-utilities/reactPeerDependencies_2019-07-18-17-42.json
  common/changes/@uifabric/theme-samples/reactPeerDependencies_2019-07-18-17-42.json
  common/changes/@uifabric/utilities/reactPeerDependencies_2019-07-18-17-42.json
  common/changes/@uifabric/variants/reactPeerDependencies_2019-07-18-17-42.json
  common/changes/office-ui-fabric-react/reactPeerDependencies_2019-07-18-17-42.json
  packages/charting/package.json
  packages/date-time/package.json
  packages/example-app-base/package.json
  packages/experiments/package.json
  packages/file-type-icons/package.json
  packages/foundation-scenarios/package.json
  packages/foundation/package.json
  packages/lists/package.json
  packages/office-ui-fabric-react/package.json
  packages/react-cards/package.json
  packages/test-utilities/package.json
  packages/utilities/package.json
Labels: Fabric 6

#9864 Build improvements + improve way to do query param settings on website
  .vscode/settings.json
  apps/fabric-website-resources/config/pre-copy.json
  apps/fabric-website-resources/index.html
  apps/fabric-website-resources/src/AppDefinition.tsx
  apps/fabric-website/index.html
  apps/fabric-website/src/utilities/location.ts
  apps/vr-tests/screener.config.js
  change/@uifabric-charting-2019-07-18-17-23-45-buildissues.json
  change/@uifabric-codepen-loader-2019-07-18-17-48-09-buildissues.json
  change/@uifabric-date-time-2019-07-18-17-23-45-buildissues.json
  change/@uifabric-example-app-base-2019-07-18-17-23-45-buildissues.json
  change/@uifabric-experiments-2019-07-18-17-23-45-buildissues.json
  change/@uifabric-fabric-website-2019-07-18-17-48-09-buildissues.json
  change/@uifabric-fabric-website-resources-2019-07-18-17-23-45-buildissues.json
  change/@uifabric-foundation-scenarios-2019-07-18-17-23-45-buildissues.json
  change/@uifabric-icons-2019-07-19-09-44-47-buildissues.json
  change/@uifabric-react-cards-2019-07-18-17-23-45-buildissues.json
  change/office-ui-fabric-react-2019-07-19-09-44-47-buildissues.json
  packages/charting/config/pre-copy.json
  packages/charting/index.html
  packages/charting/src/demo/AppDefinition.tsx
  packages/codepen-loader/jest.config.js
  packages/date-time/config/pre-copy.json
  packages/date-time/index.html
  packages/example-app-base/index.html
  packages/example-app-base/src/components/App/App.tsx
  packages/example-app-base/src/utilities/extractAnchorLink.test.ts
  packages/example-app-base/src/utilities/extractAnchorLink.ts
  packages/example-app-base/src/utilities/getQueryParam.test.ts
  packages/example-app-base/src/utilities/getQueryParam.ts
  packages/example-app-base/src/utilities/getSiteArea.ts
  packages/example-app-base/src/utilities/index2.ts
  packages/example-app-base/src/utilities/removeAnchorLink.test.ts
  packages/example-app-base/src/utilities/removeAnchorLink.ts
  packages/example-app-base/src/utilities/settings.ts
  packages/experiments/config/pre-copy.json
  packages/experiments/index.html
  packages/experiments/src/demo/AppDefinition.tsx
  packages/foundation-scenarios/config/pre-copy.json
  packages/foundation-scenarios/index.html
  packages/foundation-scenarios/src/demo/AppDefinition.tsx
  packages/foundation-scenarios/webpack.config.js
  packages/icons/config/pre-copy.json
  packages/lists/config/pre-copy.json
  packages/lists/index.html
  packages/lists/src/demo/AppDefinition.tsx
  packages/office-ui-fabric-react/config/pre-copy.json
  packages/react-cards/config/pre-copy.json
  packages/react-cards/index.html
  packages/react-cards/src/demo/AppDefinition.tsx
  packages/tsx-editor/config/pre-copy.json
  packages/tsx-editor/index.html
  packages/tsx-editor/src/demo/index.tsx
  scripts/create-package.js
  scripts/jest/jest-setup.js
  scripts/templates/create-package/EmptyAppDefinition.mustache
  scripts/templates/create-package/EmptyIndexHtml.mustache
  scripts/templates/create-package/EmptyPreCopy.mustache
Labels: Area: Build System, Area: Website

#9874 DetailsList: Remove BaseComponent inheritance and some unnecessary class components
  change/office-ui-fabric-react-2019-07-19-11-46-31-details-basecomponent.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/Check/Check.base.tsx
  packages/office-ui-fabric-react/src/components/Check/Check.types.ts
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsColumn.base.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsHeader.base.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsList.base.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsRow.base.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsRowCheck.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsRowFields.tsx
Labels: AutoMerge, Component: Check, Component: DetailsList, PR: API Modified

#9777 Nav and Tile: Add ability for screen reader to read selected state
  change/@uifabric-experiments-2019-07-17-14-37-01-inateeg-0703accessbility.json
  change/office-ui-fabric-react-2019-07-17-14-37-01-inateeg-0703accessbility.json
  packages/experiments/src/components/Tile/Tile.tsx
  packages/experiments/src/components/Tile/Tile.types.ts
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/Nav/Nav.base.tsx
  packages/office-ui-fabric-react/src/components/Nav/Nav.types.ts
  packages/office-ui-fabric-react/src/components/Nav/examples/Nav.Basic.Example.tsx
  packages/office-ui-fabric-react/src/components/__snapshots__/Nav.Basic.Example.tsx.shot
Labels: Component: Nav

#9734 Theme designer: adding colorpickers for Fabric Palette slots
  apps/theming-designer/src/components/AccessibilityChecker.tsx
  apps/theming-designer/src/components/AccessibilityDetailsList.tsx
  apps/theming-designer/src/components/FabricPalette.tsx
  apps/theming-designer/src/components/FabricSlotWidget.tsx
  apps/theming-designer/src/components/ThemeDesignerColorPicker.tsx
  apps/theming-designer/src/components/ThemeSlots.tsx
  apps/theming-designer/src/components/ThemingDesigner.tsx
Labels: AutoMerge

#9870 LayerExample: Fix it so that panel dismisses properly.
  change/office-ui-fabric-react-2019-07-19-09-38-23-fix-layer-example.json
  packages/office-ui-fabric-react/src/components/Layer/examples/Layer.Customized.Example.tsx
Labels: AutoMerge, Component: Layer

#9875 DetailsList and Check styling optimizations
  change/office-ui-fabric-react-2019-07-19-12-03-56-details-styling.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/Check/Check.styles.ts
  packages/office-ui-fabric-react/src/components/Check/Check.types.ts
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsColumn.styles.ts
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsHeader.styles.ts
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsList.styles.ts
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsRow.styles.ts
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsRowCheck.styles.ts
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsRowCheck.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsRowCheck.types.ts
  packages/office-ui-fabric-react/src/components/DetailsList/__snapshots__/DetailsHeader.test.tsx.snap
  packages/office-ui-fabric-react/src/components/DetailsList/__snapshots__/DetailsList.test.tsx.snap
  packages/office-ui-fabric-react/src/components/DetailsList/__snapshots__/DetailsRow.test.tsx.snap
  packages/office-ui-fabric-react/src/components/DetailsList/__snapshots__/ShimmeredDetailsList.test.tsx.snap
  packages/office-ui-fabric-react/src/components/__snapshots__/Announced.BulkOperations.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Announced.QuickActions.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Advanced.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Animation.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Compact.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.CustomColumns.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.CustomFooter.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.CustomGroupHeaders.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.CustomRows.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.DragDrop.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Grouped.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Grouped.Large.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.NavigatingFocus.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/HoverCard.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/HoverCard.PlainCard.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/HoverCard.Target.Example.tsx.shot
Labels: AutoMerge, Component: Check, Component: DetailsList

#9843 Default Effects: Export from Styling index
  change/@uifabric-styling-2019-07-17-13-56-39-export-defaulteffects.json
  packages/styling/etc/styling.api.md
  packages/styling/src/interfaces/IEffects.ts
  packages/styling/src/styles/index.ts
Labels: AutoMerge

#9883 Details____ general cleanup
  change/office-ui-fabric-react-2019-07-21-23-15-27-details-cleanup.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsColumn.base.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsHeader.base.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsHeader.types.ts
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsRow.base.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsRow.types.ts
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsRowFields.types.ts
  packages/office-ui-fabric-react/src/utilities/dragdrop/DragDropHelper.tsx
Labels: AutoMerge, Component: DetailsList, PR: API Modified

#9872 Adding support to add custom attributes on SpinButton and ComboBox
  change/office-ui-fabric-react-2019-07-19-10-16-35-master.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/ComboBox/ComboBox.tsx
  packages/office-ui-fabric-react/src/components/ComboBox/ComboBox.types.ts
  packages/office-ui-fabric-react/src/components/SpinButton/SpinButton.tsx
  packages/office-ui-fabric-react/src/components/SpinButton/SpinButton.types.ts
Labels: PR: API Modified

#9841 Tooltip: fluent update
  change/office-ui-fabric-react-2019-07-17-12-44-34-v-mare-Tooltip-fluent-fab6-to-fab7-port.json
  packages/office-ui-fabric-react/src/components/Tooltip/Tooltip.styles.ts
Labels: Area: Fluent, AutoMerge, Component: Tooltip

#9889 Chiclet: url prop fix
  change/@uifabric-experiments-2019-07-22-11-52-49-chicletUrlFix.json
  packages/experiments/src/components/Chiclet/Chiclet.test.tsx
  packages/experiments/src/components/Chiclet/Chiclet.types.ts
  packages/experiments/src/components/Chiclet/ChicletCard.test.tsx
  packages/experiments/src/components/Chiclet/ChicletXsmall.base.tsx
  packages/experiments/src/components/Chiclet/__snapshots__/Chiclet.test.tsx.snap
  packages/experiments/src/components/Chiclet/__snapshots__/ChicletCard.test.tsx.snap
Labels: AutoMerge, Package: experiments

#9905 [MarqueeSelection] making mousemove event bind to capture phase to work inside Layers
  change/office-ui-fabric-react-2019-07-22-18-36-03-lorejoh-fixingMarqueeSelectionCallout.json
  packages/office-ui-fabric-react/src/components/MarqueeSelection/MarqueeSelection.base.tsx
Labels: Component: MarqueeSelection

#9892 ColorPicker: fluent update
  change/office-ui-fabric-react-2019-07-22-12-52-52-v-mare-ColorPicker-fluent-fab6-to-fab7-port.json
  packages/office-ui-fabric-react/src/components/ColorPicker/ColorRectangle/ColorRectangle.styles.ts
  packages/office-ui-fabric-react/src/components/ColorPicker/ColorRectangle/__snapshots__/ColorRectangle.test.tsx.snap
  packages/office-ui-fabric-react/src/components/ColorPicker/__snapshots__/ColorPicker.test.tsx.snap
  packages/office-ui-fabric-react/src/components/__snapshots__/ColorPicker.Basic.Example.tsx.shot
Labels: Area: Fluent, Component: ColorPicker

#9865 Spinner: fluent update
  change/office-ui-fabric-react-2019-07-18-18-03-55-v-mare-Spinner-fab6-to-fab7-port.json
  packages/office-ui-fabric-react/src/components/Spinner/Spinner.styles.tsx
  packages/office-ui-fabric-react/src/components/Spinner/__snapshots__/Spinner.test.tsx.snap
  packages/office-ui-fabric-react/src/components/__snapshots__/Spinner.Labeled.Example.tsx.shot
Labels: Area: Fluent, Component: Spinner

#9848 Rating: fix aria label for readOnly mode and when using half star. Refactor out BaseComponent
  apps/a11y-tests/src/tests/__snapshots__/ComponentExamples.test.tsx.snap
  change/office-ui-fabric-react-2019-07-17-20-57-21-shield-RatingReadOnlyModeAriaLable.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/Rating/Rating.base.tsx
  packages/office-ui-fabric-react/src/components/Rating/Rating.styles.ts
  packages/office-ui-fabric-react/src/components/Rating/Rating.types.ts
  packages/office-ui-fabric-react/src/components/Rating/__snapshots__/Rating.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Rating/examples/Rating.Basic.Example.tsx
  packages/office-ui-fabric-react/src/components/__snapshots__/Rating.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Rating.ButtonControlled.Example.tsx.shot
Labels: Component: Rating

#9897 Multiselect ComboBox options should respect disabled setting
  change/office-ui-fabric-react-2019-07-22-13-52-55-combobox-disabled.json
  packages/office-ui-fabric-react/src/components/ComboBox/ComboBox.tsx
Labels: AutoMerge, Component: ComboBox

#9823 Facepile Not Announcing Position in Set Correctly
  apps/a11y-tests/src/tests/__snapshots__/ComponentExamples.test.tsx.snap
  change/office-ui-fabric-react-2019-07-17-09-09-59-tabrumle-FixFacepileAriaPosInSet.json
  packages/office-ui-fabric-react/src/components/Facepile/Facepile.base.tsx
  packages/office-ui-fabric-react/src/components/Facepile/__snapshots__/Facepile.test.tsx.snap
  packages/office-ui-fabric-react/src/components/__snapshots__/Facepile.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Facepile.Overflow.Example.tsx.shot
Labels: AutoMerge, Component: Facepile

#9907 fix wrong row accessibility issue in CalendarMonth
  change/office-ui-fabric-react-2019-07-23-15-09-50-qqli1209-fix-calendarMonth-a11y.json
  packages/office-ui-fabric-react/src/components/Calendar/CalendarMonth.tsx
  packages/office-ui-fabric-react/src/components/Calendar/__snapshots__/Calendar.test.tsx.snap
Labels: Component: Calendar

#9839 Date time readme update
  change/@uifabric-date-time-2019-07-23-13-33-56-date-time-readme.json
  packages/date-time/README.md
Labels: Area: Documentation, AutoMerge, Package: date-time

#9920 Cherry pick PRs #9654 and #9580 into 6.0
  common/changes/office-ui-fabric-react/panel-classnames-recalc_2019-06-26-00-10.json
  common/changes/office-ui-fabric-react/panel-remove-windowheight_2019-07-02-01-32.json
  packages/office-ui-fabric-react/src/components/Panel/Panel.base.tsx
  packages/office-ui-fabric-react/src/components/Panel/Panel.styles.ts
  packages/office-ui-fabric-react/src/components/Panel/__snapshots__/Panel.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Panel/examples/Panel.Scroll.Example.tsx
  packages/office-ui-fabric-react/src/components/__snapshots__/Panel.HiddenOnDismiss.Example.tsx.shot
Labels: AutoMerge, Component: Panel, Fabric 6

#9919 Update colors implementation info
  apps/fabric-website/src/pages/Styles/Colors/MessagingPage.tsx
  apps/fabric-website/src/pages/Styles/Colors/NeutralsPage.tsx
  apps/fabric-website/src/pages/Styles/Colors/PersonasPage.tsx
  apps/fabric-website/src/pages/Styles/Colors/PresencePage.tsx
  apps/fabric-website/src/pages/Styles/Colors/ProductsPage.tsx
  apps/fabric-website/src/pages/Styles/Colors/SharedPage.tsx
  apps/fabric-website/src/pages/Styles/Colors/getColorsImplementation.tsx
  change/@uifabric-fabric-website-2019-07-23-17-28-20-website-colors.json
Labels: Area: Website, AutoMerge

#9926 No more prepush for beachball change checks
  .githooks/pre-push
Labels: AutoMerge

#9910 ChoiceGroup: Updating typings for options to include input attributes.
  change/office-ui-fabric-react-2019-07-23-08-22-05-choicegroup-type.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/ChoiceGroup/ChoiceGroup.test.tsx
  packages/office-ui-fabric-react/src/components/ChoiceGroup/ChoiceGroup.types.ts
  packages/office-ui-fabric-react/src/components/ChoiceGroup/__snapshots__/ChoiceGroup.test.tsx.snap
Labels: Component: ChoiceGroup

#9928 Adds aria label to custom picker on the demo page
  change/office-ui-fabric-react-2019-07-24-15-54-55-susunda-add-aria-label-to-custom-picker.json
  packages/office-ui-fabric-react/src/components/pickers/examples/Picker.CustomResult.Example.tsx
Labels: Component: Pickers

#9930 ShimmeredDetailsList: enable execution of additional logic before rendering the shimmer row.
  change/office-ui-fabric-react-2019-07-24-19-12-32-vibraga-ShimmeredDetailsList-onRenderMissingItem.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/DetailsList/ShimmeredDetailsList.base.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/ShimmeredDetailsList.types.ts
Labels: AutoMerge, Component: DetailsList, Component: Shimmer, PR: API Modified

#9736 SearchBox semantic colors
  common/changes/@uifabric/fluent-theme/v-mare-SearchBox-semanticColors_2019-07-08-23-21.json
  packages/fluent-theme/src/fluent/styles/SearchBox.styles.ts
Labels: Component: SearchBox, Fabric 6, Package: fluent-theme

#9861 Bumping screener packages (cherrypick of #9853 into Fabric 5).
  apps/vr-tests/package.json
  apps/vr-tests/screener.config.js
  apps/vr-tests/screener.local.config.js
  common/config/rush/npm-shrinkwrap.json
Labels: Fabric 5

#9943 SpinButton: refactor out BaseComponent.
  change/office-ui-fabric-react-2019-07-25-11-30-40-spinbutton_bundle.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/SpinButton/SpinButton.tsx
Labels: AutoMerge, Component: SpinButton

#9915 Add multiple item file icon type in Fabric 6
  common/changes/@uifabric/file-type-icons/6.0_2019-07-24-16-36.json
  packages/file-type-icons/src/FileIconType.ts
  packages/file-type-icons/src/FileTypeIconMap.ts
  packages/file-type-icons/src/getFileTypeIconProps.ts
Labels: Fabric 6

#9924 Backport PR #9907 fix CalendarMonth row to 6.0
  common/changes/office-ui-fabric-react/qianql-fix-calendarMonth-6.0_2019-07-24-05-17.json
  packages/office-ui-fabric-react/src/components/Calendar/CalendarMonth.tsx
  packages/office-ui-fabric-react/src/components/Calendar/__snapshots__/Calendar.test.tsx.snap
Labels: Component: Calendar, Fabric 6

#9951 Pivot: fix center alignment of pivot tab text
  change/office-ui-fabric-react-2019-07-25-18-55-19-vibraga-PivotStylesFlex.json
  packages/office-ui-fabric-react/src/components/Pivot/Pivot.styles.ts
  packages/office-ui-fabric-react/src/components/Pivot/__snapshots__/Pivot.deprecated.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Pivot/__snapshots__/Pivot.test.tsx.snap
  packages/office-ui-fabric-react/src/components/__snapshots__/Keytips.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Pivot.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Pivot.Fabric.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Pivot.IconCount.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Pivot.Large.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Pivot.OnChange.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Pivot.Override.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Pivot.Remove.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Pivot.Separate.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Pivot.SeparateNoSelectedKey.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Pivot.Tabs.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Pivot.TabsLarge.Example.tsx.shot
Labels: Component: Pivot

#9950 Panel: fix header and footer flex shrink issue
  change/office-ui-fabric-react-2019-07-25-18-19-07-master.json
  packages/office-ui-fabric-react/src/components/Panel/Panel.styles.ts
  packages/office-ui-fabric-react/src/components/Panel/__snapshots__/Panel.test.tsx.snap
  packages/office-ui-fabric-react/src/components/__snapshots__/Panel.HiddenOnDismiss.Example.tsx.shot
Labels: Component: Panel

#9840 Panel: Change click listener to mousedown listener so that Panels aren't dismissed on mouseup (cherrypick of #5948)
  common/changes/office-ui-fabric-react/panelDismiss_2019-07-17-18-46.json
  packages/office-ui-fabric-react/src/components/Panel/Panel.tsx
Labels: Component: Panel, Fabric 5

#9955 6.0: Disable Perf Test
  azure-pipelines.yml
Labels: Fabric 6

#9922 Shimmer: refactor out BaseComponent
  change/office-ui-fabric-react-2019-07-23-18-38-27-vibraga-ShimmerRefactor.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/Shimmer/Shimmer.base.tsx
  packages/office-ui-fabric-react/src/components/Shimmer/ShimmerCircle/ShimmerCircle.base.tsx
  packages/office-ui-fabric-react/src/components/Shimmer/ShimmerElementsGroup/ShimmerElementsGroup.base.tsx
  packages/office-ui-fabric-react/src/components/Shimmer/ShimmerGap/ShimmerGap.base.tsx
  packages/office-ui-fabric-react/src/components/Shimmer/ShimmerLine/ShimmerLine.base.tsx
  packages/office-ui-fabric-react/src/components/Shimmer/ShimmerLine/ShimmerLine.styles.ts
  packages/office-ui-fabric-react/src/components/Shimmer/__snapshots__/Shimmer.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Shimmer/examples/Shimmer.Application.Example.tsx
  packages/office-ui-fabric-react/src/components/Shimmer/examples/Shimmer.Basic.Example.tsx
  packages/office-ui-fabric-react/src/components/Shimmer/examples/Shimmer.CustomElements.Example.tsx
  packages/office-ui-fabric-react/src/components/Shimmer/examples/Shimmer.LoadData.Example.tsx
  packages/office-ui-fabric-react/src/components/Shimmer/examples/Shimmer.Styling.Example.tsx
  packages/office-ui-fabric-react/src/components/__snapshots__/Shimmer.Application.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Shimmer.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Shimmer.CustomElements.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Shimmer.LoadData.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Shimmer.Styling.Example.tsx.shot
Labels: Component: Shimmer, PR: API Modified

#9927 Fix Typo in README (s)
  change/@uifabric-azure-themes-2019-07-25-11-05-53-master.json
  packages/azure-themes/README.md
Labels: AutoMerge

#9929 Chiclet: adds in preview prop and removes logic to fetch file type icons
  change/@uifabric-experiments-2019-07-24-17-35-39-chicletUpdatesOther.json
  packages/experiments/src/components/Chiclet/Chiclet.base.tsx
  packages/experiments/src/components/Chiclet/Chiclet.test.tsx
  packages/experiments/src/components/Chiclet/Chiclet.types.ts
  packages/experiments/src/components/Chiclet/ChicletCard.base.tsx
  packages/experiments/src/components/Chiclet/ChicletCard.styles.ts
  packages/experiments/src/components/Chiclet/ChicletCard.types.ts
  packages/experiments/src/components/Chiclet/ChicletHelper.test.tsx
  packages/experiments/src/components/Chiclet/ChicletPage.tsx
  packages/experiments/src/components/Chiclet/ChicletXsmall.base.tsx
  packages/experiments/src/components/Chiclet/ChicletXsmall.styles.tsx
  packages/experiments/src/components/Chiclet/__snapshots__/Chiclet.test.tsx.snap
  packages/experiments/src/components/Chiclet/examples/Chiclet.Footer.Example.tsx
  packages/experiments/src/components/Chiclet/examples/Chiclet.Preview.Example.tsx
  packages/experiments/src/components/Chiclet/examples/Chiclet.Xsmall.Example.tsx
  packages/experiments/src/components/Chiclet/examples/Chiclet.Xsmall.Footer.Example.tsx
  packages/experiments/src/utilities/chicletHelper.tsx
Labels: AutoMerge, Package: experiments

#9949 Fix cell animations so they only trigger on valid cell key changes
  change/office-ui-fabric-react-2019-07-25-18-15-26-details-animation-state.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsRow.base.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsRowFields.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsRowFields.types.ts
  packages/office-ui-fabric-react/src/components/DetailsList/__snapshots__/DetailsList.test.tsx.snap
  packages/office-ui-fabric-react/src/components/DetailsList/__snapshots__/DetailsRow.test.tsx.snap
  packages/office-ui-fabric-react/src/components/__snapshots__/Announced.BulkOperations.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Announced.QuickActions.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Advanced.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Animation.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Compact.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.CustomColumns.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.CustomFooter.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.CustomGroupHeaders.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.CustomRows.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Documents.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.DragDrop.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Grouped.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Grouped.Large.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.NavigatingFocus.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/FocusZone.List.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/HoverCard.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/HoverCard.PlainCard.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/HoverCard.Target.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Text.Ramp.Example.tsx.shot
Labels: AutoMerge, Component: DetailsList

#9964 Example-app-base: replace deprecated Stack props
  change/@uifabric-example-app-base-2019-07-26-18-53-25-vibraga-MessageBar-strog-variant-theme.json
  packages/example-app-base/src/components/ApiReferencesTable/ApiReferencesTable.tsx
  packages/example-app-base/src/components/ApiReferencesTable/ApiReferencesTableSet.tsx
  packages/example-app-base/src/components/ComponentPage/ComponentPage.tsx
Labels: Area: Website, AutoMerge

#9958 Dropdown: Panel now dismisses in small widths
  change/office-ui-fabric-react-2019-07-26-13-41-47-dropdown-fix.json
  packages/office-ui-fabric-react/src/components/Dropdown/Dropdown.base.tsx
  packages/office-ui-fabric-react/src/components/Panel/Panel.types.ts
Labels: Component: Dropdown

#9937 TeachingBubble: Fix primary button high contrast styling issues
  change/office-ui-fabric-react-2019-07-25-10-08-59-teachingBubbleHighContrast.json
  packages/office-ui-fabric-react/src/components/TeachingBubble/TeachingBubble.styles.ts
  packages/office-ui-fabric-react/src/components/TeachingBubble/__snapshots__/TeachingBubble.test.tsx.snap
Labels: AutoMerge, Component: TeachingBubble

#9967 [Cherry-pick] Fix cell animations so they only trigger on valid cell key changes
  common/changes/office-ui-fabric-react/hotfix-6.0-details-animations_2019-07-29-03-55.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsRow.base.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsRowFields.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsRowFields.types.ts
  packages/office-ui-fabric-react/src/components/DetailsList/__snapshots__/DetailsList.test.tsx.snap
  packages/office-ui-fabric-react/src/components/DetailsList/__snapshots__/DetailsRow.test.tsx.snap
  packages/office-ui-fabric-react/src/components/__snapshots__/Announced.BulkOperations.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Announced.QuickActions.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Advanced.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Animation.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Compact.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.CustomColumns.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.CustomFooter.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.CustomGroupHeaders.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.CustomRows.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Documents.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.DragDrop.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Grouped.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Grouped.Large.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.NavigatingFocus.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/FocusZone.List.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/HoverCard.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/HoverCard.PlainCard.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/HoverCard.Target.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Text.Ramp.Example.tsx.shot
Labels: AutoMerge, Component: DetailsList, Fabric 6, PR: API Modified

#9975 Backport of #9798 into Fabric 5
  common/changes/@uifabric/example-app-base/reactPeerDependencies_2019-07-29-18-16.json
  common/changes/@uifabric/experiments/reactPeerDependencies_2019-07-29-18-16.json
  common/changes/@uifabric/fabric-website/reactPeerDependencies_2019-07-29-18-16.json
  common/changes/@uifabric/file-type-icons/reactPeerDependencies_2019-07-29-18-16.json
  common/changes/@uifabric/utilities/reactPeerDependencies_2019-07-29-18-16.json
  common/changes/@uifabric/variants/reactPeerDependencies_2019-07-29-18-16.json
  common/changes/office-ui-fabric-react/reactPeerDependencies_2019-07-29-18-16.json
  packages/example-app-base/package.json
  packages/experiments/package.json
  packages/file-type-icons/package.json
  packages/office-ui-fabric-react/package.json
  packages/utilities/package.json
Labels: Fabric 5

#9605 Button: Making Button variants themable by using createComponent instead of wrappers
  apps/vr-tests/src/stories/NewButton.stories.tsx
  change/@uifabric-experiments-2019-07-03-12-39-27-buttonStylingVariants.json
  packages/experiments/src/components/Button/ActionButton.tsx
  packages/experiments/src/components/Button/Button.styles.ts
  packages/experiments/src/components/Button/Button.view.tsx
  packages/experiments/src/components/Button/ButtonPage.tsx
  packages/experiments/src/components/Button/ButtonVariants.types.ts
  packages/experiments/src/components/Button/ButtonVariants/ActionButton.tsx
  packages/experiments/src/components/Button/ButtonVariants/ButtonVariants.test.tsx
  packages/experiments/src/components/Button/ButtonVariants/CommandBarButton.tsx
  packages/experiments/src/components/Button/ButtonVariants/CommandButton.ts
  packages/experiments/src/components/Button/ButtonVariants/CompoundButton.tsx
  packages/experiments/src/components/Button/ButtonVariants/DefaultButton.tsx
  packages/experiments/src/components/Button/ButtonVariants/IconButton.tsx
  packages/experiments/src/components/Button/ButtonVariants/MessageBarButton.tsx
  packages/experiments/src/components/Button/ButtonVariants/PrimaryButton.tsx
  packages/experiments/src/components/Button/ButtonVariants/__snapshots__/ButtonVariants.test.tsx.snap
  packages/experiments/src/components/Button/ButtonVariants/index.ts
  packages/experiments/src/components/Button/CommandButton.ts
  packages/experiments/src/components/Button/CompoundButton.tsx
  packages/experiments/src/components/Button/DefaultButton.tsx
  packages/experiments/src/components/Button/IconButton.tsx
  packages/experiments/src/components/Button/MessageBarButton.tsx
  packages/experiments/src/components/Button/PrimaryButton.tsx
  packages/experiments/src/components/Button/SplitButton/SplitButton.styles.ts
  packages/experiments/src/components/Button/SplitButton/SplitButton.types.tsx
  packages/experiments/src/components/Button/SplitButton/SplitButton.view.tsx
  packages/experiments/src/components/Button/__snapshots__/Button.test.tsx.snap
  packages/experiments/src/components/Button/examples/Button.Variants.Example.tsx
  packages/experiments/src/components/Button/index.ts
Labels: AutoMerge, Component: Button, Package: experiments

#9977 Backport beachball to 6.0 branch so cherrypicking would be easier from 7.0 to this branch (vice versa)
  azure-pipelines.release.yml
  azure-pipelines.yml
  change/office-ui-fabric-react-2019-07-29-14-10-06.json
  common/changes/@uifabric/codepen-loader/create-page-script_2019-05-17-21-36.json
  common/changes/@uifabric/codepen-loader/just_2019-05-21-04-02.json
  common/changes/@uifabric/codepen-loader/update-api_2019-05-30-17-29.json
  common/changes/@uifabric/prettier-rules/create-page-script_2019-05-17-21-36.json
  common/changes/@uifabric/prettier-rules/just_2019-05-21-04-02.json
  common/changes/@uifabric/tslint-rules/create-page-script_2019-05-17-21-36.json
  common/changes/@uifabric/tslint-rules/just_2019-05-21-04-02.json
  common/changes/@uifabric/webpack-utils/create-page-script_2019-05-17-21-36.json
  common/changes/@uifabric/webpack-utils/just_2019-05-21-04-02.json
  common/changes/office-ui-fabric-react/hotfix-6.0-details-animations_2019-07-29-03-55.json
  common/config/rush/shrinkwrap.yaml
  package.json
  scripts/convert-change-files.js
  scripts/just.config.js
  scripts/package.json
  scripts/tasks/validate-change-files.js
Labels: Area: Build System, Fabric 6

#9723 HoverCard: separate the 'anchor' for the card from the card's hover-target
  apps/a11y-tests/src/tests/__snapshots__/ComponentExamples.test.tsx.snap
  change/office-ui-fabric-react-2019-07-26-19-56-02-xingwa-hovercard.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/HoverCard/HoverCard.base.tsx
  packages/office-ui-fabric-react/src/components/HoverCard/HoverCard.doc.tsx
  packages/office-ui-fabric-react/src/components/HoverCard/HoverCard.types.ts
  packages/office-ui-fabric-react/src/components/HoverCard/examples/HoverCard.EventListenerTarget.Example.tsx
  packages/office-ui-fabric-react/src/components/__snapshots__/HoverCard.EventListenerTarget.Example.tsx.shot
Labels: Component: HoverCard, PR: API Modified

#9979 Command bar expose datadidrender
  change/office-ui-fabric-react-2019-07-29-13-10-42-command-bar-expose-datadidrender.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/CommandBar/CommandBar.base.tsx
  packages/office-ui-fabric-react/src/components/CommandBar/CommandBar.types.ts
Labels: AutoMerge, Component: CommandBar, PR: API Modified

#9974 SwatchColorPicker: fluent updates
  common/changes/@uifabric/fluent-theme/v-mare-SwatchColorPicker-fluent-updates_2019-07-29-18-00.json
  packages/fluent-theme/src/fluent/styles/ColorPickerGridCell.styles.ts
Labels: Component: SwatchColorPicker, Fabric 6, Package: fluent-theme

#9942 Fix aria-owns attribute on extended picker
  apps/a11y-tests/src/tests/__snapshots__/ComponentExamples.test.tsx.snap
  change/office-ui-fabric-react-2019-07-25-10-58-51-andrescb-extended-picker-owns.json
  packages/office-ui-fabric-react/src/components/ExtendedPicker/BaseExtendedPicker.tsx
  packages/office-ui-fabric-react/src/components/ExtendedPicker/__snapshots__/BaseExtendedPicker.test.tsx.snap
  packages/office-ui-fabric-react/src/components/__snapshots__/ExtendedPeoplePicker.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/ExtendedPeoplePicker.Controlled.Example.tsx.shot
Labels: Component: ExtendedPicker

#9960 Tooltip: Fixing hidden hover area overlapping with Tooltip targets
  change/office-ui-fabric-react-2019-07-26-16-11-58-tooltipHover.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/Tooltip/Tooltip.base.tsx
  packages/office-ui-fabric-react/src/components/Tooltip/Tooltip.styles.ts
  packages/office-ui-fabric-react/src/components/Tooltip/Tooltip.types.ts
Labels: Component: Tooltip

#9987 Change file convert
  change/@uifabric-fluent-theme-2019-07-30-10-14-41.json
  common/changes/@uifabric/fluent-theme/v-mare-SwatchColorPicker-fluent-updates_2019-07-29-18-00.json
Labels: Fabric 6

#9996 a11y-tests: Extend each component's testing deadline
  apps/a11y-tests/src/tests/ComponentExamples.test.tsx
Labels: Fabric 6

#9985 ComboBox: fluent update
  change/@uifabric-fluent-theme-2019-07-31-09-30-15-v-mare-ComboBox-fluent-update.json
  packages/fluent-theme/src/fluent/styles/Callout.styles.ts
  packages/fluent-theme/src/fluent/styles/ComboBox.styles.ts
Labels: Component: ComboBox, Fabric 6, Package: fluent-theme

#9983 Cherrypick of #9777: Nav link and item tile selected state accessibility
  change/@uifabric-experiments-2019-07-17-14-37-01-inateeg-0703accessbility.json
  change/office-ui-fabric-react-2019-07-17-14-37-01-inateeg-0703accessbility.json
  packages/experiments/src/components/Tile/Tile.tsx
  packages/experiments/src/components/Tile/Tile.types.ts
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/Nav/Nav.base.tsx
  packages/office-ui-fabric-react/src/components/Nav/Nav.types.ts
  packages/office-ui-fabric-react/src/components/Nav/examples/Nav.Basic.Example.tsx
  packages/office-ui-fabric-react/src/components/__snapshots__/Nav.Basic.Example.tsx.shot
Labels: Component: Nav, Fabric 6

#10007 Searchbox: remove has input border
  change/@uifabric-fluent-theme-2019-07-31-13-47-09-v-mare-Searchbox-remove-hasInput-border.json
  packages/fluent-theme/src/fluent/styles/SearchBox.styles.ts
Labels: Component: SearchBox, Fabric 6, Package: fluent-theme

#10005 ContextualMenu: revert fluent update
  change/@uifabric-fluent-theme-2019-07-31-11-21-56-v-mare-ContextualMenu-revert-fluent-update.json
  packages/fluent-theme/src/fluent/styles/ContextualMenu.styles.ts
Labels: Component: ContextualMenu, Fabric 6, Package: fluent-theme
