Repository microsoft/fluentui, pull requests merged in 2019-09, with the labels that each got.

#10282 Fabric 6: CherryPick MessageBar: Fix high contrast mode issue where you cannot tell which buttons you have focus on.
  change/office-ui-fabric-react-2019-08-28-08-24-51-cherry-pick-1571ea3.json
  packages/office-ui-fabric-react/src/components/Button/MessageBarButton/MessageBarButton.styles.ts
  packages/office-ui-fabric-react/src/components/MessageBar/MessageBar.styles.ts
  packages/office-ui-fabric-react/src/components/__snapshots__/MessageBar.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/MessageBar.Styled.Example.tsx.shot
Labels: AutoMerge, Component: MessageBar, Fabric 6

#10328 Button: Fixing SplitButton outline when focused
  change/office-ui-fabric-react-2019-08-30-17-46-18-splitButtonFocus.json
  packages/office-ui-fabric-react/src/components/Button/SplitButton/SplitButton.styles.ts
  packages/office-ui-fabric-react/src/components/__snapshots__/Button.CustomSplit.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Button.Split.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/CommandBar.SplitDisabled.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/FocusZone.Tabbable.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Keytips.Button.Example.tsx.shot
Labels: AutoMerge, Component: Button

#10343 fixing generation script for set-version since beachball conversion
  common/config/rush/shrinkwrap.yaml
  scripts/monorepo/findGitRoot.js
  scripts/package.json
  scripts/tasks/generate-version-files.js
Labels: Area: Build System, Fabric 6

#10346 Fix DetailsColumn function mutations due to Function.prototype.bind
  change/office-ui-fabric-react-2019-09-03-17-31-28-keco-details-column-fn-mutate.json
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsColumn.base.tsx
Labels: AutoMerge, Component: DetailsList

#10350 Fixing existing version files and bump all packages to publish correct version files
  apps/fabric-website-resources/src/version.ts
  apps/fabric-website/src/version.ts
  change/@uifabric-azure-themes-2019-09-03-20-37-35-set-version2.json
  change/@uifabric-charting-2019-09-03-20-37-35-set-version2.json
  change/@uifabric-date-time-2019-09-03-20-37-35-set-version2.json
  change/@uifabric-example-app-base-2019-09-03-20-37-35-set-version2.json
  change/@uifabric-experiments-2019-09-03-20-37-35-set-version2.json
  change/@uifabric-fabric-website-2019-09-03-20-37-35-set-version2.json
  change/@uifabric-fabric-website-resources-2019-09-03-20-37-35-set-version2.json
  change/@uifabric-file-type-icons-2019-09-03-20-37-35-set-version2.json
  change/@uifabric-fluent-theme-2019-09-03-20-37-35-set-version2.json
  change/@uifabric-foundation-2019-09-03-20-37-35-set-version2.json
  change/@uifabric-icons-2019-09-03-20-37-35-set-version2.json
  change/@uifabric-jest-serializer-merge-styles-2019-09-03-20-37-35-set-version2.json
  change/@uifabric-merge-styles-2019-09-03-20-37-35-set-version2.json
  change/@uifabric-react-cards-2019-09-03-20-37-35-set-version2.json
  change/@uifabric-styling-2019-09-03-20-37-35-set-version2.json
  change/@uifabric-test-utilities-2019-09-03-20-37-35-set-version2.json
  change/@uifabric-theme-samples-2019-09-03-20-37-35-set-version2.json
  change/@uifabric-utilities-2019-09-03-20-37-35-set-version2.json
  change/@uifabric-variants-2019-09-03-20-37-35-set-version2.json
  change/office-ui-fabric-react-2019-09-03-20-37-35-set-version2.json
  packages/azure-themes/src/version.ts
  packages/charting/src/version.ts
  packages/date-time/src/version.ts
  packages/example-app-base/src/version.ts
  packages/experiments/src/version.ts
  packages/file-type-icons/src/version.ts
  packages/fluent-theme/src/version.ts
  packages/foundation/src/version.ts
  packages/icons/src/version.ts
  packages/jest-serializer-merge-styles/src/version.ts
  packages/merge-styles/src/version.ts
  packages/office-ui-fabric-react/src/version.ts
  packages/react-cards/src/version.ts
  packages/styling/src/version.ts
  packages/test-utilities/src/version.ts
  packages/theme-samples/src/version.ts
  packages/utilities/src/version.ts
  packages/variants/src/version.ts
  scripts/tasks/generate-version-files.js
Labels: Fabric 6

#10344 Checkbox: Tab focus rectangle fix
  change/office-ui-fabric-react-2019-09-03-16-51-13-v-mare-Checkbox-focus-rect-fix.json
  packages/office-ui-fabric-react/src/components/Checkbox/Checkbox.base.tsx
Labels: Component: Checkbox

#10333 Fix dropdownItem style override of azure-themes.
  change/@uifabric-azure-themes-2019-09-02-17-00-24-master.json
  packages/azure-themes/src/azure/styles/DropDown.styles.ts
Labels: Area: Theming, Component: Dropdown

#10319 Fix Dropdown bugs + write new tests + fix bugs in tests
  change/office-ui-fabric-react-2019-08-30-00-10-14-cliffkoh-fix10289.json
  packages/office-ui-fabric-react/src/components/Dropdown/Dropdown.base.tsx
  packages/office-ui-fabric-react/src/components/Dropdown/Dropdown.test.tsx
Labels: AutoMerge, Component: Dropdown

#10361 [6.0] Mark IMarkdownTableCellProps#as as optional to address type-mismatch
  change/@uifabric-example-app-base-2019-09-04-15-19-55-keco-markdown-to-jsx-type.json
  packages/example-app-base/src/components/MarkdownTable/MarkdownTable.types.ts
Labels: Fabric 6

#10271 Slider: Addition of Marks on Slider (Experimental)
  apps/vr-tests/src/stories/NewSlider.stories.tsx
  change/@uifabric-experiments-2019-08-26-15-01-44-slider_experiments.json
  packages/experiments/src/Slider.ts
  packages/experiments/src/components/Slider/Slider.base.tsx
  packages/experiments/src/components/Slider/Slider.styles.tsx
  packages/experiments/src/components/Slider/Slider.test.tsx
  packages/experiments/src/components/Slider/Slider.tsx
  packages/experiments/src/components/Slider/Slider.types.ts
  packages/experiments/src/components/Slider/SliderPage.tsx
  packages/experiments/src/components/Slider/__snapshots__/Slider.test.tsx.snap
  packages/experiments/src/components/Slider/docs/SliderDonts.md
  packages/experiments/src/components/Slider/docs/SliderDos.md
  packages/experiments/src/components/Slider/docs/SliderOverview.md
  packages/experiments/src/components/Slider/examples/Slider.Example.tsx
  packages/experiments/src/components/Slider/examples/Slider.Vertical.Example.tsx
  packages/experiments/src/components/Slider/index.ts
  packages/experiments/src/demo/AppDefinition.tsx
  packages/experiments/src/index.ts
Labels: AutoMerge, Component: Slider, Package: experiments

#10357 Fix Tooltip clickable areas
  change/office-ui-fabric-react-2019-09-04-10-01-47-master.json
  packages/office-ui-fabric-react/src/components/Tooltip/Tooltip.doc.tsx
  packages/office-ui-fabric-react/src/components/Tooltip/Tooltip.styles.ts
  packages/office-ui-fabric-react/src/components/Tooltip/examples/Tooltip.Custom.Example.tsx
Labels: AutoMerge, Component: Tooltip

#10264 ColorPicker: Adding Preview box to the ColorPicker component
  change/office-ui-fabric-react-2019-08-26-16-08-41-feature_enhance_colorpicker.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/ColorPicker/ColorPicker.base.tsx
  packages/office-ui-fabric-react/src/components/ColorPicker/ColorPicker.styles.ts
  packages/office-ui-fabric-react/src/components/ColorPicker/ColorPicker.test.tsx
  packages/office-ui-fabric-react/src/components/ColorPicker/ColorPicker.types.ts
  packages/office-ui-fabric-react/src/components/ColorPicker/__snapshots__/ColorPicker.test.tsx.snap
  packages/office-ui-fabric-react/src/components/ColorPicker/examples/ColorPicker.Basic.Example.tsx
  packages/office-ui-fabric-react/src/components/__snapshots__/ColorPicker.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Advanced.Example.tsx.shot
Labels: Component: ColorPicker, Needs: Author Feedback, Needs: Design 🎨, PR: API Modified

#10306 added isSelectable prop for Tile.types; hide checkbox for non-selectable-item
  change/@uifabric-experiments-2019-08-28-15-55-16-huaxi-tile-selectable.json
  packages/experiments/src/components/Tile/Tile.tsx
  packages/experiments/src/components/Tile/Tile.types.ts
Labels: Package: experiments

#10345 Recompose slots
  change/@uifabric-experiments-2019-09-03-18-53-40-recomposeSlots.json
  change/@uifabric-foundation-2019-09-03-18-53-40-recomposeSlots.json
  packages/experiments/src/slots/SlotsPage.tsx
  packages/experiments/src/slots/examples/Slots.Recomposition.Example.tsx
  packages/foundation/src/next/IComponent.ts
  packages/foundation/src/next/ISlots.ts
  packages/foundation/src/next/composed.test.tsx
  packages/foundation/src/next/composed.tsx
  scripts/tasks/lint-imports.js
Labels: Area: Foundation

#10358 Nav: Added aria-labels to examples
  change/office-ui-fabric-react-2019-09-04-10-20-51-v-mare-Nav-update-example-aria.json
  packages/office-ui-fabric-react/src/components/Nav/examples/Nav.Basic.Example.tsx
  packages/office-ui-fabric-react/src/components/Nav/examples/Nav.CustomGroupHeaders.Example.tsx
  packages/office-ui-fabric-react/src/components/Nav/examples/Nav.FabricDemoApp.Example.tsx
  packages/office-ui-fabric-react/src/components/Nav/examples/Nav.Nested.Example.tsx
  packages/office-ui-fabric-react/src/components/__snapshots__/Nav.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Nav.CustomGroupHeaders.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Nav.Nested.Example.tsx.shot
Labels: AutoMerge, Component: Nav

#10377 Changed base branch to default to 6.0 if no pullrequest
  apps/vr-tests/screener.config.js
Labels: Area: Build System, Fabric 6

#10384 Updated Documentation for Android BottomSheet and Drawer
  apps/fabric-website/src/pages/Controls/BottomSheetPage/docs/android/BottomSheetOverview.md
  apps/fabric-website/src/pages/Controls/DrawerPage/docs/android/DrawerOverview.md
  change/@uifabric-fabric-website-2019-09-06-17-49-55-android-docs-updates.json
Labels: Area: Website, AutoMerge

#10335 Update Nav.base.tsx
  change/office-ui-fabric-react-2019-09-08-19-24-51-patch-1.json
  packages/office-ui-fabric-react/src/components/Nav/Nav.base.tsx
Labels: Component: Nav

#10396 Fix controlled combobox
  change/office-ui-fabric-react-2019-09-09-13-49-16-fix-controlled-combobox.json
  packages/office-ui-fabric-react/src/components/ComboBox/ComboBox.test.tsx
  packages/office-ui-fabric-react/src/components/ComboBox/ComboBox.tsx
Labels: AutoMerge, Component: ComboBox

#10388 Expose hideLegend prop for stacked bar chart
  change/@uifabric-charting-2019-09-09-15-06-50-user-v-ragor-Bug_1070386.json
  packages/charting/src/components/StackedBarChart/MultiStackedBarChart.base.tsx
  packages/charting/src/components/StackedBarChart/MultiStackedBarChart.types.ts
Labels: Package: charting

#10395 Azure theme - DetailsList checkbox visual alignment fix
  change/@uifabric-azure-themes-2019-09-09-14-03-10-master.json
  packages/azure-themes/src/azure/styles/DetailsList.styles.ts
Labels: AutoMerge

#10403 Cherry pick #9110 and #10344 to Show Focus Indicator in Checkbox
  change/office-ui-fabric-react-2019-09-10-15-37-04-lilijing-checkboxFocusIndicator.json
  packages/office-ui-fabric-react/src/components/Checkbox/Checkbox.base.tsx
Labels: AutoMerge, Component: Checkbox, Fabric 6

#10410 Combobox: Fix issue where it would mutate props/state
  change/office-ui-fabric-react-2019-09-10-13-20-05-fix-combobox-mutateprops.json
  packages/office-ui-fabric-react/src/components/ComboBox/ComboBox.test.tsx
  packages/office-ui-fabric-react/src/components/ComboBox/ComboBox.tsx
Labels: AutoMerge, Component: ComboBox

#10162 Persona: Adding size120 to PersonaSize enum, updating API.
  apps/vr-tests/src/stories/Persona.stories.tsx
  change/office-ui-fabric-react-2019-08-16-13-01-08-eddrost-Persona_PersonaSize_addition.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/Persona/Persona.styles.ts
  packages/office-ui-fabric-react/src/components/Persona/Persona.types.ts
  packages/office-ui-fabric-react/src/components/Persona/PersonaCoin/PersonaCoin.styles.ts
  packages/office-ui-fabric-react/src/components/Persona/PersonaConsts.tsx
  packages/office-ui-fabric-react/src/components/Persona/PersonaPresence/PersonaPresence.styles.ts
  packages/office-ui-fabric-react/src/components/Persona/examples/Persona.Basic.Example.tsx
  packages/office-ui-fabric-react/src/components/__snapshots__/Persona.Basic.Example.tsx.shot
Labels: Component: Persona

#10370 Slider: onChanged prop logs Keyboard event
  change/office-ui-fabric-react-2019-09-05-13-49-23-v-mare-Slider-cherry-pick.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/Slider/Slider.base.tsx
  packages/office-ui-fabric-react/src/components/Slider/Slider.test.tsx
  packages/office-ui-fabric-react/src/components/Slider/Slider.types.ts
Labels: Component: Slider, Fabric 6, PR: API Modified

#10392 SpinButton: Conditionally render label and icon container with margin-right
  change/office-ui-fabric-react-2019-09-09-10-22-57-keco-spinbutton-label-container.json
  packages/office-ui-fabric-react/src/components/SpinButton/SpinButton.tsx
Labels: AutoMerge, Component: SpinButton

#10408 More editor updates
  apps/fabric-website/README.md
  apps/fabric-website/src/components/Site/Site.tsx
  change/@uifabric-experiments-2019-09-10-11-33-39-editor-more.json
  change/@uifabric-fabric-website-2019-09-10-11-33-39-editor-more.json
  change/@uifabric-foundation-2019-09-10-11-33-39-editor-more.json
  change/@uifabric-icons-2019-09-10-11-33-39-editor-more.json
  change/@uifabric-tsx-editor-2019-09-10-11-33-39-editor-more.json
  change/office-ui-fabric-react-2019-09-10-11-33-39-editor-more.json
  packages/experiments/src/components/Button/examples/Button.Slots.Example.tsx
  packages/experiments/src/components/Chiclet/examples/Chiclet.Footer.Example.tsx
  packages/experiments/src/components/Chiclet/examples/Chiclet.Xsmall.Footer.Example.tsx
  packages/experiments/src/theming/ThemingPage.tsx
  packages/experiments/src/theming/examples/Theming.Schemes.Custom.Example.tsx
  packages/experiments/src/theming/examples/Theming.Schemes.Variant.Example.tsx
  packages/foundation/config/api-extractor.json
  packages/foundation/etc/foundation.api.md
  packages/foundation/just.config.js
  packages/foundation/package.json
  packages/foundation/src/IHTMLSlots.ts
  packages/foundation/src/hooks/controlled.ts
  packages/icons/config/api-extractor.json
  packages/icons/etc/icons.api.md
  packages/icons/just.config.js
  packages/icons/package.json
  packages/lists/src/components/StaticList/examples/StaticList.Example.tsx
  packages/lists/src/components/StaticList/examples/StaticOrderedList.Example.tsx
  packages/lists/src/components/StaticList/examples/StaticTable.Example.tsx
  packages/office-ui-fabric-react/src/components/CommandBar/examples/CommandBar.CommandBarButtonAs.Example.tsx
  packages/office-ui-fabric-react/src/components/__snapshots__/CommandBar.CommandBarButtonAs.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/pickers/examples/Picker.CustomResult.Example.tsx
  packages/office-ui-fabric-react/src/utilities/selection/examples/Selection.Basic.Example.tsx
  packages/tsx-editor/README.md
  packages/tsx-editor/src/components/Editor.tsx
  packages/tsx-editor/src/components/Editor.types.ts
  packages/tsx-editor/src/components/EditorWrapper.tsx
  packages/tsx-editor/src/components/EditorWrapper.types.ts
  packages/tsx-editor/src/components/TypeScriptSnippet.tsx
  packages/tsx-editor/src/transpiler/transpile.ts
  packages/tsx-editor/src/transpiler/transpileHelpers.test.ts
  packages/tsx-editor/src/transpiler/transpileHelpers.ts
  scripts/tasks/lint-imports.js
Labels: Area: Website

#10421 GroupedList: selected props returned undefined issue
  change/office-ui-fabric-react-2019-09-11-10-42-22-v-mare-GroupedList-onRenderHeader-issue.json
  packages/office-ui-fabric-react/src/components/GroupedList/GroupedListSection.tsx
Labels: AutoMerge, Component: GroupedList

#10430 Adding .b extension to Office file type (Fabric 6)
  change/@uifabric-file-type-icons-2019-09-11-15-40-34-caperez-fluid_filetype_fab6.json
  packages/file-type-icons/src/FileTypeIconMap.ts
Labels: AutoMerge, Fabric 6

#10427 Adding .b extension to Office file type
  change/@uifabric-file-type-icons-2019-09-11-15-21-11-caperez-fluid_filetype.json
  packages/file-type-icons/src/FileTypeIconMap.ts
Labels: AutoMerge

#10422 [WIP/TEST] Build kebabRules map
  change/@uifabric-merge-styles-2019-09-11-20-51-36-mapol-build-kebab-rules-map.json
  packages/merge-styles/src/transforms/kebabRules.ts
Labels: Area: merge-styles

#10294 Add Custom Icons for Message Bar
  change/office-ui-fabric-react-2019-08-29-14-36-16-chiechan-messageBarCustomicons.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/MessageBar/MessageBar.base.tsx
  packages/office-ui-fabric-react/src/components/MessageBar/MessageBar.test.tsx
  packages/office-ui-fabric-react/src/components/MessageBar/MessageBar.types.ts
  packages/office-ui-fabric-react/src/components/MessageBar/examples/MessageBar.Basic.Example.tsx
  packages/office-ui-fabric-react/src/components/__snapshots__/MessageBar.Basic.Example.tsx.shot
Labels: Component: MessageBar, PR: API Modified, Status: Do Not Merge 🚫

#10154 Add useConst and useId hooks
  .github/CODEOWNERS
  change/@uifabric-react-hooks-2019-08-26-22-08-36-hooks.json
  change/@uifabric-utilities-2019-08-26-22-08-36-hooks.json
  change/office-ui-fabric-react-2019-08-26-22-08-36-hooks.json
  packages/office-ui-fabric-react/jest.config.js
  packages/office-ui-fabric-react/package.json
  packages/office-ui-fabric-react/src/components/ChoiceGroup/examples/ChoiceGroup.Label.Example.tsx
  packages/office-ui-fabric-react/src/components/FocusZone/examples/FocusZone.List.Example.tsx
  packages/office-ui-fabric-react/src/components/FocusZone/examples/FocusZone.Photos.Example.tsx
  packages/react-hooks/.npmignore
  packages/react-hooks/.npmrc
  packages/react-hooks/CHANGELOG.json
  packages/react-hooks/CHANGELOG.md
  packages/react-hooks/LICENSE
  packages/react-hooks/README.md
  packages/react-hooks/config/api-extractor.json
  packages/react-hooks/config/tests.js
  packages/react-hooks/etc/react-hooks.api.md
  packages/react-hooks/jest.config.js
  packages/react-hooks/jsconfig.json
  packages/react-hooks/just.config.js
  packages/react-hooks/package.json
  packages/react-hooks/prettier.config.js
  packages/react-hooks/src/index.ts
  packages/react-hooks/src/useConst.test.tsx
  packages/react-hooks/src/useConst.ts
  packages/react-hooks/src/useConstCallback.test.tsx
  packages/react-hooks/src/useConstCallback.ts
  packages/react-hooks/src/useId.test.tsx
  packages/react-hooks/src/useId.ts
  packages/react-hooks/src/version.ts
  packages/react-hooks/tsconfig.json
  packages/react-hooks/tslint.json
  packages/react-hooks/webpack.config.js
  packages/utilities/src/getId.ts
  packages/utilities/src/index.ts
  packages/utilities/src/object.ts
Labels: PR: API Modified

#10424 DatePicker: utilize custom onChange handler when provided
  change/@uifabric-date-time-2019-09-11-14-19-48-datePickerTextFieldOnChange.json
  change/office-ui-fabric-react-2019-09-11-14-19-48-datePickerTextFieldOnChange.json
  packages/date-time/src/components/DatePicker/DatePicker.base.tsx
  packages/office-ui-fabric-react/src/components/DatePicker/DatePicker.base.tsx
  packages/office-ui-fabric-react/src/components/DatePicker/DatePicker.test.tsx
Labels: AutoMerge, Component: DatePicker

#10447 Update readme of charting package
  change/@uifabric-charting-2019-09-13-22-14-18-charting-readme.json
  packages/charting/README.md
Labels: Package: charting

#10459 [6.0] Cherry-pick CalendarMonth React string ref for #10378
  change/office-ui-fabric-react-2019-09-09-10-46-19-keco-calendarmonth-string-ref.json
  packages/office-ui-fabric-react/src/components/Calendar/CalendarMonth.tsx
Labels: Component: Calendar, Fabric 6

#10466 Contextual Menu calls onMenuOpened when it does not need to
  change/office-ui-fabric-react-2019-09-16-16-14-32-PersistedContextualMenu.json
  packages/office-ui-fabric-react/src/components/ContextualMenu/ContextualMenu.base.tsx
  packages/office-ui-fabric-react/src/components/ContextualMenu/ContextualMenu.types.ts
Labels: AutoMerge, Component: ContextualMenu

#10432 PeoplePicker - Korean Characters issue in IE11
  change/@uifabric-experiments-2019-09-17-16-32-41-autoFillKoreanIE11.json
  change/office-ui-fabric-react-2019-09-11-15-47-59-autoFillKoreanIE11.json
  packages/experiments/src/components/Pagination/__snapshots__/Pagination.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Autofill/Autofill.tsx
  packages/office-ui-fabric-react/src/components/ComboBox/__snapshots__/ComboBox.test.tsx.snap
  packages/office-ui-fabric-react/src/components/ExtendedPicker/__snapshots__/BaseExtendedPicker.test.tsx.snap
  packages/office-ui-fabric-react/src/components/__snapshots__/Announced.SearchResults.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/ComboBox.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/ComboBox.Controlled.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/ComboBox.CustomStyled.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/ComboBox.Toggles.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/ComboBox.Virtualized.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/ExtendedPeoplePicker.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/ExtendedPeoplePicker.Controlled.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/PeoplePicker.Types.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/TagPicker.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/pickers/PeoplePicker/__snapshots__/PeoplePicker.test.tsx.snap
  packages/office-ui-fabric-react/src/components/pickers/TagPicker/__snapshots__/TagPicker.test.tsx.snap
  packages/office-ui-fabric-react/src/components/pickers/__snapshots__/BasePicker.test.tsx.snap
Labels: AutoMerge, Component: PeoplePicker

#10481 Fix newline issue in tsx-editor test
  change/@uifabric-tsx-editor-2019-09-17-16-01-25-tsx-test.json
  packages/tsx-editor/src/transpiler/transpileHelpers.test.ts
Labels: Area: Build System

#10482 BasePicker: deprecate onFocus
  change/office-ui-fabric-react-2019-09-17-15-58-25-deprecatePickerOnFocus.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/pickers/BasePicker.types.ts
Labels: AutoMerge, Component: Pickers, PR: API Modified

#10477 Update SearchBox roles
  change/office-ui-fabric-react-2019-09-17-10-16-33-update-search-roles.json
  packages/office-ui-fabric-react/src/components/SearchBox/SearchBox.base.tsx
  packages/office-ui-fabric-react/src/components/SearchBox/__snapshots__/SearchBox.test.tsx.snap
  packages/office-ui-fabric-react/src/components/__snapshots__/FloatingPeoplePicker.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/OverflowSet.Custom.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/SearchBox.CustomIcon.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/SearchBox.Disabled.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/SearchBox.FullSize.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/SearchBox.Small.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/SearchBox.Underlined.Example.tsx.shot
Labels: Component: SearchBox

#10364 SplitButton: high contrast fix
  change/office-ui-fabric-react-2019-09-04-15-30-43-v-mare-SplitButton-highcontrast-fix.json
  packages/office-ui-fabric-react/src/components/Button/ButtonThemes.ts
  packages/office-ui-fabric-react/src/components/Button/SplitButton/SplitButton.styles.ts
  packages/office-ui-fabric-react/src/components/TeachingBubble/__snapshots__/TeachingBubble.test.tsx.snap
  packages/office-ui-fabric-react/src/components/__snapshots__/Button.Compound.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Button.CustomSplit.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Button.Default.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Button.ScreenReader.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Button.Split.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/ComboBox.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/CommandBar.SplitDisabled.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Advanced.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Dropdown.Required.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/ExtendedPeoplePicker.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/ExtendedPeoplePicker.Controlled.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/FocusZone.Tabbable.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Keytips.Button.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/PeoplePicker.Types.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Rating.ButtonControlled.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/SelectedPeopleList.Controlled.Example.tsx.shot
Labels: Area: Accessibility, Component: Button

#10200 TagPicker: update styles to match toolkit
  apps/vr-tests/src/stories/TagPicker.stories.tsx
  change/office-ui-fabric-react-2019-08-19-22-01-07-v-mare-TagPicker-update-styles.json
  packages/office-ui-fabric-react/src/components/pickers/TagPicker/TagItem.styles.ts
Labels: Component: Pickers, Component: TagPicker, PR: API Modified

#10360 keep aria-label in sync with FloatingPicker open state in BaseExtendedPicker
  change/office-ui-fabric-react-2019-09-04-13-25-26-u-mahuangh-extended-picker-aria-labels.json
  packages/office-ui-fabric-react/src/components/ExtendedPicker/BaseExtendedPicker.test.tsx
  packages/office-ui-fabric-react/src/components/ExtendedPicker/BaseExtendedPicker.tsx
  packages/office-ui-fabric-react/src/components/FloatingPicker/BaseFloatingPicker.tsx
Labels: Component: ExtendedPicker

#10380 Rating: duplicate ID fix
  change/office-ui-fabric-react-2019-09-06-13-05-17-v-mare-Rating-star-id-fix.json
  packages/office-ui-fabric-react/src/components/Rating/Rating.base.tsx
  packages/office-ui-fabric-react/src/components/Rating/examples/Rating.Basic.Example.tsx
  packages/office-ui-fabric-react/src/components/Rating/examples/Rating.ButtonControlled.Example.tsx
  packages/office-ui-fabric-react/src/components/__snapshots__/Rating.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Rating.ButtonControlled.Example.tsx.shot
Labels: Component: Rating

#10490 Checkbox visibility for details header
  change/office-ui-fabric-react-2019-09-18-13-51-32-checkbox-visibility-details-header.json
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsHeader.base.tsx
Labels: Component: DetailsList

#10381 Coachmark: RTL pulse beacon animation fix
  change/office-ui-fabric-react-2019-09-06-13-48-46-v-mare-Coachmark-RTL-pulse-fix.json
  packages/office-ui-fabric-react/src/components/Coachmark/Coachmark.base.tsx
  packages/office-ui-fabric-react/src/components/Coachmark/Coachmark.styles.ts
Labels: Component: Coachmark

#10487 Monaco bundle improvements
  .github/CODEOWNERS
  .gitignore
  apps/fabric-website/homepage.htm
  apps/fabric-website/index.html
  apps/fabric-website/webpack.config.js
  apps/fabric-website/webpack.serve.config.js
  change/@uifabric-fabric-website-2019-09-18-01-24-28-monaco-bundle-2.json
  change/@uifabric-monaco-editor-2019-09-18-01-24-28-monaco-bundle-2.json
  change/@uifabric-tsx-editor-2019-09-18-01-24-28-monaco-bundle-2.json
  packages/monaco-editor/.npmignore
  packages/monaco-editor/.npmrc
  packages/monaco-editor/LICENSE
  packages/monaco-editor/README.md
  packages/monaco-editor/just.config.js
  packages/monaco-editor/monaco-typescript.d.ts
  packages/monaco-editor/package.json
  packages/monaco-editor/scripts/addMonacoWebpackConfig.js
  packages/monaco-editor/src/configureEnvironment.ts
  packages/monaco-editor/src/monacoBundle.ts
  packages/monaco-editor/src/monacoCoreBundle.ts
  packages/monaco-editor/tasks/transformCssTask.js
  packages/monaco-editor/tsconfig.json
  packages/tsx-editor/README.md
  packages/tsx-editor/index.html
  packages/tsx-editor/scripts/addMonacoWebpackConfig.js
  packages/tsx-editor/scripts/monaco-webpack.js
  packages/tsx-editor/src/components/Editor.types.ts
  packages/tsx-editor/src/components/EditorWrapper.tsx
  packages/tsx-editor/src/index.ts
  packages/tsx-editor/src/transpiler/monacoTypescriptWorker.d.ts
  packages/tsx-editor/src/transpiler/transpile.ts
  packages/tsx-editor/src/utilities/getQueryParam.ts
  packages/tsx-editor/webpack.config.js
  packages/tsx-editor/webpack.serve.config.js
  scripts/just.config.js
  yarn.lock
Labels: Package: tsx-editor

#10102 ComboBox: fix for issue resetting suggestedDisplayValue
  change/office-ui-fabric-react-2019-08-08-14-20-33-comboBoxDisplayFix.json
  packages/office-ui-fabric-react/src/components/ComboBox/ComboBox.test.tsx
  packages/office-ui-fabric-react/src/components/ComboBox/ComboBox.tsx
Labels: AutoMerge, Component: ComboBox

#10355 Website: Add file type icons page
  apps/fabric-website/src/SiteDefinition/SiteDefinition.pages/Styles/web.tsx
  apps/fabric-website/src/pages/Styles/FabricIconsPage/FabricIconsPage.tsx
  apps/fabric-website/src/pages/Styles/FabricIconsPage/docs/web/FabricIconsOverview.md
  apps/fabric-website/src/pages/Styles/FabricIconsPage/docs/web/FabricIconsUsage.md
  apps/fabric-website/src/pages/Styles/FileTypeIconsPage/FileTypeIconsPage.doc.ts
  apps/fabric-website/src/pages/Styles/FileTypeIconsPage/FileTypeIconsPage.module.scss
  apps/fabric-website/src/pages/Styles/FileTypeIconsPage/FileTypeIconsPage.tsx
  apps/fabric-website/src/pages/Styles/FileTypeIconsPage/docs/FileTypeIconsRelated.md
  apps/fabric-website/src/pages/Styles/FileTypeIconsPage/docs/web/FileTypeIconsFormat.md
  apps/fabric-website/src/pages/Styles/FileTypeIconsPage/docs/web/FileTypeIconsImplementation.md
  apps/fabric-website/src/pages/Styles/FileTypeIconsPage/docs/web/FileTypeIconsOverview.md
  apps/fabric-website/src/pages/Styles/FileTypeIconsPage/docs/web/FileTypeIconsResolutions.md
  apps/fabric-website/src/pages/Styles/FileTypeIconsPage/docs/web/FileTypeIconsSingleColor.md
  apps/fabric-website/src/pages/Styles/OfficeBrandIconsPage/OfficeBrandIconsPage.tsx
  apps/fabric-website/src/pages/Styles/OfficeBrandIconsPage/docs/web/OfficeBrandIconsFormat.md
  apps/fabric-website/src/pages/Styles/OfficeBrandIconsPage/docs/web/OfficeBrandIconsImplementation.md
  apps/fabric-website/src/pages/Styles/OfficeBrandIconsPage/docs/web/OfficeBrandIconsOverview.md
  apps/fabric-website/src/pages/Styles/OfficeBrandIconsPage/docs/web/OfficeBrandIconsResolutions.md
  apps/fabric-website/src/pages/Styles/OfficeBrandIconsPage/docs/web/OfficeBrandIconsSingleColor.md
  change/@uifabric-fabric-website-2019-09-04-09-41-06-website-fileIcons.json
Labels: Area: Documentation, Area: Website, package: file-type-icons

#10478 [6.0] DatePicker: cherry-pick "utilize custom onChange handler when provided #10424"
  change/@uifabric-date-time-2019-09-17-10-25-23-datePickerTextFieldOnChange6.0.json
  change/office-ui-fabric-react-2019-09-17-10-25-23-datePickerTextFieldOnChange6.0.json
  packages/date-time/src/components/DatePicker/DatePicker.base.tsx
  packages/office-ui-fabric-react/src/components/DatePicker/DatePicker.base.tsx
  packages/office-ui-fabric-react/src/components/DatePicker/DatePicker.test.tsx
Labels: AutoMerge, Component: DatePicker, Fabric 6

#10527 Autofill: Fix IME for non IE11 browsers
  change/office-ui-fabric-react-2019-09-19-13-57-35-autofillChromeIME.json
  packages/office-ui-fabric-react/src/components/Autofill/Autofill.tsx
Labels: AutoMerge, Component: Autofill

#10525 Jspurlin/contextual menu bounds update
  change/office-ui-fabric-react-2019-09-19-12-49-16-jspurlin-ContextualMenuBoundsUpdate.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/ContextualMenu/ContextualMenu.types.ts
Labels: Component: ContextualMenu, PR: API Modified

#10445 Breadcrumb: (feature) Optional current item a heading
  change/office-ui-fabric-react-2019-09-13-13-13-05-v-mare-Breadcrumb-heading-feature.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/Breadcrumb/Breadcrumb.base.tsx
  packages/office-ui-fabric-react/src/components/Breadcrumb/Breadcrumb.types.ts
  packages/office-ui-fabric-react/src/components/Breadcrumb/examples/Breadcrumb.Basic.Example.tsx
  packages/office-ui-fabric-react/src/components/__snapshots__/Breadcrumb.Basic.Example.tsx.shot
Labels: AutoMerge, Component: Breadcrumb, PR: API Modified

#10483 Adding a helper to concat styles:
  change/@uifabric-merge-styles-2019-09-17-12-28-11-concat-props.json
  change/@uifabric-styling-2019-09-17-12-28-11-concat-props.json
  change/@uifabric-utilities-2019-09-17-12-28-11-concat-props.json
  packages/merge-styles/README.md
  packages/merge-styles/etc/merge-styles.api.md
  packages/merge-styles/src/concatStyleSetsWithProps.test.ts
  packages/merge-styles/src/concatStyleSetsWithProps.ts
  packages/merge-styles/src/index.ts
  packages/styling/etc/styling.api.md
  packages/styling/src/MergeStyles.ts
  packages/utilities/src/styled.tsx
Labels: PR: API Modified

#10511 Teachingbubble a11y
  change/office-ui-fabric-react-2019-09-18-15-10-54-teachingbubble-a11y.json
  packages/office-ui-fabric-react/src/components/TeachingBubble/TeachingBubbleContent.base.tsx
  packages/office-ui-fabric-react/src/components/TeachingBubble/__snapshots__/TeachingBubble.test.tsx.snap
  packages/office-ui-fabric-react/src/components/__snapshots__/CommandBar.CommandBarButtonAs.Example.tsx.shot
Labels: Component: TeachingBubble

#10521 Add typings support to editor + API improvements
  change/@uifabric-tsx-editor-2019-09-19-13-51-39-editor-typings.json
  packages/tsx-editor/README.md
  packages/tsx-editor/just.config.js
  packages/tsx-editor/package.json
  packages/tsx-editor/scripts/copyTypes.js
  packages/tsx-editor/src/components/Editor.tsx
  packages/tsx-editor/src/components/Editor.types.ts
  packages/tsx-editor/src/components/EditorLoading.tsx
  packages/tsx-editor/src/components/EditorWrapper.tsx
  packages/tsx-editor/src/components/EditorWrapper.types.ts
  packages/tsx-editor/src/components/TsxEditor.tsx
  packages/tsx-editor/src/components/TsxEditor.types.ts
  packages/tsx-editor/src/components/TypeScriptSnippet.tsx
  packages/tsx-editor/src/components/common.ts
  packages/tsx-editor/src/components/index.ts
  packages/tsx-editor/src/index.ts
  packages/tsx-editor/src/interfaces/index.ts
  packages/tsx-editor/src/interfaces/monaco.ts
  packages/tsx-editor/src/interfaces/packageGroup.ts
  packages/tsx-editor/src/transpiler/__snapshots__/exampleTransform.test.ts.snap
  packages/tsx-editor/src/transpiler/exampleParser.test.ts
  packages/tsx-editor/src/transpiler/exampleParser.ts
  packages/tsx-editor/src/transpiler/exampleTransform.test.ts
  packages/tsx-editor/src/transpiler/exampleTransform.ts
  packages/tsx-editor/src/transpiler/examples/customPackages.txt
  packages/tsx-editor/src/transpiler/examples/customPackagesFabric.txt
  packages/tsx-editor/src/transpiler/examples/realtiveImportTranspiled.txt
  packages/tsx-editor/src/transpiler/transpile.ts
  packages/tsx-editor/src/transpiler/transpileHelpers.test.ts
  packages/tsx-editor/src/transpiler/transpileHelpers.ts
  packages/tsx-editor/src/utilities/defaultSupportedPackages.ts
  packages/tsx-editor/src/utilities/isEditorSupported.ts
  packages/tsx-editor/tsconfig.json
  packages/tsx-editor/webpack.config.js
  packages/tsx-editor/webpack.serve.config.js
  scripts/tasks/copy.js
  scripts/tasks/lint-imports.js
Labels: Package: tsx-editor

#10486 Callout a11y fixes for 1,2,4 and 6
  change/office-ui-fabric-react-2019-09-17-22-55-35-callout-a11y-fixes.json
  packages/office-ui-fabric-react/src/components/Callout/Callout.doc.tsx
  packages/office-ui-fabric-react/src/components/Callout/examples/Callout.Basic.Example.tsx
  packages/office-ui-fabric-react/src/components/Callout/examples/Callout.Cover.Example.tsx
  packages/office-ui-fabric-react/src/components/Callout/examples/Callout.Directional.Example.tsx
  packages/office-ui-fabric-react/src/components/Callout/examples/Callout.FocusTrap.Example.tsx
  packages/office-ui-fabric-react/src/components/Callout/examples/Callout.Nested.Example.tsx
  packages/office-ui-fabric-react/src/components/Popup/Popup.tsx
Labels: Component: Callout

#10547 Editor: fix check for web worker availability
  change/@uifabric-tsx-editor-2019-09-19-15-48-22-editor-supported.json
  packages/tsx-editor/src/utilities/isEditorSupported.ts
Labels: Package: tsx-editor

#10470 Panel: Improve accessibility in examples.
  change/office-ui-fabric-react-2019-09-16-16-21-32-panel-a11y.json
  packages/office-ui-fabric-react/src/components/Panel/Panel.doc.tsx
  packages/office-ui-fabric-react/src/components/Panel/examples/Panel.Controlled.Example.tsx
  packages/office-ui-fabric-react/src/components/Panel/examples/Panel.Custom.Example.tsx
  packages/office-ui-fabric-react/src/components/Panel/examples/Panel.CustomLeft.Example.tsx
  packages/office-ui-fabric-react/src/components/Panel/examples/Panel.HandleDismissTarget.Example.tsx
  packages/office-ui-fabric-react/src/components/Panel/examples/Panel.HiddenOnDismiss.Example.tsx
  packages/office-ui-fabric-react/src/components/Panel/examples/Panel.Large.Example.tsx
  packages/office-ui-fabric-react/src/components/Panel/examples/Panel.LargeFixed.Example.tsx
  packages/office-ui-fabric-react/src/components/Panel/examples/Panel.LightDismiss.Example.tsx
  packages/office-ui-fabric-react/src/components/Panel/examples/Panel.LightDismissCustom.Example.tsx
  packages/office-ui-fabric-react/src/components/Panel/examples/Panel.Medium.Example.tsx
  packages/office-ui-fabric-react/src/components/Panel/examples/Panel.Navigation.Example.tsx
  packages/office-ui-fabric-react/src/components/Panel/examples/Panel.PreventDefault.Example.tsx
  packages/office-ui-fabric-react/src/components/Panel/examples/Panel.Scroll.Example.tsx
  packages/office-ui-fabric-react/src/components/Panel/examples/Panel.SmallFluid.Example.tsx
  packages/office-ui-fabric-react/src/components/Panel/examples/Panel.SmallLeft.Example.tsx
  packages/office-ui-fabric-react/src/components/__snapshots__/Panel.HiddenOnDismiss.Example.tsx.shot
Labels: AutoMerge, Component: Panel

#10549 Customizations: Add suppressUpdates
  change/@uifabric-utilities-2019-09-19-18-40-13-phkuo-customizerSuppress.json
  packages/utilities/etc/utilities.api.md
  packages/utilities/src/customizations/Customizations.ts
  packages/utilities/src/customizations/Customizer.test.tsx
Labels: AutoMerge, Fabric 6, PR: API Modified, Package: utilities

#10557 Positioning: Fix issue where anchor edge would flip even if previous positions calculated
  change/office-ui-fabric-react-2019-09-20-11-01-17-fix-calloutjump-forhovercard.json
  packages/office-ui-fabric-react/src/utilities/positioning.test.ts
  packages/office-ui-fabric-react/src/utilities/positioning/positioning.ts
Labels: AutoMerge

#10562 Positioning: Fix issue where anchor edge would flip even if previous positions calculated
  change/office-ui-fabric-react-2019-09-20-11-01-17-fix-calloutjump-forhovercard.json
  packages/office-ui-fabric-react/src/utilities/positioning.test.ts
  packages/office-ui-fabric-react/src/utilities/positioning/positioning.ts
Labels: AutoMerge, Fabric 6

#10556 FocusTrapZone example: Remove Randomize function
  change/office-ui-fabric-react-2019-09-20-10-23-25-jg-8654-remove-randomize.json
  packages/office-ui-fabric-react/src/components/FocusTrapZone/examples/FocusTrapZone.Nested.Example.tsx
  packages/office-ui-fabric-react/src/components/__snapshots__/FocusTrapZone.Nested.Example.tsx.shot
Labels: Area: Accessibility, AutoMerge, Component: FocusTrapZone

#10566 Fabric website animations shouldn't leave invisible elements behind on fade out.
  change/@uifabric-styling-2019-09-20-17-35-52-animations.json
  packages/styling/src/styles/AnimationStyles.ts
Labels: AutoMerge

#10564 Stack: grow=true shoudn't clip flexbox's children.
  change/office-ui-fabric-react-2019-09-20-17-02-33-stack.json
  packages/office-ui-fabric-react/src/components/Stack/Stack.styles.ts
  packages/office-ui-fabric-react/src/components/Stack/__snapshots__/Stack.test.tsx.snap
  packages/office-ui-fabric-react/src/components/__snapshots__/Stack.Vertical.VerticalAlign.Example.tsx.shot
Labels: Component: Stack

#10567 Customizations: Add applyBatchedUpdates()
  change/@uifabric-utilities-2019-09-20-17-46-49-phkuo-suppressUpdatesPort.json
  packages/utilities/etc/utilities.api.md
  packages/utilities/src/customizations/Customizations.ts
  packages/utilities/src/customizations/Customizer.test.tsx
Labels: AutoMerge, PR: API Modified, Package: utilities

#10469 SwatchColorPicker: Prevent unnecessary re-renders
  change/office-ui-fabric-react-2019-09-16-16-40-44-ColorPickerPerf3.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/SwatchColorPicker/ColorPickerGridCell.base.tsx
  packages/office-ui-fabric-react/src/components/SwatchColorPicker/ColorPickerGridCell.tsx
  packages/office-ui-fabric-react/src/components/SwatchColorPicker/SwatchColorPicker.base.tsx
  packages/office-ui-fabric-react/src/components/SwatchColorPicker/SwatchColorPicker.types.ts
  packages/office-ui-fabric-react/src/components/SwatchColorPicker/examples/SwatchColorPicker.Basic.Example.tsx
Labels: AutoMerge, Component: SwatchColorPicker

#10528 Teachingbubble a11y 10504
  change/office-ui-fabric-react-2019-09-19-14-14-30-teachingbubble-a11y-10504.json
  packages/office-ui-fabric-react/src/components/TeachingBubble/examples/TeachingBubble.Illustration.Example.tsx
  packages/office-ui-fabric-react/src/components/TeachingBubble/examples/TeachingBubble.WideIllustration.Example.tsx
Labels: AutoMerge, Component: TeachingBubble

#10446 Dialog: update styles
  change/office-ui-fabric-react-2019-09-13-17-26-04-v-mare-Dialog-update-styles.json
  packages/office-ui-fabric-react/src/components/Dialog/DialogContent.styles.ts
  packages/office-ui-fabric-react/src/components/Dialog/__snapshots__/Dialog.test.tsx.snap
Labels: Component: Dialog

#10561 postprocess commonjs and amd outputs to make them easier to consume
  scripts/just.config.js
  scripts/package.json
  scripts/tasks/postprocess-amd.js
  scripts/tasks/postprocess-commonjs.js
  yarn.lock
Labels: Area: Build System

#10553 Editor integration with export to codepen
  change/@uifabric-example-app-base-2019-09-20-02-21-55-editor-codepen.json
  change/@uifabric-monaco-editor-2019-09-20-16-49-24-editor-codepen.json
  change/@uifabric-tsx-editor-2019-09-20-02-21-55-editor-codepen.json
  packages/example-app-base/src/components/CodepenComponent/CodepenComponent.tsx
  packages/example-app-base/src/components/CodepenComponent/CodepenComponent.types.ts
  packages/example-app-base/src/components/CodepenComponent/index.ts
  packages/example-app-base/src/components/ExampleCard/ExampleCard.tsx
  packages/example-app-base/src/components/ExampleCard/ExampleCard.types.ts
  packages/example-app-base/src/utilities/index2.ts
  packages/monaco-editor/just.config.js
  packages/tsx-editor/jest.config.js
  packages/tsx-editor/package.json
  packages/tsx-editor/scripts/copyTypes.js
  packages/tsx-editor/src/components/Editor.tsx
  packages/tsx-editor/src/components/Editor.types.ts
  packages/tsx-editor/src/components/EditorWrapper.tsx
  packages/tsx-editor/src/components/EditorWrapper.types.ts
  packages/tsx-editor/src/components/TsxEditor.tsx
  packages/tsx-editor/src/components/TsxEditor.types.ts
  packages/tsx-editor/src/components/TypeScriptSnippet.tsx
  packages/tsx-editor/src/components/consts.ts
  packages/tsx-editor/src/components/index-min.ts
  packages/tsx-editor/src/components/index.ts
  packages/tsx-editor/src/imports.test.ts
  packages/tsx-editor/src/index-min.ts
  packages/tsx-editor/src/index.ts
  packages/tsx-editor/src/interfaces/index.ts
  packages/tsx-editor/src/interfaces/monaco.ts
  packages/tsx-editor/src/interfaces/packageGroup.ts
  packages/tsx-editor/src/interfaces/transformedCode.ts
  packages/tsx-editor/src/transpiler/exampleParser.ts
  packages/tsx-editor/src/transpiler/exampleTransform.ts
  packages/tsx-editor/src/transpiler/index-min.ts
  packages/tsx-editor/src/transpiler/index.ts
  packages/tsx-editor/src/transpiler/transpile.ts
  packages/tsx-editor/src/transpiler/transpileHelpers.test.ts
  packages/tsx-editor/src/transpiler/transpileHelpers.ts
  packages/tsx-editor/src/utilities/defaultSupportedPackages.ts
  packages/tsx-editor/src/utilities/index.ts
  packages/tsx-editor/src/utilities/isEditorSupported.ts
Labels: AutoMerge, Package: tsx-editor

#10498 Make SplitButton example to be accessible (custom split button example)
  change/office-ui-fabric-react-2019-09-18-10-57-53-splitbutton-a11y.json
  packages/office-ui-fabric-react/src/components/Button/BaseButton.tsx
  packages/office-ui-fabric-react/src/components/Button/examples/Button.CustomSplit.Example.tsx
  packages/office-ui-fabric-react/src/components/__snapshots__/Button.CustomSplit.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/CommandBar.SplitDisabled.Example.tsx.shot
Labels: Component: Button

#10465 Adding a prop shouldUpdateWhenHidden to decide whether to update hidden callouts
  change/office-ui-fabric-react-2019-09-16-15-56-59-PersistedCallout.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/Callout/Callout.types.ts
  packages/office-ui-fabric-react/src/components/Callout/CalloutContent.base.tsx
  packages/office-ui-fabric-react/src/components/Callout/CalloutContent.test.tsx
  packages/office-ui-fabric-react/src/components/ContextualMenu/ContextualMenu.base.tsx
  packages/office-ui-fabric-react/src/components/ContextualMenu/ContextualMenu.types.ts
Labels: AutoMerge, Component: Callout, PR: API Modified

#10575 Callout example update - more accessible examples
  change/office-ui-fabric-react-2019-09-23-16-49-48-callout-example-update.json
  packages/office-ui-fabric-react/src/components/Callout/examples/Callout.FocusTrap.Example.tsx
  packages/office-ui-fabric-react/src/components/Callout/examples/CalloutExample.scss
Labels: Component: Callout

#10581 Callout: Remove the use of 'hidden' from our example
  change/office-ui-fabric-react-2019-09-24-11-42-19-callout-hidden-example.json
  packages/office-ui-fabric-react/src/components/Callout/examples/Callout.Basic.Example.tsx
  packages/office-ui-fabric-react/src/components/__snapshots__/Callout.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Advanced.Example.tsx.shot
Labels: Component: Callout

#10579 Type error in GroupedList docs
  change/office-ui-fabric-react-2019-09-24-16-42-44-type-error-groupedlist.json
  packages/office-ui-fabric-react/src/components/GroupedList/GroupedList.types.ts
Labels: AutoMerge, Component: GroupedList

#10568 Fix return type of onGrowData() in CommandBar.
  change/office-ui-fabric-react-2019-09-22-18-29-44-fix-commandbar-types.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/CommandBar/CommandBar.types.ts
Labels: Component: CommandBar, PR: API Modified

#10548 DetailsList: initialize selection object mode with selectionMode prop if it is defined
  change/office-ui-fabric-react-2019-09-19-16-53-36-detailsListDocumentsExample.json
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsList.base.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsList.test.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/examples/DetailsList.Documents.Example.tsx
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Documents.Example.tsx.shot
Labels: AutoMerge, Component: DetailsList

#10611 IE Friendly Regex
  change/@uifabric-tsx-editor-2019-09-24-18-07-41-u-anhw-ie-regex.json
  packages/tsx-editor/src/transpiler/exampleParser.ts
  packages/tsx-editor/src/transpiler/exampleTransform.ts
Labels: Package: tsx-editor

#10602 Pivot 10585
  change/office-ui-fabric-react-2019-09-24-14-56-04-pivot-10585.json
  packages/office-ui-fabric-react/src/components/Pivot/examples/Pivot.Remove.Example.tsx
  packages/office-ui-fabric-react/src/components/__snapshots__/Pivot.Remove.Example.tsx.shot
Labels: Component: Pivot

#10572 Coachmark Accessibility: adding HighContrastSelector to coachmark
  change/office-ui-fabric-react-2019-09-23-15-12-05-coachmarkAccessibility.json
  packages/office-ui-fabric-react/src/components/Coachmark/Coachmark.styles.ts
  packages/office-ui-fabric-react/src/components/__snapshots__/CommandBar.CommandBarButtonAs.Example.tsx.shot
Labels: Area: Accessibility, Component: Coachmark

#10441 Golden Folder grid view CSS cleanup and update to filetype salt to bust thru CDN cache
  change/@uifabric-experiments-2019-09-12-16-43-54-caperez-golden_v5_fabric6.json
  change/@uifabric-file-type-icons-2019-09-12-16-43-54-caperez-golden_v5_fabric6.json
  packages/experiments/src/components/FolderCover/FolderCover.tsx
  packages/experiments/src/components/FolderCover/initializeFolderCovers.tsx
  packages/experiments/src/components/Tile/Tile.scss
  packages/file-type-icons/src/initializeFileTypeIcons.tsx
Labels: Fabric 6

#10606 Pivot 10583
  change/office-ui-fabric-react-2019-09-24-16-44-08-pivot-10583.json
  packages/office-ui-fabric-react/src/components/Pivot/examples/Pivot.IconCount.Example.tsx
  packages/office-ui-fabric-react/src/components/Pivot/examples/Pivot.Separate.Example.tsx
  packages/office-ui-fabric-react/src/components/Pivot/examples/Pivot.SeparateNoSelectedKey.Example.tsx
  packages/office-ui-fabric-react/src/components/__snapshots__/Pivot.IconCount.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Pivot.Separate.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Pivot.SeparateNoSelectedKey.Example.tsx.shot
Labels: Component: Pivot

#10499 Overflow a11y pass
  change/@uifabric-experiments-2019-09-23-13-01-00-overflow-a11y-pass.json
  change/office-ui-fabric-react-2019-09-18-13-32-22-overflow-a11y-pass.json
  packages/experiments/src/components/Button/__snapshots__/Button.test.tsx.snap
  packages/office-ui-fabric-react/src/components/CommandBar/__snapshots__/CommandBar.deprecated.test.tsx.snap
  packages/office-ui-fabric-react/src/components/CommandBar/__snapshots__/CommandBar.test.tsx.snap
  packages/office-ui-fabric-react/src/components/OverflowSet/OverflowSet.base.tsx
  packages/office-ui-fabric-react/src/components/OverflowSet/__snapshots__/OverflowSet.test.tsx.snap
  packages/office-ui-fabric-react/src/components/OverflowSet/examples/OverflowSet.Basic.Example.tsx
  packages/office-ui-fabric-react/src/components/OverflowSet/examples/OverflowSet.Custom.Example.tsx
  packages/office-ui-fabric-react/src/components/OverflowSet/examples/OverflowSet.Vertical.Example.tsx
  packages/office-ui-fabric-react/src/components/__snapshots__/CommandBar.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/CommandBar.ButtonAs.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/CommandBar.CommandBarButtonAs.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/CommandBar.SplitDisabled.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Advanced.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Keytips.CommandBar.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Keytips.Overflow.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/OverflowSet.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/OverflowSet.Custom.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/OverflowSet.Vertical.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/ResizeGroup.OverflowSet.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/ResizeGroup.VerticalOverflowSet.Example.tsx.shot
Labels: Component: OverflowSet

#10605 Dropdown: Error messages in Dropdown are now linked to the Dropdown (from a programmatic accessibility POV).
  change/@uifabric-utilities-2019-09-24-15-52-15-cliffkoh-10600.json
  change/office-ui-fabric-react-2019-09-24-15-52-15-cliffkoh-10600.json
  packages/office-ui-fabric-react/src/components/Dropdown/Dropdown.base.tsx
  packages/office-ui-fabric-react/src/components/Dropdown/__snapshots__/Dropdown.test.tsx.snap
  packages/office-ui-fabric-react/src/components/__snapshots__/Callout.Cover.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Callout.Directional.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/ChoiceGroup.Custom.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Coachmark.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/ContextualMenu.Directional.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DatePicker.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DatePicker.WeekNumbers.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Dropdown.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Dropdown.Controlled.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Dropdown.ControlledMulti.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Dropdown.Custom.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Dropdown.Error.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Dropdown.Required.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Facepile.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Facepile.Overflow.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/PeoplePicker.Types.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/ResizeGroup.OverflowSet.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Stack.Horizontal.Configure.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Stack.Horizontal.WrapAdvanced.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Stack.Vertical.Configure.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Stack.Vertical.WrapAdvanced.Example.tsx.shot
  packages/utilities/etc/utilities.api.md
  packages/utilities/src/aria.ts
Labels: AutoMerge, PR: API Modified

#10623 Overflow example - more accessible example
  change/office-ui-fabric-react-2019-09-25-08-53-14-overflow-example.json
  packages/office-ui-fabric-react/src/components/OverflowSet/examples/OverflowSet.Custom.Example.tsx
  packages/office-ui-fabric-react/src/components/__snapshots__/OverflowSet.Custom.Example.tsx.shot
Labels: Component: OverflowSet

#10613 Allow custom Overflow icon in Breadcrumb component
  change/office-ui-fabric-react-2019-09-24-19-25-38-madomi-overflow-icon.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/Breadcrumb/Breadcrumb.base.tsx
  packages/office-ui-fabric-react/src/components/Breadcrumb/Breadcrumb.test.tsx
  packages/office-ui-fabric-react/src/components/Breadcrumb/Breadcrumb.types.ts
  packages/office-ui-fabric-react/src/components/Breadcrumb/__snapshots__/Breadcrumb.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Breadcrumb/examples/Breadcrumb.Basic.Example.tsx
  packages/office-ui-fabric-react/src/components/__snapshots__/Breadcrumb.Basic.Example.tsx.shot
Labels: Component: Breadcrumb, Fabric 6

#10359 mergeStyle[Sets]WithOptions accepts options
  change/@uifabric-merge-styles-2019-08-02-11-43-22-themed-rtl.json
  change/@uifabric-styling-2019-08-02-11-43-22-themed-rtl.json
  change/@uifabric-utilities-2019-08-02-11-43-22-themed-rtl.json
  packages/merge-styles/etc/merge-styles.api.md
  packages/merge-styles/src/IStyleOptions.ts
  packages/merge-styles/src/StyleOptionsState.ts
  packages/merge-styles/src/Stylesheet.test.ts
  packages/merge-styles/src/Stylesheet.ts
  packages/merge-styles/src/extractStyleParts.test.ts
  packages/merge-styles/src/fontFace.ts
  packages/merge-styles/src/index.ts
  packages/merge-styles/src/keyframes.test.ts
  packages/merge-styles/src/keyframes.ts
  packages/merge-styles/src/mergeCss.test.ts
  packages/merge-styles/src/mergeCssSets.test.ts
  packages/merge-styles/src/mergeStyleSets.ts
  packages/merge-styles/src/mergeStyles.test.ts
  packages/merge-styles/src/mergeStyles.ts
  packages/merge-styles/src/server.test.ts
  packages/merge-styles/src/styleToClassName.test.ts
  packages/merge-styles/src/styleToClassName.ts
  packages/merge-styles/src/transforms/rtlifyRules.test.ts
  packages/merge-styles/src/transforms/rtlifyRules.ts
  packages/styling/etc/styling.api.md
  packages/styling/src/interfaces/ITheme.ts
  packages/utilities/src/classNamesFunction.ts
Labels: Area: merge-styles, PR: API Modified, PR: Possible Perf Regression :snail:

#10638 backfixing IE11 datetime focus fix
  change/@uifabric-date-time-2019-09-23-12-21-56-lorejoh12-focusOutlineIE11.json
  change/office-ui-fabric-react-2019-09-23-12-21-56-lorejoh12-focusOutlineIE11.json
  packages/date-time/src/components/Calendar/Calendar.styles.ts
  packages/date-time/src/components/Calendar/CalendarDay/CalendarDay.styles.ts
  packages/date-time/src/components/Calendar/CalendarPicker/CalendarPicker.styles.ts
  packages/office-ui-fabric-react/src/components/Calendar/Calendar.scss
Labels: AutoMerge, Fabric 6

#10609 Dropdown: Narrator should announce options before, during, and after expanding/collapsing
  change/office-ui-fabric-react-2019-09-24-17-04-23-dropdown_narrator.json
  packages/office-ui-fabric-react/src/components/Dropdown/Dropdown.base.tsx
  packages/office-ui-fabric-react/src/components/Dropdown/__snapshots__/Dropdown.test.tsx.snap
  packages/office-ui-fabric-react/src/components/__snapshots__/Callout.Cover.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Callout.Directional.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/ChoiceGroup.Custom.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Coachmark.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/ContextualMenu.Directional.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DatePicker.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DatePicker.WeekNumbers.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Dropdown.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Dropdown.Controlled.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Dropdown.ControlledMulti.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Dropdown.Custom.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Dropdown.Error.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Dropdown.Required.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Facepile.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Facepile.Overflow.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/PeoplePicker.Types.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/ResizeGroup.OverflowSet.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Stack.Horizontal.Configure.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Stack.Horizontal.WrapAdvanced.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Stack.Vertical.Configure.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Stack.Vertical.WrapAdvanced.Example.tsx.shot
Labels: AutoMerge, Component: Dropdown

#10626 DetailsList: Narrator should announce SelectAll Checkbox as a toggle selection for all item
  change/office-ui-fabric-react-2019-09-25-13-40-00-detailslist.json
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsHeader.base.tsx
  packages/office-ui-fabric-react/src/components/__snapshots__/Announced.BulkOperations.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Announced.QuickActions.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Advanced.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Animation.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Compact.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.CustomColumns.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.CustomFooter.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.CustomGroupHeaders.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.DragDrop.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Grouped.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Grouped.Large.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.NavigatingFocus.Example.tsx.shot
Labels: AutoMerge, Component: DetailsList

#10627 Textfield: aria-labelledby should be set on mulitine textfields
  change/office-ui-fabric-react-2019-09-25-14-32-36-textfield.json
  packages/office-ui-fabric-react/src/components/TextField/TextField.base.tsx
  packages/office-ui-fabric-react/src/components/TextField/__snapshots__/TextField.test.tsx.snap
  packages/office-ui-fabric-react/src/components/__snapshots__/TextField.Borderless.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/TextField.Multiline.Example.tsx.shot
Labels: AutoMerge, Component: TextField

#10130 SwatchColorPicker: fluent styles
  apps/vr-tests/src/stories/SwatchColorPicker.stories.tsx
  change/office-ui-fabric-react-2019-08-12-10-50-27-v-mare-SwatchColorPicker-fluent-styles.json
  packages/office-ui-fabric-react/src/components/SwatchColorPicker/ColorPickerGridCell.styles.ts
  packages/office-ui-fabric-react/src/components/SwatchColorPicker/__snapshots__/SwatchColorPicker.test.tsx.snap
  packages/office-ui-fabric-react/src/components/__snapshots__/SwatchColorPicker.Basic.Example.tsx.shot
Labels: Component: SwatchColorPicker

#10645 Fix loading editor files
  apps/fabric-website/homepage.htm
  apps/fabric-website/index.html
  change/@uifabric-fabric-website-2019-09-26-21-53-21-editor-loading.json
  change/@uifabric-monaco-editor-2019-09-26-21-53-21-editor-loading.json
  change/@uifabric-tsx-editor-2019-09-26-21-53-21-editor-loading.json
  packages/monaco-editor/src/configureEnvironment.ts
  packages/tsx-editor/src/transpiler/exampleParser.ts
  packages/tsx-editor/src/transpiler/exampleTransform.ts
Labels: Area: Website, Package: tsx-editor

#10640 Dropdown: There is now a visible focus border on Dropdowns in the error state.
  change/office-ui-fabric-react-2019-09-26-16-00-09-cliffkoh-fix10636.json
  packages/office-ui-fabric-react/src/components/Dropdown/Dropdown.styles.ts
  packages/office-ui-fabric-react/src/components/Dropdown/__snapshots__/Dropdown.test.tsx.snap
  packages/office-ui-fabric-react/src/components/__snapshots__/Callout.Cover.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Callout.Directional.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/ChoiceGroup.Custom.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Coachmark.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/ContextualMenu.Directional.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DatePicker.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DatePicker.WeekNumbers.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Dropdown.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Dropdown.Controlled.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Dropdown.ControlledMulti.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Dropdown.Custom.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Dropdown.Error.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Dropdown.Required.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Facepile.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Facepile.Overflow.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/PeoplePicker.Types.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/ResizeGroup.OverflowSet.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Stack.Horizontal.Configure.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Stack.Horizontal.WrapAdvanced.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Stack.Vertical.Configure.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Stack.Vertical.WrapAdvanced.Example.tsx.shot
Labels: Area: Accessibility, AutoMerge, Component: Dropdown

#10524 Refactoring BaseButton with respect to how it processes menuProps
  change/office-ui-fabric-react-2019-09-19-12-14-57-BaseButtonPersistMenu.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/Button/BaseButton.tsx
  packages/office-ui-fabric-react/src/components/ContextualMenu/__snapshots__/ContextualMenu.test.tsx.snap
Labels: AutoMerge, PR: API Modified

#10625 Rating: Align read-only behavior with ARIA standards
  change/office-ui-fabric-react-2019-09-25-10-36-25-jg-10126-rating-accessibility.json
  packages/office-ui-fabric-react/src/components/Rating/Rating.base.tsx
  packages/office-ui-fabric-react/src/components/Rating/__snapshots__/Rating.test.tsx.snap
  packages/office-ui-fabric-react/src/components/__snapshots__/Rating.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Rating.ButtonControlled.Example.tsx.shot
Labels: Area: Accessibility, Component: Rating
