Repository microsoft/fluentui, pull requests merged in 2019-05, with the labels that each got.

#8899 Export Omit from utilities
  common/changes/@uifabric/utilities/omit_2019-04-30-23-07.json
  packages/utilities/etc/utilities.api.md
  packages/utilities/src/index.ts
Labels: AutoMerge, PR: API Modified, Package: utilities

#8901 Fix types for tooltip and tooltiphost content
  common/changes/office-ui-fabric-react/master_2019-05-01-00-44.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/Tooltip/Tooltip.types.ts
  packages/office-ui-fabric-react/src/components/Tooltip/TooltipHost.types.ts
Labels: AutoMerge, Component: Tooltip

#8894 Add IBreadcrumbData, deprecate IBreadCrumbData
  common/changes/office-ui-fabric-react/breadcrumb_2019-04-30-21-23.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/Breadcrumb/Breadcrumb.base.tsx
  packages/office-ui-fabric-react/src/components/Breadcrumb/Breadcrumb.types.ts
Labels: AutoMerge, Component: Breadcrumb, PR: API Modified

#8915 Fix website
  apps/fabric-website/src/components/App/App.tsx
  apps/fabric-website/src/components/PageHeaderLink/PageHeaderLink.tsx
  common/changes/@uifabric/example-app-base/fix-website_2019-05-01-20-50.json
  common/changes/@uifabric/fabric-website/fix-website_2019-05-01-20-50.json
  packages/example-app-base/src/components/ApiReferencesTable/ApiReferencesTableSet.tsx
  packages/example-app-base/src/utilities/extractAnchorLink.test.ts
  packages/example-app-base/src/utilities/extractAnchorLink.ts
Labels: Area: Website

#8916 Site deploy: this is the one for for master branch
  .gitignore
  apps/fabric-website/index.html
  apps/fabric-website/just-task.js
  apps/fabric-website/package.json
  apps/fabric-website/scripts/createFlightConfig.js
  apps/fabric-website/webpack.config.js
  apps/pr-deploy-site/index.html
  apps/pr-deploy-site/package.json
  common/changes/@uifabric/fabric-website/site-deploy_2019-05-01-18-23.json
  common/config/rush/shrinkwrap.yaml
  scripts/just-task.js
  scripts/just.js
  scripts/package.json
Labels: Area: Website

#8875 Update focus handling in DatePicker and FocusTrapZone
  common/changes/office-ui-fabric-react/phtucker-focus_fix_2019-04-29-19-41.json
  packages/office-ui-fabric-react/src/components/DatePicker/DatePicker.base.tsx
  packages/office-ui-fabric-react/src/components/FocusTrapZone/FocusTrapZone.tsx
Labels: AutoMerge

#8426 Dialog/Modal: Add ability to move via mouse and/or keyboard
  common/changes/@uifabric/merge-styles/jspurlin-DialogDrag_2019-04-22-14-37.json
  common/changes/@uifabric/styling/jspurlin-DialogDrag_2019-04-22-14-37.json
  common/changes/@uifabric/utilities/jspurlin-DialogDrag_2019-04-22-14-37.json
  common/changes/office-ui-fabric-react/jspurlin-DialogDrag_2019-03-21-18-14.json
  packages/merge-styles/config/api-extractor.json
  packages/office-ui-fabric-react/config/api-extractor.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/Dialog/Dialog.base.tsx
  packages/office-ui-fabric-react/src/components/Dialog/DialogContent.base.tsx
  packages/office-ui-fabric-react/src/components/Dialog/DialogContent.styles.ts
  packages/office-ui-fabric-react/src/components/Dialog/DialogContent.types.ts
  packages/office-ui-fabric-react/src/components/Dialog/examples/Dialog.Basic.Example.tsx
  packages/office-ui-fabric-react/src/components/Dialog/examples/Dialog.Modeless.Example.tsx
  packages/office-ui-fabric-react/src/components/Modal/Modal.base.tsx
  packages/office-ui-fabric-react/src/components/Modal/Modal.styles.ts
  packages/office-ui-fabric-react/src/components/Modal/Modal.test.tsx
  packages/office-ui-fabric-react/src/components/Modal/Modal.types.ts
  packages/office-ui-fabric-react/src/components/Modal/__snapshots__/Modal.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Modal/examples/Modal.Basic.Example.tsx
  packages/office-ui-fabric-react/src/components/Modal/examples/Modal.Modeless.Example.tsx
  packages/office-ui-fabric-react/src/components/__snapshots__/Dialog.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Dialog.Modeless.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Modal.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Modal.Modeless.Example.tsx.shot
  packages/office-ui-fabric-react/src/utilities/DraggableZone/DraggableZone.styles.ts
  packages/office-ui-fabric-react/src/utilities/DraggableZone/DraggableZone.tsx
  packages/office-ui-fabric-react/src/utilities/DraggableZone/DraggableZone.types.ts
  packages/office-ui-fabric-react/src/utilities/DraggableZone/index.ts
  packages/styling/config/api-extractor.json
  packages/utilities/config/api-extractor.json
Labels: PR: API Modified

#8904 [new website] More website updates
  apps/fabric-website/src/SiteDefinition/SiteDefinition.pages/About/About.pages.tsx
  apps/fabric-website/src/SiteDefinition/SiteDefinition.pages/About/index.ts
  apps/fabric-website/src/SiteDefinition/SiteDefinition.pages/index.ts
  apps/fabric-website/src/SiteDefinition/SiteDefinition.tsx
  apps/fabric-website/src/components/FluentMessageBar/FluentMessageBar.tsx
  apps/fabric-website/src/components/Site/Site.tsx
  apps/fabric-website/src/components/Site/SiteMessageBar.tsx
  apps/fabric-website/src/pages/Controls/ButtonPage/docs/web/ButtonContact.md
  apps/fabric-website/src/pages/Overviews/AboutPage/AboutPage.doc.ts
  apps/fabric-website/src/pages/Overviews/AboutPage/AboutPage.tsx
  apps/fabric-website/src/pages/Overviews/AboutPage/docs/default/AboutOverview.md
  apps/fabric-website/src/pages/Overviews/ControlsPage/docs/web/ControlsOverview.md
  apps/fabric-website/src/pages/Styles/Colors/MessagingPage.doc.ts
  apps/fabric-website/src/pages/Styles/Colors/NeutralsPage.doc.ts
  apps/fabric-website/src/pages/Styles/Colors/PersonasPage.doc.ts
  apps/fabric-website/src/pages/Styles/Colors/PersonasPage.tsx
  apps/fabric-website/src/pages/Styles/Colors/PresencePage.doc.ts
  apps/fabric-website/src/pages/Styles/Colors/ProductsPage.doc.ts
  apps/fabric-website/src/pages/Styles/Colors/SharedPage.doc.ts
  apps/fabric-website/src/pages/Styles/Colors/docs/web/ColorsMessagingContact.md
  apps/fabric-website/src/pages/Styles/Colors/docs/web/ColorsNeutralsContact.md
  apps/fabric-website/src/pages/Styles/Colors/docs/web/ColorsPersonasContact.md
  apps/fabric-website/src/pages/Styles/Colors/docs/web/ColorsPresenceContact.md
  apps/fabric-website/src/pages/Styles/Colors/docs/web/ColorsProductsContact.md
  apps/fabric-website/src/pages/Styles/Colors/docs/web/ColorsSharedContact.md
  apps/fabric-website/src/pages/Styles/ElevationPage/ElevationPage.doc.ts
  apps/fabric-website/src/pages/Styles/ElevationPage/docs/web/ElevationContact.md
  apps/fabric-website/src/pages/Styles/FabricIconsPage/FabricIconsPage.doc.ts
  apps/fabric-website/src/pages/Styles/FabricIconsPage/docs/web/FabricIconsContact.md
  apps/fabric-website/src/pages/Styles/LayoutPage/LayoutPage.doc.ts
  apps/fabric-website/src/pages/Styles/LayoutPage/docs/web/LayoutContact.md
  apps/fabric-website/src/pages/Styles/LocalizationPage/LocalizationPage.doc.ts
  apps/fabric-website/src/pages/Styles/LocalizationPage/docs/web/LocalizationContact.md
  apps/fabric-website/src/pages/Styles/MotionPage/MotionPage.doc.ts
  apps/fabric-website/src/pages/Styles/MotionPage/docs/web/MotionContact.md
  apps/fabric-website/src/pages/Styles/OfficeBrandIconsPage/OfficeBrandIconsPage.doc.ts
  apps/fabric-website/src/pages/Styles/OfficeBrandIconsPage/docs/web/OfficeBrandIconsContact.md
  apps/fabric-website/src/pages/Styles/TypographyPage/TypographyPage.doc.ts
  apps/fabric-website/src/pages/Styles/TypographyPage/docs/web/TypographyContact.md
Labels: Area: Website, AutoMerge

#8900 [new website] Add API docs
  apps/fabric-website-resources/src/AppDefinition.tsx
  apps/fabric-website/src/SiteDefinition/SiteDefinition.pages/Controls/web.tsx
  apps/fabric-website/src/components/App/AppState.tsx
  apps/fabric-website/src/pages/Controls/ControlsAreaPage.tsx
  packages/api-docs/src/PageJsonGenerator.tsx
  packages/example-app-base/src/components/ApiReferencesTable/ApiReferencesTable.tsx
  packages/example-app-base/src/components/ApiReferencesTable/ApiReferencesTableSet.tsx
  packages/example-app-base/src/components/FeedbackList/FeedbackList.tsx
  packages/example-app-base/src/components/Nav/Nav.types.ts
  packages/example-app-base/src/components/Page/Page.tsx
  packages/example-app-base/src/components/Page/Page.types.ts
  packages/example-app-base/src/components/Page/sections/ImplementationSection.tsx
  packages/office-ui-fabric-react/src/utilities/router/Route.tsx
  packages/office-ui-fabric-react/src/utilities/router/Router.tsx
Labels: Area: Website, PR: API Modified

#8922 [new website] Update links + general edits
  apps/fabric-website-resources/README.md
  apps/fabric-website/src/SiteDefinition/SiteDefinition.tsx
  apps/fabric-website/src/pages/HomePage/docs/default/HomeOverview.md
  apps/fabric-website/src/pages/Overviews/ResourcesPage/docs/default/ResourcesDeveloperResources.md
  packages/office-ui-fabric-react/README.md
  packages/office-ui-fabric-react/src/components/Announced/docs/AnnouncedOverview.md
  packages/office-ui-fabric-react/src/components/Button/docs/ButtonOverview.md
  packages/office-ui-fabric-react/src/components/DetailsList/docs/DetailsListOverview.md
  packages/office-ui-fabric-react/src/components/Icon/docs/IconOverview.md
  packages/office-ui-fabric-react/src/components/Modal/docs/ModalOverview.md
  packages/office-ui-fabric-react/src/components/Shimmer/docs/ShimmerOverview.md
  packages/office-ui-fabric-react/src/components/TeachingBubble/docs/TeachingBubbleOverview.md
  packages/office-ui-fabric-react/src/components/Theme/docs/ThemesOverview.md
Labels: Area: Website

#8919 Add p-value evaluation to perf-comment
  common/config/rush/shrinkwrap.yaml
  scripts/package.json
  scripts/tasks/perf-test.js
Labels: Area: Build System

#8905 Fabric 7.0: redo the color changes to PersonaInitialColors
  apps/a11y-tests/src/tests/__snapshots__/Button.test.ts.snap
  packages/experiments/src/components/Persona/Vertical/__snapshots__/VerticalPersona.test.tsx.snap
  packages/experiments/src/components/PersonaCoin/__snapshots__/PersonaCoin.test.tsx.snap
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/ActivityItem/__snapshots__/ActivityItem.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Facepile/__snapshots__/Facepile.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Persona/Persona.types.ts
  packages/office-ui-fabric-react/src/components/Persona/PersonaCoin/__snapshots__/PersonaCoin.deprecated.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Persona/PersonaCoin/__snapshots__/PersonaCoin.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Persona/PersonaInitialsColor.test.ts
  packages/office-ui-fabric-react/src/components/Persona/PersonaInitialsColor.ts
  packages/office-ui-fabric-react/src/components/Persona/__snapshots__/Persona.deprecated.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Persona/__snapshots__/Persona.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Persona/examples/Persona.Colors.Example.tsx
  packages/office-ui-fabric-react/src/components/__snapshots__/ActivityItem.Compact.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/ActivityItem.Persona.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DocumentCard.Compact.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DocumentCard.Conversation.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DocumentCard.Image.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Facepile.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Facepile.Overflow.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Persona.Colors.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Persona.Initials.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/SelectedPeopleList.Controlled.Example.tsx.shot
Labels: Component: Persona, Fabric 7, PR: API Modified

#8937 Dropdown: Add breakpoint for small screen sizes
  common/changes/office-ui-fabric-react/anihan-dropdown-panelFix_2019-05-03-01-35.json
  packages/office-ui-fabric-react/src/components/Dropdown/Dropdown.styles.ts
Labels: Component: Dropdown

#8906 Fabric 7.0: remove Shimmer from experiments package
  packages/experiments/src/Shimmer.ts
  packages/experiments/src/components/Shimmer/Shimmer.base.tsx
  packages/experiments/src/components/Shimmer/Shimmer.styles.ts
  packages/experiments/src/components/Shimmer/Shimmer.tsx
  packages/experiments/src/components/Shimmer/Shimmer.types.ts
  packages/experiments/src/components/Shimmer/ShimmerCircle/ShimmerCircle.base.tsx
  packages/experiments/src/components/Shimmer/ShimmerCircle/ShimmerCircle.styles.ts
  packages/experiments/src/components/Shimmer/ShimmerCircle/ShimmerCircle.tsx
  packages/experiments/src/components/Shimmer/ShimmerCircle/ShimmerCircle.types.ts
  packages/experiments/src/components/Shimmer/ShimmerElementsGroup/ShimmerElementsGroup.base.tsx
  packages/experiments/src/components/Shimmer/ShimmerElementsGroup/ShimmerElementsGroup.styles.ts
  packages/experiments/src/components/Shimmer/ShimmerElementsGroup/ShimmerElementsGroup.tsx
  packages/experiments/src/components/Shimmer/ShimmerElementsGroup/ShimmerElementsGroup.types.ts
  packages/experiments/src/components/Shimmer/ShimmerGap/ShimmerGap.base.tsx
  packages/experiments/src/components/Shimmer/ShimmerGap/ShimmerGap.styles.ts
  packages/experiments/src/components/Shimmer/ShimmerGap/ShimmerGap.tsx
  packages/experiments/src/components/Shimmer/ShimmerGap/ShimmerGap.types.ts
  packages/experiments/src/components/Shimmer/ShimmerLine/ShimmerLine.base.tsx
  packages/experiments/src/components/Shimmer/ShimmerLine/ShimmerLine.styles.ts
  packages/experiments/src/components/Shimmer/ShimmerLine/ShimmerLine.tsx
  packages/experiments/src/components/Shimmer/ShimmerLine/ShimmerLine.types.ts
  packages/experiments/src/components/Shimmer/ShimmerPage.tsx
  packages/experiments/src/components/Shimmer/ShimmerTile/ShimmerTile.tsx
  packages/experiments/src/components/Shimmer/examples/ExampleHelper.tsx
  packages/experiments/src/components/Shimmer/examples/Shimmer.Application.Example.tsx
  packages/experiments/src/components/Shimmer/examples/Shimmer.Basic.Example.tsx
  packages/experiments/src/components/Shimmer/examples/Shimmer.CustomElements.Example.tsx
  packages/experiments/src/components/Shimmer/examples/Shimmer.Example.scss
  packages/experiments/src/components/Shimmer/examples/Shimmer.LoadData.Example.tsx
  packages/experiments/src/components/Shimmer/examples/Shimmer.Styling.Example.tsx
  packages/experiments/src/components/Shimmer/index.ts
  packages/experiments/src/demo/AppDefinition.tsx
  packages/experiments/src/index.ts
Labels: Component: Shimmer, Fabric 7, Package: experiments

#8944 Publish @uifabric/api-docs
  common/changes/@uifabric/api-docs/publishApiDocs_2019-05-03-17-07.json
  packages/api-docs/README.md
  rush.json
Labels: Area: Build System, AutoMerge

#8935 Properly propagate Esc in DatePicker
  common/changes/office-ui-fabric-react/anihan-datePicker-esc_2019-05-02-23-49.json
  packages/office-ui-fabric-react/src/components/DatePicker/DatePicker.base.tsx
  packages/office-ui-fabric-react/src/components/DatePicker/DatePicker.test.tsx
Labels: Component: DatePicker

#8907 date-time: adjust some center alignment.
  common/changes/@uifabric/date-time/vibraga-DateTimeCenter_2019-05-01-09-06.json
  packages/date-time/src/components/Calendar/CalendarDay/CalendarDay.styles.ts
  packages/date-time/src/components/Calendar/CalendarPicker/CalendarPicker.styles.ts
Labels: Area: JS Styling, Package: date-time

#8960 Website content and bug fixes
  apps/fabric-website/src/components/Site/Site.module.scss
  apps/fabric-website/src/pages/Overviews/ResourcesPage/docs/default/ResourcesContributionProcess.md
  apps/fabric-website/src/pages/Overviews/ResourcesPage/docs/default/ResourcesDesignResources.md
  apps/fabric-website/src/pages/Overviews/ResourcesPage/docs/default/ResourcesDeveloperResources.md
  common/changes/@uifabric/example-app-base/website-content-and-bug-fixes_2019-05-03-23-16.json
  common/changes/@uifabric/fabric-website/website-content-and-bug-fixes_2019-05-03-23-16.json
  packages/example-app-base/src/components/LoadingComponent/LoadingComponent.tsx
  packages/example-app-base/src/components/Page/Page.module.scss
Labels: Area: Website

#8962 ApiReferencesTable: fix class tables
  common/changes/@uifabric/example-app-base/apiReferencesTableClassesFix_2019-05-04-00-03.json
  packages/example-app-base/src/components/ApiReferencesTable/ApiReferencesTable.tsx
Labels: Area: Website, AutoMerge

#8952 Add tvalue to perf stats
  scripts/tasks/perf-test.js
Labels: Area: Build System

#8864 SelectionZone: Document component interface, props, and remove any type usage
  common/changes/office-ui-fabric-react/keco-selectionzone-docs_2019-04-27-22-37.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/utilities/selection/SelectionZone.tsx
Labels: PR: API Modified

#8958 Added Get started website
  apps/fabric-website/src/pages/Overviews/GetStartedPage/GetStartedPage.tsx
  apps/fabric-website/src/pages/Overviews/GetStartedPage/docs/web/GetStartedDesign.md
  apps/fabric-website/src/pages/Overviews/GetStartedPage/docs/web/GetStartedDevelop.md
  apps/fabric-website/src/pages/Overviews/GetStartedPage/docs/web/GetStartedDevelopCRA.md
  apps/fabric-website/src/pages/Overviews/GetStartedPage/docs/web/GetStartedDevelopCore.md
  apps/fabric-website/src/pages/Overviews/GetStartedPage/docs/web/GetStartedDevelopExisting.md
  apps/fabric-website/src/pages/Overviews/GetStartedPage/docs/web/GetStartedDevelopGatsby.md
  apps/fabric-website/src/pages/Overviews/GetStartedPage/docs/web/GetStartedDevelopSimple.md
  apps/fabric-website/src/pages/Overviews/GetStartedPage/docs/web/GetStartedNextSteps.md
  apps/fabric-website/src/pages/Overviews/GetStartedPage/docs/web/GetStartedOverview.md
  apps/fabric-website/src/pages/Overviews/GetStartedPage/docs/web/GetStartedPrerequisites.md
  apps/fabric-website/src/pages/Overviews/GetStartedPage/docs/web/GetStartedReact.md
  common/changes/@uifabric/fabric-website/get-started-website_2019-05-03-21-42.json
Labels: Area: Website

#8956 Add version dropdown and fix other bugs
  apps/fabric-website/src/components/Site/Site.tsx
  apps/fabric-website/src/components/Site/SiteMessageBar.tsx
  apps/fabric-website/src/components/Site/customizations.ts
  apps/fabric-website/src/pages/HomePage/HomePage.base.tsx
  apps/fabric-website/src/pages/HomePage/HomePage.styles.ts
  apps/fabric-website/src/pages/HomePage/HomePage.types.ts
  apps/fabric-website/src/utilities/location.ts
  common/changes/@uifabric/example-app-base/website-versions_2019-05-04-23-22.json
  common/changes/@uifabric/fabric-website/website-versions_2019-05-03-21-12.json
  packages/example-app-base/src/components/ComponentPage/ComponentPage.tsx
  packages/example-app-base/src/components/EditSection/EditSection.tsx
  packages/example-app-base/src/components/EditSection/EditSection.types.ts
  packages/example-app-base/src/components/Page/sections/BestPracticesSection.tsx
  packages/example-app-base/src/components/Page/sections/MarkdownSection.tsx
  packages/example-app-base/src/components/Page/sections/OtherPageSection.tsx
  packages/example-app-base/src/components/Page/sections/OverviewSection.tsx
Labels: Area: Website

#8974 Button disabled focus
  common/changes/@uifabric/experiments/buttonDisabledFocus_2019-05-06-17-42.json
  packages/experiments/src/components/Button/Button.types.tsx
  packages/experiments/src/components/Button/Button.view.tsx
  packages/experiments/src/components/Button/MenuButton/MenuButton.types.tsx
  packages/experiments/src/components/Button/SplitButton/SplitButton.types.tsx
  packages/experiments/src/components/Button/SplitButton/SplitButton.view.tsx
  packages/experiments/src/components/Button/__snapshots__/Button.test.tsx.snap
Labels: AutoMerge, Component: Button, Fabric 7, Package: experiments

#8981 Fix UHF element selectors for un-overriding font
  apps/fabric-website/src/components/Site/Site.module.scss
  apps/fabric-website/src/pages/HomePage/HomePage.base.tsx
  common/changes/@uifabric/fabric-website/really-fix-header_2019-05-06-19-43.json
Labels: Area: Website

#8980 Add Fluent Styling prop to Tile
  common/changes/@uifabric/experiments/edwl-2019-05-tileFluentStyles_2019-05-06-19-49.json
  packages/experiments/src/components/Tile/Tile.scss
  packages/experiments/src/components/Tile/Tile.tsx
  packages/experiments/src/components/Tile/Tile.types.ts
  packages/experiments/src/components/TilesList/examples/TilesList.Document.Example.tsx
Labels: Package: experiments

#8977 Fabric-website: Include markdown files in npm package
  apps/fabric-website/.npmignore
  common/changes/@uifabric/fabric-website/include-md-files-in-npm-package_2019-05-06-19-07.json
Labels: Area: Website, Priority 0: Blocking

#8975 Button: Making all MenuButton props optional
  common/changes/@uifabric/experiments/buttonOptionalMenu_2019-05-06-18-13.json
  packages/experiments/src/components/Button/MenuButton/MenuButton.types.tsx
Labels: AutoMerge, Component: Button, Fabric 7, Package: experiments

#8985 Adding @uifabric/experiments as a dependency in test-bundles to prevent potential breaks.
  apps/test-bundles/package.json
  apps/test-bundles/webpack.config.js
Labels: AutoMerge, Fabric 7

#8983 Reconcile React Dependency Versions
  apps/fabric-website-resources/package.json
  apps/fabric-website/package.json
  apps/perf-test/package.json
  apps/server-rendered-app/package.json
  apps/test-bundles/package.json
  apps/todo-app/package.json
  apps/vr-tests/package.json
  common/changes/@uifabric/charting/jg-dedupe-react-deps_2019-05-06-20-19.json
  common/changes/@uifabric/date-time/jg-dedupe-react-deps_2019-05-06-20-19.json
  common/changes/@uifabric/example-app-base/jg-dedupe-react-deps_2019-05-06-20-19.json
  common/changes/@uifabric/experiments/jg-dedupe-react-deps_2019-05-06-20-19.json
  common/changes/@uifabric/fabric-website-resources/jg-dedupe-react-deps_2019-05-06-20-19.json
  common/changes/@uifabric/fabric-website/jg-dedupe-react-deps_2019-05-06-20-19.json
  common/changes/@uifabric/file-type-icons/jg-dedupe-react-deps_2019-05-06-20-19.json
  common/changes/@uifabric/foundation/jg-dedupe-react-deps_2019-05-06-20-19.json
  common/changes/@uifabric/jest-serializer-merge-styles/jg-dedupe-react-deps_2019-05-06-20-19.json
  common/changes/@uifabric/legacy/jg-dedupe-react-deps_2019-05-06-20-19.json
  common/changes/@uifabric/react-cards/jg-dedupe-react-deps_2019-05-06-20-19.json
  common/changes/@uifabric/styling/jg-dedupe-react-deps_2019-05-06-20-19.json
  common/changes/@uifabric/test-utilities/jg-dedupe-react-deps_2019-05-06-20-19.json
  common/changes/@uifabric/utilities/jg-dedupe-react-deps_2019-05-06-20-19.json
  common/changes/office-ui-fabric-react/jg-dedupe-react-deps_2019-05-06-20-19.json
  common/config/rush/common-versions.json
  common/config/rush/shrinkwrap.yaml
  packages/charting/package.json
  packages/dashboard/package.json
  packages/date-time/package.json
  packages/example-app-base/package.json
  packages/experiments/package.json
  packages/file-type-icons/package.json
  packages/foundation-scenarios/package.json
  packages/foundation/etc/foundation.api.md
  packages/foundation/package.json
  packages/foundation/src/ISlots.ts
  packages/jest-serializer-merge-styles/package.json
  packages/legacy/package.json
  packages/office-ui-fabric-react/package.json
  packages/react-cards/package.json
  packages/styling/package.json
  packages/test-utilities/package.json
  packages/utilities/package.json
Labels: AutoMerge, Fabric 7

#8989 Fix UHF header style bugs
  apps/fabric-website/src/pages/HomePage/HomePage.base.tsx
  apps/fabric-website/src/pages/Overviews/StylesPage/StylesPage.tsx
  apps/fabric-website/src/pages/Styles/Colors/ProductsPage.tsx
  apps/fabric-website/src/pages/Styles/Colors/palettes/Excel.tsx
  apps/fabric-website/src/pages/Styles/Colors/palettes/Exchange.tsx
  apps/fabric-website/src/pages/Styles/Colors/palettes/OneDrive.tsx
  apps/fabric-website/src/pages/Styles/Colors/palettes/OneNote.tsx
  apps/fabric-website/src/pages/Styles/Colors/palettes/PowerPoint.tsx
  apps/fabric-website/src/pages/Styles/Colors/palettes/SharePoint.tsx
  apps/fabric-website/src/pages/Styles/Colors/palettes/Skype.tsx
  apps/fabric-website/src/pages/Styles/Colors/palettes/Teams.tsx
  apps/fabric-website/src/pages/Styles/Colors/palettes/WXPNeutrals.tsx
  apps/fabric-website/src/pages/Styles/Colors/palettes/Word.tsx
  apps/fabric-website/src/pages/Styles/LayoutPage/LayoutPage.tsx
  apps/fabric-website/src/pages/Styles/LocalizationPage/LocalizationPage.tsx
  apps/fabric-website/src/pages/Styles/MotionPage/MotionPage.tsx
  apps/fabric-website/src/pages/Styles/OfficeBrandIconsPage/OfficeBrandIconsPage.tsx
  common/changes/@uifabric/example-app-base/UHF-typography-style-bugs_2019-05-06-23-02.json
  common/changes/@uifabric/fabric-website/UHF-typography-style-bugs_2019-05-06-23-02.json
  packages/example-app-base/src/components/Markdown/MarkdownHeader.tsx
  packages/example-app-base/src/components/Page/sections/BestPracticesSection.tsx
  packages/example-app-base/src/components/SideRail/SideRail.tsx
Labels: Area: Website

#8990 Update README examples to reference mergeStyleSets instead of mergeSt…
  packages/merge-styles/README.md
Labels: Area: merge-styles

#8988 Support suggestions Truncation in ie11
  apps/vr-tests/src/stories/Suggestions.stories.tsx
  common/changes/office-ui-fabric-react/u-mahuangh-suggestions-overflow-ie11_2019-05-06-22-50.json
  packages/office-ui-fabric-react/src/components/pickers/Suggestions/Suggestions.scss
  packages/office-ui-fabric-react/src/components/pickers/Suggestions/SuggestionsItem.styles.ts
  packages/office-ui-fabric-react/src/components/pickers/Suggestions/__snapshots__/Suggestions.test.tsx.snap
Labels: Component: Pickers

#8993 Fix DetailsList large grouped demo infinite loading loop
  apps/fabric-website/src/SiteDefinition/SiteDefinition.pages/Controls/web.tsx
  apps/fabric-website/src/pages/Controls/DetailsListPage/DetailsListLargeGroupedPage.tsx
  common/changes/@uifabric/fabric-website/detailslist-loop_2019-05-07-01-42.json
  common/changes/office-ui-fabric-react/detailslist-loop_2019-05-07-01-50.json
  packages/office-ui-fabric-react/src/utilities/router/Router.tsx
Labels: Area: Website

#8982 Update get started page and other website content
  apps/fabric-website/src/SiteDefinition/SiteDefinition.pages/Controls/web.tsx
  apps/fabric-website/src/pages/Controls/FluentThemePage/docs/web/FluentThemeOverview.md
  apps/fabric-website/src/pages/Overviews/ControlsPage/ControlsPage.tsx
  apps/fabric-website/src/pages/Overviews/ControlsPage/docs/web/ControlsRequest.md
  apps/fabric-website/src/pages/Overviews/GetStartedPage/GetStartedPage.tsx
  apps/fabric-website/src/pages/Overviews/GetStartedPage/docs/web/GetStartedDesign.md
  apps/fabric-website/src/pages/Overviews/GetStartedPage/docs/web/GetStartedDevelopCRA.md
  apps/fabric-website/src/pages/Overviews/GetStartedPage/docs/web/GetStartedDevelopCore.md
  apps/fabric-website/src/pages/Overviews/GetStartedPage/docs/web/GetStartedDevelopExisting.md
  apps/fabric-website/src/pages/Overviews/GetStartedPage/docs/web/GetStartedDevelopGatsby.md
  apps/fabric-website/src/pages/Overviews/GetStartedPage/docs/web/GetStartedDevelopSimple.md
  apps/fabric-website/src/pages/Overviews/GetStartedPage/docs/web/GetStartedNextSteps.md
  apps/fabric-website/src/pages/Overviews/GetStartedPage/docs/web/GetStartedOverview.md
  apps/fabric-website/src/pages/Overviews/GetStartedPage/docs/web/GetStartedReact.md
  apps/fabric-website/src/pages/Overviews/ResourcesPage/docs/default/ResourcesContributionProcess.md
  apps/fabric-website/src/pages/Styles/FabricIconsPage/FabricIconsPage.tsx
  apps/fabric-website/src/pages/Styles/FabricIconsPage/docs/web/FabricIconsUsage.md
  common/changes/@uifabric/example-app-base/website-get-started_2019-05-06-20-10.json
  common/changes/@uifabric/fabric-website/website-get-started_2019-05-06-20-10.json
  common/changes/office-ui-fabric-react/website-get-started_2019-05-06-20-10.json
  packages/example-app-base/src/components/Page/Page.tsx
  packages/example-app-base/src/components/Page/Page.types.ts
  packages/example-app-base/src/components/Page/sections/BestPracticesSection.tsx
  packages/example-app-base/src/components/Page/sections/ExamplesSection.tsx
  packages/example-app-base/src/components/Page/sections/FeedbackSection.tsx
  packages/example-app-base/src/components/Page/sections/ImplementationSection.tsx
  packages/example-app-base/src/components/Page/sections/MarkdownSection.tsx
  packages/example-app-base/src/components/Page/sections/OtherPageSection.tsx
  packages/example-app-base/src/components/Page/sections/OverviewSection.tsx
  packages/example-app-base/src/utilities/string.ts
  packages/office-ui-fabric-react/src/components/Icon/docs/IconOverview.md
Labels: Area: Website

#8720 Add experimental FloatingSuggestions -- BaseFloatingPicker without inheritence.
  common/changes/@uifabric/experiments/u-mahuangh-floating-picker-redo_2019-04-12-22-47.json
  packages/experiments/src/FloatingPeopleSuggestions.ts
  packages/experiments/src/FloatingSuggestions.ts
  packages/experiments/src/components/FloatingSuggestions/FloatingPeopleSuggestions/FloatingPeopleSuggestions.tsx
  packages/experiments/src/components/FloatingSuggestions/FloatingPeopleSuggestions/defaults/DefaultPeopleSuggestionsItem.scss
  packages/experiments/src/components/FloatingSuggestions/FloatingPeopleSuggestions/defaults/DefaultPeopleSuggestionsItem.tsx
  packages/experiments/src/components/FloatingSuggestions/FloatingPeopleSuggestions/index.ts
  packages/experiments/src/components/FloatingSuggestions/FloatingSuggestions.scss
  packages/experiments/src/components/FloatingSuggestions/FloatingSuggestions.tsx
  packages/experiments/src/components/FloatingSuggestions/FloatingSuggestions.types.ts
  packages/experiments/src/components/FloatingSuggestions/Suggestions/Suggestions.types.ts
  packages/experiments/src/components/FloatingSuggestions/Suggestions/SuggestionsControl.scss
  packages/experiments/src/components/FloatingSuggestions/Suggestions/SuggestionsControl.tests.tsx
  packages/experiments/src/components/FloatingSuggestions/Suggestions/SuggestionsControl.tsx
  packages/experiments/src/components/FloatingSuggestions/Suggestions/SuggestionsCore.scss
  packages/experiments/src/components/FloatingSuggestions/Suggestions/SuggestionsCore.tsx
  packages/experiments/src/components/FloatingSuggestions/Suggestions/SuggestionsItem.styles.ts
  packages/experiments/src/components/FloatingSuggestions/Suggestions/SuggestionsItem.tsx
  packages/experiments/src/components/FloatingSuggestions/Suggestions/SuggestionsItem.types.ts
  packages/experiments/src/components/FloatingSuggestions/Suggestions/SuggestionsStore.ts
  packages/experiments/src/components/FloatingSuggestions/index.ts
Labels: Fabric 7

#9004 merge-styles: getInstance now with less IE11 memory leaks
  common/changes/@uifabric/merge-styles/merge-styles-tweak_2019-05-08-00-07.json
  packages/merge-styles/src/Stylesheet.ts
Labels: Area: merge-styles, AutoMerge

#8903 Fabric 7.0: remove Shimmer props and styles from DetailsList
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsList.base.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsList.types.ts
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsRow.base.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsRow.styles.ts
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsRow.types.ts
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsRowFields.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsRowFields.types.ts
  packages/office-ui-fabric-react/src/components/DetailsList/__snapshots__/DetailsList.test.tsx.snap
  packages/office-ui-fabric-react/src/components/DetailsList/__snapshots__/DetailsRow.test.tsx.snap
  packages/office-ui-fabric-react/src/components/__snapshots__/FocusZone.List.Example.tsx.shot
Labels: Component: DetailsList, Fabric 7, PR: API Modified, Type: Cleanup

#8931 Foundation: State Components & Hooks
  apps/fabric-website-resources/index.html
  apps/fabric-website/homepage.htm
  apps/server-rendered-app/index.html
  apps/server-rendered-app/server/index.js
  apps/test-bundles/index.html
  apps/theming-designer/index.html
  apps/todo-app/index.html
  apps/vr-tests/index.html
  common/changes/@uifabric/experiments/jg-foundation-hooks_2019-05-02-22-34.json
  common/changes/@uifabric/foundation/jg-foundation-hooks_2019-05-02-22-34.json
  common/config/rush/shrinkwrap.yaml
  packages/charting/index.html
  packages/charting/package.json
  packages/date-time/index.html
  packages/date-time/package.json
  packages/example-app-base/package.json
  packages/experiments/index.html
  packages/experiments/src/components/Button/Button.state.ts
  packages/experiments/src/components/Button/Button.tsx
  packages/experiments/src/components/Button/MenuButton/MenuButton.state.ts
  packages/experiments/src/components/Button/MenuButton/MenuButton.tsx
  packages/experiments/src/components/Button/SplitButton/SplitButton.tsx
  packages/experiments/src/components/Button/examples/Button.Tokens.Example.tsx
  packages/experiments/src/components/CollapsibleSection/CollapsibleSection.state.tsx
  packages/experiments/src/components/CollapsibleSection/CollapsibleSection.ts
  packages/experiments/src/components/PersonaCoin/PersonaCoin.state.ts
  packages/experiments/src/components/PersonaCoin/PersonaCoin.ts
  packages/experiments/src/components/Toggle/Toggle.state.test.tsx
  packages/experiments/src/components/Toggle/Toggle.state.ts
  packages/experiments/src/components/Toggle/Toggle.ts
  packages/experiments/src/components/Toggle/__snapshots__/Toggle.view.test.tsx.snap
  packages/experiments/src/components/Toggle/examples/Toggle.Example.tsx
  packages/experiments/src/utilities/BaseComponentMin.ts
  packages/experiments/src/utilities/BaseState.test.tsx
  packages/experiments/src/utilities/BaseState.tsx
  packages/foundation-scenarios/index.html
  packages/foundation-scenarios/package.json
  packages/foundation/etc/foundation.api.md
  packages/foundation/package.json
  packages/foundation/src/IComponent.ts
  packages/foundation/src/createComponent.tsx
  packages/foundation/src/hooks/controlled.test.tsx
  packages/foundation/src/hooks/controlled.ts
  packages/foundation/src/hooks/index.ts
  packages/foundation/src/index.ts
  packages/react-cards/index.html
  packages/react-cards/package.json
  scripts/templates/create-package/EmptyIndexHtml.mustache
Labels: Area: Foundation, Fabric 7, Status: Do Not Merge 🚫

#9006 Fix return type of onReduceData in CommandBar
  common/changes/office-ui-fabric-react/anihan-commandbar-type-fix_2019-05-08-00-23.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/CommandBar/CommandBar.types.ts
Labels: AutoMerge, Component: CommandBar, PR: API Modified

#8961 Add build definition to test TypeScript compatibility of office-ui-fabric-react
  scripts/typescript-compatibility-build.yml
Labels: Area: Build System

#8986 Make site message bar optional
  apps/fabric-website/src/SiteDefinition/SiteDefinition.tsx
  apps/fabric-website/src/components/Site/Site.tsx
  common/changes/@uifabric/example-app-base/Make-site-message-bar-optional_2019-05-06-21-32.json
  common/changes/@uifabric/fabric-website/Make-site-message-bar-optional_2019-05-06-21-32.json
  packages/example-app-base/src/components/SiteMessageBar/SiteMessageBar.tsx
  packages/example-app-base/src/components/SiteMessageBar/SiteMessageBar.types.ts
  packages/example-app-base/src/components/SiteMessageBar/index.ts
  packages/example-app-base/src/index2.ts
  packages/example-app-base/src/utilities/SiteDefinition.types.ts
Labels: Area: Website, AutoMerge

#9014 Include markdown nested within docs folders
  apps/fabric-website/.npmignore
  common/changes/@uifabric/fabric-website/fix-md-imports_2019-05-08-22-21.json
  common/changes/office-ui-fabric-react/fix-md-imports_2019-05-08-22-21.json
  packages/office-ui-fabric-react/.npmignore
Labels: AutoMerge

#9016 Button: Adding toggle/checked functionality to Button
  common/changes/@uifabric/experiments/toggleButtons_2019-05-08-23-09.json
  packages/experiments/src/components/Button/Button.styles.ts
  packages/experiments/src/components/Button/Button.test.tsx
  packages/experiments/src/components/Button/Button.types.tsx
  packages/experiments/src/components/Button/ButtonPage.tsx
  packages/experiments/src/components/Button/MenuButton/MenuButton.types.tsx
  packages/experiments/src/components/Button/SplitButton/SplitButton.types.tsx
  packages/experiments/src/components/Button/examples/Button.Toggle.Example.tsx
Labels: Component: Button, Fabric 7, Package: experiments

#8921 Add support for hidden options in dropdown and combo box
  common/changes/office-ui-fabric-react/pb-hidden-option_2019-05-02-01-22.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/ComboBox/ComboBox.styles.ts
  packages/office-ui-fabric-react/src/components/ComboBox/ComboBox.tsx
  packages/office-ui-fabric-react/src/components/Dropdown/Dropdown.base.tsx
  packages/office-ui-fabric-react/src/components/Dropdown/Dropdown.styles.ts
  packages/office-ui-fabric-react/src/components/Dropdown/Dropdown.types.ts
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Advanced.Example.tsx.shot
  packages/office-ui-fabric-react/src/utilities/selectableOption/SelectableOption.types.ts
Labels: AutoMerge, Component: ComboBox, Component: Dropdown

#9018 Export ResponsiveMode
  common/changes/office-ui-fabric-react/export-responsive-mode_2019-05-08-23-53.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/Dialog/DialogContent.types.ts
  packages/office-ui-fabric-react/src/components/Dropdown/Dropdown.types.ts
Labels: AutoMerge, PR: API Modified

#9033 Button: Fixing SplitButton so that root and button slot props do not propagate to inner slots
  common/changes/@uifabric/experiments/buttonErrors_2019-05-09-20-53.json
  packages/experiments/src/components/Button/SplitButton/SplitButton.view.tsx
  packages/experiments/src/components/Button/examples/Button.Slots.Example.tsx
Labels: AutoMerge, Component: Button, Fabric 7, Package: experiments

#9042 Card: Adding vr-tests
  apps/vr-tests/package.json
  apps/vr-tests/src/stories/Card.stories.tsx
Labels: AutoMerge, Component: Card, Fabric 7

#9019 Remove aria-hidden from FocusTrapZone's bumpers
  common/changes/office-ui-fabric-react/panel-focus_2019-05-09-00-32.json
  packages/office-ui-fabric-react/src/components/FocusTrapZone/FocusTrapZone.tsx
  packages/office-ui-fabric-react/src/components/HoverCard/__snapshots__/HoverCard.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Modal/__snapshots__/Modal.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Panel/__snapshots__/Panel.test.tsx.snap
  packages/office-ui-fabric-react/src/components/__snapshots__/CommandBar.CommandBarButtonAs.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/FocusTrapZone.Box.Click.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/FocusTrapZone.Box.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/FocusTrapZone.Box.FocusOnCustomElement.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/FocusTrapZone.FocusZone.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/FocusTrapZone.Nested.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Panel.HiddenOnDismiss.Example.tsx.shot
Labels: Area: Accessibility

#8979 Fix focus state of ComboBox
  common/changes/@uifabric/experiments/anihan-comboBox-focus_2019-05-09-23-07.json
  common/changes/office-ui-fabric-react/anihan-comboBox-focus_2019-05-09-23-07.json
  packages/experiments/src/components/Pagination/__snapshots__/Pagination.test.tsx.snap
  packages/office-ui-fabric-react/src/components/ComboBox/ComboBox.tsx
  packages/office-ui-fabric-react/src/components/ComboBox/__snapshots__/ComboBox.deprecated.test.tsx.snap
  packages/office-ui-fabric-react/src/components/ComboBox/__snapshots__/ComboBox.test.tsx.snap
  packages/office-ui-fabric-react/src/components/__snapshots__/ComboBox.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/ComboBox.Controlled.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/ComboBox.CustomStyled.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/ComboBox.Toggles.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/ComboBox.Virtualized.Example.tsx.shot
Labels: Component: ComboBox

#9025 Create Component Script: Update for State & Hooks Approach
  common/changes/@uifabric/experiments/jg-create-component-hooks_2019-05-09-17-08.json
  common/changes/@uifabric/foundation/jg-create-component-hooks_2019-05-09-17-08.json
  common/config/rush/common-versions.json
  packages/experiments/package.json
  packages/experiments/src/components/Button/examples/Button.Example.tsx
  packages/foundation/etc/foundation.api.md
  packages/foundation/src/IComponent.ts
  packages/foundation/src/createComponent.tsx
  scripts/templates/create-component/EmptyComponent.mustache
  scripts/templates/create-component/EmptyState.mustache
  scripts/templates/create-component/EmptyStateTest.mustache
  scripts/templates/create-component/EmptyTypes.mustache
  scripts/templates/create-component/EmptyTypesStateless.mustache
  scripts/templates/create-component/EmptyView.mustache
  scripts/templates/create-component/EmptyViewTest.mustache
Labels: AutoMerge, Fabric 7

#9043 Add _theme.effects to legacyLoadTheme
  common/changes/@uifabric/styling/edwl-2019-05-fixThemeEffects_2019-05-09-23-32.json
  packages/styling/src/styles/theme.ts
Labels: AutoMerge

#9046 Add id to ChoiceGroup element
  common/changes/office-ui-fabric-react/dfisenko-choiceGroupId_2019-05-10-01-35.json
  packages/office-ui-fabric-react/src/components/ChoiceGroup/ChoiceGroup.base.tsx
  packages/office-ui-fabric-react/src/components/ChoiceGroup/ChoiceGroup.test.tsx
Labels: Component: ChoiceGroup

#9035 Prevent pickers from showing "ms-clear" icon when typing.
  common/changes/office-ui-fabric-react/fix-peoplepicker_2019-05-09-21-35.json
  packages/office-ui-fabric-react/src/components/__snapshots__/Announced.SearchResults.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/PeoplePicker.Types.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/TagPicker.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/pickers/BasePicker.styles.ts
  packages/office-ui-fabric-react/src/components/pickers/PeoplePicker/__snapshots__/PeoplePicker.test.tsx.snap
  packages/office-ui-fabric-react/src/components/pickers/TagPicker/__snapshots__/TagPicker.test.tsx.snap
Labels: Component: Pickers

#9012 Update rest state border colors in Fluent theme
  common/changes/@uifabric/fluent-theme/wcag_2019-05-08-19-43.json
  packages/fluent-theme/src/fluent/FluentStyles.ts
  packages/fluent-theme/src/fluent/styles/BasePicker.styles.ts
  packages/fluent-theme/src/fluent/styles/ComboBox.styles.ts
  packages/fluent-theme/src/fluent/styles/Dropdown.styles.ts
  packages/fluent-theme/src/fluent/styles/SearchBox.styles.ts
  packages/fluent-theme/src/fluent/styles/SpinButton.styles.ts
  packages/fluent-theme/src/fluent/styles/TextField.styles.ts
Labels: AutoMerge, Package: fluent-theme

#9010 More "typeof window" fixes to avoid leaks in IE11.
  common/changes/@uifabric/styling/fix-window-references_2019-05-08-17-33.json
  common/changes/@uifabric/utilities/fix-window-references_2019-05-08-17-33.json
  common/changes/office-ui-fabric-react/fix-window-references_2019-05-08-17-33.json
  packages/office-ui-fabric-react/src/components/Nav/Nav.base.tsx
  packages/office-ui-fabric-react/src/components/Panel/Panel.styles.ts
  packages/set-version/src/setVersion.ts
  packages/styling/src/styles/DefaultFontStyles.ts
  packages/styling/src/styles/theme.ts
  packages/utilities/src/GlobalSettings.ts
  packages/utilities/src/dom/getWindow.ts
  packages/utilities/src/localStorage.ts
  packages/utilities/src/object.ts
  packages/utilities/src/osDetector.ts
Labels: AutoMerge

#8927 Dropdown/combobox: Add new prop to openonfocus
  common/changes/office-ui-fabric-react/dropdown-combobox-openonfocus_2019-05-02-17-40.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/ComboBox/ComboBox.test.tsx
  packages/office-ui-fabric-react/src/components/ComboBox/ComboBox.tsx
  packages/office-ui-fabric-react/src/components/Dropdown/Dropdown.base.tsx
  packages/office-ui-fabric-react/src/components/Dropdown/Dropdown.test.tsx
  packages/office-ui-fabric-react/src/utilities/selectableOption/SelectableDroppableText.types.ts
Labels: Component: ComboBox, Component: Dropdown

#9031 Fix types import on TemplatePage
  apps/fabric-website/src/pages/PageTemplates/TemplatePage/TemplatePage.doc.ts
  common/changes/@uifabric/fabric-website/fix-types-imports_2019-05-09-22-28.json
Labels: Area: Website, AutoMerge, Priority 0: Blocking

#9028 Fix postinstall steps.
  package.json
Labels: Area: Build System

#9074 Add office-ui-fabric-react release tag trigger to TypeScript compatibility build def
  scripts/typescript-compatibility-build.yml
Labels: Area: Build System

#9061 Button: Adding keytips to new Button
  common/changes/@uifabric/experiments/buttonKeytips_2019-05-10-23-18.json
  packages/experiments/src/components/Button/Button.types.tsx
  packages/experiments/src/components/Button/Button.view.tsx
  packages/experiments/src/components/Button/ButtonPage.tsx
  packages/experiments/src/components/Button/MenuButton/MenuButton.types.tsx
  packages/experiments/src/components/Button/MenuButton/MenuButton.view.tsx
  packages/experiments/src/components/Button/MenuButton/examples/MenuButton.Example.tsx
  packages/experiments/src/components/Button/SplitButton/SplitButton.types.tsx
  packages/experiments/src/components/Button/SplitButton/SplitButton.view.tsx
  packages/experiments/src/components/Button/SplitButton/examples/SplitButton.Example.tsx
  packages/experiments/src/components/Button/examples/Button.Example.tsx
  packages/experiments/src/components/Button/examples/Button.Keytips.Example.tsx
  packages/experiments/src/components/Button/examples/Button.Styles.Example.tsx
Labels: AutoMerge, Component: Button, Fabric 7, Package: experiments

#9075 Documentation: Handle type aliases
  common/changes/@uifabric/api-docs/handleTypeAliases_2019-05-13-17-41.json
  common/changes/@uifabric/example-app-base/handleTypeAliases_2019-05-13-17-41.json
  common/changes/office-ui-fabric-react/handleTypeAliases_2019-05-13-17-41.json
  packages/api-docs/src/PageJsonGenerator.tsx
  packages/api-docs/src/PageJsonGenerator.types.ts
  packages/example-app-base/src/components/ApiReferencesTable/ApiReferencesTable.tsx
  packages/example-app-base/src/components/ApiReferencesTable/ApiReferencesTableSet.tsx
  packages/example-app-base/src/utilities/parser/interfaces.ts
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/common/DocPage.types.ts
  packages/office-ui-fabric-react/src/components/pickers/BasePicker.types.ts
Labels: Area: Documentation

#9072 Foundation: Evolve API
  common/changes/@uifabric/experiments/jg-evolve-create-component_2019-05-13-15-52.json
  common/changes/@uifabric/foundation/jg-evolve-create-component_2019-05-13-15-52.json
  common/changes/@uifabric/react-cards/jg-evolve-create-component_2019-05-13-15-52.json
  common/changes/office-ui-fabric-react/jg-evolve-create-component_2019-05-13-15-52.json
  packages/experiments/src/components/Accordion/Accordion.tsx
  packages/experiments/src/components/Button/Button.tsx
  packages/experiments/src/components/Button/MenuButton/MenuButton.tsx
  packages/experiments/src/components/Button/SplitButton/SplitButton.tsx
  packages/experiments/src/components/CollapsibleSection/CollapsibleSection.ts
  packages/experiments/src/components/CollapsibleSection/CollapsibleSectionTitle.ts
  packages/experiments/src/components/Persona/Vertical/VerticalPersona.ts
  packages/experiments/src/components/PersonaCoin/PersonaCoin.ts
  packages/experiments/src/components/PersonaCoin/PersonaCoinImage/PersonaCoinImage.tsx
  packages/experiments/src/components/Toggle/Toggle.ts
  packages/foundation/etc/foundation.api.md
  packages/foundation/src/IComponent.ts
  packages/foundation/src/createComponent.tsx
  packages/office-ui-fabric-react/src/components/Stack/Stack.tsx
  packages/office-ui-fabric-react/src/components/Stack/StackItem/StackItem.tsx
  packages/office-ui-fabric-react/src/components/Text/Text.ts
  packages/react-cards/src/components/Card/Card.ts
  packages/react-cards/src/components/Card/CardItem/CardItem.ts
  packages/react-cards/src/components/Card/CardSection/CardSection.ts
Labels: Area: Foundation, AutoMerge, Fabric 7

#9082 Fix IE11 home page styles
  apps/fabric-website/src/pages/HomePage/HomePage.styles.ts
  common/changes/@uifabric/fabric-website/fix-home-page-ie11_2019-05-13-22-04.json
Labels: Area: Website

#9081 Color palette updates
  apps/fabric-website/src/data/colors-neutral.json
  apps/fabric-website/src/data/colors-persona-groups.json
  apps/fabric-website/src/data/colors-personas.json
  apps/fabric-website/src/data/colors-shared.json
  apps/fabric-website/src/pages/Styles/Colors/NeutralsPage.tsx
  apps/fabric-website/src/pages/Styles/Colors/PersonasPage.tsx
  apps/fabric-website/src/pages/Styles/Colors/ProductsPage.tsx
  apps/fabric-website/src/pages/Styles/Colors/SharedPage.tsx
  apps/fabric-website/src/pages/Styles/Colors/docs/web/ColorsNeutrals.md
  apps/fabric-website/src/pages/Styles/Colors/palettes/SharePoint.tsx
  apps/fabric-website/src/pages/Styles/Colors/palettes/palettes.tsx
  common/changes/@uifabric/example-app-base/colors-updates_2019-05-13-21-39.json
  common/changes/@uifabric/fabric-website/colors-updates_2019-05-13-21-39.json
  packages/example-app-base/src/components/ColorPalette/ColorPalette.styles.ts
  packages/example-app-base/src/components/ColorPalette/ColorPalette.tsx
  packages/example-app-base/src/components/ColorPalette/ColorPalette.types.ts
Labels: Area: Website

#9058 DetailsList: Export missing public API symbols
  common/changes/office-ui-fabric-react/keco-dl-forgotten-exports_2019-05-10-21-13.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsColumn.base.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsColumn.types.ts
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsList.types.ts
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsRowFields.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsRowFields.types.ts
  packages/office-ui-fabric-react/src/components/DetailsList/index.ts
  packages/office-ui-fabric-react/src/utilities/decorators/withViewport.tsx
  packages/office-ui-fabric-react/src/utilities/dragdrop/interfaces.ts
Labels: Component: DetailsList, PR: API Modified

#9027 withViewport: Handle change of skipViewportMeasures value
  common/changes/office-ui-fabric-react/keco-fix-withviewport-skipmeasures_2019-05-09-17-27.json
  packages/office-ui-fabric-react/src/utilities/decorators/withViewport.tsx
Labels: Component: DetailsList

#9066 fabric-website: export categories object for documentation
  .github/CODEOWNERS
  apps/fabric-website/src/SiteDefinition/SiteDefinition.pages/Controls/web.tsx
  common/changes/@uifabric/fabric-website/vibraga-exportSideDefinition_2019-05-11-01-41.json
Labels: Area: Website, AutoMerge

#9052 a11y-tests: Add root level update-a11y command
  package.json
Labels: Area: Build System, AutoMerge

#9078 Fix nav section behavior
  apps/fabric-website/src/components/Nav/Nav.tsx
  common/changes/@uifabric/fabric-website/nav-behavior_2019-05-13-20-56.json
Labels: Area: Website

#9062 Fix some pages not rendering
  apps/fabric-website/src/SiteDefinition/SiteDefinition.tsx
  apps/fabric-website/src/components/Site/Site.tsx
  apps/fabric-website/src/pages/Controls/ControlsAreaPage.tsx
  apps/fabric-website/src/pages/Controls/FluentThemePage/FluentThemePage.tsx
  apps/fabric-website/src/pages/HomePage/HomePage.base.tsx
  apps/fabric-website/src/pages/Overviews/ControlsPage/ControlsPage.tsx
  apps/fabric-website/src/pages/Overviews/GetStartedPage/GetStartedPage.tsx
  apps/fabric-website/src/pages/Overviews/ResourcesPage/ResourcesPage.tsx
  apps/fabric-website/src/pages/Overviews/StylesPage/StylesPage.tsx
  apps/fabric-website/src/pages/PageTemplates/TemplatePage/TemplatePage.tsx
  apps/fabric-website/src/pages/Styles/StylesAreaPage.tsx
  common/changes/@uifabric/example-app-base/fix-page-render_2019-05-11-02-29.json
  common/changes/@uifabric/fabric-website/fix-page-render_2019-05-11-00-15.json
  packages/example-app-base/src/utilities/getSiteArea.ts
Labels: Area: Website

#9079 FocusZone: focus busted in example, fixing.
  common/changes/office-ui-fabric-react/fix-fz-example_2019-05-13-21-23.json
  packages/office-ui-fabric-react/src/components/FocusZone/examples/FocusZone.Photos.Example.tsx
  packages/office-ui-fabric-react/src/components/__snapshots__/FocusZone.Photos.Example.tsx.shot
Labels: AutoMerge, Component: FocusZone

#9041 Fix positioning issue of Dropdown's options list
  common/changes/@uifabric/codepen-loader/fix-switching-sides-order_2019-05-09-20-31.json
  packages/office-ui-fabric-react/src/utilities/positioning/positioning.ts
Labels: Fabric 7

#8938 Allow custom aria label generation in suggestionStore
  .vscode/launch.json
  common/changes/office-ui-fabric-react/u-mahuangh-suggestionstore-aria-labels_2019-05-03-02-35.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/FloatingPicker/Suggestions/SuggestionStore.test.tsx
  packages/office-ui-fabric-react/src/components/FloatingPicker/Suggestions/SuggestionsStore.ts
Labels: PR: API Modified

#9080 TextField: add support for multiple line error msg
  common/changes/office-ui-fabric-react/iamchangming-textfield_multiple_line_error_msg_2019-05-13-21-14.json
  common/changes/office-ui-fabric-react/iamchangming-textfield_multiple_line_error_msg_2019-05-14-19-03.json
  common/changes/office-ui-fabric-react/iamchangming-textfield_multiple_line_error_msg_2019-05-14-20-11.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/TextField/TextField.base.tsx
  packages/office-ui-fabric-react/src/components/TextField/TextField.test.tsx
  packages/office-ui-fabric-react/src/components/TextField/TextField.types.ts
Labels: AutoMerge, Component: TextField, PR: API Modified

#8842 Add tooltip for cancel button in panel
  common/changes/office-ui-fabric-react/AddTooltipForCancelButonInPanel_2019-04-25-12-33.json
  packages/office-ui-fabric-react/src/components/Panel/Panel.base.tsx
Labels: AutoMerge, Component: Panel

#9086 Fabric 7.0: remove the deprecated API items in ShimmeredDetailsList
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/DetailsList/ShimmeredDetailsList.base.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/ShimmeredDetailsList.styles.ts
  packages/office-ui-fabric-react/src/components/DetailsList/ShimmeredDetailsList.types.ts
  packages/office-ui-fabric-react/src/components/DetailsList/__snapshots__/ShimmeredDetailsList.test.tsx.snap
Labels: Component: DetailsList, Fabric 7, PR: API Modified, Type: Cleanup

#9001 Ensure Nav link does not render icon element if there is no real icon defined for the link
  common/changes/office-ui-fabric-react/master_2019-05-10-00-26.json
  packages/office-ui-fabric-react/src/components/Button/BaseButton.tsx
  packages/office-ui-fabric-react/src/components/Nav/Nav.base.tsx
  packages/office-ui-fabric-react/src/components/Nav/__snapshots__/Nav.test.tsx.snap
  packages/office-ui-fabric-react/src/components/__snapshots__/Nav.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Nav.CustomGroupHeaders.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Nav.Nested.Example.tsx.shot
Labels: AutoMerge

#9100 pr-deploy-site: add Chiclet test page
  apps/pr-deploy-site/chiclet-test.html
  apps/pr-deploy-site/config/pre-copy.json
Labels: AutoMerge

#9099 Nav respects changes to collapsedByDefault
  common/changes/office-ui-fabric-react/nav-8582_2019-05-14-20-28.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/Nav/Nav.base.tsx
Labels: Component: Nav, PR: API Modified

#9087 ShimmedDetailsList: export missing APIs to the surface
  common/changes/office-ui-fabric-react/vibraga-exportsShimmeredDetailsList_2019-05-14-03-05.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/ShimmeredDetailsList.ts
  packages/office-ui-fabric-react/src/components/DetailsList/ShimmeredDetailsList.types.ts
Labels: Component: DetailsList, PR: API Modified

#9085 Create Not found/404 page
  apps/fabric-website/src/pages/NotFoundPage/NotFoundPage.tsx
  apps/fabric-website/src/root.tsx
  apps/fabric-website/src/styles/constants.ts
  common/changes/@uifabric/example-app-base/not-found-page_2019-05-14-02-50.json
  common/changes/@uifabric/fabric-website/not-found-page_2019-05-14-02-50.json
  packages/example-app-base/src/utilities/appInsightsHelper.ts
  packages/example-app-base/src/utilities/index2.ts
  packages/example-app-base/src/utilities/randomEntry.ts
Labels: Area: Website

#9098 Codeowner updates and other small cleanup changes
  .github/CODEOWNERS
  apps/dom-tests/src/index.tsx
  apps/dom-tests/src/pages/pageList.ts
  apps/dom-tests/src/test/FocusZone.test.dom.ts
  apps/dom-tests/tslint.json
  common/changes/@uifabric/example-app-base/website-bugs2_2019-05-14-20-19.json
  packages/example-app-base/src/utilities/PlatformContext.tsx
  scripts/tasks/jest.js
Labels: Area: Build System, Area: Website, AutoMerge

#9105 Update file type icons README with note about opting in to the Fluent assets
  common/changes/@uifabric/file-type-icons/jahnp-update-file-type-icons-readme_2019-05-15-04-00.json
  packages/file-type-icons/README.md
Labels: AutoMerge

#9104 Update file type icons to use new Fluent assets by default
  packages/file-type-icons/src/initializeFileTypeIcons.tsx
Labels: AutoMerge, Fabric 7

#9094 Website: Adding Button to mobile docs
  apps/fabric-website/src/SiteDefinition/SiteDefinition.pages/Controls/android.tsx
  apps/fabric-website/src/SiteDefinition/SiteDefinition.pages/Controls/ios.tsx
  apps/fabric-website/src/pages/Controls/ButtonPage/ButtonPage.doc.ts
  apps/fabric-website/src/pages/Controls/ButtonPage/ButtonPage.tsx
  apps/fabric-website/src/pages/Controls/ButtonPage/docs/ButtonRelated.md
  apps/fabric-website/src/pages/Controls/ButtonPage/docs/android/ButtonImplementation.md
  apps/fabric-website/src/pages/Controls/ButtonPage/docs/android/ButtonOverview.md
  apps/fabric-website/src/pages/Controls/ButtonPage/docs/ios/ButtonImplementation.md
  apps/fabric-website/src/pages/Controls/ButtonPage/docs/ios/ButtonOverview.md
  common/changes/@uifabric/fabric-website/android-controls_2019-05-13-22-01.json
Labels: Area: Website, AutoMerge

#9095 New release YML file for transitioning to Linux build for build speed
  apps/fabric-website/just-task.js
  apps/fabric-website/package.json
  apps/fabric-website/scripts/createFlightConfig.js
  azure-pipelines.release.yml
  common/changes/@uifabric/fabric-website/release_2019-05-14-19-10.json
Labels: Area: Build System

#9110 [Checkbox] Fix outline on focus.
  common/changes/office-ui-fabric-react/fix-checkbox-outline_2019-05-15-20-42.json
  packages/office-ui-fabric-react/src/components/Checkbox/Checkbox.styles.ts
  packages/office-ui-fabric-react/src/components/Checkbox/__snapshots__/Checkbox.test.tsx.snap
  packages/office-ui-fabric-react/src/components/__snapshots__/Callout.Directional.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Checkbox.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Checkbox.Other.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/ContextualMenu.Directional.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Dialog.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Dialog.Modeless.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Facepile.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/MarqueeSelection.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Modal.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Modal.Modeless.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/PeoplePicker.Types.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Persona.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/ResizeGroup.OverflowSet.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Stack.Horizontal.Configure.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Stack.Vertical.Configure.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/TagPicker.Basic.Example.tsx.shot
Labels: AutoMerge, Component: Checkbox

#9112 Fabric Website: Add section under "Developer resources" with link to versioned release notes and demos
  apps/fabric-website/src/pages/Overviews/ResourcesPage/docs/default/ResourcesDeveloperResources.md
  common/changes/@uifabric/fabric-website/keco-release-notes-link_2019-05-15-22-25.json
Labels: Area: Website, AutoMerge

#9115 Fix button page imports
  apps/fabric-website/src/pages/Controls/ButtonPage/ButtonPage.tsx
  common/changes/@uifabric/fabric-website/fix-button-page_2019-05-16-00-02.json
Labels: Area: Website, AutoMerge

#9091 Line chart x axis text alignment
  common/changes/@uifabric/charting/LineChartXAxisTextALignment_2019-05-14-10-05.json
  packages/charting/src/components/LineChart/LineChart.base.tsx
Labels: Package: charting

#9123 Fixes the fabric-website deployment baseCDNUrl
  apps/fabric-website/scripts/createFlightConfig.js
  azure-pipelines.release.yml
  common/changes/@uifabric/fabric-website/buildnum_2019-05-16-16-32.json
Labels: Area: Build System, AutoMerge, Type: Bug :bug:

#8963 Button: Changing style of all variants to be Fluent by default and removing use of palette in favor of semantic slots
  common/changes/@uifabric/experiments/buttonFluentStyles_2019-05-04-00-40.json
  common/changes/@uifabric/merge-styles/buttonFluentStyles_2019-05-06-22-26.json
  packages/experiments/src/components/Button/ActionButton.tsx
  packages/experiments/src/components/Button/BaseButton.tsx
  packages/experiments/src/components/Button/Button.styles.ts
  packages/experiments/src/components/Button/Button.types.tsx
  packages/experiments/src/components/Button/ButtonPage.tsx
  packages/experiments/src/components/Button/ButtonVariants.test.tsx
  packages/experiments/src/components/Button/CommandBarButton.tsx
  packages/experiments/src/components/Button/CompoundButton.tsx
  packages/experiments/src/components/Button/IconButton.tsx
  packages/experiments/src/components/Button/MenuButton/MenuButton.styles.ts
  packages/experiments/src/components/Button/MenuButton/MenuButton.types.tsx
  packages/experiments/src/components/Button/MessageBarButton.tsx
  packages/experiments/src/components/Button/SplitButton/SplitButton.styles.ts
  packages/experiments/src/components/Button/SplitButton/SplitButton.types.tsx
  packages/experiments/src/components/Button/SplitButton/SplitButton.view.tsx
  packages/experiments/src/components/Button/__snapshots__/Button.test.tsx.snap
  packages/experiments/src/components/Button/__snapshots__/ButtonVariants.test.tsx.snap
  packages/experiments/src/components/Button/examples/Button.Slots.Example.tsx
  packages/experiments/src/components/Button/examples/Button.Variants.Example.tsx
  packages/merge-styles/etc/merge-styles.api.md
  packages/merge-styles/src/IRawStyleBase.ts
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/Stack/StackItem/StackItem.types.ts
Labels: AutoMerge, Component: Button, Component: IconButton, Fabric 7, Package: experiments

#9045 Experiments: Chiclet example update
  common/changes/@uifabric/experiments/chicletExampleUpdate_2019-05-10-00-12.json
  packages/experiments/src/components/Chiclet/Chiclet.base.tsx
  packages/experiments/src/components/Chiclet/ChicletCard.base.tsx
  packages/experiments/src/components/Chiclet/ChicletPage.tsx
  packages/experiments/src/components/Chiclet/OpenGraph.ts
  packages/experiments/src/components/Chiclet/examples/Chiclet.Basic.Example.tsx
  packages/experiments/src/components/Chiclet/examples/Chiclet.Breadcrumb.Example.tsx
  packages/experiments/src/components/Chiclet/examples/Chiclet.Footer.Example.tsx
Labels: Package: experiments

#9101 Documentation: code clean-up
  common/changes/@uifabric/api-docs/apiDocumentationCleanup_2019-05-14-18-00.json
  common/changes/@uifabric/example-app-base/apiDocumentationCleanup_2019-05-14-18-00.json
  packages/api-docs/src/PageJsonGenerator.tsx
  packages/example-app-base/src/components/ApiReferencesTable/ApiReferencesTable.tsx
  packages/example-app-base/src/components/ApiReferencesTable/ApiReferencesTableSet.tsx
Labels: Area: Documentation, AutoMerge

#8992 Add selectedOptions to ComboBox and Dropdown
  common/changes/office-ui-fabric-react/anihan-combo-box_2019-05-06-22-59.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/ComboBox/ComboBox.tsx
  packages/office-ui-fabric-react/src/components/ComboBox/ComboBox.types.ts
  packages/office-ui-fabric-react/src/components/ComboBox/VirtualizedComboBox.tsx
  packages/office-ui-fabric-react/src/components/Dropdown/Dropdown.base.tsx
  packages/office-ui-fabric-react/src/components/Dropdown/Dropdown.types.ts
  packages/office-ui-fabric-react/src/utilities/selectableOption/SelectableOption.ts
  packages/office-ui-fabric-react/src/utilities/selectableOption/index.ts
Labels: AutoMerge, Component: ComboBox, Component: Dropdown, PR: API Modified

#9083 Fix ColorPicker Hex input field
  common/changes/office-ui-fabric-react/anihan-colorPicker-hex_2019-05-14-00-46.json
  packages/office-ui-fabric-react/src/components/ColorPicker/ColorPicker.base.tsx
  packages/office-ui-fabric-react/src/components/ColorPicker/ColorPicker.test.tsx
Labels: AutoMerge, Component: ColorPicker

#9125 [MessageBar] aria hidden for message bar icon
  common/changes/office-ui-fabric-react/messagebar-icon-aria_2019-05-16-22-35.json
  packages/office-ui-fabric-react/src/components/MessageBar/MessageBar.base.tsx
  packages/office-ui-fabric-react/src/components/MessageBar/__snapshots__/MessageBar.test.tsx.snap
  packages/office-ui-fabric-react/src/components/__snapshots__/MessageBar.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/MessageBar.Styled.Example.tsx.shot
Labels: AutoMerge, Component: MessageBar

#9126 Add a new prop to enable Slider origin from zero
  common/changes/office-ui-fabric-react/anihan-slider-prop_2019-05-17-00-23.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/Slider/Slider.base.tsx
  packages/office-ui-fabric-react/src/components/Slider/Slider.styles.ts
  packages/office-ui-fabric-react/src/components/Slider/Slider.types.ts
  packages/office-ui-fabric-react/src/components/Slider/__snapshots__/Slider.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Slider/examples/Slider.Basic.Example.tsx
  packages/office-ui-fabric-react/src/components/Slider/examples/Slider.Vertical.Example.tsx
  packages/office-ui-fabric-react/src/components/__snapshots__/Callout.Directional.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Advanced.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Facepile.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Facepile.Overflow.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Slider.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Slider.Vertical.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Stack.Horizontal.Configure.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Stack.Horizontal.Shrink.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Stack.Horizontal.Wrap.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Stack.Horizontal.WrapAdvanced.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Stack.Horizontal.WrapNested.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Stack.Vertical.Configure.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Stack.Vertical.Shrink.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Stack.Vertical.Wrap.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Stack.Vertical.WrapAdvanced.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Stack.Vertical.WrapNested.Example.tsx.shot
Labels: AutoMerge, Component: Slider, PR: API Modified

#9137 Fix left nav not showing on #/styles/web/colors
  apps/fabric-website/src/SiteDefinition/SiteDefinition.pages/Styles/web.tsx
  common/changes/@uifabric/fabric-website/fix-styles-colors-route_2019-05-17-21-35.json
Labels: Area: Website

#9136 SplitButton: Adding ability to use Alt+Down key combination from first focus stop and cleaning up API
  common/changes/@uifabric/experiments/splitButtonMenu_2019-05-17-21-24.json
  packages/experiments/src/components/Button/Button.types.tsx
  packages/experiments/src/components/Button/Button.view.tsx
  packages/experiments/src/components/Button/MenuButton/MenuButton.state.ts
  packages/experiments/src/components/Button/MenuButton/MenuButton.types.tsx
  packages/experiments/src/components/Button/MenuButton/MenuButton.view.tsx
  packages/experiments/src/components/Button/SplitButton/SplitButton.state.ts
  packages/experiments/src/components/Button/SplitButton/SplitButton.tsx
  packages/experiments/src/components/Button/SplitButton/SplitButton.types.tsx
  packages/experiments/src/components/Button/SplitButton/SplitButton.view.tsx
Labels: AutoMerge, Component: Button, Fabric 7, Package: experiments

#9145 Add TypeScript 2.8 to compatibility tests build definition
  scripts/typescript-compatibility-build.yml
Labels: Area: Build System, Area: Testing

#9138 Toggle: add JSX Element type to label
  apps/vr-tests/src/stories/Toggle.stories.tsx
  common/changes/office-ui-fabric-react/v-khhuy-toggle-add-element-labels_2019-05-17-21-31.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/Toggle/Toggle.test.tsx
  packages/office-ui-fabric-react/src/components/Toggle/Toggle.types.ts
  packages/office-ui-fabric-react/src/components/Toggle/__snapshots__/Toggle.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Toggle/examples/Toggle.Basic.Example.tsx
  packages/office-ui-fabric-react/src/components/__snapshots__/Toggle.Basic.Example.tsx.shot
Labels: AutoMerge, Component: Toggle, PR: API Modified

#9151 Making ComboBox onResolveOptions pass the correct argument type
  common/changes/office-ui-fabric-react/combobox-options_2019-05-20-17-42.json
  packages/office-ui-fabric-react/src/components/ComboBox/ComboBox.tsx
Labels: Component: ComboBox

#9141 Modify UI Fabric TypeScript compatibility CI build definition
  scripts/typescript-compatibility-build.yml
Labels: Area: Build System

#9113 [DatePicker] keep validation errors after noop
  common/changes/@uifabric/date-time/fix-date-picker-9050_2019-05-17-21-54.json
  common/changes/office-ui-fabric-react/fix-date-picker-9050_2019-05-15-22-26.json
  packages/date-time/src/components/DatePicker/DatePicker.base.tsx
  packages/office-ui-fabric-react/src/components/DatePicker/DatePicker.base.tsx
Labels: Component: DatePicker

#9142 Fluent-theme: fix IconButton disabled background color
  common/changes/@uifabric/fluent-theme/vibraga-IconButton_2019-05-18-03-20.json
  packages/fluent-theme/src/fluent/styles/IconButton.styles.ts
Labels: Package: fluent-theme

#9154 Dropdown: Add required visual hint when no label is present
  apps/a11y-tests/src/tests/__snapshots__/TextField.test.ts.snap
  common/changes/office-ui-fabric-react/jg-9119-dropdown-required_2019-05-20-20-11.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/Dropdown/Dropdown.base.tsx
  packages/office-ui-fabric-react/src/components/Dropdown/Dropdown.styles.ts
  packages/office-ui-fabric-react/src/components/Dropdown/Dropdown.types.ts
  packages/office-ui-fabric-react/src/components/Dropdown/examples/Dropdown.Required.Example.tsx
  packages/office-ui-fabric-react/src/components/TextField/examples/TextField.Basic.Example.tsx
  packages/office-ui-fabric-react/src/components/__snapshots__/Dropdown.Required.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/TextField.Basic.Example.tsx.shot
Labels: AutoMerge, Component: Dropdown, PR: API Modified

#9109 Website code and styles cleanup
  apps/fabric-website-resources/src/components/DemoPage.tsx
  apps/fabric-website/src/components/App/AppState.tsx
  apps/fabric-website/src/components/Table/AnimationCell/AnimationCell.tsx
  apps/fabric-website/src/components/Table/AnimationCell/AnimationsPage.scss
  apps/fabric-website/src/components/Table/Table.module.scss
  apps/fabric-website/src/components/Table/Table.tsx
  apps/fabric-website/src/pages/Styles/ElevationPage/ElevationPage.tsx
  apps/fabric-website/src/pages/Styles/MotionPage/MotionPage.tsx
  apps/fabric-website/src/styles/_highlight.scss
  apps/fabric-website/src/styles/_mixins.scss
  apps/fabric-website/src/styles/_overrides.scss
  apps/fabric-website/src/styles/_typography.scss
  apps/fabric-website/src/styles/_variables.scss
  apps/fabric-website/src/styles/styles.scss
  apps/fabric-website/src/utilities/createSite.tsx
  common/changes/@uifabric/example-app-base/website-cleanup_2019-05-15-20-32.json
  common/changes/@uifabric/fabric-website-resources/website-cleanup_2019-05-15-22-48.json
  common/changes/@uifabric/fabric-website/website-cleanup_2019-05-15-20-32.json
  packages/example-app-base/src/common/_focusBorder.scss
  packages/example-app-base/src/components/CodeSnippet/CodeSnippet.styles.ts
  packages/example-app-base/src/components/CodeSnippet/CodeSnippet.tsx
  packages/example-app-base/src/components/ExampleCard/ExampleCard.styles.ts
  packages/example-app-base/src/components/ExampleCard/ExampleCard.tsx
  packages/example-app-base/src/components/ExampleCard/ExampleCard.types.ts
  packages/example-app-base/src/components/Highlight/Highlight.tsx
  packages/example-app-base/src/components/Markdown/MarkdownCode.tsx
  packages/example-app-base/src/components/Page/sections/ExamplesSection.tsx
  packages/example-app-base/src/components/Page/sections/FeedbackSection.tsx
  packages/example-app-base/src/components/TopNav/TopNav.module.scss
  packages/example-app-base/src/components/templates/PageExampleCard.tsx
  packages/example-app-base/src/components/templates/PageTag.tsx
  packages/example-app-base/src/index.ts
  packages/example-app-base/src/styles/_highlight.scss
  packages/example-app-base/src/styles/_mixins.scss
  packages/example-app-base/src/styles/_overrides.scss
  packages/example-app-base/src/styles/_typography.scss
  packages/example-app-base/src/styles/_variables.scss
  packages/example-app-base/src/styles/styles.scss
Labels: Area: Website, AutoMerge

#9146 Memichail/microfeedback followup variants with slots
  common/changes/@uifabric/experiments/memichail-microfeedback-follow-variants-slots_2019-05-20-17-52.json
  packages/experiments/src/components/MicroFeedback/MicroFeedback.base.tsx
  packages/experiments/src/components/MicroFeedback/MicroFeedback.state.ts
  packages/experiments/src/components/MicroFeedback/MicroFeedback.styles.ts
  packages/experiments/src/components/MicroFeedback/MicroFeedback.test.tsx
  packages/experiments/src/components/MicroFeedback/MicroFeedback.ts
  packages/experiments/src/components/MicroFeedback/MicroFeedback.tsx
  packages/experiments/src/components/MicroFeedback/MicroFeedback.types.ts
  packages/experiments/src/components/MicroFeedback/MicroFeedback.view.tsx
  packages/experiments/src/components/MicroFeedback/MicroFeedbackPage.tsx
  packages/experiments/src/components/MicroFeedback/__snapshots__/MicroFeedback.test.tsx.snap
  packages/experiments/src/components/MicroFeedback/examples/MicroFeedback.Example.tsx
  packages/experiments/src/components/MicroFeedback/examples/MicroFeedbackCallout.Example.tsx
  packages/experiments/src/components/MicroFeedback/examples/MicroFeedbackStack.Example.tsx
  packages/experiments/src/utilities/factoryComponents.types.tsx
Labels: AutoMerge, Package: experiments

#9165 Minor website code and codeowner updates
  .github/CODEOWNERS
  apps/fabric-website/src/pages/HomePage/HomePage.base.tsx
  apps/fabric-website/src/pages/HomePage/HomePage.styles.ts
  apps/fabric-website/src/pages/HomePage/HomePage.types.ts
  common/changes/@uifabric/example-app-base/website-codeowners_2019-05-15-05-55.json
  common/changes/@uifabric/fabric-website/website-codeowners_2019-05-15-06-12.json
  packages/example-app-base/src/utilities/PlatformContext.tsx
Labels: Area: Website, Status: Do Not Merge 🚫

#9153 Azure theme bump
  apps/fabric-website-resources/package.json
  common/changes/@uifabric/azure-themes/azure-theme-bump_2019-05-20-18-35.json
  common/changes/@uifabric/experiments/azure-theme-bump_2019-05-20-22-31.json
  common/changes/@uifabric/fabric-website-resources/azure-theme-bump_2019-05-20-22-31.json
  common/changes/@uifabric/react-cards/azure-theme-bump_2019-05-20-22-31.json
  packages/azure-themes/package.json
  packages/experiments/package.json
  packages/react-cards/package.json
Labels: AutoMerge

#8761 getClassNames: results are memoized for better performance
  common/changes/@uifabric/example-app-base/getClassNames-perf_2019-05-15-00-36.json
  common/changes/@uifabric/experiments/getClassNames-perf_2019-04-18-05-32.json
  common/changes/@uifabric/utilities/getClassNames-perf_2019-04-18-05-32.json
  common/changes/office-ui-fabric-react/getClassNames-perf_2019-05-15-00-36.json
  packages/example-app-base/src/components/PropertiesTable/PropertiesTableSet.tsx
  packages/experiments/src/components/Button/Button.styles.ts
  packages/experiments/src/components/Button/__snapshots__/Button.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Button/Button.test.tsx
  packages/office-ui-fabric-react/src/components/Button/__snapshots__/Button.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Button/examples/Button.Action.Example.tsx
  packages/office-ui-fabric-react/src/components/Button/examples/Button.Anchor.Example.tsx
  packages/office-ui-fabric-react/src/components/Button/examples/Button.Command.Example.tsx
  packages/office-ui-fabric-react/src/components/Button/examples/Button.Compound.Example.tsx
  packages/office-ui-fabric-react/src/components/Button/examples/Button.ContextualMenu.Example.tsx
  packages/office-ui-fabric-react/src/components/Button/examples/Button.Default.Example.tsx
  packages/office-ui-fabric-react/src/components/Button/examples/Button.Icon.Example.tsx
  packages/office-ui-fabric-react/src/components/Button/examples/Button.ScreenReader.Example.tsx
  packages/office-ui-fabric-react/src/components/Button/examples/Button.Split.Example.tsx
  packages/office-ui-fabric-react/src/components/Callout/CalloutContent.base.tsx
  packages/office-ui-fabric-react/src/components/ContextualMenu/ContextualMenu.base.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsRowCheck.tsx
  packages/office-ui-fabric-react/src/components/Fabric/Fabric.base.tsx
  packages/office-ui-fabric-react/src/components/Icon/Icon.base.tsx
  packages/office-ui-fabric-react/src/components/Label/Label.base.tsx
  packages/utilities/etc/utilities.api.md
  packages/utilities/src/classNamesFunction.test.ts
  packages/utilities/src/classNamesFunction.ts
  packages/utilities/src/styled.tsx
Labels: AutoMerge

#9056 TeachingBubble: Add footerContent prop
  common/changes/office-ui-fabric-react/teachingbubble-multistep_2019-05-10-20-30.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/TeachingBubble/TeachingBubble.styles.ts
  packages/office-ui-fabric-react/src/components/TeachingBubble/TeachingBubble.test.tsx
  packages/office-ui-fabric-react/src/components/TeachingBubble/TeachingBubble.types.ts
  packages/office-ui-fabric-react/src/components/TeachingBubble/TeachingBubbleContent.base.tsx
  packages/office-ui-fabric-react/src/components/TeachingBubble/__snapshots__/TeachingBubble.test.tsx.snap
  packages/office-ui-fabric-react/src/components/TeachingBubble/examples/TeachingBubble.Basic.Example.tsx
Labels: Component: TeachingBubble, PR: API Modified

#9179 Exclude yml from prettier
  package.json
  scripts/prettier/prettier-helpers.js
Labels: Area: Build System, AutoMerge

#9173 a11y-tests: Direct a11y testing with SSR
  apps/a11y-tests/config/tests.js
  apps/a11y-tests/jest.config.js
  apps/a11y-tests/package.json
  apps/a11y-tests/scripts/generate-sarif-reports.js
  apps/a11y-tests/scripts/test.js
  apps/a11y-tests/scripts/update-snapshots.js
  apps/a11y-tests/src/getSarifReport.ts
  apps/a11y-tests/src/tests/Button.test.ts
  apps/a11y-tests/src/tests/Button.test.tsx
  apps/a11y-tests/src/tests/TextField.test.ts
  apps/a11y-tests/src/tests/TextField.test.tsx
  apps/a11y-tests/src/tests/__snapshots__/Button.test.ts.snap
  apps/a11y-tests/src/tests/__snapshots__/Button.test.tsx.snap
  apps/a11y-tests/src/tests/__snapshots__/TextField.test.ts.snap
  apps/a11y-tests/src/tests/__snapshots__/TextField.test.tsx.snap
  apps/a11y-tests/src/tests/testComponent.ts
  apps/a11y-tests/tsconfig.json
  azure-pipelines.yml
  common/config/rush/shrinkwrap.yaml
  scripts/typescript-compatibility-build.yml
Labels: AutoMerge

#9182 Dropdown: Update some palette to use semantic slots instead
  common/changes/office-ui-fabric-react/cliffkoh-semantic_2019-05-22-19-36.json
  packages/office-ui-fabric-react/src/components/Dropdown/Dropdown.styles.ts
Labels: AutoMerge, Component: Dropdown

#9183 Hide UHF back to top button
  apps/fabric-website/src/components/Site/Site.module.scss
  apps/fabric-website/src/pages/HomePage/HomePage.styles.ts
  common/changes/@uifabric/fabric-website/back-to-top_2019-05-22-20-53.json
Labels: Area: Website, AutoMerge

#9185 SearchBox: pass event to onChange
  apps/fabric-website/src/components/Nav/Nav.tsx
  common/changes/office-ui-fabric-react/fabric-7_2019-05-22-01-16.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/ContextualMenu/examples/ContextualMenu.CustomMenuList.Example.tsx
  packages/office-ui-fabric-react/src/components/FloatingPicker/PeoplePicker/examples/FloatingPeoplePicker.Basic.Example.tsx
  packages/office-ui-fabric-react/src/components/SearchBox/SearchBox.base.tsx
  packages/office-ui-fabric-react/src/components/SearchBox/SearchBox.types.ts
  packages/office-ui-fabric-react/src/components/SearchBox/examples/SearchBox.Small.Example.tsx
Labels: Fabric 7, PR: API Modified

#9188 createRef: deprecated method removed (use React.createRef instead)
  apps/todo-app/src/components/TodoForm.tsx
  common/changes/@uifabric/utilities/remove-create-ref_2019-05-22-22-45.json
  packages/example-app-base/src/components/Highlight/Highlight.tsx
  packages/experiments/src/components/Chiclet/examples/Chiclet.Basic.Example.tsx
  packages/experiments/src/components/Sidebar/Sidebar.test.tsx
  packages/experiments/src/components/Sidebar/Sidebar.types.tsx
  packages/experiments/src/components/VirtualizedList/VirtualizedList.tsx
  packages/office-ui-fabric-react/src/components/Announced/examples/Announced.QuickActions.Example.tsx
  packages/office-ui-fabric-react/src/components/HoverCard/HoverCard.base.tsx
  packages/office-ui-fabric-react/src/components/Layer/Layer.base.tsx
  packages/office-ui-fabric-react/src/components/TextField/TextField.base.tsx
  packages/utilities/etc/utilities.api.md
  packages/utilities/src/createRef.test.ts
  packages/utilities/src/createRef.ts
Labels: Fabric 7, PR: API Modified

#9135 Create fabric-website page script
  common/changes/@uifabric/api-docs/create-page-script_2019-05-17-21-36.json
  common/changes/@uifabric/azure-themes/create-page-script_2019-05-17-21-36.json
  common/changes/@uifabric/charting/create-page-script_2019-05-17-21-36.json
  common/changes/@uifabric/codepen-loader/create-page-script_2019-05-17-21-36.json
  common/changes/@uifabric/date-time/create-page-script_2019-05-17-21-36.json
  common/changes/@uifabric/example-app-base/create-page-script_2019-05-17-21-36.json
  common/changes/@uifabric/experiments/create-page-script_2019-05-17-21-36.json
  common/changes/@uifabric/fabric-website-resources/create-page-script_2019-05-17-21-36.json
  common/changes/@uifabric/fabric-website/create-page-script_2019-05-17-21-36.json
  common/changes/@uifabric/file-type-icons/create-page-script_2019-05-17-21-36.json
  common/changes/@uifabric/fluent-theme/create-page-script_2019-05-17-21-36.json
  common/changes/@uifabric/foundation/create-page-script_2019-05-17-21-36.json
  common/changes/@uifabric/icons/create-page-script_2019-05-17-21-36.json
  common/changes/@uifabric/jest-serializer-merge-styles/create-page-script_2019-05-17-21-36.json
  common/changes/@uifabric/merge-styles/create-page-script_2019-05-17-21-36.json
  common/changes/@uifabric/migration/create-page-script_2019-05-17-21-36.json
  common/changes/@uifabric/prettier-rules/create-page-script_2019-05-17-21-36.json
  common/changes/@uifabric/react-cards/create-page-script_2019-05-17-21-36.json
  common/changes/@uifabric/styling/create-page-script_2019-05-17-21-36.json
  common/changes/@uifabric/test-utilities/create-page-script_2019-05-17-21-36.json
  common/changes/@uifabric/theme-samples/create-page-script_2019-05-17-21-36.json
  common/changes/@uifabric/tslint-rules/create-page-script_2019-05-17-21-36.json
  common/changes/@uifabric/utilities/create-page-script_2019-05-17-21-36.json
  common/changes/@uifabric/variants/create-page-script_2019-05-17-21-36.json
  common/changes/@uifabric/webpack-utils/create-page-script_2019-05-17-21-36.json
  common/changes/office-ui-fabric-react/create-page-script_2019-05-17-21-36.json
  package.json
  scripts/create-page.js
  scripts/templates/create-page/EmptyBestPractices.mustache
  scripts/templates/create-page/EmptyContact.mustache
  scripts/templates/create-page/EmptyCustom.mustache
  scripts/templates/create-page/EmptyDesign.mustache
  scripts/templates/create-page/EmptyDoc.mustache
  scripts/templates/create-page/EmptyDonts.mustache
  scripts/templates/create-page/EmptyDos.mustache
  scripts/templates/create-page/EmptyMarkdown.mustache
  scripts/templates/create-page/EmptyOverview.mustache
  scripts/templates/create-page/EmptyPage.mustache
  scripts/templates/create-page/EmptyPageBase.mustache
  scripts/templates/create-page/EmptyRelated.mustache
  scripts/templates/create-page/EmptyStyles.mustache
  scripts/templates/create-page/EmptyTypes.mustache
  scripts/templates/create-page/EmptyUsage.mustache
Labels: Area: Build System, Area: DevExp, Area: Website

#9198 adding back jest tests for node-libs
  scripts/just.config.js
Labels: Area: Build System

#9197 Rating: remove deprecated lifecycle methods, always controlled
  common/changes/office-ui-fabric-react/rating-state_2019-05-23-17-32.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/Rating/Rating.base.tsx
  packages/office-ui-fabric-react/src/components/Rating/Rating.test.tsx
Labels: Component: Rating, Fabric 7, PR: API Modified

#9204 Run lint-imports after ts
  scripts/just.config.js
Labels: Area: Build System, AutoMerge

#9203 Styled: Fixed wrapped styled component regression
  common/changes/@uifabric/utilities/jg-fix-nested-styled-regression_2019-05-23-20-06.json
  packages/utilities/src/__snapshots__/styled.test.tsx.snap
  packages/utilities/src/styled.test.tsx
  packages/utilities/src/styled.tsx
Labels: Package: utilities

#9103 Mutually exclusive warnings should not be shown if the prop exists but the value is undefined
  common/changes/@uifabric/utilities/warning.mutually.exclusive.undefined.check_2019-05-15-02-26.json
  packages/utilities/src/warn/warn.test.ts
  packages/utilities/src/warn/warnMutuallyExclusive.ts
Labels: Package: utilities

#9201 ComboBox: Remove deprecated props
  common/changes/office-ui-fabric-react/combobox-controlled_2019-05-23-19-30.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/ComboBox/ComboBox.deprecated.test.tsx
  packages/office-ui-fabric-react/src/components/ComboBox/ComboBox.tsx
  packages/office-ui-fabric-react/src/components/ComboBox/ComboBox.types.ts
  packages/office-ui-fabric-react/src/components/ComboBox/__snapshots__/ComboBox.deprecated.test.tsx.snap
Labels: Component: ComboBox, Fabric 7, PR: API Modified

#9221 Migration: Non-destructive by default
  common/changes/@uifabric/migration/codemods_2019-05-24-18-20.json
  common/config/rush/shrinkwrap.yaml
  packages/migration/package.json
  packages/migration/src/cli/cli.test.ts
  packages/migration/src/cli/cli.ts
  packages/migration/src/index.ts
  packages/migration/src/migration.ts
  packages/migration/src/mods/7.0.0/renameReactDeprecated.ts
  packages/migration/src/mods/7.0.0/warnDetailsRowCheckIsSelectedRemoved.ts
  packages/migration/src/mods/7.0.0/warnSliderValuePositionRemoved.ts
Labels: Fabric 7

#9193 TextField: remove unecessary font override for ::placeholder
  common/changes/office-ui-fabric-react/tf-font-size_2019-05-23-15-17.json
  packages/office-ui-fabric-react/src/components/TextField/TextField.styles.tsx
Labels: Component: TextField

#9163 Nav accessibility: Update expand button's aria label to include link name
  common/changes/office-ui-fabric-react/nav-accessibility_2019-05-20-21-11.json
  packages/office-ui-fabric-react/src/components/Nav/Nav.base.tsx
  packages/office-ui-fabric-react/src/components/Nav/Nav.types.ts
  packages/office-ui-fabric-react/src/components/__snapshots__/Nav.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Nav.Nested.Example.tsx.shot
Labels: Component: Nav

#9227 CodeMod: Remove createRef imports from OUFR.
  common/changes/@uifabric/migration/create-ref-mod_2019-05-25-00-12.json
  common/config/rush/shrinkwrap.yaml
  packages/migration/fixtures/7.0.0/createRef.tsx
  packages/migration/fixtures/README.md
  packages/migration/package.json
  packages/migration/src/mods/7.0.0/createRefFromReact.ts
  packages/migration/src/tests/cli.test.ts
  packages/migration/src/tests/mods/7.0.0/__snapshots__/createRefFromReact.test.ts.snap
  packages/migration/src/tests/mods/7.0.0/createRefFromReact.test.ts
  packages/migration/src/tests/mods/utils/index.ts
Labels: Fabric 7

#9240 Snapshots: fixed snapshots while the checkins came through when tests weren't being run
  common/changes/@uifabric/date-time/snapshots_2019-05-28-19-51.json
  common/changes/office-ui-fabric-react/snapshots_2019-05-28-18-35.json
  packages/date-time/src/components/DatePicker/__snapshots__/DatePicker.test.tsx.snap
  packages/office-ui-fabric-react/src/components/ColorPicker/__snapshots__/ColorPicker.test.tsx.snap
  packages/office-ui-fabric-react/src/components/DatePicker/__snapshots__/DatePicker.test.tsx.snap
  packages/office-ui-fabric-react/src/components/TextField/MaskedTextField/__snapshots__/MaskedTextField.test.tsx.snap
  packages/office-ui-fabric-react/src/components/TextField/__snapshots__/TextField.deprecated.test.tsx.snap
  packages/office-ui-fabric-react/src/components/TextField/__snapshots__/TextField.test.tsx.snap
  packages/office-ui-fabric-react/src/components/__snapshots__/ColorPicker.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/ContextualMenu.Submenu.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DatePicker.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DatePicker.Bounded.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DatePicker.Disabled.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DatePicker.Format.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DatePicker.Input.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DatePicker.Required.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DatePicker.WeekNumbers.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Compact.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Documents.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.DragDrop.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/FocusTrapZone.Box.Click.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/FocusTrapZone.Box.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/FocusTrapZone.Box.FocusOnCustomElement.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/FocusZone.Disabled.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/FocusZone.Tabbable.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Label.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Stack.Horizontal.Configure.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Stack.Vertical.Configure.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/TextField.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/TextField.Borderless.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/TextField.Controlled.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/TextField.CustomRender.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/TextField.Multiline.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/TextField.PrefixAndSuffix.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/TextField.Styled.Example.tsx.shot
Labels: AutoMerge

#9225 Persona: rename and export function to get color
  common/changes/@uifabric/experiments/persona_2019-04-19-03-07.json
  common/changes/office-ui-fabric-react/persona_2019-04-19-03-07.json
  packages/experiments/src/components/PersonaCoin/PersonaCoin.styles.ts
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/Persona/PersonaCoin/PersonaCoin.base.tsx
  packages/office-ui-fabric-react/src/components/Persona/PersonaInitialsColor.test.ts
  packages/office-ui-fabric-react/src/components/Persona/PersonaInitialsColor.ts
  packages/office-ui-fabric-react/src/components/Persona/index.ts
Labels: Component: Persona, Component: PersonaCoin, PR: API Modified

#9224 Button: Adding uniqueId prop
  common/changes/@uifabric/experiments/buttonUniqueId_2019-05-24-21-45.json
  packages/experiments/src/components/Button/Button.types.tsx
Labels: AutoMerge, Component: Button, Fabric 7, Package: experiments

#9003 Dropdown: propagate aria-label and aria-labelledby to options list
  common/changes/office-ui-fabric-react/anihan-dropdown-aria-label_2019-05-07-23-57.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsRow.base.tsx
  packages/office-ui-fabric-react/src/components/Dropdown/Dropdown.base.tsx
  packages/office-ui-fabric-react/src/components/FocusZone/FocusZone.deprecated.test.tsx
  packages/office-ui-fabric-react/src/components/FocusZone/FocusZone.test.tsx
  packages/office-ui-fabric-react/src/components/FocusZone/FocusZone.tsx
  packages/office-ui-fabric-react/src/components/FocusZone/FocusZone.types.ts
  packages/office-ui-fabric-react/src/components/FocusZone/__snapshots__/FocusZone.deprecated.test.tsx.snap
  packages/office-ui-fabric-react/src/components/FocusZone/__snapshots__/FocusZone.test.tsx.snap
Labels: Component: Dropdown

#9117 Update ColorPicker thumb style
  packages/office-ui-fabric-react/src/components/ColorPicker/ColorRectangle/ColorRectangle.styles.ts
  packages/office-ui-fabric-react/src/components/ColorPicker/ColorRectangle/__snapshots__/ColorRectangle.test.tsx.snap
  packages/office-ui-fabric-react/src/components/ColorPicker/ColorSlider/ColorSlider.styles.ts
  packages/office-ui-fabric-react/src/components/ColorPicker/__snapshots__/ColorPicker.test.tsx.snap
  packages/office-ui-fabric-react/src/components/__snapshots__/ColorPicker.Basic.Example.tsx.shot
Labels: Component: ColorPicker, Fabric 7

#9226 Fix npm start in fabric-website
  apps/fabric-website-resources/webpack.config.js
  apps/fabric-website/webpack.config.js
  apps/fabric-website/webpack.serve.config.js
  apps/fabric-website/webpack.uhf.serve.config.js
  common/changes/@uifabric/fabric-website-resources/website-serve_2019-05-24-23-56.json
  common/changes/@uifabric/fabric-website/website-serve_2019-05-24-23-49.json
  common/changes/office-ui-fabric-react/website-serve_2019-05-24-23-56.json
  packages/office-ui-fabric-react/webpack.codepen.config.js
  packages/office-ui-fabric-react/webpack.config.js
Labels: Area: Website, AutoMerge

#9250 Button: Adding more scenarios to perf-tests
  apps/perf-test/src/Scenarios.tsx
  apps/perf-test/webpack.serve.config.js
Labels: AutoMerge, Component: Button, Fabric 7

#9246 SplitButton: Fixing some styling bugs related to the divider
  common/changes/@uifabric/experiments/splitButtonStyles_2019-05-28-21-45.json
  packages/experiments/src/components/Button/MenuButton/MenuButton.styles.ts
  packages/experiments/src/components/Button/SplitButton/SplitButton.styles.ts
  packages/experiments/src/components/Button/SplitButton/SplitButton.types.tsx
  packages/experiments/src/components/Button/SplitButton/SplitButton.view.tsx
  packages/experiments/src/components/Button/examples/Button.Slots.Example.tsx
Labels: AutoMerge, Component: Button, Fabric 7, Package: experiments

#9223 adding a masked textfield example
  apps/a11y-tests/src/tests/__snapshots__/ComponentExamples.test.tsx.snap
  common/changes/office-ui-fabric-react/tf-masked-eg_2019-05-24-19-08.json
  packages/office-ui-fabric-react/src/components/TextField/TextField.doc.tsx
  packages/office-ui-fabric-react/src/components/TextField/examples/TextField.Masked.Example.tsx
  packages/office-ui-fabric-react/src/components/__snapshots__/TextField.Masked.Example.tsx.shot
Labels: AutoMerge, Component: TextField

#9252 Styled: Revert perf changes
  apps/a11y-tests/src/tests/__snapshots__/ComponentExamples.test.tsx.snap
  common/changes/@uifabric/example-app-base/jg-revert-styled-perf-fix_2019-05-29-00-26.json
  common/changes/@uifabric/experiments/jg-revert-styled-perf-fix_2019-05-29-00-26.json
  common/changes/@uifabric/utilities/jg-revert-styled-perf-fix_2019-05-29-00-26.json
  common/changes/office-ui-fabric-react/jg-revert-styled-perf-fix_2019-05-29-00-26.json
  packages/example-app-base/src/components/PropertiesTable/PropertiesTableSet.tsx
  packages/experiments/src/components/Button/Button.styles.ts
  packages/experiments/src/components/Button/__snapshots__/Button.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Button/Button.test.tsx
  packages/office-ui-fabric-react/src/components/Button/__snapshots__/Button.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Callout/CalloutContent.base.tsx
  packages/office-ui-fabric-react/src/components/ContextualMenu/ContextualMenu.base.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsRowCheck.tsx
  packages/office-ui-fabric-react/src/components/Fabric/Fabric.base.tsx
  packages/office-ui-fabric-react/src/components/Icon/Icon.base.tsx
  packages/office-ui-fabric-react/src/components/Label/Label.base.tsx
  packages/utilities/src/classNamesFunction.test.ts
  packages/utilities/src/classNamesFunction.ts
  packages/utilities/src/styled.tsx
Labels: AutoMerge

#9244 Remove inactive people from codeowners
  .github/CODEOWNERS
Labels: AutoMerge

#9257 Remove deprecated unused Nav props
  apps/vr-tests/src/stories/Nav.stories.tsx
  common/changes/@uifabric/legacy/nav-props_2019-05-29-18-07.json
  packages/legacy/etc/legacy.api.md
  packages/legacy/src/components/Nav/Nav.doc.tsx
  packages/legacy/src/components/Nav/Nav.types.ts
  packages/legacy/src/components/Nav/examples/Nav.Basic.Example.tsx
Labels: AutoMerge, Fabric 7

#9242 ComboBox props codemod
  common/changes/@uifabric/migration/combobox-props-mod_2019-05-28-19-45.json
  common/changes/@uifabric/migration/combobox-props-mod_2019-05-28-21-00.json
  packages/migration/fixtures/7.0.0/combobox.tsx
  packages/migration/fixtures/7.0.0/searchbox.tsx
  packages/migration/src/index.ts
  packages/migration/src/migration.ts
  packages/migration/src/mods/7.0.0/comboboxOnChangedPropsChange.ts
  packages/migration/src/mods/7.0.0/comboboxValuePropChange.ts
  packages/migration/src/mods/7.0.0/searchBoxPropsArgs.ts
  packages/migration/src/mods/7.0.0/warnSliderValuePositionRemoved.ts
  packages/migration/src/tests/mods/7.0.0/__snapshots__/comboboxPropsChange.test.ts.snap
  packages/migration/src/tests/mods/7.0.0/comboboxPropsChange.test.ts
  packages/migration/src/tests/mods/7.0.0/createRefFromReact.test.ts
  packages/migration/src/tests/mods/7.0.0/searchBoxOnChangeProp.test.ts
  packages/migration/src/tests/mods/utils/index.ts
Labels: Fabric 7

#9180 DetailsList on header key down should only select the first item if selection doesn't already exist
  common/changes/office-ui-fabric-react/dl-downkey_2019-05-22-18-26.json
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsList.base.tsx
Labels: Component: DetailsList

#9267 Fix charting build
  common/changes/@uifabric/charting/charting-build_2019-05-29-19-30.json
  packages/charting/just.config.js
Labels: AutoMerge, Package: charting

#9263 Dropdown: fix issue where dropdown wouldn't respect the selectedkey(s) prop
  common/changes/office-ui-fabric-react/fix-dropdownselect_2019-05-29-17-43.json
  packages/office-ui-fabric-react/src/components/Dropdown/Dropdown.base.tsx
  packages/office-ui-fabric-react/src/components/Dropdown/Dropdown.test.tsx
Labels: Component: Dropdown

#9205 Autofill: makes sure the fresh input is retrieved at the time of composition end
  common/changes/office-ui-fabric-react/android-autofill_2019-05-23-20-53.json
  packages/office-ui-fabric-react/src/components/Autofill/Autofill.tsx
Labels: Component: Autofill

#9260 Callout/refactor dismiss on mouse event handlers
  common/changes/office-ui-fabric-react/callout-refactorDismissOnMouseEventHandlers_2019-05-29-14-28.json
  packages/office-ui-fabric-react/src/components/Callout/CalloutContent.base.tsx
Labels: Component: Callout

#9269 Callout/role role description
  common/changes/office-ui-fabric-react/callout-role_roleDescription_2019-05-29-19-43.json
  packages/office-ui-fabric-react/src/components/Callout/CalloutContent.base.tsx
  packages/office-ui-fabric-react/src/components/__snapshots__/Callout.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Pivot.Fabric.Example.tsx.shot
Labels: Component: Callout
