Repository microsoft/fluentui, pull requests merged in 2020-05, with the labels that each got.

#12949 Theming: fix and run SASS autogenerator for theme slots
  change/office-ui-fabric-react-2020-04-30-12-55-39-phkuo-fixWarningSass.json
  packages/office-ui-fabric-react/scripts/generateDefaultThemeSassFiles.js
  packages/office-ui-fabric-react/src/common/_semanticSlots.scss
Labels: Area: Theming, AutoMerge

#12957 update iOS source code links and names
  apps/fabric-website/src/pages/Controls/AvatarPage/docs/ios/AvatarImplementation.md
  apps/fabric-website/src/pages/Controls/AvatarPage/docs/ios/AvatarOverview.md
  apps/fabric-website/src/pages/Controls/BottomNavigationPage/docs/ios/BottomNavigationImplementation.md
  apps/fabric-website/src/pages/Controls/ButtonPage/docs/ios/ButtonImplementation.md
  apps/fabric-website/src/pages/Controls/ChipPage/docs/ios/ChipImplementation.md
  apps/fabric-website/src/pages/Controls/DatePickerPage/docs/ios/DateTimePickerImplementation.md
  apps/fabric-website/src/pages/Controls/DrawerPage/docs/ios/DrawerImplementation.md
  apps/fabric-website/src/pages/Controls/ListCellsPage/docs/ios/ListCellsImplementation.md
  apps/fabric-website/src/pages/Controls/MessageBarPage/docs/ios/MessageBarImplementation.md
  apps/fabric-website/src/pages/Controls/MessageBarPage/docs/ios/MessageBarOverview.md
  apps/fabric-website/src/pages/Controls/NavBarPage/docs/ios/NavBarImplementation.md
  apps/fabric-website/src/pages/Controls/PersonaPage/docs/ios/PersonaImplementation.md
  apps/fabric-website/src/pages/Controls/PersonaPage/docs/ios/PersonaOverview.md
  apps/fabric-website/src/pages/Controls/PillButtonBarPage/docs/ios/PillButtonBarImplementation.md
  apps/fabric-website/src/pages/Controls/PillButtonBarPage/docs/ios/PillButtonBarOverview.md
  apps/fabric-website/src/pages/Controls/PivotPage/docs/ios/PivotImplementation.md
  apps/fabric-website/src/pages/Controls/PopupMenuPage/docs/ios/PopupMenuImplementation.md
  apps/fabric-website/src/pages/Controls/SeparatorPage/docs/ios/SeparatorImplementation.md
  apps/fabric-website/src/pages/Controls/ShimmerPage/docs/ios/ShimmerImplementation.md
  apps/fabric-website/src/pages/Controls/SpinnerPage/docs/ios/SpinnerImplementation.md
  apps/fabric-website/src/pages/Controls/SpinnerPage/docs/ios/SpinnerOverview.md
  apps/fabric-website/src/pages/Controls/TextPage/docs/ios/TextImplementation.md
  apps/fabric-website/src/pages/Controls/TextPage/docs/ios/TextOverview.md
  apps/fabric-website/src/pages/Controls/TooltipPage/docs/ios/TooltipImplementation.md
Labels: Area: Website

#12908 Image: Migrate Image to function component
  change/@fluentui-react-next-2020-04-28-22-46-45-functional-image.json
  change/office-ui-fabric-react-2020-04-28-22-46-45-functional-image.json
  packages/react-next/etc/react-next.api.md
  packages/react-next/src/Image.ts
  packages/react-next/src/common/DirectionalHint.ts
  packages/react-next/src/common/DocPage.types.ts
  packages/react-next/src/common/IAccessiblePopupProps.ts
  packages/react-next/src/common/TestImages.ts
  packages/react-next/src/common/ThemingSass.scss
  packages/react-next/src/common/_common.scss
  packages/react-next/src/common/_effects.scss
  packages/react-next/src/common/_focusBorder.scss
  packages/react-next/src/common/_highContrast.scss
  packages/react-next/src/common/_i18n.scss
  packages/react-next/src/common/_legacyThemePalette.scss
  packages/react-next/src/common/_semanticSlots.scss
  packages/react-next/src/common/_themeOverrides.scss
  packages/react-next/src/common/_themeVariables.scss
  packages/react-next/src/common/shallowUntilTarget.ts
  packages/react-next/src/common/testUtilities.ts
  packages/react-next/src/components/Image/Image.base.tsx
  packages/react-next/src/components/Image/Image.doc.tsx
  packages/react-next/src/components/Image/Image.styles.ts
  packages/react-next/src/components/Image/Image.test.tsx
  packages/react-next/src/components/Image/Image.tsx
  packages/react-next/src/components/Image/Image.types.ts
  packages/react-next/src/components/Image/ImagePage.global.scss
  packages/react-next/src/components/Image/__snapshots__/Image.test.tsx.snap
  packages/react-next/src/components/Image/docs/ImageDonts.md
  packages/react-next/src/components/Image/docs/ImageDos.md
  packages/react-next/src/components/Image/docs/ImageOverview.md
  packages/react-next/src/components/Image/examples/Image.Center.Example.tsx
  packages/react-next/src/components/Image/examples/Image.CenterContain.Example.tsx
  packages/react-next/src/components/Image/examples/Image.CenterCover.Example.tsx
  packages/react-next/src/components/Image/examples/Image.Contain.Example.tsx
  packages/react-next/src/components/Image/examples/Image.Cover.Example.tsx
  packages/react-next/src/components/Image/examples/Image.Default.Example.tsx
  packages/react-next/src/components/Image/examples/Image.MaximizeFrame.Example.tsx
  packages/react-next/src/components/Image/examples/Image.None.Example.tsx
  packages/react-next/src/components/Image/index.ts
Labels: Component: Image, Fluent UI v8

#12946 Add an imperitive focus call to handleTouch
  change/office-ui-fabric-react-2020-04-30-08-39-01-fixSplitButtonFocusIssue.json
  packages/office-ui-fabric-react/src/components/Button/BaseButton.tsx
Labels: AutoMerge, Component: Button

#12915 Switch create-package to plop
  .vscode/launch.json
  change/@fluentui-react-icons-2020-04-29-02-56-05-create-package.json
  change/@uifabric-experiments-2020-04-29-02-56-05-create-package.json
  package.json
  packages/experiments/package.json
  packages/react-icons/package.json
  packages/react-icons/tsconfig.json
  scripts/create-component.js
  scripts/create-package.js
  scripts/create-package/plop-templates/.npmignore
  scripts/create-package/plop-templates/.npmrc
  scripts/create-package/plop-templates/.storybook/main.js
  scripts/create-package/plop-templates/.storybook/manager.js
  scripts/create-package/plop-templates/.storybook/preview.js
  scripts/create-package/plop-templates/LICENSE
  scripts/create-package/plop-templates/README.md
  scripts/create-package/plop-templates/config/tests.js
  scripts/create-package/plop-templates/jest.config.js
  scripts/create-package/plop-templates/just.config.ts
  scripts/create-package/plop-templates/package.json
  scripts/create-package/plop-templates/src/index.ts
  scripts/create-package/plop-templates/src/version.ts
  scripts/create-package/plop-templates/tsconfig.json
  scripts/create-package/plop-templates/tslint.json
  scripts/create-package/plopfile.ts
  scripts/create-page.js
  scripts/monorepo/findRepoDeps.js
  scripts/monorepo/index.d.ts
  scripts/monorepo/index.js
  scripts/package.json
  scripts/templates/create-component/EmptyComponent.mustache
  scripts/templates/create-component/EmptyComponentStateless.mustache
  scripts/templates/create-component/EmptyGlobalIndex.mustache
  scripts/templates/create-component/EmptyIndex.mustache
  scripts/templates/create-component/EmptyState.mustache
  scripts/templates/create-component/EmptyStateTest.mustache
  scripts/templates/create-component/EmptyStyles.mustache
  scripts/templates/create-component/EmptyTest.mustache
  scripts/templates/create-component/EmptyTypes.mustache
  scripts/templates/create-component/EmptyTypesStateless.mustache
  scripts/templates/create-component/EmptyView.mustache
  scripts/templates/create-component/EmptyViewTest.mustache
  scripts/templates/create-package/EmptyIndexTs.mustache
  scripts/templates/create-package/EmptyJestConfig.mustache
  scripts/templates/create-page/EmptyBestPractices.mustache
  scripts/templates/create-page/EmptyContact.mustache
  scripts/templates/create-page/EmptyCustom.mustache
  scripts/templates/create-page/EmptyDesign.mustache
  scripts/templates/create-page/EmptyDoc.mustache
  scripts/templates/create-page/EmptyDonts.mustache
  scripts/templates/create-page/EmptyDos.mustache
  scripts/templates/create-page/EmptyMarkdown.mustache
  scripts/templates/create-page/EmptyOverview.mustache
  scripts/templates/create-page/EmptyPage.mustache
  scripts/templates/create-page/EmptyPageBase.mustache
  scripts/templates/create-page/EmptyRelated.mustache
  scripts/templates/create-page/EmptyStyles.mustache
  scripts/templates/create-page/EmptyTypes.mustache
  scripts/templates/create-page/EmptyUsage.mustache
  yarn.lock
Labels: Area: Build System, AutoMerge

#12615 FocusZone: Changing restoreFocusFromRoot to preventFocusRestoration in v0 and bringing functionality to v7
  change/@fluentui-react-focus-2020-04-08-15-14-58-restoreFocusFromRootV7.json
  change/office-ui-fabric-react-2020-04-30-15-29-42-restoreFocusFromRootV7.json
  packages/fluentui/accessibility/src/focusZone/types.ts
  packages/fluentui/react-bindings/src/FocusZone/CHANGELOG.md
  packages/fluentui/react-bindings/src/FocusZone/FocusZone.tsx
  packages/fluentui/react-bindings/src/FocusZone/FocusZone.types.ts
  packages/fluentui/react-bindings/test/FocusZone/FocusZone-test.tsx
  packages/react-focus/etc/react-focus.api.md
  packages/react-focus/src/components/FocusZone/FocusZone.tsx
  packages/react-focus/src/components/FocusZone/FocusZone.types.ts
Labels: Component: FocusZone, Fluent UI v0

#12937 chore(CarouselNavigation): Convert to RFC
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/components/Carousel/CarouselNavigation.tsx
  packages/fluentui/react-northstar/src/themes/teams/components/Carousel/carouselNavigationStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/types.ts
  packages/fluentui/react-northstar/test/specs/components/Carousel/CarouselNavigation-test.tsx
Labels: Fluent UI v0

#12944 fix(Accordion): Control itemsRef
  packages/fluentui/react-northstar/src/components/Accordion/Accordion.tsx
Labels: Fluent UI v0

#12983 docs(Changelog): add changelog
  packages/fluentui/CHANGELOG.md
Labels: Fluent UI v0

#12884 docs(Toolbar): accessibility polish - testing preparation
  packages/fluentui/CHANGELOG.md
  packages/fluentui/docs/src/components/ComponentDoc/ComponentControls/ComponentControls.tsx
  packages/fluentui/docs/src/components/ComponentDoc/ComponentExample/ComponentExample.tsx
  packages/fluentui/docs/src/components/ComponentDoc/ComponentPerfExample/ComponentPerfExample.tsx
  packages/fluentui/docs/src/examples/components/Toolbar/Content/ToolbarExampleMenu.shorthand.steps.ts
  packages/fluentui/docs/src/examples/components/Toolbar/Content/ToolbarExampleMenu.shorthand.tsx
  packages/fluentui/docs/src/examples/components/Toolbar/Content/ToolbarExampleMenuItemToggle.shorthand.tsx
  packages/fluentui/docs/src/examples/components/Toolbar/Content/ToolbarExampleMenuRadioGroup.shorthand.tsx
  packages/fluentui/docs/src/examples/components/Toolbar/Content/ToolbarExampleMenuWithSubmenu.shorthand.steps.ts
  packages/fluentui/docs/src/examples/components/Toolbar/Content/ToolbarExampleMenuWithSubmenu.shorthand.tsx
  packages/fluentui/docs/src/examples/components/Toolbar/Content/ToolbarExamplePopup.shorthand.tsx
  packages/fluentui/docs/src/examples/components/Toolbar/Content/index.tsx
  packages/fluentui/docs/src/examples/components/Toolbar/Performance/CustomToolbar.perf.tsx
  packages/fluentui/docs/src/examples/components/Toolbar/Types/ToolbarExample.shorthand.tsx
  packages/fluentui/docs/src/examples/components/Toolbar/Types/ToolbarExample.tsx
  packages/fluentui/docs/src/examples/components/Toolbar/Types/index.tsx
  packages/fluentui/docs/src/examples/components/Toolbar/Usage/ToolbarExampleActionPopupInMenu.shorthand.steps.ts
  packages/fluentui/docs/src/examples/components/Toolbar/Usage/ToolbarExampleActionPopupInMenu.shorthand.tsx
  packages/fluentui/docs/src/examples/components/Toolbar/Usage/index.tsx
  packages/fluentui/docs/src/examples/components/Toolbar/Visual/ToolbarExampleOverflowPositioning.shorthand.tsx
  packages/fluentui/docs/src/examples/components/Toolbar/Visual/ToolbarExampleVariables.shorthand.tsx
Labels: Fluent UI v0

#12979 chore(DialogFooter): Convert to RFC
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/components/Dialog/DialogFooter.tsx
  packages/fluentui/react-northstar/test/specs/components/Dialog/DialogFooter-test.tsx
Labels: Fluent UI v0

#12879 docs(Card): example with context menu
  packages/fluentui/CHANGELOG.md
  packages/fluentui/docs/src/examples/components/Card/Usage/CardExampleContextMenu.tsx
  packages/fluentui/docs/src/examples/components/Card/Usage/index.tsx
Labels: AutoMerge, Fluent UI v0

#12978 chore(DropdownSearchInput): Convert to RFC
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/components/Dropdown/DropdownSearchInput.tsx
  packages/fluentui/react-northstar/src/themes/teams/components/Dropdown/dropdownSearchInputStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/types.ts
Labels: Fluent UI v0

#12977 chore(Divider): Convert to RFC
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/components/Divider/Divider.tsx
  packages/fluentui/react-northstar/src/themes/teams/components/Divider/dividerStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/types.ts
  packages/fluentui/react-northstar/test/specs/components/Divider/Divider-test.tsx
Labels: Fluent UI v0

#12448 feat(FocusZone): Adding wrapping and Page Up/Down functionality
  change/@fluentui-react-focus-2020-03-26-17-16-28-focusZonePageUpDownSupport.json
  change/@uifabric-merge-styles-2020-03-26-17-16-28-focusZonePageUpDownSupport.json
  change/@uifabric-utilities-2020-03-26-17-48-05-focusZonePageUpDownSupport.json
  change/office-ui-fabric-react-2020-04-29-15-06-52-focusZonePageUpDownSupport.json
  packages/fluentui/react-bindings/src/FocusZone/CHANGELOG.md
  packages/fluentui/react-bindings/src/FocusZone/FocusZone.tsx
  packages/fluentui/react-bindings/src/FocusZone/FocusZone.types.ts
  packages/react-focus/etc/react-focus.api.md
  packages/react-focus/src/components/FocusZone/FocusZone.tsx
  packages/react-focus/src/components/FocusZone/FocusZone.types.ts
Labels: AutoMerge, Component: FocusZone, Fluent UI v0

#12991 MarqueeSelection: Fixing drag and drop functionality
  change/office-ui-fabric-react-2020-05-04-11-34-34-fixDragDrop.json
  packages/office-ui-fabric-react/src/components/MarqueeSelection/MarqueeSelection.base.tsx
Labels: Component: DetailsList, Component: MarqueeSelection

#12910 Fixing stylis import.
  packages/fluentui/react-northstar/src/utils/felaStylisEnhancer.ts
Labels: Fluent UI v0

#12902 Don't Let Facepile Overflow Text Spill Out of Button Bounds
  change/office-ui-fabric-react-2020-04-27-15-21-44-tabrumle-FixCGNumber.json
  packages/office-ui-fabric-react/src/components/Facepile/Facepile.base.tsx
Labels: Component: Facepile

#12972 Copying Slider to react-next, in preparation for converting to function component
  change/@fluentui-react-next-2020-05-01-18-11-17-feat-slider.json
  packages/react-next/etc/react-next.api.md
  packages/react-next/src/Slider.ts
  packages/react-next/src/components/Slider/Slider.base.tsx
  packages/react-next/src/components/Slider/Slider.doc.tsx
  packages/react-next/src/components/Slider/Slider.styles.ts
  packages/react-next/src/components/Slider/Slider.test.tsx
  packages/react-next/src/components/Slider/Slider.tsx
  packages/react-next/src/components/Slider/Slider.types.ts
  packages/react-next/src/components/Slider/__snapshots__/Slider.test.tsx.snap
  packages/react-next/src/components/Slider/docs/SliderDonts.md
  packages/react-next/src/components/Slider/docs/SliderDos.md
  packages/react-next/src/components/Slider/docs/SliderOverview.md
  packages/react-next/src/components/Slider/docs/new/SliderBestPractices.md
  packages/react-next/src/components/Slider/docs/new/SliderOverview.md
  packages/react-next/src/components/Slider/examples/Slider.Basic.Example.tsx
  packages/react-next/src/components/Slider/examples/Slider.Vertical.Example.tsx
  packages/react-next/src/components/Slider/index.ts
Labels: PR: Possible Perf Regression :snail:

#12993 Adding missing changes due to move from IPoint to Point
  change/@fluentui-react-focus-2020-05-04-13-23-25-missingPointReferences.json
  change/office-ui-fabric-react-2020-05-04-13-23-25-missingPointReferences.json
  packages/office-ui-fabric-react/src/components/Keytip/examples/KeytipSetup.ts
  packages/office-ui-fabric-react/src/utilities/positioning.test.ts
  packages/react-focus/src/components/FocusZone/FocusZone.tsx
Labels: AutoMerge

#12974 Updating Toggle to a function component inside React-Next
  change/@fluentui-react-next-2020-05-04-13-03-47-feat-updating-toggle.json
  packages/react-next/config/tests.js
  packages/react-next/etc/react-next.api.md
  packages/react-next/jest.config.js
  packages/react-next/jest.dom.config.js
  packages/react-next/src/components/Checkbox/Checkbox.test.tsx
  packages/react-next/src/components/Checkbox/__snapshots__/Checkbox.test.tsx.snap
  packages/react-next/src/components/Toggle/Toggle.base.tsx
  packages/react-next/src/components/Toggle/Toggle.test.tsx
  packages/react-next/src/components/Toggle/__snapshots__/Toggle.test.tsx.snap
  packages/react-next/src/components/Toggle/examples/Toggle.Basic.Example.tsx
  packages/react-next/src/components/Toggle/examples/Toggle.CustomLabel.Example.tsx
  packages/react-next/tsconfig.json
Labels: Fluent UI v8

#12984 fix(Tree): Generate id for string items
  packages/fluentui/react-northstar/src/components/Tree/Tree.tsx
  packages/fluentui/react-northstar/src/components/Tree/TreeItem.tsx
  packages/fluentui/react-northstar/test/specs/components/Tree/Tree-test.tsx
Labels: Fluent UI v0

#12997 fix(FocusZone): default behavior of FocusZone in v0
  change/@fluentui-react-focus-2020-05-05-07-30-25-fix-maintain-focus-zone-v0-defaults.json
  packages/fluentui/CHANGELOG.md
  packages/fluentui/accessibility/src/behaviors/Chat/chatBehavior.ts
  packages/fluentui/accessibility/src/behaviors/Chat/chatMessageBehavior.ts
  packages/fluentui/accessibility/src/focusZone/types.ts
  packages/fluentui/accessibility/test/behaviors/testDefinitions.ts
  packages/fluentui/react-bindings/src/FocusZone/FocusZone.tsx
  packages/fluentui/react-bindings/src/accessibility/getAccessibility.ts
  packages/fluentui/react-bindings/test/hooks/useAccessibility-test.tsx
  packages/react-focus/src/components/FocusZone/FocusZone.tsx
Labels: AutoMerge, Fluent UI v0

#12989 Dropdown: improve multi-select selected keys warnings
  change/office-ui-fabric-react-2020-05-04-09-29-07-dropdown-props.json
  packages/office-ui-fabric-react/src/components/Dropdown/Dropdown.base.tsx
  packages/office-ui-fabric-react/src/components/Dropdown/Dropdown.types.ts
  packages/office-ui-fabric-react/src/utilities/selectableOption/SelectableDroppableText.types.ts
Labels: Area: Documentation, AutoMerge, Component: Dropdown

#12869 Add react-northstar docs to PR deploy site
  apps/pr-deploy-site/index.html
  apps/pr-deploy-site/just.config.ts
  apps/pr-deploy-site/package.json
  azure-pipelines.yml
  packages/fluentui/docs/src/add-yours.png
  packages/fluentui/docs/src/amazon-logo.png
  packages/fluentui/docs/src/microsoft-logo.png
  packages/fluentui/docs/src/netflix-logo.png
  packages/fluentui/docs/src/public/images/4by3.jpg
  packages/fluentui/docs/src/public/images/fluent-ui-logo-black.png
  packages/fluentui/docs/src/public/images/fluent-ui-logo-dev.png
  packages/fluentui/docs/src/public/images/fluent-ui-logo-inverted.png
  packages/fluentui/docs/src/public/images/fluent-ui-logo-white.png
  packages/fluentui/docs/src/public/images/fluent-ui-logo.png
  packages/fluentui/docs/src/public/images/icons/plugin.png
  packages/fluentui/docs/src/public/images/icons/school.png
  packages/fluentui/docs/src/public/images/image-16by9.png
  packages/fluentui/docs/src/public/images/leaves/1.png
  packages/fluentui/docs/src/public/images/leaves/3.png
  packages/fluentui/docs/src/public/images/leaves/5.png
  packages/fluentui/docs/src/public/images/movies/totoro-horizontal.jpg
  packages/fluentui/docs/src/public/images/vimeo-example.jpg
  packages/fluentui/docs/src/routes.tsx
  scripts/config.ts
Labels: Area: Build System, Fluent UI v0

#12985 chore(getComponentInfo): update getShorthandInfo.ts
  scripts/gulp/plugins/util/getShorthandInfo.ts
Labels: Area: Build System

#12966 chore(Carousel): Convert to RFC
  packages/fluentui/CHANGELOG.md
  packages/fluentui/accessibility/src/behaviors/index.ts
  packages/fluentui/react-northstar/src/components/Carousel/Carousel.tsx
  packages/fluentui/react-northstar/src/themes/teams/components/Carousel/carouselStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/types.ts
  packages/fluentui/react-northstar/test/specs/components/Carousel/Carousel-test.tsx
  packages/fluentui/state/src/index.ts
  packages/fluentui/state/src/managers/carouselManager.ts
Labels: Fluent UI v0

#13024 chore(Toolbar): convert to be functional component
  packages/fluentui/CHANGELOG.md
  packages/fluentui/accessibility/src/behaviors/Toolbar/toolbarBehavior.ts
  packages/fluentui/accessibility/src/behaviors/index.ts
  packages/fluentui/react-northstar/src/components/Toolbar/Toolbar.tsx
  packages/fluentui/react-northstar/src/themes/teams/components/Toolbar/toolbarStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/types.ts
  packages/fluentui/react-northstar/test/specs/components/Toolbar/Toolbar-test.tsx
Labels: Fluent UI v0

#12982 update android links to new location
  apps/fabric-website/src/pages/Controls/AvatarPage/docs/android/AvatarImplementation.md
  apps/fabric-website/src/pages/Controls/BottomNavigationPage/docs/android/BottomNavigationImplementation.md
  apps/fabric-website/src/pages/Controls/BottomSheetPage/docs/android/BottomSheetImplementation.md
  apps/fabric-website/src/pages/Controls/ButtonPage/docs/android/ButtonImplementation.md
  apps/fabric-website/src/pages/Controls/CalendarPage/docs/android/CalendarImplementation.md
  apps/fabric-website/src/pages/Controls/ChipPage/docs/android/ChipImplementation.md
  apps/fabric-website/src/pages/Controls/DatePickerPage/docs/android/DateTimePickerImplementation.md
  apps/fabric-website/src/pages/Controls/DrawerPage/docs/android/DrawerImplementation.md
  apps/fabric-website/src/pages/Controls/ListCellsPage/docs/android/ListCellsImplementation.md
  apps/fabric-website/src/pages/Controls/NavBarPage/docs/android/NavBarImplementation.md
  apps/fabric-website/src/pages/Controls/PeoplePickerPage/docs/android/PeoplePickerImplementation.md
  apps/fabric-website/src/pages/Controls/PersonaPage/docs/android/PersonaImplementation.md
  apps/fabric-website/src/pages/Controls/PopupMenuPage/docs/android/PopupMenuImplementation.md
  apps/fabric-website/src/pages/Controls/SeparatorPage/docs/android/SeparatorImplementation.md
  apps/fabric-website/src/pages/Controls/SnackbarPage/docs/android/SnackbarImplementation.md
  apps/fabric-website/src/pages/Controls/SpinnerPage/docs/android/SpinnerImplementation.md
  apps/fabric-website/src/pages/Controls/TextPage/docs/android/TextImplementation.md
  apps/fabric-website/src/pages/Controls/TooltipPage/docs/android/TooltipImplementation.md
  apps/fabric-website/src/pages/Overviews/ControlsPage/docs/android/ControlsRequest.md
  apps/fabric-website/src/pages/Overviews/GetStartedPage/docs/android/GetStartedOverview.md
  apps/fabric-website/src/pages/Overviews/ResourcesPage/docs/default/ResourcesContributionProcess.md
Labels: Area: Website

#13000 docs(Card): Add expandable card example
  packages/fluentui/CHANGELOG.md
  packages/fluentui/docs/src/examples/components/Card/Usage/CardExampleExpandable.tsx
  packages/fluentui/docs/src/examples/components/Card/Usage/index.tsx
Labels: Fluent UI v0

#13028 fix misspelled filename
  apps/fabric-website/src/pages/Controls/PopupMenuPage/docs/ios/PopupMenuOverview.md
Labels: Area: Website

#12973 Scripts and dependencies cleanup
  packages/fluentui/accessibility/package.json
  packages/fluentui/accessibility/src/focusZone/types.ts
  packages/fluentui/code-sandbox/package.json
  packages/fluentui/digest/package.json
  packages/fluentui/docs-components/package.json
  packages/fluentui/docs/package.json
  packages/fluentui/docs/src/components/ComponentDoc/PerfChart/PerfChart.tsx
  packages/fluentui/docs/src/components/DocsLayout.tsx
  packages/fluentui/docs/src/components/Editor/Editor.tsx
  packages/fluentui/e2e/package.json
  packages/fluentui/local-sandbox/package.json
  packages/fluentui/perf-test/package.json
  packages/fluentui/perf/package.json
  packages/fluentui/react-bindings/package.json
  packages/fluentui/react-bindings/src/styles/resolveStyles.ts
  packages/fluentui/react-component-event-listener/package.json
  packages/fluentui/react-component-nesting-registry/package.json
  packages/fluentui/react-component-ref/package.json
  packages/fluentui/react-icons-northstar/package.json
  packages/fluentui/react-northstar/package.json
  packages/fluentui/react-northstar/src/components/Video/Video.tsx
  packages/fluentui/react-northstar/test/specs/utils/felaExpandCssShorthandsPlugin-test.ts
  packages/fluentui/state/package.json
  scripts/dangerjs/checkChangelog.ts
  scripts/dangerjs/detectNonApprovedDependencies/index.ts
  scripts/dangerjs/detectNonApprovedDependencies/utils/getRuntimeDependencies.ts
  scripts/dangerjs/detectNonApprovedDependencies/utils/getVersionConstraints.ts
  scripts/dangerjs/detectNonApprovedDependencies/utils/index.ts
  scripts/dangerjs/detectNonApprovedDependencies/utils/packageNameUtils.ts
  scripts/eslint/index.js
  scripts/monorepo/getAllPackageInfo.js
  scripts/package.json
  yarn.lock
Labels: Area: Build System, Fluent UI v0

#13032 Slider: Add some tests along with a minor fix for controlled sliders
  change/@fluentui-react-next-2020-05-06-14-55-44-slider-tests-minorfix.json
  packages/react-next/etc/react-next.api.md
  packages/react-next/src/components/Slider/Slider.base.tsx
  packages/react-next/src/components/Slider/Slider.test.tsx
Labels: AutoMerge

#12913 RFC: how to handle tokens for existing CSS-in-JS approach in v0
  packages/fluentui/CHANGELOG.md
  packages/fluentui/docs/src/prototypes/chatPane/services/messageFactoryMock.tsx
  packages/fluentui/react-northstar/src/components/Attachment/Attachment.tsx
  packages/fluentui/react-northstar/src/components/Attachment/AttachmentAction.tsx
  packages/fluentui/react-northstar/src/components/Attachment/AttachmentBody.tsx
  packages/fluentui/react-northstar/src/components/Attachment/AttachmentDescription.tsx
  packages/fluentui/react-northstar/src/components/Attachment/AttachmentHeader.tsx
  packages/fluentui/react-northstar/src/components/Attachment/AttachmentIcon.tsx
  packages/fluentui/react-northstar/src/themes/teams-dark/components/Attachment/attachmentActionVariables.ts
  packages/fluentui/react-northstar/src/themes/teams-dark/components/Attachment/attachmentVariables.ts
  packages/fluentui/react-northstar/src/themes/teams-high-contrast/components/Attachment/attachmentActionVariables.ts
  packages/fluentui/react-northstar/src/themes/teams-high-contrast/components/Attachment/attachmentVariables.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Attachment/attachmentActionStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Attachment/attachmentActionVariables.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Attachment/attachmentVariables.ts
  packages/fluentui/react-northstar/src/utils/factories.ts
  packages/fluentui/react-northstar/test/specs/commonTests/isConformant.tsx
  packages/fluentui/react-northstar/test/specs/utils/factories-test.tsx
Labels: Fluent UI v0

#13045 feat(ToolbarDivider): add compose
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/components/Toolbar/ToolbarDivider.tsx
Labels: Fluent UI v0

#13001 fix(Provider): attach provider element during render
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/components/Provider/usePortalBox.ts
  packages/fluentui/react-northstar/test/specs/components/Provider/Provider-test.tsx
Labels: Fluent UI v0

#13011 GroupedList: Allowing for expand icon override
  change/office-ui-fabric-react-2020-05-05-13-02-08-bcoard-AddGroupedListExpandIconOverride.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/GroupedList/GroupHeader.base.tsx
  packages/office-ui-fabric-react/src/components/GroupedList/GroupHeader.types.ts
Labels: AutoMerge, Component: GroupedList, PR: API Modified

#13016 chore(Tree): Prevent string items
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/components/Tree/Tree.tsx
  packages/fluentui/react-northstar/src/types.ts
  packages/fluentui/react-northstar/test/specs/components/Tree/Tree-test.tsx
  packages/fluentui/react-proptypes/src/index.ts
Labels: Fluent UI v0

#13035 Checkbox: Fix High Contrast in Edge Chromium
  change/@fluentui-react-next-2020-05-06-17-41-19-xgao-new-edge-hc-fix.json
  change/@uifabric-merge-styles-2020-05-06-17-41-19-xgao-new-edge-hc-fix.json
  change/@uifabric-styling-2020-05-06-17-41-19-xgao-new-edge-hc-fix.json
  change/office-ui-fabric-react-2020-05-06-17-41-19-xgao-new-edge-hc-fix.json
  packages/merge-styles/etc/merge-styles.api.md
  packages/merge-styles/src/IRawStyleBase.ts
  packages/office-ui-fabric-react/src/components/Checkbox/Checkbox.styles.ts
  packages/office-ui-fabric-react/src/components/Checkbox/__snapshots__/Checkbox.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Fabric/__snapshots__/Fabric.test.tsx.snap
  packages/office-ui-fabric-react/src/components/__snapshots__/Callout.Directional.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Checkbox.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Checkbox.Indeterminate.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Checkbox.Other.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/ContextualMenu.Directional.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Dialog.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Dialog.Blocking.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Dialog.Modeless.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Facepile.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/MarqueeSelection.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/OverflowSet.Custom.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/PeoplePicker.Compact.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/PeoplePicker.Controlled.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/PeoplePicker.LimitedSearch.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/PeoplePicker.List.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/PeoplePicker.Normal.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/PeoplePicker.PreselectedItems.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/PeoplePicker.ProcessSelection.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Persona.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/ResizeGroup.OverflowSet.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Stack.Horizontal.Configure.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Stack.Vertical.Configure.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/TagPicker.Basic.Example.tsx.shot
  packages/react-next/src/components/Checkbox/Checkbox.styles.ts
  packages/react-next/src/components/Checkbox/__snapshots__/Checkbox.test.tsx.snap
  packages/react-next/src/components/Fabric/__snapshots__/Fabric.test.tsx.snap
  packages/styling/etc/styling.api.md
  packages/styling/src/styles/CommonStyles.ts
Labels: Area: merge-styles, Component: Checkbox, High Contrast, PR: API Modified

#12853 FocusZone: Converging defaultTabbableElement/defaultActiveElement and bringing shouldFocusInnerElementWhenReceivedFocus to v7
  change/@fluentui-react-focus-2020-04-23-17-45-32-defaultElementAndFocusInnerElement.json
  packages/fluentui/accessibility/src/focusZone/types.ts
  packages/fluentui/react-bindings/src/FocusZone/FocusZone.tsx
  packages/fluentui/react-bindings/src/FocusZone/FocusZone.types.ts
  packages/react-focus/etc/react-focus.api.md
  packages/react-focus/src/components/FocusZone/FocusZone.tsx
  packages/react-focus/src/components/FocusZone/FocusZone.types.ts
Labels: AutoMerge, Component: FocusZone, Fluent UI v0

#12339 keyboard-key: Reducing bundle size and integrating into FocusZone
  change/@fluentui-keyboard-key-2020-03-17-15-44-15-keyboardKeyBundle.json
  change/@fluentui-react-focus-2020-03-17-17-02-35-keyboardKeyBundle.json
  change/@uifabric-tslint-rules-2020-03-24-16-57-36-keyboardKeyBundle.json
  change/office-ui-fabric-react-2020-04-29-14-25-07-keyboardKeyBundle.json
  packages/keyboard-key/etc/keyboard-key.api.md
  packages/keyboard-key/src/codes.ts
  packages/keyboard-key/src/index.test.ts
  packages/keyboard-key/src/index.ts
  packages/react-focus/src/components/FocusZone/FocusZone.test.tsx
  packages/react-focus/src/components/FocusZone/FocusZone.tsx
  packages/react-focus/tslint.json
  packages/tslint-rules/just.config.ts
  packages/tslint-rules/package.json
  packages/tslint-rules/src/deprecatedKeyboardEventPropsRule.ts
  packages/tslint-rules/tsconfig.json
  packages/tslint-rules/tslint.json
Labels: Package: keyboard-key

#13057 Fix bundlesizecollect to work with non-oufr packages
  scripts/tasks/bundle-size-collect.js
Labels: Area: Build System

#13071 Update macOS Copy
  apps/fabric-website/src/pages/Overviews/ControlsPage/ControlsPage.tsx
  apps/fabric-website/src/pages/Overviews/ControlsPage/docs/android/ControlsRequest.md
  apps/fabric-website/src/pages/Overviews/ControlsPage/docs/cross/ControlsRequest.md
  apps/fabric-website/src/pages/Overviews/ControlsPage/docs/ios/ControlsRequest.md
  apps/fabric-website/src/pages/Overviews/ControlsPage/docs/mac/ControlsOverview.md
  apps/fabric-website/src/pages/Overviews/ControlsPage/docs/mac/ControlsRequest.md
  apps/fabric-website/src/pages/Overviews/ControlsPage/docs/web/ControlsRequest.md
  apps/fabric-website/src/pages/Overviews/GetStartedPage/docs/mac/GetStartedOverview.md
Labels: Area: Website

#13073 Shimmer: Fix High Contrast Styles in Edge Chromium
  change/office-ui-fabric-react-2020-05-08-15-29-47-xgao-shimmer-hc.json
  packages/office-ui-fabric-react/src/components/DetailsList/__snapshots__/ShimmeredDetailsList.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Shimmer/Shimmer.styles.ts
  packages/office-ui-fabric-react/src/components/Shimmer/__snapshots__/Shimmer.test.tsx.snap
  packages/office-ui-fabric-react/src/components/__snapshots__/Shimmer.Application.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Shimmer.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Shimmer.CustomElements.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Shimmer.LoadData.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Shimmer.Styling.Example.tsx.shot
Labels: Component: Shimmer, High Contrast, Type: Bug :bug:

#13043 fix(splitButtonBehavior): do not focus toggleButton with focus zone
  packages/fluentui/CHANGELOG.md
  packages/fluentui/accessibility/src/behaviors/SplitButton/splitButtonBehavior.ts
Labels: Fluent UI v0

#13002 fix(Popup): update offsets computations
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/themes/teams/components/Popup/popupContentStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Popup/popupContentVariables.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Tooltip/tooltipContentStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/getPointerStyles.ts
Labels: Fluent UI v0

#13069 chore(MenuDivider): Convert to RFC
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/components/Menu/MenuDivider.tsx
  packages/fluentui/react-northstar/src/themes/teams/components/Menu/menuDividerStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/types.ts
  packages/fluentui/react-northstar/test/specs/components/Menu/MenuDivider-test.ts
Labels: Fluent UI v0

#12838 docs(Dropdown): add loading message in getA11yStatusMEssage
  packages/fluentui/docs/src/examples/components/Dropdown/State/DropdownExampleLoading.shorthand.tsx
  packages/fluentui/docs/src/examples/components/Dropdown/Usage/DropdownExampleHeaderMessage.shorthand.tsx
Labels: Fluent UI v0

#13086 fix(CarouselNavigation): enable back focus zone in carousel navigation
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/components/Carousel/CarouselNavigation.tsx
Labels: Fluent UI v0

#12764 chore(Toolbar): add test for change aria-pressed properly
  packages/fluentui/react-northstar/test/specs/components/Toolbar/Toolbar-test.tsx
Labels: Fluent UI v0

#13070 chore(MenuItem): Convert to RFC
  packages/fluentui/accessibility/src/behaviors/Menu/menuItemBehavior.ts
  packages/fluentui/accessibility/src/behaviors/Toolbar/menuItemAsToolbarButtonBehavior.ts
  packages/fluentui/accessibility/src/behaviors/Toolbar/toolbarMenuItemBehavior.ts
  packages/fluentui/accessibility/src/behaviors/index.ts
  packages/fluentui/react-northstar/src/components/Menu/MenuItem.tsx
  packages/fluentui/react-northstar/src/themes/teams/components/Menu/menuItemStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/types.ts
  packages/fluentui/react-northstar/test/specs/components/Menu/Menu-test.tsx
  packages/fluentui/react-northstar/test/specs/components/Menu/MenuItem-test.tsx
Labels: Fluent UI v0

#13084 Copy edits on cross platform and windows getting started pages
  apps/fabric-website/src/pages/Overviews/ControlsPage/docs/cross/ControlsRequest.md
  apps/fabric-website/src/pages/Overviews/GetStartedPage/docs/cross/GetStartedOverview.md
  apps/fabric-website/src/pages/Overviews/GetStartedPage/docs/ios/GetStartedOverview.md
  apps/fabric-website/src/pages/Overviews/GetStartedPage/docs/windows/GetStartedOverview.md
Labels: Area: Website, PR: Possible Perf Regression :snail:

#13093 fix(Components): add Focus Zone wrapper
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/components/Alert/Alert.tsx
  packages/fluentui/react-northstar/src/components/Attachment/Attachment.tsx
  packages/fluentui/react-northstar/src/components/Box/Box.tsx
  packages/fluentui/react-northstar/src/components/List/ListItem.tsx
Labels: Fluent UI v0

#13080 chore(ReactionGroup): Convert to RFC
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/components/Reaction/ReactionGroup.tsx
  packages/fluentui/react-northstar/src/themes/teams/components/Reaction/reactionGroupStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/types.ts
  packages/fluentui/react-northstar/test/specs/components/Reaction/ReactionGroup-test.tsx
Labels: Fluent UI v0

#13109 fix(Dropdown): Rendering no matches message when all items selected
  packages/fluentui/react-northstar/src/components/Dropdown/Dropdown.tsx
  packages/fluentui/react-northstar/test/specs/components/Dropdown/Dropdown-test.tsx
Labels: Fluent UI v0

#13110 fix(RadioGroup): Update examples to enable input for in the tab order inside Radio Group
  packages/fluentui/CHANGELOG.md
  packages/fluentui/accessibility/src/behaviors/Radio/radioGroupItemBehavior.ts
  packages/fluentui/docs/src/examples/components/RadioGroup/Types/RadioGroupExample.shorthand.tsx
  packages/fluentui/docs/src/examples/components/RadioGroup/Types/RadioGroupVerticalExample.shorthand.tsx
Labels: Fluent UI v0

#13088 fix(Dropdown): prevents keydown propagation
  packages/fluentui/CHANGELOG.md
  packages/fluentui/e2e/tests/dialogInDialogWithDropdown-example.tsx
  packages/fluentui/e2e/tests/dialogInDialogWithDropdown-test.ts
  packages/fluentui/e2e/tests/dialogWithDropdown-example.tsx
  packages/fluentui/e2e/tests/dialogWithDropdown-test.ts
  packages/fluentui/react-northstar/src/components/Dialog/Dialog.tsx
  packages/fluentui/react-northstar/src/components/Dropdown/Dropdown.tsx
Labels: Fluent UI v0

#13106 Added images for cross platform controls for fluent website
  apps/fabric-website/src/pages/Controls/ButtonPage/docs/cross/ButtonUsage.md
  apps/fabric-website/src/pages/Controls/LinkPage/docs/cross/LinkUsage.md
  apps/fabric-website/src/pages/Controls/PersonaPage/docs/PersonaRelated.md
  apps/fabric-website/src/pages/Controls/PersonaPage/docs/cross/PersonaUsage.md
  apps/fabric-website/src/pages/Controls/SeparatorPage/docs/cross/SeparatorUsage.md
  apps/fabric-website/src/pages/Controls/TextPage/docs/cross/TextUsage.md
  apps/fabric-website/src/pages/Overviews/ControlsPage/docs/cross/ControlsOverview.md
  apps/fabric-website/src/pages/Overviews/GetStartedPage/docs/cross/GetStartedOverview.md
Labels: Area: Website

#13081 chore(Reaction): Convert to RFC
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/components/Reaction/Reaction.tsx
  packages/fluentui/react-northstar/src/themes/teams/components/Reaction/reactionStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/types.ts
  packages/fluentui/react-northstar/test/specs/components/Reaction/Reaction-test.tsx
Labels: AutoMerge, Fluent UI v0

#13108 fix(Dropdown): Loading and No Matches background dark and HC theme
  packages/fluentui/docs/src/examples/components/Dropdown/State/DropdownExampleLoading.shorthand.steps.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Dropdown/dropdownVariables.ts
Labels: AutoMerge, Fluent UI v0

#13075 Update Fluent UI Apple READMEs
  apps/fabric-website/src/pages/Overviews/ControlsPage/docs/ios/ControlsOverview.md
  apps/fabric-website/src/pages/Overviews/GetStartedPage/docs/ios/GetStartedOverview.md
Labels: Area: Website, PR: Possible Perf Regression :snail:

#13127 @fluentui/react lib exports are no longer stripped.
  change/@fluentui-react-2020-05-12-15-40-21-fix-tsconfig.json
  packages/react/tsconfig.json
Labels: Area: Build System, Type: Regression 🌩🌩

#13133 Pin TS version used by test:projects:typings
  scripts/gulp/tasks/test-projects.ts
Labels: Area: Build System

#13079 chore(Segment): Convert to RFC
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/components/Segment/Segment.tsx
  packages/fluentui/react-northstar/src/themes/teams/components/Segment/segmentStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/types.ts
  packages/fluentui/react-northstar/test/specs/components/Segment/Segment-test.ts
Labels: Fluent UI v0

#13139 fix(Dropdown): patch regression
  packages/fluentui/react-northstar/src/themes/teams-dark/componentVariables.ts
  packages/fluentui/react-northstar/src/themes/teams-dark/components/Dropdown/dropdownVariables.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Dropdown/dropdownVariables.ts
Labels: Fluent UI v0

#13142 fix(FocusZone): RFC components
  packages/fluentui/react-northstar/src/components/Box/Box.tsx
  packages/fluentui/react-northstar/src/components/List/ListItem.tsx
Labels: Fluent UI v0

#12872 Added 13 icons. Modified 2 icons. Renamed 1 icon
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-icons-northstar/src/components/ApprovalsAppbarIcon.tsx
  packages/fluentui/react-icons-northstar/src/components/ComposeIcon.tsx
  packages/fluentui/react-icons-northstar/src/components/EmailWithDotIcon.tsx
  packages/fluentui/react-icons-northstar/src/components/FilesGenericColoredIcon.tsx
  packages/fluentui/react-icons-northstar/src/components/FilesHtmlColoredIcon.tsx
  packages/fluentui/react-icons-northstar/src/components/FilesPdfColoredIcon.tsx
  packages/fluentui/react-icons-northstar/src/components/FilesPictureColoredIcon.tsx
  packages/fluentui/react-icons-northstar/src/components/FilesTextColoredIcon.tsx
  packages/fluentui/react-icons-northstar/src/components/PopupIcon.tsx
  packages/fluentui/react-icons-northstar/src/components/ShareGenericIcon.tsx
  packages/fluentui/react-icons-northstar/src/components/ShareLocationIcon.tsx
  packages/fluentui/react-icons-northstar/src/components/SpotlightIcon.tsx
  packages/fluentui/react-icons-northstar/src/components/SpotlightStopIcon.tsx
  packages/fluentui/react-icons-northstar/src/components/Survey20pxIcon.tsx
  packages/fluentui/react-icons-northstar/src/components/TenantPersonalIcon.tsx
  packages/fluentui/react-icons-northstar/src/components/TenantWorkIcon.tsx
  packages/fluentui/react-icons-northstar/src/components/TranscriptIcon.tsx
  packages/fluentui/react-icons-northstar/src/components/WorkOrSchoolIcon.tsx
  packages/fluentui/react-icons-northstar/src/index.ts
Labels: Fluent UI v0

#13131 Fluent website fixes to cross platform text page
  apps/fabric-website/src/pages/Controls/SeparatorPage/docs/SeparatorRelated.md
  apps/fabric-website/src/pages/Controls/TextPage/TextPage.tsx
  apps/fabric-website/src/pages/Controls/TextPage/docs/TextRelated.md
  apps/fabric-website/src/pages/Controls/TextPage/docs/cross/TextUsage.md
Labels: Area: Website

#12290 Nav: fix Basic Example type error
  change/office-ui-fabric-react-2020-03-17-07-47-55-patch-1.json
  packages/office-ui-fabric-react/src/components/Nav/examples/Nav.Basic.Example.tsx
Labels: AutoMerge, Component: Nav

#13120 Android website changes with dark mode support
  apps/fabric-website/src/pages/Controls/AvatarPage/docs/android/AvatarOverview.md
  apps/fabric-website/src/pages/Controls/BottomNavigationPage/docs/android/BottomNavigationOverview.md
  apps/fabric-website/src/pages/Controls/BottomSheetPage/docs/android/BottomSheetOverview.md
  apps/fabric-website/src/pages/Controls/ButtonPage/docs/android/ButtonOverview.md
  apps/fabric-website/src/pages/Controls/CalendarPage/docs/android/CalendarOverview.md
  apps/fabric-website/src/pages/Controls/ChipPage/docs/android/ChipOverview.md
  apps/fabric-website/src/pages/Controls/DatePickerPage/docs/android/DateTimePickerOverview.md
  apps/fabric-website/src/pages/Controls/DrawerPage/docs/android/DrawerOverview.md
  apps/fabric-website/src/pages/Controls/ListCellsPage/docs/android/ListCellsOverview.md
  apps/fabric-website/src/pages/Controls/NavBarPage/docs/android/NavBarOverview.md
  apps/fabric-website/src/pages/Controls/PeoplePickerPage/docs/android/PeoplePickerOverview.md
  apps/fabric-website/src/pages/Controls/PersonaPage/docs/android/PersonaOverview.md
  apps/fabric-website/src/pages/Controls/PopupMenuPage/docs/android/PopupMenuOverview.md
  apps/fabric-website/src/pages/Controls/SeparatorPage/docs/android/SeparatorOverview.md
  apps/fabric-website/src/pages/Controls/SnackbarPage/docs/android/SnackbarOverview.md
  apps/fabric-website/src/pages/Controls/SpinnerPage/docs/android/SpinnerOverview.md
  apps/fabric-website/src/pages/Controls/TextPage/docs/android/TextOverview.md
  apps/fabric-website/src/pages/Controls/TooltipPage/docs/android/TooltipOverview.md
  apps/fabric-website/src/pages/Overviews/GetStartedPage/docs/android/GetStartedOverview.md
Labels: Area: Website

#13099 Copying TextField to react-next, in preparation for converting to function component.
  change/@fluentui-react-next-2020-05-11-17-54-47-feat-text-field.json
  packages/react-next/etc/react-next.api.md
  packages/react-next/src/TextField.ts
  packages/react-next/src/components/TextField/MaskedTextField/MaskedTextField.test.tsx
  packages/react-next/src/components/TextField/MaskedTextField/MaskedTextField.tsx
  packages/react-next/src/components/TextField/MaskedTextField/__snapshots__/MaskedTextField.test.tsx.snap
  packages/react-next/src/components/TextField/MaskedTextField/inputMask.test.ts
  packages/react-next/src/components/TextField/MaskedTextField/inputMask.ts
  packages/react-next/src/components/TextField/TextField.base.tsx
  packages/react-next/src/components/TextField/TextField.doc.tsx
  packages/react-next/src/components/TextField/TextField.styles.tsx
  packages/react-next/src/components/TextField/TextField.test.tsx
  packages/react-next/src/components/TextField/TextField.ts
  packages/react-next/src/components/TextField/TextField.types.ts
  packages/react-next/src/components/TextField/__snapshots__/TextField.test.tsx.snap
  packages/react-next/src/components/TextField/docs/TextFieldDonts.md
  packages/react-next/src/components/TextField/docs/TextFieldDos.md
  packages/react-next/src/components/TextField/docs/TextFieldOverview.md
  packages/react-next/src/components/TextField/docs/new/TextFieldBestPractices.md
  packages/react-next/src/components/TextField/docs/new/TextFieldOverview.md
  packages/react-next/src/components/TextField/examples/TextField.Basic.Example.tsx
  packages/react-next/src/components/TextField/examples/TextField.Borderless.Example.tsx
  packages/react-next/src/components/TextField/examples/TextField.Controlled.Example.tsx
  packages/react-next/src/components/TextField/examples/TextField.CustomRender.Example.tsx
  packages/react-next/src/components/TextField/examples/TextField.ErrorMessage.Example.tsx
  packages/react-next/src/components/TextField/examples/TextField.Masked.Example.tsx
  packages/react-next/src/components/TextField/examples/TextField.Multiline.Example.tsx
  packages/react-next/src/components/TextField/examples/TextField.PrefixAndSuffix.Example.tsx
  packages/react-next/src/components/TextField/examples/TextField.Styled.Example.scss
  packages/react-next/src/components/TextField/examples/TextField.Styled.Example.tsx
  packages/react-next/src/components/TextField/index.ts
Labels: AutoMerge, Component: TextField

#12795 Update Picker.CustomResult.Example.tsx
  change/office-ui-fabric-react-2020-04-25-09-08-19-patch-1.json
  packages/office-ui-fabric-react/src/components/pickers/examples/Picker.CustomResult.Example.tsx
Labels: AutoMerge, Component: Pickers

#11661 FocusZone: Cherry pick Adding paging down/up feature
  change/office-ui-fabric-react-2019-12-17-14-24-05-nasabek-paging.json
  packages/office-ui-fabric-react/src/components/FocusZone/FocusZone.tsx
Labels: AutoMerge, Component: FocusZone, Fabric 6

#13078 Updating Slider to a function component inside React-Next
  .vscode/launch.json
  change/@fluentui-keyboard-key-2020-05-08-19-33-38-feat-updating-slider.json
  change/@fluentui-react-next-2020-05-01-18-11-17-feat-slider.json
  packages/react-next/etc/react-next.api.md
  packages/react-next/src/components/Slider/Slider.base.tsx
  packages/react-next/src/components/Slider/Slider.test.tsx
  packages/react-next/src/components/Slider/Slider.types.ts
Labels: AutoMerge, Component: Slider

#12851 Updating DocumentCard and GroupedList examples to use Function Components
  change/office-ui-fabric-react-2020-04-23-15-12-38-fix-example11-update.json
  packages/office-ui-fabric-react/src/components/DocumentCard/examples/DocumentCard.Basic.Example.tsx
  packages/office-ui-fabric-react/src/components/DocumentCard/examples/DocumentCard.Compact.Example.tsx
  packages/office-ui-fabric-react/src/components/DocumentCard/examples/DocumentCard.Complete.Example.tsx
  packages/office-ui-fabric-react/src/components/GroupedList/examples/GroupedList.Basic.Example.tsx
  packages/office-ui-fabric-react/src/components/GroupedList/examples/GroupedList.Custom.Example.tsx
  packages/office-ui-fabric-react/src/components/__snapshots__/DocumentCard.Compact.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DocumentCard.Complete.Example.tsx.shot
Labels: AutoMerge, Component: DocumentCard, Component: GroupedList

#13097 Updating Link to a function component inside React-Next
  change/@fluentui-react-next-2020-05-13-12-41-42-feat-updating-link.json
  packages/react-next/etc/react-next.api.md
  packages/react-next/src/components/Link/Link.base.tsx
  packages/react-next/src/components/Link/Link.types.ts
Labels: AutoMerge, Component: Link

#13151 Updating CODEOWNERS file
  .github/CODEOWNERS
Labels: AutoMerge, Fabric 6

#12952 ContextualMenu: add aria-selected to checked menu items
  change/office-ui-fabric-react-2020-04-30-14-38-07-fix-accessibility-issues.json
  packages/office-ui-fabric-react/src/components/ContextualMenu/ContextualMenuItemWrapper/ContextualMenuButton.tsx
Labels: AutoMerge, Component: ContextualMenu

#13054 Updating examples to use useId and converting Dialog examples to function components
  change/@fluentui-examples-2020-05-07-11-17-41-fix-example-id-update.json
  change/office-ui-fabric-react-2020-05-07-11-17-41-fix-example-id-update.json
  packages/examples/src/react-focus/FocusZone/examples/FocusZone.Photos.Example.tsx
  packages/office-ui-fabric-react/src/components/Dialog/examples/Dialog.Basic.Example.tsx
  packages/office-ui-fabric-react/src/components/Dialog/examples/Dialog.Blocking.Example.tsx
  packages/office-ui-fabric-react/src/components/Dialog/examples/Dialog.LargeHeader.Example.tsx
  packages/office-ui-fabric-react/src/components/Dialog/examples/Dialog.Modeless.Example.tsx
  packages/office-ui-fabric-react/src/components/Dialog/examples/Dialog.TopOffsetFixed.Example.tsx
  packages/office-ui-fabric-react/src/components/FocusZone/examples/FocusZone.Photos.Example.tsx
  packages/office-ui-fabric-react/src/components/Label/examples/Label.Basic.Example.tsx
  packages/office-ui-fabric-react/src/components/__snapshots__/Dialog.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Dialog.Blocking.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Dialog.LargeHeader.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Dialog.Modeless.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Dialog.TopOffsetFixed.Example.tsx.shot
Labels: AutoMerge, Component: Dialog, Component: FocusZone, Component: Label

#13154 Removing Docs section from CODEOWNERS file
  .github/CODEOWNERS
Labels: AutoMerge, Fabric 6

#13152 Add utility to apply default props for function components
  change/@uifabric-utilities-2020-05-13-21-59-49-get-props-with-defaults.json
  packages/utilities/etc/utilities.api.md
  packages/utilities/src/getPropsWithDefaults.test.ts
  packages/utilities/src/getPropsWithDefaults.ts
  packages/utilities/src/index.ts
Labels: AutoMerge, PR: API Modified, Package: utilities

#13153 Removing Docs section from CODEOWNERS file
  .github/CODEOWNERS
Labels: AutoMerge

#12890 Updating examples for ProgressIndicator, FloatingPeoplePicker and ResizeGroupOverflowSet to use FC
  change/office-ui-fabric-react-2020-04-27-16-04-46-fix-example13-update.json
  packages/office-ui-fabric-react/src/components/FloatingPicker/PeoplePicker/examples/FloatingPeoplePicker.Basic.Example.tsx
  packages/office-ui-fabric-react/src/components/ProgressIndicator/examples/ProgressIndicator.Basic.Example.tsx
  packages/office-ui-fabric-react/src/components/ProgressIndicator/examples/ProgressIndicator.Indeterminate.Example.tsx
  packages/office-ui-fabric-react/src/components/ResizeGroup/examples/ResizeGroup.OverflowSet.Example.tsx
  packages/office-ui-fabric-react/src/components/ResizeGroup/examples/ResizeGroup.VerticalOverflowSet.Example.tsx
  packages/office-ui-fabric-react/src/components/__snapshots__/FloatingPeoplePicker.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/ResizeGroup.OverflowSet.Example.tsx.shot
Labels: Component: FloatingPicker, Component: ProgressIndicator, Component: ResizeGroup

#12105 Grouped list custom checkbox
  change/office-ui-fabric-react-2020-02-27-19-36-04-GroupedListCustomCheckbox.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/GroupedList/GroupHeader.base.tsx
  packages/office-ui-fabric-react/src/components/GroupedList/GroupHeader.types.ts
  packages/office-ui-fabric-react/src/components/GroupedList/GroupedList.doc.tsx
  packages/office-ui-fabric-react/src/components/GroupedList/GroupedList.test.tsx
  packages/office-ui-fabric-react/src/components/GroupedList/examples/GroupedList.CustomCheckbox.Example.tsx
  packages/office-ui-fabric-react/src/components/GroupedList/index.ts
  packages/office-ui-fabric-react/src/components/__snapshots__/GroupedList.CustomCheckbox.Example.tsx.shot
Labels: AutoMerge, Component: GroupedList

#12865 [filetype icons] Add to filemap 'pbiapp' (re-applied)
  change/@uifabric-file-type-icons-2020-04-24-13-10-49-caperez-pbiapp_filetype.json
  packages/file-type-icons/src/FileTypeIconMap.ts
Labels: AutoMerge, package: file-type-icons

#13165 merge-styles api input argument typings relaxed (TypeScript 3.9 now compiles)
  apps/fabric-website-resources/config/tests.js
  apps/fabric-website-resources/jest.config.js
  apps/fabric-website-resources/jest.dom.config.js
  change/@uifabric-fabric-website-resources-2020-05-14-12-26-26-fix-merge-styles-typings.json
  change/@uifabric-merge-styles-2020-05-14-09-50-04-fix-merge-styles-typings.json
  packages/merge-styles/etc/merge-styles.api.md
  packages/merge-styles/src/IStyleSet.ts
  packages/merge-styles/src/ObjectOnly.ts
  packages/merge-styles/src/concatStyleSets.test.ts
  packages/merge-styles/src/concatStyleSets.ts
  packages/merge-styles/src/index.ts
  packages/merge-styles/src/mergeStyleSets.test.ts
  packages/merge-styles/src/mergeStyleSets.ts
Labels: Area: merge-styles, PR: API Modified

#13102 Bug fix to handle removal of duplicates in UnifiedPicker (SelectedItemsList)
  change/@uifabric-experiments-2020-05-11-18-37-37-u-nebhatna-uppsb.json
  packages/experiments/src/components/FloatingSuggestionsComposite/FloatingPeopleSuggestions/FloatingSuggestionsPage.tsx
  packages/experiments/src/components/FloatingSuggestionsComposite/FloatingSuggestions.types.ts
  packages/experiments/src/components/SelectedItemsList/SelectedItemsList.tsx
  packages/experiments/src/components/SelectedItemsList/SelectedItemsList.types.ts
  packages/experiments/src/components/UnifiedPicker/UnifiedPeoplePicker/UnifiedPeoplePicker.tsx
  packages/experiments/src/components/UnifiedPicker/UnifiedPeoplePicker/UnifiedPeoplePicker.types.ts
  packages/experiments/src/components/UnifiedPicker/UnifiedPeoplePicker/examples/UnifiedPeoplePicker.Example.tsx
  packages/experiments/src/components/UnifiedPicker/UnifiedPicker.tsx
  packages/experiments/src/components/UnifiedPicker/UnifiedPicker.types.ts
  packages/experiments/src/components/UnifiedPicker/hooks/useSelectedItems.ts
Labels: AutoMerge

#13128 PivotItem: Expanding types of headerButtonProps to include IButtonProps
  change/@fluentui-react-next-2020-05-12-17-39-32-pivotItemHeaderButtonPropsType.json
  change/office-ui-fabric-react-2020-05-12-17-39-32-pivotItemHeaderButtonPropsType.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/Pivot/PivotItem.types.ts
  packages/react-next/etc/react-next.api.md
  packages/react-next/src/components/Pivot/PivotItem.types.ts
Labels: AutoMerge, Component: Pivot, PR: API Modified

#13173 Fix dep mismatches
  apps/vr-tests/package.json
  packages/fluentui/perf-test/package.json
Labels: Area: Build System

#12829 Updating List, Keytips, and Facepile examples to use function components
  change/office-ui-fabric-react-2020-04-22-16-32-36-fix-example8-update.json
  packages/office-ui-fabric-react/src/components/Facepile/examples/Facepile.AddFace.Example.tsx
  packages/office-ui-fabric-react/src/components/Facepile/examples/Facepile.Basic.Example.tsx
  packages/office-ui-fabric-react/src/components/Facepile/examples/Facepile.Overflow.Example.tsx
  packages/office-ui-fabric-react/src/components/Keytip/examples/Keytips.Basic.Example.tsx
  packages/office-ui-fabric-react/src/components/Keytip/examples/Keytips.Button.Example.tsx
  packages/office-ui-fabric-react/src/components/Keytip/examples/Keytips.CommandBar.Example.tsx
  packages/office-ui-fabric-react/src/components/Keytip/examples/Keytips.Dynamic.Example.tsx
  packages/office-ui-fabric-react/src/components/Keytip/examples/Keytips.Overflow.Example.tsx
  packages/office-ui-fabric-react/src/components/List/List.doc.tsx
  packages/office-ui-fabric-react/src/components/List/examples/List.Basic.Example.tsx
  packages/office-ui-fabric-react/src/components/List/examples/List.Ghosting.Example.tsx
  packages/office-ui-fabric-react/src/components/List/examples/List.Grid.Example.tsx
  packages/office-ui-fabric-react/src/components/List/examples/List.Scrolling.Example.tsx
  packages/office-ui-fabric-react/src/components/__snapshots__/Keytips.CommandBar.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Keytips.Dynamic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Keytips.Overflow.Example.tsx.shot
Labels: AutoMerge, Component: Facepile, Component: Keytip, Component: List

#12849 Updating examples for Shimmer, Slider, SelectedPeopleList, MarqueeSelection, and SwatchColorPicker to use FC
  change/@uifabric-utilities-2020-04-23-15-47-00-fix-example10-update.json
  change/office-ui-fabric-react-2020-04-23-15-47-00-fix-example10-update.json
  packages/office-ui-fabric-react/src/components/GroupedList/GroupedList.doc.tsx
  packages/office-ui-fabric-react/src/components/MarqueeSelection/examples/MarqueeSelection.Basic.Example.tsx
  packages/office-ui-fabric-react/src/components/SelectedItemsList/examples/SelectedPeopleList.Basic.Example.tsx
  packages/office-ui-fabric-react/src/components/SelectedItemsList/examples/SelectedPeopleList.Controlled.Example.tsx
  packages/office-ui-fabric-react/src/components/Shimmer/examples/Shimmer.Basic.Example.tsx
  packages/office-ui-fabric-react/src/components/Shimmer/examples/Shimmer.CustomElements.Example.tsx
  packages/office-ui-fabric-react/src/components/Shimmer/examples/Shimmer.LoadData.Example.tsx
  packages/office-ui-fabric-react/src/components/Shimmer/examples/Shimmer.Styling.Example.tsx
  packages/office-ui-fabric-react/src/components/Slider/examples/Slider.Basic.Example.tsx
  packages/office-ui-fabric-react/src/components/Slider/examples/Slider.Vertical.Example.tsx
  packages/office-ui-fabric-react/src/components/SwatchColorPicker/examples/SwatchColorPicker.Basic.Example.tsx
  packages/office-ui-fabric-react/src/components/__snapshots__/MarqueeSelection.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Shimmer.CustomElements.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Shimmer.LoadData.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Shimmer.Styling.Example.tsx.shot
  packages/utilities/etc/utilities.api.md
  packages/utilities/src/selection/Selection.test.ts
  packages/utilities/src/selection/Selection.ts
Labels: Component: MarqueeSelection, Component: Shimmer, Component: Slider, Component: SwatchColorPicker, PR: API Modified

#13096 Adding @fluentui/react-button package scaffolding
  change/@fluentui-react-button-2020-05-11-20-18-00-feat-react-button.json
  change/@fluentui-react-compose-2020-05-10-23-09-32-feat-react-button.json
  packages/react-button/.npmignore
  packages/react-button/.npmrc
  packages/react-button/.storybook/main.js
  packages/react-button/.storybook/manager.js
  packages/react-button/.storybook/preview.js
  packages/react-button/LICENSE
  packages/react-button/README.md
  packages/react-button/just.config.ts
  packages/react-button/package.json
  packages/react-button/src/components/Button/Button.scss
  packages/react-button/src/components/Button/Button.stories.scss
  packages/react-button/src/components/Button/Button.stories.tsx
  packages/react-button/src/components/Button/Button.tsx
  packages/react-button/src/components/Button/Button.types.tsx
  packages/react-button/src/components/Button/ButtonBase.tsx
  packages/react-button/src/components/Button/useButton.ts
  packages/react-button/src/index.ts
  packages/react-button/src/utils/mergeClassesIntoSlotProps.ts
  packages/react-button/src/utils/mergeProps.ts
  packages/react-button/src/utils/tempTypes.ts
  packages/react-button/src/version.ts
  packages/react-button/tsconfig.json
  packages/react-button/tslint.json
  packages/react-compose/package.json
Labels: AutoMerge

#13158 chore(Card): Update card padding/margin
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/themes/teams/components/Card/cardStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Card/cardVariables.ts
Labels: Fluent UI v0

#13179 chore(DropdownSelectedItem): Convert to RFC
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/components/Dropdown/DropdownSelectedItem.tsx
  packages/fluentui/react-northstar/src/themes/teams/components/Dropdown/dropdownSelectedItemStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/types.ts
Labels: Fluent UI v0

#13159 feat(schema): add tree item to the schema validator
  packages/fluentui/ability-attributes/schema.json
  packages/fluentui/accessibility/src/behaviors/Tree/treeItemAsListItemBehavior.ts
  packages/fluentui/accessibility/src/behaviors/Tree/treeItemBehavior.ts
  packages/fluentui/accessibility/src/behaviors/Tree/treeTitleAsListItemTitleBehavior.ts
  packages/fluentui/accessibility/src/behaviors/Tree/treeTitleBehavior.ts
Labels: Fluent UI v0

#13181 chore(FormField): Convert to RFC
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/components/Form/FormField.tsx
  packages/fluentui/react-northstar/src/themes/teams/components/Form/formFieldStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/types.ts
  packages/fluentui/react-northstar/test/specs/components/Form/FormField-test.tsx
Labels: Fluent UI v0

#13180 chore(form): Convert to RFC
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/components/Form/Form.tsx
  packages/fluentui/react-northstar/src/themes/teams/components/Form/formStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/types.ts
  packages/fluentui/react-northstar/test/specs/components/Form/Form-test.tsx
Labels: Fluent UI v0

#13185 mergeStyles: addressing shallow partial issue found by TS 3.9.2
  change/@uifabric-merge-styles-2020-05-15-10-46-03-fix-merge-styles-deep-partial.json
  packages/merge-styles/etc/merge-styles.api.md
  packages/merge-styles/src/DeepPartial.ts
  packages/merge-styles/src/IStyleFunction.ts
  packages/merge-styles/src/concatStyleSetsWithProps.ts
  packages/merge-styles/src/index.ts
Labels: Area: Typescript, Area: merge-styles, PR: API Modified

#13187 Website url fix
  apps/fabric-website/src/pages/Overviews/ResourcesPage/docs/default/ResourcesDeveloperResources.md
  change/@uifabric-fabric-website-2020-05-15-13-12-47-website-url-fix.json
Labels: Area: Website

#13183 DetailsList: clarify IColumn.ariaLabel docs; other doc cleanup
  change/office-ui-fabric-react-2020-05-15-10-32-58-column-arialabel.json
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsList.types.ts
Labels: Area: Documentation, Component: DetailsList

#13174 SpinButton: allow empty string as value, clean up docs and tests
  change/@fluentui-react-next-2020-05-14-14-06-04-spinbutton-emptyvalue.json
  change/office-ui-fabric-react-2020-05-14-14-06-04-spinbutton-emptyvalue.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/SpinButton/SpinButton.test.tsx
  packages/office-ui-fabric-react/src/components/SpinButton/SpinButton.tsx
  packages/office-ui-fabric-react/src/components/SpinButton/SpinButton.types.ts
  packages/office-ui-fabric-react/src/components/SpinButton/__snapshots__/SpinButton.test.tsx.snap
  packages/react-next/etc/react-next.api.md
  packages/react-next/src/components/SpinButton/SpinButton.test.tsx
  packages/react-next/src/components/SpinButton/SpinButton.tsx
  packages/react-next/src/components/SpinButton/SpinButton.types.ts
  packages/react-next/src/components/SpinButton/__snapshots__/SpinButton.test.tsx.snap
Labels: Component: SpinButton, PR: API Modified

#12854 Provide full Nav group state for render overrides
  change/office-ui-fabric-react-2020-04-23-21-31-33-nav-groups.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/Nav/Nav.base.tsx
  packages/office-ui-fabric-react/src/components/Nav/Nav.test.tsx
  packages/office-ui-fabric-react/src/components/Nav/Nav.types.ts
  packages/office-ui-fabric-react/src/components/Nav/__snapshots__/Nav.test.tsx.snap
Labels: AutoMerge, Component: Nav

#13206 docs(Examples): Add hidden text for example source name
  packages/fluentui/docs/src/components/ComponentDoc/ComponentExample/ComponentExample.tsx
  packages/fluentui/docs/src/components/ComponentDoc/ComponentExample/ComponentExampleTitle.tsx
Labels: Fluent UI v0

#13092 feat(Card):Refactor expanding card using styles
  packages/fluentui/CHANGELOG.md
  packages/fluentui/docs/src/examples/components/Card/Usage/CardExampleExpandable.tsx
  packages/fluentui/react-northstar/src/components/Card/Card.tsx
  packages/fluentui/react-northstar/src/components/Card/CardExpandableBox.tsx
  packages/fluentui/react-northstar/src/index.ts
  packages/fluentui/react-northstar/src/themes/teams/componentStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/componentVariables.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Card/cardExpandableBoxStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Card/cardExpandableBoxVariables.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Card/cardStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Card/cardVariables.ts
  packages/fluentui/react-northstar/src/themes/teams/types.ts
  packages/fluentui/react-northstar/test/specs/components/Card/CardExpandableBox-test.tsx
Labels: Fluent UI v0

#13117 feat(MenuItem): use compose()
  packages/fluentui/CHANGELOG.md
  packages/fluentui/docs/src/examples/components/Menu/Visual/MenuExampleCompose.shorthand.tsx
  packages/fluentui/docs/src/examples/components/Menu/Visual/index.tsx
  packages/fluentui/react-northstar/src/components/Menu/Menu.tsx
  packages/fluentui/react-northstar/src/components/Menu/MenuItem.tsx
  packages/fluentui/react-northstar/src/components/Menu/MenuItemContent.tsx
  packages/fluentui/react-northstar/src/components/Menu/MenuItemIcon.tsx
  packages/fluentui/react-northstar/src/components/Menu/MenuItemIndicator.tsx
  packages/fluentui/react-northstar/src/components/Menu/MenuItemWrapper.tsx
  packages/fluentui/react-northstar/src/index.ts
  packages/fluentui/react-northstar/src/themes/teams-dark/componentVariables.ts
  packages/fluentui/react-northstar/src/themes/teams-dark/components/Menu/menuItemContentVariables.ts
  packages/fluentui/react-northstar/src/themes/teams-dark/components/Menu/menuItemIconVariables.ts
  packages/fluentui/react-northstar/src/themes/teams-dark/components/Menu/menuItemIndicatorVariables.ts
  packages/fluentui/react-northstar/src/themes/teams-dark/components/Menu/menuItemWrapperVariables.ts
  packages/fluentui/react-northstar/src/themes/teams-high-contrast/componentVariables.ts
  packages/fluentui/react-northstar/src/themes/teams-high-contrast/components/Menu/menuItemContentVariables.ts
  packages/fluentui/react-northstar/src/themes/teams-high-contrast/components/Menu/menuItemIconVariables.ts
  packages/fluentui/react-northstar/src/themes/teams-high-contrast/components/Menu/menuItemIndicatorVariables.ts
  packages/fluentui/react-northstar/src/themes/teams-high-contrast/components/Menu/menuItemWrapperVariables.ts
  packages/fluentui/react-northstar/src/themes/teams/componentStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/componentVariables.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Menu/menuItemContentStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Menu/menuItemContentVariables.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Menu/menuItemIconStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Menu/menuItemIconVariables.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Menu/menuItemIndicatorStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Menu/menuItemIndicatorVariables.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Menu/menuItemStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Menu/menuItemWrapperStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Menu/menuItemWrapperVariables.ts
  packages/fluentui/react-northstar/src/themes/teams/types.ts
  packages/fluentui/react-northstar/test/specs/components/Menu/MenuItem-test.tsx
  packages/fluentui/react-northstar/test/specs/components/Menu/MenuItemContent-test.tsx
  packages/fluentui/react-northstar/test/specs/components/Menu/MenuItemIcon-test.tsx
  packages/fluentui/react-northstar/test/specs/components/Menu/MenuItemIndicator-test.tsx
  packages/fluentui/react-northstar/test/specs/components/Menu/MenuItemWrapper-test.tsx
Labels: Fluent UI v0

#13063 refactor(Grid): Restrict grid columns and rows to numbers only
  packages/fluentui/docs/src/components/CategoryColorSchemes.tsx
  packages/fluentui/docs/src/components/ColorSchemes.tsx
  packages/fluentui/docs/src/components/ComponentDoc/ComponentDoc.tsx
  packages/fluentui/docs/src/components/ComponentDoc/ComponentExample/ComponentExampleVariables.tsx
  packages/fluentui/docs/src/components/ComponentDoc/ExampleSection.tsx
  packages/fluentui/docs/src/components/ComponentPlayground/ComponentPlaygroundTemplate.tsx
  packages/fluentui/docs/src/examples/components/Avatar/Variations/AvatarExampleSize.shorthand.tsx
  packages/fluentui/docs/src/examples/components/Avatar/Variations/AvatarExampleStatusCustomization.shorthand.tsx
  packages/fluentui/docs/src/examples/components/Card/Usage/CardExampleFocusableChildrenGrid.tsx
  packages/fluentui/docs/src/examples/components/Card/Usage/CardExampleFocusableGrid.tsx
  packages/fluentui/docs/src/examples/components/Dropdown/Variations/DropdownExampleOffset.shorthand.tsx
  packages/fluentui/docs/src/examples/components/Dropdown/Variations/DropdownExamplePosition.shorthand.tsx
  packages/fluentui/docs/src/examples/components/Grid/Variations/GridExampleColumns.shorthand.tsx
  packages/fluentui/docs/src/examples/components/Grid/Variations/GridExampleColumns.tsx
  packages/fluentui/docs/src/examples/components/Grid/Variations/GridExampleColumnsAndRows.shorthand.tsx
  packages/fluentui/docs/src/examples/components/Grid/Variations/GridExampleColumnsAndRows.tsx
  packages/fluentui/docs/src/examples/components/Grid/Variations/GridExampleKeyboardNavigable.shorthand.tsx
  packages/fluentui/docs/src/examples/components/Grid/Variations/GridExampleKeyboardNavigable.tsx
  packages/fluentui/docs/src/examples/components/Grid/Variations/GridExampleRows.shorthand.tsx
  packages/fluentui/docs/src/examples/components/Grid/Variations/GridExampleRows.tsx
  packages/fluentui/docs/src/examples/components/Input/Variations/InputExampleInputSlot.shorthand.tsx
  packages/fluentui/docs/src/examples/components/Input/Variations/InputExampleTargeting.shorthand.tsx
  packages/fluentui/docs/src/examples/components/Input/Variations/InputExampleWrapperSlot.shorthand.tsx
  packages/fluentui/docs/src/examples/components/Loader/Variations/LoaderExampleSize.tsx
  packages/fluentui/docs/src/examples/components/Popup/Types/PopupCustomTargetExample.shorthand.tsx
  packages/fluentui/docs/src/examples/components/Popup/Types/PopupCustomTargetExample.tsx
  packages/fluentui/docs/src/examples/components/Popup/Types/PopupExamplePointing.shorthand.tsx
  packages/fluentui/docs/src/examples/components/Popup/Variations/PopupExampleOffset.shorthand.tsx
  packages/fluentui/docs/src/examples/components/Popup/Variations/PopupExamplePosition.shorthand.tsx
  packages/fluentui/docs/src/examples/components/Popup/Variations/PopupExamplePosition.tsx
  packages/fluentui/docs/src/examples/components/SvgIcon/Variations/SvgIconExampleColor.shorthand.tsx
  packages/fluentui/docs/src/examples/components/Tooltip/Usage/TooltipExampleTarget.shorthand.tsx
  packages/fluentui/docs/src/examples/components/Tooltip/Usage/TooltipExampleTarget.tsx
  packages/fluentui/docs/src/examples/components/Tooltip/Variations/TooltipExamplePosition.shorthand.tsx
  packages/fluentui/docs/src/examples/components/Tooltip/Variations/TooltipExamplePosition.tsx
  packages/fluentui/docs/src/pages/Layout.mdx
  packages/fluentui/docs/src/prototypes/employeeCard/EmployeeCard.tsx
  packages/fluentui/docs/src/prototypes/meetingOptions/components/MSTeamsMeetingOptions.tsx
  packages/fluentui/docs/src/prototypes/popups/GridImagePicker/GridImagePicker.tsx
  packages/fluentui/react-northstar/src/components/Grid/Grid.tsx
  packages/fluentui/react-northstar/src/themes/teams/components/Grid/gridStyles.ts
Labels: Fluent UI v0

#13204 Fix aka.ms/fabricdemo
  change/@uifabric-example-app-base-2020-05-17-19-19-42-fix-demo.json
  packages/example-app-base/index.html
Labels: Area: Website, AutoMerge

#13184 chore(HierarchicalTreeItem): Convert to RFC
  packages/fluentui/CHANGELOG.md
  packages/fluentui/accessibility/src/behaviors/HierarchicalTree/hierarchicalTreeItemBehavior.ts
  packages/fluentui/accessibility/src/behaviors/index.ts
  packages/fluentui/accessibility/test/behaviors/hierarchicalTreeItemBehavior-test.tsx
  packages/fluentui/accessibility/test/behaviors/testDefinitions.ts
  packages/fluentui/react-northstar/src/components/HierarchicalTree/HierarchicalTreeItem.tsx
Labels: Fluent UI v0

#13207 chore(MenuDivider): use `compose()`
  packages/fluentui/CHANGELOG.md
  packages/fluentui/accessibility/src/behaviors/Menu/menuDividerBehavior.ts
  packages/fluentui/accessibility/src/behaviors/index.ts
  packages/fluentui/react-northstar/src/components/Menu/Menu.tsx
  packages/fluentui/react-northstar/src/components/Menu/MenuDivider.tsx
  packages/fluentui/react-northstar/src/themes/teams/components/Menu/menuDividerStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Menu/menuStyles.ts
Labels: Fluent UI v0

#13186 chore(Portal): Convert to RFC
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/components/Portal/Portal.tsx
  packages/fluentui/react-northstar/test/specs/components/Portal/Portal-test.tsx
Labels: Fluent UI v0

#13116 feat(Menu): use compose()
  packages/fluentui/react-northstar/src/components/Menu/Menu.tsx
Labels: Fluent UI v0

#13163 feat(Card): Adding new props and styles
  packages/fluentui/CHANGELOG.md
  packages/fluentui/docs/src/examples/components/Card/States/CardExampleDisabled.tsx
  packages/fluentui/docs/src/examples/components/Card/Variations/CardExampleElevated.tsx
  packages/fluentui/docs/src/examples/components/Card/Variations/CardExampleInverted.tsx
  packages/fluentui/docs/src/examples/components/Card/Variations/CardExampleQuiet.tsx
  packages/fluentui/docs/src/examples/components/Card/Variations/index.tsx
  packages/fluentui/react-northstar/src/components/Card/Card.tsx
  packages/fluentui/react-northstar/src/themes/teams-dark/colors.ts
  packages/fluentui/react-northstar/src/themes/teams-high-contrast/colors.ts
  packages/fluentui/react-northstar/src/themes/teams/colors.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Card/cardStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Card/cardVariables.ts
Labels: AutoMerge, Fluent UI v0

#13182 chore(HierarchicalTree): Convert to RFC
  packages/fluentui/CHANGELOG.md
  packages/fluentui/accessibility/src/behaviors/HierarchicalTree/hierarchicalTreeBehavior.ts
  packages/fluentui/accessibility/src/behaviors/index.ts
  packages/fluentui/react-northstar/src/components/HierarchicalTree/HierarchicalTree.tsx
  packages/fluentui/react-northstar/test/specs/components/HierarchicalTree/HierarchicalTree-test.tsx
Labels: Fluent UI v0

#13215 Copy update to Cross platform Getting Started
  apps/fabric-website/src/pages/Overviews/GetStartedPage/docs/cross/GetStartedOverview.md
  change/@uifabric-fabric-website-2020-05-18-14-18-14-ej-website.json
Labels: Area: Website

#13211 minor updates on iOS get started page
  apps/fabric-website/src/pages/Overviews/GetStartedPage/docs/ios/GetStartedOverview.md
  change/@uifabric-fabric-website-2020-05-18-09-58-18-hyshin-update_getstartedpage_ios.json
Labels: Area: Website

#13219 Removing phkuo as a codeowner of Toggle
  .github/CODEOWNERS
Labels: Fabric 6

#13197 Fix CONTRIBUTING.md link in @fluentui/react-northstar README
  packages/fluentui/README.md
Labels: Fluent UI v0

#13213 Fix example-app-base demo app
  change/@uifabric-example-app-base-2020-05-18-10-22-19-example-demo.json
  packages/example-app-base/webpack.serve.config.js
Labels: Area: Website, AutoMerge

#13209 fix(compose): fix type for `React.Ref` generic
  change/@fluentui-react-compose-2020-05-18-14-30-09-fix-compose-ref-type.json
  packages/fluentui/react-bindings/test/compose/compose-test.tsx
  packages/fluentui/react-northstar/src/components/Menu/Menu.tsx
  packages/fluentui/react-northstar/src/components/Menu/MenuItem.tsx
  packages/react-compose/etc/react-compose.api.md
  packages/react-compose/src/compose.ts
  packages/react-compose/src/types.ts
Labels: AutoMerge

#12921 feat(Card): Selectable card
  packages/fluentui/CHANGELOG.md
  packages/fluentui/accessibility/src/behaviors/Card/cardSelectableBehavior.ts
  packages/fluentui/accessibility/src/behaviors/Card/cardsContainerBehavior.ts
  packages/fluentui/accessibility/src/behaviors/Common/hiddenComponentBehavior.ts
  packages/fluentui/accessibility/src/behaviors/index.ts
  packages/fluentui/accessibility/test/behaviors/behavior-test.tsx
  packages/fluentui/docs/src/examples/components/Card/States/CardExampleDisabled.tsx
  packages/fluentui/docs/src/examples/components/Card/States/CardExampleSelected.tsx
  packages/fluentui/docs/src/examples/components/Card/States/index.tsx
  packages/fluentui/docs/src/examples/components/Card/Usage/CardExampleSelectableGrid.tsx
  packages/fluentui/docs/src/examples/components/Card/Usage/index.tsx
  packages/fluentui/react-northstar/src/components/Card/Card.tsx
  packages/fluentui/react-northstar/src/themes/teams/components/Card/cardStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Card/cardVariables.ts
Labels: AutoMerge, Fluent UI v0, PR: Possible Perf Regression :snail:

#13143 docs(Toolbar): recommendation using toolbar based on aria
  packages/fluentui/CHANGELOG.md
  packages/fluentui/docs/src/examples/components/Toolbar/BestPractices/ToolbarBestPractices.tsx
Labels: AutoMerge, Fluent UI v0

#13228 fix(mixed): use useRef() hook in functional components
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/components/Carousel/Carousel.tsx
  packages/fluentui/react-northstar/src/components/Dropdown/DropdownSelectedItem.tsx
  packages/fluentui/react-northstar/src/components/Slider/Slider.tsx
  packages/fluentui/react-northstar/src/components/Video/Video.tsx
Labels: AutoMerge, Fluent UI v0

#13189 chore(Input): Convert to RFC
  packages/fluentui/CHANGELOG.md
  packages/fluentui/accessibility/src/behaviors/Input/inputBehavior.ts
  packages/fluentui/accessibility/src/behaviors/index.ts
  packages/fluentui/react-northstar/src/components/Input/Input.tsx
  packages/fluentui/react-northstar/src/themes/teams/components/Input/inputStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/types.ts
  packages/fluentui/react-northstar/test/specs/components/Input/Input-test.tsx
Labels: Fluent UI v0

#13044 fix(Popper): exclude useless updates, fix `fixed` positioning
  packages/fluentui/CHANGELOG.md
  packages/fluentui/docs/src/examples/components/Toolbar/Content/ToolbarExampleOverflow.shorthand.steps.ts
  packages/fluentui/react-northstar/package.json
  packages/fluentui/react-northstar/src/utils/positioner/Popper.tsx
  scripts/dangerjs/detectNonApprovedDependencies/approvedPackages.ts
  yarn.lock
Labels: AutoMerge, Fluent UI v0

#13230 feat(Card): Refactor card styles + update selected styles
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/themes/teams-dark/colors.ts
  packages/fluentui/react-northstar/src/themes/teams-high-contrast/colors.ts
  packages/fluentui/react-northstar/src/themes/teams/colors.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Card/cardStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Card/cardVariables.ts
Labels: AutoMerge, Fluent UI v0

#13167 Slider: convert to scss
  apps/perf-test/src/scenarios/SliderNext.tsx
  apps/vr-tests/src/stories/SliderNext.stories.tsx
  change/@fluentui-react-next-2020-05-14-10-54-18-slider-to-scss.json
  packages/react-next/src/components/Slider/Slider.base.tsx
  packages/react-next/src/components/Slider/Slider.scss
  packages/react-next/src/components/Slider/Slider.styles.ts
  packages/react-next/src/components/Slider/Slider.tsx
  packages/react-next/src/components/Slider/__snapshots__/Slider.test.tsx.snap
  packages/react-next/src/components/Slider/examples/Slider.Vertical.Example.tsx
Labels: Component: Slider, Fluent UI v8, PR: Possible Perf Regression :snail:

#13217 Toggle: Convert react-next version to use scss
  apps/perf-test/src/scenarios/ToggleNext.tsx
  apps/vr-tests/src/stories/ToggleNext.stories.tsx
  change/@fluentui-react-next-2020-05-18-14-52-18-toggleScss.json
  packages/react-next/src/components/Toggle/Toggle.base.tsx
  packages/react-next/src/components/Toggle/Toggle.scss
  packages/react-next/src/components/Toggle/Toggle.styles.ts
  packages/react-next/src/components/Toggle/Toggle.tsx
  packages/react-next/src/components/Toggle/__snapshots__/Toggle.test.tsx.snap
Labels: Component: Toggle, Fluent UI v8

#12932 update MessageBarButton border color
  change/office-ui-fabric-react-2020-04-29-14-30-19-update_MessageBarButtonBorder_color.json
  packages/office-ui-fabric-react/src/components/Button/MessageBarButton/MessageBarButton.styles.ts
Labels: Component: Button, Component: MessageBar

#13221 Added 9 icons
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-icons-northstar/src/components/AudienceIcon.tsx
  packages/fluentui/react-icons-northstar/src/components/AudioLoadingIcon.tsx
  packages/fluentui/react-icons-northstar/src/components/CameraIcon.tsx
  packages/fluentui/react-icons-northstar/src/components/ContentIcon.tsx
  packages/fluentui/react-icons-northstar/src/components/GalleryNewIcon.tsx
  packages/fluentui/react-icons-northstar/src/components/GalleryNewLargeIcon.tsx
  packages/fluentui/react-icons-northstar/src/components/SpeakerPersonIcon.tsx
  packages/fluentui/react-icons-northstar/src/components/TiltPanZoomIcon.tsx
  packages/fluentui/react-icons-northstar/src/components/VideoLoadingIcon.tsx
  packages/fluentui/react-icons-northstar/src/index.ts
Labels: Fluent UI v0

#13115 feat(compose): expose __self slot
  change/@fluentui-react-button-2020-05-19-16-52-10-feat-compose.json
  change/@fluentui-react-compose-2020-05-12-16-54-08-feat-compose.json
  packages/fluentui/react-bindings/test/compose/compose-test.tsx
  packages/react-button/src/utils/mergeProps.ts
  packages/react-compose/etc/react-compose.api.md
  packages/react-compose/src/compose.ts
  packages/react-compose/src/types.ts
  packages/react-compose/src/utils.ts
Labels: AutoMerge, Fluent UI v0

#13244 Fixed typos in variable names
  packages/fluentui/docs/src/components/ComponentDoc/ComponentDocAccessibility.tsx
Labels: Fluent UI v0

#13248 docs(Knobs): Fix knobs labels
  packages/fluentui/CHANGELOG.md
  packages/fluentui/docs-components/src/knobs/defaultComponents.tsx
Labels: Fluent UI v0

#13146 ThemeProvider Integration
  apps/vr-tests/src/stories/CheckboxNext.stories.tsx
  apps/vr-tests/src/stories/LinkNext.stories.tsx
  apps/vr-tests/src/stories/SliderNext.stories.tsx
  apps/vr-tests/src/stories/ToggleNext.stories.tsx
  change/@fluentui-react-next-2020-05-13-10-51-24-xgao-theme-provider.json
  change/@fluentui-react-theme-provider-2020-05-15-15-35-09-xgao-theme-provider.json
  change/@uifabric-react-hooks-2020-05-15-15-35-09-xgao-theme-provider.json
  change/@uifabric-utilities-2020-05-19-21-00-35-xgao-theme-provider.json
  packages/react-hooks/etc/react-hooks.api.md
  packages/react-hooks/src/index.ts
  packages/react-hooks/src/useForceUpdate.test.tsx
  packages/react-hooks/src/useForceUpdate.ts
  packages/react-next/.storybook/preview.js
  packages/react-next/__mocks__/@uifabric/utilities.ts
  packages/react-next/etc/react-next.api.md
  packages/react-next/package.json
  packages/react-next/src/Styling.ts
  packages/react-next/src/Styling/ThemeProvider.test.tsx
  packages/react-next/src/Styling/ThemeProvider.tsx
  packages/react-next/src/Styling/convertLegacyTheme.ts
  packages/react-next/src/Styling/index.ts
  packages/react-next/src/Utilities.ts
  packages/react-next/src/Utilities/Customizer.test.tsx
  packages/react-next/src/Utilities/Customizer.tsx
  packages/react-next/src/Utilities/Customizer.types.ts
  packages/react-next/src/Utilities/index.ts
  packages/react-next/src/common/_themeCssVariables.scss
  packages/react-next/src/components/Checkbox/Checkbox.tsx
  packages/react-next/src/components/Checkbox/examples/Checkbox.CustomStyle.Example.tsx
  packages/react-next/src/components/Fabric/Fabric.base.tsx
  packages/react-next/src/components/Fabric/Fabric.test.tsx
  packages/react-theme-provider/etc/react-theme-provider.api.md
  packages/react-theme-provider/src/ThemeProvider.test.tsx
  packages/react-theme-provider/src/ThemeProvider.tsx
  packages/react-theme-provider/src/__snapshots__/ThemeProvider.test.tsx.snap
  packages/react-theme-provider/src/index.ts
  packages/utilities/etc/utilities.api.md
  packages/utilities/src/customizations/useCustomizationSettings.test.tsx
  packages/utilities/src/customizations/useCustomizationSettings.ts
  packages/utilities/src/index.ts
Labels: Area: Theming, Fluent UI v8

#13252 fix dependencies not being watched
  scripts/monorepo/findRepoDeps.js
Labels: Area: Build System

#13046 feat(Animation): update animations for Teams theme
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/themes/teams/animations/durations.ts
  packages/fluentui/react-northstar/src/themes/teams/animations/fade.ts
  packages/fluentui/react-northstar/src/themes/teams/animations/index.ts
  packages/fluentui/react-northstar/src/themes/teams/animations/scale.ts
  packages/fluentui/react-northstar/src/themes/teams/animations/slide.ts
  packages/fluentui/react-northstar/src/themes/teams/animations/timingFunctions.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Alert/alertDismissActionStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Alert/alertVariables.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Button/buttonStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Carousel/carouselPaddleStyles.ts
Labels: Fluent UI v0

#13034 Fix MessageBar high contrast issues
  change/@uifabric-styling-2020-05-06-16-31-20-messagebar-link.json
  change/@uifabric-utilities-2020-05-08-11-01-52-messagebar-link.json
  change/office-ui-fabric-react-2020-05-06-16-31-20-messagebar-link.json
  packages/office-ui-fabric-react/src/components/Button/MessageBarButton/MessageBarButton.styles.ts
  packages/office-ui-fabric-react/src/components/Link/Link.styles.ts
  packages/office-ui-fabric-react/src/components/Link/__snapshots__/Link.test.tsx.snap
  packages/office-ui-fabric-react/src/components/MessageBar/MessageBar.base.tsx
  packages/office-ui-fabric-react/src/components/MessageBar/MessageBar.styles.ts
  packages/office-ui-fabric-react/src/components/MessageBar/__snapshots__/MessageBar.test.tsx.snap
  packages/office-ui-fabric-react/src/components/__snapshots__/Breadcrumb.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Button.Icon.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Checkbox.Other.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DocumentCard.Compact.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DocumentCard.Complete.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/FocusTrapZone.Box.Click.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/FocusTrapZone.Box.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/FocusTrapZone.Box.FocusOnCustomElement.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/FocusZone.List.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Keytips.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Link.Basic.Example.tsx.shot
  packages/styling/src/interfaces/ISemanticColors.ts
  packages/utilities/src/customizations/Customizer.types.tsx
Labels: Area: Accessibility, Component: MessageBar, High Contrast

#13256 FocusZone: Defaulting to false for the preventDefaultWhenHandled prop to maintain old behavior
  change/@fluentui-react-focus-2020-05-20-13-50-16-preventDefaultWhenHandledFalse.json
  packages/react-focus/src/components/FocusZone/FocusZone.tsx
  packages/react-focus/src/components/FocusZone/FocusZone.types.ts
Labels: AutoMerge, Component: FocusZone

#12478 feat(FocusZone): Adding implementation for tryInvokeClickForFocusable function
  change/@fluentui-react-focus-2020-05-18-12-40-43-tryInvokeClickFocusableImplementation.json
  change/office-ui-fabric-react-2020-04-29-15-08-53-tryInvokeClickFocusableImplementation.json
  packages/fluentui/accessibility/src/attributes.ts
  packages/fluentui/accessibility/src/focusZone/types.ts
  packages/fluentui/react-bindings/src/FocusZone/CHANGELOG.md
  packages/fluentui/react-bindings/src/FocusZone/FocusZone.tsx
  packages/fluentui/react-bindings/src/FocusZone/FocusZone.types.ts
  packages/fluentui/react-bindings/test/hooks/useAccessibility-test.tsx
  packages/react-focus/etc/react-focus.api.md
  packages/react-focus/src/components/FocusZone/FocusZone.tsx
  packages/react-focus/src/components/FocusZone/FocusZone.types.ts
Labels: AutoMerge, Component: FocusZone, Fluent UI v0

#13257 De-dupe dependencies to reduce install time
  apps/fabric-website-resources/package.json
  apps/fabric-website/package.json
  change/@uifabric-charting-2020-05-20-14-26-02-dedupe.json
  change/@uifabric-experiments-2020-05-20-14-26-02-dedupe.json
  change/@uifabric-fabric-website-2020-05-20-14-26-02-dedupe.json
  change/@uifabric-fabric-website-resources-2020-05-20-14-26-02-dedupe.json
  change/office-ui-fabric-react-2020-05-20-14-26-02-dedupe.json
  packages/charting/package.json
  packages/experiments/package.json
  packages/office-ui-fabric-react/package.json
  yarn.lock
Labels: Area: Build System

#13208 Line chart: Fix issue If y-axis value has more digits it is getting truncated
  change/@uifabric-charting-2020-05-18-17-32-53-user-v-satgar-Bug_4167528.json
  packages/charting/src/components/LineChart/LineChart.base.tsx
  packages/charting/src/components/LineChart/examples/LineChart.Basic.Example.tsx
Labels: Package: charting

#13263 chore(babel): enable "loose" mode
  scripts/babel/index.js
Labels: Area: Build System

#13050 fix(Types): ShorthandCollection
  packages/fluentui/docs/src/components/ComponentDoc/ComponentControls/ComponentControls.tsx
  packages/fluentui/docs/src/examples/components/Menu/Slots/MenuExampleDivider.shorthand.tsx
  packages/fluentui/docs/src/examples/components/Menu/Slots/MenuExampleDividerHorizontal.shorthand.tsx
  packages/fluentui/docs/src/examples/components/Toolbar/Performance/CustomToolbar.perf.tsx
  packages/fluentui/docs/src/examples/components/Toolbar/Usage/ToolbarExamplePopupInMenu.shorthand.tsx
  packages/fluentui/docs/src/examples/components/Toolbar/Usage/ToolbarExampleWithTooltip.shorthand.tsx
  packages/fluentui/docs/src/examples/components/Toolbar/Visual/ToolbarExampleOverflowPositioning.rtl.tsx
  packages/fluentui/docs/src/examples/components/Toolbar/Visual/ToolbarExampleOverflowPositioning.shorthand.tsx
  packages/fluentui/docs/src/prototypes/EditorToolbar/EditorToolbar.tsx
  packages/fluentui/docs/src/prototypes/customToolbar/CustomToolbar.tsx
  packages/fluentui/e2e/tests/popupInSubmenuInToolbarMenu-example.tsx
  packages/fluentui/e2e/tests/popupInToolbarMenu-example.tsx
  packages/fluentui/react-northstar/src/components/Menu/Menu.tsx
  packages/fluentui/react-northstar/src/components/Toolbar/Toolbar.tsx
  packages/fluentui/react-northstar/src/components/Toolbar/ToolbarMenu.tsx
  packages/fluentui/react-northstar/src/components/Toolbar/ToolbarRadioGroup.tsx
  packages/fluentui/react-northstar/src/types.ts
Labels: Fluent UI v0

#13253 chore(Header): Convert to RFC
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/components/Header/Header.tsx
  packages/fluentui/react-northstar/src/themes/teams/components/Header/headerStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/types.ts
  packages/fluentui/react-northstar/test/specs/components/Header/Header-test.ts
Labels: AutoMerge, Fluent UI v0

#13274 Build: do not clean on start
  scripts/just.config.ts
Labels: Area: Build System

#13276 Update cross platform text documentation for fontSize prop
  apps/fabric-website/src/pages/Controls/TextPage/TextPage.tsx
  change/@uifabric-fabric-website-2020-05-21-15-27-13-text-update.json
Labels: Area: Website

#13272 Adding getNativeElementProps
  change/@uifabric-utilities-2020-05-21-12-59-12-feat-getNativeElementProps.json
  packages/utilities/etc/utilities.api.md
  packages/utilities/src/getNativeElementProps.test.ts
  packages/utilities/src/getNativeElementProps.ts
  packages/utilities/src/index.ts
Labels: Package: utilities

#13268 chore: reexport themes separately
  packages/fluentui/CHANGELOG.md
  packages/fluentui/code-sandbox/src/SandboxApp.tsx
  packages/fluentui/docs/src/app.tsx
  packages/fluentui/docs/src/components/DocsLayout.tsx
  packages/fluentui/docs/src/components/ExternalExampleLayout.tsx
  packages/fluentui/docs/src/context/ThemeContext.tsx
  packages/fluentui/docs/src/examples/components/Accordion/Performance/AccordionDefault.bsize.tsx
  packages/fluentui/docs/src/examples/components/Alert/Performance/AlertDefault.bsize.tsx
  packages/fluentui/docs/src/examples/components/Attachment/Performance/AttachmentDefault.bsize.tsx
  packages/fluentui/docs/src/examples/components/Avatar/Performance/AvatarDefault.bsize.tsx
  packages/fluentui/docs/src/examples/components/Box/Performance/BoxDefault.bsize.tsx
  packages/fluentui/docs/src/examples/components/Button/Performance/ButtonDefault.bsize.tsx
  packages/fluentui/docs/src/examples/components/Provider/Performance/ProviderMergeThemes.perf.tsx
  packages/fluentui/docs/src/examples/components/Provider/Types/ProviderExampleStyles.shorthand.tsx
  packages/fluentui/docs/src/examples/components/Provider/Usage/ProviderExampleTarget.tsx
  packages/fluentui/docs/src/examples/components/Provider/Usage/ProviderExampleTargetFrame.tsx
  packages/fluentui/docs/src/examples/components/Toolbar/Performance/CustomToolbar.perf.tsx
  packages/fluentui/docs/src/examples/components/Toolbar/Visual/ToolbarExampleOverflowPositioning.rtl.tsx
  packages/fluentui/docs/src/examples/components/Toolbar/Visual/ToolbarExampleOverflowPositioning.shorthand.tsx
  packages/fluentui/docs/src/prototypes/EditorToolbar/index.tsx
  packages/fluentui/docs/src/prototypes/customToolbar/index.tsx
  packages/fluentui/docs/src/views/CategoryColorSchemes.tsx
  packages/fluentui/docs/src/views/ColorSchemes.tsx
  packages/fluentui/docs/src/views/Colors.tsx
  packages/fluentui/docs/src/views/FAQ.tsx
  packages/fluentui/docs/src/views/Performance.tsx
  packages/fluentui/docs/src/views/QuickStart.tsx
  packages/fluentui/docs/src/views/ThemingExamples.tsx
  packages/fluentui/e2e/server/app.tsx
  packages/fluentui/local-sandbox/src/index.tsx
  packages/fluentui/perf-test/.digest/config.tsx
  packages/fluentui/perf/src/index.tsx
  packages/fluentui/react-northstar/src/index.ts
  packages/fluentui/react-northstar/src/themes/index.ts
  scripts/gulp/tasks/test-projects/cra/App.tsx
  scripts/gulp/tasks/test-projects/nextjs/index.js
  scripts/gulp/tasks/test-projects/rollup/app.js
  scripts/gulp/tasks/test-projects/typings/index.tsx
Labels: Fluent UI v0, PR: Possible Perf Regression :snail:

#13175 fix(dropdown): scroll loading into view
  packages/fluentui/CHANGELOG.md
  packages/fluentui/docs/src/examples/components/Dropdown/State/DropdownExampleLoading.shorthand.steps.ts
  packages/fluentui/docs/src/examples/components/Dropdown/State/DropdownExampleLoading.shorthand.tsx
  packages/fluentui/react-northstar/package.json
  packages/fluentui/react-northstar/src/components/Dropdown/Dropdown.tsx
  yarn.lock
Labels: Fluent UI v0

#13227 feat(Menu): Add children api support
  packages/fluentui/CHANGELOG.md
  packages/fluentui/docs/src/examples/components/Menu/Slots/MenuExampleDivider.tsx
  packages/fluentui/docs/src/examples/components/Menu/Slots/MenuExampleDividerHorizontal.tsx
  packages/fluentui/docs/src/examples/components/Menu/Slots/MenuExampleIconOnly.tsx
  packages/fluentui/docs/src/examples/components/Menu/Slots/MenuExampleSlot.tsx
  packages/fluentui/docs/src/examples/components/Menu/Slots/MenuExampleWithIcons.tsx
  packages/fluentui/docs/src/examples/components/Menu/States/MenuItemExampleDisabled.tsx
  packages/fluentui/docs/src/examples/components/Menu/Types/MenuExample.tsx
  packages/fluentui/docs/src/examples/components/Menu/Types/MenuExamplePointing.tsx
  packages/fluentui/docs/src/examples/components/Menu/Types/MenuExampleUnderlined.tsx
  packages/fluentui/docs/src/examples/components/Menu/Usage/MenuExampleTabList.shorthand.tsx
  packages/fluentui/docs/src/examples/components/Menu/Usage/MenuExampleTabList.tsx
  packages/fluentui/docs/src/examples/components/Menu/Usage/MenuExampleWithTooltip.tsx
  packages/fluentui/docs/src/examples/components/Menu/Variations/MenuExampleFluid.tsx
  packages/fluentui/docs/src/examples/components/Menu/Variations/MenuExampleVerticalPointing.tsx
  packages/fluentui/react-northstar/src/components/Menu/Menu.tsx
  packages/fluentui/react-northstar/src/components/Menu/MenuDivider.tsx
  packages/fluentui/react-northstar/src/components/Menu/MenuItem.tsx
  packages/fluentui/react-northstar/src/components/Menu/menuContext.ts
  packages/fluentui/react-northstar/test/specs/components/Menu/MenuItem-test.tsx
Labels: Fluent UI v0, PR: Possible Perf Regression :snail:

#13194 FileTypeIcon: Add empty alt text to img
  change/@uifabric-file-type-icons-2020-05-15-16-58-53-fileicon-alt.json
  packages/file-type-icons/src/initializeFileTypeIcons.tsx
Labels: Package: file-type-icons
