Repository microsoft/fluentui, pull requests merged in 2020-10, with the labels that each got.

#15321 Fix propagation of items and groups props from DetailsList through GroupedList
  change/office-ui-fabric-react-2020-09-30-12-36-06-group-state.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsList.test.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/__snapshots__/DetailsList.test.tsx.snap
  packages/office-ui-fabric-react/src/components/GroupedList/GroupedList.base.tsx
Labels: AutoMerge, v8 snap: needs cherry-pick, v8 snap: potential conflict

#15295 Charting: Refactoring of Vertical bar chart.
  change/@fluentui-react-examples-2020-09-26-16-26-38-user-v-jasha-CodeCleanUpOfVBChart.json
  change/@uifabric-charting-2020-09-21-11-16-44-user-v-jasha-CodeCleanUpOfVBChart.json
  packages/charting/src/components/CommonComponents/CartesianChart.base.tsx
  packages/charting/src/components/VerticalBarChart/VerticalBarChart.base.tsx
  packages/charting/src/components/VerticalBarChart/VerticalBarChart.styles.ts
  packages/charting/src/components/VerticalBarChart/VerticalBarChart.tsx
  packages/charting/src/components/VerticalBarChart/VerticalBarChart.types.ts
  packages/charting/src/components/VerticalBarChart/__snapshots__/VerticalBarChart.test.tsx.snap
  packages/charting/src/utilities/utilities.ts
  packages/react-examples/src/charting/VerticalBarChart/VerticalBarChart.Basic.Example.tsx
  packages/react-examples/src/charting/VerticalBarChart/VerticalBarChart.Dynamic.Example.tsx
  packages/react-examples/src/charting/VerticalBarChart/VerticalBarChart.Styled.Example.tsx
Labels: Fabric 7, v8 snap: needs cherry-pick

#15299 Charting: Area chart - Graph update after data change issue resolved and memoize implemented
  change/@fluentui-examples-2020-09-25-11-17-11-user-v-jasha-AreachrtRedraw.json
  change/@fluentui-react-examples-2020-09-26-16-32-40-user-v-jasha-AreachrtRedraw.json
  change/@uifabric-charting-2020-09-25-11-17-11-user-v-jasha-AreachrtRedraw.json
  packages/charting/src/components/AreaChart/AreaChart.base.tsx
  packages/react-examples/src/charting/AreaChart/AreaChart.Basic.Example.tsx
Labels: Fabric 7, v8 snap: needs cherry-pick

#15320 Revert "fix(button): extra width when loading=false"
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/themes/teams/components/Button/buttonStyles.ts
Labels: Fluent UI react-northstar

#15065 feat(UI builder): Integrate screen reader narration computation capability into the UI builder
  packages/fluentui/react-builder/src/components/Canvas.tsx
  packages/fluentui/react-builder/src/components/NarrationComputer.tsx
  packages/fluentui/react-builder/src/components/ReaderText.tsx
  packages/fluentui/react-builder/src/components/SRNC-Definitions.tsx
  packages/fluentui/react-builder/src/components/SRNC-Rules-Win_JAWS.tsx
Labels: Fluent UI react-northstar

#15142 fix(Tree): aria-selected to aria-checked
  packages/fluentui/CHANGELOG.md
  packages/fluentui/accessibility/src/behaviors/Tree/treeItemBehavior.ts
  packages/fluentui/accessibility/src/behaviors/Tree/treeTitleBehavior.ts
  packages/fluentui/accessibility/test/behaviors/treeItemBehavior-test.tsx
  packages/fluentui/accessibility/test/behaviors/treeTitleBehavior-test.tsx
  packages/fluentui/react-northstar/src/components/Tree/TreeItem.tsx
Labels: Fluent UI react-northstar

#15313 export design system interface
  change/@fluentui-web-components-2020-09-29-23-07-40-users-chhol-export-design-system-interface.json
  packages/web-components/docs/api-report.md
  packages/web-components/src/design-system-provider/index.ts
Labels: Fabric 7, v8 snap: needs cherry-pick, web-components

#15296 introducing the the heat map chart
  change/@fluentui-react-examples-2020-09-26-13-52-47-user-v-sivsar-HeatmapFeature.json
  change/@uifabric-charting-2020-09-23-18-21-55-user-v-sivsar-HeatmapFeature.json
  packages/charting/src/HeatMapChart.ts
  packages/charting/src/components/CommonComponents/CartesianChart.base.tsx
  packages/charting/src/components/CommonComponents/CartesianChart.types.ts
  packages/charting/src/components/HeatMapChart/HeatMapChart.base.tsx
  packages/charting/src/components/HeatMapChart/HeatMapChart.styles.ts
  packages/charting/src/components/HeatMapChart/HeatMapChart.tsx
  packages/charting/src/components/HeatMapChart/HeatMapChart.types.ts
  packages/charting/src/components/HeatMapChart/index.ts
  packages/charting/src/index.ts
  packages/charting/src/types/IDataPoint.ts
  packages/charting/src/utilities/ChartHoverCard/ChartHoverCard.base.tsx
  packages/charting/src/utilities/ChartHoverCard/ChartHoverCard.styles.ts
  packages/charting/src/utilities/ChartHoverCard/ChartHoverCard.types.ts
  packages/charting/src/utilities/utilities.ts
  packages/react-examples/src/charting/HeatMapChart/HeatMapChartBasic.Example.tsx
  packages/react-examples/src/charting/HeatMapChart/HeatMapChartPage.tsx
  packages/react-examples/src/charting/demo/AppDefinition.tsx
Labels: Fabric 7, v8 snap: needs cherry-pick

#15335 Fix issue in GroupedList where paging new data into existing groups did not re-render
  change/office-ui-fabric-react-2020-10-01-12-01-52-group-update.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsList.test.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/__snapshots__/DetailsList.test.tsx.snap
  packages/office-ui-fabric-react/src/components/GroupedList/GroupedList.base.tsx
Labels: Fabric 7, PR: API Modified, v8 snap: needs cherry-pick

#15339 Fix lint rule for import paths
  change/@fluentui-react-checkbox-2020-10-01-17-01-38-7-fix-lintimport.json
  change/@fluentui-react-flex-2020-10-01-17-01-38-7-fix-lintimport.json
  change/@fluentui-react-next-2020-10-01-17-01-38-7-fix-lintimport.json
  change/@fluentui-react-theme-provider-2020-10-01-17-01-38-7-fix-lintimport.json
  change/@fluentui-react-toggle-2020-10-01-17-01-38-7-fix-lintimport.json
  change/@fluentui-storybook-2020-10-01-17-01-38-7-fix-lintimport.json
  change/@uifabric-charting-2020-10-01-17-01-38-7-fix-lintimport.json
  change/@uifabric-date-time-2020-10-01-17-01-38-7-fix-lintimport.json
  change/@uifabric-example-app-base-2020-10-01-17-01-38-7-fix-lintimport.json
  change/@uifabric-experiments-2020-10-01-17-01-38-7-fix-lintimport.json
  packages/a11y-testing/src/index.ts
  packages/charting/src/HeatMapChart.ts
  packages/charting/src/index.ts
  packages/charting/src/utilities/index.ts
  packages/date-time/src/Calendar.ts
  packages/date-time/src/DatePicker.ts
  packages/date-time/src/WeeklyDayPicker.ts
  packages/example-app-base/src/components/Animation/index.ts
  packages/example-app-base/src/components/Page/index.ts
  packages/example-app-base/src/index.ts
  packages/experiments/src/Accordion.ts
  packages/experiments/src/CollapsibleSection.ts
  packages/experiments/src/FloatingPeopleSuggestions.ts
  packages/experiments/src/FloatingSuggestions.ts
  packages/react-checkbox/src/next/useCheckboxClasses.tsx
  packages/react-flex/src/Flex.ts
  packages/react-flex/src/FlexItem.ts
  packages/react-next/src/Callout.ts
  packages/react-next/src/Coachmark.ts
  packages/react-next/src/ComboBox.ts
  packages/react-next/src/ContextualMenu.ts
  packages/react-next/src/Fabric.ts
  packages/react-next/src/Image.ts
  packages/react-next/src/Persona.ts
  packages/react-next/src/PersonaCoin.ts
  packages/react-next/src/Popup.ts
  packages/react-next/src/PositioningContainer.ts
  packages/react-next/src/ResizeGroup.ts
  packages/react-next/src/SelectedItemsList.ts
  packages/react-theme-provider/src/index.ts
  packages/react-toggle/src/Toggle.ts
  packages/storybook/src/index.ts
  scripts/tasks/lint-imports.js
Labels: Area: Build System, Fabric 7

#15340 Fix lint rule for import paths
  change/@fluentui-react-flex-2020-10-01-17-52-36-xgao-fix-lintimport.json
  change/@fluentui-react-next-2020-10-01-17-52-36-xgao-fix-lintimport.json
  change/@fluentui-react-toggle-2020-10-01-17-52-36-xgao-fix-lintimport.json
  change/@fluentui-storybook-2020-10-01-17-52-36-xgao-fix-lintimport.json
  change/@uifabric-charting-2020-10-01-17-52-36-xgao-fix-lintimport.json
  change/@uifabric-date-time-2020-10-01-17-52-36-xgao-fix-lintimport.json
  change/@uifabric-example-app-base-2020-10-01-17-52-36-xgao-fix-lintimport.json
  change/@uifabric-experiments-2020-10-01-17-52-36-xgao-fix-lintimport.json
  packages/a11y-testing/src/index.ts
  packages/charting/src/index.ts
  packages/charting/src/utilities/index.ts
  packages/date-time/src/Calendar.ts
  packages/date-time/src/DatePicker.ts
  packages/date-time/src/WeeklyDayPicker.ts
  packages/example-app-base/src/components/Animation/index.ts
  packages/example-app-base/src/components/Page/index.ts
  packages/example-app-base/src/index.ts
  packages/experiments/src/Accordion.ts
  packages/experiments/src/CollapsibleSection.ts
  packages/experiments/src/FloatingPeopleSuggestions.ts
  packages/experiments/src/FloatingSuggestions.ts
  packages/react-flex/src/Flex.ts
  packages/react-flex/src/FlexItem.ts
  packages/react-next/src/Coachmark.ts
  packages/react-next/src/ComboBox.ts
  packages/react-next/src/ContextualMenu.ts
  packages/react-next/src/Fabric.ts
  packages/react-next/src/Image.ts
  packages/react-next/src/Persona.ts
  packages/react-next/src/PersonaCoin.ts
  packages/react-next/src/Popup.ts
  packages/react-next/src/PositioningContainer.ts
  packages/react-next/src/ResizeGroup.ts
  packages/react-next/src/SelectedItemsList.ts
  packages/react-toggle/src/Toggle.ts
  packages/storybook/src/index.ts
  scripts/tasks/lint-imports.js
Labels: Area: Build System

#15262 fix(TreeTitle): arrow left navigation
  packages/fluentui/CHANGELOG.md
  packages/fluentui/accessibility/src/behaviors/Tree/treeTitleBehavior.ts
  packages/fluentui/e2e/tests/treeKeyboardNavigation-example.tsx
  packages/fluentui/e2e/tests/treeKeyboardNavigation-test.ts
  packages/fluentui/react-northstar/src/components/Tree/TreeItem.tsx
  packages/fluentui/react-northstar/src/components/Tree/TreeTitle.tsx
Labels: AutoMerge, Component: Tree, Fluent UI react-northstar, PR: Possible Perf Regression :snail:

#15341 Fix size auditor
  .appveyor.yml
  apps/test-bundles/.eslintrc.json
  apps/test-bundles/index.html
  apps/test-bundles/just.config.ts
  apps/test-bundles/package.json
  apps/test-bundles/src/index.tsx
  apps/test-bundles/src/version.ts
  apps/test-bundles/tsconfig.json
  apps/test-bundles/webpack.config.js
  apps/test-bundles/webpackUtils.js
  change/@fluentui-react-2020-10-01-18-09-30-size-auditor-fix.json
  change/@fluentui-react-next-2020-10-01-18-09-30-size-auditor-fix.json
  packages/react-next/RELEASE_NOTES.md
  packages/react/src/ComponentConformance.test.tsx
  packages/react/src/components/ComponentConformance.test.tsx
  scripts/tasks/api-extractor.js
  scripts/tasks/lint-imports.js
Labels: Area: Build System, AutoMerge

#15353 Codemods: Fix issue where codemods will max out memory if attempting to save too many files.
  change/@fluentui-codemods-2020-10-02-17-43-15-codemods-overflow.json
  packages/codemods/src/codeMods/tests/configMod/configMod.test.ts
  packages/codemods/src/command.ts
  packages/codemods/src/modRunner/runnerUtilities.ts
  packages/codemods/src/upgrade.ts
Labels: Area: Build System, Package: codemods

#15358 Updated 'ReactionsIcon'
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-icons-northstar/src/components/ReactionsIcon.tsx
Labels: Fluent UI react-northstar

#15361 Custom callout for charts
  change/@fluentui-react-examples-2020-10-05-13-44-23-customCalloutForCharts.json
  change/@uifabric-charting-2020-10-05-13-44-23-customCalloutForCharts.json
  packages/charting/src/components/AreaChart/AreaChart.base.tsx
  packages/charting/src/components/AreaChart/AreaChart.types.ts
  packages/charting/src/components/LineChart/LineChart.base.tsx
  packages/charting/src/components/LineChart/LineChart.types.ts
  packages/charting/src/types/IDataPoint.ts
  packages/react-examples/src/charting/AreaChart/AreaChart.Basic.Example.tsx
  packages/react-examples/src/charting/LineChart/LineChart.Styled.Example.tsx
Labels: Fabric 7, v8 snap: needs cherry-pick

#15337 Adding variants support
  apps/vr-tests/src/stories/ThemeProvider.stories.tsx
  change/@fluentui-examples-2020-09-25-08-11-21-feat-variant-support.json
  change/@fluentui-react-button-2020-09-21-11-36-16-feat-variant-support.json
  change/@fluentui-react-examples-2020-09-28-08-14-06-feat-variant-support.json
  change/@fluentui-react-internal-2020-10-01-14-55-14-feat-variants.json
  change/@fluentui-react-theme-provider-2020-08-17-07-55-51-fix-recursive-partial.json
  change/@fluentui-storybook-2020-09-30-12-03-48-feat-variant-support.json
  change/@fluentui-theme-2020-09-21-11-36-16-feat-variant-support.json
  change/@uifabric-utilities-2020-09-30-12-03-48-feat-variant-support.json
  packages/react-button/etc/react-button.api.md
  packages/react-button/src/components/Button/Button.test.tsx
  packages/react-button/src/components/Button/Button.tsx
  packages/react-button/src/components/Button/Button.types.ts
  packages/react-button/src/components/Button/__snapshots__/Button.test.tsx.snap
  packages/react-button/src/components/Button/useButtonClasses.ts
  packages/react-button/src/components/CompoundButton/CompoundButton.tsx
  packages/react-button/src/components/CompoundButton/CompoundButton.types.ts
  packages/react-button/src/components/CompoundButton/useCompoundButtonClasses.ts
  packages/react-button/src/components/MenuButton/MenuButton.tsx
  packages/react-button/src/components/MenuButton/MenuButton.types.ts
  packages/react-button/src/components/MenuButton/useMenuButtonClasses.ts
  packages/react-button/src/components/SplitButton/SplitButton.tsx
  packages/react-button/src/components/SplitButton/useSplitButton.ts
  packages/react-button/src/components/SplitButton/useSplitButtonClasses.tsx
  packages/react-button/src/components/ToggleButton/ToggleButton.tsx
  packages/react-button/src/components/ToggleButton/ToggleButton.types.ts
  packages/react-button/src/components/ToggleButton/useToggleButtonClasses.tsx
  packages/react-examples/src/react-button/Button.stories.scss
  packages/react-examples/src/react-button/Button/Button.stories.tsx
  packages/react-examples/src/react-button/Button/Converged.stories.tsx
  packages/react-examples/src/react-button/CompoundButton/CompoundButton.stories.tsx
  packages/react-examples/src/react-button/MenuButton/MenuButton.stories.tsx
  packages/react-examples/src/react-button/SplitButton/SplitButton.stories.tsx
  packages/react-examples/src/react-button/ToggleButton/ToggleButton.stories.tsx
  packages/react-internal/src/components/Button/Button.types.ts
  packages/react-theme-provider/etc/react-theme-provider.api.md
  packages/react-theme-provider/src/ThemeProvider.test.tsx
  packages/react-theme-provider/src/ThemeProvider.tsx
  packages/react-theme-provider/src/ThemeProvider.types.ts
  packages/react-theme-provider/src/__snapshots__/ThemeProvider.test.tsx.snap
  packages/react-theme-provider/src/getTokens.ts
  packages/react-theme-provider/src/index.ts
  packages/react-theme-provider/src/makeClasses.ts
  packages/react-theme-provider/src/makeStyles.ts
  packages/react-theme-provider/src/makeVariantClasses.test.tsx
  packages/react-theme-provider/src/makeVariantClasses.ts
  packages/react-theme-provider/src/renderThemeProvider.tsx
  packages/react-theme-provider/src/styleRenderers/mergeStylesRenderer.tsx
  packages/react-theme-provider/src/styleRenderers/types.ts
  packages/react-theme-provider/src/styleRenderers/useStyleRenderer.tsx
  packages/react-theme-provider/src/tokensToStyleObject.test.ts
  packages/react-theme-provider/src/tokensToStyleObject.ts
  packages/react-theme-provider/src/useThemeProviderClasses.tsx
  packages/react-theme-provider/src/useThemeProviderState.tsx
  packages/react-theme-provider/src/withThemeProvider.tsx
  packages/storybook/src/themes/v8/TeamsTheme.ts
  packages/theme/etc/theme.api.md
  packages/theme/src/types/Theme.ts
  packages/utilities/src/getId.ts
Labels: PR: Possible Perf Regression :snail:

#15366 Run local builds with lage
  azure-pipelines.bundlesize.yml
  azure-pipelines.perf-test.yml
  azure-pipelines.yml
  lage.config.js
  package.json
  yarn.lock
Labels: Area: Build System, AutoMerge

#15375 cherrypick of variants pr
  apps/vr-tests/src/stories/ThemeProvider.stories.tsx
  change/@fluentui-examples-2020-09-25-08-11-21-feat-variant-support.json
  change/@fluentui-react-button-2020-09-21-11-36-16-feat-variant-support.json
  change/@fluentui-react-examples-2020-09-28-08-14-06-feat-variant-support.json
  change/@fluentui-react-internal-2020-10-01-14-55-14-feat-variants.json
  change/@fluentui-react-theme-provider-2020-08-17-07-55-51-fix-recursive-partial.json
  change/@fluentui-storybook-2020-09-30-12-03-48-feat-variant-support.json
  change/@fluentui-theme-2020-09-21-11-36-16-feat-variant-support.json
  change/@uifabric-utilities-2020-09-30-12-03-48-feat-variant-support.json
  change/office-ui-fabric-react-2020-10-06-08-02-45-feat-variants-cherrypick.json
  packages/office-ui-fabric-react/src/components/Button/Button.types.ts
  packages/react-button/etc/react-button.api.md
  packages/react-button/src/components/Button/Button.test.tsx
  packages/react-button/src/components/Button/Button.tsx
  packages/react-button/src/components/Button/Button.types.ts
  packages/react-button/src/components/Button/__snapshots__/Button.test.tsx.snap
  packages/react-button/src/components/Button/useButtonClasses.ts
  packages/react-button/src/components/CompoundButton/CompoundButton.tsx
  packages/react-button/src/components/CompoundButton/CompoundButton.types.ts
  packages/react-button/src/components/CompoundButton/useCompoundButtonClasses.ts
  packages/react-button/src/components/MenuButton/MenuButton.tsx
  packages/react-button/src/components/MenuButton/MenuButton.types.ts
  packages/react-button/src/components/MenuButton/useMenuButtonClasses.ts
  packages/react-button/src/components/SplitButton/SplitButton.tsx
  packages/react-button/src/components/SplitButton/useSplitButton.ts
  packages/react-button/src/components/SplitButton/useSplitButtonClasses.tsx
  packages/react-button/src/components/ToggleButton/ToggleButton.tsx
  packages/react-button/src/components/ToggleButton/ToggleButton.types.ts
  packages/react-button/src/components/ToggleButton/useToggleButtonClasses.tsx
  packages/react-examples/src/react-button/Button.stories.scss
  packages/react-examples/src/react-button/Button/Button.stories.tsx
  packages/react-examples/src/react-button/Button/Converged.stories.tsx
  packages/react-examples/src/react-button/CompoundButton/CompoundButton.stories.tsx
  packages/react-examples/src/react-button/MenuButton/MenuButton.stories.tsx
  packages/react-examples/src/react-button/SplitButton/SplitButton.stories.tsx
  packages/react-examples/src/react-button/ToggleButton/ToggleButton.stories.tsx
  packages/react-theme-provider/etc/react-theme-provider.api.md
  packages/react-theme-provider/src/ThemeProvider.test.tsx
  packages/react-theme-provider/src/ThemeProvider.tsx
  packages/react-theme-provider/src/ThemeProvider.types.ts
  packages/react-theme-provider/src/__snapshots__/ThemeProvider.test.tsx.snap
  packages/react-theme-provider/src/getTokens.ts
  packages/react-theme-provider/src/index.ts
  packages/react-theme-provider/src/makeClasses.ts
  packages/react-theme-provider/src/makeStyles.ts
  packages/react-theme-provider/src/makeVariantClasses.test.tsx
  packages/react-theme-provider/src/makeVariantClasses.ts
  packages/react-theme-provider/src/renderThemeProvider.tsx
  packages/react-theme-provider/src/styleRenderers/mergeStylesRenderer.tsx
  packages/react-theme-provider/src/styleRenderers/types.ts
  packages/react-theme-provider/src/styleRenderers/useStyleRenderer.tsx
  packages/react-theme-provider/src/tokensToStyleObject.test.ts
  packages/react-theme-provider/src/tokensToStyleObject.ts
  packages/react-theme-provider/src/useThemeProviderClasses.tsx
  packages/react-theme-provider/src/useThemeProviderState.tsx
  packages/react-theme-provider/src/withThemeProvider.tsx
  packages/theme/etc/theme.api.md
  packages/theme/src/types/Theme.ts
  packages/utilities/src/getId.ts
Labels: Fabric 7, PR: Possible Perf Regression :snail:, v8 snap: needs cherry-pick

#15382 feat: close shadow roots of all web components
  change/@fluentui-web-components-2020-10-06-09-07-15-users-nirice-close-shadow-roots.json
  packages/web-components/src/accordion/index.ts
  packages/web-components/src/anchor/index.ts
  packages/web-components/src/badge/index.ts
  packages/web-components/src/button/index.ts
  packages/web-components/src/card/index.ts
  packages/web-components/src/checkbox/index.ts
  packages/web-components/src/design-system-provider/index.ts
  packages/web-components/src/dialog/index.ts
  packages/web-components/src/divider/index.ts
  packages/web-components/src/flipper/index.ts
  packages/web-components/src/menu-item/index.ts
  packages/web-components/src/menu/index.ts
  packages/web-components/src/progress/progress-ring/index.ts
  packages/web-components/src/progress/progress/index.ts
  packages/web-components/src/radio-group/index.ts
  packages/web-components/src/radio/index.ts
  packages/web-components/src/slider-label/index.ts
  packages/web-components/src/slider/index.ts
  packages/web-components/src/switch/index.ts
  packages/web-components/src/tabs/index.ts
  packages/web-components/src/tabs/tab-panel/index.ts
  packages/web-components/src/tabs/tab/index.ts
  packages/web-components/src/text-area/index.ts
  packages/web-components/src/text-field/index.ts
  packages/web-components/src/tree-item/index.ts
  packages/web-components/src/tree-view/index.ts
Labels: Fabric 7, v8 snap: needs cherry-pick, web-components

#15021 Reveal Passsword button
  change/@fluentui-react-examples-2020-10-01-11-21-15-secureTextField.json
  change/office-ui-fabric-react-2020-09-14-09-47-51-secureTextField.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/TextField/TextField.base.tsx
  packages/office-ui-fabric-react/src/components/TextField/TextField.styles.tsx
  packages/office-ui-fabric-react/src/components/TextField/TextField.test.tsx
  packages/office-ui-fabric-react/src/components/TextField/TextField.types.ts
  packages/office-ui-fabric-react/src/components/TextField/__snapshots__/TextField.test.tsx.snap
  packages/react-examples/src/office-ui-fabric-react/TextField/TextField.Basic.Example.tsx
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/TextField.Basic.Example.tsx.shot
Labels: Azure, Component: TextField

#15392 Run local builds with lage (7.0 edition)
  azure-pipelines.bundlesize.yml
  azure-pipelines.perf-test.yml
  azure-pipelines.yml
  lage.config.js
  package.json
  scripts/tasks/api-extractor.js
  yarn.lock
Labels: Area: Build System, Fabric 7

#15388 Move Fabric from react-next to react-internal
  change/@fluentui-react-internal-2020-10-06-14-50-15-fabric-migration-react.json
  change/@fluentui-react-next-2020-10-06-14-50-15-fabric-migration-react.json
  packages/react-internal/etc/react-internal.api.md
  packages/react-internal/src/components/Fabric/Fabric.base.tsx
  packages/react-internal/src/components/Fabric/Fabric.test.tsx
  packages/react-internal/src/components/Fabric/Fabric.tsx
  packages/react-internal/src/components/Fabric/Fabric.types.ts
  packages/react-next/etc/react-next.api.md
  packages/react-next/src/Fabric.ts
  packages/react-next/src/components/Fabric/Fabric.base.tsx
  packages/react-next/src/components/Fabric/Fabric.styles.ts
  packages/react-next/src/components/Fabric/Fabric.test.tsx
  packages/react-next/src/components/Fabric/Fabric.tsx
  packages/react-next/src/components/Fabric/Fabric.types.ts
  packages/react-next/src/components/Fabric/__snapshots__/Fabric.test.tsx.snap
  packages/react-next/src/components/Fabric/index.ts
Labels: Component: Fabric, Fluent UI v8, PR: Possible Perf Regression :snail:

#15391 Use midgard-yarn in all pipelines (7.0)
  azure-pipelines.bundlesize.yml
  azure-pipelines.hotfix.yml
  azure-pipelines.perf-test.yml
  azure-pipelines.release-fluentui.yml
  azure-pipelines.release.yml
Labels: Area: Build System, Fabric 7

#15367 Image: move Image component to react and delete from react-next
  change/@fluentui-react-examples-2020-10-06-10-39-43-image-migration-react.json
  change/@fluentui-react-internal-2020-10-06-10-39-43-image-migration-react.json
  change/@fluentui-react-next-2020-10-05-12-10-48-image-migration-react.json
  packages/react-examples/src/react-next/Image/Image.Center.Example.tsx
  packages/react-examples/src/react-next/Image/Image.CenterContain.Example.tsx
  packages/react-examples/src/react-next/Image/Image.CenterCover.Example.tsx
  packages/react-examples/src/react-next/Image/Image.Contain.Example.tsx
  packages/react-examples/src/react-next/Image/Image.Cover.Example.tsx
  packages/react-examples/src/react-next/Image/Image.Default.Example.tsx
  packages/react-examples/src/react-next/Image/Image.MaximizeFrame.Example.tsx
  packages/react-examples/src/react-next/Image/Image.None.Example.tsx
  packages/react-examples/src/react-next/Image/Image.doc.tsx
  packages/react-examples/src/react-next/Image/docs/ImageDonts.md
  packages/react-examples/src/react-next/Image/docs/ImageDos.md
  packages/react-examples/src/react-next/Image/docs/ImageOverview.md
  packages/react-internal/etc/react-internal.api.md
  packages/react-internal/src/components/Image/Image.base.tsx
  packages/react-internal/src/components/Image/Image.test.tsx
  packages/react-internal/src/components/Image/Image.tsx
  packages/react-internal/src/components/Image/Image.types.ts
  packages/react-next/etc/react-next.api.md
  packages/react-next/src/Image.ts
  packages/react-next/src/components/Image/Image.base.tsx
  packages/react-next/src/components/Image/Image.styles.ts
  packages/react-next/src/components/Image/Image.test.tsx
  packages/react-next/src/components/Image/Image.tsx
  packages/react-next/src/components/Image/Image.types.ts
  packages/react-next/src/components/Image/__snapshots__/Image.test.tsx.snap
  packages/react-next/src/components/Image/index.ts
Labels: Component: Image, Fluent UI v8

#15390 Use midgard-yarn in all pipelines
  apps/test-bundles/webpack.config.js
  apps/test-bundles/webpackUtils.js
  azure-pipelines.bundlesize.yml
  azure-pipelines.hotfix.yml
  azure-pipelines.perf-test.yml
  azure-pipelines.release-fluentui.yml
  azure-pipelines.release.yml
Labels: Area: Build System

#15373 Moving SwatchColorPicker and ButtonGrid to @fluentui/react-internal package
  apps/perf-test/src/scenarios/SwatchColorPickerNext.tsx
  apps/vr-tests/src/stories/SwatchColorPicker.stories.tsx
  apps/vr-tests/src/stories/SwatchColorPickerNext.stories.tsx
  change/@fluentui-react-examples-2020-10-05-17-24-56-feat-react-internal-swatchColorPicker.json
  change/@fluentui-react-internal-2020-10-05-17-24-56-feat-react-internal-swatchColorPicker.json
  change/@fluentui-react-next-2020-10-05-17-24-56-feat-react-internal-swatchColorPicker.json
  packages/react-examples/src/react-next/SwatchColorPicker/SwatchColorPicker.Basic.Example.tsx
  packages/react-examples/src/react-next/SwatchColorPicker/SwatchColorPicker.doc.tsx
  packages/react-examples/src/react-next/SwatchColorPicker/docs/SwatchColorPickerBestPractices.md
  packages/react-examples/src/react-next/SwatchColorPicker/docs/SwatchColorPickerOverview.md
  packages/react-examples/src/react/__snapshots__/SwatchColorPicker.Basic.Example.tsx.shot
  packages/react-internal/etc/react-internal.api.md
  packages/react-internal/src/components/SwatchColorPicker/ColorPickerGridCell.base.tsx
  packages/react-internal/src/components/SwatchColorPicker/ColorPickerGridCell.types.ts
  packages/react-internal/src/components/SwatchColorPicker/SwatchColorPicker.base.tsx
  packages/react-internal/src/components/SwatchColorPicker/SwatchColorPicker.test.tsx
  packages/react-internal/src/components/SwatchColorPicker/SwatchColorPicker.types.ts
  packages/react-internal/src/utilities/ButtonGrid/ButtonGrid.base.tsx
  packages/react-internal/src/utilities/ButtonGrid/ButtonGrid.test.tsx
  packages/react-internal/src/utilities/ButtonGrid/ButtonGrid.tsx
  packages/react-internal/src/utilities/ButtonGrid/ButtonGrid.types.ts
  packages/react-internal/src/utilities/ButtonGrid/ButtonGridCell.tsx
  packages/react-internal/src/utilities/ButtonGrid/ButtonGridCell.types.ts
  packages/react-next/etc/react-next.api.md
  packages/react-next/src/ButtonGrid.ts
  packages/react-next/src/SwatchColorPicker.ts
  packages/react-next/src/components/SwatchColorPicker/ColorPickerGridCell.base.tsx
  packages/react-next/src/components/SwatchColorPicker/ColorPickerGridCell.styles.ts
  packages/react-next/src/components/SwatchColorPicker/ColorPickerGridCell.tsx
  packages/react-next/src/components/SwatchColorPicker/ColorPickerGridCell.types.ts
  packages/react-next/src/components/SwatchColorPicker/SwatchColorPicker.base.tsx
  packages/react-next/src/components/SwatchColorPicker/SwatchColorPicker.styles.ts
  packages/react-next/src/components/SwatchColorPicker/SwatchColorPicker.test.tsx
  packages/react-next/src/components/SwatchColorPicker/SwatchColorPicker.tsx
  packages/react-next/src/components/SwatchColorPicker/SwatchColorPicker.types.ts
  packages/react-next/src/components/SwatchColorPicker/__snapshots__/SwatchColorPicker.test.tsx.snap
  packages/react-next/src/components/SwatchColorPicker/index.ts
  packages/react-next/src/utilities/ButtonGrid/ButtonGrid.base.tsx
  packages/react-next/src/utilities/ButtonGrid/ButtonGrid.styles.ts
  packages/react-next/src/utilities/ButtonGrid/ButtonGrid.test.tsx
  packages/react-next/src/utilities/ButtonGrid/ButtonGrid.tsx
  packages/react-next/src/utilities/ButtonGrid/ButtonGrid.types.ts
  packages/react-next/src/utilities/ButtonGrid/ButtonGridCell.tsx
  packages/react-next/src/utilities/ButtonGrid/ButtonGridCell.types.ts
  packages/react-next/src/utilities/ButtonGrid/index.ts
Labels: Component: SwatchColorPicker, Fluent UI v8, PR: API Modified, PR: Possible Perf Regression :snail:

#15397 add skeleton as a new web component
  change/@fluentui-web-components-2020-10-06-21-36-07-users-chhol-add-skeleton-as-new-component.json
  packages/web-components/docs/api-report.md
  packages/web-components/package.json
  packages/web-components/src/index.ts
  packages/web-components/src/skeleton/fixtures/base.html
  packages/web-components/src/skeleton/index.ts
  packages/web-components/src/skeleton/skeleton.stories.ts
  packages/web-components/src/skeleton/skeleton.styles.ts
  yarn.lock
Labels: Fabric 7, v8 snap: needs cherry-pick, web-components

#15393 Moving MessageBar to @fluentui/react-internal package
  apps/perf-test/src/scenarios/MessageBarNext.tsx
  apps/vr-tests/src/stories/MessageBarNext.stories.tsx
  change/@fluentui-react-examples-2020-10-06-17-17-11-feat-react-internal-messageBar.json
  change/@fluentui-react-internal-2020-10-06-17-17-11-feat-react-internal-messageBar.json
  change/@fluentui-react-next-2020-10-06-17-17-11-feat-react-internal-messageBar.json
  packages/react-examples/src/react-next/MessageBar/MessageBar.Basic.Example.tsx
  packages/react-examples/src/react-next/MessageBar/MessageBar.doc.tsx
  packages/react-examples/src/react-next/MessageBar/docs/MessageBarBestPractices.md
  packages/react-examples/src/react-next/MessageBar/docs/MessageBarOverview.md
  packages/react-examples/src/react-next/__snapshots__/MessageBar.Basic.Example.tsx.shot
  packages/react-examples/src/react/MessageBar/MessageBar.Basic.Example.tsx
  packages/react-examples/src/react/MessageBar/MessageBar.doc.tsx
  packages/react-examples/src/react/MessageBar/docs/MessageBarBestPractices.md
  packages/react-internal/etc/react-internal.api.md
  packages/react-internal/src/components/MessageBar/MessageBar.base.tsx
  packages/react-internal/src/components/MessageBar/MessageBar.test.tsx
  packages/react-internal/src/components/MessageBar/MessageBar.types.ts
  packages/react-internal/src/components/MessageBar/__snapshots__/MessageBar.test.tsx.snap
  packages/react-next/etc/react-next.api.md
  packages/react-next/src/MessageBar.ts
  packages/react-next/src/components/MessageBar/MessageBar.base.tsx
  packages/react-next/src/components/MessageBar/MessageBar.styles.ts
  packages/react-next/src/components/MessageBar/MessageBar.test.tsx
  packages/react-next/src/components/MessageBar/MessageBar.tsx
  packages/react-next/src/components/MessageBar/MessageBar.types.ts
  packages/react-next/src/components/MessageBar/__snapshots__/MessageBar.test.tsx.snap
  packages/react-next/src/components/MessageBar/index.ts
Labels: Component: MessageBar, Fluent UI v8, PR: API Modified

#15380 perf: memoize context value in Provider
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-bindings/src/context.ts
  packages/fluentui/react-northstar/src/components/Provider/Provider.tsx
  packages/fluentui/react-northstar/test/specs/components/Provider/Provider-test.tsx
Labels: Fluent UI react-northstar

#15377 Codemods: Tighten return types for NoOp results.
  change/@fluentui-codemods-2020-10-05-19-54-21-codemods-tightenreturns.json
  packages/codemods/src/codeMods/mods/configMod/configMod.mod.ts
  packages/codemods/src/codeMods/mods/officeToFluentImport/officeToFluentImport.mod.ts
  packages/codemods/src/codeMods/mods/oldToNewButton/oldToNewButton.mod.ts
  packages/codemods/src/codeMods/mods/personaToAvatar/personaToAvatar.mod.ts
  packages/codemods/src/codeMods/tests/configMod/configMod.test.ts
  packages/codemods/src/codeMods/tests/utilities/importUtils.test.ts
  packages/codemods/src/codeMods/types.ts
  packages/codemods/src/codeMods/utilities/imports.ts
  packages/codemods/src/codeMods/utilities/props.ts
  packages/codemods/src/codeMods/utilities/transforms.ts
  packages/codemods/src/command.ts
  packages/codemods/src/helpers/result.ts
  packages/codemods/src/modRunner/runnerUtilities.ts
  packages/codemods/src/modRunner/tests/mocks/MockMods/CodeMod.mock.ts
  packages/codemods/src/upgrade.ts
Labels: Area: Build System, Package: codemods

#15394 Fix codepens after replacing office-ui-fabric-react with @fluentui/react
  apps/fabric-website-resources/src/components/pages/ColorsPage.tsx
  apps/theming-designer/src/components/Header.tsx
  change/@uifabric-example-app-base-2020-10-06-18-04-16-xgao-fix-bundle.json
  change/@uifabric-fabric-website-resources-2020-10-06-18-04-16-xgao-fix-bundle.json
  change/@uifabric-tsx-editor-2020-10-06-18-04-16-xgao-fix-bundle.json
  packages/example-app-base/src/components/CodepenComponent/CodepenComponent.tsx
  packages/tsx-editor/src/transpiler/__snapshots__/exampleTransform.test.ts.snap
  packages/tsx-editor/src/transpiler/exampleTransform.test.ts
  packages/tsx-editor/src/transpiler/exampleTransform.ts
  packages/tsx-editor/src/transpiler/transpileHelpers.test.ts
  packages/tsx-editor/src/utilities/defaultSupportedPackages.ts
Labels: Area: Website, PR: Possible Perf Regression :snail:, Package: tsx-editor, Theme Designer

#15304 feat: add Text component to `react-text`
  apps/pr-deploy-site/just.config.ts
  apps/pr-deploy-site/pr-deploy-site.js
  change/@fluentui-react-button-2020-10-07-17-43-02-feat-react-text.json
  change/@fluentui-react-examples-2020-10-01-13-31-11-feat-react-text.json
  change/@fluentui-react-text-2020-09-30-15-13-29-feat-react-text.json
  change/@fluentui-react-theme-provider-2020-10-01-13-31-11-feat-react-text.json
  packages/react-button/src/components/Button/__snapshots__/Button.test.tsx.snap
  packages/react-examples/.storybook/preview.js
  packages/react-examples/package.json
  packages/react-examples/src/react-text/Text/Text.stories.tsx
  packages/react-text/.eslintrc.json
  packages/react-text/.npmignore
  packages/react-text/.npmrc
  packages/react-text/LICENSE
  packages/react-text/README.md
  packages/react-text/config/api-extractor.json
  packages/react-text/config/tests.js
  packages/react-text/etc/react-text.api.md
  packages/react-text/jest.config.js
  packages/react-text/just.config.ts
  packages/react-text/package.json
  packages/react-text/src/Text.ts
  packages/react-text/src/components/Text/Text.test.tsx
  packages/react-text/src/components/Text/Text.tsx
  packages/react-text/src/components/Text/Text.types.ts
  packages/react-text/src/components/Text/index.ts
  packages/react-text/src/components/Text/renderText.tsx
  packages/react-text/src/components/Text/useText.tsx
  packages/react-text/src/components/Text/useTextClasses.ts
  packages/react-text/src/index.ts
  packages/react-text/src/version.ts
  packages/react-text/tsconfig.json
  packages/react-text/webpack.serve.config.js
  packages/react-theme-provider/src/__snapshots__/ThemeProvider.test.tsx.snap
  packages/react-theme-provider/src/getTokens.ts
Labels: v8 snap: potential conflict

#15415 Dep updates to fix security/governance alerts (7.0 edition)
  yarn.lock
Labels: Area: Build System, Fabric 7

#15400 Move v8 coachmark changes from react-next to react
  apps/vr-tests/src/stories/CoachmarkNext.stories.tsx
  change/@fluentui-react-examples-2020-10-06-23-24-16-move-coachmark.json
  change/@fluentui-react-internal-2020-10-06-23-24-16-move-coachmark.json
  change/@fluentui-react-next-2020-10-06-23-24-16-move-coachmark.json
  packages/react-examples/src/react-next/Coachmark/Coachmark.Basic.Example.tsx
  packages/react-examples/src/react-next/Coachmark/Coachmark.doc.tsx
  packages/react-examples/src/react-next/Coachmark/docs/CoachmarkBestPractices.md
  packages/react-examples/src/react-next/Coachmark/docs/CoachmarkOverview.md
  packages/react-examples/src/react/Coachmark/Coachmark.Basic.Example.tsx
  packages/react-examples/src/react/Coachmark/Coachmark.doc.tsx
  packages/react-examples/src/react/__snapshots__/CommandBar.CommandBarButtonAs.Example.tsx.shot
  packages/react-internal/etc/react-internal.api.md
  packages/react-internal/src/components/Coachmark/Beak/Beak.tsx
  packages/react-internal/src/components/Coachmark/Beak/Beak.types.ts
  packages/react-internal/src/components/Coachmark/Coachmark.base.tsx
  packages/react-internal/src/components/Coachmark/Coachmark.styles.ts
  packages/react-internal/src/components/Coachmark/Coachmark.test.ts
  packages/react-internal/src/components/Coachmark/Coachmark.types.ts
  packages/react-internal/src/components/Coachmark/PositioningContainer/PositioningContainer.tsx
  packages/react-internal/src/components/Coachmark/PositioningContainer/PositioningContainer.types.ts
  packages/react-next/RELEASE_NOTES.md
  packages/react-next/etc/react-next.api.md
  packages/react-next/src/Coachmark.ts
  packages/react-next/src/PositioningContainer.ts
  packages/react-next/src/components/Coachmark/Beak/Beak.styles.ts
  packages/react-next/src/components/Coachmark/Beak/Beak.tsx
  packages/react-next/src/components/Coachmark/Beak/Beak.types.ts
  packages/react-next/src/components/Coachmark/Coachmark.base.tsx
  packages/react-next/src/components/Coachmark/Coachmark.styles.ts
  packages/react-next/src/components/Coachmark/Coachmark.ts
  packages/react-next/src/components/Coachmark/Coachmark.types.ts
  packages/react-next/src/components/Coachmark/PositioningContainer/PositioningContainer.styles.ts
  packages/react-next/src/components/Coachmark/PositioningContainer/PositioningContainer.tsx
  packages/react-next/src/components/Coachmark/PositioningContainer/PositioningContainer.types.ts
  packages/react-next/src/components/Coachmark/PositioningContainer/index.ts
  packages/react-next/src/components/Coachmark/index.ts
Labels: Component: Coachmark, Fluent UI v8, PR: API Modified, PR: Possible Perf Regression :snail:

#14597 Color Fill Bars Feature for Line Chart Component
  change/@fluentui-react-examples-2020-10-05-14-03-43-ColorFillBarFeature.json
  change/@fluentui-react-next-2020-09-02-16-50-17-ColorFillBarFeature.json
  change/@uifabric-charting-2020-08-18-13-59-25-master.json
  packages/charting/src/components/Legends/Legends.base.tsx
  packages/charting/src/components/Legends/Legends.styles.ts
  packages/charting/src/components/Legends/Legends.types.ts
  packages/charting/src/components/LineChart/LineChart.base.tsx
  packages/charting/src/components/LineChart/LineChart.types.ts
  packages/charting/src/components/VerticalBarChart/__snapshots__/VerticalBarChart.test.tsx.snap
  packages/react-examples/src/charting/LineChart/LineChart.Multiple.Example.tsx
  packages/react-examples/src/charting/LineChart/LineChart.Styled.Example.tsx
Labels: Package: charting

#15417 Update theme designer codepen (7.0)
  apps/theming-designer/src/components/Header.tsx
Labels: Fabric 7

#15385 Moving SearchBox to @fluentui/react-internal package
  apps/perf-test/src/scenarios/SearchBoxNext.tsx
  apps/vr-tests/src/stories/SearchBoxNext.stories.tsx
  change/@fluentui-react-examples-2020-10-06-10-42-44-feat-react-internal-searchbox.json
  change/@fluentui-react-internal-2020-10-06-10-42-44-feat-react-internal-searchbox.json
  change/@fluentui-react-next-2020-10-06-10-42-44-feat-react-internal-searchbox.json
  packages/react-examples/src/react-next/SearchBox/SearchBox.CustomIcon.Example.tsx
  packages/react-examples/src/react-next/SearchBox/SearchBox.Disabled.Example.tsx
  packages/react-examples/src/react-next/SearchBox/SearchBox.FullSize.Example.tsx
  packages/react-examples/src/react-next/SearchBox/SearchBox.Small.Example.tsx
  packages/react-examples/src/react-next/SearchBox/SearchBox.Underlined.Example.tsx
  packages/react-examples/src/react-next/SearchBox/SearchBox.doc.tsx
  packages/react-examples/src/react-next/SearchBox/docs/SearchBoxBestPractices.md
  packages/react-examples/src/react-next/SearchBox/docs/SearchBoxOverview.md
  packages/react-internal/etc/react-internal.api.md
  packages/react-internal/src/components/SearchBox/SearchBox.base.tsx
  packages/react-internal/src/components/SearchBox/SearchBox.styles.tsx
  packages/react-internal/src/components/SearchBox/SearchBox.test.tsx
  packages/react-internal/src/components/SearchBox/SearchBox.types.ts
  packages/react-internal/src/components/SearchBox/__snapshots__/SearchBox.test.tsx.snap
  packages/react-next/etc/react-next.api.md
  packages/react-next/src/SearchBox.ts
  packages/react-next/src/components/SearchBox/SearchBox.base.tsx
  packages/react-next/src/components/SearchBox/SearchBox.styles.tsx
  packages/react-next/src/components/SearchBox/SearchBox.test.tsx
  packages/react-next/src/components/SearchBox/SearchBox.tsx
  packages/react-next/src/components/SearchBox/SearchBox.types.ts
  packages/react-next/src/components/SearchBox/__snapshots__/SearchBox.test.tsx.snap
  packages/react-next/src/components/SearchBox/index.ts
Labels: Component: SearchBox, Fluent UI v8, PR: API Modified

#15398 Move v8 Rating changes from react-next to react
  apps/perf-test/src/scenarios/RatingNext.tsx
  apps/vr-tests/src/stories/RatingNext.stories.tsx
  change/@fluentui-react-examples-2020-10-06-22-53-58-move-rating.json
  change/@fluentui-react-internal-2020-10-06-22-53-58-move-rating.json
  change/@fluentui-react-next-2020-10-06-22-53-58-move-rating.json
  packages/react-examples/src/react-next/Rating/Rating.Basic.Example.tsx
  packages/react-examples/src/react-next/Rating/Rating.ButtonControlled.Example.tsx
  packages/react-examples/src/react-next/Rating/Rating.doc.tsx
  packages/react-examples/src/react-next/Rating/docs/RatingBestPractices.md
  packages/react-examples/src/react-next/Rating/docs/RatingOverview.md
  packages/react-examples/src/react-next/__snapshots__/Rating.Basic.Example.tsx.shot
  packages/react-examples/src/react-next/__snapshots__/Rating.ButtonControlled.Example.tsx.shot
  packages/react-examples/src/react/Rating/Rating.Basic.Example.tsx
  packages/react-examples/src/react/Rating/Rating.ButtonControlled.Example.tsx
  packages/react-examples/src/react/Rating/Rating.doc.tsx
  packages/react-examples/src/react/__snapshots__/Rating.Basic.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/Rating.ButtonControlled.Example.tsx.shot
  packages/react-internal/etc/react-internal.api.md
  packages/react-internal/src/components/Rating/Rating.base.tsx
  packages/react-internal/src/components/Rating/Rating.test.tsx
  packages/react-internal/src/components/Rating/Rating.types.ts
  packages/react-internal/src/components/Rating/__snapshots__/Rating.test.tsx.snap
  packages/react-next/RELEASE_NOTES.md
  packages/react-next/etc/react-next.api.md
  packages/react-next/src/Rating.ts
  packages/react-next/src/components/Rating/Rating.base.tsx
  packages/react-next/src/components/Rating/Rating.styles.ts
  packages/react-next/src/components/Rating/Rating.test.tsx
  packages/react-next/src/components/Rating/Rating.tsx
  packages/react-next/src/components/Rating/Rating.types.ts
  packages/react-next/src/components/Rating/__snapshots__/Rating.test.tsx.snap
  packages/react-next/src/components/Rating/index.ts
Labels: Component: Rating, Fluent UI v8, PR: Possible Perf Regression :snail:

#15401 Move v8 ResizeGroup changes from react-next to react
  change/@fluentui-react-examples-2020-10-06-23-30-51-move-resizegroup.json
  change/@fluentui-react-internal-2020-10-06-23-30-51-move-resizegroup.json
  change/@fluentui-react-next-2020-10-06-23-30-51-move-resizegroup.json
  packages/react-examples/src/react-next/ResizeGroup/ResizeGroup.FlexBox.Example.tsx
  packages/react-examples/src/react-next/ResizeGroup/ResizeGroup.OverflowSet.Example.tsx
  packages/react-examples/src/react-next/ResizeGroup/ResizeGroup.VerticalOverflowSet.Example.tsx
  packages/react-examples/src/react-next/ResizeGroup/ResizeGroup.doc.tsx
  packages/react-examples/src/react-next/ResizeGroup/docs/ResizeGroupBestPractices.md
  packages/react-examples/src/react-next/ResizeGroup/docs/ResizeGroupDonts.md
  packages/react-examples/src/react-next/ResizeGroup/docs/ResizeGroupDos.md
  packages/react-examples/src/react-next/ResizeGroup/docs/ResizeGroupOverview.md
  packages/react-examples/src/react-next/__snapshots__/ResizeGroup.FlexBox.Example.tsx.shot
  packages/react-examples/src/react-next/__snapshots__/ResizeGroup.OverflowSet.Example.tsx.shot
  packages/react-examples/src/react-next/__snapshots__/ResizeGroup.VerticalOverflowSet.Example.tsx.shot
  packages/react-internal/etc/react-internal.api.md
  packages/react-internal/src/components/ResizeGroup/ResizeGroup.base.tsx
  packages/react-internal/src/components/ResizeGroup/ResizeGroup.test.tsx
  packages/react-internal/src/components/ResizeGroup/ResizeGroup.tsx
  packages/react-internal/src/components/ResizeGroup/ResizeGroup.types.ts
  packages/react-internal/src/utilities/hooks/useResponsiveMode.tsx
  packages/react-next/etc/react-next.api.md
  packages/react-next/src/ResizeGroup.ts
  packages/react-next/src/components/ResizeGroup/ResizeGroup.base.tsx
  packages/react-next/src/components/ResizeGroup/ResizeGroup.test.tsx
  packages/react-next/src/components/ResizeGroup/ResizeGroup.tsx
  packages/react-next/src/components/ResizeGroup/ResizeGroup.types.ts
  packages/react-next/src/components/ResizeGroup/__snapshots__/ResizeGroup.test.tsx.snap
  packages/react-next/src/components/ResizeGroup/index.ts
Labels: Component: ResizeGroup, Fluent UI v8, PR: API Modified, PR: Possible Perf Regression :snail:

#15345 feat(UI builder): Add screen reader narration computation for descendant elements
  packages/fluentui/react-builder/src/components/Canvas.tsx
  packages/fluentui/react-builder/src/components/ReaderNarration.tsx
  packages/fluentui/react-builder/src/components/ReaderText.tsx
  packages/fluentui/react-builder/src/narration/DescendantsNarrationsComputer.tsx
  packages/fluentui/react-builder/src/narration/NarrationComputer.tsx
  packages/fluentui/react-builder/src/narration/SRNC-Definitions.tsx
  packages/fluentui/react-builder/src/narration/SRNC-Rules-Win_JAWS.tsx
Labels: Fluent UI react-northstar

#15395 Azure-theme pivots + dropdowns for 7.0
  change/@fluentui-react-examples-2020-10-06-21-14-27-azure-theme-control-lines.json
  change/@uifabric-azure-themes-2020-10-06-21-14-27-azure-theme-control-lines.json
  packages/azure-themes/src/azure/AzureThemeDark.ts
  packages/azure-themes/src/azure/AzureThemeHighContrastDark.ts
  packages/azure-themes/src/azure/AzureThemeHighContrastLight.ts
  packages/azure-themes/src/azure/AzureThemeLight.ts
  packages/azure-themes/src/azure/Constants.ts
  packages/azure-themes/src/azure/styles/Callout.styles.ts
  packages/azure-themes/src/azure/styles/ComboBox.styles.ts
  packages/azure-themes/src/azure/styles/DropDown.styles.ts
  packages/azure-themes/src/azure/styles/Label.styles.ts
  packages/azure-themes/src/azure/styles/Pivot.styles.ts
  packages/react-examples/src/azure-themes/stories/components/dropdown.stories.tsx
Labels: Fabric 7, v8 snap: needs cherry-pick

#15407 Moving Shimmer to @fluentui/react-internal package
  apps/perf-test/src/scenarios/ShimmerNext.tsx
  apps/vr-tests/src/stories/ShimmerNext.stories.tsx
  change/@fluentui-react-examples-2020-10-07-10-01-53-feat-react-internal-shimmer.json
  change/@fluentui-react-internal-2020-10-07-10-01-53-feat-react-internal-shimmer.json
  change/@fluentui-react-next-2020-10-07-10-01-53-feat-react-internal-shimmer.json
  packages/fluentui/e2e/setup.test.ts
  packages/react-examples/src/react-next/Shimmer/Shimmer.Application.Example.tsx
  packages/react-examples/src/react-next/Shimmer/Shimmer.Basic.Example.tsx
  packages/react-examples/src/react-next/Shimmer/Shimmer.CustomElements.Example.tsx
  packages/react-examples/src/react-next/Shimmer/Shimmer.LoadData.Example.tsx
  packages/react-examples/src/react-next/Shimmer/Shimmer.Styling.Example.tsx
  packages/react-examples/src/react-next/Shimmer/Shimmer.doc.tsx
  packages/react-examples/src/react-next/Shimmer/docs/ShimmerBestPractices.md
  packages/react-examples/src/react-next/Shimmer/docs/ShimmerDonts.md
  packages/react-examples/src/react-next/Shimmer/docs/ShimmerDos.md
  packages/react-examples/src/react-next/Shimmer/docs/ShimmerOverview.md
  packages/react-internal/etc/react-internal.api.md
  packages/react-internal/src/components/Shimmer/Shimmer.base.tsx
  packages/react-internal/src/components/Shimmer/Shimmer.test.tsx
  packages/react-internal/src/components/Shimmer/Shimmer.types.ts
  packages/react-next/etc/react-next.api.md
  packages/react-next/src/Shimmer.ts
  packages/react-next/src/components/Shimmer/Shimmer.base.tsx
  packages/react-next/src/components/Shimmer/Shimmer.styles.ts
  packages/react-next/src/components/Shimmer/Shimmer.test.tsx
  packages/react-next/src/components/Shimmer/Shimmer.tsx
  packages/react-next/src/components/Shimmer/Shimmer.types.ts
  packages/react-next/src/components/Shimmer/ShimmerCircle/ShimmerCircle.base.tsx
  packages/react-next/src/components/Shimmer/ShimmerCircle/ShimmerCircle.styles.ts
  packages/react-next/src/components/Shimmer/ShimmerCircle/ShimmerCircle.tsx
  packages/react-next/src/components/Shimmer/ShimmerCircle/ShimmerCircle.types.ts
  packages/react-next/src/components/Shimmer/ShimmerElementsGroup/ShimmerElementsGroup.base.tsx
  packages/react-next/src/components/Shimmer/ShimmerElementsGroup/ShimmerElementsGroup.styles.ts
  packages/react-next/src/components/Shimmer/ShimmerElementsGroup/ShimmerElementsGroup.tsx
  packages/react-next/src/components/Shimmer/ShimmerElementsGroup/ShimmerElementsGroup.types.ts
  packages/react-next/src/components/Shimmer/ShimmerGap/ShimmerGap.base.tsx
  packages/react-next/src/components/Shimmer/ShimmerGap/ShimmerGap.styles.ts
  packages/react-next/src/components/Shimmer/ShimmerGap/ShimmerGap.tsx
  packages/react-next/src/components/Shimmer/ShimmerGap/ShimmerGap.types.ts
  packages/react-next/src/components/Shimmer/ShimmerLine/ShimmerLine.base.tsx
  packages/react-next/src/components/Shimmer/ShimmerLine/ShimmerLine.styles.ts
  packages/react-next/src/components/Shimmer/ShimmerLine/ShimmerLine.tsx
  packages/react-next/src/components/Shimmer/ShimmerLine/ShimmerLine.types.ts
  packages/react-next/src/components/Shimmer/__snapshots__/Shimmer.test.tsx.snap
  packages/react-next/src/components/Shimmer/index.ts
Labels: Component: Shimmer, Fluent UI v8, PR: API Modified, PR: Possible Perf Regression :snail:

#15408 Moving SpinButton to @fluentui/react-internal package
  apps/perf-test/src/scenarios/SpinButtonNext.tsx
  apps/vr-tests/src/stories/SpinButtonNext.stories.tsx
  change/@fluentui-react-examples-2020-10-07-10-22-43-feat-react-internal-spinbutton.json
  change/@fluentui-react-internal-2020-10-07-10-22-43-feat-react-internal-spinbutton.json
  change/@fluentui-react-next-2020-10-07-10-22-43-feat-react-internal-spinbutton.json
  change/@uifabric-azure-themes-2020-10-07-17-45-15-feat-react-internal-spinbutton.json
  packages/azure-themes/src/azure/AzureStyleSettings.ts
  packages/azure-themes/src/azure/styles/SpinButton.styles.ts
  packages/react-examples/src/react-next/SpinButton/SpinButton.Basic.Example.tsx
  packages/react-examples/src/react-next/SpinButton/SpinButton.BasicDisabled.Example.tsx
  packages/react-examples/src/react-next/SpinButton/SpinButton.BasicWithEndPosition.Example.tsx
  packages/react-examples/src/react-next/SpinButton/SpinButton.BasicWithIcon.Example.tsx
  packages/react-examples/src/react-next/SpinButton/SpinButton.BasicWithIconDisabled.Example.tsx
  packages/react-examples/src/react-next/SpinButton/SpinButton.CustomStyled.Example.tsx
  packages/react-examples/src/react-next/SpinButton/SpinButton.Stateful.Example.tsx
  packages/react-examples/src/react-next/SpinButton/SpinButton.doc.tsx
  packages/react-examples/src/react-next/SpinButton/docs/SpinButtonBestPractices.md
  packages/react-examples/src/react-next/SpinButton/docs/SpinButtonOverview.md
  packages/react-examples/src/react/SpinButton/SpinButton.CustomStyled.Example.tsx
  packages/react-examples/src/react/__snapshots__/Keytips.Basic.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/SpinButton.Basic.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/SpinButton.BasicDisabled.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/SpinButton.BasicWithEndPosition.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/SpinButton.BasicWithIcon.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/SpinButton.BasicWithIconDisabled.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/SpinButton.CustomStyled.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/SpinButton.Stateful.Example.tsx.shot
  packages/react-internal/etc/react-internal.api.md
  packages/react-internal/src/components/SpinButton/SpinButton.base.tsx
  packages/react-internal/src/components/SpinButton/SpinButton.classNames.ts
  packages/react-internal/src/components/SpinButton/SpinButton.deprecated.test.tsx
  packages/react-internal/src/components/SpinButton/SpinButton.styles.ts
  packages/react-internal/src/components/SpinButton/SpinButton.test.tsx
  packages/react-internal/src/components/SpinButton/SpinButton.tsx
  packages/react-internal/src/components/SpinButton/SpinButton.types.ts
  packages/react-internal/src/components/SpinButton/__snapshots__/SpinButton.test.tsx.snap
  packages/react-next/RELEASE_NOTES.md
  packages/react-next/etc/react-next.api.md
  packages/react-next/src/SpinButton.ts
  packages/react-next/src/components/SpinButton/SpinButton.styles.ts
  packages/react-next/src/components/SpinButton/SpinButton.test.tsx
  packages/react-next/src/components/SpinButton/SpinButton.tsx
  packages/react-next/src/components/SpinButton/SpinButton.types.ts
  packages/react-next/src/components/SpinButton/__snapshots__/SpinButton.test.tsx.snap
  packages/react-next/src/components/SpinButton/index.ts
Labels: Component: SpinButton, Fluent UI v8, PR: API Modified, PR: Possible Perf Regression :snail:

#15411 Moving TeachingBubble to @fluentui/react-internal package
  apps/perf-test/src/scenarios/TeachingBubbleNext.tsx
  apps/vr-tests/src/stories/TeachingBubbleNext.stories.tsx
  change/@fluentui-react-examples-2020-10-07-11-17-15-feat-react-internal-teachingBubble.json
  change/@fluentui-react-internal-2020-10-07-11-17-15-feat-react-internal-teachingBubble.json
  change/@fluentui-react-next-2020-10-07-11-17-15-feat-react-internal-teachingBubble.json
  packages/react-examples/src/react-next/TeachingBubble/TeachingBubble.Basic.Example.tsx
  packages/react-examples/src/react-next/TeachingBubble/TeachingBubble.Condensed.Example.tsx
  packages/react-examples/src/react-next/TeachingBubble/TeachingBubble.Illustration.Example.tsx
  packages/react-examples/src/react-next/TeachingBubble/TeachingBubble.MultiStep.Example.tsx
  packages/react-examples/src/react-next/TeachingBubble/TeachingBubble.SmallHeadline.Example.tsx
  packages/react-examples/src/react-next/TeachingBubble/TeachingBubble.Wide.Example.tsx
  packages/react-examples/src/react-next/TeachingBubble/TeachingBubble.WideIllustration.Example.tsx
  packages/react-examples/src/react-next/TeachingBubble/TeachingBubble.doc.tsx
  packages/react-examples/src/react-next/TeachingBubble/docs/TeachingBubbleBestPractices.md
  packages/react-examples/src/react-next/TeachingBubble/docs/TeachingBubbleOverview.md
  packages/react-internal/etc/react-internal.api.md
  packages/react-internal/src/components/TeachingBubble/TeachingBubble.base.tsx
  packages/react-internal/src/components/TeachingBubble/TeachingBubble.test.tsx
  packages/react-internal/src/components/TeachingBubble/TeachingBubble.types.ts
  packages/react-internal/src/components/TeachingBubble/TeachingBubbleContent.base.tsx
  packages/react-next/etc/react-next.api.md
  packages/react-next/src/TeachingBubble.ts
  packages/react-next/src/components/TeachingBubble/TeachingBubble.base.tsx
  packages/react-next/src/components/TeachingBubble/TeachingBubble.deprecated.test.tsx
  packages/react-next/src/components/TeachingBubble/TeachingBubble.styles.ts
  packages/react-next/src/components/TeachingBubble/TeachingBubble.test.tsx
  packages/react-next/src/components/TeachingBubble/TeachingBubble.ts
  packages/react-next/src/components/TeachingBubble/TeachingBubble.types.ts
  packages/react-next/src/components/TeachingBubble/TeachingBubbleContent.base.tsx
  packages/react-next/src/components/TeachingBubble/TeachingBubbleContent.ts
  packages/react-next/src/components/TeachingBubble/__snapshots__/TeachingBubble.deprecated.test.tsx.snap
  packages/react-next/src/components/TeachingBubble/__snapshots__/TeachingBubble.test.tsx.snap
  packages/react-next/src/components/TeachingBubble/index.ts
Labels: Component: TeachingBubble, Fluent UI v8, PR: API Modified

#15430 Moving SelectedItemsList to @fluentui/react-internal package
  change/@fluentui-react-examples-2020-10-08-11-10-58-feat-react-internal-selected-items-list.json
  change/@fluentui-react-internal-2020-10-08-11-10-58-feat-react-internal-selected-items-list.json
  change/@fluentui-react-next-2020-10-08-11-10-58-feat-react-internal-selected-items-list.json
  packages/react-examples/src/react-next/ExtendedPicker/ExtendedPeoplePicker.Controlled.Example.tsx
  packages/react-examples/src/react-next/SelectedPeopleList/SelectedPeopleList.Basic.Example.tsx
  packages/react-examples/src/react-next/SelectedPeopleList/SelectedPeopleList.Controlled.Example.tsx
  packages/react-examples/src/react-next/SelectedPeopleList/SelectedPeopleList.doc.tsx
  packages/react-examples/src/react-next/SelectedPeopleList/docs/SelectedPeopleListDonts.md
  packages/react-examples/src/react-next/SelectedPeopleList/docs/SelectedPeopleListDos.md
  packages/react-examples/src/react/SelectedPeopleList/SelectedPeopleList.Controlled.Example.tsx
  packages/react-internal/etc/react-internal.api.md
  packages/react-internal/src/components/SelectedItemsList/BaseSelectedItemsList.test.tsx
  packages/react-internal/src/components/SelectedItemsList/BaseSelectedItemsList.tsx
  packages/react-internal/src/components/SelectedItemsList/BaseSelectedItemsList.types.ts
  packages/react-internal/src/components/SelectedItemsList/SelectedPeopleList/Items/EditingItem.styles.ts
  packages/react-internal/src/components/SelectedItemsList/SelectedPeopleList/Items/EditingItem.types.ts
  packages/react-internal/src/components/SelectedItemsList/SelectedPeopleList/Items/ExtendedSelectedItem.scss
  packages/react-internal/src/components/SelectedItemsList/SelectedPeopleList/Items/ExtendedSelectedItem.tsx
  packages/react-internal/src/components/SelectedItemsList/SelectedPeopleList/SelectedPeopleList.test.tsx
  packages/react-next/etc/react-next.api.md
  packages/react-next/src/SelectedItemsList.ts
  packages/react-next/src/components/ExtendedPicker/BaseExtendedPicker.test.tsx
  packages/react-next/src/components/SelectedItemsList/BaseSelectedItemsList.test.tsx
  packages/react-next/src/components/SelectedItemsList/BaseSelectedItemsList.tsx
  packages/react-next/src/components/SelectedItemsList/BaseSelectedItemsList.types.ts
  packages/react-next/src/components/SelectedItemsList/SelectedPeopleList/Items/EditingItem.scss
  packages/react-next/src/components/SelectedItemsList/SelectedPeopleList/Items/EditingItem.styles.ts
  packages/react-next/src/components/SelectedItemsList/SelectedPeopleList/Items/EditingItem.tsx
  packages/react-next/src/components/SelectedItemsList/SelectedPeopleList/Items/EditingItem.types.ts
  packages/react-next/src/components/SelectedItemsList/SelectedPeopleList/Items/ExtendedSelectedItem.scss
  packages/react-next/src/components/SelectedItemsList/SelectedPeopleList/Items/ExtendedSelectedItem.tsx
  packages/react-next/src/components/SelectedItemsList/SelectedPeopleList/Items/SelectedItemWithContextMenu.tsx
  packages/react-next/src/components/SelectedItemsList/SelectedPeopleList/SelectedPeopleList.test.tsx
  packages/react-next/src/components/SelectedItemsList/SelectedPeopleList/SelectedPeopleList.tsx
  packages/react-next/src/components/SelectedItemsList/__snapshots__/BaseSelectedItemsList.test.tsx.snap
  packages/react-next/src/components/SelectedItemsList/index.ts
Labels: Component: SelectedItemsList, Fluent UI v8, PR: API Modified

#15352 Avatar visual tweaks and clean up
  change/@fluentui-react-avatar-2020-10-02-15-51-25-avatar-tweaks.json
  change/@fluentui-react-examples-2020-10-02-15-51-25-avatar-tweaks.json
  packages/react-avatar/src/components/Avatar/Avatar.scss
  packages/react-avatar/src/components/Avatar/Avatar.types.tsx
  packages/react-examples/src/react-avatar/Avatar/Avatar.stories.tsx
Labels: Component: Avatar, v8 snap: potential conflict

#15435 fix WC button font inheritance issues
  change/@fluentui-web-components-2020-10-08-15-22-21-users-chhol-button-font-inheritance-issues.json
  packages/web-components/src/styles/patterns/button.ts
Labels: Fabric 7, v8 snap: needs cherry-pick, web-components

#15441 docs(Accessibility): Add titles for component pages, fix narration layout, fix dialog exmple accessibility
  packages/fluentui/docs/src/components/ComponentDoc/ComponentDoc.tsx
  packages/fluentui/docs/src/components/ExternalExampleLayout.tsx
  packages/fluentui/docs/src/examples/components/Dialog/Variations/DialogExampleBackdrop.shorthand.tsx
  packages/fluentui/docs/src/utils/exampleKebabNameToFilename.ts
  packages/fluentui/docs/src/utils/index.tsx
  packages/fluentui/docs/src/views/PageNotFound.tsx
  packages/fluentui/react-builder/package.json
  packages/fluentui/react-builder/src/components/Canvas.tsx
  packages/fluentui/react-builder/src/components/Designer.tsx
  packages/fluentui/react-builder/src/components/ReaderNarration.tsx
Labels: Fluent UI react-northstar

#15446 feat(UI builder): Add ability to recompute screen reader narration upon every prop change.
  packages/fluentui/react-builder/src/components/ReaderNarration.tsx
Labels: Fluent UI react-northstar

#15403 minor edits to the area chart
  change/@uifabric-charting-2020-10-07-16-16-40-user-v-sivsar-areachartEdits.json
  packages/charting/src/components/AreaChart/AreaChart.base.tsx
Labels: Fabric 7, Package: charting, v8 snap: needs cherry-pick

#15438 Add script to rename packages
  package.json
  scripts/package.json
  scripts/rename-package.ts
  yarn.lock
Labels: Area: Build System

#15429 fix: correct palette generation behavior in Card
  change/@fluentui-web-components-2020-10-08-10-29-03-users-nicholasrice-fix-card-palette-generation.json
  packages/web-components/src/card/card.stories.ts
  packages/web-components/src/card/fixtures/card.html
  packages/web-components/src/card/index.ts
Labels: Fabric 7, v8 snap: needs cherry-pick, web-components

#15449 Cherry-pick react-theme-provider related fixes from master to 7.0
  change/@fluentui-react-checkbox-2020-09-24-15-29-49-xgao-themeprovider-cleanup-2.json
  change/@fluentui-react-stylesheets-2020-10-01-20-02-41-xgao-fix-ssr.json
  change/@fluentui-react-theme-provider-2020-09-24-15-29-49-xgao-themeprovider-cleanup-2.json
  change/@fluentui-storybook-2020-09-24-15-29-49-xgao-themeprovider-cleanup-2.json
  packages/react-stylesheets/src/StylesheetContext.tsx
  packages/react-stylesheets/src/StylesheetProvider.test.tsx
  packages/react-theme-provider/etc/react-theme-provider.api.md
  packages/react-theme-provider/package.json
  packages/react-theme-provider/src/ThemeProvider.test.tsx
  packages/react-theme-provider/src/createDefaultTheme.ts
  packages/react-theme-provider/src/index.ts
  packages/react-theme-provider/src/makeStyles.test.tsx
  packages/react-theme-provider/src/themes/FluentTheme.ts
  packages/react-theme-provider/src/useGlobalClassNames.ts
  packages/react-theme-provider/src/useTheme.ts
  packages/react-theme-provider/src/useThemeProviderState.tsx
  packages/storybook/package.json
  packages/storybook/src/knobs/useTheme.ts
  packages/storybook/src/themes/v8/FluentTheme.ts
  packages/storybook/src/themes/v8/TeamsTheme.ts
  packages/storybook/src/themes/v8/index.ts
Labels: Fabric 7

#15440 Add Avatar to the PR deploy site
  apps/pr-deploy-site/just.config.ts
  apps/pr-deploy-site/pr-deploy-site.js
  lage.config.js
Labels: Component: Avatar

#15326 Partial theme merging fixes (for ThemeProvider) and update createTheme to use Theme/PartialTheme
  apps/vr-tests/src/stories/ThemeProvider.stories.tsx
  change/@fluentui-react-examples-2020-10-09-13-34-50-xgao-7.0-cherry-pick-fixes.json
  change/@fluentui-react-theme-provider-2020-09-30-15-12-28-xgao-createTheme-v8.json
  change/@fluentui-theme-2020-09-30-15-12-28-xgao-createTheme-v8.json
  packages/react-examples/src/react-button/Button/Converged.stories.tsx
  packages/react-theme-provider/etc/react-theme-provider.api.md
  packages/react-theme-provider/src/ThemeProvider.test.tsx
  packages/react-theme-provider/src/ThemeProvider.tsx
  packages/react-theme-provider/src/getTokens.ts
  packages/react-theme-provider/src/useThemeProviderState.tsx
  packages/theme/README.md
  packages/theme/etc/theme.api.md
  packages/theme/src/__snapshots__/createTheme.test.ts.snap
  packages/theme/src/__snapshots__/mergeThemes.test.ts.snap
  packages/theme/src/createTheme.test.ts
  packages/theme/src/createTheme.ts
  packages/theme/src/mergeThemes.test.ts
  packages/theme/src/mergeThemes.ts
  packages/theme/src/types/Theme.ts
  packages/theme/src/utilities/makeSemanticColors.ts
Labels: Area: Theming, Component: Theme

#15450 SearchBox: role=search is removed, but can be optionally defined via role prop.
  change/@fluentui-react-examples-2020-10-09-16-08-45-fix-searchbox-role.json
  change/@fluentui-react-next-2020-10-09-16-08-45-fix-searchbox-role.json
  change/office-ui-fabric-react-2020-10-09-11-54-58-fix-searchbox-role.json
  packages/office-ui-fabric-react/src/components/SearchBox/SearchBox.base.tsx
  packages/office-ui-fabric-react/src/components/SearchBox/SearchBox.test.tsx
  packages/office-ui-fabric-react/src/components/SearchBox/__snapshots__/SearchBox.test.tsx.snap
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/FloatingPeoplePicker.Basic.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/SearchBox.CustomIcon.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/SearchBox.Disabled.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/SearchBox.FullSize.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/SearchBox.Small.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/SearchBox.Underlined.Example.tsx.shot
  packages/react-next/etc/react-next.api.md
  packages/react-next/src/components/SearchBox/SearchBox.types.ts
Labels: Area: Accessibility, Component: SearchBox, PR: API Modified

#15457 SearchBox: role typings fix
  change/@fluentui-react-next-2020-10-09-17-48-19-fix-searchbox-typings.json
  change/office-ui-fabric-react-2020-10-09-17-48-19-fix-searchbox-typings.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/SearchBox/SearchBox.types.ts
  packages/react-next/etc/react-next.api.md
  packages/react-next/src/components/SearchBox/SearchBox.types.ts
Labels: PR: API Modified

#15454 Rename theme packages
  apps/codesandbox-react-next-template/package.json
  apps/codesandbox-react-next-template/src/index.tsx
  apps/public-docsite-resources/package.json
  apps/public-docsite-resources/src/customizations/customizations.ts
  apps/public-docsite/package.json
  apps/public-docsite/src/components/Site/customizations.ts
  change/@fluentui-azure-themes-2020-10-09-16-58-10-rename-themes.json
  change/@fluentui-storybook-2020-10-09-16-58-10-rename-themes.json
  change/@fluentui-theme-samples-2020-10-09-16-58-10-rename-themes.json
  change/@uifabric-azure-themes-2020-09-30-13-43-32-merge-oufr-react.json
  change/@uifabric-azure-themes-2020-10-07-17-45-15-feat-react-internal-spinbutton.json
  change/@uifabric-experiments-2020-10-09-16-58-10-rename-themes.json
  change/@uifabric-react-cards-2020-10-09-16-58-10-rename-themes.json
  change/@uifabric-theme-samples-2020-09-30-13-43-32-merge-oufr-react.json
  packages/azure-themes/LICENSE
  packages/azure-themes/README.md
  packages/azure-themes/package.json
  packages/azure-themes/src/version.ts
  packages/azure-themes/webpack.config.js
  packages/experiments/package.json
  packages/react-cards/package.json
  packages/react-examples/package.json
  packages/react-examples/src/azure-themes/stories/Themes/Themes.stories.tsx
  packages/react-examples/src/experiments/demo/customizations.ts
  packages/react-examples/src/react-cards/demo/customizations.ts
  packages/storybook/package.json
  packages/storybook/src/themes/v7/AzureDarkTheme.ts
  packages/storybook/src/themes/v7/AzureLightTheme.ts
  packages/storybook/src/themes/v7/DarkTheme.ts
  packages/storybook/src/themes/v7/FluentTheme.ts
  packages/storybook/src/themes/v7/TeamsTheme.ts
  packages/storybook/src/themes/v7/WordTheme.ts
  packages/theme-samples/README.md
  packages/theme-samples/package.json
  packages/theme-samples/src/version.ts
  packages/theme-samples/webpack.config.js
  scripts/rename-package.ts
Labels: Area: Theming

#15436 Popup: Replacing version in react-internal with version from react-next
  change/@fluentui-react-examples-2020-10-08-16-34-47-popupMove.json
  change/@fluentui-react-internal-2020-10-08-16-02-49-popupMove.json
  change/@fluentui-react-next-2020-10-08-16-02-49-popupMove.json
  packages/react-examples/src/react/Panel/Panel.ConfirmDismiss.Example.tsx
  packages/react-internal/etc/react-internal.api.md
  packages/react-internal/src/components/Panel/Panel.base.tsx
  packages/react-internal/src/components/Panel/Panel.types.ts
  packages/react-internal/src/components/Popup/Popup.tsx
  packages/react-internal/src/components/Popup/Popup.types.ts
  packages/react-next/RELEASE_NOTES.md
  packages/react-next/etc/react-next.api.md
  packages/react-next/src/Popup.ts
  packages/react-next/src/components/Popup/Popup.tsx
  packages/react-next/src/components/Popup/Popup.types.ts
  packages/react-next/src/components/Popup/index.ts
Labels: Fluent UI v8, PR: API Modified, PR: Possible Perf Regression :snail:

#15338 Implementing defaultErrorMessages file within isConformant to provide more specific error messages
  change/@fluentui-react-conformance-2020-09-29-17-14-06-feat-isConformant-default-error-messages.json
  packages/react-conformance/package.json
  packages/react-conformance/src/defaultErrorMessages.tsx
  packages/react-conformance/src/defaultTests.tsx
  packages/react-conformance/src/isConformant.ts
Labels: v8 snap: potential conflict

#15389 Moving OverflowSet to @fluentui/react-internal package
  apps/perf-test/src/scenarios/OverflowSetNext.tsx
  apps/vr-tests/src/stories/OverflowSetNext.stories.tsx
  change/@fluentui-react-examples-2020-10-06-14-51-43-feat-react-internal-overflowset.json
  change/@fluentui-react-internal-2020-10-06-14-51-43-feat-react-internal-overflowset.json
  change/@fluentui-react-next-2020-10-06-14-51-43-feat-react-internal-overflowset.json
  change/@uifabric-charting-2020-10-07-14-25-30-feat-react-internal-overflowset.json
  packages/charting/src/components/VerticalBarChart/__snapshots__/VerticalBarChart.test.tsx.snap
  packages/react-examples/src/charting/AreaChart/AreaChart.Multiple.Example.tsx
  packages/react-examples/src/charting/DonutChart/DonutChart.Dynamic.Example.tsx
  packages/react-examples/src/charting/Legends/Legends.Basic.Example.tsx
  packages/react-examples/src/charting/Legends/Legends.Overflow.Example.tsx
  packages/react-examples/src/charting/Legends/Legends.WrapLines.Example.tsx
  packages/react-examples/src/charting/StackedBarChart/MultiStackedBarChart.Example.tsx
  packages/react-examples/src/charting/VerticalStackedBarChart/VerticalStackedBarChart.Basic.Example.tsx
  packages/react-examples/src/react-next/Keytip/Keytips.Overflow.Example.tsx
  packages/react-examples/src/react-next/OverflowSet/OverflowSet.Basic.Example.tsx
  packages/react-examples/src/react-next/OverflowSet/OverflowSet.BasicReversed.Example.tsx
  packages/react-examples/src/react-next/OverflowSet/OverflowSet.Custom.Example.tsx
  packages/react-examples/src/react-next/OverflowSet/OverflowSet.Vertical.Example.tsx
  packages/react-examples/src/react-next/OverflowSet/OverflowSet.doc.tsx
  packages/react-examples/src/react-next/OverflowSet/docs/OverflowSetOverview.md
  packages/react-examples/src/react/__snapshots__/Keytips.Overflow.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/OverflowSet.Basic.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/OverflowSet.BasicReversed.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/OverflowSet.Custom.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/OverflowSet.Vertical.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/ResizeGroup.OverflowSet.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/ResizeGroup.VerticalOverflowSet.Example.tsx.shot
  packages/react-internal/etc/react-internal.api.md
  packages/react-internal/src/components/CommandBar/CommandBar.base.tsx
  packages/react-internal/src/components/OverflowSet/OverflowButton.tsx
  packages/react-internal/src/components/OverflowSet/OverflowSet.base.tsx
  packages/react-internal/src/components/OverflowSet/OverflowSet.scss
  packages/react-internal/src/components/OverflowSet/OverflowSet.test.tsx
  packages/react-internal/src/components/OverflowSet/OverflowSet.types.ts
  packages/react-internal/src/components/OverflowSet/__snapshots__/OverflowSet.test.tsx.snap
  packages/react-next/RELEASE_NOTES.md
  packages/react-next/etc/react-next.api.md
  packages/react-next/src/OverflowSet.ts
  packages/react-next/src/components/OverflowSet/OverflowSet.base.tsx
  packages/react-next/src/components/OverflowSet/OverflowSet.scss
  packages/react-next/src/components/OverflowSet/OverflowSet.styles.ts
  packages/react-next/src/components/OverflowSet/OverflowSet.test.tsx
  packages/react-next/src/components/OverflowSet/OverflowSet.ts
  packages/react-next/src/components/OverflowSet/OverflowSet.types.ts
  packages/react-next/src/components/OverflowSet/__snapshots__/OverflowSet.test.tsx.snap
  packages/react-next/src/components/OverflowSet/index.ts
Labels: Component: OverflowSet, Fluent UI v8, PR: API Modified

#15442 fix(Tree): onFocusParent not working on leaf node
  packages/fluentui/CHANGELOG.md
  packages/fluentui/accessibility/src/behaviors/Tree/treeItemBehavior.ts
  packages/fluentui/accessibility/test/behaviors/testDefinitions.ts
  packages/fluentui/accessibility/test/behaviors/treeItemBehavior-test.tsx
  packages/fluentui/accessibility/test/behaviors/treeTitleBehavior-test.tsx
  packages/fluentui/e2e/tests/treeKeyboardNavigation-test.ts
  packages/fluentui/react-northstar/src/components/Tree/TreeTitle.tsx
Labels: Fluent UI react-northstar

#15464 feat(UI builder): Add ability to compute screen reader narration of focused element in … …use mode
  packages/fluentui/react-builder/src/components/Canvas.tsx
  packages/fluentui/react-builder/src/components/ReaderNarration.tsx
  packages/fluentui/react-builder/src/narration/DescendantsNarrationsComputer.tsx
Labels: Fluent UI react-northstar

#15298 Charting: Custom callout support for Horizontal bar chart, Stacked bar chart and Donut chart
  change/@fluentui-react-examples-2020-09-28-11-48-05-user-v-jasha-CCOfHorizontal.json
  change/@uifabric-charting-2020-09-28-11-48-05-user-v-jasha-CCOfHorizontal.json
  packages/charting/src/components/CommonComponents/CartesianChart.types.ts
  packages/charting/src/components/DonutChart/DonutChart.base.tsx
  packages/charting/src/components/DonutChart/DonutChart.types.ts
  packages/charting/src/components/HorizontalBarChart/HorizontalBarChart.base.tsx
  packages/charting/src/components/HorizontalBarChart/HorizontalBarChart.types.ts
  packages/charting/src/components/StackedBarChart/MultiStackedBarChart.base.tsx
  packages/charting/src/components/StackedBarChart/MultiStackedBarChart.types.ts
  packages/charting/src/components/StackedBarChart/StackedBarChart.base.tsx
  packages/charting/src/components/StackedBarChart/StackedBarChart.types.ts
  packages/react-examples/src/charting/DonutChart/DonutChart.CustomCallout.Example.tsx
  packages/react-examples/src/charting/DonutChart/DonutChartPage.tsx
  packages/react-examples/src/charting/HorizontalBarChart/HorizontalBarChart.CustomCallout.Example.tsx
  packages/react-examples/src/charting/HorizontalBarChart/HorizontalBarChartPage.tsx
  packages/react-examples/src/charting/StackedBarChart/MultiStackedBarChart.Example.tsx
  packages/react-examples/src/charting/StackedBarChart/StackedBarChart.Dynamic.Example.tsx
Labels: Fabric 7, Package: charting, v8 snap: needs cherry-pick

#15471 [7.0] withSlots: refactor out redundant React.Children traversal
  change/@uifabric-foundation-2020-10-12-08-20-42-keco-react-children-stack.json
  packages/foundation/src/slots.tsx
Labels: AutoMerge, Fabric 7, v8 snap: needs cherry-pick

#15463 Button: Adding transparent variant
  apps/vr-tests/src/stories/ButtonNext.stories.tsx
  apps/vr-tests/src/stories/CompoundButtonNext.stories.tsx
  apps/vr-tests/src/stories/MenuButtonNext.stories.tsx
  apps/vr-tests/src/stories/SplitButtonNext.stories.tsx
  apps/vr-tests/src/stories/ToggleButtonNext.stories.tsx
  change/@fluentui-react-button-2020-10-11-17-12-06-transparentButton.json
  change/@fluentui-theme-2020-10-12-13-16-30-transparentButton.json
  packages/react-button/etc/react-button.api.md
  packages/react-button/src/components/Button/Button.types.ts
  packages/react-button/src/components/Button/__snapshots__/Button.test.tsx.snap
  packages/react-button/src/components/Button/useButtonClasses.ts
  packages/react-button/src/components/CompoundButton/useCompoundButtonClasses.ts
  packages/react-button/src/components/MenuButton/useMenuButtonClasses.ts
  packages/react-button/src/components/SplitButton/useSplitButton.ts
  packages/react-button/src/components/SplitButton/useSplitButtonClasses.tsx
  packages/react-button/src/components/ToggleButton/useToggleButtonClasses.tsx
  packages/react-examples/src/react-button/Button/Button.stories.tsx
  packages/react-examples/src/react-button/CompoundButton/CompoundButton.stories.tsx
  packages/react-examples/src/react-button/MenuButton/MenuButton.stories.tsx
  packages/react-examples/src/react-button/SplitButton/SplitButton.stories.tsx
  packages/react-examples/src/react-button/ToggleButton/ToggleButton.stories.tsx
  packages/theme/etc/theme.api.md
  packages/theme/src/types/Theme.ts
Labels: AutoMerge, Component: Button

#15481 Moving Layer to @fluentui/react-internal package
  apps/perf-test/src/scenarios/LayerNext.tsx
  apps/vr-tests/src/stories/LayerNext.stories.tsx
  change/@fluentui-react-examples-2020-10-12-14-06-37-feat-react-internal-layer.json
  change/@fluentui-react-internal-2020-10-12-14-06-37-feat-react-internal-layer.json
  change/@fluentui-react-next-2020-10-12-14-06-37-feat-react-internal-layer.json
  packages/react-examples/src/react-next/Layer/Layer.Basic.Example.tsx
  packages/react-examples/src/react-next/Layer/Layer.Customized.Example.tsx
  packages/react-examples/src/react-next/Layer/Layer.Hosted.Example.tsx
  packages/react-examples/src/react-next/Layer/Layer.NestedLayers.Example.tsx
  packages/react-examples/src/react-next/Layer/Layer.doc.tsx
  packages/react-examples/src/react-next/Layer/docs/LayerBestPractices.md
  packages/react-examples/src/react-next/Layer/docs/LayerDonts.md
  packages/react-examples/src/react-next/Layer/docs/LayerDos.md
  packages/react-examples/src/react-next/Layer/docs/LayerOverview.md
  packages/react-internal/etc/react-internal.api.md
  packages/react-internal/src/components/Layer/Layer.base.tsx
  packages/react-internal/src/components/Layer/Layer.notification.ts
  packages/react-internal/src/components/Layer/Layer.test.tsx
  packages/react-internal/src/components/Layer/Layer.types.ts
  packages/react-internal/src/components/Layer/LayerHost.tsx
  packages/react-internal/src/components/Layer/index.ts
  packages/react-next/etc/react-next.api.md
  packages/react-next/src/Layer.ts
  packages/react-next/src/components/ComponentConformance.test.tsx
  packages/react-next/src/components/Layer/Layer.base.tsx
  packages/react-next/src/components/Layer/Layer.notification.ts
  packages/react-next/src/components/Layer/Layer.styles.ts
  packages/react-next/src/components/Layer/Layer.test.tsx
  packages/react-next/src/components/Layer/Layer.tsx
  packages/react-next/src/components/Layer/Layer.types.ts
  packages/react-next/src/components/Layer/LayerHost.tsx
  packages/react-next/src/components/Layer/LayerHost.types.ts
  packages/react-next/src/components/Layer/__snapshots__/Layer.test.tsx.snap
  packages/react-next/src/components/Layer/index.ts
Labels: Component: Layer, PR: API Modified

#15433 Button: updating styling hooks for derivative Buttons to abstract depending on button styling
  change/@fluentui-examples-2020-09-25-08-11-21-feat-variant-support.json
  change/@fluentui-react-button-2020-10-12-13-18-54-feat-variants-extends.json
  change/@fluentui-react-internal-2020-10-01-14-55-14-feat-variants.json
  change/@fluentui-react-theme-provider-2020-10-12-13-18-54-feat-variants-extends.json
  packages/react-button/etc/react-button.api.md
  packages/react-button/src/components/Button/Button.test.tsx
  packages/react-button/src/components/Button/__snapshots__/Button.test.tsx.snap
  packages/react-button/src/components/CompoundButton/CompoundButton.tsx
  packages/react-button/src/components/CompoundButton/useCompoundButtonClasses.ts
  packages/react-button/src/components/MenuButton/MenuButton.tsx
  packages/react-button/src/components/MenuButton/useMenuButtonClasses.ts
  packages/react-button/src/components/ToggleButton/ToggleButton.tsx
  packages/react-button/src/components/ToggleButton/useToggleButtonClasses.tsx
  packages/react-theme-provider/src/makeVariantClasses.test.tsx
  packages/react-theme-provider/src/styleRenderers/useStyleRenderer.tsx
Labels: Fabric 7, v8 snap: needs cherry-pick

#14944 Port #5782 & #12395 to add aria-level=1 in Dialog/Panel of office-ui-fabric-react/5.79.1
  common/changes/office-ui-fabric-react/hotfix_12-office-ui-fabric-react-5.79.1_2020-09-09-04-40.json
  packages/office-ui-fabric-react/src/components/Dialog/DialogContent.base.tsx
  packages/office-ui-fabric-react/src/components/Dialog/__snapshots__/Dialog.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Panel/Panel.tsx
Labels: Fabric 5

#14945 Port #8842 to add tooltip for cancel button in Panel of office-ui-fabric-react/5.79.1
  common/changes/office-ui-fabric-react/hotfix_13-office-ui-fabric-react-5.79.1_2020-09-09-05-33.json
  packages/office-ui-fabric-react/src/components/Panel/Panel.tsx
Labels: Component: Panel, Fabric 5

#14932 Port #6836 to fix typo in role attribute in DocumentCardActivity of office-ui-fabric-react/5.79.1
  common/changes/office-ui-fabric-react/hotfix_11-office-ui-fabric-react-5.79.1_2020-09-08-07-55.json
  packages/office-ui-fabric-react/src/components/DocumentCard/DocumentCardActivity.tsx
  packages/office-ui-fabric-react/src/components/DocumentCard/__snapshots__/DocumentCard.test.tsx.snap
Labels: Component: DocumentCard, Fabric 5

#15368 Moving FocusTrapZone and Modal from react-next to react-internal
  apps/perf-test/src/scenarios/FocusTrapZoneNext.tsx
  apps/vr-tests/src/stories/FocusTrapZoneNext.stories.tsx
  change/@fluentui-react-examples-2020-10-05-13-16-22-focusTrapZoneMove.json
  change/@fluentui-react-internal-2020-10-05-13-16-22-focusTrapZoneMove.json
  change/@fluentui-react-next-2020-10-05-13-16-22-focusTrapZoneMove.json
  packages/react-examples/src/react-next/FocusTrapZone/FocusTrapZone.Box.Click.Example.tsx
  packages/react-examples/src/react-next/FocusTrapZone/FocusTrapZone.Box.Example.tsx
  packages/react-examples/src/react-next/FocusTrapZone/FocusTrapZone.Box.FocusOnCustomElement.Example.tsx
  packages/react-examples/src/react-next/FocusTrapZone/FocusTrapZone.DialogInPanel.Example.tsx
  packages/react-examples/src/react-next/FocusTrapZone/FocusTrapZone.FocusZone.Example.tsx
  packages/react-examples/src/react-next/FocusTrapZone/FocusTrapZone.Nested.Example.tsx
  packages/react-examples/src/react-next/FocusTrapZone/FocusTrapZone.doc.tsx
  packages/react-examples/src/react-next/FocusTrapZone/docs/FocusTrapZoneBestPractices.md
  packages/react-examples/src/react-next/FocusTrapZone/docs/FocusTrapZoneOverview.md
  packages/react-examples/src/react-next/Modal/Modal.Basic.Example.tsx
  packages/react-examples/src/react-next/Modal/Modal.Modeless.Example.tsx
  packages/react-examples/src/react-next/Modal/Modal.doc.tsx
  packages/react-examples/src/react-next/Modal/docs/ModalBestPractices.md
  packages/react-examples/src/react-next/Modal/docs/ModalOverview.md
  packages/react-examples/src/react/FocusTrapZone/FocusTrapZone.DialogInPanel.Example.tsx
  packages/react-examples/src/react/__snapshots__/FocusTrapZone.Box.Click.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/FocusTrapZone.Box.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/FocusTrapZone.Box.FocusOnCustomElement.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/FocusTrapZone.FocusZone.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/FocusTrapZone.Nested.Example.tsx.shot
  packages/react-internal/etc/react-internal.api.md
  packages/react-internal/src/components/Dialog/Dialog.deprecated.test.tsx
  packages/react-internal/src/components/Dialog/Dialog.test.tsx
  packages/react-internal/src/components/Dialog/__snapshots__/Dialog.deprecated.test.tsx.snap
  packages/react-internal/src/components/FocusTrapZone/FocusTrapZone.test.tsx
  packages/react-internal/src/components/FocusTrapZone/FocusTrapZone.tsx
  packages/react-internal/src/components/FocusTrapZone/FocusTrapZone.types.ts
  packages/react-internal/src/components/Modal/Modal.test.tsx
  packages/react-internal/src/components/Modal/Modal.ts
  packages/react-internal/src/components/Modal/Modal.types.ts
  packages/react-internal/src/components/Modal/__snapshots__/Modal.test.tsx.snap
  packages/react-internal/src/components/Panel/Panel.test.tsx
  packages/react-internal/src/components/Panel/__snapshots__/Panel.test.tsx.snap
  packages/react-internal/src/components/TeachingBubble/TeachingBubble.deprecated.test.tsx
  packages/react-internal/src/components/TeachingBubble/TeachingBubble.test.tsx
  packages/react-internal/src/components/TeachingBubble/__snapshots__/TeachingBubble.deprecated.test.tsx.snap
  packages/react-internal/src/components/TeachingBubble/__snapshots__/TeachingBubble.test.tsx.snap
  packages/react-next/etc/react-next.api.md
  packages/react-next/src/FocusTrapZone.ts
  packages/react-next/src/Modal.ts
  packages/react-next/src/components/FocusTrapZone/FocusTrapZone.test.tsx
  packages/react-next/src/components/FocusTrapZone/FocusTrapZone.tsx
  packages/react-next/src/components/FocusTrapZone/FocusTrapZone.types.ts
  packages/react-next/src/components/FocusTrapZone/index.ts
  packages/react-next/src/components/Modal/Modal.base.tsx
  packages/react-next/src/components/Modal/Modal.styles.ts
  packages/react-next/src/components/Modal/Modal.test.tsx
  packages/react-next/src/components/Modal/Modal.ts
  packages/react-next/src/components/Modal/Modal.types.ts
  packages/react-next/src/components/Modal/__snapshots__/Modal.test.tsx.snap
  packages/react-next/src/components/Modal/index.ts
Labels: AutoMerge, Component: FocusTrapZone, Component: Modal, Fluent UI v8, PR: API Modified

#15328 Button: Adding high contrast styling
  change/@fluentui-react-button-2020-09-30-17-23-30-buttonHighContrast.json
  change/@fluentui-react-theme-provider-2020-09-30-17-23-30-buttonHighContrast.json
  packages/react-button/package.json
  packages/react-button/src/components/Button/__snapshots__/Button.test.tsx.snap
  packages/react-button/src/components/Button/useButtonClasses.ts
  packages/react-button/src/components/CompoundButton/useCompoundButtonClasses.ts
  packages/react-button/src/components/SplitButton/useSplitButton.ts
  packages/react-button/src/components/SplitButton/useSplitButtonClasses.tsx
  packages/react-button/src/components/ToggleButton/useToggleButtonClasses.tsx
  packages/react-theme-provider/src/__snapshots__/ThemeProvider.test.tsx.snap
  packages/react-theme-provider/src/getTokens.ts
Labels: AutoMerge, Component: Button

#15480 Make ITheme/IPartialTheme to be identical with Theme/PartialTheme typings
  change/@fluentui-theme-2020-10-12-13-41-45-xgao-theme-itheme-typing.json
  change/office-ui-fabric-react-2020-10-12-15-21-55-xgao-theme-itheme-typing.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/theme/etc/theme.api.md
  packages/theme/src/types/IScheme.ts
  packages/theme/src/types/ITheme.ts
  packages/theme/src/types/Theme.ts
  packages/theme/src/types/index.ts
Labels: Fabric 7, PR: API Modified, v8 snap: needs cherry-pick

#15482 Update theme instances to contain components (scopedSettings)
  change/@uifabric-azure-themes-2020-10-12-13-37-09-xgao-theme-packages.json
  change/@uifabric-mdl2-theme-2020-10-12-13-37-09-xgao-theme-packages.json
  change/@uifabric-theme-samples-2020-10-12-13-37-09-xgao-theme-packages.json
  packages/azure-themes/README.md
  packages/azure-themes/package.json
  packages/azure-themes/src/AzureCustomizations.ts
  packages/azure-themes/src/azure/AzureThemeDark.ts
  packages/azure-themes/src/azure/AzureThemeHighContrastDark.ts
  packages/azure-themes/src/azure/AzureThemeHighContrastLight.ts
  packages/azure-themes/src/azure/AzureThemeLight.ts
  packages/mdl2-theme/README.md
  packages/mdl2-theme/package.json
  packages/mdl2-theme/src/MDL2Customizations.ts
  packages/mdl2-theme/src/mdl2/MDL2Theme.ts
  packages/mdl2-theme/src/mdl2/styles/Label.styles.ts
  packages/theme-samples/package.json
  packages/theme-samples/src/DarkCustomizations/DarkCustomizations.ts
  packages/theme-samples/src/DefaultCustomizations.ts
  packages/theme-samples/src/TeamsCustomizations.ts
  packages/theme-samples/src/WordCustomizations.ts
Labels: Fabric 7, v8 snap: needs cherry-pick

#15501 Fix button IE polyfill demo
  change/@uifabric-tsx-editor-2020-10-13-15-50-14-xgao-button-polyfill.json
  packages/react-examples/src/react-button/demo/index.tsx
  packages/tsx-editor/src/utilities/defaultSupportedPackages.ts
Labels: Area: Website

#15486 Component hooks: return only state, render function to be imported separately
  change/@fluentui-react-avatar-2020-10-13-12-47-23-fix-button-hooks.json
  change/@fluentui-react-button-2020-10-12-18-23-32-fix-button-hooks.json
  change/@fluentui-react-compose-2020-10-12-18-23-32-fix-button-hooks.json
  packages/react-avatar/src/components/Avatar/Avatar.tsx
  packages/react-avatar/src/components/Avatar/index.ts
  packages/react-avatar/src/components/Avatar/renderAvatar.tsx
  packages/react-avatar/src/components/Avatar/useAvatar.tsx
  packages/react-avatar/src/components/Badge/Badge.tsx
  packages/react-avatar/src/components/Badge/index.ts
  packages/react-avatar/src/components/Badge/renderBadge.tsx
  packages/react-avatar/src/components/Badge/useBadge.tsx
  packages/react-avatar/src/components/Image/index.tsx
  packages/react-avatar/src/components/Image/renderImage.tsx
  packages/react-avatar/src/components/Image/useImage.tsx
  packages/react-button/etc/react-button.api.md
  packages/react-button/src/components/Button/Button.tsx
  packages/react-button/src/components/Button/index.ts
  packages/react-button/src/components/Button/useButton.ts
  packages/react-button/src/components/CompoundButton/CompoundButton.tsx
  packages/react-button/src/components/CompoundButton/index.ts
  packages/react-button/src/components/CompoundButton/useCompoundButton.ts
  packages/react-button/src/components/MenuButton/MenuButton.tsx
  packages/react-button/src/components/MenuButton/index.ts
  packages/react-button/src/components/MenuButton/renderMenuButton.tsx
  packages/react-button/src/components/MenuButton/useMenuButton.ts
  packages/react-button/src/components/SplitButton/SplitButton.tsx
  packages/react-button/src/components/SplitButton/index.ts
  packages/react-button/src/components/SplitButton/renderSplitButton.tsx
  packages/react-button/src/components/SplitButton/useSplitButton.ts
  packages/react-button/src/components/ToggleButton/ToggleButton.tsx
  packages/react-button/src/components/ToggleButton/index.ts
  packages/react-button/src/components/ToggleButton/renderToggleButton.tsx
  packages/react-button/src/components/ToggleButton/useToggleButton.tsx
  packages/react-compose/src/next/README.md
Labels: Fabric 7, v8 snap: needs cherry-pick

#15485 Add page for ThemeProvider on public doc site
  apps/public-docsite-resources/src/AppDefinition.tsx
  apps/public-docsite-resources/src/components/pages/ThemeProviderPage.tsx
  apps/public-docsite/src/SiteDefinition/SiteDefinition.pages/Controls/web.tsx
  apps/public-docsite/src/pages/Controls/ThemeProviderPage/ThemeProviderPage.doc.ts
  apps/public-docsite/src/pages/Controls/ThemeProviderPage/ThemeProviderPage.tsx
  apps/public-docsite/src/pages/Controls/ThemeProviderPage/docs/ThemeProviderRelated.md
  change/@fluentui-react-theme-provider-2020-10-12-18-05-07-xgao-doc-theme.json
  change/@uifabric-api-docs-2020-10-12-18-05-07-xgao-doc-theme.json
  packages/api-docs/config/api-docs.js
  packages/api-docs/package.json
  packages/react-examples/src/react-theme-provider/ThemeProvider/ThemeProvider.Basic.Example.tsx
  packages/react-examples/src/react-theme-provider/ThemeProvider/ThemeProvider.Nested.Example.tsx
  packages/react-examples/src/react-theme-provider/ThemeProvider/ThemeProvider.Stylesheet.Example.tsx
  packages/react-examples/src/react-theme-provider/ThemeProvider/ThemeProvider.doc.tsx
  packages/react-examples/src/react-theme-provider/ThemeProvider/ThemeProvider.stories.tsx
  packages/react-examples/src/react-theme-provider/ThemeProvider/docs/ThemeProviderBestPractices.md
  packages/react-examples/src/react-theme-provider/ThemeProvider/docs/ThemeProviderOverview.md
  packages/react-theme-provider/README.md
  packages/react-theme-provider/etc/react-theme-provider.api.md
  packages/react-theme-provider/package.json
  packages/react-theme-provider/src/ThemeProvider.types.ts
  packages/react-theme-provider/src/useThemeProvider.tsx
Labels: Area: Website

#15500 Dropdown: Move to react
  change/@fluentui-react-2020-10-13-17-33-28-move-dropdown.json
  change/@fluentui-react-next-2020-10-13-17-33-28-move-dropdown.json
  packages/react-next/etc/react-next.api.md
  packages/react-next/src/Dropdown.ts
  packages/react-next/src/components/Dropdown/Dropdown.base.tsx
  packages/react-next/src/components/Dropdown/Dropdown.styles.ts
  packages/react-next/src/components/Dropdown/Dropdown.test.tsx
  packages/react-next/src/components/Dropdown/Dropdown.types.ts
  packages/react-next/src/components/Dropdown/__snapshots__/Dropdown.test.tsx.snap
  packages/react-next/src/components/Dropdown/index.ts
  packages/react-next/src/components/Dropdown/utilities/DropdownSizePosCache.test.ts
  packages/react-next/src/components/Dropdown/utilities/DropdownSizePosCache.ts
  packages/react/etc/react.api.md
  packages/react/src/components/Dropdown/Dropdown.base.tsx
  packages/react/src/components/Dropdown/Dropdown.test.tsx
  packages/react/src/components/Dropdown/Dropdown.ts
  packages/react/src/components/Dropdown/Dropdown.tsx
  packages/react/src/components/Dropdown/Dropdown.types.ts
Labels: Component: Dropdown, PR: API Modified

#15147 feat(tree): Multiselect tree as list behavior
  packages/fluentui/CHANGELOG.md
  packages/fluentui/ability-attributes/schema.json
  packages/fluentui/accessibility/src/behaviors/Tree/treeAsListBehavior.ts
  packages/fluentui/accessibility/src/behaviors/Tree/treeAsListboxBehavior.ts
  packages/fluentui/accessibility/src/behaviors/Tree/treeBehavior.ts
  packages/fluentui/accessibility/src/behaviors/Tree/treeItemAsOptionBehavior.ts
  packages/fluentui/accessibility/src/behaviors/Tree/treeTitleAsListItemTitleBehavior.ts
  packages/fluentui/accessibility/src/behaviors/Tree/treeTitleAsOptionBehavior.ts
  packages/fluentui/accessibility/src/behaviors/index.ts
  packages/fluentui/accessibility/test/behaviors/behavior-test.tsx
  packages/fluentui/accessibility/test/behaviors/testHelper.tsx
  packages/fluentui/accessibility/test/behaviors/treeItemAsOptionBehavior-test.tsx
  packages/fluentui/accessibility/test/behaviors/treeTitleAsOptionBehavior-test.tsx
  packages/fluentui/docs/src/examples/components/Tree/BestPractices/TreeBestPractices.tsx
  packages/fluentui/docs/src/examples/components/Tree/Usage/TreeMultiselectAsListExample.shorthand.tsx
  packages/fluentui/docs/src/examples/components/Tree/Usage/TreeMultiselectExample.shorthand.tsx
  packages/fluentui/docs/src/examples/components/Tree/Usage/index.tsx
  packages/fluentui/react-northstar/src/components/Tree/Tree.tsx
  packages/fluentui/react-northstar/src/components/Tree/TreeItem.tsx
Labels: Component: Tree, Fluent UI react-northstar

#15502 Operate Dialog in open mode to ensure accessible focus behavior
  change/@fluentui-web-components-2020-10-13-15-51-52-users-chhol-reset-dialog-to-open-mode.json
  packages/web-components/src/dialog/dialog.stories.ts
  packages/web-components/src/dialog/fixtures/dialog-button-test.html
  packages/web-components/src/dialog/index.ts
Labels: Fabric 7, v8 snap: needs cherry-pick, web-components

#15455 Callout: Move to react-next
  change/@fluentui-react-examples-2020-10-09-20-29-07-move-callout.json
  change/@fluentui-react-internal-2020-10-09-20-29-07-move-callout.json
  change/@fluentui-react-next-2020-10-09-20-29-07-move-callout.json
  change/@uifabric-experiments-2020-10-09-20-29-07-move-callout.json
  packages/experiments/src/components/FloatingSuggestionsComposite/FloatingSuggestions.tsx
  packages/experiments/src/components/FloatingSuggestionsComposite/FloatingSuggestions.types.ts
  packages/react-examples/src/react-next/Callout/Callout.Basic.Example.tsx
  packages/react-examples/src/react-next/Callout/Callout.Cover.Example.tsx
  packages/react-examples/src/react-next/Callout/Callout.Directional.Example.tsx
  packages/react-examples/src/react-next/Callout/Callout.FocusTrap.Example.tsx
  packages/react-examples/src/react-next/Callout/Callout.Status.Example.tsx
  packages/react-examples/src/react-next/Callout/Callout.doc.tsx
  packages/react-examples/src/react-next/Callout/docs/CalloutBestPractices.md
  packages/react-examples/src/react-next/Callout/docs/CalloutOverview.md
  packages/react-examples/src/react/Callout/Callout.Basic.Example.tsx
  packages/react-examples/src/react/Callout/Callout.Cover.Example.tsx
  packages/react-examples/src/react/Callout/Callout.Directional.Example.tsx
  packages/react-examples/src/react/Callout/Callout.FocusTrap.Example.tsx
  packages/react-examples/src/react/Callout/Callout.Status.Example.tsx
  packages/react-examples/src/react/Callout/Callout.doc.tsx
  packages/react-internal/etc/react-internal.api.md
  packages/react-internal/src/components/Callout/Callout.test.tsx
  packages/react-internal/src/components/Callout/Callout.tsx
  packages/react-internal/src/components/Callout/Callout.types.ts
  packages/react-internal/src/components/Callout/CalloutContent.base.tsx
  packages/react-internal/src/components/Callout/CalloutContent.test.tsx
  packages/react-internal/src/components/Callout/CalloutContent.tsx
  packages/react-internal/src/components/FloatingPicker/BaseFloatingPicker.tsx
  packages/react-internal/src/components/FloatingPicker/BaseFloatingPicker.types.ts
  packages/react-internal/src/components/HoverCard/__snapshots__/HoverCard.test.tsx.snap
  packages/react-internal/src/components/Modal/Modal.base.tsx
  packages/react-internal/src/components/TeachingBubble/__snapshots__/TeachingBubble.test.tsx.snap
  packages/react-internal/src/components/Tooltip/__snapshots__/Tooltip.test.tsx.snap
  packages/react-internal/src/components/pickers/BasePicker.tsx
  packages/react-next/etc/react-next.api.md
  packages/react-next/src/Callout.ts
  packages/react-next/src/components/Callout/Callout.test.tsx
  packages/react-next/src/components/Callout/Callout.tsx
  packages/react-next/src/components/Callout/Callout.types.ts
  packages/react-next/src/components/Callout/CalloutContent.base.tsx
  packages/react-next/src/components/Callout/CalloutContent.styles.ts
  packages/react-next/src/components/Callout/CalloutContent.tsx
  packages/react-next/src/components/Callout/FocusTrapCallout.tsx
  packages/react-next/src/components/Callout/FocusTrapCallout.types.ts
  packages/react-next/src/components/Callout/__snapshots__/Callout.test.tsx.snap
  packages/react-next/src/components/Callout/index.ts
Labels: Component: Callout, PR: API Modified

#15509 fix: updates FluentCard to correctly resolve designSystem properties and set background-color / neutralPalette context
  change/@fluentui-web-components-2020-10-14-11-01-46-users-nicholasrice-update-card-background-behavior.json
  packages/web-components/docs/api-report.md
  packages/web-components/package.json
  packages/web-components/src/card/index.ts
  yarn.lock
Labels: Fabric 7, v8 snap: needs cherry-pick

#15513 Button: Renaming `fluid` prop to `block` so that it is inline with the most used terminology in the web
  apps/vr-tests/src/stories/ButtonNext.stories.tsx
  apps/vr-tests/src/stories/CompoundButtonNext.stories.tsx
  apps/vr-tests/src/stories/MenuButtonNext.stories.tsx
  apps/vr-tests/src/stories/SplitButtonNext.stories.tsx
  apps/vr-tests/src/stories/ToggleButtonNext.stories.tsx
  change/@fluentui-react-button-2020-10-14-13-05-28-blockButtons.json
  packages/react-button/README.md
  packages/react-button/etc/react-button.api.md
  packages/react-button/src/components/Button/Button.scss
  packages/react-button/src/components/Button/Button.types.ts
  packages/react-button/src/components/Button/useButtonClasses.ts
  packages/react-button/src/components/CompoundButton/useCompoundButtonClasses.ts
  packages/react-button/src/components/SplitButton/SplitButton.scss
  packages/react-button/src/components/SplitButton/useSplitButton.ts
  packages/react-button/src/components/SplitButton/useSplitButtonClasses.tsx
  packages/react-examples/src/react-button/Button/Button.stories.tsx
  packages/react-examples/src/react-button/CompoundButton/CompoundButton.stories.tsx
  packages/react-examples/src/react-button/MenuButton/MenuButton.stories.tsx
  packages/react-examples/src/react-button/SplitButton/SplitButton.stories.tsx
  packages/react-examples/src/react-button/ToggleButton/ToggleButton.stories.tsx
Labels: AutoMerge, Component: Button

#15447 Charting: Vertical stacked bar chart minor changes including uncaught type error issue fix.
  change/@fluentui-react-examples-2020-10-09-20-59-43-user-v-jasha-VerticalStackedBarChrtIssueFix.json
  change/@uifabric-charting-2020-10-09-20-59-43-user-v-jasha-VerticalStackedBarChrtIssueFix.json
  packages/charting/src/components/CommonComponents/CartesianChart.base.tsx
  packages/charting/src/components/CommonComponents/CartesianChart.types.ts
  packages/charting/src/components/Legends/Legends.base.tsx
  packages/charting/src/components/VerticalStackedBarChart/VerticalStackedBarChart.base.tsx
  packages/charting/src/utilities/utilities.ts
  packages/react-examples/src/charting/VerticalStackedBarChart/VerticalStackedBarChart.Styled.Example.tsx
Labels: Fabric 7, Package: charting, v8 snap: needs cherry-pick

#15496 fix(Video): cleanup src on component unmount [47.x]
  packages/fluentui/react-northstar/src/components/Video/Video.tsx
Labels: Fluent UI react-northstar

#15507 Charting: Test cases for linechart
  change/@uifabric-charting-2020-10-15-08-48-36-user-v-gorraj-LinechartTestcases.json
  packages/charting/src/components/LineChart/LineChart.test.tsx
  packages/charting/src/components/LineChart/__snapshots__/LineChart.test.tsx.snap
Labels: Fabric 7, Package: charting, v8 snap: needs cherry-pick

#15478 Add custom KeyUp support to Group Header
  change/office-ui-fabric-react-2020-10-12-13-11-10-7.0.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/GroupedList/GroupHeader.base.tsx
  packages/office-ui-fabric-react/src/components/GroupedList/GroupedList.types.ts
Labels: AutoMerge, Component: GroupedList, Fabric 7, PR: API Modified, v8 snap: needs cherry-pick

#15511 CommandBar: fix incorrect aria role
  change/@fluentui-react-examples-2020-10-14-15-35-39-xgao-fix-commandbar-a11y.json
  change/office-ui-fabric-react-2020-10-14-11-52-48-xgao-fix-commandbar-a11y.json
  packages/office-ui-fabric-react/src/components/CommandBar/CommandBar.base.tsx
  packages/office-ui-fabric-react/src/components/CommandBar/__snapshots__/CommandBar.deprecated.test.tsx.snap
  packages/office-ui-fabric-react/src/components/CommandBar/__snapshots__/CommandBar.test.tsx.snap
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/CommandBar.Basic.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/CommandBar.ButtonAs.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/CommandBar.CommandBarButtonAs.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/CommandBar.Lazy.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/CommandBar.SplitDisabled.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/DetailsList.Advanced.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/Keytips.CommandBar.Example.tsx.shot
  packages/react-examples/src/react-next/__snapshots__/Keytips.CommandBar.Example.tsx.shot
Labels: Area: Accessibility, Component: CommandBar, Fabric 7, v8 snap: needs cherry-pick

#15544 chore: restore Danger.js in CI
  azure-pipelines.yml
  scripts/dangerjs/detectNonApprovedDependencies/approvedPackages.ts
Labels: Area: Build System

#15520 Charting: Area chart unit test cases
  change/@uifabric-charting-2020-10-15-10-42-38-user-v-jasha-ACTestCases.json
  packages/charting/src/components/AreaChart/AreaChart.test.tsx
  packages/charting/src/components/AreaChart/__snapshots__/AreaChart.test.tsx.snap
Labels: Fabric 7, Package: charting, v8 snap: needs cherry-pick

#15523 Charting: Vertical bar chart unit test cases updated
  change/@uifabric-charting-2020-10-15-13-54-06-user-v-jasha-VerticalChartTestCases.json
  packages/charting/src/components/VerticalBarChart/VerticalBarChart.test.tsx
  packages/charting/src/components/VerticalBarChart/__snapshots__/VerticalBarChart.test.tsx.snap
Labels: Fabric 7, Package: charting, v8 snap: needs cherry-pick

#15560 Fix inferred type error related to ITheme
  change/@fluentui-theme-2020-10-16-13-18-01-fix-weird-typing-error.json
  change/office-ui-fabric-react-2020-10-16-13-18-01-fix-weird-typing-error.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/theme/etc/theme.api.md
  packages/theme/src/types/ITheme.ts
Labels: AutoMerge, Fabric 7, PR: API Modified, v8 snap: needs cherry-pick

#15568 More rename script fixes
  scripts/rename-package.ts
Labels: Area: Build System

#15558 Removing findDOMNode usage from Pivot
  change/@fluentui-react-internal-2020-10-16-11-20-39-feat-react-internal-pivot-findDOMNode.json
  change/@fluentui-react-tabs-2020-10-16-11-20-39-feat-react-internal-pivot-findDOMNode.json
  packages/react-internal/src/components/Button/BaseButton.tsx
  packages/react-tabs/src/components/Pivot/Pivot.base.tsx
Labels: Component: Pivot

#15545 fix stories for `react-image`, use images from CDN
  change/@fluentui-react-image-2020-10-16-10-32-13-fix-image-stories.json
  packages/react-examples/src/react-image/Image/Image.stories.scss
  packages/react-examples/src/react-image/Image/Image.stories.tsx
  packages/react-image/static/images/avatar/ade.jpg
  packages/react-image/static/images/avatar/chris.jpg
  packages/react-image/static/images/avatar/laura.jpg
Labels: v8 snap: potential conflict

#15572 Fix check for browser support of ResizeObserver in Pivot
  change/@fluentui-react-tabs-2020-10-16-18-21-34-overflow-tests.json
  packages/react-tabs/src/components/Pivot/Pivot.test.tsx
  packages/react-tabs/src/components/Pivot/__snapshots__/Pivot.test.tsx.snap
  packages/react-tabs/src/components/Pivot/observeResize.ts
Labels: Component: Pivot

#15557 Change ISelectedPersonaProps GetExpandedItems to be async
  apps/public-docsite/src/components/Site/Site.module.scss
  change/@fluentui-react-examples-2020-10-16-11-15-49-expandasync.json
  change/@fluentui-react-experiments-2020-10-19-10-22-23-expandasync.json
  packages/react-examples/src/react-experiments/SelectedPeopleList/SelectedPeopleList.WithGroupExpand.Example.tsx
  packages/react-experiments/src/components/SelectedItemsList/SelectedPeopleList/Items/SelectedPersona.tsx
  packages/react-experiments/src/components/SelectedItemsList/SelectedPeopleList/SelectedPeopleList.test.tsx
Labels: Package: experiments, v8 snap: potential conflict

#15596 Super deluxe rename script fixes
  scripts/rename-package.ts
Labels: Area: Build System

#15462 withSlots: refactor out redundant React.Children traversal
  change/@uifabric-foundation-2020-10-11-10-30-57-keco-slots.json
  packages/foundation/src/slots.tsx
Labels: AutoMerge

#15611 Fix web-components yarn test --production
  change/@fluentui-web-components-2020-10-20-09-05-46-fix-web-components-test.json
  packages/web-components/package.json
Labels: Fabric 7, v8 snap: needs cherry-pick, web-components

#15534 Remove KeytipData from components
  change/@fluentui-react-2020-10-15-16-02-06-xgao-keytips.json
  change/@fluentui-react-checkbox-2020-10-15-16-02-06-xgao-keytips.json
  change/@fluentui-react-experiments-2020-10-19-19-55-08-xgao-keytips.json
  change/@fluentui-react-internal-2020-10-15-16-02-06-xgao-keytips.json
  change/@fluentui-react-link-2020-10-15-16-02-06-xgao-keytips.json
  change/@fluentui-react-next-2020-10-15-16-02-06-xgao-keytips.json
  change/@fluentui-react-toggle-2020-10-15-16-02-06-xgao-keytips.json
  change/@fluentui-storybook-2020-10-15-16-02-06-xgao-keytips.json
  packages/react-checkbox/etc/react-checkbox.api.md
  packages/react-checkbox/src/components/Checkbox/Checkbox.types.ts
  packages/react-checkbox/src/next/Checkbox.base.tsx
  packages/react-checkbox/src/next/Checkbox.types.ts
  packages/react-examples/.storybook/preview.js
  packages/react-examples/src/react/Keytip/Keytips.Basic.Example.tsx
  packages/react-examples/src/react/__snapshots__/ChoiceGroup.Custom.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/ComboBox.Basic.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/ComboBox.Controlled.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/ComboBox.ControlledMulti.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/ComboBox.CustomStyled.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/ComboBox.ErrorHandling.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/ComboBox.Toggles.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/ComboBox.Virtualized.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/Dropdown.Basic.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/Dropdown.Controlled.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/Dropdown.ControlledMulti.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/Dropdown.Custom.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/Dropdown.Error.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/Dropdown.Required.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/Facepile.Basic.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/Facepile.Overflow.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/Keytips.Basic.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/ResizeGroup.OverflowSet.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/SpinButton.Basic.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/SpinButton.BasicDisabled.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/SpinButton.BasicWithEndPosition.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/SpinButton.BasicWithIcon.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/SpinButton.BasicWithIconDisabled.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/SpinButton.CustomStyled.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/SpinButton.Stateful.Example.tsx.shot
  packages/react-experiments/src/components/Pagination/__snapshots__/Pagination.test.tsx.snap
  packages/react-internal/etc/react-internal.api.md
  packages/react-internal/src/components/SpinButton/SpinButton.base.tsx
  packages/react-internal/src/components/SpinButton/SpinButton.types.ts
  packages/react-internal/src/components/SpinButton/__snapshots__/SpinButton.test.tsx.snap
  packages/react-link/etc/react-link.api.md
  packages/react-link/src/components/Link/Link.types.ts
  packages/react-next/RELEASE_NOTES.md
  packages/react-toggle/etc/react-toggle.api.md
  packages/react-toggle/src/components/Toggle/Toggle.types.ts
  packages/react-toggle/src/next/Toggle.types.ts
  packages/react/etc/react.api.md
  packages/react/src/components/ComboBox/ComboBox.test.tsx
  packages/react/src/components/ComboBox/ComboBox.tsx
  packages/react/src/components/ComboBox/ComboBox.types.ts
  packages/react/src/components/ComboBox/__snapshots__/ComboBox.test.tsx.snap
  packages/react/src/components/Dropdown/Dropdown.base.tsx
  packages/react/src/components/Dropdown/Dropdown.types.ts
  packages/react/src/components/Dropdown/__snapshots__/Dropdown.test.tsx.snap
  packages/storybook/src/decorators/index.ts
  packages/storybook/src/decorators/withCompatKeytipLayer.tsx
Labels: Component: KeytipData, Fluent UI v8, PR: API Modified, Priority 2: Normal

#15614 Command bar role
  change/@fluentui-react-internal-2020-10-20-10-32-20-commandBarRole.json
  packages/react-examples/src/react/__snapshots__/CommandBar.Basic.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/CommandBar.ButtonAs.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/CommandBar.CommandBarButtonAs.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/CommandBar.Lazy.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/CommandBar.SplitDisabled.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/DetailsList.Advanced.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/Keytips.CommandBar.Example.tsx.shot
  packages/react-internal/src/components/CommandBar/CommandBar.base.tsx
  packages/react-internal/src/components/CommandBar/__snapshots__/CommandBar.deprecated.test.tsx.snap
  packages/react-internal/src/components/CommandBar/__snapshots__/CommandBar.test.tsx.snap
Labels: AutoMerge, Component: CommandBar

#15589 Disable marquee selection undesirable in UPP
  change/@fluentui-react-experiments-2020-10-19-10-49-42-disableMarqueeSelection2.json
  packages/react-experiments/src/components/UnifiedPicker/UnifiedPeoplePicker/__snapshots__/UnifiedPeoplePicker.test.tsx.snap
  packages/react-experiments/src/components/UnifiedPicker/UnifiedPicker.tsx
  packages/react-experiments/src/components/UnifiedPicker/__snapshots__/UnifiedPicker.test.tsx.snap
Labels: Component: UnifiedPicker, Package: experiments

#15621 SearchBox: Making role on root div opt in
  change/@fluentui-react-internal-2020-10-20-13-28-47-searchboxRole.json
  packages/react-examples/src/react/__snapshots__/FloatingPeoplePicker.Basic.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/SearchBox.CustomIcon.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/SearchBox.Disabled.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/SearchBox.FullSize.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/SearchBox.Small.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/SearchBox.Underlined.Example.tsx.shot
  packages/react-internal/etc/react-internal.api.md
  packages/react-internal/src/components/SearchBox/SearchBox.base.tsx
  packages/react-internal/src/components/SearchBox/SearchBox.test.tsx
  packages/react-internal/src/components/SearchBox/SearchBox.types.ts
  packages/react-internal/src/components/SearchBox/__snapshots__/SearchBox.test.tsx.snap
Labels: AutoMerge, Component: SearchBox

#15605 Fix propagation of items and groups props from DetailsList through GroupedList
  change/@fluentui-react-2020-10-19-18-11-59-listGroupPropagation.json
  packages/react/etc/react.api.md
  packages/react/src/components/DetailsList/DetailsList.test.tsx
  packages/react/src/components/DetailsList/__snapshots__/DetailsList.test.tsx.snap
  packages/react/src/components/GroupedList/GroupedList.base.tsx
Labels: AutoMerge, Component: DetailsList, Component: GroupedList, PR: API Modified

#15624 GroupedList: Adding support for custom keyUp callback to GroupHeader
  change/@fluentui-react-2020-10-20-16-03-24-groupHeaderKeyUp.json
  packages/react/etc/react.api.md
  packages/react/src/components/GroupedList/GroupHeader.base.tsx
  packages/react/src/components/GroupedList/GroupedList.types.ts
Labels: AutoMerge, Component: GroupedList, PR: API Modified

#15622 [Ref-Conformance] Adding a forwardRef to react-internal Check
  change/@fluentui-react-internal-2020-10-20-13-37-56-fix-ref-conformance-react-internal-check.json
  packages/react-internal/etc/react-internal.api.md
  packages/react-internal/src/components/Check/Check.base.tsx
  packages/react-internal/src/components/Check/Check.test.tsx
  packages/react-internal/src/components/Check/Check.types.ts
Labels: Component: Check

#15628 GroupedList: Fixing issue where paging new data into existing groups did not trigger re-render
  change/@fluentui-react-2020-10-20-17-20-30-groupReRender.json
  packages/react/etc/react.api.md
  packages/react/src/components/DetailsList/DetailsList.test.tsx
  packages/react/src/components/DetailsList/__snapshots__/DetailsList.test.tsx.snap
  packages/react/src/components/GroupedList/GroupedList.base.tsx
Labels: AutoMerge, Component: GroupedList, PR: API Modified

#15623 UPP: Add onKeyDown prop
  change/@fluentui-react-experiments-2020-10-20-14-54-31-addkeydownprop.json
  packages/react-experiments/src/components/UnifiedPicker/UnifiedPicker.tsx
  packages/react-experiments/src/components/UnifiedPicker/UnifiedPicker.types.ts
Labels: Component: UnifiedPicker, Package: experiments

#15606 [VerticalStackedBarChart] bar gaps and rounded corners
  change/@fluentui-react-examples-2020-10-19-21-31-07-VerticalStackedBarChart-bar-styling.json
  change/@uifabric-charting-2020-10-19-21-31-07-VerticalStackedBarChart-bar-styling.json
  packages/charting/src/components/VerticalStackedBarChart/VerticalStackedBarChart.base.tsx
  packages/charting/src/components/VerticalStackedBarChart/VerticalStackedBarChart.types.ts
  packages/react-examples/src/charting/VerticalStackedBarChart/VerticalStackedBarChart.Styled.Example.tsx
Labels: Fabric 7, Package: charting, v8 snap: needs cherry-pick

#15539 Mark Fabric and Customizer deprecated
  apps/theming-designer/src/components/Header.tsx
  change/@fluentui-react-internal-2020-10-15-20-49-39-xgao-theme-deprecations.json
  change/@uifabric-tsx-editor-2020-10-15-20-49-39-xgao-theme-deprecations.json
  change/@uifabric-utilities-2020-10-15-20-49-39-xgao-theme-deprecations.json
  packages/react-internal/etc/react-internal.api.md
  packages/react-internal/src/components/Fabric/Fabric.tsx
  packages/react-monaco-editor/src/transpiler/__snapshots__/exampleTransform.test.ts.snap
  packages/react-monaco-editor/src/transpiler/exampleTransform.ts
  packages/utilities/etc/utilities.api.md
  packages/utilities/src/customizations/Customizer.tsx
Labels: Component: Customizer, Component: Fabric, PR: API Modified

#15428 Add drop to the end of the list to UPP, fix minor bugs
  change/@fluentui-react-examples-2020-10-16-11-19-05-uppdroptarget.json
  change/@fluentui-react-experiments-2020-10-19-11-03-03-uppdroptarget.json
  packages/react-examples/src/react-experiments/UnifiedPeoplePicker/DoubleUnifiedPeoplePicker.Example.tsx
  packages/react-examples/src/react-experiments/UnifiedPeoplePicker/UnifiedPeoplePicker.Example.tsx
  packages/react-examples/src/react-experiments/UnifiedPeoplePicker/UnifiedPeoplePicker.WithEdit.Example.tsx
  packages/react-experiments/src/components/SelectedItemsList/SelectedItemsList.types.ts
  packages/react-experiments/src/components/SelectedItemsList/SelectedPeopleList/Items/SelectedPersona.tsx
  packages/react-experiments/src/components/UnifiedPicker/UnifiedPeoplePicker/__snapshots__/UnifiedPeoplePicker.test.tsx.snap
  packages/react-experiments/src/components/UnifiedPicker/UnifiedPicker.tsx
  packages/react-experiments/src/components/UnifiedPicker/UnifiedPicker.types.ts
  packages/react-experiments/src/components/UnifiedPicker/__snapshots__/UnifiedPicker.test.tsx.snap
  packages/react-experiments/src/components/UnifiedPicker/hooks/useSelectedItems.ts
Labels: PR: Possible Perf Regression :snail:, v8 snap: potential conflict

#15632 7.0 - Remove MarqueeSelection from UnifiedPicker
  change/@uifabric-experiments-2020-10-21-08-47-13-7.0.json
  packages/experiments/src/components/UnifiedPicker/UnifiedPeoplePicker/__snapshots__/UnifiedPeoplePicker.test.tsx.snap
  packages/experiments/src/components/UnifiedPicker/UnifiedPicker.tsx
  packages/experiments/src/components/UnifiedPicker/__snapshots__/UnifiedPicker.test.tsx.snap
Labels: Fabric 7, Package: experiments, v8 snap: needs cherry-pick

#15553 v7: Change ISelectedPersonaProps GetExpandedItems to be async
  change/@fluentui-react-examples-2020-10-16-10-14-12-expandasync7.0.json
  change/@uifabric-experiments-2020-10-16-10-14-12-expandasync7.0.json
  packages/experiments/src/components/SelectedItemsList/SelectedPeopleList/Items/SelectedPersona.tsx
  packages/experiments/src/components/SelectedItemsList/SelectedPeopleList/SelectedPeopleList.test.tsx
  packages/react-examples/src/experiments/SelectedPeopleList/SelectedPeopleList.WithGroupExpand.Example.tsx
Labels: Fabric 7, Package: experiments

#15607 Improvement for `useBoolean` hook
  change/@uifabric-react-hooks-2020-10-22-01-00-51-master.json
  packages/react-hooks/src/useBoolean.ts
Labels: Package: react-hooks

#15634 Remove unneeded peer deps on react-dom
  apps/public-docsite-resources/package.json
  apps/public-docsite/package.json
  change/@fluentui-file-type-icons-2020-10-21-14-49-09-react-dom-dep.json
  change/@fluentui-foundation-legacy-2020-10-21-14-49-09-react-dom-dep.json
  change/@fluentui-react-focus-2020-10-21-14-49-09-react-dom-dep.json
  change/@fluentui-react-icons-mdl2-2020-10-21-14-49-09-react-dom-dep.json
  change/@fluentui-react-stylesheets-2020-10-21-14-49-09-react-dom-dep.json
  change/@fluentui-react-theme-provider-2020-10-21-14-49-09-react-dom-dep.json
  change/@fluentui-react-utilities-2020-10-21-14-49-09-react-dom-dep.json
  change/@fluentui-react-window-provider-2020-10-21-14-49-09-react-dom-dep.json
  change/@fluentui-storybook-2020-10-21-14-49-09-react-dom-dep.json
  change/@fluentui-theme-2020-10-21-14-49-09-react-dom-dep.json
  change/@uifabric-react-hooks-2020-10-21-14-49-09-react-dom-dep.json
  change/@uifabric-test-utilities-2020-10-21-14-49-09-react-dom-dep.json
  change/@uifabric-utilities-2020-10-21-14-49-09-react-dom-dep.json
  packages/a11y-testing/package.json
  packages/file-type-icons/package.json
  packages/foundation-legacy/package.json
  packages/react-examples/package.json
  packages/react-focus/package.json
  packages/react-hooks/package.json
  packages/react-icons-mdl2/package.json
  packages/react-stylesheets/package.json
  packages/react-theme-provider/package.json
  packages/react-utilities/package.json
  packages/react-window-provider/package.json
  packages/storybook/package.json
  packages/test-utilities/package.json
  packages/theme/package.json
  packages/utilities/package.json
Labels: Area: Packaging, Priority 2: Normal

#15505 introducing new feature in vertical bar chart. added line
  change/@fluentui-react-examples-2020-10-14-12-35-26-user-v-sivsar-ComboChartSimple.json
  change/@uifabric-charting-2020-10-14-12-35-26-user-v-sivsar-ComboChartSimple.json
  packages/charting/src/components/CommonComponents/CartesianChart.types.ts
  packages/charting/src/components/Legends/Legends.base.tsx
  packages/charting/src/components/Legends/Legends.styles.ts
  packages/charting/src/components/Legends/Legends.types.ts
  packages/charting/src/components/VerticalBarChart/VerticalBarChart.base.tsx
  packages/charting/src/components/VerticalBarChart/VerticalBarChart.types.ts
  packages/charting/src/types/IDataPoint.ts
  packages/react-examples/src/charting/VerticalBarChart/VerticalBarChart.Basic.Example.tsx
  packages/react-examples/src/charting/VerticalBarChart/VerticalBarChart.Styled.Example.tsx
Labels: Fabric 7, Package: charting, v8 snap: needs cherry-pick

#15554 7.0: Fix UPP drop bugs, add drop to the end of the list
  change/@fluentui-react-examples-2020-10-16-10-38-09-uppdropatend7.0.json
  change/@uifabric-experiments-2020-10-16-10-38-09-uppdropatend7.0.json
  packages/experiments/src/components/SelectedItemsList/SelectedItemsList.types.ts
  packages/experiments/src/components/SelectedItemsList/SelectedPeopleList/Items/SelectedPersona.tsx
  packages/experiments/src/components/UnifiedPicker/UnifiedPeoplePicker/__snapshots__/UnifiedPeoplePicker.test.tsx.snap
  packages/experiments/src/components/UnifiedPicker/UnifiedPicker.tsx
  packages/experiments/src/components/UnifiedPicker/UnifiedPicker.types.ts
  packages/experiments/src/components/UnifiedPicker/__snapshots__/UnifiedPicker.test.tsx.snap
  packages/experiments/src/components/UnifiedPicker/hooks/useSelectedItems.ts
  packages/react-examples/src/experiments/UnifiedPeoplePicker/DoubleUnifiedPeoplePicker.Example.tsx
  packages/react-examples/src/experiments/UnifiedPeoplePicker/UnifiedPeoplePicker.Example.tsx
  packages/react-examples/src/experiments/UnifiedPeoplePicker/UnifiedPeoplePicker.WithEdit.Example.tsx
Labels: Fabric 7, Package: experiments

#15645 web-components: sync latest change logs and remove unneeded change files
  change/@fluentui-web-components-2020-09-29-23-07-40-users-chhol-export-design-system-interface.json
  change/@fluentui-web-components-2020-10-06-09-07-15-users-nirice-close-shadow-roots.json
  change/@fluentui-web-components-2020-10-06-21-36-07-users-chhol-add-skeleton-as-new-component.json
  change/@fluentui-web-components-2020-10-08-10-29-03-users-nicholasrice-fix-card-palette-generation.json
  change/@fluentui-web-components-2020-10-08-15-22-21-users-chhol-button-font-inheritance-issues.json
  change/@fluentui-web-components-2020-10-13-15-51-52-users-chhol-reset-dialog-to-open-mode.json
  change/@fluentui-web-components-2020-10-14-11-01-46-users-nicholasrice-update-card-background-behavior.json
  change/@fluentui-web-components-2020-10-20-09-05-46-fix-web-components-test.json
  packages/web-components/CHANGELOG.json
  packages/web-components/CHANGELOG.md
Labels: web-components

#15516 Implementing useUnmount, useMount, and useMountSync hooks within react-hooks package
  change/@fluentui-react-hooks-2020-10-22-11-25-15-feat-react-hooks-useMount-useUnmount.json
  packages/react-hooks/README.md
  packages/react-hooks/etc/react-hooks.api.md
  packages/react-hooks/src/index.ts
  packages/react-hooks/src/useMount.test.tsx
  packages/react-hooks/src/useMount.ts
  packages/react-hooks/src/useMountSync.test.tsx
  packages/react-hooks/src/useMountSync.ts
  packages/react-hooks/src/useUnmount.test.tsx
  packages/react-hooks/src/useUnmount.ts
Labels: Package: react-hooks, v8 snap: potential conflict

#15399 Additional ChoiceGroup v8 cleanup
  change/@fluentui-react-internal-2020-10-22-00-02-17-choicegroup-updates.json
  change/@fluentui-react-next-2020-10-22-00-02-17-choicegroup-updates.json
  packages/react-examples/src/react/ChoiceGroup/ChoiceGroup.Custom.Example.tsx
  packages/react-internal/etc/react-internal.api.md
  packages/react-internal/src/components/ChoiceGroup/ChoiceGroup.base.tsx
  packages/react-internal/src/components/ChoiceGroup/ChoiceGroup.types.ts
  packages/react-internal/src/components/ChoiceGroup/ChoiceGroupOption/ChoiceGroupOption.base.tsx
  packages/react-internal/src/components/ChoiceGroup/ChoiceGroupOption/ChoiceGroupOption.types.ts
  packages/react-next/RELEASE_NOTES.md
Labels: Component: ChoiceGroup, PR: API Modified

#15650 Fixing input selection in UnifiedPicker
  change/@fluentui-react-experiments-2020-10-22-13-19-40-u-nebhatna-fixInputSelection.json
  packages/react-examples/src/react-experiments/UnifiedPeoplePicker/DoubleUnifiedPeoplePicker.Example.tsx
  packages/react-experiments/src/components/UnifiedPicker/UnifiedPicker.tsx
  packages/react-experiments/src/components/UnifiedPicker/UnifiedPicker.types.ts
Labels: Component: UnifiedPicker, Package: experiments

#15662 Missed to delete a file from 7.0 branch
  packages/a11y-testing/src/index.ts
Labels: Fabric 7

#15579 Charting: Horizontal bar chart basic unit test cases
  change/@uifabric-charting-2020-10-18-12-20-18-user-v-jasha-HorizontalChartTestCases.json
  packages/charting/src/components/HorizontalBarChart/HorizontalBarChart.test.tsx
Labels: Fabric 7, Package: charting, v8 snap: needs cherry-pick

#15578 Charting: Unit test cases to the Stacked bar chart and Multi stacked bar charts.
  change/@uifabric-charting-2020-10-18-11-23-47-user-v-jasha-unitTestCasesForStackedbarCharts.json
  packages/charting/src/components/StackedBarChart/MultiStackedBarChart.test.tsx
  packages/charting/src/components/StackedBarChart/StackedBarChart.test.tsx
  packages/charting/src/components/StackedBarChart/__snapshots__/MultiStackedBarChart.test.tsx.snap
  packages/charting/src/components/StackedBarChart/__snapshots__/StackedBarChart.test.tsx.snap
Labels: Fabric 7, Package: charting, v8 snap: needs cherry-pick

#15522 Charting: Vertical stacked bar chart unit test cases.
  change/@uifabric-charting-2020-10-15-11-47-36-user-v-jasha-VSBChartUnitTestCases.json
  packages/charting/src/components/VerticalStackedBarChart/VerticalStackedBarChart.test.tsx
  packages/charting/src/components/VerticalStackedBarChart/__snapshots__/VerticalStackedBarChart.test.tsx.snap
Labels: Fabric 7, Package: charting, v8 snap: needs cherry-pick

#15640 Charting: Basic unit test cases for Heat map chart and Pie chart
  change/@uifabric-charting-2020-10-22-11-09-23-user-v-jasha-donutNpieChartUnitTestCases.json
  packages/charting/src/components/HeatMapChart/HeatMapChart.base.tsx
  packages/charting/src/components/HeatMapChart/HeatMapChart.test.tsx
  packages/charting/src/components/HeatMapChart/__snapshots__/HeatMapChart.test.tsx.snap
  packages/charting/src/components/PieChart/PieChart.test.tsx
  packages/charting/src/components/PieChart/__snapshots__/PieChart.test.tsx.snap
Labels: Fabric 7, Package: charting, v8 snap: needs cherry-pick

#15639 Charting: Refactoring Vertical Bar Chart via implementation of Cartesian chart
  change/@fluentui-react-charting-2020-10-21-19-09-10-verticalBarChart.json
  packages/react-charting/src/components/CommonComponents/CartesianChart.base.tsx
  packages/react-charting/src/components/VerticalBarChart/VerticalBarChart.base.tsx
  packages/react-charting/src/components/VerticalBarChart/VerticalBarChart.styles.ts
  packages/react-charting/src/components/VerticalBarChart/VerticalBarChart.tsx
  packages/react-charting/src/components/VerticalBarChart/VerticalBarChart.types.ts
  packages/react-charting/src/components/VerticalBarChart/__snapshots__/VerticalBarChart.test.tsx.snap
  packages/react-charting/src/utilities/utilities.ts
  packages/react-examples/src/react-charting/VerticalBarChart/VerticalBarChart.Basic.Example.tsx
  packages/react-examples/src/react-charting/VerticalBarChart/VerticalBarChart.Dynamic.Example.tsx
  packages/react-examples/src/react-charting/VerticalBarChart/VerticalBarChart.Styled.Example.tsx
Labels: Package: charting

#15665 Fix 7.0 build: Update charting snapshots
  change/@uifabric-charting-2020-10-22-17-32-27-fix-build-7.0.json
  packages/charting/src/components/VerticalStackedBarChart/__snapshots__/VerticalStackedBarChart.test.tsx.snap
Labels: Fabric 7, Package: charting

#15663 Enable release from master
  azure-pipelines.release.yml
  change/@fluentui-react-conformance-2020-10-20-09-58-43-rename-build.json
  change/@fluentui-react-examples-2020-10-16-11-19-05-uppdroptarget.json
  change/@fluentui-storybook-2020-10-20-09-58-43-rename-build.json
  change/@fluentui-storybook-2020-10-21-14-49-09-react-dom-dep.json
Labels: Fluent UI v8, Status: Do Not Merge 🚫

#15649 Update fluid note filetype icon
  change/@uifabric-file-type-icons-2020-10-22-13-18-54-caperez-fluid_note_filetype_icon.json
  packages/file-type-icons/src/FileTypeIconMap.ts
  packages/file-type-icons/src/initializeFileTypeIcons.tsx
Labels: Area: Icons, Fabric 7, Package: file-type-icons, v8 snap: needs cherry-pick

#15654 [Ref-Conformance] Adding a forwardRef to react-internal VerticalDivider
  change/@fluentui-react-internal-2020-10-22-14-40-18-fix-ref-conformance-react-internal-vertical-divider.json
  packages/react-internal/etc/react-internal.api.md
  packages/react-internal/src/components/Divider/VerticalDivider.base.tsx
  packages/react-internal/src/components/Divider/VerticalDivider.test.tsx
  packages/react-internal/src/components/Divider/VerticalDivider.types.ts
Labels: Component: Divider

#15647 Area chart data memoized
  change/@fluentui-react-charting-2020-10-22-11-56-11-areaChartDataMemoized.json
  packages/react-charting/src/components/AreaChart/AreaChart.base.tsx
  packages/react-examples/src/react-charting/AreaChart/AreaChart.Basic.Example.tsx
Labels: Component: AreaChart, Package: charting

#15633 Azure Theme: Updating control outlines, pivot indentation and label weight
  change/@fluentui-azure-themes-2020-10-22-15-51-06-azurePivotsDropdowns.json
  packages/azure-themes/src/azure/AzureThemeDark.ts
  packages/azure-themes/src/azure/AzureThemeHighContrastDark.ts
  packages/azure-themes/src/azure/AzureThemeHighContrastLight.ts
  packages/azure-themes/src/azure/AzureThemeLight.ts
  packages/azure-themes/src/azure/Constants.ts
  packages/azure-themes/src/azure/styles/Callout.styles.ts
  packages/azure-themes/src/azure/styles/ComboBox.styles.ts
  packages/azure-themes/src/azure/styles/DropDown.styles.ts
  packages/azure-themes/src/azure/styles/Label.styles.ts
  packages/azure-themes/src/azure/styles/Pivot.styles.ts
  packages/react-examples/src/azure-themes/stories/Themes/Themes.stories.tsx
  packages/react-examples/src/azure-themes/stories/components/dropdown.stories.tsx
Labels: Package: azure-themes

#15667 Add missing package to run:publish
  scripts/monorepo/runPublished.js
Labels: Area: Build System

#15643 Fixed doc generation for icon shorthand prop with hack
  packages/fluentui/react-northstar/src/components/Icon/Icon.tsx
Labels: Fluent UI react-northstar

#15668 Fix syncpack for northstar packages
  package.json
Labels: Area: Build System

#15671 Backport propGenerators fix for loader size
  packages/fluentui/docs/src/components/ComponentPlayground/propGenerators.tsx
Labels: Fluent UI react-northstar

#15672 use the same version for codesandbox as all other dependencies
  packages/fluentui/docs/src/components/Playground/renderConfig.ts
Labels: Fluent UI react-northstar

#15674 Support doc versions manifest file for version dropdown
  packages/fluentui/docs/package.json
  packages/fluentui/docs/src/components/Sidebar/VersionDropdown.tsx
  packages/fluentui/docs/src/index.html
  yarn.lock
Labels: Fluent UI react-northstar

#15675 Docversions manifest 47
  packages/fluentui/docs/package.json
  packages/fluentui/docs/src/components/Sidebar/VersionDropdown.tsx
  packages/fluentui/docs/src/index.html
  yarn.lock
Labels: Fluent UI react-northstar

#15432 Add option for selectable headers and footers to FloatingSuggestionsComposite (and therefor the UnifiedPicker)
  change/@fluentui-react-examples-2020-10-08-11-30-24-headerfooterselectable.json
  change/@fluentui-react-experiments-2020-10-22-10-34-24-headerfooterselectable.json
  packages/react-examples/src/react-experiments/FloatingPeopleSuggestions/FloatingPeopleSuggestions.HeaderFooter.Example.tsx
  packages/react-examples/src/react-experiments/FloatingPeopleSuggestions/FloatingSuggestionsPage.tsx
  packages/react-examples/src/react-experiments/UnifiedPeoplePicker/UnifiedPeoplePicker.Example.tsx
  packages/react-experiments/src/components/FloatingSuggestionsComposite/FloatingSuggestions.tsx
  packages/react-experiments/src/components/FloatingSuggestionsComposite/FloatingSuggestions.types.ts
  packages/react-experiments/src/components/FloatingSuggestionsComposite/FloatingSuggestionsHeaderFooterItem/FloatingSuggestionsHeaderFooterItem.styles.ts
  packages/react-experiments/src/components/FloatingSuggestionsComposite/FloatingSuggestionsHeaderFooterItem/FloatingSuggestionsHeaderFooterItem.tsx
  packages/react-experiments/src/components/FloatingSuggestionsComposite/FloatingSuggestionsHeaderFooterItem/FloatingSuggestionsHeaderFooterItem.types.ts
  packages/react-experiments/src/components/FloatingSuggestionsComposite/FloatingSuggestionsList/FloatingSuggestionsList.tsx
  packages/react-experiments/src/components/FloatingSuggestionsComposite/FloatingSuggestionsList/FloatingSuggestionsList.types.ts
  packages/react-experiments/src/components/UnifiedPicker/UnifiedPicker.tsx
  packages/react-experiments/src/components/UnifiedPicker/hooks/useFloatingSuggestionItems.ts
Labels: v8 snap: potential conflict

#15676 7.0: Fixing input selection in the UnifiedPicker
  change/@fluentui-react-examples-2020-10-23-10-30-34-fixInputSelection7.0.json
  change/@uifabric-experiments-2020-10-23-10-30-34-fixInputSelection7.0.json
  packages/experiments/src/components/UnifiedPicker/UnifiedPicker.tsx
  packages/experiments/src/components/UnifiedPicker/UnifiedPicker.types.ts
  packages/react-examples/src/experiments/UnifiedPeoplePicker/DoubleUnifiedPeoplePicker.Example.tsx
Labels: Component: UnifiedPicker, Fabric 7, Package: experiments

#15655 Fix copy when keyboard focus is on the SelectedItemsList in the UnifiedPicker
  change/@fluentui-react-experiments-2020-10-22-14-52-53-ctrlclistfix.json
  packages/react-experiments/src/components/SelectedItemsList/SelectedItemsList.styles.ts
  packages/react-experiments/src/components/SelectedItemsList/SelectedItemsList.test.tsx
  packages/react-experiments/src/components/SelectedItemsList/SelectedItemsList.tsx
  packages/react-experiments/src/components/SelectedItemsList/SelectedItemsList.types.ts
  packages/react-experiments/src/components/SelectedItemsList/SelectedPeopleList/__snapshots__/SelectedPeopleList.test.tsx.snap
  packages/react-experiments/src/components/UnifiedPicker/UnifiedPeoplePicker/UnifiedPeoplePicker.test.tsx
  packages/react-experiments/src/components/UnifiedPicker/UnifiedPeoplePicker/__snapshots__/UnifiedPeoplePicker.test.tsx.snap
  packages/react-experiments/src/components/UnifiedPicker/__snapshots__/UnifiedPicker.test.tsx.snap
Labels: Component: SelectedItemsList, Package: experiments

#15555 7.0: Add option for selectable headers and footers to FloatingSuggestionsComposite (and therefor the UnifiedPicker)
  change/@fluentui-react-examples-2020-10-16-11-01-14-headerfooterselectable7.0.json
  change/@uifabric-experiments-2020-10-16-11-01-14-headerfooterselectable7.0.json
  packages/experiments/src/components/FloatingSuggestionsComposite/FloatingSuggestions.tsx
  packages/experiments/src/components/FloatingSuggestionsComposite/FloatingSuggestions.types.ts
  packages/experiments/src/components/FloatingSuggestionsComposite/FloatingSuggestionsHeaderFooterItem/FloatingSuggestionsHeaderFooterItem.styles.ts
  packages/experiments/src/components/FloatingSuggestionsComposite/FloatingSuggestionsHeaderFooterItem/FloatingSuggestionsHeaderFooterItem.tsx
  packages/experiments/src/components/FloatingSuggestionsComposite/FloatingSuggestionsHeaderFooterItem/FloatingSuggestionsHeaderFooterItem.types.ts
  packages/experiments/src/components/FloatingSuggestionsComposite/FloatingSuggestionsList/FloatingSuggestionsList.tsx
  packages/experiments/src/components/FloatingSuggestionsComposite/FloatingSuggestionsList/FloatingSuggestionsList.types.ts
  packages/experiments/src/components/UnifiedPicker/UnifiedPicker.tsx
  packages/experiments/src/components/UnifiedPicker/hooks/useFloatingSuggestionItems.ts
  packages/react-examples/src/experiments/FloatingPeopleSuggestions/FloatingPeopleSuggestions.HeaderFooter.Example.tsx
  packages/react-examples/src/experiments/FloatingPeopleSuggestions/FloatingSuggestionsPage.tsx
  packages/react-examples/src/experiments/UnifiedPeoplePicker/UnifiedPeoplePicker.Example.tsx
Labels: Fabric 7, Package: experiments

#15680 7.0: Fix copy when keyboard focus is on the SelectedItemsList in the UnifiedPicker
  change/@uifabric-experiments-2020-10-23-13-07-05-ctrlclistfix7.0.json
  packages/experiments/src/components/SelectedItemsList/SelectedItemsList.styles.ts
  packages/experiments/src/components/SelectedItemsList/SelectedItemsList.test.tsx
  packages/experiments/src/components/SelectedItemsList/SelectedItemsList.tsx
  packages/experiments/src/components/SelectedItemsList/SelectedItemsList.types.ts
  packages/experiments/src/components/SelectedItemsList/SelectedPeopleList/__snapshots__/SelectedPeopleList.test.tsx.snap
  packages/experiments/src/components/UnifiedPicker/UnifiedPeoplePicker/UnifiedPeoplePicker.test.tsx
  packages/experiments/src/components/UnifiedPicker/UnifiedPeoplePicker/__snapshots__/UnifiedPeoplePicker.test.tsx.snap
  packages/experiments/src/components/UnifiedPicker/__snapshots__/UnifiedPicker.test.tsx.snap
Labels: Fabric 7, Package: experiments

#15677 7.0: Adding an optional SelectionZone class name and also fixing remaining bugs in UnifiedPicker
  change/@fluentui-react-examples-2020-10-23-11-04-05-remainingFluentBugs7.0.json
  change/@uifabric-experiments-2020-10-23-11-04-05-remainingFluentBugs7.0.json
  change/office-ui-fabric-react-2020-10-23-11-04-05-remainingFluentBugs7.0.json
  packages/experiments/src/components/FloatingSuggestionsComposite/FloatingSuggestionsList/FloatingSuggestionsList.styles.ts
  packages/experiments/src/components/UnifiedPicker/UnifiedPeoplePicker/__snapshots__/UnifiedPeoplePicker.test.tsx.snap
  packages/experiments/src/components/UnifiedPicker/UnifiedPicker.styles.ts
  packages/experiments/src/components/UnifiedPicker/UnifiedPicker.tsx
  packages/experiments/src/components/UnifiedPicker/__snapshots__/UnifiedPicker.test.tsx.snap
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/utilities/selection/SelectionZone.tsx
  packages/react-examples/src/experiments/UnifiedPeoplePicker/UnifiedPeoplePicker.Example.tsx
Labels: Fabric 7, PR: API Modified

#15682 Update lage to pick up some bug fixes (v7)
  package.json
  yarn.lock
Labels: Area: Build System, AutoMerge, Fabric 7
