Repository microsoft/fluentui, pull requests merged in 2020-12, with the labels that each got.

#16103 Chore(DateTimeUtils): copy/move date-time-utils
  packages/fluentui/react-northstar/package.json
  packages/fluentui/react-northstar/src/components/Datepicker/Datepicker.tsx
  packages/fluentui/react-northstar/src/components/Datepicker/DatepickerCalendar.tsx
  packages/fluentui/react-northstar/src/components/Datepicker/DatepickerCalendarHeader.tsx
  packages/fluentui/react-northstar/src/components/Datepicker/navigateToNewDate.tsx
  packages/fluentui/react-northstar/src/components/Datepicker/validateDate.tsx
  packages/fluentui/react-northstar/src/index.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Datepicker/datepickerVariables.ts
  packages/fluentui/react-northstar/src/utils/date-time-utilities/dateFormatting/dateFormatting.defaults.ts
  packages/fluentui/react-northstar/src/utils/date-time-utilities/dateFormatting/dateFormatting.types.ts
  packages/fluentui/react-northstar/src/utils/date-time-utilities/dateFormatting/formatDay.ts
  packages/fluentui/react-northstar/src/utils/date-time-utilities/dateFormatting/formatMonthDayYear.ts
  packages/fluentui/react-northstar/src/utils/date-time-utilities/dateFormatting/formatMonthYear.ts
  packages/fluentui/react-northstar/src/utils/date-time-utilities/dateFormatting/formatYear.ts
  packages/fluentui/react-northstar/src/utils/date-time-utilities/dateFormatting/index.ts
  packages/fluentui/react-northstar/src/utils/date-time-utilities/dateGrid/dateGrid.types.ts
  packages/fluentui/react-northstar/src/utils/date-time-utilities/dateGrid/findAvailableDate.ts
  packages/fluentui/react-northstar/src/utils/date-time-utilities/dateGrid/getBoundedDateRange.ts
  packages/fluentui/react-northstar/src/utils/date-time-utilities/dateGrid/getDateRangeTypeToUse.ts
  packages/fluentui/react-northstar/src/utils/date-time-utilities/dateGrid/getDayGrid.ts
  packages/fluentui/react-northstar/src/utils/date-time-utilities/dateGrid/index.ts
  packages/fluentui/react-northstar/src/utils/date-time-utilities/dateGrid/isAfterMaxDate.ts
  packages/fluentui/react-northstar/src/utils/date-time-utilities/dateGrid/isBeforeMinDate.ts
  packages/fluentui/react-northstar/src/utils/date-time-utilities/dateGrid/isContiguous.ts
  packages/fluentui/react-northstar/src/utils/date-time-utilities/dateGrid/isRestrictedDate.ts
  packages/fluentui/react-northstar/src/utils/date-time-utilities/dateMath/dateMath.ts
  packages/fluentui/react-northstar/src/utils/date-time-utilities/dateValues/dateValues.ts
  packages/fluentui/react-northstar/src/utils/date-time-utilities/dateValues/timeConstants.ts
  packages/fluentui/react-northstar/src/utils/date-time-utilities/index.ts
  packages/fluentui/react-northstar/test/specs/components/Datepicker/navigateToNewDate-test.tsx
  packages/fluentui/react-northstar/test/specs/components/Datepicker/validateDate-test.tsx
  packages/fluentui/react-northstar/test/specs/utils/date-time-utils/dateFormatting/formatDay-test.ts
  packages/fluentui/react-northstar/test/specs/utils/date-time-utils/dateFormatting/formatMonthDayYear-test.ts
  packages/fluentui/react-northstar/test/specs/utils/date-time-utils/dateFormatting/formatMonthYear-test.ts
  packages/fluentui/react-northstar/test/specs/utils/date-time-utils/dateFormatting/formatYear-test.ts
  packages/fluentui/react-northstar/test/specs/utils/date-time-utils/dateGrid/__snapshots__/getDayGrid-test.ts.snap
  packages/fluentui/react-northstar/test/specs/utils/date-time-utils/dateGrid/findAvailableDate-test.ts
  packages/fluentui/react-northstar/test/specs/utils/date-time-utils/dateGrid/getBoundedDateRange-test.ts
  packages/fluentui/react-northstar/test/specs/utils/date-time-utils/dateGrid/getDateRangeTypeToUse-test.ts
  packages/fluentui/react-northstar/test/specs/utils/date-time-utils/dateGrid/getDayGrid-test.ts
  packages/fluentui/react-northstar/test/specs/utils/date-time-utils/dateGrid/isAfterMaxDate-test.ts
  packages/fluentui/react-northstar/test/specs/utils/date-time-utils/dateGrid/isBeforeMinDate-test.ts
  packages/fluentui/react-northstar/test/specs/utils/date-time-utils/dateGrid/isContiguous-test.ts
  packages/fluentui/react-northstar/test/specs/utils/date-time-utils/dateGrid/isRestrictedDate-test.ts
  packages/fluentui/react-northstar/test/specs/utils/date-time-utils/dateMath/dateMath-test.ts
  yarn.lock
Labels: Fluent UI react-northstar

#16074 Fix mergeStyles handling of calc() in margin and padding properties
  change/@fluentui-merge-styles-2020-11-25-16-58-48-15842-merge-styles-calc.json
  packages/merge-styles/src/styleToClassName.test.ts
  packages/merge-styles/src/styleToClassName.ts
  packages/merge-styles/src/tokenizeWithParentheses.test.ts
  packages/merge-styles/src/tokenizeWithParentheses.ts
Labels: Package: merge-styles

#16109 SpinButton: remove default min and max
  .github/CODEOWNERS
  change/@fluentui-react-internal-2020-12-01-14-40-15-spinbutton-max.json
  packages/react-examples/src/react/Keytip/Keytips.Basic.Example.tsx
  packages/react-internal/etc/react-internal.api.md
  packages/react-internal/src/components/SpinButton/SpinButton.base.tsx
  packages/react-internal/src/components/SpinButton/SpinButton.test.tsx
  packages/react-internal/src/components/SpinButton/SpinButton.types.ts
Labels: Component: SpinButton, PR: Possible Perf Regression :snail:

#16096 Dropdown: fix option text truncation for single-select
  apps/vr-tests/src/stories/Dropdown.stories.tsx
  change/@fluentui-react-2020-11-30-12-01-49-dropdown-option-trunction.json
  packages/react/src/components/Dropdown/Dropdown.styles.ts
Labels: Component: Dropdown

#16113 Dropdown: fix option text truncation for single-select (cherry-pick to 7.0)
  apps/vr-tests/src/stories/Dropdown.stories.tsx
  change/office-ui-fabric-react-2020-12-01-18-25-58-dropdown-option-fix.json
  packages/office-ui-fabric-react/src/components/Dropdown/Dropdown.styles.ts
Labels: Component: Dropdown, Fabric 7

#16112 Add method for supporting icon only button variations
  change/@fluentui-web-components-2020-12-01-17-53-49-users-chhol-add-default-slotted-nodes-behavior-for-button.json
  packages/web-components/docs/api-report.md
  packages/web-components/package.json
  packages/web-components/src/button/index.ts
  packages/web-components/src/styles/patterns/button.ts
  yarn.lock
Labels: web-components

#16084 fix(carousel): fix variables propagation
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/components/Carousel/Carousel.tsx
Labels: AutoMerge, Fluent UI react-northstar, PR: Possible Perf Regression :snail:

#16118 chore(Carousel): pass active index onActiveIndexChange
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/components/Carousel/Carousel.tsx
  packages/fluentui/react-northstar/test/specs/components/Carousel/Carousel-test.tsx
Labels: Fluent UI react-northstar

#16108 Toggle: update pill background color on hover to use semanticColors from theme
  change/@fluentui-react-toggle-2020-12-01-13-26-59-fix-toggle-styles.json
  packages/react-toggle/src/components/Toggle/Toggle.styles.ts
Labels: Area: Theming, Component: Toggle

#16114 Toggle: update pill background color on hover to use semanticColors from theme (7.0)
  change/office-ui-fabric-react-2020-12-01-18-31-21-fix-toggle-styles-7.json
  packages/office-ui-fabric-react/src/components/Toggle/Toggle.styles.ts
Labels: Area: Theming, Component: Toggle, Fabric 7

#16111 Fix mergeStyles handling of !important for margin and padding
  change/@fluentui-merge-styles-2020-12-01-16-51-16-15424-mergeStyles-important.json
  packages/merge-styles/src/styleToClassName.test.ts
  packages/merge-styles/src/styleToClassName.ts
Labels: Package: merge-styles

#16119 chore(Popup): add best practice how to pass aria-labelledby
  packages/fluentui/CHANGELOG.md
  packages/fluentui/docs/src/examples/components/Popup/BestPractices/PopupBestPractices.tsx
Labels: Fluent UI react-northstar

#15974 Updated PowerBI and Whiteboard filetype icons. Adding support for .mcworld Minecraft distinct file icons.
  change/@uifabric-file-type-icons-2020-11-18-08-54-21-caperez-powerbi_brandupdate.json
  packages/file-type-icons/src/FileIconType.ts
  packages/file-type-icons/src/FileTypeIconMap.ts
  packages/file-type-icons/src/getFileTypeIconProps.ts
  packages/file-type-icons/src/initializeFileTypeIcons.tsx
Labels: Area: Icons, Fabric 7, Package: file-type-icons, v8 snap: needs cherry-pick

#15948 Remove focus for horizontal bar chart grey area
  change/@fluentui-react-charting-2020-11-16-20-07-06-user-v-gorraj-Bug_4221798.json
  packages/react-charting/src/components/HorizontalBarChart/HorizontalBarChart.base.tsx
Labels: Package: charting

#15993 Charting: Minor edits to Cartesian charts regarding x axis tick values tooltip
  change/@fluentui-react-examples-2020-11-19-13-12-45-user-v-jasha-ShowTooltipFix.json
  change/@uifabric-charting-2020-11-19-13-12-45-user-v-jasha-ShowTooltipFix.json
  packages/charting/src/components/AreaChart/AreaChart.base.tsx
  packages/charting/src/components/AreaChart/AreaChart.styles.ts
  packages/charting/src/components/AreaChart/__snapshots__/AreaChart.test.tsx.snap
  packages/charting/src/components/CommonComponents/CartesianChart.base.tsx
  packages/charting/src/components/CommonComponents/CartesianChart.types.ts
  packages/charting/src/components/LineChart/LineChart.base.tsx
  packages/charting/src/components/LineChart/LineChart.styles.ts
  packages/charting/src/components/LineChart/__snapshots__/LineChart.test.tsx.snap
  packages/charting/src/components/VerticalBarChart/VerticalBarChart.base.tsx
  packages/charting/src/components/VerticalBarChart/VerticalBarChart.styles.ts
  packages/charting/src/components/VerticalBarChart/__snapshots__/VerticalBarChart.test.tsx.snap
  packages/charting/src/components/VerticalStackedBarChart/VerticalStackedBarChart.base.tsx
  packages/charting/src/components/VerticalStackedBarChart/VerticalStackedBarChart.styles.ts
  packages/charting/src/components/VerticalStackedBarChart/__snapshots__/VerticalStackedBarChart.test.tsx.snap
  packages/charting/src/utilities/utilities.ts
  packages/react-examples/src/charting/AreaChart/AreaChart.Styled.Example.tsx
  packages/react-examples/src/charting/LineChart/LineChart.Styled.Example.tsx
  packages/react-examples/src/charting/VerticalBarChart/VerticalBarChart.AxisTooltip.Example.tsx
  packages/react-examples/src/charting/VerticalBarChart/VerticalBarChartPage.tsx
  packages/react-examples/src/charting/VerticalStackedBarChart/VerticalStackedBarChart.AxisTooltip.Example.tsx
  packages/react-examples/src/charting/VerticalStackedBarChart/VerticalStackedBarChartPage.tsx
Labels: Fabric 7, Package: charting, v8 snap: needs cherry-pick

#16104 fix(useTriggerElement): update condition
  packages/fluentui/react-bindings/src/hooks/useTriggerElement.tsx
  packages/fluentui/react-bindings/test/hooks/useTriggerElement-test.tsx
Labels: AutoMerge, Fluent UI react-northstar

#16129 Add updated sample avatar images
  packages/fluentui/CHANGELOG.md
  packages/fluentui/docs/src/public/images/avatar/AllanMunger.jpg
  packages/fluentui/docs/src/public/images/avatar/AmandaBrady.jpg
  packages/fluentui/docs/src/public/images/avatar/AshleyMcCarthy.jpg
  packages/fluentui/docs/src/public/images/avatar/CameronEvans.jpg
  packages/fluentui/docs/src/public/images/avatar/CarlosSlattery.jpg
  packages/fluentui/docs/src/public/images/avatar/CarolePoland.jpg
  packages/fluentui/docs/src/public/images/avatar/CecilFolk.jpg
  packages/fluentui/docs/src/public/images/avatar/CelesteBurton.jpg
  packages/fluentui/docs/src/public/images/avatar/CharlotteWaltson.jpg
  packages/fluentui/docs/src/public/images/avatar/ColinBallinger.jpg
  packages/fluentui/docs/src/public/images/avatar/DaisyPhillips.jpg
  packages/fluentui/docs/src/public/images/avatar/ElliotWoodward.jpg
  packages/fluentui/docs/src/public/images/avatar/ElviaAtkins.jpg
  packages/fluentui/docs/src/public/images/avatar/ErikNason.jpg
  packages/fluentui/docs/src/public/images/avatar/HenryBrill.jpg
  packages/fluentui/docs/src/public/images/avatar/IsaacFielder.jpg
  packages/fluentui/docs/src/public/images/avatar/JohnieMcConnell.jpg
  packages/fluentui/docs/src/public/images/avatar/KatLarsson.jpg
  packages/fluentui/docs/src/public/images/avatar/KatriAthokas.jpg
  packages/fluentui/docs/src/public/images/avatar/KevinSturgis.jpg
  packages/fluentui/docs/src/public/images/avatar/KristinPatterson.jpg
  packages/fluentui/docs/src/public/images/avatar/LydiaBauer.jpg
  packages/fluentui/docs/src/public/images/avatar/MauricioAugust.jpg
  packages/fluentui/docs/src/public/images/avatar/MiguelGarcia.jpg
  packages/fluentui/docs/src/public/images/avatar/MonaKane.jpg
  packages/fluentui/docs/src/public/images/avatar/RobertTolbert.jpg
  packages/fluentui/docs/src/public/images/avatar/RobinCounts.jpg
  packages/fluentui/docs/src/public/images/avatar/TimDeboer.jpg
  packages/fluentui/docs/src/public/images/avatar/WandaHoward.jpg
Labels: Fluent UI react-northstar

#16133 Add missing ComboBox interfaces
  change/@fluentui-react-2020-12-03-14-07-32-icombo.json
  packages/react/etc/react.api.md
  packages/react/src/components/ComboBox/index.ts
Labels: Component: ComboBox, PR: API Modified

#16137 SpinButton: Add onChange
  change/@fluentui-react-internal-2020-12-03-19-49-56-spinbutton-onchange-2.json
  packages/react-examples/src/react/SpinButton/SpinButton.Controlled.Example.tsx
  packages/react-examples/src/react/SpinButton/SpinButton.Suffix.Example.tsx
  packages/react-examples/src/react/SpinButton/SpinButton.doc.tsx
  packages/react-examples/src/react/__snapshots__/SpinButton.Controlled.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/SpinButton.Suffix.Example.tsx.shot
  packages/react-internal/etc/react-internal.api.md
  packages/react-internal/src/components/SpinButton/SpinButton.base.tsx
  packages/react-internal/src/components/SpinButton/SpinButton.test.tsx
  packages/react-internal/src/components/SpinButton/SpinButton.types.ts
Labels: Component: SpinButton

#16138 date-time-utilities cleanup
  .github/CODEOWNERS
  change/@fluentui-date-time-utilities-2020-12-03-20-39-57-datetime-cleanup.json
  packages/date-time-utilities/etc/date-time-utilities.api.md
  packages/date-time-utilities/src/dateFormatting/dateFormatting.defaults.ts
  packages/date-time-utilities/src/dateFormatting/dateFormatting.test.ts
  packages/date-time-utilities/src/dateFormatting/dateFormatting.types.ts
  packages/date-time-utilities/src/dateFormatting/formatDay.test.ts
  packages/date-time-utilities/src/dateFormatting/formatDay.ts
  packages/date-time-utilities/src/dateFormatting/formatMonthDayYear.test.ts
  packages/date-time-utilities/src/dateFormatting/formatMonthDayYear.ts
  packages/date-time-utilities/src/dateFormatting/formatMonthYear.test.ts
  packages/date-time-utilities/src/dateFormatting/formatMonthYear.ts
  packages/date-time-utilities/src/dateFormatting/formatYear.test.ts
  packages/date-time-utilities/src/dateFormatting/formatYear.ts
  packages/date-time-utilities/src/dateFormatting/index.ts
  packages/date-time-utilities/src/dateGrid/dateGrid.types.ts
  packages/date-time-utilities/src/dateGrid/findAvailableDate.test.ts
  packages/date-time-utilities/src/dateGrid/getBoundedDateRange.test.ts
  packages/date-time-utilities/src/dateGrid/isAfterMaxDate.test.ts
  packages/date-time-utilities/src/dateGrid/isBeforeMinDate.test.ts
  packages/date-time-utilities/src/dateGrid/isRestrictedDate.test.ts
Labels: Package: date-time

#16148 Update experiments SelectedPeopleList edit examples to be functional components
  packages/react-examples/src/react-experiments/SelectedPeopleList/SelectedPeopleList.WithEdit.Example.tsx
  packages/react-examples/src/react-experiments/SelectedPeopleList/SelectedPeopleList.WithEditInContextMenu.Example.tsx
Labels: Area: Website

#16145 fix(Tree): avoid focus goes to tree element in the dom
  packages/fluentui/CHANGELOG.md
  packages/fluentui/accessibility/src/behaviors/Tree/treeBehavior.ts
Labels: Fluent UI react-northstar

#16135 Update and clean up Avatar stories for new example images
  change/@fluentui-react-avatar-2020-12-03-17-37-33-avatar-examples.json
  packages/react-avatar/static/images/avatar/hexagon.svg
  packages/react-examples/src/react-avatar/Avatar/Avatar.stories.tsx
  packages/react-examples/src/react-avatar/Avatar/AvatarExamples.tsx
Labels: Component: Avatar

#15867 feat(Themes): 2.0 theme
  change/@fluentui-react-focus-2020-12-08-13-40-41-teams-v2-themes.json
  packages/fluentui/CHANGELOG.md
  packages/fluentui/docs/src/app.tsx
  packages/fluentui/docs/src/components/ComponentDoc/ComponentDoc.tsx
  packages/fluentui/docs/src/components/DocPage/DocPage.tsx
  packages/fluentui/docs/src/components/ThemeDropdown.tsx
  packages/fluentui/docs/src/context/ThemeContext.tsx
  packages/fluentui/docs/src/views/ColorPalette.tsx
  packages/fluentui/docs/src/views/ColorSchemes.tsx
  packages/fluentui/react-northstar/src/index.ts
  packages/fluentui/react-northstar/src/themes/teams-dark-v2/componentVariables.ts
  packages/fluentui/react-northstar/src/themes/teams-dark-v2/components/Chat/chatMessageVariables.ts
  packages/fluentui/react-northstar/src/themes/teams-dark-v2/components/Chat/chatVariables.ts
  packages/fluentui/react-northstar/src/themes/teams-dark-v2/index.ts
  packages/fluentui/react-northstar/src/themes/teams-dark-v2/siteVariables.ts
  packages/fluentui/react-northstar/src/themes/teams-v2/componentVariables.ts
  packages/fluentui/react-northstar/src/themes/teams-v2/components/Chat/chatMessageVariables.ts
  packages/fluentui/react-northstar/src/themes/teams-v2/components/Chat/chatVariables.ts
  packages/fluentui/react-northstar/src/themes/teams-v2/index.ts
  packages/fluentui/react-northstar/src/themes/teams-v2/siteVariables.ts
  packages/react-focus/src/components/FocusZone/FocusZone.tsx
  specs/Breadcrumb.md
Labels: Area: Theming, Fluent UI react-northstar

#16150 Button: Removing react-button Button exports from @fluentui/react, re-exporting compat Button as regular Button
  change/@fluentui-react-2020-12-04-18-50-19-removeNewButtonFromReact.json
  change/@fluentui-react-next-2020-12-07-21-01-28-removeNewButtonFromReact.json
  packages/react-next/etc/react-next.api.md
  packages/react-next/package.json
  packages/react-next/src/Button.ts
  packages/react-next/src/CompoundButton.ts
  packages/react-next/src/MenuButton.ts
  packages/react-next/src/SplitButton.ts
  packages/react-next/src/ToggleButton.ts
  packages/react-next/src/index.ts
  packages/react/etc/react.api.md
  packages/react/package.json
  packages/react/src/Button.ts
  packages/react/src/MenuButton.ts
  packages/react/src/SplitButton.ts
  packages/react/src/ToggleButton.ts
  packages/react/src/index.ts
Labels: Component: Button

#16106 fix: set high contrast color on label and status-message in switch component
  change/@fluentui-web-components-2020-12-02-10-03-53-users-khamu-switch-label-indicator-hc.json
  packages/web-components/src/switch/switch.styles.ts
Labels: web-components

#16177 Fix navigating across suggestion items in narrator scan mode
  apps/vr-tests/src/stories/Suggestions.stories.tsx
  change/@fluentui-react-internal-2020-12-08-03-39-02-pickerscanmode.json
  packages/react-internal/src/components/pickers/Suggestions/Suggestions.tsx
  packages/react-internal/src/components/pickers/Suggestions/SuggestionsItem.tsx
  packages/react-internal/src/components/pickers/Suggestions/__snapshots__/Suggestions.test.tsx.snap
Labels: Area: Accessibility, Component: Pickers

#16166 FileTypeIcon : Changing .whiteboard to be by-extension instead of special enum based.
  change/@fluentui-react-examples-2020-12-08-11-09-14-caperez-filetype_whiteboard_byext.json
  change/@uifabric-file-type-icons-2020-12-07-12-13-44-caperez-filetype_whiteboard_byext.json
  packages/file-type-icons/src/FileIconType.ts
  packages/file-type-icons/src/FileTypeIconMap.ts
  packages/file-type-icons/src/getFileTypeIconProps.ts
  packages/react-examples/src/experiments/FileTypeIcon/FileTypeIcon.Basic.Example.tsx
Labels: Fabric 7, Package: file-type-icons, v8 snap: needs cherry-pick

#16164 Added WhiteboardIcon
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-icons-northstar/src/components/WhiteboardIcon.tsx
  packages/fluentui/react-icons-northstar/src/index.ts
Labels: Fluent UI react-northstar

#16198 Update react-button readme to not say it's officially releasing with v8
  change/@fluentui-react-button-2020-12-09-18-59-23-button-readme.json
  packages/react-button/README.md
Labels: Component: Button

#16196 [UPP] Fix color contrast in UPP suggestion item close button
  change/@fluentui-react-experiments-2020-12-09-15-40-12-upp-remove-button-highlight.json
  packages/react-experiments/src/components/FloatingSuggestionsComposite/FloatingSuggestionsItem/FloatingSuggestionsItem.styles.ts
Labels: Component: FloatingSuggestionsComposite, Package: experiments

#15973 Add AriaDescription for ContextMenu items
  change/@fluentui-react-examples-2020-11-18-08-43-29-sareiff-ariadescr7.json
  change/office-ui-fabric-react-2020-11-18-08-43-29-sareiff-ariadescr7.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/ContextualMenu/ContextualMenu.classNames.ts
  packages/office-ui-fabric-react/src/components/ContextualMenu/ContextualMenu.deprecated.test.tsx
  packages/office-ui-fabric-react/src/components/ContextualMenu/ContextualMenu.types.ts
  packages/office-ui-fabric-react/src/components/ContextualMenu/ContextualMenuItem.test.tsx
  packages/office-ui-fabric-react/src/components/ContextualMenu/ContextualMenuItem.types.ts
  packages/office-ui-fabric-react/src/components/ContextualMenu/ContextualMenuItemWrapper/ContextualMenuAnchor.deprecated.test.tsx
  packages/office-ui-fabric-react/src/components/ContextualMenu/ContextualMenuItemWrapper/ContextualMenuAnchor.test.tsx
  packages/office-ui-fabric-react/src/components/ContextualMenu/ContextualMenuItemWrapper/ContextualMenuAnchor.tsx
  packages/office-ui-fabric-react/src/components/ContextualMenu/ContextualMenuItemWrapper/ContextualMenuButton.deprecated.test.tsx
  packages/office-ui-fabric-react/src/components/ContextualMenu/ContextualMenuItemWrapper/ContextualMenuButton.test.tsx
  packages/office-ui-fabric-react/src/components/ContextualMenu/ContextualMenuItemWrapper/ContextualMenuButton.tsx
  packages/office-ui-fabric-react/src/components/ContextualMenu/ContextualMenuItemWrapper/ContextualMenuSplitButton.deprecated.test.tsx
  packages/office-ui-fabric-react/src/components/ContextualMenu/ContextualMenuItemWrapper/ContextualMenuSplitButton.test.tsx
  packages/office-ui-fabric-react/src/components/ContextualMenu/ContextualMenuItemWrapper/ContextualMenuSplitButton.tsx
  packages/react-examples/src/office-ui-fabric-react/ContextualMenu/ContextualMenu.ScreenReader.Example.tsx
  packages/react-examples/src/office-ui-fabric-react/ContextualMenu/ContextualMenu.doc.tsx
Labels: AutoMerge, Component: ContextualMenu, Fabric 7, PR: API Modified, v8 snap: needs cherry-pick

#16208 fix(Checkbox): Wrong grid template in checkbox for label end
  packages/fluentui/CHANGELOG.md
  packages/fluentui/docs/src/examples/components/Checkbox/Visual/CheckboxExampleLabelFlexColumn.shorthand.tsx
  packages/fluentui/docs/src/examples/components/Checkbox/Visual/index.tsx
  packages/fluentui/docs/src/examples/components/Checkbox/index.tsx
  packages/fluentui/react-northstar/src/themes/teams/components/Checkbox/checkboxStyles.ts
Labels: Fluent UI react-northstar

#16187 Pickers: add aria-label to root combobox element of basepicker.
  change/@fluentui-react-internal-2020-12-08-14-22-16-add-arialabel-topicker.json
  packages/react-examples/src/react/__snapshots__/Announced.SearchResults.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/PeoplePicker.Compact.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/PeoplePicker.Controlled.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/PeoplePicker.LimitedSearch.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/PeoplePicker.Normal.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/PeoplePicker.PreselectedItems.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/PeoplePicker.ProcessSelection.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/TagPicker.Basic.Example.tsx.shot
  packages/react-internal/etc/react-internal.api.md
  packages/react-internal/src/components/pickers/BasePicker.tsx
  packages/react-internal/src/components/pickers/BasePicker.types.ts
  packages/react-internal/src/components/pickers/PeoplePicker/__snapshots__/PeoplePicker.test.tsx.snap
  packages/react-internal/src/components/pickers/TagPicker/__snapshots__/TagPicker.test.tsx.snap
  packages/react-internal/src/components/pickers/__snapshots__/BasePicker.test.tsx.snap
Labels: Area: Accessibility, Component: PeoplePicker, Priority 1: ASAP

#16168 Update the DefaultEditingItem in the SelectedItemsList to use FloatingSuggestionsComposite
  change/@fluentui-react-experiments-2020-12-07-16-16-33-editfloatingpicker.json
  packages/react-examples/src/react-experiments/SelectedPeopleList/SelectedPeopleList.WithEdit.Example.tsx
  packages/react-examples/src/react-experiments/SelectedPeopleList/SelectedPeopleList.WithEditInContextMenu.Example.tsx
  packages/react-examples/src/react-experiments/UnifiedPeoplePicker/UnifiedPeoplePicker.WithEdit.Example.tsx
  packages/react-experiments/src/UnifiedPicker.ts
  packages/react-experiments/src/components/SelectedItemsList/Items/EditableItem.tsx
  packages/react-experiments/src/components/SelectedItemsList/Items/subcomponents/DefaultEditingItem.tsx
  packages/react-experiments/src/components/SelectedItemsList/SelectedItemsList.tsx
  packages/react-experiments/src/components/SelectedItemsList/SelectedItemsList.types.ts
  packages/react-experiments/src/components/UnifiedPicker/UnifiedPicker.tsx
  packages/react-experiments/src/components/UnifiedPicker/hooks/useFloatingSuggestionItems.ts
  packages/react-experiments/src/components/UnifiedPicker/index.ts
Labels: Component: UnifiedPicker, Package: experiments

#16209 UnifiedPicker: Add ability to force resolve what is selected in the floating suggestions
  change/@fluentui-react-experiments-2020-12-11-13-51-14-forceresolve.json
  packages/react-examples/src/react-experiments/UnifiedPeoplePicker/UnifiedPeoplePicker.Example.tsx
  packages/react-examples/src/react-experiments/UnifiedPeoplePicker/UnifiedPeoplePicker.WithEdit.Example.tsx
  packages/react-experiments/src/components/UnifiedPicker/UnifiedPicker.tsx
Labels: Component: UnifiedPicker, Package: experiments

#16199 fix(Tree): cannot expand/collapse when treeTitle has children; fixed by passing id to treeTitle
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/components/Tree/TreeItem.tsx
  packages/fluentui/react-northstar/src/components/Tree/TreeTitle.tsx
  packages/fluentui/react-northstar/test/specs/components/Tree/Tree-test.tsx
Labels: Fluent UI react-northstar

#16158 fix(Tree): unselectable items causing select state error
  packages/fluentui/CHANGELOG.md
  packages/fluentui/docs/src/examples/components/Tree/Usage/TreeMultiselectExample.shorthand.steps.ts
  packages/fluentui/react-northstar/src/components/Tree/hooks/flattenTree.ts
  packages/fluentui/react-northstar/test/specs/components/Tree/useTree-test.tsx
Labels: Fluent UI react-northstar

#16207 Added TvIcon
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-icons-northstar/src/components/TvIcon.tsx
  packages/fluentui/react-icons-northstar/src/index.ts
Labels: Fluent UI react-northstar

#16218 chore(Datepicker): backport docs site changes
  packages/fluentui/docs/src/components/ComponentDoc/ComponentPerfExample/ComponentPerfExample.tsx
  packages/fluentui/docs/src/components/ComponentPlayground/componentGenerators.tsx
  packages/fluentui/docs/src/components/Sidebar/Sidebar.tsx
  packages/fluentui/docs/src/routes.tsx
Labels: Fluent UI react-northstar

#16215 Export split button toggle styles props
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/themes/teams/types.ts
Labels: Fluent UI react-northstar

#16213 fix(Tree): cannot expand/collapse when treeTitle has children
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/jest.config.js
  packages/fluentui/react-northstar/src/components/Tree/Tree.tsx
  packages/fluentui/react-northstar/src/components/Tree/TreeItem.tsx
  packages/fluentui/react-northstar/src/components/Tree/TreeTitle.tsx
  packages/fluentui/react-northstar/test/specs/components/Tree/Tree-test.tsx
Labels: Fluent UI react-northstar

#16223 chore(Checkbox): backport "Wrong grid template in checkbox for label end"
  packages/fluentui/CHANGELOG.md
  packages/fluentui/docs/src/examples/components/Checkbox/Visual/CheckboxExampleLabelFlexColumn.shorthand.tsx
  packages/fluentui/docs/src/examples/components/Checkbox/Visual/index.tsx
  packages/fluentui/docs/src/examples/components/Checkbox/index.tsx
  packages/fluentui/react-northstar/src/themes/teams/components/Checkbox/checkboxStyles.ts
Labels: Fluent UI react-northstar

#16222 fix(MenuStyles): revert fix for IE11
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/themes/teams/components/Menu/menuStyles.ts
Labels: Fluent UI react-northstar

#16224 chore(Menu): backport style fix
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/themes/teams/components/Menu/menuStyles.ts
Labels: Fluent UI react-northstar

#16210 [UPP] Add onSuggestionsShown and onSuggestionsHidden callbacks
  change/@fluentui-react-experiments-2020-12-11-15-39-56-upp-on-suggestions-shown.json
  packages/react-experiments/src/components/FloatingSuggestionsComposite/FloatingSuggestions.tsx
  packages/react-experiments/src/components/FloatingSuggestionsComposite/FloatingSuggestions.types.ts
Labels: Component: UnifiedPicker, Package: experiments

#16225 (7.0) Pickers: Add ability to pass in aria-label
  change/@fluentui-react-examples-2020-12-14-16-09-19-port-arialabel-picker.json
  change/office-ui-fabric-react-2020-12-14-11-54-04-port-arialabel-picker.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/pickers/BasePicker.tsx
  packages/office-ui-fabric-react/src/components/pickers/BasePicker.types.ts
  packages/office-ui-fabric-react/src/components/pickers/PeoplePicker/__snapshots__/PeoplePicker.test.tsx.snap
  packages/office-ui-fabric-react/src/components/pickers/TagPicker/__snapshots__/TagPicker.test.tsx.snap
  packages/office-ui-fabric-react/src/components/pickers/__snapshots__/BasePicker.test.tsx.snap
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/Announced.SearchResults.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/PeoplePicker.Compact.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/PeoplePicker.Controlled.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/PeoplePicker.LimitedSearch.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/PeoplePicker.Normal.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/PeoplePicker.PreselectedItems.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/PeoplePicker.ProcessSelection.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/TagPicker.Basic.Example.tsx.shot
Labels: Area: Accessibility, AutoMerge, Component: PeoplePicker, Fabric 7, PR: API Modified

#16214 Add `unstable_disableTether` prop to configure `Popper`
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/components/Dropdown/Dropdown.tsx
  packages/fluentui/react-northstar/src/components/MenuButton/MenuButton.tsx
  packages/fluentui/react-northstar/src/components/Popup/Popup.tsx
  packages/fluentui/react-northstar/src/components/SplitButton/SplitButton.tsx
  packages/fluentui/react-northstar/src/components/Tooltip/Tooltip.tsx
  packages/fluentui/react-northstar/src/utils/positioner/Popper.tsx
  packages/fluentui/react-northstar/src/utils/positioner/types.ts
  packages/fluentui/react-northstar/test/specs/commonTests/implementsPopperProps.tsx
Labels: Fluent UI react-northstar

#16230 chore(Backport): Add `unstable_disableTether` prop to configure `Popper` (#16214)
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/components/Dropdown/Dropdown.tsx
  packages/fluentui/react-northstar/src/components/MenuButton/MenuButton.tsx
  packages/fluentui/react-northstar/src/components/Popup/Popup.tsx
  packages/fluentui/react-northstar/src/components/SplitButton/SplitButton.tsx
  packages/fluentui/react-northstar/src/components/Tooltip/Tooltip.tsx
  packages/fluentui/react-northstar/src/utils/positioner/Popper.tsx
  packages/fluentui/react-northstar/src/utils/positioner/types.ts
  packages/fluentui/react-northstar/test/specs/commonTests/implementsPopperProps.tsx
Labels: Fluent UI react-northstar

#16141 Fixed Toolbar menu
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/themes/teams/components/Toolbar/toolbarMenuItemIconStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Toolbar/toolbarMenuItemStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Toolbar/toolbarMenuStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Toolbar/toolbarVariables.ts
Labels: Component: Toolbar, Fluent UI react-northstar

#16235 [UPP] Use Segoe UI font in picker input
  change/@fluentui-react-experiments-2020-12-15-10-44-07-upp-autofill-font-segoe.json
  packages/react-experiments/src/components/UnifiedPicker/UnifiedPeoplePicker/__snapshots__/UnifiedPeoplePicker.test.tsx.snap
  packages/react-experiments/src/components/UnifiedPicker/UnifiedPicker.styles.ts
  packages/react-experiments/src/components/UnifiedPicker/__snapshots__/UnifiedPicker.test.tsx.snap
Labels: Component: UnifiedPicker, Package: experiments

#16036 feat: Adding breadcrumb and breadcrumb-item web-components
  change/@fluentui-web-components-2020-10-22-14-02-02-users-khamu-add-breadcrumb.json
  packages/web-components/docs/api-report.md
  packages/web-components/src/breadcrumb-item/breadcrumb-item.stories.ts
  packages/web-components/src/breadcrumb-item/breadcrumb-item.styles.ts
  packages/web-components/src/breadcrumb-item/fixtures/breadcrumb-item.html
  packages/web-components/src/breadcrumb-item/index.ts
  packages/web-components/src/breadcrumb/breadcrumb.stories.ts
  packages/web-components/src/breadcrumb/breadcrumb.styles.ts
  packages/web-components/src/breadcrumb/fixtures/breadcrumb.html
  packages/web-components/src/breadcrumb/index.ts
  packages/web-components/src/index.ts
Labels: web-components

#16236 UnifiedPicker: Drop to either side of items
  change/@fluentui-react-experiments-2020-12-15-11-05-24-dropright.json
  packages/react-experiments/src/components/UnifiedPicker/UnifiedPicker.tsx
Labels: Component: UnifiedPicker, Package: experiments

#16238 fix: update style on aria-current item and adjust margin on last item
  change/@fluentui-web-components-2020-12-15-15-09-46-users-khamu-breadcrumb-aria-current.json
  packages/web-components/src/breadcrumb-item/breadcrumb-item.styles.ts
Labels: web-components

#16243 Remove react-theme-provider@v0 dependency from react-focus package
  change/@fluentui-react-focus-2020-12-16-11-36-46-fix-dep.json
  packages/react-focus/package.json
  packages/react-focus/src/components/FocusZone/FocusZone.tsx
Labels: Fabric 7, v8 snap: needs cherry-pick

#16241 Cherrypick PR #16177 - Fix navigating across suggestion items in narrator scan mode
  apps/vr-tests/src/stories/Suggestions.stories.tsx
  change/office-ui-fabric-react-2020-12-16-03-37-49-cherrypicksuggestion.json
  packages/office-ui-fabric-react/src/components/pickers/Suggestions/Suggestions.tsx
  packages/office-ui-fabric-react/src/components/pickers/Suggestions/SuggestionsItem.tsx
  packages/office-ui-fabric-react/src/components/pickers/Suggestions/__snapshots__/Suggestions.test.tsx.snap
Labels: Fabric 7

#16248 feat: add icon only support for anchor and update FAST packages
  change/@fluentui-web-components-2020-12-16-13-10-57-users-chhol-add-icon-only-anchor-support.json
  packages/web-components/docs/api-report.md
  packages/web-components/package.json
  packages/web-components/src/anchor/index.ts
  packages/web-components/src/button/index.ts
  yarn.lock
Labels: web-components

#15949 Fixes #15729: add type button to textfield of type password
  change/@fluentui-react-internal-2020-11-16-17-16-11-textfield-password-button.json
  packages/react-examples/src/react/__snapshots__/TextField.Basic.Example.tsx.shot
  packages/react-internal/src/components/TextField/TextField.base.tsx
  packages/react-internal/src/components/TextField/__snapshots__/TextField.test.tsx.snap
Labels: Component: TextField

#15472 Clarify interoperability between projects
  README.md
Labels: Area: Documentation

#16265 fix: focus styling inconsistencies
  change/@fluentui-web-components-2020-12-17-10-45-34-userrs-jes-focus-styling.json
  packages/web-components/package.json
  packages/web-components/src/styles/patterns/button.ts
  yarn.lock
Labels: web-components

#16269 Add basic makeStyles perf test
  apps/perf-test/package.json
  apps/perf-test/src/scenarioIterations.js
  apps/perf-test/src/scenarios/MakeStyles.tsx
Labels: Area: Build System

#15994 feat: add new property onRenderStar for Rating
  change/@fluentui-react-internal-2020-11-19-16-26-06-feat-rating.json
  packages/react-internal/etc/react-internal.api.md
  packages/react-internal/src/components/Rating/Rating.base.tsx
  packages/react-internal/src/components/Rating/Rating.types.ts
Labels: Component: Rating

#16190 improvement(PropsEditor): handle union and element type
  packages/fluentui/react-builder/src/components/Designer.tsx
  packages/fluentui/react-builder/src/components/Knobs.tsx
  packages/fluentui/react-builder/src/config.tsx
  scripts/gulp/plugins/util/docgen.ts
  scripts/gulp/plugins/util/docs-types.ts
  scripts/gulp/plugins/util/getComponentInfo.ts
  scripts/gulp/tasks/component-info.ts
  scripts/gulp/tasks/docs.ts
Labels: AutoMerge, Fluent UI react-northstar

#16163 Fix Cannot read property 'cancelAnimationFrame' of null in Toolbar
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/components/Toolbar/Toolbar.tsx
Labels: Fluent UI react-northstar

#16264 Refactor table event propagation logic
  packages/fluentui/react-northstar/src/components/Table/TableCell.tsx
  packages/fluentui/react-northstar/src/components/Table/TableRow.tsx
Labels: Fluent UI react-northstar

#16260 Export attachment body style props
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/themes/teams/types.ts
Labels: Fluent UI react-northstar

#16272 chore: allow React 17 in peerDependencies for react-component-ref & react-component-event-listener
  packages/fluentui/react-component-event-listener/package.json
  packages/fluentui/react-component-ref/package.json
Labels: Fluent UI react-northstar

#16256 Fix chore 51 branch build
  packages/fluentui/accessibility/jest.config.js
  packages/fluentui/e2e/jest.config.js
  packages/fluentui/react-bindings/jest.config.js
  packages/fluentui/react-builder/jest.config.js
  packages/fluentui/react-component-event-listener/jest.config.js
  packages/fluentui/react-component-nesting-registry/jest.config.js
  packages/fluentui/react-component-ref/jest.config.js
  packages/fluentui/react-context-selector/jest.config.js
  packages/fluentui/react-icons-northstar/jest.config.js
  packages/fluentui/react-northstar-emotion-renderer/jest.config.js
  packages/fluentui/react-northstar-fela-renderer/jest.config.js
  packages/fluentui/react-northstar/package.json
  packages/fluentui/react-proptypes/jest.config.js
  packages/fluentui/styles/jest.config.js
Labels: Fluent UI react-northstar

#16280 Cherry pick attachment body style type export
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/themes/teams/types.ts
Labels: Fluent UI react-northstar

#16281 Refactor table event propagation logic (#16264)
  packages/fluentui/react-northstar/src/components/Table/TableCell.tsx
  packages/fluentui/react-northstar/src/components/Table/TableRow.tsx
Labels: Fluent UI react-northstar

#16282 chore: allow React 17 in peerDependencies for react-component-ref & r…
  packages/fluentui/react-component-event-listener/package.json
  packages/fluentui/react-component-ref/package.json
Labels: Fluent UI react-northstar

#16257 Fix the onBlur typing for Dropdown to use FocusEvent
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/components/Dropdown/Dropdown.tsx
Labels: AutoMerge, Fluent UI react-northstar

#16283 cherry pick dropdown onBlur typin
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/components/Dropdown/Dropdown.tsx
Labels: Fluent UI react-northstar

#16221 doc(Tree): virtual sticky tree prototype
  packages/fluentui/CHANGELOG.md
  packages/fluentui/docs/src/components/Sidebar/Sidebar.tsx
  packages/fluentui/docs/src/routes.tsx
  packages/fluentui/react-northstar-prototypes/src/index.ts
  packages/fluentui/react-northstar-prototypes/src/prototypes/VirtualizedStickyTree/VirtualStickyTree.tsx
  packages/fluentui/react-northstar-prototypes/src/prototypes/VirtualizedStickyTree/VirtualStickyTreePrototype.tsx
  packages/fluentui/react-northstar-prototypes/src/prototypes/VirtualizedStickyTree/index.tsx
  packages/fluentui/react-northstar-prototypes/src/prototypes/VirtualizedStickyTree/itemsGenerator.ts
  packages/fluentui/react-northstar/src/components/Tree/hooks/useTree.ts
Labels: AutoMerge, Fluent UI react-northstar

#16285 chore(Breadcrumb): remove unstable flag
  packages/fluentui/react-northstar/src/components/Breadcrumb/Breadcrumb.tsx
  packages/fluentui/react-northstar/src/components/Breadcrumb/BreadcrumbDivider.tsx
  packages/fluentui/react-northstar/src/components/Breadcrumb/BreadcrumbItem.tsx
  packages/fluentui/react-northstar/src/components/Breadcrumb/BreadcrumbLink.tsx
Labels: Fluent UI react-northstar

#16289 DetailsList: fix group chevron alignment in single select mode
  change/@fluentui-react-2020-12-22-17-10-32-header-spacer.json
  packages/react/src/components/GroupedList/GroupHeader.base.tsx
  scripts/local-codepen.js
Labels: Component: DetailsList, Component: GroupedList

#16288 Skeleton - accessibility update
  packages/fluentui/accessibility/src/behaviors/Skeleton/skeletonBehavior.tsx
  packages/fluentui/accessibility/src/behaviors/index.ts
  packages/fluentui/accessibility/test/behaviors/behavior-test.tsx
  packages/fluentui/docs/src/examples/components/Skeleton/BestPractices/SkeletonBestPractices.tsx
  packages/fluentui/react-northstar/src/components/Skeleton/Skeleton.tsx
Labels: Fluent UI react-northstar

#16286 fix(Popup): Do not trigger popup on click when hover is used with context
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/components/Popup/Popup.tsx
  packages/fluentui/react-northstar/test/specs/components/Popup/Popup-test.tsx
Labels: Fluent UI react-northstar

#16291 chore(Backport): Popup: Do not trigger popup on click when hover is used with con…
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/components/Popup/Popup.tsx
  packages/fluentui/react-northstar/test/specs/components/Popup/Popup-test.tsx
Labels: Fluent UI react-northstar

#16294 (7.0) TextField: set type="button" on reveal password button
  change/@fluentui-react-avatar-2020-10-13-12-47-23-fix-button-hooks.json
  change/@fluentui-react-examples-2020-12-23-19-50-18-textfield-button.json
  change/office-ui-fabric-react-2020-12-23-19-50-18-textfield-button.json
  packages/office-ui-fabric-react/src/components/TextField/TextField.base.tsx
  packages/office-ui-fabric-react/src/components/TextField/__snapshots__/TextField.test.tsx.snap
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/TextField.Basic.Example.tsx.shot
Labels: AutoMerge, Component: TextField, Fabric 7

#16319 Rename Fabric component in export to codepen
  change/@uifabric-tsx-editor-2020-12-29-18-13-37-fix-codepen.json
  packages/tsx-editor/src/transpiler/__snapshots__/exampleTransform.test.ts.snap
  packages/tsx-editor/src/transpiler/exampleTransform.ts
Labels: Area: Website, Fabric 7, Package: tsx-editor

#16305 (7.0) Change Azure PR deploy storage
  .devops/templates/variables.yml
  apps/perf-test/tasks/perf-test.ts
  azure-pipelines.perf-test.yml
  azure-pipelines.yml
Labels: Area: Build System, Fabric 7

#16306 (6.0) Change Azure PR deploy storage
  azure-pipelines.yml
Labels: Area: Build System, Fabric 6

#16227 swapping arrows for decade picker, which were backwards
  change/@fluentui-react-date-time-2020-12-14-13-19-28-lorejoh12-swapArrowDirections.json
  packages/react-date-time/src/components/Calendar/CalendarYear/CalendarYear.base.tsx
  packages/react-date-time/src/components/WeeklyDayPicker/WeeklyDayPicker.base.tsx
Labels: Package: date-time

#16317 @fluentui/react-date-time Calendar: fix use of gridcell role in Calendar
  change/@fluentui-react-date-time-2020-12-29-15-42-18-peterelliott-calendar-aria-fix.json
  packages/react-date-time/src/components/CalendarDayGrid/CalendarGridDayCell.tsx
  packages/react-date-time/src/components/WeeklyDayPicker/__snapshots__/WeeklyDayPicker.test.tsx.snap
Labels: Component: Calendar, Package: date-time

#16330 (7.0) swapping arrows for decade picker, which were backwards
  change/@uifabric-date-time-2020-12-30-15-48-21-7.0.json
  packages/date-time/src/components/Calendar/CalendarYear/CalendarYear.base.tsx
  packages/date-time/src/components/WeeklyDayPicker/WeeklyDayPicker.base.tsx
Labels: Component: Calendar, Component: DatePicker, Fabric 7, Package: date-time
