Repository microsoft/fluentui, pull requests merged in 2020-06, with the labels that each got.

#13360 compose: adding `mergeProps` utility to react-compose
  change/@fluentui-react-button-2020-05-31-21-44-37-feat-create-options-resolver.json
  change/@fluentui-react-compose-2020-05-27-12-54-51-feat-create-options-resolver.json
  change/@fluentui-react-next-2020-05-31-18-47-38-feat-create-options-resolver.json
  change/@uifabric-utilities-2020-05-31-21-52-56-feat-create-options-resolver.json
  packages/fluentui/docs/src/examples/components/Button/Visual/ButtonExampleCompose.shorthand.tsx
  packages/fluentui/docs/src/examples/components/Menu/Visual/MenuExampleCompose.shorthand.tsx
  packages/fluentui/react-bindings/test/compose/compose-test.tsx
  packages/fluentui/react-northstar/src/components/Button/Button.tsx
  packages/fluentui/react-northstar/src/components/Menu/Menu.tsx
  packages/fluentui/react-northstar/src/components/Menu/MenuItem.tsx
  packages/fluentui/react-northstar/src/components/Toolbar/Toolbar.tsx
  packages/fluentui/react-northstar/src/components/Toolbar/ToolbarItem.tsx
  packages/fluentui/react-northstar/src/components/Toolbar/ToolbarMenu.tsx
  packages/fluentui/react-northstar/src/components/Toolbar/ToolbarMenuItem.tsx
  packages/fluentui/react-northstar/src/components/Toolbar/ToolbarRadioGroup.tsx
  packages/react-button/src/components/Button/Button.scss
  packages/react-button/src/components/Button/Button.tsx
  packages/react-button/src/components/Button/Button.types.tsx
  packages/react-button/src/components/Button/useButton.ts
  packages/react-button/src/utils/mergeClassesIntoSlotProps.ts
  packages/react-button/src/utils/mergeProps.ts
  packages/react-compose/etc/react-compose.api.md
  packages/react-compose/package.json
  packages/react-compose/src/compose.test.tsx
  packages/react-compose/src/createClassResolver.test.ts
  packages/react-compose/src/defaultComposeOptions.ts
  packages/react-compose/src/defaultMappedProps.ts
  packages/react-compose/src/index.ts
  packages/react-compose/src/mergeClasses.test.ts
  packages/react-compose/src/mergeClasses.ts
  packages/react-compose/src/mergeComposeOptions.ts
  packages/react-compose/src/mergeProps.test.ts
  packages/react-compose/src/mergeProps.ts
  packages/react-compose/src/resolveClasses.test.ts
  packages/react-compose/src/resolveClasses.ts
  packages/react-compose/src/resolveSlotProps.test.tsx
  packages/react-compose/src/resolveSlotProps.ts
  packages/react-compose/src/types.ts
  packages/react-compose/tslint.json
  packages/react-next/etc/react-next.api.md
  packages/utilities/src/getId.ts
  packages/utilities/src/object.ts
Labels: PR: Possible Perf Regression :snail:

#13389 Remove explicit blocking of Alt key for keytip start sequence
  change/office-ui-fabric-react-2020-05-28-11-49-34-keyou-keytip-alt.json
  packages/office-ui-fabric-react/src/components/KeytipLayer/KeytipLayer.base.tsx
Labels: Component: KeytipLayer

#13261 LineChart: Add datapoints for each line and accessibility for it and remove accessibility for lines
  change/@uifabric-charting-2020-05-20-13-17-17-user-v-satgar-LineChartDataPointsVisible.json
  packages/charting/src/components/LineChart/LineChart.base.tsx
  packages/charting/src/components/LineChart/LineChart.styles.ts
  packages/charting/src/components/LineChart/LineChart.types.ts
  packages/charting/src/components/LineChart/examples/LineChart.Basic.Example.tsx
  packages/charting/src/types/IDataPoint.ts
Labels: Package: charting

#13342 chore(MenuButton): Convert to RFC
  packages/fluentui/CHANGELOG.md
  packages/fluentui/accessibility/src/behaviors/MenuButton/menuButtonBehavior.ts
  packages/fluentui/accessibility/src/behaviors/index.ts
  packages/fluentui/react-bindings/src/hooks/useAccessibility.ts
  packages/fluentui/react-bindings/test/hooks/useAccessibility-test.tsx
  packages/fluentui/react-northstar/src/components/MenuButton/MenuButton.tsx
  packages/fluentui/react-northstar/test/specs/components/MenuButton/MenuButton-test.tsx
Labels: AutoMerge, Fluent UI v0

#13426 fixing an issue with the module classnames
  scripts/just.config.ts
  scripts/storybook/webpack.config.js
Labels: Area: Build System

#13422 Update styling package sideEffects to only the ones needed
  change/@uifabric-styling-2020-06-01-10-15-03-xgao-bundle.json
  packages/styling/package.json
Labels: Package: styling

#13425 Dialog: Fixing broken deprecated props and adding snapshot tests for them
  change/office-ui-fabric-react-2020-06-01-13-52-38-dialogDeprecatedProps.json
  packages/office-ui-fabric-react/src/components/Dialog/Dialog.base.tsx
  packages/office-ui-fabric-react/src/components/Dialog/Dialog.deprecated.test.tsx
  packages/office-ui-fabric-react/src/components/Dialog/__snapshots__/Dialog.deprecated.test.tsx.snap
Labels: Area: Deprecation, AutoMerge, Component: Dialog

#13370 Update pivot to use static styles
  change/@fluentui-react-next-2020-05-28-00-25-34-converge-pivot.json
  packages/react-next/etc/react-next.api.md
  packages/react-next/src/common/_common.scss
  packages/react-next/src/common/_constants.scss
  packages/react-next/src/common/_focusBorder.scss
  packages/react-next/src/components/Pivot/Pivot.base.tsx
  packages/react-next/src/components/Pivot/Pivot.scss
  packages/react-next/src/components/Pivot/Pivot.styles.ts
  packages/react-next/src/components/Pivot/Pivot.test.tsx
  packages/react-next/src/components/Pivot/Pivot.tsx
  packages/react-next/src/components/Pivot/Pivot.types.ts
  packages/react-next/src/components/Pivot/__snapshots__/Pivot.deprecated.test.tsx.snap
  packages/react-next/src/components/Pivot/__snapshots__/Pivot.test.tsx.snap
  packages/react-next/src/components/Pivot/examples/Pivot.Large.Example.tsx
  packages/react-next/src/components/Pivot/examples/Pivot.OnChange.Example.tsx
  packages/react-next/src/components/Pivot/examples/Pivot.Remove.Example.tsx
  packages/react-next/src/components/Pivot/examples/Pivot.Tabs.Example.tsx
  packages/react-next/src/components/Pivot/examples/Pivot.TabsLarge.Example.tsx
Labels: AutoMerge, Fluent UI v8, PR: API Modified

#13434 Add Aria-checked if role is menuitemradio
  change/office-ui-fabric-react-2020-06-01-18-12-24-aria-check-menuitemradio.json
  packages/office-ui-fabric-react/src/components/ContextualMenu/ContextualMenuItemWrapper/ContextualMenuButton.tsx
Labels: Component: ContextualMenu

#13433 Fix build error with newer Node versions
  yarn.lock
Labels: Area: Build System, AutoMerge

#13199 chore(Tree): Converts RFC
  packages/fluentui/accessibility/src/behaviors/Tree/treeBehavior.ts
  packages/fluentui/accessibility/src/behaviors/index.ts
  packages/fluentui/react-northstar/src/components/Tree/Tree.tsx
  packages/fluentui/react-northstar/src/components/Tree/utils/index.ts
  packages/fluentui/react-northstar/test/specs/components/Tree/Tree-test.tsx
Labels: Fluent UI v0, PR: Possible Perf Regression :snail:

#13406 Move eslint-plugin package and add keyboard event props rule
  change/@fluentui-eslint-plugin-2020-05-29-13-37-06-move-eslint-pkg.json
  packages/eslint-plugin/README.md
  packages/eslint-plugin/jsconfig.json
  packages/eslint-plugin/package.json
  packages/eslint-plugin/src/index.js
  packages/eslint-plugin/src/rules/deprecated-keyboard-event-props.js
  packages/eslint-plugin/src/rules/no-visibility-modifiers.js
  packages/eslint-plugin/src/utils/createRule.js
  packages/fluentui/docs/src/app.tsx
  packages/fluentui/docs/src/views/Colors.tsx
  packages/fluentui/eslint-plugin/package.json
  packages/fluentui/eslint-plugin/rules/no-visibility-modifiers/index.js
  packages/fluentui/eslint-plugin/utils/isTypeScriptFile.js
  packages/fluentui/react-northstar/src/utils/createComponent.tsx
  packages/fluentui/react-northstar/test/specs/components/Popup/Popup-test.tsx
  packages/fluentui/state/src/createManager.ts
  scripts/eslint/index.js
  scripts/package.json
  yarn.lock
Labels: Area: Build System

#13399 fix(DropdownSelectedItem): Fix render imagen passing children on DropdownSelectedItem
  packages/fluentui/react-northstar/src/components/Dropdown/DropdownSelectedItem.tsx
  packages/fluentui/react-northstar/src/themes/teams/components/Dropdown/dropdownSelectedItemStyles.ts
Labels: AutoMerge, Fluent UI v0

#13308 perf: remove `camelCaseProperty` call in `renderRule()` inside Fela
  packages/fluentui/CHANGELOG.md
  packages/fluentui/perf/src/index.tsx
  packages/fluentui/react-northstar/src/utils/felaPerformanceEnhancer.ts
  packages/fluentui/react-northstar/src/utils/felaRenderer.tsx
  scripts/gulp/tasks/perf.ts
Labels: AutoMerge, Fluent UI v0

#13440 Update just-scripts version to fix warning during sass build step
  packages/fluentui/digest/package.json
  packages/fluentui/perf-test/package.json
  scripts/package.json
  yarn.lock
Labels: Area: Build System

#13428 Enable Commandbar resizeGroup caching
  change/office-ui-fabric-react-2020-06-01-14-39-06-commandbar-cache.json
  packages/office-ui-fabric-react/src/components/CommandBar/CommandBar.base.tsx
Labels: AutoMerge, Component: CommandBar

#13442 Pivot: Replace onKeyPress with onKeyDown and ariaLabel with aria-label
  change/@fluentui-react-next-2020-06-02-18-46-31-pivot-onkeydown.json
  change/office-ui-fabric-react-2020-06-03-11-01-43-pivot-onkeydown.json
  packages/office-ui-fabric-react/src/components/Pivot/Pivot.base.tsx
  packages/react-next/src/components/Pivot/Pivot.base.tsx
Labels: AutoMerge, Component: Pivot, Fabric 7, Fluent UI v8

#13466 fix(Tree): Fix example
  packages/fluentui/docs/src/examples/components/Tree/Usage/TreeTitleCustomizationExample.shorthand.steps.ts
  packages/fluentui/docs/src/examples/components/Tree/Usage/TreeTitleCustomizationExample.shorthand.tsx
Labels: AutoMerge, Fluent UI v0

#13448 Perf: adjust `createClassResolver` to do more logic as compose time vs runtime
  change/@fluentui-react-button-2020-06-02-22-50-23-fix-optimize-class-resolver.json
  change/@fluentui-react-compose-2020-06-02-22-50-23-fix-optimize-class-resolver.json
  packages/react-button/src/components/Button/Button.scss
  packages/react-button/src/components/Button/Button.tsx
  packages/react-compose/etc/react-compose.api.md
  packages/react-compose/src/appendClasses.ts
  packages/react-compose/src/createClassResolver.test.ts
  packages/react-compose/src/createClassResolver.ts
  packages/react-compose/src/resolveClasses.ts
Labels: PR: Possible Perf Regression :snail:

#13476 Stack: Clarifying deprecated message of props replaced by tokens
  change/office-ui-fabric-react-2020-06-04-11-32-02-stackDeprecatedTokens.json
  packages/office-ui-fabric-react/src/components/Stack/Stack.types.ts
Labels: AutoMerge, Component: Stack

#13457 Fixing GroupedList custom example aria error
  change/office-ui-fabric-react-2020-06-03-18-38-06-groupedListCustomExampleAccessibility.json
  packages/office-ui-fabric-react/src/components/GroupedList/examples/GroupedList.Custom.Example.tsx
Labels: Area: Accessibility, AutoMerge, Component: GroupedList

#13473 Update SO tags
  .github/ISSUE_TEMPLATE/question.md
Labels: AutoMerge

#13478 Changing out cssnano for postcss-clean to address scss minification bugs
  change/@uifabric-example-app-base-2020-06-04-20-24-35-fix-remove-cssnano.json
  change/@uifabric-experiments-2020-06-04-18-06-03-fix-remove-cssnano.json
  packages/example-app-base/src/components/Table/Table.module.scss
  packages/example-app-base/src/components/Table/Table.tsx
  packages/experiments/src/components/Tile/Tile.scss
  packages/fluentui/digest/package.json
  packages/fluentui/perf-test/package.json
  scripts/package.json
  yarn.lock
Labels: AutoMerge

#13271 Adding some functionalities in UnifiedPeoplePicker- Paste, OnItemsRemoved, parent updates
  change/@uifabric-experiments-2020-05-21-12-53-24-u-nebhatna-uppPasteAndSelect.json
  packages/experiments/src/components/FloatingSuggestionsComposite/FloatingPeopleSuggestions/FloatingPeopleSuggestions.tsx
  packages/experiments/src/components/UnifiedPicker/UnifiedPeoplePicker/UnifiedPeoplePicker.tsx
  packages/experiments/src/components/UnifiedPicker/UnifiedPeoplePicker/examples/UnifiedPeoplePicker.Example.tsx
  packages/experiments/src/components/UnifiedPicker/UnifiedPicker.tsx
  packages/experiments/src/components/UnifiedPicker/hooks/useSelectedItems.ts
Labels: Package: experiments

#13489 Pivot: match PivotNext perf test scenario with current
  apps/perf-test/src/scenarioIterations.js
  apps/perf-test/src/scenarios/PivotNext.tsx
Labels: Area: Build System, PR: Possible Perf Regression :snail:

#13479 Resolving Pivot Selected Key issue and cleaning up props
  change/@fluentui-react-next-2020-06-04-14-57-35-fix-pivot-selected-key-fix.json
  change/office-ui-fabric-react-2020-06-04-16-33-45-fix-pivot-selected-key-fix.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/Pivot/Pivot.types.ts
  packages/react-next/etc/react-next.api.md
  packages/react-next/release.md
  packages/react-next/src/components/Pivot/Pivot.base.tsx
  packages/react-next/src/components/Pivot/Pivot.test.tsx
  packages/react-next/src/components/Pivot/Pivot.types.ts
Labels: Fluent UI v8, PR: API Modified

#13492 Dialog: min height for title to ensure subtext doesn't overlap 'close' button.
  change/office-ui-fabric-react-2020-06-05-15-01-14-dialog-missing-text.json
  packages/office-ui-fabric-react/src/components/Dialog/DialogContent.styles.ts
  packages/office-ui-fabric-react/src/components/Dialog/__snapshots__/Dialog.deprecated.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Dialog/__snapshots__/Dialog.test.tsx.snap
Labels: Component: Dialog

#13480 Picker/PeoplePicker: Fix issue where default value wouldn't trigger suggestions
  change/office-ui-fabric-react-2020-06-04-15-08-39-fix-picker-defaulttext.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/pickers/BasePicker.test.tsx
  packages/office-ui-fabric-react/src/components/pickers/BasePicker.tsx
Labels: Component: PeoplePicker, Component: Pickers, PR: API Modified, PR: Possible Perf Regression :snail:

#13482 Perf-test: support testing re-renders
  apps/perf-test/package.json
  apps/perf-test/src/index.scenarios.tsx
  apps/perf-test/src/scenarioRenderTypes.js
  apps/perf-test/src/scenarios/BaseButton.tsx
  apps/perf-test/src/scenarios/ButtonNext.tsx
  apps/perf-test/src/scenarios/Checkbox.tsx
  apps/perf-test/src/scenarios/CheckboxBase.tsx
  apps/perf-test/src/scenarios/CheckboxNext.tsx
  apps/perf-test/src/scenarios/ChoiceGroup.tsx
  apps/perf-test/src/scenarios/ComboBox.tsx
  apps/perf-test/src/scenarios/CommandBar.tsx
  apps/perf-test/src/scenarios/ContextualMenu.tsx
  apps/perf-test/src/scenarios/DefaultButton.tsx
  apps/perf-test/src/scenarios/DetailsRow.tsx
  apps/perf-test/src/scenarios/DetailsRowFast.tsx
  apps/perf-test/src/scenarios/DetailsRowNoStyles.tsx
  apps/perf-test/src/scenarios/Dialog.tsx
  apps/perf-test/src/scenarios/DocumentCardTitle.tsx
  apps/perf-test/src/scenarios/Dropdown.tsx
  apps/perf-test/src/scenarios/FocusZone.tsx
  apps/perf-test/src/scenarios/IconButton.tsx
  apps/perf-test/src/scenarios/Label.tsx
  apps/perf-test/src/scenarios/Link.tsx
  apps/perf-test/src/scenarios/LinkNext.tsx
  apps/perf-test/src/scenarios/MenuButton.tsx
  apps/perf-test/src/scenarios/Nav.tsx
  apps/perf-test/src/scenarios/Panel.tsx
  apps/perf-test/src/scenarios/Persona.tsx
  apps/perf-test/src/scenarios/Pivot.tsx
  apps/perf-test/src/scenarios/PivotNext.tsx
  apps/perf-test/src/scenarios/PrimaryButton.tsx
  apps/perf-test/src/scenarios/SearchBox.tsx
  apps/perf-test/src/scenarios/Slider.tsx
  apps/perf-test/src/scenarios/SliderNext.tsx
  apps/perf-test/src/scenarios/Spinner.tsx
  apps/perf-test/src/scenarios/SplitButton.tsx
  apps/perf-test/src/scenarios/Stack.tsx
  apps/perf-test/src/scenarios/StackWithIntrinsicChildren.tsx
  apps/perf-test/src/scenarios/StackWithTextChildren.tsx
  apps/perf-test/src/scenarios/TagPicker.tsx
  apps/perf-test/src/scenarios/Text.tsx
  apps/perf-test/src/scenarios/TextField.tsx
  apps/perf-test/src/scenarios/ThemeProvider.tsx
  apps/perf-test/src/scenarios/Toggle.tsx
  apps/perf-test/src/scenarios/ToggleNext.tsx
  apps/perf-test/src/scenarios/button.tsx
  apps/perf-test/tasks/perf-test.ts
  packages/fluentui/perf-test/package.json
  packages/fluentui/perf-test/tasks/perf-test.ts
  yarn.lock
Labels: PR: Possible Perf Regression :snail:

#13471 ContextualMenu and Dropdown doc comment updates
  change/office-ui-fabric-react-2020-06-04-09-35-42-comment-updates.json
  packages/office-ui-fabric-react/src/components/ContextualMenu/ContextualMenu.types.ts
  packages/office-ui-fabric-react/src/components/Dropdown/Dropdown.types.ts
Labels: Area: Documentation, Component: Button, Component: CommandBar, Component: ContextualMenu, Component: Dropdown

#13496 getGlobalClassNames: correct return type
  change/@uifabric-styling-2020-06-05-17-26-47-xgao-globalClassName.json
  packages/styling/etc/styling.api.md
  packages/styling/src/styles/getGlobalClassNames.ts
Labels: PR: API Modified, Package: styling

#13505 User/v sivar/linechart remove resize
  change/@uifabric-charting-2020-06-08-10-47-38-user-v-sivar-linechartRemoveResize.json
  packages/charting/src/components/LineChart/LineChart.base.tsx
  packages/charting/src/components/LineChart/examples/LineChart.Basic.Example.tsx
  packages/charting/src/components/LineChart/examples/LineChart.Events.Example.tsx
  packages/charting/src/components/LineChart/examples/LineChart.Multiple.Example.tsx
  packages/charting/src/components/LineChart/examples/LineChart.Styled.Example.tsx
Labels: Package: charting

#13013 ResizeGroup: Migrate ResizeGroup to function component
  change/@fluentui-react-next-2020-05-05-20-24-09-functional-resize-group.json
  packages/react-next/etc/react-next.api.md
  packages/react-next/src/components/ResizeGroup/ResizeGroup.base.tsx
  packages/react-next/src/components/ResizeGroup/ResizeGroup.types.ts
Labels: Component: ResizeGroup

#13497 Add re-render perf test for ThemeProvider
  apps/perf-test/src/scenarioRenderTypes.js
  apps/perf-test/tasks/perf-test.ts
Labels: Area: Build System

#13484 fix(DocSite): Fix IE11 issues
  packages/fluentui/docs-components/src/knobs/defaultComponents.tsx
  packages/fluentui/docs/src/components/ComponentDoc/ComponentDoc.tsx
  packages/fluentui/docs/src/components/ComponentDoc/ExampleSection.tsx
  packages/fluentui/docs/src/components/ComponentPlayground/ComponentPlaygroundTemplate.tsx
Labels: Fluent UI v0

#13451 Adding unit tests for floatingsuggestioncomposite component.
  change/@uifabric-experiments-2020-06-03-06-47-23-u-nebhatna-floatingUnitTests.json
  packages/experiments/src/components/FloatingSuggestionsComposite/FloatingSuggestionsComposite.test.tsx
  packages/experiments/src/components/FloatingSuggestionsComposite/__snapshots__/FloatingSuggestionsComposite.test.tsx.snap
Labels: Package: experiments

#13511 Link: fix incorrect href in Link component's example page
  change/office-ui-fabric-react-2020-06-08-12-01-42-tomi-first-issue.json
  packages/office-ui-fabric-react/src/components/Link/examples/Link.Basic.Example.tsx
  packages/office-ui-fabric-react/src/components/__snapshots__/Link.Basic.Example.tsx.shot
Labels: Area: Documentation, AutoMerge, Component: Link

#13447 Add 'onGrowData' to Breadcrumb
  change/office-ui-fabric-react-2020-06-02-21-54-20-breadcrumb-grow.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/Breadcrumb/Breadcrumb.base.tsx
  packages/office-ui-fabric-react/src/components/Breadcrumb/Breadcrumb.types.ts
  packages/office-ui-fabric-react/src/components/Breadcrumb/examples/Breadcrumb.Basic.Example.tsx
  packages/office-ui-fabric-react/src/components/__snapshots__/Breadcrumb.Basic.Example.tsx.shot
Labels: Component: Breadcrumb

#13076 Document card click can open in new tab
  change/office-ui-fabric-react-2020-05-11-12-07-43-master.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/DocumentCard/DocumentCard.base.tsx
  packages/office-ui-fabric-react/src/components/DocumentCard/DocumentCard.types.ts
Labels: AutoMerge, Component: DocumentCard

#13537 ensure theme.ts is always included when importing from styling package
  change/@uifabric-styling-2020-06-09-14-30-19-xgao-fix-styling-sideeffects.json
  packages/styling/package.json
  packages/styling/src/index.ts
  packages/styling/src/styles/theme.ts
Labels: Package: styling

#13410 chore(DropdownSelectedItem): add dropdown selected item behavior
  packages/fluentui/accessibility/src/behaviors/Dropdown/dropdownSelectedItemBehavior.ts
  packages/fluentui/accessibility/src/behaviors/index.ts
  packages/fluentui/accessibility/test/behaviors/behavior-test.tsx
  packages/fluentui/react-northstar/src/components/Dropdown/DropdownSelectedItem.tsx
Labels: Fluent UI v0

#13528 fix: Remove named exports of components in react-northstar
  packages/fluentui/react-northstar/src/components/Accordion/Accordion.tsx
  packages/fluentui/react-northstar/src/components/Accordion/AccordionContent.tsx
  packages/fluentui/react-northstar/src/components/Accordion/AccordionTitle.tsx
  packages/fluentui/react-northstar/src/components/Alert/Alert.tsx
  packages/fluentui/react-northstar/src/components/Button/ButtonGroup.tsx
  packages/fluentui/react-northstar/src/components/Carousel/Carousel.tsx
  packages/fluentui/react-northstar/src/components/Carousel/CarouselItem.tsx
  packages/fluentui/react-northstar/src/components/Carousel/CarouselNavigation.tsx
  packages/fluentui/react-northstar/src/components/Carousel/CarouselNavigationItem.tsx
  packages/fluentui/react-northstar/src/components/Dialog/DialogFooter.tsx
  packages/fluentui/react-northstar/src/components/Divider/Divider.tsx
  packages/fluentui/react-northstar/src/components/Dropdown/DropdownSearchInput.tsx
  packages/fluentui/react-northstar/src/components/Embed/Embed.tsx
  packages/fluentui/react-northstar/src/components/SplitButton/SplitButton.tsx
  packages/fluentui/react-northstar/src/components/Table/Table.tsx
  packages/fluentui/react-northstar/src/components/TextArea/TextArea.tsx
  packages/fluentui/react-northstar/src/components/Video/Video.tsx
Labels: Fluent UI v0

#13551 Perf-test: set no timeout for puppeteer page action
  apps/perf-test/tasks/perf-test.ts
  packages/fluentui/perf-test/tasks/perf-test.ts
Labels: Area: Build System

#13520 Combobox: Fix open onKeyboardFocus so it actually works as intended
  change/office-ui-fabric-react-2020-06-08-17-07-03-fix-combobox-focus.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/ComboBox/ComboBox.test.tsx
  packages/office-ui-fabric-react/src/components/ComboBox/ComboBox.tsx
Labels: AutoMerge, Component: ComboBox, PR: API Modified, Priority 2: Normal

#13521 Compose: Adding replaceable state as part of compose
  .github/ISSUE_TEMPLATE/question.md
  apps/test-bundles/webpack.config.js
  change/@fluentui-react-button-2020-06-01-19-07-57-composeState.json
  change/@fluentui-react-compose-2020-06-01-17-46-42-composeState.json
  change/@fluentui-react-next-2020-06-01-17-46-42-composeState.json
  packages/react-button/src/Button.ts
  packages/react-button/src/ToggleButton.ts
  packages/react-button/src/components/Button/Button.tsx
  packages/react-button/src/components/Button/Button.types.tsx
  packages/react-button/src/components/Button/ButtonBase.tsx
  packages/react-button/src/components/Button/index.ts
  packages/react-button/src/components/Button/useButton.ts
  packages/react-button/src/components/ToggleButton/ToggleButton.scss
  packages/react-button/src/components/ToggleButton/ToggleButton.stories.tsx
  packages/react-button/src/components/ToggleButton/ToggleButton.tsx
  packages/react-button/src/components/ToggleButton/ToggleButton.types.ts
  packages/react-button/src/components/ToggleButton/ToggleButtonBase.tsx
  packages/react-button/src/components/ToggleButton/index.ts
  packages/react-button/src/components/ToggleButton/useToggle.ts
  packages/react-button/src/index.ts
  packages/react-compose/etc/react-compose.api.md
  packages/react-compose/src/compose.test.tsx
  packages/react-compose/src/compose.ts
  packages/react-compose/src/defaultComposeOptions.ts
  packages/react-compose/src/mergeComposeOptions.ts
  packages/react-compose/src/mergeProps.ts
  packages/react-compose/src/resolveClasses.ts
  packages/react-compose/src/resolveSlotProps.ts
  packages/react-compose/src/types.ts
  packages/react-next/etc/react-next.api.md
  packages/react-next/src/components/Link/LinkBase.tsx
  packages/react-next/src/components/Link/useLink.ts
  packages/react-next/src/components/Toggle/ToggleBase.tsx
Labels: Fluent UI v8, PR: API Modified, PR: Possible Perf Regression :snail:

#13550 PivotItem: Fixing typing error in headerButtonProps
  change/@fluentui-react-next-2020-06-10-14-14-47-pivotItemHeaderButtonType.json
  change/office-ui-fabric-react-2020-06-10-14-10-47-pivotItemHeaderButtonType.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/Pivot/PivotItem.types.ts
  packages/react-next/etc/react-next.api.md
  packages/react-next/src/components/Pivot/PivotItem.types.ts
Labels: AutoMerge, Component: Pivot, Fluent UI v8, PR: API Modified

#13416 v8 Button: Adding inline tokens prop
  change/@fluentui-react-button-2020-06-01-12-00-49-feat-button-tokens.json
  change/@fluentui-react-theme-provider-2020-06-01-12-00-49-feat-button-tokens.json
  packages/fluentui/react-theming/package.json
  packages/react-button/package.json
  packages/react-button/src/components/Button/Button.scss
  packages/react-button/src/components/Button/Button.stories.scss
  packages/react-button/src/components/Button/Button.stories.tsx
  packages/react-button/src/components/Button/Button.tsx
  packages/react-button/src/components/Button/Button.types.tsx
  packages/react-button/src/components/Button/Converged.stories.tsx
  packages/react-button/src/components/Button/useButton.ts
  packages/react-button/src/utils/tempTypes.ts
  packages/react-theme-provider/etc/react-theme-provider.api.md
  packages/react-theme-provider/src/ThemeContext.ts
  packages/react-theme-provider/src/ThemeProvider.scss
  packages/react-theme-provider/src/ThemeProvider.stories.tsx
  packages/react-theme-provider/src/ThemeProvider.test.tsx
  packages/react-theme-provider/src/ThemeProvider.tsx
  packages/react-theme-provider/src/__snapshots__/ThemeProvider.test.tsx.snap
  packages/react-theme-provider/src/__snapshots__/mergeThemes.test.ts.snap
  packages/react-theme-provider/src/createDefaultTheme.ts
  packages/react-theme-provider/src/index.ts
  packages/react-theme-provider/src/mergeThemes.ts
  packages/react-theme-provider/src/tokensToStyleObject.ts
  packages/react-theme-provider/src/types.ts
  packages/react-theme-provider/src/useTheme.ts
Labels: Component: Button, Fluent UI v8

#13509 Feat(Animation): improve styles perf
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-bindings/src/hooks/useStyles.ts
  packages/fluentui/react-bindings/src/index.ts
  packages/fluentui/react-northstar/src/components/Animation/Animation.tsx
  packages/fluentui/react-northstar/src/components/Animation/useAnimationStyles.ts
  packages/fluentui/react-northstar/src/index.ts
Labels: Fluent UI v0

#13540 DetailsList: Remove unnecessary styles
  change/office-ui-fabric-react-2020-06-09-16-35-40-phkuo-listCss.json
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsHeader.base.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsList.styles.ts
  packages/office-ui-fabric-react/src/components/DetailsList/__snapshots__/DetailsHeader.test.tsx.snap
  packages/office-ui-fabric-react/src/components/DetailsList/__snapshots__/DetailsList.test.tsx.snap
  packages/office-ui-fabric-react/src/components/DetailsList/__snapshots__/DetailsRow.test.tsx.snap
  packages/office-ui-fabric-react/src/components/DetailsList/__snapshots__/ShimmeredDetailsList.test.tsx.snap
  packages/office-ui-fabric-react/src/components/__snapshots__/Announced.BulkOperations.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Announced.QuickActions.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Advanced.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Animation.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Compact.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.CustomColumns.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.CustomFooter.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.CustomGroupHeaders.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.CustomRows.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Documents.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.DragDrop.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Grouped.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Grouped.Large.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.NavigatingFocus.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/HoverCard.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/HoverCard.PlainCard.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/HoverCard.Target.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Shimmer.Application.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Text.Ramp.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Text.Weights.Example.tsx.shot
Labels: AutoMerge, Component: DetailsList

#13569 ToggleButton: Updating to new css variables
  change/@fluentui-react-button-2020-06-11-11-35-22-toggleButtonNewTokens.json
  packages/react-button/package.json
  packages/react-button/src/components/ToggleButton/ToggleButton.scss
Labels: AutoMerge, Component: Button, Fluent UI v8

#13577 Disable gulp-cache in CI
  azure-pipelines.yml
  scripts/gulp/tasks/docs.ts
Labels: Area: Build System

#13524 spec(Datepicker): add datepicker spec draft
  specs/Datepicker.md
Labels: AutoMerge, Fluent UI v0

#13558 docs(Dropdown): update best practice if `loadingMessage` prop is used
  packages/fluentui/CHANGELOG.md
  packages/fluentui/docs/src/examples/components/Dropdown/BestPractices/DropdownBestPractices.tsx
Labels: Fluent UI v0

#13568 fix(FormExample): Update fields ID and add success indicator by default when field required
  packages/fluentui/CHANGELOG.md
  packages/fluentui/docs/src/examples/components/Form/Rtl/FormExample.rtl.tsx
  packages/fluentui/docs/src/examples/components/Form/Types/FormExample.shorthand.tsx
  packages/fluentui/docs/src/examples/components/Form/Types/FormExample.tsx
  packages/fluentui/docs/src/examples/components/Form/Types/FormExampleInline.shorthand.tsx
  packages/fluentui/docs/src/examples/components/Form/Types/FormExampleInline.tsx
  packages/fluentui/docs/src/examples/components/Form/Usage/FormExampleCheckbox.shorthand.tsx
  packages/fluentui/docs/src/examples/components/Form/Usage/FormExampleCheckbox.tsx
  packages/fluentui/docs/src/examples/components/Form/Usage/FormExampleErrorAndSuccessful.shorthand.tsx
  packages/fluentui/docs/src/examples/components/Form/Usage/FormExampleErrorAndSuccessful.tsx
  packages/fluentui/docs/src/examples/components/Slider/Usage/SliderExampleForm.shorthand.tsx
  packages/fluentui/docs/src/examples/components/Toolbar/Content/ToolbarExamplePopup.shorthand.tsx
  packages/fluentui/docs/src/examples/components/Toolbar/Usage/ToolbarExampleActionPopupInMenu.shorthand.tsx
  packages/fluentui/react-northstar/src/components/Form/FormField.tsx
  packages/fluentui/react-northstar/src/components/Input/Input.tsx
Labels: Fluent UI v0

#13281 Modalization
  change/@uifabric-utilities-2020-05-21-18-21-25-phkuo-modalAcc.json
  change/office-ui-fabric-react-2020-05-21-18-21-25-phkuo-modalAcc.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/FocusTrapZone/FocusTrapZone.tsx
  packages/office-ui-fabric-react/src/components/FocusTrapZone/FocusTrapZone.types.ts
  packages/office-ui-fabric-react/src/components/Modal/Modal.base.tsx
  packages/office-ui-fabric-react/src/components/Modal/Modal.ts
  packages/office-ui-fabric-react/src/components/Modal/Modal.types.ts
  packages/utilities/etc/utilities.api.md
  packages/utilities/src/index.ts
  packages/utilities/src/modalize.test.ts
  packages/utilities/src/modalize.ts
Labels: AutoMerge, PR: API Modified

#13439 feat(Popup): add show/hide animations
  packages/fluentui/CHANGELOG.md
  packages/fluentui/e2e/server/app.tsx
  packages/fluentui/react-northstar/src/components/Popup/Popup.tsx
  packages/fluentui/react-northstar/src/themes/teams/animations/index.ts
  packages/fluentui/react-northstar/test/__mocks__/react-transition-group.ts
Labels: Fluent UI v0

#13591 fix(Slider): Prevent unhandled props to be passed to Box
  packages/fluentui/react-northstar/src/components/Slider/Slider.tsx
Labels: Fluent UI v0

#13506 fix(Components): IE11
  packages/fluentui/docs/src/examples/components/Grid/Types/GridExample.shorthand.tsx
  packages/fluentui/docs/src/examples/components/Grid/Types/GridExample.tsx
  packages/fluentui/docs/src/examples/components/Grid/Variations/GridExampleColumns.shorthand.tsx
  packages/fluentui/docs/src/examples/components/Grid/Variations/GridExampleColumns.tsx
  packages/fluentui/docs/src/examples/components/Grid/Variations/GridExampleColumnsAndRows.shorthand.tsx
  packages/fluentui/docs/src/examples/components/Grid/Variations/GridExampleColumnsAndRows.tsx
  packages/fluentui/docs/src/examples/components/Grid/Variations/GridExampleKeyboardNavigable.shorthand.tsx
  packages/fluentui/docs/src/examples/components/Grid/Variations/GridExampleKeyboardNavigable.tsx
  packages/fluentui/docs/src/examples/components/Grid/Variations/GridExampleRows.shorthand.tsx
  packages/fluentui/docs/src/examples/components/Grid/Variations/GridExampleRows.tsx
  packages/fluentui/docs/src/examples/components/Popup/Types/PopupCustomTargetExample.shorthand.tsx
  packages/fluentui/docs/src/examples/components/Popup/Types/PopupCustomTargetExample.tsx
  packages/fluentui/docs/src/examples/components/Popup/Types/PopupExamplePointing.shorthand.tsx
  packages/fluentui/react-northstar/src/themes/teams/components/Form/formStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Menu/menuStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Toolbar/toolbarMenuItemSubmenuIndicatorStyles.ts
Labels: Fluent UI v0

#12234 feat(react-builder): Add a UI builder
  packages/fluentui/docs-components/package.json
  packages/fluentui/docs-components/src/CodeSnippet/CodeSnippet.tsx
  packages/fluentui/docs-components/src/CopyToClipboard.tsx
  packages/fluentui/docs-components/src/Editor/Editor.tsx
  packages/fluentui/docs-components/src/Editor/index.tsx
  packages/fluentui/docs-components/src/index.ts
  packages/fluentui/docs-components/src/renderElementToJSX.ts
  packages/fluentui/docs/package.json
  packages/fluentui/docs/src/components/ComponentDoc/ComponentExample/ComponentExample.tsx
  packages/fluentui/docs/src/components/ComponentPlayground/ComponentPlaygroundSnippet.tsx
  packages/fluentui/docs/src/components/ExampleSnippet/ExampleSnippet.tsx
  packages/fluentui/docs/src/components/Sidebar/Sidebar.tsx
  packages/fluentui/docs/src/index.ejs
  packages/fluentui/docs/src/routes.tsx
  packages/fluentui/react-builder/.eslintignore
  packages/fluentui/react-builder/.eslintrc.json
  packages/fluentui/react-builder/.gulp.js
  packages/fluentui/react-builder/README.md
  packages/fluentui/react-builder/babel.config.js
  packages/fluentui/react-builder/gulpfile.ts
  packages/fluentui/react-builder/jest.config.js
  packages/fluentui/react-builder/package.json
  packages/fluentui/react-builder/src/componentInfo/componentInfoContext.ts
  packages/fluentui/react-builder/src/componentInfo/types.ts
  packages/fluentui/react-builder/src/components/Anatomy.tsx
  packages/fluentui/react-builder/src/components/BrowserWindow.tsx
  packages/fluentui/react-builder/src/components/Canvas.tsx
  packages/fluentui/react-builder/src/components/ComponentTree.tsx
  packages/fluentui/react-builder/src/components/DebugButtons.tsx
  packages/fluentui/react-builder/src/components/DebugFrame.tsx
  packages/fluentui/react-builder/src/components/Description.tsx
  packages/fluentui/react-builder/src/components/Designer.tsx
  packages/fluentui/react-builder/src/components/DropSelector.tsx
  packages/fluentui/react-builder/src/components/ErrorBoundary.tsx
  packages/fluentui/react-builder/src/components/FullScreenPreview.tsx
  packages/fluentui/react-builder/src/components/GetShareableLink.tsx
  packages/fluentui/react-builder/src/components/Knobs.tsx
  packages/fluentui/react-builder/src/components/List.tsx
  packages/fluentui/react-builder/src/components/Toolbar.tsx
  packages/fluentui/react-builder/src/components/types.ts
  packages/fluentui/react-builder/src/config.tsx
  packages/fluentui/react-builder/src/index.tsx
  packages/fluentui/react-builder/src/utils/codeToTree.ts
  packages/fluentui/react-builder/src/utils/getUUID.ts
  packages/fluentui/react-builder/src/utils/treeStore.ts
  packages/fluentui/react-builder/test/config-test.tsx
  packages/fluentui/react-builder/test/utils/treeStore-test.ts
  packages/fluentui/react-builder/tsconfig.json
  packages/fluentui/react-northstar/src/components/Debug/Debug.tsx
  packages/fluentui/react-northstar/src/components/Debug/DebugRect.tsx
  packages/fluentui/react-northstar/src/components/Debug/DebugSelector.tsx
  packages/fluentui/react-northstar/src/components/Debug/FiberNavigator.ts
  packages/fluentui/react-northstar/src/index.ts
  yarn.lock
Labels: Fluent UI v0

#13562 chore(Telemetry): Small tweaks to TelemetryTable
  packages/fluentui/react-telemetry/src/TelemetryPopover.tsx
  packages/fluentui/react-telemetry/src/TelemetryTable.tsx
  packages/fluentui/react-telemetry/src/styles.ts
  packages/fluentui/react-telemetry/src/useTelemetryColumns.tsx
  packages/fluentui/react-telemetry/src/useTelemetryData.ts
  packages/fluentui/react-telemetry/src/useTelemetryState.ts
Labels: Fluent UI v0

#13604 perf(Animation): improve convertCssTimeToNumber perf
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-bindings/src/styles/convertCssTimeToNumber.ts
  packages/fluentui/react-bindings/test/styles/convertCssTimeToNumber-test.ts
Labels: Fluent UI v0

#13570 Checkbox: use state option and move Icon out of Base component
  change/@fluentui-react-compose-2020-06-11-12-21-55-xgao-checkbox-useState.json
  change/@fluentui-react-next-2020-06-11-12-21-55-xgao-checkbox-useState.json
  packages/react-compose/etc/react-compose.api.md
  packages/react-compose/src/compose.ts
  packages/react-compose/src/mergeComposeOptions.ts
  packages/react-compose/src/types.ts
  packages/react-next/etc/react-next.api.md
  packages/react-next/src/components/Checkbox/Checkbox.base.tsx
  packages/react-next/src/components/Checkbox/Checkbox.tsx
  packages/react-next/src/components/Checkbox/useCheckbox.ts
  packages/react-next/src/components/Toggle/useToggle.ts
Labels: Component: Checkbox, Fluent UI v8, PR: API Modified

#13559 fix(ChatMessage): Update popper
  packages/fluentui/docs/src/examples/components/Popup/Visual/PopupExampleContainerTransformed.tsx
  packages/fluentui/docs/src/examples/components/Popup/Visual/index.tsx
  packages/fluentui/react-northstar/package.json
  scripts/dangerjs/detectNonApprovedDependencies/approvedPackages.ts
  yarn.lock
Labels: AutoMerge, Fluent UI v0, PR: Possible Perf Regression :snail:

#13513 Added MeetingTimeIcon, VideomailIcon, ScreenshareIcon, Shift24hIcon, ShiftActivityIcon. Updated GalleryNewIcon.
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-icons-northstar/src/components/GalleryNewIcon.tsx
  packages/fluentui/react-icons-northstar/src/components/MeetingTimeIcon.tsx
  packages/fluentui/react-icons-northstar/src/components/ScreenshareIcon.tsx
  packages/fluentui/react-icons-northstar/src/components/Shift24hIcon.tsx
  packages/fluentui/react-icons-northstar/src/components/ShiftActivityIcon.tsx
  packages/fluentui/react-icons-northstar/src/components/VideomailIcon.tsx
  packages/fluentui/react-icons-northstar/src/index.ts
Labels: Fluent UI v0, PR: Possible Perf Regression :snail:

#13589 Perf-test: pass tokens prop in ButtonNext
  apps/perf-test/src/scenarios/ButtonNext.tsx
Labels: Area: Build System, PR: Possible Perf Regression :snail:

#13608 Enable yarn start without build - Import _References.scss from office-ui-fabric-core module
  change/office-ui-fabric-react-2020-06-15-13-23-43-jslone-sass-reference-build.json
  packages/office-ui-fabric-react/src/common/_common.scss
Labels: Area: Build System, Area: DevExp, AutoMerge

#13609 Perf-test: simplify re-render setup code
  apps/perf-test/src/index.scenarios.tsx
Labels: Area: Build System

#13171 Copying SwatchColorPicker to react-next, in preparation for converting to function component
  change/@fluentui-react-next-2020-05-14-17-43-30-feat-swatch-color-picker.json
  packages/react-next/etc/react-next.api.md
  packages/react-next/src/SwatchColorPicker.ts
  packages/react-next/src/Utilities/grid/Grid.base.tsx
  packages/react-next/src/Utilities/grid/Grid.styles.ts
  packages/react-next/src/Utilities/grid/Grid.test.tsx
  packages/react-next/src/Utilities/grid/Grid.tsx
  packages/react-next/src/Utilities/grid/Grid.types.ts
  packages/react-next/src/Utilities/grid/GridCell.tsx
  packages/react-next/src/Utilities/grid/GridCell.types.ts
  packages/react-next/src/Utilities/grid/index.ts
  packages/react-next/src/components/SwatchColorPicker/ColorPickerGridCell.base.tsx
  packages/react-next/src/components/SwatchColorPicker/ColorPickerGridCell.styles.ts
  packages/react-next/src/components/SwatchColorPicker/ColorPickerGridCell.tsx
  packages/react-next/src/components/SwatchColorPicker/ColorPickerGridCell.types.ts
  packages/react-next/src/components/SwatchColorPicker/SwatchColorPicker.base.tsx
  packages/react-next/src/components/SwatchColorPicker/SwatchColorPicker.doc.tsx
  packages/react-next/src/components/SwatchColorPicker/SwatchColorPicker.styles.ts
  packages/react-next/src/components/SwatchColorPicker/SwatchColorPicker.test.tsx
  packages/react-next/src/components/SwatchColorPicker/SwatchColorPicker.tsx
  packages/react-next/src/components/SwatchColorPicker/SwatchColorPicker.types.ts
  packages/react-next/src/components/SwatchColorPicker/__snapshots__/SwatchColorPicker.test.tsx.snap
  packages/react-next/src/components/SwatchColorPicker/docs/SwatchColorPickerDonts.md
  packages/react-next/src/components/SwatchColorPicker/docs/SwatchColorPickerDos.md
  packages/react-next/src/components/SwatchColorPicker/docs/SwatchColorPickerOverview.md
  packages/react-next/src/components/SwatchColorPicker/examples/SwatchColorPicker.Basic.Example.tsx
  packages/react-next/src/components/SwatchColorPicker/index.ts
Labels: AutoMerge, Component: SwatchColorPicker, PR: API Modified

#13544 fix height and width check in the image component
  change/@fluentui-react-next-2020-06-10-14-15-55-qihuang-fixImageCoverStyleIssue.json
  change/office-ui-fabric-react-2020-06-10-14-15-55-qihuang-fixImageCoverStyleIssue.json
  packages/office-ui-fabric-react/src/components/Image/Image.base.tsx
  packages/react-next/src/components/Image/Image.base.tsx
Labels: Component: Image, Fluent UI v8, Priority 2: Normal

#13357 Prevent ContextualMenu from re-mounting items when they are updated
  change/office-ui-fabric-react-2020-05-27-11-01-01-context-menu-focus.json
  packages/office-ui-fabric-react/src/components/CommandBar/CommandBar.doc.tsx
  packages/office-ui-fabric-react/src/components/CommandBar/examples/CommandBar.Lazy.Example.tsx
  packages/office-ui-fabric-react/src/components/ContextualMenu/ContextualMenu.base.tsx
  packages/office-ui-fabric-react/src/components/ContextualMenu/ContextualMenu.test.tsx
  packages/office-ui-fabric-react/src/components/__snapshots__/CommandBar.Lazy.Example.tsx.shot
Labels: AutoMerge, Component: ContextualMenu

#13507 Adding unit tests for selecteditemslist and selectedpeoplelist
  change/@uifabric-experiments-2020-06-08-07-50-23-u-nebhatna-selectedItemsListUnitTests.json
  packages/experiments/src/components/SelectedItemsList/SelectedItemsList.test.tsx
  packages/experiments/src/components/SelectedItemsList/SelectedItemsList.tsx
  packages/experiments/src/components/SelectedItemsList/SelectedPeopleList/SelectedPeopleList.test.tsx
  packages/experiments/src/components/SelectedItemsList/SelectedPeopleList/__snapshots__/SelectedPeopleList.test.tsx.snap
  packages/experiments/src/components/SelectedItemsList/__snapshots__/SelectedItemsList.test.tsx.snap
Labels: Package: experiments

#13536 Adding unit tests for unifiedpicker and unifiedpeoplepicker
  change/@uifabric-experiments-2020-06-09-14-19-46-u-nebhatna-uppUnitTests.json
  packages/experiments/src/components/UnifiedPicker/UnifiedPeoplePicker/UnifiedPeoplePicker.test.tsx
  packages/experiments/src/components/UnifiedPicker/UnifiedPeoplePicker/__snapshots__/UnifiedPeoplePicker.test.tsx.snap
  packages/experiments/src/components/UnifiedPicker/UnifiedPicker.test.tsx
  packages/experiments/src/components/UnifiedPicker/__snapshots__/UnifiedPicker.test.tsx.snap
Labels: Package: experiments

#13605 feat(Datepicker): Add Datetime utilities package
  change/@fluentui-date-time-utilities-2020-06-15-22-02-44-feat-datetimeutils.json
  change/@fluentui-react-next-2020-06-15-22-02-44-feat-datetimeutils.json
  change/@uifabric-api-docs-2020-06-15-22-02-44-feat-datetimeutils.json
  change/@uifabric-date-time-2020-06-15-19-02-43-feat-datetimeutils.json
  change/@uifabric-tsx-editor-2020-06-15-22-02-44-feat-datetimeutils.json
  change/office-ui-fabric-react-2020-06-15-19-02-43-feat-datetimeutils.json
  packages/api-docs/config/api-docs.js
  packages/date-time-utilities/.npmignore
  packages/date-time-utilities/.npmrc
  packages/date-time-utilities/LICENSE
  packages/date-time-utilities/README.md
  packages/date-time-utilities/config/api-extractor.json
  packages/date-time-utilities/etc/date-time-utilities.api.md
  packages/date-time-utilities/jest.config.js
  packages/date-time-utilities/just.config.ts
  packages/date-time-utilities/package.json
  packages/date-time-utilities/src/dateMath/DateMath.test.ts
  packages/date-time-utilities/src/dateMath/DateMath.ts
  packages/date-time-utilities/src/dateValues/DateValues.ts
  packages/date-time-utilities/src/dateValues/TimeConstants.ts
  packages/date-time-utilities/src/index.ts
  packages/date-time-utilities/tsconfig.json
  packages/date-time-utilities/tslint.json
  packages/date-time/etc/date-time.api.md
  packages/date-time/jest.config.js
  packages/date-time/package.json
  packages/date-time/src/components/Calendar/Calendar.base.tsx
  packages/date-time/src/components/CalendarDayGrid/CalendarDayGrid.base.tsx
  packages/date-time/src/utilities/dateMath/DateMath.ts
  packages/date-time/src/utilities/dateValues/DateValues.ts
  packages/date-time/src/utilities/dateValues/TimeConstants.ts
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/jest.config.js
  packages/office-ui-fabric-react/package.json
  packages/office-ui-fabric-react/src/utilities/dateMath/DateMath.ts
  packages/office-ui-fabric-react/src/utilities/dateValues/DateValues.ts
  packages/office-ui-fabric-react/src/utilities/dateValues/TimeConstants.ts
  packages/react-next/jest.config.js
  packages/tsx-editor/src/transpiler/transpileHelpers.test.ts
  packages/tsx-editor/src/utilities/defaultSupportedPackages.ts
  scripts/tasks/lint-imports.js
Labels: AutoMerge, PR: API Modified, Package: date-time

#13533 Coachmark: copy code to react-next to stage migration
  change/@fluentui-react-next-2020-06-09-17-42-57-react-next-copy-Coachmark.json
  packages/fluentui/docs/src/examples/components/Popup/Visual/index.tsx
  packages/react-next/etc/react-next.api.md
  packages/react-next/src/Coachmark.ts
  packages/react-next/src/PositioningContainer.ts
  packages/react-next/src/components/Coachmark/Beak/Beak.styles.ts
  packages/react-next/src/components/Coachmark/Beak/Beak.tsx
  packages/react-next/src/components/Coachmark/Beak/Beak.types.ts
  packages/react-next/src/components/Coachmark/Coachmark.base.tsx
  packages/react-next/src/components/Coachmark/Coachmark.doc.tsx
  packages/react-next/src/components/Coachmark/Coachmark.styles.ts
  packages/react-next/src/components/Coachmark/Coachmark.ts
  packages/react-next/src/components/Coachmark/Coachmark.types.ts
  packages/react-next/src/components/Coachmark/PositioningContainer/PositioningContainer.styles.ts
  packages/react-next/src/components/Coachmark/PositioningContainer/PositioningContainer.tsx
  packages/react-next/src/components/Coachmark/PositioningContainer/PositioningContainer.types.ts
  packages/react-next/src/components/Coachmark/PositioningContainer/index.ts
  packages/react-next/src/components/Coachmark/docs/CoachmarkDonts.md
  packages/react-next/src/components/Coachmark/docs/CoachmarkDos.md
  packages/react-next/src/components/Coachmark/docs/CoachmarkOverview.md
  packages/react-next/src/components/Coachmark/examples/Coachmark.Basic.Example.tsx
  packages/react-next/src/components/Coachmark/index.ts
Labels: Fluent UI v8, PR: API Modified

#13553 React conformance - First groups of rules
  packages/react-conformance/package.json
  packages/react-conformance/src/defaultTests.tsx
  packages/react-conformance/src/isConformant.ts
  packages/react-conformance/src/types.ts
  packages/react-conformance/tsconfig.json
  yarn.lock
Labels: Area: Build System, Area: Testing, AutoMerge

#13510 Persona: Copy Persona component code to react-next project for migration
  change/@fluentui-react-next-2020-06-08-17-04-53-react-next-copy-Persona.json
  packages/react-next/etc/react-next.api.md
  packages/react-next/src/Persona.ts
  packages/react-next/src/PersonaCoin.ts
  packages/react-next/src/components/Persona/Persona.base.tsx
  packages/react-next/src/components/Persona/Persona.deprecated.test.tsx
  packages/react-next/src/components/Persona/Persona.doc.tsx
  packages/react-next/src/components/Persona/Persona.styles.ts
  packages/react-next/src/components/Persona/Persona.test.tsx
  packages/react-next/src/components/Persona/Persona.tsx
  packages/react-next/src/components/Persona/Persona.types.ts
  packages/react-next/src/components/Persona/PersonaCoin/PersonaCoin.base.tsx
  packages/react-next/src/components/Persona/PersonaCoin/PersonaCoin.deprecated.test.tsx
  packages/react-next/src/components/Persona/PersonaCoin/PersonaCoin.styles.ts
  packages/react-next/src/components/Persona/PersonaCoin/PersonaCoin.test.tsx
  packages/react-next/src/components/Persona/PersonaCoin/PersonaCoin.tsx
  packages/react-next/src/components/Persona/PersonaCoin/__snapshots__/PersonaCoin.deprecated.test.tsx.snap
  packages/react-next/src/components/Persona/PersonaCoin/__snapshots__/PersonaCoin.test.tsx.snap
  packages/react-next/src/components/Persona/PersonaCoin/index.ts
  packages/react-next/src/components/Persona/PersonaConsts.tsx
  packages/react-next/src/components/Persona/PersonaInitialsColor.test.ts
  packages/react-next/src/components/Persona/PersonaInitialsColor.ts
  packages/react-next/src/components/Persona/PersonaPresence/PersonaPresence.base.tsx
  packages/react-next/src/components/Persona/PersonaPresence/PersonaPresence.styles.ts
  packages/react-next/src/components/Persona/PersonaPresence/PersonaPresence.test.tsx
  packages/react-next/src/components/Persona/PersonaPresence/PersonaPresence.tsx
  packages/react-next/src/components/Persona/PersonaPresence/__snapshots__/PersonaPresence.test.tsx.snap
  packages/react-next/src/components/Persona/PersonaPresence/index.ts
  packages/react-next/src/components/Persona/__snapshots__/Persona.deprecated.test.tsx.snap
  packages/react-next/src/components/Persona/__snapshots__/Persona.test.tsx.snap
  packages/react-next/src/components/Persona/docs/PersonaDonts.md
  packages/react-next/src/components/Persona/docs/PersonaDos.md
  packages/react-next/src/components/Persona/docs/PersonaOverview.md
  packages/react-next/src/components/Persona/examples/Persona.Alternate.Example.tsx
  packages/react-next/src/components/Persona/examples/Persona.Basic.Example.tsx
  packages/react-next/src/components/Persona/examples/Persona.Colors.Example.tsx
  packages/react-next/src/components/Persona/examples/Persona.CustomCoinRender.Example.tsx
  packages/react-next/src/components/Persona/examples/Persona.CustomRender.Example.tsx
  packages/react-next/src/components/Persona/examples/Persona.Initials.Example.tsx
  packages/react-next/src/components/Persona/examples/Persona.Presence.Example.tsx
  packages/react-next/src/components/Persona/examples/Persona.PresenceColor.Example.tsx
  packages/react-next/src/components/Persona/examples/Persona.UnknownPersona.Example.tsx
  packages/react-next/src/components/Persona/index.ts
Labels: Fluent UI v8, PR: API Modified

#13637 docs: fix required version of CSB package, improve dependency generation
  packages/fluentui/CHANGELOG.md
  packages/fluentui/docs/src/components/ComponentDoc/ComponentControls/ComponentControlsCodeSandbox/ComponentControlsCodeSandbox.tsx
  packages/fluentui/docs/src/components/ComponentDoc/ComponentControls/ComponentControlsCodeSandbox/createPackageJson.ts
  packages/fluentui/docs/src/components/Playground/renderConfig.ts
Labels: AutoMerge, Fluent UI v0

#13635 Theming: Add new rounded corner values
  change/@uifabric-styling-2020-06-16-18-05-06-phkuo-newRoundedCorners.json
  change/office-ui-fabric-react-2020-06-16-18-05-06-phkuo-newRoundedCorners.json
  packages/office-ui-fabric-react/src/common/_effects.scss
  packages/styling/etc/styling.api.md
  packages/styling/src/interfaces/IEffects.ts
  packages/styling/src/styles/DefaultEffects.ts
Labels: PR: API Modified

#13621 Icon: Rendering children if passed down as props and adding snapshot tests for these scenarios
  change/office-ui-fabric-react-2020-06-16-09-19-45-react-icon-branch.json
  packages/office-ui-fabric-react/src/components/Icon/Icon.base.tsx
  packages/office-ui-fabric-react/src/components/Icon/Icon.test.tsx
  packages/office-ui-fabric-react/src/components/Icon/__snapshots__/Icon.test.tsx.snap
Labels: Component: Icon

#13587 Update theme designer codepen export
  apps/theming-designer/src/components/Header.tsx
Labels: AutoMerge

#13237 fix(Tooltip): invisible tooltip is taking up space
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/themes/teams/components/Tooltip/tooltipContentStyles.ts
Labels: AutoMerge, Fluent UI v0

#13651 Scrub and pre-commit fixes
  .githooks/pre-commit
  scripts/scrub.js
Labels: Area: Build System

#13650 @fluentui/react-next jest moduleNameMapper fix
  change/@fluentui-react-next-2020-06-17-15-59-04-react-next-fix.json
  packages/react-next/jest.config.js
Labels: Fluent UI v8

#13523 Font family inherited from fabric in Multi stacked bar chart.
  change/@uifabric-charting-2020-06-09-13-02-40-user-v-jasha-bug#4212140.json
  packages/charting/src/components/HorizontalBarChart/HorizontalBarChart.styles.ts
  packages/charting/src/components/LineChart/LineChart.base.tsx
  packages/charting/src/components/StackedBarChart/MultiStackedBarChart.styles.ts
  packages/charting/src/components/StackedBarChart/StackedBarChart.styles.ts
Labels: Package: charting

#13601 drawing focus border around the arc in dount chart
  change/@uifabric-charting-2020-06-15-14-03-02-user-v-sivsar-donutChartFocusIssue.json
  packages/charting/src/components/DonutChart/Arc/Arc.styles.ts
  packages/charting/src/components/DonutChart/Arc/Arc.tsx
  packages/charting/src/components/DonutChart/Arc/Arc.types.ts
  packages/charting/src/components/DonutChart/DonutChart.base.tsx
  packages/charting/src/components/DonutChart/Pie/Pie.tsx
  packages/charting/src/components/DonutChart/Pie/Pie.types.ts
Labels: Package: charting

#13617 Grouped bar chart Y axis tick values truncate issue resolved
  change/@uifabric-charting-2020-06-16-16-08-34-user-v-jasha-GroupedChartYAxisIssues.json
  packages/charting/src/components/GroupedVerticalBarChart/GroupedVerticalBarChart.base.tsx
  packages/charting/src/components/GroupedVerticalBarChart/examples/GroupedVerticalBarChart.Basic.Example.tsx
  packages/charting/src/components/GroupedVerticalBarChart/examples/GroupedVerticalBarChart.Styled.Example.tsx
Labels: Package: charting

#13644 fix(Telemetry): improve styling
  packages/fluentui/react-telemetry/src/TelemetryTable.tsx
  packages/fluentui/react-telemetry/src/styles.ts
  packages/fluentui/react-telemetry/src/useTelemetryColumns.tsx
Labels: Fluent UI v0

#13654 react-button: Adding api-extractor configuration
  change/@fluentui-react-button-2020-06-17-17-52-16-reactButtonAPI.json
  packages/react-button/config/api-extractor.json
  packages/react-button/etc/react-button.api.md
  packages/react-button/src/components/Button/useButton.ts
  packages/react-button/src/components/ToggleButton/useToggle.ts
Labels: Component: Button

#13547 feat: add Emotion renderer for v0
  packages/fluentui/CHANGELOG.md
  packages/fluentui/docs/package.json
  packages/fluentui/docs/src/app.tsx
  packages/fluentui/docs/src/context/ThemeContext.tsx
  packages/fluentui/react-northstar-emotion-renderer/.eslintignore
  packages/fluentui/react-northstar-emotion-renderer/.eslintrc.json
  packages/fluentui/react-northstar-emotion-renderer/.gulp.js
  packages/fluentui/react-northstar-emotion-renderer/babel.config.js
  packages/fluentui/react-northstar-emotion-renderer/gulpfile.ts
  packages/fluentui/react-northstar-emotion-renderer/jest.config.js
  packages/fluentui/react-northstar-emotion-renderer/package.json
  packages/fluentui/react-northstar-emotion-renderer/src/createEmotionRenderer.tsx
  packages/fluentui/react-northstar-emotion-renderer/src/disableAnimations.ts
  packages/fluentui/react-northstar-emotion-renderer/src/fontUtils.ts
  packages/fluentui/react-northstar-emotion-renderer/src/index.ts
  packages/fluentui/react-northstar-emotion-renderer/src/invokeKeyframes.ts
  packages/fluentui/react-northstar-emotion-renderer/src/utils.ts
  packages/fluentui/react-northstar-emotion-renderer/test/__snapshots__/emotionRenderer-test.ts.snap
  packages/fluentui/react-northstar-emotion-renderer/test/emotionRenderer-test.ts
  packages/fluentui/react-northstar-emotion-renderer/tsconfig.json
  packages/fluentui/react-northstar/src/themes/teams/components/Accordion/accordionTitleStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Alert/alertDismissActionStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Checkbox/checkboxStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Layout/layoutStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/SvgIcon/svgIconStyles.ts
  scripts/dangerjs/detectNonApprovedDependencies/approvedPackages.ts
  yarn.lock
Labels: Fluent UI v0

#13640 feat(Datepicker): Extract utility functions from date-time/Calendar*
  change/@fluentui-date-time-utilities-2020-06-17-15-40-06-feat-datetimeutilities-extract.json
  change/@uifabric-date-time-2020-06-17-15-40-06-feat-datetimeutilities-extract.json
  change/office-ui-fabric-react-2020-06-18-19-32-38-feat-datetimeutilities-extract.json
  packages/date-time-utilities/config/timezone-setup.js
  packages/date-time-utilities/etc/date-time-utilities.api.md
  packages/date-time-utilities/jest.config.js
  packages/date-time-utilities/src/dateFormatting/dateFormatting.types.ts
  packages/date-time-utilities/src/dateFormatting/formatDay.test.ts
  packages/date-time-utilities/src/dateFormatting/formatDay.ts
  packages/date-time-utilities/src/dateFormatting/formatMonthDayYear.test.ts
  packages/date-time-utilities/src/dateFormatting/formatMonthDayYear.ts
  packages/date-time-utilities/src/dateFormatting/formatMonthYear.test.ts
  packages/date-time-utilities/src/dateFormatting/formatMonthYear.ts
  packages/date-time-utilities/src/dateFormatting/formatYear.test.ts
  packages/date-time-utilities/src/dateFormatting/formatYear.ts
  packages/date-time-utilities/src/dateFormatting/index.ts
  packages/date-time-utilities/src/dateGrid/__snapshots__/getDayGrid.test.ts.snap
  packages/date-time-utilities/src/dateGrid/dateGrid.types.ts
  packages/date-time-utilities/src/dateGrid/findAvailableDate.test.ts
  packages/date-time-utilities/src/dateGrid/findAvailableDate.ts
  packages/date-time-utilities/src/dateGrid/getBoundedDateRange.test.ts
  packages/date-time-utilities/src/dateGrid/getBoundedDateRange.ts
  packages/date-time-utilities/src/dateGrid/getDateRangeTypeToUse.test.ts
  packages/date-time-utilities/src/dateGrid/getDateRangeTypeToUse.ts
  packages/date-time-utilities/src/dateGrid/getDayGrid.test.ts
  packages/date-time-utilities/src/dateGrid/getDayGrid.ts
  packages/date-time-utilities/src/dateGrid/index.ts
  packages/date-time-utilities/src/dateGrid/isAfterMaxDate.test.ts
  packages/date-time-utilities/src/dateGrid/isAfterMaxDate.ts
  packages/date-time-utilities/src/dateGrid/isBeforeMinDate.test.ts
  packages/date-time-utilities/src/dateGrid/isBeforeMinDate.ts
  packages/date-time-utilities/src/dateGrid/isRestrictedDate.test.ts
  packages/date-time-utilities/src/dateGrid/isRestrictedDate.ts
  packages/date-time-utilities/src/dateMath/dateMath.test.ts
  packages/date-time-utilities/src/dateMath/dateMath.ts
  packages/date-time-utilities/src/dateValues/dateValues.ts
  packages/date-time-utilities/src/dateValues/timeConstants.ts
  packages/date-time-utilities/src/index.ts
  packages/date-time/etc/date-time.api.md
  packages/date-time/src/components/Calendar/Calendar.base.tsx
  packages/date-time/src/components/Calendar/Calendar.types.ts
  packages/date-time/src/components/CalendarDayGrid/CalendarDayGrid.base.tsx
  packages/date-time/src/components/CalendarDayGrid/CalendarDayGrid.types.ts
  packages/date-time/src/components/DatePicker/DatePicker.base.tsx
  packages/date-time/src/components/DatePicker/DatePicker.types.ts
  packages/date-time/src/utilities/dateMath/DateMath.ts
  packages/date-time/src/utilities/dateValues/DateValues.ts
  packages/date-time/src/utilities/dateValues/TimeConstants.ts
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/utilities/dateMath/DateMath.ts
  packages/office-ui-fabric-react/src/utilities/dateValues/DateValues.ts
  packages/office-ui-fabric-react/src/utilities/dateValues/TimeConstants.ts
Labels: PR: API Modified

#13691 fix storybook dev server hardsource errors
  scripts/storybook/webpack.config.js
Labels: Area: Build System

#13662 Doughnut chart - circular accessibility updated.
  change/@uifabric-charting-2020-06-18-14-51-55-user-v-jasha-bug#4221191.json
  packages/charting/src/components/DonutChart/DonutChart.base.tsx
Labels: Package: charting

#13687 Keytips: storybook example fixes
  change/@fluentui-react-next-2020-06-18-11-09-19-xgao-keytip-example-fixes.json
  change/office-ui-fabric-react-2020-06-18-11-09-19-xgao-keytip-example-fixes.json
  packages/office-ui-fabric-react/.storybook/decorators/index.js
  packages/office-ui-fabric-react/.storybook/decorators/withKeytipLayer.js
  packages/office-ui-fabric-react/.storybook/preview.js
  packages/office-ui-fabric-react/src/components/Link/Link.base.tsx
  packages/office-ui-fabric-react/src/components/__snapshots__/Keytips.Basic.Example.tsx.shot
  packages/react-next/.storybook/decorators/index.js
  packages/react-next/.storybook/decorators/withKeytipLayer.js
  packages/react-next/.storybook/preview.js
  packages/react-next/src/components/Link/useLink.ts
Labels: Fluent UI v8

#13292 fix(Form): update layouts in Teams theme
  packages/fluentui/react-northstar/src/themes/teams/components/Form/formFieldStyles.ts
Labels: Fluent UI v0, PR: Possible Perf Regression :snail:

#13575 Creating compat layers for Button, Checkbox, Link, Pivot, Slider and Toggle components
  apps/test-bundles/webpack.config.js
  change/@fluentui-react-next-2020-05-26-11-57-04-buttonFromReactNext.json
  packages/react-next/config/api-extractor-compat.json
  packages/react-next/etc/react-next-compat.api.md
  packages/react-next/etc/react-next.api.md
  packages/react-next/jest.config.js
  packages/react-next/package.json
  packages/react-next/src/Button.ts
  packages/react-next/src/ToggleButton.ts
  packages/react-next/src/Utilities/grid/Grid.test.tsx
  packages/react-next/src/Utilities/grid/GridCell.tsx
  packages/react-next/src/compat/Button.ts
  packages/react-next/src/compat/Checkbox.ts
  packages/react-next/src/compat/Link.ts
  packages/react-next/src/compat/Pivot.ts
  packages/react-next/src/compat/Slider.ts
  packages/react-next/src/compat/Toggle.ts
  packages/react-next/src/compat/index.ts
  packages/react-next/src/components/Checkbox/examples/Checkbox.CustomStyle.Example.tsx
  packages/react-next/src/components/Dropdown/Dropdown.base.tsx
  packages/react-next/src/components/Dropdown/examples/Dropdown.Custom.Example.tsx
  packages/react-next/src/components/Dropdown/examples/Dropdown.Required.Example.tsx
  packages/react-next/src/components/FocusTrapZone/examples/FocusTrapZone.Box.Example.tsx
  packages/react-next/src/components/FocusTrapZone/examples/FocusTrapZone.Box.FocusOnCustomElement.Example.tsx
  packages/react-next/src/components/FocusTrapZone/examples/FocusTrapZone.DialogInPanel.Example.tsx
  packages/react-next/src/components/FocusTrapZone/examples/FocusTrapZone.FocusZone.Example.tsx
  packages/react-next/src/components/FocusTrapZone/examples/FocusTrapZone.Nested.Example.tsx
  packages/react-next/src/components/OverflowSet/OverflowSet.test.tsx
  packages/react-next/src/components/OverflowSet/examples/OverflowSet.Basic.Example.tsx
  packages/react-next/src/components/OverflowSet/examples/OverflowSet.BasicReversed.Example.tsx
  packages/react-next/src/components/OverflowSet/examples/OverflowSet.Custom.Example.tsx
  packages/react-next/src/components/OverflowSet/examples/OverflowSet.Vertical.Example.tsx
  packages/react-next/src/components/Persona/Persona.test.tsx
  packages/react-next/src/components/Pivot/Pivot.base.tsx
  packages/react-next/src/components/Pivot/PivotItem.types.ts
  packages/react-next/src/components/Pivot/examples/Pivot.Override.Example.tsx
  packages/react-next/src/components/Pivot/examples/Pivot.Remove.Example.tsx
  packages/react-next/src/components/ResizeGroup/examples/ResizeGroup.OverflowSet.Example.tsx
  packages/react-next/src/components/SearchBox/SearchBox.base.tsx
  packages/react-next/src/components/SearchBox/SearchBox.types.ts
  packages/react-next/src/components/SpinButton/SpinButton.styles.ts
  packages/react-next/src/components/SpinButton/SpinButton.tsx
  packages/react-next/src/components/SpinButton/SpinButton.types.ts
  packages/react-next/src/components/SpinButton/examples/SpinButton.CustomStyled.Example.tsx
  packages/react-next/src/components/TextField/examples/TextField.CustomRender.Example.tsx
  scripts/just.config.ts
  scripts/tasks/api-extractor.js
  scripts/tasks/lint-imports.js
Labels: Component: Button, Fluent UI v8, PR: API Modified

#13682 fix(Avatar): Fixing name initials bug in Avatar component.
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/components/Avatar/Avatar.tsx
  packages/fluentui/react-northstar/test/specs/components/Avatar/Avatar-test.tsx
Labels: AutoMerge, Fluent UI v0

#13707 fix(Dropdown): change order of callbacks
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/components/Dropdown/Dropdown.tsx
  packages/fluentui/react-northstar/test/specs/components/Dropdown/Dropdown-test.tsx
Labels: Fluent UI v0

#13711 fix(Dropdown): fix handling of `inputRef` on `searchInput`
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/components/Dropdown/Dropdown.tsx
  packages/fluentui/react-northstar/test/specs/components/Dropdown/Dropdown-test.tsx
Labels: Fluent UI v0

#13660 Vertical bar chart customization
  change/@uifabric-charting-2020-06-18-12-21-30-user-v-jasha-verticalChart.json
  packages/charting/src/components/VerticalBarChart/VerticalBarChart.base.tsx
  packages/charting/src/components/VerticalBarChart/VerticalBarChart.styles.ts
  packages/charting/src/components/VerticalBarChart/VerticalBarChart.types.ts
  packages/charting/src/components/VerticalBarChart/__snapshots__/VerticalBarChart.test.tsx.snap
  packages/charting/src/components/VerticalBarChart/examples/VerticalBarChart.Basic.Example.tsx
  packages/charting/src/components/VerticalBarChart/examples/VerticalBarChart.Dynamic.Example.tsx
  packages/charting/src/components/VerticalBarChart/examples/VerticalBarChart.Styled.Example.tsx
Labels: Package: charting

#13703 Doughnut chart target alignment updated.
  change/@uifabric-charting-2020-06-19-11-00-59-user-v-jasha-bug#4221194.json
  packages/charting/src/components/DonutChart/DonutChart.base.tsx
Labels: Package: charting

#13233 fix(List): updating the list colors to match Teams redlines
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/themes/teams-dark/componentVariables.ts
  packages/fluentui/react-northstar/src/themes/teams-dark/components/List/listItemVariables.ts
  packages/fluentui/react-northstar/src/themes/teams-high-contrast/componentVariables.ts
  packages/fluentui/react-northstar/src/themes/teams-high-contrast/components/List/listItemVariables.ts
  packages/fluentui/react-northstar/src/themes/teams/components/List/listItemStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/List/listItemVariables.ts
Labels: Fluent UI v0

#13696 Button: Adding pointer-events: none to :after focus rectangle
  change/@fluentui-react-button-2020-06-18-17-43-50-buttonFocusAfterPointerEventsNone.json
  packages/react-button/src/components/Button/Button.scss
Labels: Component: Button, Fluent UI v8

#13697 Fix width of header cells in TilesList
  change/@uifabric-experiments-2020-06-18-21-37-27-tile-group.json
  packages/experiments/src/components/TilesList/TilesList.scss
  packages/experiments/src/components/TilesList/TilesList.tsx
Labels: Package: experiments

#13688 KeytipData: convert to function component
  change/@fluentui-react-next-2020-06-19-13-55-44-xgao-keytipdata-hook.json
  change/@uifabric-react-hooks-2020-06-18-14-56-04-xgao-keytipdata-hook.json
  change/office-ui-fabric-react-2020-06-18-11-39-17-xgao-keytipdata-hook.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/Button/Button.test.tsx
  packages/office-ui-fabric-react/src/components/Checkbox/Checkbox.base.tsx
  packages/office-ui-fabric-react/src/components/ComboBox/ComboBox.tsx
  packages/office-ui-fabric-react/src/components/ComponentExamples.test.tsx
  packages/office-ui-fabric-react/src/components/KeytipData/KeytipData.tsx
  packages/office-ui-fabric-react/src/components/KeytipData/KeytipData.types.ts
  packages/office-ui-fabric-react/src/components/KeytipData/useKeytipData.test.tsx
  packages/office-ui-fabric-react/src/components/KeytipData/useKeytipData.ts
  packages/office-ui-fabric-react/src/components/Link/Link.base.tsx
  packages/office-ui-fabric-react/src/components/Toggle/Toggle.base.tsx
  packages/react-hooks/etc/react-hooks.api.md
  packages/react-hooks/src/index.ts
  packages/react-hooks/src/usePrevious.test.tsx
  packages/react-hooks/src/usePrevious.ts
  packages/react-next/src/components/Checkbox/Checkbox.base.tsx
  packages/react-next/src/components/Link/LinkBase.tsx
  packages/react-next/src/components/Toggle/ToggleBase.tsx
Labels: Component: Keytip, PR: API Modified, PR: Possible Perf Regression :snail:

#13726 fix(SplitButton): Fix primary hover styles
  packages/fluentui/CHANGELOG.md
  packages/fluentui/docs/src/examples/components/SplitButton/Types/SplitButtonExamplePrimary.shorthand.steps.ts
  packages/fluentui/react-northstar/src/themes/teams/components/SplitButton/splitButtonToggleStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/SplitButton/splitButtonVariables.ts
Labels: Fluent UI v0

#13727 fix(Popup): Call onClick from trigger when popup on includes hover
  packages/fluentui/CHANGELOG.md
  packages/fluentui/accessibility/src/behaviors/Popup/popupBehavior.ts
  packages/fluentui/react-northstar/src/components/Popup/Popup.tsx
  packages/fluentui/react-northstar/test/specs/components/Popup/Popup-test.tsx
Labels: Fluent UI v0

#13464 feat(Form): add form components
  packages/fluentui/docs/src/examples/components/Form/Variants/FormExampleComponents.tsx
  packages/fluentui/docs/src/examples/components/Form/Variants/index.tsx
  packages/fluentui/docs/src/examples/components/Form/index.tsx
  packages/fluentui/react-northstar/src/components/Form/Form.tsx
  packages/fluentui/react-northstar/src/components/Form/FormButton.tsx
  packages/fluentui/react-northstar/src/components/Form/FormCheckbox.tsx
  packages/fluentui/react-northstar/src/components/Form/FormDropdown.tsx
  packages/fluentui/react-northstar/src/components/Form/FormFieldCustom.tsx
  packages/fluentui/react-northstar/src/components/Form/FormInput.tsx
  packages/fluentui/react-northstar/src/components/Form/FormLabel.tsx
  packages/fluentui/react-northstar/src/components/Form/FormMessage.tsx
  packages/fluentui/react-northstar/src/components/Form/FormRadioGroup.tsx
  packages/fluentui/react-northstar/src/components/Form/FormSlider.tsx
  packages/fluentui/react-northstar/src/components/Form/utils/formFieldBase.tsx
  packages/fluentui/react-northstar/src/index.ts
  packages/fluentui/react-northstar/src/themes/teams/componentStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/componentVariables.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Form/formLabelStyles.ts
  packages/fluentui/react-northstar/src/types.ts
  packages/fluentui/react-northstar/test/specs/commonTests/isConformant.tsx
  packages/fluentui/react-northstar/test/specs/components/Form/FormButton-test.tsx
  packages/fluentui/react-northstar/test/specs/components/Form/FormCheckbox-test.tsx
  packages/fluentui/react-northstar/test/specs/components/Form/FormDropdown-test.tsx
  packages/fluentui/react-northstar/test/specs/components/Form/FormField-test.tsx
  packages/fluentui/react-northstar/test/specs/components/Form/FormFieldCustom-test.tsx
  packages/fluentui/react-northstar/test/specs/components/Form/FormInput-test.tsx
  packages/fluentui/react-northstar/test/specs/components/Form/FormLabel-test.tsx
  packages/fluentui/react-northstar/test/specs/components/Form/FormMessage-test.tsx
  packages/fluentui/react-northstar/test/specs/components/Form/FormRadioGroup-test.tsx
  packages/fluentui/react-northstar/test/specs/components/Form/FormSlider-test.tsx
Labels: Fluent UI v0, PR: Possible Perf Regression :snail:

#13706 HorizontalBarChart: Add keyboard accessability
  change/@uifabric-charting-2020-06-19-15-35-56-user-v-gorraj-Bug_4224378.json
  packages/charting/src/components/HorizontalBarChart/HorizontalBarChart.base.tsx
Labels: Package: charting

#13168 fix(Attachment): updating attachment to match Teams redlines
  packages/fluentui/CHANGELOG.md
  packages/fluentui/docs/src/examples/components/Attachment/Slots/AttachmentActionExample.shorthand.tsx
  packages/fluentui/docs/src/examples/components/Attachment/Types/AttachmentProgressExample.shorthand.tsx
  packages/fluentui/react-northstar/src/themes/teams-dark/componentVariables.ts
  packages/fluentui/react-northstar/src/themes/teams-dark/components/Attachment/attachmentActionVariables.ts
  packages/fluentui/react-northstar/src/themes/teams-dark/components/Attachment/attachmentBodyVariables.ts
  packages/fluentui/react-northstar/src/themes/teams-dark/components/Attachment/attachmentDescriptionVariables.ts
  packages/fluentui/react-northstar/src/themes/teams-dark/components/Attachment/attachmentHeaderVariables.ts
  packages/fluentui/react-northstar/src/themes/teams-dark/components/Attachment/attachmentIconVariables.ts
  packages/fluentui/react-northstar/src/themes/teams-dark/components/Attachment/attachmentVariables.ts
  packages/fluentui/react-northstar/src/themes/teams-high-contrast/componentVariables.ts
  packages/fluentui/react-northstar/src/themes/teams-high-contrast/components/Attachment/attachmentActionVariables.ts
  packages/fluentui/react-northstar/src/themes/teams-high-contrast/components/Attachment/attachmentBodyVariables.ts
  packages/fluentui/react-northstar/src/themes/teams-high-contrast/components/Attachment/attachmentDescriptionVariables.ts
  packages/fluentui/react-northstar/src/themes/teams-high-contrast/components/Attachment/attachmentHeaderVariables.ts
  packages/fluentui/react-northstar/src/themes/teams-high-contrast/components/Attachment/attachmentIconVariables.ts
  packages/fluentui/react-northstar/src/themes/teams-high-contrast/components/Attachment/attachmentVariables.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Attachment/attachmentStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Attachment/attachmentVariables.ts
Labels: Fluent UI v0

#13658 Port #7172 to ensure nav links are announced once in office-ui-fabric-react/5.79.1
  common/changes/office-ui-fabric-react/hotfix_6-office-ui-fabric-react-5.79.1_2020-06-18-03-07.json
  packages/office-ui-fabric-react/src/components/Nav/Nav.base.tsx
Labels: Component: Nav, Fabric 5

#13630 SelectedItemsList: Copy code to react-next to stage migration
  change/@fluentui-react-next-2020-06-16-20-46-58-react-next-copy-SelectedItemsList.json
  packages/react-next/etc/react-next.api.md
  packages/react-next/src/SelectedItemsList.ts
  packages/react-next/src/components/SelectedItemsList/BaseSelectedItemsList.test.tsx
  packages/react-next/src/components/SelectedItemsList/BaseSelectedItemsList.tsx
  packages/react-next/src/components/SelectedItemsList/BaseSelectedItemsList.types.ts
  packages/react-next/src/components/SelectedItemsList/SelectedPeopleList/Items/EditingItem.scss
  packages/react-next/src/components/SelectedItemsList/SelectedPeopleList/Items/EditingItem.styles.ts
  packages/react-next/src/components/SelectedItemsList/SelectedPeopleList/Items/EditingItem.tsx
  packages/react-next/src/components/SelectedItemsList/SelectedPeopleList/Items/EditingItem.types.ts
  packages/react-next/src/components/SelectedItemsList/SelectedPeopleList/Items/ExtendedSelectedItem.scss
  packages/react-next/src/components/SelectedItemsList/SelectedPeopleList/Items/ExtendedSelectedItem.tsx
  packages/react-next/src/components/SelectedItemsList/SelectedPeopleList/Items/SelectedItemWithContextMenu.tsx
  packages/react-next/src/components/SelectedItemsList/SelectedPeopleList/SelectedPeopleList.doc.tsx
  packages/react-next/src/components/SelectedItemsList/SelectedPeopleList/SelectedPeopleList.test.tsx
  packages/react-next/src/components/SelectedItemsList/SelectedPeopleList/SelectedPeopleList.tsx
  packages/react-next/src/components/SelectedItemsList/__snapshots__/BaseSelectedItemsList.test.tsx.snap
  packages/react-next/src/components/SelectedItemsList/docs/SelectedPeopleListDonts.md
  packages/react-next/src/components/SelectedItemsList/docs/SelectedPeopleListDos.md
  packages/react-next/src/components/SelectedItemsList/examples/SelectedPeopleList.Basic.Example.tsx
  packages/react-next/src/components/SelectedItemsList/examples/SelectedPeopleList.Controlled.Example.tsx
  packages/react-next/src/components/SelectedItemsList/index.ts
Labels: Fluent UI v8, PR: API Modified

#13645 Persona: Migrate Persona and PersonaCoin to function components
  change/@fluentui-react-next-2020-06-08-17-04-53-react-next-copy-Persona.json
  packages/react-next/etc/react-next.api.md
  packages/react-next/src/components/Persona/Persona.base.tsx
  packages/react-next/src/components/Persona/Persona.deprecated.test.tsx
  packages/react-next/src/components/Persona/Persona.doc.tsx
  packages/react-next/src/components/Persona/Persona.test.tsx
  packages/react-next/src/components/Persona/Persona.types.ts
  packages/react-next/src/components/Persona/PersonaCoin/PersonaCoin.base.tsx
  packages/react-next/src/components/Persona/PersonaCoin/PersonaCoin.test.tsx
  packages/react-next/src/components/Persona/PersonaPresence/PersonaPresence.base.tsx
  packages/react-next/src/components/Persona/examples/Persona.Alternate.Example.tsx
  packages/react-next/src/components/Persona/examples/Persona.Basic.Example.tsx
  packages/react-next/src/components/Persona/examples/Persona.Colors.Example.tsx
  packages/react-next/src/components/Persona/examples/Persona.CustomCoinRender.Example.tsx
  packages/react-next/src/components/Persona/examples/Persona.CustomRender.Example.tsx
  packages/react-next/src/components/Persona/examples/Persona.Initials.Example.tsx
  packages/react-next/src/components/Persona/examples/Persona.Presence.Example.tsx
  packages/react-next/src/components/Persona/examples/Persona.PresenceColor.Example.tsx
  packages/react-next/src/components/Persona/examples/Persona.UnknownPersona.Example.tsx
Labels: Fluent UI v8, PR: API Modified

#13747 Fix incorrect button imports (broken build)
  change/@fluentui-react-next-2020-06-22-16-27-55-xgao-fix-build.json
  packages/react-next/src/components/SelectedItemsList/SelectedPeopleList/Items/ExtendedSelectedItem.tsx
  packages/react-next/src/components/SelectedItemsList/examples/SelectedPeopleList.Basic.Example.tsx
  packages/react-next/src/components/SelectedItemsList/examples/SelectedPeopleList.Controlled.Example.tsx
Labels: AutoMerge, Component: SelectedItemsList, Fluent UI v8

#13659 Port #10020 to remove role=presentation in FocusZone in office-ui-fabric-react/5.79.1
  common/changes/office-ui-fabric-react/hotfix_7-office-ui-fabric-react-5.79.1_2020-06-18-06-33.json
  packages/office-ui-fabric-react/src/components/Breadcrumb/__snapshots__/Breadcrumb.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Calendar/__snapshots__/Calendar.test.tsx.snap
  packages/office-ui-fabric-react/src/components/DetailsList/__snapshots__/DetailsList.test.tsx.snap
  packages/office-ui-fabric-react/src/components/FocusZone/FocusZone.tsx
  packages/office-ui-fabric-react/src/components/Nav/__snapshots__/Nav.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Pivot/__snapshots__/Pivot.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Rating/__snapshots__/Rating.test.tsx.snap
  packages/office-ui-fabric-react/src/components/SwatchColorPicker/__snapshots__/SwatchColorPicker.test.tsx.snap
  packages/office-ui-fabric-react/src/components/pickers/__snapshots__/BasePicker.test.tsx.snap
Labels: Fabric 5

#13723 Button: Mixing style coming from slotProps
  change/@fluentui-react-button-2020-06-19-18-22-32-getStyleFromPropsAndOptions.json
  change/@fluentui-react-theme-provider-2020-06-19-18-22-32-getStyleFromPropsAndOptions.json
  packages/react-button/etc/react-button.api.md
  packages/react-button/src/components/Button/useButton.ts
  packages/react-theme-provider/etc/react-theme-provider.api.md
  packages/react-theme-provider/src/getStyleFromPropsAndOptions.ts
  packages/react-theme-provider/src/index.ts
  packages/react-theme-provider/src/tokensToStyleObject.ts
  packages/react-theme-provider/src/types.ts
Labels: AutoMerge, Component: Button, Fluent UI v8

#13750 Adding build:min step to reduce build times for codesandbox builds
  package.json
  scripts/just.config.ts
Labels: Area: Build System

#13724 fix(tree): prevent item flaged as expanded to collapse
  packages/fluentui/react-northstar/src/components/Tree/TreeItem.tsx
Labels: Fluent UI v0

#13740 docs: fix theme it feature
  packages/fluentui/docs/package.json
  packages/fluentui/docs/src/components/VariableResolver/VariableResolver.tsx
  packages/fluentui/docs/src/components/VariableResolver/useEnhancedRenderer.ts
  yarn.lock
Labels: Fluent UI v0

#13714 React conformance - Adding new tests and updating slider test
  change/@fluentui-react-next-2020-06-23-09-20-26-react-conformance.json
  change/office-ui-fabric-react-2020-06-23-09-20-26-react-conformance.json
  packages/fluentui/react-northstar/test/specs/components/Accordion/AccordionContent-test.tsx
  packages/fluentui/react-northstar/test/specs/components/Slider/Slider-test.tsx
  packages/office-ui-fabric-react/src/components/Slider/Slider.test.tsx
  packages/react-conformance/src/defaultTests.tsx
  packages/react-conformance/src/isConformant.ts
  packages/react-conformance/src/types.ts
  packages/react-next/src/components/Slider/Slider.test.tsx
Labels: Area: Build System, Area: Testing

#13732 Port #6244 to remove invalid aria-posinset and aria-setsize attributes in Commandbar
  common/changes/office-ui-fabric-react/hotfix_2-office-ui-fabric-react-5.0_2020-06-22-06-47.json
  packages/office-ui-fabric-react/src/components/CommandBar/CommandBar.test.tsx
  packages/office-ui-fabric-react/src/components/CommandBar/CommandBar.tsx
  packages/office-ui-fabric-react/src/components/CommandBar/__snapshots__/CommandBar.test.tsx.snap
Labels: Component: CommandBar, Fabric 5

#13734 Port #6244 to remove invalid aria-posinset and aria-setsize attributes in Commandbar
  common/changes/office-ui-fabric-react/hotfix_8-office-ui-fabric-react-5.79.1_2020-06-22-08-36.json
  packages/office-ui-fabric-react/src/components/CommandBar/CommandBar.test.tsx
  packages/office-ui-fabric-react/src/components/CommandBar/CommandBar.tsx
  packages/office-ui-fabric-react/src/components/CommandBar/__snapshots__/CommandBar.test.tsx.snap
Labels: Component: CommandBar, Fabric 5

#13736 fix(Debug) allow to debug composed components
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/components/Debug/FiberNavigator.ts
Labels: Fluent UI v0

#13743 revving CDN url and adding 2 filetype icons
  change/@uifabric-file-type-icons-2020-06-22-11-41-59-caperez-filetype_cortex_and_shortcut.json
  packages/file-type-icons/src/FileTypeIconMap.ts
  packages/file-type-icons/src/initializeFileTypeIcons.tsx
Labels: PR: Possible Perf Regression :snail:, Package: file-type-icons

#13571 Include typings for slots and slotProps in mergeProps typing
  change/@fluentui-react-button-2020-06-11-12-43-47-xgao-mergeProps-typing.json
  change/@fluentui-react-compose-2020-06-11-12-43-47-xgao-mergeProps-typing.json
  change/@fluentui-react-next-2020-06-11-12-43-47-xgao-mergeProps-typing.json
  packages/react-button/etc/react-button.api.md
  packages/react-button/src/components/Button/Button.types.tsx
  packages/react-button/src/components/Button/ButtonBase.tsx
  packages/react-button/src/components/ToggleButton/ToggleButton.types.ts
  packages/react-compose/etc/react-compose.api.md
  packages/react-compose/src/mergeProps.ts
  packages/react-compose/src/types.ts
  packages/react-next/etc/react-next.api.md
  packages/react-next/src/components/Checkbox/Checkbox.base.tsx
  packages/react-next/src/components/Checkbox/Checkbox.types.ts
Labels: Fluent UI v8

#13576 Checkbox: deprecate onRenderLabel and support label slot prop
  apps/vr-tests/src/stories/CheckboxNext.stories.tsx
  change/@fluentui-react-compose-2020-06-10-09-15-55-xgao-fix-compose.json
  change/@fluentui-react-next-2020-06-11-15-27-57-xgao-onRenderLabel.json
  packages/react-compose/etc/react-compose.api.md
  packages/react-compose/src/index.ts
  packages/react-compose/src/mergeProps.ts
  packages/react-compose/src/mergeSlotProp.ts
  packages/react-compose/src/resolveSlotProps.test.tsx
  packages/react-compose/src/resolveSlotProps.ts
  packages/react-compose/src/types.ts
  packages/react-next/etc/react-next.api.md
  packages/react-next/src/components/Checkbox/Checkbox.base.tsx
  packages/react-next/src/components/Checkbox/Checkbox.types.ts
  packages/react-next/src/components/Checkbox/examples/Checkbox.Other.Example.tsx
  packages/react-next/src/components/Checkbox/useCheckbox.ts
Labels: Component: Checkbox, Fluent UI v8, PR: API Modified

#13791 Disable bundle tests for react-next to avoid timing out
  apps/test-bundles/webpack.config.js
Labels: Area: Build System, Status: Do Not Merge 🚫

#13792 Fixing React-Next's Toggle component focus border value
  change/@fluentui-react-next-2020-06-24-17-32-48-feat-toggle-focus-fix.json
  packages/react-next/src/components/Toggle/Toggle.scss
Labels: AutoMerge, Component: Toggle, Fluent UI v8

#13753 react-button: minor tweaks to Button
  change/@fluentui-react-button-2020-06-22-23-10-29-fix-button-styles.json
  packages/react-button/etc/react-button.api.md
  packages/react-button/src/components/Button/Button.scss
  packages/react-button/src/components/Button/Button.types.tsx
  packages/react-button/src/components/Button/ButtonBase.tsx
Labels: Component: Button, Fluent UI v8

#13781 GroupedVerticalBarChart - The second bar chart disappear when the number of charts are greater than 2 in one page -Issue fixed
  change/@uifabric-charting-2020-06-24-20-05-28-user-v-jasha-GroupedCHartNotVisibleIssus.json
  packages/charting/src/components/GroupedVerticalBarChart/GroupedVerticalBarChart.base.tsx
  packages/charting/src/components/GroupedVerticalBarChart/examples/GroupedVerticalBarChart.Basic.Example.tsx
Labels: Package: charting

#13773 fix(SplitButton): change display
  packages/fluentui/CHANGELOG.md
  packages/fluentui/docs/src/examples/components/SplitButton/Visual/SplitButtonExampleSmallContainer.steps.ts
  packages/fluentui/docs/src/examples/components/SplitButton/Visual/SplitButtonExampleSmallContainer.tsx
  packages/fluentui/docs/src/examples/components/SplitButton/Visual/index.tsx
  packages/fluentui/docs/src/examples/components/SplitButton/index.tsx
  packages/fluentui/react-northstar/src/themes/teams/components/SplitButton/splitButtonStyles.ts
Labels: Fluent UI v0

#13763 refactor: minor refactors and small perf improvements
  packages/fluentui/react-bindings/src/hooks/useStyles.ts
  packages/fluentui/react-bindings/src/styles/getStyles.ts
  packages/fluentui/react-bindings/src/styles/resolveStyles.ts
  packages/fluentui/react-bindings/src/styles/resolveVariables.ts
  packages/fluentui/react-bindings/src/styles/types.ts
  packages/fluentui/react-bindings/test/styles/resolveStyles-test.ts
  packages/fluentui/react-northstar/src/components/Animation/useAnimationStyles.ts
  packages/fluentui/react-northstar/src/components/Provider/Provider.tsx
  packages/fluentui/react-northstar/src/components/Tree/TreeTitle.tsx
  packages/fluentui/react-northstar/src/themes/teams/components/Attachment/attachmentStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Attachment/attachmentVariables.ts
  packages/fluentui/react-northstar/src/themes/teams/getBorderFocusStyles.ts
  packages/fluentui/react-northstar/src/utils/fontSizeUtility.ts
  packages/fluentui/react-northstar/src/utils/renderComponent.tsx
  packages/fluentui/react-northstar/test/specs/utils/fontSizeUtility-test.ts
  packages/fluentui/react-telemetry/src/TelemetryPerfFlags.tsx
  packages/fluentui/styles/src/mergeThemes.ts
  packages/fluentui/styles/test/mergeThemes/mergeComponentVariables-test.ts
Labels: Fluent UI v0

#13741 fix(Divider): Fix rtl styles
  packages/fluentui/CHANGELOG.md
  packages/fluentui/docs/src/examples/components/Divider/Visuals/DividerExampleRtlAndLtr.steps.ts
  packages/fluentui/docs/src/examples/components/Divider/Visuals/DividerExampleRtlAndLtr.tsx
  packages/fluentui/docs/src/examples/components/Divider/Visuals/index.tsx
  packages/fluentui/docs/src/examples/components/Divider/index.tsx
  packages/fluentui/react-northstar/src/components/Divider/Divider.tsx
  packages/fluentui/react-northstar/src/components/Divider/DividerContent.tsx
  packages/fluentui/react-northstar/src/index.ts
  packages/fluentui/react-northstar/src/themes/teams/componentStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Divider/dividerContentStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Divider/dividerStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/types.ts
  packages/fluentui/react-northstar/test/specs/components/Divider/DividerContent-test.tsx
Labels: Fluent UI v0

#13766 fix(Docs) fix UI Builder loading in IE11
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-builder/package.json
  packages/fluentui/react-builder/src/utils/codeToTree.ts
Labels: Fluent UI v0

#13801 fix(Input): pass `required` to an `input` slot
  packages/fluentui/react-northstar/src/components/Input/Input.tsx
  packages/fluentui/react-northstar/test/specs/components/Input/Input-test.tsx
Labels: Fluent UI v0

#13800 fix(Dropdown): fix cursor behavior in a input
  packages/fluentui/CHANGELOG.md
  packages/fluentui/e2e/e2eApi.ts
  packages/fluentui/e2e/tests/dropdownSearch-example.tsx
  packages/fluentui/e2e/tests/dropdownSearch-test.ts
  packages/fluentui/react-northstar/src/components/Dropdown/Dropdown.tsx
Labels: Fluent UI v0

#13776 feat(ChatMessages): Add new slots for the chat message header
  packages/fluentui/CHANGELOG.md
  packages/fluentui/docs/src/examples/components/Chat/Types/ChatExampleDetails.shorthand.steps.ts
  packages/fluentui/docs/src/examples/components/Chat/Types/ChatExampleDetails.shorthand.tsx
  packages/fluentui/docs/src/examples/components/Chat/Types/index.tsx
  packages/fluentui/react-northstar/src/components/Chat/Chat.tsx
  packages/fluentui/react-northstar/src/components/Chat/ChatMessage.tsx
  packages/fluentui/react-northstar/src/components/Chat/ChatMessageDetails.tsx
  packages/fluentui/react-northstar/src/index.ts
  packages/fluentui/react-northstar/src/themes/teams/componentStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/componentVariables.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Chat/chatMessageDetailsStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Chat/chatMessageDetailsVariables.ts
  packages/fluentui/react-northstar/test/specs/components/Chat/ChatMessage-test.tsx
  packages/fluentui/react-northstar/test/specs/components/Chat/ChatMessageDetails-test.tsx
Labels: AutoMerge, Fluent UI v0

#13804 Update buildto to accept multiple packages
  package.json
  scripts/monorepo/buildTo.js
Labels: Area: Build System

#13805 Remove unneeded steps from size auditor CI
  azure-pipelines.bundlesize.yml
Labels: Area: Build System

#13806 UnifiedPicker - Fixing failing import package
  change/@uifabric-experiments-2020-06-25-13-18-22-u-nebhatna-fixImports.json
  packages/experiments/src/components/UnifiedPicker/UnifiedPicker.tsx
Labels: Package: experiments

#13686 Automatically configure jest moduleNameMapper
  apps/a11y-tests/jest.config.js
  apps/pr-deploy-site/just.config.ts
  change/@fluentui-react-button-2020-06-18-16-59-55-jest-mapping.json
  change/@fluentui-react-icons-2020-06-18-10-57-08-jest-mapping.json
  change/@fluentui-react-next-2020-06-18-10-57-08-jest-mapping.json
  change/@fluentui-react-theme-provider-2020-06-18-10-57-08-jest-mapping.json
  change/@uifabric-charting-2020-06-18-10-57-08-jest-mapping.json
  change/@uifabric-date-time-2020-06-18-10-57-08-jest-mapping.json
  change/@uifabric-example-app-base-2020-06-18-10-57-08-jest-mapping.json
  change/@uifabric-experiments-2020-06-18-10-57-08-jest-mapping.json
  change/@uifabric-react-cards-2020-06-18-10-57-08-jest-mapping.json
  change/@uifabric-react-hooks-2020-06-18-10-57-08-jest-mapping.json
  change/@uifabric-tsx-editor-2020-06-18-10-57-08-jest-mapping.json
  change/office-ui-fabric-react-2020-06-18-10-57-08-jest-mapping.json
  packages/charting/jest.config.js
  packages/date-time/jest.config.js
  packages/example-app-base/jest.config.js
  packages/experiments/jest.config.js
  packages/lists/jest.config.js
  packages/office-ui-fabric-react/jest.config.js
  packages/react-button/jest.config.js
  packages/react-cards/jest.config.js
  packages/react-conformance/jest.config.js
  packages/react-conformance/just.config.ts
  packages/react-hooks/jest.config.js
  packages/react-icons/jest.config.js
  packages/react-next/jest.config.js
  packages/react-theme-provider/jest.config.js
  packages/tsx-editor/config/tests.js
  packages/tsx-editor/jest.config.js
  packages/tsx-editor/package.json
  scripts/create-package/plop-templates-node/just.config.ts
  scripts/create-package/plop-templates-react/jest.config.js
  scripts/jest/jest-resources.js
  scripts/monorepo/findGitRoot.js
  scripts/monorepo/findRepoDeps.js
  scripts/monorepo/getAllPackageInfo.js
  scripts/monorepo/index.d.ts
  scripts/webpack/getResolveAlias.js
Labels: Area: Build System, AutoMerge

#13366 Fix examples to properly remove duplicates
  change/office-ui-fabric-react-2020-05-27-20-15-46-peoplepicker-duplicates.json
  packages/office-ui-fabric-react/src/components/pickers/PeoplePicker/examples/PeoplePicker.Compact.Example.tsx
  packages/office-ui-fabric-react/src/components/pickers/PeoplePicker/examples/PeoplePicker.LimitedSearch.Example.tsx
  packages/office-ui-fabric-react/src/components/pickers/PeoplePicker/examples/PeoplePicker.List.Example.tsx
  packages/office-ui-fabric-react/src/components/pickers/PeoplePicker/examples/PeoplePicker.Normal.Example.tsx
  packages/office-ui-fabric-react/src/components/pickers/PeoplePicker/examples/PeoplePicker.PreselectedItems.Example.tsx
  packages/office-ui-fabric-react/src/components/pickers/PeoplePicker/examples/PeoplePicker.ProcessSelection.Example.tsx
Labels: AutoMerge, Component: PeoplePicker, Component: Pickers

#13790 Button: Using correct focus borders from utilities
  change/@fluentui-react-button-2020-06-24-15-56-24-buttonFocusRects.json
  packages/react-button/src/common/_common.scss
  packages/react-button/src/common/_focusBorder.scss
  packages/react-button/src/common/_semanticSlots.scss
  packages/react-button/src/components/Button/Button.scss
  packages/react-button/src/components/Button/useButton.ts
Labels: Component: Button, Fluent UI v8

#13769 Button: Adding stories of a Button themed like Fluent using tokens
  change/@fluentui-react-button-2020-06-23-16-57-07-buttonFluentTheme.json
  change/@fluentui-react-next-2020-06-25-11-56-18-buttonFluentTheme.json
  packages/react-button/.storybook/decorators/index.js
  packages/react-button/.storybook/decorators/withThemeProvider.js
  packages/react-button/.storybook/knobs/theme.js
  packages/react-button/.storybook/main.js
  packages/react-button/.storybook/preview.js
  packages/react-next/.storybook/preview.js
Labels: AutoMerge, Component: Button, Fluent UI v8

#13622 Handle float scrolltop in allowscrollonelement
  change/@uifabric-utilities-2020-06-16-09-32-52-handle-float-scrolltop-in-allowscrollonelement.json
  packages/utilities/src/scroll.ts
Labels: AutoMerge, Component: ScrollablePane, Package: utilities

#13785 Fix issue When the mouse is over the data point on the second chart, the vertical line appears on the first chart
  .codesandbox/ci.json
  change/@uifabric-charting-2020-06-24-21-25-37-user-v-gorraj-Bug_4248966.json
  packages/charting/src/components/LineChart/LineChart.base.tsx
  packages/charting/src/components/LineChart/examples/LineChart.Basic.Example.tsx
Labels: Package: charting

#13775 fix errors with Accessibility Insights invalid aria-attribute value for charts
  change/@uifabric-charting-2020-06-24-17-53-53-user-v-gorraj-Bug_4223835.json
  packages/charting/src/components/DonutChart/DonutChart.base.tsx
  packages/charting/src/components/GroupedVerticalBarChart/GroupedVerticalBarChart.base.tsx
  packages/charting/src/components/HorizontalBarChart/HorizontalBarChart.base.tsx
  packages/charting/src/components/LineChart/LineChart.base.tsx
  packages/charting/src/components/StackedBarChart/MultiStackedBarChart.base.tsx
  packages/charting/src/components/StackedBarChart/StackedBarChart.base.tsx
  packages/charting/src/components/VerticalBarChart/VerticalBarChart.base.tsx
  packages/charting/src/components/VerticalBarChart/VerticalBarChart.test.tsx
  packages/charting/src/components/VerticalBarChart/__snapshots__/VerticalBarChart.test.tsx.snap
  packages/charting/src/components/VerticalBarChart/react-dom.js
  packages/charting/src/components/VerticalStackedBarChart/VerticalStackedBarChart.base.tsx
Labels: Package: charting

#13803 CalendarDayGrid: migrate component to function component
  change/@uifabric-date-time-2020-06-25-16-55-17-functional-date-time-CaledarDayGrid.json
  packages/date-time/src/components/CalendarDayGrid/CalendarDayGrid.base.tsx
  packages/date-time/src/components/CalendarDayGrid/CalendarGridDayCell.tsx
  packages/date-time/src/components/CalendarDayGrid/CalendarGridRow.tsx
  packages/date-time/src/components/CalendarDayGrid/CalendarMonthHeaderRow.tsx
Labels: Component: CalendarDayGrid, Package: date-time

#13811 Plumb event information through for spin button increment/decrement
  change/office-ui-fabric-react-2020-06-25-16-57-56-passEventSpinButton.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/SpinButton/SpinButton.tsx
  packages/office-ui-fabric-react/src/components/SpinButton/SpinButton.types.ts
Labels: AutoMerge, Component: SpinButton, PR: API Modified

#13810 Checkbox: use CheckMark icon from react-icons
  apps/vr-tests/src/stories/CheckboxNext.stories.tsx
  change/@fluentui-react-next-2020-06-25-16-58-38-xgao-react-icons.json
  packages/react-next/etc/react-next.api.md
  packages/react-next/package.json
  packages/react-next/src/components/Checkbox/Checkbox.base.tsx
  packages/react-next/src/components/Checkbox/Checkbox.tsx
  packages/react-next/src/components/Checkbox/Checkbox.types.ts
  packages/react-next/src/components/Checkbox/__snapshots__/Checkbox.test.tsx.snap
  packages/react-next/src/components/Fabric/__snapshots__/Fabric.test.tsx.snap
Labels: Component: Checkbox, Fluent UI v8, PR: API Modified

#12995 Updating SearchBox to a function component inside React-Next
  apps/perf-test/src/scenarios/SearchBoxNext.tsx
  apps/vr-tests/src/stories/SearchBoxNext.stories.tsx
  change/@fluentui-react-next-2020-05-04-18-04-42-feat-updating-search-box.json
  packages/react-next/etc/react-next.api.md
  packages/react-next/src/components/SearchBox/SearchBox.base.tsx
  packages/react-next/src/components/SearchBox/SearchBox.test.tsx
  packages/react-next/src/components/SearchBox/SearchBox.types.ts
  packages/react-next/src/components/SearchBox/__snapshots__/SearchBox.test.tsx.snap
  packages/react-next/src/components/SearchBox/examples/SearchBox.Disabled.Example.tsx
  packages/react-next/src/components/SearchBox/examples/SearchBox.FullSize.Example.tsx
  packages/react-next/src/components/SearchBox/examples/SearchBox.Underlined.Example.tsx
  packages/react-next/tsconfig.json
Labels: Component: SearchBox, Needs: Attention :wave:, PR: Possible Perf Regression :snail:
