Repository microsoft/fluentui, pull requests merged in 2020-09, with the labels that each got.

#13477 Add wrapper styling to datepicker
  change/@uifabric-date-time-2020-06-04-13-16-22-datepicker-add-wrapper-styles.json
  change/office-ui-fabric-react-2020-06-04-12-41-39-datepicker-add-wrapper-styles.json
  packages/date-time/etc/date-time.api.md
  packages/date-time/src/components/DatePicker/DatePicker.base.tsx
  packages/date-time/src/components/DatePicker/DatePicker.types.ts
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/DatePicker/DatePicker.base.tsx
  packages/office-ui-fabric-react/src/components/DatePicker/DatePicker.types.ts
Labels: Component: DatePicker

#14826 fix(Skeleton): fix colors
  packages/fluentui/react-northstar/src/themes/teams-high-contrast/componentVariables.ts
  packages/fluentui/react-northstar/src/themes/teams-high-contrast/components/Skeleton/skeletonVariables.ts
  packages/fluentui/react-northstar/src/themes/teams/colors.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Skeleton/skeletonVariables.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Skeleton/utils/animations.ts
Labels: AutoMerge, Fluent UI react-northstar

#14737 RFC - popper position fix
  packages/fluentui/CHANGELOG.md
  packages/fluentui/docs/src/examples/components/Popup/Visual/PopupScrollExample.steps.ts
  packages/fluentui/docs/src/examples/components/Popup/Visual/PopupScrollExample.tsx
  packages/fluentui/docs/src/examples/components/Popup/Visual/index.tsx
  packages/fluentui/react-bindings/src/hooks/useTriggerElement.tsx
  packages/fluentui/react-northstar/src/utils/positioner/Popper.tsx
  packages/fluentui/react-northstar/src/utils/positioner/types.ts
Labels: AutoMerge, Fluent UI react-northstar

#14845 chore: update positioning in ToolbarExampleVariables
  packages/fluentui/docs/src/examples/components/Toolbar/Visual/ToolbarExampleVariables.shorthand.tsx
Labels: Fluent UI react-northstar

#14798 docs/fluentui_development_notes
  packages/fluentui/CONTRIBUTING.md
Labels: Fluent UI react-northstar

#14841 fix(Menu): remove style conflict between hover/active
  packages/fluentui/docs/src/examples/components/Menu/Usage/MenuExampleWithSubmenuHover.shorthand.steps.ts
  packages/fluentui/docs/src/examples/components/Menu/Usage/MenuExampleWithSubmenuHover.shorthand.tsx
  packages/fluentui/react-northstar/src/components/Menu/MenuItem.tsx
  packages/fluentui/react-northstar/src/components/Menu/MenuItemWrapper.tsx
  packages/fluentui/react-northstar/src/themes/teams/components/Menu/menuItemWrapperStyles.ts
  packages/fluentui/react-northstar/test/specs/components/Menu/Menu-test.tsx
Labels: Fluent UI react-northstar

#14631 Added copy paste shortcuts to UI builder
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-builder/src/components/Canvas.tsx
  packages/fluentui/react-builder/src/components/Designer.tsx
Labels: Fluent UI react-northstar

#14815 fix(UI builder): Form crashes the builder
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-builder/src/config.tsx
Labels: Fluent UI react-northstar

#14806 Calendar: Adding aria-current=date to present day
  change/@uifabric-date-time-2020-08-28-13-49-36-master.json
  change/office-ui-fabric-react-2020-08-28-13-49-36-master.json
  packages/date-time/src/components/CalendarDayGrid/CalendarGridDayCell.tsx
  packages/date-time/src/components/WeeklyDayPicker/__snapshots__/WeeklyDayPicker.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Calendar/CalendarDay.tsx
Labels: Area: Accessibility, Area: Narrator, AutoMerge, Component: Calendar, Component: DatePicker

#14844 docs(SvgIcon): remove page in production
  packages/fluentui/docs/src/components/Sidebar/Sidebar.tsx
Labels: AutoMerge, Fluent UI react-northstar

#14823 chore: update Screener config for Northstar
  azure-pipelines.yml
  packages/fluentui/docs/src/examples/components/Button/Rtl/ButtonExample.rtl.tsx
  scripts/screener/screener.config.js
Labels: Fluent UI react-northstar

#14848 chore: try different positioning for examples
  packages/fluentui/docs/src/examples/components/Chat/Usage/ChatExampleInScrollable.shorthand.tsx
  packages/fluentui/docs/src/examples/components/Toolbar/Visual/ToolbarExampleVariables.shorthand.tsx
Labels: Fluent UI react-northstar

#14837 Codemods: add npx support for configmod
  change/@fluentui-codemods-2020-08-31-21-05-37-t-dama-addConfigMod.json
  packages/codemods/src/codeMods/mods/configMod/configMod.mod.ts
  packages/codemods/src/codeMods/mods/upgrades.json
  packages/codemods/tsconfig.json
Labels: Area: Build System, Package: codemods

#14544 Updating SwatchColorPicker to a function component inside React-Next
  apps/perf-test/src/scenarios/SwatchColorPicker.tsx
  apps/perf-test/src/scenarios/SwatchColorPickerNext.tsx
  apps/vr-tests/src/stories/SwatchColorPickerNext.stories.tsx
  change/@fluentui-react-focus-2020-08-14-15-13-09-feat-updating-swatchColorPickerNext.json
  change/@fluentui-react-next-2020-08-12-18-54-44-feat-updating-swatchColorPickerNext.json
  packages/react-focus/etc/react-focus.api.md
  packages/react-focus/src/components/FocusZone/FocusZone.tsx
  packages/react-focus/src/components/FocusZone/FocusZone.types.ts
  packages/react-next/RELEASE_NOTES.md
  packages/react-next/etc/react-next.api.md
  packages/react-next/src/components/SwatchColorPicker/ColorPickerGridCell.base.tsx
  packages/react-next/src/components/SwatchColorPicker/ColorPickerGridCell.types.ts
  packages/react-next/src/components/SwatchColorPicker/SwatchColorPicker.base.tsx
  packages/react-next/src/components/SwatchColorPicker/SwatchColorPicker.test.tsx
  packages/react-next/src/components/SwatchColorPicker/SwatchColorPicker.types.ts
  packages/react-next/src/utilities/grid/Grid.base.tsx
  packages/react-next/src/utilities/grid/Grid.tsx
  packages/react-next/src/utilities/grid/GridCell.tsx
Labels: Component: SwatchColorPicker, PR: API Modified, PR: Possible Perf Regression :snail:

#14849 Codemods: Compat mod refresh
  change/@fluentui-codemods-2020-09-01-11-15-19-component-to-compat.json
  packages/codemods/package.json
  packages/codemods/src/codeMods/mods/componentToCompat/compatHelpers.ts
  packages/codemods/src/codeMods/mods/componentToCompat/componentToCompat.mod.ts
  packages/codemods/src/codeMods/mods/componentToCompat/namedExports.ts
  packages/codemods/src/codeMods/tests/componentToCompat/componentToCompat.test.ts
Labels: Area: Build System, Package: codemods

#14705 feat: add zoom icons to react-northstar, needed by Teams
  packages/fluentui/react-icons-northstar/src/components/ZoomInIcon.tsx
  packages/fluentui/react-icons-northstar/src/components/ZoomOutIcon.tsx
  packages/fluentui/react-icons-northstar/src/components/ZoomToFitIcon.tsx
  packages/fluentui/react-icons-northstar/src/index.ts
Labels: Area: Icons, AutoMerge, Fluent UI react-northstar

#14856 mergeProps: less bugs, more tests
  change/@fluentui-react-compose-2020-09-01-17-42-22-fix-mergeProps.json
  packages/react-compose/src/next/mergeProps.test.tsx
  packages/react-compose/src/next/mergeProps.ts
Labels: AutoMerge

#14816 Feat/datepicker adding more accessible behaviors
  change/@fluentui-date-time-utilities-2020-08-31-11-26-38-feat-datepicker_month_navigation.json
  packages/date-time-utilities/etc/date-time-utilities.api.md
  packages/date-time-utilities/src/dateFormatting/dateFormatting.defaults.ts
  packages/date-time-utilities/src/dateFormatting/dateFormatting.types.ts
  packages/date-time-utilities/src/dateGrid/getDayGrid.ts
  packages/fluentui/accessibility/src/behaviors/Datepicker/datepickerCalendarCellBehavior.ts
  packages/fluentui/docs/src/examples/components/Datepicker/Slots/DatepickerCellExample.shorthand.steps.ts
  packages/fluentui/e2e/tests/datepicker-test.ts
  packages/fluentui/react-northstar/package.json
  packages/fluentui/react-northstar/src/components/Datepicker/Datepicker.tsx
  packages/fluentui/react-northstar/src/components/Datepicker/DatepickerCalendar.tsx
  packages/fluentui/react-northstar/src/components/Datepicker/DatepickerCalendarHeader.tsx
Labels: Component: DatePicker, Fluent UI react, Fluent UI react-northstar

#14821 fix/Keeping input width fixed
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/components/Input/Input.tsx
Labels: Fluent UI react-northstar

#14840 AreaChart: resize issue resolved in area chart
  change/@uifabric-charting-2020-09-01-12-26-13-user-v-jasha-CartesianUpdate.json
  packages/charting/src/components/AreaChart/AreaChart.base.tsx
  packages/charting/src/components/AreaChart/examples/AreaChart.Basic.Example.tsx
  packages/charting/src/components/AreaChart/examples/AreaChart.Multiple.Example.tsx
  packages/charting/src/components/AreaChart/examples/AreaChart.Styled.Example.tsx
  packages/charting/src/components/CommonComponents/CartesianChart.base.tsx
  packages/charting/src/components/CommonComponents/CartesianChart.types.ts
  packages/charting/src/utilities/utilities.ts
Labels: Package: charting

#14830 Vertical stacked bar chart y axis improvements
  change/@uifabric-charting-2020-08-31-14-41-30-VerticalStackedBarChart-yAxis-improvements.json
  packages/charting/src/components/VerticalStackedBarChart/VerticalStackedBarChart.base.tsx
  packages/charting/src/components/VerticalStackedBarChart/VerticalStackedBarChart.types.ts
  packages/charting/src/components/VerticalStackedBarChart/examples/VerticalStackedBarChart.Styled.Example.tsx
  packages/charting/src/utilities/utilities.ts
Labels: Package: charting

#14860 feat(TextArea): Add autoAdjustHeight
  packages/fluentui/CHANGELOG.md
  packages/fluentui/docs/src/examples/components/TextArea/Variations/TextAreaExampleAutoHeight.shorthand.tsx
  packages/fluentui/docs/src/examples/components/TextArea/Variations/index.tsx
  packages/fluentui/react-northstar/src/components/TextArea/TextArea.tsx
  packages/fluentui/react-northstar/src/themes/teams/components/TextArea/textAreaStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/TextArea/textAreaVariables.ts
Labels: AutoMerge, Fluent UI react-northstar

#14862 feat(Datepicker): Add advanced keyboard navigation
  change/@fluentui-date-time-utilities-2020-09-02-18-40-38-feat-datepicker-adv-nav.json
  packages/date-time-utilities/etc/date-time-utilities.api.md
  packages/date-time-utilities/src/dateMath/dateMath.test.ts
  packages/date-time-utilities/src/dateMath/dateMath.ts
  packages/fluentui/react-northstar/src/components/Datepicker/navigateToNewDate.tsx
Labels: AutoMerge

#14878 Revert "feat(TextArea): Add autoAdjustHeight (#14860)"
  packages/fluentui/CHANGELOG.md
  packages/fluentui/docs/src/examples/components/TextArea/Variations/TextAreaExampleAutoHeight.shorthand.tsx
  packages/fluentui/docs/src/examples/components/TextArea/Variations/index.tsx
  packages/fluentui/react-northstar/src/components/TextArea/TextArea.tsx
  packages/fluentui/react-northstar/src/themes/teams/components/TextArea/textAreaStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/TextArea/textAreaVariables.ts
Labels: Fluent UI react-northstar

#14877 chore: shows menus in ToolbarExampleVariables as a separate step
  packages/fluentui/CONTRIBUTING.md
  packages/fluentui/docs/src/examples/components/Toolbar/Visual/ToolbarExampleVariables.shorthand.steps.ts
  packages/fluentui/docs/src/examples/components/Toolbar/Visual/ToolbarExampleVariables.shorthand.tsx
Labels: Fluent UI react-northstar

#14865 Modify handling for onDrop function
  change/@uifabric-experiments-2020-09-02-12-03-11-fixdnd.json
  packages/experiments/src/components/UnifiedPicker/UnifiedPicker.tsx
Labels: Package: experiments

#14043 feat: add 4 icons to react-northstar-icons
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-icons-northstar/src/components/BluetoothIcon.tsx
  packages/fluentui/react-icons-northstar/src/components/BreakoutRoomIcon.tsx
  packages/fluentui/react-icons-northstar/src/components/ConferenceRoomDeviceIcon.tsx
  packages/fluentui/react-icons-northstar/src/components/FilesErrorIcon.tsx
  packages/fluentui/react-icons-northstar/src/index.ts
Labels: Fluent UI react-northstar

#14834 Clean up pipeline definitions and delete 6.0 release notes
  .devops/templates/tools.yml
  6.0_RELEASE_NOTES.md
  azure-pipelines.artifacts.yml
  azure-pipelines.cache.yml
  azure-pipelines.hotfix.yml
  azure-pipelines.perf-test.yml
  azure-pipelines.release.yml
  azure-pipelines.yml
Labels: Area: Build System, AutoMerge

#14851 DetailsRow/DetailsHeader: Remove findDOMNode usage
  change/@fluentui-react-focus-2020-09-02-15-55-10-list-finddomnode.json
  change/@uifabric-utilities-2020-09-02-15-55-10-list-finddomnode.json
  change/office-ui-fabric-react-2020-09-01-12-44-02-list-finddomnode.json
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsHeader.base.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsRow.base.tsx
  packages/react-focus/src/components/FocusZone/FocusZone.types.ts
  packages/utilities/src/createMergedRef.ts
Labels: AutoMerge, Component: DetailsList, Component: FocusZone, PR: Possible Perf Regression :snail:

#14872 making the prop 'showYAxisGridLines' as deprecated.
  change/@uifabric-charting-2020-09-03-11-29-24-user-v-sivar-MakeApropDeprecated.json
  packages/charting/src/components/AreaChart/AreaChart.base.tsx
  packages/charting/src/components/AreaChart/AreaChart.types.ts
  packages/charting/src/components/AreaChart/examples/AreaChart.Basic.Example.tsx
  packages/charting/src/components/AreaChart/examples/AreaChart.Styled.Example.tsx
Labels: Package: charting

#14567 Add ie11 polyfill package and test with react-button package
  change/@fluentui-ie11-polyfills-2020-09-01-22-54-55-ie11-polyfill.json
  change/@fluentui-react-button-2020-08-27-12-13-14-ie11-polyfill.json
  change/@uifabric-example-app-base-2020-08-27-12-13-14-ie11-polyfill.json
  packages/example-app-base/src/components/CodeSnippet/CodeSnippet.tsx
  packages/ie11-polyfills/.npmignore
  packages/ie11-polyfills/.npmrc
  packages/ie11-polyfills/LICENSE
  packages/ie11-polyfills/README.md
  packages/ie11-polyfills/index.d.ts
  packages/ie11-polyfills/index.js
  packages/ie11-polyfills/package.json
  packages/react-button/config/pre-copy.json
  packages/react-button/package.json
  packages/react-button/src/demo/index.tsx
  packages/react-button/webpack.serve.config.js
  scripts/create-package/plopfile.ts
  scripts/webpack/getResolveAlias.js
  yarn.lock
Labels: Platform: IE11

#14887 useMergedRefs: now returns React.RefObject so that the current value can be referenced easily
  change/@uifabric-react-hooks-2020-09-03-14-55-01-fix-useMergedRefs.json
  packages/react-hooks/etc/react-hooks.api.md
  packages/react-hooks/src/useMergedRefs.test.tsx
  packages/react-hooks/src/useMergedRefs.ts
Labels: AutoMerge, Package: react-hooks

#14846 docs(Tree,Lists): Adding Jaws bug about not narrating "aria-selected" state
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/components/Tree/Tree.tsx
Labels: Fluent UI react-northstar

#14893 fix(UI builder): Image with no height in build mode
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-builder/src/components/Canvas.tsx
Labels: Fluent UI react-northstar

#14894 fix(UI builder): Dragging selected components in canvas
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-builder/src/components/DebugFrame.tsx
Labels: Fluent UI react-northstar

#14885 chore/Removing aria-disabled from Popup.Trigger
  packages/fluentui/CHANGELOG.md
  packages/fluentui/accessibility/src/behaviors/Dialog/dialogBehavior.ts
  packages/fluentui/accessibility/src/behaviors/MenuButton/menuButtonBehavior.ts
  packages/fluentui/accessibility/src/behaviors/Popup/popupBehavior.ts
  packages/fluentui/react-northstar/src/components/Popup/Popup.tsx
Labels: AutoMerge, Fluent UI react-northstar

#14899 chore: use portfinder for E2E tests
  scripts/gulp/tasks/test-e2e.ts
Labels: Area: Build System, PR: Possible Perf Regression :snail:

#14905 chore: rename default screenshots in Screener
  scripts/screener/screener.steps.ts
Labels: Area: Build System

#14817 fix(Perf): render perf tests using React.createElement
  packages/fluentui/digest/src/bundle/index.digest.tsx
Labels: Fluent UI react-northstar

#14881 feat(Datepicker): Add advanced keyboard navigation
  packages/fluentui/accessibility/src/behaviors/Datepicker/datepickerCalendarBehavior.ts
  packages/fluentui/accessibility/src/behaviors/Datepicker/datepickerCalendarGridBehavior.ts
  packages/fluentui/e2e/tests/datepicker-test.ts
  packages/fluentui/react-northstar/src/components/Datepicker/DatepickerCalendar.tsx
Labels: AutoMerge, Fluent UI react-northstar

#14895 fix(RadioGroupItem): fix custom indicator
  packages/fluentui/CHANGELOG.md
  packages/fluentui/docs/src/examples/components/RadioGroup/Types/RadioGroupColorPickerExample.shorthand.tsx
  packages/fluentui/react-northstar/src/components/RadioGroup/RadioGroupItem.tsx
  packages/fluentui/react-northstar/src/themes/teams-dark/components/RadioGroup/radioGroupItemVariables.ts
  packages/fluentui/react-northstar/src/themes/teams-high-contrast/components/RadioGroup/radioGroupItemVariables.ts
  packages/fluentui/react-northstar/src/themes/teams/components/RadioGroup/radioGroupItemStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/RadioGroup/radioGroupItemVariables.ts
Labels: AutoMerge, Fluent UI react-northstar

#12870 Factor out an inner version of DetailsList which uses hooks
  change/office-ui-fabric-react-2020-04-24-15-47-58-details-list-hooks.json
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsList.base.tsx
Labels: Component: DetailsList, Fluent UI v8

#13198 fix(Button): fix onHover colors in Teams Theme
  packages/fluentui/docs/src/examples/components/Button/Types/ButtonExampleInverted.tsx
  packages/fluentui/react-northstar/src/themes/teams/components/Button/buttonStyles.ts
Labels: Fluent UI react-northstar

#14909 Making fluid button screener tests take 100% of the width to properly test for fluid styling
  apps/vr-tests/src/stories/ButtonNext.stories.tsx
Labels: AutoMerge, Component: Button

#14910 Removing screener tests for Button in @uifabric/experiments package
  apps/vr-tests/src/stories/NewButton.stories.tsx
Labels: AutoMerge, Component: Button

#14911 FocusZone: Adding forceAlignment attribute to focusElement to set focus alignment according to the element provided
  change/@fluentui-react-focus-2020-09-04-13-19-52-focusZoneFocusElementForceAlignment.json
  packages/fluentui/react-bindings/src/FocusZone/CHANGELOG.md
  packages/fluentui/react-bindings/src/FocusZone/FocusZone.tsx
  packages/fluentui/react-bindings/src/FocusZone/FocusZone.types.ts
  packages/react-focus/etc/react-focus.api.md
  packages/react-focus/src/components/FocusZone/FocusZone.tsx
  packages/react-focus/src/components/FocusZone/FocusZone.types.ts
Labels: AutoMerge, Component: FocusZone

#14822 feat(Menu): Prototype
  packages/fluentui/docs/src/components/Sidebar/Sidebar.tsx
  packages/fluentui/docs/src/prototypes/menuList/Menu.tsx
  packages/fluentui/docs/src/prototypes/menuList/MenuButton.tsx
  packages/fluentui/docs/src/prototypes/menuList/MenuItem.tsx
  packages/fluentui/docs/src/prototypes/menuList/MenuList.tsx
  packages/fluentui/docs/src/prototypes/menuList/MenuTrigger.tsx
  packages/fluentui/docs/src/prototypes/menuList/index.tsx
  packages/fluentui/docs/src/prototypes/menuList/menuContext.ts
  packages/fluentui/docs/src/prototypes/menuList/menuListContext.tsx
  packages/fluentui/docs/src/routes.tsx
Labels: AutoMerge, Fluent UI react-northstar

#14919 chore: fix ToolbarExampleCompose VR test to be stable
  packages/fluentui/docs/src/examples/components/Toolbar/Visual/ToolbarExampleCompose.shorthand.steps.ts
  packages/fluentui/docs/src/examples/components/Toolbar/Visual/ToolbarExampleCompose.shorthand.tsx
Labels: Fluent UI react-northstar

#14900 fix(treeTitleBehavior): `performClick` should be trigger on `Enter` too
  packages/fluentui/CHANGELOG.md
  packages/fluentui/accessibility/src/behaviors/Tree/treeTitleBehavior.ts
Labels: Area: Documentation, AutoMerge, Fluent UI react-northstar

#14864 fix(dropdown) avoid switch into screen reader virtual cursor mode when navigate through selected items
  packages/fluentui/CHANGELOG.md
  packages/fluentui/accessibility/src/behaviors/Dropdown/dropdownSelectedItemBehavior.ts
  packages/fluentui/docs/src/examples/components/Dropdown/Types/DropdownExampleSearchMultiple.shorthand.tsx
  packages/fluentui/react-northstar/src/components/Dropdown/Dropdown.tsx
Labels: Fluent UI react-northstar

#14915 fix(Popup): Prevent closing on content click
  packages/fluentui/e2e/tests/popupWithCloseInContent-example.tsx
  packages/fluentui/e2e/tests/popupWithCloseInContent-test.ts
  packages/fluentui/react-northstar/src/components/Popup/Popup.tsx
Labels: AutoMerge, Fluent UI react-northstar

#14927 chore(Provider): fix unstable UT
  packages/fluentui/react-northstar/test/specs/components/Provider/Provider-test.tsx
Labels: Fluent UI react-northstar

#14917 Fix Safari default outline on focused element
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/themes/teams/getBorderFocusStyles.ts
Labels: Component: Dropdown, Fluent UI react-northstar

#14922 feat(Breadcrumb): add base component
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/components/Breadcrumb/Breadcrumb.tsx
  packages/fluentui/react-northstar/src/index.ts
  packages/fluentui/react-northstar/test/specs/components/Breadcrumb/Breadcrumb-test.ts
Labels: Fluent UI react-northstar

#14868 Exposing IPopupProps on Panel
  change/office-ui-fabric-react-2020-09-02-14-31-52-matejera-exposing_dialog_on_panel.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/Panel/Panel.base.tsx
  packages/office-ui-fabric-react/src/components/Panel/Panel.test.tsx
  packages/office-ui-fabric-react/src/components/Panel/Panel.types.ts
  packages/office-ui-fabric-react/src/components/Panel/__snapshots__/Panel.test.tsx.snap
Labels: Component: Panel

#14913 Renaming react-next SpinButton's internalState interface
  change/@fluentui-react-next-2020-09-04-15-07-13-feat-renaming-SpinButton-internalState-interface.json
  packages/react-next/src/components/SpinButton/SpinButton.base.tsx
Labels: Component: SpinButton, Fluent UI v8

#14363 Fix: Dismiss callout when blurring to a new window
  change/@fluentui-react-next-2020-09-08-12-22-55-dismiss-callout-on-window-change.json
  change/office-ui-fabric-react-2020-08-05-12-08-00-dismiss-callout-on-window-change.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/Callout/Callout.test.tsx
  packages/office-ui-fabric-react/src/components/Callout/Callout.types.ts
  packages/office-ui-fabric-react/src/components/Callout/CalloutContent.base.tsx
  packages/office-ui-fabric-react/src/components/ContextualMenu/ContextualMenu.base.tsx
  packages/office-ui-fabric-react/src/components/ContextualMenu/ContextualMenu.test.tsx
  packages/office-ui-fabric-react/src/components/ContextualMenu/ContextualMenu.types.ts
  packages/office-ui-fabric-react/src/components/Popup/Popup.tsx
  packages/office-ui-fabric-react/src/components/Popup/Popup.types.ts
  packages/react-next/src/components/ContextualMenu/ContextualMenu.test.tsx
Labels: AutoMerge, Component: Callout

#14829 Updating MaskedTextField to a function component within react-next
  change/@fluentui-react-next-2020-08-24-17-43-29-feat-updating-MaskedTextFieldNext.json
  change/office-ui-fabric-react-2020-09-01-10-43-06-feat-updating-MaskedTextFieldNext.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/TextField/MaskedTextField/MaskedTextField.test.tsx
  packages/office-ui-fabric-react/src/components/TextField/MaskedTextField/MaskedTextField.tsx
  packages/office-ui-fabric-react/src/components/TextField/TextField.types.ts
  packages/react-next/etc/react-next.api.md
  packages/react-next/src/components/TextField/MaskedTextField/MaskedTextField.test.tsx
  packages/react-next/src/components/TextField/MaskedTextField/MaskedTextField.tsx
  packages/react-next/src/components/TextField/TextField.base.tsx
  packages/react-next/src/components/TextField/TextField.types.ts
Labels: Component: MaskedTextField, Fluent UI v8, PR: API Modified

#14855 CompoundButton: Adding initial component to react-button package
  apps/vr-tests/src/stories/CompoundButtonNext.stories.tsx
  change/@fluentui-react-button-2020-09-01-17-25-23-compoundButton.json
  change/@fluentui-react-theme-provider-2020-09-01-17-25-23-compoundButton.json
  packages/react-button/etc/react-button.api.md
  packages/react-button/src/CompoundButton.ts
  packages/react-button/src/components/Button/Button.scss
  packages/react-button/src/components/Button/Button.stories.tsx
  packages/react-button/src/components/Button/Button.tsx
  packages/react-button/src/components/Button/Button.types.ts
  packages/react-button/src/components/Button/useButton.ts
  packages/react-button/src/components/Button/useButtonClasses.ts
  packages/react-button/src/components/CompoundButton/CompoundButton.scss
  packages/react-button/src/components/CompoundButton/CompoundButton.stories.tsx
  packages/react-button/src/components/CompoundButton/CompoundButton.tsx
  packages/react-button/src/components/CompoundButton/CompoundButton.types.ts
  packages/react-button/src/components/CompoundButton/index.ts
  packages/react-button/src/components/CompoundButton/renderCompoundButton.tsx
  packages/react-button/src/components/CompoundButton/useCompoundButton.ts
  packages/react-button/src/components/CompoundButton/useCompoundButtonClasses.ts
  packages/react-button/src/components/MenuButton/MenuButton.tsx
  packages/react-button/src/components/MenuButton/useMenuButton.ts
  packages/react-button/src/components/SplitButton/SplitButton.tsx
  packages/react-button/src/components/ToggleButton/ToggleButton.tsx
  packages/react-button/src/index.ts
  packages/react-theme-provider/src/__snapshots__/ThemeProvider.test.tsx.snap
  packages/react-theme-provider/src/createDefaultTheme.ts
  packages/react-theme-provider/src/getTokens.ts
Labels: AutoMerge, Component: Button

#14941 react-button: should render as anchor when href is passed
  apps/vr-tests/src/stories/ButtonNext.stories.tsx
  change/@fluentui-react-button-2020-09-08-16-38-00-xgao-button-ff-href.json
  packages/react-button/src/components/Button/Button.scss
  packages/react-button/src/components/Button/Button.test.tsx
  packages/react-button/src/components/Button/__snapshots__/Button.test.tsx.snap
  packages/react-button/src/components/Button/useButton.ts
  packages/react-button/src/components/Button/useButtonClasses.ts
Labels: Component: Button

#14938 chore(UI Builder): fix unstable unit tests
  packages/fluentui/react-builder/test/config-test.tsx
Labels: Fluent UI react-northstar

#14951 fix(Toolbar): allow popper props in the overflow item
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/components/Toolbar/Toolbar.tsx
  packages/fluentui/react-northstar/test/specs/components/Toolbar/Toolbar-test.tsx
Labels: AutoMerge, Component: Toolbar, Fluent UI react-northstar

#14916 fix(Tree): always show selectable indicator
  packages/fluentui/docs/src/examples/components/Tree/Usage/TreeMultiselectExample.shorthand.tsx
  packages/fluentui/react-northstar/src/components/Tree/Tree.tsx
  packages/fluentui/react-northstar/src/components/Tree/TreeTitle.tsx
  packages/fluentui/react-northstar/src/components/Tree/utils/index.ts
Labels: AutoMerge, Component: Tree, Fluent UI react-northstar

#14703 Updating Rating to a function component inside React-Next
  apps/perf-test/src/scenarios/Rating.tsx
  apps/perf-test/src/scenarios/RatingNext.tsx
  apps/vr-tests/src/stories/RatingNext.stories.tsx
  change/@fluentui-react-next-2020-08-21-14-40-52-feat-updating-rating.json
  packages/react-next/RELEASE_NOTES.md
  packages/react-next/etc/react-next.api.md
  packages/react-next/src/components/Rating/Rating.base.tsx
  packages/react-next/src/components/Rating/Rating.doc.tsx
  packages/react-next/src/components/Rating/Rating.test.tsx
  packages/react-next/src/components/Rating/Rating.types.ts
  packages/react-next/src/components/Rating/__snapshots__/Rating.test.tsx.snap
  packages/react-next/src/components/Rating/examples/Rating.Basic.Example.tsx
  packages/react-next/src/components/Rating/examples/Rating.ButtonControlled.Example.tsx
Labels: Component: Rating, Fluent UI v8, PR: API Modified, PR: Possible Perf Regression :snail:

#14824 Export a few extras for partners who are using deep imports to pull them
  change/@fluentui-react-2020-09-08-17-46-26-chore-export-imports.json
  change/@fluentui-react-next-2020-09-08-15-51-40-chore-export-imports.json
  change/office-ui-fabric-react-2020-08-31-08-29-44-chore-export-imports.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/DragDrop.ts
  packages/office-ui-fabric-react/src/Keytips.ts
  packages/office-ui-fabric-react/src/Positioning.ts
  packages/office-ui-fabric-react/src/components/Button/BaseButton.tsx
  packages/office-ui-fabric-react/src/components/Button/SplitButton/SplitButton.classNames.ts
  packages/office-ui-fabric-react/src/components/Button/index.ts
  packages/office-ui-fabric-react/src/components/Callout/CalloutContent.test.tsx
  packages/office-ui-fabric-react/src/components/ComboBox/ComboBox.classNames.ts
  packages/office-ui-fabric-react/src/components/ComboBox/ComboBox.tsx
  packages/office-ui-fabric-react/src/components/ComboBox/ComboBox.types.ts
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsRow.styles.ts
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsRow.ts
  packages/office-ui-fabric-react/src/components/DetailsList/index.ts
  packages/office-ui-fabric-react/src/components/SpinButton/SpinButton.classNames.ts
  packages/office-ui-fabric-react/src/components/SpinButton/SpinButton.types.ts
  packages/office-ui-fabric-react/src/index.ts
  packages/office-ui-fabric-react/src/utilities/keytips/IKeytipTransitionKey.ts
  packages/office-ui-fabric-react/src/utilities/keytips/KeytipConfig.ts
  packages/office-ui-fabric-react/src/utilities/keytips/KeytipManager.ts
  packages/office-ui-fabric-react/src/utilities/keytips/KeytipUtils.ts
  packages/office-ui-fabric-react/src/utilities/positioning/index.ts
  packages/office-ui-fabric-react/src/utilities/positioning/positioning.test.ts
  packages/office-ui-fabric-react/src/utilities/positioning/positioning.ts
  packages/office-ui-fabric-react/src/utilities/positioning/positioning.types.ts
  packages/react-next/etc/react-next.api.md
  packages/react-next/src/DragDrop.ts
  packages/react-next/src/Keytips.ts
  packages/react-next/src/Positioning.ts
  packages/react-next/src/index.ts
  packages/react/src/DragDrop.ts
  packages/react/src/Keytips.ts
  packages/react/src/Positioning.ts
Labels: PR: API Modified

#14946 Fix app crash when we focus on charts in IE
  change/@uifabric-charting-2020-09-09-11-17-25-user-gorraj-bug_4377550.json
  packages/charting/src/components/GroupedVerticalBarChart/GroupedVerticalBarChart.base.tsx
  packages/charting/src/components/StackedBarChart/MultiStackedBarChart.base.tsx
  packages/charting/src/components/StackedBarChart/StackedBarChart.base.tsx
  packages/charting/src/components/VerticalStackedBarChart/VerticalStackedBarChart.base.tsx
Labels: Package: charting

#14962 Fix snapshot tests
  change/@fluentui-react-next-2020-09-09-22-16-15-fix-snapshot-tests.json
  packages/react-next/src/components/__snapshots__/Rating.Basic.Example.tsx.shot
  packages/react-next/src/components/__snapshots__/Rating.ButtonControlled.Example.tsx.shot
Labels: Fluent UI v8

#14963 Export getMenuStyles from ContextualMenu
  change/office-ui-fabric-react-2020-09-09-16-05-30-anpablo-fluentuxexport.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/ContextualMenu/index.ts
Labels: Component: ContextualMenu

#14912 Vertical stacked bar chart combined callout and other tweaks
  change/@uifabric-charting-2020-09-04-14-12-33-VerticalStackedBarChart-callout-improvements.json
  packages/charting/src/components/VerticalStackedBarChart/VerticalStackedBarChart.base.tsx
  packages/charting/src/components/VerticalStackedBarChart/VerticalStackedBarChart.types.ts
  packages/charting/src/components/VerticalStackedBarChart/examples/VerticalStackedBarChart.Styled.Example.tsx
  packages/charting/src/types/IDataPoint.ts
Labels: Package: charting

#14935 chore: refactor E2E tests
  packages/fluentui/e2e/e2eApi.ts
  packages/fluentui/e2e/setup.test.ts
  packages/fluentui/e2e/tests/datepicker-test.ts
  packages/fluentui/e2e/tests/dialogInDialog-example.tsx
  packages/fluentui/e2e/tests/dialogInDialog-test.ts
  packages/fluentui/e2e/tests/dialogInDialogWithDropdown-test.ts
  packages/fluentui/e2e/tests/dialogInPopup-example.tsx
  packages/fluentui/e2e/tests/dialogInPopup-test.ts
  packages/fluentui/e2e/tests/dialogPreventScroll-test.ts
  packages/fluentui/e2e/tests/dialogWithDropdown-example.tsx
  packages/fluentui/e2e/tests/dialogWithDropdown-test.ts
  packages/fluentui/e2e/tests/dropdown-test.ts
  packages/fluentui/e2e/tests/dropdownMoveFocusOnTab-test.ts
  packages/fluentui/e2e/tests/dropdownSearch-test.ts
  packages/fluentui/e2e/tests/menuDismissScroll-test.ts
  packages/fluentui/e2e/tests/popupClickHandling-test.ts
  packages/fluentui/e2e/tests/popupEscHandling-example.tsx
  packages/fluentui/e2e/tests/popupEscHandling-test.ts
  packages/fluentui/e2e/tests/popupInMenu-test.ts
  packages/fluentui/e2e/tests/popupInPopup-test.ts
  packages/fluentui/e2e/tests/popupInSubmenuInToolbarMenu-test.ts
  packages/fluentui/e2e/tests/popupInToolbarMenu-test.ts
  packages/fluentui/e2e/tests/popupWithCloseInContent-test.ts
  packages/fluentui/e2e/tests/popupWithoutTrigger-test.ts
  packages/fluentui/e2e/tests/submenuInToolbarMenu-test.ts
  packages/fluentui/e2e/tests/tableNavigable-test.ts
  packages/fluentui/e2e/tests/toolbarMenu-test.ts
  packages/fluentui/e2e/tests/toolbarMenuOverflow-test.ts
  packages/fluentui/e2e/tests/toolbarMenuOverflowWrapped-test.ts
  scripts/gulp/plugins/gulp-jest.ts
  scripts/webpack/webpack.config.e2e.ts
Labels: AutoMerge, Fluent UI react-northstar

#14956 hotfix(Breadcrumb): content with children and example name
  packages/fluentui/docs/src/examples/components/Breadcrumb/Types/BreadcrumbExampleBasic.tsx
  packages/fluentui/docs/src/examples/components/Breadcrumb/Types/index.tsx
  packages/fluentui/react-northstar/src/components/Breadcrumb/BreadcrumbDivider.tsx
Labels: AutoMerge, Fluent UI react-northstar

#14991 Charting with prettier code
  change/@uifabric-charting-2020-09-10-17-34-19-fix-pretty.json
  packages/charting/src/components/VerticalStackedBarChart/VerticalStackedBarChart.base.tsx
  packages/charting/src/components/VerticalStackedBarChart/examples/VerticalStackedBarChart.Styled.Example.tsx
Labels: Package: charting

#14513 Factor out useTarget hook, and make ContextualMenu in react-next StrictMode compliant
  change/@fluentui-react-next-2020-08-06-20-30-37-react-next-copy-ContextualMenu.json
  change/@uifabric-react-hooks-2020-08-13-17-44-52-v8-ContextualMenu.json
  change/office-ui-fabric-react-2020-08-13-17-44-52-v8-ContextualMenu.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/Callout/Callout.types.ts
  packages/office-ui-fabric-react/src/components/Callout/CalloutContent.base.tsx
  packages/office-ui-fabric-react/src/components/ContextualMenu/ContextualMenu.base.tsx
  packages/office-ui-fabric-react/src/components/ContextualMenu/ContextualMenu.types.ts
  packages/office-ui-fabric-react/src/components/TeachingBubble/TeachingBubble.types.ts
  packages/react-hooks/README.md
  packages/react-hooks/etc/react-hooks.api.md
  packages/react-hooks/package.json
  packages/react-hooks/src/index.ts
  packages/react-hooks/src/useTarget.ts
  packages/react-next/etc/react-next.api.md
  packages/react-next/src/components/Callout/Callout.types.ts
  packages/react-next/src/components/Callout/CalloutContent.base.tsx
  packages/react-next/src/components/Coachmark/PositioningContainer/PositioningContainer.tsx
  packages/react-next/src/components/ContextualMenu/ContextualMenu.base.tsx
  packages/react-next/src/components/ContextualMenu/ContextualMenu.test.tsx
  packages/react-next/src/components/ContextualMenu/ContextualMenu.types.ts
  packages/react-next/src/components/TeachingBubble/TeachingBubble.types.ts
Labels: Component: ContextualMenu, Fluent UI v8, PR: API Modified

#14970 fix(Menu+Carousel): prop 'active' not mapped to behavior
  packages/fluentui/CHANGELOG.md
  packages/fluentui/accessibility/src/behaviors/Tab/tabBehavior.ts
  packages/fluentui/react-northstar/src/components/Carousel/CarouselNavigationItem.tsx
  packages/fluentui/react-northstar/src/components/Menu/MenuItem.tsx
Labels: Area: Accessibility, Area: NVDA, Fluent UI react-northstar

#14996 fix(TextArea.steps): rename file
  packages/fluentui/docs/src/examples/components/TextArea/Types/TextAreaExample.shorthand.steps.ts
Labels: AutoMerge, Fluent UI react-northstar, PR: Possible Perf Regression :snail:

#14971 fix(Menu): set active item using children API
  packages/fluentui/react-northstar/src/components/Menu/Menu.tsx
  packages/fluentui/react-northstar/src/components/Menu/MenuItem.tsx
  packages/fluentui/react-northstar/src/components/Menu/menuContext.ts
  packages/fluentui/react-northstar/test/specs/components/Menu/Menu-test.tsx
  packages/fluentui/react-northstar/test/specs/components/Menu/MenuItem-test.tsx
Labels: AutoMerge, Fluent UI react-northstar

#14957 Charting: Removing trailing zero's from ticks of axis
  change/@uifabric-charting-2020-09-09-21-37-39-user-v-jasha-trailingZerosIssue.json
  packages/charting/src/components/GroupedVerticalBarChart/GroupedVerticalBarChart.base.tsx
  packages/charting/src/components/VerticalBarChart/VerticalBarChart.base.tsx
  packages/charting/src/utilities/utilities.ts
Labels: Package: charting

#14983 allow consumers of FloatingPeopleSuggestions to use the onRenderSuggestion property
  change/@uifabric-experiments-2020-09-10-13-58-06-rendersugfix.json
  packages/experiments/src/components/FloatingSuggestionsComposite/FloatingPeopleSuggestions/FloatingPeopleSuggestions.tsx
  packages/experiments/src/components/FloatingSuggestionsComposite/FloatingPeopleSuggestions/FloatingPeopleSuggestions.types.ts
  packages/experiments/src/components/FloatingSuggestionsComposite/FloatingPeopleSuggestions/FloatingSuggestionsPage.tsx
  packages/experiments/src/components/FloatingSuggestionsComposite/FloatingPeopleSuggestions/examples/FloatingPeopleSuggestions.CustomRender.Example.tsx
  packages/experiments/src/components/UnifiedPicker/UnifiedPicker.tsx
Labels: Package: experiments

#14529 Make Dropdown React.StrictMode compliant in react-next
  change/@fluentui-react-next-2020-08-14-18-57-13-v8-Dropdown.json
  change/office-ui-fabric-react-2020-08-24-18-57-22-v8-Dropdown.json
  packages/react-next/etc/react-next.api.md
  packages/react-next/src/Dropdown.ts
  packages/react-next/src/components/Dropdown/Dropdown.base.tsx
  packages/react-next/src/components/Dropdown/Dropdown.test.tsx
Labels: AutoMerge, Component: Dropdown, Fluent UI v8

#14981 Fix markdown for prerelease
  scripts/updateReleaseNotes/markdown.ts
Labels: Area: Build System

#15003 Update syncpack, fix API file newlines
  change/@fluentui-date-time-utilities-2020-09-11-13-46-15-build-fixes.json
  change/@fluentui-react-2020-09-11-13-46-15-build-fixes.json
  change/@fluentui-react-button-2020-09-11-13-46-15-build-fixes.json
  change/@fluentui-react-compose-2020-09-11-13-46-15-build-fixes.json
  change/@fluentui-react-stylesheets-2020-09-11-13-46-15-build-fixes.json
  change/@fluentui-react-tabs-2020-09-11-13-46-15-build-fixes.json
  change/@fluentui-react-theme-provider-2020-09-11-13-46-15-build-fixes.json
  change/@uifabric-date-time-2020-09-11-13-46-15-build-fixes.json
  change/@uifabric-example-data-2020-09-11-13-46-15-build-fixes.json
  change/@uifabric-merge-styles-2020-09-11-13-46-15-build-fixes.json
  change/@uifabric-react-hooks-2020-09-11-13-46-15-build-fixes.json
  change/@uifabric-styling-2020-09-11-13-46-15-build-fixes.json
  change/@uifabric-utilities-2020-09-11-13-46-15-build-fixes.json
  change/office-ui-fabric-react-2020-09-11-13-46-15-build-fixes.json
  package.json
  packages/date-time-utilities/etc/date-time-utilities.api.md
  packages/date-time/etc/date-time.api.md
  packages/example-data/etc/example-data.api.md
  packages/merge-styles/etc/merge-styles.api.md
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/react-button/etc/react-button.api.md
  packages/react-compose/etc/react-compose.api.md
  packages/react-hooks/etc/react-hooks.api.md
  packages/react-stylesheets/etc/react-stylesheets.api.md
  packages/react-tabs/etc/react-tabs.api.md
  packages/react-theme-provider/etc/react-theme-provider.api.md
  packages/react/etc/react.api.md
  packages/styling/etc/styling.api.md
  packages/utilities/etc/utilities.api.md
  scripts/tasks/api-extractor.js
  yarn.lock
Labels: Area: Build System, PR: API Modified

#15008 Disallow major change type for all packages by default
  package.json
  scripts/beachball/index.ts
  scripts/package.json
  yarn.lock
Labels: Area: Build System

#14998 Icons update 2020-09-11
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-icons-northstar/src/components/CastingIcon.tsx
  packages/fluentui/react-icons-northstar/src/components/ComputerAudioIcon.tsx
  packages/fluentui/react-icons-northstar/src/components/ComputerAudioOffIcon.tsx
  packages/fluentui/react-icons-northstar/src/components/MicrophoneDisabledIcon.tsx
  packages/fluentui/react-icons-northstar/src/components/ReactionsIcon.tsx
  packages/fluentui/react-icons-northstar/src/index.ts
Labels: Fluent UI react-northstar

#14875 Feat/adding datepicker type choice
  packages/fluentui/docs/src/examples/components/Datepicker/Usage/index.tsx
  packages/fluentui/docs/src/examples/components/Datepicker/Variations/DatepickerExampleStandaloneCalendarButton.shorthand.steps.ts
  packages/fluentui/docs/src/examples/components/Datepicker/Variations/DatepickerExampleStandaloneCalendarButton.shorthand.tsx
  packages/fluentui/docs/src/examples/components/Datepicker/Variations/DatepickerExampleStandaloneCalendarInput.shorthand.tsx
  packages/fluentui/docs/src/examples/components/Datepicker/Variations/index.tsx
  packages/fluentui/docs/src/examples/components/Datepicker/index.tsx
  packages/fluentui/react-northstar/src/components/Datepicker/Datepicker.tsx
Labels: AutoMerge, Fluent UI react-northstar

#15019 chore(Datepicker): Add minHeight for calendar popup
  packages/fluentui/react-northstar/src/themes/teams/components/Datepicker/datepickerCalendarStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Datepicker/datepickerVariables.ts
Labels: Fluent UI react-northstar

#15005 Allow consumers to use the onClick input property
  change/@uifabric-experiments-2020-09-11-14-56-34-passinputthrough.json
  packages/experiments/src/components/UnifiedPicker/UnifiedPicker.tsx
Labels: Package: experiments

#15022 Drag and drop fixes
  change/@uifabric-experiments-2020-09-14-09-37-00-dndfixes.json
  packages/experiments/src/components/UnifiedPicker/UnifiedPicker.tsx
Labels: Package: experiments

#14985 ThemeProvider: updated to use abstract renderers, defaulting to merge-styles but overridable
  change/@fluentui-react-avatar-2020-09-11-16-14-24-chore-theme-renderers.json
  change/@fluentui-react-button-2020-08-26-12-10-14-chore-evaluate-cssinjs-cost.json
  change/@fluentui-react-compose-2020-09-11-16-14-24-chore-theme-renderers.json
  change/@fluentui-react-image-2020-09-13-19-36-06-chore-theme-renderers.json
  change/@fluentui-react-theme-provider-2020-08-26-12-10-14-chore-evaluate-cssinjs-cost.json
  change/@uifabric-charting-2020-09-10-16-18-56-chore-theme-renderers.json
  change/@uifabric-merge-styles-2020-09-10-14-38-58-chore-theme-renderers.json
  packages/merge-styles/etc/merge-styles.api.md
  packages/merge-styles/src/IKeyframes.ts
  packages/merge-styles/src/IRawStyle.ts
  packages/merge-styles/src/IStyle.ts
  packages/merge-styles/src/index.ts
  packages/merge-styles/src/keyframes.ts
  packages/merge-styles/src/styleToClassName.ts
  packages/merge-styles/src/transforms/provideUnits.test.ts
  packages/merge-styles/src/transforms/provideUnits.ts
  packages/react-avatar/src/components/Avatar/useAvatar.tsx
  packages/react-avatar/src/components/Badge/useBadge.tsx
  packages/react-avatar/src/components/Image/useImage.tsx
  packages/react-avatar/src/components/utils/commonTypes.ts
  packages/react-button/etc/react-button.api.md
  packages/react-button/package.json
  packages/react-button/src/components/Button/Button.test.tsx
  packages/react-button/src/components/Button/useButton.ts
  packages/react-button/src/components/Button/useButtonClasses.ts
  packages/react-button/src/components/CompoundButton/useCompoundButton.ts
  packages/react-button/src/components/MenuButton/index.ts
  packages/react-button/src/components/MenuButton/useMenuButton.ts
  packages/react-button/src/components/SplitButton/SplitButton.tsx
  packages/react-button/src/components/SplitButton/index.ts
  packages/react-button/src/components/SplitButton/useSplitButton.ts
  packages/react-button/src/components/SplitButton/useSplitButtonClasses.tsx
  packages/react-button/src/components/ToggleButton/index.ts
  packages/react-compose/src/next/index.ts
  packages/react-compose/src/next/makeMergeProps.test.tsx
  packages/react-compose/src/next/makeMergeProps.ts
  packages/react-compose/src/next/mergeProps.test.tsx
  packages/react-compose/src/next/mergeProps.ts
  packages/react-image/src/components/Image/useImage.tsx
  packages/react-theme-provider/etc/react-theme-provider.api.md
  packages/react-theme-provider/package.json
  packages/react-theme-provider/src/ThemeProvider.tsx
  packages/react-theme-provider/src/ThemeProvider.types.ts
  packages/react-theme-provider/src/__snapshots__/ThemeProvider.test.tsx.snap
  packages/react-theme-provider/src/getTokens.ts
  packages/react-theme-provider/src/index.ts
  packages/react-theme-provider/src/makeClasses.test.tsx
  packages/react-theme-provider/src/makeClasses.ts
  packages/react-theme-provider/src/makeStyles.test.tsx
  packages/react-theme-provider/src/makeStyles.ts
  packages/react-theme-provider/src/renderThemeProvider.tsx
  packages/react-theme-provider/src/styleRenderers/mergeStylesRenderer.tsx
  packages/react-theme-provider/src/styleRenderers/types.ts
  packages/react-theme-provider/src/styleRenderers/useStyleRenderer.tsx
  packages/react-theme-provider/src/useTheme.ts
  packages/react-theme-provider/src/useThemeProvider.tsx
  packages/react-theme-provider/src/useThemeProviderClasses.tsx
  packages/react-theme-provider/src/useThemeProviderState.tsx
  yarn.lock
Labels: PR: API Modified, PR: Possible Perf Regression :snail:

#14880 chore: run Screener from Azure Blob
  .devops/templates/variables.yml
  azure-pipelines.yml
  package.json
  packages/fluentui/docs/package.json
  packages/fluentui/perf-test/package.json
  scripts/config.ts
  scripts/gulp/tasks/screener.ts
  scripts/package.json
  scripts/screener/screener.api.ts
  scripts/screener/screener.config.js
  scripts/screener/screener.runner.ts
  scripts/screener/screener.states.ts
  scripts/screener/screener.steps.ts
  yarn.lock
Labels: Area: Build System, Fluent UI react-northstar

#14859 fix(UI builder): Fixed icon margins after code change
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-builder/src/utils/codeToTree.ts
Labels: Fluent UI react-northstar

#14858 fix(UI builder): Removed console errors
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-builder/src/components/ComponentTree.tsx
  packages/fluentui/react-builder/src/components/Designer.tsx
  packages/fluentui/react-builder/src/components/List.tsx
Labels: Fluent UI react-northstar

#14967 fix(UI builder) Component tree accessibility
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-builder/src/components/ComponentTree.tsx
Labels: Fluent UI react-northstar

#14954 feat(UI builder): Detect focus on body in use mode
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-builder/src/components/Canvas.tsx
  packages/fluentui/react-builder/src/components/Designer.tsx
Labels: Fluent UI react-northstar

#15039 Factor out new 'dom-utilities' package to share layers logic between Fabric + Fluent Northstar
  change/@fluentui-dom-utilities-2020-07-30-17-26-18-dom-utilities.json
  change/@uifabric-utilities-2020-07-30-17-26-18-dom-utilities.json
  change/office-ui-fabric-react-2020-08-18-10-23-32-dom-utilities.json
  packages/dom-utilities/.eslintrc.json
  packages/dom-utilities/.npmignore
  packages/dom-utilities/.npmrc
  packages/dom-utilities/LICENSE
  packages/dom-utilities/README.md
  packages/dom-utilities/jest.config.js
  packages/dom-utilities/just.config.ts
  packages/dom-utilities/package.json
  packages/dom-utilities/src/IVirtualElement.ts
  packages/dom-utilities/src/elementContains.ts
  packages/dom-utilities/src/elementContainsAttribute.ts
  packages/dom-utilities/src/findElementRecursive.ts
  packages/dom-utilities/src/getChildren.ts
  packages/dom-utilities/src/getParent.ts
  packages/dom-utilities/src/getVirtualParent.ts
  packages/dom-utilities/src/index.test.ts
  packages/dom-utilities/src/index.ts
  packages/dom-utilities/src/isVirtualElement.ts
  packages/dom-utilities/src/portalContainsElement.ts
  packages/dom-utilities/src/setPortalAttribute.ts
  packages/dom-utilities/src/setVirtualParent.ts
  packages/dom-utilities/tsconfig.json
  packages/fluentui/docs/tsconfig.json
  packages/office-ui-fabric-react/src/components/Layer/Layer.base.tsx
  packages/utilities/etc/utilities.api.md
  packages/utilities/package.json
  packages/utilities/src/dom/IVirtualElement.ts
  packages/utilities/src/dom/elementContains.ts
  packages/utilities/src/dom/elementContainsAttribute.ts
  packages/utilities/src/dom/findElementRecursive.ts
  packages/utilities/src/dom/getChildren.ts
  packages/utilities/src/dom/getParent.ts
  packages/utilities/src/dom/getVirtualParent.ts
  packages/utilities/src/dom/isVirtualElement.ts
  packages/utilities/src/dom/portalContainsElement.ts
  packages/utilities/src/dom/setPortalAttribute.ts
  packages/utilities/src/dom/setVirtualParent.ts
Labels: PR: API Modified

#14769 Updating MessageBar to a function component inside React-Next
  change/@fluentui-react-next-2020-08-26-13-07-07-feat-updating-messageBarNext.json
  packages/react-next/etc/react-next.api.md
  packages/react-next/src/components/MessageBar/MessageBar.base.tsx
  packages/react-next/src/components/MessageBar/MessageBar.test.tsx
  packages/react-next/src/components/MessageBar/MessageBar.types.ts
  packages/react-next/src/components/MessageBar/__snapshots__/MessageBar.test.tsx.snap
Labels: AutoMerge, Component: MessageBar, Fluent UI v8, PR: API Modified

#15050 [VerticalStackedBarChart] Legend options and fixes
  change/@uifabric-charting-2020-09-15-11-06-58-VerticalStackedBarChart-legend-improvements.json
  packages/charting/src/components/GroupedVerticalBarChart/GroupedVerticalBarChart.base.tsx
  packages/charting/src/components/Legends/Legends.base.tsx
  packages/charting/src/components/Legends/Legends.styles.ts
  packages/charting/src/components/Legends/Legends.types.ts
  packages/charting/src/components/VerticalBarChart/VerticalBarChart.base.tsx
  packages/charting/src/components/VerticalBarChart/__snapshots__/VerticalBarChart.test.tsx.snap
  packages/charting/src/components/VerticalStackedBarChart/VerticalStackedBarChart.base.tsx
  packages/charting/src/components/VerticalStackedBarChart/VerticalStackedBarChart.types.ts
Labels: Package: charting

#14843 chore: refactor Webpack contexts in Fluent docs to improve treeshaking
  packages/fluentui/docs/src/components/ComponentDoc/ComponentBestPractices.tsx
  packages/fluentui/docs/src/components/ComponentDoc/ComponentDoc.tsx
  packages/fluentui/docs/src/components/ComponentDoc/ComponentExamples.tsx
  packages/fluentui/docs/src/components/ComponentDoc/ComponentSourceManager/getExampleModule.ts
  packages/fluentui/docs/src/components/ComponentPlayground/ComponentPlayground.tsx
  packages/fluentui/docs/src/components/ExternalExampleLayout.tsx
  packages/fluentui/docs/src/contexts/exampleBestPracticesContext.ts
  packages/fluentui/docs/src/contexts/exampleIndexContext.ts
  packages/fluentui/docs/src/contexts/examplePlaygroundContext.ts
  packages/fluentui/docs/src/contexts/exampleSourcesContext.ts
  packages/fluentui/docs/src/contexts/examplesContext.ts
  packages/fluentui/docs/src/routes.tsx
  packages/fluentui/docs/src/utils/exampleContexts.ts
  packages/fluentui/docs/src/utils/exampleKebabNameToFilename.ts
  packages/fluentui/docs/src/utils/index.tsx
  scripts/webpack/webpack.config.ts
Labels: Fluent UI react-northstar

#15038 chore: refactor project-tests
  gulpfile.ts
  packages/fluentui/projects-test/.gulp.js
  packages/fluentui/projects-test/README.md
  packages/fluentui/projects-test/assets/.eslintrc.json
  packages/fluentui/projects-test/assets/cra/App.tsx
  packages/fluentui/projects-test/assets/nextjs/index.js
  packages/fluentui/projects-test/assets/rollup/app.js
  packages/fluentui/projects-test/assets/rollup/index.html
  packages/fluentui/projects-test/assets/rollup/rollup.config.js
  packages/fluentui/projects-test/assets/typings/index.tsx
  packages/fluentui/projects-test/assets/typings/tsconfig.json
  packages/fluentui/projects-test/babel.config.js
  packages/fluentui/projects-test/gulpfile.ts
  packages/fluentui/projects-test/package.json
  packages/fluentui/projects-test/src/createReactApp.ts
  packages/fluentui/projects-test/src/index.ts
  packages/fluentui/projects-test/src/nextjs.ts
  packages/fluentui/projects-test/src/packPackages.ts
  packages/fluentui/projects-test/src/performBrowserTest.ts
  packages/fluentui/projects-test/src/rollup.ts
  packages/fluentui/projects-test/src/typings.ts
  packages/fluentui/projects-test/src/utils.ts
  packages/fluentui/projects-test/tsconfig.json
  scripts/gulp/tasks/test-projects.ts
  scripts/package.json
  yarn.lock
Labels: Fluent UI react-northstar

#15054 Moving Breadcrumb to react-next, in preparation for converting to a function component
  apps/perf-test/src/scenarios/Breadcrumb.tsx
  apps/perf-test/src/scenarios/BreadcrumbNext.tsx
  apps/vr-tests/src/stories/BreadcrumbNext.stories.tsx
  change/@fluentui-react-next-2020-09-14-17-40-31-feat-moving-breadcrumb.json
  packages/react-next/etc/react-next.api.md
  packages/react-next/src/Breadcrumb.ts
  packages/react-next/src/components/Breadcrumb/Breadcrumb.base.tsx
  packages/react-next/src/components/Breadcrumb/Breadcrumb.doc.tsx
  packages/react-next/src/components/Breadcrumb/Breadcrumb.styles.ts
  packages/react-next/src/components/Breadcrumb/Breadcrumb.test.tsx
  packages/react-next/src/components/Breadcrumb/Breadcrumb.tsx
  packages/react-next/src/components/Breadcrumb/Breadcrumb.types.ts
  packages/react-next/src/components/Breadcrumb/__snapshots__/Breadcrumb.test.tsx.snap
  packages/react-next/src/components/Breadcrumb/docs/BreadcrumbBestPractices.md
  packages/react-next/src/components/Breadcrumb/docs/BreadcrumbDonts.md
  packages/react-next/src/components/Breadcrumb/docs/BreadcrumbDos.md
  packages/react-next/src/components/Breadcrumb/docs/BreadcrumbOverview.md
  packages/react-next/src/components/Breadcrumb/examples/Breadcrumb.Basic.Example.tsx
  packages/react-next/src/components/Breadcrumb/examples/Breadcrumb.Collapsing.Example.tsx
  packages/react-next/src/components/Breadcrumb/examples/Breadcrumb.Static.Example.tsx
  packages/react-next/src/components/Breadcrumb/index.ts
  packages/react-next/src/components/__snapshots__/Breadcrumb.Basic.Example.tsx.shot
  packages/react-next/src/components/__snapshots__/Breadcrumb.Collapsing.Example.tsx.shot
  packages/react-next/src/components/__snapshots__/Breadcrumb.Static.Example.tsx.shot
Labels: Fluent UI v8, PR: API Modified, PR: Possible Perf Regression :snail:

#14908 Add floating picker to react-next to make it concurrent
  apps/a11y-tests/src/tests/__snapshots__/ComponentExamples.test.tsx.snap
  change/@fluentui-react-next-2020-09-04-09-57-25-comp-t.json
  packages/react-next/etc/react-next.api.md
  packages/react-next/src/ExtendedPicker.ts
  packages/react-next/src/FloatingPicker.ts
  packages/react-next/src/components/ExtendedPicker/BaseExtendedPicker.scss
  packages/react-next/src/components/ExtendedPicker/BaseExtendedPicker.test.tsx
  packages/react-next/src/components/ExtendedPicker/BaseExtendedPicker.tsx
  packages/react-next/src/components/ExtendedPicker/BaseExtendedPicker.types.ts
  packages/react-next/src/components/ExtendedPicker/PeoplePicker/ExtendedPeoplePicker.doc.tsx
  packages/react-next/src/components/ExtendedPicker/PeoplePicker/ExtendedPeoplePicker.scss
  packages/react-next/src/components/ExtendedPicker/PeoplePicker/ExtendedPeoplePicker.tsx
  packages/react-next/src/components/ExtendedPicker/__snapshots__/BaseExtendedPicker.test.tsx.snap
  packages/react-next/src/components/ExtendedPicker/docs/ExtendedPeoplePickerBestPractices.md
  packages/react-next/src/components/ExtendedPicker/docs/ExtendedPeoplePickerDonts.md
  packages/react-next/src/components/ExtendedPicker/docs/ExtendedPeoplePickerDos.md
  packages/react-next/src/components/ExtendedPicker/docs/ExtendedPeoplePickerOverview.md
  packages/react-next/src/components/ExtendedPicker/examples/ExtendedPeoplePicker.Basic.Example.tsx
  packages/react-next/src/components/ExtendedPicker/examples/ExtendedPeoplePicker.Controlled.Example.tsx
  packages/react-next/src/components/ExtendedPicker/examples/PeopleExampleData.ts
  packages/react-next/src/components/ExtendedPicker/index.ts
  packages/react-next/src/components/FloatingPicker/BaseFloatingPicker.scss
  packages/react-next/src/components/FloatingPicker/BaseFloatingPicker.test.tsx
  packages/react-next/src/components/FloatingPicker/BaseFloatingPicker.tsx
  packages/react-next/src/components/FloatingPicker/BaseFloatingPicker.types.ts
  packages/react-next/src/components/FloatingPicker/PeoplePicker/FloatingPeoplePicker.doc.tsx
  packages/react-next/src/components/FloatingPicker/PeoplePicker/FloatingPeoplePicker.tsx
  packages/react-next/src/components/FloatingPicker/PeoplePicker/PeoplePicker.scss
  packages/react-next/src/components/FloatingPicker/PeoplePicker/PeoplePickerItems/PickerItemsDefault.scss
  packages/react-next/src/components/FloatingPicker/PeoplePicker/PeoplePickerItems/SelectedItemDefault.tsx
  packages/react-next/src/components/FloatingPicker/PeoplePicker/PeoplePickerItems/SuggestionItemDefault.tsx
  packages/react-next/src/components/FloatingPicker/PeoplePicker/docs/FloatingPeoplePickerBestPractices.md
  packages/react-next/src/components/FloatingPicker/PeoplePicker/docs/FloatingPeoplePickerDonts.md
  packages/react-next/src/components/FloatingPicker/PeoplePicker/docs/FloatingPeoplePickerDos.md
  packages/react-next/src/components/FloatingPicker/PeoplePicker/docs/FloatingPeoplePickerOverview.md
  packages/react-next/src/components/FloatingPicker/PeoplePicker/examples/FloatingPeoplePicker.Basic.Example.tsx
  packages/react-next/src/components/FloatingPicker/Suggestions/SuggestionStore.test.tsx
  packages/react-next/src/components/FloatingPicker/Suggestions/Suggestions.types.ts
  packages/react-next/src/components/FloatingPicker/Suggestions/SuggestionsControl.scss
  packages/react-next/src/components/FloatingPicker/Suggestions/SuggestionsControl.tests.tsx
  packages/react-next/src/components/FloatingPicker/Suggestions/SuggestionsControl.tsx
  packages/react-next/src/components/FloatingPicker/Suggestions/SuggestionsCore.scss
  packages/react-next/src/components/FloatingPicker/Suggestions/SuggestionsCore.tsx
  packages/react-next/src/components/FloatingPicker/Suggestions/SuggestionsStore.ts
  packages/react-next/src/components/FloatingPicker/__snapshots__/BaseFloatingPicker.test.tsx.snap
  packages/react-next/src/components/FloatingPicker/index.ts
  packages/react-next/src/components/__snapshots__/ExtendedPeoplePicker.Basic.Example.tsx.shot
  packages/react-next/src/components/__snapshots__/ExtendedPeoplePicker.Controlled.Example.tsx.shot
  packages/react-next/src/components/__snapshots__/FloatingPeoplePicker.Basic.Example.tsx.shot
Labels: Component: Pickers, PR: API Modified, PR: Possible Perf Regression :snail:

#14696 ThemeProvider: support applyTo prop
  change/@fluentui-react-theme-provider-2020-09-15-19-50-09-xgao-applyThemeToBody.json
  packages/react-theme-provider/etc/react-theme-provider.api.md
  packages/react-theme-provider/src/ThemeProvider.stories.tsx
  packages/react-theme-provider/src/ThemeProvider.test.tsx
  packages/react-theme-provider/src/ThemeProvider.tsx
  packages/react-theme-provider/src/ThemeProvider.types.ts
  packages/react-theme-provider/src/__snapshots__/ThemeProvider.test.tsx.snap
  packages/react-theme-provider/src/createDefaultTheme.ts
  packages/react-theme-provider/src/getTokens.ts
  packages/react-theme-provider/src/useThemeProviderClasses.tsx
Labels: Fluent UI v8

#14972 react-button: fix styles to align with v7 buttons
  apps/vr-tests/src/stories/ButtonNext.stories.tsx
  apps/vr-tests/src/stories/CompoundButtonNext.stories.tsx
  apps/vr-tests/src/stories/MenuButtonNext.stories.tsx
  apps/vr-tests/src/stories/SplitButtonNext.stories.tsx
  apps/vr-tests/src/stories/ToggleButtonNext.stories.tsx
  change/@fluentui-react-button-2020-09-09-17-59-53-xgao-button-ff-styling.json
  change/@fluentui-react-theme-provider-2020-09-09-17-59-53-xgao-button-ff-styling.json
  packages/react-button/src/components/Button/__snapshots__/Button.test.tsx.snap
  packages/react-button/src/components/Button/useButtonClasses.ts
  packages/react-button/src/components/CompoundButton/useCompoundButtonClasses.ts
  packages/react-button/src/components/MenuButton/useMenuButtonClasses.ts
  packages/react-button/src/components/SplitButton/useSplitButton.ts
  packages/react-button/src/components/SplitButton/useSplitButtonClasses.tsx
  packages/react-theme-provider/src/__snapshots__/ThemeProvider.test.tsx.snap
  packages/react-theme-provider/src/createDefaultTheme.ts
  packages/react-theme-provider/src/getTokens.ts
Labels: Fluent UI v8

#14719 ComboBox: Fix React.StrictMode issues
  change/@fluentui-react-next-2020-08-24-16-37-17-v8-combobox.json
  change/@uifabric-test-utilities-2020-08-24-16-37-17-v8-combobox.json
  packages/react-next/etc/react-next.api.md
  packages/react-next/src/common/testUtilities.ts
  packages/react-next/src/components/ComboBox/ComboBox.test.tsx
  packages/react-next/src/components/ComboBox/ComboBox.tsx
  packages/react-next/src/components/ComboBox/ComboBox.types.ts
  packages/test-utilities/src/safeCreate.ts
Labels: Component: ComboBox, PR: API Modified, PR: Possible Perf Regression :snail:

#15096 Fix implicit merge conflict in ComboBox
  change/@fluentui-react-next-2020-09-17-10-37-30-combobox-merge.json
  packages/react-next/src/components/ComboBox/ComboBox.tsx
Labels: AutoMerge, Component: ComboBox, Fluent UI v8

#15097 Upload demo images to CDN
  azure-pipelines.perf-test.yml
  azure-pipelines.release-fluentui.yml
  azure-pipelines.release.yml
  azure-pipelines.yml
Labels: Area: Build System, AutoMerge

#15055 Updating react-next release notes for Button.
  change/@fluentui-react-next-2020-09-15-13-38-54-chore-button-release-notes.json
  packages/react-next/RELEASE_NOTES.md
Labels: Fluent UI v8

#15106 Fix: design system property inheritance
  change/@fluentui-web-components-2020-09-17-15-15-13-users-jes-card-fix.json
  packages/web-components/src/card/index.ts
  packages/web-components/src/design-system-provider/index.ts
Labels: web-components

#15083 Removing unused eslint-disable rules from picker files
  change/@fluentui-react-next-2020-09-16-18-20-55-fix-removing-unused-eslint-disables-from-picker.json
  packages/react-next/src/components/ExtendedPicker/BaseExtendedPicker.tsx
  packages/react-next/src/components/FloatingPicker/BaseFloatingPicker.tsx
  packages/react-next/src/components/FloatingPicker/PeoplePicker/PeoplePickerItems/SelectedItemDefault.tsx
  packages/react-next/src/components/FloatingPicker/PeoplePicker/examples/FloatingPeoplePicker.Basic.Example.tsx
  packages/react-next/src/components/FloatingPicker/Suggestions/SuggestionsStore.ts
Labels: Fluent UI v8

#15115 fix(Tree): conditionally add aria-selected to tree item
  packages/fluentui/accessibility/src/behaviors/Tree/treeItemBehavior.ts
  packages/fluentui/accessibility/src/behaviors/Tree/treeTitleBehavior.ts
Labels: Fluent UI react-northstar

#15095 fix(TreeTitle): only prevents default for selectable tree title
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/components/Tree/TreeTitle.tsx
  packages/fluentui/react-northstar/src/utils/shouldPreventDefaultOnKeyDown.ts
  packages/fluentui/react-northstar/test/specs/utils/shouldPreventDefaultOnKeyDown-test.ts
Labels: Area: Documentation, Fluent UI react-northstar

#14272 fix(Popup): share layers logic between Fabric + Fluent N*
  packages/fluentui/e2e/package.json
  packages/fluentui/e2e/tests/fabricLayerInPopup-example.tsx
  packages/fluentui/e2e/tests/fabricLayerInPopup-test.ts
  packages/fluentui/e2e/tsconfig.json
  packages/fluentui/react-northstar/package.json
  packages/fluentui/react-northstar/src/components/Popup/Popup.tsx
  packages/fluentui/react-northstar/src/components/Toolbar/ToolbarItem.tsx
  packages/fluentui/react-northstar/src/utils/doesNodeContainClick.tsx
  packages/fluentui/react-northstar/test/specs/components/Portal/Portal-test.tsx
  packages/fluentui/react-northstar/test/specs/utils/doesNodeContainClick-test.ts
Labels: PR: API Modified

#15117 Charting: LineChart - Chart redraw after legend selection issue resolved.
  change/@uifabric-charting-2020-09-18-13-05-32-user-v-jahsa-LineChartSelctionIssue.json
  packages/charting/src/components/LineChart/LineChart.base.tsx
Labels: Package: charting

#15119 Icons update on 2020-09-18
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-icons-northstar/src/components/CheckmarkCircleIcon.tsx
  packages/fluentui/react-icons-northstar/src/components/ShareLocationIcon.tsx
  packages/fluentui/react-icons-northstar/src/index.ts
Labels: Fluent UI react-northstar

#15049 Update Avatar for visual spec
  change/@fluentui-react-avatar-2020-09-15-09-45-48-avatar-visuals.json
  packages/react-avatar/src/components/Avatar/Avatar.scss
  packages/react-avatar/src/components/Avatar/Avatar.stories.tsx
  packages/react-avatar/src/components/Avatar/Avatar.types.tsx
  packages/react-avatar/src/components/Avatar/_tokens.scss
  packages/react-avatar/src/components/Avatar/useAvatar.tsx
  packages/react-avatar/src/components/Badge/Badge.scss
  packages/react-avatar/src/components/Badge/Badge.stories.tsx
  packages/react-avatar/src/components/Badge/Badge.types.tsx
  packages/react-avatar/static/images/avatar/hexagon.svg
Labels: Component: Avatar

#15093 fix/Do not submit DatepickerForm when clicking Popup button
  packages/fluentui/docs/src/examples/components/Datepicker/Variations/index.tsx
  packages/fluentui/react-northstar/src/components/Datepicker/Datepicker.tsx
Labels: Fluent UI react-northstar

#15127 Revert "fix(Tree): always show selectable indicator (#14916)"
  packages/fluentui/docs/src/examples/components/Tree/Usage/TreeMultiselectExample.shorthand.tsx
  packages/fluentui/react-northstar/src/components/Tree/Tree.tsx
  packages/fluentui/react-northstar/src/components/Tree/TreeTitle.tsx
  packages/fluentui/react-northstar/src/components/Tree/utils/index.ts
Labels: Fluent UI react-northstar

#15144 fix(Ref): do not return Fibers as refs for "react-test-renderer"
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-component-ref/package.json
  packages/fluentui/react-component-ref/src/RefFindNode.tsx
  packages/fluentui/react-component-ref/test/RefFindNode-test.tsx
Labels: Fluent UI react-northstar

#15137 fix(useAutoControlled): allow functions update passed to setSate
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-bindings/src/hooks/useAutoControlled.ts
  packages/fluentui/react-bindings/test/hooks/useAutoControlled-test.tsx
  packages/fluentui/react-northstar/src/components/Tree/Tree.tsx
Labels: AutoMerge, Fluent UI react-northstar

#15098 Don't remove item in onDragEnd if their removal (rearrangement) has already been handled
  change/@uifabric-experiments-2020-09-17-10-40-52-movedeletefix.json
  packages/experiments/src/components/UnifiedPicker/UnifiedPicker.tsx
Labels: Package: experiments

#15104 Updating react-next's Coachmark basic example to a function component
  change/@fluentui-react-next-2020-09-17-14-14-00-feat-updating-react-next-examples.json
  packages/react-next/src/components/Coachmark/examples/Coachmark.Basic.Example.tsx
  packages/react-next/src/components/__snapshots__/Coachmark.Basic.Example.tsx.shot
Labels: Component: Coachmark, Fluent UI v8

#15122 Link/Toggle/Pivot/Slider: typing fixes and update release notes.
  change/@fluentui-react-link-2020-09-18-11-11-08-xgao-v8-prep-props.json
  change/@fluentui-react-next-2020-09-18-11-11-08-xgao-v8-prep-props.json
  change/@fluentui-react-slider-2020-09-18-15-21-42-xgao-v8-prep-props.json
  change/@fluentui-react-tabs-2020-09-18-11-11-08-xgao-v8-prep-props.json
  change/@fluentui-react-toggle-2020-09-18-11-11-08-xgao-v8-prep-props.json
  packages/react-link/etc/react-link.api.md
  packages/react-link/src/components/Link/Link.types.ts
  packages/react-next/RELEASE_NOTES.md
  packages/react-slider/etc/react-slider.api.md
  packages/react-slider/src/components/Slider/Slider.types.ts
  packages/react-tabs/src/components/Pivot/Pivot.types.ts
  packages/react-toggle/etc/react-toggle.api.md
  packages/react-toggle/src/components/Toggle/Toggle.types.ts
Labels: Fluent UI v8

#15113 Fix useKeytipRef() function adding keytip sequence value multiple times
  change/office-ui-fabric-react-2020-09-17-18-11-24-fixUseKeytipRef.json
  packages/office-ui-fabric-react/src/components/KeytipData/index.ts
  packages/office-ui-fabric-react/src/components/KeytipData/useKeytipRef.test.ts
  packages/office-ui-fabric-react/src/components/KeytipData/useKeytipRef.ts
Labels: Component: Keytip, Component: KeytipData

#15000 Add control to the set of keys which dismiss the tooltip
  change/office-ui-fabric-react-2020-09-11-12-42-50-control-dismisses-tooltip.json
  packages/office-ui-fabric-react/src/components/Tooltip/TooltipHost.base.tsx
Labels: Area: Accessibility, Component: Tooltip

#15148 Autofill: Move autofill to react next
  change/@fluentui-react-next-2020-09-21-09-43-24-autofill-react-next.json
  packages/react-next/etc/react-next.api.md
  packages/react-next/src/Autofill.ts
  packages/react-next/src/Pickers.ts
  packages/react-next/src/components/Autofill/Autofill.test.tsx
  packages/react-next/src/components/Autofill/Autofill.tsx
  packages/react-next/src/components/Autofill/Autofill.types.ts
  packages/react-next/src/components/Autofill/index.ts
Labels: Fluent UI v8, PR: API Modified

#15107 Updating react-next component documentation
  change/@fluentui-react-next-2020-09-17-15-16-18-feat-updating-react-next-docs.json
  packages/react-next/src/components/Breadcrumb/Breadcrumb.doc.tsx
  packages/react-next/src/components/Callout/docs/CalloutBestPractices.md
  packages/react-next/src/components/Callout/docs/CalloutOverview.md
  packages/react-next/src/components/Coachmark/Coachmark.doc.tsx
  packages/react-next/src/components/Coachmark/docs/CoachmarkBestPractices.md
  packages/react-next/src/components/Coachmark/docs/CoachmarkOverview.md
  packages/react-next/src/components/ComboBox/docs/ComboBoxOverview.md
  packages/react-next/src/components/Dropdown/Dropdown.doc.tsx
  packages/react-next/src/components/Dropdown/docs/DropdownBestPractices.md
  packages/react-next/src/components/Dropdown/docs/DropdownOverview.md
  packages/react-next/src/components/Dropdown/docs/new/DropdownBestPractices.md
  packages/react-next/src/components/FocusTrapZone/FocusTrapZone.doc.tsx
  packages/react-next/src/components/FocusTrapZone/docs/FocusTrapZoneBestPractices.md
  packages/react-next/src/components/Image/Image.doc.tsx
  packages/react-next/src/components/Image/docs/ImageBestPractices.md
  packages/react-next/src/components/Layer/Layer.doc.tsx
  packages/react-next/src/components/MessageBar/MessageBar.doc.tsx
  packages/react-next/src/components/Modal/Modal.doc.tsx
  packages/react-next/src/components/Modal/docs/ModalA11y.md
  packages/react-next/src/components/Modal/docs/ModalBestPractices.md
  packages/react-next/src/components/Modal/docs/ModalOverview.md
  packages/react-next/src/components/OverflowSet/OverflowSet.doc.tsx
  packages/react-next/src/components/OverflowSet/docs/OverflowSetBestPractices.md
  packages/react-next/src/components/Persona/Persona.doc.tsx
  packages/react-next/src/components/Persona/docs/PersonaBestPractices.md
  packages/react-next/src/components/Persona/docs/PersonaOverview.md
  packages/react-next/src/components/Rating/Rating.doc.tsx
  packages/react-next/src/components/ResizeGroup/ResizeGroup.doc.tsx
  packages/react-next/src/components/ResizeGroup/docs/ResizeGroupBestPractices.md
  packages/react-next/src/components/SearchBox/SearchBox.doc.tsx
  packages/react-next/src/components/SearchBox/docs/SearchBoxBestPractices.md
  packages/react-next/src/components/SearchBox/docs/SearchBoxOverview.md
  packages/react-next/src/components/SearchBox/docs/new/SearchBoxBestPractices.md
  packages/react-next/src/components/SelectedItemsList/docs/SelectedPeopleListBestPractices.md
  packages/react-next/src/components/Shimmer/Shimmer.doc.tsx
  packages/react-next/src/components/SpinButton/SpinButton.doc.tsx
  packages/react-next/src/components/SpinButton/docs/SpinButtonBestPractices.md
  packages/react-next/src/components/SpinButton/docs/SpinButtonOverview.md
  packages/react-next/src/components/SwatchColorPicker/SwatchColorPicker.doc.tsx
  packages/react-next/src/components/SwatchColorPicker/docs/SwatchColorPickerBestPractices.md
  packages/react-next/src/components/SwatchColorPicker/docs/SwatchColorPickerOverview.md
  packages/react-next/src/components/TeachingBubble/TeachingBubble.doc.tsx
  packages/react-next/src/components/TextField/TextField.doc.tsx
  packages/react-next/src/components/TextField/docs/TextFieldBestPractices.md
  packages/react-next/src/components/TextField/docs/TextFieldOverview.md
  packages/react-next/src/components/TextField/docs/new/TextFieldBestPractices.md
Labels: Fluent UI v8

#15129 Move fonts related code from styling to theme package
  change/@fluentui-theme-2020-09-18-14-40-19-xgao-default-fonts.json
  change/@uifabric-fluent-theme-2020-09-18-14-40-19-xgao-default-fonts.json
  change/@uifabric-styling-2020-09-18-14-40-19-xgao-default-fonts.json
  packages/fluent-theme/src/fluent/FluentColors.ts
  packages/fluent-theme/src/fluent/FluentDepths.ts
  packages/fluent-theme/src/fluent/FluentMotion.ts
  packages/fluent-theme/src/fluent/FluentType.ts
  packages/styling/etc/styling.api.md
  packages/styling/src/styles/DefaultEffects.ts
  packages/styling/src/styles/DefaultFontStyles.ts
  packages/styling/src/styles/DefaultPalette.ts
  packages/styling/src/styles/DefaultSpacing.ts
  packages/styling/src/styles/fonts.ts
  packages/theme/config/api-extractor.json
  packages/theme/etc/theme.api.md
  packages/theme/src/colors/DefaultPalette.ts
  packages/theme/src/colors/FluentColors.ts
  packages/theme/src/colors/index.ts
  packages/theme/src/constants/index.ts
  packages/theme/src/effects/DefaultEffects.ts
  packages/theme/src/effects/FluentDepths.ts
  packages/theme/src/effects/index.ts
  packages/theme/src/fonts/DefaultFontStyles.ts
  packages/theme/src/fonts/FluentFonts.ts
  packages/theme/src/fonts/__snapshots__/createFontStyles.test.ts.snap
  packages/theme/src/fonts/createFontStyles.test.ts
  packages/theme/src/fonts/createFontStyles.ts
  packages/theme/src/fonts/index.ts
  packages/theme/src/index.ts
  packages/theme/src/motions/FluentMotions.ts
  packages/theme/src/motions/index.ts
  packages/theme/src/spacing/DefaultSpacing.ts
  packages/theme/src/spacing/index.ts
  packages/theme/src/types/IFabricConfig.ts
Labels: PR: API Modified

#15108 FocusZone: Moving custom onFocus call at the end of private _onFocus logic
  change/@fluentui-react-focus-2020-09-17-16-37-34-focusZoneOnFocus.json
  packages/react-focus/src/components/FocusZone/FocusZone.tsx
Labels: AutoMerge, Component: FocusZone

#15153 Updating react-next example imports
  change/@fluentui-react-next-2020-09-21-12-02-46-fix-updating-react-next-example-imports.json
  packages/react-next/src/components/Coachmark/examples/Coachmark.Basic.Example.tsx
  packages/react-next/src/components/ExtendedPicker/examples/ExtendedPeoplePicker.Basic.Example.tsx
  packages/react-next/src/components/ExtendedPicker/examples/ExtendedPeoplePicker.Controlled.Example.tsx
  packages/react-next/src/components/FloatingPicker/PeoplePicker/examples/FloatingPeoplePicker.Basic.Example.tsx
  packages/react-next/src/components/Layer/examples/Layer.NestedLayers.Example.tsx
  packages/react-next/src/components/ResizeGroup/examples/ResizeGroup.VerticalOverflowSet.Example.tsx
  packages/react-next/src/components/TeachingBubble/examples/TeachingBubble.Wide.Example.tsx
  packages/react-next/src/components/TeachingBubble/examples/TeachingBubble.WideIllustration.Example.tsx
  packages/react-next/src/components/__snapshots__/ResizeGroup.VerticalOverflowSet.Example.tsx.shot
Labels: Fluent UI v8

#15146 docs(accessibility): adding screen reader labeling examples
  packages/fluentui/CHANGELOG.md
  packages/fluentui/docs/src/routes.tsx
  packages/fluentui/docs/src/views/Accessibility.tsx
  packages/fluentui/docs/src/views/ButtonNameComputation.tsx
Labels: Fluent UI react-northstar

#15131 Floating Pickers: Make pickers strict mode compliant
  change/@fluentui-react-next-2020-09-18-16-25-30-pickers-fix.json
  packages/react-next/etc/react-next.api.md
  packages/react-next/src/components/ExtendedPicker/BaseExtendedPicker.tsx
  packages/react-next/src/components/FloatingPicker/BaseFloatingPicker.tsx
  packages/react-next/src/components/FloatingPicker/Suggestions/SuggestionsControl.tsx
  packages/react-next/src/components/SelectedItemsList/BaseSelectedItemsList.tsx
Labels: AutoMerge, Component: ExtendedPicker, Component: FloatingPicker, Component: Pickers, Component: SelectedItemsList, Fluent UI v8, PR: API Modified

#15170 fix(tree): treeItem that can't be selected has selectable true
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/components/Tree/Tree.tsx
Labels: Fluent UI react-northstar

#15103 Mapping .classifier file extension to SharePoint filetype icon
  change/@uifabric-file-type-icons-2020-09-22-12-04-57-caperez-classifier_filetype_icon.json
  packages/file-type-icons/src/FileTypeIconMap.ts
  packages/file-type-icons/src/initializeFileTypeIcons.tsx
Labels: Area: Icons, Package: file-type-icons

#14206 Card: Initial implementation
  change/@fluentui-react-button-2020-07-24-18-12-08-card.json
  change/@fluentui-react-theme-provider-2020-07-24-18-12-08-card.json
  change/@fluentui-theme-2020-09-14-17-50-32-card.json
  change/@uifabric-react-cards-2020-07-24-18-12-08-card.json
  packages/react-button/etc/react-button.api.md
  packages/react-button/src/components/Button/Button.types.ts
  packages/react-cards/.storybook/decorators/index.js
  packages/react-cards/.storybook/decorators/withThemeProvider.js
  packages/react-cards/.storybook/knobs/theme.js
  packages/react-cards/.storybook/main.js
  packages/react-cards/.storybook/preview.js
  packages/react-cards/package.json
  packages/react-cards/src/next.ts
  packages/react-cards/src/next/Card.Teams.stories.tsx
  packages/react-cards/src/next/Card.scss
  packages/react-cards/src/next/Card.stories.scss
  packages/react-cards/src/next/Card.stories.tsx
  packages/react-cards/src/next/Card.tsx
  packages/react-cards/src/next/Card.types.ts
  packages/react-cards/src/next/CardBody/CardBody.scss
  packages/react-cards/src/next/CardBody/CardBody.tsx
  packages/react-cards/src/next/CardBody/index.ts
  packages/react-cards/src/next/CardBody/useCardBodyClasses.ts
  packages/react-cards/src/next/CardFooter/CardFooter.scss
  packages/react-cards/src/next/CardFooter/CardFooter.tsx
  packages/react-cards/src/next/CardFooter/index.ts
  packages/react-cards/src/next/CardFooter/useCardFooterClasses.ts
  packages/react-cards/src/next/CardHeader/CardHeader.scss
  packages/react-cards/src/next/CardHeader/CardHeader.tsx
  packages/react-cards/src/next/CardHeader/index.ts
  packages/react-cards/src/next/CardHeader/useCardHeaderClasses.ts
  packages/react-cards/src/next/CardPreview/CardPreview.scss
  packages/react-cards/src/next/CardPreview/CardPreview.tsx
  packages/react-cards/src/next/CardPreview/index.ts
  packages/react-cards/src/next/CardPreview/useCardPreviewClasses.ts
  packages/react-cards/src/next/CardSection/CardSection.scss
  packages/react-cards/src/next/CardSection/CardSection.types.ts
  packages/react-cards/src/next/CardSection/index.ts
  packages/react-cards/src/next/CardSection/renderCardSection.tsx
  packages/react-cards/src/next/CardSection/useCardSection.ts
  packages/react-cards/src/next/index.ts
  packages/react-cards/src/next/renderCard.tsx
  packages/react-cards/src/next/useCard.ts
  packages/react-cards/src/next/useCardClasses.ts
  packages/react-cards/src/next/useCardState.ts
  packages/react-theme-provider/src/__snapshots__/ThemeProvider.test.tsx.snap
  packages/react-theme-provider/src/getTokens.ts
  packages/react-theme-provider/src/types.ts
  packages/theme/etc/theme.api.md
  packages/theme/src/types/Theme.ts
Labels: AutoMerge, Component: Card, PR: Possible Perf Regression :snail:

#14836 fix: centered the indeterminate indicator inside the checkbox component
  change/@fluentui-web-components-2020-09-01-14-40-38-users-khamu-indeterminate-indicator.json
  packages/web-components/src/checkbox/checkbox.styles.ts
Labels: web-components

#14882 Feat/datepicker navigate to disabled dates
  packages/fluentui/accessibility/src/behaviors/Datepicker/datepickerCalendarGridRowBehavior.ts
  packages/fluentui/react-northstar/src/components/Datepicker/DatepickerCalendar.tsx
  packages/fluentui/react-northstar/src/components/Datepicker/DatepickerCalendarCellButton.tsx
  packages/fluentui/react-northstar/src/components/Datepicker/DatepickerCalendarHeader.tsx
  packages/fluentui/react-northstar/src/components/Datepicker/DatepickerCalendarHeaderAction.tsx
  packages/fluentui/react-northstar/src/components/Datepicker/navigateToNewDate.tsx
  packages/fluentui/react-northstar/test/specs/components/Datepicker/navigateToNewDate-test.tsx
  specs/Datepicker.md
Labels: AutoMerge, Fluent UI react-northstar

#14842 Add preventDismissOnEvent callback in Callout
  change/office-ui-fabric-react-2020-09-01-14-20-44-lagoe-addPreventDismissOnEventCallback.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/Callout/Callout.types.ts
  packages/office-ui-fabric-react/src/components/Callout/CalloutContent.base.tsx
Labels: Component: Callout, PR: API Modified

#15185 Feat/stabilizing datepicker
  packages/fluentui/accessibility/src/behaviors/Datepicker/datepickerCalendarCellButtonBehavior.ts
  packages/fluentui/docs/src/components/Sidebar/Sidebar.tsx
  packages/fluentui/docs/src/routes.tsx
  packages/fluentui/react-northstar/src/components/Datepicker/Datepicker.tsx
  packages/fluentui/react-northstar/src/components/Datepicker/DatepickerCalendarCell.tsx
  packages/fluentui/react-northstar/src/components/Datepicker/DatepickerCalendarCellButton.tsx
  packages/fluentui/react-northstar/src/components/Datepicker/DatepickerCalendarGrid.tsx
  packages/fluentui/react-northstar/src/components/Datepicker/DatepickerCalendarGridRow.tsx
  packages/fluentui/react-northstar/src/components/Datepicker/DatepickerCalendarHeader.tsx
  packages/fluentui/react-northstar/src/components/Datepicker/DatepickerCalendarHeaderAction.tsx
  packages/fluentui/react-northstar/src/components/Datepicker/DatepickerCalendarHeaderCell.tsx
Labels: Fluent UI react-northstar

#15159 Codemods: fix the config mod to still run if no matching mod name is found.
  change/@fluentui-codemods-2020-09-21-14-36-13-codemods-config-fix.json
  packages/codemods/src/codeMods/mods/configMod/configMod.mod.ts
  packages/codemods/src/helpers/maybe.ts
  packages/codemods/src/helpers/result.ts
Labels: Area: Build System, AutoMerge, Package: codemods

#15190 chore: try to use midgard-yarn
  .devops/templates/tools.yml
  azure-pipelines.yml
Labels: Area: Build System

#14852 fix: center align the start and end slot on tabs
  change/@fluentui-web-components-2020-09-01-14-37-30-users-khamu-tabs-start-end-center.json
  packages/web-components/src/tabs/tabs.styles.ts
Labels: web-components

#15193 Correcting typos within react-next
  change/@fluentui-react-next-2020-09-23-10-02-57-fix-typo-correcting-typos-in-react-next.json
  packages/react-next/src/common/shallowUntilTarget.ts
  packages/react-next/src/components/Autofill/Autofill.tsx
  packages/react-next/src/components/Autofill/Autofill.types.ts
  packages/react-next/src/components/Breadcrumb/Breadcrumb.base.tsx
  packages/react-next/src/components/Breadcrumb/Breadcrumb.test.tsx
  packages/react-next/src/components/Callout/CalloutContent.base.tsx
  packages/react-next/src/components/Coachmark/PositioningContainer/PositioningContainer.tsx
  packages/react-next/src/components/ComboBox/ComboBox.tsx
  packages/react-next/src/components/ComboBox/ComboBox.types.ts
  packages/react-next/src/components/ContextualMenu/ContextualMenu.base.tsx
  packages/react-next/src/components/Dropdown/Dropdown.test.tsx
  packages/react-next/src/components/ExtendedPicker/BaseExtendedPicker.types.ts
  packages/react-next/src/components/FloatingPicker/BaseFloatingPicker.types.ts
  packages/react-next/src/components/FloatingPicker/Suggestions/Suggestions.types.ts
  packages/react-next/src/components/Image/Image.types.ts
  packages/react-next/src/components/Layer/Layer.notification.ts
  packages/react-next/src/components/Modal/Modal.types.ts
  packages/react-next/src/components/OverflowSet/OverflowSet.types.ts
  packages/react-next/src/components/Persona/Persona.base.tsx
  packages/react-next/src/components/Popup/Popup.tsx
  packages/react-next/src/components/Popup/Popup.types.ts
  packages/react-next/src/components/ResizeGroup/ResizeGroup.base.tsx
  packages/react-next/src/components/SearchBox/SearchBox.styles.tsx
  packages/react-next/src/components/SpinButton/SpinButton.types.ts
  packages/react-next/src/components/SwatchColorPicker/SwatchColorPicker.test.tsx
  packages/react-next/src/components/TextField/TextField.test.tsx
  packages/react-next/src/components/TextField/__snapshots__/TextField.test.tsx.snap
  packages/react-next/src/utilities/ButtonGrid/ButtonGridCell.types.ts
Labels: Fluent UI v8

#15173 Reduce lerna concurrency in runTo
  scripts/monorepo/runTo.js
Labels: Area: Build System

#15166 Pivot: Fix HC styling for pivot tabs to show text when selected
  change/@fluentui-react-tabs-2020-09-22-11-36-27-pivot-hc-styling.json
  change/office-ui-fabric-react-2020-09-21-18-00-21-pivot-hc-styling.json
  packages/office-ui-fabric-react/src/components/Pivot/Pivot.styles.ts
  packages/office-ui-fabric-react/src/components/Pivot/__snapshots__/Pivot.test.tsx.snap
  packages/office-ui-fabric-react/src/components/__snapshots__/Pivot.OnChange.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Pivot.Remove.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Pivot.Tabs.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Pivot.TabsLarge.Example.tsx.shot
  packages/react-tabs/src/components/Pivot/Pivot.styles.ts
  packages/react-tabs/src/components/Pivot/__snapshots__/Pivot.test.tsx.snap
  packages/react-tabs/src/next/Pivot.scss
Labels: Area: Accessibility, Component: Pivot, High Contrast

#15126 Feat: adds automatic card background color calculation
  change/@fluentui-web-components-2020-09-18-12-06-28-users-jes-card-improvements.json
  packages/web-components/src/card/README.md
  packages/web-components/src/card/fixtures/card.html
  packages/web-components/src/card/index.ts
Labels: web-components

#15192 Callout: fix issue where it would dismiss on iframe or window focus
  change/office-ui-fabric-react-2020-09-23-09-44-31-fix-callout-iframedismiss.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/Callout/Callout.test.tsx
  packages/office-ui-fabric-react/src/components/Callout/Callout.types.ts
  packages/office-ui-fabric-react/src/components/Callout/CalloutContent.base.tsx
Labels: AutoMerge, Component: Callout, PR: API Modified

#15087 feat(Breadcrumb): list behavior with arrow navigation
  packages/fluentui/CHANGELOG.md
  packages/fluentui/accessibility/src/behaviors/Breadcrumb/breadcrumbBehavior.ts
  packages/fluentui/accessibility/src/behaviors/index.ts
  packages/fluentui/accessibility/test/behaviors/behavior-test.tsx
  packages/fluentui/react-northstar/src/components/Breadcrumb/Breadcrumb.tsx
Labels: Fluent UI react-northstar

#15203 docs(toolbar): add known VO accessibilityIssues
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/components/Toolbar/Toolbar.tsx
Labels: Fluent UI react-northstar

#15200 fix(TreeTitle): Selectable TreeTitle should have background hover
  packages/fluentui/react-northstar/src/themes/teams/components/Tree/treeTitleStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Tree/treeTitleVariables.ts
Labels: Component: List, Fluent UI react-northstar

#15210 Fix/memleaks 047x
  packages/fluentui/react-bindings/src/styles/types.ts
  packages/fluentui/react-northstar/src/components/Provider/Provider.tsx
  packages/fluentui/react-northstar/src/utils/felaFocusVisibleEnhancer.ts
  packages/fluentui/react-northstar/src/utils/felaRenderer.tsx
  packages/fluentui/styles/src/mergeThemes.ts
Labels: Fluent UI react-northstar

#15206 fix(TreeTitle): adding padding
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/components/Tree/TreeTitle.tsx
  packages/fluentui/react-northstar/src/themes/teams/components/Tree/treeItemStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Tree/treeTitleStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Tree/treeTitleVariables.ts
Labels: Fluent UI react-northstar
