Repository microsoft/fluentui, pull requests merged in 2020-07, with the labels that each got.

#13846 High Contrast in Edge Chromium: fix ChoiceGroup.
  change/office-ui-fabric-react-2020-06-29-15-40-13-xgao-high-contrast-fix-2.json
  packages/office-ui-fabric-react/src/components/ChoiceGroup/ChoiceGroupOption/ChoiceGroupOption.styles.ts
  packages/office-ui-fabric-react/src/components/ChoiceGroup/ChoiceGroupOption/__snapshots__/ChoiceGroupOption.test.tsx.snap
  packages/office-ui-fabric-react/src/components/__snapshots__/ChoiceGroup.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/ChoiceGroup.Controlled.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/ChoiceGroup.Custom.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/ChoiceGroup.Icon.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/ChoiceGroup.Image.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/ChoiceGroup.Label.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/ColorPicker.Basic.Example.tsx.shot
Labels: Component: ChoiceGroup, High Contrast, Priority 2: Normal

#13870 High Contrast in Edge Chromium: Fix ContextualMenu
  change/office-ui-fabric-react-2020-06-30-13-46-39-xgao-high-contrast-fix-4.json
  packages/office-ui-fabric-react/src/components/ContextualMenu/ContextualMenu.cnstyles.ts
  packages/office-ui-fabric-react/src/components/__snapshots__/ContextualMenu.Basic.Example.tsx.shot
Labels: Area: Accessibility, Component: ContextualMenu, High Contrast

#13885 Fix build: yarn.lock is out of sync
  apps/codesandbox-react-template/package.json
  yarn.lock
Labels: Area: Build System

#13890 Button: Adding story of Button using styled icon from react-icons via tokens
  apps/vr-tests/package.json
  apps/vr-tests/src/stories/ButtonNext.stories.tsx
Labels: Component: Button, Fluent UI v8

#13892 New macos link control
  apps/fabric-website/src/SiteDefinition/SiteDefinition.pages/Controls/mac.tsx
  apps/fabric-website/src/pages/Controls/LinkPage/LinkPage.doc.ts
  apps/fabric-website/src/pages/Controls/LinkPage/LinkPage.tsx
  apps/fabric-website/src/pages/Controls/LinkPage/docs/LinkRelated.md
  apps/fabric-website/src/pages/Controls/LinkPage/docs/mac/LinkImplementation.md
  apps/fabric-website/src/pages/Controls/LinkPage/docs/mac/LinkOverview.md
  apps/fabric-website/src/pages/Controls/LinkPage/docs/mac/LinkUsage.md
  change/@uifabric-fabric-website-2020-07-01-16-50-11-new-macos-link-control.json
Labels: Area: Website

#13873 PR deployed sites: Adding react-button and react-next to list of deployed sites
  apps/pr-deploy-site/index.html
  apps/pr-deploy-site/package.json
  change/@fluentui-react-button-2020-07-01-17-13-53-reactNextPRDeployedSites.json
  change/@fluentui-react-next-2020-06-30-17-23-58-reactNextPRDeployedSites.json
  packages/react-button/package.json
  packages/react-next/package.json
Labels: Area: Build System, AutoMerge

#13816 remove bench mark and target
  change/@uifabric-charting-2020-06-26-12-35-30-user-v-sivsar-removeBenchMarkAndTarget.json
  packages/charting/src/components/StackedBarChart/examples/StackedBarChart.Benchmark.Example.tsx
Labels: Package: charting

#13861 feat(Schema): Add validation for forms and form components
  packages/fluentui/ability-attributes/schema.json
  packages/fluentui/docs/src/examples/components/Form/Usage/FormExampleErrorAndSuccessful.tsx
Labels: Fluent UI v0

#13880 fix(FormPrototype): fix IE11
  scripts/webpack/webpack.config.ts
Labels: Area: Build System

#13729 Resolve side effects in keyboard-key/codes.ts
  change/@fluentui-keyboard-key-2020-06-21-12-52-50-master.json
  packages/keyboard-key/src/codes.ts
Labels: Package: keyboard-key

#13898 fix(components): small fix for ie11
  packages/fluentui/docs/src/prototypes/customToolbar/index.tsx
  packages/fluentui/react-northstar/src/components/Toolbar/Toolbar.tsx
  packages/fluentui/react-northstar/src/themes/teams/components/Chat/chatMessageStyles.ts
Labels: Fluent UI v0

#13859 fix(Toolbar,Popup) accessibility fixed based on user feedback
  packages/fluentui/accessibility/src/behaviors/Popup/popupBehavior.ts
  packages/fluentui/docs/src/examples/components/Toolbar/Content/ToolbarExampleCustomContent.shorthand.tsx
  packages/fluentui/docs/src/examples/components/Toolbar/Content/ToolbarExampleMenuWithSubmenu.shorthand.tsx
Labels: Fluent UI v0

#13891 Migrate styled utility function to use functional component
  change/@uifabric-test-utilities-2020-07-01-21-51-37-functional-styled.json
  change/@uifabric-utilities-2020-07-01-21-51-37-functional-styled.json
  change/office-ui-fabric-react-2020-07-01-23-26-30-functional-styled.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsList.test.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsRow.test.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/ShimmeredDetailsList.test.tsx
  packages/office-ui-fabric-react/src/components/Fabric/Fabric.test.tsx
  packages/office-ui-fabric-react/src/components/Fabric/Fabric.tsx
  packages/office-ui-fabric-react/src/components/Nav/Nav.test.tsx
  packages/react-conformance/src/defaultTests.tsx
  packages/test-utilities/src/safeCreate.ts
  packages/utilities/etc/utilities.api.md
  packages/utilities/src/styled.test.tsx
  packages/utilities/src/styled.tsx
Labels: AutoMerge

#13897 Line chart: Remove Duplicate ID's for lines and circles
  change/@uifabric-charting-2020-07-02-15-24-10-user-v-gorraj-Bug_4227510.json
  packages/charting/src/components/LineChart/LineChart.base.tsx
Labels: Package: charting

#13874 SplitButton - Padding 12px on the sides. Added a variable for minWidth.
  packages/fluentui/react-northstar/src/themes/teams/components/SplitButton/splitButtonStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/SplitButton/splitButtonVariables.ts
Labels: Fluent UI v0

#13920 Line chart - callout and circle ID's updated.
  change/@uifabric-charting-2020-07-03-18-35-08-user-v-jasha-LineChartScreenReaderIssue.json
  packages/charting/src/components/LineChart/LineChart.base.tsx
Labels: Package: charting

#13886 Toggle: remove double label for
  change/@fluentui-react-next-2020-07-01-17-10-39-t-dama-remove_double_LabelFor.json
  change/office-ui-fabric-react-2020-06-30-19-54-07-t-dama-remove_double_LabelFor.json
  packages/office-ui-fabric-react/src/components/Toggle/Toggle.base.tsx
  packages/office-ui-fabric-react/src/components/Toggle/Toggle.test.tsx
  packages/office-ui-fabric-react/src/components/Toggle/__snapshots__/Toggle.test.tsx.snap
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Documents.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.DragDrop.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Dropdown.Error.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/FocusTrapZone.Box.Click.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/FocusTrapZone.Box.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/FocusTrapZone.Box.FocusOnCustomElement.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/FocusTrapZone.FocusZone.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/FocusTrapZone.Nested.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Shimmer.Application.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Toggle.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Toggle.CustomLabel.Example.tsx.shot
  packages/react-next/src/components/Toggle/__snapshots__/Toggle.test.tsx.snap
  packages/react-next/src/components/Toggle/useToggle.ts
Labels: Area: Accessibility, Component: Toggle

#13896 Line chart: Expose chart margins prop for line chart
  change/@uifabric-charting-2020-07-02-14-22-06-user-v-gorraj-Task_4265281.json
  packages/charting/src/components/LineChart/LineChart.base.tsx
  packages/charting/src/components/LineChart/LineChart.types.ts
  packages/charting/src/components/LineChart/examples/LineChart.Basic.Example.tsx
Labels: Package: charting

#13940 Fixing jest environment path to be preserved, unbreaks `jest test`
  scripts/tasks/jest.js
Labels: Area: Build System

#13851 Add props and state typings type for Sidebar component
  packages/fluentui/docs/src/components/DocsLayout.tsx
  packages/fluentui/docs/src/components/Sidebar/Sidebar.tsx
Labels: Fluent UI v0

#13941 Removing console.log from MarqueeSelection Example
  change/office-ui-fabric-react-2020-07-07-14-34-22-fix-removing-console-log.json
  packages/office-ui-fabric-react/src/components/MarqueeSelection/examples/MarqueeSelection.Basic.Example.tsx
Labels: Component: MarqueeSelection

#13930 fix(build): match only main react-northstar package tag when saving stats
  azure-pipelines.perf-test.yml
Labels: Fluent UI v0

#13950 chore: remove React from @fluentui/styles dependencies
  packages/fluentui/styles/package.json
Labels: Fluent UI v0

#13946 Linked folder icon
  change/@uifabric-file-type-icons-2020-07-07-21-15-24-linked-folder-icon.json
  packages/file-type-icons/src/FileIconType.ts
  packages/file-type-icons/src/getFileTypeIconProps.ts
Labels: Package: file-type-icons

#13948 Fix: Normalize date in tests without setting timezone
  change/@fluentui-date-time-utilities-2020-07-08-09-37-29-fix-date-time-utils-tz-setup.json
  packages/date-time-utilities/config/timezone-setup.js
  packages/date-time-utilities/jest.config.js
  packages/date-time-utilities/src/dateGrid/__snapshots__/getDayGrid.test.ts.snap
  packages/date-time-utilities/src/dateGrid/getDayGrid.test.ts
Labels: Area: Build System, Area: Testing

#13904 Calendar: Migrate components to function components
  change/@fluentui-react-next-2020-07-02-19-12-27-functional-date-time-Calendar.json
  change/@uifabric-date-time-2020-07-02-18-58-40-functional-date-time-Calendar.json
  change/office-ui-fabric-react-2020-07-08-18-15-48-functional-date-time-Calendar.json
  packages/date-time/etc/date-time.api.md
  packages/date-time/src/components/Calendar/Calendar.base.tsx
  packages/date-time/src/components/Calendar/Calendar.tsx
  packages/date-time/src/components/Calendar/CalendarDay/CalendarDay.base.tsx
  packages/date-time/src/components/Calendar/CalendarDay/CalendarDay.styles.ts
  packages/date-time/src/components/Calendar/CalendarDay/CalendarDay.tsx
  packages/date-time/src/components/Calendar/CalendarDay/CalendarDay.types.ts
  packages/date-time/src/components/Calendar/CalendarMonth/CalendarMonth.base.tsx
  packages/date-time/src/components/Calendar/CalendarMonth/CalendarMonth.tsx
  packages/date-time/src/components/Calendar/CalendarMonth/CalendarMonth.types.ts
  packages/date-time/src/components/Calendar/CalendarYear/CalendarYear.base.tsx
  packages/date-time/src/components/Calendar/CalendarYear/CalendarYear.tsx
  packages/date-time/src/components/Calendar/CalendarYear/CalendarYear.types.ts
  packages/date-time/src/components/Calendar/examples/Calendar.Button.Example.tsx
  packages/date-time/src/components/Calendar/examples/Calendar.Inline.Example.tsx
  packages/date-time/src/components/CalendarDayGrid/CalendarDayGrid.tsx
  packages/date-time/src/components/CalendarDayGrid/CalendarDayGrid.types.ts
  packages/date-time/src/components/DatePicker/DatePicker.tsx
  packages/date-time/src/components/WeeklyDayPicker/WeeklyDayPicker.tsx
  packages/date-time/src/components/WeeklyDayPicker/WeeklyDayPicker.types.ts
  packages/office-ui-fabric-react/src/components/Toggle/Toggle.base.tsx
  packages/react-next/etc/react-next.api.md
  packages/react-next/package.json
  packages/react-next/src/Calendar.ts
  packages/react-next/src/DatePicker.ts
Labels: PR: API Modified

#13952 Slider: Fix High Contrast bug in Slider #13869
  change/office-ui-fabric-react-2020-07-08-09-49-12-a11y-slider.json
  packages/office-ui-fabric-react/src/components/Slider/Slider.styles.ts
  packages/office-ui-fabric-react/src/components/Slider/__snapshots__/Slider.test.tsx.snap
  packages/office-ui-fabric-react/src/components/__snapshots__/Callout.Directional.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Facepile.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Facepile.Overflow.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Slider.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Slider.Vertical.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Stack.Horizontal.Configure.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Stack.Horizontal.Shrink.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Stack.Horizontal.Wrap.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Stack.Horizontal.WrapAdvanced.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Stack.Horizontal.WrapNested.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Stack.Vertical.Configure.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Stack.Vertical.Shrink.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Stack.Vertical.Wrap.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Stack.Vertical.WrapAdvanced.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Stack.Vertical.WrapNested.Example.tsx.shot
Labels: Area: Accessibility, Component: Slider, High Contrast

#13901 fix(components): Fix input and menu styles for IE11
  packages/fluentui/docs/src/examples/components/Menu/Visual/MenuExampleCompose.shorthand.tsx
  packages/fluentui/react-northstar/src/themes/teams/components/Input/inputStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Menu/menuItemIndicatorStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Menu/menuItemStyles.ts
Labels: Fluent UI v0

#13860 Vertical stacked bar chart: fit container updated to chart
  change/@uifabric-charting-2020-06-30-16-10-17-user-v-jasha-VSBarchartEnhancements.json
  packages/charting/src/components/VerticalStackedBarChart/VerticalStackedBarChart.base.tsx
  packages/charting/src/components/VerticalStackedBarChart/VerticalStackedBarChart.styles.ts
  packages/charting/src/components/VerticalStackedBarChart/VerticalStackedBarChart.types.ts
  packages/charting/src/components/VerticalStackedBarChart/examples/VerticalStackedBarChart.Basic.Example.tsx
  packages/charting/src/components/VerticalStackedBarChart/examples/VerticalStackedBarChart.Styled.Example.tsx
Labels: Package: charting

#13933 Charting: LineChart - callout not visible when graph more dense issue resovled.
  change/@uifabric-charting-2020-07-07-19-01-04-user-v-jasha-bug#4272739-LineChart.json
  packages/charting/src/components/LineChart/LineChart.base.tsx
Labels: Package: charting

#13906 Theming: new semantic card slots
  change/@uifabric-styling-2020-07-02-13-30-34-phkuo-newCardSlots.json
  packages/styling/etc/styling.api.md
  packages/styling/src/interfaces/IEffects.ts
  packages/styling/src/interfaces/ISemanticColors.ts
  packages/styling/src/styles/theme.test.ts
  packages/styling/src/styles/theme.ts
Labels: PR: API Modified, Package: styling

#13964 fix(Button): Respect hidden HTML attribute on components
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/themes/teams/staticStyles/globalStyles.ts
Labels: Fluent UI v0

#13924 Fix bug: ContextualMenu doesn't honor the focusZoneProps prop
  change/office-ui-fabric-react-2020-07-04-06-52-11-focusZone.json
  packages/office-ui-fabric-react/src/components/ContextualMenu/ContextualMenu.base.tsx
Labels: Component: ContextualMenu

#13579 Area chart added to @charting package
  change/@uifabric-charting-2020-06-12-11-55-27-user-v-jasha-AreaCharts.json
  packages/charting/src/components/AreaChart/AreaChart.base.tsx
  packages/charting/src/components/AreaChart/AreaChartPage.tsx
  packages/charting/src/components/AreaChart/examples/AreaChart.Basic.Example.tsx
  packages/charting/src/components/AreaChart/examples/AreaChart.Multiple.Example.tsx
  packages/charting/src/components/AreaChart/examples/AreaChart.Styled.Example.tsx
  packages/charting/src/components/LineChart/LineChart.base.tsx
  packages/charting/src/components/LineChart/LineChart.tsx
  packages/charting/src/components/LineChart/LineChart.types.ts
  packages/charting/src/components/LineChart/index.ts
  packages/charting/src/utilities/index.ts
  packages/charting/src/utilities/utilities.ts
Labels: PR: Possible Perf Regression :snail:, Package: charting

#13970 Adding filetype mapping for .osts extension
  change/@uifabric-experiments-2020-07-09-13-25-59-caperez-filetype_osts_update.json
  change/@uifabric-file-type-icons-2020-07-09-13-25-59-caperez-filetype_osts_update.json
  packages/experiments/src/components/FileTypeIcon/examples/FileTypeIcon.Basic.Example.tsx
  packages/file-type-icons/src/FileTypeIconMap.ts
Labels: AutoMerge

#13967 Website icon fix - give icons unique IDs
  apps/fabric-website/src/utilities/svgIcons.tsx
  change/@uifabric-fabric-website-2020-07-09-12-45-48-website-icon-fix.json
Labels: Area: Website, AutoMerge

#13910 New macos button and separator
  apps/fabric-website/src/SiteDefinition/SiteDefinition.pages/Controls/mac.tsx
  apps/fabric-website/src/pages/Controls/ButtonPage/ButtonPage.doc.ts
  apps/fabric-website/src/pages/Controls/ButtonPage/ButtonPage.tsx
  apps/fabric-website/src/pages/Controls/ButtonPage/docs/ButtonRelated.md
  apps/fabric-website/src/pages/Controls/ButtonPage/docs/mac/ButtonImplementation.md
  apps/fabric-website/src/pages/Controls/ButtonPage/docs/mac/ButtonOverview.md
  apps/fabric-website/src/pages/Controls/ButtonPage/docs/mac/ButtonUsage.md
  apps/fabric-website/src/pages/Controls/LinkPage/docs/mac/LinkImplementation.md
  apps/fabric-website/src/pages/Controls/LinkPage/docs/mac/LinkUsage.md
  apps/fabric-website/src/pages/Controls/SeparatorPage/SeparatorPage.doc.ts
  apps/fabric-website/src/pages/Controls/SeparatorPage/SeparatorPage.tsx
  apps/fabric-website/src/pages/Controls/SeparatorPage/docs/SeparatorRelated.md
  apps/fabric-website/src/pages/Controls/SeparatorPage/docs/mac/SeparatorImplementation.md
  apps/fabric-website/src/pages/Controls/SeparatorPage/docs/mac/SeparatorOverview.md
  apps/fabric-website/src/pages/Controls/SeparatorPage/docs/mac/SeparatorUsage.md
  change/@uifabric-fabric-website-2020-07-02-14-48-58-new-macos-button-and-separator.json
Labels: Area: Website, AutoMerge

#13962 chore(Dropdown): convert to be functional component
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/components/Dropdown/Dropdown.tsx
  packages/fluentui/react-northstar/src/themes/teams-high-contrast/componentVariables.ts
  packages/fluentui/react-northstar/src/themes/teams-high-contrast/components/Dropdown/dropdownItemVariables.ts
  packages/fluentui/react-northstar/src/themes/teams-high-contrast/components/Dropdown/dropdownSelectedItemVariables.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Dropdown/dropdownStyles.ts
  packages/fluentui/react-northstar/src/types.ts
  packages/fluentui/react-northstar/src/utils/AutoControlledComponent.tsx
  packages/fluentui/react-northstar/src/utils/UIComponent.tsx
  packages/fluentui/react-northstar/src/utils/index.ts
  packages/fluentui/react-northstar/test/specs/commonTests/handlesAccessibility.tsx
  packages/fluentui/react-northstar/test/specs/commonTests/stylesFunction-test.tsx
  packages/fluentui/react-northstar/test/specs/components/Dropdown/Dropdown-test.tsx
  packages/fluentui/react-northstar/test/specs/components/Dropdown/test-utils.tsx
  packages/fluentui/react-northstar/test/specs/utils/AutoControlledComponent-test.tsx
  packages/fluentui/state/src/index.ts
  packages/fluentui/state/src/managers/dropdownManager.ts
Labels: Fluent UI v0

#13961 fix: make getShorthandInfo compatible with `compose()`
  scripts/gulp/plugins/util/getShorthandInfo.ts
  scripts/gulp/tasks/docs.ts
Labels: Area: Build System, Fluent UI v0

#13986 chore: use minification for stats task and proper env
  scripts/webpack/webpack.config.stats.ts
Labels: Area: Build System

#13988 fix(ChatMessage): remove auto width
  packages/fluentui/react-northstar/src/themes/teams/components/Chat/chatMessageStyles.ts
Labels: Fluent UI v0

#13959 Fix bug: azure-theme CommandBar styles
  change/@uifabric-azure-themes-2020-07-08-21-33-56-jackieg-azuretheme-commandbar.json
  packages/azure-themes/src/azure/AzureColors.ts
  packages/azure-themes/src/azure/AzureThemeDark.ts
  packages/azure-themes/src/azure/AzureThemeLight.ts
  packages/azure-themes/src/azure/IAzureSemanticColors.ts
  packages/azure-themes/src/azure/IExtendedSemanticColors.ts
  packages/azure-themes/src/azure/styles/CommandBar.styles.ts
  packages/azure-themes/src/azure/styles/CommandBarButton.styles.ts
  packages/azure-themes/src/stories/Themes/Themes.tsx
  packages/azure-themes/src/stories/components/commandBar.tsx
Labels: Package: azure-themes

#13742 Remove KeytipData usage from Link, Checkbox, Toggle (react-next)
  change/@fluentui-react-next-2020-06-22-11-18-19-xgao-useKeytipData.json
  change/office-ui-fabric-react-2020-06-22-11-18-19-xgao-useKeytipData.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/KeytipData/KeytipData.tsx
  packages/office-ui-fabric-react/src/components/KeytipData/KeytipData.types.ts
  packages/office-ui-fabric-react/src/components/KeytipData/index.ts
  packages/office-ui-fabric-react/src/components/KeytipData/useKeytipData.test.tsx
  packages/office-ui-fabric-react/src/components/KeytipData/useKeytipData.ts
  packages/office-ui-fabric-react/src/components/KeytipData/useKeytipRef.ts
  packages/office-ui-fabric-react/src/components/KeytipLayer/KeytipLayer.base.tsx
  packages/office-ui-fabric-react/src/utilities/keytips/KeytipConstants.ts
  packages/react-next/etc/react-next.api.md
  packages/react-next/src/Keytip.ts
  packages/react-next/src/components/Checkbox/Checkbox.base.tsx
  packages/react-next/src/components/Checkbox/Checkbox.types.ts
  packages/react-next/src/components/Checkbox/__snapshots__/Checkbox.test.tsx.snap
  packages/react-next/src/components/Checkbox/useCheckbox.ts
  packages/react-next/src/components/Fabric/__snapshots__/Fabric.test.tsx.snap
  packages/react-next/src/components/Keytip/examples/Keytips.Basic.Example.tsx
  packages/react-next/src/components/Keytip/examples/Keytips.Button.Example.tsx
  packages/react-next/src/components/Keytip/examples/Keytips.CommandBar.Example.tsx
  packages/react-next/src/components/Keytip/examples/Keytips.Dynamic.Example.tsx
  packages/react-next/src/components/Keytip/examples/Keytips.Overflow.Example.tsx
  packages/react-next/src/components/Keytip/index.ts
  packages/react-next/src/components/Link/Link.types.ts
  packages/react-next/src/components/Link/LinkBase.tsx
  packages/react-next/src/components/Link/useLink.ts
  packages/react-next/src/components/Toggle/Toggle.tsx
  packages/react-next/src/components/Toggle/Toggle.types.ts
  packages/react-next/src/components/Toggle/ToggleBase.tsx
  packages/react-next/src/components/Toggle/__snapshots__/Toggle.test.tsx.snap
  packages/react-next/src/components/Toggle/useToggle.ts
Labels: Fluent UI v8, PR: API Modified

#13981 DatePicker: showDatePickerPopup should be public
  change/@uifabric-date-time-2020-07-09-22-36-12-shrallap-datepickercalloutopenpublic.json
  packages/date-time/etc/date-time.api.md
  packages/date-time/src/components/DatePicker/DatePicker.base.tsx
  packages/date-time/src/components/DatePicker/DatePicker.types.ts
Labels: Component: DatePicker, Package: date-time

#13979 Add multi select delimiter to combobox
  change/office-ui-fabric-react-2020-07-09-20-17-46-add-multi-select-delimiter-to-combobox.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/ComboBox/ComboBox.test.tsx
  packages/office-ui-fabric-react/src/components/ComboBox/ComboBox.tsx
  packages/office-ui-fabric-react/src/components/ComboBox/ComboBox.types.ts
Labels: Component: ComboBox, PR: API Modified

#13843 ContextualMenu accessibility: Fix high contrast style for submenu icon
  change/office-ui-fabric-react-2020-06-29-10-50-09-contextmenu-icon-contrast.json
  packages/office-ui-fabric-react/src/components/ContextualMenu/ContextualMenu.cnstyles.ts
  packages/office-ui-fabric-react/src/components/ContextualMenu/__snapshots__/ContextualMenu.test.tsx.snap
Labels: Component: ContextualMenu

#13989 Website hook fix
  apps/fabric-website/src/pages/HomePage/HomePage.base.tsx
  apps/fabric-website/src/root.tsx
  apps/fabric-website/src/utilities/svgIcons.tsx
  apps/fabric-website/src/utilities/svgIconsColor.tsx
  change/@uifabric-fabric-website-2020-07-10-09-31-11-website-hook-fix.json
Labels: Area: Website, AutoMerge

#13949 feat(Input): add input label
  packages/fluentui/CHANGELOG.md
  packages/fluentui/docs/src/examples/components/Input/BestPractices/InputBestPractices.tsx
  packages/fluentui/docs/src/examples/components/Input/Slots/InputExampleLabel.shorthand.steps.ts
  packages/fluentui/docs/src/examples/components/Input/Slots/InputExampleLabel.shorthand.tsx
  packages/fluentui/docs/src/examples/components/Input/Slots/index.tsx
  packages/fluentui/docs/src/examples/components/Input/index.tsx
  packages/fluentui/react-northstar/src/components/Form/FormInput.tsx
  packages/fluentui/react-northstar/src/components/Form/utils/formFieldBase.tsx
  packages/fluentui/react-northstar/src/components/Form/utils/formFieldBaseContext.ts
  packages/fluentui/react-northstar/src/components/Input/Input.tsx
  packages/fluentui/react-northstar/src/components/Input/InputLabel.tsx
  packages/fluentui/react-northstar/src/index.ts
  packages/fluentui/react-northstar/src/themes/teams/componentStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/componentVariables.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Input/inputLabelStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Input/inputLabelVariables.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Input/inputStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Input/inputVariables.ts
  packages/fluentui/react-northstar/test/specs/components/Input/InputLabel-test.tsx
Labels: Fluent UI v0

#13980 Donut chart: when hover/focus on arc the arc should be highlight and remaining arcs are disable
  change/@uifabric-charting-2020-07-10-10-58-14-user-v-gorraj-TSK_4283359.json
  packages/charting/src/components/DonutChart/Arc/Arc.tsx
  packages/charting/src/components/DonutChart/DonutChart.base.tsx
  packages/charting/src/components/Legends/Legends.base.tsx
  packages/charting/src/components/Legends/Legends.types.ts
Labels: Package: charting

#13996 docs: fix spelling mistake
  apps/fabric-website/src/data/responsive-breakpoints.json
  change/@uifabric-fabric-website-2020-07-13-20-44-33-patch-1.json
Labels: Area: Website

#13878 Button color on expand
  change/@uifabric-azure-themes-2020-07-01-14-38-23-button-color-on-expand.json
  packages/azure-themes/src/azure/styles/DefaultButton.styles.ts
  packages/azure-themes/src/azure/styles/PrimaryButton.styles.ts
  packages/azure-themes/src/stories/components/contextualMenu.tsx
Labels: AutoMerge, Package: azure-themes

#13998 Fixing the order of hooks updation for addition and deletion of items in UnifiedPeoplePicker
  change/@uifabric-experiments-2020-07-12-12-54-10-u-nebhatna-fixUppBugs.json
  packages/experiments/src/components/UnifiedPicker/UnifiedPicker.tsx
Labels: Package: experiments

#13631 Implement Pivot overflow: move tabs into a menu when they don't fit onscreen
  apps/vr-tests/src/stories/PivotNext.stories.tsx
  change/@fluentui-react-next-2020-06-16-12-16-55-pivot-overflow.json
  packages/react-next/etc/react-next.api.md
  packages/react-next/src/common/_constants.scss
  packages/react-next/src/components/Pivot/Pivot.base.tsx
  packages/react-next/src/components/Pivot/Pivot.doc.tsx
  packages/react-next/src/components/Pivot/Pivot.scss
  packages/react-next/src/components/Pivot/Pivot.tsx
  packages/react-next/src/components/Pivot/Pivot.types.ts
  packages/react-next/src/components/Pivot/examples/Pivot.OverflowMenu.Example.tsx
  packages/react-next/src/components/Pivot/observeResize.ts
  packages/react-next/src/components/Pivot/useOverflow.ts
  packages/react-next/src/components/Pivot/useRefEffect.ts
Labels: Component: Pivot, Fluent UI v8, PR: API Modified

#14013 Fix codesandbox template production build
  apps/codesandbox-react-template/just.config.ts
  apps/codesandbox-react-template/package.json
  apps/codesandbox-react-template/tsconfig.json
Labels: Area: Build System

#13975 Card: Fixing focus styling
  apps/vr-tests/src/stories/Card.stories.tsx
  change/@uifabric-react-cards-2020-07-09-15-20-23-cardFocus.json
  packages/react-cards/etc/react-cards.api.md
  packages/react-cards/src/components/Card/Card.styles.ts
  packages/react-cards/src/components/Card/Card.types.ts
Labels: AutoMerge, Component: Card

#14016 react-next: update release notes
  change/@fluentui-react-next-2020-07-13-15-50-02-xgao-react-next-release-notes.json
  packages/react-next/release.md
Labels: Fluent UI v8

#14015 Codemods: Maybe's functions weren't correctly bound to the object. Also add in test
  change/@fluentui-codemods-2020-07-13-15-24-23-fix-maybe.json
  packages/codemods/src/maybe.ts
  packages/codemods/src/modRunner/maybe.test.ts
Labels: AutoMerge

#14020 fix(Form): small styles changes
  packages/fluentui/react-northstar/src/components/Form/FormCheckbox.tsx
  packages/fluentui/react-northstar/src/components/Form/FormRadioGroup.tsx
  packages/fluentui/react-northstar/src/components/Form/FormSlider.tsx
  packages/fluentui/react-northstar/src/themes/teams/componentVariables.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Form/formFieldStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Form/formFieldVariables.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Form/formLabelStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Form/formLabelVariables.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Form/formMessageStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Form/formMessageVariables.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Form/formStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Form/formVariables.tsx
  packages/fluentui/react-northstar/src/themes/teams/components/Input/inputLabelStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Input/inputLabelVariables.ts
Labels: Fluent UI v0

#13855 Feat/date picker prototype
  packages/fluentui/CHANGELOG.md
  packages/fluentui/accessibility/src/behaviors/Datepicker/datepickerBehavior.ts
  packages/fluentui/accessibility/src/behaviors/Datepicker/datepickerCalendarBehavior.ts
  packages/fluentui/accessibility/src/behaviors/index.ts
  packages/fluentui/accessibility/test/behaviors/behavior-test.tsx
  packages/fluentui/docs/src/components/Sidebar/Sidebar.tsx
  packages/fluentui/docs/src/examples/components/Datepicker/Types/DatepickerExample.shorthand.tsx
  packages/fluentui/docs/src/examples/components/Datepicker/Types/index.tsx
  packages/fluentui/docs/src/examples/components/Datepicker/index.tsx
  packages/fluentui/docs/src/routes.tsx
  packages/fluentui/docs/tsconfig.json
  packages/fluentui/react-northstar/package.json
  packages/fluentui/react-northstar/src/components/Datepicker/Datepicker.tsx
  packages/fluentui/react-northstar/src/components/Datepicker/DatepickerCalendar.tsx
  packages/fluentui/react-northstar/src/index.ts
  packages/fluentui/react-northstar/src/themes/teams/componentStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/componentVariables.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Datepicker/datepickerStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Datepicker/datepickerVariables.ts
  packages/fluentui/react-northstar/test/specs/components/Datepicker/Datepicker-test.tsx
  packages/fluentui/react-northstar/test/specs/components/Datepicker/DatepickerCalendar-test.tsx
Labels: AutoMerge, Fluent UI v0, PR: Possible Perf Regression :snail:

#14007 chore: use Babel plugins to annotate pure calls
  packages/fluentui/react-component-event-listener/package.json
  packages/fluentui/react-component-event-listener/src/EventListener.ts
  packages/fluentui/react-component-ref/package.json
  packages/fluentui/react-component-ref/src/Ref.tsx
  packages/fluentui/react-component-ref/src/RefFindNode.tsx
  packages/fluentui/react-component-ref/src/RefForward.tsx
  packages/fluentui/react-component-ref/src/index.ts
  packages/fluentui/react-component-ref/src/isRefObject.ts
  packages/fluentui/react-component-ref/src/types.ts
  packages/fluentui/react-component-ref/src/utils.ts
  packages/fluentui/react-northstar/src/utils/commonPropTypes.ts
  packages/fluentui/react-northstar/src/utils/index.ts
  packages/fluentui/react-northstar/src/utils/whatInput.ts
  scripts/babel/index.js
  scripts/package.json
  yarn.lock
Labels: Area: Build System, Fluent UI v0

#12956 Adding Headset Icon
  change/@uifabric-react-hooks-2020-07-14-15-24-31-jaswu-feature-headset-icon.json
  packages/fluentui/CHANGELOG.md
  packages/fluentui/accessibility/src/behaviors/Datepicker/datepickerBehavior.ts
  packages/fluentui/accessibility/src/behaviors/Datepicker/datepickerCalendarBehavior.ts
  packages/fluentui/react-icons-northstar/src/components/HeadsetIcon.tsx
  packages/fluentui/react-icons-northstar/src/index.ts
  packages/fluentui/react-northstar/src/components/Datepicker/Datepicker.tsx
  packages/fluentui/react-northstar/src/components/Datepicker/DatepickerCalendar.tsx
  packages/react-hooks/README.md
Labels: Fluent UI v0

#14023 Chore(Splitbutton): Fix docsite example
  packages/fluentui/CHANGELOG.md
  packages/fluentui/docs/src/examples/components/SplitButton/Slots/SplitButtonToggleButtonExample.shorthand.tsx
Labels: Fluent UI v0

#13966 Use Teams logo as TeamsIcon
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-icons-northstar/src/components/ContactGroupIcon.tsx
  packages/fluentui/react-icons-northstar/src/components/TeamsIcon.tsx
  packages/fluentui/react-icons-northstar/src/index.ts
Labels: Fluent UI v0

#13908 Allow overriding ContextualMenu's internal List's role
  change/office-ui-fabric-react-2020-07-02-14-53-01-contextual-menu-list-role.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/ContextualMenu/ContextualMenu.base.tsx
  packages/office-ui-fabric-react/src/components/ContextualMenu/ContextualMenu.test.tsx
  packages/office-ui-fabric-react/src/components/ContextualMenu/ContextualMenu.types.ts
Labels: Area: Accessibility, AutoMerge, Component: ContextualMenu, PR: API Modified

#13994 ESLint: add faster max-len rule
  apps/fabric-website/src/pages/Controls/ButtonPage/ButtonPage.tsx
  apps/fabric-website/src/pages/Controls/LinkPage/LinkPage.tsx
  apps/fabric-website/src/pages/Controls/PersonaPage/PersonaPage.tsx
  apps/fabric-website/src/pages/Controls/SeparatorPage/SeparatorPage.tsx
  apps/fabric-website/src/pages/Controls/TextPage/TextPage.tsx
  apps/vr-tests/src/stories/Checkbox.stories.tsx
  apps/vr-tests/src/stories/CheckboxNext.stories.tsx
  apps/vr-tests/src/stories/GroupedList.stories.tsx
  apps/vr-tests/src/stories/List.stories.tsx
  apps/vr-tests/src/stories/MessageBar.stories.tsx
  change/@fluentui-eslint-plugin-2020-07-13-12-23-52-eslint-max-len.json
  change/@fluentui-react-next-2020-07-13-12-23-52-eslint-max-len.json
  change/@uifabric-azure-themes-2020-07-13-12-23-52-eslint-max-len.json
  change/@uifabric-example-app-base-2020-07-13-12-23-52-eslint-max-len.json
  change/@uifabric-fabric-website-2020-07-13-12-23-52-eslint-max-len.json
  change/@uifabric-migration-2020-07-13-12-23-52-eslint-max-len.json
  change/@uifabric-tsx-editor-2020-07-13-12-23-52-eslint-max-len.json
  change/@uifabric-utilities-2020-07-13-12-23-52-eslint-max-len.json
  change/office-ui-fabric-react-2020-07-13-12-23-52-eslint-max-len.json
  packages/azure-themes/src/azure/Constants.ts
  packages/eslint-plugin/.eslintrc.json
  packages/eslint-plugin/README.md
  packages/eslint-plugin/package.json
  packages/eslint-plugin/src/configs/react.js
  packages/eslint-plugin/src/index.js
  packages/eslint-plugin/src/rules/max-len.js
  packages/example-app-base/src/components/ComponentPage/ComponentPage.tsx
  packages/migration/tsconfig.json
  packages/office-ui-fabric-react/src/components/CommandBar/examples/CommandBar.CommandBarButtonAs.Example.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/ShimmeredDetailsList.styles.ts
  packages/office-ui-fabric-react/src/components/Facepile/Facepile.test.tsx
  packages/office-ui-fabric-react/src/components/GroupedList/GroupedList.test.tsx
  packages/office-ui-fabric-react/src/components/KeytipLayer/KeytipLayer.test.tsx
  packages/office-ui-fabric-react/src/components/ResizeGroup/ResizeGroup.test.tsx
  packages/office-ui-fabric-react/src/components/Stack/StackUtils.test.ts
  packages/office-ui-fabric-react/src/utilities/keytips/KeytipManager.test.tsx
  packages/react-next/src/components/ResizeGroup/ResizeGroup.test.tsx
  packages/tsx-editor/src/imports.test.ts
  packages/utilities/src/initials.ts
  packages/utilities/src/osDetector.test.ts
Labels: Area: Build System

#13627 Fix Picker action button screen reader issue by updating activedescendant
  change/office-ui-fabric-react-2020-06-16-12-21-54-picker-actions-a11y.json
  packages/office-ui-fabric-react/src/components/pickers/BasePicker.test.tsx
  packages/office-ui-fabric-react/src/components/pickers/BasePicker.tsx
  packages/office-ui-fabric-react/src/components/pickers/Suggestions/Suggestions.tsx
Labels: Area: Accessibility, Component: Pickers, Component: TagPicker

#13893 Adding CodeSandbox next/northstar templates
  .codesandbox/ci.json
  apps/codesandbox-react-next-template/.eslintrc.json
  apps/codesandbox-react-next-template/just.config.ts
  apps/codesandbox-react-next-template/package.json
  apps/codesandbox-react-next-template/src/index.tsx
  apps/codesandbox-react-next-template/tsconfig.json
  apps/codesandbox-react-northstar-template/.eslintrc.json
  apps/codesandbox-react-northstar-template/just.config.ts
  apps/codesandbox-react-northstar-template/package.json
  apps/codesandbox-react-northstar-template/src/index.tsx
  apps/codesandbox-react-northstar-template/tsconfig.json
Labels: AutoMerge

#14019 Legends: Remove tab stop on legends for data viz
  change/@uifabric-charting-2020-07-14-11-32-27-user-v-gorraj-Bug_12428.json
  packages/charting/src/components/Legends/Legends.base.tsx
  packages/charting/src/components/VerticalBarChart/__snapshots__/VerticalBarChart.test.tsx.snap
Labels: Package: charting

#14044 fix(FocusZone): fix EventListener leak (v0)
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-bindings/src/FocusZone/FocusZone.tsx
  packages/fluentui/react-bindings/test/FocusZone/FocusZone-EventHandler-test.tsx
Labels: Fluent UI v0

#14038 chart hover card content component wrapped in styled component
  change/@uifabric-charting-2020-07-15-12-11-05-user-v-sivsar-CalloutUSeTheming.json
  packages/charting/src/utilities/ChartHoverCard/ChartHoverCard.base.tsx
  packages/charting/src/utilities/ChartHoverCard/ChartHoverCard.styles.ts
  packages/charting/src/utilities/ChartHoverCard/ChartHoverCard.tsx
  packages/charting/src/utilities/ChartHoverCard/ChartHoverCard.types.ts
Labels: Package: charting

#13992 Calendar: Fix onBlur event firing on every date click
  change/office-ui-fabric-react-2020-07-10-15-14-16-a11y-calendar.json
  packages/office-ui-fabric-react/src/components/Calendar/Calendar.tsx
  packages/office-ui-fabric-react/src/components/Calendar/__snapshots__/Calendar.test.tsx.snap
Labels: Component: Calendar, Priority 2: Normal

#14032 Calendar accessibility fixes
  change/@uifabric-date-time-2020-07-14-17-24-29-lorejoh12-calendarAccessibilityFixes.json
  change/office-ui-fabric-react-2020-07-15-12-29-29-lorejoh12-calendarAccessibilityFixes.json
  packages/date-time/src/components/Calendar/CalendarDay/CalendarDay.base.tsx
  packages/date-time/src/components/Calendar/CalendarPicker/CalendarPicker.styles.ts
  packages/date-time/src/components/CalendarDayGrid/CalendarDayGrid.styles.ts
  packages/date-time/src/components/DatePicker/DatePicker.base.tsx
  packages/office-ui-fabric-react/src/components/Calendar/Calendar.scss
Labels: Area: Accessibility, Area: Narrator, Component: DatePicker, Package: date-time, Priority 2: Normal

#13689 Updating SpinButton to a function component within React-Next
  apps/perf-test/src/scenarios/SpinButton.tsx
  apps/perf-test/src/scenarios/SpinButtonNext.tsx
  apps/vr-tests/src/stories/SpinButtonNext.stories.tsx
  change/@fluentui-react-next-2020-04-30-15-57-11-feat-spin-button.json
  change/@fluentui-react-next-2020-06-23-09-20-26-react-conformance.json
  change/@uifabric-react-hooks-2020-06-18-12-27-30-feat-updating-spin-button.json
  change/office-ui-fabric-react-2020-06-23-09-20-26-react-conformance.json
  packages/react-hooks/src/index.ts
  packages/react-next/etc/react-next.api.md
  packages/react-next/release.md
  packages/react-next/src/components/SpinButton/SpinButton.base.tsx
  packages/react-next/src/components/SpinButton/SpinButton.classNames.ts
  packages/react-next/src/components/SpinButton/SpinButton.deprecated.test.tsx
  packages/react-next/src/components/SpinButton/SpinButton.styles.ts
  packages/react-next/src/components/SpinButton/SpinButton.test.tsx
  packages/react-next/src/components/SpinButton/SpinButton.tsx
  packages/react-next/src/components/SpinButton/SpinButton.types.ts
  packages/react-next/src/components/SpinButton/__snapshots__/SpinButton.test.tsx.snap
Labels: Fluent UI v8, PR: API Modified, PR: Possible Perf Regression :snail:

#14050 FocusZone: Fix onKeyDownCapture event listener leak
  change/office-ui-fabric-react-2020-07-15-17-38-30-focusZoneLeak.json
  packages/office-ui-fabric-react/src/components/FocusZone/FocusZone.EventHandler.test.tsx
  packages/office-ui-fabric-react/src/components/FocusZone/FocusZone.tsx
Labels: AutoMerge, Component: FocusZone, Fabric 6

#13982 Charting:Add New Sankey chart to charting package
  change/@uifabric-charting-2020-07-10-11-54-33-user-v-gorraj-PBI_4273565.json
  packages/charting/package.json
  packages/charting/src/SankeyChart.ts
  packages/charting/src/components/SankeyChart/SankeyChart.base.tsx
  packages/charting/src/components/SankeyChart/SankeyChart.styles.ts
  packages/charting/src/components/SankeyChart/SankeyChart.tsx
  packages/charting/src/components/SankeyChart/SankeyChart.types.ts
  packages/charting/src/components/SankeyChart/SankeyChartPage.tsx
  packages/charting/src/components/SankeyChart/examples/SankeyChart.Basic.Example.tsx
  packages/charting/src/components/SankeyChart/index.ts
  packages/charting/src/demo/AppDefinition.tsx
  packages/charting/src/index.ts
  packages/charting/src/types/IDataPoint.ts
  yarn.lock
Labels: Package: charting

#14037 Line chart & Vertical bar chart - high contrast of y axis line styles updated
  change/@uifabric-charting-2020-07-15-12-04-35-user-v-jasha-highContrastYAxisLinesOfChart.json
  packages/charting/src/components/LineChart/LineChart.styles.ts
  packages/charting/src/components/VerticalBarChart/VerticalBarChart.styles.ts
  packages/charting/src/components/VerticalBarChart/__snapshots__/VerticalBarChart.test.tsx.snap
Labels: Package: charting

#14070 Use new service connection in release pipelines
  azure-pipelines.release-fluentui.yml
  azure-pipelines.release.yml
Labels: Area: Build System

#14055 Legend hover updates value inside donut chart circle
  change/@uifabric-charting-2020-07-14-17-46-29-master.json
  packages/charting/src/components/DonutChart/DonutChart.base.tsx
Labels: Package: charting

#14077 Update release service connection name
  azure-pipelines.release-fluentui.yml
  azure-pipelines.release.yml
Labels: Area: Build System

#14075 Panel: pass missing event to onDismiss
  change/office-ui-fabric-react-2020-07-16-17-39-41-xgao-panel-dismiss-event.json
  packages/office-ui-fabric-react/src/components/Panel/Panel.base.tsx
Labels: Component: Panel

#14014 Azure theme style updates across several components
  change/@uifabric-azure-themes-2020-07-13-16-27-36-jackieg-azuretheme.json
  packages/azure-themes/src/azure/AzureColors.ts
  packages/azure-themes/src/azure/AzureThemeDark.ts
  packages/azure-themes/src/azure/AzureThemeLight.ts
  packages/azure-themes/src/azure/IAzureSemanticColors.ts
  packages/azure-themes/src/azure/IExtendedSemanticColors.ts
  packages/azure-themes/src/azure/styles/Breadcrumb.styles.ts
  packages/azure-themes/src/azure/styles/Callout.styles.ts
  packages/azure-themes/src/azure/styles/DatePicker.styles.ts
  packages/azure-themes/src/azure/styles/Dialog.styles.ts
  packages/azure-themes/src/azure/styles/DropDown.styles.ts
  packages/azure-themes/src/azure/styles/Label.styles.ts
  packages/azure-themes/src/azure/styles/Modal.styles.ts
  packages/azure-themes/src/azure/styles/SpinButton.styles.ts
  packages/azure-themes/src/azure/styles/SuggestionsItem.styles.ts
  packages/azure-themes/src/azure/styles/TagPicker.styles.ts
  packages/azure-themes/src/stories/Themes/Themes.tsx
  packages/azure-themes/src/stories/components/commandBar.tsx
  packages/azure-themes/src/stories/components/dateBoundary.tsx
  packages/azure-themes/src/stories/components/detailsList.tsx
  packages/azure-themes/src/stories/components/iconTooltip.tsx
  packages/azure-themes/src/stories/components/tags.tsx
Labels: Package: azure-themes

#13234 Copying Modal to react-next, in preparation for converting to function component
  change/@fluentui-react-next-2020-05-19-16-43-17-feat-modal.json
  packages/react-next/etc/react-next.api.md
  packages/react-next/src/Modal.ts
  packages/react-next/src/components/Modal/Modal.base.tsx
  packages/react-next/src/components/Modal/Modal.doc.tsx
  packages/react-next/src/components/Modal/Modal.styles.ts
  packages/react-next/src/components/Modal/Modal.test.tsx
  packages/react-next/src/components/Modal/Modal.ts
  packages/react-next/src/components/Modal/Modal.types.ts
  packages/react-next/src/components/Modal/__snapshots__/Modal.test.tsx.snap
  packages/react-next/src/components/Modal/docs/ModalA11y.md
  packages/react-next/src/components/Modal/docs/ModalDonts.md
  packages/react-next/src/components/Modal/docs/ModalDos.md
  packages/react-next/src/components/Modal/docs/ModalOverview.md
  packages/react-next/src/components/Modal/examples/Modal.Basic.Example.tsx
  packages/react-next/src/components/Modal/examples/Modal.Modeless.Example.tsx
  packages/react-next/src/components/Modal/index.ts
Labels: AutoMerge, Component: Modal, Fluent UI v8, PR: API Modified

#14092 Removing unnecessary link from website footer
  apps/fabric-website/src/styles/_base.scss
  change/@uifabric-fabric-website-2020-07-17-13-21-23-fix-youtube.json
Labels: Area: Website

#14078 Re-enable editor with better error handling
  change/@uifabric-example-app-base-2020-07-16-19-30-18-enable-editor.json
  change/@uifabric-tsx-editor-2020-07-16-19-30-18-enable-editor.json
  packages/example-app-base/src/components/ExampleCard/ExampleCard.tsx
  packages/tsx-editor/src/components/EditorErrorHandler.tsx
Labels: Area: Website, AutoMerge, Package: tsx-editor

#14054 Move useRefEffect hook to the react-hooks package
  change/@fluentui-react-next-2020-07-15-21-26-39-useRefEffect.json
  change/@uifabric-react-hooks-2020-07-15-21-26-39-useRefEffect.json
  packages/react-hooks/README.md
  packages/react-hooks/etc/react-hooks.api.md
  packages/react-hooks/src/index.ts
  packages/react-hooks/src/useRefEffect.test.tsx
  packages/react-hooks/src/useRefEffect.ts
  packages/react-next/src/components/Pivot/Pivot.base.tsx
  packages/react-next/src/components/Pivot/useOverflow.ts
  packages/react-next/src/components/Pivot/useRefEffect.ts
Labels: Fluent UI v8

#14082 Charting: Fix sankey chart dark mode text not visble properly
  change/@uifabric-charting-2020-07-17-14-37-38-master.json
  packages/charting/src/components/SankeyChart/SankeyChart.styles.ts
Labels: Package: charting

#14096 Dialog: VoiceOver / aria-modal fix
  change/office-ui-fabric-react-2020-07-17-16-06-51-dialog-voiceover-bug.json
  packages/office-ui-fabric-react/src/components/Dialog/__snapshots__/Dialog.deprecated.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Modal/Modal.base.tsx
  packages/office-ui-fabric-react/src/components/Modal/__snapshots__/Modal.test.tsx.snap
Labels: Area: Accessibility, Area: VoiceOver, Component: Dialog

#14088 DetailsList: fix exception in DetailsRow when selection is undefined.
  change/office-ui-fabric-react-2020-07-17-09-23-46-xgao-details-row.json
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsRow.base.tsx
Labels: Component: DetailsList

#14093 Conditional for valueInsideDonut
  change/@uifabric-charting-2020-07-19-21-44-37-master.json
  packages/charting/src/components/DonutChart/DonutChart.base.tsx
Labels: Package: charting

#14118 Add aria label to website search box
  apps/fabric-website/src/components/Nav/Nav.tsx
  change/@uifabric-fabric-website-2020-07-20-08-29-43-website-search-aria.json
Labels: Area: Website

#14121 [UnifiedPicker] Fixing the paste logic and updating the example
  change/@uifabric-experiments-2020-07-20-12-34-01-u-nebhatna-fixPasteLogic.json
  packages/experiments/src/components/UnifiedPicker/UnifiedPeoplePicker/examples/UnifiedPeoplePicker.Example.tsx
  packages/experiments/src/components/UnifiedPicker/UnifiedPicker.tsx
Labels: Package: experiments

#14120 fix(UI Builder): load babel before loading the UI Builder
  packages/fluentui/docs/src/components/ComponentDoc/LazyWithBabel.tsx
  packages/fluentui/docs/src/components/ComponentDoc/SourceRender.tsx
  packages/fluentui/docs/src/routes.tsx
Labels: Fluent UI react-northstar

#14097 Start enabling "rules of hooks" lint rules
  apps/perf-test/src/app/useTimer.ts
  change/@fluentui-eslint-plugin-2020-07-17-21-53-53-eslint-hooks.json
  change/@fluentui-react-next-2020-07-17-21-53-53-eslint-hooks.json
  change/@fluentui-react-stylesheets-2020-07-17-21-53-53-eslint-hooks.json
  change/@uifabric-date-time-2020-07-17-21-53-53-eslint-hooks.json
  change/@uifabric-experiments-2020-07-20-10-53-10-eslint-hooks.json
  change/@uifabric-foundation-2020-07-17-21-53-53-eslint-hooks.json
  change/@uifabric-react-hooks-2020-07-17-21-53-53-eslint-hooks.json
  change/@uifabric-tsx-editor-2020-07-17-21-53-53-eslint-hooks.json
  change/@uifabric-utilities-2020-07-17-21-53-53-eslint-hooks.json
  change/office-ui-fabric-react-2020-07-17-21-53-53-eslint-hooks.json
  packages/date-time/.eslintrc.json
  packages/eslint-plugin/package.json
  packages/eslint-plugin/src/configs/react.js
  packages/experiments/.eslintrc.json
  packages/foundation/src/createComponent.tsx
  packages/foundation/src/next/composed.tsx
  packages/lists/.eslintrc.json
  packages/office-ui-fabric-react/src/components/CommandBar/examples/CommandBar.CommandBarButtonAs.Example.tsx
  packages/office-ui-fabric-react/src/components/CommandBar/examples/CommandBar.Lazy.Example.tsx
  packages/office-ui-fabric-react/src/components/ContextualMenu/examples/ContextualMenu.CustomMenuItem.Example.tsx
  packages/office-ui-fabric-react/src/components/ContextualMenu/examples/ContextualMenu.CustomMenuList.Example.tsx
  packages/office-ui-fabric-react/src/components/ContextualMenu/examples/ContextualMenu.Directional.Example.tsx
  packages/office-ui-fabric-react/src/components/Dialog/examples/Dialog.Basic.Example.tsx
  packages/office-ui-fabric-react/src/components/HoverCard/HoverCard.doc.tsx
  packages/office-ui-fabric-react/src/components/HoverCard/docs/HoverCardOverview.md
  packages/office-ui-fabric-react/src/components/HoverCard/examples/HoverCard.Target.Example.tsx
  packages/office-ui-fabric-react/src/components/KeytipData/useKeytipData.ts
  packages/office-ui-fabric-react/src/components/List/examples/List.Grid.Example.tsx
  packages/office-ui-fabric-react/src/components/__snapshots__/HoverCard.Target.Example.tsx.shot
  packages/react-hooks/.eslintrc.json
  packages/react-next/.eslintrc.json
  packages/react-stylesheets/src/StylesheetProvider.tsx
  packages/tsx-editor/src/components/TsxEditor.tsx
  packages/utilities/.eslintrc.json
  yarn.lock
Labels: Area: Build System, PR: Possible Perf Regression :snail:

#14061 feat(Datepicker): Add Calendar navigation
  packages/fluentui/CHANGELOG.md
  packages/fluentui/accessibility/src/behaviors/Datepicker/datepickerCalendarHeaderBehavior.ts
  packages/fluentui/accessibility/src/behaviors/index.ts
  packages/fluentui/accessibility/test/behaviors/behavior-test.tsx
  packages/fluentui/docs/src/components/ComponentPlayground/componentGenerators.tsx
  packages/fluentui/react-northstar/src/components/Datepicker/Datepicker.tsx
  packages/fluentui/react-northstar/src/components/Datepicker/DatepickerCalendar.tsx
  packages/fluentui/react-northstar/src/components/Datepicker/DatepickerCalendarCell.tsx
  packages/fluentui/react-northstar/src/components/Datepicker/DatepickerCalendarHeader.tsx
  packages/fluentui/react-northstar/src/components/Datepicker/DatepickerCalendarHeaderAction.tsx
  packages/fluentui/react-northstar/src/components/Datepicker/DatepickerCalendarHeaderCell.tsx
  packages/fluentui/react-northstar/src/index.ts
  packages/fluentui/react-northstar/src/themes/teams/componentStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/componentVariables.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Datepicker/datepickerCalendarHeaderCellStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Datepicker/datepickerCalendarHeaderCellVariables.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Datepicker/datepickerCalendarHeaderStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Datepicker/datepickerCalendarHeaderVariables.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Datepicker/datepickerCalendarStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Datepicker/datepickerCalendarVariables.ts
  packages/fluentui/react-northstar/test/specs/components/Datepicker/DatepickerCalendarCell-test.tsx
  packages/fluentui/react-northstar/test/specs/components/Datepicker/DatepickerCalendarHeader-test.tsx
  packages/fluentui/react-northstar/test/specs/components/Datepicker/DatepickerCalendarHeaderAction-test.tsx
  packages/fluentui/react-northstar/test/specs/components/Datepicker/DatepickerCalendarHeaderCell-test.tsx
  specs/Datepicker.md
Labels: AutoMerge, Fluent UI react-northstar

#14131 feat: add imperative handle for Popper, remove warnings
  packages/fluentui/docs/src/examples/components/Menu/Visual/MenuExamplePositioningUpdate.shorthand.steps.ts
  packages/fluentui/docs/src/examples/components/Menu/Visual/MenuExamplePositioningUpdate.shorthand.tsx
  packages/fluentui/docs/src/examples/components/Popup/Usage/PopupExampleAsync.shorthand.tsx
  packages/fluentui/react-northstar/src/components/Chat/ChatMessage.tsx
  packages/fluentui/react-northstar/src/components/Dropdown/Dropdown.tsx
  packages/fluentui/react-northstar/src/components/Menu/MenuItem.tsx
  packages/fluentui/react-northstar/src/components/MenuButton/MenuButton.tsx
  packages/fluentui/react-northstar/src/components/Popup/Popup.tsx
  packages/fluentui/react-northstar/src/components/SplitButton/SplitButton.tsx
  packages/fluentui/react-northstar/src/components/Toolbar/ToolbarItem.tsx
  packages/fluentui/react-northstar/src/components/Toolbar/ToolbarMenuItem.tsx
  packages/fluentui/react-northstar/src/components/Tooltip/Tooltip.tsx
  packages/fluentui/react-northstar/src/utils/positioner/Popper.tsx
  packages/fluentui/react-northstar/src/utils/positioner/getPopperPropsFromShorthand.ts
  packages/fluentui/react-northstar/src/utils/positioner/index.ts
  packages/fluentui/react-northstar/src/utils/positioner/partitionPopperPropsFromShorthand.ts
  packages/fluentui/react-northstar/src/utils/positioner/types.ts
  packages/fluentui/react-northstar/test/specs/commonTests/implementsPopperProps.tsx
Labels: Fluent UI react-northstar, PR: Possible Perf Regression :snail:

#14140 Add simple transform functions to change prop values
  change/@fluentui-codemods-2020-07-21-12-39-23-t-dama-prop_utils_simplify_transform_fn.json
  packages/codemods/src/codeMods/tests/mock/dropdown/mDropdownSpreadProps.tsx
  packages/codemods/src/codeMods/tests/utilities/propUtilities.test.ts
  packages/codemods/src/codeMods/types.ts
  packages/codemods/src/codeMods/utilities/helpers/propHelpers.ts
  packages/codemods/src/codeMods/utilities/props.ts
  packages/codemods/src/codeMods/utilities/transforms.ts
Labels: Area: Build System, Package: codemods

#14099 Enable "rules of hooks" lint rules in react-hooks and utilities; hook fixes
  change/@uifabric-react-hooks-2020-07-17-23-16-18-eslint-hooks-utilities.json
  change/@uifabric-utilities-2020-07-17-23-16-18-eslint-hooks-utilities.json
  packages/react-hooks/.eslintrc.json
  packages/react-hooks/README.md
  packages/react-hooks/src/useControllableValue.ts
  packages/react-hooks/src/useForceUpdate.test.tsx
  packages/react-hooks/src/useForceUpdate.ts
  packages/react-hooks/src/useMergedRefs.ts
  packages/react-hooks/src/useOnEvent.ts
  packages/react-hooks/src/useSetInterval.test.tsx
  packages/react-hooks/src/useSetInterval.ts
  packages/react-hooks/src/useSetTimeout.test.tsx
  packages/react-hooks/src/useSetTimeout.ts
  packages/utilities/.eslintrc.json
  packages/utilities/src/styled.tsx
Labels: Area: Build System, AutoMerge, PR: Possible Perf Regression :snail:, Package: react-hooks, Package: utilities

#14146 [Callout] Copy OUFR code to react-next
  change/@fluentui-react-next-2020-07-21-20-26-28-react-next-copy-Callout.json
  packages/react-next/etc/react-next.api.md
  packages/react-next/src/Callout.ts
  packages/react-next/src/components/Callout/Callout.doc.tsx
  packages/react-next/src/components/Callout/Callout.test.tsx
  packages/react-next/src/components/Callout/Callout.tsx
  packages/react-next/src/components/Callout/Callout.types.ts
  packages/react-next/src/components/Callout/CalloutContent.base.tsx
  packages/react-next/src/components/Callout/CalloutContent.styles.ts
  packages/react-next/src/components/Callout/CalloutContent.test.tsx
  packages/react-next/src/components/Callout/CalloutContent.tsx
  packages/react-next/src/components/Callout/FocusTrapCallout.tsx
  packages/react-next/src/components/Callout/FocusTrapCallout.types.ts
  packages/react-next/src/components/Callout/__snapshots__/Callout.test.tsx.snap
  packages/react-next/src/components/Callout/docs/CalloutDonts.md
  packages/react-next/src/components/Callout/docs/CalloutDos.md
  packages/react-next/src/components/Callout/docs/CalloutOverview.md
  packages/react-next/src/components/Callout/examples/Callout.Basic.Example.tsx
  packages/react-next/src/components/Callout/examples/Callout.Cover.Example.tsx
  packages/react-next/src/components/Callout/examples/Callout.Directional.Example.tsx
  packages/react-next/src/components/Callout/examples/Callout.FocusTrap.Example.tsx
  packages/react-next/src/components/Callout/examples/Callout.Status.Example.tsx
  packages/react-next/src/components/Callout/index.ts
  packages/react-next/src/components/Modal/Modal.base.tsx
Labels: Fluent UI v8, PR: API Modified

#14124 PeoplePicker keyboard focus state: Add styles to PeoplePicker to fix keyboard focus state ratio
  change/office-ui-fabric-react-2020-07-20-13-52-07-a11y-messagebar.json
  packages/office-ui-fabric-react/src/components/pickers/Suggestions/SuggestionsItem.styles.ts
  packages/office-ui-fabric-react/src/components/pickers/Suggestions/__snapshots__/Suggestions.test.tsx.snap
Labels: Area: Accessibility, Component: PeoplePicker, Component: Pickers

#14101 Maybe: Improve chainability, type checking and move to being class based.
  change/@fluentui-codemods-2020-07-19-18-16-03-maybe-to-monads.json
  packages/codemods/src/codeMods/tests/utilities/propUtilities.test.ts
  packages/codemods/src/codeMods/utilities/helpers/propHelpers.ts
  packages/codemods/src/codeMods/utilities/props.ts
  packages/codemods/src/codeMods/utilities/transforms.ts
  packages/codemods/src/command.ts
  packages/codemods/src/helpers/chainable.ts
  packages/codemods/src/helpers/mappable.ts
  packages/codemods/src/helpers/maybe.ts
  packages/codemods/src/helpers/tests/maybe.test.ts
  packages/codemods/src/maybe.ts
  packages/codemods/src/modRunner/modFilter.ts
  packages/codemods/src/modRunner/runnerUtilities.ts
  packages/codemods/src/modRunner/tests/filters.test.ts
  packages/codemods/src/modRunner/tests/modRunner.test.ts
Labels: Area: Build System, AutoMerge, Package: codemods

#14150 update codesandbox templates' tsconfig.json
  apps/codesandbox-react-next-template/tsconfig.json
  apps/codesandbox-react-northstar-template/tsconfig.json
  apps/codesandbox-react-template/tsconfig.json
Labels: Area: Build System, AutoMerge

#14161 Charting: Fix Line chart render with empty array of data + a event annotation, the chart throws a strange formatting exception
  change/@uifabric-charting-2020-07-22-13-17-45-user-v-gorraj-Bug_4316232.json
  packages/charting/src/components/LineChart/LineChart.base.tsx
Labels: Package: charting

#14090 UnifiedPicker accessibility fixes
  change/@uifabric-experiments-2020-07-17-10-04-45-unifiedpickeraccessibilityfixes.json
  packages/experiments/src/components/SelectedItemsList/SelectedItemsList.test.tsx
  packages/experiments/src/components/SelectedItemsList/SelectedItemsList.tsx
  packages/experiments/src/components/SelectedItemsList/SelectedPeopleList/__snapshots__/SelectedPeopleList.test.tsx.snap
  packages/experiments/src/components/UnifiedPicker/UnifiedPeoplePicker/__snapshots__/UnifiedPeoplePicker.test.tsx.snap
  packages/experiments/src/components/UnifiedPicker/UnifiedPeoplePicker/examples/UnifiedPeoplePicker.Example.tsx
  packages/experiments/src/components/UnifiedPicker/UnifiedPicker.tsx
  packages/experiments/src/components/UnifiedPicker/__snapshots__/UnifiedPicker.test.tsx.snap
Labels: Package: experiments

#14073 fix aria labels in WeeklyDayPicker
  change/@uifabric-date-time-2020-07-16-16-00-27-lorejoh12-fixAriaLabelsWeeklyDayPicker.json
  packages/date-time/etc/date-time.api.md
  packages/date-time/src/components/WeeklyDayPicker/WeeklyDayPicker.base.tsx
  packages/date-time/src/components/WeeklyDayPicker/defaults.ts
  packages/date-time/src/components/WeeklyDayPicker/examples/WeeklyDayPicker.Inline.Example.tsx
  packages/date-time/src/components/WeeklyDayPicker/examples/WeeklyDayPicker.Inline.Expandable.Example.tsx
  packages/date-time/src/components/WeeklyDayPicker/index.ts
Labels: PR: API Modified, Package: date-time

#14152 T-dama/Added More Transforms
  change/@fluentui-codemods-2020-07-22-12-48-03-t-dama-moreTransforms.json
  packages/codemods/src/codeMods/tests/mock/dropdown/mDropdownProps.tsx
  packages/codemods/src/codeMods/tests/utilities/propUtilities.test.ts
  packages/codemods/src/codeMods/utilities/transforms.ts
Labels: Area: Build System, Package: codemods

#14100 Enable "rules of hooks" lint rules in experiments
  change/@uifabric-experiments-2020-07-17-23-30-30-eslint-hooks-experiments.json
  packages/experiments/.eslintrc.json
  packages/experiments/package.json
  packages/experiments/src/components/Button/MenuButton/MenuButton.state.ts
  packages/experiments/src/components/CollapsibleSection/CollapsibleSection.state.tsx
  packages/experiments/src/components/SelectedItemsList/Items/CopyableItem.tsx
  packages/experiments/src/components/SelectedItemsList/Items/EditableItem.tsx
  packages/experiments/src/components/SelectedItemsList/Items/ItemWithContextMenu.tsx
  packages/experiments/src/components/SelectedItemsList/Items/TriggerOnContextMenu.tsx
  packages/experiments/src/components/SelectedItemsList/SelectedItemsList.tsx
  packages/experiments/src/components/SelectedItemsList/SelectedPeopleList/Items/SelectedPersona.tsx
  packages/experiments/src/components/Toggle/Toggle.state.ts
  packages/experiments/src/components/UnifiedPicker/UnifiedPeoplePicker/UnifiedPeoplePicker.tsx
Labels: Area: Build System, Package: experiments

#14137 Grouped vertical bar chart method calling in did mount.
  change/@uifabric-charting-2020-07-21-20-23-28-user-v-jasha-groupedChtRefreshIssue.json
  packages/charting/src/components/GroupedVerticalBarChart/GroupedVerticalBarChart.base.tsx
  packages/charting/src/components/VerticalBarChart/VerticalBarChart.base.tsx
  packages/charting/src/components/VerticalBarChart/__snapshots__/VerticalBarChart.test.tsx.snap
  packages/charting/src/components/VerticalStackedBarChart/VerticalStackedBarChart.base.tsx
Labels: Package: charting

#14155 Create @fluentui/common-styles package, for styling files shared between components
  change/@fluentui-common-styles-2020-07-21-18-01-09-styles-package.json
  change/@fluentui-react-next-2020-07-21-18-01-09-styles-package.json
  change/@fluentui-react-tabs-2020-07-21-18-01-09-styles-package.json
  packages/common-styles/.eslintrc.json
  packages/common-styles/.npmignore
  packages/common-styles/.npmrc
  packages/common-styles/LICENSE
  packages/common-styles/README.md
  packages/common-styles/config/pre-copy.json
  packages/common-styles/just.config.ts
  packages/common-styles/package.json
  packages/common-styles/src/ThemingSass.scss
  packages/common-styles/src/_common.scss
  packages/common-styles/src/_constants.scss
  packages/common-styles/src/_effects.scss
  packages/common-styles/src/_focusBorder.scss
  packages/common-styles/src/_highContrast.scss
  packages/common-styles/src/_i18n.scss
  packages/common-styles/src/_legacyThemePalette.scss
  packages/common-styles/src/_semanticSlots.scss
  packages/common-styles/src/_themeCssVariables.scss
  packages/common-styles/src/_themeOverrides.scss
  packages/common-styles/src/_themeVariables.scss
  packages/react-next/package.json
  packages/react-next/src/components/Checkbox/Checkbox.scss
  packages/react-next/src/components/Image/ImagePage.global.scss
  packages/react-next/src/components/Link/Link.scss
  packages/react-next/src/components/OverflowSet/OverflowSet.scss
  packages/react-next/src/components/SelectedItemsList/SelectedPeopleList/Items/ExtendedSelectedItem.scss
  packages/react-next/src/components/Slider/Slider.scss
  packages/react-next/src/components/TextField/examples/TextField.Styled.Example.scss
  packages/react-next/src/components/Toggle/Toggle.scss
  packages/react-tabs/package.json
  packages/react-tabs/src/common/_common.scss
  packages/react-tabs/src/common/_constants.scss
  packages/react-tabs/src/common/_focusBorder.scss
  packages/react-tabs/src/common/_highContrast.scss
  packages/react-tabs/src/common/_i18n.scss
  packages/react-tabs/src/common/_semanticSlots.scss
  packages/react-tabs/src/common/_themeCssVariables.scss
  packages/react-tabs/src/common/_themeOverrides.scss
  packages/react-tabs/src/components/Pivot/Pivot.scss
Labels: Fluent UI v8

#14172 Codemods/renamePropInSpread abstract out logic and improve documentation
  change/@fluentui-codemods-2020-07-23-11-46-38-t-dama-abstract_spread_case.json
  packages/codemods/src/codeMods/utilities/helpers/propHelpers.ts
Labels: Area: Build System, Package: codemods

#14176 Dropdown: fix high contrast styles in disabled state
  change/@fluentui-react-next-2020-07-23-02-46-39-a11y-dropdown.json
  change/office-ui-fabric-react-2020-07-23-02-05-49-a11y-dropdown.json
  packages/office-ui-fabric-react/src/components/Dropdown/Dropdown.styles.ts
  packages/office-ui-fabric-react/src/components/__snapshots__/ChoiceGroup.Custom.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Dropdown.Basic.Example.tsx.shot
  packages/react-next/src/components/Dropdown/Dropdown.styles.ts
Labels: Component: Dropdown, Fluent UI v8

#13744 Scrollable Pane: Fix pointer events
  change/office-ui-fabric-react-2020-06-22-14-24-21-edwl-2020-06-fixScrollablePaneClick.json
  packages/office-ui-fabric-react/src/components/ScrollablePane/ScrollablePane.styles.ts
  packages/office-ui-fabric-react/src/components/ScrollablePane/__snapshots__/ScrollablePane.test.tsx.snap
Labels: Component: ScrollablePane, Component: Sticky, Component: StickyHeader

#14184 fix(dropdown): event propagation
  packages/fluentui/CHANGELOG.md
  packages/fluentui/e2e/tests/dialogWithDropdown-test.ts
  packages/fluentui/react-northstar/src/components/Dropdown/Dropdown.tsx
Labels: AutoMerge, Fluent UI react-northstar

#14179 fix(Popup): allow close controlled popup when have hover trigger
  packages/fluentui/CHANGELOG.md
  packages/fluentui/e2e/e2eApi.ts
  packages/fluentui/e2e/tests/popupWithCloseInContent-example.tsx
  packages/fluentui/e2e/tests/popupWithCloseInContent-test.ts
  packages/fluentui/react-northstar/src/components/Popup/Popup.tsx
Labels: Fluent UI react-northstar

#14190 Fix choice group's disabled style for Azure theme
  change/@uifabric-azure-themes-2020-07-23-20-13-33-hyoshi-choice.json
  packages/azure-themes/src/azure/styles/ChoiceGroupOptions.styles.ts
Labels: Package: azure-themes

#14195 Linechart : Fix issue The tool tip seems to display all the data in same day, instead of the point where my mouse hovers.
  change/@uifabric-charting-2020-07-24-15-51-19-user-v-gorraj-Bug_4323737.json
  packages/charting/src/components/AreaChart/AreaChart.base.tsx
  packages/charting/src/components/LineChart/LineChart.base.tsx
  packages/charting/src/components/LineChart/examples/LineChart.Basic.Example.tsx
  packages/charting/src/utilities/utilities.ts
Labels: Package: charting

#14187 Move ThemeProvider from react-next to react-theme-provider's compat folder
  change/@fluentui-react-next-2020-07-23-14-32-35-compat-theme-provider.json
  change/@fluentui-react-tabs-2020-07-23-14-32-35-compat-theme-provider.json
  change/@fluentui-react-theme-provider-2020-07-23-14-32-35-compat-theme-provider.json
  packages/react-next/etc/react-next.api.md
  packages/react-next/src/Styling.ts
  packages/react-next/src/Styling/index.ts
  packages/react-next/src/Utilities/Customizer.tsx
  packages/react-next/src/components/Checkbox/useCheckboxClasses.tsx
  packages/react-tabs/.storybook/decorators/withThemeProvider.js
  packages/react-tabs/README.md
  packages/react-tabs/etc/react-tabs.api.md
  packages/react-tabs/package.json
  packages/react-tabs/src/index.ts
  packages/react-theme-provider/package.json
  packages/react-theme-provider/src/compat/ThemeProvider.test.tsx
  packages/react-theme-provider/src/compat/ThemeProvider.tsx
  packages/react-theme-provider/src/compat/convertLegacyTheme.ts
  packages/react-theme-provider/src/compat/index.ts
  packages/react-theme-provider/src/compat/useGlobalClassNames.ts
Labels: Component: Pivot, Fluent UI v8, PR: API Modified

#14189 Update react-button to use common-styles
  change/@fluentui-common-styles-2020-07-23-17-24-25-common-styles-button.json
  change/@fluentui-react-button-2020-07-23-17-24-25-common-styles-button.json
  packages/common-styles/src/_focusBorder.scss
  packages/react-button/package.json
  packages/react-button/src/common/_common.scss
  packages/react-button/src/common/_focusBorder.scss
  packages/react-button/src/common/_semanticSlots.scss
  packages/react-button/src/components/Button/Button.scss
Labels: Component: Button, Fluent UI v8

#14202 @fluentui/react: add missing dist/sass and dist/css content
  change/@fluentui-react-2020-07-24-12-26-30-xgao-react-package.json
  packages/react/config/pre-copy.json
Labels: Area: Build System

#13939 React conformance - Adding wrappers to packages
  change/@fluentui-react-next-2020-07-10-13-56-08-react-conformance.json
  change/office-ui-fabric-react-2020-07-10-13-56-08-react-conformance.json
  package.json
  packages/fluentui/react-northstar/test/specs/components/Accordion/AccordionContent-test.tsx
  packages/fluentui/react-northstar/test/specs/components/Menu/MenuItem-test.tsx
  packages/fluentui/react-northstar/test/specs/components/Slider/Slider-test.tsx
  packages/fluentui/react-northstar/test/utils/index.ts
  packages/fluentui/react-northstar/test/utils/sharedIsConformant.tsx
  packages/office-ui-fabric-react/package.json
  packages/office-ui-fabric-react/src/common/sharedIsConformant.ts
  packages/office-ui-fabric-react/src/components/Slider/Slider.test.tsx
  packages/office-ui-fabric-react/src/components/Stack/Stack.test.tsx
  packages/react-conformance/package.json
  packages/react-conformance/src/defaultTests.tsx
  packages/react-conformance/src/isConformant.ts
  packages/react-conformance/src/types.ts
  packages/react-conformance/src/utils/getComponent.tsx
  packages/react-conformance/src/utils/index.ts
  packages/react-conformance/src/utils/merge.test.tsx
  packages/react-conformance/src/utils/merge.tsx
  packages/react-conformance/src/utils/parseDocblock.ts
  packages/react-next/package.json
  packages/react-next/src/common/sharedIsConformant.ts
  packages/react-next/src/components/Slider/Slider.test.tsx
  yarn.lock
Labels: Area: Build System, Area: Testing

#14209 chore(Builder): immutable tree
  packages/fluentui/react-builder/package.json
  packages/fluentui/react-builder/src/components/Canvas.tsx
  packages/fluentui/react-builder/src/components/Designer.tsx
  packages/fluentui/react-builder/src/components/ErrorBoundary.tsx
  packages/fluentui/react-builder/src/components/Toolbar.tsx
  packages/fluentui/react-builder/todo.md
  yarn.lock
Labels: Fluent UI react-northstar

#14219 Documentation fixes ResponsiveMode `Large` and `Small` to `large` and `small`
  packages/react-next/src/components/Dropdown/Dropdown.types.ts
  packages/react-next/src/components/Dropdown/docs/DropdownOverview.md
Labels: Component: Dropdown, Fluent UI v8

#14210 feat(builder): add a11y props for all components in the builder
  packages/fluentui/react-builder/src/components/Knobs.tsx
Labels: Fluent UI react-northstar

#14223 feat(builder): download/upload
  packages/fluentui/react-builder/src/components/Designer.tsx
  packages/fluentui/react-builder/src/components/GetShareableLink.tsx
  packages/fluentui/react-builder/src/components/Toolbar.tsx
  packages/react-next/src/components/Dropdown/Dropdown.types.ts
  packages/react-next/src/components/Dropdown/docs/DropdownOverview.md
Labels: Fluent UI react-northstar

#14220 Copying TeachingBubble to react-next, in preparation for converting to a function component
  change/@fluentui-react-next-2020-07-27-18-44-10-feat-moving-teachingBubble.json
  packages/react-next/src/components/TeachingBubble/TeachingBubble.base.tsx
  packages/react-next/src/components/TeachingBubble/TeachingBubble.deprecated.test.tsx
  packages/react-next/src/components/TeachingBubble/TeachingBubble.doc.tsx
  packages/react-next/src/components/TeachingBubble/TeachingBubble.styles.ts
  packages/react-next/src/components/TeachingBubble/TeachingBubble.test.tsx
  packages/react-next/src/components/TeachingBubble/TeachingBubble.ts
  packages/react-next/src/components/TeachingBubble/TeachingBubble.types.ts
  packages/react-next/src/components/TeachingBubble/TeachingBubbleContent.base.tsx
  packages/react-next/src/components/TeachingBubble/TeachingBubbleContent.ts
  packages/react-next/src/components/TeachingBubble/__snapshots__/TeachingBubble.deprecated.test.tsx.snap
  packages/react-next/src/components/TeachingBubble/__snapshots__/TeachingBubble.test.tsx.snap
  packages/react-next/src/components/TeachingBubble/docs/TeachingBubbleBestPractices.md
  packages/react-next/src/components/TeachingBubble/docs/TeachingBubbleDonts.md
  packages/react-next/src/components/TeachingBubble/docs/TeachingBubbleDos.md
  packages/react-next/src/components/TeachingBubble/docs/TeachingBubbleOverview.md
  packages/react-next/src/components/TeachingBubble/examples/TeachingBubble.Basic.Example.tsx
  packages/react-next/src/components/TeachingBubble/examples/TeachingBubble.Condensed.Example.tsx
  packages/react-next/src/components/TeachingBubble/examples/TeachingBubble.Illustration.Example.tsx
  packages/react-next/src/components/TeachingBubble/examples/TeachingBubble.MultiStep.Example.tsx
  packages/react-next/src/components/TeachingBubble/examples/TeachingBubble.SmallHeadline.Example.tsx
  packages/react-next/src/components/TeachingBubble/examples/TeachingBubble.Wide.Example.tsx
  packages/react-next/src/components/TeachingBubble/examples/TeachingBubble.WideIllustration.Example.tsx
  packages/react-next/src/components/TeachingBubble/index.ts
Labels: Component: TeachingBubble, Fluent UI v8

#14217 Updating existing react-next examples to use the newest ones found inside of office-ui-fabric-react
  change/@fluentui-react-next-2020-07-27-12-32-04-updating-react-next-examples.json
  packages/react-next/src/components/Checkbox/examples/Checkbox.Other.Example.tsx
  packages/react-next/src/components/FocusTrapZone/examples/FocusTrapZone.Nested.Example.tsx
  packages/react-next/src/components/Keytip/examples/Keytips.CommandBar.Example.tsx
  packages/react-next/src/components/ResizeGroup/examples/ResizeGroup.OverflowSet.Example.tsx
  packages/react-next/src/components/ResizeGroup/examples/ResizeGroup.VerticalOverflowSet.Example.tsx
  packages/react-next/src/components/Slider/examples/Slider.Basic.Example.tsx
  packages/react-next/src/components/Slider/examples/Slider.Vertical.Example.tsx
Labels: Fluent UI v8

#14148 Add general comment about refs in function components
  change/@fluentui-react-next-2020-07-21-21-40-07-function-react-next-release.json
  packages/react-next/RELEASE_NOTES.md
Labels: Fluent UI v8

#14222 Hackathon: Make UI Builder a bit more accessible
  packages/fluentui/react-builder/src/components/Canvas.tsx
  packages/fluentui/react-builder/src/components/ComponentTree.tsx
  packages/fluentui/react-builder/src/components/DebugButtons.tsx
  packages/fluentui/react-builder/src/components/Designer.tsx
  packages/fluentui/react-builder/src/components/InsertComponent.tsx
  packages/fluentui/react-builder/src/components/List.tsx
  packages/fluentui/react-builder/src/components/ReaderText.tsx
  packages/fluentui/react-builder/src/components/Toolbar.tsx
  packages/fluentui/react-builder/src/config.tsx
Labels: Fluent UI react-northstar

#14213 Grouped components in left-side menu into a Tree
  packages/fluentui/react-builder/src/components/List.tsx
  packages/fluentui/react-builder/src/config.tsx
Labels: Fluent UI react-northstar

#14193 High contrast light + dark themes
  change/@uifabric-azure-themes-2020-07-24-01-28-19-jackieg-high-contrast-themes.json
  packages/azure-themes/src/AzureCustomizations.ts
  packages/azure-themes/src/azure/AzureColors.ts
  packages/azure-themes/src/azure/AzureThemeDark.ts
  packages/azure-themes/src/azure/AzureThemeHighContrastDark.ts
  packages/azure-themes/src/azure/AzureThemeHighContrastLight.ts
  packages/azure-themes/src/azure/AzureThemeLight.ts
  packages/azure-themes/src/azure/IAzureSemanticColors.ts
  packages/azure-themes/src/azure/IExtendedSemanticColors.ts
  packages/azure-themes/src/azure/index.ts
  packages/azure-themes/src/azure/styles/ActionButton.styles.ts
  packages/azure-themes/src/azure/styles/Checkbox.styles.ts
  packages/azure-themes/src/azure/styles/ChoiceGroupOptions.styles.ts
  packages/azure-themes/src/azure/styles/ComboBox.styles.ts
  packages/azure-themes/src/azure/styles/CommandBarButton.styles.ts
  packages/azure-themes/src/azure/styles/CompoundButton.styles.ts
  packages/azure-themes/src/azure/styles/ContextualMenu.styles.ts
  packages/azure-themes/src/azure/styles/DatePicker.styles.ts
  packages/azure-themes/src/azure/styles/DefaultButton.styles.ts
  packages/azure-themes/src/azure/styles/DetailsList.styles.ts
  packages/azure-themes/src/azure/styles/DropDown.styles.ts
  packages/azure-themes/src/azure/styles/IconButton.styles.ts
  packages/azure-themes/src/azure/styles/Link.styles.ts
  packages/azure-themes/src/azure/styles/Pivot.styles.ts
  packages/azure-themes/src/azure/styles/PrimaryButton.styles.ts
  packages/azure-themes/src/azure/styles/SearchBox.styles.ts
  packages/azure-themes/src/azure/styles/TextField.styles.ts
  packages/azure-themes/src/azure/styles/Toggle.styles.ts
  packages/azure-themes/src/stories/Themes/Themes.tsx
  packages/azure-themes/src/stories/components/Pivots.tsx
  packages/azure-themes/src/stories/components/actionButton.tsx
  packages/azure-themes/src/stories/components/dateBoundary.tsx
  packages/azure-themes/src/stories/components/detailsList.tsx
Labels: Package: azure-themes

#14139 Syntax highlighting a11y
  change/@uifabric-example-app-base-2020-07-21-09-34-50-syntax-highlighting-a11y.json
  packages/example-app-base/src/components/CodeSnippet/CodeSnippet.styles.ts
  packages/example-app-base/src/components/CodeSnippet/CodeSnippet.tsx
  packages/example-app-base/src/demo/demo.md
Labels: Area: Website, AutoMerge

#11494 GroupedList: Added built in keyboard support
  change/office-ui-fabric-react-2020-07-28-13-25-07-grouped-list-keyboard.json
  packages/office-ui-fabric-react/src/components/DetailsList/__snapshots__/DetailsList.test.tsx.snap
  packages/office-ui-fabric-react/src/components/GroupedList/GroupHeader.base.tsx
  packages/office-ui-fabric-react/src/components/GroupedList/GroupedList.base.tsx
  packages/office-ui-fabric-react/src/components/GroupedList/examples/GroupedList.Basic.Example.tsx
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.CustomGroupHeaders.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Grouped.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Grouped.Large.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/GroupedList.CustomCheckbox.Example.tsx.shot
Labels: Area: Accessibility, Component: GroupedList, Needs: Discussion 🙋, Priority 2: Normal

#14154 Result: Add either to help with creation of codemods
  change/@fluentui-codemods-2020-07-21-17-13-11-either.json
  packages/codemods/src/helpers/chainable.ts
  packages/codemods/src/helpers/mappable.ts
  packages/codemods/src/helpers/maybe.ts
  packages/codemods/src/helpers/result.ts
  packages/codemods/src/helpers/tests/result.test.ts
Labels: Area: Build System, AutoMerge, Package: codemods

#13875 Suggestion list clipping fix
  change/office-ui-fabric-react-2020-06-30-17-25-40-suggestion-list-clipping-fix.json
  packages/office-ui-fabric-react/src/components/pickers/Suggestions/Suggestions.styles.ts
  packages/office-ui-fabric-react/src/components/pickers/Suggestions/__snapshots__/Suggestions.test.tsx.snap
Labels: AutoMerge, Component: Pickers, Priority 2: Normal

#14177 Charting: Common charting helper base class added
  change/@uifabric-charting-2020-07-23-17-14-44-user-v-jasha-chartHelper.json
  packages/charting/src/ChartHelper.ts
  packages/charting/src/components/AreaChart/AreaChart.base.tsx
  packages/charting/src/components/AreaChart/examples/AreaChart.Basic.Example.tsx
  packages/charting/src/components/CommonComponents/ChartHelper.base.tsx
  packages/charting/src/components/CommonComponents/ChartHelper.styles.ts
  packages/charting/src/components/CommonComponents/ChartHelper.tsx
  packages/charting/src/components/CommonComponents/ChartHelper.types.ts
  packages/charting/src/components/CommonComponents/index.ts
  packages/charting/src/components/LineChart/LineChart.base.tsx
  packages/charting/src/components/LineChart/LineChart.styles.ts
  packages/charting/src/components/LineChart/LineChart.types.ts
  packages/charting/src/index.ts
  packages/charting/src/types/IDataPoint.ts
  packages/charting/src/utilities/utilities.ts
Labels: Package: charting

#14196 Charting: Add Accessibility support for Sankey chart
  change/@uifabric-charting-2020-07-24-19-25-31-user-v-gorraj-TSK_4323726.json
  packages/charting/src/components/SankeyChart/SankeyChart.base.tsx
  packages/charting/src/components/SankeyChart/SankeyChart.styles.ts
  packages/charting/src/components/SankeyChart/SankeyChart.types.ts
  packages/charting/src/components/SankeyChart/examples/SankeyChart.Basic.Example.tsx
Labels: Package: charting

#14245 Fixed search after adding Tree
  packages/fluentui/react-builder/src/components/List.tsx
Labels: Fluent UI react-northstar

#14232 feat(builder): simulate virtual cursor in the use mode
  .github/CODEOWNERS
  change/@fluentui-react-next-2020-07-21-21-40-07-function-react-next-release.json
  change/@fluentui-react-next-2020-07-27-12-32-04-updating-react-next-examples.json
  change/@fluentui-react-next-2020-07-27-18-44-10-feat-moving-teachingBubble.json
  packages/fluentui/react-builder/src/components/Canvas.tsx
  packages/fluentui/react-builder/src/components/Designer.tsx
  packages/fluentui/react-builder/src/components/ReaderText.tsx
  packages/fluentui/react-builder/src/components/Toolbar.tsx
  packages/fluentui/react-builder/src/config.tsx
  packages/react-next/RELEASE_NOTES.md
  packages/react-next/src/components/Checkbox/examples/Checkbox.Other.Example.tsx
  packages/react-next/src/components/FocusTrapZone/examples/FocusTrapZone.Nested.Example.tsx
  packages/react-next/src/components/Keytip/examples/Keytips.CommandBar.Example.tsx
  packages/react-next/src/components/ResizeGroup/examples/ResizeGroup.OverflowSet.Example.tsx
  packages/react-next/src/components/ResizeGroup/examples/ResizeGroup.VerticalOverflowSet.Example.tsx
  packages/react-next/src/components/Slider/examples/Slider.Basic.Example.tsx
  packages/react-next/src/components/Slider/examples/Slider.Vertical.Example.tsx
  packages/react-next/src/components/TeachingBubble/TeachingBubble.base.tsx
  packages/react-next/src/components/TeachingBubble/TeachingBubble.deprecated.test.tsx
  packages/react-next/src/components/TeachingBubble/TeachingBubble.doc.tsx
  packages/react-next/src/components/TeachingBubble/TeachingBubble.styles.ts
  packages/react-next/src/components/TeachingBubble/TeachingBubble.test.tsx
  packages/react-next/src/components/TeachingBubble/TeachingBubble.ts
  packages/react-next/src/components/TeachingBubble/TeachingBubble.types.ts
  packages/react-next/src/components/TeachingBubble/TeachingBubbleContent.base.tsx
  packages/react-next/src/components/TeachingBubble/TeachingBubbleContent.ts
  packages/react-next/src/components/TeachingBubble/__snapshots__/TeachingBubble.deprecated.test.tsx.snap
  packages/react-next/src/components/TeachingBubble/__snapshots__/TeachingBubble.test.tsx.snap
  packages/react-next/src/components/TeachingBubble/docs/TeachingBubbleBestPractices.md
  packages/react-next/src/components/TeachingBubble/docs/TeachingBubbleDonts.md
  packages/react-next/src/components/TeachingBubble/docs/TeachingBubbleDos.md
  packages/react-next/src/components/TeachingBubble/docs/TeachingBubbleOverview.md
  packages/react-next/src/components/TeachingBubble/examples/TeachingBubble.Basic.Example.tsx
  packages/react-next/src/components/TeachingBubble/examples/TeachingBubble.Condensed.Example.tsx
  packages/react-next/src/components/TeachingBubble/examples/TeachingBubble.Illustration.Example.tsx
  packages/react-next/src/components/TeachingBubble/examples/TeachingBubble.MultiStep.Example.tsx
  packages/react-next/src/components/TeachingBubble/examples/TeachingBubble.SmallHeadline.Example.tsx
  packages/react-next/src/components/TeachingBubble/examples/TeachingBubble.Wide.Example.tsx
  packages/react-next/src/components/TeachingBubble/examples/TeachingBubble.WideIllustration.Example.tsx
  packages/react-next/src/components/TeachingBubble/index.ts
Labels: Fluent UI react-northstar

#14247 Hackathon(Builder): ability attributes
  packages/fluentui/react-builder/src/ability-attributes/DevEnv.ts
  packages/fluentui/react-builder/src/ability-attributes/DevEnvTypes.ts
  packages/fluentui/react-builder/src/ability-attributes/ErrorReporter.css
  packages/fluentui/react-builder/src/ability-attributes/ErrorReporter.html
  packages/fluentui/react-builder/src/ability-attributes/ErrorReporter.ts
  packages/fluentui/react-builder/src/ability-attributes/Errors.ts
  packages/fluentui/react-builder/src/ability-attributes/HTML.ts
  packages/fluentui/react-builder/src/ability-attributes/Schema.ts
  packages/fluentui/react-builder/src/ability-attributes/Utils.ts
  packages/fluentui/react-builder/src/ability-attributes/Validator.ts
  packages/fluentui/react-builder/src/ability-attributes/global.d.ts
  packages/fluentui/react-builder/src/ability-attributes/index.ts
  packages/fluentui/react-builder/src/components/AbilityAttributesValidator.tsx
  packages/fluentui/react-builder/src/components/Canvas.tsx
  packages/fluentui/react-builder/src/components/Designer.tsx
  packages/fluentui/react-builder/src/components/ErrorFrame.tsx
  packages/fluentui/react-builder/src/components/List.tsx
Labels: Fluent UI react-northstar

#14236 Feat/Detect when focus goes to body
  packages/fluentui/react-builder/src/components/Canvas.tsx
  packages/fluentui/react-builder/src/components/Designer.tsx
Labels: Fluent UI react-northstar

#14244 [Hackathon] simplified narration for ui builder elements
  packages/fluentui/react-builder/src/ability-attributes/ErrorReporter.css
  packages/fluentui/react-builder/src/ability-attributes/ErrorReporter.html
  packages/fluentui/react-builder/src/ability-attributes/Errors.ts
  packages/fluentui/react-builder/src/ability-attributes/HTML.ts
  packages/fluentui/react-builder/src/components/ReaderText.tsx
  packages/fluentui/react-builder/src/narration/computeMessage.ts
Labels: Fluent UI react-northstar

#14255 Feature/show element a11y role name
  packages/fluentui/react-builder/src/componentInfo/types.ts
  packages/fluentui/react-builder/src/components/Canvas.tsx
  packages/fluentui/react-builder/src/components/Designer.tsx
  packages/fluentui/react-builder/src/components/ReaderText.tsx
  packages/fluentui/react-builder/src/narration/computeMessage.ts
Labels: Fluent UI react-northstar

#14260 feat(builder): refact deps array
  packages/fluentui/react-builder/src/components/Canvas.tsx
  packages/fluentui/react-builder/src/components/ReaderText.tsx
Labels: Fluent UI react-northstar

#14259 Adding raw version of acc spec generator
  packages/fluentui/react-builder/src/components/Designer.tsx
  packages/fluentui/react-builder/src/components/Toolbar.tsx
Labels: Fluent UI react-northstar

#14169 Feature/new tooltip design supporting subcounts in line chart
  change/@uifabric-charting-2020-07-22-14-06-20-feature-NewTooltip_and_TotalCountsInLegend.json
  packages/charting/src/components/CommonComponents/ChartHelper.base.tsx
  packages/charting/src/components/CommonComponents/ChartHelper.types.ts
  packages/charting/src/types/IDataPoint.ts
  packages/charting/src/utilities/utilities.ts
Labels: Package: charting

#14261 fix(builder): remove cursor indicator when disabled
  packages/fluentui/react-builder/src/components/Canvas.tsx
Labels: Fluent UI react-northstar

#14262 fix(builder): prevent access undefined
  packages/fluentui/react-builder/src/components/Canvas.tsx
Labels: Fluent UI react-northstar

#14145 useCustomizationSettings: get settings from CustomizerContext if exists.
  change/@uifabric-utilities-2020-07-21-11-56-13-xgao-useCustomization.json
  packages/utilities/etc/utilities.api.md
  packages/utilities/src/customizations/useCustomizationSettings.test.tsx
  packages/utilities/src/customizations/useCustomizationSettings.ts
Labels: PR: API Modified, Package: utilities

#14138 feat(Datepicker): Add basic keyboard navigation for calendar grid
  packages/fluentui/CHANGELOG.md
  packages/fluentui/accessibility/src/behaviors/Datepicker/datepickerBehavior.ts
  packages/fluentui/accessibility/src/behaviors/Datepicker/datepickerCalendarBehavior.ts
  packages/fluentui/accessibility/src/behaviors/Datepicker/datepickerCalendarCellBehavior.ts
  packages/fluentui/accessibility/src/behaviors/Datepicker/datepickerCalendarGridBehavior.ts
  packages/fluentui/accessibility/src/behaviors/Datepicker/datepickerCalendarHeaderBehavior.ts
  packages/fluentui/accessibility/src/behaviors/index.ts
  packages/fluentui/accessibility/test/behaviors/behavior-test.tsx
  packages/fluentui/e2e/tests/datepicker-example.tsx
  packages/fluentui/e2e/tests/datepicker-test.ts
  packages/fluentui/react-northstar/src/components/Datepicker/Datepicker.tsx
  packages/fluentui/react-northstar/src/components/Datepicker/DatepickerCalendar.tsx
  packages/fluentui/react-northstar/src/components/Datepicker/DatepickerCalendarCell.tsx
  packages/fluentui/react-northstar/src/components/Datepicker/DatepickerCalendarHeader.tsx
  packages/fluentui/react-northstar/src/themes/teams/componentStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Datepicker/datepickerCalendarCellStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Datepicker/datepickerCalendarCellVariables.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Datepicker/datepickerStyles.ts
  packages/fluentui/react-northstar/test/specs/components/Datepicker/DatepickerCalendar-test.tsx
Labels: AutoMerge, Fluent UI react-northstar

#14254 Adding AXE validation
  packages/fluentui/react-builder/package.json
  packages/fluentui/react-builder/src/components/Canvas.tsx
  packages/fluentui/react-builder/src/components/Designer.tsx
  packages/fluentui/react-builder/src/components/Toolbar.tsx
  yarn.lock
Labels: Fluent UI react-northstar

#14263 Hooks: Add useWarnings hook; useControllableValue and testing fixes
  change/@fluentui-eslint-plugin-2020-07-30-09-10-43-hook-updates.json
  change/@fluentui-react-next-2020-07-30-09-25-12-hook-updates.json
  change/@uifabric-react-hooks-2020-07-30-09-10-43-hook-updates.json
  change/@uifabric-utilities-2020-07-30-09-10-43-hook-updates.json
  packages/eslint-plugin/src/utils/configHelpers.js
  packages/react-hooks/README.md
  packages/react-hooks/etc/react-hooks.api.md
  packages/react-hooks/src/index.ts
  packages/react-hooks/src/testUtilities.tsx
  packages/react-hooks/src/useAsync.ts
  packages/react-hooks/src/useBoolean.test.tsx
  packages/react-hooks/src/useConst.test.tsx
  packages/react-hooks/src/useConstCallback.test.tsx
  packages/react-hooks/src/useControllableValue.test.tsx
  packages/react-hooks/src/useControllableValue.ts
  packages/react-hooks/src/useForceUpdate.test.tsx
  packages/react-hooks/src/useId.test.tsx
  packages/react-hooks/src/useSetInterval.test.tsx
  packages/react-hooks/src/useSetTimeout.test.tsx
  packages/react-hooks/src/useWarnings.test.tsx
  packages/react-hooks/src/useWarnings.ts
  packages/react-next/src/components/Checkbox/useCheckbox.ts
  packages/react-next/src/components/Persona/Persona.base.tsx
  packages/react-next/src/components/Persona/PersonaCoin/PersonaCoin.base.tsx
  packages/react-next/src/components/ResizeGroup/ResizeGroup.base.tsx
  packages/react-next/src/components/SearchBox/SearchBox.base.tsx
  packages/react-next/src/components/Slider/Slider.base.tsx
  packages/react-next/src/components/SpinButton/SpinButton.base.tsx
  packages/react-next/src/components/Toggle/useToggle.ts
  packages/utilities/src/warn/warnControlledUsage.ts
Labels: Fluent UI v8, Package: react-hooks
