Repository microsoft/fluentui, pull requests merged in 2020-02, with the labels that each got.

#11849 Prevent ComponentExamples test from eating errors
  change/office-ui-fabric-react-2020-01-31-12-45-47-errors-plz.json
  packages/office-ui-fabric-react/src/components/ComponentExamples.test.tsx
  scripts/jest/jest-setup.js
Labels: Area: Testing, AutoMerge

#11857 FUI move part 1: initialize a package import script
  scripts/fluent-import/index.js
Labels: Area: Build System, AutoMerge

#11758 Add focus to Nav. Porting from #10310
  common/changes/office-ui-fabric-react/hotfix-AddFocus2Nav-office-ui-fabric-react-5.0_2020-01-22-05-26.json
  packages/office-ui-fabric-react/src/components/Nav/Nav.base.tsx
  packages/office-ui-fabric-react/src/components/Nav/Nav.types.ts
Labels: Component: Nav, Fabric 5

#11861 TeachingBubble: Fixing styling when TeachingBubble has close button but no headline
  change/office-ui-fabric-react-2020-02-03-17-24-12-teachingBubbleWithNoHeadline.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/TeachingBubble/TeachingBubble.styles.ts
  packages/office-ui-fabric-react/src/components/TeachingBubble/TeachingBubble.types.ts
  packages/office-ui-fabric-react/src/components/TeachingBubble/TeachingBubbleContent.base.tsx
Labels: AutoMerge, Component: TeachingBubble, PR: API Modified

#11862 ChoiceGroup: fix option label text being cutoff
  change/office-ui-fabric-react-2020-02-03-17-30-27-xgao-choicegrou.json
  packages/office-ui-fabric-react/src/components/ChoiceGroup/ChoiceGroupOption/ChoiceGroupOption.styles.ts
  packages/office-ui-fabric-react/src/components/ChoiceGroup/ChoiceGroupOption/__snapshots__/ChoiceGroupOption.test.tsx.snap
  packages/office-ui-fabric-react/src/components/__snapshots__/ChoiceGroup.Icon.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/ChoiceGroup.Image.Example.tsx.shot
Labels: Component: ChoiceGroup

#11812 TeachingBubble: Applying Callout style-related props like calloutWidth and calloutMaxWidth.
  change/office-ui-fabric-react-2020-01-27-16-07-32-teachingBubbleCalloutStyles.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/TeachingBubble/TeachingBubble.base.tsx
  packages/office-ui-fabric-react/src/components/TeachingBubble/TeachingBubble.styles.ts
  packages/office-ui-fabric-react/src/components/TeachingBubble/TeachingBubble.test.tsx
  packages/office-ui-fabric-react/src/components/TeachingBubble/TeachingBubble.types.ts
  packages/office-ui-fabric-react/src/components/TeachingBubble/__snapshots__/TeachingBubble.test.tsx.snap
Labels: AutoMerge, Component: TeachingBubble, PR: API Modified

#11869 Pickers: remove input X button in Edge
  change/office-ui-fabric-react-2020-02-04-12-29-12-xgao-picker-clear.json
  packages/office-ui-fabric-react/src/components/__snapshots__/Announced.SearchResults.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/PeoplePicker.Compact.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/PeoplePicker.Controlled.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/PeoplePicker.LimitedSearch.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/PeoplePicker.List.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/PeoplePicker.Normal.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/PeoplePicker.PreselectedItems.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/PeoplePicker.ProcessSelection.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/TagPicker.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/pickers/BasePicker.styles.ts
  packages/office-ui-fabric-react/src/components/pickers/PeoplePicker/__snapshots__/PeoplePicker.test.tsx.snap
  packages/office-ui-fabric-react/src/components/pickers/TagPicker/__snapshots__/TagPicker.test.tsx.snap
Labels: Component: Pickers

#11876 Dropdown: remove unnecessary focus calls
  change/office-ui-fabric-react-2020-02-04-18-04-00-xgao-fix-dropdown-selection.json
  packages/office-ui-fabric-react/src/components/Dropdown/Dropdown.base.tsx
Labels: Component: Dropdown

#11875 MaskedTextField: fix input captures focus on re-render on Edge
  change/office-ui-fabric-react-2020-02-04-16-06-42-xgao-fix-maskTextField.json
  packages/office-ui-fabric-react/src/components/TextField/MaskedTextField/MaskedTextField.tsx
Labels: Component: MaskedTextField, Component: TextField

#11868 ev.defaultPrevented is not a function, remove errant ()
  change/office-ui-fabric-react-2020-02-04-12-57-13-defaultPreventedFabricFix.json
  packages/office-ui-fabric-react/src/components/Panel/Panel.base.tsx
Labels: Component: Panel

#11872 DocumentCard: Updating DocumentCardLocations styles to latest Fluent specs
  change/office-ui-fabric-react-2020-02-04-15-58-06-documentCardLocationsStyles.json
  packages/office-ui-fabric-react/src/components/DocumentCard/DocumentCardLocation.styles.ts
  packages/office-ui-fabric-react/src/components/__snapshots__/DocumentCard.Complete.Example.tsx.shot
Labels: AutoMerge, Component: DocumentCard

#11844 Website: Fixing Card API reference tables not appearing on the component docs page
  apps/fabric-website/src/pages/Controls/ControlsAreaPage.tsx
  change/@uifabric-fabric-website-2020-01-30-16-12-29-master.json
Labels: Area: Documentation, Area: Website, AutoMerge, Component: Card, Type: Documentation

#11883 Fix incorrect icon color for disabled ContexualMenu icon with Azure theme.
  change/@uifabric-azure-themes-2020-02-05-20-32-11-xinyan-azdcmt.json
  packages/azure-themes/src/azure/styles/ContextualMenu.styles.ts
Labels: AutoMerge

#11850 GroupedList: Announcing position in set
  change/office-ui-fabric-react-2020-01-31-15-24-29-groupedListPosInSet.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/DetailsList/__snapshots__/DetailsList.test.tsx.snap
  packages/office-ui-fabric-react/src/components/GroupedList/GroupHeader.base.tsx
  packages/office-ui-fabric-react/src/components/GroupedList/GroupHeader.types.ts
  packages/office-ui-fabric-react/src/components/GroupedList/GroupedListSection.tsx
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Grouped.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.Grouped.Large.Example.tsx.shot
Labels: AutoMerge, Component: GroupedList, PR: API Modified

#11890 MaskedTextField: Fixing focus capture on input in re-renders on IE11 and Edge (cherrypick of #11875)
  change/office-ui-fabric-react-2020-02-06-11-29-21-maskedTextFieldFocusCapture.json
  packages/office-ui-fabric-react/src/components/TextField/MaskedTextField/MaskedTextField.tsx
Labels: Component: MaskedTextField, Component: TextField, Fabric 6

#11878 Add focus to Nav. Porting from #10310 (#11758)
  common/changes/office-ui-fabric-react/hotfix-AddFocus2Nav-office-ui-fabric-react-5.0_2020-01-22-05-26.json
  packages/office-ui-fabric-react/src/components/Nav/Nav.base.tsx
  packages/office-ui-fabric-react/src/components/Nav/Nav.types.ts
Labels: Component: Nav, Fabric 5

#11895 SpinButton: remove unneeded validation on tab key
  change/office-ui-fabric-react-2020-02-06-15-19-59-xgao-spin-button.json
  packages/office-ui-fabric-react/src/components/SpinButton/SpinButton.tsx
Labels: Component: SpinButton

#11892 Dropdown: fix item hover style
  apps/vr-tests/src/stories/Dropdown.stories.tsx
  change/office-ui-fabric-react-2020-02-06-13-29-40-xgao-dropdown-option-style-fix.json
  packages/office-ui-fabric-react/src/components/Dropdown/Dropdown.styles.ts
Labels: Component: Dropdown

#11899 ISemanticColors: adding clarification to Fabric site.
  change/@uifabric-styling-2020-02-07-11-50-01-semantic_colors_page.json
  packages/styling/src/interfaces/ISemanticColors.ts
Labels: AutoMerge

#11908 Tooltip: allow scrolling tooltip content
  change/office-ui-fabric-react-2020-02-10-12-55-50-xgao-tooltip-scroll.json
  packages/office-ui-fabric-react/src/components/Tooltip/TooltipHost.base.tsx
Labels: Component: Tooltip

#11909 Dropdown: fix SubComponentStyles interfaces
  change/office-ui-fabric-react-2020-02-10-15-36-57-xgao-dropdown-interface.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/Dropdown/Dropdown.types.ts
Labels: Component: Dropdown, PR: API Modified

#11853 TagItem title fix
  change/office-ui-fabric-react-2020-02-02-15-45-47-tag-item-title-fix.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/pickers/TagPicker/TagItem.test.tsx
  packages/office-ui-fabric-react/src/components/pickers/TagPicker/TagItem.tsx
  packages/office-ui-fabric-react/src/components/pickers/TagPicker/TagPicker.types.ts
  packages/office-ui-fabric-react/src/components/pickers/TagPicker/__snapshots__/TagItem.test.tsx.snap
Labels: AutoMerge, Component: Pickers

#11920 Test: Disable problematic List test
  change/office-ui-fabric-react-2020-02-11-13-03-33-jg-disable-list-test.json
  packages/office-ui-fabric-react/src/components/List/List.test.tsx
Labels: Component: List

#11924 ContextualMenu: change role of category options to menuitemselected
  change/office-ui-fabric-react-2020-02-11-14-25-44-contextualmenu.json
  packages/office-ui-fabric-react/src/components/ContextualMenu/examples/ContextualMenu.CustomizationWithNoWrap.Example.tsx
Labels: Component: ContextualMenu

#11928 TextField example: fix onChange typing error when strictFunctionTypes is true
  change/office-ui-fabric-react-2020-02-11-19-45-19-xgao-fix-example-typing.json
  packages/office-ui-fabric-react/src/components/TextField/examples/TextField.Controlled.Example.tsx
  packages/office-ui-fabric-react/src/components/TextField/examples/TextField.Multiline.Example.tsx
Labels: AutoMerge, Component: TextField

#11940 Fixing yarn start for Windows machines
  scripts/start.js
Labels: Area: Build System

#11937 Fix: Uncaught SyntaxError: Failed to execute 'querySelector' on 'Document'
  change/office-ui-fabric-react-2020-02-12-23-18-34-joou-fix-querySelector-err.json
  packages/office-ui-fabric-react/src/components/Dropdown/Dropdown.base.tsx
Labels: Component: Dropdown

#11954 List: fixing a leak where an element reference is retained after unmount
  change/office-ui-fabric-react-2020-02-12-09-56-12-list-leak-fix.json
  packages/office-ui-fabric-react/src/components/List/List.tsx
Labels: Component: List

#11956 Cherrypicking List leak fix into 6.0
  change/office-ui-fabric-react-2020-02-12-09-56-12-list-leak-fix.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/List/List.tsx
Labels: AutoMerge, Component: List, Fabric 6

#11964 ShimmeredDetailsList: set aria-busy to true when shimmer is enabled
  change/office-ui-fabric-react-2020-02-14-16-00-46-xgao-shimmer.json
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsList.base.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/__snapshots__/ShimmeredDetailsList.test.tsx.snap
  packages/office-ui-fabric-react/src/components/__snapshots__/Shimmer.Application.Example.tsx.shot
Labels: AutoMerge, Component: DetailsList

#11974 Utilities bump.
  change/@uifabric-utilities-2020-02-17-08-12-43-util-bump.json
  packages/utilities/src/EventGroup.ts
Labels: PR: API Modified

#11925 Removing use of some deprecated things by replacing them.
  change/office-ui-fabric-react-2020-02-06-17-42-11-deprecation.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/ActivityItem/ActivityItem.test.tsx
  packages/office-ui-fabric-react/src/components/Breadcrumb/Breadcrumb.base.tsx
  packages/office-ui-fabric-react/src/components/Button/BaseButton.tsx
  packages/office-ui-fabric-react/src/components/ColorPicker/ColorPicker.test.tsx
  packages/office-ui-fabric-react/src/components/ContextualMenu/examples/ContextualMenu.Customization.Example.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsColumn.base.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsHeader.base.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/examples/DetailsList.CustomGroupHeaders.Example.tsx
  packages/office-ui-fabric-react/src/components/DocumentCard/DocumentCardImage.test.tsx
  packages/office-ui-fabric-react/src/components/Fabric/Fabric.types.ts
  packages/office-ui-fabric-react/src/components/Facepile/Facepile.test.tsx
  packages/office-ui-fabric-react/src/components/FloatingPicker/Suggestions/SuggestionsStore.ts
  packages/office-ui-fabric-react/src/components/FocusZone/FocusZone.types.ts
  packages/office-ui-fabric-react/src/components/GroupedList/GroupHeader.base.tsx
  packages/office-ui-fabric-react/src/components/GroupedList/GroupedList.base.tsx
  packages/office-ui-fabric-react/src/components/GroupedList/GroupedListSection.tsx
  packages/office-ui-fabric-react/src/components/Image/Image.base.tsx
  packages/office-ui-fabric-react/src/components/Persona/Persona.test.tsx
  packages/office-ui-fabric-react/src/components/Persona/PersonaCoin/PersonaCoin.base.tsx
  packages/office-ui-fabric-react/src/components/Persona/PersonaInitialsColor.test.ts
  packages/office-ui-fabric-react/src/components/ScrollablePane/examples/ScrollablePane.DetailsList.Example.tsx
  packages/office-ui-fabric-react/src/components/SearchBox/SearchBox.base.tsx
  packages/office-ui-fabric-react/src/components/Stack/Stack.styles.ts
  packages/office-ui-fabric-react/src/components/Stack/Stack.types.ts
  packages/office-ui-fabric-react/src/components/Sticky/Sticky.types.ts
  packages/office-ui-fabric-react/src/components/SwatchColorPicker/ColorPickerGridCell.styles.ts
  packages/office-ui-fabric-react/src/components/SwatchColorPicker/SwatchColorPicker.base.tsx
  packages/office-ui-fabric-react/src/components/Text/Text.types.tsx
  packages/office-ui-fabric-react/src/components/pickers/BasePicker.types.ts
  packages/office-ui-fabric-react/src/utilities/color/shades.ts
Labels: PR: API Modified

#11943 Legends accesibility in hover card
  change/@uifabric-charting-2020-02-13-17-16-35-user-v-sivsar-LegendsAccesibilityInHoverCard.json
  packages/charting/src/components/DonutChart/DonutChart.base.tsx
  packages/charting/src/components/DonutChart/DonutChart.types.ts
  packages/charting/src/components/Legends/Legends.base.tsx
  packages/charting/src/components/Legends/Legends.styles.ts
  packages/charting/src/components/Legends/Legends.types.ts
  packages/charting/src/components/LineChart/LineChart.base.tsx
  packages/charting/src/components/LineChart/LineChart.types.ts
  packages/charting/src/components/StackedBarChart/MultiStackedBarChart.base.tsx
  packages/charting/src/components/StackedBarChart/MultiStackedBarChart.types.ts
  packages/charting/src/components/StackedBarChart/StackedBarChart.base.tsx
  packages/charting/src/components/StackedBarChart/StackedBarChart.types.ts
  packages/charting/src/components/StackedBarChart/examples/MultiStackedBarChart.Example.tsx
Labels: Package: charting

#11989 DatePicker: Fixing onSelectDate event being called twice when allowTextInput is set to true
  change/@uifabric-date-time-2020-02-18-16-30-59-datePickerOnSelectDateTwice.json
  change/office-ui-fabric-react-2020-02-18-16-30-59-datePickerOnSelectDateTwice.json
  packages/date-time/src/components/DatePicker/DatePicker.base.tsx
  packages/date-time/src/components/DatePicker/DatePicker.test.tsx
  packages/office-ui-fabric-react/src/components/DatePicker/DatePicker.base.tsx
  packages/office-ui-fabric-react/src/components/DatePicker/DatePicker.test.tsx
Labels: AutoMerge, Component: DatePicker

#11985 React-focus: Enabling storybook in new package
  README.md
  change/@fluentui-react-focus-2020-02-18-14-37-59-reactFocusStorybook.json
  packages/react-focus/.storybook/main.js
  packages/react-focus/.storybook/manager.js
  packages/react-focus/.storybook/preview.js
  packages/react-focus/package.json
  packages/react-focus/src/components/FocusZone/examples/FocusZone.Disabled.Example.tsx
  packages/react-focus/src/components/FocusZone/examples/FocusZone.HorizontalMenu.Example.tsx
  packages/react-focus/src/components/FocusZone/examples/FocusZone.List.Example.tsx
  packages/react-focus/src/components/FocusZone/examples/FocusZone.Photos.Example.tsx
  packages/react-focus/src/components/FocusZone/examples/FocusZone.Tabbable.Example.tsx
Labels: Component: FocusZone

#12000 GroupedList: Adding checks for group and selection being undefined
  change/office-ui-fabric-react-2020-02-19-11-36-46-groupedListUndefinedCheck.json
  packages/office-ui-fabric-react/src/components/GroupedList/GroupedListSection.tsx
Labels: AutoMerge, Component: GroupedList

#12002 Prettier script updates
  package.json
  scripts/fluent-import/index.js
  scripts/gulp/plugins/gulp-example-source.ts
  scripts/prettier.js
  scripts/prettier/.prettierrc.json
  scripts/prettier/prettier-helpers.js
  scripts/tasks/prettier.js
Labels: Area: Build System

#12003 allowScrollOnElement: fix memory leak caused by closure
  change/@uifabric-utilities-2020-02-19-13-31-55-xgao-mem-leak.json
  packages/utilities/src/scroll.ts
Labels: Package: utilities

#11999 Added FUI changelog checker for Fabric
  dangerfile.ts
  packages/fluentui/CHANGELOG.md
  scripts/dangerjs/checkChangelog.ts
  scripts/fluent-import/index.js
  scripts/tsconfig.json
Labels: Area: Build System

#12007 [cherry pick to 6.0] allowScrollOnElement: fix memory leak caused by closure
  change/@uifabric-utilities-2020-02-19-16-39-15-6.0.json
  packages/utilities/src/scroll.ts
Labels: Fabric 6, Package: utilities

#11604 Search focus
  change/office-ui-fabric-react-2020-01-03-11-09-17-search-focus.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/SearchBox/SearchBox.base.tsx
  packages/office-ui-fabric-react/src/components/SearchBox/__snapshots__/SearchBox.test.tsx.snap
  packages/office-ui-fabric-react/src/components/__snapshots__/FloatingPeoplePicker.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/SearchBox.CustomIcon.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/SearchBox.Disabled.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/SearchBox.FullSize.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/SearchBox.Small.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/SearchBox.Underlined.Example.tsx.shot
Labels: Component: SearchBox, Needs: Discussion 🙋

#12010 FocusZone: fix memory leak caused by closure
  change/office-ui-fabric-react-2020-02-19-17-52-40-xgao-mem-leak.json
  packages/office-ui-fabric-react/src/components/FocusZone/FocusZone.tsx
Labels: AutoMerge, Component: FocusZone

#11930 Link: text decoration should be removed regardless of link vs button.
  change/office-ui-fabric-react-2020-02-11-21-53-50-link-fix.json
  packages/office-ui-fabric-react/src/components/Link/Link.styles.ts
  packages/office-ui-fabric-react/src/components/Link/__snapshots__/Link.test.tsx.snap
  packages/office-ui-fabric-react/src/components/__snapshots__/ActivityItem.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/ActivityItem.Persona.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Announced.BulkOperations.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Breadcrumb.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Breadcrumb.Collapsing.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Breadcrumb.Static.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.CustomGroupHeaders.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/DetailsList.NavigatingFocus.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Link.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/OverflowSet.Basic.Example.tsx.shot
Labels: AutoMerge, Component: Link

#12004 Tooltip: Enable dismissing the Tooltip via pressing ESC key
  change/@uifabric-experiments-2020-02-19-15-37-57-tooltipEsc.json
  change/office-ui-fabric-react-2020-02-19-14-46-49-tooltipEsc.json
  packages/experiments/src/components/Pagination/__snapshots__/Pagination.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Breadcrumb/__snapshots__/Breadcrumb.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Persona/PersonaCoin/__snapshots__/PersonaCoin.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Persona/__snapshots__/Persona.deprecated.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Persona/__snapshots__/Persona.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Tooltip/TooltipHost.base.tsx
  packages/office-ui-fabric-react/src/components/Tooltip/__snapshots__/TooltipHost.test.tsx.snap
  packages/office-ui-fabric-react/src/components/__snapshots__/Breadcrumb.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Breadcrumb.Static.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/CommandBar.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/CommandBar.ButtonAs.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/CommandBar.CommandBarButtonAs.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/CommandBar.SplitDisabled.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/OverflowSet.Vertical.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Persona.Alternate.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Persona.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Persona.CustomCoinRender.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Persona.CustomRender.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Persona.Initials.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Persona.UnknownPersona.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/SelectedPeopleList.Controlled.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Toggle.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Tooltip.Absolute.Position.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Tooltip.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Tooltip.Custom.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Tooltip.Display.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Tooltip.Interactive.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Tooltip.NoScroll.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/Tooltip.Overflow.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/pickers/PeoplePicker/__snapshots__/PeoplePicker.test.tsx.snap
Labels: Component: Tooltip, Fabric 6

#11990 styled: do not create new styles function if styles prop is not changed
  change/@uifabric-utilities-2020-02-18-18-08-34-xgao-styled.json
  packages/utilities/src/styled.test.tsx
  packages/utilities/src/styled.tsx
Labels: AutoMerge, Package: utilities

#12008 add scheduled signal
  change/@uifabric-experiments-2020-02-19-17-28-53-amshan-addScheduledSignal.json
  packages/experiments/src/components/signals/Signals.scss
  packages/experiments/src/components/signals/Signals.tsx
  packages/experiments/src/components/signals/examples/Signals.Basic.Example.tsx
Labels: AutoMerge, Package: experiments

#12018 Amshan/update scheduled signal icon
  change/@uifabric-experiments-2020-02-20-13-32-43-amshan-updateScheduledSignalIcon.json
  packages/experiments/src/components/signals/Signals.tsx
Labels: Package: experiments

#11969 Adds ignoreScrollingState to List to avoid extra scrolling renders
  change/office-ui-fabric-react-2020-02-17-11-21-10-master.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/List/List.tsx
  packages/office-ui-fabric-react/src/components/List/List.types.ts
Labels: Component: List

#12022 Bumping version of webpack-dev-server
  scripts/package.json
  yarn.lock
Labels: AutoMerge

#11982 Fluent: Perf CI
  apps/perf-test/package.json
  apps/perf-test/tasks/fluentPerfRegressions.ts
  apps/perf-test/tasks/perf-test.ts
  azure-pipelines.perf-test.yml
  azure-pipelines.yml
  dangerfile.ts
  scripts/dangerjs/checkPerfRegressions.ts
Labels: Area: Build System

#11523 Adding pointer down support for dismissing the fabric base layer.
  change/office-ui-fabric-react-2019-12-31-13-42-20-fabricbasefix.json
  packages/office-ui-fabric-react/src/components/Fabric/Fabric.base.tsx
Labels: Component: Fabric

#12009 Adding support for running FUI screener tests
  azure-pipelines.release-fluentui.yml
  azure-pipelines.yml
  package.json
  scripts/fluent-import/index.js
  scripts/gulp/tasks/screener.ts
  scripts/screener/screener.config.js
  scripts/screener/screener.states.ts
Labels: Area: Build System, Status: Do Not Merge 🚫

#12028 DetailsList: fix memory leak caused by incorrect component memoization
  change/office-ui-fabric-react-2020-02-21-18-26-16-xgao-dl-mem-leak.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/Check/Check.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsRowCheck.tsx
Labels: Component: DetailsList, PR: API Modified

#11942 Enable keyboard accessibility for Donut chart
  change/@uifabric-charting-2020-02-13-12-04-37-user-v-satgar-donutChartKeyboardAccessability.json
  packages/charting/src/components/DonutChart/Arc/Arc.tsx
  packages/charting/src/components/DonutChart/Arc/Arc.types.ts
  packages/charting/src/components/DonutChart/DonutChart.base.tsx
  packages/charting/src/components/DonutChart/Pie/Pie.tsx
  packages/charting/src/components/DonutChart/Pie/Pie.types.ts
Labels: Package: charting

#11959 FocusZone: Re-exporting FocusZone from react-focus package and removing duplication in OUFR package
  change/@fluentui-react-focus-2020-02-19-16-21-21-reactFocusDependency.json
  change/office-ui-fabric-react-2020-02-14-14-20-06-reactFocusDependency.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/package.json
  packages/office-ui-fabric-react/src/components/ComponentConformance.test.tsx
  packages/office-ui-fabric-react/src/components/FocusZone/FocusZone.deprecated.test.tsx
  packages/office-ui-fabric-react/src/components/FocusZone/FocusZone.test.tsx
  packages/office-ui-fabric-react/src/components/FocusZone/FocusZone.tsx
  packages/office-ui-fabric-react/src/components/FocusZone/FocusZone.types.ts
  packages/office-ui-fabric-react/src/components/FocusZone/__snapshots__/FocusZone.deprecated.test.tsx.snap
  packages/office-ui-fabric-react/src/components/FocusZone/__snapshots__/FocusZone.test.tsx.snap
  packages/office-ui-fabric-react/src/components/FocusZone/index.ts
  packages/react-focus/etc/react-focus.api.md
  packages/react-focus/package.json
  packages/react-focus/src/components/FocusZone/FocusZone.tsx
  packages/react-focus/src/components/FocusZone/FocusZone.types.ts
Labels: Component: FocusZone, PR: API Modified, Status: Do Not Merge 🚫

#11984 Create examples package
  apps/fabric-website-resources/src/components/pages/PositioningContainerPage.tsx
  change/@fluentui-examples-2020-02-21-20-27-46-examples-pkg.json
  change/@fluentui-react-focus-2020-02-24-14-23-55-examples-pkg.json
  change/@uifabric-api-docs-2020-02-21-20-27-46-examples-pkg.json
  change/@uifabric-date-time-2020-02-21-20-27-46-examples-pkg.json
  change/@uifabric-fabric-website-resources-2020-02-21-20-27-46-examples-pkg.json
  change/office-ui-fabric-react-2020-02-21-20-27-46-examples-pkg.json
  packages/api-docs/config/api-docs.js
  packages/date-time/src/components/Calendar/CalendarPage.tsx
  packages/date-time/src/components/DatePicker/DatePickerPage.tsx
  packages/date-time/src/components/WeeklyDayPicker/WeeklyDayPickerPage.tsx
  packages/date-time/src/demo/AppDefinition.tsx
  packages/examples/.npmignore
  packages/examples/.npmrc
  packages/examples/.storybook/main.js
  packages/examples/.storybook/manager.js
  packages/examples/.storybook/preview-loader.js
  packages/examples/.storybook/preview.js
  packages/examples/CHANGELOG.json
  packages/examples/CHANGELOG.md
  packages/examples/LICENSE
  packages/examples/README.md
  packages/examples/just.config.ts
  packages/examples/package.json
  packages/examples/src/react-focus/FocusZone/FocusZone.doc.tsx
  packages/examples/src/react-focus/FocusZone/docs/FocusZoneOverview.md
  packages/examples/src/react-focus/FocusZone/examples/FocusZone.Disabled.Example.tsx
  packages/examples/src/react-focus/FocusZone/examples/FocusZone.HorizontalMenu.Example.tsx
  packages/examples/src/react-focus/FocusZone/examples/FocusZone.List.Example.tsx
  packages/examples/src/react-focus/FocusZone/examples/FocusZone.Photos.Example.tsx
  packages/examples/src/react-focus/FocusZone/examples/FocusZone.Tabbable.Example.tsx
  packages/examples/tsconfig.json
  packages/examples/tslint.json
  packages/examples/webpack.serve.config.js
  packages/office-ui-fabric-react/src/components/Coachmark/PositioningContainer/PositioningContainer.doc.tsx
  packages/office-ui-fabric-react/src/components/Coachmark/PositioningContainer/PositioningContainer.types.ts
  packages/office-ui-fabric-react/src/components/Coachmark/PositioningContainer/examples/PositioningContainer.Basic.Example.tsx
  packages/react-focus/.storybook/main.js
  packages/react-focus/.storybook/preview.js
  packages/react-focus/src/components/FocusZone/examples/FocusZone.Disabled.Example.tsx
  packages/react-focus/src/components/FocusZone/examples/FocusZone.List.Example.tsx
  packages/react-focus/src/components/FocusZone/examples/FocusZone.Tabbable.Example.tsx
  scripts/move-examples.js
  scripts/package.json
  scripts/tasks/storybookTask.js
  yarn.lock
Labels: Area: Build System

#12054 Fluent build: fix config types and doctoc/prettier conflict
  scripts/config.ts
  scripts/gulp/plugins/gulp-doctoc.ts
  scripts/gulp/tasks/docs.ts
Labels: Area: Build System, AutoMerge

#12038 Fluent: Add missing tests to CI
  azure-pipelines.yml
  package.json
  packages/fluentui/e2e/setup.test.ts
  scripts/fluent-import/index.js
  scripts/gulp/tasks/test-projects.ts
Labels: Area: Build System

#12060 For all gulp build:docs tasks that have a src->cache->dest, use cwd/base
  scripts/gulp/tasks/docs.ts
Labels: Area: Build System, AutoMerge

#12057 Chore/adopt latest build
  scripts/gulp/tasks/bundle.ts
  scripts/gulp/tasks/test-e2e.ts
  scripts/gulp/tasks/test-projects.ts
  scripts/gulp/tasks/test-projects/nextjs/index.js
  scripts/gulp/tasks/test-projects/typings/tsconfig.json
  scripts/package.json
  yarn.lock
Labels: Area: Build System

#12019 Add composite FloatingSuggestions component
  change/@uifabric-experiments-2020-02-20-13-35-18-u-sanredd-FloatingSuggestionsComposite.json
  packages/experiments/src/components/FloatingSuggestionsComposite/FloatingSuggestions.styles.ts
  packages/experiments/src/components/FloatingSuggestionsComposite/FloatingSuggestions.tsx
  packages/experiments/src/components/FloatingSuggestionsComposite/FloatingSuggestions.types.ts
  packages/experiments/src/components/FloatingSuggestionsComposite/FloatingSuggestionsItem/FloatingSuggestionsItem.styles.ts
  packages/experiments/src/components/FloatingSuggestionsComposite/FloatingSuggestionsItem/FloatingSuggestionsItem.tsx
  packages/experiments/src/components/FloatingSuggestionsComposite/FloatingSuggestionsItem/FloatingSuggestionsItem.types.ts
  packages/experiments/src/components/FloatingSuggestionsComposite/FloatingSuggestionsList/FloatingSuggestionsList.styles.ts
  packages/experiments/src/components/FloatingSuggestionsComposite/FloatingSuggestionsList/FloatingSuggestionsList.tsx
  packages/experiments/src/components/FloatingSuggestionsComposite/FloatingSuggestionsList/FloatingSuggestionsList.types.ts
  packages/experiments/src/components/FloatingSuggestionsComposite/index.ts
  packages/experiments/src/components/FloatingSuggestionsComposite/utils/getNextSuggestionIndex.ts
  packages/experiments/src/components/FloatingSuggestionsComposite/utils/getPreviousSuggestionIndex.ts
Labels: Package: experiments

#12065 Fix yarn start
  scripts/tasks/storybookTask.js
Labels: Area: Build System

#12076 chore: Update FluentUI github links
  packages/fluentui/ability-attributes/package.json
  packages/fluentui/accessibility/package.json
  packages/fluentui/code-sandbox/package.json
  packages/fluentui/code-sandbox/src/SandboxApp.tsx
  packages/fluentui/docs-components/package.json
  packages/fluentui/docs/src/views/AccessibilityBehaviors.tsx
  packages/fluentui/docs/src/views/AutoFocusZoneDoc.tsx
  packages/fluentui/docs/src/views/FocusTrapZoneDoc.tsx
  packages/fluentui/docs/src/views/FocusZoneDoc.tsx
  packages/fluentui/eslint-plugin/rules/no-visibility-modifiers/index.js
  packages/fluentui/playground/package.json
  packages/fluentui/playground/src/components/Icon/README.md
  packages/fluentui/react-bindings/package.json
  packages/fluentui/react-component-event-listener/package.json
  packages/fluentui/react-component-nesting-registry/package.json
  packages/fluentui/react-component-ref/package.json
  packages/fluentui/react-context-selector/package.json
  packages/fluentui/react-proptypes/package.json
  packages/fluentui/react-theming/package.json
  packages/fluentui/react/package.json
  packages/fluentui/react/src/utils/constants.ts
  packages/fluentui/state/README.md
  packages/fluentui/state/package.json
  packages/fluentui/styles/package.json
  scripts/dangerjs/checkChangelog.ts
Labels: fluentui

#12082 Change some jobs to default agent pool
  azure-pipelines.yml
Labels: Area: Build System

#12084 Toggle: allow menuitemcheckbox role
  change/office-ui-fabric-react-2020-02-26-10-32-31-xgao-toggle-role.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/Toggle/Toggle.types.ts
Labels: Component: Toggle, PR: API Modified

#12083 Adding README file to specs folder
  specs/README.md
Labels: AutoMerge

#12085 Slider: allow setting id
  change/office-ui-fabric-react-2020-02-26-11-02-33-xgao-slider-id.json
  packages/office-ui-fabric-react/src/components/Slider/Slider.base.tsx
  packages/office-ui-fabric-react/src/components/Slider/Slider.test.tsx
Labels: Component: Slider

#12087 Fix Fluent UI's snapshot script
  packages/fluentui/playground/package.json
  packages/fluentui/react-theming/package.json
Labels: FluentUI 0

#12044 Tile: Use more Tile props to inform link behavior
  change/@uifabric-experiments-2020-02-24-15-00-09-Tile-link-props.json
  packages/experiments/src/components/Tile/Tile.tsx
  packages/experiments/src/components/Tile/examples/Tile.Media.Example.tsx
Labels: Package: experiments

#12091 Website: fix links to controls with sub-pages
  apps/fabric-website/src/pages/Overviews/ControlsPage/ControlsPage.tsx
  change/@uifabric-fabric-website-2020-02-26-16-25-49-detailslist-link.json
Labels: Area: Website

#12089 Fix test-projects cleanup
  scripts/gulp/tasks/test-projects.ts
  scripts/package.json
  yarn.lock
Labels: Area: Build System, FluentUI 0

#12093 Fix CI environment variable checks
  scripts/config/jest/jestSetup.fluent-ui-react.js
  scripts/gulp/tasks/perf.ts
  scripts/gulp/tasks/stats.ts
  scripts/gulp/tasks/test-unit.ts
  scripts/jest/setupTests.js
  scripts/puppeteer/puppeteer.config.ts
  scripts/webpack/webpack.config.ts
Labels: Area: Build System, FluentUI 0

#12073 perf: add variables caching to v0
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-bindings/src/hooks/useStyles.ts
  packages/fluentui/react-bindings/src/styles/resolveStyles.ts
  packages/fluentui/react-bindings/src/styles/types.ts
  packages/fluentui/react-bindings/test/styles/resolveStyles-test.ts
  packages/fluentui/react/src/components/Animation/Animation.tsx
  packages/fluentui/react/src/utils/mergeProviderContexts.ts
  packages/fluentui/react/src/utils/renderComponent.tsx
Labels: FluentUI 0

#12067 chore: downgrade PopperJS to avoid Screener regression
  yarn.lock
Labels: FluentUI 0

#12095 chore: Enable Fluent0 release from CI
  azure-pipelines.release-fluentui.yml
  package.json
Labels: FluentUI 0

#11789 Use aria-current for active nav links
  change/office-ui-fabric-react-2020-01-24-14-44-48-nav-link-current.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/Nav/Nav.base.tsx
  packages/office-ui-fabric-react/src/components/Nav/Nav.types.ts
  packages/office-ui-fabric-react/src/components/Nav/examples/Nav.Basic.Example.tsx
  packages/office-ui-fabric-react/src/components/__snapshots__/Nav.Basic.Example.tsx.shot
Labels: Component: Nav

#12106 Dialog: fix isOpen deprecated prop no longer being honored
  change/office-ui-fabric-react-2020-02-27-11-49-35-xgao-dialog-isOpen.json
  packages/office-ui-fabric-react/src/components/Dialog/Dialog.base.tsx
  packages/office-ui-fabric-react/src/components/Dialog/Dialog.test.tsx
Labels: Component: Dialog

#12107 making sure that the resolve.alias do NOT skip over the fluentui packages
  scripts/webpack/getResolveAlias.js
Labels: Area: Build System

#12025 Panel: use align-items for cross axis alignment.
  change/office-ui-fabric-react-2020-02-21-11-06-46-panel_header.json
  packages/office-ui-fabric-react/src/components/Panel/Panel.styles.ts
  packages/office-ui-fabric-react/src/components/Panel/__snapshots__/Panel.test.tsx.snap
Labels: AutoMerge, Component: Panel

#12108 Make storybook fully use dev mode
  scripts/tasks/storybookTask.js
Labels: Area: Build System

#12070 Fluent: Enable stats collection
  .gitignore
  azure-pipelines.artifacts.yml
  azure-pipelines.perf-test.yml
  azure-pipelines.yml
  package.json
  scripts/gulp/tasks/stats.ts
Labels: FluentUI 0

#12120 chore: Moving ToolbarMenuItem to be functional component
  packages/fluentui/CHANGELOG.md
  packages/fluentui/accessibility/src/behaviors/Toolbar/toolbarMenuItemBehavior.ts
  packages/fluentui/accessibility/src/behaviors/index.ts
  packages/fluentui/react/src/components/Toolbar/ToolbarMenuItem.tsx
  packages/fluentui/react/src/themes/teams/components/Toolbar/toolbarMenuItemStyles.ts
  packages/fluentui/react/src/themes/teams/types.ts
  packages/fluentui/react/test/specs/components/Toolbar/ToolbarMenuItem-test.ts
Labels: FluentUI 0

#12124 SpinButton: fix content overlapping with border under certain resolutions
  change/office-ui-fabric-react-2020-02-28-10-48-43-xgao-fix-spinbutton-style.json
  packages/office-ui-fabric-react/src/components/SpinButton/SpinButton.styles.ts
  packages/office-ui-fabric-react/src/components/SpinButton/__snapshots__/SpinButton.test.tsx.snap
  packages/office-ui-fabric-react/src/components/SpinButton/examples/SpinButton.Basic.Example.tsx
  packages/office-ui-fabric-react/src/components/__snapshots__/Keytips.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/SpinButton.Basic.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/SpinButton.BasicDisabled.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/SpinButton.BasicWithEndPosition.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/SpinButton.BasicWithIcon.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/SpinButton.BasicWithIconDisabled.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/SpinButton.CustomStyled.Example.tsx.shot
  packages/office-ui-fabric-react/src/components/__snapshots__/SpinButton.Stateful.Example.tsx.shot
Labels: Component: SpinButton

#12116 De-duplicate babel dependencies
  scripts/gulp/plugins/util/parseType.ts
  yarn.lock
Labels: Area: Build System, FluentUI 0

#12130 DetailsList: updated drag drop example to be more intuitive, allow dragging to the last row
  change/office-ui-fabric-react-2020-02-28-15-48-39-xgao-drag-drop-dl.json
  packages/office-ui-fabric-react/src/components/DetailsList/examples/DetailsList.DragDrop.Example.tsx
Labels: AutoMerge, Component: DetailsList
