Repository microsoft/fluentui, pull requests merged in 2021-09, with the labels that each got.

#19427 (react-slider) - Adding Marks
  apps/vr-tests/src/stories/SliderNext.stories.tsx
  packages/react-slider/Spec.md
  packages/react-slider/etc/react-slider.api.md
  packages/react-slider/package.json
  packages/react-slider/src/Slider.stories.tsx
  packages/react-slider/src/components/Slider/Slider.test.tsx
  packages/react-slider/src/components/Slider/Slider.types.ts
  packages/react-slider/src/components/Slider/__snapshots__/Slider.test.tsx.snap
  packages/react-slider/src/components/Slider/index.ts
  packages/react-slider/src/components/Slider/renderSlider.tsx
  packages/react-slider/src/components/Slider/useSlider.ts
  packages/react-slider/src/components/Slider/useSliderState.tsx
  packages/react-slider/src/components/Slider/useSliderStyles.ts
Labels: Component: Slider

#19589 refactor(FluentProvider): rework className handling
  change/@fluentui-react-provider-61bad14d-8176-477a-b6c2-b3289f39bae0.json
  packages/react-provider/etc/react-provider.api.md
  packages/react-provider/src/components/FluentProvider/FluentProvider.types.ts
  packages/react-provider/src/components/FluentProvider/renderFluentProvider.tsx
  packages/react-provider/src/components/FluentProvider/useFluentProvider.ts
  packages/react-provider/src/components/FluentProvider/useFluentProviderContextValues.test.ts
  packages/react-provider/src/components/FluentProvider/useFluentProviderContextValues.ts
  packages/react-provider/src/components/FluentProvider/useFluentProviderStyles.ts
Labels: Fluent UI vNext, Component: FluentProvider

#19590 fix(react-conformance): handle "disabledTests" for "extraTests"
  change/@fluentui-react-conformance-8f2ecf54-500c-487b-825b-cfc7bbadfff6.json
  packages/react-conformance/src/isConformant.ts
Labels: Area: Testing

#19594 fix(react-conformance-make-styles): avoid collisions of mock
  change/@fluentui-react-conformance-make-styles-7ce90afe-8ca6-4fa6-8991-46970cfb2bcf.json
  packages/react-conformance-make-styles/src/index.ts
  packages/react-conformance-make-styles/src/overridesWin.ts
Labels: Fluent UI vNext

#19591 test(react-popover): enable "className" test for mergeClasses()
  change/@fluentui-react-popover-92dfd99c-a127-4d13-b8f4-ecbe42b68429.json
  packages/react-popover/package.json
  packages/react-popover/src/common/isConformant.ts
  packages/react-popover/src/components/Popover/Popover.test.tsx
  packages/react-popover/src/components/Popover/Popover.tsx
  packages/react-popover/src/components/PopoverSurface/PopoverSurface.test.tsx
  packages/react-popover/src/components/PopoverSurface/__snapshots__/PopoverSurface.test.tsx.snap
  packages/react-popover/src/components/PopoverTrigger/PopoverTrigger.test.tsx
  packages/react-popover/src/components/PopoverTrigger/PopoverTrigger.tsx
Labels: Fluent UI vNext

#19592 test(react-menu): enable "className" test for mergeClasses()
  change/@fluentui-react-menu-54a39443-5b65-442f-8a6f-eaa5331e1c27.json
  packages/react-menu/package.json
  packages/react-menu/src/common/isConformant.ts
  packages/react-menu/src/components/Menu/Menu.test.tsx
  packages/react-menu/src/components/MenuDivider/MenuDivider.test.tsx
  packages/react-menu/src/components/MenuGroup/MenuGroup.test.tsx
  packages/react-menu/src/components/MenuGroupHeader/MenuGroupHeader.test.tsx
  packages/react-menu/src/components/MenuItem/MenuItem.test.tsx
  packages/react-menu/src/components/MenuItemCheckbox/MenuItemCheckbox.test.tsx
  packages/react-menu/src/components/MenuItemRadio/MenuItemRadio.test.tsx
  packages/react-menu/src/components/MenuList/MenuList.test.tsx
  packages/react-menu/src/components/MenuTrigger/MenuTrigger.test.tsx
Labels: Fluent UI vNext

#19597 test(react-provider): enable "className" test for mergeClasses()
  change/@fluentui-react-provider-7ccfbe52-85d3-4452-91c9-8d54ae5070b2.json
  packages/react-provider/package.json
  packages/react-provider/src/common/isConformant.ts
  packages/react-provider/src/components/FluentProvider/FluentProvider.test.tsx
Labels: Fluent UI vNext

#19596 test(react-accordion): enable "className" test for mergeClasses()
  change/@fluentui-react-accordion-98722492-d946-4b4c-aa2a-7ace94a14051.json
  packages/react-accordion/package.json
  packages/react-accordion/src/common/isConformant.ts
  packages/react-accordion/src/components/Accordion/Accordion.test.tsx
  packages/react-accordion/src/components/AccordionHeader/AccordionHeader.test.tsx
  packages/react-accordion/src/components/AccordionItem/AccordionItem.test.tsx
  packages/react-accordion/src/components/AccordionPanel/AccordionPanel.test.tsx
Labels: Fluent UI vNext

#19598 feat(react-conformance-make-styles): allow to configure number of mergeClasses() calls
  change/@fluentui-react-conformance-make-styles-14258c44-53f1-4c2b-ab7a-7d1cf2bc203f.json
  packages/react-conformance-make-styles/src/index.ts
  packages/react-conformance-make-styles/src/matchers/index.ts
  packages/react-conformance-make-styles/src/matchers/toContainClassNameLastInCalls.test.ts
  packages/react-conformance-make-styles/src/matchers/toContainClassNameLastInCalls.ts
  packages/react-conformance-make-styles/src/matchers/toHaveMergeClassesCalledTimesWithClassName.test.ts
  packages/react-conformance-make-styles/src/matchers/toHaveMergeClassesCalledTimesWithClassName.ts
  packages/react-conformance-make-styles/src/overridesWin.ts
Labels: Area: Testing, Fluent UI vNext

#19065 chore: integrate loader for makeStyles to VR tests
  apps/vr-tests/.storybook/main.js
  azure-pipelines.yml
  change/@fluentui-babel-make-styles-7a78d152-f8f3-4e74-91ad-37222a5a93c6.json
  change/@fluentui-make-styles-webpack-loader-fff8b3eb-a023-466a-80d3-b10630d66b90.json
  packages/babel-make-styles/package.json
  packages/make-styles-webpack-loader/README.md
  packages/make-styles-webpack-loader/package.json
  yarn.lock
Labels: Fluent UI vNext

#19542 Fixes #19413 win.navigator may be null | undefined
  change/@fluentui-utilities-ea1fe6a2-9a66-4f3f-9f42-f46ef53d9ef9.json
  packages/utilities/src/osDetector.ts
Labels: Package: utilities, Area: SSR

#19585 Move jest cache under node_modules/.cache/jest
  .prettierignore
  jest.preset.js
  rfcs/build-system/03-packaging-for-npm.md
  tools/generators/migrate-converged-pkg/index.spec.ts
  tools/generators/migrate-converged-pkg/index.ts
Labels: Area: Build System

#19608 (web-components) Increased contrast for small input controls
  change/@fluentui-web-components-a35ba4d4-7670-4467-993c-98a0c728e0c3.json
  packages/web-components/docs/api-report.md
  packages/web-components/src/checkbox/checkbox.styles.ts
  packages/web-components/src/color/recipes/neutral-stroke-strong.ts
  packages/web-components/src/design-tokens.ts
  packages/web-components/src/radio/radio.styles.ts
  packages/web-components/src/switch/switch.styles.ts
Labels: web-components

#19601 test(react-checkbox|react-label): enable "className" test for mergeClasses()
  change/@fluentui-react-checkbox-7d46c54b-6ad0-496d-a698-b9147dad9ea2.json
  change/@fluentui-react-label-0efd3c69-60cf-472b-ae3c-ff5f27e848ae.json
  packages/react-checkbox/package.json
  packages/react-checkbox/src/common/isConformant.ts
  packages/react-label/package.json
  packages/react-label/src/common/isConformant.ts
Labels: Fluent UI vNext

#19599 test(react-link|react-tooltip): enable "className" test for mergeClasses()
  change/@fluentui-react-link-4ba04bff-ae7f-48fb-a3ac-b303c0090a3a.json
  change/@fluentui-react-tooltip-a844cb87-f646-4d8e-9c16-06ae2cb43898.json
  packages/react-link/package.json
  packages/react-link/src/common/isConformant.ts
  packages/react-tooltip/package.json
  packages/react-tooltip/src/common/isConformant.ts
Labels: Fluent UI vNext

#19602 test(react-input,slider,switch): enable "className" test for mergeClasses()
  packages/react-input/package.json
  packages/react-input/src/common/isConformant.ts
  packages/react-slider/package.json
  packages/react-slider/src/common/isConformant.ts
  packages/react-switch/package.json
  packages/react-switch/src/common/isConformant.ts
Labels: Fluent UI vNext

#19600 test(react-avatar|react-button): enable "className" test for mergeClasses()
  change/@fluentui-react-avatar-88217eb1-5cc7-45b2-890a-b595959cc296.json
  change/@fluentui-react-button-5c0c2e66-63f4-4ada-95b7-2912ddb90e6c.json
  packages/react-avatar/package.json
  packages/react-avatar/src/common/isConformant.ts
  packages/react-button/package.json
  packages/react-button/src/common/isConformant.ts
Labels: Fluent UI vNext

#19620 test(react-divider|react-badge): enable "className" test for mergeClasses()
  change/@fluentui-react-badge-9d134144-d435-41b6-b116-63526163aa46.json
  change/@fluentui-react-divider-42afa2be-28ba-4948-9eb0-0355e58a8f4b.json
  packages/react-badge/package.json
  packages/react-badge/src/common/isConformant.ts
  packages/react-divider/package.json
  packages/react-divider/src/common/isConformant.ts
Labels: Fluent UI vNext

#19617 test(react-image,-text,-card): enable "className" test for mergeClasses()
  change/@fluentui-react-image-7c1ba35d-fc38-4d43-9b47-373e1a7562e8.json
  change/@fluentui-react-text-757fcbf0-34f7-4d50-b294-950f7e306296.json
  packages/react-card/package.json
  packages/react-card/src/common/isConformant.ts
  packages/react-image/package.json
  packages/react-image/src/common/isConformant.ts
  packages/react-text/package.json
  packages/react-text/src/common/isConformant.ts
  packages/react-text/src/components/Text/Text.test.tsx
Labels: Fluent UI vNext

#19622 fix(perf-test): Baseline perf test freezes for unknown test
  apps/perf-test/src/index.scenarios.tsx
Labels: Area: Build System

#19612 MenuButton: Cleaning up implementation and adhering to MenuTrigger contract
  change/@fluentui-react-button-0c8fff19-08fe-4c0a-b83f-5778adb2d482.json
  packages/react-button/etc/react-button.api.md
  packages/react-button/package.json
  packages/react-button/src/MenuButton.stories.tsx
  packages/react-button/src/components/MenuButton/DefaultIcons.tsx
  packages/react-button/src/components/MenuButton/MenuButton.tsx
  packages/react-button/src/components/MenuButton/MenuButton.types.ts
  packages/react-button/src/components/MenuButton/useMenuButtonState.ts
  packages/react-button/src/components/MenuButton/useMenuButtonState.tsx
Labels: Priority 1: High, Component: Button, Component: Menu, Component: MenuButton

#19376 Input: Add styling
  apps/pr-deploy-site/just.config.ts
  apps/pr-deploy-site/pr-deploy-site.js
  packages/react-input/Spec-styling.md
  packages/react-input/bundle-size/Input.fixture.js
  packages/react-input/etc/react-input.api.md
  packages/react-input/package.json
  packages/react-input/src/components/Input/Input.stories.tsx
  packages/react-input/src/components/Input/Input.tsx
  packages/react-input/src/components/Input/Input.types.ts
  packages/react-input/src/components/Input/__snapshots__/Input.test.tsx.snap
  packages/react-input/src/components/Input/useInput.ts
  packages/react-input/src/components/Input/useInputStyles.ts
Labels: Component: Input

#19631 (react-slider) - Addressing a visual bug related to origin and snapping
  packages/react-slider/src/components/Slider/useSliderState.tsx
Labels: Component: Slider

#19603 chore(react-theme): Add theme render perf test
  apps/perf-test/src/index.scenarios.tsx
  apps/perf-test/src/scenarioIterations.js
  apps/perf-test/src/scenarioRenderTypes.js
  apps/perf-test/src/scenarios/FluentProviderWithTheme.tsx
Labels: Area: Build System, Fluent UI vNext

#19377 ChatMessageDetails margin based on reactions
  packages/fluentui/CHANGELOG.md
  packages/fluentui/docs/src/examples/components/Chat/Content/ChatExampleReactionGroup.shorthand.tsx
  packages/fluentui/react-northstar/src/components/Chat/ChatMessage.tsx
  packages/fluentui/react-northstar/src/components/Chat/ChatMessageDetails.tsx
  packages/fluentui/react-northstar/src/themes/teams/components/Chat/chatMessageDetailsStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Chat/chatMessageStylesComfy.ts
Labels: Fluent UI react-northstar

#19611 Azure slider dark
  change/@fluentui-azure-themes-6568f900-b422-4ed8-b032-5306f4abad52.json
  packages/azure-themes/src/azure/AzureColors.ts
  packages/azure-themes/src/azure/AzureThemeDark.ts
  packages/azure-themes/src/azure/AzureThemeHighContrastDark.ts
  packages/azure-themes/src/azure/AzureThemeHighContrastLight.ts
  packages/azure-themes/src/azure/AzureThemeLight.ts
  packages/azure-themes/src/azure/Constants.ts
  packages/azure-themes/src/azure/IAzureSemanticColors.ts
  packages/azure-themes/src/azure/IExtendedSemanticColors.ts
  packages/azure-themes/src/azure/styles/Slider.styles.ts
  packages/react-examples/src/azure-themes/stories/Themes/Themes.stories.tsx
  packages/react-examples/src/azure-themes/stories/components/slider.stories.tsx
Labels: Package: azure-themes

#19630 Cherry Pick: "Azure slider dark #19611"
  change/@fluentui-react-examples-e2bc643a-47af-4c4f-8fd0-dd4e53378907.json
  change/@uifabric-azure-themes-370e021b-3f28-4299-be4b-b8f3383106ec.json
  packages/azure-themes/src/azure/AzureColors.ts
  packages/azure-themes/src/azure/AzureThemeDark.ts
  packages/azure-themes/src/azure/AzureThemeHighContrastDark.ts
  packages/azure-themes/src/azure/AzureThemeHighContrastLight.ts
  packages/azure-themes/src/azure/AzureThemeLight.ts
  packages/azure-themes/src/azure/Constants.ts
  packages/azure-themes/src/azure/IAzureSemanticColors.ts
  packages/azure-themes/src/azure/IExtendedSemanticColors.ts
  packages/azure-themes/src/azure/styles/Slider.styles.ts
  packages/react-examples/src/azure-themes/stories/Themes/Themes.stories.tsx
  packages/react-examples/src/azure-themes/stories/components/slider.stories.tsx
Labels: Fabric 7, Package: azure-themes

#19648 Toggle: Fixing issue where id was not changing if a different one was passed after first render
  change/office-ui-fabric-react-36ea4ebd-740d-4c67-9927-43099f3423b0.json
  packages/office-ui-fabric-react/src/components/Toggle/Toggle.base.tsx
  packages/office-ui-fabric-react/src/components/Toggle/Toggle.test.tsx
Labels: Component: Toggle, Fabric 7, needs cherry-pick

#19509 (react-slider) - Adding a hidden input element
  packages/react-slider/etc/react-slider.api.md
  packages/react-slider/src/Slider.stories.tsx
  packages/react-slider/src/components/Slider/Slider.test.tsx
  packages/react-slider/src/components/Slider/Slider.types.ts
  packages/react-slider/src/components/Slider/__snapshots__/Slider.test.tsx.snap
  packages/react-slider/src/components/Slider/renderSlider.tsx
  packages/react-slider/src/components/Slider/useSlider.ts
  packages/react-slider/src/components/Slider/useSliderState.tsx
  packages/react-slider/src/components/Slider/useSliderStyles.ts
Labels: Component: Slider

#19639 refactor(Link): use `event.key` for keyboard event
  change/@fluentui-react-link-0d19f1a0-0e06-46d2-a260-d03ef2c4ce54.json
  packages/react-link/package.json
  packages/react-link/src/components/Link/useLinkState.ts
Labels: Component: Link

#19638 refactor(Button): use `event.key` for keyboard event
  change/@fluentui-react-button-878d6447-5a95-4a52-97b2-e1adc2e496f7.json
  packages/react-button/package.json
  packages/react-button/src/components/Button/useButtonState.ts
Labels: Component: Button

#19626 Adding EmojiAddIcon, adding filled state to ExclamationCircleIcon
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-icons-northstar/src/components/EmojiAddIcon.tsx
  packages/fluentui/react-icons-northstar/src/components/ExclamationCircleIcon.tsx
  packages/fluentui/react-icons-northstar/src/index.ts
Labels: Fluent UI react-northstar

#19521 react-image: added unit tests
  change/@fluentui-react-image-eec0bd3c-34a7-48c1-a0ba-02ba35409ecd.json
  packages/react-image/src/components/Image/Image.test.tsx
  packages/react-image/src/components/Image/__snapshots__/Image.test.tsx.snap
Labels: Component: Image

#19532 react-image: Added VR tests
  apps/vr-tests/package.json
  apps/vr-tests/src/stories/ImageConverged.stories.tsx
Labels: Component: Image

#19369 feat(react-conformance): add test for callback arguments
  change/@fluentui-react-78f1ba8e-c6a1-4ac7-b096-885b930906f7.json
  change/@fluentui-react-conformance-1461c075-e920-4b98-ad27-2adbf47103e0.json
  change/@fluentui-react-focus-b03ad6a9-7b1f-4117-b122-d8d946630319.json
  packages/fluentui/react-northstar/test/specs/commonTests/isConformant.tsx
  packages/react-conformance/src/defaultErrorMessages.tsx
  packages/react-conformance/src/defaultTests.tsx
  packages/react-conformance/src/isConformant.ts
  packages/react-conformance/src/types.ts
  packages/react-conformance/src/utils/createTsProgram.ts
  packages/react-conformance/src/utils/getCallbackArguments.test.ts
  packages/react-conformance/src/utils/getCallbackArguments.ts
  packages/react-conformance/src/utils/getComponentDoc.ts
  packages/react-focus/src/components/FocusZone/FocusZone.test.tsx
  packages/react/src/common/isConformant.ts
Labels: Priority 1: High, Fluent UI vNext

#19552 Fix shadow values to match redlines across themes.
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/themes/teams-dark/siteVariables.ts
  packages/fluentui/react-northstar/src/themes/teams-high-contrast/siteVariables.ts
  packages/fluentui/react-northstar/src/themes/teams/siteVariables.ts
Labels: Fluent UI react-northstar

#19575 chore: Update package scaffolding to add mergeClasses conformance test
  scripts/create-component/plop-templates-component/src/common/isConformant.ts.hbs
  scripts/create-package/plop-templates-react/package.json.hbs
  scripts/create-package/plopfile.ts
Labels: Fluent UI vNext

#19606 Picker no results found active descendant
  change/@fluentui-react-f37fb572-fa51-4fcf-8bd7-0a8f6b57b4e1.json
  packages/react-examples/src/react/__snapshots__/Announced.SearchResults.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/PeoplePicker.Compact.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/PeoplePicker.Controlled.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/PeoplePicker.LimitedSearch.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/PeoplePicker.List.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/PeoplePicker.Normal.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/PeoplePicker.PreselectedItems.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/PeoplePicker.ProcessSelection.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/TagPicker.Basic.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/TagPicker.Inline.Example.tsx.shot
  packages/react/src/components/pickers/BasePicker.tsx
  packages/react/src/components/pickers/PeoplePicker/__snapshots__/PeoplePicker.test.tsx.snap
  packages/react/src/components/pickers/Suggestions/Suggestions.tsx
  packages/react/src/components/pickers/TagPicker/__snapshots__/TagPicker.test.tsx.snap
  packages/react/src/components/pickers/__snapshots__/BasePicker.test.tsx.snap
Labels: Component: Pickers

#19669 fix(Layer): Put layer mount events after DOM updated
  change/@fluentui-react-f8e8abf7-3b35-40f1-8480-654d2a0fa1e0.json
  packages/react/src/components/Layer/Layer.base.tsx
  packages/react/src/components/Layer/Layer.test.tsx
Labels: Component: Dialog, Component: Layer

#19344 fix(Combobox): Add aria-selected to single-select combobox, fix scroll-to-view behavior on open
  change/@fluentui-react-fefe26e6-3f62-4aaf-960c-63cc828c623f.json
  packages/react-examples/src/react/__snapshots__/Checkbox.Basic.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/Checkbox.Other.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/Facepile.Basic.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/OverflowSet.Custom.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/PeoplePicker.Compact.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/PeoplePicker.Controlled.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/PeoplePicker.LimitedSearch.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/PeoplePicker.List.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/PeoplePicker.Normal.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/PeoplePicker.PreselectedItems.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/PeoplePicker.ProcessSelection.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/Persona.Basic.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/ThemeProvider.Basic.Example.tsx.shot
  packages/react/src/components/Checkbox/Checkbox.base.tsx
  packages/react/src/components/Checkbox/Checkbox.test.tsx
  packages/react/src/components/Checkbox/__snapshots__/Checkbox.test.tsx.snap
  packages/react/src/components/ComboBox/ComboBox.test.tsx
  packages/react/src/components/ComboBox/ComboBox.tsx
  packages/react/src/components/ComboBox/__snapshots__/ComboBox.test.tsx.snap
  packages/react/src/components/Dropdown/__snapshots__/Dropdown.test.tsx.snap
Labels: Area: Accessibility, Component: ComboBox

#19084 Fix Menu & Popup border, box-shadow, and padding
  packages/fluentui/CHANGELOG.md
  packages/fluentui/e2e/tests/popupWithoutTrigger-example.tsx
  packages/fluentui/react-northstar/src/themes/teams/components/Menu/menuVariables.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Popup/popupContentVariables.ts
Labels: Fluent UI react-northstar

#19613 Port #4515 to fix aria-rowindex property in DetailsList is zero-based, which is not supported in office-ui-fabric-react_v5.79.1
  common/changes/office-ui-fabric-react/hotfix_17-office-ui-fabric-react-5.79.1_2021-09-02-01-39.json
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsRow.tsx
Labels: Component: DetailsList, Fabric 5

#19619 Checkbox background fix on zoom above 100%
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/themes/teams/components/Checkbox/checkboxStyles.ts
Labels: Fluent UI react-northstar

#19426 (react-switch) - Adding Spec.md
  packages/react-switch/Spec.md
Labels: Component: Switch

#18829 Pickers: Expose remove icon props
  change/@fluentui-react-73064f2f-ea9b-4699-8b72-eb65e1e48aea.json
  packages/react-examples/src/react/Pickers/Pickers.doc.tsx
  packages/react-examples/src/react/Pickers/TagPicker.CustomRemoveIcon.Example.tsx
  packages/react-examples/src/react/__snapshots__/PeoplePicker.PreselectedItems.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/TagPicker.CustomIcon.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/TagPicker.CustomRemoveIcon.Example.tsx.shot
  packages/react/etc/react.api.md
  packages/react/src/components/pickers/BasePicker.tsx
  packages/react/src/components/pickers/BasePicker.types.ts
  packages/react/src/components/pickers/PeoplePicker/PeoplePickerItems/PeoplePickerItem.tsx
  packages/react/src/components/pickers/PeoplePicker/__snapshots__/PeoplePicker.test.tsx.snap
  packages/react/src/components/pickers/PickerItem.types.ts
  packages/react/src/components/pickers/Suggestions/Suggestions.tsx
  packages/react/src/components/pickers/Suggestions/Suggestions.types.ts
  packages/react/src/components/pickers/Suggestions/SuggestionsItem.tsx
  packages/react/src/components/pickers/Suggestions/SuggestionsItem.types.ts
  packages/react/src/components/pickers/TagPicker/TagItem.tsx
  packages/react/src/components/pickers/TagPicker/__snapshots__/TagItem.test.tsx.snap
  packages/react/src/components/pickers/TagPicker/__snapshots__/TagPicker.test.tsx.snap
Labels: Component: Pickers, Component: TagPicker, Component: PeoplePicker, PR: API Modified

#19696 (react-slider) - Adding examples to the README.md
  packages/react-slider/README.md
Labels: Component: Slider

#19693 (react-slider) - Updating package.json to public
  change/@fluentui-react-slider-9d4b6e4b-3360-462e-878a-7eef24050e68.json
  packages/react-slider/package.json
Labels: Component: Slider

#19710 chore: prepare release react-northstar 0.58.0
  packages/fluentui/CHANGELOG.md
Labels: Fluent UI react-northstar

#19667 fix(Dropdown): add aria-live only when focused
  change/@fluentui-react-87609c16-e599-49cf-91e0-2ac09923a565.json
  packages/react-examples/src/react/__snapshots__/ChoiceGroup.Custom.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/DetailsList.CustomGroupHeaders.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/Dropdown.Basic.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/Dropdown.Controlled.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/Dropdown.ControlledMulti.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/Dropdown.Custom.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/Dropdown.Error.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/Dropdown.Required.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/Facepile.Basic.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/Facepile.Overflow.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/ResizeGroup.OverflowSet.Example.tsx.shot
  packages/react/src/components/Dropdown/Dropdown.base.tsx
  packages/react/src/components/Dropdown/Dropdown.test.tsx
  packages/react/src/components/Dropdown/__snapshots__/Dropdown.test.tsx.snap
Labels: Area: Accessibility, Component: Dropdown, Area: Narrator, Area: NVDA

#19726 (web-components) Updated the default fill color to neutral layer 1
  change/@fluentui-web-components-79361e82-0819-43b5-bb93-6fd3cad41bb0.json
  packages/web-components/.storybook/preview-head.html
  packages/web-components/src/design-tokens.ts
Labels: web-components

#19708 Fixed: Reverse focus order is not proper in the line chart.
  change/@fluentui-react-charting-44a56d43-4438-4700-9c3a-10fd3e6f9d07.json
  packages/react-charting/src/components/LineChart/LineChart.base.tsx
Labels: Package: charting

#19709 Charting: CherryPick #19708: Fixed: Reverse focus order is not proper in the line chart. #19708
  change/@uifabric-charting-4d52e727-3d45-4ffd-83cf-843de32420f5.json
  packages/charting/src/components/LineChart/LineChart.base.tsx
Labels: Package: charting, Fabric 7

#19698 (react-slider) - Adding MIGRATION.md
  change/@fluentui-react-slider-2413a417-d630-4ea4-90c6-ce3d6710998d.json
  packages/react-slider/MIGRATION.md
Labels: Component: Slider

#19731 [web-components] Fix tab panel display
  change/@fluentui-web-components-39a73505-6dd7-40b6-986f-ac3e9a0a9107.json
  packages/web-components/src/tabs/tab-panel/tab-panel.styles.ts
Labels: web-components

#19695 (react-switch) - Basic implementation
  packages/react-switch/.npmignore
  packages/react-switch/.storybook/main.js
  packages/react-switch/README.md
  packages/react-switch/config/api-extractor.local.json
  packages/react-switch/etc/react-switch.api.md
  packages/react-switch/package.json
  packages/react-switch/src/Switch.stories.tsx
  packages/react-switch/src/common/isConformant.ts
  packages/react-switch/src/components/Switch/Switch.test.tsx
  packages/react-switch/src/components/Switch/Switch.tsx
  packages/react-switch/src/components/Switch/Switch.types.ts
  packages/react-switch/src/components/Switch/__snapshots__/Switch.test.tsx.snap
  packages/react-switch/src/components/Switch/renderSwitch.tsx
  packages/react-switch/src/components/Switch/useSwitch.ts
  packages/react-switch/src/components/Switch/useSwitchState.ts
  packages/react-switch/src/components/Switch/useSwitchStyles.ts
  packages/react-switch/tsconfig.json
Labels: Component: Switch

#19732 (react-switch) - Adding bundle size tool
  packages/react-switch/bundle-size/Switch.fixture.js
  packages/react-switch/package.json
Labels: Component: Switch

#19719 fix(migrate-converged-pkg): Add missing `isolatedModules` to tsconfig
  tools/generators/migrate-converged-pkg/index.spec.ts
  tools/generators/migrate-converged-pkg/index.ts
Labels: Area: Build System

#19671 Customize picker search for more icon for Suggestions
  change/@fluentui-react-c61ebf99-c8f7-4f1f-9e55-73309b76987b.json
  packages/react/etc/react.api.md
  packages/react/src/components/pickers/BasePicker.types.ts
  packages/react/src/components/pickers/Suggestions/Suggestions.tsx
  packages/react/src/components/pickers/Suggestions/Suggestions.types.ts
Labels: Component: Pickers, PR: API Modified

#19733 (react-switch) - Adding VR tests
  apps/vr-tests/package.json
  apps/vr-tests/src/stories/SwitchNext.stories.tsx
Labels: Component: Switch

#19735 (react-switch) - Updating package.json to public
  change/@fluentui-react-switch-677854a4-845a-4d58-906a-32465556e521.json
  packages/react-switch/package.json
Labels: Component: Switch

#19734 (react-switch) - Adding MIGRATION.md
  change/@fluentui-react-slider-6cb39555-9ede-4b05-baac-0d9cad3907da.json
  packages/react-slider/MIGRATION.md
  packages/react-switch/MIGRATION.md
Labels: Component: Switch

#19642 Add ElementShorthandProps type for slots that use intrinsic elements like `div` or `span`
  change/@fluentui-react-accordion-d0282772-ac1e-422f-8ec3-62e460092c8a.json
  change/@fluentui-react-aria-22f0f916-0749-49f0-b42b-b724139e8fc0.json
  change/@fluentui-react-menu-b7019bb2-a219-445e-9188-df359dba6c5b.json
  change/@fluentui-react-slider-cc7bd0cd-4718-4028-8d64-642b07c33c72.json
  change/@fluentui-react-utilities-f8fccb28-8197-447b-8063-0d4ea489ee33.json
  packages/react-accordion/etc/react-accordion.api.md
  packages/react-accordion/src/components/Accordion/Accordion.tsx
  packages/react-accordion/src/components/Accordion/Accordion.types.ts
  packages/react-accordion/src/components/AccordionHeader/AccordionHeader.tsx
  packages/react-accordion/src/components/AccordionHeader/AccordionHeader.types.ts
  packages/react-accordion/src/components/AccordionHeader/AccordionHeaderExpandIcon.tsx
  packages/react-accordion/src/components/AccordionHeader/useAccordionHeader.ts
  packages/react-accordion/src/components/AccordionItem/AccordionItem.types.ts
  packages/react-accordion/src/components/AccordionPanel/AccordionPanel.types.ts
  packages/react-aria/etc/react-aria.api.md
  packages/react-aria/src/hooks/useARIAButton.stories.tsx
  packages/react-aria/src/hooks/useARIAButton.ts
  packages/react-input/etc/react-input.api.md
  packages/react-input/src/components/Input/Input.types.ts
  packages/react-menu/etc/react-menu.api.md
  packages/react-menu/src/components/MenuDivider/MenuDivider.tsx
  packages/react-menu/src/components/MenuDivider/MenuDivider.types.ts
  packages/react-menu/src/components/MenuGroup/MenuGroup.tsx
  packages/react-menu/src/components/MenuGroup/MenuGroup.types.ts
  packages/react-menu/src/components/MenuGroupHeader/MenuGroupHeader.tsx
  packages/react-menu/src/components/MenuGroupHeader/MenuGroupHeader.types.ts
  packages/react-menu/src/components/MenuItem/MenuItem.types.ts
  packages/react-menu/src/components/MenuItem/useCharacterSearch.ts
  packages/react-menu/src/components/MenuItem/useMenuItem.tsx
  packages/react-menu/src/components/MenuList/MenuList.tsx
  packages/react-menu/src/components/MenuList/MenuList.types.ts
  packages/react-menu/src/components/MenuPopover/MenuPopover.types.ts
  packages/react-slider/etc/react-slider.api.md
  packages/react-slider/src/components/Slider/Slider.types.ts
  packages/react-slider/src/components/Slider/useSlider.ts
  packages/react-switch/etc/react-switch.api.md
  packages/react-switch/src/components/Switch/Switch.tsx
  packages/react-switch/src/components/Switch/Switch.types.ts
  packages/react-switch/src/components/Switch/useSwitch.ts
  packages/react-utilities/etc/react-utilities.api.md
  packages/react-utilities/src/compose/getSlots.test.tsx
  packages/react-utilities/src/compose/types.ts
Labels: Priority 1: High

#19740 update date
  packages/fluentui/CHANGELOG.md
Labels: Fluent UI react-northstar

#19739 chore: prepare release react-northstar 0.58.0
  packages/fluentui/CHANGELOG.md
  packages/fluentui/ability-attributes/package.json
  packages/fluentui/accessibility/package.json
  packages/fluentui/circulars-test/package.json
  packages/fluentui/code-sandbox/package.json
  packages/fluentui/digest/package.json
  packages/fluentui/docs-components/package.json
  packages/fluentui/docs/package.json
  packages/fluentui/e2e/package.json
  packages/fluentui/lerna.json
  packages/fluentui/local-sandbox/package.json
  packages/fluentui/perf-test/package.json
  packages/fluentui/perf/package.json
  packages/fluentui/projects-test/package.json
  packages/fluentui/react-bindings/package.json
  packages/fluentui/react-builder/package.json
  packages/fluentui/react-component-event-listener/package.json
  packages/fluentui/react-component-nesting-registry/package.json
  packages/fluentui/react-component-ref/package.json
  packages/fluentui/react-icons-northstar/package.json
  packages/fluentui/react-northstar-emotion-renderer/package.json
  packages/fluentui/react-northstar-fela-renderer/package.json
  packages/fluentui/react-northstar-prototypes/package.json
  packages/fluentui/react-northstar-styles-renderer/package.json
  packages/fluentui/react-northstar/package.json
  packages/fluentui/react-proptypes/package.json
  packages/fluentui/react-telemetry/package.json
  packages/fluentui/state/package.json
  packages/fluentui/styles/package.json
Labels: Fluent UI react-northstar

#19712 chore(release): New NX generator to migrate fixed version dependencies
  tools/generators/migrate-converged-pkg/index.ts
  tools/generators/migrate-fixed-versions/README.md
  tools/generators/migrate-fixed-versions/index.spec.ts
  tools/generators/migrate-fixed-versions/index.ts
  tools/generators/migrate-fixed-versions/schema.json
  tools/generators/migrate-fixed-versions/schema.ts
  tools/utils.ts
Labels: Area: Build System

#19691 chore(react-components): Use beachball groupped changelog
  scripts/beachball/index.ts
Labels: Area: Build System

#19750 fix(migrate-fixed-dependencies): Handle dev dependencies and utilities
  tools/generators/migrate-fixed-versions/index.spec.ts
  tools/generators/migrate-fixed-versions/index.ts
Labels: Area: Build System

#19751 chore(react-portal): use simplified prop merging
  change/@fluentui-react-portal-5bcfe3d0-3d56-4a24-9cd9-2ca92290614e.json
  packages/react-portal/etc/react-portal.api.md
  packages/react-portal/src/components/Portal/Portal.types.ts
  packages/react-portal/src/components/Portal/usePortal.ts
Labels: Fluent UI vNext

#19699 Improve component playground overflow
  packages/fluentui/docs-components/src/knobs/defaultComponents.tsx
  packages/fluentui/docs/src/components/ComponentPlayground/ComponentPlaygroundTemplate.tsx
Labels: Fluent UI react-northstar

#19744 chore(react-provider): use simplified prop merging
  change/@fluentui-react-provider-693ca60b-3600-4a5d-9704-3fb9c3b2cd47.json
  packages/react-provider/etc/react-provider.api.md
  packages/react-provider/src/components/FluentProvider/FluentProvider.test.tsx
  packages/react-provider/src/components/FluentProvider/FluentProvider.types.ts
  packages/react-provider/src/components/FluentProvider/renderFluentProvider.tsx
  packages/react-provider/src/components/FluentProvider/useFluentProvider.ts
  packages/react-provider/src/components/FluentProvider/useFluentProviderContextValues.ts
  packages/react-provider/src/components/FluentProvider/useFluentProviderStyles.ts
Labels: Fluent UI vNext

#19702 Add Chat Playground
  packages/fluentui/CHANGELOG.md
  packages/fluentui/docs/src/components/ComponentPlayground/ComponentPlayground.tsx
  packages/fluentui/docs/src/examples/components/Chat/Playground.tsx
Labels: Fluent UI react-northstar

#19742 Use Provider for editor-menu styling
  packages/fluentui/docs/src/components/ComponentDoc/ComponentExample/ComponentExample.tsx
Labels: Fluent UI react-northstar

#19082 Update beachball, lage, and workspace-tools
  package.json
  yarn.lock
Labels: Area: Build System

#19737 Cherrypick tschao/customize picker search for more icon
  change/office-ui-fabric-react-84d914cc-f2ba-48f5-9902-0cdc125df8d5.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/pickers/BasePicker.types.ts
  packages/office-ui-fabric-react/src/components/pickers/Suggestions/Suggestions.tsx
  packages/office-ui-fabric-react/src/components/pickers/Suggestions/Suggestions.types.ts
Labels: Fabric 7, PR: API Modified

#19749 chore: update iframe content in e2e test
  packages/fluentui/e2e/tests/popupIframeDismiss-example.tsx
  packages/fluentui/e2e/tests/popupIframeDismiss.spec.ts
Labels: AutoMerge, Fluent UI react-northstar

#19738 Backspace does not work in BaseExtendedPicker in projection popout windows
  change/@fluentui-react-1fa89b42-50f3-4b05-bbf8-37e4f27e94a4.json
  packages/react/src/components/ExtendedPicker/BaseExtendedPicker.tsx
Labels: Component: ExtendedPicker, AutoMerge

#19539 Combobox: add select all functionality
  change/@fluentui-react-f2b44103-d55d-4644-99e1-768784827f9d.json
  packages/react-examples/src/react/ComboBox/ComboBox.SelectAll.Example.tsx
  packages/react-examples/src/react/ComboBox/ComboBox.doc.tsx
  packages/react-examples/src/react/__snapshots__/ComboBox.SelectAll.Example.tsx.shot
  packages/react/etc/react.api.md
  packages/react/src/components/ComboBox/ComboBox.test.tsx
  packages/react/src/components/ComboBox/ComboBox.tsx
  packages/react/src/utilities/selectableOption/SelectableOption.types.ts
Labels: Component: ComboBox, PR: API Modified

#19756 (web components) add base class support to wc
  change/@fluentui-web-components-488199db-3435-4882-ad28-317c17da5050.json
  packages/web-components/package.json
  packages/web-components/src/anchor/index.ts
  packages/web-components/src/badge/index.ts
  packages/web-components/src/button/index.ts
  packages/web-components/src/card/index.ts
  packages/web-components/src/combobox/index.ts
  packages/web-components/src/horizontal-scroll/index.ts
  packages/web-components/src/number-field/index.ts
  packages/web-components/src/select/index.ts
  packages/web-components/src/text-area/index.ts
  packages/web-components/src/text-field/index.ts
  packages/web-components/src/tooltip/index.ts
  yarn.lock
Labels: web-components

#19758 fix(ChoiceGroup): add better guidance for image + text strings, and update the example
  packages/react-examples/src/react/ChoiceGroup/ChoiceGroup.Image.Example.tsx
  packages/react-examples/src/react/ChoiceGroup/docs/ChoiceGroupBestPractices.md
  packages/react-examples/src/react/__snapshots__/ChoiceGroup.Image.Example.tsx.shot
Labels: Area: Website

#19674 Azure theme 7.0 placeholder text contrast ratio fix
  change/@uifabric-azure-themes-12c9408d-21a4-41c3-8114-a0ecd39c89f6.json
  packages/azure-themes/src/azure/AzureColors.ts
  packages/azure-themes/src/azure/styles/DefaultButton.styles.ts
  packages/azure-themes/src/azure/styles/DropDown.styles.ts
  packages/azure-themes/src/azure/styles/TextField.styles.ts
Labels: Fabric 7, Package: azure-themes, needs cherry-pick

#19761 Breaking(Colors): Removing Red Foreground 3 color token
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/themes/teams-dark/colors.ts
  packages/fluentui/react-northstar/src/themes/teams-high-contrast/colors.ts
  packages/fluentui/react-northstar/src/themes/teams/colors.ts
Labels: Fluent UI react-northstar

#19759 fix(MessageBar): tweak example page styles for reflow
  packages/react-examples/src/react/MessageBar/MessageBar.Basic.Example.tsx
Labels: Area: Website

#19780 fix(ContextualMenu): add usage note to ContextualMenu header example
  packages/react-examples/src/react/ContextualMenu/ContextualMenu.Header.Example.tsx
Labels: Area: Website

#19705 Port #4238 to fix activedescendant so it no longer has sug--1 if nothing is selected in Pickers
  common/changes/office-ui-fabric-react/hotfix_18-office-ui-fabric-react-5.79.1_2021-09-09-05-57.json
  packages/office-ui-fabric-react/src/components/pickers/BasePicker.tsx
Labels: Component: Pickers, Fabric 5

#19707 Port #9163 to update expand button's aria label to include link name in Nav
  common/changes/office-ui-fabric-react/hotfix_19-office-ui-fabric-react-5.79.1_2021-09-09-08-09.json
  packages/office-ui-fabric-react/src/components/Nav/Nav.base.tsx
  packages/office-ui-fabric-react/src/components/Nav/Nav.types.ts
Labels: Component: Nav, Fabric 5

#19760 defaultRenderer argument for the onRenderIcon of ContextualMenuItem
  change/@fluentui-react-b41885f4-e7ac-4dfc-90de-0f524330a59b.json
  packages/react/src/components/ContextualMenu/ContextualMenuItem.base.tsx
Labels: Component: ContextualMenu

#19646 react-card - Phase 1
  apps/perf-test/package.json
  apps/vr-tests/package.json
  change/@fluentui-react-card-d10c5e30-8379-4c67-9d4a-f46ba3ee5e7e.json
  change/@fluentui-react-components-a49b26f2-7800-483e-8ce6-eb7df7f556cc.json
  packages/react-card/.npmignore
  packages/react-card/.storybook/main.js
  packages/react-card/assets/ai_deck_template.png
  packages/react-card/assets/avatar_elvia.svg
  packages/react-card/assets/avatar_mauricio.svg
  packages/react-card/assets/doc_template.png
  packages/react-card/assets/powerpoint_logo.svg
  packages/react-card/assets/sales_template.png
  packages/react-card/assets/word_logo.svg
  packages/react-card/config/api-extractor.local.json
  packages/react-card/etc/react-card.api.md
  packages/react-card/package.json
  packages/react-card/src/CardFooter.ts
  packages/react-card/src/CardHeader.ts
  packages/react-card/src/CardPreview.ts
  packages/react-card/src/components/Card.stories.tsx
  packages/react-card/src/components/Card/Card.tsx
  packages/react-card/src/components/Card/__snapshots__/Card.test.tsx.snap
  packages/react-card/src/components/Card/renderCard.tsx
  packages/react-card/src/components/Card/useCard.ts
  packages/react-card/src/components/Card/useCardStyles.ts
  packages/react-card/src/components/CardFooter/CardFooter.test.tsx
  packages/react-card/src/components/CardFooter/CardFooter.tsx
  packages/react-card/src/components/CardFooter/CardFooter.types.ts
  packages/react-card/src/components/CardFooter/__snapshots__/CardFooter.test.tsx.snap
  packages/react-card/src/components/CardFooter/index.ts
  packages/react-card/src/components/CardFooter/renderCardFooter.tsx
  packages/react-card/src/components/CardFooter/useCardFooter.ts
  packages/react-card/src/components/CardFooter/useCardFooterStyles.ts
  packages/react-card/src/components/CardHeader/CardHeader.test.tsx
  packages/react-card/src/components/CardHeader/CardHeader.tsx
  packages/react-card/src/components/CardHeader/CardHeader.types.ts
  packages/react-card/src/components/CardHeader/__snapshots__/CardHeader.test.tsx.snap
  packages/react-card/src/components/CardHeader/index.ts
  packages/react-card/src/components/CardHeader/renderCardHeader.tsx
  packages/react-card/src/components/CardHeader/useCardHeader.ts
  packages/react-card/src/components/CardHeader/useCardHeaderStyles.ts
  packages/react-card/src/components/CardPreview/CardPreview.test.tsx
  packages/react-card/src/components/CardPreview/CardPreview.tsx
  packages/react-card/src/components/CardPreview/CardPreview.types.ts
  packages/react-card/src/components/CardPreview/__snapshots__/CardPreview.test.tsx.snap
  packages/react-card/src/components/CardPreview/index.ts
  packages/react-card/src/components/CardPreview/renderCardPreview.tsx
  packages/react-card/src/components/CardPreview/useCardPreview.ts
  packages/react-card/src/components/CardPreview/useCardPreviewStyles.ts
  packages/react-card/src/index.ts
  packages/react-card/tsconfig.json
  packages/react-components/package.json
  packages/react-components/src/unstable/index.ts
Labels: Type: Feature, Component: Card

#19745 react-image: Migrate to simplified slots
  change/@fluentui-react-image-9142fc98-0dd2-4c38-8a21-7dccbbe21ae2.json
  packages/react-image/etc/react-image.api.md
  packages/react-image/src/common/isConformant.ts
  packages/react-image/src/components/Image/Image.tsx
  packages/react-image/src/components/Image/Image.types.ts
  packages/react-image/src/components/Image/renderImage.tsx
  packages/react-image/src/components/Image/useImage.ts
  packages/react-image/src/components/Image/useImageStyles.ts
Labels: Component: Image

#19720 Show highlight on keyboard-focus only
  packages/fluentui/CHANGELOG.md
  packages/fluentui/docs/src/examples/components/Chat/Types/ChatExampleCompact.shorthand.steps.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Chat/chatMessageStylesCompact.ts
Labels: Fluent UI react-northstar

#19155 feat: add web components toolbar
  change/@fluentui-web-components-befdf28c-0bd2-48cc-8075-55b3684202e2.json
  packages/web-components/docs/api-report.md
  packages/web-components/package.json
  packages/web-components/src/custom-elements.ts
  packages/web-components/src/index.ts
  packages/web-components/src/styles/size.ts
  packages/web-components/src/toolbar/fixtures/toolbar.html
  packages/web-components/src/toolbar/index.ts
  packages/web-components/src/toolbar/toolbar.stories.ts
  packages/web-components/src/toolbar/toolbar.styles.ts
  packages/web-components/src/toolbar/toolbar.vscode.definition.json
  yarn.lock
Labels: web-components

#19701 Ignore contentPosition in compact density
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/themes/teams/components/Chat/chatItemStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Chat/chatItemStylesComfy.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Chat/chatItemStylesCompact.ts
Labels: Fluent UI react-northstar

#19651 RFC: Use fixed versions for `@fluentui` dependencies in prerelease
  rfcs/convergence/fixed-versions-for-prerelease.md
Labels: Type: RFC

#19774 Details list fix flickering hscroll
  change/@fluentui-react-725467e3-020e-443b-b050-18b6ba611078.json
  packages/react/src/components/DetailsList/DetailsList.test.tsx
  packages/react/src/components/DetailsList/__snapshots__/DetailsList.test.tsx.snap
  packages/react/src/utilities/decorators/withViewport.tsx
Labels: Component: DetailsList

#19793 Fix IntrinsicShorthandProps used in the root slot with multiple possible `as` values
  change/@fluentui-react-accordion-9e985cba-ae11-4793-b7cc-f67bd986f7b9.json
  change/@fluentui-react-image-315dc2eb-2971-452f-9b22-f99735a4dd77.json
  change/@fluentui-react-menu-da4d62e1-578e-48aa-98d9-bfcd5483f2c3.json
  change/@fluentui-react-popover-b9f6ed78-4c86-432f-881e-7b08601c9295.json
  change/@fluentui-react-provider-10fd729b-6b3c-4c72-a01d-14e705075123.json
  change/@fluentui-react-slider-d42281bd-1ba9-4b7f-a171-b720323dfaeb.json
  change/@fluentui-react-switch-b88f8f45-873b-4cbc-9df4-be44baf83f78.json
  change/@fluentui-react-utilities-57b93c1a-4d9a-4e7f-9cd9-b0ea34a6ee72.json
  packages/react-accordion/etc/react-accordion.api.md
  packages/react-accordion/src/components/Accordion/Accordion.tsx
  packages/react-accordion/src/components/AccordionHeader/AccordionHeader.tsx
  packages/react-image/etc/react-image.api.md
  packages/react-image/src/components/Image/Image.tsx
  packages/react-input/etc/react-input.api.md
  packages/react-input/src/components/Input/Input.tsx
  packages/react-menu/etc/react-menu.api.md
  packages/react-menu/src/components/MenuDivider/MenuDivider.tsx
  packages/react-menu/src/components/MenuGroup/MenuGroup.tsx
  packages/react-menu/src/components/MenuGroupHeader/MenuGroupHeader.tsx
  packages/react-menu/src/components/MenuList/MenuList.tsx
  packages/react-popover/etc/react-popover.api.md
  packages/react-provider/etc/react-provider.api.md
  packages/react-slider/etc/react-slider.api.md
  packages/react-switch/etc/react-switch.api.md
  packages/react-switch/src/components/Switch/Switch.tsx
  packages/react-utilities/etc/react-utilities.api.md
  packages/react-utilities/src/compose/getSlots.ts
  packages/react-utilities/src/compose/types.ts
Labels: Priority 1: High

#18806 Add proper test for CRA template
  change/@fluentui-cra-template-c4086ae4-4603-4630-9ec2-5d8e7ea7e2dc.json
  package.json
  packages/cra-template/.npmignore
  packages/cra-template/README.md
  packages/cra-template/package.json
  packages/cra-template/scripts/test.ts
  packages/fluentui/projects-test/package.json
  packages/fluentui/projects-test/src/createReactApp.ts
  packages/fluentui/projects-test/src/nextjs.ts
  packages/fluentui/projects-test/src/rollup.ts
  packages/fluentui/projects-test/src/typings.ts
  scripts/package.json
  scripts/projects-test/createReactApp.ts
  scripts/projects-test/index.ts
  scripts/projects-test/packPackages.ts
  scripts/projects-test/performBrowserTest.ts
  scripts/projects-test/utils.ts
  yarn.lock
Labels: Area: Build System, Area: Testing

#19813 Ported viewport fix to 7.0
  change/office-ui-fabric-react-24a1d857-4f53-43b4-b031-0586daed6ca6.json
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsList.test.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/__snapshots__/DetailsList.test.tsx.snap
  packages/office-ui-fabric-react/src/utilities/decorators/withViewport.tsx
Labels: Component: DetailsList, Fabric 7, needs cherry-pick

#19815 (react-slider) - Adding missing theme token for mark background
  change/@fluentui-react-slider-209a5408-82e6-4813-98b8-decc9c9abacb.json
  packages/react-slider/src/components/Slider/useSliderStyles.ts
Labels: Component: Slider

#19804 refactor(react-conformance-make-styles): react-conformance as dev deps
  change/@fluentui-react-conformance-make-styles-d405339d-5a31-4ad7-bf1c-dd65a5afdfdc.json
  packages/react-conformance-make-styles/README.md
  packages/react-conformance-make-styles/package.json
Labels: Area: Build System

#19687 react-image: added storybook documentation
  change/@fluentui-react-image-18491a6e-20e4-45ba-a50a-4105258f0601.json
  packages/react-image/etc/react-image.api.md
  packages/react-image/src/components/Image/Image.tsx
  packages/react-image/src/stories/Image.stories.tsx
  packages/react-image/src/stories/ImageBestPractices.md
  packages/react-image/src/stories/ImageDescription.md
Labels: Area: Documentation, Component: Image

#19668 (react-slider) - Splitting up logic into utils folder
  change/@fluentui-react-slider-eb0d4802-77fd-455d-a7d3-f207ebc2b14c.json
  packages/react-slider/etc/react-slider.api.md
  packages/react-slider/src/components/Slider/Slider.tsx
  packages/react-slider/src/components/Slider/index.ts
  packages/react-slider/src/components/Slider/useSliderState.tsx
  packages/react-slider/src/components/Slider/useSliderStyles.ts
  packages/react-slider/src/utils/calculateSteps.ts
  packages/react-slider/src/utils/clamp.ts
  packages/react-slider/src/utils/getKeydownValue.ts
  packages/react-slider/src/utils/getMarkPercent.ts
  packages/react-slider/src/utils/getMarkValues.ts
  packages/react-slider/src/utils/getPercent.ts
  packages/react-slider/src/utils/getRTLSafeKey.ts
  packages/react-slider/src/utils/index.ts
  packages/react-slider/src/utils/on.ts
  packages/react-slider/src/utils/renderMarks.tsx
Labels: Component: Slider

#19829 implement PaletteRGB.closestIndexOf cache
  change/@fluentui-web-components-968fea0d-db58-4d9a-92e5-1f7dc21569f2.json
  packages/web-components/src/color/palette.ts
Labels: web-components

#19830 (web-components) fix slider thumb math
  change/@fluentui-web-components-51676107-d167-42f3-a337-756bb151da59.json
  packages/web-components/src/slider/slider.styles.ts
Labels: web-components

#19614 Link: Refactor to use simplified prop merging
  apps/vr-tests/src/stories/LinkConverged.stories.tsx
  change/@fluentui-react-button-dc9098ab-bea0-4a34-a078-d4cb1241276a.json
  change/@fluentui-react-link-0147388e-0366-43a9-b63e-64ec52a65806.json
  packages/a11y-testing/src/definitions/Link/linkBehaviorDefinition.ts
  packages/react-button/etc/react-button.api.md
  packages/react-button/src/components/Button/useButton.ts
  packages/react-button/src/components/Button/useButtonState.ts
  packages/react-button/src/components/CompoundButton/useCompoundButton.ts
  packages/react-button/src/components/MenuButton/useMenuButton.ts
  packages/react-button/src/components/MenuButton/useMenuButtonState.tsx
  packages/react-button/src/components/ToggleButton/useToggleButton.ts
  packages/react-link/etc/react-link.api.md
  packages/react-link/src/common/isConformant.ts
  packages/react-link/src/components/Link/Link.test.tsx
  packages/react-link/src/components/Link/Link.tsx
  packages/react-link/src/components/Link/Link.types.ts
  packages/react-link/src/components/Link/renderLink.tsx
  packages/react-link/src/components/Link/useLink.ts
  packages/react-link/src/components/Link/useLinkState.ts
  packages/react-link/src/components/Link/useLinkStyles.ts
Labels: Priority 1: High, Component: Link

#19836 (web components) - fix toolbar storybook location
  change/@fluentui-web-components-753d73c0-5c1a-4df0-8dfd-f47f26ad3dbd.json
  packages/web-components/src/toolbar/toolbar.stories.ts
Labels: web-components

#19805 Menu: Making MenuTrigger accept as children function components which customize where props go
  change/@fluentui-react-button-92cc8ea9-60d6-48e3-bab7-eb0ff8a63f56.json
  change/@fluentui-react-menu-e1e8a8ae-9b11-4996-9c66-91596700e50c.json
  change/@fluentui-react-tooltip-02dcf1a6-4e6f-48b2-973d-63de7efd6ce3.json
  change/@fluentui-react-utilities-4f62b6c9-0db1-4b9d-9cf2-af095c58717c.json
  packages/react-button/etc/react-button.api.md
  packages/react-button/src/components/MenuButton/MenuButton.types.ts
  packages/react-menu/etc/react-menu.api.md
  packages/react-menu/src/components/MenuTrigger/MenuTrigger.types.ts
  packages/react-menu/src/components/MenuTrigger/useTriggerElement.test.tsx
  packages/react-menu/src/components/MenuTrigger/useTriggerElement.ts
  packages/react-menu/src/stories/Menu.stories.tsx
  packages/react-menu/src/stories/MenuRenderFunctionTrigger.stories.tsx
  packages/react-tooltip/src/components/Tooltip/useTooltip.tsx
  packages/react-utilities/etc/react-utilities.api.md
  packages/react-utilities/src/utils/applyTriggerPropsToChildren.test.tsx
  packages/react-utilities/src/utils/applyTriggerPropsToChildren.ts
  packages/react-utilities/src/utils/index.ts
Labels: Priority 2: Normal, Component: Tooltip, Package: utilities, Component: Menu

#19799 chore(nx-generator): Replace internal dev dependency versions with `*`
  tools/generators/star-dev-deps/README.md
  tools/generators/star-dev-deps/config.ts
  tools/generators/star-dev-deps/index.spec.ts
  tools/generators/star-dev-deps/index.ts
  tools/generators/star-dev-deps/schema.json
  tools/generators/star-dev-deps/schema.ts
Labels: Area: Build System

#19833 chore(make-styles): Remove unnecessary `@fluentui/test-utilities` dev dependency
  change/@fluentui-make-styles-cb25c47f-2773-4482-96b5-5a7fd6a8725b.json
  change/@fluentui-react-shared-contexts-c4a43c7f-08e9-4702-b53c-1e07d8b36c45.json
  packages/make-styles/package.json
  packages/react-shared-contexts/package.json
Labels: Area: Build System

#19688 react-image: removed conditional aria-hidden
  change/@fluentui-react-image-c5d4eb44-3aca-40d3-9513-9598ab9d6b79.json
  packages/react-image/src/components/Image/useImage.ts
Labels: Component: Image

#19846 fix(tooling): Update type import in create-package
  scripts/create-package/plopfile.ts
Labels: Area: Build System

#19820 fix: open submenu on arrow right for children api
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/components/Menu/MenuItem.tsx
  packages/fluentui/react-northstar/test/specs/components/Menu/Menu-test.tsx
Labels: Fluent UI react-northstar

#19811 Panel: isFooterAtBottom prop now working as expected
  apps/vr-tests/src/stories/Panel.stories.tsx
  change/@fluentui-react-7932796b-f453-45d5-b72f-8c3191e35095.json
  packages/react/src/components/Panel/Panel.styles.ts
Labels: Component: Panel

#19837 (react-switch) - Adding missing theme tokens and updating styles
  change/@fluentui-react-switch-7c49c31c-8f31-4fc8-9e54-aa1fe8e168df.json
  packages/react-switch/src/components/Switch/useSwitchStyles.ts
Labels: Component: Switch

#19524 Charting: Fix AreaChart rendering when using dates with only differing times
  change/@fluentui-react-charting-7fabb26c-f9e4-4f37-b5be-589800ec4f3c.json
  packages/react-charting/src/components/AreaChart/AreaChart.base.tsx
Labels: Package: charting

#19855 Rename "check for changed files" to "check for modified files"
  .devops/templates/cleanup.yml
  azure-pipelines.hotfix.yml
  azure-pipelines.release.yml
  azure-pipelines.yml
  package.json
Labels: Area: Build System

#18290 SplitButton: Re-introducing SplitButton using the latest version of makeStyles
  change/@fluentui-react-button-2c3b8534-5b8a-40d3-8177-f1775b576b36.json
  change/@fluentui-react-examples-b258e76e-d684-4cb5-980c-e93e5598fd0e.json
  packages/react-button/bundle-size/SplitButton.fixture.js
  packages/react-button/etc/react-button.api.md
  packages/react-button/src/CompoundButton.stories.tsx
  packages/react-button/src/MenuButton.stories.tsx
  packages/react-button/src/Playground.stories.tsx
  packages/react-button/src/SplitButton.stories.tsx
  packages/react-button/src/SplitButton.ts
  packages/react-button/src/components/Button/renderButton.tsx
  packages/react-button/src/components/Button/useButtonStyles.ts
  packages/react-button/src/components/CompoundButton/renderCompoundButton.tsx
  packages/react-button/src/components/CompoundButton/useCompoundButtonStyles.ts
  packages/react-button/src/components/MenuButton/renderMenuButton.tsx
  packages/react-button/src/components/MenuButton/useMenuButton.ts
  packages/react-button/src/components/MenuButton/useMenuButtonState.tsx
  packages/react-button/src/components/MenuButton/useMenuButtonStyles.ts
  packages/react-button/src/components/SplitButton/SplitButton.test.tsx
  packages/react-button/src/components/SplitButton/SplitButton.tsx
  packages/react-button/src/components/SplitButton/SplitButton.types.ts
  packages/react-button/src/components/SplitButton/index.ts
  packages/react-button/src/components/SplitButton/renderSplitButton.tsx
  packages/react-button/src/components/SplitButton/useSplitButton.ts
  packages/react-button/src/components/SplitButton/useSplitButtonStyles.ts
  packages/react-button/src/components/ToggleButton/useToggleButtonStyles.ts
  packages/react-button/src/index.ts
Labels: Component: SplitButton

#19844 fix(Link): use `keyboard-keys` package
  change/@fluentui-react-link-a13c9f93-8c38-40ff-8716-55af7ac2a5d3.json
  packages/react-link/src/components/Link/useLinkState.ts
Labels: Component: Link

#19817 fix(Popup): remove 'overflow:hidden' from Popup autoSize to show boxShadow
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/themes/teams/components/Popup/popupContentStyles.ts
Labels: Fluent UI react-northstar

#19861 chore: prepare release react-northstar 0.59.0
  packages/fluentui/CHANGELOG.md
  packages/fluentui/docs/src/examples/components/Chat/Types/ChatExampleBold.shorthand.tsx
  packages/fluentui/docs/src/examples/components/Chat/Types/index.tsx
  packages/fluentui/react-northstar/src/components/Chat/Chat.tsx
  packages/fluentui/react-northstar/src/components/Chat/ChatMessage.tsx
  packages/fluentui/react-northstar/src/components/Chat/chatBubbleThemeContext.ts
  packages/fluentui/react-northstar/src/themes/teams-dark-v2/siteVariables.ts
  packages/fluentui/react-northstar/src/themes/teams-dark/colors.ts
  packages/fluentui/react-northstar/src/themes/teams-high-contrast/colors.ts
  packages/fluentui/react-northstar/src/themes/teams-v2/siteVariables.ts
  packages/fluentui/react-northstar/src/themes/teams/colors.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Chat/chatMessageStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Chat/chatMessageStylesComfy.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Chat/chatMessageVariables.ts
Labels: Fluent UI react-northstar

#19856 Theme: Updating value of borderRadius global token
  change/@fluentui-react-theme-054eefde-31dc-4278-a07f-c512803787b2.json
  packages/react-theme/src/global/borderRadius.ts
Labels: AutoMerge

#18983 RFC: Customizing application of native element props and ref
  rfcs/convergence/native-element-props.md
Labels: Priority 2: Normal, Fluent UI vNext, Type: RFC

#19853 Remove docCategory tags from converged components
  change/@fluentui-react-badge-e8020102-523c-4446-8fbb-37e8a418e617.json
  change/@fluentui-react-divider-f711bf06-2155-4b57-9188-d28d55a2c9d1.json
  change/@fluentui-react-icon-provider-33c12d6a-f621-4ae2-9ac3-46f80e5151fa.json
  change/@fluentui-react-label-7ed1d9f3-5c8b-4656-8c00-410e20551399.json
  change/@fluentui-react-menu-3cf4ed2f-48db-4b10-926a-e5d9fdfac783.json
  change/@fluentui-react-shared-contexts-81a68f5c-c5e6-4529-a03d-270b15681db1.json
  change/@fluentui-react-tabs-8c315c8f-fb77-457c-9849-09e73afe04b6.json
  change/@fluentui-react-tooltip-21b33567-9669-434b-a4d7-7ab630dc34f0.json
  packages/react-badge/Spec.md
  packages/react-badge/src/components/Badge/Badge.tsx
  packages/react-badge/src/components/Badge/Badge.types.ts
  packages/react-badge/src/components/CounterBadge/CounterBadge.tsx
  packages/react-badge/src/components/CounterBadge/CounterBadge.types.ts
  packages/react-badge/src/components/PresenceBadge/PresenceBadge.tsx
  packages/react-badge/src/components/PresenceBadge/PresenceBadge.types.ts
  packages/react-divider/src/components/Divider/Divider.tsx
  packages/react-divider/src/components/Divider/Divider.types.ts
  packages/react-icon-provider/src/IconProvider.types.ts
  packages/react-label/Spec.md
  packages/react-label/src/components/Label/Label.tsx
  packages/react-label/src/components/Label/Label.types.ts
  packages/react-label/src/components/Label/renderLabel.tsx
  packages/react-label/src/components/Label/useLabel.tsx
  packages/react-menu/src/components/Menu/Menu.tsx
  packages/react-menu/src/components/Menu/Menu.types.ts
  packages/react-menu/src/components/Menu/renderMenu.tsx
  packages/react-menu/src/components/Menu/useMenu.tsx
  packages/react-menu/src/components/MenuDivider/MenuDivider.tsx
  packages/react-menu/src/components/MenuDivider/MenuDivider.types.ts
  packages/react-menu/src/components/MenuGroup/MenuGroup.tsx
  packages/react-menu/src/components/MenuGroup/MenuGroup.types.ts
  packages/react-menu/src/components/MenuGroupHeader/MenuGroupHeader.tsx
  packages/react-menu/src/components/MenuGroupHeader/MenuGroupHeader.types.ts
  packages/react-menu/src/components/MenuItem/MenuItem.tsx
  packages/react-menu/src/components/MenuItemCheckbox/MenuItemCheckbox.tsx
  packages/react-menu/src/components/MenuItemCheckbox/MenuItemCheckbox.types.ts
  packages/react-menu/src/components/MenuItemRadio/MenuItemRadio.tsx
  packages/react-menu/src/components/MenuItemRadio/MenuItemRadio.types.ts
  packages/react-menu/src/components/MenuList/MenuList.tsx
  packages/react-menu/src/components/MenuPopover/useMenuPopoverStyles.ts
  packages/react-menu/src/components/MenuTrigger/MenuTrigger.tsx
  packages/react-menu/src/components/MenuTrigger/MenuTrigger.types.ts
  packages/react-menu/src/components/MenuTrigger/renderMenuTrigger.tsx
  packages/react-menu/src/components/MenuTrigger/useMenuTrigger.ts
  packages/react-shared-contexts/src/MenuContext/types.ts
  packages/react-shared-contexts/src/TooltipContext/TooltipContext.ts
  packages/react-tabs/src/components/Tabs/TabItem.types.ts
  packages/react-tabs/src/components/Tabs/Tabs.types.ts
  packages/react-tooltip/Spec.md
  packages/react-tooltip/src/components/Tooltip/Tooltip.tsx
  packages/react-tooltip/src/components/Tooltip/Tooltip.types.ts
  packages/react-tooltip/src/components/Tooltip/renderTooltip.tsx
  packages/react-tooltip/src/components/Tooltip/useTooltip.tsx
  packages/react-tooltip/src/components/Tooltip/useTooltipStyles.ts
Labels: Area: Documentation, Fluent UI vNext

#19586 (react-slider) - Adding custom Marks and Mark Labels
  apps/vr-tests/src/stories/SliderConverged.stories.tsx
  change/@fluentui-react-slider-802c92ba-846d-432a-88cf-8fc24f9dc65f.json
  packages/react-slider/etc/react-slider.api.md
  packages/react-slider/src/Slider.stories.tsx
  packages/react-slider/src/components/Slider/Slider.test.tsx
  packages/react-slider/src/components/Slider/Slider.types.ts
  packages/react-slider/src/components/Slider/__snapshots__/Slider.test.tsx.snap
  packages/react-slider/src/components/Slider/useSliderState.tsx
  packages/react-slider/src/components/Slider/useSliderStyles.ts
  packages/react-slider/src/utils/getMarkPercent.ts
  packages/react-slider/src/utils/getMarkValues.ts
  packages/react-slider/src/utils/renderMarks.tsx
Labels: Component: Slider

#19877 chore: prepare release react-northstar 0.59.x
  packages/fluentui/CHANGELOG.md
Labels: Fluent UI react-northstar

#19872 Update beachball
  package.json
  yarn.lock
Labels: Area: Build System

#19865 Add react-components template to codesandbox CI
  .codesandbox/ci.json
  package.json
  scripts/beachball/index.ts
  scripts/just.config.ts
  scripts/monorepo/index.d.ts
  scripts/monorepo/index.js
  scripts/monorepo/isConvergedPackage.js
Labels: Area: Build System

#19821 react-image: separating stories into own files
  change/@fluentui-react-image-81933a6e-5604-47ea-a482-98bc3fe73d63.json
  packages/react-image/src/stories/Image.stories.tsx
  packages/react-image/src/stories/ImageApperanceShape.stories.tsx
  packages/react-image/src/stories/ImageBorderVariations.stories.tsx
  packages/react-image/src/stories/ImageDefault.stories.tsx
  packages/react-image/src/stories/ImageDescription.md
  packages/react-image/src/stories/ImageFallback.stories.tsx
  packages/react-image/src/stories/ImageFluid.stories.tsx
  packages/react-image/src/stories/ImageLayoutFit.stories.tsx
Labels: Area: Documentation, Component: Image

#19783 chore: New pipeline for v9 release
  azure-pipelines.release-vnext.yml
  azure-pipelines.release.yml
  package.json
  scripts/beachball/getScopes.ts
  scripts/beachball/getVNextChangelogGroups.ts
  scripts/beachball/index.ts
  scripts/monorepo/isConvergedPackage.js
  scripts/monorepo/runPublished.js
Labels: Area: Build System

#19711 react-text - Simplified prop merging and root as a slot
  change/@fluentui-react-text-55873c36-7111-4f94-88da-e1e13d5df7fd.json
  packages/react-text/.npmignore
  packages/react-text/.storybook/main.js
  packages/react-text/.storybook/preview.js
  packages/react-text/config/api-extractor.local.json
  packages/react-text/etc/react-text.api.md
  packages/react-text/package.json
  packages/react-text/src/components/Body/Body.tsx
  packages/react-text/src/components/Caption/Caption.tsx
  packages/react-text/src/components/Display/Display.tsx
  packages/react-text/src/components/Headline/Headline.tsx
  packages/react-text/src/components/LargeTitle/LargeTitle.tsx
  packages/react-text/src/components/Subheadline/Subheadline.tsx
  packages/react-text/src/components/Text/Text.tsx
  packages/react-text/src/components/Text/Text.types.ts
  packages/react-text/src/components/Text/renderText.tsx
  packages/react-text/src/components/Text/useText.ts
  packages/react-text/src/components/Text/useTextStyles.ts
  packages/react-text/src/components/Title1/Title1.tsx
  packages/react-text/src/components/Title2/Title2.tsx
  packages/react-text/src/components/Title3/Title3.tsx
  packages/react-text/src/components/wrapper.tsx
  packages/react-text/tsconfig.json
Labels: Type: Feature, Priority 1: High, Component: Text, Fluent UI vNext

#19884 Revert "Add missing `.cache/` dir to `.npmignore` for `migrate-converged-pkg` generator"
  tools/generators/migrate-converged-pkg/index.spec.ts
  tools/generators/migrate-converged-pkg/index.ts
Labels: Area: Build System, Fluent UI vNext

#19890 SplitButton: Adding missing verticalAlign=middle style
  change/@fluentui-react-button-fcf52db6-2000-4999-b7b5-8f4e23e762e7.json
  packages/react-button/src/components/SplitButton/useSplitButtonStyles.ts
Labels: Component: Button, Component: SplitButton

#19776 (react-slider) - Adding RangedSlider spec
  change/@fluentui-react-slider-a26b4181-153c-4978-9e67-c5d8615ea192.json
  packages/react-slider/src/components/RangedSlider/Spec.md
  packages/react-slider/src/components/Slider/Spec.md
Labels: Component: Slider

#19889 (react-switch) - Adding switch role to the hidden input
  change/@fluentui-react-switch-b245d71e-439a-4dcf-9f77-69b2d9743e7a.json
  packages/react-switch/src/components/Switch/Switch.test.tsx
  packages/react-switch/src/components/Switch/__snapshots__/Switch.test.tsx.snap
  packages/react-switch/src/components/Switch/useSwitchState.ts
Labels: Component: Switch

#19892 Fix converged package check for default case
  scripts/monorepo/isConvergedPackage.js
Labels: Area: Build System

#19851 (react-slider) - Cleaning up utils folder
  change/@fluentui-react-slider-3db1e642-9ac3-4cc6-b2c1-8d6f1cce0f12.json
  packages/react-slider/src/components/Slider/__snapshots__/Slider.test.tsx.snap
  packages/react-slider/src/utils/calculateSteps.ts
  packages/react-slider/src/utils/getKeydownValue.ts
  packages/react-slider/src/utils/getMarkPercent.ts
  packages/react-slider/src/utils/getMarkValues.ts
  packages/react-slider/src/utils/renderMarks.tsx
Labels: Component: Slider

#19854 React icons dependency update
  apps/vr-tests/package.json
  change/@fluentui-react-avatar-7ec872dc-a857-46de-a75f-04fce4b53f4e.json
  change/@fluentui-react-button-91e843a1-7809-4e94-9342-6616dbacf61a.json
  change/@fluentui-react-menu-17d552a1-e879-4c98-93a1-9821f65a64c9.json
  package.json
  packages/react-avatar/package.json
  packages/react-button/package.json
  packages/react-input/src/components/Input/Input.stories.tsx
  packages/react-menu/package.json
  yarn.lock
Labels: Area: Icons

#19902 fix(runPublished): Filter condition was empty for v8 releases
  scripts/monorepo/runPublished.js
Labels: Area: Build System

#19753 chore(version-bump): Generator to bump versions in the monorepo
  tools/generators/migrate-fixed-versions/README.md
  tools/generators/version-bump/README.md
  tools/generators/version-bump/index.spec.ts
  tools/generators/version-bump/index.ts
  tools/generators/version-bump/schema.json
  tools/generators/version-bump/schema.ts
Labels: Area: Build System

#19903 Fix dependencies versions on whole repo (again)
  apps/perf-test/package.json
  apps/vr-tests/package.json
  change/@fluentui-react-card-69ed0dc7-1b54-4ea9-8b68-7cc2d292cb28.json
  change/@fluentui-react-components-a4b5cadb-c536-44d3-a263-40de62bada9d.json
  packages/react-card/package.json
  packages/react-components/package.json
Labels: Area: Build System, Fluent UI vNext

#19773 chore(Text): Updated storybook documentation
  change/@fluentui-react-text-9baa9b8b-a5cf-4440-9674-8db74527326c.json
  packages/react-text/src/Text.stories.tsx
  packages/react-text/src/stories/Default.stories.tsx
  packages/react-text/src/stories/Text.stories.tsx
  packages/react-text/src/stories/TextBestPractices.md
  packages/react-text/src/stories/TextDescription.md
Labels: Component: Text

#19609 Future RFC - Asynchronously import hidden components
  rfcs/future/async-import-hidden-components.md
Labels: Type: RFC

#19905 Updated AvatarProps for consistency
  apps/vr-tests/src/stories/AvatarConverged.stories.tsx
  change/@fluentui-react-avatar-7fc44502-67ff-4f7e-b38c-7f525c1cec74.json
  packages/react-avatar/MIGRATION.md
  packages/react-avatar/README.md
  packages/react-avatar/SPEC.md
  packages/react-avatar/etc/react-avatar.api.md
  packages/react-avatar/src/Avatar.stories.tsx
  packages/react-avatar/src/AvatarExamples.stories.tsx
  packages/react-avatar/src/components/Avatar/Avatar.types.ts
  packages/react-avatar/src/components/Avatar/useAvatar.tsx
  packages/react-avatar/src/components/Avatar/useAvatarStyles.ts
Labels: Component: Avatar

#19910 (web-components) add additional param to all component registry
  change/@fluentui-web-components-badb55a9-3702-4002-baab-fd99beb2c9c0.json
  packages/web-components/docs/api-report.md
  packages/web-components/package.json
  packages/web-components/src/custom-elements.ts
  yarn.lock
Labels: web-components

#19917 (react-slider) - Adding the missing theme tokens for HC
  change/@fluentui-react-slider-209a5408-82e6-4813-98b8-decc9c9abacb.json
  packages/react-slider/src/components/Slider/useSliderStyles.ts
Labels: Component: Slider

#19864 (react-switch) - Adding dragging functionality
  change/@fluentui-react-switch-2ebc9b1d-fc4e-4a14-b966-db3604af7a99.json
  packages/react-switch/etc/react-switch.api.md
  packages/react-switch/src/Switch.stories.tsx
  packages/react-switch/src/components/Switch/Switch.test.tsx
  packages/react-switch/src/components/Switch/Switch.types.ts
  packages/react-switch/src/components/Switch/__snapshots__/Switch.test.tsx.snap
  packages/react-switch/src/components/Switch/renderSwitch.tsx
  packages/react-switch/src/components/Switch/useSwitch.ts
  packages/react-switch/src/components/Switch/useSwitchState.ts
  packages/react-switch/src/components/Switch/useSwitchStyles.ts
Labels: Component: Switch

#19928 FocusTrapCallout: Updating example so that all focusable elements are tabbable
  change/@fluentui-react-15221f83-6f67-4181-83b0-2c9a9e24b3ac.json
  packages/react-examples/src/react/Callout/Callout.FocusTrap.Example.tsx
  packages/react/src/components/FocusTrapZone/FocusTrapZone.tsx
Labels: Component: Callout, Component: FocusTrapZone

#19921 Updated LinkProps for consistency
  change/@fluentui-react-link-69c8cebf-a9e1-4855-948c-a20f71de0759.json
  packages/react-link/SPEC.md
  packages/react-link/etc/react-link.api.md
  packages/react-link/src/Link.stories.tsx
  packages/react-link/src/components/Link/Link.types.ts
  packages/react-link/src/components/Link/useLink.ts
  packages/react-link/src/components/Link/useLinkStyles.ts
Labels: Component: Link

#19891 (web-components) - content update for overview docs
  change/@fluentui-web-components-7d7304ec-799d-4f98-950d-42e8bf37b003.json
  packages/web-components/src/_docs/getting-started/overview.stories.mdx
  packages/web-components/src/_docs/integrations/ember.stories.mdx
  packages/web-components/src/_docs/integrations/vue.stories.mdx
  packages/web-components/src/combobox/combobox.stories.ts
Labels: web-components

#19883 Add `as` prop to allowed props from `getNativeElementProps`
  change/@fluentui-react-link-7039887a-f2f0-46ef-b40f-9a7291518072.json
  change/@fluentui-react-text-f6bb5423-e14a-42a1-86c9-6eebaf3975d0.json
  change/@fluentui-react-utilities-a2a91420-444b-431c-b389-505dda1173cb.json
  packages/react-link/src/components/Link/useLink.ts
  packages/react-text/src/components/Text/useText.ts
  packages/react-utilities/src/compose/getSlotsCompat.test.tsx
  packages/react-utilities/src/compose/getSlotsCompat.ts
  packages/react-utilities/src/utils/getNativeElementProps.test.ts
  packages/react-utilities/src/utils/getNativeElementProps.ts
Labels: Priority 1: High, Fluent UI vNext

#19858 react-image: new shadow prop
  apps/vr-tests/src/stories/ImageConverged.stories.tsx
  change/@fluentui-react-image-6e32bae6-75e4-4d2e-b62b-f78f093c37ab.json
  packages/react-image/Spec.md
  packages/react-image/etc/react-image.api.md
  packages/react-image/src/components/Image/Image.types.ts
  packages/react-image/src/components/Image/useImage.ts
  packages/react-image/src/components/Image/useImageStyles.ts
  packages/react-image/src/stories/Image.stories.tsx
  packages/react-image/src/stories/ImageShadow.stories.tsx
Labels: Component: Image, Fluent UI vNext

#19882 react-text: Added to react-components
  change/@fluentui-react-components-4cbfde89-304c-4485-8b39-ca8eacec2b45.json
  packages/react-components/etc/react-components.api.md
  packages/react-components/package.json
  packages/react-components/src/index.ts
Labels: Component: Text
