Repository microsoft/fluentui, pull requests merged in 2021-06, with the labels that each got.

#18369 Adding onClick handler to chart data points
  change/@fluentui-react-charting-d4cd5738-8f47-4d21-b1ec-aa2e2bb85423.json
  packages/react-charting/src/components/DonutChart/Arc/Arc.tsx
  packages/react-charting/src/components/DonutChart/__snapshots__/DonutChart.test.tsx.snap
  packages/react-charting/src/components/GroupedVerticalBarChart/GroupedVerticalBarChart.base.tsx
  packages/react-charting/src/components/GroupedVerticalBarChart/__snapshots__/GroupedVerticalBarChart.test.tsx.snap
  packages/react-charting/src/components/HeatMapChart/HeatMapChart.base.tsx
  packages/react-charting/src/components/HorizontalBarChart/HorizontalBarChart.base.tsx
  packages/react-charting/src/components/PieChart/Arc/Arc.tsx
  packages/react-charting/src/components/StackedBarChart/MultiStackedBarChart.base.tsx
  packages/react-charting/src/components/StackedBarChart/StackedBarChart.base.tsx
  packages/react-charting/src/components/StackedBarChart/__snapshots__/MultiStackedBarChart.test.tsx.snap
  packages/react-charting/src/components/StackedBarChart/__snapshots__/StackedBarChart.test.tsx.snap
  packages/react-charting/src/components/VerticalBarChart/VerticalBarChart.base.tsx
  packages/react-charting/src/types/IDataPoint.ts
Labels: Package: charting

#18348 (web-components) fix select style height overlap
  change/@fluentui-web-components-861ce175-84fa-4e22-a53c-fea1744825d2.json
  packages/web-components/src/select/select.styles.ts
Labels: web-components

#18371 chore(storybook): Remove package name suffix for converged
  change/@fluentui-react-examples-6b557f91-b4fa-4935-9230-2b11d8ddbdef.json
  change/@fluentui-react-menu-e41bf8ad-b6e2-4773-b007-b45a9b7ff044.json
  change/@fluentui-react-popover-b7e397e6-56d1-4005-acc0-6c7d8c8a1815.json
  packages/react-examples/.storybook/preview.js
  packages/react-menu/src/Menu.stories.tsx
  packages/react-menu/src/MenuList.stories.tsx
  packages/react-popover/src/Popover.stories.tsx
Labels: PR: API Modified

#18289 Dragdrop lose recip
  change/@fluentui-react-experiments-8e9b3e36-7f75-4028-953f-085987926c68.json
  packages/react-experiments/src/components/UnifiedPicker/UnifiedPicker.tsx
Labels: Component: UnifiedPicker, Package: experiments

#18349 Re-enable prelint in PR builds and fix version mismatches
  apps/a11y-tests/package.json
  apps/vr-tests/package.json
  change/@fluentui-react-cb7d8fdf-c831-4276-9f94-9fe2d760d4b1.json
  change/@fluentui-react-examples-1fcaaf2e-1cfc-4490-9980-d488ad94a334.json
  change/@fluentui-react-portal-d89f8745-2d16-4fcb-846d-f864f82b5c95.json
  package.json
  packages/react-examples/package.json
  packages/react-portal/package.json
  packages/react/.eslintrc.js
  packages/react/package.json
  scripts/package.json
  yarn.lock
Labels: Area: Build System

#18427 Adding default generic type to makeStyles so autocomplete works in scenarios where you don't specify the generic.
  change/@fluentui-react-fd83a9d9-4981-421c-b530-530e04a0d597.json
  packages/react/etc/react.api.md
  packages/react/src/utilities/ThemeProvider/makeStyles.ts
Labels: PR: API Modified

#18428 Bug 111881: UnifiedPicker: Backspace does not work for recipients in pop out window
  change/@fluentui-react-experiments-2d78d84b-e392-4d77-9619-42110f62351d.json
  packages/react-experiments/src/components/UnifiedPicker/UnifiedPicker.tsx
Labels: Component: UnifiedPicker, Package: experiments

#18432 (web-components) update neutral fill card
  change/@fluentui-web-components-d6611ae4-5fa9-4379-890a-1de594a175aa.json
  packages/web-components/src/color/neutral-fill-card.spec.ts
  packages/web-components/src/color/neutral-fill-card.ts
Labels: web-components

#18168 MenuButton: Re-introducing MenuButton using the latest version of makeStyles
  apps/test-bundles/webpackUtils.js
  apps/vr-tests/src/stories/ReactButton.stories.tsx
  change/@fluentui-react-button-d64192ce-5313-4c00-bbaa-0dfa2f80fd7d.json
  change/@fluentui-react-examples-a9a763fc-e566-4eb0-8c94-68bfc3ccf9b0.json
  change/@fluentui-react-shared-contexts-98d33e29-533c-4ce3-8a47-f03fd468c794.json
  change/@fluentui-react-tooltip-2b3501e5-e061-4b56-b135-b7a577db3243.json
  change/@fluentui-react-utilities-f27b298e-ac9c-407c-861b-43eaffdbd216.json
  packages/react-button/etc/react-button.api.md
  packages/react-button/src/MenuButton.ts
  packages/react-button/src/components/Button/Button.tsx
  packages/react-button/src/components/Button/Button.types.ts
  packages/react-button/src/components/Button/renderButton.tsx
  packages/react-button/src/components/Button/useButton.ts
  packages/react-button/src/components/Button/useButtonState.ts
  packages/react-button/src/components/CompoundButton/CompoundButton.tsx
  packages/react-button/src/components/CompoundButton/CompoundButton.types.ts
  packages/react-button/src/components/CompoundButton/renderCompoundButton.tsx
  packages/react-button/src/components/CompoundButton/useCompoundButton.ts
  packages/react-button/src/components/MenuButton/DefaultIcons.tsx
  packages/react-button/src/components/MenuButton/MenuButton.test.tsx
  packages/react-button/src/components/MenuButton/MenuButton.tsx
  packages/react-button/src/components/MenuButton/MenuButton.types.ts
  packages/react-button/src/components/MenuButton/index.ts
  packages/react-button/src/components/MenuButton/renderMenuButton.tsx
  packages/react-button/src/components/MenuButton/useMenuButton.ts
  packages/react-button/src/components/MenuButton/useMenuButtonState.ts
  packages/react-button/src/components/MenuButton/useMenuButtonStyles.ts
  packages/react-button/src/components/ToggleButton/ToggleButton.tsx
  packages/react-button/src/index.ts
  packages/react-examples/package.json
  packages/react-examples/src/react-button/Button/Button.stories.tsx
  packages/react-examples/src/react-button/CompoundButton/CompoundButton.stories.tsx
  packages/react-examples/src/react-button/MenuButton/MenuButton.stories.tsx
  packages/react-examples/src/react-button/Playground.tsx
  packages/react-examples/src/react-button/ToggleButton/ToggleButton.stories.tsx
  packages/react-examples/src/react-components/Migrations/Flex.stories.mdx
  packages/react-shared-contexts/etc/react-shared-contexts.api.md
  packages/react-shared-contexts/src/MenuContext/types.ts
  packages/react-tooltip/src/components/Tooltip/useTooltip.tsx
  packages/react-utilities/etc/react-utilities.api.md
  packages/react-utilities/src/utils/index.ts
  packages/react-utilities/src/utils/onlyChild.test.tsx
  packages/react-utilities/src/utils/onlyChild.ts
Labels: Component: MenuButton

#18389 CherryPick #17628 & 17683, fix contextual menu hierarchy issue
  change/@fluentui-react-04f5f86f-838a-4cfe-84ae-c6cf92f99e95.json
  change/office-ui-fabric-react-3a6f1c42-bc15-4bca-b66b-64af810e0c10.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/Button/Button.test.tsx
  packages/office-ui-fabric-react/src/components/ContextualMenu/ContextualMenu.base.tsx
  packages/office-ui-fabric-react/src/components/ContextualMenu/ContextualMenu.test.tsx
  packages/office-ui-fabric-react/src/components/ContextualMenu/ContextualMenu.types.ts
  packages/office-ui-fabric-react/src/components/ContextualMenu/ContextualMenuItemWrapper/ContextualMenuAnchor.tsx
  packages/office-ui-fabric-react/src/components/ContextualMenu/ContextualMenuItemWrapper/ContextualMenuButton.tsx
  packages/office-ui-fabric-react/src/components/ContextualMenu/ContextualMenuItemWrapper/ContextualMenuItemWrapper.tsx
  packages/office-ui-fabric-react/src/components/ContextualMenu/ContextualMenuItemWrapper/ContextualMenuItemWrapper.types.ts
  packages/office-ui-fabric-react/src/components/ContextualMenu/__snapshots__/ContextualMenu.test.tsx.snap
Labels: Area: Accessibility, AutoMerge, Component: ContextualMenu, Fabric 7, PR: API Modified

#18447 react-checkbox - package update
  change/@fluentui-react-checkbox-cf451439-4719-467c-8dbf-c0004a5adeb3.json
  change/@fluentui-react-examples-d8e786f9-e160-41d7-a510-ae6324bfd146.json
  packages/react-checkbox/CHANGELOG.json
  packages/react-checkbox/CHANGELOG.md
  packages/react-checkbox/README.md
  packages/react-checkbox/Spec.md
  packages/react-checkbox/config/tests.js
  packages/react-checkbox/etc/react-checkbox.api.md
  packages/react-checkbox/jest.config.js
  packages/react-checkbox/package.json
  packages/react-checkbox/src/common/isConformant.ts
  packages/react-checkbox/src/components/Checkbox/Checkbox.base.tsx
  packages/react-checkbox/src/components/Checkbox/Checkbox.scss
  packages/react-checkbox/src/components/Checkbox/Checkbox.test.tsx
  packages/react-checkbox/src/components/Checkbox/Checkbox.tsx
  packages/react-checkbox/src/components/Checkbox/Checkbox.types.ts
  packages/react-checkbox/src/components/Checkbox/__snapshots__/Checkbox.test.tsx.snap
  packages/react-checkbox/src/components/Checkbox/index.ts
  packages/react-checkbox/src/components/Checkbox/renderCheckbox.tsx
  packages/react-checkbox/src/components/Checkbox/useCheckbox.ts
  packages/react-checkbox/src/components/Checkbox/useCheckboxClasses.tsx
  packages/react-checkbox/src/components/Checkbox/useCheckboxStyles.ts
  packages/react-checkbox/tsconfig.json
  packages/react-examples/package.json
  packages/react-examples/src/react-checkbox/Checkbox/Checkbox.Basic.Example.tsx
  packages/react-examples/src/react-checkbox/Checkbox/Checkbox.stories.tsx
  packages/react-examples/src/react-checkbox/__snapshots__/Checkbox.Basic.Example.tsx.shot
Labels: Component: Checkbox

#18345 react-label spec review
  change/@fluentui-react-label-4d8ee11e-4b74-4a8d-822d-d4326e28a677.json
  packages/react-label/MIGRATION.md
  packages/react-label/Spec.md
Labels: Component: Label, Type: Spec

#18366 fix(Detailslist): removes duplicate description from header checkbox and aria-label from generic
  change/@fluentui-react-d1ed5b45-1541-46ec-865f-963b0fe4fe88.json
  change/@fluentui-react-examples-d6acacea-3d96-4e7c-8235-b6527ae02a2b.json
  packages/react-examples/src/react/__snapshots__/Announced.BulkOperations.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/Announced.QuickActions.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/DetailsList.Advanced.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/DetailsList.Animation.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/DetailsList.Basic.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/DetailsList.Compact.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/DetailsList.CustomColumns.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/DetailsList.CustomFooter.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/DetailsList.CustomGroupHeaders.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/DetailsList.CustomRows.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/DetailsList.Grouped.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/DetailsList.Grouped.Large.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/DetailsList.NavigatingFocus.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/DetailsList.ProportionalColumns.Example.tsx.shot
  packages/react/src/components/DetailsList/DetailsHeader.base.tsx
  packages/react/src/components/DetailsList/DetailsHeader.test.tsx
  packages/react/src/components/DetailsList/DetailsRowCheck.tsx
  packages/react/src/components/DetailsList/__snapshots__/DetailsHeader.test.tsx.snap
  packages/react/src/components/DetailsList/__snapshots__/DetailsList.test.tsx.snap
  packages/react/src/components/DetailsList/__snapshots__/DetailsRow.test.tsx.snap
  packages/react/src/components/DetailsList/__snapshots__/ShimmeredDetailsList.test.tsx.snap
Labels: Area: Accessibility, Component: DetailsList

#18451 Add Default Foreground5 and Foreground6 for v2 theme and v2 dark theme
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/themes/teams-dark-v2/siteVariables.ts
  packages/fluentui/react-northstar/src/themes/teams-v2/siteVariables.ts
Labels: Fluent UI react-northstar

#18452 fix(tools): removes global leaks to userLogs and adds additional noti…
  tools/generators/migrate-converged-pkg/index.spec.ts
  tools/generators/migrate-converged-pkg/index.ts
Labels: Area: Build System

#18457 fix(Dropdown): passes all positioning props to Popper
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/components/Dropdown/Dropdown.tsx
  packages/fluentui/react-northstar/test/specs/components/Dropdown/Dropdown-test.tsx
Labels: Fluent UI react-northstar

#18461 fix(Datepicker): update 'today' cell background color in dark-v2 theme to increase contrast
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/themes/teams-dark-v2/componentVariables.ts
  packages/fluentui/react-northstar/src/themes/teams-dark-v2/components/Datepicker/datepickerCalendarCellButtonVariables.ts
Labels: Component: DatePicker, Fluent UI react-northstar

#18298 Fix for blocking modal/dialog always having 'alertdialog' role
  change/@fluentui-react-ac8491bb-f335-48e2-be2c-458dd83f06d9.json
  packages/react/etc/react.api.md
  packages/react/src/components/Modal/Modal.base.tsx
  packages/react/src/components/Modal/Modal.test.tsx
  packages/react/src/components/Modal/Modal.types.ts
Labels: Area: Accessibility, Component: Dialog, Component: Modal, PR: API Modified

#18473 fix: set pointer event to none on children in button component
  change/@fluentui-web-components-f111b326-20fc-4836-a718-8a376030deab.json
  packages/web-components/src/styles/patterns/button.ts
Labels: web-components

#18415 feat(Menu): Add MenuTriggerChildProps as contract for children
  change/@fluentui-react-menu-5d87c89c-45c2-462f-aaa2-0f9ca22d8803.json
  packages/react-menu/etc/react-menu.api.md
  packages/react-menu/src/Menu.stories.tsx
  packages/react-menu/src/components/MenuTrigger/MenuTrigger.types.ts
  packages/react-menu/src/components/MenuTrigger/useTriggerElement.ts
Labels: Component: MenuTrigger

#17958 Spec: Popover convergence
  change/@fluentui-react-popover-d17d0f5c-9040-467a-a6f1-b8b4c9704ee9.json
  packages/react-popover/Spec.md
Labels: Type: Spec

#18453 Flex migration guide split
  change/@fluentui-react-examples-694ccfed-8e54-41e6-8477-f31a1f124275.json
  packages/react-examples/.storybook/preview.js
  packages/react-examples/src/react-components/Migrations/Flex.Flex.stories.mdx
  packages/react-examples/src/react-components/Migrations/Flex.FlexItem.stories.mdx
  packages/react-examples/src/react-components/Migrations/Flex.Overview.stories.mdx
  packages/react-examples/src/react-components/Migrations/Flex.Stack.stories.mdx
  packages/react-examples/src/react-components/Migrations/Flex.StackItem.stories.mdx
  packages/react-examples/src/react-components/Migrations/Flex.stories.mdx
  packages/react-examples/src/react-components/Migrations/utils.test.tsx
  packages/react-examples/src/react-components/Migrations/utils.tsx
Labels: Area: Documentation, Area: Website, Component: Flex, Type: Documentation

#18483 feat(tools): add --stats flag and update nx workspace config
  tools/generators/migrate-converged-pkg/index.spec.ts
  tools/generators/migrate-converged-pkg/index.ts
  tools/generators/migrate-converged-pkg/schema.json
  tools/generators/migrate-converged-pkg/schema.ts
Labels: Area: Build System

#18419 Focus indicator implementation for react-accordion
  change/@fluentui-react-accordion-ff0420ad-235d-4b77-98c2-653d8641fdca.json
  packages/react-accordion/src/components/AccordionHeader/useAccordionHeaderStyles.ts
Labels: Component: AccordionHeader

#18400 Focus indicator implementation for react-button
  change/@fluentui-react-button-52c903ab-2627-431e-be53-48748f6e9ed2.json
  packages/react-button/bundle-size/Button.Default.fixture.js
  packages/react-button/package.json
  packages/react-button/src/components/Button/useButtonStyles.ts
  packages/react-button/tsconfig.json
Labels: Component: Button

#18450 Fix a11y bug for DatePicker. Backport fix to 7.0
  change/office-ui-fabric-react-6e0c9f15-9ea4-465a-b350-859feb8d3afc.json
  packages/office-ui-fabric-react/src/components/Calendar/CalendarDay.tsx
  packages/office-ui-fabric-react/src/components/Calendar/__snapshots__/Calendar.test.tsx.snap
Labels: Component: Calendar, Fabric 7

#18449 Focus indicator implementation for react-link
  change/@fluentui-react-link-2ba8d522-d118-4ffb-a94f-f968cc27955a.json
  packages/react-link/package.json
  packages/react-link/src/components/Link/useLinkStyles.ts
  packages/react-link/tsconfig.json
Labels: Component: Link

#18378 React label - Adding implementation and examples
  change/@fluentui-react-examples-6b9e424f-d325-49b6-af0a-454a2d705ac3.json
  change/@fluentui-react-label-011e2f45-b23c-4baa-b451-339ae7160b84.json
  packages/react-examples/src/react-label/Label/Label.stories.tsx
  packages/react-label/README.md
  packages/react-label/Spec.md
  packages/react-label/etc/react-label.api.md
  packages/react-label/src/components/Label/Label.test.tsx
  packages/react-label/src/components/Label/Label.tsx
  packages/react-label/src/components/Label/Label.types.ts
  packages/react-label/src/components/Label/__snapshots__/Label.test.tsx.snap
  packages/react-label/src/components/Label/renderLabel.tsx
  packages/react-label/src/components/Label/useLabel.tsx
  packages/react-label/src/components/Label/useLabelStyles.ts
Labels: Component: Label

#18464 feat(Menu): MenuPopover component
  change/@fluentui-react-menu-66098573-1172-4f06-aa9f-da238079ac77.json
  packages/react-menu/bundle-size/Menu.Default.fixture.js
  packages/react-menu/bundle-size/Menu.Selectable.fixture.js
  packages/react-menu/etc/react-menu.api.md
  packages/react-menu/src/Menu.stories.tsx
  packages/react-menu/src/MenuPopover.ts
  packages/react-menu/src/common/mockUseMenuContext.ts
  packages/react-menu/src/components/Menu/Menu.test.tsx
  packages/react-menu/src/components/Menu/Menu.tsx
  packages/react-menu/src/components/Menu/Menu.types.ts
  packages/react-menu/src/components/Menu/index.ts
  packages/react-menu/src/components/Menu/renderMenu.tsx
  packages/react-menu/src/components/Menu/useMenu.tsx
  packages/react-menu/src/components/Menu/useMenuPopup.tsx
  packages/react-menu/src/components/MenuPopover/MenuPopover.test.tsx
  packages/react-menu/src/components/MenuPopover/MenuPopover.tsx
  packages/react-menu/src/components/MenuPopover/MenuPopover.types.ts
  packages/react-menu/src/components/MenuPopover/__snapshots__/MenuPopover.test.tsx.snap
  packages/react-menu/src/components/MenuPopover/index.ts
  packages/react-menu/src/components/MenuPopover/renderMenuPopover.tsx
  packages/react-menu/src/components/MenuPopover/useMenuPopover.ts
  packages/react-menu/src/components/MenuPopover/useMenuPopoverStyles.ts
  packages/react-menu/src/components/MenuTrigger/useTriggerElement.test.tsx
  packages/react-menu/src/components/MenuTrigger/useTriggerElement.ts
  packages/react-menu/src/contexts/menuContext.ts
  packages/react-menu/src/index.ts
  packages/react-menu/src/utils/isOutsideMenu.ts
Labels: Component: Menu

#18468 Button: Removing legacy patterns from converged component
  change/@fluentui-react-button-911dd84c-f161-4ccd-81ff-e4c06e5e3b9d.json
  packages/react-button/etc/react-button.api.md
  packages/react-button/src/components/Button/Button.tsx
  packages/react-button/src/components/Button/Button.types.ts
  packages/react-button/src/components/Button/useButton.ts
  packages/react-button/src/components/Button/useButtonStyles.ts
  packages/react-button/src/components/CompoundButton/CompoundButton.types.ts
  packages/react-button/src/components/CompoundButton/useCompoundButton.ts
  packages/react-button/src/components/CompoundButton/useCompoundButtonStyles.ts
  packages/react-button/src/components/MenuButton/MenuButton.types.ts
  packages/react-button/src/components/MenuButton/useMenuButton.ts
  packages/react-button/src/components/MenuButton/useMenuButtonStyles.ts
  packages/react-button/src/components/ToggleButton/ToggleButton.types.ts
  packages/react-button/src/components/ToggleButton/useToggleButtonStyles.ts
Labels: AutoMerge, Component: Button

#18444 (web-components) update neutral fill card vNext
  change/@fluentui-web-components-2355946e-5b33-4f44-8bc5-296ea0523b72.json
  packages/web-components/docs/api-report.md
  packages/web-components/src/color-vNext/recipes/neutral-fill-card.ts
  packages/web-components/src/color/neutral-fill-card.spec.ts
Labels: web-components

#18472 [Calendar] forcing showMonthPickerAsOverlay to true when small screen
  change/@fluentui-react-b76b4d70-631b-4c7b-8be1-9763342446a9.json
  packages/react/src/components/Calendar/Calendar.base.tsx
Labels: Area: Accessibility, AutoMerge, Component: Calendar

#18410 (web-components) Design token cleanup
  change/@fluentui-web-components-65f13306-7054-44e7-bab7-161bfb2ff372.json
  packages/web-components/src/accordion/accordion-item/accordion-item.styles.ts
  packages/web-components/src/accordion/accordion.styles.ts
  packages/web-components/src/badge/badge.styles.ts
  packages/web-components/src/breadcrumb-item/breadcrumb-item.styles.ts
  packages/web-components/src/button/button.styles.ts
  packages/web-components/src/card/card.styles.ts
  packages/web-components/src/checkbox/checkbox.styles.ts
  packages/web-components/src/color-vNext/recipes/accent-fill.ts
  packages/web-components/src/color-vNext/recipes/focus-stroke.ts
  packages/web-components/src/color-vNext/recipes/neutral-fill-contrast.ts
  packages/web-components/src/color-vNext/recipes/neutral-fill-input.ts
  packages/web-components/src/color-vNext/recipes/neutral-fill-inverse.ts
  packages/web-components/src/color-vNext/recipes/neutral-fill-stealth.ts
  packages/web-components/src/color-vNext/recipes/neutral-fill.ts
  packages/web-components/src/color-vNext/recipes/neutral-focus.ts
  packages/web-components/src/color-vNext/recipes/neutral-layer-L1.ts
  packages/web-components/src/color-vNext/recipes/neutral-layer-L2.ts
  packages/web-components/src/color-vNext/recipes/neutral-layer-L3.ts
  packages/web-components/src/color-vNext/recipes/neutral-layer-L4.ts
  packages/web-components/src/color-vNext/recipes/neutral-stroke.ts
  packages/web-components/src/color/accent-fill.spec.ts
  packages/web-components/src/color/neutral-contrast-fill.spec.ts
  packages/web-components/src/color/neutral-fill-input.spec.ts
  packages/web-components/src/color/neutral-fill-stealth.spec.ts
  packages/web-components/src/color/neutral-fill-toggle.spec.ts
  packages/web-components/src/color/neutral-fill.spec.ts
  packages/web-components/src/color/neutral-focus.spec.ts
  packages/web-components/src/color/neutral-outline.spec.ts
  packages/web-components/src/combobox/combobox.styles.ts
  packages/web-components/src/data-grid/data-grid-cell.styles.ts
  packages/web-components/src/data-grid/data-grid-row.styles.ts
  packages/web-components/src/design-tokens.ts
  packages/web-components/src/dialog/dialog.styles.ts
  packages/web-components/src/divider/divider.styles.ts
  packages/web-components/src/flipper/flipper.styles.ts
  packages/web-components/src/listbox-option/listbox-option.styles.ts
  packages/web-components/src/listbox/listbox.styles.ts
  packages/web-components/src/menu-item/menu-item.styles.ts
  packages/web-components/src/menu/menu.styles.ts
  packages/web-components/src/number-field/number-field.styles.ts
  packages/web-components/src/progress/progress/progress.styles.ts
  packages/web-components/src/radio/radio.styles.ts
  packages/web-components/src/select/select.styles.ts
  packages/web-components/src/skeleton/skeleton.styles.ts
  packages/web-components/src/slider-label/slider-label.styles.ts
  packages/web-components/src/slider/slider.styles.ts
  packages/web-components/src/styles/patterns/button.ts
  packages/web-components/src/styles/patterns/input.ts
  packages/web-components/src/switch/switch.styles.ts
  packages/web-components/src/tabs/tab/tab.styles.ts
  packages/web-components/src/tabs/tabs.styles.ts
  packages/web-components/src/text-area/text-area.styles.ts
  packages/web-components/src/text-field/text-field.styles.ts
  packages/web-components/src/tooltip/index.ts
  packages/web-components/src/tooltip/tooltip.styles.ts
  packages/web-components/src/tree-item/tree-item.styles.ts
Labels: web-components

#18500 fix: scripts package error thrown during test in Windows 10
  scripts/typescript/normalize-import.spec.js
Labels: Area: Build System

#17317 chore: remove broken links
  change/@fluentui-web-components-2021-03-08-10-42-15-users-jes-fix-link.json
  packages/web-components/src/menu-item/README.md
  packages/web-components/src/menu/README.md
Labels: web-components

#18511 Charting: Cherry-pick of 18369-Adding onClick handler to chart data points.
  change/@uifabric-charting-10742a33-ea76-46e6-908c-b623fff59fdc.json
  packages/charting/src/components/DonutChart/Arc/Arc.tsx
  packages/charting/src/components/DonutChart/__snapshots__/DonutChart.test.tsx.snap
  packages/charting/src/components/GroupedVerticalBarChart/GroupedVerticalBarChart.base.tsx
  packages/charting/src/components/GroupedVerticalBarChart/__snapshots__/GroupedVerticalBarChart.test.tsx.snap
  packages/charting/src/components/HeatMapChart/HeatMapChart.base.tsx
  packages/charting/src/components/HorizontalBarChart/HorizontalBarChart.base.tsx
  packages/charting/src/components/PieChart/Arc/Arc.tsx
  packages/charting/src/components/StackedBarChart/MultiStackedBarChart.base.tsx
  packages/charting/src/components/StackedBarChart/StackedBarChart.base.tsx
  packages/charting/src/components/StackedBarChart/__snapshots__/MultiStackedBarChart.test.tsx.snap
  packages/charting/src/components/StackedBarChart/__snapshots__/StackedBarChart.test.tsx.snap
  packages/charting/src/components/VerticalBarChart/VerticalBarChart.base.tsx
  packages/charting/src/types/IDataPoint.ts
Labels: Fabric 7, Package: charting

#18506 ToggleButton: Removing legacy patterns from converged component.
  change/@fluentui-react-button-53d2b6c5-0e15-4e89-a15f-8c76b5ac878b.json
  packages/react-button/etc/react-button.api.md
  packages/react-button/src/components/ToggleButton/ToggleButton.test.tsx
  packages/react-button/src/components/ToggleButton/ToggleButton.tsx
  packages/react-button/src/components/ToggleButton/ToggleButton.types.ts
  packages/react-button/src/components/ToggleButton/useToggleButtonStyles.ts
Labels: Component: Button, Component: ToggleButton

#17434 RFC: 1st Rule of ARIA to converged components
  rfcs/convergence/first-rule-of-aria.md
Labels: Type: RFC

#18494 Centralize Storybook story order
  change/@fluentui-react-examples-e4a6bd51-b806-4fd4-9c5f-68329bf915a1.json
  packages/react-examples/.storybook/preview.js
Labels: Area: Build System, Area: Documentation, Storybook

#18525 docs(tools): add migrate-converged-pkg readme
  tools/generators/migrate-converged-pkg/README.md
Labels: Area: Build System

#18515 Details list group not rendering fix
  change/@fluentui-react-72c29a12-f5b8-40c0-914f-1b9b7c60506c.json
  packages/react/src/components/GroupedList/GroupedList.base.tsx
Labels: Component: GroupedList

#18530 Docs only: add some words about using isRowHeader for accessibility on DetailsList
  change/@fluentui-react-examples-c31c3522-5e8d-4a5e-964a-2fe12210a2cc.json
  packages/react-examples/src/react/DetailsList/docs/DetailsListBestPractices.md
Labels: Area: Website

#18249 Fix ScrollablePane DetailsList example, add docs wording for accessibility
  change/@fluentui-react-b227a60e-f52d-4926-a983-29f229b23fe5.json
  change/@fluentui-react-examples-f4356b36-8f10-4642-b198-e6b670b6c8dd.json
  change/@fluentui-style-utilities-3495340f-cfe9-4c1a-9a63-7e0df2713c45.json
  packages/react-examples/src/react/ScrollablePane/ScrollablePane.DetailsList.Example.tsx
  packages/react-examples/src/react/ScrollablePane/ScrollablePane.doc.tsx
  packages/react-examples/src/react/ScrollablePane/docs/ScrollablePaneBestPractices.md
  packages/react-examples/src/react/__snapshots__/Announced.BulkOperations.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/Announced.QuickActions.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/Button.ScreenReader.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/ColorPicker.Basic.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/ComboBox.Basic.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/ComboBox.ControlledMulti.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/DetailsList.Advanced.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/DetailsList.Animation.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/DetailsList.Basic.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/DetailsList.Compact.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/DetailsList.CustomColumns.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/DetailsList.CustomFooter.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/DetailsList.CustomGroupHeaders.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/DetailsList.Documents.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/DetailsList.DragDrop.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/DetailsList.Grouped.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/DetailsList.Grouped.Large.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/DetailsList.NavigatingFocus.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/DetailsList.ProportionalColumns.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/Dialog.Basic.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/Facepile.AddFace.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/Facepile.Basic.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/Facepile.Overflow.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/Rating.Basic.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/Rating.ButtonControlled.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/Shimmer.Application.Example.tsx.shot
  packages/react/src/components/Announced/__snapshots__/Announced.test.tsx.snap
  packages/react/src/components/ColorPicker/ColorRectangle/__snapshots__/ColorRectangle.test.tsx.snap
  packages/react/src/components/ColorPicker/__snapshots__/ColorPicker.test.tsx.snap
  packages/react/src/components/DetailsList/__snapshots__/DetailsHeader.test.tsx.snap
  packages/react/src/components/DetailsList/__snapshots__/DetailsList.test.tsx.snap
  packages/react/src/components/Rating/__snapshots__/Rating.test.tsx.snap
  packages/style-utilities/src/styles/hiddenContentStyle.ts
Labels: Component: DetailsList, Component: ScrollablePane

#18517 fix(PositioningContainer): add z-index if not using Layer
  change/@fluentui-react-e6122318-3fe5-4416-9863-289d383dacc4.json
  packages/react/src/components/Coachmark/PositioningContainer/PositioningContainer.tsx
Labels: Component: Coachmark

#18443 MessageBar: add prop to disable delayed rendering, fix snapshots
  change/@fluentui-react-0f6b6795-54e9-491b-aedd-591386dbb2f4.json
  change/@fluentui-react-examples-da9625a4-0e5c-4b61-ad33-b973500529e4.json
  packages/react-examples/src/ComponentExamples.test.tsx
  packages/react-examples/src/react/MessageBar/MessageBar.Basic.Example.tsx
  packages/react-examples/src/react/MessageBar/MessageBar.NoDelay.Example.tsx
  packages/react-examples/src/react/MessageBar/MessageBar.doc.tsx
  packages/react-examples/src/react/__snapshots__/MessageBar.Basic.Example.tsx.shot
  packages/react/etc/react.api.md
  packages/react/src/components/MessageBar/MessageBar.base.tsx
  packages/react/src/components/MessageBar/MessageBar.test.tsx
  packages/react/src/components/MessageBar/MessageBar.types.ts
  packages/react/src/components/MessageBar/__snapshots__/MessageBar.test.tsx.snap
Labels: Component: MessageBar, PR: API Modified

#18490 feat(Menu): Render submenus out of DOM order
  change/@fluentui-react-menu-47482f26-5ab6-40ec-addc-e76ccb3cedae.json
  change/@fluentui-react-tabster-236dabbd-4639-4ef0-b1a6-12c5be095c65.json
  packages/react-menu/e2e/Menu.e2e.ts
  packages/react-menu/etc/react-menu.api.md
  packages/react-menu/src/components/Menu/Menu.test.tsx
  packages/react-menu/src/components/Menu/useMenu.tsx
  packages/react-menu/src/components/MenuPopover/MenuPopover.types.ts
  packages/react-menu/src/components/MenuPopover/renderMenuPopover.tsx
  packages/react-menu/src/components/MenuPopover/useMenuPopover.ts
  packages/react-menu/src/components/MenuTrigger/MenuTrigger.tsx
  packages/react-menu/src/components/MenuTrigger/MenuTrigger.types.ts
  packages/react-menu/src/components/MenuTrigger/__snapshots__/MenuTrigger.test.tsx.snap
  packages/react-menu/src/components/MenuTrigger/useMenuTrigger.ts
  packages/react-menu/src/components/MenuTrigger/useTriggerElement.test.tsx
  packages/react-menu/src/components/MenuTrigger/useTriggerElement.ts
  packages/react-menu/src/utils/index.ts
  packages/react-menu/src/utils/isOutsideMenu.ts
  packages/react-menu/src/utils/useOnMenuEnter.ts
  packages/react-tabster/etc/react-tabster.api.md
  packages/react-tabster/src/hooks/useFocusFinders.ts
Labels: Component: Menu

#18529 fix(Nav): update chevron icon styles to adapt to text spacing
  change/@fluentui-react-cb654f7d-01c0-4f3f-b21f-9897f972c396.json
  change/@fluentui-react-examples-06f683f4-1725-4f75-a900-a6c1cc89317f.json
  packages/react-examples/src/react/__snapshots__/Nav.Basic.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/Nav.Nested.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/Nav.Wrapped.Example.tsx.shot
  packages/react/src/components/Nav/Nav.styles.ts
  packages/react/src/components/Nav/__snapshots__/Nav.test.tsx.snap
Labels: Area: Accessibility, Area: Website, Component: Nav

#18565 feat(Menu): Allow custom and virtual popover target
  change/@fluentui-react-menu-45e2f117-af8f-472c-80c9-303392bf6753.json
  change/@fluentui-react-positioning-ee22c13a-daa7-4278-96ed-5d924e05669f.json
  packages/react-menu/e2e/Menu.e2e.ts
  packages/react-menu/etc/react-menu.api.md
  packages/react-menu/src/Menu.stories.tsx
  packages/react-menu/src/components/Menu/Menu.types.ts
  packages/react-menu/src/components/Menu/useMenu.tsx
  packages/react-menu/src/components/MenuPopover/useMenuPopover.ts
  packages/react-menu/src/components/MenuTrigger/useTriggerElement.ts
  packages/react-positioning/etc/react-positioning.api.md
  packages/react-positioning/src/index.ts
  packages/react-positioning/src/usePopperMouseTarget.ts
Labels: Component: Menu

#18570 fix(MenuItemContent): get vertical prop from context
  packages/fluentui/CHANGELOG.md
  packages/fluentui/docs/src/examples/components/Menu/Visual/MenuExampleVertical.tsx
  packages/fluentui/docs/src/examples/components/Menu/Visual/index.tsx
  packages/fluentui/react-northstar/src/components/Menu/Menu.tsx
  packages/fluentui/react-northstar/src/components/Menu/MenuItemContent.tsx
  packages/fluentui/react-northstar/src/components/Menu/menuContext.ts
Labels: Component: Menu, Fluent UI react-northstar

#18334 Compact Chat Density
  packages/fluentui/CHANGELOG.md
  packages/fluentui/docs/src/components/Sidebar/Sidebar.tsx
  packages/fluentui/docs/src/examples/components/Chat/Types/ChatExampleCompact.shorthand.steps.ts
  packages/fluentui/docs/src/examples/components/Chat/Types/ChatExampleCompact.shorthand.tsx
  packages/fluentui/docs/src/examples/components/Chat/Types/ChatMessageExampleBadge.shorthand.tsx
  packages/fluentui/docs/src/examples/components/Chat/Types/index.tsx
  packages/fluentui/docs/src/routes.tsx
  packages/fluentui/react-northstar-prototypes/src/index.ts
  packages/fluentui/react-northstar-prototypes/src/prototypes/compactChat/CompactChatErrorState.tsx
  packages/fluentui/react-northstar-prototypes/src/prototypes/compactChat/CompactChatSlots.tsx
  packages/fluentui/react-northstar-prototypes/src/prototypes/compactChat/CompactChatWithAuthor.tsx
  packages/fluentui/react-northstar-prototypes/src/prototypes/compactChat/CompactChatWithBadges.tsx
  packages/fluentui/react-northstar-prototypes/src/prototypes/compactChat/CompactChatWithDetails.tsx
  packages/fluentui/react-northstar-prototypes/src/prototypes/compactChat/CompactChatWithReactions.tsx
  packages/fluentui/react-northstar-prototypes/src/prototypes/compactChat/CompactChatWithReadReceipts.tsx
  packages/fluentui/react-northstar-prototypes/src/prototypes/compactChat/compactAvatars.ts
  packages/fluentui/react-northstar-prototypes/src/prototypes/compactChat/index.tsx
  packages/fluentui/react-northstar/src/components/Chat/Chat.tsx
  packages/fluentui/react-northstar/src/components/Chat/ChatItem.tsx
  packages/fluentui/react-northstar/src/components/Chat/ChatMessage.tsx
  packages/fluentui/react-northstar/src/components/Chat/ChatMessageDetails.tsx
  packages/fluentui/react-northstar/src/components/Chat/ChatMessageReadStatus.tsx
  packages/fluentui/react-northstar/src/components/Chat/chatItemContext.ts
  packages/fluentui/react-northstar/src/themes/teams-dark-v2/components/Chat/chatMessageVariables.ts
  packages/fluentui/react-northstar/src/themes/teams-high-contrast/components/Chat/chatMessageVariables.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Chat/chatItemStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Chat/chatItemVariables.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Chat/chatMessageDetailsStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Chat/chatMessageDetailsVariables.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Chat/chatMessageReadStatusStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Chat/chatMessageReadStatusVariables.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Chat/chatMessageStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Chat/chatMessageStylesComfy.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Chat/chatMessageStylesCompact.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Chat/chatMessageVariables.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Chat/chatStyles.ts
Labels: Fluent UI react-northstar

#18469 fix(PeoplePicker): remove tooltip within suggestions dropdown, add no-tooltip option to Persona
  change/@fluentui-react-b3fc9c8f-3200-4150-aef2-bb6f55200609.json
  change/@fluentui-react-examples-10be9e19-f696-46e4-a062-b2622e51d9fe.json
  packages/react-examples/src/react/PeoplePicker/PeoplePicker.List.Example.tsx
  packages/react-examples/src/react/PeoplePicker/PeoplePicker.doc.tsx
  packages/react-examples/src/react/PeoplePicker/docs/PeoplePickerBestPractices.md
  packages/react-examples/src/react/Persona/docs/PersonaBestPractices.md
  packages/react/etc/react.api.md
  packages/react/src/components/Persona/Persona.base.tsx
  packages/react/src/components/Persona/Persona.types.ts
  packages/react/src/components/pickers/PeoplePicker/PeoplePickerItems/PeoplePickerItemSuggestion.tsx
Labels: PR: API Modified

#18537 fix(ColorPicker example): label text was overly verbose and contained role and instruction text
  change/@fluentui-react-9be574bf-e7e7-4af5-8fd3-d4dd815b6f3c.json
  change/@fluentui-react-examples-79622e1f-06b6-4bbd-9061-cf8b62db0d5d.json
  packages/react-examples/src/react/ColorPicker/ColorPicker.Basic.Example.tsx
  packages/react-examples/src/react/__snapshots__/ColorPicker.Basic.Example.tsx.shot
  packages/react/src/components/ColorPicker/ColorPicker.types.ts
Labels: Area: Website

#18554 fix(tools): preserve types and tags when running migration on already migrated project
  tools/generators/migrate-converged-pkg/index.spec.ts
  tools/generators/migrate-converged-pkg/index.ts
  tools/types.ts
Labels: Area: Build System, Fluent UI vNext

#18584 test(tools): add docs for type utils and cover those utils by tests
  tools/types.spec.ts
  tools/types.ts
Labels: Area: Build System, Fluent UI vNext

#18539 [react-northstar] Add DocumentTitle from Prototype section
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar-prototypes/package.json
  packages/fluentui/react-northstar-prototypes/src/prototypes/Prototypes.tsx
Labels: Fluent UI react-northstar

#18524 chore: enable full strict mode for converged packages with new DX setup
  change/@fluentui-react-menu-b608a17d-e563-4aa6-9864-bf6f7f2ee14a.json
  packages/react-menu/src/components/Menu/Menu.test.tsx
  packages/react-menu/src/utils/useOnMenuEnter.ts
  packages/react-storybook/tsconfig.json
  tsconfig.base.json
Labels: Area: Build System, Fluent UI vNext

#18503 React label - Removing v8 dependencies from label examples
  change/@fluentui-react-examples-eccbd33a-1f1a-437e-860b-ce563c134510.json
  change/@fluentui-react-label-a0dc2a8b-54bb-42bb-9c4f-ddc415f240bc.json
  packages/react-examples/src/react-label/Label/Label.stories.tsx
  packages/react-label/src/components/Label/useLabelStyles.ts
Labels: Area: Website

#18600 fix(Badge): icons alignment
  change/@fluentui-react-badge-515ab507-489c-4a09-ad76-bd72b4b5fe54.json
  packages/react-badge/src/components/Badge/useBadgeStyles.ts
Labels: Component: Badge

#18268 DetailsList - add option to customize the filter icon
  change/@fluentui-react-434c69f9-76ec-4314-bd8c-4be217a8373f.json
  packages/react/etc/react.api.md
  packages/react/src/components/DetailsList/DetailsColumn.base.tsx
  packages/react/src/components/DetailsList/DetailsColumn.types.ts
  packages/react/src/components/DetailsList/DetailsList.types.ts
Labels: Component: DetailsList, PR: API Modified

#18604 ProgressIndicator: Deriving aria-labelledby and aria-describedby
  change/@fluentui-react-9db5ec8b-0749-40f4-b1de-5b7748c2d3fb.json
  change/@fluentui-react-examples-d73c2e33-6174-45bb-a4e7-8c8dab935c72.json
  change/office-ui-fabric-react-275d25fe-f2a8-4d6c-8e35-a307ab3aa269.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/ProgressIndicator/ProgressIndicator.base.tsx
  packages/office-ui-fabric-react/src/components/ProgressIndicator/__snapshots__/ProgressIndicator.test.tsx.snap
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/Announced.LazyLoading.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/ProgressIndicator.Basic.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/ProgressIndicator.Indeterminate.Example.tsx.shot
Labels: Area: Accessibility, AutoMerge, Component: ProgressIndicator, Fabric 7, PR: API Modified

#18602 (web-components) standardized remaining design token recipe types
  change/@fluentui-web-components-610e5188-329e-4066-b3ba-dd0be153a535.json
  packages/web-components/src/color-vNext/recipe.ts
  packages/web-components/src/color-vNext/recipes/accent-fill.ts
  packages/web-components/src/color-vNext/recipes/accent-foreground.ts
  packages/web-components/src/color-vNext/recipes/neutral-fill-contrast.ts
  packages/web-components/src/color-vNext/recipes/neutral-fill-input.ts
  packages/web-components/src/color-vNext/recipes/neutral-fill-inverse.ts
  packages/web-components/src/color-vNext/recipes/neutral-fill-stealth.ts
  packages/web-components/src/color-vNext/recipes/neutral-fill.ts
  packages/web-components/src/color-vNext/recipes/neutral-layer-card-container.ts
  packages/web-components/src/color-vNext/recipes/neutral-stroke.ts
  packages/web-components/src/color-vNext/utilities/base-layer-luminance.ts
  packages/web-components/src/design-tokens.ts
Labels: web-components

#18618 fix(Menu): Do not open submenus without mousemove, other a11y changes
  change/@fluentui-react-menu-b529e230-2994-422a-9eea-f0a8dcf2df83.json
  packages/react-menu/e2e/Menu.e2e.ts
  packages/react-menu/src/components/Menu/Menu.test.tsx
  packages/react-menu/src/components/Menu/useMenu.tsx
  packages/react-menu/src/components/MenuPopover/useMenuPopover.ts
  packages/react-menu/src/components/MenuTrigger/__snapshots__/MenuTrigger.test.tsx.snap
  packages/react-menu/src/components/MenuTrigger/useTriggerElement.test.tsx
  packages/react-menu/src/components/MenuTrigger/useTriggerElement.ts
Labels: Component: Menu

#18606 react-image - Migration to new DX
  change/@fluentui-react-examples-3f727fcf-7626-44ee-bb71-eb52297f248b.json
  change/@fluentui-react-image-d233671d-ccc9-4a09-a080-56f852b30590.json
  jest.config.js
  nx.json
  packages/react-examples/package.json
  packages/react-examples/src/react-image/Image/Image.stories.scss
  packages/react-image/.storybook/main.js
  packages/react-image/.storybook/preview.js
  packages/react-image/.storybook/tsconfig.json
  packages/react-image/config/api-extractor.local.json
  packages/react-image/jest.config.js
  packages/react-image/package.json
  packages/react-image/src/Image.stories.tsx
  packages/react-image/tsconfig.json
  tsconfig.base.json
  workspace.json
Labels: Area: DevExp, AutoMerge, Component: Image

#17487 [v7.0] Rating: specifies when a rating's button is selected/not selected to improve a11y experience
  change/@fluentui-react-examples-9686f6f5-374d-49c7-a5c3-592e952916ba.json
  change/office-ui-fabric-react-20edbfb1-eb34-409c-a853-c8761530f1f8.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/Rating/Rating.base.tsx
  packages/office-ui-fabric-react/src/components/Rating/Rating.types.ts
  packages/office-ui-fabric-react/src/components/Rating/__snapshots__/Rating.test.tsx.snap
  packages/react-examples/src/office-ui-fabric-react/Rating/Rating.Basic.Example.tsx
  packages/react-examples/src/office-ui-fabric-react/Rating/Rating.ButtonControlled.Example.tsx
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/Rating.Basic.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/Rating.ButtonControlled.Example.tsx.shot
Labels: Area: Accessibility, Component: Rating, Fabric 7, PR: API Modified

#18621 fix(Badge): swap dnd and busy icons
  change/@fluentui-react-badge-cb00b5bc-fd5f-4c1a-8488-7d12173f480a.json
  change/@fluentui-react-examples-ce12d2bf-54bf-44ad-92a1-0efbd281f1ed.json
  packages/react-badge/src/components/Badge/useBadgeStyles.ts
  packages/react-badge/src/components/PresenceBadge/usePresenceBadge.tsx
  packages/react-examples/src/react-badge/PresenceBadge/PresenceBadge.stories.tsx
Labels: Component: PresenceBadge

#18578 (web-components) update DesignSystemProvider to use design tokens
  change/@fluentui-web-components-d3894bad-1688-478e-95f1-627ea7a64157.json
  packages/web-components/src/design-system-provider/design-system-provider.styles.ts
  packages/web-components/src/design-system-provider/index.ts
Labels: web-components

#18625 react-divider: Migrate to new DX
  change/@fluentui-react-divider-0094a310-de20-40b5-9518-a3b7bee1aa91.json
  change/@fluentui-react-examples-a33dafc0-fc68-4afd-94d8-467f1209faf4.json
  jest.config.js
  nx.json
  packages/react-divider/.storybook/main.js
  packages/react-divider/.storybook/preview.js
  packages/react-divider/.storybook/tsconfig.json
  packages/react-divider/config/api-extractor.local.json
  packages/react-divider/jest.config.js
  packages/react-divider/package.json
  packages/react-divider/src/Divider.stories.tsx
  packages/react-divider/src/tmp-icons.stories.tsx
  packages/react-divider/tsconfig.json
  packages/react-examples/package.json
  tsconfig.base.json
  workspace.json
Labels: AutoMerge

#18603 Cherry pick details list filter icon PR to v7
  change/office-ui-fabric-react-87af3408-8c21-4731-8137-0f19f77075e1.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsColumn.base.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsColumn.types.ts
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsList.types.ts
Labels: Component: DetailsList, Fabric 7, PR: API Modified

#18613 Coachmark: Update Coachmark beak HC styling to windowtext
  change/@fluentui-react-8ec3d5f2-7f50-481d-b46e-c529c4767eb1.json
  change/@fluentui-react-examples-1b3a1730-975a-4600-bb36-969e82da5492.json
  packages/react-examples/src/react/__snapshots__/CommandBar.CommandBarButtonAs.Example.tsx.shot
  packages/react/src/components/Coachmark/Beak/Beak.styles.ts
Labels: Component: Coachmark, High Contrast

#18526 SearchBox to show icon on focus
  apps/vr-tests/src/stories/SearchBox.stories.tsx
  change/@fluentui-react-2ef6965f-113f-40f4-97f7-223fe87516ef.json
  packages/react/etc/react.api.md
  packages/react/src/components/SearchBox/SearchBox.base.tsx
  packages/react/src/components/SearchBox/SearchBox.styles.tsx
  packages/react/src/components/SearchBox/SearchBox.types.ts
Labels: Component: SearchBox, PR: API Modified

#18624 feat(Badge): add color variations combined with appearance
  change/@fluentui-react-badge-4dd65026-2df9-47c2-b019-d414ac9fafaf.json
  change/@fluentui-react-examples-255c8369-5c11-4edd-9f23-54266f047b56.json
  packages/react-badge/etc/react-badge.api.md
  packages/react-badge/src/components/Badge/Badge.types.ts
  packages/react-badge/src/components/Badge/useBadgeStyles.ts
  packages/react-badge/src/components/CounterBadge/CounterBadge.types.ts
  packages/react-badge/src/components/CounterBadge/useCounterBadgeStyles.ts
  packages/react-examples/src/react-badge/Badge/BadgeAppearance.stories.tsx
Labels: Component: Badge

#18635 Cherrypick HC Coachmark Beak styling to v7
  change/office-ui-fabric-react-d5048feb-ecbd-40f3-aa9c-1d1ff61735fa.json
  packages/office-ui-fabric-react/src/components/Coachmark/Beak/Beak.styles.ts
Labels: Component: Coachmark, Fabric 7

#18631 (web-components) fix card color
  change/@fluentui-web-components-187ac3c3-51d0-4ebc-bf18-1d431cfd1247.json
  packages/web-components/docs/api-report.md
  packages/web-components/src/badge/badge.styles.ts
  packages/web-components/src/button/button.styles.ts
  packages/web-components/src/card/card.styles.ts
  packages/web-components/src/card/fixtures/card.html
  packages/web-components/src/card/index.ts
  packages/web-components/src/checkbox/checkbox.styles.ts
  packages/web-components/src/combobox/combobox.styles.ts
  packages/web-components/src/custom-elements.ts
  packages/web-components/src/design-system-provider/index.ts
  packages/web-components/src/flipper/flipper.styles.ts
  packages/web-components/src/index.ts
  packages/web-components/src/listbox-option/listbox-option.styles.ts
  packages/web-components/src/listbox/listbox.styles.ts
  packages/web-components/src/menu-item/menu-item.styles.ts
  packages/web-components/src/number-field/number-field.styles.ts
  packages/web-components/src/progress/progress-ring/progress-ring.styles.ts
  packages/web-components/src/progress/progress/progress.styles.ts
  packages/web-components/src/radio/radio.styles.ts
  packages/web-components/src/select/select.styles.ts
  packages/web-components/src/skeleton/fixtures/base.html
  packages/web-components/src/slider-label/slider-label.styles.ts
  packages/web-components/src/slider/fixtures/slider.html
  packages/web-components/src/slider/slider.styles.ts
  packages/web-components/src/styles/behaviors.ts
  packages/web-components/src/styles/index.ts
  packages/web-components/src/styles/patterns/button.ts
  packages/web-components/src/styles/patterns/input.ts
  packages/web-components/src/switch/switch.styles.ts
  packages/web-components/src/tabs/tab-panel/tab-panel.styles.ts
  packages/web-components/src/tabs/tab/tab.styles.ts
  packages/web-components/src/tabs/tabs.styles.ts
  packages/web-components/src/text-area/text-area.styles.ts
  packages/web-components/src/text-field/text-field.styles.ts
  packages/web-components/src/tooltip/tooltip.styles.ts
Labels: web-components

#18374 chore: improve typings for ICSSInJSStyle in Northstar
  packages/fluentui/docs/src/examples/components/Chat/Types/ChatMessageExampleStyled.shorthand.tsx
  packages/fluentui/docs/src/examples/components/Provider/Performance/ProviderMergeThemes.perf.tsx
  packages/fluentui/react-bindings/src/hooks/useStyles.ts
  packages/fluentui/react-bindings/src/styles/createAnimationStyles.tsx
  packages/fluentui/react-bindings/src/styles/resolveStyles.ts
  packages/fluentui/react-bindings/src/styles/types.ts
  packages/fluentui/react-bindings/test/compose/useCompose-test.tsx
  packages/fluentui/react-bindings/test/styles/createAnimationStyles-test.ts
  packages/fluentui/react-northstar-emotion-renderer/src/disableAnimations.ts
  packages/fluentui/react-northstar-emotion-renderer/src/invokeKeyframes.ts
  packages/fluentui/react-northstar-fela-renderer/src/felaDisableAnimationsPlugin.ts
  packages/fluentui/react-northstar-fela-renderer/src/felaExpandCssShorthandsPlugin.ts
  packages/fluentui/react-northstar-fela-renderer/src/felaInvokeKeyframesPlugin.ts
  packages/fluentui/react-northstar-fela-renderer/src/felaPerformanceEnhancer.ts
  packages/fluentui/react-northstar-fela-renderer/src/felaSanitizeCssPlugin.ts
  packages/fluentui/react-northstar-fela-renderer/test/felaDisableAnimationsPlugin-test.ts
  packages/fluentui/react-northstar-fela-renderer/test/felaInvokeKeyframesPlugin-test.ts
  packages/fluentui/react-northstar-prototypes/src/prototypes/compactChat/CompactChatSlots.tsx
  packages/fluentui/react-northstar/src/components/Animation/useAnimationStyles.ts
  packages/fluentui/react-northstar/src/components/Design/Design.tsx
  packages/fluentui/react-northstar/src/components/Flex/FlexItem.tsx
  packages/fluentui/react-northstar/src/themes/teams/components/Accordion/accordionTitleStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Alert/alertDismissActionStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Alert/alertStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Checkbox/checkboxStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Dialog/dialogStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Grid/gridStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Layout/layoutStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Slider/sliderStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/getBorderFocusStyles.ts
  packages/fluentui/styles/src/mergeThemes.ts
  packages/fluentui/styles/src/types.ts
  packages/fluentui/styles/test/mergeThemes/mergeComponentStyles-test.ts
  packages/fluentui/styles/test/mergeThemes/mergeThemes-test.ts
Labels: Fluent UI react-northstar

#18661 fix(build): update target build path in migrate-converged-pkg
  change/@fluentui-react-accordion-350cfbaa-9fb0-49db-b276-56a2f5fec16e.json
  change/@fluentui-react-aria-73ebef73-acab-4a67-b3fe-35d81eb4d012.json
  change/@fluentui-react-divider-21be1ac5-aef5-4402-ac14-15662f3b8a3d.json
  change/@fluentui-react-image-32f065fc-be14-4662-bbcc-b3fd78d4722c.json
  change/@fluentui-react-menu-13187f58-6176-4555-9dfb-28289509edec.json
  change/@fluentui-react-portal-3a6fd745-6d1b-4d7c-90de-7bf6dfe9f80a.json
  change/@fluentui-react-positioning-d77fac0e-e6d4-4687-8f27-31d30f7dd7f8.json
  packages/react-accordion/package.json
  packages/react-aria/package.json
  packages/react-divider/package.json
  packages/react-image/package.json
  packages/react-menu/package.json
  packages/react-portal/package.json
  packages/react-positioning/package.json
  packages/react-text/package.json
  tools/generators/migrate-converged-pkg/index.spec.ts
  tools/generators/migrate-converged-pkg/index.ts
Labels: Area: Build System

#18614 react-link: Migrating to new DX
  change/@fluentui-react-examples-2c3e91bf-4252-45cb-a730-09a530e417c6.json
  change/@fluentui-react-link-d174d355-41a4-4a14-96e6-6b6603786c78.json
  jest.config.js
  nx.json
  packages/react-examples/package.json
  packages/react-link/.storybook/main.js
  packages/react-link/.storybook/preview.js
  packages/react-link/.storybook/tsconfig.json
  packages/react-link/config/api-extractor.local.json
  packages/react-link/jest.config.js
  packages/react-link/package.json
  packages/react-link/src/Link.stories.tsx
  packages/react-link/tsconfig.json
  tsconfig.base.json
  workspace.json
Labels: Component: Link

#18669 Removing image dependency from react-examples package
  change/@fluentui-react-examples-0efe6f0a-3913-4fc7-9838-e45a827108a3.json
  packages/react-examples/package.json
Labels: Area: Website, AutoMerge

#18519 react-button: Removing last remnants of legacy patterns
  change/@fluentui-react-button-cfb64297-7ddd-42e8-8c9c-727167c2979c.json
  packages/react-button/etc/react-button.api.md
  packages/react-button/package.json
  packages/react-button/src/components/Button/Button.types.ts
Labels: Component: Button, Component: CompoundButton, Component: MenuButton, Component: ToggleButton

#18666 fix(PresenceBadge): match design spec border
  change/@fluentui-react-badge-b407c208-ca0f-4837-825c-f2f5d6f42ca4.json
  packages/react-badge/src/components/PresenceBadge/usePresenceBadgeStyles.ts
Labels: Component: PresenceBadge

#18663 fix(MenuButton): stop propagation avoiding navigating between cells
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/components/MenuButton/MenuButton.tsx
Labels: Fluent UI react-northstar

#18592 Add ChatDensityContext to provide density-value for all children
  packages/fluentui/docs/src/examples/components/Chat/Types/ChatExampleCompact.shorthand.tsx
  packages/fluentui/docs/src/examples/components/Chat/Types/ChatExampleCompact.tsx
  packages/fluentui/react-northstar-prototypes/src/prototypes/compactChat/CompactChatErrorState.tsx
  packages/fluentui/react-northstar-prototypes/src/prototypes/compactChat/CompactChatSlots.tsx
  packages/fluentui/react-northstar-prototypes/src/prototypes/compactChat/CompactChatWithAuthor.tsx
  packages/fluentui/react-northstar-prototypes/src/prototypes/compactChat/CompactChatWithBadges.tsx
  packages/fluentui/react-northstar-prototypes/src/prototypes/compactChat/CompactChatWithDetails.tsx
  packages/fluentui/react-northstar-prototypes/src/prototypes/compactChat/CompactChatWithReactions.tsx
  packages/fluentui/react-northstar-prototypes/src/prototypes/compactChat/CompactChatWithReadReceipts.tsx
  packages/fluentui/react-northstar/src/components/Chat/Chat.tsx
  packages/fluentui/react-northstar/src/components/Chat/ChatItem.tsx
  packages/fluentui/react-northstar/src/components/Chat/ChatMessage.tsx
  packages/fluentui/react-northstar/src/components/Chat/ChatMessageDetails.tsx
  packages/fluentui/react-northstar/src/components/Chat/ChatMessageReadStatus.tsx
  packages/fluentui/react-northstar/src/components/Chat/chatDensityContext.ts
  packages/fluentui/react-northstar/src/components/Chat/chatItemContext.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Chat/chatItemStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Chat/chatMessageDetailsStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Chat/chatMessageReadStatusStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Chat/chatMessageStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Chat/chatStyles.ts
Labels: Fluent UI react-northstar

#18619 Accessibility changes for multistackebar chart
  change/@fluentui-react-charting-8823e6fe-db5d-4cfa-b0b7-9b4792f7f837.json
  packages/react-charting/src/components/CommonComponents/CartesianChart.base.tsx
  packages/react-charting/src/components/StackedBarChart/MultiStackedBarChart.base.tsx
  packages/react-charting/src/components/StackedBarChart/MultiStackedBarChart.styles.ts
  packages/react-charting/src/components/StackedBarChart/MultiStackedBarChart.types.ts
  packages/react-charting/src/components/StackedBarChart/StackedBarChart.base.tsx
  packages/react-charting/src/components/StackedBarChart/StackedBarChart.styles.ts
  packages/react-charting/src/components/StackedBarChart/StackedBarChart.types.ts
  packages/react-charting/src/components/StackedBarChart/__snapshots__/MultiStackedBarChart.test.tsx.snap
  packages/react-charting/src/components/StackedBarChart/__snapshots__/StackedBarChart.test.tsx.snap
Labels: Package: charting

#18649 Testing - Implementing Coachmark snapshot tests
  change/@fluentui-react-36fb78a0-7a0e-41ae-a44b-92b58776d497.json
  packages/react/src/components/Coachmark/Coachmark.test.tsx
  packages/react/src/components/Coachmark/__snapshots__/Coachmark.test.tsx.snap
Labels: Component: Coachmark

#18470 Add ContentViewGalleryIcon, update RedBangIcon and AppsIcon
  change/@fluentui-react-4b3b6e83-74bf-4f9f-b7dc-91c44e2af5af.json
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-icons-northstar/src/components/AddIcon.tsx
  packages/fluentui/react-icons-northstar/src/components/AppsIcon.tsx
  packages/fluentui/react-icons-northstar/src/components/BulletsIcon.tsx
  packages/fluentui/react-icons-northstar/src/components/CastingIcon.tsx
  packages/fluentui/react-icons-northstar/src/components/ComposeIcon.tsx
  packages/fluentui/react-icons-northstar/src/components/ContentViewGalleryIcon.tsx
  packages/fluentui/react-icons-northstar/src/components/LocationIcon.tsx
  packages/fluentui/react-icons-northstar/src/components/MoreIcon.tsx
  packages/fluentui/react-icons-northstar/src/components/RedbangIcon.tsx
  packages/fluentui/react-icons-northstar/src/index.ts
  packages/react/src/components/Callout/Callout.types.ts
Labels: Fluent UI react-northstar

#18691 Testing - Implementing Check snapshot test
  change/@fluentui-react-f73da17c-dda5-43c4-b605-996d084e0241.json
  packages/react/src/components/Check/Check.test.tsx
  packages/react/src/components/Check/__snapshots__/Check.test.tsx.snap
Labels: Component: Check

#18694 fix(TextStyles): Fix text error color
  packages/fluentui/react-northstar/src/themes/teams/colors.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Text/textVariables.ts
Labels: Component: Text, Fluent UI react-northstar

#18702 chore(changelog): add missing entry
  packages/fluentui/CHANGELOG.md
Labels: Fluent UI react-northstar

#18701 BREAKING CHANGE: for Menu and Toolbar, change submenu indicator to outlined chevron icon
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/components/Menu/MenuItem.tsx
  packages/fluentui/react-northstar/src/components/Toolbar/ToolbarMenuItem.tsx
  packages/fluentui/react-northstar/src/themes/teams/components/Menu/menuItemIndicatorStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Menu/menuItemWrapperStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Menu/submenuIndicatorDirection.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Menu/submenuIndicatorUrl.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Toolbar/submenuIndicatorUrl.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Toolbar/toolbarMenuItemStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Toolbar/toolbarMenuItemSubmenuIndicatorStyles.ts
Labels: Fluent UI react-northstar

#18687 Accessibility changes for Horizontal Bar Chart
  change/@fluentui-react-charting-a7b4b6ad-6c00-4423-be08-717fe2ffe8da.json
  change/@fluentui-react-examples-fc9b597b-b4c5-47ed-a16e-1d375a15678e.json
  packages/react-charting/src/components/HorizontalBarChart/HorizontalBarChart.base.tsx
  packages/react-charting/src/components/HorizontalBarChart/HorizontalBarChart.types.ts
  packages/react-charting/src/types/IDataPoint.ts
  packages/react-examples/src/react-charting/HorizontalBarChart/HorizontalBarChart.CustomAccessibility.Example.tsx
  packages/react-examples/src/react-charting/HorizontalBarChart/HorizontalBarChartPage.tsx
Labels: Package: charting

#18665 Add features to Line Chart (gaps, borders, line properties, etc.)
  change/@fluentui-react-charting-80cf25ab-8992-43e6-a60b-b1da047aa0a8.json
  change/@fluentui-react-examples-a513bd77-be59-4d4e-be82-7dfc6db074f5.json
  packages/react-charting/src/components/AreaChart/AreaChart.base.tsx
  packages/react-charting/src/components/CommonComponents/CartesianChart.base.tsx
  packages/react-charting/src/components/CommonComponents/CartesianChart.styles.ts
  packages/react-charting/src/components/CommonComponents/CartesianChart.types.ts
  packages/react-charting/src/components/Legends/Legends.types.ts
  packages/react-charting/src/components/Legends/shape.tsx
  packages/react-charting/src/components/LineChart/LineChart.base.tsx
  packages/react-charting/src/components/LineChart/LineChart.types.ts
  packages/react-charting/src/components/LineChart/__snapshots__/LineChart.test.tsx.snap
  packages/react-charting/src/types/IDataPoint.ts
  packages/react-charting/src/utilities/utilities.ts
  packages/react-examples/src/react-charting/LineChart/LineChart.Gaps.Example.tsx
Labels: Package: charting

#17939 feat: Make disabled Menu items focusable
  packages/fluentui/CHANGELOG.md
  packages/fluentui/accessibility/src/behaviors/Menu/menuItemBehavior.ts
  packages/fluentui/accessibility/src/behaviors/Tab/tabBehavior.ts
  packages/fluentui/accessibility/src/behaviors/Toolbar/menuItemAsToolbarButtonBehavior.ts
  packages/fluentui/accessibility/src/behaviors/Toolbar/toolbarMenuItemBehavior.ts
  packages/fluentui/docs/src/examples/components/Menu/Usage/MenuExampleToolbar.shorthand.steps.ts
Labels: Fluent UI react-northstar

#18656 react-label - Migration to new DX
  change/@fluentui-react-examples-9712945e-15a9-4c49-a771-4ab2374c5448.json
  change/@fluentui-react-label-2fdd0110-c607-4ff7-991c-fd2517f46129.json
  jest.config.js
  nx.json
  packages/react-examples/package.json
  packages/react-label/.storybook/main.js
  packages/react-label/.storybook/preview.js
  packages/react-label/.storybook/tsconfig.json
  packages/react-label/config/api-extractor.local.json
  packages/react-label/jest.config.js
  packages/react-label/package.json
  packages/react-label/src/Label.stories.tsx
  packages/react-label/tsconfig.json
  tsconfig.base.json
  workspace.json
Labels: Area: Build System

#18587 RFC(keyboard-key): Handle keyboard keys in more modern and tree shakeable way
  rfcs/convergence/handling-keyboard-keys.md
Labels: Type: RFC

#18723 Custom Accessibility changes for Stacked Bar and Multi Stacked bar Chart
  change/@fluentui-react-charting-59e83514-1905-4121-b1e6-af29a84362f3.json
  change/@fluentui-react-examples-20fd0ca9-98b7-4667-8454-e97d8caa5a2c.json
  packages/react-charting/src/components/HorizontalBarChart/HorizontalBarChart.base.tsx
  packages/react-charting/src/components/StackedBarChart/MultiStackedBarChart.base.tsx
  packages/react-charting/src/components/StackedBarChart/MultiStackedBarChart.styles.ts
  packages/react-charting/src/components/StackedBarChart/MultiStackedBarChart.types.ts
  packages/react-charting/src/components/StackedBarChart/StackedBarChart.base.tsx
  packages/react-charting/src/components/StackedBarChart/StackedBarChart.styles.ts
  packages/react-charting/src/components/StackedBarChart/StackedBarChart.types.ts
  packages/react-charting/src/components/StackedBarChart/__snapshots__/MultiStackedBarChart.test.tsx.snap
  packages/react-charting/src/components/StackedBarChart/__snapshots__/StackedBarChart.test.tsx.snap
  packages/react-charting/src/types/IDataPoint.ts
  packages/react-examples/src/react-charting/HorizontalBarChart/HorizontalBarChart.CustomAccessibility.Example.tsx
  packages/react-examples/src/react-charting/StackedBarChart/MultiStackedBarChart.CustomAccessibility.Example.tsx
  packages/react-examples/src/react-charting/StackedBarChart/StackedBarChart.CustomAccessibility.Example.tsx
  packages/react-examples/src/react-charting/StackedBarChart/StackedBarChartPage.tsx
Labels: Package: charting

#18727 Charting: CherryPick #18619. Accessibility changes for multistackebar chart #18619
  change/@uifabric-charting-4a0b5e05-c3b1-44ce-8501-7866c58c433a.json
  packages/charting/src/components/CommonComponents/CartesianChart.base.tsx
  packages/charting/src/components/StackedBarChart/MultiStackedBarChart.base.tsx
  packages/charting/src/components/StackedBarChart/MultiStackedBarChart.styles.ts
  packages/charting/src/components/StackedBarChart/MultiStackedBarChart.types.ts
  packages/charting/src/components/StackedBarChart/StackedBarChart.base.tsx
  packages/charting/src/components/StackedBarChart/StackedBarChart.styles.ts
  packages/charting/src/components/StackedBarChart/StackedBarChart.types.ts
  packages/charting/src/components/StackedBarChart/__snapshots__/MultiStackedBarChart.test.tsx.snap
  packages/charting/src/components/StackedBarChart/__snapshots__/StackedBarChart.test.tsx.snap
Labels: Fabric 7, Package: charting

#18729 Users/chhol/fix card template pathing issue
  change/@fluentui-web-components-eb08f80c-ba26-4951-8c71-4c760ce5b5af.json
  packages/web-components/src/card/index.ts
Labels: web-components

#18731 Charting: CherryPick #18687: Accessibility changes for Horizontal Bar Chart #18687
  change/@fluentui-react-examples-77bff388-3761-4482-99c7-a78610b11b0b.json
  change/@uifabric-charting-5c101b77-d0e0-47f5-852c-9fc8a760f8b2.json
  packages/charting/src/components/HorizontalBarChart/HorizontalBarChart.base.tsx
  packages/charting/src/components/HorizontalBarChart/HorizontalBarChart.types.ts
  packages/charting/src/types/IDataPoint.ts
  packages/react-examples/src/charting/HorizontalBarChart/HorizontalBarChart.CustomAccessibility.Example.tsx
  packages/react-examples/src/charting/HorizontalBarChart/HorizontalBarChartPage.tsx
Labels: Fabric 7, Package: charting

#18726 Cherry pick from Add features to Line Chart (gaps, borders, line properties, etc.) #18665
  change/@fluentui-react-examples-311adbf4-08e0-4b0d-bcad-0ee12d18ed75.json
  change/@uifabric-charting-33638693-9461-4271-af27-805cd9f5226f.json
  packages/charting/src/components/AreaChart/AreaChart.base.tsx
  packages/charting/src/components/CommonComponents/CartesianChart.base.tsx
  packages/charting/src/components/CommonComponents/CartesianChart.styles.ts
  packages/charting/src/components/CommonComponents/CartesianChart.types.ts
  packages/charting/src/components/Legends/Legends.types.ts
  packages/charting/src/components/Legends/shape.tsx
  packages/charting/src/components/LineChart/LineChart.base.tsx
  packages/charting/src/components/LineChart/LineChart.types.ts
  packages/charting/src/components/LineChart/__snapshots__/LineChart.test.tsx.snap
  packages/charting/src/types/IDataPoint.ts
  packages/charting/src/utilities/utilities.ts
  packages/react-examples/src/charting/LineChart/LineChart.Gap.Example.tsx
Labels: Fabric 7, Package: charting

#18735 Charting: CherryPick #18723: Custom Accessibility changes for Stacked Bar and Multi Stacked bar Chart
  change/@fluentui-react-examples-c0ebe71e-a08a-48af-9f54-f68113570f1b.json
  change/@uifabric-charting-b715b590-c16d-424a-a206-6571f48f60a9.json
  packages/charting/src/components/HorizontalBarChart/HorizontalBarChart.base.tsx
  packages/charting/src/components/StackedBarChart/MultiStackedBarChart.base.tsx
  packages/charting/src/components/StackedBarChart/MultiStackedBarChart.styles.ts
  packages/charting/src/components/StackedBarChart/MultiStackedBarChart.types.ts
  packages/charting/src/components/StackedBarChart/StackedBarChart.base.tsx
  packages/charting/src/components/StackedBarChart/StackedBarChart.styles.ts
  packages/charting/src/components/StackedBarChart/StackedBarChart.types.ts
  packages/charting/src/components/StackedBarChart/__snapshots__/MultiStackedBarChart.test.tsx.snap
  packages/charting/src/components/StackedBarChart/__snapshots__/StackedBarChart.test.tsx.snap
  packages/charting/src/types/IDataPoint.ts
  packages/react-examples/src/charting/HorizontalBarChart/HorizontalBarChart.CustomAccessibility.Example.tsx
  packages/react-examples/src/charting/StackedBarChart/MultiStackedBarChart.CustomAccessibility.Example.tsx
  packages/react-examples/src/charting/StackedBarChart/StackedBarChart.CustomAccessibility.Example.tsx
  packages/react-examples/src/charting/StackedBarChart/StackedBarChartPage.tsx
Labels: Fabric 7, Package: charting

#18556 TimePicker Control
  change/@fluentui-date-time-utilities-40c65f3c-9b5a-47a7-a43b-97b961487312.json
  change/@fluentui-react-ac9a8210-8147-4b2c-a21b-89a70224e0cd.json
  change/@fluentui-react-examples-cc107494-2a5b-4975-b27b-43fda01dd7d2.json
  change/@fluentui-utilities-95238a8a-d94f-4798-8cd7-a5332d16d995.json
  packages/date-time-utilities/etc/date-time-utilities.api.md
  packages/date-time-utilities/src/dateValues/timeConstants.ts
  packages/date-time-utilities/src/index.ts
  packages/date-time-utilities/src/timeFormatting/index.ts
  packages/date-time-utilities/src/timeFormatting/timeFormatting.test.ts
  packages/date-time-utilities/src/timeMath/timeMath.test.ts
  packages/date-time-utilities/src/timeMath/timeMath.ts
  packages/react-examples/src/react/TimePicker/TimePicker.Example.tsx
  packages/react-examples/src/react/__snapshots__/TimePicker.Example.tsx.shot
  packages/react/etc/react.api.md
  packages/react/src/TimePicker.ts
  packages/react/src/components/TimePicker/TimePicker.test.tsx
  packages/react/src/components/TimePicker/TimePicker.tsx
  packages/react/src/components/TimePicker/TimePicker.types.ts
  packages/react/src/components/TimePicker/__snapshots__/TimePicker.test.tsx.snap
  packages/react/src/components/TimePicker/index.ts
  packages/react/src/index.ts
  packages/utilities/etc/utilities.api.md
  packages/utilities/src/KeyCodes.ts
Labels: Component: New, PR: API Modified

#18330 Slider fixes after function component conversion; add missing parameters
  change/@fluentui-react-7b6f0ac2-8938-4b2b-87df-d7867da25015.json
  change/@fluentui-react-examples-3233ea6b-d35c-4491-b3bd-f891422f1e2d.json
  packages/react-examples/src/react/__snapshots__/Slider.Basic.Example.tsx.shot
  packages/react/etc/react.api.md
  packages/react/src/components/Slider/Slider.test.tsx
  packages/react/src/components/Slider/Slider.types.ts
  packages/react/src/components/Slider/useSlider.ts
Labels: Component: Slider, PR: API Modified

#18715 SearchBox - Resolving onChanged bug in SearchBox component
  change/@fluentui-react-8d007e58-7ef5-42a2-86b9-68bd891feea1.json
  packages/react/src/components/SearchBox/SearchBox.base.tsx
  packages/react/src/components/SearchBox/SearchBox.test.tsx
Labels: Component: SearchBox

#18651 Updated colorCell style to fix vertical alignment bug in SwatchColorPicker
  change/@fluentui-react-21171906-3dee-475e-afba-8e2349b7cbdd.json
  change/@fluentui-react-examples-ccceef25-10f8-4ce0-9db6-80ab12f3cd81.json
  packages/react-examples/src/react/__snapshots__/SwatchColorPicker.Basic.Example.tsx.shot
  packages/react/src/components/SwatchColorPicker/ColorPickerGridCell.styles.ts
  packages/react/src/components/SwatchColorPicker/__snapshots__/SwatchColorPicker.test.tsx.snap
Labels: Component: SwatchColorPicker

#18652 Added overflow-wrap for long word in TeachingBubble
  change/@fluentui-react-0508f92f-47d1-484e-920e-866370166b49.json
  change/@fluentui-react-examples-6af905cc-aeb2-4dbe-af83-ad729814d917.json
  packages/react-examples/src/react/__snapshots__/CommandBar.CommandBarButtonAs.Example.tsx.shot
  packages/react/src/components/TeachingBubble/TeachingBubble.styles.ts
  packages/react/src/components/TeachingBubble/__snapshots__/TeachingBubble.deprecated.test.tsx.snap
  packages/react/src/components/TeachingBubble/__snapshots__/TeachingBubble.test.tsx.snap
Labels: Component: TeachingBubble

#18684 Azure-themes combobox selectedstate fix
  change/@uifabric-azure-themes-6741018f-69a5-4dfc-bdd4-d8c10372866d.json
  packages/azure-themes/src/azure/styles/ComboBox.styles.ts
Labels: Fabric 7, Package: azure-themes

#18738 fix: prevent components selections
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/themes/teams/components/Accordion/accordionTitleStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Breadcrumb/breadcrumbLinkStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Button/buttonStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Checkbox/checkboxStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/List/listItemStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Menu/menuItemContentStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/RadioGroup/radioGroupItemStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Toolbar/toolbarCustomItemStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Toolbar/toolbarItemStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Toolbar/toolbarMenuItemStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Tree/treeTitleStyles.ts
Labels: Fluent UI react-northstar

#18743 fix(tools): remove test:watch task from converged pkg when migrating
  tools/generators/migrate-converged-pkg/index.spec.ts
  tools/generators/migrate-converged-pkg/index.ts
Labels: Area: Build System

#18719 chore(jest-serializer-make-styles): migrate to new DX
  change/@fluentui-jest-serializer-make-styles-99e52b0c-08b3-4b5f-9c16-c272a499ee6a.json
  jest.config.js
  nx.json
  packages/jest-serializer-make-styles/config/api-extractor.json
  packages/jest-serializer-make-styles/config/api-extractor.local.json
  packages/jest-serializer-make-styles/config/tests.js
  packages/jest-serializer-make-styles/etc/jest-serializer-make-styles.api.md
  packages/jest-serializer-make-styles/jest.config.js
  packages/jest-serializer-make-styles/package.json
  packages/jest-serializer-make-styles/tsconfig.json
  tsconfig.base.json
  workspace.json
Labels: Area: Build System

#18728 Ignore contentPosition in compact density
  packages/fluentui/react-northstar/src/components/Chat/ChatItem.tsx
Labels: Fluent UI react-northstar

#18711 Fix ChatMessage timestamp color and compact author font-weight
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/themes/teams-dark-v2/components/Chat/chatMessageVariables.ts
  packages/fluentui/react-northstar/src/themes/teams-v2/components/Chat/chatMessageVariables.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Chat/chatMessageStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Chat/chatMessageStylesComfy.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Chat/chatMessageStylesCompact.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Chat/chatMessageVariables.ts
Labels: Fluent UI react-northstar

#18749 fix(dropdownStyles): overflow-x hidden to remove scrollbar
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/themes/teams/components/Dropdown/dropdownStyles.ts
Labels: Fluent UI react-northstar

#18681 ChatMessageDetails margin based on attached prop
  packages/fluentui/CHANGELOG.md
  packages/fluentui/docs/src/examples/components/Chat/Types/ChatExampleDetails.shorthand.tsx
  packages/fluentui/react-northstar/src/components/Chat/ChatMessage.tsx
  packages/fluentui/react-northstar/src/components/Chat/ChatMessageDetails.tsx
  packages/fluentui/react-northstar/src/themes/teams/components/Chat/chatMessageDetailsStyles.ts
Labels: Fluent UI react-northstar

#18713 This ports the change to allow title on menu sections to be an IContextualMenuItem
  change/@fluentui-react-63a89c56-4df9-4cd6-82a6-00f6cdf5cc29.json
  packages/react/etc/react.api.md
  packages/react/src/components/ContextualMenu/ContextualMenu.base.tsx
  packages/react/src/components/ContextualMenu/ContextualMenu.test.tsx
  packages/react/src/components/ContextualMenu/ContextualMenu.types.ts
Labels: AutoMerge, Component: ContextualMenu, PR: API Modified

#18478 fix(Dropdown): interrupts IME input on controlled search
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/components/Dropdown/Dropdown.tsx
  packages/fluentui/react-northstar/test/specs/components/Dropdown/Dropdown-test.tsx
Labels: Component: Dropdown, Fluent UI react-northstar

#18695 react-make-styles: Migrate to new DX.
  change/@fluentui-react-examples-8474c864-aca4-4d2a-b6f0-215b1da91886.json
  change/@fluentui-react-make-styles-e3ca26e1-8f64-4740-8ca9-b13472c35b96.json
  jest.config.js
  nx.json
  packages/react-make-styles/.storybook/main.js
  packages/react-make-styles/.storybook/preview.js
  packages/react-make-styles/.storybook/tsconfig.json
  packages/react-make-styles/config/api-extractor.json
  packages/react-make-styles/config/api-extractor.local.json
  packages/react-make-styles/config/tests.js
  packages/react-make-styles/jest.config.js
  packages/react-make-styles/package.json
  packages/react-make-styles/src/Basic.stories.tsx
  packages/react-make-styles/src/RTL.stories.tsx
  packages/react-make-styles/tsconfig.json
  workspace.json
Labels: Area: Build System

#18745 chore: migrate react-provider to new DX
  change/@fluentui-react-examples-dd32280e-0e8e-4c80-adac-78b4faab5eaa.json
  change/@fluentui-react-provider-8dae1462-82fd-42ad-a7c9-47a3985a144e.json
  jest.config.js
  nx.json
  packages/react-examples/package.json
  packages/react-examples/src/react-provider/FluentProvider/FluentProvider.stories.tsx
  packages/react-provider/.storybook/main.js
  packages/react-provider/.storybook/preview.js
  packages/react-provider/.storybook/tsconfig.json
  packages/react-provider/config/api-extractor.json
  packages/react-provider/config/api-extractor.local.json
  packages/react-provider/jest.config.js
  packages/react-provider/package.json
  packages/react-provider/src/FluentProvider.stories.tsx
  packages/react-provider/tsconfig.json
  workspace.json
Labels: Area: Build System

#18733 Updating high contrast border color, text color on tinted button, updating buttons to have rounded focus states
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/themes/teams/components/Button/buttonStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Button/buttonVariables.ts
Labels: Fluent UI react-northstar

#18756 Adding Fluent Shadow values
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/themes/teams-dark/siteVariables.ts
  packages/fluentui/react-northstar/src/themes/teams-high-contrast/siteVariables.ts
  packages/fluentui/react-northstar/src/themes/teams/siteVariables.ts
Labels: Fluent UI react-northstar

#18741 [DatePicker] Fixed website crash after selecting firstDayOfWeek
  change/@fluentui-react-examples-7ee03592-696d-4f24-9499-a4ec1cd9f0d8.json
  packages/react-examples/src/react/DatePicker/DatePicker.Basic.Example.tsx
  packages/react-examples/src/react/DatePicker/DatePicker.WeekNumbers.Example.tsx
Labels: Area: Website

#18761 chore: prepare release react-northstar 0.57.0
  packages/fluentui/CHANGELOG.md
Labels: Fluent UI react-northstar

#18759 fix(Popover): apply styles correctly
  change/@fluentui-react-popover-5b139582-44d1-4d84-ae38-e5fd590f9286.json
  packages/react-popover/src/components/PopoverSurface/usePopoverSurfaceStyles.ts
Labels: Component: PopoverSurface, Component: Popup

#18730 fix horizontal scroll examples based on default flippers
  change/@fluentui-web-components-e0f05aa7-a77d-4ae5-9437-c7b46f514f9f.json
  packages/web-components/src/horizontal-scroll/fixtures/horizontal-scroll.html
Labels: web-components

#18689 Update CRA template to use version 8
  change/@fluentui-codemods-f31b5473-dc46-48cc-b802-36ea9d1628f4.json
  change/@fluentui-cra-template-c4086ae4-4603-4630-9ec2-5d8e7ea7e2dc.json
  package.json
  packages/codemods/package.json
  packages/cra-template/.eslintrc.json
  packages/cra-template/package.json
  packages/cra-template/scripts/test.ts
  packages/cra-template/template.json
  packages/cra-template/template/src/App.tsx
  scripts/package.json
Labels: Area: Documentation

#18680 feat(makeStyles): use linaria/shaker in Babel plugin
  change/@fluentui-babel-make-styles-ce626fc7-b833-4329-b6c0-576d86ad25d8.json
  packages/babel-make-styles/README.md
  packages/babel-make-styles/__fixtures__/config-babel-options/code.ts
  packages/babel-make-styles/__fixtures__/config-babel-options/colorRenamePlugin.js
  packages/babel-make-styles/__fixtures__/config-babel-options/options.json
  packages/babel-make-styles/__fixtures__/config-babel-options/output.ts
  packages/babel-make-styles/__fixtures__/non-existing-module-call/code.tsx
  packages/babel-make-styles/__fixtures__/non-existing-module-call/module.ts
  packages/babel-make-styles/__fixtures__/non-existing-module-call/output.tsx
  packages/babel-make-styles/package.json
  packages/babel-make-styles/src/plugin.ts
  packages/babel-make-styles/src/utils/evaluatePaths.ts
  packages/babel-make-styles/src/utils/evaluatePathsInVM.ts
  yarn.lock
Labels: Fluent UI vNext

#18758 chore: migrate babel-make-styles to new DX
  change/@fluentui-babel-make-styles-bd0f5a4e-022d-44e0-91ef-d56b0b36f462.json
  jest.config.js
  nx.json
  packages/babel-make-styles/config/api-extractor.json
  packages/babel-make-styles/config/api-extractor.local.json
  packages/babel-make-styles/config/tests.js
  packages/babel-make-styles/etc/babel-make-styles.api.md
  packages/babel-make-styles/jest.config.js
  packages/babel-make-styles/package.json
  packages/babel-make-styles/src/index.ts
  packages/babel-make-styles/src/plugin.ts
  packages/babel-make-styles/tsconfig.json
  tsconfig.base.json
  workspace.json
Labels: Area: Build System, Fluent UI vNext

#18762 chore: prepare release react-northstar 0.57.0 (#18761)
  apps/codesandbox-react-northstar-template/package.json
  packages/fluentui/CHANGELOG.md
  packages/fluentui/ability-attributes/package.json
  packages/fluentui/accessibility/package.json
  packages/fluentui/circulars-test/package.json
  packages/fluentui/code-sandbox/package.json
  packages/fluentui/digest/package.json
  packages/fluentui/docs-components/package.json
  packages/fluentui/docs/package.json
  packages/fluentui/e2e/package.json
  packages/fluentui/lerna.json
  packages/fluentui/local-sandbox/package.json
  packages/fluentui/perf-test/package.json
  packages/fluentui/perf/package.json
  packages/fluentui/projects-test/package.json
  packages/fluentui/react-bindings/package.json
  packages/fluentui/react-builder/package.json
  packages/fluentui/react-component-event-listener/package.json
  packages/fluentui/react-component-nesting-registry/package.json
  packages/fluentui/react-component-ref/package.json
  packages/fluentui/react-icons-northstar/package.json
  packages/fluentui/react-northstar-emotion-renderer/package.json
  packages/fluentui/react-northstar-fela-renderer/package.json
  packages/fluentui/react-northstar-prototypes/package.json
  packages/fluentui/react-northstar-styles-renderer/package.json
  packages/fluentui/react-northstar/package.json
  packages/fluentui/react-proptypes/package.json
  packages/fluentui/react-telemetry/package.json
  packages/fluentui/state/package.json
  packages/fluentui/styles/package.json
Labels: Fluent UI react-northstar

#18772 chore(react-context-selector): Migrate DX
  change/@fluentui-react-context-selector-2060687d-7be8-4c77-a28d-cc942587b636.json
  jest.config.js
  nx.json
  packages/react-context-selector/config/api-extractor.json
  packages/react-context-selector/config/api-extractor.local.json
  packages/react-context-selector/jest.config.js
  packages/react-context-selector/package.json
  packages/react-context-selector/tsconfig.json
  workspace.json
Labels: Area: Build System

#18462 Text Convergence Spec
  change/@fluentui-react-text-7d0596ae-35b5-4421-ad38-da76aa46d9ab.json
  packages/react-text/Spec.md
Labels: Component: Text, Type: Spec

#18710 refactor: remove @fluentui/react-theme-provider
  .github/CODEOWNERS
  apps/perf-test/package.json
  apps/perf-test/src/scenarios/FluentProviderNext.tsx
  apps/perf-test/src/scenarios/ThemeProviderNext.tsx
  apps/vr-tests/package.json
  change/@fluentui-react-accordion-5779e09f-2eb2-44a4-a4b1-7f97d9d69c11.json
  change/@fluentui-react-components-0b6bd27e-55ed-44bd-a144-27e78b514a17.json
  change/@fluentui-react-examples-495ebaca-2a07-4d06-a3eb-0b87bf1e3d6a.json
  change/@fluentui-react-provider-8a02e661-8c32-4548-b32b-f27a2bad447a.json
  change/@fluentui-react-tooltip-241651cf-ded0-4991-8e3f-0ff659ad88ee.json
  nx.json
  packages/react-accordion/package.json
  packages/react-components/etc/react-components.api.md
  packages/react-components/package.json
  packages/react-components/src/index.ts
  packages/react-examples/package.json
  packages/react-provider/.babelrc.json
  packages/react-provider/package.json
  packages/react-provider/src/components/FluentProvider/FluentProvider.test.tsx
  packages/react-provider/src/components/FluentProvider/FluentProvider.tsx
  packages/react-provider/src/components/FluentProvider/__snapshots__/FluentProvider.test.tsx.snap
  packages/react-provider/src/components/FluentProvider/renderFluentProvider.tsx
  packages/react-provider/src/components/FluentProvider/useFluentProvider.test.tsx
  packages/react-provider/src/components/FluentProvider/useFluentProvider.ts
  packages/react-provider/src/components/FluentProvider/useFluentProviderStyles.ts
  packages/react-provider/src/components/FluentProvider/useThemeStyleTag.test.ts
  packages/react-provider/src/components/FluentProvider/useThemeStyleTag.ts
  packages/react-theme-provider/.eslintrc.json
  packages/react-theme-provider/.npmignore
  packages/react-theme-provider/CHANGELOG.json
  packages/react-theme-provider/CHANGELOG.md
  packages/react-theme-provider/LICENSE
  packages/react-theme-provider/README.md
  packages/react-theme-provider/config/api-extractor.json
  packages/react-theme-provider/config/tests.js
  packages/react-theme-provider/etc/react-theme-provider.api.md
  packages/react-theme-provider/jest.config.js
  packages/react-theme-provider/just.config.ts
  packages/react-theme-provider/package.json
  packages/react-theme-provider/src/ThemeProvider.ts
  packages/react-theme-provider/src/common/isConformant.ts
  packages/react-theme-provider/src/components/ThemeProvider/ThemeProvider.test.tsx
  packages/react-theme-provider/src/components/ThemeProvider/ThemeProvider.tsx
  packages/react-theme-provider/src/components/ThemeProvider/ThemeProvider.types.ts
  packages/react-theme-provider/src/components/ThemeProvider/__snapshots__/ThemeProvider.test.tsx.snap
  packages/react-theme-provider/src/components/ThemeProvider/index.ts
  packages/react-theme-provider/src/components/ThemeProvider/renderThemeProvider.tsx
  packages/react-theme-provider/src/components/ThemeProvider/useThemeProvider.ts
  packages/react-theme-provider/src/index.ts
  packages/react-theme-provider/tsconfig.json
  packages/react-theme-provider/webpack.config.js
  packages/react-tooltip/package.json
  packages/react-tooltip/src/components/Tooltip/useTooltip.tsx
  tsconfig.base.json
  workspace.json
Labels: Fluent UI vNext

#18780 correct typography design token names
  change/@fluentui-web-components-0b810df7-f841-4864-b129-7ab988e8f8e0.json
  packages/web-components/src/design-tokens.ts
Labels: web-components

#18768 Fixing bug in start script of converged packages
  change/@fluentui-react-accordion-f82dd2e6-9197-4e4e-adef-39b0a508f4b7.json
  change/@fluentui-react-aria-e0fb776f-33d8-4175-8a8a-768b64aa678c.json
  change/@fluentui-react-image-142541c4-a20c-43dc-9507-f8d4ea3d785a.json
  change/@fluentui-react-label-33750d23-44f1-4382-8ec6-80912176cb45.json
  change/@fluentui-react-menu-0c6c75fb-88af-4ab4-85cd-ce245ddfd9a9.json
  change/@fluentui-react-popover-b57e2631-ef24-4e3d-b0df-bc684a256183.json
  change/@fluentui-react-portal-cf56d7e5-9b2e-4741-93e1-4a4bba333ca9.json
  change/@fluentui-react-positioning-04fd5907-6b0c-4624-ad62-5b39727b7164.json
  change/@fluentui-react-provider-546f4ed5-b575-4e23-80d2-ad3d14bf87c2.json
  change/@fluentui-react-tabster-867fa3f7-f376-4e05-8acc-f7f81814830d.json
  packages/react-accordion/package.json
  packages/react-aria/package.json
  packages/react-image/package.json
  packages/react-label/package.json
  packages/react-menu/package.json
  packages/react-popover/package.json
  packages/react-portal/package.json
  packages/react-positioning/package.json
  packages/react-provider/package.json
  packages/react-tabster/package.json
  packages/react-text/package.json
  tools/generators/migrate-converged-pkg/index.spec.ts
  tools/generators/migrate-converged-pkg/index.ts
Labels: Area: Build System

#18430 Pivot Component - Add additional prop to customize focus behavior
  change/@fluentui-react-cce21862-638d-4a53-aac4-65218b449886.json
  packages/react/etc/react.api.md
  packages/react/src/components/Pivot/Pivot.base.tsx
  packages/react/src/components/Pivot/Pivot.types.ts
Labels: AutoMerge, Component: Pivot, PR: API Modified
