Repository microsoft/fluentui, pull requests merged in 2021-03, with the labels that each got.

#17207 Fix Loader rendering with emotion renderer
  packages/fluentui/react-northstar-emotion-renderer/src/invokeKeyframes.ts
  packages/fluentui/react-northstar-emotion-renderer/test/__snapshots__/emotionRenderer-test.ts.snap
  packages/fluentui/react-northstar-emotion-renderer/test/emotionRenderer-test.ts
  packages/fluentui/styles/src/types.ts
Labels: Fluent UI react-northstar

#17202 Peoplepicker quickfix
  change/@fluentui-react-c37ef2b3-ec2c-4c41-bc08-d65c63e9b5d6.json
  change/@fluentui-react-examples-089995db-9b7a-4dd7-8f81-ebf517c8a605.json
  packages/react-examples/src/react/__snapshots__/Announced.SearchResults.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/PeoplePicker.Compact.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/PeoplePicker.Controlled.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/PeoplePicker.LimitedSearch.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/PeoplePicker.Normal.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/PeoplePicker.PreselectedItems.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/PeoplePicker.ProcessSelection.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/TagPicker.Basic.Example.tsx.shot
  packages/react/src/components/pickers/BasePicker.tsx
  packages/react/src/components/pickers/PeoplePicker/__snapshots__/PeoplePicker.test.tsx.snap
  packages/react/src/components/pickers/TagPicker/__snapshots__/TagPicker.test.tsx.snap
  packages/react/src/components/pickers/__snapshots__/BasePicker.test.tsx.snap
Labels: Area: Accessibility, Area: NVDA, Component: PeoplePicker

#17131 Avatar: Add support for colorful avatars
  apps/vr-tests/src/stories/Avatar.stories.tsx
  change/@fluentui-example-data-704d378c-edb7-41b0-bf40-79d4a7806db3.json
  change/@fluentui-react-avatar-ecf82ca2-23d2-4bb2-b592-5f2ad2d84ada.json
  change/@fluentui-react-examples-3f9e9161-e283-48f8-a797-aafc1428c70a.json
  change/@fluentui-react-theme-642835b6-b919-49df-a79a-2e7f32be6271.json
  packages/example-data/etc/example-data.api.md
  packages/example-data/src/AvatarExamples.tsx
  packages/react-avatar/MIGRATION.md
  packages/react-avatar/SPEC.md
  packages/react-avatar/package.json
  packages/react-avatar/src/components/Avatar/Avatar.types.ts
  packages/react-avatar/src/components/Avatar/useAvatar.tsx
  packages/react-avatar/src/components/Avatar/useAvatarStyles.ts
  packages/react-examples/src/react-avatar/Avatar/Avatar.stories.tsx
  packages/react-examples/src/react-avatar/utils/StoryExample.scss
  packages/react-examples/src/react-avatar/utils/StoryExample.tsx
  packages/react-theme/src/utils/dark/colors.ts
  packages/react-theme/src/utils/light/colors.ts
Labels: Component: Avatar

#17142 [v7.0] Picker Suggestions: focused dropdown option is now properly highlighted in High Contrast Mode
  change/office-ui-fabric-react-2021-02-23-11-37-47-13879-v7.json
  packages/office-ui-fabric-react/src/components/pickers/Suggestions/Suggestions.styles.ts
Labels: Area: Accessibility, Component: PeoplePicker, Component: Pickers, Fabric 7, High Contrast

#17183 Update comments and fix formatting for create-component
  scripts/create-component/plop-templates-component/src/components/{{componentName}}/render{{componentName}}.tsx.hbs
  scripts/create-component/plop-templates-component/src/components/{{componentName}}/use{{componentName}}.ts.hbs
  scripts/create-component/plop-templates-component/src/components/{{componentName}}/use{{componentName}}Styles.ts.hbs
  scripts/create-component/plop-templates-component/src/components/{{componentName}}/{{componentName}}.tsx.hbs
  scripts/create-component/plop-templates-component/src/components/{{componentName}}/{{componentName}}.types.ts.hbs
  scripts/create-component/plop-templates-storybook/{{componentName}}.stories.tsx.hbs
Labels: Area: Build System

#17193 Add version 8 info to readmes
  README.md
  change/@fluentui-react-f62e2e6a-18a1-4c2c-b175-6e4b2982f10b.json
  packages/react/README.md
Labels: Fluent UI v8

#17086 Link: Adding tests for Link component and cleaning up useLinkState function
  apps/vr-tests/package.json
  apps/vr-tests/src/stories/LinkNext.stories.tsx
  change/@fluentui-react-examples-b385c520-9867-421c-b756-932973e3157c.json
  change/@fluentui-react-link-c6eb6760-dd5b-4f41-9c8f-7e6eaa2f11ef.json
  packages/a11y-testing/src/definitions/Link/linkBehaviorDefinition.ts
  packages/a11y-testing/src/definitions/index.ts
  packages/react-examples/src/react-link/Link/Link.stories.tsx
  packages/react-link/etc/react-link.api.md
  packages/react-link/package.json
  packages/react-link/src/components/Link/Link.test.tsx
  packages/react-link/src/components/Link/__snapshots__/Link.test.tsx.snap
  packages/react-link/src/components/Link/useLinkState.ts
Labels: AutoMerge, Component: Link

#17001 Fix: Layer's div element is not removed from body
  change/@fluentui-react-66e6727b-be2f-4cd6-909e-d7fafd80d44e.json
  packages/react/src/components/Layer/Layer.base.tsx
Labels: Component: Layer

#17179 DetailsList: Updated all examples to pass 'select row' as checkButtonAriaLabel prop
  change/@fluentui-react-examples-a28f8f47-4f23-4cb1-bdf8-330ab6e0aa2c.json
  packages/react-examples/src/react/Announced/Announced.BulkOperations.Example.tsx
  packages/react-examples/src/react/Announced/Announced.QuickActions.Example.tsx
  packages/react-examples/src/react/DetailsList/DetailsList.Advanced.Example.tsx
  packages/react-examples/src/react/DetailsList/DetailsList.Animation.Example.tsx
  packages/react-examples/src/react/DetailsList/DetailsList.Basic.Example.tsx
  packages/react-examples/src/react/DetailsList/DetailsList.Compact.Example.tsx
  packages/react-examples/src/react/DetailsList/DetailsList.CustomColumns.Example.tsx
  packages/react-examples/src/react/DetailsList/DetailsList.CustomFooter.Example.tsx
  packages/react-examples/src/react/DetailsList/DetailsList.CustomGroupHeaders.Example.tsx
  packages/react-examples/src/react/DetailsList/DetailsList.CustomRows.Example.tsx
  packages/react-examples/src/react/DetailsList/DetailsList.Documents.Example.tsx
  packages/react-examples/src/react/DetailsList/DetailsList.DragDrop.Example.tsx
  packages/react-examples/src/react/DetailsList/DetailsList.Grouped.Example.tsx
  packages/react-examples/src/react/DetailsList/DetailsList.Grouped.Large.Example.tsx
  packages/react-examples/src/react/DetailsList/DetailsList.NavigatingFocus.Example.tsx
  packages/react-examples/src/react/__snapshots__/Announced.BulkOperations.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/Announced.QuickActions.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/DetailsList.Advanced.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/DetailsList.Animation.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/DetailsList.Basic.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/DetailsList.Compact.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/DetailsList.CustomColumns.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/DetailsList.CustomFooter.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/DetailsList.CustomGroupHeaders.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/DetailsList.CustomRows.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/DetailsList.DragDrop.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/DetailsList.Grouped.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/DetailsList.Grouped.Large.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/DetailsList.NavigatingFocus.Example.tsx.shot
Labels: Component: DetailsList

#17233 chore: disable Northstar E2E tests
  packages/fluentui/e2e/package.json
Labels: Fluent UI react-northstar

#17102 chore(scripts): move prettier to single version policy,make formating…
  apps/codesandbox-react-northstar-template/package.json
  azure-pipelines.yml
  change/@fluentui-make-styles-146eefd0-302d-4465-b0de-2002fe6522b7.json
  package.json
  packages/fluentui/docs-components/package.json
  packages/make-styles/package.json
  prettier.config.js
  scripts/format.js
  scripts/gulp/plugins/gulp-doctoc.ts
  scripts/package.json
  scripts/prettier/prettier-helpers.js
  yarn.lock
Labels: Area: Build System

#17176 Uncontrolled menu
  change/@fluentui-react-examples-eda70248-7615-4557-9701-141a96a9cdf4.json
  change/@fluentui-react-menu-2abfa7e7-db06-4ae9-9100-bc271a16feeb.json
  packages/react-examples/src/react-menu/MenuList/MenuList.stories.tsx
  packages/react-menu/etc/react-menu.api.md
  packages/react-menu/src/components/MenuList/MenuList.types.ts
  packages/react-menu/src/components/MenuList/useMenuList.test.ts
  packages/react-menu/src/components/MenuList/useMenuList.ts
Labels: Component: MenuList

#17237 Fix/storybook build
  change/@fluentui-react-examples-b8b7f4f8-b21e-4780-a47f-9c760d8bb005.json
  packages/react-examples/.storybook/main.js
  packages/react-examples/.storybook/preview.js
Labels: Area: Website

#17228 Cherry pick "Reformat of Story Callout" #17039
  change/@fluentui-react-examples-2021-02-17-11-45-43-callout-example.json
  packages/react-examples/src/azure-themes/stories/components/callout.stories.tsx
Labels: Area: Website

#17039 Azure Theme: Reformat of Story Callout
  change/@fluentui-react-examples-2021-02-17-11-45-43-callout-example.json
  packages/react-examples/src/azure-themes/stories/components/callout.stories.tsx
Labels: Area: Website, Fabric 7

#17246 Fix publishing of webpack bundles and docs
  azure-pipelines.release.yml
  change/@fluentui-azure-themes-ab2807c9-c152-4a4e-aa76-ae35c568c765.json
  change/@fluentui-example-data-709145ba-945b-4e32-ad26-aa9dd693f27a.json
  change/@fluentui-foundation-legacy-61c19197-e426-4354-b469-139742b6ec0c.json
  change/@fluentui-merge-styles-42421149-06a9-4430-82d0-f2195da513c4.json
  change/@fluentui-public-docsite-24fef9d5-27ba-4703-8bf3-26017113d1b3.json
  change/@fluentui-public-docsite-resources-5a8e191b-1a76-44ec-97dd-8fff04f2dd59.json
  change/@fluentui-react-c6983fd9-cd2f-4ee7-9080-94ea1ceb20cc.json
  change/@fluentui-react-charting-3d3fe6f4-54a7-447a-b486-9c873274ba7a.json
  change/@fluentui-react-date-time-8a1b5e96-b3ec-492a-82d0-bd58209a64ef.json
  change/@fluentui-react-experiments-e77cb6e5-7528-4cb0-a512-0aa8b7aa5d5d.json
  change/@fluentui-react-focus-73acaf43-d8b7-4429-8842-cf597597236b.json
  change/@fluentui-react-hooks-527df6c2-73da-4181-8064-39010a6aedc4.json
  change/@fluentui-react-icon-provider-92c65419-619b-409f-9475-ec32fad1a079.json
  change/@fluentui-react-icons-mdl2-822a1ec4-bc76-40af-85bc-86fe3c1a14c8.json
  change/@fluentui-react-monaco-editor-be0ec0fe-9c0f-4137-8af6-5508c0013282.json
  change/@fluentui-scheme-utilities-ae9e6242-5834-4c5f-b170-c0a49959e986.json
  change/@fluentui-theme-samples-dd095d67-ca82-4f8c-a559-5bc32f720113.json
  scripts/monorepo/runPublished.js
  scripts/monorepo/runTo.js
  scripts/tasks/webpack.ts
  scripts/webpack/webpack-resources.js
Labels: Area: Build System, Area: Documentation, AutoMerge

#17255 Update beachball to hopefully fix dist-tags for 7.0 publishing
  package.json
  scripts/monorepo/runTo.js
  scripts/package.json
  yarn.lock
Labels: Area: Build System, Fabric 7

#17222 fix(Dropdown): prevent scrollable parent scroll when selecting an item
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/components/Dropdown/Dropdown.tsx
Labels: AutoMerge, Fluent UI react-northstar

#17252 Text: Making styles respect semantic colors
  change/@fluentui-react-d6ba8e29-3717-4152-b2c3-3bb5f16412fa.json
  change/@fluentui-react-examples-de081d6f-db15-42e4-866d-dae47e5b7f31.json
  change/@fluentui-react-experiments-1e1cc689-510f-433f-84ff-f9107c702aeb.json
  packages/react-examples/src/react/__snapshots__/Announced.BulkOperations.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/Announced.LazyLoading.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/Announced.SearchResults.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/DetailsList.Basic.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/FocusTrapZone.Box.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/FocusTrapZone.Box.FocusOnCustomElement.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/Link.Basic.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/Separator.Basic.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/Separator.Icon.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/Separator.Theming.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/Text.Block.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/Text.Ramp.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/Text.Weights.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/Text.Wrap.Example.tsx.shot
  packages/react-experiments/src/components/Persona/Vertical/__snapshots__/VerticalPersona.test.tsx.snap
  packages/react-experiments/src/components/PersonaCoin/__snapshots__/PersonaCoin.test.tsx.snap
  packages/react/src/components/Text/Text.styles.ts
  packages/react/src/components/Text/__snapshots__/Text.test.tsx.snap
Labels: AutoMerge, Component: Text, Priority 1: High

#17184 Add separate pipeline for CI and fix cleanup
  .devops/templates/variables.yml
  azure-pipelines.bundlesize.yml
  azure-pipelines.hotfix.yml
  azure-pipelines.perf-test.yml
  azure-pipelines.release-fluentui.yml
  azure-pipelines.release.yml
  azure-pipelines.yml
Labels: Area: Build System

#17076 RFC: makeStyles() API changes
  rfcs/convergence/make-overrides.md
Labels: Type: RFC

#17274 Adds explicit type to yargs for format.js
  scripts/format.js
Labels: Area: Build System

#17266 fix(ContextualMenu): fix menu role hierarchy
  change/@fluentui-react-3a8838cd-dc5f-4c76-b1e9-c4f63b37c086.json
  packages/react/etc/react.api.md
  packages/react/src/components/Button/Button.test.tsx
  packages/react/src/components/ContextualMenu/ContextualMenu.base.tsx
  packages/react/src/components/ContextualMenu/ContextualMenu.test.tsx
  packages/react/src/components/ContextualMenu/ContextualMenu.types.ts
  packages/react/src/components/ContextualMenu/ContextualMenuItemWrapper/ContextualMenuAnchor.tsx
  packages/react/src/components/ContextualMenu/ContextualMenuItemWrapper/ContextualMenuButton.tsx
  packages/react/src/components/ContextualMenu/ContextualMenuItemWrapper/ContextualMenuItemWrapper.tsx
  packages/react/src/components/ContextualMenu/ContextualMenuItemWrapper/ContextualMenuItemWrapper.types.ts
Labels: PR: API Modified

#17281 Revert to using prettier for lint-staged and clarify format usage
  .prettierignore
  azure-pipelines.yml
  change/@fluentui-react-examples-ecd01623-f49a-4fce-8e5a-3e6cea743447.json
  lint-staged.config.js
  package.json
  packages/fluentui/docs/src/pages/Composition.mdx
  packages/fluentui/docs/src/pages/Debugging.mdx
  packages/fluentui/docs/src/pages/Layout.mdx
  packages/fluentui/docs/src/pages/ShorthandProps.mdx
  packages/fluentui/docs/src/pages/ThemingSpecification.mdx
  packages/react-examples/src/react-components/FluentUIComponents/QuickStart.stories.mdx
  scripts/format.js
  scripts/prettier/prettier-helpers.js
  scripts/rename-package.ts
  scripts/tasks/prettier.ts
  specs/Button.md
  specs/Link.md
Labels: Area: Build System

#17292 Horizontal bar chart: Fix issue for Rounded value to 1 if less than 1% to appear in the chart
  change/@fluentui-react-charting-cb2cc5b0-5053-4102-8a45-75a0a1551d3e.json
  packages/react-charting/src/components/HorizontalBarChart/HorizontalBarChart.base.tsx
Labels: Package: charting

#17289 Fix storybook out of memory (and build fewer storybooks)
  apps/pr-deploy-site/README.md
  apps/pr-deploy-site/just.config.ts
  apps/pr-deploy-site/pr-deploy-site.js
  change/@fluentui-react-8093b058-157e-41cb-b497-2c660f4d4380.json
  change/@fluentui-react-components-eacd7d2c-0759-4438-b70e-238bd9ad9f48.json
  change/@fluentui-react-examples-c3022941-c799-4fb7-803f-a0ed5d795061.json
  lage.config.js
  package.json
  packages/react-components/package.json
  packages/react-examples/.storybook/main.js
  packages/react-examples/.storybook/preview-loader.js
  packages/react-examples/.storybook/preview.js
  packages/react/package.json
  scripts/just.config.ts
  scripts/tasks/storybook.ts
Labels: Area: Build System

#17287 Use listbox/option roles for the list/items elements in recipient list.
  change/@fluentui-react-experiments-440a385f-e407-4198-9df7-4823cd91ce27.json
  packages/react-experiments/src/components/SelectedItemsList/SelectedItemsList.tsx
  packages/react-experiments/src/components/SelectedItemsList/SelectedPeopleList/Items/SelectedPersona.tsx
  packages/react-experiments/src/components/SelectedItemsList/SelectedPeopleList/__snapshots__/SelectedPeopleList.test.tsx.snap
  packages/react-experiments/src/components/UnifiedPicker/UnifiedPeoplePicker/__snapshots__/UnifiedPeoplePicker.test.tsx.snap
  packages/react-experiments/src/components/UnifiedPicker/__snapshots__/UnifiedPicker.test.tsx.snap
Labels: Component: SelectedItemsList, Package: experiments

#17256 [v7.0] DetailsList: Updated all examples to pass 'select row' as checkButtonAriaLabel prop
  change/@fluentui-react-examples-2021-03-02-15-18-06-bug-6397-v7.json
  packages/react-examples/src/office-ui-fabric-react/Announced/Announced.BulkOperations.Example.tsx
  packages/react-examples/src/office-ui-fabric-react/Announced/Announced.QuickActions.Example.tsx
  packages/react-examples/src/office-ui-fabric-react/DetailsList/DetailsList.Advanced.Example.tsx
  packages/react-examples/src/office-ui-fabric-react/DetailsList/DetailsList.Animation.Example.tsx
  packages/react-examples/src/office-ui-fabric-react/DetailsList/DetailsList.Basic.Example.tsx
  packages/react-examples/src/office-ui-fabric-react/DetailsList/DetailsList.Compact.Example.tsx
  packages/react-examples/src/office-ui-fabric-react/DetailsList/DetailsList.CustomColumns.Example.tsx
  packages/react-examples/src/office-ui-fabric-react/DetailsList/DetailsList.CustomFooter.Example.tsx
  packages/react-examples/src/office-ui-fabric-react/DetailsList/DetailsList.CustomGroupHeaders.Example.tsx
  packages/react-examples/src/office-ui-fabric-react/DetailsList/DetailsList.CustomRows.Example.tsx
  packages/react-examples/src/office-ui-fabric-react/DetailsList/DetailsList.Documents.Example.tsx
  packages/react-examples/src/office-ui-fabric-react/DetailsList/DetailsList.DragDrop.Example.tsx
  packages/react-examples/src/office-ui-fabric-react/DetailsList/DetailsList.Grouped.Example.tsx
  packages/react-examples/src/office-ui-fabric-react/DetailsList/DetailsList.Grouped.Large.Example.tsx
  packages/react-examples/src/office-ui-fabric-react/DetailsList/DetailsList.NavigatingFocus.Example.tsx
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/Announced.BulkOperations.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/Announced.QuickActions.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/DetailsList.Advanced.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/DetailsList.Animation.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/DetailsList.Basic.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/DetailsList.Compact.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/DetailsList.CustomColumns.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/DetailsList.CustomFooter.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/DetailsList.CustomGroupHeaders.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/DetailsList.CustomRows.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/DetailsList.DragDrop.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/DetailsList.Grouped.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/DetailsList.Grouped.Large.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/DetailsList.NavigatingFocus.Example.tsx.shot
Labels: Area: Website, Fabric 7

#17296 Still trigger deprecated `onChanged` property of Toggle
  change/@fluentui-react-dbda8e69-21d6-41e3-8492-e871d9c396f4.json
  packages/react/src/components/Toggle/Toggle.base.tsx
Labels: Component: Toggle

#17302 Fix format --since in CI
  azure-pipelines.yml
Labels: Area: Build System

#17294 fix(MenuItem): prevent to dismiss menu on scroll inside menu
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/components/Menu/MenuItem.tsx
Labels: Fluent UI react-northstar

#17305 [web-components] add 'menuitemcheckbox' and 'menuitemradio' styles to fluent-menu-item
  change/@fluentui-web-components-145a1159-7798-42e8-acf2-7987549c79f3.json
  packages/web-components/package.json
  packages/web-components/src/menu-item/menu-item.styles.ts
  packages/web-components/src/menu/fixtures/menu.html
  packages/web-components/src/menu/menu.styles.ts
  yarn.lock
Labels: web-components

#17307 [web-components] add combobox as a new component, add filled style for select
  change/@fluentui-web-components-545bf68d-0de1-4229-ae74-8ec9197f53e8.json
  packages/web-components/docs/api-report.md
  packages/web-components/src/combobox/combobox.stories.ts
  packages/web-components/src/combobox/combobox.styles.ts
  packages/web-components/src/combobox/fixtures/base.html
  packages/web-components/src/combobox/index.ts
  packages/web-components/src/index.ts
  packages/web-components/src/select/fixtures/base.html
  packages/web-components/src/select/index.ts
  packages/web-components/src/select/select.styles.ts
Labels: web-components

#17200 fix(Menu): Update background color to use correct color scheme token
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/themes/teams-dark/components/Menu/menuVariables.ts
  packages/fluentui/react-northstar/src/themes/teams-high-contrast/components/Menu/menuVariables.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Menu/menuVariables.ts
Labels: Fluent UI react-northstar

#17034 Converged Flex spec
  change/@fluentui-react-flex-7ce13e28-5407-46de-be7b-1ef03dbdf8ea.json
  packages/react-flex/Spec.md
Labels: Type: Spec

#17264 feat(ToolbarMenuItem): add ToolbarMenuItemContent to wrap content in span (⚠️ DOM change)
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/components/Toolbar/ToolbarMenuItem.tsx
  packages/fluentui/react-northstar/src/components/Toolbar/ToolbarMenuItemContent.tsx
  packages/fluentui/react-northstar/src/index.ts
  packages/fluentui/react-northstar/src/themes/teams/types.ts
  packages/fluentui/react-northstar/test/specs/components/Toolbar/ToolbarMenuItemContent-test.ts
Labels: AutoMerge, Fluent UI react-northstar

#17240 Allow SwatchColorPicker to be updated with undefined for selectedID
  change/office-ui-fabric-react-2021-03-02-08-42-05-sareiff-clearcolorpicker.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/SwatchColorPicker/SwatchColorPicker.base.tsx
  packages/office-ui-fabric-react/src/components/SwatchColorPicker/SwatchColorPicker.test.tsx
Labels: AutoMerge, Component: SwatchColorPicker, Fabric 7, PR: API Modified

#17320 UnifiedPicker: Check for null or undefined when creating a generic item from input
  change/@fluentui-react-experiments-cf1160d6-3b0b-4f8f-ad96-b25505045eb9.json
  packages/react-experiments/src/components/UnifiedPicker/UnifiedPicker.tsx
Labels: Component: UnifiedPicker, Package: experiments

#17319 7.0: Check for null or undefined when creating a generic item from input
  change/@uifabric-experiments-36089f17-37e3-4324-8c39-087053b8a4d7.json
  packages/experiments/src/components/UnifiedPicker/UnifiedPicker.tsx
Labels: Fabric 7, Package: experiments

#17300 (fix) DetailsList group header aria-posinset and aria-setsize attributes
  change/@fluentui-react-examples-25283020-2063-4d1d-b8a3-ce25cdfd4d02.json
  change/office-ui-fabric-react-29d4cbb6-92ca-4787-a5b8-a11e2ef23369.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsList.base.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/__snapshots__/DetailsList.test.tsx.snap
  packages/office-ui-fabric-react/src/components/GroupedList/GroupHeader.base.tsx
  packages/office-ui-fabric-react/src/components/GroupedList/GroupHeader.types.ts
  packages/office-ui-fabric-react/src/components/GroupedList/GroupedList.types.ts
  packages/office-ui-fabric-react/src/components/GroupedList/GroupedListSection.tsx
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/DetailsList.CustomGroupHeaders.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/DetailsList.Grouped.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/DetailsList.Grouped.Large.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/GroupedList.CustomCheckbox.Example.tsx.shot
Labels: Fabric 7, PR: API Modified

#17304 PeoplePicker: Fixing the need to press backspace key twice when removing multiple items
  change/@fluentui-react-b1f77879-fd67-4aab-8b92-37195dbd2aa3.json
  packages/react/src/components/ContextualMenu/ContextualMenuItemWrapper/ContextualMenuItemWrapper.types.ts
  packages/react/src/components/pickers/BasePicker.tsx
Labels: AutoMerge, Component: PeoplePicker

#17303 Update beachball to fix remote detection
  package.json
  scripts/package.json
  yarn.lock
Labels: Area: Build System

#17251 Fix Slider issues with keyboard control
  change/office-ui-fabric-react-2021-03-03-01-44-42-fix-slider-with-keyboard-control.json
  packages/office-ui-fabric-react/src/components/Slider/Slider.base.tsx
Labels: AutoMerge, Component: Slider, Fabric 7

#17325 PeoplePicker a11y fix for v7
  change/@fluentui-react-examples-e897da68-d6ca-4bcc-be2f-5cbc8871d312.json
  change/office-ui-fabric-react-2e08f4d6-0703-41d6-873f-4a5b73c4946c.json
  packages/office-ui-fabric-react/src/components/pickers/BasePicker.tsx
  packages/office-ui-fabric-react/src/components/pickers/PeoplePicker/__snapshots__/PeoplePicker.test.tsx.snap
  packages/office-ui-fabric-react/src/components/pickers/TagPicker/__snapshots__/TagPicker.test.tsx.snap
  packages/office-ui-fabric-react/src/components/pickers/__snapshots__/BasePicker.test.tsx.snap
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/Announced.SearchResults.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/PeoplePicker.Compact.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/PeoplePicker.Controlled.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/PeoplePicker.LimitedSearch.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/PeoplePicker.Normal.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/PeoplePicker.PreselectedItems.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/PeoplePicker.ProcessSelection.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/TagPicker.Basic.Example.tsx.shot
Labels: Area: Accessibility, Area: NVDA, Component: PeoplePicker, Component: Pickers, Fabric 7

#17340 Cherry Pick: Stack: Add jsxRuntime classic pragma #16863
  change/office-ui-fabric-react-7c81fa5a-cfc2-4d7b-8a92-fe49d8fe8d3e.json
  packages/office-ui-fabric-react/src/components/Stack/Stack.tsx
  packages/office-ui-fabric-react/src/components/Stack/StackItem/StackItem.tsx
  packages/office-ui-fabric-react/src/components/Text/Text.view.tsx
Labels: Area: Testing, Fabric 7

#16959 Cherry pick #16298: Fix to dropdown width
  change/office-ui-fabric-react-2021-02-11-17-40-40-cherry-pick-dropdownwidth.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/Callout/Callout.types.ts
  packages/office-ui-fabric-react/src/components/Callout/CalloutContent.base.tsx
  packages/office-ui-fabric-react/src/components/Callout/CalloutContent.styles.ts
  packages/office-ui-fabric-react/src/components/Dropdown/Dropdown.base.tsx
  packages/office-ui-fabric-react/src/components/Dropdown/Dropdown.types.ts
Labels: AutoMerge, Component: Callout, Component: Dropdown, Fabric 7, PR: API Modified

#17342 Docsite: Hides footer and signIn modal in prep for MWF stylesheet removal
  apps/public-docsite/src/styles/_base.scss
  change/@fluentui-public-docsite-1018168c-ecdb-4261-aae6-d70c6ed35ab0.json
Labels: Area: Website

#17356 Cypress port fix
  scripts/gulp/tasks/test-e2e.ts
Labels: Area: Build System

#17360 Added ChatOffIcon
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-icons-northstar/src/components/ChatOffIcon.tsx
  packages/fluentui/react-icons-northstar/src/index.ts
Labels: Fluent UI react-northstar

#17349 [v7.0] Docsite: Hides footer and signIn modal in prep for MWF stylesheet removal
  apps/fabric-website/src/styles/_base.scss
  change/@uifabric-fabric-website-7865e396-2789-4b67-9d81-cdeddd5bd482.json
Labels: Area: Website, Fabric 7

#17327 Screener updates to hopefully improve reliability
  apps/vr-tests/.storybook/main.js
  apps/vr-tests/.storybook/preview.js
  apps/vr-tests/package.json
  apps/vr-tests/screener.config.js
  lage.config.js
  scripts/start.js
  scripts/tasks/storybook.ts
  yarn.lock
Labels: Area: Build System, Area: Testing

#17362 Dropdown: fix intermittent test failure
  change/@fluentui-react-36237d62-d65c-41da-a377-5ba024c85269.json
  packages/react/src/components/Dropdown/Dropdown.test.tsx
  packages/react/src/components/Dropdown/__snapshots__/Dropdown.test.tsx.snap
Labels: Component: Dropdown

#17347 Calendar/DatePicker type and ref fixes
  change/@fluentui-react-0198f8a9-447d-4b54-addd-f21d44fd977e.json
  packages/react/etc/react.api.md
  packages/react/src/components/Calendar/CalendarDay/CalendarDay.base.tsx
  packages/react/src/components/Calendar/CalendarDay/CalendarDay.tsx
  packages/react/src/components/Calendar/CalendarMonth/CalendarMonth.base.tsx
  packages/react/src/components/Calendar/CalendarMonth/CalendarMonth.tsx
  packages/react/src/components/Calendar/CalendarYear/CalendarYear.base.tsx
  packages/react/src/components/Calendar/CalendarYear/CalendarYear.tsx
  packages/react/src/components/CalendarDayGrid/CalendarDayGrid.base.tsx
  packages/react/src/components/CalendarDayGrid/CalendarDayGrid.test.tsx
  packages/react/src/components/CalendarDayGrid/CalendarDayGrid.tsx
  packages/react/src/components/CalendarDayGrid/CalendarGridDayCell.tsx
  packages/react/src/components/CalendarDayGrid/CalendarGridRow.tsx
  packages/react/src/components/CalendarDayGrid/CalendarMonthHeaderRow.tsx
  packages/react/src/components/Callout/CalloutContent.tsx
  packages/react/src/components/DatePicker/DatePicker.base.tsx
Labels: Component: Calendar, Component: CalendarDayGrid, Component: DatePicker, PR: API Modified

#17369 [Callout] Fix callout global focus handler cleanup
  change/@fluentui-react-5d4e463e-b2eb-48b1-ad11-d3dedb4c123d.json
  packages/react/src/components/Callout/CalloutContent.base.tsx
Labels: Component: Callout

#17366 [6.0] Fix visual tests, update build settings
  .vscode/settings.json
  apps/vr-tests/screener.local.config.js
  apps/vr-tests/src/stories/Breadcrumb.stories.tsx
  apps/vr-tests/src/stories/CommandBar.stories.tsx
  apps/vr-tests/src/utilities/FabricDecorator.tsx
  azure-pipelines.hotfix.yml
  azure-pipelines.release.yml
  azure-pipelines.yml
  change/office-ui-fabric-react-2021-03-10-13-15-41-screener-6.json
  packages/office-ui-fabric-react/src/components/List/List.test.tsx
Labels: Area: Build System, Area: Testing, Fabric 6

#17364 Docsite: style changes in prep for MWF for v5
  apps/fabric-website/src/styles/_base.scss
  common/changes/@uifabric/fabric-website/5.0_2021-03-10-19-26.json
Labels: Area: Website, AutoMerge, Fabric 5

#17363 Docsite: styles for MWF stylesheet removal for v6.0
  apps/fabric-website/src/components/Site/Site.module.scss
  change/@uifabric-fabric-website-2021-03-10-11-01-51-mwf-v6.json
Labels: Area: Website, AutoMerge, Fabric 6

#17311 adding mouse events single data point
  change/@fluentui-react-charting-89fde89e-fad8-418f-b7e1-287a9147d984.json
  change/@fluentui-react-examples-c30c7b58-00ac-4b50-b568-780f06f98de0.json
  packages/react-charting/src/components/LineChart/LineChart.base.tsx
  packages/react-examples/src/react-charting/LineChart/LineChart.Basic.Example.tsx
Labels: Package: charting

#17359 chore: update fluent ui 0.52.2 changelog
  packages/fluentui/CHANGELOG.md
Labels: AutoMerge, Fluent UI react-northstar

#17161 chore: implement test in memory execution based on TS aliases
  .gitignore
  change/@fluentui-make-styles-d676c107-849e-4666-9f1a-8543ea276f74.json
  change/@fluentui-react-conformance-d1983716-7e77-4f5e-b372-01cced6fae24.json
  change/@fluentui-react-menu-ce828c95-56eb-4e5b-a86d-668aad9f140f.json
  change/@fluentui-utilities-4903da1e-6768-4ac6-8a5e-96f518dd859a.json
  jest.config.js
  jest.preset.js
  package.json
  packages/make-styles/package.json
  packages/make-styles/tsconfig.json
  packages/react-conformance/src/defaultErrorMessages.tsx
  packages/react-conformance/src/isConformant.ts
  packages/react-conformance/tsconfig.json
  packages/react-menu/jest.config.js
  packages/react-menu/package.json
  packages/react-menu/tsconfig.json
  packages/utilities/etc/utilities.api.md
  packages/utilities/src/AutoScroll.ts
  packages/utilities/src/BaseComponent.test.tsx
  packages/utilities/src/BaseComponent.ts
  packages/utilities/src/EventGroup.ts
  packages/utilities/src/appendFunction.test.ts
  packages/utilities/src/initializeComponentRef.ts
  packages/utilities/src/object.ts
  packages/utilities/src/selection/Selection.ts
  packages/utilities/tsconfig.json
  tsconfig.base.json
  yarn.lock
Labels: Area: DevExp, PR: API Modified

#17377 fix(Popup): make sure `updatePosition` is always defined in `renderContent`
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/utils/positioner/Popper.tsx
Labels: Fluent UI react-northstar

#17378 Follow up makeStylesCompat fix
  change/@fluentui-react-flex-7437594a-e50c-4fc3-9522-2a79a4d9d5d6.json
  packages/react-flex/src/components/Flex/useFlexStyles.ts
Labels: Component: Flex

#16969 Accordion Convergence
  change/@fluentui-react-accordion-d8785184-bc6b-48dd-bb31-ecd63d74bb5a.json
  change/@fluentui-react-examples-ccc1a371-3cab-43f2-91de-f9e18a4d22ab.json
  packages/react-accordion/.eslintrc.json
  packages/react-accordion/.npmignore
  packages/react-accordion/LICENSE
  packages/react-accordion/README.md
  packages/react-accordion/Spec.md
  packages/react-accordion/config/api-extractor.json
  packages/react-accordion/config/tests.js
  packages/react-accordion/etc/react-accordion.api.md
  packages/react-accordion/jest.config.js
  packages/react-accordion/just.config.ts
  packages/react-accordion/package.json
  packages/react-accordion/src/Accordion.ts
  packages/react-accordion/src/AccordionHeader.ts
  packages/react-accordion/src/AccordionItem.ts
  packages/react-accordion/src/AccordionPanel.ts
  packages/react-accordion/src/common/isConformant.ts
  packages/react-accordion/src/components/Accordion/Accordion.test.tsx
  packages/react-accordion/src/components/Accordion/Accordion.tsx
  packages/react-accordion/src/components/Accordion/Accordion.types.ts
  packages/react-accordion/src/components/Accordion/__snapshots__/Accordion.test.tsx.snap
  packages/react-accordion/src/components/Accordion/index.ts
  packages/react-accordion/src/components/Accordion/renderAccordion.tsx
  packages/react-accordion/src/components/Accordion/useAccordion.test.ts
  packages/react-accordion/src/components/Accordion/useAccordion.ts
  packages/react-accordion/src/components/Accordion/useAccordionContext.ts
  packages/react-accordion/src/components/AccordionHeader/AccordionHeader.test.tsx
  packages/react-accordion/src/components/AccordionHeader/AccordionHeader.tsx
  packages/react-accordion/src/components/AccordionHeader/AccordionHeader.types.ts
  packages/react-accordion/src/components/AccordionHeader/DefaultExpandIcon.tsx
  packages/react-accordion/src/components/AccordionHeader/__snapshots__/AccordionHeader.test.tsx.snap
  packages/react-accordion/src/components/AccordionHeader/index.ts
  packages/react-accordion/src/components/AccordionHeader/renderAccordionHeader.tsx
  packages/react-accordion/src/components/AccordionHeader/useAccordionHeader.ts
  packages/react-accordion/src/components/AccordionHeader/useAccordionHeaderStyles.ts
  packages/react-accordion/src/components/AccordionItem/AccordionItem.test.tsx
  packages/react-accordion/src/components/AccordionItem/AccordionItem.tsx
  packages/react-accordion/src/components/AccordionItem/AccordionItem.types.ts
  packages/react-accordion/src/components/AccordionItem/__snapshots__/AccordionItem.test.tsx.snap
  packages/react-accordion/src/components/AccordionItem/index.ts
  packages/react-accordion/src/components/AccordionItem/renderAccordionItem.tsx
  packages/react-accordion/src/components/AccordionItem/useAccordionItem.ts
  packages/react-accordion/src/components/AccordionItem/useAccordionItemContext.ts
  packages/react-accordion/src/components/AccordionItem/useAccordionItemStyles.ts
  packages/react-accordion/src/components/AccordionPanel/AccordionPanel.test.tsx
  packages/react-accordion/src/components/AccordionPanel/AccordionPanel.tsx
  packages/react-accordion/src/components/AccordionPanel/AccordionPanel.types.ts
  packages/react-accordion/src/components/AccordionPanel/__snapshots__/AccordionPanel.test.tsx.snap
  packages/react-accordion/src/components/AccordionPanel/index.ts
  packages/react-accordion/src/components/AccordionPanel/renderAccordionPanel.tsx
  packages/react-accordion/src/components/AccordionPanel/useAccordionPanel.ts
  packages/react-accordion/src/components/AccordionPanel/useAccordionPanelStyles.ts
  packages/react-accordion/src/index.ts
  packages/react-accordion/src/utils/descendants.tsx
  packages/react-accordion/tsconfig.json
  packages/react-examples/.storybook/preview.js
  packages/react-examples/package.json
  packages/react-examples/src/react-accordion/Accordion/Accordion.stories.tsx
  packages/react-examples/src/react-accordion/AccordionItem/AccordionItem.stories.tsx
Labels: Component: Accordion, Type: Spec

#17370 Fix UPP layout when header component is present
  change/@fluentui-react-examples-52769c1b-c8fb-459b-9c64-62f44fb63e7b.json
  change/@fluentui-react-experiments-f5ba1f3d-6147-444b-8479-829adeeeb850.json
  packages/react-examples/src/react-experiments/UnifiedPeoplePicker/UnifiedPeoplePicker.WithEdit.Example.tsx
  packages/react-experiments/src/components/SelectedItemsList/SelectedItemsList.test.tsx
  packages/react-experiments/src/components/SelectedItemsList/SelectedItemsList.tsx
  packages/react-experiments/src/components/SelectedItemsList/SelectedPeopleList/__snapshots__/SelectedPeopleList.test.tsx.snap
  packages/react-experiments/src/components/UnifiedPicker/UnifiedPeoplePicker/__snapshots__/UnifiedPeoplePicker.test.tsx.snap
  packages/react-experiments/src/components/UnifiedPicker/UnifiedPicker.styles.ts
  packages/react-experiments/src/components/UnifiedPicker/UnifiedPicker.tsx
  packages/react-experiments/src/components/UnifiedPicker/UnifiedPicker.types.ts
  packages/react-experiments/src/components/UnifiedPicker/__snapshots__/UnifiedPicker.test.tsx.snap
Labels: Package: experiments

#17361 updating the OpenOutsideIcon
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-icons-northstar/src/components/OpenOutsideIcon.tsx
Labels: Fluent UI react-northstar

#17385 Bug fix - Cypress dialog tests were failling on timeout
  packages/fluentui/e2e/tests/dialogInDialog.spec.ts
  packages/fluentui/e2e/tests/dialogInDialogWithDropdown.spec.ts
  packages/fluentui/e2e/tests/popupInPopup.spec.ts
  packages/fluentui/e2e/tests/treeKeyboardNavigation.spec.ts
Labels: Fluent UI react-northstar

#17384 react-checkbox: update properties to match supported HTML/ARIA attrs
  change/@fluentui-react-checkbox-2f4bdb57-38ec-4f0f-9ac7-590b8057ff80.json
  packages/react-checkbox/etc/react-checkbox.api.md
  packages/react-checkbox/src/components/Checkbox/Checkbox.base.tsx
  packages/react-checkbox/src/components/Checkbox/Checkbox.types.ts
  packages/react-checkbox/src/components/Checkbox/useCheckbox.ts
Labels: Area: Accessibility, Component: Checkbox

#17324 Adding tinted prop to Button
  packages/fluentui/CHANGELOG.md
  packages/fluentui/docs/src/examples/components/Button/Types/ButtonExampleEmphasis.shorthand.tsx
  packages/fluentui/docs/src/examples/components/Button/Types/ButtonExampleEmphasis.tsx
  packages/fluentui/react-northstar/src/components/Button/Button.tsx
  packages/fluentui/react-northstar/src/themes/teams/components/Button/buttonStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Button/buttonVariables.ts
Labels: Fluent UI react-northstar

#17323 Updating the carousel paddle colors
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/themes/teams-dark/colors.ts
  packages/fluentui/react-northstar/src/themes/teams-high-contrast/colors.ts
  packages/fluentui/react-northstar/src/themes/teams/colors.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Carousel/carouselPaddleStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Carousel/carouselStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Carousel/carouselVariables.ts
Labels: Fluent UI react-northstar

#17390 add data grid as a new web component
  change/@fluentui-web-components-542808a8-7f11-430c-8996-27ca4cc8714d.json
  packages/web-components/docs/api-report.md
  packages/web-components/src/data-grid/data-grid-cell.styles.ts
  packages/web-components/src/data-grid/data-grid-row.styles.ts
  packages/web-components/src/data-grid/data-grid.stories.ts
  packages/web-components/src/data-grid/data-grid.styles.ts
  packages/web-components/src/data-grid/fixtures/base.html
  packages/web-components/src/data-grid/index.ts
  packages/web-components/src/index.ts
Labels: web-components

#17391 Adding color slot: borderActive4
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/themes/teams-dark/colors.ts
  packages/fluentui/react-northstar/src/themes/teams-high-contrast/colors.ts
  packages/fluentui/react-northstar/src/themes/teams/colors.ts
Labels: Fluent UI react-northstar

#17392 Add a required prop to react/checkbox
  change/@fluentui-react-784a2f2d-2621-4994-8ff3-6d5265edf5db.json
  packages/react/etc/react.api.md
  packages/react/src/components/Checkbox/Checkbox.base.tsx
  packages/react/src/components/Checkbox/Checkbox.types.ts
Labels: Component: Checkbox, PR: API Modified

#17343 v7 cherry pick: Grouped DetailsList and Groupedlist row index errors
  change/@fluentui-react-examples-748f65c4-2c37-4384-827a-ae6788d909e9.json
  change/office-ui-fabric-react-45f1bf38-d0ca-4e90-a408-c0f55c21f861.json
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsRow.base.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/__snapshots__/DetailsList.test.tsx.snap
  packages/office-ui-fabric-react/src/components/GroupedList/GroupHeader.base.tsx
  packages/office-ui-fabric-react/src/components/GroupedList/GroupedListSection.tsx
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/DetailsList.CustomGroupHeaders.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/DetailsList.Grouped.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/DetailsList.Grouped.Large.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/GroupedList.CustomCheckbox.Example.tsx.shot
Labels: Fabric 7

#17400 Fix syncpack errors with northstar dev deps
  package.json
  packages/fluentui/accessibility/package.json
  packages/fluentui/code-sandbox/package.json
  packages/fluentui/docs-components/package.json
  packages/fluentui/docs/package.json
  packages/fluentui/e2e/package.json
  packages/fluentui/perf/package.json
  packages/fluentui/react-bindings/package.json
  packages/fluentui/react-builder/package.json
  packages/fluentui/react-component-event-listener/package.json
  packages/fluentui/react-component-nesting-registry/package.json
  packages/fluentui/react-component-ref/package.json
  packages/fluentui/react-icons-northstar/package.json
  packages/fluentui/react-northstar-emotion-renderer/package.json
  packages/fluentui/react-northstar-fela-renderer/package.json
  packages/fluentui/react-northstar-prototypes/package.json
  packages/fluentui/react-northstar-styles-renderer/package.json
  packages/fluentui/react-northstar/package.json
  packages/fluentui/react-proptypes/package.json
  packages/fluentui/react-telemetry/package.json
  packages/fluentui/state/package.json
  packages/fluentui/styles/package.json
Labels: Area: Build System, Fluent UI react-northstar

#16609 image/feat: lazy-loading
  change/@fluentui-react-2021-02-26-20-23-23-master.json
  packages/react/etc/react.api.md
  packages/react/src/components/Image/Image.base.tsx
  packages/react/src/components/Image/Image.types.ts
Labels: Component: Image, PR: API Modified

#17396 U/angon/fix drag drop
  change/@fluentui-react-experiments-39f806e1-dc55-4bd3-a9fe-049c5f184fff.json
  packages/react-experiments/src/components/UnifiedPicker/UnifiedPicker.tsx
Labels: Component: UnifiedPicker, Package: experiments

#17209 RFC: Integrate Popper into Fluent
  rfcs/convergence/popper-js.md
Labels: Component: Menu, Type: RFC

#17405 Switch popup focus to useEffect, add setTimeout for React 16
  change/@fluentui-react-376cb4fd-778f-4da0-900e-eb3d7200f6d4.json
  packages/react/src/components/Popup/Popup.tsx
Labels: Area: Accessibility, Component: Popup

#17231 fix: add force-colors to backgroundStyles and update button styles to fix the card and button components
  change/@fluentui-web-components-60b7b152-bf89-43ce-8679-118f8511b0bf.json
  packages/web-components/src/design-system-provider/index.ts
  packages/web-components/src/styles/patterns/button.ts
Labels: web-components

#17420 fix(react-docsite-components): add accessible names to docsite implementation tables
  change/@fluentui-react-docsite-components-8a950f38-23e4-4933-9329-e47a5b63fee9.json
  packages/react-docsite-components/src/components/ApiReferencesTable/ApiReferencesTable.tsx
Labels: Area: Website

#17418 Improve conformance test error messages
  change/@fluentui-react-conformance-078c90e2-ac6d-4aef-a8f2-7ad0f6abc619.json
  packages/react-conformance/src/defaultErrorMessages.tsx
  packages/react-conformance/src/defaultTests.tsx
  packages/react-conformance/src/isConformant.ts
  packages/react-conformance/src/utils/consoleUtil.ts
  packages/react-conformance/src/utils/getComponentDoc.ts
Labels: Area: Testing, AutoMerge

#17424 [ContextualMenu] Fix bug with `useTargetWidth`
  change/@fluentui-react-5755499a-cc3f-4993-99f7-f93f547221f3.json
  packages/react/src/components/ContextualMenu/ContextualMenu.base.tsx
Labels: Component: ContextualMenu

#17220 Dark Theme Default Button Update
  change/@uifabric-azure-themes-2021-03-01-09-34-59-dark.json
  packages/azure-themes/src/azure/AzureColors.ts
  packages/azure-themes/src/azure/AzureThemeDark.ts
  packages/azure-themes/src/azure/IAzureSemanticColors.ts
  packages/azure-themes/src/azure/IExtendedSemanticColors.ts
  packages/azure-themes/src/azure/styles/DefaultButton.styles.ts
Labels: Fabric 7, Package: azure-themes, needs cherry-pick

#17415 Button - Updates styles from makeStylesCompat to makeStyles
  change/@fluentui-react-button-d680055b-9331-41dc-bf21-1441e08a8590.json
  packages/react-button/src/components/Button/useButtonStyles.ts
Labels: Component: Button

#17440 react-flex- Updates styles from makeStylesCompat to makeStyles
  change/@fluentui-react-flex-b67e48eb-f824-48ec-a5ec-5212d250f586.json
  packages/react-flex/src/components/Flex/useFlexStyles.ts
Labels: AutoMerge, Component: Flex

#17414 Use env vars for VR tests Screener endpoints
  azure-pipelines.yml
  scripts/screener/screener.runner.ts
Labels: Area: Build System

#17428 Remove CRA workaround from projects-test
  packages/fluentui/projects-test/src/createReactApp.ts
Labels: Area: Testing, AutoMerge, Fluent UI react-northstar

#17419 fix(Popup): prevent to dismiss popup on scroll inside popup
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/components/Popup/Popup.tsx
Labels: Fluent UI react-northstar

#17433 Dark Theme Default Button Update
  change/@fluentui-azure-themes-4344cfcd-0608-4f7f-9f27-6ffffe578f06.json
  packages/azure-themes/src/azure/AzureColors.ts
  packages/azure-themes/src/azure/AzureThemeDark.ts
  packages/azure-themes/src/azure/IAzureSemanticColors.ts
  packages/azure-themes/src/azure/IExtendedSemanticColors.ts
  packages/azure-themes/src/azure/styles/DefaultButton.styles.ts
Labels: Package: azure-themes

#17427 Add accessible names to docs site API tables for v7
  change/@uifabric-example-app-base-15cd2aa8-d279-4000-8e0c-70c5cc7d0899.json
  packages/example-app-base/src/components/ApiReferencesTable/ApiReferencesTable.tsx
Labels: Area: Website, Fabric 7

#17448 Use separate deployment URL for northstar screener
  azure-pipelines.yml
  scripts/config.ts
  scripts/screener/screener.states.ts
Labels: Area: Testing

#17388 Persona size
  change/@fluentui-react-examples-746c3eb5-bf12-46c0-b6b5-12fd3e37e33f.json
  change/@fluentui-react-experiments-1c1d9d1d-0252-4944-9ecd-6df67bcebaf0.json
  packages/react-examples/src/react-experiments/UnifiedPeoplePicker/UnifiedPeoplePicker.Example.tsx
  packages/react-examples/src/react-experiments/UnifiedPeoplePicker/UnifiedPeoplePicker.WithEdit.Example.tsx
  packages/react-experiments/src/components/SelectedItemsList/SelectedPeopleList/Items/SelectedPersona.tsx
Labels: Component: SelectedItemsList, Package: experiments

#17277 Rating: Enable bidirectional keyboarding
  change/@fluentui-react-da054f50-18da-4838-95d8-52da1ba3e46c.json
  packages/react/src/components/Rating/Rating.base.tsx
Labels: Component: Rating

#17430 ProgressIndicator: Deriving aria-labelledby and aria-describedby
  change/@fluentui-react-9db5ec8b-0749-40f4-b1de-5b7748c2d3fb.json
  change/@fluentui-react-examples-d73c2e33-6174-45bb-a4e7-8c8dab935c72.json
  packages/react-examples/src/react/__snapshots__/Announced.LazyLoading.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/ProgressIndicator.Basic.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/ProgressIndicator.Indeterminate.Example.tsx.shot
  packages/react/etc/react.api.md
  packages/react/src/components/ProgressIndicator/ProgressIndicator.base.tsx
  packages/react/src/components/ProgressIndicator/__snapshots__/ProgressIndicator.test.tsx.snap
Labels: Area: Accessibility, AutoMerge, Component: ProgressIndicator, PR: API Modified

#17422 fix(useContextSelectors): bug in calculating new context causes infinite rerender
  packages/fluentui/docs/src/components/ComponentDoc/ComponentExample/ComponentExample.tsx
  packages/fluentui/react-bindings/src/context-selector/useContextSelectors.ts
Labels: Fluent UI react-northstar

#17431 Website: add version switcher in v7 site
  apps/fabric-website/src/SiteDefinition/SiteDefinition.tsx
  apps/fabric-website/src/pages/Controls/ControlsAreaPage.tsx
  apps/fabric-website/src/pages/HomePage/HomePage.base.tsx
  apps/fabric-website/src/pages/Overviews/ControlsPage/ControlsPage.tsx
  change/@uifabric-example-app-base-0eabe1e2-aeab-4d6f-b4ab-058bc2b063b1.json
  change/@uifabric-fabric-website-b11e215c-d200-43b2-9ea7-fc20f2e8a91f.json
  change/@uifabric-styling-8f31cf46-7c69-42b6-a143-be399c60ac65.json
  packages/example-app-base/src/components/LoadingComponent/LoadingComponent.tsx
  packages/example-app-base/src/components/LoadingComponent/LoadingComponent.types.ts
  packages/example-app-base/src/components/Page/Page.tsx
  packages/example-app-base/src/components/Page/Page.types.ts
  packages/example-app-base/src/components/PageHeader/PageHeader.tsx
  packages/example-app-base/src/components/PageHeader/PageHeader.types.ts
  packages/example-app-base/src/styles/constants.ts
  packages/example-app-base/src/utilities/SiteDefinition.types.ts
  packages/styling/etc/styling.api.md
  packages/styling/src/styles/CommonStyles.ts
Labels: Area: Website, Fabric 7, PR: API Modified

#17453 Website: Add version switcher in v6 site
  .vscode/settings.json
  apps/fabric-website/src/SiteDefinition/SiteDefinition.tsx
  apps/fabric-website/src/pages/Controls/ControlsAreaPage.tsx
  apps/fabric-website/src/pages/HomePage/HomePage.base.tsx
  apps/fabric-website/src/pages/Overviews/ControlsPage/ControlsPage.tsx
  change/@uifabric-example-app-base-2021-03-16-11-59-25-version-switcher-6.json
  change/@uifabric-fabric-website-2021-03-16-11-59-25-version-switcher-6.json
  packages/example-app-base/src/components/LoadingComponent/LoadingComponent.tsx
  packages/example-app-base/src/components/LoadingComponent/LoadingComponent.types.ts
  packages/example-app-base/src/components/Page/Page.tsx
  packages/example-app-base/src/components/Page/Page.types.ts
  packages/example-app-base/src/components/PageHeader/PageHeader.tsx
  packages/example-app-base/src/components/PageHeader/PageHeader.types.ts
  packages/example-app-base/src/styles/constants.ts
  packages/example-app-base/src/utilities/SiteDefinition.types.ts
  packages/prettier-rules/package.json
  packages/prettier-rules/prettier.config.js
Labels: Area: Website, Fabric 6

#17459 Ensure multiline inline scripts exit with error if any command fails
  .devops/templates/tools.yml
  azure-pipelines.release.yml
Labels: Area: Build System

#17458 Persona height
  change/@fluentui-react-experiments-03754139-3d03-4f58-be60-40794860e6c5.json
  packages/react-experiments/src/components/SelectedItemsList/SelectedPeopleList/Items/SelectedPersona.styles.ts
  packages/react-experiments/src/components/SelectedItemsList/SelectedPeopleList/Items/SelectedPersona.tsx
  packages/react-experiments/src/components/SelectedItemsList/SelectedPeopleList/Items/SelectedPersona.types.ts
Labels: Component: SelectedItemsList, Package: experiments

#17398 azure-themes: update error styles for azure-themes (light)
  change/@fluentui-react-examples-2021-03-12-15-07-02-azure-theme-error-messaging.json
  change/@uifabric-azure-themes-2021-03-12-15-07-02-azure-theme-error-messaging.json
  packages/azure-themes/src/azure/AzureColors.ts
  packages/azure-themes/src/azure/Constants.ts
  packages/react-examples/src/azure-themes/stories/Themes/Themes.stories.tsx
Labels: Fabric 7, Package: azure-themes

#17429 Change Azure PR deploy storage
  .devops/templates/tools.yml
  .devops/templates/variables.yml
  apps/perf-test/tasks/fluentPerfRegressions.ts
  apps/perf-test/tasks/perf-test.ts
  apps/pr-deploy-site/.eslintrc.json
  apps/pr-deploy-site/README.md
  apps/pr-deploy-site/index.html
  apps/pr-deploy-site/just.config.ts
  apps/pr-deploy-site/package.json
  apps/pr-deploy-site/pr-deploy-site.js
  azure-pipelines.perf-test.yml
  azure-pipelines.release.yml
  azure-pipelines.yml
  package.json
  packages/fluentui/perf-test/tasks/perf-test.ts
  scripts/screener/screener.states.ts
  yarn.lock
Labels: Area: Build System

#17471 UnifiedPicker: Fix bug where focus is lost in input after the first item is selected
  change/@fluentui-react-experiments-9ea720a9-f05a-41b1-91e6-7b887bf5e4a3.json
  packages/react-experiments/src/components/UnifiedPicker/UnifiedPicker.tsx
Labels: Component: UnifiedPicker, Package: experiments

#17472 Fix buttonSize dependency
  change/@fluentui-react-experiments-e21f6614-3a47-445a-9789-a36fc66cedff.json
  packages/react-experiments/src/components/SelectedItemsList/SelectedPeopleList/Items/SelectedPersona.tsx
Labels: Component: SelectedItemsList, Package: experiments

#17468 Adding ability to pass a Rectangle as a target and account for it in positioning logic
  apps/vr-tests/src/stories/Callout.stories.tsx
  change/@uifabric-react-hooks-0e2ae2d1-1283-4d59-bca6-d5e34e8fe7d5.json
  change/office-ui-fabric-react-ca8dd9d3-36cc-411c-9136-75d0067c4d82.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/utilities/positioning/positioning.ts
  packages/react-hooks/etc/react-hooks.api.md
  packages/react-hooks/src/useTarget.ts
Labels: AutoMerge, Fabric 7, PR: API Modified

#17467 Adding ability to pass a Rectangle as a target and account for it in positioning logic
  apps/vr-tests/src/stories/z_Callout.stories.tsx
  change/@fluentui-react-d8d53715-4dd5-4a3c-b8d4-71ed81878747.json
  change/@fluentui-react-hooks-580a8ecc-760b-4415-88fa-82a6f99399ba.json
  packages/react-hooks/etc/react-hooks.api.md
  packages/react-hooks/src/useTarget.ts
  packages/react/etc/react.api.md
  packages/react/src/utilities/positioning/positioning.ts
Labels: PR: API Modified

#17476 Facepile: overflow number and icons are now properly visible in High Contrast Mode
  change/@fluentui-react-894b5c19-ca92-4378-be08-9ebdcad72fab.json
  packages/react/src/components/Facepile/Facepile.styles.ts
Labels: Area: Accessibility, Component: Facepile

#17267 Rating: specifies when a rating's button is selected/not selected to improve a11y experience
  change/@fluentui-react-b564409c-4e55-43ac-8c31-93a8dca4837d.json
  change/@fluentui-react-examples-a93b869d-de8a-41ed-b1f5-2ab554f814eb.json
  packages/react-examples/src/react/Rating/Rating.Basic.Example.tsx
  packages/react-examples/src/react/Rating/Rating.ButtonControlled.Example.tsx
  packages/react-examples/src/react/__snapshots__/Rating.Basic.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/Rating.ButtonControlled.Example.tsx.shot
  packages/react/etc/react.api.md
  packages/react/src/components/Rating/Rating.base.tsx
  packages/react/src/components/Rating/Rating.types.ts
  packages/react/src/components/Rating/__snapshots__/Rating.test.tsx.snap
Labels: Area: Accessibility, Component: Rating, PR: API Modified

#17470 Exporting FluentHorizontalScroll
  change/@fluentui-web-components-70fe816a-58d4-4c2b-a394-17e49a967051.json
  packages/web-components/docs/api-report.md
  packages/web-components/src/horizontal-scroll/index.ts
  packages/web-components/src/index.ts
Labels: web-components

#17483 Cypress timeouts dialog fix
  packages/fluentui/e2e/cypress.json
Labels: Fluent UI react-northstar

#17490 Callout: Replace visual regression test of Callout attached to an iframe to one where the Callout is attached to a rectangle
  apps/vr-tests/src/stories/z_Callout.stories.tsx
Labels: AutoMerge

#17491 Callout: Replace visual regression test of Callout attached to an iframe to one where the Callout is attached to a rectangle
  apps/vr-tests/src/stories/Callout.stories.tsx
Labels: AutoMerge, Fabric 7

#16399 feat: add tooltip and anchor region web component
  change/@fluentui-web-components-2021-01-06-15-15-48-users-khamu-add-tooltip.json
  packages/web-components/docs/api-report.md
  packages/web-components/package.json
  packages/web-components/src/anchored-region/anchored-region.stories.ts
  packages/web-components/src/anchored-region/anchored-region.styles.ts
  packages/web-components/src/anchored-region/fixtures/anchored-region.html
  packages/web-components/src/anchored-region/fixtures/base.html
  packages/web-components/src/anchored-region/index.ts
  packages/web-components/src/index.ts
  packages/web-components/src/tooltip/fixtures/tooltip.html
  packages/web-components/src/tooltip/index.ts
  packages/web-components/src/tooltip/tooltip.stories.ts
  packages/web-components/src/tooltip/tooltip.styles.ts
  yarn.lock
Labels: web-components

#17439 react-menu - Updates styles from makeStylesCompat to makeStyles
  change/@fluentui-react-menu-f6f5cf87-240e-46ee-800a-a79deffab5e2.json
  packages/react-menu/etc/react-menu.api.md
  packages/react-menu/src/components/Menu/useMenuStyles.ts
  packages/react-menu/src/components/MenuDivider/useMenuDividerStyles.ts
  packages/react-menu/src/components/MenuGroupHeader/useMenuGroupHeaderStyles.ts
  packages/react-menu/src/components/MenuItem/useMenuItemStyles.ts
  packages/react-menu/src/selectable/useCheckmarkStyles.ts
Labels: Component: Menu

#17441 react-image - Updates styles from makeStylesCompat to makeStyles
  change/@fluentui-react-image-f92f944d-9ca4-42c7-84bd-6de0560b56c8.json
  packages/react-image/etc/react-image.api.md
  packages/react-image/src/components/Image/useImageStyles.ts
Labels: Component: Image

#17442 react-link - Updates styles from makeStylesCompat to makeStyles
  change/@fluentui-react-link-b387cac3-b369-4ddb-9086-84ebb69a5025.json
  packages/react-link/src/components/Link/useLinkStyles.ts
Labels: Component: Link

#17494 feat: add number-field web component
  change/@fluentui-web-components-6b5e7aec-7c00-49cf-8a0d-66fc803d4b59.json
  packages/web-components/docs/api-report.md
  packages/web-components/src/index.ts
  packages/web-components/src/number-field/fixtures/number-field.html
  packages/web-components/src/number-field/index.ts
  packages/web-components/src/number-field/number-field.stories.ts
  packages/web-components/src/number-field/number-field.styles.ts
Labels: web-components

#16616 Divider: Adding initial implementation of converged component
  apps/vr-tests/package.json
  apps/vr-tests/src/stories/Divider.stories.tsx
  change/@fluentui-react-divider-b34ad8c0-f8e6-4723-95e3-3a2c88d148a6.json
  change/@fluentui-react-examples-970f1c06-bcc2-4d12-a344-f9fb6ecb7723.json
  packages/react-divider/.eslintrc.json
  packages/react-divider/.npmignore
  packages/react-divider/LICENSE
  packages/react-divider/MIGRATION.md
  packages/react-divider/README.md
  packages/react-divider/Spec.md
  packages/react-divider/config/api-extractor.json
  packages/react-divider/config/tests.js
  packages/react-divider/etc/react-divider.api.md
  packages/react-divider/jest.config.js
  packages/react-divider/just.config.ts
  packages/react-divider/package.json
  packages/react-divider/src/Divider.ts
  packages/react-divider/src/common/isConformant.ts
  packages/react-divider/src/components/Divider/Divider.test.tsx
  packages/react-divider/src/components/Divider/Divider.tsx
  packages/react-divider/src/components/Divider/Divider.types.ts
  packages/react-divider/src/components/Divider/__snapshots__/Divider.test.tsx.snap
  packages/react-divider/src/components/Divider/index.ts
  packages/react-divider/src/components/Divider/renderDivider.tsx
  packages/react-divider/src/components/Divider/useDivider.ts
  packages/react-divider/src/components/Divider/useDividerStyles.ts
  packages/react-divider/src/index.ts
  packages/react-divider/tsconfig.json
  packages/react-examples/.storybook/preview.js
  packages/react-examples/package.json
  packages/react-examples/src/react-divider/Divider/Divider.stories.tsx
  packages/react-examples/src/react/Keytip/Keytips.Dynamic.Example.tsx
Labels: AutoMerge, Component: Separator, Type: Spec

#17493 Tooltip azure style
  change/@fluentui-react-examples-27a7f7d4-88e1-4ddc-a3a4-dff0119d9bdc.json
  change/@uifabric-azure-themes-3077a336-5871-4a52-aecc-b11bd74f9889.json
  packages/azure-themes/src/azure/AzureStyleSettings.ts
  packages/azure-themes/src/azure/styles/Tooltip.styles.ts
  packages/react-examples/src/azure-themes/stories/Themes/Themes.stories.tsx
  packages/react-examples/src/azure-themes/stories/components/tooltip.stories.tsx
Labels: Fabric 7

#17496 Cherry Pick "Tooltip azure style #17493"
  change/@fluentui-azure-themes-06084aba-b448-4c1b-a821-44cbb38e8ff8.json
  change/@fluentui-react-examples-3af40091-ef18-4364-a4a9-916346d7d828.json
  packages/azure-themes/src/azure/AzureStyleSettings.ts
  packages/azure-themes/src/azure/styles/Tooltip.styles.ts
  packages/react-examples/src/azure-themes/stories/Themes/Themes.stories.tsx
  packages/react-examples/src/azure-themes/stories/components/tooltip.stories.tsx
Labels: Package: azure-themes

#17382 chore: apply single version policy on @testing-library packages
  change/@fluentui-react-accordion-9df30b78-89cb-410f-a789-69813ecc93f9.json
  change/@fluentui-react-divider-c63ebd0a-b586-4727-b779-d169c3c2d7ef.json
  change/@fluentui-react-flex-31f7a4f2-0771-4458-a39c-9cfda76452e7.json
  change/@fluentui-react-focus-management-5ec6b8f3-dec9-400d-9efc-bf7ec685f48e.json
  change/@fluentui-react-menu-c934d9fd-903d-4333-a86d-c862155f6828.json
  change/@fluentui-react-tooltip-6d732c7a-d988-4c34-8a87-d548ba2f3693.json
  change/@fluentui-react-utilities-29f09eb7-11bb-4c97-a630-e59ff8e1d179.json
  package.json
  packages/fluentui/react-northstar/package.json
  packages/react-accordion/package.json
  packages/react-divider/package.json
  packages/react-flex/package.json
  packages/react-focus-management/package.json
  packages/react-menu/package.json
  packages/react-tooltip/package.json
  packages/react-utilities/package.json
  scripts/create-package/plop-templates-react/package.json.hbs
  yarn.lock
Labels: Area: Build System, dependencies

#17423 fix(react): DetailsList aria-rowindex off-by-one fix
  change/@fluentui-react-d6fc3aa0-1a27-46bf-8ab1-184cc11dabf7.json
  change/@fluentui-react-examples-b52d6dfc-cf4d-4036-aa7e-8ea6475a75b3.json
  packages/react-examples/src/react-focus/__snapshots__/FocusZone.List.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/Announced.BulkOperations.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/Announced.QuickActions.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/DetailsList.Advanced.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/DetailsList.Animation.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/DetailsList.Basic.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/DetailsList.Compact.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/DetailsList.CustomColumns.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/DetailsList.CustomFooter.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/DetailsList.CustomRows.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/DetailsList.Documents.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/DetailsList.DragDrop.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/DetailsList.NavigatingFocus.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/Text.Ramp.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/Text.Weights.Example.tsx.shot
  packages/react/etc/react.api.md
  packages/react/src/components/DetailsList/DetailsList.base.tsx
  packages/react/src/components/DetailsList/DetailsRow.base.tsx
  packages/react/src/components/DetailsList/DetailsRow.test.tsx
  packages/react/src/components/DetailsList/DetailsRow.types.ts
  packages/react/src/components/DetailsList/__snapshots__/DetailsRow.test.tsx.snap
Labels: Component: DetailsList, PR: API Modified

#17506 Pivot: Fix selectedKey={null} to render no item
  change/@fluentui-react-8d9e5832-73ec-48dd-a10f-9498ae5d37ee.json
  packages/react/src/components/Pivot/Pivot.base.tsx
Labels: AutoMerge, Component: Pivot, Fluent UI v8

#17486 [v7.0] Facepile: overflow number and icons are now properly visible in High Contrast Mode
  change/office-ui-fabric-react-657f0499-3c10-415c-9bbc-5630edc1a9e7.json
  packages/office-ui-fabric-react/src/components/Facepile/Facepile.styles.ts
Labels: Area: Accessibility, Component: Facepile, Fabric 7

#17515 [web-components] fix missing focus styles for button and anchor due to whitespace issue
  change/@fluentui-web-components-8395d502-9c43-46d9-b776-2d623ae65016.json
  packages/web-components/src/styles/patterns/button.ts
Labels: web-components

#17516 feat: add appearance stylesheet behavior
  change/@fluentui-web-components-c5450e83-2cfb-4d5f-ada1-28d5a0fd584e.json
  packages/web-components/src/anchor/anchor.styles.ts
  packages/web-components/src/button/button.styles.ts
  packages/web-components/src/utilities/behaviors.ts
Labels: web-components

#17002 (WIP) UI Builder left nav update
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-builder/src/components/BrowserWindow.tsx
  packages/fluentui/react-builder/src/components/ComponentTree.tsx
  packages/fluentui/react-builder/src/components/Designer.tsx
  packages/fluentui/react-builder/src/components/InsertComponent.tsx
  packages/fluentui/react-builder/src/components/List.tsx
  packages/fluentui/react-builder/src/components/ReaderNarration.tsx
  packages/fluentui/react-builder/src/narration/NarrationComputer.tsx
  packages/fluentui/react-builder/src/narration/SRNC-ElementStates-Win_JAWS.tsx
  packages/fluentui/react-builder/src/narration/SRNC-ElementTypes-Win_JAWS.tsx
  packages/fluentui/react-builder/src/narration/SRNC-ElementTypes-Win_JAWS_VPC.tsx
  packages/fluentui/react-builder/src/narration/SRNC-LandmarksAndGroups-Win_JAWS.tsx
  packages/fluentui/react-builder/src/narration/SRNC-LandmarksAndGroups-Win_JAWS_VPC.tsx
  packages/fluentui/react-builder/src/narration/SRNC-ReadingOrder-Win_JAWS.tsx
  packages/fluentui/react-builder/src/narration/SRNC-ReadingOrder-Win_JAWS_VPC.tsx
  packages/fluentui/react-builder/src/narration/SRNC-StateRules-Win_JAWS.tsx
  packages/fluentui/react-builder/src/narration/SRNC-StateRules-Win_JAWS_VPC.tsx
  packages/fluentui/react-builder/src/narration/SRNC-Usages-Win_JAWS.tsx
  packages/fluentui/react-builder/src/state/state.ts
Labels: Fluent UI react-northstar

#17443 react-text - Updates styles from makeStylesCompat to makeStyles
  change/@fluentui-react-text-ad06cd87-9155-49ad-b020-f64f89200e0f.json
  packages/react-text/src/components/Text/useTextStyles.ts
Labels: Component: Text

#17520 chore: deprecate useCSS() hook
  packages/fluentui/CHANGELOG.md
  packages/fluentui/docs/src/components/Sidebar/Sidebar.tsx
  packages/fluentui/docs/src/pages/StylesOverrides.mdx
  packages/fluentui/docs/src/pages/ThemingSpecification.mdx
  packages/fluentui/docs/src/pages/examples.tsx
  packages/fluentui/docs/src/routes.tsx
  packages/fluentui/docs/src/views/IntegrateCustomComponents.tsx
  packages/fluentui/react-bindings/src/hooks/useCSS.ts
Labels: Fluent UI react-northstar

#17522 react-examples - Updates styles from makeStylesCompat to makeStyles
  change/@fluentui-react-examples-98100a6e-20e0-4f27-a6ac-b2f144542ef6.json
  packages/react-examples/src/react-avatar/Avatar/Avatar.stories.tsx
  packages/react-examples/src/react-avatar/utils/StoryExample.tsx
  packages/react-examples/src/react-divider/Divider/Divider.stories.tsx
  packages/react-examples/src/react-make-styles/MakeStylesCompat/Basic.stories.tsx
  packages/react-examples/src/react-menu/MenuList/MenuList.stories.tsx
Labels: Area: Website

#17500 feat(Pills): add base pill
  packages/fluentui/CHANGELOG.md
  packages/fluentui/docs/src/examples/components/Pill/State/PillExampleDisabled.tsx
  packages/fluentui/docs/src/examples/components/Pill/State/index.tsx
  packages/fluentui/docs/src/examples/components/Pill/Types/PillExample.tsx
  packages/fluentui/docs/src/examples/components/Pill/Types/index.tsx
  packages/fluentui/docs/src/examples/components/Pill/Variations/PillExampleAppearance.tsx
  packages/fluentui/docs/src/examples/components/Pill/Variations/PillExampleRectangular.tsx
  packages/fluentui/docs/src/examples/components/Pill/Variations/PillExampleSizes.tsx
  packages/fluentui/docs/src/examples/components/Pill/Variations/index.tsx
  packages/fluentui/docs/src/examples/components/Pill/index.tsx
  packages/fluentui/react-northstar/src/components/Pill/Pill.tsx
  packages/fluentui/react-northstar/src/components/Pill/PillContent.tsx
  packages/fluentui/react-northstar/src/index.ts
  packages/fluentui/react-northstar/src/themes/teams/componentStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/componentVariables.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Pill/pillContentStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Pill/pillStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Pill/pillVariables.ts
  packages/fluentui/react-northstar/src/themes/teams/types.ts
Labels: Fluent UI react-northstar

#17399 azure-themes: update error styles for azure-themes (light)
  change/@fluentui-azure-themes-cac00245-e225-4e3f-b195-582e82be2cb6.json
  change/@fluentui-react-examples-5ca6c68c-159b-454a-99f6-4828213fafd9.json
  packages/azure-themes/src/azure/AzureColors.ts
  packages/azure-themes/src/azure/Constants.ts
  packages/react-examples/src/azure-themes/stories/Themes/Themes.stories.tsx
Labels: Package: azure-themes

#17514 react-avatar - Updates styles from makeStylesCompat to makeStyles
  change/@fluentui-react-avatar-63526f14-ab74-4426-874c-9beab713a756.json
  packages/react-avatar/src/components/Avatar/DefaultAvatarIcon.tsx
  packages/react-avatar/src/components/Avatar/__snapshots__/Avatar.test.tsx.snap
  packages/react-avatar/src/components/Avatar/useAvatarStyles.ts
  packages/react-avatar/src/components/Badge/useBadgeStyles.ts
Labels: Component: Avatar

#17525 Cleanup react-divider
  change/@fluentui-react-divider-120e15d4-3060-4fdc-ba7d-955ca80d24ff.json
  change/@fluentui-react-examples-32f97e02-927b-45f7-9fd7-c9a2c74d4e8e.json
  packages/react-divider/etc/react-divider.api.md
  packages/react-divider/src/components/Divider/Divider.test.tsx
  packages/react-divider/src/components/Divider/Divider.types.ts
  packages/react-divider/src/components/Divider/__snapshots__/Divider.test.tsx.snap
  packages/react-divider/src/components/Divider/useDividerStyles.ts
  packages/react-examples/src/react-divider/Divider/Divider.stories.tsx
Labels: Component: Divider, Type: Cleanup

#17480 Add option to use FocusTrapZone in ContextualMenus
  change/@fluentui-react-0d361218-f801-4654-a443-00a12a3e88ff.json
  packages/react/etc/react.api.md
  packages/react/src/components/ContextualMenu/ContextualMenu.base.tsx
  packages/react/src/components/ContextualMenu/ContextualMenu.types.ts
Labels: Component: Calendar, Component: ContextualMenu, PR: API Modified

#17479 Fix GroupSpacer collapsing flexbox issue
  change/@fluentui-react-b1b7a228-ecce-4e5d-99fd-6bf9aae684ab.json
  change/@fluentui-react-examples-68704046-e262-40c7-93fb-550f61b47843.json
  packages/react-examples/src/react-focus/__snapshots__/FocusZone.List.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/Announced.BulkOperations.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/Announced.QuickActions.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/DetailsList.Advanced.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/DetailsList.Animation.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/DetailsList.Basic.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/DetailsList.Compact.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/DetailsList.CustomColumns.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/DetailsList.CustomFooter.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/DetailsList.CustomGroupHeaders.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/DetailsList.CustomRows.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/DetailsList.Documents.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/DetailsList.DragDrop.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/DetailsList.Grouped.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/DetailsList.Grouped.Large.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/DetailsList.NavigatingFocus.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/GroupedList.CustomCheckbox.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/Text.Ramp.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/Text.Weights.Example.tsx.shot
  packages/react/src/components/DetailsList/DetailsRow.styles.ts
  packages/react/src/components/DetailsList/__snapshots__/DetailsList.test.tsx.snap
  packages/react/src/components/DetailsList/__snapshots__/DetailsRow.test.tsx.snap
Labels: Component: DetailsList

#17523 apps-perf-test - Updates styles from makeStylesCompat to makeStyles
  apps/perf-test/src/scenarios/MakeStyles.tsx
Labels: Area: Build System

#17542 fix(Alert): add success to AlertDismissAction propTypes
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/components/Alert/AlertDismissAction.tsx
Labels: Component: Alert, Fluent UI react-northstar

#17547 react-accordion - Adds id control for AccordionHeader and AccordionPanel
  change/@fluentui-react-accordion-33c916c4-a19e-49d4-bda7-7114467d3250.json
  packages/react-accordion/etc/react-accordion.api.md
  packages/react-accordion/src/components/AccordionHeader/__snapshots__/AccordionHeader.test.tsx.snap
  packages/react-accordion/src/components/AccordionHeader/useAccordionHeader.ts
  packages/react-accordion/src/components/AccordionItem/AccordionItem.test.tsx
  packages/react-accordion/src/components/AccordionItem/AccordionItem.types.ts
  packages/react-accordion/src/components/AccordionItem/renderAccordionItem.tsx
  packages/react-accordion/src/components/AccordionItem/useAccordionItem.ts
  packages/react-accordion/src/components/AccordionItem/useAccordionItemContext.ts
  packages/react-accordion/src/components/AccordionPanel/useAccordionPanel.ts
  packages/react-accordion/src/utils/descendants.tsx
Labels: Component: Accordion

#17507 Autofill: Inherit font-family to prevent defaulting to Arial
  change/@fluentui-react-examples-2151236c-fd6b-4527-8944-7a11fce9088e.json
  change/@fluentui-react-experiments-99ea7ebe-27e3-46a8-8413-3cb05e0b94ce.json
  change/@fluentui-react-f7171097-ecc1-47fe-868e-08023aba68f3.json
  packages/react-examples/src/react/__snapshots__/Announced.SearchResults.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/ComboBox.Basic.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/ComboBox.Controlled.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/ComboBox.ControlledMulti.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/ComboBox.CustomStyled.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/ComboBox.ErrorHandling.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/ComboBox.Toggles.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/ComboBox.Virtualized.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/ExtendedPeoplePicker.Basic.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/ExtendedPeoplePicker.Controlled.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/PeoplePicker.Compact.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/PeoplePicker.Controlled.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/PeoplePicker.LimitedSearch.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/PeoplePicker.List.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/PeoplePicker.Normal.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/PeoplePicker.PreselectedItems.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/PeoplePicker.ProcessSelection.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/TagPicker.Basic.Example.tsx.shot
  packages/react-experiments/src/components/Pagination/__snapshots__/Pagination.test.tsx.snap
  packages/react-experiments/src/components/UnifiedPicker/UnifiedPeoplePicker/__snapshots__/UnifiedPeoplePicker.test.tsx.snap
  packages/react-experiments/src/components/UnifiedPicker/__snapshots__/UnifiedPicker.test.tsx.snap
  packages/react/src/components/Autofill/Autofill.tsx
  packages/react/src/components/ComboBox/__snapshots__/ComboBox.test.tsx.snap
  packages/react/src/components/ExtendedPicker/__snapshots__/BaseExtendedPicker.test.tsx.snap
  packages/react/src/components/pickers/PeoplePicker/__snapshots__/PeoplePicker.test.tsx.snap
  packages/react/src/components/pickers/TagPicker/__snapshots__/TagPicker.test.tsx.snap
  packages/react/src/components/pickers/__snapshots__/BasePicker.test.tsx.snap
Labels: Area: Fonts, Component: Autofill

#17527 fix: removed SVGs and update fill style in accordion
  change/@fluentui-web-components-199e3bcd-b1b1-4ab4-aba7-c3c11a6d5d60.json
  packages/web-components/src/accordion/accordion-item/accordion-item.styles.ts
  packages/web-components/src/accordion/fixtures/base.html
Labels: web-components

#17540 Adds react-divider to component suite package
  change/@fluentui-react-components-54d685cf-ca44-4a7e-8df0-a140e123bb42.json
  packages/react-components/etc/react-components.api.md
  packages/react-components/package.json
  packages/react-components/src/index.ts
Labels: Component: Divider

#17192 Button: Adding SPEC.md and MIGRATION.md and updating README.md
  change/@fluentui-react-button-51931787-5d23-4b96-80f8-13c246bbffc0.json
  change/@fluentui-react-link-142f68f1-5738-49a8-a416-b9287b6ba082.json
  packages/react-button/README.md
  packages/react-button/etc/react-button.api.md
  packages/react-button/src/components/Button/Button.types.ts
  packages/react-button/src/components/Button/MIGRATION.md
  packages/react-button/src/components/Button/SPEC.md
  packages/react-link/README.md
  packages/react-link/SPEC.md
  packages/react-link/etc/react-link.api.md
  packages/react-link/src/components/Link/Link.types.ts
Labels: Area: Documentation, AutoMerge, Component: Button, Component: MenuItem, Type: Spec

#17291 Horizontal bar chart: Fix issue for Rounded value to 1 if less than 1% to appear in the chart
  change/@uifabric-charting-5a633e21-bf66-4ef7-9e4c-f39d965c0b4c.json
  packages/charting/src/components/HorizontalBarChart/HorizontalBarChart.base.tsx
Labels: Fabric 7, Package: charting

#17548 feat(Pill): add PillAction component
  packages/a11y-testing/src/definitions/Pill/pillActionBehaviorDefinition.ts
  packages/a11y-testing/src/definitions/Pill/pillBehaviorDefinition.ts
  packages/a11y-testing/src/definitions/index.ts
  packages/fluentui/CHANGELOG.md
  packages/fluentui/accessibility/src/behaviors/Pill/pillActionBehavior.ts
  packages/fluentui/accessibility/src/behaviors/Pill/pillBehavior.ts
  packages/fluentui/accessibility/src/behaviors/index.ts
  packages/fluentui/accessibility/test/behaviors/behavior-test.tsx
  packages/fluentui/accessibility/test/behaviors/testHelper.tsx
  packages/fluentui/docs/src/examples/components/Pill/Variations/PillExampleActionable.tsx
  packages/fluentui/docs/src/examples/components/Pill/Variations/index.tsx
  packages/fluentui/react-northstar/src/components/Pill/Pill.tsx
  packages/fluentui/react-northstar/src/components/Pill/PillAction.tsx
  packages/fluentui/react-northstar/src/components/Pill/PillContent.tsx
  packages/fluentui/react-northstar/src/index.ts
  packages/fluentui/react-northstar/src/themes/teams/componentStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/componentVariables.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Pill/pillActionStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Pill/pillContentStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Pill/pillStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Pill/pillVariables.ts
  packages/fluentui/react-northstar/test/specs/components/Pill/Pill-test.ts
  packages/fluentui/react-northstar/test/specs/components/Pill/PillAction-test.ts
Labels: Fluent UI react-northstar

#17573 fix: fix performance test for ButtonNext
  apps/perf-test/src/scenarios/ButtonNext.tsx
Labels: Area: Build System

#17155 Button: Beefing up accessibility tests and cleaning up state management
  change/@fluentui-react-button-e1acb3ed-0311-42c0-b9ec-468f986666b9.json
  packages/a11y-testing/src/definitions/index.ts
  packages/a11y-testing/src/definitions/react-button/buttonAccessibilityBehaviorDefinition.ts
  packages/react-button/etc/react-button.api.md
  packages/react-button/src/components/Button/Button.test.tsx
  packages/react-button/src/components/Button/__snapshots__/Button.test.tsx.snap
  packages/react-button/src/components/Button/useButtonState.ts
Labels: Component: Button

#17509 DetailsList: Fixing issue with live code editor examples
  change/@fluentui-react-examples-a11dea58-d60f-4af5-86d3-445087f7fbc6.json
  packages/react-examples/src/react/DetailsList/DetailsList.Animation.Example.tsx
  packages/react-examples/src/react/DetailsList/DetailsList.Basic.Example.tsx
  packages/react-examples/src/react/DetailsList/DetailsList.Compact.Example.tsx
  packages/react-examples/src/react/DetailsList/DetailsList.Documents.Example.tsx
  packages/react-examples/src/react/__snapshots__/DetailsList.Animation.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/DetailsList.Basic.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/DetailsList.Compact.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/DetailsList.Documents.Example.tsx.shot
Labels: Area: Website, AutoMerge, Component: DetailsList

#17565 feat: add appearance behaviors for inputs and form controls
  change/@fluentui-web-components-3913ee5d-6f58-4975-8cea-5c7b39eeb630.json
  packages/web-components/src/combobox/combobox.styles.ts
  packages/web-components/src/combobox/fixtures/base.html
  packages/web-components/src/number-field/number-field.styles.ts
  packages/web-components/src/select/fixtures/base.html
  packages/web-components/src/select/select.styles.ts
  packages/web-components/src/text-area/text-area.styles.ts
  packages/web-components/src/text-field/text-field.styles.ts
Labels: web-components

#17563 Minor website fixes
  apps/public-docsite-resources/.npmignore
  apps/public-docsite/.npmignore
  apps/public-docsite/package.json
  apps/public-docsite/scripts/createVsoPullRequest.js
  apps/public-docsite/webpack.uhf.serve.config.js
  change/@fluentui-monaco-editor-5a9bc8e7-022f-4f74-83f4-b57f993bff17.json
  change/@fluentui-public-docsite-735b9738-c33a-45ac-ace9-95ba685c767e.json
  change/@fluentui-public-docsite-resources-66a940ac-4816-4d06-93a1-147fd66f1216.json
  packages/monaco-editor/scripts/addMonacoWebpackConfig.js
Labels: Area: Website

#17451 Fix toolbar overflow sizing when overflow menu is open in chat message
  packages/fluentui/CHANGELOG.md
  packages/fluentui/docs/src/examples/components/Toolbar/Visual/ToolbarExampleChatMessage.steps.ts
  packages/fluentui/docs/src/examples/components/Toolbar/Visual/ToolbarExampleChatMessage.tsx
  packages/fluentui/docs/src/examples/components/Toolbar/Visual/ToolbarExampleOverflowPositioning.rtl.tsx
  packages/fluentui/docs/src/examples/components/Toolbar/Visual/ToolbarExampleOverflowPositioning.shorthand.tsx
  packages/fluentui/docs/src/examples/components/Toolbar/Visual/index.tsx
  packages/fluentui/react-northstar/src/components/Toolbar/Toolbar.tsx
  packages/fluentui/react-northstar/src/themes/teams/components/Toolbar/toolbarStyles.ts
Labels: Component: Toolbar, Fluent UI react-northstar
