Repository microsoft/fluentui, pull requests merged in 2021-04, with the labels that each got.

#17618 Use shared website package in v7
  .gitignore
  apps/fabric-website/config/pre-copy.json
  apps/fabric-website/homepage.htm
  apps/fabric-website/index.html
  apps/fabric-website/package.json
  apps/fabric-website/src/SiteDefinition/SiteDefinition.tsx
  apps/fabric-website/src/pages/HomePage/HomePage.base.tsx
  apps/fabric-website/src/utilities/createSite.tsx
  apps/fabric-website/webpack.config.js
  apps/fabric-website/webpack.serve.config.js
  apps/pr-deploy-site/pr-deploy-site.js
  azure-pipelines.release.yml
  change/@uifabric-example-app-base-04810331-b2bb-4289-a810-ba0c77125d8b.json
  change/@uifabric-fabric-website-d492a3e8-2771-49f0-9da7-d2c32daee745.json
  packages/example-app-base/package.json
  packages/example-app-base/src/components/LoadingComponent/LoadingComponent.types.ts
  packages/example-app-base/src/components/Page/Page.types.ts
  packages/example-app-base/src/components/PageHeader/PageHeader.tsx
  packages/example-app-base/src/components/PageHeader/PageHeader.types.ts
  packages/example-app-base/src/utilities/SiteDefinition.types.ts
  yarn.lock
Labels: Area: Website, Fabric 7

#17660 Use full library path in shared website config utility
  apps/public-docsite/webpack.config.js
  apps/public-docsite/webpack.serve.config.js
  change/@fluentui-public-docsite-02a9a6f7-773e-44c4-8674-d6a2df56366d.json
  change/@fluentui-public-docsite-setup-b7a0e92f-c3c2-441f-b115-4b3961bb18ce.json
  packages/public-docsite-setup/README.md
  packages/public-docsite-setup/scripts/getLoadSiteConfig.js
Labels: Area: Website

#16529 docs(specs): add Slots API spec
  specs/Slots.md
Labels: Type: Spec

#17464 RFC: simplify "as" prop typings
  rfcs/convergence/as-prop.md
Labels: Type: RFC

#17667 Update shared website setup package
  apps/fabric-website/package.json
  apps/fabric-website/webpack.config.js
  apps/fabric-website/webpack.serve.config.js
  change/@uifabric-example-app-base-fc8ee7ec-56eb-413e-86a8-a5f80d8b7636.json
  change/@uifabric-fabric-website-92159cf1-c85f-4242-a4ff-89202497b6ea.json
  packages/example-app-base/package.json
  yarn.lock
Labels: Area: Website, Fabric 7

#17664 BREAKING CHANGE(MenuItem): use chevron as submenu indicator bg image
  packages/fluentui/CHANGELOG.md
  packages/fluentui/docs/src/examples/components/Menu/Rtl/MenuExample.rtl.tsx
  packages/fluentui/react-northstar/src/themes/teams/components/Menu/menuItemIndicatorStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Menu/menuItemWrapperStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Menu/submenuIndicatorUrl.ts
Labels: AutoMerge, Fluent UI react-northstar

#17672 More shared website setup utility fixes
  apps/pr-deploy-site/.eslintrc.json
  apps/pr-deploy-site/just.config.ts
  apps/pr-deploy-site/package.json
  apps/public-docsite/webpack.config.js
  apps/public-docsite/webpack.serve.config.js
  change/@fluentui-public-docsite-1b7503b9-fe11-4d0d-ba31-a7071f146c88.json
  change/@fluentui-public-docsite-setup-f197e139-85f9-42e6-aab9-f120c977c9db.json
  package.json
  packages/public-docsite-setup/.eslintrc.json
  packages/public-docsite-setup/package.json
  packages/public-docsite-setup/scripts/getLoadSiteConfig.js
  yarn.lock
Labels: Area: Build System, Area: Website

#17631 Optimized `FileImageIcon` and adding padding to `ImageUnavailableIcon` to match FileImageIcon
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-icons-northstar/src/components/FilesImageIcon.tsx
  packages/fluentui/react-icons-northstar/src/components/ImageUnavailableIcon.tsx
Labels: Fluent UI react-northstar

#17633 Use shared website setup package in v6
  .gitignore
  apps/fabric-website/config/pre-copy.json
  apps/fabric-website/index.html
  apps/fabric-website/package.json
  apps/fabric-website/src/SiteDefinition/SiteDefinition.tsx
  apps/fabric-website/src/pages/HomePage/HomePage.base.tsx
  apps/fabric-website/src/utilities/createSite.tsx
  apps/fabric-website/webpack.config.js
  apps/fabric-website/webpack.serve.config.js
  apps/pr-deploy-site/index.html
  apps/pr-deploy-site/package.json
  azure-pipelines.release.yml
  change/@uifabric-example-app-base-2021-03-30-18-24-26-website-shared-6.json
  change/@uifabric-fabric-website-2021-03-30-18-24-26-website-shared-6.json
  common/config/rush/shrinkwrap.yaml
  packages/example-app-base/package.json
  packages/example-app-base/src/components/LoadingComponent/LoadingComponent.types.ts
  packages/example-app-base/src/components/Page/Page.types.ts
  packages/example-app-base/src/components/PageHeader/PageHeader.tsx
  packages/example-app-base/src/components/PageHeader/PageHeader.types.ts
  packages/example-app-base/src/utilities/SiteDefinition.types.ts
Labels: Area: Website, Fabric 6

#17680 Update version of shared website setup package again
  apps/fabric-website/package.json
  apps/fabric-website/webpack.config.js
  apps/fabric-website/webpack.serve.config.js
  change/@uifabric-example-app-base-38f17eff-57e8-425e-b2f8-8c8ef4348ec7.json
  change/@uifabric-fabric-website-21dc1cbe-4c72-4a73-bc4b-cf4444e28e22.json
  packages/example-app-base/package.json
  yarn.lock
Labels: Area: Website, Fabric 7

#17679 7.0: Fix recipients drag drop copy
  change/@uifabric-experiments-4db61fee-d371-48e0-83cf-b9b900703feb.json
  packages/experiments/src/components/UnifiedPicker/UnifiedPicker.tsx
Labels: Fabric 7, Package: experiments

#17687 Fix create-site-manifests in v6 release build
  .gitignore
  azure-pipelines.release.yml
Labels: Fabric 6

#17657 Azure Themes - Checkbox dark theme
  change/@fluentui-azure-themes-4329e2e3-803b-4731-8dd7-6c0ad61d3c72.json
  packages/azure-themes/src/azure/AzureColors.ts
  packages/azure-themes/src/azure/AzureThemeDark.ts
  packages/azure-themes/src/azure/AzureThemeHighContrastDark.ts
  packages/azure-themes/src/azure/AzureThemeHighContrastLight.ts
  packages/azure-themes/src/azure/AzureThemeLight.ts
  packages/azure-themes/src/azure/Constants.ts
  packages/azure-themes/src/azure/IAzureSemanticColors.ts
  packages/azure-themes/src/azure/IExtendedSemanticColors.ts
  packages/azure-themes/src/azure/styles/Checkbox.styles.ts
Labels: Package: azure-themes

#17675 Cherry Pick "Checkbox dark #17657"
  change/@uifabric-azure-themes-28bc4bea-0aae-4b67-b029-f1ad5a5bbabf.json
  packages/azure-themes/src/azure/AzureColors.ts
  packages/azure-themes/src/azure/AzureThemeDark.ts
  packages/azure-themes/src/azure/AzureThemeHighContrastDark.ts
  packages/azure-themes/src/azure/AzureThemeHighContrastLight.ts
  packages/azure-themes/src/azure/AzureThemeLight.ts
  packages/azure-themes/src/azure/IAzureSemanticColors.ts
  packages/azure-themes/src/azure/IExtendedSemanticColors.ts
  packages/azure-themes/src/azure/styles/Checkbox.styles.ts
Labels: Fabric 7, Package: azure-themes

#17634 Use shared website setup in v5, add version switcher, pin deps
  .devops/templates/variables.yml
  .gitignore
  apps/fabric-website/homepage.htm
  apps/fabric-website/index.html
  apps/fabric-website/package.json
  apps/fabric-website/src/components/App/AppState.tsx
  apps/fabric-website/src/components/CodeBlock/CodeBlock.tsx
  apps/fabric-website/src/components/FluentMessageBar/FluentMessageBar.tsx
  apps/fabric-website/src/components/PageHeader/PageHeader.module.scss
  apps/fabric-website/src/components/PageHeader/PageHeader.tsx
  apps/fabric-website/src/pages/GetStarted/GetStartedPage.module.scss
  apps/fabric-website/src/pages/GetStarted/GetStartedPage.tsx
  apps/fabric-website/src/pages/HomePage/HomePage.tsx
  apps/fabric-website/src/redirects.ts
  apps/fabric-website/src/root.tsx
  apps/fabric-website/webpack.config.js
  apps/fabric-website/webpack.serve.config.js
  apps/ssr-tests/package.json
  apps/vr-tests/package.json
  azure-pipelines.release.yml
  azure-pipelines.yml
  common/changes/@uifabric/experiments/2021-03-31-01-35.json
  common/changes/@uifabric/fabric-website/2021-03-31-01-42.json
  common/changes/office-ui-fabric-react/2021-03-31-01-35.json
  common/config/rush/npm-shrinkwrap.json
  common/config/rush/pinned-versions.json
  packages/experiments/package.json
  packages/office-ui-fabric-react/package.json
  scripts/logging.js
  scripts/package.json
Labels: Area: Build System, Area: Website, Fabric 5

#17592 TeachingBubble: Keyboard focus now properly visible on buttons
  change/@fluentui-react-01a3dbfd-deea-432c-bbf8-e15140ba8573.json
  packages/react/src/components/TeachingBubble/TeachingBubble.styles.ts
  packages/react/src/components/TeachingBubble/__snapshots__/TeachingBubble.deprecated.test.tsx.snap
  packages/react/src/components/TeachingBubble/__snapshots__/TeachingBubble.test.tsx.snap
Labels: Component: TeachingBubble

#17698 SplitButton: when primary button is disabled, menu button is now focusable and explicitly added to tab order
  change/@fluentui-react-8e4a8495-3c58-4aa0-888e-c2aeac0dc22a.json
  change/@fluentui-react-examples-d05ed224-52d5-4d5d-b1f0-432c0ee45392.json
  packages/react-examples/src/react/__snapshots__/Button.Split.Example.tsx.shot
  packages/react/etc/react.api.md
  packages/react/src/components/Button/BaseButton.tsx
  packages/react/src/components/Button/Button.types.ts
  packages/react/src/components/Button/SplitButton/SplitButton.classNames.ts
  packages/react/src/components/Button/SplitButton/SplitButton.styles.ts
Labels: AutoMerge, Component: Button, PR: API Modified

#17690 Cherry-Pick: "Text Field Dark #17689"
  change/@uifabric-azure-themes-508ea645-eb8b-47c6-ac95-31610cee7308.json
  packages/azure-themes/src/azure/AzureColors.ts
  packages/azure-themes/src/azure/AzureThemeDark.ts
  packages/azure-themes/src/azure/AzureThemeHighContrastDark.ts
  packages/azure-themes/src/azure/AzureThemeHighContrastLight.ts
  packages/azure-themes/src/azure/AzureThemeLight.ts
  packages/azure-themes/src/azure/IAzureSemanticColors.ts
  packages/azure-themes/src/azure/IExtendedSemanticColors.ts
  packages/azure-themes/src/azure/styles/TextField.styles.ts
Labels: Fabric 7, Package: azure-themes

#17689 Azure Theme: Text Field Dark Theme
  change/@fluentui-azure-themes-6c0a8dc7-f11f-479b-b3b9-5ef5a4c57d2f.json
  packages/azure-themes/src/azure/AzureColors.ts
  packages/azure-themes/src/azure/AzureThemeDark.ts
  packages/azure-themes/src/azure/AzureThemeHighContrastDark.ts
  packages/azure-themes/src/azure/AzureThemeHighContrastLight.ts
  packages/azure-themes/src/azure/AzureThemeLight.ts
  packages/azure-themes/src/azure/IAzureSemanticColors.ts
  packages/azure-themes/src/azure/IExtendedSemanticColors.ts
  packages/azure-themes/src/azure/styles/TextField.styles.ts
Labels: Package: azure-themes

#17677 feat(Pill): add selectable pill support
  packages/fluentui/docs/src/examples/components/Pill/Variations/PillExampleSelectable.tsx
  packages/fluentui/docs/src/examples/components/Pill/Variations/index.tsx
  packages/fluentui/react-northstar/src/components/Pill/Pill.tsx
  packages/fluentui/react-northstar/src/components/Pill/PillIcon.tsx
  packages/fluentui/react-northstar/src/themes/teams/components/Pill/pillContentStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Pill/pillIconStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Pill/pillStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Pill/pillVariables.ts
Labels: Fluent UI react-northstar

#17603 Accessibility fix for single select dropdowns with NVDA in Browse or Forms mode
  change/@fluentui-react-26146693-749c-4ccf-8c78-ef98ab0e6a6e.json
  change/@fluentui-react-d3873b53-6d33-40a0-a258-c728d00217c0.json
  change/@fluentui-react-examples-c28573c0-d14f-42a9-a48b-e9e4a6193074.json
  change/@fluentui-react-examples-da72fd75-5e70-49eb-9e2e-bc8fffa2c2ee.json
  packages/react-examples/src/react/__snapshots__/ChoiceGroup.Custom.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/Dropdown.Basic.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/Dropdown.Controlled.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/Dropdown.ControlledMulti.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/Dropdown.Custom.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/Dropdown.Error.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/Dropdown.Required.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/Facepile.Basic.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/Facepile.Overflow.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/ResizeGroup.OverflowSet.Example.tsx.shot
  packages/react/src/components/Dropdown/Dropdown.base.tsx
  packages/react/src/components/Dropdown/__snapshots__/Dropdown.test.tsx.snap
Labels: Area: NVDA, Component: Dropdown

#17708 [v7.0] SplitButton: when primary button is disabled, menu button is now focusable and explicitly added to tab order
  change/@fluentui-react-examples-5e562d82-31e2-4df5-a620-1872d61d5aae.json
  change/office-ui-fabric-react-ab968d31-53db-499e-898c-0fad05a3afb7.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/Button/BaseButton.tsx
  packages/office-ui-fabric-react/src/components/Button/Button.types.ts
  packages/office-ui-fabric-react/src/components/Button/SplitButton/SplitButton.classNames.ts
  packages/office-ui-fabric-react/src/components/Button/SplitButton/SplitButton.styles.ts
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/Button.Split.Example.tsx.shot
Labels: Component: Button, Fabric 7, PR: API Modified

#17705 Allow buttons to have both aria-label and -labelledby
  change/@fluentui-react-462db8c4-a638-44ce-a428-b38ea652a7e9.json
  packages/react/src/components/Button/BaseButton.tsx
Labels: Area: Accessibility, Component: Button

#17715 Accessibility fix for Dropdown, v7
  change/@fluentui-react-examples-4c0cd7ec-9044-4f86-934a-fa23ebad6cc1.json
  change/office-ui-fabric-react-e1d17d42-d71e-4e9c-a43c-9d1133915a70.json
  packages/office-ui-fabric-react/src/components/Dropdown/Dropdown.base.tsx
  packages/office-ui-fabric-react/src/components/Dropdown/__snapshots__/Dropdown.test.tsx.snap
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/ChoiceGroup.Custom.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/DatePicker.Basic.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/DatePicker.WeekNumbers.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/Dropdown.Basic.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/Dropdown.Controlled.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/Dropdown.ControlledMulti.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/Dropdown.Custom.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/Dropdown.Error.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/Dropdown.Required.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/Facepile.Basic.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/Facepile.Overflow.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/ResizeGroup.OverflowSet.Example.tsx.shot
Labels: Component: Dropdown, Fabric 7

#17699 Chore: adding new color tokens for Fluid
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/themes/teams-dark/colors.ts
  packages/fluentui/react-northstar/src/themes/teams-high-contrast/colors.ts
  packages/fluentui/react-northstar/src/themes/teams/colors.ts
Labels: Fluent UI react-northstar

#17425 ContextualMenu: Focus now returns to contextual menu trigger when closed
  change/@fluentui-react-f20d4fc3-d28d-40f3-8c53-ad550c017ce2.json
  packages/react/src/components/ContextualMenu/ContextualMenu.base.tsx
Labels: Area: Accessibility, Component: ContextualMenu

#17676 Button: Re-introducing subtle variant using latest version of makeStyles
  apps/vr-tests/src/stories/ReactButton.stories.tsx
  change/@fluentui-react-button-aa51a7ea-8e91-4b26-a8cb-9d936f0e6156.json
  change/@fluentui-react-examples-cc6c1dee-6f52-43bf-ad47-79675fa8755b.json
  change/@fluentui-react-theme-b82ba62b-f44f-421e-896c-fe875a510023.json
  packages/react-button/etc/react-button.api.md
  packages/react-button/src/components/Button/Button.tsx
  packages/react-button/src/components/Button/Button.types.ts
  packages/react-button/src/components/Button/useButtonStyles.ts
  packages/react-button/src/components/CompoundButton/CompoundButton.tsx
  packages/react-button/src/components/CompoundButton/useCompoundButtonStyles.ts
  packages/react-button/src/components/ToggleButton/ToggleButton.tsx
  packages/react-button/src/components/ToggleButton/ToggleButton.types.ts
  packages/react-button/src/components/ToggleButton/useToggleButtonStyles.ts
  packages/react-examples/src/react-button/Button/Button.stories.tsx
  packages/react-examples/src/react-theme/Theme/AliasColor.stories.tsx
  packages/react-theme/src/themes/teams/darkTheme.ts
  packages/react-theme/src/themes/teams/highContrastTheme.ts
  packages/react-theme/src/themes/teams/lightTheme.ts
  packages/react-theme/src/themes/web/darkTheme.ts
  packages/react-theme/src/themes/web/highContrastTheme.ts
  packages/react-theme/src/themes/web/lightTheme.ts
  packages/react-theme/src/types.ts
  packages/react-theme/src/utils/dark/colors.ts
  packages/react-theme/src/utils/highContrast/colors.ts
  packages/react-theme/src/utils/light/colors.ts
Labels: Component: Button, Component: CompoundButton, Component: ToggleButton

#17733 Combobox: Fix ariaLabelAsText
  change/@fluentui-react-d9f2a9e6-6e17-4c64-a29e-4026316ffda3.json
  packages/react/src/components/ComboBox/ComboBox.tsx
Labels: Component: ComboBox

#17737 Remove pointer-events: 'none' from BaseButton disabled styles
  change/@fluentui-react-examples-ee42cce0-ef18-4a3a-9bf6-8568b27d01ef.json
  change/@fluentui-react-experiments-89676332-dbf8-41f6-8fbf-47186fde2c52.json
  change/@fluentui-react-f99c9975-1ce0-409f-ab22-3b8fbe5a8d16.json
  packages/react-examples/src/react/__snapshots__/Button.Split.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/CommandBar.SplitDisabled.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/Icon.SvgFactory.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/Nav.Basic.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/SpinButton.Basic.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/SpinButton.Icon.Example.tsx.shot
  packages/react-experiments/src/components/Pagination/__snapshots__/Pagination.test.tsx.snap
  packages/react/src/components/Button/BaseButton.styles.ts
Labels: AutoMerge, Component: Button

#17738 Adding CompoundButton and ToggleButton as part of the converged components to check for bundle size increases
  apps/test-bundles/webpackUtils.js
Labels: Component: CompoundButton, Component: ToggleButton

#17735 SelectedPersona: Add null check to fix crash, memoize persona size
  change/@fluentui-react-experiments-449b68c1-8894-41ff-b4bd-9f58bd6f29ae.json
  packages/react-experiments/src/components/SelectedItemsList/SelectedPeopleList/Items/SelectedPersona.tsx
Labels: Component: SelectedItemsList, Package: experiments

#17457 [v7.0] Pickers SuggestionsItems: remove button now visible after receiving keyboard focus
  change/office-ui-fabric-react-23813214-1175-4a35-ae27-acb36e16dc3a.json
  packages/office-ui-fabric-react/src/components/pickers/Suggestions/SuggestionsItem.styles.ts
  packages/office-ui-fabric-react/src/components/pickers/Suggestions/__snapshots__/Suggestions.test.tsx.snap
Labels: Component: Pickers, Fabric 7

#17627 [v7.0] VirtualizedComboBox: ARIA attributes now have valid values after passing id and arialabelledby attributes to List component
  change/office-ui-fabric-react-db02ed89-a3cd-4afd-847d-235ab80e085f.json
  packages/office-ui-fabric-react/src/components/ComboBox/ComboBox.tsx
  packages/office-ui-fabric-react/src/components/ComboBox/VirtualizedComboBox.tsx
Labels: Component: ComboBox, Fabric 7

#17740 Rename Fabric component usage in export to codepen
  change/@uifabric-tsx-editor-3bca7fdc-72fa-4afb-a7d5-86e30ab24ed2.json
  lint-staged.config.js
  packages/tsx-editor/src/transpiler/__snapshots__/exampleTransform.test.ts.snap
  packages/tsx-editor/src/transpiler/exampleTransform.test.ts
  packages/tsx-editor/src/transpiler/exampleTransform.ts
  packages/tsx-editor/src/transpiler/examples/functionFabric.txt
Labels: Area: Website, Fabric 7, Package: tsx-editor

#17636 cherrypPick#17571 - Charting: Callout dismiss on ESC issue solved in all bar charts
  change/@uifabric-charting-e4df610a-a137-4be5-bbdb-4804ece00a1d.json
  packages/charting/src/components/AreaChart/AreaChart.base.tsx
  packages/charting/src/components/GroupedVerticalBarChart/GroupedVerticalBarChart.base.tsx
  packages/charting/src/components/HeatMapChart/HeatMapChart.base.tsx
  packages/charting/src/components/HorizontalBarChart/HorizontalBarChart.base.tsx
  packages/charting/src/components/StackedBarChart/MultiStackedBarChart.base.tsx
  packages/charting/src/components/StackedBarChart/StackedBarChart.base.tsx
  packages/charting/src/components/VerticalBarChart/VerticalBarChart.base.tsx
  packages/charting/src/components/VerticalStackedBarChart/VerticalStackedBarChart.base.tsx
Labels: Fabric 7, Package: charting

#17643 Multi line chart: Different icon shapes updated
  change/@fluentui-react-charting-58fb2846-88f0-48d5-94a3-0f64de7dd838.json
  packages/react-charting/src/components/Legends/shape.tsx
  packages/react-charting/src/components/LineChart/LineChart.base.tsx
  packages/react-charting/src/utilities/utilities.ts
Labels: Package: charting

#17730 Tiny fix for doc in WeeklyDayPicker types
  change/@fluentui-react-aa9d1a55-2458-4aca-acc5-95df8f332292.json
  packages/react/src/components/WeeklyDayPicker/WeeklyDayPicker.types.ts
Labels: Component: WeeklyDayPicker

#17719 CollapsibleSection: Add aria-expanded attribute to button to improve docsite a11y experience
  change/@fluentui-react-experiments-a5dcf468-a0e0-402a-b3ee-8f9fbd535cdf.json
  packages/react-experiments/src/components/CollapsibleSection/CollapsibleSection.view.tsx
Labels: Component: CollapsibleSection, Package: experiments

#17745 react-accordion - disabled state styling
  change/@fluentui-react-accordion-9cefa532-357e-4d5d-ba37-52c60abcbd15.json
  packages/react-accordion/etc/react-accordion.api.md
  packages/react-accordion/package.json
  packages/react-accordion/src/components/Accordion/__snapshots__/Accordion.test.tsx.snap
  packages/react-accordion/src/components/Accordion/useAccordion.ts
  packages/react-accordion/src/components/AccordionHeader/AccordionHeader.types.ts
  packages/react-accordion/src/components/AccordionHeader/useAccordionHeader.ts
  packages/react-accordion/src/components/AccordionHeader/useAccordionHeaderContext.ts
  packages/react-accordion/src/components/AccordionHeader/useAccordionHeaderStyles.ts
Labels: Component: Accordion

#17726 doc: makeStyles documentation
  change/@fluentui-make-styles-4a4e9eec-48bf-4688-a788-1d8a7ba4144d.json
  change/@fluentui-react-examples-109d91bd-749e-404c-adb4-1ac78155aade.json
  change/@fluentui-react-make-styles-ad38d6dd-44c2-40b2-8094-58d59b8d8d47.json
  packages/make-styles/README.md
  packages/react-examples/src/react-components/FluentUIComponents/StylingComponents.stories.mdx
  packages/react-make-styles/README.md
Labels: Area: Website

#17668 react-accordion - A11y implementation
  change/@fluentui-react-accordion-311b40f0-1d66-44f6-86d0-d3cb568a7880.json
  change/@fluentui-react-examples-c343b613-ddc5-4e77-895e-556336788396.json
  packages/react-accordion/Spec.md
  packages/react-accordion/etc/react-accordion.api.md
  packages/react-accordion/package.json
  packages/react-accordion/src/components/Accordion/Accordion.types.ts
  packages/react-accordion/src/components/Accordion/useAccordion.ts
  packages/react-accordion/src/components/Accordion/useAccordionContext.ts
  packages/react-accordion/src/components/AccordionHeader/__snapshots__/AccordionHeader.test.tsx.snap
  packages/react-accordion/src/components/AccordionHeader/useAccordionHeader.ts
  packages/react-accordion/src/components/AccordionItem/AccordionItem.types.ts
  packages/react-accordion/src/components/AccordionItem/useAccordionItem.ts
  packages/react-accordion/src/components/AccordionItem/useAccordionItemContext.ts
  packages/react-examples/src/react-accordion/Accordion/Accordion.stories.tsx
Labels: Component: Accordion

#17756 Remove key
  apps/vr-tests/screener.local.config.js
Labels: Area: Build System

#17758 Remove key v7
  apps/vr-tests/screener.local.config.js
Labels: Area: Build System, Fabric 7

#17759 Remove key v6
  apps/vr-tests/screener.local.config.js
Labels: Area: Build System, Fabric 6

#17762 Remove key v5
  apps/vr-tests/screener.local.config.js
Labels: Area: Build System, Fabric 5

#17763 Remove key v4
  apps/vr-tests/screener.local.config.js
Labels: Area: Build System

#17739 Dropdown: no longer automatically selects the first option when dropdown receives keyboard focus
  change/@fluentui-react-11dcb542-e793-481e-8b08-f108e49ec730.json
  packages/react/src/components/Dropdown/Dropdown.base.tsx
  packages/react/src/components/Dropdown/Dropdown.test.tsx
Labels: Component: Dropdown

#17749 Add version 8 message bar, and script to generate final homepage.htm
  .gitignore
  apps/public-docsite/src/SiteDefinition/SiteDefinition.tsx
  azure-pipelines.release.yml
  change/@fluentui-public-docsite-fecde69f-1ca1-418e-aef9-2a1cc6d62418.json
  change/@fluentui-public-docsite-setup-b8295abc-ae4e-4fab-91c3-8bbcb2da66a1.json
  packages/public-docsite-setup/.npmignore
  packages/public-docsite-setup/bin/create-site-manifests.js
  packages/public-docsite-setup/homepage.htm
  packages/public-docsite-setup/package.json
  packages/public-docsite-setup/scripts/generateHomepage.js
  packages/public-docsite-setup/scripts/getLoadSiteConfig.js
  packages/public-docsite-setup/src/loadSite.ts
  scripts/tasks/postprocess-amd.ts
Labels: Area: Build System, Area: Website

#17769 Fix AMD postprocessing
  scripts/tasks/postprocess-amd.ts
Labels: Area: Build System

#17683 ContextualMenu: focused div when menu is opened now has role = "menu"
  change/@fluentui-react-04f5f86f-838a-4cfe-84ae-c6cf92f99e95.json
  packages/react/src/components/Button/Button.test.tsx
  packages/react/src/components/ContextualMenu/ContextualMenu.base.tsx
  packages/react/src/components/ContextualMenu/ContextualMenu.test.tsx
  packages/react/src/components/ContextualMenu/__snapshots__/ContextualMenu.test.tsx.snap
Labels: Area: Accessibility, AutoMerge, Component: ContextualMenu

#17771 Fix website bundling and manifest generation issues
  apps/public-docsite/package.json
  apps/public-docsite/src/utilities/createSite.tsx
  change/@fluentui-public-docsite-a685d146-2bdd-4e98-bd19-9ad37120d067.json
  change/@fluentui-public-docsite-setup-72a6e4e1-0f5c-4551-a06a-bf49ce751eee.json
  packages/public-docsite-setup/bin/create-site-manifests.js
  packages/public-docsite-setup/src/loadSite.ts
  yarn.lock
Labels: Area: Build System, Area: Website

#17752 Fix empty NOTICE files
  scripts/copy-notices.js
Labels: Area: Build System

#17716 Recipient pill initials
  change/@fluentui-react-add0d7da-c545-411f-b148-064f31c7afd6.json
  change/@fluentui-react-examples-023dba96-b0aa-4721-b834-981526f4d71b.json
  change/@fluentui-utilities-4bb0fe0a-faed-4b06-b6a7-b5ee4cc6961c.json
  packages/react-examples/src/react-experiments/Persona/Persona.Example.tsx
  packages/react-examples/src/react/Persona/Persona.Initials.Example.tsx
  packages/react-examples/src/react/__snapshots__/Persona.Initials.Example.tsx.shot
  packages/react/src/components/Persona/Persona.test.tsx
  packages/utilities/src/initials.test.ts
  packages/utilities/src/initials.ts
Labels: Package: utilities

#17746 react-accordion - VR Tests
  apps/vr-tests/package.json
  apps/vr-tests/src/stories/Accordion.stories.tsx
  change/@fluentui-react-examples-bb3e0415-9e9e-4fed-974f-8ab065849e88.json
  packages/react-examples/package.json
Labels: Component: Accordion

#17770 fix(DatePicker): Switch disabledAutoFocus to true by default for keyboard a11y
  change/@fluentui-react-e1e5b762-32cf-499d-82e4-eeecdf0e4ef7.json
  packages/react/etc/react.api.md
  packages/react/src/components/DatePicker/DatePicker.base.tsx
  packages/react/src/components/DatePicker/DatePicker.types.ts
Labels: Component: DatePicker, PR: API Modified

#17782 fix(Avatar): fix Avatar* styles types and props
  packages/fluentui/react-northstar/src/components/Avatar/Avatar.tsx
  packages/fluentui/react-northstar/src/components/Avatar/AvatarImage.tsx
  packages/fluentui/react-northstar/src/themes/teams/types.ts
Labels: Fluent UI react-northstar

#17723 Pickers: Improving picker tag selection accessibility
  change/@fluentui-react-39740eb8-4b3a-42eb-8c4c-6938f59d123e.json
  change/@fluentui-react-examples-43ed2ad1-99ec-4200-a9c8-b4ee31b5e0c8.json
  packages/react-examples/src/react/Announced/Announced.SearchResults.Example.tsx
  packages/react-examples/src/react/PeoplePicker/PeoplePicker.Compact.Example.tsx
  packages/react-examples/src/react/PeoplePicker/PeoplePicker.Controlled.Example.tsx
  packages/react-examples/src/react/PeoplePicker/PeoplePicker.LimitedSearch.Example.tsx
  packages/react-examples/src/react/PeoplePicker/PeoplePicker.List.Example.tsx
  packages/react-examples/src/react/PeoplePicker/PeoplePicker.Normal.Example.tsx
  packages/react-examples/src/react/PeoplePicker/PeoplePicker.PreselectedItems.Example.tsx
  packages/react-examples/src/react/PeoplePicker/PeoplePicker.ProcessSelection.Example.tsx
  packages/react-examples/src/react/Pickers/Picker.CustomResult.Example.tsx
  packages/react-examples/src/react/Pickers/TagPicker.Basic.Example.tsx
  packages/react-examples/src/react/__snapshots__/Announced.SearchResults.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/PeoplePicker.Compact.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/PeoplePicker.Controlled.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/PeoplePicker.LimitedSearch.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/PeoplePicker.List.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/PeoplePicker.Normal.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/PeoplePicker.PreselectedItems.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/PeoplePicker.ProcessSelection.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/TagPicker.Basic.Example.tsx.shot
  packages/react/etc/react.api.md
  packages/react/src/components/pickers/BasePicker.test.tsx
  packages/react/src/components/pickers/BasePicker.tsx
  packages/react/src/components/pickers/BasePicker.types.ts
  packages/react/src/components/pickers/PeoplePicker/PeoplePickerItems/PeoplePickerItem.tsx
  packages/react/src/components/pickers/PeoplePicker/__snapshots__/PeoplePicker.test.tsx.snap
  packages/react/src/components/pickers/TagPicker/TagItem.tsx
  packages/react/src/components/pickers/TagPicker/__snapshots__/TagItem.test.tsx.snap
  packages/react/src/components/pickers/TagPicker/__snapshots__/TagPicker.test.tsx.snap
  packages/react/src/components/pickers/__snapshots__/BasePicker.test.tsx.snap
Labels: Area: Accessibility, Component: PeoplePicker, PR: API Modified

#17784 fix(Button): Button uses menuProps.id as aria-controls value if passed
  change/@fluentui-react-56830010-b9ac-4c74-b792-3cb556bf37aa.json
  packages/react/src/components/Button/BaseButton.tsx
  packages/react/src/components/Button/Button.test.tsx
Labels: AutoMerge, Component: Button

#16985 feat(TextField): improve accessibility of reveal password
  change/@fluentui-react-e61a2f45-28a4-460f-832e-cdce75c5d752.json
  change/@fluentui-react-examples-02aa865d-129c-4bc0-a7fa-cf745241b174.json
  packages/react-examples/src/react/TextField/TextField.Basic.Example.tsx
  packages/react-examples/src/react/__snapshots__/TextField.Basic.Example.tsx.shot
  packages/react/etc/react.api.md
  packages/react/src/components/TextField/TextField.base.tsx
  packages/react/src/components/TextField/TextField.types.ts
  packages/react/src/components/TextField/__snapshots__/TextField.test.tsx.snap
Labels: Area: Accessibility, Component: TextField, PR: API Modified

#17781 Initial Release react-accordion
  change/@fluentui-react-components-491333e4-9f80-451f-8147-14c3023c908e.json
  packages/react-components/etc/react-components.api.md
  packages/react-components/package.json
  packages/react-components/src/index.ts
Labels: Component: Accordion

#17787 Remove allowDisabledFocus attribute from example splitbutton
  change/@fluentui-react-examples-74627050-fa72-4756-aa91-4a20cde0f75a.json
  packages/react-examples/src/react/Button/Button.Split.Example.tsx
  packages/react-examples/src/react/__snapshots__/Button.Split.Example.tsx.shot
Labels: Area: Website

#17790 (7.0) Fix issues loading website
  apps/fabric-website/package.json
  apps/fabric-website/src/utilities/createSite.tsx
  azure-pipelines.release.yml
  change/@uifabric-example-app-base-44e8c93c-ba24-4edb-96c3-c7732d047758.json
  change/@uifabric-fabric-website-4d848221-e8e8-456a-941a-e17696f971c9.json
  packages/example-app-base/package.json
  yarn.lock
Labels: Area: Website, Fabric 7

#17791 (6.0) Fix issues loading website
  apps/fabric-website/package.json
  apps/fabric-website/src/utilities/createSite.tsx
  azure-pipelines.release.yml
  change/@uifabric-example-app-base-2021-04-12-19-52-17-6.0.json
  change/@uifabric-fabric-website-2021-04-12-19-52-17-6.0.json
  common/config/rush/shrinkwrap.yaml
  packages/example-app-base/package.json
Labels: Area: Website, Fabric 6

#17792 (5.0) Fix issues loading the website
  apps/fabric-website/src/root.tsx
  common/changes/@uifabric/fabric-website/2021-04-13-03-03.json
Labels: Area: Website, Fabric 5

#17807 Pass MouseEvent to Toggle onChange callback
  change/@fluentui-react-04f6e4ed-219b-4630-9a88-c977c492e191.json
  packages/react/src/components/Toggle/Toggle.base.tsx
Labels: Component: Toggle

#17623 [v7.0] DetailsList: checkbox is now linked to the rowheader which improves a11y description for each row.
  change/@fluentui-react-examples-1e669af4-f878-409f-84e9-485b6625472b.json
  change/office-ui-fabric-react-d2c0c57c-562f-49e0-9735-6966c4149e4c.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsList.base.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsList.test.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsRow.base.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsRow.types.ts
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsRowCheck.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsRowFields.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsRowFields.types.ts
  packages/office-ui-fabric-react/src/components/DetailsList/__snapshots__/DetailsHeader.test.tsx.snap
  packages/office-ui-fabric-react/src/components/DetailsList/__snapshots__/DetailsList.test.tsx.snap
  packages/office-ui-fabric-react/src/components/DetailsList/__snapshots__/DetailsRow.test.tsx.snap
  packages/office-ui-fabric-react/src/components/DetailsList/__snapshots__/ShimmeredDetailsList.test.tsx.snap
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/Announced.BulkOperations.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/Announced.QuickActions.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/DetailsList.Advanced.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/DetailsList.Animation.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/DetailsList.Basic.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/DetailsList.Compact.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/DetailsList.CustomColumns.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/DetailsList.CustomFooter.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/DetailsList.CustomGroupHeaders.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/DetailsList.CustomRows.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/DetailsList.Documents.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/DetailsList.DragDrop.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/DetailsList.Grouped.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/DetailsList.Grouped.Large.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/DetailsList.NavigatingFocus.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/GroupedList.CustomCheckbox.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/Shimmer.Application.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/Text.Ramp.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/Text.Weights.Example.tsx.shot
Labels: Area: Accessibility, Component: Checkbox, Component: DetailsList, Fabric 7, PR: API Modified

#17811 (5.0) Fix website production build
  apps/fabric-website/package.json
  apps/fabric-website/webpack.config.js
  common/changes/@uifabric/fabric-website/2021-04-14-20-48.json
Labels: Area: Build System, Area: Website, Fabric 5

#17813 fix(Toolbar): correct ref to Toolbar overflowSentinel
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/components/Toolbar/Toolbar.tsx
Labels: Fluent UI react-northstar

#17764 Azure Theme Dropdown dark theme
  change/@fluentui-azure-themes-8761d6f8-3e22-4afb-a6fb-70b84f1f97b2.json
  packages/azure-themes/src/azure/AzureColors.ts
  packages/azure-themes/src/azure/styles/DropDown.styles.ts
Labels: Package: azure-themes

#17828 Added NotepadPersonIcon
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-icons-northstar/src/components/NotepadPersonIcon.tsx
  packages/fluentui/react-icons-northstar/src/index.ts
Labels: Fluent UI react-northstar

#17261 Converged Tooltip Spec
  change/@fluentui-react-tooltip-93087e67-4e1e-4931-9e3f-e165d9f1e1f5.json
  packages/react-tooltip/MIGRATION.md
  packages/react-tooltip/Spec.md
Labels: Component: Tooltip, Type: Spec

#17765 Fix border color of Textfield
  change/@fluentui-azure-themes-cc09b6c0-5d4a-4ab7-b82d-2c8917cf4eec.json
  packages/azure-themes/src/azure/styles/TextField.styles.ts
Labels: Package: azure-themes

#17768 Cherry-Pick: "Fix border color of Textfield #17765"
  change/@uifabric-azure-themes-c2b23ff5-710f-414c-a816-612ee9fd98a7.json
  packages/azure-themes/src/azure/styles/TextField.styles.ts
Labels: Fabric 7, Package: azure-themes

#17805 Darken TeachingBubble button text color to meet contrast minimum on hover/focus
  change/@fluentui-react-65cd5bf3-bea6-4eeb-ab59-ec95a325b2b1.json
  packages/react/src/components/TeachingBubble/TeachingBubble.styles.ts
  packages/react/src/components/TeachingBubble/__snapshots__/TeachingBubble.deprecated.test.tsx.snap
  packages/react/src/components/TeachingBubble/__snapshots__/TeachingBubble.test.tsx.snap
Labels: Component: TeachingBubble

#17831 ContextualMenu: Making IMenuItemStyles and IContextualMenuItemStyles optional instead of required
  change/@fluentui-react-15c4b754-c316-4a0f-9c8b-621b4658576b.json
  packages/react/etc/react.api.md
  packages/react/src/components/ContextualMenu/ContextualMenu.classNames.ts
  packages/react/src/components/ContextualMenu/ContextualMenu.types.ts
  packages/react/src/components/ContextualMenu/ContextualMenuItem.types.ts
Labels: Component: ContextualMenu, PR: API Modified

#17834 ContextualMenu: Making IMenuItemStyles and IContextualMenuItemStyles optional instead of required
  change/office-ui-fabric-react-53867022-e23d-482b-8736-1d179d753855.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/ContextualMenu/ContextualMenu.classNames.ts
  packages/office-ui-fabric-react/src/components/ContextualMenu/ContextualMenu.types.ts
  packages/office-ui-fabric-react/src/components/ContextualMenu/ContextualMenuItem.types.ts
Labels: Component: ContextualMenu, Fabric 7, PR: API Modified

#17820 Button: Setting focus visibility to true in scenarios where it should be supported
  change/@fluentui-react-c9208e96-077b-413f-ab98-1aacaea1b48a.json
  packages/react/src/components/Button/BaseButton.tsx
Labels: Area: Accessibility, Component: Button, Component: ContextualMenu

#17833 Button: Setting focus visibility to true in scenarios where it should be supported
  change/office-ui-fabric-react-7c58862c-c0eb-4b51-82ac-a7786db0a992.json
  packages/office-ui-fabric-react/src/components/Button/BaseButton.tsx
Labels: Area: Accessibility, AutoMerge, Component: Button, Component: ContextualMenu, Fabric 7

#17642 fix(scripts): remove circular dependency between scripts and react-conformance
  scripts/create-component/plop-templates-component/src/common/isConformant.ts.hbs
  scripts/format.js
  scripts/prettier/prettier-helpers.js
Labels: Area: Build System

#17830 Persona color guidance in Best Practices docs
  change/@fluentui-react-examples-8cf7ff59-2751-4e91-8693-5d9908114b0c.json
  packages/react-examples/src/react/Persona/Persona.Alternate.Example.tsx
  packages/react-examples/src/react/Persona/Persona.Basic.Example.tsx
  packages/react-examples/src/react/Persona/docs/PersonaBestPractices.md
  packages/react-examples/src/react/__snapshots__/Persona.Alternate.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/Persona.Basic.Example.tsx.shot
Labels: Area: Website

#17837 Prevent website chunks from overwriting each other
  apps/public-docsite/webpack.config.js
  apps/public-docsite/webpack.serve.config.js
  change/@fluentui-public-docsite-5d92f512-d76e-4c8a-933f-d18b1628b5d6.json
Labels: Area: Build System, Area: Website

#17818 Cherry Pick: "Azure Themes Choice Group Dark #17817"
  change/@uifabric-azure-themes-9fe0e74c-edf1-420d-943e-2ed78582addb.json
  packages/azure-themes/src/azure/AzureColors.ts
  packages/azure-themes/src/azure/AzureThemeDark.ts
  packages/azure-themes/src/azure/AzureThemeHighContrastDark.ts
  packages/azure-themes/src/azure/AzureThemeHighContrastLight.ts
  packages/azure-themes/src/azure/AzureThemeLight.ts
  packages/azure-themes/src/azure/IAzureSemanticColors.ts
  packages/azure-themes/src/azure/IExtendedSemanticColors.ts
  packages/azure-themes/src/azure/styles/ChoiceGroupOptions.styles.ts
Labels: Fabric 7, Package: azure-themes

#17817 Azure Themes Choice Group Dark
  change/@fluentui-azure-themes-12d95ecd-2c77-4b6c-9238-cd192df49f30.json
  packages/azure-themes/src/azure/AzureColors.ts
  packages/azure-themes/src/azure/AzureThemeDark.ts
  packages/azure-themes/src/azure/AzureThemeHighContrastDark.ts
  packages/azure-themes/src/azure/AzureThemeHighContrastLight.ts
  packages/azure-themes/src/azure/AzureThemeLight.ts
  packages/azure-themes/src/azure/IAzureSemanticColors.ts
  packages/azure-themes/src/azure/IExtendedSemanticColors.ts
  packages/azure-themes/src/azure/styles/ChoiceGroupOptions.styles.ts
Labels: Package: azure-themes

#17836 fix(Datepicker): accessibility update to error handling when the date value is auto-reset
  change/@fluentui-react-0bb7417e-2d02-4cb5-8c38-1ddba32f35ed.json
  packages/react/etc/react.api.md
  packages/react/src/components/DatePicker/DatePicker.base.tsx
  packages/react/src/components/DatePicker/DatePicker.styles.ts
  packages/react/src/components/DatePicker/DatePicker.test.tsx
  packages/react/src/components/DatePicker/DatePicker.types.ts
  packages/react/src/components/DatePicker/__snapshots__/DatePicker.test.tsx.snap
  packages/react/src/components/DatePicker/defaults.ts
Labels: Component: DatePicker, PR: API Modified

#17846 Scrollpane prop for keyboard access of static scroll regions
  change/@fluentui-react-20616be9-6245-4467-b406-f285c72a2e66.json
  change/@fluentui-react-examples-270cc347-dc37-44c6-b9a3-6f956e666242.json
  packages/react-examples/src/react/ScrollablePane/ScrollablePane.Default.Example.tsx
  packages/react-examples/src/react/ScrollablePane/docs/ScrollablePaneBestPractices.md
  packages/react/etc/react.api.md
  packages/react/src/components/ScrollablePane/ScrollablePane.base.tsx
  packages/react/src/components/ScrollablePane/ScrollablePane.types.ts
Labels: Component: ScrollablePane, PR: API Modified

#17848 fix(Nav): add a Nav example with text wrapping and no tooltips to demo better a11y practices
  change/@fluentui-react-examples-ca978538-891f-42fc-b30c-939a2cfe7350.json
  packages/react-examples/src/react/Nav/Nav.Wrapped.Example.tsx
  packages/react-examples/src/react/Nav/Nav.doc.tsx
  packages/react-examples/src/react/Nav/docs/NavBestPractices.md
  packages/react-examples/src/react/__snapshots__/Nav.Wrapped.Example.tsx.shot
Labels: Area: Website

#17850 Fix component template files
  scripts/create-component/plop-templates-component/src/components/{{componentName}}/render{{componentName}}.tsx.hbs
  scripts/create-component/plop-templates-component/src/components/{{componentName}}/use{{componentName}}.ts.hbs
  scripts/create-component/plop-templates-component/src/components/{{componentName}}/use{{componentName}}Styles.ts.hbs
  scripts/create-component/plop-templates-component/src/components/{{componentName}}/{{componentName}}.tsx.hbs
  scripts/create-component/plop-templates-component/src/components/{{componentName}}/{{componentName}}.types.ts.hbs
Labels: Area: Build System

#17814 fix(Carousel): allow click on item elements
  packages/fluentui/CHANGELOG.md
  packages/fluentui/e2e/tests/carouselClickableContent-example.tsx
  packages/fluentui/e2e/tests/carouselClickableContent.spec.ts
  packages/fluentui/react-northstar/src/components/Carousel/Carousel.tsx
  packages/fluentui/react-northstar/src/themes/teams/components/Carousel/carouselPaddleStyles.ts
Labels: Fluent UI react-northstar

#17829 Copy @fluentui/react-compose@0.19.7 into react-bindings
  package.json
  packages/fluentui/react-bindings/package.json
  packages/fluentui/react-bindings/src/compose/compose.ts
  packages/fluentui/react-bindings/src/compose/computeDisplayNames.ts
  packages/fluentui/react-bindings/src/compose/consts.ts
  packages/fluentui/react-bindings/src/compose/index.ts
  packages/fluentui/react-bindings/src/compose/mergeComposeOptions.ts
  packages/fluentui/react-bindings/src/compose/mergeProps.ts
  packages/fluentui/react-bindings/src/compose/mergeSlotProp.ts
  packages/fluentui/react-bindings/src/compose/resolveSlotProps.ts
  packages/fluentui/react-bindings/src/compose/wasComposedPreviously.ts
  packages/fluentui/react-bindings/src/hooks/useStyles.ts
  packages/fluentui/react-bindings/src/index.ts
  packages/fluentui/react-bindings/test/compose/compose-test.tsx
  packages/fluentui/react-bindings/test/compose/mergeProps-test.ts
  packages/fluentui/react-bindings/test/compose/resolveSlotProps-test.tsx
  packages/fluentui/react-bindings/test/compose/useCompose-test.tsx
  yarn.lock
Labels: Fluent UI react-northstar

#17744 Donut chart: Legend container should not render when hideLegend is true issue resolved.
  change/@fluentui-react-charting-c2029bde-0ae1-4dac-98d1-3ef9976e7295.json
  packages/react-charting/src/components/DonutChart/DonutChart.base.tsx
  packages/react-charting/src/components/DonutChart/__snapshots__/DonutChart.test.tsx.snap
Labels: Package: charting

#17821 Charting: Pentagon icon shape updated.
  change/@fluentui-react-charting-e7f4af41-403d-4915-88f6-1b629e04f880.json
  packages/react-charting/src/utilities/utilities.ts
Labels: Package: charting

#17841 feat(react-avatar): Rename Badge to AvatarBadge
  change/@fluentui-react-avatar-aaf746aa-9a4c-421b-a952-dcf801d5c555.json
  change/@fluentui-react-examples-52248fce-896f-4ed5-b7b1-f49d5ebd65e4.json
  packages/react-avatar/src/AvatarBadge.ts
  packages/react-avatar/src/Badge.ts
  packages/react-avatar/src/components/Avatar/Avatar.tsx
  packages/react-avatar/src/components/Avatar/Avatar.types.ts
  packages/react-avatar/src/components/Avatar/useAvatarStyles.ts
  packages/react-avatar/src/components/AvatarBadge/AvatarBadge.tsx
  packages/react-avatar/src/components/AvatarBadge/AvatarBadge.types.tsx
  packages/react-avatar/src/components/AvatarBadge/index.ts
  packages/react-avatar/src/components/AvatarBadge/renderAvatarBadge.tsx
  packages/react-avatar/src/components/AvatarBadge/useAvatarBadge.tsx
  packages/react-avatar/src/components/AvatarBadge/useAvatarBadgeStyles.ts
  packages/react-avatar/src/components/Badge/Badge.tsx
  packages/react-avatar/src/components/Badge/index.ts
  packages/react-avatar/src/components/Badge/renderBadge.tsx
  packages/react-avatar/src/components/Badge/useBadge.tsx
  packages/react-avatar/src/components/Badge/useBadgeStyles.ts
  packages/react-avatar/src/index.ts
  packages/react-examples/src/react-avatar/AvatarBadge/AvatarBadge.stories.tsx
  packages/react-examples/src/react-avatar/Badge/Badge.stories.tsx
Labels: Component: Avatar

#17857 Added PhoneIcon, OutlookColorIcon, SkypeColorIcon. Corrected NotepadPersonIcon properties.
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-icons-northstar/src/components/NotepadPersonIcon.tsx
  packages/fluentui/react-icons-northstar/src/components/OutlookColorIcon.tsx
  packages/fluentui/react-icons-northstar/src/components/PhoneIcon.tsx
  packages/fluentui/react-icons-northstar/src/components/SkypeColorIcon.tsx
  packages/fluentui/react-icons-northstar/src/index.ts
Labels: Fluent UI react-northstar

#17449 chore(react-menu): implement docs generation with ts path aliases
  change/@fluentui-codemods-fefd3577-d732-4a0f-8117-46c7bbe4fe9b.json
  change/@fluentui-react-7288083c-d32d-4247-b90b-6bbf1ed680ab.json
  change/@fluentui-react-conformance-9b4898e3-52ce-4b9d-9339-cf23be9ac0c5.json
  change/@fluentui-react-examples-c4498746-9f29-4137-b28c-061b529bc9f8.json
  change/@fluentui-react-menu-ea59992b-6ce5-4539-8711-50c8cc4fe7e1.json
  change/@fluentui-web-components-709fbab3-0aa3-4dce-8bfc-bac3a06d8af0.json
  package.json
  packages/codemods/package.json
  packages/fluentui/projects-test/package.json
  packages/react-conformance/package.json
  packages/react-examples/package.json
  packages/react-menu/config/api-extractor.json
  packages/react-menu/config/api-extractor.local.json
  packages/react-menu/config/normalize-import.js
  packages/react-menu/config/normalize-import.spec.js
  packages/react-menu/package.json
  packages/react/package.json
  packages/web-components/package.json
  scripts/package.json
  yarn.lock
Labels: Area: Build System, dependencies

#17853 fix(ChatMessage): Fix condition for zIndex
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/themes/teams/components/Chat/chatMessageStyles.ts
Labels: Fluent UI react-northstar

#17465 rfc: High Contrast theme on Windows
  rfcs/assets/high-contrast-theme-black.png
  rfcs/assets/high-contrast-theme-current-colors.png
  rfcs/assets/high-contrast-theme-custom.png
  rfcs/assets/high-contrast-theme-white.png
  rfcs/high-contrast-theme.md
Labels: Type: RFC

#17750 Add pointer-events none for slotted svgs in button and anchors to prevent focus rect on click
  change/@fluentui-web-components-bc432deb-1c1e-4c4d-9740-42e530893758.json
  packages/web-components/src/styles/patterns/button.ts
Labels: web-components

#17877 UnifiedPicker: Add select all
  change/@fluentui-react-experiments-0c59de66-3908-4141-92bd-cb6afd653dd8.json
  packages/react-experiments/src/components/UnifiedPicker/UnifiedPicker.tsx
  packages/react-experiments/src/components/UnifiedPicker/hooks/useSelectedItems.ts
Labels: Component: UnifiedPicker, Package: experiments

#17743 feat(Popup): add data-popup-trapfocus to differentiate beween dialog and popup
  packages/fluentui/CHANGELOG.md
  packages/fluentui/accessibility/src/behaviors/Popup/popupBehavior.ts
Labels: Fluent UI react-northstar

#17872 DetailsList Example: removed text only menu item from CommandBar so it's no longer focusable
  change/@fluentui-react-examples-b2ea2078-e882-487e-ae0c-5ef67fb5c60c.json
  packages/react-examples/src/react/DetailsList/DetailsList.Advanced.Example.tsx
  packages/react-examples/src/react/__snapshots__/DetailsList.Advanced.Example.tsx.shot
Labels: Area: Website

#17879 Fix bug where adding an item from outside of UPP forces focus on the input
  change/@fluentui-react-experiments-f26560d7-d431-4288-8d2e-557a581a5934.json
  packages/react-experiments/src/components/UnifiedPicker/UnifiedPicker.tsx
Labels: Component: UnifiedPicker, Package: experiments

#17864 Charting: Cherry-pick of PR#17744, PR#17643 and PR#17821
  change/@uifabric-charting-d1a22144-8564-4fca-9efd-802978e939fc.json
  packages/charting/src/components/DonutChart/DonutChart.base.tsx
  packages/charting/src/components/DonutChart/__snapshots__/DonutChart.test.tsx.snap
  packages/charting/src/components/Legends/shape.tsx
  packages/charting/src/components/LineChart/LineChart.base.tsx
Labels: Fabric 7, Package: charting

#17884 chore: run Cypress E2E tests and use permalink story URLs & use base path in cypress
  azure-pipelines.yml
  change/@fluentui-react-examples-f9dacf0b-81cd-46eb-bccd-fd1c2f7d101e.json
  package.json
  packages/react-examples/.storybook/preview.js
  scripts/cypress.js
Labels: Area: Build System, Area: Website

#17330 Adding support for customized role for DetailsList
  change/@fluentui-react-63deaffa-3263-486d-8c5f-960afff5f751.json
  packages/react/etc/react.api.md
  packages/react/src/components/DetailsList/DetailsList.base.tsx
  packages/react/src/components/DetailsList/DetailsList.types.ts
  packages/react/src/components/DetailsList/DetailsRow.base.tsx
  packages/react/src/components/DetailsList/DetailsRow.types.ts
Labels: AutoMerge, Component: DetailsList, PR: API Modified

#17929 Fixing versions of packages used when exporting examples to codepen from v8 website
  change/@fluentui-react-docsite-components-a7bfd7ac-4c53-42d0-a488-2d9188b0d911.json
  packages/react-docsite-components/src/components/CodepenComponent/CodepenComponent.tsx
Labels: Area: Website

#17082 Modal: Fix `topOffsetFixed`
  change/@fluentui-react-2021-02-18-15-50-32-top-offset-fixed.json
  packages/react/src/components/Modal/Modal.styles.ts
Labels: Component: Modal

#17928 Narrator remains silent while removing any added recipient with 'backspace' key in To/Cc/Bcc edit fields.
  change/@fluentui-react-examples-e7b616c1-1246-4593-a0b5-86c75b20e667.json
  change/@fluentui-react-experiments-68bf0559-a915-4bf8-9ab6-9ef0b1065841.json
  packages/react-examples/src/react-experiments/UnifiedPeoplePicker/UnifiedPeoplePicker.WithEdit.Example.tsx
  packages/react-experiments/src/components/UnifiedPicker/UnifiedPeoplePicker/__snapshots__/UnifiedPeoplePicker.test.tsx.snap
  packages/react-experiments/src/components/UnifiedPicker/UnifiedPicker.tsx
  packages/react-experiments/src/components/UnifiedPicker/UnifiedPicker.types.ts
  packages/react-experiments/src/components/UnifiedPicker/__snapshots__/UnifiedPicker.test.tsx.snap
Labels: Package: experiments

#17936 make-styles - Bugfix - Adds direction as part of sequence hash
  change/@fluentui-jest-serializer-make-styles-2e535215-7dff-40e8-b13c-e2ebced78f7f.json
  change/@fluentui-make-styles-1679cfcb-966a-49d4-b9df-6f997bba463f.json
  packages/jest-serializer-make-styles/src/index.test.tsx
  packages/make-styles/src/makeStaticStyles.test.ts
  packages/make-styles/src/makeStyles.test.ts
  packages/make-styles/src/mergeClasses.test.ts
  packages/make-styles/src/mergeClasses.ts
  packages/make-styles/src/runtime/resolveClassesBySlots.ts
  packages/make-styles/src/runtime/utils/hashSequence.ts
Labels: Type: Bug :bug:

#17748 Changing default border radius to 4px from 3px
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/themes/teams/components/Alert/alertVariables.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Attachment/attachmentVariables.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Avatar/avatarVariables.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Button/buttonVariables.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Card/cardVariables.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Carousel/carouselNavigationStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Carousel/carouselVariables.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Chat/chatMessageVariables.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Checkbox/checkboxVariables.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Dialog/dialogVariables.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Dropdown/dropdownVariables.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Input/inputStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Input/inputVariables.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Label/labelStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Menu/menuStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Pill/pillVariables.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Popup/popupContentVariables.ts
  packages/fluentui/react-northstar/src/themes/teams/components/RadioGroup/radioGroupItemStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Reaction/reactionStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/SplitButton/splitButtonVariables.ts
  packages/fluentui/react-northstar/src/themes/teams/components/TextArea/textAreaVariables.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Toolbar/toolbarVariables.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Tooltip/tooltipContentVariables.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Tree/treeTitleVariables.ts
  packages/fluentui/react-northstar/src/themes/teams/siteVariables.ts
Labels: Fluent UI react-northstar

#17854 [v7.0] ContextualMenu: focused div when menu is opened now has role = "menu"
  change/office-ui-fabric-react-35889863-356d-47b9-9d1b-654dcca510aa.json
  packages/office-ui-fabric-react/src/components/ContextualMenu/ContextualMenu.base.tsx
  packages/office-ui-fabric-react/src/components/ContextualMenu/ContextualMenu.test.tsx
  packages/office-ui-fabric-react/src/components/ContextualMenu/__snapshots__/ContextualMenu.test.tsx.snap
Labels: Area: Accessibility, Component: ContextualMenu, Fabric 7

#17856 [v7.0] Dropdown: no longer automatically selects the first option when dropdown receives keyboard focus
  change/office-ui-fabric-react-b93681c2-e5ef-4115-8266-4ecc13467243.json
  packages/office-ui-fabric-react/src/components/Dropdown/Dropdown.base.tsx
  packages/office-ui-fabric-react/src/components/Dropdown/Dropdown.test.tsx
Labels: Component: Dropdown, Fabric 7

#17933 fix(Datepicker): prev/next buttons use aria-disabled instead of disabled to prevent focus being lost
  change/@fluentui-react-15bc4db2-766c-4367-8db5-cca4e969137c.json
  packages/react/src/components/Calendar/CalendarDay/CalendarDay.base.tsx
  packages/react/src/components/Calendar/CalendarMonth/CalendarMonth.base.tsx
Labels: Component: Calendar

#17709 [v7.0] TeachingBubble: Keyboard focus now properly visible on buttons
  change/office-ui-fabric-react-e72eba5b-965c-47a9-9e1b-411c3a19a981.json
  packages/office-ui-fabric-react/src/components/TeachingBubble/TeachingBubble.styles.ts
  packages/office-ui-fabric-react/src/components/TeachingBubble/__snapshots__/TeachingBubble.deprecated.test.tsx.snap
  packages/office-ui-fabric-react/src/components/TeachingBubble/__snapshots__/TeachingBubble.test.tsx.snap
Labels: Component: TeachingBubble, Fabric 7

#17921 feat(react-storybook): init new package for convergence storybooks co…
  .github/CODEOWNERS
  jest.config.js
  packages/react-storybook/.eslintrc.json
  packages/react-storybook/.npmignore
  packages/react-storybook/LICENSE
  packages/react-storybook/README.md
  packages/react-storybook/config/api-extractor.json
  packages/react-storybook/config/tests.js
  packages/react-storybook/etc/react-storybook.api.md
  packages/react-storybook/jest.config.js
  packages/react-storybook/just.config.ts
  packages/react-storybook/package.json
  packages/react-storybook/src/decorators/index.ts
  packages/react-storybook/src/decorators/withFluentProvider.tsx
  packages/react-storybook/src/decorators/withStrictMode.tsx
  packages/react-storybook/src/index.test.ts
  packages/react-storybook/src/index.ts
  packages/react-storybook/src/knobs/useFluentTheme.ts
  packages/react-storybook/src/knobs/useStrictMode.ts
  packages/react-storybook/tsconfig.json
  packages/storybook/package.json
  packages/storybook/src/decorators/index.ts
  packages/storybook/src/index.ts
  tsconfig.base.json
Labels: Storybook

#16874 DetailsList proportional columns + custom header
  change/@fluentui-react-b24ef479-58cc-4d0e-88b1-98260e973f4b.json
  change/@fluentui-react-examples-4e255abb-de17-4d66-9f99-2cea4423e441.json
  packages/react-examples/src/react/DetailsList/DetailsList.ProportionalColumns.Example.tsx
  packages/react-examples/src/react/DetailsList/DetailsList.doc.tsx
  packages/react-examples/src/react/__snapshots__/DetailsList.ProportionalColumns.Example.tsx.shot
  packages/react/etc/react.api.md
  packages/react/src/components/DetailsList/DetailsColumn.base.tsx
  packages/react/src/components/DetailsList/DetailsList.base.tsx
  packages/react/src/components/DetailsList/DetailsList.test.tsx
  packages/react/src/components/DetailsList/DetailsList.types.ts
  packages/react/src/components/DetailsList/__snapshots__/DetailsList.test.tsx.snap
Labels: Component: DetailsList, PR: API Modified

#17961 Fix Hidden Panel bug where onDismiss is being fired on closed Panel
  change/@fluentui-react-259aad7e-bfe3-4c49-b23b-a7b8199390a0.json
  packages/react/src/components/Panel/Panel.base.tsx
Labels: Component: Panel

#17003 Fix: VerticalBarChart: Cannot read property 'x' of undefined error if empty data provided
  change/@fluentui-react-charting-8dbba77b-82f1-4b06-86cc-aa72a20efc2c.json
  packages/react-charting/src/components/VerticalBarChart/VerticalBarChart.base.tsx
Labels: Package: charting

#17966 Fix Slider to trigger onChanged for Home and End keys
  change/@fluentui-react-b4b36946-39a4-4bf7-a1c8-28cc1157f37b.json
  packages/react/src/components/Slider/useSlider.ts
Labels: Component: Slider

#17962 cherrypick hidden panel on dismiss bug to v7
  change/office-ui-fabric-react-2021-04-26-13-35-08-panel-dismiss-bug-cherrypick.json
  packages/office-ui-fabric-react/src/components/Panel/Panel.base.tsx
Labels: Component: Panel, Fabric 7

#17954 ComboBox: Setting tab-index to -1 when ComboBox is disabled
  change/@fluentui-react-8c32fc17-6e28-4128-976b-0c7ddaa26761.json
  packages/react/src/components/ComboBox/ComboBox.tsx
Labels: Area: Accessibility, AutoMerge, Component: ComboBox

#17957 Cherry-picking the changes from PR #17330
  change/office-ui-fabric-react-5497f0ac-dae2-400c-b130-385c39f5750d.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsList.base.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsList.types.ts
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsRow.base.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsRow.types.ts
Labels: Component: DetailsList, Fabric 7, PR: API Modified

#17963 DocumentCardTitleBase: avoid React setState lifecycles in rAF
  change/@fluentui-react-ff79c167-b8c9-41d9-9568-6b8bdf3e12e9.json
  packages/react/src/components/DocumentCard/DocumentCardTitle.base.tsx
Labels: Area: Performance, Component: DocumentCard

#17956 refact(Menu): Remove compose()
  packages/fluentui/docs/src/examples/components/Menu/Visual/MenuExampleCompose.shorthand.tsx
  packages/fluentui/docs/src/examples/components/Menu/Visual/index.tsx
  packages/fluentui/react-bindings/src/compose/consts.ts
  packages/fluentui/react-northstar/src/components/Menu/Menu.tsx
  packages/fluentui/react-northstar/src/components/Menu/MenuDivider.tsx
  packages/fluentui/react-northstar/src/components/Menu/MenuItem.tsx
  packages/fluentui/react-northstar/src/components/Menu/MenuItemContent.tsx
  packages/fluentui/react-northstar/src/components/Menu/MenuItemIcon.tsx
  packages/fluentui/react-northstar/src/components/Menu/MenuItemIndicator.tsx
  packages/fluentui/react-northstar/src/components/Menu/MenuItemWrapper.tsx
  packages/fluentui/react-northstar/src/components/Menu/menuContext.ts
Labels: Fluent UI react-northstar

#17983 Deprecate Fluent UI N* `Portal` component
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/components/Portal/Portal.tsx
Labels: Fluent UI react-northstar

#17978 Legends missing accessible name issue resolved by adding aria-label
  change/@fluentui-react-charting-fb11b55c-1ef8-4493-ba2f-efbca16247a5.json
  packages/react-charting/src/components/AreaChart/__snapshots__/AreaChart.test.tsx.snap
  packages/react-charting/src/components/DonutChart/__snapshots__/DonutChart.test.tsx.snap
  packages/react-charting/src/components/GroupedVerticalBarChart/__snapshots__/GroupedVerticalBarChart.test.tsx.snap
  packages/react-charting/src/components/HeatMapChart/__snapshots__/HeatMapChart.test.tsx.snap
  packages/react-charting/src/components/Legends/Legends.base.tsx
  packages/react-charting/src/components/LineChart/__snapshots__/LineChart.test.tsx.snap
  packages/react-charting/src/components/StackedBarChart/__snapshots__/MultiStackedBarChart.test.tsx.snap
  packages/react-charting/src/components/StackedBarChart/__snapshots__/StackedBarChart.test.tsx.snap
  packages/react-charting/src/components/VerticalBarChart/__snapshots__/VerticalBarChart.test.tsx.snap
  packages/react-charting/src/components/VerticalStackedBarChart/__snapshots__/VerticalStackedBarChart.test.tsx.snap
Labels: Package: charting

#17982 Added FilesOneNoteIcon
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-icons-northstar/src/components/FilesOneNoteIcon.tsx
  packages/fluentui/react-icons-northstar/src/index.ts
Labels: Fluent UI react-northstar

#17987 chore: cleanup perf reports
  apps/perf-test/src/scenarioIterations.js
  apps/perf-test/tasks/fluentPerfRegressions.ts
  apps/perf-test/tasks/perf-test.ts
  azure-pipelines.perf-test.yml
  packages/fluentui/docs/src/examples/components/Datepicker/Performance/DatepickerMinimal.perf.tsx
  packages/fluentui/perf-test/.digest/config.tsx
  packages/fluentui/perf-test/stories/Avatar.perf.tsx
  packages/fluentui/perf-test/stories/Button.perf.tsx
  packages/fluentui/perf-test/stories/Checkbox.perf.tsx
  packages/fluentui/perf-test/stories/Dialog.perf.tsx
  packages/fluentui/perf-test/stories/Dropdown.perf.tsx
  packages/fluentui/perf-test/stories/Icon.perf.tsx
  packages/fluentui/perf-test/stories/Image.perf.tsx
  packages/fluentui/perf-test/stories/Slider.perf.tsx
  packages/fluentui/perf-test/stories/Text.perf.tsx
  packages/fluentui/perf-test/stories/Tooltip.perf.tsx
  packages/fluentui/perf-test/tasks/perf-test.ts
Labels: Area: Build System

#17972 feat(emotion-renderer): support `nonce` in config
  packages/fluentui/CHANGELOG.md
  packages/fluentui/docs/src/app.tsx
  packages/fluentui/react-northstar-emotion-renderer/src/createEmotionRenderer.tsx
  packages/fluentui/react-northstar-emotion-renderer/test/__snapshots__/emotionRenderer-test.ts.snap
  packages/fluentui/react-northstar-emotion-renderer/test/emotionRenderer-test.ts
Labels: Fluent UI react-northstar

#17980 Legends missing accessible name issue resolved by adding aria-label - cherryPick #17978
  change/@uifabric-charting-b744c8ef-ad3d-4e26-901c-f774734364ce.json
  packages/charting/src/components/AreaChart/__snapshots__/AreaChart.test.tsx.snap
  packages/charting/src/components/DonutChart/__snapshots__/DonutChart.test.tsx.snap
  packages/charting/src/components/GroupedVerticalBarChart/__snapshots__/GroupedVerticalBarChart.test.tsx.snap
  packages/charting/src/components/HeatMapChart/__snapshots__/HeatMapChart.test.tsx.snap
  packages/charting/src/components/Legends/Legends.base.tsx
  packages/charting/src/components/LineChart/__snapshots__/LineChart.test.tsx.snap
  packages/charting/src/components/StackedBarChart/__snapshots__/MultiStackedBarChart.test.tsx.snap
  packages/charting/src/components/StackedBarChart/__snapshots__/StackedBarChart.test.tsx.snap
  packages/charting/src/components/VerticalBarChart/__snapshots__/VerticalBarChart.test.tsx.snap
  packages/charting/src/components/VerticalStackedBarChart/__snapshots__/VerticalStackedBarChart.test.tsx.snap
Labels: Fabric 7, Package: charting

#17907 feat: improve rendering performance by `content-visibility`
  change/@fluentui-web-components-31c14b28-dbe7-4ab5-a327-1192cfefa66c.json
  packages/web-components/src/card/card.styles.ts
Labels: web-components

#17913 Add range slider support for 7.0
  change/@fluentui-react-examples-7ed7349b-fea9-4c7d-93f8-5c71a2746a3f.json
  change/office-ui-fabric-react-fbc2c5a5-a96a-4660-8807-85bc5af7f89d.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/Slider/Slider.base.tsx
  packages/office-ui-fabric-react/src/components/Slider/Slider.styles.ts
  packages/office-ui-fabric-react/src/components/Slider/Slider.test.tsx
  packages/office-ui-fabric-react/src/components/Slider/Slider.types.ts
  packages/office-ui-fabric-react/src/components/Slider/__snapshots__/Slider.test.tsx.snap
  packages/react-examples/src/office-ui-fabric-react/Slider/Slider.Ranged.Example.tsx
  packages/react-examples/src/office-ui-fabric-react/Slider/Slider.doc.tsx
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/Slider.Ranged.Example.tsx.shot
Labels: Component: Slider, Fabric 7, PR: API Modified, needs cherry-pick

#17994 feat(popper): autoSize modifier - add option to apply max sizes always
  change/@fluentui-react-positioning-59761690-673f-4441-adc9-556691ec9289.json
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/components/Dropdown/Dropdown.tsx
  packages/fluentui/react-northstar/src/components/MenuButton/MenuButton.tsx
  packages/fluentui/react-northstar/src/components/Popup/Popup.tsx
  packages/fluentui/react-northstar/src/components/Popup/PopupContent.tsx
  packages/fluentui/react-northstar/src/components/SplitButton/SplitButton.tsx
  packages/fluentui/react-northstar/src/components/Tooltip/Tooltip.tsx
  packages/fluentui/react-northstar/src/utils/positioner/types.internal.ts
  packages/fluentui/react-northstar/src/utils/positioner/types.ts
  packages/fluentui/react-northstar/src/utils/positioner/usePopper.ts
  packages/react-positioning/etc/react-positioning.api.md
  packages/react-positioning/src/types.ts
  packages/react-positioning/src/usePopper.ts
Labels: AutoMerge, Fluent UI react-northstar

#17591 Fix: row indices for Grouped DetailsList and GroupedList to improve a11y experience
  change/@fluentui-react-b8d144d8-e712-440f-b5c7-ab174642cf85.json
  change/@fluentui-react-examples-e1fd655b-ac46-4613-a3cf-d09e8ca79b38.json
  packages/react-examples/src/react/GroupedList/GroupedList.Basic.Example.tsx
  packages/react-examples/src/react/GroupedList/GroupedList.CustomCheckbox.Example.tsx
  packages/react-examples/src/react/__snapshots__/DetailsList.CustomGroupHeaders.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/DetailsList.Grouped.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/DetailsList.Grouped.Large.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/GroupedList.CustomCheckbox.Example.tsx.shot
  packages/react/etc/react.api.md
  packages/react/src/components/DetailsList/DetailsList.base.tsx
  packages/react/src/components/DetailsList/DetailsRow.base.tsx
  packages/react/src/components/DetailsList/DetailsRow.types.ts
  packages/react/src/components/DetailsList/__snapshots__/DetailsList.test.tsx.snap
  packages/react/src/components/GroupedList/GroupHeader.base.tsx
  packages/react/src/components/GroupedList/GroupedListSection.tsx
Labels: Area: Accessibility, Component: DetailsList, PR: API Modified

#18001 Documentation - adding screen reader bugs related to `List`
  packages/fluentui/react-northstar/src/components/List/List.tsx
Labels: Fluent UI react-northstar

#17866 chore: implement new storybook architecture - for converged packages/react-menu
  .github/CODEOWNERS
  .storybook/main.js
  .storybook/preview.js
  .storybook/tsconfig.json
  change/@fluentui-react-examples-85f99e10-eae9-4fdc-8aac-7996bca1bc35.json
  change/@fluentui-react-menu-bb2535d7-f7d0-471d-b6f4-78c87c1c00f7.json
  package.json
  packages/react-examples/.storybook/preview-loader.js
  packages/react-examples/.storybook/preview.js
  packages/react-examples/package.json
  packages/react-menu/.storybook/main.js
  packages/react-menu/.storybook/preview.js
  packages/react-menu/.storybook/tsconfig.json
  packages/react-menu/package.json
  packages/react-menu/src/Menu.stories.tsx
  packages/react-menu/src/MenuList.stories.tsx
  tsconfig.base.json
  yarn.lock
Labels: Area: Build System, Component: Menu

#17965 Cherrypick: DetailsList proportional columns + custom header (#16874)
  change/@fluentui-react-b24ef479-58cc-4d0e-88b1-98260e973f4b.json
  change/@fluentui-react-examples-4e255abb-de17-4d66-9f99-2cea4423e441.json
  change/office-ui-fabric-react-5b1a246c-d47a-44c1-b883-b5981e999ead.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsColumn.base.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsList.base.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsList.test.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsList.types.ts
  packages/office-ui-fabric-react/src/components/DetailsList/__snapshots__/DetailsList.test.tsx.snap
  packages/react-examples/src/office-ui-fabric-react/DetailsList/DetailsList.ProportionalColumns.Example.tsx
  packages/react-examples/src/office-ui-fabric-react/DetailsList/DetailsList.doc.tsx
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/DetailsList.ProportionalColumns.Example.tsx.shot
Labels: Component: DetailsList, Fabric 7, PR: API Modified
