Repository microsoft/fluentui, pull requests merged in 2021-12, with the labels that each got.

#20648 Input: add interaction styling and vr-tests
  apps/vr-tests/package.json
  apps/vr-tests/src/stories/InputConverged.stories.tsx
  packages/react-input/Spec-styling.md
  packages/react-input/Spec.md
  packages/react-input/src/components/Input/useInputStyles.ts
Labels: Component: Input

#20838 fix: Pill components to properly pass down ref to root slot
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/components/Pill/Pill.tsx
  packages/fluentui/react-northstar/src/components/Pill/PillAction.tsx
  packages/fluentui/react-northstar/src/components/Pill/PillContent.tsx
  packages/fluentui/react-northstar/src/components/Pill/PillGroup.tsx
  packages/fluentui/react-northstar/src/components/Pill/PillIcon.tsx
  packages/fluentui/react-northstar/src/components/Pill/PillImage.tsx
Labels: Fluent UI react-northstar

#20878 fix: video component to properly pass ref to root slot
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/components/Video/Video.tsx
Labels: Fluent UI react-northstar

#20877 fix: tree components to proper pass ref to root slots
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/components/Tree/Tree.tsx
  packages/fluentui/react-northstar/src/components/Tree/TreeItem.tsx
  packages/fluentui/react-northstar/src/components/Tree/TreeTitle.tsx
Labels: Fluent UI react-northstar

#19752 rfc(react-theme): Remove global color tokens
  rfcs/theme-shape.md
  rfcs/theme-shape/perf-flamegrill.png
  rfcs/theme-shape/perf-hash-variables.png
  rfcs/theme-shape/perf-inline-alias.png
  rfcs/theme-shape/perf-master.png
  rfcs/theme-shape/perf-no-colors.png
  rfcs/theme-shape/perf-no-global.png
Labels: Type: RFC

#20875 fix: text area component to properly pass ref to root slot
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/components/TextArea/TextArea.tsx
Labels: Fluent UI react-northstar

#20876 fix: TooltipContent Ref to proper pass ref to root slot
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/components/Tooltip/TooltipContent.tsx
Labels: Fluent UI react-northstar

#20874 fix: Text component to properly pass down ref
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/components/Text/Text.tsx
Labels: Fluent UI react-northstar

#20867 fix: RadioGroup components to properly pass ref to root slots
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/components/RadioGroup/RadioGroup.tsx
  packages/fluentui/react-northstar/src/components/RadioGroup/RadioGroupItem.tsx
Labels: Fluent UI react-northstar

#20868 fix: Reaction components to properly pass ref to root slots
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/components/Reaction/Reaction.tsx
  packages/fluentui/react-northstar/src/components/Reaction/ReactionGroup.tsx
Labels: Fluent UI react-northstar

#20870 fix: slider component to pass ref to root slot
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/components/Slider/Slider.tsx
Labels: Fluent UI react-northstar

#20641 fix: vertical tabs from jumping
  change/@fluentui-web-components-8052c655-9663-4c94-bc57-b4090f16ab2d.json
  packages/web-components/src/tabs/tabs.stories.ts
  packages/web-components/src/tabs/tabs.styles.ts
Labels: web-components

#20843 react-avatar: migrate converged packages to TS Solution style config
  change/@fluentui-react-avatar-bd3b5ed3-67de-4767-814a-7550603213db.json
  packages/react-avatar/.npmignore
  packages/react-avatar/.storybook/main.js
  packages/react-avatar/.storybook/preview.js
  packages/react-avatar/.storybook/tsconfig.json
  packages/react-avatar/config/api-extractor.local.json
  packages/react-avatar/jest.config.js
  packages/react-avatar/package.json
  packages/react-avatar/tsconfig.json
  packages/react-avatar/tsconfig.lib.json
  packages/react-avatar/tsconfig.spec.json
Labels: Area: Build System, Fluent UI vNext, Component: Avatar

#20858 chore: run migration for @fluentui/react-tooltip
  change/@fluentui-react-tooltip-9b2e7c58-b7c8-4dd3-ae0f-0284872b2bc6.json
  packages/react-tooltip/.npmignore
  packages/react-tooltip/.storybook/main.js
  packages/react-tooltip/.storybook/tsconfig.json
  packages/react-tooltip/config/api-extractor.local.json
  packages/react-tooltip/jest.config.js
  packages/react-tooltip/package.json
  packages/react-tooltip/tsconfig.json
  packages/react-tooltip/tsconfig.lib.json
  packages/react-tooltip/tsconfig.spec.json
Labels: Area: Build System, Component: Tooltip, Fluent UI vNext

#20851 chore: run migration for @fluentui/react-label
  change/@fluentui-react-label-f073e0dd-ae9a-41b9-86f0-8dbbf874eb83.json
  packages/react-label/.npmignore
  packages/react-label/.storybook/main.js
  packages/react-label/.storybook/preview.js
  packages/react-label/.storybook/tsconfig.json
  packages/react-label/config/api-extractor.json
  packages/react-label/config/api-extractor.local.json
  packages/react-label/jest.config.js
  packages/react-label/package.json
  packages/react-label/tsconfig.json
  packages/react-label/tsconfig.lib.json
  packages/react-label/tsconfig.spec.json
Labels: Area: Build System, Component: Label, Fluent UI vNext

#20731 Cherry pick: that adds aria description for details row and Tile view
  change/@uifabric-experiments-9f37ece4-21bf-4e15-95ba-9c3c88ca52c9.json
  change/office-ui-fabric-react-0e240943-914b-4d65-ba35-3c0aa2d26631.json
  packages/experiments/src/components/Tile/Tile.tsx
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsRow.base.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsRow.types.ts
  packages/office-ui-fabric-react/src/components/DetailsList/__snapshots__/DetailsList.test.tsx.snap
  packages/office-ui-fabric-react/src/components/DetailsList/__snapshots__/DetailsRow.test.tsx.snap
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/Announced.BulkOperations.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/Announced.QuickActions.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/DetailsList.Advanced.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/DetailsList.Animation.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/DetailsList.Basic.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/DetailsList.ColumnResize.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/DetailsList.Compact.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/DetailsList.CustomColumns.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/DetailsList.CustomFooter.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/DetailsList.CustomGroupHeaders.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/DetailsList.CustomRows.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/DetailsList.Documents.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/DetailsList.Grouped.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/DetailsList.Grouped.Large.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/DetailsList.NavigatingFocus.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/DetailsList.ProportionalColumns.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/FocusZone.List.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/GroupedList.CustomCheckbox.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/Text.Ramp.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/Text.Weights.Example.tsx.shot
  packages/react-examples/src/react-focus/__snapshots__/FocusZone.List.Example.tsx.shot
Labels: Fabric 7, PR: API Modified

#20880 react-input: migrate converged packages to TS Solution style config
  packages/react-input/.npmignore
  packages/react-input/.storybook/main.js
  packages/react-input/.storybook/preview.js
  packages/react-input/.storybook/tsconfig.json
  packages/react-input/config/api-extractor.local.json
  packages/react-input/jest.config.js
  packages/react-input/package.json
  packages/react-input/tsconfig.json
  packages/react-input/tsconfig.lib.json
  packages/react-input/tsconfig.spec.json
Labels: Area: Build System, Fluent UI vNext, Component: Input

#20857 chore: run migration for @fluentui/react-switch
  change/@fluentui-react-switch-0a09552d-9570-44d6-bc7e-4b299f623a81.json
  packages/react-switch/.storybook/main.js
  packages/react-switch/.storybook/tsconfig.json
  packages/react-switch/jest.config.js
  packages/react-switch/package.json
  packages/react-switch/src/Switch.stories.tsx
  packages/react-switch/tsconfig.json
  packages/react-switch/tsconfig.lib.json
  packages/react-switch/tsconfig.spec.json
Labels: Area: Build System, Fluent UI vNext, Component: Switch

#20855 chore: run migration for @fluentui/react-link
  change/@fluentui-react-link-10b398c8-530e-47b1-a449-d0e91edf1358.json
  packages/react-link/.npmignore
  packages/react-link/.storybook/main.js
  packages/react-link/.storybook/preview.js
  packages/react-link/.storybook/tsconfig.json
  packages/react-link/config/api-extractor.json
  packages/react-link/config/api-extractor.local.json
  packages/react-link/jest.config.js
  packages/react-link/package.json
  packages/react-link/tsconfig.json
  packages/react-link/tsconfig.lib.json
  packages/react-link/tsconfig.spec.json
Labels: Area: Build System, Component: Link, Fluent UI vNext

#20846 react-button: migrate converged packages to TS Solution style config
  change/@fluentui-react-button-5898c7cd-0c90-417a-b8a4-b4323264e0d2.json
  packages/react-button/.npmignore
  packages/react-button/.storybook/main.js
  packages/react-button/.storybook/preview.js
  packages/react-button/.storybook/tsconfig.json
  packages/react-button/config/api-extractor.json
  packages/react-button/config/api-extractor.local.json
  packages/react-button/jest.config.js
  packages/react-button/package.json
  packages/react-button/src/components/MenuButton/stories/MenuButtonAppearance.stories.tsx
  packages/react-button/src/components/MenuButton/stories/MenuButtonBlock.stories.tsx
  packages/react-button/src/components/MenuButton/stories/MenuButtonDefault.stories.tsx
  packages/react-button/src/components/MenuButton/stories/MenuButtonDisabled.stories.tsx
  packages/react-button/src/components/MenuButton/stories/MenuButtonIcon.stories.tsx
  packages/react-button/src/components/MenuButton/stories/MenuButtonShape.stories.tsx
  packages/react-button/src/components/MenuButton/stories/MenuButtonSize.stories.tsx
  packages/react-button/src/components/MenuButton/stories/MenuButtonSizeLarge.stories.tsx
  packages/react-button/src/components/MenuButton/stories/MenuButtonSizeMedium.stories.tsx
  packages/react-button/src/components/MenuButton/stories/MenuButtonSizeSmall.stories.tsx
  packages/react-button/src/components/MenuButton/stories/MenuButtonWithLongText.stories.tsx
  packages/react-button/src/components/SplitButton/stories/SplitButtonAppearance.stories.tsx
  packages/react-button/src/components/SplitButton/stories/SplitButtonBlock.stories.tsx
  packages/react-button/src/components/SplitButton/stories/SplitButtonDefault.stories.tsx
  packages/react-button/src/components/SplitButton/stories/SplitButtonDisabled.stories.tsx
  packages/react-button/src/components/SplitButton/stories/SplitButtonIcon.stories.tsx
  packages/react-button/src/components/SplitButton/stories/SplitButtonShape.stories.tsx
  packages/react-button/src/components/SplitButton/stories/SplitButtonSize.stories.tsx
  packages/react-button/src/components/SplitButton/stories/SplitButtonSizeLarge.stories.tsx
  packages/react-button/src/components/SplitButton/stories/SplitButtonSizeMedium.stories.tsx
  packages/react-button/src/components/SplitButton/stories/SplitButtonSizeSmall.stories.tsx
  packages/react-button/src/components/SplitButton/stories/SplitButtonWithLongText.stories.tsx
  packages/react-button/tsconfig.json
  packages/react-button/tsconfig.lib.json
  packages/react-button/tsconfig.spec.json
Labels: Area: Build System, Component: Button, Fluent UI vNext

#20869 fix: segment component to pass down ref to root slot
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/components/Segment/Segment.tsx
Labels: Fluent UI react-northstar

#20827 feat(make-styles): Add `unstable_filterCSSRule` option to default `createDOMRenderer`
  change/@fluentui-make-styles-e6ce655b-209a-44e5-be74-f6b79e841121.json
  packages/make-styles/etc/make-styles.api.md
  packages/make-styles/src/index.ts
  packages/make-styles/src/renderer/createDOMRenderer.test.ts
  packages/make-styles/src/renderer/createDOMRenderer.ts
Labels: Area: JS Styling, Fluent UI vNext

#20845 fix: Popover, Tooltip: RTL arrow positioning broken
  change/@fluentui-react-positioning-9f126186-944d-4afa-8fdf-b11ba731e674.json
  packages/react-positioning/src/createArrowStyles.ts
Labels: Component: Popover, Area: RTL

#20695 docs(storybook): hide editors in ArgsTable
  .storybook/preview-head-template.html
  change/@fluentui-react-components-49ec8f54-7c30-4c2d-a8a4-7a29909b42fd.json
  packages/react-components/src/DocsComponents/FluentDocsPage.stories.tsx
Labels: Fluent UI vNext, Storybook

#20871 fix: SplitButton component to pass ref to root slot
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/components/SplitButton/SplitButton.tsx
  packages/fluentui/react-northstar/src/components/SplitButton/SplitButtonDivider.tsx
  packages/fluentui/react-northstar/src/components/SplitButton/SplitButtonToggle.tsx
Labels: Fluent UI react-northstar

#20872 fix: status component to properly pass ref to root
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/components/Status/Status.tsx
Labels: Fluent UI react-northstar

#20854 react-divider: migrate converged packages to TS Solution style config
  change/@fluentui-react-divider-0fd1d54d-055b-41ed-ba31-3544c617f008.json
  packages/react-divider/.npmignore
  packages/react-divider/.storybook/main.js
  packages/react-divider/.storybook/preview.js
  packages/react-divider/.storybook/tsconfig.json
  packages/react-divider/config/api-extractor.json
  packages/react-divider/config/api-extractor.local.json
  packages/react-divider/jest.config.js
  packages/react-divider/package.json
  packages/react-divider/tsconfig.json
  packages/react-divider/tsconfig.lib.json
  packages/react-divider/tsconfig.spec.json
Labels: Area: Build System, Fluent UI vNext, Component: Divider

#20849 react-checkbox: migrate converged packages to TS Solution style config
  change/@fluentui-react-checkbox-14a22af0-b249-4d10-b439-677ef71d976a.json
  packages/react-checkbox/.babelrc.json
  packages/react-checkbox/.npmignore
  packages/react-checkbox/.storybook/main.js
  packages/react-checkbox/.storybook/tsconfig.json
  packages/react-checkbox/config/api-extractor.local.json
  packages/react-checkbox/jest.config.js
  packages/react-checkbox/package.json
  packages/react-checkbox/tsconfig.json
  packages/react-checkbox/tsconfig.lib.json
  packages/react-checkbox/tsconfig.spec.json
Labels: Area: Build System, Component: Checkbox, Fluent UI vNext

#20873 fix: Table components to properly pass ref to root slots
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/components/Table/Table.tsx
  packages/fluentui/react-northstar/src/components/Table/TableCell.tsx
  packages/fluentui/react-northstar/src/components/Table/TableRow.tsx
Labels: Fluent UI react-northstar

#20859 Bugfix/choice group focus trap zone
  change/@fluentui-react-9464ff30-d1fc-4a10-81ea-a3fb6e19e622.json
  packages/react-examples/src/react/__snapshots__/ChoiceGroup.Basic.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/ChoiceGroup.Controlled.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/ChoiceGroup.Custom.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/ChoiceGroup.Icon.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/ChoiceGroup.Image.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/ChoiceGroup.Label.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/ColorPicker.Basic.Example.tsx.shot
  packages/react/src/components/ChoiceGroup/ChoiceGroup.base.tsx
  packages/react/src/components/ChoiceGroup/__snapshots__/ChoiceGroup.test.tsx.snap
Labels: Area: Accessibility, Component: ChoiceGroup, Fluent UI react (v8)

#20887 test(date-time-utils): make test pass for every contributor
  change/@fluentui-date-time-utilities-7c5c9bb3-ffd3-45cc-9aef-cb226b301d7b.json
  packages/date-time-utilities/src/timeFormatting/timeFormatting.test.ts
Labels: Area: Testing, Package: date-time

#20844 fix(react-switch): update styles to not use CSS shorthands
  change/@fluentui-react-switch-96098242-67b8-4fd3-84a1-0852fe1ce386.json
  packages/react-switch/src/Switch.stories.tsx
  packages/react-switch/src/components/Switch/useSwitchStyles.ts
Labels: Fluent UI vNext, Component: Switch

#20903 Update lage to prevent truncation of error logs
  lage.config.js
  package.json
  yarn.lock
Labels: Area: Build System

#19410 react-card: Spec
  change/@fluentui-react-card-7461e28a-1ab5-4118-a20f-09e20d9b184a.json
  packages/react-card/Spec.md
  packages/react-card/assets/Card.png
  packages/react-card/assets/CardHeader.png
  packages/react-card/assets/CardPreview.png
  packages/react-card/assets/context-interaction-keyboard.png
  packages/react-card/assets/context-interaction-mouse.png
  packages/react-card/assets/context-narrator.png
  packages/react-card/assets/disabled-narrator.png
  packages/react-card/assets/disabled.png
  packages/react-card/assets/interactive-interaction-keyboard.png
  packages/react-card/assets/interactive-interaction-mouse.png
  packages/react-card/assets/interactive-narrator.png
  packages/react-card/assets/non-interactive-interaction-keyboard.png
  packages/react-card/assets/non-interactive-interaction-mouse.png
  packages/react-card/assets/non-interactive-narrator.png
  packages/react-card/assets/non-interactive-selectable-interaction-keyboard.png
  packages/react-card/assets/non-interactive-selectable-interaction-mouse.png
  packages/react-card/assets/selectable-interaction-keyboard.png
  packages/react-card/assets/selectable-interaction-mouse.png
  packages/react-card/assets/selectable-narrator.png
Labels: Area: Documentation, Component: Card, Fluent UI vNext, Type: Spec

#20895 chore: disable custom Storybook addon in react-components
  change/@fluentui-react-components-74838f56-ea28-4f5a-87d3-0262737d8baa.json
  packages/react-components/.storybook/main.js
Labels: Area: Build System

#20915 fix: getPointerStyles in RTL mode
  packages/fluentui/CHANGELOG.md
  packages/fluentui/docs/src/examples/components/Tooltip/Rtl/TooltipExample.rtl.tsx
  packages/fluentui/react-northstar/src/themes/teams/getPointerStyles.ts
Labels: Fluent UI react-northstar

#20907 De-couple v8 and converged vr-tests and storybooks
  apps/vr-tests/src/stories/AccordionConverged.stories.tsx
  apps/vr-tests/src/stories/AvatarConverged.stories.tsx
  apps/vr-tests/src/stories/DividerConverged.stories.tsx
  apps/vr-tests/src/stories/PresenceBadgeConverged.stories.tsx
  change/@fluentui-example-data-7ff73e94-9cc1-444b-a0ab-ce426dbd767d.json
  packages/example-data/etc/example-data.api.md
  packages/example-data/src/AvatarExamples.tsx
  packages/example-data/src/index.ts
  packages/react-examples/.storybook/preview-loader.js
  packages/react-examples/.storybook/preview.js
  packages/storybook/README.md
  packages/storybook/package.json
  packages/storybook/src/decorators/index.ts
  packages/storybook/src/decorators/withStrictMode.tsx
  packages/storybook/src/index.ts
  packages/storybook/src/knobs/useStrictMode.ts
Labels: Area: Testing

#20884 feat(react-theme): Extend brand ramp from 13 to 16 tokens
  change/@fluentui-react-theme-37bcb29d-cd89-4b63-9495-f533ee60ee9b.json
  packages/react-theme/etc/react-theme.api.md
  packages/react-theme/src/alias/dark.ts
  packages/react-theme/src/alias/light.ts
  packages/react-theme/src/alias/teamsDark.ts
  packages/react-theme/src/global/brandColors.ts
  packages/react-theme/src/index.ts
  packages/react-theme/src/types.ts
Labels: Fluent UI vNext

#20926 fix(slider|input|radio): use CSS shorthands in styles
  change/@fluentui-react-slider-adb3b9a6-93c2-4a83-ac82-1978bd258e89.json
  packages/react-input/src/components/Input/Input.stories.tsx
  packages/react-input/src/components/Input/useInputStyles.ts
  packages/react-radio/src/components/RadioItem/useRadioItemStyles.ts
  packages/react-slider/src/RangedSlider.stories.tsx
  packages/react-slider/src/Slider.stories.tsx
  packages/react-slider/src/components/RangedSlider/useRangedSliderStyles.ts
  packages/react-slider/src/components/Slider/useSliderStyles.ts
Labels: Area: JS Styling

#20911 fix(Popup): handle events on trigger that is wrapped in `Ref`
  packages/fluentui/CHANGELOG.md
  packages/fluentui/e2e/tests/toolbarWithPopupTooltip-example.tsx
  packages/fluentui/e2e/tests/toolbarWithPopupTooltip.spec.ts
  packages/fluentui/react-northstar/src/components/Popup/Popup.tsx
Labels: Fluent UI react-northstar

#20941 Improve error messages for ts-minbar tests
  apps/ts-minbar-test-react-components/src/index.ts
  apps/ts-minbar-test-react/src/index.ts
Labels: Area: Testing

#20956 fix(Menu): Call `useCheckmarkStyles` in `useMenuItemStyles`
  change/@fluentui-react-menu-6444eccd-5175-42b5-aa6e-f782a8543cb5.json
  packages/react-menu/src/components/MenuItem/MenuItem.tsx
  packages/react-menu/src/components/MenuItem/useMenuItemStyles.ts
Labels: Component: Menu, Component: MenuItem

#20951 SearchBox: disable pointer events when is focused
  change/@fluentui-react-44f941a3-4706-4f1c-bf01-5d6d06975a09.json
  packages/react/src/components/SearchBox/SearchBox.styles.tsx
Labels: Component: SearchBox, Fluent UI react (v8)

#20861 Cherry-pick from #20860: Azure-theme tooltip dark theme fix
  change/@fluentui-azure-themes-e1e1c8ac-92f1-4423-aa03-d8234356ae79.json
  packages/azure-themes/src/azure/Constants.ts
  packages/azure-themes/src/azure/styles/Tooltip.styles.ts
Labels: Package: azure-themes

#20860 Azure-theme tooltip dark theme fix (7.0)
  change/@uifabric-azure-themes-cc16cfa0-d0c6-4594-8bc9-2636f3fc6b47.json
  packages/azure-themes/src/azure/Constants.ts
  packages/azure-themes/src/azure/styles/Tooltip.styles.ts
Labels: Fabric 7, Package: azure-themes

#20831 RFC: Repo folder organization
  rfcs/build-system/05-folder-organization.md
Labels: Type: RFC

#20957 fix(Menu): set `aria-expanded` and `aria-haspopup` values correctly
  change/@fluentui-react-menu-0f0bbbe2-77b9-4d88-8489-f48359369591.json
  packages/react-menu/e2e/selectors.ts
  packages/react-menu/etc/react-menu.api.md
  packages/react-menu/src/components/Menu/__snapshots__/Menu.test.tsx.snap
  packages/react-menu/src/components/MenuTrigger/MenuTrigger.test.tsx
  packages/react-menu/src/components/MenuTrigger/MenuTrigger.types.ts
  packages/react-menu/src/components/MenuTrigger/__snapshots__/MenuTrigger.test.tsx.snap
  packages/react-menu/src/components/MenuTrigger/useTriggerElement.test.tsx
  packages/react-menu/src/components/MenuTrigger/useTriggerElement.ts
Labels: Component: Menu

#20955 fix(Menu): Focus on first menu item on click
  change/@fluentui-react-menu-108a6441-1cfd-416b-bf2e-86d29fca5c90.json
  packages/react-menu/e2e/Menu.e2e.ts
  packages/react-menu/src/components/Menu/useMenu.tsx
  packages/react-menu/src/components/MenuTrigger/useTriggerElement.ts
Labels: Area: NVDA, Component: Menu

#20422 Set borderRadius on ToolbarItem and icon-only MenuItem
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/themes/teams-high-contrast/components/Toolbar/toolbarVariables.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Menu/menuItemWrapperStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Menu/menuVariables.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Toolbar/toolbarVariables.ts
Labels: Fluent UI react-northstar

#20969 fix(makeStyles): correctly handle computed keys
  change/@fluentui-babel-make-styles-e24db7df-1613-42dd-aa1a-a4ddb5b85b83.json
  packages/babel-make-styles/__fixtures__/function-imported-keys/code.ts
  packages/babel-make-styles/__fixtures__/function-imported-keys/consts.ts
  packages/babel-make-styles/__fixtures__/function-imported-keys/output.ts
  packages/babel-make-styles/__fixtures__/object-imported-keys/code.ts
  packages/babel-make-styles/__fixtures__/object-imported-keys/consts.ts
  packages/babel-make-styles/__fixtures__/object-imported-keys/output.ts
  packages/babel-make-styles/src/plugin.ts
Labels: Area: JS Styling, Fluent UI vNext

#20783 feat(Accordion): Do not render inactive content
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/components/Accordion/Accordion.tsx
  packages/fluentui/react-northstar/test/specs/components/Accordion/Accordion-test.tsx
Labels: Fluent UI react-northstar

#20161 Support ability to set a context menu item's event target to the Menu root
  change/@fluentui-react-ecc8a72e-6b2c-434a-8e2d-4594944b54ad.json
  packages/react-examples/package.json
  packages/react-examples/src/react/CommandBar/CommandBar.Basic.Example.tsx
  packages/react-examples/src/react/__snapshots__/CommandBar.Basic.Example.tsx.shot
  packages/react/etc/react.api.md
  packages/react/src/components/Button/BaseButton.tsx
  packages/react/src/components/ContextualMenu/ContextualMenu.base.tsx
  packages/react/src/components/ContextualMenu/ContextualMenu.tsx
  packages/react/src/components/ContextualMenu/ContextualMenu.types.ts
  packages/react/src/utilities/contextualMenu/contextualMenuUtility.ts
Labels: Component: ContextualMenu, Component: CommandBar, PR: API Modified

#20971 SearchBox: disable pointer events when is focused (backport to v7)
  change/office-ui-fabric-react-579113f5-8058-4625-9203-afb7a4dfb932.json
  packages/office-ui-fabric-react/src/components/SearchBox/SearchBox.styles.tsx
Labels: Component: SearchBox, Fabric 7, Fluent UI react (v7)

#20974 fix(Badge): Add uniform padding and modify gaps
  change/@fluentui-react-badge-fb4edbee-709f-4e68-9557-f1b0975213fd.json
  packages/react-badge/src/components/Badge/useBadgeStyles.ts
  packages/react-badge/src/components/CounterBadge/useCounterBadgeStyles.ts
Labels: Component: Badge

#20909 Upgrade to typescript 4.3
  change/@fluentui-make-styles-8a25aea2-8647-434f-9478-a896289ff820.json
  change/@fluentui-react-conformance-762b009c-7992-4806-b49e-9b6fae9f680a.json
  change/@fluentui-react-e9266145-2394-417b-b197-90dced50e1a6.json
  change/@fluentui-react-experiments-e802d079-6eda-4e1a-a484-f2f9fe8a26cd.json
  change/@fluentui-react-file-type-icons-8c971727-e8ee-42db-8cfd-586951d9320d.json
  change/@fluentui-react-focus-2cb08a8c-1d57-449f-8fc8-5fc8b3bc8a2f.json
  change/@fluentui-react-menu-b4e3ded6-e419-4a76-9019-8538000f6f96.json
  change/@fluentui-react-popover-778c413f-cca3-4d67-ad67-a1f7d318987a.json
  change/@fluentui-react-utilities-73ccc8f9-b61c-4bc4-b2ec-60442c2c467c.json
  change/@fluentui-utilities-141824f3-b79f-46e6-90f1-12d1118c4241.json
  package.json
  packages/fluentui/react-bindings/src/FocusZone/FocusZone.tsx
  packages/fluentui/react-northstar-emotion-renderer/src/disableAnimations.ts
  packages/fluentui/react-northstar-emotion-renderer/src/invokeKeyframes.ts
  packages/make-styles/src/runtime/expandShorthand.ts
  packages/react-conformance/package.json
  packages/react-conformance/src/utils/getCallbackArguments.test.ts
  packages/react-conformance/src/utils/getCallbackArguments.ts
  packages/react-examples/src/azure-themes/stories/Themes/Themes.stories.tsx
  packages/react-examples/src/react/Layer/Layer.Customized.Example.tsx
  packages/react-examples/src/react/Pivot/Pivot.OverflowMenu.Example.tsx
  packages/react-experiments/src/components/FloatingSuggestions/FloatingSuggestions.tsx
  packages/react-file-type-icons/tsconfig.json
  packages/react-focus/src/components/FocusZone/FocusZone.tsx
  packages/react-menu/etc/react-menu.api.md
  packages/react-popover/etc/react-popover.api.md
  packages/react-utilities/etc/react-utilities.api.md
  packages/react-utilities/src/compose/getSlots.ts
  packages/react/src/components/ComboBox/ComboBox.tsx
  packages/react/src/components/FloatingPicker/BaseFloatingPicker.tsx
  packages/react/src/components/pickers/BasePicker.tsx
  packages/utilities/etc/utilities.api.md
  scripts/gulp/plugins/util/docgen.ts
  scripts/storybook/webpack.config.js
  scripts/typescript/tsconfig.fluentui.json
  tools/types.spec.ts
  tools/types.ts
  yarn.lock
Labels: Area: Build System, Area: Typescript, PR: API Modified

#20587 fix: z-index in accordion header renders above content
  change/@fluentui-web-components-a1c94fbf-4e30-466f-9571-a52139ba452d.json
  packages/web-components/src/accordion/accordion-item/accordion-item.styles.ts
Labels: web-components

#20975 docs(Accessibility) Add more explanation links to V9 accessibility stories
  change/@fluentui-react-components-5236c016-fa0e-471b-9acb-9e2be4a7685d.json
  packages/react-components/src/Concepts/Accessibility/AccessibleExperiences.stories.mdx
Labels: Area: Accessibility, Area: Documentation, Fluent UI vNext

#21001 fix(makeStyles): improve return types for shorthand functions
  change/@fluentui-make-styles-901b66ec-0438-4a53-9088-395f1a048d8d.json
  packages/make-styles/src/shorthands/border.ts
  packages/make-styles/src/shorthands/borderBottom.ts
  packages/make-styles/src/shorthands/borderColor.ts
  packages/make-styles/src/shorthands/borderLeft.ts
  packages/make-styles/src/shorthands/borderRadius.ts
  packages/make-styles/src/shorthands/borderRight.ts
  packages/make-styles/src/shorthands/borderStyle.ts
  packages/make-styles/src/shorthands/borderTop.ts
  packages/make-styles/src/shorthands/borderWidth.ts
  packages/make-styles/src/shorthands/gap.ts
  packages/make-styles/src/shorthands/margin.ts
  packages/make-styles/src/shorthands/overflow.ts
  packages/make-styles/src/shorthands/padding.ts
Labels: Area: JS Styling, Fluent UI vNext

#20904 Refactor Checkbox to use `label` as a slot instead of the root
  change/@fluentui-react-checkbox-dbc77cfc-9f50-45c3-a990-e4f778b76d7e.json
  change/@fluentui-react-conformance-2520df29-5baf-4ee4-b250-23c4a99b37ca.json
  packages/react-checkbox/Spec.md
  packages/react-checkbox/etc/react-checkbox.api.md
  packages/react-checkbox/src/Checkbox.stories.tsx
  packages/react-checkbox/src/CheckboxChecked.stories.tsx
  packages/react-checkbox/src/CheckboxCircular.stories.tsx
  packages/react-checkbox/src/CheckboxDefault.stories.tsx
  packages/react-checkbox/src/CheckboxDisabled.stories.tsx
  packages/react-checkbox/src/CheckboxLabelBefore.stories.tsx
  packages/react-checkbox/src/CheckboxLabelWrapping.stories.tsx
  packages/react-checkbox/src/CheckboxLarge.stories.tsx
  packages/react-checkbox/src/CheckboxMixed.stories.tsx
  packages/react-checkbox/src/CheckboxRequired.stories.tsx
  packages/react-checkbox/src/components/Checkbox/Checkbox.test.tsx
  packages/react-checkbox/src/components/Checkbox/Checkbox.tsx
  packages/react-checkbox/src/components/Checkbox/Checkbox.types.ts
  packages/react-checkbox/src/components/Checkbox/__snapshots__/Checkbox.test.tsx.snap
  packages/react-checkbox/src/components/Checkbox/renderCheckbox.tsx
  packages/react-checkbox/src/components/Checkbox/useCheckbox.tsx
  packages/react-checkbox/src/components/Checkbox/useCheckboxStyles.ts
  packages/react-conformance/src/utils/getCallbackArguments.ts
Labels: Component: Checkbox

#20972 fix: Animation to properly pass ref to root slot
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/components/Animation/Animation.tsx
  packages/fluentui/react-northstar/test/__mocks__/react-transition-group.ts
Labels: Fluent UI react-northstar

#20946 chore: remove findDomNode from FocusZone
  packages/fluentui/react-bindings/src/FocusZone/FocusZone.tsx
  packages/fluentui/react-northstar/src/components/Label/Label.tsx
  packages/fluentui/react-northstar/test/specs/commonTests/isConformant.tsx
  packages/fluentui/react-northstar/test/specs/components/Animation/Animation-test.tsx
  packages/fluentui/react-northstar/test/specs/components/Dropdown/DropdownSearchInput-test.tsx
  packages/fluentui/react-northstar/test/specs/components/Form/FormInput-test.tsx
  packages/fluentui/react-northstar/test/specs/components/Input/Input-test.tsx
  packages/fluentui/react-northstar/test/specs/components/ItemLayout/ItemLayout-test.ts
  packages/fluentui/react-northstar/test/specs/components/Layout/Layout-test.ts
Labels: Fluent UI react-northstar

#20998 feat(Chat): Child behaviors for item and message
  packages/fluentui/CHANGELOG.md
  packages/fluentui/accessibility/src/behaviors/Chat/chatBehavior.ts
  packages/fluentui/react-northstar/src/components/Chat/Chat.tsx
  packages/fluentui/react-northstar/src/components/Chat/ChatItem.tsx
  packages/fluentui/react-northstar/src/components/Chat/ChatMessage.tsx
  packages/fluentui/react-northstar/src/components/Chat/ChatMessageDetails.tsx
  packages/fluentui/react-northstar/src/components/Chat/ChatMessageReadStatus.tsx
  packages/fluentui/react-northstar/src/components/Chat/chatContext.ts
  packages/fluentui/react-northstar/src/components/Chat/chatDensity.ts
  packages/fluentui/react-northstar/src/components/Chat/chatDensityContext.ts
  packages/fluentui/react-northstar/src/index.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Chat/chatItemStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Chat/chatMessageStyles.ts
  packages/fluentui/react-northstar/test/specs/components/Chat/Chat-test.ts
  packages/fluentui/react-northstar/test/specs/components/Chat/Chat-test.tsx
Labels: Fluent UI react-northstar

#21005 Fix #20043 - Checkbox checkmark should have opacity 0 in indeterminate state
  change/@fluentui-react-ad24fc8e-0cbf-4ec4-a54b-e64f35b51637.json
  packages/react-examples/src/react/__snapshots__/Checkbox.Indeterminate.Example.tsx.shot
  packages/react/src/components/Checkbox/Checkbox.styles.ts
Labels: Component: Checkbox

#21021 Upgrade to node 14 (i.e. revert "Revert to node 12")
  .devops/templates/tools.yml
  change/@fluentui-eslint-plugin-85794a53-50f5-4b78-b297-dfc48bad0916.json
  package.json
  packages/eslint-plugin/package.json
  packages/eslint-plugin/src/configs/react.js
  yarn.lock
Labels: Area: Build System

#21019 chore: Add `exclude` argument for version bump generator
  tools/generators/version-bump/README.md
  tools/generators/version-bump/index.spec.ts
  tools/generators/version-bump/index.ts
  tools/generators/version-bump/schema.json
  tools/generators/version-bump/schema.ts
Labels: Area: Build System

#21003 fix: prevent disabled flipper from emitting event
  change/@fluentui-web-components-2ae56d3f-5f09-4765-89cd-f5dbcf84acea.json
  packages/web-components/src/flipper/flipper.styles.ts
Labels: web-components

#21010 babel-make-styles: Correctly handling sequence expressions
  change/@fluentui-babel-make-styles-640822ac-aebd-493a-8831-79760610f65b.json
  packages/babel-make-styles/__fixtures__/object-sequence-expr/code.ts
  packages/babel-make-styles/__fixtures__/object-sequence-expr/output.ts
  packages/babel-make-styles/src/plugin.ts
Labels: Area: JS Styling, Fluent UI vNext

#21024 Add aria-multiselectable to multiselect Combobox
  change/@fluentui-react-8c6f90dd-1df8-4efd-b3de-f26cbd10596e.json
  packages/react/src/components/ComboBox/ComboBox.tsx
  packages/react/src/components/ComboBox/__snapshots__/ComboBox.test.tsx.snap
Labels: Area: Accessibility, Component: ComboBox

#21030 Fixed typo
  rfcs/build-system/01_convergence_devstack.md
Labels: Type: RFC

#20681 eslint-plugin: classify stories as examples not tests
  change/@fluentui-eslint-plugin-5733e325-0c8b-4b50-ad12-d52a70e3d28b.json
  packages/eslint-plugin/src/configs/react.js
  packages/eslint-plugin/src/utils/configHelpers.js
Labels: Area: Build System

#20716 chore: migrate to jest v25, v26
  change/@fluentui-bundle-size-7e082d1a-55e9-48ef-bc48-514c7afa9049.json
  change/@fluentui-jest-serializer-make-styles-667619f4-15d5-43ad-a644-5e1887d026cb.json
  change/@fluentui-jest-serializer-merge-styles-82ccf983-562e-41dc-976d-b1ea28fd8599.json
  change/@fluentui-make-styles-bf88f668-585e-4e24-a5d3-c6a343f99457.json
  change/@fluentui-react-accordion-0f215eea-fcae-4e28-973c-ae5251cfecd4.json
  change/@fluentui-react-conformance-1a694706-dc64-4ad2-8143-f7497c414861.json
  change/@fluentui-react-f8d7db44-c5ff-489a-8a09-6bfbc620275b.json
  change/@fluentui-react-focus-9f7064c3-e0e6-422c-925a-d7efa781dcb3.json
  change/@fluentui-react-make-styles-f77967c0-96da-410d-9fc6-9364720bd68c.json
  change/@fluentui-react-provider-358eb02d-ee38-4a0c-9cff-2098f0954e00.json
  change/@fluentui-react-switch-4653d24b-d48d-4960-a717-bda41ac79a03.json
  change/@fluentui-test-utilities-c2b401f8-3246-44d1-976d-475f678377f7.json
  change/@fluentui-utilities-8f99017c-0c83-4c6b-99a9-982c3ab9bc03.json
  change/@fluentui-web-components-b6b0cc82-a5c7-4997-8261-e1f9c6da27e0.json
  package.json
  packages/a11y-testing/package.json
  packages/bundle-size/src/reporters/cliReporter.test.js
  packages/fluentui/react-bindings/test/FocusZone/FocusTrapZone-test.tsx
  packages/fluentui/react-bindings/test/FocusZone/FocusZone-test.tsx
  packages/fluentui/react-bindings/test/FocusZone/test-utils.ts
  packages/fluentui/react-northstar/test/specs/components/Accordion/Accordion-test.tsx
  packages/fluentui/react-northstar/test/specs/components/Carousel/Carousel-test.tsx
  packages/fluentui/react-northstar/test/specs/components/Dropdown/Dropdown-test.tsx
  packages/fluentui/react-northstar/test/specs/components/Dropdown/test-utils.tsx
  packages/fluentui/react-northstar/test/specs/components/SplitButton/SplitButton-test.tsx
  packages/fluentui/react-northstar/test/specs/components/Toolbar/ToolbarRadioGroup-test.tsx
  packages/fluentui/react-northstar/test/utils/index.ts
  packages/fluentui/react-northstar/test/utils/withProvider.tsx
  packages/jest-serializer-make-styles/etc/jest-serializer-make-styles.api.md
  packages/jest-serializer-make-styles/package.json
  packages/jest-serializer-make-styles/src/index.ts
  packages/jest-serializer-merge-styles/jest.config.js
  packages/make-styles/src/common/snapshotSerializers.ts
  packages/make-styles/src/makeStyles.test.ts
  packages/make-styles/src/renderer/getStyleSheetForBucket.test.ts
  packages/react-accordion/package.json
  packages/react-conformance/package.json
  packages/react-examples/package.json
  packages/react-focus/package.json
  packages/react-focus/src/components/FocusZone/FocusZone.test.tsx
  packages/react-make-styles/src/renderToStyleElements-node.test.tsx
  packages/react-provider/package.json
  packages/react-switch/src/components/Switch/__snapshots__/Switch.test.tsx.snap
  packages/react/__mocks__/@fluentui/utilities.ts
  packages/react/package.json
  packages/react/src/components/ContextualMenu/ContextualMenu.test.tsx
  packages/react/src/components/DetailsList/DetailsList.test.tsx
  packages/react/src/components/FocusTrapZone/FocusTrapZone.test.tsx
  packages/react/src/components/Pivot/Pivot.test.tsx
  packages/react/src/components/ScrollablePane/ScrollablePane.test.tsx
  packages/react/src/components/TextField/TextField.test.tsx
  packages/test-utilities/src/createTestContainer.ts
  packages/test-utilities/src/index.ts
  packages/test-utilities/src/safeCreate.ts
  packages/test-utilities/src/safeMount.ts
  packages/utilities/src/focus.test.tsx
  packages/web-components/package.json
  scripts/jest/jest-reporter.js
  scripts/jest/jest-resources.js
  yarn.lock
Labels: Area: Build System, Area: Testing

#21017 chore: prepare release react-northstar 0.60.0
  azure-pipelines.release-fluentui.yml
  packages/fluentui/CHANGELOG.md
  packages/fluentui/ability-attributes/package.json
  packages/fluentui/accessibility/package.json
  packages/fluentui/circulars-test/package.json
  packages/fluentui/code-sandbox/package.json
  packages/fluentui/digest/package.json
  packages/fluentui/docs-components/package.json
  packages/fluentui/docs/package.json
  packages/fluentui/e2e/package.json
  packages/fluentui/lerna.json
  packages/fluentui/local-sandbox/package.json
  packages/fluentui/perf-test/package.json
  packages/fluentui/perf/package.json
  packages/fluentui/projects-test/package.json
  packages/fluentui/react-bindings/package.json
  packages/fluentui/react-builder/package.json
  packages/fluentui/react-component-event-listener/package.json
  packages/fluentui/react-component-nesting-registry/package.json
  packages/fluentui/react-component-ref/package.json
  packages/fluentui/react-icons-northstar/package.json
  packages/fluentui/react-northstar-emotion-renderer/package.json
  packages/fluentui/react-northstar-fela-renderer/package.json
  packages/fluentui/react-northstar-prototypes/package.json
  packages/fluentui/react-northstar-styles-renderer/package.json
  packages/fluentui/react-northstar/package.json
  packages/fluentui/react-proptypes/package.json
  packages/fluentui/react-telemetry/package.json
  packages/fluentui/state/package.json
  packages/fluentui/styles/package.json
Labels: Fluent UI react-northstar

#21060 chore: Remove enzyme from react-utilities tests
  change/@fluentui-react-utilities-e33198df-f7e7-4f3e-a3b5-f177e43f387f.json
  packages/react-utilities/package.json
  packages/react-utilities/src/hooks/useMount.test.tsx
  packages/react-utilities/src/hooks/useUnmount.test.tsx
Labels: Area: Testing, Fluent UI vNext

#21023 Update just-scripts and remove some workarounds for customizing build tasks
  apps/ssr-tests/just.config.ts
  apps/ssr-tests/package.json
  package.json
  packages/fluentui/digest/package.json
  packages/fluentui/perf-test/package.json
  scripts/just.config.ts
  scripts/tasks/api-extractor.ts
  scripts/tasks/argv.ts
  scripts/tasks/jest.ts
  scripts/tasks/ts.ts
  scripts/tasks/webpack.ts
  yarn.lock
Labels: Area: Build System

#21069 Combobox: Provide a callback to listen to raw text input
  change/@fluentui-react-a72f59c8-a71c-45c5-8372-f2ac3e1a1bd8.json
  packages/react/etc/react.api.md
  packages/react/src/components/ComboBox/ComboBox.test.tsx
  packages/react/src/components/ComboBox/ComboBox.tsx
  packages/react/src/components/ComboBox/ComboBox.types.ts
Labels: Component: ComboBox, PR: API Modified

#20902 Use a custom cache directory for each test that runs yarn
  apps/ts-minbar-test-react-components/src/index.ts
  apps/ts-minbar-test-react/src/index.ts
  change/@fluentui-cra-template-48461590-a8b5-440d-8741-30860247bd1b.json
  packages/cra-template/scripts/test.ts
  packages/fluentui/projects-test/src/createReactApp.ts
  packages/fluentui/projects-test/src/nextjs.ts
  packages/fluentui/projects-test/src/rollup.ts
  packages/fluentui/projects-test/src/typings.ts
  scripts/gulp/sh.ts
  scripts/projects-test/createReactApp.ts
  scripts/projects-test/performBrowserTest.ts
  scripts/projects-test/utils.ts
Labels: Area: Build System, Area: Testing

#21032 Fix test issues discovered while trying to test React 17 (take 2)
  change/@fluentui-react-ab8e2990-b17d-4210-b514-30a0cb04b452.json
  change/@fluentui-react-experiments-0b77bb7d-5bbe-457b-95c9-6a5970609121.json
  change/@fluentui-react-hooks-c07633ea-c71c-4e99-9a4a-cc10394bf71c.json
  change/@fluentui-test-utilities-493d57c1-c975-4c23-aea6-fd2dff463193.json
  change/@fluentui-utilities-2d40b849-0e8a-4a69-a942-c4454fdde763.json
  packages/react-experiments/src/components/FloatingSuggestionsComposite/FloatingSuggestionsComposite.test.tsx
  packages/react-hooks/src/useUnmount.test.tsx
  packages/react/__mocks__/@fluentui/utilities.ts
  packages/react/src/common/testUtilities.ts
  packages/react/src/components/ChoiceGroup/ChoiceGroup.test.tsx
  packages/react/src/components/DetailsList/DetailsList.test.tsx
  packages/react/src/components/Pivot/Pivot.test.tsx
  packages/react/src/components/TextField/TextField.test.tsx
  packages/react/src/utilities/ThemeProvider/ThemeProvider.test.tsx
  packages/test-utilities/src/safeMount.ts
  packages/utilities/src/customizations/useCustomizationSettings.test.tsx
  packages/utilities/src/styled.test.tsx
  packages/utilities/src/useFocusRects.test.tsx
Labels: Area: Testing, React 17

#20863 Input: implement primary slot
  apps/vr-tests/src/stories/InputConverged.stories.tsx
  packages/react-input/Spec.md
  packages/react-input/etc/react-input.api.md
  packages/react-input/src/components/Input/Input.stories.tsx
  packages/react-input/src/components/Input/Input.test.tsx
  packages/react-input/src/components/Input/Input.types.ts
  packages/react-input/src/components/Input/__snapshots__/Input.test.tsx.snap
  packages/react-input/src/components/Input/renderInput.tsx
  packages/react-input/src/components/Input/useInput.ts
  packages/react-input/src/components/Input/useInputStyles.ts
Labels: Component: Input

#21014 Add aria-level to TeachingBubble heading
  change/office-ui-fabric-react-5217a157-b9b8-4ab3-b9c4-5f7713d1f168.json
  packages/office-ui-fabric-react/src/components/TeachingBubble/TeachingBubbleContent.base.tsx
  packages/office-ui-fabric-react/src/components/TeachingBubble/__snapshots__/TeachingBubble.deprecated.test.tsx.snap
  packages/office-ui-fabric-react/src/components/TeachingBubble/__snapshots__/TeachingBubble.test.tsx.snap
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/CommandBar.CommandBarButtonAs.Example.tsx.shot
Labels: Component: TeachingBubble, PR: API Modified

#21011 Add screener tests for react-checkbox
  apps/vr-tests/package.json
  apps/vr-tests/src/stories/CheckboxConverged.stories.tsx
  change/@fluentui-react-checkbox-5fb1f1da-596a-44e5-bd25-897803e97979.json
  packages/react-checkbox/package.json
  packages/react-checkbox/src/components/Checkbox/DefaultIcons.tsx
  packages/react-checkbox/src/components/Checkbox/__snapshots__/Checkbox.test.tsx.snap
  packages/react-checkbox/src/components/Checkbox/useCheckbox.tsx
  packages/react-checkbox/src/components/Checkbox/useCheckboxStyles.ts
Labels: Component: Checkbox

#20683 Add splitbutton labels to Commandbar example
  packages/react-examples/src/react/CommandBar/CommandBar.SplitDisabled.Example.tsx
  packages/react-examples/src/react/__snapshots__/CommandBar.SplitDisabled.Example.tsx.shot
Labels: Area: Website

#21090 Fixing React.Fragment wrapping StackItems inside a Stack.
  change/@fluentui-react-6185695e-90a7-4334-a2c0-b2f29e60efc6.json
  packages/react-examples/src/react/__snapshots__/Separator.Basic.Example.tsx.shot
  packages/react/src/components/Stack/Stack.test.tsx
  packages/react/src/components/Stack/Stack.tsx
  packages/react/src/components/Stack/__snapshots__/Stack.test.tsx.snap
Labels: Component: Stack

#21022 Restructure RFC Folder
  rfcs/assets/theme-shape-perf-flamegrill.png
  rfcs/assets/theme-shape-perf-hash-variables.png
  rfcs/assets/theme-shape-perf-inline-alias.png
  rfcs/assets/theme-shape-perf-master.png
  rfcs/assets/theme-shape-perf-no-colors.png
  rfcs/assets/theme-shape-perf-no-global.png
  rfcs/react-components/accessibility/accessibility.md
  rfcs/react-components/components/RangeSlider.md
  rfcs/react-components/components/avatar-badge-shorthand.md
  rfcs/react-components/components/moving-from-focus-zone-to-tabster.md
  rfcs/react-components/convergence/as-prop.md
  rfcs/react-components/convergence/authoring-stories.md
  rfcs/react-components/convergence/context-values.md
  rfcs/react-components/convergence/converged-implementation-patterns.md
  rfcs/react-components/convergence/dependency-versions.md
  rfcs/react-components/convergence/ending-ie11-support.md
  rfcs/react-components/convergence/event-handlers-arguments.md
  rfcs/react-components/convergence/exposing-popper-options.md
  rfcs/react-components/convergence/first-rule-of-aria.md
  rfcs/react-components/convergence/fixed-versions-for-prerelease.md
  rfcs/react-components/convergence/focus-and-iteration-towers-2.0.md
  rfcs/react-components/convergence/handling-keyboard-keys.md
  rfcs/react-components/convergence/high-contrast-theme.md
  rfcs/react-components/convergence/make-overrides.md
  rfcs/react-components/convergence/native-element-props.md
  rfcs/react-components/convergence/no-css-shorthands-in-make-styles.md
  rfcs/react-components/convergence/popper-js.md
  rfcs/react-components/convergence/props-typing-improvements.md
  rfcs/react-components/convergence/root-as-slot.md
  rfcs/react-components/convergence/simplify-prop-merging.md
  rfcs/react-components/convergence/slot-null-rendering.md
  rfcs/react-components/convergence/ssr-context.md
  rfcs/react-components/convergence/theme-css-variable-insertion.md
  rfcs/react-components/convergence/theme-shape.md
  rfcs/react-components/convergence/theme-tokens.md
  rfcs/react-components/testing.md
  rfcs/shared/build-system/01_convergence_devstack.md
  rfcs/shared/build-system/02-solution-style-ts-configs.md
  rfcs/shared/build-system/03-packaging-for-npm.md
  rfcs/shared/build-system/04-build-shield.md
  rfcs/shared/build-system/05-folder-organization.md
Labels: Type: RFC

#18915 Add new css properties into `IRawStyleBase`
  change/@fluentui-merge-styles-5d55d19f-a211-4736-8b34-99b5509b47f0.json
  packages/merge-styles/etc/merge-styles.api.md
  packages/merge-styles/src/IRawStyleBase.ts
Labels: Package: merge-styles, PR: API Modified

#20829 fix(SwatchColorPicker): use radio roles on single-row swatches
  change/@fluentui-react-704037d3-3a47-454a-a68d-c5ba5783fe69.json
  packages/react-examples/src/react/SwatchColorPicker/SwatchColorPicker.Basic.Example.tsx
  packages/react-examples/src/react/__snapshots__/SwatchColorPicker.Basic.Example.tsx.shot
  packages/react/etc/react.api.md
  packages/react/src/components/SwatchColorPicker/ColorPickerGridCell.base.tsx
  packages/react/src/components/SwatchColorPicker/ColorPickerGridCell.types.ts
  packages/react/src/components/SwatchColorPicker/SwatchColorPicker.base.tsx
  packages/react/src/components/SwatchColorPicker/SwatchColorPicker.test.tsx
  packages/react/src/components/SwatchColorPicker/__snapshots__/SwatchColorPicker.test.tsx.snap
  packages/react/src/utilities/ButtonGrid/ButtonGrid.base.tsx
  packages/react/src/utilities/ButtonGrid/ButtonGrid.types.ts
  packages/react/src/utilities/ButtonGrid/ButtonGridCell.tsx
Labels: Component: SwatchColorPicker, PR: API Modified

#21095 feat: MenuSplitItem component
  apps/vr-tests/src/stories/MenuConverged.stories.tsx
  change/@fluentui-react-menu-d8210f70-834e-4c0e-a0bd-1cc2488392c8.json
  change/@fluentui-react-tabster-10f0d231-1cf3-43c8-a584-7f504a5cd26e.json
  packages/react-menu/Spec.md
  packages/react-menu/e2e/Menu.e2e.ts
  packages/react-menu/etc/images/menu-interactions/Slide19.PNG
  packages/react-menu/etc/images/menu-interactions/Slide20.PNG
  packages/react-menu/etc/images/menu-interactions/Slide21.PNG
  packages/react-menu/etc/images/menu-interactions/Slide22.PNG
  packages/react-menu/etc/react-menu.api.md
  packages/react-menu/src/MenuSplitGroup.ts
  packages/react-menu/src/components/MenuItem/MenuItem.types.ts
  packages/react-menu/src/components/MenuItem/useMenuItem.tsx
  packages/react-menu/src/components/MenuItem/useMenuItemStyles.ts
  packages/react-menu/src/components/MenuSplitGroup/MenuSplitGroup.test.tsx
  packages/react-menu/src/components/MenuSplitGroup/MenuSplitGroup.tsx
  packages/react-menu/src/components/MenuSplitGroup/MenuSplitGroup.types.ts
  packages/react-menu/src/components/MenuSplitGroup/__snapshots__/MenuSplitGroup.test.tsx.snap
  packages/react-menu/src/components/MenuSplitGroup/index.ts
  packages/react-menu/src/components/MenuSplitGroup/renderMenuSplitGroup.tsx
  packages/react-menu/src/components/MenuSplitGroup/useMenuSplitGroup.ts
  packages/react-menu/src/components/MenuSplitGroup/useMenuSplitGroupStyles.ts
  packages/react-menu/src/index.ts
  packages/react-menu/src/stories/Menu.stories.tsx
  packages/react-menu/src/stories/MenuSplitMenuItem.stories.tsx
  packages/react-tabster/etc/react-tabster.api.md
  packages/react-tabster/src/hooks/useFocusFinders.ts
Labels: Component: Menu

#21122 chore: update package name in readme
  packages/fluentui/react-icons-northstar/README.md
Labels: Fluent UI react-northstar

#21072 Input: add stories and restrict type prop
  apps/vr-tests/src/stories/InputConverged.stories.tsx
  packages/react-input/.storybook/preview.js
  packages/react-input/Spec.md
  packages/react-input/etc/react-input.api.md
  packages/react-input/src/components/Input/Input.stories.tsx
  packages/react-input/src/components/Input/Input.tsx
  packages/react-input/src/components/Input/Input.types.ts
  packages/react-input/src/stories/Input.stories.tsx
  packages/react-input/src/stories/InputAppearance.stories.tsx
  packages/react-input/src/stories/InputContentBeforeAfter.stories.tsx
  packages/react-input/src/stories/InputControlled.stories.tsx
  packages/react-input/src/stories/InputDefault.stories.tsx
  packages/react-input/src/stories/InputDisabled.stories.tsx
  packages/react-input/src/stories/InputInline.stories.tsx
  packages/react-input/src/stories/InputPlaceholder.stories.tsx
  packages/react-input/src/stories/InputSize.stories.tsx
  packages/react-input/src/stories/InputType.stories.tsx
  packages/react-input/src/stories/InputUncontrolled.stories.tsx
Labels: Fluent UI vNext, Component: Input

#21139 Input: prevent hover/active styles when disabled
  packages/react-input/src/components/Input/useInputStyles.ts
Labels: Component: Input
