Repository microsoft/fluentui, pull requests merged in 2021-07, with the labels that each got.

#18789 (web-components) fix accent fill recipe
  change/@fluentui-web-components-f81d3aa5-c0aa-46c6-972f-774e69c15d79.json
  packages/web-components/src/color/recipes/accent-fill.ts
Labels: web-components

#18734 Fix - Resolving aria-labelledby bug in ComboBox
  change/@fluentui-react-f9012f3a-074a-48c2-aeaf-b23a8431ac91.json
  packages/react/src/components/ComboBox/ComboBox.test.tsx
  packages/react/src/components/ComboBox/ComboBox.tsx
  packages/react/src/components/ComboBox/__snapshots__/ComboBox.test.tsx.snap
Labels: Component: ComboBox, Priority 2: Normal

#18577 Breadcrumb: Update doc and example to demonstrate how to add tab navigation behavior.
  change/@fluentui-react-examples-bd11d615-8cf3-40a2-83d3-a563860d877f.json
  packages/react-examples/src/react/Breadcrumb/Breadcrumb.Basic.Example.tsx
  packages/react-examples/src/react/Breadcrumb/docs/BreadcrumbBestPractices.md
  packages/react-examples/src/react/__snapshots__/Breadcrumb.Basic.Example.tsx.shot
Labels: Area: Website, AutoMerge

#18783 fix(storybook): make temporarily storybook work as before for converg…
  .storybook/custom-loader.js
  .storybook/main.js
Labels: Area: Build System, Fluent UI vNext, Storybook

#18642 RFC: Simplify prop merging with slots
  rfcs/convergence/simplify-prop-merging.md
Labels: Type: RFC

#18746 react-badge: Migrate to new DX
  change/@fluentui-react-badge-ff19e180-13e9-4b2d-bc0e-cbe221e8e124.json
  change/@fluentui-react-examples-7fda57e7-5640-426d-a34c-5273f5c1723b.json
  jest.config.js
  nx.json
  packages/react-badge/.storybook/main.js
  packages/react-badge/.storybook/preview.js
  packages/react-badge/.storybook/tsconfig.json
  packages/react-badge/config/api-extractor.json
  packages/react-badge/config/api-extractor.local.json
  packages/react-badge/jest.config.js
  packages/react-badge/package.json
  packages/react-badge/src/Badge.stories.tsx
  packages/react-badge/src/BadgeAppearance.stories.tsx
  packages/react-badge/src/BadgeContent.stories.tsx
  packages/react-badge/src/BadgeIcon.stories.tsx
  packages/react-badge/src/CounterBadge.stories.tsx
  packages/react-badge/src/PresenceBadge.stories.tsx
  packages/react-badge/src/tmp-icons.stories.tsx
  packages/react-badge/tsconfig.json
  packages/react-examples/package.json
  tsconfig.base.json
  workspace.json
Labels: Area: Build System

#18794 chore(react-utilities): Migrate DX
  change/@fluentui-react-utilities-7dd334c7-d119-42f0-9fbf-324ac76f1a07.json
  jest.config.js
  nx.json
  packages/react-utilities/config/api-extractor.json
  packages/react-utilities/config/api-extractor.local.json
  packages/react-utilities/jest.config.js
  packages/react-utilities/package.json
  packages/react-utilities/tsconfig.json
  workspace.json
Labels: Area: Build System

#18791 fix(Menu): Submenu state should include `MenuList`
  change/@fluentui-react-menu-b976aa36-80bd-4b87-83bf-14389793c5e2.json
  packages/react-menu/e2e/Menu.e2e.ts
  packages/react-menu/e2e/MenuList.e2e.ts
  packages/react-menu/e2e/selectors.ts
  packages/react-menu/etc/react-menu.api.md
  packages/react-menu/src/MenuList.stories.tsx
  packages/react-menu/src/components/Menu/useMenu.tsx
  packages/react-menu/src/components/MenuList/MenuList.test.tsx
  packages/react-menu/src/components/MenuList/renderMenuList.tsx
  packages/react-menu/src/components/MenuPopover/useMenuPopover.ts
  packages/react-menu/src/components/MenuTrigger/useTriggerElement.ts
  packages/react-menu/src/contexts/menuListContext.tsx
  packages/react-menu/src/utils/useIsSubmenu.ts
Labels: Component: Menu

#18591 react-checkbox: Spec review
  change/@fluentui-react-checkbox-ec8db23a-6b8e-45de-aa6c-cde21ae47fd5.json
  packages/react-checkbox/MIGRATION.md
  packages/react-checkbox/Spec.md
Labels: Component: Checkbox, Type: Spec

#18798 fix: carousel animations
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-bindings/src/hooks/usePrevious.ts
  packages/fluentui/react-bindings/src/index.ts
  packages/fluentui/react-bindings/test/hooks/usePrevious-test.tsx
  packages/fluentui/react-northstar/src/components/Carousel/Carousel.tsx
  packages/fluentui/state/src/managers/carouselManager.ts
Labels: Fluent UI react-northstar

#18639 chore: update selectable list example in docsite
  packages/fluentui/CHANGELOG.md
  packages/fluentui/docs/src/examples/components/List/Types/ListExampleSelectable.shorthand.tsx
  packages/fluentui/docs/src/examples/components/List/Types/ListExampleSelectable.tsx
  packages/fluentui/docs/src/examples/components/List/Types/ListExampleSelectableControlled.shorthand.tsx
  packages/fluentui/docs/src/examples/components/List/Variations/ListExampleHorizontal.shorthand.tsx
Labels: Fluent UI react-northstar

#18792 fix(useOnClickOutside): Use capture event handler
  change/@fluentui-react-popover-1ab7c5b3-ccb4-4378-936d-078d8f794f0d.json
  change/@fluentui-react-utilities-a1c6f7ff-afdf-4517-876b-8a60bed328a9.json
  packages/react-popover/e2e/Popover.e2e.ts
  packages/react-popover/package.json
  packages/react-popover/src/Popover.stories.tsx
  packages/react-popover/src/components/Popover/usePopover.ts
  packages/react-utilities/src/hooks/useOnClickOutside.test.ts
  packages/react-utilities/src/hooks/useOnClickOutside.ts
  packages/react-utilities/src/hooks/useOnScrollOutside.test.ts
Labels: Component: Popover

#18590 Text implementation
  packages/react-text/config/tests.js
  packages/react-text/etc/react-text.api.md
  packages/react-text/src/components/Text/Text.stories.tsx
  packages/react-text/src/components/Text/Text.test.tsx
  packages/react-text/src/components/Text/Text.types.ts
  packages/react-text/src/components/Text/__snapshots__/Text.test.tsx.snap
  packages/react-text/src/components/Text/renderText.tsx
  packages/react-text/src/components/Text/useText.ts
  packages/react-text/src/components/Text/useTextStyles.ts
  packages/react-text/tsconfig.json
Labels: Component: Text

#18816 fix(babel-make-styles): update regex for rules
  change/@fluentui-babel-make-styles-7135d933-ff17-4a52-82b3-c445affe6aff.json
  packages/babel-make-styles/src/utils/evaluatePathsInVM.ts
Labels: Fluent UI vNext

#18770 Add more logging to debug northstar dts error
  .vscode/launch.json
  scripts/storybook/webpack.config.js
  scripts/tasks/storybook.ts
Labels: Area: Build System

#18766 Picker dismiss
  change/@fluentui-react-experiments-f402a4b0-8f89-4d61-9387-3a2ecca05c8c.json
  packages/react-experiments/src/components/SelectedItemsList/Items/subcomponents/DefaultEditingItem.tsx
Labels: Component: SelectedItemsList, Package: experiments

#18822 update dependencies and lint-staged config
  change/@fluentui-web-components-d9a63f9e-3644-4bd4-b09c-79e1f9747175.json
  lint-staged.config.js
  package.json
  packages/web-components/package.json
  packages/web-components/src/color/recipes/neutral-fill-layer.spec.ts
  yarn.lock
Labels: web-components

#18818 Quick Start: fix closing tag
  packages/react-examples/src/react-components/FluentUIComponents/QuickStart.stories.mdx
Labels: Area: Website

#18803 Fix callout position bug when target element has changed
  change/office-ui-fabric-react-47a3684d-ab59-433a-91c8-7646906dac7c.json
  packages/office-ui-fabric-react/src/components/Callout/CalloutContent.base.tsx
Labels: Component: Callout, Fabric 7

#18824 Porting ComboBox aria-labelledby fix to (V7)
  change/office-ui-fabric-react-662b1ad2-53b0-4e9a-a325-0e76c0f18677.json
  packages/office-ui-fabric-react/src/components/ComboBox/ComboBox.test.tsx
  packages/office-ui-fabric-react/src/components/ComboBox/ComboBox.tsx
  packages/office-ui-fabric-react/src/components/ComboBox/__snapshots__/ComboBox.test.tsx.snap
Labels: Component: ComboBox, Fabric 7

#18825 Fix scroll to view handling for picker suggestions
  change/@fluentui-react-0a0866a7-027c-4bcc-9bf0-c250338f2592.json
  change/@fluentui-react-examples-f266c949-1ec9-4b12-aee8-d437ba6330f8.json
  packages/react-examples/src/react/Pickers/TagPicker.Inline.Example.tsx
  packages/react-examples/src/react/__snapshots__/TagPicker.Inline.Example.tsx.shot
  packages/react/etc/react.api.md
  packages/react/src/components/pickers/Suggestions/Suggestions.tsx
Labels: PR: API Modified

#18828 removes duplicate styles for expand-collapse-glyph on tree item causing specificity and ordering issues
  change/@fluentui-web-components-6f977179-43de-4a13-82d5-d68f7fee4453.json
  packages/web-components/src/tree-item/tree-item.styles.ts
Labels: web-components

#18322 chore: new bundle size tool, build & upload results
  azure-pipelines.bundlesize.yml
  jest.config.js
  nx.json
  package.json
  packages/bundle-size/.eslintrc.json
  packages/bundle-size/README.md
  packages/bundle-size/config/tests.js
  packages/bundle-size/jest.config.js
  packages/bundle-size/just.config.ts
  packages/bundle-size/package.json
  packages/bundle-size/src/commands/uploadReport.js
  packages/bundle-size/src/index.js
  packages/bundle-size/src/utils/buildFixture.js
  packages/bundle-size/src/utils/buildFixture.test.js
  packages/bundle-size/src/utils/collectLocalReport.js
  packages/bundle-size/src/utils/collectLocalReport.test.js
  packages/bundle-size/src/utils/prepareFixture.js
  packages/bundle-size/src/utils/prepareFixture.test.js
  packages/bundle-size/tsconfig.json
  packages/fluentui/react-bindings/src/hooks/usePrevious.ts
  scripts/package.json
  workspace.json
  yarn.lock
Labels: Area: Build System

#18847 chore: fix "variables.isPR" usages in pipeline files
  azure-pipelines.bundlesize.yml
  azure-pipelines.perf-test.yml
  azure-pipelines.yml
Labels: Area: Build System

#18811 Fixed when chart data is empty for Stacked Bar and Multi Stacked Bar chart.
  change/@fluentui-react-charting-33f77694-92d5-460d-b4e5-d9cec93f81e2.json
  packages/react-charting/src/components/StackedBarChart/MultiStackedBarChart.base.tsx
  packages/react-charting/src/components/StackedBarChart/StackedBarChart.base.tsx
Labels: Package: charting

#18837 Set ChatMessage timestamp to inline-block
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/themes/teams/components/Chat/chatMessageStyles.ts
Labels: Fluent UI react-northstar

#18842 Fix compact hover background in dark themes
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/themes/teams-dark-v2/components/Chat/chatMessageVariables.ts
  packages/fluentui/react-northstar/src/themes/teams-dark/components/Chat/chatMessageVariables.ts
Labels: Fluent UI react-northstar

#18827 feat(Colors): Add new color scheme tokens & color palette values
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/themes/teams-dark/colors.ts
  packages/fluentui/react-northstar/src/themes/teams-high-contrast/colors.ts
  packages/fluentui/react-northstar/src/themes/teams/colors.ts
Labels: Fluent UI react-northstar

#18771 Remove tooltip from close button on TeachingBubble
  change/@fluentui-react-0d58d8e0-bfd5-4792-ae7c-ed484c764279.json
  change/@fluentui-react-examples-dba766e8-3fa8-46e3-b932-0f2160dc3539.json
  packages/react-examples/src/react/__snapshots__/CommandBar.CommandBarButtonAs.Example.tsx.shot
  packages/react/src/components/TeachingBubble/TeachingBubbleContent.base.tsx
Labels: Component: TeachingBubble

#18838 fix(Datepicker): aria-popup on the wrong element
  change/@fluentui-react-8bd054ef-8fac-4642-a332-1a58f592952a.json
  packages/react/src/components/DatePicker/DatePicker.base.tsx
  packages/react/src/components/DatePicker/__snapshots__/DatePicker.test.tsx.snap
Labels: Component: DatePicker

#18851 Button pointer events
  change/@fluentui-react-examples-0568762a-a50b-4fea-98c7-b94aa8d7858e.json
  change/@uifabric-experiments-8af4b78d-42fd-4144-b2e7-41e7f07a0c4b.json
  change/office-ui-fabric-react-c701200e-2e82-42d3-92af-e2d5ab6e9b34.json
  packages/experiments/src/components/Pagination/__snapshots__/Pagination.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Button/BaseButton.styles.ts
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/Button.Split.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/CommandBar.SplitDisabled.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/Icon.SvgFactory.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/Nav.Basic.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/SpinButton.BasicDisabled.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/SpinButton.BasicWithIconDisabled.Example.tsx.shot
Labels: Area: Documentation, AutoMerge, Component: Button, PR: API Modified

#18840 Align ChatMessageDetails color with header
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/themes/teams-dark-v2/componentVariables.ts
  packages/fluentui/react-northstar/src/themes/teams-dark-v2/components/Chat/chatMessageDetailsVariables.ts
  packages/fluentui/react-northstar/src/themes/teams-v2/componentVariables.ts
  packages/fluentui/react-northstar/src/themes/teams-v2/components/Chat/chatMessageDetailsVariables.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Chat/chatMessageDetailsStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Chat/chatMessageDetailsVariables.ts
Labels: Fluent UI react-northstar

#18808 chore: migrate packages to single version policy
  apps/server-rendered-app/package.json
  apps/test-bundles/package.json
  apps/vr-tests/package.json
  change/@fluentui-api-docs-c7d179fb-4e07-4020-89d5-aee45cc965cf.json
  change/@fluentui-codemods-6343f633-b062-4817-8e1c-a4c50a14ea51.json
  change/@fluentui-eslint-plugin-7d38ea83-cf37-4da9-8c1e-fb7a222935ad.json
  change/@fluentui-web-components-04f2b07b-0d06-48f6-963a-7dbb0222804b.json
  package.json
  packages/api-docs/package.json
  packages/codemods/package.json
  packages/eslint-plugin/package.json
  packages/eslint-plugin/src/configs/react.js
  packages/fluentui/local-sandbox/package.json
  packages/fluentui/projects-test/package.json
  packages/web-components/package.json
  scripts/package.json
  yarn.lock
Labels: Area: Build System, dependencies

#18455 docs(rfc): create storybook authoring proposal
  rfcs/convergence/authoring-stories.md
Labels: Type: RFC

#18820 Added Focus Props as optional prop to Pivot component
  change/office-ui-fabric-react-0e75c7a7-9e98-4737-9dff-63fdb728f8c9.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/Pivot/Pivot.base.tsx
  packages/office-ui-fabric-react/src/components/Pivot/Pivot.types.ts
Labels: AutoMerge, Component: Pivot, Fabric 7, PR: API Modified

#18612 Cherry pick: Fix resizing of justified columns for constrained viewport widths
  change/@fluentui-react-examples-e5961af6-9302-4b4f-8310-3d374b83eaf6.json
  change/office-ui-fabric-react-e86c326c-133e-4777-bdaa-854f9076d040.json
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsList.base.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsList.test.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/__snapshots__/DetailsList.test.tsx.snap
  packages/react-examples/src/ComponentExamples.test.tsx
  packages/react-examples/src/office-ui-fabric-react/DetailsList/DetailsList.ColumnResize.Example.tsx
  packages/react-examples/src/office-ui-fabric-react/DetailsList/DetailsList.DragDrop.Example.tsx
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/DetailsList.Advanced.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/DetailsList.ColumnResize.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/DetailsList.CustomColumns.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/DetailsList.CustomGroupHeaders.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/DetailsList.CustomRows.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/DetailsList.Documents.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/DetailsList.DragDrop.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/Shimmer.Application.Example.tsx.shot
Labels: AutoMerge, Component: DetailsList, Fabric 7

#18858 [web components] export horizontal scroll styles
  change/@fluentui-web-components-84ffea97-106f-45eb-9b4c-a4043ce36e6a.json
  packages/web-components/docs/api-report.md
  packages/web-components/src/horizontal-scroll/index.ts
Labels: web-components

#18563 Button: Adding back block, circular, disabledFocusable and outline props and making some styling fixes
  apps/vr-tests/src/stories/ReactButton.stories.tsx
  change/@fluentui-react-bb757321-04be-4bc5-a664-06e7be097d94.json
  change/@fluentui-react-button-ba19556a-0f9b-4350-8c21-d22a9579ecd5.json
  change/@fluentui-react-examples-467c0983-fd28-4bda-864f-3466f7d8375e.json
  change/@fluentui-react-link-0efffa3c-ba21-4ef9-bf3d-2e7ae4082089.json
  packages/react-button/etc/react-button.api.md
  packages/react-button/src/components/Button/Button.types.ts
  packages/react-button/src/components/Button/useButtonState.ts
  packages/react-button/src/components/Button/useButtonStyles.ts
  packages/react-button/src/components/CompoundButton/useCompoundButtonStyles.ts
  packages/react-button/src/components/ToggleButton/useToggleButtonStyles.ts
  packages/react-examples/src/react-button/Button/Button.stories.tsx
  packages/react-link/src/components/Link/useLinkState.ts
Labels: Component: Button

#18875 fix(Tooltip): fix order of spread for trigger
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/components/Tooltip/Tooltip.tsx
Labels: Fluent UI react-northstar

#18874 fix(ChatMessage): remove compactBody default prop from ChatMessage
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/components/Chat/ChatMessage.tsx
Labels: Fluent UI react-northstar

#18876 fix: update bundle-size call in pipeline
  azure-pipelines.bundlesize.yml
  lage.config.js
Labels: Area: Build System

#18873 react-accordion - Refactor internals
  apps/vr-tests/src/stories/Accordion.stories.tsx
  change/@fluentui-react-accordion-69afd0ad-f0f8-42c9-919d-82dbed3a1276.json
  packages/react-accordion/etc/react-accordion.api.md
  packages/react-accordion/src/Accordion.stories.tsx
  packages/react-accordion/src/AccordionItem.stories.tsx
  packages/react-accordion/src/components/Accordion/Accordion.test.tsx
  packages/react-accordion/src/components/Accordion/Accordion.types.ts
  packages/react-accordion/src/components/Accordion/AccordionContext.ts
  packages/react-accordion/src/components/Accordion/index.ts
  packages/react-accordion/src/components/Accordion/renderAccordion.tsx
  packages/react-accordion/src/components/Accordion/useAccordion.test.ts
  packages/react-accordion/src/components/Accordion/useAccordion.ts
  packages/react-accordion/src/components/Accordion/useAccordionContext.ts
  packages/react-accordion/src/components/AccordionHeader/AccordionHeader.test.tsx
  packages/react-accordion/src/components/AccordionHeader/AccordionHeader.types.ts
  packages/react-accordion/src/components/AccordionHeader/AccordionHeaderContext.ts
  packages/react-accordion/src/components/AccordionHeader/AccordionHeaderExpandIcon.tsx
  packages/react-accordion/src/components/AccordionHeader/__snapshots__/AccordionHeader.test.tsx.snap
  packages/react-accordion/src/components/AccordionHeader/renderAccordionHeader.tsx
  packages/react-accordion/src/components/AccordionHeader/useAccordionHeader.ts
  packages/react-accordion/src/components/AccordionHeader/useAccordionHeaderContext.ts
  packages/react-accordion/src/components/AccordionHeader/useAccordionHeaderStyles.ts
  packages/react-accordion/src/components/AccordionItem/AccordionItem.test.tsx
  packages/react-accordion/src/components/AccordionItem/AccordionItem.types.ts
  packages/react-accordion/src/components/AccordionItem/AccordionItemContext.ts
  packages/react-accordion/src/components/AccordionItem/index.ts
  packages/react-accordion/src/components/AccordionItem/renderAccordionItem.tsx
  packages/react-accordion/src/components/AccordionItem/useAccordionItem.ts
  packages/react-accordion/src/components/AccordionItem/useAccordionItemContext.ts
  packages/react-accordion/src/components/AccordionPanel/useAccordionPanel.ts
Labels: Component: Accordion

#18859 Charting: CherryPick #18811: Fixed when chart data is empty for Stacked Bar and Multi Stacked Bar chart. #18811
  change/@uifabric-charting-a94d58fd-16ca-4a59-b797-a732006b7835.json
  packages/charting/src/components/StackedBarChart/MultiStackedBarChart.base.tsx
  packages/charting/src/components/StackedBarChart/StackedBarChart.base.tsx
Labels: Fabric 7, Package: charting

#18871 Ensure wide content fits in compact ChatMessage
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar-prototypes/src/prototypes/compactChat/CompactChatWithAuthor.tsx
  packages/fluentui/react-northstar/src/themes/teams/components/Chat/chatMessageStylesCompact.ts
Labels: Fluent UI react-northstar

#18888 Pivot: Removing circular imports
  change/@fluentui-react-323b483a-1796-4a76-8e73-cd5a41cb7600.json
  packages/react/src/components/Pivot/Pivot.base.tsx
Labels: Component: Pivot

#18802 Pass Icon 'title' as alt text for File Type Icons
  change/@fluentui-react-7eb8bada-74c0-4dff-ae1d-95b5e4e1154d.json
  change/@fluentui-react-file-type-icons-7461cda2-bfdb-439b-9e4b-d8cc535dc905.json
  change/@fluentui-style-utilities-0f42c617-f8f9-462c-9031-bffc959065e0.json
  packages/react-file-type-icons/src/getFileTypeIconProps.ts
  packages/react-file-type-icons/src/initializeFileTypeIcons.tsx
  packages/react/etc/react.api.md
  packages/react/src/components/Icon/FontIcon.tsx
  packages/react/src/components/Icon/Icon.base.tsx
  packages/style-utilities/etc/style-utilities.api.md
  packages/style-utilities/src/utilities/icons.ts
Labels: PR: API Modified, needs cherry-pick

#18898 feat(react-tabster): create :focus-within focus indicator
  change/@fluentui-react-tabster-621efb27-0dcb-437c-acf4-61e34dde919d.json
  packages/react-tabster/etc/react-tabster.api.md
  packages/react-tabster/src/hooks/useFocusIndicatorStyle.ts
  packages/react-tabster/src/symbols.ts
Labels: Component: Pivot

#18893 fix: close popup when click happens in a iframe
  packages/fluentui/e2e/tests/popupIframeDismiss-example.tsx
  packages/fluentui/e2e/tests/popupIframeDismiss.spec.ts
  packages/fluentui/react-bindings/src/hooks/useIFrameFocusDispatch.ts
  packages/fluentui/react-bindings/src/hooks/useIFrameListener.ts
  packages/fluentui/react-bindings/src/hooks/useOnIFrameFocus.ts
  packages/fluentui/react-bindings/src/index.ts
  packages/fluentui/react-northstar/src/components/Menu/MenuItem.tsx
  packages/fluentui/react-northstar/src/components/MenuButton/MenuButton.tsx
  packages/fluentui/react-northstar/src/components/Popup/Popup.tsx
  packages/fluentui/react-northstar/src/components/Tooltip/Tooltip.tsx
Labels: Fluent UI react-northstar

#18880 Custom Accessibility Change for Grouped Vertical Bar Chart
  change/@fluentui-react-charting-1951da9b-ced2-41a4-94f8-91e690c1b727.json
  change/@fluentui-react-examples-9806a281-e8d3-422d-bc63-9b1e1b13828f.json
  packages/react-charting/src/components/GroupedVerticalBarChart/GroupedVerticalBarChart.base.tsx
  packages/react-charting/src/components/GroupedVerticalBarChart/__snapshots__/GroupedVerticalBarChart.test.tsx.snap
  packages/react-charting/src/types/IDataPoint.ts
  packages/react-charting/src/utilities/utilities.ts
  packages/react-examples/src/react-charting/GroupedVerticalBarChart/GroupedVerticalBarChart.CustomAccessibility.Example.tsx
  packages/react-examples/src/react-charting/GroupedVerticalBarChart/GroupedVerticalBarChartPage.tsx
Labels: Package: charting

#18890 Fix ComboBox ariaLabel to propagate to the listbox element [v8]
  change/@fluentui-react-101dd3b5-b031-4d5c-8c53-09fe8259aaab.json
  packages/react/src/components/ComboBox/ComboBox.test.tsx
  packages/react/src/components/ComboBox/ComboBox.tsx
Labels: Area: Accessibility, Component: ComboBox, Priority 2: Normal

#18891 Fix ComboBox ariaLabel to propagate to the listbox element [v7]
  change/office-ui-fabric-react-fafaf7ee-bd23-4373-a5fb-7f636d983286.json
  packages/office-ui-fabric-react/src/components/ComboBox/ComboBox.test.tsx
  packages/office-ui-fabric-react/src/components/ComboBox/ComboBox.tsx
Labels: Area: Accessibility, Component: ComboBox, Priority 2: Normal

#18841 Fix Timestamp colors for dark and both v2 themes
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/themes/teams-dark-v2/componentVariables.ts
  packages/fluentui/react-northstar/src/themes/teams-dark-v2/components/Chat/chatMessageVariables.ts
  packages/fluentui/react-northstar/src/themes/teams-dark-v2/components/Text/textVariables.ts
  packages/fluentui/react-northstar/src/themes/teams-dark/components/Chat/chatMessageVariables.ts
  packages/fluentui/react-northstar/src/themes/teams-dark/components/Text/textVariables.ts
  packages/fluentui/react-northstar/src/themes/teams-high-contrast/components/Chat/chatMessageVariables.ts
  packages/fluentui/react-northstar/src/themes/teams-v2/componentVariables.ts
  packages/fluentui/react-northstar/src/themes/teams-v2/components/Chat/chatMessageVariables.ts
  packages/fluentui/react-northstar/src/themes/teams-v2/components/Text/textVariables.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Chat/chatMessageStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Chat/chatMessageStylesComfy.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Chat/chatMessageVariables.ts
Labels: Fluent UI react-northstar

#18910 (web-components) Added attribute to allow easy update to the neutral palette
  change/@fluentui-web-components-8a9cc6d7-2c34-4d9f-b857-879152c51e5c.json
  packages/web-components/docs/api-report.md
  packages/web-components/src/design-system-provider/index.ts
Labels: web-components

#18920 Update API Extractor (take 2)
  change/@fluentui-react-menu-9f69c48c-2d36-4e66-99eb-f2bcdb6ceac7.json
  change/@fluentui-web-components-aaee48bb-ff64-498f-b3e4-1d3b0a1568f7.json
  package.json
  packages/api-docs/package.json
  packages/react-menu/src/components/Menu/Menu.types.ts
  packages/web-components/docs/api-report.md
  packages/web-components/package.json
  yarn.lock
Labels: Area: Build System

#18922 [web-components] add attr for changing accent base color on design system provider
  change/@fluentui-web-components-876829c2-6a54-4777-9c1f-a007225a458a.json
  packages/web-components/docs/api-report.md
  packages/web-components/src/design-system-provider/index.ts
Labels: web-components

#18889 react-label: Adding line-height to Label styles.
  change/@fluentui-react-label-f014e0d5-aff1-4792-9956-2e1dcfc67ed0.json
  packages/react-label/src/components/Label/useLabelStyles.ts
Labels: Component: Label

#18925 Make tests work if repo is under a parent folder called src
  change/@fluentui-react-conformance-8bc87a4a-e3fd-4c34-8385-dd89b6458570.json
  packages/react-conformance/src/defaultTests.tsx
  packages/react-examples/src/ComponentExamples.test.tsx
Labels: Area: Testing

#18926 Include website packages in the release build
  scripts/monorepo/runPublished.js
Labels: Area: Build System

#18853 Set Id correctly when contextualMenuSection's title is an IContextualMenuItem
  change/@fluentui-react-c026b72f-794c-4564-a877-dd2019858d78.json
  packages/react/src/components/ContextualMenu/ContextualMenu.base.tsx
Labels: Component: ContextualMenu

#18852 Set Id correctly when contextualMenuSection's title is an IContextualMenuItem
  change/office-ui-fabric-react-6cb0fb86-3b85-434a-b698-8d193a7375dd.json
  packages/office-ui-fabric-react/src/components/ContextualMenu/ContextualMenu.base.tsx
Labels: Component: ContextualMenu, Fabric 7, needs cherry-pick

#18919 chore: update Webpack to latest
  package.json
  packages/fluentui/digest/package.json
  scripts/webpack/webpack.config.e2e.ts
  yarn.lock
Labels: Area: Build System

#18934 fix(menu item): Adding back data-is-focusable attribute
  packages/fluentui/accessibility/src/behaviors/Menu/menuItemBehavior.ts
  packages/fluentui/accessibility/src/behaviors/Tab/tabBehavior.ts
  packages/fluentui/accessibility/src/behaviors/Toolbar/menuItemAsToolbarButtonBehavior.ts
Labels: Fluent UI react-northstar

#18937 chore: fix "variables.isPR" condition in azure-pipelines.bundlesize.yml
  azure-pipelines.bundlesize.yml
Labels: Area: Build System

#18513 refactor(react-popover): apply controls setup based on SB authoring RFC
  .github/CODEOWNERS
  .storybook/preview.js
  change/@fluentui-react-popover-bc78ecd6-737f-4918-a194-1e54e3645c5a.json
  packages/react-popover/.storybook/preview.js
  packages/react-popover/src/Popover.stories.tsx
  packages/react-popover/tsconfig.json
  tools/generators/migrate-converged-pkg/index.spec.ts
  tools/generators/migrate-converged-pkg/index.ts
  typings/storybook__addons/index.d.ts
Labels: Area: Build System, Storybook

#18940 chore(changelog): Adding back data-is-focusable attribute
  packages/fluentui/CHANGELOG.md
Labels: Fluent UI react-northstar

#18861 fix(react-utilities): simplify prop merging in getSlots()
  change/@fluentui-react-accordion-0b135005-6cc1-41a0-a5de-6215eb218e8a.json
  change/@fluentui-react-aria-1f16cbec-6a5c-441c-b31e-aba2558004cf.json
  change/@fluentui-react-utilities-6021096a-5846-499b-a218-b2aeab1e7738.json
  packages/react-accordion/etc/react-accordion.api.md
  packages/react-accordion/src/components/AccordionHeader/AccordionHeader.types.ts
  packages/react-accordion/src/components/AccordionHeader/useAccordionHeader.ts
  packages/react-aria/etc/react-aria.api.md
  packages/react-aria/src/hooks/useARIAButton.stories.tsx
  packages/react-aria/src/hooks/useARIAButton.test.tsx
  packages/react-aria/src/hooks/useARIAButton.ts
  packages/react-utilities/etc/react-utilities.api.md
  packages/react-utilities/src/compose/getSlots.test.tsx
  packages/react-utilities/src/compose/getSlots.ts
  packages/react-utilities/src/compose/resolveShorthand.ts
  packages/react-utilities/src/compose/types.ts
Labels: Fluent UI vNext

#18927 Switch to use existing sandbox as template for codesandbox CI
  .codesandbox/ci.json
  apps/codesandbox-react-northstar-template/.eslintrc.json
  apps/codesandbox-react-northstar-template/CHANGELOG.json
  apps/codesandbox-react-northstar-template/CHANGELOG.md
  apps/codesandbox-react-northstar-template/just.config.ts
  apps/codesandbox-react-northstar-template/package.json
  apps/codesandbox-react-northstar-template/src/index.tsx
  apps/codesandbox-react-northstar-template/tsconfig.json
  apps/codesandbox-react-template/.eslintrc.json
  apps/codesandbox-react-template/CHANGELOG.json
  apps/codesandbox-react-template/CHANGELOG.md
  apps/codesandbox-react-template/just.config.ts
  apps/codesandbox-react-template/package.json
  apps/codesandbox-react-template/src/index.tsx
  apps/codesandbox-react-template/tsconfig.json
  nx.json
  package.json
  workspace.json
Labels: Area: Build System

#18928 Accessibility fixes for react-docsite-components
  change/@fluentui-react-docsite-components-29e0e38f-097a-4cbf-bf10-85b2eb331511.json
  packages/react-docsite-components/src/components/App/App.tsx
  packages/react-docsite-components/src/components/FeedbackList/FeedbackList.styles.ts
  packages/react-docsite-components/src/components/Header/Header.tsx
  packages/react-docsite-components/src/components/PropertiesTable/PropertiesTable.tsx
Labels: Area: Accessibility, Area: Website, Package: react-docsite-components

#18884 Prevent tooltip from showing on tab switch for the focused element [v8]
  change/@fluentui-react-e175b02f-9a97-4775-81a2-30f594f3ae69.json
  packages/react/src/components/Tooltip/TooltipHost.base.tsx
Labels: Component: Tooltip

#18948 update foundation version to fix token typings
  change/@fluentui-web-components-1cd186c6-5c38-4758-accc-eadbd613d930.json
  packages/web-components/package.json
  yarn.lock
Labels: web-components

#18909 Adding focus styles to TextField's `canRevealPassword` eye button
  change/@fluentui-react-b34c7428-3beb-4310-8047-6b2c188cd404.json
  packages/react-examples/src/react/__snapshots__/TextField.Basic.Example.tsx.shot
  packages/react/src/components/TextField/TextField.styles.tsx
  packages/react/src/components/TextField/__snapshots__/TextField.test.tsx.snap
Labels: Area: Accessibility, Component: TextField

#18866 react-avatar: migration to new DX
  change/@fluentui-react-avatar-cfc81652-43b6-45e0-a231-4ae3f52e51f1.json
  jest.config.js
  nx.json
  packages/react-avatar/.storybook/main.js
  packages/react-avatar/.storybook/preview.js
  packages/react-avatar/.storybook/tsconfig.json
  packages/react-avatar/config/api-extractor.json
  packages/react-avatar/config/api-extractor.local.json
  packages/react-avatar/etc/react-avatar.api.md
  packages/react-avatar/jest.config.js
  packages/react-avatar/package.json
  packages/react-avatar/src/Avatar.stories.tsx
  packages/react-avatar/src/AvatarExamples.stories.tsx
  packages/react-avatar/src/StoryExample.stories.tsx
  packages/react-avatar/src/tmp-icons.stories.tsx
  packages/react-avatar/tsconfig.json
  packages/react-examples/package.json
  tsconfig.base.json
  workspace.json
Labels: Area: Build System, Component: Avatar, Fluent UI vNext

#18778 Text - Reusable make-styles rules
  packages/react-text/Spec.md
  packages/react-text/etc/react-text.api.md
  packages/react-text/src/components/Text/Text.test.tsx
  packages/react-text/src/index.ts
  packages/react-text/src/typographyStyles.ts
  packages/react-text/src/typographyStyles/index.ts
  packages/react-text/src/typographyStyles/typographyStyles.test.ts
  packages/react-text/src/typographyStyles/typographyStyles.ts
  packages/react-text/tsconfig.json
Labels: Component: Text

#18817 RFC: Simplified component structure for react-text wrappers
  packages/react-text/etc/react-text.api.md
  packages/react-text/src/Display.ts
  packages/react-text/src/Text.stories.tsx
  packages/react-text/src/TextWrappers.stories.mdx
  packages/react-text/src/components/Display/Display.test.tsx
  packages/react-text/src/components/Display/Display.tsx
  packages/react-text/src/components/Display/Display.types.ts
  packages/react-text/src/components/Display/__snapshots__/Display.test.tsx.snap
  packages/react-text/src/components/Display/index.ts
  packages/react-text/src/index.ts
Labels: Component: Text, Type: RFC

#18950 fix(ChatMessage): pass popperRef from actionMenu to usePopper
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/components/Chat/ChatMessage.tsx
Labels: Fluent UI react-northstar

#18958 (web-components) Fixed ability to set palette base color on DSP
  change/@fluentui-web-components-ecc6dedb-e591-44e9-b8f3-e237d8bdbd24.json
  packages/web-components/src/card/fixtures/card.html
  packages/web-components/src/design-system-provider/index.ts
Labels: web-components

#18955 Fix styles debugging throw error under dev environment
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-bindings/src/styles/resolveStyles.ts
Labels: Fluent UI react-northstar

#18961 [web-components] add definition files for Fluent UI Web Components
  change/@fluentui-web-components-b2c089bc-fb30-4667-9995-0d46720e6f35.json
  packages/web-components/src/accordion/accordion-item/accordion-item.vscode.definition.json
  packages/web-components/src/accordion/accordion.vscode.definition.json
  packages/web-components/src/anchor/anchor.vscode.definition.json
  packages/web-components/src/anchored-region/anchored-region.vscode.definition.json
  packages/web-components/src/badge/badge.vscode.definition.json
  packages/web-components/src/breadcrumb-item/breadcrumb-item.vscode.definition.json
  packages/web-components/src/breadcrumb/breadcrumb.vscode.definition.json
  packages/web-components/src/button/button.vscode.definition.json
  packages/web-components/src/card/card.vscode.definition.json
  packages/web-components/src/checkbox/checkbox.vscode.definition.json
  packages/web-components/src/combobox/combobox.vscode.definition.json
  packages/web-components/src/component-definitions.js
  packages/web-components/src/data-grid/data-grid-cell.vscode.definition.json
  packages/web-components/src/data-grid/data-grid-row.vscode.definition.json
  packages/web-components/src/data-grid/data-grid.vscode.definition.json
  packages/web-components/src/design-system-provider/design-system-provider.vscode.definition.json
  packages/web-components/src/dialog/dialog.vscode.definition.json
  packages/web-components/src/divider/divider.vscode.definition.json
  packages/web-components/src/flipper/flipper.vscode.definition.json
  packages/web-components/src/horizontal-scroll/horizontal-scroll.vscode.definition.json
  packages/web-components/src/listbox-option/listbox-option.vscode.definition.json
  packages/web-components/src/listbox/listbox.vscode.definition.json
  packages/web-components/src/menu-item/menu-item.vscode.definition.json
  packages/web-components/src/menu/menu.vscode.definition.json
  packages/web-components/src/number-field/number-field.vscode.definition.json
  packages/web-components/src/progress/progress-ring/progress-ring.vscode.definition.json
  packages/web-components/src/progress/progress/progress.vscode.definition.json
  packages/web-components/src/radio-group/radio-group.vscode.definition.json
  packages/web-components/src/radio/radio.vscode.definition.json
  packages/web-components/src/select/select.vscode.definition.json
  packages/web-components/src/skeleton/skeleton.vscode.definition.json
  packages/web-components/src/slider-label/slider-label.vscode.definition.json
  packages/web-components/src/slider/slider.vscode.definition.json
  packages/web-components/src/switch/switch.vscode.definition.json
  packages/web-components/src/tabs/tab-panel/tab-panel.vscode.definition.json
  packages/web-components/src/tabs/tab/tab.vscode.definition.json
  packages/web-components/src/tabs/tabs.vscode.definition.json
  packages/web-components/src/text-area/text-area.vscode.definition.json
  packages/web-components/src/text-field/text-field.vscode.definition.json
  packages/web-components/src/tooltip/tooltip.vscode.definition.json
  packages/web-components/src/tree-item/tree-item.vscode.definition.json
  packages/web-components/src/tree-view/tree-view.vscode.definition.json
Labels: web-components

#18946 Add Screener test for Chat for V2 themes
  packages/fluentui/docs/src/examples/components/Chat/Content/ChatExampleActions.shorthand.steps.ts
  packages/fluentui/docs/src/examples/components/Chat/Content/ChatExampleReactionGroupMeReacting.shorthand.steps.ts
  packages/fluentui/docs/src/examples/components/Chat/Types/ChatExample.shorthand.steps.ts
  packages/fluentui/docs/src/examples/components/Chat/Types/ChatExampleCompact.shorthand.steps.ts
  packages/fluentui/docs/src/examples/components/Chat/Types/ChatExampleDetails.shorthand.steps.ts
  packages/fluentui/docs/src/examples/components/Chat/Types/ChatMessageExampleBadge.shorthand.steps.ts
  scripts/screener/screener.types.ts
Labels: Fluent UI react-northstar

#18962 [web-components] provide single export for registering all components
  change/@fluentui-web-components-5b70f806-b7c7-495b-b150-1c7d0c114047.json
  packages/web-components/docs/api-report.md
  packages/web-components/src/custom-elements.ts
  packages/web-components/src/index-rollup.ts
Labels: web-components

#18868 (Testing) - Enabling component-handles-ref conformance test in Callout
  change/@fluentui-react-78d23b5a-6702-4aa7-82a1-f37fc17cb17d.json
  packages/react/src/components/Callout/Callout.test.tsx
Labels: Component: Callout

#18918 feat: add Webpack loader for makeStyles
  change/@fluentui-make-styles-webpack-loader-6d4058e2-bf6d-4384-bff2-738e49bcbdc8.json
  package.json
  packages/make-styles-webpack-loader/.eslintrc.json
  packages/make-styles-webpack-loader/__fixtures__/error-argument-count/code.ts
  packages/make-styles-webpack-loader/__fixtures__/error-argument-count/error.ts
  packages/make-styles-webpack-loader/__fixtures__/error-syntax/code.txt
  packages/make-styles-webpack-loader/__fixtures__/error-syntax/error.ts
  packages/make-styles-webpack-loader/__fixtures__/function/code.ts
  packages/make-styles-webpack-loader/__fixtures__/function/output.ts
  packages/make-styles-webpack-loader/__fixtures__/object/code.ts
  packages/make-styles-webpack-loader/__fixtures__/object/output.ts
  packages/make-styles-webpack-loader/__fixtures__/webpack-aliases/code.ts
  packages/make-styles-webpack-loader/__fixtures__/webpack-aliases/color.ts
  packages/make-styles-webpack-loader/__fixtures__/webpack-aliases/output.ts
  packages/make-styles-webpack-loader/config/tests.js
  packages/make-styles-webpack-loader/jest.config.js
  packages/make-styles-webpack-loader/package.json
  packages/make-styles-webpack-loader/src/index.ts
  packages/make-styles-webpack-loader/src/transformSync.ts
  packages/make-styles-webpack-loader/src/webpackLoader.test.ts
  packages/make-styles-webpack-loader/src/webpackLoader.ts
  packages/make-styles-webpack-loader/tsconfig.json
  yarn.lock
Labels: Fluent UI vNext

#18973 fix(babel-make-styles): handle member expressions
  change/@fluentui-babel-make-styles-068419f3-6b78-4423-af67-3838915e422e.json
  packages/babel-make-styles/__fixtures__/object-mixins/code.ts
  packages/babel-make-styles/__fixtures__/object-mixins/mixins.ts
  packages/babel-make-styles/__fixtures__/object-mixins/output.ts
  packages/babel-make-styles/src/plugin.ts
Labels: Fluent UI vNext

#18982 Fixes broken CSS selectors and disables prettier for web component styles.
  .prettierignore
  change/@fluentui-web-components-503d403b-8899-41f6-b443-9f2ad0e4d476.json
  packages/web-components/package.json
  packages/web-components/src/accordion/accordion-item/accordion-item.styles.ts
  packages/web-components/src/card/card.styles.ts
  packages/web-components/src/menu/menu.styles.ts
  packages/web-components/src/progress/progress-ring/progress-ring.styles.ts
  packages/web-components/src/styles/patterns/button.styles.ts
  packages/web-components/src/styles/patterns/index.ts
  packages/web-components/src/tabs/tab/tab.styles.ts
  packages/web-components/src/tabs/tabs.styles.ts
  packages/web-components/src/tree-item/tree-item.styles.ts
Labels: web-components

#18985 [web-components] add tsconfig for component definitions
  change/@fluentui-web-components-e5533078-ff5c-4edf-9033-3072ce52fa2c.json
  packages/web-components/tsconfig.json
Labels: web-components

#18965 Re-introduce old Card for compatibility
  .github/CODEOWNERS
  change/@fluentui-react-cards-882d6e7e-95e3-47a3-893b-a54591c547a2.json
  nx.json
  packages/react-cards/.eslintrc.json
  packages/react-cards/.npmignore
  packages/react-cards/.npmrc
  packages/react-cards/CHANGELOG.json
  packages/react-cards/CHANGELOG.md
  packages/react-cards/LICENSE
  packages/react-cards/README.md
  packages/react-cards/config/api-extractor.json
  packages/react-cards/config/tests.js
  packages/react-cards/etc/react-cards.api.md
  packages/react-cards/jest.config.js
  packages/react-cards/just.config.ts
  packages/react-cards/package.json
  packages/react-cards/src/Card.ts
  packages/react-cards/src/components/Card/Card.styles.ts
  packages/react-cards/src/components/Card/Card.ts
  packages/react-cards/src/components/Card/Card.types.ts
  packages/react-cards/src/components/Card/Card.view.test.tsx
  packages/react-cards/src/components/Card/Card.view.tsx
  packages/react-cards/src/components/Card/CardItem/CardItem.styles.ts
  packages/react-cards/src/components/Card/CardItem/CardItem.test.tsx
  packages/react-cards/src/components/Card/CardItem/CardItem.ts
  packages/react-cards/src/components/Card/CardItem/CardItem.types.ts
  packages/react-cards/src/components/Card/CardItem/CardItem.view.tsx
  packages/react-cards/src/components/Card/CardItem/__snapshots__/CardItem.test.tsx.snap
  packages/react-cards/src/components/Card/CardSection/CardSection.styles.ts
  packages/react-cards/src/components/Card/CardSection/CardSection.test.tsx
  packages/react-cards/src/components/Card/CardSection/CardSection.ts
  packages/react-cards/src/components/Card/CardSection/CardSection.types.ts
  packages/react-cards/src/components/Card/CardSection/CardSection.view.tsx
  packages/react-cards/src/components/Card/CardSection/__snapshots__/CardSection.test.tsx.snap
  packages/react-cards/src/components/Card/__snapshots__/Card.view.test.tsx.snap
  packages/react-cards/src/components/Card/index.ts
  packages/react-cards/src/index.ts
  packages/react-cards/src/version.ts
  packages/react-cards/tsconfig.json
  packages/react-cards/webpack.config.js
  packages/react-examples/.storybook/preview.js
  packages/react-examples/package.json
  packages/react-examples/src/react-cards/Card/Card.Configure.Example.tsx
  packages/react-examples/src/react-cards/Card/Card.Horizontal.Example.tsx
  packages/react-examples/src/react-cards/Card/Card.Vertical.Example.tsx
  workspace.json
Labels: Component: Card, Version 8 release

#18986 Add docs about localized strings for Calendar, DatePicker, ColorPicker
  packages/react-examples/src/react/Calendar/Calendar.Button.Example.tsx
  packages/react-examples/src/react/Calendar/Calendar.Inline.ContiguousWorkWeekDays.Example.tsx
  packages/react-examples/src/react/Calendar/Calendar.Inline.CustomDayCellRef.Example.tsx
  packages/react-examples/src/react/Calendar/Calendar.Inline.DateBoundaries.Example.tsx
  packages/react-examples/src/react/Calendar/Calendar.Inline.Example.tsx
  packages/react-examples/src/react/Calendar/Calendar.Inline.MarkedDays.Example.tsx
  packages/react-examples/src/react/Calendar/Calendar.Inline.MonthOnly.Example.tsx
  packages/react-examples/src/react/Calendar/Calendar.Inline.MonthSelection.Example.tsx
  packages/react-examples/src/react/Calendar/Calendar.Inline.MultidayDayView.Example.tsx
  packages/react-examples/src/react/Calendar/Calendar.Inline.NonContiguousWorkWeekDays.Example.tsx
  packages/react-examples/src/react/Calendar/Calendar.Inline.OverlaidMonthPicker.Example.tsx
  packages/react-examples/src/react/Calendar/Calendar.Inline.SixWeeks.tsx
  packages/react-examples/src/react/Calendar/Calendar.Inline.WeekNumbers.Example.tsx
  packages/react-examples/src/react/Calendar/Calendar.Inline.WeekSelection.Example.tsx
  packages/react-examples/src/react/Calendar/docs/CalendarBestPractices.md
  packages/react-examples/src/react/ColorPicker/docs/ColorPickerBestPractices.md
  packages/react-examples/src/react/DatePicker/DatePicker.Basic.Example.tsx
  packages/react-examples/src/react/DatePicker/DatePicker.Bounded.Example.tsx
  packages/react-examples/src/react/DatePicker/DatePicker.Disabled.Example.tsx
  packages/react-examples/src/react/DatePicker/DatePicker.ExternalControls.Example.tsx
  packages/react-examples/src/react/DatePicker/DatePicker.Format.Example.tsx
  packages/react-examples/src/react/DatePicker/DatePicker.Input.Example.tsx
  packages/react-examples/src/react/DatePicker/DatePicker.Required.Example.tsx
  packages/react-examples/src/react/DatePicker/DatePicker.WeekNumbers.Example.tsx
  packages/react-examples/src/react/DatePicker/docs/DatePickerBestPractices.md
Labels: Area: Documentation, Component: Calendar, Component: ColorPicker, Component: DatePicker

#18957 Website and legacy demo: delete unused files and other minor cleanup
  apps/public-docsite/src/components/ComponentPage/ComponentPage.tsx
  apps/public-docsite/src/components/Nav/Nav.tsx
  apps/public-docsite/src/styles/mixins.ts
  change/@fluentui-react-docsite-components-61ff91eb-f44b-44bf-8ebd-a7558fc0a646.json
  packages/react-docsite-components/src/index.demo.tsx
  packages/react-docsite-components/src/styles/_base.scss
  packages/react-docsite-components/src/styles/_overrides.scss
  packages/react-docsite-components/src/styles/_reset.scss
  packages/react-docsite-components/src/styles/_typography.scss
  packages/react-docsite-components/src/styles/styles.scss
  packages/react-docsite-components/src/styles/theme.ts
  packages/react-examples/src/react/ActivityItem/docs/ActivityItemBestPractices.md
  packages/react-examples/src/react/Coachmark/docs/CoachmarkBestPractices.md
  packages/react-examples/src/react/FloatingPeoplePicker/FloatingPeoplePicker.doc.tsx
  packages/react-examples/src/react/PeoplePicker/PeoplePicker.doc.tsx
  packages/react-examples/src/react/SelectedPeopleList/SelectedPeopleList.doc.tsx
  packages/react-examples/src/react/WeeklyDayPicker/WeeklyDayPickerPage.tsx
Labels: Area: Website, Package: react-docsite-components

#18964 Docs only: add Combobox example and a11y docs for using doNotLayer on callout
  packages/react-examples/src/react/ComboBox/ComboBox.Inline.Example.tsx
  packages/react-examples/src/react/ComboBox/ComboBox.doc.tsx
  packages/react-examples/src/react/ComboBox/docs/ComboBoxBestPractices.md
  packages/react-examples/src/react/__snapshots__/ComboBox.Inline.Example.tsx.shot
Labels: Area: Website

#18976 Fixed hover styles for Splitbutton Toggle button part (chevron)
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/themes/teams/components/SplitButton/splitButtonToggleStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/SplitButton/splitButtonVariables.ts
Labels: Fluent UI react-northstar

#18995 fix(babel-make-styles): handle cases when MemberExpression is a function
  change/@fluentui-babel-make-styles-f0d2c1aa-81bc-4c9c-9dfa-1652c666667c.json
  packages/babel-make-styles/__fixtures__/object-mixins/code.ts
  packages/babel-make-styles/__fixtures__/object-mixins/mixins.ts
  packages/babel-make-styles/__fixtures__/object-mixins/output.ts
  packages/babel-make-styles/src/utils/evaluatePathsInVM.test.ts
  packages/babel-make-styles/src/utils/evaluatePathsInVM.ts
Labels: Fluent UI vNext

#18992 chore: bump @linaria/babel-preset & @linaria/shaker
  change/@fluentui-babel-make-styles-31db43f1-c89d-4d23-a682-33f8006d4b62.json
  change/@fluentui-make-styles-webpack-loader-24c43fb8-8c0d-4302-8082-04ab02e79c5e.json
  packages/babel-make-styles/package.json
  packages/babel-make-styles/src/plugin.ts
  packages/babel-make-styles/src/utils/evaluatePathsInVM.ts
  packages/make-styles-webpack-loader/package.json
  packages/make-styles-webpack-loader/src/webpackLoader.ts
  yarn.lock
Labels: Fluent UI vNext

#18607 Button: Migrate react-button to new DX
  change/@fluentui-react-button-1b2e69bc-f82f-49a8-a211-b843e3bef591.json
  change/@fluentui-react-examples-28ae56c7-be37-496c-a550-ccfd1b3180c6.json
  jest.config.js
  nx.json
  packages/react-button/.storybook/main.js
  packages/react-button/.storybook/preview.js
  packages/react-button/.storybook/tsconfig.json
  packages/react-button/config/api-extractor.local.json
  packages/react-button/jest.config.js
  packages/react-button/package.json
  packages/react-button/src/Button.stories.tsx
  packages/react-button/src/CompoundButton.stories.tsx
  packages/react-button/src/MenuButton.stories.tsx
  packages/react-button/src/Playground.stories.tsx
  packages/react-button/src/Playground.types.stories.ts
  packages/react-button/src/ToggleButton.stories.tsx
  packages/react-button/src/buttonBaseProps.stories.ts
  packages/react-button/src/components/CompoundButton/useCompoundButtonStyles.ts
  packages/react-button/src/tmp-components.stories.tsx
  packages/react-button/tsconfig.json
  packages/react-examples/package.json
  tsconfig.base.json
  workspace.json
Labels: AutoMerge, PR: API Modified

#18984 fix(Dropdown): fix openOnFocus dropdowns' close/re-open cycle, remove auto-added title attribute
  change/@fluentui-react-3af54bdf-3a82-4afc-9fe2-175a6705db0c.json
  packages/react/src/components/Dropdown/Dropdown.base.tsx
  packages/react/src/components/Dropdown/Dropdown.test.tsx
  packages/react/src/components/Dropdown/__snapshots__/Dropdown.test.tsx.snap
Labels: Area: Accessibility, Component: Dropdown

#19017 chore: enable test for Emotion renderer in N*
  packages/fluentui/react-northstar-emotion-renderer/test/emotionRenderer-test.ts
Labels: Fluent UI react-northstar

#18970 chore: add bundle size fixtures for converged components
  change/@fluentui-react-accordion-d53c34c3-050f-48bb-b846-55b67f20461e.json
  change/@fluentui-react-avatar-619c1c28-65b3-40c2-a6ff-da67ad6e5c65.json
  change/@fluentui-react-badge-76207d1a-f8b1-4a54-a8cc-0c0e4ce494dd.json
  change/@fluentui-react-button-a13dfcdb-c462-4810-acd7-8def41be06a2.json
  change/@fluentui-react-components-7ccf19c6-365a-4925-82d8-ffcf86b1397d.json
  change/@fluentui-react-label-b89f09a3-f4df-4ec4-8f52-bbf7b70b5229.json
  change/@fluentui-react-link-fa384405-297e-4c66-9538-cc63d7d93f9e.json
  change/@fluentui-react-menu-7425fea9-3512-4bd5-9bc1-fa5c3a220d6d.json
  change/@fluentui-react-portal-d75aa864-6d31-449d-b513-b7bb5733fb94.json
  change/@fluentui-react-positioning-ffbe8c35-45a6-40e1-95de-f8c0c5482b4b.json
  change/@fluentui-react-provider-7975b6b8-3f8a-48b4-8155-255d6085d06e.json
  change/@fluentui-react-tooltip-f4da5bb7-703a-4e09-aa91-16748adc9bde.json
  change/@fluentui-react-utilities-728d555e-d087-4b7e-9f68-ae57ca7370a9.json
  packages/react-accordion/bundle-size/Accordion.fixture.js
  packages/react-accordion/package.json
  packages/react-avatar/bundle-size/Avatar.fixture.js
  packages/react-avatar/package.json
  packages/react-badge/bundle-size/Badge.fixture.js
  packages/react-badge/bundle-size/CounterBadge.fixture.js
  packages/react-badge/bundle-size/PresenseBadge.fixture.js
  packages/react-badge/package.json
  packages/react-button/bundle-size/Button.fixture.js
  packages/react-button/bundle-size/CompoundButton.fixture.js
  packages/react-button/bundle-size/MenuButton.fixture.js
  packages/react-button/bundle-size/ToggleButton.fixture.js
  packages/react-button/package.json
  packages/react-components/bundle-size/MultipleComponents.fixture.js
  packages/react-components/bundle-size/ProviderAndTheme.fixture.js
  packages/react-components/package.json
  packages/react-label/bundle-size/Label.fixture.js
  packages/react-label/package.json
  packages/react-link/bundle-size/Label.fixture.js
  packages/react-link/package.json
  packages/react-menu/bundle-size/Menu.Selectable.fixture.js
  packages/react-menu/bundle-size/Menu.fixture.js
  packages/react-portal/bundle-size/Portal.fixture.js
  packages/react-portal/package.json
  packages/react-positioning/bundle-size/usePopper.fixture.js
  packages/react-positioning/package.json
  packages/react-provider/bundle-size/FluentProvider.fixture.js
  packages/react-provider/package.json
  packages/react-tooltip/bundle-size/Tooltip.fixture.js
  packages/react-tooltip/package.json
  packages/react-utilities/bundle-size/SSRProvider.fixture.js
  packages/react-utilities/package.json
Labels: Fluent UI vNext

#19019 fix(Carousel): fix navigation item click
  packages/fluentui/CHANGELOG.md
  packages/fluentui/e2e/tests/carouselClickableContent-example.tsx
  packages/fluentui/e2e/tests/carouselClickableContent.spec.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Carousel/carouselNavigationStyles.ts
Labels: Fluent UI react-northstar

#18971 chore: remove SizeAuditor task for @fluentui/react-components
  apps/test-bundles/webpack.config.js
  apps/test-bundles/webpackUtils.js
  azure-pipelines.bundlesize.yml
Labels: Area: Build System

#19021 fix(react-examples): remove using v8 deps when bundling vNext ReactCo…
  packages/react-examples/.storybook/preview.js
Labels: Area: Website

#18956 Text - Typography wrappers
  packages/react-text/bundle-size/Text.Default.fixture.js
  packages/react-text/bundle-size/Text.Wrappers.fixture.js
  packages/react-text/etc/react-text.api.md
  packages/react-text/src/Body.ts
  packages/react-text/src/Caption.ts
  packages/react-text/src/Headline.ts
  packages/react-text/src/LargeTitle.ts
  packages/react-text/src/Subheadline.ts
  packages/react-text/src/TextWrappers.stories.mdx
  packages/react-text/src/Title1.ts
  packages/react-text/src/Title2.ts
  packages/react-text/src/Title3.ts
  packages/react-text/src/components/Body/Body.test.tsx
  packages/react-text/src/components/Body/Body.tsx
  packages/react-text/src/components/Body/__snapshots__/Body.test.tsx.snap
  packages/react-text/src/components/Body/index.ts
  packages/react-text/src/components/Caption/Caption.test.tsx
  packages/react-text/src/components/Caption/Caption.tsx
  packages/react-text/src/components/Caption/__snapshots__/Caption.test.tsx.snap
  packages/react-text/src/components/Caption/index.ts
  packages/react-text/src/components/Display/Display.tsx
  packages/react-text/src/components/Display/Display.types.ts
  packages/react-text/src/components/Display/index.ts
  packages/react-text/src/components/Headline/Headline.test.tsx
  packages/react-text/src/components/Headline/Headline.tsx
  packages/react-text/src/components/Headline/__snapshots__/Headline.test.tsx.snap
  packages/react-text/src/components/Headline/index.ts
  packages/react-text/src/components/LargeTitle/LargeTitle.test.tsx
  packages/react-text/src/components/LargeTitle/LargeTitle.tsx
  packages/react-text/src/components/LargeTitle/__snapshots__/LargeTitle.test.tsx.snap
  packages/react-text/src/components/LargeTitle/index.ts
  packages/react-text/src/components/Subheadline/Subheadline.test.tsx
  packages/react-text/src/components/Subheadline/Subheadline.tsx
  packages/react-text/src/components/Subheadline/__snapshots__/Subheadline.test.tsx.snap
  packages/react-text/src/components/Subheadline/index.ts
  packages/react-text/src/components/Title1/Title1.test.tsx
  packages/react-text/src/components/Title1/Title1.tsx
  packages/react-text/src/components/Title1/__snapshots__/Title1.test.tsx.snap
  packages/react-text/src/components/Title1/index.ts
  packages/react-text/src/components/Title2/Title2.test.tsx
  packages/react-text/src/components/Title2/Title2.tsx
  packages/react-text/src/components/Title2/__snapshots__/Title2.test.tsx.snap
  packages/react-text/src/components/Title2/index.ts
  packages/react-text/src/components/Title3/Title3.test.tsx
  packages/react-text/src/components/Title3/Title3.tsx
  packages/react-text/src/components/Title3/__snapshots__/Title3.test.tsx.snap
  packages/react-text/src/components/Title3/index.ts
  packages/react-text/src/components/wrapper.tsx
  packages/react-text/src/index.ts
Labels: Component: Text

#18966 Fix tooltip styling broken by a change to makeStyles
  change/@fluentui-react-tooltip-213f0794-f443-407a-8a93-c1470bb202a9.json
  packages/react-tooltip/src/components/Tooltip/useTooltip.tsx
  packages/react-tooltip/src/components/Tooltip/useTooltipStyles.ts
Labels: Component: Tooltip

#19007 fix(react): Fixing high contrast styling for multiselect ComboBox when selecting an option with keyboard.
  change/@fluentui-react-a9d07060-13fc-4a07-bd5e-afdfb9ad3b9d.json
  packages/react/src/components/ComboBox/ComboBox.styles.ts
  packages/react/src/components/ComboBox/ComboBox.tsx
Labels: Component: ComboBox, Component: Pivot, Component: SpinButton

#19026 docs(react-checkbox): Updating spec to reflect Checkbox's implementation.
  change/@fluentui-react-checkbox-f6c6d011-b46a-434d-8b84-c3024d91f5a4.json
  packages/react-checkbox/Spec.md
Labels: Component: Checkbox

#19029 fix(ComboBox): Updating snapshots.
  change/@fluentui-react-05a7d92d-213d-45ca-b56d-e0d581556651.json
  packages/react/src/components/ComboBox/__snapshots__/ComboBox.test.tsx.snap
Labels: Component: ComboBox

#18978 RFC(IE11): Ending support for IE11 in Fluent v9
  rfcs/convergence/ending-ie11-support.md
Labels: Type: RFC

#18977 react-tooltip: Migration to new DX
  change/@fluentui-react-tooltip-fe5e1552-a9ff-4fac-a344-450a37376e82.json
  jest.config.js
  nx.json
  packages/react-examples/package.json
  packages/react-tooltip/.storybook/main.js
  packages/react-tooltip/.storybook/preview.js
  packages/react-tooltip/.storybook/tsconfig.json
  packages/react-tooltip/config/api-extractor.json
  packages/react-tooltip/config/api-extractor.local.json
  packages/react-tooltip/jest.config.js
  packages/react-tooltip/package.json
  packages/react-tooltip/src/Tooltip.stories.tsx
  packages/react-tooltip/tsconfig.json
  workspace.json
Labels: Area: Build System, Component: Tooltip

#19037 chore(react-storybook): migrate to new DX stage 1
  .github/CODEOWNERS
  nx.json
  packages/react-storybook/.storybook/main.js
  packages/react-storybook/.storybook/preview.js
  packages/react-storybook/.storybook/tsconfig.json
  packages/react-storybook/config/api-extractor.json
  packages/react-storybook/config/api-extractor.local.json
  packages/react-storybook/package.json
  packages/react-storybook/tsconfig.json
  workspace.json
Labels: Area: Build System, Fluent UI vNext

#19038 docs(babel-make-styles): Add some troubleshooting for linaria
  change/@fluentui-babel-make-styles-0d7a3c82-36ca-429c-9a95-cc5f67ad6879.json
  packages/babel-make-styles/README.md
Labels: Fluent UI vNext

#18969 text-field: start/end display flex
  change/@fluentui-web-components-20a4b8e4-bb09-49e6-bf6e-a580388a0f26.json
  packages/web-components/src/text-field/text-field.styles.ts
Labels: web-components

#18527 Azure Theme 7.0 DetailsList contrast ratio fix
  change/@fluentui-react-examples-7ed8f266-b366-433e-b626-98def4bfe432.json
  change/@uifabric-azure-themes-066ebef6-6992-4c7c-b690-77f2986f20c5.json
  packages/azure-themes/src/azure/AzureColors.ts
  packages/azure-themes/src/azure/AzureThemeDark.ts
  packages/azure-themes/src/azure/AzureThemeHighContrastDark.ts
  packages/azure-themes/src/azure/AzureThemeHighContrastLight.ts
  packages/azure-themes/src/azure/AzureThemeLight.ts
  packages/azure-themes/src/azure/Constants.ts
  packages/azure-themes/src/azure/IAzureSemanticColors.ts
  packages/azure-themes/src/azure/IExtendedSemanticColors.ts
  packages/azure-themes/src/azure/styles/DetailsList.styles.ts
  packages/azure-themes/src/azure/styles/Link.styles.ts
Labels: Area: Accessibility, Fabric 7, Package: azure-themes, needs cherry-pick

#19006 Cherry pick from #18527 and replacing <Customizer> with <ThemeProvider> for Azure Theme
  change/@fluentui-azure-themes-948f0da6-df81-438a-95d1-a1cee9359edc.json
  packages/azure-themes/README.md
  packages/azure-themes/src/azure/AzureColors.ts
  packages/azure-themes/src/azure/AzureThemeDark.ts
  packages/azure-themes/src/azure/AzureThemeHighContrastDark.ts
  packages/azure-themes/src/azure/AzureThemeHighContrastLight.ts
  packages/azure-themes/src/azure/AzureThemeLight.ts
  packages/azure-themes/src/azure/Constants.ts
  packages/azure-themes/src/azure/IAzureSemanticColors.ts
  packages/azure-themes/src/azure/IExtendedSemanticColors.ts
  packages/azure-themes/src/azure/styles/DetailsList.styles.ts
  packages/azure-themes/src/azure/styles/Link.styles.ts
  packages/react-examples/src/azure-themes/stories/Themes/Themes.stories.tsx
Labels: Package: azure-themes

#19008 Autofill issues with IME characters
  change/@fluentui-react-118fd1ed-b863-42fa-b9b2-bfcfc5162a21.json
  packages/react/src/components/Autofill/Autofill.tsx
Labels: Component: Autofill

#19024 feat(Tooltip): make tooltip subtle by default
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/components/Tooltip/Tooltip.tsx
  packages/fluentui/react-northstar/src/components/Tooltip/TooltipContent.tsx
  packages/fluentui/react-northstar/src/themes/teams/components/Tooltip/tooltipContentStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Tooltip/tooltipContentVariables.ts
Labels: Fluent UI react-northstar

#19036 react-card: Migrate to new DX
  jest.config.js
  nx.json
  packages/react-card/.storybook/main.js
  packages/react-card/.storybook/preview.js
  packages/react-card/.storybook/tsconfig.json
  packages/react-card/config/api-extractor.json
  packages/react-card/config/api-extractor.local.json
  packages/react-card/config/tests.js
  packages/react-card/etc/react-card.api.md
  packages/react-card/jest.config.js
  packages/react-card/package.json
  packages/react-card/src/common/isConformant.ts
  packages/react-card/src/components/Card/Card.test.tsx
  packages/react-card/src/components/Card/Card.tsx
  packages/react-card/src/components/CardBody/CardBody.tsx
  packages/react-card/src/components/CardFooter/CardFooter.tsx
  packages/react-card/src/components/CardHeader/CardHeader.tsx
  packages/react-card/src/components/CardPreview/CardPreview.tsx
  packages/react-card/tsconfig.json
  tsconfig.base.json
  workspace.json
Labels: Area: Build System, AutoMerge, Component: Card

#19035 bugfix(Button): Focus indicator jump
  change/@fluentui-react-button-2a3c1610-f416-4a84-8f62-7c8a99cb20c6.json
  packages/react-button/src/components/Button/useButtonStyles.ts
Labels: Component: Button

#19057 fix(Skeleton): update color to proper token
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/themes/teams/components/Skeleton/skeletonVariables.ts
Labels: Fluent UI react-northstar

#19043 Add TSconfigPaths plugin to vr-tests storybook
  apps/vr-tests/.storybook/main.js
Labels: Area: Build System, Area: Testing, Storybook

#18693 Migrate storybook to 6.2.9
  .storybook/main.js
  apps/vr-tests/.eslintrc.json
  apps/vr-tests/.storybook/preview.js
  apps/vr-tests/package.json
  apps/vr-tests/src/utilities/FabricDecorator.tsx
  apps/vr-tests/src/utilities/FluentProviderDecorator.tsx
  apps/vr-tests/src/utilities/index.ts
  change/@fluentui-react-examples-5f8fef9b-5486-4d10-8ed5-527cbd34ff54.json
  change/@fluentui-react-popover-b4500fa5-f7e2-4745-833e-e7baa00c779f.json
  package.json
  packages/react-examples/.storybook/main.js
  packages/react-examples/.storybook/preview.js
  packages/react-examples/jest.config.js
  packages/react-examples/src/react-components/FluentUIComponents/Introduction.stories.mdx
  packages/react-popover/src/Popover.stories.tsx
  packages/storybook/package.json
  scripts/storybook/webpack.config.js
  scripts/tasks/storybook.ts
  yarn.lock
Labels: Area: Build System, AutoMerge, Priority 2: Normal

#18963 Use colorScheme for chat variables
  packages/fluentui/react-northstar/src/themes/teams-dark-v2/componentVariables.ts
  packages/fluentui/react-northstar/src/themes/teams-dark-v2/components/Chat/chatMessageVariables.ts
  packages/fluentui/react-northstar/src/themes/teams-dark-v2/components/Chat/chatVariables.ts
  packages/fluentui/react-northstar/src/themes/teams-dark/componentVariables.ts
  packages/fluentui/react-northstar/src/themes/teams-dark/components/Chat/chatMessageVariables.ts
  packages/fluentui/react-northstar/src/themes/teams-dark/components/Chat/chatVariables.ts
  packages/fluentui/react-northstar/src/themes/teams-high-contrast/components/Chat/chatMessageVariables.ts
  packages/fluentui/react-northstar/src/themes/teams-v2/componentVariables.ts
  packages/fluentui/react-northstar/src/themes/teams-v2/components/Chat/chatMessageVariables.ts
  packages/fluentui/react-northstar/src/themes/teams-v2/components/Chat/chatVariables.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Chat/chatItemStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Chat/chatItemVariables.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Chat/chatMessageReadStatusStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Chat/chatMessageReadStatusVariables.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Chat/chatMessageStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Chat/chatMessageVariables.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Chat/chatStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Chat/chatVariables.ts
Labels: Fluent UI react-northstar

#18610 Update Tooltip API with visible controlled prop, and onVisibleChange event
  change/@fluentui-react-examples-407aa3fb-fb16-444c-b15f-3e491cd2d8ba.json
  change/@fluentui-react-positioning-21520d6f-ecaa-475b-9318-41886bf48ecf.json
  change/@fluentui-react-tooltip-892da660-c8c3-49c9-a1a2-767e6010843a.json
  change/@fluentui-react-utilities-bc5b3bdc-a508-457a-881c-115779087ccb.json
  packages/react-positioning/src/usePopper.ts
  packages/react-tooltip/etc/react-tooltip.api.md
  packages/react-tooltip/src/Tooltip.stories.tsx
  packages/react-tooltip/src/components/Tooltip/Tooltip.types.ts
  packages/react-tooltip/src/components/Tooltip/useTooltip.tsx
  packages/react-utilities/etc/react-utilities.api.md
  packages/react-utilities/src/utils/onlyChild.ts
Labels: Component: Tooltip

#18580 Calendar: add border to selected date to fix contrast ratio
  change/@fluentui-react-9d889594-c0ba-4b56-baef-ba9791037ebf.json
  packages/react/src/components/CalendarDayGrid/CalendarDayGrid.styles.ts
  packages/react/src/components/WeeklyDayPicker/__snapshots__/WeeklyDayPicker.test.tsx.snap
Labels: AutoMerge

#19078 Change visuals for tooltip: subtle and noArrow are now the defaults
  change/@fluentui-react-tooltip-43a091f2-09f9-4be8-b5e7-2f4877ae6311.json
  packages/react-tooltip/etc/react-tooltip.api.md
  packages/react-tooltip/src/Tooltip.stories.tsx
  packages/react-tooltip/src/components/Tooltip/Tooltip.types.ts
  packages/react-tooltip/src/components/Tooltip/__snapshots__/Tooltip.test.tsx.snap
  packages/react-tooltip/src/components/Tooltip/renderTooltip.tsx
  packages/react-tooltip/src/components/Tooltip/useTooltip.tsx
  packages/react-tooltip/src/components/Tooltip/useTooltipStyles.ts
Labels: Component: Tooltip, Fluent UI vNext

#19085 Button: Handling children correctly and not as a slot
  change/@fluentui-react-button-c699ad09-ad5e-4edd-b975-629ac750458c.json
  packages/react-button/etc/react-button.api.md
  packages/react-button/src/components/Button/Button.types.ts
  packages/react-button/src/components/Button/__snapshots__/Button.test.tsx.snap
  packages/react-button/src/components/Button/renderButton.tsx
  packages/react-button/src/components/Button/useButton.ts
  packages/react-button/src/components/Button/useButtonState.ts
  packages/react-button/src/components/Button/useButtonStyles.ts
  packages/react-button/src/components/CompoundButton/renderCompoundButton.tsx
  packages/react-button/src/components/CompoundButton/useCompoundButton.ts
  packages/react-button/src/components/CompoundButton/useCompoundButtonStyles.ts
  packages/react-button/src/components/MenuButton/renderMenuButton.tsx
  packages/react-button/src/components/MenuButton/useMenuButton.ts
  packages/react-button/src/components/ToggleButton/useToggleButtonStyles.ts
Labels: Component: Button, Component: CompoundButton, Component: MenuButton, Component: ToggleButton

#18967 fix(DetailsList): switch checkbox role to radio for single selection
  change/@fluentui-react-df73f2e9-9b63-49b1-8b53-789d4aae78ae.json
  packages/react/etc/react.api.md
  packages/react/src/components/DetailsList/DetailsRow.base.tsx
  packages/react/src/components/DetailsList/DetailsRowCheck.tsx
  packages/react/src/components/DetailsList/DetailsRowCheck.types.ts
  packages/react/src/components/DetailsList/__snapshots__/DetailsRow.test.tsx.snap
Labels: Component: DetailsList, PR: API Modified

#19087 (web-components) remove incorrectly added toolbar from component definitions
  change/@fluentui-web-components-3f5f2b8f-5f07-4079-8fc7-c87ddae775e9.json
  packages/web-components/src/component-definitions.js
Labels: web-components

#19075 chore: remove custom types for @babel/helper-plugin-utils
  change/@fluentui-babel-make-styles-2f35118d-1fec-4a11-b1a7-22080110d620.json
  change/@fluentui-make-styles-webpack-loader-90c13ed2-3dd2-440a-a6fe-a8650a6cc581.json
  package.json
  packages/babel-make-styles/tsconfig.json
  packages/make-styles-webpack-loader/tsconfig.json
  typings/babel-helper-plugin-utils/index.d.ts
  yarn.lock
Labels: Area: Build System

#19094 fix(accordion): Migrate to useControllableState hook
  change/@fluentui-react-accordion-14446123-cb28-4306-a851-183adaa0f17a.json
  packages/react-accordion/src/components/Accordion/useAccordion.ts
  packages/react-accordion/src/components/AccordionHeader/AccordionHeader.test.tsx
Labels: Component: Accordion

#19095 Remove @fluentui/utilities dependency from tsconfig
  tsconfig.base.json
Labels: Area: Build System

#19076 Prettier - Ignore .gif files
  .prettierignore
Labels: Area: Build System

#19063 react-checkbox: Migration to new DX
  change/@fluentui-react-checkbox-762a270e-3566-4946-b3a9-ce9882efc3d7.json
  jest.config.js
  nx.json
  packages/react-checkbox/.storybook/main.js
  packages/react-checkbox/.storybook/preview.js
  packages/react-checkbox/.storybook/tsconfig.json
  packages/react-checkbox/config/api-extractor.json
  packages/react-checkbox/config/api-extractor.local.json
  packages/react-checkbox/jest.config.js
  packages/react-checkbox/package.json
  packages/react-checkbox/src/Checkbox.stories.tsx
  packages/react-checkbox/tsconfig.json
  packages/react-examples/package.json
  tsconfig.base.json
  workspace.json
Labels: Area: Build System, Component: Checkbox, Fluent UI vNext

#19111 docs(toolbar): adding screen reader bugs related to radiogroup in toolbar
  packages/fluentui/react-northstar/src/components/Toolbar/Toolbar.tsx
Labels: Fluent UI react-northstar

#18968 chore: add Babel plugins for more components
  change/@fluentui-react-aria-d067b0b8-0947-4fde-8952-814571acfbe0.json
  change/@fluentui-react-label-03027fb0-43c4-4b5d-8f92-5f7b14fa83dc.json
  change/@fluentui-react-popover-80b04ad9-4dba-4853-8242-6c1838f2c2b7.json
  change/@fluentui-react-tabster-bccf28df-3b1c-4f2d-b07e-6ad3f9b1501e.json
  packages/react-aria/.babelrc.json
  packages/react-label/.babelrc.json
  packages/react-label/package.json
  packages/react-popover/.babelrc.json
  packages/react-popover/package.json
  packages/react-tabster/.babelrc.json
  packages/react-text/.babelrc.json
  packages/react-text/package.json
  scripts/create-package/plop-templates-react/.babelrc.json
  scripts/create-package/plop-templates-react/package.json.hbs
Labels: Area: Build System, Fluent UI vNext

#19104 feat(Loader): add secondary prop
  packages/fluentui/CHANGELOG.md
  packages/fluentui/docs/src/examples/components/Loader/Variations/LoaderExampleSecondary.tsx
  packages/fluentui/docs/src/examples/components/Loader/Variations/index.tsx
  packages/fluentui/react-northstar/src/components/Button/Button.tsx
  packages/fluentui/react-northstar/src/components/Loader/Loader.tsx
  packages/fluentui/react-northstar/src/themes/teams/components/Loader/loaderSecondarySvgDataUrl.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Loader/loaderStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Loader/loaderVariables.ts
Labels: Fluent UI react-northstar

#19122 Fix crash in ContextualMenu when Callout component is loaded asynchronously
  change/@fluentui-react-26f9c974-48e2-4dc3-a7c2-a5e8647b32c0.json
  packages/react/src/components/ContextualMenu/ContextualMenu.base.tsx
Labels: Component: ContextualMenu

#19079 Very basic Input implementation
  packages/react-input/etc/react-input.api.md
  packages/react-input/src/components/Input/Input.stories.tsx
  packages/react-input/src/components/Input/Input.test.tsx
  packages/react-input/src/components/Input/Input.types.ts
  packages/react-input/src/components/Input/__snapshots__/Input.test.tsx.snap
  packages/react-input/src/components/Input/renderInput.tsx
  packages/react-input/src/components/Input/useInput.ts
  packages/react-input/src/components/Input/useInputStyles.ts
Labels: Component: Input

#19009 Changed paddingLeft to only apply to last links in MessageBar
  change/@fluentui-react-b5c1867c-c718-4efe-aa45-35500f317507.json
  packages/react/src/components/MessageBar/MessageBar.styles.ts
  packages/react/src/components/MessageBar/__snapshots__/MessageBar.test.tsx.snap
Labels: Component: MessageBar

#18887 (Callout) - Fixing usePosition hook to enable position revaluation after width and height changes
  change/@fluentui-react-3ed3c618-1121-48a4-8ebe-578a2a6e5d7f.json
  packages/react/src/components/Callout/Callout.test.tsx
  packages/react/src/components/Callout/CalloutContent.base.tsx
  packages/react/src/utilities/positioning/positioning.ts
Labels: AutoMerge, Component: Callout

#19056 feat(web-components): improve ergonomics of the fluent design system
  change/@fluentui-web-components-366f5ffe-df49-4c8d-9348-8218b334dbd1.json
  packages/web-components/docs/api-report.md
  packages/web-components/src/custom-elements.ts
  packages/web-components/src/fluent-design-system.ts
  packages/web-components/src/index-rollup.ts
  packages/web-components/src/index.ts
Labels: web-components

#19096 chore: adds react-accordion to CODEOWNERS
  .github/CODEOWNERS
Labels: Area: Build System, Component: Accordion, Fluent UI vNext, effort1: hours

#19133 fix(Menu): merge `checkmark` slot for selectable menu items
  change/@fluentui-react-menu-0ab41e1d-4be1-4b20-8d7b-9c9a4583369b.json
  packages/react-menu/src/components/MenuItemCheckbox/MenuItemCheckbox.test.tsx
  packages/react-menu/src/components/MenuItemCheckbox/useMenuItemCheckbox.tsx
  packages/react-menu/src/components/MenuItemRadio/MenuItemRadio.test.tsx
  packages/react-menu/src/components/MenuItemRadio/useMenuItemRadio.tsx
  packages/react-menu/src/components/MenuList/useMenuList.test.ts
Labels: Component: Menu

#19108 feat(tools): add snapshot serializers and config/tests only when needed
  tools/generators/migrate-converged-pkg/index.spec.ts
  tools/generators/migrate-converged-pkg/index.ts
Labels: Area: Build System, Fluent UI vNext

#19101 feat(tools): add --all flag to run migrations in batch
  tools/generators/migrate-converged-pkg/README.md
  tools/generators/migrate-converged-pkg/index.spec.ts
  tools/generators/migrate-converged-pkg/index.ts
  tools/generators/migrate-converged-pkg/schema.json
  tools/generators/migrate-converged-pkg/schema.ts
Labels: Area: Build System, Fluent UI vNext

#19059 Accessibility change for HeatMap chart
  change/@fluentui-react-charting-a891f5d5-d64d-4927-97e4-76c20fbbbe4d.json
  packages/react-charting/src/components/HeatMapChart/HeatMapChart.base.tsx
  packages/react-charting/src/types/IDataPoint.ts
  packages/react-examples/src/react-charting/HeatMapChart/HeatMapChartBasic.CustomAccessibility.Example.tsx
  packages/react-examples/src/react-charting/HeatMapChart/HeatMapChartPage.tsx
Labels: Package: charting

#19072 Accessibility change for VerticalStackedBar chart
  change/@fluentui-react-charting-2d5099d6-d406-4731-b507-6d6f86418d0a.json
  packages/react-charting/src/components/VerticalStackedBarChart/VerticalStackedBarChart.base.tsx
  packages/react-charting/src/types/IDataPoint.ts
  packages/react-examples/src/react-charting/VerticalStackedBarChart/VerticalStackedBarChart.CustomAccessibility.Example.tsx
  packages/react-examples/src/react-charting/VerticalStackedBarChart/VerticalStackedBarChartPage.tsx
Labels: Package: charting

#18933 Charting: CherryPick #18880: Custom Accessibility Change for Grouped Vertical Bar Chart #18880
  change/@fluentui-react-examples-87a33e23-5baf-4ca4-ace4-2b008c036677.json
  change/@uifabric-charting-94b0a709-a662-46f0-ba71-11fdbf7ee03c.json
  packages/charting/src/components/GroupedVerticalBarChart/GroupedVerticalBarChart.base.tsx
  packages/charting/src/components/GroupedVerticalBarChart/__snapshots__/GroupedVerticalBarChart.test.tsx.snap
  packages/charting/src/types/IDataPoint.ts
  packages/charting/src/utilities/utilities.ts
  packages/react-examples/src/charting/GroupedVerticalBarChart/GroupedVerticalBarChart.CustomAccessibility.Example.tsx
  packages/react-examples/src/charting/GroupedVerticalBarChart/GroupedVerticalBarChartPage.tsx
Labels: Fabric 7, Package: charting

#19135 Fix bug where ContextualMenu's onMenuDismissed is called twice
  change/@fluentui-react-30edeeb6-4f28-49a0-9aec-4ed7601e4962.json
  packages/react/src/components/ContextualMenu/ContextualMenu.base.tsx
Labels: Component: ContextualMenu

#19080 fix(pickers): add live region for selected item removal, fix tagpicker focused tag styling
  change/@fluentui-react-77edb3b8-d438-427c-8034-28525c5a10bc.json
  packages/react-examples/src/react/__snapshots__/Announced.SearchResults.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/PeoplePicker.Compact.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/PeoplePicker.Controlled.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/PeoplePicker.LimitedSearch.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/PeoplePicker.List.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/PeoplePicker.Normal.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/PeoplePicker.PreselectedItems.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/PeoplePicker.ProcessSelection.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/TagPicker.Basic.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/TagPicker.Inline.Example.tsx.shot
  packages/react/etc/react.api.md
  packages/react/src/components/pickers/BasePicker.tsx
  packages/react/src/components/pickers/BasePicker.types.ts
  packages/react/src/components/pickers/PeoplePicker/__snapshots__/PeoplePicker.test.tsx.snap
  packages/react/src/components/pickers/TagPicker/TagItem.styles.ts
  packages/react/src/components/pickers/TagPicker/__snapshots__/TagItem.test.tsx.snap
  packages/react/src/components/pickers/TagPicker/__snapshots__/TagPicker.test.tsx.snap
  packages/react/src/components/pickers/__snapshots__/BasePicker.test.tsx.snap
Labels: Component: Pickers, Component: TagPicker, PR: API Modified

#18907 react-checkbox: Adding implementation.
  change/@fluentui-react-checkbox-ca767085-e794-4bb7-8e5c-8f7574f2ffc9.json
  packages/react-checkbox/Spec.md
  packages/react-checkbox/etc/react-checkbox.api.md
  packages/react-checkbox/package.json
  packages/react-checkbox/src/Checkbox.stories.tsx
  packages/react-checkbox/src/components/Checkbox/Checkbox.test.tsx
  packages/react-checkbox/src/components/Checkbox/Checkbox.types.ts
  packages/react-checkbox/src/components/Checkbox/DefaultIcons.tsx
  packages/react-checkbox/src/components/Checkbox/__snapshots__/Checkbox.test.tsx.snap
  packages/react-checkbox/src/components/Checkbox/renderCheckbox.tsx
  packages/react-checkbox/src/components/Checkbox/useCheckbox.ts
  packages/react-checkbox/src/components/Checkbox/useCheckbox.tsx
  packages/react-checkbox/src/components/Checkbox/useCheckboxStyles.ts
  packages/react-examples/.storybook/preview.js
Labels: Component: Checkbox

#18787 AXE-Core Accessibility Validation
  packages/fluentui/react-builder/README.md
  packages/fluentui/react-builder/package.json
  packages/fluentui/react-builder/src/accessibility/types.ts
  packages/fluentui/react-builder/src/components/Builder.tsx
  packages/fluentui/react-builder/src/components/Canvas.tsx
  packages/fluentui/react-builder/src/components/CanvasWindow.tsx
  packages/fluentui/react-builder/src/components/ComponentList.tsx
  packages/fluentui/react-builder/src/components/ComponentPropertiesPanel.tsx
  packages/fluentui/react-builder/src/components/ComponentTree.tsx
  packages/fluentui/react-builder/src/components/DebugButtons.tsx
  packages/fluentui/react-builder/src/components/DebugFrame.tsx
  packages/fluentui/react-builder/src/components/Designer.tsx
  packages/fluentui/react-builder/src/components/DropSelector.tsx
  packages/fluentui/react-builder/src/components/ErrorPanel.tsx
  packages/fluentui/react-builder/src/components/Knobs.tsx
  packages/fluentui/react-builder/src/components/MultiTypeKnob.tsx
  packages/fluentui/react-builder/src/components/NavBarItem.tsx
  packages/fluentui/react-builder/src/components/NavigationPanel.tsx
  packages/fluentui/react-builder/src/components/ReaderNarration.tsx
  packages/fluentui/react-builder/src/components/Toolbar.tsx
  packages/fluentui/react-builder/src/components/tabPanels/AccessibilityTabPanel.tsx
  packages/fluentui/react-builder/src/components/tabPanels/AddTabPanel.tsx
  packages/fluentui/react-builder/src/components/tabPanels/NavigationTabPanel.tsx
  packages/fluentui/react-builder/src/components/types.ts
  packages/fluentui/react-builder/src/config.tsx
  packages/fluentui/react-builder/src/hooks/index.ts
  packages/fluentui/react-builder/src/hooks/runAxe.ts
  packages/fluentui/react-builder/src/hooks/useAxeOnElement.ts
  packages/fluentui/react-builder/src/state/state.ts
  packages/fluentui/react-builder/src/utils/codeToTree.ts
  packages/fluentui/react-icons-northstar/src/components/AccessibilityIcon.tsx
  packages/fluentui/react-icons-northstar/src/index.ts
Labels: Fluent UI react-northstar, Status: Do Not Merge 🚫

#19137 Add prop to allow user defined Tooltip to be rendered by itself
  change/@fluentui-react-201571c1-4a8c-4e02-b25c-26437246703a.json
  packages/react/etc/react.api.md
  packages/react/src/components/Facepile/Facepile.base.tsx
  packages/react/src/components/Facepile/Facepile.types.ts
Labels: Component: Facepile, PR: API Modified
