Repository microsoft/fluentui, pull requests merged in 2021-10, with the labels that each got.

#20060 Update basic Callout example to not use alertdialog role
  packages/react-examples/src/react/Callout/Callout.Basic.Example.tsx
Labels: Area: Website

#19991 feat(react-tabster): Update default focus outline styles
  change/@fluentui-react-accordion-32aca648-009d-4f30-b946-9d313d2c8512.json
  change/@fluentui-react-button-7eabaa4b-cce6-4e23-933d-f28a827734a2.json
  change/@fluentui-react-checkbox-cd4216e1-692d-4641-a4e1-36f668a0df13.json
  change/@fluentui-react-link-cea407d9-dd47-4cf1-86e1-5fb33434985c.json
  change/@fluentui-react-menu-54061d79-fc53-4f87-8238-3b84628e879b.json
  change/@fluentui-react-slider-84f87cb9-85b4-4a59-b5fe-cae8fe8a97bb.json
  change/@fluentui-react-switch-7f2bf0df-639d-409b-843b-66e3896f0dd7.json
  change/@fluentui-react-tabster-c78ad5dc-ba5f-4995-a7b5-9189b74a6bab.json
  packages/react-accordion/src/components/AccordionHeader/useAccordionHeaderStyles.ts
  packages/react-button/src/components/Button/useButtonStyles.ts
  packages/react-checkbox/src/components/Checkbox/useCheckboxStyles.ts
  packages/react-link/src/components/Link/useLinkStyles.ts
  packages/react-menu/src/components/MenuItem/useMenuItemStyles.ts
  packages/react-slider/src/components/RangedSlider/useRangedSliderStyles.ts
  packages/react-slider/src/components/Slider/useSliderStyles.ts
  packages/react-switch/src/components/Switch/useSwitchStyles.ts
  packages/react-tabster/etc/react-tabster.api.md
  packages/react-tabster/src/hooks/useFocusIndicatorStyle.ts
Labels: Priority 2: Normal

#19990 feat(Menu): Update styles from design spec
  change/@fluentui-react-menu-f9d54337-32fe-4a1f-8ee8-404255242961.json
  packages/react-menu/etc/react-menu.api.md
  packages/react-menu/src/components/MenuDivider/useMenuDividerStyles.ts
  packages/react-menu/src/components/MenuItem/useMenuItemStyles.ts
  packages/react-menu/src/components/MenuList/MenuList.tsx
  packages/react-menu/src/components/MenuList/__snapshots__/MenuList.test.tsx.snap
  packages/react-menu/src/components/MenuList/index.ts
  packages/react-menu/src/components/MenuList/useMenuListStyles.ts
  packages/react-menu/src/components/MenuPopover/useMenuPopoverStyles.ts
  packages/react-menu/src/stories/MenuAligningWithIcons.stories.tsx
Labels: Fluent UI vNext, Component: Menu

#20066 fix(Menu): focus HC text
  change/change-b0a9f940-3c01-4d2c-9c94-1365bb8eccc0.json
  packages/react-menu/src/components/MenuItem/useMenuItemStyles.ts
Labels: Component: MenuItem

#18814 react-button - Simplify prop merging
  change/@fluentui-react-accordion-956cb999-15b3-4742-b8ae-f8e3e685a13d.json
  change/@fluentui-react-aria-d47d3da8-9e73-40ba-ba0a-04dec9cf4f9e.json
  change/@fluentui-react-button-bce67d83-09b1-47ca-9e4e-ba9f26bf2ec9.json
  change/@fluentui-react-link-24664e8d-3e40-44b3-a163-5839aa825fbd.json
  packages/a11y-testing/src/definitions/react-button/buttonAccessibilityBehaviorDefinition.ts
  packages/react-accordion/etc/react-accordion.api.md
  packages/react-aria/etc/react-aria.api.md
  packages/react-aria/src/hooks/useARIAButton.stories.tsx
  packages/react-aria/src/hooks/useARIAButton.test.tsx
  packages/react-aria/src/hooks/useARIAButton.ts
  packages/react-aria/src/utils/mergeARIADisabled.ts
  packages/react-button/bundle-size/SplitButton.fixture.js
  packages/react-button/etc/react-button.api.md
  packages/react-button/package.json
  packages/react-button/src/Playground.stories.tsx
  packages/react-button/src/Playground.types.stories.ts
  packages/react-button/src/SplitButton.stories.tsx
  packages/react-button/src/buttonBaseProps.stories.ts
  packages/react-button/src/common/isConformant.ts
  packages/react-button/src/components/Button/Button.stories.tsx
  packages/react-button/src/components/Button/Button.test.tsx
  packages/react-button/src/components/Button/Button.tsx
  packages/react-button/src/components/Button/Button.types.ts
  packages/react-button/src/components/Button/MIGRATION.md
  packages/react-button/src/components/Button/__snapshots__/Button.test.tsx.snap
  packages/react-button/src/components/Button/index.ts
  packages/react-button/src/components/Button/renderButton.tsx
  packages/react-button/src/components/Button/useButton.ts
  packages/react-button/src/components/Button/useButtonState.ts
  packages/react-button/src/components/Button/useButtonStyles.ts
  packages/react-button/src/components/CompoundButton/CompoundButton.test.tsx
  packages/react-button/src/components/CompoundButton/CompoundButton.tsx
  packages/react-button/src/components/CompoundButton/CompoundButton.types.ts
  packages/react-button/src/components/CompoundButton/renderCompoundButton.tsx
  packages/react-button/src/components/CompoundButton/useCompoundButton.ts
  packages/react-button/src/components/CompoundButton/useCompoundButtonStyles.ts
  packages/react-button/src/components/MenuButton/MenuButton.test.tsx
  packages/react-button/src/components/MenuButton/MenuButton.tsx
  packages/react-button/src/components/MenuButton/MenuButton.types.ts
  packages/react-button/src/components/MenuButton/index.ts
  packages/react-button/src/components/MenuButton/renderMenuButton.tsx
  packages/react-button/src/components/MenuButton/useMenuButton.ts
  packages/react-button/src/components/MenuButton/useMenuButton.tsx
  packages/react-button/src/components/MenuButton/useMenuButtonState.tsx
  packages/react-button/src/components/MenuButton/useMenuButtonStyles.ts
  packages/react-button/src/components/SplitButton/SplitButton.tsx
  packages/react-button/src/components/SplitButton/SplitButton.types.ts
  packages/react-button/src/components/SplitButton/renderSplitButton.tsx
  packages/react-button/src/components/SplitButton/useSplitButton.ts
  packages/react-button/src/components/SplitButton/useSplitButtonStyles.ts
  packages/react-button/src/components/ToggleButton/ToggleButton.test.tsx
  packages/react-button/src/components/ToggleButton/ToggleButton.tsx
  packages/react-button/src/components/ToggleButton/ToggleButton.types.ts
  packages/react-button/src/components/ToggleButton/index.ts
  packages/react-button/src/components/ToggleButton/useChecked.ts
  packages/react-button/src/components/ToggleButton/useToggleButton.ts
  packages/react-button/src/components/ToggleButton/useToggleButtonStyles.ts
  packages/react-button/src/tmp-components.stories.tsx
  packages/react-link/src/components/Link/Link.types.ts
Labels: Priority 1: High, Component: Button

#20067 Revert grouped changefile in #20000
  scripts/beachball/index.ts
Labels: Area: Build System

#20069 docs(react-theme): fix shadows story
  change/change-d7e3c66e-6c05-431a-93f1-171a9051a410.json
  packages/react-theme/src/themes/ThemeShadows.stories.tsx
Labels: AutoMerge, Fluent UI vNext

#20029 react-card - Bundle size fixtures
  change/@fluentui-react-card-618cda7b-22af-4a3d-af7c-fc3e9e4f5fb9.json
  packages/react-card/bundle-size/Card.All.fixture.js
  packages/react-card/bundle-size/Card.fixture.js
  packages/react-card/bundle-size/CardFooter.fixture.js
  packages/react-card/bundle-size/CardHeader.fixture.js
  packages/react-card/bundle-size/CardPreview.fixture.js
  packages/react-card/package.json
Labels: Area: Build System, Component: Card, Fluent UI vNext

#20058 Fix callout window resize
  change/@fluentui-react-b1f79e0f-2c24-481e-9ce7-870a2a3d337b.json
  packages/react/src/components/Callout/CalloutContent.base.tsx
Labels: Component: Callout

#20001 Added disabled state(style: dimming) for Tile view
  change/@fluentui-react-experiments-238444d4-1823-4b81-9e2d-4890808aacfe.json
  packages/react-experiments/src/components/Tile/Tile.scss
  packages/react-experiments/src/components/Tile/Tile.tsx
  packages/react-experiments/src/components/Tile/Tile.types.ts
Labels: Package: experiments, Component: Tile

#19979 Added disabled state(style: dimming) for React/DetailsRow
  change/@fluentui-react-c0cc52be-36e9-4274-b897-9add37d43be2.json
  packages/react/etc/react.api.md
  packages/react/src/components/DetailsList/DetailsRow.base.tsx
  packages/react/src/components/DetailsList/DetailsRow.styles.ts
  packages/react/src/components/DetailsList/DetailsRow.types.ts
Labels: Component: DetailsList, PR: API Modified

#20063 react-avatar: Fix stories `getFilenameFromUrl` implementation
  change/change-a30552b4-069a-4c00-ba6b-dc05bce14ef3.json
  packages/react-avatar/src/Avatar.stories.tsx
Labels: Component: Avatar

#18637 Update BASE_URL to remove depreacted CDN
  change/@fluentui-react-examples-8842ffa2-bda1-47a6-b881-fd4a79d73d48.json
  change/@uifabric-experiments-db6edf7a-d90c-4b04-a77b-c63d3d16a991.json
  change/@uifabric-file-type-icons-33350302-0979-4321-929d-5734fb274d20.json
  change/@uifabric-icons-7b8385c1-1a80-460b-bd89-82127b8ab387.json
  packages/experiments/src/components/FolderCover/initializeFolderCovers.tsx
  packages/file-type-icons/src/getFileTypeIconAsHTMLString.test.ts
  packages/file-type-icons/src/initializeFileTypeIcons.tsx
  packages/icons/src/index.ts
  packages/react-examples/src/experiments/TilesList/TilesList.Document.Example.tsx
Labels: Fabric 7, Area: Icons

#20030 react-card - CardPreview top padding fix
  change/@fluentui-react-card-eef6d228-043e-411b-87c8-94969a3e7cab.json
  packages/react-card/src/components/Card.stories.tsx
  packages/react-card/src/components/Card/useCardStyles.ts
  packages/react-card/src/components/CardPreview/__snapshots__/CardPreview.test.tsx.snap
  packages/react-card/src/components/CardPreview/useCardPreviewStyles.ts
Labels: Component: Card, Fluent UI vNext

#20051 react-card - Move story into stories folder
  change/@fluentui-react-card-29ad18b7-e269-4d0c-8613-ca2804266da5.json
  packages/react-card/src/stories/Card.stories.tsx
Labels: Component: Card, Fluent UI vNext

#20065 react-avatar: Fix stories after #19449
  change/change-d91a7e58-3969-4112-ac1e-a8b77f000388.json
  packages/react-avatar/src/Avatar.stories.tsx
Labels: Area: Documentation, Component: Avatar

#19923 Add ForwardRefComponent helper type
  change/@fluentui-react-link-c680abaa-66da-4f61-ae89-c70a99c269e0.json
  change/@fluentui-react-text-d267d484-c145-4b19-812e-93cc62d419ec.json
  change/@fluentui-react-utilities-3596a3dc-c94e-4ca7-a3ea-1ab5ca91b9f1.json
  packages/react-input/etc/react-input.api.md
  packages/react-input/src/components/Input/Input.tsx
  packages/react-link/etc/react-link.api.md
  packages/react-link/src/components/Link/Link.tsx
  packages/react-text/etc/react-text.api.md
  packages/react-text/src/components/Text/Text.test.tsx
  packages/react-text/src/components/Text/Text.tsx
  packages/react-text/src/components/wrapper.tsx
  packages/react-utilities/etc/react-utilities.api.md
  packages/react-utilities/src/compose/types.ts
Labels: Priority 2: Normal

#20080 react-accordion: Adjust signature to use ForwardRefComponent
  change/@fluentui-react-accordion-44b1db2e-1b65-415c-9339-a95e90fc3a8f.json
  packages/react-accordion/etc/react-accordion.api.md
  packages/react-accordion/src/components/Accordion/Accordion.tsx
  packages/react-accordion/src/components/AccordionHeader/AccordionHeader.tsx
  packages/react-accordion/src/components/AccordionHeader/AccordionHeaderExpandIcon.tsx
  packages/react-accordion/src/components/AccordionItem/AccordionItem.tsx
  packages/react-accordion/src/components/AccordionPanel/AccordionPanel.tsx
Labels: Component: Accordion

#20088 react-popover: Adjust signature to use ForwardRefComponent
  change/@fluentui-react-popover-c192db4d-b510-4497-aa18-d9fa5e1a42dc.json
  packages/react-popover/etc/react-popover.api.md
  packages/react-popover/src/components/PopoverSurface/PopoverSurface.tsx
Labels: Component: Popover

#20087 react-menu: Adjust signature to use ForwardRefComponent
  change/@fluentui-react-menu-d9df6532-29f1-42b1-a9e2-657cad45c411.json
  packages/react-menu/etc/react-menu.api.md
  packages/react-menu/src/components/MenuDivider/MenuDivider.tsx
  packages/react-menu/src/components/MenuGroup/MenuGroup.tsx
  packages/react-menu/src/components/MenuGroupHeader/MenuGroupHeader.tsx
  packages/react-menu/src/components/MenuItem/MenuItem.tsx
  packages/react-menu/src/components/MenuItemCheckbox/MenuItemCheckbox.tsx
  packages/react-menu/src/components/MenuItemRadio/MenuItemRadio.tsx
  packages/react-menu/src/components/MenuList/MenuList.tsx
  packages/react-menu/src/components/MenuPopover/MenuPopover.tsx
Labels: Component: Menu

#20082 react-badge: Adjust signature to use ForwardRefComponent
  change/@fluentui-react-badge-6127adeb-8966-471a-8430-fb37876be13b.json
  packages/react-badge/etc/react-badge.api.md
  packages/react-badge/src/components/Badge/Badge.tsx
  packages/react-badge/src/components/CounterBadge/CounterBadge.tsx
  packages/react-badge/src/components/PresenceBadge/PresenceBadge.tsx
Labels: Component: Badge

#19999 Cherry-pick LayoutGroup className handling to 7.0
  change/@uifabric-experiments-6a9d1c4e-ede9-42db-a18e-a7734acbd6d6.json
  packages/experiments/src/components/LayoutGroup/LayoutGroup.tsx
Labels: Package: experiments, Fabric 7, Component: LayoutGroup

#20053 Adding disableClickableNav to ProtoTypes list
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/components/Carousel/Carousel.tsx
Labels: Fluent UI react-northstar

#20089 react-tooltip: Adjust signature to use ForwardRefComponent
  change/@fluentui-react-tooltip-cfdf97ab-6491-4972-a84f-00ce37f3838d.json
  packages/react-tooltip/etc/react-tooltip.api.md
  packages/react-tooltip/src/components/Tooltip/Tooltip.tsx
Labels: Component: Tooltip

#20090 react-card: Adjust signature to use ForwardRefComponent
  change/@fluentui-react-card-05596f5c-6705-41b9-be1a-37b5f9b346a9.json
  packages/react-card/etc/react-card.api.md
  packages/react-card/src/components/Card/Card.tsx
  packages/react-card/src/components/CardFooter/CardFooter.tsx
  packages/react-card/src/components/CardHeader/CardHeader.tsx
  packages/react-card/src/components/CardPreview/CardPreview.tsx
Labels: Component: Card, Fluent UI vNext

#20091 react-slider: Adjust signature to use ForwardRefComponent
  change/@fluentui-react-slider-a0d919e2-f2c8-4e70-bfef-14d0ca38d3ff.json
  packages/react-slider/etc/react-slider.api.md
  packages/react-slider/src/components/RangedSlider/RangedSlider.tsx
  packages/react-slider/src/components/Slider/Slider.tsx
Labels: Component: Slider

#20092 react-checkbox: Adjust signature to use ForwardRefComponent
  change/@fluentui-react-checkbox-8d464ad4-c37f-42d6-86a5-6848c04be447.json
  packages/react-checkbox/etc/react-checkbox.api.md
  packages/react-checkbox/src/components/Checkbox/Checkbox.tsx
Labels: Component: Checkbox

#20093 react-switch: Adjust signature to use ForwardRefComponent
  change/@fluentui-react-switch-c2b06fdf-4a4b-4510-909a-0554b6039369.json
  packages/react-switch/etc/react-switch.api.md
  packages/react-switch/src/components/Switch/Switch.tsx
Labels: Component: Switch

#20086 react-label: Adjust signature to use ForwardRefComponent
  change/@fluentui-react-checkbox-7bf4dcc6-f38b-4514-8457-2f14b4547204.json
  change/@fluentui-react-label-869c14b8-da13-47db-beca-b62b2fce0cfd.json
  packages/react-checkbox/src/components/Checkbox/useCheckbox.tsx
  packages/react-label/etc/react-label.api.md
  packages/react-label/src/components/Label/Label.tsx
Labels: Component: Label

#20085 react-image: Adjust signature to use ForwardRefComponent
  change/@fluentui-react-image-050707aa-045b-43f5-ab76-25b24a36a24d.json
  packages/react-image/etc/react-image.api.md
  packages/react-image/src/components/Image/Image.tsx
Labels: Component: Image, Fluent UI vNext

#20084 react-divider: Adjust signature to use ForwardRefComponent
  change/@fluentui-react-divider-1e68a93f-96d1-4e7c-8357-590a655c041a.json
  packages/react-divider/etc/react-divider.api.md
  packages/react-divider/src/components/Divider/Divider.tsx
Labels: Component: Divider

#19842 (web-components) - fix installation instruction docs story
  change/@fluentui-web-components-2c52d18d-0676-470c-a592-8483a8ce6d7a.json
  packages/web-components/src/_docs/getting-started/installation.stories.mdx
Labels: web-components

#20083 react-button: Adjust signature to use ForwardRefComponent
  change/@fluentui-react-button-461575db-f5c4-4255-a3a5-18972bd8a7c4.json
  packages/react-button/etc/react-button.api.md
  packages/react-button/src/components/Button/Button.tsx
  packages/react-button/src/components/Button/useButton.ts
  packages/react-button/src/components/CompoundButton/CompoundButton.tsx
  packages/react-button/src/components/CompoundButton/useCompoundButton.ts
  packages/react-button/src/components/MenuButton/MenuButton.tsx
  packages/react-button/src/components/MenuButton/useMenuButton.tsx
  packages/react-button/src/components/SplitButton/SplitButton.tsx
  packages/react-button/src/components/SplitButton/useSplitButton.ts
  packages/react-button/src/components/ToggleButton/ToggleButton.tsx
  packages/react-button/src/components/ToggleButton/useToggleButton.ts
Labels: Component: Button

#17947 fix(utilities): add missing minLength-property to text fields
  change/@fluentui-utilities-2c0b7b85-205d-4003-b7e2-16f6345bb49c.json
  packages/utilities/src/properties.ts
Labels: Component: TextField, Package: utilities

#20105 (web-components): fix tree view selection bug
  change/@fluentui-web-components-409bc50a-f172-4042-9b98-b68548e4194c.json
  packages/web-components/package.json
  yarn.lock
Labels: web-components

#20081 react-avatar: Adjust signature to use ForwardRefComponent
  change/@fluentui-react-avatar-519ee8b1-ab9f-4aa7-8c0b-272927dc82d7.json
  packages/react-avatar/etc/react-avatar.api.md
  packages/react-avatar/src/components/Avatar/Avatar.tsx
Labels: Component: Avatar

#20095 fix(makeStyles): fix insertion of keyframes
  change/@fluentui-make-styles-ad78d37d-58a7-46c5-83a2-cac7cce8fcff.json
  change/@fluentui-react-make-styles-0c89fe8b-4478-430d-a761-fc6ead7c7eae.json
  packages/make-styles/src/makeStyles.test.ts
  packages/make-styles/src/renderer/rehydrateRendererCache.ts
  packages/make-styles/src/runtime/compileKeyframeCSS.test.ts
  packages/make-styles/src/runtime/compileKeyframeCSS.ts
  packages/make-styles/src/runtime/resolveStyleRules.test.ts
  packages/make-styles/src/runtime/resolveStyleRules.ts
  packages/react-make-styles/README.md
  packages/react-make-styles/src/createDOMRenderer.test.tsx
  packages/react-make-styles/src/renderToStyleElements-node.test.tsx
Labels: Area: JS Styling, Fluent UI vNext

#20062 fix: remove active as condition for open submenu and active styles for pointing menu
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/components/Menu/MenuItem.tsx
  packages/fluentui/react-northstar/src/themes/teams/components/Menu/menuItemStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Menu/menuItemWrapperStyles.ts
  packages/fluentui/react-northstar/test/specs/components/Menu/Menu-test.tsx
Labels: Fluent UI react-northstar

#20003 Prevent crashes when searching website nav
  apps/public-docsite/src/components/Nav/Nav.tsx
Labels: Area: Website

#20094 react-radio: creating package
  jest.config.js
  nx.json
  packages/react-radio/.babelrc.json
  packages/react-radio/.eslintrc.json
  packages/react-radio/.npmignore
  packages/react-radio/LICENSE
  packages/react-radio/README.md
  packages/react-radio/config/api-extractor.json
  packages/react-radio/config/api-extractor.local.json
  packages/react-radio/config/tests.js
  packages/react-radio/etc/react-radio.api.md
  packages/react-radio/jest.config.js
  packages/react-radio/just.config.ts
  packages/react-radio/package.json
  packages/react-radio/src/Radio.ts
  packages/react-radio/src/common/isConformant.ts
  packages/react-radio/src/components/Radio/Radio.test.tsx
  packages/react-radio/src/components/Radio/Radio.tsx
  packages/react-radio/src/components/Radio/Radio.types.ts
  packages/react-radio/src/components/Radio/__snapshots__/Radio.test.tsx.snap
  packages/react-radio/src/components/Radio/index.ts
  packages/react-radio/src/components/Radio/renderRadio.tsx
  packages/react-radio/src/components/Radio/useRadio.ts
  packages/react-radio/src/components/Radio/useRadioStyles.ts
  packages/react-radio/src/index.ts
  packages/react-radio/tsconfig.json
  tsconfig.base.json
  workspace.json
Labels: Fluent UI vNext, Component: Radio

#20113 (web components) update progress determinate color to accentFillRest
  change/@fluentui-web-components-991943ae-d31e-470f-b668-91932a12dc09.json
  packages/web-components/src/progress/progress-ring/progress-ring.styles.ts
  packages/web-components/src/progress/progress/progress.styles.ts
Labels: web-components

#20121 react-radio: updated codeowners
  .github/CODEOWNERS
Labels: Fluent UI vNext, Component: Radio

#20111 react-card - Migrate Card to new prop merging / root as a slot
  change/@fluentui-react-card-1715b99c-f9b2-4638-b765-5ef2f6ef34aa.json
  packages/react-card/etc/react-card.api.md
  packages/react-card/src/components/Card/Card.types.ts
  packages/react-card/src/components/Card/renderCard.tsx
  packages/react-card/src/components/Card/useCard.ts
  packages/react-card/src/components/Card/useCardStyles.ts
  packages/react-card/src/components/CardFooter/CardFooter.types.ts
  packages/react-card/src/components/CardFooter/__snapshots__/CardFooter.test.tsx.snap
  packages/react-card/src/components/CardFooter/renderCardFooter.tsx
  packages/react-card/src/components/CardFooter/useCardFooter.ts
  packages/react-card/src/components/CardFooter/useCardFooterStyles.ts
  packages/react-card/src/components/CardHeader/CardHeader.types.ts
  packages/react-card/src/components/CardHeader/__snapshots__/CardHeader.test.tsx.snap
  packages/react-card/src/components/CardHeader/renderCardHeader.tsx
  packages/react-card/src/components/CardHeader/useCardHeader.ts
  packages/react-card/src/components/CardHeader/useCardHeaderStyles.ts
  packages/react-card/src/components/CardPreview/CardPreview.types.ts
  packages/react-card/src/components/CardPreview/renderCardPreview.tsx
  packages/react-card/src/components/CardPreview/useCardPreview.ts
  packages/react-card/src/components/CardPreview/useCardPreviewStyles.ts
Labels: Component: Card, Fluent UI vNext

#20248 Add window.FabricConfig.legacyTheme, which actually calls loadTheme()…
  change/@fluentui-style-utilities-9070a69a-77b6-42cb-9289-b6bfca792ad1.json
  packages/style-utilities/src/styles/theme.ts
Labels: Needs: Author Feedback, Area: Theming, Package: styling

#20374 Fix clearing the search box on the website nav
  apps/public-docsite/src/components/Nav/Nav.tsx
  change/@fluentui-react-docsite-components-a695e8d1-1d24-4570-aff8-501c7a7e3684.json
  packages/react-docsite-components/src/components/Nav/Nav.types.ts
Labels: Area: Website

#20394 fix(Colorpicker): Add error state and tooltip when invalid hex/RGBA values are manually entered
  change/@fluentui-react-3f616257-4ae0-4337-9048-f8c9f9a64aaa.json
  packages/react-examples/src/react/__snapshots__/ColorPicker.Basic.Example.tsx.shot
  packages/react/etc/react.api.md
  packages/react/src/components/ColorPicker/ColorPicker.base.tsx
  packages/react/src/components/ColorPicker/ColorPicker.test.tsx
  packages/react/src/components/ColorPicker/ColorPicker.types.ts
  packages/react/src/components/ColorPicker/__snapshots__/ColorPicker.test.tsx.snap
  packages/react/src/components/TextField/TextField.base.tsx
  packages/react/src/components/TextField/TextField.types.ts
  packages/react/src/components/Tooltip/Tooltip.base.tsx
  packages/react/src/components/Tooltip/__snapshots__/Tooltip.test.tsx.snap
Labels: Area: Accessibility, Component: ColorPicker, PR: API Modified

#20414 fix(Combobox): switch up scroll-into-view method to never scroll page+close parent combobox menu
  change/@fluentui-react-7e18ffdf-7154-4a18-9ffa-64d26fa7e78a.json
  packages/react/src/components/ComboBox/ComboBox.tsx
Labels: Component: ComboBox

#20231 Set ChatMessageReadStatus color to brand
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/themes/teams/components/Chat/chatMessageReadStatusStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Chat/chatMessageReadStatusVariables.ts
Labels: Fluent UI react-northstar
