Repository microsoft/fluentui, pull requests merged in 2021-01, with the labels that each got.

#16279 refactor(Builder): move components to single files, create hooks and create state files
  packages/fluentui/react-builder/src/components/Designer.tsx
  packages/fluentui/react-builder/src/components/ErrorPanel.tsx
  packages/fluentui/react-builder/src/components/Knobs.tsx
  packages/fluentui/react-builder/src/components/MultiTypeKnob.tsx
  packages/fluentui/react-builder/src/config.tsx
  packages/fluentui/react-builder/src/hooks/index.ts
  packages/fluentui/react-builder/src/hooks/useAxeOnElement.ts
  packages/fluentui/react-builder/src/hooks/useMode.ts
  packages/fluentui/react-builder/src/state/index.tsx
  packages/fluentui/react-builder/src/state/state.ts
  packages/fluentui/react-builder/src/state/utils.ts
Labels: Fluent UI react-northstar

#16321 Remove default value for chat header slot
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/components/Chat/ChatMessage.tsx
Labels: Fluent UI react-northstar

#16337 Azure theme fix: MessageBar, Callout and TeachingBubble
  change/@fluentui-react-examples-2021-01-03-17-32-17-jackieg-control-style-fixes.json
  change/@uifabric-azure-themes-2021-01-03-17-32-17-jackieg-control-style-fixes.json
  packages/azure-themes/src/azure/AzureColors.ts
  packages/azure-themes/src/azure/AzureThemeDark.ts
  packages/azure-themes/src/azure/AzureThemeHighContrastDark.ts
  packages/azure-themes/src/azure/AzureThemeHighContrastLight.ts
  packages/azure-themes/src/azure/AzureThemeLight.ts
  packages/azure-themes/src/azure/IAzureSemanticColors.ts
  packages/azure-themes/src/azure/IExtendedSemanticColors.ts
  packages/azure-themes/src/azure/styles/Callout.styles.ts
  packages/azure-themes/src/azure/styles/MessageBar.styles.ts
  packages/azure-themes/src/azure/styles/TeachingBubble.styles.ts
  packages/react-examples/src/azure-themes/stories/components/TeachingBubble.stories.tsx
  packages/react-examples/src/azure-themes/stories/components/messageBar.stories.tsx
Labels: Fabric 7, Package: azure-themes, v8 snap: needs cherry-pick

#16348 fix(useTriggerElement): update condition (#16104)
  packages/fluentui/react-bindings/src/hooks/useTriggerElement.tsx
  packages/fluentui/react-bindings/test/hooks/useTriggerElement-test.tsx
Labels: Fluent UI react-northstar

#16341 fix(stickyTree): hidden item + focus loss could happen when the last sticky header is collapsed
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar-prototypes/src/prototypes/VirtualizedStickyTree/VirtualStickyTree.tsx
Labels: AutoMerge, Fluent UI react-northstar

#16347 fix (web components): height clamp box sizing select
  change/@fluentui-web-components-2021-01-04-10-10-23-users-v-sedono-fix-height-clamp-box-sizing-select.json
  packages/web-components/src/select/select.styles.ts
Labels: web-components

#15331 chore: improve dist size for N*
  scripts/gulp/tasks/bundle.ts
Labels: Area: Build System

#16349 fix (web components): add missing css selector for select indicator styles
  change/@fluentui-web-components-2021-01-04-10-50-20-users-v-sedono-fix-select-indicator-styles.json
  packages/web-components/src/select/select.styles.ts
Labels: web-components

#16345 chore (web components): add menu disabled example
  change/@fluentui-web-components-2021-01-04-12-10-28-users-v-sedono-add-menu-disabled-example.json
  packages/web-components/src/menu/fixtures/menu.html
Labels: web-components

#16351 fix (web components): add switch label margin and cursor pointer
  change/@fluentui-web-components-2021-01-04-10-57-05-users-v-sedono-fix-switch-label-padding-cursor-pointer.json
  packages/web-components/src/switch/switch.styles.ts
Labels: web-components

#16350 fix (web components): add padding for focus overlap of state in accordion item
  change/@fluentui-web-components-2021-01-04-10-54-05-users-v-sedono-fix-margin-focus-overlap-accordion-item.json
  packages/web-components/src/accordion/accordion-item/accordion-item.styles.ts
Labels: web-components

#16355 fix (web components): text-field label hidden styles ordering
  change/@fluentui-web-components-2021-01-04-11-24-25-users-v-sedono-fix-text-field-label-hidden-styles.json
  packages/web-components/src/text-field/text-field.styles.ts
Labels: web-components

#16359 fix (web components): start end fixed width height
  change/@fluentui-web-components-2021-01-04-11-34-11-users-v-sedono-fix-start-end-fixed-width-height.json
  packages/web-components/src/menu-item/menu-item.styles.ts
  packages/web-components/src/styles/patterns/button.ts
  packages/web-components/src/text-field/text-field.styles.ts
  packages/web-components/src/tree-item/tree-item.styles.ts
Labels: web-components

#16356 fix (web components): inline start margin rtl slider
  change/@fluentui-web-components-2021-01-04-11-29-21-users-v-sedono-fix-inline-start-margin-rtl-slider.json
  packages/web-components/src/slider/slider.styles.ts
Labels: web-components

#16368 fix(fontSizeUtility): fallback to a default pxToRem value
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/utils/fontSizeUtility.ts
  packages/fluentui/react-northstar/test/specs/utils/fontSizeUtility-test.ts
Labels: Fluent UI react-northstar

#15381 chore: rework mergeComponentStyles to avoid additional merging
  packages/fluentui/CHANGELOG.md
  packages/fluentui/docs/src/examples/components/Toolbar/Performance/CustomToolbar.perf.tsx
  packages/fluentui/react-bindings/src/styles/resolveStyles.ts
  packages/fluentui/styles/src/mergeThemes.ts
  packages/fluentui/styles/test/mergeThemes/mergeComponentStyles-test.ts
  packages/fluentui/styles/test/mergeThemes/mergeThemes-test.ts
Labels: Fluent UI react-northstar

#16381 Fix: Update Readme - removed duplicated link on README.md fixes #15357
  README.md
Labels: Area: Documentation

#16388 Datepicker - adding NVDA bug
  packages/fluentui/react-northstar/src/components/Datepicker/Datepicker.tsx
Labels: Fluent UI react-northstar

#16324 Apply aria attributes on proper element for Datepicker, Dropdown, Input
  packages/fluentui/CHANGELOG.md
  packages/fluentui/accessibility/src/behaviors/Datepicker/datepickerBehavior.ts
  packages/fluentui/accessibility/src/behaviors/Input/inputBehavior.ts
  packages/fluentui/react-northstar/src/components/Datepicker/Datepicker.tsx
  packages/fluentui/react-northstar/src/components/Dropdown/Dropdown.tsx
Labels: Area: Accessibility, Fluent UI react-northstar

#16393 fix(TextArea): add props to PropTypes
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/components/TextArea/TextArea.tsx
Labels: Fluent UI react-northstar

#16293 Added CalendarAgendaIcon and ImageLibraryIcon
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-icons-northstar/src/components/CalendarAgendaIcon.tsx
  packages/fluentui/react-icons-northstar/src/components/ImageLibraryIcon.tsx
  packages/fluentui/react-icons-northstar/src/index.ts
Labels: Fluent UI react-northstar

#16387 fix(doc site): ensure Typography example text scrolls in Firefox
  apps/public-docsite/src/pages/Styles/TypographyPage/TypographyPage.module.scss
Labels: Area: Website

#16395 Run yarn with timeout and retries
  apps/ssr-tests/{
  azure-pipelines.hotfix.yml
  azure-pipelines.perf-test.yml
  azure-pipelines.release-fluentui.yml
  azure-pipelines.release.yml
  azure-pipelines.yml
  yarn-ci.sh
Labels: Area: Build System

#16396 chore(Avatar): add VR test for overrides
  packages/fluentui/docs/src/examples/components/Avatar/Visual/AvatarStatusOverrideExample.shorthand.tsx
  packages/fluentui/docs/src/examples/components/Avatar/Visual/index.tsx
  packages/fluentui/docs/src/examples/components/Avatar/index.tsx
Labels: Fluent UI react-northstar

#16397 (7.0) Run yarn with timeout and retries
  azure-pipelines.hotfix.yml
  azure-pipelines.perf-test.yml
  azure-pipelines.release.yml
  azure-pipelines.yml
  yarn-ci.sh
Labels: Area: Build System, Fabric 7

#16392 fix: update implementation of getReactFiberFromNode to be compatible with React 17
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/components/Debug/FiberNavigator.ts
  packages/fluentui/react-northstar/src/utils/getReactFiberFromNode.ts
  packages/fluentui/react-northstar/src/utils/positioner/Popper.tsx
  packages/fluentui/react-northstar/test/specs/utils/getReactFiberFromNode-test.tsx
Labels: Fluent UI react-northstar

#16394 fix(Popup): use proper window from useWindow() hook
  change/@fluentui-react-internal-2021-01-06-13-24-14-fix-win-popup.json
  packages/react-internal/src/components/Popup/Popup.tsx
Labels: Component: Popup, Priority 2: Normal

#16382 feat(AvatarStatus): add AvatarStatus component
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/components/Avatar/Avatar.tsx
  packages/fluentui/react-northstar/src/components/Avatar/AvatarStatus.tsx
  packages/fluentui/react-northstar/src/components/Avatar/AvatarStatusIcon.tsx
  packages/fluentui/react-northstar/src/index.ts
  packages/fluentui/react-northstar/src/themes/teams/componentStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/componentVariables.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Avatar/avatarStatusIconStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Avatar/avatarStatusIconVariables.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Avatar/avatarStatusStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Avatar/avatarStatusVariables.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Avatar/avatarStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Avatar/avatarVariables.ts
  packages/fluentui/react-northstar/test/specs/components/Avatar/AvatarStatusIcon-test.tsx
Labels: AutoMerge, Fluent UI react-northstar

#16391 Added foreground and background color token pairs into Teams theme v1 and v2
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/themes/teams-dark-v2/siteVariables.ts
  packages/fluentui/react-northstar/src/themes/teams-dark/colors.ts
  packages/fluentui/react-northstar/src/themes/teams-high-contrast/colors.ts
  packages/fluentui/react-northstar/src/themes/teams-v2/siteVariables.ts
  packages/fluentui/react-northstar/src/themes/teams/colors.ts
Labels: Fluent UI react-northstar

#16370 [Image] Remove ImageFitStyles when object-fit:contain or cover is available
  apps/a11y-tests/src/tests/__snapshots__/ComponentExamples.test.tsx.snap
  change/@fluentui-react-2021-01-07-12-10-51-persona-quarter.json
  change/@fluentui-react-experiments-2021-01-07-12-10-51-persona-quarter.json
  change/@fluentui-react-internal-2021-01-05-10-02-34-persona-quarter.json
  packages/react-examples/src/react/__snapshots__/ActivityItem.Compact.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/ActivityItem.Persona.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/DetailsList.CustomColumns.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/DocumentCard.Basic.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/DocumentCard.Compact.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/DocumentCard.Complete.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/DocumentCard.Conversation.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/DocumentCard.Image.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/Facepile.Basic.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/Facepile.Overflow.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/Image.Contain.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/Image.Cover.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/Image.MaximizeFrame.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/PeoplePicker.Controlled.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/PeoplePicker.PreselectedItems.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/Persona.Alternate.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/Persona.Basic.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/Persona.CustomRender.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/Persona.Presence.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/Persona.PresenceColor.Example.tsx.shot
  packages/react-experiments/src/components/PersonaCoin/__snapshots__/PersonaCoin.test.tsx.snap
  packages/react-experiments/src/components/UnifiedPicker/UnifiedPeoplePicker/__snapshots__/UnifiedPeoplePicker.test.tsx.snap
  packages/react-internal/src/components/ActivityItem/__snapshots__/ActivityItem.test.tsx.snap
  packages/react-internal/src/components/Facepile/__snapshots__/Facepile.test.tsx.snap
  packages/react-internal/src/components/Image/Image.styles.ts
  packages/react-internal/src/components/Persona/PersonaCoin/__snapshots__/PersonaCoin.deprecated.test.tsx.snap
  packages/react-internal/src/components/Persona/PersonaCoin/__snapshots__/PersonaCoin.test.tsx.snap
  packages/react-internal/src/components/Persona/__snapshots__/Persona.deprecated.test.tsx.snap
  packages/react-internal/src/components/Persona/__snapshots__/Persona.test.tsx.snap
  packages/react-internal/src/components/pickers/PeoplePicker/__snapshots__/PeoplePicker.test.tsx.snap
  packages/react/src/components/DocumentCard/__snapshots__/DocumentCardImage.test.tsx.snap
Labels: Component: Image

#16078 Fix ComboBox onBlur when relatedTarget is an ancestor to menu
  change/@fluentui-react-2020-11-26-23-52-32-16077-combobox-onblur-ancestor.json
  packages/react/src/components/ComboBox/ComboBox.tsx
Labels: Component: ComboBox

#16409 feat(AvatarImage): adds AvatarImage component
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/components/Avatar/Avatar.tsx
  packages/fluentui/react-northstar/src/components/Avatar/AvatarImage.tsx
  packages/fluentui/react-northstar/src/index.ts
  packages/fluentui/react-northstar/src/themes/teams-high-contrast/componentVariables.ts
  packages/fluentui/react-northstar/src/themes/teams/componentStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/componentVariables.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Avatar/avatarImageStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Avatar/avatarImageVariables.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Avatar/avatarStatusIconStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Avatar/avatarStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Avatar/avatarVariables.ts
  packages/fluentui/react-northstar/test/specs/components/Avatar/Avatar-test.tsx
Labels: Fluent UI react-northstar

#16424 Add waitForSelector step to screener
  scripts/screener/screener.api.ts
  scripts/screener/screener.steps.ts
  scripts/screener/screener.types.ts
Labels: Area: Build System, Fluent UI react-northstar

#16417 feat(AvatarLabel): add AvatarLabel component
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/components/Avatar/Avatar.tsx
  packages/fluentui/react-northstar/src/components/Avatar/AvatarLabel.tsx
  packages/fluentui/react-northstar/src/index.ts
  packages/fluentui/react-northstar/src/themes/teams/componentStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/componentVariables.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Avatar/avatarLabelStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Avatar/avatarLabelVariables.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Avatar/avatarStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Avatar/avatarVariables.ts
  packages/fluentui/react-northstar/test/specs/components/Avatar/Avatar-test.tsx
Labels: Fluent UI react-northstar

#16426 chore(scripts): improve prettier DX
  scripts/prettier.js
Labels: Area: Build System

#16379 fix (web components): update svg fill to use currentcolor as default, change some currentColor casing
  change/@fluentui-web-components-2021-01-05-14-45-30-users-v-sedono-fix-update-glyphs-to-currentcolor.json
  packages/web-components/src/flipper/flipper.styles.ts
  packages/web-components/src/menu-item/menu-item.styles.ts
  packages/web-components/src/styles/patterns/button.ts
  packages/web-components/src/tabs/tab/tab.styles.ts
  packages/web-components/src/text-field/text-field.styles.ts
Labels: web-components

#16423 fix(react-examples): Add aria-label to identify link in Checkbox example
  packages/react-examples/src/react-checkbox/Checkbox/Checkbox.Other.Example.tsx
  packages/react-examples/src/react-checkbox/__snapshots__/Checkbox.Other.Example.tsx.shot
Labels: Area: Website

#16432 chore(Backport): Add new design token for category colors, fix docs #…
  packages/fluentui/CHANGELOG.md
  packages/fluentui/docs/src/views/CategoryColorSchemes.tsx
  packages/fluentui/react-northstar/src/themes/teams-dark/colors.ts
  packages/fluentui/react-northstar/src/themes/teams-high-contrast/colors.ts
  packages/fluentui/react-northstar/src/themes/teams/categoryColors.ts
Labels: Fluent UI react-northstar

#16414 7.0: UnifiedPicker: Add ability to force resolve what is selected in the floating suggestions
  change/@fluentui-react-examples-2021-01-08-10-41-26-forceresolve7.0.json
  change/@uifabric-experiments-2021-01-08-10-41-26-forceresolve7.0.json
  packages/experiments/src/components/UnifiedPicker/UnifiedPicker.tsx
  packages/react-examples/src/experiments/UnifiedPeoplePicker/UnifiedPeoplePicker.WithEdit.Example.tsx
Labels: Fabric 7, Package: experiments

#16413 7.0: UnifiedPicker: Drop to either side of items
  change/@uifabric-experiments-2021-01-08-10-16-10-dropright7.0.json
  packages/experiments/src/components/UnifiedPicker/UnifiedPicker.tsx
Labels: Fabric 7, Package: experiments

#16436 Updateselectedpeoplelistexamples7.0
  change/@fluentui-react-examples-2021-01-08-11-33-26-updateselectedpeoplelistexamples7.0.json
  change/@uifabric-experiments-2021-01-08-11-33-26-updateselectedpeoplelistexamples7.0.json
  packages/experiments/src/UnifiedPicker.ts
  packages/experiments/src/components/SelectedItemsList/Items/EditableItem.tsx
  packages/experiments/src/components/SelectedItemsList/Items/subcomponents/DefaultEditingItem.tsx
  packages/experiments/src/components/SelectedItemsList/SelectedItemsList.tsx
  packages/experiments/src/components/SelectedItemsList/SelectedItemsList.types.ts
  packages/experiments/src/components/UnifiedPicker/UnifiedPicker.tsx
  packages/experiments/src/components/UnifiedPicker/hooks/useFloatingSuggestionItems.ts
  packages/experiments/src/components/UnifiedPicker/index.ts
  packages/react-examples/src/experiments/SelectedPeopleList/SelectedPeopleList.WithEdit.Example.tsx
  packages/react-examples/src/experiments/SelectedPeopleList/SelectedPeopleList.WithEditInContextMenu.Example.tsx
  packages/react-examples/src/experiments/UnifiedPeoplePicker/UnifiedPeoplePicker.WithEdit.Example.tsx
Labels: Fabric 7, Package: experiments

#16412 doc(roster): Performance Test + Roster Prototype
  packages/fluentui/CHANGELOG.md
  packages/fluentui/docs/src/components/ComponentDoc/PrototypePerfExample/PrototypePerfControls.tsx
  packages/fluentui/docs/src/components/ComponentDoc/PrototypePerfExample/PrototypePerfExample.tsx
  packages/fluentui/docs/src/components/ComponentDoc/PrototypePerfExample/index.ts
  packages/fluentui/docs/src/components/Sidebar/Sidebar.tsx
  packages/fluentui/docs/src/examples/components/PerformanceTests/Performance/Roster.perf.tsx
  packages/fluentui/docs/src/examples/components/PerformanceTests/index.tsx
  packages/fluentui/docs/src/routes.tsx
  packages/fluentui/docs/src/views/PerformanceTests.tsx
  packages/fluentui/perf-test/package.json
  packages/fluentui/react-northstar-prototypes/src/index.ts
  packages/fluentui/react-northstar-prototypes/src/prototypes/Roster/animations.tsx
  packages/fluentui/react-northstar-prototypes/src/prototypes/Roster/index.tsx
  packages/fluentui/react-northstar-prototypes/src/prototypes/Roster/participant.tsx
  packages/fluentui/react-northstar-prototypes/src/prototypes/Roster/participantData.tsx
  packages/fluentui/react-northstar-prototypes/src/prototypes/Roster/presentersData.tsx
  packages/fluentui/react-northstar-prototypes/src/prototypes/Roster/styles.tsx
Labels: Fluent UI react-northstar

#16428 feat(AvatarIcon): add AvatarIcon
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/components/Avatar/Avatar.tsx
  packages/fluentui/react-northstar/src/components/Avatar/AvatarIcon.tsx
  packages/fluentui/react-northstar/src/index.ts
  packages/fluentui/react-northstar/src/themes/teams/componentStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/componentVariables.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Avatar/avatarIconStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Avatar/avatarIconVariables.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Avatar/avatarStyles.ts
Labels: Fluent UI react-northstar

#16441 chore(scripts): remove debug code leftovers from prettier
  scripts/prettier.js
Labels: Area: Build System

#16420 docs(Image): align best practices Dos
  packages/react-examples/src/react/Image/docs/ImageDos.md
Labels: Area: Website, AutoMerge

#16448 fix(react-examples v7): Change link text for clarity in Checkbox example
  change/@fluentui-react-examples-2021-01-12-19-30-49-microsoftdesign-fluentui-10211.json
  packages/react-examples/src/office-ui-fabric-react/Checkbox/Checkbox.Other.Example.tsx
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/Checkbox.Other.Example.tsx.shot
Labels: Area: Website, Fabric 7

#16461 cleanup fluent UI change log since v51.2
  packages/fluentui/CHANGELOG.md
Labels: AutoMerge, Fluent UI react-northstar

#16151 UI Builder top toolbar ux updates
  packages/fluentui/react-builder/src/components/Toolbar.tsx
Labels: Area: UI Builder, Fluent UI react-northstar

#16418 Button: Adding disabledFocusable prop to allow for scenarios where Button has disabled styling but is focusable
  change/@fluentui-react-button-2021-01-08-18-27-42-disabledFocusable.json
  packages/fluentui/docs/src/components/ComponentDoc/PrototypePerfExample/PrototypePerfExample.tsx
  packages/react-button/etc/react-button.api.md
  packages/react-button/package.json
  packages/react-button/src/components/Button/Button.test.tsx
  packages/react-button/src/components/Button/Button.types.ts
  packages/react-button/src/components/Button/__snapshots__/Button.test.tsx.snap
  packages/react-button/src/components/Button/index.ts
  packages/react-button/src/components/Button/useButtonClasses.ts
  packages/react-button/src/components/Button/useButtonState.ts
  packages/react-button/src/components/SplitButton/useSplitButton.ts
  packages/react-examples/src/react-button/Button/Button.stories.tsx
  packages/react-examples/src/react-button/CompoundButton/CompoundButton.stories.tsx
  packages/react-examples/src/react-button/MenuButton/MenuButton.stories.tsx
  packages/react-examples/src/react-button/SplitButton/SplitButton.stories.tsx
  packages/react-examples/src/react-button/ToggleButton/ToggleButton.stories.tsx
Labels: AutoMerge, Component: Button

#16442 chore(MenuButton):No aria-expanded for menuButton with contextMenu
  packages/a11y-testing/src/definitions/MenuButton/menuButtonBehaviorDefinition.ts
  packages/fluentui/CHANGELOG.md
  packages/fluentui/accessibility/src/behaviors/MenuButton/menuButtonBehavior.ts
Labels: AutoMerge, Fluent UI react-northstar

#16440 chore(scripts): support opting out from opening browser for 'just dev'
  scripts/just.config.ts
  scripts/tasks/webpack.ts
Labels: Area: Build System

#16467 chore(Form): update forms examples
  packages/fluentui/CHANGELOG.md
  packages/fluentui/docs/src/examples/components/Form/Rtl/FormExample.rtl.tsx
  packages/fluentui/docs/src/examples/components/Form/Types/FormExample.shorthand.tsx
  packages/fluentui/docs/src/examples/components/Form/Types/FormExample.tsx
  packages/fluentui/docs/src/examples/components/Form/Types/FormExampleBase.tsx
  packages/fluentui/docs/src/examples/components/Form/Types/FormExampleInline.shorthand.tsx
  packages/fluentui/docs/src/examples/components/Form/Types/FormExampleInline.tsx
  packages/fluentui/docs/src/examples/components/Form/Types/index.tsx
  packages/fluentui/docs/src/examples/components/Form/Usage/FormExampleCheckbox.shorthand.tsx
  packages/fluentui/docs/src/examples/components/Form/Usage/FormExampleCheckbox.tsx
  packages/fluentui/docs/src/examples/components/Form/Usage/FormExampleDatepicker.tsx
  packages/fluentui/docs/src/examples/components/Form/Usage/FormExampleDropdown.shorthand.tsx
  packages/fluentui/docs/src/examples/components/Form/Usage/FormExampleDropdown.tsx
  packages/fluentui/docs/src/examples/components/Form/Usage/FormExampleErrorAndSuccessful.shorthand.tsx
  packages/fluentui/docs/src/examples/components/Form/Usage/FormExampleSlider.shorthand.tsx
  packages/fluentui/docs/src/examples/components/Form/Usage/FormExampleSlider.tsx
Labels: Fluent UI react-northstar

#16446 chore(scripts): add --check support for root prettier task
  scripts/prettier.js
  scripts/prettier/prettier-helpers.js
Labels: Area: Build System

#16378 fix(azure-themes): dark mode themes are now correctly set as inverted (v7)
  change/@uifabric-azure-themes-2021-01-05-13-57-26-daparks-f7.json
  packages/azure-themes/src/azure/AzureThemeDark.ts
  packages/azure-themes/src/azure/AzureThemeHighContrastDark.ts
Labels: Fabric 7, Package: azure-themes, v8 snap: needs cherry-pick

#15972 feat(UI builder): Add VPC cursor simulation and new roles and element types for the screen reader narration computation,
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-builder/src/components/Canvas.tsx
  packages/fluentui/react-builder/src/components/Designer.tsx
  packages/fluentui/react-builder/src/components/ReaderNarration.tsx
  packages/fluentui/react-builder/src/components/Toolbar.tsx
  packages/fluentui/react-builder/src/narration/NarrationComputer.tsx
  packages/fluentui/react-builder/src/narration/SRNC-Definitions.tsx
  packages/fluentui/react-builder/src/narration/SRNC-ElementStates-Win_JAWS.tsx
  packages/fluentui/react-builder/src/narration/SRNC-ElementTypes-Win_JAWS.tsx
  packages/fluentui/react-builder/src/narration/SRNC-ElementTypes-Win_JAWS_VPC.tsx
  packages/fluentui/react-builder/src/narration/SRNC-LandmarksAndGroups-Win_JAWS.tsx
  packages/fluentui/react-builder/src/narration/SRNC-LandmarksAndGroups-Win_JAWS_VPC.tsx
  packages/fluentui/react-builder/src/narration/SRNC-ReadingOrder-Win_JAWS.tsx
  packages/fluentui/react-builder/src/narration/SRNC-ReadingOrder-Win_JAWS_VPC.tsx
  packages/fluentui/react-builder/src/narration/SRNC-Rules-Win_JAWS.tsx
  packages/fluentui/react-builder/src/narration/SRNC-StateRules-Win_JAWS.tsx
  packages/fluentui/react-builder/src/narration/SRNC-StateRules-Win_JAWS_VPC.tsx
  packages/fluentui/react-builder/src/narration/SRNC-Usages-Win_JAWS.tsx
  packages/fluentui/react-builder/src/state/state.ts
Labels: Fluent UI react-northstar

#16472 Force publish v0
  scripts/tasks/fluentui-publish.ts
Labels: Area: Build System, Fluent UI react-northstar

#16160 Updated color styles and values for Label. Fix padding for circular Label.
  packages/fluentui/CHANGELOG.md
  packages/fluentui/docs/src/examples/components/Label/Variations/LabelExampleColor.shorthand.tsx
  packages/fluentui/react-northstar/src/themes/teams-dark/colors.ts
  packages/fluentui/react-northstar/src/themes/teams-dark/components/Label/labelVariables.ts
  packages/fluentui/react-northstar/src/themes/teams-high-contrast/colors.ts
  packages/fluentui/react-northstar/src/themes/teams-high-contrast/components/Label/labelVariables.ts
  packages/fluentui/react-northstar/src/themes/teams/colors.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Label/labelStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Label/labelVariables.ts
Labels: Component: Label, Fluent UI react-northstar

#16474 chore(Form): deprecate control and fields prop
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/components/Form/Form.tsx
  packages/fluentui/react-northstar/src/components/Form/FormField.tsx
Labels: Fluent UI react-northstar

#16374 fix (web components): slider disabled and readonly cursor
  change/@fluentui-web-components-2021-01-05-13-44-17-users-v-sedono-fix-slider-disabled-cursor.json
  packages/web-components/src/slider/fixtures/slider.html
  packages/web-components/src/slider/slider.styles.ts
Labels: web-components

#16485 Fix createTheme when theme is inverted (7.0)
  change/@fluentui-theme-2021-01-14-14-38-32-fix-createTheme-7.json
  packages/theme/src/__snapshots__/createTheme.test.ts.snap
  packages/theme/src/createTheme.test.ts
  packages/theme/src/createTheme.ts
Labels: Area: Theming, Fabric 7

#16484 Fix createTheme when theme is inverted
  change/@fluentui-theme-2021-01-14-14-31-39-fix-createTheme.json
  packages/theme/src/__snapshots__/createTheme.test.ts.snap
  packages/theme/src/createTheme.test.ts
  packages/theme/src/createTheme.ts
Labels: Area: Theming

#16375 Users/jes/expand collapse hover state
  change/@fluentui-web-components-2021-01-05-12-23-56-users-jes-expand-collapse-hover-state.json
  packages/web-components/src/tree-item/tree-item.styles.ts
Labels: web-components

#16346 chore (web components): add storybook manager for themeing
  change/@fluentui-web-components-2021-01-04-12-11-45-users-v-sedono-fix-add-storybook-manager-for-themeing.json
  packages/web-components/.storybook/manager.js
  packages/web-components/.storybook/theme.js
Labels: web-components

#16483 Improve docs for Link props
  change/@fluentui-react-link-2021-01-14-15-43-45-link-props.json
  packages/react-link/etc/react-link.api.md
  packages/react-link/src/components/Link/Link.types.ts
Labels: Area: Documentation, Component: Link

#16480 chore: update projects-test build script
  packages/fluentui/projects-test/package.json
  packages/fluentui/projects-test/tsconfig.json
Labels: AutoMerge, Fluent UI react-northstar

#16493 chore: fix build via adding missing Gulp files
  packages/fluentui/projects-test/.gulp.js
  packages/fluentui/projects-test/gulpfile.ts
Labels: Fluent UI react-northstar

#16416 fix(Button): remove unsupported size values
  packages/fluentui/CHANGELOG.md
  packages/fluentui/docs/src/examples/components/Button/Groups/ButtonGroupCircularExample.shorthand.tsx
  packages/fluentui/docs/src/examples/components/Button/Groups/ButtonGroupExample.shorthand.tsx
  packages/fluentui/docs/src/examples/components/Button/States/ButtonExampleDisabled.shorthand.tsx
  packages/fluentui/docs/src/examples/components/Button/States/ButtonExampleDisabled.tsx
  packages/fluentui/docs/src/examples/components/Button/Variations/ButtonExampleCircular.shorthand.tsx
  packages/fluentui/docs/src/examples/components/Button/Variations/ButtonExampleCircular.tsx
  packages/fluentui/docs/src/examples/components/Button/Variations/ButtonExampleSize.shorthand.tsx
  packages/fluentui/docs/src/examples/components/Button/Variations/index.tsx
  packages/fluentui/react-northstar/src/components/Button/Button.tsx
Labels: AutoMerge, Fluent UI react-northstar

#16477 Fix(CarouselPaddles): add CarouselPaddlesContainer to fix vertical centering
  packages/fluentui/react-northstar/src/components/Carousel/Carousel.tsx
  packages/fluentui/react-northstar/src/components/Carousel/CarouselPaddlesContainer.tsx
  packages/fluentui/react-northstar/src/index.ts
  packages/fluentui/react-northstar/src/themes/teams/componentStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/componentVariables.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Carousel/carouselItemStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Carousel/carouselPaddleStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Carousel/carouselPaddlesContainerStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Carousel/carouselPaddlesContainerVariables.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Carousel/carouselStyles.ts
Labels: Component: Carousel, Fluent UI react-northstar

#16478 RadioGroup visual polish
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-icons-northstar/src/components/RadioButtonIcon.tsx
  packages/fluentui/react-icons-northstar/src/index.ts
  packages/fluentui/react-northstar/src/components/RadioGroup/RadioGroup.tsx
  packages/fluentui/react-northstar/src/components/RadioGroup/RadioGroupItem.tsx
  packages/fluentui/react-northstar/src/themes/teams/componentStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/RadioGroup/radioGroupItemStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/RadioGroup/radioGroupItemVariables.ts
  packages/fluentui/react-northstar/src/themes/teams/components/RadioGroup/radioGroupStyles.ts
Labels: Fluent UI react-northstar

#16322 Allow accessibility behaviours without props
  packages/fluentui/CHANGELOG.md
  packages/fluentui/accessibility/src/behaviors/Accordion/accordionBehavior.ts
  packages/fluentui/accessibility/src/behaviors/Button/buttonGroupBehavior.ts
  packages/fluentui/accessibility/src/behaviors/Datepicker/datepickerCalendarBehavior.ts
  packages/fluentui/accessibility/src/behaviors/Datepicker/datepickerCalendarGridBehavior.ts
  packages/fluentui/accessibility/src/behaviors/Datepicker/datepickerCalendarGridRowBehavior.ts
  packages/fluentui/accessibility/src/behaviors/Datepicker/datepickerCalendarHeaderBehavior.ts
  packages/fluentui/accessibility/src/behaviors/Grid/gridBehavior.ts
  packages/fluentui/accessibility/src/behaviors/Menu/submenuBehavior.ts
  packages/fluentui/accessibility/src/behaviors/Tab/tabListBehavior.ts
  packages/fluentui/accessibility/src/behaviors/Table/gridCellBehavior.ts
  packages/fluentui/accessibility/src/behaviors/Table/gridCellMultipleFocusableBehavior.ts
  packages/fluentui/accessibility/src/behaviors/Table/gridCellWithFocusableElementBehavior.ts
  packages/fluentui/accessibility/src/behaviors/Table/gridHeaderCellBehavior.ts
  packages/fluentui/accessibility/src/behaviors/Table/gridNestedBehavior.ts
  packages/fluentui/accessibility/src/behaviors/Table/tableBehavior.ts
  packages/fluentui/accessibility/src/behaviors/Table/tableCellBehavior.ts
  packages/fluentui/accessibility/src/behaviors/Table/tableHeaderCellBehavior.ts
  packages/fluentui/accessibility/src/behaviors/Toolbar/menuAsToolbarBehavior.ts
  packages/fluentui/accessibility/src/behaviors/Video/videoBehavior.ts
  packages/fluentui/accessibility/src/types.ts
  packages/fluentui/docs/src/examples/components/Chat/Performance/ChatWithPopover.perf.tsx
  packages/fluentui/docs/src/examples/components/Toolbar/Visual/ToolbarExampleVariables.shorthand.tsx
  packages/fluentui/react-northstar-prototypes/src/prototypes/chatMessages/ChatMessageWithPopover/Popover.tsx
  packages/fluentui/react-northstar-prototypes/src/prototypes/chatMessages/ControlMessages/controlMessagesGroupBehavior.ts
  packages/fluentui/react-northstar-prototypes/src/prototypes/chatMessages/ThreadedMessages/threadChatBehavior.ts
  packages/fluentui/react-northstar-prototypes/src/prototypes/chatMessages/ThreadedMessages/threadedMessageBehavior.ts
  packages/fluentui/react-northstar/src/components/Form/FormCheckbox.tsx
  packages/fluentui/react-northstar/src/components/Form/FormDatepicker.tsx
  packages/fluentui/react-northstar/src/components/Form/FormInput.tsx
  packages/fluentui/react-northstar/src/components/Form/FormSlider.tsx
Labels: AutoMerge, Fluent UI react-northstar

#16195 Toggle: fix label click target being too wide
  change/@fluentui-react-toggle-2020-12-09-14-31-47-fix-label.json
  packages/react-examples/src/react-tabs/__snapshots__/Pivot.AlwaysRender.Example.tsx.shot
  packages/react-examples/src/react-tabs/__snapshots__/Pivot.OverflowMenu.Example.tsx.shot
  packages/react-examples/src/react-tabs/__snapshots__/Tabs.AlwaysRender.Example.tsx.shot
  packages/react-examples/src/react-tabs/__snapshots__/Tabs.OverflowMenu.Example.tsx.shot
  packages/react-examples/src/react-toggle/__snapshots__/Toggle.Basic.Example.tsx.shot
  packages/react-examples/src/react-toggle/__snapshots__/Toggle.CustomLabel.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/ColorPicker.Basic.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/ComboBox.Toggles.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/DetailsList.Documents.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/DetailsList.DragDrop.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/DetailsList.Grouped.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/Dialog.Basic.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/Dialog.Blocking.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/Dialog.Modeless.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/Dropdown.Error.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/FocusTrapZone.Box.Click.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/FocusTrapZone.Box.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/FocusTrapZone.Box.FocusOnCustomElement.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/FocusTrapZone.FocusZone.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/FocusTrapZone.Nested.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/GroupedList.CustomCheckbox.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/Keytips.Basic.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/Keytips.Button.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/Layer.Basic.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/Layer.Customized.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/Layer.Hosted.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/ResizeGroup.OverflowSet.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/Shimmer.Application.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/Shimmer.LoadData.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/TagPicker.Basic.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/TextField.ErrorMessage.Example.tsx.shot
  packages/react-toggle/src/components/Toggle/Toggle.styles.ts
  packages/react-toggle/src/components/Toggle/__snapshots__/Toggle.test.tsx.snap
Labels: Component: Toggle, Priority 2: Normal

#16487 Fixes custom error rendering in TextField
  change/@fluentui-react-internal-2021-01-14-16-34-06-sorgh-iss16049.json
  packages/react-examples/src/react/TextField/TextField.ErrorMessage.Example.tsx
  packages/react-internal/src/components/TextField/TextField.base.tsx
Labels: AutoMerge, Component: TextField

#16377 fix(azure-themes): dark mode themes are now correctly set as inverted
  change/@fluentui-azure-themes-2021-01-05-13-52-11-daparks-fixinverted.json
  packages/azure-themes/src/azure/AzureThemeDark.ts
  packages/azure-themes/src/azure/AzureThemeHighContrastDark.ts
Labels: Package: azure-themes

#16473 Optimize number list icon
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-icons-northstar/src/components/NumberListIcon.tsx
Labels: Fluent UI react-northstar

#16514 fix(useEventListener): avoid double handlers calls in React 17
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-component-event-listener/src/useEventListener.ts
Labels: Fluent UI react-northstar

#16515 chore(Backport): Optimize number list icon #16473
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-icons-northstar/src/components/NumberListIcon.tsx
Labels: Fluent UI react-northstar

#16516 chore(Backport): fix(useEventListener): avoid double handlers calls in React 17 #16514
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-component-event-listener/src/useEventListener.ts
Labels: Fluent UI react-northstar

#15773 Fix React as external config
  scripts/webpack/webpack-resources.js
Labels: Area: Build System

#16523 chore(Menu): add e2e for dismiss menu on click
  packages/fluentui/e2e/tests/menuDismissOnItemClick-example.tsx
  packages/fluentui/e2e/tests/menuDismissOnItemClick-test.ts
Labels: Fluent UI react-northstar

#16363 ScrollablePane example a11y-update
  packages/react-examples/src/react/ScrollablePane/ScrollablePane.Default.Example.tsx
Labels: Area: Accessibility, Area: Samples, Area: Website

#16497 fix(react-examples): Fix high contrast visibility issues in DetailsList example
  packages/react-examples/src/react/DetailsList/DetailsList.Advanced.Example.tsx
Labels: Area: Accessibility, Area: Website, AutoMerge, Component: ContextualMenu

#16496 fix(react-examples): Add allowed data title to TextField mask example
  packages/react-examples/src/react/TextField/TextField.Basic.Example.tsx
  packages/react-examples/src/react/__snapshots__/TextField.Basic.Example.tsx.shot
Labels: Area: Website, AutoMerge

#16494 fix(react-examples): Change item names to match icon in OverflowSet example
  packages/react-examples/src/react/OverflowSet/OverflowSet.Vertical.Example.tsx
  packages/react-examples/src/react/__snapshots__/OverflowSet.Vertical.Example.tsx.shot
Labels: Area: Website, AutoMerge

#16538 Fixes content shifting when anchor has focus due to 2px bottom border
  change/@fluentui-web-components-2021-01-19-12-33-31-users-robarb-anchor-shift.json
  packages/web-components/src/styles/patterns/button.ts
Labels: web-components

#16509 Port #8781 & #8905 to update color changes to PersonaInitialColors in office UI fabric react/5.79.1
  common/changes/office-ui-fabric-react/hotfix_14-office-ui-fabric-react-5.79.1_2021-01-18-07-44.json
  packages/office-ui-fabric-react/src/components/ActivityItem/__snapshots__/ActivityItem.test.tsx.snap
  packages/office-ui-fabric-react/src/components/DocumentCard/__snapshots__/DocumentCard.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Facepile/__snapshots__/Facepile.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Persona/PersonaInitialsColor.test.ts
  packages/office-ui-fabric-react/src/components/Persona/PersonaInitialsColor.ts
Labels: Fabric 5

#16535 [UPP] Add controlled callbacks to EditableItem
  change/@fluentui-react-experiments-2021-01-19-10-58-04-upp-editable-item-callbacks.json
  packages/react-examples/src/react-experiments/SelectedPeopleList/SelectedPeopleList.WithEdit.Example.tsx
  packages/react-examples/src/react-experiments/SelectedPeopleList/SelectedPeopleList.WithEditInContextMenu.Example.tsx
  packages/react-examples/src/react-experiments/UnifiedPeoplePicker/UnifiedPeoplePicker.WithEdit.Example.tsx
  packages/react-experiments/src/components/SelectedItemsList/Items/EditableItem.tsx
Labels: Component: SelectedItemsList, Package: experiments

#16500 Toggle: fix label click target being too wide (7.0)
  change/@fluentui-react-examples-2021-01-15-10-05-48-fix-toggle-label-7.json
  change/office-ui-fabric-react-2021-01-15-10-05-48-fix-toggle-label-7.json
  packages/office-ui-fabric-react/src/components/Toggle/Toggle.styles.ts
  packages/office-ui-fabric-react/src/components/Toggle/__snapshots__/Toggle.test.tsx.snap
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/ColorPicker.Basic.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/ComboBox.Toggles.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/DetailsList.Documents.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/DetailsList.DragDrop.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/DetailsList.Grouped.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/Dialog.Basic.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/Dialog.Blocking.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/Dialog.Modeless.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/Dropdown.Error.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/FocusTrapZone.Box.Click.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/FocusTrapZone.Box.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/FocusTrapZone.Box.FocusOnCustomElement.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/FocusTrapZone.FocusZone.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/FocusTrapZone.Nested.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/GroupedList.CustomCheckbox.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/Keytips.Basic.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/Keytips.Button.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/Layer.Basic.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/Layer.Customized.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/Layer.Hosted.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/Pivot.AlwaysRender.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/ResizeGroup.OverflowSet.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/Shimmer.Application.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/Shimmer.LoadData.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/TagPicker.Basic.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/TextField.ErrorMessage.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/Toggle.Basic.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/Toggle.CustomLabel.Example.tsx.shot
Labels: Component: Toggle, Fabric 7, Priority 2: Normal

#16454 Tooltip: Fix positioning issues that can cause tooltip to flash/not render
  change/office-ui-fabric-react-2021-01-12-17-49-23-FixTooltipV7.json
  packages/office-ui-fabric-react/src/components/Callout/CalloutContent.base.tsx
  packages/office-ui-fabric-react/src/components/Callout/__snapshots__/Callout.test.tsx.snap
  packages/office-ui-fabric-react/src/components/ContextualMenu/__snapshots__/ContextualMenu.test.tsx.snap
  packages/office-ui-fabric-react/src/components/HoverCard/__snapshots__/HoverCard.test.tsx.snap
  packages/office-ui-fabric-react/src/components/TeachingBubble/__snapshots__/TeachingBubble.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Tooltip/Tooltip.styles.ts
  packages/office-ui-fabric-react/src/components/Tooltip/__snapshots__/Tooltip.test.tsx.snap
Labels: Fabric 7, v8 snap: needs cherry-pick

#16540 [UPP] 7.0 backports of #16535, #16210
  change/@fluentui-react-examples-2021-01-19-14-33-38-7.0-upp-backports.json
  change/@uifabric-experiments-2021-01-19-14-33-38-7.0-upp-backports.json
  packages/experiments/src/components/FloatingSuggestionsComposite/FloatingSuggestions.tsx
  packages/experiments/src/components/FloatingSuggestionsComposite/FloatingSuggestions.types.ts
  packages/experiments/src/components/SelectedItemsList/Items/EditableItem.tsx
  packages/react-examples/src/experiments/SelectedPeopleList/SelectedPeopleList.WithEdit.Example.tsx
  packages/react-examples/src/experiments/SelectedPeopleList/SelectedPeopleList.WithEditInContextMenu.Example.tsx
  packages/react-examples/src/experiments/UnifiedPeoplePicker/UnifiedPeoplePicker.WithEdit.Example.tsx
Labels: Fabric 7, Package: experiments

#16188 Use GrayText for disabled Action Button in high contrast.
  change/@fluentui-react-docsite-components-2021-01-15-16-10-18-moling-action-button-fix.json
  change/@fluentui-react-internal-2020-12-08-17-01-28-moling-action-button-fix.json
  change/@fluentui-react-tabs-2021-01-07-17-40-17-moling-action-button-fix.json
  packages/react-docsite-components/src/components/ExampleCard/ExampleCard.styles.ts
  packages/react-examples/src/react-cards/__snapshots__/Card.Vertical.Example.tsx.shot
  packages/react-examples/src/react-tabs/__snapshots__/Pivot.AlwaysRender.Example.tsx.shot
  packages/react-examples/src/react-tabs/__snapshots__/Pivot.Basic.Example.tsx.shot
  packages/react-examples/src/react-tabs/__snapshots__/Pivot.IconCount.Example.tsx.shot
  packages/react-examples/src/react-tabs/__snapshots__/Pivot.Large.Example.tsx.shot
  packages/react-examples/src/react-tabs/__snapshots__/Pivot.OnChange.Example.tsx.shot
  packages/react-examples/src/react-tabs/__snapshots__/Pivot.OverflowMenu.Example.tsx.shot
  packages/react-examples/src/react-tabs/__snapshots__/Pivot.Override.Example.tsx.shot
  packages/react-examples/src/react-tabs/__snapshots__/Pivot.Remove.Example.tsx.shot
  packages/react-examples/src/react-tabs/__snapshots__/Pivot.Separate.Example.tsx.shot
  packages/react-examples/src/react-tabs/__snapshots__/Pivot.Tabs.Example.tsx.shot
  packages/react-examples/src/react-tabs/__snapshots__/Pivot.TabsLarge.Example.tsx.shot
  packages/react-examples/src/react-tabs/__snapshots__/Tabs.AlwaysRender.Example.tsx.shot
  packages/react-examples/src/react-tabs/__snapshots__/Tabs.Basic.Example.tsx.shot
  packages/react-examples/src/react-tabs/__snapshots__/Tabs.IconCount.Example.tsx.shot
  packages/react-examples/src/react-tabs/__snapshots__/Tabs.Large.Example.tsx.shot
  packages/react-examples/src/react-tabs/__snapshots__/Tabs.LargeTabFormat.Example.tsx.shot
  packages/react-examples/src/react-tabs/__snapshots__/Tabs.OnChange.Example.tsx.shot
  packages/react-examples/src/react-tabs/__snapshots__/Tabs.OverflowMenu.Example.tsx.shot
  packages/react-examples/src/react-tabs/__snapshots__/Tabs.Override.Example.tsx.shot
  packages/react-examples/src/react-tabs/__snapshots__/Tabs.Remove.Example.tsx.shot
  packages/react-examples/src/react-tabs/__snapshots__/Tabs.Separate.Example.tsx.shot
  packages/react-examples/src/react-tabs/__snapshots__/Tabs.TabFormat.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/Button.Action.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/Button.Command.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/Keytips.Basic.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/Nav.Basic.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/Nav.CustomGroupHeaders.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/Nav.Nested.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/SwatchColorPicker.Basic.Example.tsx.shot
  packages/react-internal/src/compat/components/Button/ActionButton/ActionButton.styles.ts
  packages/react-internal/src/compat/components/Button/__snapshots__/Button.test.tsx.snap
  packages/react-internal/src/components/Nav/__snapshots__/Nav.test.tsx.snap
  packages/react-internal/src/components/SwatchColorPicker/__snapshots__/SwatchColorPicker.test.tsx.snap
  packages/react-internal/src/components/pickers/Suggestions/__snapshots__/Suggestions.test.tsx.snap
  packages/react-tabs/src/components/Pivot/__snapshots__/Pivot.deprecated.test.tsx.snap
  packages/react-tabs/src/components/Pivot/__snapshots__/Pivot.test.tsx.snap
  packages/react-tabs/src/next/components/Tabs/__snapshots__/Tabs.test.tsx.snap
Labels: Area: Accessibility, Component: Button, High Contrast

#16469 (7.0)feat: add new property onRenderStar for Rating
  change/office-ui-fabric-react-2021-01-13-17-23-30-feat-rating-7.0.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/Rating/Rating.base.tsx
  packages/office-ui-fabric-react/src/components/Rating/Rating.types.ts
Labels: Component: Rating, Fabric 7, PR: API Modified, v8 snap: needs cherry-pick

#16508 fix(react-button): Allow pointer events in disabledFocusable button
  change/@fluentui-react-button-2021-01-18-08-22-26-master.json
  packages/react-button/src/components/Button/__snapshots__/Button.test.tsx.snap
  packages/react-button/src/components/Button/useButtonClasses.ts
  packages/react-examples/src/react-button/Button/Button.stories.tsx
Labels: Component: Button

#16479 fix(react-examples): Improved information for screen readers on Facepile examples
  packages/react-examples/src/react/Facepile/Facepile.AddFace.Example.tsx
  packages/react-examples/src/react/__snapshots__/Facepile.AddFace.Example.tsx.shot
Labels: Area: Website, AutoMerge

#15865 fix a typo in CalloutContent.base.tsx
  change/@fluentui-react-internal-2021-01-20-16-10-28-ttt.json
  packages/react-internal/src/components/Callout/CalloutContent.base.tsx
Labels: AutoMerge, Component: Callout

#15804 Correctly set focus in FocusTrapZone even if focus event does not bubble
  change/@fluentui-react-internal-2021-01-07-11-56-59-taurheim-focustrap-onfocus.json
  packages/react-examples/src/react/__snapshots__/CommandBar.CommandBarButtonAs.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/FocusTrapZone.Box.Click.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/FocusTrapZone.Box.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/FocusTrapZone.Box.FocusOnCustomElement.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/FocusTrapZone.FocusZone.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/FocusTrapZone.Nested.Example.tsx.shot
  packages/react-internal/src/components/Dialog/__snapshots__/Dialog.deprecated.test.tsx.snap
  packages/react-internal/src/components/FocusTrapZone/FocusTrapZone.tsx
  packages/react-internal/src/components/HoverCard/__snapshots__/HoverCard.test.tsx.snap
  packages/react-internal/src/components/Modal/__snapshots__/Modal.test.tsx.snap
  packages/react-internal/src/components/Panel/__snapshots__/Panel.test.tsx.snap
  packages/react-internal/src/components/TeachingBubble/__snapshots__/TeachingBubble.deprecated.test.tsx.snap
  packages/react-internal/src/components/TeachingBubble/__snapshots__/TeachingBubble.test.tsx.snap
Labels: Component: FocusTrapZone

#16491 Charting: Tooltip disappear on escape click issue fixed in line chart
  change/@uifabric-charting-2021-01-15-15-12-29-user-v-jasha-tooltip_hover_issue.json
  packages/charting/src/components/LineChart/LineChart.base.tsx
Labels: Fabric 7, Package: charting, v8 snap: needs cherry-pick

#16354 update public docsite to include info about the react-icons-mdl2 package
  apps/public-docsite/src/pages/Styles/FabricIconsPage/FabricIconsPage.tsx
  apps/public-docsite/src/pages/Styles/FabricIconsPage/docs/web/FabricIconsUsage.md
Labels: Area: Website

#16559 Updated VideoProhibited icon to Fluent style
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-icons-northstar/src/components/VideoProhibitedIcon.tsx
Labels: Fluent UI react-northstar

#15488 Added generic type for ISelectableOption interface
  change/@fluentui-react-2020-10-14-12-49-04-master.json
  change/@fluentui-react-internal-2020-10-12-20-18-58-master.json
  packages/react-internal/etc/react-internal.api.md
  packages/react-internal/src/utilities/selectableOption/SelectableOption.types.ts
  packages/react/etc/react.api.md
  packages/react/src/components/Dropdown/Dropdown.types.ts
Labels: PR: API Modified, v8 snap: potential conflict

#16556 Line chart: Last circle callout issue fixed
  change/@uifabric-charting-2021-01-21-12-41-04-user-v-jasha-XaxisCallout.json
  packages/charting/src/components/LineChart/LineChart.base.tsx
Labels: Fabric 7, Package: charting, v8 snap: needs cherry-pick

#16568 Updating lage build to latest
  package.json
  scripts/package.json
  yarn.lock
Labels: Area: Build System

#16560 fix(MergeVariablesOverrides): return variables if they are defined
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-bindings/src/utils/mergeVariablesOverrides.ts
  packages/fluentui/react-northstar/test/specs/components/Menu/Menu-test.tsx
Labels: Fluent UI react-northstar

#16581 Button: Re-exporting MenuContext from react-button to avoid fragility in package versions usage.
  change/@fluentui-react-button-2021-01-21-15-43-49-exportSharedContextFromReactButton.json
  packages/react-button/etc/react-button.api.md
  packages/react-button/src/MenuContext.ts
  packages/react-button/src/index.ts
Labels: AutoMerge, Component: Button

#16526 chore(scripts): add support for standard jestTask arguments when execu…
  scripts/tasks/jest.ts
Labels: Area: Build System

#16439 docs(react-examples): explicitly add behavior to Link rendered as button
  packages/react-examples/src/react-link/Link/Link.Basic.Example.tsx
Labels: Area: Accessibility, Area: Website, Component: Link

#16533 Accordion component visual polish
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/themes/teams/components/Accordion/accordionContentStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Accordion/accordionTitleStyles.ts
Labels: Fluent UI react-northstar

#16528 Dialog visual polish
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/themes/teams/components/Dialog/dialogVariables.ts
Labels: Fluent UI react-northstar

#16430 fix(react-examples): Add focus to DatePicker examples when clicking the Clear button
  packages/react-examples/src/react-date-time/DatePicker/DatePicker.Format.Example.tsx
  packages/react-examples/src/react-date-time/DatePicker/DatePicker.Input.Example.tsx
Labels: Area: Website

#16475 fix(react-examples): Add tooltips to DetailsList documents example
  packages/react-examples/src/react/DetailsList/DetailsList.Documents.Example.tsx
  packages/react-examples/src/react/__snapshots__/DetailsList.Documents.Example.tsx.shot
Labels: Area: Website

#16527 Input component visual polish
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/components/Input/Input.tsx
  packages/fluentui/react-northstar/src/themes/teams/components/Input/clearIndicatorUrl.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Input/inputStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Input/inputVariables.ts
Labels: Fluent UI react-northstar

#16554 Button: Adding missing css variables for opacity in Button and borderColor in checked state of ToggleButton
  apps/vr-tests/src/stories/MenuButton.stories.tsx
  apps/vr-tests/src/stories/SplitButton.stories.tsx
  apps/vr-tests/src/stories/ToggleButton.stories.tsx
  change/@fluentui-react-button-2021-01-20-19-13-39-buttonMissingCssVariables.json
  packages/react-button/src/components/Button/__snapshots__/Button.test.tsx.snap
  packages/react-button/src/components/Button/useButtonClasses.ts
  packages/react-button/src/components/ToggleButton/useToggleButtonClasses.tsx
Labels: AutoMerge, Component: Button

#16579 Revert "Fix React as external config"
  scripts/webpack/webpack-resources.js
Labels: Area: Build System

#16594 Changing Highlight icon to correct icon, updating Team Create button to be 2 people instead of 3, updating ! icon.
  packages/fluentui/react-icons-northstar/src/components/HighlightIcon.tsx
  packages/fluentui/react-icons-northstar/src/components/LeaveIcon.tsx
  packages/fluentui/react-icons-northstar/src/components/RedbangIcon.tsx
  packages/fluentui/react-icons-northstar/src/components/TeamCreateIcon.tsx
Labels: Fluent UI react-northstar

#16604 chore(Backport): Changing Highlight icon to correct icon, updating Team Create button to be 2 people instead of 3, updating ! icon. #16594
  packages/fluentui/react-icons-northstar/src/components/HighlightIcon.tsx
  packages/fluentui/react-icons-northstar/src/components/LeaveIcon.tsx
  packages/fluentui/react-icons-northstar/src/components/RedbangIcon.tsx
  packages/fluentui/react-icons-northstar/src/components/TeamCreateIcon.tsx
Labels: Fluent UI react-northstar

#16565 BREAKING CHANGE(Avatar): remove components that are static properties
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/components/Avatar/Avatar.tsx
Labels: Fluent UI react-northstar

#16419 feat(Button): disabledFocusable for v0 Button
  packages/a11y-testing/src/definitions/Button/buttonBehaviorDefinition.ts
  packages/fluentui/CHANGELOG.md
  packages/fluentui/accessibility/src/behaviors/Button/buttonBehavior.ts
  packages/fluentui/accessibility/src/behaviors/Toolbar/toolbarItemBehavior.ts
  packages/fluentui/docs/src/examples/components/Button/States/ButtonExampleDisabledFocusable.shorthand.tsx
  packages/fluentui/docs/src/examples/components/Button/States/ButtonExampleDisabledFocusable.tsx
  packages/fluentui/docs/src/examples/components/Button/States/index.tsx
  packages/fluentui/docs/src/examples/components/Tooltip/Usage/TooltipExampleDisabledTrigger.shorthand.tsx
  packages/fluentui/docs/src/examples/components/Tooltip/Usage/index.tsx
  packages/fluentui/react-northstar/src/components/Button/Button.tsx
  packages/fluentui/react-northstar/src/themes/teams/components/Button/buttonStyles.ts
  packages/fluentui/react-northstar/test/specs/components/Button/Button-test.tsx
Labels: Fluent UI react-northstar

#16586 docs(react-examples): explicitly add behavior to Link rendered as button
  change/@fluentui-react-examples-2021-01-22-12-35-03-hotell-cherry-pick-16439.json
  packages/react-examples/src/office-ui-fabric-react/Link/Link.Basic.Example.tsx
Labels: Area: Website, Component: Link, Fabric 7

#16546 BREAKING CHANGE(Form): remove components that are static properties
  packages/fluentui/CHANGELOG.md
  packages/fluentui/docs/src/examples/components/Datepicker/BestPractices/DatepickerBestPractices.tsx
  packages/fluentui/docs/src/examples/components/Form/BestPractices/FormBestPractices.tsx
  packages/fluentui/docs/src/examples/components/Form/Rtl/FormExample.rtl.tsx
  packages/fluentui/docs/src/examples/components/Form/Types/FormExampleBase.tsx
  packages/fluentui/docs/src/examples/components/Form/Types/FormExampleInline.tsx
  packages/fluentui/docs/src/examples/components/Form/Usage/FormExampleCheckbox.tsx
  packages/fluentui/docs/src/examples/components/Form/Usage/FormExampleDatepicker.tsx
  packages/fluentui/docs/src/examples/components/Form/Usage/FormExampleDropdown.tsx
  packages/fluentui/docs/src/examples/components/Form/Usage/FormExampleErrorAndSuccessful.tsx
  packages/fluentui/docs/src/examples/components/Form/Usage/FormExampleSlider.tsx
  packages/fluentui/docs/src/examples/components/Form/Variants/FormExampleComponents.tsx
  packages/fluentui/docs/src/views/FAQ.tsx
  packages/fluentui/react-northstar-prototypes/src/prototypes/FormValidation/FormHooks.tsx
  packages/fluentui/react-northstar-prototypes/src/prototypes/FormValidation/Formik.tsx
  packages/fluentui/react-northstar/src/components/Form/Form.tsx
  scripts/gulp/plugins/util/getComponentInfo.ts
Labels: AutoMerge, Fluent UI react-northstar

#16366 Update GetStartedDevelopSimple.md
  apps/fabric-website/src/pages/Overviews/GetStartedPage/docs/web/GetStartedDevelopSimple.md
  change/@uifabric-fabric-website-2021-01-25-15-14-24-patch-1.json
Labels: Area: Website, Fabric 7, v8 snap: needs cherry-pick

#16589 fix(react v7): Add high contrast overrides for the Separator
  change/@fluentui-react-examples-2021-01-25-15-41-00-v7-16193.json
  change/office-ui-fabric-react-2021-01-25-15-41-00-v7-16193.json
  packages/office-ui-fabric-react/src/components/Separator/Separator.styles.ts
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/Separator.Basic.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/Separator.Icon.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/Separator.Theming.Example.tsx.shot
Labels: Area: Accessibility, Component: Separator, Fabric 7, High Contrast, v8 snap: needs cherry-pick

#16608 fix(Form): fix label inline styles
  packages/fluentui/docs/src/examples/components/Form/Types/FormExampleInline.tsx
  packages/fluentui/react-northstar/src/components/Form/FormDropdown.tsx
  packages/fluentui/react-northstar/src/components/Form/FormInput.tsx
Labels: AutoMerge, Fluent UI react-northstar

#16575 fix: add margin to space separator and content
  change/@fluentui-web-components-2021-01-21-11-16-12-users-khamu-breadcrumb-separator.json
  packages/web-components/src/breadcrumb-item/breadcrumb-item.styles.ts
  packages/web-components/src/breadcrumb-item/fixtures/breadcrumb-item.html
  packages/web-components/src/breadcrumb/fixtures/breadcrumb.html
Labels: web-components

#16571 fix: change accordion item region to display block
  change/@fluentui-web-components-2021-01-21-10-24-48-users-jes-accordion-content.json
  packages/web-components/src/accordion/accordion-item/accordion-item.styles.ts
Labels: Component: DatePicker, web-components

#15965 Ensure all <div> elements in TilesList have role assigned
  change/@uifabric-experiments-2020-11-17-16-50-02-tiles-list-group-role.json
  packages/experiments/src/components/TilesList/TilesList.tsx
Labels: AutoMerge, Fabric 7, Package: experiments, v8 snap: needs cherry-pick

#16463 fix(react-examples): Add narrator cue for cleaning action in Date Picker examples
  packages/react-examples/src/react-date-time/DatePicker/DatePicker.Format.Example.tsx
  packages/react-examples/src/react-date-time/DatePicker/DatePicker.Input.Example.tsx
Labels: Area: Website, Component: DatePicker

#16495 fix(react-examples): Add tooltip to icons in OverflowSet example
  packages/react-examples/src/react/OverflowSet/OverflowSet.Vertical.Example.tsx
  packages/react-examples/src/react/__snapshots__/OverflowSet.Vertical.Example.tsx.shot
Labels: Area: Website

#16590 chore(icons): optimize largest icons used by calling
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-icons-northstar/src/components/AudienceIcon.tsx
  packages/fluentui/react-icons-northstar/src/components/BulletsIcon.tsx
  packages/fluentui/react-icons-northstar/src/components/CallEndIcon.tsx
  packages/fluentui/react-icons-northstar/src/components/CallIcon.tsx
  packages/fluentui/react-icons-northstar/src/components/GiphyIcon.tsx
  packages/fluentui/react-icons-northstar/src/components/MicOffIcon.tsx
  packages/fluentui/react-icons-northstar/src/components/NumberListIcon.tsx
  packages/fluentui/react-icons-northstar/src/components/QuoteIcon.tsx
  packages/fluentui/react-icons-northstar/src/components/RaiseHandDisabledIcon.tsx
  packages/fluentui/react-icons-northstar/src/components/SettingsIcon.tsx
  packages/fluentui/react-icons-northstar/src/components/SpeakerMuteIcon.tsx
  packages/fluentui/react-icons-northstar/src/components/StickerIcon.tsx
  packages/fluentui/react-icons-northstar/src/components/StrikeIcon.tsx
  packages/fluentui/react-icons-northstar/src/components/ThumbtackSlashIcon.tsx
  packages/fluentui/react-icons-northstar/src/components/TrashCanIcon.tsx
  packages/fluentui/react-icons-northstar/src/components/UserBlurIcon.tsx
  packages/fluentui/react-icons-northstar/src/components/VideoCameraEmphasisIcon.tsx
Labels: Fluent UI react-northstar

#16596 Remove doNotLayer from Pivot/Tabs overflow menu
  change/@fluentui-react-tabs-2021-01-22-17-14-16-16342-overflow-donotlayer.json
  packages/react-tabs/src/components/Pivot/Pivot.base.tsx
  packages/react-tabs/src/next/components/Tabs/Tabs.base.tsx
Labels: Component: Pivot

#16532 Add additional prop support to IBreadcrumbItems
  change/office-ui-fabric-react-2021-01-19-16-02-36-10631.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/Breadcrumb/Breadcrumb.base.tsx
  packages/office-ui-fabric-react/src/components/Breadcrumb/Breadcrumb.test.tsx
  packages/office-ui-fabric-react/src/components/Breadcrumb/Breadcrumb.types.ts
Labels: Component: Breadcrumb, Fabric 7, PR: API Modified, v8 snap: needs cherry-pick

#16630 fix(useTree): change 'env.NODE' to 'env.NODE_ENV'
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/components/Tree/hooks/useTree.ts
Labels: AutoMerge, Fluent UI react-northstar

#16637 chore(Skeleton): remove UNSTABLE flag
  packages/fluentui/react-northstar/src/components/Skeleton/Skeleton.tsx
Labels: Fluent UI react-northstar

#16636 chore: update changelog after 0.52.0 release
  packages/fluentui/CHANGELOG.md
Labels: AutoMerge, Fluent UI react-northstar

#16618 7.0: Keyboard focus should be visible on selected footers in pickers in high contrast
  change/office-ui-fabric-react-2021-01-25-16-35-02-floatingpickeracc7.0.json
  packages/office-ui-fabric-react/src/components/FloatingPicker/Suggestions/SuggestionsControl.scss
Labels: Component: FloatingPicker, Fabric 7

#16648 Fix update-snapshots
  scripts/tasks/jest.ts
Labels: Area: Build System

#16634 v8 snap: LineChart cherry-picks
  change/@fluentui-react-charting-2021-01-26-13-07-28-cherry-16556.json
  packages/react-charting/src/components/LineChart/LineChart.base.tsx
Labels: Package: charting

#16645 fix(react v7): Add missing styles for disabled buttons
  change/@fluentui-react-examples-2021-01-26-19-05-37-16156.json
  change/office-ui-fabric-react-2021-01-26-19-05-37-16156.json
  packages/office-ui-fabric-react/src/components/Button/ButtonThemes.ts
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/Icon.SvgFactory.Example.tsx.shot
Labels: Area: Theming, Component: Button, Fabric 7, v8 snap: needs cherry-pick

#16656 chore: fix docsite toolbar props tab
  packages/fluentui/docs/src/components/ComponentDoc/ComponentPropsTable/ComponentPropsRow.tsx
Labels: AutoMerge, Fluent UI react-northstar

#16639 adding lines in vertical stacked bar chart complex combo chart (#15551)
  change/@fluentui-react-charting-2021-01-27-13-12-26-cherry-15551.json
  packages/react-charting/src/components/CommonComponents/CartesianChart.base.tsx
  packages/react-charting/src/components/CommonComponents/CartesianChart.types.ts
  packages/react-charting/src/components/VerticalStackedBarChart/VerticalStackedBarChart.base.tsx
  packages/react-charting/src/components/VerticalStackedBarChart/__snapshots__/VerticalStackedBarChart.test.tsx.snap
  packages/react-charting/src/types/IDataPoint.ts
  packages/react-examples/src/react-charting/VerticalStackedBarChart/VerticalStackedBarChart.Basic.Example.tsx
  packages/react-examples/src/react-charting/VerticalStackedBarChart/VerticalStackedBarChart.Callout.Example.tsx
Labels: Package: charting

#16638 v8 snap: azure-themes fixes
  change/@fluentui-azure-themes-2021-01-27-12-46-46-hotell-cherry-pick-16378.json
  packages/azure-themes/src/azure/AzureColors.ts
  packages/azure-themes/src/azure/AzureThemeDark.ts
  packages/azure-themes/src/azure/AzureThemeHighContrastDark.ts
  packages/azure-themes/src/azure/AzureThemeHighContrastLight.ts
  packages/azure-themes/src/azure/AzureThemeLight.ts
  packages/azure-themes/src/azure/IAzureSemanticColors.ts
  packages/azure-themes/src/azure/IExtendedSemanticColors.ts
  packages/azure-themes/src/azure/styles/Callout.styles.ts
  packages/azure-themes/src/azure/styles/IconButton.styles.ts
  packages/azure-themes/src/azure/styles/MessageBar.styles.ts
  packages/azure-themes/src/azure/styles/TeachingBubble.styles.ts
  packages/react-examples/src/azure-themes/stories/components/TeachingBubble.stories.tsx
  packages/react-examples/src/azure-themes/stories/components/messageBar.stories.tsx
Labels: Package: azure-themes

#16661 fix(TextArea): Fix disabled styles
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/themes/teams/components/TextArea/textAreaStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/TextArea/textAreaVariables.ts
Labels: Fluent UI react-northstar

#16660 feat(FormTextArea): Add new FormTextArea component
  packages/fluentui/CHANGELOG.md
  packages/fluentui/docs/src/examples/components/Form/Usage/FormExampleErrorAndSuccessful.tsx
  packages/fluentui/docs/src/examples/components/Form/Variants/FormExampleComponents.tsx
  packages/fluentui/react-northstar/src/components/Form/FormTextArea.tsx
  packages/fluentui/react-northstar/src/components/TextArea/TextArea.tsx
  packages/fluentui/react-northstar/src/index.ts
  packages/fluentui/react-northstar/src/themes/teams/components/TextArea/textAreaStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/TextArea/textAreaVariables.ts
  packages/fluentui/react-northstar/test/specs/components/Form/FormTextArea-test.tsx
Labels: Fluent UI react-northstar

#16597 ToggleButton: Replacing use of pressed semanticColors with checked semanticColors for checked states
  change/@fluentui-react-button-2021-01-22-18-36-35-toggleButtonSemanticColors.json
  packages/react-button/src/components/ToggleButton/useToggleButtonClasses.tsx
Labels: Component: Button, Component: ToggleButton

#16197 Add create-component script and improve create-package
  .vscode/launch.json
  package.json
  scripts/create-component/create-component.ts
  scripts/create-component/plop-templates-component/src/common/isConformant.ts
  scripts/create-component/plop-templates-component/src/components/{{componentName}}/index.ts.hbs
  scripts/create-component/plop-templates-component/src/components/{{componentName}}/render{{componentName}}.tsx.hbs
  scripts/create-component/plop-templates-component/src/components/{{componentName}}/use{{componentName}}.ts.hbs
  scripts/create-component/plop-templates-component/src/components/{{componentName}}/use{{componentName}}Classes.ts.hbs
  scripts/create-component/plop-templates-component/src/components/{{componentName}}/use{{componentName}}State.ts.hbs
  scripts/create-component/plop-templates-component/src/components/{{componentName}}/{{componentName}}.test.tsx.hbs
  scripts/create-component/plop-templates-component/src/components/{{componentName}}/{{componentName}}.tsx.hbs
  scripts/create-component/plop-templates-component/src/components/{{componentName}}/{{componentName}}.types.ts.hbs
  scripts/create-component/plop-templates-component/src/{{componentName}}.ts.hbs
  scripts/create-component/plop-templates-storybook/{{componentName}}.stories.tsx.hbs
  scripts/create-package/plop-templates-react/Spec.md.hbs
  scripts/create-package/plop-templates-react/etc/{{packageName}}.api.md
  scripts/create-package/plop-templates-react/package.json.hbs
  scripts/create-package/plop-templates-storybook/{{packageName}}.stories.scss.hbs
  scripts/create-package/plopfile.ts
Labels: Area: Build System

#16668 Create component fix
  scripts/create-component/plop-templates-component/src/components/{{componentName}}/use{{componentName}}.ts.hbs
Labels: Area: Build System

#16665 chore(Carousel): add previous changelog and remove unused variables
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/themes/teams/components/Carousel/carouselVariables.ts
Labels: Fluent UI react-northstar

#16614 Port delayedKeytipQueue fix to onKeytipUpdated
  change/@fluentui-react-internal-2021-01-25-14-33-00-keyou-keytip-fix.json
  packages/react-internal/src/components/KeytipLayer/KeytipLayer.base.tsx
Labels: Component: KeytipLayer

#16615 Port delayedKeytipQueue fix to onKeytipUpdated [7.0]
  change/office-ui-fabric-react-2021-01-25-14-41-27-keyou-keytip-fix-7.0.json
  packages/office-ui-fabric-react/src/components/KeytipLayer/KeytipLayer.base.tsx
Labels: Component: KeytipLayer, Fabric 7

#16619 adding Channel Share Icon for ODSP
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-icons-northstar/src/components/ChannelShareIcon.tsx
  packages/fluentui/react-icons-northstar/src/index.ts
Labels: Fluent UI react-northstar

#16635 fix(react v7): Add missing HighContrast override to SplitButton
  change/@fluentui-react-examples-2021-01-26-16-12-53-16339.json
  change/office-ui-fabric-react-2021-01-26-16-12-53-16339.json
  packages/office-ui-fabric-react/src/components/Button/SplitButton/SplitButton.styles.ts
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/Button.CustomSplit.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/Button.Split.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/CommandBar.SplitDisabled.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/FocusZone.Tabbable.Example.tsx.shot
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/Keytips.Button.Example.tsx.shot
  packages/react-examples/src/react-focus/__snapshots__/FocusZone.Tabbable.Example.tsx.shot
Labels: Area: Accessibility, Area: Theming, Component: Button, Component: CommandBar, Fabric 7, High Contrast, v8 snap: needs cherry-pick

#16667 Cherry-pick majority of react-charting fixes from v7
  change/@fluentui-react-charting-2021-01-27-18-48-07-cherry-15814.json
  packages/react-charting/src/components/AreaChart/AreaChart.base.tsx
  packages/react-charting/src/components/AreaChart/AreaChart.styles.ts
  packages/react-charting/src/components/AreaChart/__snapshots__/AreaChart.test.tsx.snap
  packages/react-charting/src/components/CommonComponents/CartesianChart.base.tsx
  packages/react-charting/src/components/CommonComponents/CartesianChart.styles.ts
  packages/react-charting/src/components/DonutChart/__snapshots__/DonutChart.test.tsx.snap
  packages/react-charting/src/components/GroupedVerticalBarChart/GroupedVerticalBarChart.base.tsx
  packages/react-charting/src/components/GroupedVerticalBarChart/__snapshots__/GroupedVerticalBarChart.test.tsx.snap
  packages/react-charting/src/components/HeatMapChart/HeatMapChart.base.tsx
  packages/react-charting/src/components/HeatMapChart/HeatMapChart.test.tsx
  packages/react-charting/src/components/HeatMapChart/__snapshots__/HeatMapChart.test.tsx.snap
  packages/react-charting/src/components/Legends/Legends.base.tsx
  packages/react-charting/src/components/Legends/Legends.styles.ts
  packages/react-charting/src/components/LineChart/LineChart.base.tsx
  packages/react-charting/src/components/LineChart/LineChart.styles.ts
  packages/react-charting/src/components/LineChart/__snapshots__/LineChart.test.tsx.snap
  packages/react-charting/src/components/StackedBarChart/__snapshots__/MultiStackedBarChart.test.tsx.snap
  packages/react-charting/src/components/StackedBarChart/__snapshots__/StackedBarChart.test.tsx.snap
  packages/react-charting/src/components/VerticalBarChart/VerticalBarChart.base.tsx
  packages/react-charting/src/components/VerticalBarChart/VerticalBarChart.styles.ts
  packages/react-charting/src/components/VerticalBarChart/__snapshots__/VerticalBarChart.test.tsx.snap
  packages/react-charting/src/components/VerticalStackedBarChart/VerticalStackedBarChart.base.tsx
  packages/react-charting/src/components/VerticalStackedBarChart/VerticalStackedBarChart.styles.ts
  packages/react-charting/src/components/VerticalStackedBarChart/VerticalStackedBarChart.types.ts
  packages/react-charting/src/components/VerticalStackedBarChart/__snapshots__/VerticalStackedBarChart.test.tsx.snap
  packages/react-charting/src/utilities/utilities.ts
  packages/react-charting/tsconfig.json
  packages/react-examples/src/react-charting/AreaChart/AreaChart.Styled.Example.tsx
  packages/react-examples/src/react-charting/HeatMapChart/HeatMapChartBasic.Example.tsx
  packages/react-examples/src/react-charting/Legends/Legends.Overflow.Example.tsx
  packages/react-examples/src/react-charting/Legends/Legends.WrapLines.Example.tsx
  packages/react-examples/src/react-charting/LineChart/LineChart.Styled.Example.tsx
  packages/react-examples/src/react-charting/VerticalBarChart/VerticalBarChart.AxisTooltip.Example.tsx
  packages/react-examples/src/react-charting/VerticalBarChart/VerticalBarChartPage.tsx
  packages/react-examples/src/react-charting/VerticalStackedBarChart/VerticalStackedBarChart.AxisTooltip.Example.tsx
  packages/react-examples/src/react-charting/VerticalStackedBarChart/VerticalStackedBarChart.Callout.Example.tsx
  packages/react-examples/src/react-charting/VerticalStackedBarChart/VerticalStackedBarChart.Styled.Example.tsx
  packages/react-examples/src/react-charting/VerticalStackedBarChart/VerticalStackedBarChartPage.tsx
Labels: Package: charting
