Repository microsoft/fluentui, pull requests merged in 2022-08, with the labels that each got.

#23979 Fix menu hierarchy in ContextualMenu
  common/changes/office-ui-fabric-react/hotfix_11-hotfix-5.135.6_2022-07-19-17-19.json
  packages/office-ui-fabric-react/src/components/ContextualMenu/ContextualMenu.test.tsx
  packages/office-ui-fabric-react/src/components/ContextualMenu/ContextualMenu.tsx
  packages/office-ui-fabric-react/src/components/ContextualMenu/ContextualMenuItemWrapper/ContextualMenuAnchor.tsx
  packages/office-ui-fabric-react/src/components/ContextualMenu/ContextualMenuItemWrapper/ContextualMenuButton.tsx
  packages/office-ui-fabric-react/src/components/ContextualMenu/ContextualMenuItemWrapper/ContextualMenuItemWrapper.tsx
  packages/office-ui-fabric-react/src/components/ContextualMenu/ContextualMenuItemWrapper/ContextualMenuItemWrapper.types.ts
  packages/office-ui-fabric-react/src/components/ContextualMenu/ContextualMenuItemWrapper/__snapshots__/ContextualMenuAnchor.test.tsx.snap
  packages/office-ui-fabric-react/src/components/ContextualMenu/ContextualMenuItemWrapper/__snapshots__/ContextualMenuButton.test.tsx.snap
Labels: Component: ContextualMenu

#24103 Port #5217 to make uncheckable contextual menu items lack the aria-checked attribute
  common/changes/office-ui-fabric-react/hotfix_12-hotfix-5.135.6_2022-07-27-05-29.json
  packages/office-ui-fabric-react/src/components/ContextualMenu/ContextualMenuItemWrapper/ContextualMenuButton.tsx
  packages/office-ui-fabric-react/src/components/ContextualMenu/ContextualMenuItemWrapper/__snapshots__/ContextualMenuButton.test.tsx.snap
Labels: Component: ContextualMenu

#24159 Enable dark mode in charting example documentation
  packages/react-examples/src/react-charting/demo/AppDefinition.tsx
  packages/react-examples/src/react-charting/demo/AppThemes.ts
Labels: Package: charting

#24148 v8 misc TS fixes for react 18
  change/@fluentui-react-c7d92f67-7516-4c2c-86e6-972bf90117e2.json
  change/@fluentui-utilities-2ef828b7-bb17-4563-bed0-01b4159b9d1e.json
  packages/react/etc/react.api.md
  packages/react/src/components/Button/Button.types.ts
  packages/react/src/components/Callout/CalloutContent.base.tsx
  packages/react/src/components/Dialog/Dialog.types.ts
  packages/react/src/components/Dialog/DialogContent.types.ts
  packages/react/src/components/Pivot/PivotItem.types.ts
  packages/react/src/components/Stack/StackItem/StackItem.types.ts
  packages/react/src/utilities/selection/SelectionZone.tsx
  packages/utilities/etc/utilities.api.md
  packages/utilities/src/customizations/Customizer.types.tsx
Labels: PR: API Modified

#24032 feat(react-aria): Split `useARIAButton` into `useARIAButtonProps` and `useARIAButtonShorthand`
  change/@fluentui-react-accordion-618b038c-c439-4ca2-b065-56fea572a1e6.json
  change/@fluentui-react-aria-75348881-0bdd-46cd-b166-b04f48afdb49.json
  change/@fluentui-react-button-47eb64e8-6bc3-422a-a77b-c9b271c6a493.json
  packages/react-components/react-accordion/etc/react-accordion.api.md
  packages/react-components/react-accordion/src/components/AccordionHeader/AccordionHeader.types.ts
  packages/react-components/react-accordion/src/components/AccordionHeader/useAccordionHeader.tsx
  packages/react-components/react-aria/etc/react-aria.api.md
  packages/react-components/react-aria/src/hooks/useARIAButton.stories.tsx
  packages/react-components/react-aria/src/hooks/useARIAButton.test.tsx
  packages/react-components/react-aria/src/hooks/useARIAButton.ts
  packages/react-components/react-aria/src/index.ts
  packages/react-components/react-aria/src/utils/index.ts
  packages/react-components/react-aria/src/utils/mergeARIADisabled.test.ts
  packages/react-components/react-aria/src/utils/mergeARIADisabled.ts
  packages/react-components/react-button/etc/react-button.api.md
  packages/react-components/react-button/src/components/Button/Button.types.ts
  packages/react-components/react-button/src/components/Button/useButton.ts
  packages/react-components/react-dialog/src/components/DialogTitle/useDialogTitle.tsx
Labels: Area: Accessibility, Component: Button, Component: Accordion, Fluent UI react-components (v9)

#24106 Add screener workflows
  .github/workflows/screener-build.yml
  .github/workflows/screener-run.yml
  scripts/screener/screener.runner.ts
Labels: Area: Build System

#24185 Add ref option to checkout action
  .github/workflows/screener-run.yml
Labels: Area: Build System

#24167 chore(react-dialog): Adds e2e tests
  change/@fluentui-react-dialog-5f33fc01-b6b6-4e63-a2dd-d8af5f8b7f4a.json
  packages/react-components/react-dialog/e2e/Dialog.e2e.tsx
  packages/react-components/react-dialog/e2e/DialogTitle.e2e.tsx
  packages/react-components/react-dialog/e2e/DialogTrigger.e2e.tsx
  packages/react-components/react-dialog/e2e/selectors.ts
Labels: Component: Dialog, Fluent UI react-components (v9)

#24175 fix: Scope keydown event listener so that it is added to the FocusZone itself instead of the window
  change/@fluentui-react-focus-2af33127-ad63-49d2-8928-82bed1ce64d2.json
  packages/react-focus/src/components/FocusZone/FocusZone.EventHandler.test.tsx
  packages/react-focus/src/components/FocusZone/FocusZone.tsx
Labels: Component: FocusZone, Area: Performance, Fluent UI react (v8)

#23948 replace slash with math.div as it is now deprecated and will be removed in Dart Sass 2
  apps/public-docsite/src/pages/Overviews/StylesPage/StylesPage.module.scss
Labels: Area: Website

#24191 fix(public-docsite): Darkening release link to meet contrast ratio of 4.5
  apps/public-docsite/src/SiteDefinition/SiteDefinition.tsx
Labels: Area: Website

#24192 Top level decorators export
  change/@fluentui-react-3acee2cb-5301-4925-bd41-d3a697bb7173.json
  packages/react/src/Decorators.ts
Labels: needs cherry-pick, Fabric 7

#24086 fix(docs): add Dropdown usage warning and style best practices
  change/@fluentui-react-combobox-f4d9cbf9-a2e2-4f06-9968-9c6c897c1e6d.json
  packages/react-components/react-combobox/src/stories/Dropdown/DropdownBestPractices.md
  packages/react-components/react-combobox/src/stories/Dropdown/DropdownDescription.md
Labels: Component: Dropdown

#24082 fix(docs): add combobox usage warning and style best practices
  change/@fluentui-react-combobox-6a69ea68-dcfa-4ff2-9d4d-88e41c5d58ef.json
  packages/react-components/react-combobox/src/stories/Combobox/ComboboxBestPractices.md
  packages/react-components/react-combobox/src/stories/Combobox/ComboboxDescription.md
Labels: Component: ComboBox

#24087 fix(docs): add Select usage warning and style best practices
  change/@fluentui-react-select-c465e31a-a10e-4945-82df-d4cef04dbf9a.json
  packages/react-components/react-select/src/stories/Select/SelectBestPractices.md
  packages/react-components/react-select/src/stories/Select/SelectDescription.md
Labels: Component: Select

#24131 v8 contextual menu - focus in multi level menus
  change/@fluentui-react-157009ae-9673-4fc3-ac65-c32a289fa86a.json
  packages/react/src/components/ContextualMenu/ContextualMenu.base.tsx
Labels: Component: ContextualMenu

#24199 CI/CD v9 docsite deploy action
  .github/workflows/docsite-publish.yml
Labels: Fluent UI react-components (v9), CI

#24209 fix(create-component): Update use{{componentName}}Styles to use classnames object
  scripts/create-component/plop-templates/src/components/{{componentName}}/use{{componentName}}Styles.ts.hbs
Labels: Type: Bug :bug:, Area: Build System

#24210 fix(create-component): Remove start script check from create-component so a recently created package shows up in the list of packages.
  scripts/create-component/create-component.ts
Labels: Type: Bug :bug:, Area: Build System

#24214 chore(react-persona): Create package react-persona and Persona component
  .github/CODEOWNERS
  packages/react-components/react-persona/.babelrc.json
  packages/react-components/react-persona/.eslintrc.json
  packages/react-components/react-persona/.npmignore
  packages/react-components/react-persona/.storybook/main.js
  packages/react-components/react-persona/.storybook/preview.js
  packages/react-components/react-persona/.storybook/tsconfig.json
  packages/react-components/react-persona/LICENSE
  packages/react-components/react-persona/README.md
  packages/react-components/react-persona/Spec.md
  packages/react-components/react-persona/bundle-size/Persona.fixture.js
  packages/react-components/react-persona/config/api-extractor.json
  packages/react-components/react-persona/config/api-extractor.local.json
  packages/react-components/react-persona/config/tests.js
  packages/react-components/react-persona/etc/react-persona.api.md
  packages/react-components/react-persona/jest.config.js
  packages/react-components/react-persona/just.config.ts
  packages/react-components/react-persona/package.json
  packages/react-components/react-persona/src/Persona.ts
  packages/react-components/react-persona/src/common/isConformant.ts
  packages/react-components/react-persona/src/components/Persona/Persona.test.tsx
  packages/react-components/react-persona/src/components/Persona/Persona.tsx
  packages/react-components/react-persona/src/components/Persona/Persona.types.ts
  packages/react-components/react-persona/src/components/Persona/__snapshots__/Persona.test.tsx.snap
  packages/react-components/react-persona/src/components/Persona/index.ts
  packages/react-components/react-persona/src/components/Persona/renderPersona.tsx
  packages/react-components/react-persona/src/components/Persona/usePersona.ts
  packages/react-components/react-persona/src/components/Persona/usePersonaStyles.ts
  packages/react-components/react-persona/src/index.ts
  packages/react-components/react-persona/src/stories/Persona/PersonaBestPractices.md
  packages/react-components/react-persona/src/stories/Persona/PersonaDefault.stories.tsx
  packages/react-components/react-persona/src/stories/Persona/PersonaDescription.md
  packages/react-components/react-persona/src/stories/Persona/index.stories.tsx
  packages/react-components/react-persona/tsconfig.json
  packages/react-components/react-persona/tsconfig.lib.json
  packages/react-components/react-persona/tsconfig.spec.json
  tsconfig.base.json
  workspace.json
Labels: Component: Persona, Fluent UI vNext

#24220 chore(react-dialog): renames `overlay` slot to `backdrop`
  change/@fluentui-react-dialog-7e208240-ef01-4ecb-861e-2693b939b990.json
  packages/react-components/react-dialog/Spec.md
  packages/react-components/react-dialog/e2e/selectors.ts
  packages/react-components/react-dialog/etc/react-dialog.api.md
  packages/react-components/react-dialog/src/components/Dialog/Dialog.types.ts
  packages/react-components/react-dialog/src/components/Dialog/renderDialog.tsx
  packages/react-components/react-dialog/src/components/Dialog/useDialog.ts
  packages/react-components/react-dialog/src/components/Dialog/useDialogStyles.ts
  packages/react-components/react-dialog/src/stories/Dialog/DialogAlert.md
  packages/react-components/react-dialog/src/stories/Dialog/DialogAlert.stories.tsx
  packages/react-components/react-dialog/src/stories/Dialog/DialogBestPractices.md
  packages/react-components/react-dialog/src/stories/Dialog/DialogNoFocusableElement.stories.tsx
  packages/react-components/react-dialog/src/stories/Dialog/DialogNonModal.md
Labels: Component: Dialog, Fluent UI react-components (v9)

#24105 chore: refactor Ref component to flatten React's tree
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-component-ref/src/Ref.tsx
  packages/fluentui/react-component-ref/src/RefFindNode.tsx
  packages/fluentui/react-component-ref/src/RefForward.tsx
  packages/fluentui/react-component-ref/src/index.ts
  packages/fluentui/react-component-ref/src/utils.ts
  packages/fluentui/react-component-ref/test/Ref-test.tsx
  packages/fluentui/react-component-ref/test/RefFindNode-test.tsx
  packages/fluentui/react-component-ref/test/RefForward-test.tsx
  packages/fluentui/react-northstar/src/components/Popup/Popup.tsx
  packages/fluentui/react-northstar/test/specs/commonTests/isConformant.tsx
  packages/fluentui/react-northstar/test/specs/components/Menu/MenuItem-test.tsx
Labels: Fluent UI react-northstar

#24188 Update to UIFabric (v7 Branch) to pick up latest filetype icon system.
  change/@uifabric-file-type-icons-7846cc28-5e45-4d9c-ac7b-1eda9989ae23.json
  packages/file-type-icons/src/FileTypeIconMap.ts
  packages/file-type-icons/src/initializeFileTypeIcons.tsx
Labels: Area: Icons, Package: file-type-icons, Fabric 7

#24115 feat: Add implementation of AvatarGroupOverflow and modify AvatarGroup to use it
  apps/vr-tests-react-components/src/stories/AvatarGroup.stories.tsx
  change/@fluentui-react-avatar-437899e9-1f87-4bbc-b90d-97f0df15e8ca.json
  packages/react-components/react-avatar/etc/react-avatar.api.md
  packages/react-components/react-avatar/src/components/AvatarGroup/AvatarGroup.test.tsx
  packages/react-components/react-avatar/src/components/AvatarGroup/AvatarGroup.tsx
  packages/react-components/react-avatar/src/components/AvatarGroup/AvatarGroup.types.ts
  packages/react-components/react-avatar/src/components/AvatarGroup/index.ts
  packages/react-components/react-avatar/src/components/AvatarGroup/renderAvatarGroup.tsx
  packages/react-components/react-avatar/src/components/AvatarGroup/useAvatarGroup.tsx
  packages/react-components/react-avatar/src/components/AvatarGroup/useAvatarGroupContextValues.ts
  packages/react-components/react-avatar/src/components/AvatarGroup/useAvatarGroupStyles.ts
  packages/react-components/react-avatar/src/components/AvatarGroupItem/AvatarGroupItem.tsx
  packages/react-components/react-avatar/src/components/AvatarGroupItem/AvatarGroupItem.types.ts
  packages/react-components/react-avatar/src/components/AvatarGroupItem/useAvatarGroupItem.ts
  packages/react-components/react-avatar/src/components/AvatarGroupItem/useAvatarGroupItemStyles.ts
  packages/react-components/react-avatar/src/components/AvatarGroupOverflow/AvatarGroupOverflow.test.tsx
  packages/react-components/react-avatar/src/components/AvatarGroupOverflow/AvatarGroupOverflow.tsx
  packages/react-components/react-avatar/src/components/AvatarGroupOverflow/AvatarGroupOverflow.types.ts
  packages/react-components/react-avatar/src/components/AvatarGroupOverflow/__snapshots__/AvatarGroupOverflow.test.tsx.snap
  packages/react-components/react-avatar/src/components/AvatarGroupOverflow/renderAvatarGroupOverflow.tsx
  packages/react-components/react-avatar/src/components/AvatarGroupOverflow/useAvatarGroupOverflow.ts
  packages/react-components/react-avatar/src/components/AvatarGroupOverflow/useAvatarGroupOverflow.tsx
  packages/react-components/react-avatar/src/components/AvatarGroupOverflow/useAvatarGroupOverflowContextValues.ts
  packages/react-components/react-avatar/src/components/AvatarGroupOverflow/useAvatarGroupOverflowStyles.ts
  packages/react-components/react-avatar/src/contexts/AvatarGroupContext.ts
  packages/react-components/react-avatar/src/contexts/AvatarGroupContext.types.ts
  packages/react-components/react-avatar/src/index.ts
  packages/react-components/react-avatar/src/stories/AvatarGroup/AvatarGroupBestPractices.md
  packages/react-components/react-avatar/src/stories/AvatarGroup/AvatarGroupColor.stories.tsx
  packages/react-components/react-avatar/src/stories/AvatarGroup/AvatarGroupDefault.stories.tsx
  packages/react-components/react-avatar/src/stories/AvatarGroup/AvatarGroupDescription.md
  packages/react-components/react-avatar/src/stories/AvatarGroup/AvatarGroupIndicator.stories.tsx
  packages/react-components/react-avatar/src/stories/AvatarGroup/AvatarGroupLayout.stories.tsx
  packages/react-components/react-avatar/src/stories/AvatarGroup/AvatarGroupMaxAvatars.stories.tsx
  packages/react-components/react-avatar/src/stories/AvatarGroup/AvatarGroupSizePie.stories.tsx
  packages/react-components/react-avatar/src/stories/AvatarGroup/AvatarGroupSizeSpread.stories.tsx
  packages/react-components/react-avatar/src/stories/AvatarGroup/AvatarGroupSizeStack.stories.tsx
  packages/react-components/react-avatar/src/stories/AvatarGroup/index.stories.tsx
  packages/react-components/react-avatar/src/stories/AvatarGroupOverflow/AvatarGroupOverflowBestPractices.md
  packages/react-components/react-avatar/src/stories/AvatarGroupOverflow/AvatarGroupOverflowDefault.stories.tsx
  packages/react-components/react-avatar/src/stories/AvatarGroupOverflow/AvatarGroupOverflowDescription.md
  packages/react-components/react-avatar/src/stories/AvatarGroupOverflow/index.stories.tsx
  packages/react-components/react-avatar/src/utils/index.ts
  packages/react-components/react-avatar/src/utils/partitionAvatarGroupItems.test.ts
  packages/react-components/react-avatar/src/utils/partitionAvatarGroupItems.ts
Labels: Component: AvatarGroup, Fluent UI vNext

#24176 Bug 5118 For a hybrid graph, include 2px outline for the line graph
  change/@fluentui-react-charting-bbc541d0-79af-4a9b-81e3-3c81dd0e8b88.json
  packages/react-charting/src/components/VerticalBarChart/VerticalBarChart.base.tsx
  packages/react-charting/src/components/VerticalBarChart/VerticalBarChart.types.ts
  packages/react-charting/src/components/VerticalStackedBarChart/VerticalStackedBarChart.base.tsx
  packages/react-charting/src/components/VerticalStackedBarChart/VerticalStackedBarChart.types.ts
  packages/react-examples/src/react-charting/VerticalBarChart/VerticalBarChart.Basic.Example.tsx
  packages/react-examples/src/react-charting/VerticalStackedBarChart/VerticalStackedBarChart.Basic.Example.tsx
  packages/react-examples/src/react-charting/VerticalStackedBarChart/VerticalStackedBarChart.Callout.Example.tsx
  packages/react-examples/src/react-charting/VerticalStackedBarChart/VerticalStackedBarChart.CustomAccessibility.Example.tsx
Labels: Package: charting

#24252 feat: Implement `TableSelectionCell`
  change/@fluentui-react-components-6808fda2-7ec2-4b79-b721-49ad3feaebc0.json
  change/@fluentui-react-table-9593f504-f467-4334-ab3d-a7dc33cb104f.json
  packages/react-components/react-components/etc/react-components.unstable.api.md
  packages/react-components/react-components/src/unstable/index.ts
  packages/react-components/react-table/etc/react-table.api.md
  packages/react-components/react-table/package.json
  packages/react-components/react-table/src/TableSelectionCell.ts
  packages/react-components/react-table/src/components/TableSelectionCell/TableSelectionCell.test.tsx
  packages/react-components/react-table/src/components/TableSelectionCell/TableSelectionCell.tsx
  packages/react-components/react-table/src/components/TableSelectionCell/TableSelectionCell.types.ts
  packages/react-components/react-table/src/components/TableSelectionCell/__snapshots__/TableSelectionCell.test.tsx.snap
  packages/react-components/react-table/src/components/TableSelectionCell/index.ts
  packages/react-components/react-table/src/components/TableSelectionCell/renderTableSelectionCell.tsx
  packages/react-components/react-table/src/components/TableSelectionCell/useTableSelectionCell.tsx
  packages/react-components/react-table/src/components/TableSelectionCell/useTableSelectionCellStyles.ts
  packages/react-components/react-table/src/index.ts
  packages/react-components/react-table/src/stories/Table/MultipleSelect.stories.tsx
  packages/react-components/react-table/src/stories/Table/SingleSelect.stories.tsx
  packages/react-components/react-table/src/stories/Table/index.stories.tsx
Labels: Component: Table

#24019 RFC: Unified project board process
  rfcs/convergence/unified-project-board-process.md
Labels: Type: RFC

#24196 feat(Pivot): add overflowButtonAs prop
  change/@fluentui-react-8eaa0012-dc28-494f-a9c8-41bbb8f24c1a.json
  packages/react/etc/react.api.md
  packages/react/src/components/Pivot/Pivot.base.tsx
  packages/react/src/components/Pivot/Pivot.types.ts
Labels: Component: Pivot, PR: API Modified

#24258 fix: remove misleading instructions from aria-label in examples
  packages/react-examples/src/react/CommandBar/CommandBar.ButtonAs.Example.tsx
  packages/react-examples/src/react/CommandBar/CommandBar.CommandBarButtonAs.Example.tsx
  packages/react-examples/src/react/CommandBar/CommandBar.SplitDisabled.Example.tsx
  packages/react-examples/src/react/ContextualMenu/ContextualMenu.Checkmarks.Example.tsx
  packages/react-examples/src/react/ContextualMenu/ContextualMenu.Customization.Example.tsx
  packages/react-examples/src/react/ContextualMenu/ContextualMenu.CustomizationWithNoWrap.Example.tsx
  packages/react-examples/src/react/ContextualMenu/ContextualMenu.Header.Example.tsx
  packages/react-examples/src/react/ContextualMenu/ContextualMenu.ScreenReader.Example.tsx
  packages/react-examples/src/react/ContextualMenu/ContextualMenu.Submenu.Example.tsx
Labels: Area: Website

#24234 fix(Breadcrumb): overflowbutton focus outline now visible in HCM
  change/@fluentui-react-9389c81c-3bf8-4fd7-a465-31fd4a677c80.json
  packages/react/src/components/Breadcrumb/Breadcrumb.styles.ts
  packages/react/src/components/Breadcrumb/__snapshots__/Breadcrumb.test.tsx.snap
Labels: Area: Accessibility, Component: Breadcrumb

#24212 feat: add popupProps to Callout
  change/@fluentui-react-b6625e07-abc9-46fd-a63c-bc28f8aab0ef.json
  packages/react/etc/react.api.md
  packages/react/src/components/Callout/Callout.test.tsx
  packages/react/src/components/Callout/Callout.types.ts
  packages/react/src/components/Callout/CalloutContent.base.tsx
Labels: Component: Callout, PR: API Modified

#24178 Enable screener workflows
  .github/workflows/screener-build.yml
  .github/workflows/screener-run.yml
  azure-pipelines.yml
  scripts/screener/screener.runner.ts
Labels: Area: Build System

#24261 fix: Make focus rects visible inside of ContextualMenu
  change/@fluentui-react-999e7752-4c0d-4b7b-97c5-c0938466f097.json
  packages/react/src/components/ContextualMenu/ContextualMenu.base.tsx
Labels: Component: ContextualMenu, Fluent UI react (v8)

#24281 Bump react icons mdl2 branded
  change/@fluentui-react-icons-mdl2-branded-25b2fc8e-4556-4dbd-a789-183e427bcbf1.json
  packages/react-icons-mdl2-branded/package.json
Labels: Area: Icons

#24292 Scope storybooks builds
  azure-pipelines.perf-test.yml
  azure-pipelines.yml
  scripts/monorepo/checkIfPackagesAffected.js
Labels: Area: Build System

#24255 chore: use only one ts-node and improve perfomance by using `swc` for compilation
  apps/ssr-tests-v9/package.json
  azure-pipelines.release-vnext.yml
  change/@fluentui-web-components-dc75c576-2286-4559-9849-24a5147e98ee.json
  package.json
  packages/web-components/package.json
  scripts/package.json
  scripts/ts-node-register.js
  yarn.lock
Labels: Area: Build System

#24134 fix(react-popover): Allow PopoverSurface to trap focus when it's focusable
  apps/vr-tests-react-components/src/stories/Popover.stories.tsx
  change/@fluentui-react-popover-20004f36-0fef-42c5-b56e-3d0f618b2371.json
  packages/react-components/react-popover/e2e/Popover.e2e.tsx
  packages/react-components/react-popover/src/components/Popover/usePopover.ts
Labels: Component: Popover, Fluent UI vNext

#24257 feat: add Popup to public-docsite under Utilities
  apps/public-docsite-resources/src/AppDefinition.tsx
  apps/public-docsite-resources/src/components/pages/PopupPage.tsx
  apps/public-docsite/src/SiteDefinition/SiteDefinition.pages/Controls/web.tsx
  apps/public-docsite/src/pages/Controls/PopupPage/PopupPage.doc.ts
  apps/public-docsite/src/pages/Controls/PopupPage/PopupPage.tsx
  packages/react-examples/src/react/Popup/Popup.Basic.Example.tsx
  packages/react-examples/src/react/Popup/Popup.Modal.Example.tsx
  packages/react-examples/src/react/Popup/Popup.doc.tsx
  packages/react-examples/src/react/Popup/docs/PopupBestPractices.md
  packages/react-examples/src/react/Popup/docs/PopupDonts.md
  packages/react-examples/src/react/Popup/docs/PopupDos.md
  packages/react-examples/src/react/Popup/docs/PopupOverview.md
Labels: Area: Website

#23853 RFC: Provider default style overrides
  rfcs/react-components/convergence/provider-style-overrides.md
Labels: Type: RFC

#24274 fix(Dropdown): handle empty string as an empty value
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/components/Dropdown/Dropdown.tsx
  packages/fluentui/react-northstar/test/specs/components/Dropdown/Dropdown-test.tsx
Labels: Fluent UI react-northstar

#24027 Update and add token values to improve accessibility
  apps/public-docsite-v9/src/shims/ThemeShim/v9ThemeShim.ts
  apps/vr-tests-react-components/src/stories/Spinner.stories.tsx
  change/@fluentui-react-avatar-cf0035ba-5a49-4a26-9473-2fc7a29d34cd.json
  change/@fluentui-react-badge-51dc5f10-7c9b-4b8c-9b1d-5ab8afc5ab54.json
  change/@fluentui-react-checkbox-94e0861e-f646-46f7-ae40-eb2b0b0f59ca.json
  change/@fluentui-react-popover-b12a35f1-9fa8-418f-af79-dc3fc7ea18bb.json
  change/@fluentui-react-spinner-b347a78d-da01-4087-9046-45412344cf1c.json
  change/@fluentui-react-switch-23635943-537c-42d9-b219-575f3820e354.json
  change/@fluentui-react-theme-0a451fa0-2086-4a99-94c0-b3eb642e18eb.json
  change/@fluentui-react-theme-sass-7c908a09-e43e-4e41-96c5-60c62bbc3249.json
  change/@fluentui-react-tooltip-80b8fd2e-8725-4e1e-ad43-3d4a2e9d7a5b.json
  packages/react-components/react-avatar/src/components/Avatar/useAvatarStyles.ts
  packages/react-components/react-badge/src/components/Badge/useBadgeStyles.ts
  packages/react-components/react-checkbox/src/components/Checkbox/useCheckboxStyles.ts
  packages/react-components/react-popover/src/components/PopoverSurface/usePopoverSurfaceStyles.ts
  packages/react-components/react-popover/src/stories/Popover/PopoverAppearance.stories.tsx
  packages/react-components/react-popover/src/stories/Popover/index.stories.tsx
  packages/react-components/react-spinner/src/components/Spinner/useSpinnerStyles.ts
  packages/react-components/react-spinner/src/stories/Spinner/SpinnerAppearance.stories.tsx
  packages/react-components/react-switch/src/components/Switch/useSwitchStyles.ts
  packages/react-components/react-theme-sass/sass/colorTokens.scss
  packages/react-components/react-theme/etc/react-theme.api.md
  packages/react-components/react-theme/src/alias/darkColor.ts
  packages/react-components/react-theme/src/alias/highContrastColor.ts
  packages/react-components/react-theme/src/alias/lightColor.ts
  packages/react-components/react-theme/src/alias/teamsDarkColor.ts
  packages/react-components/react-theme/src/tokens.ts
  packages/react-components/react-theme/src/types.ts
  packages/react-components/react-tooltip/src/components/Tooltip/useTooltipStyles.ts
Labels: Area: Accessibility, Component: Checkbox, Component: Tooltip, Component: Spinner, Component: Popover, Component: Theme, Component: Badge, Component: Avatar, Component: Switch

#24241 feat(react-avatar): Adding pie layout implementation
  apps/vr-tests-react-components/src/stories/AvatarGroup.stories.tsx
  change/@fluentui-react-avatar-94258547-1e65-4b1f-9e2e-16e820ed3061.json
  packages/react-components/react-avatar/etc/react-avatar.api.md
  packages/react-components/react-avatar/src/components/AvatarGroup/AvatarGroup.tsx
  packages/react-components/react-avatar/src/components/AvatarGroup/AvatarGroup.types.ts
  packages/react-components/react-avatar/src/components/AvatarGroup/useAvatarGroupStyles.ts
  packages/react-components/react-avatar/src/components/AvatarGroupItem/useAvatarGroupItemStyles.ts
  packages/react-components/react-avatar/src/components/AvatarGroupOverflow/useAvatarGroupOverflow.tsx
  packages/react-components/react-avatar/src/components/AvatarGroupOverflow/useAvatarGroupOverflowStyles.ts
  packages/react-components/react-avatar/src/stories/AvatarGroup/AvatarGroupLayout.stories.tsx
  packages/react-components/react-avatar/src/stories/AvatarGroup/AvatarGroupSizePie.stories.tsx
  packages/react-components/react-avatar/src/stories/AvatarGroup/index.stories.tsx
Labels: Component: AvatarGroup, Fluent UI vNext

#24338 chore(react-avatar): Rename AvatarGroupOverflow to AvatarGroupPopover
  apps/vr-tests-react-components/src/stories/AvatarGroup.stories.tsx
  change/@fluentui-react-avatar-56d4ba21-e41a-42df-b101-f774986c8319.json
  packages/react-components/react-avatar/etc/react-avatar.api.md
  packages/react-components/react-avatar/src/AvatarGroupOverflow.ts
  packages/react-components/react-avatar/src/AvatarGroupPopover.ts
  packages/react-components/react-avatar/src/components/AvatarGroup/AvatarGroup.test.tsx
  packages/react-components/react-avatar/src/components/AvatarGroupOverflow/AvatarGroupOverflow.tsx
  packages/react-components/react-avatar/src/components/AvatarGroupOverflow/index.ts
  packages/react-components/react-avatar/src/components/AvatarGroupPopover/AvatarGroupPopover.test.tsx
  packages/react-components/react-avatar/src/components/AvatarGroupPopover/AvatarGroupPopover.tsx
  packages/react-components/react-avatar/src/components/AvatarGroupPopover/AvatarGroupPopover.types.ts
  packages/react-components/react-avatar/src/components/AvatarGroupPopover/index.ts
  packages/react-components/react-avatar/src/components/AvatarGroupPopover/renderAvatarGroupPopover.tsx
  packages/react-components/react-avatar/src/components/AvatarGroupPopover/useAvatarGroupPopover.tsx
  packages/react-components/react-avatar/src/components/AvatarGroupPopover/useAvatarGroupPopoverContextValues.ts
  packages/react-components/react-avatar/src/components/AvatarGroupPopover/useAvatarGroupPopoverStyles.ts
  packages/react-components/react-avatar/src/index.ts
  packages/react-components/react-avatar/src/stories/AvatarGroup/AvatarGroupDefault.stories.tsx
  packages/react-components/react-avatar/src/stories/AvatarGroup/AvatarGroupDescription.md
  packages/react-components/react-avatar/src/stories/AvatarGroup/AvatarGroupIndicator.stories.tsx
  packages/react-components/react-avatar/src/stories/AvatarGroup/AvatarGroupLayout.stories.tsx
  packages/react-components/react-avatar/src/stories/AvatarGroup/AvatarGroupSizePie.stories.tsx
  packages/react-components/react-avatar/src/stories/AvatarGroup/AvatarGroupSizeSpread.stories.tsx
  packages/react-components/react-avatar/src/stories/AvatarGroup/AvatarGroupSizeStack.stories.tsx
Labels: Component: AvatarGroup, Fluent UI vNext, Component: AvatarGroupPopover

#24264 chore(scripts): enable type-checks on ci and fix all ts-errors
  .vscode/launch.json
  apps/pr-deploy-site/tsconfig.json
  package.json
  packages/fluentui/perf-test-northstar/tsconfig.json
  scripts/beachball/config.test.ts
  scripts/beachball/release-v8.config.js
  scripts/beachball/release-vNext.config.js
  scripts/gulp/plugins/util/parseTypeAnnotation.ts
  scripts/gulp/tasks/browserAdapters.ts
  scripts/just-scripts.js
  scripts/package.json
  scripts/publish-beta.js
  scripts/tasks/argv.spec.ts
  scripts/tsconfig.json
  scripts/typescript/normalize-import.js
  scripts/typescript/normalize-import.spec.js
  scripts/typescript/tsconfig.common.json
  scripts/webpack/webpack.config.stats.ts
  yarn.lock
Labels: Area: Build System

#24276 chore: fix `no-context-default-value` lint violations for teams-prg
  change/@fluentui-react-menu-fd6031a5-d8f5-4af0-bf16-a9bfe3990449.json
  change/@fluentui-react-overflow-5651b30f-165e-4fed-a01c-c6b83ef18f9a.json
  change/@fluentui-react-popover-d85987eb-ac0b-49ee-8421-f7325302b84e.json
  change/@fluentui-react-portal-compat-context-f99bc709-8180-43f5-a052-113a2d424875.json
  change/@fluentui-react-shared-contexts-4d01ca95-ef12-4baa-817e-1b032fd85cc2.json
  change/@fluentui-react-toolbar-0d3acebd-980f-4b9a-b517-316a652430ee.json
  change/@fluentui-react-utilities-27817a14-4b0d-4844-9aff-b7ad8319b7d0.json
  packages/react-components/react-menu/src/contexts/menuContext.ts
  packages/react-components/react-menu/src/contexts/menuGroupContext.ts
  packages/react-components/react-menu/src/contexts/menuListContext.tsx
  packages/react-components/react-menu/src/contexts/menuTriggerContext.ts
  packages/react-components/react-overflow/src/overflowContext.ts
  packages/react-components/react-popover/src/popoverContext.ts
  packages/react-components/react-portal-compat-context/etc/react-portal-compat-context.api.md
  packages/react-components/react-portal-compat-context/src/PortalCompatContext.ts
  packages/react-components/react-shared-contexts/src/ProviderContext/ProviderContext.ts
  packages/react-components/react-shared-contexts/src/ThemeClassNameContext/ThemeClassNameContext.ts
  packages/react-components/react-shared-contexts/src/TooltipVisibilityContext/TooltipContext.ts
  packages/react-components/react-toolbar/src/components/Toolbar/ToolbarContext.tsx
  packages/react-components/react-utilities/src/ssr/SSRContext.tsx
Labels: Area: Packaging

#24324 fix(docsite): add build time script to fix the website title from Web…
  apps/public-docsite-v9/.storybook/fix-title.js
  apps/public-docsite-v9/package.json
Labels: Area: Website

#24337 fix(TextField): Remove caret from regex to correctly detect if the browser is Edge
  change/@fluentui-react-68578c2e-b92f-4b1d-9e55-74b93271c2eb.json
  packages/react/src/components/TextField/TextField.base.tsx
Labels: Type: Bug :bug:, Component: TextField, PR: API Modified, Fluent UI react (v8)

#24347 chore(react-avatar): Change content to render as ul and list item to render as li
  change/@fluentui-react-avatar-0a844534-f651-4b66-92c0-f9b1352ec334.json
  packages/react-components/react-avatar/etc/react-avatar.api.md
  packages/react-components/react-avatar/src/components/AvatarGroupItem/AvatarGroupItem.test.tsx
  packages/react-components/react-avatar/src/components/AvatarGroupItem/AvatarGroupItem.types.ts
  packages/react-components/react-avatar/src/components/AvatarGroupItem/useAvatarGroupItem.ts
  packages/react-components/react-avatar/src/components/AvatarGroupPopover/AvatarGroupPopover.types.ts
  packages/react-components/react-avatar/src/components/AvatarGroupPopover/useAvatarGroupPopover.tsx
  packages/react-components/react-avatar/src/components/AvatarGroupPopover/useAvatarGroupPopoverStyles.ts
Labels: Component: AvatarGroup, Fluent UI vNext, Component: AvatarGroupPopover

#24348 chore(react-avatar): Update tests for implementation and add e2e tests
  change/@fluentui-react-avatar-c592e3ad-6172-4061-ada6-57e0907c10c6.json
  packages/react-components/react-avatar/cypress.config.ts
  packages/react-components/react-avatar/e2e/AvatarGroup.e2e.tsx
  packages/react-components/react-avatar/e2e/tsconfig.json
  packages/react-components/react-avatar/package.json
  packages/react-components/react-avatar/src/components/AvatarGroup/AvatarGroup.test.tsx
  packages/react-components/react-avatar/src/components/AvatarGroupPopover/AvatarGroupPopover.test.tsx
Labels: Component: AvatarGroup, Component: AvatarGroupItem, Component: AvatarGroupPopover

#24319 Culture issue in multistacked bar chart solve
  change/@fluentui-react-charting-3bf299d2-26e7-45ca-bcb1-18aeabdb8b79.json
  packages/react-charting/src/components/HorizontalBarChart/HorizontalBarChart.base.tsx
  packages/react-charting/src/components/StackedBarChart/MultiStackedBarChart.base.tsx
  packages/react-charting/src/components/StackedBarChart/StackedBarChart.base.tsx
Labels: Package: charting

#24323 chore: prepare release react-northstar 0.64.0
  packages/fluentui/CHANGELOG.md
  packages/fluentui/ability-attributes/package.json
  packages/fluentui/accessibility/package.json
  packages/fluentui/circulars-test/package.json
  packages/fluentui/code-sandbox/package.json
  packages/fluentui/digest/package.json
  packages/fluentui/docs-components/package.json
  packages/fluentui/docs/package.json
  packages/fluentui/e2e/package.json
  packages/fluentui/lerna.json
  packages/fluentui/local-sandbox/package.json
  packages/fluentui/perf-test-northstar/package.json
  packages/fluentui/perf/package.json
  packages/fluentui/projects-test/package.json
  packages/fluentui/react-bindings/package.json
  packages/fluentui/react-builder/package.json
  packages/fluentui/react-component-event-listener/package.json
  packages/fluentui/react-component-nesting-registry/package.json
  packages/fluentui/react-component-ref/package.json
  packages/fluentui/react-icons-northstar/package.json
  packages/fluentui/react-northstar-emotion-renderer/package.json
  packages/fluentui/react-northstar-fela-renderer/package.json
  packages/fluentui/react-northstar-prototypes/package.json
  packages/fluentui/react-northstar-styles-renderer/package.json
  packages/fluentui/react-northstar/package.json
  packages/fluentui/react-proptypes/package.json
  packages/fluentui/react-telemetry/package.json
  packages/fluentui/state/package.json
  packages/fluentui/styles/package.json
Labels: Fluent UI react-northstar

#24177 feat: Updates triggers to use `useARIAButton`
  change/@fluentui-react-aria-994e3c56-fafa-4ce6-8578-1a14b0381c47.json
  change/@fluentui-react-dialog-0e776115-4b8f-4a9a-937c-63318516ad3b.json
  change/@fluentui-react-menu-83e936ff-2902-4533-baec-ef0d8009e7f8.json
  change/@fluentui-react-popover-a614fdc2-600c-45eb-87be-446c387a1998.json
  packages/react-components/react-aria/etc/react-aria.api.md
  packages/react-components/react-aria/src/hooks/useARIAButton.ts
  packages/react-components/react-aria/src/index.ts
  packages/react-components/react-dialog/etc/react-dialog.api.md
  packages/react-components/react-dialog/src/components/DialogTrigger/DialogTrigger.types.ts
  packages/react-components/react-dialog/src/components/DialogTrigger/__snapshots__/DialogTrigger.test.tsx.snap
  packages/react-components/react-dialog/src/components/DialogTrigger/useDialogTrigger.ts
  packages/react-components/react-dialog/src/stories/Dialog/DialogCustomTrigger.stories.tsx
  packages/react-components/react-dialog/src/utils/index.ts
  packages/react-components/react-dialog/src/utils/isTargetDisabled.ts
  packages/react-components/react-menu/e2e/Menu.e2e.tsx
  packages/react-components/react-menu/etc/react-menu.api.md
  packages/react-components/react-menu/package.json
  packages/react-components/react-menu/src/components/MenuTrigger/MenuTrigger.types.ts
  packages/react-components/react-menu/src/components/MenuTrigger/useMenuTrigger.ts
  packages/react-components/react-menu/src/stories/Menu/MenuRenderFunctionTrigger.stories.tsx
  packages/react-components/react-popover/etc/react-popover.api.md
  packages/react-components/react-popover/package.json
  packages/react-components/react-popover/src/components/PopoverTrigger/PopoverTrigger.types.ts
  packages/react-components/react-popover/src/components/PopoverTrigger/usePopoverTrigger.ts
Labels: Component: Dialog, Component: Popover, Fluent UI react-components (v9), Component: Menu

#24298 docs: add proportional example for DetailsList to docs
  apps/public-docsite-resources/src/AppDefinition.tsx
  apps/public-docsite-resources/src/components/pages/DetailsList/DetailsListProportionalColumnsPage.tsx
  apps/public-docsite/src/SiteDefinition/SiteDefinition.pages/Controls/web.tsx
  apps/public-docsite/src/pages/Controls/DetailsListPage/DetailsListProportionalColumnsPage.doc.ts
  apps/public-docsite/src/pages/Controls/DetailsListPage/DetailsListProportionalColumnsPage.tsx
  packages/react-examples/src/react/DetailsList/DetailsList.doc.tsx
Labels: Area: Website

#24354 feat(react-dialog): Makes `DialogBody` responsive to large content
  change/@fluentui-react-dialog-62084a3e-5a47-420d-b5b5-05fcb5956e3d.json
  packages/react-components/react-dialog/src/components/DialogBody/useDialogBodyStyles.ts
  packages/react-components/react-dialog/src/stories/Dialog/DialogScrollingLongContent.stories.tsx
  packages/react-components/react-dialog/src/stories/Dialog/index.stories.tsx
Labels: Component: Dialog, Fluent UI react-components (v9)

#23819 react-combobox: add `allowFreeform` and update default input behavior
  change/@fluentui-react-combobox-b56a3d97-47e6-4c1f-98a6-0249120d1ed2.json
  packages/react-components/react-combobox/etc/react-combobox.api.md
  packages/react-components/react-combobox/src/components/Combobox/Combobox.test.tsx
  packages/react-components/react-combobox/src/components/Combobox/Combobox.types.ts
  packages/react-components/react-combobox/src/components/Combobox/renderCombobox.tsx
  packages/react-components/react-combobox/src/components/Combobox/useCombobox.tsx
  packages/react-components/react-combobox/src/components/Combobox/useComboboxStyles.ts
  packages/react-components/react-combobox/src/components/Dropdown/useDropdown.tsx
  packages/react-components/react-combobox/src/components/Listbox/Listbox.types.ts
  packages/react-components/react-combobox/src/components/Listbox/useListbox.ts
  packages/react-components/react-combobox/src/components/Option/Option.test.tsx
  packages/react-components/react-combobox/src/components/Option/useOption.tsx
  packages/react-components/react-combobox/src/contexts/ComboboxContext.ts
  packages/react-components/react-combobox/src/contexts/ListboxContext.ts
  packages/react-components/react-combobox/src/contexts/useComboboxContextValues.ts
  packages/react-components/react-combobox/src/contexts/useListboxContextValues.ts
  packages/react-components/react-combobox/src/stories/Combobox/ComboboxFreeform.stories.tsx
  packages/react-components/react-combobox/src/stories/Combobox/index.stories.tsx
  packages/react-components/react-combobox/src/utils/ComboboxBase.types.ts
  packages/react-components/react-combobox/src/utils/Selection.types.ts
  packages/react-components/react-combobox/src/utils/dropdownKeyActions.ts
  packages/react-components/react-combobox/src/utils/useComboboxBaseState.ts
  packages/react-components/react-combobox/src/utils/useSelection.ts
  rfcs/react-components/convergence/provider-style-overrides.md
Labels: Type: RFC

#24278 Standardize selection behavior of Groups in SelectionZone
  change/@fluentui-react-8048a73c-6b18-40b3-93bb-2fa00248795b.json
  change/@fluentui-utilities-33bf3200-95e0-49e3-9e3d-9f77e469da42.json
  packages/react/src/components/DetailsList/__snapshots__/DetailsList.test.tsx.snap
  packages/react/src/components/GroupedList/GroupHeader.base.tsx
  packages/react/src/utilities/selection/SelectionZone.tsx
  packages/utilities/etc/utilities.api.md
  packages/utilities/src/selection/Selection.ts
  packages/utilities/src/selection/Selection.types.ts
Labels: PR: API Modified

#24359 fix(react-avatar): Set aria-hidden to AvatarGroupItem's label
  change/@fluentui-react-avatar-79855439-3adf-4e84-a434-f95911b3655b.json
  packages/react-components/react-avatar/src/components/AvatarGroupItem/useAvatarGroupItem.ts
Labels: Component: AvatarGroupItem, Fluent UI vNext

#24366 fix: export ToolbarButton
  change/@fluentui-react-components-847b38fb-34c3-40b2-b8d4-4c53b3027acc.json
  packages/react-components/react-components/etc/react-components.unstable.api.md
  packages/react-components/react-components/src/unstable/index.ts
Labels: Component: Toolbar

#24370 Cherry-pink Group Selection rework to 7.0
  change/@uifabric-utilities-5ab4e040-7eac-4647-bb4f-b6bf55fd2122.json
  change/office-ui-fabric-react-1acc2c21-2072-4890-91b8-5b710658f929.json
  packages/office-ui-fabric-react/src/components/DetailsList/__snapshots__/DetailsList.test.tsx.snap
  packages/office-ui-fabric-react/src/components/GroupedList/GroupHeader.base.tsx
  packages/office-ui-fabric-react/src/utilities/selection/SelectionZone.tsx
  packages/utilities/etc/utilities.api.md
  packages/utilities/src/selection/Selection.ts
  packages/utilities/src/selection/Selection.types.ts
Labels: PR: API Modified, needs cherry-pick, Fabric 7

#24287 Added Test Cases for the Legends
  packages/react-charting/src/components/Legends/Legends.test.tsx
  packages/react-charting/src/components/Legends/__snapshots__/Legends.test.tsx.snap
Labels: Package: charting

#24204 chore: Add possibility to run locally-cloned token-pipeline
  scripts/token-pipeline.ts
Labels: Area: Build System

#24375 feat(react-dialog): Adds scroll lock
  change/@fluentui-react-dialog-5d208332-d639-43b9-8909-1fb009f45d5f.json
  packages/react-components/react-dialog/e2e/Dialog.e2e.tsx
  packages/react-components/react-dialog/src/components/Dialog/useDialog.ts
  packages/react-components/react-dialog/src/components/Dialog/useDialogContextValues.ts
  packages/react-components/react-dialog/src/contexts/dialogContext.mock.ts
  packages/react-components/react-dialog/src/contexts/dialogContext.ts
  packages/react-components/react-dialog/src/utils/index.ts
  packages/react-components/react-dialog/src/utils/useDisableScroll.ts
Labels: Type: Feature, Component: Dialog, Fluent UI react-components (v9)

#23577 docs(rfc): add api access modifiers style-guide RFC for v9
  rfcs/shared/build-system/package-public-api.md
Labels: Fluent UI react-components (v9), Type: RFC

#24242 Easy choice group option props
  change/@fluentui-react-ca0880b1-2d51-40a5-ba98-0c357f33a91f.json
  packages/react/etc/react.api.md
  packages/react/src/components/ChoiceGroup/ChoiceGroup.types.ts
  packages/react/src/components/ChoiceGroup/ChoiceGroupOption/ChoiceGroupOption.types.ts
Labels: Component: ChoiceGroup, PR: API Modified

#24353 fix(List): solve stale props problem with getPageSpecification
  change/@fluentui-react-6701599d-0685-4f2a-8f1e-0f9b843ebef3.json
  packages/react/src/components/List/List.test.tsx
  packages/react/src/components/List/List.tsx
Labels: Component: List

#24385 Fix grouped list derived state from props
  change/@fluentui-react-28f94bba-caa9-4aac-81af-6cf0d0cd592d.json
  packages/react/src/components/DetailsList/__snapshots__/DetailsList.test.tsx.snap
  packages/react/src/components/GroupedList/GroupedList.base.tsx
  packages/react/src/components/GroupedList/GroupedList.test.tsx
Labels: Component: GroupedList

#24408 feat(react-dialog): Adds styling to avoid jumping on body scroll lock
  change/@fluentui-react-dialog-84bff749-0be3-413d-9554-13744acffbfa.json
  packages/react-components/react-dialog/src/components/Dialog/useDialog.ts
  packages/react-components/react-dialog/src/components/Dialog/useDialogContextValues.ts
  packages/react-components/react-dialog/src/contexts/dialogContext.mock.ts
  packages/react-components/react-dialog/src/contexts/dialogContext.ts
  packages/react-components/react-dialog/src/utils/index.ts
  packages/react-components/react-dialog/src/utils/useDisableBodyScroll.ts
  packages/react-components/react-dialog/src/utils/useDisableScroll.ts
Labels: Type: Feature, Component: Dialog, Fluent UI react-components (v9)

#24383 feat: Implement unstable navigation modes
  change/@fluentui-react-table-7a265a18-4500-433d-8321-41115bba1cd8.json
  packages/react-components/react-table/src/navigationModes/cell.ts
  packages/react-components/react-table/src/navigationModes/composite.ts
  packages/react-components/react-table/src/navigationModes/index.ts
  packages/react-components/react-table/src/navigationModes/useNavigationMode.ts
  packages/react-components/react-table/src/stories/Table/CellNavigationMode.stories.tsx
  packages/react-components/react-table/src/stories/Table/CompositeNavigationMode.stories.tsx
  packages/react-components/react-table/src/stories/Table/MultipleSelect.stories.tsx
  packages/react-components/react-table/src/stories/Table/RowNavigationMode.stories.tsx
  packages/react-components/react-table/src/stories/Table/SingleSelect.stories.tsx
  packages/react-components/react-table/src/stories/Table/index.stories.tsx
Labels: Component: Table

#24415 Create fluentui/react-charting package to alias uifabric/charting
  change/@fluentui-react-charting-4c86-4bd5-a049-6766a22dfcf7.json
  packages/react-charting/.eslintrc.json
  packages/react-charting/.npmignore
  packages/react-charting/.npmrc
  packages/react-charting/CHANGELOG.json
  packages/react-charting/CHANGELOG.md
  packages/react-charting/LICENSE
  packages/react-charting/README.md
  packages/react-charting/config/pre-copy.json
  packages/react-charting/config/tests.js
  packages/react-charting/jest.config.js
  packages/react-charting/just.config.ts
  packages/react-charting/package.json
  packages/react-charting/src/AreaChart.ts
  packages/react-charting/src/CartesianChart.ts
  packages/react-charting/src/DonutChart.ts
  packages/react-charting/src/GroupedVerticalBarChart.ts
  packages/react-charting/src/HeatMapChart.ts
  packages/react-charting/src/HorizontalBarChart.ts
  packages/react-charting/src/Legends.ts
  packages/react-charting/src/LineChart.ts
  packages/react-charting/src/PieChart.ts
  packages/react-charting/src/StackedBarChart.ts
  packages/react-charting/src/Styling.ts
  packages/react-charting/src/Utilities.ts
  packages/react-charting/src/VerticalBarChart.ts
  packages/react-charting/src/VerticalStackedBarChart.ts
  packages/react-charting/src/index.ts
  packages/react-charting/src/version.ts
  packages/react-charting/tsconfig.json
  packages/react-charting/webpack.config.js
  packages/react-charting/webpack.serve.config.js
Labels: Package: charting, Fabric 7

#24340 [v8] fix: Make focus rects visible again in Combobox
  change/@fluentui-react-0a0bcc42-1204-493f-a8b8-ee0e92e739ea.json
  change/@fluentui-utilities-81c29f6e-c01a-4c4e-b5e2-7f94346d90bb.json
  packages/react/src/components/Fabric/Fabric.base.tsx
  packages/react/src/components/Layer/Layer.base.tsx
  packages/react/src/utilities/ThemeProvider/ThemeProvider.types.ts
  packages/react/src/utilities/ThemeProvider/renderThemeProvider.tsx
  packages/react/src/utilities/ThemeProvider/useThemeProviderState.tsx
  packages/utilities/etc/utilities.api.md
  packages/utilities/src/FocusRectsProvider.tsx
  packages/utilities/src/index.ts
  packages/utilities/src/setFocusVisibility.ts
  packages/utilities/src/useFocusRects.test.tsx
  packages/utilities/src/useFocusRects.ts
Labels: PR: API Modified, Fluent UI react (v8)

#24406 FocusZone: Add ability to bypass hidden elements
  change/@fluentui-react-de587d83-1c46-488b-9d1e-e1dd10739fb1.json
  change/@fluentui-react-focus-ec8c78ab-cee2-4700-b82d-5ed2aef1fd4b.json
  change/@fluentui-utilities-7b6dc27b-e41a-4cdc-9041-ba28da7a3401.json
  packages/react-focus/etc/react-focus.api.md
  packages/react-focus/src/components/FocusZone/FocusZone.tsx
  packages/react-focus/src/components/FocusZone/FocusZone.types.ts
  packages/react/etc/react.api.md
  packages/react/src/components/OverflowSet/OverflowSet.base.tsx
  packages/react/src/components/OverflowSet/OverflowSet.types.ts
  packages/utilities/etc/utilities.api.md
  packages/utilities/src/focus.ts
Labels: PR: API Modified

#24384 Enable screener proxy to scope and update checks
  scripts/gulp/tasks/screener.ts
  scripts/screener/screener.runner.ts
  scripts/tasks/screener.ts
Labels: Area: Build System

#24428 Revert "Enable screener proxy to scope and update checks"
  scripts/gulp/tasks/screener.ts
  scripts/screener/screener.runner.ts
  scripts/tasks/screener.ts
Labels: Area: Build System

#24414 fix(FocusTrapZone): aria-hidden on FocusTrapZone's parent is not removed when there's multiple FTZ
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-bindings/src/FocusZone/FocusTrapZone.tsx
  packages/fluentui/react-bindings/test/FocusZone/FocusTrapZone-test.tsx
Labels: Area: Accessibility, Fluent UI react-northstar

#24429 Remove ci scoping
  azure-pipelines.yml
  scripts/gulp/tasks/screener.ts
  scripts/screener/screener.runner.ts
  scripts/tasks/screener.ts
Labels: Area: Build System

#24417 fix: Making PopoverSurface focusable, moving Overflow aria-label to PopoverSurface, and moving content styles to PopoverSurface
  change/@fluentui-react-avatar-6c6ac0d8-779b-4863-b199-95916a602eab.json
  packages/react-components/react-avatar/e2e/AvatarGroup.e2e.tsx
  packages/react-components/react-avatar/src/components/AvatarGroupPopover/useAvatarGroupPopover.tsx
  packages/react-components/react-avatar/src/components/AvatarGroupPopover/useAvatarGroupPopoverStyles.ts
Labels: Component: AvatarGroupPopover

#24434 Tag Picker: fix select all and delete
  change/@fluentui-react-a918e551-6867-4583-be9e-dedfa8d6b135.json
  packages/react-examples/src/react/Pickers/TagPicker.Basic.Example.tsx
  packages/react/etc/react.api.md
  packages/react/src/components/pickers/TagPicker/TagItem.styles.ts
  packages/react/src/components/pickers/TagPicker/TagPicker.tsx
  packages/react/src/components/pickers/TagPicker/__snapshots__/TagItem.test.tsx.snap
  packages/react/src/components/pickers/TagPicker/__snapshots__/TagPicker.test.tsx.snap
Labels: Component: Pickers, PR: API Modified

#24279 perf: add stress test app
  apps/stress-test/.babelrc
  apps/stress-test/.eslintrc.json
  apps/stress-test/.gitignore
  apps/stress-test/.npmignore
  apps/stress-test/README.md
  apps/stress-test/benchmarks/browsers.js
  apps/stress-test/benchmarks/simple-stress/buildConfig.js
  apps/stress-test/benchmarks/simple-stress/processResults.js
  apps/stress-test/config/tests.js
  apps/stress-test/griffelConfig.js
  apps/stress-test/jest.config.js
  apps/stress-test/just.config.ts
  apps/stress-test/package.json
  apps/stress-test/pageConfig.js
  apps/stress-test/src/components/v8/StressApp.tsx
  apps/stress-test/src/components/v8/StressComponent.tsx
  apps/stress-test/src/components/v8/StressContainer.tsx
  apps/stress-test/src/components/v9/StressApp.tsx
  apps/stress-test/src/components/v9/StressComponent.tsx
  apps/stress-test/src/components/v9/StressContainer.tsx
  apps/stress-test/src/components/wc/stressApp.wc.ts
  apps/stress-test/src/components/wc/stressComponent.wc.ts
  apps/stress-test/src/components/wc/stressContainer.wc.ts
  apps/stress-test/src/pages/v8/simple-stress/index.html
  apps/stress-test/src/pages/v8/simple-stress/index.tsx
  apps/stress-test/src/pages/v9/simple-stress/index.html
  apps/stress-test/src/pages/v9/simple-stress/index.tsx
  apps/stress-test/src/pages/wc/simple-stress/index.html
  apps/stress-test/src/pages/wc/simple-stress/index.wc.ts
  apps/stress-test/src/shared/Element.tsx
  apps/stress-test/src/shared/ElementContext.tsx
  apps/stress-test/src/shared/injectStyles.ts
  apps/stress-test/src/shared/performanceMeasure.ts
  apps/stress-test/src/shared/testParams.ts
  apps/stress-test/tsconfig.json
  apps/stress-test/webpack.config.js
  change/@fluentui-stress-test-ade3b149-0fa4-434c-86c0-faee5e52bc90.json
  package.json
  workspace.json
  yarn.lock
Labels: Area: Performance

#24444 chore(react-aria): `useARIAButton` folder
  change/@fluentui-react-aria-4b79e85a-b5bc-45ce-802e-9ea17f31184c.json
  packages/react-components/react-aria/src/hooks/index.ts
  packages/react-components/react-aria/src/hooks/useARIAButton/index.ts
  packages/react-components/react-aria/src/hooks/useARIAButton/types.ts
  packages/react-components/react-aria/src/hooks/useARIAButton/useARIAButton.stories.tsx
  packages/react-components/react-aria/src/hooks/useARIAButton/useARIAButtonProps.test.tsx
  packages/react-components/react-aria/src/hooks/useARIAButton/useARIAButtonProps.ts
  packages/react-components/react-aria/src/hooks/useARIAButton/useARIAButtonShorthand.test.tsx
  packages/react-components/react-aria/src/hooks/useARIAButton/useARIAButtonShorthand.ts
  packages/react-components/react-aria/src/index.ts
Labels: Fluent UI react-components (v9)

#23369 feat: implement internal/alpha/beta/ API removals from package public API surface
  change/@fluentui-priority-overflow-be962710-d1fe-4f92-866d-35605c166f3d.json
  change/@fluentui-react-aria-4c83e3c1-60e7-497a-9e1d-0e1bb35664a8.json
  change/@fluentui-react-avatar-a74ed07c-650a-48fa-897f-c9b151866f7c.json
  change/@fluentui-react-context-selector-e362261c-c781-45d2-a4b2-1a2af9990e0e.json
  change/@fluentui-react-overflow-ecf714e3-d218-4cc2-b03b-330efd0d6e8d.json
  change/@fluentui-react-positioning-8efb2e48-e33d-429a-be0e-d862aaf3e6f4.json
  change/@fluentui-react-shared-contexts-e4e3f022-f79f-4ab2-95bf-a496d8d2784a.json
  change/@fluentui-react-tabster-5ad9a59a-bea6-4483-9063-7c2d7dead914.json
  change/@fluentui-react-utilities-a0cb439b-1243-4594-9a77-309c983360cf.json
  packages/react-components/priority-overflow/etc/priority-overflow.api.md
  packages/react-components/react-aria/etc/react-aria.api.md
  packages/react-components/react-aria/package.json
  packages/react-components/react-avatar/etc/react-avatar.api.md
  packages/react-components/react-context-selector/etc/react-context-selector.api.md
  packages/react-components/react-overflow/etc/react-overflow.api.md
  packages/react-components/react-positioning/etc/react-positioning.api.md
  packages/react-components/react-shared-contexts/etc/react-shared-contexts.api.md
  packages/react-components/react-tabster/etc/react-tabster.api.md
  packages/react-components/react-utilities/etc/react-utilities.api.md
  scripts/api-extractor/api-extractor.common.v-next.json
  scripts/beachball/tagVNext.ts
  scripts/beachball/utils.ts
  scripts/create-component/create-component.ts
  scripts/just.config.ts
  scripts/monorepo/findGitRoot.js
  scripts/monorepo/index.d.ts
  scripts/monorepo/index.js
  scripts/monorepo/isConvergedPackage.js
  scripts/monorepo/runPublished.js
  scripts/monorepo/utils.js
  scripts/storybook/utils.js
  scripts/tasks/api-extractor.ts
  scripts/tasks/copy.ts
  scripts/tasks/ts.ts
  scripts/tasks/utils.ts
  tools/generators/migrate-converged-pkg/__fixtures__/conformance-setup.ts__tmpl__
  tools/generators/migrate-converged-pkg/__fixtures__/old-jest-config.js__tmpl__
  tools/generators/migrate-converged-pkg/index.spec.ts
  tools/generators/migrate-converged-pkg/index.ts
Labels: Area: Build System, Fluent UI react-components (v9)

#24356 Upgrade Repo to React 17
  apps/perf-test-react-components/package.json
  apps/perf-test/package.json
  apps/public-docsite-resources/package.json
  apps/public-docsite-v9/package.json
  apps/public-docsite/package.json
  apps/stress-test/benchmarks/browsers.js
  apps/stress-test/package.json
  apps/theming-designer/package.json
  apps/vr-tests-react-components/package.json
  apps/vr-tests/package.json
  change/@fluentui-codemods-b7606bcc-bc5a-4cc9-aa87-f20d3d266223.json
  change/@fluentui-foundation-legacy-d5ffb509-caf7-4148-bfe8-dea8717de826.json
  change/@fluentui-react-69639f5e-6fd2-4aea-9501-fcd7fa70f593.json
  change/@fluentui-react-cards-ab916ff2-e7b9-4690-bbd1-ff1fe7087d88.json
  change/@fluentui-react-conformance-9e4f598a-bbd3-41b2-a2fd-2033f519c4c1.json
  change/@fluentui-react-date-time-dd615f6f-15b4-4345-83e3-cebae9054fae.json
  change/@fluentui-react-file-type-icons-09d0e2b2-3abe-4e0b-a134-0bc5a5888356.json
  change/@fluentui-react-hooks-67047d15-db80-4190-a1f5-2228d8ad5565.json
  change/@fluentui-react-utilities-66c0b2d0-9776-4901-b5be-1e9c34ff62ba.json
  change/@fluentui-style-utilities-fd883a4f-c184-4a26-8288-3dda4bcc5541.json
  change/@fluentui-theme-f64e58b9-2125-459f-8145-eb17aecc0f82.json
  package.json
  packages/codemods/package.json
  packages/fluentui/CHANGELOG.md
  packages/fluentui/code-sandbox/package.json
  packages/fluentui/docs-components/package.json
  packages/fluentui/docs/package.json
  packages/fluentui/projects-test/assets/rollup/index.html
  packages/fluentui/react-bindings/package.json
  packages/fluentui/react-builder/package.json
  packages/fluentui/react-component-ref/package.json
  packages/fluentui/react-northstar-prototypes/package.json
  packages/fluentui/react-northstar/package.json
  packages/fluentui/react-northstar/test/specs/components/Popup/Popup-test.tsx
  packages/foundation-legacy/config/tests.js
  packages/foundation-legacy/tsconfig.json
  packages/react-cards/config/tests.js
  packages/react-cards/tsconfig.json
  packages/react-charting/config/tests.js
  packages/react-components/react-utilities/etc/react-utilities.api.md
  packages/react-components/react-utilities/src/compose/types.ts
  packages/react-conformance/package.json
  packages/react-date-time/tsconfig.json
  packages/react-examples/package.json
  packages/react-experiments/config/tests.js
  packages/react-file-type-icons/tsconfig.json
  packages/react-focus/config/tests.js
  packages/react-hooks/config/tests.js
  packages/react-hooks/tsconfig.json
  packages/react-icons-mdl2/config/tests.js
  packages/react/config/tests.js
  packages/react/src/components/Button/BaseButton.tsx
  packages/style-utilities/tsconfig.json
  packages/theme/tsconfig.json
  packages/utilities/config/tests.js
  scripts/dangerjs/detectNonApprovedDependencies/approvedPackages.ts
  scripts/jest/setupTests.js
  tools/generators/migrate-v8-pkg/index.spec.ts
  yarn.lock
Labels: Area: Build System

#24332 RFC: File Organization Convention for v9 Packages
  rfcs/shared/build-system/07-standard-package-structure-for-v9.md
Labels: Type: RFC

#24461 Right-align value (#) labels and keep them on the same line as the subtext/label, which is 8px above the bar graph
  change/@fluentui-react-charting-7b8b459d-4094-4536-8b19-12df3882c387.json
  packages/react-charting/src/components/HorizontalBarChart/HorizontalBarChart.styles.ts
  packages/react-charting/src/components/StackedBarChart/MultiStackedBarChart.styles.ts
  packages/react-charting/src/components/StackedBarChart/StackedBarChart.styles.ts
  packages/react-charting/src/components/StackedBarChart/__snapshots__/MultiStackedBarChart.test.tsx.snap
  packages/react-charting/src/components/StackedBarChart/__snapshots__/StackedBarChart.test.tsx.snap
Labels: Package: charting

#24431 Remove ci scoping
  azure-pipelines.yml
  scripts/gulp/tasks/screener.ts
  scripts/screener/screener.runner.ts
  scripts/tasks/screener.ts
Labels: Area: Build System

#24472 fix(scripts): make runPublished properly return v8 packages for build
  scripts/monorepo/runPublished.js
Labels: Area: Build System

#24459 chore(react-avatar): AvatarGroup context cleanup
  change/@fluentui-react-avatar-553b43fa-6ccc-4d4b-a6e7-81b0e3803e07.json
  packages/react-components/react-avatar/src/components/AvatarGroup/renderAvatarGroup.tsx
  packages/react-components/react-avatar/src/components/AvatarGroupPopover/renderAvatarGroupPopover.tsx
  packages/react-components/react-avatar/src/contexts/AvatarGroupContext.ts
Labels: Component: AvatarGroup, Component: AvatarGroupPopover

#24480 (chore): Remove appearance conditional from Spinner slot styling
  change/@fluentui-react-spinner-ec347d0a-9ed1-4c97-abe2-2ea1d37a1a6a.json
  packages/react-components/react-spinner/src/components/Spinner/useSpinnerStyles.ts
Labels: Component: Spinner

#24475 Export activity item styles v8
  change/@fluentui-react-06abbff8-7902-4a49-bdff-476e15c6e4fe.json
  packages/react/etc/react.api.md
  packages/react/src/components/ActivityItem/index.ts
Labels: Component: ActivityItem, PR: API Modified

#24478 Exported getCommandBarStyles v8
  change/@fluentui-react-37b93550-3a85-497c-a536-b9a109584fca.json
  packages/react/etc/react.api.md
  packages/react/src/components/CommandBar/index.ts
Labels: Component: CommandBar, PR: API Modified

#24483 Export detailslist styles
  change/office-ui-fabric-react-1d21c8fd-c529-4278-962a-9d9a8e7a098d.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/DetailsList/index.ts
Labels: Component: DetailsList, PR: API Modified, needs cherry-pick, Fabric 7

#24476 Exported getCommandBarStyles
  change/office-ui-fabric-react-dc2fbcb8-eb8e-4741-965b-17e26b616682.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/CommandBar/index.ts
Labels: Component: CommandBar, PR: API Modified, needs cherry-pick, Fluent UI react (v7), Fabric 7

#24484 Added exports for ContextualMenu getItemStyles and getItemClassNames to v8
  change/@fluentui-react-7370dc1e-3d86-49b6-9e76-0a971d251bfa.json
  packages/react/etc/react.api.md
  packages/react/src/components/ContextualMenu/ContextualMenu.classNames.ts
  packages/react/src/components/ContextualMenu/index.ts
Labels: Component: ContextualMenu, PR: API Modified

#24491 fix(react-input): Remove box-shadow from Input filled appearances
  change/@fluentui-react-input-b6dae232-bb04-4dcd-90b6-eb9272f009fe.json
  packages/react-components/react-input/src/components/Input/useInputStyles.ts
Labels: Type: Bug :bug:, Component: Input, Fluent UI vNext

#24481 fix(script): make `loadWorkspaceAddon()` work on non nix environments
  scripts/storybook/utils.js
Labels: Area: Build System

#24477 fix(scripts): make runPublished ignore private packages for v9 release
  scripts/monorepo/runPublished.js
Labels: Area: Build System, CI

#24495 Added exports from Layer notification for v7
  change/office-ui-fabric-react-e8c0506d-254b-4a43-9ea7-0fcbf01c98c2.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/Layer/Layer.notification.ts
  packages/office-ui-fabric-react/src/components/Layer/index.ts
Labels: Component: Layer, PR: API Modified, Fabric 7

#24485 Export layer notification methods in v8
  change/@fluentui-react-7043e19d-280f-4044-a4f6-4b85b0cde742.json
  packages/react/etc/react.api.md
  packages/react/src/components/Layer/Layer.notification.ts
  packages/react/src/components/Layer/index.ts
Labels: Component: Layer, PR: API Modified

#24493 Added exports of ContextMenu (cherry pick)
  change/office-ui-fabric-react-3ade7928-ac0e-4261-b5d5-4d0b57215539.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/ContextualMenu/index.ts
Labels: Component: ContextualMenu, PR: API Modified, Fabric 7

#24501 revert to relative path with proper seperator
  scripts/storybook/utils.js
Labels: Area: Build System

#24508 Added exports for pickers styles v7
  change/office-ui-fabric-react-1431fa30-6ca5-48a7-a05d-230380ed077e.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/pickers/index.ts
Labels: Component: Pickers, PR: API Modified, Fabric 7

#24509 Added exports for pickers styles v8
  change/@fluentui-react-9f6960c7-e251-4dd8-a844-4efb71d3da8b.json
  packages/react/etc/react.api.md
  packages/react/src/components/pickers/index.ts
Labels: Component: Pickers, PR: API Modified

#24510 Added exports of textfield styles in v7
  change/office-ui-fabric-react-4b75d44f-8ef1-4f34-8392-6e12e49d89dd.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/TextField/index.ts
Labels: Component: Pickers, Component: TextField, PR: API Modified, Fabric 7

#24511 Added exports of textfield styles in v8
  change/@fluentui-react-f1ede083-4855-42cb-886e-cc3f24b30b14.json
  packages/react/etc/react.api.md
  packages/react/src/components/TextField/index.ts
Labels: Component: TextField, PR: API Modified

#24490 docs(v8): Modal examples now target header to allow text selection when draggable
  packages/react-examples/src/react/Modal/Modal.Basic.Example.tsx
  packages/react-examples/src/react/Modal/Modal.Modeless.Example.tsx
Labels: Area: Documentation, Component: Modal, Area: Website

#24489 docs(v8): usage of placeholder images now link to correct https protocol
  packages/react-examples/src/react/Announced/Announced.LazyLoading.Example.tsx
  packages/react-examples/src/react/Image/Image.Center.Example.tsx
  packages/react-examples/src/react/Image/Image.CenterContain.Example.tsx
  packages/react-examples/src/react/Image/Image.CenterCover.Example.tsx
  packages/react-examples/src/react/Image/Image.Contain.Example.tsx
  packages/react-examples/src/react/Image/Image.Cover.Example.tsx
  packages/react-examples/src/react/Image/Image.Default.Example.tsx
  packages/react-examples/src/react/Image/Image.MaximizeFrame.Example.tsx
  packages/react-examples/src/react/Image/Image.None.Example.tsx
  packages/react-examples/src/react/MarqueeSelection/MarqueeSelection.Basic.Example.tsx
  packages/react-examples/src/react/TeachingBubble/TeachingBubble.Illustration.Example.tsx
  packages/react-examples/src/react/TeachingBubble/TeachingBubble.WideIllustration.Example.tsx
Labels: Area: Website

#24514 Added exports for GroupedListUtilities in v7
  change/office-ui-fabric-react-57c82b0b-3fee-4424-914c-f6433971e342.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/GroupedList.ts
Labels: Component: GroupedList, PR: API Modified, Fabric 7

#24515 Added export of GroupedListUtilities in v8
  change/@fluentui-react-125a9967-6b56-48b1-825d-6cbc7fbcc823.json
  packages/react/etc/react.api.md
  packages/react/src/GroupedList.ts
Labels: PR: API Modified

#24517 Add missing packages/react OUFR exports
  change/@fluentui-react-6593626a-9255-466d-bbc9-d91599652fa5.json
  packages/react/src/ButtonGrid.ts
  packages/react/src/WindowProvider.ts
Labels: Fabric 7

#24520 Update documentation for Charting library
  change/@fluentui-react-charting-0caef860-4f50-4dd7-931f-65eefe8d5139.json
  packages/react-charting/README.md
  packages/react-charting/TechnicalDetails.md
  packages/react-charting/src/components/CommonComponents/CartesianChart.base.tsx
  packages/react-charting/src/components/CommonComponents/CartesianChart.types.ts
  packages/react-charting/src/components/Legends/Legends.types.ts
  packages/react-charting/src/components/Sparkline/Sparkline.styles.ts
  packages/react-charting/src/components/Sparkline/__snapshots__/Sparkline.test.tsx.snap
  packages/react-charting/src/components/StackedBarChart/MultiStackedBarChart.types.ts
  packages/react-charting/src/components/TreeChart/TreeChart.md
  packages/react-examples/src/react-charting/AreaChart/AreaChartPage.tsx
  packages/react-examples/src/react-charting/GroupedVerticalBarChart/GroupedVerticalBarChartPage.tsx
  packages/react-examples/src/react-charting/HeatMapChart/HeatMapChartPage.tsx
  packages/react-examples/src/react-charting/HorizontalBarChart/HorizontalBarChart.CustomCallout.Example.tsx
  packages/react-examples/src/react-charting/HorizontalBarChart/HorizontalBarChartPage.tsx
  packages/react-examples/src/react-charting/Legends/Legends.Basic.Example.tsx
  packages/react-examples/src/react-charting/Legends/LegendsPage.tsx
  packages/react-examples/src/react-charting/LineChart/LineChart.Basic.Example.tsx
  packages/react-examples/src/react-charting/LineChart/LineChartPage.tsx
  packages/react-examples/src/react-charting/MultiStackedBarChart/MultiStackedBarChartPage.tsx
  packages/react-examples/src/react-charting/StackedBarChart/MultiStackedBarChart.Example.tsx
  packages/react-examples/src/react-charting/StackedBarChart/StackedBarChartPage.tsx
  packages/react-examples/src/react-charting/TreeChart/TreeChartPage.tsx
  packages/react-examples/src/react-charting/VerticalBarChart/VerticalBarChartPage.tsx
  packages/react-examples/src/react-charting/VerticalStackedBarChart/VerticalStackedBarChartPage.tsx
Labels: Package: charting

#24528 Jspurlin/modal insert first fix
  change/@fluentui-react-e11548c5-f93a-4e6b-a334-f39f2bf5d9c0.json
  packages/react/src/components/Modal/Modal.base.tsx
Labels: Component: Modal

#24492 V8 Picker: Support click to select while focus is still moved to button
  change/@fluentui-react-31b24c21-6bb0-470c-bb62-02e16e7b2d6e.json
  packages/react/src/components/pickers/PeoplePicker/PeoplePickerItems/PeoplePickerItem.tsx
  packages/react/src/components/pickers/PeoplePicker/__snapshots__/PeoplePicker.test.tsx.snap
  packages/react/src/components/pickers/TagPicker/TagItem.tsx
  packages/react/src/components/pickers/TagPicker/__snapshots__/TagItem.test.tsx.snap
  packages/react/src/components/pickers/TagPicker/__snapshots__/TagPicker.test.tsx.snap
  packages/react/src/utilities/selection/SelectionZone.tsx
Labels: Component: Pickers

#24536 chore(react-dialog): removes aria-label from stories
  packages/react-components/react-dialog/src/stories/Dialog/DialogAlert.stories.tsx
  packages/react-components/react-dialog/src/stories/Dialog/DialogChangeFocus.stories.tsx
  packages/react-components/react-dialog/src/stories/Dialog/DialogControllingOpenAndClose.stories.tsx
  packages/react-components/react-dialog/src/stories/Dialog/DialogDefault.stories.tsx
  packages/react-components/react-dialog/src/stories/Dialog/DialogNested.stories.tsx
  packages/react-components/react-dialog/src/stories/Dialog/DialogNoFocusableElement.stories.tsx
  packages/react-components/react-dialog/src/stories/Dialog/DialogScrollingLongContent.stories.tsx
Labels: Component: Dialog, Fluent UI react-components (v9)

#24538 Update env variable
  azure-pipelines.yml
  scripts/screener/screener.runner.ts
  scripts/tasks/screener.ts
Labels: Area: Build System

#24541 Update screener-run.yml workflow
  .github/workflows/screener-run.yml
Labels: Area: Build System

#24523 refactor(scripts): make loadWorkspaceAddon more defensive and re-do relative posix path creation
  scripts/storybook/utils.js
Labels: Area: Build System

#24548 docs(v8): replace placeholder images with assets from CDN
  packages/react-examples/src/react/Announced/Announced.LazyLoading.Example.tsx
  packages/react-examples/src/react/Image/Image.Center.Example.tsx
  packages/react-examples/src/react/Image/Image.CenterContain.Example.tsx
  packages/react-examples/src/react/Image/Image.CenterCover.Example.tsx
  packages/react-examples/src/react/Image/Image.Contain.Example.tsx
  packages/react-examples/src/react/Image/Image.Cover.Example.tsx
  packages/react-examples/src/react/Image/Image.Default.Example.tsx
  packages/react-examples/src/react/Image/Image.MaximizeFrame.Example.tsx
  packages/react-examples/src/react/Image/Image.None.Example.tsx
  packages/react-examples/src/react/MarqueeSelection/MarqueeSelection.Basic.Example.tsx
  packages/react-examples/src/react/TeachingBubble/TeachingBubble.Illustration.Example.tsx
  packages/react-examples/src/react/TeachingBubble/TeachingBubble.WideIllustration.Example.tsx
Labels: Area: Website

#24549 Feature: add layerProps to Coachmark (via PositioningContainer)
  change/@fluentui-react-e97f7d1e-e819-494b-b1df-0198ecae5074.json
  packages/react/etc/react.api.md
  packages/react/src/components/Coachmark/PositioningContainer/PositioningContainer.tsx
  packages/react/src/components/Coachmark/PositioningContainer/PositioningContainer.types.ts
Labels: Component: Coachmark, PR: API Modified

#24554 Fix backwards-compatibility of Group Selection additions
  change/@fluentui-react-765cf0cb-5587-4d23-a713-9abf3a3ab577.json
  change/@fluentui-utilities-7df700d2-c8fa-413e-8dc3-d7a8021bd475.json
  packages/react/etc/react.api.md
  packages/react/src/components/GroupedList/GroupHeader.base.tsx
  packages/react/src/components/GroupedList/GroupedList.types.ts
  packages/react/src/utilities/selection/SelectionZone.tsx
  packages/utilities/etc/utilities.api.md
  packages/utilities/src/selection/Selection.ts
  packages/utilities/src/selection/Selection.types.ts
Labels: PR: API Modified

#24559 fix: update useLayoutEffect to useIsomorphicLayoutEffect
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/components/Dropdown/Dropdown.tsx
Labels: Fluent UI react-northstar

#24468 chore(vr-tests-v9): enable type-checking and use raw binaries within …
  apps/vr-tests-react-components/.storybook/main.js
  apps/vr-tests-react-components/.storybook/preview.js
  apps/vr-tests-react-components/just.config.ts
  apps/vr-tests-react-components/package.json
  apps/vr-tests-react-components/screener.config.js
  apps/vr-tests-react-components/src/utilities/types.ts
  apps/vr-tests-react-components/tsconfig.json
Labels: Area: Testing, Fluent UI react-components (v9), CI

#24564 Add field to proxy request body
  scripts/screener/screener.runner.ts
Labels: Area: Build System

#24555 Cherry-pick: Fix backwards-compatibility of Group Selection additions
  change/@uifabric-utilities-807e2156-2cf8-4462-8115-bda3e4dfbabd.json
  change/office-ui-fabric-react-61770049-72ad-4a6a-bd6b-863b19856002.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/GroupedList/GroupHeader.base.tsx
  packages/office-ui-fabric-react/src/components/GroupedList/GroupedList.types.ts
  packages/office-ui-fabric-react/src/utilities/selection/SelectionZone.tsx
  packages/utilities/etc/utilities.api.md
  packages/utilities/src/selection/Selection.ts
  packages/utilities/src/selection/Selection.types.ts
Labels: PR: API Modified, Fabric 7

#24568 Added font-icons-mdl2 package to 7.0
  azure-pipelines.release.yml
  change/@fluentui-font-icons-mdl2-db0f348d-8823-4692-948a-c3610c6eaaf0.json
  lerna.json
  package.json
  stub-packages/font-icons-mdl2/.eslintrc.json
  stub-packages/font-icons-mdl2/.npmignore
  stub-packages/font-icons-mdl2/.npmrc
  stub-packages/font-icons-mdl2/CHANGELOG.json
  stub-packages/font-icons-mdl2/CHANGELOG.md
  stub-packages/font-icons-mdl2/LICENSE
  stub-packages/font-icons-mdl2/README.md
  stub-packages/font-icons-mdl2/config/api-extractor.json
  stub-packages/font-icons-mdl2/config/pre-copy.json
  stub-packages/font-icons-mdl2/etc/font-icons-mdl2.api.md
  stub-packages/font-icons-mdl2/etc/icons.api.md
  stub-packages/font-icons-mdl2/fonts/fabric-icons-0-467ee27f.woff
  stub-packages/font-icons-mdl2/fonts/fabric-icons-1-4d521695.woff
  stub-packages/font-icons-mdl2/fonts/fabric-icons-10-c4ded8e4.woff
  stub-packages/font-icons-mdl2/fonts/fabric-icons-11-2a8393d6.woff
  stub-packages/font-icons-mdl2/fonts/fabric-icons-12-7e945a1e.woff
  stub-packages/font-icons-mdl2/fonts/fabric-icons-13-c3989a02.woff
  stub-packages/font-icons-mdl2/fonts/fabric-icons-14-5cf58db8.woff
  stub-packages/font-icons-mdl2/fonts/fabric-icons-15-3807251b.woff
  stub-packages/font-icons-mdl2/fonts/fabric-icons-16-9cf93f3b.woff
  stub-packages/font-icons-mdl2/fonts/fabric-icons-17-0c4ed701.woff
  stub-packages/font-icons-mdl2/fonts/fabric-icons-2-63c99abf.woff
  stub-packages/font-icons-mdl2/fonts/fabric-icons-3-089e217a.woff
  stub-packages/font-icons-mdl2/fonts/fabric-icons-4-a656cc0a.woff
  stub-packages/font-icons-mdl2/fonts/fabric-icons-5-f95ba260.woff
  stub-packages/font-icons-mdl2/fonts/fabric-icons-6-ef6fd590.woff
  stub-packages/font-icons-mdl2/fonts/fabric-icons-7-2b97bb99.woff
  stub-packages/font-icons-mdl2/fonts/fabric-icons-8-6fdf1528.woff
  stub-packages/font-icons-mdl2/fonts/fabric-icons-9-c6162b42.woff
  stub-packages/font-icons-mdl2/fonts/fabric-icons-a13498cf.woff
  stub-packages/font-icons-mdl2/just.config.ts
  stub-packages/font-icons-mdl2/package.json
  stub-packages/font-icons-mdl2/src/data/AllIconNames.json
  stub-packages/font-icons-mdl2/src/fabric-icons-0.ts
  stub-packages/font-icons-mdl2/src/fabric-icons-1.ts
  stub-packages/font-icons-mdl2/src/fabric-icons-10.ts
  stub-packages/font-icons-mdl2/src/fabric-icons-11.ts
  stub-packages/font-icons-mdl2/src/fabric-icons-12.ts
  stub-packages/font-icons-mdl2/src/fabric-icons-13.ts
  stub-packages/font-icons-mdl2/src/fabric-icons-14.ts
  stub-packages/font-icons-mdl2/src/fabric-icons-15.ts
  stub-packages/font-icons-mdl2/src/fabric-icons-16.ts
  stub-packages/font-icons-mdl2/src/fabric-icons-17.ts
  stub-packages/font-icons-mdl2/src/fabric-icons-2.ts
  stub-packages/font-icons-mdl2/src/fabric-icons-3.ts
  stub-packages/font-icons-mdl2/src/fabric-icons-4.ts
  stub-packages/font-icons-mdl2/src/fabric-icons-5.ts
  stub-packages/font-icons-mdl2/src/fabric-icons-6.ts
  stub-packages/font-icons-mdl2/src/fabric-icons-7.ts
  stub-packages/font-icons-mdl2/src/fabric-icons-8.ts
  stub-packages/font-icons-mdl2/src/fabric-icons-9.ts
  stub-packages/font-icons-mdl2/src/fabric-icons.ts
  stub-packages/font-icons-mdl2/src/iconAliases.ts
  stub-packages/font-icons-mdl2/src/index.ts
  stub-packages/font-icons-mdl2/src/version.ts
  stub-packages/font-icons-mdl2/tsconfig.json
Labels: Fabric 7

#24574 Bump uifabric/charting to match minor version of fluentui/react-charting
  change/@uifabric-charting-807e2156-2cf8-4462-8115-bda3e4dfbabd.json
  packages/charting/src/types/IDataPoint.ts
Labels: Package: charting, Fabric 7

#24496 Cherry pick fix line order in line chart as per legends
  change/@uifabric-charting-6d7a4b95-c260-49c4-ab19-ef3c2ae1013b.json
  packages/charting/src/components/LineChart/LineChart.base.tsx
Labels: Package: charting, Fabric 7

#24577 Add support for javascript date localization
  change/@fluentui-react-charting-3e3805e8-7750-4654-8e75-736a660ed7b3.json
  packages/react-charting/TechnicalDetails.md
  packages/react-charting/src/components/CommonComponents/CartesianChart.base.tsx
  packages/react-charting/src/components/CommonComponents/CartesianChart.types.ts
  packages/react-charting/src/utilities/utilities.ts
Labels: Package: charting

#24498 fix(react-theme): Swap Background1 and Foreground1 in HC color palette
  apps/vr-tests-react-components/src/stories/Spinner.stories.tsx
  change/@fluentui-react-theme-98ccbaf6-2736-430a-b1d6-8a28818a2bc4.json
  packages/react-components/react-spinner/src/stories/Spinner/SpinnerAppearance.stories.tsx
  packages/react-components/react-theme/src/alias/highContrastColorPalette.ts
  packages/react-components/react-theme/src/alias/lightColorPalette.ts
Labels: Area: Accessibility

#24466 Add scoping for workflow
  .github/workflows/screener-build.yml
  .github/workflows/screener-run.yml
  README.md
  azure-pipelines.yml
  scripts/screener/screener.runner.ts
Labels: Area: Build System

#24573 Add beachball react-charting in v7
  change/@fluentui-react-charting-b897c233-db5f-4058-bfb6-f04c061f9993.json
  packages/react-charting/package.json
Labels: Package: charting, Fabric 7

#24586 Update "screener-build.yml" to include lage's output
  .github/workflows/screener-build.yml
Labels: Area: Build System

#24587 Remove check for commit existence and make it optional
  scripts/screener/screener.runner.ts
Labels: Area: Build System

#24572 Add style utilities package to alias styles package
  change/@fluentui-style-utilities-db0f348d-8823-4692-948a-c3610c6eaaf0.json
  scripts/beachball/index.ts
  stub-packages/style-utilities/.eslintrc.json
  stub-packages/style-utilities/.npmignore
  stub-packages/style-utilities/.npmrc
  stub-packages/style-utilities/CHANGELOG.json
  stub-packages/style-utilities/CHANGELOG.md
  stub-packages/style-utilities/LICENSE
  stub-packages/style-utilities/README.md
  stub-packages/style-utilities/config/api-extractor.json
  stub-packages/style-utilities/config/config.json
  stub-packages/style-utilities/config/write-manifests.json
  stub-packages/style-utilities/etc/style-utilities.api.md
  stub-packages/style-utilities/jest.config.js
  stub-packages/style-utilities/just.config.ts
  stub-packages/style-utilities/package.json
  stub-packages/style-utilities/src/MergeStyles.ts
  stub-packages/style-utilities/src/index.ts
  stub-packages/style-utilities/src/version.ts
  stub-packages/style-utilities/tsconfig.json
Labels: Package: styling, Fabric 7

#24589 Charting move package
  change/@fluentui-react-charting-b897c233-db5f-4058-bfb6-f04c061f9991.json
  scripts/beachball/index.ts
  stub-packages/react-charting/.eslintrc.json
  stub-packages/react-charting/.npmignore
  stub-packages/react-charting/.npmrc
  stub-packages/react-charting/CHANGELOG.json
  stub-packages/react-charting/CHANGELOG.md
  stub-packages/react-charting/LICENSE
  stub-packages/react-charting/README.md
  stub-packages/react-charting/config/pre-copy.json
  stub-packages/react-charting/config/tests.js
  stub-packages/react-charting/jest.config.js
  stub-packages/react-charting/just.config.ts
  stub-packages/react-charting/package.json
  stub-packages/react-charting/src/AreaChart.ts
  stub-packages/react-charting/src/CartesianChart.ts
  stub-packages/react-charting/src/DonutChart.ts
  stub-packages/react-charting/src/GroupedVerticalBarChart.ts
  stub-packages/react-charting/src/HeatMapChart.ts
  stub-packages/react-charting/src/HorizontalBarChart.ts
  stub-packages/react-charting/src/Legends.ts
  stub-packages/react-charting/src/LineChart.ts
  stub-packages/react-charting/src/PieChart.ts
  stub-packages/react-charting/src/StackedBarChart.ts
  stub-packages/react-charting/src/Styling.ts
  stub-packages/react-charting/src/Utilities.ts
  stub-packages/react-charting/src/VerticalBarChart.ts
  stub-packages/react-charting/src/VerticalStackedBarChart.ts
  stub-packages/react-charting/src/index.ts
  stub-packages/react-charting/src/version.ts
  stub-packages/react-charting/tsconfig.json
  stub-packages/react-charting/webpack.config.js
  stub-packages/react-charting/webpack.serve.config.js
Labels: Fabric 7

#24592 Add stub packages to Syncpack
  package.json
Labels: Area: Build System, needs cherry-pick, Fabric 7

#24590 Change file to bump version
  change/@uifabric-icons-8a46a4cc-b4ee-402f-94e1-514ba647f024.json
Labels: Fabric 7

#24595 grouped versions of icons and font-icons-mdl2 for v7
  scripts/beachball/index.ts
Labels: Area: Build System, Fabric 7

#24606 Remove downloaded artifact file after using it
  .github/workflows/screener-build.yml
Labels: Area: Build System

#24602 Added stub fluentui/experiments
  change/@fluentui-experiments-98433cd2-f016-47aa-bc06-c2d10b302059.json
  scripts/beachball/index.ts
  stub-packages/experiments/.eslintrc.json
  stub-packages/experiments/.npmignore
  stub-packages/experiments/.npmrc
  stub-packages/experiments/.vscode/settings.json
  stub-packages/experiments/CHANGELOG.json
  stub-packages/experiments/CHANGELOG.md
  stub-packages/experiments/LICENSE
  stub-packages/experiments/README.md
  stub-packages/experiments/config/pre-copy.json
  stub-packages/experiments/config/tests.js
  stub-packages/experiments/jest.config.js
  stub-packages/experiments/just.config.ts
  stub-packages/experiments/package.json
  stub-packages/experiments/src/Accordion.ts
  stub-packages/experiments/src/Button.ts
  stub-packages/experiments/src/Chiclet.ts
  stub-packages/experiments/src/CollapsibleSection.ts
  stub-packages/experiments/src/CommandBar.ts
  stub-packages/experiments/src/FloatingPeopleSuggestions.ts
  stub-packages/experiments/src/FloatingPeopleSuggestionsComposite.ts
  stub-packages/experiments/src/FloatingSuggestions.ts
  stub-packages/experiments/src/FloatingSuggestionsComposite.ts
  stub-packages/experiments/src/FolderCover.ts
  stub-packages/experiments/src/Foundation.ts
  stub-packages/experiments/src/LayoutGroup.ts
  stub-packages/experiments/src/MenuButton.ts
  stub-packages/experiments/src/MicroFeedback.ts
  stub-packages/experiments/src/Pagination.ts
  stub-packages/experiments/src/Persona.ts
  stub-packages/experiments/src/PersonaCoin.ts
  stub-packages/experiments/src/SelectedItemsList.ts
  stub-packages/experiments/src/Separator.ts
  stub-packages/experiments/src/Sidebar.ts
  stub-packages/experiments/src/Signals.ts
  stub-packages/experiments/src/Slider.ts
  stub-packages/experiments/src/SplitButton.ts
  stub-packages/experiments/src/Stack.ts
  stub-packages/experiments/src/StaticList.ts
  stub-packages/experiments/src/Styling.ts
  stub-packages/experiments/src/Text.ts
  stub-packages/experiments/src/Tile.ts
  stub-packages/experiments/src/TilesList.ts
  stub-packages/experiments/src/Toggle.ts
  stub-packages/experiments/src/UnifiedPeoplePicker.ts
  stub-packages/experiments/src/UnifiedPicker.ts
  stub-packages/experiments/src/Utilities.ts
  stub-packages/experiments/src/VirtualizedList.ts
  stub-packages/experiments/src/index.ts
  stub-packages/experiments/src/version.ts
  stub-packages/experiments/tsconfig.json
  stub-packages/experiments/webpack.config.js
  stub-packages/experiments/webpack.serve.config.js
Labels: Fabric 7

#24596 Update PeoplePicker focus styles for the close button - Add borderRadius to getFocusStyle
  change/@fluentui-react-f6466949-fe16-46ab-a50a-0548dd53baef.json
  change/@fluentui-style-utilities-86219b72-da1a-4e91-8042-417d42500c69.json
  packages/react/src/components/pickers/PeoplePicker/PeoplePickerItems/PeoplePickerItem.styles.ts
  packages/style-utilities/etc/style-utilities.api.md
  packages/style-utilities/src/interfaces/IGetFocusStyles.ts
  packages/style-utilities/src/styles/getFocusStyle.ts
Labels: Component: PeoplePicker, Fluent UI react (v8)

#24618 Added react-file-type-icons stub
  change/@fluentui-react-file-type-icons-f367c4e9-5b1e-404f-b38e-2f7e898031c4.json
  scripts/beachball/index.ts
  stub-packages/react-file-type-icons/.eslintrc.json
  stub-packages/react-file-type-icons/.npmignore
  stub-packages/react-file-type-icons/.npmrc
  stub-packages/react-file-type-icons/CHANGELOG.json
  stub-packages/react-file-type-icons/CHANGELOG.md
  stub-packages/react-file-type-icons/LICENSE
  stub-packages/react-file-type-icons/README.md
  stub-packages/react-file-type-icons/jest.config.js
  stub-packages/react-file-type-icons/just.config.ts
  stub-packages/react-file-type-icons/package.json
  stub-packages/react-file-type-icons/src/FileIconType.ts
  stub-packages/react-file-type-icons/src/FileTypeIconMap.ts
  stub-packages/react-file-type-icons/src/getFileTypeIconAsHTMLString.ts
  stub-packages/react-file-type-icons/src/getFileTypeIconProps.ts
  stub-packages/react-file-type-icons/src/index.ts
  stub-packages/react-file-type-icons/src/initializeFileTypeIcons.tsx
  stub-packages/react-file-type-icons/src/version.ts
  stub-packages/react-file-type-icons/tsconfig.json
Labels: Fabric 7

#24620 chore: Removing CompoundButtonAsToggleButton story since it was importing non-exported functions
  change/@fluentui-react-button-e9fa5c16-6940-43e0-a311-7775d9c137a0.json
  packages/react-components/react-button/src/components/ToggleButton/useToggleButtonStyles.ts
  packages/react-components/react-button/src/stories/CompoundButton/CompoundButtonAsToggleButton.stories.tsx
  packages/react-components/react-button/src/stories/CompoundButton/index.stories.tsx
Labels: Area: Documentation, Fluent UI react-components (v9), Component: CompoundButton
