Repository microsoft/fluentui, pull requests merged in 2022-10, with the labels that each got.

#25022 docs(react-persona): Adding migration guide
  change/@fluentui-react-persona-7470d036-2f82-454b-86fc-bd8282e46c2f.json
  packages/react-components/react-persona/MIGRATION.md
Labels: Area: Documentation, Component: Persona, Fluent UI react-components (v9)

#25040 Add custom date time formatter for date axis
  change/@fluentui-react-charting-6b54ee59-501e-4a48-9c6e-5d3bffc6dab0.json
  packages/react-charting/README.md
  packages/react-charting/src/components/CommonComponents/CartesianChart.base.tsx
  packages/react-charting/src/components/CommonComponents/CartesianChart.types.ts
  packages/react-charting/src/utilities/utilities.ts
Labels: Package: charting

#24910 ci(.github): add reusable build action
  .github/actions/build-to/action.yml
  .github/workflows/docsite-publish-chromatic.yml
  .github/workflows/docsite-publish-ghpages.yml
Labels: CI

#25016 fix: Menu triggers no longer take focus when they are mounted
  change/@fluentui-react-menu-be54a5cf-5794-430d-a10e-a84b223e4eef.json
  packages/react-components/react-menu/e2e/Menu.e2e.tsx
  packages/react-components/react-menu/src/components/Menu/useMenu.tsx
Labels: Needs: Author Feedback

#25050 Undo PR 24998 - Removed the initializeThemeInCustomizations side effect from index
  change/@uifabric-styling-46803f93-7053-4973-9e30-2d6f0e0fa6c8.json
  packages/styling/etc/styling.api.md
  packages/styling/package.json
  packages/styling/src/Icons.ts
  packages/styling/src/index.ts
  packages/styling/src/styles/index.ts
Labels: Package: styling, PR: API Modified, Fabric 7

#25052 fix(Button): Remove margin added to buttons by Safari
  change/@fluentui-react-0ca9e2a9-30e4-486e-95c5-58844a317d0a.json
  packages/react-experiments/src/components/MicroFeedback/__snapshots__/MicroFeedback.test.tsx.snap
  packages/react-experiments/src/components/Pagination/__snapshots__/Pagination.test.tsx.snap
  packages/react-experiments/src/components/SelectedItemsList/SelectedPeopleList/__snapshots__/SelectedPeopleList.test.tsx.snap
  packages/react-experiments/src/components/UnifiedPicker/UnifiedPeoplePicker/__snapshots__/UnifiedPeoplePicker.test.tsx.snap
  packages/react/src/components/Breadcrumb/__snapshots__/Breadcrumb.test.tsx.snap
  packages/react/src/components/Button/BaseButton.styles.ts
  packages/react/src/components/Button/__snapshots__/Button.deprecated.test.tsx.snap
  packages/react/src/components/Button/__snapshots__/Button.test.tsx.snap
  packages/react/src/components/ComboBox/__snapshots__/ComboBox.test.tsx.snap
  packages/react/src/components/CommandBar/__snapshots__/CommandBar.deprecated.test.tsx.snap
  packages/react/src/components/CommandBar/__snapshots__/CommandBar.test.tsx.snap
  packages/react/src/components/ContextualMenu/__snapshots__/ContextualMenu.test.tsx.snap
  packages/react/src/components/Dialog/__snapshots__/Dialog.deprecated.test.tsx.snap
  packages/react/src/components/Dropdown/__snapshots__/Dropdown.test.tsx.snap
  packages/react/src/components/Facepile/__snapshots__/Facepile.test.tsx.snap
  packages/react/src/components/Nav/__snapshots__/Nav.test.tsx.snap
  packages/react/src/components/Panel/__snapshots__/Panel.test.tsx.snap
  packages/react/src/components/Pivot/__snapshots__/Pivot.deprecated.test.tsx.snap
  packages/react/src/components/Pivot/__snapshots__/Pivot.test.tsx.snap
  packages/react/src/components/SpinButton/__snapshots__/SpinButton.test.tsx.snap
  packages/react/src/components/SwatchColorPicker/__snapshots__/SwatchColorPicker.test.tsx.snap
  packages/react/src/components/TeachingBubble/__snapshots__/TeachingBubble.deprecated.test.tsx.snap
  packages/react/src/components/TeachingBubble/__snapshots__/TeachingBubble.test.tsx.snap
  packages/react/src/components/pickers/PeoplePicker/__snapshots__/PeoplePicker.test.tsx.snap
  packages/react/src/components/pickers/Suggestions/__snapshots__/Suggestions.test.tsx.snap
  packages/react/src/components/pickers/TagPicker/__snapshots__/TagItem.test.tsx.snap
  packages/react/src/components/pickers/TagPicker/__snapshots__/TagPicker.test.tsx.snap
Labels: Component: Button, Fluent UI react (v8)

#25055 chore(react-persona): Add bundle-size command for bundle-size fixtures
  change/@fluentui-react-persona-ddb5ba78-3b3b-4ba6-b97a-30dd9413b998.json
  packages/react-components/react-persona/package.json
Labels: Component: Persona, Fluent UI react-components (v9)

#24418 Add Progress SPEC
  packages/react-components/react-progress/Spec.md
Labels: Fluent UI react-components (v9), Component: Progress

#24947 BREAKING: refactor `useTable` to be composable
  change/@fluentui-react-table-ccf8542c-a19a-4fa9-a941-4b5fa851901f.json
  packages/react-components/react-table/etc/react-table.api.md
  packages/react-components/react-table/src/common/mockTableState.ts
  packages/react-components/react-table/src/hooks/index.ts
  packages/react-components/react-table/src/hooks/types.ts
  packages/react-components/react-table/src/hooks/useSelection.test.ts
  packages/react-components/react-table/src/hooks/useSelection.ts
  packages/react-components/react-table/src/hooks/useSort.test.ts
  packages/react-components/react-table/src/hooks/useSort.ts
  packages/react-components/react-table/src/hooks/useTable.test.ts
  packages/react-components/react-table/src/hooks/useTable.ts
  packages/react-components/react-table/src/index.ts
  packages/react-components/react-table/src/stories/Table/MultipleSelect.stories.tsx
  packages/react-components/react-table/src/stories/Table/MultipleSelectControlled.stories.tsx
  packages/react-components/react-table/src/stories/Table/SingleSelect.stories.tsx
  packages/react-components/react-table/src/stories/Table/SingleSelectControlled.stories.tsx
  packages/react-components/react-table/src/stories/Table/Sort.stories.tsx
  packages/react-components/react-table/src/stories/Table/SortControlled.stories.tsx
Labels: Component: Table

#24542 chore: migrate whole repo to webpack 5
  change/@fluentui-public-docsite-setup-9acd83ab-61a3-497d-bbc0-33048cdf8ad4.json
  change/@fluentui-web-components-94178686-c003-4a62-80f6-b438a0982031.json
  package.json
  packages/fluentui/local-sandbox/package.json
  packages/fluentui/react-northstar-fela-renderer/src/felaStylisEnhancer.ts
  packages/public-docsite-setup/package.json
  packages/web-components/.storybook/main.js
  packages/web-components/karma.conf.js
  packages/web-components/package.json
  scripts/dangerjs/checkStorybookVersions.ts
  yarn.lock
Labels: Area: Build System

#25065 Add utilities export @fluentui/style-utilities v8
  change/@fluentui-style-utilities-ece3f535-005e-426e-8cfa-d2727950a9cd.json
  packages/style-utilities/src/Utilities.ts
Labels: Package: styling

#25066 Split button/primary hc fix
  change/@fluentui-react-b55536c0-811e-41b6-84dd-d1ccb7d92969.json
  packages/react/src/components/Button/ButtonThemes.ts
Labels: Component: Button, Fluent UI react (v8), Component: SplitButton

#24768 (docs): update Icon docs with examples
  change/@fluentui-react-components-eca314cc-3bb0-44aa-bee3-e4a10f37354c.json
  packages/react-components/react-components/src/Concepts/Icons/Icon.stories.mdx
Labels: Type: Documentation, Area: Icons, Fluent UI react-components (v9)

#25007 chore(react-persona): Add vr, conformance, and unit tests
  apps/vr-tests-react-components/package.json
  apps/vr-tests-react-components/src/stories/Persona.stories.tsx
  change/@fluentui-react-persona-4cad608c-a53b-4bca-9176-f15a73195704.json
  packages/react-components/react-persona/src/components/Persona/Persona.test.tsx
  packages/react-components/react-persona/src/components/Persona/usePersona.ts
Labels: Component: Persona, Area: Testing, Fluent UI react-components (v9)

#25059 fix(SplitButton): Remove borders from hover and pressed state in primary split buttons
  change/@fluentui-react-6cc403c7-709a-479e-b924-84c434c822f3.json
  packages/react/src/components/Button/SplitButton/SplitButton.styles.ts
Labels: Component: Button, Fluent UI react (v8), Component: SplitButton

#25070 chore(react-dialog): updates stories
  change/@fluentui-react-dialog-bbb01d69-5227-40c3-aaf3-053f1af35f0d.json
  packages/react-components/react-dialog/etc/react-dialog.api.md
  packages/react-components/react-dialog/src/components/Dialog/Dialog.types.ts
  packages/react-components/react-dialog/src/components/DialogTitle/DialogTitle.types.ts
  packages/react-components/react-dialog/src/components/DialogTrigger/DialogTrigger.types.ts
  packages/react-components/react-dialog/src/stories/Dialog/DialogNoFocusableElement.md
  packages/react-components/react-dialog/src/stories/Dialog/DialogNoFocusableElement.stories.tsx
  packages/react-components/react-dialog/src/stories/Dialog/DialogTitleCustomAction.md
  packages/react-components/react-dialog/src/stories/Dialog/DialogTitleCustomAction.stories.tsx
  packages/react-components/react-dialog/src/stories/Dialog/DialogTitleNoAction.md
  packages/react-components/react-dialog/src/stories/Dialog/DialogTitleNoAction.stories.tsx
  packages/react-components/react-dialog/src/stories/Dialog/index.stories.tsx
  packages/react-components/react-dialog/src/stories/DialogTitle/DialogTitleDefault.stories.tsx
  packages/react-components/react-dialog/src/stories/DialogTitle/index.stories.tsx
Labels: Component: Dialog, Storybook

#24458 chore(migrate-converged): add functionality to execute various v9 package file restructuring tasks
  change/@fluentui-eslint-plugin-a8ff06ca-d0bd-4d68-96b5-54549bb1a758.json
  packages/eslint-plugin/src/configs/react.js
  scripts/cypress/cypress.config.ts
  scripts/tasks/eslint.ts
  tools/generators/migrate-converged-pkg/index.spec.ts
  tools/generators/migrate-converged-pkg/index.ts
  tools/utils.ts
Labels: Area: Build System

#25083 chore(react-infobutton): Adding InfoButton's package and component
  .github/CODEOWNERS
  packages/react-components/react-infobutton/.babelrc.json
  packages/react-components/react-infobutton/.eslintrc.json
  packages/react-components/react-infobutton/.npmignore
  packages/react-components/react-infobutton/.storybook/main.js
  packages/react-components/react-infobutton/.storybook/preview.js
  packages/react-components/react-infobutton/.storybook/tsconfig.json
  packages/react-components/react-infobutton/LICENSE
  packages/react-components/react-infobutton/README.md
  packages/react-components/react-infobutton/Spec.md
  packages/react-components/react-infobutton/bundle-size/InfoButton.fixture.js
  packages/react-components/react-infobutton/config/api-extractor.json
  packages/react-components/react-infobutton/config/tests.js
  packages/react-components/react-infobutton/etc/react-infobutton.api.md
  packages/react-components/react-infobutton/jest.config.js
  packages/react-components/react-infobutton/just.config.ts
  packages/react-components/react-infobutton/package.json
  packages/react-components/react-infobutton/src/InfoButton.ts
  packages/react-components/react-infobutton/src/common/isConformant.ts
  packages/react-components/react-infobutton/src/components/InfoButton/InfoButton.test.tsx
  packages/react-components/react-infobutton/src/components/InfoButton/InfoButton.tsx
  packages/react-components/react-infobutton/src/components/InfoButton/InfoButton.types.ts
  packages/react-components/react-infobutton/src/components/InfoButton/__snapshots__/InfoButton.test.tsx.snap
  packages/react-components/react-infobutton/src/components/InfoButton/index.ts
  packages/react-components/react-infobutton/src/components/InfoButton/renderInfoButton.tsx
  packages/react-components/react-infobutton/src/components/InfoButton/useInfoButton.ts
  packages/react-components/react-infobutton/src/components/InfoButton/useInfoButtonStyles.ts
  packages/react-components/react-infobutton/src/index.ts
  packages/react-components/react-infobutton/src/stories/Infobutton/InfoButtonBestPractices.md
  packages/react-components/react-infobutton/src/stories/Infobutton/InfoButtonDefault.stories.tsx
  packages/react-components/react-infobutton/src/stories/Infobutton/InfoButtonDescription.md
  packages/react-components/react-infobutton/src/stories/Infobutton/index.stories.tsx
  packages/react-components/react-infobutton/tsconfig.json
  packages/react-components/react-infobutton/tsconfig.lib.json
  packages/react-components/react-infobutton/tsconfig.spec.json
  tsconfig.base.json
  workspace.json
Labels: Fluent UI react-components (v9), Component: InfoButton

#25095 fix(scripts): don't run publish if web-components are affected
  scripts/monorepo/getAllPackageInfo.js
  scripts/monorepo/getAllPackageInfo.spec.ts
  scripts/monorepo/runPublished.js
  scripts/monorepo/runPublished.spec.ts
  scripts/monorepo/tsconfig.json
Labels: Area: Build System

#25092 fix(react-dialog): make aria-* properties reassignable
  change/@fluentui-react-dialog-f651b531-21bb-4a89-823e-d8325ec32762.json
  packages/react-components/react-dialog/src/components/DialogSurface/useDialogSurface.ts
  packages/react-components/react-dialog/src/components/DialogTrigger/useDialogTrigger.ts
  packages/react-components/react-dialog/src/stories/Dialog/DialogBestPractices.md
  packages/react-components/react-dialog/src/stories/Dialog/DialogWithForm.md
  packages/react-components/react-dialog/src/stories/Dialog/DialogWithForm.stories.tsx
Labels: Component: Dialog

#25106 feat: Adding subtle transition between states on Button components
  change/@fluentui-react-button-eeea86af-7338-4688-ace7-75aa8d2fb347.json
  packages/react-components/react-button/src/components/Button/useButtonStyles.ts
Labels: Component: Button, Component: ToggleButton, Component: SplitButton, Component: CompoundButton, Component: MenuButton

#25127 fix(script): allow runPublished call from CLI
  scripts/monorepo/runPublished.js
Labels: Area: Build System, CI

#25130 fix: version-bump generator removes beachball disallowedChangeType config
  azure-pipelines.release-vnext-nightly.yml
  tools/generators/version-bump/index.spec.ts
  tools/generators/version-bump/index.ts
  tools/types.ts
  tools/utils.ts
Labels: Area: Build System

#25079 fix: CheckboxField to set a generated ID on the input, to match the label's htmlFor
  change/@fluentui-react-field-16bb1d7a-fa7b-41d6-92ec-5e18e0669150.json
  packages/react-components/react-field/src/components/CheckboxField/CheckboxField.test.tsx
  packages/react-components/react-field/src/components/Field/Field.test.tsx
  packages/react-components/react-field/src/components/Field/useField.tsx
Labels: Component: Field

#25140 fix: Tooltip should not hide if an element inside it gets focused
  change/@fluentui-react-2752e34e-9f61-47b8-965c-16b9ab348583.json
  packages/react/src/components/Tooltip/Tooltip.base.tsx
  packages/react/src/components/Tooltip/TooltipHost.base.tsx
Labels: Component: Tooltip, Fluent UI react (v8)

#25138 fix: The Tooltip should not hide if it gets keyboard focus
  change/@fluentui-react-tooltip-1a523606-fad3-4e83-bd04-c3e3645d474a.json
  packages/react-components/react-tooltip/src/components/Tooltip/useTooltip.tsx
Labels: Component: Tooltip, Fluent UI react-components (v9)

#25148 fix(codemods): Do not fail on empty configMod config
  change/@fluentui-codemods-c926b650-7f6d-4fbe-b266-eb574a08c173.json
  packages/codemods/src/codeMods/mods/configMod/configMod.mod.ts
Labels: Area: Build System, Area: Fluent, Package: codemods

#25074 feat(scripts): enable strict checking for additional sub-folders(packages) v3
  package.json
  scripts/api-extractor/tsconfig.json
  scripts/babel/index.js
  scripts/babel/register.js
  scripts/babel/tsconfig.json
  scripts/dependency-graph-generator/index.js
  scripts/dependency-graph-generator/tsconfig.json
  scripts/jest/index.js
  scripts/jest/jest-reporter.js
  scripts/jest/jest-resources.js
  scripts/jest/jest-setup.js
  scripts/jest/tsconfig.json
  scripts/logging.js
  scripts/package.json
  scripts/tasks/api-extractor.ts
  scripts/tasks/argv.ts
  scripts/tasks/babel.ts
  scripts/tasks/bundle-size-collect.ts
  scripts/tasks/copy.ts
  scripts/tasks/generate-version-files.ts
  scripts/tasks/lint-imports.ts
  scripts/tasks/merge.js
  scripts/tasks/sass.ts
  scripts/tasks/storybook.ts
  scripts/tasks/ts.ts
  scripts/tasks/tsconfig.json
  scripts/tsconfig.json
  scripts/tsconfig.scripts.json
  scripts/typescript/normalize-import.js
  scripts/typescript/normalize-import.spec.js
  scripts/typescript/tsconfig.json
  scripts/webpack/getDefaultEnvironmentVars.js
  scripts/webpack/getResolveAlias.js
  scripts/webpack/tsconfig.json
  scripts/webpack/webpack-resources.js
  scripts/webpack/webpack.config.stats.ts
  scripts/webpack/webpack.config.ts
  typings/find-free-port/index.d.ts
  typings/find-free-port/tsconfig.json
  typings/tsconfig.json
  yarn.lock
Labels: Area: Build System

#25170 chore: updates stories and e2e tests
  change/@fluentui-react-dialog-93e8d9f6-b34a-4eb7-8ab7-b669acc46929.json
  packages/react-components/react-dialog/e2e/Dialog.e2e.tsx
  packages/react-components/react-dialog/e2e/DialogTitle.e2e.tsx
  packages/react-components/react-dialog/e2e/DialogTrigger.e2e.tsx
  packages/react-components/react-dialog/src/stories/Dialog/DialogA11y.md
  packages/react-components/react-dialog/src/stories/Dialog/DialogNested.stories.tsx
  packages/react-components/react-dialog/src/stories/Dialog/DialogWithForm.md
  packages/react-components/react-dialog/src/stories/Dialog/index.stories.tsx
Labels: Component: Dialog, Fluent UI react-components (v9)

#25146 7.0 - Add Signal.scss to react-experiments pre-copy
  change/@fluentui-react-experiments-ddb5ba78-3b3b-4ba6-b97a-30dd9413b998.json
  stub-packages/react-experiments/config/pre-copy.json
Labels: needs cherry-pick, Fabric 7

#25149 Prevent group toggling from selecting the whole group
  change/office-ui-fabric-react-ededfbff-be4d-49b1-993a-4a90ec34a43d.json
  packages/office-ui-fabric-react/src/components/DetailsList/__snapshots__/DetailsList.test.tsx.snap
  packages/office-ui-fabric-react/src/components/GroupedList/GroupHeader.base.tsx
Labels: Component: DetailsList, Component: GroupedList, Fluent UI react (v7), Fabric 7

#25135 fix(react-positioning): reset overrideTargetRef when target from hook option is undefined
  apps/vr-tests-react-components/src/stories/Positioning.stories.tsx
  change/@fluentui-react-positioning-ee690504-067d-4a0c-b792-ea646433e13b.json
  packages/react-components/react-positioning/src/usePositioning.ts
Labels: Ready for VR

#24960 RFC: Triggers and multiple layers of button handling
  rfcs/react-components/convergence/triggers-and-multiple-layers-of-button-handling.md
Labels: Fluent UI react-components (v9), Type: RFC

#25063 Fix: Contextual menu focus with custom UI
  change/@fluentui-react-ec99cae8-1b1d-491a-967b-e7f051ee1c72.json
  packages/react/src/components/ContextualMenu/ContextualMenu.base.tsx
Labels: Component: ContextualMenu

#25175 Add TimePicker to docsite
  apps/public-docsite-resources/config/api-docs.js
  apps/public-docsite-resources/src/AppDefinition.tsx
  apps/public-docsite-resources/src/components/pages/TimePickerPage.tsx
  apps/public-docsite/src/SiteDefinition/SiteDefinition.pages/Controls/web.tsx
  apps/public-docsite/src/pages/Controls/TimePickerPage/TimePickerPage.doc.ts
  apps/public-docsite/src/pages/Controls/TimePickerPage/TimePickerPage.tsx
  change/@fluentui-react-d7ed3976-3c18-467f-affb-9928fd9ec770.json
  packages/react-examples/src/react/TimePicker/TimePicker.doc.tsx
  packages/react-examples/src/react/TimePicker/docs/TimePickerBestPractices.md
  packages/react-examples/src/react/TimePicker/docs/TimePickerOverview.md
  packages/react/src/components/TimePicker/TimePicker.tsx
  packages/react/src/components/TimePicker/TimePicker.types.ts
Labels: Area: Documentation, Type: Documentation, Fluent UI react (v8), Component: TimePicker

#25173 feat: focus on surface if no focusable element is available
  change/@fluentui-react-dialog-1fe6ad25-f33a-4650-a51b-837a5bed695e.json
  packages/react-components/react-dialog/e2e/Dialog.e2e.tsx
  packages/react-components/react-dialog/src/components/DialogSurface/useDialogSurface.ts
  packages/react-components/react-dialog/src/components/DialogSurface/useDialogSurfaceStyles.ts
  packages/react-components/react-dialog/src/stories/Dialog/DialogNoFocusableElement.stories.tsx
  packages/react-components/react-dialog/src/utils/useFocusFirstElement.ts
Labels: Area: Accessibility, Component: Dialog, Fluent UI react-components (v9)

#25181 feat(react-dialog): Release `react-dialog` stable version
  change/@fluentui-react-components-eaedf37a-5f6c-454b-afe7-eae07312b67b.json
  change/@fluentui-react-dialog-58599157-0534-4751-ba63-d8df623b3fdc.json
  packages/react-components/react-components/etc/react-components.api.md
  packages/react-components/react-components/etc/react-components.unstable.api.md
  packages/react-components/react-components/src/index.ts
  packages/react-components/react-components/src/unstable/index.ts
  packages/react-components/react-dialog/README.md
  packages/react-components/react-dialog/package.json
  packages/react-components/react-dialog/src/stories/Dialog/DialogAlert.stories.tsx
  packages/react-components/react-dialog/src/stories/Dialog/DialogChangeFocus.stories.tsx
  packages/react-components/react-dialog/src/stories/Dialog/DialogControllingOpenAndClose.stories.tsx
  packages/react-components/react-dialog/src/stories/Dialog/DialogCustomTrigger.stories.tsx
  packages/react-components/react-dialog/src/stories/Dialog/DialogDefault.stories.tsx
  packages/react-components/react-dialog/src/stories/Dialog/DialogDescription.md
  packages/react-components/react-dialog/src/stories/Dialog/DialogNoFocusableElement.stories.tsx
  packages/react-components/react-dialog/src/stories/Dialog/DialogNonModal.stories.tsx
  packages/react-components/react-dialog/src/stories/Dialog/DialogScrollingLongContent.stories.tsx
  packages/react-components/react-dialog/src/stories/Dialog/DialogTitleCustomAction.stories.tsx
  packages/react-components/react-dialog/src/stories/Dialog/DialogTitleNoAction.stories.tsx
  packages/react-components/react-dialog/src/stories/Dialog/DialogTriggerOutsideDialog.stories.tsx
  packages/react-components/react-dialog/src/stories/Dialog/DialogWithForm.stories.tsx
  packages/react-components/react-dialog/src/stories/Dialog/index.stories.tsx
Labels: Component: Dialog

#25112 feat: adds disableButtonEnhancement property on triggers
  change/@fluentui-react-dialog-492b7510-f518-4c17-a929-c500874ec6fc.json
  change/@fluentui-react-menu-2a082257-9573-43fe-99e1-a4ce48003c46.json
  change/@fluentui-react-popover-2a257879-7e46-4b0d-82f2-9dd83e7fcd36.json
  packages/react-components/react-dialog/etc/react-dialog.api.md
  packages/react-components/react-dialog/src/components/DialogTitle/useDialogTitle.tsx
  packages/react-components/react-dialog/src/components/DialogTrigger/DialogTrigger.test.tsx
  packages/react-components/react-dialog/src/components/DialogTrigger/DialogTrigger.types.ts
  packages/react-components/react-dialog/src/components/DialogTrigger/__snapshots__/DialogTrigger.test.tsx.snap
  packages/react-components/react-dialog/src/components/DialogTrigger/useDialogTrigger.ts
  packages/react-components/react-menu/etc/react-menu.api.md
  packages/react-components/react-menu/src/components/Menu/Menu.test.tsx
  packages/react-components/react-menu/src/components/MenuTrigger/MenuTrigger.test.tsx
  packages/react-components/react-menu/src/components/MenuTrigger/MenuTrigger.types.ts
  packages/react-components/react-menu/src/components/MenuTrigger/useMenuTrigger.ts
  packages/react-components/react-popover/etc/react-popover.api.md
  packages/react-components/react-popover/src/components/PopoverTrigger/PopoverTrigger.test.tsx
  packages/react-components/react-popover/src/components/PopoverTrigger/PopoverTrigger.types.ts
  packages/react-components/react-popover/src/components/PopoverTrigger/usePopoverTrigger.ts
Labels: Component: Dialog, Component: Popover, Fluent UI react-components (v9), Component: Menu, Component: MenuTrigger

#25190 update browser support in fluent v8 readme
  change/@fluentui-react-0f3db7f0-d444-4e3b-8082-84b9ad15e83d.json
  packages/react/README.md
Labels: Area: Documentation, Fluent UI react (v8)

#25239 fix(ssr-tests-v9): resolve TS error with createElement call within re…
  apps/ssr-tests-v9/src/utils/renderToHTML.ts
Labels: Type: Bug :bug:

#25223 Fix: Panel does not aria-hide siblings when only hidden
  change/@fluentui-react-3c5ba995-43db-46ee-80af-32fb80ce4e13.json
  packages/react/src/components/Panel/Panel.base.tsx
Labels: Area: Accessibility, Component: Panel

#25221 chore(public-docsite-v9): update getVnextStories function for gradual v9 package migration
  apps/public-docsite-v9/.storybook/main.utils.js
Labels: Area: Website

#25178 improve windows support in execSync and exec scripts
  scripts/exec-sync.js
  scripts/exec.js
Labels: Area: Build System

#25179 Drop `ts-loader` in favor of `swc-loader` for Stress Test app
  apps/stress-test/src/components/wc/stressApp.ts
  apps/stress-test/src/components/wc/stressComponent.ts
  apps/stress-test/src/components/wc/stressContainer.ts
  apps/stress-test/src/pages/wc/simple-stress/index.ts
  apps/stress-test/src/pages/wc/stress-tree/index.ts
  apps/stress-test/src/renderers/wc/stress.ts
  apps/stress-test/webpack/pageConfig.ts
  apps/stress-test/webpack/webpack.config.ts
  package.json
  yarn.lock
Labels: Area: Performance

#25227 docs: Improving stress-test app documentation
  apps/stress-test/README.md
  apps/stress-test/scripts/utils/configureYargs.ts
Labels: Area: Documentation, Area: Testing

#25250 fix: Fixing the styles of Buttons rendered as anchor tags
  apps/vr-tests-react-components/src/stories/Button.stories.tsx
  change/@fluentui-react-button-9d40ec0c-0f48-4396-ae0c-330db4a060b9.json
  packages/react-components/react-button/src/components/Button/useButtonStyles.ts
Labels: Component: Button, Fluent UI react-components (v9), Component: ToggleButton, Component: SplitButton, Component: CompoundButton, Component: MenuButton

#25073 Fix chart title overflow
  change/@fluentui-react-charting-beea75ce-fc3b-4589-8902-28d31ef030fa.json
  packages/react-charting/src/components/HorizontalBarChart/HorizontalBarChart.base.tsx
  packages/react-charting/src/components/HorizontalBarChart/HorizontalBarChart.styles.ts
  packages/react-charting/src/components/HorizontalBarChart/HorizontalBarChart.types.ts
  packages/react-charting/src/components/HorizontalBarChart/__snapshots__/HorizontalBarChart.test.tsx.snap
  packages/react-charting/src/components/StackedBarChart/MultiStackedBarChart.base.tsx
  packages/react-charting/src/components/StackedBarChart/MultiStackedBarChart.styles.ts
  packages/react-charting/src/components/StackedBarChart/MultiStackedBarChart.types.ts
  packages/react-charting/src/components/StackedBarChart/StackedBarChart.base.tsx
  packages/react-charting/src/components/StackedBarChart/StackedBarChart.styles.ts
  packages/react-charting/src/components/StackedBarChart/StackedBarChart.types.ts
  packages/react-charting/src/components/StackedBarChart/__snapshots__/MultiStackedBarChart.test.tsx.snap
  packages/react-charting/src/components/StackedBarChart/__snapshots__/StackedBarChart.test.tsx.snap
Labels: Package: charting

#25242 fix(react-northstar): DatePicker: remove goToToday prop
  packages/fluentui/CHANGELOG.md
  packages/fluentui/docs/src/examples/components/Datepicker/Types/DatepickerExampleLocalizationStrings.shorthand.tsx
  packages/fluentui/react-northstar/src/components/Datepicker/Datepicker.tsx
  packages/fluentui/react-northstar/src/components/Datepicker/DatepickerCalendar.tsx
  packages/fluentui/react-northstar/src/utils/date-time-utilities/dateFormatting/dateFormatting.defaults.ts
  packages/fluentui/react-northstar/src/utils/date-time-utilities/dateFormatting/dateFormatting.types.ts
Labels: Fluent UI react-northstar

#25258 fix: color for selected items in toolbar
  change/@fluentui-react-toolbar-646c7c94-50c8-4258-a8a9-351b877b0cd4.json
  packages/react-components/react-toolbar/src/components/ToolbarToggleButton/ToolbarToggleButton.tsx
  packages/react-components/react-toolbar/src/components/ToolbarToggleButton/useToolbarToggleButtonStyles.ts
Labels: Component: Toolbar

#25260 chore: Update Radio stories to use makeStyles instead of inline styles
  packages/react-components/react-radio/src/stories/Radio/RadioDefault.stories.tsx
  packages/react-components/react-radio/src/stories/RadioGroup/RadioGroupControlledValue.stories.tsx
  packages/react-components/react-radio/src/stories/RadioGroup/RadioGroupDefault.stories.tsx
  packages/react-components/react-radio/src/stories/RadioGroup/RadioGroupDisabled.stories.tsx
  packages/react-components/react-radio/src/stories/RadioGroup/RadioGroupDisabledItem.stories.tsx
  packages/react-components/react-radio/src/stories/RadioGroup/RadioGroupHorizontal.stories.tsx
  packages/react-components/react-radio/src/stories/RadioGroup/RadioGroupHorizontalStacked.stories.tsx
  packages/react-components/react-radio/src/stories/RadioGroup/RadioGroupLabelSubtext.stories.tsx
  packages/react-components/react-radio/src/stories/RadioGroup/RadioGroupLabeled.stories.tsx
  packages/react-components/react-radio/src/stories/RadioGroup/RadioGroupRequired.stories.tsx
  packages/react-components/react-radio/src/stories/RadioGroup/RadioGroupUncontrolledValue.stories.tsx
Labels: Component: Radio

#25252 feat: Add red border to form controls when aria-invalid is set
  apps/vr-tests-react-components/src/stories/Input.stories.tsx
  apps/vr-tests-react-components/src/stories/Select.stories.tsx
  apps/vr-tests-react-components/src/stories/SpinButton.stories.tsx
  apps/vr-tests-react-components/src/stories/Textarea.stories.tsx
  change/@fluentui-react-combobox-b4220c4d-8edb-40d8-9199-4773a4274c56.json
  change/@fluentui-react-input-aecbfa05-9ba2-4c55-9ba0-1f2444dc5692.json
  change/@fluentui-react-select-43555ac1-149d-42d6-a44f-1a21f04891e2.json
  change/@fluentui-react-spinbutton-ac408b9a-8b30-4c63-87bd-681a0e4b816e.json
  change/@fluentui-react-textarea-f7ed36d1-b244-43c3-9f8b-86d7cacac64c.json
  packages/react-components/react-combobox/src/components/Combobox/useComboboxStyles.ts
  packages/react-components/react-combobox/src/components/Dropdown/useDropdownStyles.ts
  packages/react-components/react-input/src/components/Input/useInputStyles.ts
  packages/react-components/react-select/src/components/Select/useSelectStyles.ts
  packages/react-components/react-spinbutton/src/components/SpinButton/useSpinButtonStyles.ts
  packages/react-components/react-textarea/src/components/Textarea/useTextareaStyles.ts
Labels: Component: Field

#25201 fix: Table header interactive styles
  apps/vr-tests-react-components/src/stories/Table.stories.tsx
  change/@fluentui-react-table-4fa7558a-56d8-4611-858f-4706c0acec02.json
  packages/react-components/react-table/src/components/TableHeader/renderTableHeader.tsx
  packages/react-components/react-table/src/components/TableHeaderCell/useTableHeaderCellStyles.ts
  packages/react-components/react-table/src/components/TableRow/useTableRowStyles.ts
  packages/react-components/react-table/src/contexts/tableHeaderContext.ts
Labels: Component: Table

#25280 fix(react-card): fix import path of asset file
  packages/react-components/react-card/stories/Card/CardOrientation.stories.tsx
  packages/react-components/react-card/stories/Card/CardTemplates.stories.tsx
Labels: Area: Build System

#25267 chore: scaffold react-tree package
  .github/CODEOWNERS
  packages/react-components/react-tree/.babelrc.json
  packages/react-components/react-tree/.eslintrc.json
  packages/react-components/react-tree/.npmignore
  packages/react-components/react-tree/LICENSE
  packages/react-components/react-tree/README.md
  packages/react-components/react-tree/config/api-extractor.json
  packages/react-components/react-tree/config/tests.js
  packages/react-components/react-tree/docs/Spec.md
  packages/react-components/react-tree/etc/react-tree.api.md
  packages/react-components/react-tree/jest.config.js
  packages/react-components/react-tree/just.config.ts
  packages/react-components/react-tree/package.json
  packages/react-components/react-tree/src/index.ts
  packages/react-components/react-tree/tsconfig.json
  packages/react-components/react-tree/tsconfig.lib.json
  packages/react-components/react-tree/tsconfig.spec.json
  tsconfig.base.json
  workspace.json
Labels: Fluent UI react-components (v9), Component: Tree

#25243 docs(public-docsite-v9): Add disclaimer that strict mode is not supported
  apps/public-docsite-v9/src/Concepts/QuickStart.stories.mdx
Labels: Area: Documentation, Area: Website, Fluent UI react-components (v9), Area: SSR

#25289 fix: Menu trigger should be focused when dismissed on menuitem click
  change/@fluentui-react-menu-2426a6a3-09c5-490e-95d8-8ca4b9c9950e.json
  change/@fluentui-react-overflow-e0db4922-5cc1-48d6-a1ee-389ba71df899.json
  packages/react-components/react-menu/src/components/Menu/Menu.cy.tsx
  packages/react-components/react-menu/src/components/Menu/useMenu.tsx
Labels: Area: Accessibility, Component: Menu

#25185 docs: Adds a page to help find v9 icons for v0 migration
  apps/public-docsite-v9/package.json
  apps/public-docsite-v9/src/Concepts/Migration/FromV0/Components/IconCatalog/ComparisonTile.tsx
  apps/public-docsite-v9/src/Concepts/Migration/FromV0/Components/IconCatalog/IconCatalog.tsx
  apps/public-docsite-v9/src/Concepts/Migration/FromV0/Components/IconCatalog/IconGrid.tsx
  apps/public-docsite-v9/src/Concepts/Migration/FromV0/Components/IconCatalog/iconMapping.ts
  apps/public-docsite-v9/src/Concepts/Migration/FromV0/Components/IconCatalog/types.ts
  apps/public-docsite-v9/src/Concepts/Migration/FromV0/Components/IconCatalog/useDebounce.ts
  apps/public-docsite-v9/src/Concepts/Migration/FromV0/Icons.stories.mdx
Labels: Area: Website

#25305 Fix mapping for Stream video filetype, updated CDN url (v7 Fabric branch)
  change/@uifabric-file-type-icons-ba2c3a08-247d-4728-a89e-5cca8015d582.json
  packages/file-type-icons/src/getFileTypeIconProps.ts
  packages/file-type-icons/src/initializeFileTypeIcons.tsx
  packages/react-examples/src/experiments/FileTypeIcon/FileTypeIcon.Basic.Example.tsx
Labels: Area: Icons, Package: file-type-icons, Fabric 7

#25287 fix: Fix Button example styles by improving their layout
  packages/react-components/react-button/src/stories/Button/ButtonAppearance.stories.tsx
  packages/react-components/react-button/src/stories/Button/ButtonDefault.stories.tsx
  packages/react-components/react-button/src/stories/Button/ButtonDisabled.stories.tsx
  packages/react-components/react-button/src/stories/Button/ButtonIcon.stories.tsx
  packages/react-components/react-button/src/stories/Button/ButtonShape.stories.tsx
  packages/react-components/react-button/src/stories/Button/ButtonSize.stories.tsx
  packages/react-components/react-button/src/stories/Button/ButtonWithLongText.stories.tsx
  packages/react-components/react-button/src/stories/Button/index.stories.tsx
  packages/react-components/react-button/src/stories/CompoundButton/CompoundButtonAppearance.stories.tsx
  packages/react-components/react-button/src/stories/CompoundButton/CompoundButtonDefault.stories.tsx
  packages/react-components/react-button/src/stories/CompoundButton/CompoundButtonDisabled.stories.tsx
  packages/react-components/react-button/src/stories/CompoundButton/CompoundButtonIcon.stories.tsx
  packages/react-components/react-button/src/stories/CompoundButton/CompoundButtonShape.stories.tsx
  packages/react-components/react-button/src/stories/CompoundButton/CompoundButtonSize.stories.tsx
  packages/react-components/react-button/src/stories/CompoundButton/CompoundButtonWithLongText.stories.tsx
  packages/react-components/react-button/src/stories/CompoundButton/index.stories.tsx
  packages/react-components/react-button/src/stories/MenuButton/MenuButtonAppearance.stories.tsx
  packages/react-components/react-button/src/stories/MenuButton/MenuButtonDefault.stories.tsx
  packages/react-components/react-button/src/stories/MenuButton/MenuButtonDisabled.stories.tsx
  packages/react-components/react-button/src/stories/MenuButton/MenuButtonIcon.stories.tsx
  packages/react-components/react-button/src/stories/MenuButton/MenuButtonShape.stories.tsx
  packages/react-components/react-button/src/stories/MenuButton/MenuButtonSize.stories.tsx
  packages/react-components/react-button/src/stories/MenuButton/MenuButtonSizeLarge.stories.tsx
  packages/react-components/react-button/src/stories/MenuButton/MenuButtonSizeMedium.stories.tsx
  packages/react-components/react-button/src/stories/MenuButton/MenuButtonSizeSmall.stories.tsx
  packages/react-components/react-button/src/stories/MenuButton/MenuButtonWithLongText.stories.tsx
  packages/react-components/react-button/src/stories/MenuButton/index.stories.tsx
  packages/react-components/react-button/src/stories/SplitButton/SplitButtonAppearance.stories.tsx
  packages/react-components/react-button/src/stories/SplitButton/SplitButtonDefault.stories.tsx
  packages/react-components/react-button/src/stories/SplitButton/SplitButtonDisabled.stories.tsx
  packages/react-components/react-button/src/stories/SplitButton/SplitButtonIcon.stories.tsx
  packages/react-components/react-button/src/stories/SplitButton/SplitButtonShape.stories.tsx
  packages/react-components/react-button/src/stories/SplitButton/SplitButtonSize.stories.tsx
  packages/react-components/react-button/src/stories/SplitButton/SplitButtonSizeLarge.stories.tsx
  packages/react-components/react-button/src/stories/SplitButton/SplitButtonSizeMedium.stories.tsx
  packages/react-components/react-button/src/stories/SplitButton/SplitButtonSizeSmall.stories.tsx
  packages/react-components/react-button/src/stories/SplitButton/SplitButtonWithLongText.stories.tsx
  packages/react-components/react-button/src/stories/SplitButton/index.stories.tsx
  packages/react-components/react-button/src/stories/ToggleButton/ToggleButtonAppearance.stories.tsx
  packages/react-components/react-button/src/stories/ToggleButton/ToggleButtonChecked.stories.tsx
  packages/react-components/react-button/src/stories/ToggleButton/ToggleButtonDefault.stories.tsx
  packages/react-components/react-button/src/stories/ToggleButton/ToggleButtonDisabled.stories.tsx
  packages/react-components/react-button/src/stories/ToggleButton/ToggleButtonIcon.stories.tsx
  packages/react-components/react-button/src/stories/ToggleButton/ToggleButtonShape.stories.tsx
  packages/react-components/react-button/src/stories/ToggleButton/ToggleButtonSize.stories.tsx
  packages/react-components/react-button/src/stories/ToggleButton/ToggleButtonWithLongText.stories.tsx
  packages/react-components/react-button/src/stories/ToggleButton/index.stories.tsx
Labels: Area: Documentation, Component: Button, Component: ToggleButton, Component: SplitButton, Component: CompoundButton, Component: MenuButton

#25265 bugfix: adds cursor pointer style to dialog close button
  change/@fluentui-react-dialog-e8675348-6694-4ef1-a767-6c6298ea4515.json
  packages/react-components/react-dialog/src/components/DialogTitle/useDialogTitleStyles.ts
Labels: Component: Dialog, Fluent UI react-components (v9)

#25317 bugfix(react-northstar): react-portal-compat-context deps mismatch
  packages/fluentui/react-northstar/package.json
Labels: Fluent UI react-northstar

#25255 Pass onRenderItem to onRenderContainer in the Dropdown component
  change/@fluentui-react-18b72fa6-4c4e-4585-b65c-925cc6f1639f.json
  packages/react/src/components/Dropdown/Dropdown.base.tsx
Labels: Component: Dropdown

#24929 (web-components) Cleaned up shared styles for button and input for improved reuse and color updates
  change/@fluentui-web-components-4bde24b4-312c-47f7-bbd5-003938181433.json
  packages/web-components/docs/api-report.md
  packages/web-components/src/anchor/anchor.styles.ts
  packages/web-components/src/button/button.styles.ts
  packages/web-components/src/combobox/combobox.stories.ts
  packages/web-components/src/combobox/combobox.styles.ts
  packages/web-components/src/number-field/number-field.styles.ts
  packages/web-components/src/search/search.styles.ts
  packages/web-components/src/select/select.stories.ts
  packages/web-components/src/select/select.styles.ts
  packages/web-components/src/styles/patterns/button.styles.ts
  packages/web-components/src/styles/patterns/input.styles.ts
  packages/web-components/src/text-area/text-area.styles.ts
  packages/web-components/src/text-field/text-field.styles.ts
Labels: web-components

#24283 v9 docsite: Add partial support browser matrix
  apps/public-docsite-v9/src/Concepts/BrowserSupportMatrix.stories.mdx
Labels: Area: Website

#25301 groupedlistv2: update getderivedstatefromprops
  change/@fluentui-react-b5a6d88f-3dd6-4c28-8db1-77f85d5870f5.json
  packages/react/src/components/GroupedList/GroupedListV2.base.tsx
Labels: Component: DetailsList, Component: GroupedList, Fluent UI react (v8)

#25310 fix(react-avatar): AvatarGroupPopover is still rendered when there's no items overflowing
  apps/vr-tests-react-components/src/stories/AvatarGroup.stories.tsx
  change/@fluentui-react-avatar-45cbd570-4f1a-45a8-991c-081cd8781bdf.json
  change/@fluentui-react-components-94d4c956-05ab-4a3e-9df4-edcfa91f7a21.json
  packages/react-components/react-avatar/etc/react-avatar.api.md
  packages/react-components/react-avatar/src/components/AvatarGroupPopover/AvatarGroupPopover.types.ts
  packages/react-components/react-avatar/src/components/AvatarGroupPopover/useAvatarGroupPopover.tsx
  packages/react-components/react-avatar/src/index.ts
  packages/react-components/react-avatar/src/stories/AvatarGroup/AvatarGroupDefault.stories.tsx
  packages/react-components/react-avatar/src/stories/AvatarGroup/AvatarGroupIndicator.stories.tsx
  packages/react-components/react-avatar/src/stories/AvatarGroup/AvatarGroupLayout.stories.tsx
  packages/react-components/react-avatar/src/stories/AvatarGroup/AvatarGroupSizePie.stories.tsx
  packages/react-components/react-avatar/src/stories/AvatarGroup/AvatarGroupSizeSpread.stories.tsx
  packages/react-components/react-avatar/src/stories/AvatarGroup/AvatarGroupSizeStack.stories.tsx
  packages/react-components/react-avatar/src/stories/AvatarGroup/index.stories.tsx
  packages/react-components/react-avatar/src/utils/index.ts
  packages/react-components/react-avatar/src/utils/partitionAvatarGroupItems.test.ts
  packages/react-components/react-avatar/src/utils/partitionAvatarGroupItems.ts
  packages/react-components/react-components/etc/react-components.unstable.api.md
  packages/react-components/react-components/src/unstable/index.ts
Labels: Fluent UI react-components (v9), Component: AvatarGroup, Component: AvatarGroupPopover

#25339 docs: Make Callout title in basic example be a proper heading.
  packages/react-examples/src/react/Callout/Callout.Basic.Example.tsx
Labels: Area: Documentation, Component: Callout, Area: Website

#25344 fix: Fixing color of disabled links in High Contrast mode.
  change/@fluentui-react-a356b1ec-2b79-42ad-b811-964c899f748c.json
  packages/react/src/components/Link/Link.styles.ts
  packages/react/src/components/Link/__snapshots__/Link.test.tsx.snap
Labels: Area: Accessibility, Component: Link, High Contrast, Fluent UI react (v8)

#25087 feat(what-input): Limit keyboard detection in inputs
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/components/Dropdown/Dropdown.tsx
  packages/fluentui/react-northstar/src/utils/whatInput.ts
Labels: Fluent UI react-northstar

#25286 spinbutton: update internal padding for small size
  change/@fluentui-react-spinbutton-76d708a4-ab34-43c6-a831-8aca052df11b.json
  packages/react-components/react-spinbutton/src/components/SpinButton/useSpinButton.tsx
  packages/react-components/react-spinbutton/src/components/SpinButton/useSpinButtonStyles.ts
Labels: Component: SpinButton, Fluent UI react-components (v9)

#25358 fix: list even/odd off-by-one issue
  packages/react-examples/src/react/List/List.Scrolling.Example.tsx
Labels: Component: List, Area: Website

#25342 fix: Detailslist is still tabbable when isHeaderVisible=false
  change/@fluentui-react-55edf27b-cadb-4057-98bd-3e097dc780aa.json
  packages/react/src/components/DetailsList/DetailsList.base.tsx
  packages/react/src/components/DetailsList/DetailsList.test.tsx
Labels: Component: DetailsList

#25357 chore(react-persona, react-components, vr-tests-v9): Reverting react-persona's version to beta
  apps/vr-tests-react-components/package.json
  change/@fluentui-react-components-e65f456e-3889-46a3-b460-22b8ca64c163.json
  change/@fluentui-react-persona-136c281a-d718-41d2-bf77-89ae7c9570b5.json
  packages/react-components/react-components/package.json
  packages/react-components/react-persona/package.json
Labels: Component: Persona, Fluent UI react-components (v9)

#25363 chore(react-persona): Update beachball settings and change file's type
  change/@fluentui-react-persona-136c281a-d718-41d2-bf77-89ae7c9570b5.json
  change/@fluentui-react-persona-a6c9df1e-3923-4018-b1f8-b8a05f609aad.json
  packages/react-components/react-persona/package.json
Labels: Component: Persona, Fluent UI react-components (v9)

#24903 Fix wrong narration when legend selected
  change/@fluentui-react-charting-1216d12c-7b19-41b7-bbde-99ed3b330d78.json
  packages/react-charting/src/components/AreaChart/__snapshots__/AreaChart.test.tsx.snap
  packages/react-charting/src/components/CommonComponents/CartesianChart.base.tsx
  packages/react-charting/src/components/DonutChart/Arc/Arc.styles.ts
  packages/react-charting/src/components/DonutChart/Arc/Arc.tsx
  packages/react-charting/src/components/DonutChart/DonutChart.base.tsx
  packages/react-charting/src/components/DonutChart/__snapshots__/DonutChart.test.tsx.snap
  packages/react-charting/src/components/GroupedVerticalBarChart/GroupedVerticalBarChart.base.tsx
  packages/react-charting/src/components/GroupedVerticalBarChart/__snapshots__/GroupedVerticalBarChart.test.tsx.snap
  packages/react-charting/src/components/HeatMapChart/HeatMapChart.base.tsx
  packages/react-charting/src/components/HeatMapChart/__snapshots__/HeatMapChart.test.tsx.snap
  packages/react-charting/src/components/LineChart/__snapshots__/LineChart.test.tsx.snap
  packages/react-charting/src/components/StackedBarChart/MultiStackedBarChart.base.tsx
  packages/react-charting/src/components/StackedBarChart/StackedBarChart.base.tsx
  packages/react-charting/src/components/VerticalBarChart/VerticalBarChart.base.tsx
  packages/react-charting/src/components/VerticalBarChart/__snapshots__/VerticalBarChart.test.tsx.snap
  packages/react-charting/src/components/VerticalStackedBarChart/VerticalStackedBarChart.base.tsx
  packages/react-charting/src/components/VerticalStackedBarChart/__snapshots__/VerticalStackedBarChart.test.tsx.snap
Labels: Package: charting

#25355 feat(tools): add unstable API setup updates
  tools/generators/migrate-converged-pkg/index.spec.ts
  tools/generators/migrate-converged-pkg/index.ts
  tools/types.ts
Labels: Area: Build System

#25269 docs: improve Toolbar docs examples
  change/@fluentui-react-toolbar-18a47778-1d2f-48f2-bd7e-e5b5f3b31054.json
  packages/react-components/react-toolbar/src/stories/Toolbar/ToolbarBestPractices.md
  packages/react-components/react-toolbar/src/stories/Toolbar/ToolbarControlledToggleButton.stories.tsx
  packages/react-components/react-toolbar/src/stories/Toolbar/ToolbarDefault.stories.tsx
  packages/react-components/react-toolbar/src/stories/Toolbar/ToolbarOverflow.stories.tsx
  packages/react-components/react-toolbar/src/stories/Toolbar/ToolbarSmall.stories.tsx
  packages/react-components/react-toolbar/src/stories/Toolbar/ToolbarSubtle.stories.tsx
  packages/react-components/react-toolbar/src/stories/Toolbar/ToolbarWithPopover.stories.tsx
  packages/react-components/react-toolbar/src/stories/Toolbar/ToolbarWithTooltip.stories.tsx
Labels: Component: Toolbar

#25343 feat: replace ToolbarRadio implementation by usage of toggle button as Radio
  change/@fluentui-react-toolbar-87c0c30d-e652-4dd1-8f2c-27bb19adcbe5.json
  packages/react-components/react-toolbar/etc/react-toolbar.api.md
  packages/react-components/react-toolbar/package.json
  packages/react-components/react-toolbar/src/ToolbarRadio.ts
  packages/react-components/react-toolbar/src/ToolbarRadioButton.ts
  packages/react-components/react-toolbar/src/ToolbarRadioGroup.ts
  packages/react-components/react-toolbar/src/components/Toolbar/Toolbar.types.ts
  packages/react-components/react-toolbar/src/components/Toolbar/ToolbarContext.ts
  packages/react-components/react-toolbar/src/components/Toolbar/useToolbar.ts
  packages/react-components/react-toolbar/src/components/Toolbar/useToolbarContextValues.tsx
  packages/react-components/react-toolbar/src/components/ToolbarRadio/ToolbarRadio.test.tsx
  packages/react-components/react-toolbar/src/components/ToolbarRadio/ToolbarRadio.tsx
  packages/react-components/react-toolbar/src/components/ToolbarRadio/ToolbarRadio.types.ts
  packages/react-components/react-toolbar/src/components/ToolbarRadio/__snapshots__/ToolbarRadio.test.tsx.snap
  packages/react-components/react-toolbar/src/components/ToolbarRadio/index.ts
  packages/react-components/react-toolbar/src/components/ToolbarRadio/useToolbarRadioStyles.ts
  packages/react-components/react-toolbar/src/components/ToolbarRadioButton/ToolbarRadioButton.test.tsx
  packages/react-components/react-toolbar/src/components/ToolbarRadioButton/ToolbarRadioButton.tsx
  packages/react-components/react-toolbar/src/components/ToolbarRadioButton/ToolbarRadioButton.types.ts
  packages/react-components/react-toolbar/src/components/ToolbarRadioButton/__snapshots__/ToolbarRadioButton.test.tsx.snap
  packages/react-components/react-toolbar/src/components/ToolbarRadioButton/index.ts
  packages/react-components/react-toolbar/src/components/ToolbarRadioButton/useToolbarRadioButton.ts
  packages/react-components/react-toolbar/src/components/ToolbarRadioButton/useToolbarRadioButtonStyles.ts
  packages/react-components/react-toolbar/src/components/ToolbarRadioGroup/ToolbarRadioGroup.test.tsx
  packages/react-components/react-toolbar/src/components/ToolbarRadioGroup/ToolbarRadioGroup.tsx
  packages/react-components/react-toolbar/src/components/ToolbarRadioGroup/ToolbarRadioGroup.types.ts
  packages/react-components/react-toolbar/src/components/ToolbarRadioGroup/__snapshots__/ToolbarRadioGroup.test.tsx.snap
  packages/react-components/react-toolbar/src/components/ToolbarRadioGroup/contexts/useRadioGroupContextValues.ts
  packages/react-components/react-toolbar/src/components/ToolbarRadioGroup/index.ts
  packages/react-components/react-toolbar/src/components/ToolbarRadioGroup/useToolbarRadioGroupStyles.ts
  packages/react-components/react-toolbar/src/index.ts
  packages/react-components/react-toolbar/src/stories/Toolbar/ToolbarRadio.stories.tsx
  packages/react-components/react-toolbar/src/stories/Toolbar/ToolbarRadioControlled.stories.tsx
  packages/react-components/react-toolbar/src/stories/Toolbar/index.stories.tsx
Labels: Component: Toolbar

#25367 fix(react-persona): Changing persona's versions to pinned versions
  apps/vr-tests-react-components/package.json
  change/@fluentui-react-components-24a1fd19-7047-45d2-91ae-c60cd3c5d84e.json
  packages/react-components/react-components/package.json
Labels: Component: Persona, Fluent UI react-components (v9)

#25324 allow details element to be toggled inside selection and focus zones
  change/@fluentui-react-7161ec44-2213-4a2c-8b26-aacc793b05d0.json
  change/@fluentui-react-focus-e075be55-1aa4-43b0-aeb5-ffdb377f6070.json
  packages/react-focus/src/components/FocusZone/FocusZone.tsx
  packages/react/src/utilities/selection/SelectionZone.tsx
Labels: Component: FocusZone, Component: DetailsList

#25374 fix(projects-test): explicitly install next version 12 to fix CI
  packages/fluentui/projects-test/src/nextjs.ts
Labels: Area: Build System, Fluent UI react-northstar

#25381 fix: Improve Stack's style recalculation performance by selectively applying children selectors
  change/@fluentui-react-ecb76517-ad98-4a5e-b9ca-e853cae9a44d.json
  packages/react-cards/src/components/Card/CardItem/__snapshots__/CardItem.test.tsx.snap
  packages/react-cards/src/components/Card/CardSection/__snapshots__/CardSection.test.tsx.snap
  packages/react-cards/src/components/Card/__snapshots__/Card.view.test.tsx.snap
  packages/react-experiments/src/components/MicroFeedback/__snapshots__/MicroFeedback.test.tsx.snap
  packages/react/src/components/Stack/Stack.styles.ts
  packages/react/src/components/Stack/__snapshots__/Stack.test.tsx.snap
  packages/react/src/components/TeachingBubble/__snapshots__/TeachingBubble.deprecated.test.tsx.snap
  packages/react/src/components/TeachingBubble/__snapshots__/TeachingBubble.test.tsx.snap
Labels: Component: Stack, Area: Performance, Fluent UI react (v8)

#25386 feat: re-export react-table logic hooks
  change/@fluentui-react-components-430535e4-3f7f-445c-a584-0b68cd1de4e3.json
  packages/react-components/react-components/etc/react-components.unstable.api.md
  packages/react-components/react-components/src/unstable/index.ts
Labels: Fluent UI react-components (v9), Component: Table

#25389 Website: fix focus border on UHF footer links
  apps/public-docsite/src/styles/_base.scss
Labels: Area: Website

#25388 fix(docsite): codesandbox exports now working properly for newly migrated v9 packages
  .storybook/main.js
Labels: Area: Build System

#25416 fix(react-tabster): make acceptCondition optional as Tabster dont require it
  change/@fluentui-react-tabster-59ed64de-6eec-46c5-b0d6-2cd22cba4d0c.json
  packages/react-components/react-tabster/etc/react-tabster.api.md
  packages/react-components/react-tabster/src/hooks/useFocusFinders.ts
Labels: Fluent UI react-components (v9)

#25423 Jieleiwang/supportwbtx70
  change/@uifabric-file-type-icons-46bdc216-e2a3-441d-a809-d7a2bdaccca6.json
  packages/file-type-icons/src/FileTypeIconMap.ts
Labels: Area: Icons, Package: file-type-icons, Fabric 7

#24665 fix: Combobox text attribute ignored when empty string is passed
  change/@fluentui-react-f596f7cc-faeb-404e-9c21-006e9137848e.json
  packages/react/src/components/ComboBox/ComboBox.tsx
Labels: Component: ComboBox

#25382 fix(react-avatar): Remove gaps between AvatarGroupItem/OveflowButton and its outline
  change/@fluentui-react-avatar-63cc4116-6a81-4306-9fee-0415db150eae.json
  packages/react-components/react-avatar/src/components/AvatarGroupItem/useAvatarGroupItemStyles.ts
  packages/react-components/react-avatar/src/components/AvatarGroupPopover/useAvatarGroupPopoverStyles.ts
Labels: Fluent UI react-components (v9), Component: AvatarGroup

#25397 feat: Add enableScopedSelectors prop to Stack that, when true, makes the Stack styles selectors be more scoped to not be as expensive in style recalculation
  change/@fluentui-react-377a1123-32cb-4b4f-a0d6-5dcba243a97b.json
  packages/react-examples/src/react/Stack/Stack.Horizontal.Basic.Example.tsx
  packages/react-examples/src/react/Stack/Stack.Horizontal.Configure.Example.tsx
  packages/react-examples/src/react/Stack/Stack.Horizontal.Grow.Example.tsx
  packages/react-examples/src/react/Stack/Stack.Horizontal.HorizontalAlign.Example.tsx
  packages/react-examples/src/react/Stack/Stack.Horizontal.Reversed.Example.tsx
  packages/react-examples/src/react/Stack/Stack.Horizontal.Shrink.Example.tsx
  packages/react-examples/src/react/Stack/Stack.Horizontal.Spacing.Example.tsx
  packages/react-examples/src/react/Stack/Stack.Horizontal.VerticalAlign.Example.tsx
  packages/react-examples/src/react/Stack/Stack.Horizontal.Wrap.Example.tsx
  packages/react-examples/src/react/Stack/Stack.Horizontal.WrapAdvanced.Example.tsx
  packages/react-examples/src/react/Stack/Stack.Horizontal.WrapNested.Example.tsx
  packages/react-examples/src/react/Stack/Stack.Vertical.Basic.Example.tsx
  packages/react-examples/src/react/Stack/Stack.Vertical.Configure.Example.tsx
  packages/react-examples/src/react/Stack/Stack.Vertical.Grow.Example.tsx
  packages/react-examples/src/react/Stack/Stack.Vertical.HorizontalAlign.Example.tsx
  packages/react-examples/src/react/Stack/Stack.Vertical.Reversed.Example.tsx
  packages/react-examples/src/react/Stack/Stack.Vertical.Shrink.Example.tsx
  packages/react-examples/src/react/Stack/Stack.Vertical.Spacing.Example.tsx
  packages/react-examples/src/react/Stack/Stack.Vertical.VerticalAlign.Example.tsx
  packages/react-examples/src/react/Stack/Stack.Vertical.Wrap.Example.tsx
  packages/react-examples/src/react/Stack/Stack.Vertical.WrapAdvanced.Example.tsx
  packages/react-examples/src/react/Stack/Stack.Vertical.WrapNested.Example.tsx
  packages/react/etc/react.api.md
  packages/react/src/components/Stack/Stack.styles.ts
  packages/react/src/components/Stack/Stack.tsx
  packages/react/src/components/Stack/Stack.types.ts
  packages/react/src/components/Stack/StackItem/StackItem.styles.ts
Labels: Component: Stack, Area: Performance, PR: API Modified, Fluent UI react (v8)

#25428 fix: Allowing DatePicker to be focusable within FocusZones by default
  change/@fluentui-react-fd0c9c49-c0d9-4b5b-8991-45f1667ef481.json
  packages/react/src/components/DatePicker/DatePicker.base.tsx
  packages/react/src/components/DatePicker/__snapshots__/DatePicker.test.tsx.snap
Labels: Component: DatePicker, Fluent UI react (v8)

#25387 Cherry pick create style element fix
  change/@uifabric-merge-styles-7568f8f0-b308-4ee8-922e-a0afc4c3f931.json
  packages/merge-styles/src/Stylesheet.ts
Labels: Package: merge-styles, Fluent UI react (v7), Fabric 7

#25139 docs(rfcs): Simple component implementation
  rfcs/react-components/components/recipes.md
Labels: Fluent UI react-components (v9), Type: RFC

#25429 chore: Reducing bundle size of Stack by moving selector used in multiple places to local const
  change/@fluentui-react-6980f88b-f6c6-426f-a469-d4db3bffadf9.json
  packages/react/src/components/Stack/Stack.styles.ts
  packages/react/src/components/Stack/Stack.types.ts
Labels: Component: Stack, Fluent UI react (v8)

#25184 V9 Slider is missing cursor pointer
  change/@fluentui-react-slider-6edcf23c-8a46-4642-b3e7-af380c6c87f0.json
  packages/react-components/react-slider/src/components/Slider/useSliderStyles.ts
Labels: Needs: Author Feedback

#25169 feat: v0 Loader style migration from v9
  packages/fluentui/CHANGELOG.md
  packages/fluentui/docs/src/examples/components/Loader/Variations/LoaderExampleSecondary.tsx
  packages/fluentui/react-northstar/src/components/Loader/Loader.tsx
  packages/fluentui/react-northstar/src/themes/teams-high-contrast/componentVariables.ts
  packages/fluentui/react-northstar/src/themes/teams-high-contrast/components/Loader/loaderVariables.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Attachment/attachmentActionStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Attachment/attachmentVariables.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Button/buttonStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Button/buttonVariables.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Loader/loaderSecondarySvgDataUrl.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Loader/loaderStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Loader/loaderSvgDataUrl.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Loader/loaderVariables.ts
Labels: Component: Spinner, Fluent UI react-northstar

#25331 Update List to render children on first render() call
  apps/ssr-tests/test/test.js
  change/@fluentui-react-007e7f0d-8dbf-432c-ad60-6cbf4191ce79.json
  packages/react/etc/react.api.md
  packages/react/src/components/DetailsList/__snapshots__/DetailsList.test.tsx.snap
  packages/react/src/components/List/List.tsx
Labels: Area: Accessibility, Component: FocusZone, Component: List, PR: API Modified

#23896 Fixed the cherry-pick of changes to FocusTrapZone
  change/office-ui-fabric-react-e807606c-faa7-44a3-bba7-d08596317c4f.json
Labels: Component: FocusTrapZone, Fluent UI react (v7)
