Repository microsoft/fluentui, pull requests merged in 2022-01, with the labels that each got.

#20954 feat: generated react-dialog package
  .github/CODEOWNERS
  jest.config.js
  nx.json
  packages/react-dialog/.babelrc.json
  packages/react-dialog/.eslintrc.json
  packages/react-dialog/.npmignore
  packages/react-dialog/.storybook/main.js
  packages/react-dialog/.storybook/preview.js
  packages/react-dialog/.storybook/tsconfig.json
  packages/react-dialog/LICENSE
  packages/react-dialog/README.md
  packages/react-dialog/Spec.md
  packages/react-dialog/config/api-extractor.json
  packages/react-dialog/config/api-extractor.local.json
  packages/react-dialog/config/tests.js
  packages/react-dialog/etc/react-dialog.api.md
  packages/react-dialog/jest.config.js
  packages/react-dialog/just.config.ts
  packages/react-dialog/package.json
  packages/react-dialog/src/Dialog.ts
  packages/react-dialog/src/common/isConformant.ts
  packages/react-dialog/src/components/Dialog/Dialog.test.tsx
  packages/react-dialog/src/components/Dialog/Dialog.tsx
  packages/react-dialog/src/components/Dialog/Dialog.types.ts
  packages/react-dialog/src/components/Dialog/__snapshots__/Dialog.test.tsx.snap
  packages/react-dialog/src/components/Dialog/index.ts
  packages/react-dialog/src/components/Dialog/renderDialog.tsx
  packages/react-dialog/src/components/Dialog/useDialog.ts
  packages/react-dialog/src/components/Dialog/useDialogStyles.ts
  packages/react-dialog/src/index.ts
  packages/react-dialog/src/stories/Dialog.stories.tsx
  packages/react-dialog/src/stories/DialogBestPractices.md
  packages/react-dialog/src/stories/DialogDefault.stories.tsx
  packages/react-dialog/src/stories/DialogDescription.md
  packages/react-dialog/tsconfig.json
  packages/react-dialog/tsconfig.lib.json
  packages/react-dialog/tsconfig.spec.json
  tsconfig.base.json
  workspace.json
Labels: Component: Dialog

#20539 makeStyles: do not use shorthand expansion
  change/@fluentui-make-styles-e07c8cfd-109b-4600-a22d-c417d0ec63e5.json
  change/@fluentui-react-checkbox-67d54c7f-6bd3-4b75-9b96-63682f3c6f90.json
  packages/make-styles/etc/make-styles.api.md
  packages/make-styles/package.json
  packages/make-styles/src/mergeClasses.test.ts
  packages/make-styles/src/resolveStyleRulesForSlots.test.ts
  packages/make-styles/src/runtime/createCSSVariablesProxy.test.ts
  packages/make-styles/src/runtime/expandShorthand.test.ts
  packages/make-styles/src/runtime/expandShorthand.ts
  packages/make-styles/src/runtime/resolveStyleRules.test.ts
  packages/make-styles/src/runtime/resolveStyleRules.ts
  packages/make-styles/src/types.test.ts
  packages/make-styles/src/types.ts
  packages/react-checkbox/src/components/Checkbox/useCheckboxStyles.ts
  packages/react-tabs/src/components/Tab/useTabStyles.ts
  packages/react-tabs/src/stories/TabListAppearance.stories.tsx
  packages/react-tabs/src/stories/TabListDefault.stories.tsx
  packages/react-tabs/src/stories/TabListSizeMedium.stories.tsx
  packages/react-tabs/src/stories/TabListSizeSmall.stories.tsx
  packages/react-tabs/src/stories/TabListVertical.stories.tsx
  packages/react-tabs/src/stories/TabListWithIcon.stories.tsx
Labels: Area: JS Styling, Fluent UI vNext

#20966 RFC: Standardize onChange handlers for input components
  rfcs/react-components/convergence/event-handlers-arguments.md
Labels: Fluent UI vNext, Type: RFC

#21158 react-components: Stop generating a folder with a file inside and instead flatten to a single file for 'Migrating from @fluentui/react v8' storybook story
  change/@fluentui-react-components-059500c6-1617-4bd9-9f42-ea4726c5ece3.json
  packages/react-components/.storybook/preview.js
  packages/react-components/src/Concepts/MigratingFromV8.stories.mdx
Labels: Area: Documentation

#21160 Update Avatar to use resizable icons
  change/@fluentui-react-avatar-c49124f1-8234-4517-8772-40dd06e2157e.json
  packages/react-avatar/src/AvatarIcon.stories.tsx
  packages/react-avatar/src/components/Avatar/__snapshots__/Avatar.test.tsx.snap
  packages/react-avatar/src/components/Avatar/useAvatar.tsx
  packages/react-avatar/src/components/Avatar/useAvatarStyles.ts
Labels: Component: Avatar

#21142 Publish react-input and add to react-components under unstable
  apps/pr-deploy-site/just.config.ts
  apps/pr-deploy-site/pr-deploy-site.js
  change/@fluentui-react-components-ea4050e0-fb62-4709-a678-0baf10d7bcfa.json
  change/@fluentui-react-input-c5b897ac-9f07-4c14-8dcf-16702a2e9e1a.json
  packages/react-components/package.json
  packages/react-components/src/unstable/index.ts
  packages/react-input/package.json
  packages/react-input/src/components/Input/Input.tsx
  packages/react-input/src/stories/Input.stories.tsx
Labels: Component: Input

#20839 Combobox(v7): adds check so it cannot be opened if disabled
  change/office-ui-fabric-react-5820edc7-b4f7-4378-bd2e-5b207c0da688.json
  packages/office-ui-fabric-react/src/components/ComboBox/ComboBox.test.tsx
  packages/office-ui-fabric-react/src/components/ComboBox/ComboBox.tsx
Labels: Type: Bug :bug:, Component: ComboBox, Fabric 7, Fluent UI react (v7)

#20950 chore(react-radio) - Change ownership
  .github/CODEOWNERS
Labels: Fluent UI vNext, Component: Radio

#21150 Remove outdated or unused boilerplate comments and types
  change/@fluentui-react-badge-02ab58cb-4550-4fe4-a652-70fea147324e.json
  change/@fluentui-react-card-44d69321-d166-4988-b3e9-9672c6f95f49.json
  change/@fluentui-react-label-5af6dd84-ecda-4733-8732-7819f8368484.json
  change/@fluentui-react-tooltip-db9f0c54-986d-407e-a0f0-c84cf44b74a5.json
  packages/react-badge/src/components/CounterBadge/CounterBadge.types.ts
  packages/react-card/etc/react-card.api.md
  packages/react-card/src/components/Card/Card.types.ts
  packages/react-components/src/unstable/index.ts
  packages/react-label/Spec.md
  packages/react-label/etc/react-label.api.md
  packages/react-label/src/components/Label/Label.types.ts
  packages/react-radio/etc/react-radio.api.md
  packages/react-radio/src/components/Radio/Radio.types.ts
  packages/react-radio/src/components/Radio/useRadio.ts
  packages/react-tooltip/src/components/Tooltip/useTooltip.tsx
Labels: Fluent UI vNext

#20657 Slider refactor
  apps/vr-tests/src/stories/RangedSliderConverged.stories.tsx
  apps/vr-tests/src/stories/SliderConverged.stories.tsx
  change/@fluentui-react-slider-03252d64-5321-44f5-a760-9bbdadf077a3.json
  packages/react-slider/bundle-size/RangedSlider.fixture.js
  packages/react-slider/etc/react-slider.api.md
  packages/react-slider/package.json
  packages/react-slider/src/RangedSlider.stories.tsx
  packages/react-slider/src/RangedSlider.ts
  packages/react-slider/src/Slider.stories.tsx
  packages/react-slider/src/components/RangedSlider/RangedSlider.test.tsx
  packages/react-slider/src/components/RangedSlider/RangedSlider.tsx
  packages/react-slider/src/components/RangedSlider/RangedSlider.types.ts
  packages/react-slider/src/components/RangedSlider/Spec.md
  packages/react-slider/src/components/RangedSlider/__snapshots__/RangedSlider.test.tsx.snap
  packages/react-slider/src/components/RangedSlider/index.ts
  packages/react-slider/src/components/RangedSlider/renderRangedSlider.tsx
  packages/react-slider/src/components/RangedSlider/useRangedSlider.ts
  packages/react-slider/src/components/RangedSlider/useRangedSliderState.tsx
  packages/react-slider/src/components/RangedSlider/useRangedSliderStyles.ts
  packages/react-slider/src/components/Slider/Slider.stories.tsx
  packages/react-slider/src/components/Slider/Slider.test.tsx
  packages/react-slider/src/components/Slider/Slider.types.ts
  packages/react-slider/src/components/Slider/Spec.md
  packages/react-slider/src/components/Slider/__snapshots__/Slider.test.tsx.snap
  packages/react-slider/src/components/Slider/renderSlider.tsx
  packages/react-slider/src/components/Slider/stories/SliderControlled.stories.tsx
  packages/react-slider/src/components/Slider/stories/SliderDefault.stories.tsx
  packages/react-slider/src/components/Slider/stories/SliderDisabled.stories.tsx
  packages/react-slider/src/components/Slider/stories/SliderOrigin.stories.tsx
  packages/react-slider/src/components/Slider/stories/SliderSize.stories.tsx
  packages/react-slider/src/components/Slider/stories/SliderStep.stories.tsx
  packages/react-slider/src/components/Slider/stories/SliderVertical.stories.tsx
  packages/react-slider/src/components/Slider/useSlider.ts
  packages/react-slider/src/components/Slider/useSliderState.tsx
  packages/react-slider/src/components/Slider/useSliderStyles.ts
  packages/react-slider/src/index.ts
  packages/react-slider/src/utils/calculateSteps.ts
  packages/react-slider/src/utils/findClosestThumb.ts
  packages/react-slider/src/utils/getKeydownValue.ts
  packages/react-slider/src/utils/getMarkPercent.ts
  packages/react-slider/src/utils/getMarkValues.ts
  packages/react-slider/src/utils/getPercent.ts
  packages/react-slider/src/utils/index.ts
  packages/react-slider/src/utils/on.ts
  packages/react-slider/src/utils/renderMarks.tsx
  packages/react-slider/src/utils/validateRangedThumbValues.ts
Labels: Component: Slider, Area: Testing, Fluent UI vNext

#20651 RFC: no functions in makeStyles()
  rfcs/convergence/make-styles-no-functions.md
Labels: AutoMerge, Fluent UI vNext, Type: RFC

#21026 react-theme: Exporting token to css variable mapping
  change/@fluentui-react-theme-29a85799-2552-40b5-bf1b-9c0c4372f1a4.json
  packages/react-theme/etc/react-theme.api.md
  packages/react-theme/src/index.ts
  packages/react-theme/src/tokens.ts
Labels: Fluent UI vNext

#21028 vr-tests: Replacing use of functions in makeStyles with direct use of tokens
  apps/vr-tests/src/stories/Badge.stories.tsx
  apps/vr-tests/src/stories/MakeStyles.stories.tsx
Labels: AutoMerge

#21042 react-components: Replacing use of functions in makeStyles with direct use of tokens
  change/@fluentui-react-components-1b3e39f8-2025-47cb-bf2e-c541853c97b8.json
  packages/react-components/src/Concepts/StylingComponents.stories.mdx
  packages/react-components/src/DocsComponents/FluentDocsHeader.stories.tsx
Labels: AutoMerge

#20555 docs: react-radio spec
  packages/react-radio/Spec.md
  packages/react-radio/etc/images/horizontal-group-stacked.png
  packages/react-radio/etc/images/horizontal-group.png
  packages/react-radio/etc/images/vertical-group-with-dropdown.png
  packages/react-radio/etc/images/vertical-group-with-input.png
  packages/react-radio/etc/images/vertical-group-with-subtext.png
  packages/react-radio/etc/images/vertical-group.png
Labels: Fluent UI vNext, Type: Spec, Component: Radio

#20882 RFC: Rename and move out `makeStyles` to a separate repo
  rfcs/convergence/move-out-n-rename-makestyles.md
Labels: Fluent UI vNext, Type: RFC

#21189 fix(ChatMessage): use chat context as default value when user prop is explicitly undefined
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/components/Chat/ChatMessage.tsx
Labels: Fluent UI react-northstar

#21040 react-card: Replacing use of functions in makeStyles with direct use of tokens
  change/@fluentui-react-card-2b89d931-1098-475d-857a-997aad0218ff.json
  packages/react-card/src/components/Card/useCardStyles.ts
  packages/react-card/src/components/CardPreview/useCardPreviewStyles.ts
Labels: AutoMerge

#21043 react-divider: Replacing use of functions in makeStyles with direct use of tokens
  change/@fluentui-react-divider-2cae8046-6e93-4f95-820e-552bffe06e6d.json
  packages/react-divider/src/components/Divider/useDividerStyles.ts
  packages/react-divider/src/stories/DividerAlignContent.stories.tsx
  packages/react-divider/src/stories/DividerAppearance.stories.tsx
  packages/react-divider/src/stories/DividerCustomStyles.stories.tsx
  packages/react-divider/src/stories/DividerDefault.stories.tsx
  packages/react-divider/src/stories/DividerInset.stories.tsx
  packages/react-divider/src/stories/DividerVertical.stories.tsx
Labels: AutoMerge

#21044 react-image: Replacing use of functions in makeStyles with direct use of tokens
  change/@fluentui-react-image-1eccf8fc-d0e8-4674-b625-a66db140efc2.json
  packages/react-image/src/components/Image/useImageStyles.ts
Labels: AutoMerge

#21047 react-link: Replacing use of functions in makeStyles with direct use of tokens
  change/@fluentui-react-link-d691853c-74c7-49d7-bfec-589a28e0c5a6.json
  packages/react-link/src/components/Link/useLinkStyles.ts
Labels: AutoMerge

#21073 Ignore unpublished files in yarn change
  scripts/beachball/index.ts
Labels: Area: Build System

#21086 Tooltip: Add screener tests and fix high contrast border
  apps/vr-tests/package.json
  apps/vr-tests/src/stories/TooltipConverged.stories.tsx
  change/@fluentui-react-popover-367930d5-081a-450f-abd0-86a3c928d2f8.json
  change/@fluentui-react-positioning-e75d33c8-6bb2-42ab-a438-246f0544a823.json
  change/@fluentui-react-tooltip-9e0085eb-2ad8-4d35-9721-29b6f30fc9fe.json
  packages/react-popover/src/components/PopoverSurface/usePopoverSurfaceStyles.ts
  packages/react-positioning/etc/react-positioning.api.md
  packages/react-positioning/src/createArrowStyles.ts
  packages/react-tooltip/src/components/Tooltip/useTooltip.tsx
  packages/react-tooltip/src/components/Tooltip/useTooltipStyles.ts
Labels: Component: Tooltip

#21039 react-button: Replacing use of functions in makeStyles with direct use of tokens
  change/@fluentui-react-button-31255b17-2d6b-4be2-a8ca-c8e25fd68b5e.json
  packages/react-button/src/components/Button/useButtonStyles.ts
  packages/react-button/src/components/CompoundButton/useCompoundButtonStyles.ts
  packages/react-button/src/components/SplitButton/useSplitButtonStyles.ts
  packages/react-button/src/components/ToggleButton/useToggleButtonStyles.ts
Labels: AutoMerge

#21201 codemods: Removing makeStyles related codemods as they are not relevant anymore
  change/@fluentui-codemods-b0e7983b-ca09-4300-ad32-467ddd861bdc.json
  packages/codemods/src/codeMods/mods/v9ThemeFlattening/v9ThemeFlattening.mod.ts
  packages/codemods/src/codeMods/tests/mock/v9/mMakeStylesDeep.ts
  packages/codemods/src/codeMods/tests/v9ThemeFlattening/v9ThemeFlattening.test.ts
Labels: Area: Build System, Type: Cleanup, Package: codemods

#21036 react-accordion: Replacing use of functions in makeStyles with direct use of tokens
  change/@fluentui-react-accordion-e2c238a6-e018-455c-8097-34a33d1269ae.json
  packages/react-accordion/src/components/AccordionHeader/useAccordionHeaderStyles.ts
Labels: AutoMerge

#21048 react-menu: Replacing use of functions in makeStyles with direct use of tokens
  change/@fluentui-react-menu-85a8dd29-260c-41ed-85be-71ac980bc2d1.json
  packages/react-menu/src/components/MenuDivider/useMenuDividerStyles.ts
  packages/react-menu/src/components/MenuGroupHeader/useMenuGroupHeaderStyles.ts
  packages/react-menu/src/components/MenuItem/useMenuItemStyles.ts
  packages/react-menu/src/components/MenuPopover/useMenuPopoverStyles.ts
  packages/react-menu/src/stories/MenuListDefault.stories.tsx
  packages/react-menu/src/stories/MenuListNestedSubmenus.stories.tsx
Labels: AutoMerge

#21203 react-components: Cleaning up change file to indicate change as type none since the change was affecting just stories and not published code
  change/@fluentui-react-components-1b3e39f8-2025-47cb-bf2e-c541853c97b8.json
Labels: Type: Cleanup

#21176 GroupedList: removes aria-label attribute when rowgroup is empty.
  change/@fluentui-react-0b4f7a14-5ede-4e1d-9ed9-e83d9eaf95ea.json
  packages/react-examples/src/react/__snapshots__/DetailsList.Grouped.Example.tsx.shot
  packages/react/src/components/List/List.tsx
Labels: Component: List

#21204 Tooltip: Move arrowHeight and tooltipBorderRadius into a common constants.ts file
  change/@fluentui-react-tooltip-12cd10b5-3dc5-4754-8481-c51c14a5ed2f.json
  packages/react-tooltip/src/components/Tooltip/private/constants.ts
  packages/react-tooltip/src/components/Tooltip/useTooltip.tsx
  packages/react-tooltip/src/components/Tooltip/useTooltipStyles.ts
Labels: Component: Tooltip

#21198 Remove outdated RFC: Improved type checking for component props
  rfcs/react-components/convergence/props-typing-improvements.md
Labels: Type: RFC

#21209 Add orient to slider input type
  change/@fluentui-react-slider-03252d64-5321-44f5-a760-9bbdadf077a3.json
  change/@fluentui-react-slider-adb3b9a6-93c2-4a83-ac82-1978bd258e89.json
  change/@fluentui-react-slider-e5eb2b9f-5c8e-43d2-b31a-39b735608627.json
  packages/react-slider/etc/react-slider.api.md
  packages/react-slider/src/components/Slider/Slider.types.ts
  packages/react-slider/src/components/Slider/__snapshots__/Slider.test.tsx.snap
  packages/react-slider/src/components/Slider/useSlider.ts
Labels: Component: Slider

#21112 chore: bump node-sass to v6
  apps/vr-tests/.storybook/main.js
  package.json
  scripts/package.json
  yarn.lock
Labels: Area: Build System

#21224 chore: update caniuse-lite
  yarn.lock
Labels: Fluent UI react-northstar

#21173 fix(Animation): use `useMergedRefs` for Transition nodeRef
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-bindings/src/compose/consts.ts
  packages/fluentui/react-northstar/src/components/Animation/Animation.tsx
Labels: Fluent UI react-northstar

#20640 User/nojittip/fix focus bug
  change/@fluentui-react-charting-82c5fe77-4c08-4fbd-9e78-22faa00f4909.json
  packages/react-charting/src/components/LineChart/LineChart.base.tsx
  packages/react-charting/src/components/LineChart/__snapshots__/LineChart.test.tsx.snap
  packages/react-examples/src/react-charting/LineChart/LineChart.Basic.Example.tsx
  packages/react-examples/src/react-charting/LineChart/LineChart.Gaps.Example.tsx
Labels: Package: charting

#21199 Pickers Suggestions: add searchForMoreText button to the suggestions listbox.
  change/@fluentui-react-59dcc92e-109f-4a42-b52d-6a080b3c0cbc.json
  packages/react/src/components/pickers/Suggestions/Suggestions.tsx
  packages/react/src/components/pickers/Suggestions/__snapshots__/Suggestions.test.tsx.snap
Labels: Component: Pickers

#21195 Stop exporting Commons types from react-components
  change/@fluentui-react-components-a3109946-9e50-442e-8917-9b82951226c7.json
  packages/react-components/etc/react-components.api.md
  packages/react-components/src/index.ts
Labels: Fluent UI vNext

#21233 Cherry pick - User/nojittip/fix focus bug
  change/@uifabric-charting-71736812-4ba0-48f7-8b78-f9cb5396b531.json
  packages/charting/src/components/LineChart/LineChart.base.tsx
  packages/charting/src/components/LineChart/__snapshots__/LineChart.test.tsx.snap
  packages/react-examples/src/charting/LineChart/LineChart.Basic.Example.tsx
  packages/react-examples/src/charting/LineChart/LineChart.Gap.Example.tsx
Labels: Package: charting, Fabric 7

#21205 Input: fix issues from a11y review
  change/@fluentui-react-input-80a0046e-4134-4acd-adfc-9e114bb26396.json
  packages/react-input/src/components/Input/useInputStyles.ts
  packages/react-input/src/stories/InputAppearance.stories.tsx
  packages/react-input/src/stories/InputContentBeforeAfter.stories.tsx
  packages/react-input/src/stories/InputDefault.stories.tsx
  packages/react-input/src/stories/InputSize.stories.tsx
Labels: Component: Input

#20973 Combobox(v8): adds check so it cannot be opened if disabled #17955
  change/@fluentui-react-1675c06d-4fee-408f-8f9b-19a8b360d88e.json
  packages/react/src/components/ComboBox/ComboBox.test.tsx
  packages/react/src/components/ComboBox/ComboBox.tsx
Labels: Type: Bug :bug:, Component: ComboBox, Fluent UI react (v8)

#21170 fix: MenuItemWrapper should not pass-through 'on' prop
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/components/Menu/MenuItemWrapper.tsx
  packages/fluentui/react-northstar/test/specs/components/Menu/Menu-test.tsx
Labels: Fluent UI react-northstar

#21143 Add workaround for Cypress issue on Windows (non-WSL)
  change/@fluentui-react-menu-1422f6f8-159f-4fbb-8ab3-58e24e923beb.json
  change/@fluentui-react-popover-aaf223d9-a59d-4043-8673-01dcea0a4caa.json
  change/@fluentui-react-tabster-262e9d2a-fb1e-4972-8236-654d9a3c2b85.json
  packages/react-menu/e2e/support.js
  packages/react-popover/e2e/support.js
  packages/react-tabster/e2e/support.js
  scripts/cypress.js
  tools/generators/migrate-converged-pkg/index.spec.ts
  tools/generators/migrate-converged-pkg/index.ts
  tools/utils.ts
Labels: Area: Build System, Area: Testing

#21239 make-styles: Removing functions from makeStyles
  change/@fluentui-jest-serializer-make-styles-85827bea-cbfa-43f7-960b-64286976e066.json
  change/@fluentui-make-styles-578dffd4-f983-4e4b-b011-13b6e32d232b.json
  change/@fluentui-make-styles-webpack-loader-7e71576a-78fa-49a0-97ea-49226e6b7fea.json
  change/@fluentui-react-make-styles-fabf9f28-9def-489f-8068-06701c956ecf.json
  change/@fluentui-react-menu-6ff7b7cc-76e3-47f9-8598-08ecb744e095.json
  change/@fluentui-react-popover-9cbe6857-563f-4410-a52c-600b466d6690.json
  packages/babel-make-styles/__fixtures__/arrow-function-body/code.ts
  packages/babel-make-styles/__fixtures__/arrow-function-body/output.ts
  packages/babel-make-styles/__fixtures__/arrow-function-nesting/code.ts
  packages/babel-make-styles/__fixtures__/arrow-function-nesting/consts.ts
  packages/babel-make-styles/__fixtures__/arrow-function-nesting/output.ts
  packages/babel-make-styles/__fixtures__/arrow-function-no-param/code.ts
  packages/babel-make-styles/__fixtures__/arrow-function-no-param/output.ts
  packages/babel-make-styles/__fixtures__/arrow-function-variables/code.ts
  packages/babel-make-styles/__fixtures__/arrow-function-variables/output.ts
  packages/babel-make-styles/__fixtures__/arrow-function/code.ts
  packages/babel-make-styles/__fixtures__/compiled-optional-chaining/code.ts
  packages/babel-make-styles/__fixtures__/compiled-optional-chaining/output.ts
  packages/babel-make-styles/__fixtures__/config-babel-options/code.ts
  packages/babel-make-styles/__fixtures__/config-babel-options/output.ts
  packages/babel-make-styles/__fixtures__/config-evaluation-rules/code.ts
  packages/babel-make-styles/__fixtures__/config-evaluation-rules/output.ts
  packages/babel-make-styles/__fixtures__/function-imported-keys/code.ts
  packages/babel-make-styles/__fixtures__/function-imported-keys/consts.ts
  packages/babel-make-styles/__fixtures__/function-imported-keys/output.ts
  packages/babel-make-styles/__fixtures__/function-mixin/mixins.ts
  packages/babel-make-styles/__fixtures__/function/code.ts
  packages/babel-make-styles/__fixtures__/function/output.ts
  packages/babel-make-styles/__fixtures__/object-mixins/mixins.ts
  packages/babel-make-styles/__fixtures__/tokens/code.ts
  packages/babel-make-styles/__fixtures__/tokens/output.ts
  packages/jest-serializer-make-styles/package.json
  packages/jest-serializer-make-styles/src/index.test.tsx
  packages/make-styles-webpack-loader/__fixtures__/object/code.ts
  packages/make-styles-webpack-loader/__fixtures__/object/output.ts
  packages/make-styles-webpack-loader/__fixtures__/webpack-aliases/code.ts
  packages/make-styles-webpack-loader/__fixtures__/webpack-aliases/output.ts
  packages/make-styles-webpack-loader/__fixtures__/webpack-resolve-plugins/code.ts
  packages/make-styles-webpack-loader/__fixtures__/webpack-resolve-plugins/output.ts
  packages/make-styles-webpack-loader/package.json
  packages/make-styles/etc/make-styles.api.md
  packages/make-styles/src/index.ts
  packages/make-styles/src/makeStyles.test.ts
  packages/make-styles/src/makeStyles.ts
  packages/make-styles/src/resolveStyleRulesForSlots.test.ts
  packages/make-styles/src/resolveStyleRulesForSlots.ts
  packages/make-styles/src/types.ts
  packages/react-dialog/src/components/Dialog/useDialogStyles.ts
  packages/react-make-styles/etc/react-make-styles.api.md
  packages/react-make-styles/src/index.ts
  packages/react-make-styles/src/makeStyles.ts
  packages/react-menu/src/components/MenuSplitGroup/useMenuSplitGroupStyles.ts
  packages/react-popover/src/components/PopoverSurface/usePopoverSurfaceStyles.ts
  packages/react-tabs/src/components/Tab/useTabStyles.ts
  packages/react-tabs/src/components/TabList/useTabListStyles.ts
  scripts/create-component/plop-templates/src/components/{{componentName}}/use{{componentName}}Styles.ts.hbs
  scripts/create-package/plop-templates-react/package.json.hbs
Labels: Area: JS Styling, Package: styling

#21180 (web-components) Update tab panel to base type size
  change/@fluentui-web-components-0e8033b0-8a6d-486e-bb1f-c6d0054108b5.json
  packages/web-components/src/tabs/tab-panel/tab-panel.styles.ts
Labels: web-components

#21217 tokens: Removing need to cast fontWeight token as React.CSSProperties['fontWeight'] when using it inside of a makeStyles call
  change/@fluentui-make-styles-5dc363b1-28c7-41e4-a553-a3dab53d30cf.json
  change/@fluentui-react-avatar-04d04982-d8aa-4040-9cd1-2892627e2084.json
  change/@fluentui-react-badge-73a9f20b-c09d-4be9-9468-48a792425997.json
  change/@fluentui-react-button-c322786d-f3dc-44e8-a9b1-8f1a78c8bbdd.json
  change/@fluentui-react-divider-d3c674cc-5b9d-4a43-ac5b-36e34de89e53.json
  change/@fluentui-react-label-c10a1b2b-69fb-4a4f-a2d5-7913c96e005c.json
  change/@fluentui-react-link-09859fd7-02db-406c-b813-09b747cfa688.json
  change/@fluentui-react-menu-d9892575-ddc8-443c-bc36-a4ccbd294def.json
  change/@fluentui-react-provider-37ac1099-346a-4d39-88fa-0097add93a1a.json
  change/@fluentui-react-text-c883e2a9-9e76-46eb-b6a5-16561c4f6fb8.json
  packages/babel-make-styles/__fixtures__/object-mixins/mixins.ts
  packages/make-styles/src/types.ts
  packages/react-avatar/src/components/Avatar/useAvatarStyles.ts
  packages/react-badge/src/components/Badge/useBadgeStyles.ts
  packages/react-button/src/components/Button/useButtonStyles.ts
  packages/react-button/src/components/CompoundButton/useCompoundButtonStyles.ts
  packages/react-divider/src/components/Divider/useDividerStyles.ts
  packages/react-label/src/components/Label/useLabelStyles.ts
  packages/react-link/src/components/Link/useLinkStyles.ts
  packages/react-menu/src/components/MenuGroupHeader/useMenuGroupHeaderStyles.ts
  packages/react-provider/src/components/FluentProvider/useFluentProviderStyles.ts
  packages/react-radio/src/components/RadioItem/useRadioItemStyles.ts
  packages/react-text/src/components/Text/useTextStyles.ts
  packages/react-text/src/typographyStyles/typographyStyles.ts
Labels: Area: JS Styling, Area: Theming

#21221 react-button: remove fixed-size icons
  change/@fluentui-react-button-5cc8ef32-ce96-4881-bd8e-e9dbc462c7c6.json
  packages/react-button/src/components/Button/stories/ButtonDisabled.stories.tsx
  packages/react-button/src/components/Button/stories/ButtonIcon.stories.tsx
  packages/react-button/src/components/Button/stories/ButtonSize.stories.tsx
  packages/react-button/src/components/CompoundButton/stories/CompoundButtonDisabled.stories.tsx
  packages/react-button/src/components/CompoundButton/stories/CompoundButtonIcon.stories.tsx
  packages/react-button/src/components/MenuButton/stories/MenuButtonIcon.stories.tsx
  packages/react-button/src/components/MenuButton/stories/MenuButtonSizeLarge.stories.tsx
  packages/react-button/src/components/MenuButton/stories/MenuButtonSizeMedium.stories.tsx
  packages/react-button/src/components/MenuButton/stories/MenuButtonSizeSmall.stories.tsx
  packages/react-button/src/components/MenuButton/useMenuButton.tsx
  packages/react-button/src/components/SplitButton/stories/SplitButtonIcon.stories.tsx
  packages/react-button/src/components/SplitButton/stories/SplitButtonSizeLarge.stories.tsx
  packages/react-button/src/components/SplitButton/stories/SplitButtonSizeMedium.stories.tsx
  packages/react-button/src/components/SplitButton/stories/SplitButtonSizeSmall.stories.tsx
  packages/react-button/src/components/ToggleButton/stories/ToggleButtonDisabled.stories.tsx
  packages/react-button/src/components/ToggleButton/stories/ToggleButtonIcon.stories.tsx
Labels: Component: Button

#21222 react-menu: remove fixed-size icons
  change/@fluentui-react-menu-9f983fe2-dde4-4d1d-a059-cb0132875ecf.json
  packages/react-menu/src/components/MenuItem/useMenuItem.tsx
  packages/react-menu/src/components/MenuItem/useMenuItemStyles.ts
  packages/react-menu/src/stories/MenuAligningWithIcons.stories.tsx
  packages/react-menu/src/stories/MenuAligningWithSelectableItems.stories.tsx
  packages/react-menu/src/stories/MenuCheckboxItems.stories.tsx
  packages/react-menu/src/stories/MenuControlledCheckboxItems.stories.tsx
  packages/react-menu/src/stories/MenuControlledRadioItems.stories.tsx
  packages/react-menu/src/stories/MenuGrouppingItems.stories.tsx
  packages/react-menu/src/stories/MenuMemoizedMenuItems.stories.tsx
  packages/react-menu/src/stories/MenuMenuItemsWithIcons.stories.tsx
  packages/react-menu/src/stories/MenuRadioItems.stories.tsx
  packages/react-menu/src/stories/MenuSelectionGroup.stories.tsx
  packages/react-menu/src/stories/MenuVisualDividerOnly.stories.tsx
Labels: Component: MenuItem

#21223 react-tabs: Replace fixed-sized icons with resizable icons
  packages/react-tabs/src/components/Tab/Tab.test.tsx
  packages/react-tabs/src/components/Tab/__snapshots__/Tab.test.tsx.snap
  packages/react-tabs/src/stories/TabListSizeMedium.stories.tsx
  packages/react-tabs/src/stories/TabListSizeSmall.stories.tsx
  packages/react-tabs/src/stories/TabListWithIcon.stories.tsx
Labels: Component: Pivot

#21257 breaking: stop exporting useTheme() hook
  change/@fluentui-react-components-c4676f9d-868b-4612-8296-8a30d56a2a12.json
  packages/react-components/etc/react-components.api.md
  packages/react-components/src/index.ts
Labels: Fluent UI vNext

#21211 Overhaul v8 icon doc text and add search for SVG icons
  apps/public-docsite/package.json
  apps/public-docsite/src/components/IconGrid/IconGrid.module.scss
  apps/public-docsite/src/components/IconGrid/IconGrid.tsx
  apps/public-docsite/src/pages/Styles/FabricIconsPage/FabricIconsPage.tsx
  apps/public-docsite/src/pages/Styles/FabricIconsPage/docs/web/FabricIconsOverview.md
  apps/public-docsite/src/pages/Styles/FabricIconsPage/docs/web/FabricIconsSvgUsage.md
  apps/public-docsite/src/pages/Styles/FabricIconsPage/docs/web/FabricIconsUsage.md
  apps/public-docsite/tsconfig.json
  apps/public-docsite/webpack.serve.config.js
  change/@fluentui-react-icons-mdl2-8882c28b-5494-4624-b8e4-7c154b6a68cb.json
  change/@fluentui-react-icons-mdl2-branded-9032da2d-4806-4448-99f8-1fd1b315a19f.json
  package.json
  packages/fluentui/perf-test/package.json
  packages/react-icons-mdl2-branded/README.md
  packages/react-icons-mdl2/README.md
  packages/react-icons-mdl2/package.json
  scripts/package.json
  yarn.lock
Labels: Area: Website, Area: Icons

#21268 SearchBox: fix event handling regressions in v8
  change/@fluentui-react-fcd957e6-b238-45ac-903b-58074ead0e6a.json
  packages/react/src/components/SearchBox/SearchBox.base.tsx
Labels: Component: SearchBox

#21186 chore(react-theme) Add theme tokens bundle size fixture
  change/@fluentui-react-theme-6367506a-f6be-4858-acee-56a229d62667.json
  packages/react-theme/bundle-size/SingleThemeToken.fixture.js
Labels: Fluent UI vNext

#21259 docs(react-card): Add Alpha notice to docs
  change/@fluentui-react-card-44f41c2d-fa7d-4d71-af4c-4d1266a58268.json
  packages/react-card/README.md
  packages/react-card/src/Card.stories.tsx
  packages/react-card/src/CardDescription.md
Labels: Area: Documentation, Type: Documentation, Component: Card, Fluent UI vNext

#21247 chore: re-enable react-storybook-addon and babel-make-styles for react-components
  change/@fluentui-react-components-9d99eb03-ece2-4410-be0a-ef3e876c43b3.json
  packages/react-components/.storybook/main.js
  packages/react-components/package.json
  packages/react-storybook-addon/README.md
  packages/react-storybook-addon/package.json
  packages/react-storybook-addon/preset.js
Labels: Area: Build System, Area: Documentation, Fluent UI vNext, Storybook, Package: react-storybook-addon

#21265 feat: add storybook runner wrapper for vNext packages consumption
  scripts/storybook/runner.js
  tools/generators/migrate-converged-pkg/index.spec.ts
  tools/generators/migrate-converged-pkg/index.ts
Labels: Area: Build System

#21249 Custom style for AreaLine, Point and Point Line in Area Chart
  change/@fluentui-react-charting-2b7d40b1-bdc7-4667-928c-2af8a738555d.json
  packages/react-charting/src/components/AreaChart/AreaChart.base.tsx
  packages/react-charting/src/components/AreaChart/__snapshots__/AreaChart.test.tsx.snap
  packages/react-charting/src/types/IDataPoint.ts
  packages/react-examples/src/react-charting/AreaChart/AreaChart.Styled.Example.tsx
Labels: Package: charting

#21215 fix an issue with ChoiceGroup and focus rectangles
  change/@fluentui-react-3b2991ef-caf7-43f9-aacf-62b7cf3451b1.json
  packages/react-examples/src/react/ChoiceGroup/ChoiceGroup.Custom.Example.tsx
  packages/react-examples/src/react/__snapshots__/ChoiceGroup.Custom.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/CommandBar.Basic.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/CommandBar.CommandBarButtonAs.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/FocusTrapZone.Box.Click.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/FocusTrapZone.Box.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/FocusTrapZone.Box.FocusOnCustomElement.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/FocusTrapZone.FocusZone.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/FocusTrapZone.Nested.Example.tsx.shot
  packages/react/src/components/ChoiceGroup/ChoiceGroup.base.tsx
  packages/react/src/components/Coachmark/__snapshots__/Coachmark.test.tsx.snap
  packages/react/src/components/Dialog/__snapshots__/Dialog.deprecated.test.tsx.snap
  packages/react/src/components/FocusTrapZone/FocusTrapZone.tsx
  packages/react/src/components/HoverCard/__snapshots__/HoverCard.test.tsx.snap
  packages/react/src/components/Modal/__snapshots__/Modal.test.tsx.snap
  packages/react/src/components/Panel/__snapshots__/Panel.test.tsx.snap
  packages/react/src/components/TeachingBubble/__snapshots__/TeachingBubble.deprecated.test.tsx.snap
  packages/react/src/components/TeachingBubble/__snapshots__/TeachingBubble.test.tsx.snap
Labels: Component: ChoiceGroup

#21278 feat: remove mergeThemes API
  change/@fluentui-react-components-f34f712d-15c2-4cc9-be35-95c55efad70b.json
  change/@fluentui-react-provider-d474a580-e643-4191-96db-4d4abf014352.json
  change/@fluentui-react-theme-4896497c-3947-4f7c-b2af-97b5cbf1c335.json
  packages/react-components/etc/react-components.api.md
  packages/react-components/src/index.ts
  packages/react-provider/src/components/FluentProvider/useFluentProvider.ts
  packages/react-theme/etc/react-theme.api.md
  packages/react-theme/package.json
  packages/react-theme/src/utils/index.ts
  packages/react-theme/src/utils/mergeThemes.test.ts
  packages/react-theme/src/utils/mergeThemes.ts
Labels: Area: Theming, Fluent UI vNext, Needs: API Breaking Change

#21286 feat: redo FluentProvider theme api
  change/@fluentui-react-provider-799f4a36-cc2b-48d7-ba65-9b54b83ac24a.json
  change/@fluentui-react-shared-contexts-2267ecce-105d-4bde-b47f-335b56635347.json
  packages/react-provider/etc/react-provider.api.md
  packages/react-provider/src/components/FluentProvider/FluentProvider.test.tsx
  packages/react-provider/src/components/FluentProvider/FluentProvider.types.ts
  packages/react-provider/src/components/FluentProvider/useFluentProvider.test.tsx
  packages/react-provider/src/components/FluentProvider/useFluentProvider.ts
  packages/react-provider/src/components/FluentProvider/useFluentProviderContextValues.test.ts
  packages/react-provider/src/components/FluentProvider/useThemeStyleTag.ts
  packages/react-shared-contexts/etc/react-shared-contexts.api.md
  packages/react-shared-contexts/src/ThemeContext/ThemeContext.ts
  packages/react-shared-contexts/src/ThemeContext/ThemeContext.types.ts
  packages/react-shared-contexts/src/ThemeContext/index.ts
Labels: Fluent UI vNext, Needs: API Breaking Change

#21287 fix(MenuItemWrapper): selected items to have active styles
  packages/fluentui/accessibility/src/behaviors/Tab/tabBehavior.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Menu/menuItemWrapperStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Menu/menuVariables.ts
Labels: Fluent UI react-northstar

#21283 Fix: performBrowserTest now utilizes unused port provided by express.
  scripts/projects-test/performBrowserTest.ts
Labels: Area: Build System, Area: Testing

#21293 fix(public-docsite): non-repeated link names on Fluent home page
  apps/public-docsite/src/pages/HomePage/HomePage.base.tsx
Labels: Area: Website

#21162 Properly pass menu target to submenu items
  change/@fluentui-react-55f24add-1f2f-4771-9a0e-f68612e8ad4e.json
  packages/react/src/components/ContextualMenu/ContextualMenu.base.tsx
Labels: Component: ContextualMenu, PR: API Modified

#21294 [web-components]: Remove unused declared variables in combobox
  change/@fluentui-web-components-e23b11e5-b929-428a-a271-c8f6931c8133.json
  packages/web-components/src/combobox/combobox.styles.ts
Labels: web-components

#21292 Added aria-orientation to divider
  change/@fluentui-react-divider-8007dcbe-33ef-4d80-9b15-0cfca85bdc66.json
  packages/react-divider/src/components/Divider/Divider.test.tsx
  packages/react-divider/src/components/Divider/__snapshots__/Divider.test.tsx.snap
  packages/react-divider/src/components/Divider/useDivider.ts
Labels: Area: Accessibility, Component: Divider

#21285 fix(Accordion): removes children as slot from AccordionHeader
  change/@fluentui-react-accordion-92351cf0-bf2f-428a-8481-a180fbbd6468.json
  packages/react-accordion/etc/react-accordion.api.md
  packages/react-accordion/src/components/AccordionHeader/AccordionHeader.types.ts
  packages/react-accordion/src/components/AccordionHeader/__snapshots__/AccordionHeader.test.tsx.snap
  packages/react-accordion/src/components/AccordionHeader/renderAccordionHeader.tsx
  packages/react-accordion/src/components/AccordionHeader/useAccordionHeader.tsx
  packages/react-accordion/src/components/AccordionHeader/useAccordionHeaderStyles.ts
Labels: Component: Accordion, Component: AccordionHeader

#21274 refactor: remove unused theme-proxy functionality in makeStyles()
  change/@fluentui-babel-make-styles-304cf4db-da89-43a3-aef7-2b48ef359033.json
  change/@fluentui-make-styles-e704fbd1-c6bd-4424-a822-9e97830fa365.json
  packages/babel-make-styles/src/utils/evaluatePathsInVM.test.ts
  packages/babel-make-styles/src/utils/evaluatePathsInVM.ts
  packages/make-styles/etc/make-styles.api.md
  packages/make-styles/src/index.ts
  packages/make-styles/src/runtime/createCSSVariablesProxy.test.ts
  packages/make-styles/src/runtime/createCSSVariablesProxy.ts
Labels: Area: JS Styling, Fluent UI vNext

#21288 perf(makeStyles): rework mergeClasses() to compute cache key faster
  change/@fluentui-make-styles-6ed780fb-da77-4bcf-84b2-6337e72da9f5.json
  packages/make-styles/src/mergeClasses.ts
Labels: Area: JS Styling, Fluent UI vNext

#21301 Release/0.60.1
  packages/fluentui/CHANGELOG.md
  packages/fluentui/ability-attributes/package.json
  packages/fluentui/accessibility/package.json
  packages/fluentui/circulars-test/package.json
  packages/fluentui/code-sandbox/package.json
  packages/fluentui/digest/package.json
  packages/fluentui/docs-components/package.json
  packages/fluentui/docs/package.json
  packages/fluentui/e2e/package.json
  packages/fluentui/lerna.json
  packages/fluentui/local-sandbox/package.json
  packages/fluentui/perf-test/package.json
  packages/fluentui/perf/package.json
  packages/fluentui/projects-test/package.json
  packages/fluentui/react-bindings/package.json
  packages/fluentui/react-builder/package.json
  packages/fluentui/react-component-event-listener/package.json
  packages/fluentui/react-component-nesting-registry/package.json
  packages/fluentui/react-component-ref/package.json
  packages/fluentui/react-icons-northstar/package.json
  packages/fluentui/react-northstar-emotion-renderer/package.json
  packages/fluentui/react-northstar-fela-renderer/package.json
  packages/fluentui/react-northstar-prototypes/package.json
  packages/fluentui/react-northstar-styles-renderer/package.json
  packages/fluentui/react-northstar/package.json
  packages/fluentui/react-northstar/src/themes/teams/components/Alert/alertDismissActionStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Alert/alertVariables.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Attachment/attachmentActionStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Attachment/attachmentStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Attachment/attachmentVariables.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Button/buttonStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Card/cardStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Carousel/carouselPaddleStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Carousel/carouselVariables.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Checkbox/checkboxStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/List/listItemStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Menu/menuItemStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/SplitButton/splitButtonStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/SplitButton/splitButtonToggleStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/SplitButton/splitButtonVariables.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Table/tableCellStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Table/tableRowStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Toolbar/toolbarItemStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/siteVariables.ts
  packages/fluentui/react-proptypes/package.json
  packages/fluentui/react-telemetry/package.json
  packages/fluentui/state/package.json
  packages/fluentui/styles/package.json
Labels: Fluent UI react-northstar

#21325 react-input: Removed config with just-scripts
  change/@fluentui-react-input-4f50d0b5-cd5f-411f-8f45-66cf55fae951.json
  packages/react-input/package.json
Labels: Fluent UI vNext, Component: Input

#21327 Remove Tooltip's inverted prop in favor of the appearance prop
  change/@fluentui-react-tooltip-b682fed9-f100-424e-ad72-301cc3084a23.json
  packages/react-tooltip/etc/react-tooltip.api.md
  packages/react-tooltip/src/components/Tooltip/Tooltip.types.ts
  packages/react-tooltip/src/components/Tooltip/useTooltip.tsx
Labels: Component: Tooltip

#21330 [FIX] String Misspelling in Theme Slots
  apps/public-docsite/src/pages/Styles/ThemeSlotsPage/docs/web/ThemeSlotsOverview.md
Labels: Area: Documentation, Area: Website

#21276 chore: add BROWSERSLIST_IGNORE_OLD_DATA variable
  .devops/templates/variables.yml
Labels: Area: Build System

#21225 fix(Menu): handle triggers composition
  change/@fluentui-react-menu-2a0fa934-987f-478e-87c2-10601be44ebd.json
  change/@fluentui-react-utilities-347a7d19-d036-4015-bfaa-490bcfb94b8b.json
  packages/react-menu/etc/react-menu.api.md
  packages/react-menu/src/components/MenuTrigger/MenuTrigger.tsx
  packages/react-menu/src/components/MenuTrigger/MenuTrigger.types.ts
  packages/react-menu/src/components/MenuTrigger/useMenuTrigger.ts
  packages/react-menu/src/components/MenuTrigger/useTriggerElement.test.tsx
  packages/react-menu/src/components/MenuTrigger/useTriggerElement.ts
  packages/react-menu/src/stories/Menu.stories.tsx
  packages/react-menu/src/stories/MenuTriggerWithTooltip.stories.tsx
  packages/react-utilities/etc/react-utilities.api.md
  packages/react-utilities/src/hooks/index.ts
  packages/react-utilities/src/hooks/useTriggerElement.test.tsx
  packages/react-utilities/src/hooks/useTriggerElement.ts
  packages/react-utilities/src/utils/getReactCallbackName.test.tsx
  packages/react-utilities/src/utils/getReactCallbackName.ts
Labels: Fluent UI vNext, Component: Menu

#21316 fix(Tooltip): Use shadow8 for better contrast
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/themes/teams/components/Tooltip/tooltipContentVariables.ts
Labels: Fluent UI react-northstar

#21324 fix: add missing pointing indicator for menu vertical active
  packages/fluentui/react-northstar/src/themes/teams/components/Menu/menuItemWrapperStyles.ts
Labels: Fluent UI react-northstar

#21315 fix(Card): Add border for HC theme rest state
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/themes/teams-high-contrast/components/Card/cardVariables.ts
Labels: Fluent UI react-northstar

#21261 RFC: Align API of Tooltip component to allow composition
  rfcs/react-components/components/tooltip-api-alignment.md
Labels: Type: RFC

#21335 chore: Bump tslib to 2.3.1
  package.json
  yarn.lock
Labels: Area: Build System

#21319 chore: bump tabster version
  change/@fluentui-react-tabster-cdb62ad1-7baa-47a6-a148-01a4b5812bcf.json
  packages/react-tabster/package.json
  yarn.lock
Labels: Component: Pivot

#21349 fix: MenuTrigger should work correctly when `aria-disabled="true"`
  change/@fluentui-react-menu-154a57c9-4439-40a0-8587-74adcfe20434.json
  packages/react-menu/src/components/MenuTrigger/MenuTrigger.test.tsx
  packages/react-menu/src/components/MenuTrigger/__snapshots__/MenuTrigger.test.tsx.snap
  packages/react-menu/src/components/MenuTrigger/useMenuTrigger.ts
Labels: Component: MenuTrigger

#21354 Fix tooltip arrow's high contrast border in RTL
  change/@fluentui-react-positioning-8bf7e435-add2-4059-8c21-b1f66706a1d9.json
  packages/react-positioning/src/createArrowStyles.ts
Labels: Area: Accessibility, Component: Tooltip, High Contrast

#19798 Callout/composed path
  change/@fluentui-react-e797c093-741f-4a4b-bc68-93fc2340dcc1.json
  packages/react/src/components/Callout/CalloutContent.base.tsx
Labels: Component: Callout, Needs: Attention, PR: API Modified

#21345 Slider: Update high contrast styles for better a11y
  packages/react-slider/src/components/Slider/useSliderStyles.ts
Labels: Component: Slider, Fluent UI vNext

#21280 Allow override of Breadcrumb item content and per-item overrides
  change/@fluentui-react-ed573539-35ce-4c02-8b39-24fb92cb0716.json
  packages/react/etc/react.api.md
  packages/react/src/components/Breadcrumb/Breadcrumb.base.tsx
  packages/react/src/components/Breadcrumb/Breadcrumb.types.ts
Labels: Component: Breadcrumb, PR: API Modified

#21161 Support ability to set a context menu item's event target to the Menu root
  change/office-ui-fabric-react-aa8d05b4-7e68-423a-92ee-703fabc8ccd1.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/Button/BaseButton.tsx
  packages/office-ui-fabric-react/src/components/ContextualMenu/ContextualMenu.base.tsx
  packages/office-ui-fabric-react/src/components/ContextualMenu/ContextualMenu.tsx
  packages/office-ui-fabric-react/src/components/ContextualMenu/ContextualMenu.types.ts
  packages/office-ui-fabric-react/src/utilities/contextualMenu/contextualMenuUtility.ts
  packages/react-examples/src/office-ui-fabric-react/CommandBar/CommandBar.Basic.Example.tsx
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/CommandBar.Basic.Example.tsx.shot
Labels: Component: ContextualMenu, Fabric 7, PR: API Modified

#21369 Combobox: remove default title attribute applied to options.
  change/@fluentui-react-249e5fdc-e376-4786-8ac6-ef8519937ca0.json
  packages/react/src/components/ComboBox/ComboBox.tsx
  packages/react/src/components/ComboBox/__snapshots__/ComboBox.test.tsx.snap
Labels: Component: ComboBox

#21362 divider: minimum line length
  change/@fluentui-react-divider-02ac1b84-8ea4-482b-b277-223375b8e172.json
  packages/react-divider/src/components/Divider/useDividerStyles.ts
Labels: Component: Divider

#21385 feat(react-theme): Add colorNeutralForeground1Static token
  change/@fluentui-react-theme-1c0d1c53-1dfc-49b9-aa9d-b0786f2b51f3.json
  packages/react-theme/etc/react-theme.api.md
  packages/react-theme/src/alias/dark.ts
  packages/react-theme/src/alias/highContrast.ts
  packages/react-theme/src/alias/light.ts
  packages/react-theme/src/alias/teamsDark.ts
  packages/react-theme/src/tokens.ts
  packages/react-theme/src/types.ts
Labels: Component: Theme, Fluent UI vNext

#21337 Focus trap zone: add handleRef method
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-bindings/src/FocusZone/FocusTrapZone.tsx
Labels: Fluent UI react-northstar

#21387 fix: Set `aria-modal` on Popover if focus trap is enabled
  change/@fluentui-react-popover-3a0c4933-511e-46f3-bf8f-5fcdda876462.json
  packages/react-popover/src/components/PopoverSurface/PopoverSurface.test.tsx
  packages/react-popover/src/components/PopoverSurface/usePopoverSurface.ts
Labels: Component: PopoverSurface

#21360 chore: migrate react-provider to use Griffel
  .storybook/custom-loader.js
  change/@fluentui-react-provider-49fd1cbe-761c-4dc3-8c7f-2a87766c6e05.json
  package.json
  packages/react-provider/.babelrc.json
  packages/react-provider/etc/react-provider.api.md
  packages/react-provider/jest.config.js
  packages/react-provider/package.json
  packages/react-provider/src/common/isConformant.ts
  packages/react-provider/src/components/FluentProvider/FluentProvider.test.tsx
  packages/react-provider/src/components/FluentProvider/FluentProvider.types.ts
  packages/react-provider/src/components/FluentProvider/renderFluentProvider.tsx
  packages/react-provider/src/components/FluentProvider/useFluentProviderContextValues.ts
  packages/react-provider/src/components/FluentProvider/useFluentProviderStyles.ts
  packages/react-provider/src/stories/FluentProviderDefault.stories.tsx
  packages/react-provider/src/stories/FluentProviderDir.stories.tsx
  packages/react-provider/src/stories/FluentProviderFrame.stories.tsx
  packages/react-provider/src/stories/FluentProviderNested.stories.tsx
  yarn.lock
Labels: Fluent UI vNext, Component: FluentProvider

#21125 Fix an accessibility bug of TooltipHost when mouse leaves before timer triggers
  change/@fluentui-react-052ac8f1-ac41-4e75-a7e4-a690332e541b.json
  packages/react/src/components/Tooltip/TooltipHost.base.tsx
Labels: Component: Tooltip

#21378 Fixing color slot titles in docsite
  packages/fluentui/CHANGELOG.md
  packages/fluentui/docs/src/components/ColorBox.tsx
Labels: Fluent UI react-northstar

#21390 chore: update generator to use Griffel
  change/@fluentui-react-provider-9a410062-0b56-435a-8468-9195cc7a448a.json
  packages/react-provider/package.json
  scripts/create-component/plop-templates/src/common/isConformant.ts.hbs
  scripts/create-component/plop-templates/src/components/{{componentName}}/use{{componentName}}Styles.ts.hbs
  scripts/create-package/plop-templates-react/.babelrc.json
  scripts/create-package/plop-templates-react/jest.config.js
  scripts/create-package/plop-templates-react/package.json.hbs
  scripts/create-package/plopfile.ts
  tools/generators/migrate-converged-pkg/index.spec.ts
  tools/generators/migrate-converged-pkg/index.ts
Labels: Area: Build System, Fluent UI vNext

#20679 Feat: Add DetailsList ability to resize and reorder columns using the keyboard and an example using it.
  apps/public-docsite-resources/src/AppDefinition.tsx
  apps/public-docsite-resources/src/components/pages/DetailsList/DetailsListKeyboardDragDropPage.tsx
  apps/public-docsite/src/SiteDefinition/SiteDefinition.pages/Controls/web.tsx
  apps/public-docsite/src/pages/Controls/DetailsListPage/DetailsListKeyboardDragDropPage.doc.ts
  apps/public-docsite/src/pages/Controls/DetailsListPage/DetailsListKeyboardDragDropPage.tsx
  change/@fluentui-react-aaa6ac78-8d44-4324-81de-79013a7e0014.json
  packages/react-examples/src/ComponentExamples.test.tsx
  packages/react-examples/src/react/DetailsList/DetailsList.KeyboardAccessibleResizeAndReorder.Example.tsx
  packages/react-examples/src/react/DetailsList/DetailsList.doc.tsx
  packages/react/etc/react.api.md
  packages/react/src/components/DetailsList/DetailsList.base.tsx
  packages/react/src/components/DetailsList/DetailsList.types.ts
Labels: Area: Accessibility, Component: DetailsList, PR: API Modified

#20805 TimePicker Default Value and Update onChange
  change/@fluentui-date-time-utilities-f5190288-ce6e-4607-8bad-7f8cd56f08af.json
  change/@fluentui-react-b5938547-532d-41fa-b34e-d8d702171623.json
  packages/date-time-utilities/etc/date-time-utilities.api.md
  packages/date-time-utilities/src/dateValues/timeConstants.ts
  packages/date-time-utilities/src/timeMath/timeMath.test.ts
  packages/date-time-utilities/src/timeMath/timeMath.ts
  packages/react-examples/src/react/TimePicker/TimePicker.Example.tsx
  packages/react/etc/react.api.md
  packages/react/src/components/TimePicker/TimePicker.tsx
  packages/react/src/components/TimePicker/TimePicker.types.ts
Labels: Component: DatePicker, PR: API Modified, Component: TimePicker

#21394 chore: migrate react-accordion to use Griffel
  change/@fluentui-react-accordion-87c44b26-f9b8-4819-b689-92307876b78b.json
  packages/react-accordion/.babelrc.json
  packages/react-accordion/jest.config.js
  packages/react-accordion/package.json
  packages/react-accordion/src/common/isConformant.ts
  packages/react-accordion/src/components/Accordion/useAccordionStyles.ts
  packages/react-accordion/src/components/AccordionHeader/useAccordionHeaderStyles.ts
  packages/react-accordion/src/components/AccordionItem/useAccordionItemStyles.ts
  packages/react-accordion/src/components/AccordionPanel/useAccordionPanelStyles.ts
Labels: Component: Accordion, Fluent UI vNext

#21392 chore: migrate react-popover to use Griffel
  change/@fluentui-react-popover-a0804144-1806-4af5-bb61-8aaae1bb96f3.json
  packages/react-popover/.babelrc.json
  packages/react-popover/jest.config.js
  packages/react-popover/package.json
  packages/react-popover/src/common/isConformant.ts
  packages/react-popover/src/components/PopoverSurface/usePopoverSurfaceStyles.ts
  packages/react-popover/src/stories/PopoverAnchorToCustomTarget.stories.tsx
  packages/react-popover/src/stories/PopoverControllingOpenAndClose.stories.tsx
  packages/react-popover/src/stories/PopoverCustomTrigger.stories.tsx
  packages/react-popover/src/stories/PopoverDefault.stories.tsx
  packages/react-popover/src/stories/PopoverInternalUpdateContent.stories.tsx
  packages/react-popover/src/stories/PopoverNestedPopovers.stories.tsx
  packages/react-popover/src/stories/PopoverTrappingFocus.stories.tsx
Labels: Component: Popover, Fluent UI vNext

#21391 chore: migrate react-menu to use Griffel
  change/@fluentui-react-menu-9307fe32-1124-4bbb-babd-9a2942723e4c.json
  packages/react-menu/.babelrc.json
  packages/react-menu/jest.config.js
  packages/react-menu/package.json
  packages/react-menu/src/common/isConformant.ts
  packages/react-menu/src/components/MenuDivider/useMenuDividerStyles.ts
  packages/react-menu/src/components/MenuGroup/useMenuGroupStyles.ts
  packages/react-menu/src/components/MenuGroupHeader/useMenuGroupHeaderStyles.ts
  packages/react-menu/src/components/MenuItem/useMenuItemStyles.ts
  packages/react-menu/src/components/MenuItemCheckbox/useMenuItemCheckboxStyles.ts
  packages/react-menu/src/components/MenuItemRadio/useMenuItemRadioStyles.ts
  packages/react-menu/src/components/MenuList/useMenuListStyles.ts
  packages/react-menu/src/components/MenuPopover/useMenuPopoverStyles.ts
  packages/react-menu/src/components/MenuSplitGroup/useMenuSplitGroupStyles.ts
  packages/react-menu/src/selectable/useCheckmarkStyles.ts
  packages/react-menu/src/stories/MenuInteraction.stories.tsx
  packages/react-menu/src/stories/MenuListDefault.stories.tsx
  packages/react-menu/src/stories/MenuListNestedSubmenus.stories.tsx
Labels: Fluent UI vNext, Component: Menu

#21419 chore: migrate react-tabster to use Griffel
  change/@fluentui-react-tabster-7b7fc54e-8f57-4f49-92c5-1e26e6e9ad90.json
  packages/react-tabster/.babelrc.json
  packages/react-tabster/etc/react-tabster.api.md
  packages/react-tabster/jest.config.js
  packages/react-tabster/package.json
  packages/react-tabster/src/hooks/useFocusIndicatorStyle.ts
Labels: Component: Pivot, Fluent UI vNext

#21421 chore: migrate react-positioning to use Griffel
  change/@fluentui-react-positioning-9a291fd5-6056-4028-900c-ae4734eb3e77.json
  packages/react-positioning/.babelrc.json
  packages/react-positioning/etc/react-positioning.api.md
  packages/react-positioning/jest.config.js
  packages/react-positioning/package.json
  packages/react-positioning/src/createArrowStyles.ts
Labels: Fluent UI vNext

#21416 fix: Use role=complementary for Popovers without focus traps
  change/@fluentui-react-popover-ca31294d-f8a3-4d50-bb6d-0d42a16bd4e2.json
  packages/react-popover/e2e/Popover.e2e.ts
  packages/react-popover/src/components/PopoverSurface/PopoverSurface.test.tsx
  packages/react-popover/src/components/PopoverSurface/__snapshots__/PopoverSurface.test.tsx.snap
  packages/react-popover/src/components/PopoverSurface/usePopoverSurface.ts
Labels: Component: PopoverSurface

#21381 chore: add to latest milestone on housekeeping workflow
  .github/MAINTAINERS
  .github/workflows/pr-housekeeping.yml
Labels: Area: Build System

#21437 chore: migrate react-badge to use Griffel
  change/@fluentui-react-badge-b4e3ad27-6930-4b64-a41b-3f5c8e457165.json
  packages/react-badge/.babelrc.json
  packages/react-badge/jest.config.js
  packages/react-badge/package.json
  packages/react-badge/src/common/isConformant.ts
  packages/react-badge/src/components/Badge/useBadgeStyles.ts
  packages/react-badge/src/components/CounterBadge/useCounterBadgeStyles.ts
  packages/react-badge/src/components/PresenceBadge/usePresenceBadgeStyles.ts
Labels: Fluent UI vNext, Component: Badge

#21417 chore: migrate react-card to use Griffel
  change/@fluentui-react-card-85862361-6d0b-4c7e-8e71-6dba14d096fa.json
  packages/react-card/.babelrc.json
  packages/react-card/jest.config.js
  packages/react-card/package.json
  packages/react-card/src/common/isConformant.ts
  packages/react-card/src/components/Card/useCardStyles.ts
  packages/react-card/src/components/CardFooter/useCardFooterStyles.ts
  packages/react-card/src/components/CardHeader/useCardHeaderStyles.ts
  packages/react-card/src/components/CardPreview/useCardPreviewStyles.ts
Labels: Component: Card, Fluent UI vNext

#21432 chore: migrate react-image to use Griffel
  change/@fluentui-react-image-480ca1f4-1cec-45a2-a2fc-4522980965de.json
  packages/react-image/.babelrc.json
  packages/react-image/MIGRATION.md
  packages/react-image/jest.config.js
  packages/react-image/package.json
  packages/react-image/src/common/isConformant.ts
  packages/react-image/src/components/Image/useImageStyles.ts
Labels: Component: Image, Fluent UI vNext

#21441 fix: update add-to-milestone to support pull_request_target
  .github/workflows/pr-housekeeping.yml
Labels: Area: Build System

#21363 Re-add motion and font theme re-exports (#21146)
  change/@fluentui-react-71ba864b-8420-41a8-99e9-6d8ea229b900.json
  packages/react/etc/react.api.md
  packages/react/src/Theme.ts
Labels: Component: Theme, PR: API Modified, Fluent UI react (v8)

#21426 chore: migrate react-slider to use Griffel
  packages/react-slider/.babelrc.json
  packages/react-slider/jest.config.js
  packages/react-slider/package.json
  packages/react-slider/src/common/isConformant.ts
  packages/react-slider/src/components/Slider/useSliderStyles.ts
Labels: Component: Slider, Fluent UI vNext

#21430 chore: migrate react-label to use Griffel
  change/@fluentui-react-label-368bd8fc-a2ef-4159-b9c9-b51cefbeb446.json
  packages/react-label/.babelrc.json
  packages/react-label/jest.config.js
  packages/react-label/package.json
  packages/react-label/src/common/isConformant.ts
  packages/react-label/src/components/Label/useLabelStyles.ts
Labels: Component: Label, Fluent UI vNext

#21436 chore: migrate react-button to use Griffel
  change/@fluentui-react-button-1624e91c-410a-4440-94cd-200b98766bc9.json
  packages/react-button/.babelrc.json
  packages/react-button/jest.config.js
  packages/react-button/package.json
  packages/react-button/src/common/isConformant.ts
  packages/react-button/src/components/Button/useButtonStyles.ts
  packages/react-button/src/components/CompoundButton/useCompoundButtonStyles.ts
  packages/react-button/src/components/MenuButton/useMenuButtonStyles.ts
  packages/react-button/src/components/SplitButton/useSplitButtonStyles.ts
  packages/react-button/src/components/ToggleButton/useToggleButtonStyles.ts
Labels: Component: Button, Fluent UI vNext

#21418 chore: migrate react-text to use Griffel
  change/@fluentui-react-text-deb16e3d-c089-4d90-ad84-7ef467f659c9.json
  packages/react-text/.babelrc.json
  packages/react-text/MIGRATION.md
  packages/react-text/jest.config.js
  packages/react-text/package.json
  packages/react-text/src/common/isConformant.ts
  packages/react-text/src/components/Body/Body.tsx
  packages/react-text/src/components/Caption/Caption.tsx
  packages/react-text/src/components/Display/Display.tsx
  packages/react-text/src/components/Headline/Headline.tsx
  packages/react-text/src/components/LargeTitle/LargeTitle.tsx
  packages/react-text/src/components/Subheadline/Subheadline.tsx
  packages/react-text/src/components/Text/useTextStyles.ts
  packages/react-text/src/components/Title1/Title1.tsx
  packages/react-text/src/components/Title2/Title2.tsx
  packages/react-text/src/components/Title3/Title3.tsx
  packages/react-text/src/components/wrapper.tsx
  packages/react-text/src/stories/Default.stories.tsx
  packages/react-text/src/typographyStyles/typographyStyles.ts
Labels: Component: Text, Fluent UI vNext

#21435 chore: migrate react-checkbox to use Griffel
  change/@fluentui-react-checkbox-54181b52-9a19-48e5-8cc3-c2cea765d706.json
  packages/react-checkbox/.babelrc.json
  packages/react-checkbox/jest.config.js
  packages/react-checkbox/package.json
  packages/react-checkbox/src/common/isConformant.ts
  packages/react-checkbox/src/components/Checkbox/useCheckboxStyles.ts
Labels: Component: Checkbox, Fluent UI vNext

#21424 chore: migrate react-switch to use Griffel
  change/@fluentui-react-switch-2d4f5aec-848b-43e6-bc09-a78eb573b3b3.json
  packages/react-switch/.babelrc.json
  packages/react-switch/jest.config.js
  packages/react-switch/package.json
  packages/react-switch/src/Switch.stories.tsx
  packages/react-switch/src/common/isConformant.ts
  packages/react-switch/src/components/Switch/useSwitchStyles.ts
Labels: Fluent UI vNext, Component: Switch

#21431 chore: migrate react-input to use Griffel
  change/@fluentui-react-input-9bef86de-9038-4127-8e8e-81f0881cb6da.json
  packages/react-input/.babelrc.json
  packages/react-input/jest.config.js
  packages/react-input/package.json
  packages/react-input/src/common/isConformant.ts
  packages/react-input/src/components/Input/useInputStyles.ts
  packages/react-input/src/stories/InputAppearance.stories.tsx
  packages/react-input/src/stories/InputContentBeforeAfter.stories.tsx
  packages/react-input/src/stories/InputSize.stories.tsx
  packages/react-input/src/stories/InputType.stories.tsx
Labels: Fluent UI vNext, Component: Input

#21428 chore: migrate react-radio to use Griffel
  packages/react-radio/.babelrc.json
  packages/react-radio/jest.config.js
  packages/react-radio/package.json
  packages/react-radio/src/common/isConformant.ts
  packages/react-radio/src/components/Radio/useRadioStyles.ts
  packages/react-radio/src/components/RadioItem/useRadioItemStyles.ts
Labels: Fluent UI vNext, Component: Radio

#21422 chore: migrate react-tooltip to use Griffel
  change/@fluentui-react-tooltip-d6140e21-2c99-4913-826d-8075c45c6fd4.json
  packages/react-tooltip/.babelrc.json
  packages/react-tooltip/jest.config.js
  packages/react-tooltip/package.json
  packages/react-tooltip/src/common/isConformant.ts
  packages/react-tooltip/src/components/Tooltip/useTooltipStyles.ts
  packages/react-tooltip/src/stories/TooltipAria.stories.tsx
  packages/react-tooltip/src/stories/TooltipDefault.stories.tsx
  packages/react-tooltip/src/stories/TooltipPositioning.stories.tsx
Labels: Component: Tooltip, Fluent UI vNext

#21439 chore: migrate react-avatar to use Griffel
  change/@fluentui-react-avatar-40747d70-5829-4f5d-8a6d-da1153e4b710.json
  packages/react-avatar/.babelrc.json
  packages/react-avatar/jest.config.js
  packages/react-avatar/package.json
  packages/react-avatar/src/common/isConformant.ts
  packages/react-avatar/src/components/Avatar/useAvatarStyles.ts
Labels: Fluent UI vNext, Component: Avatar

#21346 Avatar: Rename `label` slot to `initials`, remove `getInitials` prop, and improve accessibility
  change/@fluentui-react-avatar-63302eb2-4c8b-47b4-ba87-d1755cea3fbd.json
  packages/react-avatar/etc/react-avatar.api.md
  packages/react-avatar/src/AvatarGetInitials.stories.tsx
  packages/react-avatar/src/AvatarSize.stories.tsx
  packages/react-avatar/src/components/Avatar/Avatar.test.tsx
  packages/react-avatar/src/components/Avatar/Avatar.types.ts
  packages/react-avatar/src/components/Avatar/__snapshots__/Avatar.test.tsx.snap
  packages/react-avatar/src/components/Avatar/renderAvatar.tsx
  packages/react-avatar/src/components/Avatar/useAvatar.tsx
  packages/react-avatar/src/components/Avatar/useAvatarStyles.ts
Labels: Area: Accessibility, Component: Avatar

#21447 temp fix: Add react-make-styles as devDep to fix perf test pipeline
  apps/perf-test/package.json
Labels: AutoMerge

#21425 chore: migrate react-spinbutton to use Griffel
  packages/react-spinbutton/.babelrc.json
  packages/react-spinbutton/jest.config.js
  packages/react-spinbutton/package.json
  packages/react-spinbutton/src/common/isConformant.ts
  packages/react-spinbutton/src/components/SpinButton/useSpinButtonStyles.ts
Labels: Component: SpinButton, Fluent UI vNext

#21353 react-badge: Updated best practices for long text
  change/@fluentui-react-badge-d43aec0f-403d-43e0-a257-d246681911bf.json
  packages/react-badge/src/BadgeBestPractices.md
Labels: Area: Accessibility, Area: Documentation, Fluent UI vNext, Component: Badge

#21393 chore: migrate react-portal to use Griffel
  change/@fluentui-react-portal-a4b331c9-24db-4100-808c-a711f9e7eeca.json
  package.json
  packages/react-portal/.babelrc.json
  packages/react-portal/jest.config.js
  packages/react-portal/package.json
  packages/react-portal/src/stories/PortalDefault.stories.tsx
  packages/react-portal/src/stories/PortalNested.stories.tsx
Labels: Fluent UI vNext, Component: Portal

#21434 chore: migrate react-dialog to use Griffel
  packages/react-dialog/.babelrc.json
  packages/react-dialog/jest.config.js
  packages/react-dialog/package.json
  packages/react-dialog/src/common/isConformant.ts
  packages/react-dialog/src/components/Dialog/useDialogStyles.ts
Labels: Component: Dialog, Fluent UI vNext

#20564 Select spec
  packages/react-select/Spec.md
Labels: Fluent UI vNext, Type: Spec

#21331 Tooltip: Replace `triggerAriaAttribute` prop with `relationship` and make it required with no default
  apps/vr-tests/src/stories/TooltipConverged.stories.tsx
  change/@fluentui-react-tooltip-f032750b-5ac6-47ab-93a0-d4d3d15a3402.json
  packages/react-menu/src/stories/MenuTriggerWithTooltip.stories.tsx
  packages/react-tooltip/etc/react-tooltip.api.md
  packages/react-tooltip/src/components/Tooltip/Tooltip.test.tsx
  packages/react-tooltip/src/components/Tooltip/Tooltip.types.ts
  packages/react-tooltip/src/components/Tooltip/__snapshots__/Tooltip.test.tsx.snap
  packages/react-tooltip/src/components/Tooltip/useTooltip.tsx
  packages/react-tooltip/src/stories/TooltipAria.stories.tsx
  packages/react-tooltip/src/stories/TooltipControlled.stories.tsx
  packages/react-tooltip/src/stories/TooltipDefault.stories.tsx
  packages/react-tooltip/src/stories/TooltipOnlyIfTruncated.stories.tsx
  packages/react-tooltip/src/stories/TooltipPositioning.stories.tsx
Labels: Area: Accessibility, Component: Tooltip

#21433 chore: migrate react-divider to use Griffel
  change/@fluentui-react-divider-de1f0901-ef09-4ac0-8399-2584219ca5c6.json
  packages/react-divider/.babelrc.json
  packages/react-divider/jest.config.js
  packages/react-divider/package.json
  packages/react-divider/src/common/isConformant.ts
  packages/react-divider/src/components/Divider/useDividerStyles.ts
  packages/react-divider/src/stories/DividerAlignContent.stories.tsx
  packages/react-divider/src/stories/DividerAppearance.stories.tsx
  packages/react-divider/src/stories/DividerCustomStyles.stories.tsx
  packages/react-divider/src/stories/DividerDefault.stories.tsx
  packages/react-divider/src/stories/DividerInset.stories.tsx
  packages/react-divider/src/stories/DividerVertical.stories.tsx
Labels: Fluent UI vNext, Component: Divider

#21420 chore: migrate react-tabs to use Griffel
  packages/react-tabs/.babelrc.json
  packages/react-tabs/jest.config.js
  packages/react-tabs/package.json
  packages/react-tabs/src/common/isConformant.ts
  packages/react-tabs/src/components/Tab/useTabStyles.ts
  packages/react-tabs/src/components/TabList/useTabListStyles.ts
  packages/react-tabs/src/stories/TabListAppearance.stories.tsx
  packages/react-tabs/src/stories/TabListDefault.stories.tsx
  packages/react-tabs/src/stories/TabListSizeMedium.stories.tsx
  packages/react-tabs/src/stories/TabListSizeSmall.stories.tsx
  packages/react-tabs/src/stories/TabListVertical.stories.tsx
  packages/react-tabs/src/stories/TabListWithIcon.stories.tsx
Labels: Component: Pivot, Fluent UI vNext

#21445 Avatar: Export the default getInitials implementation
  change/@fluentui-react-avatar-56b839c4-963b-40e9-a27c-6002a17750c8.json
  packages/react-avatar/etc/react-avatar.api.md
  packages/react-avatar/src/components/Avatar/Avatar.types.ts
  packages/react-avatar/src/index.ts
  packages/react-avatar/src/utils/getInitials.ts
Labels: Component: Avatar

#21444 Add `_unstable` suffix to hooks and render function in create-component template
  scripts/create-component/plop-templates/src/components/{{componentName}}/render{{componentName}}.tsx.hbs
  scripts/create-component/plop-templates/src/components/{{componentName}}/use{{componentName}}.ts.hbs
  scripts/create-component/plop-templates/src/components/{{componentName}}/use{{componentName}}Styles.ts.hbs
  scripts/create-component/plop-templates/src/components/{{componentName}}/{{componentName}}.tsx.hbs
Labels: Area: Build System, Fluent UI vNext

#21455 chore: remove react-conformance-make-styles
  .github/CODEOWNERS
  packages/react-conformance-make-styles/.eslintrc.json
  packages/react-conformance-make-styles/.npmignore
  packages/react-conformance-make-styles/CHANGELOG.json
  packages/react-conformance-make-styles/CHANGELOG.md
  packages/react-conformance-make-styles/LICENSE
  packages/react-conformance-make-styles/README.md
  packages/react-conformance-make-styles/config/api-extractor.json
  packages/react-conformance-make-styles/config/api-extractor.local.json
  packages/react-conformance-make-styles/config/tests.js
  packages/react-conformance-make-styles/jest.config.js
  packages/react-conformance-make-styles/just.config.ts
  packages/react-conformance-make-styles/package.json
  packages/react-conformance-make-styles/src/index.ts
  packages/react-conformance-make-styles/src/matchers/index.ts
  packages/react-conformance-make-styles/src/matchers/toContainClassNameLastInCalls.test.ts
  packages/react-conformance-make-styles/src/matchers/toContainClassNameLastInCalls.ts
  packages/react-conformance-make-styles/src/matchers/toHaveMergeClassesCalledTimesWithClassName.test.ts
  packages/react-conformance-make-styles/src/matchers/toHaveMergeClassesCalledTimesWithClassName.ts
  packages/react-conformance-make-styles/src/overridesWin.ts
  packages/react-conformance-make-styles/tsconfig.json
  packages/react-conformance-make-styles/tsconfig.lib.json
  packages/react-conformance-make-styles/tsconfig.spec.json
  tsconfig.base.json
  workspace.json
Labels: Fluent UI vNext

#21471 chore: make-styles devDependencies in react-components
  change/@fluentui-react-components-03c79370-75d3-4a56-84bf-8fb29626fb8e.json
  packages/react-components/.babelrc.json
  packages/react-components/jest.config.js
  packages/react-components/package.json
Labels: Fluent UI vNext

#21454 chore: remove jest-serializer-make-styles
  .github/CODEOWNERS
  packages/jest-serializer-make-styles/.eslintrc.json
  packages/jest-serializer-make-styles/.npmignore
  packages/jest-serializer-make-styles/CHANGELOG.json
  packages/jest-serializer-make-styles/CHANGELOG.md
  packages/jest-serializer-make-styles/LICENSE
  packages/jest-serializer-make-styles/README.md
  packages/jest-serializer-make-styles/config/api-extractor.json
  packages/jest-serializer-make-styles/config/api-extractor.local.json
  packages/jest-serializer-make-styles/config/tests.js
  packages/jest-serializer-make-styles/etc/jest-serializer-make-styles.api.md
  packages/jest-serializer-make-styles/jest.config.js
  packages/jest-serializer-make-styles/just.config.ts
  packages/jest-serializer-make-styles/package.json
  packages/jest-serializer-make-styles/src/index.test.tsx
  packages/jest-serializer-make-styles/src/index.ts
  packages/jest-serializer-make-styles/tsconfig.json
  packages/jest-serializer-make-styles/tsconfig.lib.json
  packages/jest-serializer-make-styles/tsconfig.spec.json
  packages/react-storybook/package.json
  tsconfig.base.json
  workspace.json
Labels: Fluent UI vNext

#21472 refactor(scripts): use inherit for stdio calls in sb runner
  scripts/storybook/runner.js
Labels: Area: Build System

#21475 chore: use Griffel webpack loader
  apps/vr-tests/.storybook/main.js
  apps/vr-tests/package.json
  azure-pipelines.yml
  package.json
  yarn.lock
Labels: Fluent UI vNext

#21470 Tooltip: align API with other components that use triggers
  change/@fluentui-react-tooltip-c42cbf2b-b2cc-41d6-ad2e-623d5f5bdd7c.json
  packages/react-tooltip/etc/react-tooltip.api.md
  packages/react-tooltip/src/common/isConformant.ts
  packages/react-tooltip/src/components/Tooltip/Tooltip.test.tsx
  packages/react-tooltip/src/components/Tooltip/Tooltip.tsx
  packages/react-tooltip/src/components/Tooltip/Tooltip.types.ts
  packages/react-tooltip/src/components/Tooltip/renderTooltip.tsx
  packages/react-tooltip/src/components/Tooltip/useTooltip.tsx
  packages/react-tooltip/src/components/Tooltip/useTooltipStyles.ts
Labels: Component: Tooltip, Fluent UI vNext

#21476 chore: remove make-styles-webpack-loader
  .github/CODEOWNERS
  packages/make-styles-webpack-loader/.eslintrc.json
  packages/make-styles-webpack-loader/.npmignore
  packages/make-styles-webpack-loader/CHANGELOG.json
  packages/make-styles-webpack-loader/CHANGELOG.md
  packages/make-styles-webpack-loader/LICENSE
  packages/make-styles-webpack-loader/README.md
  packages/make-styles-webpack-loader/__fixtures__/config-modules/code.ts
  packages/make-styles-webpack-loader/__fixtures__/config-modules/output.ts
  packages/make-styles-webpack-loader/__fixtures__/error-argument-count/code.ts
  packages/make-styles-webpack-loader/__fixtures__/error-argument-count/error.ts
  packages/make-styles-webpack-loader/__fixtures__/error-config/code.ts
  packages/make-styles-webpack-loader/__fixtures__/error-config/error.ts
  packages/make-styles-webpack-loader/__fixtures__/error-syntax/code.txt
  packages/make-styles-webpack-loader/__fixtures__/error-syntax/error.ts
  packages/make-styles-webpack-loader/__fixtures__/function/code.ts
  packages/make-styles-webpack-loader/__fixtures__/function/output.ts
  packages/make-styles-webpack-loader/__fixtures__/object/code.ts
  packages/make-styles-webpack-loader/__fixtures__/object/output.ts
  packages/make-styles-webpack-loader/__fixtures__/webpack-aliases/code.ts
  packages/make-styles-webpack-loader/__fixtures__/webpack-aliases/color.ts
  packages/make-styles-webpack-loader/__fixtures__/webpack-aliases/output.ts
  packages/make-styles-webpack-loader/__fixtures__/webpack-resolve-plugins/code.ts
  packages/make-styles-webpack-loader/__fixtures__/webpack-resolve-plugins/color.ts
  packages/make-styles-webpack-loader/__fixtures__/webpack-resolve-plugins/output.ts
  packages/make-styles-webpack-loader/config/api-extractor.json
  packages/make-styles-webpack-loader/config/api-extractor.local.json
  packages/make-styles-webpack-loader/config/tests.js
  packages/make-styles-webpack-loader/etc/make-styles-webpack-loader.api.md
  packages/make-styles-webpack-loader/jest.config.js
  packages/make-styles-webpack-loader/just.config.ts
  packages/make-styles-webpack-loader/package.json
  packages/make-styles-webpack-loader/src/index.ts
  packages/make-styles-webpack-loader/src/transformSync.ts
  packages/make-styles-webpack-loader/src/webpackLoader.test.ts
  packages/make-styles-webpack-loader/src/webpackLoader.ts
  packages/make-styles-webpack-loader/tsconfig.json
  packages/make-styles-webpack-loader/tsconfig.lib.json
  packages/make-styles-webpack-loader/tsconfig.spec.json
  tsconfig.base.json
  workspace.json
Labels: Fluent UI vNext

#21242 Add v9 Icons to Storybook
  change/@fluentui-react-components-d196da53-af3d-47b0-aa8b-2ad653756f37.json
  packages/react-components/package.json
  packages/react-components/src/Concepts/Icons/Icon.stories.mdx
  packages/react-components/src/Concepts/Icons/ReactIconGrid.tsx
Labels: Area: Documentation, Area: Icons

#21271 Badge: Refactor styles
  change/@fluentui-react-badge-51ce9bc8-771b-472e-ad6c-639a7c907bf1.json
  packages/react-badge/src/components/Badge/useBadgeStyles.ts
Labels: Component: Badge

#21400 Apply focus styles for AccordionTitle
  packages/fluentui/CHANGELOG.md
  packages/fluentui/docs/src/examples/components/Accordion/Visual/AccordionExampleCustomTitle.shorthand.steps.ts
  packages/fluentui/docs/src/examples/components/Accordion/Visual/AccordionExampleCustomTitle.shorthand.tsx
  packages/fluentui/docs/src/examples/components/Accordion/Visual/AccordionExampleDefault.shorthand.tsx
  packages/fluentui/docs/src/examples/components/Accordion/Visual/index.tsx
  packages/fluentui/docs/src/examples/components/Accordion/index.tsx
  packages/fluentui/react-northstar/src/themes/teams/components/Accordion/accordionTitleStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Accordion/accordionVariables.ts
Labels: Fluent UI react-northstar

#21466 Panel: Header now properly inherits background color from main
  change/@fluentui-react-91884cdd-2d97-41a6-827b-09f555e1032b.json
  packages/react/src/components/Panel/Panel.styles.ts
  packages/react/src/components/Panel/__snapshots__/Panel.test.tsx.snap
Labels: Component: Panel

#21148 [cherrypick] Fix onRenderDetailsGroupHeader props for custom group.onRenderHeader
  change/office-ui-fabric-react-f6f7240d-70cb-4ef0-a774-cac3c802811c.json
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsList.base.tsx
  packages/react-examples/src/office-ui-fabric-react/DetailsList/DetailsList.CustomGroupHeaders.Example.tsx
  packages/react-examples/src/office-ui-fabric-react/__snapshots__/DetailsList.CustomGroupHeaders.Example.tsx.shot
Labels: Component: DetailsList, Fabric 7

#18166 MessageBar: now accepts expandButtonProps prop to allow for customization of the expand/collapse button.
  change/@fluentui-react-24106038-9e19-420b-ab1c-f4a2520d9716.json
  packages/react/etc/react.api.md
  packages/react/src/components/MessageBar/MessageBar.base.tsx
  packages/react/src/components/MessageBar/MessageBar.types.ts
Labels: Area: Accessibility, Component: MessageBar, PR: API Modified

#18347 Nav: add isExpanded prop to allow consumer control of collapsed/expanded state.
  change/@fluentui-react-fd352b92-c279-45ff-a1fd-78e34f826ccf.json
  packages/react/etc/react.api.md
  packages/react/src/components/Nav/Nav.base.tsx
  packages/react/src/components/Nav/Nav.test.tsx
  packages/react/src/components/Nav/Nav.types.ts
Labels: Component: Nav, PR: API Modified

#21492 ToggleButton: Stopping aria-pressed from changing when ToggleButton is disabledFocusable
  change/@fluentui-react-button-6c840806-b17d-4402-85d5-cbc963eb57dd.json
  packages/react-button/src/components/ToggleButton/ToggleButton.test.tsx
  packages/react-button/src/components/ToggleButton/useToggleButton.ts
Labels: Area: Accessibility, Component: Button, Fluent UI vNext, Component: ToggleButton

#21494 Button: Changing border radius of small button to borderRadiusMedium
  change/@fluentui-react-button-159dc420-be08-4472-9dbb-634db2fd56ca.json
  packages/react-button/src/components/Button/useButtonStyles.ts
Labels: Component: Button, Fluent UI vNext

#21465 fix(Detailslist): link high contrast selector specificity
  change/@fluentui-react-cca25cf7-0a9d-4d36-8d45-ff8e0a2411da.json
  packages/react/src/components/DetailsList/DetailsRow.styles.ts
Labels: Component: DetailsList

#21468 v7: fix(Calendar): move gridcell role and focus target from button to td
  change/@uifabric-date-time-0a9a1f78-209c-4ab3-beec-7d0e0fb4ec5b.json
  packages/date-time/src/components/CalendarDayGrid/CalendarGridDayCell.tsx
  packages/date-time/src/components/WeeklyDayPicker/__snapshots__/WeeklyDayPicker.test.tsx.snap
Labels: Fabric 7, Package: date-time
