Repository microsoft/fluentui, pull requests merged in 2022-12, with the labels that each got.

#25844 chore: add retries for navigation in ssr-tests-v9
  apps/ssr-tests-v9/src/test.ts
  apps/ssr-tests-v9/src/utils/visitPage.test.ts
  apps/ssr-tests-v9/src/utils/visitPage.ts
Labels: Area: Build System, Fluent UI react-components (v9), Area: SSR

#25828 docs: add documentation about how to migrate V0 createSvgIcon
  apps/public-docsite-v9/src/Concepts/Migration/FromV0/Icons.stories.mdx
Labels: Area: Website

#25867 fix: Respecting user-provided ids in ComboBox options
  change/@fluentui-react-a5c36bc6-3f4e-4de1-91a8-8d2407288c7c.json
  packages/react/src/components/ComboBox/ComboBox.test.tsx
  packages/react/src/components/ComboBox/ComboBox.tsx
Labels: Component: ComboBox, Fluent UI react (v8)

#25869 fix: Fixing Slider's programmatic focus
  change/@fluentui-react-45e501d9-d10e-4a7f-af84-bcdb47113bb9.json
  packages/react/src/components/Slider/useSlider.ts
Labels: Component: Slider, Fluent UI react (v8)

#25863 feat(perf-tests-react-components): Add perf test for Persona
  apps/perf-test-react-components/package.json
  apps/perf-test-react-components/src/scenarios/Persona.tsx
Labels: Area: Build System, Component: Persona, Fluent UI react-components (v9)

#25808 ci: setup wc v3 daily releases
  .github/workflows/check-packages.yml
  apps/stress-test/package.json
  azure-pipelines.release.web-components.yml
  change/@fluentui-react-aria-5228383f-9887-4ca8-9cc2-53527f839cbf.json
  change/@fluentui-react-avatar-63cc4116-6a81-4306-9fee-0415db150eae.json
  change/@fluentui-react-avatar-73954508-ffed-4bfe-a16f-39fd287dafd4.json
  change/@fluentui-react-context-selector-23a9c999-a4fe-4e81-849b-27a96d250a13.json
  change/@fluentui-react-dialog-914ff253-e601-4337-91a3-f7f8648eb1a5.json
  change/@fluentui-react-dialog-a27523cc-5d13-4fd5-ac46-23fc9218bc73.json
  change/@fluentui-react-divider-2bfdd93e-d2cd-4f3b-9b89-c452876fb730.json
  change/@fluentui-react-menu-4dd93206-2702-4680-829c-617e8b250bc0.json
  change/@fluentui-react-popover-c9f8a637-4cdc-438c-b74a-b38279f3e1df.json
  change/@fluentui-react-positioning-12f69b12-6e86-4415-8a0d-b34318f3b71e.json
  change/@fluentui-react-select-287be14f-25f7-44e5-b5a7-290b8772638a.json
  change/@fluentui-react-select-be677e57-0564-45b5-9366-0c4bd90d52d9.json
  change/@fluentui-react-shared-contexts-625a6ac7-63ff-4172-a2fd-a4f60b9eff2e.json
  change/@fluentui-react-slider-d63d5490-c622-4a65-aadd-13489fb0c0b2.json
  change/@fluentui-react-table-5bfc4866-5bbc-4e35-8b10-38085d13ab4b.json
  change/@fluentui-react-tabster-59ed64de-6eec-46c5-b0d6-2cd22cba4d0c.json
  change/@fluentui-web-components-06a3ebaf-3485-4ea9-a024-ff17305e1f88.json
  package.json
  packages/web-components/package.json
  scripts/beachball/check-wc-3-changefiles.js
  scripts/beachball/check-wc-3-changefiles.spec.ts
  scripts/beachball/config.test.ts
  scripts/beachball/release-web-components.config.js
  scripts/beachball/utils.ts
Labels: web-components, CI

#25835 fix: Pressed and Hover states for toolbar buttons
  change/@fluentui-react-toolbar-79a4ea5f-680e-49e7-a6ca-5348689f03d7.json
  packages/react-components/react-toolbar/src/components/ToolbarButton/ToolbarButton.tsx
Labels: Component: Toolbar

#25834 remove the unecessary extra specificity and styles in hover and focus styles
  change/@fluentui-react-596053a1-fb7a-4795-9268-88f2dd1fa249.json
  packages/react/src/components/SpinButton/SpinButton.styles.ts
  packages/react/src/components/SpinButton/__snapshots__/SpinButton.test.tsx.snap
Labels: Component: SpinButton, Fluent UI react (v8)

#25880 fix(react-persona): Make Persona's text wrap when overflowing its container
  apps/vr-tests-react-components/src/stories/Persona.stories.tsx
  change/@fluentui-react-persona-d51509e5-3996-4e3e-b326-3e4135b5b8e6.json
  packages/react-components/react-persona/src/components/Persona/usePersonaStyles.ts
Labels: Area: Accessibility, Component: Persona, Fluent UI react-components (v9)

#25884 fix: Make Buttons align correctly when put inside of DialogFooter
  change/@fluentui-react-4962bfe2-335e-4e07-8fc7-036ba5850f69.json
  packages/react/src/components/Dialog/DialogFooter.styles.ts
Labels: Component: Dialog, Fluent UI react (v8)

#25268 Adjust horizontal bar chart styles as per design
  change/@fluentui-react-charting-e13576b2-4b54-41bc-a96f-c30b8ada3470.json
  packages/react-charting/src/components/HorizontalBarChart/HorizontalBarChart.base.tsx
  packages/react-charting/src/components/HorizontalBarChart/HorizontalBarChart.styles.ts
  packages/react-charting/src/components/HorizontalBarChart/HorizontalBarChart.types.ts
  packages/react-charting/src/components/HorizontalBarChart/__snapshots__/HorizontalBarChart.test.tsx.snap
Labels: Package: charting

#25829 Update EP04 video link
  README.md
Labels: Ready for VR

#25672 chore(react-menu): removes prop spreading on MenuList state
  change/@fluentui-react-components-dbb0daa2-367e-4700-8822-0755f7033c6c.json
  change/@fluentui-react-menu-0855b482-9526-40c3-9209-9f961f2e8e1b.json
  packages/react-components/react-components/src/index.ts
  packages/react-components/react-menu/etc/react-menu.api.md
  packages/react-components/react-menu/src/components/Menu/Menu.types.ts
  packages/react-components/react-menu/src/components/Menu/useMenu.tsx
  packages/react-components/react-menu/src/components/Menu/useMenuContextValues.test.tsx
  packages/react-components/react-menu/src/components/Menu/useMenuContextValues.ts
  packages/react-components/react-menu/src/components/MenuGroup/useMenuGroup.ts
  packages/react-components/react-menu/src/components/MenuList/MenuList.types.ts
  packages/react-components/react-menu/src/components/MenuList/useMenuList.test.ts
  packages/react-components/react-menu/src/components/MenuList/useMenuList.ts
  packages/react-components/react-menu/src/components/MenuList/useMenuListContextValues.ts
  packages/react-components/react-menu/src/contexts/menuContext.ts
  packages/react-components/react-menu/src/contexts/menuListContext.tsx
  packages/react-components/react-menu/src/index.ts
  packages/react-components/react-menu/src/testing/mockUseMenuContext.ts
Labels: Fluent UI react-components (v9), Component: Menu

#25874 feat: add far group example for toolbar
  apps/vr-tests-react-components/src/stories/Toolbar/Toolbar.stories.tsx
  change/@fluentui-react-toolbar-1e4b5339-c938-49e8-992a-00afb2aa131f.json
  packages/react-components/react-toolbar/etc/react-toolbar.api.md
  packages/react-components/react-toolbar/src/ToolbarGroup.ts
  packages/react-components/react-toolbar/src/components/ToolbarGroup/ToolbarGroup.test.tsx
  packages/react-components/react-toolbar/src/components/ToolbarGroup/ToolbarGroup.tsx
  packages/react-components/react-toolbar/src/components/ToolbarGroup/ToolbarGroup.types.ts
  packages/react-components/react-toolbar/src/components/ToolbarGroup/__snapshots__/ToolbarGroup.test.tsx.snap
  packages/react-components/react-toolbar/src/components/ToolbarGroup/index.ts
  packages/react-components/react-toolbar/src/components/ToolbarGroup/renderToolbarGroup.tsx
  packages/react-components/react-toolbar/src/components/ToolbarGroup/useToolbarGroup.ts
  packages/react-components/react-toolbar/src/components/ToolbarGroup/useToolbarGroupStyles.ts
  packages/react-components/react-toolbar/src/index.ts
  packages/react-components/react-toolbar/src/stories/Toolbar/ToolbarFarGroup.stories.tsx
  packages/react-components/react-toolbar/src/stories/Toolbar/index.stories.tsx
Labels: Area: Documentation, Component: Toolbar

#25728 ci: migrate to latest tj-actions/changed-files action
  .github/workflows/check-packages.yml
  .github/workflows/docsite-publish-chromatic.yml
  .github/workflows/docsite-publish-ghpages.yml
Labels: CI

#25900 8.0 Azure Theme ActionButton style bug fix
  change/@fluentui-azure-themes-fe64290b-3f2d-41ad-9969-5a64dfabe50c.json
  packages/azure-themes/src/azure/AzureThemeDark.ts
  packages/azure-themes/src/azure/Constants.ts
  packages/azure-themes/src/azure/styles/ActionButton.styles.ts
  packages/react-examples/src/azure-themes/stories/Themes/Themes.stories.tsx
Labels: Package: azure-themes

#25903 fix(react-theme): Update theme tokens
  apps/public-docsite-v9/src/Concepts/Migration/FromV8/ThemeColors/colorMap.ts
  apps/public-docsite-v9/src/shims/ThemeShim/v9ThemeShim.ts
  change/@fluentui-react-migration-v8-v9-6e82e10d-a5d2-484c-87ad-e586af0f6ef4.json
  change/@fluentui-react-theme-5181a86b-989b-4039-82c2-6d434d0932a8.json
  change/@fluentui-react-theme-sass-4d6afacc-99d0-4de9-9805-db76f1327475.json
  packages/react-components/react-theme-sass/sass/colorPaletteTokens.scss
  packages/react-components/react-theme-sass/sass/colorTokens.scss
  packages/react-components/react-theme/etc/react-theme.api.md
  packages/react-components/react-theme/src/alias/darkColor.ts
  packages/react-components/react-theme/src/alias/darkColorPalette.ts
  packages/react-components/react-theme/src/alias/highContrastColor.ts
  packages/react-components/react-theme/src/alias/highContrastColorPalette.ts
  packages/react-components/react-theme/src/alias/lightColor.ts
  packages/react-components/react-theme/src/alias/lightColorPalette.ts
  packages/react-components/react-theme/src/alias/teamsDarkColor.ts
  packages/react-components/react-theme/src/alias/teamsDarkColorPalette.ts
  packages/react-components/react-theme/src/tokens.ts
  packages/react-components/react-theme/src/types.ts
  packages/react-components/react-theme/src/utils/createTeamsDarkTheme.ts
  packages/react-migration-v8-v9/src/components/Theme/v9ThemeShim.ts
Labels: Component: Theme, Fluent UI react-components (v9)

#25827 feat: implement accessibility features for selectable cards
  change/@fluentui-react-card-eb4bcf69-423b-47f8-854a-a214ede6a002.json
  packages/react-components/react-card/etc/react-card.api.md
  packages/react-components/react-card/src/components/Card/Card.cy.tsx
  packages/react-components/react-card/src/components/Card/Card.test.tsx
  packages/react-components/react-card/src/components/Card/Card.tsx
  packages/react-components/react-card/src/components/Card/Card.types.ts
  packages/react-components/react-card/src/components/Card/CardContext.ts
  packages/react-components/react-card/src/components/Card/index.ts
  packages/react-components/react-card/src/components/Card/renderCard.tsx
  packages/react-components/react-card/src/components/Card/useCard.ts
  packages/react-components/react-card/src/components/Card/useCardContextValue.ts
  packages/react-components/react-card/src/components/Card/useCardSelectable.ts
  packages/react-components/react-card/src/components/Card/useCardStyles.ts
  packages/react-components/react-card/src/components/CardHeader/CardHeader.types.ts
  packages/react-components/react-card/src/components/CardHeader/__snapshots__/CardHeader.test.tsx.snap
  packages/react-components/react-card/src/components/CardHeader/useCardHeader.ts
  packages/react-components/react-card/src/components/CardPreview/useCardPreview.ts
  packages/react-components/react-card/src/index.ts
  packages/react-components/react-card/stories/Card/CardAppearance.stories.tsx
  packages/react-components/react-card/stories/Card/CardBestPractices.md
  packages/react-components/react-card/stories/Card/CardDescription.md
  packages/react-components/react-card/stories/Card/CardFocusMode.stories.tsx
  packages/react-components/react-card/stories/Card/CardInteractive.stories.tsx
  packages/react-components/react-card/stories/Card/CardOrientation.stories.tsx
  packages/react-components/react-card/stories/Card/CardPreview.md
  packages/react-components/react-card/stories/Card/CardSelectable.stories.tsx
  packages/react-components/react-card/stories/Card/CardSelectableCheckbox.stories.tsx
  packages/react-components/react-card/stories/Card/CardSelectableIndicator.stories.tsx
  packages/react-components/react-card/stories/Card/CardTemplates.stories.tsx
  packages/react-components/react-card/stories/Card/index.stories.tsx
  packages/react-components/react-card/stories/CardHeader/CardHeaderDefault.stories.tsx
Labels: Area: Accessibility, Component: Card, Fluent UI react-components (v9)

#25905 feat: update Listbox and Option to use menu and menuitemcheckbox semantics for multiselect
  change/@fluentui-react-combobox-701e29a2-ac8a-4be4-bfa7-44fb3466a96f.json
  packages/react-components/react-combobox/src/components/Combobox/Combobox.test.tsx
  packages/react-components/react-combobox/src/components/Dropdown/Dropdown.test.tsx
  packages/react-components/react-combobox/src/components/Listbox/Listbox.test.tsx
  packages/react-components/react-combobox/src/components/Listbox/useListbox.ts
  packages/react-components/react-combobox/src/components/Option/__snapshots__/Option.test.tsx.snap
  packages/react-components/react-combobox/src/components/Option/useOption.tsx
Labels: Area: Accessibility, Component: ComboBox, Fluent UI react-components (v9)

#25893 chore: Move Field migration guide to Migration.md
  change/@fluentui-react-field-061c6b68-4b63-4471-9ed5-82dad697471e.json
  packages/react-components/react-field/docs/Migration.md
  packages/react-components/react-field/docs/Spec.md
Labels: Fluent UI react-components (v9), Component: Field

#25910 Change website language around strict mode
  apps/public-docsite-v9/src/Concepts/QuickStart.stories.mdx
Labels: Area: Website

#25665 Panel background color
  change/@fluentui-react-e9e6c992-15eb-4571-803d-e42257153c75.json
  packages/react/src/components/Panel/Panel.styles.ts
  packages/react/src/components/Panel/__snapshots__/Panel.test.tsx.snap
Labels: Component: Panel, Fluent UI react (v8)

#25934 fix: remove unnecessary selectable ref and add support for aria-describedby on card preview
  change/@fluentui-react-card-9d79f524-9dc5-44c5-ab24-44afd1ece6ff.json
  packages/react-components/react-card/src/components/Card/useCard.ts
  packages/react-components/react-card/src/components/Card/useCardSelectable.ts
  packages/react-components/react-card/src/components/CardPreview/useCardPreview.ts
  packages/react-components/react-card/stories/Card/CardSelectableIndicator.stories.tsx
Labels: Area: Accessibility, Component: Card, Fluent UI react-components (v9)

#25935 chore: upgrade storybook-addon-export-to-codesandbox to patch version
  package.json
  yarn.lock
Labels: Area: Build System, Storybook

#25909 fix: Stopping autocomplete in Combobox from suggesting disabled options
  change/@fluentui-react-709fca90-d856-4ff4-b369-0b8485521b0e.json
  packages/react/src/components/ComboBox/ComboBox.test.tsx
  packages/react/src/components/ComboBox/ComboBox.tsx
Labels: Component: ComboBox, Fluent UI react (v8)

#25943 fix: v8 Modal examples use heading tags
  packages/react-examples/src/react/Modal/Modal.Basic.Example.tsx
  packages/react-examples/src/react/Modal/Modal.Modeless.Example.tsx
Labels: Area: Website

#25947 fix: Removing weird hover style on first option in multiselect Comboboxes
  change/@fluentui-react-3a53c3c8-e896-4cd0-9227-2979ec7a93c7.json
  packages/react/src/components/ComboBox/ComboBox.tsx
Labels: Component: ComboBox, Fluent UI react (v8)

#25946 feat (CI): Enable 1JS VR tool to run on v7
  .devops/templates/runpublishvrscreenshot.yml
  .devops/templates/tools.yml
  apps/vr-tests/convertStoriesToStoryWright.sh
  apps/vr-tests/package.json
  apps/vr-tests/src/stories/TagPicker.stories.tsx
  azure-pipelines.vrt-baseline-v7.yml
  azure-pipelines.vrt-pr.yml
  yarn.lock
Labels: Fabric 7

#25925 Refactored migration docs
  apps/public-docsite-v9/.storybook/preview.js
  apps/public-docsite-v9/src/Concepts/Migration/GettingStarted.stories.mdx
  apps/public-docsite-v9/src/Concepts/Migration/HandlingBreakingChanges.stories.mdx
  apps/public-docsite-v9/src/Concepts/Migration/ImportantChanges.stories.mdx
  apps/public-docsite-v9/src/Concepts/Migration/KeepingDesignConsistent.stories.mdx
  apps/public-docsite-v9/src/Concepts/Migration/Overview.stories.mdx
  apps/public-docsite-v9/src/Concepts/Migration/Planning.stories.mdx
Labels: Area: Website, Component: Tabs

#25954 fix: prevent selected items to be interactive when dropdown is disabled
  packages/fluentui/react-northstar/src/components/Dropdown/Dropdown.tsx
  packages/fluentui/react-northstar/src/components/Dropdown/DropdownSelectedItem.tsx
  packages/fluentui/react-northstar/test/specs/components/Dropdown/Dropdown-test.tsx
Labels: Fluent UI react-northstar

#25892 Cherry picked from Azure theme 8.0 danger button commit
  change/@uifabric-azure-themes-819da265-3f92-400b-99db-6533f3df58ef.json
  packages/azure-themes/src/azure/AzureColors.ts
  packages/azure-themes/src/azure/AzureThemeDark.ts
  packages/azure-themes/src/azure/AzureThemeHighContrastDark.ts
  packages/azure-themes/src/azure/AzureThemeHighContrastLight.ts
  packages/azure-themes/src/azure/AzureThemeLight.ts
  packages/azure-themes/src/azure/Constants.ts
  packages/azure-themes/src/azure/IAzureSemanticColors.ts
  packages/azure-themes/src/azure/IExtendedSemanticColors.ts
  packages/azure-themes/src/azure/styles/Checkbox.styles.ts
  packages/azure-themes/src/azure/styles/DefaultButton.styles.ts
  packages/azure-themes/src/azure/styles/PrimaryButton.styles.ts
  packages/react-examples/src/azure-themes/stories/Themes/Themes.stories.tsx
Labels: Package: azure-themes, Fabric 7

#25945 fix: Avatar shouldn't render an icon when displaying an image
  apps/vr-tests-react-components/src/stories/Avatar.stories.tsx
  change/@fluentui-react-avatar-34fac678-ed67-41e8-b561-e6b3e88ada07.json
  packages/react-components/react-avatar/src/components/Avatar/Avatar.test.tsx
  packages/react-components/react-avatar/src/components/Avatar/useAvatar.tsx
Labels: Fluent UI react-components (v9), Component: Avatar

#25957 fix: Grouped Detailslist's collapseAllVisibility=hidden needs correct spacers and role=cell nodes
  change/@fluentui-react-36e9af14-473b-452c-8618-929be8d3f6a4.json
  packages/react-examples/src/react/DetailsList/DetailsList.Grouped.Example.tsx
  packages/react/src/components/DetailsList/DetailsHeader.base.tsx
  packages/react/src/components/DetailsList/DetailsRow.base.tsx
Labels: Component: DetailsList

#25971 fix: Autofill only sets selectionRange when in focus
  change/@fluentui-react-8cfa6416-9eea-4573-8625-3a956ca1b0a7.json
  packages/react/src/components/Autofill/Autofill.tsx
Labels: Component: Autofill

#25972 v7 fix: Autofill only sets selectionRange when in focus
  change/office-ui-fabric-react-958eb5bc-6d4b-4099-898b-db6835440d14.json
  packages/office-ui-fabric-react/src/components/Autofill/Autofill.tsx
Labels: Component: Autofill, Fabric 7

#25973 fix: Carousel fix for FZ - Adding data-is-visible prop
  packages/fluentui/CHANGELOG.md
  packages/fluentui/accessibility/src/behaviors/Carousel/carouselBehavior.ts
  packages/fluentui/accessibility/test/behaviors/caroselBehavior-test.tsx
  packages/fluentui/react-northstar/src/components/Carousel/Carousel.tsx
  packages/fluentui/react-northstar/test/specs/components/Carousel/Carousel-test.tsx
Labels: Fluent UI react-northstar

#25987 chore: add changelog
  packages/fluentui/CHANGELOG.md
Labels: Fluent UI react-northstar

#25988 chore: update v0 CHANGELOG.md to merge two fixes section
  packages/fluentui/CHANGELOG.md
Labels: Fluent UI react-northstar

#25984 chore: Update Checkbox and Radio to use griffel reset styles
  change/@fluentui-react-checkbox-a337788c-cf01-4300-b7e9-9cfccba53f4c.json
  change/@fluentui-react-radio-3244b173-95d4-4d07-aaf7-21e05ff4234a.json
  packages/react-components/react-checkbox/src/components/Checkbox/useCheckboxStyles.ts
  packages/react-components/react-radio/src/components/Radio/useRadioStyles.ts
Labels: Component: Checkbox, Area: Performance, Fluent UI react-components (v9), Component: Radio

#25959 fix(vr-tests v0): fix broken v0 VR tests
  packages/fluentui/docs/src/examples/components/Label/Content/LabelExampleContentCustomization.shorthand.tsx
  packages/fluentui/docs/src/examples/components/List/Types/ListExampleSelectableControlled.shorthand.tsx
  packages/fluentui/docs/src/examples/components/Menu/Usage/MenuExampleWithSubmenuControlled.shorthand.tsx
  packages/fluentui/docs/src/examples/components/Toolbar/Visual/ToolbarExampleOverflowPositioning.shorthand.tsx
  packages/fluentui/docs/src/vr-tests/Chat/Chat.stories.tsx
  packages/fluentui/docs/src/vr-tests/Video/Video.stories.tsx
Labels: Fluent UI react-northstar

#25996 chore: Add Checkbox bundle size test
  change/@fluentui-react-checkbox-f94ea0be-f27d-401f-9810-fdd8c96b2251.json
  packages/react-components/react-checkbox/bundle-size/Checkbox.fixture.js
  packages/react-components/react-checkbox/package.json
Labels: Component: Checkbox, Fluent UI react-components (v9)

#25982 Add fluent2-theme to v8
  .github/CODEOWNERS
  apps/public-docsite/package.json
  apps/public-docsite/src/components/Site/AppThemes.ts
  change/@fluentui-fluent2-theme-ce4f94b9-889e-4fe4-8afa-953fa7d4e097.json
  change/@fluentui-react-docsite-components-52e35aa1-d3b2-42f6-b451-5d4c029a034b.json
  packages/fluent2-theme/.eslintrc.json
  packages/fluent2-theme/.npmignore
  packages/fluent2-theme/CHANGELOG.json
  packages/fluent2-theme/CHANGELOG.md
  packages/fluent2-theme/LICENSE
  packages/fluent2-theme/README.md
  packages/fluent2-theme/just.config.ts
  packages/fluent2-theme/package.json
  packages/fluent2-theme/src/componentStyles/BasePicker.styles.ts
  packages/fluent2-theme/src/componentStyles/Breadcrumb.styles.ts
  packages/fluent2-theme/src/componentStyles/Button.styles.ts
  packages/fluent2-theme/src/componentStyles/Callout.styles.ts
  packages/fluent2-theme/src/componentStyles/Checkbox.styles.ts
  packages/fluent2-theme/src/componentStyles/ChoiceGroup.styles.ts
  packages/fluent2-theme/src/componentStyles/ChoiceGroupOption.styles.ts
  packages/fluent2-theme/src/componentStyles/ColorPickerGridStyles.styles.ts
  packages/fluent2-theme/src/componentStyles/CommandBar.styles.ts
  packages/fluent2-theme/src/componentStyles/CommandBarButton.styles.ts
  packages/fluent2-theme/src/componentStyles/ContextualMenu.styles.ts
  packages/fluent2-theme/src/componentStyles/Dialog.styles.ts
  packages/fluent2-theme/src/componentStyles/Dropdown.styles.ts
  packages/fluent2-theme/src/componentStyles/HoverCard.styles.ts
  packages/fluent2-theme/src/componentStyles/MessageBar.styles.ts
  packages/fluent2-theme/src/componentStyles/Modal.styles.ts
  packages/fluent2-theme/src/componentStyles/Pivot.styles.ts
  packages/fluent2-theme/src/componentStyles/SearchBox.styles.ts
  packages/fluent2-theme/src/componentStyles/Slider.styles.ts
  packages/fluent2-theme/src/componentStyles/SpinButton.styles.ts
  packages/fluent2-theme/src/componentStyles/Spinner.styles.ts
  packages/fluent2-theme/src/componentStyles/TagItem.styles.ts
  packages/fluent2-theme/src/componentStyles/TextField.styles.ts
  packages/fluent2-theme/src/componentStyles/Toggle.styles.ts
  packages/fluent2-theme/src/fluent2ComponentStyles.ts
  packages/fluent2-theme/src/fluent2WebDarkTheme.ts
  packages/fluent2-theme/src/fluent2WebLightTheme.ts
  packages/fluent2-theme/src/index.ts
  packages/fluent2-theme/src/types.ts
  packages/fluent2-theme/src/version.ts
  packages/fluent2-theme/tsconfig.json
  packages/fluent2-theme/webpack.config.js
  packages/react-docsite-components/src/components/ExampleCard/ExampleCard.styles.ts
  packages/react-examples/src/react/Theme/docs/ThemesOverview.md
  tsconfig.base.v8.json
  workspace.json
Labels: Component: Theme

#25978 Hide callout on legend hover
  change/@fluentui-react-charting-f2e133de-6ad2-4585-8f2b-a9115bfa9341.json
  packages/react-charting/src/components/AreaChart/AreaChart.base.tsx
  packages/react-charting/src/components/DonutChart/DonutChart.base.tsx
  packages/react-charting/src/components/GroupedVerticalBarChart/GroupedVerticalBarChart.base.tsx
  packages/react-charting/src/components/HeatMapChart/HeatMapChart.base.tsx
  packages/react-charting/src/components/LineChart/LineChart.base.tsx
  packages/react-charting/src/components/StackedBarChart/MultiStackedBarChart.base.tsx
  packages/react-charting/src/components/StackedBarChart/StackedBarChart.base.tsx
  packages/react-charting/src/components/VerticalBarChart/VerticalBarChart.base.tsx
  packages/react-charting/src/components/VerticalStackedBarChart/VerticalStackedBarChart.base.tsx
Labels: Package: charting

#25965 feat: add `applyStylesToPortals` prop to FluentProvider
  apps/vr-tests-react-components/.storybook/preview.js
  change/@fluentui-react-menu-2cb39518-350f-471e-aeac-f4077d6fe085.json
  change/@fluentui-react-popover-0462ea09-ba7e-4205-a8e5-17e62603e5de.json
  change/@fluentui-react-provider-f154ffd0-53f9-4a00-98fd-60f928e80590.json
  packages/react-components/react-menu/src/components/MenuPopover/useMenuPopoverStyles.ts
  packages/react-components/react-popover/src/components/PopoverSurface/usePopoverSurfaceStyles.ts
  packages/react-components/react-provider/etc/react-provider.api.md
  packages/react-components/react-provider/src/components/FluentProvider/FluentProvider.types.ts
  packages/react-components/react-provider/src/components/FluentProvider/useFluentProvider.ts
  packages/react-components/react-provider/src/components/FluentProvider/useFluentProviderContextValues.test.ts
  packages/react-components/react-provider/src/components/FluentProvider/useFluentProviderContextValues.ts
  packages/react-components/react-provider/stories/Provider/FluentProviderApplyStylesToPortals.stories.tsx
  packages/react-components/react-provider/stories/Provider/FluentProviderFrame.stories.tsx
  packages/react-components/react-provider/stories/Provider/index.stories.tsx
Labels: Component: FluentProvider, Ready for VR

#26015 Grouped details list/column reorder
  change/@fluentui-react-797d0641-9b74-4dda-8a5f-a9c7a69d943b.json
  packages/react/src/components/DetailsList/DetailsHeader.base.tsx
Labels: Component: DetailsList, Component: GroupedList, Fluent UI react (v8)

#26029 Add noflip to animation styling
  change/@fluentui-react-progress-14cf1ca6-4a0c-479b-b6e6-b29236c45a35.json
  packages/react-components/react-progress/src/components/ProgressBar/useProgressBarStyles.ts
Labels: Component: Progress

#26012 fix: button styles for disabledFocusable and text variation
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/themes/teams/components/Button/buttonStyles.ts
Labels: Fluent UI react-northstar

#25855 UI updates to the Alert Component
  change/@fluentui-react-alert-8a5ecb73-4cf7-422d-9df6-e2c5d0cacffd.json
  packages/react-components/react-alert/package.json
  packages/react-components/react-alert/src/components/Alert/useAlertStyles.ts
Labels: Component: Alert

#26038 fix: Coordinates should be rounded to integers
  change/@fluentui-react-positioning-0221531c-b4a7-45c3-9194-a022fc9bb865.json
  packages/react-components/react-positioning/src/utils/writeContainerupdates.ts
Labels: Component: Menu

#26047 chore(release): v9 packages can be determined by tags in workspace.json
  scripts/monorepo/isConvergedPackage.js
  tools/generators/version-bump/index.spec.ts
  tools/generators/version-bump/index.ts
  tools/utils.ts
Labels: Area: Build System

#25992 feat: add support for nonce in Fela renderer
  packages/fluentui/CHANGELOG.md
  packages/fluentui/docs/src/app.tsx
  packages/fluentui/react-bindings/src/renderer/RendererContext.ts
  packages/fluentui/react-northstar-fela-renderer/package.json
  packages/fluentui/react-northstar-fela-renderer/src/RendererProvider.tsx
  packages/fluentui/react-northstar-fela-renderer/src/createFelaRenderer.tsx
  packages/fluentui/react-northstar-fela-renderer/src/types.ts
  packages/fluentui/react-northstar-fela-renderer/test/felaRenderer-test.tsx
  yarn.lock
Labels: Ready for VR

#25990 chore(CI v7): Remove Screener job from pipeline
  azure-pipelines.yml
Labels: Fabric 7

#25998 chore: Add bundle size tests for Fields
  change/@fluentui-react-checkbox-9bfc3466-dc74-479e-8820-ad54de4f2533.json
  change/@fluentui-react-combobox-e0eb3ab1-5265-454e-9b32-f3f39bd63302.json
  change/@fluentui-react-input-6fef12d2-d035-4f5a-8fcb-53d6c73cf1a3.json
  change/@fluentui-react-progress-ff7d47e0-1df1-40d5-9efe-4452809de0e4.json
  change/@fluentui-react-radio-906f0d0a-f386-4053-af36-aba6cce07afb.json
  change/@fluentui-react-select-d16ee7b4-d83c-4c0b-bda9-4e0f99bc2e81.json
  change/@fluentui-react-slider-95f39bf7-b7bd-411e-92ab-89b62124d90e.json
  change/@fluentui-react-spinbutton-aa0f6ac8-e69a-4a56-bb1a-69bbcbd0f8f5.json
  change/@fluentui-react-switch-305cd688-f269-45f0-a00f-857d4e31580b.json
  change/@fluentui-react-textarea-151959be-d85c-4d7e-b1d3-c4d41efe4c40.json
  packages/react-components/react-checkbox/bundle-size/CheckboxField.fixture.js
  packages/react-components/react-combobox/bundle-size/ComboboxField.fixture.js
  packages/react-components/react-input/bundle-size/InputField.fixture.js
  packages/react-components/react-progress/bundle-size/ProgressField.fixture.js
  packages/react-components/react-radio/bundle-size/RadioGroupField.fixture.js
  packages/react-components/react-select/bundle-size/SelectField.fixture.js
  packages/react-components/react-slider/bundle-size/SliderField.fixture.js
  packages/react-components/react-spinbutton/bundle-size/SpinButtonField.fixture.js
  packages/react-components/react-switch/bundle-size/SwitchField.fixture.js
  packages/react-components/react-textarea/bundle-size/TextareaField.fixture.js
Labels: Fluent UI react-components (v9), Component: Field

#26052 chore: export GroupedListV2 types
  change/@fluentui-react-03381c14-7db9-4502-8ad9-3eea9bea4bb2.json
  packages/react/etc/react.api.md
  packages/react/src/components/GroupedList/GroupedListV2.tsx
  packages/react/src/components/GroupedList/index.ts
  packages/react/src/index.ts
Labels: PR: API Modified

#26067 chore (scripts): update create-package and create-component plop templates to reflect new v9 package structure
  scripts/generators/create-component/plop-templates/src/components/{{componentName}}/{{componentName}}.test.tsx.hbs
  scripts/generators/create-component/plop-templates/src/testing/isConformant.ts.hbs
  scripts/generators/create-package/plop-templates-react/docs/Spec.md.hbs
Labels: Area: Build System

#25956 fix: Portals should render correctly in react 18 strict mode
  apps/react-18-tests-v9/src/App.tsx
  apps/react-18-tests-v9/src/Portal.cy.tsx
  change/@fluentui-react-portal-b83079d9-1bda-4e50-a9df-c9064027f669.json
  packages/react-components/react-portal/package.json
  packages/react-components/react-portal/src/components/Portal/usePortalMountNode.ts
  yarn.lock
Labels: Area: Strict Mode, Component: Portal

#25886 feat(Tree): Unstyled prop for Tree, TreeItem and TreeTitle
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-bindings/src/hooks/useStyles.ts
  packages/fluentui/react-bindings/test/hooks/useStyles-test.tsx
  packages/fluentui/react-northstar/src/components/Tree/Tree.tsx
  packages/fluentui/react-northstar/src/components/Tree/TreeItem.tsx
  packages/fluentui/react-northstar/src/components/Tree/TreeTitle.tsx
Labels: Fluent UI react-northstar

#26050 fix: v8 ComboBox button is no longer aria-hidden by default
  change/@fluentui-react-b2a0ebef-487f-495f-b9b6-e90e361cb18b.json
  packages/react-experiments/src/components/Pagination/__snapshots__/Pagination.test.tsx.snap
  packages/react/src/components/ComboBox/ComboBox.tsx
  packages/react/src/components/ComboBox/ComboBox.types.ts
  packages/react/src/components/ComboBox/__snapshots__/ComboBox.test.tsx.snap
Labels: Component: ComboBox

#26088 chore (CI v5): remove Screener step from pipeline
  azure-pipelines.yml
Labels: Fabric 5

#26087 chore (CI v6): remove Screener step from pipeline
  azure-pipelines.yml
Labels: Fabric 6

#26084 chore(deps): bump engine.io from 6.2.0 to 6.2.1
  yarn.lock
Labels: dependencies

#26072 refactor(scripts): separate `/storybook` and `/webpack` and introduce barrel api within `/webpack`
  apps/public-docsite-resources/webpack.serve.config.js
  apps/public-docsite/webpack.config.js
  apps/public-docsite/webpack.serve.config.js
  apps/react-18-tests-v8/jest.config.js
  apps/react-18-tests-v8/webpack.config.js
  apps/ssr-tests/webpack.config.js
  apps/theming-designer/webpack.serve.config.js
  apps/vr-tests/.storybook/main.js
  change/@fluentui-react-83b1e053-10c3-427f-9ebe-159992e6ca02.json
  change/@fluentui-react-monaco-editor-cc0e10b0-dc27-4b7c-af7f-bcae8d5c671a.json
  packages/react-examples/.storybook/main.js
  packages/react-examples/.storybook/tsconfig.json
  packages/react-monaco-editor/webpack.serve.config.js
  packages/react/webpack.codepen.config.js
  packages/react/webpack.mf.config.js
  scripts/cypress/cypress.config.ts
  scripts/storybook/README.md
  scripts/storybook/tsconfig.json
  scripts/webpack/README.md
  scripts/webpack/getResolveAlias.js
  scripts/webpack/index.js
  scripts/webpack/storybook-webpack.config.js
  scripts/webpack/tsconfig.json
  scripts/webpack/webpack-resources.js
Labels: Area: Build System

#26071 chore: add V0 toolbar migration guide
  apps/public-docsite-v9/src/Concepts/Migration/FromV0/Components/Toolbar.stories.mdx
Labels: Area: Website

#25852 chore: enable proper type checking within all just.config.ts and its dependents
  apps/perf-test-react-components/src/scenarioIterations.ts
  apps/perf-test-react-components/src/scenarioNames.ts
  apps/perf-test-react-components/src/scenarioRenderTypes.ts
  apps/perf-test-react-components/tasks/perf-test.ts
  apps/perf-test-react-components/tsconfig.json
  apps/perf-test/src/scenarioIterations.ts
  apps/perf-test/src/scenarioNames.ts
  apps/perf-test/src/scenarioRenderTypes.ts
  apps/perf-test/tasks/perf-test.ts
  apps/public-docsite-resources/just.config.ts
  apps/public-docsite-v9/just.config.ts
  apps/test-bundles/just.config.ts
  apps/ts-minbar-test-react-components/just.config.ts
  apps/ts-minbar-test-react/just.config.ts
  apps/vr-tests/just.config.ts
  azure-pipelines.yml
  change/@fluentui-api-docs-92e04fd9-6009-4a8a-b9fc-70465db82c86.json
  change/@fluentui-azure-themes-46dc9e54-66bb-49eb-8a35-6fb688ed4883.json
  change/@fluentui-codemods-783c87e1-0943-4ca0-abc6-df50fcf142fc.json
  change/@fluentui-common-styles-feda0877-487b-470e-8617-90e833a5d5b2.json
  change/@fluentui-fluent2-theme-7bdd3951-c89e-4c61-9d9b-7865cac27b3f.json
  change/@fluentui-jest-serializer-merge-styles-7a452355-6ad8-4b97-a872-a1531a9408e1.json
  change/@fluentui-monaco-editor-307b595f-d6ef-4a44-a259-7d892c25a7a3.json
  change/@fluentui-react-conformance-2fd82f7c-be34-4f95-9d67-b4230429502e.json
  change/@fluentui-react-conformance-griffel-e65abd9a-8cc3-4caa-9818-fa09a2a303cd.json
  change/@fluentui-react-monaco-editor-b8892d0b-54b4-4c74-8871-18f1a9e76854.json
  change/@fluentui-test-utilities-5d1987a1-5323-4157-b59c-1b0a1412f3f4.json
  packages/a11y-testing/just.config.ts
  packages/api-docs/just.config.ts
  packages/azure-themes/just.config.ts
  packages/codemods/just.config.ts
  packages/common-styles/just.config.ts
  packages/fluent2-theme/just.config.ts
  packages/jest-serializer-merge-styles/just.config.ts
  packages/monaco-editor/just.config.ts
  packages/monaco-editor/tasks/transformCssTask.ts
  packages/react-components/react-conformance-griffel/just.config.ts
  packages/react-conformance/just.config.ts
  packages/react-monaco-editor/just.config.ts
  packages/react-monaco-editor/scripts/copyTypes.ts
  packages/test-utilities/just.config.ts
  tsconfig.json
Labels: Area: Build System

#26074 chore: set @fluentui/react-storybook-addon dependency to a pinned version in various packages
  apps/public-docsite-v9/package.json
  apps/vr-tests-react-components/package.json
  change/@fluentui-react-components-d72c0cfe-6075-444c-9af6-3fa0a3ae2501.json
  packages/react-components/react-components/package.json
Labels: Area: Build System

#26109 chore(scripts): introduce ts-node sub-package
  .vscode/launch.json
  azure-pipelines.release-vnext.yml
  azure-pipelines.release.yml
  change/@fluentui-tokens-ebf22e51-22c5-42a2-9d6a-fda0117a9a91.json
  package.json
  packages/tokens/package.json
  scripts/beachball/release-v8.config.js
  scripts/beachball/release-vNext.config.js
  scripts/ts-node/register.js
  scripts/ts-node/tsconfig.json
  scripts/tsconfig.json
Labels: Area: Build System

#26108 chore(scripts): apply single version policy on scripts/package.json devDependencies
  package.json
  packages/react-charting/jest.config.js
  scripts/package.json
  yarn.lock
Labels: Area: Build System

#26099 chore(scripts): remove deep imports from /scripts/tasks/*
  change/@fluentui-monaco-editor-4fb3039b-1e7a-4e18-a0b3-1d0e9c200bfe.json
  change/@fluentui-react-monaco-editor-87fa619c-f87b-479a-8b34-82479c930a16.json
  packages/monaco-editor/just.config.ts
  packages/react-monaco-editor/scripts/copyTypes.ts
  scripts/tasks/index.ts
Labels: Area: Build System

#26100 refactor(scripts): introduce barrel api within `/jest`
  apps/react-18-tests-v8/jest.config.js
  packages/codemods/jest.config.js
  packages/date-time-utilities/jest.config.js
  packages/dom-utilities/jest.config.js
  packages/fluentui/accessibility/jest.config.js
  packages/fluentui/react-bindings/jest.config.js
  packages/fluentui/react-builder/jest.config.js
  packages/fluentui/react-component-event-listener/jest.config.js
  packages/fluentui/react-component-nesting-registry/jest.config.js
  packages/fluentui/react-component-ref/jest.config.js
  packages/fluentui/react-icons-northstar/jest.config.js
  packages/fluentui/react-northstar-emotion-renderer/jest.config.js
  packages/fluentui/react-northstar-fela-renderer/jest.config.js
  packages/fluentui/react-northstar/jest.config.js
  packages/fluentui/react-proptypes/jest.config.js
  packages/fluentui/styles/jest.config.js
  packages/foundation-legacy/jest.config.js
  packages/jest-serializer-merge-styles/jest.config.js
  packages/keyboard-key/jest.config.js
  packages/merge-styles/jest.config.js
  packages/react-cards/jest.config.js
  packages/react-charting/jest.config.js
  packages/react-conformance/jest.config.js
  packages/react-date-time/jest.config.js
  packages/react-docsite-components/jest.config.js
  packages/react-experiments/jest.config.js
  packages/react-file-type-icons/jest.config.js
  packages/react-focus/jest.config.js
  packages/react-hooks/jest.config.js
  packages/react-icon-provider/jest.config.js
  packages/react-icons-mdl2/jest.config.js
  packages/react-migration-v8-v9/jest.config.js
  packages/react-monaco-editor/jest.config.js
  packages/react-window-provider/jest.config.js
  packages/react/jest.config.js
  packages/style-utilities/jest.config.js
  packages/test-utilities/jest.config.js
  packages/theme/jest.config.js
  packages/utilities/jest.config.js
  scripts/generators/create-package/plop-templates-node/jest.config.js
  scripts/generators/create-package/plop-templates-react/jest.config.js
  scripts/jest/index.js
  scripts/jest/jest-resources.js
  scripts/jest/jest.preset.v0.js
  scripts/jest/jest.preset.v0.spec.ts
  scripts/jest/jest.preset.v8.js
  scripts/jest/jest.preset.v8.spec.ts
  scripts/jest/v0/setupTests.js
  scripts/jest/v8/jest-mock.js
  scripts/jest/v8/jest-reporter.js
  scripts/jest/v8/jest-setup.js
  scripts/jest/v8/jest-style-mock.js
  tools/generators/migrate-converged-pkg/__fixtures__/old-jest-config.js__tmpl__
  tools/generators/migrate-converged-pkg/__snapshots__/index.spec.ts.snap
  tools/generators/migrate-v8-pkg/index.spec.ts
Labels: Area: Build System

#26093 chore: bump deps to fix critical dependency issues reported by component governance
  package.json
  yarn.lock
Labels: dependencies

#26131 chore: move storywright to root package json to adhere to single version policy for devDeps
  apps/vr-tests-react-components/package.json
  apps/vr-tests/package.json
  package.json
  packages/fluentui/docs/package.json
Labels: Area: Build System, dependencies

#26117 chore (CI v6): disable scheduled releases, future releases will need to be triggered manually
  azure-pipelines.release.yml
Labels: Area: Build System, Fabric 6
