Repository microsoft/fluentui, pull requests merged in 2022-03, with the labels that each got.

#21884 Add screener tests for Radio and RadioGroup
  apps/vr-tests-react-components/src/stories/Radio.stories.tsx
Labels: Component: Radio

#21899 Switch useLayoutEffect in v8 components to useIsomorphicLayoutEffect
  change/@fluentui-react-842cfe69-2477-474b-a9cd-88e0930dc6ea.json
  change/@fluentui-react-hooks-7b9d0375-f811-4b85-9b1d-0762b9aadd12.json
  change/@fluentui-utilities-75f44cef-664f-42ec-bbe0-a6cc7ce5bf75.json
  packages/react-hooks/README.md
  packages/react-hooks/etc/react-hooks.api.md
  packages/react-hooks/src/index.ts
  packages/react-hooks/src/useConstCallback.ts
  packages/react/src/components/ContextualMenu/ContextualMenu.base.tsx
  packages/react/src/components/FocusTrapZone/FocusTrapZone.tsx
  packages/react/src/components/Image/Image.base.tsx
  packages/react/src/components/KeytipData/useKeytipData.ts
  packages/react/src/components/Layer/Layer.base.tsx
  packages/react/src/components/Layer/LayerHost.tsx
  packages/react/src/components/TextField/MaskedTextField/MaskedTextField.tsx
  packages/react/src/utilities/useOverflow.ts
  packages/utilities/etc/utilities.api.md
  packages/utilities/src/index.ts
  packages/utilities/src/useIsomorphicLayoutEffect.ts
Labels: PR: API Modified, Area: SSR

#21852 Update Radio spec
  packages/react-radio/Spec.md
  packages/react-radio/etc/images/vertical-group-with-subtext.png
Labels: Component: Radio

#21894 Add unit tests for Radio and RadioGroup
  packages/react-radio/src/components/Radio/Radio.test.tsx
  packages/react-radio/src/components/Radio/__snapshots__/Radio.test.tsx.snap
  packages/react-radio/src/components/RadioGroup/RadioGroup.test.tsx
  packages/react-radio/src/components/RadioGroup/__snapshots__/RadioGroup.test.tsx.snap
  packages/react-radio/src/components/RadioGroup/useRadioGroup.ts
Labels: Component: Radio

#21882 Add stories for RadioGroup
  packages/react-radio/src/stories/Radio.stories.tsx
  packages/react-radio/src/stories/RadioBestPractices.md
  packages/react-radio/src/stories/RadioDefault.stories.tsx
  packages/react-radio/src/stories/RadioDescription.md
  packages/react-radio/src/stories/RadioGroup.stories.tsx
  packages/react-radio/src/stories/RadioGroupBestPractices.md
  packages/react-radio/src/stories/RadioGroupControlledValue.stories.tsx
  packages/react-radio/src/stories/RadioGroupDefault.stories.tsx
  packages/react-radio/src/stories/RadioGroupDescription.md
  packages/react-radio/src/stories/RadioGroupDisabled.stories.tsx
  packages/react-radio/src/stories/RadioGroupDisabledItem.stories.tsx
  packages/react-radio/src/stories/RadioGroupHorizontal.stories.tsx
  packages/react-radio/src/stories/RadioGroupHorizontalStacked.stories.tsx
  packages/react-radio/src/stories/RadioGroupLabelSubtext.stories.tsx
  packages/react-radio/src/stories/RadioGroupLabeled.stories.tsx
  packages/react-radio/src/stories/RadioGroupUncontrolledValue.stories.tsx
Labels: Component: Radio

#21883 Add Radio and RadioGroup to react-components/unstable
  change/@fluentui-react-components-f842d82f-171f-45e5-b458-0ba010d603a7.json
  change/@fluentui-react-radio-f614f89c-95f2-498c-af24-a10a4342c371.json
  packages/react-components/package.json
  packages/react-components/src/unstable/index.ts
  packages/react-radio/package.json
Labels: Component: Radio

#21867 Panel: Only hide siblings when open
  change/@fluentui-react-e2d6e05f-30c2-46fb-862b-4842bbe7a6d3.json
  packages/react/src/common/testUtilities.ts
  packages/react/src/components/Panel/Panel.base.tsx
  packages/react/src/components/Panel/Panel.test.tsx
Labels: Area: Accessibility, Component: Panel

#21897 Resizegroup support CSS scaled content
  change/@fluentui-react-33dc3612-9a0f-4e5a-9ba5-d14a21df9855.json
  packages/react/src/components/ResizeGroup/ResizeGroup.base.tsx
Labels: Component: ResizeGroup

#21917 Updating CODEOWNERS file to remove errors from people without write access to the repository
  .github/CODEOWNERS
Labels: Fabric 7

#21916 ContextualMenu: add empty iconProps to onRenderIcon example
  packages/react-examples/src/react/ContextualMenu/ContextualMenu.Icon.Example.tsx
Labels: Area: Website

#21918 Moving preview components misplaced stories under correct section in storybook
  packages/react-checkbox/src/Checkbox.stories.tsx
  packages/react-radio/src/stories/RadioGroup.stories.tsx
  packages/react-tabs/src/stories/TabList.stories.tsx
Labels: Area: Documentation, Storybook

#21923 Pickers: Spinner has aria label properly applied
  change/@fluentui-react-1e10d5c9-bb3c-4095-b830-fc297028d7e6.json
  packages/react/src/components/pickers/Suggestions/Suggestions.tsx
Labels: Component: Pickers

#21919 Slider: convert tests to use testing-library
  packages/react/src/components/Slider/Slider.test.tsx
  packages/react/src/components/Slider/__snapshots__/Slider.test.tsx.snap
Labels: Component: Slider

#21936 Fix(tooltip): Close tooltip with ESC key only when is opened
  packages/fluentui/CHANGELOG.md
  packages/fluentui/accessibility/src/behaviors/Tooltip/tooltipAsDescriptionBehavior.ts
  packages/fluentui/accessibility/src/behaviors/Tooltip/tooltipAsLabelBehavior.ts
  packages/fluentui/accessibility/test/behaviors/testDefinitions.ts
Labels: Fluent UI react-northstar

#21866 feat: add ability to change carousel animation
  packages/fluentui/docs/src/examples/components/Carousel/Variations/CarouselSlideAnimationExample.shorthand.tsx
  packages/fluentui/docs/src/examples/components/Carousel/Variations/index.tsx
  packages/fluentui/react-northstar/src/components/Carousel/Carousel.tsx
  packages/fluentui/react-northstar/src/components/Carousel/utils.ts
  packages/fluentui/react-northstar/test/specs/components/Carousel/Carousel-test.tsx
Labels: Fluent UI react-northstar

#20977 Button: Exporting class names of individual slots
  change/@fluentui-react-button-d331f16a-d205-4660-bec8-f39b700877cc.json
  packages/react-button/etc/react-button.api.md
  packages/react-button/src/components/Button/index.ts
  packages/react-button/src/components/Button/useButtonStyles.ts
  packages/react-button/src/components/CompoundButton/index.ts
  packages/react-button/src/components/CompoundButton/useCompoundButtonStyles.ts
  packages/react-button/src/components/MenuButton/index.ts
  packages/react-button/src/components/MenuButton/useMenuButtonStyles.ts
  packages/react-button/src/components/SplitButton/index.ts
  packages/react-button/src/components/SplitButton/useSplitButtonStyles.ts
  packages/react-button/src/components/ToggleButton/index.ts
  packages/react-button/src/components/ToggleButton/useToggleButtonStyles.ts
Labels: Component: Button

#21942 Update onRenderIcon docs to warn of render condition
  change/@fluentui-react-7a038fb1-c2d9-46cf-a15c-ccff8f64d11d.json
  packages/react/src/components/ContextualMenu/ContextualMenu.types.ts
Labels: Component: ContextualMenu

#21947 keyboard-keys: Adding missing tslib dependency
  change/@fluentui-keyboard-keys-e85295cb-376c-4067-8d3b-79dfd84ac1e6.json
  packages/keyboard-keys/package.json
Labels: Fluent UI vNext

#21955 chore: Support React 17 in peer deps in N*
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-bindings/package.json
  packages/fluentui/react-component-nesting-registry/package.json
  packages/fluentui/react-icons-northstar/package.json
  packages/fluentui/react-northstar-emotion-renderer/package.json
  packages/fluentui/react-northstar-fela-renderer/package.json
  packages/fluentui/react-northstar-prototypes/package.json
  packages/fluentui/react-northstar-styles-renderer/package.json
  packages/fluentui/react-northstar/package.json
  packages/fluentui/react-telemetry/package.json
Labels: Fluent UI react-northstar

#21944 (web-components): update karma dependency version
  change/@fluentui-web-components-45efd5aa-2bdc-492e-a61e-317b5fe39d24.json
  packages/web-components/package.json
  yarn.lock
Labels: web-components

#21957 fix(types): Remove ReactNodeArray type
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-bindings/src/compose/consts.ts
  packages/fluentui/react-builder/src/components/BrowserWindow.tsx
  packages/fluentui/react-northstar/src/types.ts
Labels: Fluent UI react-northstar

#21959 chore: add changelog for carousel changes
  packages/fluentui/CHANGELOG.md
Labels: Fluent UI react-northstar

#21950 fix(Progressbar): add ariaLabel prop
  change/@fluentui-react-a3741b7d-6622-4f14-a2a7-c946fad04f38.json
  packages/react/etc/react.api.md
  packages/react/src/components/ProgressIndicator/ProgressIndicator.base.tsx
  packages/react/src/components/ProgressIndicator/ProgressIndicator.test.tsx
  packages/react/src/components/ProgressIndicator/ProgressIndicator.types.ts
  packages/react/src/components/ProgressIndicator/__snapshots__/ProgressIndicator.test.tsx.snap
Labels: Area: Accessibility, Component: ProgressIndicator, PR: API Modified

#21965 Respect shouldFocusOnContainer prop when opening a menu via mouse click
  change/@fluentui-react-c425b099-b5fd-43fa-a973-4c7474177a34.json
  packages/react/src/components/Button/BaseButton.tsx
Labels: Component: Button

#21951 PresenceBadge: Adding unknown status
  apps/vr-tests-react-components/src/stories/PresenceBadge.stories.tsx
  change/@fluentui-react-badge-a7ea06bc-4ace-4e53-8185-d837184831d2.json
  packages/react-badge/etc/react-badge.api.md
  packages/react-badge/src/components/PresenceBadge/PresenceBadge.types.ts
  packages/react-badge/src/components/PresenceBadge/usePresenceBadge.tsx
  packages/react-badge/src/components/PresenceBadge/usePresenceBadgeStyles.ts
  packages/react-badge/src/stories/PresenceBadgeOutOfOffice.stories.tsx
  packages/react-badge/src/stories/PresenceBadgeStatus.stories.tsx
Labels: Fluent UI vNext, Component: PresenceBadge

#21945 fix d.ts errors generated by api-extractor
  change/@fluentui-web-components-68bd4a97-2cae-454a-a28e-0aba641a066a.json
  packages/web-components/docs/api-report.md
  packages/web-components/src/custom-elements.ts
Labels: web-components

#21949 fix(Menu): fix icon and submenuIndicator alignment for non-v9 icons
  apps/vr-tests-react-components/src/stories/Menu.stories.tsx
  change/@fluentui-react-menu-1918e3b8-f0c6-43a7-982c-f778eef4ecf1.json
  packages/react-menu/src/components/MenuItem/useMenuItemStyles.ts
Labels: Fluent UI vNext, Component: MenuItem

#21946 adding Signature icon
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-icons-northstar/src/components/SignatureIcon.tsx
  packages/fluentui/react-icons-northstar/src/index.ts
Labels: Fluent UI react-northstar

#21964 Added MenuSplitGroup export to react-components
  change/@fluentui-react-components-9a1ab8f5-94c3-45b9-a424-e9603a715ce7.json
  packages/react-components/etc/react-components.api.md
  packages/react-components/src/index.ts
Labels: Component: Menu

#21968 Checkbox (v8): convert tests to use testing-library
  packages/react/src/components/Checkbox/Checkbox.test.tsx
  packages/react/src/components/Checkbox/__snapshots__/Checkbox.test.tsx.snap
Labels: Component: Checkbox

#21813 Update v9 Slider for release
  change/@fluentui-react-slider-a5416cbd-ccfe-4f7f-a0af-beaf5e8d3b6e.json
  packages/react-components/src/unstable/index.ts
  packages/react-slider/MIGRATION.md
  packages/react-slider/README.md
  packages/react-slider/etc/react-slider.api.md
  packages/react-slider/src/components/Slider/Slider.stories.tsx
  packages/react-slider/src/components/Slider/Slider.test.tsx
  packages/react-slider/src/components/Slider/Slider.types.ts
  packages/react-slider/src/components/Slider/__snapshots__/Slider.test.tsx.snap
  packages/react-slider/src/components/Slider/index.ts
  packages/react-slider/src/components/Slider/stories/SliderControlled.stories.tsx
  packages/react-slider/src/components/Slider/stories/SliderVertical.stories.tsx
  packages/react-slider/src/components/Slider/useSlider.ts
  packages/react-slider/src/components/Slider/useSliderState.tsx
  packages/react-slider/src/components/Slider/useSliderStyles.ts
Labels: Component: Slider, Fluent UI vNext

#21966 Button (v8): convert tests to use testing-library
  packages/react/src/components/Button/Button.test.tsx
  packages/react/src/components/Button/__snapshots__/Button.test.tsx.snap
Labels: Component: Button

#21987 Adding Switch to @fluentui/react-components/unstable
  change/@fluentui-react-components-fd2612fd-ab61-44c8-89bf-0b66795fa1df.json
  packages/react-components/package.json
  packages/react-components/src/unstable/index.ts
  packages/react-switch/src/stories/Switch.stories.tsx
Labels: Fluent UI vNext, Component: Switch

#21991 fix focus indicator appearance when highlightFirstItemOnOpen is true
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/components/Dropdown/Dropdown.tsx
Labels: Fluent UI react-northstar

#21812 Ensure Layer uses the specific element for LayerHost, for advanced projection scenarios
  change/@fluentui-react-602dd506-4c38-43b3-97cc-323e2d5da3e4.json
  packages/react/etc/react.api.md
  packages/react/src/components/Layer/Layer.base.tsx
  packages/react/src/components/Layer/Layer.notification.ts
  packages/react/src/components/Layer/LayerHost.tsx
  packages/react/src/components/Layer/LayerHost.types.ts
Labels: Component: Layer, AutoMerge, PR: API Modified

#21970 Improve Selection with more micro-management capabilities
  change/@fluentui-utilities-cc0c03e5-dd13-492f-aeb8-a4a5db4f7097.json
  packages/utilities/etc/utilities.api.md
  packages/utilities/src/selection/Selection.test.ts
  packages/utilities/src/selection/Selection.ts
  packages/utilities/src/selection/Selection.types.ts
Labels: Package: utilities, AutoMerge, PR: API Modified

#21934 Update styling in ContextualMenu to allow primary text to remain visible on overflow
  change/@fluentui-react-955e0fdf-1bb8-4fa7-8ee5-4da0c3107a08.json
  packages/react/src/components/ContextualMenu/ContextualMenu.cnstyles.ts
  packages/react/src/components/ContextualMenu/__snapshots__/ContextualMenu.test.tsx.snap
Labels: Component: ContextualMenu

#22000 Add a styled demo to tooltip v9
  packages/react-tooltip/src/stories/Tooltip.stories.tsx
  packages/react-tooltip/src/stories/TooltipStyled.stories.tsx
Labels: Component: Tooltip

#22008 Put focus back on last element in picker when clicking back into div
  change/@fluentui-react-f721ac8e-1f5f-4966-87d0-2b1a6d6f3ba5.json
  packages/react/etc/react.api.md
  packages/react/src/components/pickers/BasePicker.tsx
  packages/react/src/components/pickers/PeoplePicker/__snapshots__/PeoplePicker.test.tsx.snap
  packages/react/src/components/pickers/TagPicker/__snapshots__/TagPicker.test.tsx.snap
  packages/react/src/components/pickers/__snapshots__/BasePicker.test.tsx.snap
Labels: Component: Pickers, Component: TagPicker, PR: API Modified

#21994 fix: Tooltip content color for HC theme
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/themes/teams-high-contrast/components/Tooltip/tooltipContentVariables.ts
Labels: Fluent UI react-northstar

#21795 Align Toolbar disabledFocusable with Button
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/components/Toolbar/ToolbarItem.tsx
  packages/fluentui/react-northstar/src/components/Toolbar/ToolbarMenuItem.tsx
  packages/fluentui/react-northstar/src/themes/teams/components/Toolbar/toolbarItemStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Toolbar/toolbarMenuItemStyles.ts
Labels: Fluent UI react-northstar

#21521 Fixed height for compact ChatMessage bar
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/themes/teams/components/Chat/chatMessageStylesCompact.ts
Labels: Fluent UI react-northstar

#22036 perf-test v9: update URL to point to newly dedicated deploy site page specifically for package
  apps/perf-test-react-components/tasks/perf-test.ts
Labels: Area: Build System

#22014 fix: update configs for @fluentui/docs to run properly with React 16.14
  packages/fluentui/docs/package.json
  packages/fluentui/docs/src/index.ejs
  packages/fluentui/docs/src/index.tsx
  scripts/webpack/webpack.config.ts
  yarn.lock
Labels: Fluent UI react-northstar

#22040 ContextualMenu: Removing unused paramater in openSubMenu calls
  change/@fluentui-react-2bbe9af4-aa2b-4cc4-b198-009db94dd912.json
  packages/react/src/components/ContextualMenu/ContextualMenu.base.tsx
Labels: Component: ContextualMenu, Type: Cleanup

#22004 ci: move syncpack to GH action
  .github/workflows/check-change.yml
  .github/workflows/check-packages.yml
  azure-pipelines.release-vnext.yml
  azure-pipelines.yml
  package.json
  scripts/fluentui-publish/index.ts
  yarn.lock
Labels: Area: Build System, dependencies

#22019 chore: Clarify info regarding releases/changelogs on our README
  README.md
Labels: Area: Documentation, Type: Documentation

#21924 fix(eslint-plugin): make import/no-extraneous-dependencies work for react config
  apps/pr-deploy-site/.eslintrc.json
  apps/pr-deploy-site/package.json
  apps/pr-deploy-site/tsconfig.json
  apps/vr-tests-react-components/package.json
  change/@fluentui-cra-template-1441b2ce-805e-4783-b54d-d0dc1405794e.json
  change/@fluentui-eslint-plugin-6b96c0dd-b3e9-49e3-9668-83ccf7e28620.json
  change/@fluentui-react-accordion-a88290b3-b03a-40b9-a8cc-d24ab80c5071.json
  change/@fluentui-react-avatar-c63280cc-55c6-4360-aa31-5ced2bd439ae.json
  change/@fluentui-react-components-6b800570-deea-41a1-a565-0987a0589347.json
  change/@fluentui-react-conformance-griffel-7dbc04a7-7597-4437-a96b-cbde034b0fe0.json
  change/@fluentui-react-tabs-7eea6ae2-201d-49d4-8749-15add0838235.json
  package.json
  packages/cra-template/.eslintrc.json
  packages/cra-template/package.json
  packages/cra-template/tsconfig.json
  packages/eslint-plugin/src/configs/react.js
  packages/react-accordion/package.json
  packages/react-avatar/package.json
  packages/react-components/config/pre-copy.json
  packages/react-components/src/unstable/package.json__tmpl__
  packages/react-components/src/unstable/tsconfig.json
  packages/react-conformance-griffel/package.json
  packages/react-tabs/package.json
  packages/react-tabs/src/components/Tab/renderTab.tsx
  packages/react-tabs/src/components/Tab/useTab.ts
  packages/react-tabs/src/components/Tab/useTabStyles.ts
  packages/react-tabs/src/components/TabList/renderTabList.tsx
  packages/react-tabs/src/components/TabList/useTabList.ts
  packages/react-tabs/src/components/TabList/useTabListStyles.ts
  scripts/tasks/copy.ts
  yarn.lock
Labels: Area: Build System, Package: eslint-plugin

#22045 Adding stream playlist icon support
  change/@uifabric-file-type-icons-491c5efe-0965-4fa5-b6db-8f332e3c9af6.json
  packages/file-type-icons/src/FileIconType.ts
  packages/file-type-icons/src/FileTypeIconMap.ts
  packages/file-type-icons/src/getFileTypeIconProps.ts
  packages/file-type-icons/src/initializeFileTypeIcons.tsx
Labels: Fabric 7, Area: Icons, Package: file-type-icons

#22052 Delete old SSR demo
  .vscode/launch.json
  apps/server-rendered-app/.eslintrc.json
  apps/server-rendered-app/CHANGELOG.json
  apps/server-rendered-app/CHANGELOG.md
  apps/server-rendered-app/index.html
  apps/server-rendered-app/just.config.ts
  apps/server-rendered-app/package.json
  apps/server-rendered-app/server/index.js
  apps/server-rendered-app/src/TodoApp.tsx
  apps/server-rendered-app/src/index.tsx
  apps/server-rendered-app/tsconfig.json
  apps/server-rendered-app/webpack.config.js
  apps/server-rendered-app/webpack.serve.config.js
  workspace.json
  yarn.lock
Labels: Area: Build System, Area: SSR

#22021 revert: ESlint - support tsconfig excluded files
  change/@fluentui-eslint-plugin-c78892bf-1aff-4715-aa5c-a43a942b4184.json
  packages/eslint-plugin/src/configs/react.js
  packages/eslint-plugin/src/utils/configHelpers.js
Labels: Area: Build System, Package: eslint-plugin

#22047 chore: prepare release react-northstar 0.61.0
  packages/fluentui/CHANGELOG.md
Labels: Fluent UI react-northstar

#22048 chore: cleanup/unify root package aliases
  .devops/templates/cleanup.yml
  .github/workflows/check-packages.yml
  azure-pipelines.perf-test.yml
  package.json
  scripts/beachball/.beachballrc.base.json
Labels: Area: Build System

#20709 RFC: Automated dependency version management
  .github/dependabot.yml
  rfcs/build-system/dependency-management.md
Labels: Area: Build System, Type: RFC, dependencies

#22070 fix(react-tabster): fix styles in getFocusOutlineStyles()
  change/@fluentui-react-tabster-4355ad2a-cb2d-4180-b282-3d54ee137d0f.json
  packages/react-tabster/src/hooks/useFocusIndicatorStyle.ts
Labels: Fluent UI vNext

#22066 chore: disable beachball autocommit on change file generation
  package.json
Labels: Area: Build System

#22063 Add compat exports to date-time-utilities
  change/@fluentui-date-time-utilities-2308a8ce-79bb-4197-b0c0-6a29a8889460.json
  packages/date-time-utilities/package.json
Labels: Package: date-time

#22076 Fix markdown-to-jsx import
  change/@fluentui-react-docsite-components-c92fcf60-45e3-46e8-8999-a621bc42b86b.json
  packages/react-docsite-components/src/components/Markdown/Markdown.tsx
  packages/react-docsite-components/src/components/Markdown/Markdown.types.ts
Labels: Area: Website

#22054 Update legacy demo apps to use bundled React
  apps/public-docsite-resources/config/pre-copy.json
  apps/public-docsite-resources/webpack.serve.config.js
  apps/theming-designer/index.html
  apps/theming-designer/webpack.config.js
  apps/theming-designer/webpack.serve.config.js
  change/@fluentui-react-button-c43ab8d5-656a-4430-844b-fae8a2a58c0c.json
  change/@fluentui-react-charting-e51a553b-83bf-43dc-8e75-a347735e28cb.json
  change/@fluentui-react-docsite-components-7d1e02be-24ff-4e39-a7a0-887fa75942d5.json
  change/@fluentui-react-experiments-fc9020db-737d-4f3a-9094-00c0db8e292a.json
  change/@fluentui-react-monaco-editor-488835a4-0a19-4632-81cc-6ea2640a549f.json
  packages/react-button/config/pre-copy.json
  packages/react-charting/config/pre-copy.json
  packages/react-docsite-components/config/pre-copy.json
  packages/react-docsite-components/index.html
  packages/react-docsite-components/src/components/CodepenComponent/CodepenComponent.tsx
  packages/react-docsite-components/webpack.serve.config.js
  packages/react-experiments/config/pre-copy.json
  packages/react-monaco-editor/config/pre-copy.json
  packages/react-monaco-editor/index.html
  packages/react-monaco-editor/webpack.serve.config.js
  scripts/webpack/webpack-resources.js
Labels: Area: Build System, Area: Website

#22061 Adding .ipynb filetype icon support to v7
  change/@uifabric-file-type-icons-a9406eef-5281-4f09-8231-ffe184479da1.json
  packages/file-type-icons/src/FileTypeIconMap.ts
  packages/file-type-icons/src/initializeFileTypeIcons.tsx
Labels: Fabric 7, Area: Icons, Package: file-type-icons

#22089 fix: Add transparent borders to slider
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/themes/teams-forced-colors/componentStyles.ts
  packages/fluentui/react-northstar/src/themes/teams-forced-colors/components/Slider/sliderStyles.ts
Labels: Fluent UI react-northstar

#22085 feat(react-tabster): Add grid navigation
  change/@fluentui-react-tabster-4ab45d8c-17b1-46af-8228-c6ced2005bf2.json
  packages/react-tabster/README.md
  packages/react-tabster/etc/react-tabster.api.md
  packages/react-tabster/src/hooks/useArrowNavigationGroup.ts
Labels: Fluent UI vNext

#22087 fix(Popup): do not dismiss context Popup on nested Popup scrolling
  packages/fluentui/CHANGELOG.md
  packages/fluentui/e2e/tests/popupDismissScroll-example.tsx
  packages/fluentui/e2e/tests/popupDismissScroll.spec.ts
  packages/fluentui/react-northstar/src/components/Popup/Popup.tsx
Labels: Fluent UI react-northstar

#22022 fix(react): Apply `menuitem` role to overflow items in Pivot
  change/@fluentui-react-fcdb408e-5bd1-48a1-b5c6-3a9e372543bc.json
  packages/react/src/components/Pivot/Pivot.base.tsx
Labels: Area: Accessibility, Component: Pivot

#22073 feat(eslint-plugin): enable no-export-all:all for all packages public…
  change/@fluentui-eslint-plugin-4067e75c-636a-4ca2-a360-3d1e3e43a9bb.json
  packages/eslint-plugin/src/configs/react.js
  packages/react-components/.eslintrc.json
Labels: Area: Build System, Package: eslint-plugin

#22011 Switch: Updating spec and migration guide to reflect latest state of the component
  change/@fluentui-react-switch-a814ed9b-844b-44e6-8274-0bec698d0569.json
  packages/react-switch/MIGRATION.md
  packages/react-switch/Spec.md
Labels: Fluent UI vNext, Component: Switch

#22107 CompoundButton: Fixing bug where component was iconOnly even when secondaryContent was being provided
  change/@fluentui-react-button-952e8e60-c355-4e57-866d-03d10d70d8d4.json
  packages/react-button/src/components/CompoundButton/CompoundButton.test.tsx
  packages/react-button/src/components/CompoundButton/useCompoundButton.ts
Labels: Component: Button, Fluent UI vNext, Component: CompoundButton

#22097 Combobox: Adding fixes for onChange and onPendingValueChanged callbacks
  change/@fluentui-react-b72ecaba-1b37-4eda-a00c-9501cc53b693.json
  packages/react/src/components/ComboBox/ComboBox.test.tsx
  packages/react/src/components/ComboBox/ComboBox.tsx
  packages/react/src/components/ComboBox/ComboBox.types.ts
Labels: Component: ComboBox, Fluent UI react (v8)

#22108 Remove star exports from react-checkbox
  change/@fluentui-react-checkbox-0ec4c118-8da5-4273-8d77-d53fee032706.json
  packages/react-checkbox/src/index.ts
Labels: Component: Checkbox

#22111 Removing star exports from @fluentui/react-button
  change/@fluentui-react-button-a9f35e7a-9acc-43aa-8ffe-ce04b66a9b55.json
  packages/react-button/src/index.ts
Labels: Component: Button, Fluent UI vNext

#22113 Removing star exports from @fluentui/react-avatar
  change/@fluentui-react-avatar-a52d5065-7994-4764-bf96-63a33f84472a.json
  packages/react-avatar/src/index.ts
Labels: Fluent UI vNext, Component: Avatar

#22112 Removing star exports from @fluentui/react-link
  change/@fluentui-react-link-00d79b74-5859-478e-9646-24dd9895b290.json
  packages/react-link/src/index.ts
Labels: Component: Link, Fluent UI vNext

#22131 Disabling lint rule for deprecated [component]ClassName exports
  change/@fluentui-react-button-633a115e-13c7-4d93-b2f1-a76ce33e883f.json
  packages/react-button/src/index.ts
Labels: Area: Build System, Component: Button

#22114 Removing star exports from @fluentui/react-badge
  change/@fluentui-react-badge-2f14143b-5d18-4cb9-baf4-90143e3134e1.json
  packages/react-badge/src/index.ts
Labels: Fluent UI vNext, Component: Badge

#22057 Align Checkbox API with other input controls
  change/@fluentui-react-checkbox-5f3195e1-e873-494f-b453-bf74eb55dea8.json
  packages/react-checkbox/etc/react-checkbox.api.md
  packages/react-checkbox/src/components/Checkbox/Checkbox.types.ts
Labels: Component: Checkbox

#22136 Removing star exports from @fluentui/react-divider
  change/@fluentui-react-divider-a296016c-a48d-4eee-a35f-e3f92dc129de.json
  packages/react-divider/src/index.ts
Labels: Fluent UI vNext, Component: Divider

#22138 Removing star exports from @fluentui/react-label
  change/@fluentui-react-label-ef9081a1-1ee4-4ee1-b58b-12a01b3e2dbe.json
  packages/react-label/src/index.ts
Labels: Component: Label, Fluent UI vNext

#22140 Removing star exports from @fluentui/react-input
  change/@fluentui-react-input-0394afa3-93d8-4114-8186-351ee5141788.json
  packages/react-input/src/index.ts
Labels: Fluent UI vNext, Component: Input

#22139 Removing star exports from @fluentui/react-switch
  change/@fluentui-react-switch-79de723f-654c-4eba-adc9-b31e8ba303ef.json
  packages/react-switch/src/index.ts
Labels: Fluent UI vNext, Component: Switch

#22147 Button components: Making root a non-nullable slot
  change/@fluentui-react-button-94a03308-210e-4d14-a9bd-a33e4aca69ae.json
  packages/react-button/etc/react-button.api.md
  packages/react-button/src/components/Button/Button.types.ts
  packages/react-button/src/components/SplitButton/SplitButton.types.ts
Labels: Component: Button, Fluent UI vNext, Component: ToggleButton, Component: SplitButton, Component: CompoundButton, Component: MenuButton

#22148 Button: Deprecating block prop
  change/@fluentui-react-button-83582077-8826-47dd-89e1-58494886e86b.json
  packages/react-button/src/components/Button/Button.types.ts
  packages/react-button/src/components/Button/useButton.ts
  packages/react-button/src/components/Button/useButtonStyles.ts
  packages/react-button/src/components/SplitButton/useSplitButton.ts
  packages/react-button/src/components/SplitButton/useSplitButtonStyles.ts
Labels: Component: Button, Fluent UI vNext

#22150 Removing star exports from @fluentui/react-slider
  change/@fluentui-react-slider-74f2e75b-fa8d-4b9d-8c1a-2e6f983e72f7.json
  packages/react-slider/src/index.ts
Labels: Component: Slider, Fluent UI vNext

#22151 Removing star exports from @fluentui/react-tabs
  change/@fluentui-react-tabs-798b8aec-7f35-4265-9215-435d7b834d9a.json
  packages/react-tabs/src/index.ts
Labels: Component: Pivot, Component: Tabs

#22156 Removing star exports from @fluentui/react-tooltip
  change/@fluentui-react-tooltip-2fe5f0f6-e37a-4bd0-b550-6fcfe8a6ccb1.json
  packages/react-tooltip/src/index.ts
Labels: Component: Tooltip, Fluent UI vNext

#22161 @fluentui/react: Adding style files to export maps
  change/@fluentui-react-60213acf-3761-4496-955f-df9a1876d78a.json
  packages/react/package.json
Labels: Area: Packaging, Fluent UI react (v8)

#22164 Port #14945 (Port #8842 to add tooltip for cancel button in Panel) from office-ui-fabric-react_v5.79.1 to hotfix/5.135.6
  common/changes/office-ui-fabric-react/hotfix_03-hotfix-5.135.6_2022-03-19-06-33.json
  packages/office-ui-fabric-react/src/components/Panel/Panel.tsx
Labels: Component: Panel

#22165 Port #14932 (Port #6836 to fix typo in role attribute in DocumentCardActivity) from office-ui-fabric-react_v5.79.1 to hotfix/5.135.6
  common/changes/office-ui-fabric-react/hotfix_04-hotfix-5.135.6_2022-03-19-06-51.json
  packages/office-ui-fabric-react/src/components/DocumentCard/DocumentCardActivity.tsx
  packages/office-ui-fabric-react/src/components/DocumentCard/__snapshots__/DocumentCard.test.tsx.snap
Labels: Component: DocumentCard

#22168 Port #18078 (Port #7048 to remove role 'list' from the base picker text element in BasePicker) from office-ui-fabric-react_v5.79.1 to hotfix/5.135.6
  common/changes/office-ui-fabric-react/hotfix_07-hotfix-5.135.6_2022-03-19-12-06.json
  packages/office-ui-fabric-react/src/components/pickers/BasePicker.tsx
  packages/office-ui-fabric-react/src/components/pickers/__snapshots__/BasePicker.test.tsx.snap
Labels: Component: Pickers

#22170 Port #19707 (Port #9163 to update expand button's aria label to include link name in Nav) from office-ui-fabric-react_v5.79.1 to hotfix/5.135.6
  common/changes/office-ui-fabric-react/hotfix_09-hotfix-5.135.6_2022-03-19-14-26.json
  packages/office-ui-fabric-react/src/components/Nav/Nav.base.tsx
  packages/office-ui-fabric-react/src/components/Nav/Nav.types.ts
Labels: Component: Nav

#22171 Fix import path error in DetailsList/DetailsHeader
  common/changes/office-ui-fabric-react/hotfix_10-hotfix-5.135.6_2022-03-20-06-56.json
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsHeader.tsx
Labels: Component: DetailsList

#22146 Avatar: Fix style for sizes 20 and 24 to have semibold fontWeight instead of regular
  change/@fluentui-react-avatar-8816dd26-3129-4deb-85b1-e7ec3a402bcd.json
  packages/react-avatar/src/components/Avatar/useAvatarStyles.ts
Labels: Component: Avatar

#22153 fix(Portal): update `mountNode` types to accept HTMLElement
  change/@fluentui-react-portal-0160db08-c837-47b2-bcc0-2016365a121c.json
  packages/react-portal/src/components/Portal/Portal.types.ts
  packages/react-portal/src/components/Portal/usePortalMountNode.ts
Labels: Fluent UI vNext, Component: Portal

#22173 Fix: trigger button id should no longer be used as aria label
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/components/Dropdown/Dropdown.tsx
  packages/fluentui/react-northstar/test/specs/components/Dropdown/Dropdown-test.tsx
Labels: Component: Dropdown, Fluent UI react-northstar

#22183 Set role to alert for Callout example so NVDA announces properly
  packages/react-examples/src/react/Callout/Callout.Status.Example.tsx
Labels: Area: Website

#22185 Remove aria-live prop to prevent Narrator from reading twice
  packages/react-examples/src/react/Callout/Callout.Status.Example.tsx
Labels: Area: Website

#22184 Rating: add focus outlines
  change/@fluentui-react-56215fe1-3be0-41dd-b5fd-34e5311cb783.json
  packages/react/src/components/Rating/Rating.base.tsx
Labels: Area: Accessibility, Component: Rating

#22193 feat: automate codeowner addition for new packages
  .github/CODEOWNERS
  scripts/create-package/plopfile.ts
  tools/generators/add-codeowners.spec.ts
  tools/generators/add-codeowners.ts
  tools/generators/migrate-converged-pkg/README.md
  tools/generators/migrate-converged-pkg/index.spec.ts
  tools/generators/migrate-converged-pkg/index.ts
  tools/generators/migrate-converged-pkg/schema.json
  tools/generators/migrate-converged-pkg/schema.ts
  tools/utils-testing.ts
  tools/utils.ts
Labels: Area: Build System

#22201 fix: add aria-haspopup for datepicker
  packages/fluentui/CHANGELOG.md
  packages/fluentui/accessibility/src/behaviors/Datepicker/datepickerBehavior.ts
  packages/fluentui/react-northstar/src/components/Datepicker/Datepicker.tsx
Labels: Area: Accessibility, Component: DatePicker, Fluent UI react-northstar, Area: NVDA

#22197 Dropdown: Fixing issue where tabbing once focused on the Dropdown options would restore focus to the current Dropdown instead of going to the next/previous focusable elements
  change/@fluentui-react-44987c53-5d43-4040-92b0-856b0b97a34f.json
  packages/react/src/components/Dropdown/Dropdown.base.tsx
Labels: Area: Accessibility, Component: Dropdown

#22211 Label (v8): convert tests to use testing-library
  packages/react/src/components/Label/Label.test.tsx
  packages/react/src/components/Label/__snapshots__/Label.test.tsx.snap
Labels: Component: Label

#22038 [Cherry-pick] Ensure Layer uses the specific element for LayerHost, for advanced projection scenarios
  change/office-ui-fabric-react-2aefc144-c899-461e-b312-814d78a83a07.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/Layer/Layer.base.tsx
  packages/office-ui-fabric-react/src/components/Layer/Layer.notification.ts
  packages/office-ui-fabric-react/src/components/Layer/LayerHost.tsx
  packages/office-ui-fabric-react/src/components/Layer/LayerHost.types.ts
Labels: Component: Layer, Fabric 7, PR: API Modified, Fluent UI react (v7)

#22210 Announced (v8): convert tests to use testing-library
  packages/react/src/components/Announced/Announced.test.tsx
  packages/react/src/components/Announced/__snapshots__/Announced.test.tsx.snap
Labels: Component: Announced

#21935 Input API alignment and styling fixes
  apps/vr-tests-react-components/src/stories/Input.stories.tsx
  change/@fluentui-react-input-8be942c5-d8d2-4caf-bd86-23435bba1a63.json
  packages/react-input/Spec-styling.md
  packages/react-input/etc/react-input.api.md
  packages/react-input/src/components/Input/Input.types.ts
  packages/react-input/src/components/Input/useInput.ts
  packages/react-input/src/components/Input/useInputStyles.ts
  packages/react-input/src/stories/Input.stories.tsx
  packages/react-input/src/stories/InputAppearance.stories.tsx
  packages/react-input/src/stories/InputContentBeforeAfter.stories.tsx
  packages/react-input/src/stories/InputControlled.stories.tsx
  packages/react-input/src/stories/InputDefault.stories.tsx
  packages/react-input/src/stories/InputDisabled.stories.tsx
  packages/react-input/src/stories/InputInline.stories.tsx
  packages/react-input/src/stories/InputSize.stories.tsx
  packages/react-input/src/stories/InputType.stories.tsx
  packages/react-input/src/stories/InputUncontrolled.stories.tsx
Labels: Component: Input

#22009 Port react-conformance tests to testing-library
  change/@fluentui-react-conformance-7d889654-5e80-427c-b5ac-8437beabc7a1.json
  change/@fluentui-react-conformance-griffel-0e193d59-759e-48f2-a8a2-d0b3fb5bfb55.json
  packages/fluentui/react-northstar/test/specs/commonTests/isConformant.tsx
  packages/fluentui/react-northstar/test/specs/components/Form/FormButton-test.tsx
  packages/fluentui/react-northstar/test/specs/components/Form/FormCheckbox-test.tsx
  packages/fluentui/react-northstar/test/specs/components/Form/FormDatepicker-test.tsx
  packages/fluentui/react-northstar/test/specs/components/Form/FormDropdown-test.tsx
  packages/fluentui/react-northstar/test/specs/components/Form/FormInput-test.tsx
  packages/fluentui/react-northstar/test/specs/components/Form/FormRadioGroup-test.tsx
  packages/fluentui/react-northstar/test/specs/components/Form/FormSlider-test.tsx
  packages/fluentui/react-northstar/test/specs/components/Form/FormTextArea-test.tsx
  packages/fluentui/react-northstar/test/specs/components/Menu/MenuItem-test.tsx
  packages/fluentui/react-northstar/test/specs/components/Toolbar/ToolbarMenuItem-test.ts
  packages/fluentui/react-northstar/test/specs/components/Toolbar/ToolbarMenuRadioGroup-test.ts
  packages/react-accordion/src/components/Accordion/Accordion.test.tsx
  packages/react-accordion/src/components/AccordionHeader/AccordionHeader.test.tsx
  packages/react-accordion/src/components/AccordionItem/AccordionItem.test.tsx
  packages/react-accordion/src/components/AccordionPanel/AccordionPanel.test.tsx
  packages/react-conformance-griffel/src/overridesWin.ts
  packages/react-conformance-griffel/tsconfig.lib.json
  packages/react-conformance/config/tests.js
  packages/react-conformance/jest.config.js
  packages/react-conformance/package.json
  packages/react-conformance/src/defaultErrorMessages.tsx
  packages/react-conformance/src/defaultTests.tsx
  packages/react-conformance/src/index.ts
  packages/react-conformance/src/isConformant.ts
  packages/react-conformance/src/types.ts
  packages/react-conformance/src/utils/getComponent.ts
  packages/react-conformance/src/utils/index.ts
  packages/react-focus/src/common/isConformant.ts
  packages/react-menu/src/components/Menu/Menu.test.tsx
  packages/react-menu/src/components/MenuList/MenuList.test.tsx
  packages/react-menu/src/components/MenuPopover/MenuPopover.test.tsx
  packages/react-menu/src/components/MenuTrigger/MenuTrigger.test.tsx
  packages/react-popover/src/components/Popover/Popover.test.tsx
  packages/react-popover/src/components/PopoverSurface/PopoverSurface.test.tsx
  packages/react-popover/src/components/PopoverSurface/__snapshots__/PopoverSurface.test.tsx.snap
  packages/react-popover/src/components/PopoverTrigger/PopoverTrigger.test.tsx
  packages/react-provider/src/components/FluentProvider/FluentProvider.test.tsx
  packages/react-radio/src/components/Radio/Radio.test.tsx
  packages/react-radio/src/components/RadioGroup/RadioGroup.test.tsx
  packages/react-slider/src/components/Slider/Slider.test.tsx
  packages/react-toolbar/src/components/Toolbar/Toolbar.test.tsx
  packages/react-toolbar/src/components/ToolbarButton/ToolbarButton.test.tsx
  packages/react-toolbar/src/components/ToolbarDivider/ToolbarDivider.test.tsx
  packages/react-tooltip/src/components/Tooltip/Tooltip.test.tsx
  packages/react/src/common/isConformant.ts
  packages/react/src/components/Callout/Callout.test.tsx
  packages/react/src/components/ContextualMenu/ContextualMenu.test.tsx
  packages/react/src/components/HoverCard/HoverCard.test.tsx
  packages/react/src/components/Modal/__snapshots__/Modal.test.tsx.snap
  packages/react/src/components/TeachingBubble/TeachingBubble.test.tsx
  packages/react/src/components/Toggle/Toggle.test.tsx
  scripts/tasks/ts.ts
Labels: Area: Testing

#22186 Make local-codepen URL output easier to find
  scripts/local-codepen.js
Labels: Area: Build System

#21068 Select vNext styles
  packages/react-select/package.json
  packages/react-select/src/components/Select/__snapshots__/Select.test.tsx.snap
  packages/react-select/src/components/Select/useSelect.tsx
  packages/react-select/src/components/Select/useSelectStyles.ts
  workspace.json
Labels: Component: ComboBox, Fluent UI vNext

#21990 TextField (v8): convert tests to use testing-library
  packages/react/src/components/TextField/TextField.test.tsx
  packages/react/src/components/TextField/__snapshots__/TextField.test.tsx.snap
Labels: Component: TextField

#22160 feat(tools): bootstrap migrate-v8-pkg generator
  tools/generators/migrate-v8-pkg/README.md
  tools/generators/migrate-v8-pkg/files/constants.ts__tmpl__
  tools/generators/migrate-v8-pkg/index.spec.ts
  tools/generators/migrate-v8-pkg/index.ts
  tools/generators/migrate-v8-pkg/lib/utils.spec.ts
  tools/generators/migrate-v8-pkg/lib/utils.ts
  tools/generators/migrate-v8-pkg/schema.json
  tools/generators/migrate-v8-pkg/schema.ts
Labels: Area: Build System

#22081 Allow list items to render based on their selection sates
  change/@fluentui-react-acf08cb0-eba2-41e9-9741-f39e8b097f03.json
  change/@fluentui-react-experiments-98fcc38c-ff03-466e-a2f0-6283452f476a.json
  packages/react-examples/src/react/DetailsList/DetailsList.OnRender.Example.tsx
  packages/react-experiments/src/components/Tile/Tile.scss
  packages/react-experiments/src/components/Tile/Tile.tsx
  packages/react-experiments/src/components/Tile/Tile.types.ts
  packages/react/etc/react.api.md
  packages/react/src/components/DetailsList/DetailsColumn.types.ts
  packages/react/src/components/DetailsList/DetailsList.base.tsx
  packages/react/src/components/DetailsList/DetailsList.types.ts
  packages/react/src/components/DetailsList/DetailsRow.base.tsx
  packages/react/src/components/DetailsList/DetailsRow.types.ts
  packages/react/src/components/DetailsList/DetailsRowFields.tsx
  packages/react/src/components/DetailsList/DetailsRowFields.types.ts
Labels: PR: API Modified

#22224 Slider: move to RC
  change/@fluentui-react-components-ad0558ab-1e1e-478d-82bb-da15b340d876.json
  change/@fluentui-react-slider-fb843414-dfa0-400c-bb4d-eab3a319d5ad.json
  packages/react-components/etc/react-components.api.md
  packages/react-components/src/index.ts
  packages/react-components/src/unstable/index.ts
  packages/react-slider/README.md
  packages/react-slider/Spec.md
  packages/react-slider/src/components/Slider/Slider.stories.tsx
  packages/react-slider/src/components/Slider/SliderDescription.md
  packages/react-slider/src/components/Slider/Spec.md
  packages/react-slider/src/components/Slider/__snapshots__/Slider.test.tsx.snap
  packages/react-slider/src/components/Slider/useSliderState.tsx
  packages/react-slider/src/components/Slider/useSliderStyles.ts
Labels: Component: Slider

#22039 [Cherry-pick] Improve Selection with more micro-management capabilities
  change/@uifabric-utilities-2bcf64f2-09d2-4ba5-a599-26aff3eea6bc.json
  packages/utilities/etc/utilities.api.md
  packages/utilities/src/selection/Selection.test.ts
  packages/utilities/src/selection/Selection.ts
  packages/utilities/src/selection/Selection.types.ts
Labels: Package: utilities, Fabric 7, PR: API Modified

#22230 Cherry picked from 7.0 branch: reducing ChoiceGroup radio button to 18px
  change/@fluentui-azure-themes-e723c0d2-b2be-4910-97f8-61da88c187ef.json
  packages/azure-themes/src/azure/Constants.ts
  packages/azure-themes/src/azure/styles/ChoiceGroupOptions.styles.ts
Labels: Package: azure-themes

#22227 Azure Theme: Choice Group size fix
  change/@uifabric-azure-themes-7fe70699-a313-4a60-aff0-537c302a5170.json
  change/@uifabric-experiments-bf027ce7-9e34-402a-a1e3-4e9ff62576ca.json
  change/@uifabric-file-type-icons-9180bd66-bb22-4b1d-a062-9d0d84af155f.json
  change/@uifabric-react-cards-9081cfcc-33f5-499b-9943-23b2181fed03.json
  packages/azure-themes/src/azure/Constants.ts
  packages/azure-themes/src/azure/styles/ChoiceGroupOptions.styles.ts
Labels: Fabric 7, Package: azure-themes

#22110 fix(react): respect isDayPickerVisible on mobile
  change/@fluentui-react-1ad12aef-a8f5-4fc2-89d4-af3ffddd59ed.json
  packages/react/src/components/Calendar/Calendar.base.tsx
Labels: Component: Calendar

#22249 Use spawn for prettier runner for windows compat
  scripts/prettier/prettier-helpers.js
Labels: Area: Build System

#22243 fix(Dropdown examples): selected option custom style example, best practices wording
  packages/react-examples/src/react/Dropdown/Dropdown.SelectStyle.Example.tsx
  packages/react-examples/src/react/Dropdown/Dropdown.doc.tsx
  packages/react-examples/src/react/Dropdown/docs/DropdownBestPractices.md
Labels: Area: Website

#22242 Coachmark (v8): convert tests to use testing-library
  packages/react/src/components/Coachmark/Coachmark.test.tsx
  packages/react/src/components/Coachmark/__snapshots__/Coachmark.test.tsx.snap
Labels: Component: Coachmark

#22256 adjust slider styles to match contrast ratios
  change/@fluentui-react-676587fb-05b6-4230-92fc-290587f81d9d.json
  packages/react/src/components/Slider/Slider.styles.ts
  packages/react/src/components/Slider/__snapshots__/Slider.test.tsx.snap
Labels: Component: Slider

#22248 Update Jest config types
  jest.preset.js
  packages/bundle-size/jest.config.js
  packages/keyboard-keys/jest.config.js
  packages/priority-overflow/jest.config.js
  packages/react-accordion/jest.config.js
  packages/react-aria/jest.config.js
  packages/react-avatar/jest.config.js
  packages/react-badge/jest.config.js
  packages/react-button/jest.config.js
  packages/react-card/jest.config.js
  packages/react-checkbox/jest.config.js
  packages/react-combobox/jest.config.js
  packages/react-components/jest.config.js
  packages/react-conformance-griffel/jest.config.js
  packages/react-context-selector/jest.config.js
  packages/react-dialog/jest.config.js
  packages/react-divider/jest.config.js
  packages/react-image/jest.config.js
  packages/react-input/jest.config.js
  packages/react-label/jest.config.js
  packages/react-link/jest.config.js
  packages/react-menu/jest.config.js
  packages/react-popover/jest.config.js
  packages/react-portal/jest.config.js
  packages/react-positioning/jest.config.js
  packages/react-priority-overflow/jest.config.js
  packages/react-provider/jest.config.js
  packages/react-radio/jest.config.js
  packages/react-select/jest.config.js
  packages/react-shared-contexts/jest.config.js
  packages/react-slider/jest.config.js
  packages/react-spinbutton/jest.config.js
  packages/react-spinner/jest.config.js
  packages/react-storybook-addon/jest.config.js
  packages/react-storybook/jest.config.js
  packages/react-switch/jest.config.js
  packages/react-tabs/jest.config.js
  packages/react-tabster/jest.config.js
  packages/react-text/jest.config.js
  packages/react-textarea/jest.config.js
  packages/react-theme/jest.config.js
  packages/react-toolbar/jest.config.js
  packages/react-tooltip/jest.config.js
  packages/react-utilities/jest.config.js
  tools/generators/migrate-converged-pkg/index.spec.ts
  tools/generators/migrate-converged-pkg/index.ts
  tools/jest.config.js
Labels: Area: Build System

#22247 CommandBar (v8): convert tests to use testing-library
  packages/react/src/components/CommandBar/CommandBar.test.tsx
  packages/react/src/components/CommandBar/__snapshots__/CommandBar.test.tsx.snap
Labels: Component: CommandBar

#22123 perf: simplify merge functions for themes
  packages/fluentui/CHANGELOG.md
  packages/fluentui/docs/src/examples/components/Provider/Performance/ProviderMergeThemes.perf.tsx
  packages/fluentui/react-bindings/src/styles/resolveVariables.ts
  packages/fluentui/react-northstar-prototypes/src/prototypes/customToolbar/index.tsx
  packages/fluentui/react-northstar/src/components/Provider/Provider.tsx
  packages/fluentui/styles/src/mergeThemes.ts
  packages/fluentui/styles/src/toCompactArray.ts
  packages/fluentui/styles/src/types.ts
  packages/fluentui/styles/test/mergeThemes/mergeComponentStyles-test.ts
  packages/fluentui/styles/test/mergeThemes/mergeComponentVariables-test.ts
  packages/fluentui/styles/test/mergeThemes/mergeFontFaces-test.ts
  packages/fluentui/styles/test/mergeThemes/mergeSiteVariables-test.ts
  packages/fluentui/styles/test/mergeThemes/mergeStaticStyles-test.ts
  packages/fluentui/styles/test/mergeThemes/mergeThemeVariables-test.ts
  packages/fluentui/styles/test/mergeThemes/mergeThemes-test.ts
  packages/fluentui/styles/tsconfig.json
  scripts/typescript/tsconfig.fluentui.json
Labels: Fluent UI react-northstar

#22262 Convert a11y-testing package to testing-library
  packages/a11y-testing/package.json
  packages/a11y-testing/src/facades/ComponentTestFacade.tsx
Labels: Area: Testing

#22258 v7 cherry pick: Added secondary text styling
  change/office-ui-fabric-react-b9a45794-e721-4867-b35e-0d5540e81a1c.json
  packages/office-ui-fabric-react/src/components/pickers/PeoplePicker/PeoplePickerItems/PeoplePickerItem.styles.ts
  packages/react-examples/src/office-ui-fabric-react/PeoplePicker/PeoplePicker.Normal.Example.tsx
Labels: Component: Pickers, Fabric 7

#22267 v8 website: change class to className in markdown files
  apps/public-docsite/src/pages/Overviews/GetStartedPage/docs/web/GetStartedNextSteps.md
  apps/public-docsite/src/pages/Overviews/ResourcesPage/docs/default/ResourcesContributionProcess.md
  apps/public-docsite/src/pages/Overviews/ResourcesPage/docs/default/ResourcesDesignResources.md
  apps/public-docsite/src/pages/Overviews/ResourcesPage/docs/default/ResourcesDeveloperResources.md
Labels: Area: Website

#22096 Textarea: Adding implementation
  packages/react-textarea/Spec.md
  packages/react-textarea/etc/react-textarea.api.md
  packages/react-textarea/src/components/Textarea/Textarea.test.tsx
  packages/react-textarea/src/components/Textarea/Textarea.tsx
  packages/react-textarea/src/components/Textarea/Textarea.types.ts
  packages/react-textarea/src/components/Textarea/__snapshots__/Textarea.test.tsx.snap
  packages/react-textarea/src/components/Textarea/renderTextarea.tsx
  packages/react-textarea/src/components/Textarea/useTextarea.ts
  packages/react-textarea/src/components/Textarea/useTextareaStyles.ts
  packages/react-textarea/src/index.ts
  packages/react-textarea/src/stories/Textarea.stories.tsx
  packages/react-textarea/src/stories/TextareaAppearance.stories.tsx
  packages/react-textarea/src/stories/TextareaBestPractices.md
  packages/react-textarea/src/stories/TextareaControlled.stories.tsx
  packages/react-textarea/src/stories/TextareaDescription.md
  packages/react-textarea/src/stories/TextareaDisabled.stories.tsx
  packages/react-textarea/src/stories/TextareaPlaceholder.stories.tsx
  packages/react-textarea/src/stories/TextareaResize.stories.tsx
  packages/react-textarea/src/stories/TextareaSize.stories.tsx
  packages/react-textarea/src/stories/TextareaUncontrolled.stories.tsx
Labels: Fluent UI vNext, Component: Textarea

#22272 react-textarea: Adding bundle size fixtures
  packages/react-textarea/bundle-size/Textarea.fixture.js
  packages/react-textarea/package.json
Labels: Component: Textarea

#22209 Breadcrumb (v8): convert tests to use testing-library
  packages/react/src/components/Breadcrumb/Breadcrumb.test.tsx
  packages/react/src/components/Breadcrumb/__snapshots__/Breadcrumb.test.tsx.snap
Labels: Component: Breadcrumb

#22275 react-textarea: Adding unit tests
  packages/react-textarea/src/components/Textarea/Textarea.test.tsx
  packages/react-textarea/src/components/Textarea/__snapshots__/Textarea.test.tsx.snap
Labels: Component: Textarea
