Repository microsoft/fluentui, pull requests merged in 2022-06, with the labels that each got.

#23347 chore: update `add-to-milestone` action to latest version
  .github/workflows/pr-housekeeping.yml
Labels: Area: Build System

#23256 fix(react-avatar): sort out PresenceBadge usage and attributes
  change/@fluentui-react-avatar-84eb3928-ce1b-4f75-b739-5d34a7ed068f.json
  change/@fluentui-react-badge-e514e2fd-0699-46c4-ad97-92cb6069877e.json
  packages/react-components/react-avatar/src/components/Avatar/Avatar.test.tsx
  packages/react-components/react-avatar/src/components/Avatar/useAvatar.tsx
  packages/react-components/react-avatar/src/stories/AvatarBadge.stories.tsx
  packages/react-components/react-avatar/src/stories/AvatarDefault.stories.tsx
  packages/react-components/react-badge/src/components/PresenceBadge/__snapshots__/PresenceBadge.test.tsx.snap
  packages/react-components/react-badge/src/components/PresenceBadge/usePresenceBadge.tsx
Labels: Component: Badge, Component: Avatar, Component: PresenceBadge

#23356 fix(public-docsite-v9): use png type for og:image meta property
  apps/public-docsite-v9/.storybook/manager-head.html
  apps/public-docsite-v9/public/fluentui-banner-meta.png
Labels: Area: Website

#23358 docs: Update the source code z-index to be 0
  .storybook/docs-root.css
Labels: Component: Menu

#22936 fix: update FluentProvider to fix text direction in styles
  change/@fluentui-react-provider-0b1baeb4-8b6e-4869-8a6b-c5e2b1153016.json
  packages/react-components/react-provider/.babelrc.json
  packages/react-components/react-provider/config/tests.js
  packages/react-components/react-provider/package.json
  packages/react-components/react-provider/src/common/isConformant.ts
  packages/react-components/react-provider/src/components/FluentProvider/FluentProvider.test.tsx
  packages/react-components/react-provider/src/components/FluentProvider/useFluentProviderStyles.ts
  packages/react-components/react-provider/tsconfig.spec.json
Labels: Fluent UI vNext

#22300 RFC: Global context registration for v9
  rfcs/react-components/convergence/global-contex-registration.md
Labels: Type: RFC

#23295 chore: updates Accordion to follow design spec tokens
  change/@fluentui-react-accordion-d918d9bf-a316-4e92-b3d5-c2714f25f80f.json
  packages/react-components/react-accordion/src/components/AccordionHeader/useAccordionHeaderStyles.ts
  packages/react-components/react-accordion/src/components/AccordionPanel/useAccordionPanelStyles.ts
  packages/react-components/react-accordion/src/stories/AccordionExpandIcon.stories.tsx
Labels: Component: Accordion

#23310 react-avatar: Adding AvatarGroupItem implementation and AvatarGroup context
  change/@fluentui-react-avatar-1ab0ce5a-6046-4069-8ac6-496201496645.json
  packages/react-components/react-avatar/etc/react-avatar.api.md
  packages/react-components/react-avatar/package.json
  packages/react-components/react-avatar/src/components/AvatarGroup/AvatarGroup.types.ts
  packages/react-components/react-avatar/src/components/AvatarGroup/useAvatarGroup.ts
  packages/react-components/react-avatar/src/components/AvatarGroupItem/AvatarGroupItem.test.tsx
  packages/react-components/react-avatar/src/components/AvatarGroupItem/AvatarGroupItem.tsx
  packages/react-components/react-avatar/src/components/AvatarGroupItem/AvatarGroupItem.types.ts
  packages/react-components/react-avatar/src/components/AvatarGroupItem/__snapshots__/AvatarGroupItem.test.tsx.snap
  packages/react-components/react-avatar/src/components/AvatarGroupItem/renderAvatarGroupItem.tsx
  packages/react-components/react-avatar/src/components/AvatarGroupItem/useAvatarGroupItem.ts
  packages/react-components/react-avatar/src/components/AvatarGroupItem/useAvatarGroupItemStyles.ts
  packages/react-components/react-avatar/src/contexts/AvatarGroupContext.ts
  packages/react-components/react-avatar/src/contexts/AvatarGroupContext.types.ts
  packages/react-components/react-avatar/src/contexts/index.ts
  packages/react-components/react-avatar/src/stories/AvatarGroupItemDefault.stories.tsx
Labels: Fluent UI vNext, Component: AvatarGroup

#23384 Button: Fixing hover styles in High Contrast mode
  change/@fluentui-react-button-b1502248-3d52-496f-99be-70bf2247d014.json
  packages/react-components/react-button/src/components/Button/useButtonStyles.ts
Labels: Area: Accessibility, Component: Button, Fluent UI vNext, High Contrast

#23338 fix: Setting 'flex-schrink: 0' on listItemHeaderMediaStyle
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/themes/teams/components/List/listItemHeaderMediaStyles.ts
Labels: Fluent UI react-northstar

#23037 feat(react-card): add `orientation` prop
  apps/vr-tests-react-components/src/stories/Card.stories.tsx
  change/@fluentui-react-card-13cff888-f801-42d1-baab-65ef228df98e.json
  packages/react-components/react-card/assets/logo.svg
  packages/react-components/react-card/etc/react-card.api.md
  packages/react-components/react-card/src/components/Card/Card.types.ts
  packages/react-components/react-card/src/components/Card/useCard.ts
  packages/react-components/react-card/src/components/Card/useCardStyles.ts
  packages/react-components/react-card/src/components/CardPreview/useCardPreviewStyles.ts
  packages/react-components/react-card/src/stories/Card.stories.tsx
  packages/react-components/react-card/src/stories/CardOrientation.stories.tsx
Labels: Component: Card, Fluent UI vNext

#22206 feat: Generator for programmatical creation of migration epics
  tools/generators/epic-generator/README.md
  tools/generators/epic-generator/index.spec.ts
  tools/generators/epic-generator/index.ts
  tools/generators/epic-generator/schema.json
  tools/generators/epic-generator/schema.ts
Labels: Type: Feature, Area: DevExp, Fluent UI vNext

#23387 Button: Adding missing forced color adjust overrides
  change/@fluentui-react-button-7276bbe3-2ce4-42d5-b717-c2c87e8b0c2b.json
  packages/react-components/react-button/src/components/Button/useButtonStyles.ts
Labels: Area: Accessibility, Component: Button, Fluent UI vNext, High Contrast

#23395 README, spec and migration guide cleanup for react-button, react-checkbox and react-link
  change/@fluentui-react-button-2692d635-528d-45d6-8b33-5d98028b6060.json
  change/@fluentui-react-checkbox-5f29fcf9-ff59-4c28-be1d-7b7a4a79268e.json
  change/@fluentui-react-link-8aa95273-588e-44b2-a6cc-9a583e8cf800.json
  packages/react-components/react-button/README.md
  packages/react-components/react-button/src/components/Button/MIGRATION.md
  packages/react-components/react-checkbox/MIGRATION.md
  packages/react-components/react-checkbox/README.md
  packages/react-components/react-checkbox/Spec.md
  packages/react-components/react-link/MIGRATION.md
  packages/react-components/react-link/README.md
Labels: Area: Documentation, Component: Button, Component: Checkbox, Component: Link, Fluent UI vNext

#23396 README, spec and migration guide cleanup for react-switch
  change/@fluentui-react-switch-6a55c865-0569-4729-81c9-4c5129b184da.json
  packages/react-components/react-switch/MIGRATION.md
  packages/react-components/react-switch/README.md
  packages/react-components/react-switch/Spec.md
Labels: Area: Documentation, Fluent UI vNext, Component: Switch

#23297 docs(Dropdown): Donts section
  packages/fluentui/docs/src/examples/components/Dropdown/BestPractices/DropdownBestPractices.tsx
Labels: Fluent UI react-northstar

#23405 Affixed hover state closer to the cursor 
  change/@fluentui-react-charting-ea7e79ed-50c5-41f2-beb6-9b3c1dc058a2.json
  packages/react-charting/src/components/AreaChart/AreaChart.base.tsx
  packages/react-charting/src/components/DonutChart/DonutChart.base.tsx
  packages/react-charting/src/components/GroupedVerticalBarChart/GroupedVerticalBarChart.base.tsx
  packages/react-charting/src/components/HeatMapChart/HeatMapChart.base.tsx
  packages/react-charting/src/components/HorizontalBarChart/HorizontalBarChart.base.tsx
  packages/react-charting/src/components/StackedBarChart/MultiStackedBarChart.base.tsx
  packages/react-charting/src/components/StackedBarChart/StackedBarChart.base.tsx
  packages/react-charting/src/components/VerticalBarChart/VerticalBarChart.base.tsx
  packages/react-charting/src/components/VerticalStackedBarChart/VerticalStackedBarChart.base.tsx
  packages/react-examples/src/react-charting/HorizontalBarChart/HorizontalBarChart.CustomCallout.Example.tsx
  packages/react-examples/src/react-charting/VerticalStackedBarChart/VerticalStackedBarChart.Callout.Example.tsx
  packages/react-examples/src/react-charting/VerticalStackedBarChart/VerticalStackedBarChart.Styled.Example.tsx
Labels: Package: charting

#23407 fix(Dropdown) Return selected value to the label
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/components/Dropdown/Dropdown.tsx
  packages/fluentui/react-northstar/test/specs/components/Dropdown/Dropdown-test.tsx
Labels: Component: Dropdown, Fluent UI react-northstar

#23408 feat(react-utilities): extend `Slot` to support `VoidFunctionComponents`
  change/@fluentui-react-utilities-636b4fe0-b6f1-4d47-bc86-3e31c41ff2e3.json
  packages/react-components/react-utilities/etc/react-utilities.api.md
  packages/react-components/react-utilities/src/compose/types.ts
Labels: Package: utilities, Fluent UI vNext

#22933 feat: apply zIndex to Portal
  change/@fluentui-react-portal-5f022d8a-1302-434f-afb4-7a56fc8e71bb.json
  packages/react-components/react-portal/.babelrc.json
  packages/react-components/react-portal/config/tests.js
  packages/react-components/react-portal/jest.config.js
  packages/react-components/react-portal/package.json
  packages/react-components/react-portal/src/components/Portal/Portal.test.tsx
  packages/react-components/react-portal/src/components/Portal/usePortalMountNode.ts
  packages/react-components/react-portal/tsconfig.spec.json
Labels: Component: Portal

#23080 docs(react-components): Add theming docs
  apps/public-docsite-v9/public/brand-ramp-example.png
  apps/public-docsite-v9/src/Concepts/StylingComponents.stories.mdx
  apps/public-docsite-v9/src/Concepts/Theming.stories.mdx
Labels: Area: Website, Fluent UI vNext

#22889 RFC: Browser Support Minbar for v9
  rfcs/shared/build-system/06-browser-support-for-v9.md
Labels: Area: Build System, Type: RFC

#23392 (web-components) Fix issue loading Color Explorer values
  change/@fluentui-web-components-80f9d773-bd90-490e-9d09-9a7c5518fa5b.json
  packages/web-components/src/_docs/design-system/color-explorer/components/color-block.ts
  packages/web-components/src/_docs/design-system/color-explorer/components/swatch.ts
Labels: web-components

#23337 Only stop esc propagation if the date picker is open
  change/@fluentui-react-535f80fc-7fe0-4cd7-8957-74ee2076c4f6.json
  packages/react/src/components/DatePicker/DatePicker.base.tsx
Labels: Component: DatePicker

#23418 Moved button shim examples inline
  apps/public-docsite-v9/src/Concepts/Upgrade/FromV8/Components/Button/ActionButtonShimExample.tsx
  apps/public-docsite-v9/src/Concepts/Upgrade/FromV8/Components/Button/Button.stories.mdx
  apps/public-docsite-v9/src/Concepts/Upgrade/FromV8/Components/Button/ButtonShimExamples.tsx
  apps/public-docsite-v9/src/Concepts/Upgrade/FromV8/Components/Button/CommandButtonShimExample.tsx
  apps/public-docsite-v9/src/Concepts/Upgrade/FromV8/Components/Button/CompoundButtonShimExample.tsx
  apps/public-docsite-v9/src/Concepts/Upgrade/FromV8/Components/Button/DefaultButtonShimExample.tsx
  apps/public-docsite-v9/src/Concepts/Upgrade/FromV8/Components/Button/MenuButtonShimExample.tsx
  apps/public-docsite-v9/src/Concepts/Upgrade/FromV8/Components/Button/PrimaryButtonShimExample.tsx
  apps/public-docsite-v9/src/Concepts/Upgrade/FromV8/Components/Button/ToggleButtonShimExample.tsx
  apps/public-docsite-v9/src/stories/ActionButtonShim.stories.tsx
  apps/public-docsite-v9/src/stories/ButtonShim.stories.tsx
  apps/public-docsite-v9/src/stories/CommandButtonShim.stories.tsx
  apps/public-docsite-v9/src/stories/CompoundButtonShim.stories.tsx
  apps/public-docsite-v9/src/stories/DefaultButtonShim.stories.tsx
  apps/public-docsite-v9/src/stories/PrimaryButtonShim.stories.tsx
Labels: Area: Website

#23421 Fix failing CI pipeline caused by snapshot mismatch
  packages/react/src/components/DetailsList/__snapshots__/DetailsColumn.test.tsx.snap
Labels: Component: DetailsList

#22736 react-avatar: Adding initial implementation of AvatarGroup.
  change/@fluentui-react-avatar-32be9545-3830-48b3-bca7-aa6f556ad333.json
  packages/react-components/react-avatar/etc/react-avatar.api.md
  packages/react-components/react-avatar/package.json
  packages/react-components/react-avatar/src/components/Avatar/useAvatarStyles.ts
  packages/react-components/react-avatar/src/components/AvatarGroup/AvatarGroup.strings.tsx
  packages/react-components/react-avatar/src/components/AvatarGroup/AvatarGroup.test.tsx
  packages/react-components/react-avatar/src/components/AvatarGroup/AvatarGroup.tsx
  packages/react-components/react-avatar/src/components/AvatarGroup/AvatarGroup.types.ts
  packages/react-components/react-avatar/src/components/AvatarGroup/__snapshots__/AvatarGroup.test.tsx.snap
  packages/react-components/react-avatar/src/components/AvatarGroup/renderAvatarGroup.tsx
  packages/react-components/react-avatar/src/components/AvatarGroup/useAvatarGroup.ts
  packages/react-components/react-avatar/src/components/AvatarGroup/useAvatarGroup.tsx
  packages/react-components/react-avatar/src/components/AvatarGroup/useAvatarGroupStyles.ts
  packages/react-components/react-avatar/src/stories/AvatarGroup/AvatarGroupDefault.stories.tsx
  packages/react-components/react-avatar/src/stories/AvatarGroupItem/AvatarGroupItemDefault.stories.tsx
Labels: Fluent UI vNext, Component: AvatarGroup

#23385 fix: Move progressbar role to spinner root slot and update tabindex documentation
  change/@fluentui-react-spinner-8904afe0-e4f2-4d65-a721-17ea6d11092a.json
  packages/react-components/react-spinner/README.md
  packages/react-components/react-spinner/src/components/Spinner/DefaultSvg.tsx
  packages/react-components/react-spinner/src/components/Spinner/Spinner.test.tsx
  packages/react-components/react-spinner/src/components/Spinner/useSpinner.tsx
  packages/react-components/react-spinner/src/stories/SpinnerBestPractices.md
Labels: Area: Accessibility, Component: Spinner

#23398 README, spec and migration guide cleanup for react-slider
  change/@fluentui-react-slider-8e5f30f9-2e26-41ee-87f9-26704140ab06.json
  packages/react-components/react-slider/MIGRATION.md
  packages/react-components/react-slider/README.md
  packages/react-components/react-slider/Spec.md
Labels: Area: Documentation, Component: Slider, Fluent UI vNext

#23413 fix(tools): setup/update storybook only if there stories do exist
  tools/generators/migrate-converged-pkg/index.spec.ts
  tools/generators/migrate-converged-pkg/index.ts
Labels: Area: Build System

#23439 README, spec and migration guide cleanup for react-divider
  change/@fluentui-react-divider-f4ab1379-0588-464e-922d-979cd9d023ce.json
  change/@fluentui-react-slider-97c56ec3-b7a8-4325-b158-602983349bdd.json
  change/@fluentui-react-switch-22e06122-91ad-46fe-b5ee-35c49c1b19ec.json
  packages/react-components/react-divider/MIGRATION.md
  packages/react-components/react-divider/README.md
  packages/react-components/react-divider/Spec.md
  packages/react-components/react-slider/README.md
  packages/react-components/react-switch/README.md
Labels: Area: Documentation, Fluent UI vNext, Component: Divider

#22788 RFC: SSR testing for `@fluentui/react-components`
  rfcs/shared/build-system/ssr-testing.md
Labels: Type: RFC

#23451 chore(react-card): migrate to latest DX
  change/@fluentui-react-card-787373bf-5d12-4291-8318-f02c6067f8ee.json
  packages/react-components/react-card/config/api-extractor.local.json
  packages/react-components/react-card/e2e/tsconfig.json
  packages/react-components/react-card/package.json
Labels: Component: Card, Fluent UI vNext

#23456 feat(react-card): add focus indicators
  change/@fluentui-react-card-e777c74a-8a55-4940-928a-da44df8f760b.json
  packages/react-components/react-card/etc/react-card.api.md
  packages/react-components/react-card/src/components/Card/useCardStyles.ts
Labels: Component: Card, Fluent UI vNext

#23409 chore: prepare release react-northstar 0.63.1
  packages/fluentui/CHANGELOG.md
  packages/fluentui/ability-attributes/package.json
  packages/fluentui/accessibility/package.json
  packages/fluentui/circulars-test/package.json
  packages/fluentui/code-sandbox/package.json
  packages/fluentui/digest/package.json
  packages/fluentui/docs-components/package.json
  packages/fluentui/docs/package.json
  packages/fluentui/e2e/package.json
  packages/fluentui/lerna.json
  packages/fluentui/local-sandbox/package.json
  packages/fluentui/perf-test-northstar/package.json
  packages/fluentui/perf/package.json
  packages/fluentui/projects-test/package.json
  packages/fluentui/react-bindings/package.json
  packages/fluentui/react-builder/package.json
  packages/fluentui/react-component-event-listener/package.json
  packages/fluentui/react-component-nesting-registry/package.json
  packages/fluentui/react-component-ref/package.json
  packages/fluentui/react-icons-northstar/package.json
  packages/fluentui/react-northstar-emotion-renderer/package.json
  packages/fluentui/react-northstar-fela-renderer/package.json
  packages/fluentui/react-northstar-prototypes/package.json
  packages/fluentui/react-northstar-styles-renderer/package.json
  packages/fluentui/react-northstar/package.json
  packages/fluentui/react-proptypes/package.json
  packages/fluentui/react-telemetry/package.json
  packages/fluentui/state/package.json
  packages/fluentui/styles/package.json
Labels: Fluent UI react-northstar

#20881 RFC: Changefile and changelog guidelines in PRs
  rfcs/convergence/changelog-guidelines.md
Labels: Area: Build System, Type: RFC

#23447 README, spec and migration guide cleanup for react-image
  change/@fluentui-react-image-68ae7370-4764-401f-a213-1672d7facee0.json
  packages/react-components/react-image/MIGRATION.md
  packages/react-components/react-image/README.md
  packages/react-components/react-image/Spec.md
Labels: Area: Documentation, Component: Image, Fluent UI vNext

#23438 React icons documentation revamp
  change/@fluentui-react-components-1a0a4158-41ea-499e-b088-efafefca4fd3.json
  packages/react-components/react-components/src/Concepts/Icons/Icon.stories.mdx
  packages/react-components/react-components/src/Concepts/Icons/ReactIconGrid.tsx
Labels: Area: Icons

#23437 react-avatar: Adding layout and overflow button styles to AvatarGroup
  change/@fluentui-react-avatar-a3217e5a-2124-4a29-980e-e97081b08cf3.json
  packages/react-components/react-avatar/etc/react-avatar.api.md
  packages/react-components/react-avatar/package.json
  packages/react-components/react-avatar/src/components/AvatarGroup/AvatarGroup.types.ts
  packages/react-components/react-avatar/src/components/AvatarGroup/renderAvatarGroup.tsx
  packages/react-components/react-avatar/src/components/AvatarGroup/useAvatarGroup.tsx
  packages/react-components/react-avatar/src/components/AvatarGroup/useAvatarGroupStyles.ts
  packages/react-components/react-avatar/src/components/AvatarGroupItem/AvatarGroupItem.types.ts
  packages/react-components/react-avatar/src/components/AvatarGroupItem/useAvatarGroupItem.ts
  packages/react-components/react-avatar/src/components/AvatarGroupItem/useAvatarGroupItemStyles.ts
  packages/react-components/react-avatar/src/stories/AvatarGroup/AvatarGroupLayout.stories.tsx
  packages/react-components/react-avatar/src/stories/AvatarGroup/index.stories.beta.tsx
  packages/react-components/react-avatar/src/stories/AvatarGroupItem/index.stories.beta.tsx
Labels: Fluent UI vNext, Component: AvatarGroup

#23425 Cherry-pick #19667 to 7.0
  change/@fluentui-react-87609c16-e599-49cf-91e0-2ac09923a565.json
  packages/office-ui-fabric-react/src/components/Dropdown/Dropdown.base.tsx
  packages/office-ui-fabric-react/src/components/Dropdown/Dropdown.test.tsx
  packages/office-ui-fabric-react/src/components/Dropdown/__snapshots__/Dropdown.test.tsx.snap
Labels: Component: Dropdown, Fabric 7

#23479 docs: README, spec and migration guide cleanup for react-label
  change/@fluentui-react-label-7c91e6ff-b4fa-4503-9f9c-2b70f5a62d15.json
  packages/react-components/react-label/MIGRATION.md
  packages/react-components/react-label/README.md
  packages/react-components/react-label/Spec.md
Labels: Area: Documentation, Component: Label, Fluent UI vNext

#23478 fix(react-textarea): Adding missing spacing, min-height, and font family styles
  change/@fluentui-react-textarea-089c5471-7d76-4622-b1a9-70af572fb526.json
  packages/react-components/react-textarea/src/components/Textarea/useTextareaStyles.ts
Labels: Fluent UI vNext, Component: Textarea

#23441 Calendar/Datepicker: preventDefault for FocusZone keys to prevent scroll
  change/@fluentui-react-fbe1cb4e-6137-4002-b0f7-c14c18070af0.json
  packages/react/src/components/CalendarDayGrid/CalendarDayGrid.base.tsx
Labels: Area: Accessibility, Component: CalendarDayGrid

#23401 Persona: Remove empty divs when there is no secondaryText, tertiaryText, or optionalText
  change/@fluentui-react-d1fdbf3c-b1ed-45a1-a01e-7fdd17f8591e.json
  packages/react-experiments/src/components/SelectedItemsList/SelectedPeopleList/__snapshots__/SelectedPeopleList.test.tsx.snap
  packages/react/src/components/Persona/Persona.base.tsx
  packages/react/src/components/Persona/PersonaCoin/__snapshots__/PersonaCoin.test.tsx.snap
  packages/react/src/components/Persona/__snapshots__/Persona.deprecated.test.tsx.snap
  packages/react/src/components/Persona/__snapshots__/Persona.test.tsx.snap
Labels: Component: Persona, Component: PersonaCoin, Fluent UI react (v8)

#23467 feat: add isSelectedOnFocus prop to DetailsList
  change/@fluentui-react-1c69b2a4-8b4f-43fd-bfb9-02d2307b9b4b.json
  packages/react/etc/react.api.md
  packages/react/src/components/DetailsList/DetailsList.base.tsx
  packages/react/src/components/DetailsList/DetailsList.test.tsx
  packages/react/src/components/DetailsList/DetailsList.types.ts
Labels: Component: DetailsList, PR: API Modified, Partner Ask

#23468 react-avatar: Adding styles to AvatarGroupItem
  change/@fluentui-react-avatar-9515b813-271c-4458-945c-07b16c7c979b.json
  packages/react-components/react-avatar/etc/react-avatar.api.md
  packages/react-components/react-avatar/src/components/AvatarGroup/AvatarGroup.types.ts
  packages/react-components/react-avatar/src/components/AvatarGroup/renderAvatarGroup.tsx
  packages/react-components/react-avatar/src/components/AvatarGroup/useAvatarGroup.tsx
  packages/react-components/react-avatar/src/components/AvatarGroupItem/AvatarGroupItem.types.ts
  packages/react-components/react-avatar/src/components/AvatarGroupItem/useAvatarGroupItem.ts
  packages/react-components/react-avatar/src/components/AvatarGroupItem/useAvatarGroupItemStyles.ts
  packages/react-components/react-avatar/src/contexts/AvatarGroupContext.types.ts
  packages/react-components/react-avatar/src/stories/AvatarGroupItem/AvatarGroupItemOverflow.stories.tsx
  packages/react-components/react-avatar/src/stories/AvatarGroupItem/index.stories.beta.tsx
Labels: Fluent UI vNext, Component: AvatarGroup, AvatarGroupItem

#23469 chore: Using ::before and ::after instead of :before and :after
  change/@fluentui-react-avatar-1ba68c71-162c-4b9f-8630-535d9a4cf36c.json
  change/@fluentui-react-divider-1066d1cd-c0c3-4192-b549-cb296750fb99.json
  change/@fluentui-react-positioning-b99bfbf7-2838-4af8-8995-0f2deacc190a.json
  change/@fluentui-react-select-b3f66604-dd5a-4167-90b2-d20de51b9559.json
  change/@fluentui-react-slider-a36201c8-83ef-4fac-9ce4-79565421d5e6.json
  change/@fluentui-react-tabs-1292f596-199f-4ce1-8f55-58aabf04cc25.json
  change/@fluentui-react-tabster-9ce21a30-565f-44ef-b889-e3a4be30a145.json
  change/@fluentui-react-textarea-575e5bf5-7a8e-41a2-bb64-db7d82cddd6a.json
  packages/react-components/react-avatar/src/components/Avatar/useAvatarStyles.ts
  packages/react-components/react-divider/src/components/Divider/useDividerStyles.ts
  packages/react-components/react-divider/src/stories/DividerCustomStyles.stories.tsx
  packages/react-components/react-positioning/src/createArrowStyles.ts
  packages/react-components/react-select/src/components/Select/useSelectStyles.ts
  packages/react-components/react-slider/src/components/Slider/useSliderStyles.ts
  packages/react-components/react-tabs/src/components/Tab/useTabAnimatedIndicator.ts
  packages/react-components/react-tabster/src/focus/createFocusOutlineStyle.ts
  packages/react-components/react-textarea/src/components/Textarea/useTextareaStyles.ts
Labels: Component: Slider, Fluent UI vNext, Component: Divider, Component: Avatar, Component: Textarea, Component: Tabs

#23495 docs: README, spec and migration guide cleanup for react-tabs
  change/@fluentui-react-tabs-d6c764b5-3fb8-4350-88e4-82222ef6c83c.json
  packages/react-components/react-tabs/MIGRATION.md
  packages/react-components/react-tabs/README.md
  packages/react-components/react-tabs/Spec.md
Labels: Area: Documentation, Fluent UI vNext, Component: Tabs

#23498 chore(react-avatar): Adding warnings on use of AvatarGroup and AvatarGroupItem
  change/@fluentui-react-avatar-d3231ec7-f72e-4a15-9ebe-873408209cd8.json
  packages/react-components/react-avatar/src/components/AvatarGroup/useAvatarGroup.tsx
  packages/react-components/react-avatar/src/components/AvatarGroupItem/useAvatarGroupItem.ts
Labels: Fluent UI vNext, Component: AvatarGroup, AvatarGroupItem

#23486 Updated badge descriptions to be specific
  change/@fluentui-react-badge-16df5a7e-d608-42e5-803b-981231c94c7a.json
  packages/react-components/react-badge/src/BadgeDescription.md
  packages/react-components/react-badge/src/stories/Badge.stories.tsx
  packages/react-components/react-badge/src/stories/BadgeBestPractices.md
  packages/react-components/react-badge/src/stories/BadgeDescription.md
  packages/react-components/react-badge/src/stories/CounterBadge.stories.tsx
  packages/react-components/react-badge/src/stories/CounterBadgeBestPractices.md
  packages/react-components/react-badge/src/stories/CounterBadgeDescription.md
  packages/react-components/react-badge/src/stories/PresenceBadge.stories.tsx
  packages/react-components/react-badge/src/stories/PresenceBadgeBestPractices.md
  packages/react-components/react-badge/src/stories/PresenceBadgeDescription.md
Labels: Area: Documentation, Component: Badge

#23497 docs(react-avatar): Removing AvatarGroupItem stories
  change/@fluentui-react-avatar-e1433436-0e0b-4c34-a02b-0e67d15b91bf.json
  packages/react-components/react-avatar/src/stories/AvatarGroupItem/AvatarGroupItemBestPractices.md
  packages/react-components/react-avatar/src/stories/AvatarGroupItem/AvatarGroupItemDefault.stories.tsx
  packages/react-components/react-avatar/src/stories/AvatarGroupItem/AvatarGroupItemDescription.md
  packages/react-components/react-avatar/src/stories/AvatarGroupItem/AvatarGroupItemOverflow.stories.tsx
  packages/react-components/react-avatar/src/stories/AvatarGroupItem/index.stories.beta.tsx
Labels: Fluent UI vNext, AvatarGroupItem

#22500 FocusTrapZone: Fix bugs with function component conversion and e2e tests
  change/@fluentui-react-0eb2559f-e069-45e3-b71e-d4c7d7c984d7.json
  change/@fluentui-react-hooks-68df537c-5403-4d05-8110-a9a1f1f190c6.json
  packages/react-examples/src/react/FocusTrapZone/e2e/FocusTrapZone.e2e.tsx
  packages/react-examples/src/react/FocusTrapZone/e2e/shared.ts
  packages/react-examples/src/react/FocusTrapZone/e2e/types.ts
  packages/react-hooks/README.md
  packages/react-hooks/etc/react-hooks.api.md
  packages/react-hooks/src/index.ts
  packages/react-hooks/src/useConstCallback.ts
  packages/react-hooks/src/useEventCallback.test.ts
  packages/react-hooks/src/useEventCallback.ts
  packages/react/etc/react.api.md
  packages/react/src/common/IAccessiblePopupProps.ts
  packages/react/src/components/Dialog/Dialog.base.tsx
  packages/react/src/components/FocusTrapZone/FocusTrapZone.tsx
  packages/react/src/components/FocusTrapZone/FocusTrapZone.types.ts
  packages/react/src/components/Modal/Modal.base.tsx
Labels: Component: FocusTrapZone, PR: API Modified

#23503 docs: README, spec and migration guide cleanup for react-spinner
  change/@fluentui-react-spinner-d74cede6-32bf-4475-b2a5-fc7751352506.json
  change/@fluentui-react-spinner-d9447fdf-f58d-4170-a38a-ba7620ea11ad.json
  packages/react-components/react-spinner/MIGRATION.md
  packages/react-components/react-spinner/README.md
  packages/react-components/react-spinner/Spec.md
Labels: Area: Documentation, Component: Spinner, Fluent UI vNext

#23487 Selectionzone/keyboard options
  apps/public-docsite-resources/src/AppDefinition.tsx
  apps/public-docsite-resources/src/components/pages/DetailsList/DetailsListKeyboardOverridesPage.tsx
  apps/public-docsite/src/SiteDefinition/SiteDefinition.pages/Controls/web.tsx
  apps/public-docsite/src/pages/Controls/DetailsListPage/DetailsListKeyboardOverrides.doc.ts
  apps/public-docsite/src/pages/Controls/DetailsListPage/DetailsListKeyboardOverridesPage.tsx
  change/@fluentui-react-2ae81a6f-7d4e-4fe1-9742-64b0451d857b.json
  packages/react-examples/src/react/DetailsList/DetailsList.KeyboardOverrides.Example.tsx
  packages/react-examples/src/react/DetailsList/DetailsList.doc.tsx
  packages/react/etc/react.api.md
  packages/react/src/components/DetailsList/DetailsList.base.tsx
  packages/react/src/components/DetailsList/DetailsList.test.tsx
  packages/react/src/utilities/selection/SelectionZone.test.tsx
  packages/react/src/utilities/selection/SelectionZone.tsx
Labels: Component: DetailsList, PR: API Modified, Component: Selection, Fluent UI react (v8)

#23528 fix(react-avatar): Fixing AvatarGroup's focus indicator
  change/@fluentui-react-avatar-a7934ea7-fa8b-4224-af3f-0a54d4fc9b82.json
  packages/react-components/react-avatar/src/components/AvatarGroup/useAvatarGroupStyles.ts
Labels: Fluent UI vNext, Component: AvatarGroup

#23488 Use ClientWidth instead of InnerWidth (#23402)
  change/@fluentui-react-20264996-adc8-470e-af8c-a896ac8775c0.json
  change/office-ui-fabric-react-d010c2b4-a709-45d8-9375-c90432bec8e9.json
  packages/office-ui-fabric-react/src/components/Dropdown/Dropdown.test.tsx
  packages/office-ui-fabric-react/src/utilities/decorators/withResponsiveMode.tsx
  packages/office-ui-fabric-react/src/utilities/hooks/useResponsiveMode.test.tsx
Labels: Fabric 7

#23531 feat(Popups): Consider webview element type for outside click scenarios
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-bindings/src/hooks/useIFrameFocusDispatch.ts
Labels: Fluent UI react-northstar

#23524 fix: Adding close button to Dropdown list when it opens as a panel.
  change/@fluentui-react-d8a70a1c-bcd4-4dc2-a5c6-bb6c7fece86b.json
  packages/react/src/components/Dropdown/Dropdown.base.tsx
Labels: Area: Accessibility, Component: Dropdown

#23100 updating Chat Message's ActionMenu's shadow to shadow8
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/themes/teams/components/Chat/chatMessageVariables.ts
Labels: Fluent UI react-northstar

#23570 v8 website: update custom SVG usage to mention unregistering icons
  apps/public-docsite/src/pages/Styles/FabricIconsPage/docs/web/FabricIconsSvgUsage.md
Labels: Area: Website

#23548 Cherry Pick: DetailsList isSelectedOnFocus
  change/@fluentui-react-1c69b2a4-8b4f-43fd-bfb9-02d2307b9b4b.json
  change/office-ui-fabric-react-bae1fc2f-77ce-4ed2-b613-0ee749776074.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsList.base.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsList.test.tsx
  packages/office-ui-fabric-react/src/components/DetailsList/DetailsList.types.ts
  packages/office-ui-fabric-react/src/components/DetailsList/__snapshots__/DetailsList.test.tsx.snap
Labels: Fabric 7, PR: API Modified

#23561 chore(react-avatar): Adding unit tests for AvatarGroupItem
  packages/react-components/react-avatar/src/components/AvatarGroupItem/AvatarGroupItem.test.tsx
  packages/react-components/react-avatar/src/components/AvatarGroupItem/__snapshots__/AvatarGroupItem.test.tsx.snap
Labels: Fluent UI vNext, AvatarGroupItem

#23574 chore: moves trigger methods to separate folder
  change/@fluentui-react-menu-30e18336-5048-4a09-ac73-8df822fa4336.json
  change/@fluentui-react-popover-52fedd94-bdb6-4848-a41f-a3b8555f4922.json
  change/@fluentui-react-utilities-fe5f9201-bebc-4529-b6fb-9bad3c0779ac.json
  packages/react-components/react-menu/src/components/MenuTrigger/useMenuTrigger.ts
  packages/react-components/react-popover/src/components/PopoverTrigger/usePopoverTrigger.ts
  packages/react-components/react-utilities/etc/react-utilities.api.md
  packages/react-components/react-utilities/src/index.ts
  packages/react-components/react-utilities/src/trigger/applyTriggerPropsToChildren.test.tsx
  packages/react-components/react-utilities/src/trigger/applyTriggerPropsToChildren.ts
  packages/react-components/react-utilities/src/trigger/getTriggerChild.test.tsx
  packages/react-components/react-utilities/src/trigger/getTriggerChild.ts
  packages/react-components/react-utilities/src/trigger/index.ts
  packages/react-components/react-utilities/src/trigger/isFluentTrigger.ts
  packages/react-components/react-utilities/src/trigger/types.ts
  packages/react-components/react-utilities/src/utils/index.ts
Labels: Package: utilities, Component: Popover, Component: Menu, Component: MenuTrigger

#23523 Details list correct row count when using placeholder data
  change/@fluentui-react-0a630999-75d4-40f7-a778-8a4b1c8811c0.json
  packages/react/src/components/DetailsList/DetailsList.base.tsx
  packages/react/src/components/DetailsList/__snapshots__/ShimmeredDetailsList.test.tsx.snap
Labels: Component: DetailsList

#23590 fix: Removing user-select: 'none' from label in input components with built-in labels
  change/@fluentui-react-checkbox-81561378-0c3f-4f50-a665-ba6f5b52f422.json
  change/@fluentui-react-radio-ffb7b11e-bcc5-4b44-9efb-c358fbeeba7f.json
  change/@fluentui-react-slider-98248aa5-d7bb-405e-a884-1e56297057fc.json
  change/@fluentui-react-switch-208b8863-6b08-4ecb-91ca-d3689e0d6771.json
  packages/react-components/react-checkbox/src/components/Checkbox/useCheckboxStyles.ts
  packages/react-components/react-radio/src/components/Radio/useRadioStyles.ts
  packages/react-components/react-slider/src/components/Slider/useSliderStyles.ts
  packages/react-components/react-switch/src/components/Switch/useSwitchStyles.ts
Labels: Area: Accessibility, Component: Checkbox, Component: Slider, Fluent UI vNext, Component: Switch, Component: Radio

#23518 Allow `null` as value for choice group selected key
  change/@fluentui-react-62019bfd-162b-47e4-b2b6-cc3982f8f216.json
  packages/react/etc/react.api.md
  packages/react/src/components/ChoiceGroup/ChoiceGroup.base.tsx
  packages/react/src/components/ChoiceGroup/ChoiceGroup.types.ts
Labels: Component: ChoiceGroup, PR: API Modified

#23529 docs(v9): Migration documents for selected v0 components
  apps/public-docsite-v9/src/Concepts/Upgrade/FromV0/Components/Avatar.stories.mdx
  apps/public-docsite-v9/src/Concepts/Upgrade/FromV0/Components/Button.stories.mdx
  apps/public-docsite-v9/src/Concepts/Upgrade/FromV0/Components/Divider.stories.mdx
  apps/public-docsite-v9/src/Concepts/Upgrade/FromV0/Components/Header.stories.mdx
  apps/public-docsite-v9/src/Concepts/Upgrade/FromV0/Components/Image.stories.mdx
  apps/public-docsite-v9/src/Concepts/Upgrade/FromV0/Components/Popup.stories.mdx
  apps/public-docsite-v9/src/Concepts/Upgrade/FromV0/Components/Tooltip.stories.mdx
  apps/public-docsite-v9/src/Concepts/Upgrade/FromV0/migrate-custom-accessibility.stories.mdx
  apps/public-docsite-v9/src/Concepts/Upgrade/FromV0/migrate-positioning.stories.mdx
  apps/public-docsite-v9/src/Concepts/Upgrade/FromV0/migrate-styles.stories.mdx
Labels: Area: Website

#23576 fix(react-avatar): Fix outline styles for stack layout in webkit browsers.
  change/@fluentui-react-avatar-0172fa1d-9de1-463f-9fe9-29f20a05717b.json
  packages/react-components/react-avatar/src/components/AvatarGroup/useAvatarGroupStyles.ts
  packages/react-components/react-avatar/src/components/AvatarGroupItem/useAvatarGroupItemStyles.ts
Labels: Fluent UI vNext, Component: AvatarGroup, Component: AvatarGroupItem

#23573 chore(react-components): Re-export AvatarGroup and AvatarGroupItem in react-components/unstable
  change/@fluentui-react-components-be758ba9-0ea3-4008-bf69-b7888148d832.json
  packages/react-components/react-components/etc/react-components.unstable.api.md
  packages/react-components/react-components/src/unstable/index.ts
Labels: Fluent UI vNext, Component: AvatarGroup, Component: AvatarGroupItem

#23602 spinbutton: clean up stories
  change/@fluentui-react-spinbutton-2a6fa1e7-151b-471d-a18a-683c71c5e5f2.json
  packages/react-components/react-spinbutton/README.md
  packages/react-components/react-spinbutton/src/stories/SpinButton.stories.tsx
  packages/react-components/react-spinbutton/src/stories/SpinButtonBestPractices.md
  packages/react-components/react-spinbutton/src/stories/SpinButtonBounds.stories.tsx
  packages/react-components/react-spinbutton/src/stories/SpinButtonDefault.stories.tsx
  packages/react-components/react-spinbutton/src/stories/SpinButtonDescription.md
  packages/react-components/react-spinbutton/src/stories/SpinButtonStep.stories.tsx
Labels: Component: SpinButton

#22891 React: Remove deprecated React.props
  change/@fluentui-react-783fd50b-a4fd-4855-a5a4-24aa5f752db0.json
  packages/react/etc/react.api.md
  packages/react/src/common/React.types.ts
  packages/react/src/components/Announced/Announced.types.ts
  packages/react/src/components/Dialog/DialogFooter.types.ts
  packages/react/src/components/DocumentCard/DocumentCardDetails.types.ts
  packages/react/src/components/DocumentCard/DocumentCardStatus.types.ts
  packages/react/src/components/ScrollablePane/ScrollablePane.types.ts
  packages/react/src/components/Sticky/Sticky.types.ts
  packages/react/src/components/pickers/BasePicker.types.ts
  packages/react/src/components/pickers/Suggestions/Suggestions.types.ts
Labels: Area: Typescript, PR: API Modified

#23565 Chore: Update component creation to use package-based imports
  scripts/create-component/plop-templates/src/stories/{{componentName}}/index.stories.tsx.hbs
  scripts/create-component/plop-templates/src/stories/{{componentName}}/{{componentName}}Default.stories.tsx.hbs
Labels: Area: Build System

#23538 (tools) migrate-converged: Update to point stories to index.stories.tsx
  tools/generators/migrate-converged-pkg/index.spec.ts
  tools/generators/migrate-converged-pkg/index.ts
Labels: Area: Build System

#23638 feat: Adding focusTrapZoneProps to Modal so we can customize inner FocusTrapZone
  change/office-ui-fabric-react-da6a81a9-3c32-4a49-ad2d-2520b136bdd3.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/Modal/Modal.base.tsx
  packages/office-ui-fabric-react/src/components/Modal/Modal.types.ts
Labels: Component: Modal, Fabric 7, PR: API Modified, Fluent UI react (v7)

#23629 Docs: Add Slider Migration story
  apps/public-docsite-v9/src/Concepts/Upgrade/FromV8/Components/Slider/Slider.stories.mdx
  apps/public-docsite-v9/src/Concepts/Upgrade/FromV8/Components/Slider/Sliderv8Examples.stories.tsx
  apps/public-docsite-v9/src/Concepts/Upgrade/FromV8/Components/Slider/Sliderv9Examples.stories.tsx
Labels: Area: Website

#23707 docs(react-avatar): Adding @internal api access modifier to getInitials
  change/@fluentui-react-avatar-4f8775b1-d717-49c5-a688-4998bc9773e3.json
  packages/react-components/react-avatar/etc/react-avatar.api.md
  packages/react-components/react-avatar/src/utils/getInitials.ts
Labels: Fluent UI vNext, Component: Avatar

#23631 feat(react-conformance): Add getPortalElement to static classnames object test
  change/@fluentui-react-conformance-1cbc92ae-0635-4f53-9901-2a974d890611.json
  packages/react-conformance/src/defaultTests.tsx
  packages/react-conformance/src/types.ts
Labels: Fluent UI vNext, Component: AvatarGroup

#23708 chore(react-avatar): Adding AvatarGroup and AvatarGroupItem bundle size fixtures
  change/@fluentui-react-avatar-2a79d125-b960-4f2f-9785-9234fa093640.json
  packages/react-components/react-avatar/bundle-size/AvatarGroup.fixture.js
  packages/react-components/react-avatar/bundle-size/AvatarGroupItem.fixture.js
Labels: Fluent UI vNext, Component: AvatarGroup, Component: AvatarGroupItem

#23636 fix(react-avatar): Make AvatarGroup's pie layout dividers white for HCM
  change/@fluentui-react-avatar-62374814-379f-45a2-9e21-3a44e308ddbf.json
  packages/react-components/react-avatar/src/components/AvatarGroup/useAvatarGroupStyles.ts
Labels: Fluent UI vNext, Component: AvatarGroup

#23710 fix: Making increment and decrement buttons of SpinButton have 'type=button' instead of 'type=submit'
  change/@fluentui-react-spinbutton-f448dee9-4572-46fd-ae20-96874f4525ca.json
  packages/react-components/react-spinbutton/src/components/SpinButton/useSpinButton.tsx
Labels: Component: SpinButton, Fluent UI vNext

#23713 fix: Removing user-select: 'none' from AccordionHeader styles.
  change/@fluentui-react-accordion-bcbc8c5b-15f9-4b93-a0bf-aa95f7c5e4af.json
  packages/react-components/react-accordion/src/components/AccordionHeader/useAccordionHeaderStyles.ts
Labels: Fluent UI vNext, Component: AccordionHeader

#23685 Hover state aren't paired with cursor
  change/@fluentui-react-charting-e2cc6ea6-205c-464f-b3ae-1875c4b291fc.json
  packages/react-charting/src/components/HorizontalBarChart/HorizontalBarChart.styles.ts
  packages/react-examples/src/react-charting/DonutChart/DonutChart.Basic.Example.tsx
  packages/react-examples/src/react-charting/DonutChart/DonutChart.CustomAccessibility.Example.tsx
  packages/react-examples/src/react-charting/DonutChart/DonutChart.CustomCallout.Example.tsx
  packages/react-examples/src/react-charting/GroupedVerticalBarChart/GroupedVerticalBarChart.Styled.Example.tsx
  packages/react-examples/src/react-charting/HorizontalBarChart/HorizontalBarChart.Basic.Example.tsx
  packages/react-examples/src/react-charting/HorizontalBarChart/HorizontalBarChart.CustomAccessibility.Example.tsx
  packages/react-examples/src/react-charting/HorizontalBarChart/HorizontalBarChart.CustomCallout.Example.tsx
  packages/react-examples/src/react-charting/VerticalBarChart/VerticalBarChart.AxisTooltip.Example.tsx
Labels: Package: charting

#23598 feat: Add `legacyTrapFocus` prop to `Popover`
  change/@fluentui-react-popover-4c5a4752-4266-4d78-9af7-a8a040e0c313.json
  change/@fluentui-react-tabster-58668bac-7ffb-4e52-beae-c3850ff40365.json
  packages/react-components/react-popover/e2e/Popover.e2e.tsx
  packages/react-components/react-popover/etc/react-popover.api.md
  packages/react-components/react-popover/src/components/Popover/Popover.types.ts
  packages/react-components/react-popover/src/components/Popover/renderPopover.tsx
  packages/react-components/react-popover/src/components/PopoverSurface/usePopoverSurface.ts
  packages/react-components/react-popover/src/popoverContext.ts
  packages/react-components/react-tabster/etc/react-tabster.api.md
  packages/react-components/react-tabster/package.json
  packages/react-components/react-tabster/src/hooks/useModalAttributes.ts
  yarn.lock
Labels: Component: Popover

#23721 Convert positioning/icon concepts stories to index.stories.tsx approach
  packages/react-components/react-components/src/Concepts/Positioning/index.stories.tsx
Labels: Area: Website

#23712 fix: Making thumb be vertically centered in Switch
  apps/vr-tests-react-components/src/stories/Switch.stories.tsx
  change/@fluentui-react-switch-69aede67-89a3-43d5-bd02-fd516b545622.json
  packages/react-components/react-switch/src/components/Switch/useSwitchStyles.ts
Labels: Fluent UI vNext, Component: Switch

#23719 chore: Add generator to make all rc deps carets
  package.json
  packages/fluentui/docs/package.json
  tools/generators/rc-caret/README.md
  tools/generators/rc-caret/index.spec.ts
  tools/generators/rc-caret/index.ts
  tools/generators/rc-caret/schema.json
  tools/generators/rc-caret/schema.ts
  tools/utils.ts
  yarn.lock
Labels: Area: Build System

#23537 RFC: Reduce number of shared color alias tokens
  rfcs/react-components/convergence/theme-shared-colors.md
Labels: Component: Theme, Fluent UI vNext, Type: RFC

#23726 Change docsite glob to only pull index from react-components
  apps/public-docsite-v9/.storybook/main.utils.js
Labels: Area: Website

#23737 Chore: V8 Website: remove figma link from docs due to resource being private
  apps/public-docsite/src/pages/Overviews/ResourcesPage/docs/default/ResourcesDesignResources.md
Labels: Area: Website

#23587 OverflowSet: minor docs wording update
  packages/react-examples/src/react/OverflowSet/docs/OverflowSetOverview.md
Labels: Area: Website

#23736 change v9docs start to use docs mode to replicate public view
  apps/public-docsite-v9/package.json
Labels: Area: Website

#23683 adding GlobeIcon & ArrowSyncIcon
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-icons-northstar/src/components/ArrowSyncIcon.tsx
  packages/fluentui/react-icons-northstar/src/components/GlobeIcon.tsx
  packages/fluentui/react-icons-northstar/src/index.ts
Labels: Fluent UI react-northstar

#23758 docs(react-avatar): Adding readme and migration guide for AvatarGroup
  change/@fluentui-react-avatar-398ce0cf-a9ba-4202-bc72-488f974333c9.json
  packages/react-components/react-avatar/MIGRATION-AvatarGroup.md
  packages/react-components/react-avatar/README-AvatarGroup.md
Labels: Fluent UI vNext, Component: Avatar, Component: AvatarGroup

#23549 chore(react-avatar): Adding unit and vr tests for AvatarGroup
  apps/vr-tests-react-components/src/stories/AvatarGroup.stories.tsx
  change/@fluentui-react-avatar-0ebe3e03-9d8f-48f7-a4c0-2a95b7014e2e.json
  packages/react-components/react-avatar/src/components/AvatarGroup/AvatarGroup.test.tsx
  packages/react-components/react-avatar/src/components/AvatarGroup/__snapshots__/AvatarGroup.test.tsx.snap
  packages/react-components/react-avatar/src/components/AvatarGroup/useAvatarGroup.tsx
  packages/react-components/react-avatar/src/components/AvatarGroup/useAvatarGroupStyles.ts
  packages/react-components/react-avatar/src/components/AvatarGroupItem/AvatarGroupItem.test.tsx
Labels: Fluent UI vNext, Component: AvatarGroup

#23760 chore: Adding AvatarGroup code-owner to react-avatar.
  .github/CODEOWNERS
Labels: Fluent UI vNext

#23777 fix: Adding optional way to show tooltip in Persona and removing tooltip within suggestions dropdown in PeoplePicker
  .vscode/settings.json
  change/office-ui-fabric-react-0a2705c8-2996-4346-b525-85d4258becd8.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/Persona/Persona.base.tsx
  packages/office-ui-fabric-react/src/components/Persona/Persona.types.ts
  packages/office-ui-fabric-react/src/components/pickers/PeoplePicker/PeoplePickerItems/PeoplePickerItemSuggestion.tsx
  packages/react-examples/src/office-ui-fabric-react/PeoplePicker/PeoplePicker.List.Example.tsx
  packages/react-examples/src/office-ui-fabric-react/PeoplePicker/PeoplePicker.doc.tsx
  packages/react-examples/src/office-ui-fabric-react/PeoplePicker/docs/PeoplePickerBestPractices.md
  packages/react-examples/src/office-ui-fabric-react/Persona/docs/PersonaBestPractices.md
Labels: Component: Persona, Component: PeoplePicker, Fabric 7, PR: API Modified, Fluent UI react (v7)

#23776 Slider v8: update to support ariaLabel
  change/@fluentui-react-e0874dcd-a01c-4f6a-bead-d1bc2c92f914.json
  packages/react-examples/src/react/Slider/Slider.Basic.Example.tsx
  packages/react/src/components/Slider/Slider.test.tsx
  packages/react/src/components/Slider/useSlider.ts
Labels: Component: Slider

#23768 fixed legends selected screen reader issue
  change/@fluentui-react-charting-1a3d2996-0eb7-41cc-9b45-6252de1ce10f.json
  packages/react-charting/src/components/AreaChart/__snapshots__/AreaChart.test.tsx.snap
  packages/react-charting/src/components/DonutChart/__snapshots__/DonutChart.test.tsx.snap
  packages/react-charting/src/components/GroupedVerticalBarChart/__snapshots__/GroupedVerticalBarChart.test.tsx.snap
  packages/react-charting/src/components/HeatMapChart/__snapshots__/HeatMapChart.test.tsx.snap
  packages/react-charting/src/components/Legends/Legends.base.tsx
  packages/react-charting/src/components/LineChart/__snapshots__/LineChart.test.tsx.snap
  packages/react-charting/src/components/StackedBarChart/__snapshots__/MultiStackedBarChart.test.tsx.snap
  packages/react-charting/src/components/StackedBarChart/__snapshots__/StackedBarChart.test.tsx.snap
  packages/react-charting/src/components/VerticalBarChart/__snapshots__/VerticalBarChart.test.tsx.snap
  packages/react-charting/src/components/VerticalStackedBarChart/__snapshots__/VerticalStackedBarChart.test.tsx.snap
Labels: Package: charting

#23718 fixing horizontal bar chart style issues
  change/@uifabric-charting-9b0374eb-0d51-4006-acfc-e551e14f8543.json
  packages/charting/src/components/HorizontalBarChart/HorizontalBarChart.styles.ts
Labels: Package: charting, Fabric 7

#23783 Some charts don't automatically adopt sentence case for labels and legends
  change/@fluentui-react-charting-cbf9ca10-6d25-4940-a595-160e809329c6.json
  packages/react-charting/src/components/AreaChart/__snapshots__/AreaChart.test.tsx.snap
  packages/react-charting/src/components/DonutChart/__snapshots__/DonutChart.test.tsx.snap
  packages/react-charting/src/components/GroupedVerticalBarChart/__snapshots__/GroupedVerticalBarChart.test.tsx.snap
  packages/react-charting/src/components/HeatMapChart/__snapshots__/HeatMapChart.test.tsx.snap
  packages/react-charting/src/components/Legends/Legends.styles.ts
  packages/react-charting/src/components/LineChart/__snapshots__/LineChart.test.tsx.snap
  packages/react-charting/src/components/StackedBarChart/__snapshots__/MultiStackedBarChart.test.tsx.snap
  packages/react-charting/src/components/StackedBarChart/__snapshots__/StackedBarChart.test.tsx.snap
  packages/react-charting/src/components/VerticalBarChart/__snapshots__/VerticalBarChart.test.tsx.snap
  packages/react-charting/src/components/VerticalStackedBarChart/__snapshots__/VerticalStackedBarChart.test.tsx.snap
  packages/react-examples/src/react-charting/AreaChart/AreaChart.Basic.Example.tsx
  packages/react-examples/src/react-charting/AreaChart/AreaChart.CustomAccessibility.Example.tsx
  packages/react-examples/src/react-charting/AreaChart/AreaChart.Multiple.Example.tsx
  packages/react-examples/src/react-charting/AreaChart/AreaChart.Styled.Example.tsx
  packages/react-examples/src/react-charting/GroupedVerticalBarChart/GroupedVerticalBarChart.Basic.Example.tsx
  packages/react-examples/src/react-charting/GroupedVerticalBarChart/GroupedVerticalBarChart.CustomAccessibility.Example.tsx
  packages/react-examples/src/react-charting/GroupedVerticalBarChart/GroupedVerticalBarChart.Styled.Example.tsx
  packages/react-examples/src/react-charting/GroupedVerticalBarChart/GroupedVerticalBarChart.Truncated.Example.tsx
  packages/react-examples/src/react-charting/HeatMapChart/HeatMapChartBasic.CustomAccessibility.Example.tsx
  packages/react-examples/src/react-charting/HeatMapChart/HeatMapChartBasic.Example.tsx
  packages/react-examples/src/react-charting/LineChart/LineChart.Basic.Example.tsx
  packages/react-examples/src/react-charting/LineChart/LineChart.CustomAccessibility.Example.tsx
  packages/react-examples/src/react-charting/LineChart/LineChart.Events.Example.tsx
  packages/react-examples/src/react-charting/LineChart/LineChart.Gaps.Example.tsx
  packages/react-examples/src/react-charting/LineChart/LineChart.Multiple.Example.tsx
  packages/react-examples/src/react-charting/LineChart/LineChart.Styled.Example.tsx
  packages/react-examples/src/react-charting/SankeyChart/SankeyChart.Basic.Example.tsx
  packages/react-examples/src/react-charting/VerticalBarChart/VerticalBarChart.Basic.Example.tsx
  packages/react-examples/src/react-charting/VerticalStackedBarChart/VerticalStackedBarChart.Basic.Example.tsx
  packages/react-examples/src/react-charting/VerticalStackedBarChart/VerticalStackedBarChart.Callout.Example.tsx
  packages/react-examples/src/react-charting/VerticalStackedBarChart/VerticalStackedBarChart.CustomAccessibility.Example.tsx
Labels: Package: charting
