Repository microsoft/fluentui, pull requests merged in 2022-05, with the labels that each got.

#22666 feat: re-exports positioning types at `react-components`
  change/@fluentui-react-components-0a011e91-2812-4c84-81b2-97aab3f0abc8.json
  packages/react-components/react-components/etc/react-components.api.md
  packages/react-components/react-components/package.json
  packages/react-components/react-components/src/index.ts
Labels: Component: Tooltip, Component: Popover, Component: Menu

#22699 chore(colors): Align default scheme to v9 (part 1)
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/themes/teams-dark-v2/siteVariables.ts
  packages/fluentui/react-northstar/src/themes/teams-high-contrast/colors.ts
  packages/fluentui/react-northstar/src/themes/teams-v2/siteVariables.ts
Labels: Fluent UI react-northstar

#22750 ci: enable yarn frozen lockfile during install
  yarn-ci.sh
Labels: Area: Build System

#22713 fix(react-card): change storybook asset url
  packages/react-components/react-card/src/stories/CardDefault.stories.tsx
  packages/react-components/react-card/src/stories/SampleCard.stories.tsx
Labels: Type: Bug :bug:, Component: Card, Fluent UI vNext

#22716 Updated react-text to use typography constants
  change/@fluentui-react-text-87b1bd26-81d3-460a-bc06-051181a930c1.json
  change/@fluentui-react-theme-9111b795-edff-4615-b1c8-3cae95086325.json
  packages/react-components/react-text/src/components/Body/Body.tsx
  packages/react-components/react-text/src/components/Caption/Caption.tsx
  packages/react-components/react-text/src/components/Display/Display.tsx
  packages/react-components/react-text/src/components/Headline/Headline.tsx
  packages/react-components/react-text/src/components/LargeTitle/LargeTitle.tsx
  packages/react-components/react-text/src/components/Subheadline/Subheadline.tsx
  packages/react-components/react-text/src/components/Title1/Title1.tsx
  packages/react-components/react-text/src/components/Title2/Title2.tsx
  packages/react-components/react-text/src/components/Title3/Title3.tsx
  packages/react-components/react-text/src/typographyStyles/index.ts
  packages/react-components/react-text/src/typographyStyles/typographyStyles.test.ts
  packages/react-components/react-text/src/typographyStyles/typographyStyles.ts
  packages/react-theme/src/global/typographyStyles.ts
Labels: Component: Text, Component: Theme

#22744 react-tabs: fix indicator gap
  change/@fluentui-react-tabs-f12ca354-ca30-43bf-8733-26ae7890102b.json
  packages/react-components/react-tabs/src/components/Tab/useTabStyles.ts
Labels: Component: Tabs

#22491 Export styles props of ChatMessage components
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/themes/teams/types.ts
Labels: Fluent UI react-northstar

#22731 Input: Update Content Before and After Stories, Labels on Stories
  change/@fluentui-react-input-e61e5457-520b-43b6-b42f-75e3b50ede61.json
  packages/react-components/react-input/src/stories/InputAppearance.stories.tsx
  packages/react-components/react-input/src/stories/InputContentBeforeAfter.stories.tsx
  packages/react-components/react-input/src/stories/InputDefault.stories.tsx
  packages/react-components/react-input/src/stories/InputDisabled.stories.tsx
  packages/react-components/react-input/src/stories/InputInline.stories.tsx
  packages/react-components/react-input/src/stories/InputPlaceholder.stories.tsx
  packages/react-components/react-input/src/stories/InputSize.stories.tsx
  packages/react-components/react-input/src/stories/InputType.stories.tsx
Labels: Component: Input

#22719 react-radio: add migration guide
  apps/public-docsite-v9/src/Concepts/Upgrade/FromV0/Components/RadioGroup.stories.mdx
  apps/public-docsite-v9/src/Concepts/Upgrade/FromV8/Components/RadioGroup.stories.mdx
Labels: Area: Website, Component: Radio, Component: RadioGroup

#22757 update yarn to use latest version of fabric core (#22755)
  yarn.lock
Labels: Fabric 7

#22760 change pr deploy to use v9 website
  apps/pr-deploy-site/just.config.ts
  apps/pr-deploy-site/pr-deploy-site.js
Labels: Area: Build System

#22738 Use https for Embed and Video examples
  packages/fluentui/CHANGELOG.md
  packages/fluentui/docs/src/components/ComponentPlayground/componentGenerators.tsx
  packages/fluentui/docs/src/examples/components/Embed/Slots/EmbedExampleVideo.shorthand.tsx
  packages/fluentui/docs/src/examples/components/Video/Types/VideoExample.shorthand.tsx
Labels: Fluent UI react-northstar

#22740 Added initial theme upgrade documentation
  apps/public-docsite-v9/src/Concepts/Upgrade/FromV8/Components/Theme.stories.mdx
Labels: Area: Website

#22734 Adding focused vr-tests for Link component
  apps/vr-tests-react-components/src/stories/Link.stories.tsx
Labels: Component: Link, Area: Testing

#22772 public-docsite: Removing v8 release banner
  apps/public-docsite/src/SiteDefinition/SiteDefinition.tsx
Labels: Area: Website

#22774 Link: Adding hrefs to all non-button stories
  packages/react-components/react-link/src/stories/LinkAppearance.stories.tsx
  packages/react-components/react-link/src/stories/LinkDefault.stories.tsx
  packages/react-components/react-link/src/stories/LinkDisabled.stories.tsx
  packages/react-components/react-link/src/stories/LinkDisabledFocusable.stories.tsx
  packages/react-components/react-link/src/stories/LinkInline.stories.tsx
Labels: Component: Link, Fluent UI vNext

#22771 docs: Removing deprecated attribute from ContextualMenu's example
  packages/react-examples/src/react/ContextualMenu/ContextualMenu.CustomMenuList.Example.tsx
Labels: Area: Website

#22753 fix(react-radio): Allow data argument on onChange
  change/@fluentui-react-radio-eec73af1-4507-40ff-990d-62a0622eddeb.json
  packages/react-radio/etc/react-radio.api.md
  packages/react-radio/src/components/Radio/Radio.types.ts
Labels: Component: Radio

#22751 fix(react-theme): Update CompoundBrandBackground and BrandStroke1
  change/@fluentui-react-theme-9792ecee-1054-4af0-931b-e7dd60820b8f.json
  packages/react-theme/src/alias/darkColor.ts
  packages/react-theme/src/alias/teamsDarkColor.ts
Labels: Component: Theme

#22785 fix(react-card): add `react-components` to vr-tests asset path
  apps/vr-tests-react-components/src/stories/Card.stories.tsx
Labels: Component: Card, Fluent UI vNext

#22783 RFC: Update High contrast mode guidance
  rfcs/react-components/convergence/high-contrast-theme.md
Labels: Type: RFC

#22638 chore(react-utilities): add Slot mapped type tests
  packages/react-utilities/src/compose/types.test.ts
Labels: Fluent UI vNext

#22767 react-radio: improve migration guide
  apps/public-docsite-v9/src/Concepts/Upgrade/FromV8/Components/RadioGroup.stories.mdx
Labels: Area: Website

#22781 react-radio: update labels in examples
  packages/react-radio/src/stories/RadioGroup.stories.tsx
  packages/react-radio/src/stories/RadioGroupControlledValue.stories.tsx
  packages/react-radio/src/stories/RadioGroupDefault.stories.tsx
  packages/react-radio/src/stories/RadioGroupDisabled.stories.tsx
  packages/react-radio/src/stories/RadioGroupDisabledItem.stories.tsx
  packages/react-radio/src/stories/RadioGroupHorizontal.stories.tsx
  packages/react-radio/src/stories/RadioGroupHorizontalStacked.stories.tsx
  packages/react-radio/src/stories/RadioGroupLabelSubtext.stories.tsx
  packages/react-radio/src/stories/RadioGroupLabeled.stories.tsx
  packages/react-radio/src/stories/RadioGroupRequired.stories.tsx
  packages/react-radio/src/stories/RadioGroupUncontrolledValue.stories.tsx
Labels: Component: Radio, Component: RadioGroup

#22759 react-tabs: Added story for tab panels
  packages/react-components/react-tabs/src/stories/TabList.stories.tsx
  packages/react-components/react-tabs/src/stories/TabListWithPanels.stories.tsx
Labels: Component: Pivot

#22717 react-tabs: Updated to use react-theme tokens and typography
  change/@fluentui-react-tabs-5c298ce0-b252-448f-afa0-b1d1f6a431c8.json
  packages/react-components/react-tabs/src/components/Tab/useTabAnimatedIndicator.ts
  packages/react-components/react-tabs/src/components/Tab/useTabStyles.ts
  packages/react-components/react-tabs/src/tab.constants.ts
Labels: Component: Pivot

#22796 Storybook: Remove z-index from show code button
  .storybook/docs-root.css
Labels: Component: Menu

#22794 fix(tools): remove obsolete e2e support.js setup from migration gener…
  tools/generators/migrate-converged-pkg/__snapshots__/index.spec.ts.snap
  tools/generators/migrate-converged-pkg/files/.gitkeep
  tools/generators/migrate-converged-pkg/files/e2e/support.js__tmpl__
  tools/generators/migrate-converged-pkg/index.spec.ts
  tools/generators/migrate-converged-pkg/index.ts
Labels: Area: Build System

#22780 Input: Writing migration guide from v0 and v8
  apps/public-docsite-v9/src/Concepts/Upgrade/FromV0/Components/Input.stories.mdx
  apps/public-docsite-v9/src/Concepts/Upgrade/FromV0/Components/RadioGroup.stories.mdx
  apps/public-docsite-v9/src/Concepts/Upgrade/FromV8/Components/Input.stories.mdx
Labels: Area: Website

#22741 Ported and improved color mapping documentation
  apps/public-docsite-v9/.storybook/preview.js
  apps/public-docsite-v9/src/Concepts/Upgrade/FromV8/ThemeColors/BrandColors.stories.tsx
  apps/public-docsite-v9/src/Concepts/Upgrade/FromV8/ThemeColors/ColorBlock.tsx
  apps/public-docsite-v9/src/Concepts/Upgrade/FromV8/ThemeColors/ColorCompare.tsx
  apps/public-docsite-v9/src/Concepts/Upgrade/FromV8/ThemeColors/ColorMapping.stories.mdx
  apps/public-docsite-v9/src/Concepts/Upgrade/FromV8/ThemeColors/MonochromeColors.stories.tsx
  apps/public-docsite-v9/src/Concepts/Upgrade/FromV8/ThemeColors/NamedColors.stories.tsx
  apps/public-docsite-v9/src/Concepts/Upgrade/FromV8/ThemeColors/SemanticColors.stories.tsx
  apps/public-docsite-v9/src/Concepts/Upgrade/FromV8/ThemeColors/colorMap.ts
  apps/public-docsite-v9/src/Concepts/Upgrade/FromV8/ThemeColors/colorUtils.ts
  apps/public-docsite-v9/src/Concepts/Upgrade/FromV8/ThemeColors/themeMap.ts
  apps/public-docsite-v9/src/Concepts/Upgrade/FromV8/ThemeColors/types.ts
  apps/public-docsite-v9/src/shims/ThemeShim/themeDuplicates.ts
Labels: Area: Website

#22803 react-radio: update context usage
  change/@fluentui-react-radio-28f564dd-9c08-42ff-bda1-827bf93e7d58.json
  packages/react-radio/etc/react-radio.api.md
  packages/react-radio/package.json
  packages/react-radio/src/components/Radio/useRadio.tsx
  packages/react-radio/src/components/RadioGroup/RadioGroup.tsx
  packages/react-radio/src/components/RadioGroup/RadioGroup.types.ts
  packages/react-radio/src/components/RadioGroup/renderRadioGroup.tsx
  packages/react-radio/src/components/RadioGroup/useRadioGroup.ts
  packages/react-radio/src/contexts/RadioGroupContext.ts
  packages/react-radio/src/contexts/useRadioGroupContextValues.ts
  packages/react-radio/src/index.ts
Labels: Component: Radio, Component: RadioGroup

#22809 Radio: Add `required` prop to `RadioGroup`
  change/@fluentui-react-radio-a22e2729-5ad0-485c-b919-8e7284539d2d.json
  packages/react-radio/etc/react-radio.api.md
  packages/react-radio/src/components/Radio/useRadio.tsx
  packages/react-radio/src/components/RadioGroup/RadioGroup.test.tsx
  packages/react-radio/src/components/RadioGroup/RadioGroup.types.ts
  packages/react-radio/src/components/RadioGroup/useRadioGroup.ts
  packages/react-radio/src/contexts/useRadioGroupContextValues.ts
  packages/react-radio/src/stories/RadioGroupRequired.stories.tsx
Labels: Component: Radio, Component: RadioGroup

#22817 Switch: Fixing disabled styles in high contrast mode
  change/@fluentui-react-switch-6e25e7c6-b270-4622-bd00-745aab81504f.json
  packages/react-switch/src/components/Switch/useSwitchStyles.ts
Labels: Area: Accessibility, Fluent UI vNext, High Contrast, Component: Switch

#22820 Switch: Adding label to Default story so that it is accessible
  packages/react-switch/src/stories/SwitchDefault.stories.tsx
Labels: Area: Accessibility, Fluent UI vNext, Component: Switch

#22707 fix(Menu): remove vertical menu background color on focus in dark theme
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/themes/teams-dark/components/Menu/menuVariables.ts
  packages/fluentui/react-northstar/src/themes/teams-high-contrast/components/Menu/menuVariables.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Menu/menuItemStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Menu/menuVariables.ts
Labels: Fluent UI react-northstar

#22824 chore: fix versions after a release
  apps/public-docsite-v9/package.json
Labels: Area: Website

#20964 RFC: Remove converged component Commons types
  rfcs/react-components/convergence/remove-commons.md
Labels: Fluent UI vNext, Type: RFC

#22829 (chore) Move react-portal-compat to react-components subfolder
  .github/CODEOWNERS
  change/@fluentui-react-portal-compat-e19b6e2b-6c62-410c-8fa5-6c9b157bfd68.json
  packages/react-components/react-portal-compat/.babelrc.json
  packages/react-components/react-portal-compat/.eslintrc.json
  packages/react-components/react-portal-compat/.npmignore
  packages/react-components/react-portal-compat/CHANGELOG.json
  packages/react-components/react-portal-compat/CHANGELOG.md
  packages/react-components/react-portal-compat/LICENSE
  packages/react-components/react-portal-compat/README.md
  packages/react-components/react-portal-compat/config/api-extractor.json
  packages/react-components/react-portal-compat/config/api-extractor.local.json
  packages/react-components/react-portal-compat/config/tests.js
  packages/react-components/react-portal-compat/etc/react-portal-compat.api.md
  packages/react-components/react-portal-compat/jest.config.js
  packages/react-components/react-portal-compat/just.config.ts
  packages/react-components/react-portal-compat/package.json
  packages/react-components/react-portal-compat/src/PortalCompatProvider.test.tsx
  packages/react-components/react-portal-compat/src/PortalCompatProvider.tsx
  packages/react-components/react-portal-compat/src/index.ts
  packages/react-components/react-portal-compat/tsconfig.json
  packages/react-components/react-portal-compat/tsconfig.lib.json
  packages/react-components/react-portal-compat/tsconfig.spec.json
  tsconfig.base.json
  workspace.json
Labels: Area: Build System

#22833 react-label: Updating spec, fixing typos in types, and adding descriptions in stories.
  change/@fluentui-react-label-1150cce8-1d17-4643-8342-6fa498e29d25.json
  packages/react-components/react-label/Spec.md
  packages/react-components/react-label/src/components/Label/Label.test.tsx
  packages/react-components/react-label/src/components/Label/Label.types.ts
  packages/react-components/react-label/src/stories/LabelDisabled.stories.tsx
  packages/react-components/react-label/src/stories/LabelRequired.stories.tsx
  packages/react-components/react-label/src/stories/LabelSize.stories.tsx
  packages/react-components/react-label/src/stories/LabelStrong.stories.tsx
Labels: Component: Label, Fluent UI vNext

#22798 Removing star exports from @fluentui/react-aria
  change/@fluentui-react-aria-0f6b0cd4-dab6-46e2-b058-e2dba0b37f18.json
  packages/react-components/react-aria/src/index.ts
Labels: Area: Build System, Fluent UI vNext

#22801 Removing star exports from @fluentui/react-context-selector
  change/@fluentui-react-context-selector-7537040f-fdc5-4767-af02-d8af6be7cfbe.json
  packages/react-components/react-context-selector/src/index.ts
Labels: Area: Build System, Fluent UI vNext

#22804 Removing star exports from @fluentui/react-menu
  change/@fluentui-react-menu-394468ee-99e0-459a-a148-34743656d75b.json
  packages/react-components/react-menu/src/index.ts
Labels: Area: Build System, Fluent UI vNext, Component: Menu

#22805 Removing star exports from @fluentui/react-popover
  change/@fluentui-react-popover-6cc52f6e-7bd8-43e4-8fb6-09c55835caaa.json
  packages/react-components/react-popover/src/index.ts
Labels: Area: Build System, Component: Popover, Fluent UI vNext

#22806 Removing star exports from @fluentui/react-portal
  change/@fluentui-react-portal-eb79eb2d-3fec-4001-b4a7-145f781fbaa7.json
  packages/react-components/react-portal/src/index.ts
Labels: Area: Build System, Fluent UI vNext, Component: Portal

#22807 Removing star exports from @fluentui/react-positioning
  change/@fluentui-react-positioning-1c708a83-6c21-43a5-a086-d7efcede45ee.json
  packages/react-components/react-positioning/src/index.ts
Labels: Area: Build System, Fluent UI vNext

#22808 Removing star exports from @fluentui/react-shared-contexts
  change/@fluentui-react-shared-contexts-f4ca11af-26f3-4154-aaaf-80a1429661ac.json
  packages/react-shared-contexts/src/index.ts
Labels: Area: Build System, Fluent UI vNext

#22810 Removing star exports from @fluentui/react-theme
  change/@fluentui-react-theme-8b4f6828-3b50-4af4-bb43-73b2ce6b3090.json
  packages/react-components/react-theme/src/index.ts
Labels: Area: Build System, Component: Theme, Fluent UI vNext

#22811 Removing star exports from @fluentui/react-toolbar
  packages/react-components/react-toolbar/src/index.ts
Labels: Area: Build System, Fluent UI vNext, Component: Toolbar

#22812 Removing star exports from @fluentui/react-select
  packages/react-components/react-select/src/index.ts
Labels: Area: Build System, Fluent UI vNext, Component: Select

#22800 Removing star exports from @fluentui/react-combobox
  packages/react-combobox/src/index.ts
Labels: Area: Build System, Component: ComboBox, Fluent UI vNext

#22819 Radio and RadioGroup: Move to Release Candidate
  apps/vr-tests-react-components/package.json
  change/@fluentui-react-components-6a2426f9-9054-47fa-98c0-88d7bc0e2992.json
  change/@fluentui-react-radio-de2c632e-259d-43ad-89cf-564df759b82b.json
  packages/react-components/react-components/etc/react-components.api.md
  packages/react-components/react-components/etc/react-components.unstable.api.md
  packages/react-components/react-components/package.json
  packages/react-components/react-components/src/index.ts
  packages/react-components/react-components/src/unstable/index.ts
  packages/react-radio/README.md
  packages/react-radio/etc/react-radio.api.md
  packages/react-radio/package.json
  packages/react-radio/src/contexts/index.ts
  packages/react-radio/src/index.ts
  packages/react-radio/src/stories/RadioGroup.stories.tsx
Labels: Component: Radio, Component: RadioGroup

#22842 Radio: update v9 upgrade examples
  apps/public-docsite-v9/src/Concepts/Upgrade/FromV0/Components/RadioGroup.stories.mdx
  apps/public-docsite-v9/src/Concepts/Upgrade/FromV8/Components/RadioGroup.stories.mdx
Labels: Area: Website

#22843 react-label: Adding upgrade guidance for Label and fixing minor typos in stories
  apps/public-docsite-v9/src/Concepts/Upgrade/FromV0/Components/Label.stories.mdx
  apps/public-docsite-v9/src/Concepts/Upgrade/FromV8/Components/Label.stories.mdx
  packages/react-components/react-label/src/stories/LabelSize.stories.tsx
  packages/react-components/react-label/src/stories/LabelStrong.stories.tsx
Labels: Component: Label, Fluent UI vNext

#22845 Re-exporting GriffelStyle in @fluentui/react-components
  change/@fluentui-react-components-7c6772c6-71f1-4dd4-bbd1-a1429d1e491c.json
  packages/react-components/react-components/etc/react-components.api.md
  packages/react-components/react-components/src/index.ts
Labels: Area: JS Styling, Fluent UI vNext, dependencies

#22853 chore: re-enable Dialog e2e
  packages/fluentui/e2e/cypress.json
  packages/fluentui/e2e/tests/dialogInDialogWithDropdown.spec.ts
  packages/fluentui/e2e/tests/dialogWithDropdown.spec.ts
Labels: Fluent UI react-northstar

#22857 react-label: Add codeowner to react-label package
  .github/CODEOWNERS
Labels: Component: Label, Fluent UI vNext

#22860 chore: fix version mismatches after v9 release
  apps/public-docsite-v9/package.json
Labels: Area: Website

#22079 (web-components) Added support for Segoe UI Variable font with variant configurations
  change/@fluentui-web-components-288ca513-0bea-478d-a076-0571189a77a8.json
  packages/web-components/.storybook/preview-head.html
  packages/web-components/docs/api-report.md
  packages/web-components/public/SegoeUI-VF.ttf
  packages/web-components/src/accordion/accordion-item/accordion-item.styles.ts
  packages/web-components/src/accordion/accordion.styles.ts
  packages/web-components/src/badge/badge.styles.ts
  packages/web-components/src/breadcrumb-item/breadcrumb-item.styles.ts
  packages/web-components/src/breadcrumb/breadcrumb.styles.ts
  packages/web-components/src/calendar/calendar.styles.ts
  packages/web-components/src/checkbox/checkbox.styles.ts
  packages/web-components/src/combobox/combobox.styles.ts
  packages/web-components/src/data-grid/data-grid-cell.styles.ts
  packages/web-components/src/design-tokens.ts
  packages/web-components/src/listbox-option/listbox-option.styles.ts
  packages/web-components/src/menu-item/menu-item.styles.ts
  packages/web-components/src/radio/radio.styles.ts
  packages/web-components/src/search/search.styles.ts
  packages/web-components/src/select/select.styles.ts
  packages/web-components/src/slider-label/slider-label.styles.ts
  packages/web-components/src/styles/patterns/button.styles.ts
  packages/web-components/src/styles/patterns/index.ts
  packages/web-components/src/styles/patterns/input.styles.ts
  packages/web-components/src/styles/patterns/type-ramp.ts
  packages/web-components/src/switch/switch.styles.ts
  packages/web-components/src/tabs/tab-panel/tab-panel.styles.ts
  packages/web-components/src/tabs/tab/tab.styles.ts
  packages/web-components/src/tabs/tabs.styles.ts
  packages/web-components/src/tooltip/tooltip.styles.ts
  packages/web-components/src/tree-item/tree-item.styles.ts
  packages/web-components/src/utilities/type-ramp.ts
Labels: web-components

#22822 align v0 Avatar font weight with v9
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/themes/teams/components/Avatar/avatarStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Avatar/avatarVariables.ts
Labels: Fluent UI react-northstar

#22814 Fix docs page layout and reduce size of button on small screens
  .storybook/docs-root.css
  apps/public-docsite-v9/src/DocsComponents/FluentDocsPage.stories.tsx
Labels: Component: Menu

#22881 react-textarea: Removing commons type from Textarea.
  change/@fluentui-react-textarea-ac0b5dbd-40ae-41f7-ae97-0e1a7bf798f1.json
  packages/react-components/react-textarea/etc/react-textarea.api.md
  packages/react-components/react-textarea/src/components/Textarea/Textarea.types.ts
Labels: Fluent UI vNext, Component: Textarea

#22826 Combobox - Fix useAriaLabelAsText
  change/@fluentui-react-84189716-76f0-46f9-baa4-5b35f632bd85.json
  packages/react/src/components/ComboBox/ComboBox.tsx
Labels: Component: ComboBox

#22886 Add change file to 7.0 branch to initiate release
  change/@fluentui-react-b3835cb8-adcf-4ae3-8d53-7988acc98615.json
Labels: Fabric 7

#22880 react-label: Removing commons from Label
  change/@fluentui-react-label-345f3781-60ef-404d-bdaa-5fc22c842c21.json
  packages/react-components/react-label/etc/react-label.api.md
  packages/react-components/react-label/src/components/Label/Label.types.ts
Labels: Component: Label, Fluent UI vNext

#22875 chore(tools): enable unused vars lint rule and fix violations
  tools/.eslintrc.json
  tools/generators/generate-change-files.ts
  tools/generators/migrate-converged-pkg/index.ts
  tools/generators/print-stats.spec.ts
Labels: Area: Build System

#22876 fix(tools): properly generate local api extractor config
  tools/generators/migrate-converged-pkg/index.spec.ts
  tools/generators/migrate-converged-pkg/index.ts
Labels: Area: Build System

#22877 fix(scripts): make create-component work for all affected v9 packages
  scripts/create-component/create-component.ts
Labels: Area: Build System

#22761 fix(react-card): allow `CardPreview` to render under the `Card` border
  apps/vr-tests-react-components/src/stories/Card.stories.tsx
  change/@fluentui-react-card-87333a08-0070-46b8-9c38-a818b59814f6.json
  packages/react-components/react-card/src/components/Card/useCardStyles.ts
  packages/react-components/react-card/src/stories/CardAppearance.stories.tsx
  packages/react-components/react-card/src/stories/SampleCard.stories.tsx
Labels: Type: Bug :bug:, Component: Card, Fluent UI vNext

#22885 react-textarea: Update textarea styles to use font tokens.
  change/@fluentui-react-textarea-e9a0507f-9a29-4173-b265-a78df2573681.json
  packages/react-components/react-textarea/src/components/Textarea/useTextareaStyles.ts
Labels: Fluent UI vNext, Component: Textarea

#22902 react-textarea: Updating spec to match implementation and adding upgrade guide.
  apps/public-docsite-v9/src/Concepts/Upgrade/FromV0/Components/Textarea.stories.mdx
  apps/public-docsite-v9/src/Concepts/Upgrade/FromV8/Components/Textarea.stories.mdx
  change/@fluentui-react-textarea-be018d9c-3854-45cf-bee1-39fb36526de4.json
  packages/react-components/react-textarea/Spec.md
Labels: Fluent UI vNext, Component: Textarea

#22905 SpinButton: add aria-valuetext override
  change/@fluentui-react-spinbutton-877bc164-a733-4573-bc88-b5ccba3d20ea.json
  packages/react-components/react-spinbutton/src/components/SpinButton/SpinButton.test.tsx
  packages/react-components/react-spinbutton/src/components/SpinButton/useSpinButton.tsx
Labels: Area: Accessibility, Component: SpinButton

#22849 fix(Dialog): keep Dialog open when press click on content and release on overlay
  packages/fluentui/CHANGELOG.md
  packages/fluentui/e2e/tests/dialog-example.tsx
  packages/fluentui/e2e/tests/dialog.spec.ts
  packages/fluentui/react-northstar/src/components/Dialog/Dialog.tsx
Labels: Fluent UI react-northstar

#22908 Cherry pick 22642 to 7.0
  change/@uifabric-experiments-dd2d04e2-c3b7-4710-9754-563cdef988d7.json
  change/office-ui-fabric-react-7db402bc-5d54-4f11-b01b-ad02c507a584.json
  packages/experiments/src/components/MicroFeedback/__snapshots__/MicroFeedback.test.tsx.snap
  packages/experiments/src/components/Pagination/__snapshots__/Pagination.test.tsx.snap
  packages/experiments/src/components/SelectedItemsList/SelectedPeopleList/__snapshots__/SelectedPeopleList.test.tsx.snap
  packages/experiments/src/components/UnifiedPicker/UnifiedPeoplePicker/__snapshots__/UnifiedPeoplePicker.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Breadcrumb/__snapshots__/Breadcrumb.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Button/BaseButton.styles.ts
  packages/office-ui-fabric-react/src/components/Button/__snapshots__/Button.deprecated.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Button/__snapshots__/Button.test.tsx.snap
  packages/office-ui-fabric-react/src/components/ComboBox/__snapshots__/ComboBox.test.tsx.snap
  packages/office-ui-fabric-react/src/components/CommandBar/__snapshots__/CommandBar.deprecated.test.tsx.snap
  packages/office-ui-fabric-react/src/components/CommandBar/__snapshots__/CommandBar.test.tsx.snap
  packages/office-ui-fabric-react/src/components/ContextualMenu/__snapshots__/ContextualMenu.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Dialog/__snapshots__/Dialog.deprecated.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Dropdown/__snapshots__/Dropdown.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Facepile/__snapshots__/Facepile.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Nav/__snapshots__/Nav.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Panel/__snapshots__/Panel.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Pivot/__snapshots__/Pivot.deprecated.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Pivot/__snapshots__/Pivot.test.tsx.snap
  packages/office-ui-fabric-react/src/components/SpinButton/__snapshots__/SpinButton.test.tsx.snap
  packages/office-ui-fabric-react/src/components/SwatchColorPicker/__snapshots__/SwatchColorPicker.test.tsx.snap
  packages/office-ui-fabric-react/src/components/TeachingBubble/__snapshots__/TeachingBubble.deprecated.test.tsx.snap
  packages/office-ui-fabric-react/src/components/TeachingBubble/__snapshots__/TeachingBubble.test.tsx.snap
  packages/office-ui-fabric-react/src/components/pickers/PeoplePicker/__snapshots__/PeoplePicker.test.tsx.snap
  packages/office-ui-fabric-react/src/components/pickers/Suggestions/__snapshots__/Suggestions.test.tsx.snap
  packages/office-ui-fabric-react/src/components/pickers/TagPicker/__snapshots__/TagItem.test.tsx.snap
  packages/office-ui-fabric-react/src/components/pickers/TagPicker/__snapshots__/TagPicker.test.tsx.snap
Labels: Fabric 7

#22907 v8 combobox: Updated to scroll to pending selected element
  change/@fluentui-react-e95e14ca-cf22-42d4-9362-4a569382502e.json
  packages/react/src/components/ComboBox/ComboBox.tsx
Labels: Area: Accessibility, Component: ComboBox, Fluent UI react (v8)

#22904 Removing Common types from all button components
  change/@fluentui-react-button-cd9b6fd2-8ae2-4a79-846d-b8a159c280b6.json
  packages/react-components/react-button/etc/react-button.api.md
  packages/react-components/react-button/src/components/Button/Button.types.ts
  packages/react-components/react-button/src/components/Button/useButton.ts
  packages/react-components/react-button/src/components/Button/useButtonStyles.ts
  packages/react-components/react-button/src/components/CompoundButton/CompoundButton.types.ts
  packages/react-components/react-button/src/components/CompoundButton/useCompoundButtonStyles.ts
  packages/react-components/react-button/src/components/MenuButton/MenuButton.types.ts
  packages/react-components/react-button/src/components/MenuButton/useMenuButtonStyles.ts
  packages/react-components/react-button/src/components/SplitButton/useSplitButton.ts
  packages/react-components/react-button/src/components/SplitButton/useSplitButtonStyles.ts
  packages/react-components/react-button/src/components/ToggleButton/useToggleButtonStyles.ts
Labels: Component: Button, Fluent UI vNext, Component: ToggleButton, Component: SplitButton, Component: CompoundButton, Component: MenuButton

#22916 react-checkbox: Removing commons from Checkbox
  change/@fluentui-react-checkbox-70a251eb-7216-43ee-8c4c-20d3d63cdb50.json
  packages/react-components/react-checkbox/etc/react-checkbox.api.md
  packages/react-components/react-checkbox/src/components/Checkbox/Checkbox.types.ts
Labels: Component: Checkbox, Fluent UI vNext

#22572 Combobox vNext: update useOptionCollection to use DOM ordering instead of React.Children
  packages/react-combobox/Spec.md
  packages/react-combobox/etc/react-combobox.api.md
  packages/react-combobox/src/components/Combobox/Combobox.types.ts
  packages/react-combobox/src/components/Combobox/useCombobox.ts
  packages/react-combobox/src/components/Listbox/Listbox.types.ts
  packages/react-combobox/src/components/Listbox/__snapshots__/Listbox.test.tsx.snap
  packages/react-combobox/src/components/Listbox/renderListbox.tsx
  packages/react-combobox/src/components/Listbox/useListbox.ts
  packages/react-combobox/src/components/Option/Option.test.tsx
  packages/react-combobox/src/components/Option/Option.tsx
  packages/react-combobox/src/components/Option/Option.types.ts
  packages/react-combobox/src/components/Option/__snapshots__/Option.test.tsx.snap
  packages/react-combobox/src/components/Option/useOption.tsx
  packages/react-combobox/src/components/OptionGroup/OptionGroup.tsx
  packages/react-combobox/src/contexts/ComboboxContext.ts
  packages/react-combobox/src/contexts/ListboxContext.ts
  packages/react-combobox/src/contexts/useComboboxContextValues.ts
  packages/react-combobox/src/contexts/useListboxContextValues.ts
  packages/react-combobox/src/stories/Combobox.stories.tsx
  packages/react-combobox/src/stories/ComboboxCustomOptions.stories.tsx
  packages/react-combobox/src/utils/OptionCollection.types.ts
  packages/react-combobox/src/utils/Selection.types.ts
  packages/react-combobox/src/utils/useOptionCollection.ts
  packages/react-combobox/src/utils/useSelection.ts
Labels: Component: ComboBox

#21774 RFC: Portal compatibility
  rfcs/react-components/convergence/portal-compat.md
Labels: Type: RFC

#22912 Scope screener runs on master based on the last commit
  scripts/gulp/tasks/screener.ts
  scripts/monorepo/getNthCommit.js
  scripts/monorepo/index.d.ts
  scripts/monorepo/index.js
  scripts/tasks/screener.ts
Labels: Area: Build System

#22938 Experiment: Test screener scoping for v0
  packages/fluentui/react-northstar/src/index.ts
Labels: Fluent UI react-northstar

#22931 chore(vscode): setup proper file asscociation for codeowners file
  .vscode/settings.json
Labels: Area: Build System

#22942 Removing LinkCommons type in @fluentui/react-link
  change/@fluentui-react-link-dbe9a9a3-2bd7-4293-ab9c-f2e04bc8b1ab.json
  packages/react-components/react-link/etc/react-link.api.md
  packages/react-components/react-link/src/components/Link/Link.types.ts
  packages/react-components/react-link/src/components/Link/useLink.ts
  packages/react-components/react-link/src/components/Link/useLinkState.ts
  packages/react-components/react-link/src/components/Link/useLinkStyles.ts
  packages/react-components/react-link/src/stories/LinkInline.stories.tsx
Labels: Component: Link, Fluent UI vNext

#22954 Removing SpinnerCommons type in @fluentui/react-spinner
  change/@fluentui-react-spinner-963bc763-9f50-49ef-a02f-a18488f2848b.json
  packages/react-components/react-spinner/etc/react-spinner.api.md
  packages/react-components/react-spinner/src/components/Spinner/Spinner.types.ts
Labels: Component: Spinner, Fluent UI vNext

#22943 Removing SwitchCommons type in @fluentui/react-switch
  change/@fluentui-react-switch-97e3a948-7a72-4139-a333-3bf797aac397.json
  packages/react-components/react-switch/etc/react-switch.api.md
  packages/react-components/react-switch/src/components/Switch/Switch.types.ts
Labels: Fluent UI vNext, Component: Switch

#22953 Removing TooltipCommons type in @fluentui/react-tooltip
  change/@fluentui-react-tooltip-503f3e06-eca4-40eb-a1e4-23a7e944fce0.json
  packages/react-components/react-tooltip/etc/react-tooltip.api.md
  packages/react-components/react-tooltip/src/components/Tooltip/Tooltip.types.ts
  packages/react-components/react-tooltip/src/components/Tooltip/useTooltip.tsx
Labels: Component: Tooltip, Fluent UI vNext

#22948 SpinButton: remove "strings" prop
  change/@fluentui-react-components-4ae03718-f747-4e0f-a502-cf9a77c8f6af.json
  change/@fluentui-react-spinbutton-ac15d394-35ea-4411-8fb7-1b5e0eb2cdd2.json
  packages/react-components/react-components/etc/react-components.unstable.api.md
  packages/react-components/react-components/src/unstable/index.ts
  packages/react-components/react-spinbutton/etc/react-spinbutton.api.md
  packages/react-components/react-spinbutton/src/components/SpinButton/SpinButton.strings.ts
  packages/react-components/react-spinbutton/src/components/SpinButton/SpinButton.test.tsx
  packages/react-components/react-spinbutton/src/components/SpinButton/SpinButton.types.ts
  packages/react-components/react-spinbutton/src/components/SpinButton/useSpinButton.tsx
  packages/react-components/react-spinbutton/src/index.ts
  packages/react-components/react-spinbutton/src/stories/SpinButton.stories.tsx
  packages/react-components/react-spinbutton/src/stories/SpinButtonStrings.stories.tsx
Labels: Component: SpinButton

#22951 Removing DividerCommons type in @fluentui/react-divider
  change/@fluentui-react-divider-ca524fc3-b993-4480-9dba-ab97cde6f265.json
  packages/react-divider/etc/react-divider.api.md
  packages/react-divider/src/components/Divider/Divider.types.ts
  packages/react-divider/src/components/Divider/useDivider.ts
  packages/react-divider/src/components/Divider/useDividerStyles.ts
Labels: Fluent UI vNext, Component: Divider

#22956 Removing Commons type from component creation template
  scripts/create-component/plop-templates/src/components/{{componentName}}/{{componentName}}.types.ts.hbs
Labels: Area: Build System, Fluent UI vNext

#22909 Remove ecraig12345 from v7 codeowners
  .github/CODEOWNERS
Labels: Fabric 7

#22919 SpinButton: improve upgrade guides
  apps/public-docsite-v9/src/Concepts/Upgrade/FromV8/ComponentMapping.stories.mdx
  apps/public-docsite-v9/src/Concepts/Upgrade/FromV8/Components/SpinButton.stories.mdx
Labels: Area: Website

#22952 react-checkbox: Updating Spec and adding upgrade guide
  apps/public-docsite-v9/src/Concepts/Upgrade/FromV0/Components/Checkbox.stories.mdx
  apps/public-docsite-v9/src/Concepts/Upgrade/FromV8/Components/Checkbox.stories.mdx
  change/@fluentui-react-checkbox-47a1d76f-11b9-4897-bfde-f774aab5063d.json
  packages/react-components/react-checkbox/README.md
  packages/react-components/react-checkbox/Spec.md
Labels: Component: Checkbox, Fluent UI vNext

#22974 Checkbox: Refactor styles to remove usage of flex gap
  change/@fluentui-react-checkbox-45dc4e8d-6372-49fa-a2c2-5824ecb0e30e.json
  packages/react-components/react-checkbox/src/components/Checkbox/useCheckboxStyles.ts
Labels: Component: Checkbox

#22976 Switch: Refactor styles to remove usage of flex gap
  change/@fluentui-react-switch-41e97da5-1bde-44dc-9a12-9f2e3f818133.json
  packages/react-components/react-switch/src/components/Switch/useSwitchStyles.ts
Labels: Component: Switch

#22975 Radio: Refactor styles to remove usage of flex gap
  change/@fluentui-react-radio-e5e0980d-9cfa-4712-bbb1-a90cc32359e1.json
  packages/react-components/react-radio/src/components/Radio/useRadioStyles.ts
Labels: Component: Radio

#22966 Input: update appearance stories
  change/@fluentui-react-input-7c36843e-3257-471f-9bfb-0dce31dae35c.json
  packages/react-components/react-input/package.json
  packages/react-components/react-input/src/stories/Input.stories.tsx
  packages/react-components/react-input/src/stories/InputAppearance.stories.tsx
  packages/react-components/react-input/src/stories/InputBestPractices.md
Labels: Component: Input

#22968 Removing PopoverCommons type in @fluentui/react-popover
  change/@fluentui-react-popover-553765b9-3f08-4494-9ffa-a7a039c73d13.json
  packages/react-components/react-popover/etc/react-popover.api.md
  packages/react-components/react-popover/src/components/Popover/Popover.types.ts
  packages/react-components/react-popover/src/components/Popover/renderPopover.tsx
  packages/react-components/react-popover/src/components/Popover/usePopover.ts
  packages/react-components/react-popover/src/components/PopoverSurface/PopoverSurface.types.ts
  packages/react-components/react-popover/src/components/PopoverTrigger/PopoverTrigger.types.ts
Labels: Component: Popover, Fluent UI vNext

#22969 Removing PortalCommons type in @fluentui/react-portal
  change/@fluentui-react-portal-ac443958-6dbf-4c6b-93da-dba3ccfd7451.json
  packages/react-components/react-portal/etc/react-portal.api.md
  packages/react-components/react-portal/src/components/Portal/Portal.types.ts
Labels: Fluent UI vNext, Component: Portal

#22991 react-checkbox: Moving Checkbox to release candidate
  apps/public-docsite-v9/src/Concepts/Upgrade/FromV0/Components/Checkbox.stories.mdx
  apps/public-docsite-v9/src/Concepts/Upgrade/FromV8/Components/Checkbox.stories.mdx
  apps/vr-tests-react-components/package.json
  change/@fluentui-react-checkbox-25bebe18-f665-4a2f-88e8-233a96a6ee36.json
  change/@fluentui-react-components-8c404476-3e65-4a58-b52a-c5e905e8fade.json
  packages/react-components/react-checkbox/package.json
  packages/react-components/react-checkbox/src/Checkbox.stories.tsx
  packages/react-components/react-components/etc/react-components.api.md
  packages/react-components/react-components/etc/react-components.unstable.api.md
  packages/react-components/react-components/package.json
  packages/react-components/react-components/src/index.ts
  packages/react-components/react-components/src/unstable/index.ts
Labels: Component: Checkbox, Fluent UI vNext

#22997 react-textarea: Removing flex-gap from stories
  packages/react-components/react-textarea/src/stories/TextareaControlled.stories.tsx
  packages/react-components/react-textarea/src/stories/TextareaDefault.stories.tsx
  packages/react-components/react-textarea/src/stories/TextareaDisabled.stories.tsx
  packages/react-components/react-textarea/src/stories/TextareaPlaceholder.stories.tsx
  packages/react-components/react-textarea/src/stories/TextareaResize.stories.tsx
  packages/react-components/react-textarea/src/stories/TextareaSize.stories.tsx
  packages/react-components/react-textarea/src/stories/TextareaUncontrolled.stories.tsx
Labels: Fluent UI vNext, Component: Textarea

#22994 react-checkbox: Replacing spacing constants with tokens.
  change/@fluentui-react-checkbox-1cba765d-8ea1-4287-af4a-b6fa0e59ef61.json
  packages/react-components/react-checkbox/src/Checkbox.stories.tsx
  packages/react-components/react-checkbox/src/components/Checkbox/useCheckboxStyles.ts
Labels: Component: Checkbox, Fluent UI vNext

#22998 react-components: Re-exporting AvatarSizes from react-avatar
  change/@fluentui-react-components-0bdd7c90-41f4-40f2-9112-85230911399c.json
  packages/react-components/react-components/etc/react-components.api.md
  packages/react-components/react-components/src/index.ts
Labels: Fluent UI vNext, Component: Avatar, Component: AvatarGroup

#22990 Details list fix exports
  change/@fluentui-react-86dd4237-8c0f-432e-9d60-dcc86df144ea.json
  packages/react/etc/react.api.md
  packages/react/src/ShimmeredDetailsList.ts
  packages/react/src/components/DetailsList/DetailsColumn.styles.ts
  packages/react/src/components/DetailsList/DetailsColumn.ts
  packages/react/src/components/DetailsList/DetailsHeader.styles.ts
  packages/react/src/components/DetailsList/DetailsHeader.ts
  packages/react/src/components/DetailsList/DetailsList.styles.ts
  packages/react/src/components/DetailsList/DetailsList.ts
  packages/react/src/components/DetailsList/DetailsRowCheck.styles.ts
  packages/react/src/components/DetailsList/DetailsRowCheck.tsx
  packages/react/src/components/DetailsList/ShimmeredDetailsList.styles.ts
  packages/react/src/components/DetailsList/ShimmeredDetailsList.ts
  packages/react/src/components/DetailsList/index.ts
Labels: Component: DetailsList, PR: API Modified

#22999 react-textarea: Move Textarea to release candidate
  apps/public-docsite-v9/src/Concepts/Upgrade/FromV0/Components/Textarea.stories.mdx
  apps/public-docsite-v9/src/Concepts/Upgrade/FromV8/Components/Textarea.stories.mdx
  apps/vr-tests-react-components/package.json
  change/@fluentui-react-components-0670ce15-bbdb-4308-ba27-934c4ede2548.json
  change/@fluentui-react-textarea-006f5a3e-ee5f-4b7e-bd4b-06fd3d4203d5.json
  packages/react-components/react-components/etc/react-components.api.md
  packages/react-components/react-components/etc/react-components.unstable.api.md
  packages/react-components/react-components/package.json
  packages/react-components/react-components/src/index.ts
  packages/react-components/react-components/src/unstable/index.ts
  packages/react-components/react-textarea/README.md
  packages/react-components/react-textarea/package.json
Labels: Fluent UI vNext, Component: Textarea

#22714 AvatarStatusIcon, AvatarStatusImage, and Status icon
  packages/fluentui/CHANGELOG.md
  packages/fluentui/docs/src/examples/components/Avatar/Variations/AvatarExampleStatusImage.shorthand.tsx
  packages/fluentui/docs/src/examples/components/Avatar/Variations/index.tsx
  packages/fluentui/docs/src/examples/components/Status/Variations/StatusSizeExample.shorthand.tsx
  packages/fluentui/docs/src/examples/components/Status/Variations/index.tsx
  packages/fluentui/react-northstar/src/components/Avatar/AvatarStatus.tsx
  packages/fluentui/react-northstar/src/components/Avatar/AvatarStatusIcon.tsx
  packages/fluentui/react-northstar/src/components/Avatar/AvatarStatusImage.tsx
  packages/fluentui/react-northstar/src/index.ts
  packages/fluentui/react-northstar/src/themes/teams/componentStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/componentVariables.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Avatar/avatarIconStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Avatar/avatarLabelStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Avatar/avatarSizes.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Avatar/avatarStatusIconStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Avatar/avatarStatusImageStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Avatar/avatarStatusImageVariables.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Avatar/avatarStatusStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Avatar/avatarStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Avatar/avatarVariables.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Status/statusStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Status/statusVariables.ts
  packages/fluentui/react-northstar/src/themes/teams/types.ts
Labels: Fluent UI react-northstar

#22981 Radio: Replace flex gap with grid gap in RadioGroup stories
  packages/react-components/react-radio/src/stories/RadioGroupControlledValue.stories.tsx
  packages/react-components/react-radio/src/stories/RadioGroupDefault.stories.tsx
  packages/react-components/react-radio/src/stories/RadioGroupDisabled.stories.tsx
  packages/react-components/react-radio/src/stories/RadioGroupDisabledItem.stories.tsx
  packages/react-components/react-radio/src/stories/RadioGroupHorizontal.stories.tsx
  packages/react-components/react-radio/src/stories/RadioGroupHorizontalStacked.stories.tsx
  packages/react-components/react-radio/src/stories/RadioGroupLabelSubtext.stories.tsx
  packages/react-components/react-radio/src/stories/RadioGroupLabeled.stories.tsx
  packages/react-components/react-radio/src/stories/RadioGroupRequired.stories.tsx
  packages/react-components/react-radio/src/stories/RadioGroupUncontrolledValue.stories.tsx
Labels: Component: Radio

#23002 Update GitHub and CodeSandbox icons
  packages/fluentui/docs/src/components/ComponentDoc/ComponentControls/ComponentControls.tsx
  packages/fluentui/docs/src/components/ComponentDoc/ComponentDocLinks.tsx
  packages/fluentui/docs/src/components/ComponentDoc/ComponentExample/ComponentExample.tsx
  packages/fluentui/docs/src/components/Icons/CodeSandboxIcon.tsx
  packages/fluentui/docs/src/components/Icons/GitHubIcon.tsx
  packages/fluentui/docs/src/components/Sidebar/Sidebar.tsx
  packages/fluentui/docs/src/components/Sidebar/VersionDropdown.tsx
  packages/fluentui/docs/src/public/images/github.png
Labels: Fluent UI react-northstar

#22944 Adding the Mic pulse icons
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-icons-northstar/src/components/MicPulseIcon.tsx
  packages/fluentui/react-icons-northstar/src/components/MicPulseOffIcon.tsx
  packages/fluentui/react-icons-northstar/src/index.ts
Labels: Fluent UI react-northstar

#22758 Remove Dropdown HeaderMessage background
  packages/fluentui/CHANGELOG.md
  packages/fluentui/docs/src/examples/components/Dropdown/Slots/DropdownExampleHeaderMessage.shorthand.steps.ts
  packages/fluentui/docs/src/examples/components/Dropdown/Slots/DropdownExampleHeaderMessage.shorthand.tsx
  packages/fluentui/docs/src/examples/components/Dropdown/Slots/index.tsx
  packages/fluentui/docs/src/examples/components/Dropdown/index.tsx
  packages/fluentui/react-northstar/src/themes/teams/components/Dropdown/dropdownStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Dropdown/dropdownVariables.ts
Labels: Fluent UI react-northstar

#23010 Experiment: Test screener scoping for v0
  packages/fluentui/react-northstar/src/index.ts
Labels: Fluent UI react-northstar

#23012 Revert "Experiment: Test screener scoping for v0"
  packages/fluentui/react-northstar/src/index.ts
Labels: Fluent UI react-northstar

#23011 fix(react-card): Stop propagating Tabster attributes on `focusMode="off"`
  change/@fluentui-react-card-bc700711-950a-44e2-9bdd-e59ba4e3e902.json
  packages/react-components/react-card/src/components/Card/__snapshots__/Card.test.tsx.snap
  packages/react-components/react-card/src/components/Card/useCard.ts
Labels: Component: Card, Fluent UI vNext

#23000 Combobox: fix logic for selection and activedescendant
  packages/react-combobox/src/components/Combobox/useCombobox.ts
  packages/react-combobox/src/components/Listbox/useListbox.ts
  packages/react-combobox/src/components/Option/useOption.tsx
  packages/react-combobox/src/utils/OptionCollection.types.ts
  packages/react-combobox/src/utils/Selection.types.ts
  packages/react-combobox/src/utils/useOptionCollection.ts
  packages/react-combobox/src/utils/useSelection.ts
Labels: Component: ComboBox, Fluent UI vNext

#22996 Combobox: add and update stories
  packages/react-combobox/src/stories/Combobox.stories.tsx
  packages/react-combobox/src/stories/ComboboxAppearance.stories.tsx
  packages/react-combobox/src/stories/ComboboxBestPractices.md
  packages/react-combobox/src/stories/ComboboxCustomOptions.stories.tsx
  packages/react-combobox/src/stories/ComboboxGrouped.stories.tsx
  packages/react-combobox/src/stories/ComboboxMultiselect.stories.tsx
  packages/react-combobox/src/stories/ComboboxSize.stories.tsx
Labels: Component: ComboBox, Fluent UI vNext

#22918 (web-components) Added the Color Explorer as a web components Storybook page
  change/@fluentui-web-components-a241f2ea-56a0-4db5-aaa6-077257412c14.json
  packages/web-components/.storybook/main.js
  packages/web-components/.storybook/preview-head.html
  packages/web-components/.storybook/preview.js
  packages/web-components/src/_docs/design-system/color-explorer.stories.mdx
  packages/web-components/src/_docs/design-system/color-explorer/app.ts
  packages/web-components/src/_docs/design-system/color-explorer/colors.ts
  packages/web-components/src/_docs/design-system/color-explorer/component-types.ts
  packages/web-components/src/_docs/design-system/color-explorer/components/color-block.ts
  packages/web-components/src/_docs/design-system/color-explorer/components/color-picker/README.md
  packages/web-components/src/_docs/design-system/color-explorer/components/color-picker/color-picker.form-associated.ts
  packages/web-components/src/_docs/design-system/color-explorer/components/color-picker/color-picker.styles.ts
  packages/web-components/src/_docs/design-system/color-explorer/components/color-picker/color-picker.template.ts
  packages/web-components/src/_docs/design-system/color-explorer/components/color-picker/color-picker.ts
  packages/web-components/src/_docs/design-system/color-explorer/components/color-picker/index.ts
  packages/web-components/src/_docs/design-system/color-explorer/components/control-pane/control-pane.styles.ts
  packages/web-components/src/_docs/design-system/color-explorer/components/control-pane/control-pane.template.ts
  packages/web-components/src/_docs/design-system/color-explorer/components/control-pane/control-pane.ts
  packages/web-components/src/_docs/design-system/color-explorer/components/control-pane/index.ts
  packages/web-components/src/_docs/design-system/color-explorer/components/gradient/gradient.styles.ts
  packages/web-components/src/_docs/design-system/color-explorer/components/gradient/gradient.template.ts
  packages/web-components/src/_docs/design-system/color-explorer/components/gradient/gradient.ts
  packages/web-components/src/_docs/design-system/color-explorer/components/gradient/index.ts
  packages/web-components/src/_docs/design-system/color-explorer/components/layer-background/index.ts
  packages/web-components/src/_docs/design-system/color-explorer/components/sample-app/index.ts
  packages/web-components/src/_docs/design-system/color-explorer/components/sample-app/sample-app.styles.ts
  packages/web-components/src/_docs/design-system/color-explorer/components/sample-app/sample-app.template.ts
  packages/web-components/src/_docs/design-system/color-explorer/components/sample-app/sample-app.ts
  packages/web-components/src/_docs/design-system/color-explorer/components/sample-page/index.ts
  packages/web-components/src/_docs/design-system/color-explorer/components/sample-page/sample-page.styles.ts
  packages/web-components/src/_docs/design-system/color-explorer/components/sample-page/sample-page.template.ts
  packages/web-components/src/_docs/design-system/color-explorer/components/sample-page/sample-page.ts
  packages/web-components/src/_docs/design-system/color-explorer/components/swatch.ts
  packages/web-components/src/_docs/design-system/color-explorer/custom-elements.ts
  packages/web-components/src/_docs/design-system/color-explorer/index.ts
Labels: web-components

#22982 Replace hardcoded padding with spacing tokens in Radio and Switch
  change/@fluentui-react-checkbox-ce3ada96-9528-49e0-a532-a91451f899ba.json
  change/@fluentui-react-radio-c8598414-8dab-48b7-80a2-c6e6a6909cac.json
  change/@fluentui-react-switch-24418c0a-688e-4260-9dfb-66204c8eeac1.json
  packages/react-components/react-checkbox/src/components/Checkbox/useCheckboxStyles.ts
  packages/react-components/react-radio/src/components/Radio/useRadioStyles.ts
  packages/react-components/react-switch/src/components/Switch/useSwitchStyles.ts
Labels: Component: Checkbox, Component: Switch, Component: Radio

#23022 fix(Pivot): aria-selected not allowed on menuitems
  change/@fluentui-react-1b195929-6f94-41d0-9f13-4403c965df3a.json
  packages/react/src/components/Pivot/Pivot.base.tsx
Labels: Area: Accessibility, Component: Pivot

#23023 Fix groupedlist custom checkbox example to not have nested checkboxes
  packages/react-examples/src/react/GroupedList/GroupedList.CustomCheckbox.Example.tsx
Labels: Area: Accessibility, Component: GroupedList

#23024 Remove menu roles from overflowset and resizegroup examples
  packages/react-examples/src/react/OverflowSet/OverflowSet.Basic.Example.tsx
  packages/react-examples/src/react/OverflowSet/OverflowSet.BasicReversed.Example.tsx
  packages/react-examples/src/react/OverflowSet/OverflowSet.Custom.Example.tsx
  packages/react-examples/src/react/OverflowSet/OverflowSet.Vertical.Example.tsx
  packages/react-examples/src/react/ResizeGroup/ResizeGroup.OverflowSet.Example.tsx
  packages/react-examples/src/react/ResizeGroup/ResizeGroup.VerticalOverflowSet.Example.tsx
Labels: Area: Accessibility, Component: OverflowSet, Area: Website, Component: ResizeGroup

#22987 Textarea: Update appearance stories and add best practices
  change/@fluentui-react-textarea-8876f80c-3fad-49b7-a396-4538482bd422.json
  packages/react-components/react-textarea/src/stories/Textarea.stories.tsx
  packages/react-components/react-textarea/src/stories/TextareaAppearance.stories.tsx
  packages/react-components/react-textarea/src/stories/TextareaBestPractices.md
Labels: Fluent UI vNext, Component: Textarea

#23034 fix: remove deprecated branches to fix styles caching in Avatar
  packages/fluentui/CHANGELOG.md
  packages/fluentui/docs/src/examples/components/Avatar/Visual/AvatarStatusOverrideExample.shorthand.tsx
  packages/fluentui/react-northstar/src/components/Avatar/Avatar.tsx
Labels: Fluent UI react-northstar

#23021 The outline and the filled part of MicPulseOff were both filled. Fixing.
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-icons-northstar/src/components/MicPulseIcon.tsx
  packages/fluentui/react-icons-northstar/src/components/MicPulseOffIcon.tsx
Labels: Fluent UI react-northstar

#23053 feat(v9): migrate badge to ship rolluped only dts
  change/@fluentui-react-badge-51877968-a3ea-468a-b353-198c0346e1dc.json
  packages/react-components/react-badge/.npmignore
  packages/react-components/react-badge/config/api-extractor.json
  packages/react-components/react-badge/config/api-extractor.local.json
  packages/react-components/react-badge/package.json
  packages/react-components/react-badge/tsconfig.lib.json
Labels: Area: Build System

#23047 react-avatar: Moving Avatar stories to stories folder
  change/@fluentui-react-avatar-abeacc40-1de2-479f-9992-d9e0f6a17161.json
  packages/react-components/react-avatar/src/stories/Avatar.stories.tsx
  packages/react-components/react-avatar/src/stories/AvatarActive.stories.tsx
  packages/react-components/react-avatar/src/stories/AvatarActiveAppearance.stories.tsx
  packages/react-components/react-avatar/src/stories/AvatarBadge.stories.tsx
  packages/react-components/react-avatar/src/stories/AvatarColorBrand.stories.tsx
  packages/react-components/react-avatar/src/stories/AvatarColorColorful.stories.tsx
  packages/react-components/react-avatar/src/stories/AvatarColorPalette.stories.tsx
  packages/react-components/react-avatar/src/stories/AvatarDefault.stories.tsx
  packages/react-components/react-avatar/src/stories/AvatarDescription.md
  packages/react-components/react-avatar/src/stories/AvatarIcon.stories.tsx
  packages/react-components/react-avatar/src/stories/AvatarImage.stories.tsx
  packages/react-components/react-avatar/src/stories/AvatarInitials.stories.tsx
  packages/react-components/react-avatar/src/stories/AvatarName.stories.tsx
  packages/react-components/react-avatar/src/stories/AvatarSize.stories.tsx
  packages/react-components/react-avatar/src/stories/AvatarSquare.stories.tsx
Labels: Fluent UI vNext, Component: Avatar

#22921 7.0 - Allow React 17 in peerDependencies
  apps/fabric-website-resources/package.json
  apps/fabric-website/package.json
  change/@fluentui-react-5dc42809-76c6-4f8f-ab1e-65f56f90446a.json
  change/@fluentui-react-button-001b719f-a5f3-40e2-91bc-16ac1218ea66.json
  change/@fluentui-react-compose-f975296b-ccab-44d9-bf7d-7ba7acc3e53c.json
  change/@fluentui-react-focus-a16cb661-770d-43b5-ab08-553bf8436fc2.json
  change/@fluentui-react-icons-e660a077-5741-4d34-9d93-f9d0952b8dc2.json
  change/@fluentui-react-shared-contexts-d58edc5a-71ab-4967-a0aa-28f31b2c9df6.json
  change/@fluentui-react-stylesheets-f935cb4d-f14f-4818-b4ce-56f0b86ed39e.json
  change/@fluentui-react-theme-provider-dd2ddb00-62c4-4e16-b9aa-f376ecf45b05.json
  change/@fluentui-react-window-provider-9bd15c6f-cc93-4ae1-91ba-9b97747e6b29.json
  change/@fluentui-storybook-721ad020-0314-420c-8bd4-86685897d576.json
  change/@fluentui-theme-c9431f9e-0d3e-415c-80a7-984a9c3e27c7.json
  change/@uifabric-charting-63c94330-3bf6-45a9-b0d7-e6340a48930c.json
  change/@uifabric-date-time-1e5943ee-92ce-4b6d-98c9-ffb9b52dbb67.json
  change/@uifabric-example-app-base-612b83e2-e855-4eb0-bbca-2164b0c9352d.json
  change/@uifabric-experiments-70c8d833-b769-423e-8fdd-1d31918f30a9.json
  change/@uifabric-file-type-icons-a3c04e1f-6ef1-4022-b5e7-95410ec86ff6.json
  change/@uifabric-foundation-210f0165-d6c1-4e4b-b584-61244a3ce98f.json
  change/@uifabric-react-cards-e9d09756-e422-4214-be5e-99540ea1cdd7.json
  change/@uifabric-react-hooks-c2ab9386-4c4c-40bc-a562-d00d97cead9c.json
  change/@uifabric-test-utilities-7742b0f6-5a67-4fba-9ee4-60763e404344.json
  change/@uifabric-tsx-editor-871bf21c-d71c-4c3c-b344-7af578fed5c9.json
  change/@uifabric-utilities-beac8f5a-7380-44df-9a31-a5bb12faa218.json
  change/office-ui-fabric-react-643faee5-a3a8-4e5b-8824-d08f02590217.json
  packages/charting/package.json
  packages/date-time/package.json
  packages/example-app-base/package.json
  packages/experiments/package.json
  packages/file-type-icons/package.json
  packages/foundation/package.json
  packages/office-ui-fabric-react/package.json
  packages/react-button/package.json
  packages/react-cards/package.json
  packages/react-compose/package.json
  packages/react-conformance/package.json
  packages/react-examples/package.json
  packages/react-focus/package.json
  packages/react-hooks/package.json
  packages/react-icons/package.json
  packages/react-shared-contexts/package.json
  packages/react-stylesheets/package.json
  packages/react-theme-provider/package.json
  packages/react-window-provider/package.json
  packages/react/package.json
  packages/storybook/package.json
  packages/test-utilities/package.json
  packages/theme/package.json
  packages/tsx-editor/package.json
  packages/utilities/package.json
Labels: Fabric 7, needs cherry-pick

#23049 Select: fix icon positioning
  packages/react-components/react-select/src/components/Select/useSelectStyles.ts
Labels: Component: Select

#23004 SpinButton: update stepper clamping behavior
  change/@fluentui-react-spinbutton-d39a9441-b65d-4309-b07e-02e8a6516464.json
  packages/react-components/react-spinbutton/src/components/SpinButton/SpinButton.test.tsx
  packages/react-components/react-spinbutton/src/components/SpinButton/useSpinButton.tsx
  packages/react-components/react-spinbutton/src/utils/clamp.test.ts
  packages/react-components/react-spinbutton/src/utils/clamp.ts
Labels: Component: SpinButton, Partner Ask

#23060 chore: prepare release react-northstar 0.63.0
  packages/fluentui/CHANGELOG.md
  packages/fluentui/ability-attributes/package.json
  packages/fluentui/accessibility/package.json
  packages/fluentui/circulars-test/package.json
  packages/fluentui/code-sandbox/package.json
  packages/fluentui/digest/package.json
  packages/fluentui/docs-components/package.json
  packages/fluentui/docs/package.json
  packages/fluentui/e2e/package.json
  packages/fluentui/lerna.json
  packages/fluentui/local-sandbox/package.json
  packages/fluentui/perf-test-northstar/package.json
  packages/fluentui/perf/package.json
  packages/fluentui/projects-test/package.json
  packages/fluentui/react-bindings/package.json
  packages/fluentui/react-builder/package.json
  packages/fluentui/react-component-event-listener/package.json
  packages/fluentui/react-component-nesting-registry/package.json
  packages/fluentui/react-component-ref/package.json
  packages/fluentui/react-icons-northstar/package.json
  packages/fluentui/react-northstar-emotion-renderer/package.json
  packages/fluentui/react-northstar-fela-renderer/package.json
  packages/fluentui/react-northstar-prototypes/package.json
  packages/fluentui/react-northstar-styles-renderer/package.json
  packages/fluentui/react-northstar/package.json
  packages/fluentui/react-proptypes/package.json
  packages/fluentui/react-telemetry/package.json
  packages/fluentui/state/package.json
  packages/fluentui/styles/package.json
Labels: Fluent UI react-northstar

#23063 (fix): Broken storybook test in react-components fixed after accordion move
  change/@fluentui-react-components-7bb589d2-fd19-4663-bea3-71732661b54e.json
  packages/react-components/react-components/.storybook/main.utils.test.js
Labels: Area: Build System

#22958 Removing Common types from all Menu components in @fluentui/react-menu
  change/@fluentui-react-menu-dcc767f7-d363-4d62-9c12-1615709ac31e.json
  packages/react-components/react-menu/etc/react-menu.api.md
  packages/react-components/react-menu/src/components/Menu/Menu.types.ts
  packages/react-components/react-menu/src/components/Menu/useMenu.tsx
  packages/react-components/react-menu/src/components/Menu/useMenuContextValues.ts
  packages/react-components/react-menu/src/components/MenuItem/MenuItem.types.ts
  packages/react-components/react-menu/src/components/MenuList/MenuList.types.ts
  packages/react-components/react-menu/src/components/MenuList/index.ts
  packages/react-components/react-menu/src/components/MenuList/useMenuList.ts
  packages/react-components/react-menu/src/components/MenuList/useMenuListContextValues.ts
  packages/react-components/react-menu/src/components/MenuSplitGroup/MenuSplitGroup.types.ts
Labels: Component: Menu, Component: MenuItem, Component: MenuList

#22972 Removing ToolbarCommons type in @fluentui/react-toolbar
  packages/react-components/react-toolbar/etc/react-toolbar.api.md
  packages/react-components/react-toolbar/src/components/Toolbar/Toolbar.types.ts
  packages/react-components/react-toolbar/src/components/Toolbar/useToolbar.ts
  packages/react-components/react-toolbar/src/index.ts
Labels: Fluent UI vNext, Component: Toolbar

#22955 Removing DialogCommons type in @fluentui/react-dialog
  packages/react-components/react-dialog/etc/react-dialog.api.md
  packages/react-components/react-dialog/src/components/Dialog/Dialog.types.ts
Labels: Component: Dialog, Fluent UI vNext

#23003 Avatar: Add size 16
  apps/vr-tests-react-components/src/stories/Avatar.stories.tsx
  change/@fluentui-react-avatar-033296da-2a37-4377-84c3-9ac1541959a4.json
  packages/react-components/react-avatar/etc/react-avatar.api.md
  packages/react-components/react-avatar/src/components/Avatar/Avatar.test.tsx
  packages/react-components/react-avatar/src/components/Avatar/Avatar.types.ts
  packages/react-components/react-avatar/src/components/Avatar/useAvatar.tsx
  packages/react-components/react-avatar/src/components/Avatar/useAvatarStyles.ts
  packages/react-components/react-avatar/src/stories/AvatarDefault.stories.tsx
  packages/react-components/react-avatar/src/stories/AvatarSize.stories.tsx
  packages/react-components/react-avatar/src/utils/getInitials.test.ts
  packages/react-components/react-avatar/src/utils/getInitials.ts
Labels: Component: Avatar

#22971 Removing TextCommons type in @fluentui/react-text
  change/@fluentui-react-text-2fe193d2-52fa-42b1-b696-c6b562f8ac23.json
  packages/react-components/react-text/etc/react-text.api.md
  packages/react-components/react-text/src/components/Text/Text.types.ts
  packages/react-components/react-text/src/components/Text/useText.ts
Labels: Component: Text, Fluent UI vNext

#23050 react-select: update contrast in appearance stories
  packages/react-components/react-select/src/stories/Select.stories.tsx
  packages/react-components/react-select/src/stories/SelectAppearance.stories.tsx
  packages/react-components/react-select/src/stories/SelectBestPractices.md
Labels: Component: Select

#23061 feat(v9): migrate accordion, combobox, divider to ship rolluped only dts
  change/@fluentui-react-accordion-e745733d-18dc-47a1-9cfb-90e4f2800d05.json
  change/@fluentui-react-divider-a3f01f4a-eef4-4877-a6ca-ae6640b3e256.json
  packages/react-components/react-accordion/.npmignore
  packages/react-components/react-accordion/config/api-extractor.json
  packages/react-components/react-accordion/config/api-extractor.local.json
  packages/react-components/react-accordion/package.json
  packages/react-components/react-accordion/tsconfig.lib.json
  packages/react-components/react-combobox/.npmignore
  packages/react-components/react-combobox/config/api-extractor.json
  packages/react-components/react-combobox/config/api-extractor.local.json
  packages/react-components/react-combobox/package.json
  packages/react-components/react-combobox/tsconfig.lib.json
  packages/react-components/react-divider/.npmignore
  packages/react-components/react-divider/config/api-extractor.json
  packages/react-components/react-divider/config/api-extractor.local.json
  packages/react-components/react-divider/package.json
  packages/react-components/react-divider/tsconfig.lib.json
  workspace.json
Labels: Area: Build System

#23067 Removing ToggleButtonCommons type in @fluentui/react-button
  change/@fluentui-react-button-fc2226f9-0a2b-4a6d-8fc1-af544f362a71.json
  packages/react-components/react-button/etc/react-button.api.md
  packages/react-components/react-button/src/components/ToggleButton/ToggleButton.types.ts
Labels: Fluent UI vNext, Component: ToggleButton

#23068 Removing SelectCommons type in @fluentui/react-select
  packages/react-components/react-select/etc/react-select.api.md
  packages/react-components/react-select/src/components/Select/Select.types.ts
  packages/react-components/react-select/src/index.ts
Labels: AutoMerge, Fluent UI vNext, Component: Select

#23069 Accessibility: appearance filled contrast fix
  packages/react-components/react-input/src/stories/InputAppearance.stories.tsx
  packages/react-components/react-spinbutton/src/stories/SpinButtonAppearance.stories.tsx
  packages/react-components/react-textarea/src/stories/TextareaAppearance.stories.tsx
Labels: Area: Accessibility

#23065 (chore) Cleanup getVnextStories function now that all v9 packages have been moved to common folder
  apps/public-docsite-v9/.storybook/main.utils.js
  change/@fluentui-react-components-bceca457-a419-4d28-9017-f25641f217a4.json
  packages/react-components/react-components/.storybook/main.utils.js
Labels: Area: Build System

#23070 Removing FluentProviderCommons type in @fluentui/react-provider
  change/@fluentui-react-provider-1a934471-371e-40d3-a414-9888ed5f7606.json
  packages/react-components/react-provider/etc/react-provider.api.md
  packages/react-components/react-provider/src/components/FluentProvider/FluentProvider.types.ts
Labels: Fluent UI vNext, Component: FluentProvider

#23008 Update window variable to use iconBaseUrl to avoid collision
  change/@uifabric-icons-8a5f4ef4-9047-4bd5-b37e-22f2994c0bfb.json
  packages/icons/src/index.ts
Labels: Fabric 7, Area: Icons

#23087 Storybook style updates
  apps/public-docsite-v9/.storybook/docs-root-v9.css
  apps/public-docsite-v9/.storybook/manager-head.html
  apps/public-docsite-v9/.storybook/preview.js
  apps/public-docsite-v9/.storybook/theme.js
  apps/public-docsite-v9/public/fluentui-logo.svg
  apps/public-docsite-v9/public/shell.css
  apps/public-docsite-v9/src/DocsComponents/FluentDocsContainer.stories.tsx
  apps/public-docsite-v9/src/DocsComponents/FluentDocsHeader.stories.tsx
Labels: Area: Website

#23076 react-button: Using spacing tokens for button components
  change/@fluentui-react-button-1fc68dee-32f8-40ab-adf4-c9e44a32b920.json
  packages/react-components/react-button/src/components/Button/useButtonStyles.ts
  packages/react-components/react-button/src/components/CompoundButton/useCompoundButtonStyles.ts
Labels: Component: Button, Component: ToggleButton, Component: SplitButton, Component: CompoundButton, Component: MenuButton

#23071 react-button: Removing deprecated block prop from all button components
  apps/vr-tests-react-components/src/stories/Button.stories.tsx
  change/@fluentui-react-button-fd44c043-6794-4163-b728-31531b359075.json
  packages/react-components/react-button/etc/react-button.api.md
  packages/react-components/react-button/src/components/Button/Button.types.ts
  packages/react-components/react-button/src/components/Button/MIGRATION.md
  packages/react-components/react-button/src/components/Button/SPEC.md
  packages/react-components/react-button/src/components/Button/stories/ButtonBlock.stories.tsx
  packages/react-components/react-button/src/components/Button/useButton.ts
  packages/react-components/react-button/src/components/Button/useButtonStyles.ts
  packages/react-components/react-button/src/components/CompoundButton/CompoundButton.types.ts
  packages/react-components/react-button/src/components/CompoundButton/stories/CompoundButtonBlock.stories.tsx
  packages/react-components/react-button/src/components/MenuButton/MenuButton.types.ts
  packages/react-components/react-button/src/components/MenuButton/stories/MenuButtonBlock.stories.tsx
  packages/react-components/react-button/src/components/SplitButton/stories/SplitButtonBlock.stories.tsx
  packages/react-components/react-button/src/components/SplitButton/useSplitButton.ts
  packages/react-components/react-button/src/components/SplitButton/useSplitButtonStyles.ts
  packages/react-components/react-button/src/components/ToggleButton/stories/ToggleButtonBlock.stories.tsx
Labels: Component: Button, Fluent UI vNext, Component: ToggleButton, Component: SplitButton, Component: CompoundButton, Component: MenuButton

#23091 react-button: Removing flex gap from button components and fixing spacing to better align with design spec
  change/@fluentui-react-button-7091fe1a-aed6-4eae-b36b-66bbd79fec61.json
  packages/react-components/react-button/src/components/Button/useButtonStyles.ts
  packages/react-components/react-button/src/components/CompoundButton/stories/CompoundButtonWithLongText.stories.tsx
  packages/react-components/react-button/src/components/CompoundButton/useCompoundButtonStyles.ts
  packages/react-components/react-button/src/components/MenuButton/useMenuButtonStyles.ts
  packages/react-components/react-button/src/components/SplitButton/useSplitButtonStyles.ts
Labels: Component: Button, Component: SpinButton, Fluent UI vNext, Component: ToggleButton, Component: SplitButton, Component: CompoundButton, Component: MenuButton

#23094 Switch: Moving component out of unstable
  change/@fluentui-react-components-e2f0fda9-b4ae-4ca7-a7b7-82c2bd8a34e5.json
  packages/react-components/react-components/etc/react-components.api.md
  packages/react-components/react-components/etc/react-components.unstable.api.md
  packages/react-components/react-components/src/index.ts
  packages/react-components/react-components/src/unstable/index.ts
  packages/react-components/react-switch/src/stories/Switch.stories.tsx
Labels: Fluent UI vNext, Component: Switch

#23090 Input: move to release candidate
  apps/vr-tests-react-components/package.json
  change/@fluentui-react-components-fde1774d-c84a-4853-a18b-abce2af7196e.json
  change/@fluentui-react-input-bed71aa5-4608-4ce3-9537-40a32dd44e69.json
  change/@fluentui-react-spinbutton-c26351d8-d806-445e-939e-3b84c6e59bbb.json
  packages/react-components/react-components/etc/react-components.api.md
  packages/react-components/react-components/etc/react-components.unstable.api.md
  packages/react-components/react-components/package.json
  packages/react-components/react-components/src/index.ts
  packages/react-components/react-components/src/unstable/index.ts
  packages/react-components/react-input/README.md
  packages/react-components/react-input/package.json
  packages/react-components/react-input/src/stories/Input.stories.tsx
  packages/react-components/react-spinbutton/package.json
Labels: Component: Input

#23089 fix: Context menu should close when its trigger is clicked
  change/@fluentui-react-menu-885fe8d5-9fab-4126-b211-93d4f5d6d2f8.json
  packages/react-components/react-menu/e2e/Menu.e2e.tsx
  packages/react-components/react-menu/src/components/Menu/useMenu.tsx
Labels: Component: Menu

#23082 chore(react-card): align stories with the rest of the library
  packages/react-components/react-card/src/stories/CardAppearance.stories.tsx
Labels: Component: Card, Fluent UI vNext

#23109 Tabster: update tabster dependency
  change/@fluentui-react-tabster-2673c19d-f19b-4bf3-b641-9a7cd8ec1266.json
  packages/react-components/react-tabster/package.json
  yarn.lock
Labels: Partner Ask, dependencies
