Repository microsoft/fluentui, pull requests merged in 2022-11, with the labels that each got.

#25012 feat: v0 menu style migration from v9
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/themes/teams/components/Menu/menuItemStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Menu/menuItemWrapperStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Menu/menuStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Menu/menuVariables.ts
Labels: Component: Menu, Fluent UI react-northstar

#25464 docs: fix small typos
  apps/public-docsite/src/pages/Controls/ButtonPage/docs/cross/ButtonOverview.md
  apps/public-docsite/src/pages/Controls/ButtonPage/docs/windows/ButtonOverview.md
  apps/public-docsite/src/pages/Controls/DrawerPage/docs/ios/DrawerOverview.md
Labels: Area: Website

#25465 chore: fix syncpack glob pattern on apps folder
  package.json
Labels: Area: Build System

#25456 feat: positioning should happen out of React lifecycle
  change/@fluentui-react-portal-323fba1d-79e4-4b55-af4f-cfa9444a2bcf.json
  change/@fluentui-react-positioning-b6d61cdf-e434-43ff-a859-ab563e6a47f5.json
  packages/react-components/react-portal/src/components/Portal/usePortalMountNode.ts
  packages/react-components/react-positioning/etc/react-positioning.api.md
  packages/react-components/react-positioning/src/createPositionManager.ts
  packages/react-components/react-positioning/src/types.ts
  packages/react-components/react-positioning/src/usePositioning.ts
  packages/react-components/react-positioning/src/utils/index.ts
  packages/react-components/react-positioning/src/utils/writeArrowUpdates.ts
  packages/react-components/react-positioning/src/utils/writeContainerupdates.ts
Labels: Component: Menu

#25476 feat: Implement child render function for DataGrid rows
  change/@fluentui-react-table-350ae095-7533-4307-a31f-6d9cbb178cb8.json
  packages/react-components/react-table/etc/react-table.api.md
  packages/react-components/react-table/package.json
  packages/react-components/react-table/src/components/DataGrid/DataGrid.test.tsx
  packages/react-components/react-table/src/components/DataGrid/DataGrid.types.ts
  packages/react-components/react-table/src/components/DataGrid/__snapshots__/DataGrid.test.tsx.snap
  packages/react-components/react-table/src/components/DataGrid/renderDataGrid.tsx
  packages/react-components/react-table/src/components/DataGrid/useDataGrid.ts
  packages/react-components/react-table/src/components/DataGrid/useDataGridContextValues.ts
  packages/react-components/react-table/src/components/DataGridBody/DataGridBody.test.tsx
  packages/react-components/react-table/src/components/DataGridBody/DataGridBody.types.ts
  packages/react-components/react-table/src/components/DataGridBody/__snapshots__/DataGridBody.test.tsx.snap
  packages/react-components/react-table/src/components/DataGridBody/useDataGridBody.ts
  packages/react-components/react-table/src/contexts/dataGridContext.ts
  packages/react-components/react-table/src/hooks/useTable.ts
  packages/react-components/react-table/src/index.ts
  packages/react-components/react-table/stories/DataGrid/Default.stories.tsx
  packages/react-components/react-table/stories/DataGrid/index.stories.tsx
Labels: Component: Table

#25385 fix(docsite-v9): move theme picker
  apps/public-docsite-v9/src/DocsComponents/FluentDocsContainer.stories.tsx
  apps/public-docsite-v9/src/DocsComponents/FluentDocsHeader.stories.tsx
  apps/public-docsite-v9/src/DocsComponents/FluentDocsPage.stories.tsx
Labels: Area: Website

#25108 chore(vr-tests-v9): Convert Button VR tests to CSF
  .github/workflows/screener-build.yml
  apps/vr-tests-react-components/.storybook/main.js
  apps/vr-tests-react-components/.storybook/preview.js
  apps/vr-tests-react-components/jest.config.js
  apps/vr-tests-react-components/package.json
  apps/vr-tests-react-components/src/stories/Button.stories.tsx
  apps/vr-tests-react-components/src/stories/Button/Button.stories.tsx
  apps/vr-tests-react-components/src/stories/Button/CompoundButton.stories.tsx
  apps/vr-tests-react-components/src/stories/Button/CompoundButtonDefault.stories.tsx
  apps/vr-tests-react-components/src/stories/Button/MenuButton.stories.tsx
  apps/vr-tests-react-components/src/stories/Button/ToggleButton.stories.tsx
  apps/vr-tests-react-components/src/stories/Button/utils.ts
  apps/vr-tests-react-components/src/utilities/getStoryVariant.ts
  apps/vr-tests-react-components/src/utilities/index.ts
  apps/vr-tests-react-components/src/utilities/utilities.test.tsx
  apps/vr-tests-react-components/src/utilities/withScreenerSteps.tsx
  apps/vr-tests-react-components/tsconfig.json
  packages/react-components/react-storybook-addon/etc/react-storybook-addon.api.md
  packages/react-components/react-storybook-addon/src/hooks.ts
Labels: Area: Testing

#25251 docs(react-infobutton): Adding component's spec
  packages/react-components/react-infobutton/Spec.md
  packages/react-components/react-infobutton/etc/images/anatomy.png
Labels: Fluent UI react-components (v9), Type: Spec, Component: InfoButton

#25247 feat(react-infobutton): Add initial implementation
  packages/react-components/react-infobutton/etc/react-infobutton.api.md
  packages/react-components/react-infobutton/package.json
  packages/react-components/react-infobutton/src/components/InfoButton/DefaultInfoButtonIcon.tsx
  packages/react-components/react-infobutton/src/components/InfoButton/InfoButton.test.tsx
  packages/react-components/react-infobutton/src/components/InfoButton/InfoButton.tsx
  packages/react-components/react-infobutton/src/components/InfoButton/InfoButton.types.ts
  packages/react-components/react-infobutton/src/components/InfoButton/__snapshots__/InfoButton.test.tsx.snap
  packages/react-components/react-infobutton/src/components/InfoButton/renderInfoButton.tsx
  packages/react-components/react-infobutton/src/components/InfoButton/useInfoButton.ts
  packages/react-components/react-infobutton/src/components/InfoButton/useInfoButton.tsx
  packages/react-components/react-infobutton/src/components/InfoButton/useInfoButtonStyles.ts
  packages/react-components/react-infobutton/src/stories/Infobutton/InfoButtonBestPractices.md
  packages/react-components/react-infobutton/src/stories/Infobutton/InfoButtonDefault.stories.tsx
  packages/react-components/react-infobutton/src/stories/Infobutton/InfoButtonDescription.md
Labels: Fluent UI react-components (v9), Component: InfoButton

#25453 fix: Preventing blanket selectors from Fabric component from being applied via new preventBlanketFontInheritance prop
  change/@fluentui-react-58740d71-828a-4058-8da6-75706dd8794d.json
  packages/react/etc/react.api.md
  packages/react/src/components/Fabric/Fabric.styles.ts
  packages/react/src/components/Fabric/Fabric.types.ts
  packages/react/src/components/Layer/Layer.base.tsx
  packages/react/src/components/Layer/Layer.types.ts
Labels: PR: API Modified, Component: Fabric, Fluent UI react (v8)

#25356 feat(scripts): improve API violation reporting
  scripts/tasks/api-extractor.ts
  scripts/tasks/copy.ts
  scripts/tasks/utils.ts
Labels: Area: Build System, Fluent UI react-components (v9)

#24486 feat(react-card): add new selectable feature
  apps/vr-tests-react-components/src/stories/Card.stories.tsx
  change/@fluentui-react-card-4c8108dc-932c-4489-afa2-dc5b08d3465d.json
  packages/react-components/react-card/docs/Spec.md
  packages/react-components/react-card/docs/assets/intelligence.png
  packages/react-components/react-card/docs/assets/interactive-example.png
  packages/react-components/react-card/etc/react-card.api.md
  packages/react-components/react-card/package.json
  packages/react-components/react-card/src/components/Card/Card.cy.tsx
  packages/react-components/react-card/src/components/Card/Card.test.tsx
  packages/react-components/react-card/src/components/Card/Card.tsx
  packages/react-components/react-card/src/components/Card/Card.types.ts
  packages/react-components/react-card/src/components/Card/renderCard.tsx
  packages/react-components/react-card/src/components/Card/useCard.ts
  packages/react-components/react-card/src/components/Card/useCardSelectable.ts
  packages/react-components/react-card/src/components/Card/useCardStyles.ts
  packages/react-components/react-card/src/components/CardHeader/useCardHeaderStyles.ts
  packages/react-components/react-card/src/index.ts
  packages/react-components/react-card/stories/Card/CardAppearance.stories.tsx
  packages/react-components/react-card/stories/Card/CardDefault.stories.tsx
  packages/react-components/react-card/stories/Card/CardFocusMode.stories.tsx
  packages/react-components/react-card/stories/Card/CardInteractive.stories.tsx
  packages/react-components/react-card/stories/Card/CardOrientation.stories.tsx
  packages/react-components/react-card/stories/Card/CardSelectable.stories.tsx
  packages/react-components/react-card/stories/Card/CardSelectableCheckbox.stories.tsx
  packages/react-components/react-card/stories/Card/CardSize.stories.tsx
  packages/react-components/react-card/stories/Card/CardTemplates.stories.tsx
  packages/react-components/react-card/stories/Card/SampleCard.stories.tsx
  packages/react-components/react-card/stories/Card/index.stories.tsx
  packages/react-components/react-card/stories/CardHeader/CardHeaderDefault.stories.tsx
  packages/react-components/react-card/stories/CardPreview/CardPreviewDefault.stories.tsx
  packages/react-components/react-card/stories/assets/intelligence.png
Labels: Component: Card, Fluent UI react-components (v9)

#24563 Fix legends selection bugs
  change/@fluentui-react-charting-3475ad9e-70bd-41ba-8508-fb05f00a786f.json
  packages/react-charting/src/components/AreaChart/AreaChart.base.tsx
  packages/react-charting/src/components/DonutChart/DonutChart.base.tsx
  packages/react-charting/src/components/GroupedVerticalBarChart/GroupedVerticalBarChart.base.tsx
  packages/react-charting/src/components/HeatMapChart/HeatMapChart.base.tsx
  packages/react-charting/src/components/Legends/Legends.base.tsx
  packages/react-charting/src/components/LineChart/LineChart.base.tsx
  packages/react-charting/src/components/StackedBarChart/MultiStackedBarChart.base.tsx
  packages/react-charting/src/components/StackedBarChart/StackedBarChart.base.tsx
  packages/react-charting/src/components/VerticalBarChart/VerticalBarChart.base.tsx
  packages/react-charting/src/components/VerticalStackedBarChart/VerticalStackedBarChart.base.tsx
Labels: Package: charting

#25479 fix: Showing correct behavior for icons inside of Buttons on hover, pressed and toggle states
  change/@fluentui-react-button-c452c0d5-b913-4697-906a-ab9effbe88b2.json
  packages/react-components/react-button/src/components/Button/useButtonStyles.ts
  packages/react-components/react-button/src/components/ToggleButton/useToggleButtonStyles.ts
  packages/react-components/react-button/stories/Button/ButtonAppearance.stories.tsx
  packages/react-components/react-button/stories/Button/ButtonIcon.stories.tsx
  packages/react-components/react-button/stories/Button/ButtonSize.stories.tsx
  packages/react-components/react-button/stories/CompoundButton/CompoundButtonAppearance.stories.tsx
  packages/react-components/react-button/stories/CompoundButton/CompoundButtonDefault.stories.tsx
  packages/react-components/react-button/stories/CompoundButton/CompoundButtonIcon.stories.tsx
  packages/react-components/react-button/stories/CompoundButton/CompoundButtonSize.stories.tsx
  packages/react-components/react-button/stories/MenuButton/MenuButtonIcon.stories.tsx
  packages/react-components/react-button/stories/MenuButton/MenuButtonSizeLarge.stories.tsx
  packages/react-components/react-button/stories/MenuButton/MenuButtonSizeMedium.stories.tsx
  packages/react-components/react-button/stories/MenuButton/MenuButtonSizeSmall.stories.tsx
  packages/react-components/react-button/stories/SplitButton/SplitButtonIcon.stories.tsx
  packages/react-components/react-button/stories/SplitButton/SplitButtonSizeLarge.stories.tsx
  packages/react-components/react-button/stories/SplitButton/SplitButtonSizeMedium.stories.tsx
  packages/react-components/react-button/stories/SplitButton/SplitButtonSizeSmall.stories.tsx
  packages/react-components/react-button/stories/ToggleButton/ToggleButtonAppearance.stories.tsx
  packages/react-components/react-button/stories/ToggleButton/ToggleButtonIcon.stories.tsx
Labels: Component: Button, Fluent UI react-components (v9), Component: ToggleButton, Component: SplitButton, Component: CompoundButton, Component: MenuButton

#25475 Updated ChoiceGroup to allow callbacks to define one prop type
  change/@fluentui-react-89430e74-6347-4a7d-ad5b-9a3b5bebfc31.json
  packages/react/etc/react.api.md
  packages/react/src/components/ChoiceGroup/ChoiceGroup.types.ts
  packages/react/src/components/ChoiceGroup/ChoiceGroupOption/ChoiceGroupOption.base.tsx
  packages/react/src/components/ChoiceGroup/ChoiceGroupOption/ChoiceGroupOption.types.ts
Labels: Component: ChoiceGroup, PR: API Modified

#25493 fix(tools): conditionally add testing subfolder to tsconfig include glob in migrate-converged-pkg
  tools/generators/migrate-converged-pkg/index.spec.ts
  tools/generators/migrate-converged-pkg/index.ts
Labels: Area: Build System

#25495 feat: Implement render function for DataGridRow
  change/@fluentui-react-components-a065d3d7-c686-4ce0-b520-0b1875853ca0.json
  change/@fluentui-react-table-a94f4f80-c021-4eb8-a8e3-789425aee9e2.json
  packages/react-components/react-components/etc/react-components.unstable.api.md
  packages/react-components/react-components/src/unstable/index.ts
  packages/react-components/react-table/etc/react-table.api.md
  packages/react-components/react-table/src/components/DataGrid/DataGrid.test.tsx
  packages/react-components/react-table/src/components/DataGrid/__snapshots__/DataGrid.test.tsx.snap
  packages/react-components/react-table/src/components/DataGridRow/DataGridRow.test.tsx
  packages/react-components/react-table/src/components/DataGridRow/DataGridRow.types.ts
  packages/react-components/react-table/src/components/DataGridRow/__snapshots__/DataGridRow.test.tsx.snap
  packages/react-components/react-table/src/components/DataGridRow/useDataGridRow.ts
  packages/react-components/react-table/src/hooks/createColumn.ts
  packages/react-components/react-table/src/hooks/index.ts
  packages/react-components/react-table/src/hooks/types.ts
  packages/react-components/react-table/src/hooks/useSort.test.ts
  packages/react-components/react-table/src/hooks/useTable.test.ts
  packages/react-components/react-table/src/index.ts
  packages/react-components/react-table/stories/DataGrid/Default.stories.tsx
  packages/react-components/react-table/stories/Table/MultipleSelect.stories.tsx
  packages/react-components/react-table/stories/Table/MultipleSelectControlled.stories.tsx
  packages/react-components/react-table/stories/Table/SingleSelect.stories.tsx
  packages/react-components/react-table/stories/Table/SingleSelectControlled.stories.tsx
  packages/react-components/react-table/stories/Table/Sort.stories.tsx
  packages/react-components/react-table/stories/Table/SortControlled.stories.tsx
  packages/react-components/react-table/stories/Table/SubtleSelection.stories.tsx
Labels: Component: Table

#25522 chore: Replacing use of hard-coded constants with curve and duration tokens from theme
  change/@fluentui-react-avatar-7d40837f-02b3-476a-82a1-6ed45891f298.json
  change/@fluentui-react-button-225ecdbe-edd5-43c7-b12c-87a65fbaa0cd.json
  change/@fluentui-react-spinner-b295999d-5738-48b8-b9db-5d3f52ce0cc6.json
  change/@fluentui-react-switch-5a890d50-6c5c-4606-a677-582ded4bb23c.json
  packages/react-components/react-avatar/src/components/Avatar/useAvatarStyles.ts
  packages/react-components/react-button/src/components/Button/useButtonStyles.ts
  packages/react-components/react-spinner/src/components/Spinner/useSpinnerStyles.ts
  packages/react-components/react-switch/src/components/Switch/useSwitchStyles.ts
Labels: Fluent UI react-components (v9)

#25536 chore: Export ProgressField from `@fluentui/react-components/unstable`
  change/@fluentui-react-components-35f251b9-6362-4ca3-9d30-124fcfe024cf.json
  packages/react-components/react-components/etc/react-components.unstable.api.md
  packages/react-components/react-components/src/unstable/index.ts
Labels: Fluent UI react-components (v9), Component: Field, Component: Progress

#25530 feat: Implement `focusMode` prop for DataGrid, apply role="grid" correctly
  change/@fluentui-react-table-7398941b-ae22-4a18-878d-1ac8e853c6ee.json
  packages/react-components/react-table/etc/react-table.api.md
  packages/react-components/react-table/src/components/DataGrid/DataGrid.test.tsx
  packages/react-components/react-table/src/components/DataGrid/DataGrid.types.ts
  packages/react-components/react-table/src/components/DataGrid/__snapshots__/DataGrid.test.tsx.snap
  packages/react-components/react-table/src/components/DataGrid/useDataGrid.ts
  packages/react-components/react-table/src/components/DataGrid/useDataGridContextValues.ts
  packages/react-components/react-table/src/components/DataGridCell/DataGridCell.test.tsx
  packages/react-components/react-table/src/components/DataGridCell/__snapshots__/DataGridCell.test.tsx.snap
  packages/react-components/react-table/src/components/DataGridCell/useDataGridCell.ts
  packages/react-components/react-table/src/components/DataGridSelectionCell/__snapshots__/DataGridSelectionCell.test.tsx.snap
  packages/react-components/react-table/src/components/DataGridSelectionCell/useDataGridSelectionCell.ts
  packages/react-components/react-table/src/contexts/dataGridContext.ts
  packages/react-components/react-table/src/index.ts
  packages/react-components/react-table/src/testing/mockDataGridContext.ts
  packages/react-components/react-table/stories/DataGrid/Default.stories.tsx
Labels: Component: Table

#25560 stress-test: add "afterframe" dependency
  apps/stress-test/package.json
  apps/stress-test/src/shared/react/TestMount.tsx
  apps/stress-test/src/shared/utils/performanceMeasure.ts
  apps/stress-test/src/shared/utils/requestPostAnimationFrame.ts
  apps/stress-test/src/shared/vanilla/TestMount.ts
  yarn.lock
Labels: Area: Performance

#25542 Fix: Update tabs to remain the same size between unselected and selected states
  change/@fluentui-react-tabs-5857fdb2-8ae6-4796-9d11-757f662e5046.json
  packages/react-components/react-tabs/etc/react-tabs.api.md
  packages/react-components/react-tabs/src/components/Tab/Tab.types.ts
  packages/react-components/react-tabs/src/components/Tab/renderTab.tsx
  packages/react-components/react-tabs/src/components/Tab/useTab.ts
  packages/react-components/react-tabs/src/components/Tab/useTabStyles.ts
  packages/react-components/react-tabs/src/components/TabList/TabList.types.ts
  packages/react-components/react-tabs/src/components/TabList/TabListContext.ts
  packages/react-components/react-tabs/src/components/TabList/__snapshots__/TabList.test.tsx.snap
  packages/react-components/react-tabs/src/components/TabList/useTabList.ts
  packages/react-components/react-tabs/src/components/TabList/useTabListContextValues.tsx
Labels: Component: TabList

#25561 chore: Add reduced-motion documentation to Spinner
  change/@fluentui-react-spinner-9b660086-15f0-4220-970b-d21b6a1e0ed4.json
  packages/react-components/react-spinner/Spec.md
  packages/react-components/react-spinner/src/stories/Spinner/SpinnerBestPractices.md
Labels: Area: Accessibility, Component: Spinner

#25559 stress-test: disable CSS transitions on injected styles
  apps/stress-test/src/shared/css/injectStyles.ts
Labels: Area: Performance

#24817 docs(rfcs): add triage automation rfc
  rfcs/shared/build-system/triage-automation.md
Labels: Type: RFC, CI

#25507 bugfix(react-switch): adds line-height=0 to switch indicator slot
  change/@fluentui-react-switch-478e98a6-f6a5-411e-bcea-50c112ce9e77.json
  packages/react-components/react-switch/src/components/Switch/useSwitchStyles.ts
Labels: Fluent UI react-components (v9), Component: Switch

#25545 Expand @fluentui/react root index file's export *s to uncover and fix duplicate exports.
  change/@fluentui-eslint-plugin-ae682cae-04ae-4e42-a4ba-cbf2525ad490.json
  change/@fluentui-react-10ceb504-58ea-4967-b2d3-daae2d632740.json
  packages/eslint-plugin/src/configs/base-legacy.js
  packages/eslint-plugin/src/configs/react-legacy.js
  packages/react/src/index.ts
Labels: Fluent UI react (v8)

#25564 docs(public-docsite-v9): Adding a basic setup section to the SSR docs
  apps/public-docsite-v9/src/Concepts/SSR/SSR.stories.mdx
Labels: Area: Website, Fluent UI react-components (v9), Area: SSR

#25533 fix(storybook): fix theme picker current selection
  apps/public-docsite-v9/src/DocsComponents/ThemePicker.stories.tsx
Labels: Area: Website

#25497 fix: Update Avatar active ring color to match base color
  apps/vr-tests-react-components/src/stories/Avatar.stories.tsx
  change/@fluentui-react-avatar-9327cda3-0b08-4b5d-aaa3-48b18735285b.json
  packages/react-components/react-avatar/src/components/Avatar/useAvatarStyles.ts
Labels: Fluent UI react-components (v9), Component: Avatar

#25380 RFC: Field Package Layout
  rfcs/react-components/convergence/field-package-layout.md
Labels: Type: RFC

#25519 feat(react-infobutton): Adding size prop, HCM styles, and updating styles to match design spec
  packages/react-components/react-infobutton/etc/react-infobutton.api.md
  packages/react-components/react-infobutton/src/components/InfoButton/DefaultInfoButtonIcon.tsx
  packages/react-components/react-infobutton/src/components/InfoButton/DefaultInfoButtonIcons.tsx
  packages/react-components/react-infobutton/src/components/InfoButton/InfoButton.types.ts
  packages/react-components/react-infobutton/src/components/InfoButton/useInfoButton.tsx
  packages/react-components/react-infobutton/src/components/InfoButton/useInfoButtonStyles.ts
  packages/react-components/react-infobutton/src/stories/Infobutton/InfoButtonSize.stories.tsx
  packages/react-components/react-infobutton/src/stories/Infobutton/index.stories.tsx
Labels: Fluent UI react-components (v9), Component: InfoButton

#25521 fix: Adding expanded styles for MenuButtons and making various other styling fixes for Button components
  change/@fluentui-react-button-e76c5522-3581-4490-bc4c-6f5867a75f33.json
  packages/react-components/react-button/src/components/MenuButton/useMenuButtonStyles.ts
  packages/react-components/react-button/src/components/ToggleButton/useToggleButtonStyles.ts
  packages/react-components/react-button/stories/MenuButton/MenuButtonAppearance.stories.tsx
Labels: Component: Button, Fluent UI react-components (v9), Component: ToggleButton, Component: SplitButton, Component: CompoundButton, Component: MenuButton

#25594 chore: Clean up Field tests and story imports in preparation of moving to individual packages
  apps/vr-tests-react-components/src/stories/Field.stories.tsx
  change/@fluentui-react-field-3b26a8a7-ed4d-445f-92c9-818f523ef4b4.json
  packages/react-components/react-field/etc/react-field.api.md
  packages/react-components/react-field/src/common/isConformant.ts
  packages/react-components/react-field/src/components/CheckboxField/CheckboxField.test.tsx
  packages/react-components/react-field/src/components/ComboboxField/ComboboxField.test.tsx
  packages/react-components/react-field/src/components/Field/Field.types.ts
  packages/react-components/react-field/src/components/Field/renderField.tsx
  packages/react-components/react-field/src/components/Field/useField.tsx
  packages/react-components/react-field/src/components/Field/useFieldStyles.ts
  packages/react-components/react-field/src/components/InputField/InputField.test.tsx
  packages/react-components/react-field/src/components/ProgressField/ProgressField.test.tsx
  packages/react-components/react-field/src/components/RadioGroupField/RadioGroupField.test.tsx
  packages/react-components/react-field/src/components/SelectField/SelectField.test.tsx
  packages/react-components/react-field/src/components/SliderField/SliderField.test.tsx
  packages/react-components/react-field/src/components/SpinButtonField/SpinButtonField.test.tsx
  packages/react-components/react-field/src/components/SwitchField/SwitchField.test.tsx
  packages/react-components/react-field/src/components/TextareaField/TextareaField.test.tsx
  packages/react-components/react-field/src/stories/CheckboxField/CheckboxFieldDefault.stories.tsx
  packages/react-components/react-field/src/stories/CheckboxField/CheckboxFieldFieldLabel.stories.tsx
  packages/react-components/react-field/src/stories/CheckboxField/index.stories.tsx
  packages/react-components/react-field/src/stories/ComboboxField/ComboboxFieldDefault.stories.tsx
  packages/react-components/react-field/src/stories/ComboboxField/index.stories.tsx
  packages/react-components/react-field/src/stories/Field/FieldDefault.stories.tsx
  packages/react-components/react-field/src/stories/Field/FieldHint.stories.tsx
  packages/react-components/react-field/src/stories/Field/FieldHorizontal.stories.tsx
  packages/react-components/react-field/src/stories/Field/FieldLabel.stories.tsx
  packages/react-components/react-field/src/stories/Field/FieldRequired.stories.tsx
  packages/react-components/react-field/src/stories/Field/FieldSize.stories.tsx
  packages/react-components/react-field/src/stories/Field/FieldValidationState.stories.tsx
  packages/react-components/react-field/src/stories/InputField/InputFieldDefault.stories.tsx
  packages/react-components/react-field/src/stories/InputField/index.stories.tsx
  packages/react-components/react-field/src/stories/ProgressField/ProgressFieldDefault.stories.tsx
  packages/react-components/react-field/src/stories/ProgressField/index.stories.tsx
  packages/react-components/react-field/src/stories/RadioGroupField/RadioGroupFieldDefault.stories.tsx
  packages/react-components/react-field/src/stories/RadioGroupField/index.stories.tsx
  packages/react-components/react-field/src/stories/SelectField/SelectFieldDefault.stories.tsx
  packages/react-components/react-field/src/stories/SelectField/index.stories.tsx
  packages/react-components/react-field/src/stories/SliderField/SliderFieldDefault.stories.tsx
  packages/react-components/react-field/src/stories/SliderField/index.stories.tsx
  packages/react-components/react-field/src/stories/SpinButtonField/SpinButtonFieldDefault.stories.tsx
  packages/react-components/react-field/src/stories/SpinButtonField/index.stories.tsx
  packages/react-components/react-field/src/stories/SwitchField/SwitchFieldDefault.stories.tsx
  packages/react-components/react-field/src/stories/SwitchField/index.stories.tsx
  packages/react-components/react-field/src/stories/TextareaField/TextareaFieldDefault.stories.tsx
  packages/react-components/react-field/src/stories/TextareaField/index.stories.tsx
Labels: Component: Field

#25504 chore(react-dialog): removes unnecessary union case for DialogOpenChangeData
  change/@fluentui-react-dialog-64415a56-f53d-498c-8000-38ce9610b103.json
  packages/react-components/react-dialog/etc/react-dialog.api.md
  packages/react-components/react-dialog/src/components/Dialog/Dialog.types.ts
Labels: Component: Dialog, Fluent UI react-components (v9)

#25569 refactor(scripts): remove deprecated exec abstractions
  scripts/exec-sync.js
  scripts/exec.js
  scripts/lint-staged/eslint.js
  scripts/local-codepen.js
  scripts/tasks/webpack.ts
  scripts/token-pipeline.ts
Labels: Area: Build System

#25537 fix(scripts): make eslint run again on pre-commit
  scripts/lint-staged/eslint-for-package.js
  scripts/lint-staged/eslint.js
Labels: Area: Build System

#25005 feat(react-components): Move AvatarGroup to stable
  change/@fluentui-react-avatar-c0c79f7a-dde2-4496-ac9a-65c54b51633f.json
  change/@fluentui-react-components-4f287412-156a-49e1-af2a-9d4aa2196c56.json
  packages/react-components/react-avatar/README-AvatarGroup.md
  packages/react-components/react-avatar/src/index.ts
  packages/react-components/react-avatar/stories/Avatar/AvatarActive.stories.tsx
  packages/react-components/react-avatar/stories/Avatar/AvatarActiveAppearance.stories.tsx
  packages/react-components/react-avatar/stories/Avatar/AvatarBadge.stories.tsx
  packages/react-components/react-avatar/stories/Avatar/AvatarColorBrand.stories.tsx
  packages/react-components/react-avatar/stories/Avatar/AvatarColorColorful.stories.tsx
  packages/react-components/react-avatar/stories/Avatar/AvatarColorPalette.stories.tsx
  packages/react-components/react-avatar/stories/Avatar/AvatarDefault.stories.tsx
  packages/react-components/react-avatar/stories/Avatar/AvatarIcon.stories.tsx
  packages/react-components/react-avatar/stories/Avatar/AvatarImage.stories.tsx
  packages/react-components/react-avatar/stories/Avatar/AvatarInitials.stories.tsx
  packages/react-components/react-avatar/stories/Avatar/AvatarName.stories.tsx
  packages/react-components/react-avatar/stories/Avatar/AvatarSize.stories.tsx
  packages/react-components/react-avatar/stories/Avatar/AvatarSquare.stories.tsx
  packages/react-components/react-avatar/stories/Avatar/index.stories.tsx
  packages/react-components/react-avatar/stories/AvatarGroup/AvatarGroupDefault.stories.tsx
  packages/react-components/react-avatar/stories/AvatarGroup/AvatarGroupDescription.md
  packages/react-components/react-avatar/stories/AvatarGroup/AvatarGroupIndicator.stories.tsx
  packages/react-components/react-avatar/stories/AvatarGroup/AvatarGroupLayout.stories.tsx
  packages/react-components/react-avatar/stories/AvatarGroup/AvatarGroupSizePie.stories.tsx
  packages/react-components/react-avatar/stories/AvatarGroup/AvatarGroupSizeSpread.stories.tsx
  packages/react-components/react-avatar/stories/AvatarGroup/AvatarGroupSizeStack.stories.tsx
  packages/react-components/react-avatar/stories/AvatarGroup/index.stories.tsx
  packages/react-components/react-components/etc/react-components.api.md
  packages/react-components/react-components/etc/react-components.unstable.api.md
  packages/react-components/react-components/src/index.ts
  packages/react-components/react-components/src/unstable/index.ts
Labels: Fluent UI react-components (v9), Component: AvatarGroup

#25608 Make the aria-level of dialog title writable
  packages/office-ui-fabric-react/src/components/Dialog/Dialog.base.tsx
  packages/office-ui-fabric-react/src/components/Dialog/Dialog.types.ts
  packages/office-ui-fabric-react/src/components/Dialog/DialogContent.base.tsx
  packages/office-ui-fabric-react/src/components/Dialog/DialogContent.types.ts
Labels: Component: Dialog

#25587 docs: refactor Text documentation and add missing guidance for presets/alignment
  change/@fluentui-react-text-a9af2339-7549-4913-aa3f-8542dfffd971.json
  packages/react-components/react-text/stories/Text/Default.stories.tsx
  packages/react-components/react-text/stories/Text/TextAlignment.stories.tsx
  packages/react-components/react-text/stories/Text/TextBestPractices.md
  packages/react-components/react-text/stories/Text/TextFont.stories.tsx
  packages/react-components/react-text/stories/Text/TextPresets.md
  packages/react-components/react-text/stories/Text/TextPresets.stories.tsx
  packages/react-components/react-text/stories/Text/TextSize.stories.tsx
  packages/react-components/react-text/stories/Text/TextTruncate.stories.tsx
  packages/react-components/react-text/stories/Text/TextTypography.stories.tsx
  packages/react-components/react-text/stories/Text/TextWeight.stories.tsx
  packages/react-components/react-text/stories/Text/index.stories.tsx
Labels: Area: Documentation, Component: Text, Fluent UI react-components (v9)

#25615 fix(react-menu): remove unwanted aria attributes on context menu
  change/@fluentui-react-menu-18f45b88-3199-463a-8745-635943d6bccb.json
  packages/react-components/react-menu/etc/react-menu.api.md
  packages/react-components/react-menu/src/components/Menu/Menu.cy.tsx
  packages/react-components/react-menu/src/components/MenuList/MenuList.cy.tsx
  packages/react-components/react-menu/src/components/MenuTrigger/MenuTrigger.types.ts
  packages/react-components/react-menu/src/components/MenuTrigger/useMenuTrigger.ts
  packages/react-components/react-menu/src/testing/selectors.ts
Labels: Component: Menu

#25636 fix(react-northstar): resolve dependency mismatch after v9 release
  packages/fluentui/react-northstar/package.json
Labels: Fluent UI react-northstar

#25640 Moved plot storybook files to package root
  scripts/create-component/plop-templates/stories/{{componentName}}/index.stories.tsx.hbs
  scripts/create-component/plop-templates/stories/{{componentName}}/{{componentName}}BestPractices.md
  scripts/create-component/plop-templates/stories/{{componentName}}/{{componentName}}Default.stories.tsx.hbs
  scripts/create-component/plop-templates/stories/{{componentName}}/{{componentName}}Description.md
Labels: Area: Build System

#25618 Update d3 scale version from 2.0.0 to 4.0.0
  change/@fluentui-react-charting-98c4afee-11da-4877-9ff5-7d8b25eeb092.json
  change/@uifabric-charting-ee87f462-8b77-451d-8dad-1297d1767481.json
  packages/charting/jest.config.js
  packages/charting/package.json
  stub-packages/react-charting/jest.config.js
  stub-packages/react-charting/package.json
  yarn.lock
Labels: Fabric 7

#25613 fix(react-table): supports colSpan property for `th`
  change/@fluentui-react-utilities-4d6f852b-64d8-4458-a485-11c9bf778ac0.json
  packages/react-components/react-utilities/src/utils/properties.ts
Labels: Component: Table

#25611 feat(react-dialog): removes `aria-haspopup`
  change/@fluentui-react-dialog-cfbd0be5-81c5-4351-9f00-8931078078c2.json
  packages/react-components/react-dialog/src/components/Dialog/Dialog.cy.tsx
  packages/react-components/react-dialog/src/components/Dialog/useDialog.ts
  packages/react-components/react-dialog/src/components/Dialog/useDialogContextValues.ts
  packages/react-components/react-dialog/src/components/DialogContent/useDialogContent.ts
  packages/react-components/react-dialog/src/components/DialogSurface/useDialogSurface.ts
  packages/react-components/react-dialog/src/components/DialogTitle/DialogTitle.cy.tsx
  packages/react-components/react-dialog/src/components/DialogTrigger/DialogTrigger.test.tsx
  packages/react-components/react-dialog/src/components/DialogTrigger/__snapshots__/DialogTrigger.test.tsx.snap
  packages/react-components/react-dialog/src/components/DialogTrigger/useDialogTrigger.ts
  packages/react-components/react-dialog/src/contexts/dialogContext.ts
  packages/react-components/react-dialog/src/testing/selectors.ts
  packages/react-components/react-dialog/stories/Dialog/DialogBestPractices.md
  packages/react-components/react-dialog/stories/Dialog/DialogTriggerOutsideDialog.md
  packages/react-components/react-dialog/stories/Dialog/DialogTriggerOutsideDialog.stories.tsx
  packages/react-components/react-dialog/stories/Dialog/DialogWithForm.md
Labels: Area: Accessibility, Component: Dialog

#25633 chore(.storybook): disable telemetry
  .storybook/main.js
  apps/vr-tests-react-components/.storybook/main.js
  apps/vr-tests/.storybook/main.js
  change/@fluentui-web-components-2f82b0ce-653b-4e19-9c68-2c549ccfa3e6.json
  packages/react-examples/.storybook/main.js
  packages/web-components/.storybook/main.js
Labels: Area: Build System, Storybook

#25625 fix: v9 docs Theme link points to correct url
  apps/public-docsite-v9/src/Concepts/Theming.stories.mdx
Labels: Area: Website

#25623 fix: handle null and undefined in @fluentui/utilities shallowCompare
  change/@fluentui-utilities-6d708b55-ae70-43d3-bae5-d23b00ab9b73.json
  packages/utilities/src/object.test.ts
  packages/utilities/src/object.ts
Labels: Package: utilities

#25503 feature(react-menu): improve menu open change data with union types
  change/@fluentui-react-components-ef3d0d2f-e887-444c-90f3-ccd17ce00829.json
  change/@fluentui-react-menu-7fc995f8-caf5-41d7-8486-131d88c39883.json
  packages/react-components/react-components/etc/react-components.api.md
  packages/react-components/react-components/src/index.ts
  packages/react-components/react-menu/etc/react-menu.api.md
  packages/react-components/react-menu/src/components/Menu/Menu.test.tsx
  packages/react-components/react-menu/src/components/Menu/Menu.types.ts
  packages/react-components/react-menu/src/components/Menu/useMenu.tsx
  packages/react-components/react-menu/src/components/MenuItem/MenuItem.test.tsx
  packages/react-components/react-menu/src/components/MenuItem/useMenuItem.tsx
  packages/react-components/react-menu/src/components/MenuPopover/useMenuPopover.ts
  packages/react-components/react-menu/src/components/MenuTrigger/useMenuTrigger.ts
  packages/react-components/react-menu/src/index.ts
Labels: Fluent UI react-components (v9), Component: Menu

#25669 Tree component scaffolding
  packages/react-components/react-tree/.storybook/main.js
  packages/react-components/react-tree/.storybook/preview.js
  packages/react-components/react-tree/.storybook/tsconfig.json
  packages/react-components/react-tree/etc/react-tree.api.md
  packages/react-components/react-tree/package.json
  packages/react-components/react-tree/src/Tree.ts
  packages/react-components/react-tree/src/TreeBranch.ts
  packages/react-components/react-tree/src/TreeLeaf.ts
  packages/react-components/react-tree/src/components/Tree/Tree.test.tsx
  packages/react-components/react-tree/src/components/Tree/Tree.tsx
  packages/react-components/react-tree/src/components/Tree/Tree.types.ts
  packages/react-components/react-tree/src/components/Tree/__snapshots__/Tree.test.tsx.snap
  packages/react-components/react-tree/src/components/Tree/index.ts
  packages/react-components/react-tree/src/components/Tree/renderTree.tsx
  packages/react-components/react-tree/src/components/Tree/useTree.ts
  packages/react-components/react-tree/src/components/Tree/useTreeStyles.ts
  packages/react-components/react-tree/src/components/TreeBranch/TreeBranch.test.tsx
  packages/react-components/react-tree/src/components/TreeBranch/TreeBranch.tsx
  packages/react-components/react-tree/src/components/TreeBranch/TreeBranch.types.ts
  packages/react-components/react-tree/src/components/TreeBranch/__snapshots__/TreeBranch.test.tsx.snap
  packages/react-components/react-tree/src/components/TreeBranch/index.ts
  packages/react-components/react-tree/src/components/TreeBranch/renderTreeBranch.tsx
  packages/react-components/react-tree/src/components/TreeBranch/useTreeBranch.ts
  packages/react-components/react-tree/src/components/TreeBranch/useTreeBranchStyles.ts
  packages/react-components/react-tree/src/components/TreeLeaf/TreeLeaf.test.tsx
  packages/react-components/react-tree/src/components/TreeLeaf/TreeLeaf.tsx
  packages/react-components/react-tree/src/components/TreeLeaf/TreeLeaf.types.ts
  packages/react-components/react-tree/src/components/TreeLeaf/__snapshots__/TreeLeaf.test.tsx.snap
  packages/react-components/react-tree/src/components/TreeLeaf/index.ts
  packages/react-components/react-tree/src/components/TreeLeaf/renderTreeLeaf.tsx
  packages/react-components/react-tree/src/components/TreeLeaf/useTreeLeaf.ts
  packages/react-components/react-tree/src/components/TreeLeaf/useTreeLeafStyles.ts
  packages/react-components/react-tree/src/index.ts
  packages/react-components/react-tree/src/testing/isConformant.ts
  packages/react-components/react-tree/stories/Tree/TreeBestPractices.md
  packages/react-components/react-tree/stories/Tree/TreeDefault.stories.tsx
  packages/react-components/react-tree/stories/Tree/TreeDescription.md
  packages/react-components/react-tree/stories/Tree/index.stories.tsx
  packages/react-components/react-tree/stories/TreeBranch/TreeBranchBestPractices.md
  packages/react-components/react-tree/stories/TreeBranch/TreeBranchDefault.stories.tsx
  packages/react-components/react-tree/stories/TreeBranch/TreeBranchDescription.md
  packages/react-components/react-tree/stories/TreeBranch/index.stories.tsx
  packages/react-components/react-tree/stories/TreeLeaf/TreeLeafBestPractices.md
  packages/react-components/react-tree/stories/TreeLeaf/TreeLeafDefault.stories.tsx
  packages/react-components/react-tree/stories/TreeLeaf/TreeLeafDescription.md
  packages/react-components/react-tree/stories/TreeLeaf/index.stories.tsx
  packages/react-components/react-tree/tsconfig.json
  packages/react-components/react-tree/tsconfig.lib.json
Labels: Fluent UI react-components (v9)

#25661 chore(react-components): align storybook configuration with rest of the suite
  change/@fluentui-react-components-86bce013-cba7-4aa0-90f0-c34579c716d4.json
  packages/react-components/react-components/.storybook/main.js
  packages/react-components/react-components/.storybook/manager-head.html
  packages/react-components/react-components/.storybook/manager.js
  packages/react-components/react-components/.storybook/preview.js
  packages/react-components/react-components/.storybook/theme.js
  packages/react-components/react-components/public/favicon-192.ico
  packages/react-components/react-components/public/favicon.ico
  packages/react-components/react-components/public/fluent.svg
  packages/react-components/react-components/public/fluentui-banner2.jpg
  scripts/storybook/utils.spec.js
Labels: Area: Build System, Fluent UI react-components (v9), Storybook

#25677 fix(scripts): copy amd files for ts-solution projects if they exist
  scripts/tasks/copy.ts
Labels: Type: Bug :bug:, Area: Build System, Fluent UI react-components (v9)

#25662 feat: add toolbar CY tests
  apps/vr-tests-react-components/package.json
  apps/vr-tests-react-components/src/stories/Toolbar/Toolbar.stories.tsx
  apps/vr-tests-react-components/src/stories/Toolbar/utils.ts
  change/@fluentui-react-toolbar-64b1b248-6519-422a-81c5-b40d63309f72.json
  packages/react-components/react-toolbar/src/components/Toolbar/Toolbar.cy.tsx
Labels: Component: Toolbar

#25681 docs(public-docsite-v9): Split Basic and NextJS setups into two pages
  apps/public-docsite-v9/.storybook/preview.js
  apps/public-docsite-v9/src/Concepts/SSR/Nextjs.stories.mdx
  apps/public-docsite-v9/src/Concepts/SSR/Portals.stories.mdx
  apps/public-docsite-v9/src/Concepts/SSR/SSR.stories.mdx
Labels: Area: Website, Fluent UI react-components (v9), Area: SSR

#25520 GroupedListV2: update aria-posinset and aria-rowindex
  apps/public-docsite/src/SiteDefinition/SiteDefinition.pages/Controls/web.tsx
  apps/public-docsite/src/pages/Controls/DetailsListPage/DetailsListGroupedV2Page.doc.ts
  apps/public-docsite/src/pages/Controls/DetailsListPage/DetailsListGroupedV2Page.tsx
  apps/public-docsite/src/pages/Controls/DetailsListPage/DetailsListLargeGroupedV2Page.doc.ts
  apps/public-docsite/src/pages/Controls/DetailsListPage/DetailsListLargeGroupedV2Page.tsx
  change/@fluentui-react-8cc34e48-8e55-4e4c-9ddb-f1f9cd3b0f3f.json
  packages/react-examples/src/react/DetailsList/DetailsList.GroupedV2.Example.tsx
  packages/react-examples/src/react/DetailsList/DetailsList.GroupedV2.Large.Example.tsx
  packages/react-examples/src/react/DetailsList/DetailsList.doc.tsx
  packages/react/etc/react.api.md
  packages/react/src/components/DetailsList/__snapshots__/DetailsListV2.test.tsx.snap
  packages/react/src/components/GroupedList/GroupedListV2.base.tsx
  packages/react/src/components/GroupedList/GroupedListV2.tsx
  packages/react/src/components/GroupedList/GroupedListV2.types.ts
Labels: Area: Accessibility, Component: GroupedList, PR: API Modified

#25685 fix: Making Stack properly render non-ReactElement children
  change/@fluentui-react-164cba30-514e-4d2d-b6b7-d65448342050.json
  packages/react/src/components/Stack/Stack.tsx
Labels: Component: Stack, Fluent UI react (v8)

#25626 feat(react-persona): Adding `size` and `textAlignment` props and updating styles
  apps/vr-tests-react-components/src/stories/Persona.stories.tsx
  change/@fluentui-react-persona-0a00e92d-e0be-423c-8188-646e3f6da117.json
  packages/react-components/react-persona/etc/react-persona.api.md
  packages/react-components/react-persona/src/components/Persona/Persona.types.ts
  packages/react-components/react-persona/src/components/Persona/usePersona.ts
  packages/react-components/react-persona/src/components/Persona/usePersonaStyles.ts
  packages/react-components/react-persona/src/stories/Persona/PersonaAvatarSize.stories.tsx
  packages/react-components/react-persona/src/stories/Persona/PersonaPresenceSize.stories.tsx
  packages/react-components/react-persona/src/stories/Persona/PersonaSizingScaled.stories.tsx
  packages/react-components/react-persona/src/stories/Persona/PersonaTextAlignment.stories.tsx
  packages/react-components/react-persona/src/stories/Persona/PersonaTextPosition.stories.tsx
  packages/react-components/react-persona/src/stories/Persona/index.stories.tsx
Labels: Component: Persona, Fluent UI react-components (v9)

#25575 feat(scripts): remove @internal stripping and enable no deps build needed for api generation
  scripts/api-extractor/api-extractor.common.v-next.json
  scripts/tasks/api-extractor.ts
  scripts/tasks/ts.ts
  scripts/tasks/utils.spec.ts
  scripts/tasks/utils.ts
  tools/generators/migrate-converged-pkg/index.spec.ts
  tools/generators/migrate-converged-pkg/index.ts
Labels: Area: Build System

#25686 feat(react-components): Add InfoButton to unstable exports
  change/@fluentui-react-components-b533a13e-c80c-4f9f-a244-f2f6670310b3.json
  change/@fluentui-react-infobutton-409e40d3-73fc-4a7f-8310-df1b2db9abc3.json
  packages/react-components/react-components/etc/react-components.unstable.api.md
  packages/react-components/react-components/package.json
  packages/react-components/react-components/src/unstable/index.ts
  packages/react-components/react-infobutton/README.md
  packages/react-components/react-infobutton/package.json
  packages/react-components/react-infobutton/src/stories/Infobutton/InfoButtonDescription.md
Labels: Fluent UI react-components (v9), Component: InfoButton

#25599 chore: Update Badge colors with new mappings from design
  change/@fluentui-react-badge-a0e4dd86-aeab-4466-8ea6-ef0844f16147.json
  packages/react-components/react-badge/src/components/Badge/useBadgeStyles.ts
Labels: Component: Badge

#25641 fix: FloatingPeoplePicker roles should be listbox/option
  change/@fluentui-react-21d08d17-38f6-4bdf-8d0e-383125edda19.json
  packages/react/src/components/FloatingPicker/BaseFloatingPicker.tsx
  packages/react/src/components/FloatingPicker/Suggestions/SuggestionsCore.tsx
Labels: Component: FloatingPicker

#25638 fix: Pickers limit keyboard nav to resultsMaximumNumber
  change/@fluentui-react-bfd757de-4aad-4e5a-a85d-943c1e0b6859.json
  packages/react/etc/react.api.md
  packages/react/src/components/pickers/BasePicker.tsx
  packages/react/src/components/pickers/Suggestions/SuggestionsController.ts
Labels: Component: Pickers, PR: API Modified

#25654 Allow focus navigation with tab key in donut chart
  change/@fluentui-react-charting-ccfd96da-8e65-4550-b18b-3c45ca241de3.json
  packages/react-charting/src/components/DonutChart/DonutChart.base.tsx
Labels: Package: charting

#25684 fix: Allow PresenceBadge's icon to be overridden by the user
  change/@fluentui-react-badge-b015aa83-a8a1-4d2d-b21e-6c043231e03f.json
  packages/react-components/react-avatar/stories/Avatar/AvatarBadgeIcon.stories.tsx
  packages/react-components/react-avatar/stories/Avatar/index.stories.tsx
  packages/react-components/react-badge/src/components/PresenceBadge/presenceIcons.ts
  packages/react-components/react-badge/src/components/PresenceBadge/usePresenceBadge.tsx
Labels: Fluent UI react-components (v9), Component: PresenceBadge

#25433 Fixes #23633 - Use Object.assign to reduce loop length
  change/@fluentui-react-theme-6b37e9cc-8f6e-4c94-b79d-d42e1bddab74.json
  packages/react-components/react-theme/src/alias/darkColorPalette.ts
  packages/react-components/react-theme/src/alias/highContrastColorPalette.ts
  packages/react-components/react-theme/src/alias/lightColorPalette.ts
  packages/react-components/react-theme/src/alias/teamsDarkColorPalette.ts
Labels: PR: API Modified

#25383 Azure Theme: Danger button and indeterminate checkbox
  change/@fluentui-azure-themes-0bc53ddd-4843-499b-9429-8b058dba3f7e.json
  packages/azure-themes/src/azure/AzureColors.ts
  packages/azure-themes/src/azure/AzureThemeDark.ts
  packages/azure-themes/src/azure/AzureThemeHighContrastDark.ts
  packages/azure-themes/src/azure/AzureThemeHighContrastLight.ts
  packages/azure-themes/src/azure/AzureThemeLight.ts
  packages/azure-themes/src/azure/Constants.ts
  packages/azure-themes/src/azure/IAzureSemanticColors.ts
  packages/azure-themes/src/azure/IExtendedSemanticColors.ts
  packages/azure-themes/src/azure/styles/Checkbox.styles.ts
  packages/azure-themes/src/azure/styles/DefaultButton.styles.ts
  packages/azure-themes/src/azure/styles/PrimaryButton.styles.ts
  packages/react-examples/src/azure-themes/stories/Themes/Themes.stories.tsx
Labels: Package: azure-themes

#25718 fix(loadWorkspaceAddon): Create dist path recursively
  scripts/storybook/utils.js
Labels: Area: Build System

#25602 feat: add allowFreeInput to v8 ComboBox to allow typing while the combobox is in focus
  change/@fluentui-react-a50694ba-a465-4888-a8e1-81e560c8d563.json
  packages/react-examples/src/react/ComboBox/ComboBox.FreeInput.Example.tsx
  packages/react-examples/src/react/ComboBox/ComboBox.doc.tsx
  packages/react/etc/react.api.md
  packages/react/src/components/ComboBox/ComboBox.test.tsx
  packages/react/src/components/ComboBox/ComboBox.tsx
  packages/react/src/components/ComboBox/ComboBox.types.ts
Labels: Component: ComboBox, PR: API Modified

#25499 fix: ContextualMenu - deprecate componentRef
  change/@fluentui-react-11ee1640-4faf-4bb4-b3b4-902154375216.json
  packages/react/etc/react.api.md
  packages/react/src/components/ContextualMenu/ContextualMenu.types.ts
Labels: Component: ContextualMenu, PR: API Modified

#25711 fix: MenuDivider thickness should be `strokeWidthThin`
  change/@fluentui-react-menu-13a26a1d-d2f6-4a55-9113-a1a7996739d1.json
  packages/react-components/react-menu/src/components/MenuDivider/useMenuDividerStyles.ts
Labels: Component: Menu

#25616 Fix wrong narration in browse mode
  change/@fluentui-react-charting-35e5b80b-88cd-4032-9bfe-42cdeca3337c.json
  packages/react-charting/src/components/DonutChart/Arc/Arc.tsx
  packages/react-charting/src/components/DonutChart/__snapshots__/DonutChart.test.tsx.snap
  packages/react-charting/src/components/GroupedVerticalBarChart/GroupedVerticalBarChart.base.tsx
  packages/react-charting/src/components/GroupedVerticalBarChart/__snapshots__/GroupedVerticalBarChart.test.tsx.snap
  packages/react-charting/src/components/HeatMapChart/HeatMapChart.base.tsx
  packages/react-charting/src/components/HeatMapChart/__snapshots__/HeatMapChart.test.tsx.snap
  packages/react-charting/src/components/HorizontalBarChart/HorizontalBarChart.base.tsx
  packages/react-charting/src/components/HorizontalBarChart/__snapshots__/HorizontalBarChart.test.tsx.snap
  packages/react-charting/src/components/StackedBarChart/MultiStackedBarChart.base.tsx
  packages/react-charting/src/components/StackedBarChart/StackedBarChart.base.tsx
  packages/react-charting/src/components/StackedBarChart/__snapshots__/MultiStackedBarChart.test.tsx.snap
  packages/react-charting/src/components/StackedBarChart/__snapshots__/StackedBarChart.test.tsx.snap
  packages/react-charting/src/components/VerticalBarChart/VerticalBarChart.base.tsx
  packages/react-charting/src/components/VerticalBarChart/__snapshots__/VerticalBarChart.test.tsx.snap
  packages/react-charting/src/components/VerticalStackedBarChart/VerticalStackedBarChart.base.tsx
  packages/react-charting/src/components/VerticalStackedBarChart/__snapshots__/VerticalStackedBarChart.test.tsx.snap
Labels: Package: charting

#25746 fix(v7 codesandbox): fix broken codesandbox CI
  .codesandbox/ci.json
Labels: Fabric 7

#25580 fix: Field should use aria-describedby instead of aria-errormessage
  change/@fluentui-react-field-bd3c7086-9be2-4721-9b99-31be563f45a3.json
  packages/react-components/react-field/etc/react-field.api.md
  packages/react-components/react-field/src/components/Field/Field.test.tsx
  packages/react-components/react-field/src/components/Field/Field.types.ts
  packages/react-components/react-field/src/components/Field/useField.tsx
  packages/react-components/react-progress/src/components/ProgressField/ProgressField.test.tsx
Labels: Fluent UI react-components (v9), Component: Field

#25757 Fluent v7 cherry pick: add popupProps to Callout
  change/office-ui-fabric-react-9292c1f9-100e-417b-87ec-23be45433af2.json
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/Callout/Callout.test.tsx
  packages/office-ui-fabric-react/src/components/Callout/Callout.types.ts
  packages/office-ui-fabric-react/src/components/Callout/CalloutContent.base.tsx
Labels: Component: Callout, PR: API Modified, Fabric 7

#25727 chore: Replace use of fontSize tokens with typographyStyles in input controls
  change/@fluentui-react-combobox-9a7d0c49-3100-4295-a3c5-4a8a3095fc80.json
  change/@fluentui-react-input-6fe37858-c97b-497a-97e4-5e16767361bf.json
  change/@fluentui-react-select-5be7fa6b-231e-4073-a8ee-b288f6d0e4ef.json
  change/@fluentui-react-textarea-b18f2623-cf8d-4372-a75d-ceb940e78e1e.json
  packages/react-components/react-combobox/src/components/Combobox/useComboboxStyles.ts
  packages/react-components/react-combobox/src/components/Dropdown/useDropdownStyles.ts
  packages/react-components/react-input/src/components/Input/useInputStyles.ts
  packages/react-components/react-select/src/components/Select/useSelectStyles.ts
  packages/react-components/react-textarea/src/components/Textarea/useTextareaStyles.ts
Labels: Area: Slots/Tokens Conversion

#25726 [v8] fix: TooltipHost calls onRenderContent without passing props
  change/@fluentui-react-4e35ca8e-0664-4585-9bba-af7c3bd689eb.json
  packages/react/src/components/Tooltip/TooltipHost.base.tsx
  packages/react/src/components/Tooltip/TooltipHost.test.tsx
Labels: Component: Tooltip, Fluent UI react (v8)

#25349 chore: fix issues in N* perf test
  packages/fluentui/perf/src/index.tsx
  scripts/webpack/webpack.config.perf.ts
Labels: Fluent UI react-northstar

#25759 fix(Button): Revert margin fix for Safari to fix Stack regression
  change/@fluentui-react-b1886c50-127e-4b1f-81c8-81013fd2c50a.json
  packages/react-experiments/src/components/MicroFeedback/__snapshots__/MicroFeedback.test.tsx.snap
  packages/react-experiments/src/components/Pagination/__snapshots__/Pagination.test.tsx.snap
  packages/react-experiments/src/components/SelectedItemsList/SelectedPeopleList/__snapshots__/SelectedPeopleList.test.tsx.snap
  packages/react-experiments/src/components/UnifiedPicker/UnifiedPeoplePicker/__snapshots__/UnifiedPeoplePicker.test.tsx.snap
  packages/react/src/components/Breadcrumb/__snapshots__/Breadcrumb.test.tsx.snap
  packages/react/src/components/Button/BaseButton.styles.ts
  packages/react/src/components/Button/BaseButton.tsx
  packages/react/src/components/Button/__snapshots__/Button.deprecated.test.tsx.snap
  packages/react/src/components/Button/__snapshots__/Button.test.tsx.snap
  packages/react/src/components/ComboBox/__snapshots__/ComboBox.test.tsx.snap
  packages/react/src/components/CommandBar/__snapshots__/CommandBar.deprecated.test.tsx.snap
  packages/react/src/components/CommandBar/__snapshots__/CommandBar.test.tsx.snap
  packages/react/src/components/ContextualMenu/__snapshots__/ContextualMenu.test.tsx.snap
  packages/react/src/components/Dialog/__snapshots__/Dialog.deprecated.test.tsx.snap
  packages/react/src/components/Dropdown/__snapshots__/Dropdown.test.tsx.snap
  packages/react/src/components/Facepile/__snapshots__/Facepile.test.tsx.snap
  packages/react/src/components/Nav/__snapshots__/Nav.test.tsx.snap
  packages/react/src/components/Panel/__snapshots__/Panel.test.tsx.snap
  packages/react/src/components/Pivot/__snapshots__/Pivot.deprecated.test.tsx.snap
  packages/react/src/components/Pivot/__snapshots__/Pivot.test.tsx.snap
  packages/react/src/components/SpinButton/__snapshots__/SpinButton.test.tsx.snap
  packages/react/src/components/SwatchColorPicker/__snapshots__/SwatchColorPicker.test.tsx.snap
  packages/react/src/components/TeachingBubble/__snapshots__/TeachingBubble.deprecated.test.tsx.snap
  packages/react/src/components/TeachingBubble/__snapshots__/TeachingBubble.test.tsx.snap
  packages/react/src/components/pickers/PeoplePicker/__snapshots__/PeoplePicker.test.tsx.snap
  packages/react/src/components/pickers/Suggestions/__snapshots__/Suggestions.test.tsx.snap
  packages/react/src/components/pickers/TagPicker/__snapshots__/TagItem.test.tsx.snap
  packages/react/src/components/pickers/TagPicker/__snapshots__/TagPicker.test.tsx.snap
Labels: Component: Button, Component: Stack, Fluent UI react (v8)

#25752 Cherry pick browse mode wrong narration fix
  change/@uifabric-charting-27f35641-cc9f-4d2b-aa5e-4dbc3239d6ba.json
  packages/charting/src/components/DonutChart/Arc/Arc.tsx
  packages/charting/src/components/DonutChart/__snapshots__/DonutChart.test.tsx.snap
  packages/charting/src/components/GroupedVerticalBarChart/GroupedVerticalBarChart.base.tsx
  packages/charting/src/components/GroupedVerticalBarChart/__snapshots__/GroupedVerticalBarChart.test.tsx.snap
  packages/charting/src/components/HeatMapChart/HeatMapChart.base.tsx
  packages/charting/src/components/HeatMapChart/__snapshots__/HeatMapChart.test.tsx.snap
  packages/charting/src/components/HorizontalBarChart/HorizontalBarChart.base.tsx
  packages/charting/src/components/StackedBarChart/MultiStackedBarChart.base.tsx
  packages/charting/src/components/StackedBarChart/StackedBarChart.base.tsx
  packages/charting/src/components/StackedBarChart/__snapshots__/MultiStackedBarChart.test.tsx.snap
  packages/charting/src/components/StackedBarChart/__snapshots__/StackedBarChart.test.tsx.snap
  packages/charting/src/components/VerticalBarChart/VerticalBarChart.base.tsx
  packages/charting/src/components/VerticalStackedBarChart/VerticalStackedBarChart.base.tsx
Labels: Package: charting, Fabric 7

#25557 fix: Picker infinite loop on itemLimit=0 (#25550)
  change/@fluentui-react-f52f6ff4-6134-461e-adfb-0138a31c60d8.json
  packages/react/src/components/pickers/BasePicker.tsx
Labels: Component: Pickers

#25770 docs(react-persona): Update docs to match implementation
  change/@fluentui-react-persona-6fceaf16-fa11-4bec-905a-67835879b70d.json
  packages/react-components/react-persona/docs/MIGRATION.md
  packages/react-components/react-persona/docs/Spec.md
  packages/react-components/react-persona/src/components/Persona/Persona.types.ts
Labels: Component: Persona, Fluent UI react-components (v9)

#25741 fix(Popover): always invoke onOpenChange regardless of prev state
  change/@fluentui-react-popover-b28938cd-f8d9-4551-8695-cead5e5bbff3.json
  packages/react-components/react-popover/src/components/Popover/usePopover.ts
Labels: Ready for VR

#25754 perf: make ts-minbar test compilation faster and asset preparation simpler
  apps/ts-minbar-test-react-components/README.md
  apps/ts-minbar-test-react-components/babel.config.js
  apps/ts-minbar-test-react-components/files/src/index.tsx
  apps/ts-minbar-test-react-components/files/tsconfig.json
  apps/ts-minbar-test-react-components/package.json
  apps/ts-minbar-test-react-components/src/index.ts
  apps/ts-minbar-test-react-components/tsconfig.json
  apps/ts-minbar-test-react/README.md
  apps/ts-minbar-test-react/babel.config.js
  apps/ts-minbar-test-react/files/src/index.tsx
  apps/ts-minbar-test-react/files/tsconfig.json
  apps/ts-minbar-test-react/package.json
  apps/ts-minbar-test-react/src/index.ts
  apps/ts-minbar-test-react/tsconfig.json
  packages/fluentui/projects-test/assets/typings/src/index.tsx
  packages/fluentui/projects-test/src/typings.ts
  scripts/projects-test/utils.ts
Labels: Area: Build System, Area: Typescript

#25781 chore(react-tree): scaffolds TreeItemLayout
  packages/react-components/react-tree/etc/react-tree.api.md
  packages/react-components/react-tree/src/TreeItemLayout.ts
  packages/react-components/react-tree/src/components/TreeItemLayout/TreeItemLayout.test.tsx
  packages/react-components/react-tree/src/components/TreeItemLayout/TreeItemLayout.tsx
  packages/react-components/react-tree/src/components/TreeItemLayout/TreeItemLayout.types.ts
  packages/react-components/react-tree/src/components/TreeItemLayout/__snapshots__/TreeItemLayout.test.tsx.snap
  packages/react-components/react-tree/src/components/TreeItemLayout/index.ts
  packages/react-components/react-tree/src/components/TreeItemLayout/renderTreeItemLayout.tsx
  packages/react-components/react-tree/src/components/TreeItemLayout/useTreeItemLayout.ts
  packages/react-components/react-tree/src/components/TreeItemLayout/useTreeItemLayoutStyles.ts
  packages/react-components/react-tree/src/index.ts
Labels: Fluent UI react-components (v9), Component: Tree

#25758 feat: improve react-18 tests
  apps/react-18-tests-v8/.eslintrc.json
  apps/react-18-tests-v8/jest.config.js
  apps/react-18-tests-v8/package.json
  apps/react-18-tests-v8/src/App.tsx
  apps/react-18-tests-v8/src/components/ContextualMenu/ContextualMenu.e2e.tsx
  apps/react-18-tests-v8/src/components/ContextualMenu/ContextualMenu.test.tsx
  apps/react-18-tests-v8/src/components/ContextualMenu/ContextualMenuExample.cy.tsx
  apps/react-18-tests-v8/src/components/ContextualMenu/ContextualMenuExample.test.tsx
  apps/react-18-tests-v8/tsconfig.app.json
  apps/react-18-tests-v8/tsconfig.cy.json
  apps/react-18-tests-v8/webpack.config.js
  apps/react-18-tests-v9/.eslintrc.json
  apps/react-18-tests-v9/README.md
  apps/react-18-tests-v9/package.json
  apps/react-18-tests-v9/src/App.cy.tsx
  apps/react-18-tests-v9/src/App.test.tsx
  apps/react-18-tests-v9/src/App.tsx
  apps/react-18-tests-v9/src/components/.gitkeep
  apps/react-18-tests-v9/src/components/FluentProvider/FluentProvider.e2e.tsx
  apps/react-18-tests-v9/tsconfig.app.json
  apps/react-18-tests-v9/tsconfig.cy.json
  apps/react-18-tests-v9/tsconfig.react-compat-check.json
  scripts/cypress/cypress.config.ts
  yarn.lock
Labels: Fluent UI react-components (v9), Fluent UI react (v8), React 18

#25679 chore(react-migration-v8-v9): use same build process/setup as v9/ts-solution packages
  change/@fluentui-react-migration-v8-v9-4bd9cb49-ba9c-4cd6-b0ea-bdca79750a22.json
  packages/react-migration-v8-v9/config/api-extractor.json
  packages/react-migration-v8-v9/src/stories/DefaultButtonShim/index.stories.tsx
  packages/react-migration-v8-v9/tsconfig.lib.json
  scripts/just.config.ts
  scripts/tasks/copy.ts
Labels: Area: Build System, Fluent UI react-components (v9), Fluent UI react (v8)

#25786 feat: remove react-storybook and replace its functionality via standard react-storybook-addon package
  .github/CODEOWNERS
  .storybook/preview.js
  packages/react-components/react-storybook-addon/etc/react-storybook-addon.api.md
  packages/react-components/react-storybook-addon/src/components/ReactStrictMode.tsx
  packages/react-components/react-storybook-addon/src/constants.ts
  packages/react-components/react-storybook-addon/src/decorators/withReactStrictMode.tsx
  packages/react-components/react-storybook-addon/src/hooks.ts
  packages/react-components/react-storybook-addon/src/preset/manager.ts
  packages/react-components/react-storybook-addon/src/preset/preview.ts
  packages/react-components/react-storybook/.babelrc.json
  packages/react-components/react-storybook/.eslintrc.json
  packages/react-components/react-storybook/.npmignore
  packages/react-components/react-storybook/CHANGELOG.json
  packages/react-components/react-storybook/CHANGELOG.md
  packages/react-components/react-storybook/LICENSE
  packages/react-components/react-storybook/README.md
  packages/react-components/react-storybook/config/api-extractor.json
  packages/react-components/react-storybook/config/tests.js
  packages/react-components/react-storybook/etc/react-storybook.api.md
  packages/react-components/react-storybook/jest.config.js
  packages/react-components/react-storybook/just.config.ts
  packages/react-components/react-storybook/package.json
  packages/react-components/react-storybook/src/decorators/index.ts
  packages/react-components/react-storybook/src/decorators/withFluentProvider.tsx
  packages/react-components/react-storybook/src/decorators/withStrictMode.tsx
  packages/react-components/react-storybook/src/index.test.ts
  packages/react-components/react-storybook/src/index.ts
  packages/react-components/react-storybook/src/knobs/useFluentTheme.ts
  packages/react-components/react-storybook/src/knobs/useStrictMode.ts
  packages/react-components/react-storybook/tsconfig.json
  packages/react-components/react-storybook/tsconfig.lib.json
  packages/react-components/react-storybook/tsconfig.spec.json
  tsconfig.base.json
  workspace.json
Labels: Area: Build System

#25806 fix(tools): bump northstar packages v9 deps on dep mismatch resolution
  tools/generators/dependency-mismatch/index.spec.ts
  tools/generators/dependency-mismatch/index.ts
  tools/utils.ts
Labels: Area: Build System

#25822 fix(react-avatar): AvatarGroup's pie layout places inline items correctly in rtl
  apps/vr-tests-react-components/src/stories/AvatarGroup.stories.tsx
  change/@fluentui-react-avatar-10737738-e331-4d53-9838-22a57b7fbd90.json
  packages/react-components/react-avatar/src/components/AvatarGroupItem/useAvatarGroupItemStyles.ts
Labels: Fluent UI react-components (v9), Component: Avatar, Component: AvatarGroup, Component: AvatarGroupItem

#25823 docs(rfcs): Update recipes rfc with chosen option and add more details
  rfcs/react-components/components/recipes.md
Labels: Fluent UI react-components (v9), Type: RFC, Area: Recipes

#25836 fix: Allow data-selection-disabled to be respected by DetailsRow
  change/@fluentui-react-5ad3027a-0dd8-4a63-bb67-aa14172f043f.json
  packages/react/src/components/DetailsList/DetailsRow.base.tsx
Labels: Component: DetailsList, Fluent UI react (v8)

#25216 chore: refactor styles for Button
  change/@fluentui-react-button-9d2cbb68-9215-4318-ad2a-99ab636a11cd.json
  change/@fluentui-react-components-b61e9cf0-13d7-4738-883a-48c34d57d26e.json
  change/@fluentui-react-tabster-d0eee5e7-8825-41d7-a50f-2737705f2e09.json
  packages/react-components/react-button/src/components/Button/useButtonStyles.ts
  packages/react-components/react-components/etc/react-components.api.md
  packages/react-components/react-components/src/index.ts
  packages/react-components/react-tabster/etc/react-tabster.api.md
  packages/react-components/react-tabster/src/focus/createCustomFocusIndicatorStyle.ts
Labels: Component: Button, Fluent UI react-components (v9), Ready for VR

#25842 Support single point in area chart
  change/@fluentui-react-charting-806735ad-55f4-4170-a545-c3c5a84e8701.json
  packages/react-charting/src/components/AreaChart/AreaChart.base.tsx
  packages/react-charting/src/components/AreaChart/AreaChart.test.tsx
  packages/react-charting/src/components/AreaChart/__snapshots__/AreaChart.test.tsx.snap
Labels: Package: charting

#25738 refactor(scripts): encapsulate v0 and v8 tooling within its domain boundaries
  apps/ts-minbar-test-react-components/src/index.ts
  apps/ts-minbar-test-react/src/index.ts
  gulpfile.ts
  packages/fluentui/perf-test-northstar/tasks/fluentPerfRegressions.ts
  packages/fluentui/projects-test/assets/cra/src/App.tsx
  packages/fluentui/projects-test/assets/nextjs/pages/index.js
  packages/fluentui/projects-test/src/createReactApp.ts
  packages/fluentui/projects-test/src/nextjs.ts
  packages/fluentui/projects-test/src/rollup.ts
  packages/fluentui/projects-test/src/typings.ts
  scripts/dangerjs/checkChangelog.ts
  scripts/dangerjs/checkStorybookVersions.ts
  scripts/dangerjs/detectNonApprovedDependencies/index.ts
  scripts/dangerjs/detectNonApprovedDependencies/utils/getRuntimeDependencies.ts
  scripts/dangerjs/detectNonApprovedDependencies/utils/getVersionConstraints.ts
  scripts/dangerjs/utils.ts
  scripts/gulp/config.ts
  scripts/gulp/plugins/gulp-component-menu-behaviors.ts
  scripts/gulp/plugins/gulp-cypress.ts
  scripts/gulp/plugins/gulp-doctoc.ts
  scripts/gulp/plugins/gulp-jest.ts
  scripts/gulp/plugins/gulp-react-docgen.ts
  scripts/gulp/plugins/gulp-webpack.ts
  scripts/gulp/plugins/util/getRelativePathToSourceFile.ts
  scripts/gulp/tasks/bundle.ts
  scripts/gulp/tasks/component-info.ts
  scripts/gulp/tasks/docs.ts
  scripts/gulp/tasks/perf.ts
  scripts/gulp/tasks/stats.ts
  scripts/gulp/tasks/test-circulars/config.ts
  scripts/gulp/tasks/test-circulars/index.ts
  scripts/gulp/tasks/test-circulars/utils.ts
  scripts/gulp/tasks/test-dependencies/index.ts
  scripts/gulp/tasks/test-dependencies/utils.ts
  scripts/gulp/tasks/test-e2e.ts
  scripts/gulp/tasks/vr-build.ts
  scripts/gulp/tasks/vr-test.ts
  scripts/gulp/webpack/webpack.config.e2e.ts
  scripts/gulp/webpack/webpack.config.perf.ts
  scripts/gulp/webpack/webpack.config.stats.ts
  scripts/gulp/webpack/webpack.config.ts
  scripts/jest/index.js
  scripts/lernaAliasNorthstar.js
  scripts/monorepo/get-lerna-aliases.js
  scripts/monorepo/getDefaultEnvironmentVars.js
  scripts/monorepo/index.d.ts
  scripts/monorepo/index.js
  scripts/monorepo/utils.js
  scripts/projects-test/packPackages.ts
  scripts/projects-test/performBrowserTest.ts
  scripts/projects-test/utils.ts
  scripts/screener/screener.config.js
  scripts/utils/index.d.ts
  scripts/utils/index.js
  scripts/utils/sh.js
  scripts/webpack/webpack-resources.js
Labels: Area: Build System

#25446 chore: prepare release react-northstar 0.65.0
  apps/public-docsite-v9/package.json
  packages/fluentui/CHANGELOG.md
  packages/fluentui/ability-attributes/package.json
  packages/fluentui/accessibility/package.json
  packages/fluentui/circulars-test/package.json
  packages/fluentui/code-sandbox/package.json
  packages/fluentui/digest/package.json
  packages/fluentui/docs-components/package.json
  packages/fluentui/docs/package.json
  packages/fluentui/e2e/package.json
  packages/fluentui/lerna.json
  packages/fluentui/local-sandbox/package.json
  packages/fluentui/perf-test-northstar/package.json
  packages/fluentui/perf/package.json
  packages/fluentui/projects-test/package.json
  packages/fluentui/react-bindings/package.json
  packages/fluentui/react-builder/package.json
  packages/fluentui/react-component-event-listener/package.json
  packages/fluentui/react-component-nesting-registry/package.json
  packages/fluentui/react-component-ref/package.json
  packages/fluentui/react-icons-northstar/package.json
  packages/fluentui/react-northstar-emotion-renderer/package.json
  packages/fluentui/react-northstar-fela-renderer/package.json
  packages/fluentui/react-northstar-prototypes/package.json
  packages/fluentui/react-northstar-styles-renderer/package.json
  packages/fluentui/react-northstar/package.json
  packages/fluentui/react-proptypes/package.json
  packages/fluentui/react-telemetry/package.json
  packages/fluentui/state/package.json
  packages/fluentui/styles/package.json
Labels: Fluent UI react-northstar
