Repository microsoft/fluentui, pull requests merged in 2022-04, with the labels that each got.

#22285 Update readme file for charting project
  change/@fluentui-react-charting-a1dde850-c945-46b1-bd5f-eccf42fbdece.json
  packages/react-charting/README.md
Labels: Package: charting

#22238 feat(react-theme): update color tokens
  change/@fluentui-react-theme-f94ace9d-69fe-4530-8209-1f0a417164df.json
  packages/react-theme/etc/react-theme.api.md
  packages/react-theme/src/alias/dark.ts
  packages/react-theme/src/alias/highContrast.ts
  packages/react-theme/src/alias/light.ts
  packages/react-theme/src/alias/teamsDark.ts
  packages/react-theme/src/global/colors.ts
  packages/react-theme/src/tokens.ts
  packages/react-theme/src/types.ts
Labels: Component: Theme

#22207 Initial Spinner Implementation
  packages/react-spinner/etc/react-spinner.api.md
  packages/react-spinner/package.json
  packages/react-spinner/src/components/Spinner/DefaultSvg.tsx
  packages/react-spinner/src/components/Spinner/Spinner.test.tsx
  packages/react-spinner/src/components/Spinner/Spinner.types.ts
  packages/react-spinner/src/components/Spinner/__snapshots__/Spinner.test.tsx.snap
  packages/react-spinner/src/components/Spinner/renderSpinner.tsx
  packages/react-spinner/src/components/Spinner/useSpinner.ts
  packages/react-spinner/src/components/Spinner/useSpinner.tsx
  packages/react-spinner/src/components/Spinner/useSpinnerStyles.ts
  packages/react-spinner/src/index.ts
  packages/react-spinner/src/stories/Spinner.stories.tsx
  packages/react-spinner/src/stories/SpinnerAppearance.stories.tsx
  packages/react-spinner/src/stories/SpinnerLabel.stories.tsx
  packages/react-spinner/src/stories/SpinnerSize.stories.tsx
Labels: Component: Spinner

#22281 fix(Calendar) v7: move gridcell role from button to td element
  change/office-ui-fabric-react-6d057a74-bcd2-45af-a63f-ff0e24a2e733.json
  packages/office-ui-fabric-react/src/components/Calendar/CalendarDay.tsx
  packages/office-ui-fabric-react/src/components/Calendar/__snapshots__/Calendar.test.tsx.snap
  packages/office-ui-fabric-react/src/components/DatePicker/DatePicker.test.tsx
Labels: PR: API Modified

#22235 feat: add codespaces config files
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/CODEOWNERS
Labels: Area: Build System, Area: DevExp

#22302 Fix: Use `beta` tag for `@fluentui/react-icons` in codesandbox to get dependency on Griffel
  .storybook/preview.js
Labels: Fluent UI vNext, Storybook

#22296 react-textarea: Adding screener tests
  apps/vr-tests-react-components/package.json
  apps/vr-tests-react-components/src/stories/Textarea.stories.tsx
Labels: Component: Textarea

#22116 RFC - upgrade code location
  rfcs/react-components/convergence/upgrade-code-location.md
Labels: Type: RFC

#22295 Layer: render new layers in a host container div.
  change/@fluentui-react-5bc01262-0d78-453f-95d9-2ffd62adb200.json
  packages/react/etc/react.api.md
  packages/react/src/components/Button/Button.test.tsx
  packages/react/src/components/Dropdown/__snapshots__/Dropdown.test.tsx.snap
  packages/react/src/components/Layer/Layer.base.tsx
  packages/react/src/components/Layer/Layer.notification.ts
  packages/react/src/components/Layer/index.ts
  packages/react/src/components/Modal/__snapshots__/Modal.test.tsx.snap
Labels: Component: Layer, PR: API Modified

#22321 react-tooltip: Updating docs
  change/@fluentui-react-tooltip-cde84203-627c-4703-9981-efe0a8fc3173.json
  packages/react-tooltip/src/stories/TooltipDescription.md
Labels: Component: Tooltip, Fluent UI vNext

#22278 Cherry pick voiceover tooltip fix to 7.0
  change/@uifabric-experiments-8df34765-eb85-4f6e-b8c1-758164d831fb.json
  change/office-ui-fabric-react-92f60eb5-35d4-45e0-b0bd-b1ebbed42b38.json
  packages/experiments/src/components/Pagination/__snapshots__/Pagination.test.tsx.snap
  packages/experiments/src/components/SelectedItemsList/SelectedPeopleList/SelectedPeopleList.test.tsx
  packages/experiments/src/components/SelectedItemsList/SelectedPeopleList/__snapshots__/SelectedPeopleList.test.tsx.snap
  packages/experiments/src/components/UnifiedPicker/UnifiedPeoplePicker/__snapshots__/UnifiedPeoplePicker.test.tsx.snap
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/Breadcrumb/Breadcrumb.test.tsx
  packages/office-ui-fabric-react/src/components/Breadcrumb/__snapshots__/Breadcrumb.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Persona/Persona.test.tsx
  packages/office-ui-fabric-react/src/components/Persona/PersonaCoin/__snapshots__/PersonaCoin.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Persona/__snapshots__/Persona.deprecated.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Persona/__snapshots__/Persona.test.tsx.snap
  packages/office-ui-fabric-react/src/components/Tooltip/TooltipHost.base.tsx
  packages/office-ui-fabric-react/src/components/Tooltip/TooltipHost.test.tsx
  packages/office-ui-fabric-react/src/components/Tooltip/__snapshots__/TooltipHost.test.tsx.snap
  packages/office-ui-fabric-react/src/components/pickers/PeoplePicker/__snapshots__/PeoplePicker.test.tsx.snap
Labels: Fabric 7, PR: API Modified

#22305 chore: unify `react-components` ownership
  .github/CODEOWNERS
Labels: Area: DevExp, Type: RFC

#22271 Change combobox aria-autocomplete to 'list' when autoComplete is off
  change/@fluentui-react-c438a225-3740-4f59-9009-a25fc06478c1.json
  packages/react/src/components/ComboBox/ComboBox.tsx
Labels: Component: ComboBox

#22348 remove space from markdown causing broken render
  apps/public-docsite/src/pages/Controls/AvatarPage/docs/android/AvatarOverview.md
  apps/public-docsite/src/pages/Controls/AvatarPage/docs/ios/AvatarOverview.md
  apps/public-docsite/src/pages/Controls/AvatarPage/docs/mac/AvatarUsage.md
  apps/public-docsite/src/pages/Controls/BottomNavigationPage/docs/android/BottomNavigationOverview.md
  apps/public-docsite/src/pages/Controls/BottomNavigationPage/docs/ios/BottomNavigationOverview.md
  apps/public-docsite/src/pages/Controls/ButtonPage/docs/android/ButtonOverview.md
  apps/public-docsite/src/pages/Controls/ButtonPage/docs/ios/ButtonOverview.md
  apps/public-docsite/src/pages/Controls/ButtonPage/docs/mac/ButtonOverview.md
  apps/public-docsite/src/pages/Controls/CalendarPage/docs/android/CalendarOverview.md
  apps/public-docsite/src/pages/Controls/ChipPage/docs/android/ChipOverview.md
  apps/public-docsite/src/pages/Controls/ChipPage/docs/ios/ChipOverview.md
  apps/public-docsite/src/pages/Controls/DatePickerPage/docs/mac/DatePickerUsage.md
  apps/public-docsite/src/pages/Controls/DrawerPage/docs/ios/DrawerOverview.md
  apps/public-docsite/src/pages/Controls/ListCellsPage/docs/android/ListCellsOverview.md
  apps/public-docsite/src/pages/Controls/ListCellsPage/docs/ios/ListCellsOverview.md
  apps/public-docsite/src/pages/Controls/MessageBarPage/docs/ios/MessageBarOverview.md
  apps/public-docsite/src/pages/Controls/NavBarPage/docs/ios/NavBarOverview.md
  apps/public-docsite/src/pages/Controls/PeoplePickerPage/docs/android/PeoplePickerOverview.md
  apps/public-docsite/src/pages/Controls/PivotPage/docs/ios/PivotOverview.md
  apps/public-docsite/src/pages/Controls/PopupMenuPage/docs/ios/PopupMenuOverview.md
  apps/public-docsite/src/pages/Controls/SpinnerPage/docs/ios/SpinnerOverview.md
  apps/public-docsite/src/pages/Controls/TooltipPage/docs/android/TooltipOverview.md
  apps/public-docsite/src/pages/Controls/TooltipPage/docs/ios/TooltipOverview.md
Labels: Area: Website

#22341 Update CODEOWNERS for Facepile and Persona in 7.0 Branch
  .github/CODEOWNERS
Labels: Fabric 7, needs cherry-pick

#22325 Add unit tests and accessibility tests to Spinner
  packages/react-spinner/Spec.md
  packages/react-spinner/src/components/Spinner/Spinner.test.tsx
  packages/react-spinner/src/components/Spinner/__snapshots__/Spinner.test.tsx.snap
Labels: Component: Spinner

#22266 v8 website: make example titles h3, update document title
  apps/public-docsite/src/components/Site/Site.tsx
  change/@fluentui-react-docsite-components-a72db34a-ebc4-4048-a61b-98a23136cdc2.json
  packages/react-docsite-components/src/components/App/App.tsx
  packages/react-docsite-components/src/components/ExampleCard/ExampleCard.tsx
  packages/react-docsite-components/src/components/ExampleCard/ExampleCard.types.ts
  packages/react-docsite-components/src/components/Nav/Nav.types.ts
  packages/react-docsite-components/src/components/TopNav/TopNav.tsx
  packages/react-docsite-components/src/utilities/activePage.ts
  packages/react-docsite-components/src/utilities/getNormalizedPath.ts
  packages/react-docsite-components/src/utilities/getSiteArea.ts
  packages/react-docsite-components/src/utilities/index2.ts
  packages/react-docsite-components/src/utilities/router/Router.tsx
Labels: Area: Website

#22309 fix(tools): create implicitDeps field when running migrate-converged-pkg
  tools/generators/migrate-converged-pkg/index.spec.ts
  tools/generators/migrate-converged-pkg/index.ts
Labels: Area: Build System

#22310 chore: migrate react-select to new DX
  packages/react-select/package.json
  workspace.json
Labels: Area: Build System, Fluent UI vNext

#22329 chore: refactor Portal/Provider to use the same approach as in v9
  packages/fluentui/CHANGELOG.md
  packages/fluentui/e2e/tests/chatMessageActionMenu-example.tsx
  packages/fluentui/e2e/tests/chatMessageActionMenu.spec.ts
  packages/fluentui/react-northstar/src/components/Portal/PortalInner.tsx
  packages/fluentui/react-northstar/src/components/Portal/usePortalBox.ts
  packages/fluentui/react-northstar/src/components/Provider/Provider.tsx
  packages/fluentui/react-northstar/src/components/Provider/portalContext.ts
  packages/fluentui/react-northstar/test/specs/components/Popup/Popup-test.tsx
  packages/fluentui/react-northstar/test/specs/components/Portal/PortalInner-test.tsx
  packages/fluentui/react-northstar/test/specs/components/Provider/Provider-test.tsx
Labels: Fluent UI react-northstar

#22287 Improve charting documentation
  packages/react-examples/src/react-charting/AreaChart/AreaChart.Basic.Example.tsx
  packages/react-examples/src/react-charting/AreaChart/AreaChart.Multiple.Example.tsx
  packages/react-examples/src/react-charting/AreaChart/AreaChart.Styled.Example.tsx
  packages/react-examples/src/react-charting/AreaChart/AreaChartPage.tsx
  packages/react-examples/src/react-charting/DonutChart/DonutChart.Basic.Example.tsx
  packages/react-examples/src/react-charting/DonutChart/DonutChart.CustomCallout.Example.tsx
  packages/react-examples/src/react-charting/DonutChart/DonutChart.Dynamic.Example.tsx
  packages/react-examples/src/react-charting/DonutChart/DonutChartPage.tsx
  packages/react-examples/src/react-charting/HorizontalBarChart/HorizontalBarChartPage.tsx
  packages/react-examples/src/react-charting/LineChart/LineChartPage.tsx
  packages/react-examples/src/react-charting/MultiStackedBarChart/MultiStackedBarChart.Example.tsx
  packages/react-examples/src/react-charting/MultiStackedBarChart/MultiStackedBarChartPage.tsx
  packages/react-examples/src/react-charting/MultiStackedBarChart/MultiStackedBarChartWithPlaceHolder.Example.tsx
  packages/react-examples/src/react-charting/PieChart/PieChartPage.tsx
  packages/react-examples/src/react-charting/SankeyChart/SankeyChartPage.tsx
  packages/react-examples/src/react-charting/StackedBarChart/StackedBarChartPage.tsx
  packages/react-examples/src/react-charting/VerticalBarChart/VerticalBarChartPage.tsx
  packages/react-examples/src/react-charting/VerticalStackedBarChart/VerticalStackedBarChartPage.tsx
  packages/react-examples/src/react-charting/demo/AppDefinition.tsx
Labels: Area: Website

#22361 Only initialize sass task when needed
  scripts/just.config.ts
  scripts/tasks/copy.ts
  scripts/tasks/sass.ts
Labels: Area: Build System

#22265 Fix a few more issues blocking React 17 in tests
  packages/fluentui/react-component-event-listener/test/EventListener-test.tsx
  packages/fluentui/react-northstar-fela-renderer/package.json
  packages/fluentui/react-northstar-fela-renderer/test/__snapshots__/felaRenderer-test.tsx.snap
  packages/fluentui/react-northstar-fela-renderer/test/felaRenderer-test.tsx
  packages/fluentui/react-northstar/package.json
  packages/react/src/components/ScrollablePane/ScrollablePane.test.tsx
  packages/react/src/components/pickers/BasePicker.test.tsx
  yarn.lock
Labels: Area: Testing

#22269 feat: Add selected items count narration by screen reader for search multiple selection Dropdown
  packages/fluentui/CHANGELOG.md
  packages/fluentui/docs/src/examples/components/Dropdown/Types/DropdownExampleSearchMultiple.shorthand.tsx
  packages/fluentui/react-northstar/src/components/Dropdown/Dropdown.tsx
  packages/fluentui/react-northstar/test/specs/components/Dropdown/Dropdown-test.tsx
  packages/fluentui/react-northstar/test/specs/components/Dropdown/test-utils.tsx
Labels: Fluent UI react-northstar

#22328 Update northstar v2 colors
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/themes/teams-dark-v2/siteVariables.ts
  packages/fluentui/react-northstar/src/themes/teams-dark/components/Menu/menuVariables.ts
  packages/fluentui/react-northstar/src/themes/teams-high-contrast/components/Menu/menuVariables.ts
  packages/fluentui/react-northstar/src/themes/teams-v2/siteVariables.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Menu/menuItemStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Menu/menuItemWrapperStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Menu/menuVariables.ts
Labels: Fluent UI react-northstar

#22115 Fix attachment progress overflow
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/components/Attachment/Attachment.tsx
  packages/fluentui/react-northstar/src/themes/teams/components/Attachment/attachmentStyles.ts
Labels: Fluent UI react-northstar

#22129 Ensure RTL example show up in rtl
  packages/fluentui/CHANGELOG.md
  packages/fluentui/docs/src/components/ComponentDoc/ComponentExample/ComponentExample.tsx
Labels: Fluent UI react-northstar

#22245 Remove enzyme test setup code from converged packages
  packages/priority-overflow/config/tests.js
  packages/react-accordion/config/tests.js
  packages/react-aria/config/tests.js
  packages/react-avatar/config/tests.js
  packages/react-badge/config/tests.js
  packages/react-button/config/tests.js
  packages/react-card/config/tests.js
  packages/react-checkbox/config/tests.js
  packages/react-combobox/config/tests.js
  packages/react-dialog/config/tests.js
  packages/react-divider/config/tests.js
  packages/react-image/config/tests.js
  packages/react-input/config/tests.js
  packages/react-label/config/tests.js
  packages/react-link/config/tests.js
  packages/react-menu/config/tests.js
  packages/react-popover/config/tests.js
  packages/react-portal/config/tests.js
  packages/react-provider/config/tests.js
  packages/react-radio/config/tests.js
  packages/react-select/config/tests.js
  packages/react-shared-contexts/config/tests.js
  packages/react-slider/config/tests.js
  packages/react-spinbutton/config/tests.js
  packages/react-spinner/config/tests.js
  packages/react-switch/config/tests.js
  packages/react-tabs/config/tests.js
  packages/react-text/config/tests.js
  packages/react-textarea/config/tests.js
  packages/react-theme/config/tests.js
  packages/react-toolbar/config/tests.js
  packages/react-tooltip/config/tests.js
  packages/react-utilities/config/tests.js
  scripts/beachball/.beachballrc.base.json
  scripts/create-package/plop-templates-react/config/tests.js
  tools/generators/migrate-converged-pkg/index.spec.ts
Labels: Area: Build System, Area: Testing

#22374 docs: add some general info about how things work in this package
  packages/react-examples/README.md
Labels: Area: Build System, Area: Website, Fluent UI react (v8)

#22417 projects-test: Explicitly install React 17 to package
  apps/ts-minbar-test-react-components/assets/index.tsx
  packages/fluentui/projects-test/src/nextjs.ts
  packages/fluentui/projects-test/src/rollup.ts
  packages/fluentui/projects-test/src/typings.ts
Labels: Area: Build System, dependencies, React 17, React 18

#22407 Tooltip text size should be 12 by default
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/themes/teams/components/Tooltip/tooltipContentStyles.ts
Labels: Fluent UI react-northstar

#22408 fix(react): Panel - make theming work and sticky styling consistent
  change/@fluentui-react-be6d794a-f2d4-4abf-8bac-137b469d95e9.json
  packages/react/src/components/Panel/Panel.styles.ts
  packages/react/src/components/Panel/__snapshots__/Panel.test.tsx.snap
Labels: Component: Panel

#22342 Set background when tab is disabled.
  change/@fluentui-react-tabs-5399b449-6c6d-4276-97d4-22fbf60a4f9d.json
  packages/react-tabs/src/components/Tab/useTabStyles.ts
Labels: Component: Pivot, Component: Tab

#22335 Updated spacing based on figma change
  change/@fluentui-react-tabs-f4b4f066-3119-40ac-a489-f4b940604ca8.json
  packages/react-tabs/src/components/Tab/useTabStyles.ts
Labels: Component: Pivot, Component: Tab

#22433 Update LICENSE in react-icons-mdl2
  change/@fluentui-react-icons-mdl2-b7f8561a-7be4-41f1-a017-d1a55279609a.json
  packages/react-icons-mdl2/LICENSE
Labels: Area: Icons

#22346 Fix tab subtle background
  change/@fluentui-react-tabs-c4411795-459a-4614-bbb0-128211b1e806.json
  packages/react-tabs/src/components/Tab/useTabStyles.ts
Labels: Component: Pivot, Component: Tab

#22282 Facepile (v8): convert tests to use testing-library
  packages/react/src/components/Facepile/Facepile.test.tsx
  packages/react/src/components/Facepile/__snapshots__/Facepile.test.tsx.snap
Labels: Component: Facepile

#22264 ColorPicker (v8): convert tests to use testing-library
  packages/react/src/components/ColorPicker/ColorPicker.test.tsx
  packages/react/src/components/ColorPicker/__snapshots__/ColorPicker.test.tsx.snap
Labels: Component: ColorPicker

#22432 add v2 colors to sandbox app
  packages/fluentui/code-sandbox/src/SandboxApp.tsx
Labels: Fluent UI react-northstar

#22413 react-textarea: Re-exporting Textarea in react-components
  change/@fluentui-react-components-40b86f61-aa0f-4126-8d2d-a3151f06f577.json
  change/@fluentui-react-textarea-67fb3a48-2e9e-4fbe-be50-367d7abb703d.json
  packages/react-components/package.json
  packages/react-components/src/unstable/index.ts
  packages/react-textarea/README.md
  packages/react-textarea/package.json
  packages/react-textarea/src/stories/TextareaDefault.stories.tsx
Labels: Fluent UI vNext, Component: Textarea

#22443 Update monaco-editor version and remove manual type additions
  .prettierignore
  change/@fluentui-monaco-editor-ae5869c5-fc73-4710-9c00-83fd7ed914e3.json
  change/@fluentui-react-monaco-editor-02fa02c0-2ae2-4e84-892a-9314e95e8961.json
  packages/monaco-editor/.eslintrc.json
  packages/monaco-editor/README.md
  packages/monaco-editor/just.config.ts
  packages/monaco-editor/monaco-typescript.d.ts
  packages/monaco-editor/package.json
  packages/monaco-editor/tasks/transformDtsTask.js
  packages/react-monaco-editor/src/components/TsxEditor.tsx
  packages/react-monaco-editor/src/transpiler/transpile.ts
  yarn.lock
Labels: Area: Website, Package: react-monaco-editor

#22437 Remove Enzyme usage in places it's not needed
  packages/react-cards/config/tests.js
  packages/react-icon-provider/config/tests.js
  packages/react-icon-provider/src/IconProvider.test.tsx
  packages/react-list/config/tests.js
  packages/react-window-provider/config/tests.js
  packages/react-window-provider/src/WindowProvider.test.tsx
  packages/theme/config/tests.js
  scripts/jest/jest-resources.js
  scripts/jest/jest-setup.js
  scripts/jest/setupTests.js
Labels: Area: Build System, Area: Testing

#22411 Update initializeIcons to add user defined URL in argument
  change/@fluentui-font-icons-mdl2-e7773ae4-3eff-4f71-a848-89c5691e5bc0.json
  packages/font-icons-mdl2/package.json
  packages/font-icons-mdl2/src/index.ts
Labels: Area: Icons, Component: Icon

#22444 Add missing types to example editor
  change/@fluentui-react-monaco-editor-18a98e02-4c77-4239-82c0-aa85721a9b0d.json
  packages/react-monaco-editor/scripts/copyTypes.ts
  packages/react-monaco-editor/src/transpiler/__snapshots__/exampleTransform.test.ts.snap
  packages/react-monaco-editor/src/transpiler/exampleTransform.test.ts
  packages/react-monaco-editor/src/transpiler/exampleTransform.ts
  packages/react-monaco-editor/src/transpiler/examples/customPackagesFluent.txt
  packages/react-monaco-editor/src/transpiler/transpileHelpers.test.ts
  packages/react-monaco-editor/src/utilities/defaultSupportedPackages.ts
Labels: Area: Website, Package: react-monaco-editor

#22439 react-tabs: Added content and icon styles to subtle appearance
  change/@fluentui-react-tabs-93161aea-6653-4d44-aee3-07824d728aaa.json
  packages/react-tabs/src/components/Tab/useTabStyles.ts
Labels: Component: Pivot, Component: Tab

#22467 docs: normalize build-system folder
  rfcs/shared/build-system/dependency-management.md
Labels: Area: Documentation

#22451 chore(react-card): stories cleanup
  change/@fluentui-react-card-3834bd82-efd0-4775-9f47-4d16e278f281.json
  packages/react-card/src/Card.stories.tsx
  packages/react-card/src/stories/Card.stories.tsx
  packages/react-card/src/stories/CardAction.stories.tsx
  packages/react-card/src/stories/CardAppearance.stories.tsx
  packages/react-card/src/stories/CardDescription.md
  packages/react-card/src/stories/CardGrid.stories.tsx
  packages/react-card/src/stories/SampleCard.stories.tsx
Labels: Component: Card, Fluent UI vNext

#22468 docs(rfc): restructure packaging rfc for future additions
  rfcs/shared/build-system/03-packaging-for-npm.md
Labels: Type: RFC

#22471 react-avatar: Adding AvatarGroup component.
  change/@fluentui-react-avatar-b36be99f-60ba-4c16-b7b3-a9784afb5709.json
  packages/react-avatar/SPEC-AvatarGroup.md
  packages/react-avatar/etc/react-avatar.api.md
  packages/react-avatar/src/AvatarGroup.ts
  packages/react-avatar/src/components/AvatarGroup/AvatarGroup.test.tsx
  packages/react-avatar/src/components/AvatarGroup/AvatarGroup.tsx
  packages/react-avatar/src/components/AvatarGroup/AvatarGroup.types.ts
  packages/react-avatar/src/components/AvatarGroup/__snapshots__/AvatarGroup.test.tsx.snap
  packages/react-avatar/src/components/AvatarGroup/index.ts
  packages/react-avatar/src/components/AvatarGroup/renderAvatarGroup.tsx
  packages/react-avatar/src/components/AvatarGroup/useAvatarGroup.ts
  packages/react-avatar/src/components/AvatarGroup/useAvatarGroupStyles.ts
  packages/react-avatar/src/index.ts
  packages/react-avatar/src/stories/AvatarGroup.stories.tsx
  packages/react-avatar/src/stories/AvatarGroupBestPractices.md
  packages/react-avatar/src/stories/AvatarGroupDefault.stories.tsx
  packages/react-avatar/src/stories/AvatarGroupDescription.md
Labels: Component: Avatar, Component: AvatarGroup

#22428 chore: prepare release react-northstar 0.62.0
  packages/fluentui/CHANGELOG.md
  packages/fluentui/ability-attributes/package.json
  packages/fluentui/accessibility/package.json
  packages/fluentui/circulars-test/package.json
  packages/fluentui/code-sandbox/package.json
  packages/fluentui/digest/package.json
  packages/fluentui/docs-components/package.json
  packages/fluentui/docs/package.json
  packages/fluentui/e2e/package.json
  packages/fluentui/lerna.json
  packages/fluentui/local-sandbox/package.json
  packages/fluentui/perf-test-northstar/package.json
  packages/fluentui/perf/package.json
  packages/fluentui/projects-test/package.json
  packages/fluentui/react-bindings/package.json
  packages/fluentui/react-builder/package.json
  packages/fluentui/react-component-event-listener/package.json
  packages/fluentui/react-component-nesting-registry/package.json
  packages/fluentui/react-component-ref/package.json
  packages/fluentui/react-icons-northstar/package.json
  packages/fluentui/react-northstar-emotion-renderer/package.json
  packages/fluentui/react-northstar-fela-renderer/package.json
  packages/fluentui/react-northstar-prototypes/package.json
  packages/fluentui/react-northstar-styles-renderer/package.json
  packages/fluentui/react-northstar/package.json
  packages/fluentui/react-proptypes/package.json
  packages/fluentui/react-telemetry/package.json
  packages/fluentui/state/package.json
  packages/fluentui/styles/package.json
Labels: Fluent UI react-northstar

#22438 Hoist more react-related deps to root
  change/@fluentui-react-conformance-7ccd36eb-51ca-4638-ac5c-f46821025f54.json
  change/@fluentui-react-context-selector-4a29f9cc-e28a-45d6-8d43-fe5e2eea48d1.json
  change/@fluentui-react-docsite-components-d09ed0cf-b232-4d25-a9a9-098c27bd0264.json
  change/@fluentui-react-icons-mdl2-f6ce0ba4-b7eb-47c1-9a83-3aeffb31901f.json
  package.json
  packages/fluentui/react-component-ref/package.json
  packages/fluentui/react-icons-northstar/package.json
  packages/fluentui/react-northstar/package.json
  packages/react-conformance/package.json
  packages/react-context-selector/package.json
  packages/react-docsite-components/package.json
  packages/react-icons-mdl2/package.json
  yarn.lock
Labels: Area: Build System

#22488 Dropdown: Fixing issue where, if previous/next tabbable element is inside FocusZone then tabbing with Dropdown open will skip it
  change/@fluentui-react-d7c60de7-8e2e-4f2b-9bcb-489bf1ed51e1.json
  packages/react/src/components/Dropdown/Dropdown.base.tsx
Labels: Component: Dropdown, Fluent UI react (v8)

#22486 Fixed typo in ChoiceGroup example
  packages/react-examples/src/react/ChoiceGroup/ChoiceGroup.Icon.Example.tsx
Labels: Area: Website

#22490 Pivot: Fixed overflow render issue on focus
  change/@fluentui-react-b24effe5-f9e7-4d34-b12c-7f11576dd23e.json
  packages/react/src/components/Pivot/Pivot.styles.ts
Labels: Component: Pivot

#22415 Update initializeIcons to add user defined URL in argument (v7)
  change/@uifabric-icons-388eaadd-8734-4c42-a630-e91ca6353c2f.json
  packages/icons/package.json
  packages/icons/src/index.ts
Labels: Fabric 7, Area: Icons

#22445 Fix icons within example editor and remove old code
  apps/public-docsite-resources/webpack.serve.config.js
  apps/public-docsite/webpack.config.js
  apps/public-docsite/webpack.serve.config.js
  change/@fluentui-monaco-editor-0c5d2ab8-db86-4dd4-ae78-1984f1daf5bb.json
  change/@fluentui-public-docsite-setup-6aa54589-57a8-4e0a-878d-3961589e2ec2.json
  change/@fluentui-react-monaco-editor-85151436-2f2b-45a6-9ccd-24269074c24c.json
  packages/monaco-editor/README.md
  packages/monaco-editor/scripts/addMonacoWebpackConfig.js
  packages/monaco-editor/src/configureEnvironment.ts
  packages/public-docsite-setup/README.md
  packages/public-docsite-setup/src/types.ts
  packages/react-monaco-editor/webpack.config.js
  packages/react-monaco-editor/webpack.serve.config.js
Labels: Area: Website, Package: react-monaco-editor

#22495 SVG Icons, support color adjust in high contrast mode
  change/@fluentui-react-icons-mdl2-9b3f13b2-0adb-4a90-99f8-beb87634435d.json
  packages/react-icons-mdl2/src/utils/SvgIcon.scss
Labels: Area: Icons, Component: Icon

#22511 fix: add .tsx to e2e tsconfig
  tools/generators/migrate-converged-pkg/index.spec.ts
  tools/generators/migrate-converged-pkg/index.ts
Labels: Area: Build System, Fluent UI vNext

#22497 Add inline styles to tooltip demo to ensure button styles are visible
  packages/react-examples/src/react/Tooltip/Tooltip.Display.Example.tsx
Labels: Area: Website

#22481 Fixed Dialogs ability to be draggable
  change/@fluentui-react-bb4f65ba-371a-484a-9964-955da31a5480.json
  packages/react/src/components/Dialog/Dialog.base.tsx
Labels: Component: Dialog

#22436 fix(Detailslist): update docs for `ariaLabel` and `shouldApplyApplicationRole`
  change/@fluentui-react-17f0b7da-0754-402e-b8e8-1c548364cb96.json
  packages/react/etc/react.api.md
  packages/react/src/components/DetailsList/DetailsList.base.tsx
  packages/react/src/components/DetailsList/DetailsList.types.ts
Labels: Component: DetailsList, PR: API Modified

#22505 ComboBox: Fixing onScrollToItem to scroll to pending selected index
  change/@fluentui-react-753464fb-ab47-4d62-b356-63d6f2499694.json
  packages/react/src/components/ComboBox/ComboBox.tsx
Labels: Type: Bug :bug:, Component: ComboBox

#22504 merge-styles: Adding missing export to package.json for ssr
  change/@fluentui-merge-styles-ca3053dc-44f0-4f74-ac01-921bd27865e0.json
  packages/merge-styles/package.json
Labels: Type: Bug :bug:, Package: merge-styles, Area: SSR

#22473 Updating TeachingBubble to follow best practices
  change/@fluentui-react-8a577334-1bdb-4a25-b070-81e3ddb6f379.json
  packages/react-examples/src/react/TeachingBubble/TeachingBubble.ButtonOrder.Example.tsx
  packages/react-examples/src/react/TeachingBubble/TeachingBubble.doc.tsx
  packages/react/src/components/TeachingBubble/TeachingBubbleContent.base.tsx
  packages/react/src/components/TeachingBubble/__snapshots__/TeachingBubble.deprecated.test.tsx.snap
  packages/react/src/components/TeachingBubble/__snapshots__/TeachingBubble.test.tsx.snap
Labels: Type: Bug :bug:, Component: TeachingBubble

#22502 Cypress: rebuild on file changes in v8
  scripts/cypress.js
  scripts/cypress/plugins/index.js
  scripts/storybook/webpack.config.js
Labels: Area: Build System, Area: Testing

#22499 ContextualMenu: change default focus target when opened by click event
  change/@fluentui-react-acfcd924-0080-4312-8cc7-8239a4d2c416.json
  packages/react/src/components/Button/BaseButton.tsx
Labels: Component: Button

#22514 Remove active focus styles from Chevron because link already has them
  change/@fluentui-react-c3dd6c69-707e-4278-8aec-854fa72b5279.json
  packages/react/src/components/Nav/Nav.styles.ts
Labels: Component: Nav

#22518 Contextmenu high contrast styles update
  change/@fluentui-react-e7c88860-cc68-4ecc-9d1c-6724461f0b5f.json
  packages/react/src/components/ContextualMenu/ContextualMenu.cnstyles.ts
  packages/react/src/components/ContextualMenu/__snapshots__/ContextualMenu.test.tsx.snap
Labels: Component: ContextualMenu

#22513 Fixed onRenderOption docs to note that regular AND header types are affected
  change/@fluentui-react-5ac41ceb-4ad3-4aff-8c8f-907205be658e.json
  packages/react/src/utilities/selectableOption/SelectableDroppableText.types.ts
Labels: Area: Documentation

#22524 22476 Fix panel custom navigation padding
  apps/vr-tests/src/stories/Panel.stories.tsx
  change/@fluentui-react-9c0e56bd-4965-4331-a39d-3d5fc5c5a528.json
  packages/react/src/components/Panel/Panel.styles.ts
Labels: Component: Panel

#22465 docs(.github): remove deprecated issue templates
  .github/ISSUE_TEMPLATE/accessibility_issue.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
Labels: Area: Documentation

#22494 Align chat read status design
  packages/fluentui/CHANGELOG.md
  packages/fluentui/docs/src/examples/components/Chat/Content/ChatExampleReadStatus.shorthand.tsx
  packages/fluentui/react-northstar/src/themes/teams/components/Chat/chatMessageReadStatusStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Chat/chatMessageReadStatusVariables.ts
Labels: Fluent UI react-northstar

#22492 Upgrading tabster to latest version
  change/@fluentui-react-tabster-c81c82d2-9aad-4456-a2fc-9aec50bbf774.json
  packages/react-tabster/package.json
  packages/react-tabster/src/hooks/useArrowNavigationGroup.ts
  packages/react-tabster/src/hooks/useFocusableGroup.ts
  yarn.lock
Labels: dependencies

#22484 chore: add owner for every vNext package
  .github/CODEOWNERS
Labels: Fluent UI vNext

#22542 chore: enable React 18 in peerDependencies for react-component-event-listener & react-component-ref
  packages/fluentui/react-component-event-listener/package.json
  packages/fluentui/react-component-ref/package.json
Labels: Fluent UI react-northstar

#22529 theming-designer: Adding neutralSecondaryAlt to theming-designer and removing deprecation from neutralSecondaryAlt
  apps/theming-designer/src/components/FabricPalette.tsx
  change/@fluentui-react-c3023df6-2bb7-4f00-a349-3e42553cce2d.json
  packages/react/etc/react.api.md
  packages/react/src/components/ThemeGenerator/ThemeRulesStandard.ts
Labels: Area: Theming, Area: Website, PR: API Modified, Component: ThemeGenerator

#22522 Cherrypick #22518 "Contextmenu high contrast styles update" to 7.0
  change/office-ui-fabric-react-3496a2f3-c3fb-47c9-9d7e-eca093c5416b.json
  packages/office-ui-fabric-react/src/components/ContextualMenu/ContextualMenu.cnstyles.ts
  packages/office-ui-fabric-react/src/components/ContextualMenu/__snapshots__/ContextualMenu.test.tsx.snap
Labels: Component: ContextualMenu, Fabric 7

#22533 fluentui/utilities: update object tests
  packages/utilities/src/object.test.ts
Labels: Area: Testing, Package: utilities

#22544 chore: Add retries to northstar e2e tests
  packages/fluentui/e2e/cypress.json
Labels: Fluent UI react-northstar

#22367 Re-exporting commonly used things from @fluentui/react-tabster and @fluentui/react-utilities in @fluentui/react-components
  change/@fluentui-react-components-ea1f05c8-4a94-4a3a-b122-0bdc10f78a9c.json
  change/@fluentui-react-tabster-29c1cf42-57a9-47e2-8bdc-0c708b3bcbae.json
  change/@fluentui-react-utilities-c00d688f-01da-4335-8e5a-00bc2df2a75b.json
  packages/react-components/etc/react-components.api.md
  packages/react-components/package.json
  packages/react-components/src/index.ts
  packages/react-tabster/src/hooks/index.ts
  packages/react-tabster/src/index.ts
  packages/react-utilities/src/hooks/index.ts
  packages/react-utilities/src/index.ts
Labels: Fluent UI vNext, dependencies

#22535 Dropdown: add dismissMenu handle to match Combobox
  change/@fluentui-react-79ae01f0-33af-4c17-99c0-af759fff0142.json
  packages/react/etc/react.api.md
  packages/react/src/components/Dropdown/Dropdown.base.tsx
  packages/react/src/components/Dropdown/Dropdown.test.tsx
  packages/react/src/components/Dropdown/Dropdown.types.ts
Labels: Component: Dropdown, PR: API Modified

#22549 Override outline added by MWF
  apps/public-docsite/src/styles/_base.scss
Labels: Area: Website

#22020 More friendly behavior when GroupedList header is too long
  change/@fluentui-react-5855132c-df7c-48fb-a439-ba589755f330.json
  packages/react/src/components/DetailsList/__snapshots__/DetailsList.test.tsx.snap
  packages/react/src/components/GroupedList/GroupHeader.styles.ts
Labels: Component: GroupedList

#20123 ScrollablePane: Moves `onScroll` from root element to container
  change/@fluentui-react-73d7be27-0748-4f29-b659-db242b6ef7d0.json
  packages/react/src/components/ScrollablePane/ScrollablePane.base.tsx
Labels: Component: ScrollablePane

#21618 Fix issue where focus outline was not showing for Toggle in IE11
  change/@fluentui-react-2c5304bf-2dee-42e8-973a-618cb52be34f.json
  packages/react/src/components/Toggle/Toggle.styles.ts
  packages/react/src/components/Toggle/__snapshots__/Toggle.test.tsx.snap
Labels: Component: Toggle

#22420 ARIA input field does not have an accessible name issue
  packages/react-examples/src/react-charting/AreaChart/AreaChart.Basic.Example.tsx
  packages/react-examples/src/react-charting/AreaChart/AreaChart.CustomAccessibility.Example.tsx
  packages/react-examples/src/react-charting/AreaChart/AreaChart.Multiple.Example.tsx
  packages/react-examples/src/react-charting/AreaChart/AreaChart.Styled.Example.tsx
  packages/react-examples/src/react-charting/GroupedVerticalBarChart/GroupedVerticalBarChart.Basic.Example.tsx
  packages/react-examples/src/react-charting/GroupedVerticalBarChart/GroupedVerticalBarChart.CustomAccessibility.Example.tsx
  packages/react-examples/src/react-charting/GroupedVerticalBarChart/GroupedVerticalBarChart.Styled.Example.tsx
  packages/react-examples/src/react-charting/GroupedVerticalBarChart/GroupedVerticalBarChart.Truncated.Example.tsx
  packages/react-examples/src/react-charting/StackedBarChart/StackedBarChart.Multiple.Example.tsx
  packages/react-examples/src/react-charting/VerticalStackedBarChart/VerticalStackedBarChart.Basic.Example.tsx
  packages/react-examples/src/react-charting/VerticalStackedBarChart/VerticalStackedBarChart.Callout.Example.tsx
  packages/react-examples/src/react-charting/VerticalStackedBarChart/VerticalStackedBarChart.CustomAccessibility.Example.tsx
  packages/react-examples/src/react-charting/VerticalStackedBarChart/VerticalStackedBarChart.Styled.Example.tsx
Labels: Area: Website, Fluent UI react (v8)

#22530 Add focus styling to Spinner
  packages/react-spinner/src/components/Spinner/useSpinner.tsx
  packages/react-spinner/src/components/Spinner/useSpinnerStyles.ts
  packages/react-spinner/src/stories/SpinnerBestPractices.md
Labels: Component: Spinner

#22568 react-components: add SpinButton to /unstable
  change/@fluentui-react-components-90303c8d-8d65-4d7f-b703-6e3b33ee6153.json
  change/@fluentui-react-spinbutton-ccaaea73-5c10-43b2-81d0-3ec98e4a70c0.json
  packages/react-components/package.json
  packages/react-components/src/unstable/index.ts
  packages/react-spinbutton/package.json
  packages/react-spinbutton/src/stories/SpinButton.stories.tsx
Labels: Component: SpinButton

#22297 Combobox (v8): convert tests to use testing-library
  packages/react/src/components/ComboBox/ComboBox.test.tsx
  packages/react/src/components/ComboBox/__snapshots__/ComboBox.test.tsx.snap
Labels: Component: ComboBox

#22591 Update react-input and react-spinbutton to use ::after pseudo element
  change/@fluentui-react-input-db8489dc-8d86-492d-b3ee-a17d1edb7d81.json
  change/@fluentui-react-spinbutton-d3163b27-fa21-4821-ac4d-217e0d3488ab.json
  packages/react-input/src/components/Input/useInputStyles.ts
  packages/react-spinbutton/src/components/SpinButton/useSpinButtonStyles.ts
Labels: Component: Input

#22574 Button: Stop applying active styles when mouse moves away while it is being held and improving styles in High Contrast mode
  change/@fluentui-react-button-f1c210ad-d683-4e21-984c-11b5f0acd349.json
  packages/react-button/src/components/Button/useButtonStyles.ts
  packages/react-button/src/components/CompoundButton/useCompoundButtonStyles.ts
  packages/react-button/src/components/SplitButton/stories/SplitButtonDisabled.stories.tsx
  packages/react-button/src/components/SplitButton/useSplitButtonStyles.ts
  packages/react-button/src/components/ToggleButton/useToggleButtonStyles.ts
Labels: Area: Accessibility, Component: Button, AutoMerge, Component: ToggleButton

#22460 RFC: Group v9 packages to common folder
  rfcs/shared/build-system/05.1-react-components-folder-organization.md
Labels: Type: RFC

#22506 feat: Generator for package move migration
  tools/generators/move-packages/README.md
  tools/generators/move-packages/index.spec.ts
  tools/generators/move-packages/index.ts
  tools/generators/move-packages/schema.json
  tools/generators/move-packages/schema.ts
  tools/utils.ts
Labels: Area: Build System

#22279 react-button: Adding useToggleState hook to scaffold toggleable behavior for individual consumption
  change/@fluentui-react-button-61536a2d-ce99-4ec2-8e1e-5091efaf5fd0.json
  change/@fluentui-react-components-949a94b2-8476-4c5c-a7a2-4a0783c8b94a.json
  packages/react-button/etc/react-button.api.md
  packages/react-button/src/components/CompoundButton/CompoundButton.stories.tsx
  packages/react-button/src/components/CompoundButton/CompoundButton.tsx
  packages/react-button/src/components/CompoundButton/stories/CompoundButtonAsToggleButton.stories.tsx
  packages/react-button/src/components/CompoundButton/stories/CompoundButtonDefault.stories.tsx
  packages/react-button/src/components/CompoundButton/stories/CompoundButtonDisabled.stories.tsx
  packages/react-button/src/components/CompoundButton/stories/CompoundButtonIcon.stories.tsx
  packages/react-button/src/components/CompoundButton/stories/CompoundButtonSize.stories.tsx
  packages/react-button/src/components/ToggleButton/useToggleButton.ts
  packages/react-button/src/components/ToggleButton/useToggleButtonStyles.ts
  packages/react-button/src/index.ts
  packages/react-button/src/utils/index.ts
  packages/react-button/src/utils/useToggleState.test.ts
  packages/react-button/src/utils/useToggleState.ts
  packages/react-components/etc/react-components.api.md
  packages/react-components/src/index.ts
Labels: Fluent UI vNext, Component: ToggleButton

#22587 Filled button's icon on hover
  change/@fluentui-react-button-632b8f65-cf5d-4f77-a61a-3cee616e7d44.json
  packages/react-button/src/components/Button/stories/ButtonDisabled.stories.tsx
  packages/react-button/src/components/Button/stories/ButtonIcon.stories.tsx
  packages/react-button/src/components/Button/stories/ButtonSize.stories.tsx
  packages/react-button/src/components/Button/useButtonStyles.ts
  packages/react-button/src/components/CompoundButton/stories/CompoundButtonAsToggleButton.stories.tsx
  packages/react-button/src/components/CompoundButton/stories/CompoundButtonDefault.stories.tsx
  packages/react-button/src/components/CompoundButton/stories/CompoundButtonDisabled.stories.tsx
  packages/react-button/src/components/CompoundButton/stories/CompoundButtonIcon.stories.tsx
  packages/react-button/src/components/CompoundButton/stories/CompoundButtonSize.stories.tsx
  packages/react-button/src/components/MenuButton/stories/MenuButtonAppearance.stories.tsx
  packages/react-button/src/components/MenuButton/stories/MenuButtonBlock.stories.tsx
  packages/react-button/src/components/MenuButton/stories/MenuButtonDefault.stories.tsx
  packages/react-button/src/components/MenuButton/stories/MenuButtonDisabled.stories.tsx
  packages/react-button/src/components/MenuButton/stories/MenuButtonIcon.stories.tsx
  packages/react-button/src/components/MenuButton/stories/MenuButtonShape.stories.tsx
  packages/react-button/src/components/MenuButton/stories/MenuButtonSize.stories.tsx
  packages/react-button/src/components/MenuButton/stories/MenuButtonSizeLarge.stories.tsx
  packages/react-button/src/components/MenuButton/stories/MenuButtonSizeMedium.stories.tsx
  packages/react-button/src/components/MenuButton/stories/MenuButtonSizeSmall.stories.tsx
  packages/react-button/src/components/MenuButton/stories/MenuButtonWithLongText.stories.tsx
  packages/react-button/src/components/SplitButton/stories/SplitButtonAppearance.stories.tsx
  packages/react-button/src/components/SplitButton/stories/SplitButtonBlock.stories.tsx
  packages/react-button/src/components/SplitButton/stories/SplitButtonDefault.stories.tsx
  packages/react-button/src/components/SplitButton/stories/SplitButtonDisabled.stories.tsx
  packages/react-button/src/components/SplitButton/stories/SplitButtonIcon.stories.tsx
  packages/react-button/src/components/SplitButton/stories/SplitButtonShape.stories.tsx
  packages/react-button/src/components/SplitButton/stories/SplitButtonSize.stories.tsx
  packages/react-button/src/components/SplitButton/stories/SplitButtonSizeLarge.stories.tsx
  packages/react-button/src/components/SplitButton/stories/SplitButtonSizeMedium.stories.tsx
  packages/react-button/src/components/SplitButton/stories/SplitButtonSizeSmall.stories.tsx
  packages/react-button/src/components/SplitButton/stories/SplitButtonWithLongText.stories.tsx
  packages/react-button/src/components/ToggleButton/stories/ToggleButtonDisabled.stories.tsx
  packages/react-button/src/components/ToggleButton/stories/ToggleButtonIcon.stories.tsx
  packages/react-button/src/components/ToggleButton/useToggleButtonStyles.ts
Labels: Component: Button

#22483 chore(colors): Align v0 and v9 colors
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/themes/teams-dark-v2/siteVariables.ts
  packages/fluentui/react-northstar/src/themes/teams-high-contrast/colors.ts
  packages/fluentui/react-northstar/src/themes/teams-v2/siteVariables.ts
Labels: Fluent UI react-northstar

#22603 fix(Tree): Do not stop propagation of letter keys if modifier is used
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/components/Tree/TreeItem.tsx
Labels: Fluent UI react-northstar

#22595 Checkbox: Fixing High Contrast disabled styles
  change/@fluentui-react-checkbox-82b53eb2-608d-4cbb-b524-f08be9e523b9.json
  packages/react-checkbox/src/components/Checkbox/useCheckboxStyles.ts
Labels: Component: Checkbox

#21461 DocumentCard: parent container is no longer focusable and now has role=group to improve a11y experience
  change/@fluentui-react-a719d34b-d5e4-466e-aea9-52b76f102805.json
  packages/react/etc/react.api.md
  packages/react/src/components/DocumentCard/DocumentCard.base.tsx
  packages/react/src/components/DocumentCard/DocumentCard.types.ts
  packages/react/src/components/DocumentCard/DocumentCardTitle.base.tsx
  packages/react/src/components/DocumentCard/__snapshots__/DocumentCard.test.tsx.snap
Labels: Area: Accessibility, Component: DocumentCard, PR: API Modified

#22555 Address memory leak in v8 makeStyles
  change/@fluentui-react-0eb3cd71-8a2e-46f6-a271-ed5fdd09f56f.json
  packages/react/etc/react.api.md
  packages/react/src/utilities/ThemeProvider/makeStyles.ts
Labels: PR: API Modified

#22611 move from important to increasing specificity using body
  apps/public-docsite/src/styles/_base.scss
Labels: Area: Website

#22612 fix(DocumentCard): add focus styles to DocumentCardTitle
  change/@fluentui-react-82502621-9430-4661-8986-3836b7ee7ce6.json
  packages/react/src/components/DocumentCard/DocumentCardTitle.styles.ts
  packages/react/src/components/DocumentCard/__snapshots__/DocumentCard.test.tsx.snap
Labels: Area: Accessibility, Component: DocumentCard

#22617 chore: fix version mismatches
  apps/public-docsite-v9/package.json
Labels: Area: Website

#22469 docs(rfc): update packaging with shipping types rfc
  rfcs/shared/build-system/03-packaging-for-npm.md
Labels: Fluent UI vNext, Type: RFC

#22570 feat(react-theme): Update brandWeb ramp, add colorNeutralForeground2Link
  change/@fluentui-react-theme-fa93a3a2-c0cb-419e-801f-ff05e4eccb2f.json
  packages/react-theme/etc/react-theme.api.md
  packages/react-theme/src/alias/darkColor.ts
  packages/react-theme/src/alias/highContrastColor.ts
  packages/react-theme/src/alias/lightColor.ts
  packages/react-theme/src/alias/teamsDarkColor.ts
  packages/react-theme/src/global/brandColors.ts
  packages/react-theme/src/tokens.ts
  packages/react-theme/src/types.ts
Labels: Component: Theme

#22624 fix(tools): update CODEOWNERS relative path of moved package
  tools/generators/move-packages/index.spec.ts
  tools/generators/move-packages/index.ts
Labels: Area: Build System

#22629 fix(tools): differentiate migration based on platform
  tools/generators/migrate-converged-pkg/index.spec.ts
  tools/generators/migrate-converged-pkg/index.ts
  workspace.json
Labels: Area: Build System

#22641 Contextualmenu disabled hcm checkmarks
  change/@fluentui-react-6ef35ff6-9b12-444f-873e-eb578898da24.json
  packages/react-examples/src/react/ContextualMenu/ContextualMenu.Checkmarks.Example.tsx
  packages/react/src/components/ContextualMenu/ContextualMenu.cnstyles.ts
Labels: Area: Accessibility, Component: ContextualMenu

#22652 react-spinbutton: remove "inputType" prop
  change/@fluentui-react-spinbutton-4d6217f6-e42c-4e3e-9541-3fd24d18b1bd.json
  packages/react-spinbutton/etc/react-spinbutton.api.md
  packages/react-spinbutton/src/components/SpinButton/SpinButton.test.tsx
  packages/react-spinbutton/src/components/SpinButton/SpinButton.types.ts
  packages/react-spinbutton/src/components/SpinButton/useSpinButton.tsx
  packages/react-spinbutton/src/stories/SpinButton.stories.tsx
  packages/react-spinbutton/src/stories/SpinButtonInputType.stories.tsx
Labels: Component: SpinButton

#22642 change ie11 fix from star selector to span
  change/@fluentui-react-d8a0826d-8dde-4ea4-95ac-c3ee3d2f43c3.json
  packages/react-experiments/src/components/MicroFeedback/__snapshots__/MicroFeedback.test.tsx.snap
  packages/react-experiments/src/components/Pagination/__snapshots__/Pagination.test.tsx.snap
  packages/react-experiments/src/components/SelectedItemsList/SelectedPeopleList/__snapshots__/SelectedPeopleList.test.tsx.snap
  packages/react-experiments/src/components/UnifiedPicker/UnifiedPeoplePicker/__snapshots__/UnifiedPeoplePicker.test.tsx.snap
  packages/react/src/components/Breadcrumb/__snapshots__/Breadcrumb.test.tsx.snap
  packages/react/src/components/Button/BaseButton.styles.ts
  packages/react/src/components/Button/__snapshots__/Button.deprecated.test.tsx.snap
  packages/react/src/components/Button/__snapshots__/Button.test.tsx.snap
  packages/react/src/components/ComboBox/__snapshots__/ComboBox.test.tsx.snap
  packages/react/src/components/CommandBar/__snapshots__/CommandBar.deprecated.test.tsx.snap
  packages/react/src/components/CommandBar/__snapshots__/CommandBar.test.tsx.snap
  packages/react/src/components/ContextualMenu/__snapshots__/ContextualMenu.test.tsx.snap
  packages/react/src/components/Dialog/__snapshots__/Dialog.deprecated.test.tsx.snap
  packages/react/src/components/Dropdown/__snapshots__/Dropdown.test.tsx.snap
  packages/react/src/components/Facepile/__snapshots__/Facepile.test.tsx.snap
  packages/react/src/components/Nav/__snapshots__/Nav.test.tsx.snap
  packages/react/src/components/Panel/__snapshots__/Panel.test.tsx.snap
  packages/react/src/components/Pivot/__snapshots__/Pivot.deprecated.test.tsx.snap
  packages/react/src/components/Pivot/__snapshots__/Pivot.test.tsx.snap
  packages/react/src/components/SpinButton/__snapshots__/SpinButton.test.tsx.snap
  packages/react/src/components/SwatchColorPicker/__snapshots__/SwatchColorPicker.test.tsx.snap
  packages/react/src/components/TeachingBubble/__snapshots__/TeachingBubble.deprecated.test.tsx.snap
  packages/react/src/components/TeachingBubble/__snapshots__/TeachingBubble.test.tsx.snap
  packages/react/src/components/pickers/PeoplePicker/__snapshots__/PeoplePicker.test.tsx.snap
  packages/react/src/components/pickers/Suggestions/__snapshots__/Suggestions.test.tsx.snap
  packages/react/src/components/pickers/TagPicker/__snapshots__/TagItem.test.tsx.snap
  packages/react/src/components/pickers/TagPicker/__snapshots__/TagPicker.test.tsx.snap
Labels: Component: Button

#22665 change neutral Divider color in light and dark theme
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/themes/teams-dark/components/Divider/dividerVariables.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Divider/dividerVariables.ts
Labels: Fluent UI react-northstar

#22654 (chore) Update create-package script to account for new v9 common folder
  scripts/create-package/plopfile.ts
  tools/generators/migrate-converged-pkg/index.spec.ts
  tools/generators/migrate-converged-pkg/index.ts
Labels: Area: Build System

#22658 feat(tools): provide instructions how to generate change files in batch
  tools/generators/generate-change-file.spec.ts
  tools/generators/generate-change-files.ts
  tools/generators/migrate-converged-pkg/index.spec.ts
  tools/generators/migrate-converged-pkg/index.ts
  tools/generators/migrate-converged-pkg/schema.json
  tools/generators/print-stats.spec.ts
  tools/utils-testing.ts
  tools/utils.spec.ts
  tools/utils.ts
Labels: Area: Build System

#22664 chore(react-components): fix build:local task
  change/@fluentui-react-components-2bd5794e-c0db-4859-9af4-86499b5eca4f.json
  packages/react-components/react-components/config/api-extractor.local.json
  tools/generators/move-packages/index.spec.ts
  tools/generators/move-packages/index.ts
Labels: Area: Build System, Fluent UI vNext

#22663 feat(tools): apply d.ts rolluping setup in migration generator
  rfcs/shared/build-system/03-packaging-for-npm.md
  scripts/api-extractor/api-extractor.common.v-next.json
  tools/generators/migrate-converged-pkg/index.spec.ts
  tools/generators/migrate-converged-pkg/index.ts
  tools/types.ts
Labels: Area: Build System, Fluent UI vNext, Type: RFC

#22667 fix(tools): move-packages generator now updates moved package's build:local script
  tools/generators/move-packages/index.spec.ts
  tools/generators/move-packages/index.ts
Labels: Area: Build System

#22646 Upgrade: Added MenuButtonShim
  apps/public-docsite-v9/src/shims/ButtonShim.tsx
  apps/public-docsite-v9/src/shims/MenuShim.tsx
  apps/public-docsite-v9/src/stories/ButtonShim.stories.tsx
  apps/public-docsite-v9/src/stories/MenuButtonShim.stories.tsx
Labels: Area: Website

#22696 fix(Tooltip): fix contrast theme pointing and subtle=false style
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/themes/teams-high-contrast/components/Tooltip/tooltipContentVariables.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Tooltip/tooltipContentStyles.ts
  packages/fluentui/react-northstar/src/themes/teams/components/Tooltip/tooltipContentVariables.ts
Labels: Fluent UI react-northstar

#22607 Added global design tokens - spacing, duration, curves
  change/@fluentui-react-components-f3b7b6f1-efc4-4579-b195-f2687a0ed5a4.json
  change/@fluentui-react-theme-92dc6eb0-c3a5-4242-a044-8b84ae793a5c.json
  packages/react-components/react-components/etc/react-components.api.md
  packages/react-components/react-components/src/index.ts
  packages/react-theme/etc/react-theme.api.md
  packages/react-theme/src/global/curves.ts
  packages/react-theme/src/global/durations.ts
  packages/react-theme/src/global/index.ts
  packages/react-theme/src/global/spacings.ts
  packages/react-theme/src/index.ts
  packages/react-theme/src/tokens.ts
  packages/react-theme/src/types.ts
  packages/react-theme/src/utils/createDarkTheme.ts
  packages/react-theme/src/utils/createHighContrastTheme.ts
  packages/react-theme/src/utils/createLightTheme.ts
  packages/react-theme/src/utils/createTeamsDarkTheme.ts
Labels: Component: Theme, Fluent UI vNext

#22596 RFC: proposal for standard string union naming conventions
  rfcs/react-components/convergence/prop-string-union-naming.md
Labels: Type: RFC

#22698 move image and change to import syntax
  apps/public-docsite-v9/public/fluentui-banner2.jpg
  apps/public-docsite-v9/src/Concepts/Introduction.stories.mdx
Labels: Area: Website

#22635 Added button and menu upgrade docs
  apps/public-docsite-v9/src/Concepts/Upgrade/FromV8/Components/Button.stories.mdx
  apps/public-docsite-v9/src/Concepts/Upgrade/FromV8/Components/Menu.stories.mdx
  apps/public-docsite-v9/src/stories/ButtonShim.stories.tsx
  apps/public-docsite-v9/src/stories/StackShim.stories.tsx
Labels: Area: Website

#22523 react-avatar: AvatarGroup SPEC review
  change/@fluentui-react-avatar-a2d08c80-800c-4c25-9af6-c111ad5fd8d2.json
  packages/react-components/react-avatar/SPEC-AvatarGroup.md
  packages/react-components/react-avatar/etc/react-avatar.api.md
  packages/react-components/react-avatar/package.json
  packages/react-components/react-avatar/src/components/Avatar/Avatar.types.ts
  packages/react-components/react-avatar/src/components/AvatarGroup/AvatarGroup.strings.tsx
  packages/react-components/react-avatar/src/components/AvatarGroup/AvatarGroup.test.tsx
  packages/react-components/react-avatar/src/components/AvatarGroup/AvatarGroup.types.ts
  packages/react-components/react-avatar/src/components/AvatarGroup/useAvatarGroup.ts
  packages/react-components/react-avatar/src/components/AvatarGroup/useAvatarGroupStyles.ts
  packages/react-components/react-avatar/src/index.ts
Labels: Component: Avatar, Component: AvatarGroup

#22702 Ported theme shims from upgrade repo
  apps/public-docsite-v9/src/shims/ThemeShim/themeDuplicates.ts
  apps/public-docsite-v9/src/shims/ThemeShim/v8ThemeShim.ts
  apps/public-docsite-v9/src/shims/ThemeShim/v9BrandVariantsShim.ts
  apps/public-docsite-v9/src/shims/ThemeShim/v9ThemeShim.ts
Labels: Area: Website

#22701 V9 Slider dark mode color and focus tweaks
  change/@fluentui-react-slider-26d81dd4-fbf6-4174-bd06-0a50bfb3673b.json
  packages/react-components/react-slider/src/components/Slider/useSliderStyles.ts
Labels: Component: Slider

#22732 Link: Changing styles of focused links to align with design spec
  change/@fluentui-react-link-004dabf8-63c0-47f6-99ef-5358546dd232.json
  packages/react-components/react-link/src/components/Link/useLinkStyles.ts
Labels: Component: Link, Fluent UI vNext
