Repository microsoft/fluentui, pull requests merged in 2023-03, with the labels that each got.

#27006 feat(scripts-storybook): unify workspace addon loading for dev and prod builds
  apps/vr-tests-react-components/package.json
  apps/vr-tests/package.json
  azure-pipelines.vrt-baseline.yml
  azure-pipelines.vrt-pr.yml
  change/@fluentui-react-components-efef013e-42c3-4754-ad30-88a5fc4354e7.json
  packages/fluentui/docs/package.json
  packages/react-components/react-components/package.json
  scripts/storybook/src/utils.js
  scripts/storybook/src/utils.spec.js
Labels: Area: Build System

#23984 Spec: Table/DataGrid component
  change/@fluentui-react-table-31b8c6a7-b50d-4253-8300-7dc081f261c1.json
  packages/react-components/react-table/Spec.md
  packages/react-components/react-table/etc/images/table-interactions/Slide1.PNG
  packages/react-components/react-table/etc/images/table-interactions/Slide10.PNG
  packages/react-components/react-table/etc/images/table-interactions/Slide11.PNG
  packages/react-components/react-table/etc/images/table-interactions/Slide12.PNG
  packages/react-components/react-table/etc/images/table-interactions/Slide13.PNG
  packages/react-components/react-table/etc/images/table-interactions/Slide14.PNG
  packages/react-components/react-table/etc/images/table-interactions/Slide15.PNG
  packages/react-components/react-table/etc/images/table-interactions/Slide16.PNG
  packages/react-components/react-table/etc/images/table-interactions/Slide17.PNG
  packages/react-components/react-table/etc/images/table-interactions/Slide18.PNG
  packages/react-components/react-table/etc/images/table-interactions/Slide19.PNG
  packages/react-components/react-table/etc/images/table-interactions/Slide2.PNG
  packages/react-components/react-table/etc/images/table-interactions/Slide20.PNG
  packages/react-components/react-table/etc/images/table-interactions/Slide21.PNG
  packages/react-components/react-table/etc/images/table-interactions/Slide22.PNG
  packages/react-components/react-table/etc/images/table-interactions/Slide23.PNG
  packages/react-components/react-table/etc/images/table-interactions/Slide24.PNG
  packages/react-components/react-table/etc/images/table-interactions/Slide25.PNG
  packages/react-components/react-table/etc/images/table-interactions/Slide26.PNG
  packages/react-components/react-table/etc/images/table-interactions/Slide27.PNG
  packages/react-components/react-table/etc/images/table-interactions/Slide28.PNG
  packages/react-components/react-table/etc/images/table-interactions/Slide29.PNG
  packages/react-components/react-table/etc/images/table-interactions/Slide3.PNG
  packages/react-components/react-table/etc/images/table-interactions/Slide30.PNG
  packages/react-components/react-table/etc/images/table-interactions/Slide4.PNG
  packages/react-components/react-table/etc/images/table-interactions/Slide5.PNG
  packages/react-components/react-table/etc/images/table-interactions/Slide6.PNG
  packages/react-components/react-table/etc/images/table-interactions/Slide7.PNG
  packages/react-components/react-table/etc/images/table-interactions/Slide8.PNG
  packages/react-components/react-table/etc/images/table-interactions/Slide9.PNG
Labels: Component: Table, Type: Spec, Resolution: Soft Close, Area: Components

#27019 ci: make codeowners file valid
  .github/CODEOWNERS
Labels: CI

#26118 chore: add V0 migration guides
  apps/public-docsite-v9/src/Concepts/Migration/FromV0/Components/Box.stories.mdx
  apps/public-docsite-v9/src/Concepts/Migration/FromV0/Components/Button.stories.mdx
  apps/public-docsite-v9/src/Concepts/Migration/FromV0/Components/Flex.stories.mdx
  apps/public-docsite-v9/src/Concepts/Migration/FromV0/Components/FlexItem.stories.mdx
  apps/public-docsite-v9/src/Concepts/Migration/FromV0/Components/Grid.stories.mdx
  apps/public-docsite-v9/src/Concepts/Migration/FromV0/Components/ItemLayout.stories.mdx
  apps/public-docsite-v9/src/Concepts/Migration/FromV0/Components/Loader.stories.mdx
  apps/public-docsite-v9/src/Concepts/Migration/FromV0/Components/Menu.stories.mdx
  apps/public-docsite-v9/src/Concepts/Migration/FromV0/Components/Ref.stories.mdx
  apps/public-docsite-v9/src/Concepts/Migration/FromV0/Components/Segment.stories.mdx
  apps/public-docsite-v9/src/Concepts/Migration/FromV0/Components/Slider.stories.mdx
  apps/public-docsite-v9/src/Concepts/Migration/FromV0/Components/SplitButton.stories.mdx
  apps/public-docsite-v9/src/Concepts/Migration/FromV0/Components/TabList.stories.mdx
  apps/public-docsite-v9/src/Concepts/Migration/FromV0/Components/Text.stories.mdx
  apps/public-docsite-v9/src/Concepts/Migration/FromV0/Components/Toolbar.stories.mdx
  packages/react-components/react-components/stories/Migrations/Flex.Flex.stories.mdx
  packages/react-components/react-components/stories/Migrations/Flex.FlexItem.stories.mdx
  packages/react-components/react-components/stories/Migrations/Flex.Overview.stories.mdx
  packages/react-components/react-migration-v0-v9/etc/react-migration-v0-v9.api.md
  packages/react-components/react-migration-v0-v9/src/components/ItemLayout/ItemLayout.styles.ts
  packages/react-components/react-migration-v0-v9/src/components/ItemLayout/ItemLayout.test.tsx
  packages/react-components/react-migration-v0-v9/src/components/ItemLayout/ItemLayout.tsx
  packages/react-components/react-migration-v0-v9/src/components/ItemLayout/index.tsx
  packages/react-components/react-migration-v0-v9/src/components/Primitive/Primitive.test.tsx
  packages/react-components/react-migration-v0-v9/src/components/Primitive/Primitive.tsx
  packages/react-components/react-migration-v0-v9/src/components/Primitive/index.tsx
  packages/react-components/react-migration-v0-v9/src/components/StyledText/StyledText.styles.ts
  packages/react-components/react-migration-v0-v9/src/components/StyledText/StyledText.test.tsx
  packages/react-components/react-migration-v0-v9/src/components/StyledText/StyledText.tsx
  packages/react-components/react-migration-v0-v9/src/components/StyledText/index.tsx
  packages/react-components/react-migration-v0-v9/src/index.ts
Labels: Area: Website

#26942 feature: introduces `inertTrapfocus` property and deprecates `legacyTrapFocus`
  change/@fluentui-react-dialog-38f69b56-be72-4380-8325-4fa430483d93.json
  change/@fluentui-react-popover-c8f02f2c-1573-4b58-b7b2-e75b0ca9eb74.json
  packages/react-components/react-dialog/etc/react-dialog.api.md
  packages/react-components/react-dialog/src/components/Dialog/Dialog.cy.tsx
  packages/react-components/react-dialog/src/components/Dialog/Dialog.types.ts
  packages/react-components/react-dialog/src/components/Dialog/useDialog.ts
  packages/react-components/react-dialog/src/components/Dialog/useDialogContextValues.ts
  packages/react-components/react-dialog/src/components/DialogSurface/useDialogSurface.ts
  packages/react-components/react-dialog/src/contexts/dialogContext.ts
  packages/react-components/react-dialog/src/testing/mockUseDialogContext.ts
  packages/react-components/react-popover/etc/react-popover.api.md
  packages/react-components/react-popover/src/components/Popover/Popover.cy.tsx
  packages/react-components/react-popover/src/components/Popover/Popover.types.ts
  packages/react-components/react-popover/src/components/Popover/renderPopover.tsx
  packages/react-components/react-popover/src/components/PopoverSurface/__snapshots__/PopoverSurface.test.tsx.snap
  packages/react-components/react-popover/src/components/PopoverSurface/usePopoverSurface.ts
  packages/react-components/react-popover/src/popoverContext.ts
Labels: Component: Dialog

#27028 MenuItem : fixed hover styles for icon in disabled state
  change/@fluentui-react-menu-717c921e-0137-46b9-abcf-70b9c7c5417a.json
  packages/react-components/react-menu/src/components/MenuItem/useMenuItemStyles.ts
Labels: Component: Menu

#26900 web component Radio and RadioGroup spec
  change/@fluentui-web-components-465472d4-4754-436c-b2eb-4e6931b79ed1.json
  packages/web-components/src/radio-group/README.md
  packages/web-components/src/radio/README.md
Labels: web-components

#27013 fix: Fix border styling for buttons in Calendar and fix arrow navigation in CalendarDayGrid and CalendarMonthPicker
  packages/react-components/react-datepicker/src/components/Calendar/useCalendarStyles.ts
  packages/react-components/react-datepicker/src/components/CalendarDay/CalendarDay.tsx
  packages/react-components/react-datepicker/src/components/CalendarDay/useCalendarDayStyles.ts
  packages/react-components/react-datepicker/src/components/CalendarDayGrid/CalendarDayGrid.tsx
  packages/react-components/react-datepicker/src/components/CalendarDayGrid/CalendarGridDayCell.tsx
  packages/react-components/react-datepicker/src/components/CalendarDayGrid/CalendarMonthHeaderRow.tsx
  packages/react-components/react-datepicker/src/components/CalendarMonth/CalendarMonth.tsx
  packages/react-components/react-datepicker/src/components/CalendarPicker/useCalendarPickerStyles.ts
  packages/react-components/react-datepicker/src/components/DatePicker/useDatePicker.tsx
Labels: Component: DatePicker, Component: Calendar, Fluent UI react-components (v9)

#27038 Progressbar hcm fix
  change/@fluentui-react-progress-49f06c1a-af71-4b94-8699-acf18cdc1b08.json
  packages/react-components/react-progress/src/components/ProgressBar/useProgressBarStyles.ts
  packages/react-components/react-progress/stories/ProgressBar/ProgressBarBestPractices.md
Labels: Area: Accessibility, Component: Progress

#21756 RFC: how to disable animations
  rfcs/react-components/convergence/assets/teams_disable_animations.png
  rfcs/react-components/convergence/disabling-animations.md
Labels: Type: RFC

#26594 feat(react-recipes): Adding MediaObject recipe and Example template
  apps/recipes-react-components/src/recipes/media-object/MediaObject.stories.mdx
  apps/recipes-react-components/src/recipes/media-object/code-snippets/MediaObject.tsx
  apps/recipes-react-components/src/recipes/media-object/code-snippets/index.ts
  apps/recipes-react-components/src/templates/Example.tsx
  apps/recipes-react-components/src/templates/index.ts
Labels: Fluent UI react-components (v9), Area: Recipes

#27051 chore(codeowners): Update owners from fluentui-react-build to fluentui-react
  .github/CODEOWNERS
Labels: Fluent UI react-components (v9), Area: Recipes

#26970 Presence Badge: Updated colour for unknown variant
  change/@fluentui-react-badge-9bca85ef-92f0-4380-9935-5bb1a34927a6.json
  packages/react-components/react-badge/src/components/PresenceBadge/usePresenceBadgeStyles.ts
Labels: Component: PresenceBadge

#25396 feat: extract Fluent CDN resource URL to existing package to make it overrideable
  change/@fluentui-font-icons-mdl2-9d4619ab-bbec-48fc-ba00-2d2d4717d321.json
  change/@fluentui-react-experiments-55937848-9730-4fdf-a251-12d802fd1e3e.json
  change/@fluentui-react-file-type-icons-a85554ca-d6c8-4159-9b42-d58b682d3ce4.json
  change/@fluentui-style-utilities-e4728551-d002-44e3-b94b-79d70705e826.json
  packages/font-icons-mdl2/src/index.ts
  packages/react-examples/src/react-experiments/TilesList/TilesList.Document.Example.tsx
  packages/react-experiments/src/components/FolderCover/initializeFolderCovers.tsx
  packages/react-file-type-icons/src/getFileTypeIconAsHTMLString.test.ts
  packages/react-file-type-icons/src/initializeFileTypeIcons.tsx
  packages/style-utilities/etc/style-utilities.api.md
  packages/style-utilities/src/cdn.ts
  packages/style-utilities/src/index.ts
Labels: AutoMerge

#27029 Add error handling for out of bounds Progressbar values
  change/@fluentui-react-progress-4b47f7cb-6bae-4b3e-b4b8-66c3a49f9cac.json
  packages/react-components/react-progress/src/components/ProgressBar/ProgressBar.test.tsx
  packages/react-components/react-progress/src/components/ProgressBar/useProgressBar.tsx
  packages/react-components/react-progress/src/utils/clampMax.test.ts
  packages/react-components/react-progress/src/utils/clampMax.ts
  packages/react-components/react-progress/src/utils/clampValue.test.ts
  packages/react-components/react-progress/src/utils/clampValue.ts
  packages/react-components/react-progress/src/utils/index.ts
Labels: Area: Documentation, Component: Progress

#26869 Add color palette for data visualization
  change/@fluentui-react-charting-5effb735-0b32-427d-8ec1-8bfc63a1c445.json
  packages/react-charting/docs/colors.md
  packages/react-charting/docs/images/colors/1.png
  packages/react-charting/docs/images/colors/2.png
  packages/react-charting/src/components/AreaChart/AreaChart.base.tsx
  packages/react-charting/src/components/AreaChart/AreaChart.test.tsx
  packages/react-charting/src/components/AreaChart/__snapshots__/AreaChart.test.tsx.snap
  packages/react-charting/src/components/LineChart/LineChart.base.tsx
  packages/react-charting/src/components/LineChart/LineChart.test.tsx
  packages/react-charting/src/components/LineChart/__snapshots__/LineChart.test.tsx.snap
  packages/react-charting/src/index.ts
  packages/react-charting/src/types/IDataPoint.ts
  packages/react-charting/src/utilities/colors.ts
  packages/react-charting/src/utilities/index.ts
  packages/react-examples/src/react-charting/AreaChart/AreaChart.Multiple.Example.tsx
  packages/react-examples/src/react-charting/LineChart/LineChart.Multiple.Example.tsx
Labels: Package: charting

#27053 chore(react-datepicker-compat): First pass cleanup for react-datepicker-compat
  packages/react-components/react-datepicker-compat/src/components/Calendar/Calendar.styles.ts.ignore
  packages/react-components/react-datepicker-compat/src/components/Calendar/__snapshots__/Calendar.test.tsx.snap
  packages/react-components/react-datepicker-compat/src/components/Calendar/renderCalendar.tsx.ignore
  packages/react-components/react-datepicker-compat/src/components/Calendar/useCalendar.ts.ignore
  packages/react-components/react-datepicker-compat/src/components/CalendarDay/CalendarDay.styles.ts.ignore
  packages/react-components/react-datepicker-compat/src/components/CalendarDay/renderCalendarDay.tsx.ignore
  packages/react-components/react-datepicker-compat/src/components/CalendarDay/useCalendarDay.ts.ignore
  packages/react-components/react-datepicker-compat/src/components/CalendarDayGrid/CalendarDayGrid.styles.ts.ignore
  packages/react-components/react-datepicker-compat/src/components/CalendarDayGrid/renderCalendarDayGrid.tsx.ignore
  packages/react-components/react-datepicker-compat/src/components/CalendarDayGrid/useCalendarDayGrid.ts.ignore
  packages/react-components/react-datepicker-compat/src/components/CalendarMonth/CalendarMonth.styles.ts.ignore
  packages/react-components/react-datepicker-compat/src/components/CalendarMonth/renderCalendarMonth.tsx.ignore
  packages/react-components/react-datepicker-compat/src/components/CalendarMonth/useCalendarMonth.ts.ignore
  packages/react-components/react-datepicker-compat/src/components/CalendarPicker/CalendarPicker.styles.ts.ignore
  packages/react-components/react-datepicker-compat/src/components/CalendarPicker/CalendarPicker.tsx.ignore
  packages/react-components/react-datepicker-compat/src/components/CalendarPicker/renderCalendarPicker.tsx.ignore
  packages/react-components/react-datepicker-compat/src/components/CalendarPicker/useCalendarPicker.ts.ignore
  packages/react-components/react-datepicker-compat/src/components/CalendarYear/CalendarYear.styles.ts.ignore
  packages/react-components/react-datepicker-compat/src/components/CalendarYear/renderCalendarYear.tsx.ignore
  packages/react-components/react-datepicker-compat/src/components/CalendarYear/useCalendarYear.ts.ignore
  packages/react-components/react-datepicker-compat/src/components/DatePicker/__snapshots__/DatePicker.test.tsx.snap
  packages/react-components/react-datepicker-compat/stories/CalendarDay/CalendarDayBestPractices.md
  packages/react-components/react-datepicker-compat/stories/CalendarDay/CalendarDayDefault.stories.tsx
  packages/react-components/react-datepicker-compat/stories/CalendarDay/CalendarDayDescription.md
  packages/react-components/react-datepicker-compat/stories/CalendarDay/index.stories.tsx
  packages/react-components/react-datepicker-compat/stories/CalendarDayGrid/CalendarDayGridBestPractices.md
  packages/react-components/react-datepicker-compat/stories/CalendarDayGrid/CalendarDayGridDefault.stories.tsx
  packages/react-components/react-datepicker-compat/stories/CalendarDayGrid/CalendarDayGridDescription.md
  packages/react-components/react-datepicker-compat/stories/CalendarDayGrid/index.stories.tsx
  packages/react-components/react-datepicker-compat/stories/CalendarMonth/CalendarMonthBestPractices.md
  packages/react-components/react-datepicker-compat/stories/CalendarMonth/CalendarMonthDefault.stories.tsx
  packages/react-components/react-datepicker-compat/stories/CalendarMonth/CalendarMonthDescription.md
  packages/react-components/react-datepicker-compat/stories/CalendarMonth/index.stories.tsx
  packages/react-components/react-datepicker-compat/stories/CalendarPicker/CalendarPickerBestPractices.md
  packages/react-components/react-datepicker-compat/stories/CalendarPicker/CalendarPickerDefault.stories.tsx
  packages/react-components/react-datepicker-compat/stories/CalendarPicker/CalendarPickerDescription.md
  packages/react-components/react-datepicker-compat/stories/CalendarPicker/index.stories.tsx
  packages/react-components/react-datepicker-compat/stories/CalendarYear/CalendarYearBestPractices.md
  packages/react-components/react-datepicker-compat/stories/CalendarYear/CalendarYearDefault.stories.tsx
  packages/react-components/react-datepicker-compat/stories/CalendarYear/CalendarYearDescription.md
  packages/react-components/react-datepicker-compat/stories/CalendarYear/index.stories.tsx
Labels: Fluent UI react-components (v9), Component: DatePickerCompat

#27040 chore(VRT Pipelines): remove unneeded variables from yml files
  .devops/templates/runpublishvrscreenshot.yml
  azure-pipelines.vrt-baseline.yml
  azure-pipelines.vrt-pr.yml
Labels: Area: Build System

#27107 fix: Datepicker indicators should be visible in high contrast mode
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/themes/teams-forced-colors/componentStyles.ts
  packages/fluentui/react-northstar/src/themes/teams-forced-colors/components/Datepicker/datepickerCalendarCellButtonStyles.ts
  packages/fluentui/react-northstar/src/themes/teams-forced-colors/components/Datepicker/datepickerCalendarCellStyles.ts
  packages/fluentui/react-northstar/src/themes/teams-forced-colors/components/Datepicker/datepickerCalendarGridRowStyles.ts
Labels: Fluent UI react-northstar

#27095 fix(react-utilities): adjust IntrinsicElementProps type to properly support void elements
  change/@fluentui-react-utilities-df14dd64-64ee-4c93-9065-d048bc306cb2.json
  packages/react-components/react-utilities/etc/react-utilities.api.md
  packages/react-components/react-utilities/src/compose/types.ts
Labels: Package: utilities, Fluent UI react-components (v9)

#21646 Fixing TextDocumentSettingsIcon size #21645
  change/@fluentui-react-icons-mdl2-cde5eb5f-56eb-49e1-a5e4-c28fe64e0c63.json
  packages/react-icons-mdl2/src/components/TextDocumentSettingsIcon.tsx
Labels: Area: Icons, Resolution: Soft Close

#27101 Fix styling to allow Progressbar to have width when display is flex
  change/@fluentui-react-progress-dc31d0f2-6038-4cbf-bbc0-5b1aadf202c7.json
  packages/react-components/react-progress/src/components/ProgressBar/useProgressBarStyles.ts
Labels: Component: Progress

#25447 docs: Adding Skeleton SPEC
  packages/react-components/react-skeleton/SPEC.md
Labels: Fluent UI react-components (v9), Type: Spec, Component: Skeleton

#27127 Fix sev1 tabs accessibility
  change/@fluentui-react-tabs-106a456b-4f3d-457f-93f2-c6bd95ad999e.json
  packages/react-components/react-tabs/src/components/Tab/useTabStyles.ts
Labels: Area: Accessibility, Priority 1: High, Component: TabList

#27129 fix: [text] block breaks the style attribute
  change/@fluentui-web-components-91a1543a-10b0-4b10-9d32-0535f7a8e631.json
  packages/web-components/src/text/text.styles.ts
Labels: web-components

#27124 Update data viz palette
  change/@fluentui-react-charting-3c0c465a-d33e-4b07-b943-28c3565f13ae.json
  packages/react-charting/docs/colors.md
  packages/react-charting/docs/images/colors/1.png
  packages/react-charting/docs/images/colors/2.png
  packages/react-charting/docs/images/colors/3.png
  packages/react-charting/docs/images/colors/4.png
  packages/react-charting/docs/images/colors/5.png
  packages/react-charting/src/utilities/colors.ts
Labels: Package: charting

#27047 feat(react-tree): implements roving tabIndex navigation
  packages/react-components/react-tree/etc/react-tree.api.md
  packages/react-components/react-tree/src/components/Tree/Tree.types.ts
  packages/react-components/react-tree/src/components/Tree/useTree.ts
  packages/react-components/react-tree/src/components/TreeItem/__snapshots__/TreeItem.test.tsx.snap
  packages/react-components/react-tree/src/components/TreeItem/useTreeItem.tsx
  packages/react-components/react-tree/src/hooks/index.ts
  packages/react-components/react-tree/src/hooks/useFlatTreeItems.ts
  packages/react-components/react-tree/src/hooks/useFlatTreeNavigation.ts
  packages/react-components/react-tree/src/hooks/useHTMLElementWalker.ts
  packages/react-components/react-tree/src/hooks/useNestedTreeNavigation.ts
  packages/react-components/react-tree/src/hooks/useRovingTabIndexes.ts
  packages/react-components/react-tree/src/hooks/useTreeItemWalker.ts
  packages/react-components/react-tree/src/utils/assert.ts
  packages/react-components/react-tree/src/utils/nextTypeAheadElement.ts
  packages/react-components/react-tree/src/utils/treeItemFilter.ts
Labels: Fluent UI react-components (v9), Component: Tree

#27137 fix: SplitButton should display correctly in high contrast mode
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/themes/teams-forced-colors/componentStyles.ts
  packages/fluentui/react-northstar/src/themes/teams-forced-colors/components/SplitButton/splitButtonDividerStyles.ts
  packages/fluentui/react-northstar/src/themes/teams-forced-colors/components/SplitButton/splitButtonToggleStyles.ts
Labels: Fluent UI react-northstar

#27133 chore(react-datepicker-compat): Add tests for CalendarDayGrid
  packages/react-components/react-datepicker-compat/etc/react-datepicker-compat.api.md
  packages/react-components/react-datepicker-compat/src/components/CalendarDayGrid/CalendarDayGrid.test.tsx
  packages/react-components/react-datepicker-compat/src/components/CalendarDayGrid/CalendarDayGrid.test.tsx.ignore
  packages/react-components/react-datepicker-compat/src/components/CalendarDayGrid/CalendarDayGrid.tsx
  packages/react-components/react-datepicker-compat/src/components/CalendarDayGrid/index.ts
  packages/react-components/react-datepicker-compat/src/index.ts
Labels: Fluent UI react-components (v9), Component: DatePickerCompat

#27116 Add unit and vr tests for Skeleton
  apps/vr-tests-react-components/package.json
  apps/vr-tests-react-components/src/stories/Skeleton.stories.tsx
  apps/vr-tests-react-components/src/utilities/TestWrapperDecorator.tsx
  packages/react-components/react-skeleton/src/components/Skeleton/Skeleton.test.tsx
  packages/react-components/react-skeleton/src/components/SkeletonItem/useSkeletonItemStyles.ts
Labels: Component: Skeleton

#27114 feat(Datepicker): Disabled buttons should be green in HC theme
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/themes/teams-high-contrast/components/Datepicker/datepickerCalendarCellButtonVariables.ts
  packages/fluentui/react-northstar/src/themes/teams-high-contrast/components/Datepicker/datepickerCalendarCellVariables.ts
Labels: Fluent UI react-northstar

#27134 chore(react-datepicker-compat): Add tests for Calendar and cleanup rest of calendar components folders
  packages/react-components/react-datepicker-compat/etc/react-datepicker-compat.api.md
  packages/react-components/react-datepicker-compat/src/components/Calendar/Calendar.test.tsx
  packages/react-components/react-datepicker-compat/src/components/Calendar/Calendar.test.tsx.ignore
  packages/react-components/react-datepicker-compat/src/components/Calendar/Calendar.tsx
  packages/react-components/react-datepicker-compat/src/components/Calendar/index.ts
  packages/react-components/react-datepicker-compat/src/components/CalendarDay/CalendarDay.test.tsx.ignore
  packages/react-components/react-datepicker-compat/src/components/CalendarMonth/CalendarMonth.test.tsx.ignore
  packages/react-components/react-datepicker-compat/src/components/CalendarPicker/CalendarPicker.test.tsx.ignore
  packages/react-components/react-datepicker-compat/src/components/CalendarYear/CalendarYear.test.tsx.ignore
  packages/react-components/react-datepicker-compat/src/index.ts
Labels: Fluent UI react-components (v9), Component: DatePickerCompat

#27150 release react-skeleton to unstable
  apps/vr-tests-react-components/package.json
  change/@fluentui-react-components-ca735f67-c02d-4345-bee6-82bf113f16a4.json
  change/@fluentui-react-skeleton-81969227-cd69-45ea-b114-38be731418ac.json
  packages/react-components/react-components/etc/react-components.unstable.api.md
  packages/react-components/react-components/package.json
  packages/react-components/react-components/src/unstable/index.ts
  packages/react-components/react-skeleton/package.json
  packages/react-components/react-skeleton/stories/Skeleton/SkeletonDescription.md
Labels: Component: Skeleton

#27161 feat(react-utilities): isHTMLElement to support all HTMLElement classes
  change/@fluentui-react-menu-f76e8e18-42bd-4e30-92ec-977d7132c7aa.json
  change/@fluentui-react-positioning-0ba7f9d3-aa7a-40eb-a354-b88eb83ee05b.json
  change/@fluentui-react-radio-685f2015-ef46-4d86-bedb-154b6516ec96.json
  change/@fluentui-react-utilities-ac521080-1e70-44d9-a0d6-2293af91ef5e.json
  packages/react-components/react-menu/src/components/MenuTrigger/useMenuTrigger.ts
  packages/react-components/react-positioning/src/createPositionManager.ts
  packages/react-components/react-positioning/src/utils/toggleScrollListener.ts
  packages/react-components/react-radio/src/components/RadioGroup/useRadioGroup.ts
  packages/react-components/react-utilities/etc/react-utilities.api.md
  packages/react-components/react-utilities/src/utils/isHTMLElement.test.ts
  packages/react-components/react-utilities/src/utils/isHTMLElement.ts
Labels: Package: utilities, Fluent UI react-components (v9), Component: RadioGroup

#26956 feat: Table - Support for keyboard accessibility
  change/@fluentui-react-table-c158e951-e31e-483d-ac7e-1cb58e6c0a2d.json
  packages/react-components/react-table/etc/react-table.api.md
  packages/react-components/react-table/src/components/DataGrid/DataGrid.types.ts
  packages/react-components/react-table/src/components/DataGrid/useDataGrid.ts
  packages/react-components/react-table/src/components/DataGridRow/DataGridRow.types.ts
  packages/react-components/react-table/src/components/DataGridRow/renderDataGridRow.tsx
  packages/react-components/react-table/src/components/DataGridRow/useDataGridRow.tsx
  packages/react-components/react-table/src/hooks/types.ts
  packages/react-components/react-table/src/hooks/useKeyboardResizing.ts
  packages/react-components/react-table/src/hooks/useTableColumnResizeState.ts
  packages/react-components/react-table/src/hooks/useTableColumnSizing.test.ts
  packages/react-components/react-table/src/hooks/useTableColumnSizing.tsx
  packages/react-components/react-table/stories/DataGrid/KeyboardColumnResizing.stories.tsx
  packages/react-components/react-table/stories/DataGrid/index.stories.tsx
  packages/react-components/react-table/stories/Table/KeyboardColumnResizing.stories.tsx
  packages/react-components/react-table/stories/Table/index.stories.tsx
Labels: Area: Accessibility, Component: Table

#27181 docs(react-card): fix card readme description
  change/@fluentui-react-card-0a817d2d-d46b-4895-b3bb-29566bf747fa.json
  packages/react-components/react-card/README.md
Labels: Type: Documentation, Component: Card

#27190 (web-components): add css containment to v3 components
  change/@fluentui-web-components-904258a8-cd16-4d42-be2e-d6179a4afd76.json
  packages/web-components/src/accordion-item/accordion-item.styles.ts
  packages/web-components/src/accordion/accordion.styles.ts
  packages/web-components/src/avatar/avatar.styles.ts
  packages/web-components/src/divider/divider.styles.ts
  packages/web-components/src/image/image.styles.ts
  packages/web-components/src/progress-bar/progress-bar.styles.ts
  packages/web-components/src/spinner/spinner.styles.ts
  packages/web-components/src/styles/partials/badge.partials.ts
  packages/web-components/src/switch/switch.styles.ts
  packages/web-components/src/text/text.styles.ts
Labels: web-components

#27009 RFC: Extend `mountNode` prop in `Portal`
  rfcs/react-components/components/portal-mount-node.md
Labels: Type: RFC

#27185 docs(react-card): move card out of preview
  packages/react-components/react-card/stories/Card/index.stories.tsx
  packages/react-components/react-card/stories/CardFooter/index.stories.tsx
  packages/react-components/react-card/stories/CardHeader/index.stories.tsx
  packages/react-components/react-card/stories/CardPreview/index.stories.tsx
Labels: Type: Documentation, Component: Card

#27041 Add JSDoc for tabster focus indicator selector
  change/@fluentui-react-tabster-c7f8c111-451a-4f17-bb36-8e8aa2fe1e8a.json
  packages/react-components/react-tabster/etc/react-tabster.api.md
  packages/react-components/react-tabster/src/focus/createCustomFocusIndicatorStyle.ts
Labels: Type: Documentation

#27087 Added documentation about custom style hooks
  apps/public-docsite-v9/src/Concepts/Migration/KeepingDesignConsistent.stories.mdx
Labels: Area: Website

#27204 fix(react-datepicker-compat): Fix text entry issues with input
  packages/react-components/react-datepicker-compat/src/components/DatePicker/renderDatePicker.tsx
  packages/react-components/react-datepicker-compat/src/components/DatePicker/useDatePicker.tsx
Labels: Fluent UI react-components (v9), Component: DatePickerCompat

#27163 chore: Prepare release 0.66.4
  apps/public-docsite-v9/package.json
  packages/fluentui/CHANGELOG.md
  packages/fluentui/ability-attributes/package.json
  packages/fluentui/accessibility/package.json
  packages/fluentui/circulars-test/package.json
  packages/fluentui/code-sandbox/package.json
  packages/fluentui/digest/package.json
  packages/fluentui/docs-components/package.json
  packages/fluentui/docs/package.json
  packages/fluentui/e2e/package.json
  packages/fluentui/lerna.json
  packages/fluentui/local-sandbox/package.json
  packages/fluentui/perf-test-northstar/package.json
  packages/fluentui/perf/package.json
  packages/fluentui/projects-test/package.json
  packages/fluentui/react-bindings/package.json
  packages/fluentui/react-builder/package.json
  packages/fluentui/react-component-event-listener/package.json
  packages/fluentui/react-component-nesting-registry/package.json
  packages/fluentui/react-component-ref/package.json
  packages/fluentui/react-icons-northstar/package.json
  packages/fluentui/react-northstar-emotion-renderer/package.json
  packages/fluentui/react-northstar-fela-renderer/package.json
  packages/fluentui/react-northstar-prototypes/package.json
  packages/fluentui/react-northstar-styles-renderer/package.json
  packages/fluentui/react-northstar/package.json
  packages/fluentui/react-proptypes/package.json
  packages/fluentui/react-telemetry/package.json
  packages/fluentui/state/package.json
  packages/fluentui/styles/package.json
  packages/react-components/react-migration-v0-v9/package.json
Labels: Fluent UI react-northstar

#27034 feat(tokens): Add colorNeutralBackgroundAlpha and colorNeutralStrokeAlpha tokens
  apps/public-docsite-v9/src/shims/ThemeShim/themeDuplicates.ts
  apps/public-docsite-v9/src/shims/ThemeShim/v9ThemeShim.ts
  change/@fluentui-react-migration-v8-v9-daf3e7a9-933f-46b2-8b57-d229db417da9.json
  change/@fluentui-react-theme-sass-4bdf2baf-feb1-440f-8668-e0dbfe237205.json
  change/@fluentui-tokens-86792b1a-5f16-4f70-b208-7a2d6f471f33.json
  packages/react-components/react-migration-v8-v9/src/components/Theme/themeDuplicates.ts
  packages/react-components/react-migration-v8-v9/src/components/Theme/v9ThemeShim.ts
  packages/react-components/react-theme-sass/sass/colorTokens.scss
  packages/tokens/etc/tokens.api.md
  packages/tokens/src/alias/darkColor.ts
  packages/tokens/src/alias/highContrastColor.ts
  packages/tokens/src/alias/lightColor.ts
  packages/tokens/src/alias/teamsDarkColor.ts
  packages/tokens/src/global/colors.ts
  packages/tokens/src/tokens.ts
  packages/tokens/src/types.ts
Labels: Component: Theme, Fluent UI react-components (v9)

#27152 fix(tools): update migrate-converged generator to add node field to package.json exports map
  tools/generators/migrate-converged-pkg/index.spec.ts
  tools/generators/migrate-converged-pkg/index.ts
  tools/types.ts
Labels: Area: Build System

#27230 fix(DialogBody): Remove `maxWidth` style
  change/@fluentui-react-dialog-265d3f30-f8c2-4813-89cd-389f8b99d67c.json
  packages/react-components/react-dialog/src/components/DialogBody/useDialogBodyStyles.ts
Labels: Component: Dialog

#27231 fix(getSlots): stops slotProps.slot to be typed as never
  change/@fluentui-react-utilities-b426918d-10c6-4a75-ada8-22a181ac8670.json
  packages/react-components/react-utilities/src/compose/getSlots.ts
Labels: Package: utilities, Fluent UI react-components (v9)

#27229 feat(DialogActions): Implement `fluid` prop
  apps/vr-tests-react-components/src/stories/Dialog/Dialog.stories.tsx
  change/@fluentui-react-dialog-aa5a8af5-a05d-460d-88d5-6126197983f6.json
  packages/react-components/react-dialog/etc/react-dialog.api.md
  packages/react-components/react-dialog/src/components/DialogActions/DialogActions.types.ts
  packages/react-components/react-dialog/src/components/DialogActions/useDialogActions.ts
  packages/react-components/react-dialog/src/components/DialogActions/useDialogActionsStyles.ts
  packages/react-components/react-dialog/stories/Dialog/DialogFluidDialogActions.md
  packages/react-components/react-dialog/stories/Dialog/DialogFluidDialogActions.stories.tsx
  packages/react-components/react-dialog/stories/Dialog/index.stories.tsx
Labels: Component: Dialog

#27178 feat(eslint-plugin): rule to ban usage of instanceof HTMLElement
  change/@fluentui-eslint-plugin-9788e3e7-808d-4201-b04e-cead71f27b9e.json
  change/@fluentui-react-utilities-851262b0-ac71-4e89-ae48-e53733715e8a.json
  packages/eslint-plugin/README.md
  packages/eslint-plugin/src/configs/react.js
  packages/eslint-plugin/src/index.js
  packages/eslint-plugin/src/rules/ban-instanceof-html-element/index.js
  packages/eslint-plugin/src/rules/ban-instanceof-html-element/index.test.js
  packages/react-components/react-components/stories/Concepts/Positioning/PositioningImperativeAnchorTarget.stories.tsx
  packages/react-components/react-utilities/etc/react-utilities.api.md
  packages/react-components/react-utilities/src/utils/isHTMLElement.test.ts
  packages/react-components/react-utilities/src/utils/isHTMLElement.ts
Labels: Fluent UI react-components (v9), Package: eslint-plugin

#27210 fix(react-datepicker-compat): Fix popover trigger issues with input
  packages/react-components/react-datepicker-compat/etc/react-datepicker-compat.api.md
  packages/react-components/react-datepicker-compat/package.json
  packages/react-components/react-datepicker-compat/src/components/DatePicker/DatePicker.test.tsx
  packages/react-components/react-datepicker-compat/src/components/DatePicker/DatePicker.types.ts
  packages/react-components/react-datepicker-compat/src/components/DatePicker/__snapshots__/DatePicker.test.tsx.snap
  packages/react-components/react-datepicker-compat/src/components/DatePicker/renderDatePicker.tsx
  packages/react-components/react-datepicker-compat/src/components/DatePicker/useDatePicker.tsx
  packages/react-components/react-datepicker-compat/src/components/DatePicker/useDatePickerStyles.ts
Labels: Component: DatePicker, Component: Calendar, Fluent UI react-components (v9), Component: DatePickerCompat

#26527 feat(tools): scripts and generator updates to enable SWC transpilation for v9 packages
  .babelrc-v9.json
  .github/CODEOWNERS
  package.json
  scripts/tasks/src/babel.ts
  scripts/tasks/src/generate-api.ts
  scripts/tasks/src/presets.ts
  scripts/tasks/src/sass.ts
  scripts/tasks/src/swc.ts
  tools/generators/migrate-converged-pkg/index.spec.ts
  tools/generators/migrate-converged-pkg/index.ts
  tools/utils.ts
  yarn.lock
Labels: Area: Build System

#27240 chore: Add a Field story showing a disabled control inside a Field
  packages/react-components/react-field/stories/Field/FieldDisabled.stories.tsx
  packages/react-components/react-field/stories/Field/index.stories.tsx
Labels: Component: Field

#27100 chore: Bumping version of @fluentui/react-icons to ^2.0.196
  apps/recipes-react-components/package.json
  apps/stress-test/package.json
  apps/vr-tests-react-components/package.json
  change/@fluentui-react-accordion-217527af-34fb-4fc6-8ecd-9b1842bf7f4e.json
  change/@fluentui-react-alert-5874c49d-957b-4abe-9d3e-b73f1466152f.json
  change/@fluentui-react-avatar-e0a929f9-5a09-4cd2-b26e-c8984763fb0b.json
  change/@fluentui-react-badge-85891f3f-7f07-4f17-9a70-b45ce6996553.json
  change/@fluentui-react-button-8d4af8d2-e829-406a-aec1-b665ccdc40c2.json
  change/@fluentui-react-checkbox-cb0c441f-f7aa-43e7-b082-334e1789c1d8.json
  change/@fluentui-react-combobox-8c16bfe8-abf8-43dc-9703-32f05ff988ff.json
  change/@fluentui-react-dialog-b02bac35-5343-4020-a6b8-af5e51e2233b.json
  change/@fluentui-react-field-10e8b026-e0fd-417d-9696-5cf4a60aa487.json
  change/@fluentui-react-infobutton-001f31ff-33e3-4b05-95d4-912d3d1b06a2.json
  change/@fluentui-react-menu-98143913-08f7-4159-97e8-edb56574827d.json
  change/@fluentui-react-migration-v8-v9-dae08363-91cc-4163-bfaa-73922e4e957a.json
  change/@fluentui-react-radio-6c054be4-835e-4306-94c3-ec7b2bf977be.json
  change/@fluentui-react-select-dfa0f493-e946-496e-a12c-38e6d8292750.json
  change/@fluentui-react-spinbutton-fd4da70f-0077-487a-bff9-056d52461a5a.json
  change/@fluentui-react-switch-a6605399-9a4d-43ba-b20c-de192be7fa12.json
  change/@fluentui-react-table-ba21a54b-29ab-4719-8b84-339eb6941cdd.json
  change/@fluentui-react-tree-7561f5ca-d176-428a-82ea-1844dc4ec5a4.json
  package.json
  packages/react-components/react-accordion/package.json
  packages/react-components/react-accordion/src/components/AccordionHeader/__snapshots__/AccordionHeader.test.tsx.snap
  packages/react-components/react-alert/package.json
  packages/react-components/react-avatar/package.json
  packages/react-components/react-badge/package.json
  packages/react-components/react-badge/src/components/PresenceBadge/__snapshots__/PresenceBadge.test.tsx.snap
  packages/react-components/react-button/package.json
  packages/react-components/react-checkbox/package.json
  packages/react-components/react-checkbox/src/components/Checkbox/__snapshots__/Checkbox.test.tsx.snap
  packages/react-components/react-combobox/package.json
  packages/react-components/react-combobox/src/components/Combobox/__snapshots__/Combobox.test.tsx.snap
  packages/react-components/react-combobox/src/components/Dropdown/__snapshots__/Dropdown.test.tsx.snap
  packages/react-components/react-combobox/src/components/Listbox/__snapshots__/Listbox.test.tsx.snap
  packages/react-components/react-combobox/src/components/Option/__snapshots__/Option.test.tsx.snap
  packages/react-components/react-datepicker-compat/package.json
  packages/react-components/react-datepicker-compat/src/components/DatePicker/__snapshots__/DatePicker.test.tsx.snap
  packages/react-components/react-dialog/package.json
  packages/react-components/react-field/package.json
  packages/react-components/react-infobutton/package.json
  packages/react-components/react-menu/package.json
  packages/react-components/react-menu/src/components/MenuItemCheckbox/__snapshots__/MenuItemCheckbox.test.tsx.snap
  packages/react-components/react-menu/src/components/MenuItemRadio/__snapshots__/MenuItemRadio.test.tsx.snap
  packages/react-components/react-migration-v0-v9/package.json
  packages/react-components/react-migration-v8-v9/package.json
  packages/react-components/react-radio/package.json
  packages/react-components/react-select/package.json
  packages/react-components/react-select/src/components/Select/__snapshots__/Select.test.tsx.snap
  packages/react-components/react-spinbutton/package.json
  packages/react-components/react-switch/package.json
  packages/react-components/react-table/package.json
  packages/react-components/react-tabs/src/components/Tab/__snapshots__/Tab.test.tsx.snap
  packages/react-components/react-tree/package.json
  packages/react-components/theme-designer/package.json
  yarn.lock
Labels: dependencies

#27258 fix(MenuItem): Disabled should render correctly in high contrast mode
  change/@fluentui-react-menu-417b3787-772b-41b9-90b3-9a33eb67f0eb.json
  packages/react-components/react-menu/src/components/MenuItem/useMenuItemStyles.ts
Labels: Area: Accessibility, Component: MenuItem

#27259 docs: Add vertical scenario
  packages/react-components/react-overflow/stories/Overflow/Vertical.stories.tsx
  packages/react-components/react-overflow/stories/Overflow/index.stories.tsx
Labels: Area: Documentation

#27262 chore(tools): use es2019 target instead of browser matrix target
  tools/generators/migrate-converged-pkg/index.spec.ts
  tools/generators/migrate-converged-pkg/index.ts
Labels: Area: Build System

#27266 chore: adds initial e2e cypress tests
  change/@fluentui-react-tree-d2302a0b-2907-4427-a399-61bf21221683.json
  packages/react-components/react-tree/cypress.config.ts
  packages/react-components/react-tree/package.json
  packages/react-components/react-tree/src/components/Tree/Tree.cy.tsx
  packages/react-components/react-tree/tsconfig.cy.json
  packages/react-components/react-tree/tsconfig.json
  packages/react-components/react-tree/tsconfig.lib.json
Labels: Fluent UI react-components (v9), Component: Tree

#27241 chore: Add a Field story showing how to use InfoLabel
  packages/react-components/react-field/stories/Field/FieldInfo.stories.tsx
  packages/react-components/react-field/stories/Field/index.stories.tsx
Labels: Component: Field

#27271 fix: Calculating correct gap space when Tooltips have isBeakVisible set to false
  change/@fluentui-react-e7f2fdce-71e5-4275-94d7-74ec2b947f78.json
  packages/react/src/components/Tooltip/Tooltip.base.tsx
Labels: Component: Tooltip, Fluent UI react (v8)

#27282 chore(react-dialog): removes native dialog types
  change/@fluentui-react-dialog-299ad8d3-d339-460e-8e78-cb3547dab151.json
  packages/react-components/react-dialog/etc/react-dialog.api.md
  packages/react-components/react-dialog/src/components/DialogSurface/DialogSurface.types.ts
  packages/react-components/react-dialog/src/components/DialogSurface/useDialogSurface.ts
Labels: Component: Dialog, Fluent UI react-components (v9)

#27260 chore(react-tree): improves internals mechanism to ensure memoization
  change/@fluentui-react-tree-89f19219-0b67-4665-9c23-7389bc30ac19.json
  packages/react-components/react-tree/etc/react-tree.api.md
  packages/react-components/react-tree/src/components/Tree/Tree.types.ts
  packages/react-components/react-tree/src/components/TreeItem/TreeItem.test.tsx
  packages/react-components/react-tree/src/components/TreeItem/TreeItem.types.ts
  packages/react-components/react-tree/src/contexts/treeContext.ts
  packages/react-components/react-tree/src/hooks/useFlatTree.ts
  packages/react-components/react-tree/src/hooks/useFlatTreeNavigation.ts
  packages/react-components/react-tree/src/hooks/useOpenItemsState.ts
  packages/react-components/react-tree/src/index.ts
  packages/react-components/react-tree/src/utils/createFlatTreeItems.ts
  packages/react-components/react-tree/src/utils/createUnfilteredFlatTree.ts
  packages/react-components/react-tree/src/utils/createVisibleFlatTree.ts
  packages/react-components/react-tree/stories/Tree/Virtualization.stories.tsx
Labels: Fluent UI react-components (v9), Component: Tree

#27293 Using Indent for Menu
  packages/web-components/src/menu-item/menu-item.styles.ts
  packages/web-components/src/menu-item/menu-item.ts
  packages/web-components/src/menu/menu.stories.ts
  packages/web-components/src/menu/menu.ts
Labels: web-components

#27248 fix(DialogContent): adds padding to allow focus visibility
  change/@fluentui-react-dialog-b286942f-21da-4936-947b-6daf42db80ab.json
  packages/react-components/react-dialog/src/components/DialogContent/useDialogContentStyles.ts
Labels: Component: Dialog, Component: Checkbox, Fluent UI react-components (v9)

#27286 chore (scripts): update create-package plop templates to use swc/helpers in deps
  scripts/generators/create-package/plop-templates-node/package.json.hbs
  scripts/generators/create-package/plop-templates-react/package.json.hbs
Labels: Area: Build System

#27297 chore(react-datepicker-compat): Cleanup types, unused code, and restore utils tests
  packages/react-components/react-datepicker-compat/etc/react-datepicker-compat.api.md
  packages/react-components/react-datepicker-compat/src/components/Calendar/Calendar.test.tsx
  packages/react-components/react-datepicker-compat/src/components/Calendar/Calendar.tsx
  packages/react-components/react-datepicker-compat/src/components/Calendar/Calendar.types.ts
  packages/react-components/react-datepicker-compat/src/components/Calendar/defaults.ts
  packages/react-components/react-datepicker-compat/src/components/Calendar/index.ts
  packages/react-components/react-datepicker-compat/src/components/Calendar/useCalendarStyles.ts
  packages/react-components/react-datepicker-compat/src/components/CalendarDay/CalendarDay.tsx
  packages/react-components/react-datepicker-compat/src/components/CalendarDay/CalendarDay.types.ts
  packages/react-components/react-datepicker-compat/src/components/CalendarDay/index.ts
  packages/react-components/react-datepicker-compat/src/components/CalendarDay/useCalendarDayStyles.ts
  packages/react-components/react-datepicker-compat/src/components/CalendarDayGrid/CalendarDayGrid.tsx
  packages/react-components/react-datepicker-compat/src/components/CalendarDayGrid/CalendarDayGrid.types.ts
  packages/react-components/react-datepicker-compat/src/components/CalendarDayGrid/CalendarGridDayCell.tsx
  packages/react-components/react-datepicker-compat/src/components/CalendarDayGrid/CalendarGridRow.tsx
  packages/react-components/react-datepicker-compat/src/components/CalendarDayGrid/CalendarMonthHeaderRow.tsx
  packages/react-components/react-datepicker-compat/src/components/CalendarDayGrid/useAnimateBackwards.ts
  packages/react-components/react-datepicker-compat/src/components/CalendarDayGrid/useCalendarDayGridStyles.ts
  packages/react-components/react-datepicker-compat/src/components/CalendarDayGrid/useWeekCornerStyles.ts
  packages/react-components/react-datepicker-compat/src/components/CalendarDayGrid/useWeeks.ts
  packages/react-components/react-datepicker-compat/src/components/CalendarMonth/CalendarMonth.tsx
  packages/react-components/react-datepicker-compat/src/components/CalendarMonth/CalendarMonth.types.ts
  packages/react-components/react-datepicker-compat/src/components/CalendarMonth/index.ts
  packages/react-components/react-datepicker-compat/src/components/CalendarMonth/useCalendarMonthStyles.ts
  packages/react-components/react-datepicker-compat/src/components/CalendarPicker/CalendarPicker.types.ts
  packages/react-components/react-datepicker-compat/src/components/CalendarPicker/index.ts
  packages/react-components/react-datepicker-compat/src/components/CalendarPicker/useCalendarPickerStyles.ts
  packages/react-components/react-datepicker-compat/src/components/CalendarYear/CalendarYear.tsx
  packages/react-components/react-datepicker-compat/src/components/CalendarYear/CalendarYear.types.ts
  packages/react-components/react-datepicker-compat/src/components/CalendarYear/index.ts
  packages/react-components/react-datepicker-compat/src/components/CalendarYear/useCalendarYearStyles.ts
  packages/react-components/react-datepicker-compat/src/components/DatePicker/DatePicker.types.ts
  packages/react-components/react-datepicker-compat/src/components/DatePicker/useDatePicker.tsx
  packages/react-components/react-datepicker-compat/src/components/DatePicker/useDatePickerStyles.ts
  packages/react-components/react-datepicker-compat/src/index.ts
  packages/react-components/react-datepicker-compat/src/temp-utils/useRefEffect.ts
  packages/react-components/react-datepicker-compat/src/utils/constants.ts
  packages/react-components/react-datepicker-compat/src/utils/dateFormatting/dateFormatting.test.ts
  packages/react-components/react-datepicker-compat/src/utils/dateFormatting/dateFormatting.types.ts
  packages/react-components/react-datepicker-compat/src/utils/dateMath/dateMath.test.ts
  packages/react-components/react-datepicker-compat/stories/Calendar/CalendarBestPractices.md
  packages/react-components/react-datepicker-compat/stories/Calendar/CalendarDefault.stories.tsx
  packages/react-components/react-datepicker-compat/stories/Calendar/CalendarDescription.md
  packages/react-components/react-datepicker-compat/stories/Calendar/index.stories.tsx
Labels: Component: DatePicker, Component: Calendar, Fluent UI react-components (v9), Component: DatePickerCompat

#27307 docs: add section about media query sorting
  apps/public-docsite-v9/src/Concepts/AdvancedConfiguration.stories.mdx
Labels: Area: Website

#27316 chore(react-infobutton): Renaming content slot to info
  apps/perf-test-react-components/src/scenarios/InfoButton.tsx
  apps/vr-tests-react-components/src/stories/InfoButton.stories.tsx
  change/@fluentui-react-infobutton-e5984e77-89ae-4c61-85e0-984121adb4e5.json
  packages/react-components/react-infobutton/docs/Spec.md
  packages/react-components/react-infobutton/etc/react-infobutton.api.md
  packages/react-components/react-infobutton/src/components/InfoButton/InfoButton.test.tsx
  packages/react-components/react-infobutton/src/components/InfoButton/InfoButton.types.ts
  packages/react-components/react-infobutton/src/components/InfoButton/renderInfoButton.tsx
  packages/react-components/react-infobutton/src/components/InfoButton/useInfoButton.tsx
  packages/react-components/react-infobutton/src/components/InfoButton/useInfoButtonStyles.ts
  packages/react-components/react-infobutton/src/components/InfoLabel/InfoLabel.test.tsx
  packages/react-components/react-infobutton/src/components/InfoLabel/InfoLabel.types.ts
  packages/react-components/react-infobutton/src/components/InfoLabel/useInfoLabel.ts
  packages/react-components/react-infobutton/stories/InfoLabel/InfoLabelBestPractices.md
  packages/react-components/react-infobutton/stories/InfoLabel/InfoLabelDefault.stories.tsx
  packages/react-components/react-infobutton/stories/Infobutton/InfoButtonDefault.stories.tsx
  packages/react-components/react-infobutton/stories/Infobutton/InfoButtonSize.stories.tsx
Labels: Fluent UI react-components (v9), Component: DatePickerCompat

#27323 Fix: Revert #26931 change due to new bug it introduced
  change/@fluentui-react-c04deae4-a13e-45a0-8a98-b7c3f4ca4a5b.json
  packages/react/src/components/Autofill/Autofill.tsx
Labels: Component: Autofill

#27324 fix: Fix vertical alignment of inline Checkbox when checked vs. unchecked
  change/@fluentui-react-checkbox-4ebdfb9d-a372-4ce7-99f4-c66d376885b1.json
  packages/react-components/react-checkbox/src/components/Checkbox/useCheckboxStyles.ts
Labels: Component: Checkbox

#27289 docs(react-datepicker-compat, public-docsite-v9): Adding DatePicker to the public docs and cleaning current docs
  apps/public-docsite-v9/.storybook/main.js
  apps/public-docsite-v9/package.json
  packages/react-components/react-datepicker-compat/README.md
  packages/react-components/react-datepicker-compat/stories/DatePicker/DatePickerBestPractices.md
  packages/react-components/react-datepicker-compat/stories/DatePicker/DatePickerControlled.stories.tsx
  packages/react-components/react-datepicker-compat/stories/DatePicker/DatePickerCustomDateFormatting.stories.tsx
  packages/react-components/react-datepicker-compat/stories/DatePicker/DatePickerDateBoundaries.stories.tsx
  packages/react-components/react-datepicker-compat/stories/DatePicker/DatePickerDefault.stories.tsx
  packages/react-components/react-datepicker-compat/stories/DatePicker/DatePickerDescription.md
  packages/react-components/react-datepicker-compat/stories/DatePicker/DatePickerDisabled.stories.tsx
  packages/react-components/react-datepicker-compat/stories/DatePicker/DatePickerFirstDayOfTheWeek.stories.tsx
  packages/react-components/react-datepicker-compat/stories/DatePicker/DatePickerRequired.stories.tsx
  packages/react-components/react-datepicker-compat/stories/DatePicker/DatePickerTextInput.stories.tsx
  packages/react-components/react-datepicker-compat/stories/DatePicker/DatePickerWeekNumbers.stories.tsx
  packages/react-components/react-datepicker-compat/stories/DatePicker/index.stories.tsx
  scripts/storybook/src/utils.js
Labels: Area: Documentation, Fluent UI react-components (v9), Component: DatePickerCompat

#27334 fix(react-virtualizer): remove disallowed v9 react-fabric/v8 from dependencies to mitigate dep-tree creep
  change/@fluentui-react-virtualizer-32407628-78bb-4307-bbf4-d0a366f48deb.json
  packages/react-components/react-virtualizer/package.json
  packages/react-components/react-virtualizer/stories/Virtualizer/DefaultUnbounded.stories.tsx
  packages/react-components/react-virtualizer/stories/Virtualizer/MultiUnbounded.stories.tsx
  packages/react-components/react-virtualizer/stories/VirtualizerScrollView/Default.stories.tsx
Labels: Priority 1: High, Fluent UI react-components (v9)

#27326 fix(react-datepicker-compat): Fix styling for dark mode and other already broken styles
  packages/react-components/react-datepicker-compat/src/components/CalendarDayGrid/useCalendarDayGridStyles.ts
  packages/react-components/react-datepicker-compat/src/components/CalendarPicker/useCalendarPickerStyles.ts
  packages/react-components/react-datepicker-compat/src/utils/dateGrid/dateGrid.types.ts
Labels: Fluent UI react-components (v9), Component: DatePickerCompat

#26022 fix: Ensure click event object is not passed to calendarDismissed callback in DatePicker
  change/@fluentui-react-b8f49e97-1731-4c80-8e94-0307dfb7f718.json
  packages/react/src/components/DatePicker/DatePicker.base.tsx
Labels: Component: Calendar

#27199 Added icon to the BreadcrumbDivider component
  packages/react-components/react-breadcrumb/etc/react-breadcrumb.api.md
  packages/react-components/react-breadcrumb/package.json
  packages/react-components/react-breadcrumb/src/components/Breadcrumb/Breadcrumb.tsx
  packages/react-components/react-breadcrumb/src/components/Breadcrumb/Breadcrumb.types.ts
  packages/react-components/react-breadcrumb/src/components/Breadcrumb/BreadcrumbContext.ts
  packages/react-components/react-breadcrumb/src/components/Breadcrumb/renderBreadcrumb.tsx
  packages/react-components/react-breadcrumb/src/components/Breadcrumb/useBreadcrumb.ts
  packages/react-components/react-breadcrumb/src/components/Breadcrumb/useBreadcrumbContextValue.ts
  packages/react-components/react-breadcrumb/src/components/Breadcrumb/useBreadcrumbStyles.ts
  packages/react-components/react-breadcrumb/src/components/BreadcrumbDivider/BreadcrumbDivider.test.tsx
  packages/react-components/react-breadcrumb/src/components/BreadcrumbDivider/BreadcrumbDivider.types.ts
  packages/react-components/react-breadcrumb/src/components/BreadcrumbDivider/renderBreadcrumbDivider.tsx
  packages/react-components/react-breadcrumb/src/components/BreadcrumbDivider/useBreadcrumbDivider.ts
  packages/react-components/react-breadcrumb/src/components/BreadcrumbDivider/useBreadcrumbDivider.tsx
  packages/react-components/react-breadcrumb/src/components/BreadcrumbDivider/useBreadcrumbDividerStyles.ts
  packages/react-components/react-breadcrumb/src/components/BreadcrumbItem/BreadcrumbItem.test.tsx
  packages/react-components/react-breadcrumb/src/components/BreadcrumbItem/BreadcrumbItem.types.ts
  packages/react-components/react-breadcrumb/src/components/BreadcrumbItem/renderBreadcrumbItem.tsx
  packages/react-components/react-breadcrumb/src/components/BreadcrumbItem/useBreadcrumbItem.ts
  packages/react-components/react-breadcrumb/src/components/BreadcrumbItem/useBreadcrumbItemStyles.ts
  packages/react-components/react-breadcrumb/stories/Breadcrumb/BreadcrumbDefault.stories.tsx
  packages/react-components/react-breadcrumb/stories/BreadcrumbDivider/BreadcrumbDividerDefault.stories.tsx
  packages/react-components/react-breadcrumb/stories/BreadcrumbItem/BreadcrumbItemDefault.stories.tsx
Labels: Type: Feature, Component: Breadcrumb

#27330 feat: Add blur function to ISearchBox componentRef
  change/@fluentui-react-a322dc84-1336-4f83-af8e-fea2ad52f47b.json
  packages/react/etc/react.api.md
  packages/react/src/components/SearchBox/SearchBox.base.tsx
  packages/react/src/components/SearchBox/SearchBox.types.ts
Labels: Component: TextField, Component: SearchBox, PR: API Modified, Fluent UI react (v8)

#27234 Make area chart keyboard accessible
  change/@fluentui-react-charting-486639f0-e94f-4bd6-95ea-5023ca544688.json
  packages/react-charting/src/components/AreaChart/AreaChart.base.tsx
  packages/react-charting/src/components/AreaChart/AreaChart.test.tsx
  packages/react-charting/src/components/AreaChart/AreaChart.types.ts
  packages/react-charting/src/components/AreaChart/__snapshots__/AreaChart.test.tsx.snap
  packages/react-examples/src/react-charting/AreaChart/AreaChart.LargeData.Example.tsx
  packages/react-examples/src/react-charting/AreaChart/AreaChartPage.tsx
Labels: Package: charting

#27303 Fix wrong narration for legend state
  change/@fluentui-react-charting-e317987d-8fa3-420c-8d54-23b845313c19.json
  packages/react-charting/src/components/AreaChart/__snapshots__/AreaChart.test.tsx.snap
  packages/react-charting/src/components/DonutChart/__snapshots__/DonutChart.test.tsx.snap
  packages/react-charting/src/components/GroupedVerticalBarChart/__snapshots__/GroupedVerticalBarChart.test.tsx.snap
  packages/react-charting/src/components/HeatMapChart/__snapshots__/HeatMapChart.test.tsx.snap
  packages/react-charting/src/components/Legends/Legends.base.tsx
  packages/react-charting/src/components/Legends/Legends.test.tsx
  packages/react-charting/src/components/Legends/__snapshots__/Legends.test.tsx.snap
  packages/react-charting/src/components/LineChart/__snapshots__/LineChart.test.tsx.snap
  packages/react-charting/src/components/StackedBarChart/__snapshots__/MultiStackedBarChart.test.tsx.snap
  packages/react-charting/src/components/StackedBarChart/__snapshots__/StackedBarChart.test.tsx.snap
  packages/react-charting/src/components/VerticalBarChart/__snapshots__/VerticalBarChart.test.tsx.snap
  packages/react-charting/src/components/VerticalStackedBarChart/__snapshots__/VerticalStackedBarChart.test.tsx.snap
Labels: Package: charting

#27358 chore(ssr-tests): disable "--hide-sidebars"
  apps/ssr-tests-v9/src/test.ts
Labels: Area: Build System

#27313 feat(scripts-babel): implement v9 babel preset to properly resolve griffel module mappings
  .babelrc-v9.json
  .github/CODEOWNERS
  scripts/babel/jest.config.js
  scripts/babel/preset-v9.js
  scripts/babel/preset-v9.spec.ts
  scripts/babel/types.ts
Labels: Area: Build System

#27335 chore: update babel:postprocess
  scripts/tasks/src/babel.ts
Labels: Area: Build System

#27366 test(react-charting): update snapshots
  packages/react-charting/src/components/AreaChart/__snapshots__/AreaChart.test.tsx.snap
Labels: Package: charting

#27308 TOC: skip IntersectionObserver callback when navigation occurs
  apps/public-docsite-v9/src/DocsComponents/Toc.stories.tsx
Labels: Area: Documentation, Area: Website

#27164 RFC: slot children render function support
  rfcs/react-components/convergence/slot-children-render-function.md
Labels: Type: RFC

#27349 Color picker touch support
  change/@fluentui-react-1e8f39f4-bc27-44d1-8289-e1d9d7c9706d.json
  packages/react/src/components/ColorPicker/ColorRectangle/ColorRectangle.base.tsx
  packages/react/src/components/ColorPicker/ColorSlider/ColorSlider.base.tsx
Labels: Component: ColorPicker

#27361 fix(react-datepicker-compat): Fix theming issues with all themes and WHCM
  packages/react-components/react-datepicker-compat/src/components/Calendar/Calendar.tsx
  packages/react-components/react-datepicker-compat/src/components/Calendar/useCalendarStyles.ts
  packages/react-components/react-datepicker-compat/src/components/CalendarDay/useCalendarDayStyles.ts
  packages/react-components/react-datepicker-compat/src/components/CalendarDayGrid/CalendarGridDayCell.tsx
  packages/react-components/react-datepicker-compat/src/components/CalendarDayGrid/useCalendarDayGridStyles.ts
  packages/react-components/react-datepicker-compat/src/components/CalendarPicker/useCalendarPickerStyles.ts
Labels: Fluent UI react-components (v9), Component: DatePickerCompat

#27318 chore(react-tree): adds e2e flat tree tests
  change/@fluentui-react-tree-0d72ec74-bc60-458b-a601-cf9a0def3918.json
  packages/react-components/react-tree/etc/react-tree.api.md
  packages/react-components/react-tree/src/components/Tree/Tree.cy.tsx
  packages/react-components/react-tree/src/hooks/useFlatTree.ts
  packages/react-components/react-tree/src/utils/flattenTree.ts
Labels: Fluent UI react-components (v9), Component: Tree

#27094 chore(scripts-tasks): remove not needed api-extractor task logs
  scripts/tasks/src/api-extractor.ts
Labels: Area: Build System

#27367 fix(react-dialog): DialogContent scrollbar always visible
  change/@fluentui-react-dialog-19f431ea-3879-40f6-bf2a-177d37d60310.json
  packages/react-components/react-dialog/src/components/DialogBody/useDialogBodyStyles.ts
  packages/react-components/react-dialog/src/components/DialogContent/useDialogContentStyles.ts
  packages/react-components/react-dialog/src/components/DialogSurface/useDialogSurfaceStyles.ts
Labels: Component: Dialog, Fluent UI react-components (v9)

#27351 chore(react-datepicker-compat): Add vr-tests and bundle-size fixtures for DatePicker
  apps/vr-tests-react-components/package.json
  apps/vr-tests-react-components/src/stories/DatePickerCompat.stories.tsx
  packages/react-components/react-datepicker-compat/bundle-size/DatePicker.fixture.js
  packages/react-components/react-datepicker-compat/package.json
  packages/react-components/react-datepicker-compat/src/components/CalendarDayGrid/useCalendarDayGridStyles.ts
Labels: Component: DatePickerCompat

#27406 fix: Fix babel build error on Windows
  scripts/babel/preset-v9.js
Labels: Area: Build System, Type: Regression 🌩🌩

#27394 fix: ColorPicker preview color updated to ignore forced colors
  change/@fluentui-react-8e2d7e7a-c47a-459d-8184-f5744bc1d88e.json
  packages/react/src/components/ColorPicker/ColorPicker.styles.ts
  packages/react/src/components/ColorPicker/__snapshots__/ColorPicker.test.tsx.snap
Labels: Component: ColorPicker
