Repository microsoft/fluentui, pull requests merged in 2023-08, with the labels that each got.

#28150 Added component tests for Stacked bar chart
  change/@fluentui-react-charting-8fc372af-5c81-4ee2-9300-f7389312a4e2.json
  packages/react-charting/docs/TestPlans/StackedBarChart/ComponentTests.md
  packages/react-charting/src/components/StackedBarChart/StackedBarChart.base.tsx
  packages/react-charting/src/components/StackedBarChart/StackedBarChartRTL.test.tsx
  packages/react-charting/src/components/StackedBarChart/__snapshots__/StackedBarChart.test.tsx.snap
  packages/react-charting/src/components/StackedBarChart/__snapshots__/StackedBarChartRTL.test.tsx.snap
Labels: Package: charting

#28682 Added icon to the BreadcrumbItem
  change/@fluentui-react-breadcrumb-preview-5bdaf6e2-9260-4dfe-ace7-09993bd79c34.json
  packages/react-components/react-breadcrumb-preview/docs/Spec.md
  packages/react-components/react-breadcrumb-preview/etc/react-breadcrumb-preview.api.md
  packages/react-components/react-breadcrumb-preview/src/components/BreadcrumbItem/BreadcrumbItem.test.tsx
  packages/react-components/react-breadcrumb-preview/src/components/BreadcrumbItem/BreadcrumbItem.types.ts
  packages/react-components/react-breadcrumb-preview/src/components/BreadcrumbItem/renderBreadcrumbItem.tsx
  packages/react-components/react-breadcrumb-preview/src/components/BreadcrumbItem/useBreadcrumbItem.ts
  packages/react-components/react-breadcrumb-preview/src/components/BreadcrumbItem/useBreadcrumbItemStyles.styles.ts
  packages/react-components/react-breadcrumb-preview/stories/BreadcrumbItem/BreadcrumbItemDefault.stories.tsx
Labels: Type: Feature, Component: Breadcrumb

#28695 bugfix: renames content slot to main
  change/@fluentui-react-tree-7b6d4596-b8e2-46b5-a0d4-d3d4e921fce0.json
  packages/react-components/react-tree/etc/react-tree.api.md
  packages/react-components/react-tree/src/components/TreeItemLayout/TreeItemLayout.types.ts
  packages/react-components/react-tree/src/components/TreeItemLayout/__snapshots__/TreeItemLayout.test.tsx.snap
  packages/react-components/react-tree/src/components/TreeItemLayout/renderTreeItemLayout.tsx
  packages/react-components/react-tree/src/components/TreeItemLayout/useTreeItemLayout.tsx
  packages/react-components/react-tree/src/components/TreeItemLayout/useTreeItemLayoutStyles.styles.ts
  packages/react-components/react-tree/src/components/TreeItemPersonaLayout/TreeItemPersonaLayout.types.ts
  packages/react-components/react-tree/src/components/TreeItemPersonaLayout/__snapshots__/TreeItemPersonaLayout.test.tsx.snap
  packages/react-components/react-tree/src/components/TreeItemPersonaLayout/renderTreeItemPersonaLayout.tsx
  packages/react-components/react-tree/src/components/TreeItemPersonaLayout/useTreeItemPersonaLayout.ts
  packages/react-components/react-tree/src/components/TreeItemPersonaLayout/useTreeItemPersonaLayoutStyles.styles.ts
Labels: Fluent UI react-components (v9), Component: Tree

#28692 chore: adds bundle size metrics
  change/@fluentui-react-tree-c65bb12d-453d-4ee3-910d-058cfa260cd3.json
  packages/react-components/react-tree/bundle-size/FlatTree.fixture.js
  packages/react-components/react-tree/bundle-size/PersonaFlatTree.fixture.js
  packages/react-components/react-tree/bundle-size/PersonaTree.fixture.js
  packages/react-components/react-tree/bundle-size/Tree.fixture.js
  packages/react-components/react-tree/package.json
Labels: Fluent UI react-components (v9), Component: Tree

#28719 feat: converts actions to be a toolbar
  change/@fluentui-react-tree-b193406e-6c58-4917-87c4-ac56dfed66c7.json
  packages/react-components/react-tree/src/components/TreeItemLayout/useTreeItemLayout.tsx
Labels: Fluent UI react-components (v9), Component: Tree

#28718 bugfix: disable menu opening if contextmenu event is prevented
  change/@fluentui-react-menu-e3ad7a8c-1083-4535-90f9-b4dc318a6dce.json
  packages/react-components/react-menu/src/components/Menu/Menu.cy.tsx
  packages/react-components/react-menu/src/components/MenuTrigger/useMenuTrigger.ts
Labels: Fluent UI react-components (v9), Component: Menu

#28672 Made BreadcrumbButton consistent with Item and Link
  change/@fluentui-react-breadcrumb-preview-4a519bc6-2ba9-46ca-9959-8a0ca5985548.json
  packages/react-components/react-breadcrumb-preview/src/components/BreadcrumbButton/useBreadcrumbButtonStyles.styles.ts
  packages/react-components/react-breadcrumb-preview/stories/Breadcrumb/BreadcrumbSize.stories.tsx
  packages/react-components/react-breadcrumb-preview/stories/Breadcrumb/BreadcrumbWithOverflow.stories.tsx
Labels: Component: Breadcrumb

#28665 bugfix(react-accordion): ensures controlled state works properly
  change/@fluentui-react-accordion-84a02e56-cdf6-4b86-9cf8-bc28925b6316.json
  packages/react-components/react-accordion/etc/react-accordion.api.md
  packages/react-components/react-accordion/src/components/Accordion/Accordion.test.tsx
  packages/react-components/react-accordion/src/components/Accordion/Accordion.tsx
  packages/react-components/react-accordion/src/components/Accordion/Accordion.types.ts
  packages/react-components/react-accordion/src/components/Accordion/AccordionContext.ts
  packages/react-components/react-accordion/src/components/Accordion/index.ts
  packages/react-components/react-accordion/src/components/Accordion/renderAccordion.tsx
  packages/react-components/react-accordion/src/components/Accordion/useAccordion.test.ts
  packages/react-components/react-accordion/src/components/Accordion/useAccordion.ts
  packages/react-components/react-accordion/src/components/Accordion/useAccordionContextValues.ts
  packages/react-components/react-accordion/src/components/AccordionHeader/AccordionHeader.types.ts
  packages/react-components/react-accordion/src/components/AccordionHeader/AccordionHeaderContext.ts
  packages/react-components/react-accordion/src/components/AccordionHeader/index.ts
  packages/react-components/react-accordion/src/components/AccordionHeader/renderAccordionHeader.tsx
  packages/react-components/react-accordion/src/components/AccordionHeader/useAccordionHeader.test.tsx
  packages/react-components/react-accordion/src/components/AccordionHeader/useAccordionHeader.tsx
  packages/react-components/react-accordion/src/components/AccordionHeader/useAccordionHeaderContextValues.ts
  packages/react-components/react-accordion/src/components/AccordionItem/AccordionItem.types.ts
  packages/react-components/react-accordion/src/components/AccordionItem/AccordionItemContext.ts
  packages/react-components/react-accordion/src/components/AccordionItem/index.ts
  packages/react-components/react-accordion/src/components/AccordionItem/renderAccordionItem.tsx
  packages/react-components/react-accordion/src/components/AccordionItem/useAccordionItem.ts
  packages/react-components/react-accordion/src/components/AccordionItem/useAccordionItemContextValues.test.ts
  packages/react-components/react-accordion/src/components/AccordionItem/useAccordionItemContextValues.ts
  packages/react-components/react-accordion/src/components/AccordionPanel/AccordionPanel.test.tsx
  packages/react-components/react-accordion/src/components/AccordionPanel/useAccordionPanel.ts
  packages/react-components/react-accordion/src/contexts/accordion.ts
  packages/react-components/react-accordion/src/contexts/accordionHeader.ts
  packages/react-components/react-accordion/src/contexts/accordionItem.ts
  packages/react-components/react-accordion/src/index.ts
  packages/react-components/react-accordion/stories/Accordion/AccordionControlled.stories.tsx
  packages/react-components/react-accordion/stories/Accordion/index.stories.tsx
Labels: Component: Accordion, Fluent UI react-components (v9)

#28469 fix(TimePicker): Selection now works in locales that don't use "am"/"pm" in their time format
  change/@fluentui-react-c9b264cb-f787-48ed-a936-6359e1efa00e.json
  packages/react/src/components/TimePicker/TimePicker.test.tsx
  packages/react/src/components/TimePicker/TimePicker.tsx
Labels: Component: TimePicker

#28373 feature(react-utilities): implements new slot methods (`slot` and `assertSlots`)
  change/@fluentui-react-jsx-runtime-d2a505fc-6ffc-4679-aa63-5b29dcc83f7b.json
  change/@fluentui-react-utilities-18c147c2-15a4-428f-89a7-049632ab27fe.json
  packages/react-components/react-jsx-runtime/src/createElement.test.tsx
  packages/react-components/react-jsx-runtime/src/createElement.ts
  packages/react-components/react-utilities/etc/react-utilities.api.md
  packages/react-components/react-utilities/src/compose/assertSlots.test.tsx
  packages/react-components/react-utilities/src/compose/assertSlots.ts
  packages/react-components/react-utilities/src/compose/constants.ts
  packages/react-components/react-utilities/src/compose/getSlots.ts
  packages/react-components/react-utilities/src/compose/getSlotsNext.test.tsx
  packages/react-components/react-utilities/src/compose/index.ts
  packages/react-components/react-utilities/src/compose/isSlot.test.tsx
  packages/react-components/react-utilities/src/compose/isSlot.ts
  packages/react-components/react-utilities/src/compose/resolveShorthand.test.tsx
  packages/react-components/react-utilities/src/compose/resolveShorthand.ts
  packages/react-components/react-utilities/src/compose/slot.test.tsx
  packages/react-components/react-utilities/src/compose/slot.ts
  packages/react-components/react-utilities/src/compose/types.ts
  packages/react-components/react-utilities/src/index.ts
Labels: Package: utilities, Fluent UI react-components (v9)

#28668 feat: implements nested tree selection
  change/@fluentui-react-tree-6759724f-a9fe-45df-81be-ec6cb8f2fe98.json
  packages/react-components/react-tree/etc/react-tree.api.md
  packages/react-components/react-tree/src/components/FlatTree/FlatTree.cy.tsx
  packages/react-components/react-tree/src/components/FlatTree/FlatTree.tsx
  packages/react-components/react-tree/src/components/FlatTree/index.ts
  packages/react-components/react-tree/src/components/FlatTree/renderFlatTree.ts
  packages/react-components/react-tree/src/components/FlatTree/useFlatControllableCheckedItems.ts
  packages/react-components/react-tree/src/components/FlatTree/useFlatTreeContextValues.ts
  packages/react-components/react-tree/src/components/FlatTree/useHeadlessFlatTree.ts
  packages/react-components/react-tree/src/components/Tree/Tree.cy.tsx
  packages/react-components/react-tree/src/components/Tree/Tree.types.ts
  packages/react-components/react-tree/src/components/Tree/useControllableCheckedItems.ts
  packages/react-components/react-tree/src/components/Tree/useNestedControllableCheckedItems.ts
  packages/react-components/react-tree/src/components/Tree/useTree.ts
  packages/react-components/react-tree/src/components/TreeItem/useTreeItem.tsx
  packages/react-components/react-tree/src/components/TreeItemLayout/TreeItemLayout.test.tsx
  packages/react-components/react-tree/src/components/TreeItemLayout/useTreeItemLayout.tsx
  packages/react-components/react-tree/src/components/TreeItemPersonaLayout/TreeItemPersonaLayout.test.tsx
  packages/react-components/react-tree/src/contexts/treeItemContext.ts
  packages/react-components/react-tree/src/utils/getTreeItemValueFromElement.ts
Labels: Fluent UI react-components (v9), Component: Tree

#28755 chore: re-export slot and assertSlots methods
  change/@fluentui-react-components-421e0840-183a-4130-806b-8d7ab0a235e7.json
  packages/react-components/react-components/etc/react-components.api.md
  packages/react-components/react-components/src/index.ts
Labels: Package: utilities, Fluent UI react-components (v9)

#28757 Docs(react-tree): Update stories and remove third-party API calls
  packages/react-components/react-tree/stories/Tree/FlatTree.stories.tsx
  packages/react-components/react-tree/stories/Tree/TreeActions.stories.tsx
  packages/react-components/react-tree/stories/Tree/TreeBestPractices.md
  packages/react-components/react-tree/stories/Tree/TreeInfiniteScrolling.stories.tsx
  packages/react-components/react-tree/stories/Tree/TreeLazyLoading.stories.tsx
Labels: Fluent UI react-components (v9), Component: Tree

#28728 Fixed bug with inaccurate calc
  change/@fluentui-priority-overflow-811e9856-73dc-48a0-8707-3f65814b5c57.json
  change/@fluentui-react-overflow-e570ea11-80af-458c-a5a9-392d1e17e776.json
  packages/react-components/priority-overflow/src/overflowManager.ts
  packages/react-components/react-overflow/src/Overflow.cy.tsx
Labels: Package: priority-overflow

#28768 build(wc): Enforce node 16
  .github/workflows/azure-static-web-apps-deploy.yml
  package.json
Labels: Fluent UI WC (v3)

#27857 [3 of N] Changes for lazy load for hover card and legends
  change/@fluentui-react-charting-3fdcb2d7-fde5-4ec3-bf0e-1e9d32cd1194.json
  packages/react-charting/src/components/AreaChart/__snapshots__/AreaChart.test.tsx.snap
  packages/react-charting/src/components/AreaChart/__snapshots__/AreaChartRTL.test.tsx.snap
  packages/react-charting/src/components/CommonComponents/CartesianChart.base.tsx
  packages/react-charting/src/components/CommonComponents/CartesianChart.types.ts
  packages/react-charting/src/components/GroupedVerticalBarChart/GroupedVerticalBarChart.test.tsx
  packages/react-charting/src/components/GroupedVerticalBarChart/__snapshots__/GroupedVerticalBarChart.test.tsx.snap
  packages/react-charting/src/components/GroupedVerticalBarChart/__snapshots__/GroupedVerticalBarChartRTL.test.tsx.snap
  packages/react-charting/src/components/HeatMapChart/HeatMapChart.test.tsx
  packages/react-charting/src/components/HeatMapChart/__snapshots__/HeatMapChart.test.tsx.snap
  packages/react-charting/src/components/HeatMapChart/__snapshots__/HeatMapChartRTL.test.tsx.snap
  packages/react-charting/src/components/HorizontalBarChartWithAxis/HorizontalBarChartWithAxis.test.tsx
  packages/react-charting/src/components/HorizontalBarChartWithAxis/__snapshots__/HorizontalBarChartWithAxis.test.tsx.snap
  packages/react-charting/src/components/LineChart/LineChart.base.tsx
  packages/react-charting/src/components/LineChart/__snapshots__/LineChart.test.tsx.snap
  packages/react-charting/src/components/LineChart/__snapshots__/LineChartRTL.test.tsx.snap
  packages/react-charting/src/components/VerticalBarChart/VerticalBarChart.test.tsx
  packages/react-charting/src/components/VerticalBarChart/__snapshots__/VerticalBarChart.test.tsx.snap
  packages/react-charting/src/components/VerticalBarChart/__snapshots__/VerticalBarChartRTL.test.tsx.snap
  packages/react-charting/src/components/VerticalStackedBarChart/VerticalStackedBarChart.test.tsx
  packages/react-charting/src/components/VerticalStackedBarChart/__snapshots__/VerticalStackedBarChart.test.tsx.snap
  packages/react-charting/src/components/VerticalStackedBarChart/__snapshots__/VerticalStackedBarChartRTL.test.tsx.snap
Labels: Package: charting

#28734 chore(react-tree): creates VR tests
  apps/vr-tests-react-components/package.json
  apps/vr-tests-react-components/src/stories/Tree.stories.tsx
Labels: Fluent UI react-components (v9), Component: Tree

#28720 fix: made disabled BreadcrumbLink not focusable
  change/@fluentui-react-breadcrumb-preview-ccc0bbee-fe68-4046-bec9-c215d548e0bf.json
  packages/react-components/react-breadcrumb-preview/etc/react-breadcrumb-preview.api.md
  packages/react-components/react-breadcrumb-preview/src/components/Breadcrumb/Breadcrumb.cy.tsx
  packages/react-components/react-breadcrumb-preview/src/components/Breadcrumb/Breadcrumb.test.tsx
  packages/react-components/react-breadcrumb-preview/src/components/BreadcrumbLink/BreadcrumbLink.test.tsx
  packages/react-components/react-breadcrumb-preview/src/components/BreadcrumbLink/BreadcrumbLink.types.ts
  packages/react-components/react-breadcrumb-preview/src/components/BreadcrumbLink/useBreadcrumbLink.ts
  packages/react-components/react-breadcrumb-preview/src/components/BreadcrumbLink/useBreadcrumbLinkStyles.styles.ts
Labels: Type: Bug :bug:, Component: Breadcrumb

#28775 chore(react-migration-v0-v9): migrate to new slot API
  change/@fluentui-react-migration-v0-v9-3419eb00-06e4-40ff-a0be-ff3c14b16bad.json
  packages/react-components/react-migration-v0-v9/src/components/ItemLayout/ItemLayout.tsx
Labels: Fluent UI react-components (v9), Package: migration

#28767 Fix: flickering of items with large dividers in Overflow component
  change/@fluentui-priority-overflow-a7aa4464-bf5d-40c9-9502-4936cb1f0c3f.json
  change/@fluentui-react-overflow-76164a9e-e55d-44b1-b7be-4f397c4cfa86.json
  packages/react-components/priority-overflow/src/overflowManager.ts
  packages/react-components/react-overflow/src/Overflow.cy.tsx
  packages/react-components/react-overflow/stories/Overflow/LargerDividers.stories.tsx
Labels: Package: priority-overflow

#28634 Adding React Charting Library VR Tests
  apps/vr-tests/.storybook/preview.js
  apps/vr-tests/package.json
  apps/vr-tests/src/stories/react-charting/AreaChart.stories.tsx
  apps/vr-tests/src/stories/react-charting/LineChart.stories.tsx
Labels: Package: charting

#28774 chore(react-virtualizer): migrate to new slot API
  change/@fluentui-react-virtualizer-5ec0e1ef-f7b0-4c31-a820-f81ef0045c4c.json
  packages/react-components/react-virtualizer/src/components/Virtualizer/renderVirtualizer.tsx
  packages/react-components/react-virtualizer/src/components/Virtualizer/useVirtualizer.ts
  packages/react-components/react-virtualizer/src/components/VirtualizerScrollView/renderVirtualizerScrollView.tsx
  packages/react-components/react-virtualizer/src/components/VirtualizerScrollView/useVirtualizerScrollView.ts
  packages/react-components/react-virtualizer/src/components/VirtualizerScrollViewDynamic/renderVirtualizerScrollViewDynamic.tsx
  packages/react-components/react-virtualizer/src/components/VirtualizerScrollViewDynamic/useVirtualizerScrollViewDynamic.ts
Labels: Fluent UI react-components (v9), Component: Virtualizer

#28776 [Chore]: publish `@fluentui/react-tree-preview` on public docsite + bufixes
  apps/public-docsite-v9/package.json
  packages/react-components/react-tree-preview/src/components/TreeItem/TreeItem.types.ts
  packages/react-components/react-tree-preview/src/components/TreeItem/__snapshots__/TreeItem.test.tsx.snap
  packages/react-components/react-tree-preview/src/components/TreeItem/useTreeItem.tsx
  packages/react-components/react-tree-preview/src/components/TreeItemLayout/TreeItemLayout.types.ts
  packages/react-components/react-tree-preview/src/components/TreeItemLayout/useTreeItemLayout.tsx
  packages/react-components/react-tree-preview/src/hooks/useRootTree.ts
  packages/react-components/react-tree-preview/stories/Tree/FlatTree.stories.tsx
  packages/react-components/react-tree-preview/stories/Tree/OpenItemsControlled.stories.tsx
  packages/react-components/react-tree-preview/stories/Tree/TreeActions.stories.tsx
  packages/react-components/react-tree-preview/stories/Tree/TreeAppearance.stories.tsx
  packages/react-components/react-tree-preview/stories/Tree/TreeAside.stories.tsx
  packages/react-components/react-tree-preview/stories/Tree/TreeBestPractices.md
  packages/react-components/react-tree-preview/stories/Tree/TreeCustomizingInteraction.stories.tsx
  packages/react-components/react-tree-preview/stories/Tree/TreeCustomizingInteractionAndControl.stories.tsx
  packages/react-components/react-tree-preview/stories/Tree/TreeDefault.stories.tsx
  packages/react-components/react-tree-preview/stories/Tree/TreeDefaultOpen.stories.tsx
  packages/react-components/react-tree-preview/stories/Tree/TreeDescription.md
  packages/react-components/react-tree-preview/stories/Tree/TreeExpandIcon.stories.tsx
  packages/react-components/react-tree-preview/stories/Tree/TreeIconBeforeAndAfter.stories.tsx
  packages/react-components/react-tree-preview/stories/Tree/TreeInfiniteScrolling.stories.tsx
  packages/react-components/react-tree-preview/stories/Tree/TreeInlineStylingForNestedTree.stories.tsx
  packages/react-components/react-tree-preview/stories/Tree/TreeInlineStylingTreeItemLevel.stories.tsx
  packages/react-components/react-tree-preview/stories/Tree/TreeLayouts.stories.tsx
  packages/react-components/react-tree-preview/stories/Tree/TreeLazyLoading.stories.tsx
  packages/react-components/react-tree-preview/stories/Tree/TreeManipulation.stories.tsx
  packages/react-components/react-tree-preview/stories/Tree/TreeManipulation.tsx
  packages/react-components/react-tree-preview/stories/Tree/TreeSelection.stories.tsx
  packages/react-components/react-tree-preview/stories/Tree/TreeSize.stories.tsx
  packages/react-components/react-tree-preview/stories/Tree/Virtualization.stories.tsx
  packages/react-components/react-tree-preview/stories/Tree/index.stories.tsx
Labels: Fluent UI react-components (v9), Component: Tree

#28439 Default pointer-events to 'none' for focus rectangles
  change/@fluentui-react-8d5952ad-7979-4a9c-bae9-f37a22caf598.json
  packages/react/src/components/DetailsList/DetailsRow.styles.ts
Labels: Package: styling, AutoMerge

#28580 Axis titles for Cartesian Charts
  change/@fluentui-react-charting-93e38689-8443-4580-bcb0-2114cf360c8f.json
  packages/react-charting/src/components/CommonComponents/CartesianChart.base.tsx
  packages/react-charting/src/components/CommonComponents/CartesianChart.styles.ts
  packages/react-charting/src/components/CommonComponents/CartesianChart.types.ts
  packages/react-charting/src/utilities/SVGTooltipText.tsx
  packages/react-charting/src/utilities/utilities.ts
  packages/react-examples/src/react-charting/VerticalBarChart/VerticalBarChart.AxisTitle.Example.tsx
  packages/react-examples/src/react-charting/VerticalBarChart/VerticalBarChartPage.tsx
Labels: Package: charting

#28808 Removing react testing library from peer dependency
  change/@fluentui-react-charting-00b44f63-204b-4740-af79-571c44f11fa6.json
  packages/react-charting/package.json
  packages/react-charting/src/components/StackedBarChart/StackedBarChartRTL.test.tsx
  packages/react-charting/src/components/VerticalBarChart/VerticalBarChartRTL.test.tsx
  packages/react-charting/src/utilities/TestUtility.test.tsx
Labels: Package: charting

#27243 docs: fix typo in theme migration (v9 -> v8)
  apps/public-docsite-v9/src/Concepts/Migration/FromV8/Components/Theme.stories.mdx
Labels: Area: Website

#28165 Adding component tests for Multi Stacked Bar Chart
  change/@fluentui-react-charting-b86a16d6-a1aa-4d4f-bb2c-b1632ca07a8d.json
  packages/react-charting/docs/TestPlans/MultiStackedBarChart/componentTests.md
  packages/react-charting/src/components/StackedBarChart/MultiStackedBarChart.base.tsx
  packages/react-charting/src/components/StackedBarChart/MultiStackedBarChart.test.tsx
  packages/react-charting/src/components/StackedBarChart/MultiStackedBarChartRTL.test.tsx
  packages/react-charting/src/components/StackedBarChart/__snapshots__/MultiStackedBarChart.test.tsx.snap
  packages/react-charting/src/components/StackedBarChart/__snapshots__/MultiStackedBarChartRTL.test.tsx.snap
Labels: Package: charting

#28822 chore(public-docsite-v9): updates slot documentation
  apps/public-docsite-v9/src/Concepts/Slots/Slots.stories.mdx
Labels: Area: Documentation, Fluent UI react-components (v9)

#28784 chore(fluent-avatar): Add screenshot tests
  apps/vr-tests-web-components/src/stories/avatar/avatar.stories.tsx
Labels: Fluent UI WC (v3)

#28837 fix(web-components): update fast dependencies and fix un-allowed attributes on fluent-divider
  change/@fluentui-web-components-cba21cee-a030-4c94-adc9-b4d623533f00.json
  packages/web-components/docs/api-report.md
  packages/web-components/package.json
  packages/web-components/src/badge/badge.ts
  packages/web-components/src/counter-badge/counter-badge.ts
  packages/web-components/src/utils/apply-mixins.ts
  yarn.lock
Labels: web-components

#28846 Removed iconPosition from the Breadcrumb
  change/@fluentui-react-breadcrumb-preview-d29e00b6-09e4-4092-abba-d4030da7d9aa.json
  packages/react-components/react-breadcrumb-preview/docs/MIGRATION.md
  packages/react-components/react-breadcrumb-preview/docs/Spec.md
  packages/react-components/react-breadcrumb-preview/etc/react-breadcrumb-preview.api.md
  packages/react-components/react-breadcrumb-preview/src/components/Breadcrumb/Breadcrumb.types.ts
  packages/react-components/react-breadcrumb-preview/src/components/Breadcrumb/BreadcrumbContext.ts
  packages/react-components/react-breadcrumb-preview/src/components/Breadcrumb/useBreadcrumb.ts
  packages/react-components/react-breadcrumb-preview/src/components/Breadcrumb/useBreadcrumbContextValue.ts
  packages/react-components/react-breadcrumb-preview/src/components/BreadcrumbButton/BreadcrumbButton.test.tsx
  packages/react-components/react-breadcrumb-preview/src/components/BreadcrumbButton/BreadcrumbButton.types.ts
  packages/react-components/react-breadcrumb-preview/src/components/BreadcrumbButton/useBreadcrumbButton.ts
  packages/react-components/react-breadcrumb-preview/src/components/BreadcrumbItem/BreadcrumbItem.types.ts
  packages/react-components/react-breadcrumb-preview/src/components/BreadcrumbItem/renderBreadcrumbItem.tsx
  packages/react-components/react-breadcrumb-preview/src/components/BreadcrumbItem/useBreadcrumbItem.ts
  packages/react-components/react-breadcrumb-preview/src/components/BreadcrumbLink/BreadcrumbLink.test.tsx
  packages/react-components/react-breadcrumb-preview/src/components/BreadcrumbLink/BreadcrumbLink.types.ts
  packages/react-components/react-breadcrumb-preview/src/components/BreadcrumbLink/renderBreadcrumbLink.tsx
  packages/react-components/react-breadcrumb-preview/src/components/BreadcrumbLink/useBreadcrumbLink.ts
  packages/react-components/react-breadcrumb-preview/src/components/BreadcrumbLink/useBreadcrumbLinkStyles.styles.ts
  packages/react-components/react-breadcrumb-preview/stories/Breadcrumb/BreadcrumbDefault.stories.tsx
  packages/react-components/react-breadcrumb-preview/stories/Breadcrumb/BreadcrumbFocusMode.tsx
  packages/react-components/react-breadcrumb-preview/stories/Breadcrumb/BreadcrumbLinkWithOverflow.stories.tsx
  packages/react-components/react-breadcrumb-preview/stories/BreadcrumbButton/BreadcrumbButtonDefault.stories.tsx
  packages/react-components/react-breadcrumb-preview/stories/BreadcrumbItem/BreadcrumbItemDefault.stories.tsx
  packages/react-components/react-breadcrumb-preview/stories/BreadcrumbLink/BreadcrumbLinkDefault.stories.tsx
Labels: Component: Breadcrumb

#28790 Added more CY and VR tests to the Breadcrumb
  apps/vr-tests-react-components/src/stories/Breadcrumb/utils.tsx
  change/@fluentui-react-breadcrumb-preview-4a0dd70b-44ac-4bdb-9bda-97122c3b2149.json
  packages/react-components/react-breadcrumb-preview/src/components/Breadcrumb/BreadcrumbWithMenu.cy.tsx
  packages/react-components/react-breadcrumb-preview/stories/Breadcrumb/BreadcrumbFocusMode.stories.tsx
  packages/react-components/react-breadcrumb-preview/stories/Breadcrumb/index.stories.tsx
Labels: Component: Breadcrumb

#28828 Adds tests for Switch Component
  packages/web-components/src/switch/switch.spec.ts
Labels: web-components

#28883 Breadcrumb design team fixes
  change/@fluentui-react-breadcrumb-preview-562a5dd1-ef15-4eec-9351-0a1ce84c026d.json
  packages/react-components/react-breadcrumb-preview/etc/react-breadcrumb-preview.api.md
  packages/react-components/react-breadcrumb-preview/src/components/BreadcrumbButton/useBreadcrumbButtonStyles.styles.ts
  packages/react-components/react-breadcrumb-preview/src/components/BreadcrumbItem/BreadcrumbItem.types.ts
  packages/react-components/react-breadcrumb-preview/src/components/BreadcrumbItem/useBreadcrumbItem.ts
  packages/react-components/react-breadcrumb-preview/src/components/BreadcrumbItem/useBreadcrumbItemStyles.styles.ts
  packages/react-components/react-breadcrumb-preview/src/components/BreadcrumbLink/useBreadcrumbLinkStyles.styles.ts
  packages/react-components/react-breadcrumb-preview/stories/Breadcrumb/BreadcrumbDefault.stories.tsx
  packages/react-components/react-breadcrumb-preview/stories/Breadcrumb/BreadcrumbSize.stories.tsx
  packages/react-components/react-breadcrumb-preview/stories/Breadcrumb/index.stories.tsx
  packages/react-components/react-breadcrumb-preview/stories/BreadcrumbLink/BreadcrumbLinkBestPractices.md
  packages/react-components/react-breadcrumb-preview/stories/BreadcrumbLink/BreadcrumbLinkDefault.stories.tsx
  packages/react-components/react-breadcrumb-preview/stories/BreadcrumbLink/BreadcrumbLinkDescription.md
  packages/react-components/react-breadcrumb-preview/stories/BreadcrumbLink/index.stories.tsx
Labels: Component: Breadcrumb

#28905 fix: rename values of position prop from left/right to start/end
  change/@fluentui-react-drawer-7b43baa1-25d5-44e7-8c7d-a8f4a3e8ea58.json
  packages/react-components/react-drawer/docs/Spec.md
  packages/react-components/react-drawer/src/components/Drawer/Drawer.cy.tsx
  packages/react-components/react-drawer/src/components/DrawerInline/useDrawerInlineStyles.styles.ts
  packages/react-components/react-drawer/src/util/DrawerBase.types.ts
  packages/react-components/react-drawer/src/util/getDefaultDrawerProps.ts
  packages/react-components/react-drawer/src/util/useDrawerBaseStyles.styles.ts
  packages/react-components/react-drawer/stories/Drawer/DrawerCustomSize.stories.tsx
  packages/react-components/react-drawer/stories/Drawer/DrawerInline.stories.tsx
  packages/react-components/react-drawer/stories/Drawer/DrawerPosition.stories.tsx
  packages/react-components/react-drawer/stories/Drawer/DrawerPreventClose.stories.tsx
  packages/react-components/react-drawer/stories/Drawer/DrawerResponsive.stories.tsx
  packages/react-components/react-drawer/stories/Drawer/DrawerSeparator.stories.tsx
  packages/react-components/react-drawer/stories/Drawer/DrawerSize.stories.tsx
  packages/react-components/react-drawer/stories/Drawer/DrawerWithNavigation.stories.tsx
Labels: Component: Drawer

#28813 Adds Tests for Slider Web Component v3
  packages/web-components/src/slider/slider.spec.ts
Labels: web-components

#28814 Adds tests for checkbox Web Component V3
  packages/web-components/src/checkbox/checkbox.spec.ts
Labels: web-components

#28811 Adds tests for Fluent Spinner in Web Components v3
  packages/web-components/src/spinner/spinner.spec.ts
Labels: web-components

#28868 chore(radio): Add screenshot tests
  apps/vr-tests-web-components/src/stories/radio-group/radio-group.stories.tsx
  apps/vr-tests-web-components/src/stories/radio/radio.stories.tsx
Labels: Fluent UI WC (v3)

#28794 chore(fluent-badge): Add screenshot tests
  apps/vr-tests-web-components/src/stories/badge/badge.stories.tsx
Labels: Fluent UI WC (v3)

#28860 chore(divider): Add screenshot tests
  apps/vr-tests-web-components/src/stories/divider/divider.stories.tsx
Labels: Fluent UI WC (v3)

#28866 chore(progress-bar): Add screenshot tests
  apps/vr-tests-web-components/src/stories/progress-bar/progress-bar.stories.tsx
Labels: Fluent UI WC (v3)

#28930 chore(switch): Add screenshot tests
  apps/vr-tests-web-components/src/stories/switch/switch.stories.tsx
Labels: Fluent UI WC (v3)

#28932 chore(text): Add screenshot tests
  apps/vr-tests-web-components/src/stories/text/text.stories.tsx
Labels: Fluent UI WC (v3)

#28871 chore(checkbox): Add screenshot tests
  apps/vr-tests-web-components/src/stories/checkbox/checkbox-indeterminate.stories.tsx
  apps/vr-tests-web-components/src/stories/checkbox/checkbox.stories.tsx
Labels: Fluent UI WC (v3)

#28864 chore(menu-list): Add screenshot tests
  apps/vr-tests-web-components/src/stories/menu-list/menu-list.stories.tsx
Labels: Fluent UI WC (v3)

#28826 Adds Unit Tests to RadioGroup
  packages/web-components/src/radio-group/radio-group.spec.ts
Labels: web-components

#28777 Additional VR tests Charting Library
  apps/vr-tests/src/stories/react-charting/AreaChart.stories.tsx
  apps/vr-tests/src/stories/react-charting/DonutChart.stories.tsx
  apps/vr-tests/src/stories/react-charting/GaugeChart.stories.tsx
  apps/vr-tests/src/stories/react-charting/HeatMapChart.stories.tsx
  apps/vr-tests/src/stories/react-charting/HorizontalBarChart.stories.tsx
  apps/vr-tests/src/stories/react-charting/Legend.stories.tsx
  apps/vr-tests/src/stories/react-charting/LineChart.stories.tsx
  apps/vr-tests/src/stories/react-charting/MultiStackBarChart.stories.tsx
  apps/vr-tests/src/stories/react-charting/Piechart.stories.tsx
  apps/vr-tests/src/stories/react-charting/SankeyChart.stories.tsx
  apps/vr-tests/src/stories/react-charting/SparklineChart.stories.tsx
  apps/vr-tests/src/stories/react-charting/StackedBarChart.stories.tsx
  apps/vr-tests/src/stories/react-charting/TreeChart.stories.tsx
  apps/vr-tests/src/stories/react-charting/VerticalBarChart.stories.tsx
  change/@fluentui-react-charting-db3502d6-ad5b-4426-bcf7-9644b4a9db7b.json
  packages/react-charting/src/components/StackedBarChart/MultiStackedBarChart.base.tsx
Labels: Package: charting

#28834 Text component unit tests
  packages/web-components/src/text/text.spec.ts
Labels: web-components

#27312 fix: Autofill queries the inputElement ownerDocument instead of document
  change/@fluentui-react-588a569e-53b5-4cc8-85e3-2d9c073109c2.json
  packages/react/etc/react.api.md
  packages/react/src/components/Autofill/Autofill.tsx
Labels: Component: Autofill

#28812 Adds Tests For Fluent Divider Web Component
  packages/web-components/src/divider/divider.spec.ts
Labels: web-components

#28830 Label unit tests
  packages/web-components/src/label/label.spec.ts
Labels: web-components

#28957 bugfix: ensure interop between `assertSlots` and old API
  change/@fluentui-react-utilities-75019ddc-695b-4255-9b47-0aa69be7fbcf.json
  packages/react-components/react-jsx-runtime/src/interop.test.tsx
  packages/react-components/react-utilities/src/compose/assertSlots.test.tsx
  packages/react-components/react-utilities/src/compose/assertSlots.ts
Labels: Package: utilities, Fluent UI react-components (v9)

#28948 feat(react-utilities): create useAnimationFrame hook
  change/@fluentui-react-utilities-8a73f07d-6553-402e-b292-938e7141264a.json
  packages/react-components/react-utilities/etc/react-utilities.api.md
  packages/react-components/react-utilities/src/hooks/index.ts
  packages/react-components/react-utilities/src/hooks/useAnimationFrame.test.ts
  packages/react-components/react-utilities/src/hooks/useAnimationFrame.ts
  packages/react-components/react-utilities/src/hooks/useBrowserTimer.test.ts
  packages/react-components/react-utilities/src/hooks/useBrowserTimer.ts
  packages/react-components/react-utilities/src/hooks/useTimeout.ts
  packages/react-components/react-utilities/src/index.ts
Labels: Package: utilities

#28955 feat(react-table, react-components): export DataGridContextProvider
  change/@fluentui-react-components-6b3fa56a-0bb9-4dd2-8e10-4f60933b6573.json
  change/@fluentui-react-table-28ca67b3-8bb9-4572-87a2-8ee58c0d19a0.json
  packages/react-components/react-components/etc/react-components.api.md
  packages/react-components/react-components/src/index.ts
  packages/react-components/react-table/etc/react-table.api.md
  packages/react-components/react-table/src/index.ts
Labels: Type: Feature

#27328 RFC: Component CSS Transitions/Animations on mount/unmount
  rfcs/react-components/convergence/component-transitions-on-mount-or-unmount.md
Labels: Type: RFC

#28832 badge unit testing
  packages/web-components/src/badge/badge.spec.ts
Labels: web-components

#28815 Adds Tests For Fluent Image Web Component
  packages/web-components/src/image/image.spec.ts
Labels: web-components

#28825 Adds Tests For Fluent Anchor Button Web Component
  packages/web-components/src/anchor-button/anchor-button.spec.ts
Labels: web-components

#28969 docs(react-card): improve storybook and examples to better align with…
  change/@fluentui-react-card-cdcfa155-17c0-496e-9721-679a95dc295d.json
  packages/react-components/react-card/README.md
  packages/react-components/react-card/src/components/Card/Card.cy.tsx
  packages/react-components/react-card/stories/Card/CardAppearance.stories.tsx
  packages/react-components/react-card/stories/Card/CardDefault.stories.tsx
  packages/react-components/react-card/stories/Card/CardFocusMode.stories.tsx
  packages/react-components/react-card/stories/Card/CardOrientation.stories.tsx
  packages/react-components/react-card/stories/Card/CardSelectable.stories.tsx
  packages/react-components/react-card/stories/Card/CardSelectableIndicator.stories.tsx
  packages/react-components/react-card/stories/Card/CardTemplates.stories.tsx
  packages/react-components/react-card/stories/CardFooter/CardFooterDefault.stories.tsx
  packages/react-components/react-card/stories/CardHeader/CardHeaderDefault.stories.tsx
  packages/react-components/react-card/stories/CardPreview/CardPreviewDefault.stories.tsx
  packages/react-components/react-card/stories/assets/docx.png
  packages/react-components/react-card/stories/assets/excel_logo.svg
  packages/react-components/react-card/stories/assets/powerpoint_logo.svg
  packages/react-components/react-card/stories/assets/pptx.png
  packages/react-components/react-card/stories/assets/word_logo.svg
  packages/react-components/react-card/stories/assets/xlsx.png
Labels: Type: Documentation, Component: Card

#28504 Pie chart focus spacing
  change/@fluentui-react-charting-7ed503a2-d9d1-4679-8074-c67eb83161e1.json
  packages/react-charting/src/components/PieChart/Arc/Arc.styles.ts
  packages/react-charting/src/components/PieChart/Arc/Arc.tsx
  packages/react-charting/src/components/PieChart/Arc/Arc.types.ts
  packages/react-charting/src/components/PieChart/Pie/Pie.tsx
  packages/react-charting/src/components/PieChart/Pie/Pie.types.ts
  packages/react-charting/src/components/PieChart/PieChart.base.tsx
  packages/react-charting/src/components/PieChart/PieChartRTL.test.tsx
  packages/react-charting/src/components/PieChart/__snapshots__/PieChart.test.tsx.snap
  packages/react-charting/src/components/PieChart/__snapshots__/PieChartRTL.test.tsx.snap
  packages/react-charting/src/utilities/SVGTooltipText.tsx
  packages/react-examples/src/react-charting/PieChart/PieChart.Basic.Example.tsx
  packages/react-examples/src/react-charting/PieChart/PieChart.Dynamic.Example.tsx
Labels: Package: charting

#28414 Focus indicator bug in bar charts
  change/@fluentui-react-charting-20c8ae70-f2a4-4ef4-89b6-7ca932f7481d.json
  packages/react-charting/src/components/HorizontalBarChart/HorizontalBarChart.base.tsx
  packages/react-charting/src/components/HorizontalBarChart/HorizontalBarChart.styles.ts
  packages/react-charting/src/components/HorizontalBarChart/__snapshots__/HorizontalBarChart.test.tsx.snap
  packages/react-charting/src/components/StackedBarChart/MultiStackedBarChart.base.tsx
  packages/react-charting/src/components/StackedBarChart/MultiStackedBarChart.styles.ts
  packages/react-charting/src/components/StackedBarChart/StackedBarChart.base.tsx
  packages/react-charting/src/components/StackedBarChart/StackedBarChart.styles.ts
  packages/react-charting/src/components/StackedBarChart/__snapshots__/MultiStackedBarChart.test.tsx.snap
  packages/react-charting/src/components/StackedBarChart/__snapshots__/MultiStackedBarChartRTL.test.tsx.snap
  packages/react-charting/src/components/StackedBarChart/__snapshots__/StackedBarChart.test.tsx.snap
  packages/react-charting/src/components/StackedBarChart/__snapshots__/StackedBarChartRTL.test.tsx.snap
  packages/react-examples/src/react-charting/MultiStackedBarChart/MultiStackedBarChart.Example.tsx
  packages/react-examples/src/react-charting/MultiStackedBarChart/MultiStackedBarChartPage.tsx
Labels: Package: charting

#28934 docs(react-drawer): update drawer spec to be inline with changes to component
  packages/react-components/react-drawer/docs/Spec.md
Labels: Type: Documentation, Component: Drawer

#28976 feat: Bump version to beta
  apps/vr-tests-web-components/package.json
  change/@fluentui-web-components-2f4b6058-a642-437e-adf0-85fdeb5fe68c.json
  packages/web-components/package.json
Labels: Fluent UI WC (v3)

#28968 fix(react-card): CardHeader grid layout ignoring line-height of content
  change/@fluentui-react-card-97d7abde-06d9-46cc-a71a-147630a0431e.json
  packages/react-components/react-card/src/components/CardHeader/useCardHeaderStyles.styles.ts
Labels: Type: Bug :bug:, Component: Card

#28235 Line Chart and Area Chart - Component tests
  change/@fluentui-react-charting-fb2207fd-522a-4790-b398-e9546a11aec2.json
  packages/react-charting/docs/TestPlans/AreaChart/ComponentTests.md
  packages/react-charting/docs/TestPlans/LineChart/ComponentTests.md
  packages/react-charting/src/components/AreaChart/AreaChart.base.tsx
  packages/react-charting/src/components/AreaChart/AreaChart.test.tsx
  packages/react-charting/src/components/AreaChart/AreaChartRTL.test.tsx
  packages/react-charting/src/components/AreaChart/__snapshots__/AreaChart.test.tsx.snap
  packages/react-charting/src/components/AreaChart/__snapshots__/AreaChartRTL.test.tsx.snap
  packages/react-charting/src/components/LineChart/LineChartRTL.test.tsx
  packages/react-charting/src/components/LineChart/__snapshots__/LineChartRTL.test.tsx.snap
  packages/react-charting/src/utilities/TestUtility.test.tsx
Labels: Package: charting

#29003 feat: adds mountNode to DialogSurface and Toaster API
  change/@fluentui-react-dialog-255eaef7-254c-458a-8755-43716637aeb0.json
  change/@fluentui-react-toast-8957c28e-fa82-41fd-9dd4-b9efd30f398e.json
  packages/react-components/react-dialog/etc/react-dialog.api.md
  packages/react-components/react-dialog/src/components/DialogSurface/DialogSurface.types.ts
  packages/react-components/react-dialog/src/components/DialogSurface/renderDialogSurface.tsx
  packages/react-components/react-dialog/src/components/DialogSurface/useDialogSurface.ts
  packages/react-components/react-toast/etc/react-toast.api.md
  packages/react-components/react-toast/src/components/Toaster/Toaster.types.ts
  packages/react-components/react-toast/src/components/Toaster/renderToaster.tsx
  packages/react-components/react-toast/src/components/Toaster/useToaster.tsx
Labels: Component: Dialog

#29013 Horizontal bar chart - Component tests
  packages/react-charting/docs/TestPlans/HorizontalBarChart/ComponentTests.md
  packages/react-charting/src/components/HorizontalBarChart/HorizontalBarChartRTL.test.tsx
  packages/react-charting/src/components/HorizontalBarChart/__snapshots__/HorizontalBarChartRTL.test.tsx.snap
Labels: Package: charting

#29021 bugfix: fixes DialogActions position on breakpoint
  change/@fluentui-react-dialog-ca3365f9-0885-4e75-989a-7a7bb419ef85.json
  packages/react-components/react-dialog/src/components/DialogActions/useDialogActionsStyles.styles.ts
Labels: Component: Dialog, Fluent UI react-components (v9)

#29025 fix(ssr-tests-v9): use correct path for ssr-tests-v9 stories
  apps/ssr-tests-v9/package.json
Labels: Area: Build System

#28999 feat(react-drawer): add motion to Drawer
  change/@fluentui-react-drawer-cc6d89d5-c275-456d-83da-844898335d2e.json
  packages/react-components/react-drawer/etc/react-drawer.api.md
  packages/react-components/react-drawer/package.json
  packages/react-components/react-drawer/src/components/Drawer/Drawer.types.ts
  packages/react-components/react-drawer/src/components/Drawer/useDrawer.ts
  packages/react-components/react-drawer/src/components/DrawerInline/DrawerInline.test.tsx
  packages/react-components/react-drawer/src/components/DrawerInline/DrawerInline.tsx
  packages/react-components/react-drawer/src/components/DrawerInline/DrawerInline.types.ts
  packages/react-components/react-drawer/src/components/DrawerInline/renderDrawerInline.tsx
  packages/react-components/react-drawer/src/components/DrawerInline/useDrawerInline.ts
  packages/react-components/react-drawer/src/components/DrawerInline/useDrawerInlineStyles.styles.ts
  packages/react-components/react-drawer/src/components/DrawerOverlay/DrawerOverlay.types.ts
  packages/react-components/react-drawer/src/components/DrawerOverlay/renderDrawerOverlay.tsx
  packages/react-components/react-drawer/src/components/DrawerOverlay/useDrawerOverlay.ts
  packages/react-components/react-drawer/src/components/DrawerOverlay/useDrawerOverlayStyles.styles.ts
  packages/react-components/react-drawer/src/util/DrawerBase.types.ts
  packages/react-components/react-drawer/src/util/useDrawerBaseStyles.styles.ts
  packages/react-components/react-drawer/src/util/useDrawerDefaultProps.ts
  packages/react-components/react-drawer/stories/Drawer/DrawerDefault.stories.tsx
  packages/react-components/react-drawer/stories/Drawer/DrawerInline.stories.tsx
  packages/react-components/react-drawer/stories/Drawer/DrawerResizable.stories.tsx
  packages/react-components/react-drawer/stories/Drawer/DrawerWithNavigation.stories.tsx
  packages/react-components/react-drawer/stories/Drawer/DrawerWithScroll.stories.tsx
Labels: Component: Drawer

#28906 mergeStyles: initial shadow DOM and constructable stylesheets implementation
  azure-pipelines.yml
  change/@fluentui-jest-serializer-merge-styles-8ad53e9f-3456-4924-b50d-48ffd979b2ce.json
  change/@fluentui-merge-styles-284eeed7-0d8c-4ebf-a44c-1e34467aca9b.json
  change/@fluentui-react-b73398fa-9e0a-4d05-97a4-7a4820a876c1.json
  change/@fluentui-utilities-3b3cdc9c-0e4f-4c68-aee6-9040e041186c.json
  packages/jest-serializer-merge-styles/tsconfig.json
  packages/merge-styles/etc/merge-styles.api.md
  packages/merge-styles/src/EventMap.ts
  packages/merge-styles/src/IStyleOptions.ts
  packages/merge-styles/src/IStyleSet.ts
  packages/merge-styles/src/Stylesheet.ts
  packages/merge-styles/src/extractStyleParts.test.ts
  packages/merge-styles/src/extractStyleParts.ts
  packages/merge-styles/src/index.ts
  packages/merge-styles/src/mergeStyleSets.ts
  packages/merge-styles/src/mergeStyles.ts
  packages/merge-styles/src/shadowConfig.test.ts
  packages/merge-styles/src/shadowConfig.ts
  packages/merge-styles/src/styleToClassName.ts
  packages/react-examples/src/react/ShadowDOM/ShadowDOM.Default.Example.tsx
  packages/react-examples/src/react/ShadowDOM/ShadowDOM.doc.tsx
  packages/react-examples/src/react/ShadowDOM/docs/ShadowDOMBestPractices.md
  packages/react-examples/src/react/ShadowDOM/docs/ShadowDOMOverview.md
  packages/react-experiments/src/components/PersonaCoin/PersonaCoin.test.tsx
  packages/react/etc/react.api.md
  packages/react/src/Utilities.ts
  packages/react/src/components/Button/BaseButton.classNames.ts
  packages/react/src/components/Button/Button.types.ts
  packages/react/src/components/SpinButton/SpinButton.types.ts
  packages/react/src/components/TextField/TextField.types.ts
  packages/react/src/index.ts
  packages/utilities/etc/utilities.api.md
  packages/utilities/src/classNamesFunction.ts
  packages/utilities/src/customizations/customizable.test.tsx
  packages/utilities/src/customizations/customizable.tsx
  packages/utilities/src/index.ts
  packages/utilities/src/shadowDom/MergeStylesRootContext.tsx
  packages/utilities/src/shadowDom/MergeStylesShadowRootContext.tsx
  packages/utilities/src/styled.tsx
Labels: Component: $1, Package: $1

#29014 feat(react-motion): create useReducedMotion and apply to useMotion to skip animations
  change/@fluentui-react-motion-preview-636e24db-8a0b-4116-99d1-001f7103748d.json
  packages/react-components/react-motion-preview/package.json
  packages/react-components/react-motion-preview/src/hooks/useMotion.ts
  packages/react-components/react-motion-preview/src/hooks/useReducedMotion.ts
Labels: Package: motion
