Repository microsoft/fluentui, pull requests merged in 2023-02, with the labels that each got.

#26573 fix: v8 Dropdown option focus should not be cut off in HCM
  change/@fluentui-react-94027d49-963c-4769-b134-8dc2632fe98c.json
  packages/react/src/components/Dropdown/Dropdown.styles.ts
  packages/react/src/components/Dropdown/__snapshots__/Dropdown.test.tsx.snap
Labels: Component: Dropdown

#25962 [DatePicker] fix default date parser converting dates to UTC implicitly
  change/@fluentui-react-d7fc6747-d247-408f-9f39-3cf594589f9f.json
  packages/react/src/components/DatePicker/DatePicker.base.tsx
Labels: Component: DatePicker

#26562 docs: use full source in "Show code"
  .storybook/preview.js
  package.json
  typings/storybook__addons/index.d.ts
  yarn.lock
Labels: Area: Documentation

#26554 feat: generate new component structure for react-drawer
  .github/CODEOWNERS
  packages/react-components/react-drawer/.babelrc.json
  packages/react-components/react-drawer/.eslintrc.json
  packages/react-components/react-drawer/.npmignore
  packages/react-components/react-drawer/.storybook/main.js
  packages/react-components/react-drawer/.storybook/preview.js
  packages/react-components/react-drawer/.storybook/tsconfig.json
  packages/react-components/react-drawer/LICENSE
  packages/react-components/react-drawer/README.md
  packages/react-components/react-drawer/config/api-extractor.json
  packages/react-components/react-drawer/config/tests.js
  packages/react-components/react-drawer/cypress.config.ts
  packages/react-components/react-drawer/docs/Spec.md
  packages/react-components/react-drawer/etc/react-drawer.api.md
  packages/react-components/react-drawer/jest.config.js
  packages/react-components/react-drawer/just.config.ts
  packages/react-components/react-drawer/package.json
  packages/react-components/react-drawer/src/Drawer.ts
  packages/react-components/react-drawer/src/components/Drawer/Drawer.cy.tsx
  packages/react-components/react-drawer/src/components/Drawer/Drawer.test.tsx
  packages/react-components/react-drawer/src/components/Drawer/Drawer.tsx
  packages/react-components/react-drawer/src/components/Drawer/Drawer.types.ts
  packages/react-components/react-drawer/src/components/Drawer/index.ts
  packages/react-components/react-drawer/src/components/Drawer/renderDrawer.tsx
  packages/react-components/react-drawer/src/components/Drawer/useDrawer.ts
  packages/react-components/react-drawer/src/components/Drawer/useDrawerStyles.ts
  packages/react-components/react-drawer/src/index.ts
  packages/react-components/react-drawer/src/testing/isConformant.ts
  packages/react-components/react-drawer/stories/Drawer/DrawerBestPractices.md
  packages/react-components/react-drawer/stories/Drawer/DrawerDefault.stories.tsx
  packages/react-components/react-drawer/stories/Drawer/DrawerDescription.md
  packages/react-components/react-drawer/stories/Drawer/DrawerPreview.md
  packages/react-components/react-drawer/stories/Drawer/index.stories.tsx
  packages/react-components/react-drawer/tsconfig.json
  packages/react-components/react-drawer/tsconfig.lib.json
  packages/react-components/react-drawer/tsconfig.spec.json
  tsconfig.base.json
  workspace.json
Labels: Component: Drawer

#26550 chore(react-tree): adds TreeItemLayout to all stories
  packages/react-components/react-tree/src/components/Tree/useTree.ts
  packages/react-components/react-tree/src/components/TreeItem/useTreeItemStyles.ts
  packages/react-components/react-tree/src/components/TreeItemLayout/useTreeItemLayoutStyles.ts
  packages/react-components/react-tree/stories/Tree/TreeActions.stories.tsx
  packages/react-components/react-tree/stories/Tree/TreeAppearance.stories.tsx
  packages/react-components/react-tree/stories/Tree/TreeControllingOpenAndClose.stories.tsx
  packages/react-components/react-tree/stories/Tree/TreeDefault.stories.tsx
  packages/react-components/react-tree/stories/Tree/TreeDefaultOpenTrees.stories.tsx
  packages/react-components/react-tree/stories/Tree/TreeExpandIcon.stories.tsx
  packages/react-components/react-tree/stories/Tree/TreeIconAfter.stories.tsx
  packages/react-components/react-tree/stories/Tree/TreeIconBefore.stories.tsx
Labels: Fluent UI react-components (v9), Component: Tree

#26581 ci: use major version for add-to-milestone to get latest fixes
  .github/workflows/pr-housekeeping.yml
Labels: CI

#26476 chore(public-docsite-v9): enable build-less DX for storybook
  .storybook/main.js
  apps/public-docsite-v9/.storybook/main.js
  apps/public-docsite-v9/README.md
  package.json
  scripts/storybook/src/index.d.ts
  scripts/storybook/src/index.js
  scripts/storybook/src/loaders/custom-loader.js
  scripts/storybook/src/rules.js
  scripts/storybook/src/rules.spec.ts
  scripts/storybook/src/utils.js
  yarn.lock
Labels: Area: DevExp, Area: Website

#26529 Generated empty Breadcrumb component v9
  .github/CODEOWNERS
  packages/react-components/react-breadcrumb/.babelrc.json
  packages/react-components/react-breadcrumb/.eslintrc.json
  packages/react-components/react-breadcrumb/.npmignore
  packages/react-components/react-breadcrumb/.storybook/main.js
  packages/react-components/react-breadcrumb/.storybook/preview.js
  packages/react-components/react-breadcrumb/.storybook/tsconfig.json
  packages/react-components/react-breadcrumb/LICENSE
  packages/react-components/react-breadcrumb/README.md
  packages/react-components/react-breadcrumb/config/api-extractor.json
  packages/react-components/react-breadcrumb/config/tests.js
  packages/react-components/react-breadcrumb/docs/Spec.md
  packages/react-components/react-breadcrumb/etc/react-breadcrumb.api.md
  packages/react-components/react-breadcrumb/jest.config.js
  packages/react-components/react-breadcrumb/just.config.ts
  packages/react-components/react-breadcrumb/package.json
  packages/react-components/react-breadcrumb/src/Breadcrumb.ts
  packages/react-components/react-breadcrumb/src/components/Breadcrumb/Breadcrumb.test.tsx
  packages/react-components/react-breadcrumb/src/components/Breadcrumb/Breadcrumb.tsx
  packages/react-components/react-breadcrumb/src/components/Breadcrumb/Breadcrumb.types.ts
  packages/react-components/react-breadcrumb/src/components/Breadcrumb/__snapshots__/Breadcrumb.test.tsx.snap
  packages/react-components/react-breadcrumb/src/components/Breadcrumb/index.ts
  packages/react-components/react-breadcrumb/src/components/Breadcrumb/renderBreadcrumb.tsx
  packages/react-components/react-breadcrumb/src/components/Breadcrumb/useBreadcrumb.ts
  packages/react-components/react-breadcrumb/src/components/Breadcrumb/useBreadcrumbStyles.ts
  packages/react-components/react-breadcrumb/src/index.ts
  packages/react-components/react-breadcrumb/src/testing/isConformant.ts
  packages/react-components/react-breadcrumb/stories/Breadcrumb/BreadcrumbBestPractices.md
  packages/react-components/react-breadcrumb/stories/Breadcrumb/BreadcrumbDefault.stories.tsx
  packages/react-components/react-breadcrumb/stories/Breadcrumb/BreadcrumbDescription.md
  packages/react-components/react-breadcrumb/stories/Breadcrumb/index.stories.tsx
  packages/react-components/react-breadcrumb/tsconfig.json
  packages/react-components/react-breadcrumb/tsconfig.lib.json
  packages/react-components/react-breadcrumb/tsconfig.spec.json
  tsconfig.base.json
  workspace.json
Labels: Component: Breadcrumb

#26587 fix(ssr-tests-v9): don't open browser twice on CI to potentially mitigate TIMEOUT issues
  apps/ssr-tests-v9/src/utils/getChromeVersion.ts
Labels: CI

#26589 fix(public-docsite-v9): add migration packages as dependency to properly build when releasing
  apps/public-docsite-v9/package.json
Labels: Area: Website

#26591 Fix: Contextual menu label missing overflow hidden
  change/@fluentui-react-0437e436-ce0b-49ed-b3a5-5b0478c2db87.json
  packages/react/src/components/ContextualMenu/ContextualMenu.cnstyles.ts
  packages/react/src/components/ContextualMenu/__snapshots__/ContextualMenu.test.tsx.snap
Labels: Component: ContextualMenu

#26569 fix(scripts-generators): make create-component work properly on windows and improve DX
  change/@fluentui-eslint-plugin-9c309582-f6de-425d-bc96-c927db2786da.json
  packages/eslint-plugin/src/configs/base.js
  scripts/generators/create-component/index.ts
  tools/generators/migrate-converged-pkg/index.ts
Labels: Area: Build System

#26629 ci: setup web-components docsite CI/CD
  .github/workflows/azure-static-web-apps-deploy.yml
  change/@fluentui-web-components-b1d83acd-4849-4848-b056-d97f03b7c37c.json
  packages/web-components/.storybook/main.cjs
Labels: web-components

#26596 chore(react-infobutton): Making InfoButton's content focusable and update example's text
  change/@fluentui-react-infobutton-69f14ed0-88e3-4612-94cb-3734976c0c7e.json
  packages/react-components/react-infobutton/src/components/InfoButton/useInfoButton.tsx
  packages/react-components/react-infobutton/stories/Infobutton/InfoButtonWithLabel.stories.tsx
Labels: Fluent UI react-components (v9), Component: InfoButton

#26624 fix: v8 HoverCard example adjusts to viewport, add a11y info to docs
  packages/react-examples/src/react/HoverCard/HoverCard.Target.Example.tsx
  packages/react-examples/src/react/HoverCard/docs/HoverCardBestPractices.md
Labels: Area: Website

#26566 fix: Dropdown/Combobox checkboxes have double swipe stops for some screen readers
  change/@fluentui-react-89173b86-4f03-440a-93e8-23c4c3569f3b.json
  packages/react/src/components/ComboBox/ComboBox.tsx
  packages/react/src/components/ComboBox/__snapshots__/ComboBox.test.tsx.snap
  packages/react/src/components/Dropdown/Dropdown.base.tsx
  packages/react/src/components/Dropdown/__snapshots__/Dropdown.test.tsx.snap
Labels: Component: Dropdown, Component: ComboBox, Fluent UI react (v8)

#26655 fix: Using correct icon and color for away + out-of-office PresenceBadge
  change/@fluentui-react-badge-1d02e00e-35d1-4d9a-8f0e-9a522c35bd8d.json
  packages/react-components/react-badge/src/components/PresenceBadge/usePresenceBadge.tsx
  packages/react-components/react-badge/src/components/PresenceBadge/usePresenceBadgeStyles.ts
Labels: Fluent UI react-components (v9), Component: PresenceBadge

#26623 fix: react-button high contrast mode primary variant
  change/@fluentui-react-button-6070b42d-35c8-4c8a-b515-e0893216885b.json
  packages/react-components/react-button/src/components/Button/useButtonStyles.ts
  packages/react-components/react-button/src/components/CompoundButton/useCompoundButtonStyles.ts
  packages/react-components/react-button/src/components/SplitButton/useSplitButtonStyles.ts
  packages/react-components/react-button/src/components/ToggleButton/useToggleButtonStyles.ts
Labels: Area: Accessibility, Component: Button

#26659 Updated description for spin button
  change/@fluentui-react-spinbutton-1c9c635e-904e-4263-a839-99fe9fdb7ffe.json
  packages/react-components/react-spinbutton/stories/SpinButton/SpinButtonDescription.md
Labels: Area: Documentation

#26658 removed disabled property from Label
  packages/react-components/react-input/stories/Input/InputDisabled.stories.tsx
  packages/react-components/react-radio/stories/RadioGroup/RadioGroupDisabled.stories.tsx
Labels: Area: Documentation, Component: Input, Component: RadioGroup

#26148 RFC: Styling Handbook for Fluent UI React v9
  rfcs/react-components/styles-handbook.md
Labels: Type: RFC

#26685 fix(Dropdown): Allow clear on Enter/Space press
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/components/Dropdown/Dropdown.tsx
  packages/fluentui/react-northstar/test/specs/components/Dropdown/Dropdown-test.tsx
  packages/fluentui/react-northstar/test/specs/components/Dropdown/test-utils.tsx
Labels: Fluent UI react-northstar

#26536 Added information about `Open in CodeSandbox` button repo
  apps/public-docsite-v9/README.md
Labels: Area: Documentation, Area: Website

#26614 fix(react-card): improve description for card props
  change/@fluentui-react-card-71e624d4-844c-4bc2-a76e-0b4a2197b530.json
  packages/react-components/react-card/src/components/Card/Card.types.ts
Labels: Component: Card

#26654 Azure Theme: toggle & commandbar style updates
  change/@fluentui-azure-themes-fde6e654-0910-4897-912e-842bf2024601.json
  packages/azure-themes/src/azure/Constants.ts
  packages/azure-themes/src/azure/styles/ActionButton.styles.ts
  packages/azure-themes/src/azure/styles/SpinButton.styles.ts
  packages/azure-themes/src/azure/styles/Toggle.styles.ts
  packages/react-examples/src/azure-themes/stories/Themes/Themes.stories.tsx
  packages/react-examples/src/azure-themes/stories/components/actionButton.stories.tsx
  packages/react-examples/src/azure-themes/stories/components/commandBar.stories.tsx
  packages/react-examples/src/azure-themes/stories/components/commandBarButton.stories.tsx
Labels: Package: azure-themes

#25961 [DatePicker] fix validationOnLoad prop is ignored
  change/@fluentui-react-f7e63c25-beed-4e4a-bdea-50c96a909588.json
  packages/react/src/components/DatePicker/DatePicker.base.tsx
  packages/react/src/components/DatePicker/DatePicker.test.tsx
Labels: Component: DatePicker

#26584 feat: Bump keyborg to 2.0.0 and tabster to 4.1.1
  change/@fluentui-react-tabster-b2d43df9-1387-475e-b4e3-a4204207aba2.json
  packages/react-components/react-tabster/etc/react-tabster.api.md
  packages/react-components/react-tabster/package.json
  packages/react-components/react-tabster/src/hooks/useFocusFinders.ts
  yarn.lock
Labels: Component: Table, Component: Menu, Component: DataGrid

#26627 feat: react-data-grid-react-window should be complete extension package
  change/@fluentui-react-components-7a8583a3-a0c8-4391-9083-d36fa2598973.json
  change/@fluentui-react-table-4d29794e-c7a5-4723-8a85-3e5668c2c102.json
  packages/react-components/react-components/etc/react-components.unstable.api.md
  packages/react-components/react-components/src/unstable/index.ts
  packages/react-components/react-data-grid-react-window/etc/react-data-grid-react-window.api.md
  packages/react-components/react-data-grid-react-window/src/DataGrid.ts
  packages/react-components/react-data-grid-react-window/src/DataGridRow.ts
  packages/react-components/react-data-grid-react-window/src/components/DataGrid/DataGrid.tsx
  packages/react-components/react-data-grid-react-window/src/components/DataGrid/index.ts
  packages/react-components/react-data-grid-react-window/src/components/DataGrid/useDataGrid.ts
  packages/react-components/react-data-grid-react-window/src/components/DataGridBody/DataGridBody.test.tsx
  packages/react-components/react-data-grid-react-window/src/components/DataGridBody/DataGridBody.types.ts
  packages/react-components/react-data-grid-react-window/src/components/DataGridBody/renderDataGridBody.tsx
  packages/react-components/react-data-grid-react-window/src/components/DataGridBody/useDataGridBody.ts
  packages/react-components/react-data-grid-react-window/src/components/DataGridRow/DataGridRow.tsx
  packages/react-components/react-data-grid-react-window/src/components/DataGridRow/index.ts
  packages/react-components/react-data-grid-react-window/src/components/DataGridRow/useDataGridRow.ts
  packages/react-components/react-data-grid-react-window/src/contexts/rowIndexContext.ts
  packages/react-components/react-data-grid-react-window/src/index.ts
  packages/react-components/react-table/etc/react-table.api.md
  packages/react-components/react-table/src/components/DataGrid/index.ts
  packages/react-components/react-table/src/index.ts
  packages/react-components/react-table/stories/DataGrid/Virtualization.stories.tsx
  scripts/storybook/src/utils.js
Labels: Component: Table

#26617 fix: react-combobox never uses Option value as a display string
  apps/vr-tests-react-components/src/stories/Combobox.stories.tsx
  apps/vr-tests-react-components/src/stories/Dropdown.stories.tsx
  change/@fluentui-react-combobox-6312fcfc-fc81-4a08-9c2e-b3a654ee49a0.json
  packages/react-components/react-combobox/src/components/Combobox/Combobox.test.tsx
  packages/react-components/react-combobox/src/components/Combobox/useCombobox.tsx
  packages/react-components/react-combobox/src/components/Dropdown/Dropdown.test.tsx
  packages/react-components/react-combobox/src/components/Dropdown/useDropdown.tsx
  packages/react-components/react-combobox/src/utils/OptionCollection.types.ts
  packages/react-components/react-combobox/src/utils/Selection.types.ts
  packages/react-components/react-combobox/src/utils/useComboboxBaseState.ts
  packages/react-components/react-combobox/src/utils/useOptionCollection.ts
  packages/react-components/react-combobox/stories/Combobox/ComboboxControlled.stories.tsx
  packages/react-components/react-combobox/stories/Combobox/index.stories.tsx
  packages/react-components/react-combobox/stories/Dropdown/DropdownControlled.stories.tsx
  packages/react-components/react-combobox/stories/Dropdown/index.stories.tsx
Labels: Component: ComboBox

#26738 feat: TableCellLayout component now supports truncate prop
  apps/vr-tests-react-components/src/stories/Table.stories.tsx
  change/@fluentui-react-table-837a2183-555e-4693-9a8e-e3f1e89bed61.json
  packages/react-components/react-table/etc/react-table.api.md
  packages/react-components/react-table/src/components/TableCellLayout/TableCellLayout.types.ts
  packages/react-components/react-table/src/components/TableCellLayout/useTableCellLayout.ts
  packages/react-components/react-table/src/components/TableCellLayout/useTableCellLayoutStyles.ts
  packages/react-components/react-table/stories/Table/ResizableColumnsControlled.stories.tsx
  packages/react-components/react-table/stories/Table/ResizableColumnsUncontrolled.stories.tsx
Labels: Component: Table

#26690 feat: DataGrid - resizable columns
  change/@fluentui-react-table-8682f0cf-67c2-4f72-8a1a-fa9e4cbeb580.json
  packages/react-components/react-table/etc/react-table.api.md
  packages/react-components/react-table/src/components/DataGrid/DataGrid.test.tsx
  packages/react-components/react-table/src/components/DataGrid/DataGrid.types.ts
  packages/react-components/react-table/src/components/DataGrid/useDataGrid.ts
  packages/react-components/react-table/src/components/DataGrid/useDataGridContextValues.ts
  packages/react-components/react-table/src/components/DataGridCell/useDataGridCell.ts
  packages/react-components/react-table/src/components/DataGridHeaderCell/useDataGridHeaderCell.ts
  packages/react-components/react-table/src/components/TableSelectionCell/useTableSelectionCellStyles.ts
  packages/react-components/react-table/src/hooks/types.ts
  packages/react-components/react-table/src/hooks/useTableColumnResizeMouseHandler.ts
  packages/react-components/react-table/src/hooks/useTableColumnResizeState.test.ts
  packages/react-components/react-table/src/hooks/useTableColumnResizeState.ts
  packages/react-components/react-table/src/hooks/useTableColumnSizing.test.ts
  packages/react-components/react-table/src/hooks/useTableColumnSizing.tsx
  packages/react-components/react-table/src/utils/columnResizeUtils.ts
  packages/react-components/react-table/stories/DataGrid/ResizableColumns.stories.tsx
  packages/react-components/react-table/stories/DataGrid/index.stories.tsx
  packages/react-components/react-table/stories/Table/ResizableColumnsControlled.stories.tsx
  packages/react-components/react-table/stories/Table/ResizableColumnsUncontrolled.stories.tsx
Labels: Component: DataGrid

#26757 fix(storybook): turn off mangling on production builds to provide same output as with Terser
  .storybook/main.js
  package.json
  yarn.lock
Labels: Area: Documentation

#26687 chore: prepare release react-northstar 0.66.1
  apps/public-docsite-v9/package.json
  packages/fluentui/CHANGELOG.md
  packages/fluentui/ability-attributes/package.json
  packages/fluentui/accessibility/package.json
  packages/fluentui/circulars-test/package.json
  packages/fluentui/code-sandbox/package.json
  packages/fluentui/digest/package.json
  packages/fluentui/docs-components/package.json
  packages/fluentui/docs/package.json
  packages/fluentui/e2e/package.json
  packages/fluentui/lerna.json
  packages/fluentui/local-sandbox/package.json
  packages/fluentui/perf-test-northstar/package.json
  packages/fluentui/perf/package.json
  packages/fluentui/projects-test/package.json
  packages/fluentui/react-bindings/package.json
  packages/fluentui/react-builder/package.json
  packages/fluentui/react-component-event-listener/package.json
  packages/fluentui/react-component-nesting-registry/package.json
  packages/fluentui/react-component-ref/package.json
  packages/fluentui/react-icons-northstar/package.json
  packages/fluentui/react-northstar-emotion-renderer/package.json
  packages/fluentui/react-northstar-fela-renderer/package.json
  packages/fluentui/react-northstar-prototypes/package.json
  packages/fluentui/react-northstar-styles-renderer/package.json
  packages/fluentui/react-northstar/package.json
  packages/fluentui/react-proptypes/package.json
  packages/fluentui/react-telemetry/package.json
  packages/fluentui/state/package.json
  packages/fluentui/styles/package.json
  packages/react-components/react-migration-v0-v9/package.json
Labels: Fluent UI react-northstar

#26612 fix: keyboard navigation not working for select elements
  change/@fluentui-react-card-99a5c2cf-1f16-494b-9469-039530ba44d3.json
  packages/react-components/react-card/src/components/Card/Card.test.tsx
  packages/react-components/react-card/src/components/Card/useCard.ts
  packages/react-components/react-card/src/components/Card/useCardSelectable.ts
  packages/react-components/react-card/stories/Card/CardSelectableIndicator.stories.tsx
Labels: Component: Card

#26747 fix: Small mistake in docs for Avatar name prop
  change/@fluentui-react-avatar-b5550fce-57c1-4cc6-8a4c-a8b22d9e4dd6.json
  packages/react-components/react-avatar/src/components/Avatar/Avatar.types.ts
Labels: Fluent UI react-components (v9), Component: Avatar

#26549 chore: Update Field Spec and Migration guide to match current implementation
  change/@fluentui-react-field-0653500c-e64a-4aa5-b0c8-f63390152e41.json
  packages/react-components/react-field/docs/Migration.md
  packages/react-components/react-field/docs/Spec.md
Labels: Fluent UI react-components (v9), Component: Field

#26603 chore: Add perf tests for Field
  apps/perf-test-react-components/package.json
  apps/perf-test-react-components/src/scenarios/Field.tsx
Labels: Area: Build System

#26745 fix(react-utilities, react-provider): Remove colons from generated id and fix hook order error in React 18
  change/@fluentui-react-provider-2dd88fac-fd7c-4313-98b8-3941d9399f42.json
  change/@fluentui-react-utilities-db7dae74-67ca-40d9-9548-f9b0965366c2.json
  packages/react-components/react-provider/src/components/FluentProvider/useFluentProviderThemeStyleTag.ts
  packages/react-components/react-utilities/src/hooks/useId.ts
Labels: Component: Dropdown, Component: Card, Fluent UI react-components (v9), Component: FluentProvider, React 18

#26599 chore: Update Field documentation and stories
  change/@fluentui-react-field-bec041cc-5c4c-4bba-9e4f-8744816ac81c.json
  packages/react-components/react-field/README.md
  packages/react-components/react-field/src/components/Field/Field.types.ts
  packages/react-components/react-field/stories/Field/FieldBestPractices.md
  packages/react-components/react-field/stories/Field/FieldComponentExamples.stories.tsx
  packages/react-components/react-field/stories/Field/FieldDefault.stories.tsx
  packages/react-components/react-field/stories/Field/FieldDescription.md
  packages/react-components/react-field/stories/Field/FieldHint.stories.tsx
  packages/react-components/react-field/stories/Field/FieldHorizontal.stories.tsx
  packages/react-components/react-field/stories/Field/FieldLabel.stories.tsx
  packages/react-components/react-field/stories/Field/FieldRenderFunction.stories.tsx
  packages/react-components/react-field/stories/Field/FieldRequired.stories.tsx
  packages/react-components/react-field/stories/Field/FieldSize.stories.tsx
  packages/react-components/react-field/stories/Field/FieldValidationMessage.stories.tsx
  packages/react-components/react-field/stories/Field/index.stories.tsx
Labels: Fluent UI react-components (v9), Component: Field

#26755 Fix svg-img-alt accessibility issue in vertical stacked bar chart
  change/@fluentui-react-charting-66596414-f3fe-4f18-a947-2f131b34c32c.json
  packages/react-charting/src/components/VerticalStackedBarChart/VerticalStackedBarChart.base.tsx
  packages/react-charting/src/components/VerticalStackedBarChart/__snapshots__/VerticalStackedBarChart.test.tsx.snap
Labels: Package: charting

#26778 Fixing wrong link hover value
  change/@fluentui-react-charting-2b98d193-3938-4458-83e7-b27b31f6c8e9.json
  packages/react-charting/src/components/SankeyChart/SankeyChart.base.tsx
Labels: Package: charting

#26773 docs: Styling Component (v9) now introduces shorthands
  apps/public-docsite-v9/src/Concepts/StylingComponents.stories.mdx
Labels: Area: Website

#24096 Restore minimum width of Details List rows to be that of the container
  change/@fluentui-react-e5a2ed84-a5b1-487d-bfc5-6fc93e0aa37a.json
  packages/react/src/components/DetailsList/DetailsRow.base.tsx
  packages/react/src/components/DetailsList/__snapshots__/DetailsList.test.tsx.snap
  packages/react/src/components/DetailsList/__snapshots__/DetailsListV2.test.tsx.snap
  packages/react/src/components/DetailsList/__snapshots__/DetailsRow.test.tsx.snap
Labels: Component: DetailsList

#26789 fix: handle single digit text input in SpinButton
  change/@fluentui-react-spinbutton-d1c4887c-0860-4d73-976c-52ab691a1772.json
  packages/react-components/react-spinbutton/src/components/SpinButton/SpinButton.test.tsx
  packages/react-components/react-spinbutton/src/components/SpinButton/useSpinButton.tsx
Labels: Component: SpinButton

#26725 Coachmark reposition on page resize
  change/@fluentui-react-92e3b62a-42e0-401c-be50-be5ee1c7240e.json
  packages/react/src/components/Coachmark/Coachmark.base.tsx
  packages/react/src/components/Coachmark/PositioningContainer/PositioningContainer.tsx
Labels: Component: Coachmark

#26803 fix: MenuList is a single tabstop
  change/@fluentui-react-menu-abe1574c-76eb-4b00-8d0e-324a355edb99.json
  packages/react-components/react-menu/src/components/MenuList/MenuList.cy.tsx
  packages/react-components/react-menu/src/components/MenuList/__snapshots__/MenuList.test.tsx.snap
  packages/react-components/react-menu/src/components/MenuList/useMenuList.ts
  packages/react-components/react-menu/stories/MenuList/MenuListDefault.stories.tsx
Labels: Area: Accessibility, Component: Menu

#26807 chore(beachball): add more ignore patterns to mitigate unwanted change file generation
  scripts/beachball/base.config.json
  scripts/beachball/config.test.ts
Labels: Area: Build System

#26806 fix(scripts-format): make prettier fail process instead of silently failing
  .github/PULL_REQUEST_TEMPLATE.md
  .prettierignore
  README.md
  change/@fluentui-react-44c032c5-a551-4af1-a015-c33aac5525e7.json
  change/@fluentui-react-link-c795b6f6-2bcd-4117-88d7-f85bf016a11b.json
  change/@fluentui-react-menu-71ba98fb-2460-44d7-8fd9-c888199e37b7.json
  change/@fluentui-react-toolbar-3a7c4097-8eba-41f2-bdf2-de8df21a6afb.json
  change/@fluentui-web-components-cc0e9fdb-5c71-485b-aff4-c3dcf50d49ac.json
  packages/react-components/react-drawer/src/index.ts
  packages/react-components/react-link/src/components/Link/useLinkState.ts
  packages/react-components/react-menu/src/components/Menu/Menu.cy.tsx
  packages/react-components/react-toolbar/src/components/ToolbarButton/ToolbarButton.tsx
  packages/react/src/components/Dropdown/Dropdown.base.tsx
  packages/react/src/components/Panel/Panel.styles.ts
  packages/web-components/src/_docs/integrations/webpack.stories.mdx
  scripts/executors/format.js
  scripts/generators/rename-package.ts
  scripts/prettier/src/index.d.ts
  scripts/prettier/src/prettier-helpers.js
  tools/generators/dependency-mismatch/README.md
  typings/storybook__addons/index.d.ts
Labels: Area: Build System

#26766 fix: Coordinates should be rounded to device pixels to prevent blurriness
  change/@fluentui-react-positioning-12d2fd1b-daef-4dc8-9886-61a7685ab3dd.json
  packages/react-components/react-positioning/src/utils/writeContainerupdates.ts
Labels: Component: Popover, Fluent UI react-components (v9)

#26816 fix(Datepicker): Make aria-current date only when the day is today instead of when it's selected
  change/@fluentui-react-b9a960f6-2d91-47d9-95ab-3239e4940491.json
  packages/react-components/react-datepicker/src/components/CalendarDayGrid/CalendarGridDayCell.tsx
  packages/react/src/components/CalendarDayGrid/CalendarGridDayCell.tsx
Labels: Component: DatePicker, Fluent UI react-components (v9)

#26796 chore(react-datepicker): Remove the @fluentui/utilities dependency
  packages/react-components/react-datepicker/etc/react-datepicker.api.md
  packages/react-components/react-datepicker/package.json
  packages/react-components/react-datepicker/src/components/Calendar/Calendar.tsx
  packages/react-components/react-datepicker/src/components/Calendar/Calendar.types.ts
  packages/react-components/react-datepicker/src/components/CalendarDay/CalendarDay.tsx
  packages/react-components/react-datepicker/src/components/CalendarDay/CalendarDay.types.ts
  packages/react-components/react-datepicker/src/components/CalendarDayGrid/CalendarDayGrid.types.ts
  packages/react-components/react-datepicker/src/components/CalendarMonth/CalendarMonth.tsx
  packages/react-components/react-datepicker/src/components/CalendarMonth/CalendarMonth.types.ts
  packages/react-components/react-datepicker/src/components/CalendarYear/CalendarYear.types.ts
  packages/react-components/react-datepicker/src/components/DatePicker/DatePicker.types.ts
  packages/react-components/react-datepicker/src/components/DatePicker/renderDatePicker.tsx
  packages/react-components/react-datepicker/src/components/DatePicker/useDatePicker.tsx
  packages/react-components/react-datepicker/src/components/DatePicker/useDatePickerStyles.ts
  packages/react-components/react-datepicker/src/index.ts
  packages/react-components/react-datepicker/src/utils/dom.ts
  packages/react-components/react-datepicker/src/utils/focus.ts
  packages/react-components/react-datepicker/src/utils/index.ts
Labels: Component: DatePicker, Component: Calendar, Fluent UI react-components (v9)

#26804 docs: v9 docs now mention Styling handbook
  apps/public-docsite-v9/src/Concepts/StylingComponents.stories.mdx
Labels: Area: Website

#26828 fix(v0-v9-migration): run prettier on problematic file causing master branch CI jobs to fail
  packages/react-components/react-migration-v0-v9/src/components/Segment/Segment.tsx
Labels: Area: Build System

#26723 fix: v8 Calendar focus outline clipping in HCM
  change/@fluentui-react-731171c2-4a2b-4484-956b-667804fe01e2.json
  packages/react/src/components/CalendarDayGrid/CalendarDayGrid.styles.ts
  packages/react/src/components/WeeklyDayPicker/__snapshots__/WeeklyDayPicker.test.tsx.snap
Labels: Component: CalendarDayGrid

#26784 feat: Table Column Resizing - add support for touch
  change/@fluentui-react-table-d0564488-ff17-4c5f-9bee-73ff9a7cec6a.json
  change/@fluentui-react-utilities-20c4dab4-38a6-43dc-8c31-220f7b6ff5cb.json
  packages/react-components/react-table/etc/react-table.api.md
  packages/react-components/react-table/src/components/DataGrid/DataGrid.types.ts
  packages/react-components/react-table/src/hooks/types.ts
  packages/react-components/react-table/src/hooks/useTableColumnResizeMouseHandler.ts
  packages/react-components/react-table/src/hooks/useTableColumnResizeState.ts
  packages/react-components/react-table/src/hooks/useTableColumnSizing.tsx
  packages/react-components/react-utilities/etc/react-utilities.api.md
  packages/react-components/react-utilities/src/events/index.ts
  packages/react-components/react-utilities/src/events/mouseTouchHelpers.test.ts
  packages/react-components/react-utilities/src/events/mouseTouchHelpers.ts
  packages/react-components/react-utilities/src/index.ts
Labels: Component: Table

#26843 chore(web-components): introduce ts-solution configs and monorepo setup/DX
  change/@fluentui-web-components-516db34f-7e06-4348-a459-507ea3b7c881.json
  packages/web-components/.npmignore
  packages/web-components/.storybook/main.cjs
  packages/web-components/.storybook/preview.mjs
  packages/web-components/.storybook/tsconfig.json
  packages/web-components/api-extractor.json
  packages/web-components/docs/api-report.md
  packages/web-components/karma.conf.cjs
  packages/web-components/package.json
  packages/web-components/public/theme-switch.ts
  packages/web-components/rollup.config.js
  packages/web-components/scripts/clean.js
  packages/web-components/scripts/compile.js
  packages/web-components/scripts/setup-browser.cjs
  packages/web-components/scripts/transform-fragments.js
  packages/web-components/src/__test__/setup-browser.cts
  packages/web-components/src/badge/badge.stories.ts
  packages/web-components/src/counter-badge/counter-badge.stories.ts
  packages/web-components/src/helpers.ts
  packages/web-components/src/progress-bar/progress-bar.stories.ts
  packages/web-components/src/spinner/spinner.stories.ts
  packages/web-components/src/storybook-typings.d.ts
  packages/web-components/src/text/text.stories.ts
  packages/web-components/storybook-typings.d.ts
  packages/web-components/tsconfig.json
  packages/web-components/tsconfig.lib.json
  packages/web-components/tsconfig.spec.json
  tsconfig.base.wc.json
Labels: web-components

#26846 docs(react-infobutton): Update spec to match implementation
  packages/react-components/react-infobutton/docs/Spec.md
Labels: Fluent UI react-components (v9), Component: InfoButton

#26878 Manual bump of web components version
  change/@fluentui-web-components-4b3e5f7a-32b1-4a3e-9879-415aac98fc88.json
  change/@fluentui-web-components-516db34f-7e06-4348-a459-507ea3b7c881.json
  change/@fluentui-web-components-c9bafa19-7bba-4e91-a34b-ef812e450e99.json
  packages/web-components/CHANGELOG.json
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
Labels: web-components

#26821 chore: Removing deprecated React.Props from DelayedRender
  change/@fluentui-react-4937b01e-1cf3-4d3a-bd5e-adccb2ba8c96.json
  change/@fluentui-utilities-3e11088e-0de6-44c6-afa4-176d678d0629.json
  packages/react/etc/react.api.md
  packages/react/src/Utilities.ts
  packages/react/src/components/Announced/Announced.types.ts
  packages/react/src/components/Dialog/DialogFooter.types.ts
  packages/react/src/components/DocumentCard/DocumentCardDetails.types.ts
  packages/react/src/components/DocumentCard/DocumentCardStatus.types.ts
  packages/react/src/components/Sticky/Sticky.types.ts
  packages/react/src/components/pickers/BasePicker.types.ts
  packages/react/src/components/pickers/Suggestions/Suggestions.types.ts
  packages/utilities/etc/utilities.api.md
  packages/utilities/src/DelayedRender.tsx
  packages/utilities/src/React.types.ts
  packages/utilities/src/index.ts
Labels: Package: utilities, PR: API Modified

#26842 fix: object creation broke React memoization in DetailsList
  change/@fluentui-react-8b8cd76f-59f9-49c2-8673-229b2494a10e.json
  packages/react/src/components/DetailsList/DetailsList.base.tsx
Labels: Component: DetailsList

#26008 Release ProgressBar to stable
  change/@fluentui-react-components-72f641e4-198b-428a-a463-12fa5102a244.json
  change/@fluentui-react-progress-92befd38-f59c-467a-a4a4-3836c00c0c15.json
  packages/react-components/react-components/etc/react-components.api.md
  packages/react-components/react-components/etc/react-components.unstable.api.md
  packages/react-components/react-components/src/index.ts
  packages/react-components/react-components/src/unstable/index.ts
  packages/react-components/react-progress/README.md
  packages/react-components/react-progress/package.json
  packages/react-components/react-progress/stories/ProgressBar/ProgressBarBestPractices.md
  packages/react-components/react-progress/stories/ProgressBar/ProgressBarDescription.md
  packages/react-components/react-progress/stories/ProgressBar/index.stories.tsx
Labels: Component: Progress

#26870 chore(fluentui/project-test): disable nextjs telemetry
  packages/fluentui/projects-test/src/nextjs.ts
Labels: Fluent UI react-northstar

#26559 chore: enable build-less DX for cross library storybooks and VR tests and improve build speeds
  apps/public-docsite-v9/package.json
  apps/public-docsite-v9/src/shims/ThemeShim/themeDuplicates.ts
  apps/stress-test/package.json
  apps/stress-test/scripts/commands/build.ts
  apps/stress-test/webpack/webpack.config.ts
  apps/vr-tests-react-components/.storybook/main.js
  apps/vr-tests-react-components/.storybook/manager.js
  apps/vr-tests-react-components/.storybook/preview.js
  apps/vr-tests-react-components/package.json
  apps/vr-tests/.storybook/main.js
  apps/vr-tests/.storybook/manager.js
  apps/vr-tests/package.json
  apps/vr-tests/src/stories/Icon.stories.tsx
  change/@fluentui-react-migration-v8-v9-ca54b58c-216f-4a2c-bc44-b19249dd8d16.json
  packages/fluentui/docs/.storybook/main.js
  packages/fluentui/docs/.storybook/preview.js
  packages/fluentui/docs/package.json
  packages/react-components/react-migration-v0-v9/.storybook/main.js
  packages/react-components/react-migration-v0-v9/package.json
  packages/react-components/react-migration-v8-v9/.storybook/main.js
  tsconfig.base.v0.json
  tsconfig.base.v8.json
Labels: Area: DevExp, Storybook

#26862 bugfix(react-accordion): use min-height instead of height
  change/@fluentui-react-accordion-b982fc8e-4dc0-4862-a62d-7945f270b437.json
  packages/react-components/react-accordion/src/components/AccordionHeader/useAccordionHeaderStyles.ts
Labels: Component: Accordion, Fluent UI react-components (v9), Component: AccordionHeader

#26896 revert: rollback List rendering change
  apps/ssr-tests/test/test.js
  change/@fluentui-react-095e69ed-d501-445c-aefa-a2f2ec7f8084.json
  packages/react/src/components/DetailsList/__snapshots__/DetailsList.test.tsx.snap
  packages/react/src/components/List/List.tsx
Labels: PR: API Modified

#26910 fix: Toggle activation is more obvious in high contrast mode
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/themes/teams-forced-colors/components/Checkbox/checkboxStyles.ts
Labels: Area: Accessibility, Fluent UI react-northstar

#26810 feat: port codesandbox addon
  .storybook/docs-root.css
  .storybook/main.js
  .storybook/preview.js
  package.json
  packages/react-components/react-storybook-addon-codesandbox/package.json
  packages/react-components/react-storybook-addon-codesandbox/preset.js
  packages/react-components/react-storybook-addon-codesandbox/src/getDepdencies.ts
  packages/react-components/react-storybook-addon-codesandbox/src/getDependencies.test.ts
  packages/react-components/react-storybook-addon-codesandbox/src/preset/preview.ts
  packages/react-components/react-storybook-addon-codesandbox/src/withCodeSandboxButton.ts
  packages/react-components/react-storybook-addon-codesandbox/tsconfig.lib.json
  scripts/storybook/src/utils.js
  yarn.lock
Labels: Area: Build System, Area: Documentation

#26871 chore: turn off peerDeps check for satisfied calls that is causing lot of unnecessary churn
  package.json
Labels: Area: Build System

#26911 doc(web-components): Add storybook landing page
  change/@fluentui-web-components-ce5121f7-b7b0-48c8-862f-50a4684330a9.json
  packages/web-components/.storybook/preview.mjs
  packages/web-components/src/_docs/concepts/introduction.stories.mdx
Labels: web-components

#26831 chore(react-datepicker): Remove @fluentui/style-utilities, fix errors with makeStyles and simplify CalendarDayGrid
  packages/react-components/react-datepicker/etc/react-datepicker.api.md
  packages/react-components/react-datepicker/package.json
  packages/react-components/react-datepicker/src/components/Calendar/Calendar.tsx
  packages/react-components/react-datepicker/src/components/Calendar/Calendar.types.ts
  packages/react-components/react-datepicker/src/components/Calendar/useCalendarStyles.ts
  packages/react-components/react-datepicker/src/components/CalendarDay/CalendarDay.types.ts
  packages/react-components/react-datepicker/src/components/CalendarDay/useCalendarDayStyles.ts
  packages/react-components/react-datepicker/src/components/CalendarDayGrid/CalendarDayGrid.tsx
  packages/react-components/react-datepicker/src/components/CalendarDayGrid/CalendarDayGrid.types.ts
  packages/react-components/react-datepicker/src/components/CalendarDayGrid/CalendarGridDayCell.tsx
  packages/react-components/react-datepicker/src/components/CalendarDayGrid/CalendarGridRow.tsx
  packages/react-components/react-datepicker/src/components/CalendarDayGrid/CalendarMonthHeaderRow.tsx
  packages/react-components/react-datepicker/src/components/CalendarDayGrid/index.ts
  packages/react-components/react-datepicker/src/components/CalendarDayGrid/useAnimateBackwards.ts
  packages/react-components/react-datepicker/src/components/CalendarDayGrid/useCalendarDayGridStyles.ts
  packages/react-components/react-datepicker/src/components/CalendarDayGrid/useWeekCornerStyles.ts
  packages/react-components/react-datepicker/src/components/CalendarDayGrid/useWeeks.ts
  packages/react-components/react-datepicker/src/components/CalendarMonth/CalendarMonth.types.ts
  packages/react-components/react-datepicker/src/components/CalendarMonth/useCalendarMonthStyles.ts
  packages/react-components/react-datepicker/src/components/CalendarPicker/CalendarPicker.types.ts
  packages/react-components/react-datepicker/src/components/CalendarPicker/useCalendarPickerStyles.ts
  packages/react-components/react-datepicker/src/components/CalendarYear/CalendarYear.tsx
  packages/react-components/react-datepicker/src/components/CalendarYear/CalendarYear.types.ts
  packages/react-components/react-datepicker/src/components/CalendarYear/useCalendarYearStyles.ts
  packages/react-components/react-datepicker/src/components/DatePicker/DatePicker.types.ts
  packages/react-components/react-datepicker/src/components/DatePicker/useDatePicker.tsx
Labels: Component: DatePicker, Component: Calendar, Fluent UI react-components (v9)

#26868 feat: Set overflow on positioned element when `autosize` is applied
  change/@fluentui-react-positioning-6885ff72-725f-432d-95c5-37ccfe3dba48.json
  packages/react-components/react-positioning/src/middleware/maxSize.ts
Labels: Component: Menu

#26547 web component accordion
  change/@fluentui-web-components-ee0dceff-c555-429c-b688-92aa40dc7f5e.json
  packages/web-components/package.json
  packages/web-components/src/accordion-item/accordion-item.definition.ts
  packages/web-components/src/accordion-item/accordion-item.options.ts
  packages/web-components/src/accordion-item/accordion-item.styles.ts
  packages/web-components/src/accordion-item/accordion-item.template.ts
  packages/web-components/src/accordion-item/accordion-item.ts
  packages/web-components/src/accordion-item/define.ts
  packages/web-components/src/accordion-item/index.ts
  packages/web-components/src/accordion/README.md
  packages/web-components/src/accordion/accordion.definition.ts
  packages/web-components/src/accordion/accordion.stories.ts
  packages/web-components/src/accordion/accordion.styles.ts
  packages/web-components/src/accordion/accordion.template.ts
  packages/web-components/src/accordion/accordion.ts
  packages/web-components/src/accordion/define.ts
  packages/web-components/src/accordion/index.ts
  packages/web-components/src/index.ts
Labels: web-components

#26904 Fluent v8 Button docs: add splitbutton error warning to docs, remove button ariaDescription example
  packages/react-examples/src/react/Button/Button.ScreenReader.Example.tsx
  packages/react-examples/src/react/Button/Button.doc.tsx
  packages/react-examples/src/react/Button/docs/ButtonBestPractices.md
Labels: Area: Website

#26865 chore: Clean up Input's interactive styles
  apps/vr-tests-react-components/src/stories/Input.stories.tsx
  change/@fluentui-react-input-80b38eae-aa0c-4ba8-b5c8-6f523ded4190.json
  packages/react-components/react-input/src/components/Input/useInputStyles.ts
Labels: Fluent UI react-components (v9), Component: Input

#26881 fix: Fix the width of Input's focus border with appearance=underline
  change/@fluentui-react-input-85a7bc9c-40df-4a16-a935-8139ebc12873.json
  packages/react-components/react-input/src/components/Input/useInputStyles.ts
Labels: Fluent UI react-components (v9), Component: Input

#26797 Fix missing icons on overflowset v8
  packages/react-examples/src/react/OverflowSet/OverflowSet.Custom.Example.tsx
Labels: Area: Website

#26931 Combobox: Fix cursor jumping to the end of input
  change/@fluentui-react-894d0bed-f8c8-4b12-a243-6a8d22912afe.json
  packages/react/src/components/Autofill/Autofill.tsx
Labels: Component: ComboBox, Component: Autofill

#26934 fix: Removing possible recursive loop in Coachmark
  change/@fluentui-react-f312783a-5543-4ccb-bb23-86fa0c830e89.json
  packages/react/src/components/Coachmark/Coachmark.base.tsx
Labels: Component: Coachmark

#26905 fix: v8 Combobox role and accname for non-hidden icon button
  change/@fluentui-react-f3d82f9f-d152-455c-914e-71cf2dfe554b.json
  packages/react-experiments/src/components/Pagination/__snapshots__/Pagination.test.tsx.snap
  packages/react/src/components/ComboBox/ComboBox.test.tsx
  packages/react/src/components/ComboBox/ComboBox.tsx
  packages/react/src/components/ComboBox/__snapshots__/ComboBox.test.tsx.snap
Labels: Component: ComboBox

#26574 fix(react-combobox): Remove _getAriaActiveDescendantValue, compute aria-activedescendantvalue in state, and update currentPendingValue when the options change
  change/@fluentui-react-12283c65-5330-4f04-9ce2-532900d9be76.json
  packages/react/etc/react.api.md
  packages/react/src/components/ComboBox/ComboBox.tsx
Labels: Component: ComboBox, PR: API Modified, Fluent UI react (v8)

#26616 fix(react-card): allow elements to grow to fill the available space
  apps/vr-tests-react-components/src/stories/Card/Card.stories.tsx
  apps/vr-tests-react-components/src/stories/Card/utils.tsx
  change/@fluentui-react-card-d3a28a00-aea5-4225-ad88-d0f90933d2ab.json
  packages/react-components/react-card/src/components/Card/useCardStyles.ts
Labels: Component: Card

#26517 Web Component Switch
  change/@fluentui-web-components-a74d6518-0d94-4e22-bd9f-70ea63a066ab.json
  packages/web-components/package.json
  packages/web-components/src/index.ts
  packages/web-components/src/switch/README.md
  packages/web-components/src/switch/define.ts
  packages/web-components/src/switch/index.ts
  packages/web-components/src/switch/switch.definition.ts
  packages/web-components/src/switch/switch.options.ts
  packages/web-components/src/switch/switch.stories.ts
  packages/web-components/src/switch/switch.styles.ts
  packages/web-components/src/switch/switch.template.ts
  packages/web-components/src/switch/switch.ts
Labels: web-components

#26892 chore(react-table): use `Iterable` instead of a `Set` for table selection API surface
  change/@fluentui-react-table-94087703-4140-4a9c-8847-19940bb0fbe3.json
  packages/react-components/react-table/etc/react-table.api.md
  packages/react-components/react-table/src/hooks/types.ts
  packages/react-components/react-table/src/hooks/useTableSelection.ts
  packages/react-components/react-table/src/index.ts
Labels: Fluent UI react-components (v9), Component: Table

#26872 ci: make lint task run without need of build
  apps/public-docsite-resources/just.config.ts
  apps/public-docsite-resources/package.json
  apps/react-18-tests-v8/package.json
  change/@fluentui-monaco-editor-3cc9c097-aa92-421f-a9b7-bfc355c1104f.json
  change/@fluentui-react-monaco-editor-9287da0f-bb0a-458e-b0d0-5800450447e6.json
  change/@fluentui-react-portal-compat-context-63109ecf-905f-4a46-9e10-34953ede7cfb.json
  change/@fluentui-react-portal-compat-d7b8a2ab-27b5-4f62-9abb-bab99b74e95b.json
  lage.config.js
  packages/monaco-editor/config/pre-copy.json
  packages/monaco-editor/just.config.ts
  packages/react-components/react-portal-compat-context/package.json
  packages/react-components/react-portal-compat/package.json
  packages/react-monaco-editor/just.config.ts
  scripts/monorepo/src/index.d.ts
  scripts/monorepo/src/index.js
  scripts/monorepo/src/isConvergedPackage.js
  scripts/tasks/src/index.ts
  scripts/tasks/src/lint-imports.ts
  scripts/tasks/src/postprocess.ts
  scripts/tasks/src/presets.ts
  workspace.json
Labels: Area: Build System, CI

#26957 feat(react-card): bump to release candidate
  apps/vr-tests-react-components/package.json
  change/@fluentui-react-card-c40e5dc6-c2bf-488c-b222-7ef98e0b1be9.json
  change/@fluentui-react-components-ccce747e-48bb-4cfe-a1e6-3b170b7c6f42.json
  packages/react-components/react-card/package.json
  packages/react-components/react-components/package.json
Labels: Component: Card

#26936 Adds Image web component
  change/@fluentui-web-components-a862230b-9028-4c6a-8a43-3be819a6128e.json
  packages/web-components/package.json
  packages/web-components/src/image/define.ts
  packages/web-components/src/image/image.definition.ts
  packages/web-components/src/image/image.options.ts
  packages/web-components/src/image/image.spec.md
  packages/web-components/src/image/image.stories.ts
  packages/web-components/src/image/image.styles.ts
  packages/web-components/src/image/image.template.ts
  packages/web-components/src/image/image.ts
  packages/web-components/src/image/index.ts
  packages/web-components/src/index.ts
Labels: web-components

#26901 Adds Divider web component
  change/@fluentui-web-components-2500a738-206b-4f66-b5d5-c60924e40a5b.json
  packages/web-components/package.json
  packages/web-components/src/divider/define.ts
  packages/web-components/src/divider/divider.definition.ts
  packages/web-components/src/divider/divider.options.ts
  packages/web-components/src/divider/divider.stories.ts
  packages/web-components/src/divider/divider.styles.ts
  packages/web-components/src/divider/divider.template.ts
  packages/web-components/src/divider/divider.ts
  packages/web-components/src/divider/index.ts
  packages/web-components/src/index.ts
Labels: web-components

#26955 chore: Prepare release 0.66.2
  apps/public-docsite-v9/package.json
  packages/fluentui/CHANGELOG.md
  packages/fluentui/ability-attributes/package.json
  packages/fluentui/accessibility/package.json
  packages/fluentui/circulars-test/package.json
  packages/fluentui/code-sandbox/package.json
  packages/fluentui/digest/package.json
  packages/fluentui/docs-components/package.json
  packages/fluentui/docs/package.json
  packages/fluentui/e2e/package.json
  packages/fluentui/lerna.json
  packages/fluentui/local-sandbox/package.json
  packages/fluentui/perf-test-northstar/package.json
  packages/fluentui/perf/package.json
  packages/fluentui/projects-test/package.json
  packages/fluentui/react-bindings/package.json
  packages/fluentui/react-builder/package.json
  packages/fluentui/react-component-event-listener/package.json
  packages/fluentui/react-component-nesting-registry/package.json
  packages/fluentui/react-component-ref/package.json
  packages/fluentui/react-icons-northstar/package.json
  packages/fluentui/react-northstar-emotion-renderer/package.json
  packages/fluentui/react-northstar-fela-renderer/package.json
  packages/fluentui/react-northstar-prototypes/package.json
  packages/fluentui/react-northstar-styles-renderer/package.json
  packages/fluentui/react-northstar/package.json
  packages/fluentui/react-proptypes/package.json
  packages/fluentui/react-telemetry/package.json
  packages/fluentui/state/package.json
  packages/fluentui/styles/package.json
  packages/react-components/react-migration-v0-v9/package.json
Labels: Fluent UI react-northstar

#26972 fix(Dropdown): Do not use aria-owns for search Dropdown on mac
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/components/Dropdown/Dropdown.tsx
Labels: Fluent UI react-northstar

#26998 dynamically set the menu item icon attribute when icons is true for menu
  packages/web-components/src/menu-item/menu-item.styles.ts
  packages/web-components/src/menu-item/menu-item.ts
  packages/web-components/src/menu/menu.stories.ts
  packages/web-components/src/menu/menu.ts
Labels: web-components

#26938 divides accordion and accordion item readme
  change/@fluentui-web-components-3cce950f-a483-4620-ba7b-696cc922f331.json
  packages/web-components/src/accordion-item/README.md
  packages/web-components/src/accordion/README.md
Labels: web-components

#26761 Fix SVG size in donut chart
  change/@fluentui-react-charting-11ada80b-4cd2-491f-91d5-35039a39a3fa.json
  packages/react-charting/src/components/DonutChart/DonutChart.base.tsx
  packages/react-charting/src/components/DonutChart/DonutChart.styles.ts
  packages/react-charting/src/components/DonutChart/DonutChart.test.tsx
  packages/react-charting/src/components/DonutChart/DonutChart.types.ts
  packages/react-charting/src/components/DonutChart/__snapshots__/DonutChart.test.tsx.snap
  packages/react-examples/src/react-charting/DonutChart/DonutChart.Dynamic.Example.tsx
  packages/react-examples/src/react-charting/DonutChart/DonutChartPage.tsx
Labels: Package: charting

#25838 Modify vertical bar charts as per design
  change/@fluentui-react-charting-cd64712c-a20e-45b5-9d46-abacc777cb7d.json
  packages/react-charting/docs/images/implementing-2-to-1-spacing/1.png
  packages/react-charting/docs/images/implementing-2-to-1-spacing/10.png
  packages/react-charting/docs/images/implementing-2-to-1-spacing/11.png
  packages/react-charting/docs/images/implementing-2-to-1-spacing/2.png
  packages/react-charting/docs/images/implementing-2-to-1-spacing/3.png
  packages/react-charting/docs/images/implementing-2-to-1-spacing/4.png
  packages/react-charting/docs/images/implementing-2-to-1-spacing/5.png
  packages/react-charting/docs/images/implementing-2-to-1-spacing/6.png
  packages/react-charting/docs/images/implementing-2-to-1-spacing/7.png
  packages/react-charting/docs/images/implementing-2-to-1-spacing/8.png
  packages/react-charting/docs/images/implementing-2-to-1-spacing/9.png
  packages/react-charting/docs/implementing-2-to-1-spacing.md
  packages/react-charting/src/components/CommonComponents/CartesianChart.base.tsx
  packages/react-charting/src/components/CommonComponents/CartesianChart.types.ts
  packages/react-charting/src/components/GroupedVerticalBarChart/GroupedVerticalBarChart.base.tsx
  packages/react-charting/src/components/GroupedVerticalBarChart/GroupedVerticalBarChart.styles.ts
  packages/react-charting/src/components/GroupedVerticalBarChart/GroupedVerticalBarChart.types.tsx
  packages/react-charting/src/components/GroupedVerticalBarChart/__snapshots__/GroupedVerticalBarChart.test.tsx.snap
  packages/react-charting/src/components/VerticalBarChart/VerticalBarChart.base.tsx
  packages/react-charting/src/components/VerticalBarChart/VerticalBarChart.styles.ts
  packages/react-charting/src/components/VerticalBarChart/VerticalBarChart.test.tsx
  packages/react-charting/src/components/VerticalBarChart/VerticalBarChart.types.ts
  packages/react-charting/src/components/VerticalBarChart/__snapshots__/VerticalBarChart.test.tsx.snap
  packages/react-charting/src/components/VerticalStackedBarChart/VerticalStackedBarChart.base.tsx
  packages/react-charting/src/components/VerticalStackedBarChart/VerticalStackedBarChart.styles.ts
  packages/react-charting/src/components/VerticalStackedBarChart/VerticalStackedBarChart.test.tsx
  packages/react-charting/src/components/VerticalStackedBarChart/VerticalStackedBarChart.types.ts
  packages/react-charting/src/components/VerticalStackedBarChart/__snapshots__/VerticalStackedBarChart.test.tsx.snap
  packages/react-charting/src/utilities/utilities.ts
  packages/react-examples/src/react-charting/GroupedVerticalBarChart/GroupedVerticalBarChart.Basic.Example.tsx
  packages/react-examples/src/react-charting/GroupedVerticalBarChart/GroupedVerticalBarChartPage.tsx
  packages/react-examples/src/react-charting/VerticalBarChart/VerticalBarChart.Basic.Example.tsx
  packages/react-examples/src/react-charting/VerticalBarChart/VerticalBarChartPage.tsx
  packages/react-examples/src/react-charting/VerticalStackedBarChart/VerticalStackedBarChart.Basic.Example.tsx
  packages/react-examples/src/react-charting/VerticalStackedBarChart/VerticalStackedBarChart.Callout.Example.tsx
  packages/react-examples/src/react-charting/VerticalStackedBarChart/VerticalStackedBarChartPage.tsx
Labels: Package: charting

#26958 chore: migrate monorepo to jest 28
  change/@fluentui-cra-template-f10eef6a-1b73-419f-a2e7-7dc197717334.json
  change/@fluentui-keyboard-key-a7ab483a-ff5b-4418-9cd0-d6923f27c65a.json
  change/@fluentui-merge-styles-5c607e3a-caee-4034-99f2-8d9fe11d9a2d.json
  change/@fluentui-react-utilities-f5fcc3b0-a98b-493a-b86e-209cbc67e9b9.json
  change/@fluentui-set-version-ec97f740-d9b3-4e52-b6c9-410f973a2a97.json
  change/@fluentui-test-utilities-0c2788af-c2c0-4461-8283-7d48f3dbd467.json
  change/@fluentui-utilities-e25fe181-f57b-4d5f-b94d-d5de3c035b5e.json
  package.json
  packages/bundle-size/src/utils/prepareFixture.test.js
  packages/cra-template/template.json
  packages/keyboard-key/tsconfig.json
  packages/merge-styles/tsconfig.json
  packages/react-components/react-persona/src/components/Persona/Persona.test.tsx
  packages/react-components/react-utilities/etc/react-utilities.api.md
  packages/react-components/react-utilities/src/index.ts
  packages/react/src/components/Fabric/Fabric.test.tsx
  packages/react/src/components/Image/Image.test.tsx
  packages/react/src/components/Link/Link.test.tsx
  packages/react/src/components/OverflowSet/OverflowSet.test.tsx
  packages/react/src/components/Persona/Persona.deprecated.test.tsx
  packages/react/src/components/Persona/Persona.test.tsx
  packages/react/src/components/Persona/PersonaCoin/PersonaCoin.deprecated.test.tsx
  packages/react/src/components/Persona/PersonaCoin/PersonaCoin.test.tsx
  packages/react/src/components/Persona/PersonaPresence/PersonaPresence.test.tsx
  packages/react/src/components/Pivot/Pivot.deprecated.test.tsx
  packages/react/src/components/SearchBox/SearchBox.test.tsx
  packages/react/src/components/SpinButton/SpinButton.test.tsx
  packages/react/src/components/SwatchColorPicker/SwatchColorPicker.test.tsx
  packages/react/src/components/TimePicker/TimePicker.test.tsx
  packages/react/src/components/Toggle/Toggle.test.tsx
  packages/set-version/tsconfig.json
  packages/test-utilities/package.json
  packages/test-utilities/src/index.ts
  packages/test-utilities/src/reactTestRenderer.ts
  packages/utilities/src/test/index.ts
  packages/utilities/src/test/injectWrapperMethod.ts
  scripts/jest/src/jest.preset.v8.js
  scripts/jest/src/jest.preset.v8.spec.ts
  yarn.lock
Labels: Area: Build System

#26999 feat(react-tree): TreeItem static style for level
  packages/react-components/react-tree/etc/react-tree.api.md
  packages/react-components/react-tree/src/components/TreeItem/TreeItem.types.ts
  packages/react-components/react-tree/src/components/TreeItem/__snapshots__/TreeItem.test.tsx.snap
  packages/react-components/react-tree/src/components/TreeItem/useTreeItemStyles.ts
  packages/react-components/react-tree/src/index.ts
  packages/react-components/react-tree/src/utils/tokens.ts
  packages/react-components/react-tree/stories/Tree/TreeWithInlineStyle.stories.tsx
  packages/react-components/react-tree/stories/Tree/Virtualization.stories.tsx
  packages/react-components/react-tree/stories/Tree/index.stories.tsx
Labels: Fluent UI react-components (v9), Component: Tree

#26981 Redo of PR of Slider spec after merge error
  change/@fluentui-web-components-2cdbddf3-5a67-47fc-9baa-da97520b8888.json
  packages/web-components/src/slider/slider.spec.md
Labels: web-components

#26980 feat: Add fallback positioning feature
  apps/vr-tests-react-components/src/stories/Menu/Menu.stories.tsx
  apps/vr-tests-react-components/src/stories/Menu/NestedMenuSmallViewportFlipped.stories.tsx
  apps/vr-tests-react-components/src/stories/Menu/NestedMenuSmallViewportStacked.stories.tsx
  apps/vr-tests-react-components/src/stories/Menu/index.stories.tsx
  apps/vr-tests-react-components/src/stories/Positioning.stories.tsx
  change/@fluentui-react-menu-0128ddb0-9a0c-4a86-83d1-25e1e4d1f1ad.json
  change/@fluentui-react-positioning-be8a0d2f-d404-4b39-9875-9e61c76174a3.json
  packages/react-components/react-menu/src/components/Menu/useMenu.tsx
  packages/react-components/react-menu/stories/Menu/NestedSubmenusResponsiveness.stories.tsx
  packages/react-components/react-menu/stories/Menu/index.stories.tsx
  packages/react-components/react-positioning/etc/react-positioning.api.md
  packages/react-components/react-positioning/src/middleware/flip.ts
  packages/react-components/react-positioning/src/types.ts
  packages/react-components/react-positioning/src/usePositioning.ts
Labels: Component: Menu
