Repository microsoft/fluentui, pull requests merged in 2023-11, with the labels that each got.

#29579 fix(scripts-generators): create manifest only from v8 monorepo packages within `generate-package-manifest`
  scripts/generators/generate-package-manifest.js
Labels: Area: Build System, Fluent UI react (v8)

#29546 fix(motion): 6 easing curves had incorrect bezier values
  change/@fluentui-tokens-3e718fa5-af23-423e-b230-c9b84c8327d3.json
  packages/tokens/src/global/curves.ts
Labels: Area: Animation

#29663 fix(react-motion): split timeouts to better sync changes in between browser frames
  change/@fluentui-react-motion-preview-a6651aff-213e-45dc-b622-992738a5affa.json
  packages/react-components/react-motion-preview/src/hooks/useMotion.test.ts
  packages/react-components/react-motion-preview/src/hooks/useMotion.ts
Labels: Package: motion

#29694 chore(react-tree): stop unnecessary re-rendering when no actions are available
  change/@fluentui-react-tree-b6e16366-ba82-402d-b48d-bf2d6449bb78.json
  packages/react-components/react-tree/etc/react-tree.api.md
  packages/react-components/react-tree/src/components/TreeItem/useTreeItem.tsx
  packages/react-components/react-tree/src/components/TreeItem/useTreeItemContextValues.ts
  packages/react-components/react-tree/src/components/TreeItemLayout/TreeItemLayout.test.tsx
  packages/react-components/react-tree/src/components/TreeItemLayout/useTreeItemLayout.tsx
  packages/react-components/react-tree/src/components/TreeItemPersonaLayout/TreeItemPersonaLayout.test.tsx
  packages/react-components/react-tree/src/contexts/treeItemContext.ts
Labels: Fluent UI react-components (v9), Component: Tree

#29674 feat(react-storybook-addon-export-to-sandbox): make addon generic so it can be published and used outside this repo
  .storybook/main.js
  .storybook/preview.js
  packages/react-components/babel-preset-storybook-full-source/etc/babel-preset-storybook-full-source.api.md
  packages/react-components/babel-preset-storybook-full-source/package.json
  packages/react-components/babel-preset-storybook-full-source/src/index.dev.d.ts
  packages/react-components/babel-preset-storybook-full-source/src/index.dev.js
  packages/react-components/babel-preset-storybook-full-source/src/index.ts
  packages/react-components/react-storybook-addon-export-to-sandbox/package.json
  packages/react-components/react-storybook-addon-export-to-sandbox/preset.js
  packages/react-components/react-storybook-addon-export-to-sandbox/src/preset/preset.ts
  packages/react-components/react-storybook-addon-export-to-sandbox/src/preset/preview.ts
  packages/react-components/react-storybook-addon-export-to-sandbox/src/public-types.ts
  packages/react-components/react-storybook-addon-export-to-sandbox/src/sandbox-utils.spec.ts
  packages/react-components/react-storybook-addon-export-to-sandbox/src/sandbox-utils.ts
  packages/react-components/react-storybook-addon-export-to-sandbox/src/types.ts
  packages/react-components/react-storybook-addon-export-to-sandbox/src/webpack.spec.ts
  packages/react-components/react-storybook-addon-export-to-sandbox/src/webpack.ts
  scripts/storybook/package.json
  scripts/storybook/src/index.d.ts
  scripts/storybook/src/index.js
  scripts/storybook/src/rules.js
  scripts/storybook/src/rules.spec.ts
  scripts/storybook/src/utils.js
  scripts/storybook/src/utils.spec.js
  typings/storybook__addons/index.d.ts
Labels: Area: Build System, Fluent UI react-components (v9), Storybook

#29729 chore(react-tree): throws if FlatTree is used as a subtree
  change/@fluentui-react-tree-0174e77b-7502-4cae-aaff-b17e91eb770e.json
  packages/react-components/react-tree/src/components/FlatTree/useFlatTree.ts
  packages/react-components/react-tree/src/components/Tree/useTree.ts
Labels: Fluent UI react-components (v9), Component: Tree

#29624 refactor(tools): replace deprecated apis
  tools/workspace-plugin/src/generators/migrate-converged-pkg/index.spec.ts
  tools/workspace-plugin/src/generators/migrate-fixed-versions/index.spec.ts
  tools/workspace-plugin/src/generators/move-packages/index.spec.ts
  tools/workspace-plugin/src/generators/rc-caret/index.spec.ts
  tools/workspace-plugin/src/generators/recipe-generator/index.ts
  tools/workspace-plugin/src/generators/version-bump/index.spec.ts
Labels: Area: Build System

#29723 fix (breadcrumb): Overflow examples refactoring
  packages/react-components/react-breadcrumb-preview/stories/Breadcrumb/BreadcrumbWithOverflow.stories.tsx
  packages/react-components/react-breadcrumb-preview/stories/Breadcrumb/BreadcrumbWithTooltip.stories.tsx
Labels: Component: Breadcrumb

#29736 breaking(react-drawer): open now only accepts a boolean instead of MotionShorthand
  change/@fluentui-react-drawer-f0b39b94-dc6b-447a-aae1-919873990ecb.json
  packages/react-components/react-drawer/etc/react-drawer.api.md
  packages/react-components/react-drawer/src/shared/DrawerBase.types.ts
  packages/react-components/react-drawer/stories/Drawer/DrawerMotionCustom.stories.tsx
  packages/react-components/react-drawer/stories/Drawer/index.stories.tsx
Labels: Component: Drawer

#29711 feat(react-drawer): release to 9.0.0 stable
  change/@fluentui-react-components-03e7f032-b0d9-4221-8522-b7bfb9ffb223.json
  change/@fluentui-react-drawer-3cfc5c74-8b22-419c-a72a-43ecad9c876f.json
  packages/react-components/react-components/etc/react-components.api.md
  packages/react-components/react-components/src/index.ts
  packages/react-components/react-components/src/unstable/index.ts
  packages/react-components/react-drawer/README.md
  packages/react-components/react-drawer/etc/react-drawer.api.md
  packages/react-components/react-drawer/package.json
  packages/react-components/react-drawer/src/e2e/DrawerShared.tsx
  packages/react-components/react-drawer/src/shared/DrawerBase.types.ts
  packages/react-components/react-drawer/stories/Drawer/DrawerAlwaysOpen.stories.tsx
  packages/react-components/react-drawer/stories/Drawer/DrawerCustomSize.stories.tsx
  packages/react-components/react-drawer/stories/Drawer/DrawerDefault.stories.tsx
  packages/react-components/react-drawer/stories/Drawer/DrawerMotionCustom.stories.tsx
  packages/react-components/react-drawer/stories/Drawer/DrawerMotionDisabled.stories.tsx
  packages/react-components/react-drawer/stories/Drawer/DrawerMultipleLevels.stories.tsx
  packages/react-components/react-drawer/stories/Drawer/DrawerPosition.stories.tsx
  packages/react-components/react-drawer/stories/Drawer/DrawerPreventClose.stories.tsx
  packages/react-components/react-drawer/stories/Drawer/DrawerPreview.md
  packages/react-components/react-drawer/stories/Drawer/DrawerResizable.stories.tsx
  packages/react-components/react-drawer/stories/Drawer/DrawerResponsive.stories.tsx
  packages/react-components/react-drawer/stories/Drawer/DrawerSeparator.stories.tsx
  packages/react-components/react-drawer/stories/Drawer/DrawerSize.stories.tsx
  packages/react-components/react-drawer/stories/Drawer/DrawerWithNavigation.stories.tsx
  packages/react-components/react-drawer/stories/Drawer/DrawerWithScroll.stories.tsx
  packages/react-components/react-drawer/stories/Drawer/DrawerWithTitle.stories.tsx
  packages/react-components/react-drawer/stories/Drawer/InlineDrawer.stories.tsx
  packages/react-components/react-drawer/stories/Drawer/OverlayDrawer.stories.tsx
  packages/react-components/react-drawer/stories/Drawer/OverlayDrawerNoModal.stories.tsx
  packages/react-components/react-drawer/stories/Drawer/index.stories.tsx
Labels: Component: Drawer

#29759 ci: bump devcontainer to node 18
  .devcontainer/Dockerfile
  .devcontainer/README.md
  .devcontainer/devcontainer.json
  lage.config.js
Labels: CI

#29763 Added combobox virtualizer story
  packages/react-components/react-combobox/stories/Combobox/ComboboxVirtualizer.stories.tsx
  packages/react-components/react-combobox/stories/Combobox/index.stories.tsx
Labels: Component: ComboBox, Fluent UI vNext

#29762 fix(react-components): mark react-tree apis as deprecated and add Deprecation heading to the /unstable module
  change/@fluentui-react-components-3279ab16-e66a-4caa-8a97-8f0d1aa85514.json
  packages/react-components/react-components/src/unstable/index.ts
Labels: Area: Deprecation, Fluent UI react-components (v9)

#29744 feat(tools): create package.json#files based on project setup within migrate-converged-pkg generator, dont dupe tsConfig in conformance setup
  tools/workspace-plugin/project.json
  tools/workspace-plugin/src/generators/migrate-converged-pkg/index.spec.ts
  tools/workspace-plugin/src/generators/migrate-converged-pkg/index.ts
  tools/workspace-plugin/src/generators/react-library/files/package.json__tmpl__
  tools/workspace-plugin/src/generators/react-library/index.spec.ts
  tools/workspace-plugin/src/types.ts
Labels: Area: Build System, NX: workspace generators

#29654 Add commented tests back
  packages/react-charting/src/components/LineChart/LineChartRTL.test.tsx
  packages/react-charting/src/components/LineChart/__snapshots__/LineChartRTL.test.tsx.snap
Labels: Package: charting

#29691 Spec: Adds MessageBar spec
  packages/react-components/react-message-bar/docs/Spec.md
Labels: Component: MessageBar

#29743 feat(scripts-tasks): make verify-packaging more roubst and exit early for private packages
  change/@fluentui-utilities-a137d084-1797-4d44-b45a-34f9fb39e4a4.json
  packages/utilities/.npmignore
  packages/utilities/package.json
  scripts/tasks/src/presets.ts
  scripts/tasks/src/verify-packaging.ts
Labels: Area: Build System, Package: utilities, Fluent UI react (v8)

#29781 fix(breadcrumb): overflow count in Breadcrumb stories
  packages/react-components/react-breadcrumb-preview/stories/Breadcrumb/BreadcrumbWithOverflow.stories.tsx
Labels: Component: Breadcrumb

#29559 [Fix] Magnetic callout for last point on LineChart
  change/@fluentui-react-charting-556972cb-8d38-4fe7-8486-8a38a600c076.json
  packages/react-charting/src/components/LineChart/LineChart.base.tsx
  packages/react-charting/src/components/LineChart/__snapshots__/LineChart.test.tsx.snap
  packages/react-charting/src/components/LineChart/__snapshots__/LineChartRTL.test.tsx.snap
Labels: Package: charting, Needs: Attention, Issue Pinged

#29810 fix: MenuTrigger should let user override tabster attributes
  change/@fluentui-react-menu-cdcb0ce7-cf9f-4e57-93a7-436d6aaacdca.json
  packages/react-components/react-menu/src/components/MenuTrigger/useMenuTrigger.ts
Labels: Component: Menu

#29296 RFC: Extending Event Handlers Event Typing
  rfcs/react-components/convergence/event-handlers-event-type.md
Labels: Type: RFC

#29812 docs(breadcrumb): Removed description from the docsite
  packages/react-components/react-breadcrumb-preview/stories/Breadcrumb/BreadcrumbDescription.md
  packages/react-components/react-breadcrumb-preview/stories/Breadcrumb/BreadcrumbFocusMode.stories.tsx
  packages/react-components/react-breadcrumb-preview/stories/Breadcrumb/BreadcrumbSize.stories.tsx
  packages/react-components/react-breadcrumb-preview/stories/Breadcrumb/BreadcrumbWithOverflow.stories.tsx
  packages/react-components/react-breadcrumb-preview/stories/Breadcrumb/BreadcrumbWithTooltip.stories.tsx
  packages/react-components/react-breadcrumb-preview/stories/Breadcrumb/index.stories.tsx
Labels: Component: Breadcrumb

#29754 chore(react-charting): update d3 library dependencies to match version of d3-scale and check all d3 dependencies to use single version in charting
  change/@fluentui-react-charting-880075c2-33de-4bf3-b00a-d31bc76baf6d.json
  packages/react-charting/jest.config.js
  packages/react-charting/package.json
  packages/react-charting/src/components/AreaChart/__snapshots__/AreaChart.test.tsx.snap
  yarn.lock
Labels: Package: charting

#29818 fix: v9 Table example: expose resizable column remove buttons as buttons
  packages/react-components/react-table/stories/Table/ResizableColumnsControlled.stories.tsx
Labels: Area: Accessibility, Component: Table

#29709 test(react-drawer): add VR tests for Drawer
  apps/vr-tests-react-components/package.json
  apps/vr-tests-react-components/src/stories/Drawer/Drawer.stories.tsx
Labels: Component: Drawer

#29799 feat: react-charting legends onchange and defaultSelectedLegends
  change/@fluentui-react-charting-97b2124c-d945-4d93-b1b9-d766742ccbee.json
  packages/react-charting/etc/react-charting.api.md
  packages/react-charting/src/components/Legends/Legends.base.tsx
  packages/react-charting/src/components/Legends/Legends.test.tsx
  packages/react-charting/src/components/Legends/Legends.types.ts
  packages/react-examples/src/react-charting/Legends/Legends.OnChange.Example.tsx
  packages/react-examples/src/react-charting/Legends/LegendsPage.tsx
Labels: Package: charting

#29838 docs(breadcrumb): removed preview from all the links
  change/@fluentui-react-breadcrumb-6094ed11-f798-4faa-8c7d-ae1763210137.json
  packages/react-components/react-breadcrumb/README.md
  packages/react-components/react-breadcrumb/stories/Breadcrumb/BreadcrumbDefault.stories.tsx
Labels: Component: Breadcrumb

#29796 fix: Replace child selectors with css vars in Checkbox styles
  change/@fluentui-react-checkbox-bfbbe47e-a607-48ae-961e-2dbbb79631e1.json
  packages/react-components/react-checkbox/src/components/Checkbox/useCheckboxStyles.styles.ts
Labels: Component: Checkbox

#29815 fix: MultiStackedBarChart duplicate id and text overlap in [RTL] mode
  change/@fluentui-react-charting-f1e8df5f-9e91-4198-8c23-cd46a8e14e7b.json
  packages/react-charting/src/components/StackedBarChart/MultiStackedBarChart.base.tsx
  packages/react-charting/src/components/StackedBarChart/__snapshots__/MultiStackedBarChart.test.tsx.snap
  packages/react-charting/src/components/StackedBarChart/__snapshots__/MultiStackedBarChartRTL.test.tsx.snap
Labels: Package: charting

#29791 fix: Tooltips are no longer triggered by programmatic focus() moves
  change/@fluentui-react-tabster-29c7edb4-01af-423b-afff-67460b819e63.json
  change/@fluentui-react-tooltip-38280ac4-f10b-4a12-8abf-c8de8489ab9b.json
  packages/react-components/react-tabster/etc/react-tabster.api.md
  packages/react-components/react-tabster/src/index.ts
  packages/react-components/react-tooltip/package.json
  packages/react-components/react-tooltip/src/components/Tooltip/useTooltip.tsx
Labels: Component: Tooltip

#29064 Horizontal bar chart with axis - component Tests
  packages/react-charting/docs/TestPlans/HorizontalBarChartWithAxis/ComponentTests.md
  packages/react-charting/src/components/HorizontalBarChartWithAxis/HorizontalBarChartWithAxisRTL.test.tsx
  packages/react-charting/src/components/HorizontalBarChartWithAxis/__snapshots__/HorizontalBarChartWithAxisRTL.test.tsx.snap
Labels: Package: charting

#29858 docs: updated component mapping for Breadcrumb
  apps/public-docsite-v9/src/Concepts/Migration/FromV8/ComponentMapping.stories.mdx
Labels: Area: Documentation, Component: Breadcrumb

#29878 Remove CSS containment from DialogSurface
  change/@fluentui-react-dialog-19516eda-a3c6-4fcf-8690-2a34dad5f873.json
  packages/react-components/react-dialog/src/components/DialogSurface/useDialogSurfaceStyles.styles.ts
Labels: Component: Dialog

#29877 fix: Listbox closes on blur after scrollbar click
  change/@fluentui-react-combobox-1097190e-19df-46b4-a56c-1a9ca1181ca6.json
  packages/react-components/react-combobox/src/utils/useTriggerListboxSlots.ts
Labels: Component: Dropdown, Component: ComboBox

#29884 feature(react-text): adds semantic elements (strong, b, em, i) to Text root signature
  change/@fluentui-react-text-77e036bf-9a93-4a5f-989f-554ee88420a1.json
  packages/react-components/react-text/etc/react-text.api.md
  packages/react-components/react-text/src/components/Text/Text.types.ts
Labels: Component: Text, Fluent UI react-components (v9)

#29855 fix: v9 Dropdown in Safari gets focus when clicked
  change/@fluentui-react-combobox-33ead5c4-7eb4-47ca-bc9f-49ba7aaa8db7.json
  packages/react-components/react-combobox/src/components/Dropdown/__snapshots__/Dropdown.test.tsx.snap
  packages/react-components/react-combobox/src/components/Dropdown/useDropdown.tsx
Labels: Component: Dropdown, Area: Mobile

#29902 Fix missing legend colors in horizontal bar chart with axis example
  packages/react-examples/src/react-charting/HorizontalBarChartWithAxis/HorizontalBarChartWithAxis.Basic.Example.tsx
Labels: Package: charting

#29893 fix: line chart RTL mode color fillbar
  change/@fluentui-react-charting-f9607dcd-7f93-4138-9042-5211cee63493.json
  packages/react-charting/src/components/LineChart/LineChart.base.tsx
Labels: Package: charting

#29876 fix: react-charting VBC - RTL mode mouseover on bar chart shows incorrect data
  change/@fluentui-react-charting-b1c51226-7ca4-40eb-9521-2b53b639045e.json
  packages/react-charting/src/components/VerticalBarChart/VerticalBarChart.base.tsx
Labels: Package: charting

#29661 Create Testing Strategy.md
  change/@fluentui-react-charting-4fbbd3e5-fb40-4952-9f5d-6fd3247a238a.json
  packages/react-charting/.npmignore
  packages/react-charting/docs/TestingStrategy.md
  packages/react-charting/docs/images/TestingStrategy/Coverage.png
  packages/react-charting/docs/images/TestingStrategy/DonutCoverage.png
  packages/react-charting/docs/images/TestingStrategy/TestingStrategy1.png
  packages/react-charting/docs/images/TestingStrategy/TestingStrategy2.png
  packages/react-charting/docs/images/TestingStrategy/TestingStrategy3.png
Labels: Package: charting

#29890 Updating time format package for react-charting
  change/@fluentui-react-charting-7c17831e-62d5-4a42-92da-6f9504ac9dfd.json
  packages/react-charting/package.json
  yarn.lock
Labels: Package: charting

#29927 docs(react-menu): add subcomponents to props table
  packages/react-components/react-menu/stories/Menu/index.stories.tsx
  packages/react-components/react-menu/stories/MenuList/index.stories.tsx
Labels: Area: Documentation, Component: Menu

#29932 fix: Preventing multiple 'Open in CodeSandbox' buttons being added when switching themes
  packages/react-components/react-storybook-addon-export-to-sandbox/src/sandbox-utils.ts
Labels: Area: Documentation

#29937 feat: Adding span as an option for Link to render as
  apps/vr-tests-react-components/src/stories/Link.stories.tsx
  change/@fluentui-react-link-aaa21628-9075-404d-8305-6cf56982b4ba.json
  packages/react-components/react-link/etc/react-link.api.md
  packages/react-components/react-link/src/components/Link/Link.types.ts
  packages/react-components/react-link/src/components/Link/useLink.ts
  packages/react-components/react-link/src/components/Link/useLinkState.ts
  packages/react-components/react-link/stories/Link/LinkAsSpan.stories.tsx
  packages/react-components/react-link/stories/Link/index.stories.tsx
Labels: Component: Link

#29957 fix: Brand row appearance should be brandBackground2 in pressed state
  change/@fluentui-react-table-dc4edf49-9bab-4948-9b2e-65636d70ef4c.json
  packages/react-components/react-table/src/components/TableRow/useTableRowStyles.styles.ts
Labels: Area: Accessibility, Component: DataGrid

#29929 chore: add VR test for Dialog (contain regression)
  apps/vr-tests-react-components/src/stories/Dialog/Dialog.stories.tsx
Labels: Component: Dialog

#29951 fix: Using correct colors when MenuItem is pressed
  change/@fluentui-react-menu-95a114de-8688-4d5e-8c26-30da9afd2e00.json
  packages/react-components/react-menu/src/components/MenuItem/useMenuItemStyles.styles.ts
Labels: Component: MenuItem
