Repository microsoft/fluentui, pull requests merged in 2023-12, with the labels that each got.

#29909 fix: react-charting horizontal-bar-chart-axis on hover render correct data
  change/@fluentui-react-charting-bee65441-a580-47b8-b0cc-5c7a059a48f5.json
  packages/react-charting/src/components/HorizontalBarChartWithAxis/HorizontalBarChartWithAxis.base.tsx
Labels: Package: charting

#29971 fix: create-milestone workflow works again
  .github/workflows/create-milestone.yml
Labels: Area: Build System

#29989 fix(TimePickerCompat): adjust max-height on listbox
  change/@fluentui-react-timepicker-compat-preview-251d04e7-2406-47f7-bf91-521709b2008d.json
  packages/react-components/react-timepicker-compat-preview/src/components/TimePicker/useTimePickerStyles.styles.ts
Labels: Component: TimePickerCompat

#29990 fix: Virtual parent cannot be the DOM child of mount node
  change/@fluentui-react-portal-757b09a6-46f6-4e6f-beca-09f6c25b1022.json
  packages/react-components/react-portal/src/components/Portal/Portal.test.tsx
  packages/react-components/react-portal/src/components/Portal/usePortal.ts
Labels: Component: Portal

#29910 Add narratable status for button actions in dynamic chart examples
  packages/react-examples/src/react-charting/DonutChart/DonutChart.Dynamic.Example.tsx
  packages/react-examples/src/react-charting/PieChart/PieChart.Dynamic.Example.tsx
  packages/react-examples/src/react-charting/StackedBarChart/StackedBarChart.Dynamic.Example.tsx
  packages/react-examples/src/react-charting/VerticalBarChart/VerticalBarChart.Dynamic.Example.tsx
Labels: Package: charting

#29548 Add tests for utilities
  packages/react-charting/src/utilities/UtilityUnitTests.test.ts
  packages/react-charting/src/utilities/__snapshots__/UtilityUnitTests.test.ts.snap
Labels: Package: charting

#29871 fix: react-drawer dropped mountNode prop in types
  change/@fluentui-react-drawer-485bb1fe-e874-4cb7-934c-6a0a7dfe36a3.json
  packages/react-components/react-drawer/etc/react-drawer.api.md
  packages/react-components/react-drawer/src/components/OverlayDrawer/OverlayDrawer.test.tsx
  packages/react-components/react-drawer/src/components/OverlayDrawer/OverlayDrawerSurface/OverlayDrawerSurface.types.ts
Labels: Component: Drawer

#29766 Callout positioning: update useMaxHeight hook for top edge alignment; account for scroll resizing when choosing callout position.
  change/@fluentui-react-c8535f3e-253b-40b8-92e7-bb6c8e552afe.json
  packages/react/etc/react.api.md
  packages/react/src/components/Callout/Callout.types.ts
  packages/react/src/components/Callout/CalloutContent.base.tsx
  packages/react/src/utilities/positioning/positioning.test.ts
  packages/react/src/utilities/positioning/positioning.ts
Labels: Component: Callout

#30044 fix: Dialog now transitions in on first render
  change/@fluentui-react-dialog-40d163d8-a0f0-45b2-b2fc-f62d77715206.json
  packages/react-components/react-dialog/src/components/Dialog/renderDialog.tsx
Labels: Component: Dialog, Fluent UI react-components (v9)

#30062 fix: User-provided props win over defined defaults in Link component
  change/@fluentui-react-link-0346db3c-ee8d-4d9e-b3a9-0c785ab3c830.json
  packages/react-components/react-link/src/components/Link/Link.test.tsx
  packages/react-components/react-link/src/components/Link/useLink.ts
Labels: Component: Link

#30057 fix(TimePickerCompat): set autoComplete to off by default
  change/@fluentui-react-timepicker-compat-preview-e703395e-f499-4a2c-83e8-6c1397d39ca4.json
  packages/react-components/react-timepicker-compat-preview/src/components/TimePicker/useTimePicker.tsx
Labels: Component: TimePickerCompat

#29735 feat: deprecates `useARIAButtonShorthand` in favor of new slot API compliant method
  change/@fluentui-react-accordion-f79e18b9-613d-4ee0-898d-30372d1f65b8.json
  change/@fluentui-react-aria-672ea03e-6cd4-4630-a349-bb8c065fbeaf.json
  change/@fluentui-react-button-167d39fa-0523-4509-ad7b-f823f8cbafbb.json
  change/@fluentui-react-table-890d6433-950c-4907-8f9d-66111412e0e5.json
  packages/react-components/react-accordion/src/components/AccordionHeader/useAccordionHeader.tsx
  packages/react-components/react-aria/etc/react-aria.api.md
  packages/react-components/react-aria/src/button/useARIAButtonProps.test.tsx
  packages/react-components/react-aria/src/button/useARIAButtonShorthand.test.tsx
  packages/react-components/react-aria/src/button/useARIAButtonShorthand.ts
  packages/react-components/react-aria/src/index.ts
  packages/react-components/react-aria/stories/useARIAButton/index.stories.tsx
  packages/react-components/react-button/src/components/Button/useButton.ts
  packages/react-components/react-table/src/components/TableHeaderCell/useTableHeaderCell.tsx
Labels: Fluent UI react-components (v9)

#30005 fix: partitionBreadcrumbItems miscalculated endDisplayedItems
  change/@fluentui-react-breadcrumb-2228ee26-b0d3-42d8-af23-5e24fc4f605d.json
  packages/react-components/react-breadcrumb/src/utils/partitionBreadcrumbItems.test.ts
  packages/react-components/react-breadcrumb/src/utils/partitionBreadcrumbItems.ts
Labels: Component: Breadcrumb

#30067 fix(react-card): interactive cards not having the focus ring when focused
  change/@fluentui-react-card-45d09ab1-d545-47c9-81ab-cae4186e799f.json
  packages/react-components/react-card/src/components/Card/useCard.ts
Labels: Component: Card

#30068 fix: Add a namespace to CSS variables in react-positioning package to avoid potential collisions
  change/@fluentui-react-positioning-d0679179-03e3-47de-b4ff-4810ed017ac3.json
  packages/react-components/react-positioning/src/createArrowStyles.ts
  packages/react-components/react-positioning/src/createSlideStyles.ts
Labels: Fluent UI react-components (v9)

#30059 Accessibility tests added to AreaChart, LineChart, VerticalBarChart
  change/@fluentui-react-charting-209f77d4-492f-4ffe-948f-1bd8220ff566.json
  packages/react-charting/src/components/AreaChart/AreaChartRTL.test.tsx
  packages/react-charting/src/components/LineChart/LineChart.base.tsx
  packages/react-charting/src/components/LineChart/LineChartRTL.test.tsx
  packages/react-charting/src/components/LineChart/__snapshots__/LineChart.test.tsx.snap
  packages/react-charting/src/components/LineChart/__snapshots__/LineChartRTL.test.tsx.snap
  packages/react-charting/src/components/VerticalBarChart/VerticalBarChartRTL.test.tsx
Labels: Package: charting

#30100 chore(TimePickerCompat): add unit test for daylight saving
  packages/react-components/react-timepicker-compat-preview/src/components/TimePicker/timeMath.test.ts
Labels: Component: TimePickerCompat

#30031 fix: Horizontal chart with axis yaxis same label and truncation fixed
  change/@fluentui-react-charting-8bd430b6-3359-4e93-86ee-92b22540b88c.json
  packages/react-charting/src/utilities/utilities.ts
Labels: Package: charting

#30122 fix(workspace-plugin): don't write changes on disk with `--verify` flag within tsconfig-base-all generator
  tools/workspace-plugin/src/generators/tsconfig-base-all/index.ts
Labels: NX: workspace generators, CI

#30117 test(react-charting): ignore/fix snapshot tests that are non deterministic and are causing pipeline failures
  packages/react-charting/src/components/AreaChart/AreaChart.test.tsx
  packages/react-charting/src/components/GroupedVerticalBarChart/GroupedVerticalBarChart.test.tsx
  packages/react-charting/src/components/HeatMapChart/HeatMapChart.test.tsx
  packages/react-charting/src/components/HorizontalBarChartWithAxis/HorizontalBarChartWithAxis.test.tsx
  packages/react-charting/src/components/LineChart/LineChart.test.tsx
  packages/react-charting/src/components/LineChart/LineChartRTL.test.tsx
  packages/react-charting/src/components/VerticalBarChart/VerticalBarChart.test.tsx
  packages/react-charting/src/components/VerticalBarChart/VerticalBarChartRTL.test.tsx
  packages/react-charting/src/components/VerticalBarChart/__snapshots__/VerticalBarChartRTL.test.tsx.snap
  packages/react-charting/src/components/VerticalBarChart/tests/test-data.ts
  packages/react-charting/src/components/VerticalStackedBarChart/VerticalStackedBarChart.test.tsx
  packages/react-charting/src/utilities/UtilityUnitTests.test.ts
Labels: Priority 1: High, Package: charting, Area: Testing, CI

#30074 fix(breadcrumb): fixed "0 more items" aria-label
  packages/react-components/react-breadcrumb/stories/Breadcrumb/BreadcrumbWithOverflow.stories.tsx
  packages/react-components/react-breadcrumb/stories/Breadcrumb/BreadcrumbWithTooltip.stories.tsx
Labels: Component: Breadcrumb

#30101 fix(Combobox): make high contrast hover color accessible
  change/@fluentui-react-combobox-0fdf2a9f-1e39-479d-abdb-d49e9a4c836a.json
  packages/react-components/react-combobox/src/components/Option/useOptionStyles.styles.ts
Labels: Area: Accessibility

#30135 fix(breadcrumb): BreadcrumbButton focus border has incorrent width and transition
  change/@fluentui-react-breadcrumb-65d8fcef-c70f-4b03-ace4-69630ba9af7c.json
  packages/react-components/react-breadcrumb/src/components/BreadcrumbButton/useBreadcrumbButtonStyles.styles.ts
Labels: Component: Breadcrumb

#30130 chore(TimePickerCompat): add best practice
  packages/react-components/react-timepicker-compat-preview/stories/TimePicker/TimePickerBestPractices.md
Labels: Component: TimePickerCompat

#30139 Axe-core Integration into react-charting #2
  packages/react-charting/src/components/DonutChart/DonutChartRTL.test.tsx
  packages/react-charting/src/components/GroupedVerticalBarChart/GroupedVerticalBarChartRTL.test.tsx
  packages/react-charting/src/components/HorizontalBarChart/HorizontalBarChartRTL.test.tsx
  packages/react-charting/src/components/HorizontalBarChartWithAxis/HorizontalBarChartWithAxis.test.tsx
  packages/react-charting/src/components/StackedBarChart/MultiStackedBarChartRTL.test.tsx
  packages/react-charting/src/components/StackedBarChart/StackedBarChartRTL.test.tsx
  packages/react-charting/src/components/VerticalStackedBarChart/VerticalStackedBarChartRTL.test.tsx
Labels: Package: charting

#30150 feat(workspace-plugin): add `phase=compat` support to prepare-initial-release generator
  change/@fluentui-react-datepicker-compat-b867d463-16c5-49d2-a28e-ac6dd307c83c.json
  packages/react-components/react-datepicker-compat/project.json
  tools/workspace-plugin/src/generators/prepare-initial-release/index.spec.ts
  tools/workspace-plugin/src/generators/prepare-initial-release/index.ts
  tools/workspace-plugin/src/generators/prepare-initial-release/schema.json
  tools/workspace-plugin/src/generators/prepare-initial-release/schema.ts
Labels: Fluent UI react-components (v9), NX: workspace generators

#30143 Fixing act errors in terminal
  change/@fluentui-react-charting-5d7a9b00-f0eb-45e8-b014-adc12ef4a089.json
  packages/react-charting/.npmignore
  packages/react-charting/src/components/AreaChart/AreaChart.test.tsx
  packages/react-charting/src/components/AreaChart/AreaChartRTL.test.tsx
  packages/react-charting/src/components/DonutChart/DonutChart.test.tsx
  packages/react-charting/src/components/DonutChart/DonutChartRTL.test.tsx
  packages/react-charting/src/components/DonutChart/__snapshots__/DonutChart.test.tsx.snap
  packages/react-charting/src/components/DonutChart/__snapshots__/DonutChartRTL.test.tsx.snap
  packages/react-charting/src/components/GroupedVerticalBarChart/GroupedVerticalBarChart.test.tsx
  packages/react-charting/src/components/GroupedVerticalBarChart/GroupedVerticalBarChartRTL.test.tsx
  packages/react-charting/src/components/HeatMapChart/HeatMapChart.test.tsx
  packages/react-charting/src/components/HorizontalBarChart/HorizontalBarChartRTL.test.tsx
  packages/react-charting/src/components/HorizontalBarChartWithAxis/HorizontalBarChartWithAxis.test.tsx
  packages/react-charting/src/components/HorizontalBarChartWithAxis/HorizontalBarChartWithAxisRTL.test.tsx
  packages/react-charting/src/components/HorizontalBarChartWithAxis/__snapshots__/HorizontalBarChartWithAxis.test.tsx.snap
  packages/react-charting/src/components/HorizontalBarChartWithAxis/__snapshots__/HorizontalBarChartWithAxisRTL.test.tsx.snap
  packages/react-charting/src/components/LineChart/LineChart.test.tsx
  packages/react-charting/src/components/LineChart/LineChartRTL.test.tsx
  packages/react-charting/src/components/LineChart/__snapshots__/LineChartRTL.test.tsx.snap
  packages/react-charting/src/components/StackedBarChart/MultiStackedBarChartRTL.test.tsx
  packages/react-charting/src/components/StackedBarChart/StackedBarChartRTL.test.tsx
  packages/react-charting/src/components/VerticalBarChart/VerticalBarChart.test.tsx
  packages/react-charting/src/components/VerticalBarChart/VerticalBarChartRTL.test.tsx
  packages/react-charting/src/components/VerticalBarChart/__snapshots__/VerticalBarChart.test.tsx.snap
  packages/react-charting/src/components/VerticalBarChart/__snapshots__/VerticalBarChartRTL.test.tsx.snap
  packages/react-charting/src/components/VerticalBarChart/tests/test-data.ts
  packages/react-charting/src/components/VerticalStackedBarChart/VerticalStackedBarChart.test.tsx
  packages/react-charting/src/components/VerticalStackedBarChart/VerticalStackedBarChartRTL.test.tsx
  packages/react-charting/src/components/VerticalStackedBarChart/__snapshots__/VerticalStackedBarChart.test.tsx.snap
  packages/react-charting/src/components/VerticalStackedBarChart/__snapshots__/VerticalStackedBarChartRTL.test.tsx.snap
  packages/react-charting/src/utilities/test-data.ts
Labels: Package: charting

#30018 Adding Unit tests for Area, Line and Vertical bar charts
  change/@fluentui-react-charting-91853c1f-1e0d-4307-8bef-1c738e380d86.json
  packages/react-charting/.npmignore
  packages/react-charting/UnitTests/AreaChartUT.test.tsx
  packages/react-charting/UnitTests/LineChartUT.test.tsx
  packages/react-charting/UnitTests/VerticalBarChartUT.test.tsx
  packages/react-charting/UnitTests/__snapshots__/VerticalBarChartUT.test.tsx.snap
  packages/react-charting/config/tests.js
Labels: Package: charting

#30096 Transforming the existing UTs to run in the new form
  change/@fluentui-react-charting-ce24f168-4ae6-40ab-a835-416924a2e880.json
  packages/react-charting/UnitTests/GroupedVerticalBarChartUT.test.tsx
  packages/react-charting/UnitTests/MultiStackedBarChartUT.test.tsx
  packages/react-charting/UnitTests/StackedBarChartUT.test.tsx
  packages/react-charting/UnitTests/VerticalStackedBarChartUT.test.tsx
Labels: Package: charting

#29108 Sankey chart - component tests
  packages/react-charting/docs/TestPlans/SankeyChart/ComponentTests.md
  packages/react-charting/src/components/SankeyChart/SankeyChartRTL.test.tsx
  packages/react-charting/src/components/SankeyChart/__snapshots__/SankeyChartRTL.test.tsx.snap
Labels: Package: charting

#30157 Axe-core integration into react-charting #3
  packages/react-charting/src/components/GaugeChart/GaugeChart.test.tsx
  packages/react-charting/src/components/HeatMapChart/HeatMapChartRTL.test.tsx
  packages/react-charting/src/components/PieChart/PieChartRTL.test.tsx
  packages/react-charting/src/components/SankeyChart/SankeyChartRTL.test.tsx
  packages/react-charting/src/components/Sparkline/SparklineRTL.test.tsx
  packages/react-charting/src/components/TreeChart/TreeChart.test.tsx
Labels: Package: charting

#30156 feat(workspace-plugin): setup storybook barrel file based on package phase(type) within react-component generator
  tools/workspace-plugin/src/generators/react-component/files/story/index.stories.tsx__tmpl__
  tools/workspace-plugin/src/generators/react-component/index.spec.ts
  tools/workspace-plugin/src/generators/react-component/index.ts
Labels: Fluent UI react-components (v9), NX: workspace generators

#30114 Vertical stacked bar chart new component tests
  packages/react-charting/docs/TestPlans/VerticalStackedBarChart/ComponentTests.md
  packages/react-charting/src/components/VerticalStackedBarChart/VerticalStackedBarChartRTL.test.tsx
  packages/react-charting/src/components/VerticalStackedBarChart/__snapshots__/VerticalStackedBarChartRTL.test.tsx.snap
Labels: Package: charting

#30053 fix(react-portal-compat-context): re-introduce ecma transpilation to ES5 to make it work with v8 in ES5 only browsers
  change/@fluentui-react-portal-compat-context-7d8f82e4-1b4b-4fa2-986b-27a7a1cac79d.json
  packages/react-components/react-portal-compat-context/.swcrc
  packages/react-components/react-portal-compat-context/tsconfig.json
  packages/react-components/react-portal-compat-context/tsconfig.lib.json
Labels: Area: Build System

#29899 fix(27817): VoiceOver announcing dropdown for Timepicker as button
  packages/react-examples/src/react/TimePicker/TimePicker.DateTimePicker.Example.tsx
Labels: Area: Accessibility, Component: TimePicker
