Repository microsoft/fluentui, pull requests merged in 2023-05, with the labels that each got.

#27507 Add export for FolderCover.scss
  change/@fluentui-react-experiments-cedaca06-5cf3-4161-9c45-b13850f8a5cd.json
  packages/react-experiments/package.json
Labels: Package: experiments

#27736 fix: dont ignore lib, lib-commonjs and lib-amd files
  change/@fluentui-date-time-utilities-a0aecb7b-3a32-4d59-97be-5a72945950f0.json
  change/@fluentui-dom-utilities-4870503f-6c4c-4f16-8410-849213615530.json
  change/@fluentui-font-icons-mdl2-f8af1b54-c711-481b-815b-55c190d712fd.json
  change/@fluentui-foundation-legacy-720281d9-c0bb-41d4-8d52-9931182c2775.json
  change/@fluentui-keyboard-key-7468c9a0-88bd-4f5c-b8c3-19934e6abaf9.json
  change/@fluentui-merge-styles-cbfe751f-e28b-4ebd-b17e-47b4005e9ba1.json
  change/@fluentui-react-8a7d357d-1295-4e6a-a77e-790989edaac0.json
  change/@fluentui-react-focus-4161aa46-456e-4ea9-9d37-011390ee242c.json
  change/@fluentui-react-hooks-b04425c0-6bd7-451a-a420-6349bd78e2ec.json
  change/@fluentui-react-window-provider-b5677baf-4da6-4fb5-a2b5-a1ae68df3760.json
  change/@fluentui-set-version-6d49c6e7-561b-415f-9817-d602b46fd119.json
  change/@fluentui-style-utilities-29d48d59-2b54-4f53-8610-3a12c54b6b71.json
  change/@fluentui-theme-f03403c3-7350-4846-93bf-cf0067b5b68d.json
  change/@fluentui-utilities-f0ea6572-c3c2-43ec-9f30-0615063f2bb8.json
  packages/date-time-utilities/.npmignore
  packages/dom-utilities/.npmignore
  packages/font-icons-mdl2/.npmignore
  packages/foundation-legacy/.npmignore
  packages/keyboard-key/.npmignore
  packages/merge-styles/.npmignore
  packages/react-focus/.npmignore
  packages/react-hooks/.npmignore
  packages/react-window-provider/.npmignore
  packages/react/.npmignore
  packages/set-version/.npmignore
  packages/style-utilities/.npmignore
  packages/theme/.npmignore
  packages/utilities/.npmignore
Labels: Area: Build System

#27739 chore: add .swcrc to .npmignore (generator)
  tools/generators/migrate-converged-pkg/index.spec.ts
  tools/generators/migrate-converged-pkg/index.ts
Labels: Area: Build System

#27743 fix(react-avatar): AvatarGroupPopover's content now uses column direction
  change/@fluentui-react-avatar-6355cdad-17ab-443b-8a0d-c8499ea34898.json
  packages/react-components/react-avatar/src/components/AvatarGroupPopover/useAvatarGroupPopoverStyles.styles.ts
  packages/react-components/react-avatar/src/utils/getInitials.ts
Labels: Fluent UI react-components (v9), Component: AvatarGroupPopover

#27745 fix (v8): update more .npmignore files to resolve node16 regression with npm publishing
  change/@fluentui-azure-themes-8c43c313-f51c-4342-9d83-4e1b5780d129.json
  change/@fluentui-fluent2-theme-b30b5fc4-9a99-42c2-a2c6-f860cdce6ac2.json
  change/@fluentui-monaco-editor-d6b9bc01-a45b-4266-a6fd-d5dd25683e53.json
  change/@fluentui-react-cards-8b422155-478a-467e-a047-43de878ee009.json
  change/@fluentui-react-charting-df2940a6-6901-4067-940d-0d9ce74df333.json
  change/@fluentui-react-da870d4d-342b-40d0-9a40-44942a3b86b6.json
  change/@fluentui-react-date-time-28c4fee7-3b06-43ef-9d8b-4ee360a0771c.json
  change/@fluentui-react-docsite-components-22936b88-d8e1-4e69-90b8-53a035713f03.json
  change/@fluentui-react-experiments-4f4e0bc1-e6fc-4f9a-b8b4-c4afc10c0d37.json
  change/@fluentui-react-file-type-icons-9214c95d-e717-44bd-bf6f-461acb6afa0b.json
  change/@fluentui-react-icon-provider-e3f59033-f7e2-4040-8938-31b2636c4bcc.json
  change/@fluentui-react-icons-mdl2-00a6ffe4-847d-4337-bc8b-6efa14e21e1a.json
  change/@fluentui-react-icons-mdl2-branded-5fd5cecb-2bf1-4682-95b4-d05aa48a47c4.json
  change/@fluentui-react-monaco-editor-9a27eb9e-30d5-42fd-833e-c980e25fe9ca.json
  change/@fluentui-scheme-utilities-bb23e739-4625-4831-b4c4-6f6cb4d5459e.json
  change/@fluentui-test-utilities-60e4ff6c-e8cb-48cc-a417-54addb1e6248.json
  change/@fluentui-theme-samples-afd27a1e-7802-41cb-8b03-b90fc9222122.json
  change/@fluentui-webpack-utilities-4bf5a942-76f7-4ca7-94cf-464ff83638c2.json
  packages/azure-themes/.npmignore
  packages/fluent2-theme/.npmignore
  packages/monaco-editor/.npmignore
  packages/react-cards/.npmignore
  packages/react-charting/.npmignore
  packages/react-date-time/.npmignore
  packages/react-docsite-components/.npmignore
  packages/react-experiments/.npmignore
  packages/react-file-type-icons/.npmignore
  packages/react-icon-provider/.npmignore
  packages/react-icons-mdl2-branded/.npmignore
  packages/react-icons-mdl2/.npmignore
  packages/react-monaco-editor/.npmignore
  packages/react/.npmignore
  packages/scheme-utilities/.npmignore
  packages/test-utilities/.npmignore
  packages/theme-samples/.npmignore
  packages/webpack-utilities/.npmignore
Labels: Area: Build System, Priority 1: High

#27699 UI adjustments for BreadcrumbLink component
  packages/react-components/react-breadcrumb/etc/react-breadcrumb.api.md
  packages/react-components/react-breadcrumb/src/components/BreadcrumbLink/BreadcrumbLink.test.tsx
  packages/react-components/react-breadcrumb/src/components/BreadcrumbLink/BreadcrumbLink.types.ts
  packages/react-components/react-breadcrumb/src/components/BreadcrumbLink/useBreadcrumbLink.ts
  packages/react-components/react-breadcrumb/src/components/BreadcrumbLink/useBreadcrumbLinkStyles.styles.ts
  packages/react-components/react-breadcrumb/stories/BreadcrumbLink/BreadcrumbLinkDefault.stories.tsx
Labels: Type: Feature, Component: Breadcrumb

#27754 chore(react-utilities): updates useControllableState comments
  change/@fluentui-react-utilities-901b0a64-6ed5-4614-b87c-d2e49d9322c2.json
  packages/react-components/react-utilities/src/hooks/useControllableState.ts
Labels: Package: utilities, Fluent UI react-components (v9)

#27757 fix(scripts-update-release-notes): properly handle git for-each-ref cmd call to not fail release notes update
  scripts/update-release-notes/changelogsAndTags.ts
Labels: Area: Build System, Priority 1: High, Fluent UI react (v8), CI

#26089 fix: do not use outlineStyle: none in createCustomFocusIndicatorStyle
  change/@fluentui-react-avatar-c5eda590-5ce5-4e60-9278-1c3e2c262c93.json
  change/@fluentui-react-link-d5ee02fd-4fb1-447a-9c5a-29d224098eb1.json
  change/@fluentui-react-table-7f1e5d71-db9b-4684-ae54-8f43917da2bb.json
  change/@fluentui-react-tabster-febe226f-524c-446a-a2b1-769b8ba7180f.json
  packages/react-components/react-avatar/src/components/AvatarGroupPopover/useAvatarGroupPopoverStyles.styles.ts
  packages/react-components/react-link/src/components/Link/useLinkStyles.styles.ts
  packages/react-components/react-table/src/components/TableCell/useTableCellStyles.styles.ts
  packages/react-components/react-table/src/components/TableHeaderCell/useTableHeaderCellStyles.styles.ts
  packages/react-components/react-table/src/components/TableRow/useTableRowStyles.styles.ts
  packages/react-components/react-table/src/components/TableSelectionCell/useTableSelectionCellStyles.styles.ts
  packages/react-components/react-tabster/etc/react-tabster.api.md
  packages/react-components/react-tabster/src/focus/createCustomFocusIndicatorStyle.ts
  packages/react-components/react-tabster/src/focus/createFocusOutlineStyle.ts
Labels: Area: Accessibility, Component: Button, Component: Tooltip

#27113 Adds Radio and RadioGroup as new web components
  change/@fluentui-web-components-94ca1c7a-1462-4aa5-9458-41a54f17527e.json
  packages/web-components/package.json
  packages/web-components/src/index.ts
  packages/web-components/src/radio-group/README.md
  packages/web-components/src/radio-group/define.ts
  packages/web-components/src/radio-group/index.ts
  packages/web-components/src/radio-group/radio-group.definition.ts
  packages/web-components/src/radio-group/radio-group.stories.ts
  packages/web-components/src/radio-group/radio-group.styles.ts
  packages/web-components/src/radio-group/radio-group.template.ts
  packages/web-components/src/radio-group/radio-group.ts
  packages/web-components/src/radio/README.md
  packages/web-components/src/radio/define.ts
  packages/web-components/src/radio/index.ts
  packages/web-components/src/radio/radio.definition.ts
  packages/web-components/src/radio/radio.stories.ts
  packages/web-components/src/radio/radio.styles.ts
  packages/web-components/src/radio/radio.template.ts
  packages/web-components/src/radio/radio.ts
Labels: web-components

#27782 fix(Coachmark): Remove positioning regression and update bounds on resize
  change/@fluentui-react-832db8c4-2962-4daf-bf3b-81e8e5b8dd48.json
  packages/react/src/components/Coachmark/Coachmark.base.tsx
Labels: Component: Coachmark, Area: Components

#24181 RFC appearance migration
  rfcs/convergence/apperance-migration.md
Labels: Type: RFC, Resolution: Soft Close

#27802 bugfix(react-tree): fix VisibleFlatTreeItemGenerator omitting visible items
  change/@fluentui-react-tree-e91902ae-b031-47c0-99be-2f7450c3f3f7.json
  packages/react-components/react-tree/src/utils/createFlatTreeItems.ts
Labels: Fluent UI react-components (v9), Component: Tree

#27581 feat(react-drawer): create DrawerBody component
  change/@fluentui-react-provider-fc0c4816-12ec-40b0-9c82-432d8a196123.json
  change/@fluentui-react-shared-contexts-1ce718e9-b07a-4dc1-a5cf-97d9baef17d9.json
  packages/react-components/react-drawer/etc/react-drawer.api.md
  packages/react-components/react-drawer/package.json
  packages/react-components/react-drawer/src/DrawerBody.ts
  packages/react-components/react-drawer/src/components/Drawer/Drawer.tsx
  packages/react-components/react-drawer/src/components/Drawer/useDrawer.ts
  packages/react-components/react-drawer/src/components/Drawer/useDrawerStyles.styles.ts
  packages/react-components/react-drawer/src/components/DrawerBody/DrawerBody.cy.tsx
  packages/react-components/react-drawer/src/components/DrawerBody/DrawerBody.test.tsx
  packages/react-components/react-drawer/src/components/DrawerBody/DrawerBody.tsx
  packages/react-components/react-drawer/src/components/DrawerBody/DrawerBody.types.ts
  packages/react-components/react-drawer/src/components/DrawerBody/index.ts
  packages/react-components/react-drawer/src/components/DrawerBody/renderDrawerBody.tsx
  packages/react-components/react-drawer/src/components/DrawerBody/useDrawerBody.ts
  packages/react-components/react-drawer/src/components/DrawerBody/useDrawerBodyStyles.styles.ts
  packages/react-components/react-drawer/src/index.ts
  packages/react-components/react-drawer/stories/Drawer/DrawerBestPractices.md
  packages/react-components/react-drawer/stories/DrawerBody/DrawerBodyBestPractices.md
  packages/react-components/react-drawer/stories/DrawerBody/DrawerBodyDefault.stories.tsx
  packages/react-components/react-drawer/stories/DrawerBody/DrawerBodyDescription.md
  packages/react-components/react-drawer/stories/DrawerBody/index.stories.tsx
  packages/react-components/react-provider/etc/react-provider.api.md
  packages/react-components/react-shared-contexts/etc/react-shared-contexts.api.md
  packages/react-components/react-shared-contexts/src/CustomStyleHooksContext/CustomStyleHooksContext.ts
Labels: Component: Drawer

#27717 feat: defers useControllableState state to initializer method
  change/@fluentui-react-utilities-3e7e29b4-ccde-4269-ac7f-8adf2333171e.json
  packages/react-components/react-utilities/src/hooks/useControllableState.ts
Labels: Package: utilities, Fluent UI react-components (v9)

#27701 feat(react-tree): creates `TreeItemAside` component
  change/@fluentui-react-tree-6f4ad617-cd80-47d5-a160-020e5bfc3cec.json
  packages/react-components/react-tree/etc/react-tree.api.md
  packages/react-components/react-tree/src/TreeItemAside.ts
  packages/react-components/react-tree/src/components/Tree/Tree.cy.tsx
  packages/react-components/react-tree/src/components/TreeItem/useTreeItem.ts
  packages/react-components/react-tree/src/components/TreeItem/useTreeItemContextValues.ts
  packages/react-components/react-tree/src/components/TreeItemAside/TreeItemAside.test.tsx
  packages/react-components/react-tree/src/components/TreeItemAside/TreeItemAside.tsx
  packages/react-components/react-tree/src/components/TreeItemAside/TreeItemAside.types.ts
  packages/react-components/react-tree/src/components/TreeItemAside/__snapshots__/TreeItemAside.test.tsx.snap
  packages/react-components/react-tree/src/components/TreeItemAside/index.ts
  packages/react-components/react-tree/src/components/TreeItemAside/renderTreeItemAside.tsx
  packages/react-components/react-tree/src/components/TreeItemAside/useTreeItemAside.ts
  packages/react-components/react-tree/src/components/TreeItemAside/useTreeItemAsideStyles.styles.ts
  packages/react-components/react-tree/src/components/TreeItemLayout/TreeItemLayout.test.tsx
  packages/react-components/react-tree/src/components/TreeItemLayout/TreeItemLayout.types.ts
  packages/react-components/react-tree/src/components/TreeItemLayout/renderTreeItemLayout.tsx
  packages/react-components/react-tree/src/components/TreeItemLayout/useTreeItemLayout.tsx
  packages/react-components/react-tree/src/components/TreeItemLayout/useTreeItemLayoutStyles.styles.ts
  packages/react-components/react-tree/src/components/TreeItemPersonaLayout/TreeItemPersonaLayout.test.tsx
  packages/react-components/react-tree/src/components/TreeItemPersonaLayout/TreeItemPersonaLayout.types.ts
  packages/react-components/react-tree/src/components/TreeItemPersonaLayout/renderTreeItemPersonaLayout.tsx
  packages/react-components/react-tree/src/components/TreeItemPersonaLayout/useTreeItemPersonaLayout.tsx
  packages/react-components/react-tree/src/components/TreeItemPersonaLayout/useTreeItemPersonaLayoutStyles.styles.ts
  packages/react-components/react-tree/src/contexts/treeItemContext.ts
  packages/react-components/react-tree/src/index.ts
  packages/react-components/react-tree/stories/B_TreeItem/TreeItemActions.md
  packages/react-components/react-tree/stories/B_TreeItem/TreeItemActions.stories.tsx
  packages/react-components/react-tree/stories/C_Layouts/LayoutsDefault.stories.tsx
  packages/react-components/react-tree/stories/C_Layouts/TreeItemLayout.stories.tsx
  packages/react-components/react-tree/stories/C_Layouts/TreeItemLayoutAside.md
  packages/react-components/react-tree/stories/C_Layouts/TreeItemLayoutAside.stories.tsx
  packages/react-components/react-tree/stories/C_Layouts/TreeItemPersonaLayout.stories.tsx
  packages/react-components/react-tree/stories/D_flatTree/TreeItemAddRemove.stories.tsx
Labels: Fluent UI react-components (v9), Component: Tree

#27825 bugfix: fix horizontal overflow on tree
  change/@fluentui-react-tree-e43c53f4-8d36-486e-a2df-4a0f3da1c4d1.json
  packages/react-components/react-tree/src/components/TreeItem/useTreeItemStyles.styles.ts
  packages/react-components/react-tree/src/components/TreeItemLayout/useTreeItemLayoutStyles.styles.ts
Labels: Fluent UI react-components (v9), Component: Tree

#27822 Adds components to api report for importing into wrappers
  packages/web-components/docs/api-report.md
Labels: web-components

#27843 chore(react-jsx-runtime): update create-component plop template
  scripts/generators/create-component/plop-templates/src/components/{{componentName}}/render{{componentName}}.tsx.hbs
Labels: Area: Build System

#27844 Added more snapshot tests to the Breadcrumb component
  packages/react-components/react-breadcrumb/src/components/Breadcrumb/Breadcrumb.test.tsx
  packages/react-components/react-breadcrumb/src/components/BreadcrumbButton/BreadcrumbButton.test.tsx
  packages/react-components/react-breadcrumb/src/components/BreadcrumbDivider/BreadcrumbDivider.test.tsx
  packages/react-components/react-breadcrumb/src/components/BreadcrumbItem/BreadcrumbItem.test.tsx
  packages/react-components/react-breadcrumb/src/components/BreadcrumbLink/BreadcrumbLink.test.tsx
Labels: Component: Breadcrumb

#27837 fix(react-textarea): Don't remove outline when filled and disabled and apply correct disabled color to text
  apps/vr-tests-react-components/src/stories/Textarea.stories.tsx
  change/@fluentui-react-textarea-5bff6329-66e1-4f78-b54e-615647eb847c.json
  packages/react-components/react-textarea/src/components/Textarea/useTextareaStyles.styles.ts
Labels: Fluent UI react-components (v9), Component: Textarea

#27856 chore(react-tree): exports TreeItemAside unstable
  change/@fluentui-react-components-b2fd8b74-3d46-4169-8794-bf63b336eb4e.json
  packages/react-components/react-components/etc/react-components.unstable.api.md
  packages/react-components/react-components/src/unstable/index.ts
Labels: Fluent UI react-components (v9), Component: Tree

#24048 Make getKey and selection props mutually exclusive
  change/@fluentui-react-519e3c9c-d7fd-40f6-b9f7-6a2d2e1af28f.json
  packages/react-examples/src/react/DetailsList/DetailsList.Documents.Example.tsx
  packages/react/src/components/DetailsList/DetailsList.base.tsx
Labels: Component: DetailsList, PR: API Modified

#27583 feat(react-drawer): create DrawerFooter component
  packages/react-components/react-drawer/etc/react-drawer.api.md
  packages/react-components/react-drawer/src/DrawerFooter.ts
  packages/react-components/react-drawer/src/components/DrawerFooter/DrawerFooter.test.tsx
  packages/react-components/react-drawer/src/components/DrawerFooter/DrawerFooter.tsx
  packages/react-components/react-drawer/src/components/DrawerFooter/DrawerFooter.types.ts
  packages/react-components/react-drawer/src/components/DrawerFooter/index.ts
  packages/react-components/react-drawer/src/components/DrawerFooter/renderDrawerFooter.tsx
  packages/react-components/react-drawer/src/components/DrawerFooter/useDrawerFooter.ts
  packages/react-components/react-drawer/src/components/DrawerFooter/useDrawerFooterStyles.ts
  packages/react-components/react-drawer/src/index.ts
  packages/react-components/react-drawer/stories/DrawerBody/DrawerBodyDefault.stories.tsx
Labels: Component: Drawer

#27854 feat: implement Toaster offset
  packages/react-components/react-toast/etc/react-toast.api.md
  packages/react-components/react-toast/src/components/Toaster.tsx
  packages/react-components/react-toast/src/index.ts
  packages/react-components/react-toast/src/state/types.ts
  packages/react-components/react-toast/src/state/vanilla/getPositionStyles.ts
  packages/react-components/react-toast/stories/Toast/Offset.stories.tsx
  packages/react-components/react-toast/stories/Toast/index.stories.tsx
Labels: Component: Toast

#27880 chore: update RFC template
  rfcs/TEMPLATE.md
Labels: Type: RFC

#27746 fix(recipes-react-components): Add a FluentProvider to the local storybook
  apps/recipes-react-components/.storybook/preview.js
  apps/recipes-react-components/src/DocComponents/FluentDocsContainer.stories.tsx
Labels: Fluent UI react-components (v9), Area: Recipes

#27834 fix(react-infobutton): Add aria-owns to InfoLabel
  change/@fluentui-react-infobutton-96687ef7-7451-4853-8a32-6046c1caf576.json
  packages/react-components/react-infobutton/src/components/InfoLabel/InfoLabel.test.tsx
  packages/react-components/react-infobutton/src/components/InfoLabel/useInfoLabel.ts
  packages/react-components/react-infobutton/stories/Infobutton/InfoButtonBestPractices.md
Labels: Fluent UI react-components (v9), Component: InfoButton

#27540 chore(react-tabster): upgrade tabster to v4.4.2
  change/@fluentui-react-tabster-15456040-19ed-4576-b0d5-918ea610f2dd.json
  packages/react-components/react-tabster/package.json
  yarn.lock
Labels: Component: Dialog

#27582 feat(react-drawer): create DrawerHeader component
  change/@fluentui-react-provider-8d16b583-90bc-4602-8f12-908adfa27fa2.json
  change/@fluentui-react-shared-contexts-9885d20c-9563-4217-9582-4dea3020602a.json
  packages/react-components/react-drawer/etc/react-drawer.api.md
  packages/react-components/react-drawer/src/DrawerHeader.ts
  packages/react-components/react-drawer/src/DrawerHeaderNavigation.ts
  packages/react-components/react-drawer/src/DrawerHeaderTitle.ts
  packages/react-components/react-drawer/src/components/Drawer/Drawer.types.ts
  packages/react-components/react-drawer/src/components/Drawer/useDrawerStyles.styles.ts
  packages/react-components/react-drawer/src/components/DrawerBody/DrawerBody.types.ts
  packages/react-components/react-drawer/src/components/DrawerBody/useDrawerBodyStyles.styles.ts
  packages/react-components/react-drawer/src/components/DrawerHeader/DrawerHeader.test.tsx
  packages/react-components/react-drawer/src/components/DrawerHeader/DrawerHeader.tsx
  packages/react-components/react-drawer/src/components/DrawerHeader/DrawerHeader.types.ts
  packages/react-components/react-drawer/src/components/DrawerHeader/index.ts
  packages/react-components/react-drawer/src/components/DrawerHeader/renderDrawerHeader.tsx
  packages/react-components/react-drawer/src/components/DrawerHeader/useDrawerHeader.ts
  packages/react-components/react-drawer/src/components/DrawerHeader/useDrawerHeaderStyles.ts
  packages/react-components/react-drawer/src/components/DrawerHeaderNavigation/DrawerHeaderNavigation.test.tsx
  packages/react-components/react-drawer/src/components/DrawerHeaderNavigation/DrawerHeaderNavigation.tsx
  packages/react-components/react-drawer/src/components/DrawerHeaderNavigation/DrawerHeaderNavigation.types.ts
  packages/react-components/react-drawer/src/components/DrawerHeaderNavigation/index.ts
  packages/react-components/react-drawer/src/components/DrawerHeaderNavigation/renderDrawerHeaderNavigation.tsx
  packages/react-components/react-drawer/src/components/DrawerHeaderNavigation/useDrawerHeaderNavigation.ts
  packages/react-components/react-drawer/src/components/DrawerHeaderNavigation/useDrawerHeaderNavigationStyles.styles.ts
  packages/react-components/react-drawer/src/components/DrawerHeaderTitle/DrawerHeaderTitle.test.tsx
  packages/react-components/react-drawer/src/components/DrawerHeaderTitle/DrawerHeaderTitle.tsx
  packages/react-components/react-drawer/src/components/DrawerHeaderTitle/DrawerHeaderTitle.types.ts
  packages/react-components/react-drawer/src/components/DrawerHeaderTitle/index.ts
  packages/react-components/react-drawer/src/components/DrawerHeaderTitle/renderDrawerHeaderTitle.tsx
  packages/react-components/react-drawer/src/components/DrawerHeaderTitle/useDrawerHeaderTitle.ts
  packages/react-components/react-drawer/src/components/DrawerHeaderTitle/useDrawerHeaderTitleStyles.styles.ts
  packages/react-components/react-drawer/src/index.ts
  packages/react-components/react-drawer/stories/Drawer/DrawerAlwaysOpen.stories.tsx
  packages/react-components/react-drawer/stories/Drawer/DrawerCustomSize.stories.tsx
  packages/react-components/react-drawer/stories/Drawer/DrawerDefault.stories.tsx
  packages/react-components/react-drawer/stories/Drawer/DrawerDefaultOpen.stories.tsx
  packages/react-components/react-drawer/stories/Drawer/DrawerInline.stories.tsx
  packages/react-components/react-drawer/stories/Drawer/DrawerPosition.stories.tsx
  packages/react-components/react-drawer/stories/Drawer/DrawerPreventClose.stories.tsx
  packages/react-components/react-drawer/stories/Drawer/DrawerSeparator.stories.tsx
  packages/react-components/react-drawer/stories/Drawer/DrawerSize.stories.tsx
  packages/react-components/react-drawer/stories/Drawer/DrawerWithNavigation.stories.tsx
  packages/react-components/react-drawer/stories/Drawer/DrawerWithScroll.stories.tsx
  packages/react-components/react-drawer/stories/Drawer/index.stories.tsx
  packages/react-components/react-drawer/stories/DrawerBody/DrawerBodyBestPractices.md
  packages/react-components/react-drawer/stories/DrawerBody/DrawerBodyDescription.md
  packages/react-components/react-drawer/stories/DrawerBody/index.stories.tsx
  packages/react-components/react-provider/etc/react-provider.api.md
  packages/react-components/react-shared-contexts/etc/react-shared-contexts.api.md
  packages/react-components/react-shared-contexts/src/CustomStyleHooksContext/CustomStyleHooksContext.ts
Labels: PR: API Modified, Component: Drawer

#27898 chore: migrate to prettier 2.8.8
  package.json
  packages/react-components/babel-preset-storybook-full-source/package.json
  yarn.lock
Labels: Area: Build System

#27832 fix(react-popover): Stop propagation when closing the PopoverSurface with Escape
  change/@fluentui-react-popover-cd0f51c6-92c0-4de4-917e-df1a53233d3b.json
  packages/react-components/react-popover/src/components/PopoverSurface/usePopoverSurface.ts
Labels: Component: Popover, Fluent UI react-components (v9)

#27924 fix(recipes-react-components): Update Example to TemplateExample
  apps/recipes-react-components/src/recipes/media-object/MediaObject.stories.mdx
Labels: Fluent UI react-components (v9), Area: Recipes

#27920 fix(react-textarea): Move disabled styles in textarea selector to the textarea styles
  change/@fluentui-react-textarea-da38b5b6-139a-42de-b425-abceddc48a77.json
  packages/react-components/react-textarea/src/components/Textarea/useTextareaStyles.styles.ts
Labels: Fluent UI react-components (v9), Component: Textarea

#27922 fix: Pivot focus outline is visible on link-as-tab variant
  change/@fluentui-react-be1fc47e-c473-4abf-98b8-38adda0aab8b.json
  packages/react/src/components/Pivot/Pivot.styles.ts
  packages/react/src/components/Pivot/__snapshots__/Pivot.test.tsx.snap
Labels: Component: Pivot

#27912 chore(react-accordion): ensures AccordionHeader expandIcon supports null
  change/@fluentui-react-accordion-f25a187c-893c-4c69-a270-b1a405788277.json
  packages/react-components/react-accordion/etc/react-accordion.api.md
  packages/react-components/react-accordion/src/components/Accordion/Accordion.types.ts
  packages/react-components/react-accordion/src/components/AccordionHeader/AccordionHeader.test.tsx
  packages/react-components/react-accordion/src/components/AccordionHeader/AccordionHeader.types.ts
  packages/react-components/react-accordion/src/components/AccordionHeader/__snapshots__/AccordionHeader.test.tsx.snap
  packages/react-components/react-accordion/src/components/AccordionHeader/renderAccordionHeader.tsx
  packages/react-components/react-accordion/src/components/AccordionHeader/useAccordionHeader.tsx
  packages/react-components/react-accordion/src/components/AccordionItem/AccordionItem.types.ts
  packages/react-components/react-accordion/src/components/AccordionPanel/AccordionPanel.types.ts
Labels: Component: Accordion, Fluent UI react-components (v9)

#27887 Added best practices for the Breadcrumb
  packages/react-components/react-breadcrumb/stories/Breadcrumb/BreadcrumbBestPractices.md
  packages/react-components/react-breadcrumb/stories/Breadcrumb/BreadcrumbDescription.md
  packages/react-components/react-breadcrumb/stories/BreadcrumbButton/BreadcrumbButtonBestPractices.md
  packages/react-components/react-breadcrumb/stories/BreadcrumbButton/BreadcrumbButtonDescription.md
  packages/react-components/react-breadcrumb/stories/BreadcrumbDivider/BreadcrumbDividerBestPractices.md
  packages/react-components/react-breadcrumb/stories/BreadcrumbDivider/BreadcrumbDividerDescription.md
  packages/react-components/react-breadcrumb/stories/BreadcrumbItem/BreadcrumbItemBestPractices.md
  packages/react-components/react-breadcrumb/stories/BreadcrumbItem/BreadcrumbItemDescription.md
  packages/react-components/react-breadcrumb/stories/BreadcrumbLink/BreadcrumbLinkBestPractices.md
  packages/react-components/react-breadcrumb/stories/BreadcrumbLink/BreadcrumbLinkDescription.md
Labels: Component: Breadcrumb

#27742 Added focus to the Breadcrumb
  packages/react-components/react-breadcrumb/etc/react-breadcrumb.api.md
  packages/react-components/react-breadcrumb/package.json
  packages/react-components/react-breadcrumb/src/components/Breadcrumb/Breadcrumb.test.tsx
  packages/react-components/react-breadcrumb/src/components/Breadcrumb/Breadcrumb.types.ts
  packages/react-components/react-breadcrumb/src/components/Breadcrumb/useBreadcrumb.ts
  packages/react-components/react-breadcrumb/src/components/BreadcrumbButton/useBreadcrumbButton.ts
  packages/react-components/react-breadcrumb/src/components/BreadcrumbDivider/BreadcrumbDivider.test.tsx
  packages/react-components/react-breadcrumb/src/components/BreadcrumbLink/useBreadcrumbLink.ts
  packages/react-components/react-breadcrumb/stories/Breadcrumb/BreadcrumbDefault.stories.tsx
  packages/react-components/react-breadcrumb/stories/BreadcrumbButton/BreadcrumbButtonDefault.stories.tsx
  packages/react-components/react-breadcrumb/stories/BreadcrumbDivider/BreadcrumbDividerDefault.stories.tsx
  packages/react-components/react-breadcrumb/stories/BreadcrumbLink/BreadcrumbLinkDefault.stories.tsx
Labels: Type: Feature, Component: Breadcrumb

#27735 feat(tools): Adding recipes generator
  tools/generators/recipe-generator/README.md
  tools/generators/recipe-generator/__snapshots__/index.spec.ts.snap
  tools/generators/recipe-generator/files/__packageName__/__fileName__.stories.mdx__tmpl__
  tools/generators/recipe-generator/files/__packageName__/code-snippets/__fileName__.tsx__tmpl__
  tools/generators/recipe-generator/files/__packageName__/code-snippets/index.ts__tmpl__
  tools/generators/recipe-generator/index.spec.ts
  tools/generators/recipe-generator/index.ts
  tools/generators/recipe-generator/schema.json
  tools/generators/recipe-generator/schema.ts
Labels: Area: Build System, Fluent UI react-components (v9), Area: Recipes

#27942 feat(public-docsite-v9): Adding Theme Designer to docs
  apps/public-docsite-v9/package.json
  apps/public-docsite-v9/src/Concepts/ThemeDesigner.stories.mdx
Labels: Area: Website, Fluent UI react-components (v9), Theme Designer

#25964 Implementation of Horizontal Bar Chart with Axis
  change/@fluentui-react-charting-1d5fee55-3465-4900-848c-0885beef9400.json
  packages/react-charting/jest.config.js
  packages/react-charting/package.json
  packages/react-charting/src/HorizontalBarChartWithAxis.ts
  packages/react-charting/src/components/CommonComponents/CartesianChart.base.tsx
  packages/react-charting/src/components/CommonComponents/CartesianChart.types.ts
  packages/react-charting/src/components/HorizontalBarChartWithAxis/HorizontalBarChartWithAxis.base.tsx
  packages/react-charting/src/components/HorizontalBarChartWithAxis/HorizontalBarChartWithAxis.styles.ts
  packages/react-charting/src/components/HorizontalBarChartWithAxis/HorizontalBarChartWithAxis.test.tsx
  packages/react-charting/src/components/HorizontalBarChartWithAxis/HorizontalBarChartWithAxis.tsx
  packages/react-charting/src/components/HorizontalBarChartWithAxis/HorizontalBarChartWithAxis.types.ts
  packages/react-charting/src/components/HorizontalBarChartWithAxis/__snapshots__/HorizontalBarChartWithAxis.test.tsx.snap
  packages/react-charting/src/components/HorizontalBarChartWithAxis/index.ts
  packages/react-charting/src/index.ts
  packages/react-charting/src/types/IDataPoint.ts
  packages/react-charting/src/utilities/utilities.ts
  packages/react-examples/src/react-charting/HorizontalBarChartWithAxis/HorizontalBarChartWithAxis.AxisTooltip.Example.tsx
  packages/react-examples/src/react-charting/HorizontalBarChartWithAxis/HorizontalBarChartWithAxis.Basic.Example.tsx
  packages/react-examples/src/react-charting/HorizontalBarChartWithAxis/HorizontalBarChartWithAxis.StringAxisTooltip.Example.tsx
  packages/react-examples/src/react-charting/HorizontalBarChartWithAxis/HorizontalBarChartWithAxisPage.tsx
  packages/react-examples/src/react-charting/demo/AppDefinition.tsx
  yarn.lock
Labels: Package: charting

#27796 fix: Spacing and sizing styles for Toolbar
  change/@fluentui-react-toolbar-c5617b54-e748-466b-a99a-b8f279ba376d.json
  packages/react-components/react-toolbar/src/components/Toolbar/useToolbarStyles.styles.ts
  packages/react-components/react-toolbar/src/components/ToolbarDivider/useToolbarDividerStyles.styles.ts
  packages/react-components/react-toolbar/src/components/ToolbarGroup/useToolbarGroupStyles.styles.ts
  packages/react-components/react-toolbar/stories/Toolbar/ToolbarLarge.stories.tsx
  packages/react-components/react-toolbar/stories/Toolbar/ToolbarMedium.stories.tsx
  packages/react-components/react-toolbar/stories/Toolbar/ToolbarSmall.stories.tsx
  packages/react-components/react-toolbar/stories/Toolbar/ToolbarWithTooltip.stories.tsx
Labels: Component: Toolbar

#27947 8.0 azure theme text & link contrast fix - light theme only
  change/@fluentui-azure-themes-0fc84743-8277-4ecd-b5a4-5bda0d9c516b.json
  packages/azure-themes/src/azure/AzureColors.ts
  packages/azure-themes/src/azure/AzureThemeDark.ts
  packages/azure-themes/src/azure/AzureThemeHighContrastDark.ts
  packages/azure-themes/src/azure/AzureThemeHighContrastLight.ts
  packages/azure-themes/src/azure/AzureThemeLight.ts
  packages/azure-themes/src/azure/IAzureSemanticColors.ts
  packages/azure-themes/src/azure/IExtendedSemanticColors.ts
  packages/azure-themes/src/azure/styles/Pivot.styles.ts
Labels: Package: azure-themes

#27731 fix(react-datepicker-compat): fix focus behavior and popup handling behavior
  change/@fluentui-react-datepicker-compat-ea635309-a722-4860-bdc8-54b8de89c9c7.json
  packages/react-components/react-datepicker-compat/src/components/Calendar/Calendar.tsx
  packages/react-components/react-datepicker-compat/src/components/DatePicker/useDatePicker.tsx
Labels: Component: DatePicker, Fluent UI react-components (v9), Component: DatePickerCompat

#27971 feat(theme-designer): Move theme-designer to stable
  apps/public-docsite-v9/package.json
  packages/react-components/theme-designer/README.md
  packages/react-components/theme-designer/package.json
Labels: Fluent UI react-components (v9), Theme Designer

#27852 Spinner: added delay prop
  change/@fluentui-react-spinner-099f688d-291c-4cc1-8c1c-530f1b70fbb2.json
  packages/react-components/react-spinner/etc/react-spinner.api.md
  packages/react-components/react-spinner/src/components/Spinner/Spinner.test.tsx
  packages/react-components/react-spinner/src/components/Spinner/Spinner.types.ts
  packages/react-components/react-spinner/src/components/Spinner/renderSpinner.tsx
  packages/react-components/react-spinner/src/components/Spinner/useSpinner.tsx
Labels: Component: Spinner

#27989 fix(react-datepicker-compat): Only apply aria-owns when popup is rendered
  change/@fluentui-react-datepicker-compat-c7052ce3-4b8a-4668-a7ae-f569d7bf875e.json
  packages/react-components/react-datepicker-compat/src/components/DatePicker/__snapshots__/DatePicker.test.tsx.snap
  packages/react-components/react-datepicker-compat/src/components/DatePicker/useDatePicker.tsx
Labels: Fluent UI react-components (v9), Component: DatePickerCompat

#27918 Add support for RTL divider on Breadcrumb
  packages/react-components/react-breadcrumb/src/components/BreadcrumbDivider/useBreadcrumbDivider.tsx
  packages/react-components/react-breadcrumb/stories/BreadcrumbDivider/BreadcrumbDividerDefault.stories.tsx
Labels: Type: Feature, Component: Breadcrumb

#27990 chore(react-dialog): fix useDialogTitle ref argument type
  change/@fluentui-react-dialog-100a6339-0f6d-4d43-ba54-f2c1475a9308.json
  packages/react-components/react-dialog/etc/react-dialog.api.md
  packages/react-components/react-dialog/src/components/DialogTitle/useDialogTitle.tsx
  packages/react-components/react-drawer/etc/react-drawer.api.md
  packages/react-components/react-drawer/src/components/DrawerHeaderTitle/useDrawerHeaderTitle.ts
Labels: Component: Dialog, Fluent UI react-components (v9)

#27964 docs(v9): fix typos in KeepingDesignConsistent.stories.mdx
  apps/public-docsite-v9/src/Concepts/Migration/KeepingDesignConsistent.stories.mdx
Labels: Area: Website

#27978 fix(react-utilities): fix dispatcher behavior
  change/@fluentui-react-utilities-66d57a65-a181-4667-ba3e-a17909109d03.json
  packages/react-components/react-utilities/src/hooks/useControllableState.test.ts
  packages/react-components/react-utilities/src/hooks/useControllableState.ts
Labels: Component: DataGrid

#27988 fix(react-datepicker-compat): Error handling story now doesn't use Date.now to avoid SSR errors
  packages/react-components/react-datepicker-compat/stories/DatePicker/DatePickerErrorHandling.stories.tsx
Labels: Fluent UI react-components (v9), Component: DatePickerCompat

#27985 fix: make the selected styles have higher priority
  change/@fluentui-react-card-a1dedbc1-bc08-43de-bf35-2ae167697178.json
  packages/react-components/react-card/src/components/Card/useCardStyles.styles.ts
Labels: Type: Bug :bug:, Component: Card

#28001 chore: disable SSR tests for @fluentui/react-datepicker-compat
  scripts/test-ssr/src/commands/main.ts
Labels: Area: Build System

#27779 Update FabricCDN url to use latest filetype icon
  change/@fluentui-style-utilities-6e2d4d2f-fb1b-4dc3-96ef-94dd267865f8.json
  packages/style-utilities/etc/style-utilities.api.md
  packages/style-utilities/src/cdn.ts
Labels: Package: styling

#27953 Table: visualize column that is being resized by keyboard
  apps/vr-tests-react-components/src/stories/Table.stories.tsx
  change/@fluentui-react-table-446c924c-8133-4961-a6cf-869a77013ba2.json
  packages/react-components/react-table/src/components/TableHeaderCell/useTableHeaderCellStyles.styles.ts
  packages/react-components/react-table/src/hooks/useKeyboardResizing.ts
  packages/react-components/react-table/src/hooks/useTableColumnSizing.tsx
  packages/react-components/react-table/stories/DataGrid/KeyboardColumnResizing.stories.tsx
  packages/react-components/react-table/stories/Table/KeyboardColumnResizing.stories.tsx
  packages/react-components/react-table/stories/Table/ResizableColumnsUncontrolled.stories.tsx
Labels: Area: Accessibility, Component: Table

#27965 Create secondary y axis
  change/@fluentui-react-charting-d7e642b3-71cb-45cf-8a70-0e4686b6b328.json
  packages/react-charting/src/components/CommonComponents/CartesianChart.base.tsx
  packages/react-charting/src/components/CommonComponents/CartesianChart.types.ts
  packages/react-charting/src/components/VerticalBarChart/VerticalBarChart.base.tsx
  packages/react-charting/src/components/VerticalStackedBarChart/VerticalStackedBarChart.base.tsx
  packages/react-charting/src/types/IDataPoint.ts
  packages/react-charting/src/utilities/utilities.ts
Labels: Package: charting

#28005 feat(react-drawer): release Drawer to unstable
  change/@fluentui-react-components-5dbe2544-80b6-411c-844b-c47d0f400731.json
  change/@fluentui-react-drawer-317328ea-1d85-486f-baab-6a1206c91ebf.json
  packages/react-components/react-components/etc/react-components.unstable.api.md
  packages/react-components/react-components/package.json
  packages/react-components/react-components/src/unstable/index.ts
  packages/react-components/react-drawer/README.md
  packages/react-components/react-drawer/package.json
Labels: Fluent UI react-components (v9), Component: Drawer

#27885 chore: migrate from nx 13 to 15.6.3
  .github/CODEOWNERS
  jest.config.ts
  migrations.json
  nx.json
  package.json
  scripts/generators/create-component/index.ts
  scripts/generators/create-package/index.ts
  tools/generators/add-codeowners.spec.ts
  tools/generators/dependency-mismatch/index.spec.ts
  tools/generators/epic-generator/index.spec.ts
  tools/generators/migrate-converged-pkg/__fixtures__/just-config.ts__tmpl__
  tools/generators/migrate-converged-pkg/files/just-config.ts__tmpl__
  tools/generators/migrate-converged-pkg/index.spec.ts
  tools/generators/migrate-converged-pkg/index.ts
  tools/generators/migrate-converged-pkg/lib/__fixtures__/utils-hello-substitute.ts__tmpl__
  tools/generators/migrate-converged-pkg/lib/__fixtures__/utils-hello.ts__tmpl__
  tools/generators/migrate-converged-pkg/lib/utils.spec.ts
  tools/generators/migrate-converged-pkg/lib/utils.ts
  tools/generators/migrate-fixed-versions/index.spec.ts
  tools/generators/migrate-v8-pkg/index.spec.ts
  tools/generators/move-packages/index.spec.ts
  tools/generators/print-stats.spec.ts
  tools/generators/rc-caret/index.spec.ts
  tools/generators/tsconfig-base-all/index.spec.ts
  tools/generators/version-bump/index.spec.ts
  tools/generators/workspace-generator/files/index.spec.ts__tmpl__
  tools/generators/workspace-generator/index.spec.ts
  tools/jest.config.ts
  tools/tsconfig.lib.json
  tools/tsconfig.spec.json
  tools/tsconfig.tools.json
  workspace.json
  yarn.lock
Labels: Area: Build System

#27685 chore: enforce files naming to use .styles.ts
  apps/perf-test-react-components/.eslintrc.json
  apps/public-docsite-v9/src/Concepts/Migration/FromV0/Components/IconCatalog/ComparisonTile.styles.ts
  apps/public-docsite-v9/src/Concepts/Migration/FromV0/Components/IconCatalog/ComparisonTile.tsx
  apps/public-docsite-v9/src/Concepts/Migration/FromV0/Components/IconCatalog/IconCatalog.styles.ts
  apps/public-docsite-v9/src/Concepts/Migration/FromV0/Components/IconCatalog/IconCatalog.tsx
  apps/public-docsite-v9/src/Concepts/Migration/FromV8/ThemeColors/ColorBlock.styles.ts
  apps/public-docsite-v9/src/Concepts/Migration/FromV8/ThemeColors/ColorBlock.tsx
  apps/public-docsite-v9/src/Concepts/Poster/AreaCard.styles.ts
  apps/public-docsite-v9/src/Concepts/Poster/AreaCard.tsx
  apps/public-docsite-v9/src/Concepts/Poster/CodeItemCard.styles.ts
  apps/public-docsite-v9/src/Concepts/Poster/CodeItemCard.tsx
  apps/public-docsite-v9/src/Concepts/Poster/Legend.styles.ts
  apps/public-docsite-v9/src/Concepts/Poster/Legend.tsx
  apps/public-docsite-v9/src/Concepts/Poster/OverviewCard.styles.ts
  apps/public-docsite-v9/src/Concepts/Poster/OverviewCard.tsx
  apps/public-docsite-v9/src/Concepts/Poster/PackageCard.styles.ts
  apps/public-docsite-v9/src/Concepts/Poster/PackageCard.tsx
  apps/public-docsite-v9/src/Concepts/Poster/Poster.styles.ts
  apps/public-docsite-v9/src/Concepts/Poster/Poster.tsx
  apps/public-docsite-v9/src/Concepts/components/WhatsNewBoxes.styles.ts
  apps/public-docsite-v9/src/Concepts/components/WhatsNewBoxes.tsx
  apps/public-docsite-v9/src/DocsComponents/FluentDocsPage.stories.tsx
  apps/public-docsite-v9/src/shims/ThemeShim/v8ThemeShim.ts
  apps/recipes-react-components/.eslintrc.json
  apps/vr-tests-react-components/.eslintrc.json
  change/@fluentui-eslint-plugin-73639e9c-102a-479c-8435-a75b864c0c28.json
  change/@fluentui-react-components-9b96e607-aa87-4027-80c1-99d596962d0f.json
  change/@fluentui-react-drawer-d5f3923f-b3d7-4cbb-b309-9e093e473f1e.json
  change/@fluentui-react-virtualizer-e68e617e-9c6c-4efc-8750-278c9ae4c027.json
  packages/eslint-plugin/src/configs/react-config.js
  packages/react-components/react-components/src/Concepts/Icons/ReactIconGrid.tsx
  packages/react-components/react-drawer/src/components/DrawerFooter/DrawerFooter.tsx
  packages/react-components/react-drawer/src/components/DrawerFooter/index.ts
  packages/react-components/react-drawer/src/components/DrawerFooter/useDrawerFooterStyles.styles.ts
  packages/react-components/react-drawer/src/components/DrawerHeader/DrawerHeader.tsx
  packages/react-components/react-drawer/src/components/DrawerHeader/index.ts
  packages/react-components/react-drawer/src/components/DrawerHeader/useDrawerHeaderStyles.styles.ts
  packages/react-components/react-toast/src/components/Toast.styles.ts
  packages/react-components/react-toast/src/components/Toast.tsx
  packages/react-components/react-toast/src/components/Toaster.styles.ts
  packages/react-components/react-toast/src/components/Toaster.tsx
  packages/react-components/react-virtualizer/src/components/Virtualizer/Virtualizer.ts
  packages/react-components/react-virtualizer/src/components/Virtualizer/index.ts
  packages/react-components/react-virtualizer/src/components/Virtualizer/useVirtualizerStyles.styles.ts
  packages/react-components/react-virtualizer/src/components/VirtualizerScrollView/VirtualizerScrollView.ts
  packages/react-components/react-virtualizer/src/components/VirtualizerScrollView/index.ts
  packages/react-components/react-virtualizer/src/components/VirtualizerScrollView/useVirtualizerScrollViewStyles.styles.ts
  packages/react-components/react-virtualizer/src/components/VirtualizerScrollViewDynamic/VirtualizerScrollViewDynamic.ts
  packages/react-components/react-virtualizer/src/components/VirtualizerScrollViewDynamic/index.ts
  packages/react-components/react-virtualizer/src/components/VirtualizerScrollViewDynamic/useVirtualizerScrollViewDynamicStyles.styles.ts
  packages/react-components/theme-designer/.eslintrc.json
  scripts/tasks/src/babel.ts
Labels: Area: Build System

#28031 feat: Implement ToastTrigger component
  packages/react-components/react-toast/etc/react-toast.api.md
  packages/react-components/react-toast/package.json
  packages/react-components/react-toast/src/ToastTrigger.ts
  packages/react-components/react-toast/src/components/Toast.tsx
  packages/react-components/react-toast/src/components/ToastTrigger/ToastTrigger.test.tsx
  packages/react-components/react-toast/src/components/ToastTrigger/ToastTrigger.tsx
  packages/react-components/react-toast/src/components/ToastTrigger/ToastTrigger.types.ts
  packages/react-components/react-toast/src/components/ToastTrigger/__snapshots__/ToastTrigger.test.tsx.snap
  packages/react-components/react-toast/src/components/ToastTrigger/index.ts
  packages/react-components/react-toast/src/components/ToastTrigger/renderToastTrigger.tsx
  packages/react-components/react-toast/src/components/ToastTrigger/useToastTrigger.ts
  packages/react-components/react-toast/src/contexts/toastContext.tsx
  packages/react-components/react-toast/src/index.ts
  packages/react-components/react-toast/stories/Toast/DismissToastWithAction.stories.tsx
  packages/react-components/react-toast/stories/Toast/index.stories.tsx
Labels: Component: Toast

#27966 fix: createFocusOutlineStyle don't work with CSS variables
  change/@fluentui-react-card-126332c1-e2ea-4240-bec1-2d1b54240d28.json
  change/@fluentui-react-tabster-e08134a8-73c8-441b-8bd1-345e20b300a4.json
  packages/react-components/react-card/src/components/Card/useCardStyles.styles.ts
  packages/react-components/react-tabster/src/focus/createFocusOutlineStyle.ts
Labels: Type: Bug :bug:, Fluent UI react-components (v9)

#28044 Fix toolbar divider styles
  change/@fluentui-react-toolbar-cd3d2025-51f1-430b-b2b1-eaa3b885de3b.json
  packages/react-components/react-toolbar/src/components/ToolbarDivider/useToolbarDividerStyles.styles.ts
Labels: Component: Toolbar

#27380 feat(scripts): replace use of SWC CLI with SWC transform api
  package.json
  scripts/tasks/src/swc.ts
  yarn.lock
Labels: Area: Build System

#28051 Updated poster for new stable components
  apps/public-docsite-v9/src/Concepts/Poster/metadata.ts
Labels: Area: Website

#28053 fix(react-datepicker-compat): Remove focus function from the deps to avoid constant move of focus
  change/@fluentui-react-datepicker-compat-f276a459-aa9c-4f3b-bb52-ac556558e5ec.json
  packages/react-components/react-datepicker-compat/src/components/DatePicker/useDatePicker.tsx
Labels: Fluent UI react-components (v9), Component: DatePickerCompat

#28054 Export selection types from combobox
  change/@fluentui-react-combobox-05c147ce-b714-4845-8ccd-ec6268ba92cf.json
  packages/react-components/react-combobox/etc/react-combobox.api.md
  packages/react-components/react-combobox/src/Selection.ts
  packages/react-components/react-combobox/src/index.ts
Labels: Component: ComboBox

#27859 Added truncation and tooltips to the Breadcrumb
  packages/react-components/react-breadcrumb/etc/react-breadcrumb.api.md
  packages/react-components/react-breadcrumb/src/index.ts
  packages/react-components/react-breadcrumb/src/utils/index.ts
  packages/react-components/react-breadcrumb/src/utils/truncateBreadcrumb.test.ts
  packages/react-components/react-breadcrumb/src/utils/truncateBreadcrumb.ts
  packages/react-components/react-breadcrumb/stories/BreadcrumbItem/BreadcrumbItemDefault.stories.tsx
Labels: Type: Feature, Component: Breadcrumb

#28039 feat: Implement Toaster according to composition API
  packages/react-components/react-toast/etc/react-toast.api.md
  packages/react-components/react-toast/src/Toaster.ts
  packages/react-components/react-toast/src/components/Toast.styles.ts
  packages/react-components/react-toast/src/components/Toaster.styles.ts
  packages/react-components/react-toast/src/components/Toaster.tsx
  packages/react-components/react-toast/src/components/Toaster/Toaster.test.tsx
  packages/react-components/react-toast/src/components/Toaster/Toaster.tsx
  packages/react-components/react-toast/src/components/Toaster/Toaster.types.ts
  packages/react-components/react-toast/src/components/Toaster/__snapshots__/Toaster.test.tsx.snap
  packages/react-components/react-toast/src/components/Toaster/index.ts
  packages/react-components/react-toast/src/components/Toaster/renderToaster.tsx
  packages/react-components/react-toast/src/components/Toaster/useToaster.tsx
  packages/react-components/react-toast/src/components/Toaster/useToasterStyles.styles.ts
  packages/react-components/react-toast/src/index.ts
  packages/react-components/react-toast/src/state/constants.ts
  packages/react-components/react-toast/src/state/index.ts
  packages/react-components/react-toast/src/state/useToaster.ts
  packages/react-components/react-toast/stories/Toast/CustomAnnounce.stories.tsx
  packages/react-components/react-toast/stories/Toast/index.stories.tsx
Labels: Component: Toast

#28074 Updated migration documentation
  apps/public-docsite-v9/src/Concepts/Migration/KeepingDesignConsistent.stories.mdx
Labels: Area: Website

#28050 chore: Create react-colorpicker-compat package
  .github/CODEOWNERS
  packages/react-components/react-colorpicker-compat/.babelrc.json
  packages/react-components/react-colorpicker-compat/.eslintrc.json
  packages/react-components/react-colorpicker-compat/.npmignore
  packages/react-components/react-colorpicker-compat/.swcrc
  packages/react-components/react-colorpicker-compat/LICENSE
  packages/react-components/react-colorpicker-compat/README.md
  packages/react-components/react-colorpicker-compat/config/api-extractor.json
  packages/react-components/react-colorpicker-compat/config/tests.js
  packages/react-components/react-colorpicker-compat/docs/Spec.md
  packages/react-components/react-colorpicker-compat/etc/react-colorpicker-compat.api.md
  packages/react-components/react-colorpicker-compat/jest.config.js
  packages/react-components/react-colorpicker-compat/just.config.ts
  packages/react-components/react-colorpicker-compat/package.json
  packages/react-components/react-colorpicker-compat/src/index.ts
  packages/react-components/react-colorpicker-compat/tsconfig.json
  packages/react-components/react-colorpicker-compat/tsconfig.lib.json
  packages/react-components/react-colorpicker-compat/tsconfig.spec.json
  tsconfig.base.all.json
  tsconfig.base.json
  workspace.json
Labels: Area: Components, Component: ColorPickerCompat

#28071 chore(react-infobutton): Add InfoTip component scaffold
  change/@fluentui-react-infobutton-674485ad-8621-45a2-92ab-bc4d3a6b9004.json
  packages/react-components/react-infobutton/etc/react-infobutton.api.md
  packages/react-components/react-infobutton/src/InfoTip.ts
  packages/react-components/react-infobutton/src/components/InfoTip/InfoTip.test.tsx
  packages/react-components/react-infobutton/src/components/InfoTip/InfoTip.tsx
  packages/react-components/react-infobutton/src/components/InfoTip/InfoTip.types.ts
  packages/react-components/react-infobutton/src/components/InfoTip/__snapshots__/InfoTip.test.tsx.snap
  packages/react-components/react-infobutton/src/components/InfoTip/index.ts
  packages/react-components/react-infobutton/src/components/InfoTip/renderInfoTip.tsx
  packages/react-components/react-infobutton/src/components/InfoTip/useInfoTip.ts
  packages/react-components/react-infobutton/src/components/InfoTip/useInfoTipStyles.styles.ts
  packages/react-components/react-infobutton/src/index.ts
  packages/react-components/react-infobutton/stories/InfoTip/InfoTipBestPractices.md
  packages/react-components/react-infobutton/stories/InfoTip/InfoTipDefault.stories.tsx
  packages/react-components/react-infobutton/stories/InfoTip/InfoTipDescription.md
  packages/react-components/react-infobutton/stories/InfoTip/index.stories.tsx
Labels: Component: InfoTip

#28085 fix: broken master branch
  packages/react-components/react-colorpicker-compat/package.json
Labels: Area: Build System

#28088 chore: Updating v0 to v9 Button migration docs to remove reference to non-existent block prop
  apps/public-docsite-v9/src/Concepts/Migration/FromV0/Components/Button.stories.mdx
Labels: Area: Documentation, Component: Button, Area: Website, Fluent UI react-components (v9), Package: migration
