Repository microsoft/fluentui, pull requests merged in 2023-07, with the labels that each got.

#28412 MenuItem: updated styles for disabled state
  change/@fluentui-react-menu-9df216cb-9a9b-4732-b0ef-3618ed48c759.json
  packages/react-components/react-menu/src/components/MenuItem/useMenuItemStyles.styles.ts
Labels: Component: Menu

#28375 docs(react-dialog): improves lazy loading content docs
  packages/react-components/react-dialog/stories/Dialog/DialogNoFocusableElement.md
Labels: Area: Documentation, Component: Dialog, Fluent UI react-components (v9)

#28379 docs(react-tree): improves virtualization documentation
  packages/react-components/react-tree/stories/D_flatTree/Virtualization.md
  packages/react-components/react-tree/stories/D_flatTree/Virtualization.stories.tsx
Labels: Area: Documentation, Fluent UI react-components (v9), Component: Tree

#28425 test(tools): add more test for v9 packages with v8,v0 deps
  tools/generators/dependency-mismatch/index.spec.ts
Labels: Area: Build System

#28382 feat(tools): implement normalize-package-dependencies generator
  tools/generators/normalize-package-dependencies/README.md
  tools/generators/normalize-package-dependencies/index.spec.ts
  tools/generators/normalize-package-dependencies/index.ts
  tools/generators/normalize-package-dependencies/lib/.gitkeep
  tools/generators/normalize-package-dependencies/schema.json
  tools/generators/normalize-package-dependencies/schema.ts
Labels: Area: Build System, NX: workspace generators

#28407 docs(public-docsite): Add banner to controls page
  apps/public-docsite/src/pages/Overviews/ControlsPage/ControlsPage.tsx
Labels: Area: Website

#28413 Menu: exported useOnMenuMouseEnter
  change/@fluentui-react-menu-e8a97c97-537a-4d76-8cec-5a8e3ecb2c48.json
  packages/react-components/react-menu/etc/react-menu.api.md
  packages/react-components/react-menu/src/index.ts
  packages/react-components/react-menu/src/utils/useOnMenuEnter.ts
Labels: Component: Menu

#28445 fix: FlexItem Migration example
  apps/public-docsite-v9/src/Concepts/Migration/FromV0/Components/FlexItem.stories.mdx
Labels: Area: Website

#25333 RFC: Custom styling
  rfcs/react-components/convergence/custom-styling.md
Labels: Type: RFC

#28458 fix(react-datepicker-compat, Calendar): Add hover styles for gototoday button
  change/@fluentui-react-1bfa8a90-561a-4e64-8e83-a3c136b5cefc.json
  change/@fluentui-react-datepicker-compat-b135d6a8-684d-4397-b4d6-66c1c7591b68.json
  packages/react-components/react-datepicker-compat/src/components/Calendar/useCalendarStyles.styles.ts
  packages/react/src/components/Calendar/Calendar.styles.ts
Labels: Component: Calendar

#28299 breaking(react-datepicker-compat): Remove componentRef since it's no longer necessary, fix ref forwarding, and fix focus movement when closing/opening popup
  change/@fluentui-react-datepicker-compat-29b1faa0-25ce-495b-ac31-4c60408a64e6.json
  packages/react-components/react-datepicker-compat/etc/react-datepicker-compat.api.md
  packages/react-components/react-datepicker-compat/src/components/DatePicker/DatePicker.cy.tsx
  packages/react-components/react-datepicker-compat/src/components/DatePicker/DatePicker.test.tsx
  packages/react-components/react-datepicker-compat/src/components/DatePicker/DatePicker.types.ts
  packages/react-components/react-datepicker-compat/src/components/DatePicker/useDatePicker.tsx
  packages/react-components/react-datepicker-compat/src/index.ts
  packages/react-components/react-datepicker-compat/stories/DatePicker/DatePickerCustomDateFormatting.stories.tsx
Labels: Component: DatePickerCompat

#28430 feat(tools): remove configuration filters and apply workspace dependency rules automatically withn normalize-package-dependencies generator
  tools/generators/normalize-package-dependencies/README.md
  tools/generators/normalize-package-dependencies/index.spec.ts
  tools/generators/normalize-package-dependencies/index.ts
  tools/generators/normalize-package-dependencies/schema.json
  tools/generators/normalize-package-dependencies/schema.ts
Labels: Area: Build System

#28460 chore: migrate to 0.x.x versioning scheme for tooling v9(private) packages
  apps/public-docsite-v9/package.json
  apps/public-docsite-v9/project.json
  apps/recipes-react-components/package.json
  apps/vr-tests-react-components/package.json
  apps/vr-tests-react-components/project.json
  change/@fluentui-react-conformance-griffel-1c190887-e444-46e6-824d-58871c51f4ae.json
  packages/react-components/react-conformance-griffel/package.json
  packages/react-components/react-storybook-addon-codesandbox/package.json
  packages/react-components/react-storybook-addon/package.json
  packages/react-components/theme-designer/package.json
  packages/storybook/project.json
Labels: Area: Build System, Fluent UI react-components (v9), dependencies

#28192 Fixing re-render issue for empty vertical bar charts
  change/@fluentui-react-charting-66c2158f-82d0-4dfe-981f-6faaf469f0a4.json
  packages/react-charting/src/components/VerticalBarChart/VerticalBarChart.base.tsx
  packages/react-charting/src/components/VerticalBarChart/VerticalBarChart.test.tsx
  packages/react-charting/src/components/VerticalBarChart/VerticalBarChartRTL.test.tsx
  packages/react-charting/src/components/VerticalBarChart/__snapshots__/VerticalBarChartRTL.test.tsx.snap
Labels: Package: charting

#28013 Vertical Bar Chart - Component tests
  change/@fluentui-react-charting-1ff12240-f722-4a36-a1d7-9aa7f5fcd495.json
  packages/react-charting/docs/TestPlans/TestingGuide.md
  packages/react-charting/docs/TestPlans/VerticalBarChart/ComponentTests.md
  packages/react-charting/package.json
  packages/react-charting/src/components/VerticalBarChart/VerticalBarChart.base.tsx
  packages/react-charting/src/components/VerticalBarChart/VerticalBarChartRTL.test.tsx
  packages/react-charting/src/components/VerticalBarChart/__snapshots__/VerticalBarChart.test.tsx.snap
  packages/react-charting/src/components/VerticalBarChart/__snapshots__/VerticalBarChartRTL.test.tsx.snap
  packages/react-charting/src/utilities/TestUtility.tsx
Labels: Package: charting

#28483 feat(tools): update/verify packages that changed versioning approach from pre-release to standard to accommodate proper dependency definitions
  tools/generators/normalize-package-dependencies/index.spec.ts
  tools/generators/normalize-package-dependencies/index.ts
Labels: Area: Build System, NX: workspace generators

#28492 chore: move slots back to TreeItem and creates slot context
  change/@fluentui-react-tree-1c832b76-193f-45ac-a4a1-6241a3627f1c.json
  packages/react-components/react-tree/etc/react-tree.api.md
  packages/react-components/react-tree/src/components/Tree/Tree.cy.tsx
  packages/react-components/react-tree/src/components/TreeItem/TreeItem.types.ts
  packages/react-components/react-tree/src/components/TreeItem/renderTreeItem.tsx
  packages/react-components/react-tree/src/components/TreeItem/useTreeItem.tsx
  packages/react-components/react-tree/src/components/TreeItem/useTreeItemContextValues.ts
  packages/react-components/react-tree/src/components/TreeItem/useTreeItemStyles.styles.ts
  packages/react-components/react-tree/src/components/TreeItemLayout/TreeItemLayout.test.tsx
  packages/react-components/react-tree/src/components/TreeItemLayout/TreeItemLayout.types.ts
  packages/react-components/react-tree/src/components/TreeItemLayout/renderTreeItemLayout.tsx
  packages/react-components/react-tree/src/components/TreeItemLayout/useTreeItemLayout.ts
  packages/react-components/react-tree/src/components/TreeItemLayout/useTreeItemLayout.tsx
  packages/react-components/react-tree/src/components/TreeItemLayout/useTreeItemLayoutStyles.styles.ts
  packages/react-components/react-tree/src/components/TreeItemPersonaLayout/TreeItemPersonaLayout.test.tsx
  packages/react-components/react-tree/src/components/TreeItemPersonaLayout/TreeItemPersonaLayout.types.ts
  packages/react-components/react-tree/src/components/TreeItemPersonaLayout/renderTreeItemPersonaLayout.tsx
  packages/react-components/react-tree/src/components/TreeItemPersonaLayout/useTreeItemPersonaLayout.ts
  packages/react-components/react-tree/src/components/TreeItemPersonaLayout/useTreeItemPersonaLayoutStyles.styles.ts
  packages/react-components/react-tree/src/contexts/index.ts
  packages/react-components/react-tree/src/contexts/treeItemContext.ts
  packages/react-components/react-tree/src/contexts/treeItemSlotsContext.ts
  packages/react-components/react-tree/stories/B_TreeItem/TreeItemActions.stories.tsx
  packages/react-components/react-tree/stories/B_TreeItem/TreeItemExpandIcon.stories.tsx
  packages/react-components/react-tree/stories/C_Layouts/LayoutsDefault.stories.tsx
  packages/react-components/react-tree/stories/C_Layouts/TreeItemLayout.stories.tsx
  packages/react-components/react-tree/stories/C_Layouts/TreeItemLayoutAside.stories.tsx
  packages/react-components/react-tree/stories/C_Layouts/TreeItemPersonaLayout.stories.tsx
  packages/react-components/react-tree/stories/C_Layouts/TreeItemPersonaLayoutReadUnread.stories.tsx
  packages/react-components/react-tree/stories/D_flatTree/TreeItemAddRemove.stories.tsx
  packages/react-components/react-tree/stories/D_flatTree/TreeLazyLoading.stories.tsx
Labels: Fluent UI react-components (v9), Component: Tree

#28491 chore: openItems property added to TreeOpenChangeData + minor internal improvements
  change/@fluentui-react-tree-aeacc4f5-82c2-4e59-b8bb-a1a28a912247.json
  packages/react-components/react-tree/etc/react-tree.api.md
  packages/react-components/react-tree/src/components/Tree/Tree.types.ts
  packages/react-components/react-tree/src/components/Tree/useRootTree.ts
  packages/react-components/react-tree/src/components/TreeItem/useTreeItem.tsx
  packages/react-components/react-tree/src/contexts/treeContext.ts
  packages/react-components/react-tree/src/hooks/index.ts
  packages/react-components/react-tree/src/hooks/useControllableOpenItems.ts
  packages/react-components/react-tree/src/hooks/useFlatTree.ts
  packages/react-components/react-tree/src/hooks/useOpenItemsState.ts
  packages/react-components/react-tree/src/index.ts
  packages/react-components/react-tree/src/testing/flattenTreeFromElement.ts
  packages/react-components/react-tree/src/utils/ImmutableSet.ts
  packages/react-components/react-tree/src/utils/createFlatTreeItems.ts
  packages/react-components/react-tree/src/utils/flattenTree.ts
  packages/react-components/react-tree/stories/A_Tree/TreeControllingOpenAndClose.stories.tsx
  packages/react-components/react-tree/stories/B_TreeItem/TreeItemExpandIcon.stories.tsx
  packages/react-components/react-tree/stories/D_flatTree/TreeItemAddRemove.stories.tsx
  packages/react-components/react-tree/stories/D_flatTree/flattenTree.stories.tsx
Labels: Fluent UI react-components (v9), Component: Tree

#28486 Fix contrast issues in V8 Fluent2 Dark Theme
  change/@fluentui-fluent2-theme-ef95a929-6b64-477a-a5b8-9a5b59e53221.json
  packages/fluent2-theme/src/componentStyles/Button.styles.ts
  packages/fluent2-theme/src/fluent2WebDarkTheme.ts
Labels: Area: Accessibility, Area: Theming

#27721 [2 of N] Changes for Making first render cycle faster and fixing test cases
  change/@fluentui-react-charting-bda51650-008f-417c-ab0d-62e7dd4a22fd.json
  packages/react-charting/src/components/AreaChart/AreaChart.base.tsx
  packages/react-charting/src/components/AreaChart/AreaChart.test.tsx
  packages/react-charting/src/components/AreaChart/__snapshots__/AreaChart.test.tsx.snap
  packages/react-charting/src/components/CommonComponents/CartesianChart.base.tsx
  packages/react-charting/src/components/CommonComponents/CartesianChart.types.ts
  packages/react-charting/src/components/GroupedVerticalBarChart/GroupedVerticalBarChart.test.tsx
  packages/react-charting/src/components/GroupedVerticalBarChart/__snapshots__/GroupedVerticalBarChart.test.tsx.snap
  packages/react-charting/src/components/HeatMapChart/HeatMapChart.test.tsx
  packages/react-charting/src/components/HeatMapChart/__snapshots__/HeatMapChart.test.tsx.snap
  packages/react-charting/src/components/LineChart/LineChart.base.tsx
  packages/react-charting/src/components/LineChart/LineChart.test.tsx
  packages/react-charting/src/components/LineChart/LineChart.types.ts
  packages/react-charting/src/components/LineChart/__snapshots__/LineChart.test.tsx.snap
  packages/react-examples/src/react-charting/LineChart/LineChart.Basic.Example.tsx
  packages/react-examples/src/react-charting/LineChart/LineChart.CustomAccessibility.Example.tsx
  packages/react-examples/src/react-charting/LineChart/LineChart.CustomLocaleDateAxis.Example.tsx
  packages/react-examples/src/react-charting/LineChart/LineChart.Events.Example.tsx
  packages/react-examples/src/react-charting/LineChart/LineChart.Gaps.Example.tsx
  packages/react-examples/src/react-charting/LineChart/LineChart.LargeData.Example.tsx
  packages/react-examples/src/react-charting/LineChart/LineChart.Multiple.Example.tsx
  packages/react-examples/src/react-charting/LineChart/LineChart.Styled.Example.tsx
Labels: Package: charting

#28517 fix(react-card): use resolved slot instead of raw prop object
  change/@fluentui-react-card-d34069cc-ff5d-43bc-b4c5-8e199f94b5ed.json
  packages/react-components/react-card/src/components/CardHeader/useCardHeader.ts
Labels: Component: Card

#28409 fix: Pivot overflow role uses tab
  change/@fluentui-react-c502b5d8-9ae6-45d0-bf60-6e087207129c.json
  packages/react/src/components/Pivot/Pivot.base.tsx
  packages/react/src/components/Pivot/__snapshots__/Pivot.test.tsx.snap
Labels: Component: Pivot

#28463 fix(react-infobutton): Apply aria-owns only when the popover is open and cleanup infobutton stories
  change/@fluentui-react-infobutton-1b09e7d8-69ff-4983-9b7c-420f583f8d73.json
  packages/react-components/react-infobutton/src/components/InfoLabel/InfoLabel.test.tsx
  packages/react-components/react-infobutton/src/components/InfoLabel/useInfoLabel.ts
  packages/react-components/react-infobutton/stories/InfoButton/InfoButtonDefault.stories.tsx
  packages/react-components/react-infobutton/stories/InfoButton/InfoButtonSize.stories.tsx
Labels: Component: InfoButton, Component: InfoIcon

#28402 feat: release react-breadcrumb to preview
  apps/public-docsite-v9/.storybook/main.js
  apps/public-docsite-v9/package.json
  change/@fluentui-react-breadcrumb-preview-dcf7332b-26ee-48a7-a554-7ade059bb2a2.json
  scripts/storybook/src/utils.js
Labels: Component: Breadcrumb

#28505 feat(tools): implement `prepare-initial-release` generator
  package.json
  tools/generators/prepare-initial-release/README.md
  tools/generators/prepare-initial-release/index.spec.ts
  tools/generators/prepare-initial-release/index.ts
  tools/generators/prepare-initial-release/lib/.gitkeep
  tools/generators/prepare-initial-release/schema.json
  tools/generators/prepare-initial-release/schema.ts
  tools/utils.ts
  yarn.lock
Labels: Area: Build System, Fluent UI react-components (v9), NX: workspace generators

#28510 X bars showing incorrect data when the values are large- bug 8380
  change/@fluentui-react-charting-23ac9e54-88e2-456f-abde-468868ed7d1a.json
  packages/react-charting/src/components/HorizontalBarChartWithAxis/HorizontalBarChartWithAxis.base.tsx
Labels: Package: charting

#28549 Made Breadcrumb package public
  change/@fluentui-react-breadcrumb-preview-be8f78cc-fcc3-43d5-94b2-da09d77a36c3.json
  packages/react-components/react-breadcrumb-preview/package.json
Labels: Component: Breadcrumb

#28249 feat: add extra-tiny size value to size prop
  apps/vr-tests-react-components/src/stories/Spinner.stories.tsx
  change/@fluentui-react-spinner-9496bc33-4385-4b1b-9f2d-c66f178d2355.json
  packages/react-components/react-spinner/etc/react-spinner.api.md
  packages/react-components/react-spinner/src/components/Spinner/Spinner.types.ts
  packages/react-components/react-spinner/src/components/Spinner/useSpinner.tsx
  packages/react-components/react-spinner/src/components/Spinner/useSpinnerStyles.styles.ts
  packages/react-components/react-spinner/src/contexts/SpinnerContext.ts
  packages/react-components/react-spinner/src/contexts/index.ts
  packages/react-components/react-spinner/src/index.ts
  packages/react-components/react-spinner/stories/Spinner/SpinnerSize.stories.tsx
Labels: Component: Spinner, Component: Toast

#28528 feat: automatically add v9 package stories to public docsite and correctly create codesandbox demo source code
  apps/public-docsite-v9/.storybook/main.js
  scripts/storybook/src/rules.spec.ts
  scripts/storybook/src/utils.js
Labels: Area: Build System, Fluent UI react-components (v9), Storybook

#28545 ci(bundlesize): opt out using --since as lightrail doesnt support this behaviour and needs everything build on every PR
  azure-pipelines.bundlesize.yml
Labels: Area: Build System, Fluent UI react-northstar (v0), Fluent UI react (v8), CI

#28500 fix(web-components): add check in toggle button to ensure setAttribute is not called before connectedCallback
  change/@fluentui-web-components-ce49d0a8-e88e-4b52-81ed-24d9badc8cab.json
  packages/web-components/src/toggle-button/toggle-button.ts
Labels: web-components

#28499 chore: Exporting MENU_ENTER_EVENT and dispatchMenuEnterEvent utilities from @fluentui/react-menu
  change/@fluentui-react-menu-f1d69af6-f08c-4798-9e3e-f6b558ea2553.json
  packages/react-components/react-menu/etc/react-menu.api.md
  packages/react-components/react-menu/src/index.ts
  packages/react-components/react-menu/src/utils/useOnMenuEnter.ts
Labels: Fluent UI react-components (v9), Component: Menu

#28440 Updating status bar values
  change/@fluentui-azure-themes-ebf457c8-3a67-4f54-8eb2-86c27a79810f.json
  packages/azure-themes/src/azure/AzureColors.ts
  packages/azure-themes/src/azure/AzureThemeDark.ts
  packages/azure-themes/src/azure/AzureThemeHighContrastDark.ts
  packages/azure-themes/src/azure/AzureThemeHighContrastLight.ts
  packages/azure-themes/src/azure/AzureThemeLight.ts
  packages/azure-themes/src/azure/IAzureSemanticColors.ts
  packages/azure-themes/src/azure/IExtendedSemanticColors.ts
Labels: Package: azure-themes

#28560 feat(tools): implement react-component generator
  tools/generators/react-component/README.md
  tools/generators/react-component/files/component/__componentName__.test.tsx__tmpl__
  tools/generators/react-component/files/component/__componentName__.tsx__tmpl__
  tools/generators/react-component/files/component/__componentName__.types.ts__tmpl__
  tools/generators/react-component/files/component/index.ts__tmpl__
  tools/generators/react-component/files/component/render__componentName__.tsx__tmpl__
  tools/generators/react-component/files/component/use__componentName__.ts__tmpl__
  tools/generators/react-component/files/component/use__componentName__Styles.styles.ts__tmpl__
  tools/generators/react-component/files/story/__componentName__BestPractices.md__tmpl__
  tools/generators/react-component/files/story/__componentName__Default.stories.tsx__tmpl__
  tools/generators/react-component/files/story/__componentName__Description.md__tmpl__
  tools/generators/react-component/files/story/index.stories.tsx__tmpl__
  tools/generators/react-component/index.spec.ts
  tools/generators/react-component/index.ts
  tools/generators/react-component/lib/.gitkeep
  tools/generators/react-component/schema.json
  tools/generators/react-component/schema.ts
Labels: Fluent UI react-components (v9), NX: workspace generators

#28550 feat(tools): implement react-library generator
  tools/STYLE-GUIDE.md
  tools/generators/react-library/README.md
  tools/generators/react-library/files/.babelrc.json__tmpl__
  tools/generators/react-library/files/.eslintrc.json__tmpl__
  tools/generators/react-library/files/.npmignore__tmpl__
  tools/generators/react-library/files/.storybook/main.js__tmpl__
  tools/generators/react-library/files/.storybook/preview.js__tmpl__
  tools/generators/react-library/files/.storybook/tsconfig.json__tmpl__
  tools/generators/react-library/files/.swcrc__tmpl__
  tools/generators/react-library/files/LICENSE__tmpl__
  tools/generators/react-library/files/README.md__tmpl__
  tools/generators/react-library/files/config/api-extractor.json__tmpl__
  tools/generators/react-library/files/config/tests.js__tmpl__
  tools/generators/react-library/files/docs/Spec.md__tmpl__
  tools/generators/react-library/files/etc/__packageName__.api.md
  tools/generators/react-library/files/jest.config.js__tmpl__
  tools/generators/react-library/files/just.config.ts__tmpl__
  tools/generators/react-library/files/package.json__tmpl__
  tools/generators/react-library/files/src/index.ts__tmpl__
  tools/generators/react-library/files/src/testing/isConformant.ts__tmpl__
  tools/generators/react-library/files/stories/.gitkeep
  tools/generators/react-library/files/tsconfig.json__tmpl__
  tools/generators/react-library/files/tsconfig.lib.json__tmpl__
  tools/generators/react-library/files/tsconfig.spec.json__tmpl__
  tools/generators/react-library/index.spec.ts
  tools/generators/react-library/index.ts
  tools/generators/react-library/lib/.gitkeep
  tools/generators/react-library/schema.json
  tools/generators/react-library/schema.ts
Labels: Fluent UI react-components (v9), NX: workspace generators

#28584 fix(scripts-beachball): dont override */9.0-alpha versions specified within apps during release
  apps/perf-test-react-components/package.json
  apps/vr-tests-react-components/package.json
  scripts/beachball/shared.config.ts
Labels: Area: Build System, Priority 1: High, CI

#27156 chore: update Spinner and ProgressBar vr-tests to use PauseAnimation
  apps/vr-tests-react-components/src/stories/ProgressBar.stories.tsx
  apps/vr-tests-react-components/src/stories/Skeleton.stories.tsx
  apps/vr-tests-react-components/src/stories/Spinner.stories.tsx
  apps/vr-tests-react-components/src/utilities/TestWrapperDecorator.tsx
Labels: Area: Testing

#28135 FAST #5856 for wc - rows/cols for fluent-text-area
  change/@fluentui-web-components-c8b4d98c-6c11-4728-b8db-a5e5e77f78da.json
  packages/web-components/docs/api-report.md
  packages/web-components/src/divider/divider.stories.ts
  packages/web-components/src/divider/divider.styles.ts
  packages/web-components/src/text-area/fixtures/text-area.html
  packages/web-components/src/text-area/text-area.stories.ts
  packages/web-components/src/text-area/text-area.styles.ts
Labels: web-components

#28579 bugfix: moves handleBackdropClick from defaultProps to an override
  change/@fluentui-react-dialog-b94a462e-5c88-4181-a8b8-3f1aa9068b92.json
  packages/react-components/react-dialog/src/components/DialogSurface/useDialogSurface.ts
Labels: Component: Dialog, Fluent UI react-components (v9)

#28497 feat: implements selection
  change/@fluentui-react-tree-322a0d03-169c-4ca6-9fba-65de83877ac2.json
  packages/react-components/react-tree/etc/react-tree.api.md
  packages/react-components/react-tree/package.json
  packages/react-components/react-tree/src/components/Tree/Tree.test.tsx
  packages/react-components/react-tree/src/components/Tree/Tree.types.ts
  packages/react-components/react-tree/src/components/Tree/useRootTree.ts
  packages/react-components/react-tree/src/components/Tree/useSubtree.ts
  packages/react-components/react-tree/src/components/Tree/useTreeContextValues.ts
  packages/react-components/react-tree/src/components/TreeItem/TreeItem.types.ts
  packages/react-components/react-tree/src/components/TreeItem/useTreeItem.tsx
  packages/react-components/react-tree/src/components/TreeItem/useTreeItemContextValues.ts
  packages/react-components/react-tree/src/components/TreeItemLayout/TreeItemLayout.test.tsx
  packages/react-components/react-tree/src/components/TreeItemLayout/TreeItemLayout.types.ts
  packages/react-components/react-tree/src/components/TreeItemLayout/renderTreeItemLayout.tsx
  packages/react-components/react-tree/src/components/TreeItemLayout/useTreeItemLayout.ts
  packages/react-components/react-tree/src/components/TreeItemLayout/useTreeItemLayoutStyles.styles.ts
  packages/react-components/react-tree/src/contexts/treeContext.ts
  packages/react-components/react-tree/src/contexts/treeItemSlotsContext.ts
  packages/react-components/react-tree/src/hooks/index.ts
  packages/react-components/react-tree/src/hooks/useFlatControllableCheckedItems.ts
  packages/react-components/react-tree/src/hooks/useFlatTree.ts
  packages/react-components/react-tree/src/hooks/useNestedControllableCheckedItems.ts
  packages/react-components/react-tree/src/index.ts
  packages/react-components/react-tree/src/utils/ImmutableMap.ts
  packages/react-components/react-tree/src/utils/ImmutableSet.ts
  packages/react-components/react-tree/src/utils/createFlatTreeItems.ts
  packages/react-components/react-tree/src/utils/tokens.ts
  packages/react-components/react-tree/stories/A_Tree/TreeMultipleSelection.stories.tsx
  packages/react-components/react-tree/stories/A_Tree/TreeSingleSelection.stories.tsx
  packages/react-components/react-tree/stories/A_Tree/index.stories.tsx
  packages/react-components/react-tree/stories/D_flatTree/TreeMultiSelection.md
  packages/react-components/react-tree/stories/D_flatTree/TreeMultiSelection.stories.tsx
  packages/react-components/react-tree/stories/D_flatTree/TreeSingleSelection.md
  packages/react-components/react-tree/stories/D_flatTree/TreeSingleSelection.stories.tsx
  packages/react-components/react-tree/stories/D_flatTree/index.stories.tsx
Labels: Fluent UI react-components (v9), Component: Tree

#28599 fix(react-conformance): add @swc/helpers to deps instead of tslib as we use swc for transpilation
  change/@fluentui-react-conformance-f6f452eb-ff7e-4715-918a-4a62a51a7e40.json
  packages/react-conformance/package.json
Labels: Fluent UI react-components (v9), dependencies

#28493 Table/DataGrid: keyboard resizing improvements
  apps/vr-tests-react-components/src/stories/Table.stories.tsx
  change/@fluentui-react-table-94e2effa-fa5b-4373-bad4-d0e624254f22.json
  packages/react-components/react-table/src/components/TableHeaderCell/useTableHeaderCellStyles.styles.ts
  packages/react-components/react-table/src/components/TableResizeHandle/useTableResizeHandleStyles.styles.ts
  packages/react-components/react-table/src/hooks/useKeyboardResizing.ts
  packages/react-components/react-table/src/hooks/useTableColumnSizing.test.ts
  packages/react-components/react-table/src/hooks/useTableColumnSizing.tsx
  packages/react-components/react-table/stories/DataGrid/KeyboardColumnResizing.stories.tsx
  packages/react-components/react-table/stories/DataGrid/ResizableColumns.stories.tsx
  packages/react-components/react-table/stories/DataGrid/index.stories.tsx
  packages/react-components/react-table/stories/Table/KeyboardColumnResizing.stories.tsx
  packages/react-components/react-table/stories/Table/ResizableColumnsControlled.stories.tsx
  packages/react-components/react-table/stories/Table/ResizableColumnsUncontrolled.stories.tsx
  packages/react-components/react-table/stories/Table/index.stories.tsx
Labels: Area: Accessibility, Component: DataGrid

#28597 perf(tools): make dependency-mismatch execution 90% faster and ignore */>=9.0.0-alpha versions
  scripts/beachball/shared.config.ts
  tools/generators/dependency-mismatch/index.spec.ts
  tools/generators/dependency-mismatch/index.ts
  tools/utils.ts
Labels: Area: Build System, NX: workspace generators

#28561 feat(tools): re-generate react-components.api.md when preparing 1st stable release
  tools/generators/prepare-initial-release/index.spec.ts
  tools/generators/prepare-initial-release/index.ts
Labels: Fluent UI react-components (v9), NX: workspace generators

#27784 fix: Datepicker renders input description if inputProps.onRenderDescription is set
  change/@fluentui-react-75983ba2-b5ea-4e4e-9578-6fc0293ce309.json
  packages/react/src/components/DatePicker/DatePicker.base.tsx
Labels: Component: DatePicker

#28515 fixed the keyboard accessibiilty bug in area chart on legend click
  change/@fluentui-react-charting-3d67e251-87ae-44ec-a533-cbc4bfeffa97.json
  packages/react-charting/src/components/AreaChart/AreaChart.base.tsx
  packages/react-charting/src/components/AreaChart/__snapshots__/AreaChart.test.tsx.snap
  packages/react-charting/src/components/LineChart/LineChart.base.tsx
  packages/react-charting/src/components/LineChart/__snapshots__/LineChart.test.tsx.snap
Labels: Package: charting

#28621 chore: moves slots from TreeItem to TreeItemLayout
  change/@fluentui-react-tree-977289b7-1256-4054-948b-aa984f37e4c2.json
  packages/react-components/react-tree/etc/react-tree.api.md
  packages/react-components/react-tree/src/components/FlatTree/FlatTree.cy.tsx
  packages/react-components/react-tree/src/components/Tree/Tree.cy.tsx
  packages/react-components/react-tree/src/components/TreeItem/TreeItem.types.ts
  packages/react-components/react-tree/src/components/TreeItem/renderTreeItem.tsx
  packages/react-components/react-tree/src/components/TreeItem/useTreeItem.tsx
  packages/react-components/react-tree/src/components/TreeItem/useTreeItemContextValues.ts
  packages/react-components/react-tree/src/components/TreeItem/useTreeItemStyles.styles.ts
  packages/react-components/react-tree/src/components/TreeItemLayout/TreeItemLayout.test.tsx
  packages/react-components/react-tree/src/components/TreeItemLayout/TreeItemLayout.types.ts
  packages/react-components/react-tree/src/components/TreeItemLayout/renderTreeItemLayout.tsx
  packages/react-components/react-tree/src/components/TreeItemLayout/useTreeItemLayout.ts
  packages/react-components/react-tree/src/components/TreeItemLayout/useTreeItemLayout.tsx
  packages/react-components/react-tree/src/components/TreeItemLayout/useTreeItemLayoutStyles.styles.ts
  packages/react-components/react-tree/src/components/TreeItemPersonaLayout/TreeItemPersonaLayout.test.tsx
  packages/react-components/react-tree/src/components/TreeItemPersonaLayout/TreeItemPersonaLayout.types.ts
  packages/react-components/react-tree/src/components/TreeItemPersonaLayout/renderTreeItemPersonaLayout.tsx
  packages/react-components/react-tree/src/components/TreeItemPersonaLayout/useTreeItemPersonaLayout.ts
  packages/react-components/react-tree/src/components/TreeItemPersonaLayout/useTreeItemPersonaLayoutStyles.styles.ts
  packages/react-components/react-tree/src/contexts/index.ts
  packages/react-components/react-tree/src/contexts/treeItemContext.ts
  packages/react-components/react-tree/src/contexts/treeItemSlotsContext.ts
  packages/react-components/react-tree/stories/B_TreeItem/TreeItemActions.stories.tsx
  packages/react-components/react-tree/stories/B_TreeItem/TreeItemExpandIcon.stories.tsx
  packages/react-components/react-tree/stories/C_Layouts/LayoutsDefault.stories.tsx
  packages/react-components/react-tree/stories/C_Layouts/TreeItemLayout.stories.tsx
  packages/react-components/react-tree/stories/C_Layouts/TreeItemLayoutAside.stories.tsx
  packages/react-components/react-tree/stories/C_Layouts/TreeItemPersonaLayout.stories.tsx
  packages/react-components/react-tree/stories/C_Layouts/TreeItemPersonaLayoutReadUnread.stories.tsx
  packages/react-components/react-tree/stories/D_flatTree/TreeItemAddRemove.stories.tsx
  packages/react-components/react-tree/stories/D_flatTree/TreeLazyLoading.stories.tsx
Labels: Fluent UI react-components (v9), Component: Tree

#28626 Added more content to Breadcrumb Readme and replaced MenuItem
  change/@fluentui-react-breadcrumb-preview-54642078-ea6a-4423-8ea0-f5598e93fadb.json
  packages/react-components/react-breadcrumb-preview/README.md
  packages/react-components/react-breadcrumb-preview/src/components/BreadcrumbItem/useBreadcrumbItem.ts
  packages/react-components/react-breadcrumb-preview/stories/Breadcrumb/BreadcrumbLinkWithOverflow.stories.tsx
Labels: Component: Breadcrumb

#28648 bugfix: selector slot required when selection mode is defined
  change/@fluentui-react-tree-3b5f955f-0166-4e3b-85dc-82dddef56b0c.json
  packages/react-components/react-tree/src/components/TreeItemLayout/useTreeItemLayout.tsx
Labels: Fluent UI react-components (v9), Component: Tree

#28651 chore: improves internal headless signature
  change/@fluentui-react-tree-b70a6941-a063-49d6-a196-4dbd7abfd90c.json
  packages/react-components/react-tree/etc/react-tree.api.md
  packages/react-components/react-tree/src/components/FlatTree/useHeadlessFlatTree.ts
  packages/react-components/react-tree/src/contexts/treeItemContext.ts
  packages/react-components/react-tree/src/hooks/useRovingTabIndexes.ts
  packages/react-components/react-tree/src/utils/createHeadlessTree.ts
Labels: Fluent UI react-components (v9), Component: Tree

#28669 feat(react-tree): adds openItems and checkedItems to tree callback data
  change/@fluentui-react-tree-b474b0cc-81a2-48d4-b63b-268445c11d76.json
  packages/react-components/react-tree/etc/react-tree.api.md
  packages/react-components/react-tree/src/components/FlatTree/__snapshots__/FlatTree.test.tsx.snap
  packages/react-components/react-tree/src/components/FlatTree/useFlatTreeNavigation.ts
  packages/react-components/react-tree/src/components/FlatTree/useHeadlessFlatTree.ts
  packages/react-components/react-tree/src/components/Tree/Tree.types.ts
  packages/react-components/react-tree/src/components/Tree/__snapshots__/Tree.test.tsx.snap
  packages/react-components/react-tree/src/components/Tree/useTree.ts
  packages/react-components/react-tree/src/components/Tree/useTreeNavigation.ts
  packages/react-components/react-tree/src/components/TreeItem/useTreeItem.tsx
  packages/react-components/react-tree/src/components/TreeItem/useTreeItemContextValues.ts
  packages/react-components/react-tree/src/components/TreeItemLayout/useTreeItemLayout.tsx
  packages/react-components/react-tree/src/contexts/treeContext.ts
  packages/react-components/react-tree/src/contexts/treeItemContext.ts
  packages/react-components/react-tree/src/hooks/useRootTree.ts
  packages/react-components/react-tree/src/hooks/useRovingTabIndexes.ts
  packages/react-components/react-tree/src/hooks/useSubtree.ts
  packages/react-components/react-tree/src/utils/createHTMLElementWalker.ts
  packages/react-components/react-tree/src/utils/createHeadlessTree.ts
  packages/react-components/react-tree/src/utils/nextTypeAheadElement.ts
Labels: Fluent UI react-components (v9), Component: Tree

#28681 [Bug]: Tree, vertical spacing of branches and children is inconsistent
  change/@fluentui-react-tree-0b6932ba-9e9f-4bc9-9d59-4d8152ff0cfe.json
  packages/react-components/react-tree/src/components/FlatTree/useFlatTreeStyles.styles.ts
  packages/react-components/react-tree/src/components/Tree/useTreeStyles.styles.ts
Labels: Fluent UI react-components (v9), Component: Tree

#28653 Added VR tests for Breadcrumb
  apps/vr-tests-react-components/package.json
  apps/vr-tests-react-components/src/stories/Breadcrumb/Breadcrumb.stories.tsx
  apps/vr-tests-react-components/src/stories/Breadcrumb/utils.tsx
  packages/react-components/react-breadcrumb-preview/stories/Breadcrumb/BreadcrumbWithOverflow.stories.tsx
  packages/react-components/react-breadcrumb-preview/stories/BreadcrumbButton/index.stories.tsx
  packages/react-components/react-breadcrumb-preview/stories/BreadcrumbDivider/index.stories.tsx
  packages/react-components/react-breadcrumb-preview/stories/BreadcrumbItem/index.stories.tsx
  packages/react-components/react-breadcrumb-preview/stories/BreadcrumbLink/BreadcrumbLinkDefault.stories.tsx
  packages/react-components/react-breadcrumb-preview/stories/BreadcrumbLink/index.stories.tsx
Labels: Component: Breadcrumb
