Repository microsoft/fluentui, pull requests merged in 2023-10, with the labels that each got.

#29301 ci(github/policies): remove bot rules that created and added `Component/Package $1`: labels on PRs
  .github/CODEOWNERS
  .github/README.md
  .github/policies/botRules.yml
  lage.config.js
Labels: CI

#29338 chore(react-tree): replace makeStyles with makeResetStyles
  change/@fluentui-react-tree-28a20b5c-2da7-46ae-9716-fe0064f96cd4.json
  packages/react-components/react-tree/src/components/FlatTree/useFlatTreeStyles.styles.ts
  packages/react-components/react-tree/src/components/Tree/useTreeStyles.styles.ts
  packages/react-components/react-tree/src/components/TreeItem/useTreeItemStyles.styles.ts
  packages/react-components/react-tree/src/components/TreeItemLayout/useTreeItemLayoutStyles.styles.ts
  packages/react-components/react-tree/src/components/TreeItemPersonaLayout/useTreeItemPersonaLayoutStyles.styles.ts
Labels: Fluent UI react-components (v9), Component: Tree

#29254 Adding axis title examples for line, area, vertical bar and vertical stacked bar charts
  change/@fluentui-react-charting-39bea296-8396-427f-9f9e-f0f0bc1d627a.json
  packages/react-examples/src/react-charting/AreaChart/AreaChart.Basic.Example.tsx
  packages/react-examples/src/react-charting/LineChart/LineChart.Basic.Example.tsx
  packages/react-examples/src/react-charting/VerticalBarChart/VerticalBarChart.AxisTitle.Example.tsx
  packages/react-examples/src/react-charting/VerticalBarChart/VerticalBarChart.Basic.Example.tsx
  packages/react-examples/src/react-charting/VerticalBarChart/VerticalBarChartPage.tsx
  packages/react-examples/src/react-charting/VerticalStackedBarChart/VerticalStackedBarChart.Basic.Example.tsx
Labels: Package: charting

#29299 Vertical bar chart line bug
  change/@fluentui-react-charting-f4a76a60-ac00-42f5-890d-6acd079452b8.json
  packages/react-charting/src/utilities/utilities.ts
Labels: Package: charting

#29293 chore(react-tree): delegate focus outline to layout components
  change/@fluentui-react-tree-b5db8474-a1ba-4ec8-9c42-18215b9e2632.json
  packages/react-components/react-tree/src/components/TreeItem/useTreeItemStyles.styles.ts
  packages/react-components/react-tree/src/components/TreeItemLayout/useTreeItemLayoutStyles.styles.ts
Labels: Fluent UI react-components (v9), Component: Tree

#29357 fix: changed divider in the Breadcrumb with tooltip
  packages/react-components/react-breadcrumb-preview/stories/Breadcrumb/BreadcrumbWithTooltip.stories.tsx
Labels: Component: Breadcrumb

#29366 Fix 27482: ProgressBar has an optional state variable
  change/@fluentui-react-progress-6ff752f2-0a52-4f4e-b70b-8cfe2699ee3c.json
  packages/react-components/react-progress/etc/react-progress.api.md
  packages/react-components/react-progress/src/components/ProgressBar/ProgressBar.types.ts
Labels: Type: Bug :bug:, Fluent UI vNext, Component: Progress

#29332 fix: GroupedListV2 scrollToIndex now works correctly
  apps/public-docsite/src/SiteDefinition/SiteDefinition.pages/Controls/web.tsx
  apps/public-docsite/src/pages/Controls/DetailsListPage/DetailsListScrollToIndexGroupedV2Page.doc.ts
  apps/public-docsite/src/pages/Controls/DetailsListPage/DetailsListScrollToIndexGroupedV2Page.tsx
  change/@fluentui-react-d39b2c64-27d7-4851-b50f-8805e2664c0c.json
  packages/react-examples/src/react/DetailsList/DetailsList.GroupedV2.Large.Example.tsx
  packages/react-examples/src/react/DetailsList/DetailsList.GroupedV2.ScrollToIndex.Example.tsx
  packages/react-examples/src/react/DetailsList/DetailsList.doc.tsx
  packages/react/etc/react.api.md
  packages/react/src/components/GroupedList/GroupedListV2.base.tsx
  packages/react/src/components/GroupedList/GroupedListV2.test.tsx
  packages/react/src/components/GroupedList/GroupedListV2.types.ts
  packages/react/src/components/List/List.tsx
  packages/react/src/components/List/List.types.ts
  packages/react/src/index.ts
Labels: Component: DetailsList, Component: GroupedList

#29342 fix: Icon in disabled Button shouldn't change color on hover or pressed
  change/@fluentui-react-button-d89ce90d-cbf8-4b16-9a02-2d6606cea56e.json
  packages/react-components/react-button/src/components/Button/useButtonStyles.styles.ts
Labels: Component: Button

#29390 bugfix(react-tree): ensure `TreeItem` emits events properly
  change/@fluentui-react-tree-5bf1ff30-ae1d-4a2b-9c0a-11587529003a.json
  packages/react-components/react-tree/etc/react-tree.api.md
  packages/react-components/react-tree/src/components/Tree/Tree.types.ts
  packages/react-components/react-tree/src/components/TreeItem/useTreeItem.tsx
Labels: Fluent UI react-components (v9), Component: Tree

#29393 (feat) Breadcrumb - register items via context
  change/@fluentui-react-breadcrumb-preview-0abc23c0-2468-4cd2-96f3-99680aafa7e4.json
  packages/react-components/react-breadcrumb-preview/etc/react-breadcrumb-preview.api.md
  packages/react-components/react-breadcrumb-preview/src/components/Breadcrumb/Breadcrumb.types.ts
  packages/react-components/react-breadcrumb-preview/src/components/Breadcrumb/BreadcrumbContext.ts
  packages/react-components/react-breadcrumb-preview/src/components/Breadcrumb/renderBreadcrumb.tsx
  packages/react-components/react-breadcrumb-preview/src/components/Breadcrumb/useBreadcrumbContextValue.ts
  packages/react-components/react-breadcrumb-preview/src/components/BreadcrumbButton/useBreadcrumbButton.ts
  packages/react-components/react-breadcrumb-preview/src/components/BreadcrumbItem/BreadcrumbItem.types.ts
  packages/react-components/react-breadcrumb-preview/src/components/BreadcrumbItem/useBreadcrumbItem.ts
  packages/react-components/react-breadcrumb-preview/src/components/BreadcrumbItem/useBreadcrumbItemStyles.styles.ts
  packages/react-components/react-breadcrumb-preview/src/index.ts
  packages/react-components/react-breadcrumb-preview/stories/Breadcrumb/BreadcrumbDefault.stories.tsx
Labels: Component: Breadcrumb

#29359 Minimum height feature for bar chart
  change/@fluentui-react-charting-8bdce3b1-3bbd-4a1d-8000-3cd8b50e1d0c.json
  packages/react-charting/src/components/VerticalBarChart/VerticalBarChart.base.tsx
  packages/react-charting/src/components/VerticalStackedBarChart/VerticalStackedBarChart.base.tsx
Labels: Package: charting

#29347 Fix overlapping bars in single group
  change/@fluentui-react-charting-d116410a-f17d-45c3-bef4-a87cd431d3da.json
  packages/react-charting/src/components/GroupedVerticalBarChart/GroupedVerticalBarChart.base.tsx
  packages/react-charting/src/components/GroupedVerticalBarChart/__snapshots__/GroupedVerticalBarChart.test.tsx.snap
  packages/react-charting/src/components/GroupedVerticalBarChart/__snapshots__/GroupedVerticalBarChartRTL.test.tsx.snap
Labels: Package: charting

#29336 chore(react-link): adds style to remove default outline style
  change/@fluentui-react-link-a0a06b2e-a83e-44b3-b2bd-f432395554c8.json
  change/@fluentui-react-tabster-97c6497b-b398-446f-b711-66f7f0a76796.json
  packages/react-components/react-link/src/components/Link/useLinkStyles.styles.ts
  packages/react-components/react-tabster/src/focus/createCustomFocusIndicatorStyle.ts
Labels: Component: Link, Fluent UI react-components (v9)

#29324 Fixing the issue Going from stack callout to single callout and back to stack callout still shows the single callout
  change/@fluentui-react-charting-e365c5ce-592e-422f-9329-1bee461a0dc3.json
  packages/react-charting/src/components/VerticalStackedBarChart/VerticalStackedBarChart.base.tsx
  packages/react-examples/src/react-charting/VerticalStackedBarChart/VerticalStackedBarChart.Styled.Example.tsx
Labels: Package: charting

#29407 Update heatmap chart examples
  packages/react-examples/src/react-charting/HeatMapChart/HeatMapChartBasic.CustomAccessibility.Example.tsx
  packages/react-examples/src/react-charting/HeatMapChart/HeatMapChartBasic.Example.tsx
Labels: Package: charting

#29401 feat(react-motion): create useMotionClassNames hook
  change/@fluentui-react-motion-preview-361b4f30-1188-4d5a-b9fa-d7dcc773231b.json
  packages/react-components/react-motion-preview/etc/react-motion-preview.api.md
  packages/react-components/react-motion-preview/src/hooks/index.ts
  packages/react-components/react-motion-preview/src/hooks/useMotionClassNames.test.ts
  packages/react-components/react-motion-preview/src/hooks/useMotionClassNames.ts
  packages/react-components/react-motion-preview/src/index.ts
  packages/react-components/react-motion-preview/src/styles/useReducedMotionStyles.styles.ts
Labels: Fluent UI react-components (v9), Package: motion

#29426 feat: Add shape prop to MessageBar
  apps/vr-tests-react-components/src/stories/MessageBar/MessageBar.stories.tsx
  change/@fluentui-react-message-bar-preview-35f1856a-8956-4a81-a775-34c2100a6de2.json
  packages/react-components/react-message-bar-preview/etc/react-message-bar-preview.api.md
  packages/react-components/react-message-bar-preview/src/components/MessageBar/MessageBar.types.ts
  packages/react-components/react-message-bar-preview/src/components/MessageBar/useMessageBar.ts
  packages/react-components/react-message-bar-preview/src/components/MessageBar/useMessageBarStyles.styles.ts
  packages/react-components/react-message-bar-preview/stories/MessageBar/Shapes.stories.tsx
  packages/react-components/react-message-bar-preview/stories/MessageBar/index.stories.tsx
Labels: Component: MessageBar

#29394 fix(react-motion): sync internal value of canRender with presence
  change/@fluentui-react-motion-preview-9ee2031a-5268-4dd5-8f34-060e985b7d22.json
  packages/react-components/react-motion-preview/src/hooks/useMotion.test.ts
  packages/react-components/react-motion-preview/src/hooks/useMotion.ts
Labels: Package: motion

#29392 feat(react-drawer): make dialog slot to be used for composition only
  change/@fluentui-react-drawer-840c300d-046b-4ec7-b733-f88067df7dea.json
  packages/react-components/react-drawer/etc/react-drawer.api.md
  packages/react-components/react-drawer/package.json
  packages/react-components/react-drawer/src/components/Drawer/useDrawer.ts
  packages/react-components/react-drawer/src/components/DrawerOverlay/DrawerOverlay.cy.tsx
  packages/react-components/react-drawer/src/components/DrawerOverlay/DrawerOverlay.types.ts
  packages/react-components/react-drawer/src/components/DrawerOverlay/DrawerOverlaySurface/DrawerOverlaySurface.tsx
  packages/react-components/react-drawer/src/components/DrawerOverlay/DrawerOverlaySurface/DrawerOverlaySurface.types.ts
  packages/react-components/react-drawer/src/components/DrawerOverlay/DrawerOverlaySurface/index.ts
  packages/react-components/react-drawer/src/components/DrawerOverlay/DrawerOverlaySurface/useDrawerOverlaySurfaceStyles.styles.ts
  packages/react-components/react-drawer/src/components/DrawerOverlay/renderDrawerOverlay.tsx
  packages/react-components/react-drawer/src/components/DrawerOverlay/useDrawerOverlay.ts
  packages/react-components/react-drawer/src/components/DrawerOverlay/useDrawerOverlayStyles.styles.ts
  packages/react-components/react-drawer/src/shared/useDrawerBaseStyles.styles.ts
  packages/react-components/react-drawer/stories/Drawer/DrawerMotionCustom.stories.tsx
Labels: Component: Drawer

#29414 docs: refactoring of Breadcrumb Overflow story
  packages/react-components/react-breadcrumb-preview/stories/Breadcrumb/BreadcrumbWithOverflow.stories.tsx
Labels: Component: Breadcrumb

#29431 fix: Add custom style hooks to MessageBar components
  change/@fluentui-react-message-bar-preview-61fbedf2-6e27-44a3-9ab7-a8e3eac0c3c9.json
  change/@fluentui-react-provider-acac6f65-b3a3-4841-885e-5ad19aa00b25.json
  change/@fluentui-react-shared-contexts-4931df49-f3ed-465d-ae2d-c6fc63546694.json
  packages/react-components/react-message-bar-preview/src/components/MessageBar/MessageBar.tsx
  packages/react-components/react-message-bar-preview/src/components/MessageBarActions/MessageBarActions.tsx
  packages/react-components/react-message-bar-preview/src/components/MessageBarBody/MessageBarBody.tsx
  packages/react-components/react-message-bar-preview/src/components/MessageBarGroup/MessageBarGroup.tsx
  packages/react-components/react-message-bar-preview/src/components/MessageBarTitle/MessageBarTitle.tsx
  packages/react-components/react-provider/etc/react-provider.api.md
  packages/react-components/react-shared-contexts/etc/react-shared-contexts.api.md
  packages/react-components/react-shared-contexts/src/CustomStyleHooksContext/CustomStyleHooksContext.ts
Labels: Component: MessageBar

#29451 fix(useMeasureElement): Should not remove parent element
  change/@fluentui-react-table-101edd5b-5a5e-4855-830d-a0f6feca0891.json
  packages/react-components/react-table/src/hooks/useMeasureElement.test.tsx
  packages/react-components/react-table/src/hooks/useMeasureElement.ts
Labels: Component: DataGrid

#29432 docs: MessageBar doc improvements
  packages/react-components/react-message-bar-preview/stories/MessageBar/Animation.stories.tsx
  packages/react-components/react-message-bar-preview/stories/MessageBar/Default.stories.tsx
  packages/react-components/react-message-bar-preview/stories/MessageBar/Dismiss.stories.tsx
  packages/react-components/react-message-bar-preview/stories/MessageBar/ManualLayout.stories.tsx
  packages/react-components/react-message-bar-preview/stories/MessageBar/Reflow.stories.tsx
  packages/react-components/react-message-bar-preview/stories/MessageBar/index.stories.tsx
Labels: Component: MessageBar

#29450 fix: MenuSplitGroup styles should target MenuItems
  change/@fluentui-react-menu-1c0c1294-fdc5-4546-99db-70488ce9b036.json
  packages/react-components/react-menu/src/components/MenuSplitGroup/useMenuSplitGroupStyles.styles.ts
Labels: Component: Menu

#29370 Bug9273- change for reducing width and height for tree chart such that it fits the doc site
  change/@fluentui-react-charting-fdcd995e-d8b9-4952-a4a2-2674d8757d49.json
  packages/react-charting/etc/react-charting.api.md
  packages/react-charting/src/components/TreeChart/TreeChart.base.tsx
  packages/react-charting/src/components/TreeChart/TreeChart.types.ts
  packages/react-examples/src/react-charting/TreeChart/TreeChart.ThreeLayerCompactDocSite.Example.tsx
  packages/react-examples/src/react-charting/TreeChart/TreeChart.ThreeLayerDocSite.Example.tsx
Labels: Package: charting

#29364 fix: remove row focus background color
  change/@fluentui-react-table-bb51d6ec-6257-488a-b412-18e3acb470cf.json
  packages/react-components/react-table/src/components/TableCell/useTableCellStyles.styles.ts
  packages/react-components/react-table/src/components/TableRow/useTableRowStyles.styles.ts
Labels: Component: DataGrid

#29462 fix: MessageBarActions should not overflow into grid padding
  change/@fluentui-react-message-bar-preview-a6a0acb0-3fd7-4b96-b883-fbd5711cc593.json
  packages/react-components/react-message-bar-preview/src/components/MessageBar/useMessageBarStyles.styles.ts
  packages/react-components/react-message-bar-preview/src/components/MessageBarActions/useMessageBarActionsStyles.styles.ts
  packages/react-components/react-message-bar-preview/src/components/MessageBarBody/useMessageBarBodyStyles.styles.ts
Labels: Component: MessageBar

#29461 chore(react-tree): adds console error when mixing Tree and FlatTree components
  change/@fluentui-react-tree-971f2603-bff0-4558-93ea-267be83d77cb.json
  packages/react-components/react-tree/src/components/FlatTree/useFlatTree.ts
  packages/react-components/react-tree/src/components/Tree/useTree.ts
Labels: Fluent UI react-components (v9), Component: Tree

#29482 fix(MessageBar): Align icons with text content
  apps/vr-tests-react-components/src/stories/MessageBar/MessageBar.stories.tsx
  change/@fluentui-react-message-bar-preview-78af6acc-f656-41f0-9366-765337219696.json
  packages/react-components/react-message-bar-preview/src/components/MessageBar/useMessageBarStyles.styles.ts
  packages/react-components/react-message-bar-preview/stories/MessageBar/Intent.stories.tsx
Labels: Component: MessageBar

#29441 Fix V9 Button focus inset box shadow for FireFox scaling
  change/@fluentui-react-button-09a0ee22-f58e-4010-b397-57c82a77209e.json
  packages/react-components/react-button/src/components/Button/useButtonStyles.styles.ts
Labels: Component: Button

#29460 Show how to override legend text styles in examples
  packages/react-examples/src/react-charting/LineChart/LineChart.Styled.Example.tsx
  packages/react-examples/src/react-charting/VerticalStackedBarChart/VerticalStackedBarChart.Styled.Example.tsx
Labels: Package: charting

#29281 feat(scripts-monorepo): migrate to lerna 7 apis
  apps/ts-minbar-test-react-components/package.json
  apps/ts-minbar-test-react-components/src/index.ts
  apps/ts-minbar-test-react/package.json
  apps/ts-minbar-test-react/src/index.ts
  change/@fluentui-cra-template-be360b59-bfe0-4e5e-9fcf-8b5ec9154ac5.json
  jest.preset.js
  nx.json
  package.json
  packages/cra-template/package.json
  packages/cra-template/scripts/test.ts
  packages/fluentui/projects-test/src/createReactApp.ts
  packages/fluentui/projects-test/src/nextjs.ts
  packages/fluentui/projects-test/src/rollup.ts
  packages/fluentui/projects-test/src/typings.ts
  scripts/generators/copy-notices.js
  scripts/monorepo/src/getDependencies.d.ts
  scripts/monorepo/src/getDependencies.js
  scripts/monorepo/src/getDependencies.spec.js
  scripts/monorepo/src/index.d.ts
  scripts/monorepo/src/index.js
  scripts/projects-test/src/packPackages.ts
  typings/lerna/index.d.ts
  typings/lerna/tsconfig.json
  typings/tsconfig.json
  yarn.lock
Labels: Area: Build System

#29486 fix(scripts-tasks): don't run lint on stories/ within component package if its empty
  packages/react-components/react-calendar-compat/stories/.gitkeep
  packages/react-components/react-nav-preview/stories/.gitkeep
  packages/react-components/react-rating-preview/stories/.gitkeep
  scripts/tasks/src/eslint.ts
  tools/workspace-plugin/src/generators/react-component/index.spec.ts
  tools/workspace-plugin/src/generators/react-component/index.ts
Labels: NX: workspace generators

#29459 bugfix(react-tree): Tree indentation broken
  change/@fluentui-react-tree-98b121f2-403e-4504-8aef-bd3ea55c02fc.json
  packages/react-components/react-tree/src/hooks/useSubtree.ts
Labels: Component: Tree

#29262 chore: use default prevention instead of stop propagation for Escape handling
  change/@fluentui-react-dialog-638853b4-442a-44da-b79c-3b3071a063e3.json
  change/@fluentui-react-menu-7fdfa4f1-981a-4942-b8b2-28989af08745.json
  change/@fluentui-react-popover-68102fa6-ec06-4d3b-b2a9-5ef9e3f56ce1.json
  change/@fluentui-react-tooltip-5d73642d-79d9-455c-b084-ee5beab476fd.json
  packages/react-components/react-dialog/src/components/DialogSurface/useDialogSurface.ts
  packages/react-components/react-menu/src/components/MenuPopover/useMenuPopover.ts
  packages/react-components/react-popover/src/components/PopoverTrigger/usePopoverTrigger.ts
  packages/react-components/react-tooltip/src/components/Tooltip/useTooltip.tsx
Labels: Component: Dialog, Component: Tooltip, Component: Popover, Fluent UI react-components (v9), Component: Menu

#29455 Tree Doc: Update lazy loading example
  packages/react-components/react-tree/stories/Tree/TreeLazyLoading.stories.tsx
  packages/react-components/react-tree/stories/Tree/utils/mockFetch.ts
  packages/react-components/react-tree/stories/Tree/utils/useQuery.ts
Labels: Fluent UI react-components (v9), Component: Tree

#29385 Fix for Donut chart inner value bug
  change/@fluentui-react-charting-75b91b91-57d5-4cc4-9e22-9e1009caa21f.json
  packages/react-charting/src/components/DonutChart/DonutChart.base.tsx
Labels: Package: charting

#29498 chore: migrate from getNativeElementProps for getIntrinsicElementProps
  change/@fluentui-react-breadcrumb-preview-11c3318a-f80b-434c-b1ae-56c133b98a7c.json
  change/@fluentui-react-card-77a7f4d8-bb8a-4180-8267-0f8ea01e3090.json
  change/@fluentui-react-drawer-47bfdeab-adf5-4f47-8213-763737c1449f.json
  change/@fluentui-react-image-289ea7be-5325-4e6e-919e-2d79e9eeea3e.json
  change/@fluentui-react-text-e3797009-3912-4e9f-ab2e-c87aedf186da.json
  packages/react-components/react-breadcrumb-preview/etc/react-breadcrumb-preview.api.md
  packages/react-components/react-breadcrumb-preview/src/components/Breadcrumb/useBreadcrumb.ts
  packages/react-components/react-breadcrumb-preview/src/components/BreadcrumbDivider/useBreadcrumbDivider.tsx
  packages/react-components/react-breadcrumb-preview/src/components/BreadcrumbItem/useBreadcrumbItem.ts
  packages/react-components/react-card/src/components/Card/useCard.ts
  packages/react-components/react-card/src/components/CardFooter/useCardFooter.ts
  packages/react-components/react-card/src/components/CardHeader/useCardHeader.ts
  packages/react-components/react-card/src/components/CardPreview/useCardPreview.ts
  packages/react-components/react-drawer/src/components/DrawerBody/useDrawerBody.ts
  packages/react-components/react-drawer/src/components/DrawerFooter/useDrawerFooter.ts
  packages/react-components/react-drawer/src/components/DrawerHeader/useDrawerHeader.ts
  packages/react-components/react-drawer/src/components/DrawerHeaderNavigation/useDrawerHeaderNavigation.ts
  packages/react-components/react-drawer/src/components/DrawerHeaderTitle/useDrawerHeaderTitle.ts
  packages/react-components/react-drawer/src/components/DrawerInline/useDrawerInline.ts
  packages/react-components/react-image/src/components/Image/useImage.ts
  packages/react-components/react-text/src/components/Text/useText.ts
Labels: Fluent UI react-components (v9)

#29434 chore(react-jsx-runtime): add warning for resolution problems
  change/@fluentui-react-jsx-runtime-5a65abfa-83a9-4296-a8b9-2ace31e4e547.json
  packages/react-components/react-jsx-runtime/.swcrc
  packages/react-components/react-jsx-runtime/package.json
  packages/react-components/react-jsx-runtime/src/jsx/createJSX.ts
  packages/react-components/react-jsx-runtime/src/utils/warnIfElementTypeIsInvalid.ts
Labels: Fluent UI react-components (v9)

#29410 fix: prevent content that overflow from jumping out of iframe
  apps/public-docsite-v9/public/shell.css
Labels: Type: Documentation, Fluent UI react-components (v9), Storybook

#29496 feat(react-swatch-picker-preview): generate package scaffold
  .github/CODEOWNERS
  packages/react-components/react-swatch-picker-preview/.babelrc.json
  packages/react-components/react-swatch-picker-preview/.eslintrc.json
  packages/react-components/react-swatch-picker-preview/.npmignore
  packages/react-components/react-swatch-picker-preview/.storybook/main.js
  packages/react-components/react-swatch-picker-preview/.storybook/preview.js
  packages/react-components/react-swatch-picker-preview/.storybook/tsconfig.json
  packages/react-components/react-swatch-picker-preview/.swcrc
  packages/react-components/react-swatch-picker-preview/LICENSE
  packages/react-components/react-swatch-picker-preview/README.md
  packages/react-components/react-swatch-picker-preview/config/api-extractor.json
  packages/react-components/react-swatch-picker-preview/config/tests.js
  packages/react-components/react-swatch-picker-preview/docs/Spec.md
  packages/react-components/react-swatch-picker-preview/etc/react-swatch-picker-preview.api.md
  packages/react-components/react-swatch-picker-preview/jest.config.js
  packages/react-components/react-swatch-picker-preview/just.config.ts
  packages/react-components/react-swatch-picker-preview/package.json
  packages/react-components/react-swatch-picker-preview/project.json
  packages/react-components/react-swatch-picker-preview/src/SwatchPicker.ts
  packages/react-components/react-swatch-picker-preview/src/components/SwatchPicker/SwatchPicker.test.tsx
  packages/react-components/react-swatch-picker-preview/src/components/SwatchPicker/SwatchPicker.tsx
  packages/react-components/react-swatch-picker-preview/src/components/SwatchPicker/SwatchPicker.types.ts
  packages/react-components/react-swatch-picker-preview/src/components/SwatchPicker/__snapshots__/SwatchPicker.test.tsx.snap
  packages/react-components/react-swatch-picker-preview/src/components/SwatchPicker/index.ts
  packages/react-components/react-swatch-picker-preview/src/components/SwatchPicker/renderSwatchPicker.tsx
  packages/react-components/react-swatch-picker-preview/src/components/SwatchPicker/useSwatchPicker.ts
  packages/react-components/react-swatch-picker-preview/src/components/SwatchPicker/useSwatchPickerStyles.styles.ts
  packages/react-components/react-swatch-picker-preview/src/index.ts
  packages/react-components/react-swatch-picker-preview/src/testing/isConformant.ts
  packages/react-components/react-swatch-picker-preview/stories/.gitkeep
  packages/react-components/react-swatch-picker-preview/stories/SwatchPicker/SwatchPickerBestPractices.md
  packages/react-components/react-swatch-picker-preview/stories/SwatchPicker/SwatchPickerDefault.stories.tsx
  packages/react-components/react-swatch-picker-preview/stories/SwatchPicker/SwatchPickerDescription.md
  packages/react-components/react-swatch-picker-preview/stories/SwatchPicker/index.stories.tsx
  packages/react-components/react-swatch-picker-preview/tsconfig.json
  packages/react-components/react-swatch-picker-preview/tsconfig.lib.json
  packages/react-components/react-swatch-picker-preview/tsconfig.spec.json
  tsconfig.base.all.json
  tsconfig.base.json
Labels: Component: SwatchColorPicker

#29499 chore: migrate from getNativeElementProps to getIntrinsicElementProps
  change/@fluentui-react-accordion-da96054b-7136-42a7-ac6d-414fea0b6b65.json
  change/@fluentui-react-avatar-4ba7a74c-8fd9-44bb-842a-1dd69086c3ce.json
  change/@fluentui-react-badge-d6fb089f-2386-424d-8ce1-027679d56a71.json
  change/@fluentui-react-button-135115d3-b8e1-4480-b943-58134a7abc7e.json
  change/@fluentui-react-combobox-e9f8e327-18b2-47c7-b98b-ba6b97f6c49a.json
  change/@fluentui-react-divider-3c54f6d9-b3ba-440e-857b-c8a98694f6b0.json
  change/@fluentui-react-field-dfb42534-33af-44e2-8b87-45c79ff3f2ea.json
  change/@fluentui-react-infobutton-f34028f8-860a-4867-a737-9b01cd3ebd32.json
  change/@fluentui-react-label-c4aabe5a-88e4-4190-8dd7-c53dbcee2a12.json
  change/@fluentui-react-link-dff9f9ba-59f5-49e9-a035-2aaf6b0094a6.json
  change/@fluentui-react-persona-95cb7b00-21a8-4ad7-bda2-73f1c1a72367.json
  change/@fluentui-react-progress-035327cf-4f4c-4517-afa1-a772b600b45f.json
  change/@fluentui-react-radio-28fde45f-831b-4515-8b37-74d2f84083fd.json
  change/@fluentui-react-skeleton-85e30e6f-c1a8-452b-8f4b-07ce412ea7d7.json
  change/@fluentui-react-spinner-ed893b27-4bbc-4df0-8f05-9c930c0b5f5e.json
  change/@fluentui-react-tabs-9716ccb1-4434-4f71-a340-334312d84b0b.json
  packages/react-components/react-accordion/src/components/Accordion/useAccordion.ts
  packages/react-components/react-accordion/src/components/AccordionHeader/useAccordionHeader.tsx
  packages/react-components/react-accordion/src/components/AccordionItem/useAccordionItem.ts
  packages/react-components/react-accordion/src/components/AccordionPanel/useAccordionPanel.ts
  packages/react-components/react-avatar/src/components/Avatar/useAvatar.tsx
  packages/react-components/react-avatar/src/components/AvatarGroup/useAvatarGroup.tsx
  packages/react-components/react-badge/src/components/Badge/useBadge.ts
  packages/react-components/react-button/etc/react-button.api.md
  packages/react-components/react-button/src/components/Button/useButton.ts
  packages/react-components/react-button/src/components/SplitButton/SplitButton.types.ts
  packages/react-components/react-button/src/components/SplitButton/useSplitButton.ts
  packages/react-components/react-combobox/src/components/Listbox/useListbox.ts
  packages/react-components/react-combobox/src/components/Option/useOption.tsx
  packages/react-components/react-combobox/src/components/OptionGroup/useOptionGroup.ts
  packages/react-components/react-divider/src/components/Divider/useDivider.ts
  packages/react-components/react-field/src/components/Field/useField.tsx
  packages/react-components/react-infobutton/src/components/InfoButton/useInfoButton.tsx
  packages/react-components/react-label/src/components/Label/useLabel.tsx
  packages/react-components/react-link/src/components/Link/useLink.ts
  packages/react-components/react-nav-preview/etc/react-nav-preview.api.md
  packages/react-components/react-nav-preview/src/components/Nav/useNav.ts
  packages/react-components/react-nav-preview/src/components/NavLink/useNavLink.ts
  packages/react-components/react-nav-preview/src/components/NavLinkGroup/useNavLinkGroup.ts
  packages/react-components/react-persona/src/components/Persona/usePersona.ts
  packages/react-components/react-progress/src/components/ProgressBar/useProgressBar.tsx
  packages/react-components/react-radio/src/components/RadioGroup/useRadioGroup.ts
  packages/react-components/react-rating-preview/etc/react-rating-preview.api.md
  packages/react-components/react-rating-preview/src/components/Rating/useRating.ts
  packages/react-components/react-skeleton/src/components/Skeleton/useSkeleton.ts
  packages/react-components/react-skeleton/src/components/SkeletonItem/useSkeletonItem.tsx
  packages/react-components/react-spinner/src/components/Spinner/useSpinner.tsx
  packages/react-components/react-tabs/src/components/Tab/useTab.ts
  packages/react-components/react-tabs/src/components/TabList/useTabList.ts
Labels: Fluent UI react-components (v9)

#29525 fix(react-swatch-picker): mismatch dependencies
  packages/react-components/react-swatch-picker-preview/package.json
Labels: Component: SwatchColorPicker

#29054 fix: avoid infinite loop of setStates in Sticky/ScrollablePane
  change/@fluentui-react-f18a600f-1e2d-4047-b9c8-7af2f331ad3a.json
  packages/react/src/components/Sticky/Sticky.tsx
  packages/react/src/components/Sticky/util/comparison.test.ts
  packages/react/src/components/Sticky/util/comparison.ts
  packages/react/src/components/Sticky/util/scroll.test.ts
  packages/react/src/components/Sticky/util/scroll.ts
Labels: Component: DetailsList, Component: ScrollablePane

#29520 chore: bump keyborg to 2.1.0
  change/@fluentui-react-tabster-03d5de11-4cf1-44e5-855d-a1651aa12b85.json
  packages/react-components/react-tabster/package.json
  yarn.lock
Labels: Component: Dialog, Component: Radio

#29529 bugfix(react-tree): stop coercing numbers to string on TreeItemValue
  change/@fluentui-react-tree-006fbe59-9dfe-471f-aab7-99f77c1fb4f2.json
  packages/react-components/react-tree/src/components/TreeItem/useTreeItem.tsx
Labels: Component: Tree

#29532 Tree Component: Export missing TreeItemType
  change/@fluentui-react-tree-89bf0671-aa69-4971-9dce-a11046649f49.json
  packages/react-components/react-tree/etc/react-tree.api.md
  packages/react-components/react-tree/src/index.ts
Labels: Fluent UI react-components (v9), Component: Tree

#29533 doc(react-dialog): update Dialog documentation on trigger outside of dialog
  packages/react-components/react-dialog/stories/Dialog/DialogTriggerOutsideDialog.md
  packages/react-components/react-dialog/stories/Dialog/DialogTriggerOutsideDialog.stories.tsx
Labels: Component: Dialog, Fluent UI react-components (v9)

#29526 Fix for improper y axis scaling in LineChart
  change/@fluentui-react-charting-1907d6e0-fb40-404a-85a0-821cbba5fa69.json
  packages/react-charting/src/utilities/utilities.ts
Labels: Package: charting

#28874 Adding a default tabbable element to fix accessibility issue bug-8860
  change/@fluentui-react-charting-33ba8fd5-9287-4363-9881-d8983182eb98.json
  packages/react-charting/src/components/AreaChart/__snapshots__/AreaChart.test.tsx.snap
  packages/react-charting/src/components/AreaChart/__snapshots__/AreaChartRTL.test.tsx.snap
  packages/react-charting/src/components/CommonComponents/CartesianChart.base.tsx
  packages/react-charting/src/components/GroupedVerticalBarChart/__snapshots__/GroupedVerticalBarChart.test.tsx.snap
  packages/react-charting/src/components/GroupedVerticalBarChart/__snapshots__/GroupedVerticalBarChartRTL.test.tsx.snap
  packages/react-charting/src/components/HeatMapChart/__snapshots__/HeatMapChart.test.tsx.snap
  packages/react-charting/src/components/HeatMapChart/__snapshots__/HeatMapChartRTL.test.tsx.snap
  packages/react-charting/src/components/HorizontalBarChartWithAxis/__snapshots__/HorizontalBarChartWithAxis.test.tsx.snap
  packages/react-charting/src/components/LineChart/__snapshots__/LineChart.test.tsx.snap
  packages/react-charting/src/components/LineChart/__snapshots__/LineChartRTL.test.tsx.snap
  packages/react-charting/src/components/VerticalBarChart/__snapshots__/VerticalBarChart.test.tsx.snap
  packages/react-charting/src/components/VerticalBarChart/__snapshots__/VerticalBarChartRTL.test.tsx.snap
  packages/react-charting/src/components/VerticalStackedBarChart/__snapshots__/VerticalStackedBarChart.test.tsx.snap
  packages/react-charting/src/components/VerticalStackedBarChart/__snapshots__/VerticalStackedBarChartRTL.test.tsx.snap
Labels: Package: charting

#29454 Hide bar labels of non highlighted bars
  change/@fluentui-react-charting-7bdc342b-897c-41f4-a785-2bed26b30f93.json
  packages/react-charting/src/components/DonutChart/Arc/Arc.tsx
  packages/react-charting/src/components/GroupedVerticalBarChart/GroupedVerticalBarChart.base.tsx
  packages/react-charting/src/components/HorizontalBarChart/HorizontalBarChart.base.tsx
  packages/react-charting/src/components/StackedBarChart/MultiStackedBarChart.base.tsx
  packages/react-charting/src/components/VerticalBarChart/VerticalBarChart.base.tsx
  packages/react-charting/src/components/VerticalStackedBarChart/VerticalStackedBarChart.base.tsx
Labels: Package: charting

#29552 ci: use nodejs version that is preinstalled on 1es containers in order to avoid flaky pipeline issues while installing nodejs
  .devops/templates/tools.yml
  .github/workflows/check-packages.yml
  .github/workflows/docsite-publish-chromatic.yml
  .github/workflows/docsite-publish-ghpages.yml
  package.json
  yarn.lock
Labels: Area: Build System, CI

#29549 fix: Tabster should support virtual parents
  change/@fluentui-react-dialog-e7703ba0-5918-4d1d-8ab6-b353dd5b2426.json
  change/@fluentui-react-popover-a85665ab-54f3-46a0-aafc-a513ddfe135d.json
  change/@fluentui-react-tabster-04feba9e-faa2-49d5-a828-8fd549454e5c.json
  packages/react-components/react-dialog/src/components/Dialog/Dialog.cy.tsx
  packages/react-components/react-popover/src/components/Popover/Popover.cy.tsx
  packages/react-components/react-tabster/package.json
  packages/react-components/react-tabster/src/hooks/useTabster.ts
  yarn.lock
Labels: Area: Accessibility, Component: Dialog

#29547 Fix missing x callout custom callout
  change/@fluentui-react-charting-f831c35a-e12e-458d-9a22-de0345f66557.json
  packages/react-charting/src/utilities/utilities.ts
Labels: Package: charting

#29391 feat(react-dialog): adds motion to `DialogSurface`
  change/@fluentui-react-dialog-c4b3b805-3dcc-4caa-9c9e-ceb9a1580a1a.json
  packages/react-components/react-dialog/etc/react-dialog.api.md
  packages/react-components/react-dialog/package.json
  packages/react-components/react-dialog/src/components/Dialog/renderDialog.tsx
  packages/react-components/react-dialog/src/components/Dialog/useDialog.ts
  packages/react-components/react-dialog/src/components/DialogSurface/DialogSurface.types.ts
  packages/react-components/react-dialog/src/components/DialogSurface/useDialogSurface.ts
  packages/react-components/react-dialog/src/components/DialogSurface/useDialogSurfaceStyles.styles.ts
  packages/react-components/react-dialog/src/contexts/dialogTransitionContext.ts
Labels: Component: Dialog, Fluent UI react-components (v9)

#29298 chore: bump jest to 29.7.0
  package.json
  packages/react-charting/src/components/LineChart/LineChart.test.tsx
  packages/react-charting/src/components/LineChart/LineChartRTL.test.tsx
  packages/react-charting/src/components/LineChart/__snapshots__/LineChartRTL.test.tsx.snap
  yarn.lock
Labels: Area: Build System, dependencies

#29608 [Part 2] Changes to onboard charting to fluent docsite
  change/@fluentui-react-charting-dc4ff1f6-ec1f-48b2-82e3-f00767be34c5.json
  packages/react-charting/README.md
  packages/react-charting/docs/TechnicalDetails.md
  packages/react-charting/etc/react-charting.api.md
  packages/react-charting/src/components/AreaChart/AreaChart.types.ts
  packages/react-charting/src/components/CommonComponents/CartesianChart.tsx
  packages/react-charting/src/components/CommonComponents/CartesianChart.types.ts
  packages/react-charting/src/components/DonutChart/DonutChart.types.ts
  packages/react-charting/src/components/GaugeChart/GaugeChart.types.ts
  packages/react-charting/src/components/GroupedVerticalBarChart/GroupedVerticalBarChart.types.tsx
  packages/react-charting/src/components/HeatMapChart/HeatMapChart.types.ts
  packages/react-charting/src/components/HorizontalBarChart/HorizontalBarChart.types.ts
  packages/react-charting/src/components/HorizontalBarChartWithAxis/HorizontalBarChartWithAxis.types.ts
  packages/react-charting/src/components/Legends/Legends.tsx
  packages/react-charting/src/components/Legends/Legends.types.ts
  packages/react-charting/src/components/LineChart/LineChart.tsx
  packages/react-charting/src/components/LineChart/LineChart.types.ts
  packages/react-charting/src/components/PieChart/PieChart.tsx
  packages/react-charting/src/components/PieChart/PieChart.types.ts
  packages/react-charting/src/components/SankeyChart/SankeyChart.tsx
  packages/react-charting/src/components/SankeyChart/SankeyChart.types.ts
  packages/react-charting/src/components/Sparkline/Sparkline.tsx
  packages/react-charting/src/components/Sparkline/Sparkline.types.ts
  packages/react-charting/src/components/StackedBarChart/MultiStackedBarChart.tsx
  packages/react-charting/src/components/StackedBarChart/MultiStackedBarChart.types.ts
  packages/react-charting/src/components/StackedBarChart/StackedBarChart.tsx
  packages/react-charting/src/components/StackedBarChart/StackedBarChart.types.ts
  packages/react-charting/src/components/TreeChart/TreeChart.tsx
  packages/react-charting/src/components/TreeChart/TreeChart.types.ts
  packages/react-charting/src/components/VerticalBarChart/VerticalBarChart.tsx
  packages/react-charting/src/components/VerticalBarChart/VerticalBarChart.types.ts
  packages/react-charting/src/components/VerticalStackedBarChart/VerticalStackedBarChart.tsx
  packages/react-charting/src/components/VerticalStackedBarChart/VerticalStackedBarChart.types.ts
  packages/react-charting/src/types/IDataPoint.ts
  packages/react-examples/src/react-charting/AreaChart/AreaChart.doc.tsx
  packages/react-examples/src/react-charting/GroupedVerticalBarChart/GroupedVerticalBarChart.Basic.Example.tsx
  packages/react-examples/src/react-charting/LineChart/LineChart.CustomLocaleDateAxis.Example.tsx
  packages/react-examples/src/react-charting/LineChart/LineChart.Gaps.Example.tsx
  packages/react-examples/src/react-charting/LineChart/LineChart.Styled.Example.tsx
  packages/react-examples/src/react-charting/MultiStackedBarChart/MultiStackedBarChart.doc.tsx
  packages/react-examples/src/react-charting/SparklineChart/SparklineChart.Basic.Example.tsx
  packages/react-examples/src/react-charting/TreeChart/TreeChart.doc.tsx
  packages/react-examples/src/react-charting/VerticalBarChart/VerticalBarChart.Basic.Example.tsx
  packages/react-examples/src/react-charting/VerticalStackedBarChart/VerticalStackedBarChart.doc.tsx
Labels: Package: charting

#29601 docs(react-textarea): Add guidance for modifying Textarea's height
  packages/react-components/react-textarea/stories/Textarea/TextareaBestPractices.md
Labels: Component: Textarea

#29554 feat: (breadcrumb) Removed appearance prop
  apps/vr-tests-react-components/src/stories/Breadcrumb/Breadcrumb.stories.tsx
  apps/vr-tests-react-components/src/stories/Breadcrumb/utils.tsx
  change/@fluentui-react-breadcrumb-preview-8e37ea24-6643-4dca-a824-7919c7e0581c.json
  packages/react-components/react-breadcrumb-preview/docs/MIGRATION.md
  packages/react-components/react-breadcrumb-preview/docs/Spec.md
  packages/react-components/react-breadcrumb-preview/etc/react-breadcrumb-preview.api.md
  packages/react-components/react-breadcrumb-preview/src/components/Breadcrumb/Breadcrumb.cy.tsx
  packages/react-components/react-breadcrumb-preview/src/components/Breadcrumb/Breadcrumb.types.ts
  packages/react-components/react-breadcrumb-preview/src/components/Breadcrumb/BreadcrumbContext.ts
  packages/react-components/react-breadcrumb-preview/src/components/Breadcrumb/useBreadcrumb.ts
  packages/react-components/react-breadcrumb-preview/src/components/Breadcrumb/useBreadcrumbContextValue.ts
  packages/react-components/react-breadcrumb-preview/src/components/BreadcrumbButton/BreadcrumbButton.types.ts
  packages/react-components/react-breadcrumb-preview/src/components/BreadcrumbButton/useBreadcrumbButton.ts
  packages/react-components/react-breadcrumb-preview/src/components/BreadcrumbItem/BreadcrumbItem.types.ts
  packages/react-components/react-breadcrumb-preview/src/components/BreadcrumbItem/renderBreadcrumbItem.tsx
  packages/react-components/react-breadcrumb-preview/src/components/BreadcrumbItem/useBreadcrumbItem.ts
  packages/react-components/react-breadcrumb-preview/src/components/BreadcrumbItem/useBreadcrumbItemStyles.styles.ts
  packages/react-components/react-breadcrumb-preview/stories/Breadcrumb/BreadcrumbBestPractices.md
  packages/react-components/react-breadcrumb-preview/stories/Breadcrumb/BreadcrumbButtonAppearanceSubtle.stories.tsx
  packages/react-components/react-breadcrumb-preview/stories/Breadcrumb/BreadcrumbButtonWithHrefAttribute.stories.tsx
  packages/react-components/react-breadcrumb-preview/stories/Breadcrumb/BreadcrumbDefault.stories.tsx
  packages/react-components/react-breadcrumb-preview/stories/Breadcrumb/BreadcrumbFocusMode.stories.tsx
  packages/react-components/react-breadcrumb-preview/stories/Breadcrumb/BreadcrumbSize.stories.tsx
  packages/react-components/react-breadcrumb-preview/stories/Breadcrumb/BreadcrumbWithOverflow.stories.tsx
  packages/react-components/react-breadcrumb-preview/stories/Breadcrumb/BreadcrumbWithTooltip.stories.tsx
  packages/react-components/react-breadcrumb-preview/stories/Breadcrumb/index.stories.tsx
Labels: Component: Breadcrumb

#29536 feat(react-storybook-addon-codesandbox): support various providers for "export to" functionality
  .storybook/docs-root.css
  .storybook/preview.js
  packages/react-components/react-storybook-addon-codesandbox/README.md
  packages/react-components/react-storybook-addon-codesandbox/src/getDependencies.test.ts
  packages/react-components/react-storybook-addon-codesandbox/src/getDependencies.ts
  packages/react-components/react-storybook-addon-codesandbox/src/preset/preview.ts
  packages/react-components/react-storybook-addon-codesandbox/src/public-types.ts
  packages/react-components/react-storybook-addon-codesandbox/src/sandbox-factory.spec.ts
  packages/react-components/react-storybook-addon-codesandbox/src/sandbox-factory.ts
  packages/react-components/react-storybook-addon-codesandbox/src/sandbox-scaffold.spec.ts
  packages/react-components/react-storybook-addon-codesandbox/src/sandbox-scaffold.ts
  packages/react-components/react-storybook-addon-codesandbox/src/sandbox-utils.spec.ts
  packages/react-components/react-storybook-addon-codesandbox/src/sandbox-utils.ts
  packages/react-components/react-storybook-addon-codesandbox/src/styles.css
  packages/react-components/react-storybook-addon-codesandbox/src/types.ts
  packages/react-components/react-storybook-addon-codesandbox/src/utils.ts
  packages/react-components/react-storybook-addon-codesandbox/src/withCodeSandboxButton.ts
  typings/storybook__addons/index.d.ts
Labels: Area: Build System, Fluent UI react-components (v9), Storybook

#29524 fix(react-drawer): regression with mountNode prop not available after refactoring
  change/@fluentui-react-drawer-48e12c53-cba7-4acf-a7c7-8b7a3002fbbd.json
  packages/react-components/react-drawer/etc/react-drawer.api.md
  packages/react-components/react-drawer/src/components/DrawerOverlay/DrawerOverlaySurface/DrawerOverlaySurface.types.ts
Labels: Type: Bug :bug:, Component: Drawer

#29605 chore(react-infobutton, react-components): Deprecate InfoButton and InfoLabel from react-infobutton
  change/@fluentui-react-components-21e38204-3b3e-4269-bb2e-ad6a29a8c919.json
  change/@fluentui-react-infobutton-86ced938-d1e4-4669-84a3-f0645d576938.json
  packages/react-components/react-components/src/unstable/index.ts
  packages/react-components/react-field/stories/Field/FieldInfo.stories.tsx
  packages/react-components/react-infobutton/README.md
  packages/react-components/react-infobutton/etc/react-infobutton.api.md
  packages/react-components/react-infobutton/src/components/InfoButton/InfoButton.test.tsx
  packages/react-components/react-infobutton/src/components/InfoButton/InfoButton.tsx
  packages/react-components/react-infobutton/src/components/InfoButton/InfoButton.types.ts
  packages/react-components/react-infobutton/src/components/InfoButton/renderInfoButton.tsx
  packages/react-components/react-infobutton/src/components/InfoButton/useInfoButton.tsx
  packages/react-components/react-infobutton/src/components/InfoButton/useInfoButtonStyles.styles.ts
  packages/react-components/react-infobutton/src/components/InfoLabel/InfoLabel.cy.tsx
  packages/react-components/react-infobutton/src/components/InfoLabel/InfoLabel.test.tsx
  packages/react-components/react-infobutton/src/components/InfoLabel/InfoLabel.tsx
  packages/react-components/react-infobutton/src/components/InfoLabel/InfoLabel.types.ts
  packages/react-components/react-infobutton/src/components/InfoLabel/renderInfoLabel.tsx
  packages/react-components/react-infobutton/src/components/InfoLabel/useInfoLabel.ts
  packages/react-components/react-infobutton/src/components/InfoLabel/useInfoLabelStyles.styles.ts
  packages/react-components/react-infobutton/src/index.ts
Labels: Component: InfoButton

#29632 fix(react-toast): invoke useCustomStyleHook_unstable()
  change/@fluentui-react-provider-1d59a37a-b2d6-4a70-b80d-0d6fe26ae7dd.json
  change/@fluentui-react-shared-contexts-6914bf09-e179-4a18-a658-e430a7bcac83.json
  change/@fluentui-react-toast-d1bade96-d87a-41c1-8a8a-c6bf3d154e58.json
  packages/react-components/react-provider/etc/react-provider.api.md
  packages/react-components/react-shared-contexts/etc/react-shared-contexts.api.md
  packages/react-components/react-shared-contexts/src/CustomStyleHooksContext/CustomStyleHooksContext.ts
  packages/react-components/react-toast/src/components/Toaster/Toaster.tsx
Labels: Component: Toast

#29626 fix(hotfix/5.135.6): Remove ReallyClean pipeline task
  azure-pipelines.yml
Labels: Area: Build System

#29623 feat(react-breadcrumb): removed non-interactive item
  apps/vr-tests-react-components/src/stories/Breadcrumb/Breadcrumb.stories.tsx
  apps/vr-tests-react-components/src/stories/Breadcrumb/utils.tsx
  change/@fluentui-react-breadcrumb-preview-6f5f21dc-b28d-40fc-bd43-acf613d0b43e.json
  packages/react-components/react-breadcrumb-preview/docs/MIGRATION.md
  packages/react-components/react-breadcrumb-preview/docs/Spec.md
  packages/react-components/react-breadcrumb-preview/docs/assets/breadcrumb-not-interactive.png
  packages/react-components/react-breadcrumb-preview/etc/react-breadcrumb-preview.api.md
  packages/react-components/react-breadcrumb-preview/src/components/Breadcrumb/Breadcrumb.cy.tsx
  packages/react-components/react-breadcrumb-preview/src/components/Breadcrumb/Breadcrumb.test.tsx
  packages/react-components/react-breadcrumb-preview/src/components/Breadcrumb/Breadcrumb.types.ts
  packages/react-components/react-breadcrumb-preview/src/components/Breadcrumb/BreadcrumbContext.ts
  packages/react-components/react-breadcrumb-preview/src/components/Breadcrumb/useBreadcrumb.ts
  packages/react-components/react-breadcrumb-preview/src/components/Breadcrumb/useBreadcrumbContextValue.ts
  packages/react-components/react-breadcrumb-preview/src/components/BreadcrumbButton/BreadcrumbButton.test.tsx
  packages/react-components/react-breadcrumb-preview/src/components/BreadcrumbButton/useBreadcrumbButton.ts
  packages/react-components/react-breadcrumb-preview/src/components/BreadcrumbButton/useBreadcrumbButtonStyles.styles.ts
  packages/react-components/react-breadcrumb-preview/src/components/BreadcrumbDivider/BreadcrumbDivider.test.tsx
  packages/react-components/react-breadcrumb-preview/src/components/BreadcrumbDivider/BreadcrumbDivider.types.ts
  packages/react-components/react-breadcrumb-preview/src/components/BreadcrumbDivider/useBreadcrumbDivider.tsx
  packages/react-components/react-breadcrumb-preview/src/components/BreadcrumbItem/BreadcrumbItem.test.tsx
  packages/react-components/react-breadcrumb-preview/src/components/BreadcrumbItem/BreadcrumbItem.types.ts
  packages/react-components/react-breadcrumb-preview/src/components/BreadcrumbItem/useBreadcrumbItem.ts
  packages/react-components/react-breadcrumb-preview/src/components/BreadcrumbItem/useBreadcrumbItemStyles.styles.ts
  packages/react-components/react-breadcrumb-preview/src/shared/useIconStyles.styles.ts
  packages/react-components/react-breadcrumb-preview/stories/Breadcrumb/BreadcrumbBestPractices.md
  packages/react-components/react-breadcrumb-preview/stories/Breadcrumb/BreadcrumbSize.stories.tsx
  packages/react-components/react-breadcrumb-preview/stories/Breadcrumb/BreadcrumbSlashDivider.stories.tsx
  packages/react-components/react-breadcrumb-preview/stories/Breadcrumb/index.stories.tsx
Labels: Component: Breadcrumb

#29577 fix(workspace-plugin): fix storybook and vr-test issues wihtin prepare-initial-release generator
  tools/workspace-plugin/src/generators/prepare-initial-release/index.spec.ts
  tools/workspace-plugin/src/generators/prepare-initial-release/index.ts
Labels: Area: Build System, Fluent UI react-components (v9), NX: workspace generators

#29616 feat(tools): replace npmignore with package.json#files for robust control over what we ship to npm
  tools/workspace-plugin/src/generators/migrate-converged-pkg/index.spec.ts
  tools/workspace-plugin/src/generators/migrate-converged-pkg/index.ts
  tools/workspace-plugin/src/generators/migrate-v8-pkg/index.spec.ts
  tools/workspace-plugin/src/generators/migrate-v8-pkg/index.ts
  tools/workspace-plugin/src/generators/react-library/files/.npmignore__tmpl__
  tools/workspace-plugin/src/generators/react-library/files/package.json__tmpl__
  tools/workspace-plugin/src/generators/react-library/index.spec.ts
  tools/workspace-plugin/src/types.ts
Labels: Fluent UI react-components (v9), Fluent UI react (v8), NX: workspace generators, CI

#29595 feat(scripts-task): implement initial verify-packaging task
  change/@fluentui-react-text-701383d5-631a-46fc-a991-276a590f6132.json
  change/@fluentui-utilities-78031fb1-2f31-4c82-a6e6-921baf28c8f6.json
  lage.config.js
  package.json
  packages/react-components/react-text/package.json
  packages/utilities/package.json
  scripts/tasks/src/presets.ts
  scripts/tasks/src/verify-packaging.ts
Labels: Area: Build System, Fluent UI react-components (v9), Fluent UI react (v8), CI

#29627 fix(react-drawer): accessibility tweaks
  change/@fluentui-react-drawer-b7d10669-1f23-47cb-bc3e-21e001e940f1.json
  packages/react-components/react-drawer/src/components/DrawerInline/DrawerInline.cy.tsx
  packages/react-components/react-drawer/src/components/DrawerOverlay/useDrawerOverlayStyles.styles.ts
  packages/react-components/react-drawer/src/shared/useDrawerBaseStyles.styles.ts
Labels: Area: Accessibility, High Contrast, Component: Drawer

#29617 chore: migrate to nx 16.10
  migrations.json
  nx.json
  package.json
  scripts/gulp/src/plugins/util/getShorthandInfo.ts
  tools/workspace-plugin/project.json
  tools/workspace-plugin/src/generators/normalize-package-dependencies/index.spec.ts
  tools/workspace-plugin/src/generators/prepare-initial-release/index.spec.ts
  tools/workspace-plugin/src/utils.ts
  yarn.lock
Labels: Area: Build System, CI

#29655 feat(react-motion): add support to provide duration to useMotion hook
  change/@fluentui-react-motion-preview-d31b1c1e-5bd8-4783-814b-08719866cb8a.json
  packages/react-components/react-motion-preview/etc/react-motion-preview.api.md
  packages/react-components/react-motion-preview/src/hooks/useMotion.test.ts
  packages/react-components/react-motion-preview/src/hooks/useMotion.ts
  packages/react-components/react-motion-preview/src/hooks/useMotionClassNames.test.ts
  packages/react-components/react-motion-preview/src/index.ts
Labels: Package: motion

#29662 feat(react-drawer): use useMotionClassNames to create drawer motion styles
  change/@fluentui-react-drawer-6f092714-b539-4d1a-a9ae-30244e5d54d9.json
  packages/react-components/react-drawer/etc/react-drawer.api.md
  packages/react-components/react-drawer/src/components/InlineDrawer/useInlineDrawerStyles.styles.ts
  packages/react-components/react-drawer/src/components/OverlayDrawer/OverlayDrawer.types.ts
  packages/react-components/react-drawer/src/components/OverlayDrawer/useOverlayDrawer.ts
  packages/react-components/react-drawer/src/components/OverlayDrawer/useOverlayDrawerStyles.styles.ts
  packages/react-components/react-drawer/stories/Drawer/DrawerMotionCustom.stories.tsx
Labels: Component: Drawer

#29665 docs(react-drawer): add example of multiple levels inside one drawer
  change/@fluentui-react-drawer-fe9759ac-50af-4a94-8963-0e773f120bc6.json
  packages/react-components/react-drawer/src/components/DrawerFooter/useDrawerFooterStyles.styles.ts
  packages/react-components/react-drawer/src/components/DrawerHeader/useDrawerHeaderStyles.styles.ts
  packages/react-components/react-drawer/stories/Drawer/DrawerMultipleLevels.stories.tsx
  packages/react-components/react-drawer/stories/Drawer/index.stories.tsx
Labels: Component: Drawer

#29598 chore: migrate to node 18
  .codesandbox/ci.json
  .devops/templates/tools.yml
  .github/workflows/check-packages.yml
  .github/workflows/docsite-publish-chromatic.yml
  .github/workflows/docsite-publish-ghpages.yml
  change/@fluentui-eslint-plugin-222b39b1-1e9b-458f-8ddf-0dfef3a6717e.json
  change/@fluentui-utilities-9901c7ce-5a05-4473-ab4f-ff74df9878eb.json
  package.json
  packages/eslint-plugin/package.json
  packages/fluentui/local-sandbox/package.json
  packages/utilities/src/safeSetTimeout.ts
  syncpack.config.js
  yarn.lock
Labels: Area: Build System, CI

#29647 chore: rename package from react-storybook-addon-codesandbox to react-storybook-addon-export-to-sandbox
  .github/CODEOWNERS
  .storybook/main.js
  .storybook/preview.js
  apps/public-docsite-v9/package.json
  apps/recipes-react-components/package.json
  apps/vr-tests-react-components/package.json
  packages/react-components/react-storybook-addon-codesandbox/README.md
  packages/react-components/react-storybook-addon-codesandbox/src/preset/preview.ts
  packages/react-components/react-storybook-addon-codesandbox/src/withCodeSandboxButton.ts
  packages/react-components/react-storybook-addon-export-to-sandbox/.babelrc.json
  packages/react-components/react-storybook-addon-export-to-sandbox/.eslintrc.json
  packages/react-components/react-storybook-addon-export-to-sandbox/.npmignore
  packages/react-components/react-storybook-addon-export-to-sandbox/.swcrc
  packages/react-components/react-storybook-addon-export-to-sandbox/LICENSE
  packages/react-components/react-storybook-addon-export-to-sandbox/README.md
  packages/react-components/react-storybook-addon-export-to-sandbox/config/api-extractor.json
  packages/react-components/react-storybook-addon-export-to-sandbox/config/tests.js
  packages/react-components/react-storybook-addon-export-to-sandbox/etc/react-storybook-addon-export-to-sandbox.api.md
  packages/react-components/react-storybook-addon-export-to-sandbox/jest.config.js
  packages/react-components/react-storybook-addon-export-to-sandbox/just.config.ts
  packages/react-components/react-storybook-addon-export-to-sandbox/package.json
  packages/react-components/react-storybook-addon-export-to-sandbox/preset.js
  packages/react-components/react-storybook-addon-export-to-sandbox/project.json
  packages/react-components/react-storybook-addon-export-to-sandbox/src/decorators/with-export-to-sandbox-button.ts
  packages/react-components/react-storybook-addon-export-to-sandbox/src/getDependencies.test.ts
  packages/react-components/react-storybook-addon-export-to-sandbox/src/getDependencies.ts
  packages/react-components/react-storybook-addon-export-to-sandbox/src/index.ts
  packages/react-components/react-storybook-addon-export-to-sandbox/src/preset/preview.ts
  packages/react-components/react-storybook-addon-export-to-sandbox/src/public-types.ts
  packages/react-components/react-storybook-addon-export-to-sandbox/src/sandbox-factory.spec.ts
  packages/react-components/react-storybook-addon-export-to-sandbox/src/sandbox-factory.ts
  packages/react-components/react-storybook-addon-export-to-sandbox/src/sandbox-scaffold.spec.ts
  packages/react-components/react-storybook-addon-export-to-sandbox/src/sandbox-scaffold.ts
  packages/react-components/react-storybook-addon-export-to-sandbox/src/sandbox-utils.spec.ts
  packages/react-components/react-storybook-addon-export-to-sandbox/src/sandbox-utils.ts
  packages/react-components/react-storybook-addon-export-to-sandbox/src/styles.css
  packages/react-components/react-storybook-addon-export-to-sandbox/src/types.ts
  packages/react-components/react-storybook-addon-export-to-sandbox/src/utils.ts
  packages/react-components/react-storybook-addon-export-to-sandbox/tsconfig.json
  packages/react-components/react-storybook-addon-export-to-sandbox/tsconfig.lib.json
  packages/react-components/react-storybook-addon-export-to-sandbox/tsconfig.spec.json
  packages/react-components/theme-designer/package.json
  scripts/storybook/src/utils.js
  tsconfig.base.all.json
  tsconfig.base.json
Labels: Fluent UI react-components (v9), Storybook

#29653 Added scale factor to minHeight logic
  change/@fluentui-react-charting-558ce73b-bb6f-475f-be32-1aa78f0663a0.json
  packages/react-charting/src/components/VerticalStackedBarChart/VerticalStackedBarChart.base.tsx
Labels: Package: charting

#29696 ci: revert 1ES template compliance to unblock master
  .devops/CredScanSuppressions.json
  .devops/templates/compliance-job.yml
  azure-pipelines.hotfix.yml
  azure-pipelines.release-fluentui.yml
  azure-pipelines.release-vnext-nightly.yml
  azure-pipelines.release-vnext.yml
  azure-pipelines.release.yml
  azure-pipelines.yml
Labels: CI

#29692 chore(react-dialog): remove animation from test environments
  change/@fluentui-react-dialog-583dc616-fa6f-4401-8ee9-6f25dd159aac.json
  packages/react-components/react-dialog/src/components/Dialog/renderDialog.tsx
Labels: Component: Dialog

#29676 chore: restrict node versions to 18 || 20
  package.json
Labels: Area: Build System

#29682 fix: Combobox now collapses when mousing up outside of listbox after having moused within it
  change/@fluentui-react-combobox-00191ffe-b797-4053-89dc-b558c2ca75b5.json
  packages/react-components/react-combobox/src/utils/useTriggerListboxSlots.ts
Labels: Component: ComboBox, Fluent UI react-components (v9)

#29693 docs(breadcrumb) SPEC update
  packages/react-components/react-breadcrumb-preview/docs/MIGRATION.md
  packages/react-components/react-breadcrumb-preview/docs/Spec.md
  packages/react-components/react-breadcrumb-preview/docs/assets/a11y-breadcrumb-overflow.png
  packages/react-components/react-breadcrumb-preview/docs/assets/a11y-breadcrumb-truncated-text.png
  packages/react-components/react-breadcrumb-preview/docs/assets/a11y-breadcrumb.png
  packages/react-components/react-breadcrumb-preview/docs/assets/beadcrumb-states.png
  packages/react-components/react-breadcrumb-preview/docs/assets/breadcrumb-collapsed-items.png
  packages/react-components/react-breadcrumb-preview/docs/assets/breadcrumb-item-anatomy.png
  packages/react-components/react-breadcrumb-preview/docs/assets/breadcrumb-keyboard-interaction.png
  packages/react-components/react-breadcrumb-preview/docs/assets/breadcrumb-structure.png
Labels: Component: Breadcrumb
