Repository microsoft/fluentui, pull requests merged in 2023-06, with the labels that each got.

#28080 Dont inline setcallbackmap with terser to prevent memory leaks
  change/@fluentui-utilities-935d72bf-a3ff-428f-b440-fe912842be69.json
  packages/utilities/src/useFocusRects.ts
Labels: Package: utilities

#26344 Accessibility fix for empty charts
  change/@fluentui-react-charting-084b5b42-ff6b-427d-89c5-869fc8429a2a.json
  packages/react-charting/src/components/AreaChart/AreaChart.base.tsx
  packages/react-charting/src/components/AreaChart/AreaChart.test.tsx
  packages/react-charting/src/components/DonutChart/DonutChart.base.tsx
  packages/react-charting/src/components/DonutChart/DonutChart.test.tsx
  packages/react-charting/src/components/DonutChart/__snapshots__/DonutChartRTL.test.tsx.snap
  packages/react-charting/src/components/GroupedVerticalBarChart/GroupedVerticalBarChart.base.tsx
  packages/react-charting/src/components/GroupedVerticalBarChart/GroupedVerticalBarChart.test.tsx
  packages/react-charting/src/components/HeatMapChart/HeatMapChart.base.tsx
  packages/react-charting/src/components/HeatMapChart/HeatMapChart.test.tsx
  packages/react-charting/src/components/HorizontalBarChart/HorizontalBarChart.base.tsx
  packages/react-charting/src/components/HorizontalBarChart/HorizontalBarChart.test.tsx
  packages/react-charting/src/components/LineChart/LineChart.base.tsx
  packages/react-charting/src/components/LineChart/LineChart.test.tsx
  packages/react-charting/src/components/PieChart/PieChart.base.tsx
  packages/react-charting/src/components/PieChart/PieChart.test.tsx
  packages/react-charting/src/components/SankeyChart/SankeyChart.base.tsx
  packages/react-charting/src/components/Sparkline/Sparkline.base.tsx
  packages/react-charting/src/components/Sparkline/Sparkline.test.tsx
  packages/react-charting/src/components/StackedBarChart/MultiStackedBarChart.base.tsx
  packages/react-charting/src/components/StackedBarChart/MultiStackedBarChart.test.tsx
  packages/react-charting/src/components/StackedBarChart/StackedBarChart.base.tsx
  packages/react-charting/src/components/StackedBarChart/StackedBarChart.test.tsx
  packages/react-charting/src/components/VerticalStackedBarChart/VerticalStackedBarChart.base.tsx
  packages/react-charting/src/components/VerticalStackedBarChart/VerticalStackedBarChart.test.tsx
Labels: Package: charting

#28041 Update AdvancedConfiguration.stories.mdx
  apps/public-docsite-v9/src/Concepts/AdvancedConfiguration.stories.mdx
Labels: Area: Website

#27999 chore: migrate to TS 4.6
  change/@fluentui-keyboard-keys-589c6e0c-8c91-4202-8310-113c77e80d35.json
  package.json
  packages/react-components/babel-preset-storybook-full-source/tsconfig.lib.json
  packages/react-components/keyboard-keys/etc/keyboard-keys.api.md
  packages/web-components/docs/api-report.md
  yarn.lock
Labels: Area: Build System, Area: Typescript

#28101 fix(react-conformance): custom classname prefix test option now works
  change/@fluentui-react-conformance-09db4fc5-2f5c-4dbe-a602-2c226cff5bab.json
  packages/react-conformance/src/defaultTests.tsx
Labels: Area: Build System

#27306 fix: v8 Dropdown multiselect option hover contrast in WHCM
  change/@fluentui-react-4cf263e9-5a59-4ce0-b9b1-a08d8baa5e67.json
  packages/react/src/components/Dropdown/Dropdown.styles.ts
  packages/react/src/components/Dropdown/__snapshots__/Dropdown.test.tsx.snap
Labels: Component: Dropdown

#28100 Message bar zoom
  change/@fluentui-react-bf3bb0f5-64ca-4492-be5c-82e7a6808157.json
  packages/react/src/components/MessageBar/MessageBar.styles.ts
  packages/react/src/components/MessageBar/__snapshots__/MessageBar.test.tsx.snap
Labels: Component: MessageBar

#28094 feat: Implement Toast using composition API
  change/@fluentui-react-utilities-d5e2a8b7-bfb3-4995-bd38-c0e77ebc6981.json
  packages/react-components/react-toast/etc/react-toast.api.md
  packages/react-components/react-toast/src/Toast.ts
  packages/react-components/react-toast/src/components/Timer/Timer.tsx
  packages/react-components/react-toast/src/components/Toast.tsx
  packages/react-components/react-toast/src/components/Toast/Toast.test.tsx
  packages/react-components/react-toast/src/components/Toast/Toast.tsx
  packages/react-components/react-toast/src/components/Toast/Toast.types.ts
  packages/react-components/react-toast/src/components/Toast/__snapshots__/Toast.test.tsx.snap
  packages/react-components/react-toast/src/components/Toast/index.ts
  packages/react-components/react-toast/src/components/Toast/renderToast.tsx
  packages/react-components/react-toast/src/components/Toast/useToast.ts
  packages/react-components/react-toast/src/components/Toast/useToastContextValues.ts
  packages/react-components/react-toast/src/components/Toast/useToastStyles.styles.ts
  packages/react-components/react-toast/src/state/types.ts
  packages/react-components/react-toast/src/state/useToastController.test.ts
  packages/react-components/react-toast/src/state/useToastController.ts
  packages/react-components/react-toast/src/state/vanilla/toaster.ts
  packages/react-components/react-toast/stories/Toast/UpdateToast.stories.tsx
  packages/react-components/react-utilities/src/utils/properties.ts
Labels: Component: Toast

#28015 Expose disabled property in IColorCellProps
  change/@fluentui-react-f8187229-7071-4c6a-be6e-1ea511a021e2.json
  packages/react/etc/react.api.md
  packages/react/src/components/SwatchColorPicker/ColorPickerGridCell.types.ts
  packages/react/src/components/SwatchColorPicker/SwatchColorPicker.base.tsx
Labels: PR: API Modified

#28143 fix(react-combobox): Option's checkIcon adds provided className at the end to avoid overrides
  change/@fluentui-react-combobox-a0ef5216-e89a-420a-9879-ec97275c3f1f.json
  packages/react-components/react-combobox/src/components/Option/useOptionStyles.styles.ts
Labels: Component: Dropdown, Component: ComboBox, Fluent UI react-components (v9)

#28064 [SwatchColorPicker] add a renderfunction as props to override cell content
  change/@fluentui-react-56abc8fc-36e8-4557-8cd9-2793648f0cba.json
  packages/react-examples/src/react/SwatchColorPicker/SwatchColorPicker.Basic.Example.tsx
  packages/react/etc/react.api.md
  packages/react/src/components/SwatchColorPicker/ColorPickerGridCell.base.tsx
  packages/react/src/components/SwatchColorPicker/ColorPickerGridCell.types.ts
  packages/react/src/components/SwatchColorPicker/SwatchColorPicker.base.tsx
  packages/react/src/components/SwatchColorPicker/SwatchColorPicker.types.ts
Labels: Component: SwatchColorPicker, PR: API Modified

#28092 Fixing bug for HBCWA for string variant
  change/@fluentui-react-charting-732ba88e-6417-4ecf-acf0-b9146fbbe5a2.json
  packages/react-charting/src/components/HorizontalBarChartWithAxis/HorizontalBarChartWithAxis.base.tsx
  packages/react-charting/src/components/HorizontalBarChartWithAxis/__snapshots__/HorizontalBarChartWithAxis.test.tsx.snap
Labels: Package: charting

#28151 feat: RTL support and rename
  packages/react-components/react-toast/etc/react-toast.api.md
  packages/react-components/react-toast/src/components/ToastContainer/ToastContainer.test.tsx
  packages/react-components/react-toast/src/components/Toaster/Toaster.types.ts
  packages/react-components/react-toast/src/components/Toaster/renderToaster.tsx
  packages/react-components/react-toast/src/components/Toaster/useToaster.tsx
  packages/react-components/react-toast/src/components/Toaster/useToasterStyles.styles.ts
  packages/react-components/react-toast/src/state/constants.ts
  packages/react-components/react-toast/src/state/types.ts
  packages/react-components/react-toast/src/state/useToaster.ts
  packages/react-components/react-toast/src/state/vanilla/getPositionStyles.ts
  packages/react-components/react-toast/src/state/vanilla/toaster.ts
  packages/react-components/react-toast/stories/Toast/DefaultToastOptions.stories.tsx
  packages/react-components/react-toast/stories/Toast/MultipleToasters.stories.tsx
  packages/react-components/react-toast/stories/Toast/Offset.stories.tsx
  packages/react-components/react-toast/stories/Toast/ToastPositions.stories.tsx
Labels: Component: Toast

#28119 feat: Support transform animations for positioned components
  change/@fluentui-react-menu-b6b9a274-48c6-45a5-b9e0-9ddb178e2e87.json
  change/@fluentui-react-popover-294ab825-ff7b-473c-9fb3-3a13bcac0d18.json
  change/@fluentui-react-positioning-c61dacab-10ae-4fd6-ad07-1d9b8308cf5f.json
  packages/react-components/react-menu/src/components/MenuPopover/useMenuPopoverStyles.styles.ts
  packages/react-components/react-popover/src/components/PopoverSurface/usePopoverSurfaceStyles.styles.ts
  packages/react-components/react-positioning/etc/react-positioning.api.md
  packages/react-components/react-positioning/src/createSlideStyles.ts
  packages/react-components/react-positioning/src/index.ts
Labels: Component: Menu

#28056 feat(react-datepicker-compat): Add null to value prop and handle controlled cases correctly
  change/@fluentui-react-datepicker-compat-6da0cd91-e9c0-4bdc-b670-d3dca86fb9a8.json
  packages/react-components/react-datepicker-compat/etc/react-datepicker-compat.api.md
  packages/react-components/react-datepicker-compat/src/components/DatePicker/DatePicker.test.tsx
  packages/react-components/react-datepicker-compat/src/components/DatePicker/DatePicker.types.ts
  packages/react-components/react-datepicker-compat/src/components/DatePicker/useDatePicker.tsx
  packages/react-components/react-datepicker-compat/stories/DatePicker/DatePickerControlled.stories.tsx
  packages/react-components/react-datepicker-compat/stories/DatePicker/DatePickerCustomDateFormatting.stories.tsx
Labels: Fluent UI react-components (v9), Component: DatePickerCompat

#28146 fix(react-avatar): Do not render the image when src prop is undefined
  change/@fluentui-react-avatar-d8ee1b7d-ba8b-46a7-8aa6-bf5d84ebdbfe.json
  packages/react-components/react-avatar/src/components/Avatar/Avatar.test.tsx
  packages/react-components/react-avatar/src/components/Avatar/useAvatar.tsx
Labels: Fluent UI react-components (v9), Component: Avatar

#28144 docs(react-infobutton): Update stories to show better guidance
  packages/react-components/react-infobutton/stories/Infobutton/InfoButtonDefault.stories.tsx
  packages/react-components/react-infobutton/stories/Infobutton/InfoButtonSize.stories.tsx
Labels: Fluent UI react-components (v9), Component: InfoButton

#28157 fix: Layer sets focus visible classname for its FocusRectsProvider
  change/@fluentui-react-13f13391-8a93-4b11-b3c6-cfccea4fcdee.json
  packages/react/src/components/Layer/Layer.base.tsx
  packages/react/src/components/Layer/Layer.test.tsx
Labels: Component: Layer

#28127 fix: ContextualMenu indexing in sections
  change/@fluentui-react-cb9f45ee-a6ad-4ffc-afb6-62a53daac1fe.json
  packages/react/src/components/ContextualMenu/ContextualMenu.base.tsx
  packages/react/src/components/ContextualMenu/ContextualMenu.test.tsx
Labels: Component: ContextualMenu

#28017 fix(react-datepicker-compat): Make DatePicker Compat stories SSR safe
  packages/react-components/react-datepicker-compat/stories/DatePicker/DatePickerDateBoundaries.stories.tsx
  packages/react-components/react-datepicker-compat/stories/DatePicker/DatePickerErrorHandling.stories.tsx
  scripts/test-ssr/src/commands/main.ts
Labels: Fluent UI react-components (v9), Component: DatePickerCompat

#27905 feat: export fluent design system from package
  change/@fluentui-web-components-7e0e66c4-c03c-4446-b95e-c785fa75cd4f.json
  packages/web-components/docs/api-report.md
  packages/web-components/src/index.ts
Labels: web-components

#28136 Datepicker onCalendarOpenStateChange prop
  packages/fluentui/CHANGELOG.md
  packages/fluentui/docs/src/examples/components/Datepicker/Types/DatepickerExampleOpen.shorthand.tsx
  packages/fluentui/react-northstar/src/components/Datepicker/Datepicker.tsx
Labels: Fluent UI react-northstar

#28182 fix: Outline color now respects OS force colors settings
  packages/fluentui/CHANGELOG.md
  packages/fluentui/react-northstar/src/themes/teams/getBorderFocusStyles.ts
Labels: Area: Accessibility, Fluent UI react-northstar

#28168 doc: Remove wrong recommendation from input
  packages/fluentui/CHANGELOG.md
  packages/fluentui/docs/src/examples/components/Input/BestPractices/InputBestPractices.tsx
Labels: Fluent UI react-northstar

#28208 ci: use ubuntu pool for size-auditor merge job
  azure-pipelines.bundlesize.yml
Labels: Area: Build System, CI

#27418 Re-enable DetailsList column resize
  change/@fluentui-react-dc639fb6-da75-4193-960d-f7e6a73c7d67.json
  packages/react/src/components/DetailsList/DetailsList.base.tsx
Labels: Component: DetailsList

#28188 fix(react-datepicker-compat): Do not move focus to the input on first render
  change/@fluentui-react-datepicker-compat-39a831ff-e1f1-48df-af17-ffcd7fdf7883.json
  packages/react-components/react-datepicker-compat/src/components/DatePicker/DatePicker.cy.tsx
  packages/react-components/react-datepicker-compat/src/components/DatePicker/useDatePicker.tsx
Labels: Component: DatePickerCompat

#28181 fix(react-textarea): Remove fixed height so rows prop works and add missing max-height
  change/@fluentui-react-textarea-e76e5d43-0fae-497e-a156-61458b2edcb4.json
  packages/react-components/react-textarea/src/components/Textarea/useTextareaStyles.styles.ts
Labels: Component: Textarea

#28175 feat: Implement toast lifecycle and onStatusChange handler
  packages/react-components/react-toast/etc/react-toast.api.md
  packages/react-components/react-toast/src/components/ToastContainer/ToastContainer.test.tsx
  packages/react-components/react-toast/src/components/ToastContainer/ToastContainer.types.ts
  packages/react-components/react-toast/src/components/ToastContainer/useToastContainer.ts
  packages/react-components/react-toast/src/index.ts
  packages/react-components/react-toast/src/state/types.ts
  packages/react-components/react-toast/src/state/useToast.ts
  packages/react-components/react-toast/src/state/vanilla/toaster.ts
  packages/react-components/react-toast/stories/Toast/DismissToast.stories.tsx
  packages/react-components/react-toast/stories/Toast/ToastLifecycle.stories.tsx
  packages/react-components/react-toast/stories/Toast/UpdateToast.stories.tsx
  packages/react-components/react-toast/stories/Toast/index.stories.tsx
Labels: Component: Toast

#28167 feat: Implement `focusMode` for DataGridCell
  change/@fluentui-react-table-a95df4e8-aec3-4fcc-b9c1-ddd8dd9aa848.json
  packages/react-components/react-table/etc/react-table.api.md
  packages/react-components/react-table/src/components/DataGrid/DataGrid.cy.tsx
  packages/react-components/react-table/src/components/DataGridCell/DataGridCell.types.ts
  packages/react-components/react-table/src/components/DataGridCell/useDataGridCell.ts
  packages/react-components/react-table/stories/DataGrid/FocusableElementsInCells.stories.tsx
  packages/react-components/react-table/stories/DataGrid/index.stories.tsx
  packages/react-components/react-table/stories/Table/FocusableElements.Cells.stories.tsx
  packages/react-components/react-table/stories/Table/index.stories.tsx
Labels: Area: Accessibility, Component: Table, Component: DataGrid

#28214 Disable focus on non-interactive elements
  change/@uifabric-charting-8aaeb60e-7c1d-4c6f-841e-49cadfe4b3a6.json
  packages/charting/src/components/HorizontalBarChart/HorizontalBarChart.base.tsx
  packages/charting/src/components/StackedBarChart/MultiStackedBarChart.base.tsx
  packages/charting/src/components/StackedBarChart/StackedBarChart.base.tsx
  packages/charting/src/components/StackedBarChart/__snapshots__/MultiStackedBarChart.test.tsx.snap
  packages/charting/src/components/StackedBarChart/__snapshots__/StackedBarChart.test.tsx.snap
  packages/charting/src/components/TreeChart/TreeChart.base.tsx
  packages/charting/src/components/TreeChart/__snapshots__/TreeChart.test.tsx.snap
Labels: Package: charting, Fabric 7

#28186 docs(react-infobutton): Adding information about why we are going with InfoIcon and InfoButton to the Spec
  packages/react-components/react-infobutton/docs/Spec.md
Labels: Component: InfoButton

#28203 chore: update version of react-icons to latest
  apps/recipes-react-components/package.json
  apps/stress-test/package.json
  apps/vr-tests-react-components/package.json
  change/@fluentui-react-accordion-9257ac81-db7d-4fa4-9697-ee88f22fe4b1.json
  change/@fluentui-react-alert-053c9699-fe26-4431-b2a3-a4e6aa8a10d8.json
  change/@fluentui-react-avatar-6d2b8431-50e1-4505-8b29-000e34096702.json
  change/@fluentui-react-badge-01f81838-7f5f-4f61-b9d3-42146d93407c.json
  change/@fluentui-react-button-e7fe5158-369d-4809-82c4-386eaf61731e.json
  change/@fluentui-react-checkbox-5d7b9deb-d12c-4f30-84bb-4552bdfdd730.json
  change/@fluentui-react-combobox-f2bc965d-ad2d-41c2-9564-852fd1746069.json
  change/@fluentui-react-datepicker-compat-d5ca61cc-e259-47bf-b7b3-3251154d7232.json
  change/@fluentui-react-dialog-6748ddfc-dc18-4930-a1a6-4e3fe357931d.json
  change/@fluentui-react-field-f6e3df3d-c8d7-49f2-acb6-20895c52cc91.json
  change/@fluentui-react-infobutton-ce74a783-fc10-4634-a052-c2e29c376a26.json
  change/@fluentui-react-menu-1e781eb1-1e70-454d-896b-91e615d13d81.json
  change/@fluentui-react-migration-v0-v9-56240770-bac2-4aaf-8d57-6ee6d2104536.json
  change/@fluentui-react-migration-v8-v9-c77959b9-6b10-4bd7-a186-e3bb9f5eafa4.json
  change/@fluentui-react-radio-d7d8f0a9-3303-41e6-bb84-59eeec3924ad.json
  change/@fluentui-react-select-2bda5a8d-90e7-4700-93ae-4336dab725fe.json
  change/@fluentui-react-spinbutton-148ddd64-8526-4045-90f7-d80bae3cdbbb.json
  change/@fluentui-react-switch-370dac0d-c029-49f6-9183-2d2bcbc04711.json
  change/@fluentui-react-table-aa97da2a-9b3c-4892-82ef-c918b7d78fe1.json
  change/@fluentui-react-tree-91098fb1-af1a-453b-9869-4db857003668.json
  package.json
  packages/react-components/react-accordion/package.json
  packages/react-components/react-alert/package.json
  packages/react-components/react-avatar/package.json
  packages/react-components/react-badge/package.json
  packages/react-components/react-badge/src/components/PresenceBadge/__snapshots__/PresenceBadge.test.tsx.snap
  packages/react-components/react-breadcrumb/package.json
  packages/react-components/react-button/package.json
  packages/react-components/react-checkbox/package.json
  packages/react-components/react-combobox/package.json
  packages/react-components/react-datepicker-compat/package.json
  packages/react-components/react-dialog/package.json
  packages/react-components/react-field/package.json
  packages/react-components/react-infobutton/package.json
  packages/react-components/react-menu/package.json
  packages/react-components/react-menu/src/components/MenuItemCheckbox/__snapshots__/MenuItemCheckbox.test.tsx.snap
  packages/react-components/react-menu/src/components/MenuItemRadio/__snapshots__/MenuItemRadio.test.tsx.snap
  packages/react-components/react-migration-v0-v9/package.json
  packages/react-components/react-migration-v8-v9/package.json
  packages/react-components/react-radio/package.json
  packages/react-components/react-select/package.json
  packages/react-components/react-spinbutton/package.json
  packages/react-components/react-switch/package.json
  packages/react-components/react-table/package.json
  packages/react-components/react-tags/package.json
  packages/react-components/react-toast/package.json
  packages/react-components/react-tree/package.json
  packages/react-components/theme-designer/package.json
  yarn.lock
Labels: Area: Icons

#27791 feat(tokens): Add/update theme tokens
  apps/public-docsite-v9/src/Concepts/Migration/FromV8/ThemeColors/colorMap.ts
  apps/public-docsite-v9/src/shims/ThemeShim/v9ThemeShim.ts
  change/@fluentui-react-migration-v8-v9-8f5aa54e-09af-40d7-8d1b-48b603d3ca88.json
  change/@fluentui-react-table-01d8f535-459b-49ce-98da-dfe35961923c.json
  change/@fluentui-react-theme-sass-906c4792-b060-4628-b52f-8f27a864d8e1.json
  change/@fluentui-tokens-19f04d6b-7899-48d5-81a4-2c81b15d4d1f.json
  packages/react-components/react-migration-v8-v9/src/components/Theme/v9ThemeShim.ts
  packages/react-components/react-table/src/components/TableRow/useTableRowStyles.styles.ts
  packages/react-components/react-theme-sass/sass/colorTokens.scss
  packages/tokens/etc/tokens.api.md
  packages/tokens/src/alias/darkColor.ts
  packages/tokens/src/alias/highContrastColor.ts
  packages/tokens/src/alias/lightColor.ts
  packages/tokens/src/alias/teamsDarkColor.ts
  packages/tokens/src/tokens.ts
  packages/tokens/src/types.ts
Labels: Area: Slots/Tokens Conversion

#28067 chore: migrate to TS 4.7
  change/@fluentui-api-docs-7e266cc5-ae8b-46da-b22b-e985218f53b8.json
  change/@fluentui-date-time-utilities-4c4aa9e9-90bb-41a0-bf9a-2dfb71e7225d.json
  change/@fluentui-react-c7a29270-edda-4443-ac6b-3e6726f93ee6.json
  change/@fluentui-react-experiments-86254b1a-bb55-4f56-8958-c6c3ae1e1ae7.json
  change/@fluentui-react-migration-v8-v9-88a794f5-92e2-49f3-a5ff-cef44b75db12.json
  change/@fluentui-react-positioning-51a66b94-7733-4fb6-a73f-7aa47f67f21d.json
  change/@fluentui-react-shared-contexts-6abfa676-0116-42b0-90ce-1c3b3050084d.json
  change/@fluentui-react-tabster-822660c5-1fae-47bd-8a8f-673d210610a5.json
  change/@fluentui-react-virtualizer-a2abc531-b693-4972-8dd3-0f6351663f49.json
  change/@fluentui-tokens-6d7634ab-d750-45b2-94f8-71cf02182dae.json
  change/@fluentui-utilities-6c590fec-07b4-4e45-855c-5f71bf154b05.json
  package.json
  packages/api-docs/package.json
  packages/date-time-utilities/etc/date-time-utilities.api.md
  packages/fluentui/react-northstar/src/components/Portal/Portal.tsx
  packages/react-components/react-breadcrumb/etc/react-breadcrumb.api.md
  packages/react-components/react-migration-v8-v9/etc/react-migration-v8-v9.api.md
  packages/react-components/react-positioning/etc/react-positioning.api.md
  packages/react-components/react-shared-contexts/etc/react-shared-contexts.api.md
  packages/react-components/react-tabster/etc/react-tabster.api.md
  packages/react-components/react-toast/etc/react-toast.api.md
  packages/react-components/react-virtualizer/etc/react-virtualizer.api.md
  packages/react-experiments/src/components/FloatingSuggestions/FloatingSuggestions.tsx
  packages/react/etc/react.api.md
  packages/tokens/src/themeToTokensObject.ts
  packages/utilities/src/warn/warnControlledUsage.ts
  scripts/storybook/src/utils.js
  tools/generators/migrate-converged-pkg/index.ts
  yarn.lock
Labels: Area: Typescript, PR: API Modified

#28011 Overflow divider fix
  change/@fluentui-priority-overflow-8e128a48-5402-4886-b088-900334ce1883.json
  change/@fluentui-react-components-7b21b68d-a82b-4ee6-802c-cdbba6a8b25d.json
  change/@fluentui-react-overflow-96369afb-91ef-4417-88b6-bd79e7796730.json
  packages/react-components/priority-overflow/etc/priority-overflow.api.md
  packages/react-components/priority-overflow/src/consts.ts
  packages/react-components/priority-overflow/src/index.ts
  packages/react-components/priority-overflow/src/overflowManager.ts
  packages/react-components/priority-overflow/src/types.ts
  packages/react-components/react-breadcrumb/stories/Breadcrumb/BreadcrumbWithOverflow.stories.tsx
  packages/react-components/react-components/etc/react-components.api.md
  packages/react-components/react-components/src/index.ts
  packages/react-components/react-overflow/etc/react-overflow.api.md
  packages/react-components/react-overflow/src/Overflow.cy.tsx
  packages/react-components/react-overflow/src/components/Overflow.tsx
  packages/react-components/react-overflow/src/components/OverflowDivider/OverflowDivider.tsx
  packages/react-components/react-overflow/src/components/OverflowDivider/OverflowDivider.types.ts
  packages/react-components/react-overflow/src/constants.ts
  packages/react-components/react-overflow/src/index.ts
  packages/react-components/react-overflow/src/overflowContext.ts
  packages/react-components/react-overflow/src/types.ts
  packages/react-components/react-overflow/src/useOverflowContainer.test.ts
  packages/react-components/react-overflow/src/useOverflowContainer.ts
  packages/react-components/react-overflow/src/useOverflowDivider.ts
  packages/react-components/react-overflow/stories/Overflow/LargerDividers.stories.tsx
  packages/react-components/react-overflow/stories/Overflow/index.stories.tsx
Labels: Status: Fix Proposed

#28239 Fix overlapping axis labels on smaller viewports
  change/@fluentui-react-charting-1f77b865-250d-4cb3-bb5a-93fbdbf94a7c.json
  packages/react-charting/src/components/AreaChart/__snapshots__/AreaChart.test.tsx.snap
  packages/react-charting/src/components/CommonComponents/CartesianChart.base.tsx
  packages/react-charting/src/components/CommonComponents/CartesianChart.styles.ts
  packages/react-charting/src/components/CommonComponents/CartesianChart.types.ts
  packages/react-charting/src/components/GroupedVerticalBarChart/__snapshots__/GroupedVerticalBarChart.test.tsx.snap
  packages/react-charting/src/components/HeatMapChart/__snapshots__/HeatMapChart.test.tsx.snap
  packages/react-charting/src/components/HorizontalBarChartWithAxis/__snapshots__/HorizontalBarChartWithAxis.test.tsx.snap
  packages/react-charting/src/components/LineChart/LineChart.base.tsx
  packages/react-charting/src/components/LineChart/__snapshots__/LineChart.test.tsx.snap
  packages/react-charting/src/components/VerticalBarChart/__snapshots__/VerticalBarChart.test.tsx.snap
  packages/react-charting/src/components/VerticalStackedBarChart/__snapshots__/VerticalStackedBarChart.test.tsx.snap
  packages/react-charting/src/utilities/utilities.ts
Labels: Package: charting

#28097 fix: TableHeaderCell should not render button when not sortable
  change/@fluentui-react-table-a86be917-7fe4-41a7-a5aa-19d22c2aa1f8.json
  packages/react-components/react-table/package.json
  packages/react-components/react-table/src/components/DataGridHeaderCell/__snapshots__/DataGridHeaderCell.test.tsx.snap
  packages/react-components/react-table/src/components/TableHeaderCell/TableHeaderCell.test.tsx
  packages/react-components/react-table/src/components/TableHeaderCell/__snapshots__/TableHeaderCell.test.tsx.snap
  packages/react-components/react-table/src/components/TableHeaderCell/useTableHeaderCell.tsx
  packages/react-components/react-table/src/components/TableHeaderCell/useTableHeaderCellStyles.styles.ts
Labels: Area: Accessibility, Component: Table

#28258 react-dialog(bugfix): Ensures dialog actions stretches on breakpoints
  change/@fluentui-react-dialog-1d49c035-4bba-4e6d-9df2-5ed5fe7cad97.json
  packages/react-components/react-dialog/src/components/DialogActions/useDialogActionsStyles.styles.ts
Labels: Component: Dialog, Fluent UI react-components (v9)

#28176 docs(react-dialog): update DialogTriggerOutsideDialog to include focus behavior
  packages/react-components/react-dialog/stories/Dialog/DialogTriggerOutsideDialog.md
  packages/react-components/react-dialog/stories/Dialog/DialogTriggerOutsideDialog.stories.tsx
Labels: Area: Documentation, Component: Dialog

#28264 Tooltip : updated tooltip styles
  apps/vr-tests-react-components/src/stories/Tooltip.stories.tsx
  change/@fluentui-react-tooltip-0c7f8278-85ad-44f1-82b3-8048cf63b2e7.json
  packages/react-components/react-tooltip/src/components/Tooltip/useTooltipStyles.styles.ts
Labels: Component: Tooltip

#28266 fix(react-card): infer a11y id from immediate header element
  change/@fluentui-react-card-e65cb71c-d483-449c-b1cb-b6b23d07f25b.json
  packages/react-components/react-card/src/components/Card/Card.cy.tsx
  packages/react-components/react-card/src/components/CardHeader/useCardHeader.ts
Labels: Type: Feature, Component: Card, Fluent UI react-components (v9)

#28197 Doc: Tree Infinite Scrolling
  packages/react-components/react-tree/stories/D_flatTree/TreeInfiniteScrolling.md
  packages/react-components/react-tree/stories/D_flatTree/TreeInfiniteScrolling.stories.tsx
  packages/react-components/react-tree/stories/D_flatTree/index.stories.tsx
Labels: Fluent UI react-components (v9), Component: Tree

#28272 bugfix: adds grid-template-columns to DialogBody styles to ensure grid template layout
  change/@fluentui-react-dialog-46140418-eae5-48fe-beea-485764cb1dfa.json
  packages/react-components/react-dialog/src/components/DialogBody/useDialogBodyStyles.styles.ts
Labels: Component: Dialog, Fluent UI react-components (v9)

#28273 Fix overlapping axis labels on smaller viewports
  change/@uifabric-charting-8b8460f0-0d39-4472-a435-f031b33918cb.json
  packages/charting/package.json
  packages/charting/src/components/AreaChart/__snapshots__/AreaChart.test.tsx.snap
  packages/charting/src/components/CommonComponents/CartesianChart.base.tsx
  packages/charting/src/components/CommonComponents/CartesianChart.styles.ts
  packages/charting/src/components/CommonComponents/CartesianChart.types.ts
  packages/charting/src/components/GroupedVerticalBarChart/__snapshots__/GroupedVerticalBarChart.test.tsx.snap
  packages/charting/src/components/HeatMapChart/__snapshots__/HeatMapChart.test.tsx.snap
  packages/charting/src/components/LineChart/LineChart.base.tsx
  packages/charting/src/components/LineChart/__snapshots__/LineChart.test.tsx.snap
  packages/charting/src/components/VerticalBarChart/__snapshots__/VerticalBarChart.test.tsx.snap
  packages/charting/src/components/VerticalStackedBarChart/__snapshots__/VerticalStackedBarChart.test.tsx.snap
  packages/charting/src/utilities/utilities.ts
  yarn.lock
Labels: Fabric 7

#28282 docs(react-drawer): improve type descriptions and fix TS circular references
  change/@fluentui-react-drawer-abefd0d8-1c44-421b-96e5-723c20a91d46.json
  packages/react-components/react-drawer/etc/react-drawer.api.md
  packages/react-components/react-drawer/src/components/Drawer/Drawer.types.ts
  packages/react-components/react-drawer/src/components/DrawerInline/DrawerInline.types.ts
  packages/react-components/react-drawer/src/components/DrawerOverlay/DrawerOverlay.types.ts
  packages/react-components/react-drawer/src/components/DrawerOverlay/useDrawerOverlay.ts
  packages/react-components/react-drawer/src/components/DrawerOverlay/useDrawerOverlayStyles.styles.ts
  packages/react-components/react-drawer/src/util/DrawerBase.types.ts
  packages/react-components/react-drawer/src/util/getDefaultDrawerProps.ts
Labels: Component: Drawer

#28284 docs(react-drawer): add missing documentation for Drawer stories
  packages/react-components/react-drawer/stories/Drawer/DrawerAlwaysOpen.stories.tsx
  packages/react-components/react-drawer/stories/Drawer/DrawerCustomSize.stories.tsx
  packages/react-components/react-drawer/stories/Drawer/DrawerDescription.md
  packages/react-components/react-drawer/stories/Drawer/DrawerInline.stories.tsx
  packages/react-components/react-drawer/stories/Drawer/DrawerOverlay.stories.tsx
  packages/react-components/react-drawer/stories/Drawer/DrawerOverlayNoModal.stories.tsx
  packages/react-components/react-drawer/stories/Drawer/DrawerPosition.stories.tsx
  packages/react-components/react-drawer/stories/Drawer/DrawerPreventClose.stories.tsx
  packages/react-components/react-drawer/stories/Drawer/DrawerResizable.stories.tsx
  packages/react-components/react-drawer/stories/Drawer/DrawerResponsive.stories.tsx
  packages/react-components/react-drawer/stories/Drawer/DrawerSeparator.stories.tsx
  packages/react-components/react-drawer/stories/Drawer/DrawerSize.stories.tsx
  packages/react-components/react-drawer/stories/Drawer/DrawerWithNavigation.stories.tsx
  packages/react-components/react-drawer/stories/Drawer/DrawerWithScroll.stories.tsx
Labels: Type: Documentation, Component: Drawer

#28293 [Documentation]: Add information about `aria-label` on the surface if there is no DialogTitle in the best practices.
  packages/react-components/react-dialog/stories/Dialog/DialogBestPractices.md
Labels: Component: Dialog, Fluent UI react-components (v9)

#28276 bugfix: enables Escape to dismiss alert Dialog
  change/@fluentui-react-dialog-4d1d8aec-a33c-4349-94f9-0bf5d23870c0.json
  packages/react-components/react-dialog/src/components/Dialog/Dialog.cy.tsx
  packages/react-components/react-dialog/src/components/DialogSurface/useDialogSurface.ts
  packages/react-components/react-dialog/src/components/DialogTrigger/DialogTrigger.tsx
  packages/react-components/react-dialog/src/components/DialogTrigger/index.ts
  packages/react-components/react-dialog/src/components/DialogTrigger/useDialogTrigger.ts
  packages/react-components/react-dialog/src/utils/index.ts
  packages/react-components/react-dialog/src/utils/isEscapeKeyDown.ts
Labels: Component: Dialog, Fluent UI react-components (v9)

#28262 Yushsingla/event annotation bug fix
  change/@fluentui-react-charting-ca6f0358-0984-4a56-a217-1a90287fc9d7.json
  packages/react-charting/src/components/LineChart/LineChart.base.tsx
  packages/react-charting/src/components/LineChart/LineChart.types.ts
  packages/react-charting/src/components/LineChart/eventAnnotation/EventAnnotation.tsx
  packages/react-charting/src/components/LineChart/eventAnnotation/LabelLink.tsx
  packages/react-examples/src/react-charting/LineChart/LineChart.Events.Example.tsx
Labels: Package: charting

#28240 chore(web-components-v3): cherry-pick some changes to fix CI check
  .codesandbox/ci.json
  .devops/templates/tools.yml
  .github/workflows/check-packages.yml
  .github/workflows/docsite-publish-chromatic.yml
  .github/workflows/docsite-publish-ghpages.yml
  apps/ts-minbar-test-react/src/index.ts
  azure-pipelines.bundlesize.yml
  package.json
  packages/react-components/global-context/src/types.ts
  packages/react/etc/react.api.md
  packages/react/src/components/Tooltip/Tooltip.types.ts
  packages/react/src/components/Tooltip/TooltipHost.types.ts
  yarn.lock
Labels: PR: API Modified

#28231 feat(scripts-bundle-size-auditor): refactor test-bundles app into a generic CLI tool that enables faster CI
  .github/CODEOWNERS
  apps/test-bundles/.eslintrc.json
  apps/test-bundles/CHANGELOG.json
  apps/test-bundles/CHANGELOG.md
  apps/test-bundles/just.config.ts
  apps/test-bundles/package.json
  apps/test-bundles/scripts/bundle-size-collect.ts
  apps/test-bundles/scripts/merge-bundlesizes.ts
  apps/test-bundles/webpack.config.js
  apps/test-bundles/webpackUtils.js
  azure-pipelines.bundlesize.yml
  change/@fluentui-react-7c0452ba-90de-488a-b196-6fa727c27fcc.json
  lage.config.js
  packages/fluentui/react-northstar/bundle-size-auditor.config.js
  packages/fluentui/react-northstar/package.json
  packages/react/bundle-size-auditor.config.js
  packages/react/package.json
  scripts/bundle-size-auditor/README.md
  scripts/bundle-size-auditor/__fixtures__/proj-one/bundle-size-auditor.config.js
  scripts/bundle-size-auditor/__fixtures__/proj-one/lib-dist/hello.js
  scripts/bundle-size-auditor/__fixtures__/proj-one/lib-dist/index.js
  scripts/bundle-size-auditor/__fixtures__/proj-one/package.json
  scripts/bundle-size-auditor/bin/bundle-size-auditor.js
  scripts/bundle-size-auditor/jest.config.js
  scripts/bundle-size-auditor/package.json
  scripts/bundle-size-auditor/src/bundle-size-collect.ts
  scripts/bundle-size-auditor/src/cli.spec.ts
  scripts/bundle-size-auditor/src/cli.ts
  scripts/bundle-size-auditor/src/index.dev.js
  scripts/bundle-size-auditor/src/index.ts
  scripts/bundle-size-auditor/src/merge-bundlesizes.ts
  scripts/bundle-size-auditor/src/types.ts
  scripts/bundle-size-auditor/src/typings.d.ts
  scripts/bundle-size-auditor/src/utils.ts
  scripts/bundle-size-auditor/tsconfig.json
  scripts/bundle-size-auditor/tsconfig.lib.json
  scripts/bundle-size-auditor/tsconfig.spec.json
  scripts/generators/bundle-size-collect.js
  workspace.json
Labels: Area: Build System, Fluent UI react-northstar (v0), Fluent UI react (v8), CI

#28222 feat (web-components-v3): Add dedicated vr-tests package and integrate with Visual Regression Pipelines
  .github/CODEOWNERS
  apps/vr-tests-web-components/.eslintrc.json
  apps/vr-tests-web-components/.storybook/main.cjs
  apps/vr-tests-web-components/.storybook/manager.mjs
  apps/vr-tests-web-components/.storybook/preview.mjs
  apps/vr-tests-web-components/jest.config.cjs
  apps/vr-tests-web-components/package.json
  apps/vr-tests-web-components/src/stories/accordion/accordion.stories.tsx
  apps/vr-tests-web-components/tsconfig.json
  azure-pipelines.vrt-baseline-web-components.yml
  azure-pipelines.vrt-baseline.yml
  azure-pipelines.vrt-pr.yml
  package.json
  packages/tokens/src/themeToTokensObject.ts
  workspace.json
  yarn.lock
Labels: Area: Build System, web-components

#28303 fix: v8 Rating should update in response to keyboard events, not focus events
  change/@fluentui-react-6c10b703-0791-4201-9290-ebec3fd9c545.json
  packages/react/src/components/Rating/Rating.base.tsx
  packages/react/src/components/Rating/Rating.test.tsx
  packages/react/src/components/Rating/__snapshots__/Rating.test.tsx.snap
Labels: Component: Rating

#28318 React-tree/bugfix--aside-and-actions-as-slot
  change/@fluentui-react-components-cfd94485-f07f-40c8-8ca6-d3ec189c281f.json
  change/@fluentui-react-tree-94af39e0-8f2d-4a55-85bd-28d9adb75af0.json
  packages/react-components/react-components/etc/react-components.unstable.api.md
  packages/react-components/react-components/src/unstable/index.ts
  packages/react-components/react-tree/etc/react-tree.api.md
  packages/react-components/react-tree/src/TreeItemAside.ts
  packages/react-components/react-tree/src/components/Tree/Tree.cy.tsx
  packages/react-components/react-tree/src/components/TreeItem/useTreeItemStyles.styles.ts
  packages/react-components/react-tree/src/components/TreeItemAside/TreeItemAside.test.tsx
  packages/react-components/react-tree/src/components/TreeItemAside/TreeItemAside.tsx
  packages/react-components/react-tree/src/components/TreeItemAside/TreeItemAside.types.ts
  packages/react-components/react-tree/src/components/TreeItemAside/__snapshots__/TreeItemAside.test.tsx.snap
  packages/react-components/react-tree/src/components/TreeItemAside/index.ts
  packages/react-components/react-tree/src/components/TreeItemAside/renderTreeItemAside.tsx
  packages/react-components/react-tree/src/components/TreeItemAside/useTreeItemAside.ts
  packages/react-components/react-tree/src/components/TreeItemAside/useTreeItemAsideStyles.styles.ts
  packages/react-components/react-tree/src/components/TreeItemLayout/TreeItemLayout.test.tsx
  packages/react-components/react-tree/src/components/TreeItemLayout/TreeItemLayout.types.ts
  packages/react-components/react-tree/src/components/TreeItemLayout/renderTreeItemLayout.tsx
  packages/react-components/react-tree/src/components/TreeItemLayout/useTreeItemLayout.tsx
  packages/react-components/react-tree/src/components/TreeItemLayout/useTreeItemLayoutStyles.styles.ts
  packages/react-components/react-tree/src/components/TreeItemPersonaLayout/TreeItemPersonaLayout.test.tsx
  packages/react-components/react-tree/src/components/TreeItemPersonaLayout/TreeItemPersonaLayout.types.ts
  packages/react-components/react-tree/src/components/TreeItemPersonaLayout/__snapshots__/TreeItemPersonaLayout.test.tsx.snap
  packages/react-components/react-tree/src/components/TreeItemPersonaLayout/renderTreeItemPersonaLayout.tsx
  packages/react-components/react-tree/src/components/TreeItemPersonaLayout/useTreeItemPersonaLayout.tsx
  packages/react-components/react-tree/src/components/TreeItemPersonaLayout/useTreeItemPersonaLayoutStyles.styles.ts
  packages/react-components/react-tree/src/index.ts
  packages/react-components/react-tree/stories/B_TreeItem/TreeItemActions.stories.tsx
  packages/react-components/react-tree/stories/C_Layouts/LayoutsDefault.stories.tsx
  packages/react-components/react-tree/stories/C_Layouts/TreeItemLayout.stories.tsx
  packages/react-components/react-tree/stories/C_Layouts/TreeItemLayoutAside.stories.tsx
  packages/react-components/react-tree/stories/C_Layouts/TreeItemPersonaLayout.stories.tsx
  packages/react-components/react-tree/stories/C_Layouts/TreeItemPersonaLayoutReadUnread.stories.tsx
  packages/react-components/react-tree/stories/D_flatTree/TreeItemAddRemove.stories.tsx
Labels: Fluent UI react-components (v9), Component: Tree

#28291 feat: Observed element hooks
  change/@fluentui-react-components-c657e5d0-310f-4d2d-a635-1b8e3f8030bc.json
  change/@fluentui-react-tabster-ba4d3383-0449-4ed9-837f-486329ef158a.json
  packages/react-components/react-components/etc/react-components.api.md
  packages/react-components/react-components/src/index.ts
  packages/react-components/react-components/stories/Concepts/FocusManagement/useArrowNavigationGoup/Axis.stories.tsx
  packages/react-components/react-components/stories/Concepts/FocusManagement/useArrowNavigationGoup/CircularNavigation.stories.tsx
  packages/react-components/react-components/stories/Concepts/FocusManagement/useArrowNavigationGoup/Default.stories.tsx
  packages/react-components/react-components/stories/Concepts/FocusManagement/useArrowNavigationGoup/Memorize.stories.tsx
  packages/react-components/react-components/stories/Concepts/FocusManagement/useArrowNavigationGoup/index.stories.tsx
  packages/react-components/react-components/stories/Concepts/FocusManagement/useArrowNavigationGoup/useArrowNavigationGroupDescription.md
  packages/react-components/react-components/stories/Concepts/FocusManagement/useFocusFinders/Default.stories.tsx
  packages/react-components/react-components/stories/Concepts/FocusManagement/useFocusFinders/FindAllWhere.stories.tsx
  packages/react-components/react-components/stories/Concepts/FocusManagement/useFocusFinders/FindFirst.stories.tsx
  packages/react-components/react-components/stories/Concepts/FocusManagement/useFocusFinders/FindLast.stories.tsx
  packages/react-components/react-components/stories/Concepts/FocusManagement/useFocusFinders/FindNext.stories.tsx
  packages/react-components/react-components/stories/Concepts/FocusManagement/useFocusFinders/FindPrevious.stories.tsx
  packages/react-components/react-components/stories/Concepts/FocusManagement/useFocusFinders/index.stories.tsx
  packages/react-components/react-components/stories/Concepts/FocusManagement/useFocusFinders/useFocusFindersDescription.md
  packages/react-components/react-components/stories/Concepts/FocusManagement/useFocusableGroup/Default.stories.tsx
  packages/react-components/react-components/stories/Concepts/FocusManagement/useFocusableGroup/Limited.stories.tsx
  packages/react-components/react-components/stories/Concepts/FocusManagement/useFocusableGroup/LimitedTrapFocus.stories.tsx
  packages/react-components/react-components/stories/Concepts/FocusManagement/useFocusableGroup/index.stories.tsx
  packages/react-components/react-components/stories/Concepts/FocusManagement/useFocusableGroup/useFocusableGroupDescription.md
  packages/react-components/react-components/stories/Concepts/FocusManagement/useModalAttributes/Default.stories.tsx
  packages/react-components/react-components/stories/Concepts/FocusManagement/useModalAttributes/InertFocusTrap.stories.tsx
  packages/react-components/react-components/stories/Concepts/FocusManagement/useModalAttributes/index.stories.tsx
  packages/react-components/react-components/stories/Concepts/FocusManagement/useModalAttributes/useModalAttributesDescription.md
  packages/react-components/react-components/stories/Concepts/FocusManagement/useObservedElement/Default.stories.tsx
  packages/react-components/react-components/stories/Concepts/FocusManagement/useObservedElement/MultipleNames.stories.tsx
  packages/react-components/react-components/stories/Concepts/FocusManagement/useObservedElement/index.stories.tsx
  packages/react-components/react-components/stories/Concepts/FocusManagement/useObservedElement/useObservedElementDescription.md
  packages/react-components/react-tabster/etc/react-tabster.api.md
  packages/react-components/react-tabster/src/hooks/index.ts
  packages/react-components/react-tabster/src/hooks/useFocusObserved.ts
  packages/react-components/react-tabster/src/hooks/useObservedElement.ts
  packages/react-components/react-tabster/src/index.ts
  packages/react-components/react-tabster/src/useFocusObserved.cy.tsx
Labels: Area: Documentation

#27403 fix: Dropdown and Combobox do not use separator role
  change/@fluentui-react-3572eea0-ee5a-42be-a74b-ecdc134fa6f1.json
  packages/react/src/components/ComboBox/ComboBox.tsx
  packages/react/src/components/ComboBox/__snapshots__/ComboBox.test.tsx.snap
  packages/react/src/components/Dropdown/Dropdown.base.tsx
  packages/react/src/components/Dropdown/__snapshots__/Dropdown.test.tsx.snap
Labels: Area: Accessibility, Component: Dropdown

#28342 fix: Checking for the existence of addEventListener on element coming from context in useFocusRects
  change/@fluentui-utilities-e9131211-ff24-4edd-96f2-f3a4a4a68fc7.json
  packages/utilities/src/useFocusRects.ts
Labels: Package: utilities, Fluent UI react (v8)

#28344 chore: exports context creation hooks for the tree
  change/@fluentui-react-components-dabd9a7d-99e5-40e6-83c8-5974c0920759.json
  change/@fluentui-react-tree-f2015dec-0614-4add-a552-b251242fca65.json
  packages/react-components/react-components/etc/react-components.unstable.api.md
  packages/react-components/react-components/src/unstable/index.ts
  packages/react-components/react-tree/etc/react-tree.api.md
  packages/react-components/react-tree/src/components/TreeItem/index.ts
  packages/react-components/react-tree/src/index.ts
Labels: Fluent UI react-components (v9), Component: Tree

#28320 [Bug]: Tree - TreeItem leaf and branch are not aligned
  change/@fluentui-react-tree-816beea2-f6e6-48f9-8dbc-d3bb8c34bd02.json
  packages/react-components/react-tree/etc/react-tree.api.md
  packages/react-components/react-tree/src/components/TreeItemLayout/TreeItemLayout.types.ts
  packages/react-components/react-tree/src/components/TreeItemLayout/__snapshots__/TreeItemLayout.test.tsx.snap
  packages/react-components/react-tree/src/components/TreeItemLayout/renderTreeItemLayout.tsx
  packages/react-components/react-tree/src/components/TreeItemLayout/useTreeItemLayout.tsx
  packages/react-components/react-tree/src/components/TreeItemLayout/useTreeItemLayoutStyles.styles.ts
  packages/react-components/react-tree/src/components/TreeItemPersonaLayout/TreeItemPersonaLayout.types.ts
  packages/react-components/react-tree/src/components/TreeItemPersonaLayout/__snapshots__/TreeItemPersonaLayout.test.tsx.snap
  packages/react-components/react-tree/src/components/TreeItemPersonaLayout/renderTreeItemPersonaLayout.tsx
  packages/react-components/react-tree/src/components/TreeItemPersonaLayout/useTreeItemPersonaLayout.tsx
  packages/react-components/react-tree/src/components/TreeItemPersonaLayout/useTreeItemPersonaLayoutStyles.styles.ts
  packages/react-components/react-tree/stories/A_Tree/TreeDefault.stories.tsx
  packages/react-components/react-tree/stories/C_Layouts/TreeItemLayoutIconBefore.stories.tsx
Labels: Fluent UI react-components (v9), Component: Tree

#28347 fix: update dependency mismatches introduced within apps after v8 release
  apps/public-docsite-v9/package.json
  apps/stress-test/package.json
Labels: Area: Build System, CI

#28348 chore: adds internal tag on jsdocs for getSlotsNext
  change/@fluentui-react-utilities-f1dc6a83-6fd4-4d86-a5ef-b68f5420ea11.json
  packages/react-components/react-utilities/etc/react-utilities.api.md
  packages/react-components/react-utilities/src/compose/getSlotsNext.ts
Labels: Package: utilities, Fluent UI react-components (v9)

#28362 chore: Exporting CSS files in @fluentui/react package
  change/@fluentui-react-b3b9e7bb-d031-4766-b6f1-595b8c3892b9.json
  packages/react/package.json
Labels: Area: Packaging

#28356 feat: Add imperative pause/play for toasts
  packages/react-components/react-toast/etc/react-toast.api.md
  packages/react-components/react-toast/src/components/Toast/Toast.cy.tsx
  packages/react-components/react-toast/src/state/constants.ts
  packages/react-components/react-toast/src/state/types.ts
  packages/react-components/react-toast/src/state/useToastController.test.ts
  packages/react-components/react-toast/src/state/useToastController.ts
  packages/react-components/react-toast/src/state/useToaster.ts
  packages/react-components/react-toast/src/state/vanilla/index.ts
  packages/react-components/react-toast/src/state/vanilla/pauseToast.ts
  packages/react-components/react-toast/src/state/vanilla/playToast.ts
  packages/react-components/react-toast/stories/Toast/PauseAndPlay.stories.tsx
  packages/react-components/react-toast/stories/Toast/index.stories.tsx
Labels: Fluent UI react-components (v9), Component: Toast

#28365 bugfix: removes default prevention verification on selection
  change/@fluentui-react-utilities-881a428e-b3dc-4761-8ecf-c874364e95c5.json
  packages/react-components/react-table/src/testing/mockSyntheticEvent.ts
  packages/react-components/react-utilities/src/selection/useSelection.ts
  packages/react-components/react-utilities/src/testing/mockSyntheticEvent.ts
Labels: Package: utilities, Fluent UI react-components (v9)

#27263 [1 of N] Optimizing Line, Area and Utility code for performance improvement
  change/@fluentui-react-charting-effaa597-2236-4e8c-b8f3-91a2422c9f44.json
  packages/react-charting/jest.config.js
  packages/react-charting/package.json
  packages/react-charting/src/components/AreaChart/AreaChart.base.tsx
  packages/react-charting/src/components/AreaChart/AreaChart.types.ts
  packages/react-charting/src/components/AreaChart/__snapshots__/AreaChart.test.tsx.snap
  packages/react-charting/src/components/DonutChart/__snapshots__/DonutChart.test.tsx.snap
  packages/react-charting/src/components/DonutChart/__snapshots__/DonutChartRTL.test.tsx.snap
  packages/react-charting/src/components/LineChart/LineChart.base.tsx
  packages/react-charting/src/components/PieChart/__snapshots__/PieChart.test.tsx.snap
  packages/react-charting/src/components/SankeyChart/__snapshots__/SankeyChart.test.tsx.snap
  packages/react-charting/src/components/Sparkline/__snapshots__/Sparkline.test.tsx.snap
  packages/react-charting/src/utilities/utilities.ts
  packages/react-examples/src/react-charting/AreaChart/AreaChart.Basic.Example.tsx
  packages/react-examples/src/react-charting/AreaChart/AreaChart.CustomAccessibility.Example.tsx
  packages/react-examples/src/react-charting/AreaChart/AreaChart.DataChange.Example.tsx
  packages/react-examples/src/react-charting/AreaChart/AreaChart.Multiple.Example.tsx
  packages/react-examples/src/react-charting/AreaChart/AreaChart.Styled.Example.tsx
  packages/react-examples/src/react-charting/AreaChart/AreaChartPage.tsx
  yarn.lock
Labels: Package: charting

#28341 feat(Link): Inverted background styles
  apps/vr-tests-react-components/src/stories/Link.stories.tsx
  change/@fluentui-react-link-d1ec7ea6-199b-40cb-8f68-542157ee822f.json
  change/@fluentui-react-shared-contexts-0403852a-f4d3-4401-bc65-527ccffc9534.json
  packages/react-components/react-link/etc/react-link.api.md
  packages/react-components/react-link/package.json
  packages/react-components/react-link/src/components/Link/Link.types.ts
  packages/react-components/react-link/src/components/Link/useLink.ts
  packages/react-components/react-link/src/components/Link/useLinkStyles.styles.ts
  packages/react-components/react-shared-contexts/etc/react-shared-contexts.api.md
  packages/react-components/react-shared-contexts/src/BackgroundAppearanceContext/BackgroundAppearanceContext.ts
  packages/react-components/react-shared-contexts/src/BackgroundAppearanceContext/index.ts
  packages/react-components/react-shared-contexts/src/index.ts
Labels: Component: Link, Component: Toast

#28396 fix(scripts/generators): make sure to flush nx Tree outside nx context in order to write changes on physical file system
  scripts/generators/create-package/index.ts
  scripts/monorepo/src/index.d.ts
  scripts/monorepo/src/tree.js
Labels: Area: Build System, Fluent UI react-components (v9)

#28369 feat: Implement MenuItemLink components
  apps/vr-tests-react-components/src/stories/Menu/Menu.stories.tsx
  change/@fluentui-react-components-cb5ae280-68b7-4f48-aeda-fb3638d505eb.json
  change/@fluentui-react-menu-b64fa5d2-460f-403c-b414-6b5732c52e91.json
  packages/react-components/react-components/etc/react-components.api.md
  packages/react-components/react-components/src/index.ts
  packages/react-components/react-menu/etc/react-menu.api.md
  packages/react-components/react-menu/src/MenuItemLink.ts
  packages/react-components/react-menu/src/components/MenuItemLink/MenuItemLink.test.tsx
  packages/react-components/react-menu/src/components/MenuItemLink/MenuItemLink.tsx
  packages/react-components/react-menu/src/components/MenuItemLink/MenuItemLink.types.ts
  packages/react-components/react-menu/src/components/MenuItemLink/__snapshots__/MenuItemLink.test.tsx.snap
  packages/react-components/react-menu/src/components/MenuItemLink/index.ts
  packages/react-components/react-menu/src/components/MenuItemLink/renderMenuItemLink.tsx
  packages/react-components/react-menu/src/components/MenuItemLink/useMenuItemLink.ts
  packages/react-components/react-menu/src/components/MenuItemLink/useMenuItemLinkStyles.styles.ts
  packages/react-components/react-menu/src/index.ts
  packages/react-components/react-menu/stories/Menu/MenuBestPractices.md
  packages/react-components/react-menu/stories/Menu/MenuItemLinkNavigation.stories.tsx
  packages/react-components/react-menu/stories/Menu/index.stories.tsx
Labels: Component: Menu, Component: MenuItem
