Repository microsoft/fluentui, pull requests merged in 2023-09, with the labels that each got.

#29031 Grouped vertical bar chart - Component tests
  packages/react-charting/docs/TestPlans/GroupedVerticalBarChart/ComponentTests.md
  packages/react-charting/src/components/GroupedVerticalBarChart/GroupedVerticalBarChartRTL.test.tsx
  packages/react-charting/src/components/GroupedVerticalBarChart/__snapshots__/GroupedVerticalBarChartRTL.test.tsx.snap
Labels: Package: charting

#29043 test(react-drawer): add render tests for drawer subcomponents
  change/@fluentui-react-drawer-c5be950c-8d8e-4cae-8837-d0b0c22b26dc.json
  packages/react-components/react-drawer/src/components/Drawer/Drawer.cy.tsx
  packages/react-components/react-drawer/src/components/DrawerBody/DrawerBody.cy.tsx
  packages/react-components/react-drawer/src/components/DrawerFooter/DrawerFooter.cy.tsx
  packages/react-components/react-drawer/src/components/DrawerHeader/DrawerHeader.cy.tsx
  packages/react-components/react-drawer/src/components/DrawerHeaderNavigation/DrawerHeaderNavigation.cy.tsx
  packages/react-components/react-drawer/src/components/DrawerHeaderTitle/DrawerHeaderTitle.cy.tsx
Labels: Component: Drawer

#29042 refactor(react-drawer): change DrawerHeaderTitle slot creation while keeping the same API
  change/@fluentui-react-drawer-93fb2624-7aa8-4c3a-9333-635dcac41292.json
  packages/react-components/react-drawer/etc/react-drawer.api.md
  packages/react-components/react-drawer/src/components/DrawerHeaderTitle/DrawerHeaderTitle.types.ts
  packages/react-components/react-drawer/src/components/DrawerHeaderTitle/useDrawerHeaderTitle.ts
  packages/react-components/react-drawer/stories/Drawer/DrawerWithTitle.stories.tsx
  packages/react-components/react-drawer/stories/Drawer/index.stories.tsx
Labels: Component: Drawer

#29056 docs(react-drawer): add examples on how to customize motion for Drawer
  apps/public-docsite-v9/src/Utilities/Motion/useMotion/index.stories.mdx
  packages/react-components/react-drawer/stories/Drawer/DrawerMotionCustom.stories.tsx
  packages/react-components/react-drawer/stories/Drawer/DrawerMotionDisabled.stories.tsx
  packages/react-components/react-drawer/stories/Drawer/index.stories.tsx
Labels: Type: Documentation, Component: Drawer

#29029 test(react-drawer): add e2e for base drawer components
  change/@fluentui-react-drawer-d34a5b7e-7de6-4bcc-a0b1-095e88a476b2.json
  packages/react-components/react-drawer/.eslintrc.json
  packages/react-components/react-drawer/src/components/Drawer/Drawer.cy.tsx
  packages/react-components/react-drawer/src/components/DrawerInline/DrawerInline.cy.tsx
  packages/react-components/react-drawer/src/components/DrawerOverlay/DrawerOverlay.cy.tsx
  packages/react-components/react-drawer/src/e2e/DrawerShared.tsx
  packages/react-components/react-drawer/tsconfig.cy.json
Labels: Component: Drawer

#29055 refactor(react-drawer): organize code imports
  change/@fluentui-react-drawer-2717e06f-3daf-42cf-b77c-dcf03e0f40c9.json
  packages/react-components/react-drawer/src/components/Drawer/Drawer.test.tsx
  packages/react-components/react-drawer/src/components/Drawer/Drawer.types.ts
  packages/react-components/react-drawer/src/components/Drawer/renderDrawer.tsx
  packages/react-components/react-drawer/src/components/Drawer/useDrawer.ts
  packages/react-components/react-drawer/src/components/Drawer/useDrawerStyles.styles.ts
  packages/react-components/react-drawer/src/components/DrawerBody/renderDrawerBody.tsx
  packages/react-components/react-drawer/src/components/DrawerBody/useDrawerBody.ts
  packages/react-components/react-drawer/src/components/DrawerBody/useDrawerBodyStyles.styles.ts
  packages/react-components/react-drawer/src/components/DrawerFooter/renderDrawerFooter.tsx
  packages/react-components/react-drawer/src/components/DrawerFooter/useDrawerFooter.ts
  packages/react-components/react-drawer/src/components/DrawerFooter/useDrawerFooterStyles.styles.ts
  packages/react-components/react-drawer/src/components/DrawerHeader/renderDrawerHeader.tsx
  packages/react-components/react-drawer/src/components/DrawerHeader/useDrawerHeader.ts
  packages/react-components/react-drawer/src/components/DrawerHeader/useDrawerHeaderStyles.styles.ts
  packages/react-components/react-drawer/src/components/DrawerHeaderNavigation/renderDrawerHeaderNavigation.tsx
  packages/react-components/react-drawer/src/components/DrawerHeaderNavigation/useDrawerHeaderNavigation.ts
  packages/react-components/react-drawer/src/components/DrawerHeaderNavigation/useDrawerHeaderNavigationStyles.styles.ts
  packages/react-components/react-drawer/src/components/DrawerHeaderTitle/renderDrawerHeaderTitle.tsx
  packages/react-components/react-drawer/src/components/DrawerHeaderTitle/useDrawerHeaderTitle.ts
  packages/react-components/react-drawer/src/components/DrawerHeaderTitle/useDrawerHeaderTitleStyles.styles.ts
  packages/react-components/react-drawer/src/components/DrawerInline/DrawerInline.types.ts
  packages/react-components/react-drawer/src/components/DrawerInline/renderDrawerInline.tsx
  packages/react-components/react-drawer/src/components/DrawerInline/useDrawerInline.ts
  packages/react-components/react-drawer/src/components/DrawerInline/useDrawerInlineStyles.styles.ts
  packages/react-components/react-drawer/src/components/DrawerOverlay/DrawerOverlay.types.ts
  packages/react-components/react-drawer/src/components/DrawerOverlay/renderDrawerOverlay.tsx
  packages/react-components/react-drawer/src/components/DrawerOverlay/useDrawerOverlay.ts
  packages/react-components/react-drawer/src/components/DrawerOverlay/useDrawerOverlayStyles.styles.ts
  packages/react-components/react-drawer/src/shared/DrawerBase.types.ts
  packages/react-components/react-drawer/src/shared/useDrawerBaseStyles.styles.ts
  packages/react-components/react-drawer/src/shared/useDrawerDefaultProps.ts
Labels: Component: Drawer

#29071 fix(date-picker): fix month display on date-picker stories
  packages/react-components/react-datepicker-compat/stories/DatePicker/DatePickerDateBoundaries.stories.tsx
  packages/react-components/react-datepicker-compat/stories/DatePicker/DatePickerErrorHandling.stories.tsx
Labels: Component: DatePickerCompat

#29059 Fixed Breadcrumb tooltips
  change/@fluentui-react-breadcrumb-preview-f833599c-88f7-4381-a42b-17d7537b3e74.json
  packages/react-components/react-breadcrumb-preview/docs/Spec.md
  packages/react-components/react-breadcrumb-preview/src/components/BreadcrumbItem/BreadcrumbItem.types.ts
  packages/react-components/react-breadcrumb-preview/src/components/BreadcrumbItem/useBreadcrumbItemStyles.styles.ts
  packages/react-components/react-breadcrumb-preview/stories/Breadcrumb/BreadcrumbItemWithOverflow.stories.tsx
  packages/react-components/react-breadcrumb-preview/stories/Breadcrumb/BreadcrumbWithOverflow.stories.tsx
  packages/react-components/react-breadcrumb-preview/stories/Breadcrumb/BreadcrumbWithTooltip.stories.tsx
  packages/react-components/react-breadcrumb-preview/stories/Breadcrumb/index.stories.tsx
  packages/react-components/react-breadcrumb-preview/stories/BreadcrumbItem/BreadcrumbItemDefault.stories.tsx
Labels: Component: Breadcrumb

#29080 feat: Add center aligned positions for Toast
  change/@fluentui-react-toast-dc9d3ea5-c361-420b-ae74-a27cc995e694.json
  packages/react-components/react-toast/etc/react-toast.api.md
  packages/react-components/react-toast/src/components/Toaster/Toaster.types.ts
  packages/react-components/react-toast/src/components/Toaster/renderToaster.tsx
  packages/react-components/react-toast/src/components/Toaster/useToaster.tsx
  packages/react-components/react-toast/src/components/Toaster/useToasterStyles.styles.ts
  packages/react-components/react-toast/src/state/constants.ts
  packages/react-components/react-toast/src/state/types.ts
  packages/react-components/react-toast/src/state/vanilla/getPositionStyles.ts
  packages/react-components/react-toast/stories/Toast/Offset.stories.tsx
  packages/react-components/react-toast/stories/Toast/ToastPositions.stories.tsx
Labels: Component: Toast

#29082 docs: Update virtualization docs to hoist renderer
  packages/react-components/react-table/stories/Table/Virtualization.stories.tsx
Labels: Component: Table

#29085 feat(Toaster): Adds `inline` prop
  change/@fluentui-react-toast-4eae7e9f-93a7-4029-9e40-b47e89a6d12c.json
  packages/react-components/react-toast/etc/react-toast.api.md
  packages/react-components/react-toast/src/components/Toast/Toast.cy.tsx
  packages/react-components/react-toast/src/components/Toaster/Toaster.types.ts
  packages/react-components/react-toast/src/components/Toaster/renderToaster.tsx
  packages/react-components/react-toast/src/components/Toaster/useToaster.tsx
  packages/react-components/react-toast/src/components/Toaster/useToasterStyles.styles.ts
  packages/react-components/react-toast/src/state/vanilla/getPositionStyles.test.ts
  packages/react-components/react-toast/src/state/vanilla/getPositionStyles.ts
  packages/react-components/react-toast/stories/Toast/Inline.stories.tsx
  packages/react-components/react-toast/stories/Toast/index.stories.tsx
Labels: Component: Toast

#29096 Fix Breadcrumb icon spacing
  change/@fluentui-react-breadcrumb-preview-3e3c117d-535c-4eb4-8b75-7c46c919bc35.json
  packages/react-components/react-breadcrumb-preview/src/components/BreadcrumbButton/useBreadcrumbButtonStyles.styles.ts
  packages/react-components/react-breadcrumb-preview/src/components/BreadcrumbItem/useBreadcrumbItemStyles.styles.ts
Labels: Component: Breadcrumb

#29112 feat: removed BreadcrumbLink component
  apps/vr-tests-react-components/src/stories/Breadcrumb/Breadcrumb.stories.tsx
  apps/vr-tests-react-components/src/stories/Breadcrumb/utils.tsx
  change/@fluentui-react-breadcrumb-preview-2f782c5e-a8aa-467f-a0cd-fece7f7e03e0.json
  packages/react-components/react-breadcrumb-preview/etc/react-breadcrumb-preview.api.md
  packages/react-components/react-breadcrumb-preview/package.json
  packages/react-components/react-breadcrumb-preview/src/BreadcrumbLink.ts
  packages/react-components/react-breadcrumb-preview/src/components/Breadcrumb/Breadcrumb.cy.tsx
  packages/react-components/react-breadcrumb-preview/src/components/Breadcrumb/Breadcrumb.test.tsx
  packages/react-components/react-breadcrumb-preview/src/components/Breadcrumb/BreadcrumbWithMenu.cy.tsx
  packages/react-components/react-breadcrumb-preview/src/components/BreadcrumbLink/BreadcrumbLink.test.tsx
  packages/react-components/react-breadcrumb-preview/src/components/BreadcrumbLink/BreadcrumbLink.tsx
  packages/react-components/react-breadcrumb-preview/src/components/BreadcrumbLink/BreadcrumbLink.types.ts
  packages/react-components/react-breadcrumb-preview/src/components/BreadcrumbLink/index.ts
  packages/react-components/react-breadcrumb-preview/src/components/BreadcrumbLink/renderBreadcrumbLink.tsx
  packages/react-components/react-breadcrumb-preview/src/components/BreadcrumbLink/useBreadcrumbLink.ts
  packages/react-components/react-breadcrumb-preview/src/components/BreadcrumbLink/useBreadcrumbLinkStyles.styles.ts
  packages/react-components/react-breadcrumb-preview/src/index.ts
  packages/react-components/react-breadcrumb-preview/stories/Breadcrumb/BreadcrumbLinkWithOverflow.stories.tsx
Labels: Component: Breadcrumb

#29120 feat(react-infobutton): Removing openOnHover from popover props and adding details about the infobutton pattern
  change/@fluentui-react-infobutton-30184a62-7db5-4643-abae-c70f66afb5a9.json
  packages/react-components/react-infobutton/etc/react-infobutton.api.md
  packages/react-components/react-infobutton/src/components/InfoButton/InfoButton.types.ts
  packages/react-components/react-infobutton/src/components/InfoButton/useInfoButton.tsx
  packages/react-components/react-infobutton/stories/InfoLabel/InfoLabelPatternDecision.md
  packages/react-components/react-infobutton/stories/InfoLabel/index.stories.tsx
Labels: Fluent UI react-components (v9), Component: InfoButton

#29147 fix(VRT v7): update to use environment variable
  azure-pipelines.vrt-pr.yml
Labels: Fabric 7

#29097 chore: stop using global document on HTMLElementWalker
  change/@fluentui-react-tree-fb4c3a51-f9a9-404f-afa0-ae81c66b53e9.json
  packages/react-components/react-tree/src/components/FlatTree/useHeadlessFlatTree.ts
  packages/react-components/react-tree/src/components/Tree/useTree.ts
  packages/react-components/react-tree/src/utils/createHTMLElementWalker.ts
Labels: Fluent UI react-components (v9), Component: Tree

#29131 fix(react-badge): Presence badge should show Out of Office icon for Away+OOF and Offline+OOF statuses
  change/@fluentui-react-badge-3bd9df4e-4e19-4ff6-b2bf-accfb6602308.json
  change/@fluentui-react-components-5d25f389-c6ba-454a-bc64-548c245e2120.json
  packages/react-components/react-badge/etc/react-badge.api.md
  packages/react-components/react-badge/src/components/PresenceBadge/index.ts
  packages/react-components/react-badge/src/components/PresenceBadge/usePresenceBadge.tsx
  packages/react-components/react-badge/src/components/PresenceBadge/usePresenceBadgeStyles.styles.ts
  packages/react-components/react-badge/src/index.ts
  packages/react-components/react-components/etc/react-components.api.md
  packages/react-components/react-components/src/index.ts
  packages/react-components/react-persona/stories/Persona/PersonaPresencePreviousBehavior.stories.tsx
  packages/react-components/react-persona/stories/Persona/index.stories.tsx
Labels: Component: Persona, Component: PresenceBadge

#29167 fix(react-motion): only rerun hook for the dependencies triggered by parent components
  change/@fluentui-react-motion-preview-cdbabe91-7514-4972-b59d-765ef9dc2c82.json
  packages/react-components/react-motion-preview/src/hooks/useMotion.ts
Labels: Component: Drawer

#29163 fix(react-drawer): use dialog id for drawer title heading element
  change/@fluentui-react-drawer-77aea511-a69a-483b-9bf8-8f6be630ece6.json
  packages/react-components/react-drawer/src/components/Drawer/Drawer.types.ts
  packages/react-components/react-drawer/src/components/DrawerHeaderTitle/useDrawerHeaderTitle.ts
Labels: Component: Drawer

#29158 Added CSS variables to the BreadcrumbItem icon
  change/@fluentui-react-breadcrumb-preview-994c2089-e9d3-4795-9e33-88937cf99ea3.json
  packages/react-components/react-breadcrumb-preview/src/components/BreadcrumbButton/useBreadcrumbButtonStyles.styles.ts
  packages/react-components/react-breadcrumb-preview/src/components/BreadcrumbItem/useBreadcrumbItemStyles.styles.ts
  packages/react-components/react-breadcrumb-preview/src/shared/useIconStyles.styles.ts
  packages/react-components/react-breadcrumb-preview/stories/Breadcrumb/BreadcrumbDefault.stories.tsx
Labels: Component: Breadcrumb

#29160 feat(react-dialog): exports contexts
  change/@fluentui-react-components-57399e77-0cc7-4a9b-ab6e-0e4c3f117c87.json
  change/@fluentui-react-dialog-759f95da-5eb2-47a5-b653-5e1f74b53164.json
  packages/react-components/react-components/etc/react-components.api.md
  packages/react-components/react-components/src/index.ts
  packages/react-components/react-dialog/etc/react-dialog.api.md
  packages/react-components/react-dialog/src/index.ts
Labels: Component: Dialog, Fluent UI react-components (v9)

#29041 feat(react-drawer): add custom styling hooks for Drawer subcomponents
  change/@fluentui-react-drawer-4836e3fd-135c-47f5-aa15-a5af98896905.json
  change/@fluentui-react-provider-1c6185c2-16da-4484-b026-52c31d2c836c.json
  change/@fluentui-react-shared-contexts-adddf830-8f5d-46a0-9a55-e50683d51e5e.json
  packages/react-components/react-drawer/src/components/Drawer/Drawer.tsx
  packages/react-components/react-drawer/src/components/DrawerBody/DrawerBody.tsx
  packages/react-components/react-drawer/src/components/DrawerFooter/DrawerFooter.tsx
  packages/react-components/react-drawer/src/components/DrawerHeader/DrawerHeader.tsx
  packages/react-components/react-drawer/src/components/DrawerHeaderNavigation/DrawerHeaderNavigation.tsx
  packages/react-components/react-drawer/src/components/DrawerHeaderTitle/DrawerHeaderTitle.tsx
  packages/react-components/react-drawer/src/components/DrawerInline/DrawerInline.tsx
  packages/react-components/react-drawer/src/components/DrawerOverlay/DrawerOverlay.tsx
  packages/react-components/react-provider/etc/react-provider.api.md
  packages/react-components/react-shared-contexts/etc/react-shared-contexts.api.md
  packages/react-components/react-shared-contexts/src/CustomStyleHooksContext/CustomStyleHooksContext.ts
Labels: Component: Drawer

#29098 feat: create FlatTreeItem component
  change/@fluentui-react-components-64d3db22-9ea5-496c-9063-289c5fb0d33c.json
  change/@fluentui-react-tree-f7bcfbad-660b-4cc8-85e3-3a95466bbef9.json
  packages/react-components/react-components/etc/react-components.api.md
  packages/react-components/react-components/src/index.ts
  packages/react-components/react-tree/etc/react-tree.api.md
  packages/react-components/react-tree/src/FlatTreeItem.ts
  packages/react-components/react-tree/src/components/FlatTreeItem/FlatTreeItem.tsx
  packages/react-components/react-tree/src/components/FlatTreeItem/FlatTreeItem.types.ts
  packages/react-components/react-tree/src/components/FlatTreeItem/index.ts
  packages/react-components/react-tree/src/index.ts
  packages/react-components/react-tree/stories/Tree/FlatTree.stories.tsx
  packages/react-components/react-tree/stories/Tree/TreeDragAndDrop.stories.tsx
  packages/react-components/react-tree/stories/Tree/TreeInfiniteScrolling.stories.tsx
  packages/react-components/react-tree/stories/Tree/TreeLazyLoading.stories.tsx
  packages/react-components/react-tree/stories/Tree/TreeManipulation.stories.tsx
  packages/react-components/react-tree/stories/Tree/TreeSelection.stories.tsx
  packages/react-components/react-tree/stories/Tree/Virtualization.stories.tsx
  packages/react-components/react-tree/stories/Tree/index.stories.tsx
Labels: Fluent UI react-components (v9), Component: Tree

#29189 feat: adds treeType to tree context
  change/@fluentui-react-tree-8a0b1f0e-38a0-4010-a3f4-4c8f6dd52a21.json
  packages/react-components/react-tree/etc/react-tree.api.md
  packages/react-components/react-tree/src/components/FlatTree/useFlatTree.ts
  packages/react-components/react-tree/src/components/Tree/useTree.ts
  packages/react-components/react-tree/src/components/Tree/useTreeContextValues.ts
  packages/react-components/react-tree/src/components/TreeItem/useTreeItem.tsx
  packages/react-components/react-tree/src/contexts/treeContext.ts
  packages/react-components/react-tree/src/hooks/useRootTree.ts
  packages/react-components/react-tree/src/hooks/useSubtree.ts
Labels: Fluent UI react-components (v9), Component: Tree

#29190 chore: useFocusFirstElement warns only in development
  change/@fluentui-react-dialog-baaa6fee-9c38-4506-9fb4-0cfddb5bd658.json
  packages/react-components/react-dialog/src/utils/useFocusFirstElement.ts
Labels: Component: Dialog, Fluent UI react-components (v9)

#29052 feat: add createCSSRuleFromTheme() function
  change/@fluentui-react-components-615e7613-608e-4a27-9abb-c1520f83be26.json
  change/@fluentui-react-provider-c8b5e872-9e4e-4503-9e77-5560ba14cb2f.json
  packages/react-components/react-components/etc/react-components.api.md
  packages/react-components/react-components/src/index.ts
  packages/react-components/react-provider/etc/react-provider.api.md
  packages/react-components/react-provider/src/components/FluentProvider/createCSSRuleFromTheme.test.ts
  packages/react-components/react-provider/src/components/FluentProvider/createCSSRuleFromTheme.ts
  packages/react-components/react-provider/src/components/FluentProvider/index.ts
  packages/react-components/react-provider/src/components/FluentProvider/useFluentProviderThemeStyleTag.ts
  packages/react-components/react-provider/src/index.ts
Labels: Component: FluentProvider

#29212 doc(react-dialog): updates non-modal dialog documentation
  packages/react-components/react-dialog/stories/Dialog/DialogNonModal.md
Labels: Area: Documentation, Component: Dialog, Fluent UI react-components (v9)

#29211 doc(react-dialog): updates documentation on alert dialog escape dismiss
  change/@fluentui-react-dialog-39510a22-5d1b-4d26-8492-07fa341c4332.json
  packages/react-components/react-dialog/src/components/Dialog/Dialog.types.ts
  packages/react-components/react-dialog/stories/Dialog/DialogAlert.md
Labels: Area: Documentation, Component: Dialog, Fluent UI react-components (v9)

#29213 chore(react-dialog): adds CSS containment to DialogSurface
  change/@fluentui-react-dialog-864397b3-e850-464f-b5f2-ae89863fed07.json
  packages/react-components/react-dialog/src/components/DialogSurface/useDialogSurfaceStyles.styles.ts
Labels: Component: Dialog, Fluent UI react-components (v9)

#29229 Enable reflow for all cartesian chart examples
  change/@fluentui-react-charting-18c6ed5b-114e-4e6f-982f-2a59fa333f96.json
  packages/react-examples/src/react-charting/AreaChart/AreaChart.Basic.Example.tsx
  packages/react-examples/src/react-charting/AreaChart/AreaChart.CustomAccessibility.Example.tsx
  packages/react-examples/src/react-charting/AreaChart/AreaChart.DataChange.Example.tsx
  packages/react-examples/src/react-charting/AreaChart/AreaChart.LargeData.Example.tsx
  packages/react-examples/src/react-charting/AreaChart/AreaChart.Multiple.Example.tsx
  packages/react-examples/src/react-charting/AreaChart/AreaChart.Styled.Example.tsx
  packages/react-examples/src/react-charting/GroupedVerticalBarChart/GroupedVerticalBarChart.Basic.Example.tsx
  packages/react-examples/src/react-charting/GroupedVerticalBarChart/GroupedVerticalBarChart.CustomAccessibility.Example.tsx
  packages/react-examples/src/react-charting/GroupedVerticalBarChart/GroupedVerticalBarChart.Styled.Example.tsx
  packages/react-examples/src/react-charting/GroupedVerticalBarChart/GroupedVerticalBarChart.Truncated.Example.tsx
  packages/react-examples/src/react-charting/HeatMapChart/HeatMapChartBasic.CustomAccessibility.Example.tsx
  packages/react-examples/src/react-charting/HeatMapChart/HeatMapChartBasic.Example.tsx
  packages/react-examples/src/react-charting/HorizontalBarChartWithAxis/HorizontalBarChartWithAxis.AxisTooltip.Example.tsx
  packages/react-examples/src/react-charting/HorizontalBarChartWithAxis/HorizontalBarChartWithAxis.Basic.Example.tsx
  packages/react-examples/src/react-charting/HorizontalBarChartWithAxis/HorizontalBarChartWithAxis.StringAxisTooltip.Example.tsx
  packages/react-examples/src/react-charting/VerticalBarChart/VerticalBarChart.AxisTitle.Example.tsx
  packages/react-examples/src/react-charting/VerticalBarChart/VerticalBarChart.AxisTooltip.Example.tsx
  packages/react-examples/src/react-charting/VerticalBarChart/VerticalBarChart.Basic.Example.tsx
  packages/react-examples/src/react-charting/VerticalBarChart/VerticalBarChart.CustomAccessibility.Example.tsx
  packages/react-examples/src/react-charting/VerticalBarChart/VerticalBarChart.Dynamic.Example.tsx
  packages/react-examples/src/react-charting/VerticalBarChart/VerticalBarChart.RotateLabels.Example.tsx
  packages/react-examples/src/react-charting/VerticalBarChart/VerticalBarChart.Styled.Example.tsx
  packages/react-examples/src/react-charting/VerticalStackedBarChart/VerticalStackedBarChart.AxisTooltip.Example.tsx
  packages/react-examples/src/react-charting/VerticalStackedBarChart/VerticalStackedBarChart.Basic.Example.tsx
  packages/react-examples/src/react-charting/VerticalStackedBarChart/VerticalStackedBarChart.Callout.Example.tsx
  packages/react-examples/src/react-charting/VerticalStackedBarChart/VerticalStackedBarChart.CustomAccessibility.Example.tsx
  packages/react-examples/src/react-charting/VerticalStackedBarChart/VerticalStackedBarChart.Styled.Example.tsx
Labels: Package: charting, Component: $1, Package: $1

#29237 feat(react-tags-preview): add useCustomStyleHook_unstable to all components
  change/@fluentui-react-provider-620bbb7d-bbdd-4ab0-b360-c0283c23c7b4.json
  change/@fluentui-react-shared-contexts-ab1a52cd-3b1c-4cac-8bac-4d209e594002.json
  change/@fluentui-react-tags-preview-4b267c6e-2f04-4b1a-b1c8-d4d528449128.json
  packages/react-components/react-provider/etc/react-provider.api.md
  packages/react-components/react-shared-contexts/etc/react-shared-contexts.api.md
  packages/react-components/react-shared-contexts/src/CustomStyleHooksContext/CustomStyleHooksContext.ts
  packages/react-components/react-tags-preview/src/components/InteractionTag/InteractionTag.tsx
  packages/react-components/react-tags-preview/src/components/InteractionTagPrimary/InteractionTagPrimary.tsx
  packages/react-components/react-tags-preview/src/components/InteractionTagSecondary/InteractionTagSecondary.tsx
  packages/react-components/react-tags-preview/src/components/Tag/Tag.tsx
  packages/react-components/react-tags-preview/src/components/TagGroup/TagGroup.tsx
Labels: Component: Tag

#29217 feat(react-drawer): add support to override Dialog as slot
  change/@fluentui-react-drawer-d5851106-2615-4746-aac1-931d5e1b69f3.json
  packages/react-components/react-drawer/etc/react-drawer.api.md
  packages/react-components/react-drawer/src/components/DrawerOverlay/DrawerOverlay.types.ts
  packages/react-components/react-drawer/src/components/DrawerOverlay/renderDrawerOverlay.tsx
  packages/react-components/react-drawer/src/components/DrawerOverlay/useDrawerOverlay.ts
  packages/react-components/react-drawer/src/components/DrawerOverlay/useDrawerOverlayStyles.styles.ts
Labels: Component: Drawer

#29188 Scaffold Rating component
  .github/CODEOWNERS
  packages/react-components/react-rating-preview/.babelrc.json
  packages/react-components/react-rating-preview/.eslintrc.json
  packages/react-components/react-rating-preview/.npmignore
  packages/react-components/react-rating-preview/.storybook/main.js
  packages/react-components/react-rating-preview/.storybook/preview.js
  packages/react-components/react-rating-preview/.storybook/tsconfig.json
  packages/react-components/react-rating-preview/.swcrc
  packages/react-components/react-rating-preview/LICENSE
  packages/react-components/react-rating-preview/README.md
  packages/react-components/react-rating-preview/config/api-extractor.json
  packages/react-components/react-rating-preview/config/tests.js
  packages/react-components/react-rating-preview/docs/Spec.md
  packages/react-components/react-rating-preview/etc/react-rating-preview.api.md
  packages/react-components/react-rating-preview/jest.config.js
  packages/react-components/react-rating-preview/just.config.ts
  packages/react-components/react-rating-preview/package.json
  packages/react-components/react-rating-preview/project.json
  packages/react-components/react-rating-preview/src/Rating.ts
  packages/react-components/react-rating-preview/src/components/Rating/Rating.test.tsx
  packages/react-components/react-rating-preview/src/components/Rating/Rating.tsx
  packages/react-components/react-rating-preview/src/components/Rating/Rating.types.ts
  packages/react-components/react-rating-preview/src/components/Rating/__snapshots__/Rating.test.tsx.snap
  packages/react-components/react-rating-preview/src/components/Rating/index.ts
  packages/react-components/react-rating-preview/src/components/Rating/renderRating.tsx
  packages/react-components/react-rating-preview/src/components/Rating/useRating.ts
  packages/react-components/react-rating-preview/src/components/Rating/useRatingStyles.styles.ts
  packages/react-components/react-rating-preview/src/index.ts
  packages/react-components/react-rating-preview/src/testing/isConformant.ts
  packages/react-components/react-rating-preview/stories/.gitkeep
  packages/react-components/react-rating-preview/stories/Rating/RatingBestPractices.md
  packages/react-components/react-rating-preview/stories/Rating/RatingDefault.stories.tsx
  packages/react-components/react-rating-preview/stories/Rating/RatingDescription.md
  packages/react-components/react-rating-preview/stories/Rating/index.stories.tsx
  packages/react-components/react-rating-preview/tsconfig.json
  packages/react-components/react-rating-preview/tsconfig.lib.json
  packages/react-components/react-rating-preview/tsconfig.spec.json
  tsconfig.base.all.json
  tsconfig.base.json
Labels: Component: Rating

#29263 fix(react-drawer): improve CSS performance by using makeResetStyles
  change/@fluentui-react-drawer-f56e55ac-7156-425d-b6dc-3c3bffb2be95.json
  packages/react-components/react-drawer/src/components/DrawerBody/useDrawerBodyStyles.styles.ts
  packages/react-components/react-drawer/src/components/DrawerFooter/useDrawerFooterStyles.styles.ts
  packages/react-components/react-drawer/src/components/DrawerHeader/useDrawerHeaderStyles.styles.ts
  packages/react-components/react-drawer/src/components/DrawerHeaderNavigation/useDrawerHeaderNavigationStyles.styles.ts
  packages/react-components/react-drawer/src/components/DrawerInline/useDrawerInlineStyles.styles.ts
  packages/react-components/react-drawer/src/components/DrawerOverlay/useDrawerOverlayStyles.styles.ts
  packages/react-components/react-drawer/src/shared/useDrawerBaseStyles.styles.ts
Labels: Component: Drawer

#29234 feat(react-tags-preview): add default aria-labelledby on InteractionTagSecondary
  change/@fluentui-react-tags-preview-e419fd65-882d-4f66-b9e6-83fdb69e14f5.json
  packages/react-components/react-tags-preview/etc/react-tags-preview.api.md
  packages/react-components/react-tags-preview/src/components/InteractionTag/InteractionTag.test.tsx
  packages/react-components/react-tags-preview/src/components/InteractionTag/InteractionTag.types.ts
  packages/react-components/react-tags-preview/src/components/InteractionTag/useInteractionTag.tsx
  packages/react-components/react-tags-preview/src/components/InteractionTag/useInteractionTagContextValues.ts
  packages/react-components/react-tags-preview/src/components/InteractionTagPrimary/useInteractionTagPrimary.ts
  packages/react-components/react-tags-preview/src/components/InteractionTagSecondary/useInteractionTagSecondary.tsx
  packages/react-components/react-tags-preview/src/contexts/interactionTagContext.tsx
  packages/react-components/react-tags-preview/stories/InteractionTag/InteractionTagAppearance.stories.tsx
  packages/react-components/react-tags-preview/stories/InteractionTag/InteractionTagBestPractices.md
  packages/react-components/react-tags-preview/stories/InteractionTag/InteractionTagDisabled.stories.tsx
  packages/react-components/react-tags-preview/stories/InteractionTag/InteractionTagDismiss.stories.tsx
  packages/react-components/react-tags-preview/stories/InteractionTag/InteractionTagHasPrimaryAction.stories.tsx
  packages/react-components/react-tags-preview/stories/InteractionTag/InteractionTagShape.stories.tsx
  packages/react-components/react-tags-preview/stories/InteractionTag/InteractionTagSize.stories.tsx
  packages/react-components/react-tags-preview/stories/TagGroup/TagGroupDismiss.stories.tsx
  packages/react-components/react-tags-preview/stories/TagGroup/TagGroupSizes.stories.tsx
Labels: Component: Tag

#29236 fix(react-tags-preview): Tag getNativeElementProps should conditionally use 'button' or 'span'
  change/@fluentui-react-tags-preview-570ee000-103c-4607-b779-4a22424686b5.json
  packages/react-components/react-tags-preview/src/components/Tag/useTag.tsx
Labels: Component: Tag

#28647 chore: migrate to lerna 7
  change/@fluentui-dom-utilities-bc41df95-dcd4-441e-9d48-eda9afe56b45.json
  change/@fluentui-keyboard-key-95d43f1e-c33b-419c-8ef8-1a1b4c4cdf69.json
  change/@fluentui-merge-styles-a6504953-1cd2-464e-879b-ae2d357b74d1.json
  change/@fluentui-set-version-0f9ff49e-7cd7-4b2c-81b8-5c093953a311.json
  lerna.json
  nx.json
  package.json
  packages/dom-utilities/tsconfig.json
  packages/keyboard-key/tsconfig.json
  packages/merge-styles/tsconfig.json
  packages/set-version/tsconfig.json
  yarn.lock
Labels: Area: Build System, dependencies

#29218 docs(react-drawer): update description on how to prevent drawer from closing
  packages/react-components/react-drawer/stories/Drawer/DrawerPreventClose.stories.tsx
Labels: Component: Drawer

#29261 fix(react-tags-preview): remove double border under WHCM on dismissible circular InteractionTag
  change/@fluentui-react-tags-preview-faf27869-67ec-426b-89f9-dd2405564f7a.json
  packages/react-components/react-tags-preview/src/components/InteractionTagPrimary/useInteractionTagPrimaryStyles.styles.ts
  packages/react-components/react-tags-preview/src/components/Tag/useTagStyles.styles.ts
Labels: Component: Tag

#29274 fix(react-drawer): remove defaultOpen from DrawerInline as it had no effect
  change/@fluentui-react-drawer-1ce8b229-ee2d-4271-87fa-317811ba7a89.json
  packages/react-components/react-drawer/etc/react-drawer.api.md
  packages/react-components/react-drawer/src/components/DrawerInline/useDrawerInline.ts
  packages/react-components/react-drawer/src/components/DrawerOverlay/DrawerOverlay.types.ts
  packages/react-components/react-drawer/src/components/DrawerOverlay/useDrawerOverlay.ts
  packages/react-components/react-drawer/src/shared/DrawerBase.types.ts
  packages/react-components/react-drawer/src/shared/useDrawerDefaultProps.ts
Labels: Component: Drawer

#29272 fix(react-drawer): resolve TODOs
  change/@fluentui-react-drawer-acebb572-ecff-43ab-a690-b88362121ae8.json
  packages/react-components/react-drawer/src/components/DrawerFooter/DrawerFooter.tsx
  packages/react-components/react-drawer/src/components/DrawerHeaderNavigation/DrawerHeaderNavigation.test.tsx
  packages/react-components/react-drawer/src/components/DrawerHeaderTitle/DrawerHeaderTitle.test.tsx
  packages/react-components/react-drawer/src/components/DrawerInline/DrawerInline.test.tsx
Labels: Component: Drawer

#29273 fix(react-drawer): use context to fetch dialog id
  change/@fluentui-react-drawer-30e2677b-918d-444b-b5f3-aca797ecc5ed.json
  packages/react-components/react-drawer/src/components/DrawerHeaderTitle/useDrawerHeaderTitle.ts
Labels: Component: Drawer

#29275 fix(react-tags-preview): remove disabled InteractionTag hover color under WHCM
  change/@fluentui-react-tags-preview-3da108b0-6f55-4670-b217-734d56287fbb.json
  packages/react-components/react-tags-preview/src/components/InteractionTagPrimary/useInteractionTagPrimaryStyles.styles.ts
  packages/react-components/react-tags-preview/src/components/InteractionTagSecondary/useInteractionTagSecondaryStyles.styles.ts
Labels: Component: Tag

#29276 fix(react-card): sync controllable state for selectable cards
  change/@fluentui-react-card-2e76b5b0-5eb0-4302-8ff2-19391b355451.json
  packages/react-components/react-card/src/components/Card/useCardSelectable.ts
Labels: Component: Card

#29091 feat(react-tree): flat tree supports navigation without `useHeadlessFlatTree`
  change/@fluentui-react-tree-a0c03a32-7116-4e69-9da0-e5d936c3f433.json
  packages/react-components/react-tree/etc/react-tree.api.md
  packages/react-components/react-tree/src/components/FlatTree/useFlatTree.ts
  packages/react-components/react-tree/src/components/FlatTree/useFlatTreeNavigation.ts
  packages/react-components/react-tree/src/components/FlatTree/useHeadlessFlatTree.ts
  packages/react-components/react-tree/src/components/Tree/Tree.types.ts
  packages/react-components/react-tree/src/components/Tree/useTree.ts
  packages/react-components/react-tree/src/components/TreeItem/TreeItem.types.ts
  packages/react-components/react-tree/src/components/TreeItem/useTreeItem.tsx
  packages/react-components/react-tree/src/contexts/treeContext.ts
  packages/react-components/react-tree/src/hooks/useRootTree.ts
  packages/react-components/react-tree/src/utils/createHeadlessTree.ts
  packages/react-components/react-tree/stories/Tree/FlatTree.stories.tsx
  packages/react-components/react-tree/stories/Tree/UseHeadlessFlatTree.stories.tsx
  packages/react-components/react-tree/stories/Tree/Virtualization.stories.tsx
  packages/react-components/react-tree/stories/Tree/index.stories.tsx
Labels: Fluent UI react-components (v9), Component: Tree

#29284 Updated TooltipBestPractices to include new best practices
  packages/react-examples/src/react/Tooltip/docs/TooltipBestPractices.md
Labels: Area: Documentation, Component: Tooltip, Component: $1, Package: $1

#29209 feat(react-tabster): adds `customizeSelector` to `createCustomFocusIndicatorStyle` method
  change/@fluentui-react-tabster-1c26ce6a-008b-4296-8065-b09240c6b9ed.json
  packages/react-components/react-tabster/etc/react-tabster.api.md
  packages/react-components/react-tabster/src/focus/constants.ts
  packages/react-components/react-tabster/src/focus/createCustomFocusIndicatorStyle.ts
  packages/react-components/react-tabster/src/focus/createFocusOutlineStyle.ts
Labels: Area: Accessibility, Fluent UI react-components (v9), tabster

#29280 fix(react-dialog): use makeResetStyles for base dialog components styles
  change/@fluentui-react-dialog-236fd9b3-5e8c-4368-b43b-7e2aca221162.json
  packages/react-components/react-dialog/src/components/DialogActions/useDialogActionsStyles.styles.ts
  packages/react-components/react-dialog/src/components/DialogBody/useDialogBodyStyles.styles.ts
  packages/react-components/react-dialog/src/components/DialogContent/useDialogContentStyles.styles.ts
  packages/react-components/react-dialog/src/components/DialogSurface/useDialogSurfaceStyles.styles.ts
  packages/react-components/react-dialog/src/components/DialogTitle/useDialogTitle.tsx
  packages/react-components/react-dialog/src/components/DialogTitle/useDialogTitleStyles.styles.ts
Labels: Component: Dialog, Component: Drawer

#29294 Remove width prop from horizontal bar chart examples
  packages/react-examples/src/react-charting/HorizontalBarChart/HorizontalBarChart.Basic.Example.tsx
  packages/react-examples/src/react-charting/HorizontalBarChart/HorizontalBarChart.Benchmark.Example.tsx
  packages/react-examples/src/react-charting/HorizontalBarChart/HorizontalBarChart.CustomAccessibility.Example.tsx
  packages/react-examples/src/react-charting/HorizontalBarChart/HorizontalBarChart.CustomCallout.Example.tsx
  packages/react-examples/src/react-charting/HorizontalBarChart/HorizontalBarChart.Variant.Example.tsx
Labels: Package: charting, Component: $1, Package: $1

#29300 fix(scripts-ts-node): disable ts checks when invoking ts-node/register untill swc works
  scripts/beachball/package.json
  scripts/beachball/register.js
  scripts/beachball/release-v8.config.js
  scripts/beachball/release-vNext.config.js
  scripts/ts-node/register.js
Labels: Area: Build System, CI, Component: $1, Package: $1

#29133 Adjusting Azure Colors to address DetailsList, Spinner, and Link
  change/@fluentui-azure-themes-21a90d0f-e722-463d-9a71-88ef4773c3b8.json
  packages/azure-themes/src/azure/AzureColors.ts
  packages/azure-themes/src/azure/AzureThemeLight.ts
  packages/azure-themes/src/azure/styles/Link.styles.ts
  packages/azure-themes/src/azure/styles/Toggle.styles.ts
  packages/react-examples/src/azure-themes/stories/Themes/Themes.stories.tsx
  packages/react-examples/src/azure-themes/stories/components/spinner.stories.tsx
Labels: Package: $1

#28004 Add customizable ariaLabel property to suggestion model generation
  change/@fluentui-react-04651d9c-d69b-478a-9d5a-664a30fe8f1c.json
  packages/react/src/components/pickers/Suggestions/SuggestionsController.ts
Labels: Component: Pickers

#29297 ci: use custom yarn dedupe alias for local and ci dx
  .github/workflows/check-packages.yml
  package.json
Labels: Area: DevExp, CI

#29315 fix: exported BreadcrumbProvider and useBreadcrumbContext
  change/@fluentui-react-breadcrumb-preview-0301b962-b42e-4817-bf07-a23daeb8eaa5.json
  packages/react-components/react-breadcrumb-preview/etc/react-breadcrumb-preview.api.md
  packages/react-components/react-breadcrumb-preview/src/components/Breadcrumb/index.ts
  packages/react-components/react-breadcrumb-preview/src/index.ts
Labels: Component: Breadcrumb

#27906 Menu Web Component [ PRIORITY 1 ]
  change/@fluentui-web-components-efa30982-7506-4a0d-80e5-e9ca22911289.json
  packages/web-components/package.json
  packages/web-components/src/index.ts
  packages/web-components/src/menu/README.md
  packages/web-components/src/menu/define.ts
  packages/web-components/src/menu/index.ts
  packages/web-components/src/menu/menu.definition.ts
  packages/web-components/src/menu/menu.stories.ts
  packages/web-components/src/menu/menu.styles.ts
  packages/web-components/src/menu/menu.template.ts
  packages/web-components/src/menu/menu.ts
Labels: web-components

#29321 fix(Stack): Allow rendering of values that aren't falsy elements and aren't valid elements
  change/@fluentui-react-d265a3da-39e3-4b9d-be1e-b0ed8a0ee1d5.json
  packages/react/src/components/Stack/Stack.tsx
Labels: Component: Stack, Component: $1

#29327 chore: use TsconfigPathsPlugin in cypress test config
  scripts/cypress/src/base.config.ts
Labels: Component: $1, Package: $1

#29322 fix: focusAsync still works even if past animationFrame fails to run
  change/@fluentui-utilities-2c559317-d528-4f32-8c1a-0ad2f000dc12.json
  packages/utilities/src/focus.ts
Labels: Package: $1

#29194 feat(react-tree): creates SubtreeContext to avoid spreading root context
  change/@fluentui-react-components-79050853-fe98-49ee-994b-b9dca0dd661a.json
  change/@fluentui-react-tree-ee908991-9ab8-4d9c-b7a5-5d0c06648855.json
  packages/react-components/react-components/etc/react-components.api.md
  packages/react-components/react-components/src/index.ts
  packages/react-components/react-tree/etc/react-tree.api.md
  packages/react-components/react-tree/src/components/FlatTree/FlatTree.types.ts
  packages/react-components/react-tree/src/components/FlatTree/renderFlatTree.ts
  packages/react-components/react-tree/src/components/FlatTree/useFlatTree.ts
  packages/react-components/react-tree/src/components/FlatTree/useFlatTreeContextValues.ts
  packages/react-components/react-tree/src/components/Tree/Tree.types.ts
  packages/react-components/react-tree/src/components/Tree/renderTree.tsx
  packages/react-components/react-tree/src/components/Tree/useTree.ts
  packages/react-components/react-tree/src/components/Tree/useTreeContextValues.ts
  packages/react-components/react-tree/src/components/TreeItem/useTreeItem.tsx
  packages/react-components/react-tree/src/components/TreeProvider.tsx
  packages/react-components/react-tree/src/contexts/index.ts
  packages/react-components/react-tree/src/contexts/subtreeContext.ts
  packages/react-components/react-tree/src/contexts/treeContext.ts
  packages/react-components/react-tree/src/hooks/useRootTree.ts
  packages/react-components/react-tree/src/hooks/useSubtree.ts
  packages/react-components/react-tree/src/index.ts
  packages/react-components/react-tree/stories/Tree/TreeInlineStylingTreeItemLevel.stories.tsx
Labels: Fluent UI react-components (v9), Component: Tree

#29250 Adding chart mode example for horizontal bar chart
  packages/react-examples/src/react-charting/HorizontalBarChart/HorizontalBarChart.Basic.Example.tsx
Labels: Package: charting, Component: $1, Package: $1

#29318 feat(react-breadcrumb) add custom styling hooks for Breadcrumb component and its sub-components
  change/@fluentui-react-breadcrumb-preview-7e339c0f-d934-42c0-b2a7-6fb8d5459508.json
  change/@fluentui-react-provider-b480c3d3-5c89-4560-a945-758668b5a2f1.json
  change/@fluentui-react-shared-contexts-f0edee23-7871-47c5-b75b-1b7ba839e5df.json
  packages/react-components/react-breadcrumb-preview/src/components/Breadcrumb/Breadcrumb.tsx
  packages/react-components/react-breadcrumb-preview/src/components/BreadcrumbButton/BreadcrumbButton.tsx
  packages/react-components/react-breadcrumb-preview/src/components/BreadcrumbDivider/BreadcrumbDivider.tsx
  packages/react-components/react-breadcrumb-preview/src/components/BreadcrumbItem/BreadcrumbItem.tsx
  packages/react-components/react-provider/etc/react-provider.api.md
  packages/react-components/react-shared-contexts/etc/react-shared-contexts.api.md
  packages/react-components/react-shared-contexts/src/CustomStyleHooksContext/CustomStyleHooksContext.ts
Labels: Component: Breadcrumb

#27907 Support tighter overrides for Contextual Menu Items
  change/@fluentui-react-f555a49c-e785-477a-81a4-2535a41d0724.json
  packages/react/etc/react.api.md
  packages/react/src/components/ContextualMenu/ContextualMenu.base.tsx
  packages/react/src/components/ContextualMenu/ContextualMenu.types.ts
  packages/react/src/components/ContextualMenu/ContextualMenuItemWrapper/ContextualMenuAnchor.tsx
  packages/react/src/components/ContextualMenu/ContextualMenuItemWrapper/ContextualMenuButton.tsx
  packages/react/src/components/ContextualMenu/ContextualMenuItemWrapper/ContextualMenuItemWrapper.types.ts
  packages/react/src/components/ContextualMenu/ContextualMenuItemWrapper/ContextualMenuSplitButton.tsx
Labels: Component: ContextualMenu, PR: API Modified, Component: $1

#29343 Update Component Mapping with links and latest status
  apps/public-docsite-v9/src/Concepts/Migration/FromV8/ComponentMapping.stories.mdx
Labels: Area: Documentation

#29334 docs: Adding example of how to pass on click to primaryActionButton slot in the Default story for SplitButton
  change/@fluentui-react-button-81475034-8645-4083-8fc7-79fcd40a45df.json
  packages/react-components/react-button/src/components/SplitButton/useSplitButton.ts
  packages/react-components/react-button/stories/SplitButton/SplitButtonDefault.stories.tsx
Labels: Area: Documentation, Fluent UI react-components (v9), Component: SplitButton
