Repository microsoft/fluentui, pull requests merged in 2024-02, with the labels that each got.

#30447 Sankey Diagram: Improving generated aria-label
  change/@fluentui-react-charting-f1fedc1b-f7dc-4449-af7a-32d58ab130ae.json
  packages/react-charting/src/components/SankeyChart/SankeyChart.base.tsx
  packages/react-charting/src/components/SankeyChart/SankeyChart.test.tsx
  packages/react-charting/src/components/SankeyChart/__snapshots__/SankeyChart.test.tsx.snap
  packages/react-charting/src/components/SankeyChart/__snapshots__/SankeyChartRTL.test.tsx.snap
Labels: Package: charting

#30378 Fix buggy Popover story
  packages/react-components/react-popover/stories/Popover/PopoverControllingOpenAndClose.stories.tsx
Labels: Area: Documentation, Component: Popover

#30466 Corrected link to Button.types.ts
  packages/react-components/react-button/docs/SPEC.md
Labels: Area: Documentation

#30467 fix: Correctly calculating height of Callout aligning to the top and covering target.
  change/@fluentui-react-e44f66af-f799-4e82-a59f-9b2056b5edbb.json
  packages/react/src/components/Callout/CalloutContent.base.tsx
  packages/react/src/components/Keytip/Keytip.tsx
Labels: Component: Callout, Fluent UI react (v8)

#30469 Fix color tokens to render charts correctly for v9 theme
  change/@fluentui-react-charting-4ff1470e-7359-4539-ac6d-724412f4cd67.json
  packages/react-charting/src/components/AreaChart/AreaChart.base.tsx
  packages/react-charting/src/components/DonutChart/Arc/Arc.styles.ts
  packages/react-charting/src/components/DonutChart/__snapshots__/DonutChartRTL.test.tsx.snap
  packages/react-charting/src/components/GaugeChart/GaugeChart.styles.ts
  packages/react-charting/src/components/Legends/Legends.base.tsx
  packages/react-charting/src/components/Legends/Legends.styles.ts
  packages/react-charting/src/components/LineChart/LineChart.base.tsx
  packages/react-charting/src/components/LineChart/eventAnnotation/LabelLink.tsx
  packages/react-charting/src/components/Sparkline/Sparkline.styles.ts
  packages/react-charting/src/components/Sparkline/__snapshots__/Sparkline.test.tsx.snap
  packages/react-charting/src/components/Sparkline/__snapshots__/SparklineRTL.test.tsx.snap
  packages/react-charting/src/components/TreeChart/TreeChart.styles.ts
  packages/react-charting/src/components/TreeChart/__snapshots__/TreeChart.test.tsx.snap
  packages/react-charting/src/components/VerticalBarChart/VerticalBarChart.base.tsx
  packages/react-charting/src/components/VerticalStackedBarChart/VerticalStackedBarChart.base.tsx
Labels: Package: charting

#30478 chore: sync latest northstar release
  change/@fluentui-react-migration-v0-v9-460991c2-41a2-4bad-9ef3-f9ada5e5123f.json
  packages/fluentui/CHANGELOG.md
  packages/fluentui/ability-attributes/package.json
  packages/fluentui/accessibility/package.json
  packages/fluentui/circulars-test/package.json
  packages/fluentui/code-sandbox/package.json
  packages/fluentui/digest/package.json
  packages/fluentui/docs-components/package.json
  packages/fluentui/docs/package.json
  packages/fluentui/e2e/package.json
  packages/fluentui/lerna.json
  packages/fluentui/local-sandbox/package.json
  packages/fluentui/perf-test-northstar/package.json
  packages/fluentui/perf/package.json
  packages/fluentui/projects-test/package.json
  packages/fluentui/react-bindings/package.json
  packages/fluentui/react-builder/package.json
  packages/fluentui/react-component-event-listener/package.json
  packages/fluentui/react-component-nesting-registry/package.json
  packages/fluentui/react-component-ref/package.json
  packages/fluentui/react-icons-northstar/package.json
  packages/fluentui/react-northstar-emotion-renderer/package.json
  packages/fluentui/react-northstar-fela-renderer/package.json
  packages/fluentui/react-northstar-prototypes/package.json
  packages/fluentui/react-northstar-styles-renderer/package.json
  packages/fluentui/react-northstar/package.json
  packages/fluentui/react-proptypes/package.json
  packages/fluentui/react-telemetry/package.json
  packages/fluentui/state/package.json
  packages/fluentui/styles/package.json
  packages/react-components/react-migration-v0-v9/package.json
Labels: Fluent UI react-northstar (v0)

#30481 fix: MessageBar with no actions should have correct spacing
  apps/vr-tests-react-components/src/stories/MessageBar/MessageBar.stories.tsx
  change/@fluentui-react-message-bar-bcac357a-71f0-438b-89fe-087e112ab7ec.json
  packages/react-components/react-message-bar/etc/react-message-bar.api.md
  packages/react-components/react-message-bar/src/components/MessageBar/MessageBar.test.tsx
  packages/react-components/react-message-bar/src/components/MessageBar/MessageBar.types.ts
  packages/react-components/react-message-bar/src/components/MessageBar/renderMessageBar.tsx
  packages/react-components/react-message-bar/src/components/MessageBar/useMessageBar.ts
  packages/react-components/react-message-bar/src/components/MessageBar/useMessageBarStyles.styles.ts
Labels: Component: MessageBar

#30479 fix(workspace-plugin): dont use ecma reserved word for star import alias within bundle-size-configuration generator
  tools/workspace-plugin/src/generators/bundle-size-configuration/files/bundle-size/index.fixture.js.template
  tools/workspace-plugin/src/generators/bundle-size-configuration/generator.spec.ts
Labels: NX: workspace generators

#30472 chore: bump nx to 17.3.x
  migrations.json
  package.json
  yarn.lock
Labels: Area: Build System, NX: core

#26681 Fix bugs in gauge chart
  change/@fluentui-react-charting-7249d06f-5f3f-4f7f-8b04-dea8addc322d.json
  packages/react-charting/docs/TestPlans/GaugeChart/ComponentTests.md
  packages/react-charting/etc/react-charting.api.md
  packages/react-charting/src/components/GaugeChart/GaugeChart.base.tsx
  packages/react-charting/src/components/GaugeChart/GaugeChart.test.tsx
  packages/react-charting/src/components/GaugeChart/GaugeChart.types.ts
  packages/react-charting/src/components/GaugeChart/__snapshots__/GaugeChart.test.tsx.snap
  packages/react-examples/src/react-charting/GaugeChart/GaugeChart.Basic.Example.tsx
  packages/react-examples/src/react-charting/GaugeChart/GaugeChart.SingleSegment.Example.tsx
  packages/react-examples/src/react-charting/GaugeChart/GaugeChart.doc.tsx
  packages/react-examples/src/react-charting/GaugeChart/GaugeChartPage.tsx
  packages/react-examples/src/react-charting/GaugeChart/docs/GaugeChartBestPractices.md
Labels: Package: charting

#30392 [1 of N] [Size optimization] Compress charting bundle size by mangling variable names
  change/@fluentui-react-charting-b5125005-397e-427f-b4d8-a674ed300d61.json
  packages/react-charting/webpack.config.js
Labels: Package: charting

#30492 V8 Coachmark - Fix: Enable click to open Coachmark on mobile
  change/@fluentui-react-154ee35d-239e-4e15-8fa2-3fd2bd1104f9.json
  packages/react/src/components/Coachmark/Coachmark.base.tsx
  packages/react/src/components/Coachmark/Coachmark.styles.ts
  packages/react/src/components/Coachmark/__snapshots__/Coachmark.test.tsx.snap
Labels: Component: Coachmark

#30301 feat(react-conformance): Deprecate conformance test `consistent-callback-args`
  change/@fluentui-react-conformance-431ee39f-6045-4fc2-92c0-ac5b7f5d9b6c.json
  packages/react-conformance/src/defaultTests.tsx
  packages/react-conformance/src/types.ts
Labels: Area: Testing

#30489 chore: Integrate microsoft/monosize in react-charting library for AreaChart and VerticalBarChart
  change/@fluentui-react-charting-0091dd21-21f9-4537-8fd9-fbfee2e292e7.json
  packages/react-charting/bundle-size/AreaChart.fixture.js
  packages/react-charting/bundle-size/VerticalBarChart.fixture.js
  packages/react-charting/monosize.config.mjs
  packages/react-charting/package.json
Labels: Package: charting

#30410 Sankey: memoize layout computation, improve rebalancing
  change/@fluentui-react-charting-b4ae05bf-ccc8-4b5d-ba2d-ec1bf54ead37.json
  packages/react-charting/UnitTests/SankeyChartUT.test.tsx
  packages/react-charting/src/components/SankeyChart/SankeyChart.base.tsx
  packages/react-charting/src/components/SankeyChart/SankeyChart.test.tsx
  packages/react-charting/src/components/SankeyChart/SankeyChartRTL.test.tsx
  packages/react-charting/src/components/SankeyChart/__snapshots__/SankeyChart.test.tsx.snap
  packages/react-examples/src/react-charting/SankeyChart/SankeyChart.Rebalance.Example.tsx
  packages/react-examples/src/react-charting/SankeyChart/SankeyChartPage.tsx
  packages/react-examples/src/react-charting/SankeyChart/docs/SankeyChartBestPractices.md
Labels: Package: charting

#30315 Fix alignment of date axis ticks with data points
  change/@fluentui-react-charting-334a9369-9dbd-4b08-909e-ae0b17bd091b.json
  packages/react-charting/package.json
  packages/react-charting/scripts/constants.js
  packages/react-charting/scripts/run-tests-in-timezone.js
  packages/react-charting/src/components/AreaChart/AreaChartRTL.test.tsx
  packages/react-charting/src/components/AreaChart/__snapshots__/AreaChartRTL.test.tsx.snap
  packages/react-charting/src/components/HeatMapChart/HeatMapChart.test.tsx
  packages/react-charting/src/components/HeatMapChart/HeatMapChartRTL.test.tsx
  packages/react-charting/src/components/HeatMapChart/__snapshots__/HeatMapChart.test.tsx.snap
  packages/react-charting/src/components/HeatMapChart/__snapshots__/HeatMapChartRTL.test.tsx.snap
  packages/react-charting/src/components/VerticalBarChart/VerticalBarChart.base.tsx
  packages/react-charting/src/components/VerticalBarChart/VerticalBarChartRTL.test.tsx
  packages/react-charting/src/components/VerticalBarChart/__snapshots__/VerticalBarChartRTL.test.tsx.snap
  packages/react-charting/src/components/VerticalStackedBarChart/VerticalStackedBarChart.base.tsx
  packages/react-charting/src/components/VerticalStackedBarChart/VerticalStackedBarChartRTL.test.tsx
  packages/react-charting/src/components/VerticalStackedBarChart/__snapshots__/VerticalStackedBarChartRTL.test.tsx.snap
  packages/react-charting/src/utilities/TestUtility.test.tsx
  packages/react-charting/src/utilities/UtilityUnitTests.test.ts
  packages/react-charting/src/utilities/utilities.ts
  packages/react-examples/src/react-charting/AreaChart/docs/AreaChartBestPractices.md
  packages/react-examples/src/react-charting/HeatMapChart/docs/HeatMapChartBestPractices.md
  packages/react-examples/src/react-charting/LineChart/docs/LineChartBestPractices.md
  packages/react-examples/src/react-charting/VerticalBarChart/docs/VerticalBarChartBestPractices.md
  packages/react-examples/src/react-charting/VerticalStackedBarChart/docs/VerticalStackedBarChartBestPractices.md
Labels: Package: charting

#30486 fix: MenuPopover should stay open for submenu even when not openOnHover
  change/@fluentui-react-menu-5263c408-028b-430c-aeac-d0dcccf716c6.json
  packages/react-components/react-menu/src/components/MenuPopover/useMenuPopover.ts
Labels: Component: Menu

#30503 feat: migrate lage task dependencies to nx
  nx.json
  packages/fluentui/docs/project.json
Labels: NX: core

#30502 chore: migrate to cypress 13
  package.json
  yarn.lock
Labels: dependencies

#30504 feat: setup verdaccio within monorepo
  .gitignore
  .verdaccio/config.yml
  package.json
  project.json
  tools/workspace-plugin/scripts/install-verdaccio.js
Labels: NX: core

#30497 fix: Dismiss Menu when MenuLinkItem is clicked.
  change/@fluentui-react-menu-00f5d370-1ef9-4c93-96a6-8c4e1a4858fb.json
  packages/react-components/react-menu/src/components/MenuItemLink/MenuItemLink.test.tsx
  packages/react-components/react-menu/src/components/MenuItemLink/useMenuItemLink.ts
  packages/react-components/react-menu/stories/Menu/MenuItemLinkNavigation.stories.tsx
Labels: Component: Menu, Component: MenuItem

#30512 feat(timepicker-compat): add "clearable" prop
  change/@fluentui-react-timepicker-compat-155a6a83-16a7-46e2-a4f3-881803328e49.json
  packages/react-components/react-timepicker-compat/etc/react-timepicker-compat.api.md
  packages/react-components/react-timepicker-compat/src/components/TimePicker/TimePicker.test.tsx
  packages/react-components/react-timepicker-compat/src/components/TimePicker/TimePicker.types.ts
  packages/react-components/react-timepicker-compat/src/components/TimePicker/useTimePickerStyles.styles.ts
  packages/react-components/react-timepicker-compat/stories/TimePicker/TimePickerClearable.stories.tsx
  packages/react-components/react-timepicker-compat/stories/TimePicker/index.stories.tsx
Labels: Component: TimePicker, Component: TimePickerCompat

#30509 Sankey Diagram: Requiring strings for UX localization
  change/@fluentui-react-charting-3dfa3e61-d8ae-4541-a3ed-1bb4ae87e2c1.json
  packages/react-charting/UnitTests/SankeyChartUT.test.tsx
  packages/react-charting/etc/react-charting.api.md
  packages/react-charting/src/components/SankeyChart/SankeyChart.base.tsx
  packages/react-charting/src/components/SankeyChart/SankeyChart.test.tsx
  packages/react-charting/src/components/SankeyChart/SankeyChart.types.ts
  packages/react-charting/src/components/SankeyChart/SankeyChartRTL.test.tsx
  packages/react-charting/src/components/SankeyChart/__snapshots__/SankeyChart.test.tsx.snap
  packages/react-examples/src/react-charting/SankeyChart/SankeyChart.Basic.Example.tsx
  packages/react-examples/src/react-charting/SankeyChart/SankeyChart.Inbox.Example.tsx
  packages/react-examples/src/react-charting/SankeyChart/SankeyChart.Rebalance.Example.tsx
Labels: Package: charting

#30574 updated color code to stackedBarChart benchmark example data
  packages/react-examples/src/react-charting/StackedBarChart/StackedBarChart.Benchmark.Example.tsx
Labels: Package: charting

#30373 Add migration guide for charts in v9 docsite
  apps/public-docsite-v9/src/Concepts/Migration/FromV8/ComponentMapping.stories.mdx
  apps/public-docsite-v9/src/Concepts/Migration/FromV8/Components/Charts.stories.mdx
Labels: Package: charting

#30544 feat(swatch-picker): Added ColorSwatch sub component and selection logic
  change/@fluentui-react-shared-contexts-363c88cd-d979-4cea-a182-2792a0a16c31.json
  packages/react-components/react-swatch-picker-preview/etc/react-swatch-picker-preview.api.md
  packages/react-components/react-swatch-picker-preview/package.json
  packages/react-components/react-swatch-picker-preview/src/ColorSwatch.ts
  packages/react-components/react-swatch-picker-preview/src/components/ColorSwatch/ColorSwatch.test.tsx
  packages/react-components/react-swatch-picker-preview/src/components/ColorSwatch/ColorSwatch.tsx
  packages/react-components/react-swatch-picker-preview/src/components/ColorSwatch/ColorSwatch.types.ts
  packages/react-components/react-swatch-picker-preview/src/components/ColorSwatch/index.ts
  packages/react-components/react-swatch-picker-preview/src/components/ColorSwatch/renderColorSwatch.tsx
  packages/react-components/react-swatch-picker-preview/src/components/ColorSwatch/useColorSwatch.ts
  packages/react-components/react-swatch-picker-preview/src/components/ColorSwatch/useColorSwatchStyles.styles.ts
  packages/react-components/react-swatch-picker-preview/src/components/SwatchPicker/SwatchPicker.test.tsx
  packages/react-components/react-swatch-picker-preview/src/components/SwatchPicker/SwatchPicker.tsx
  packages/react-components/react-swatch-picker-preview/src/components/SwatchPicker/SwatchPicker.types.ts
  packages/react-components/react-swatch-picker-preview/src/components/SwatchPicker/__snapshots__/SwatchPicker.test.tsx.snap
  packages/react-components/react-swatch-picker-preview/src/components/SwatchPicker/renderSwatchPicker.tsx
  packages/react-components/react-swatch-picker-preview/src/components/SwatchPicker/useSwatchPicker.ts
  packages/react-components/react-swatch-picker-preview/src/components/SwatchPicker/useSwatchPickerStyles.styles.ts
  packages/react-components/react-swatch-picker-preview/src/contexts/swatchPicker.ts
  packages/react-components/react-swatch-picker-preview/src/index.ts
  packages/react-components/react-swatch-picker-preview/stories/ColorSwatch/ColorSwatchBestPractices.md
  packages/react-components/react-swatch-picker-preview/stories/ColorSwatch/ColorSwatchDefault.stories.tsx
  packages/react-components/react-swatch-picker-preview/stories/ColorSwatch/ColorSwatchDescription.md
  packages/react-components/react-swatch-picker-preview/stories/ColorSwatch/index.stories.tsx
  packages/react-components/react-swatch-picker-preview/stories/SwatchPicker/SwatchPickerDefault.stories.tsx
Labels: Type: Feature, Component: SwatchColorPicker

#30237 [Fix] Zero values unavailable in DonutChart plot
  change/@fluentui-react-charting-fd6cfadf-25f3-4869-923b-f6ee828c7de1.json
  packages/react-charting/src/components/DonutChart/DonutChart.base.tsx
  packages/react-charting/src/utilities/UtilityUnitTests.test.ts
  packages/react-charting/src/utilities/__snapshots__/UtilityUnitTests.test.ts.snap
  packages/react-charting/src/utilities/utilities.ts
Labels: Package: charting

#30618 Donut chart Unit test cases
  packages/react-charting/UnitTests/DonutChartUT.test.tsx
  packages/react-charting/docs/TestPlans/DonutChart/UnitTests.md
Labels: Package: charting

#30629 docs(react-dialog): creates story for DialogActions
  packages/react-components/react-dialog/stories/Dialog/DialogActions.md
  packages/react-components/react-dialog/stories/Dialog/DialogActions.stories.tsx
  packages/react-components/react-dialog/stories/Dialog/index.stories.tsx
Labels: Component: Dialog

#30638 Fix Rating icon layout
  change/@fluentui-react-rating-preview-9f325e30-7f5b-430e-85bc-80a4e03999da.json
  packages/react-components/react-rating-preview/src/components/RatingItem/useRatingItemStyles.styles.ts
Labels: Component: Rating

#30639 Fix: Add wrap to Rating and RatingDisplay
  change/@fluentui-react-rating-preview-d2b46b99-f2b6-48df-87e9-0fba20df0cd2.json
  packages/react-components/react-rating-preview/src/components/Rating/useRatingStyles.styles.ts
  packages/react-components/react-rating-preview/src/components/RatingDisplay/useRatingDisplayStyles.styles.ts
Labels: Component: Rating

#30309 Bump jest-axe from 6.0.1 to 8.0.0
  package.json
  packages/fluentui/react-builder/package.json
  yarn.lock
Labels: Package: charting

#30412 feat(tokens): Update color tokens
  apps/public-docsite-v9/src/Concepts/Migration/FromV8/ThemeColors/colorMap.ts
  apps/public-docsite-v9/src/shims/ThemeShim/v9ThemeShim.ts
  change/@fluentui-react-migration-v8-v9-8069b6ef-acbf-4022-ba31-a075829e5612.json
  change/@fluentui-react-theme-sass-4b9f9a4b-126d-4c76-9ce4-dbda3681cc22.json
  change/@fluentui-tokens-db0c9eb4-4cb6-47bf-a333-a257d278380b.json
  packages/react-components/react-migration-v8-v9/src/components/Theme/v9ThemeShim.ts
  packages/react-components/react-theme-sass/sass/colorPaletteTokens.scss
  packages/react-components/react-theme-sass/sass/colorTokens.scss
  packages/tokens/etc/tokens.api.md
  packages/tokens/src/alias/darkColor.ts
  packages/tokens/src/alias/darkColorPalette.ts
  packages/tokens/src/alias/highContrastColor.ts
  packages/tokens/src/alias/highContrastColorPalette.ts
  packages/tokens/src/alias/lightColor.ts
  packages/tokens/src/alias/lightColorPalette.ts
  packages/tokens/src/alias/teamsDarkColor.ts
  packages/tokens/src/global/colors.ts
  packages/tokens/src/tokens.ts
  packages/tokens/src/types.ts
Labels: Area: Accessibility, Component: Theme
