Repository microsoft/fluentui, pull requests merged in 2024-12, with the labels that each got.

#33349 feat(react-color-picker): added `shape` prop to the ColorPicker
  packages/react-components/react-color-picker-preview/library/src/components/AlphaSlider/useAlphaSlider.ts
  packages/react-components/react-color-picker-preview/library/src/components/ColorArea/ColorArea.types.ts
  packages/react-components/react-color-picker-preview/library/src/components/ColorArea/useColorArea.ts
  packages/react-components/react-color-picker-preview/library/src/components/ColorArea/useColorAreaStyles.styles.ts
  packages/react-components/react-color-picker-preview/library/src/components/ColorPicker/ColorPicker.types.ts
  packages/react-components/react-color-picker-preview/library/src/components/ColorPicker/useColorPicker.ts
  packages/react-components/react-color-picker-preview/library/src/components/ColorSlider/ColorSlider.types.ts
  packages/react-components/react-color-picker-preview/library/src/components/ColorSlider/useColorSlider.ts
  packages/react-components/react-color-picker-preview/library/src/components/ColorSlider/useColorSliderStyles.styles.ts
  packages/react-components/react-color-picker-preview/library/src/contexts/colorPicker.ts
  packages/react-components/react-color-picker-preview/stories/src/ColorPicker/ColorPickerShape.stories.tsx
  packages/react-components/react-color-picker-preview/stories/src/ColorPicker/index.stories.tsx
Labels: Component: ColorPicker

#33214 feat(eslint-plugin-react-components): package scaffolding
  change/@fluentui-eslint-plugin-react-components-d23a0b45-cc0f-4595-a90e-88d6080124ea.json
  packages/react-components/eslint-plugin-react-components/.eslintrc.json
  packages/react-components/eslint-plugin-react-components/.swcrc
  packages/react-components/eslint-plugin-react-components/LICENSE
  packages/react-components/eslint-plugin-react-components/README.md
  packages/react-components/eslint-plugin-react-components/config/api-extractor.json
  packages/react-components/eslint-plugin-react-components/config/tests.js
  packages/react-components/eslint-plugin-react-components/etc/eslint-plugin-react-components.api.md
  packages/react-components/eslint-plugin-react-components/jest.config.js
  packages/react-components/eslint-plugin-react-components/package.json
  packages/react-components/eslint-plugin-react-components/project.json
  packages/react-components/eslint-plugin-react-components/src/index.ts
  packages/react-components/eslint-plugin-react-components/tsconfig.json
  packages/react-components/eslint-plugin-react-components/tsconfig.lib.json
  packages/react-components/eslint-plugin-react-components/tsconfig.spec.json
  tsconfig.base.all.json
  tsconfig.base.json
  yarn.lock
Labels: Area: Build System, Fluent UI react-components (v9), NX: core

#33394 feat(react-tooltip): do not show tooltip, if it's applied to menu trigger and menu is opened
  change/@fluentui-react-tooltip-783b798d-8864-492c-a76d-bd4fdc1d0775.json
  packages/react-components/react-tooltip/library/src/components/Tooltip/Tooltip.types.ts
  packages/react-components/react-tooltip/library/src/components/Tooltip/useTooltip.tsx
Labels: Component: Tooltip, Component: Menu

#33385 docs(react-swatch-picker/react-breadcrumb): Fixed README.md
  change/@fluentui-react-breadcrumb-150afba5-5fab-46cc-b51c-deca9fe9df64.json
  change/@fluentui-react-swatch-picker-ca74a0d3-9752-4cf7-80a3-93faea1bec5d.json
  packages/react-components/react-breadcrumb/library/README.md
  packages/react-components/react-swatch-picker/library/README.md
Labels: Component: Breadcrumb, Component: SwatchPicker

#33144 fix(web-components): add `current-value` attribute to TextInput component
  change/@fluentui-web-components-7901265e-589d-4d51-8bb8-320a376cb79d.json
  packages/web-components/docs/api-report.md
  packages/web-components/src/text-input/text-input.spec.ts
  packages/web-components/src/text-input/text-input.ts
Labels: web-components

#33372 docs(react-color-picker): Added hex input field and validation
  packages/react-components/react-color-picker-preview/stories/src/ColorPicker/ColorPickerDefault.stories.tsx
Labels: Component: ColorPicker

#33416 docs(react-color-picker): added subcomponents
  packages/react-components/react-color-picker-preview/stories/package.json
  packages/react-components/react-color-picker-preview/stories/src/ColorPicker/index.stories.tsx
Labels: Component: ColorPicker

#33379 chore: update generator to stop using "export *"
  tools/workspace-plugin/src/generators/react-component/files/component/index.ts__tmpl__
  tools/workspace-plugin/src/generators/react-component/index.spec.ts
  tools/workspace-plugin/src/generators/react-component/index.ts
Labels: NX: core

#33413 docs(react-swatch-picker): replaced native ColorPicker with V9 one.
  packages/react-components/react-swatch-picker/stories/package.json
  packages/react-components/react-swatch-picker/stories/src/SwatchPicker/EmptySwatch.stories.tsx
Labels: Component: SwatchPicker

#33441 fix(react-tabs): adjust styles for circular tabs
  change/@fluentui-react-tabs-7a95002f-25eb-47c0-9f9b-a77ffdef753a.json
  packages/react-components/react-tabs/library/src/components/Tab/useTabStyles.styles.ts
Labels: Fluent UI react-components (v9), Component: Tabs

#33415 fix(react-color-picker): active axis for ColorPicker
  change/@fluentui-react-color-picker-preview-efdd71e7-571d-48bf-9e41-37f6d220a529.json
  packages/react-components/react-color-picker-preview/library/src/components/ColorArea/ColorArea.cy.tsx
  packages/react-components/react-color-picker-preview/library/src/components/ColorArea/ColorArea.test.tsx
  packages/react-components/react-color-picker-preview/library/src/components/ColorArea/useColorArea.ts
Labels: Component: ColorPicker

#33453 Carousel: Set CarouselNav totalSlides to controlled
  change/@fluentui-react-carousel-6c54eead-adb1-472f-9bdd-51f424e2c9db.json
  packages/react-components/react-carousel/library/src/components/CarouselNav/useCarouselNav.ts
Labels: Component: Carousel

#33243 Updated pickers with input attribute compatibility.
  change/@fluentui-react-fd94592f-6c11-434f-a340-fce340db9a34.json
  packages/react-examples/src/react/PeoplePicker/PeoplePicker.List.Example.tsx
  packages/react-examples/src/react/PeoplePicker/PeoplePicker.Normal.Example.tsx
  packages/react/etc/react.api.md
  packages/react/src/components/pickers/BasePicker.styles.ts
  packages/react/src/components/pickers/BasePicker.tsx
  packages/react/src/components/pickers/BasePicker.types.ts
  packages/react/src/components/pickers/PeoplePicker/__snapshots__/PeoplePicker.test.tsx.snap
  packages/react/src/components/pickers/TagPicker/__snapshots__/TagPicker.test.tsx.snap
  packages/react/src/components/pickers/__snapshots__/BasePicker.test.tsx.snap
Labels: Component: Pickers

#33393 bugfix(tokens): ensure teams tokens follow teams overrides for fonts
  change/@fluentui-tokens-a1396b99-e2b7-4ab3-8c89-7d58c5b4ba8b.json
  packages/tokens/src/alias/teamsFontFamilies.ts
  packages/tokens/src/themes/teams/darkTheme.ts
  packages/tokens/src/themes/teams/highContrastTheme.ts
  packages/tokens/src/themes/teams/lightTheme.ts
Labels: Area: Fonts

#33425 docs(react-color-picker): added more stories
  packages/react-components/react-color-picker-preview/stories/src/ColorPicker/ColorAndSwatchPicker.stories.tsx
  packages/react-components/react-color-picker-preview/stories/src/ColorPicker/ColorPickerPopup.stories.tsx
  packages/react-components/react-color-picker-preview/stories/src/ColorPicker/index.stories.tsx
Labels: Component: ColorPicker

#33361 fix(react-rating): Pass missing Rating's itemLabel prop to its state so RatingItem consumes it from context
  change/@fluentui-react-rating-94e96782-4be8-468e-b1a3-0b2ac9a76c62.json
  packages/react-components/react-rating/library/src/components/Rating/Rating.test.tsx
  packages/react-components/react-rating/library/src/components/Rating/useRating.tsx
Labels: Component: Rating, Fluent UI react-components (v9)

#33483 fix(react-color-picker): added bundle size configuration
  packages/react-components/react-color-picker-preview/library/bundle-size/ColorArea.fixture.js
  packages/react-components/react-color-picker-preview/library/bundle-size/ColorPicker.fixture.js
  packages/react-components/react-color-picker-preview/library/bundle-size/ColorSlider.fixture.js
Labels: Component: ColorPicker

#33235 chore: migrate to ts 5.3.3
  change/@fluentui-react-1bdbe475-2d17-453e-b058-b152322278cd.json
  package.json
  packages/react/etc/react.api.md
  packages/react/src/components/ContextualMenu/ContextualMenu.base.tsx
  yarn.lock
Labels: Area: Build System, Area: Typescript

#33491 test(react-color-picker): added vr tests
  apps/vr-tests-react-components/package.json
  apps/vr-tests-react-components/src/stories/ColorPicker/ColorPicker.stories.tsx
  apps/vr-tests-react-components/src/stories/ColorPicker/utils.tsx
Labels: Component: ColorPicker

#33513 test(react-swatch-picker): fixed VR tests.
  apps/vr-tests-react-components/src/stories/SwatchPicker/SwatchPicker.stories.tsx
  apps/vr-tests-react-components/src/stories/SwatchPicker/utils.tsx
Labels: Component: SwatchPicker
