Repository microsoft/fluentui, pull requests merged in 2024-11, with the labels that each got.

#33070 ci(.github): migrate infra to GHA
  .github/actions/run-publish-vr-screenshot/action.yml
  .github/workflows/bundle-size-comment.yml
  .github/workflows/bundle-size.yml
  .github/workflows/pr-vrt.yml
  .github/workflows/pr-website-deploy-comment.yml
  .github/workflows/pr-website-deploy.yml
  .github/workflows/pr.yml
  .github/workflows/scripts/bundle-size-comment.js
  .github/workflows/scripts/deploy-pr-site-status.js
  jest.preset.js
  nx.json
  packages/react-components/react-tag-picker/library/src/components/TagPicker/TagPicker.cy.tsx
  packages/web-components/src/anchor-button/anchor-button.spec.ts
  packages/web-components/src/menu/menu.spec.ts
  packages/web-components/src/message-bar/message-bar.integration.spec.ts
  packages/web-components/src/radio-group/radio-group.spec.ts
  scripts/jest/src/shared.js
Labels: Area: Build System, CI

#33185 ci(.github): fix invalid download-artifact params
  .github/workflows/bundle-size-comment.yml
  .github/workflows/pr-website-deploy-comment.yml
Labels: CI

#33108 docs(public-docsite-v9): embed fluentui-contrib docsite
  apps/public-docsite-v9/.storybook/main.js
  apps/public-docsite-v9/.storybook/manager-head.html
Labels: Area: Documentation, Storybook

#33188 ci(.github): migrate from deprecated usage of set-output syntax and fix invalid deploy URL
  .github/workflows/bundle-size-comment.yml
  .github/workflows/pr-website-deploy-comment.yml
Labels: CI

#33190 ci(.github): move scripts to .github root to fix invalid paths within workflows and fix deploy url output
  .github/scripts/bundle-size-comment.js
  .github/scripts/deploy-pr-site-status.js
  .github/workflows/pr-website-deploy-comment.yml
Labels: CI

#33191 ci(.github): make custom gha script accessible to workflow and don't override comments on PRs
  .github/workflows/bundle-size-comment.yml
  .github/workflows/pr-website-deploy-comment.yml
Labels: CI

#33198 feat(scripts-executors): add inferred projects support to start experience
  .github/workflows/check-tooling.yml
  scripts/executors/src/start.ts
  tools/workspace-plugin/src/executors/generate-api/executor.ts
Labels: NX: core

#32852 feat(web-components): add Tooltip component
  change/@fluentui-web-components-037cbaec-4ee8-4f24-8cb7-1ae8ea8546f4.json
  packages/web-components/.storybook/preview-head.html
  packages/web-components/docs/api-report.md
  packages/web-components/src/_docs/developer/polyfilling.stories.mdx
  packages/web-components/src/index-rollup.ts
  packages/web-components/src/index.ts
  packages/web-components/src/tooltip/define.ts
  packages/web-components/src/tooltip/index.ts
  packages/web-components/src/tooltip/tooltip.definition.ts
  packages/web-components/src/tooltip/tooltip.options.ts
  packages/web-components/src/tooltip/tooltip.spec.ts
  packages/web-components/src/tooltip/tooltip.stories.ts
  packages/web-components/src/tooltip/tooltip.styles.ts
  packages/web-components/src/tooltip/tooltip.template.ts
  packages/web-components/src/tooltip/tooltip.ts
Labels: Component: Tooltip, web-components

#33208 feat(scripts/package-manager): add notifications for nx related changes
  .githooks/post-checkout
  .githooks/post-merge
  scripts/package-manager/src/notify-lockfile-changes.js
  scripts/package-manager/src/notify-on-file-changes.js
Labels: NX: core

#33182 Rename motion component variants ...Exaggerated to ...Relaxed
  change/@fluentui-react-motion-components-preview-ce97692b-d797-47e0-ad42-4d0561a9f7da.json
  packages/react-components/react-motion-components-preview/library/etc/react-motion-components-preview.api.md
  packages/react-components/react-motion-components-preview/library/src/components/Collapse/Collapse.ts
  packages/react-components/react-motion-components-preview/library/src/components/Fade/Fade.test.tsx
  packages/react-components/react-motion-components-preview/library/src/components/Fade/Fade.ts
  packages/react-components/react-motion-components-preview/library/src/components/Scale/Scale.ts
  packages/react-components/react-motion-components-preview/library/src/index.ts
  packages/react-components/react-motion-components-preview/stories/src/Collapse/CollapseExaggerated.stories.md
  packages/react-components/react-motion-components-preview/stories/src/Collapse/CollapseRelaxed.stories.md
  packages/react-components/react-motion-components-preview/stories/src/Collapse/CollapseRelaxed.stories.tsx
  packages/react-components/react-motion-components-preview/stories/src/Collapse/index.stories.ts
  packages/react-components/react-motion-components-preview/stories/src/Fade/FadeExaggerated.stories.md
  packages/react-components/react-motion-components-preview/stories/src/Fade/FadeRelaxed.stories.md
  packages/react-components/react-motion-components-preview/stories/src/Fade/FadeRelaxed.stories.tsx
  packages/react-components/react-motion-components-preview/stories/src/Fade/index.stories.ts
  packages/react-components/react-motion-components-preview/stories/src/Scale/ScaleExaggerated.stories.md
  packages/react-components/react-motion-components-preview/stories/src/Scale/ScaleRelaxed.stories.md
  packages/react-components/react-motion-components-preview/stories/src/Scale/ScaleRelaxed.stories.tsx
  packages/react-components/react-motion-components-preview/stories/src/Scale/index.stories.ts
Labels: Area: Animation

#33202 ci(.github): prepare new pipelines for migration from ADO
  .github/actions/run-publish-vr-screenshot/action.yml
  .github/labeler.yml
  .github/workflows/bundle-size-base.yml
  .github/workflows/bundle-size.yml
  .github/workflows/check-packages.yml
  .github/workflows/docsite-publish-ghpages.yml
  .github/workflows/issues.yml
  .github/workflows/pr-housekeeping.yml
  .github/workflows/pr-website-deploy-comment.yml
  .github/workflows/pr-website-deploy.yml
  .github/workflows/pr.yml
  change/@fluentui-web-components-9ecadf3f-3fd0-44c1-9abd-20a3456d8738.json
  packages/web-components/src/tooltip/tooltip.ts
  scripts/triage-bot/README.md
Labels: CI

#31887 fix(Tooltip): Do not prevent showing tooltip in keyboard mode
  change/@fluentui-react-tabster-eab71fef-90f6-4251-97bf-a6fdb14d98bb.json
  change/@fluentui-react-tooltip-7716dcaf-b67a-4edf-a80a-b57ea86298ef.json
  packages/react-components/react-tabster/etc/react-tabster.api.md
  packages/react-components/react-tabster/src/hooks/index.ts
  packages/react-components/react-tabster/src/hooks/useIsNavigatingWithKeyboard.ts
  packages/react-components/react-tabster/src/index.ts
  packages/react-components/react-tooltip/library/src/components/Tooltip/useTooltip.tsx
Labels: Component: Tooltip, tabster

#33203 fix(react-tags): explicitly set box-sizing for tag icon
  apps/vr-tests-react-components/src/stories/Tag/InteractionTag.stories.tsx
  change/@fluentui-react-tags-b351cafc-ed90-43e9-b0db-dfa0bb475de8.json
  packages/react-components/react-tags/library/src/components/Tag/useTagStyles.styles.ts
Labels: Type: Bug :bug:, Partner Ask, Fluent UI react-components (v9), Component: Tag

#33222 ci(ado): dont run bundle-size on PR which is covered by GHA
  azure-pipelines.bundlesize.yml
Labels: CI

#33234 ci(.github): enable pr id validation within pr-website-deploy
  .github/scripts/validate-pr-number.js
  .github/workflows/pr-website-deploy-comment.yml
Labels: CI

#33226 feat(react-drawer): add support for mountNode with className
  change/@fluentui-react-drawer-f26a20ea-8196-4280-adda-bbfb8ed23c93.json
  packages/react-components/react-drawer/library/etc/react-drawer.api.md
  packages/react-components/react-drawer/library/package.json
  packages/react-components/react-drawer/library/src/components/OverlayDrawer/OverlayDrawer.test.tsx
  packages/react-components/react-drawer/library/src/components/OverlayDrawer/OverlayDrawer.types.ts
  packages/react-components/react-drawer/library/src/components/OverlayDrawer/useOverlayDrawer.tsx
  packages/react-components/react-drawer/library/src/components/OverlayDrawer/useOverlayDrawerStyles.styles.ts
Labels: Component: Drawer

#33247 bugfix(react-dialog): ensures dialog surface style without surfaceMotion
  change/@fluentui-react-dialog-5f8bb155-a039-460c-8314-c8d28bfe9cfa.json
  packages/react-components/react-dialog/library/src/components/DialogSurface/useDialogSurfaceStyles.styles.ts
Labels: Component: Dialog

#33251 fix(`react-combobox`): Clearable `Dropdowns` and `Comboboxes` do not show clear button if they are disabled
  change/@fluentui-react-combobox-cd58fbb4-facf-4aa2-8116-88f7d8f05ee9.json
  packages/react-components/react-combobox/library/src/components/Combobox/Combobox.test.tsx
  packages/react-components/react-combobox/library/src/components/Combobox/useCombobox.tsx
  packages/react-components/react-combobox/library/src/components/Dropdown/Dropdown.test.tsx
  packages/react-components/react-combobox/library/src/components/Dropdown/useDropdown.tsx
Labels: Component: Dropdown, Component: Combobox

#33263 fix(`react`): Left-aligning `SuggestionItem`'s contents so they do not move and shift on hover
  change/@fluentui-react-68ba4dbf-1de0-48fa-bc8d-7eae1a191d63.json
  packages/react/src/components/pickers/Suggestions/SuggestionsItem.styles.ts
  packages/react/src/components/pickers/Suggestions/__snapshots__/Suggestions.test.tsx.snap
Labels: Component: PeoplePicker

#33041 feat(react-color-picker): added keyboard events for ColorArea
  packages/react-components/react-color-picker-preview/library/cypress.config.ts
  packages/react-components/react-color-picker-preview/library/etc/react-color-picker-preview.api.md
  packages/react-components/react-color-picker-preview/library/src/components/ColorArea/ColorArea.cy.tsx
  packages/react-components/react-color-picker-preview/library/src/components/ColorArea/ColorArea.test.tsx
  packages/react-components/react-color-picker-preview/library/src/components/ColorArea/ColorArea.tsx
  packages/react-components/react-color-picker-preview/library/src/components/ColorArea/ColorArea.types.ts
  packages/react-components/react-color-picker-preview/library/src/components/ColorArea/__snapshots__/ColorArea.test.tsx.snap
  packages/react-components/react-color-picker-preview/library/src/components/ColorArea/renderColorArea.tsx
  packages/react-components/react-color-picker-preview/library/src/components/ColorArea/useColorArea.ts
  packages/react-components/react-color-picker-preview/library/src/components/ColorArea/useColorAreaStyles.styles.ts
  packages/react-components/react-color-picker-preview/library/src/components/ColorPicker/ColorPicker.tsx
  packages/react-components/react-color-picker-preview/library/src/utils/constants.ts
  packages/react-components/react-color-picker-preview/library/src/utils/getCoordinates.ts
  packages/react-components/react-color-picker-preview/library/tsconfig.cy.json
  packages/react-components/react-color-picker-preview/library/tsconfig.json
  packages/react-components/react-color-picker-preview/library/tsconfig.lib.json
  packages/react-components/react-color-picker-preview/stories/src/ColorArea/ColorAreaDefault.stories.tsx
Labels: Component: ColorPicker

#33236 fix(react-tabs): focus selected tab by default
  change/@fluentui-react-tabs-4503bfaf-5cb1-41dd-8b65-19cfa0d1acce.json
  packages/react-components/react-tabs/library/src/components/Tab/__snapshots__/Tab.test.tsx.snap
  packages/react-components/react-tabs/library/src/components/Tab/useTab.ts
  packages/react-components/react-tabs/library/src/components/TabList/__snapshots__/TabList.test.tsx.snap
  packages/react-components/react-tabs/library/src/components/TabList/useTabList.ts
Labels: Type: Bug :bug:, Area: Accessibility, Fluent UI react-components (v9), Component: TabList

#32424 feat(react-slider): adjust slider thumb position
  change/@fluentui-react-slider-280a3a5b-be16-4a74-8359-a7dd8acfb550.json
  packages/react-components/react-slider/library/src/components/Slider/useSliderStyles.styles.ts
Labels: Type: Feature, Component: Slider, Fluent UI react-components (v9)

#33253 chore(`react-infolabel`): Adding `maxWidth` to `InfoButton`'s popover to match figma spec
  change/@fluentui-react-infolabel-75e65619-149e-4b64-9ec9-06efe295fc27.json
  packages/react-components/react-infolabel/library/src/components/InfoButton/useInfoButtonStyles.styles.ts
Labels: Component: InfoButton

#33260 fix(react-positioning): update writeArrowUpdates to correctly resolve arrow positioning
  apps/vr-tests-react-components/src/stories/Tooltip/TooltipPositioning.stories.tsx
  apps/vr-tests-react-components/src/stories/Tooltip/utils.ts
  change/@fluentui-react-positioning-a171cb79-b220-449e-83a3-440d479bdc84.json
  packages/react-components/react-positioning/src/utils/writeArrowUpdates.ts
Labels: Component: Tooltip, Component: TeachingPopover, Area: Positioning, Package: positioning

#33277 chore: ensure TreeItem role can be overridden by props
  change/@fluentui-react-tree-a886fa7c-b0f9-4646-8bd7-e9be02201229.json
  packages/react-components/react-tree/library/src/components/TreeItem/useTreeItem.tsx
Labels: Fluent UI react-components (v9), Component: Tree

#33283 chore: Create chart docsite to enable in v9 docs
  .github/CODEOWNERS
  apps/chart-docsite/.babelrc
  apps/chart-docsite/.eslintrc.json
  apps/chart-docsite/.storybook/fix-title.js
  apps/chart-docsite/.storybook/main.ts
  apps/chart-docsite/.storybook/manager.ts
  apps/chart-docsite/.storybook/preview.tsx
  apps/chart-docsite/.storybook/theme.ts
  apps/chart-docsite/.storybook/tsconfig.json
  apps/chart-docsite/just.config.ts
  apps/chart-docsite/package.json
  apps/chart-docsite/project.json
  apps/chart-docsite/public/fluentui-logo.svg
  apps/chart-docsite/src/Introduction.mdx
  apps/chart-docsite/tsconfig.json
  apps/pr-deploy-site/just.config.ts
  apps/pr-deploy-site/pr-deploy-site.js
  apps/public-docsite-v9/.storybook/main.js
  packages/charts/react-charts-preview/stories/src/DonutChart/DonutChartDefault.stories.tsx
  packages/charts/react-charts-preview/stories/src/DonutChart/index.stories.tsx
  packages/charts/react-charts-preview/stories/src/HorizontalBarChart/index.stories.tsx
  packages/charts/react-charts-preview/stories/src/Legends/index.stories.tsx
  packages/charts/react-charts-preview/stories/src/LineChart/index.stories.tsx
  packages/charts/react-charts-preview/stories/src/Sparkline/index.stories.tsx
  packages/charts/react-charts-preview/stories/src/VerticalBarChart/index.stories.tsx
Labels: CI, NX: core

#33274 feat(`react-swatch-picker`): Correctly integrating `SwatchPicker` with `Field` component
  change/@fluentui-react-swatch-picker-e5e27fd6-7f1e-444e-b5bf-146b6cc0e925.json
  packages/react-components/react-swatch-picker/library/package.json
  packages/react-components/react-swatch-picker/library/src/components/SwatchPicker/useSwatchPicker.ts
Labels: Component: SwatchPicker

#33290 fix(`react`): Adding high contrast selector to `SplitButton`'s menu button styles so that the styles do not bleed when high contrast mode is not active
  change/@fluentui-react-d4200381-5290-4a0b-806c-c5642cee70ea.json
  packages/react/src/components/Button/SplitButton/SplitButton.styles.ts
Labels: Component: SplitButton

#33297 Fix TagPicker cypress
  packages/react-components/react-tag-picker/library/src/components/TagPicker/TagPicker.cy.tsx
Labels: Component: TagPicker

#33296 fix: misaligned git pull hook banner
  scripts/package-manager/src/notify-on-file-changes.js
Labels: Area: Build System

#33308 docs(useArrowNavigationGroup): add example on how to use arrows+tab for circular navigation
  apps/public-docsite-v9/src/Utilities/FocusManagement/useArrowNavigationGroup/CircularNavigationWithTab.stories.tsx
  apps/public-docsite-v9/src/Utilities/FocusManagement/useArrowNavigationGroup/index.stories.tsx
Labels: Type: Documentation

#33320 bugfix(react-tree): ensure that onActionVisibilityChange is properly invoked
  change/@fluentui-react-tree-42fe21a3-4b97-431e-b2b6-ed5e0bc00663.json
  packages/react-components/react-tree/library/src/components/TreeItemLayout/useTreeItemLayout.tsx
Labels: Component: Tree

#33325 fix(`react`): Left-aligning menu items in `Pivot`'s overflow menu
  change/@fluentui-react-61cfae8a-355e-4814-bf2d-073d07f4d67e.json
  packages/react/src/components/Pivot/Pivot.styles.ts
Labels: Component: Pivot

#33273 feat(react-color-picker) Combined components of the ColorPicker
  packages/react-components/react-color-picker-preview/library/etc/react-color-picker-preview.api.md
  packages/react-components/react-color-picker-preview/library/src/components/AlphaSlider/AlphaSlider.test.tsx
  packages/react-components/react-color-picker-preview/library/src/components/AlphaSlider/AlphaSlider.types.ts
  packages/react-components/react-color-picker-preview/library/src/components/AlphaSlider/useAlphaSlider.ts
  packages/react-components/react-color-picker-preview/library/src/components/AlphaSlider/useAlphaSliderState.ts
  packages/react-components/react-color-picker-preview/library/src/components/AlphaSlider/useAlphaSliderStyles.styles.ts
  packages/react-components/react-color-picker-preview/library/src/components/ColorArea/ColorArea.types.ts
  packages/react-components/react-color-picker-preview/library/src/components/ColorArea/useColorArea.ts
  packages/react-components/react-color-picker-preview/library/src/components/ColorPicker/ColorPicker.test.tsx
  packages/react-components/react-color-picker-preview/library/src/components/ColorPicker/ColorPicker.types.ts
  packages/react-components/react-color-picker-preview/library/src/components/ColorPicker/useColorPickerStyles.styles.ts
  packages/react-components/react-color-picker-preview/library/src/components/ColorSlider/ColorSlider.test.tsx
  packages/react-components/react-color-picker-preview/library/src/components/ColorSlider/ColorSlider.types.ts
  packages/react-components/react-color-picker-preview/library/src/components/ColorSlider/useColorSlider.ts
  packages/react-components/react-color-picker-preview/library/src/components/ColorSlider/useColorSliderState.ts
  packages/react-components/react-color-picker-preview/library/src/components/ColorSlider/useColorSliderStyles.styles.ts
  packages/react-components/react-color-picker-preview/library/src/contexts/colorPicker.ts
  packages/react-components/react-color-picker-preview/library/src/types/color.ts
  packages/react-components/react-color-picker-preview/library/src/utils/constants.ts
  packages/react-components/react-color-picker-preview/library/src/utils/getPercent.ts
  packages/react-components/react-color-picker-preview/stories/src/AlphaSlider/AlphaSliderDefault.stories.tsx
  packages/react-components/react-color-picker-preview/stories/src/ColorPicker/ColorPickerDefault.stories.tsx
  packages/react-components/react-color-picker-preview/stories/src/ColorSlider/ColorSliderDefault.stories.tsx
Labels: Component: ColorPicker

#33346 docs(react-color-picker): Updated documentation for the ColorPicker
  packages/react-components/react-color-picker-preview/library/README.md
  packages/react-components/react-color-picker-preview/library/docs/MIGRATION.md
  packages/react-components/react-color-picker-preview/library/docs/Spec.md
Labels: Component: ColorPicker

#33278 docs(react-tooltip): add Tooltip and overflow content example
  packages/react-components/react-tooltip/stories/src/Tooltip/TooltipWithOverflow.stories.tsx
  packages/react-components/react-tooltip/stories/src/Tooltip/index.stories.tsx
Labels: Area: Documentation, Component: Tooltip

#33291 Carousel: Fix autoplay and enable callback on autoplay index change
  change/@fluentui-react-carousel-806c25e9-e23b-4c65-b072-007f894a236a.json
  package.json
  packages/react-components/react-carousel/library/etc/react-carousel.api.md
  packages/react-components/react-carousel/library/package.json
  packages/react-components/react-carousel/library/src/components/Carousel/useCarousel.ts
  packages/react-components/react-carousel/library/src/components/CarouselAutoplayButton/useCarouselAutoplayButton.tsx
  packages/react-components/react-carousel/library/src/components/CarouselContext.types.ts
  packages/react-components/react-carousel/library/src/components/CarouselViewport/useCarouselViewport.ts
  packages/react-components/react-carousel/library/src/components/useEmblaCarousel.ts
  packages/react-components/react-carousel/stories/src/Carousel/CarouselControlled.stories.tsx
  packages/react-components/react-carousel/stories/src/Carousel/CarouselEventing.stories.tsx
  yarn.lock
Labels: Component: Carousel

#33363 docs(react-color-picker) Moved stories to one folder
  packages/react-components/react-color-picker-preview/stories/src/AlphaSlider/AlphaSliderBestPractices.md
  packages/react-components/react-color-picker-preview/stories/src/AlphaSlider/AlphaSliderDescription.md
  packages/react-components/react-color-picker-preview/stories/src/AlphaSlider/index.stories.tsx
  packages/react-components/react-color-picker-preview/stories/src/ColorArea/ColorAreaBestPractices.md
  packages/react-components/react-color-picker-preview/stories/src/ColorArea/ColorAreaDescription.md
  packages/react-components/react-color-picker-preview/stories/src/ColorArea/index.stories.tsx
  packages/react-components/react-color-picker-preview/stories/src/ColorPicker/AlphaSliderDefault.stories.tsx
  packages/react-components/react-color-picker-preview/stories/src/ColorPicker/ColorAreaDefault.stories.tsx
  packages/react-components/react-color-picker-preview/stories/src/ColorPicker/ColorPickerBestPractices.md
  packages/react-components/react-color-picker-preview/stories/src/ColorPicker/ColorPickerDescription.md
  packages/react-components/react-color-picker-preview/stories/src/ColorPicker/ColorSliderDefault.stories.tsx
  packages/react-components/react-color-picker-preview/stories/src/ColorPicker/index.stories.tsx
  packages/react-components/react-color-picker-preview/stories/src/ColorSlider/ColorSliderBestPractices.md
  packages/react-components/react-color-picker-preview/stories/src/ColorSlider/ColorSliderDescription.md
  packages/react-components/react-color-picker-preview/stories/src/ColorSlider/index.stories.tsx
Labels: Component: ColorPicker
