Repository microsoft/fluentui, pull requests merged in 2024-10, with the labels that each got.

#32850 fix(react-message-bar): force links to be underlined
  change/@fluentui-react-link-f1cc3696-e769-47fc-9fed-2ed37e12c28b.json
  change/@fluentui-react-message-bar-331d1242-9c7c-49c1-84f0-53757e5e2f45.json
  packages/react-components/react-link/library/etc/react-link.api.md
  packages/react-components/react-link/library/src/Link.ts
  packages/react-components/react-link/library/src/components/Link/useLink.ts
  packages/react-components/react-link/library/src/contexts/index.ts
  packages/react-components/react-link/library/src/contexts/linkContext.ts
  packages/react-components/react-link/library/src/index.ts
  packages/react-components/react-message-bar/library/etc/react-message-bar.api.md
  packages/react-components/react-message-bar/library/package.json
  packages/react-components/react-message-bar/library/src/components/MessageBarBody/MessageBarBody.tsx
  packages/react-components/react-message-bar/library/src/components/MessageBarBody/MessageBarBody.types.ts
  packages/react-components/react-message-bar/library/src/components/MessageBarBody/renderMessageBarBody.tsx
  packages/react-components/react-message-bar/library/src/components/MessageBarBody/useMessageBarBodyContextValues.ts
Labels: Area: Documentation, Component: MessageBar, Component: Link

#32959 chore(ci): fix invalid job name for deprecate-package AP
  azure-pipelines.deprecate-package.yml
Labels: CI

#32923 chore: migrate to nx 19.8
  package.json
  yarn.lock
Labels: NX: core

#32862 feat(eslint-rules): implement `no-restricted-globals` type-aware rule
  package.json
  tools/eslint-rules/index.ts
  tools/eslint-rules/rules/no-restricted-globals.spec.ts
  tools/eslint-rules/rules/no-restricted-globals.ts
  tools/eslint-rules/tsconfig.json
  yarn.lock
Labels: NX: workspace eslint-rules

#32874 fix: [fluent-text] removes display inheritance so all html elements can render
  change/@fluentui-web-components-0ad28ef7-3eb4-49da-a2ea-31e53af4e811.json
  packages/web-components/src/text/text.styles.ts
Labels: web-components

#32948 feat: adds split-button support to `fluent-menu`
  change/@fluentui-web-components-5fa350f8-cba4-413c-bd2e-e958e3d78cc0.json
  packages/web-components/docs/api-report.md
  packages/web-components/src/_docs/developer/theming.stories.mdx
  packages/web-components/src/button/button.styles.ts
  packages/web-components/src/menu-button/menu-button.stories.ts
  packages/web-components/src/menu/menu.spec.ts
  packages/web-components/src/menu/menu.stories.ts
  packages/web-components/src/menu/menu.styles.ts
  packages/web-components/src/menu/menu.template.ts
  packages/web-components/src/menu/menu.ts
  packages/web-components/src/split-button/split-button.stories.ts
  packages/web-components/src/theme/design-tokens.ts
Labels: web-components

#32392 fix: List V9 - update stories to work with dark themes
  change/@fluentui-react-list-preview-0fea1476-770a-41e9-9823-8a0aee6c8a76.json
  packages/react-components/react-list-preview/stories/src/List/ListDefault.stories.tsx
  packages/react-components/react-list-preview/stories/src/List/MultipleActionsDifferentPrimary.stories.tsx
  packages/react-components/react-list-preview/stories/src/List/MultipleActionsSelection.stories.tsx
  packages/react-components/react-list-preview/stories/src/List/MultipleActionsWithPrimary.stories.tsx
  packages/react-components/react-list-preview/stories/src/List/VirtualizedList.stories.tsx
  packages/react-components/react-list-preview/stories/src/List/VirtualizedListWithActionableItems.stories.tsx
Labels: Area: Documentation, Component: List

#32981 docs(.github): add missing components to v9 template
  .github/ISSUE_TEMPLATE/01-react-components-bug-report.yml
Labels: Area: Documentation, Fluent UI react-components (v9), CI

#32365 feat(scripts-executors): implement `yarn generate` CLI experience
  .github/workflows/check-tooling.yml
  package.json
  scripts/executors/src/enquirer-types.d.ts
  scripts/executors/src/generate-ui.spec.ts
  scripts/executors/src/generate-ui.ts
  scripts/executors/src/start.spec.ts
  scripts/executors/src/testing-utils.ts
  tools/workspace-plugin/generators.json
  tools/workspace-plugin/src/generators/react-library/schema.json
Labels: Area: DevExp, NX: core

#32992 chore: fix deprecate package pipeline parameters
  azure-pipelines.deprecate-package.yml
Labels: CI

#32962 fix(vr-tests): v8 VR tests are now wrapped with a ThemeProvider by default
  apps/vr-tests/.storybook/preview.js
  apps/vr-tests/src/utilities/ThemeProviderDecorator.tsx
  apps/vr-tests/src/utilities/index.ts
Labels: Area: Build System

#32991 ci: add v-build to templates owners
  .github/CODEOWNERS
Labels: Area: Documentation, CI

#33007 fix: Bump vr-approval-cli package
  .devops/templates/runpublishvrscreenshot.yml
  azure-pipelines.vrt-baseline.yml
Labels: Area: Build System, CI

#32960 chore: replace `no-restricted-globals` with `@nx/workspace-no-restricted-globals` in whole monorepo
  apps/perf-test-react-components/.eslintrc.json
  apps/public-docsite-v9/.eslintrc.json
  apps/public-docsite-v9/src/AccessibilityScenarios/TabListOverflow.stories.tsx
  apps/public-docsite-v9/src/AccessibilityScenarios/utils.tsx
  apps/public-docsite-v9/src/Concepts/Accessibility/LabellingExamples/ExampleFormErrorsMessages.stories.tsx
  apps/public-docsite-v9/src/Concepts/Migration/FromV0/Components/IconCatalog/useDebounce.ts
  apps/public-docsite-v9/src/Utilities/Theme/createCSSRuleFromTheme/createCSSRuleFromThemeDefault.stories.tsx
  apps/public-docsite-v9/src/Utilities/Theme/createCSSRuleFromTheme/createCSSRuleFromThemeSwitching.stories.tsx
  apps/react-18-tests-v8/.eslintrc.json
  apps/react-18-tests-v9/.eslintrc.json
  apps/vr-tests-react-components/.eslintrc.json
  change/@fluentui-eslint-plugin-60857b83-482c-4675-8085-b7e66adf9e2a.json
  change/@fluentui-global-context-1a4bf14a-4a70-45b4-b503-5e4eb0e67a05.json
  change/@fluentui-public-docsite-setup-3e654d9c-6517-4c86-9439-8f2ad4886341.json
  change/@fluentui-react-icons-compat-20a3409c-db79-4850-a272-b0f020b40e73.json
  change/@fluentui-react-shared-contexts-9da35c5a-c487-4043-ae7b-ce4aee6a76e4.json
  change/@fluentui-react-table-2714626f-4f88-442d-9d93-f608c0e1cd9d.json
  change/@fluentui-react-utilities-6c13ff61-195d-43bf-a2b1-f44b03849e73.json
  packages/cra-template/.eslintrc.json
  packages/eslint-plugin/src/configs/react-config.js
  packages/eslint-plugin/src/internal.js
  packages/public-docsite-setup/.eslintrc.json
  packages/public-docsite-setup/src/types.ts
  packages/react-components/global-context/src/global-context-selector.ts
  packages/react-components/global-context/src/global-context.ts
  packages/react-components/react-icons-compat/library/src/getWindow.ts
  packages/react-components/react-icons-compat/library/src/icon.ts
  packages/react-components/react-motion-components-preview/library/src/testing/testUtils.ts
  packages/react-components/react-motion/stories/src/Tokens/Cards.tsx
  packages/react-components/react-shared-contexts/library/src/ProviderContext/ProviderContext.ts
  packages/react-components/react-table/library/src/hooks/useMeasureElement.ts
  packages/react-components/react-tree/stories/src/Tree/utils/mockFetch.ts
  packages/react-components/react-utilities/src/ssr/canUseDOM.ts
  packages/react-components/theme-designer/.eslintrc.json
  packages/react-window-provider/.eslintrc.json
  packages/set-version/.eslintrc.json
Labels: Fluent UI react-components (v9), Area: Linting

#33014 chore: migrate to nx 19.8.4
  package.json
  tools/workspace-plugin/src/generators/eslint-rule/generator.spec.ts
  yarn.lock
Labels: Area: Build System, NX: core

#33002 XSS Vulnerability fix
  change/@fluentui-react-charting-bf4c672a-5115-4c7f-ace9-28aad8089881.json
  packages/react-charting/src/components/HorizontalBarChartWithAxis/HorizontalBarChartWithAxis.base.tsx
  packages/react-charting/src/utilities/utilities.ts
Labels: Package: charting

#32842 feat(eslint-rules): implement `no-missing-jsx-pragma` in order to automate and unify slot API usage
  tools/eslint-rules/index.ts
  tools/eslint-rules/project.json
  tools/eslint-rules/rules/no-missing-jsx-pragma.spec.ts
  tools/eslint-rules/rules/no-missing-jsx-pragma.ts
Labels: Fluent UI react-components (v9), Area: Linting, NX: workspace eslint-rules

#32944 feat(react-tabs): add circular tab appearance variants
  apps/vr-tests-react-components/src/stories/Tabs.stories.tsx
  change/@fluentui-react-tabs-3bd10027-20f4-490c-9384-f87d93d8fe3a.json
  packages/react-components/react-tabs/library/etc/react-tabs.api.md
  packages/react-components/react-tabs/library/src/components/Tab/Tab.types.ts
  packages/react-components/react-tabs/library/src/components/Tab/useTabStyles.styles.ts
  packages/react-components/react-tabs/library/src/components/TabList/TabList.types.ts
  packages/react-components/react-tabs/library/src/components/TabList/useTabListStyles.styles.ts
  packages/react-components/react-tabs/stories/src/Tabs/TabListAppearance.stories.tsx
Labels: Type: Feature, Fluent UI react-components (v9), Component: Tabs

#32976 feat(workspace-plugin): add `generateApi` functionality/flag to build executor
  tools/workspace-plugin/STYLE-GUIDE.md
  tools/workspace-plugin/src/executors/build/__fixtures__/executor/libs/proj/config/api-extractor.json
  tools/workspace-plugin/src/executors/build/__fixtures__/executor/libs/proj/etc/api.md
  tools/workspace-plugin/src/executors/build/__fixtures__/executor/libs/proj/package.json
  tools/workspace-plugin/src/executors/build/__fixtures__/executor/libs/proj/tsconfig.json
  tools/workspace-plugin/src/executors/build/__fixtures__/executor/libs/proj/tsconfig.lib.json
  tools/workspace-plugin/src/executors/build/executor.spec.ts
  tools/workspace-plugin/src/executors/build/executor.ts
  tools/workspace-plugin/src/executors/build/lib/babel.ts
  tools/workspace-plugin/src/executors/build/lib/clean.ts
  tools/workspace-plugin/src/executors/build/lib/shared.ts
  tools/workspace-plugin/src/executors/build/schema.d.ts
  tools/workspace-plugin/src/executors/build/schema.json
Labels: NX: workspace executors

#32866 Charts as Web component
  packages/web-components/src/horizontalbarchart/horizontalbarchart.template.ts
  packages/web-components/src/horizontalbarchart/horizontalbarchart.ts
Labels: Package: charting

#33021 Update Component Mapping v8 v9 in Storybook
  apps/public-docsite-v9/src/Concepts/Migration/FromV8/ComponentMapping.stories.mdx
Labels: Fluent UI react-components (v9), Storybook

#32997 feat: add explicit `.js` file extensions to all relative import/export statement within built output to support native ESM within browser
  .gitignore
  change/@fluentui-tokens-7b6f098e-f611-4292-adb9-4c0351d335cb.json
  packages/tokens/.swcrc
  packages/tokens/package.json
  packages/tokens/playwright.config.ts
  packages/tokens/project.json
  packages/tokens/scripts/server.js
  packages/tokens/scripts/test-esm.html
  packages/tokens/src/native-esm.spec-e2e.ts
  packages/tokens/tsconfig.e2e.json
  packages/tokens/tsconfig.json
  packages/tokens/tsconfig.lib.json
  scripts/tasks/src/swc/index.ts
  scripts/tasks/src/swc/swc.ts
  scripts/tasks/src/swc/types.ts
  scripts/tasks/src/swc/utils.spec.ts
  scripts/tasks/src/swc/utils.ts
Labels: Area: Build System, Fluent UI react-components (v9), web-components

#32393 feat(workspace-plugin): implement inferred plugins for clean,format,type-check targets
  tools/workspace-plugin/src/plugins/clean-plugin.spec.ts
  tools/workspace-plugin/src/plugins/clean-plugin.ts
  tools/workspace-plugin/src/plugins/format-plugin.spec.ts
  tools/workspace-plugin/src/plugins/format-plugin.ts
  tools/workspace-plugin/src/plugins/shared.ts
  tools/workspace-plugin/src/plugins/testing-utils/index.ts
  tools/workspace-plugin/src/plugins/testing-utils/temp-fs.ts
  tools/workspace-plugin/src/plugins/type-check-plugin.spec.ts
  tools/workspace-plugin/src/plugins/type-check-plugin.ts
Labels: Area: Build System, NX: core

#33034 fix(web-components): prefers-reduced-motion media query in button
  change/@fluentui-web-components-941a8116-c21a-4ade-b542-db2e8a43500b.json
  packages/web-components/src/button/button.styles.ts
Labels: web-components

#33018 fix(react-color-picker): added color prop instead of value
  packages/react-components/react-color-picker-preview/library/etc/react-color-picker-preview.api.md
  packages/react-components/react-color-picker-preview/library/package.json
  packages/react-components/react-color-picker-preview/library/src/components/AlphaSlider/AlphaSlider.test.tsx
  packages/react-components/react-color-picker-preview/library/src/components/AlphaSlider/useAlphaSliderState.ts
  packages/react-components/react-color-picker-preview/library/src/components/ColorPicker/ColorPicker.test.tsx
  packages/react-components/react-color-picker-preview/library/src/components/ColorPicker/ColorPicker.types.ts
  packages/react-components/react-color-picker-preview/library/src/components/ColorPicker/__snapshots__/ColorPicker.test.tsx.snap
  packages/react-components/react-color-picker-preview/library/src/components/ColorPicker/useColorPicker.ts
  packages/react-components/react-color-picker-preview/library/src/components/ColorSlider/ColorSlider.test.tsx
  packages/react-components/react-color-picker-preview/library/src/components/ColorSlider/ColorSlider.types.ts
  packages/react-components/react-color-picker-preview/library/src/components/ColorSlider/useColorSliderState.ts
  packages/react-components/react-color-picker-preview/library/src/contexts/colorPicker.ts
  packages/react-components/react-color-picker-preview/stories/src/AlphaSlider/AlphaSliderDefault.stories.tsx
  packages/react-components/react-color-picker-preview/stories/src/ColorPicker/ColorPickerDefault.stories.tsx
  packages/react-components/react-color-picker-preview/stories/src/ColorSlider/ColorSliderDefault.stories.tsx
Labels: Component: ColorPicker

#33040 chore: upgrade dependencies to fix security vulnerabilities
  yarn.lock
Labels: Area: Build System

#33043 Update Component Mapping in Storybook
  apps/public-docsite-v9/src/Concepts/Migration/FromV8/ComponentMapping.stories.mdx
Labels: Fluent UI react-components (v9), Storybook

#32380 fix(react): make button children rendering consistent for both button and button as anchor root element
  change/@fluentui-react-17740d4a-05ce-4bad-a6de-44a460c3b3ed.json
  packages/react-experiments/src/components/MicroFeedback/__snapshots__/MicroFeedback.test.tsx.snap
  packages/react-experiments/src/components/Pagination/__snapshots__/Pagination.test.tsx.snap
  packages/react-experiments/src/components/SelectedItemsList/SelectedPeopleList/__snapshots__/SelectedPeopleList.test.tsx.snap
  packages/react-experiments/src/components/UnifiedPicker/UnifiedPeoplePicker/__snapshots__/UnifiedPeoplePicker.test.tsx.snap
  packages/react/src/components/Breadcrumb/__snapshots__/Breadcrumb.test.tsx.snap
  packages/react/src/components/Button/BaseButton.styles.ts
  packages/react/src/components/Button/__snapshots__/Button.deprecated.test.tsx.snap
  packages/react/src/components/Button/__snapshots__/Button.test.tsx.snap
  packages/react/src/components/ComboBox/__snapshots__/ComboBox.test.tsx.snap
  packages/react/src/components/CommandBar/__snapshots__/CommandBar.deprecated.test.tsx.snap
  packages/react/src/components/CommandBar/__snapshots__/CommandBar.test.tsx.snap
  packages/react/src/components/ContextualMenu/__snapshots__/ContextualMenu.test.tsx.snap
  packages/react/src/components/Dialog/__snapshots__/Dialog.deprecated.test.tsx.snap
  packages/react/src/components/Dropdown/__snapshots__/Dropdown.test.tsx.snap
  packages/react/src/components/Facepile/__snapshots__/Facepile.test.tsx.snap
  packages/react/src/components/Nav/__snapshots__/Nav.test.tsx.snap
  packages/react/src/components/Panel/__snapshots__/Panel.test.tsx.snap
  packages/react/src/components/Pivot/__snapshots__/Pivot.deprecated.test.tsx.snap
  packages/react/src/components/Pivot/__snapshots__/Pivot.test.tsx.snap
  packages/react/src/components/SpinButton/__snapshots__/SpinButton.test.tsx.snap
  packages/react/src/components/SwatchColorPicker/__snapshots__/SwatchColorPicker.test.tsx.snap
  packages/react/src/components/TeachingBubble/__snapshots__/TeachingBubble.deprecated.test.tsx.snap
  packages/react/src/components/TeachingBubble/__snapshots__/TeachingBubble.test.tsx.snap
  packages/react/src/components/TimePicker/__snapshots__/TimePicker.test.tsx.snap
  packages/react/src/components/pickers/PeoplePicker/__snapshots__/PeoplePicker.test.tsx.snap
  packages/react/src/components/pickers/Suggestions/__snapshots__/Suggestions.test.tsx.snap
  packages/react/src/components/pickers/TagPicker/__snapshots__/TagItem.test.tsx.snap
  packages/react/src/components/pickers/TagPicker/__snapshots__/TagPicker.test.tsx.snap
Labels: Component: Button

#33047 Update Component Mapping
  apps/public-docsite-v9/src/Concepts/Migration/FromV8/ComponentMapping.stories.mdx
Labels: Fluent UI react-components (v9), Storybook

#32975 chore: enable `@nx/workspace-no-missing-jsx-pragma` in whole monorepo
  change/@fluentui-eslint-plugin-e633733d-0e64-45b7-a37a-eea61b3caa8a.json
  change/@fluentui-react-aria-f6b92f50-19e6-4c66-beaf-bdeec75f87c5.json
  change/@fluentui-react-carousel-bb8b8cfa-dbb7-4094-aa50-39701e30ef7b.json
  change/@fluentui-react-migration-v0-v9-f3f98053-be57-4569-9543-5160818b6385.json
  change/@fluentui-react-nav-preview-bc353a18-51d4-4e8f-a44f-9be7cbe9d091.json
  change/@fluentui-react-tag-picker-f9dff827-9ea3-4115-83e1-138279ba261d.json
  change/@fluentui-react-teaching-popover-ee64a4be-b4cb-4d08-87f2-426507994031.json
  packages/eslint-plugin/src/internal.js
  packages/react-components/react-aria/library/src/AriaLiveAnnouncer/renderAriaLiveAnnouncer.tsx
  packages/react-components/react-carousel/library/src/components/CarouselAutoplayButton/renderCarouselAutoplayButton.tsx
  packages/react-components/react-carousel/library/src/components/CarouselButton/renderCarouselButton.tsx
  packages/react-components/react-jsx-runtime/.eslintrc.json
  packages/react-components/react-migration-v0-v9/library/src/components/ItemLayout/ItemLayout.tsx
  packages/react-components/react-nav-preview/library/src/components/NavCategory/renderNavCategory.tsx
  packages/react-components/react-nav-preview/library/src/components/NavCategoryItem/renderNavCategoryItem.tsx
  packages/react-components/react-tag-picker/library/src/components/TagPickerOptionGroup/renderTagPickerOptionGroup.tsx
  packages/react-components/react-teaching-popover/library/src/components/TeachingPopoverSurface/renderTeachingPopoverSurface.tsx
Labels: Area: DevExp, Fluent UI react-components (v9), Area: Linting

#33005 fix(react-searchbox): resolve ghost pointer events
  change/@fluentui-react-search-bc262058-7b41-42f9-beb3-dfa1f21663ab.json
  packages/react-components/react-search/library/src/components/SearchBox/useSearchBoxStyles.styles.ts
Labels: Component: SearchBox, Fluent UI react-components (v9)

#32945 feat(motion): Add unit tests for Fade component
  packages/react-components/react-motion-components-preview/library/src/components/Fade/Fade.test.ts
  packages/react-components/react-motion-components-preview/library/src/components/Fade/Fade.test.tsx
  packages/react-components/react-motion-components-preview/library/src/testing/testUtils.ts
Labels: Area: Animation

#33057 fix(react-infolabel): dismiss correctly after clicking on the infoButton in Safari
  change/@fluentui-react-infolabel-3073ec02-8c14-4fef-976d-39ee32603aa0.json
  packages/react-components/react-infolabel/library/src/components/InfoButton/useInfoButton.tsx
Labels: Component: InfoLabel

#33059 chore: fix invalid project configs and tweak .nxignore
  .nxignore
  packages/react-date-time/jest.config.js
  scripts/fluentui-publish/jest.config.js
  scripts/monorepo/jest.config.js
  tools/workspace-plugin/src/executors/build/executor.spec.ts
Labels: Area: Build System, NX: core

#33028 feat(workspace-plugin): implement workspace inferred plugin
  tools/workspace-plugin/src/plugins/clean-plugin.ts
  tools/workspace-plugin/src/plugins/format-plugin.spec.ts
  tools/workspace-plugin/src/plugins/format-plugin.ts
  tools/workspace-plugin/src/plugins/shared.ts
  tools/workspace-plugin/src/plugins/type-check-plugin.ts
  tools/workspace-plugin/src/plugins/workspace-plugin.spec.ts
  tools/workspace-plugin/src/plugins/workspace-plugin.ts
Labels: Area: Build System, Fluent UI react-components (v9), NX: core

#33102 fix: Align menu item long content with icon slots
  apps/vr-tests-react-components/src/stories/Menu/MenuItemSelectableWIthLongText.stories.tsx
  change/@fluentui-react-menu-738a350f-94f7-49f4-a55a-6f5f807cf659.json
  packages/react-components/react-menu/library/src/components/MenuItem/useMenuItemStyles.styles.ts
  packages/react-components/react-menu/library/src/selectable/useCheckmarkStyles.styles.ts
Labels: Component: Menu

#33101 chore: prepare project setup for inferred plugin enablement
  packages/eslint-plugin/jest.config.js
  scripts/generators/.eslintrc.json
  scripts/generators/package.json
Labels: Area: Build System

#33103 fix(scripts/monorepo): silent nx verbose messages when invoking getAffectedPackages to emit valid JSON
  scripts/monorepo/src/getAffectedPackages.js
Labels: Area: Build System

#32369 chore: upgrade to typescript-eslint v8
  change/@fluentui-eslint-plugin-9708d729-ebb2-44cd-8fe1-30cf46fc403d.json
  change/@fluentui-web-components-ad9feaa2-0083-4a09-a62c-4f26d54356c6.json
  package.json
  packages/eslint-plugin/package.json
  packages/eslint-plugin/src/rules/ban-context-export/index.js
  packages/eslint-plugin/src/rules/ban-context-export/index.test.js
  packages/eslint-plugin/src/rules/ban-instanceof-html-element/index.js
  packages/eslint-plugin/src/rules/ban-instanceof-html-element/index.test.js
  packages/eslint-plugin/src/rules/deprecated-keyboard-event-props.js
  packages/eslint-plugin/src/rules/no-context-default-value/index.test.js
  packages/eslint-plugin/src/rules/no-global-react.js
  packages/eslint-plugin/src/rules/no-restricted-imports/index.test.js
  packages/eslint-plugin/src/rules/no-tslint-comments.js
  packages/fluentui/docs/src/components/ComponentDoc/ComponentSourceManager/ComponentSourceManager.ts
  packages/fluentui/docs/src/components/ComponentDoc/ComponentSourceManager/getExampleModule.ts
  packages/fluentui/react-bindings/src/context-selector/useContextSelector.ts
  packages/fluentui/react-bindings/src/context-selector/useContextSelectors.ts
  packages/fluentui/react-bindings/src/utils/getWindow.ts
  packages/fluentui/react-builder/src/utils/treeStore.ts
  packages/fluentui/react-northstar/src/utils/fontSizeUtility.ts
  packages/fluentui/react-northstar/test/specs/commonTests/isConformant.tsx
  packages/fluentui/react-northstar/test/utils/assertNodeContains.ts
  packages/web-components/.eslintrc.json
  tools/eslint-rules/jest.config.ts
  tools/eslint-rules/rules/consistent-callback-type.ts
  tools/eslint-rules/rules/no-missing-jsx-pragma.spec.ts
  tools/eslint-rules/rules/no-missing-jsx-pragma.ts
  tools/eslint-rules/rules/no-restricted-globals.spec.ts
  tools/eslint-rules/rules/no-restricted-globals.ts
  tools/workspace-plugin/jest.config.ts
  yarn.lock
Labels: Area: Build System, Area: Linting

#33104 fix: subtle selection should apply correctly to header rows
  apps/vr-tests-react-components/src/stories/Table/TableSubtleSelection.stories.tsx
  apps/vr-tests-react-components/src/stories/Table/utils.tsx
  change/@fluentui-react-table-f769575c-0588-4c39-b82a-b20389b9638a.json
  packages/react-components/react-table/library/src/components/TableRow/useTableRowStyles.styles.ts
  packages/react-components/react-table/library/src/components/TableSelectionCell/useTableSelectionCell.tsx
Labels: Component: DataGrid

#33139 fix: change to new css anchor positioning properties
  change/@fluentui-web-components-cb8c9815-f5ec-4855-b020-72aec63d5760.json
  packages/web-components/src/menu-item/menu-item.styles.ts
  packages/web-components/src/menu/menu.styles.ts
  packages/web-components/src/split-button/split-button.stories.ts
Labels: web-components

#33140 fix: move proper menu positioning style for split button into the component css
  change/@fluentui-web-components-42dee933-09cf-43d3-84d7-c9f946dfa0cb.json
  packages/web-components/src/menu/menu.styles.ts
  packages/web-components/src/split-button/split-button.stories.ts
Labels: web-components

#33114 Combobox: Update Virtualizer buffer sizing to accommodate page up/down
  packages/react-components/react-combobox/stories/src/Combobox/ComboboxVirtualizer.stories.tsx
Labels: Component: Combobox

#33037 chore(web-components): replace state partials with state function
  change/@fluentui-web-components-04faf08a-3fc9-47e1-bade-1f263207c6e5.json
  packages/web-components/src/avatar/avatar.styles.ts
  packages/web-components/src/checkbox/checkbox.styles.ts
  packages/web-components/src/counter-badge/counter-badge.styles.ts
  packages/web-components/src/field/field.styles.ts
  packages/web-components/src/image/image.styles.ts
  packages/web-components/src/label/label.styles.ts
  packages/web-components/src/link/link.styles.ts
  packages/web-components/src/menu-item/menu-item.styles.ts
  packages/web-components/src/styles/states/index.ts
  packages/web-components/src/text/text.styles.ts
  packages/web-components/src/utils/element-internals.ts
Labels: web-components

#33165 fix(workspace-plugin): properly resolve isCi on ADO
  tools/workspace-plugin/src/executors/generate-api/executor.spec.ts
  tools/workspace-plugin/src/executors/generate-api/executor.ts
  tools/workspace-plugin/src/executors/generate-api/lib/shared.ts
Labels: CI, NX: workspace executors

#33166 chore: fix accordion story name
  packages/web-components/docs/api-report.md
  packages/web-components/src/accordion/accordion.stories.ts
Labels: web-components

#33156 chore(web-components): add hasMatchingState and swapStates functions
  change/@fluentui-web-components-7bba75e2-576b-4e9f-821b-9501f016a3a6.json
  packages/web-components/docs/api-report.md
  packages/web-components/src/accordion-item/accordion-item.ts
  packages/web-components/src/anchor-button/anchor-button.ts
  packages/web-components/src/avatar/avatar.ts
  packages/web-components/src/badge/badge.ts
  packages/web-components/src/button/button.ts
  packages/web-components/src/checkbox/checkbox.ts
  packages/web-components/src/counter-badge/counter-badge.spec.ts
  packages/web-components/src/counter-badge/counter-badge.ts
  packages/web-components/src/divider/divider.ts
  packages/web-components/src/image/image.ts
  packages/web-components/src/label/label.ts
  packages/web-components/src/link/link.ts
  packages/web-components/src/menu-list/menu-list.spec.ts
  packages/web-components/src/message-bar/message-bar.ts
  packages/web-components/src/progress-bar/progress-bar.ts
  packages/web-components/src/rating-display/rating-display.ts
  packages/web-components/src/slider/slider.ts
  packages/web-components/src/spinner/spinner.spec.ts
  packages/web-components/src/spinner/spinner.ts
  packages/web-components/src/tablist/tablist.spec.ts
  packages/web-components/src/tablist/tablist.ts
  packages/web-components/src/tabs/tabs.spec.ts
  packages/web-components/src/text-input/text-input.ts
  packages/web-components/src/text/text.spec.ts
  packages/web-components/src/text/text.ts
  packages/web-components/src/textarea/textarea.ts
  packages/web-components/src/utils/element-internals.ts
Labels: web-components

#33176 chore: remove react-keytips scaffold
  .github/CODEOWNERS
  packages/react-components/react-keytips-preview/library/.babelrc.json
  packages/react-components/react-keytips-preview/library/.eslintrc.json
  packages/react-components/react-keytips-preview/library/.swcrc
  packages/react-components/react-keytips-preview/library/LICENSE
  packages/react-components/react-keytips-preview/library/README.md
  packages/react-components/react-keytips-preview/library/config/api-extractor.json
  packages/react-components/react-keytips-preview/library/config/tests.js
  packages/react-components/react-keytips-preview/library/docs/Spec.md
  packages/react-components/react-keytips-preview/library/etc/react-keytips-preview.api.md
  packages/react-components/react-keytips-preview/library/jest.config.js
  packages/react-components/react-keytips-preview/library/just.config.ts
  packages/react-components/react-keytips-preview/library/package.json
  packages/react-components/react-keytips-preview/library/project.json
  packages/react-components/react-keytips-preview/library/src/index.ts
  packages/react-components/react-keytips-preview/library/src/testing/isConformant.ts
  packages/react-components/react-keytips-preview/library/tsconfig.json
  packages/react-components/react-keytips-preview/library/tsconfig.lib.json
  packages/react-components/react-keytips-preview/library/tsconfig.spec.json
  packages/react-components/react-keytips-preview/stories/.eslintrc.json
  packages/react-components/react-keytips-preview/stories/.gitkeep
  packages/react-components/react-keytips-preview/stories/.storybook/main.js
  packages/react-components/react-keytips-preview/stories/.storybook/preview.js
  packages/react-components/react-keytips-preview/stories/.storybook/tsconfig.json
  packages/react-components/react-keytips-preview/stories/README.md
  packages/react-components/react-keytips-preview/stories/just.config.ts
  packages/react-components/react-keytips-preview/stories/package.json
  packages/react-components/react-keytips-preview/stories/project.json
  packages/react-components/react-keytips-preview/stories/src/index.ts
  packages/react-components/react-keytips-preview/stories/tsconfig.json
  packages/react-components/react-keytips-preview/stories/tsconfig.lib.json
  tsconfig.base.all.json
  tsconfig.base.json
Labels: Area: Build System
