Repository microsoft/fluentui, pull requests merged in 2024-08, with the labels that each got.

#32170 chore: Remove dependency on vr-approval-cli
  .devops/templates/runpublishvrscreenshot.yml
  azure-pipelines.vrt-baseline.yml
  package.json
  yarn.lock
Labels: Area: Build System, Needs: Attention, CI, Area: Storywright

#32186 fix(nx): update target dependencies so all targets work as expected
  apps/public-docsite-resources/package.json
  nx.json
Labels: Area: Build System, CI, NX: core

#32163 feat(motion): add collapse motion for Tree
  change/@fluentui-react-tree-bd1e1754-9d0e-461f-9f53-d661b31b0a17.json
  packages/react-components/react-tree/library/etc/react-tree.api.md
  packages/react-components/react-tree/library/package.json
  packages/react-components/react-tree/library/src/components/FlatTree/useFlatTreeStyles.styles.ts
  packages/react-components/react-tree/library/src/components/Tree/Tree.types.ts
  packages/react-components/react-tree/library/src/components/Tree/renderTree.tsx
  packages/react-components/react-tree/library/src/components/Tree/useTreeStyles.styles.ts
  packages/react-components/react-tree/library/src/components/TreeItemChevron.tsx
  packages/react-components/react-tree/library/src/hooks/useRootTree.ts
  packages/react-components/react-tree/library/src/hooks/useSubtree.ts
Labels: Area: Animation

#32176 fix: Updated Input stories to show appearance and disabled
  change/@fluentui-react-input-a0d70a8b-d328-4827-81af-cebe154a4b80.json
  packages/react-components/react-input/library/src/components/Input/useInputStyles.styles.ts
  packages/react-components/react-input/stories/src/Input/InputAppearance.stories.tsx
  packages/react-components/react-input/stories/src/Input/InputDisabled.stories.tsx
Labels: Component: Input

#32195 ci: separate build and bundle for v8 release in order to mitigate accidental clean task runs that would remove /dist assets
  azure-pipelines.release.yml
  scripts/tasks/src/argv.ts
Labels: Area: Build System, Fluent UI react (v8), CI

#32202 ci(web-components): PR builds no longer fail
  change/@fluentui-web-components-dd88ab9b-3b52-45a0-bf9e-1e82cdf54694.json
  packages/web-components/project.json
Labels: web-components

#32203 [chore]: abstracts layout api from field class
  change/@fluentui-web-components-c3806260-df2c-412f-bfb5-51398d51025e.json
  packages/web-components/docs/api-report.md
  packages/web-components/src/field/field.ts
  packages/web-components/src/field/index.ts
  packages/web-components/src/index.ts
Labels: web-components

#32182 Export web-components patterns
  change/@fluentui-web-components-34bbc81e-cea2-4fe8-8367-7c1f6fe72fe8.json
  packages/web-components/docs/api-report.md
  packages/web-components/src/index.ts
Labels: web-components

#32210 chore(react-northstar): add missing project tags and add explicit bundle dep on v9 package from v0 app
  packages/fluentui/docs/project.json
  packages/fluentui/e2e/project.json
  packages/fluentui/state/project.json
  packages/fluentui/styles/project.json
Labels: Area: Build System, Fluent UI react-northstar (v0), CI

#32130 fix(web-components): complete detach design tokens from existing themes
  change/@fluentui-web-components-3b00a5f7-26f8-46e0-a570-13e175ef40af.json
  packages/web-components/.storybook/docs-root.css
  packages/web-components/src/theme/set-theme.stories.ts
  packages/web-components/src/theme/set-theme.ts
Labels: web-components

#32138 fix(Popover): fix shadows on arrows
  change/@fluentui-react-popover-4e04d92a-bcbe-4856-877e-9801c61d5f60.json
  packages/react-components/react-popover/library/src/components/PopoverSurface/usePopoverSurfaceStyles.styles.ts
Labels: Component: Popover, Component: TeachingPopover

#32218 chore(scripts-fluentui-publish): update failing snapshots and add automation to prevent issues in future
  scripts/fluentui-publish/project.json
  scripts/fluentui-publish/src/utils.spec.ts
Labels: Area: Build System, Fluent UI react-northstar (v0), CI

#32211 fix(public-docsite-v9): add all stories project as implicit dependency in order to properly trigger affected build chain
  apps/public-docsite-v9/project.json
Labels: Fluent UI react-components (v9), NX: core

#32098 feat(web-components): add tablist
  change/@fluentui-web-components-1b78a1eb-0122-4dd8-b56f-fd3aac7b3ef6.json
  packages/web-components/docs/api-report.md
  packages/web-components/package.json
  packages/web-components/src/index-rollup.ts
  packages/web-components/src/index.ts
  packages/web-components/src/tablist/define.ts
  packages/web-components/src/tablist/index.ts
  packages/web-components/src/tablist/readme.md
  packages/web-components/src/tablist/tablist.bench.ts
  packages/web-components/src/tablist/tablist.definition.ts
  packages/web-components/src/tablist/tablist.options.ts
  packages/web-components/src/tablist/tablist.spec.ts
  packages/web-components/src/tablist/tablist.stories.ts
  packages/web-components/src/tablist/tablist.styles.ts
  packages/web-components/src/tablist/tablist.template.ts
  packages/web-components/src/tablist/tablist.ts
  packages/web-components/src/utils/focusable-element.ts
Labels: web-components

#32208 chore(web-components): remove type-check definition and follow repo target defaults for consistency and type-check speeds
  change/@fluentui-web-components-48c87f5d-af00-464e-8236-1bee7ec2f9c2.json
  packages/web-components/project.json
  packages/web-components/public/theme-switch.ts
Labels: web-components, CI

#32212 feat: add verify-packaging to react v8 release pipeline
  azure-pipelines.release.yml
  change/@fluentui-azure-themes-19ea5446-30d5-478e-b04e-41d042df5e08.json
  change/@fluentui-example-data-bb5abc87-aa6f-4d0e-9cd5-42e62eb82b77.json
  change/@fluentui-fluent2-theme-68d647c8-0999-48ad-b85f-d01b7e0c742c.json
  change/@fluentui-foundation-legacy-130d572d-08a6-48f4-a079-b0ef919ea914.json
  change/@fluentui-merge-styles-5ad53bf8-f1c1-42c7-bd3b-8d9fad4ae8c7.json
  change/@fluentui-react-cards-4be95f5a-eb90-4bf4-8917-725ecefde46e.json
  change/@fluentui-react-charting-60fdbbb6-89a8-4a61-8e5b-1480d8866203.json
  change/@fluentui-react-d75b502a-ae08-480e-93c2-560f0c041f62.json
  change/@fluentui-react-date-time-472971c5-1d84-425b-a7d2-5d99b0b58353.json
  change/@fluentui-react-experiments-6a4a7a63-9484-4dbb-bdae-74424161ace0.json
  change/@fluentui-react-focus-9cc5b082-b50e-4b90-8777-cc326efafdc2.json
  change/@fluentui-react-hooks-5b0071a2-8257-43bc-9a8a-44c43e7a2ff3.json
  change/@fluentui-react-icon-provider-f57fab7c-c944-4949-acc1-79c29fe2a8c6.json
  change/@fluentui-react-icons-mdl2-68bde439-b100-413c-b349-17735423c6eb.json
  change/@fluentui-scheme-utilities-3e0d9b33-830f-4a8b-ac51-104bd8543a11.json
  change/@fluentui-theme-samples-81dbadf9-4edc-4df6-928a-8da8c29372f1.json
  packages/azure-themes/project.json
  packages/example-data/project.json
  packages/fluent2-theme/project.json
  packages/foundation-legacy/project.json
  packages/merge-styles/project.json
  packages/react-cards/project.json
  packages/react-charting/project.json
  packages/react-date-time/project.json
  packages/react-experiments/project.json
  packages/react-focus/project.json
  packages/react-hooks/project.json
  packages/react-icon-provider/project.json
  packages/react-icons-mdl2/project.json
  packages/react/package.json
  packages/react/project.json
  packages/scheme-utilities/project.json
  packages/theme-samples/project.json
  scripts/tasks/src/verify-packaging.ts
Labels: Fluent UI react (v8), CI

#32095 fix(Dialog): do not require ref forwarding
  change/@fluentui-react-dialog-d29eacce-56a3-4174-8f78-b577f330c2d0.json
  packages/react-components/react-dialog/library/src/components/Dialog/renderDialog.tsx
  packages/react-components/react-dialog/library/src/components/DialogSurface/useDialogSurface.ts
  packages/react-components/react-dialog/library/src/components/MotionRefForwarder.tsx
Labels: Component: Dialog

#31775 fix(react-tabs): ignore ref for tab reserved space content slot
  change/@fluentui-react-tabs-c6386b10-6c09-4856-84a4-c5519c849fc3.json
  packages/react-components/react-tabs/library/src/components/Tab/Tab.test.tsx
  packages/react-components/react-tabs/library/src/components/Tab/useTab.ts
Labels: Component: Tabs

#32238 Fix undefined reference in older browsers in useMessageBarReflow
  change/@fluentui-react-message-bar-bfb5f0c1-b637-4cbd-96e4-9ea0283c03d2.json
  packages/react-components/react-message-bar/library/src/components/MessageBar/useMessageBarReflow.ts
Labels: Priority 1: High, Component: MessageBar, Fluent UI react-components (v9)

#32200 fix: Card does not override specified focusMode based on event listeners
  change/@fluentui-react-card-83adc37b-ffe3-4cbd-a1f8-93b6f41549a3.json
  packages/react-components/react-card/library/src/components/Card/Card.test.tsx
  packages/react-components/react-card/library/src/components/Card/useCard.ts
Labels: Component: Card

#32248 ci: make public-docsite-v9 deploy pipeline work and make it faster
  .github/workflows/docsite-publish-ghpages.yml
  apps/public-docsite-v9/project.json
Labels: Fluent UI react-components (v9), CI

#32254 fix(workspace-plugin): remove swc-node@register dependency
  package.json
  yarn.lock
Labels: Area: Build System, NX: workspace generators

#32242 ci(bundlesize): bump monosize dependencies
  azure-pipelines.bundlesize.yml
  monosize.config.mjs
  package.json
  packages/react-components/react-list-preview/library/bundle-size/List.fixture.js
  packages/react-components/react-list-preview/library/bundle-size/ListItem.fixture.js
  yarn.lock
Labels: CI

#32108 feat(scripts-executors): implement new `yarn start` experience
  .github/workflows/check-tooling.yml
  package.json
  scripts/executors/src/enquirer-types.d.ts
  scripts/executors/src/start.js
  scripts/executors/src/start.spec.ts
  scripts/executors/src/start.ts
  yarn.lock
Labels: Area: DevExp, NX: core

#32255 ci: trigger check tooling pipeline on monorepo dep changes
  .github/workflows/check-tooling.yml
Labels: Area: Build System, NX: workspace generators, CI

#32169 feat(scripts-package-manager): dont run git hooks on CI, notify user to run install if needed
  .githooks/post-checkout
  .githooks/post-merge
  .githooks/pre-push
  package.json
  scripts/package-manager/src/is-ci.js
  scripts/package-manager/src/notify-lockfile-changes.js
  scripts/package-manager/src/postinstall.js
  scripts/package-manager/src/preinstall.js
  scripts/package-manager/src/use-yarn-please.js
Labels: Area: Build System, CI

#32235 feat(script-executors): implement default target pre-selection to start CLI
  scripts/executors/src/enquirer-types.d.ts
  scripts/executors/src/start.ts
  tools/eslint-rules/project.json
Labels: Area: DevExp, NX: core

#32251 ci: remove chromatic artifacts from monorepo
  .github/workflows/docsite-publish-chromatic.yml
  apps/public-docsite-v9/package.json
  apps/public-docsite-v9/public/shell.css
Labels: Fluent UI react-components (v9), CI

#32256 chore: override storybook esbuild version that introduced unwanted duplicates
  package.json
  yarn.lock
Labels: dependencies, Storybook

#32268 fix(public-docsite-v9): hide storybook's toolbar
  apps/public-docsite-v9/.storybook/manager.js
Labels: Storybook

#32269 ci(ts-minbar-test): ensure that dependent suite packages are built before running tests
  apps/ts-minbar-test-react-components/project.json
  apps/ts-minbar-test-react/project.json
Labels: Area: Build System, CI

#32158 feature(react-tag-picker): support TagPicker usage without TagPickerList
  change/@fluentui-react-tag-picker-f6c70a8c-6231-41fe-baa5-ce7d1e65417a.json
  packages/react-components/react-tag-picker/library/etc/react-tag-picker.api.md
  packages/react-components/react-tag-picker/library/src/components/TagPicker/TagPicker.cy.tsx
  packages/react-components/react-tag-picker/library/src/components/TagPicker/TagPicker.types.ts
  packages/react-components/react-tag-picker/library/src/components/TagPicker/useTagPicker.ts
  packages/react-components/react-tag-picker/library/src/components/TagPicker/useTagPickerContextValues.ts
  packages/react-components/react-tag-picker/library/src/components/TagPickerControl/useTagPickerControl.tsx
  packages/react-components/react-tag-picker/library/src/components/TagPickerInput/useTagPickerInput.tsx
  packages/react-components/react-tag-picker/library/src/contexts/TagPickerContext.ts
  packages/react-components/react-tag-picker/stories/src/TagPicker/TagPickerNoPopover.stories.tsx
  packages/react-components/react-tag-picker/stories/src/TagPicker/index.stories.tsx
Labels: Component: TagPicker

#32277 chore: always trigger build on dependencies for test-integration target
  apps/ts-minbar-test-react-components/project.json
  apps/ts-minbar-test-react/project.json
  nx.json
Labels: CI, NX: core

#32279 docs(react-swatch-picker): removed preview from the docs
  change/@fluentui-react-swatch-picker-8e8d2425-44a5-4d89-9e44-9c31477a8858.json
  packages/react-components/react-swatch-picker/library/README.md
  packages/react-components/react-swatch-picker/library/docs/Spec.md
Labels: Component: SwatchColorPicker

#32060 Fix for the Drawer Overlay issue
  change/@fluentui-react-drawer-6332ed54-ea15-403c-a872-673eee9ec783.json
  packages/react-components/react-drawer/library/src/shared/useDrawerBaseStyles.styles.ts
Labels: Component: Drawer

#28487 ScrollablePane/Sticky: Allow remounting for react 18 strict mode
  change/@fluentui-react-bed899bb-6cc0-4564-a56f-ef40334805c2.json
  packages/react/src/components/ScrollablePane/ScrollablePane.base.tsx
Labels: Component: ScrollablePane, Area: Strict Mode

#32037 feat(web-components): add fluent-textarea
  change/@fluentui-web-components-900d2d48-a612-4784-8524-f34e8347ac04.json
  packages/web-components/docs/api-report.md
  packages/web-components/package.json
  packages/web-components/src/field/field.stories.ts
  packages/web-components/src/helpers.tests.ts
  packages/web-components/src/index-rollup.ts
  packages/web-components/src/index.ts
  packages/web-components/src/slider/slider.ts
  packages/web-components/src/styles/states/index.ts
  packages/web-components/src/textarea/define.ts
  packages/web-components/src/textarea/index.ts
  packages/web-components/src/textarea/textarea.bench.ts
  packages/web-components/src/textarea/textarea.definition.ts
  packages/web-components/src/textarea/textarea.options.ts
  packages/web-components/src/textarea/textarea.spec.ts
  packages/web-components/src/textarea/textarea.stories.ts
  packages/web-components/src/textarea/textarea.styles.ts
  packages/web-components/src/textarea/textarea.template.ts
  packages/web-components/src/textarea/textarea.ts
Labels: web-components

#32295 fix(web-components): export BaseAnchor
  change/@fluentui-web-components-c8121fc1-57f4-47b4-9707-c96bd0a211fe.json
  packages/web-components/src/anchor-button/index.ts
  packages/web-components/src/index.ts
Labels: web-components

#32291 fix(scripts-executors): emit script contents if invalid e2e target declaration is present
  change/@fluentui-react-af6b7f2e-0fe5-41bc-97f6-f46116fb2f68.json
  packages/react/package.json
  scripts/executors/src/start.ts
Labels: Area: Build System

#32280 chore: update repo targetDefaults for test target to not run build and update specific v8 target dependants that needs build before test
  apps/react-18-tests-v8/jest.config.js
  apps/react-18-tests-v8/project.json
  change/@fluentui-font-icons-mdl2-601dc64e-998a-424d-87f2-330ce8a1808c.json
  change/@fluentui-foundation-legacy-1bc0f288-5ec3-4619-bdb7-70fe17c96d99.json
  change/@fluentui-react-9c572701-10b8-49cc-b801-80f2649d2a36.json
  change/@fluentui-react-cards-da8e72a3-8d79-4803-a505-5535b2ca6a31.json
  change/@fluentui-react-charting-fdf31321-0e57-42ca-8626-0091a2f61c56.json
  change/@fluentui-react-docsite-components-5fc145eb-b365-4b20-8083-e3083740d1b2.json
  change/@fluentui-react-experiments-75df14df-d289-43fc-8d53-184359b05a76.json
  change/@fluentui-react-file-type-icons-97f8a72d-2af1-4db5-a525-4ab25eaf6760.json
  change/@fluentui-react-focus-4f7dc4cf-6b84-4301-b68c-91107be46978.json
  change/@fluentui-react-hooks-a82047b8-d274-416d-8b5a-2cf4faa13032.json
  change/@fluentui-react-icon-provider-9d375b17-71f1-4041-96d0-a9d3d6bb0c69.json
  change/@fluentui-react-icons-mdl2-70d2a399-6ded-49f4-8e95-3bbd704ba9f7.json
  change/@fluentui-react-migration-v8-v9-39c92dae-d585-4b90-86c3-032d688b3734.json
  change/@fluentui-react-monaco-editor-81063960-bc80-49b7-923f-b8ccf15b87e2.json
  change/@fluentui-style-utilities-75eaca89-386d-4c8f-865f-7490a4de4377.json
  change/@fluentui-theme-d69aa471-3717-4a3e-a403-b7c9bf9e0b66.json
  change/@fluentui-utilities-c5cad464-d07e-464b-b71a-9d89f22e668f.json
  nx.json
  packages/font-icons-mdl2/project.json
  packages/foundation-legacy/project.json
  packages/react-cards/project.json
  packages/react-charting/project.json
  packages/react-components/react-migration-v8-v9/library/project.json
  packages/react-components/react-migration-v8-v9/library/tsconfig.json
  packages/react-docsite-components/project.json
  packages/react-experiments/project.json
  packages/react-file-type-icons/project.json
  packages/react-focus/project.json
  packages/react-hooks/project.json
  packages/react-icon-provider/project.json
  packages/react-icons-mdl2/project.json
  packages/react-monaco-editor/project.json
  packages/react/project.json
  packages/style-utilities/project.json
  packages/theme/project.json
  packages/utilities/project.json
Labels: NX: core

#32272 chore: upgrade typescript-eslint to v7
  change/@fluentui-eslint-plugin-14d72a24-8d9d-4739-ae20-c5bfccdbd508.json
  package.json
  packages/eslint-plugin/package.json
  packages/eslint-plugin/src/rules/ban-context-export/index.js
  packages/eslint-plugin/src/rules/max-len.js
  packages/eslint-plugin/src/rules/no-context-default-value/index.js
  packages/eslint-plugin/src/rules/no-tslint-comments.js
  packages/eslint-plugin/src/rules/no-visibility-modifiers.js
  yarn.lock
Labels: Area: Build System

#31484 fix(theme): fix export maps
  change/@fluentui-theme-f00b418d-ad44-4121-8926-2c1c1949d550.json
  packages/theme/package.json
Labels: Package: fluent-theme, Fluent UI react (v8)

#32306 chore: bump eslint-plugin-deprecation and griffel/eslint
  change/@fluentui-eslint-plugin-4e7501a2-d24a-4358-a39b-c38b96b74e69.json
  package.json
  packages/eslint-plugin/package.json
  yarn.lock
Labels: Area: Build System

#32313 docs: fix icons catalog
  apps/public-docsite-v9/src/DocsComponents/ReactIconGridLazy.tsx
  apps/public-docsite-v9/src/Icons/IconsCatalog.stories.mdx
Labels: Area: Documentation

#32234 docs(react-color-picker): Added Spec.md
  packages/react-components/react-color-picker-preview/library/docs/Spec.md
  packages/react-components/react-color-picker-preview/library/docs/assets/alpha-slider-anatomy.jpg
  packages/react-components/react-color-picker-preview/library/docs/assets/color-area-anatomy.jpg
  packages/react-components/react-color-picker-preview/library/docs/assets/color-area-navigation.jpg
  packages/react-components/react-color-picker-preview/library/docs/assets/color-picker-a11y.jpg
  packages/react-components/react-color-picker-preview/library/docs/assets/color-picker-anatomy.jpg
  packages/react-components/react-color-picker-preview/library/docs/assets/color-picker-layout.jpg
  packages/react-components/react-color-picker-preview/library/docs/assets/color-slider-horizontal.jpg
  packages/react-components/react-color-picker-preview/library/docs/assets/color-slider-navigation.jpg
  packages/react-components/react-color-picker-preview/library/docs/assets/color-slider-vertical.jpg
Labels: Component: ColorPicker

#32136 chore: migrate to nx 19.5
  package.json
  tools/workspace-plugin/package.json
  tools/workspace-plugin/src/generators/normalize-package-dependencies/index.ts
  yarn.lock
Labels: Area: Build System, NX: core

#32302 fix(web-components): export BaseCheckbox
  change/@fluentui-web-components-a9a5cfab-dd85-4c06-9d8f-e1c5445647b2.json
  packages/web-components/src/checkbox/index.ts
  packages/web-components/src/index.ts
Labels: web-components

#32286 chore: cleanup root npm script aliases and obsolete code
  azure-pipelines.perf-test.yml
  azure-pipelines.release-fluentui.yml
  docs/react-v9/contributing/command-cheat-sheet.md
  package.json
  packages/fluentui/CONTRIBUTING.md
  packages/fluentui/test-a-feature.md
  scripts/generators/src/rename-package.ts
Labels: Area: Build System, CI

#32316 feat: Add context to configure motion behaviour
  change/@fluentui-react-motion-051564b3-04af-45b4-b634-c0494efb621b.json
  packages/react-components/react-motion/library/etc/react-motion.api.md
  packages/react-components/react-motion/library/src/contexts/MotionBehaviourContext.ts
  packages/react-components/react-motion/library/src/factories/createMotionComponent.test.tsx
  packages/react-components/react-motion/library/src/factories/createMotionComponent.ts
  packages/react-components/react-motion/library/src/factories/createPresenceComponent.cy.tsx
  packages/react-components/react-motion/library/src/factories/createPresenceComponent.test.tsx
  packages/react-components/react-motion/library/src/factories/createPresenceComponent.ts
  packages/react-components/react-motion/library/src/index.ts
Labels: Component: FluentProvider

#32315 chore: update codeowners for public-docsite-v9
  .github/CODEOWNERS
Labels: Fluent UI react-components (v9), CI

#32336 feat(react-color-picker): generated components
  packages/react-components/react-color-picker-preview/library/etc/react-color-picker-preview.api.md
  packages/react-components/react-color-picker-preview/library/src/ColorArea.ts
  packages/react-components/react-color-picker-preview/library/src/ColorPicker.ts
  packages/react-components/react-color-picker-preview/library/src/ColorSlider.ts
  packages/react-components/react-color-picker-preview/library/src/components/ColorArea/ColorArea.test.tsx
  packages/react-components/react-color-picker-preview/library/src/components/ColorArea/ColorArea.tsx
  packages/react-components/react-color-picker-preview/library/src/components/ColorArea/ColorArea.types.ts
  packages/react-components/react-color-picker-preview/library/src/components/ColorArea/__snapshots__/ColorArea.test.tsx.snap
  packages/react-components/react-color-picker-preview/library/src/components/ColorArea/index.ts
  packages/react-components/react-color-picker-preview/library/src/components/ColorArea/renderColorArea.tsx
  packages/react-components/react-color-picker-preview/library/src/components/ColorArea/useColorArea.ts
  packages/react-components/react-color-picker-preview/library/src/components/ColorArea/useColorAreaStyles.styles.ts
  packages/react-components/react-color-picker-preview/library/src/components/ColorPicker/ColorPicker.test.tsx
  packages/react-components/react-color-picker-preview/library/src/components/ColorPicker/ColorPicker.tsx
  packages/react-components/react-color-picker-preview/library/src/components/ColorPicker/ColorPicker.types.ts
  packages/react-components/react-color-picker-preview/library/src/components/ColorPicker/__snapshots__/ColorPicker.test.tsx.snap
  packages/react-components/react-color-picker-preview/library/src/components/ColorPicker/index.ts
  packages/react-components/react-color-picker-preview/library/src/components/ColorPicker/renderColorPicker.tsx
  packages/react-components/react-color-picker-preview/library/src/components/ColorPicker/useColorPicker.ts
  packages/react-components/react-color-picker-preview/library/src/components/ColorPicker/useColorPickerStyles.styles.ts
  packages/react-components/react-color-picker-preview/library/src/components/ColorSlider/ColorSlider.test.tsx
  packages/react-components/react-color-picker-preview/library/src/components/ColorSlider/ColorSlider.tsx
  packages/react-components/react-color-picker-preview/library/src/components/ColorSlider/ColorSlider.types.ts
  packages/react-components/react-color-picker-preview/library/src/components/ColorSlider/__snapshots__/ColorSlider.test.tsx.snap
  packages/react-components/react-color-picker-preview/library/src/components/ColorSlider/index.ts
  packages/react-components/react-color-picker-preview/library/src/components/ColorSlider/renderColorSlider.tsx
  packages/react-components/react-color-picker-preview/library/src/components/ColorSlider/useColorSlider.ts
  packages/react-components/react-color-picker-preview/library/src/components/ColorSlider/useColorSliderStyles.styles.ts
  packages/react-components/react-color-picker-preview/library/src/index.ts
  packages/react-components/react-color-picker-preview/stories/package.json
  packages/react-components/react-color-picker-preview/stories/src/ColorArea/ColorAreaBestPractices.md
  packages/react-components/react-color-picker-preview/stories/src/ColorArea/ColorAreaDefault.stories.tsx
  packages/react-components/react-color-picker-preview/stories/src/ColorArea/ColorAreaDescription.md
  packages/react-components/react-color-picker-preview/stories/src/ColorArea/index.stories.tsx
  packages/react-components/react-color-picker-preview/stories/src/ColorPicker/ColorPickerBestPractices.md
  packages/react-components/react-color-picker-preview/stories/src/ColorPicker/ColorPickerDefault.stories.tsx
  packages/react-components/react-color-picker-preview/stories/src/ColorPicker/ColorPickerDescription.md
  packages/react-components/react-color-picker-preview/stories/src/ColorPicker/index.stories.tsx
  packages/react-components/react-color-picker-preview/stories/src/ColorSlider/ColorSliderBestPractices.md
  packages/react-components/react-color-picker-preview/stories/src/ColorSlider/ColorSliderDefault.stories.tsx
  packages/react-components/react-color-picker-preview/stories/src/ColorSlider/ColorSliderDescription.md
  packages/react-components/react-color-picker-preview/stories/src/ColorSlider/index.stories.tsx
Labels: Component: ColorPicker

#29346 fix(`react`): Changing `height` to `minHeight` to prevent overflow in `DefaulButton` contents
  change/@fluentui-react-029568a9-d9cd-4b21-9c9b-0653bb7ed058.json
  packages/react-experiments/src/components/Pagination/__snapshots__/Pagination.test.tsx.snap
  packages/react/src/components/Button/DefaultButton/DefaultButton.styles.ts
  packages/react/src/components/Button/__snapshots__/Button.test.tsx.snap
  packages/react/src/components/ContextualMenu/__snapshots__/ContextualMenu.test.tsx.snap
  packages/react/src/components/TeachingBubble/__snapshots__/TeachingBubble.deprecated.test.tsx.snap
  packages/react/src/components/TeachingBubble/__snapshots__/TeachingBubble.test.tsx.snap
Labels: Component: Button

#32344 feat: update fast-element to latest stable version
  apps/vr-tests-web-components/package.json
  change/@fluentui-web-components-2abbf9e1-779e-479d-b553-b2a0167723fe.json
  packages/web-components/package.json
  yarn.lock
Labels: web-components

#32352 fix(TableHeaderCell): should use hover and pressed tokens
  change/@fluentui-react-table-75ffa08b-d69f-4cb7-8a9e-82553a971c3e.json
  packages/react-components/react-table/library/src/components/TableHeaderCell/useTableHeaderCellStyles.styles.ts
Labels: Area: Accessibility, Component: Table

#32354 fix(public-docsite-v9): remove unwanted table styles
  .storybook/docs-root.css
Labels: Type: Bug :bug:, Area: Documentation, Fluent UI react-components (v9), Storybook

#32357 ci(vNext-nightly-release): fix pipeline command typos
  azure-pipelines.release-vnext-nightly.yml
Labels: Area: Build System, Fluent UI react-components (v9), CI

#32346 feat(react-color-picker): added ColorSlider
  packages/react-components/react-color-picker-preview/library/etc/react-color-picker-preview.api.md
  packages/react-components/react-color-picker-preview/library/package.json
  packages/react-components/react-color-picker-preview/library/src/components/ColorSlider/ColorSlider.test.tsx
  packages/react-components/react-color-picker-preview/library/src/components/ColorSlider/ColorSlider.types.ts
  packages/react-components/react-color-picker-preview/library/src/components/ColorSlider/__snapshots__/ColorSlider.test.tsx.snap
  packages/react-components/react-color-picker-preview/library/src/components/ColorSlider/renderColorSlider.tsx
  packages/react-components/react-color-picker-preview/library/src/components/ColorSlider/useColorSlider.ts
  packages/react-components/react-color-picker-preview/library/src/components/ColorSlider/useColorSliderState.ts
  packages/react-components/react-color-picker-preview/library/src/components/ColorSlider/useColorSliderStyles.styles.ts
  packages/react-components/react-color-picker-preview/stories/package.json
  packages/react-components/react-color-picker-preview/stories/src/ColorSlider/ColorSliderDefault.stories.tsx
Labels: Component: ColorPicker

#32358 ci(releases): properly cache build target execution between ci tasks to leverage cache and avoid accidental artifacts removal
  azure-pipelines.release-vnext.yml
  azure-pipelines.release.tools.yml
Labels: Area: Build System, Fluent UI react-components (v9), CI

#32325 fix(scripts/*): support -u and --updateSnapshot jest cli arguments for just-scripts and gulp wrappers
  scripts/gulp/src/plugins/gulp-jest.ts
  scripts/gulp/src/tasks/test-unit.ts
  scripts/tasks/src/jest.ts
Labels: Area: Build System, Area: Testing, Fluent UI react-components (v9), Fluent UI react (v8)

#32125 feat(react-tabs): export Tab component style hooks
  change/@fluentui-react-tabs-3a54a623-3c3d-41e3-93c7-4bbe197234e2.json
  packages/react-components/react-tabs/library/etc/react-tabs.api.md
  packages/react-components/react-tabs/library/src/components/Tab/useTabStyles.styles.ts
  packages/react-components/react-tabs/library/src/index.ts
Labels: Fluent UI react-components (v9), Component: Tabs

#32299 feat(workspace-plugin): scaffold executors boilerplate (build,generate-api,type-check,verify-packaging,clean)
  tools/workspace-plugin/.eslintrc.json
  tools/workspace-plugin/executors.json
  tools/workspace-plugin/package.json
  tools/workspace-plugin/project.json
  tools/workspace-plugin/src/executors/build/executor.spec.ts
  tools/workspace-plugin/src/executors/build/executor.ts
  tools/workspace-plugin/src/executors/build/schema.d.ts
  tools/workspace-plugin/src/executors/build/schema.json
  tools/workspace-plugin/src/executors/clean/executor.spec.ts
  tools/workspace-plugin/src/executors/clean/executor.ts
  tools/workspace-plugin/src/executors/clean/schema.d.ts
  tools/workspace-plugin/src/executors/clean/schema.json
  tools/workspace-plugin/src/executors/generate-api/executor.spec.ts
  tools/workspace-plugin/src/executors/generate-api/executor.ts
  tools/workspace-plugin/src/executors/generate-api/schema.d.ts
  tools/workspace-plugin/src/executors/generate-api/schema.json
  tools/workspace-plugin/src/executors/type-check/executor.spec.ts
  tools/workspace-plugin/src/executors/type-check/executor.ts
  tools/workspace-plugin/src/executors/type-check/schema.d.ts
  tools/workspace-plugin/src/executors/type-check/schema.json
  tools/workspace-plugin/src/executors/verify-packaging/executor.spec.ts
  tools/workspace-plugin/src/executors/verify-packaging/executor.ts
  tools/workspace-plugin/src/executors/verify-packaging/schema.d.ts
  tools/workspace-plugin/src/executors/verify-packaging/schema.json
Labels: NX: workspace executors

#32363 TeachingPopover: Fix popover width and image bounds
  change/@fluentui-react-teaching-popover-1b16f4a4-81fe-422a-8c82-df7ce282508f.json
  packages/react-components/react-teaching-popover/library/src/components/TeachingPopoverBody/useTeachingPopoverBodyStyles.styles.ts
  packages/react-components/react-teaching-popover/library/src/components/TeachingPopoverSurface/useTeachingPopoverSurfaceStyles.styles.ts
Labels: Component: TeachingPopover

#32373 test(react-color-picker): added tests for ColorSlider
  packages/react-components/react-color-picker-preview/library/src/components/ColorSlider/ColorSlider.test.tsx
  packages/react-components/react-color-picker-preview/library/src/components/ColorSlider/useColorSliderState.ts
Labels: Component: ColorPicker

#32350 feat: adjust slider's sliding range
  change/@fluentui-web-components-967265b4-5017-4bbb-b7cf-d88586cda5a9.json
  packages/web-components/src/slider/slider.styles.ts
Labels: web-components

#32401 feat(workspace-plugin): implement clean executor
  tools/workspace-plugin/executors.json
  tools/workspace-plugin/src/executors/clean/executor.spec.ts
  tools/workspace-plugin/src/executors/clean/executor.ts
  tools/workspace-plugin/src/executors/clean/schema.d.ts
  tools/workspace-plugin/src/executors/clean/schema.json
Labels: NX: workspace executors

#32370 feat(workspace-plugin): implement type-check executor
  tools/workspace-plugin/executors.json
  tools/workspace-plugin/package.json
  tools/workspace-plugin/project.json
  tools/workspace-plugin/scripts/type-check.mjs
  tools/workspace-plugin/src/executors/type-check/executor.spec.ts
  tools/workspace-plugin/src/executors/type-check/executor.ts
  tools/workspace-plugin/src/executors/type-check/schema.d.ts
  tools/workspace-plugin/src/executors/type-check/schema.json
Labels: NX: workspace executors

#32405 chore(web-components): add missing exports and cleanup options
  change/@fluentui-web-components-330ad1cf-b85e-4b1a-9495-754afccbe2e5.json
  packages/web-components/src/_docs/developer/polyfilling.stories.mdx
  packages/web-components/src/divider/divider.options.ts
  packages/web-components/src/divider/divider.spec.ts
  packages/web-components/src/divider/divider.stories.ts
  packages/web-components/src/divider/divider.ts
  packages/web-components/src/image/image.options.ts
  packages/web-components/src/image/image.stories.ts
  packages/web-components/src/image/image.ts
  packages/web-components/src/index.ts
  packages/web-components/src/link/index.ts
  packages/web-components/src/link/link.styles.ts
  packages/web-components/src/menu/menu.ts
Labels: web-components

#32419 fix(web-components): add button primary forced colors
  change/@fluentui-web-components-46c9b695-18dc-4cad-a957-29ebaf4b1645.json
  packages/web-components/src/button/button.styles.ts
Labels: web-components

#32374 fix(react-tabs): Improve animation for active tab indicator on tabs with falsy values
  change/@fluentui-react-tabs-00427f46-b6ea-45d8-989f-a7e2d94bd0bf.json
  packages/react-components/react-tabs/library/src/components/Tab/useTabAnimatedIndicator.styles.ts
Labels: Type: Bug :bug:, Fluent UI react-components (v9), Component: Tabs
