Repository microsoft/fluentui, pull requests merged in 2024-07, with the labels that each got.

#31890 ci(.github): resolve due_on UTC time creation issues
  .github/workflows/create-milestone.yml
Labels: CI

#31889 fix(scripts-prettier): escape file names that are being passed to prettier bin via shell
  scripts/prettier/src/prettier-helpers.js
Labels: Area: Build System, CI

#31897 chore: fix install verdacio command
  tools/workspace-plugin/scripts/install-verdaccio.js
Labels: NX: core

#31828 chore: migrate to nx 19.2.3
  .gitignore
  .prettierignore
  migrations.json
  package.json
  tools/workspace-plugin/package.json
  yarn.lock
Labels: NX: core

#31895 fix(web-components): fix menu positioning in firefox
  change/@fluentui-web-components-145140b4-12da-4153-93ce-be8aa02f191b.json
  packages/web-components/.storybook/preview.mjs
  packages/web-components/src/_docs/developer/polyfilling.stories.mdx
  packages/web-components/src/menu-item/menu-item.styles.ts
Labels: web-components

#31894 fix(web-components): fix enterkey interaction on menu
  change/@fluentui-web-components-e417861e-ef1b-4b4f-8c25-fef57cda85d9.json
  packages/web-components/docs/api-report.md
  packages/web-components/src/menu/menu.spec.ts
  packages/web-components/src/menu/menu.stories.ts
  packages/web-components/src/menu/menu.ts
Labels: web-components

#31783 feat(web-components): Use ElementInternals for Radio and RadioGroup components
  change/@fluentui-web-components-0404c908-9458-47f2-9bf9-fe362e2701df.json
  packages/web-components/docs/api-report.md
  packages/web-components/src/checkbox/checkbox.spec.ts
  packages/web-components/src/checkbox/checkbox.styles.ts
  packages/web-components/src/checkbox/checkbox.template.ts
  packages/web-components/src/checkbox/checkbox.ts
  packages/web-components/src/field/field.options.ts
  packages/web-components/src/field/field.styles.ts
  packages/web-components/src/field/field.template.ts
  packages/web-components/src/field/field.ts
  packages/web-components/src/radio-group/radio-group.spec.ts
  packages/web-components/src/radio-group/radio-group.stories.ts
  packages/web-components/src/radio-group/radio-group.styles.ts
  packages/web-components/src/radio-group/radio-group.template.ts
  packages/web-components/src/radio-group/radio-group.ts
  packages/web-components/src/radio/index.ts
  packages/web-components/src/radio/radio.form-associated.ts
  packages/web-components/src/radio/radio.options.ts
  packages/web-components/src/radio/radio.spec.ts
  packages/web-components/src/radio/radio.stories.ts
  packages/web-components/src/radio/radio.styles.ts
  packages/web-components/src/radio/radio.template.ts
  packages/web-components/src/radio/radio.ts
  packages/web-components/src/styles/states/index.ts
  packages/web-components/src/switch/switch.spec.ts
  packages/web-components/src/switch/switch.styles.ts
  packages/web-components/src/switch/switch.template.ts
  packages/web-components/src/switch/switch.ts
  packages/web-components/src/utils/root-active-element.ts
Labels: web-components

#31911 fix(web-components): fix for setTheme in Firefox
  change/@fluentui-web-components-5704d052-a860-40bb-b956-9b445a49e171.json
  packages/web-components/src/theme/set-theme.ts
Labels: web-components

#31907 fix(react-motion): Add guard to check if globals can be used
  change/@fluentui-react-motion-f6019e1f-96a3-4d91-b14a-5263e24433f4.json
  packages/react-components/react-motion/library/src/hooks/useAnimateAtoms-node.test.tsx
  packages/react-components/react-motion/library/src/hooks/useAnimateAtoms.ts
Labels: Priority 1: High, Fluent UI react-components (v9)

#31866 refactor(web-components): cleanup accordion and update to elementInternals for state
  apps/vr-tests-web-components/src/stories/accordion/accordion.stories.tsx
  change/@fluentui-web-components-bfd68275-8db7-4591-a7d9-3adfcc8ba806.json
  packages/web-components/docs/api-report.md
  packages/web-components/src/accordion-item/README.md
  packages/web-components/src/accordion-item/accordion-item.options.ts
  packages/web-components/src/accordion-item/accordion-item.spec.ts
  packages/web-components/src/accordion-item/accordion-item.styles.ts
  packages/web-components/src/accordion-item/accordion-item.template.ts
  packages/web-components/src/accordion-item/accordion-item.ts
  packages/web-components/src/accordion-item/index.ts
  packages/web-components/src/accordion/accordion.spec.ts
  packages/web-components/src/accordion/accordion.stories.ts
  packages/web-components/src/accordion/accordion.ts
  packages/web-components/src/index.ts
  packages/web-components/src/styles/states/index.ts
Labels: web-components

#31892 chore: migrate to nx 19.3.2
  migrations.json
  package.json
  tools/workspace-plugin/package.json
  yarn.lock
Labels: NX: core

#31812 feat: vertically align inline inputs
  change/@fluentui-react-combobox-60a7575c-5960-4d43-a05d-c15a6d64f363.json
  change/@fluentui-react-input-5d227ec7-f29b-4e63-8609-306602545c63.json
  change/@fluentui-react-spinbutton-9e9ce9a6-3fbf-4d61-bb6a-b0ec77ae5181.json
  change/@fluentui-react-textarea-a681e449-08af-4fd5-85fc-582c56a01306.json
  packages/react-components/react-combobox/library/src/components/Combobox/useComboboxStyles.styles.ts
  packages/react-components/react-combobox/library/src/components/Dropdown/useDropdownStyles.styles.ts
  packages/react-components/react-input/library/src/components/Input/useInputStyles.styles.ts
  packages/react-components/react-spinbutton/library/src/components/SpinButton/useSpinButtonStyles.styles.ts
  packages/react-components/react-textarea/library/src/components/Textarea/useTextareaStyles.styles.ts
Labels: Component: SpinButton, Component: Input, Component: Textarea

#31931 fix: export drawer and drawer body from root package and package exports
  change/@fluentui-web-components-5b51675f-fb22-4e9e-8711-727169376a26.json
  packages/web-components/package.json
  packages/web-components/src/index-rollup.ts
  packages/web-components/src/index.ts
Labels: web-components

#31940 fix(scripts-storybook): make getPackageStoriesGlob properly resolve stories paths based on new project.json#name pattern
  scripts/storybook/src/utils.js
  scripts/storybook/src/utils.spec.js
Labels: Area: Documentation, Fluent UI react-components (v9), Storybook

#31932 feat: convert menu list and items to use element internals
  change/@fluentui-web-components-5a2991af-51c1-4e3b-b0f8-5d19cbaa2a13.json
  packages/web-components/docs/api-report.md
  packages/web-components/src/menu-item/menu-item.styles.ts
  packages/web-components/src/menu-item/menu-item.template.ts
  packages/web-components/src/menu-item/menu-item.ts
  packages/web-components/src/menu-list/menu-list.spec.ts
  packages/web-components/src/menu-list/menu-list.template.ts
  packages/web-components/src/menu-list/menu-list.ts
  packages/web-components/src/menu/menu.ts
Labels: web-components

#31891 fix(react-combobox): Wrong positioning of the listbox when there's not enough space
  apps/public-docsite-v9/src/Concepts/Positioning/PositioningFallbackPositions.stories.tsx
  apps/public-docsite-v9/src/Concepts/Positioning/index.stories.tsx
  change/@fluentui-react-positioning-df90b5aa-4386-4091-b579-7bf3d0497aac.json
  packages/react-components/react-positioning/etc/react-positioning.api.md
  packages/react-components/react-positioning/src/types.ts
Labels: Component: ComboBox

#31944 fix(public-docsite-v9): Fix storybook NoMetaError issues
  apps/public-docsite-v9/.storybook/main.js
  apps/public-docsite-v9/src/Icons/index.stories.tsx
Labels: Fluent UI react-components (v9), Storybook

#31962 docs(implementation-guide): fix incorrect example links
  docs/react-v9/contributing/component-implementation-guide.md
Labels: Area: Documentation

#31933 feat(web-components): change slider to use Element Internals
  change/@fluentui-web-components-b33ad15b-6464-430d-bea6-2eb220452375.json
  packages/web-components/docs/api-report.md
  packages/web-components/src/slider/slider.options.ts
  packages/web-components/src/slider/slider.spec.ts
  packages/web-components/src/slider/slider.stories.ts
  packages/web-components/src/slider/slider.styles.ts
  packages/web-components/src/slider/slider.template.ts
  packages/web-components/src/slider/slider.ts
  packages/web-components/src/styles/states/index.ts
  packages/web-components/src/utils/converters.ts
  packages/web-components/src/utils/index.ts
Labels: web-components

#31978 chore: update tools release pipeline
  azure-pipelines.release.tools.yml
Labels: Area: Build System, CI

#31945 ci(v0-release): use new service connection which uses compliant Workload Identity Federation
  azure-pipelines.release-fluentui.yml
Labels: Fluent UI react-northstar (v0), CI

#31982 feat(motion): add Collapse motion component
  packages/react-components/react-motion-components-preview/library/etc/react-motion-components-preview.api.md
  packages/react-components/react-motion-components-preview/library/package.json
  packages/react-components/react-motion-components-preview/library/src/components/Collapse/Collapse.test.ts
  packages/react-components/react-motion-components-preview/library/src/components/Collapse/Collapse.ts
  packages/react-components/react-motion-components-preview/library/src/components/Collapse/index.ts
  packages/react-components/react-motion-components-preview/library/src/index.ts
  packages/react-components/react-motion-components-preview/library/src/testing/testUtils.ts
  packages/react-components/react-motion-components-preview/stories/package.json
  packages/react-components/react-motion-components-preview/stories/src/Collapse/CollapseCustomization.stories.md
  packages/react-components/react-motion-components-preview/stories/src/Collapse/CollapseCustomization.stories.tsx
  packages/react-components/react-motion-components-preview/stories/src/Collapse/CollapseDefault.stories.tsx
  packages/react-components/react-motion-components-preview/stories/src/Collapse/CollapseDescription.md
  packages/react-components/react-motion-components-preview/stories/src/Collapse/CollapseExaggerated.stories.md
  packages/react-components/react-motion-components-preview/stories/src/Collapse/CollapseExaggerated.stories.tsx
  packages/react-components/react-motion-components-preview/stories/src/Collapse/CollapseSnappy.stories.md
  packages/react-components/react-motion-components-preview/stories/src/Collapse/CollapseSnappy.stories.tsx
  packages/react-components/react-motion-components-preview/stories/src/Collapse/index.stories.ts
Labels: Area: Animation

#31998 feat(motion): Publish react-motion-components-preview
  apps/public-docsite-v9/package.json
  change/@fluentui-react-motion-components-preview-ba095f16-e1da-4c33-b024-c8232ea857d5.json
  packages/react-components/react-motion-components-preview/library/package.json
Labels: Area: Animation

#32003 fix: support users setting tabindex attribute for button
  change/@fluentui-web-components-d81fb123-abf5-44cf-a97e-4ceda13d1edf.json
  packages/web-components/src/button/button.spec.ts
  packages/web-components/src/button/button.template.ts
  packages/web-components/src/compound-button/compound-button.template.ts
Labels: web-components

#32000 fix(web-components): scope submenu fallback positioning to non-anchor browsers only
  change/@fluentui-web-components-198bc628-0ffa-41a6-a30f-b159efd70210.json
  packages/web-components/src/menu-item/menu-item.styles.ts
Labels: web-components

#31996 chore(storybook-scripts): support both package and project names for excluded stories
  scripts/storybook/src/utils.js
  scripts/storybook/src/utils.spec.js
Labels: Area: Build System, Storybook

#31976 feat(react-color-picker-preview): generate package scaffold
  .github/CODEOWNERS
  packages/react-components/react-color-picker-preview/library/.babelrc.json
  packages/react-components/react-color-picker-preview/library/.eslintrc.json
  packages/react-components/react-color-picker-preview/library/.swcrc
  packages/react-components/react-color-picker-preview/library/LICENSE
  packages/react-components/react-color-picker-preview/library/README.md
  packages/react-components/react-color-picker-preview/library/config/api-extractor.json
  packages/react-components/react-color-picker-preview/library/config/tests.js
  packages/react-components/react-color-picker-preview/library/docs/Spec.md
  packages/react-components/react-color-picker-preview/library/etc/react-color-picker-preview.api.md
  packages/react-components/react-color-picker-preview/library/jest.config.js
  packages/react-components/react-color-picker-preview/library/just.config.ts
  packages/react-components/react-color-picker-preview/library/package.json
  packages/react-components/react-color-picker-preview/library/project.json
  packages/react-components/react-color-picker-preview/library/src/index.ts
  packages/react-components/react-color-picker-preview/library/src/testing/isConformant.ts
  packages/react-components/react-color-picker-preview/library/tsconfig.json
  packages/react-components/react-color-picker-preview/library/tsconfig.lib.json
  packages/react-components/react-color-picker-preview/library/tsconfig.spec.json
  packages/react-components/react-color-picker-preview/stories/.eslintrc.json
  packages/react-components/react-color-picker-preview/stories/.gitkeep
  packages/react-components/react-color-picker-preview/stories/.storybook/main.js
  packages/react-components/react-color-picker-preview/stories/.storybook/preview.js
  packages/react-components/react-color-picker-preview/stories/.storybook/tsconfig.json
  packages/react-components/react-color-picker-preview/stories/README.md
  packages/react-components/react-color-picker-preview/stories/just.config.ts
  packages/react-components/react-color-picker-preview/stories/package.json
  packages/react-components/react-color-picker-preview/stories/project.json
  packages/react-components/react-color-picker-preview/stories/src/index.ts
  packages/react-components/react-color-picker-preview/stories/tsconfig.json
  packages/react-components/react-color-picker-preview/stories/tsconfig.lib.json
  tsconfig.base.all.json
  tsconfig.base.json
Labels: Component: ColorPicker

#31999 feat(react-keytips): generate package scaffold
  .github/CODEOWNERS
  packages/react-components/react-keytips-preview/library/.babelrc.json
  packages/react-components/react-keytips-preview/library/.eslintrc.json
  packages/react-components/react-keytips-preview/library/.swcrc
  packages/react-components/react-keytips-preview/library/LICENSE
  packages/react-components/react-keytips-preview/library/README.md
  packages/react-components/react-keytips-preview/library/config/api-extractor.json
  packages/react-components/react-keytips-preview/library/config/tests.js
  packages/react-components/react-keytips-preview/library/docs/Spec.md
  packages/react-components/react-keytips-preview/library/etc/react-keytips-preview.api.md
  packages/react-components/react-keytips-preview/library/jest.config.js
  packages/react-components/react-keytips-preview/library/just.config.ts
  packages/react-components/react-keytips-preview/library/package.json
  packages/react-components/react-keytips-preview/library/project.json
  packages/react-components/react-keytips-preview/library/src/index.ts
  packages/react-components/react-keytips-preview/library/src/testing/isConformant.ts
  packages/react-components/react-keytips-preview/library/tsconfig.json
  packages/react-components/react-keytips-preview/library/tsconfig.lib.json
  packages/react-components/react-keytips-preview/library/tsconfig.spec.json
  packages/react-components/react-keytips-preview/stories/.eslintrc.json
  packages/react-components/react-keytips-preview/stories/.gitkeep
  packages/react-components/react-keytips-preview/stories/.storybook/main.js
  packages/react-components/react-keytips-preview/stories/.storybook/preview.js
  packages/react-components/react-keytips-preview/stories/.storybook/tsconfig.json
  packages/react-components/react-keytips-preview/stories/README.md
  packages/react-components/react-keytips-preview/stories/just.config.ts
  packages/react-components/react-keytips-preview/stories/package.json
  packages/react-components/react-keytips-preview/stories/project.json
  packages/react-components/react-keytips-preview/stories/src/index.ts
  packages/react-components/react-keytips-preview/stories/tsconfig.json
  packages/react-components/react-keytips-preview/stories/tsconfig.lib.json
  tsconfig.base.all.json
  tsconfig.base.json
Labels: Component: Keytip

#32004 ci(vrt): web-components VR tests now use correct baseline pipeline
  azure-pipelines.vrt-baseline.yml
  azure-pipelines.vrt-pr.yml
Labels: Area: Build System, web-components, CI

#31991 chore(web-components): cleanup drawer storybook
  change/@fluentui-web-components-7af277b6-1e65-46b2-89d4-412861c9d3bb.json
  packages/web-components/src/drawer-body/drawer-body.ts
  packages/web-components/src/drawer/drawer.stories.ts
Labels: web-components

#32021 feat(motion): add Scale motion component
  change/@fluentui-react-motion-components-preview-b1579edb-605b-4bec-a5dd-2d858369e7aa.json
  packages/react-components/react-motion-components-preview/library/etc/react-motion-components-preview.api.md
  packages/react-components/react-motion-components-preview/library/src/components/Scale/Scale.test.ts
  packages/react-components/react-motion-components-preview/library/src/components/Scale/Scale.ts
  packages/react-components/react-motion-components-preview/library/src/components/Scale/index.ts
  packages/react-components/react-motion-components-preview/library/src/index.ts
  packages/react-components/react-motion-components-preview/stories/src/Scale/ScaleCustomization.stories.md
  packages/react-components/react-motion-components-preview/stories/src/Scale/ScaleCustomization.stories.tsx
  packages/react-components/react-motion-components-preview/stories/src/Scale/ScaleDefault.stories.tsx
  packages/react-components/react-motion-components-preview/stories/src/Scale/ScaleDescription.md
  packages/react-components/react-motion-components-preview/stories/src/Scale/ScaleExaggerated.stories.md
  packages/react-components/react-motion-components-preview/stories/src/Scale/ScaleExaggerated.stories.tsx
  packages/react-components/react-motion-components-preview/stories/src/Scale/ScaleSnappy.stories.md
  packages/react-components/react-motion-components-preview/stories/src/Scale/ScaleSnappy.stories.tsx
  packages/react-components/react-motion-components-preview/stories/src/Scale/index.stories.ts
Labels: Area: Animation

#31995 ci(.github): introduce check-tooling CI pipeline
  .github/workflows/check-tooling.yml
  change/@fluentui-react-jsx-runtime-b0f83b29-f3d8-4f8b-89c9-75e48160f4cc.json
  packages/react-components/react-jsx-runtime/package.json
  scripts/tasks/src/api-extractor.ts
  tools/workspace-plugin/src/generators/bundle-size-configuration/generator.spec.ts
  tools/workspace-plugin/src/generators/bundle-size-configuration/generator.ts
  tools/workspace-plugin/src/generators/bundle-size-configuration/schema.d.ts
  tools/workspace-plugin/src/generators/bundle-size-configuration/schema.json
  tools/workspace-plugin/src/generators/cypress-component-configuration/schema.json
  tools/workspace-plugin/src/generators/prepare-initial-release/schema.json
  tools/workspace-plugin/src/generators/react-component/files/component/__componentName__.tsx__tmpl__
  tools/workspace-plugin/src/generators/react-component/index.spec.ts
  tools/workspace-plugin/src/generators/react-component/index.ts
  tools/workspace-plugin/src/generators/react-library/index.spec.ts
  tools/workspace-plugin/src/generators/react-library/index.ts
  tools/workspace-plugin/src/generators/split-library-in-two/generator.ts
Labels: Fluent UI react-components (v9), NX: workspace generators, CI

#32032 patch(motion): CollapseCustomization storybook small tweak
  packages/react-components/react-motion-components-preview/stories/src/Collapse/CollapseCustomization.stories.tsx
Labels: Area: Animation

#32002 Fix: Removes padding from `fluent-field` host element
  change/@fluentui-web-components-9db7a86a-2608-4f2d-aa56-13b248a527df.json
  packages/web-components/src/field/field.stories.ts
  packages/web-components/src/field/field.styles.ts
  packages/web-components/src/radio-group/radio-group.styles.ts
Labels: web-components

#32031 chore: introduce bundle aware `build:react-with-umd` task for v8 packages that ship UMD to production(npm registry)
  change/@fluentui-azure-themes-a88a46a2-005b-456c-9295-49ecb3d78029.json
  change/@fluentui-example-data-0df0ac5c-6163-44b1-9333-38d4293de606.json
  change/@fluentui-fluent2-theme-d1f89bae-1013-4556-ac95-9c915def48d5.json
  change/@fluentui-foundation-legacy-8957e624-f5b2-4a0c-a16b-86da8da472f7.json
  change/@fluentui-merge-styles-0d7c4310-18e1-4f9f-978b-60c07fb31fc3.json
  change/@fluentui-react-9306b15a-c592-4747-b932-8cf7608022ef.json
  change/@fluentui-react-cards-50c2fe34-9f60-47ed-a454-ea30dac5432f.json
  change/@fluentui-react-charting-6d5e3678-63c3-4b95-adb5-a33b4431ec81.json
  change/@fluentui-react-date-time-46a9e53f-5f64-4c22-97f0-8447b64ff79d.json
  change/@fluentui-react-experiments-de338cfe-d9cd-4605-9d79-40a2bf3f5188.json
  change/@fluentui-react-focus-aebba9e7-af10-43bf-88e4-252abe9359ec.json
  change/@fluentui-react-hooks-89a2461d-331d-4cc4-95cf-db736b2d3582.json
  change/@fluentui-react-icon-provider-bc6fd68e-d9f4-447c-a3b3-896cd8304282.json
  change/@fluentui-react-icons-mdl2-e38ae97c-5894-4523-bbaf-8b2521709894.json
  change/@fluentui-react-monaco-editor-883741cb-819f-4bf9-aba2-195ab08bc66e.json
  change/@fluentui-scheme-utilities-d13ccd25-3ff2-4dcd-83c3-6b700196b516.json
  change/@fluentui-theme-samples-d8512518-d0c6-431e-b26d-6310d099a285.json
  packages/azure-themes/just.config.ts
  packages/azure-themes/package.json
  packages/example-data/just.config.ts
  packages/example-data/package.json
  packages/fluent2-theme/just.config.ts
  packages/fluent2-theme/package.json
  packages/foundation-legacy/just.config.ts
  packages/foundation-legacy/package.json
  packages/merge-styles/just.config.ts
  packages/merge-styles/package.json
  packages/react-cards/just.config.ts
  packages/react-cards/package.json
  packages/react-charting/just.config.ts
  packages/react-charting/package.json
  packages/react-date-time/just.config.ts
  packages/react-date-time/package.json
  packages/react-experiments/just.config.ts
  packages/react-experiments/package.json
  packages/react-focus/just.config.ts
  packages/react-focus/package.json
  packages/react-hooks/just.config.ts
  packages/react-hooks/package.json
  packages/react-icon-provider/just.config.ts
  packages/react-icon-provider/package.json
  packages/react-icons-mdl2/just.config.ts
  packages/react-icons-mdl2/package.json
  packages/react-monaco-editor/package.json
  packages/react/just.config.ts
  packages/react/package.json
  packages/scheme-utilities/just.config.ts
  packages/scheme-utilities/package.json
  packages/theme-samples/just.config.ts
  packages/theme-samples/package.json
  scripts/tasks/src/metadata-utils.ts
  scripts/tasks/src/presets.ts
Labels: Area: Build System, Fluent UI react (v8)

#32050 ci: improve codeql performance by not analyzing sourcefiles that cause infinte loops in monorepo situation
  azure-pipelines-ci.yml
Labels: CI

#32048 ci(vrt): install vr-app as part of standard yarn install and remedy necessary duplication
  azure-pipelines.vrt-baseline.yml
  azure-pipelines.vrt-pr.yml
  download-vr-cli.yml
  package.json
  yarn.lock
Labels: CI, Area: Storywright

#27680 chore: unify jest maxWorkers usage on CI and turn off code coverage
  packages/keyboard-key/jest.config.js
  scripts/gulp/src/plugins/gulp-jest.ts
  scripts/gulp/src/tasks/test-unit.ts
  scripts/jest/src/environment.js
  scripts/jest/src/jest.preset.v0.js
  scripts/jest/src/jest.preset.v8.js
  scripts/jest/src/shared.js
  scripts/tasks/src/jest.ts
Labels: Area: Testing, Fluent UI react-northstar (v0), Fluent UI react (v8), CI

#32056 fix(web-components): move spinner animation off of mainthread
  change/@fluentui-web-components-1dc0a126-f4ed-4776-b348-eaaef1b65a6a.json
  packages/web-components/src/spinner/spinner.styles.ts
  packages/web-components/src/spinner/spinner.template.ts
Labels: web-components

#31626 fix(TimePicker): Clear text when date value changes to null
  change/@fluentui-react-894f4962-0a68-4be0-8af1-2485f50c1b64.json
  packages/react/src/components/TimePicker/TimePicker.tsx
Labels: Fluent UI react (v8), Component: TimePicker

#32065 Chore: Create Divider base class to abstract out style and layout specific api
  change/@fluentui-web-components-b3c312bc-fbd8-441b-94e7-fece2be539a3.json
  packages/web-components/docs/api-report.md
  packages/web-components/src/button/index.ts
  packages/web-components/src/divider/divider.ts
  packages/web-components/src/divider/index.ts
  packages/web-components/src/index.ts
Labels: web-components

#32011 fix(react-storybook-addon): transform decorator to function in withAriaLive()
  apps/vr-tests-react-components/.storybook/preview.js
  packages/react-components/react-storybook-addon/etc/react-storybook-addon.api.md
  packages/react-components/react-storybook-addon/src/decorators/withAriaLive.tsx
  packages/react-components/react-storybook-addon/src/decorators/withFluentProvider.tsx
  packages/react-components/react-storybook-addon/src/decorators/withReactStrictMode.tsx
  packages/react-components/react-storybook-addon/src/hooks.ts
  packages/react-components/react-storybook-addon/src/utils/isDecoratorDisabled.ts
Labels: Fluent UI react-components (v9), Storybook, Area: Storywright

#32087 feat(web-components): relax setTheme() argument type to allow custom tokens
  change/@fluentui-web-components-664a860d-0606-46e5-9e2d-c1d7508e2e62.json
  packages/web-components/docs/api-report.md
  packages/web-components/src/index.ts
  packages/web-components/src/theme/index.ts
  packages/web-components/src/theme/set-theme.ts
Labels: web-components

#32080 [chore]: create base class for text input and remove style and layout specific api
  change/@fluentui-web-components-9f5b2454-7f3e-45fc-90f2-c8b18aaefa4a.json
  packages/web-components/docs/api-report.md
  packages/web-components/src/index.ts
  packages/web-components/src/text-input/index.ts
  packages/web-components/src/text-input/text-input.ts
Labels: web-components

#32083 [chore]: create base class for avatar and remove style and layout specific api
  change/@fluentui-web-components-8019914d-618b-49e1-88de-c5249d5206f3.json
  packages/web-components/docs/api-report.md
  packages/web-components/src/avatar/avatar.ts
  packages/web-components/src/avatar/index.ts
  packages/web-components/src/index.ts
Labels: web-components

#32009 chore(web-components): add test for complex focus management
  packages/web-components/src/menu/menu.spec.ts
Labels: web-components

#32102 [chore]: create base class for accordion item and remove style and layout specific api
  change/@fluentui-web-components-79917b03-962f-47a5-b0ec-a749ac9331c4.json
  packages/web-components/docs/api-report.md
  packages/web-components/src/accordion-item/accordion-item.ts
  packages/web-components/src/accordion-item/index.ts
  packages/web-components/src/index.ts
Labels: web-components

#32096 chore: improve jest speed on both local and CI
  jest.preset.js
  scripts/jest/src/environment.js
  scripts/jest/src/jest.preset.v0.js
  scripts/jest/src/jest.preset.v8.js
  scripts/jest/src/shared.js
Labels: Area: Build System, Area: Testing, CI

#31988 chore: upgrade @typescript-eslint to v6 and eslint to v8
  change/@fluentui-eslint-plugin-912d0763-d6cf-4fec-beac-2843c49fc62d.json
  change/@fluentui-react-tabster-b0807315-3821-4fdb-a2ac-25c10dd1d266.json
  change/@fluentui-web-components-8db325bc-acef-4d3a-af10-591cfd00cc42.json
  package.json
  packages/eslint-plugin/package.json
  packages/eslint-plugin/src/rules/ban-context-export/index.js
  packages/eslint-plugin/src/rules/ban-context-export/index.test.js
  packages/eslint-plugin/src/rules/ban-imports.js
  packages/eslint-plugin/src/rules/ban-instanceof-html-element/index.js
  packages/eslint-plugin/src/rules/ban-instanceof-html-element/index.test.js
  packages/eslint-plugin/src/rules/deprecated-keyboard-event-props.js
  packages/eslint-plugin/src/rules/max-len.js
  packages/eslint-plugin/src/rules/no-context-default-value/index.js
  packages/eslint-plugin/src/rules/no-context-default-value/index.test.js
  packages/eslint-plugin/src/rules/no-global-react.js
  packages/eslint-plugin/src/rules/no-restricted-imports/index.js
  packages/eslint-plugin/src/rules/no-restricted-imports/index.test.js
  packages/eslint-plugin/src/rules/no-tslint-comments.js
  packages/eslint-plugin/src/rules/no-visibility-modifiers.js
  packages/eslint-plugin/tsconfig.json
  packages/react-components/react-tabster/src/index.ts
  packages/web-components/.eslintrc.json
  scripts/executors/src/scrub.js
  scripts/gulp/src/plugins/gulp-example-source.ts
  scripts/gulp/src/tasks/component-info.ts
  scripts/lint-staged/src/eslint-for-package.js
  scripts/lint-staged/src/eslint.js
  tools/eslint-rules/rules/consistent-callback-type.spec.ts
  tools/eslint-rules/rules/consistent-callback-type.ts
  tools/workspace-plugin/src/generators/eslint-rule/generator.spec.ts
  tools/workspace-plugin/src/generators/eslint-rule/generator.ts
  yarn.lock
Labels: Area: Build System, Package: eslint-plugin, CI

#31953 fix(react-card): improve hover font colors on HC mode
  change/@fluentui-react-card-eeb031d6-d039-4293-8d3b-9e84e834670f.json
  packages/react-components/react-card/library/package.json
  packages/react-components/react-card/library/src/components/Card/useCardStyles.styles.ts
Labels: Component: Card

#32119 Fix "aria-required-children" accessibility issue in legends
  change/@fluentui-react-charting-0cc26e86-f67d-477c-94cc-ae1414e2bf1f.json
  packages/react-charting/src/components/Legends/Legends.base.tsx
Labels: Package: charting

#32110 ci(vrt): bump vr-approval-cli to 0.4.5 and use new create policy api
  azure-pipelines.vrt-baseline.yml
  azure-pipelines.vrt-pr.yml
  package.json
  yarn.lock
Labels: Area: Build System, CI

#32086 feat(motion): add collapse motion for Accordion
  change/@fluentui-react-accordion-67ff3ccc-c9c6-47c5-9a09-68e6d9bfe110.json
  packages/react-components/react-accordion/library/etc/react-accordion.api.md
  packages/react-components/react-accordion/library/package.json
  packages/react-components/react-accordion/library/src/components/AccordionHeader/__snapshots__/AccordionHeader.test.tsx.snap
  packages/react-components/react-accordion/library/src/components/AccordionHeader/useAccordionHeader.tsx
  packages/react-components/react-accordion/library/src/components/AccordionPanel/AccordionPanel.types.ts
  packages/react-components/react-accordion/library/src/components/AccordionPanel/renderAccordionPanel.tsx
  packages/react-components/react-accordion/library/src/components/AccordionPanel/useAccordionPanel.ts
  packages/react-components/react-accordion/library/src/components/AccordionPanel/useAccordionPanelStyles.styles.ts
Labels: Area: Animation

#32052 docs(react-combobox): adjust Combobox examples
  change/@fluentui-react-combobox-3a0b4412-7326-4ac8-a23d-144408d18d72.json
  packages/react-components/react-combobox/library/src/utils/ComboboxBase.types.ts
  packages/react-components/react-combobox/stories/src/Combobox/ComboboxCustomOptions.stories.tsx
  packages/react-components/react-combobox/stories/src/Combobox/ComboboxVirtualizer.stories.tsx
Labels: Component: ComboBox, Storybook

#32079 fix(react-search): replace useEventCallback with useCallback
  change/@fluentui-react-search-151576f1-89e3-425a-8b4e-070acb37ef9a.json
  packages/react-components/react-search/library/src/components/SearchBox/useSearchBox.tsx
Labels: Type: Bug :bug:, Component: SearchBox

#32035 Add chart reflow examples
  change/@fluentui-react-charting-a4d7a053-1f0f-4c3f-85e1-08a276cad15e.json
  packages/react-examples/src/react-charting/SankeyChart/SankeyChart.Reflow.Example.tsx
  packages/react-examples/src/react-charting/SankeyChart/SankeyChartPage.tsx
  packages/react-examples/src/react-charting/VerticalStackedBarChart/VerticalStackedBarChart.Reflow.Example.tsx
  packages/react-examples/src/react-charting/VerticalStackedBarChart/VerticalStackedBarChartPage.tsx
Labels: Package: charting

#32157 fix: SwatchColorPicker story a11y bug, docs wording
  packages/react-components/react-swatch-picker/stories/src/SwatchPicker/ColorSwatchVariants.stories.tsx
  packages/react-components/react-swatch-picker/stories/src/SwatchPicker/EmptySwatch.stories.tsx
  packages/react-components/react-swatch-picker/stories/src/SwatchPicker/SwatchPickerBestPractices.md
  packages/react-components/react-swatch-picker/stories/src/SwatchPicker/SwatchPickerImage.stories.tsx
  packages/react-components/react-swatch-picker/stories/src/SwatchPicker/SwatchPickerMixedSwatches.stories.tsx
  packages/react-components/react-swatch-picker/stories/src/SwatchPicker/SwatchPickerPopup.stories.tsx
  packages/react-components/react-swatch-picker/stories/src/SwatchPicker/SwatchPickerWithTooltip.stories.tsx
Labels: Component: SwatchColorPicker

#32005 Feat(DetailsList): Add `onColumnKeyDown` prop to `IColumn` interface
  change/@fluentui-react-51415e29-94e2-48bb-b540-0e14ac4ec79f.json
  packages/react-examples/src/react/DetailsList/DetailsList.KeyboardAccessibleResizeAndReorder.Example.tsx
  packages/react/etc/react.api.md
  packages/react/src/components/DetailsList/DetailsColumn.base.tsx
  packages/react/src/components/DetailsList/DetailsColumn.types.ts
  packages/react/src/components/DetailsList/DetailsList.types.ts
  packages/react/src/components/DetailsList/__snapshots__/DetailsColumn.test.tsx.snap
  packages/react/src/components/DetailsList/__snapshots__/DetailsHeader.test.tsx.snap
  packages/react/src/components/DetailsList/__snapshots__/DetailsList.test.tsx.snap
  packages/react/src/components/DetailsList/__snapshots__/DetailsListV2.test.tsx.snap
  packages/react/src/components/DetailsList/__snapshots__/DetailsRow.test.tsx.snap
Labels: Area: Accessibility, Component: DetailsList

#32122 feat(workspace-plugin): update react-library generator jest config to use swc
  tools/workspace-plugin/src/generators/react-library/files/jest.config.js__tmpl__
  tools/workspace-plugin/src/generators/react-library/index.spec.ts
Labels: Fluent UI react-components (v9), NX: workspace generators

#32172 ci: update pipelines to run properly after move to nx
  .devops/templates/build-test-lint.yml
  .devops/templates/deployE2E.yml
  azure-pipelines-ci.yml
  azure-pipelines.bundlesize.yml
  azure-pipelines.vrt-pr.yml
Labels: CI, NX: core

#32177 e2e(react-18-tests-v8): setup cypress webpack to use v8 TS path aliases in order to work without build step
  apps/react-18-tests-v8/cypress.config.ts
  apps/react-18-tests-v8/package.json
  apps/react-18-tests-v8/tsconfig.json
Labels: Area: Build System, CI
