Repository microsoft/fluentui, pull requests merged in 2024-06, with the labels that each got.

#31525 Add prop to toggle time display between UTC and local
  change/@fluentui-react-charting-0e34125d-533f-42fb-b82f-82c5695a70a6.json
  packages/react-charting/etc/react-charting.api.md
  packages/react-charting/src/components/AreaChart/AreaChart.base.tsx
  packages/react-charting/src/components/CommonComponents/CartesianChart.base.tsx
  packages/react-charting/src/components/CommonComponents/CartesianChart.types.ts
  packages/react-charting/src/components/LineChart/LineChart.base.tsx
  packages/react-charting/src/components/VerticalBarChart/VerticalBarChart.base.tsx
  packages/react-charting/src/components/VerticalStackedBarChart/VerticalStackedBarChart.base.tsx
  packages/react-charting/src/utilities/utilities.ts
  packages/react-examples/src/react-charting/AreaChart/AreaChart.Styled.Example.tsx
  packages/react-examples/src/react-charting/LineChart/LineChart.Basic.Example.tsx
  packages/react-examples/src/react-charting/LineChart/LineChart.CustomAccessibility.Example.tsx
  packages/react-examples/src/react-charting/LineChart/LineChart.LargeData.Example.tsx
  packages/react-examples/src/react-charting/LineChart/LineChart.Multiple.Example.tsx
  packages/react-examples/src/react-charting/LineChart/LineChart.Styled.Example.tsx
  packages/react-examples/src/react-charting/VerticalBarChart/VerticalBarChart.DateAxis.Example.tsx
  packages/react-examples/src/react-charting/VerticalBarChart/VerticalBarChart.Dynamic.Example.tsx
  packages/react-examples/src/react-charting/VerticalStackedBarChart/VerticalStackedBarChart.DateAxis.Example.tsx
Labels: Package: charting

#31509 feat(react-calendar-compat): changed design for the selected state
  change/@fluentui-react-calendar-compat-acdf3646-9c24-46d9-85eb-7f68e84c551d.json
  packages/react-components/react-calendar-compat/etc/react-calendar-compat.api.md
  packages/react-components/react-calendar-compat/src/components/CalendarDay/useCalendarDayStyles.styles.ts
  packages/react-components/react-calendar-compat/src/components/CalendarDayGrid/CalendarDayGrid.types.ts
  packages/react-components/react-calendar-compat/src/components/CalendarDayGrid/CalendarGridDayCell.tsx
  packages/react-components/react-calendar-compat/src/components/CalendarDayGrid/useCalendarDayGridStyles.styles.ts
  packages/react-components/react-calendar-compat/src/components/CalendarPicker/useCalendarPickerStyles.styles.ts
  packages/react-components/react-calendar-compat/src/utils/dateGrid/dateGrid.types.ts
  packages/react-components/react-calendar-compat/src/utils/dateGrid/getDayGrid.ts
Labels: Calendar Compat

#31490 fix(scripts-lint-staged): correctly resolve package groupping based on provided git staged files
  lint-staged.config.js
  scripts/lint-staged/package.json
  scripts/lint-staged/src/eslint-for-package.js
  scripts/lint-staged/src/eslint.js
Labels: Area: Build System, Area: Linting

#31496 chore: migrate to TS 4.9
  apps/vr-tests-web-components/tsconfig.json
  apps/vr-tests-web-components/typings/html-react-parser/index.d.ts
  change/@fluentui-api-docs-44f3b6cf-e2ae-452b-bf50-ef1af35445bb.json
  package.json
  packages/api-docs/package.json
  packages/fluentui/react-bindings/src/hooks/useStyles.ts
  packages/fluentui/react-northstar/package.json
  packages/fluentui/react-northstar/src/components/Popup/Popup.tsx
  packages/fluentui/react-northstar/src/components/Popup/PopupContent.tsx
  packages/fluentui/react-northstar/src/components/Tooltip/TooltipContent.tsx
  packages/fluentui/react-northstar/src/themes/teams/getPointerStyles.ts
  packages/fluentui/react-northstar/src/types.ts
  packages/fluentui/react-northstar/src/utils/commonPropInterfaces.ts
  packages/fluentui/react-northstar/src/utils/commonPropTypes.ts
  packages/fluentui/react-northstar/src/utils/createComponentInternal.ts
  packages/fluentui/react-northstar/src/utils/factories.ts
  packages/fluentui/react-northstar/src/utils/positioner/Popper.tsx
  packages/fluentui/react-northstar/src/utils/positioner/createReferenceFromClick.ts
  packages/fluentui/react-northstar/src/utils/positioner/getBasePlacement.ts
  packages/fluentui/react-northstar/src/utils/positioner/getBoundary.ts
  packages/fluentui/react-northstar/src/utils/positioner/isIntersectingModifier.ts
  packages/fluentui/react-northstar/src/utils/positioner/partitionPopperPropsFromShorthand.ts
  packages/fluentui/react-northstar/src/utils/positioner/positioningHelper.ts
  packages/fluentui/react-northstar/src/utils/positioner/types.ts
  packages/fluentui/react-northstar/src/utils/positioner/usePopper.ts
  packages/fluentui/react-northstar/test/specs/utils/positioner/positioningHelper-test.ts
  packages/fluentui/styles/src/types.ts
  packages/react-conformance/src/utils/getCallbackArguments.test.ts
  scripts/dangerjs/src/detectNonApprovedDependencies/approvedPackages.ts
  yarn.lock
Labels: Area: Build System, Area: Typescript

#31519 feat(web-components): migrate from npmignore to package.json#files for release
  apps/vr-tests-web-components/project.json
  change/@fluentui-web-components-39a28566-9769-41a8-802b-207cd544ded7.json
  packages/web-components/.npmignore
  packages/web-components/package.json
  packages/web-components/project.json
  packages/web-components/scripts/generate-tokens.js
  packages/web-components/scripts/run-benchmarks.js
  packages/web-components/scripts/type-check.js
  packages/web-components/scripts/verify-packaging.js
Labels: Area: Build System, web-components

#31547 docs(react-swatch-picker): fixed icon in HC and image example
  packages/react-components/react-swatch-picker/stories/SwatchPicker/ColorSwatchVariants.stories.tsx
  packages/react-components/react-swatch-picker/stories/SwatchPicker/EmptySwatch.stories.tsx
  packages/react-components/react-swatch-picker/stories/SwatchPicker/SwatchPickerImage.stories.tsx
Labels: Component: SwatchColorPicker

#31434 feat(react-drawer): allow aside tag for Drawer components
  change/@fluentui-react-drawer-0d3fd426-fde8-4cc1-8344-fe6f5f2de7b7.json
  change/@fluentui-react-nav-preview-9c58cf71-19c7-4001-aa55-8a097bdf7fdf.json
  packages/react-components/react-drawer/etc/react-drawer.api.md
  packages/react-components/react-drawer/src/components/Drawer/Drawer.test.tsx
  packages/react-components/react-drawer/src/components/Drawer/Drawer.types.ts
  packages/react-components/react-drawer/src/components/Drawer/useDrawer.ts
  packages/react-components/react-drawer/src/components/InlineDrawer/InlineDrawer.test.tsx
  packages/react-components/react-drawer/src/components/InlineDrawer/InlineDrawer.types.ts
  packages/react-components/react-drawer/src/components/InlineDrawer/useInlineDrawer.ts
  packages/react-components/react-drawer/src/components/OverlayDrawer/OverlayDrawer.test.tsx
  packages/react-components/react-drawer/src/components/OverlayDrawer/OverlayDrawer.types.ts
  packages/react-components/react-drawer/src/components/OverlayDrawer/OverlayDrawerSurface/OverlayDrawerSurface.tsx
  packages/react-components/react-drawer/src/components/OverlayDrawer/OverlayDrawerSurface/OverlayDrawerSurface.types.ts
  packages/react-components/react-drawer/src/components/OverlayDrawer/OverlayDrawerSurface/useOverlayDrawerSurfaceStyles.styles.ts
  packages/react-components/react-drawer/src/components/OverlayDrawer/useOverlayDrawer.ts
  packages/react-components/react-drawer/src/shared/DrawerBase.types.ts
  packages/react-components/react-drawer/stories/Drawer/InlineDrawer.stories.tsx
  packages/react-components/react-drawer/stories/Drawer/OverlayDrawer.stories.tsx
  packages/react-components/react-nav-preview/etc/react-nav-preview.api.md
  packages/react-components/react-nav-preview/src/components/NavDrawer/NavDrawer.types.ts
  packages/react-components/react-nav-preview/src/components/NavDrawer/renderNavDrawer.tsx
  packages/react-components/react-nav-preview/src/components/NavDrawer/useNavDrawer.ts
Labels: Component: Drawer

#31517 chore: migrate to @typescript-eslint v5
  change/@fluentui-eslint-plugin-669887b0-9b17-45c4-998d-ef9cf756aea2.json
  change/@fluentui-react-6857164b-7564-4bec-a608-93f37fac86a2.json
  package.json
  packages/eslint-plugin/package.json
  packages/eslint-plugin/src/rules/ban-context-export/fixtures/not-a-context/src/context.ts
  packages/eslint-plugin/src/rules/ban-context-export/index.js
  packages/eslint-plugin/src/rules/ban-context-export/index.test.js
  packages/eslint-plugin/src/rules/ban-imports.js
  packages/eslint-plugin/src/rules/ban-instanceof-html-element/index.js
  packages/eslint-plugin/src/rules/ban-instanceof-html-element/index.test.js
  packages/eslint-plugin/src/rules/deprecated-keyboard-event-props.js
  packages/eslint-plugin/src/rules/max-len.js
  packages/eslint-plugin/src/rules/no-context-default-value/index.js
  packages/eslint-plugin/src/rules/no-context-default-value/index.test.js
  packages/eslint-plugin/src/rules/no-global-react.js
  packages/eslint-plugin/src/rules/no-restricted-imports/index.js
  packages/eslint-plugin/src/rules/no-restricted-imports/index.test.js
  packages/eslint-plugin/src/rules/no-tslint-comments.js
  packages/eslint-plugin/src/rules/no-visibility-modifiers.js
  packages/eslint-plugin/src/utils/configHelpers.js
  packages/eslint-plugin/src/utils/createRule.js
  packages/eslint-plugin/src/utils/type-services.js
  packages/eslint-plugin/tsconfig.json
  packages/fluentui/perf/package.json
  packages/react/src/components/pickers/Suggestions/SuggestionsItem.types.ts
  syncpack.config.js
  tools/eslint-rules/rules/consistent-callback-type.spec.ts
  tools/eslint-rules/rules/consistent-callback-type.ts
  tools/workspace-plugin/src/generators/eslint-rule/generator.spec.ts
  tools/workspace-plugin/src/generators/eslint-rule/generator.ts
  yarn.lock
Labels: dependencies, Area: Linting

#31562 Improve contrast ratio of y value in ChartHoverCard
  change/@fluentui-react-charting-066e1b92-842b-43c9-8fe9-9c28c6de2315.json
  packages/react-charting/src/components/StackedBarChart/MultiStackedBarChart.base.tsx
Labels: Package: charting

#31585 fix(web-components): fix disabled button styles
  change/@fluentui-web-components-3a27963c-2795-4898-8b1e-adeb72be5c72.json
  packages/web-components/src/button/button.spec.ts
  packages/web-components/src/button/button.styles.ts
  packages/web-components/src/theme/set-theme.ts
Labels: web-components

#31560 chore: update repo LICENSE
  LICENSE
Labels: Area: Documentation

#31599 ci: remove codesandbox ci
  .codesandbox/ci.json
  package.json
Labels: Area: Build System

#31468 (web-components) Use ElementInternals for Checkbox component
  change/@fluentui-web-components-3b549149-2c12-435b-b925-e79f4fb05730.json
  packages/web-components/docs/api-report.md
  packages/web-components/src/checkbox/checkbox.definition.ts
  packages/web-components/src/checkbox/checkbox.form-associated.ts
  packages/web-components/src/checkbox/checkbox.options.ts
  packages/web-components/src/checkbox/checkbox.spec.ts
  packages/web-components/src/checkbox/checkbox.stories.ts
  packages/web-components/src/checkbox/checkbox.styles.ts
  packages/web-components/src/checkbox/checkbox.template.ts
  packages/web-components/src/checkbox/checkbox.ts
  packages/web-components/src/checkbox/index.ts
  packages/web-components/src/field/define.ts
  packages/web-components/src/field/field.bench.ts
  packages/web-components/src/field/field.definition.ts
  packages/web-components/src/field/field.options.ts
  packages/web-components/src/field/field.spec.ts
  packages/web-components/src/field/field.stories.ts
  packages/web-components/src/field/field.styles.ts
  packages/web-components/src/field/field.template.ts
  packages/web-components/src/field/field.ts
  packages/web-components/src/field/index.ts
  packages/web-components/src/index-rollup.ts
  packages/web-components/src/index.ts
  packages/web-components/src/label/label.styles.ts
  packages/web-components/src/text-input/text-input.definition.ts
  packages/web-components/src/text-input/text-input.stories.ts
  packages/web-components/src/text-input/text-input.styles.ts
  packages/web-components/src/text-input/text-input.template.ts
  packages/web-components/src/text-input/text-input.ts
  packages/web-components/src/text/text.styles.ts
  packages/web-components/src/utils/element-internals.ts
Labels: web-components

#31609 fix(web-components): update dialog border
  change/@fluentui-web-components-cb78e90b-9ba3-4165-8ed1-8aa132f8403e.json
  packages/web-components/src/dialog/dialog.styles.ts
Labels: web-components

#31578 docs(react-swatch-picker): fixed imports in stories
  packages/react-components/react-swatch-picker/stories/src/SwatchPicker/ColorSwatchVariants.stories.tsx
  packages/react-components/react-swatch-picker/stories/src/SwatchPicker/EmptySwatch.stories.tsx
  packages/react-components/react-swatch-picker/stories/src/SwatchPicker/SwatchPickerDefault.stories.tsx
  packages/react-components/react-swatch-picker/stories/src/SwatchPicker/SwatchPickerImage.stories.tsx
  packages/react-components/react-swatch-picker/stories/src/SwatchPicker/SwatchPickerLayout.stories.tsx
  packages/react-components/react-swatch-picker/stories/src/SwatchPicker/SwatchPickerMixedSwatches.stories.tsx
  packages/react-components/react-swatch-picker/stories/src/SwatchPicker/SwatchPickerPopup.stories.tsx
  packages/react-components/react-swatch-picker/stories/src/SwatchPicker/SwatchPickerShape.stories.tsx
  packages/react-components/react-swatch-picker/stories/src/SwatchPicker/SwatchPickerSize.stories.tsx
  packages/react-components/react-swatch-picker/stories/src/SwatchPicker/SwatchPickerSpacing.stories.tsx
  packages/react-components/react-swatch-picker/stories/src/SwatchPicker/SwatchPickerWithTooltip.stories.tsx
Labels: Component: SwatchColorPicker

#31613 chore: update Switch to leverage ElementInternals via Checkbox
  apps/vr-tests-web-components/src/stories/switch/switch.stories.tsx
  change/@fluentui-web-components-08ae4a29-13c9-459b-8b03-c40e270288cc.json
  packages/web-components/docs/api-report.md
  packages/web-components/src/checkbox/checkbox.ts
  packages/web-components/src/switch/switch.spec.ts
  packages/web-components/src/switch/switch.stories.ts
  packages/web-components/src/switch/switch.styles.ts
  packages/web-components/src/switch/switch.template.ts
  packages/web-components/src/switch/switch.ts
Labels: web-components

#31628 fix: corrects the border-color for switch when in the checked state on rest
  change/@fluentui-web-components-1fa74631-ff88-48ec-a0c6-15691f79e0a1.json
  packages/web-components/src/switch/switch.styles.ts
Labels: web-components

#31627 feat: update divider to use element internals
  change/@fluentui-web-components-205be5a1-cc0b-4195-879b-5e7c82b5ddea.json
  packages/web-components/docs/api-report.md
  packages/web-components/src/divider/divider.spec.ts
  packages/web-components/src/divider/divider.stories.ts
  packages/web-components/src/divider/divider.template.ts
  packages/web-components/src/divider/divider.ts
Labels: web-components

#31587 fix(react-accordion): deprecate navigation prop
  change/@fluentui-react-accordion-d1e7dc7f-a785-4885-988f-8bef076f940a.json
  packages/react-components/react-accordion/src/components/Accordion/Accordion.types.ts
  packages/react-components/react-accordion/src/components/Accordion/useAccordion.ts
  packages/react-components/react-accordion/stories/Accordion/AccordionNavigation.stories.tsx
  packages/react-components/react-accordion/stories/Accordion/index.stories.tsx
Labels: Component: Accordion

#31624 Update Accordion Size story to allow collapsing
  packages/react-components/react-accordion/stories/Accordion/AccordionSizes.stories.tsx
Labels: Component: Accordion, Component: AccordionHeader

#31648 fix: show default title action in dialog body for modal dialogs
  change/@fluentui-web-components-24db3759-9402-48da-b37b-d829a7c7902a.json
  packages/web-components/src/dialog-body/dialog-body.spec.ts
  packages/web-components/src/dialog-body/dialog-body.template.ts
Labels: web-components

#31608 docs(react-skeleton): extend Skeleton story with SkeletonItem examples
  packages/react-components/react-skeleton/stories/Skeleton/SkeletonItemShape.stories.tsx
  packages/react-components/react-skeleton/stories/Skeleton/SkeletonItemSize.stories.tsx
  packages/react-components/react-skeleton/stories/Skeleton/index.stories.tsx
Labels: Fluent UI react-components (v9), Storybook, Component: Skeleton

#31642 chore: remove react-alert from monorepo
  .github/CODEOWNERS
  packages/react-components/react-alert/.babelrc.json
  packages/react-components/react-alert/.eslintrc.json
  packages/react-components/react-alert/.storybook/main.js
  packages/react-components/react-alert/.storybook/preview.js
  packages/react-components/react-alert/.storybook/tsconfig.json
  packages/react-components/react-alert/.swcrc
  packages/react-components/react-alert/CHANGELOG.json
  packages/react-components/react-alert/CHANGELOG.md
  packages/react-components/react-alert/LICENSE
  packages/react-components/react-alert/README.md
  packages/react-components/react-alert/bundle-size/Alert.fixture.js
  packages/react-components/react-alert/config/api-extractor.json
  packages/react-components/react-alert/config/tests.js
  packages/react-components/react-alert/docs/Migration.md
  packages/react-components/react-alert/docs/Spec.md
  packages/react-components/react-alert/etc/react-alert.api.md
  packages/react-components/react-alert/jest.config.js
  packages/react-components/react-alert/just.config.ts
  packages/react-components/react-alert/package.json
  packages/react-components/react-alert/project.json
  packages/react-components/react-alert/src/Alert.ts
  packages/react-components/react-alert/src/components/Alert/Alert.test.tsx
  packages/react-components/react-alert/src/components/Alert/Alert.tsx
  packages/react-components/react-alert/src/components/Alert/Alert.types.ts
  packages/react-components/react-alert/src/components/Alert/index.ts
  packages/react-components/react-alert/src/components/Alert/renderAlert.tsx
  packages/react-components/react-alert/src/components/Alert/useAlert.tsx
  packages/react-components/react-alert/src/components/Alert/useAlertStyles.styles.ts
  packages/react-components/react-alert/src/index.ts
  packages/react-components/react-alert/src/testing/isConformant.ts
  packages/react-components/react-alert/stories/Alert/AlertAction.stories.tsx
  packages/react-components/react-alert/stories/Alert/AlertAppearance.stories.tsx
  packages/react-components/react-alert/stories/Alert/AlertAvatar.stories.tsx
  packages/react-components/react-alert/stories/Alert/AlertDefault.stories.tsx
  packages/react-components/react-alert/stories/Alert/AlertDescription.md
  packages/react-components/react-alert/stories/Alert/AlertIcon.stories.tsx
  packages/react-components/react-alert/stories/Alert/AlertIntent.stories.tsx
  packages/react-components/react-alert/tsconfig.json
  packages/react-components/react-alert/tsconfig.lib.json
  packages/react-components/react-alert/tsconfig.spec.json
  packages/react-components/theme-designer/package.json
  tsconfig.base.all.json
  tsconfig.base.json
  yarn.lock
Labels: Fluent UI react-components (v9)

#31637 docs(react-swatch-picker): added SwatchPicker page to Component Mapping
  apps/public-docsite-v9/src/Concepts/Migration/FromV8/ComponentMapping.stories.mdx
Labels: Component: SwatchColorPicker

#31667 fix(scripts-beachball): ignore web-components packages from v8 release scope
  change/@fluentui-react-infobutton-bf89c268-c7d9-4643-a950-446a32a51e7e.json
  change/@fluentui-react-motions-preview-2a7ccd1a-4e03-4c37-812f-a8abe7a8fde4.json
  change/@fluentui-react-motions-preview-8fed56ea-bf79-45b6-966d-c8e1b83efc50.json
  change/@fluentui-react-motions-preview-dffb90ce-ff7d-44d5-8d92-31d75815ea2d.json
  change/@fluentui-react-motions-preview-e1a364d2-4a00-430c-b330-736eaf432fd7.json
  change/@fluentui-react-motions-preview-f7e0f94c-24bd-4fa0-bae2-886019aac40f.json
  change/@fluentui-react-search-preview-799fdb3b-d35b-4f1d-a246-2e4f524927ca.json
  change/@fluentui-react-swatch-picker-preview-827150f2-7642-4787-ad58-1bfe3bbd31ec.json
  change/@fluentui-react-tag-picker-preview-35e06389-b8ac-46fa-a9a9-c186c3c2941e.json
  change/@fluentui-react-tag-picker-preview-4dc187e5-80b6-49e0-9937-0ab7ada11736.json
  change/@fluentui-react-tag-picker-preview-7bcdff38-0f92-440f-a2e7-b36bad408a21.json
  change/@fluentui-react-tag-picker-preview-f8f44d4f-94d1-47ff-818c-80bce94db23c.json
  scripts/beachball/src/config.test.ts
  scripts/beachball/src/utils.ts
Labels: Area: Build System, Fluent UI react-components (v9), Fluent UI react (v8), web-components

#31652 feat(web-components): refactor progress bar to use ElementInternals
  change/@fluentui-web-components-6d07cdaf-1af6-4d87-9232-7dd09295ec30.json
  packages/web-components/docs/api-report.md
  packages/web-components/src/index.ts
  packages/web-components/src/progress-bar/base-progress.ts
  packages/web-components/src/progress-bar/index.ts
  packages/web-components/src/progress-bar/progress-bar.options.ts
  packages/web-components/src/progress-bar/progress-bar.spec.ts
  packages/web-components/src/progress-bar/progress-bar.stories.ts
  packages/web-components/src/progress-bar/progress-bar.styles.ts
  packages/web-components/src/progress-bar/progress-bar.template.ts
  packages/web-components/src/progress-bar/progress-bar.ts
Labels: web-components

#31653 feat: refactor anchor-button to use element internals and anchor proxy element
  change/@fluentui-web-components-08396f27-5b99-4a5e-b427-ddb0cc48e2be.json
  packages/web-components/src/anchor-button/anchor-button.definition.ts
  packages/web-components/src/anchor-button/anchor-button.options.ts
  packages/web-components/src/anchor-button/anchor-button.spec.ts
  packages/web-components/src/anchor-button/anchor-button.stories.ts
  packages/web-components/src/anchor-button/anchor-button.styles.ts
  packages/web-components/src/anchor-button/anchor-button.template.ts
  packages/web-components/src/anchor-button/anchor-button.ts
  packages/web-components/src/button/button.styles.ts
Labels: web-components

#31681 fix(react-card): improve header alignment when no description is passed
  change/@fluentui-react-card-c7cf43df-6a47-4745-9d92-9064166abdb0.json
  packages/react-components/react-card/library/src/components/CardHeader/useCardHeaderStyles.styles.ts
Labels: Component: Card

#31686 ci(.github): tweak resource-management-bot to not close issues after 180 days of inactivity
  .github/github-docs-readme.md
  .github/policies/botRules.yml
Labels: CI

#31676 feat: add link as new web component
  apps/vr-tests-web-components/src/stories/link/link.stories.tsx
  change/@fluentui-web-components-b66f6166-9635-4438-87af-8cb454ae22d1.json
  packages/web-components/docs/api-report.md
  packages/web-components/package.json
  packages/web-components/src/anchor-button/anchor-button.ts
  packages/web-components/src/index-rollup.ts
  packages/web-components/src/index.ts
  packages/web-components/src/link/define.ts
  packages/web-components/src/link/index.ts
  packages/web-components/src/link/link.bench.ts
  packages/web-components/src/link/link.definition.ts
  packages/web-components/src/link/link.options.ts
  packages/web-components/src/link/link.spec.ts
  packages/web-components/src/link/link.stories.ts
  packages/web-components/src/link/link.styles.ts
  packages/web-components/src/link/link.template.ts
  packages/web-components/src/link/link.ts
Labels: web-components

#31679 refactor(web-components): reduce code duplication in setTheme()
  change/@fluentui-web-components-0759a8fc-1fd0-40d2-889b-7fbc46b3f129.json
  packages/web-components/src/theme/set-theme.ts
Labels: web-components

#31669 Adds Spec for Review on MessageBar Web Component
  change/@fluentui-web-components-fb037eb6-b593-4533-95ce-0b621e16802a.json
  packages/web-components/src/message-bar/README.md
Labels: web-components

#31685 ci: configure e2e target properly in order to make fix affected e2e target execution on ci
  change/@fluentui-react-f5fd080f-c867-41c4-be33-6b4e115a92ce.json
  change/@fluentui-web-components-6b58d04a-1f48-4aa3-ba16-e2ea9b0201de.json
  lage.config.js
  nx.json
  packages/react/package.json
  packages/web-components/project.json
Labels: Area: Build System, Area: Performance, CI

#31693 feat: update Avatar to leverage ElementInternals for role and color states
  change/@fluentui-web-components-a05b784c-1559-4ccd-b8f2-0c5e7818fdfb.json
  packages/web-components/docs/api-report.md
  packages/web-components/src/avatar/avatar.spec.ts
  packages/web-components/src/avatar/avatar.styles.ts
  packages/web-components/src/avatar/avatar.template.ts
  packages/web-components/src/avatar/avatar.ts
Labels: web-components

#31703 fix(merge-styles): introduce `DeepPartialV2` type to avoid infinite type instantiation and make unions declaration more performant
  change/@fluentui-merge-styles-3328f941-f74b-4a07-8fc0-aca13cacd01f.json
  packages/merge-styles/etc/merge-styles.api.md
  packages/merge-styles/src/DeepPartial.ts
  packages/merge-styles/src/IRawStyle.ts
  packages/merge-styles/src/IStyle.ts
  packages/merge-styles/src/IStyleFunction.ts
  packages/merge-styles/src/IStyleOptions.ts
  packages/merge-styles/src/IStyleSet.ts
  packages/merge-styles/src/concatStyleSets.ts
  packages/merge-styles/src/concatStyleSetsWithProps.ts
  packages/merge-styles/src/index.ts
  packages/merge-styles/src/mergeStyleSets.ts
  packages/merge-styles/src/mergeStyles.ts
  packages/merge-styles/src/shadowConfig.ts
Labels: Package: merge-styles, Area: Typescript, Fluent UI react (v8)

#31702 fix(react-swatch-picker): added aria-labels and fixed popup example
  packages/react-components/react-swatch-picker/stories/src/SwatchPicker/EmptySwatch.stories.tsx
  packages/react-components/react-swatch-picker/stories/src/SwatchPicker/SwatchPickerPopup.stories.tsx
Labels: Component: SwatchColorPicker

#31596 fix(react-calendar-compat): fixed focus indicator cut off
  change/@fluentui-react-calendar-compat-f38fe669-e50e-4648-9f66-ec82e13beee3.json
  packages/react-components/react-calendar-compat/library/src/components/CalendarDayGrid/useCalendarDayGridStyles.styles.ts
Labels: Calendar Compat

#31718 feat: use custom states for button and anchor button variants
  change/@fluentui-web-components-8fa1a0aa-7dd4-4129-89c3-fe350ad0fa58.json
  packages/web-components/src/anchor-button/anchor-button.spec.ts
  packages/web-components/src/anchor-button/anchor-button.styles.ts
  packages/web-components/src/anchor-button/anchor-button.template.ts
  packages/web-components/src/anchor-button/anchor-button.ts
  packages/web-components/src/button/button.options.ts
  packages/web-components/src/button/button.styles.ts
  packages/web-components/src/button/button.ts
  packages/web-components/src/compound-button/compound-button.styles.ts
  packages/web-components/src/link/link.styles.ts
  packages/web-components/src/link/link.template.ts
  packages/web-components/src/styles/states/index.ts
  packages/web-components/src/toggle-button/toggle-button.spec.ts
  packages/web-components/src/toggle-button/toggle-button.styles.ts
  packages/web-components/src/toggle-button/toggle-button.ts
Labels: web-components

#31733 feat: update badge to use custom states
  change/@fluentui-web-components-ff673af3-b066-47c9-aea7-37e4558d7ace.json
  packages/web-components/src/badge/badge.styles.ts
  packages/web-components/src/badge/badge.ts
  packages/web-components/src/counter-badge/counter-badge.styles.ts
  packages/web-components/src/counter-badge/counter-badge.ts
  packages/web-components/src/styles/partials/badge.partials.ts
  packages/web-components/src/styles/states/index.ts
Labels: web-components

#31695 ci: tweak release commit message in order to easily determine what release did happen from git history
  azure-pipelines.release-vnext.yml
  azure-pipelines.release.web-components.yml
  azure-pipelines.release.yml
Labels: Fluent UI react-components (v9), Fluent UI react (v8), web-components, CI

#31735 feat: update divider to use custom states
  change/@fluentui-web-components-2f1071a4-73d5-47cf-b41f-aa1a853df46f.json
  packages/web-components/docs/api-report.md
  packages/web-components/src/divider/divider.spec.ts
  packages/web-components/src/divider/divider.styles.ts
  packages/web-components/src/divider/divider.ts
  packages/web-components/src/styles/states/index.ts
Labels: web-components

#31741 feat: update spinner to use Element Internals for presentational styling
  change/@fluentui-web-components-d43a8b52-e22f-4523-af8b-a42fd90a4765.json
  packages/web-components/src/spinner/spinner.spec.ts
  packages/web-components/src/spinner/spinner.styles.ts
  packages/web-components/src/spinner/spinner.ts
  packages/web-components/src/styles/states/index.ts
Labels: web-components

#31739 feat: update progress bar to use element internals custom states for visual states
  change/@fluentui-web-components-024847b6-4c7b-4e23-964d-466ce50c33a5.json
  packages/web-components/docs/api-report.md
  packages/web-components/src/progress-bar/progress-bar.spec.ts
  packages/web-components/src/progress-bar/progress-bar.styles.ts
  packages/web-components/src/progress-bar/progress-bar.ts
  packages/web-components/src/styles/states/index.ts
Labels: web-components

#31738 feat: update label to use element internals custom states for styling
  change/@fluentui-web-components-e7635a3f-6231-44e9-9ab4-bc1fdb86052c.json
  packages/web-components/docs/api-report.md
  packages/web-components/src/label/label.spec.ts
  packages/web-components/src/label/label.styles.ts
  packages/web-components/src/label/label.ts
Labels: web-components

#31737 feat: update image styles to use custom states
  change/@fluentui-web-components-89765cbd-e940-4368-8e9c-2e6a6aea5943.json
  packages/web-components/docs/api-report.md
  packages/web-components/src/image/image.spec.ts
  packages/web-components/src/image/image.styles.ts
  packages/web-components/src/image/image.ts
Labels: web-components

#31710 chore: Updating `lage` to `v1.10.0`
  package.json
  yarn.lock
Labels: Area: Build System

#31753 feat: update text input to use custom states for presentational attributes
  change/@fluentui-web-components-7791704b-b516-47f9-bc44-b1e18b45a35f.json
  packages/web-components/docs/api-report.md
  packages/web-components/src/styles/states/index.ts
  packages/web-components/src/text-input/text-input.spec.ts
  packages/web-components/src/text-input/text-input.styles.ts
  packages/web-components/src/text-input/text-input.ts
Labels: web-components

#31752 feat: update link to use element internals custom states for presentational styling
  change/@fluentui-web-components-45992585-e259-47e0-b8a2-2e3746e546f1.json
  packages/web-components/docs/api-report.md
  packages/web-components/src/anchor-button/anchor-button.ts
  packages/web-components/src/link/link.spec.ts
  packages/web-components/src/link/link.styles.ts
  packages/web-components/src/link/link.ts
Labels: web-components

#31756 feat: update checkbox to use Element Internals custom states for presentational styles
  change/@fluentui-web-components-76101ff6-e6ee-43b5-8c67-f75bd0466480.json
  packages/web-components/docs/api-report.md
  packages/web-components/src/checkbox/checkbox.spec.ts
  packages/web-components/src/checkbox/checkbox.styles.ts
  packages/web-components/src/checkbox/checkbox.ts
Labels: web-components

#31640 fix(react-checkbox): adjust indicator type to include span
  change/@fluentui-react-checkbox-0bd07ac3-68d9-4702-a438-ddb46d25af4e.json
  packages/react-components/react-checkbox/library/docs/Spec.md
  packages/react-components/react-checkbox/library/etc/react-checkbox.api.md
  packages/react-components/react-checkbox/library/src/components/Checkbox/Checkbox.types.ts
Labels: Component: Checkbox

#31772 feat: make fast-element a peer dependencies of the web-components package
  change/@fluentui-web-components-d90238f1-83eb-4e5a-8a16-3519e4a4ff90.json
  packages/web-components/package.json
Labels: web-components

#31674 refactor(web-components): refactor menu to popover
  change/@fluentui-web-components-13439a6e-ac52-4975-ab3f-2a620928a790.json
  packages/web-components/docs/api-report.md
  packages/web-components/package.json
  packages/web-components/src/menu-item/menu-item.styles.ts
  packages/web-components/src/menu-item/menu-item.template.ts
  packages/web-components/src/menu-item/menu-item.ts
  packages/web-components/src/menu-list/menu-list.spec.ts
  packages/web-components/src/menu-list/menu-list.stories.ts
  packages/web-components/src/menu-list/menu-list.ts
  packages/web-components/src/menu/menu.stories.ts
  packages/web-components/src/menu/menu.styles.ts
  packages/web-components/src/menu/menu.template.ts
  packages/web-components/src/menu/menu.ts
  packages/web-components/tensile.config.js
Labels: web-components

#31795 style(react-combobox): turn off react-compiler lints for non compliant code
  change/@fluentui-react-combobox-89568295-fe37-4606-9f66-9925449604cf.json
  packages/react-components/react-combobox/library/src/components/Listbox/useListbox.ts
Labels: Fluent UI react-components (v9), CI

#31798 fix(`merge-styles`): Correctly processing selectors when value is a class name and they are not wrapped in `selectors` wrapper
  change/@fluentui-merge-styles-80cf5b64-7950-4db5-9b45-b92cc006f2db.json
  packages/merge-styles/src/styleToClassName.ts
Labels: Package: merge-styles, Fluent UI react (v8)

#31622 chore(web-components): Remove define imports from story modules
  packages/web-components/src/accordion/accordion.stories.ts
  packages/web-components/src/anchor-button/anchor-button.stories.ts
  packages/web-components/src/avatar/avatar.stories.ts
  packages/web-components/src/badge/badge.stories.ts
  packages/web-components/src/button/button.stories.ts
  packages/web-components/src/checkbox/checkbox.stories.ts
  packages/web-components/src/compound-button/compound-button.stories.ts
  packages/web-components/src/counter-badge/counter-badge.stories.ts
  packages/web-components/src/dialog-body/dialog-body.stories.ts
  packages/web-components/src/dialog/dialog.stories.ts
  packages/web-components/src/divider/divider.stories.ts
  packages/web-components/src/image/image.stories.ts
  packages/web-components/src/label/label.stories.ts
  packages/web-components/src/link/link.stories.ts
  packages/web-components/src/menu-button/menu-button.stories.ts
  packages/web-components/src/menu-list/menu-list.stories.ts
  packages/web-components/src/menu/menu.stories.ts
  packages/web-components/src/progress-bar/progress-bar.stories.ts
  packages/web-components/src/radio-group/radio-group.stories.ts
  packages/web-components/src/radio/radio.stories.ts
  packages/web-components/src/slider/slider.stories.ts
  packages/web-components/src/spinner/spinner.stories.ts
  packages/web-components/src/switch/switch.stories.ts
  packages/web-components/src/tabs/tabs.stories.ts
  packages/web-components/src/text-input/text-input.stories.ts
  packages/web-components/src/text/text.stories.ts
  packages/web-components/src/toggle-button/toggle-button.stories.ts
Labels: web-components

#31770 feat: update text to use element internals for custom states
  change/@fluentui-web-components-891d02bb-a945-4c7a-8e7b-a89567483de0.json
  packages/web-components/docs/api-report.md
  packages/web-components/src/text/text.spec.ts
  packages/web-components/src/text/text.styles.ts
  packages/web-components/src/text/text.ts
Labels: web-components

#31746 chore: migrate to nx 18
  migrations.json
  nx.json
  package.json
  scripts/fluentui-publish/src/overrides/get-latest-git-tag.ts
  scripts/fluentui-publish/src/publish.ts
  scripts/fluentui-publish/src/utils.ts
  tools/workspace-plugin/package.json
  tools/workspace-plugin/src/generators/migrate-v8-pkg/index.ts
  tools/workspace-plugin/src/generators/print-stats.spec.ts
  yarn.lock
Labels: NX: core

#31521 Add drawer web component
  change/@fluentui-web-components-f0a2f34a-306f-475b-b230-e24dd267cab0.json
  packages/web-components/package.json
  packages/web-components/src/drawer-body/README.md
  packages/web-components/src/drawer-body/define.ts
  packages/web-components/src/drawer-body/drawer-body.definition.ts
  packages/web-components/src/drawer-body/drawer-body.styles.ts
  packages/web-components/src/drawer-body/drawer-body.template.ts
  packages/web-components/src/drawer-body/drawer-body.ts
  packages/web-components/src/drawer-body/index.ts
  packages/web-components/src/drawer/README.md
  packages/web-components/src/drawer/define.ts
  packages/web-components/src/drawer/drawer.definition.ts
  packages/web-components/src/drawer/drawer.options.ts
  packages/web-components/src/drawer/drawer.spec.ts
  packages/web-components/src/drawer/drawer.stories.ts
  packages/web-components/src/drawer/drawer.styles.ts
  packages/web-components/src/drawer/drawer.template.ts
  packages/web-components/src/drawer/drawer.ts
  packages/web-components/src/drawer/index.ts
  packages/web-components/src/index-rollup.ts
  packages/web-components/src/index.ts
Labels: web-components

#31805 Add 'allowParentArrowNavigation' prop to `ComboBox`.
  change/@fluentui-react-4c9ebee6-1e61-4e67-87f3-50ef560ab2dc.json
  packages/react/etc/react.api.md
  packages/react/src/components/ComboBox/ComboBox.tsx
  packages/react/src/components/ComboBox/ComboBox.types.ts
Labels: Component: DetailsList

#31799 fix(react-drawer): do not create global header/footer roles
  change/@fluentui-react-drawer-036ac4c0-092d-474a-aed8-6d84906978f2.json
  packages/react-components/react-drawer/library/src/components/DrawerFooter/DrawerFooter.test.tsx
  packages/react-components/react-drawer/library/src/components/DrawerFooter/useDrawerFooter.ts
  packages/react-components/react-drawer/library/src/components/DrawerHeader/DrawerHeader.test.tsx
  packages/react-components/react-drawer/library/src/components/DrawerHeader/useDrawerHeader.ts
Labels: Area: Accessibility, Component: Drawer

#31810 feat(docs-v9): increase sidebar nav item height
  apps/public-docsite-v9/.storybook/manager-head.html
Labels: Area: Documentation, Type: Documentation

#31829 docs: add native props message
  apps/public-docsite-v9/src/DocsComponents/FluentDocsPage.stories.tsx
Labels: Area: Documentation

#31625 (web-components): Create rating-display component
  change/@fluentui-web-components-57457815-4425-499a-af44-9122e4acae14.json
  packages/web-components/docs/api-report.md
  packages/web-components/package.json
  packages/web-components/src/index-rollup.ts
  packages/web-components/src/index.ts
  packages/web-components/src/rating-display/define.ts
  packages/web-components/src/rating-display/index.ts
  packages/web-components/src/rating-display/rating-display.definition.ts
  packages/web-components/src/rating-display/rating-display.options.ts
  packages/web-components/src/rating-display/rating-display.spec.ts
  packages/web-components/src/rating-display/rating-display.stories.ts
  packages/web-components/src/rating-display/rating-display.styles.ts
  packages/web-components/src/rating-display/rating-display.template.ts
  packages/web-components/src/rating-display/rating-display.ts
  packages/web-components/src/styles/states/index.ts
Labels: web-components

#31849 fix: ensure menu keydown logic allows shift+tab to navigate as expected
  change/@fluentui-web-components-d7ebd73e-6662-488f-a6c8-3715eea02229.json
  packages/web-components/src/menu/menu.ts
Labels: web-components

#31713 refactor(web-components): use adopted style sheets to set theme tokens
  change/@fluentui-web-components-22e3e36e-c30c-4866-85ad-9e28421977d6.json
  packages/web-components/.eslintrc.json
  packages/web-components/docs/api-report.md
  packages/web-components/package.json
  packages/web-components/src/theme/set-theme.bench.ts
  packages/web-components/src/theme/set-theme.stories.ts
  packages/web-components/src/theme/set-theme.ts
  yarn.lock
Labels: web-components

#31708 Adds MessageBar component to FluentUI
  change/@fluentui-web-components-6860ddb3-4e1b-4679-9c94-1dfcf4bf40ca.json
  packages/web-components/package.json
  packages/web-components/src/index-rollup.ts
  packages/web-components/src/message-bar/README.md
  packages/web-components/src/message-bar/define.ts
  packages/web-components/src/message-bar/index.ts
  packages/web-components/src/message-bar/message-bar.bench.ts
  packages/web-components/src/message-bar/message-bar.definition.ts
  packages/web-components/src/message-bar/message-bar.integration.spec.ts
  packages/web-components/src/message-bar/message-bar.options.ts
  packages/web-components/src/message-bar/message-bar.stories.ts
  packages/web-components/src/message-bar/message-bar.styles.ts
  packages/web-components/src/message-bar/message-bar.template.ts
  packages/web-components/src/message-bar/message-bar.ts
  packages/web-components/src/styles/states/index.ts
Labels: web-components

#31786 fix(react-combobox): close controlled dropdown by clicking outside
  change/@fluentui-react-combobox-78928494-4ac8-4ced-afde-0da393d7d504.json
  packages/react-components/react-combobox/library/cypress.config.ts
  packages/react-components/react-combobox/library/package.json
  packages/react-components/react-combobox/library/src/components/Combobox/Combobox.cy.tsx
  packages/react-components/react-combobox/library/src/components/Combobox/useCombobox.tsx
  packages/react-components/react-combobox/library/src/components/Dropdown/Dropdown.cy.tsx
  packages/react-components/react-combobox/library/src/components/Dropdown/useDropdown.tsx
  packages/react-components/react-combobox/library/src/testing/selectors.ts
  packages/react-components/react-combobox/library/tsconfig.cy.json
  packages/react-components/react-combobox/library/tsconfig.json
  packages/react-components/react-combobox/library/tsconfig.lib.json
  packages/react-components/react-combobox/stories/src/Combobox/ComboboxControllingOpenAndClose.stories.tsx
  packages/react-components/react-combobox/stories/src/Combobox/index.stories.tsx
  packages/react-components/react-combobox/stories/src/Dropdown/DropdownControllingOpenAndClose.stories.tsx
  packages/react-components/react-combobox/stories/src/Dropdown/index.stories.tsx
Labels: Component: Dropdown, Component: ComboBox

#31852 feat(react-combobox): Add disableAutoFocus to Combobox and Listbox for cases when the popover is open on focus
  change/@fluentui-react-combobox-80d33447-531e-488a-bd06-4aa351ec2915.json
  packages/react-components/react-combobox/library/etc/react-combobox.api.md
  packages/react-components/react-combobox/library/src/components/Combobox/useCombobox.tsx
  packages/react-components/react-combobox/library/src/components/Listbox/Listbox.types.ts
  packages/react-components/react-combobox/library/src/components/Listbox/useListbox.ts
  packages/react-components/react-combobox/library/src/utils/ComboboxBase.types.ts
  packages/react-components/react-combobox/library/src/utils/useComboboxBaseState.ts
Labels: Component: ComboBox

#31865 chore: make utils a package export
  change/@fluentui-web-components-0d6c3009-cdd8-43fb-8c57-81d2866ab734.json
  packages/web-components/package.json
Labels: web-components
