Repository microsoft/fluentui, pull requests merged in 2024-03, with the labels that each got.

#30675 fix(.github): fix typos within create-milestone shell script
  .github/workflows/create-milestone.yml
Labels: CI

#30679 fix(.github): dont apply docs/ rule codeowner on whole monorepo to create false positivie ownership
  .github/CODEOWNERS
Labels: CI

#30251 feat: replace lerna publish with nx release
  .devops/templates/tools.yml
  .github/CODEOWNERS
  .nxignore
  azure-pipelines.release-fluentui.yml
  lerna.json
  nx.json
  package.json
  packages/fluentui/CONTRIBUTING.md
  packages/fluentui/lerna.json
  packages/fluentui/package.json
  scripts/fluentui-publish/bin/northstar-release.js
  scripts/fluentui-publish/cli.js
  scripts/fluentui-publish/index.ts
  scripts/fluentui-publish/package.json
  scripts/fluentui-publish/project.json
  scripts/fluentui-publish/src/cli.ts
  scripts/fluentui-publish/src/index.ts
  scripts/fluentui-publish/src/publish.spec.ts
  scripts/fluentui-publish/src/publish.ts
  scripts/fluentui-publish/src/utils.spec.ts
  scripts/fluentui-publish/src/utils.ts
  scripts/fluentui-publish/src/version.spec.ts
  scripts/fluentui-publish/src/version.ts
  scripts/fluentui-publish/tsconfig.lib.json
  scripts/gulp/src/webpack/webpack.config.ts
  scripts/storybook/src/utils.js
  yarn.lock
Labels: Area: Build System, Fluent UI react-northstar (v0), CI

#30192 Fix 2:1 spacing in vertical bar charts with string x-axis
  change/@fluentui-react-charting-48c45b9e-f6f8-49d2-9769-359b4b095b2a.json
  packages/react-charting/etc/react-charting.api.md
  packages/react-charting/src/components/GroupedVerticalBarChart/GroupedVerticalBarChart.base.tsx
  packages/react-charting/src/components/GroupedVerticalBarChart/GroupedVerticalBarChart.types.tsx
  packages/react-charting/src/components/GroupedVerticalBarChart/__snapshots__/GroupedVerticalBarChart.test.tsx.snap
  packages/react-charting/src/components/GroupedVerticalBarChart/__snapshots__/GroupedVerticalBarChartRTL.test.tsx.snap
  packages/react-charting/src/components/VerticalBarChart/VerticalBarChart.base.tsx
  packages/react-charting/src/components/VerticalBarChart/VerticalBarChart.types.ts
  packages/react-charting/src/components/VerticalStackedBarChart/VerticalStackedBarChart.base.tsx
  packages/react-charting/src/components/VerticalStackedBarChart/VerticalStackedBarChart.types.ts
  packages/react-charting/src/components/VerticalStackedBarChart/__snapshots__/VerticalStackedBarChartRTL.test.tsx.snap
  packages/react-charting/src/utilities/utilities.ts
  packages/react-examples/src/react-charting/GroupedVerticalBarChart/GroupedVerticalBarChart.Truncated.Example.tsx
  packages/react-examples/src/react-charting/VerticalBarChart/VerticalBarChart.AxisTooltip.Example.tsx
  packages/react-examples/src/react-charting/VerticalStackedBarChart/VerticalStackedBarChart.AxisTooltip.Example.tsx
Labels: Package: charting

#29958 RFC: Motion definition & APIs
  rfcs/react-components/convergence/assets/motion-rtg-profile.png
  rfcs/react-components/convergence/assets/motion-use-motion-profile.png
  rfcs/react-components/convergence/assets/motion-waapi-profile.png
  rfcs/react-components/convergence/motion-definition-n-apis.md
Labels: Type: RFC

#30650 feat(swatch-picker): UI changes and spacing
  packages/react-components/react-swatch-picker-preview/etc/react-swatch-picker-preview.api.md
  packages/react-components/react-swatch-picker-preview/src/components/ColorSwatch/ColorSwatch.test.tsx
  packages/react-components/react-swatch-picker-preview/src/components/ColorSwatch/ColorSwatch.tsx
  packages/react-components/react-swatch-picker-preview/src/components/ColorSwatch/useColorSwatch.ts
  packages/react-components/react-swatch-picker-preview/src/components/ColorSwatch/useColorSwatchStyles.styles.ts
  packages/react-components/react-swatch-picker-preview/src/components/SwatchPicker/SwatchPicker.types.ts
  packages/react-components/react-swatch-picker-preview/src/components/SwatchPicker/useSwatchPicker.ts
  packages/react-components/react-swatch-picker-preview/stories/ColorSwatch/ColorSwatchDefault.stories.tsx
  packages/react-components/react-swatch-picker-preview/stories/SwatchPicker/SwatchPickerDefault.stories.tsx
Labels: Component: SwatchColorPicker

#29436 docs (react-swatch-picker): SPEC
  packages/react-components/react-swatch-picker-preview/docs/Spec.md
  packages/react-components/react-swatch-picker-preview/docs/assets/color-swatch.jpg
  packages/react-components/react-swatch-picker-preview/docs/assets/image-swatch.jpg
  packages/react-components/react-swatch-picker-preview/docs/assets/swatch-picker-a11y-nav.jpg
  packages/react-components/react-swatch-picker-preview/docs/assets/swatch-picker-a11y-selection.jpg
  packages/react-components/react-swatch-picker-preview/docs/assets/swatch-picker-base.jpg
  packages/react-components/react-swatch-picker-preview/docs/assets/swatch-picker-behaviors-keyboard-nav-color-sets.jpg
  packages/react-components/react-swatch-picker-preview/docs/assets/swatch-picker-behaviors-keyboard-nav-grid.jpg
  packages/react-components/react-swatch-picker-preview/docs/assets/swatch-picker-behaviors-keyboard-nav-row.jpg
  packages/react-components/react-swatch-picker-preview/docs/assets/swatch-picker-behaviors-keyboard-select.jpg
  packages/react-components/react-swatch-picker-preview/docs/assets/swatch-picker-behaviors-mouse.jpg
Labels: Component: SwatchColorPicker, Type: Spec

#30567 chore (react-spinner): Rewrite Spinner animation using only rotation transforms
  apps/vr-tests-react-components/src/stories/Spinner.stories.tsx
  change/@fluentui-react-spinner-65e1fe2a-ca72-408e-90eb-6a1ca3f6caca.json
  packages/react-components/react-spinner/etc/react-spinner.api.md
  packages/react-components/react-spinner/src/components/Spinner/DefaultSvg.tsx
  packages/react-components/react-spinner/src/components/Spinner/Spinner.types.ts
  packages/react-components/react-spinner/src/components/Spinner/renderSpinner.tsx
  packages/react-components/react-spinner/src/components/Spinner/useSpinner.tsx
  packages/react-components/react-spinner/src/components/Spinner/useSpinnerStyles.styles.ts
Labels: Component: Spinner, Area: Performance

#30706 fix: allRowsSelected is false when there are no rows
  change/@fluentui-react-table-c0bf5964-aa92-4b40-871f-d62e14165dcb.json
  packages/react-components/react-table/src/hooks/useTableSelection.test.ts
  packages/react-components/react-table/src/hooks/useTableSelection.ts
Labels: Component: Table, Component: DataGrid

#30713 docs: Adding story showing how to achieve a loading Button with customizations
  packages/react-components/react-button/stories/Button/ButtonLoading.stories.tsx
  packages/react-components/react-button/stories/Button/index.stories.tsx
Labels: Area: Documentation, Component: Button, Fluent UI react-components (v9)

#30715 fix: Use semantic colours
  change/@fluentui-react-toast-27a36992-a9ec-40c0-9e5c-b9a7538c7193.json
  packages/react-components/react-toast/src/components/ToastTitle/useToastTitleStyles.styles.ts
Labels: Component: Toast

#30707 fix(nx): properly declare target dependencies with explicit `^`
  nx.json
Labels: NX: core

#30274 RFC: Dev Docs
  rfcs/react-components/components/dev-docs.md
Labels: Type: RFC

#30704 ci(northstar): fix release pipeline issues with publish artifact tasks and add `dryRun` mode notification step
  azure-pipelines.release-fluentui.yml
Labels: CI, Fluent UI react-northstar

#30684 chore: bump all webpack related dependencies to latest
  .storybook/main.js
  package.json
  packages/fluentui/docs/src/contexts/exampleSourcesContext.ts
  packages/fluentui/docs/src/contexts/examplesContext.ts
  scripts/gulp/src/tasks/docs.ts
  scripts/gulp/src/tasks/test-dependencies/utils.ts
  scripts/webpack/src/storybook-webpack.config.js
  yarn.lock
Labels: dependencies

#30514 docs(rfcs): type-checking-perf-improvements
  rfcs/shared/build-system/08-type-checking-perf-improvements.md
Labels: Type: RFC

#30729 fix: react-tabs: Removed unnecessary zIndex from active tab indicator
  change/@fluentui-react-tabs-a844d153-94fc-48f8-9bbc-e8b518faf357.json
  packages/react-components/react-tabs/src/components/Tab/useTabStyles.styles.ts
Labels: Component: Tab

#30737 ci(northstar): dont exec npm logout to avoid failures
  azure-pipelines.release-fluentui.yml
Labels: Fluent UI react-northstar (v0), CI

#30731 fix: InfoLabel popover dismisses if the InfoButton is clicked when it is already open
  change/@fluentui-react-infolabel-9fb527c6-057b-4966-b5e2-89d75f410b93.json
  packages/react-components/react-infolabel/cypress.config.ts
  packages/react-components/react-infolabel/package.json
  packages/react-components/react-infolabel/src/components/InfoButton/useInfoButton.tsx
  packages/react-components/react-infolabel/src/components/InfoLabel/InfoLabel.cy.tsx
  packages/react-components/react-infolabel/tsconfig.cy.json
Labels: Component: InfoButton

#30683 Fix erroneous color scheming in StackedBarChart Dynamic Example
  packages/react-examples/src/react-charting/StackedBarChart/StackedBarChart.Dynamic.Example.tsx
Labels: Package: charting

#30760 chore: bump esbuild, babel deps and add babel react-native preset
  package.json
  yarn.lock
Labels: dependencies

#30768 [xplat] Implement JSX runtime for react strict dom
  apps/xplat-v9/StrictDomDemo.tsx
  apps/xplat-v9/package.json
  change/@fluentui-react-jsx-runtime-9530112d-38aa-4b64-addb-da4fea82173e.json
  change/@fluentui-react-label-075e1266-b38e-4592-957b-9361f67bf38e.json
  packages/react-components/react-jsx-runtime/package.json
  packages/react-components/react-jsx-runtime/src/utils/DevRuntime.ts
  packages/react-components/react-jsx-runtime/src/utils/Runtime.ts
  packages/react-components/react-label/package.json
  packages/react-components/react-label/src/components/Label/useLabelStyles.styles.ts
  packages/react-components/react-platform-adapter/etc/react-platform-adapter.api.md
  packages/react-components/react-platform-adapter/package.json
  packages/react-components/react-platform-adapter/src/index.ts
  packages/react-components/react-platform-adapter/src/jsx/index.ts
  packages/react-components/react-platform-adapter/src/jsx/jsxPlatformAdapter.native.ts
  packages/react-components/react-platform-adapter/src/jsx/jsxPlatformAdapter.ts
  packages/react-components/react-platform-adapter/src/jsx/types.ts
Labels: Area: Cross-Platform React

#30775 fix: Applying correct styles to icon when ToggleButton is checked and has a subtle or transparent appearance
  change/@fluentui-react-button-452be093-2c6e-402a-8a9c-52875d63bfac.json
  packages/react-components/react-button/src/components/ToggleButton/useToggleButtonStyles.styles.ts
Labels: Component: ToggleButton

#30773 Start consuming fluent provider in test app
  apps/xplat-v9/StrictDomDemo.tsx
  apps/xplat-v9/macos/Podfile.lock
  apps/xplat-v9/package.json
  change/@fluentui-react-provider-511fd237-f87b-4ac9-bd19-c845dc1518c5.json
  packages/react-components/react-platform-adapter/etc/react-platform-adapter.api.md
  packages/react-components/react-platform-adapter/package.json
  packages/react-components/react-platform-adapter/src/XPlatProvider/XPlatProvider.types.ts
  packages/react-components/react-platform-adapter/src/index.ts
  packages/react-components/react-platform-adapter/src/styling/index.ts
  packages/react-components/react-provider/etc/react-provider.api.md
  packages/react-components/react-provider/package.json
  packages/react-components/react-provider/src/components/FluentProvider/renderFluentProvider.tsx
  packages/react-components/react-provider/src/components/FluentProvider/useFluentProvider.ts
  packages/react-components/react-provider/src/components/FluentProvider/useFluentProviderStyles.styles.ts
  packages/react-components/react-provider/src/components/FluentProvider/useFluentProviderThemeStyleTag.native.ts
Labels: Area: Cross-Platform React

#30777 chore: remove Charka workarounds, bump RNTA
  apps/xplat-v9/babel.config.js
  apps/xplat-v9/index.js
  apps/xplat-v9/ios/Podfile.lock
  apps/xplat-v9/macos/Podfile.lock
  apps/xplat-v9/package.json
  packages/react-components/react-platform-adapter/package.json
  yarn.lock
Labels: Area: Cross-Platform React

#30770 feat: add .js file extension to built output + unwrap folder import/export to support native ESM within browser
  change/@fluentui-tokens-7b6f098e-f611-4292-adb9-4c0351d335cb.json
  package.json
  packages/tokens/.swcrc
  scripts/tasks/src/swc/index.ts
  scripts/tasks/src/swc/swc.ts
  scripts/tasks/src/swc/types.ts
  scripts/tasks/src/swc/utils.spec.ts
  scripts/tasks/src/swc/utils.ts
  yarn.lock
Labels: Area: Build System, Fluent UI react-components (v9)

#30776 fix: ensure package is tree-shakeable
  packages/react-components/react-platform-adapter/.eslintrc.json
  packages/react-components/react-platform-adapter/src/XPlatProvider/index.ts
  packages/react-components/react-platform-adapter/src/index.ts
  packages/react-components/react-platform-adapter/src/jsx/index.ts
  packages/react-components/react-platform-adapter/src/jsx/jsxPlatformAdapter.native.ts
  packages/react-components/react-platform-adapter/src/jsx/jsxPlatformAdapter.ts
  packages/react-components/react-platform-adapter/src/styling/index.ts
Labels: Area: Cross-Platform React

#30791 chore(xplat): Add support for nested selectors to Griffel to StyleX converter
  packages/react-components/react-platform-adapter/etc/react-platform-adapter.api.md
  packages/react-components/react-platform-adapter/src/jsx/jsxPlatformAdapter.native.ts
  packages/react-components/react-platform-adapter/src/jsx/jsxPlatformAdapter.native.tsx
  packages/react-components/react-platform-adapter/src/jsx/jsxPlatformAdapter.tsx
  packages/react-components/react-platform-adapter/src/styling/classNameMap.native.ts
  packages/react-components/react-platform-adapter/src/styling/classNameMap.ts
  packages/react-components/react-platform-adapter/src/styling/convertGriffelToStyleX.native.ts
  packages/react-components/react-platform-adapter/src/styling/makeResetStyles.native.ts
  packages/react-components/react-platform-adapter/src/styling/makeResetStyles.ts
  packages/react-components/react-platform-adapter/src/styling/makeStyles.native.ts
Labels: Area: Cross-Platform React

#30792 fix(xplat): XPlatProvider correctly formats variable names for strict dom ThemeProvider
  packages/react-components/react-platform-adapter/src/XPlatProvider/XPlatProvider.native.tsx
  packages/react-components/react-platform-adapter/src/XPlatProvider/createCustomVariablesFromTheme.ts
Labels: Area: Cross-Platform React

#30793 chore(xplat): Add xplat support to Button
  apps/xplat-v9/StrictDomDemo.tsx
  packages/react-components/react-button/package.json
  packages/react-components/react-button/src/components/Button/useButtonStyles.styles.ts
Labels: Area: Cross-Platform React

#30781 docs(react-swatch-picker): Added stories for Size, Shape and Spacing
  packages/react-components/react-swatch-picker-preview/stories/ColorSwatch/ColorSwatchDefault.stories.tsx
  packages/react-components/react-swatch-picker-preview/stories/SwatchPicker/SwatchPickerPopup.stories.tsx
  packages/react-components/react-swatch-picker-preview/stories/SwatchPicker/SwatchPickerShape.stories.tsx
  packages/react-components/react-swatch-picker-preview/stories/SwatchPicker/SwatchPickerSize.stories.tsx
  packages/react-components/react-swatch-picker-preview/stories/SwatchPicker/SwatchPickerSpacing.stories.tsx
  packages/react-components/react-swatch-picker-preview/stories/SwatchPicker/index.stories.tsx
Labels: Component: SwatchColorPicker

#30600 feat(react-swatch-picker): Added SwatchPickerRow component and rendering utils
  packages/react-components/react-swatch-picker-preview/etc/react-swatch-picker-preview.api.md
  packages/react-components/react-swatch-picker-preview/src/SwatchPickerRow.ts
  packages/react-components/react-swatch-picker-preview/src/components/ColorSwatch/ColorSwatch.test.tsx
  packages/react-components/react-swatch-picker-preview/src/components/ColorSwatch/ColorSwatch.types.ts
  packages/react-components/react-swatch-picker-preview/src/components/ColorSwatch/renderColorSwatch.tsx
  packages/react-components/react-swatch-picker-preview/src/components/ColorSwatch/useColorSwatch.ts
  packages/react-components/react-swatch-picker-preview/src/components/ColorSwatch/useColorSwatchStyles.styles.ts
  packages/react-components/react-swatch-picker-preview/src/components/SwatchPicker/SwatchPicker.test.tsx
  packages/react-components/react-swatch-picker-preview/src/components/SwatchPicker/SwatchPicker.types.ts
  packages/react-components/react-swatch-picker-preview/src/components/SwatchPicker/useSwatchPicker.ts
  packages/react-components/react-swatch-picker-preview/src/components/SwatchPicker/useSwatchPickerStyles.styles.ts
  packages/react-components/react-swatch-picker-preview/src/components/SwatchPickerRow/SwatchPickerRow.test.tsx
  packages/react-components/react-swatch-picker-preview/src/components/SwatchPickerRow/SwatchPickerRow.tsx
  packages/react-components/react-swatch-picker-preview/src/components/SwatchPickerRow/SwatchPickerRow.types.ts
  packages/react-components/react-swatch-picker-preview/src/components/SwatchPickerRow/index.ts
  packages/react-components/react-swatch-picker-preview/src/components/SwatchPickerRow/renderSwatchPickerRow.tsx
  packages/react-components/react-swatch-picker-preview/src/components/SwatchPickerRow/useSwatchPickerRow.ts
  packages/react-components/react-swatch-picker-preview/src/components/SwatchPickerRow/useSwatchPickerRowStyles.styles.ts
  packages/react-components/react-swatch-picker-preview/src/contexts/swatchPicker.ts
  packages/react-components/react-swatch-picker-preview/src/index.ts
  packages/react-components/react-swatch-picker-preview/src/utils/renderUtils.tsx
  packages/react-components/react-swatch-picker-preview/stories/SwatchPicker/SwatchPickerDefault.stories.tsx
  packages/react-components/react-swatch-picker-preview/stories/SwatchPicker/SwatchPickerLayout.stories.tsx
  packages/react-components/react-swatch-picker-preview/stories/SwatchPicker/SwatchPickerWithTooltip.stories.tsx
  packages/react-components/react-swatch-picker-preview/stories/SwatchPicker/index.stories.tsx
  packages/react-components/react-swatch-picker-preview/stories/SwatchPickerRow/SwatchPickerRowBestPractices.md
  packages/react-components/react-swatch-picker-preview/stories/SwatchPickerRow/SwatchPickerRowDefault.stories.tsx
  packages/react-components/react-swatch-picker-preview/stories/SwatchPickerRow/SwatchPickerRowDescription.md
  packages/react-components/react-swatch-picker-preview/stories/SwatchPickerRow/index.stories.tsx
Labels: Component: SwatchColorPicker

#30769 feat(react-swatch-picker): Added ImageSwatch
  packages/react-components/react-swatch-picker-preview/etc/react-swatch-picker-preview.api.md
  packages/react-components/react-swatch-picker-preview/src/ImageSwatch.ts
  packages/react-components/react-swatch-picker-preview/src/components/ImageSwatch/ImageSwatch.test.tsx
  packages/react-components/react-swatch-picker-preview/src/components/ImageSwatch/ImageSwatch.tsx
  packages/react-components/react-swatch-picker-preview/src/components/ImageSwatch/ImageSwatch.types.ts
  packages/react-components/react-swatch-picker-preview/src/components/ImageSwatch/index.ts
  packages/react-components/react-swatch-picker-preview/src/components/ImageSwatch/renderImageSwatch.tsx
  packages/react-components/react-swatch-picker-preview/src/components/ImageSwatch/useImageSwatch.ts
  packages/react-components/react-swatch-picker-preview/src/components/ImageSwatch/useImageSwatchStyles.styles.ts
  packages/react-components/react-swatch-picker-preview/src/index.ts
  packages/react-components/react-swatch-picker-preview/stories/ImageSwatch/ImageSwatchBestPractices.md
  packages/react-components/react-swatch-picker-preview/stories/ImageSwatch/ImageSwatchDefault.stories.tsx
  packages/react-components/react-swatch-picker-preview/stories/ImageSwatch/ImageSwatchDescription.md
  packages/react-components/react-swatch-picker-preview/stories/ImageSwatch/index.stories.tsx
  packages/react-components/react-swatch-picker-preview/stories/SwatchPicker/SwatchPickerImage.stories.tsx
  packages/react-components/react-swatch-picker-preview/stories/SwatchPicker/assets/img-bridge-swatch.jpg
  packages/react-components/react-swatch-picker-preview/stories/SwatchPicker/assets/img-bridge.jpg
  packages/react-components/react-swatch-picker-preview/stories/SwatchPicker/assets/img-park-swatch.jpg
  packages/react-components/react-swatch-picker-preview/stories/SwatchPicker/assets/img-park.jpg
  packages/react-components/react-swatch-picker-preview/stories/SwatchPicker/assets/img-sea-swatch.jpg
  packages/react-components/react-swatch-picker-preview/stories/SwatchPicker/assets/img-sea.jpg
  packages/react-components/react-swatch-picker-preview/stories/SwatchPicker/index.stories.tsx
Labels: Component: SwatchColorPicker

#30743 fix: DataGrid - properly resize columns in strict mode
  change/@fluentui-react-table-2d1893b4-baca-4c94-b0ec-f16c77a57861.json
  packages/react-components/react-table/src/components/DataGrid/DataGrid.cy.tsx
  packages/react-components/react-table/src/hooks/useMeasureElement.ts
Labels: Component: DataGrid

#30780 fix: DataGrid - prevent automatic sort when column resizing finishes
  change/@fluentui-react-table-e925277a-0f22-408e-b547-82d19823c883.json
  packages/react-components/react-table/src/hooks/useTableColumnResizeMouseHandler.ts
  packages/react-components/react-table/src/hooks/useTableColumnSizing.tsx
Labels: Component: DataGrid

#30626 Added unit test cases for Gauge chart
  packages/react-charting/UnitTests/GaugeChartUT.test.tsx
  packages/react-charting/docs/TestPlans/GaugeChart/UnitTests.md
Labels: Package: charting

#30674 LineChart - TimeZone issue fix
  packages/react-charting/src/components/AreaChart/AreaChartRTL.test.tsx
  packages/react-charting/src/components/AreaChart/__snapshots__/AreaChartRTL.test.tsx.snap
  packages/react-charting/src/components/LineChart/LineChartRTL.test.tsx
  packages/react-charting/src/components/LineChart/__snapshots__/LineChartRTL.test.tsx.snap
  packages/react-charting/src/utilities/TestUtility.test.tsx
Labels: Package: charting

#30742 feat(react-tag-picker): adds appearance and size props
  packages/react-components/react-tag-picker-preview/etc/react-tag-picker-preview.api.md
  packages/react-components/react-tag-picker-preview/src/components/TagPicker/TagPicker.types.ts
  packages/react-components/react-tag-picker-preview/src/components/TagPicker/__snapshots__/TagPicker.test.tsx.snap
  packages/react-components/react-tag-picker-preview/src/components/TagPicker/renderTagPicker.tsx
  packages/react-components/react-tag-picker-preview/src/components/TagPicker/useTagPicker.ts
  packages/react-components/react-tag-picker-preview/src/components/TagPicker/useTagPickerContextValues.ts
  packages/react-components/react-tag-picker-preview/src/components/TagPickerButton/TagPickerButton.types.ts
  packages/react-components/react-tag-picker-preview/src/components/TagPickerButton/__snapshots__/TagPickerButton.test.tsx.snap
  packages/react-components/react-tag-picker-preview/src/components/TagPickerButton/renderTagPickerButton.tsx
  packages/react-components/react-tag-picker-preview/src/components/TagPickerButton/useTagPickerButton.tsx
  packages/react-components/react-tag-picker-preview/src/components/TagPickerButton/useTagPickerButtonStyles.styles.ts
  packages/react-components/react-tag-picker-preview/src/components/TagPickerControl/TagPickerControl.tsx
  packages/react-components/react-tag-picker-preview/src/components/TagPickerControl/TagPickerControl.types.ts
  packages/react-components/react-tag-picker-preview/src/components/TagPickerControl/renderTagPickerControl.tsx
  packages/react-components/react-tag-picker-preview/src/components/TagPickerControl/useTagPickerControl.ts
  packages/react-components/react-tag-picker-preview/src/components/TagPickerControl/useTagPickerControlContextValues.ts
  packages/react-components/react-tag-picker-preview/src/components/TagPickerControl/useTagPickerControlStyles.styles.ts
  packages/react-components/react-tag-picker-preview/src/components/TagPickerGroup/TagPickerGroup.types.ts
  packages/react-components/react-tag-picker-preview/src/components/TagPickerGroup/useTagPickerGroup.ts
  packages/react-components/react-tag-picker-preview/src/components/TagPickerGroup/useTagPickerGroupStyles.styles.ts
  packages/react-components/react-tag-picker-preview/src/components/TagPickerInput/TagPickerInput.types.ts
  packages/react-components/react-tag-picker-preview/src/components/TagPickerInput/__snapshots__/TagPickerInput.test.tsx.snap
  packages/react-components/react-tag-picker-preview/src/components/TagPickerInput/renderTagPickerInput.tsx
  packages/react-components/react-tag-picker-preview/src/components/TagPickerInput/useTagPickerInput.tsx
  packages/react-components/react-tag-picker-preview/src/components/TagPickerInput/useTagPickerInputStyles.styles.ts
  packages/react-components/react-tag-picker-preview/src/components/TagPickerList/TagPickerList.test.tsx
  packages/react-components/react-tag-picker-preview/src/components/TagPickerList/TagPickerList.types.ts
  packages/react-components/react-tag-picker-preview/src/components/TagPickerList/__snapshots__/TagPickerList.test.tsx.snap
  packages/react-components/react-tag-picker-preview/src/components/TagPickerList/renderTagPickerList.tsx
  packages/react-components/react-tag-picker-preview/src/components/TagPickerList/useTagPickerList.ts
  packages/react-components/react-tag-picker-preview/src/contexts/TagPickerContext.ts
  packages/react-components/react-tag-picker-preview/src/contexts/TagPickerControlContext.ts
  packages/react-components/react-tag-picker-preview/src/index.ts
  packages/react-components/react-tag-picker-preview/src/utils/tagPicker2Tag.ts
  packages/react-components/react-tag-picker-preview/src/utils/useComboboxBaseState.ts
  packages/react-components/react-tag-picker-preview/src/utils/useInputTriggerSlot.ts
  packages/react-components/react-tag-picker-preview/src/utils/useTriggerSlot.ts
  packages/react-components/react-tag-picker-preview/stories/TagPicker/TagPickerAppearance.stories.tsx
  packages/react-components/react-tag-picker-preview/stories/TagPicker/TagPickerBestPractices.md
  packages/react-components/react-tag-picker-preview/stories/TagPicker/TagPickerButton.stories.tsx
  packages/react-components/react-tag-picker-preview/stories/TagPicker/TagPickerDefault.stories.tsx
  packages/react-components/react-tag-picker-preview/stories/TagPicker/TagPickerDescription.md
  packages/react-components/react-tag-picker-preview/stories/TagPicker/TagPickerFiltering.stories.tsx
  packages/react-components/react-tag-picker-preview/stories/TagPicker/TagPickerSize.stories.tsx
  packages/react-components/react-tag-picker-preview/stories/TagPicker/index.stories.tsx
Labels: Component: TagPicker, Fluent UI react-components (v9)

#30597 Fixed time zone related test cases by adding UTC time zone condition
  packages/react-charting/UnitTests/AreaChartUT.test.tsx
  packages/react-charting/UnitTests/HeatMapChartUT.test.tsx
  packages/react-charting/UnitTests/__snapshots__/AreaChartUT.test.tsx.snap
  packages/react-charting/UnitTests/__snapshots__/HeatMapChartUT.test.tsx.snap
  packages/react-charting/src/components/HeatMapChart/HeatMapChart.test.tsx
  packages/react-charting/src/components/HeatMapChart/HeatMapChartRTL.test.tsx
  packages/react-charting/src/components/VerticalBarChart/VerticalBarChartRTL.test.tsx
  packages/react-charting/src/components/VerticalStackedBarChart/VerticalStackedBarChartRTL.test.tsx
  packages/react-charting/src/utilities/UtilityUnitTests.test.ts
Labels: Package: charting

#30071 bugfix(react-menu): add system colors on hover
  change/@fluentui-react-menu-7e47016d-d354-4335-bfde-d5815e1184df.json
  packages/react-components/react-menu/src/components/MenuItem/useMenuItemStyles.styles.ts
Labels: Component: Menu

#30794 chore(TabList): Add Tab as a subcomponent of TabList in the storybook docsite
  packages/react-components/react-tabs/stories/Tabs/index.stories.tsx
Labels: Component: Tabs

#28232 fix(tooltiphost): Show V8 tooltips correctly in react 18 strict mode
  change/@fluentui-react-87d56e68-2701-4466-a51a-3ed3d7931bbe.json
  packages/react/etc/react.api.md
  packages/react/src/components/Tooltip/TooltipHost.base.tsx
Labels: Component: Tooltip, PR: API Modified

#30733 fix: Align Combobox's text baseline with other controls
  change/@fluentui-react-combobox-64f05178-7fe6-4266-9707-195d14561a0a.json
  packages/react-components/react-combobox/src/components/Combobox/useComboboxStyles.styles.ts
Labels: Component: ComboBox

#30825 chore(input): Increase hit target of input element to fill to the border
  change/@fluentui-react-input-4b4f4231-067c-4139-875c-7d32e5dd5da6.json
  packages/react-components/react-input/src/components/Input/useInputStyles.styles.ts
Labels: Component: Input

#30732 fix(field): Align horizontal Field labels with control text
  apps/vr-tests-react-components/src/stories/Field.stories.tsx
  change/@fluentui-react-field-efd4dcce-2907-45c5-9380-899c87834d57.json
  packages/react-components/react-field/src/components/Field/useFieldStyles.styles.ts
Labels: Component: Field

#30826 chore(xplat): Rename package to react-platform-adapter-preview and mark as public
  .github/CODEOWNERS
  apps/xplat-v9/StrictDomDemo.tsx
  apps/xplat-v9/package.json
  change/@fluentui-react-button-b2aa24b8-430d-4123-944d-d78549444e7b.json
  change/@fluentui-react-platform-adapter-preview-1e128f5d-e9bb-4f72-89b1-95fb134e059c.json
  packages/react-components/react-button/package.json
  packages/react-components/react-button/src/components/Button/useButtonStyles.styles.ts
  packages/react-components/react-jsx-runtime/package.json
  packages/react-components/react-jsx-runtime/src/utils/DevRuntime.ts
  packages/react-components/react-jsx-runtime/src/utils/Runtime.ts
  packages/react-components/react-label/package.json
  packages/react-components/react-label/src/components/Label/useLabelStyles.styles.ts
  packages/react-components/react-platform-adapter-preview/.babelrc.json
  packages/react-components/react-platform-adapter-preview/.eslintrc.json
  packages/react-components/react-platform-adapter-preview/.swcrc
  packages/react-components/react-platform-adapter-preview/LICENSE
  packages/react-components/react-platform-adapter-preview/README.md
  packages/react-components/react-platform-adapter-preview/config/api-extractor.json
  packages/react-components/react-platform-adapter-preview/config/tests.js
  packages/react-components/react-platform-adapter-preview/etc/react-platform-adapter-preview.api.md
  packages/react-components/react-platform-adapter-preview/jest.config.js
  packages/react-components/react-platform-adapter-preview/just.config.ts
  packages/react-components/react-platform-adapter-preview/package.json
  packages/react-components/react-platform-adapter-preview/project.json
  packages/react-components/react-platform-adapter-preview/src/XPlatProvider/XPlatProvider.native.tsx
  packages/react-components/react-platform-adapter-preview/src/XPlatProvider/XPlatProvider.tsx
  packages/react-components/react-platform-adapter-preview/src/XPlatProvider/XPlatProvider.types.ts
  packages/react-components/react-platform-adapter-preview/src/index.ts
  packages/react-components/react-platform-adapter-preview/src/jsx/jsxPlatformAdapter.native.tsx
  packages/react-components/react-platform-adapter-preview/src/jsx/jsxPlatformAdapter.tsx
  packages/react-components/react-platform-adapter-preview/src/jsx/types.ts
  packages/react-components/react-platform-adapter-preview/src/styling/classNameMap.native.ts
  packages/react-components/react-platform-adapter-preview/src/styling/classNameMap.ts
  packages/react-components/react-platform-adapter-preview/src/styling/convertGriffelToStyleX.native.ts
  packages/react-components/react-platform-adapter-preview/src/styling/makeResetStyles.native.ts
  packages/react-components/react-platform-adapter-preview/src/styling/makeResetStyles.ts
  packages/react-components/react-platform-adapter-preview/src/styling/makeStyles.native.ts
  packages/react-components/react-platform-adapter-preview/src/styling/makeStyles.ts
  packages/react-components/react-platform-adapter-preview/src/styling/mergeClasses.ts
  packages/react-components/react-platform-adapter-preview/src/styling/shorthands.ts
  packages/react-components/react-platform-adapter-preview/tsconfig.json
  packages/react-components/react-platform-adapter-preview/tsconfig.lib.json
  packages/react-components/react-platform-adapter-preview/tsconfig.spec.json
  packages/react-components/react-provider/package.json
  packages/react-components/react-provider/src/components/FluentProvider/renderFluentProvider.tsx
  packages/react-components/react-provider/src/components/FluentProvider/useFluentProvider.ts
  packages/react-components/react-provider/src/components/FluentProvider/useFluentProviderStyles.styles.ts
  tsconfig.base.all.json
  tsconfig.base.json
Labels: Area: Cross-Platform React

#30835 docs(react-swatch-pocker) Added images for CDN
  packages/fluentui/docs/src/public/images/swatch-picker/bridge-full-img.jpg
  packages/fluentui/docs/src/public/images/swatch-picker/bridge-swatch.jpg
  packages/fluentui/docs/src/public/images/swatch-picker/park-full-img.jpg
  packages/fluentui/docs/src/public/images/swatch-picker/park-swatch.jpg
  packages/fluentui/docs/src/public/images/swatch-picker/sea-full-img.jpg
  packages/fluentui/docs/src/public/images/swatch-picker/sea-swatch.jpg
Labels: Component: SwatchColorPicker

#30837 fix(xplat): Fix FluentProvider, don't render style tag on native
  packages/react-components/react-platform-adapter-preview/etc/react-platform-adapter-preview.api.md
  packages/react-components/react-platform-adapter-preview/src/index.ts
  packages/react-components/react-platform-adapter-preview/src/utilities/isReactNative.native.ts
  packages/react-components/react-platform-adapter-preview/src/utilities/isReactNative.ts
  packages/react-components/react-provider/src/components/FluentProvider/renderFluentProvider.tsx
Labels: Area: Cross-Platform React

#30832 docs: fix links in v0 migration guides
  apps/public-docsite-v9/src/Concepts/Migration/FromV0/Components/Avatar.stories.mdx
  apps/public-docsite-v9/src/Concepts/Migration/FromV0/Components/Box.stories.mdx
  apps/public-docsite-v9/src/Concepts/Migration/FromV0/Components/Button.stories.mdx
  apps/public-docsite-v9/src/Concepts/Migration/FromV0/Components/Card/Card.stories.mdx
  apps/public-docsite-v9/src/Concepts/Migration/FromV0/Components/Card/CardFooter.stories.mdx
  apps/public-docsite-v9/src/Concepts/Migration/FromV0/Components/Card/CardHeader.stories.mdx
  apps/public-docsite-v9/src/Concepts/Migration/FromV0/Components/Card/CardPreview.stories.mdx
  apps/public-docsite-v9/src/Concepts/Migration/FromV0/Components/Divider.stories.mdx
  apps/public-docsite-v9/src/Concepts/Migration/FromV0/Components/Flex.stories.mdx
  apps/public-docsite-v9/src/Concepts/Migration/FromV0/Components/FlexItem.stories.mdx
  apps/public-docsite-v9/src/Concepts/Migration/FromV0/Components/Grid.stories.mdx
  apps/public-docsite-v9/src/Concepts/Migration/FromV0/Components/Header.stories.mdx
  apps/public-docsite-v9/src/Concepts/Migration/FromV0/Components/Image.stories.mdx
  apps/public-docsite-v9/src/Concepts/Migration/FromV0/Components/ItemLayout.stories.mdx
  apps/public-docsite-v9/src/Concepts/Migration/FromV0/Components/Loader.stories.mdx
  apps/public-docsite-v9/src/Concepts/Migration/FromV0/Components/Menu.stories.mdx
  apps/public-docsite-v9/src/Concepts/Migration/FromV0/Components/Popup.stories.mdx
  apps/public-docsite-v9/src/Concepts/Migration/FromV0/Components/Segment.stories.mdx
  apps/public-docsite-v9/src/Concepts/Migration/FromV0/Components/Slider.stories.mdx
  apps/public-docsite-v9/src/Concepts/Migration/FromV0/Components/SplitButton.stories.mdx
  apps/public-docsite-v9/src/Concepts/Migration/FromV0/Components/TabList.stories.mdx
  apps/public-docsite-v9/src/Concepts/Migration/FromV0/Components/Text.stories.mdx
  apps/public-docsite-v9/src/Concepts/Migration/FromV0/Components/Toolbar.stories.mdx
  apps/public-docsite-v9/src/Concepts/Migration/FromV0/Components/Tooltip.stories.mdx
  apps/public-docsite-v9/src/Concepts/Migration/FromV0/migrate-positioning.stories.mdx
Labels: Area: Documentation

#30806 fix(codemods): Fix build errors in TypeScript 5.3.3
  change/@fluentui-codemods-65485060-b665-4208-aed8-3a814d1fb9f7.json
  packages/codemods/src/helpers/maybe.ts
  packages/codemods/src/helpers/tests/maybe.test.ts
Labels: Area: Typescript

#30807 fix(date-time-utilities): Fix build errors in TypeScript 5.3.3
  change/@fluentui-date-time-utilities-467b9fb1-00b7-47f9-ac7e-30a692a57571.json
  packages/date-time-utilities/etc/date-time-utilities.api.md
  packages/date-time-utilities/src/dateMath/dateMath.ts
Labels: Area: Typescript

#30808 fix(foundation-legacy): Fix build errors in TypeScript 5.3.3
  change/@fluentui-foundation-legacy-c6b23d62-8aa6-4679-8d5d-780d48c89a89.json
  packages/foundation-legacy/etc/foundation-legacy.api.md
  packages/foundation-legacy/src/slots.tsx
Labels: Area: Typescript

#30809 fix(react): Fix build errors in TypeScript 5.3.3
  change/@fluentui-react-b0366936-9409-4bc3-899f-35fc9f869fce.json
  packages/react/etc/react.api.md
  packages/react/src/common/shallowUntilTarget.ts
  packages/react/src/components/DocumentCard/DocumentCardActions.base.tsx
  packages/react/src/components/ExtendedPicker/BaseExtendedPicker.tsx
  packages/react/src/components/FloatingPicker/BaseFloatingPicker.tsx
  packages/react/src/components/FloatingPicker/Suggestions/SuggestionsControl.tsx
  packages/react/src/components/FloatingPicker/Suggestions/SuggestionsCore.tsx
  packages/react/src/components/SelectedItemsList/BaseSelectedItemsList.tsx
  packages/react/src/components/pickers/BasePicker.tsx
Labels: Area: Typescript

#30810 fix(react-calendar-compat): Fix build errors in TypeScript 5.3.3
  change/@fluentui-react-calendar-compat-7bc02258-da6a-402e-a98a-a46856c95a7f.json
  packages/react-components/react-calendar-compat/etc/react-calendar-compat.api.md
  packages/react-components/react-calendar-compat/src/utils/dateMath/dateMath.ts
Labels: Area: Typescript

#30811 fix(react-charting): Fix build errors in TypeScript 5.3.3
  change/@fluentui-react-charting-719b158e-4752-45fd-991d-4e700d135f10.json
  packages/react-charting/src/components/LineChart/LineChart.base.tsx
Labels: Area: Typescript

#30813 fix(react-hooks): Fix build errors in TypeScript 5.3.3
  change/@fluentui-react-hooks-be63a270-b68d-4c87-8135-7c4669d8692a.json
  packages/react-hooks/etc/react-hooks.api.md
  packages/react-hooks/src/useWarnings.ts
Labels: Area: Typescript

#30814 fix(utilities): Fix build errors in TypeScript 5.3.3
  change/@fluentui-utilities-3f76d04b-9a66-4bd7-a661-6d75e04f2628.json
  packages/utilities/etc/utilities.api.md
  packages/utilities/src/BaseComponent.ts
  packages/utilities/src/asAsync.tsx
  packages/utilities/src/componentAs/composeComponentAs.tsx
  packages/utilities/src/warn/warnConditionallyRequiredProps.ts
  packages/utilities/src/warn/warnDeprecations.ts
Labels: Area: Typescript

#30817 fix(react-northstar, react-bindings, react-builder): Fix build errors in TypeScript 5.3.3
  packages/fluentui/react-bindings/src/compose/consts.ts
  packages/fluentui/react-bindings/src/compose/mergeComposeOptions.ts
  packages/fluentui/react-bindings/src/compose/mergeProps.ts
  packages/fluentui/react-bindings/src/compose/mergeSlotProp.ts
  packages/fluentui/react-bindings/src/compose/resolveSlotProps.ts
  packages/fluentui/react-bindings/src/hooks/useAccessibility.ts
  packages/fluentui/react-bindings/test/compose/useCompose-test.tsx
  packages/fluentui/react-builder/src/components/Builder.tsx
  packages/fluentui/react-builder/src/components/CanvasWindow.tsx
  packages/fluentui/react-builder/src/components/ComponentPropertiesPanel.tsx
  packages/fluentui/react-builder/src/components/Knobs.tsx
  packages/fluentui/react-northstar/src/components/Avatar/AvatarStatus.tsx
  packages/fluentui/react-northstar/src/components/Design/Design.tsx
  packages/fluentui/react-northstar/src/components/Menu/Menu.tsx
  packages/fluentui/react-northstar/src/types.ts
  packages/fluentui/react-northstar/src/utils/date-time-utilities/dateMath/dateMath.ts
  packages/fluentui/react-northstar/test/specs/components/Dropdown/Dropdown-test.tsx
  packages/fluentui/react-northstar/test/specs/components/SplitButton/SplitButton-test.tsx
  packages/fluentui/state/src/createManager.ts
Labels: Area: Typescript

#30841 Added foreach loop for similar test cases
  packages/react-charting/src/components/AreaChart/AreaChartRTL.test.tsx
  packages/react-charting/src/components/AreaChart/__snapshots__/AreaChartRTL.test.tsx.snap
  packages/react-charting/src/components/LineChart/LineChartRTL.test.tsx
  packages/react-charting/src/components/LineChart/__snapshots__/LineChartRTL.test.tsx.snap
Labels: Area: Build System, Component: Pivot, Component: Pickers, Component: Button, Component: Checkbox, Component: Toggle, Component: Slider, Package: charting, Area: Website, Component: Link, Package: experiments, Area: Icons, Package: date-time, Package: styling, PR: API Modified, Package: react-monaco-editor, web-components, Component: Avatar, Fluent UI react-northstar

#30843 feat(react-swatch-picker): Added icon, disabled state and initials
  packages/react-components/react-swatch-picker-preview/etc/react-swatch-picker-preview.api.md
  packages/react-components/react-swatch-picker-preview/package.json
  packages/react-components/react-swatch-picker-preview/src/components/ColorSwatch/ColorSwatch.test.tsx
  packages/react-components/react-swatch-picker-preview/src/components/ColorSwatch/ColorSwatch.types.ts
  packages/react-components/react-swatch-picker-preview/src/components/ColorSwatch/renderColorSwatch.tsx
  packages/react-components/react-swatch-picker-preview/src/components/ColorSwatch/useColorSwatch.tsx
  packages/react-components/react-swatch-picker-preview/src/components/ColorSwatch/useColorSwatchStyles.styles.ts
  packages/react-components/react-swatch-picker-preview/src/components/ImageSwatch/ImageSwatch.test.tsx
  packages/react-components/react-swatch-picker-preview/src/components/ImageSwatch/useImageSwatch.ts
  packages/react-components/react-swatch-picker-preview/src/components/ImageSwatch/useImageSwatchStyles.styles.ts
  packages/react-components/react-swatch-picker-preview/src/components/SwatchPickerRow/SwatchPickerRow.tsx
  packages/react-components/react-swatch-picker-preview/src/components/SwatchPickerRow/renderSwatchPickerRow.tsx
  packages/react-components/react-swatch-picker-preview/src/components/SwatchPickerRow/useSwatchPickerRow.ts
  packages/react-components/react-swatch-picker-preview/src/index.ts
  packages/react-components/react-swatch-picker-preview/src/utils/renderUtils.tsx
  packages/react-components/react-swatch-picker-preview/stories/ColorSwatch/ColorSwatchDefault.stories.tsx
  packages/react-components/react-swatch-picker-preview/stories/ImageSwatch/ImageSwatchDefault.stories.tsx
  packages/react-components/react-swatch-picker-preview/stories/SwatchPicker/SwatchPickerDefault.stories.tsx
  packages/react-components/react-swatch-picker-preview/stories/SwatchPicker/SwatchPickerImage.stories.tsx
  packages/react-components/react-swatch-picker-preview/stories/SwatchPicker/SwatchPickerLayout.stories.tsx
  packages/react-components/react-swatch-picker-preview/stories/SwatchPicker/SwatchPickerSize.stories.tsx
  packages/react-components/react-swatch-picker-preview/stories/SwatchPicker/SwatchPickerSpacing.stories.tsx
  packages/react-components/react-swatch-picker-preview/stories/SwatchPicker/assets/img-bridge-swatch.jpg
  packages/react-components/react-swatch-picker-preview/stories/SwatchPicker/assets/img-bridge.jpg
  packages/react-components/react-swatch-picker-preview/stories/SwatchPicker/assets/img-park-swatch.jpg
  packages/react-components/react-swatch-picker-preview/stories/SwatchPicker/assets/img-park.jpg
  packages/react-components/react-swatch-picker-preview/stories/SwatchPicker/assets/img-sea-swatch.jpg
  packages/react-components/react-swatch-picker-preview/stories/SwatchPicker/assets/img-sea.jpg
  packages/react-components/react-swatch-picker-preview/stories/SwatchPickerRow/SwatchPickerRowBestPractices.md
  packages/react-components/react-swatch-picker-preview/stories/SwatchPickerRow/SwatchPickerRowDefault.stories.tsx
  packages/react-components/react-swatch-picker-preview/stories/SwatchPickerRow/SwatchPickerRowDescription.md
  packages/react-components/react-swatch-picker-preview/stories/SwatchPickerRow/index.stories.tsx
Labels: Component: SwatchColorPicker

#30816 chore: make storybook 6 work with TypeScript 5.3.3
  package.json
  yarn.lock
Labels: Area: Typescript

#30812 fix(react-experiments): Fix build errors in TypeScript 5.3.3
  change/@fluentui-react-experiments-8f55aad9-faab-465e-b18d-2aef0e760a72.json
  packages/react-experiments/src/components/FloatingSuggestions/FloatingSuggestions.tsx
  packages/react-experiments/src/components/FloatingSuggestions/Suggestions/SuggestionsControl.tsx
  packages/react-experiments/src/components/FloatingSuggestions/Suggestions/SuggestionsCore.tsx
  packages/react-experiments/src/components/PersonaCoin/PersonaCoin.view.tsx
Labels: Area: Typescript

#30845 Revert "fix: Input should start with undefined, same as textarea"
  change/@fluentui-react-input-459f0da7-7e7d-4673-b9d6-e81e93766f2c.json
  packages/react-components/react-input/src/components/Input/Input.test.tsx
  packages/react-components/react-input/src/components/Input/useInput.ts
Labels: Priority 1: High, Partner Ask

#30861 test(react-swatch-picker): Added cy tests
  packages/react-components/react-swatch-picker-preview/cypress.config.ts
  packages/react-components/react-swatch-picker-preview/package.json
  packages/react-components/react-swatch-picker-preview/src/components/SwatchPicker/SwatchPicker.cy.tsx
  packages/react-components/react-swatch-picker-preview/tsconfig.cy.json
  packages/react-components/react-swatch-picker-preview/tsconfig.json
  packages/react-components/react-swatch-picker-preview/tsconfig.lib.json
Labels: Component: SwatchColorPicker

#30877 docs(react-swatch-picker): Added README.md
  packages/react-components/react-swatch-picker-preview/README.md
Labels: Component: SwatchColorPicker

#30878 docs(react-swatch-picker): Added MIGRATION.md
  packages/react-components/react-swatch-picker-preview/docs/MIGRATION.md
  packages/react-components/react-swatch-picker-preview/docs/Spec.md
Labels: Component: SwatchColorPicker

#30881 feat: release react-swatch-picker to unstable
  apps/public-docsite-v9/package.json
  change/@fluentui-react-swatch-picker-preview-c626e7e2-4c7e-44de-bb64-55502d6edff3.json
  packages/react-components/react-swatch-picker-preview/package.json
Labels: Component: SwatchColorPicker

#30876 fix(deps): fix dependencies post merge commit
  apps/xplat-v9/README.md
  packages/react-components/babel-preset-global-context/package.json
  packages/react-components/react-platform-adapter-preview/package.json
  yarn.lock
Labels: Area: Cross-Platform React

#30872 chore(xplat): Update canUseDOM to be aware of ReactNative
  change/@fluentui-react-accordion-60736783-aa50-492f-a93b-5557fbeebfba.json
  change/@fluentui-react-utilities-73497b94-9cd3-45c2-a951-45082c5596cd.json
  packages/react-components/react-platform-adapter-preview/package.json
  packages/react-components/react-platform-adapter-preview/src/index.ts
  packages/react-components/react-provider/src/components/FluentProvider/renderFluentProvider.tsx
  packages/react-components/react-utilities/package.json
  packages/react-components/react-utilities/src/ssr/canUseDOM.ts
Labels: Area: Cross-Platform React

#30890 chore(xplat readme): fix missing link
  apps/xplat-v9/README.md
Labels: Area: Cross-Platform React

#30868 feat(react-swatch-picker): changed API of renderingUtils
  change/@fluentui-react-swatch-picker-preview-c9f57e04-6124-4189-b3d8-1b7ce90f839d.json
  packages/react-components/react-swatch-picker-preview/etc/react-swatch-picker-preview.api.md
  packages/react-components/react-swatch-picker-preview/src/components/ColorSwatch/ColorSwatch.tsx
  packages/react-components/react-swatch-picker-preview/src/components/ColorSwatch/useColorSwatch.tsx
  packages/react-components/react-swatch-picker-preview/src/components/ImageSwatch/ImageSwatch.tsx
  packages/react-components/react-swatch-picker-preview/src/components/ImageSwatch/useImageSwatch.ts
  packages/react-components/react-swatch-picker-preview/src/components/SwatchPicker/SwatchPicker.cy.tsx
  packages/react-components/react-swatch-picker-preview/src/components/SwatchPicker/SwatchPicker.types.ts
  packages/react-components/react-swatch-picker-preview/src/components/SwatchPicker/useSwatchPicker.ts
  packages/react-components/react-swatch-picker-preview/src/components/SwatchPicker/useSwatchPickerStyles.styles.ts
  packages/react-components/react-swatch-picker-preview/src/contexts/swatchPicker.ts
  packages/react-components/react-swatch-picker-preview/src/index.ts
  packages/react-components/react-swatch-picker-preview/src/utils/renderUtils.tsx
  packages/react-components/react-swatch-picker-preview/stories/SwatchPicker/SwatchPickerDefault.stories.tsx
  packages/react-components/react-swatch-picker-preview/stories/SwatchPicker/SwatchPickerDescription.md
  packages/react-components/react-swatch-picker-preview/stories/SwatchPicker/SwatchPickerLayout.stories.tsx
  packages/react-components/react-swatch-picker-preview/stories/SwatchPicker/SwatchPickerPopup.stories.tsx
  packages/react-components/react-swatch-picker-preview/stories/SwatchPicker/SwatchPickerShape.stories.tsx
  packages/react-components/react-swatch-picker-preview/stories/SwatchPicker/SwatchPickerSpacing.stories.tsx
  packages/react-components/react-swatch-picker-preview/stories/SwatchPicker/SwatchPickerWithTooltip.stories.tsx
Labels: Component: SwatchColorPicker

#30887 test(react-swatch-picker): added vr tests
  apps/vr-tests-react-components/package.json
  apps/vr-tests-react-components/src/stories/SwatchPicker/SwatchPicker.stories.tsx
  apps/vr-tests-react-components/src/stories/SwatchPicker/utils.tsx
Labels: Component: SwatchColorPicker

#30891 chore(swatch-picker): add bundle size configuration
  change/@fluentui-react-swatch-picker-preview-6cb1ebfe-d839-4335-adb5-483fc5a0ed27.json
  packages/react-components/react-swatch-picker-preview/bundle-size/index.fixture.js
  packages/react-components/react-swatch-picker-preview/package.json
Labels: Component: SwatchColorPicker
