Repository microsoft/fluentui, pull requests merged in 2024-04, with the labels that each got.

#30717 feat: DataGrid - add option to allow columns overflowing the container
  change/@fluentui-react-table-c846451b-e060-48dc-abf0-5ae8ee7f5bf4.json
  packages/react-components/react-table/etc/react-table.api.md
  packages/react-components/react-table/src/components/DataGrid/DataGrid.types.ts
  packages/react-components/react-table/src/components/DataGrid/useDataGrid.ts
  packages/react-components/react-table/src/hooks/types.ts
  packages/react-components/react-table/src/hooks/useTableColumnResizeState.test.ts
  packages/react-components/react-table/src/hooks/useTableColumnResizeState.ts
  packages/react-components/react-table/src/hooks/useTableColumnSizing.tsx
  packages/react-components/react-table/stories/DataGrid/ResizableColumnsDisableAutoFit.stories.tsx
  packages/react-components/react-table/stories/DataGrid/index.stories.tsx
  packages/react-components/react-table/stories/Table/ResizableColumnsDisableAutoFit.stories.tsx
  packages/react-components/react-table/stories/Table/index.stories.tsx
Labels: Component: DataGrid

#30939 docs(react-swatch-picker): moved docs to one page
  packages/react-components/react-swatch-picker-preview/stories/ColorSwatch/ColorSwatchBestPractices.md
  packages/react-components/react-swatch-picker-preview/stories/ColorSwatch/ColorSwatchDescription.md
  packages/react-components/react-swatch-picker-preview/stories/ColorSwatch/index.stories.tsx
  packages/react-components/react-swatch-picker-preview/stories/ImageSwatch/ImageSwatchBestPractices.md
  packages/react-components/react-swatch-picker-preview/stories/ImageSwatch/ImageSwatchDefault.stories.tsx
  packages/react-components/react-swatch-picker-preview/stories/ImageSwatch/ImageSwatchDescription.md
  packages/react-components/react-swatch-picker-preview/stories/ImageSwatch/index.stories.tsx
  packages/react-components/react-swatch-picker-preview/stories/SwatchPicker/ColorSwatchVariants.stories.tsx
  packages/react-components/react-swatch-picker-preview/stories/SwatchPicker/index.stories.tsx
Labels: Component: SwatchColorPicker

#30970 Fix colors for high contrast mode in chart hover card
  change/@fluentui-react-charting-d62e0aee-98a2-4b2f-88e2-4913bde0b1c7.json
  packages/react-charting/src/components/DonutChart/__snapshots__/DonutChart.test.tsx.snap
  packages/react-charting/src/components/DonutChart/__snapshots__/DonutChartRTL.test.tsx.snap
  packages/react-charting/src/components/GroupedVerticalBarChart/__snapshots__/GroupedVerticalBarChart.test.tsx.snap
  packages/react-charting/src/components/GroupedVerticalBarChart/__snapshots__/GroupedVerticalBarChartRTL.test.tsx.snap
  packages/react-charting/src/components/HorizontalBarChart/__snapshots__/HorizontalBarChart.test.tsx.snap
  packages/react-charting/src/components/StackedBarChart/__snapshots__/MultiStackedBarChart.test.tsx.snap
  packages/react-charting/src/components/StackedBarChart/__snapshots__/StackedBarChart.test.tsx.snap
  packages/react-charting/src/utilities/ChartHoverCard/ChartHoverCard.styles.ts
Labels: Package: charting

#30977 feat(xplat-v9): adding a webapp to test the code, and cleanups
  apps/xplat-v9/App.tsx
  apps/xplat-v9/README.md
  apps/xplat-v9/stories/Button/ButtonStories.tsx
  apps/xplat-v9/web/.eslintrc.cjs
  apps/xplat-v9/web/.gitignore
  apps/xplat-v9/web/README.md
  apps/xplat-v9/web/index.html
  apps/xplat-v9/web/package.json
  apps/xplat-v9/web/public/vite.svg
  apps/xplat-v9/web/src/App.css
  apps/xplat-v9/web/src/App.tsx
  apps/xplat-v9/web/src/assets/react.svg
  apps/xplat-v9/web/src/index.css
  apps/xplat-v9/web/src/main.tsx
  apps/xplat-v9/web/src/vite-env.d.ts
  apps/xplat-v9/web/tsconfig.json
  apps/xplat-v9/web/tsconfig.node.json
  apps/xplat-v9/web/vite.config.ts
  apps/xplat-v9/web/yarn.lock
Labels: Area: Cross-Platform React

#30994 feat(workspace-plugin): scaffold `split-library-in-two` generator
  tools/workspace-plugin/generators.json
  tools/workspace-plugin/src/generators/split-library-in-two/files/src/index.ts.template
  tools/workspace-plugin/src/generators/split-library-in-two/generator.spec.ts
  tools/workspace-plugin/src/generators/split-library-in-two/generator.ts
  tools/workspace-plugin/src/generators/split-library-in-two/schema.d.ts
  tools/workspace-plugin/src/generators/split-library-in-two/schema.json
Labels: NX: workspace generators

#31018 fix(eslint-plugin): ignore bundle-size package directory
  change/@fluentui-eslint-plugin-86be988e-5fbf-4544-90e8-7712e918b0cb.json
  packages/eslint-plugin/src/configs/core.js
Labels: Package: eslint-plugin

#30993 feat(eslint-plugin): add triple-slash-reference rule to ban TS '///' within source code
  change/@fluentui-eslint-plugin-ee7a918a-238e-45f3-8a6b-18eb7ca7e02b.json
  packages/cra-template/.eslintrc.json
  packages/eslint-plugin/src/configs/base.js
  packages/react-components/react-tag-picker-preview/src/components/TagPicker/TagPicker.cy.tsx
Labels: Fluent UI react-components (v9), Package: eslint-plugin, Area: Linting

#31005 fix(react-drawer): remove circular dependency from cypress test files
  packages/react-components/react-drawer/src/e2e/DrawerShared.tsx
  scripts/beachball/base.config.json
  scripts/beachball/config.test.ts
Labels: Fluent UI react-components (v9)

#30990 perf(scripts-task): turn off path aliases within generate-api task, make isUsingPathAliasesForDx lazy => improve d.ts generation speed by ~60%
  change/@fluentui-react-field-b0fef346-1748-4494-95c1-40003abf4b2f.json
  packages/react-components/react-field/etc/react-field.api.md
  scripts/tasks/src/generate-api.ts
  scripts/tasks/src/ts.ts
  scripts/tasks/src/utils.ts
Labels: Area: Typescript, Fluent UI react-components (v9), CI

#31014 fix(react-swatch-picker): colors in HC mode
  change/@fluentui-react-swatch-picker-preview-ae04a87f-6422-40c9-82d0-5358e1a91c56.json
  packages/react-components/react-swatch-picker-preview/README.md
  packages/react-components/react-swatch-picker-preview/src/components/ColorSwatch/useColorSwatchStyles.styles.ts
  packages/react-components/react-swatch-picker-preview/src/components/ImageSwatch/useImageSwatchStyles.styles.ts
Labels: Component: SwatchColorPicker

#31029 test(react-swatch-picker): vr tests for grid layout and empty swatch
  apps/vr-tests-react-components/src/stories/SwatchPicker/SwatchPicker.stories.tsx
  apps/vr-tests-react-components/src/stories/SwatchPicker/utils.tsx
Labels: Component: SwatchColorPicker

#31008 feat(scripts-*): speed up all `isConverged`, `getAllPackageInfo` calls/usage by ~95%
  scripts/beachball/utils.ts
  scripts/executors/runPublished.js
  scripts/executors/runPublished.spec.ts
  scripts/executors/tag-react-components.ts
  scripts/generators/create-package/index.ts
  scripts/monorepo/src/getAllPackageInfo.js
  scripts/monorepo/src/getAllPackageInfo.spec.ts
  scripts/monorepo/src/index.d.ts
  scripts/monorepo/src/isConvergedPackage.js
  scripts/monorepo/src/isConvergedPackage.spec.ts
  scripts/monorepo/src/types.ts
  scripts/monorepo/src/utils.js
  scripts/tasks/src/babel.ts
  scripts/tasks/src/copy.ts
  scripts/tasks/src/metadata-utils.spec.ts
  scripts/tasks/src/metadata-utils.ts
  scripts/tasks/src/presets.ts
  scripts/tasks/src/sass.ts
Labels: Fluent UI react-components (v9), Fluent UI react (v8), CI

#31036 feat(react-tag-picker): `TagPickerInput` input positioning
  change/@fluentui-react-tag-picker-preview-eedaf17a-87ce-42a2-99a0-73612124120c.json
  packages/react-components/react-tag-picker-preview/src/components/TagPicker/useTagPicker.ts
  packages/react-components/react-tag-picker-preview/src/components/TagPickerButton/useTagPickerButton.tsx
  packages/react-components/react-tag-picker-preview/src/components/TagPickerInput/useTagPickerInput.tsx
  packages/react-components/react-tag-picker-preview/src/components/TagPickerInput/useTagPickerInputStyles.styles.ts
  packages/react-components/react-tag-picker-preview/src/components/TagPickerList/useTagPickerList.ts
  packages/react-components/react-tag-picker-preview/src/contexts/TagPickerContext.ts
  packages/react-components/react-tag-picker-preview/src/utils/tokens.ts
Labels: Component: TagPicker, Fluent UI react-components (v9)

#31052 docs(react-swatch-picker): storybook fixes
  packages/react-components/react-swatch-picker-preview/stories/SwatchPicker/ColorSwatchVariants.stories.tsx
  packages/react-components/react-swatch-picker-preview/stories/SwatchPicker/EmptySwatch.stories.tsx
  packages/react-components/react-swatch-picker-preview/stories/SwatchPicker/SwatchPickerDefault.stories.tsx
  packages/react-components/react-swatch-picker-preview/stories/SwatchPicker/SwatchPickerImage.stories.tsx
  packages/react-components/react-swatch-picker-preview/stories/SwatchPicker/SwatchPickerLayout.stories.tsx
  packages/react-components/react-swatch-picker-preview/stories/SwatchPicker/SwatchPickerPopup.stories.tsx
  packages/react-components/react-swatch-picker-preview/stories/SwatchPicker/SwatchPickerShape.stories.tsx
  packages/react-components/react-swatch-picker-preview/stories/SwatchPicker/SwatchPickerSize.stories.tsx
  packages/react-components/react-swatch-picker-preview/stories/SwatchPicker/SwatchPickerSpacing.stories.tsx
  packages/react-components/react-swatch-picker-preview/stories/SwatchPicker/SwatchPickerWithTooltip.stories.tsx
Labels: Component: SwatchColorPicker

#31038 chore(react-combobox): fix `useListBoxSlot` signature to accept more `triggerRef` types
  change/@fluentui-react-combobox-c40b9f22-b188-48c8-80fb-706f1472d62d.json
  packages/react-components/react-combobox/src/utils/useListboxSlot.ts
Labels: Component: ComboBox, Fluent UI react-components (v9)

#31083 test(react-swatch-picker): added tests for render utils
  packages/react-components/react-swatch-picker-preview/src/utils/__snapshots__/renderUtils.test.tsx.snap
  packages/react-components/react-swatch-picker-preview/src/utils/renderUtils.test.tsx
Labels: Component: SwatchColorPicker

#31081 perf-app: added SwatchPicker scenario
  apps/perf-test-react-components/package.json
  apps/perf-test-react-components/src/scenarios/SwatchPicker.tsx
Labels: Component: SwatchColorPicker

#31060 fix(react-swatch-picker): a11y attrs for ImageSwatch
  change/@fluentui-react-swatch-picker-preview-bb66e7cf-9864-4f2b-b12c-c1b9460b67e7.json
  packages/react-components/react-swatch-picker-preview/src/components/ColorSwatch/ColorSwatch.test.tsx
  packages/react-components/react-swatch-picker-preview/src/components/ImageSwatch/ImageSwatch.test.tsx
  packages/react-components/react-swatch-picker-preview/src/components/ImageSwatch/useImageSwatch.ts
  packages/react-components/react-swatch-picker-preview/src/components/SwatchPicker/SwatchPicker.test.tsx
  packages/react-components/react-swatch-picker-preview/src/utils/__snapshots__/renderUtils.test.tsx.snap
Labels: Component: SwatchColorPicker

#30952 Fix wrong screen reader output for Sparkline Chart example
  change/@fluentui-react-charting-61811db0-2341-482a-90db-5d55391aa75e.json
  packages/react-charting/src/components/Sparkline/Sparkline.base.tsx
  packages/react-charting/src/components/Sparkline/__snapshots__/Sparkline.test.tsx.snap
  packages/react-charting/src/components/Sparkline/__snapshots__/SparklineRTL.test.tsx.snap
Labels: Package: charting, Needs: Attention

#31100 fix(scripts-tasks): don't run swc:compile task twice
  scripts/tasks/src/api-extractor.ts
  scripts/tasks/src/presets.ts
Labels: Area: Build System, Type: Regression 🌩🌩, Fluent UI react-components (v9), Fluent UI react (v8)

#31099 feat: Implement MenuItemSwitch component
  apps/vr-tests-react-components/src/stories/Menu/Menu.stories.tsx
  change/@fluentui-react-components-b35f5506-7706-4e85-b444-a373fd9d812d.json
  change/@fluentui-react-menu-d89aee33-5541-48ab-b055-2c6440f7f171.json
  change/@fluentui-react-provider-57f30e56-f54f-4db8-b68d-b3186c4e9203.json
  change/@fluentui-react-shared-contexts-709c99fe-3920-4b3b-9ee8-d604984c0fe5.json
  packages/react-components/react-components/etc/react-components.api.md
  packages/react-components/react-components/src/index.ts
  packages/react-components/react-menu/etc/react-menu.api.md
  packages/react-components/react-menu/src/MenuItemSwitch.ts
  packages/react-components/react-menu/src/components/MenuItemSwitch/MenuItemSwitch.test.tsx
  packages/react-components/react-menu/src/components/MenuItemSwitch/MenuItemSwitch.tsx
  packages/react-components/react-menu/src/components/MenuItemSwitch/MenuItemSwitch.types.ts
  packages/react-components/react-menu/src/components/MenuItemSwitch/__snapshots__/MenuItemSwitch.test.tsx.snap
  packages/react-components/react-menu/src/components/MenuItemSwitch/index.ts
  packages/react-components/react-menu/src/components/MenuItemSwitch/renderMenuItemSwitch.tsx
  packages/react-components/react-menu/src/components/MenuItemSwitch/useMenuItemSwitch.tsx
  packages/react-components/react-menu/src/components/MenuItemSwitch/useMenuItemSwitchStyles.styles.ts
  packages/react-components/react-menu/src/index.ts
  packages/react-components/react-menu/stories/Menu/MenuSwitchItem.stories.tsx
  packages/react-components/react-menu/stories/Menu/index.stories.tsx
  packages/react-components/react-provider/etc/react-provider.api.md
  packages/react-components/react-shared-contexts/etc/react-shared-contexts.api.md
  packages/react-components/react-shared-contexts/src/CustomStyleHooksContext/CustomStyleHooksContext.ts
Labels: Component: Menu

#31111 chore: deprecate width prop in Skeleton
  change/@fluentui-react-skeleton-cbec776a-75c8-4212-8ea9-d9c565cf775e.json
  packages/react-components/react-skeleton/src/components/Skeleton/Skeleton.types.ts
Labels: Component: Skeleton

#31088 feat: unify v9 babel preset in all packages
  change/@fluentui-react-provider-3d9b4f67-b650-4c9b-abbe-e3b734dd0f84.json
  packages/react-components/react-provider/.babelrc.json
  scripts/babel/preset-v9.js
  scripts/babel/preset-v9.spec.ts
Labels: Area: Build System, Area: JS Styling, Fluent UI react-components (v9)

#31097 fix(react-swatch-picker): fixes after bug bash
  apps/vr-tests-react-components/src/stories/SwatchPicker/SwatchPicker.stories.tsx
  change/@fluentui-react-swatch-picker-preview-6246310c-e802-4b75-a4dd-6aa211c022b9.json
  packages/react-components/react-swatch-picker-preview/etc/react-swatch-picker-preview.api.md
  packages/react-components/react-swatch-picker-preview/src/components/ColorSwatch/useColorSwatchStyles.styles.ts
  packages/react-components/react-swatch-picker-preview/src/components/EmptySwatch/EmptySwatch.test.tsx
  packages/react-components/react-swatch-picker-preview/src/components/EmptySwatch/useEmptySwatch.ts
  packages/react-components/react-swatch-picker-preview/src/components/EmptySwatch/useEmptySwatchStyles.styles.ts
  packages/react-components/react-swatch-picker-preview/src/components/ImageSwatch/useImageSwatchStyles.styles.ts
  packages/react-components/react-swatch-picker-preview/src/components/SwatchPicker/SwatchPicker.test.tsx
  packages/react-components/react-swatch-picker-preview/src/components/SwatchPicker/SwatchPicker.types.ts
  packages/react-components/react-swatch-picker-preview/src/components/SwatchPicker/useSwatchPicker.ts
  packages/react-components/react-swatch-picker-preview/src/components/SwatchPicker/useSwatchPickerStyles.styles.ts
  packages/react-components/react-swatch-picker-preview/src/components/SwatchPickerRow/SwatchPickerRow.test.tsx
  packages/react-components/react-swatch-picker-preview/src/components/SwatchPickerRow/SwatchPickerRow.types.ts
  packages/react-components/react-swatch-picker-preview/src/components/SwatchPickerRow/useSwatchPickerRow.ts
  packages/react-components/react-swatch-picker-preview/src/components/SwatchPickerRow/useSwatchPickerRowStyles.styles.ts
  packages/react-components/react-swatch-picker-preview/src/contexts/swatchPicker.ts
  packages/react-components/react-swatch-picker-preview/src/index.ts
  packages/react-components/react-swatch-picker-preview/src/utils/__snapshots__/renderUtils.test.tsx.snap
  packages/react-components/react-swatch-picker-preview/stories/SwatchPicker/EmptySwatch.stories.tsx
  packages/react-components/react-swatch-picker-preview/stories/SwatchPicker/SwatchPickerBestPractices.md
  packages/react-components/react-swatch-picker-preview/stories/SwatchPicker/SwatchPickerDefault.stories.tsx
  packages/react-components/react-swatch-picker-preview/stories/SwatchPicker/SwatchPickerLayout.stories.tsx
  packages/react-components/react-swatch-picker-preview/stories/SwatchPicker/SwatchPickerPopup.stories.tsx
  packages/react-components/react-swatch-picker-preview/stories/SwatchPicker/SwatchPickerSize.stories.tsx
  packages/react-components/react-swatch-picker-preview/stories/SwatchPicker/SwatchPickerWithTooltip.stories.tsx
  packages/react-components/react-swatch-picker-preview/stories/SwatchPicker/index.stories.tsx
Labels: Component: SwatchColorPicker, PR: API Modified, Fluent UI react-components (v9)

#31126 fix: SpinButton buttons now show correct visuals at bounds
  change/@fluentui-react-spinbutton-9b1df688-9bc5-4b68-980b-a25a14e3c0d3.json
  packages/react-components/react-spinbutton/src/components/SpinButton/useSpinButton.tsx
Labels: Area: Documentation

#31114 chore(react-tag-picker): adds text elliptical clipping example
  packages/react-components/react-tag-picker-preview/stories/TagPicker/TagPickerTruncatedText.stories.tsx
  packages/react-components/react-tag-picker-preview/stories/TagPicker/index.stories.tsx
Labels: Component: TagPicker, Fluent UI react-components (v9)

#31141 Combobox filtering bug fix
  packages/react-components/react-combobox/stories/Combobox/ComboboxFiltering.stories.tsx
Labels: Area: Documentation, Component: ComboBox

#30256 Fix wrong position of hover callout in case of single data AreaChart
  change/@fluentui-react-charting-4b4305e3-4ff3-49f0-88b1-d147b5063a05.json
  packages/react-charting/src/components/AreaChart/AreaChart.base.tsx
Labels: Package: charting

#31113 Sankey diagram: Support number formatting
  change/@fluentui-react-charting-0375fe54-4ad5-4e3a-9c61-46283208aee2.json
  packages/react-charting/etc/react-charting.api.md
  packages/react-charting/src/components/SankeyChart/SankeyChart.base.tsx
  packages/react-charting/src/components/SankeyChart/SankeyChart.test.tsx
  packages/react-charting/src/components/SankeyChart/SankeyChart.types.ts
  packages/react-charting/src/components/SankeyChart/__snapshots__/SankeyChart.test.tsx.snap
Labels: Package: charting

#31116 feat(scripts-tasks): implement ~36% faster type-check task
  scripts/tasks/src/type-check.ts
Labels: Area: Build System, Area: Typescript, Fluent UI react-components (v9)

#31035 Fix overlapping bars on continuous axes
  change/@fluentui-react-charting-96d56d89-389f-4d0c-b3fb-250ac7f02936.json
  packages/react-charting/src/components/GroupedVerticalBarChart/GroupedVerticalBarChart.base.tsx
  packages/react-charting/src/components/GroupedVerticalBarChart/GroupedVerticalBarChart.types.tsx
  packages/react-charting/src/components/GroupedVerticalBarChart/__snapshots__/GroupedVerticalBarChart.test.tsx.snap
  packages/react-charting/src/components/GroupedVerticalBarChart/__snapshots__/GroupedVerticalBarChartRTL.test.tsx.snap
  packages/react-charting/src/components/VerticalBarChart/VerticalBarChart.base.tsx
  packages/react-charting/src/components/VerticalBarChart/VerticalBarChart.types.ts
  packages/react-charting/src/components/VerticalBarChart/VerticalBarChartRTL.test.tsx
  packages/react-charting/src/components/VerticalStackedBarChart/VerticalStackedBarChart.base.tsx
  packages/react-charting/src/components/VerticalStackedBarChart/VerticalStackedBarChart.types.ts
  packages/react-charting/src/components/VerticalStackedBarChart/VerticalStackedBarChartRTL.test.tsx
  packages/react-charting/src/components/VerticalStackedBarChart/__snapshots__/VerticalStackedBarChartRTL.test.tsx.snap
  packages/react-charting/src/utilities/UtilityUnitTests.test.ts
  packages/react-charting/src/utilities/__snapshots__/UtilityUnitTests.test.ts.snap
  packages/react-charting/src/utilities/index.ts
  packages/react-charting/src/utilities/utilities.ts
  packages/react-charting/src/utilities/vbc-utils.ts
  packages/react-examples/src/react-charting/GroupedVerticalBarChart/docs/GroupedVerticalBarChartBestPractices.md
  packages/react-examples/src/react-charting/VerticalBarChart/VerticalBarChart.Dynamic.Example.tsx
  packages/react-examples/src/react-charting/VerticalBarChart/docs/VerticalBarChartBestPractices.md
  packages/react-examples/src/react-charting/VerticalStackedBarChart/docs/VerticalStackedBarChartBestPractices.md
Labels: Package: charting

#31087 fix: remove relative imports within stories which are invalid for creating 'show docs' and circular dep imports from cypress files
  change/@fluentui-eslint-plugin-35756908-2280-4ee6-81f0-67c716df8257.json
  change/@fluentui-react-breadcrumb-ea432422-f0f1-4d52-bef7-6d476f1066e5.json
  change/@fluentui-react-dialog-69502076-906b-4301-88a5-817ccfb2d1a0.json
  packages/eslint-plugin/src/utils/configHelpers.js
  packages/react-components/react-breadcrumb/package.json
  packages/react-components/react-breadcrumb/src/components/Breadcrumb/BreadcrumbWithMenu.cy.tsx
  packages/react-components/react-dialog/package.json
  packages/react-components/react-dialog/src/components/Dialog/Dialog.cy.tsx
  packages/react-components/react-dialog/src/components/DialogTitle/DialogTitle.cy.tsx
  packages/react-components/react-tree/stories/Tree/TreeExpandIcon.stories.tsx
  packages/react-components/react-virtualizer/stories/Virtualizer/Dynamic.stories.tsx
  packages/react-components/react-virtualizer/stories/Virtualizer/index.stories.ts
  packages/react-components/react-virtualizer/stories/VirtualizerScrollView/ScrollTo.stories.tsx
  packages/react-components/react-virtualizer/stories/VirtualizerScrollView/index.stories.ts
  packages/react-components/react-virtualizer/stories/VirtualizerScrollViewDynamic/ScrollTo.stories.tsx
  packages/react-components/react-virtualizer/stories/VirtualizerScrollViewDynamic/index.stories.ts
Labels: Fluent UI react-components (v9), Storybook

#31152 chore(tact-picker): ensures cursor looks like a text on whole control
  change/@fluentui-react-tag-picker-preview-b2bc6960-e8e7-4c20-a833-8f458640442b.json
  packages/react-components/react-tag-picker-preview/src/components/TagPicker/TagPicker.cy.tsx
  packages/react-components/react-tag-picker-preview/src/components/TagPickerControl/useTagPickerControl.tsx
  packages/react-components/react-tag-picker-preview/src/components/TagPickerControl/useTagPickerControlStyles.styles.ts
  packages/react-components/react-tag-picker-preview/src/components/TagPickerGroup/useTagPickerGroup.ts
  packages/react-components/react-tag-picker-preview/src/components/TagPickerGroup/useTagPickerGroupStyles.styles.ts
Labels: Component: TagPicker, Fluent UI react-components (v9)

#31164 feat(web-components): create css partials for typography styles
  change/@fluentui-web-components-6c28acc1-a99b-4101-a17a-54d88ec1a057.json
  packages/web-components/src/index.ts
  packages/web-components/src/styles/partials/index.ts
  packages/web-components/src/styles/partials/typography.partials.ts
Labels: web-components

#31173 chore(react-tag-picker): removes multiselect from TagPicker signatures
  change/@fluentui-react-tag-picker-preview-4afbbd2e-84c3-4cb3-90bb-9af52fce227b.json
  packages/react-components/react-tag-picker-preview/etc/react-tag-picker-preview.api.md
  packages/react-components/react-tag-picker-preview/src/components/TagPicker/TagPicker.types.ts
  packages/react-components/react-tag-picker-preview/src/components/TagPicker/useTagPicker.ts
  packages/react-components/react-tag-picker-preview/src/components/TagPicker/useTagPickerContextValues.ts
  packages/react-components/react-tag-picker-preview/src/components/TagPickerButton/useTagPickerButton.tsx
  packages/react-components/react-tag-picker-preview/src/components/TagPickerInput/useTagPickerInput.tsx
  packages/react-components/react-tag-picker-preview/src/components/TagPickerList/useTagPickerList.ts
  packages/react-components/react-tag-picker-preview/src/contexts/TagPickerContext.ts
Labels: Component: TagPicker, Fluent UI react-components (v9)

#31212 docs: fix preview of command cheat sheet
  docs/react-v9/contributing/command-cheat-sheet.md
Labels: Draft

#31145 chore: register react-components nested folders to workspace and make storybook properly load split project stories
  package.json
  scripts/storybook/src/utils.js
Labels: Fluent UI react-components (v9), Storybook

#31217 style(workspace-plugin): add thenable and promise resolving lint rules to catch promises leaks that cause issues when invoking generators
  tools/workspace-plugin/.eslintrc.json
  tools/workspace-plugin/package.json
  tools/workspace-plugin/project.json
  tools/workspace-plugin/src/generators/epic-generator/index.spec.ts
  tools/workspace-plugin/src/generators/migrate-converged-pkg/index.ts
  tools/workspace-plugin/src/generators/migrate-v8-pkg/lib/utils.ts
  tools/workspace-plugin/src/generators/move-packages/index.spec.ts
  tools/workspace-plugin/src/generators/react-component/index.spec.ts
  tools/workspace-plugin/src/generators/tsconfig-base-all/index.spec.ts
  tools/workspace-plugin/src/generators/workspace-generator/index.spec.ts
Labels: NX: workspace generators

#31227 feat(test-ssr): add custom esbuild-plugin to properly resolve TS path aliases which stopped working starting esbuild 0.19
  scripts/test-ssr/src/commands/main.ts
  scripts/test-ssr/src/utils/buildAssets.test.ts
  scripts/test-ssr/src/utils/buildAssets.ts
  scripts/test-ssr/src/utils/esbuild-plugin.ts
Labels: Fluent UI react-components (v9), Area: SSR

#31233 feat(workspace-plugin): catch potential issues with running formatFiles on CI and add skipFormat config for tsConfigBaseAllGenerator
  tools/workspace-plugin/src/generators/split-library-in-two/generator.ts
  tools/workspace-plugin/src/generators/tsconfig-base-all/index.ts
  tools/workspace-plugin/src/generators/tsconfig-base-all/schema.json
  tools/workspace-plugin/src/generators/tsconfig-base-all/schema.ts
Labels: NX: workspace generators

#31069 fix(web-components): refactor exports to remove most barrel exports for components
  change/@fluentui-web-components-b79350c6-45b4-4047-b3cb-bdd2f3913561.json
  packages/web-components/docs/api-report.md
  packages/web-components/src/accordion-item/index.ts
  packages/web-components/src/accordion/index.ts
  packages/web-components/src/anchor-button/index.ts
  packages/web-components/src/avatar/index.ts
  packages/web-components/src/badge/index.ts
  packages/web-components/src/button/index.ts
  packages/web-components/src/checkbox/index.ts
  packages/web-components/src/compound-button/index.ts
  packages/web-components/src/counter-badge/index.ts
  packages/web-components/src/dialog/index.ts
  packages/web-components/src/divider/index.ts
  packages/web-components/src/image/index.ts
  packages/web-components/src/index-rollup.ts
  packages/web-components/src/index.ts
  packages/web-components/src/label/index.ts
  packages/web-components/src/menu-button/index.ts
  packages/web-components/src/menu-button/menu-button.options.ts
  packages/web-components/src/menu-item/index.ts
  packages/web-components/src/menu-list/index.ts
  packages/web-components/src/menu/index.ts
  packages/web-components/src/progress-bar/index.ts
  packages/web-components/src/progress-ring/progress-ring.options.ts
  packages/web-components/src/progress-ring/progress-ring.ts
  packages/web-components/src/radio-group/index.ts
  packages/web-components/src/radio/index.ts
  packages/web-components/src/slider/index.ts
  packages/web-components/src/spinner/index.ts
  packages/web-components/src/spinner/spinner.template.ts
  packages/web-components/src/spinner/spinner.ts
  packages/web-components/src/switch/index.ts
  packages/web-components/src/tab-panel/index.ts
  packages/web-components/src/tab/index.ts
  packages/web-components/src/tabs/index.ts
  packages/web-components/src/text-input/index.ts
  packages/web-components/src/text-input/text-input.options.ts
  packages/web-components/src/text-input/text-input.template.ts
  packages/web-components/src/text-input/text-input.ts
  packages/web-components/src/text/index.ts
  packages/web-components/src/toggle-button/index.ts
Labels: web-components

#29748 Fix `List` rendering at end of `List` and add debug renderer.
  change/@fluentui-react-2053c5af-0a37-49f4-8a7f-a7770d2da5cb.json
  packages/react/src/components/List/List.tsx
  packages/react/src/components/List/utils/ListDebugRenderer.ts
Labels: Component: List
