Repository microsoft/fluentui, pull requests merged in 2025-10, with the labels that each got.

#35243 chore(v0): remove @fluentui/react-northstar-emotion-renderer
  packages/fluentui/docs/package.json
  packages/fluentui/docs/src/app.tsx
  packages/fluentui/docs/tsconfig.json
  packages/fluentui/e2e/tsconfig.e2e.json
  packages/fluentui/react-northstar-emotion-renderer/.eslintrc.json
  packages/fluentui/react-northstar-emotion-renderer/.gulp.js
  packages/fluentui/react-northstar-emotion-renderer/babel.config.js
  packages/fluentui/react-northstar-emotion-renderer/gulpfile.ts
  packages/fluentui/react-northstar-emotion-renderer/jest.config.js
  packages/fluentui/react-northstar-emotion-renderer/package.json
  packages/fluentui/react-northstar-emotion-renderer/project.json
  packages/fluentui/react-northstar-emotion-renderer/src/createEmotionRenderer.tsx
  packages/fluentui/react-northstar-emotion-renderer/src/disableAnimations.ts
  packages/fluentui/react-northstar-emotion-renderer/src/focusVisiblePlugin.ts
  packages/fluentui/react-northstar-emotion-renderer/src/fontUtils.ts
  packages/fluentui/react-northstar-emotion-renderer/src/index.ts
  packages/fluentui/react-northstar-emotion-renderer/src/invokeKeyframes.ts
  packages/fluentui/react-northstar-emotion-renderer/src/utils.ts
  packages/fluentui/react-northstar-emotion-renderer/test/__snapshots__/emotionRenderer-test.ts.snap
  packages/fluentui/react-northstar-emotion-renderer/test/emotionRenderer-test.ts
  packages/fluentui/react-northstar-emotion-renderer/test/focusVisiblePlugin-test.ts
  packages/fluentui/react-northstar-emotion-renderer/tsconfig.json
  scripts/fluentui-publish/src/utils.spec.ts
  syncpack.config.js
  tsconfig.base.all.json
  tsconfig.base.v0.json
  yarn.lock
Labels: NX: core

#35260 chore: northstar release 0.67.0
  packages/fluentui/CHANGELOG.md
  packages/fluentui/ability-attributes/package.json
  packages/fluentui/accessibility/package.json
  packages/fluentui/circulars-test/package.json
  packages/fluentui/circulars-test/project.json
  packages/fluentui/code-sandbox/package.json
  packages/fluentui/digest/package.json
  packages/fluentui/docs-components/package.json
  packages/fluentui/docs/package.json
  packages/fluentui/e2e/package.json
  packages/fluentui/local-sandbox/package.json
  packages/fluentui/perf-test-northstar/package.json
  packages/fluentui/perf/package.json
  packages/fluentui/projects-test/package.json
  packages/fluentui/react-bindings/package.json
  packages/fluentui/react-builder/package.json
  packages/fluentui/react-component-event-listener/package.json
  packages/fluentui/react-component-nesting-registry/package.json
  packages/fluentui/react-component-ref/package.json
  packages/fluentui/react-icons-northstar/package.json
  packages/fluentui/react-northstar-fela-renderer/package.json
  packages/fluentui/react-northstar-prototypes/package.json
  packages/fluentui/react-northstar-styles-renderer/package.json
  packages/fluentui/react-northstar/package.json
  packages/fluentui/react-proptypes/package.json
  packages/fluentui/react-telemetry/package.json
  packages/fluentui/state/package.json
  packages/fluentui/styles/package.json
Labels: NX: core

#35282 fix(react-tooltip): show tooltip correctly under strict mode
  apps/rit-tests-v9/src/react-19/components/Tooltip.cy.tsx
  change/@fluentui-react-tooltip-61b2e251-ccc8-4eb9-83e4-fff3cb927190.json
  packages/react-components/react-tooltip/library/src/components/Tooltip/private/useTooltipTimeout.ts
  packages/react-components/react-tooltip/library/src/components/Tooltip/useTooltip.tsx
Labels: Component: Tooltip

#35290 refactor(react-utilities): derive JSXIntrinsicElementKeys type from React instead of using generated type
  change/@fluentui-react-utilities-cf6b5459-1c5b-4fc7-9c1b-d9a2bacbf1e4.json
  packages/react-components/react-utilities/etc/react-utilities.api.md
  packages/react-components/react-utilities/project.json
  packages/react-components/react-utilities/scripts/README.md
  packages/react-components/react-utilities/src/utils/generated-types.ts
  packages/react-components/react-utilities/src/utils/types.ts
Labels: Fluent UI react-components (v9), NX: core, React 19

#35294 chore: setup no-restricted-imports for cypress tess within react-legacy and resolve issues within apps/rit-tests-v*
  apps/rit-tests-v8/src/shared/components/ContextualMenu/ContextualMenuExample.cy.tsx
  apps/rit-tests-v8/tsconfig.lib.json
  apps/rit-tests-v9/tsconfig.lib.json
  packages/eslint-plugin/src/configs/react-legacy.js
  packages/react-examples/cypress.config.ts
  packages/react-examples/src/react/FocusTrapZone/e2e/FocusTrapZone.e2e.tsx
Labels: React 19
