Repository microsoft/fluentui, pull requests merged in 2025-02, with the labels that each got.

#33760 revert: ci(gha): limit privileged vrt workflow trigger branch base
  .github/workflows/pr-vrt-comment.yml
Labels: CI

#32116 feat(web-components): add Dropdown, Listbox, and Option components
  apps/vr-tests-web-components/tsconfig.json
  change/@fluentui-web-components-7b17a2b2-f134-4934-8331-709bea980b6c.json
  packages/web-components/docs/api-report.md
  packages/web-components/src/combobox/combobox.stories.ts
  packages/web-components/src/dropdown/define.ts
  packages/web-components/src/dropdown/dropdown.definition.ts
  packages/web-components/src/dropdown/dropdown.options.ts
  packages/web-components/src/dropdown/dropdown.spec.ts
  packages/web-components/src/dropdown/dropdown.stories.ts
  packages/web-components/src/dropdown/dropdown.styles.ts
  packages/web-components/src/dropdown/dropdown.template.ts
  packages/web-components/src/dropdown/dropdown.ts
  packages/web-components/src/dropdown/index.ts
  packages/web-components/src/index-rollup.ts
  packages/web-components/src/index.ts
  packages/web-components/src/listbox/define.ts
  packages/web-components/src/listbox/index.ts
  packages/web-components/src/listbox/listbox.definition.ts
  packages/web-components/src/listbox/listbox.options.ts
  packages/web-components/src/listbox/listbox.spec.ts
  packages/web-components/src/listbox/listbox.stories.ts
  packages/web-components/src/listbox/listbox.styles.ts
  packages/web-components/src/listbox/listbox.template.ts
  packages/web-components/src/listbox/listbox.ts
  packages/web-components/src/option/define.ts
  packages/web-components/src/option/index.ts
  packages/web-components/src/option/option.definition.ts
  packages/web-components/src/option/option.options.ts
  packages/web-components/src/option/option.spec.ts
  packages/web-components/src/option/option.stories.ts
  packages/web-components/src/option/option.styles.ts
  packages/web-components/src/option/option.template.ts
  packages/web-components/src/option/option.ts
  packages/web-components/src/patterns/start-end.ts
  packages/web-components/src/styles/states/index.ts
  packages/web-components/src/tooltip/tooltip.ts
  packages/web-components/src/utils/element-internals.ts
  packages/web-components/src/utils/index.ts
  packages/web-components/src/utils/language.ts
  packages/web-components/src/utils/support.ts
  packages/web-components/src/utils/unique-id.ts
  packages/web-components/tsconfig.json
  packages/web-components/tsconfig.lib.json
  tsconfig.base.wc.json
Labels: Component: Dropdown, web-components

#33777 Update pr-vrt-comment.yml
  .github/workflows/pr-vrt-comment.yml
Labels: CI

#33781 ci: Testing VRT CI Comment workflow
  .github/workflows/pr-vrt-comment.yml
Labels: CI

#33788 Virtualizer: Ensure child render function updates children immediatly
  change/@fluentui-react-virtualizer-e04ca2a2-610b-4a84-afbc-0d2f74e7ee06.json
  packages/react-components/react-virtualizer/library/src/components/Virtualizer/useVirtualizer.ts
Labels: Component: Virtualizer

#33793 ci: cleanup codeowners and add charting to VR test
  .github/CODEOWNERS
Labels: Area: Build System, Area: Documentation, CI

#33797 Revert "fix: MessageBar auto reflow should handle document reflow with `min-content`"
  change/@fluentui-react-message-bar-c11b8cce-0b38-48e0-9b98-757e7750e80f.json
  packages/react-components/react-message-bar/library/src/components/MessageBar/MessageBar.test.tsx
  packages/react-components/react-message-bar/library/src/components/MessageBar/useMessageBarReflow.ts
Labels: Component: MessageBar

#33608 ci: add dry-run mode to production Azure Pipelines
  .devops/templates/tools.yml
  .devops/templates/variables.yml
  azure-pipelines.deprecate-package.yml
  azure-pipelines.hotfix.yml
  azure-pipelines.release-fluentui.yml
  azure-pipelines.release-vnext.yml
  azure-pipelines.release.tools.yml
  azure-pipelines.release.web-components.yml
  azure-pipelines.release.yml
Labels: Area: Build System, CI

#33785 fix(react-color-picker): ColorSlider hue gradient
  change/@fluentui-react-color-picker-preview-2abc108d-eef7-4643-a438-344c86e23cb9.json
  packages/react-components/react-color-picker-preview/library/src/components/ColorArea/useColorAreaStyles.styles.ts
  packages/react-components/react-color-picker-preview/library/src/components/ColorSlider/useColorSliderStyles.styles.ts
Labels: Component: ColorPicker

#33809 chore: update browserlist-db
  yarn.lock
Labels: dependencies

#33763 feat(react-color-picker): Added custom channels for ColorSlider
  change/@fluentui-react-color-picker-preview-74a7fc13-787d-4792-9fc2-a2a1c95113ad.json
  packages/react-components/react-color-picker-preview/library/etc/react-color-picker-preview.api.md
  packages/react-components/react-color-picker-preview/library/src/components/AlphaSlider/AlphaSlider.types.ts
  packages/react-components/react-color-picker-preview/library/src/components/ColorSlider/ColorSlider.test.tsx
  packages/react-components/react-color-picker-preview/library/src/components/ColorSlider/ColorSlider.types.ts
  packages/react-components/react-color-picker-preview/library/src/components/ColorSlider/useColorSlider.ts
  packages/react-components/react-color-picker-preview/library/src/components/ColorSlider/useColorSliderStyles.styles.ts
  packages/react-components/react-color-picker-preview/library/src/utils/adjustChannel.test.ts
  packages/react-components/react-color-picker-preview/library/src/utils/adjustChannel.ts
  packages/react-components/react-color-picker-preview/library/src/utils/createHsvColor.test.ts
  packages/react-components/react-color-picker-preview/library/src/utils/createHsvColor.ts
  packages/react-components/react-color-picker-preview/library/src/utils/getCoordinates.test.ts
  packages/react-components/react-color-picker-preview/library/src/utils/getCoordinates.ts
  packages/react-components/react-color-picker-preview/library/src/utils/getPercent.test.ts
  packages/react-components/react-color-picker-preview/library/src/utils/getPercent.ts
  packages/react-components/react-color-picker-preview/stories/src/ColorPicker/AlphaSliderDefault.stories.tsx
  packages/react-components/react-color-picker-preview/stories/src/ColorPicker/ColorAndSwatchPicker.stories.tsx
  packages/react-components/react-color-picker-preview/stories/src/ColorPicker/ColorAreaDefault.stories.tsx
  packages/react-components/react-color-picker-preview/stories/src/ColorPicker/ColorSliderChannels.stories.tsx
  packages/react-components/react-color-picker-preview/stories/src/ColorPicker/ColorSliderDefault.stories.tsx
  packages/react-components/react-color-picker-preview/stories/src/ColorPicker/index.stories.tsx
Labels: Component: ColorPicker

#33678 feat(react-charting): hide overlapping x-axis tick labels
  change/@fluentui-react-charting-8192a933-0ea7-44b9-979a-bc696517a06a.json
  packages/charts/react-charting/etc/react-charting.api.md
  packages/charts/react-charting/src/components/CommonComponents/CartesianChart.base.tsx
  packages/charts/react-charting/src/components/CommonComponents/CartesianChart.types.ts
  packages/charts/react-charting/src/components/DeclarativeChart/DeclarativeChartRTL.test.tsx
  packages/charts/react-charting/src/components/DeclarativeChart/PlotlySchemaAdapter.ts
  packages/charts/react-charting/src/components/DeclarativeChart/__snapshots__/DeclarativeChartRTL.test.tsx.snap
  packages/charts/react-charting/src/components/DeclarativeChart/__snapshots__/PlotlySchemaAdapterUT.test.tsx.snap
  packages/charts/react-charting/src/components/HeatMapChart/HeatMapChart.base.tsx
  packages/charts/react-charting/src/utilities/UtilityUnitTests.test.ts
  packages/charts/react-charting/src/utilities/__snapshots__/UtilityUnitTests.test.ts.snap
  packages/charts/react-charting/src/utilities/utilities.ts
  packages/react-examples/src/react-charting/VerticalBarChart/VerticalBarChart.Dynamic.Example.tsx
Labels: Package: charting

#33829 ci: migrate to latest gh-pages actions to make v9 docsite deploy work
  .github/workflows/docsite-publish-ghpages.yml
Labels: Fluent UI react-components (v9), CI

#33826 fix(public-docsite-v9): increase heap size to prevent OOM failures
  .github/workflows/pr-website-deploy.yml
  apps/public-docsite-v9/.storybook/main.js
  apps/public-docsite-v9/package.json
Labels: CI

#33789 Combobox: Set combobox story to scroll to selected option on open
  packages/react-components/react-combobox/stories/src/Combobox/ComboboxVirtualizer.stories.tsx
Labels: Component: Combobox, Component: Virtualizer

#33839 TEST GITHUB ACTIONS VRT FLOW V1
  .github/workflows/pr-vrt-comment.yml
Labels: CI

#33854 Added permissions- ID-TOKEN
  .github/workflows/pr-vrt-comment.yml
Labels: CI

#33853 fix(react-color-picker): spin button arrows for ColorPicker
  packages/react-components/react-color-picker-preview/stories/src/ColorPicker/ColorPickerDefault.stories.tsx
Labels: Component: ColorPicker

#33825 chore: migrate to latest storywright which supports storyStore v7 and re-enable it within vr-tests SB setup
  apps/vr-tests-react-components/.storybook/main.js
  apps/vr-tests-web-components/.storybook/main.cjs
  apps/vr-tests/.storybook/main.js
  package.json
  yarn.lock
Labels: Package: charting, Fluent UI react-components (v9), web-components, Storybook, Area: Storywright

#33851 fix(vr-tests-react-components): make sure build-storybook has all deps build assets before it runs
  apps/vr-tests-react-components/package.json
  apps/vr-tests-react-components/project.json
Labels: dependencies, Storybook, Area: Storywright, NX: core

#33875 fix(react): trigger v8 release to fix production source-maps issues
  change/@fluentui-set-version-387b41d1-8143-430e-b11f-46ccaa9f229b.json
Labels: Fluent UI react (v8)

#33879 docs(`react-examples`): Preventing dismiss on resize on `ContextualMenu` example that renders a `SearchBox` within its menu list
  packages/react-examples/src/react/ContextualMenu/ContextualMenu.CustomMenuList.Example.tsx
Labels: Area: Documentation, Component: ContextualMenu, Fluent UI react (v8)

#33723 feat(react-charting): make charts responsive
  change/@fluentui-react-charting-54da258a-d516-4f4d-a974-d05d46893ca6.json
  packages/charts/react-charting/UnitTests/__snapshots__/VerticalBarChartUT.test.tsx.snap
  packages/charts/react-charting/etc/react-charting.api.md
  packages/charts/react-charting/src/ResponsiveContainer.ts
  packages/charts/react-charting/src/components/AreaChart/__snapshots__/AreaChart.test.tsx.snap
  packages/charts/react-charting/src/components/AreaChart/__snapshots__/AreaChartRTL.test.tsx.snap
  packages/charts/react-charting/src/components/CommonComponents/CartesianChart.base.tsx
  packages/charts/react-charting/src/components/CommonComponents/CartesianChart.styles.ts
  packages/charts/react-charting/src/components/CommonComponents/CartesianChart.types.ts
  packages/charts/react-charting/src/components/DeclarativeChart/DeclarativeChart.tsx
  packages/charts/react-charting/src/components/DeclarativeChart/PlotlySchemaAdapter.ts
  packages/charts/react-charting/src/components/DeclarativeChart/__snapshots__/DeclarativeChartRTL.test.tsx.snap
  packages/charts/react-charting/src/components/DeclarativeChart/__snapshots__/PlotlySchemaAdapterUT.test.tsx.snap
  packages/charts/react-charting/src/components/GroupedVerticalBarChart/__snapshots__/GroupedVerticalBarChart.test.tsx.snap
  packages/charts/react-charting/src/components/GroupedVerticalBarChart/__snapshots__/GroupedVerticalBarChartRTL.test.tsx.snap
  packages/charts/react-charting/src/components/HeatMapChart/__snapshots__/HeatMapChartRTL.test.tsx.snap
  packages/charts/react-charting/src/components/HorizontalBarChartWithAxis/__snapshots__/HorizontalBarChartWithAxis.test.tsx.snap
  packages/charts/react-charting/src/components/HorizontalBarChartWithAxis/__snapshots__/HorizontalBarChartWithAxisRTL.test.tsx.snap
  packages/charts/react-charting/src/components/ResponsiveContainer/ResponsiveContainer.tsx
  packages/charts/react-charting/src/components/ResponsiveContainer/ResponsiveContainer.types.ts
  packages/charts/react-charting/src/components/ResponsiveContainer/index.ts
  packages/charts/react-charting/src/components/ResponsiveContainer/withResponsiveContainer.tsx
  packages/charts/react-charting/src/components/SankeyChart/SankeyChart.base.tsx
  packages/charts/react-charting/src/components/SankeyChart/SankeyChart.styles.ts
  packages/charts/react-charting/src/components/SankeyChart/SankeyChart.types.ts
  packages/charts/react-charting/src/components/VerticalBarChart/__snapshots__/VerticalBarChart.test.tsx.snap
  packages/charts/react-charting/src/components/VerticalBarChart/__snapshots__/VerticalBarChartRTL.test.tsx.snap
  packages/charts/react-charting/src/components/VerticalStackedBarChart/__snapshots__/VerticalStackedBarChart.test.tsx.snap
  packages/charts/react-charting/src/components/VerticalStackedBarChart/__snapshots__/VerticalStackedBarChartRTL.test.tsx.snap
  packages/charts/react-charting/src/index.ts
  packages/charts/react-charting/src/utilities/utilities.ts
  packages/react-examples/src/react-charting/DonutChart/DonutChart.Responsive.Example.tsx
  packages/react-examples/src/react-charting/DonutChart/DonutChart.doc.tsx
  packages/react-examples/src/react-charting/DonutChart/DonutChartPage.tsx
  packages/react-examples/src/react-charting/DonutChart/index.stories.tsx
  packages/react-examples/src/react-charting/GaugeChart/GaugeChart.Responsive.Example.tsx
  packages/react-examples/src/react-charting/GaugeChart/GaugeChart.doc.tsx
  packages/react-examples/src/react-charting/GaugeChart/GaugeChartPage.tsx
  packages/react-examples/src/react-charting/GaugeChart/index.stories.tsx
  packages/react-examples/src/react-charting/SankeyChart/SankeyChart.Responsive.Example.tsx
  packages/react-examples/src/react-charting/SankeyChart/SankeyChart.doc.tsx
  packages/react-examples/src/react-charting/SankeyChart/SankeyChartPage.tsx
  packages/react-examples/src/react-charting/SankeyChart/index.stories.tsx
  packages/react-examples/src/react-charting/VerticalBarChart/VerticalBarChart.Responsive.Example.tsx
  packages/react-examples/src/react-charting/VerticalBarChart/VerticalBarChart.doc.tsx
  packages/react-examples/src/react-charting/VerticalBarChart/VerticalBarChartPage.tsx
  packages/react-examples/src/react-charting/VerticalBarChart/index.stories.tsx
Labels: Package: charting

#33865 docs(web-components): Add v2 to v3 migration docs
  change/@fluentui-web-components-f2ddfb2b-cc76-47f8-817e-24845378ce0f.json
  packages/web-components/src/_docs/developer/migration.stories.mdx
Labels: web-components

#33901 ci: add v9 nightly releases support from branch
  azure-pipelines.release-vnext-nightly.yml
Labels: Fluent UI react-components (v9), CI

#33900 chore(7.0): add change file to trigger new v7 publish
  change/@uifabric-icons-3b4073c5-cede-4e71-9cd8-1ec204871583.json
Labels: Fabric 7

#33786 feat(eslint-plugin): add browser compatibility plugin
  change/@fluentui-eslint-plugin-728becf6-2abf-400f-b3bc-7a5049b39ba9.json
  package.json
  packages/eslint-plugin/package.json
  packages/eslint-plugin/src/configs/base.js
  packages/eslint-plugin/src/utils/configHelpers.js
  syncpack.config.js
  yarn.lock
Labels: Type: Feature, Package: eslint-plugin

#33913 chore: update CODEOWNERS for motion
  .github/CODEOWNERS
Labels: CI

#33910 fix(react tabs): Selected tab is not visible in HC on Windows
  change/@fluentui-react-tabs-855dafe2-e21a-4274-9fa5-9e20c5b28761.json
  packages/react-components/react-tabs/library/src/components/Tab/useTabStyles.styles.ts
Labels: Component: Tabs

#33916 fix: position thumb properly at pointer coordinates
  change/@fluentui-web-components-633128ed-09cb-4208-8fd5-5e12b2019d9b.json
  packages/web-components/src/slider/slider.spec.ts
  packages/web-components/src/slider/slider.styles.ts
  packages/web-components/src/slider/slider.ts
Labels: web-components

#33922 fix: enable keyboard interactions after cliking on thumb
  change/@fluentui-web-components-e9ccc14b-1620-41ad-a9bd-4732e6409007.json
  packages/web-components/docs/web-components.api.md
  packages/web-components/src/slider/slider.spec.ts
  packages/web-components/src/slider/slider.template.ts
  packages/web-components/src/slider/slider.ts
Labels: web-components

#33917 fix: button slots spacing
  change/@fluentui-web-components-23edc611-4d8c-4176-975a-3530019982d5.json
  packages/web-components/src/button/button.styles.ts
Labels: web-components
