Repository microsoft/fluentui, pull requests merged in 2025-09, with the labels that each got.

#35114 fix(date-picker-compat): onIconClick triggering useOnClickOutside
  change/@fluentui-react-datepicker-compat-28d17cbb-bb56-4bf2-965e-c60ae8d98a2c.json
  packages/react-components/react-datepicker-compat/library/src/components/DatePicker/useDatePicker.tsx
Labels: Component: DatePickerCompat

#35138 refactor: replace slotted with slotchange
  change/@fluentui-web-components-a63e0ca8-4de2-4db4-b527-89b8ffadc945.json
  packages/web-components/docs/web-components.api.md
  packages/web-components/src/tree-item/tree-item.base.ts
  packages/web-components/src/tree-item/tree-item.template.ts
  packages/web-components/src/tree/tree.base.ts
  packages/web-components/src/tree/tree.template.ts
Labels: web-components

#35126 feat: make rating display ssr compatible
  change/@fluentui-web-components-6532af96-504d-4fdd-92fa-2fc22fbe10e9.json
  packages/web-components/docs/web-components.api.md
  packages/web-components/src/rating-display/rating-display.base.ts
  packages/web-components/src/rating-display/rating-display.spec.ts
  packages/web-components/src/rating-display/rating-display.styles.ts
  packages/web-components/src/rating-display/rating-display.template.ts
  packages/web-components/src/rating-display/rating-display.ts
Labels: web-components

#35146 chore(react-utilities): properly configure prebuild target nx cache
  change/@fluentui-react-utilities-cf308593-ccf3-4d5b-a102-2c5f6baae242.json
  packages/react-components/react-utilities/project.json
Labels: Fluent UI react-components (v9), NX: core

#35151 chore: setup multiple docsites deploy to GHP
  .github/workflows/docsite-publish-ghpages.yml
  apps/chart-docsite/.storybook/main.ts
  apps/chart-docsite/package.json
  apps/public-docsite-v9/.storybook/main.js
  apps/public-docsite-v9/package.json
  apps/public-docsite-v9/project.json
  change/@fluentui-web-components-c45f5984-fbde-4048-ac94-2a9210cb41c8.json
  nx.json
  packages/web-components/.storybook/main.cjs
  packages/web-components/package.json
Labels: Area: Documentation, Storybook, CI, NX: core

#35204 [web-components][fix] fix missing focus state in forced colors on checked switch
  change/@fluentui-web-components-287ac194-c9c2-4cc2-8a00-d30740e0eff6.json
  packages/web-components/src/switch/switch.stories.ts
  packages/web-components/src/switch/switch.styles.ts
Labels: web-components

#35090 fix(priority-overflow): overflowMenuSize included in occupiedSize
  change/@fluentui-priority-overflow-09409455-f841-4490-8f29-242e315804df.json
  change/@fluentui-react-overflow-9b148d37-5471-4fe4-8c62-6bd3775221c5.json
  packages/react-components/priority-overflow/etc/priority-overflow.api.md
  packages/react-components/priority-overflow/src/overflowManager.ts
  packages/react-components/priority-overflow/src/types.ts
  packages/react-components/react-breadcrumb/stories/src/Breadcrumb/BreadcrumbWithOverflow.stories.tsx
  packages/react-components/react-overflow/library/etc/react-overflow.api.md
  packages/react-components/react-overflow/library/src/components/Overflow.tsx
  packages/react-components/react-overflow/library/src/useOverflowContainer.test.ts
  packages/react-components/react-overflow/library/src/useOverflowContainer.ts
Labels: Package: priority-overflow

#35192 fix(react-aria): fix useTypingAnnounce React 19 type-check issues
  change/@fluentui-react-aria-0b9eb3ae-f104-4603-9f18-8e15c2a3ddf3.json
  packages/react-components/react-aria/library/src/useTypingAnnounce/useTypingAnnounce.ts
Labels: React 19

#35191 feat(react-utilities): introduce useApplyScrollbarWidth hook for SSR-safe scrollbar width handling
  change/@fluentui-react-components-759fff6a-b3d1-459f-be4b-58a36bb51175.json
  change/@fluentui-react-utilities-a71dcfa0-b02c-47ad-8902-e2355250e8f9.json
  packages/react-components/react-components/etc/react-components.api.md
  packages/react-components/react-components/src/index.ts
  packages/react-components/react-table/stories/project.json
  packages/react-components/react-table/stories/src/DataGrid/Virtualization.stories.tsx
  packages/react-components/react-table/stories/src/Table/Virtualization.stories.tsx
  packages/react-components/react-utilities/etc/react-utilities.api.md
  packages/react-components/react-utilities/src/hooks/index.ts
  packages/react-components/react-utilities/src/hooks/useApplyScrollbarWidth.test.tsx
  packages/react-components/react-utilities/src/hooks/useApplyScrollbarWidth.ts
  packages/react-components/react-utilities/src/hooks/useScrollbarWidth.ts
  packages/react-components/react-utilities/src/index.ts
  packages/react-components/react-utilities/src/utils/index.ts
  packages/react-components/react-utilities/src/utils/measureScrollBarWidth.ts
Labels: Package: utilities, Area: SSR, NX: core
