Repository microsoft/fluentui, pull requests merged in 2025-05, with the labels that each got.

#34353 feat(react-charting): add support for stacked bars in GVBC
  change/@fluentui-react-charting-8f6b6177-162e-4f37-a831-c5f6134d0c03.json
  packages/charts/react-charting/src/components/DeclarativeChart/PlotlySchemaAdapter.ts
  packages/charts/react-charting/src/components/GroupedVerticalBarChart/GroupedVerticalBarChart.base.tsx
  packages/charts/react-charting/src/components/GroupedVerticalBarChart/__snapshots__/GroupedVerticalBarChart.test.tsx.snap
  packages/charts/react-charting/src/components/GroupedVerticalBarChart/__snapshots__/GroupedVerticalBarChartRTL.test.tsx.snap
Labels: Package: charting

#34347 test: replace `react-dom` apis with ReactTestingLibary in all v8 tests to make them work with react 18
  change/@fluentui-react-62a81c04-c0d4-4d20-8748-5c1eb9cf408d.json
  packages/react-experiments/src/components/FloatingSuggestions/Suggestions/SuggestionsControl.test.tsx
  packages/react-experiments/src/components/FloatingSuggestionsComposite/FloatingSuggestionsComposite.test.tsx
  packages/react-experiments/src/components/Slider/Slider.test.tsx
  packages/react-focus/src/components/FocusZone/FocusZone.test.tsx
  packages/react-hooks/src/useBoolean.test.tsx
  packages/react-hooks/src/useSetTimeout.test.tsx
  packages/react-hooks/src/useUnmount.test.tsx
  packages/react/src/common/testUtilities.ts
  packages/react/src/components/Button/Button.deprecated.test.tsx
  packages/react/src/components/ComboBox/ComboBox.test.tsx
  packages/react/src/components/ContextualMenu/ContextualMenu.deprecated.test.tsx
  packages/react/src/components/ContextualMenu/ContextualMenu.test.tsx
  packages/react/src/components/DatePicker/DatePicker.test.tsx
  packages/react/src/components/DetailsList/DetailsHeader.test.tsx
  packages/react/src/components/DetailsList/DetailsList.test.tsx
  packages/react/src/components/DetailsList/DetailsListV2.test.tsx
  packages/react/src/components/Dialog/Dialog.deprecated.test.tsx
  packages/react/src/components/ExtendedPicker/BaseExtendedPicker.test.tsx
  packages/react/src/components/FloatingPicker/BaseFloatingPicker.test.tsx
  packages/react/src/components/FloatingPicker/Suggestions/SuggestionsControl.test.tsx
  packages/react/src/components/GroupedList/GroupedListV2.test.tsx
  packages/react/src/components/Image/Image.test.tsx
  packages/react/src/components/Layer/Layer.test.tsx
  packages/react/src/components/OverflowSet/OverflowSet.test.tsx
  packages/react/src/components/Panel/Panel.test.tsx
  packages/react/src/components/SelectedItemsList/BaseSelectedItemsList.test.tsx
  packages/react/src/components/SelectedItemsList/SelectedPeopleList/SelectedPeopleList.test.tsx
  packages/react/src/components/SpinButton/SpinButton.test.tsx
  packages/react/src/components/TeachingBubble/TeachingBubble.test.tsx
  packages/react/src/components/Tooltip/Tooltip.test.tsx
  packages/react/src/components/pickers/BasePicker.test.tsx
  packages/react/src/components/pickers/PeoplePicker/PeoplePicker.test.tsx
  packages/react/src/components/pickers/TagPicker/TagPicker.test.tsx
  packages/react/src/utilities/decorators/withResponsiveMode.test.tsx
  packages/react/src/utilities/hooks/useResponsiveMode.test.tsx
  packages/react/src/utilities/selection/SelectionZone.test.tsx
  packages/utilities/src/BaseComponent.test.tsx
  packages/utilities/src/customizations/customizable.test.tsx
  packages/utilities/src/focus.test.tsx
  packages/utilities/src/useFocusRects.test.tsx
Labels: Area: Testing, Fluent UI react (v8), React 18

#34359 docs(react-color-picker): added HEX8 support and fixed hex/alpha change
  packages/react-components/react-color-picker/stories/src/ColorPicker/ColorPickerDefault.stories.tsx
Labels: Component: ColorPicker

#34381 fix(react-charting): use system colors with HighContrastSelector instead of color scheme selectors
  change/@fluentui-react-charting-682a6d2b-b8d5-42d9-b4c5-53341ab8e28f.json
  packages/charts/react-charting/UnitTests/__snapshots__/VerticalBarChartUT.test.tsx.snap
  packages/charts/react-charting/src/components/AreaChart/__snapshots__/AreaChart.test.tsx.snap
  packages/charts/react-charting/src/components/AreaChart/__snapshots__/AreaChartRTL.test.tsx.snap
  packages/charts/react-charting/src/components/CommonComponents/CartesianChart.styles.ts
  packages/charts/react-charting/src/components/DeclarativeChart/__snapshots__/DeclarativeChartRTL.test.tsx.snap
  packages/charts/react-charting/src/components/DonutChart/Pie/Pie.styles.ts
  packages/charts/react-charting/src/components/DonutChart/__snapshots__/DonutChart.test.tsx.snap
  packages/charts/react-charting/src/components/DonutChart/__snapshots__/DonutChartRTL.test.tsx.snap
  packages/charts/react-charting/src/components/GaugeChart/GaugeChart.styles.ts
  packages/charts/react-charting/src/components/GaugeChart/__snapshots__/GaugeChart.test.tsx.snap
  packages/charts/react-charting/src/components/GroupedVerticalBarChart/__snapshots__/GroupedVerticalBarChart.test.tsx.snap
  packages/charts/react-charting/src/components/GroupedVerticalBarChart/__snapshots__/GroupedVerticalBarChartRTL.test.tsx.snap
  packages/charts/react-charting/src/components/HeatMapChart/__snapshots__/HeatMapChartRTL.test.tsx.snap
  packages/charts/react-charting/src/components/HorizontalBarChart/__snapshots__/HorizontalBarChart.test.tsx.snap
  packages/charts/react-charting/src/components/HorizontalBarChartWithAxis/__snapshots__/HorizontalBarChartWithAxis.test.tsx.snap
  packages/charts/react-charting/src/components/HorizontalBarChartWithAxis/__snapshots__/HorizontalBarChartWithAxisRTL.test.tsx.snap
  packages/charts/react-charting/src/components/LineChart/__snapshots__/LineChartRTL.test.tsx.snap
  packages/charts/react-charting/src/components/PieChart/Arc/Arc.styles.ts
  packages/charts/react-charting/src/components/PieChart/__snapshots__/PieChart.test.tsx.snap
  packages/charts/react-charting/src/components/PieChart/__snapshots__/PieChartRTL.test.tsx.snap
  packages/charts/react-charting/src/components/SankeyChart/SankeyChart.styles.ts
  packages/charts/react-charting/src/components/SankeyChart/__snapshots__/SankeyChart.test.tsx.snap
  packages/charts/react-charting/src/components/SankeyChart/__snapshots__/SankeyChartRTL.test.tsx.snap
  packages/charts/react-charting/src/components/StackedBarChart/__snapshots__/MultiStackedBarChart.test.tsx.snap
  packages/charts/react-charting/src/components/StackedBarChart/__snapshots__/StackedBarChart.test.tsx.snap
  packages/charts/react-charting/src/components/VerticalBarChart/__snapshots__/VerticalBarChart.test.tsx.snap
  packages/charts/react-charting/src/components/VerticalBarChart/__snapshots__/VerticalBarChartRTL.test.tsx.snap
  packages/charts/react-charting/src/components/VerticalStackedBarChart/__snapshots__/VerticalStackedBarChart.test.tsx.snap
  packages/charts/react-charting/src/components/VerticalStackedBarChart/__snapshots__/VerticalStackedBarChartRTL.test.tsx.snap
  packages/charts/react-charting/src/utilities/ChartHoverCard/ChartHoverCard.styles.ts
Labels: Package: charting

#34368 chore(deps): fix critical,high and moderate severity security vulnerabilities
  apps/ssr-tests/package.json
  change/@fluentui-chart-web-components-1d758bfc-5fd6-4538-9439-c389e0c79a40.json
  change/@fluentui-web-components-bd123ca7-f32a-4521-8764-04b048aefb52.json
  package.json
  packages/charts/chart-web-components/package.json
  packages/web-components/package.json
  yarn.lock
Labels: dependencies

#34392 ci: remove unused milestone automation
  .github/MAINTAINERS
  .github/workflows/create-milestone.yml
  .github/workflows/pr-housekeeping.yml
Labels: CI

#34376 test: resolve v8 act() issues with react 18
  apps/react-18-tests-v8/package.json
  packages/react/src/components/Announced/Announced.test.tsx
  packages/react/src/components/Autofill/Autofill.test.tsx
  packages/react/src/components/DetailsList/DetailsHeader.test.tsx
  packages/react/src/components/DetailsList/DetailsList.test.tsx
  packages/react/src/components/DetailsList/DetailsListV2.test.tsx
  packages/react/src/components/Dropdown/Dropdown.test.tsx
  packages/react/src/components/ExtendedPicker/BaseExtendedPicker.test.tsx
  packages/react/src/components/FloatingPicker/BaseFloatingPicker.test.tsx
  packages/react/src/components/GroupedList/GroupedListV2.test.tsx
  packages/react/src/components/KeytipLayer/KeytipLayer.test.tsx
  packages/react/src/components/MarqueeSelection/MarqueeSelection.test.tsx
  packages/react/src/components/MessageBar/MessageBar.test.tsx
  packages/react/src/components/OverflowSet/OverflowSet.test.tsx
  packages/react/src/components/Panel/Panel.test.tsx
  packages/react/src/components/Persona/Persona.deprecated.test.tsx
  packages/react/src/components/Persona/Persona.test.tsx
  packages/react/src/components/SelectedItemsList/BaseSelectedItemsList.test.tsx
  packages/react/src/components/SelectedItemsList/SelectedPeopleList/SelectedPeopleList.test.tsx
  packages/react/src/components/Spinner/Spinner.test.tsx
  packages/react/src/components/TextField/TextField.test.tsx
  packages/react/src/components/pickers/BasePicker.test.tsx
  packages/react/src/components/pickers/PeoplePicker/PeoplePicker.test.tsx
  packages/react/src/components/pickers/TagPicker/TagPicker.test.tsx
  packages/react/src/utilities/selection/SelectionZone.test.tsx
Labels: Area: Testing, Fluent UI react (v8), React 18

#34386 chore: remove enzyme setup from projects that dont use it anymore
  packages/foundation-legacy/config/tests.js
  packages/react-cards/config/tests.js
  packages/react-experiments/config/tests.js
  packages/react-focus/config/tests.js
  packages/react-hooks/config/tests.js
  packages/react-icons-mdl2/config/tests.js
  packages/react/config/tests.js
  packages/utilities/config/tests.js
Labels: Area: Testing, Fluent UI react (v8)

#34390 feat: deprecate `safeMount` and remove its abstractions in react project tests
  change/@fluentui-test-utilities-ff572d4d-e62d-46fa-8b51-5dd02dab7ed5.json
  packages/react/src/components/DetailsList/DetailsList.test.tsx
  packages/react/src/components/DetailsList/DetailsListV2.test.tsx
  packages/test-utilities/README.md
  packages/test-utilities/src/safeMount.ts
Labels: Area: Testing, Fluent UI react (v8)

#34271 RFC: Shared positioning customizations
  docs/react-v9/contributing/rfcs/react-components/positioning-customizations.md
Labels: Type: RFC

#34414 chore(chart-utilities): Release chart utilities with react-charting
  change/@fluentui-chart-utilities-3e89d579-c612-47cd-ac13-16ecfa8b72d6.json
  packages/charts/chart-utilities/project.json
Labels: NX: core

#34398 fix(react-charting): enable interaction with line points without corresponding bars in VSBC
  change/@fluentui-react-charting-f13be1b7-b0bb-474a-8e2a-06071302eaa9.json
  packages/charts/react-charting/src/components/VerticalStackedBarChart/VerticalStackedBarChart.base.tsx
  packages/charts/react-charting/src/components/VerticalStackedBarChart/__snapshots__/VerticalStackedBarChartRTL.test.tsx.snap
Labels: Package: charting

#34408 fix(react-infolabel): fix InfoButton exports from suite
  change/@fluentui-react-components-ae96976e-2fe8-40df-89e1-eee522ed9a9f.json
  packages/react-components/react-components/etc/react-components.api.md
  packages/react-components/react-components/src/index.ts
Labels: Area: Build System

#34434 chore(deps): migrate to nx v20.8
  package.json
  tools/workspace-plugin/package.json
  yarn.lock
Labels: NX: core

#34421 feat(react-conformance): add react 18 support
  change/@fluentui-react-conformance-e98882e2-48ef-405e-97fe-96a00a4f56fd.json
  change/@fluentui-react-conformance-griffel-f6b22bcf-2bf4-4858-93e4-1b50703f54a2.json
  packages/react-components/react-conformance-griffel/src/overridesWin.ts
  packages/react-conformance/package.json
  packages/react-conformance/src/defaultTests.tsx
Labels: Area: Testing, Fluent UI react-components (v9), Fluent UI react (v8), React 18, tools

#34391 chore(deps): fix remaining security vulnerabilities
  package.json
  scripts/gulp/src/tasks/stats.ts
  yarn.lock
Labels: dependencies

#34193 docs: new repo organization RFC
  docs/react-v9/contributing/rfcs/shared/repo-organization.md
Labels: Type: RFC, React 18

#34420 test(react-18-tests-v9): add test:integration target
  apps/react-18-tests-v9/.swcrc
  apps/react-18-tests-v9/jest-react-18.config.js
  apps/react-18-tests-v9/jest.config.js
  apps/react-18-tests-v9/package.json
  apps/react-18-tests-v9/project.json
Labels: Area: Testing, Fluent UI react-components (v9), React 18, NX: core

#34444 ci(release): fix tooling release pipeline
  azure-pipelines.release.tools.yml
  scripts/beachball/src/config.test.ts
  scripts/beachball/src/utils.ts
Labels: CI, tools

#34448 [chore]: add tree exports to main index
  change/@fluentui-web-components-d1ff1d4f-0315-4887-bf33-2204ececdfcc.json
  packages/web-components/docs/web-components.api.md
  packages/web-components/package.json
  packages/web-components/src/index.ts
Labels: web-components

#34446 feat(eslint-plugin): move project to private to stop further npm releases
  packages/eslint-plugin/package.json
  scripts/beachball/src/config.test.ts
Labels: Package: eslint-plugin

#34438 fix(react-charting): adjust y-axis title position to reduce overlap with tick labels
  change/@fluentui-react-charting-e2cbca44-ab4f-4b86-90aa-05391faf8646.json
  packages/charts/react-charting/UnitTests/__snapshots__/VerticalBarChartUT.test.tsx.snap
  packages/charts/react-charting/etc/react-charting.api.md
  packages/charts/react-charting/src/components/AreaChart/AreaChart.base.tsx
  packages/charts/react-charting/src/components/AreaChart/__snapshots__/AreaChart.test.tsx.snap
  packages/charts/react-charting/src/components/AreaChart/__snapshots__/AreaChartRTL.test.tsx.snap
  packages/charts/react-charting/src/components/CommonComponents/CartesianChart.base.tsx
  packages/charts/react-charting/src/components/CommonComponents/CartesianChart.styles.ts
  packages/charts/react-charting/src/components/DeclarativeChart/PlotlySchemaAdapter.ts
  packages/charts/react-charting/src/components/DeclarativeChart/__snapshots__/DeclarativeChartRTL.test.tsx.snap
  packages/charts/react-charting/src/components/DeclarativeChart/__snapshots__/PlotlySchemaAdapterUT.test.tsx.snap
  packages/charts/react-charting/src/components/GroupedVerticalBarChart/GroupedVerticalBarChart.base.tsx
  packages/charts/react-charting/src/components/GroupedVerticalBarChart/__snapshots__/GroupedVerticalBarChart.test.tsx.snap
  packages/charts/react-charting/src/components/GroupedVerticalBarChart/__snapshots__/GroupedVerticalBarChartRTL.test.tsx.snap
  packages/charts/react-charting/src/components/HeatMapChart/HeatMapChart.types.ts
  packages/charts/react-charting/src/components/HeatMapChart/__snapshots__/HeatMapChartRTL.test.tsx.snap
  packages/charts/react-charting/src/components/HorizontalBarChartWithAxis/HorizontalBarChartWithAxis.base.tsx
  packages/charts/react-charting/src/components/HorizontalBarChartWithAxis/HorizontalBarChartWithAxis.styles.ts
  packages/charts/react-charting/src/components/HorizontalBarChartWithAxis/__snapshots__/HorizontalBarChartWithAxis.test.tsx.snap
  packages/charts/react-charting/src/components/HorizontalBarChartWithAxis/__snapshots__/HorizontalBarChartWithAxisRTL.test.tsx.snap
  packages/charts/react-charting/src/components/LineChart/LineChart.base.tsx
  packages/charts/react-charting/src/components/LineChart/__snapshots__/LineChartRTL.test.tsx.snap
  packages/charts/react-charting/src/components/VerticalBarChart/VerticalBarChart.base.tsx
  packages/charts/react-charting/src/components/VerticalBarChart/__snapshots__/VerticalBarChart.test.tsx.snap
  packages/charts/react-charting/src/components/VerticalBarChart/__snapshots__/VerticalBarChartRTL.test.tsx.snap
  packages/charts/react-charting/src/components/VerticalStackedBarChart/VerticalStackedBarChart.base.tsx
  packages/charts/react-charting/src/components/VerticalStackedBarChart/__snapshots__/VerticalStackedBarChart.test.tsx.snap
  packages/charts/react-charting/src/components/VerticalStackedBarChart/__snapshots__/VerticalStackedBarChartRTL.test.tsx.snap
  packages/charts/react-charting/src/utilities/SVGTooltipText.tsx
  packages/charts/react-charting/src/utilities/UtilityUnitTests.test.ts
  packages/charts/react-charting/src/utilities/__snapshots__/UtilityUnitTests.test.ts.snap
  packages/charts/react-charting/src/utilities/utilities.ts
Labels: Package: charting

#34319 fix: v8 react-18 integration type check issues
  apps/react-18-tests-v8/tsconfig.react-18.json
  change/@fluentui-react-cards-e0479023-9fb2-4799-b754-84c9376ac36c.json
  change/@fluentui-utilities-889b9768-b344-4b1e-8715-37fee87314f4.json
  packages/react-cards/etc/react-cards.api.md
  packages/react-cards/src/components/Card/CardItem/CardItem.types.ts
  packages/react-cards/src/components/Card/CardSection/CardSection.types.ts
  packages/react-examples/src/react/DetailsList/DetailsList.NavigatingFocus.Example.tsx
  packages/react-examples/src/react/DocumentCard/DocumentCard.Complete.Example.tsx
  packages/react-examples/src/react/ShadowDOM/ShadowDOM.FocusTrapZone.NestedChildShadowDom.Example.tsx
  packages/react-examples/src/react/ShadowDOM/ShadowHelper.tsx
  packages/utilities/etc/utilities.api.md
  packages/utilities/src/FocusRectsProvider.tsx
  packages/utilities/src/shadowDom/contexts/MergeStylesRootContext.tsx
  packages/utilities/src/shadowDom/contexts/MergeStylesShadowRootContext.tsx
Labels: React 18

#34443 style(react-components): add no-restricted-imports to mitigate alpha/beta apis exposure
  packages/react-components/react-components/.eslintrc.json
Labels: Fluent UI react-components (v9), Area: Linting

#34486 fix: manage focus only when menu is open
  change/@fluentui-web-components-f3428123-2fef-418d-86e5-1266218f1b6e.json
  packages/web-components/src/menu/menu.ts
Labels: web-components

#34488 docs: added aria-label to rating display stories.
  packages/web-components/src/rating-display/rating-display.stories.ts
Labels: web-components

#34490 fix: compound-button text colors in Windows high contrast mode
  change/@fluentui-web-components-848fb759-1e01-4df2-b8c8-dea81d054999.json
  packages/web-components/src/compound-button/compound-button.styles.ts
Labels: web-components

#34508 feat: react 18 slots conditional types for WithSlotRenderFunction
  packages/react-components/react-utilities/src/compose/types.ts
  packages/react-components/react-utilities/src/utils/types.ts
Labels: React 18

#34513 fix: updated rating-display icon color tokens to match the React version
  change/@fluentui-web-components-52c0d036-67c0-48ab-b1a8-4de0ea9d7137.json
  packages/web-components/src/rating-display/rating-display.spec.ts
  packages/web-components/src/rating-display/rating-display.styles.ts
Labels: web-components

#34511 fix(web-components): dialog click events prevent default
  change/@fluentui-web-components-bcec3960-1a82-4919-8a79-515c6dbd38cd.json
  packages/web-components/src/dialog/dialog.spec.ts
  packages/web-components/src/dialog/dialog.stories.ts
  packages/web-components/src/dialog/dialog.ts
Labels: web-components

#34474 fix(charts): update validation to tolerate invalid values + exclude them before rendering
  change/@fluentui-chart-utilities-acd079d7-f7e1-413b-af74-ece0bd5420f9.json
  change/@fluentui-react-charting-fa941c2a-cf03-4353-877b-af98601153ea.json
  packages/charts/chart-utilities/src/DecodeBase64Data.ts
  packages/charts/chart-utilities/src/PlotlySchemaConverter.ts
  packages/charts/react-charting/src/components/DeclarativeChart/PlotlySchemaAdapter.ts
  packages/charts/react-charting/src/components/DeclarativeChart/PlotlySchemaAdapterUT.test.tsx
Labels: Package: charting

#34524 fix(react-charting): enable rendering optimization for large datasets + clear large variables after use during image export
  change/@fluentui-react-charting-dad7cb9e-7b7a-4bf5-a73b-792ae9fa6a2e.json
  packages/charts/react-charting/src/components/DeclarativeChart/PlotlySchemaAdapter.ts
  packages/charts/react-charting/src/components/DeclarativeChart/__snapshots__/PlotlySchemaAdapterUT.test.tsx.snap
  packages/charts/react-charting/src/utilities/image-export-utils.ts
Labels: Package: charting

#34542 Extended-tokens: Add Kumo semantic theme (TEMPORARY - REMOVE BEFORE MERGE TO MASTER)
  change/@fluentui-react-storybook-addon-c9a2a07b-3285-40b5-820a-ddcb8b185189.json
  packages/react-components/react-storybook-addon/etc/react-storybook-addon.api.md
  packages/react-components/react-storybook-addon/package.json
  packages/react-components/react-storybook-addon/project.json
  packages/react-components/react-storybook-addon/src/decorators/withFluentProvider.tsx
  packages/react-components/react-storybook-addon/src/theme.ts
  packages/semantic-tokens/etc/semantic-tokens.api.md
  packages/semantic-tokens/scripts/tokenGen.ts
  packages/semantic-tokens/src/index.ts
  packages/semantic-tokens/src/themes/kumoTheme.ts
Labels: NX: core

#34547 chore(react-18-tests-v9): add more issue examples
  apps/react-18-tests-v9/src/issues.tsx
Labels: React 18
