Repository microsoft/fluentui, pull requests merged in 2025-04, with the labels that each got.

#34060 fix(react-tabs): fix active tab indicator animation
  change/@fluentui-react-tabs-a6fc5216-fff0-4797-8b51-29ea6b6e1455.json
  packages/react-components/react-tabs/library/src/components/Tab/useTabAnimatedIndicator.styles.ts
Labels: Type: Bug :bug:, Fluent UI react-components (v9), Component: TabList

#33909 feat(react-charts): Migrate VSBC to V9
  change/@fluentui-react-charts-1780d81e-b440-40b8-898f-9ddeab9e4f0d.json
  packages/charts/react-charts/library/etc/react-charts.api.md
  packages/charts/react-charts/library/src/VerticalStackedBarChart.ts
  packages/charts/react-charts/library/src/components/CommonComponents/CartesianChart.types.ts
  packages/charts/react-charts/library/src/components/VerticalStackedBarChart/VerticalStackedBarChart.tsx
  packages/charts/react-charts/library/src/components/VerticalStackedBarChart/VerticalStackedBarChart.types.ts
  packages/charts/react-charts/library/src/components/VerticalStackedBarChart/index.ts
  packages/charts/react-charts/library/src/components/VerticalStackedBarChart/useVerticalStackedBarChartStyles.styles.ts
  packages/charts/react-charts/library/src/index.ts
  packages/charts/react-charts/library/src/types/DataPoint.ts
  packages/charts/react-charts/stories/src/VerticalStackedBarChart/VerticalStackedBarChartAxisTooltip.stories.tsx
  packages/charts/react-charts/stories/src/VerticalStackedBarChart/VerticalStackedBarChartBestPractices.md
  packages/charts/react-charts/stories/src/VerticalStackedBarChart/VerticalStackedBarChartCallout.stories.tsx
  packages/charts/react-charts/stories/src/VerticalStackedBarChart/VerticalStackedBarChartCustomAccessibility.stories.tsx
  packages/charts/react-charts/stories/src/VerticalStackedBarChart/VerticalStackedBarChartDateAxis.stories.tsx
  packages/charts/react-charts/stories/src/VerticalStackedBarChart/VerticalStackedBarChartDefault.stories.tsx
  packages/charts/react-charts/stories/src/VerticalStackedBarChart/VerticalStackedBarChartDescription.md
  packages/charts/react-charts/stories/src/VerticalStackedBarChart/index.stories.tsx
Labels: Package: charting

#34095 feat(react-charts): add HeatMapChart in v9
  change/@fluentui-react-charts-320b03b3-590c-4a99-b768-51aa747ba2df.json
  packages/charts/react-charts/library/etc/react-charts.api.md
  packages/charts/react-charts/library/package.json
  packages/charts/react-charts/library/src/HeatMapChart.ts
  packages/charts/react-charts/library/src/components/HeatMapChart/HeatMapChart.test.tsx
  packages/charts/react-charts/library/src/components/HeatMapChart/HeatMapChart.tsx
  packages/charts/react-charts/library/src/components/HeatMapChart/HeatMapChart.types.ts
  packages/charts/react-charts/library/src/components/HeatMapChart/HeatMapChartRTL.test.tsx
  packages/charts/react-charts/library/src/components/HeatMapChart/__snapshots__/HeatMapChart.test.tsx.snap
  packages/charts/react-charts/library/src/components/HeatMapChart/__snapshots__/HeatMapChartRTL.test.tsx.snap
  packages/charts/react-charts/library/src/components/HeatMapChart/index.ts
  packages/charts/react-charts/library/src/components/HeatMapChart/useHeatMapChartStyles.styles.ts
  packages/charts/react-charts/library/src/index.ts
  packages/charts/react-charts/library/src/types/DataPoint.ts
  packages/charts/react-charts/library/src/utilities/__snapshots__/UtilityUnitTests.test.ts.snap
  packages/charts/react-charts/library/src/utilities/colors.ts
  packages/charts/react-charts/library/src/utilities/utilities.ts
  packages/charts/react-charts/stories/package.json
  packages/charts/react-charts/stories/src/HeatMapChart/HeatMapChartBasic.stories.tsx
  packages/charts/react-charts/stories/src/HeatMapChart/HeatMapChartCustomAccessibility.stories.tsx
  packages/charts/react-charts/stories/src/HeatMapChart/docs/HeatMapChartBestPractices.md
  packages/charts/react-charts/stories/src/HeatMapChart/docs/HeatMapChartDonts.md
  packages/charts/react-charts/stories/src/HeatMapChart/docs/HeatMapChartDos.md
  packages/charts/react-charts/stories/src/HeatMapChart/docs/HeatMapChartOverview.md
  packages/charts/react-charts/stories/src/HeatMapChart/index.stories.tsx
Labels: Package: charting

#34086 fix(react-tooltip): do not show tooltip if it's trigger has aria-expa…
  change/@fluentui-react-tooltip-cc9e74f2-a26d-4d38-ae22-3e4247792978.json
  packages/react-components/react-tooltip/library/src/components/Tooltip/useTooltip.tsx
Labels: Area: Accessibility, Component: Tooltip, Component: Popover

#34067 fix(chart-utilities): filter out invalid plotly data
  change/@fluentui-chart-utilities-6db8fbbf-7a4c-4c16-8ad0-dae592f57a2e.json
  change/@fluentui-react-charting-54c4ada9-8f79-4c17-b5fb-62283667e9d8.json
  packages/charts/chart-utilities/etc/chart-utilities.api.md
  packages/charts/chart-utilities/src/PlotlySchemaConverter.ts
  packages/charts/react-charting/src/components/DeclarativeChart/DeclarativeChart.tsx
Labels: Package: charting

#34155 ci: point bundle-size against default branch
  .github/workflows/bundle-size.yml
Labels: CI

#34152 chore: upload screenshots for failing tests
  .github/workflows/pr.yml
Labels: CI

#34121 Semantic-tokens: Add initial package
  .github/CODEOWNERS
  change/@fluentui-semantic-tokens-ab69ccc6-b777-4bb6-909a-c406cc6406d2.json
  nx.json
  packages/semantic-tokens/.babelrc.json
  packages/semantic-tokens/.eslintrc.json
  packages/semantic-tokens/.swcrc
  packages/semantic-tokens/CHANGELOG.json
  packages/semantic-tokens/CHANGELOG.md
  packages/semantic-tokens/LICENSE
  packages/semantic-tokens/README.md
  packages/semantic-tokens/config/api-extractor.json
  packages/semantic-tokens/config/tests.js
  packages/semantic-tokens/etc/semantic-tokens.api.md
  packages/semantic-tokens/jest.config.js
  packages/semantic-tokens/package.json
  packages/semantic-tokens/playwright.config.ts
  packages/semantic-tokens/project.json
  packages/semantic-tokens/scripts/server.js
  packages/semantic-tokens/scripts/test-esm.html
  packages/semantic-tokens/src/index.ts
  packages/semantic-tokens/src/native-esm.spec-e2e.ts
  packages/semantic-tokens/tsconfig.e2e.json
  packages/semantic-tokens/tsconfig.json
  packages/semantic-tokens/tsconfig.lib.json
  packages/semantic-tokens/tsconfig.spec.json
  tsconfig.base.all.json
  tsconfig.base.json
  tsconfig.base.wc.json
Labels: CI, NX: core

#34162 feat(react-charts): add SankeyChart in v9
  change/@fluentui-react-charts-225e5339-202a-427e-9291-92305b167355.json
  packages/charts/react-charts/library/etc/react-charts.api.md
  packages/charts/react-charts/library/src/SankeyChart.ts
  packages/charts/react-charts/library/src/components/SankeyChart/SankeyChart.test.tsx
  packages/charts/react-charts/library/src/components/SankeyChart/SankeyChart.tsx
  packages/charts/react-charts/library/src/components/SankeyChart/SankeyChart.types.ts
  packages/charts/react-charts/library/src/components/SankeyChart/SankeyChartRTL.test.tsx
  packages/charts/react-charts/library/src/components/SankeyChart/__snapshots__/SankeyChart.test.tsx.snap
  packages/charts/react-charts/library/src/components/SankeyChart/__snapshots__/SankeyChartRTL.test.tsx.snap
  packages/charts/react-charts/library/src/components/SankeyChart/index.ts
  packages/charts/react-charts/library/src/components/SankeyChart/useSankeyChartStyles.styles.ts
  packages/charts/react-charts/library/src/index.ts
  packages/charts/react-charts/library/src/types/DataPoint.ts
  packages/charts/react-charts/library/src/utilities/string.ts
  packages/charts/react-charts/stories/src/SankeyChart/SankeyChartBasic.stories.tsx
  packages/charts/react-charts/stories/src/SankeyChart/SankeyChartInbox.stories.tsx
  packages/charts/react-charts/stories/src/SankeyChart/SankeyChartRebalance.stories.tsx
  packages/charts/react-charts/stories/src/SankeyChart/docs/SankeyChartBestPractices.md
  packages/charts/react-charts/stories/src/SankeyChart/docs/SankeyChartDonts.md
  packages/charts/react-charts/stories/src/SankeyChart/docs/SankeyChartDos.md
  packages/charts/react-charts/stories/src/SankeyChart/docs/SankeyChartOverview.md
  packages/charts/react-charts/stories/src/SankeyChart/index.stories.tsx
Labels: Package: charting

#34183 fix(react-charts): Replace plotly schema interface and conversion logic with chart-utilities package
  change/@fluentui-chart-utilities-2f76aad3-fb24-4f5c-8f8d-54b8b5be0982.json
  change/@fluentui-react-charts-6b1be043-8ec2-43e6-b09c-7ae96601045e.json
  packages/charts/chart-utilities/config/api-extractor.json
  packages/charts/chart-utilities/etc/chart-utilities.api.md
  packages/charts/chart-utilities/package.json
  packages/charts/chart-utilities/project.json
  packages/charts/chart-utilities/src/DecodeBase64Data.ts
  packages/charts/chart-utilities/src/PlotlySchemaConverter.ts
  packages/charts/chart-utilities/tsconfig.json
  packages/charts/chart-utilities/tsconfig.lib.json
  packages/charts/chart-utilities/tsconfig.spec.json
  packages/charts/react-charts/library/package.json
  packages/charts/react-charts/library/src/components/DeclarativeChart/DeclarativeChart.tsx
  packages/charts/react-charts/library/src/components/DeclarativeChart/PlotlySchema.ts
  packages/charts/react-charts/library/src/components/DeclarativeChart/PlotlySchemaAdapter.ts
  tsconfig.base.json
Labels: NX: core

#34188 fix(react-charting): handle blank donut chart when labels exist without corresponding values in plotly json
  change/@fluentui-react-charting-13afcd7d-f890-49b1-8dc6-59ca95175e60.json
  packages/charts/react-charting/src/components/DeclarativeChart/PlotlySchemaAdapter.ts
Labels: Package: charting

#33551 Fix broken link to migration overview page in README
  README.md
Labels: Area: Documentation

#34179 chore(ci): delete old bundlesize and VR ADO pipelines
  .devops/templates/runpublishvrscreenshot.yml
  azure-pipelines.bundlesize.yml
  azure-pipelines.vrt-baseline.yml
  azure-pipelines.vrt-pr.yml
Labels: CI

#34195 feat(react-charts): port all declarative chart changes from v8 to v9
  change/@fluentui-react-charts-422a5491-ece8-4417-9e03-346bd75c5537.json
  packages/charts/react-charts/library/etc/react-charts.api.md
  packages/charts/react-charts/library/src/components/AreaChart/AreaChart.tsx
  packages/charts/react-charts/library/src/components/DeclarativeChart/DeclarativeChart.tsx
  packages/charts/react-charts/library/src/components/DeclarativeChart/DeclarativeChartRTL.test.tsx
  packages/charts/react-charts/library/src/components/DeclarativeChart/PlotlySchemaAdapter.ts
  packages/charts/react-charts/library/src/components/DeclarativeChart/PlotlySchemaAdapterUT.test.tsx
  packages/charts/react-charts/library/src/components/DeclarativeChart/__snapshots__/DeclarativeChartRTL.test.tsx.snap
  packages/charts/react-charts/library/src/components/DeclarativeChart/__snapshots__/PlotlySchemaAdapterUT.test.tsx.snap
  packages/charts/react-charts/library/src/components/DeclarativeChart/tests/schema/fluent_area_test.json
  packages/charts/react-charts/library/src/components/DeclarativeChart/tests/schema/fluent_donut_test.json
  packages/charts/react-charts/library/src/components/DeclarativeChart/tests/schema/fluent_gauge_test.json
  packages/charts/react-charts/library/src/components/DeclarativeChart/tests/schema/fluent_groupedverticalbarchart_test.json
  packages/charts/react-charts/library/src/components/DeclarativeChart/tests/schema/fluent_heatmap_test.json
  packages/charts/react-charts/library/src/components/DeclarativeChart/tests/schema/fluent_horizontalbar_test.json
  packages/charts/react-charts/library/src/components/DeclarativeChart/tests/schema/fluent_line_test.json
  packages/charts/react-charts/library/src/components/DeclarativeChart/tests/schema/fluent_nesteddata_test.json
  packages/charts/react-charts/library/src/components/DeclarativeChart/tests/schema/fluent_pie_test.json
  packages/charts/react-charts/library/src/components/DeclarativeChart/tests/schema/fluent_sankey_test.json
  packages/charts/react-charts/library/src/components/DeclarativeChart/tests/schema/fluent_verticalbar_histogram_test.json
  packages/charts/react-charts/library/src/components/DeclarativeChart/tests/schema/fluent_verticalbar_test.json
  packages/charts/react-charts/library/src/components/DeclarativeChart/tests/schema/fluent_verticalstackedbarchart_test.json
  packages/charts/react-charts/library/src/components/GaugeChart/GaugeChart.tsx
  packages/charts/react-charts/library/src/components/GaugeChart/GaugeChart.types.ts
  packages/charts/react-charts/library/src/components/GroupedVerticalBarChart/GroupedVerticalBarChart.tsx
  packages/charts/react-charts/library/src/components/HorizontalBarChartWithAxis/HorizontalBarChartWithAxis.tsx
  packages/charts/react-charts/library/src/components/ScatterChart/ScatterChart.tsx
  packages/charts/react-charts/library/src/components/VerticalStackedBarChart/VerticalStackedBarChart.tsx
  packages/charts/react-charts/stories/src/DeclarativeChart/DeclarativeChartDefault.stories.tsx
Labels: Package: charting

#34207 clean up CODEOWNERS
  .github/CODEOWNERS
Labels: CI

#34209 feat(react-charts): add support for line curves
  change/@fluentui-react-charting-66fe86c8-2294-49b1-b566-fced086bfcb7.json
  change/@fluentui-react-charts-8893b813-2605-4d33-8af0-0c9d1d1a9c4e.json
  packages/charts/react-charting/src/components/DeclarativeChart/PlotlySchemaAdapter.ts
  packages/charts/react-charting/src/components/DeclarativeChart/__snapshots__/DeclarativeChartRTL.test.tsx.snap
  packages/charts/react-charting/src/components/DeclarativeChart/__snapshots__/PlotlySchemaAdapterUT.test.tsx.snap
  packages/charts/react-charting/src/utilities/utilities.ts
  packages/charts/react-charts/library/src/components/DeclarativeChart/PlotlySchemaAdapter.ts
  packages/charts/react-charts/library/src/components/DeclarativeChart/__snapshots__/PlotlySchemaAdapterUT.test.tsx.snap
  packages/charts/react-charts/library/src/components/LineChart/LineChart.tsx
  packages/charts/react-charts/library/src/utilities/utilities.ts
Labels: Package: charting

#34213 feat(react-charts): center align bars with auto barWidth in plotly mode
  change/@fluentui-react-charts-1c85af63-1959-4ef3-87f0-1e628b5f8a4c.json
  packages/charts/react-charts/library/etc/react-charts.api.md
  packages/charts/react-charts/library/src/components/DeclarativeChart/PlotlySchemaAdapter.ts
  packages/charts/react-charts/library/src/components/DeclarativeChart/__snapshots__/PlotlySchemaAdapterUT.test.tsx.snap
  packages/charts/react-charts/library/src/components/VerticalBarChart/VerticalBarChart.tsx
  packages/charts/react-charts/library/src/components/VerticalBarChart/VerticalBarChart.types.ts
Labels: Package: charting

#34211 feat: setup react 18 integration type checking
  .github/workflows/pr.yml
  apps/react-18-tests-v9/README.md
  apps/react-18-tests-v9/package.json
  apps/react-18-tests-v9/project.json
  apps/react-18-tests-v9/tsconfig.react-18.json
Labels: React 18, CI, NX: core

#34216 Component selector/init
  .github/CODEOWNERS
  packages/react-components/component-selector-preview/library/.babelrc.json
  packages/react-components/component-selector-preview/library/.eslintrc.json
  packages/react-components/component-selector-preview/library/.swcrc
  packages/react-components/component-selector-preview/library/LICENSE
  packages/react-components/component-selector-preview/library/README.md
  packages/react-components/component-selector-preview/library/config/api-extractor.json
  packages/react-components/component-selector-preview/library/config/tests.js
  packages/react-components/component-selector-preview/library/docs/Spec.md
  packages/react-components/component-selector-preview/library/etc/component-selector-preview.api.md
  packages/react-components/component-selector-preview/library/jest.config.js
  packages/react-components/component-selector-preview/library/package.json
  packages/react-components/component-selector-preview/library/project.json
  packages/react-components/component-selector-preview/library/src/index.ts
  packages/react-components/component-selector-preview/library/src/testing/isConformant.ts
  packages/react-components/component-selector-preview/library/tsconfig.json
  packages/react-components/component-selector-preview/library/tsconfig.lib.json
  packages/react-components/component-selector-preview/library/tsconfig.spec.json
  packages/react-components/component-selector-preview/stories/.eslintrc.json
  packages/react-components/component-selector-preview/stories/.storybook/main.js
  packages/react-components/component-selector-preview/stories/.storybook/preview.js
  packages/react-components/component-selector-preview/stories/.storybook/tsconfig.json
  packages/react-components/component-selector-preview/stories/README.md
  packages/react-components/component-selector-preview/stories/package.json
  packages/react-components/component-selector-preview/stories/project.json
  packages/react-components/component-selector-preview/stories/src/.gitkeep
  packages/react-components/component-selector-preview/stories/src/ComponentSelector/Default.stories.tsx
  packages/react-components/component-selector-preview/stories/src/ComponentSelector/index.stories.tsx
  packages/react-components/component-selector-preview/stories/src/index.ts
  packages/react-components/component-selector-preview/stories/tsconfig.json
  packages/react-components/component-selector-preview/stories/tsconfig.lib.json
  tsconfig.base.all.json
  tsconfig.base.json
Labels: CI, NX: core

#34208 fix(react-charts): remove duplicate legends + resolve overlapping bars across legends in VBC
  change/@fluentui-react-charts-af723f14-6638-4c66-9763-62a4dd386ebd.json
  packages/charts/react-charts/library/src/components/VerticalBarChart/VerticalBarChart.tsx
  packages/charts/react-charts/library/src/components/VerticalBarChart/__snapshots__/VerticalBarChartRTL.test.tsx.snap
Labels: Package: charting

#33838 feat(storybook): implement argTypeEnhancers for improved Slot API docs rendering
  apps/public-docsite-v9/src/DocsComponents/FluentDocsPage.stories.tsx
Labels: Area: Documentation, Fluent UI react-components (v9)

#34214 fix(react-swatch-picker): design change of selected state for ColorSwatch
  change/@fluentui-react-swatch-picker-9a3c1595-b8f0-4556-889c-6c515243b67b.json
  packages/react-components/react-swatch-picker/library/src/components/ColorSwatch/useColorSwatchStyles.styles.ts
Labels: Component: SwatchPicker

#34229 fix(charts): map stacked plotly scatter traces to area chart
  change/@fluentui-chart-utilities-69dc0acf-176f-4ca1-aad0-08d614be94f9.json
  change/@fluentui-react-charting-ffc61944-47d7-4b57-922f-f14ea8b28cbe.json
  change/@fluentui-react-charts-a1121a7e-ec82-4ff5-baec-583f5539256d.json
  packages/charts/chart-utilities/src/PlotlySchemaConverter.ts
  packages/charts/react-charting/src/components/DeclarativeChart/DeclarativeChart.tsx
  packages/charts/react-charts/library/src/components/DeclarativeChart/DeclarativeChart.tsx
Labels: Package: charting

#34230 fix(chart-utilities): map plotly histogram2d trace to heatmap chart
  change/@fluentui-chart-utilities-9dbe5882-5697-42b6-a112-9c95d2884824.json
  packages/charts/chart-utilities/src/PlotlySchemaConverter.ts
Labels: Package: charting

#34225 tests(e2e): upgrade Cypress to version 14 for React 18 v9 tests
  apps/react-18-tests-v8/package.json
  apps/react-18-tests-v9/cypress-react-18.config.ts
  apps/react-18-tests-v9/package.json
  package.json
  scripts/cypress/src/base.config.ts
  yarn.lock
Labels: React 18

#34151 chore: update tests in Tree.cy.tsx and enable in R18 suite
  packages/react-components/react-tree/library/src/components/Tree/Tree.cy.tsx
Labels: React 18

#34194 fix(fluent-provider): fix infinite loop caused by hydration errors in React 18
  change/@fluentui-react-provider-64261936-b07d-4648-bd52-ab5fbd320299.json
  packages/react-components/react-provider/library/src/components/FluentProvider/useFluentProviderThemeStyleTag.ts
Labels: Type: Bug :bug:, Area: SSR, Component: FluentProvider, React 18

#34240 feat(charts): transform plotly histogram2d trace to heatmap props
  change/@fluentui-chart-utilities-7c7c99ea-977f-40f9-b660-0565ffb21f87.json
  change/@fluentui-react-charting-1892fc62-e4f1-4fa8-b1b7-a14c7475a14d.json
  change/@fluentui-react-charts-ea878703-eb76-430f-a108-da0a1503e2a4.json
  packages/charts/chart-utilities/etc/chart-utilities.api.md
  packages/charts/chart-utilities/src/PlotlySchema.ts
  packages/charts/react-charting/src/components/DeclarativeChart/PlotlySchemaAdapter.ts
  packages/charts/react-charting/src/components/DeclarativeChart/__snapshots__/DeclarativeChartRTL.test.tsx.snap
  packages/charts/react-charting/src/components/DeclarativeChart/__snapshots__/PlotlySchemaAdapterUT.test.tsx.snap
  packages/charts/react-charting/src/components/VerticalBarChart/VerticalBarChart.base.tsx
  packages/charts/react-charting/src/components/VerticalBarChart/__snapshots__/VerticalBarChartRTL.test.tsx.snap
  packages/charts/react-charts/library/src/components/DeclarativeChart/PlotlySchemaAdapter.ts
  packages/charts/react-charts/library/src/components/DeclarativeChart/__snapshots__/PlotlySchemaAdapterUT.test.tsx.snap
Labels: Package: charting

#34219 fix(web-components): dropdown validation message not displaying correctly
  change/@fluentui-web-components-3b4f92ca-054e-418a-88de-52898a8c9d39.json
  packages/web-components/docs/web-components.api.md
  packages/web-components/src/dropdown/dropdown.base.ts
  packages/web-components/src/dropdown/dropdown.spec.ts
  packages/web-components/src/dropdown/dropdown.stories.ts
Labels: web-components

#34253 chore: update useToastContainer callback type to support React 18
  change/@fluentui-react-toast-cbded794-db1e-498e-8a1c-86d8dc1c8f68.json
  packages/react-components/react-toast/library/src/components/ToastContainer/useToastContainer.ts
Labels: React 18

#34247 feat(react-19-tests-v9): bootstrap react 19 integration testing app
  .github/CODEOWNERS
  .github/workflows/pr.yml
  apps/react-19-tests-v9/.eslintrc.json
  apps/react-19-tests-v9/README.md
  apps/react-19-tests-v9/config/tests.js
  apps/react-19-tests-v9/cypress-react-19.config.ts
  apps/react-19-tests-v9/cypress.config.ts
  apps/react-19-tests-v9/jest.config.js
  apps/react-19-tests-v9/just.config.ts
  apps/react-19-tests-v9/package.json
  apps/react-19-tests-v9/project.json
  apps/react-19-tests-v9/src/components/Dialog/Dialog.cy.tsx
  apps/react-19-tests-v9/src/components/Menu/Menu.cy.tsx
  apps/react-19-tests-v9/src/components/Overflow/Overflow.cy.tsx
  apps/react-19-tests-v9/src/components/Popover/Popover.cy.tsx
  apps/react-19-tests-v9/src/components/Popover/Popover.test.tsx
  apps/react-19-tests-v9/src/components/Popover/Popover.tsx
  apps/react-19-tests-v9/src/components/Provider/Provider.cy.tsx
  apps/react-19-tests-v9/src/components/Provider/Provider.test.tsx
  apps/react-19-tests-v9/src/components/Provider/Provider.tsx
  apps/react-19-tests-v9/src/index.tsx
  apps/react-19-tests-v9/src/utils/motion/createPresenceComponent.test.tsx
  apps/react-19-tests-v9/tsconfig.app.json
  apps/react-19-tests-v9/tsconfig.cy.json
  apps/react-19-tests-v9/tsconfig.json
  apps/react-19-tests-v9/tsconfig.react-19.json
  apps/react-19-tests-v9/tsconfig.spec.json
  apps/react-19-tests-v9/webpack.config.js
  yarn.lock
Labels: CI, NX: core, React 19

#34258 [fix] tree-item bugs
  change/@fluentui-web-components-05138dd2-442b-4395-9b03-37eed7665793.json
  packages/web-components/src/tree-item/tree-item.base.ts
  packages/web-components/src/tree-item/tree-item.spec.ts
  packages/web-components/src/tree-item/tree-item.stories.ts
  packages/web-components/src/tree-item/tree-item.template.ts
  packages/web-components/src/tree/tree.base.ts
  packages/web-components/src/tree/tree.spec.ts
  packages/web-components/src/tree/tree.stories.ts
  packages/web-components/src/tree/tree.template.ts
Labels: web-components

#34265 feat(react-charting): add histogram mode to vertical bar chart
  change/@fluentui-react-charting-b20301d2-ca26-47d4-87c2-b25cecf5934b.json
  packages/charts/react-charting/etc/react-charting.api.md
  packages/charts/react-charting/src/components/CommonComponents/CartesianChart.base.tsx
  packages/charts/react-charting/src/components/CommonComponents/CartesianChart.types.ts
  packages/charts/react-charting/src/components/DeclarativeChart/PlotlySchemaAdapter.ts
  packages/charts/react-charting/src/components/DeclarativeChart/__snapshots__/PlotlySchemaAdapterUT.test.tsx.snap
  packages/charts/react-charting/src/components/GroupedVerticalBarChart/GroupedVerticalBarChart.base.tsx
  packages/charts/react-charting/src/components/VerticalBarChart/VerticalBarChart.base.tsx
  packages/charts/react-charting/src/components/VerticalBarChart/VerticalBarChart.types.ts
  packages/charts/react-charting/src/components/VerticalStackedBarChart/VerticalStackedBarChart.base.tsx
  packages/charts/react-charting/src/utilities/utilities.ts
  packages/charts/react-charting/src/utilities/vbc-utils.ts
Labels: Package: charting

#34251 chore: change React.FC to React.FC<React.PropsWithChildren> to support React 18
  change/@fluentui-react-storybook-addon-279c334d-3963-4030-a3a0-2ae922e7a1f8.json
  change/@fluentui-react-tag-picker-f1155089-92bf-4777-bf21-24a3aca954e3.json
  change/@fluentui-react-toast-8d145448-6bc8-4611-800d-f5caaa3574c0.json
  packages/react-components/react-accordion/library/src/components/AccordionHeader/useAccordionHeader.test.tsx
  packages/react-components/react-accordion/library/src/components/AccordionPanel/AccordionPanel.test.tsx
  packages/react-components/react-aria/library/src/AriaLiveAnnouncer/useAriaLiveAnnouncer.test.tsx
  packages/react-components/react-avatar/library/src/components/AvatarGroupItem/AvatarGroupItem.test.tsx
  packages/react-components/react-breadcrumb/stories/src/Breadcrumb/index.stories.tsx
  packages/react-components/react-context-selector/src/useContextSelector.test.tsx
  packages/react-components/react-context-selector/src/useHasParentContext.test.tsx
  packages/react-components/react-list/library/src/components/List/List.cy.tsx
  packages/react-components/react-motion/library/src/factories/createPresenceComponent.test.tsx
  packages/react-components/react-motion/library/src/hooks/useIsReducedMotion.test.tsx
  packages/react-components/react-motion/library/src/slots/presenceMotionSlot.test.tsx
  packages/react-components/react-nav-preview/library/src/components/NavSubItemGroup/NavSubItemGroup.test.tsx
  packages/react-components/react-overflow/library/src/useOverflowItem.test.tsx
  packages/react-components/react-portal-compat/src/PortalCompatProvider.test.tsx
  packages/react-components/react-portal/library/src/components/Portal/usePortalMountNode.test.tsx
  packages/react-components/react-provider/library/src/components/FluentProvider/useFluentProvider.test.tsx
  packages/react-components/react-storybook-addon/src/decorators/withFluentProvider.tsx
  packages/react-components/react-table/library/src/components/DataGridRow/DataGridRow.test.tsx
  packages/react-components/react-tabster/src/hooks/useFocusVisible.test.tsx
  packages/react-components/react-tag-picker/library/src/components/TagPickerButton/useTagPickerButton.tsx
  packages/react-components/react-tag-picker/library/src/components/TagPickerGroup/TagPickerGroup.test.tsx
  packages/react-components/react-tag-picker/library/src/components/TagPickerList/TagPickerList.test.tsx
  packages/react-components/react-tags/library/src/components/Tag/useTag.test.tsx
  packages/react-components/react-toast/library/src/components/AriaLive/AriaLive.types.ts
  packages/react-components/react-tree/library/src/components/TreeItemLayout/TreeItemLayout.test.tsx
  packages/react-components/react-tree/library/src/components/TreeItemPersonaLayout/TreeItemPersonaLayout.test.tsx
  packages/react-components/react-utilities/src/hooks/useId.test.tsx
  packages/react-components/react-utilities/src/trigger/applyTriggerPropsToChildren.test.tsx
  packages/react-components/react-utilities/src/trigger/getTriggerChild.test.tsx
  packages/react-components/recipes/src/recipes/media-object/code-snippets/MediaObject.tsx
  packages/react-components/recipes/src/templates/Example.tsx
Labels: Fluent UI react-components (v9), React 18

#34185 fix(web-components): fix tas animation starting position
  change/@fluentui-web-components-27b27577-deab-4368-b275-7a9f5c47045f.json
  packages/web-components/src/tabs/tabs.ts
Labels: web-components

#34282 Users/jes/tree expansion
  change/@fluentui-web-components-518be343-8367-40e9-8214-f456b8fc0de3.json
  packages/web-components/src/tree-item/tree-item.base.ts
  packages/web-components/src/tree-item/tree-item.spec.ts
  packages/web-components/src/tree/tree.stories.ts
Labels: web-components

#34283 feat(web-components): create custom elements manifest for web components project
  change/@fluentui-web-components-712d19ac-cecc-4674-a955-28e95a3fb602.json
  packages/web-components/.gitignore
  packages/web-components/README.md
  packages/web-components/custom-elements-manifest.config.js
  packages/web-components/docs/web-components.api.md
  packages/web-components/package.json
  packages/web-components/src/accordion-item/accordion-item.ts
  packages/web-components/src/accordion/accordion.ts
  packages/web-components/src/anchor-button/anchor-button.ts
  packages/web-components/src/avatar/avatar.ts
  packages/web-components/src/badge/badge.ts
  packages/web-components/src/button/button.ts
  packages/web-components/src/checkbox/checkbox.ts
  packages/web-components/src/compound-button/compound-button.ts
  packages/web-components/src/counter-badge/counter-badge.ts
  packages/web-components/src/dialog-body/dialog-body.ts
  packages/web-components/src/dialog/dialog.ts
  packages/web-components/src/divider/divider.ts
  packages/web-components/src/drawer-body/drawer-body.ts
  packages/web-components/src/drawer/drawer.ts
  packages/web-components/src/dropdown/dropdown.ts
  packages/web-components/src/field/field.ts
  packages/web-components/src/image/image.ts
  packages/web-components/src/label/label.ts
  packages/web-components/src/link/link.ts
  packages/web-components/src/listbox/listbox.ts
  packages/web-components/src/menu-button/menu-button.ts
  packages/web-components/src/menu-item/menu-item.ts
  packages/web-components/src/menu-list/menu-list.ts
  packages/web-components/src/menu/menu.ts
  packages/web-components/src/message-bar/message-bar.ts
  packages/web-components/src/option/option.ts
  packages/web-components/src/progress-bar/progress-bar.ts
  packages/web-components/src/radio-group/radio-group.ts
  packages/web-components/src/radio/radio.ts
  packages/web-components/src/rating-display/rating-display.ts
  packages/web-components/src/slider/slider.ts
  packages/web-components/src/spinner/spinner.ts
  packages/web-components/src/switch/switch.ts
  packages/web-components/src/tab-panel/tab-panel.ts
  packages/web-components/src/tab/tab.ts
  packages/web-components/src/tablist/tablist.ts
  packages/web-components/src/tabs/tabs.ts
  packages/web-components/src/text-input/text-input.ts
  packages/web-components/src/text/text.ts
  packages/web-components/src/textarea/textarea.ts
  packages/web-components/src/toggle-button/toggle-button.ts
  packages/web-components/src/tooltip/tooltip.ts
  packages/web-components/src/tree-item/tree-item.ts
  packages/web-components/src/tree/tree.ts
  packages/web-components/tsdoc.json
  yarn.lock
Labels: web-components

#34154 chore: slot api react v17/18 support
  change/@fluentui-react-accordion-70e37d4f-804b-494a-9d94-31840668c018.json
  change/@fluentui-react-aria-7315db23-bdae-4372-8c87-60449326a492.json
  change/@fluentui-react-dialog-ca8b08cc-1dd4-48ef-bca4-dbc92125076d.json
  change/@fluentui-react-drawer-e41fbdeb-e121-4581-b878-3e5b347014d2.json
  change/@fluentui-react-menu-0ff32a7c-9022-4bb0-a248-a264c594dd8d.json
  change/@fluentui-react-migration-v0-v9-cd6b824f-ed5f-42f2-a7f1-7dc092156272.json
  change/@fluentui-react-motion-144e4fd8-32af-4d8f-884f-0fc35f3fc444.json
  change/@fluentui-react-search-85a9961d-3d0a-436a-95a5-ebf0cc3e8078.json
  change/@fluentui-react-table-23e6ee8d-8a67-46de-b73b-f91e33ff9620.json
  change/@fluentui-react-tabs-82a0e2be-25f8-446a-ad2f-0a7eea97d9b3.json
  change/@fluentui-react-tag-picker-8e7b7750-4364-47ef-882a-6a1fe583a08f.json
  change/@fluentui-react-toast-b8edc307-0cbe-4c48-a497-983989809ad7.json
  change/@fluentui-react-tree-050271d4-8526-4aaa-a0ec-3f009240b858.json
  change/@fluentui-react-utilities-158b5bca-5551-4171-a402-6023509a0626.json
  change/@fluentui-react-virtualizer-66488148-0108-4253-a5e2-c4b61e9dc30b.json
  packages/react-components/react-accordion/library/src/components/AccordionPanel/useAccordionPanel.ts
  packages/react-components/react-aria/library/etc/react-aria.api.md
  packages/react-components/react-aria/library/src/button/types.ts
  packages/react-components/react-aria/library/src/button/useARIAButtonShorthand.ts
  packages/react-components/react-dialog/library/src/components/Dialog/useDialog.ts
  packages/react-components/react-dialog/library/src/components/DialogSurface/useDialogSurface.ts
  packages/react-components/react-drawer/library/src/components/DrawerHeaderTitle/useDrawerHeaderTitleStyles.styles.ts
  packages/react-components/react-jsx-runtime/src/interop.test.tsx
  packages/react-components/react-menu/library/src/components/MenuItem/useMenuItem.tsx
  packages/react-components/react-menu/library/src/components/MenuItemLink/useMenuItemLink.ts
  packages/react-components/react-menu/library/src/components/MenuItemSwitch/useMenuItemSwitch.tsx
  packages/react-components/react-menu/library/src/components/MenuItemSwitch/useMenuItemSwitchStyles.styles.ts
  packages/react-components/react-migration-v0-v9/library/etc/react-migration-v0-v9.api.md
  packages/react-components/react-motion/library/src/slots/presenceMotionSlot.tsx
  packages/react-components/react-provider/stories/src/Provider/FluentProviderFrame.stories.tsx
  packages/react-components/react-search/library/src/components/SearchBox/useSearchBox.tsx
  packages/react-components/react-table/library/src/components/DataGridBody/DataGridBody.tsx
  packages/react-components/react-table/library/src/components/DataGridRow/DataGridRow.tsx
  packages/react-components/react-table/library/src/components/DataGridRow/useDataGridRow.tsx
  packages/react-components/react-table/library/src/components/TableCellLayout/useTableCellLayout.ts
  packages/react-components/react-table/library/src/components/TableSelectionCell/useTableSelectionCell.tsx
  packages/react-components/react-tabs/library/src/components/Tab/useTab.ts
  packages/react-components/react-tag-picker/library/src/components/TagPickerOption/useTagPickerOption.ts
  packages/react-components/react-toast/library/src/components/ToastContainer/useToastContainer.ts
  packages/react-components/react-tree/library/src/hooks/useRootTree.ts
  packages/react-components/react-tree/library/src/hooks/useSubtree.ts
  packages/react-components/react-utilities/etc/react-utilities.api.md
  packages/react-components/react-utilities/src/compose/assertSlots.ts
  packages/react-components/react-utilities/src/compose/deprecated/getSlots.ts
  packages/react-components/react-utilities/src/compose/deprecated/getSlotsNext.ts
  packages/react-components/react-utilities/src/compose/deprecated/resolveShorthand.ts
  packages/react-components/react-utilities/src/compose/index.ts
  packages/react-components/react-utilities/src/compose/slot.ts
  packages/react-components/react-utilities/src/compose/types.ts
  packages/react-components/react-utilities/src/hooks/useMergedRefs.ts
  packages/react-components/react-utilities/src/index.ts
  packages/react-components/react-utilities/src/trigger/applyTriggerPropsToChildren.ts
  packages/react-components/react-utilities/src/utils/types.ts
  packages/react-components/react-virtualizer/library/src/components/VirtualizerScrollView/useVirtualizerScrollView.ts
  packages/react-components/react-virtualizer/library/src/components/VirtualizerScrollViewDynamic/useVirtualizerScrollViewDynamic.tsx
Labels: Fluent UI react-components (v9), React 18

#34307 chore: update pipeline config for vNext nightly release
  apps/react-18-tests-v9/tsconfig.react-18.json
  azure-pipelines.release-vnext-nightly.yml
Labels: React 18, CI

#34264 feat(react-18-tests-v8): add r18 integration pipelines for v8
  .github/workflows/pr.yml
  apps/react-18-tests-v8/.eslintrc.json
  apps/react-18-tests-v8/cypress-react-18.config.ts
  apps/react-18-tests-v8/cypress.config.ts
  apps/react-18-tests-v8/package.json
  apps/react-18-tests-v8/project.json
  apps/react-18-tests-v8/tsconfig.react-18.json
Labels: Fluent UI react (v8), React 18, CI, NX: core

#34304 docs(react-badge): added example of Color and Appearance together.
  packages/react-components/react-badge/stories/src/Badge/BadgeAppearance.stories.tsx
  packages/react-components/react-badge/stories/src/Badge/BadgeColorVsAppearance.stories.tsx
  packages/react-components/react-badge/stories/src/Badge/index.stories.tsx
Labels: Component: Badge

#34234 feature(web-components)：[TreeItem] support callback for expand change
  change/@fluentui-web-components-c20696f3-d570-4297-9cfb-153d63176092.json
  packages/web-components/src/tree-item/tree-item.base.ts
  packages/web-components/src/tree-item/tree-item.stories.ts
Labels: web-components

#34301 feat(react-charting): add support for secondary y-axis in cartesian charts
  change/@fluentui-react-charting-48941f58-a7d6-4ab9-84a0-8bec428a1c2d.json
  packages/charts/react-charting/etc/react-charting.api.md
  packages/charts/react-charting/src/components/AreaChart/AreaChart.base.tsx
  packages/charts/react-charting/src/components/CommonComponents/CartesianChart.base.tsx
  packages/charts/react-charting/src/components/CommonComponents/CartesianChart.types.ts
  packages/charts/react-charting/src/components/DeclarativeChart/PlotlySchemaAdapter.ts
  packages/charts/react-charting/src/components/DeclarativeChart/PlotlySchemaAdapterUT.test.tsx
  packages/charts/react-charting/src/components/DeclarativeChart/__snapshots__/PlotlySchemaAdapterUT.test.tsx.snap
  packages/charts/react-charting/src/components/GroupedVerticalBarChart/GroupedVerticalBarChart.base.tsx
  packages/charts/react-charting/src/components/GroupedVerticalBarChart/__snapshots__/GroupedVerticalBarChart.test.tsx.snap
  packages/charts/react-charting/src/components/GroupedVerticalBarChart/__snapshots__/GroupedVerticalBarChartRTL.test.tsx.snap
  packages/charts/react-charting/src/components/HeatMapChart/HeatMapChart.base.tsx
  packages/charts/react-charting/src/components/LineChart/LineChart.base.tsx
  packages/charts/react-charting/src/components/VerticalBarChart/VerticalBarChart.base.tsx
  packages/charts/react-charting/src/components/VerticalStackedBarChart/VerticalStackedBarChart.base.tsx
  packages/charts/react-charting/src/types/IDataPoint.ts
  packages/charts/react-charting/src/utilities/utilities.ts
  packages/react-examples/src/react-charting/AreaChart/AreaChart.SecondaryYAxis.Example.tsx
  packages/react-examples/src/react-charting/AreaChart/AreaChart.doc.tsx
  packages/react-examples/src/react-charting/AreaChart/AreaChartPage.tsx
  packages/react-examples/src/react-charting/AreaChart/index.stories.tsx
  packages/react-examples/src/react-charting/GroupedVerticalBarChart/GroupedVerticalBarChart.SecondaryYAxis.Example.tsx
  packages/react-examples/src/react-charting/GroupedVerticalBarChart/GroupedVerticalBarChart.doc.tsx
  packages/react-examples/src/react-charting/GroupedVerticalBarChart/GroupedVerticalBarChartPage.tsx
  packages/react-examples/src/react-charting/GroupedVerticalBarChart/index.stories.tsx
  packages/react-examples/src/react-charting/LineChart/LineChart.SecondaryYAxis.Example.tsx
  packages/react-examples/src/react-charting/LineChart/LineChart.doc.tsx
  packages/react-examples/src/react-charting/LineChart/LineChartPage.tsx
  packages/react-examples/src/react-charting/LineChart/index.stories.tsx
  packages/react-examples/src/react-charting/VerticalBarChart/VerticalBarChart.SecondaryYAxis.Example.tsx
  packages/react-examples/src/react-charting/VerticalBarChart/VerticalBarChart.doc.tsx
  packages/react-examples/src/react-charting/VerticalBarChart/VerticalBarChartPage.tsx
  packages/react-examples/src/react-charting/VerticalBarChart/index.stories.tsx
  packages/react-examples/src/react-charting/VerticalStackedBarChart/VerticalStackedBarChart.SecondaryYAxis.Example.tsx
  packages/react-examples/src/react-charting/VerticalStackedBarChart/VerticalStackedBarChart.doc.tsx
  packages/react-examples/src/react-charting/VerticalStackedBarChart/VerticalStackedBarChartPage.tsx
  packages/react-examples/src/react-charting/VerticalStackedBarChart/index.stories.tsx
Labels: Package: charting

#34281 fix(public-docsite-v9): add spacing between additional info section items
  apps/public-docsite-v9/src/DocsComponents/FluentDocsPage.stories.tsx
Labels: Area: Documentation

#34317 test(e2e): force React.StrictMode for v9 integration tests
  apps/react-18-tests-v9/config/cypressWithStrictMode.ts
  apps/react-18-tests-v9/cypress-react-18.config.ts
  apps/react-19-tests-v9/config/cypressWithStrictMode.ts
  apps/react-19-tests-v9/cypress-react-19.config.ts
Labels: React 18

#34316 test: migrate tests from enzyme to testing-library/react-test-renderer
  change/@fluentui-foundation-legacy-4fc6c4ad-d979-43c8-9a95-76a0c18d68d8.json
  change/@fluentui-react-experiments-076a9937-dd8b-4254-ab9e-14b0d7767f7f.json
  change/@fluentui-react-icons-mdl2-17cc26d9-27b2-4524-a440-327754df1cd3.json
  packages/foundation-legacy/src/slots.test.tsx
  packages/foundation-legacy/tsconfig.json
  packages/react-cards/src/components/Card/CardItem/CardItem.test.tsx
  packages/react-cards/src/components/Card/CardSection/CardSection.test.tsx
  packages/react-experiments/src/components/PersonaCoin/PersonaCoin.test.tsx
  packages/react-experiments/src/components/SelectedItemsList/SelectedItemsList.test.tsx
  packages/react-experiments/src/components/SelectedItemsList/SelectedPeopleList/SelectedPeopleList.test.tsx
  packages/react-experiments/src/components/Sidebar/Sidebar.test.tsx
  packages/react-experiments/src/components/Slider/Slider.test.tsx
  packages/react-experiments/src/components/UnifiedPicker/UnifiedPeoplePicker/UnifiedPeoplePicker.test.tsx
  packages/react-experiments/src/components/UnifiedPicker/UnifiedPicker.test.tsx
  packages/react-experiments/tsconfig.json
  packages/react-icons-mdl2/src/utils/createSvgIcon.test.tsx
  packages/react-icons-mdl2/tsconfig.json
  packages/utilities/src/asAsync.test.tsx
  packages/utilities/src/createMergedRef.test.tsx
  packages/utilities/src/customizations/Customizer.test.tsx
  packages/utilities/src/customizations/customizable.test.tsx
  packages/utilities/src/customizations/useCustomizationSettings.test.tsx
  packages/utilities/src/extendComponent.test.tsx
  packages/utilities/src/initializeComponentRef.test.tsx
  packages/utilities/src/safeRequestAnimationFrame.test.tsx
  packages/utilities/src/safeSetTimeout.test.tsx
  packages/utilities/src/setFocusVisibility.test.tsx
  packages/utilities/src/styled.test.tsx
  packages/utilities/src/useFocusRects.test.tsx
Labels: Fluent UI react (v8), React 18

#34334 fix(react-charting): set button role for event labels in line chart
  change/@fluentui-react-charting-742b0fc0-7183-487c-ae50-b76bd8270a6d.json
  packages/charts/react-charting/src/components/LineChart/eventAnnotation/LabelLink.tsx
Labels: Package: charting

#34339 fix(r18-tests-v8): add all dependencies to properly run type-check:integration target agains public API within stories
  apps/react-18-tests-v8/package.json
Labels: Area: Typescript, Fluent UI react (v8), React 18

#34342 chore: update codeowner for react-button
  .github/CODEOWNERS
Labels: Component: Button, CI

#34318 feat(react-18-tests-v8): setup test:integration to run jest test against r18
  .github/workflows/pr.yml
  apps/react-18-tests-v8/.eslintrc.json
  apps/react-18-tests-v8/config/tests.js
  apps/react-18-tests-v8/jest-react-18.config.js
  apps/react-18-tests-v8/jest.config.js
  apps/react-18-tests-v8/package.json
  apps/react-18-tests-v8/project.json
  apps/react-18-tests-v8/src/components/ContextualMenu/ContextualMenuExample.test.tsx
  apps/react-18-tests-v9/jest.config.js
  apps/react-18-tests-v9/package.json
  apps/react-19-tests-v9/jest.config.js
  apps/react-19-tests-v9/package.json
  yarn.lock
Labels: Area: Testing, Fluent UI react (v8), React 18, CI, NX: core

#34344 feat(web-components): add endpoint for F2 token exports
  change/@fluentui-web-components-90fcfd91-50b7-4219-8f26-726a1976519b.json
  packages/web-components/package.json
Labels: web-components

#34308 refactor: migrate enzyme tests to testing-library
  packages/react/src/components/Autofill/Autofill.test.tsx
  packages/react/src/components/CommandBar/CommandBar.deprecated.test.tsx
  packages/react/src/components/CommandBar/__snapshots__/CommandBar.deprecated.test.tsx.snap
  packages/react/src/components/DatePicker/DatePicker.test.tsx
  packages/react/src/components/KeytipData/useKeytipData.test.tsx
  packages/react/src/components/KeytipLayer/KeytipLayer.test.tsx
  packages/react/src/components/Pivot/Pivot.test.tsx
  packages/react/src/components/TextField/MaskedTextField/MaskedTextField.test.tsx
  packages/react/src/components/TimePicker/TimePicker.test.tsx
Labels: Area: Testing, Fluent UI react (v8), React 18
