Repository microsoft/fluentui, pull requests merged in 2025-06, with the labels that each got.

#34571 fix: react 18 type issues for v9 packages
  apps/react-19-tests-v9/package.json
  change/@fluentui-react-storybook-addon-348bdd9c-aa23-45d7-952f-ac91046d96e3.json
  change/@fluentui-react-table-faff1be9-1800-4591-857d-55b1220225bb.json
  change/@fluentui-react-toast-4b9f2bc5-cf17-482b-81da-1e011298bf2c.json
  packages/react-components/react-accordion/library/src/components/AccordionHeader/useAccordionHeader.test.tsx
  packages/react-components/react-accordion/library/src/components/AccordionPanel/AccordionPanel.test.tsx
  packages/react-components/react-aria/library/src/AriaLiveAnnouncer/useAriaLiveAnnouncer.test.tsx
  packages/react-components/react-avatar/library/src/components/AvatarGroupItem/AvatarGroupItem.test.tsx
  packages/react-components/react-breadcrumb/stories/src/Breadcrumb/index.stories.tsx
  packages/react-components/react-combobox/library/src/components/Dropdown/Dropdown.cy.tsx
  packages/react-components/react-context-selector/src/useContextSelector.test.tsx
  packages/react-components/react-context-selector/src/useHasParentContext.test.tsx
  packages/react-components/react-drawer/library/src/components/OverlayDrawer/OverlayDrawer.cy.tsx
  packages/react-components/react-list/library/src/components/List/List.cy.tsx
  packages/react-components/react-motion/library/src/factories/createPresenceComponent.test.tsx
  packages/react-components/react-motion/library/src/hooks/useIsReducedMotion.test.tsx
  packages/react-components/react-nav-preview/library/src/components/NavSubItemGroup/NavSubItemGroup.test.tsx
  packages/react-components/react-overflow/library/src/useOverflowItem.test.tsx
  packages/react-components/react-portal-compat/src/PortalCompatProvider.test.tsx
  packages/react-components/react-portal/library/src/components/Portal/usePortalMountNode.test.tsx
  packages/react-components/react-provider/library/src/components/FluentProvider/useFluentProvider.test.tsx
  packages/react-components/react-provider/stories/src/Provider/FluentProviderFrame.stories.tsx
  packages/react-components/react-storybook-addon/src/decorators/withFluentProvider.tsx
  packages/react-components/react-table/library/src/components/DataGridRow/DataGridRow.test.tsx
  packages/react-components/react-tabster/src/hooks/useFocusVisible.test.tsx
  packages/react-components/react-tag-picker/library/src/components/TagPickerGroup/TagPickerGroup.test.tsx
  packages/react-components/react-tag-picker/library/src/components/TagPickerList/TagPickerList.test.tsx
  packages/react-components/react-tags/library/src/components/Tag/useTag.test.tsx
  packages/react-components/react-toast/library/src/components/AriaLive/AriaLive.types.ts
  packages/react-components/react-tree/library/src/components/TreeItemLayout/TreeItemLayout.test.tsx
  packages/react-components/react-tree/library/src/components/TreeItemPersonaLayout/TreeItemPersonaLayout.test.tsx
  packages/react-components/react-tree/stories/src/Tree/TreeActions.stories.tsx
  packages/react-components/react-tree/stories/src/Tree/TreeNavigationModeTreeGrid.stories.tsx
  packages/react-components/react-utilities/src/hooks/useId.test.tsx
  packages/react-components/react-utilities/src/trigger/applyTriggerPropsToChildren.test.tsx
  packages/react-components/react-utilities/src/trigger/getTriggerChild.test.tsx
  packages/react-components/recipes/src/recipes/media-object/code-snippets/MediaObject.tsx
  packages/react-components/recipes/src/templates/Example.tsx
Labels: Fluent UI react-components (v9), React 18

#34552 feat(charts): add support for string y-axis in VSBC
  change/@fluentui-chart-utilities-3c1331cb-5118-4675-8a56-f1899e308701.json
  change/@fluentui-react-charting-e0b8741f-f81b-4328-9672-0ddc3267a6a2.json
  packages/charts/chart-utilities/etc/chart-utilities.api.md
  packages/charts/chart-utilities/src/PlotlySchemaConverter.ts
  packages/charts/chart-utilities/src/index.ts
  packages/charts/react-charting/etc/react-charting.api.md
  packages/charts/react-charting/src/components/CommonComponents/CartesianChart.base.tsx
  packages/charts/react-charting/src/components/CommonComponents/CartesianChart.types.ts
  packages/charts/react-charting/src/components/DeclarativeChart/DeclarativeChart.tsx
  packages/charts/react-charting/src/components/DeclarativeChart/PlotlySchemaAdapter.ts
  packages/charts/react-charting/src/components/DeclarativeChart/__snapshots__/DeclarativeChartRTL.test.tsx.snap
  packages/charts/react-charting/src/components/DeclarativeChart/__snapshots__/PlotlySchemaAdapterUT.test.tsx.snap
  packages/charts/react-charting/src/components/HeatMapChart/__snapshots__/HeatMapChartRTL.test.tsx.snap
  packages/charts/react-charting/src/components/HorizontalBarChartWithAxis/__snapshots__/HorizontalBarChartWithAxisRTL.test.tsx.snap
  packages/charts/react-charting/src/components/VerticalStackedBarChart/VerticalStackedBarChart.base.tsx
  packages/charts/react-charting/src/components/VerticalStackedBarChart/VerticalStackedBarChart.types.ts
  packages/charts/react-charting/src/types/IDataPoint.ts
  packages/charts/react-charting/src/utilities/__snapshots__/UtilityUnitTests.test.ts.snap
  packages/charts/react-charting/src/utilities/utilities.ts
Labels: Package: charting

#34599 feat(public-docsite-v9): add official platform support docs including React Versions
  apps/public-docsite-v9/src/Concepts/ReactVersionSupport.stories.mdx
  apps/public-docsite-v9/src/Concepts/SupportedPlatforms.stories.mdx
Labels: Area: Website, Fluent UI react-components (v9), React 18

#33344 chore(react-tag-picker): ensure no toggle behaviour when re-selecting already selected data
  change/@fluentui-react-tag-picker-7980ff9b-a205-4ac9-a45d-b3043836e532.json
  packages/react-components/react-tag-picker/library/src/components/TagPicker/useTagPicker.ts
Labels: Component: TagPicker

#34622 docs: fix incorrect urls in our docsite and stories
  apps/public-docsite-v9/src/AccessibilityScenarios/utils.tsx
  apps/public-docsite-v9/src/Concepts/Accessibility/AccessibleComponents.stories.mdx
  apps/public-docsite-v9/src/Concepts/BuildTimeStyles.stories.mdx
  apps/public-docsite-v9/src/Concepts/Migration/FromV0/Components/Avatar.stories.mdx
  apps/public-docsite-v9/src/Concepts/Migration/FromV0/Components/Box.stories.mdx
  apps/public-docsite-v9/src/Concepts/Migration/FromV0/Components/Button.stories.mdx
  apps/public-docsite-v9/src/Concepts/Migration/FromV0/Components/Card/Card.stories.mdx
  apps/public-docsite-v9/src/Concepts/Migration/FromV0/Components/Card/CardFooter.stories.mdx
  apps/public-docsite-v9/src/Concepts/Migration/FromV0/Components/Card/CardHeader.stories.mdx
  apps/public-docsite-v9/src/Concepts/Migration/FromV0/Components/Card/CardPreview.stories.mdx
  apps/public-docsite-v9/src/Concepts/Migration/FromV0/Components/Divider.stories.mdx
  apps/public-docsite-v9/src/Concepts/Migration/FromV0/Components/Flex.stories.mdx
  apps/public-docsite-v9/src/Concepts/Migration/FromV0/Components/FlexItem.stories.mdx
  apps/public-docsite-v9/src/Concepts/Migration/FromV0/Components/Grid.stories.mdx
  apps/public-docsite-v9/src/Concepts/Migration/FromV0/Components/Header.stories.mdx
  apps/public-docsite-v9/src/Concepts/Migration/FromV0/Components/Image.stories.mdx
  apps/public-docsite-v9/src/Concepts/Migration/FromV0/Components/ItemLayout.stories.mdx
  apps/public-docsite-v9/src/Concepts/Migration/FromV0/Components/Loader.stories.mdx
  apps/public-docsite-v9/src/Concepts/Migration/FromV0/Components/Menu.stories.mdx
  apps/public-docsite-v9/src/Concepts/Migration/FromV0/Components/Popup.stories.mdx
  apps/public-docsite-v9/src/Concepts/Migration/FromV0/Components/Segment.stories.mdx
  apps/public-docsite-v9/src/Concepts/Migration/FromV0/Components/Slider.stories.mdx
  apps/public-docsite-v9/src/Concepts/Migration/FromV0/Components/SplitButton.stories.mdx
  apps/public-docsite-v9/src/Concepts/Migration/FromV0/Components/TabList.stories.mdx
  apps/public-docsite-v9/src/Concepts/Migration/FromV0/Components/Text.stories.mdx
  apps/public-docsite-v9/src/Concepts/Migration/FromV0/Components/Toolbar.stories.mdx
  apps/public-docsite-v9/src/Concepts/Migration/FromV0/Components/Tooltip.stories.mdx
  apps/public-docsite-v9/src/Concepts/Migration/FromV0/Icons.stories.mdx
  apps/public-docsite-v9/src/Concepts/Migration/FromV0/migrate-styles.stories.mdx
  apps/public-docsite-v9/src/Concepts/Migration/FromV8/ComponentMapping.stories.mdx
  apps/public-docsite-v9/src/Concepts/Migration/FromV8/Troubleshooting.stories.mdx
  apps/public-docsite-v9/src/Concepts/Migration/GettingStarted.stories.mdx
  apps/public-docsite-v9/src/Concepts/Migration/HandlingBreakingChanges.stories.mdx
  apps/public-docsite-v9/src/Concepts/Migration/KeepingDesignConsistent.stories.mdx
  apps/public-docsite-v9/src/Concepts/StylingComponents.stories.mdx
  apps/public-docsite-v9/src/Concepts/Theming.stories.mdx
  apps/public-docsite-v9/src/DocsComponents/ReactIconGrid.stories.tsx
  apps/public-docsite-v9/src/Icons/IconsDescription.md
  change/@fluentui-react-migration-v8-v9-f5ea0b95-f1a1-4500-a63e-decf6062be7f.json
  change/@fluentui-react-spinbutton-05361d01-b9bc-4d24-ab6c-0d7338dcdea3.json
  docs/react-v9/contributing/rfcs/react-components/convergence/extended-design-tokens.md
  docs/react-v9/contributing/rfcs/react-components/convergence/slot-children-render-function.md
  docs/react-wiki-archive/Fluent-UI-React-v9-Release.md
  docs/react-wiki-archive/References/Browser-Support.md
  packages/fluentui/README.md
  packages/react-components/react-avatar/library/docs/SPEC-AvatarGroup.md
  packages/react-components/react-field/stories/src/Field/FieldInfo.stories.tsx
  packages/react-components/react-infolabel/stories/src/InfoLabel/InfoLabelInField.stories.tsx
  packages/react-components/react-menu/stories/src/Menu/MenuDescription.md
  packages/react-components/react-migration-v8-v9/library/src/components/Checkbox/shimCheckboxProps.ts
  packages/react-components/react-spinbutton/library/README.md
  packages/react-components/react-text/stories/src/Text/TextPresets.md
  packages/react-components/react-toolbar/stories/src/Toolbar/ToolbarOverflow.stories.tsx
  packages/react-components/recipes/src/recipes/media-object/MediaObject.stories.mdx
Labels: Area: Documentation, Area: Website, Type: RFC

#34674 refactor: use css attr func to calculate progress bar width when supp…
  change/@fluentui-web-components-bd1db6ad-f93e-47c2-b55c-4965edcbfb5d.json
  packages/web-components/docs/web-components.api.md
  packages/web-components/src/progress-bar/progress-bar.base.ts
  packages/web-components/src/progress-bar/progress-bar.spec.ts
  packages/web-components/src/progress-bar/progress-bar.styles.ts
  packages/web-components/src/progress-bar/progress-bar.template.ts
  packages/web-components/src/progress-bar/progress-bar.ts
Labels: web-components

#34684 fix: progress bar when value is missing in firefox and safari
  change/@fluentui-web-components-0a49c8c8-8b69-4f58-9b89-0a49aa649199.json
  packages/web-components/src/progress-bar/progress-bar.base.ts
  packages/web-components/src/progress-bar/progress-bar.spec.ts
Labels: web-components

#34680 fix(react-charting): correct bar height rendering for values less than 1 in VSBC
  change/@fluentui-react-charting-b78e126b-c353-4fdc-a92f-42ceb011bee9.json
  packages/charts/react-charting/src/components/VerticalStackedBarChart/VerticalStackedBarChart.base.tsx
  packages/charts/react-charting/src/components/VerticalStackedBarChart/__snapshots__/VerticalStackedBarChartRTL.test.tsx.snap
Labels: Package: charting

#34666 feat(react-charting): enable wrapping of string x-axis labels in DeclarativeChart + hide overlapping labels based on post-transform width
  change/@fluentui-react-charting-3c0c3199-d1a2-44b6-8a94-0f3baafd13ea.json
  packages/charts/react-charting/src/components/CommonComponents/CartesianChart.base.tsx
  packages/charts/react-charting/src/components/DeclarativeChart/PlotlySchemaAdapter.ts
  packages/charts/react-charting/src/components/DeclarativeChart/__snapshots__/DeclarativeChartRTL.test.tsx.snap
  packages/charts/react-charting/src/components/DeclarativeChart/__snapshots__/PlotlySchemaAdapterUT.test.tsx.snap
  packages/charts/react-charting/src/components/GroupedVerticalBarChart/GroupedVerticalBarChart.base.tsx
  packages/charts/react-charting/src/components/VerticalBarChart/VerticalBarChart.base.tsx
  packages/charts/react-charting/src/components/VerticalStackedBarChart/VerticalStackedBarChart.base.tsx
  packages/charts/react-charting/src/components/VerticalStackedBarChart/__snapshots__/VerticalStackedBarChartRTL.test.tsx.snap
  packages/charts/react-charting/src/utilities/UtilityUnitTests.test.ts
  packages/charts/react-charting/src/utilities/__snapshots__/UtilityUnitTests.test.ts.snap
  packages/charts/react-charting/src/utilities/utilities.ts
  packages/charts/react-charting/src/utilities/vbc-utils.ts
Labels: Package: charting

#34632 feat(react-nav): add motion to components
  change/@fluentui-react-nav-1d4f6785-133a-496d-adb4-f98707088ff9.json
  packages/react-components/react-nav/library/etc/react-nav.api.md
  packages/react-components/react-nav/library/src/components/NavCategoryItem/NavCategoryItem.types.ts
  packages/react-components/react-nav/library/src/components/NavCategoryItem/renderNavCategoryItem.tsx
  packages/react-components/react-nav/library/src/components/NavCategoryItem/useNavCategoryItem.styles.ts
  packages/react-components/react-nav/library/src/components/NavCategoryItem/useNavCategoryItem.tsx
  packages/react-components/react-nav/library/src/components/NavSubItem/useNavSubItemStyles.styles.ts
  packages/react-components/react-nav/library/src/components/NavSubItemGroup/NavSubItemGroup.types.ts
  packages/react-components/react-nav/library/src/components/NavSubItemGroup/renderNavSubItemGroup.tsx
  packages/react-components/react-nav/library/src/components/NavSubItemGroup/useNavSubItemGroup.ts
  packages/react-components/react-nav/library/src/components/NavSubItemGroup/useNavSubItemGroupStyles.styles.ts
  packages/react-components/react-nav/library/src/components/useNavContextValues.tsx
  packages/react-components/react-nav/stories/src/NavDrawer/Controlled.stories.tsx
Labels: Type: Feature, Component: Nav

#34529 chore: Configure copilot setup workflow to use in copilot agent
  .github/workflows/copilot-setup-steps.yml
Labels: CI
